[2019-03-26 14:36] bshastry opened #6387 "Implement code generation routines for break/continue statements"
## Abstract

This is a blocker for fuzz testing optimization routines for the newly introduced break/continue statements inside for loop bodies (#6136 and #6315 ).

## Motivation

The problem seems to that the Stack compressor depends on the Code Transformer that does not yet support break/continue statements and signals this by throwing an assertion.

[2019-03-26 14:48] chriseth commented on #6266
We can also forcibly activate ABIEncoderV2 in all external tests.

[2019-03-26 15:33] #3586 closed, assigned to nobody

[2019-03-26 18:44] mrwillis opened #6392 "Upgrading from 0.5.2 -> 0.5.5+ causes "InternalCompilerError: Stack too deep when compiling inline assembly: Variable value0 is 1 slot(s) too deep inside the stack.""
## Description

I seem to get an error compiling my contracts. When upgrading to 0.5.5+ I get

No information other than that. On 0.5.4 I get the error in https://github.com/ethereum/solidity/issues/5997

On 0.5.2 I can compile fine.

The only assembly I have in my code is (openzeppelin ECDSA.sol)

[code]

and

[code]

[2019-03-26 19:02] chriseth commented on #6392
Can you provide a complete source file that triggers the error? This looks like the source of the error is inside the ABI encoder. It might also that Solidity 0.5.7 fixes your issue, it includes a change to the stack allocation inside the optimizer.

[2019-03-26 19:03] mrwillis commented on #6392
`0.5.7` causes the issue as well. Let me get that for you.

[2019-03-26 22:02] chriseth commented on #6252
We might need a generic expression structure, for example if we have code like the following:
[code]

[2019-03-26 22:16] chriseth commented on #6252
Hm, the above might actually not be a problem, since we can add the constraints `x + 10 <= y <= x + 10`, without evaluating it. The point where we make use of the constraint is where we have to check that it will not cause overflow.

[2019-03-27 09:32] chriseth commented on #6216
You are right that passing by `const&` does not cause a copy when calling the function, but if the function consumes the argument, it has to copy it somewhere, and this is where the copy occurs. If you pass by value instead, it can result in a copy and a move in the worst case, but it two moves in the good case, and this is what we aim for. The article you cite is probably outdated.

You might be

[2019-03-27 10:25] Marenz commented on #5803
Here is one of the random IPC errors with the extended error info: https://circleci.com/gh/ethereum/solidity/102266

[2019-03-27 10:27] bshastry opened #6395 "yulInterpreter: Implement a timeout for programs without side-effects to deal with long/infinite loops"
## Abstract

The yulInterpreter should be able to bail out if it encounters a program like this

[code]

## Motivation

There is a "timeout" at the moment, but it is based on the trace size, which assumes that every program has a side-effect. In addition to a trace-based timeout, it would be nice to have a timeout based on the number of interpreted steps.

Each operation on the interpreter counts

[2019-03-27 10:38] #6352 closed, assigned to bshastry

[2019-03-27 13:07] cdetrio commented on #681
(copying from a comment on the PR): the "high s" problem, and why the ecrecover precompile behavior was left unchanged when high s became invalid for transactions, is discussed in the Homestead EIP http://eips.ethereum.org/EIPS/eip-2.

[2019-03-27 13:27] ChrisChinchilla commented on #5894
@jooray If you don't know, you likely haven't changed anything, in which case I am not sure what the problem is. It could be specific to your processor or OS version, but it's hard for me to test that.

I am 10.14.4 (18E226), 3.5 GHz Intel Core i7

[2019-03-27 13:34] #6395 closed, assigned to bshastry

[2019-03-27 15:07] leonardoalt opened #6399 "[SMTChecker] Support inheritance"
This includes
- `visit(ContractDefinition)` should also visit all public functions of base contracts that are not overridden;
- calls to functions from base classes that are not overridden should be inlined
- since the SMTChecker simulates execution paths, there's no need to start from internal functions.
- visit state vars of base contracts #6562

Hint: check function `resolveVirtualFunction`

[2019-03-27 15:15] chriseth commented on #6399
Test case:
[code]

[2019-03-27 15:19] leonardoalt commented on #5191
Calls to functions to other contracts (not `this`) should not be inlined even if their implementation is available, since we can't guarantee that the deployed contract was indeed that one.

[2019-03-27 15:19] #5191 closed, assigned to nobody

[2019-03-27 15:20] leonardoalt opened #6400 "[SMTChecker] Inline external function calls to this"
Inlining general external function calls is not safe, but for `this.` it is. Those can therefore be inlined.

[2019-03-27 15:22] leonardoalt commented on #6033
Moving on to implement this directly in the SMTChecker.

[2019-03-27 15:22] #6033 closed, assigned to nobody

[2019-03-27 15:22] leonardoalt opened #6401 "[SMTChecker] Support unary increment/decrement for IndexAccess"

[2019-03-27 15:23] leonardoalt commented on #6031
Moving on to implement this directly in the SMTChecker.

[2019-03-27 15:23] #6031 closed, assigned to nobody

[2019-03-27 15:23] leonardoalt commented on #6032
Moving on to implement these directly in the SMTChecker.

[2019-03-27 15:23] #6032 closed, assigned to nobody

[2019-03-27 15:35] jooray commented on #5894
I am on 10.14.3 (18D109), 2.7 GHz Intel Core i7
Updating to 10.14.4 now, but I don't think it will help.

[2019-03-27 16:15] jooray commented on #5894
Same after upgrade to 10.14.4

[2019-03-28 01:54] axic commented on #1756
I think this feature is obsolete now, but it should still be possible to generate that from the `Assembly` object if needed.

[2019-03-28 09:47] #1756 closed, assigned to nobody

[2019-03-28 10:26] #6169 closed, assigned to erak

[2019-03-28 10:41] norhh opened #6406 "Question regarding solc mapping"
## Description
There were some instances where solc mapping is mapped to the entire code. Whats the difference between that and the code with file mapping pointed to -1?

[2019-03-28 11:58] chriseth commented on #6406
The compiler uses internal code at some places - this is where the `-1` is used: When we know the position in the file but do not know the file itself.

[2019-03-28 12:43] norhh commented on #6406
great! thanks for the help.

[2019-03-28 12:43] #6406 closed, assigned to nobody

[2019-03-28 13:48] #4576 closed, assigned to christianparpart

[2019-03-28 14:04] leonardoalt opened #6411 "[SMTChecker] Remove potential nondeterminism in mergeVariables"
The set should be sorted by AST id to be safe against nondeterminism.

[2019-03-28 14:25] chriseth commented on #6411
Perhaps it is not too important since it does not cause nondeterminism in the code generation.

[2019-03-28 16:35] #3711 closed, assigned to nobody

[2019-03-28 17:27] #6006 closed, assigned to nobody

[2019-03-29 07:33] ChrisChinchilla commented on #5894
If you don't know, you likely haven't.

Then I'm stumped sorry, unless it's a cpu related issue. Or there's
something else you have installed affecting things that I don't know to ask
about.

Does building f I'm source work for you?

On Wed., 27 Mar. 2019, 17:15 Juraj Bednar, <notifications@github.com> wrote:

[2019-03-29 16:29] mrwillis commented on #6392
Having some trouble tracking this down as my project is pretty big with lots of inter-dependencies. Is there a way to enable debugging to at least track down the file and then go from there?

[2019-03-29 21:38] leonardoalt commented on #4566
Fixed by #6006

[2019-03-29 21:38] #4566 closed, assigned to nobody

[2019-03-29 22:15] leonardoalt opened #6418 "[SMTChecker] Show unsupported warning for assembly blocks"

[2019-03-29 22:16] leonardoalt commented on #4537
Fixed by #6006
Created #6418 to track unsupported assembly blocks

[2019-03-29 22:16] #4537 closed, assigned to nobody

[2019-03-29 22:25] leonardoalt commented on #4564
Fixed by #6006

[2019-03-29 22:25] #4564 closed, assigned to nobody

[2019-03-31 16:25] Alirun opened #6419 "ABIEncoderV2"
## Description

## Environment

- Compiler version:
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduce

[2019-03-31 16:26] #6419 closed, assigned to nobody

[2019-03-31 16:47] Alirun opened #6420 "ABIEncoderV2: wrong function signature in libraries"
## Description

Function signatures in libraries public functions with structs in arguments are calculated in wrong way.

Probably somehow related to #6001 , which seems to be fixed already.
And also probably somehow related to #3400 , but author didn't provided enough information to finally solve this issue and it was closed.

## Steps to Reproduce
If you write a code in this way

[code]
You expe

[2019-03-31 19:05] nweller commented on #6376
Thanks for your interest in SOLTIX!

One major current issue is lack of geth / aleth support - we're only using truffle + ganache-cli for now. Maybe you have any pointers on getting them to work? The most convenient option would be to keep truffle and make it play with geth / aleth. Apparently @lrettig did it successfully with aleth a while ago, but as far as I can tell, there are no published scr

[2019-04-01 08:16] chriseth commented on #6420
As libraries are (or at least were) an internal construct of Solidity, their functions are not meant to be called "from outside". This allowed us to introduce the concept of (especially storage) structs much earlier than for contract functions and just chose an internal representation for computing the function signature.

For pure functions, it does make sense to call library functions, so we mig

[2019-04-01 08:17] chriseth commented on #6420
One option to allow this in a backwards-compatible manner is to allow both signatures (old style and new style) to lead to the same function.

[2019-04-01 08:20] ekpyron commented on #6420
Allowing both signatures for now sounds reasonable, yes.

[2019-04-01 10:06] Marenz commented on #6286
duplicate of https://github.com/ethereum/solidity/issues/4262

[2019-04-01 10:48] ChrisChinchilla commented on #4913
OK, looked through docs and I think this is covered enough.

[2019-04-01 10:48] Marenz commented on #6286
Not exactly a duplicate as the motivation for this issue were optimizer tests

[2019-04-01 14:41] chriseth opened #6432 "Refactor interactive tests"
Many interactive tests share common functionality and functionslike `printIndented`. They should be pulled into a common base class.

Also, a "simple" interactive test that just has an input and an output (and comparison is string comparison) could profit from a simple combined base class.

[2019-04-01 15:33] chriseth commented on #6392
One of your functions has too many parameters or too many return values. I assume you are using ABIEncoderV2. The ABIEncoderV2 code was not meant to be used without yul optimizer, so if you enable that one (which could be quite risky, I have to admit), you could get your code to compile.

[2019-04-01 16:12] #6328 closed, assigned to Marenz

[2019-04-01 19:35] leonardoalt commented on #2095
The stack too deep issue is currently not a bug, but a limitation of the architecture. This won't change until the new code generator is written.
Closing as discussed in https://github.com/ethereum/solidity/pull/6363

[2019-04-01 19:35] #2095 closed, assigned to Marenz

[2019-04-01 21:51] BrendanChou opened #6435 "Incorrect topic[0] hash for Library events that use a contract's name instead of address type"
Probably related to #6001

## Description
When hashing for the topic[0] of an event, solidity uses the name of the contract rather than `address`

## Environment
Compiler version: 0.5.7 stable
Framework/IDE: Truffle
Steps to Reproduce
Given:
[code]
`Loggy` has a `topic[0]` of: `keccak256("Loggy(uint256,AnotherContract)")`
but it should be: `keccak256("Loggy(uint256,address)")`

**The abi seems to

[2019-04-02 02:44] Troublor opened #6436 "Build from source error: ‘mod’ is not a member of ‘z3’"
## Description
I tried to build solidity from source code with the latest version. I followed the instructions in [Solidity Documentation](https://solidity.readthedocs.io/en/latest/installing-solidity.html#building-from-source), but I ran into an error when execute: `cmake .. && make`. The cmake error is as follows:
[code]

My Z3 version is 4.8.0 - 64 bit and I'm using Ubuntu 18.04
I also tried to

[2019-04-02 08:42] leonardoalt commented on #6436
That is weird. If `cmake` said it found Z3 than the version should be correct. I also have 4.8.0 - 64 bit on Linux.
I'm guessing you installed Z3 4.8.0 manually, since Ubuntu still distributes Z3 4.4.
Can you please open `CMakeCache.txt` and check variables `Z3_EXECUTABLE`, `Z3_INCLUDE_DIR` and `Z3_LIBRARY`? It could be that you have multiple versions installed and there's some confusion going on

[2019-04-02 09:04] bshastry opened #6438 "Fuzz ABIencoderv2"
Depends on
  - #6743

CC @axic @chriseth @cdetrio @holiman @ekpyron

[2019-04-02 09:30] bshastry commented on #6165
This is marked for today's release, any ideas how to proceed? Is this a matter of simply avoiding the assertion for certain builtins that are unsupported in the yulInterpreter or adding support for them?

[2019-04-02 09:40] bshastry opened #6439 "Strict assembly differential fuzzer uses hard coded EVM version"
We should be using `langutil::EVMVersion()`

https://github.com/ethereum/solidity/blob/e894e0b967c98ea126943bb5491b79d702538520/liblangutil/EVMVersion.h#L40

instead that defaults to the current EVM version instead of hard coding and updating it with every new EVM fork.

[2019-04-02 10:10] #6439 closed, assigned to bshastry

[2019-04-02 10:35] Troublor commented on #6436
@leonardoalt Thanks for your help!
I did install Z3 4.8.0 manually. Z3_INCLUDE_DIR does have a problem. After I move head files in `z3/include` to `/usr/include`, it works. Thank you.
[code]

[2019-04-02 11:05] leonardoalt opened #6443 "[SMTChecker] Support mod"

[2019-04-02 11:23] ekpyron opened #6444 "Silently skipping struct members in storage-memory copies might lead to confusing results."
Consider the following contract:
[code]
It compiles without warning and returns ``0``, although it very much looks like it should return ``23``.

The reason is that ``mapping``s cannot "live outside storage" and are thus silently ignored while copying the struct. Accessing ``mapping``s in memory structs causes an error. However, assigning back to a storage struct works and again silently skips the

[2019-04-02 11:36] ekpyron commented on #6444
Current tendency seems to be disallowing mappings (resp. types that can't live outside storage) in memory structs altogether. The subset of the struct that is copied now could still be manually copied member by member instead.

[2019-04-02 11:39] ekpyron commented on #6444
Related to or might even be fixed by #6282.

[2019-04-02 12:28] chriseth commented on #6435
Might need an entry in the bug list.

[2019-04-02 12:57] bshastry commented on #6438
@cdetrio I don't have access to the `go-vm-fuzzing` git repo that the ABIencoderv2 fuzzer that you shared depends on (log below)

[code]

[2019-04-02 13:29] frangio commented on #6251
@chriseth Do you think this is a good idea? How hard would it be to implement it?

[2019-04-02 13:59] chriseth commented on #6251
Yes, I think it is a good idea. Currently, we do not yet have such options for the compiler in place. As a similar option, we might want to remove asserts that are proven to be true or all asserts from the code.

As far as the implementation is concerned: It would probably go as an option to the standard compiler (we already have the "options" json) and then be distributed in a similar way as the

[2019-04-02 14:06] bshastry opened #6446 "[Yul] Scope Filler: namesake variable and function fail assertion inside closeScope"
## Description

In

[code]

At the time, the yul Interpreter encounters the close scope `}` of `f()`, it sees both a variable and a function named "g" that are in scope and deletes them both tripping this assertion

https://github.com/ethereum/solidity/blob/7c880a26c021fa949f400c9ce5b02a05756bc2a7/test/tools/yulInterpreter/Interpreter.cpp#L176

because `erased == 2`

[2019-04-02 15:33] chriseth commented on #3463
@axic I'm not sure what this is about.

[2019-04-02 15:37] chriseth commented on #1823
Closing since non-strict assembly will be phased out soon.

[2019-04-02 15:37] #1823 closed, assigned to nobody

[2019-04-02 15:42] chriseth opened #6449 "[Yul] Optimizer: Remove unused function parameters"
If a parameter is not used in a function, it can be removed. The same is true for return variables.

Call sites have to be modified accordingly, which will be much simpler if the code is in SSA form prior to this step. Note that we cannot assume SSA form for one specific edge case: If the function is used as the condition of a for loop. If the function's return variable turns out to be unused, we

[2019-04-02 15:44] chriseth opened #6450 "[Yul] Optimizer: Instead of inlining, try to optimize function in isolation"
If a function is called with a constant argument, instead of inlining it, it might be better to create a copy of the function where the parameter is set to a constant and the optimizing this function in isolation (which might lead to recursive calls...). If the resulting function is small enough, keep it, otherwise discard it.

[2019-04-02 16:15] chriseth commented on #6446
This is a bug in the ScopeFiller where it allows shadowing although it should not be legal.
In `ScopeFiller::operator()(Block const&`, it should first register all functions and only actually visit them later.

[2019-04-02 16:30] chriseth commented on #6446
Will fix it.

[2019-04-03 03:05] fty48jj19 commented on #4537
ok

[2019-04-03 03:07] fty48jj19 commented on #6418
obrigado meu amigo pela colaboraçao ,

[2019-04-03 08:17] chriseth opened #6451 "Libraries should not be able to call their own functions externally"
... because it is impossible to properly link them.

The following code should not compile:
[code]

Reported by @haltman-at

[2019-04-03 08:20] #6374 closed, assigned to ekpyron

[2019-04-03 08:29] MicahZoltu opened #6452 "msg.sender, tx.origin and address literals should not be payable."
Currently, `msg.sender` is considered an `address payable` by the Solidity compiler.  However, there is no guarantee that `msg.sender` is `payable` at all, and in fact for a lot of cross-contract calls it is explicitly not payable.  Because the compiler cannot guarantee that `msg.sender` is `payable`, I believe the correct course of action is to mark `msg.sender` as `address` and require the devel

[2019-04-03 08:41] ekpyron commented on #6452
You're making a good point. As a side remark: You are aware that there is a workaround for converting ``address`` to ``address payable``? You can use ``address x; address payable y = address(uint160(x));`` - we might want to think about adding a smoother way to do this, though.

Apart from that (and given that such an explicit conversion is in fact possible) I think you're right and we should defi

[2019-04-03 08:47] MicahZoltu commented on #6452
Yeah, I'm familiar with routing through `uint16`.  I feel like the developer shouldn't have to try to trick the compiler into letting it do something that the compiler should recognize is a distinct possibility.  It is similar to how if you have a `Cat` class that derives from an `Animal` class, the compiler may know you have an `Animal` and it will refuse to implicitly cast it into a `Cat` but it

[2019-04-03 09:03] #5829 closed, assigned to bshastry

[2019-04-03 09:14] ekpyron commented on #6452
The main reason for not allowing casts like ``address payable(x);`` is that two-keyword casts look kind of awkward (and would slightly complicate parsing). I wouldn't necessarily think of casting via ``uint160`` as "tricking the compiler", but yeah - maybe you're right and we should think of a nicer way for the explicit cast :-).

[2019-04-03 09:36] chriseth commented on #6452
The main reason for making `msg.sender` payable is that it simplifies the withdrawal pattern. I think we should find a good solution for the withdrawal pattern first before making this change.

For the explicit cast: Perhaps `payable(x)` would be fine already?

[2019-04-03 09:45] MicahZoltu commented on #6452
@chriseth Assuming `payable(x)` works for an explicit cast, what is the problem with the withdraw pattern?
[code]

In this example, the author is explicitly telling the compiler:

[2019-04-03 10:10] ekpyron commented on #6214
I wonder if there is a nice general "normal form" for shifting and masking that can express all ``and``s, ``shl``s and ``shr``s, such that two of these "normal form" operations can always be easily combined to one...

Then we could always use that form and only replace it with its simplest representation using ``and``/``shl``/``shr`` as a very last step... I think that might be cleaner and more st

[2019-04-03 10:25] ekpyron commented on #6214
"rotate right and mask" would probably work... two of those could probably be combined by adding the rotation amount (modulo 256) and ``and``-ing the mask of one with the rotated mask of the other...
Not sure it's a good direction to go, though.

[2019-04-03 10:38] bshastry opened #6455 "yul proto spec: Add calldata/returndata/extcode/code opcodes"
## Abstract

The yul proto spec does not define the following opcodes yet

| opcode  | Description |
| ------------- | ------------- |
| calldataload(p)  |	call data starting from position p (32 bytes) |
| calldatasize	|	size of call data in bytes |
| calldatacopy(t, f, s) |	copy s bytes from calldata at position f to mem at position t |
| codesize	|	size of the code of the current contract / exec

[2019-04-03 10:39] ekpyron commented on #6214
For the sake of the argument (and not to be taken as 100% verified, but rather a quick draft):
``and(x,A) -> rorand(x,0,A)``
``and(A,x) -> rorand(x,0,A)``
``shl(A,x) -> rorand(x,256-A, not(2^A - 1))`` (given 1 <= A <= 255, otherwise: trivial shift)
``shr(A,x) -> rorand(x, A, 2^(256-A) - 1)`` (given 1 <= A <= 255, otherwise: trivial shift)
``rorand(rorand(x,A,B),C,D) -> rorand(x, (A + C) mod 256, a

[2019-04-03 11:07] chriseth commented on #6214
llvm turns expressions into a certain normal form ( https://llvm.org/docs/Passes.html ):

1. If a binary operator has a constant operand, it is moved to the right-hand side.

2. Bitwise operators with constant operands are always grouped so that shifts are performed first, then ors, then ands, then xors.

We already do 1 and I think 2 might also be a good idea in general, not only for constant ope

[2019-04-03 11:08] ekpyron commented on #6214
In the example case of ``and(0xff, shr(0xf8, shl(0xf8, shr(0xf8, x))))``, this would look like:
[code]

[2019-04-03 12:14] rocky opened #6458 "Broken links running `make linkcheck`"
I just ran `make linkcheck` in ethereum/solidity/docs and I see these broken links:
*  `(line  159) broken   ` https://github.com/ethereum/wiki/wiki/JavaScript-API#contract-events `- Anchor 'contract-events' not found`
* `(line   22) broken  ` https://semver.org/#spec-item-4 `- Anchor 'spec-item-4' not found`
* `(line  214) broken  `  https://www.visualstudio.com/downloads/#build-tools-for-visual-

[2019-04-03 15:19] Marenz commented on #5803
The errors are apparently timing or performance issues related to aleth in some way.
The failure is always the `eth_getTransactionReceipt` method, receiving a result of `null` where it expects .. I suppose the transaction receipt.

With some work, this can be reproduced locally, by running `soltest` and `aleth`, but aleth has to be slowed down somehow, for example using `cpulimit`

The question is

[2019-04-03 15:28] bshastry opened #6460 "yul proto spec: Add support for var args functions and multi declaration/assignment"
This issue tracks support in the proto generator for
  - function definitions with variable signatures e.g., `f() -> x, y { ... }`
  - multiple variable declaration `let a, b := f()`
  - multiple variable assignment `a, b := f()`

[2019-04-03 16:15] Marenz commented on #5803
Further information: We call sendTransaction, then we call test_mineBlocks but sometimes the transaction is not yet processed at that point so it wouldn't be part of the mined block.

Ṕossbile workaround: check with https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_getblockbynumber whether the transaction is processed.

[2019-04-03 19:30] haltman-at commented on #6451
I should make a note here of what I said on Gitter, since there is another possibility here, that would allow such libraries to be usable, although I'll admit I don't know how feasible this solution is.

Currently, libraries already need to include their own address for the delegatecall guard.  This isn't handled by the linker obviously but rather by having the constructor write in the address whe

[2019-04-03 20:27] chriseth commented on #6452
@MicahZoltu indeed, it was a proposal on how to solve it.

[2019-04-03 20:28] chriseth commented on #6452
Oh but it would be
[code]

[2019-04-03 20:33] chriseth commented on #5803
Ah, finally a good lead! Well done! I would call the workaround a fix ;)
I think we have 1-2 tests that might rely on actual block numbers, but I think we can "risk" that.

[2019-04-03 20:51] sifmelcara commented on #6202
I started investigating this issue yesterday and would be glad to work on this. For some reason I cannot press "Express Interest" button on Gitcoin (it says "authentication failure")

Edit: Gitcoin keeps returning 500 and says "You must be authenticated via github to use this feature!
". I guess I will try to solve other issues instead :)

[2019-04-04 00:20] nanspro commented on #6202
Okay so the for loop initializing condition is set before the loop thanks to init rewriter, and the tools which doesn't consider this fact needs to be changed and this should be set as default that loops now have an empty pre block.
*Cloning* now to understand the codebase

[2019-04-04 02:42] MicahZoltu commented on #6452
Wow, totally screwed up my code snippet example.  Fixed above, though not using `.transfer` because no one should ever use `.transfer` or `.send`.  😉

[2019-04-04 05:50] fCorleone opened #6464 "Does the gas estimation tool make any consideration of refunding?"
## Description
Is the refunding mechanism supported by the gas estimation tool of solc?

[2019-04-04 06:45] MicahZoltu commented on #5657
Where is `--metadata-literal` documented?

I'm not a fan of the tight integration between Swarm and solc since Swarm is still alpha and hasn't received any active development that I have seen.  I would much rather see either integration with IPFS, or even better, if `solc` had a way to spit out an input-json with the source code inlined as its output, and running solc with that single file as inpu

[2019-04-04 08:23] ekpyron commented on #5803
It wouldn't even change the block numbers... it'd just mean polling one step earlier than we did for old aleth versions - i.e. we have to "wait/poll until aleth actually has packed all sent transactions in the pending block before telling it to mine it". So if this works, it's an actual fix, so let's hope it does :-).

[2019-04-04 08:25] ekpyron commented on #5803
(i.e. the idea was to use ``eth_getBlockByNumber`` for the ``pending`` block before even starting to mine, since at the moment aleth seems to start mining before having even queued all previously sent transactions)

[2019-04-04 08:58] chriseth commented on #5803
Oh yeah, that sounds even more like a fix :)

[2019-04-04 08:59] chriseth commented on #5803
Probably the delay due to the query round-trip will make it work already :)

[2019-04-04 08:59] chriseth commented on #6464
No, it does not consider refunding at all.

[2019-04-04 08:59] #6464 closed, assigned to nobody

[2019-04-04 09:00] Marenz commented on #5803
That's exactly what we thought as well :>

I was still hoping that aleth would provide some syncronous method we can use

[2019-04-04 09:13] #5844 closed, assigned to nobody

[2019-04-04 09:17] chriseth opened #6465 "Add tests for the cleanup function of ABIEncoderV2"
Since most of the old cleanup tests now result in a direct revert, the mechanism is not tested properly anymore.

[2019-04-04 09:25] ekpyron opened #6466 "Cleanup tests for ABIEncoderV2."
In #5815 most tests were changed from testing cleanup to testing validation, so we should add new tests for the cleanup.

[2019-04-04 09:33] chriseth commented on #6465
Closing as duplicate of https://github.com/ethereum/solidity/issues/6466

[2019-04-04 09:33] #6465 closed, assigned to ekpyron

[2019-04-04 09:45] #6401 closed, assigned to nobody

[2019-04-04 09:57] chriseth opened #6467 "SourceReferenceFormatter shortcut"
The following code block is used a lot all over the codebase:
[code]

There should be a shortcut for it in SourceReferenceFormatter.

[2019-04-04 10:17] bshastry opened #6468 "Fuzz yul optimizer's memory optimization"
## Abstract

(Depends on #6469 #6808 #6800 #6798 )

This issue tracks fuzzing support for an upcoming version of the yul optimizer that optimizes memory opcodes such as stores (mstore/sstore) and loads (mload/sload).

The main bottleneck is that the current fuzzing setup relies on an exact trace match pre and post optimization. This is no longer guaranteed when memory optimizations are enabled.

E

[2019-04-04 10:21] bshastry opened #6469 "[yul interpreter] Implement memory/storage representation with holes"
## Abstract

We use a vector to represent EVM memory/storage. Sparse memory stores blow up the size of the vector and make it's printing slow.

Example

[code]

resizes the vector to over 64 KB and stores a "1".

When we are printing the contents of memory (main use case being checking equivalence while fuzz testing), this becomes too slow.

## Motivation

TBD

## Specification

TBD

[2019-04-04 10:27] ahlamna commented on #6469
hi, i am new here

[2019-04-04 11:35] #6225 closed, assigned to bshastry

[2019-04-04 11:51] #6069 closed, assigned to nobody

[2019-04-04 12:51] #6265 closed, assigned to nobody

[2019-04-04 12:56] ekpyron commented on #6469
Maybe we should use some sort of paging? E.g. allocate fixed-size 4K blocks (or smaller) of memory and store them in a map...

[2019-04-04 13:08] chriseth commented on #6469
Or just use a `std::map`? One problem might be overlapping mload/mstore operations, but I'm actually not sure that is implemented correctly at the moment.

[2019-04-04 13:51] MicahZoltu opened #6471 "Communicate with Etherscan to improve contract verification UX."
## Description
At the moment, it appears that solc developers think that `solc --metadata` is the solution for contract verification of complex projects, while the Etherscan devs don't believe it will work in their environment.  Etherscan verification has become a critical piece of the smart contract ecosystem in Ethereum and making it easy for developers to validate complex contracts with Ethersc

[2019-04-04 14:24] chriseth commented on #6471
Our last attempt to simplify verification with etherscan did not go very far, but I can try again.

Note that the fact that solidity uses the swarm hash is disconnected from swarm as a filesystem - it is just one of any possible hash system you can use.

As mentioned on another issue, ["useLiteralContent" for metadata](https://solidity.readthedocs.io/en/develop/using-the-compiler.html#input-descri

[2019-04-04 15:27] chriseth commented on #6471
We might want to start by create a script that codifies what is explained here: https://solidity.readthedocs.io/en/develop/metadata.html#usage-for-source-code-verification

[2019-04-04 16:04] chriseth opened #6472 "Metadata settings should re-produce the original 'useLiteralContents' setting from the compilation input."
Metadata settings should re-produce the original 'useLiteralContent' setting from the compilation input.

References https://github.com/ethereum/solidity/issues/6471

[2019-04-04 16:20] Marenz commented on #5803
With https://github.com/ethereum/solidity/pull/6457 merged we could close this, however, with the next aleth release the eth_flush function can potentially used in place of the new polling mechanism, as in the new version it will have an artifical sleep removed

[2019-04-04 16:22] ekpyron commented on #5803
I'd only close it when we don't have random failures for a week or so anyways ;-).

[2019-04-04 20:06] sifmelcara commented on #6449
Probably off-topic, but is there any reason to not prefer to transform for-loops into while-loop like structures?

For example,
[code]
should be equivalent to
[code]

By doing this we can avoid handling those SSA-related edge cases

[2019-04-04 20:59] bshastry opened #6474 "[ossfuzz] CI to run fuzzer regressions"
## Abstract

Fuzzer regressions are regressions for fuzzer discovered bugs. We can use a new CI to check if a previously discovered bug is not reintroduced by a PR.

## Motivation

At a minimum
  - we store fuzzer binaries created by the build ossfuzz job as artifacts
  - clone the regressions from the solidity-fuzzing-corpus repo
  - run fuzzer binary against all test inputs in the repo

Latency:

[2019-04-05 07:37] holiman commented on #6438
Might be this one: https://github.com/guidovranken/go-ethereum/tree/go-vm-fuzzing

[2019-04-05 07:39] holiman commented on #6438
This is the most recent version of the vm-fuzzer: https://github.com/ethereum/ethereum-vm-fuzzer . It is continually updated to the most recent versions

[2019-04-05 07:40] holiman commented on #6438
Looping in @cryptomental  here too

[2019-04-05 07:46] bshastry commented on #6438
Hi @cryptomental

At a high level, my understanding is that you are doing multi-client differential fuzzing. So I imagine your test harness looks something like

[code]

Our use-case is slightly different. Assuming my code snippet somehow correctly captures your use-case, let me present what we would like to do

[code]

Do you think something like this is feasible? In the end, we'd have one big fu

[2019-04-05 07:52] bshastry commented on #6438
Thank you @holiman . IIRC, we should be writing a client for the latest and greatest ethereum-vm-fuzzer that is linked above.

[2019-04-05 08:13] bshastry commented on #6438
@chriseth @ekpyron and I discussed to some extent what an initial test stub could look like for the ABIencoderv2. The main conclusion from our discussion is that we should first figure out what the testing environment is going to look like before we get back to actually writing the ABIencoderv2 test harness.

Thinking of it, such a test environment for ABIencoderv2 may also help us fuzz Solidity e

[2019-04-05 09:35] ekpyron commented on #6449
@sifmelcara Support for ``break``s in ``for`` loops was only added recently, so we didn't have this option until now. It might indeed make sense now and we could consider it - if you want, you can create a separate issue for discussing this (please do so for such discussions) - since it's off topic here, I'll minimize it as not to pollute the issue.

[2019-04-05 09:57] bshastry opened #6476 "[yul optimizer] Introducing additional scopes considered benign?"
## Description

When we run the yul optimizer on the following program

[code]

... it gets "optimized" to

[code]

Bytecode generated for unoptimized and optimized code are exactly the same as expected
[code]

Note that the source code of the optimized version contains an additional nested scope (which is seemingly of little value). Of course, the two programs are semantically valid, so there is

[2019-04-05 11:02] chriseth commented on #6286
This has been implemented.

[2019-04-05 11:02] #6286 closed, assigned to nobody

[2019-04-05 11:05] chriseth opened #6477 "[Tests] Auto-correct commandline tests"
It would be nice if the commandline tests (those that test input and output of solc and solc standard-json) could auto-update the expectations just like isoltest does.

[2019-04-05 11:09] chriseth commented on #6476
The optimizer can also unify blocks, inline functions, etc., so I think we cannot rely on those two bounds being the same anyway.

Does it make sense to set the bound to some value `N` when executing the non-optimized version and setting it to `N * 1.5` when executing the optimized version? This should make the assumption you name true again in most cases, and the cases where it fails should be in

[2019-04-05 11:11] ekpyron commented on #6432
It might even make sense to combine this with allowing multiple expectation blocks per test already - then a common class would split the input into source and multiple expectation blocks, determine which kind of test each expectation block is (and parse common settings) and then let the specific test case handle the rest.

[2019-04-05 11:21] chriseth opened #6478 "[Yul] Implement Sol->Yul codegen for ERC20 Token"
We should implement a version of https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/token/ERC20/ERC20.sol where we do not need the library and using for because we do our own overflow checking.

The following still needs to be implemented:

 - [x] return statement - #6589
 - [x] storage variables - https://github.com/ethereum/solidity/pull/6646
 - [x] member access to stor

[2019-04-05 11:23] chriseth opened #6479 "[Yul] Add type conversions for Sol->Yul codegen"
The Solidity->Yul code generator currently does not implement type conversions even though the ABIFunctions already have most of them implemented.

The `convertType` function should be moved from ABIFunctions to YulUtilityFunctions and should be used in the Sol->Yul codegen.

[2019-04-05 11:25] ekpyron commented on #6479
As far as I remember, array conversions are missing entirely - I expect that to be the most effort - the rest should be quick.

[2019-04-05 11:35] chriseth commented on #6214
I think we can even work with that without introducing a new opcode. It may be, that the following rules suffice, which can be fully implemented in the current framework:

[code]

[2019-04-05 11:41] ekpyron commented on #6214
Note to be careful with the ``B - A`` (resp. ``A - B`` or generally ``abs(B - A)``) case and over- and underflows :-).
(EDIT: i.e. the rules should best be limited to non trivial shifts with a constant 0 < A < 256 or something similar - the other ones will be removed elsewhere anyways)

[2019-04-05 11:43] chriseth commented on #6214
I agree, any shift value larger than 255 is already handled by other rules anyway.

[2019-04-05 11:54] chriseth commented on #6479
I would say that array conversions should be done in a different routine anyway, so out of scope of this issue. We considered making that more explicit in Solidity already.

[2019-04-05 11:58] chriseth commented on #6449
@ekpyron @sifmelcara `breaks` seriously complicate the control flow and it might be that we cannot perform some optimizations we could do otherwise - but that would need to be checked.

[2019-04-05 11:58] chriseth commented on #6432
@ekpyron I think we should first clean up the mess and then make it more complicated again :)

[2019-04-05 12:03] ekpyron commented on #6432
I think *really* cleaning it up would basically mean rewriting quite some parts of it and then one might as well split into multiple expectation blocks right away, since otherwise we'll probably rewrite things once more later on anyways :-). But yeah - both would be fine and I would say whoever actually does this can decide which seems better and easier.

[2019-04-05 12:57] livnev commented on #3736
@leonardoalt Would it be possible to revive this heroïc effort? @MrChico and I and many others who are using the solidity metadata for formal analysis, currently mapping out their contract storage by hand, would be forever grateful...

[2019-04-05 13:52] #6446 closed, assigned to chriseth

[2019-04-05 14:18] ekpyron commented on #5803
Next problem:
[code]

https://circleci.com/gh/ethereum/solidity/108253 (running #6306)
https://circleci.com/gh/ethereum/solidity/108201 (running #6456)

[2019-04-05 14:20] sifmelcara opened #6480 "[Yul] Optimizer: move loop condition into loop body so we can apply expression splitter"
Follow-up of #6449

Since we now support `break` statement in for-loop, we could move loop condition into loop body for the ease of further optimizations.

For example,
[code]
can be rewrite to
[code]

At this moment, seems like loop conditions expressions are the only exception of SSA transformation. This can cause trouble when we want to apply optimizations which relies on SSA transformation. (#

[2019-04-05 14:47] frangio opened #6482 "Explicit exporting of symbols"
Currently Solidity exports all symbols in a file, including those that were `import`ed from other files. Has there been discussion around changing this to an explicit exports model? It would be nice to be able to control what gets exported, to modularize an implementation while keeping that an implementation detail.

[2019-04-05 14:48] leonardoalt commented on #3736
@livnev I guess this would need some discussion to decide what exactly it would mean.
1. This would be quite complicated for non-value types. When I talked to @MrChico about that, he mentioned that having that even for value types only would be good already.
2. I'm not sure having it as part of the ABI is a good idea. Maybe a command line option?

@chriseth @axic any thoughts?

[2019-04-05 16:13] MrChico opened #6485 "PC for JUMPDESTS of functions in compiler meta data"
## Abstract

For symbolic analysis of solidity generated bytecode, it is often useful to be able to extract the program counter associated with a particular solidity function. I propose to add an optional field to the meta-data AST called `pc`, which for nodes associated with functions contains the JUMPDEST associated with that method.

## Motivation

Currently, the only way to figure out the JUMP

[2019-04-05 22:14] MrChico commented on #3736
It doesn't need to be in the ABI. Just having a way to extract it somehow from the compiler metadata (like an additional entry in the combined json) would work. And when it comes to non-value types, I understand that they may occupy more than one storage slot, and that there are different encoding schemes. But this information would also be valuable to obtain. I'm imagining something like this
[co

[2019-04-06 09:06] livnev commented on #3736
where the above would be the result for a contract with storage variables declared something like this:

[code]

[2019-04-06 11:11] anurag-git commented on #6436
I am facing same issue. I just pulled new changes and didn't install anything.

My CMakeCache.txt says
[code]

@leonardoalt , any idea?

[2019-04-07 02:02] sammyne opened #6487 "Different bytecodes for the same contracts"
## Description

### Bug
Given the same contracts file but different path, compile with `solc` generate different bytecodes
### Expectation
The same contract manifest should produce the same bytecodes

## Environment

- Compiler version: 0.5.7+commit.6da8b019.Linux.g++
- Target EVM version (as per compiler settings): No
- Framework/IDE (e.g. Truffle or Remix): No
- EVM execution environment / backe

[2019-04-07 02:47] axic commented on #3736
#4017 had a lot of discussion on this topic with an agreed JSON format.

I think this was the final one: https://github.com/ethereum/solidity/pull/4017#issuecomment-410331891

[2019-04-07 18:19] charles-cooper opened #6489 "Yul example from docs does not compile"
Trying to compile the example from the docs (https://solidity.readthedocs.io/en/develop/yul.html#specification-of-yul-object)
[code]
fails with the following error:
[code]
Replacing `=` with `:=` also fails:
[code]

[2019-04-07 18:20] charles-cooper commented on #6489
tagging @ChrisChinchilla

[2019-04-08 06:52] cryptomental commented on #6438
Hi @bshastry  @chriseth @ekpyron  @holiman . I'd be happy to help you set this up after we agree on the test harness . @bshastry  Geth vs Parity differential fuzzing is a bit more complex than your high level code but you almost got it right. We also extract prestate from the input and fill the EVM with accounts and balances before the code is run, you may have a look at GethVMRunner::Run() in vmr

[2019-04-08 07:18] bshastry commented on #6438
@cryptomental You are right. I tend to think Geth execution trace is optional for the ABIencoderv2 use case because we are planning to construct the fuzzed program in such a way that we already know the expectation. So we assume that asserting program output is sufficient for now e.g., we always expect the program to return true.

Having said that, we are still very early in this project so it mig

[2019-04-08 07:41] bshastry commented on #6476
This makes sense, I took your feedback into account in the PR (#6491 ) to close this issue.

[2019-04-08 08:58] ChrisChinchilla commented on #6489
As far as I understand, this code is not solidity code to run, but rather an example of a YUL object generated from Solidity code, which is why you can't compile it.

But perhaps @ekpyron can confirm that?

[2019-04-08 09:28] bshastry opened #6492 "[yul optimizer]: Dead code eliminator may produce incorrect AST because it cannot remove references to dead variables in blocks other than the one containing the terminating opcode"
## Description

For

[code]

The dead code eliminator optimizer removes the variable declaration following the `stop()` opcode in the for-loop initializer block, but does not remove references to this variable (and consequently the statements that depend on this reference) in the for-loop-expression and body blocks.

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2019-04-08 09:50] bshastry opened #6493 "yul proto spec: Add support for opcodes that terminate control flow"
## Abstract

Add the following opcodes to the yul proto spec

| opcode  | Description |
| ------------- | ------------- |
| stop()  |	stop execution, identical to return(0,0) |
| return(p,s)	|	end execution, return data mem[p…(p+s)) |
| revert(p, s) |	end execution, revert state changes, return data mem[p…(p+s)) |
| selfdestruct(a)	|	end execution, destroy current contract and send funds to a |
|

[2019-04-08 10:14] ekpyron commented on #6489
This should in fact compile - it is an example of Yul code as it might be generated from solidity code, but it should be compilable with ``solc --yul`` nonetheless - but it may well be that the compiler has insufficient support for Yul object as of now.

[2019-04-08 10:58] ChrisChinchilla commented on #6489
Ahh, ok @ekpyron Does it compile for you?

[2019-04-08 11:13] ekpyron commented on #6489
No :-). And actually I mixed up the compiler options myself (it's getting horribly confusing :-D).
It definitely can't be compiled with ``solc --yul``, since that expects typed yul and the code is untyped...

The best chances of compiling this would be ``solc --assemble --strict-assembly``, but even that fails, since the example is incomplete and not entirely correct... we should probably fix it,

[2019-04-08 11:26] ekpyron commented on #6489
Or actually, since this is the Yul (as in typed Yul) section of the documentation, we might instead want to add types to it... but we won't be able to get it to work that way, since typed yul is not yet sufficiently implemented for it...

We could change the example to typed yul as:
[code]

And add a note stating that this will not compile due to typed yul support still being incomplete?
Right now

[2019-04-08 14:37] erak commented on #6487
@sammyne Thanks for your report. I'll have a look!

[2019-04-08 16:25] Marenz commented on #6479
Is the Sol->Yul Code Gen done in `libsolidity/codegen/ir/IRGenerator`? Trying to find out where/how to implement this

[2019-04-08 16:35] Marenz commented on #6479
Elaborations by @ekpyron :

Basically you want to export ABIFunctions::conversionFunction to the outside (note that those are functions whose generation is deferred, so you have to make sure it's actually there in the end) and then call that from libsolidity/codegen/ir/*.

[2019-04-08 16:50] charles-cooper commented on #6489
@ekpyron @ChrisChinchilla my broader concern is that programs generated with `solc --ir` will not compile. In fact, I was originally trying to get programs generated with `--asm` or `--ir` to compile and only went to the doc examples after not being able to get `solc` to consume its own output.

[2019-04-09 08:46] sifmelcara commented on #6492
The bug can be fixed by executing `ForLoopInitRewriter` before `DeadCodeEliminator`. So we don't need to worry about the scoping rule exception for "for loop init".

I just traced some optimizer code and found the reason is that
https://github.com/ethereum/solidity/blob/ef3a18999c840c523cce73f6074e816334b5c753/libyul/optimiser/Suite.cpp#L71-L114

although they both produce incorrect AST after line

[2019-04-09 08:59] bshastry commented on #6492
Thank you @sifmelcara for helping with this!

[2019-04-09 09:34] sifmelcara commented on #6480
Inspired by #6492 , we may also want to move loop post to the end of loop body.
[code]
`sstore(1, 2)` in the above snippet is obviously a dead code, but current DeadCodeEliminator is unable to remove it.

[2019-04-09 09:38] ekpyron commented on #6489
@charles-cooper The code solidity generates with ``solc --ir`` should be compilable with ``solc --assemble --strict-assembly``. For now the compiler generates untyped Yul and ``solc --yul`` expects typed Yul. If ``solc --assemble --strict-assembly`` fails to accept what ``solc --ir`` generated, then it would be nice if you posted your code here!

Note, however, that ``solc --ir`` is in very early

[2019-04-09 10:17] sifmelcara opened #6495 "[Yul] Assert that AST is still valid every time after applying optimizer component"
In `libyul/optimiser/Suite.cpp`, we might want to do some "sanity check" every time after applying an optimizer component to AST.

By doing this we can ensure that every AST transformation is valid when running `solc`.

(Inspired by #6492)

[2019-04-09 13:24] cryptomental commented on #6438
Hi @bshastry that makes sense. I would like to experiment a bit on this. Would it be possible for you to provide a simple example of a Solidity program (ABIencoder input) and the resulting EVM bytecode that you would like to fuzz with an example EVM configuration? Perhaps initially we could use solc and Geth's EVM runner to validate the EVM bytecode. My idea was to install `sudo snap install solc

[2019-04-09 16:07] charles-cooper commented on #6489
@ekpyron nice! `solc --assemble --strict-assembly` works with the output of `solc --ir` for me (barring the `IR:` header in the output). That solves my use case. I have a couple more questions though; does `--assemble` work without `--strict-assembly` here? Can `--asm` output be consumed by `solc`? Sorry if these are trivial questions, the answers are not obvious to newcomers like myself (and don'

[2019-04-09 19:17] spalladino opened #6497 "Explicit call to function in base contract does not consider overloads"
## Description

When calling a function from a base contract including the base contract explicit name, Solidity only considers the first overload of the function defined in the contract.

## Environment

- Compiler version: 0.5.7
- Framework/IDE (e.g. Truffle or Remix): Remix

## Steps to Reproduce

The following code fails to compile with error `Wrong argument count for function call: 1 argument

[2019-04-09 19:17] ekpyron opened #6498 "overloading for implicitly convertible types"
Might overlap with the inheritance rework for 0.6.0.

@nventuro requested that we allow overloading for implicitly convertible type - either generally or only if the type matches *exactly*. I'm opening this issue to discuss pro's and con's.

Current status:
[code]

We could allow both the calls (1) and (2) or only (2) to choose ``f(uint16)`` without error. We could *disallow* (3) since it needs an

[2019-04-09 21:59] mrwillis commented on #6392
@chriseth Ok i am able to reproduce in this small repo

https://github.com/mrwillis/abiencoderv2-repro

Seems to be related to hashing in one of the libraries.

Just run `truffle compile` and you will see the error.

[2019-04-10 08:32] 3sGgpQ8H commented on #409
As long as shifts are now available in EVM, probably binary fixed point types should be considered yet again.
Also it would be great to have 128-bit binary fixed point, e.g. 64.64 or 96.32 bit, because they are cheaper to multiply and divide than wider fixed point types.

[2019-04-10 09:38] MicahZoltu commented on #6471
I think it would help _me_ advocate more if I could see/present a shell script or something that shows how to verify contract code given only the compiler output JSON.  At the moment, I don't fully understand how to do contract verification myself, so it is difficult to advocate for others to do it.

Is this the sort of script you are referring to?

[2019-04-10 13:41] bshastry commented on #6495
Won't such a sanity check involve parsing the AST after each step, which is expensive? We could probably use this piece of code

https://github.com/ethereum/solidity/blob/bf653b004eb1168ac84a7c0532ba9ea66c415d0b/test/tools/yulopti.cpp#L89-L114

in here

https://github.com/ethereum/solidity/blob/bf653b004eb1168ac84a7c0532ba9ea66c415d0b/test/libyul/YulOptimizerTest.cpp#L71

and then add

[code]

her

[2019-04-10 23:49] ChrisChinchilla commented on #6489
Thanks for everyone's input, I'll get on to updating docs with some details asap. There are lots of efforts into YUL right now, so it's in fairly regular flux.

[2019-04-11 06:34] pieterhartel opened #6501 "Compiler meta-data that does not conform to the specs."
Contract [ChannelManager](https://etherscan.io/address/0xbf2aeab03b82c182599930217272ef0fc5cf662b#code) has compiler meta-data that does not conform to the [specs](https://solidity.readthedocs.io/en/v0.5.7/metadata.html?highlight=bzzr). There are 306 bytes at the end of the bytecode that do not begin with `a165` but with `a265`. What does this mean? If this is an undocumented feature? Some documen

[2019-04-11 07:26] bshastry commented on #6165
Another scenario that fails the assertion in the title but unrelated to object access functions is the following

[code]

My guess is that, while the `for` loop is being interpreted, the interpreter begins to interpret the function call in the init block that is not yet registered.

[2019-04-11 08:09] nanspro commented on #6202
@vs77bb could you approve me on this task so that i can submit work.
I created an [WIP] PR 5days ago and will complete the work today.

[2019-04-11 09:20] bshastry commented on #6438
Thank you @cryptomental

Update: I'm working on a minimal PoC harness that accepts solidity input, compiles it to EVM byte code, runs it on geth, and asserts on false return code or other program errors (e.g., revert).

[2019-04-11 10:17] ekpyron commented on #6489
@charles-cooper In fact I'd need to check some of this myself ;-) (so better to recheck what I'm saying), but I think ``--assemble`` *does* accept non-strict assembly (i.e. work without ``--strict-assembly``), but I think non-strict assembly is deprecated and will be removed in the near future.
I don't think ``--asm`` output can be consumed by the compiler.
In the long term, ``solc --ir`` will be

[2019-04-11 10:17] #6477 closed, assigned to nobody

[2019-04-11 15:16] Marenz opened #6505 "wrong source location for asm node"
The code

[code]
has wrong asm location information. This is visible when, for example, running it with `solc --ast`, however `solc --ast-json` remains unaffected

[2019-04-11 18:16] haltman-at commented on #6485
Not on the Solidity project, just commenting as someone else who might find this useful -- due to inheritance, there'd have to be a bit more to it, wouldn't there?  Like, a function in `Base` could have one PC in `Base` but a different PC in `Derived`, right?  If it just listed the PC in `Base`, that would be pretty incomplete information.

[2019-04-12 06:59] bshastry opened #6509 "[solc] Failed assertion (unknown magic member) in ExpressionCompiler for call to abi.encode"
Found by ossfuzz, issue 13693

This input
[code]

asserts here

https://github.com/ethereum/solidity/blob/826f2d908400fee9e0d4f90dc871c9774e5f0e42/libsolidity/codegen/ExpressionCompiler.cpp#L1404

Shouldn't this be a parsing error?

[2019-04-12 07:07] bshastry opened #6510 "[yul] Asm analyzer fails assertion (string literal too long) for string literals with more than 32 characters"
## Description

(Found by ossfuzz: issue 13929)

[code]

fails this assertion

https://github.com/ethereum/solidity/blob/bf653b004eb1168ac84a7c0532ba9ea66c415d0b/libyul/Utilities.cpp#L45

can be reproduced like so
[code]

Perhaps, we should output a warning instead for inline asm containing string literals longer than 32 chars.

[2019-04-12 09:33] ekpyron opened #6511 "Require yul optimizer test expectations to start with ``//``."
Came up in #6486.

Currently the ``//`` at the beginning of test expectations are optional (at least for the yul optimizer tests). Understandably, this can lead to confusion and inconsistency, so we should require expectation lines to start with ``//``. We should also verify that automatic expectation update puts them in, but I guess they do.

[2019-04-12 10:34] #6467 closed, assigned to nobody

[2019-04-12 10:34] #6476 closed, assigned to nobody

[2019-04-12 10:36] #6418 closed, assigned to nobody

[2019-04-12 14:18] axic opened #6514 "Yul exception on unknown object"
[code]

causes

[code]

[2019-04-12 14:38] leonardoalt opened #6515 "[SMTChecker] Replace shared_ptr by unique_ptr accordingly"
Also use `TypeProvider` for the Solidity types that are instantiated.

[2019-04-12 16:00] axic opened #6516 "Add section about project name, logo and license"
Official logo: https://github.com/ethereum/solidity/blob/develop/docs/logo.svg

Should briefly highlight our preference about using the name and logo.

[2019-04-12 17:05] fty48jj19 commented on #1237
e   nao fica fazendo coisas q nao diz a respeito nao em se nao vc mim prejudica aqui quando vc quiser mim peça aqui  nao fica enpurrando nada se vou broquia  vc mas  se eu ver coisa de vc de anormal da para frente vou broquia vc  mas agora nao segue endiante nao sobmeta fazer coisa que nao deve,

[2019-04-12 21:07] 3sGgpQ8H opened #6517 "Return back loose assembly and forbid optimizer to touch its output"
## Abstract

In version 0.5.0 of Solidity compiler loose inline assembly was permanently disabled in favor of strict function-style inline assembly.  In my opinion, strict assembly is not a full replacement for loose assembly, thus loose assembly need to be returned back.  Also optimizer should be forbidden to touch byte code generated from inline assembly sections containing loose assembly.

## M

[2019-04-13 01:44] g-r-a-n-t commented on #6216
Hello @gitcoinbot, this is currently under review.

[2019-04-13 19:18] yxliang01 opened #6518 "Dockerfile for lllc"
## Abstract

There should be a Dockerfile for `lllc`.

## Motivation

Currently, there is docker image for `solc`, but not `lllc` which is also an executable placed in this repository.

## Specification

A new Dockerfile or add a new build target to current Dockerfile at https://github.com/ethereum/solidity/blob/develop/scripts/Dockerfile that is for `lllc`.

[2019-04-14 14:21] SilentCicero commented on #6518
Would recommend checking out Yul instead of LLLC as they will not continue to maintain that language going forward.

[2019-04-14 17:34] yxliang01 commented on #6518
@SilentCicero Thanks for your comment. However, many current infrastructures(e.g. ethereum/aleth) are still depending on `lllc`. So, I would say it's still worth doing for the time being.

[2019-04-14 22:48] #6268 closed, assigned to ChrisChinchilla

[2019-04-14 23:09] akira-19 commented on #5918
@ChrisChinchilla Hi, I found a couple of people who are going to help the translation. So can you add @NoCtrlZ and @taizo-kato as contributors? And I think they might want to join gitter documentation room.

[2019-04-14 23:24] ChrisChinchilla commented on #5918
@akira-19 Excellent! I'll add them here, but for creating the translation, you create a fork of this repo, so you can add whoever you like to that. When you have that fork, let me know 👍.

[2019-04-15 00:35] akira-19 commented on #5918
@ChrisChinchilla Thank you. The fork is here. https://github.com/akira-19/solidity

[2019-04-15 11:39] #5903 closed, assigned to nobody

[2019-04-15 11:42] #6443 closed, assigned to nobody

[2019-04-15 12:26] chriseth commented on #6482
Which syntax would you like to suggest?

[2019-04-15 12:55] leonardoalt commented on #6436
@anurag-git The build system also needs the z3 executable in this case, in order to check the version. It looks like in your case it couldn't find it. This is indeed a new requirement that wasn't there before.
Could you please check that you have the executable installed?

[2019-04-15 13:03] chriseth commented on #6487
This is expected behaviour. The reason behind this is that depending on the paths used, import statements will behave differently. So the (relative) paths are exposed as the unique names of contracts when compiling. Since the bytecode contains the metadata information of contracts, this also affects the bytecode.

[2019-04-15 13:03] #6487 closed, assigned to erak

[2019-04-15 13:20] chriseth commented on #6480
Since we are planning some transforms that would have problems with for loop conditions, it is probably now a good idea to introduce this transform. At the same time, it would be good to undo the transform again in the cleanup phase of the optimizer, since for loops with actual conditions are much easier to read.

The post block cannot be easily moved as soon as there is a `continue` statement in

[2019-04-15 13:24] chriseth commented on #6498
Relates to https://github.com/ethereum/solidity/issues/1256

[2019-04-15 13:25] chriseth commented on #6498
I think it would be best to disallow any overload resolution if the type does not match exactly.

[2019-04-15 13:32] chriseth commented on #6392
It compiles fine for me on 0.5.7 with `--optimize-yul`, it does not without the yul optimizer.

[2019-04-15 13:34] chriseth commented on #409
I still think it might be dangerous to provide binary fixed point numbers since they are harder to understand. You are right that previously, there was no efficiency difference between the two, though...

[2019-04-15 13:37] chriseth commented on #6471
@MicahZoltu yes, exactly!

[2019-04-15 13:48] chriseth commented on #6495
I think parsing is not really required, because we perform optimizer steps based on its memory representation. So I think the checks we can do would be those performed by the AsmAnalyzer.

I would assume that the checks are optional and only performed e.g. during fuzzer runs, right?

[2019-04-15 13:50] SilentCicero commented on #6514
Nice :)

[2019-04-15 13:50] chriseth commented on #6501
Thanks for notifying! Indeed, we extended the CBOR mapping a little. The documentation says that you should take a look at the last two bytes, interpret them as a byte length and track back. Then just CBOR-decode the data you found - so the metadata parsers should actually not be made that restrictive.

[2019-04-15 13:51] SilentCicero commented on #6478
@chriseth I've written a raw Yul ERC20 if you want it, also I'm writing a blog post on Yul (introduction to..), how can I get in contact to chat?

[2019-04-15 13:51] chriseth commented on #6501
We should update the documentation to explain the new fields we added and perhaps also explain that new fields might be added any time without prior warning - those fields should be ignored by the parsers. @axic

[2019-04-15 13:58] chriseth commented on #6489
It should compile using `solc --strict-assembly`. The option `--assemble` is not required.

[2019-04-15 14:00] 3sGgpQ8H commented on #409
Binary fixed point is not harder to understand (actually simpler), than binary floating point, and people usually don't have to understand internal mechanics to use them.  I believe many C++ developers think, that by writing `2.99e8` they use decimal floating point, but does this misunderstanding lead to any harm?
As long as one may write `area = 3.141592 * radius * radius` and get correct answer,

[2019-04-15 14:01] pieterhartel commented on #6501
@chriseth thanks for your answer. In the example of the ChannelManager, one first has to remove the constructor arguments, then find the `0037` hex = 55 decimal, and then track back 55 bytes to the `a265`. An update of the documentation would be welcome!

[2019-04-15 14:31] mrwillis commented on #6392
Yeah it does for me as well. What do you recommend? You say it would be quite risky to enable the Yul optimizer as of now. I have seen some projects go for it though.

[2019-04-15 14:42] frangio commented on #6482
I would go with a subset of JavaScript's syntax.

1) Exporting a symbol that is being defined.
[code]

2) Exporting previously defined or imported symbols.
[code]

Symbols can be contracts, interfaces, or libraries.

[2019-04-15 14:44] chriseth commented on #6482
What about backwards compatibility? Export everything if no `export` keyword is used in the whole file? What about exporting symbols imported from other files?

[2019-04-15 14:53] frangio commented on #6482
I think this should be a breaking change eventually: nothing should be exported unless explicitly requested. However, to ease transition, the semantics you describe are a good idea. Implicit exports could be deprecated some time after, and then removed in the next breaking version bump.

Exporting imported symbols is covered in part 2 of the syntax I suggested above.

[2019-04-15 15:00] #6505 closed, assigned to Marenz

[2019-04-15 16:15] chriseth commented on #409
People are generally way more used to decimal fixed points - they use them all the time when e.g. using money. They know how rounding works and are aware about the precision limitations. Comparing binary fixed points to floating points does not gain anything, one complex beast is as complex as another one... ;)

[2019-04-15 16:58] nventuro commented on #6498
@chriseth so all calls to an overloaded function would require explicit casts, even if an implicit one is available?

Given
[code]

`f(x)` calls 1, `f(uin256(x))` calls 2, `g(x)` fails, and both `g(uin16(x))` and `g(uin256(x))` call 3 and 4 respectively?

[2019-04-15 17:20] 3sGgpQ8H commented on #409
People are using decimal fixed point for money in real life, but in computer programs best practice is to always use integer numbers for money and measure money amounts in the smallest units (Wei for Ether, Satoshi for Bitcoin, cent for USD etc).  The number of decimals is only considered when converting money amount to/from string.

As long as string conversion is usually performed not in smart c

[2019-04-15 20:35] RenanSouza2 opened #6522 "Accessing constants in pure functions"
## Abstract

Make possible to access constants in pure functions

## Motivation

Pure functions cannot access environment variables, but constants are decided in compile time.

## Backwards Compatibility

If the function is pure bute call calls an old contract view function, being this view only due to a constant access, the new function needs to also be view

[2019-04-15 20:56] maurelian opened #6523 "z3 build failure: z3++.h not a directory"
## Description

I'm following the instructions on the [latest docs](https://solidity.readthedocs.io/en/develop/) to build from source with the SMTChecker. The build is failing with the following error:

[code]

## Environment

- Compiler version: `git checkout tags/v0.5.7`
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environment

[2019-04-15 21:02] maurelian commented on #6523
Here's the full output of running `mkdir build`, `cd build`, and `cmake .. && make` https://gist.github.com/maurelian/d728873ad9590818352608797e7a4bb3

[2019-04-15 21:03] axic commented on #6523
What version of z3 you have installed and where?

[2019-04-15 21:23] chriseth commented on #6522
Can you give some example code, please?

[2019-04-15 21:28] chriseth commented on #6518
Be warned that lll has always be unspecified and is not very well tested.

[2019-04-15 21:34] chriseth commented on #6485
I would defer such features until we have proper debugging metadata. I think adding the PC to the AST is not a good solution because the AST mostly concerns syntactical features. Furthermore, connecting the bytecode offset start to a function is a very delicate matter. The PC is only really determined at the very last stage in the compiler called the assembly stage. At this point, functions are fu

[2019-04-15 22:03] RenanSouza2 commented on #6522
`pragma solidity ^0.5.7;

contract SomeContract {
    uint256 constant public ID = 0;
}

contract Test {
    SomeContract public some;

    function setSome (address _some)
    external {
        some = SomeContract(_some);
    }

    function getID ()
    external view returns (uint256) {
        return some.ID();
    }
}`

Shouldn't the getID() be pure as the ID cannot be changed

[2019-04-15 22:07] RenanSouza2 commented on #6522
[code]

[code]

Shouldn't the getID() be pure as the ID cannot be changed

[2019-04-15 22:46] haltman-at opened #6525 "Variables of function internal type have wrong default value inside constructors"
## Description

When inside a constructor, variables of `function internal` type use their lower 4 bytes to store the PC of the function in the deployed code, and use their upper 4 bytes to store the PC of the function in the constructor code.

However, this format is not correctly applied to `function internal` variables (in locations other than storage) that have not been initialized and have th

[2019-04-15 23:57] maurelian commented on #6523
[code]

That pyenv shim might be messing stuff up... though I can clearly still call z3 from the command line?

[2019-04-16 02:13] maurelian commented on #6523
That was it.
Ensuring that `which z3` returns `/usr/bin/z3` solved my problem.

[2019-04-16 02:13] #6523 closed, assigned to nobody

[2019-04-16 02:49] sifmelcara commented on #6495
@bshastry Sorry for the late reply. Yes it is expensive but probably worth it? Typically smart contracts are `< 1000` lines so the overhead should not be noticeable from the user side.

@chriseth I agree. Using `AsmAnalyzer` makes sense.

At minimum we should do this sanity check when fuzzing. Not sure if we should turn on the check by default though..

[2019-04-16 09:38] sifmelcara commented on #2405
Hello!

We have a team working on ewasm-related products thus we would love to see a working implementation of yul to ewasm code generator. Also we have some engineer's time available but not sure what is the best way to contribute to help it to progress.

#2233 looks like a solid starting point. Maybe we can merge that PR into develop so people can start to contribute missing features/tests liste

[2019-04-16 09:39] bshastry opened #6528 "[Yul] optimizer takes too long on recursive function call within nested (potentially infinite) for loops"
## Description

(Found by LPM+libFuzzer)

For

[code]

`solc` call to optimize does not finish computation for several minutes (I'm not sure if there is an infinite loop somewhere in the optimizer or if there is some computation that should return but takes too long)

Repro is:
[code]

Notes
  - While debugging this using `yulopti` fullInliner seemed to be one of the reasons for blowing up the AST

[2019-04-16 10:33] Marenz opened #6529 "Remove polling and rely on eth_flush instead"
We introduced a polling algorithm to fix the random CI bugs described in #5803
That was required because `eth_flush` was not reliable in the aleth version we used.
Now that we updated to the new aleth, we can simplify or remove that polling code.

[2019-04-16 11:29] chriseth opened #6531 "[yul] add "return" statement"
Especially in order to implement "return" statements of higher order languages, it would be beneficial to add a "return" statement similar to the "break" statement with the exception that control flow continues at the end of the current function.

Impact on optimizer:
 - I think the impact on the optimizer is small since return does not perform a backwards jump

Naming:

The naming of the return s

[2019-04-16 11:39] chriseth commented on #2405
Such a prototype is also very high on our priorities list. The pull request you cite is very outdated by now and we actually do not intend to use binaryen anymore but instead just output wasm string representation. I think one of the most challenging parts here is to decide how to do proper versioning and feature support, mainly related to types larger than 64 bits.

[2019-04-16 11:41] chriseth commented on #6392
I think I always said "if you test all code paths, the ABIEncoderV2" should be safe to enable. A rather critical bug turned up months after I made that statement but I actually think nobody used the part of the code the bug is in and if they used it, it was not tested. Following that incident, I'm a bit more cautious now, but the same holds true for the optimizer, too, I would say.

[2019-04-16 12:28] chriseth commented on #6165
Oh wow! That is a weird edge case! Can you open a new issue for it? I wonder whether we should disallow function declarations in for init and post blocks....

[2019-04-16 12:28] Marenz commented on #6478
@SilentCicero you can join us on gitter: https://gitter.im/ethereum/solidity-dev

[2019-04-16 12:32] chriseth commented on #6509
No it should not. I think the problem is that `abi.encoed` is usually called immediately and when it is called, the code generation for the member is skipped. In this case, the fix would be to accept the code but do not generate any bytecode.

[2019-04-16 12:34] chriseth commented on #6510
This case should be caught in the parser or analyzer.

[2019-04-16 12:35] chriseth commented on #6511
The main reason I did not add slashes was that the output can be used as input again without modification. It did not turn out that useful, so it is probably better to unify the format instead and add the slashes.

[2019-04-16 12:39] Marenz commented on #6472
So, to understand this correctly, the key/value `useLiteralContent` originally specified in the json input should also be output in the json output produced by `--metadata`? just directly at the root level object?

[2019-04-16 12:47] mrwillis commented on #6392
Got it thanks Chris.

On Tue., Apr. 16, 2019, 7:41 a.m. chriseth, <notifications@github.com>
wrote:

[2019-04-16 12:55] bshastry opened #6532 "[Yul] interpreter: function call before function definition inside for loop init block leads to an assertion failure because the function is not yet registered"
## Description

The following code snippet

[code]

fails this assertion

https://github.com/ethereum/solidity/blob/6b12726f51c25840b3ccb231018fc37e994869e7/test/tools/yulInterpreter/Interpreter.cpp#L191

## Environment

- Compiler version: latest develop commit

## Steps to Reproduce

[code]

[2019-04-16 12:56] bshastry commented on #6165
@chriseth opened a new issue for the for loop init test case (#6532 )

[2019-04-16 13:05] shunMB commented on #5918
@ChrisChinchilla and @akira-19 Hi, can I help this translation? If possible, let me know.

[2019-04-16 16:19] chriseth commented on #6525
That's a great find, thanks!

[2019-04-16 21:15] eternauta1337 opened #6535 "Misleading error when trying to transfer funds > this.balance"
When executing the following code, assuming that `this.balance < msg.value`:

[code]

The following error is thrown:

[code]

This may lead developers to strange trains of thought: What constructor? The EOA's constructor (which doesn't make sense)? The sending contract's constructor? Does `msg.sender` need to be casted to `address payable`?

Such a misleading error is thrown whenever `transfer` is

[2019-04-16 21:30] chriseth commented on #6535
This sounds like a bug in remix instead of Solidity.

[2019-04-16 21:35] chriseth commented on #6482
Sounds good! Of course this has to be a breaking change. I'm adding it to the 0.6.0 discussion.

[2019-04-16 21:45] chriseth commented on #6517
We currently do not plan to re-introduce loose assembly mainly because it complicates the whole compiler stack and also makes it very hard to ensure certain properties of the whole contract (e.g. pure and view functions), especially since loose inline assembly can interfere with any outer parts and this is very hard for the compiler to detect properly.

I am not aware of any jumps being inserted b

[2019-04-16 22:54] eternauta1337 commented on #6535
@chriseth indeed, seems like this is a Remix error.

I tried reproducing the error using Truffle with no success. I just get a generic error:

[code]

I will reach out to Remix with the bug. Please close it here.
Thx :tada:

[2019-04-17 04:34] 3sGgpQ8H commented on #6517
Inline assembly inserts jumps for constructs `if`, `switch`, and `for`.

Inline assembly is being used for manual optimizations even with compilers that are known to have best in class optimizers, so I don't think necessity of loose inline assembly is anyhow related to whether optimizer is perfect or not.

Here is an example, where function style assembly makes logic more complicated.  Suppose I h

[2019-04-17 08:25] chriseth commented on #6517
Ok, sure, if you use control-flow constructs, jumps are inserted, but they are not inserted "between opcodes" - that's what confused me.

Perhaps I would like to re-state one of the design principles of Solidity, which is another justification to remove loose assembly: Correct code is more important than efficient code and this also includes manual overrides since almost all of the big issues in t

[2019-04-17 08:26] bshastry commented on #6492
@sifmelcara Can this issue be closed? IIUC, issues #6480 and #6495 are not dependent on this issue that PR #6494 fixed.

[2019-04-17 08:32] sifmelcara commented on #6492
Yea I think so :)

[2019-04-17 08:41] #6492 closed, assigned to nobody

[2019-04-17 08:45] #6202 closed, assigned to nobody

[2019-04-17 08:54] chriseth commented on #6498
@nventuro yes, that's what I mean.

[2019-04-17 08:57] chriseth commented on #409
I still don't see the point. Interest rates are usually given in percents, not "perbins". All the other things you give are usually displayed in decimal to the user and thus also having decimal fixed points for them in the smart contract would remove confusion.

[2019-04-17 09:01] chriseth commented on #6522
This is a duplicate of https://github.com/ethereum/solidity/issues/1290 - I actually thought that was already implemented.

[2019-04-17 09:01] #6522 closed, assigned to nobody

[2019-04-17 09:04] #4517 closed, assigned to christianparpart

[2019-04-17 09:05] #6501 closed, assigned to nobody

[2019-04-17 09:30] #6535 closed, assigned to nobody

[2019-04-17 09:37] bshastry opened #6538 "[ossfuzz] proto generator generates duplicate case literals in switch statements"
## Description

A switch statement in yul can have case literals that are decimal, hexadecimal, or string. The yul parser treats more than one case statement with identically valued literals as duplicates.

The proto generator does not respect this logic while generating random yul code, so we could end up with code like this (which is simply rejected by the parser)

[code]

Although such unparsea

[2019-04-17 09:46] hydai commented on #6514
Hi @axic,

Is `object "Runtimex" {` in line 7 intended?
When I replace `object "Runtimex" {` with `object "Runtime" {`, everything looks great.

Tested in the following environment:

Solc Version:
Version: 0.5.8-develop.2019.4.17+commit.34995d4e.Darwin.appleclang

Command:
`./solc --strict-assembly your_yul_file`

Output:

[code]

[2019-04-17 09:51] axic commented on #6514
Yes, it is intended because that is a bug we need to fix 😉

[2019-04-17 10:34] 3sGgpQ8H commented on #409
All numbers are usually displayed in decimals, including numbers such as Pi, e, and √2.  This does not make these numbers more decimal that binary.  Actually, decimal/binary is just an encoding, not the property of the number.
For percents I didn't get your point.  For me, interest rate of 2.45% is neither decimal nor binary, but just fractional.
In Ethereum smart contracts it is usually convenien

[2019-04-17 11:46] #6392 closed, assigned to nobody

[2019-04-17 11:49] chriseth commented on #409
My point is: If you use two decimal places precision, you know that you can always store all integer percentage values without loss of precision. You need 9 decimal places to store `0.000000094%` without loss of precision. How many binary places do you need? And is the number representable as a binary fraction at all?

[2019-04-17 11:52] chriseth commented on #6532
We should probably disallow function definitions in the pre block altogether. What do you think?

[2019-04-17 12:08] bshastry opened #6541 "[yul] break-continue statement design"
## Description

Is the following yul program supposed to be valid?

[code]

The `break` is in the `for` loop body scope which itself is nested within a for loop init block.

[2019-04-17 12:15] chriseth commented on #6541
I think that's fine. `break` cannot be used in pre- or post-blocks, but if you have another for loop inside those blocks, it gets possible again in the body of that for loop.

[2019-04-17 12:35] #6255 closed, assigned to erak

[2019-04-17 12:42] bshastry commented on #6541
Okay, thanks. Note to self: we need a stack to track if we are in a loop body to decide if we can place a break/continue there.

[2019-04-17 12:43] sifmelcara commented on #6541
[code]

So the `break` in the above example actually jumps out of the outer loop? For me it looks a little bit confusing, I would probably assume it jumps out of the inner loop at first glance.

[2019-04-17 12:45] chriseth commented on #6541
@sifmelcara no, break at that point is disallowed exactly because it might be confusing.

[2019-04-17 12:46] bshastry commented on #6541
@sifmelcara with latest solc, you get the following error for the code you mentioned

[code]

[2019-04-17 13:06] sifmelcara commented on #6541
Oh you are right.

Maybe we can improve this error message by changing it to "break inside for-loop post block is not allowed" or similar. Technically it is still in outer loop's for-loop body.

[2019-04-17 13:41] #6472 closed, assigned to Marenz

[2019-04-17 14:19] bshastry commented on #6541
@sifmelcara We can either issue a generic warning (that whitelists the use of break/continue) or a specific warning (that blacklists the specific use of break/continue)

Examples

### Whitelist

### Blacklist

My 2 cents

[2019-04-17 14:45] christianparpart opened #6546 "CI daily cron job to run tests/solfuzzer with valgrind"
Create a CircleCI job that runs once a day and tests for memory leaks.

### Open questions
* Only for branch develop?
* Or for develop and/or a special branch that people can merge their work to in order to get it checked.

### Motivation
Memory leaks and address issues should be caught early. (But checking upon every PR push is probably exploding CPU cycles too much).

[2019-04-17 16:23] frangio commented on #6498
I think we should be careful with forcing people to do these casts. It is very easy to do a downcast without realizing, and there is no warning if this could result in overflow.

[2019-04-17 17:12] chriseth commented on #6498
Indeed, I'm also worried about that. One way around this is as follows:
[code]

[2019-04-18 03:04] ChrisChinchilla commented on #5918
@shunMB From my perspective yes, but it's up to @akira-19 mostly :)

[2019-04-18 08:07] shunMB commented on #5918
@ChrisChinchilla Thank you! @akira-19 I'm waiting for your reply ;)

[2019-04-18 08:12] sifmelcara opened #6548 "Wasm codegen integer type issues"
Follow-up of https://github.com/ethereum/solidity/issues/2405#issuecomment-483624120

From my understanding, these are things that we can immediately start working on:

- Introduce a transformation that turns 256 bit types/operations in yul into 32/64 bits types/operations.
  * This will make the process of wasm codegen easier.
- Make `libsolidity/codegen/ir/IRGenerator` generate yul code that con

[2019-04-18 09:05] bshastry opened #6549 "[Yul] yulstringrepository is not reset leading to unfreed memory allocations during the lifetime of fuzzing binary"
## Description

The `YulStringRepository` class

https://github.com/ethereum/solidity/blob/4509e8efbb64637df26e5d072a289b57d600b5ec/libyul/YulString.h#L37-L86

does not reset its members. This means memory allocations made by the class are not reclaimed within a fuzzing iteration. Consequently, they end up accumulating heap memory over time and bringing down the fuzzing process because at some poi

[2019-04-18 10:04] chriseth commented on #6548
Our current plan is to keep the IR generator producing strict assembly for now, because the EVM is still our main backend and because the optimizer is built for this dialect. We want to create a prototype translator for yet another dialect of Yul (#6547) to web assembly. To complete the transformation sequence, a third translation from strict assembly to this restricted wasm-targeted yul dialect w

[2019-04-18 10:13] #6510 closed, assigned to nobody

[2019-04-18 10:53] #6435 closed, assigned to Marenz

[2019-04-18 10:57] #6387 closed, assigned to nobody

[2019-04-18 11:02] totoroXD opened #6551 "[Yul] Arithmetic operations overflow checking"
## Description

Does Yul specification define that arithmetic operation should check overflow?
According to Yul documentation, I only see overflow checking in type conversion functions.

https://github.com/ethereum/solidity/blob/bf43eebea95507f7930b9e5ea3f82d469f4a1498/libsolidity/codegen/ir/IRGeneratorForStatements.cpp#L81-L101

[2019-04-18 11:19] chriseth commented on #6551
The Solidity -> Yul translation is still work in progress and highly experimental. There is no specification.

Which Yul documentation do you refer to?

[2019-04-18 16:56] DiegoCoyote opened #6557 "Unable to run a for loop"
Hello. I'm quite new in solidity and in GitHub, so I hope this issue can fit here.
I'm just making simple smart contracts to test what I'm learning, and I can't run a for loop.
The code I'm trying to run is:
[code]
I have used on line Remix to test mi code, and I got this warning:

When I try to run this code locally in my Windows 10, using the Truffle suite (Truffle v5.0.12 (core: 5.0.12); Solidi

[2019-04-18 18:30] chriseth opened #6558 "Mark inline assembly `call` opcodes to known-pure precompiled contracts as pure"

[2019-04-18 20:39] chriseth commented on #6557
At a first glance, your code seems fine. You can ignore the warning given by Remix, it is just a reminder that this could be dangerous. Imagine passing `2**255` for the argument of the function. It is not possible to complete the loop before the universe ends and you could certainly not pay for the execution. The warning is also present for the second loop just because the algorithm to determine t

[2019-04-18 22:30] chriseth commented on #6528
The problem here is that the RedundantAssignEliminator has exponential behaviour with the nesting depth of functions. It is probably fine to degrade the efficiency of the RedundantAssignEliminator at a certain for loop nesting depth. The question is how to make it efficient but still correct at that depth.

[2019-04-18 22:40] #6538 closed, assigned to bshastry

[2019-04-18 22:41] #6296 closed, assigned to bshastry

[2019-04-18 22:44] #6474 closed, assigned to bshastry

[2019-04-18 22:59] #6121 closed, assigned to nobody

[2019-04-19 02:35] ChrisChinchilla opened #6559 "[DOCS] Improve Docker documentation"
The current Docker documentation is one or two lines and doesn't really explain clearly how to use Solidity with Docker. Expand with more details and examples.

[2019-04-19 04:27] fulldecent commented on #409
JSON uses, and its author champions, floating decimal.

I believe 10EE-18 is popular in Solidity implementations. Here is the implementation in Compound Finance https://github.com/compound-finance/compound-money-market/blob/master/contracts/Exponential.sol

As long as source code is written with decimal literals then fixed point numbers should only be decimal based.

[2019-04-19 06:37] sifmelcara commented on #6548
Some questions:

1. So, are low-level functions listed in https://solidity.readthedocs.io/en/v0.5.7/yul.html#low-level-functions obsolete? Looks like neither EVM nor eWasm dialect follow it. If it is indeed obsolete, we probably should update it before we start working on eWasm dialect.
2. Shouldn't optimizer be dialect-agnostic?
3. (Just for reference) For block-related access functions, I think

[2019-04-19 07:06] bshastry commented on #6528
Do you mean "at a certain function nesting depth" or "for loop nesting depth"? IIUC, the former is unbounded while the latter is 2 in this case?

Also, shouldn't the optimizer steps reach a fixed point at some point in cases like this where opt(n+1) = opt(n) and bail out at that point? Or is the exponential slowdown in the process of reaching such a fixed point?

[2019-04-19 07:18] totoroXD commented on #6551
https://solidity.readthedocs.io/en/v0.5.6/yul.html

Is there any better document to see decided specifications?
I want to implement those arithmetic operations.

[2019-04-19 07:41] 3sGgpQ8H commented on #409
I would not agree.  For JSON, number format is implementation-dependent, but [RFC 7159][1] explicitly says that:

   and precision of numbers accepted.  Since software that implements
   IEEE 754-2008 binary64 (double precision) numbers [IEEE754] is
   generally available and widely used, good interoperability can be
   achieved by implementations that expect no more precision or range
   than the

[2019-04-19 08:09] DiegoCoyote commented on #6557
Thanks for clarify me about the warning (and for the possible error my code may produce), and for tell me that the code seems OK, I'll keep on trying to get my code working. I'll create a totally new project, just in case there were something wrong in the environment I were using.

[2019-04-19 08:34] sifmelcara commented on #6548
I just found out that some of my questions have already been answered in #6274. So the strict Yul described in the document is planned to be implemented in the future, but not now. Am I correct?

[2019-04-19 09:11] leonardoalt commented on #6557
@DiegoCoyote I ran your code on Remix (with the JavaScript VM) and it worked fine, so this does seem related to truffle and/or the truffle setup. It's probably easier to open an issue on the Truffle project and ask there.

Closing since the issue is likely related to Truffle. Please reopen otherwise.

[2019-04-19 09:11] #6557 closed, assigned to nobody

[2019-04-19 09:14] leonardoalt commented on #6551
@totoroXD in that case this would rather need to be in the Solidity spec, since it's Solidity compilation to Yul that is doing the overflow checks. The Yul operations themselves are still unchecked in that case.

[2019-04-19 19:14] gabmontes commented on #5449
Boost 1.67 does not compile either with the following error: "boost: "cxx11" is not a recognized standard". Here is a workaround by @redjade:

[code]

Once installed, solidity 0.4 will also install.

[2019-04-19 19:21] smarx opened #6560 "Expired certificate on solc-bin.ethereum.org"
I'm not 100% sure this is the right place to report this, but the certificate on https://solc-bin.ethereum.org expired today, and that's breaking Remix, perhaps among other things.

See https://github.com/ethereum/remix/issues/1167.

[2019-04-19 21:31] 3sGgpQ8H opened #6561 "Introduce deployment-time constants"
## Abstract

We suggest introducing new kind of state variables: deployment-time constants.  Such variables may be assigned only once in the constructor of a smart contract.  Constructor should inject values, assigned to such variables, directly into byte code at places where they are read.

## Motivation

Currently Solidity has compile-time constants.  Values of such constants have to be known at

[2019-04-20 08:07] akira-19 commented on #5918
@shunMB Thank you for joining us! We have slack workspace. Can you join this? https://join.slack.com/t/solidity-translation/shared_invite/enQtNTk2NTYwNzcwOTQ2LTlkMzY1MGJiZmM4OWE1ZTc4MjVlYzFiNDkxZTZiZjhmNzhmNGRlNGExM2NiZjFlM2JmMWYzYjU4NzdhZTM1YWE

[2019-04-20 08:59] shunMB commented on #5918
@akira-19 Sure! I just joined the workspace. Thanks!

[2019-04-20 12:02] zulhfreelancer commented on #5449
I wrote a tutorial post here to show how to install 0.4.25 using Homebrew:

https://medium.com/@zulhhandyplast/how-to-install-solidity-0-4-x-on-mac-using-homebrew-8dfadb244f5d

[2019-04-20 20:44] leonardoalt opened #6562 "[SMTChecker] Support state variables of base contracts"
BECToken from https://github.com/ConsenSys/mythril-classic/tree/develop/solidity_examples gives
[code]

[2019-04-20 20:45] leonardoalt commented on #6009
BECToken.sol https://github.com/ethereum/solidity/issues/6562
WalletLibrary.sol #6563

[2019-04-20 22:19] leonardoalt opened #6563 "[SMTChecker] WalletLibrary ICE"
WalletLibrary.sol from https://github.com/ConsenSys/mythril-classic/tree/develop/solidity_examples gives:
[code]

[2019-04-22 04:17] totoroXD commented on #6551
@leonardoalt Yes, you are correct, and my question was misleading. This should only be implementation issue. Thanks.
In Solidity, overflow checking is specified by safemath; then I think this piece of code needs revision.

[2019-04-22 04:18] #6551 closed, assigned to nobody

[2019-04-22 10:51] sifmelcara commented on #6548
So here is my imagination of how will the MVP implementation look like:
[code]
## Notes
#### (B) -> (C)
I'm not sure if this "type labeler" is necessary (to be a separate transformation stage) at this moment. It translates strict assembly to Yul so I guess maybe this can also be useful for solidity to EVM pipeline in the future.
#### (C) -> (D)
We append our own implementation of EVM opcodes to th

[2019-04-22 12:35] sifmelcara commented on #6548
Oh, and FWIW, EVM is big-endian while wasm is little-endian. We need to be careful.

[2019-04-23 03:07] ChrisChinchilla commented on #5918
Amazing! 👏

You can also join us in the Ethereum documentation Gitter channel if you want to ;)

https://gitter.im/ethereum/documentation

[2019-04-23 06:47] chriseth commented on #6548
@sifmelcara yep, that's exactly how I imagined it! Note that we might introduce (semantic) types already at the IR generation stage, for example to distinguish between a memory pointer, a storage pointer and a "regular" number. There should be an issue about that already.

I'll try to finish multi-returns for wasm today, so you could already work on (C) -> (D) already, even though without types (i

[2019-04-23 07:42] chriseth commented on #6560
Thanks for reporting! The certificate should be renewed now.

[2019-04-23 07:42] #6560 closed, assigned to nobody

[2019-04-23 08:17] ashWhiteHat commented on #5918
Thank you for the invitation!

2019年4月23日(火) 12:07 Chris Chinchilla <notifications@github.com>:

[2019-04-23 08:35] chriseth commented on #409
Fixed point numbers are not essential, but they are nice to have. You can always use integers and keep a fractional divisor in your head and for that divisor, it is mostly irrelevant whether it is a power of 2 or of 10. IEEE 754 does not really apply here because it specifies floating-point numbers. If you store the exponent dynamically as in floating point numbers, using powers of two makes more

[2019-04-23 19:29] 3sGgpQ8H commented on #409
No, one cannot just keep divisor in head, and use integers for fixed point, unless the numbers are intrinsically integers (see my previous comment).  Fixed point numbers behave differently when multiplied and divided, for example 2.00 * 3.00 = 6.00, while 200 * 300 = 60000.  And, most importantly, they have different overflow behavior.  For example, if one uses signed 32-bit integers to represent

[2019-04-23 19:43] chriseth commented on #409
@3sGgpQ8H of course you have to adapt some arithmetic operations, but the point I was making is that fixed point numbers do not need any drastically different ABI encoding or memory representation.

[2019-04-23 22:22] decanus opened #6572 "Address Payable Conversion"
Currently the way to convert an `address` to a `payable` one. Is by using `address(uint160(addr))`.

This is a ugly and not understandable on first sight. It would be ideal if there was a nicer way to do this conversion.

[2019-04-23 22:22] fulldecent commented on #409
@chriseth My biggest argument is that the target machine supports only integers so we should support only integers.

My second biggest argument is that there is not widespread use of Exponent.sol or other userland approaches therefore it is wholly premature to add this feature to the language.

---

I'll change my mind when:

1. Metamask actually uses contract ABIs when presenting transactions to

[2019-04-24 05:49] 3sGgpQ8H commented on #409
There is demand for fractional math in Solidity, and non-widespread use of existing libraries as well as lack of high quality full featured libraries is mainly due to the lack of fractional numbers support in Solidity.
While complicated functions, such as exponentiation or logarithm, and probably even basic arithmetic should be left for libraries to allow different implementations to coexist and c

[2019-04-24 09:12] leonardoalt commented on #6572
We are currently thinking about a way of doing that without looking even uglier or more confusing.

One idea was
`address payable a = payable(addr);`

[2019-04-24 09:14] bshastry opened #6574 "[SMTChecker] fails assertion _commonType->category() == Type::Category::Integer"
[code]

fails this assertion

https://github.com/ethereum/solidity/blob/eac0048176e5a38fe8fc9968d4578aa64ef1f599/libsolidity/formal/SMTChecker.cpp#L1084

[2019-04-24 09:36] leonardoalt commented on #6561
Hi @3sGgpQ8H , thanks for the request.
This sounds like a duplicate of https://github.com/ethereum/solidity/issues/3835, can you confirm?

[2019-04-24 09:49] eprabhakar commented on #6123
@panicape
I got into a similar issue, and found that the issue is with the 'experimental ABIEncoderV2'..
I am not sure if you have posted an issue on the [https://ethereum.stackexchange.com/  ](url) and got a response, but I posted the following issue and did not get a response

[https://stackoverflow.com/questions/55772497/truffle-console-command-result-is-not-the-same-as-the-react-redux-async-aw

[2019-04-24 09:51] chriseth commented on #6574
@bshastry on an unrelated note: Do you think filtering out comments would increase the efficiency of the fuzzer? Of course, comment parsing also needs to be tested.

[2019-04-24 10:01] 3sGgpQ8H commented on #6561
#3835 proposes about the same functionality, but suggests different slightly different approach.  I think yes, this could be considered duplicate.

[2019-04-24 10:08] bshastry opened #6575 "[SMTChecker] throws std::bad_cast assertion while dynamically casting a member of type ContractDefinition to one of type ModifierDefinition"
[code]

throws a `std::bad_cast` exception here

https://github.com/ethereum/solidity/blob/eac0048176e5a38fe8fc9968d4578aa64ef1f599/libsolidity/formal/SMTChecker.cpp#L153-L155

[2019-04-24 10:36] bshastry opened #6577 "ossfuzz: Remove comment lines from fuzzing corpus to improve efficiency"
## Description

We source test inputs partly from the Solidity repo itself. These tests contain expectations as commented lines of code. It may be more efficient to remove comments entirely from the fuzzing set.

(see https://github.com/ethereum/solidity/issues/6574#issuecomment-486153558)

[2019-04-24 10:37] bshastry commented on #6574
@chriseth Indeed, that makes sense

[2019-04-24 11:43] rainbreak opened #6581 "Don't restrict use of callvalue in assembly"
From the 0.5.7 changelog:

This is a fairly annoying change for libraries that use `callvalue` in a general setting as they now have to specialise into payable and non-payable forms.

The restriction on use of `msg.value` was perhaps reasonable, but restricting specific opcodes in inline-assembly is overly restrictive.

[2019-04-24 11:46] chriseth commented on #6581
I tend to agree here, also not checking `callvalue` does not "hurt" too much.

[2019-04-24 11:49] #6528 closed, assigned to nobody

[2019-04-24 13:00] rainbreak opened #6584 "Have modifiers JUMP rather than inlining"
The code of a modifier is currently copied into the function to which it is applied. Instead, I suggest to treat the modifier more like an internal function and to use a `jump` instead.

This has some benefits:

1. Reduces codesize of contracts through code reuse.
2. Some static analysis can be made more efficient (e.g. lemmas can be made for internal functions much more easily than inlined code).

[2019-04-24 13:12] rainbreak opened #6586 "allow inlining of constant constructor variables"
Currently the constructor does not respect the `constant` keyword and occupies storage slots unnecessarily.

[code]

Here, the function `get` will sload `x` from the first storage slot. However `x` could have instead been inlined into the contract code, avoiding using up any slots and avoiding a relatively expensive sload. This would be important in contracts that use delegatecall and wish to avoi

[2019-04-24 13:20] livnev commented on #6584
To be precise, what seems to happen when you use modifiers is that the execution jumps to a new location in the bytecode to execute the modifier, similarly to "internal calls", however the code that it jumps to seems to be duplicated for every use of the modifier, instead of sharing the same code like you would expect.

[2019-04-24 13:23] bshastry commented on #6532
Sorry, forgot to respond. I agree.

[2019-04-24 14:03] chriseth commented on #6584
This would require adding a "jump in PC" and a "return PC" as arguments to each modifier. I think we have to revisit this when we implement modifiers in the Solidity -> Yul code generation, but I don't think this will be feasible to implement with the old code generator.

[2019-04-24 14:05] chriseth commented on #6586
This code does not compile for me and it actually should not occupy any storage slot. Is this intended as a bug report or a feature request?

[2019-04-24 14:10] chriseth commented on #6586
This might be a duplicate of https://github.com/ethereum/solidity/issues/3835

[2019-04-24 15:23] rainbreak commented on #6586
Sorry, yes this is a duplicate. Also of https://github.com/ethereum/solidity/issues/6561

[2019-04-24 15:23] #6586 closed, assigned to nobody

[2019-04-24 16:50] bshastry opened #6587 "ossfuzz nightly: Treat libFuzzer errors as failures"
## Description

The nightly CI is expected to handle three broad class of errors:
  - Memory leaks
  - Out-of-bounds access violations
  - unexpected termination due to exceptions, assertions etc.

It was discovered in the nightly CI logs that support for handling unexpected termination is missing from the regressions python script.

Due to this, unexpected terminations are not treated as errors b

[2019-04-24 18:03] sifmelcara commented on #6548
I decide to exchange the order of (C) -> (D) and (D) -> (E) pipeline, by doing this, we don't even need `packu256`, `unpacku256` and type conversion functions anymore.

I remember there was a discussion about whether we want to allow the following code to work, but I can't find the discussion anymore
[code]
Any ideas? Maybe I can assume input is always pseudo-SSA to side-step this complicate case

[2019-04-24 20:07] #5229 closed, assigned to nobody

[2019-04-24 20:10] decanus commented on #6572
@leonardoalt I think the above solution is definitely better than what we currently have.

[2019-04-24 20:14] chriseth commented on #6548
Currently the only place where a function that returns multiple values can be used is in a variable declaration or an assignment.

We should probably take a look at some more examples to see whether replacing EVM functions by eWasm functions or removing large types makes more sense to do first. Depending on what is done first, we either need multi-variable versions of EVM opcodes or large-type ver

[2019-04-25 01:45] fulldecent commented on #409
For interop, are you talking about updating the ABI specification? That would be an EIP.

If libraries are not in widespread use then what other workarounds are people using the solve the real world problems that exist?

When I’m in a park or forest sometimes I’ll see a worn out dirt path in the grass. This is a good sign that a lot of people want to walk from one place to another even if there is

[2019-04-25 02:46] sifmelcara commented on #6548
I think the difference is how "ewasm's implementation of Functional Instruction" 's interface will look like: `add(u256, u256) -> u256` v.s `add(u64, u64, u64, u64, u64, u64, u64, u64) -> u64, u64, u64, u64`.

So... the question is, how can we convert the following code's type from u256 to four u64?
[code]
If we simply replace u256 by four u64, the code becomes:
[code]
which is not valid.

A lazy

[2019-04-25 07:06] chriseth commented on #6548
Yes indeed, we need the expression splitter! Also my hope is that we can have a transform that removes some of those variables if we can show that the values before the transformation are small enough (I think we also have an issue about that).

[2019-04-25 07:25] #6587 closed, assigned to bshastry

[2019-04-25 07:42] sifmelcara commented on #6548
I agree! I think this is kind of https://en.wikipedia.org/wiki/Value_range_analysis and should be part of the optimization phases.

I have finished the u256 to four u64 transformation (except `If` and `Switch`, and currently assume we have #6480 and expression splitter). Currently it feels like

[code]
A `Switch` can be implemented by 4-layer nesting `Switch`. And `If` can be translated to `Switch

[2019-04-25 07:48] chriseth commented on #6548
Looks great! Can you create a pull request for that?
Hm, I have to admit that I haven't thought about switch, that is a bit nasty.
If should be rather easy, though, you can use `if x` -> `if or(or(x_1, x_2), or(x_3, x_4))`. If we had real types, this would not be a problem since a `bool `always fits 64 bits :)

[2019-04-25 07:55] chriseth commented on #409
We have a certain kind of a chicken-and-egg problem here and I think you cannot measure the demand by how many people implement workaround. Quoting an analogy from bicycle lane advocates: You cannot measure the demand for a bridge by the number of people swimming across a river.

One of the advantages of fixed point types supported by the compiler you cannot get by any other means is using operato

[2019-04-25 08:06] bshastry opened #6590 "[Yul] optimizer takes too long on recursive function call in switch case statement"
(Found by libFuzzer + LPM)

[code]

Somewhat related to #6528 in that the recursive call happens within the scope of a for-loop body. Nonetheless, this input does not slow down the optimizer as much (about 10 seconds) as #6528 (which did not finish in over 20 minutes).

[2019-04-25 08:51] sifmelcara commented on #6548
This work apparently depends on #6547 so I planned to open PR after #6547 merge. (Just to avoid the need to force push again)

Oh! I actually can do this. Previously I was thinking that this will cause trouble because both EVM and eWasm have `or`. But actually one is `FunctionalInstruction` and the other is `FunctionCall`. They are different in memory representation of yul AST.

[2019-04-25 09:19] chriseth commented on #6548
Don't have any false illusions about not having to force-push :)

Corncerning the or: What is the set of builtin functions you want to use after splitting up the variables? You do need something in between don't you? Ah, and after https://github.com/ethereum/solidity/pull/6579 we probably plan to rename the wasm functions to `i64.add` (just how they are called in the wasm spec) - so you could actu

[2019-04-25 09:20] #6532 closed, assigned to nobody

[2019-04-25 09:20] #6541 closed, assigned to nobody

[2019-04-25 09:21] bshastry opened #6592 "[Yul] create new exception class for excessive asm errors"
When AssemblyStack `parseAndAnalyze` API encounters too many (over 256) parsing errors, it throws a `FatalError` exception

https://github.com/ethereum/solidity/blob/eea425a3f6a9754066231f756c3bbd76c246acd4/liblangutil/ErrorReporter.cpp#L109-L115

This is indistinguishable from other `FatalError` throws e.g.,

https://github.com/ethereum/solidity/blob/eea425a3f6a9754066231f756c3bbd76c246acd4/libso

[2019-04-25 09:23] chriseth commented on #6592
FatalError should not be an error condition for the fuzzer, it just means that no further parsing will be done.

[2019-04-25 09:23] chriseth commented on #6592
Or is this about the protobuf based fuzzer?

[2019-04-25 09:27] bshastry commented on #6592
Does this mean we should be catching FatalErrors thrown by `parseAndAnalyze` in the fuzzing harnesses?

No, this is about the non protobuf based fuzzers that may synthesize random junk on a regular basis, leading to too many parsing errors.

[2019-04-25 09:31] chriseth commented on #6592
Actually, that FatalError should not leak out of the assembly stack. I'll take a look.

[2019-04-25 09:31] chriseth commented on #6592
So you are right, it should be an error condition because it should not be leaked.

[2019-04-25 09:32] bshastry commented on #6592
Here's the current snippet of the Assembly stack API in question

https://github.com/ethereum/solidity/blob/b6bb3ae4821c1ae3c545a07819d8692b15eba6a7/libyul/AssemblyStack.cpp#L72-L84

Should we change it to something like?

[code]

[2019-04-25 09:34] chriseth commented on #6592
Yep, I'm working on it already.

[2019-04-25 09:38] chriseth commented on #6590
I think the best thing to do here is to either tune the code size metric itself or change the inlining limit in the inliner. It might also be that the non-full inliner (which does not really use the metric) could be the cause of the problem here.

[2019-04-25 09:42] chriseth commented on #6590
I think the culprit is the code size metric for the full inliner, it does not really take for loops, switches and all that into account.

[2019-04-25 10:55] leonardoalt commented on #6525
[code]
In this example the invalid tag is the same as `z`'s and a call to `run` does not revert, changing `x` instead.

[2019-04-25 11:01] 3sGgpQ8H commented on #409
@fulldecent  By library interop problem I mean situation when developer wants to use in one contract fractional math functions from several libraries, but cannot do this efficiently, because each library uses its own format for fractional numbers.

[2019-04-25 11:02] sifmelcara commented on #6548
Probably only `i64.or` for `If`?

[2019-04-25 12:12] chriseth commented on #6548
But doesn't that mean that you have to do both steps (splitting variables and changing functions) at the same time?

[2019-04-25 12:29] chriseth commented on #6479
Implemented in #6521

[2019-04-25 12:29] #6479 closed, assigned to Marenz

[2019-04-25 14:30] #6525 closed, assigned to chriseth

[2019-04-25 14:57] #4108 closed, assigned to nobody

[2019-04-25 15:08] #6592 closed, assigned to bshastry

[2019-04-25 15:22] avatar-lavventura commented on #5449
=> Is it possible to install `0.4.24` or maybe later version as well ? @zulhfreelancer

[2019-04-25 15:29] #5262 closed, assigned to nobody

[2019-04-25 18:31] fulldecent commented on #409
I do not see a chicken and egg problem here. If smart contract developers want to do something they will do it. They don't just swim across the river, they swim through rock. Nothing about this new feature enables additional programming techniques. Everything is already possible with `x / 10**18`. Additionally, nothing in this feature is end user-facing; all client software still needs to divide b

[2019-04-25 20:21] 3sGgpQ8H commented on #409
There is no lack of smart contracts that operate with fraction numbers using various workarounds.  Fraction numbers are actually widespread in Ethereum world.  What is not widespread, and you correctly mentioned it, is use of fractional math libraries.
The fact that most of such contracts do not go further than `y = x * 3 / 100` does not mean that they really want two decimals fixed point math and

[2019-04-25 23:15] fulldecent commented on #409
We're getting closer here.

Can you please provide references for this unnamed cache of contracts (with actual users) which are operating on fractions and would benefit from these proposed new features?

[2019-04-25 23:19] zulhfreelancer commented on #5449
@avatar-lavventura I don't think so. Why you specifically need `0.4.24` though?

[2019-04-26 04:59] 3sGgpQ8H commented on #409
@fulldecent  Sure.  As a professional smart contract auditor I see various workarounds for missing fraction numbers in virtually every contract I review, and repetitive issues in naive implementations of such workarounds.  As a professional smart contracts developer, I have to implement different sorts of workaround in virtually every contract I develop.  Though, my personal experience might be no

[2019-04-26 05:54] sifmelcara commented on #6548
Hmm... Sorry I don't understand your question. After applying this `WordSizeTransform`, the tasks left is to implement builtins like `add(u64, u64, u64, u64, u64, u64, u64, u64) -> u64, u64, u64, u64` in `WasmDialect`. Am I correct?

[2019-04-26 06:00] sifmelcara commented on #6548
(This assumes that we want to support both `add(u64, u64, u64, u64, u64, u64, u64, u64) -> u64, u64, u64, u64` and `i64.add()` as builtin)

[2019-04-26 06:45] avatar-lavventura commented on #5449
I am required to user `0.4.24` for using `populus`. Please see: https://github.com/ethereum/populus/issues/450#issuecomment-411283048 @zulhfreelancer

[2019-04-26 09:52] bshastry opened #6601 "[ossfuzz] Nightly failure due to unparseable test log file"
## Description

The approach that we take to report a regression failure is to first run the fuzzer against the regression corpus logging its output in the process, and later parsing this log output for errors. The error itself is captured using a simple regular expression.

Problem: Sometimes the log may contain binary characters that are not parseable using a fixed encoding set (e.g., ascii, utf

[2019-04-26 10:14] leonardoalt commented on #6601
Would it be possible to detect the encoding and parse correctly?

[2019-04-26 10:43] bshastry commented on #6601
It may complicate things further. I am not sure we should care about the encoding though because sometimes the fuzzer logs random bytes that may not be captured by a single encoding apriori. The log is essentially a text file which is (sometimes) polluted by random bytes written by the fuzzer

[2019-04-27 09:14] SnBetter opened #6607 "solidity 0.3.1 compile failed"
## Description
Sorry for asking a outdated question. I have to compile solidity 0.3.1 beacuse of some reasons. But it is failed beacuse of without dependent repositories what I can't find. The error is like this:

sion@root:/home/dapp/nas/solc-versions/solc-library/solidity/build$ make
[  0%] Built target solidity_BuildInfo.h
Scanning dependencies of target evmasm
[  1%] Building CXX object libevm

[2019-04-28 08:09] daniyarchambylov opened #6608 "Unable to compile sources on Windows 10 when sources have paths with backslashes"
I'm passing input data to `solc.compile` where source paths have backslashes, because that's what `path.resolve` produces on Windows OS, but I get error. But when I pass sources with forward slashes as in Unix style sources compiled normally.

**Working example**
[code]

**Not working**
[code]
Error message that I'm getting is:
[code]

[2019-04-28 11:12] zerjioang commented on #6436
I do have the same misconfiguration problem when using Ubuntu 18 on ARM (armv7l) device. Is there a final solution to this issue?

[2019-04-29 07:49] #6590 closed, assigned to nobody

[2019-04-29 08:03] leonardoalt commented on #6436
@zerjioang so far we've encountered no issues on the build system side.
In @anurag-git 's case it looks like the executable is not installed.
Can you please open `CMakeCache.txt` and check variables `Z3_EXECUTABLE`, `Z3_INCLUDE_DIR` and `Z3_LIBRARY`?

[2019-04-29 08:12] #6601 closed, assigned to bshastry

[2019-04-29 08:15] #6509 closed, assigned to erak

[2019-04-29 09:59] zerjioang commented on #6436
@leonardoalt my Z3 installer was missing, I just install it with apt and everything was fine. I thought it was automatically installed after running install_deps script

[2019-04-29 10:35] leonardoalt commented on #6436
Ok, good!
I'll close the issue then.
@anurag-git please re-open if it still doesn't work for you after installing the executable.

[2019-04-29 10:35] #6436 closed, assigned to nobody

[2019-04-29 10:53] bshastry commented on #5810
Does #6160 close this issue? This is flagged as "needs review" in the 0.5.8 project.

[2019-04-29 10:54] bshastry commented on #6214
Does #6530 close this issue? Came here from 0.5.8 project "needs review" tickets.

[2019-04-29 12:32] chriseth commented on #5810
Neither this nor #6160 will be included in the 0.5.8 release.

[2019-04-29 12:33] #6497 closed, assigned to leonardoalt

[2019-04-29 12:34] bshastry opened #6613 "[ossfuzz] nightly CI times out because of no console output for over 10 minutes"
## Description

Each fuzzer that is part of the nightly CI runs thousands of regression tests which, in one case, (unoptimized solc invocation) can take over 10 minutes to complete.

CircleCI times out such runs because it does not witness any output on the console.

Proposed solution: Print a "dot" every 5 minutes so as to not trigger a circle CI timeout.

[2019-04-29 12:36] chriseth commented on #6608
Please not that regardless of the platform, Solidity's internal directory separator is always `/`, so your examples are perfectly according to the specification. Please reopen if I misunderstood something.

[2019-04-29 12:44] chriseth commented on #6548
I think I lost some context here. I'll just wait what you come up with, if you don't mind :)

[2019-04-29 12:48] chriseth commented on #6350
Fixed by https://github.com/ethereum/solidity/pull/6595

[2019-04-29 12:48] #6350 closed, assigned to nobody

[2019-04-29 12:51] chriseth commented on #6378
Fixed by https://github.com/ethereum/solidity/pull/6598

[2019-04-29 12:51] #6378 closed, assigned to nobody

[2019-04-29 12:56] Marenz commented on #4576
Couldn't we just reuse `break`?

[2019-04-29 13:02] bshastry opened #6615 "[ossfuzz] Timeout values for fuzzer regression tests"
## Description

Do we want to know when some test input takes too long to process, where too long may be defined as taking time `t` longer than `MAX_TIME`? I understand that `MAX_TIME` is subjective to each fuzzer, so I created the following table with an initial draft of `MAX_TIME` to kick off the discussion

Fuzzer | Description | MAX_TIME (in seconds)
------------ | ------------- | ------------

[2019-04-29 13:08] spalladino commented on #6497
Thanks folks!!

[2019-04-29 13:12] chriseth commented on #6607
I think back in those days we still used submodules. You might need https://github.com/ethereum/webthree-umbrella/ and other repositories.

[2019-04-29 13:27] Marenz opened #6617 "Variables can be called `super` or `this`"
[code]

[2019-04-29 13:34] chriseth commented on #6617
`blockhash` and `gasleft` produce the following warning: `Warning: This declaration shadows a builtin symbol.` - the same should be the case for `super` and `this`. We will fix this properly with 0.6.0.

[2019-04-29 13:49] chriseth opened #6619 "[Yul] Optimize for loops with "true" condition"
A for loop whose condition is always true, whose body ends in a `break` statement and which does not contain any other `break` or `continue` statement can be simplified to its body without the `break` statement at the end.

[2019-04-29 13:55] bshastry commented on #6619
Won't optimizing

[code]

to

[code]

be wrong?

[2019-04-29 13:57] bshastry commented on #6619
Ah, nevermind. I suppose you meant optimizing it to

[code]

which is correct.

[2019-04-29 14:26] #6613 closed, assigned to bshastry

[2019-04-29 14:27] chriseth commented on #6619
Of course, pre also has to be empty.

[2019-04-29 19:25] g-r-a-n-t commented on #6216
@vs77bb Could you please take a look at this work?

[2019-04-29 19:33] sifmelcara commented on #6548
Sorry that I somewhat messed up the discussion. Here is the current planning in my mind (much simpler to implement!):

[code]

Comparing to previous plan, major differences are:

1. Use strict assembly for the whole process.
2. Instead of implement EVM instructions in Yul, we implement them in wasm text representation.

#### (C) -> (D)

We should generate a function call In #6556 `wasm::Expression

[2019-04-29 19:48] bshastry opened #6623 "[ossfuzz] nightly CI fails on first error instead of running through and summarizing all errors at the end of the run"
## Description

Bug 1: At the moment, the nightly regression tests fail on first failure. Instead we should continue past failing tests and show a summary of all failures.

Proposed solution: Maintain a python array of state of each test and return `all()` of the boolean array.

Bug 2: Test status is not propagated to python script's exit status e.g., via `sys.exit()`

Proposed solution: Modify th

[2019-04-30 03:46] daniyarchambylov commented on #6608
@chriseth unlike Unix Windows uses backslash `\` as a directory separator. If we run following snippet on Windows

[code]
The output will be
[code]
For some reason compiler can't find  source file with path `C:\MetaCoin\contracts\ConvertLib.sol`, but has no problem with `C:/MetaCoin/contracts/ConvertLib.sol`

[2019-04-30 07:56] chriseth commented on #4111
This is actually implemented in the structural simplifier.

[2019-04-30 07:56] #4111 closed, assigned to nobody

[2019-04-30 08:01] chriseth commented on #5405
The relevant function is `void CodeTransform::operator()(FunctionDefinition const& _function)` - the task is to avoid the line `m_assembly.appendJumpTo(afterFunction, -stackHeightBefore + height);`.

It could be determined inside `void CodeTransform::operator()(Block const& _block)` what the last function in a series of functions is.

Note that it is probably fine to only do in the topmost block a

[2019-04-30 08:01] chriseth commented on #5409
The place to add this would be EVMCodeTransform.cpp:365. The stack height probably has to be adjusted manually (`m_stackAdjustment` has to be modified) and something similar to what is done inside `freeUnusedVariables` has to be done.

[2019-04-30 09:26] bshastry opened #6624 "[ossfuzz] speed up nightly CI"
## Description

The ossfuzz regression suite comprises a total of 92064 test inputs across 8 different fuzzers. At the moment, the nightly CI runs each of them in a single process sequentially. This can take over an hour, sometimes two.

To speed up, we would have to run tests in parallel across multiple processes.

[2019-04-30 10:22] bshastry opened #6626 "[ossfuzz] Ternary opcode was added but wasn't visited in the converter"
## Description

Support for generating ternary opcodes (see #6296 ) was added in PR #6554 . But that PR did not contain the visitation logic to actually generate the said opcode from the proto spec.

[2019-04-30 11:01] chriseth commented on #6608
@daniyarchambylov I'm sorry, but I don't fully understand. In the initial issue description, you provided a solidity standard-json input string. This one only knows `/` as a directory separator. Furthermore, the paths inside this input string do not even have to exist on your system, they are mainly identifiers for use in the compiler.

Furthermore, `import` statements inside Solidity also only kn

[2019-04-30 12:34] erak commented on #6624
We also need to keep in mind that the external tests will be run nightly only very soon. So I think in general it's a good idea to split up all tasks into several jobs and let Circle do the parallelization.

[2019-04-30 13:09] #6332 closed, assigned to bshastry

[2019-04-30 13:11] chriseth commented on #6624
Can you explain again why the ossfuzz regression test input is so big?

[2019-04-30 13:37] chriseth opened #6632 "Standard compiler structured error messages do not contain secondary source locations"
The function Json::Value formatErrorWithException in StandardComplier.cpp ignores the secondary source location (it is just taken into account for formattedMessage, but not for the structured data).

[2019-04-30 13:37] chriseth commented on #6632
This probably requires also defining the syntax for secondary source locations for the standard io interface.

[2019-04-30 15:07] bshastry commented on #6624
@chriseth The corpus contains a minimal set cover of all branches covered by test inputs. The minimal set cover across all fuzzers happens to require these many inputs. Moreover, as more code is added, the number of branches increases and so does the set cover.

What I do is fetch the fuzzer corpora from the google database from time to time and push the set cover to the solidity-fuzzing-repo.

[2019-04-30 15:13] bshastry commented on #6624
@erak Sounds good, happy to discuss further about how to best do the parallelization.

[2019-05-01 06:48] daniyarchambylov commented on #6608
@chriseth  Please look at this input
[code]
The error is:
[code]
But ConverLib.sol file is present
[code]

[2019-05-01 09:04] bshastry opened #6642 "[Yul] Is this the result of memory opcode optimizations?"
## Description

[code]

produces the following trace

[code]

and it's optimized version

[code]

produces the following (different) trace

NOTE: The following lines are missing from the optimized trace
[code]

[code]

If this can be attributed to memory opcode optimization, we may need to think of how we compare traces.

[2019-05-01 10:45] NicolaBernini opened #6643 "[CommonIO] readFile and issues management"
The File Reading Operation have 2 possible failure reasons

1) File does not exist

https://github.com/ethereum/solidity/blob/develop/libdevcore/CommonIO.cpp#L49

2) File is empty

https://github.com/ethereum/solidity/blob/develop/libdevcore/CommonIO.cpp#L55

both are managed just returning an empty (or better, default constructed return type) but would not it be better to raise an exception ?

Ma

[2019-05-01 14:42] sunbeomso opened #6644 "SMTChecker works in solc v. 0.4.25"
## Description

I wonder whether my usage of SMTChecker is correct or not.
According to Solidity official docs, SMTChecker is enabled starting from "solc v. 0.5.0":
https://solidity.readthedocs.io/en/v0.5.6/050-breaking-changes.html?highlight=smtchecker

However, I checked that SMTChecker works, although the solc version installed in my machine is 0.4.25 (I tested on macOS 10.14).

## Question
Reg

[2019-05-01 16:44] leonardoalt commented on #6644
Hi @SunBeomSo ,
the SMTChecker component is enabled in 0.4.x as well, that comment in the docs just highlights that the SMTChecker is the alternative to the old `--formal` option which was removed in 0.5.0.
The difference you will see in the usage of the SMTChecker in different versions of the compiler is that the older a version is, the fewer features the SMTChecker has, especially since we've re

[2019-05-01 16:51] asymmetric commented on #6561
Can this be closed then?

[2019-05-01 17:26] bshastry commented on #6642
Notes on unoptimized program trace
- Foo called
- mstore(1,1) msize()=32
- keccak(1,32) > 1 msize()=64
- continue
- post block Foo called
- mstore(1,1)
- keccak (1,64) < 1 msize()=96
- return from post block Foo
- keccak (1,96) < 1 msize()=128
- return to Foo call site

What I don't understand in the trace of the optimized program is why the for loop condition is not evaluated on return from the p

[2019-05-01 17:37] bshastry commented on #6642
Looks like a bug in the Yul interpreter but am not sure.

[2019-05-02 03:49] sunbeomso commented on #6644
@leonardoalt thanks for the response. I close the issue.

[2019-05-02 03:49] #6644 closed, assigned to nobody

[2019-05-02 07:39] chriseth commented on #6642
@bshastry I would also say it is a bug in the interpreter, I cannot find a semantic difference between the two programs.

[2019-05-02 07:42] #6561 closed, assigned to nobody

[2019-05-02 07:43] chriseth commented on #6608
The binary you are using (or the way you are using it) does not support retrieving files from your filesystem on its own. All of the files have to be supplied as part of the input json structure.

[2019-05-02 07:46] chriseth commented on #6643
Thanks for discovering that!
Throwing an exception is probably a good idea, yes. Of course, all call sites have to be checked if they properly check if the file exists before calling that function.

[2019-05-02 07:50] #6575 closed, assigned to leonardoalt

[2019-05-02 08:31] daniyarchambylov commented on #6608
Ok, so how come changing backslash to forward slash doesn't throw an exception?

[2019-05-02 08:47] #6455 closed, assigned to nobody

[2019-05-02 08:49] chriseth commented on #6608
If you have a file called `a/b/c`, then `import "./x";` will look for `a/b/x` in your json structure, while if it is called `a\b\c`, then it will look for just `x` (I think), since `\` is considered to be part of the file name.

[2019-05-02 08:49] #6562 closed, assigned to nobody

[2019-05-02 09:04] chriseth commented on #6478
We might also complete all of https://github.com/hyperledger-labs/solang#what-is-implemented-so-far

[2019-05-02 09:09] daniyarchambylov commented on #6608
You can't use import as `import ".\x" or `import ".\\x"' it's illegal. But we're using Windows OS for development and the way path  is resolved is that OS is using `\` for directory separator. So if we have "import ./x"  in a file called `a\b\c` it should search for `a\b\x`.  That's just how Windows behaves. But on unix `\` will be part of the filename.

[2019-05-02 09:21] chriseth commented on #6608
I think we are turning a little in circles here. Solidity when used in standard-json mode is fully platform independent. This is a requirement so that you can re-compile the same source to the same binary on all platforms. Standard-json does not care about the directory separator on the platform in is used on. It will always use slash. If you are running a web server on windows, the URLs you use a

[2019-05-02 09:41] daniyarchambylov commented on #6608
It's not URL, it's file path. for source path I use something like
[code]

[2019-05-02 09:45] chriseth commented on #6608
Nice, so all you have to do is convert the windows path to the unix path before you feed it into solc-js!

[2019-05-02 09:49] #6623 closed, assigned to bshastry

[2019-05-02 09:57] erak commented on #5956
Testing ABIEncoderV2 with any new external project that we add is also important: https://github.com/ethereum/solidity/issues/5956

[2019-05-02 10:21] daniyarchambylov commented on #6608
Sure that's what I'm doing right now! But I thought solc-js should have supported windows path in the first place :sweat_smile:

[2019-05-02 10:30] chriseth commented on #6608
Ok, I see! Supporting that would hurt reproducibility: https://github.com/ethereum/solidity/issues/6608#issuecomment-488607026

[2019-05-02 10:38] #6617 closed, assigned to Marenz

[2019-05-02 10:53] Marenz opened #6650 "[Sol -> Yul] Implement StringLiterals"
Example that should work:
[code]

[2019-05-02 10:53] Marenz opened #6651 "[Sol -> Yul]: Add tests for `require()` when used with a string literal"
Depends on #6650

[2019-05-02 11:50] vedant1811 commented on #6489
I am getting a similar issue trying to get the exponent example to compile:

test.yul:
[code]

command ouput:

[code]

[2019-05-02 12:07] bshastry opened #6653 "[ossfuzz] refactor build system so that fuzzing test harnesses can be built locally"
## Abstract

At the moment, we rely on the ossfuzz build CI to check if fuzzers build correctly.

Problem: PRs that change fuzzer harness code need to wait until CI run completes to detect compilation issues.

## Motivation

Solution: Change the existing build structure such that harnesses could be built locally, and only the external dependency linkage is left to the ossfuzz build CI.

## Specifi

[2019-05-02 12:45] bshastry commented on #6653
I'm not sure how to implement this without having to pre-build the external dependencies
- libFuzzer
- libProtobufMutator

@chriseth would you be open to adding this to the list of external dependencies at the cost of increasing SLoC count and build time? The benefit, of course, is we don't have to wait for the ossfuzz CI to finish to know of compilation issues in fuzzer code.

[2019-05-02 13:26] bshastry commented on #6626
closed via #6627

[2019-05-02 13:43] chriseth commented on #6650
The big problem here is that string literals do not have any data representation, i.e. they are represented by zero variables or zero stack slots.

[2019-05-02 13:49] chriseth commented on #6489
@vedant1811 you cannot use types with `--strict-assembly`. Types are not yet implemented at all.

[2019-05-02 13:54] vedant1811 commented on #6489
@chriseth Thanks that worked :)
I guess the docs need to be updated with that as well. Hopefully I will get time to submit a PR soon

[2019-05-02 15:25] #6451 closed, assigned to erak

[2019-05-02 16:45] #6493 closed, assigned to bshastry

[2019-05-02 17:35] bshastry opened #6661 "[yul interpreter] wrong loop state leads to misinterpreted statements inside for loop post block"
## Description

[code]

should store `1` at offset `0` at program termination but stores `0` instead.

## Environment

- Compiler version: latest develop

[2019-05-02 17:37] bshastry commented on #6661
The reason is a for-loop post block is different than for-loop body block. At the moment, they are treated identically by the interpreter.

We should be ~~backing up loop state prior to entering post-block, setting it to default, and restoring on return from post-block.~~ resetting loop state prior to entering post-block.

[2019-05-02 17:53] bshastry commented on #6642
Opened a new issue for this #6661

[2019-05-02 17:53] #6642 closed, assigned to bshastry

[2019-05-03 03:30] vedant1811 commented on #5405
From what I understand,

`{ function f() {} function g() {} sstore(0, 1) }`

currently generates:

[code]

Instead, it should be optimised to

[code]

[2019-05-03 11:06] chriseth commented on #5405
Exactly, and `tag_1 jump(tag_3)` should be removed entirely.

[2019-05-04 16:37] gluk64 commented on #1686
Here is a bash script to fetch revert reason:

https://ethereum.stackexchange.com/a/70391/3558

[2019-05-06 06:51] vedant1811 commented on #5405
I have started working on it: https://github.com/ethereum/solidity/pull/6666

Do you think the approach of adding mutable variables to `struct FunctionDefinition` is the way to go?

[2019-05-06 08:15] bshastry opened #6667 "[ossfuzz] Flaky nightly CI failure"
## Description

The differential proto fuzzer is consistently failing in the nightly CI. This means that the nightly CI believes there is a difference in traces of unoptimized and optimized yul code.

The failure is seen for

[code]

OR

[code]

OR

[code]

but is not reproducible with clang-9 or clang-6. The CI uses clang-7.

## Environment

- Compiler version: latest develop

[2019-05-06 09:12] erak opened #6669 "Isoltest improvements"
Came out of a discussion with @chriseth:
- Make `->` optional
- Allow functions to return `FAILURE` with an additional error message
- Add line numbers to parsing errors
- It should be possible to explicitly call functions that do not exist, without letting the test fail
- Ensure that all types can be encoded

[2019-05-06 09:21] #6661 closed, assigned to bshastry

[2019-05-06 09:21] bshastry commented on #6667
For
[code]

[code]

[2019-05-06 09:24] chriseth commented on #6669
The system should detect whether the function you want to call does exist or not.

[2019-05-06 09:29] bshastry commented on #6667
It looks like this function inside the yul interpreter miscomputes the exponentiation

https://github.com/ethereum/solidity/blob/35677019a3216938b76acd6f3ab53899814f8790/test/tools/yulInterpreter/EVMInstructionInterpreter.cpp#L39-L51

Here's how the optimizer computes exponentiation

https://github.com/ethereum/solidity/blob/36c78baa41e283df3327fd01ff4f5f038c4681ee/libevmasm/RuleList.h#L71

[2019-05-06 09:46] chriseth commented on #6548
I think it would be better to do (D) -> (E) still in strict assembly mode (of course with different types and different builtins), because it allows us to still optimize the code afterwards, for example if we can determine that certain variables do not use higher order bits.

[2019-05-06 09:59] sifmelcara commented on #6548
How about utilizing binaryen's optimization passes? it have wasm-specific optimization so probably is more effective comparing to general-purpose yul optimizations.

[2019-05-06 10:36] chriseth commented on #6548
I would still like to use our optimizer if that is an easy thing to do. We can always use binaryen/llvm/whatever afterwards.

[2019-05-06 12:26] MicahZoltu opened #6671 "delegatecall.value gives error about value only being available for payable functions."
## Description
In the following code, the banana function will not compile, instead erroring with:

Note that the same method using `call` does not result in a compiler error
[code]
[code]

## Environment

- Compiler version: 0.5.8
- Target EVM version (as per compiler settings): default (remix)
- Framework/IDE (e.g. Truffle or Remix): None
- EVM execution environment / backend / blockchain client

[2019-05-06 13:17] leonardoalt opened #6673 "[SMTChecker] Do not add assertion condition after check"
Currently every assertion is added as a constraint after its check. For inconsistent cases this leads to every following query to be UNSAT.
We should add the assertion as a constraint only if the solver returns `unknown`.

[2019-05-06 13:41] #6626 closed, assigned to bshastry

[2019-05-06 14:55] Marenz commented on #6671
I spoke with @ekpyron and from what we gather a `delegatecall` doesn't have a `value()` member and we couldn't even generate code for it.

Did you maybe mean to use `gas()` instead?

[2019-05-06 14:59] MicahZoltu commented on #6671
No, gas was not what I intended.  Are delegate calls equivalent to internal calls where the `msg.sender` and `msg.value` are not changed when the call is made?

[2019-05-06 15:00] MicahZoltu commented on #6671
(for anyone following via email, I had a critical typo in previous comment, I meant to say "gas was not what I intended.  edited comment in GitHub)

[2019-05-06 15:04] MicahZoltu commented on #6671
Ah, it is like an internal solidity call.  From yellow paper:

[2019-05-06 15:05] MicahZoltu commented on #6671
I closed the issue, but realized the error message could be better.  Reopening so you all can decide if improving the error message is something worth doing.

[2019-05-06 15:35] leonardoalt opened #6674 "[SMTChecker] Support delete for multi-d array"
This is just a case of assignment to multi-d array/mapping https://github.com/ethereum/solidity/issues/5629

[2019-05-06 16:17] Marenz commented on #6643
If all call sites check if the file exists the exception would effectively become an assert because we assume it shouldn't happen? I don't understand the motivation for checking at call site if we throw an exception anyway.

[2019-05-06 16:40] chriseth commented on #6671
I agree, the error message could be better. Should be an easy task, though.

[2019-05-06 17:09] chriseth opened #6676 "Conditionals for Whiskers"
Using whiskers, we often face the problem that we have to generate slightly different code depending on settings, properties of certain types or features of the machine we generate code for. This is manageable to some degree just with parameters. The problem is that template substitution is not performed for the parameter values. Furthermore, it is not directly visible which two alternatives will

[2019-05-06 18:29] bshastry commented on #6667
Not much progress on this. Have a feeling this may be a boost bug

Ubuntu distro | Boost version | Bug reproduces? |
------------------| --------------------| --------------------|
Bionic  | 1.65 | No |
Cosmic | 1.67 | Yes |
NA (source build) | 1.69 | No |

[2019-05-06 18:34] #6165 closed, assigned to bshastry

[2019-05-06 18:51] bshastry commented on #6667
Note to self: bug no longer reproduces when downgrading CI env from ubuntu cosmic (18.10 uses 1.67 boost) to ubuntu bionic (18.04 uses 1.65 boost).

- boost::multiprecision::powm seems to be bug free
- bug is potentially in one of the mp ops in the hand-written exponentiation function in the yul interpreter

[2019-05-06 21:32] chriseth commented on #6667
I think this is the change of behaviour from "undefined but buggy" to "defined" in the conversion to smaller type. I'll try to create a fix PR.

[2019-05-06 21:35] chriseth commented on #6667
PR is here: https://github.com/ethereum/solidity/pull/6680 - can you please check if it fixes the problem?

[2019-05-07 00:06] JonahGroendal commented on #526
Could the syntax be changed? IMO .value()() seems out of place in Solidity anyway since functions aren't first-class objects.

[2019-05-07 01:51] scucchiero opened #6682 "Raise warning when reading from storage with no effect"
## Abstract
Reading from storage with no effect should raise a warning as well as the statement `2==2` does.

## Demonstration
Compile this contract.
[code]
![image](https://user-images.githubusercontent.com/19697277/57266172-48598900-7051-11e9-9a55-53727596156d.png)

**Warning** should say : Statement has no effect.

[2019-05-07 03:31] sifmelcara commented on #6548
Ok! Closing this issue for now, as integer type issues are somewhat solved by #6600

[2019-05-07 03:31] #6548 closed, assigned to nobody

[2019-05-07 04:00] sifmelcara commented on #6480
My plan on this issue:

1. Rename `ForLoopInitRewriter` to `ForLoopRewriter`
2. Add code that move loop condition into loop body to `ForLoopRewriter`.
3. Open a separate issue or PR to address the issue about DeadCodeEliminator and post block.

[2019-05-07 08:05] bshastry commented on #6667
@chriseth #6880 fixes the problem :)

[2019-05-07 09:03] chriseth commented on #526
If you have a good idea about how to change the syntax, we are all ears! Note that functions actually are first-class objects in Solidity: https://solidity.readthedocs.io/en/v0.5.8/types.html#function-types

[2019-05-07 09:06] chriseth commented on #6480
For loops are delicate structures both with regards to scoping and with regards to control flow. I think the optimizer would be easier to verify if those two steps were kept separate. Otherwise, it sounds great!

[2019-05-07 09:47] chriseth commented on #6653
What about extracting the libfuzzer interface code to some point where at least build failures would be visible?

[2019-05-07 10:28] #6650 closed, assigned to chriseth

[2019-05-07 10:37] bshastry commented on #6653
@chriseth That sounds reasonable to me. One way to do that (in my mind) is that all `*_ossfuzz.cpp` files only contain a call to the test harness function that is defined in some utility source file.

[code]

and

[code]

and then we split the ossfuzz build targets into those that depend on external deps and those that don't. Those that don't can then be added to the "default" solidity build. Thos

[2019-05-07 10:39] #6667 closed, assigned to bshastry

[2019-05-07 10:46] bshastry opened #6685 "[Yul] proto fuzzer: Add support for object access functions"
## Abstract

This issue tracks support in the proto generator for object access functions, namely
  - datasize
  - dataoffset
  - datacopy

that are now implemented in the yul interpreter (see #6631 ) for the `strictAssemblyForEVMObjects` dialect.

Note to self
  - `strictAssemblyForEVMObjects` is a superset of `strictAssemblyForEVM` that was the fuzzing target previously.

[2019-05-07 13:17] guylando opened #6689 "Documentation unclear on when to use require() vs revert()"
The documentation here: https://solidity.readthedocs.io/en/v0.5.8/control-structures.html#error-handling-assert-require-revert-and-exceptions
does not have a clear explanation of when to use require and when to use revert. It gives an example of performing the same thing once with require and another time with revert. But if they have no real difference and it is only a syntactic difference then w

[2019-05-07 14:54] #6529 closed, assigned to Marenz

[2019-05-07 15:11] Marenz opened #6691 "[Sol -> Yul] Implement while statement"

[2019-05-07 15:12] #6676 closed, assigned to nobody

[2019-05-07 15:55] #4141 closed, assigned to nobody

[2019-05-07 19:10] ahoppen commented on #6270
Is there anything I can do to help push this proposal? Or is there any formal process for such a language change?

[2019-05-08 02:58] businessfriendlyusername opened #6695 "Event overloading with dynamic arrays are encoded incorrectly"
When overloading events that return arrays, some of the event parameters seem to go missing. Overloading and arrays seem to be mutually exclusive.

## Environment

- Compiler version: 0.5.6
- Target EVM version (as per compiler settings): unsure
- Framework/IDE (e.g. Truffle or Remix): bug is in both Truffle and Remix
- EVM execution environment / backend / blockchain client: ganache
- Operating s

[2019-05-08 09:12] leonardoalt commented on #6695
Minimal example that has the buggy behavior:

[code]
The emit issues
[code]
If you comment `event E(uint[] x);` it works.
If you use `ABIEncoderV2` it's also incorrect.
If you use `indexed` it's also incorrect.

This looks similar to https://github.com/ethereum/solidity/issues/4292

[2019-05-08 09:13] leonardoalt commented on #6695
@businessfriendlyusername thanks for the report!
If you don't mind I'll edit the title of the issue to be a bit more precise.

[2019-05-08 09:52] leonardoalt commented on #6695
Ok after an initial closer look I don't think it's related to #4292

[2019-05-08 10:10] chriseth commented on #4756
The current SolYul code generator creates code like `pop(sload(x))`. This can obviously be removed, but since `sload` is not movable, it is not done.

[2019-05-08 10:16] leonardoalt commented on #6695
@businessfriendlyusername
I used your original code
[code]
Calling the function on Remix with arguments `123, "description", "extraInfo"` I get this:
[code]
Notice that the data is correct: `6578747261496e666f` = `extraInfo`.
If I comment the first event out and run with the same parameters the data is shown in a nicer way though.
I also checked the assembly output of the two versions (with and wi

[2019-05-08 10:34] ekpyron opened #6697 "[soltest] Incorrect re-encoding of left-aligned bytes."
[code]

The suggestion should either be ``0xff00...00`` or ``left(0xff)``.

[2019-05-08 10:35] ekpyron commented on #6697
Ping @erak ;-).

[2019-05-08 11:25] leonardoalt opened #6699 "[SMTChecker] Run smoothly on the examples from Slither"

[2019-05-08 11:35] leonardoalt commented on #6699
ICEs:
- `examples/scripts/data_dependency.sol`
- `tests/const_state_variables.sol`

[2019-05-08 12:03] leonardoalt opened #6701 "[SMTChecker] Check that SSA considers indirect assignments"
`a[2] = 3;`
in this case `touchedVariables` should include `a` and later `mergeVariables` should ensure that it has a different SSA index

[2019-05-08 12:15] sifmelcara commented on #6619
I think a theoretical solution could be to create an optimization phase called `StatementSimplificationRule`, that contains various simplification rules (by pattern matching statements then transform them), including:

1.
[code]
->
[code]
2.
[code]
->
[code]
3. Bonus: `DeadCodeEliminator` can be expressed as single rule (prerequisite: function hoister):
[code]
->
[code]

[2019-05-08 12:53] chriseth commented on #6619
StructuralSimplifier already implements `2.`. I agree, the for loop simplification does not actually need to check the condition - the simplifications should be able to build on top of each other.

[2019-05-08 12:54] chriseth commented on #6619
And also yes: Having a pattern language would greatly help in writing down the rules concisely, but I fear that might be rather complicated to do...

[2019-05-08 12:56] ekpyron opened #6703 "[soltest] Incorrect semantics tests suggestions for unaligned hex strings."
[code]

This also fails after "updating":
[code]

How I got to this and what works is the following:
[code]
But this also yields weird suggestions for incorrect or short expectations, e.g.
[code]
Or

[code]

Ping @erak.

[2019-05-08 12:56] chriseth commented on #6619
Also: `<statements-without-break-continue>` should be `<statements-without-break-continue-referring-to-the-current-loop>` or something like that ;)

[2019-05-08 13:22] #4913 closed, assigned to ChrisChinchilla

[2019-05-08 13:23] axic commented on #4913
Was this part handled?

[2019-05-08 13:29] axic commented on #6581
I think there are two cases here:
1) checking call value in an externally visible function
2) checking call value in an internal helper

In case 1) it is probably not what you want to do, because the function guarantees (when externally executed) to always have a call value equal to 0.

In case 2) it may be a helper (including a modifier) where it may be useful. Perhaps we should allow this for ca

[2019-05-08 13:38] chriseth commented on #6581
If we move the check to "external function only" - does it also apply to public functions? We could do that and mention in the message to create an internal version of the function that is called by the public (or then external) one.

[2019-05-08 14:02] leonardoalt commented on #6695
The real issue seems to be on Remix/Ethers:
https://github.com/ethereum/remix/issues/1125

[2019-05-08 14:02] #6695 closed, assigned to nobody

[2019-05-08 14:56] rainbreak commented on #6581
@axic a warning would be ok, although it is still fairly annoying being warned about assembly blocks and a way to disable assembly related warnings would be great. The problem currently here is that it is an error.

I'm not sure I see a simple way to split cases 1 and 2, without introducing some restrictions on the use of assembly `callvalue`.

[2019-05-08 15:46] ChrisChinchilla commented on #6489
@vedant1811 The lack of types is mentioned here - https://solidity.readthedocs.io/en/v0.5.8/yul.html

But I'm going to check over all the syntax questions to see if they are mentioned.

[2019-05-08 18:38] chriseth commented on #6489
The main problem is that the example does not compile. @vedant1811 do you think you will have time to submit a pull request? Otherwise someone from the team can also do it.

[2019-05-09 04:00] vedant1811 commented on #6489
Sure, I'll do it. (I am working on a coding task but that'll take longer)

I will update the `power` example- make it compile and run by removing the types.

Anything else?

[2019-05-09 06:14] chriseth commented on #6643
Yes, an assertion is probably better.

[2019-05-09 06:14] chriseth commented on #6653
Sounds good!

[2019-05-09 06:21] chriseth commented on #6270
Unfortunately, we do not have a formal process. Also, radical breaking changes are a little less likely to be adopted nowadays. One problem I see with this proposal is that you basically would have to write `uint x = uint(a + b)` all the time and it would just get a habit without thinking about potential overflows. In contrast to that, the SMTChecker achieves a similar goal but is more flexible -

[2019-05-09 06:21] chriseth commented on #4913
Yes.

[2019-05-09 06:24] chriseth commented on #6581
@rainbreak I agree that a warning is not much better than an error. I didn't quite understand the second part of your message - would it solve your problem if we only issue an error in assembly blocks in external functions (and not in modifiers)?

[2019-05-09 06:25] #6411 closed, assigned to nobody

[2019-05-09 06:27] chriseth commented on #6489
Thanks! There are also some errors in the example at the end of yul.rst, for example `let offset = allocate(size)` should be `let offset := allocate(size)`

[2019-05-09 07:30] #6466 closed, assigned to ekpyron

[2019-05-09 07:49] Marenz commented on #6643
My point was more to rely on the exception and handle it properly but we can fully go the other way, too ;)
i just figured it's code redundancy if every caller has to check?

[2019-05-09 07:51] Marenz opened #6708 "[Sol->Yul] Unary operators"
* [x] Int `++`
* [x] Int `--`
* [x] Int `~`
* [x] bool `!`
* [x] bool `~`
* [x] `delete`
* [x] int `+`
* [x] int `-`
* [ ] ...

[2019-05-09 08:01] chriseth commented on #6643
I mean the caller either has to check or be prepared for an exception to be thrown.

[2019-05-09 08:05] #6691 closed, assigned to Marenz

[2019-05-09 08:10] #2741 closed, assigned to axic

[2019-05-09 08:11] ekpyron opened #6709 "[Sol -> Yul] Implement if statement"

[2019-05-09 08:43] ekpyron opened #6710 "Move ``YulUtilFunctions::suffixedVariableNameList`` to ``liblangutil``."
There's nothing Yul-specific about ``YulUtilFunctions::suffixedVariableNameList``, so it should be moved to an appropriate (or possibly new) location in ``liblangutil``.

[2019-05-09 10:17] #6563 closed, assigned to nobody

[2019-05-09 10:22] #6009 closed, assigned to nobody

[2019-05-09 11:49] ekpyron commented on #6710
Note that in its current state #6664 links yul_proto_ossfuzz to libsolidity to be able to use ``suffixedVariableNameList``, so once it is moved we should check whether we can remove that again.

[2019-05-09 12:11] chriseth opened #6713 "[Yul Optimizer] Function outliner"
In the sol->yul code generation, we end up with quite a bit of code that contains similar or even identical blocks of code. It would be nice to have an optimizer component that e.g. recognizes common suffixes of functions or common internal blocks which can then be moved to a single function - as long as the number of local variables that are modified in that block but defined outside is limited.

[2019-05-09 12:19] rainbreak commented on #6581
@chriseth my problem would be solved if use of `callvalue` in assembly was possible in all cases. I think that `payable` / `nonpayable` should be enforced at run-time, not compile-time.

[2019-05-09 13:30] ekpyron commented on #6713
Consider a block like (with external vars ``b`` and ``c``):
[code]

We can compute a hash based on:
[code]
appending the number of external references (i.e. ``2``) to the hash or storing it alongside the hash - let's call that ``BLOCK0HASH``.

Then for
[code]
(The inner block will also have hash value ``BLOCK0HASH``)
We can compute a hash like
[code]

For every block the hash can be stored in a ha

[2019-05-09 13:33] #6709 closed, assigned to ekpyron

[2019-05-09 13:37] ekpyron commented on #6713
We can add the "block hash" of a function body to the RoughHeuristic in ``EquivalentFunctionDetector`` as well.

[2019-05-09 14:09] chriseth commented on #6180
This has been implemented in #6631

[2019-05-09 14:09] #6180 closed, assigned to chriseth

[2019-05-09 17:05] #6699 closed, assigned to nobody

[2019-05-09 17:09] #6400 closed, assigned to nobody

[2019-05-09 17:10] #3257 closed, assigned to chriseth

[2019-05-09 18:21] chriseth commented on #6619
I think I'll create a new class that contains all elements of StructuralSimplifier that do not actually need the DataFlowAnalyzer.

[2019-05-09 18:49] ekpyron commented on #6713
Hm... it's still a bit more complicated... the external variables in the block have to be split into function parameters and return values - return values have to be the union of all externally referenced variables that are accessed after any occurrance of the block to be outlined... moreover those variables might not only be written to, but they might have been read from, so they might have to be

[2019-05-09 19:38] chriseth commented on #6713
Perhaps as a first step, we can do the full thing, i.e. outlining the block `B[ext1, ext2, ext3]` as
[code]
A second step (that is actually needed anyway) can analyze if a function return variable can be removed because it is not used at any of its call sites (we need a similar thing for parameters, but that analysis would be local to the function).

[2019-05-09 20:37] #6460 closed, assigned to bshastry

[2019-05-10 04:18] vedant1811 commented on #6489
@chriseth I fixed the ones we talked about. Now I'm getting

[code]

What should I do with the `allocate` commands?

[2019-05-10 08:12] leonardoalt commented on #6713
Abstract Syntax Merkle Tree? :p

[2019-05-10 08:20] leonardoalt opened #6721 "[SMTChecker] Analyze Mythril and Slither examples"
Compile the [Mythril](https://github.com/ConsenSys/mythril) and [Slither](https://github.com/crytic/slither) examples with the SMTChecker enabled and analyze the output looking for:
- False negatives (bugs)
- False positives
    * Why do they happen, what is the limitation?
    * Lack of expressiveness or support to the language?

[2019-05-10 09:26] leonardoalt commented on #5618
This probably entails calling `createExpr` for all unsupported cases.
Need to be careful with assignments since that modifies the SSA branching algorithm.

[2019-05-10 10:53] #6515 closed, assigned to nobody

[2019-05-10 12:34] axic opened #6723 "[ewasm] Support bignum host functions and use it in EVMToEwasmTranslator"
See https://github.com/ewasm/design/issues/189.

The goal is to provide high performance bignum (fixed 256-bit) support to contracts for two reasons:
- reduce code duplication
- improve speed

[2019-05-10 16:00] sifmelcara commented on #6619
:+1:

Should keep in mind that if we first apply #6480 to the following code, then it cannot be simplified to `if` by #6719 anymore.
[code]

Not sure what is the best way to deal with this. Maybe simply make #6719 a prerequisite of #6480 (i.e always apply #6719 before applying #6480) is enough?

[2019-05-10 18:30] MicahZoltu opened #6724 "Deployment gas estimation is incorrect."
## Description
I have a contract that I compiled with `evm.gasEstimates` outputSelection`.  When I try to deploy that transaction, it fails due to out of gas.  If I ask the attached node to estimate gas for the deployment instead, I get a _much_ higher estimate.  The deployment in question does not have any init code, so the deployment should be a fixed cost (not dependent on blockchain state or i

[2019-05-11 08:54] ahoppen commented on #6270
I wasn't aware of `SMTChecker`. That should solve the same problem in a nicer way indeed. Thanks for the pointer.

[2019-05-11 08:54] #6270 closed, assigned to nobody

[2019-05-13 06:52] chriseth opened #6726 "[YulOpt] Common code motion"
Code that is common in all branches of the same control flow should be moved prior to the branch point. This might be especially interesting for loop invariant code motion, but could also be useful for if and switch statements.

Example, taken from the SolYul code gen:
[code]

The `callvalue` check can obviously be done before the switch: The `default` case does not have a callvalue check, but it

[2019-05-13 07:02] chriseth opened #6727 "[YulOpt] Memory and Storage awareness"
The optimizer should know about memory and storage in a similar way that the DataFlowAnalyzer does:

Memory is zero-initialized, but storage is unknown.

Operations like `mstore(x, y)` note that the value of variable `y` is stored at point `x` (symbolically). Whenever the value of `x` or `y` changes (or one of their referenced variables), the knowledge is erased. Also, `mstore` erases knowledge of

[2019-05-13 07:03] chriseth opened #6728 "[YulOpt] Redundant Store Elimination"
This optimizer step is the equivalent of the RedundantAssignEliminator, but for storage and memory. It could use https://github.com/ethereum/solidity/issues/6727 as a dependency.

Since the RedundantAssignEliminator does not use the DataFlowAnalyzer, we could also make it a little easier, though: Eliminate two stores if they store at the same symbolic location, i.e. variable, and that variable has

[2019-05-13 08:00] #6478 closed, assigned to nobody

[2019-05-13 08:01] bshastry opened #6729 "[Proto fuzzer] Generalize for loop statements"
## Abstract

We currently have a hard-coded for loop template that looks like so

[code]

This issue tracks support for something more generic like so
[code]

## Specification

For loop init/post statements cannot include `break` and `continue`. Moreover, we exclude variable declarations from for-loop-init block to side step scope extension tracking logic in the proto fuzzer. This can be added lat

[2019-05-13 08:16] chriseth commented on #6489
Oh I'm sorry, that seems to be missing. You can add it as
[code]

[2019-05-13 08:17] #6701 closed, assigned to nobody

[2019-05-13 08:18] chriseth commented on #6723
The stability of the ewasm spec is still mostly unclear to me.

[2019-05-13 08:19] bshastry opened #6731 "[Yul] optimizer takes too long for recursive function calls failing with variable x is N slots too deep inside the stack"
## Description

[code]

takes a little under two minutes to throw this assertion

https://github.com/ethereum/solidity/blob/e5d46767f1746157be0d346c24a2815d7fdc7306/libyul/backends/evm/EVMCodeTransform.cpp#L806

## Environment

- Compiler version: latest develop

[2019-05-13 08:19] #6124 closed, assigned to erak

[2019-05-13 08:24] #6066 closed, assigned to erak

[2019-05-13 09:41] vladmihailescu opened #6733 "Contract deployment error caused by --optimize compile flag"
## Description

Compiling a contract that changes a state variable address using --optimize will eventually fail during deployment.

## Environment

- Compiler version:^0.5.8

## Steps to Reproduce

Write a simple contract that sets the owner in its constructor.
[code]
Compile with the following command.
[code]
Try to deploy the contract to the blockchain (it will fail). To deploy it successfully

[2019-05-13 09:45] chriseth commented on #6733
Which chain are you deploying to? Note that 0.5.8 has a default EVM target of "Petersburg" which includes shift opcodes. Does your EVM have shift opcodes?

[2019-05-13 09:45] ChrisChinchilla commented on #6489
Thanks @vedant1811 👍

[2019-05-13 09:53] vladmihailescu commented on #6733
It's a private setup, parity v2.5.0. Chainspec:
[code]

[2019-05-13 09:58] #4806 closed, assigned to nobody

[2019-05-13 09:59] chriseth commented on #6733
Then you either have to activate `Petersburg` or use `--evm-version byzantium` or `--evm-version constantinople` for compilation.

[2019-05-13 09:59] #6733 closed, assigned to nobody

[2019-05-13 09:59] #5139 closed, assigned to ChrisChinchilla

[2019-05-13 10:11] leonardoalt commented on #5970
Closing since the issue is not related to the compiler.

[2019-05-13 10:11] #5970 closed, assigned to nobody

[2019-05-13 10:16] #6214 closed, assigned to nobody

[2019-05-13 10:35] bshastry opened #6734 "[Yul] optimizer's AST copier leaks memory"
## Description

Leak site | Avg. Leak size | Fuzz iterations until out-of-memory
------------ | -------------|---------------------------------------------
https://github.com/ethereum/solidity/blob/37375b42715efc2c131b35dad0c4c386da2703a0/libyul/optimiser/ASTCopier.cpp#L88 | 170.3 MB | 2.01 million
https://github.com/ethereum/solidity/blob/2d2f4943ded30ff3957b500f2262858e94245fd3/libyul/YulString.

[2019-05-13 10:37] bshastry opened #6735 "[ossfuzz] remove store_test_results configuration from regression CI job"
The `store_artifacts` config should be sufficient to store test logs. `store_test_results` is to actually store test metadata that the ossfuzz regression job is not doing.

[2019-05-13 10:45] #5484 closed, assigned to nobody

[2019-05-13 12:15] ChrisChinchilla commented on #4492
@aj07 I have added minor mention to Solidity docs, happy to lend an opinion on PRs if you want to submit something to the Remix and Truffle repos (if they haven't already filled the gap).

[2019-05-13 12:22] vedant1811 commented on #6489
There are a lot of issues in the second example. I have fixed some but still (unknown number of) issues.

Like:
`create` command is giving the errors:
[code]

even without `create`, the code compiles but the compiler errors out:
[code]

[2019-05-13 12:31] chriseth commented on #6489
I think you can use `pop(create(...))` to fix it. Hm. `runtime.Contract2` not being found is a bit more serious - it might be something that is not yet implemented in the compiler.

[2019-05-13 12:36] vedant1811 commented on #6489
Yes `pop(...)` fixes the problem. The second error is definitely a compiler error. It does manage to parse and show `Pretty printed source`.

[2019-05-13 12:41] chriseth opened #6739 "[Yul] sub-objects are not accessible"
In yul, sub-objects of objects should be accessible via `.`, but they are not.

Related: https://github.com/ethereum/solidity/issues/6514

[2019-05-13 12:41] chriseth commented on #6489
Created https://github.com/ethereum/solidity/issues/6739 to track the `runtime.Contract2` issue.

[2019-05-13 12:44] chriseth commented on #6734
Are you sure this is not just the YulStringRepository leak? ASTCopier::translateVector is one of the main components in the Disambiguator, the component that probably causes most of the strings to be generated.

[2019-05-13 14:56] bshastry opened #6743 "[abiencoderv2 fuzzer] Create evm runner"
## Abstract

EVM runner is a wrapper around an EVM interpreter (e.g., evmone) that accepts arbitrary EVM byte code as input and executes (interprets) it.

## Motivation

## Specification

## Backwards Compatibility

[2019-05-13 15:12] chriseth commented on #4756
Together with @ekpyron we came up with the following categories:

 - can be removed (`R`) without change in semantics
 - can be duplicated (`D`) without change in semantics
 - can be swappend with instruction `i` (`X_i`) without change in semantics

We grouped the opcodes into the following categories (might not be exhaustive). The R and D properties are listed here, the X properties below.
 - add

[2019-05-13 16:12] chriseth commented on #4756
Additional interesting categories: staticcall, selfdestruct

Also, the family of call opcodes might be further split up into ones that do not read from memory, ones that do not write to memory and ones that do neither.

[2019-05-13 16:57] chriseth commented on #4947
Here is an extensive list of which operations can be swapped with which: https://github.com/ethereum/solidity/issues/4756#issuecomment-491863937

[2019-05-13 17:00] chriseth opened #6747 "Commandline tests fail on Release version"
If the `prerelease.txt` file is present in the repository, the commandline tests fail due to differing metadata hash.

[2019-05-13 17:32] ekpyron commented on #6747
Weird - I did test that locally and it worked - I'll look into it!

[2019-05-14 06:20] cgewecke opened #6748 "Question about JSON outputSelection performance"
If I pass a large number of contract sources to solc via JSON I/O but only specify a small number of these as compilation targets (listing them as  outputSelection keys), is that faster than compiling all sources (using `*` as an output selector)?

Truffle has a profiler which uses this strategy to shorten compilation times but it  seems to perform like `compile all`.

### Reproduction
+ Install [

[2019-05-14 08:11] bshastry opened #6749 "[RFC] Scope of Abiencoderv2 fuzzing"
## Description

Consider the following test program

[code]

For the initial fuzzing prototype, I would like to seek feedback on the scope of fuzzing:

Q1. What types (static and dynamic) are permitted?
Static types
  - [ ] signed and unsigned integers
  - [ ] boolean
~~- [ ] fixed point numbers~~
  - [ ] address and address payable types
  - [ ] fixed size bytes
  - [ ] Statically typed fixed-siz

[2019-05-14 09:21] bshastry commented on #6734
I copied the call sites reported by the fuzzer as is. It is possible that they are related.

[2019-05-14 09:57] #6619 closed, assigned to nobody

[2019-05-14 10:06] chriseth commented on #6749
Fixed point numbers should be ignored.

Integers have different bit widths (all multiples of 8 between 8 and 256).

I don't think you should differentiate between static and dynamic that much. Arrays come in two flavours:

`<any type>[]` (dynamically-sized array)
`<any type>[k]` (statically-sized array)

Here, `<any type>` is really anything including arrays, structs, elementary types, ...

Same i

[2019-05-14 10:13] chriseth commented on #6748
You are right, if you use `*`, then all contracts will be compiled, even if you specified only a single file. Thanks for bringing this to our attention!

[2019-05-14 10:15] chriseth commented on #6748
Note to implementer: The function should be `requestedContractNames` in `StandardCompiler.cpp`, but subsequently called functions could also be relevant.

[2019-05-14 10:34] chriseth opened #6751 "[Doc] Mention that low-level calls do not have an extcodesize check"
High-level function calls first check that the called address has code by using `extcodesize`. This works around a peculiar detail of the EVM: Calls to contracts without code succeed silently instead of failing. For low-level calls (members of ``address``), this check is not present and that fact should be documented there.

[2019-05-14 10:41] chriseth opened #6752 "Optimization opportunity about event signatures"
Event signatures are 32-byte hashes which are usually stored literally in the code and thus very expensive. It might be cheaper (depending on the trade-off setting) to compute them at runtime instead. We have to be careful, though, because the optimizer might actually turn it into a literal again.

[2019-05-14 11:09] bshastry commented on #6749
@chriseth some more questions about scope:

1. Do we limit the RHS of assignment statements (code above) to literals? Or does it make sense to introduce solidity expressions?

2. Can we limit all variable declarations to inside the scope of `f()` or should contract-wide declarations exist?

[2019-05-14 11:23] AtkinsChang opened #6754 "ABIEncoderV2 + constructor args with struct causes error while deploying"
## Description
Contract
[code]
reverts while deploying with arg:
[code]

## Environment

- Compiler version: 0.5.8
- Target EVM version: petersburg

## Steps to Reproduce

As description.

[2019-05-14 12:55] chriseth commented on #6754
This might be related to an invalid encoding of the parameters. Can you provide the encoding?

[2019-05-14 12:56] chriseth commented on #6749
Literals are fine, but of course you have to somehow "descend" into complex expressions.

Contract-wide variables are stored in storage, so we at least need some.

[2019-05-14 13:03] bshastry commented on #6749
I'm not sure I understood this point. What do you mean by descending into complex expressions? Do you mean one may have to descend into "A" to initalize its members from "B" in the code snippet below?

All leaf nodes are still literals, right?

Also, while assigning literal values to typed variables are casts acceptable? (e.g., bool x = bool(-678))

[code]

[2019-05-14 13:09] bshastry commented on #6749
Just noticed #6754 . Do we add a contract constructor function to the scope of abi fuzzing as well?

[2019-05-14 13:17] ekpyron commented on #6749
Might be good to add constructors - they are pretty much untested so far (they should behave exactly the same, but there were multiple complaints recently, so I'm not so sure anymore).

[2019-05-14 13:24] chriseth commented on #6724
It might be that the gas estimator does not include the data bytes.

[2019-05-14 13:26] chriseth commented on #6749
Yes, all leaf nodes can be initialized through literals, but you might have to construct several levels of arrays and structs to get to the leafs.

You cannot cast integers to bools. It probably makes sense to generate "typed literals". Remember that we do not want to test the construction of these values, that's also why we do not need expressions on the right hand sides.

[2019-05-14 16:26] leonardoalt commented on #5618
To figure out what's missing: replace `if(!knownExpression())` in `expression()` by `solAssert(knownExpression())` and see what brakes.

[2019-05-14 17:05] ekpyron commented on #6747
My guess is that this wasn't related to ``prerelease.txt``, but rather to the tests added in #6606, which generally depended on metadata and failed because of that - locally for me there were no failures apart from these in the presence of ``prerelease.txt``.

[2019-05-14 17:48] cgewecke commented on #6748
@chriseth If I currently had
[code]
in the second layer of the outputSelection object would that make it behave the way I was hoping?

Do I have to do something similar to:
[code]

[2019-05-14 18:58] bshastry opened #6759 "[SMTChecker] Assertion solAssert(knownExpr(*component), "") fails in SMTChecker.cpp"
## Description

(Found by nightly CI)

Test input follows

[code]

## Environment

- Compiler version: latest develop

[2019-05-14 19:01] bshastry opened #6760 "[SMTChecker] Assertion solAssert(symbTuple, "") fails in SMTChecker.cpp"
## Description

(Found by nightly CI)

Test input follows

[code]

## Environment

- Compiler version: latest develop

[2019-05-14 19:05] bshastry opened #6761 "[SMTChecker] Allocates over 2GB memory bringing down the fuzzer"
## Description

(Found by nightly CI)

Test input follows

[code]

takes over a minute to finish computation and consumes over 2GB memory.

## Environment

- Compiler version: latest develop

[2019-05-14 21:09] nventuro opened #6763 "[Doc] Improve description of the semantics behind copying arrays"
As discussed on gitter [here](https://gitter.im/ethereum/solidity?at=5cd9bb7c0f381d0a76add441), the [current documentation](https://solidity.readthedocs.io/en/v0.5.8/control-structures.html?highlight=copy#complications-for-arrays-and-structs) on array copies doesn't go too deep into detail regarding copies of memory arrays, or conversion between array-like types (e.g. `bytes` and `string`).

In pa

[2019-05-14 21:15] leonardoalt commented on #6761
That's weird, on my local `develop` it takes less than 4 seconds

[2019-05-14 21:17] leonardoalt commented on #6761
Which SMT solver/version is the fuzzer using?

[2019-05-15 03:59] AtkinsChang commented on #6754
@chriseth  some more detail:

## Case A
#### Contract
[code]
#### Encoding
[code]
#### Result
Revert

## Case B
Change the struct from `(string,uint8,string)` to  `(string,string,uint8)`
#### Contract
[code]
#### Encoding
[code]
#### Result
~Ok~
Not revert but the struct in constructor has wrong value

## Case C
Use the same struct as function parameter
#### Contract
[code]
#### Encoding
[code]
##

[2019-05-15 07:17] bshastry commented on #6761
[CVC4 from bionic](https://packages.ubuntu.com/bionic/cvc4)

[2019-05-15 08:00] chriseth opened #6765 "[Yul] Re-introduce ``sub`` opcode"
During CSE, every `sub` by a constant is replaced by an `add` to get uniform expressions. At the end of the optimization phase, after constant-reintroduction, this should be reversed if the cost of the modified constant is better.

The reason to do this at the end: SUB and ADD are more or less equivalent, the main difference is that ADD is commutative, so it is preferred. Only having ADD instead o

[2019-05-15 08:50] bshastry commented on #6761
Flaky: Not able to triage this

[2019-05-15 12:26] #6747 closed, assigned to ekpyron

[2019-05-15 14:24] rocky opened #6769 "Write a Separate Developer Guide"
## Abstract

There is a bit of lore that developers working on the solidity compiler as well as developers working to interact with solc or the output (EVM, AST) produced by solc.

## Motivation

Some of the information that is in the single documentation is brief because it is felt that the the majority of users this is not of interest.

However from the developer side information there is someti

[2019-05-15 15:07] chriseth commented on #6769
Sounds good! I would consider it unlikely for regular developers to get in contact with ossfuzz, though.

Ccache seems to be important to get documented, but I would say we cannot cover every environment setup out there.

[2019-05-15 15:33] rocky commented on #6769
Doing _something_ (however incomplete) is always preferable, in my opinion, is better than doing nothing.

[2019-05-15 16:30] chriseth commented on #6754
Thanks for the data! Confirmed the bug.

[2019-05-15 16:48] chriseth commented on #6763
Conversions between `bytes` and `string` should mention that no copy is performed. Are assignments well enough clarified?

[2019-05-15 17:34] nventuro commented on #6763
No, I think the explanation is too terse, even if it may be technically correct: expanding on it a bit should help.

I have another specific question about it: the example states that `g(x)` does not modify state because it creates an independent copy of storage in memory. However, `g` expects a memory array, and is called with a storage array. According to this, shouldn't it be a reference?

An u

[2019-05-15 19:02] bshastry opened #6772 "[Compiler Utils] Could the stack too deep assertion be specialized?"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/66cea5abb6d7aa75a4cc397c7062182cf51a60af/libsolidity/codegen/CompilerUtils.cpp#L1232

Would it be possible to throw a more specialized exception here (and other similar places) that can be caught in the fuzzer harness?

## Environment

- Compiler version: latest develop

[2019-05-15 21:04] chriseth commented on #6731
This is the code right before the Stack Compressor is invoked:
[code]

[2019-05-15 21:37] chriseth commented on #6772
StackTooDeep could be a sub-class of InternalCompilerError

[2019-05-16 07:16] sifmelcara commented on #6480
The examples above are wrong... we need to invert the cond expressions when move them into the loop. i.e `for {} c {} {}` should be rewrite to `for {} true {} { if not(c) { break } }`

[2019-05-16 08:07] chriseth commented on #6480
Ah right! Also note that you need to use `iszero` instead of `not` (`not` is bitwise negation).

[2019-05-16 09:57] chriseth commented on #6763
Yep, the cited paragraph should be extended to e.g. `assigning to a local variable with the same data location`

[2019-05-16 11:25] #4756 closed, assigned to axic

[2019-05-16 18:53] #6754 closed, assigned to chriseth

[2019-05-17 08:52] daanwa opened #6781 "Missing solc-static for 0.4.26"
## Description
The 0.4.26 release does not contain the ```solc-static-linux``` binary.

Several of my scripts and apps depend on the ```solc-static-linux``` binary to be present on each release. Of course I can code around this, but for consistency it would be nice to have it include with the 0.4.26 release as well.

[2019-05-17 09:01] ekpyron commented on #6713
Another approach to this would be to have a step that just outlines everything that has a sufficient size and has few inputs and outputs (although we'd still have to detect which groups of statements qualify for that), then simplify and hope that we end up having equivalent functions - then we could inline everything back that's still only used once. That might even help with the stack height prob

[2019-05-17 12:23] ekpyron commented on #5608
Do you think it might make sense to determine movability not only on the level of functions, but on the block and/or statement level instead (a function being movable, if it's body is movable; a block being movable, if all statements are movable)?

[2019-05-17 14:16] guylando commented on #670
@leonprou seems so: https://github.com/ethereum/solidity/pull/888

[2019-05-17 18:57] dddejan opened #6783 "Struct containing an array of mappings crash"
## Description

What happens: compiler crashes.

Expected: user-friendly error, or successful compile.
## Environment

- Compiler version: 0.5.5+commit.47a71e8f.Darwin.appleclang
- Operating system: MacOS 10.12.6

## Steps to Reproduce

[code]

Current output:
[code]

[2019-05-18 15:39] guylando commented on #5880
If those are indirect leaks then the problem might not be at the Types.cpp at all (and everything pointed to it just because it is a very commonly used code) and would be useful to first track the direct leak objects and solve them and then re-run the tests to see if there are still indirect leaks.
None of those tools provide a dump of the direct leak objects which use the indirect leaked code?
Th

[2019-05-18 21:37] guylando opened #6784 "Some documentation problems"
1.
The sentence "A modular approach to building your contracts helps you prevent overflow risks and unexpected tokens." in the following link is weird: https://solidity.readthedocs.io/en/v0.5.8/solidity-by-example.html#modular-contracts
I don't see how contract being modular is related to overflow risks or to "unexpected tokens".
And in general the whole "Modular Contracts" section in that page se

[2019-05-18 23:03] jaredstauffer commented on #615
msg.sender is not a function. You cannot use it with the (), that would imply that it is a function. Remove the ().

[2019-05-19 16:59] guylando commented on #6452
If this is changed then need to change the note here: https://solidity.readthedocs.io/en/v0.5.8/types.html#address which says "For example, if you are using the withdrawal pattern, you can (and should) store the address itself as address, because you invoke the transfer function on msg.sender, which is an address payable"

[2019-05-19 18:49] guylando opened #6785 "Missing documentation for the purpose of using anonymous events (not the what but the why)"
The documentation states "This means that it is not possible to filter for specific anonymous events by name" but it is unclear why one would want to create such events which can't be filtered by name. Specifying use-cases (at least one) would make it easier for developers to understand when it is better to use this feature.
Searched google, searched existing github issues, no clarification on thi

[2019-05-19 18:53] randomnetcat commented on #4674
[Note, I changed my name: I was formerly @meowingtwurtle. As proof, that account has in its bio a message saying that I am its current user. I am happy to provide other proof if need be]

I hate to ask for this, @vs77bb, but I really could use this money (having hardware issues with my laptop; always fun).

Ethereum address: `0x6a58780f223D041cD3fDb6837b46bDb0d7335760`

[2019-05-20 00:10] fincrypchain001 commented on #6575
CLOSED!!!!

[2019-05-20 00:10] fincrypchain001 commented on #3138
Closes

[2019-05-20 07:41] kuhnchris commented on #4674
I'll see if I can get the message over to the responsible people, I'll keep you posted!

[2019-05-20 08:35] bshastry opened #6786 "[yul] interpreter should not leave trace of side-effects of code that will be removed by the optimizer"
## Description

(Found by ossfuzz nightly CI)

[code]

is optimized to

[code]

I wonder why this was not a problem earlier. Wouldn't the redundant assignment eliminator have found this earlier?

## Environment

- Compiler version: latest develop

[2019-05-20 08:40] bshastry commented on #6786
This could just be because `a_0` is unused and the optimizer removes it altogether. This optimization was not happening before, so it is still a bug in the fuzzing setup.

[2019-05-20 08:42] bshastry commented on #6786
Trace of unoptimized code

[code]

Trace of optimized code is empty of course.

[2019-05-20 09:45] chriseth commented on #6786
This is caused by #6746. `extcodehash` and `extcodesize` can be safely removed if their result is not used, so I think the optimizer is correct, but we probably need to adjust the trace so that it does not include these calls.

[2019-05-20 10:04] bshastry commented on #6786
Okay! For completeness, this happens for any instruction that has a side-effect but I think this should not matter as long as we remove unused side-effects from the trace.

[2019-05-20 10:16] bshastry commented on #6786
Should we add semantic tests for calls to the interpreter post optimization? Might help resolve issues like this in the future at the time of PR?

[2019-05-20 10:45] chriseth commented on #6727
Actually we do not need to erase the knowledge if a variable referenced by `x` changes, only if the variable `x` itself changes. So the strategy should be as follows:

While traversing the AST we keep information about the value of `sload(x)` and `mload(x)` in a similar way to the DataFlowAnalyzer (probably we just extend the class):

`sstore(x, y)` stores `STORAGE: x -> y`, but only if `x` and `y

[2019-05-20 11:14] ekpyron opened #6788 "[Sol - Yul] Minimize entries in the internal function dispatch."
Currently ``IRGenerationContext::internalDispatch`` creates a switch statement with a case for every function defined in the contract.
However, the only valid way to initialize an internal function pointer is by explicitly assigning it to an internal function - so we know at compile-time which subset of internal functions might be called using the dispatch. The dispatch should only contain these c

[2019-05-20 11:26] ekpyron opened #6789 "``make_vector`` evaluates its arguments in undefined order"
Since the order in which the expressions of function arguments are executed is undefined in C++, the new ``make_vector`` helper might have unexpected behaviour, e.g.:

``make_vector<SomeType>(visit(A), visit(B))`` might (and probably will) call ``visit(B)`` before ``visit(A)``, while one might expect that it first calls ``visit(A)`` and then ``visit(B)``.

There's no nice and easy way around this.

[2019-05-20 11:56] randomnetcat commented on #4674
Thanks.

[2019-05-20 12:59] chriseth commented on #6784
1) You are right, it reads weird, we will try to clean it up.

2) The code is correct - how do you expect it works?

3) There is no good way to provide the key as an argument to the function `data`. There of course is a way, but it is not good.

4) We can add that, but strictly, it is not "receiving" ;) Note that a contract can receive ether at its point of creation if the constructor is payable,

[2019-05-20 13:11] #6785 closed, assigned to nobody

[2019-05-20 13:12] chriseth commented on #5608
We currently do not have a use for that yet, but what might be useful soon is the fact whether a Block modifies storage, especially a branch in an `if`.

[2019-05-20 13:15] guylando commented on #6784
2.
If that code is supposed to clear a variable by setting it to 0 then that would be achieved by a binary AND with 0 and not with ones (0xffffffff). The AND with 0xffffffff would have no effect I expect.
3.
The statement is confusing because it points to:
[code]
and here there is no problem providing the key:
[code]
4.
Those two ways were presented as an argument to: "It also means that address(t

[2019-05-20 13:17] chriseth commented on #6784
2) ah! It should probably read `clean` instead of `clear`.

[2019-05-20 13:18] #6759 closed, assigned to nobody

[2019-05-20 13:27] guylando commented on #6784
@chriseth 2. Isn't doing an AND with 0xffffffff is a NOP and has no effect at all? how is that considered as "clean"? I think I am missing something here.
UPDATE: You mean it cleans (sets to 0) the bits which exist in uint256 and not in uint32 (in that example)?

[2019-05-20 13:37] chriseth commented on #6784
@guylando Solidity creates code to run on the EVM which is a 256 bit machine. Because of that, a `uint64` is still stored in a 256 bit word and `0xffffffff` does not have all the bits set.

[2019-05-20 13:42] chriseth opened #6792 "Uninitialized function pointers"
The function `StorageItem::retrieveValue` should treat values of internal function types specially in that the value of `0` should be translated to `invalid function`.

[2019-05-20 13:48] chriseth commented on #6781
We tried, but it proved quite hard to generate this artefact at this point in time.

[2019-05-20 13:49] guylando commented on #6784
I see, well I think maybe adding in the end something like ("Note that 0xffffffff has 32 bits set to 1 and other bits set to 0 and that is why a binary AND with 0xffffffff sets all the top 224 bits to 0") would make it clearer unless you think this should be obvious to the reader. This would serve as another "thing to remember" for the reader (2 birds with one stone).

[2019-05-20 13:54] chriseth commented on #6784
Yep, I think it makes sense to explain what "cleaning" means.

[2019-05-20 13:55] chriseth commented on #6786
There are tests for the interpreter, but probably not enough...

[2019-05-20 13:55] chriseth commented on #6786
Ah sorry, such a test would not have helped...

[2019-05-20 14:21] guylando commented on #6784
5.
The paragraph
[code]
in https://solidity.readthedocs.io/en/v0.5.8/contracts.html#events is unclear.
Searching google for "solidity log spv" gave no clue on this paragraph statement and on how to utilize this log verification or how it is related to blockhash.
The only related thing was https://ethereum.stackexchange.com/questions/46726/ethereum-account-model-spv-proofs-possible but it spoke abo

[2019-05-20 15:00] bshastry opened #6795 "Create evmone runner"
## Abstract

Create a wrapper around evmone for executing arbitrary code.

## Motivation

Needed for fuzzing abiv2 as an alternative for Geth.

## Specification

## Backwards Compatibility

[2019-05-20 17:45] vs77bb commented on #4674
@random-internet-cat it should be paid out to your ETH Address. Let us know if you have any issues!

[2019-05-20 19:00] jakelang opened #6797 "Internal error when compiling with --ir flag"
## Description
`solc` seems to crash on the following contract when set to output IR.

## Environment
- Compiler version: 0.5.8 (downloaded from releases)
- Target EVM version (as per compiler settings): EVM (no flag provided)
- Framework/IDE (e.g. Truffle or Remix): None
- EVM execution environment / backend / blockchain client: None
- Operating system: `Linux 4.9.0-8-amd64 #1 SMP Debian 4.9.144-

[2019-05-21 00:21] randomnetcat commented on #4674
Thank you!

[2019-05-21 01:49] hayeah commented on #6558
@chriseth is there a workaround for this issue? we are adding our own precompiled contracts which need to be marked as pure... maybe an alias for the `call` instruction, like `pure_call` to signal intent

[2019-05-21 08:00] chriseth commented on #6797
Thatks for reporting! Until we have fully implemented the new code generator, these errors are to be expected. You might be more lucky with the development version of the compiler.

[2019-05-21 08:00] #6797 closed, assigned to nobody

[2019-05-21 08:01] chriseth commented on #6797
Also, if you have any suggestions which parts of the language to implement next, please talk to us!

[2019-05-21 08:02] chriseth commented on #6558
There is staticcall, but that's as far as it goes.

[2019-05-21 08:47] chriseth commented on #6781
Please reopen if you have further questions or if it really badly hurts you... :)

[2019-05-21 08:47] #6781 closed, assigned to nobody

[2019-05-21 09:57] bshastry opened #6802 "[ossfuzz] Add evmone to ossfuzz build CI"
## Abstract

abiv2 fuzzer depends on evmone and its dependencies (intx and ethash). This issue tracks support in the ossfuzz build CI environment to statically link against the said libraries.

## Motivation

Add a simple bash script to install
  - `evmone`
  - `intx`
  - `ethash`

Although, hunter builds `intx` and `ethash` at the time of `evmone` build, there is no convenient way to locate its i

[2019-05-21 10:41] bshastry opened #6804 "[ossfuzz] Add a fuzzer and a solidity wrapper"
## Abstract

Abiv2 fuzzer harness depends on a solidity wrapper that can generate bytecode from fuzzer supplied solidity code. This issue tracks support for this.

## Motivation

- Create a simple non-proto fuzzer harness that supplies random input to a solidity wrapper API
- solidity wrapper API accepts fuzzer supplied input and outputs runtime bytecode
  - the wrapper itself is another indirecti

[2019-05-21 15:52] bshastry opened #6808 "[yul] Remove memory related information from interpreter trace"
## Abstract

Currently, we rely on interpreter trace for comparing the "output" of pre and post optimized yul code, asserting that they are the same. "Output" concretely refers to interpreter (execution) trace.

#6798 removes side-effect free statements such as `sload`, `mload`, `gas`, `keccak256` etc. from the interpreter trace to re-enable differential fuzzing post merge of #6746

Post memory op

[2019-05-21 15:54] Meshugah commented on #5857
@ChrisChinchilla Could I work on this? Could you point me in the right direction to get started?

[2019-05-22 01:47] hayeah commented on #6558
thanks, got it to work. In case anybody else needs to do something similar:

[code]

[2019-05-22 08:41] ChrisChinchilla commented on #5857
@Meshugah Sure, it's relatively simple, but may require making changes in a few different places.

In a few areas of the documentation are groups of notes and warnings, these are `.. note::` and `.. warning::` followed by blocks of text.

In my opinion, the warning notes should always be at the top, followed by the notes, followed by any others (there are some `.. info::` blocks too.

So this task

[2019-05-22 09:02] bshastry commented on #6077
I think #6800 should fix this issue

[2019-05-22 09:15] #6735 closed, assigned to bshastry

[2019-05-22 09:21] bshastry commented on #6078
I think this will be fixed by #6800

[2019-05-22 09:23] bshastry commented on #6201
As per the discussion, it seems like LLL is not an interesting target for fuzzing since it is going to be phased out. Closing issue.

[2019-05-22 09:23] #6201 closed, assigned to nobody

[2019-05-22 09:27] bshastry commented on #6226
@leonardoalt @axic @chriseth

I have a pending pull request to ossfuzz if you would like to enable SMTChecker fuzzing. The proposed PR builds a static library of upstream z3 and links solidity against it.

[2019-05-22 09:29] bshastry commented on #6760
Closing issue the fix #6764 has been merged.

[2019-05-22 09:29] #6760 closed, assigned to nobody

[2019-05-22 09:43] bshastry opened #6813 "[Testing] Discussion on runtime ASan flags"
## Description

Currently, we do not use several ASan features for CI-based testing. Some of these (disabled by default) may be useful.

To enable, we will need to export the `ASAN_OPTIONS` variable like so
[code]

Each `option=value` is colon separated.

| Runtime flag | Default | Description
|------------------|------------|----------------
| check_initialization_order | false | If set, attempts

[2019-05-22 11:08] #5934 closed, assigned to nobody

[2019-05-22 11:12] chriseth commented on #6813
They all sound useful!

[2019-05-22 11:20] chriseth commented on #6226
statically linking z3 is something we wanted to have anyway. Is it possible to even combine that with the compiler into a single static binary?

[2019-05-22 11:25] bshastry commented on #6226
Yeah, iirc I was able to build a single binary fuzzing blob that also contained z3. Since z3 is not being fuzzed upstream, it can happen that we catch z3 errors which may or may not be what we want though.

Note to self: Fuzz z3 :-)

[2019-05-22 11:42] #6813 closed, assigned to nobody

[2019-05-22 14:52] #6517 closed, assigned to nobody

[2019-05-22 15:35] chriseth commented on #6731
One problem this code shows is that the stack compressor rematerializes multiple variables at the same time. If they reference each other, then the number of occurrences changes and thus the cost calculation is wrong.

So this first item should be fixed as a correctness bug, but I think in general, the fact that the expression inliner does not have a heuristic is the main problem.

[2019-05-22 18:43] scucchiero opened #6821 "Disable access to uninitialized array in memory"
## Description
Attempting to assign to any slot in an uninitialized dynamic array in memory **is not detected by the compiler.**

**This could be potentially used in a honeypot as it looks like legit code and it actually compiles and can be deployed in the blockchain.**

## Environment

- Compiler version: **0.5.8**
- Target EVM version: **default**
- Framework/IDE (e.g. Truffle or Remix): **Remix

[2019-05-22 19:58] chriseth commented on #6821
Thanks for opening this issue!

If I understand you correctly, you propose to change the detection of this error condition from runtime to compile-time, right? There are several other error conditions that occur at runtime which we do not detect at compile-time. These include division by zero, modulo by zero, call to an invalid contract, and others.

While in your example it seems like the error w

[2019-05-22 19:58] #6821 closed, assigned to nobody

[2019-05-22 20:39] chriseth commented on #6752
Back-of-the-envelope-calculation: It costs at least `30+6+3+1 = 40` gas to compute the hash. Assuming the event is emitted 200 times, this would mean an additional runtime cost of 8000 gas. 8000 gas corresponds to 40 bytes of code. So it is not cheaper to compute the signature, at least in the default tradeoff setting.

[2019-05-22 20:40] johnsoncarl commented on #796
How many of these are completed till now?

[2019-05-22 20:53] #6731 closed, assigned to chriseth

[2019-05-22 20:59] chriseth commented on #796
@johnsoncarl we are implementing this along with the transition to yul as an intermediate language. The reason is that we hope that the yul optimizer can better cope with all the additional checks that are introduced and complicate the control-flow. It is still not 100% clear if we really want that on explicit type conversions. It is implemented (or at least PRs in progress) for increment, decreme

[2019-05-23 09:53] sifmelcara commented on #6783
I think the actual problematic code here is `A()`. Am I right?

I can try to fix this issue

[2019-05-23 09:58] chriseth commented on #6783
Sure, please go ahead! I think the problem is that memory structs ignore members but the code generator nevertheless requests it at some point.

[2019-05-23 10:07] #6581 closed, assigned to nobody

[2019-05-23 10:26] #6653 closed, assigned to bshastry

[2019-05-23 10:51] #6480 closed, assigned to nobody

[2019-05-23 12:20] EcmaXp opened #6823 "selfdestruct is not working on specific case (e.g. nested library call)"
## Description
Calling selfdestruct is not working well when contract referencing nested library more then 2 level.

## Environment
- Compiler version: version:0.5.8+commit.23d335f2.Emscripten.clang
- Target EVM version (as per compiler settings): compiler default (No optimization)
- Framework/IDE (e.g. Truffle or Remix): remix
- EVM execution environment / backend / blockchain client: remix / mai

[2019-05-23 12:35] chriseth commented on #6823
From the call trace in Etherscan, it looks like you called the `die` function on the `Hive1` library instead of the `Bee` contract. Can you please check if that is the case?

[2019-05-23 12:58] bshastry opened #6827 "[yul] Should statements that affect the value returned by a subsequent call to `msize()` be removed even if they are redundant?"
Main task here still to do:
 - document in description of optimizer and in changelog

----

## Description

(Found by libfuzzer+LPM)

[code]

However, since `y` is unused it is removed by the optimizer. This means that the retained `mstore` now stores a zero (because `msize()` is zero).

Traces

[code]

## Environment

- Compiler version: latest develop

[2019-05-23 13:07] chriseth commented on #6827
The old optimizer only removes `mload` and `keccak256` calls if the program does not contain the `msize` instruction. Maybe we should do the same here?

On the other hand, do people really rely on the result of `msize()` having a certain value instead of just the fact that `msize()` returns a pointer to prior unused memory? You can of course do something like

[code]
and assume that this "allocate