[2022-04-25 20:31] PaulRBerg commented on #12479
Oh yes this is what I am planning on doing .. but I use `SCALE` in many places. My code will get somewhat verbose because of this limitation related to how constants can be used.

100%. I really wished I could use non-uint constants in assembly.

[2022-04-25 20:31] cameel commented on #12946
This is completely off-topic for this repository.

[2022-04-25 20:31] #12946 closed, assigned to nobody

[2022-04-25 20:34] cameel commented on #12479
Sorry, I should have made it clearer that I was asking @chriseth if it wouldn't be viable to implement it this way in the compiler :) I totally think you should not have to this manually, though unfortunately that seems to be the only real workaround right now.

[2022-04-25 21:15] cameel commented on #167
If you mean the initial bytes like the original requester, this is now possible with a conversion. See #9170.

If you mean arbitrary slices, then not yet but it's on our roadmap and will be possible eventually. See #7423.

[2022-04-25 21:44] eddybuilds commented on #12922
Thanks @cameel! I've joined the channel and DM'd @bshastry.

[2022-04-26 11:37] cameel commented on #11593
I think that `address` is actually something that should be allowed as input in `bytes.concat()`. It does have an unambiguous binary representation and an explicit cast to `bytes20` should not be needed.

[2022-04-26 14:16] hrkrshnn opened #12963 "Prevent `dup`-ing values that are cheaper to recompute"
From https://github.com/foundry-rs/foundry/issues/1373

[2022-04-26 14:29] ywon0925 commented on #12896
@cameel I was asking since it was marked as 'good first issue', but I'll take a look at other issues & PRs to see if there are any I could help with.

[2022-04-26 15:10] jacob-eliosoff commented on #10698
And just to echo two other points @cameel made:

1. Yeah I strongly favor the unchecked operator over the unchecked block.  See [examples above](https://github.com/ethereum/solidity/issues/10698#issuecomment-1046128220): it's usually more compact and precise to make the decision about the individual operation (though the option of larger `unchecked` blocks may also be worth keeping around?).  It's

[2022-04-26 15:34] hrkrshnn commented on #12963
I don't have a minimal example for this yet.

[2022-04-26 17:09] cameel commented on #12963
What was the compiler version where they saw this? Since the linked issue mentions `via-ir`, it must have been 0.8.13?

[2022-04-26 17:21] wminshew commented on #12963
op here -- confirmed `0.8.13`

separately, was under the impression (based on logged output w/i test) the issue was `via-ir` re-calling `TIMESTAMP` instead of duping the old saved value (since it "should" be immutable w/i a tx anyway, which is obviously broken by test time-travel logic)?

[2022-04-26 17:35] cameel commented on #12951
This seems related to this earlier issue from @cgewecke and @Ferparishuertas: #10354. That issue is about something else (getting "stack too deep" with optimizer disabled) but the underlying use case is very similar - needing to insert some "instrumentation" code that should go through the optimizer unmodified - for the purpose of tracking coverage in that specific case.

@brockelmore Do you need

[2022-04-26 17:35] wminshew commented on #12963
here's a [minimal repro](https://github.com/wminshew/minimal-repro-12963)

[2022-04-26 18:06] cameel commented on #12947
It's by design. See [Function Signatures and Selectors in Libraries](https://docs.soliditylang.org/en/latest/contracts.html#function-signatures-and-selectors-in-libraries):

There's been a lot of discussion about whether the contract ABI should be updated to support user-defined types explicitly, like enums or structs but breaking changes in the ABI are problematic so the current status quo is tha

[2022-04-26 18:06] #12947 closed, assigned to nobody

[2022-04-26 18:33] cameel commented on #12944
The main reason for having a dispatch function in Yul (rather than direct jumps like in the legacy codegen) is the expectation that the support for dynamic jumps in the EVM will eventually be removed. There's ongoing work on this and at some point we're likely to get some alternative mechanism, e.g. some opcodes for managing jump tables with a set of predefined destinations. Or a new variant of th

[2022-04-26 19:20] hrkrshnn commented on #12963
@wminshew Thanks. Just to summarize the above mimal repro, the compiler assumes that `block.timestamp` is movable / copyable across the contract. So, instead of `dup`-ing, it's just repeating the computation (opposite of the title of the issue).

[code]

To fix this, we'll have to change the side-effects of the opcode `timestamp`. Since this is only relevant for testing, we'll likely need to creat

[2022-04-26 21:01] aarlt commented on #1540
@cameel thx for linking #11787 here. @onbjerg Yes, it will be possible to import unoptimised asm with `--optimize` so that it gets optimized.

[2022-04-26 21:17] hrkrshnn commented on #12962
@drortirosh Can you post a minimal example? The example you posted doesn't seem to have any asserts.

[2022-04-26 21:54] drortirosh commented on #12962
This sample is based on the overflow sample in the doc.
If you run it with overflow check, it will report an error

[2022-04-26 22:51] italoHonoratoSA commented on #4652
I'm trying to call the following function from another contract:

[code]

  But the `abi.encodeWithSignature` of the calling contract doesn't work. I've tried everything, I've been trying for days.

[code]

The above function call transaction is successfully completed, but it displays the error:
` Although one or more Error Occurred [execution reverted] Contract Execution Completed
`

I also tried

[2022-04-27 08:31] leonardoalt commented on #12962
I don't think the assertion is wrong. Considering the requires, the multiplication can never overflow.
BMC reports a counterexample as a false positive, since it does not track the state, so it ignores the requires basically, only looking at the first function.
CHC unfortunately doesn't prove it with the default underlying solver. If I use an alternative underlying solver, it proves that the asser

[2022-04-27 09:06] hroussille commented on #12947
Ah okay I did miss that part, thanks !

I just don't understand why an incorrect ABI is exposed though? if such calls are considered to be internal, there should be no mention of it in the abi file ?

[2022-04-27 10:09] cameel commented on #12947
That's a bit of a grey area. It's not like the ABI of libraries is completely off-limits but it also does not have the strong compatibility an interoperability guarantees of the contract ABI. As the docs say, it's possible to interact with it, the compiler is not going out of its way to hide it but there are some caveats.

And as for the reasoning behind this, @chriseth or @axic would have to chim

[2022-04-27 18:32] cameel commented on #4652
@italoHonoratoSA The call looks correct. I think something else must be wrong. Please make sure `OtherContract` was successfully deployed and that you're actually using the right address.

Also, I'd recommend creating an interface and using the new `abi.encodeCall()`. This way you can be sure that the signature is valid and that your parameters match it.

In any case, this is unrelated to this iss

[2022-04-27 18:32] onbjerg commented on #1540
And I assume it would also be possible to include optimized bytecode in non-optimized bytecode that is not run through the optimizer?

[2022-04-27 18:52] jaa2 opened #12964 "Yul: Constant-complexity switch statement jump table targeting enums"
## Abstract
The current switch statement control graph builder, for Yul to EVM specifically, is fine when switching between only a few values. To decide which path to take, a switch statement is turned into a `(DUP + PUSH + EQ + PUSH + JUMPI)` pattern for each case, and the default case is handled at the end. This is fine when handling up to three values, but the execution gas cost increases linea

[2022-04-27 19:51] aarlt commented on #1540
@onbjerg Yes, that should work. For your use-case the built-in function `verbatim` could be a interesting - see https://docs.soliditylang.org/en/v0.8.13/yul.html#verbatim.

[2022-04-27 22:01] QuintonC opened #12965 "Response Status Codes via require(expression, errorString, optStatusCode)"
## Abstract
Hi!

First and foremost, thanks for taking the time to consider anything that I might outline below.

I'd like to consider, present, and question the addition of a standardized list of [response codes](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status) that can be returned as an exception within an assertion or requirement (`assert` or `require`). I'm **not** proposing that the

[2022-04-28 11:15] #12860 closed, assigned to cameel

[2022-04-28 11:45] chriseth commented on #12944
The reason we do not allow "goto" is more that we would otherwise have to remove some optimizations we are currently able to do.

[2022-04-28 11:49] chriseth commented on #12965
This looks incompatible to the user-defined error feature. Why do you think the user-defined error feature cannot solve the same problem?

[2022-04-28 11:53] chriseth commented on #12964
There are multiple ways to do this. You can store the jump targets in a "code table" like you did, but we can also store them in code and use codecopy to retrieve it. Furthermore, we could use a `push32` to store 16 jump targets and use a shift/mask combination to retrieve the right one. All of them require a change to Assembly in order to store the jump targets at the right page after the assembl

[2022-04-28 12:05] chriseth commented on #12479
Yes, we should add the `wrap` functions to the stuff allowed for constants in inline assembly.

[2022-04-28 13:05] cameel commented on #12965
Yeah, your examples seem to be assuming that the client is differentiating errors by their message but this is not necessary at all with the new custom error feature. Currently the compiler allows you to do this:

[code]
And on the client side you can just compare the error signature instead of relying on the string.

You could even implement some custom scheme of error codes that way if that's wh

[2022-04-28 13:06] #12955 closed, assigned to nobody

[2022-04-28 13:07] cameel commented on #12965
By the way, here's an earlier feature request for a feature that would allow defining error codes: #9813. Not the same thing but somewhat related.

[2022-04-28 15:22] QuintonC commented on #12965
Could you provide some more context about what makes this incompatible? I'm looking to add a feature to the core language. Sure, it's not compatible in its current state, this is an addition the core language in the hopes of standardizing errors that are thrown from contracts when conditions are not met, while allowing users to still return a user-defined string that can be shown on the front end.

[2022-04-28 15:48] QuintonC commented on #12965
I think perhaps my code samples under Motivation have thrown people off as those are front-end samples.

I'm reading a bit more through what is available in the docs to try and understand your response as well (I'm a front-end developer and new to working with Solidity contracts)

However, let's consider the following two samples with my suggestion:

### Original Code Sample
[code]

### Suggested

[2022-04-28 16:18] cameel commented on #12965
That's not really true. See the section on [`revert`](https://docs.soliditylang.org/en/latest/control-structures.html#revert).

Your example would look like this with custom errors:
[code]

And this is already supported. No new feature needed.

On the client side the error does not have to be processed as a random string.
The docs on `revert` show how you can decode the return data to get the sele

[2022-04-28 17:14] QuintonC commented on #12965
Perhaps there is a disconnect between solidity and ethers then? The approach I'm suggesting would rule out any inconsistencies between all contracts in the future in terms of error handling, while also increasing/stabilizing the ability to control, manage, and detect errors on the front end while giving users more insight as to why their transaction might have failed.

Given your sample above, wha

[2022-04-28 18:05] cameel commented on #12965
Sorry, I'm not intimately familiar with how specific libraries handle custom errors. What I can tell you is that this is how returndata looks like for `Error(string)`:

[code]

For other errors it will be similar, according the ABI encoding rules. The selector part is what the library can present to you as an "error code". It's a hash of the error signature so it can also be matched against specif

[2022-04-28 18:30] cameel commented on #12915
We'll need more information to investigate this.

The contract that the transaction from https://github.com/trufflesuite/truffle/issues/4616 interacts with is not source verified (neither on etherscan nor on sourcify). Is the source available? If it's just the bytecode then this does not include a source map - where is Truffle getting that source map from?

Basically, we need the input that makes

[2022-04-28 18:48] jaa2 commented on #12964
I like the idea of storing the jump targets in a single word. I was able to get the execution cost down to 48 gas using the `push` technique, taking advantage of the fact that a right shift of more than the range of the pushed value will result in zero. If the result of the shift is 0, it jumps to the default case instead.

**Push technique (48 gas):**
[code]

The two assumptions it has to make ar

[2022-04-28 18:53] cameel commented on #12840
@CHM1993 What @chriseth meant here is that in Remix the gas cost of opcodes does not correspond well to how heavy they are to execute (as it would be the case if an Eth node executed them). Normally the storage access would be the most expensive operation because it involves disk. In Remix though even memory operations can be pretty heavy computationally compared to how cheap they are in terms of

[2022-04-28 18:56] cameel commented on #12848
I think it's just a problem with the in-browser EVM used by Remix not being very efficient at getting to the gas limit. Similarly as in https://github.com/ethereum/solidity/issues/12840#issuecomment-1112550272.

[2022-04-28 20:52] cameel commented on #12526
Isn't this a duplicate of #1100?

[2022-04-28 20:55] haltman-at opened #12968 "Error message that results from using Unicode in string literal is confusing"
## Description

Suppose I try to compile the following contract:

[code]

I get the following error message:

[code]

Now, I know Solidity well enough to realize that, oh right, this is because Unicode strings have to be prefixed with the word `unicode`.  However, someone newer to Solidity, who hasn't read all the documentation, likely wouldn't realize this, and would likely conclude that Unicode

[2022-04-28 21:09] cameel commented on #12654
It would not be bad on its own but I'd also expect users to be confused about the difference between `revert("");` and `revert "";`.

Plain `revert;` also has the problem that it could be taken for `revert("")` but it's such a common pattern that I think it might be acceptable. Honestly, I'm shocked to discover that JavaScript (and Java) are the exceptions that do not have this. A lot of very popu

[2022-04-28 21:14] cameel commented on #12968
Right. This should be easy to improve. Adding a `good first issue` label since fixing it is basically rewording the error message.

We could also add an escaped representation in the message to make this clearer for characters that look close to ASCII chars (e.g. many cyryllic letters or the Turkish i/I).

[2022-04-29 13:14] hroussille commented on #12947
I see, thanks for your reply ! I'd be curious to know those details though.

[2022-04-29 13:43] dongmingh commented on #12915
@cameel thanks for looking into this.  The source file is available in [etherscan](https://etherscan.io/address/0x0000000000004946c0e9F43F4Dee607b0eF1fA1c#code#L1). The solc version is  v0.6.8+commit.0bbfe453 and optimization is enabled.

[2022-04-29 14:23] Amxx opened #12970 "Solidity summit 2022 (Amsterdam) slide feature non-value immutables."
Not exactly documentation, but [slide #5 of @chriseth's presentation at the Solidity summit](https://chriseth.github.io/notes/talks/summit_2022/#/5) includes

[code]

Unlike the immutable array, this is not marked as "not available yet" ... but it doesn't appear to work with 0.8.13.

Maybe it would be nice to update the slide to clarify that point.

[2022-04-29 16:02] pietroborrello opened #12972 "InternalCompilerError: FixedPointType not implemented"
##### **Describe the bug**
The attached testcase crashes the solidity compiler solc with an InternalCompilerError: FixedPointType not implemented

##### **To Reproduce**
Built solc_ossfuzz using clang-10 according to [the oss-fuzz script](https://github.com/google/oss-fuzz/blob/master/projects/solidity/build.sh) with `CXXFLAGS='-O1 -fsanitize=address -fsanitize=array-bounds,bool,builtin,enum,float

[2022-04-29 16:12] pietroborrello opened #12973 "[SMTChecker] ICE in `SMTEncoder::indexOrMemberAssignment()` with public state variable with invalid double initialization"
##### **Describe the bug**
The attached testcase crashes the solidity compiler solc with an InternalCompilerError: Solidity assertion failed in in solidity::frontend::SMTEncoder::indexOrMemberAssignment

https://github.com/ethereum/solidity/blob/b35cda5998ac7bc28a58f23480f2f82a440d6fa2/libsolidity/formal/SMTEncoder.cpp#L1596

##### **To Reproduce**
Built solc_ossfuzz using clang-10 according to [t

[2022-04-30 09:48] cameel commented on #12973
Thanks for the report! I can confirm that this is reproducible on 0.8.13. Here's a slightly cleaned up repro:
[code]
[code]
[code]

By the way, @pietroborrello if the Solidity sample is not huge, its best to just include it directly in the bug report. Also, if you run the sample though solc and that triggers an Internal Compiler Error (like I did above) that's a much simpler starting point and eno

[2022-04-30 10:00] cameel commented on #12972
Slightly simplified repro:
[code]
[code]
[code]

This is a known problem though. Fixed point types like `fixed8x80` are already in the language but many of their aspects are simply not implemented (and likely won't be). The error reporting definitely should be better here (IMO it's not acceptable to just trigger an ICE for a missing feature) but that's all there is to it.

I think @bshastry had to

[2022-04-30 10:02] cameel commented on #12972
Duplicate of #9936 and #9944.

[2022-04-30 15:32] cameel commented on #12915
Thanks!

I investigated this and the reason seems to be that the source that etherscan is presenting is not the exact source that was used to generate the source map that's being shown there. It's a bit shorter. The difference must be in the comments or whitespace since it did not affect the bytecode but only the source map.

To check this you can verify the contract manually. Copy the source from

[2022-04-30 17:19] decafboba commented on #12807
Modifiers in Libraries would be super useful and help to tidy up our code, would love to see this functionality supported!

[2022-05-01 02:15] iamianM commented on #6012
This doesn't seem to work anymore. Have you found another solution? I'm getting the transaction reverted.

[2022-05-01 09:14] PaulRBerg commented on #12479
FWIW, this is the workaround I had to recourse to to make my code compile. I created a copy of each constant by appending a `_UINT` suffix:

[code]

It's not terrible, but not great either. A bit verbose.

[2022-05-02 04:43] super1ha1 commented on #12968
Hi @cameel I made a pull request here, can you help to take a look
[12977](https://github.com/ethereum/solidity/pull/12977)

thanks you !

[2022-05-02 08:38] bshastry commented on #12840
Should we close this issue since it appears to be Remix related?

[2022-05-02 08:39] bshastry commented on #12848
Should we close this issue since it appears to be Remix related?

[2022-05-02 08:47] #12972 closed, assigned to nobody

[2022-05-02 08:48] chriseth commented on #12972
We could remove fixed points for 0.9.0.

[2022-05-02 09:21] pietroborrello commented on #12973
Thank you for looking into this and for your kind reply. Next time I will follow your guidelines to ease your work :)

[2022-05-02 09:24] #12848 closed, assigned to nobody

[2022-05-02 09:25] pietroborrello commented on #12972
Thank you for looking into this.
My bad! I assumed `fixed8x80` was a different "not implemented" type than `fixed` and thus, a different issue, or at least a different way to trigger the same underlying issue.

[2022-05-02 09:28] chriseth commented on #12970
Ah, thanks a lot! Should be fixed now.

[2022-05-02 09:28] #12970 closed, assigned to nobody

[2022-05-02 10:50] #12840 closed, assigned to nobody

[2022-05-02 15:10] featheryus commented on #12833
The feature seems under development， when to release it? Thanks

[2022-05-02 21:53] swetepete commented on #12935
Open to trying this out.

So the basic idea is to convert from the documentation any topic listed above to a much more concise version, in the cheat sheet?

For example, the types listed here?: https://docs.soliditylang.org/en/v0.8.12/types.html

Thank you

[2022-05-02 23:20] cameel commented on #12935
Please note that we need to clean up the cheat sheet first. This task should be done after #12934.

[2022-05-03 05:52] YashasSamaga commented on #12812
[Excrept from semver npm package:](https://docs.npmjs.com/cli/v6/using-npm/semver#prerelease-tags)

[2022-05-03 09:16] wuestholz opened #12980 "Ensure that any contract that compiles with the new optimizer also compiles when disabling optimizations"
## Abstract

According the discussion with @chriseth at the FV hangout, it may happen that a contract that compiles with the new Yul-based optimizer does not compile when disabling that optimizer. The reason seems to be a new compiler/optimizer pass that spills stack variables to memory. As far as I understand, when disabling the optimizer, this pass is currently not run and contracts may not comp

[2022-05-03 17:07] 3esmit commented on #6012
@chriseth Is this fixed? I think it was automatically closed by mistake, can you reopen it and resume the discussion?

[2022-05-03 20:51] VforVanana commented on #6012
This is not supposed to be fixed, because it is not an issue: msg.data is not abi encoded (only what comes after the function selector is). You can use array slices for this.

[code]

[2022-05-04 03:40] zemse opened #12982 "Feature Request: Include some revert data to identify that function doesn't exist in contract"
## Abstract

When a function doesn't exist in a contract, the contract simply reverts. It's quite frequent that devs jumble up contract addresses while interacting with the contracts (on the client-side), and they just see a `execution reverted` error which might not be helpful for someone in this situation for the first time.

## Motivation

But if some data is included (like a 4 bytes selector),

[2022-05-04 08:15] haltman-at commented on #12915
Jumping in briefly to provide some clarity here, since I realize things may not have been presented in an entirely clear manner here -- there definitely is a compiler issue here (although whether it's still present in current versions, who knows, given that so far we've only reproduced it on 0.6.x).  It's true that the source we compile isn't exactly the same as the source downloaded from Ethersca

[2022-05-05 20:05] devtooligan commented on #10281
I support the current behavior.

imo assuming the top /// lines without tags are @notice is a feature not a bug.

Ever since I learned about this I've stopped using the @notice in most cases and imo the code looks so much cleaner now.

It also adds to the conversation of should you try and indent your multi-line natspec comments since a lot of multi-line comments are @notice so if you skip the tag

[2022-05-06 00:16] Amaris101 opened #12987 "@Amaris101"
@Amaris101

_Originally posted by @Amaris101 in https://github.com/ethereum/solidity/pull/12986#pullrequestreview-964077780_

[2022-05-06 00:17] Amaris101 opened #12988 "Node.js"
## Page

## Abstract

## Pull request

[2022-05-06 01:50] 0xalpharush opened #12989 "add suggestion when dynamic memory arrays are used if size is not given"
## Abstract

Add compile time warning for dynamic memory arrays that are not explicitly allocated when declared.

## Motivation

The below example compiles and results in an "index out of bounds" warning when run. It would be easier to debug and likely prevent runtime exceptions if the compiler warned or errored with the following syntax.

## Specification
[code]
Suggest: structs does not declare

[2022-05-06 08:38] cameel commented on #12989
You have a bug in your example. You're using `array.length` instead of `structs.length`. A correctly coded example will not revert because an "uninitialized" array does not contain random data. Its length is guaranteed to be zero:
[code]

Also, it's perfectly fine not to allocate the array immediately. You might not know the size of the array immediately:
[code]

[2022-05-06 08:42] cameel commented on #12988
Spam.

[2022-05-06 08:42] #12988 closed

[2022-05-06 08:44] #12987 closed

[2022-05-06 13:14] 0xalpharush commented on #12989
Using a different array was purposeful... whenever one modifies array elements e.g. converts to a different type and copies them into a new array, the length of the input array is not always zero. And, the for loop will run in that case.
[code]

In this example, an explicit size is used, so it's not something I'd expect a warning about.

[2022-05-06 14:17] hedgar2017 opened #12990 "The legacy assembly blocks cross-tagging between deploy and runtime code"
Since the legacy assembly is not documented, I create this issue in this section.

Could anyone help me with EVM legacy assembly? I'm trying to figure out the following pattern:

[code]

What should be the result of such operation?
If I just execute the binary operations on the tags as on decimal numbers, the result does not add up to a tag of an existing block. Neither in the deploy nor in the ru

[2022-05-06 15:29] aathan commented on #12725
Just to chime in here. I have a use case related to ERC165-like "light" interface checking. Basically, try/catch guards could be used to experimentally call an external contract function and act on the basis of which catch block executes. This would have many useful applications. One in particular would be to check if one of the transfer addresses in a token transfer appears to be something that s

[2022-05-07 11:11] hedgar2017 commented on #12990
@ekpyron you gave me some useful information lately, though I didn't clarify this particular aspect back then.
Could you please elaborate the behavior above?

[2022-05-07 23:18] ghost opened #12991 "Error type should be `function (...) public pure`"
## Abstract

Any error has a `.selector` member which returns the first four bytes of the keccak256 hash of the properly abi encoded function (error) selector.

Any error as far as I have noticed is of `function () pure` type.

Internal and private function types do not possess a `.selector` member. This makes it impossible to write something like the following:

[code]

Compile error:

[code]

##

[2022-05-08 11:11] philtruing commented on #3076
how to  create a file called `commit_hash.txt` in the root of the source directory? I mean where is the root of the source diretory

[2022-05-09 07:32] chriseth commented on #12991
The issue is that you cannot pass around a non-instance reference to an error, this is just not implemented in the language. We might allow that in the future with generics or we might allow passing around instances of errors.

In the meantime, I would recommend to pass the selector directly instead of the error.

[2022-05-09 07:32] #12991 closed, assigned to nobody

[2022-05-09 09:08] sourabhxyz opened #12992 "Are 39 or 41 digit long address literals allowed?"
## Page

https://docs.soliditylang.org/en/v0.8.13/types.html#address-literals

## Abstract

Do they mean: "Hexadecimal literals that **40** digits long and do not pass the checksum test produce an error." if not, then why does the language include 41 or 39 digits long hexadecimal literals?

## Pull request

I can create pull request if statement actually meant solely 40 digits long hexadecimal lit

[2022-05-09 09:16] cameel commented on #12992
Try appending a single digit at the end of the address from the example. You'll get this error:
[code]
If you append more than one, you'll get this instead:
[code]
Basically, the compiler assumes that 39- or 41-digit hex integers could be mistyped addresses and adapts the error message to that.

[2022-05-09 09:33] sourabhxyz commented on #12992
Thanks a lot cameel!

[2022-05-09 09:33] #12992 closed, assigned to nobody

[2022-05-09 09:50] christianparpart commented on #12833
Hey @featheryus, we keep working on the LSP. I am currently onboarding also a second person to help boosting new features in. A date cannot be given, but we want to gradually add new features with each release (It may not *always* work, so bare with me :) )

@suicide I am looking into this now :)

[2022-05-09 09:53] hrkrshnn commented on #12990
@hedgar2017 What generated this assembly code?

[2022-05-09 10:12] hedgar2017 commented on #12990
@hrkrshnn this test for example:
[code]

Or any other where internal functions are called from the constructor.

[2022-05-09 10:18] hedgar2017 commented on #12990
@hrkrshnn the question is basically what is the expected behavior of the following operations: `SHL`, `SHR`, `OR`, `XOR`, `AND`, if 1 or 2 of their operands are **tags**.

[2022-05-09 10:22] hrkrshnn commented on #12990
Tags just represent offsets in code. It can be treated as `push num`. Maybe a nice illustration of this can be
[code]
In the legacy compilation pipeline, you will see operations on tags here.

[2022-05-09 10:54] hedgar2017 commented on #12990
@hrkrshnn I know what they represent.
The question is above: what is the expected behavior of the following operations: SHL, SHR, OR, XOR, AND, if 1 or 2 of their operands are tags.

[2022-05-09 14:22] #12601 closed, assigned to Marenz

[2022-05-09 14:23] Marenz commented on #12601
This has been resolved by #12724

[2022-05-09 17:04] 3esmit commented on #6012
Thanks, I think that this workaround is good enough. When this issue was created, this was not possible. As this is now possible, I accept the issue as closed.

[2022-05-09 23:04] hrkrshnn opened #12995 "Feature: `print(...)`"
## Abstract

A variadic function `print(...)` that would emit a `log*` with `abi` encoded data of its arguments.

## Motivation
It's typical for testing frameworks / debugging setups to have some way to print the value of variables.

For Hardhat, this is [`console.log`](https://github.com/NomicFoundation/hardhat/blob/master/packages/hardhat-core/console.sol). For dapptools and foundry, this is [`l

[2022-05-09 23:07] hrkrshnn commented on #12995
For comparison, there is `print` in Vyper: https://github.com/vyperlang/vyper/pull/2818 modelled after `console.log` in hardhat.

[2022-05-10 08:04] chriseth commented on #12995
Logs are problematic because they are erased on revert, the optimizer might even remove `print`s before a `revert`.
If we want to do this, we need a special debugging EVM / a special opcode whose effects are not erased by revert.

[2022-05-10 08:08] pcaversaccio opened #12996 "Language feature: disallow state-changing effects after an external call by default"
## Abstract

Generally disallowing state-changing effects after an `external` function call and enabling the possibility to mark functions that specifically do this.

## Motivation

I started this discussion on [Twitter](https://twitter.com/pcaversaccio/status/1523231260721975296) after another reentrancy attack (Cc: @chriseth). Reentrancy attacks are ubiquitous and even though there are toolings

[2022-05-10 08:32] chriseth commented on #12996
Just a comment on the name of the modifier: I don't like opinionated words like "safe" or "protected" because they give a false impression of safety or protection, we should find a more neutral one.

Also more generally: Also wrt. free functions, it might be a good idea to explicitly pass/provide something like a "context" as a parameter to functions that allows external calls (or maybe even state

[2022-05-10 09:32] hrkrshnn commented on #12995
I don't think this is an issue. Just need to change this in the VM. I believe these tools are already doing it.

Good point. Maybe a good use for a `--debug` flag.

[2022-05-10 10:30] cameel opened #12998 "[SMTChecker] ICE when selecting Z3 solver and the dynamic library is not installed"
## Description
The compiler reports an Internal Compiler Error when you try to use Z3 solver with a solc binary that uses dynamically linked Z3 and Z3 is not installed.

## Steps to Reproduce
[code]
[code]

## Environment
- Compiler version: 0.8.7 - 0.8.13
- Operating system: Arch Linux

[2022-05-10 11:55] chriseth commented on #12880
I see two ways to fix this:
1) add an `if` (or switch) inside the case 0 to check for zero length
2) do the mstore in case 0 ever for zero length (it does not hurt) and compute the offset for `pos` using something like `mul(0x20, iszero(iszero(length))` - or a cheaper version that does not use `mul`

[2022-05-10 18:02] camiinthisthang commented on #12549
Hi! I was running into a similar problem and posted the question and answer here:
https://ethereum.stackexchange.com/questions/127954/using-memory-vs-storage-for-arrays-in-structs-in-solidity-qa

[2022-05-10 20:58] pcaversaccio commented on #12996
You are right about the name of the modifier - after thinking through it today maybe we even do not need a modifier but can use the `unchecked` block syntax directly. I think in a _broader sense_ this language feature is consistent with the checked arithmetic introduced in solc version `0.8.0` since it also wants to prevent unwanted behaviour that could be exploited (one of the major reasons behin

[2022-05-10 22:11] kingsley-einstein opened #13002 "Problem with ERC721 contract deployed with create2"
Hello there,

I'm not sure if this counts as a bug or it's just me who doesn't fully understand how the EVM works but I'm having problems with an ERC721 smart contract deployed with `create2`.

So I'm working on an NFT marketplace smart contract and one of the features in this marketplace allows users to deploy their own collection (this is basically a smart contract that extends the ERC721 specif

[2022-05-10 22:24] xinbenlv opened #13003 "Native solidity support for EIP-196 EIP-197: ECADD and ECMOD for alt_bn128"
## Abstract

Consider support ECADD and ECMOD as per [EIP-196](https://eips.ethereum.org/EIPS/eip-196) and [EIP-197](https://eips.ethereum.org/EIPS/eip-197)

## Motivation

Many use cases as per
- https://eips.ethereum.org/EIPS/eip-1923
- https://medium.com/@rbkhmrcr/precompiles-solidity-e5d29bd428c4

## Specification

Some built-in function as https://medium.com/@rbkhmrcr/precompiles-solidity-e5d

[2022-05-10 23:13] sseefried opened #13004 "Warn when an arithmetic expression in a common type is implicitly upcast to an even larger type"
## Page

No documentation

## Abstract

I recently discovered that literal expressions of the form `n days` seem to get given the type `uint24`. However, I couldn't find any documentation on this and it leads to problems once you try to multiply by a number with smaller precision.

The following simple contract highlights this problem

[code]

If you compile, deploy and call function `r1` -- I use

[2022-05-11 10:14] chriseth commented on #13003
Related to #10639

[2022-05-11 10:16] chriseth commented on #13002
Closing this because it is neither a bug nor a feature request. If you have further questions, please either ask in https://gitter.im/ethereum/solidity or https://ethereum.stackexchange.com/

This question is better asked at https://ethereum.stackexchange.com - you will get faster and better replies there.

[2022-05-11 10:16] #13002 closed, assigned to nobody

[2022-05-11 10:51] cameel commented on #13004
Thanks for the report. This really looks like a bug. `1 days` is supposed to be a a literal, equivalent to writing `24 * 60 * 60`. If you write
[code]
you get an error
[code]
and it's the same exact error you get if you get when using a literal:
[code]
[code]
The analysis clearly does not treat it as an expression of type `uint24` or it would have issued this error instead:
[code]

**EDIT**: The s

[2022-05-11 11:23] cameel commented on #13004
After discussing it with @ekpyron looks like I was wrong. This is actually the expected behavior for literals. If you do `n * (1 * 24 * 60 * 60)`, the `1 * 24 * 60 * 60` part is a literal expression but it gets converted to its mobile type before the operation, which is `uint24` in this case. Same happens when you use `1 days` instead.

So there's no bug here and the suffixes do not inherently giv

[2022-05-11 12:49] hrkrshnn commented on #12995
Conclusion from the meeting: the team wants this to be solved using generics rather than having inbuilt functions.

Regarding a `--debug` flag (or something alike), this could still be useful for solving issues in testing. For example, the optimizer assuming that the value of `block.timestamp` is the same throughout a transaction.

Will close.

[2022-05-11 12:49] #12995 closed, assigned to nobody

[2022-05-11 13:00] chriseth commented on #12995
Tiny addition: This is a good contender for the standard library, so I think it should be "built in" at least in some sense.

[2022-05-11 13:02] chaals commented on #12739
Thank you all for raising this and especially @alcuadrado for the notes of the meeting (nobody can attend all meetings, so have a written trail to follow is really important to improve the future).

I'm wondering where this is at now.

My specific use case is being able to find out what things are slated for deprecation when they are - which I haven't so far been able to glean from going through d

[2022-05-11 15:18] ekpyron commented on #12990
``18446744073709551625`` in hexadecimal is ``0x010000000000000009``...
that's the internal tag ID of a tag that refers to something in "subassembly" 1, i.e. it's how construction code refers to the runtime tag 9... might be nice to make the evmasm output nicer for such cases...

In the translation from evmasm to an actual opcode sequence, this would resolve to the offset of tag 9 in the runtime co

[2022-05-11 15:25] ekpyron opened #13008 "Revisit gcc 12 / boost workarounds with the next version of boost."
https://github.com/ethereum/solidity/pull/13006 was a quick hack to restore compilation against gcc 12.

Once a newer boost version with proper gcc 12 compatibility (without warnings) is released, we can revisit this (and either make the workaround conditional depending on the boost version or bump the minimum required version of boost, at least in the presence of gcc 12).

On the other hand, it'l

[2022-05-11 17:57] hedgar2017 commented on #12990
@ekpyron thanks a lot! That had been my working version I was going to try today!

But still, the behavior of the `OR` opcode on tags remains a little obscured and I would like to clarify it completely.

I understand that before `SHR 32` there must be the needed tag in the bits `32..64` of the tag operand. Therefore, the `OR` instruction must shift either the higher or lower bits there, depending

[2022-05-11 18:42] ekpyron commented on #12990
The ``OR`` just combines the deploy-time offset with the creation-time offset... it could just as well be ``ADD``, in case that helps :-)?
Note that while the tag ID in ``PUSH [tag] 18446744073709551625`` appears to be large, this is just a symbolic ID - the actual offset later on will be something small, like ``0x42`` or so...

So

Is ``or(shl(32, <creation-offset>), <runtime-offset>)`` - the ``o

[2022-05-11 18:44] ekpyron commented on #12990
So as actual opcodes you will in the end see that

will be translated to something like

Just instead of ``0xAA`` whatever the creation-time-offset of tag 9 is and ``0xBB`` the offset of whatever the corresponding tag in runtime code is.

[2022-05-11 19:52] hedgar2017 commented on #12990
Ok, we have clarified that the behavior of the bitwise operations is not different than with ordinary operands.

Here is the example:
[code]

Thus, the behavior of the `JUMP` is different. This jump has an intention to jump to the block 5 of the **creation** code (the block 5 does not exist in the **runtime** code). Why that 1 is needed in the 5-th byte, and what is the exact behavior of `JUMP` in

[2022-05-11 19:52] #12998 closed, assigned to nobody

[2022-05-11 20:01] ekpyron commented on #12990
Let me repeat :-): ``PUSH [tag]      18446744073709551624`` does ***not*** push ``10000000000000008``. There is no 1 in the 5-th byte of whatever this tag will ultimately resolve to.
Just like ``PUSH [tag] 4`` will **not** push the value ``4``, but the offset of the tag labeled 4 in the ultimate bytecode.
Those are symbolic tag IDs, not literal offsets.

The higher order bit 1 you see in ``1844674

[2022-05-11 20:04] ekpyron commented on #12990
You can have a look at what you get if you compile to actual opcodes either by using ``solc --opcodes`` or disassembling the binary - you will no longer see the tag IDs in there, but they will be resolved to actual bytecode offsets. Those tag IDs will only be present as long as you stay in evmasm - and then they don't refer to literal values, but it's just IDs of tags that will ultimately resolve

[2022-05-11 20:06] hedgar2017 commented on #12990
@ekpyron this is that particular detail I needed to hear :-) Sorry for my nuisance.

I am writing a EVM-to-LLVM compiler, and in my case those tags are indeed meaningful values and they are rendered into LLVM block identifiers. So if there was anything possibly hidden under the good, I needed to know it.

[2022-05-11 20:07] ekpyron commented on #12990
Sure no worries - I already realized after my first post that probably that first post didn't clarify that part sufficiently well :-).

[2022-05-11 20:09] hedgar2017 commented on #12990
In fact, I also use these tags to reconstruct the control flow tree, so I push the tags on the stack as ordinary integers indeed :-)

Thanks a lot for the detailed explanation!

[2022-05-11 20:09] #12990 closed, assigned to nobody

[2022-05-11 22:31] sseefried commented on #13004
@cameel Thanks for your thorough research on the topic. I searched for the term "mobile type" in the Solidity docs and found this

This is exactly what I was looking for earlier but failed to find. Thank you for helping me find it.

I don't think the behaviour I saw in my function `r1` above is incorrect but it is _tricky_. What I was expecting was that the whole expression would be computed with

[2022-05-12 09:58] alexdupre opened #13011 "Build issue on i386/x86 platform with z3 enabled"
## Description

The build is broken on i386/x86-32 platforms when Z3 in enabled. No problems on amd64/x86-64.

Here is a build log showing several `error: use of overloaded operator '[]' is ambiguous`:
https://www.mail-archive.com/freebsd-pkg-fallout@freebsd.org/msg1934042.html

## Environment

- Compiler version: FreeBSD clang version 13.0.0
- Operating system: FreeBSD i386

## Steps to Reproduce

[2022-05-13 07:42] 01231 commented on #2948
@d-saravanan

[This](https://fravoll.github.io/solidity-patterns/memory_array_building.html) is a good pattern to follow.

[2022-05-13 10:13] ekpyron commented on #10057
I'm calling this done.

[2022-05-13 10:13] #10057 closed, assigned to nobody

[2022-05-13 10:23] Neurone opened #13015 "Add pre-release/nightly builds inside the list of static binaries"
## Abstract

Add pre-release/nightly builds inside the list of solidity static binaries.

## Motivation

Following the official documentation (https://docs.soliditylang.org/en/latest/installing-solidity.html#static-binaries), suggested static binaries can be listed from https://binaries.soliditylang.org/emscripten-wasm32/list.json, with https://binaries.soliditylang.org/emscripten-asmjs/list.json

[2022-05-13 13:44] 0xalpharush opened #13017 "Confusing error message when using function calls that don't return anything as expressions."
## Description

The behavior of dynamic storage arrays with struct type is inconsistent and the compiler output is not helpful. I would expect that `pop1` and `pop3` be semantically equivalent; that is, `.pop()` would return the last array element and delete it. However, the error message for `pop3` suggests that a type of tuple is return by `.pop()`.

When I treat it as a tuple as suggested, the

[2022-05-13 13:58] ekpyron commented on #13017
``.pop`` on storage arrays does not return anything... that is to say an empty tuple, which is nothing... so you're trying to take this nothing (i.e. an empty tuple) and assign it to something :-)... that's how those error messages are to be understood, but yeah, maybe we should consider rephrasing them...

[2022-05-13 14:07] 0xalpharush commented on #13017
Is it just not implemented or it will never return anything? If the latter, I'd expect a warning like ".pop()` is not a member of dynamic storage array".

[2022-05-13 14:09] ekpyron commented on #12587
Hm... thinking about actually implementing this, it may be a problem to parse a ``code`` data location without making ``code`` a proper keyword, which would be breaking... that's a bit unfortunate...

[2022-05-13 14:16] OmarTawfik commented on #12739
@chaals this is in progress now, and we have a cross-version grammar, and working on adding technical information for the Solidity syntax. We are collecting breaking changes across all older versions, and planning to announce progress/a preview once it is complete.

However, I'm not sure if the Solidity team has published information on future plans (around deprecation), so I can leave that questi

[2022-05-13 14:23] ekpyron commented on #13017
``someArray.pop();`` works just fine and is implemented and removes the last element of the array.
It just does not return the value of the removed element.

[2022-05-13 17:15] frangio commented on #12587
In that case could the keyword be `immutable`?

[2022-05-13 18:11] ekpyron commented on #12587
That's a bit weird for a full proper data location...
[code]
``immutable`` looks just wrong for references you can reassign and pass around :-).

But I may be able to work around the parsing problem, if we restrict to arrays only... so that would mean that the first version would only allow the new ``code`` data location for array types, not for structs and we'd only add structs for 0.9 with ``cod

[2022-05-14 02:54] JTorresConsulta opened #13021 "Why I can`t pop() an array into a map with Solidity 0.8?"
I think there is a bug with pop() of arrays of mapping.

**OwnerIndexes[msg.sender].pop();  //Problem with this line !!!!!!!**

[code]

[2022-05-14 09:20] howardpen9 commented on #8153
follow from https://github.com/ethereum/solidity/issues/12829

[2022-05-14 09:55] leonardoalt commented on #13021
Popping an array of mappings is not allowed because you don't know which keys are dirty or not, so the deleting of the mapping does not actually happen.
If you have an array of mappings, write to it, delete the array, and read the mapping again, the information is still there.
Please see https://docs.soliditylang.org/en/v0.8.13/security-considerations.html#clearing-mappings.

[2022-05-14 09:55] #13021 closed, assigned to nobody

[2022-05-15 13:28] SamuelOsewa commented on #12968
Hey @cameel I made a pull request for this issue, please take a look

Thanks in advance

[2022-05-15 13:38] SamuelOsewa commented on #12934
I created a pull request with the notes section removed from the cheat sheet. Was that done correctly? @cameel

[2022-05-16 01:01] 0xalpharush opened #13025 "Broken link for Yul optimizations steps"
## Page
https://github.com/ethereum/solidity/blob/develop/docs/internals/optimizer.rst

## Abstract
This link is dead.

## Pull request

If someone can point indicate where this should link, I'll submit a PR. I don't see the "optimization step sequence" heading on this page either https://github.com/ethereum/solidity/blob/develop/docs/yul.rst

[2022-05-16 09:38] hrkrshnn commented on #13025
Thanks! https://docs.soliditylang.org/en/v0.8.13/yul.html#optimization-step-sequence is the correct link.

[2022-05-16 20:53] mitumaruto opened #13029 "bugslife"
## Description

## Environment

- Compiler version:
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduce

[2022-05-16 20:55] mitumaruto opened #13030 "bgl"
## Page

## Abstract

## Pull request

[2022-05-17 04:35] CryptoKiddies commented on #9599
Is this feature still under consideration? It would be convenient to assign a struct directly to variables listed in a LHS tuple.

[2022-05-17 06:21] #13029 closed

[2022-05-17 06:21] #13030 closed

[2022-05-17 09:40] bshastry commented on #11260
Here is a Solidity program that triggers it via optimized assembly

[code]

where `test.sol` is

[code]

[2022-05-17 11:16] leonardoalt commented on #5483
The double run mechanism isn't really used.

[2022-05-17 11:16] #5483 closed, assigned to nobody

[2022-05-17 11:18] leonardoalt commented on #11074
I'm not sure anymore this actually makes sense.

[2022-05-17 11:18] #11074 closed, assigned to nobody

[2022-05-17 11:18] leonardoalt commented on #12962
Closing given the explanation above. Please reopen if needed.

[2022-05-17 11:18] #12962 closed, assigned to nobody

[2022-05-17 11:20] leonardoalt commented on #7266
@ekpyron actually why did we want them to be raw pointers instead of shared_ptr?

[2022-05-17 11:33] axic commented on #5483
That's a way to solve an issue 😅

Do you plan to remove it?

[2022-05-17 11:48] #10900 closed, assigned to chriseth

[2022-05-17 11:50] ekpyron commented on #7266
shared pointer have non-zero overhead and you always need to be careful about them becoming cyclically dependent on each other...
In general, it's always nicer to have clearly defined explicit ownership and lifetimes instead - but not sure if there was any more concrete reason than that...

[2022-05-17 12:13] leonardoalt commented on #5483
We talked about this once, but now I think we really should.

[2022-05-17 12:15] leonardoalt commented on #7266
Yea, tho I'm wondering if that really makes sense for the SMT sorts

[2022-05-17 12:18] ekpyron commented on #7266
Rather similar case to us introducing that ``TypeProvider`` thing for the solidity AST I guess.

[2022-05-17 13:42] pcaversaccio commented on #12996
I would like to quickly add some further thoughts behind this language feature: The main question is whether we should build the language in a _via negativa_ or _via positiva_ way. I strongly tend based on the experience and events over the last 6 years to the first one. If you look at all the exploits that happened over the last 6 years (including DAO) we haven't got really smarter w.r.t. to reen

[2022-05-17 15:30] gpersoon opened #13035 "LSP: `textDocument/definition` always returns "result":[]"
## Description

## Environment

- Compiler version: Version: 0.8.14+commit.80d49f37.Windows.msvc
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): Notepad++ 8.3.3. 64bit & https://github.com/Ekopalypse/NppLspClient V0.0.9 64 bits
- EVM execution environment / backend / blockchain client: default
- Operating system: Windows

## Steps to Reproduce

###

[2022-05-17 21:53] hrkrshnn commented on #9786
not quite
[code]

[2022-05-18 04:43] distractedm1nd commented on #12825
Facing the same error on MacOS, same installation method. The language server works great for a few minutes, then starts throwing this error on every keystroke - haven't been able to find out what triggers it yet.

[2022-05-18 07:02] distractedm1nd commented on #12825
I noticed you mentioned that nvim is doing something weird with the initialization, so I think this may be related: Running `:LspRestart` always fails, but it gives a different error.

[code]

[2022-05-18 09:13] leonardoalt commented on #9786
Right, should be any new transactions.
Sigh this is gonna be tricky to get right I think.
There's also the case where a contract can be redeployed in that address.

[2022-05-18 09:53] bshastry opened #13037 "[Yul -> EVM code transform] ICE due to stack underflow"
[code]

throws

https://github.com/ethereum/solidity/blob/80d49f37028b13e162951b6b67b0a42f477ba93c/libevmasm/Assembly.cpp#L53

Repro

[code]

[2022-05-18 10:20] bshastry opened #13039 "[Optimizer] Does not respect returndatacopy specification"
The optimizer incorrectly optimizes out `returndatacopy` calls in the following contracts. Found by fuzzing and inputs from @hrkrshnn

[code]

and

[code]

From matrix chat

@hrkrshnn quotes from the spec

So technically the optimizer should retain the returndatacopy call so that it would run out of gas.

[2022-05-18 10:24] bshastry commented on #13039
I formatted the edge-cases into semantic test inputs as follows

[code]

[code]

Both correctly fail *without* optimization but incorrectly pass *with* optimization. Also both legacy and IR optimizers behave identically i.e., remove the returndatacopy call.

[2022-05-18 10:47] ekpyron commented on #13037
Note: this does work with ``--via-ir``, so the issue here is (probably) the legacy code transform on inline assembly messing up the stack heights on a stack-too-deep case.
But we should definitely investigate why this passes through to this stack height assertion and whether anything might slip through entirely.

[2022-05-18 10:59] ekpyron commented on #13039
@hrkrshnn mentioned in chat that IR codegen only uses ``returndatasize`` as length argument of ``returndatacopy``, so that should be fine. Given that @chriseth in chat:

[2022-05-18 23:04] mouseless0x commented on #12825
Having the same issues as well. Running `:LspRestart` also yields

[code]

Read my [log files](https://pastebin.com/BZZdJZws) and this is the first error that showed up for me

[code]

[2022-05-19 09:00] #12406 closed, assigned to wechman

[2022-05-19 12:00] bshastry commented on #11602
In the semantic test below, `s2` contains dirty bits via legacy when accessed via inline assembly, IR does not. Essentially

- call to `g()` via legacy returns (r1 = `0x3030...62`; r2 = `0x37...02`)
- call to `g()` via IR returns (r1 = `0x3030...62 i.e., same as legacy; but r2 = `0x37...00` i.e., the last byte zero)

I'm not sure where the stray `0x02` (last byte that creeps into storage originate

[2022-05-19 12:20] ekpyron commented on #11602
Slightly simpler repro:
[code]
I guess there's dirty memory before the assignment to ``s2`` that's not properly cleared...
The desired behaviour is the IR behaviour - storage should be clean at all times...
So looks like a genuine minor bug in legacy codegen to me.

[2022-05-19 12:23] ekpyron commented on #11602
Actually:
[code]

has the issue without any inline assembly...

[2022-05-19 12:43] ekpyron commented on #11602
Also happens with a less exotic event...
[code]

[2022-05-19 12:57] ekpyron commented on #11602
Another simplification:
[code]

...this is starting to look somewhat serious to me...

[2022-05-19 13:50] #12774 closed, assigned to nobody

[2022-05-19 15:58] cameel commented on #13015
I talked briefly about it with @ekpyron and we do not see any big reasons not to do it other than the fact that having huge dirs in a git repo makes them hard to browse. I think that most users do not go the directly though and creating a subdirectory would alleviate that problem.

I'd rather just create a subdir specifically for nightlies though. I think that having things duplicated too many tim

[2022-05-19 16:09] cameel commented on #13015
Another idea: we could put nightlies in a subdir but keep a single `list.json`.

The only problem is that on the list you'd now have paths rather than just file names. Clients assuming filenames would have problems. But I think that we're still at the point where tools are transitioning to `emscripten-wasm32/` and `emscripten-asmjs/` and most still use `bin/` and `wasm/` so we can be flexible with

[2022-05-19 16:17] #9933 closed, assigned to nobody

[2022-05-20 10:26] #12912 closed, assigned to nobody

[2022-05-20 12:29] ekpyron opened #13046 "[Yul Optimizer] Consider moving statically sized memory allocations to static offsets while adjusting the ``memoryguard``"
[code]
Could, in principle, realize that all non-reverting branches need 64 bytes of static memory, shift the memoryguard and transform to:

[code]

The logic would ~~basically be the same as~~ be similar to the allocation of memory slots in the stack-to-memory process.

However, there'd be some subtleties involved... e.g. we'd need to decide how to tradeoff between branches requiring more or less

[2022-05-20 12:45] ekpyron commented on #13046
Thinking about it a bit more: this could be *similar* to what the stack limit evader does, but it's not entirely the same:
Since the statically allocated memory chunks could be stored somewhere during loops, we'd basically need to treat loops similar to how the stack-to-memory process treats recursion. I.e. not do this for allocations in loops. Or ensure that the memory is only used locally within

[2022-05-20 12:56] ekpyron commented on #13046
So basically the issue will be to determine *which* allocations can safely be turned to static ones... which may lead back to full memory objects... but at least the rest, i.e. assigning distinct static offsets *for* such allocations, could probably be shared with the current stack-to-memory logic...

[2022-05-20 12:58] ekpyron commented on #13046
Related to https://github.com/ethereum/solidity/issues/5107

[2022-05-20 18:56] #12343 closed, assigned to ekpyron

[2022-05-22 21:03] hrkrshnn opened #13050 "Seaport compile time in `--via-ir`"
https://github.com/ProjectOpenSea/seaport uses `--via-ir`

The compile times are rather disappointing at ~10 minutes. Need to use it as a benchmark and tune performance of `solc`.

This is particularly about foundry. `forge build`.

[2022-05-22 22:13] axic commented on #13050
This is not a problem on my side. With Hardhat it takes ~15 seconds with legacy pipeline and ~60 seconds with `--via-ir`.

[2022-05-22 22:14] hrkrshnn commented on #13050
@axic Was mainly about foundry. Updated the issue. Hardhat is fine on my end as well.

[2022-05-22 22:41] hrkrshnn commented on #12995
@chriseth Are we sure generics can really solve this?

This is an example of what I'm doing:

[code]

I suspect we'll need to have variadic arguments (with generic args) to solve this (let's say I want to do `print("first", a, "second", b)`)   I'm not too keen on seeing variadic args in solidity.

Also more importantly, being able to print a struct (a json serialization of the struct) would be per

[2022-05-23 00:07] cameel commented on #13050
@hrkrshnn That sounds like something you'd get in a debug build. Is that on a M1 Mac or a Linux ARM system? If so, where is Foundry getting the binary from?

[2022-05-23 03:03] Ruko97 commented on #9926
Has this issue been resolved yet? If not, I am interested to work on it.

[2022-05-23 03:24] Ruko97 commented on #9601
If this issue hasn't been resolved yet, I am interested to work on it.

[2022-05-23 08:34] chriseth commented on #12995
It can be solved in rust, so it should also be doable in solidity.
Why would you like to have variadic args for print, but not for user defined functions?

[2022-05-23 08:56] #12880 closed, assigned to nobody

[2022-05-23 09:32] #13039 closed, assigned to nobody

[2022-05-23 09:34] #12581 closed, assigned to nobody

[2022-05-23 09:52] axic commented on #12581
I think for error the term `selector` works, but for events it should have been `topic`.

[2022-05-23 10:26] chriseth commented on #12581
I was wondering as well, but I think users would find it confusing to have yet another name for something.

[2022-05-23 11:33] hrkrshnn commented on #13050
@cameel This is on x86 linux. Note that foundry can find dependencies and compile things in parallel. This was running on 16 threads on my machine.

I think foundry uses https://github.com/roynalnaruto/svm-rs to fetch solidity.

[code]

gives me
[code]
I'm worried if the shipped binaries are debug builds now :(

Seems like `.cargo/bin/solc` is the wrapper for solc from https://github.com/roynalnar

[2022-05-23 12:12] cameel opened #13051 "Remove workarounds for ethers 5.6.2+ and `getStorageAt()` from external tests"
https://github.com/ethers-io/ethers.js/discussions/2849 and https://github.com/NomicFoundation/hardhat/issues/2709 are now fixed. We added workarounds in #13027 and #13020. Now we should be able to revert them.

[2022-05-23 12:36] cameel commented on #13050
Seems so. I just ran `objdump -h` in a loop on all Linux binaries from solc-bin and there are no debug symbols in any of them.

That explains why it was so fast :P I more often get compilation times like 20-30 min on complex projects on debug builds. That's why I'm usually using release binaries rather than my local builds when working with ext tests.

[2022-05-23 12:39] fredlacs commented on #10381
Would also love support for `abi.tryDecode` that returns a bool

[2022-05-23 14:03] itslittlefrankie opened #13053 "Misleading text in contract docs: `Take care to assign it from somewhere that is the same contract type`"
## Page

https://docs.soliditylang.org/en/v0.8.13/types.html#contract-types

## Abstract

The Contract Type section is stating:

The impression I got from reading this was that the compiler does not check if you assign a contract that is the same contract type. After checking in Remix, I realized the compiler verifies that the assigned value is of the same contract type, so why is this sentence ne

[2022-05-23 14:15] Jehovaholyspirit01 opened #13054 "Edgar Sanchez, Naomi Sanchez, Alberto Montealegre, John Sanchez, Debbie Walker, Stacey Lamoine, Cherise"
## Abstract

## Motivation

## Specification

## Backwards Compatibility

[2022-05-23 14:15] #13054 closed

[2022-05-23 17:01] antazoey commented on #12087
I am wondering if I am facing the same (or closely related) bug or if I should open a new issue.

If I have a contract like:

[code]

I can compile it using the `solc` command line compiler tool and I get very strange results.

However, when I paste this same contract into `remix` IDE, it does not compile.

[2022-05-23 17:08] hrkrshnn commented on #12087
@unparalleled-js This was only released in 0.8.12. It's likely that remix is using a version that's lower than 0.8.12.

[2022-05-24 12:20] CodeSandwich opened #13055 "Reference types design"
## Abstract

Solidity references have limited capabilities and are sometimes tricky to use. I believe that their design needs to be improved to make the language more powerful, easier to learn and harder to write bugs in.

I'm raising this issue because it seems widely recognized when talking to Solidity users, but I couldn't find any issue or even a discussion addressing it. Here are a few pain p

[2022-05-24 12:23] cameel commented on #13053
The paragraph just above is talking about conversions, including a conversion through `address` and this sentence essentially warns you about situations like this:
[code]
This could be valid if you know that your deployed `ERC721` also implements `IERC20` but the compiler cannot verify that and it could just as well be a mistake.

I agree that this sentence could be clearer. Feel free to submit a

[2022-05-24 15:13] cameel opened #13056 "Parallelize bytecode report generation in CI"
The scripts we use for bytecode report generation in CI are single-threaded and do not take advantage of multiple cores we have available there. They could finish much faster if parallelized. This is suboptimal especially on macOS and Windows where the compiler build takes almost 20 minutes and these jobs cannot start before then.

This is the timing from [one of the recent CI runs on `develop`](h

[2022-05-24 16:26] cameel opened #13057 "Switch from deprecated `circleci/buildpack-deps` to another Ubuntu image for our Dockerfiles"
CircleCI has deprecated a bunch of docker images, including `circleci/buildpack-deps` (see [Legacy Convenience Image Deprecation](https://discuss.circleci.com/t/legacy-convenience-image-deprecation)). As of 2022 these images are still available but are not receiving any updates:

We rely on this image in [Dockerfile.ubuntu2004](https://github.com/ethereum/solidity/blob/develop/scripts/docker/build

[2022-05-24 17:05] sergiuiacob1 opened #13058 "[YUL Optimizer] Optimize gas consumption in Solidity"
## Abstract

As the official Solidity documentation states, "the optimizer is under heavy development". I'm currently working on my Master's Thesis, which focuses on optimizing Solidity code by analysing the Control Flow Graphs built from Solidity Code. I'm looking to work on something that will be worth it.

## Motivation

The more efficient the bytecode is, the lower the cost of deploying and ru

[2022-05-24 19:20] sergiuiacob1 commented on #7821
Hi, did anybody work on this improvement? Is this still valid?
If so, I'd like to work on this as a contribution to Solidity's open source code (i.e. https://github.com/ethereum/solidity/issues/13058)
Could somebody give me more context on this? Or any additional starting point other than the issue description? If not, I might be able to work with only what's in the comments above.
CC @cameel @chr

[2022-05-24 19:59] GoldGuaranteedCoinMining opened #13059 "What you think ;)"
#property copyright "Copyright AmNesia0901"
#property link "https://www.facebook.com/MegaToNNNN"
#property strict
#property version "1.2"

enum manager {
   P=0, // Primary
   B=1, // Secondary
};

extern manager TradeManager = 0;
extern string TradeComment = "CapCAT";
extern int MagicNumber = 19871231;
extern int Slippage = 3;
extern int MaxSpread = 20;
extern double FixedLot = 0;
extern int Risk

[2022-05-24 20:08] hrkrshnn commented on #13058
Can you try benchmarking with --via-ir? It should be the same in both cases already.

[2022-05-25 11:01] cameel commented on #9599
Probably not in the near future. The situation is similar to https://github.com/ethereum/solidity/issues/9598#issuecomment-733721782. We would probably accept PRs but it's not on our roadmap right now.

[2022-05-25 12:02] sergiuiacob1 commented on #13058
I've set up a truffle project, set the solc optimizer configuration in `truffle-config.js` to the following:
[code]
then deployed the `VariableLoop` contract above. The numbers remained the same:
[code]

Is the compiler config sufficient? That should be equivalent to `solc --optimize --via-ir ...`, right?

[2022-05-25 12:27] hrkrshnn commented on #13058
@sergiuiacob1 this is weird. I looked at the optimized IR. Both functions are optimized into a single one! I wonder if truffle is taking in the parameter properly.

Can you try testing it on foundry? It definitely handles `viaIR` properly.

[2022-05-25 13:27] sergiuiacob1 commented on #13058
`foundry.toml` is
[code]

`declareVariableInsideLoop`: `119194` gas, `declareVariableOutsideLoop`: `119211` gas

Full output:
[code]

[2022-05-25 13:29] hrkrshnn commented on #13058
That looks correct. The difference you are seeing is because of dispatch affecting gas. See slides 11 to 13 in https://hrkrshnn.com/t/devconnect.pdf

Closing this for now. Feel free to reply if you have any questions.

[2022-05-25 13:29] #13058 closed, assigned to nobody

[2022-05-25 16:15] Marenz opened #13064 "Ensure every string in the AST has a location associated with it"
This is a requirement for many LSP features, most recently the `semanticTokens` support for highlighting and the `rename` support.

Currently, the following AST types have strings which have no source location available for them:

* `IdentifierPath`: the individual strings that make up the path are only a vector of `ASTString`s, no location information for the individual parts are available
* * [x

[2022-05-25 16:43] matheusaaguiar commented on #13051
There are still 3 gnosis test cases failing in CI in every preset [1071808](https://app.circleci.com/pipelines/github/ethereum/solidity/24371/workflows/b68233fd-de80-4756-a47c-20a08ef21787/jobs/1071808). I was able to reproduce it locally, though I had to force hardhat version to 2.9.6 and apply the chainId workaround as discussed in [euler-xyz/euler-contracts#119](https://github.com/euler-xyz/eul

[2022-05-25 18:12] cameel commented on #13051
Does Uniswap pass? It failed for me when I tried removing the workaround in #13063.

[2022-05-25 18:23] cameel opened #13065 "More detailed info about failed semantic tests in soltest"
Currently, when a semantic test fails, soltest/isoltest does not print any information about options it was executed with. In particular the EVM version used (`--evm-version` option) and the optimier status (`--optimize` option). This information should be included both in the console output for each failed test and in the XML file for CircleCI that it produces when `--logger=JUNIT` option is used

[2022-05-25 18:36] cameel opened #13066 "soltest in CI should print errors to stderr in addition to the XML report"
[`soltest.sh`](https://github.com/ethereum/solidity/blob/develop/.circleci/soltest.sh) passes `--logger=JUNIT` option to soltest, which makes it produce an XML report that CircleCI can then analyze to list failed test cases on the TESTS tab (see [CircleCI docs > Collecting test data](https://circleci.com/docs/2.0/collect-test-data/)). Currently using this option means that errors are no longer pri

[2022-05-25 19:44] cameel commented on #9926
@Ruko97 It hasn't and it would be a nice improvement. So if you want to try, go ahead.

I'd start by looking at [these exception handlers in `StandardCompiler.cpp`](https://github.com/ethereum/solidity/blob/v0.8.14/libsolidity/interface/StandardCompiler.cpp#L1121-L1223), especially the one for `InternalCompilerError`. Then [`formatError()` and related helpers](https://github.com/ethereum/solidity/

[2022-05-25 19:46] cameel commented on #9601
It's up for the taking. But I'd recommend the other issue you commented on (#9926) because it's more visible to users and should be more satisfying to fix.

[2022-05-25 23:04] matheusaaguiar commented on #13051
I will test.

[2022-05-25 23:52] matheusaaguiar commented on #13051
Uniswap fails if workaround is removed.

[2022-05-26 04:58] haltman-at commented on #12915
OK, sorry about taking a while to get back to this.  I've put up a gist [here](https://gist.github.com/haltman-at/9c61763ee78c2ebf717f1a3b9e050441) with the exact standard JSON input that's causing the problem; I just had Truffle log the exact string it's sending to the compiler.  I'm pretty confused about why I've been unable to reproduce this any other way.  Apologies for how inconvenient and no

[2022-05-26 08:11] sergiuiacob1 opened #13070 "ICE when passing test names separated by a semicolon to `isoltest --test`"
## Description

Tried running multiple unit tests using `isoltest` like so:
[code]

As I understood from @cameel, the `;` separator syntax should be supported for `--test` values, but it caused the error above. The following worked just fine:
[code]

## Environment

- Compiler version: 0.8.14
- Framework/IDE (e.g. Truffle or Remix): CLI
- Operating system: MacOS

Possibly linked issue: https://git

[2022-05-26 09:01] bogdoslavik commented on #12725
Hello! I often have troubles detecting and catch calls to non contract accounts.

There is one simple example:
[code]
If I face with some non-standart pair without name() method or it is not contract address - all my code reverts while I expect what it should catched in tr..catch block.

[2022-05-26 09:13] lukehutch opened #13071 "Array indices are `uint64` but `array.length` is `uint256`"
## Description

From the [Solidity blog](https://blog.soliditylang.org/2020/04/06/memory-creation-overflow-bug/):

Therefore array indices are `uint64` type in Solidity. However, `array.length` returns a `uint256` type.

This gives an error as follows:

[code]

## Environment

- Compiler version: 0.8.14
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix

[2022-05-26 09:23] bogdoslavik commented on #12725
@aathan , I have tried use code you provided, but do not understand what `ptr` is in line
` mstore(ptr,sel)`

[2022-05-26 16:48] pedrobergamini commented on #6337
Any plans to support this?

[2022-05-26 19:52] matheusaaguiar commented on #13066
I checked the [documentation](https://www.boost.org/doc/libs/1_79_0/libs/test/doc/html/boost_test/utf_reference/rt_param_reference/logger.html) and it is possible to use more than one logger at the same time. I executed a [minimal example](https://www.boost.org/doc/libs/1_79_0/libs/test/doc/html/boost_test/intro.html) with both options and it worked as expected.
So, it is as you said, just adding

[2022-05-27 10:54] engn33r opened #13073 "Cannot replicate SMTChecker example output"
## Page

https://docs.soliditylang.org/en/v0.8.14/smtchecker.html#assert

## Abstract

I cannot replicate the SMTChecker assertion violation output in this example. I can replicate the SMTChecker output in all other examples so I know SMTChecker is working.

Contract code
[code]

Command I am using to run SMTChecker: `solc Max.sol --model-checker-engine chc --model-checker-show-unproved --model-ch

[2022-05-27 11:29] leonardoalt commented on #13073
Hi @engn33r , thanks for the report!
What's your z3 version?
Can you try with a high timeout like 60000 (60s)?

[2022-05-27 12:23] engn33r commented on #13073
Thanks for the quick reply! I am using z3 version 4.8.12-1 on an Ubuntu-based system. I tried setting a higher timeout but the error message appears instantly with a zero or much higher timeout. I have seen SMTChecker take much longer when the timeout condition was involved.

I assume you're getting the expected output with the CHC checker? I find it odd that only the BMC checker identifies the as

[2022-05-27 12:30] leonardoalt commented on #13073
Yea the output is from CHC. BMC runs much faster but gives a lot of false positives.

The results can be quite sensitive to the z3 versions, a lot changes in between them. So I think if you use a newer z3 (4.8.14 for example) it should work.
For instance, `soljson.js` that Remix uses has an embedded z3. If I run your example with `pragma experimental SMTChecker;` on Remix it actually gives the cou

[2022-05-27 12:58] engn33r commented on #13073
I tried uninstalling all other z3 packages/files and then installed `z3-static` from the ethereum ppa you linked to. I'm now getting a warning of `Warning: z3 was selected as a Horn solver for CHC analysis but libz3.so.4.8 was not found.` and can't get results for the other example files I've tested against. Did I go overboard in removing z3 files like libz3.so.4.8, or does solc have to be compile

[2022-05-27 13:00] leonardoalt commented on #13073
It doesn't have to be compiled, runtime libs should be enough. Can you check that you have `libz3.so` in some system default lib dir?

[2022-05-27 13:57] engn33r commented on #13073
As far as I can tell, solc is looking specifically for a file named `libz3.so.4.8`. I only had files named `libz3.so` and `libz3.so.4` in default lib dirs, but manually copying the `libz3.so.4` file to `libz3.so.4.8` got SMTChecker working again. Based on some installs/reinstalls of individual z3 packages, the `libz3-4` ubuntu package added libz3.so.4 while `libz3-dev` added libz3.so and libz3.so.

[2022-05-27 14:55] leonardoalt commented on #13073
We shouldn't rely on Remix here because it doesn't let you change the model checker parameters plus pragma smtchecker will be deprecated in solc 0.9.0. Let's try to get it fixed properly.

I've seen weird lib things happen before on Ubuntu, where the person had 4.8.12 installed and then had problems when installing the one from our PPA. A sane installation should end up with a `libz3.so.4.8` in yo

[2022-05-27 17:23] cameel commented on #13066
Great. It's exactly what we need.

I think that these errors should go to `stdout` since they're part of the expected output of the command, not a problem in `soltest` execution. E.g. if you wanted to capture the output you'd want both passing and failing tests in it.

[2022-05-27 18:00] cameel commented on #13070
Just to be clear: this issue is about the fact that this validation error causes an  ICE. It should just print a normal message to stderr.

As for the semicolon - looks like the right separator is actually a colon according to [Test unit filtering > Absolute specification](https://www.boost.org/doc/libs/1_79_0/libs/test/doc/html/boost_test/runtime_config/test_unit_filtering.html#boost_test.runtime

[2022-05-27 20:13] cameel commented on #6337
No plans so far but I agree that we should start finally thinking about changing it. Maybe 0.9.0 would be a good moment to take care of it.

The way this works currently is really unintuitive, especially combined with overriding. It was brought up in #11826 some time ago. For example to be able to override a getter defined in an interface with an actual getter you need an extra wrapper:

[code]

[2022-05-27 20:25] cameel commented on #13025
In addition to that we should use an actual reference there. It broke without us notiticing because it uses the `#` URL syntax to link to a header in the rendered document.

[2022-05-27 22:24] #13066 closed, assigned to matheusaaguiar

[2022-05-27 23:19] cameel commented on #13071
Well, the compiler still allocates a whole 32-byte word for the length field so the type is technically correct. Changing it to `uint64` would actually be a small performance hit since operations on integer types smaller than a stack slot require adding extra masking and bit shifts so they cost more. Currently you get that hit only if you actually cast the length to `uint64`.

I think this change

[2022-05-28 00:36] lukehutch commented on #13071
That all makes sense, thanks for explaining. Feel free to close this bug.

Does a transaction revert if `array.push()` increases `array.length` to `2**64`?

[2022-05-28 12:46] engn33r commented on #13073
Sounds good, I'd like to aim for outlining the installation steps for getting SMTChecker working on a *nix system. I'll stick to ubuntu for now but can test other distros once we have one set of setup instructions. I'll try using the ethereum z3 ppa on a fresh ubuntu docker image and/or ubuntu VM in case the other system I am using has some non-default configs.

[2022-05-28 14:36] cameel commented on #13071
ok then.

As for the revert, I'm not sure actually but I doubt it. Storage arrays do not have this limit and they're the only ones that allow `push()`. But if you want to be sure it's easy to check by compiling a short snippet with `--ir` option and checking if the condition is there in the Yul output.

[2022-05-28 14:36] #13071 closed, assigned to nobody

[2022-05-28 20:45] engn33r commented on #13073
I tried installing the different packages on a clean ubuntu system. Here are the files/libraries that each package adds to the system.

*Default ubuntu packages*
- `libz3-dev` adds: `libz3.so` and `libz3.so.4` (additional source: https://ubuntu.pkgs.org/22.04/ubuntu-universe-amd64/libz3-dev_4.8.12-1_amd64.deb.html#howto)
- `libz3-4` adds: `libz3.so.4` (additional source: https://ubuntu.pkgs.org/22

[2022-05-29 00:40] lukehutch opened #13077 "Override of interface method with public field does not work for array types"
## Description

Consider the following interface and implementation:

**`ITest.sol`:**

[code]

**`Test.sol`:**

[code]

Field `val0` correctly overrides `function val0()`. However field `val1` does not:

[code]

Changing `address[] memory` to `address[] calldata` does not fix the problem.

## Environment

- Compiler version: 0.8.14
- Target EVM version (as per compiler settings): Unknown
- Framew

[2022-05-29 04:18] Ruko97 commented on #9601
Are signed integers implemented in the compiler using u256 as well, or is there another datatype for representing signed integers?

[2022-05-29 08:23] lukehutch opened #13078 "Ternary operator does not correctly deduce common type for `-1` and `0` to be `int8`"
## Description

Using trinary comparison operators causes type inference to fail.

## Environment

- Compiler version: 0.8.14
- Target EVM version (as per compiler settings): unknown
- Framework/IDE (e.g. Truffle or Remix): Hardhat
- EVM execution environment / backend / blockchain client:
- Operating system: Linux

## Steps to Reproduce

[code]

Yields

[code]

So there are really two problems:

[2022-05-29 11:01] axic commented on #9926
I do not think there is any bug here, and certainly no truncation.

The original finding refers to 0.7.2 and `CompilerUtils.cpp#L1440`, which [is here](https://github.com/ethereum/solidity/blob/v0.7.2/libsolidity/codegen/CompilerUtils.cpp#L1440):
[code]

The sole reason the message is empty, because it is empty in the code.

There was #1042 and #5160 about that.

[2022-05-29 11:10] axic commented on #9926
Re-reading @alcuadrado's original suggestion, I think the issue isn't about potentially having truncated `message`s, but that `formattedMessage` should also include the line number. Based on the code snippets in [StandardCompiler](https://github.com/ethereum/solidity/blob/develop/libsolidity/interface/StandardCompiler.cpp#L1161) this applies to every single exception based error:
[code]

The probl

[2022-05-29 21:05] cameel commented on #9926
I thought it was being truncated from something like this (taken from an unrelated issue):
[code]
Especially the trailing `\n` in the single-line message makes it look like it's just a fragment that came from a longer multiline piece of text.

But I think you're right. It's not technically truncated. It's just that the `formattedMessage` field only includes the error type and the message and the m

[2022-05-29 22:22] CyniCatz opened #13080 "Can someone check if my smart contract is secure?"
I need to know if we can be hacked after the minting, and if the ownership can be transferred to a different account. Here is the link to the contract:
https://etherscan.io/address/0x5d8d955560b1d67af02d1a7f54c01afc3325d2f7#code

[2022-05-30 02:20] Ruko97 commented on #9926
Importing a library that uses ABI Encoder V2 in a file that doesn't use ABI Encoder V1 no longer seems to cause an Internal Compiler Error. Is there any other way to simulate an ICE?

[2022-05-30 09:32] chriseth commented on #13064
I think we should introduce a new node type similar to identifier. For me, an identifier is a stand-alone string that refers to a symbol - this is also what is reflected in `IdentifierAnnotation`.

[2022-05-30 10:26] leonardoalt commented on #13073
1. [Arch Linux](https://archlinux.org/packages/community/x86_64/z3/) for example installs
[code]
Now I'm not sure if the dynamic loading ever worked for us on Ubuntu... Trying to summon @ekpyron who may have an answer

2. The lib files with/without versions should be the same. In fact, usually they're just symbolic links to the full version one. On my system:
[code]

Not in a safe way. The minor (

[2022-05-30 11:16] cameel commented on #9926
You'll find lots of ways to cause an ICE under the [`bug` label](https://github.com/ethereum/solidity/issues?q=is%3Aissue+is%3Aopen+label%3A"bug+%3Abug%3A").

[2022-05-30 11:20] cameel commented on #13080
This is a bug tracker for the compiler. It's not the right place for support questions. If you need help, the [#solidity](https://gitter.im/ethereum/solidity) channel on gitter might be a better place to ask.

[2022-05-30 11:20] #13080 closed, assigned to nobody

[2022-05-30 11:42] Marenz commented on #13064
What about an identifier path? Often the individual elements are symbols, though, probably not always. Should that be made of `Identifiers` or of that new tpye?

[2022-05-30 12:37] christianparpart commented on #13064
Maybe something similar to:

[code]
?

[2022-05-30 13:07] Marenz commented on #13064
Exactly, or the suggested new type :)

[2022-05-31 13:04] wechman opened #13085 "String literal should be validated to be UTF-8 sequence also when used with arrays."
The code `string memory s = hex'c0a80101';` produces an error since `hex'c0a80101'` is not a valid UTF-8 sequence. The same value used in an array literal is accepted by compiler. For instance,  following code compiles without any errors or warnings: `string[2] memory data = [hex'74000001', hex'c0a80101'];`. It should be fixed so that, array literals are validated to contain UTF-8 sequences during

[2022-05-31 14:25] #13025 closed, assigned to nobody

[2022-05-31 14:41] frangio commented on #5158
`exp(x, k)` costs 60 gas for k < 256.

For k < 9 it is more expensive than using `dup` and `mul` and the compiler should be optimizing it.

[2022-06-01 13:17] cameel commented on #9351
Given that #10015 has been merged and we no longer consider the IR experimental (#12760), I think we can close this.

We've actually had the Gnosis external test running in our CI with `viaIR` enabled since the end of 2021: #12396.

[2022-06-01 13:17] #9351 closed, assigned to nobody

[2022-06-01 13:20] engn33r commented on #13073
1. I built z3 from source on ubuntu, but after running `sudo make install`, I got only one .so file added to the system, libz3.so, so it was effectively the same result as installing the ubuntu packages except for the version number. For one more data point, I installed [z3-libs](https://fedora.pkgs.org/36/fedora-updates-x86_64/z3-libs-4.8.17-1.fc36.x86_64.rpm.html) in a fedora container and I got

[2022-06-01 13:22] cameel commented on #10930
This should be solved now. Starting with 0.8.13 the IR-based code generator is no longer an experimental feature. If anyone is still getting "Stack too deep" errors when using `--via-ir --optimize`, please report it as a separate issue and we'll investigate.

[2022-06-01 13:22] #10930 closed, assigned to nobody

[2022-06-01 14:10] cameel opened #13086 "Include all emitted events in the contract ABI and userdoc in a non-breaking way by ignoring conflicting Natspec"
## Abstract
Currently the contract ABI lists only events defined in the contract and inherited from other contracts. It does not list events defined in libraries that the contract emits and (after #12921) also events defined in other contracts.

Just like we do with errors, the ABI should list both defined and emitted events.

## Motivation
A contract can emit events defined in a variety of places

[2022-06-01 15:21] cameel commented on #13086
One more thing that we discussed on the call today is that this conflict that results in one of the events being ignored should trigger a warning. This was with the assumption that the conflict happens both for ABI and for Natspec. Given that the ABI is fine after all, I think the warning is not necessary.

[2022-06-01 15:33] cameel commented on #13086
Also, a note to anyone who will be implementing this: we already have a PR for this (#10996) and it's mostly done. It will just need to be split into the part that can go into `develop` without compatibility issues and one that must go to `breaking`.

[2022-06-01 19:39] lukehutch commented on #10695
This is honestly the best feature to come to Solidity in a long time. The small impact on gas simply does not justify reversing this decision, given the number of potentially enormously costly vulnerabilities that can be prevented by reverting on underflow/overflow by default.

[2022-06-01 19:40] lukehutch commented on #10695
This comment claims that checked increments require 77 gas: https://github.com/code-423n4/2021-10-pooltogether-findings/issues/6#issuecomment-942583925

[2022-06-01 20:24] frangio commented on #10698
Are there any concrete plans for this feature?

[2022-06-02 01:15] brockelmore opened #13089 "Optimize static memory inputs via `codecopy`"
## Abstract

Utilize `codecopy` to optimize struct initialization, calldata generation, and other memory based steps

## Motivation

Struct initialization requires a memory word to be left as 0s, and when creating a new struct (or array), it is repeatedly copied to zero out memory (as the compiler may have written temporary data to it). Additionally, when performing a call to another smart contrac

[2022-06-02 04:38] yurivict opened #13091 "#include <fstream> is missing in tools/solidityUpgrade/SourceUpgrade.cpp for std::ofstream"
std::ofstream is used there but because there's no ```#include <fstream>``` clang-13 fails on FreeBSD 13.1

[2022-06-02 07:42] drortirosh commented on #10930
How do you use this --via-ir with etherscan verification ?

[2022-06-02 08:45] hrkrshnn commented on #10930
@drortirosh The argument can go into the standard json setting in your framework and then use etherscan verification. As an example, see: https://etherscan.io/address/0x00000000006cee72100d161c57ada5bb2be1ca79#code

[2022-06-02 12:41] cameel commented on #13091
Thanks for the report. Would you be willing to submit a PR to fix this?

I wonder if it's generally reproducible with clang or specific to FreeBSD. We do get reports about these missing includes on some platforms from time to time. Would be best if we could catch more of them in our CI.

[2022-06-02 15:18] cameel commented on #5766
Since the feature was released in 0.8.13, I think we can close this now?

[2022-06-02 16:29] yurivict commented on #13091
This issue probably depends on the c++ library in use.

[2022-06-02 16:44] yurivict commented on #13091
https://github.com/ethereum/solidity/pull/13094

[2022-06-02 16:46] yurivict commented on #13091
In general I always include all headers that are needed in each module. You seem to rely on include statements in the other headers that you include.

[2022-06-02 18:35] cameel commented on #9601
We have [`s256`](https://github.com/ethereum/solidity/blob/develop/libsolutil/Numeric.h#L47-L50) as well.

[2022-06-02 18:50] cameel commented on #9601
But to be clear, this function is not limited to `u256`/`s256`. See for example [this place in `BMC::checkUnderflow()`, where it's called](https://github.com/ethereum/solidity/blob/develop/libsolidity/formal/BMC.cpp#L760-L762). It takes the type from the expression so it can be any of the [integer types provided by `TypeProvider`](https://github.com/ethereum/solidity/blob/develop/libsolidity/ast/T

[2022-06-02 19:01] cameel commented on #13091
Yeah. I mean, I thought that clang just comes with libc++ but I checked that now and looks like I have to install it separately and also tell clang to use it. So maybe we could actually add a libc++ build to CI.

I do that too, but not everyone does and we don't have a hard rule about that in the project so it's a bit of a mess. It's also hard to enforce automatically. We tried to add include-what

[2022-06-02 19:01] #13091 closed, assigned to nobody

[2022-06-03 09:57] wechman commented on #13085
There's a couple of steps that currently is executed during type deduction and validation of an array literal.
First of all, if there is a need, each component of an array literal is validated. At this step Unicode literals are validated to be UTF-8 sequences. E.g. `[unicode'item1', unicode'\xc0a80101']` cause type error since `\xc0a80101` is not a valid UTF-8 sequence (this is covered by the Synt

[2022-06-03 11:10] cameel commented on #13077
This is because the signature of a getter that the compiler generates for an array is different than for a value type. Such a getter does not return the whole array. Instead it returns only one field at a time and has the index as an argument.

If you want to override `val1()` with with a public state variable, the interface should look like this:
[code]

[2022-06-03 11:10] #13077 closed, assigned to nobody

[2022-06-03 11:26] cameel commented on #13078
This part works correctly. Try this:

[code]

Yes, I think this does not work as it should. The compiler should be deducing that the common type is `int8` but for some reason it decides that they're incompatible. On the other hand for array literals (which have the same deduction mechanism) it works correctly - this compiles without errors:
[code]

So I agree, I think it's a bug in the sense that

[2022-06-03 11:27] cameel commented on #13078
@wechman You might be interested in this since you're working on array literals right now.

[2022-06-03 11:33] cameel commented on #13064
Maybe we should have a separate node representing a keyword (or a reserved identifier meant to be used as a keyword - since not all of them are technically globally reserved keywords).

[2022-06-03 11:55] cameel commented on #13085
This affects the ternary operator as well. No error here:
[code]

[2022-06-03 12:26] wechman commented on #13078
@cameel a type deduction mechanism for inline arrays the compiler currently use surly is not perfect and a bit tricky. To see that, please just try to change order of array elements in your example so you have:
`int8 [2] memory x = [0, -1];`
Such a small change and compilation end up with an error. That's because the compiler relays on a type of the first element of an array literal. Luckily, this

[2022-06-03 14:02] MerlinEgalite commented on #10706
Would be awesome yes!

[2022-06-03 17:00] maurelian opened #13095 "Interface inheritance does not seem to add functions to type(Interface) object"
## Description

I _think_ this is a bug, unless I'm reading the docs wrong for interface inheritance:

Source: [solidity/interfaces.rst at develop · ethereum/solidity](https://github.com/ethereum/solidity/blob/develop/docs/contracts/interfaces.rst)

## Environment

- Compiler version: 0.8.14
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): just usin

[2022-06-03 20:40] cameel commented on #13078
Interesting! In any case, even if the implementation is actually separate I think that both cases should follow the same rules from user's standpoint. Otherwise it's confusing to users. So when you're done with arrays I think we should also look at the ternary operator and bring these two mechanisms in sync.

[2022-06-04 05:29] #5766 closed, assigned to ekpyron

[2022-06-04 12:35] Ruko97 commented on #9601
It seems that signed integer was not supported in formatNumberReadable because bigint doesn't support the right shift operator. Should i replace the right shift operators with division for all types of integers, or just use division for bigint in a separate condition and keep the right shift operator for the rest of the integer types?

[2022-06-04 20:03] Rushanksavant commented on #11889
Hello @Amxx, I thought of an approach but not sure if this solves the exact problem. Please have a look:
[code]

Now since we are not able to inherit A and B together, we creat contracts that delegate calls to A and B:
[code]

And inherit these contracts together
[code]
This will allow us to access all the functions of A and B using the state of A_caller and B_caller.

Best regards!

[2022-06-04 20:26] Amxx commented on #11889
In that you have to worry about storage compatibility of A and B, you can't call internal functions, you possibly have to do many checks...

Basically, you are arguing that doing something like a diamond proxy is a solution to the private function conflict.

While it is technically true, I really don't think it's a reasonable/acceptable solution.

[2022-06-05 03:26] victorknox commented on #12934
@cameel I have created a PR for moving the keywords, hope it's okay
I also noticed that separating members address, type etc. would make it very similar to "Units and Globally Variables"
would it be okay to proceed?

[2022-06-05 13:11] cameel commented on #12934
It's fine. The descriptions in "Units and Globally Available Variables" are similar but still not identical and they won't necessarily stay so brief forever. And even the short descriptions will likely diverge as we expand the cheatsheet. For the cheatsheet we'll actually want to shorten them even more so that the information can fit in a neat table. When members are in separate sections we'll als

[2022-06-06 10:56] wechman commented on #13078
I have looked over the documentation and found this:
- The type in which operator is performed is a common type of the operands and can be found only if one operand type can be implicitly converted to the other.
- For literals, the compiler uses their mobile type to find common type.
- Mobile type is the smallest type that can hold the value. Unsigned types of the same bit-width are considered “sm

[2022-06-06 11:49] wechman commented on #13085
This is because of mobile types that the [commonType](https://github.com/ethereum/solidity/blob/035f6abb1b1021689f746867a2a658734362e6b7/libsolidity/ast/Types.cpp#L276)  function operates on. I think we can handle this within #13078 since the [commonType](https://github.com/ethereum/solidity/blob/035f6abb1b1021689f746867a2a658734362e6b7/libsolidity/ast/Types.cpp#L276) function is no longer used fo

[2022-06-06 19:32] axic commented on #13095
I think is partially by design, because this way ERC-165 support can be easily implemented -- otherwise having `is IERC165` on a contract would make it impossible to use `.interfaceId`.

[2022-06-06 19:49] axic opened #13098 "Function types are not displayed correctly in ternary resolution error"
[code]

[code]

The `type tuple()` should state it is a function.

Interestingly if the return type mismatches it claims that it can't be resolved (also happens on `a ? a : g()` if it is a separate function):
[code]

[code]

[2022-06-07 10:35] ekpyron opened #13099 "[Yul Optimizer] Extend LoadResolver to assume zeroed storage during creation code. (And zeroed memory at transaction start.)"
Consider the following contract:
[code]

The creation code of ``C`` has to initialize the state variable ``x``. However, in order to do so, it first *reads* the length field from storage, resulting in ``--ir-optimized --optimize`` of above contract to produce:

[code]

Since at creation time, all storage slots are zero, we can resolve ``sload(_2)`` in this snippet to plain ``0``.

This optimizatio

[2022-06-07 11:08] cameel opened #13101 "`bad_cast` when passing a tuple returned from a function to `abi.encodeCall()`"
## Description
`abi.encodeCall()` expects a tuple as its second argument. Normally the tuple would be defined in place (e.g. `abi.encodeCall(f, (1, 2, 3))`) but it's also possible to give it a tuple that is the result of a function call. Doing so results in an unhandled `bad_cast` exception and the compiler crashes.

The same thing happens when you pass in the result of an error or event construct

[2022-06-07 13:03] ekpyron commented on #13098
What exactly is the error message in the first example supposed to say? The type in question is *not* a function type, but the type of the return value of the function (which is an empty tuple)...
I've seen some confusion about this elsewhere recently, though, maybe we should emit a dedicated error message for "function call to a function without return value is used in a complex expression" or so

[2022-06-07 13:03] cameel commented on #13098
I think the message is correct. The function does not return anything so technically it returns an empty tuple. You'd get the message you expect if you gave it a value of a function type:

[code]
[code]

I originally wanted to suggest that maybe we could make this error more comprehensible by just stating that you cannot put a function that does not return anything there. But turns out that you ca

[2022-06-07 13:05] ekpyron commented on #13098
The part with the empty tuple type as the return type of a call to a function that returns nothing being confusing was already reported here: https://github.com/ethereum/solidity/issues/13017

[2022-06-07 13:09] ekpyron commented on #13098
Closing this as a duplicate of #13017 then - feel free to reopen, if you disagree :-).

[2022-06-07 13:09] #13098 closed, assigned to nobody

[2022-06-07 13:21] cameel commented on #13078
Hmm... But this means that we're not really applying that rule for other operators, right? Otherwise something as simple as `-1 + 0` would be a compilation error. So the docs seem wrong about literals.

Yeah, if I understand things correctly, we're already doing that for other operators anyway. The ternary seems to be the only odd one.

I think it's not an issue. For example this currently fails a

[2022-06-07 14:26] cameel commented on #12424
We just talked about this with @Marenz in the context of adding a reduced workflow for LSP PRs.

It requires accessing CircleCI API but it's doable. And given that we have recently merged [`download_benchmarks.py`](https://github.com/ethereum/solidity/blob/develop/scripts/externalTests/download_benchmarks.py), we already have the base code ready for doing that. Now it's enough to slightly adjust t

[2022-06-08 05:06] nishant-sachdeva opened #13106 "Most error messages describe objects representing errors and events as function types"
## Description
Continued from #12896  . Created the issue as requested in https://github.com/ethereum/solidity/pull/13005#discussion_r877162339

In custom errors like the following :
[code]

The compiler mistakenly considers `MyInterface.MyCustomError` to be of type `function() pure` instead of type `error`. The latter is what should be used.

Running `solc test.sol` for the following code
[code]

[2022-06-08 07:47] pcaversaccio commented on #12996
@cameel @hrkrshnn what are your opinions on my thoughts here?

[2022-06-08 09:22] ekpyron commented on #13073
Interestingly, debian (and thereby ubuntu, since ubuntu uses debian packages) actually patches Z3 sources to adjust its SOVERSION: https://sources.debian.org/patches/z3/4.8.12-1/01-soname.patch/
That patch results in only ``libz3.so.4`` being part of the debian/ubuntu z3 packages, while a regular install from z3 sources will install as ``libz3.so.4.8``.

I'm not quite sure how you built z3 from so

[2022-06-08 10:24] adhusson opened #13107 "`using for` with explicit function names does not support overloaded functions"
## Description

When declaring functions to use with a user-defined type, overloaded functions trigger the error "Identifier not found or not unique".

## Environment

Solidity 0.8.13, 0.8.14

## Steps to Reproduce
[code]

## Suggestion

Allow specifying the overload to use ("`using {f(uint)} for t`") or always use all overloads with compatible signature.

[2022-06-08 12:42] axic opened #13108 "Optimizer should be able to efficiently use the `byte(i, v)` opcode"
This function should only return true when `v == 27 || v == 28`:
[code]

This is the pure Solidity version of the assembly in https://github.com/ProjectOpenSea/seaport/pull/406:
[code]

The ideal bytecode is the above. The bytecode we generate (with the optimizer on) is the following:
[code]

It has unnecessary cleanup.

[2022-06-08 14:13] ekpyron commented on #13108
Hm... this is a bit tricky actually... in the optimized Yul code I'm seeing:
[code]
In this case it would be good to move the ``and`` into the shifts to get
[code]
After which we have another rule that would eliminate the ``and``, yielding just ``shl(248, byte(value, 0x0101000000))``.

That's not all we can do, but it'd be progress - but unfortunately, we also have the opposite rule that transform

[2022-06-08 14:14] #12896 closed, assigned to nobody

[2022-06-08 19:50] cameel commented on #13106
@nishant-sachdeva I wouldn't call this a bug. The type is not incorrect, we do assign function types to events and errors. I'd say that changing this is just a small enhancement.

So is this the only affected message? The point here was to do a more comprehensive check to identify as many as possible and tweak them all in bulk.

I mean, alternatively we can also leave it up to whoever will be impl

[2022-06-09 02:21] vporton opened #13113 "Compilation error on good code"
## Description

Compilation error on good code:

[code]

[code]

## Environment

- Compiler version: 0.8.14
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): HardHat
- Operating system: Ubuntu
- `@openzeppelin/contracts@4.6.0`

## Steps to Reproduce

Compile the above code.

[2022-06-09 09:47] mojtaba-eshghie opened #13114 "Possibility of converting payable to non-payable functions in solidity makes no sense (according to documentation itself)"
## Page

[Solidity function types](https://docs.soliditylang.org/en/v0.8.14/types.html?highlight=abi.encodeWithSignature#function-types)

## Abstract
In the conversion section, it is said that one of the conditions for converting from function A to B is that the state mutability of A is more restrictive than the state mutability of B. Also, it is explicitly stated that non-payable functions are mo

[2022-06-09 09:51] ekpyron commented on #12600
Simpler reproduction without inline assembly:
[code]
Here ``f`` returns ``0`` in legacy code generation, but ``4`` via IR.
It's basically a case of "dangling storage references", since the left-hand-side of the assignment is evaluated to storage references left-to-right before the assignments happening, i.e. ``s[1]`` still refers to the second element of the array and writes to it, bypassing the l

[2022-06-09 10:29] ekpyron commented on #12600
Ok... the following has both legacy and via-IR produce a 4 on ``f()``:
[code]

If I add another memory-to-storage copy of a size-one-array after the tuple assignment, though, legacy seems to implicitly clear the dirty byte at the end, while via-IR keeps it, i.e. in the following:
[code]
legacy produces 0, while via-IR produces 4.

I think what via-IR is missing is an equivalent of libsolidity/code

[2022-06-09 10:39] r0qs commented on #13113
This is not a solidity error. Please take a look here: https://github.com/OpenZeppelin/openzeppelin-contracts/pull/2739. Ownable uses `_msgSender()` in its constructor and you are overriding it. Change the inheritance order to:
[code]
And it should work.

[2022-06-09 10:40] leonardoalt commented on #13113
Thanks @r0qs !

[2022-06-09 10:40] #13113 closed, assigned to nobody

[2022-06-09 12:36] ekpyron opened #13116 "[Sol -> Yul] Implement copying of arrays of external function pointers from calldata to storage."
It's rather obscure, but the following is still missing from Sol -> Yul codegen:
[code]
is not handled by ``YulUtilFunctions::copyArrayToStorageFunction``, so above contract won't compile with ``--bin --via-ir`` (while legacy codegen has it properly implemented).

[2022-06-09 13:06] maurelian commented on #13095
Ahh, you're right and it is actually documented

https://docs.soliditylang.org/en/latest/units-and-global-variables.html#meta-type

[2022-06-09 13:06] #13095 closed, assigned to nobody

[2022-06-09 15:05] #13065 closed, assigned to matheusaaguiar

[2022-06-10 07:49] lukehutch commented on #4529
@chriseth Given how similar tuples are to structs, would it be possible to promote tuples to first-class types, by reusing some of the struct machinery?

[2022-06-10 11:34] wechman commented on #13078
@cameel I created a draft with the simplest solution for the issue. Please let me know if like it.

[2022-06-10 20:13] matheusaaguiar opened #13120 "When updating the expected results of a test, `isoltest` removes the quotation marks from the source unit name of a library"
## Description

When running `isoltest` with `accept-updates`, if a test has an obtained result different from the expected result, `isoltest` will automatically update the relevant lines of the test file and re-run the test. In the case there is a line defining a library name surrounded by quotation marks, `isoltest` will remove the quotation marks when updating the file.
If `--accept-updates` is

[2022-06-10 22:23] axic opened #13121 "Old Z3 is not supported (should enforce in CMake)"
I have z3 4.8.13 installed.

CMake properly warns (I think for the reason that different versions may produce different outputs for the tests):
[code]

However disabling it (using `-DSTRICT_Z3_VERSION=OFF`) shows that 4.8.13 is not a supported version anymore:
[code]

Should add another version check for "not older than".

[2022-06-10 22:48] axic commented on #12291
A simple way to do that is by uploading the JSON to https://sourcify.dev and see if it can verify it 😅

[2022-06-10 22:52] axic commented on #11351
It is possible now to use CircleCI's ARM machines, but the image they have is a rather old Ubuntu. We use it in [Fizzy](https://github.com/wasmx/fizzy/blob/master/circle.yml#L519-L522):
[code]

[2022-06-10 23:12] axic opened #13122 "Upgrade emscripten to 3.2.0+"
Here's the yearly Emscripten update issue. Last update was in 0.8.10 in #11689.

Some cherry-picked updates from the [changelog](https://github.com/emscripten-core/emscripten/blob/main/ChangeLog.md):

3.2.0:

Interesting, could check this out for solc-js. [Explainer](https://v8.dev/features/wasm-bigint).

3.1.11:

3.1.7:

3.1.5:

3.1.3:

3.1.0:

3.0.1:

3.0.0:

[2022-06-11 21:06] lukehutch opened #13124 "Automatic reentrancy protection"
## Abstract

The majority of smart contract vulnerabilities that have been exploited, resulting in the loss of millions to hundreds of millions of dollars per vulnerability, have been reentrancy attacks.

The [Checks-Effects-Interactions](https://blog.openzeppelin.com/reentrancy-after-istanbul/) pattern mitigates or prevents these attacks from being successful.

Following this pattern requires con

[2022-06-11 22:23] lukehutch opened #13125 "Add `array.popAndGet()` that returns the last value in array after `pop()`"
## Abstract

Currently `array.pop()` does not return a value. It should return a memory copy of the last element of the storage array that was popped.

## Motivation

Currently if you want to remove the last element of a storage array, you have to do the following:

[code]

It would be nice to be able to do simply

[code]

## Specification

`pop()` should return a memory copy of the last element o

[2022-06-12 17:39] ywon0925 commented on #13070
@cameel
Since this issue is marked as 'good first issue', I would like to try to solve it.

If you could give me a general idea of how to fix the issue, it would be much appreciated.

Additionally, what do you mean by 'ICE' & 'normal message'?

[2022-06-12 23:21] cryptonomicon46 commented on #13125
This seems like a useful thing to have. +1

[2022-06-13 15:28] axic commented on #12877
This is mostly covered in #869. Perhaps you can post your syntax suggestion there if it differs to the existing one.

[2022-06-13 15:28] #12877 closed, assigned to nobody

[2022-06-13 19:44] cameel commented on #11602
So do we consider #13045 a complete fix for this or are there potentially more cases that we need to explore?

[2022-06-13 21:58] lukehutch commented on #13071
Quick related question: the justification given for why dynamic memory arrays have a limit of `2**64-1` elements is given in the blog post I linked as:

Why did the allocator not simply revert if the requested array length was greater than `(2**256)/32-1`? It seems that this would have been a much better way to have solved the problem.

[2022-06-13 22:38] lukehutch opened #13132 "Better error needed when trying to call an `external` function from the same contract"
## Description

When trying to call an `external` function from the same contract, the error message generated is:

[code]

This is confusing as a newcomer to Solidity. It took me forever to realize that `external` functions cannot be called by other functions within the same contract. The assumption I made was that `external` was a superset of `public`, but actually it is the other way around.

I

[2022-06-13 22:55] lukehutch opened #13133 "Abstract classes multiply-inheriting the same interface are forced to declare a function prototype"
## Description

Consider the following code:

[code]

If the line marked `// (*)` is removed, then the Solidity compiler will give an error like the following:

[code]

Instead, since `SuperContract` is marked `abstract`, it should not be required to implement or even declare every interface it inherits. Any multiply-inherited interface functions should be linearized and merged with C3 linearizati

[2022-06-14 10:21] migoldfinger opened #13136 "Ignore interfaces when checking if the linearization of inheritance graph is possible"
## Abstract

Following an Interface pattern for every contract leads to unsolvable inheritance situation even if it should not.

## Motivation

I tried to implement a number of base contracts with interfaces. The pattern I was following is that a Interface for a contract should have all visible functions and all events for that contract. For that reason each interface that describes a contract tha

[2022-06-14 10:27] cameel commented on #13086
We decided to postpone the change I mentioned above until 0.8.16. For 0.8.15 we'll instead revert the problematic part of #12921. Here's my PR that does this: #13135.

For 0.8.16 we should revert the first commit from that PR.

[2022-06-14 10:39] cameel opened #13137 "Event and error selectors are not constants"
## Description
Function selectors can be used to initialize constants while error and event selectors (recently introduced in #12921) are rejected as non-constant. I think that all of them should work the same way in that regard.

## Steps to Reproduce

[code]
[code]

The test passes without errors if you remove `constant` from the state variables.

## Environment

- Compiler version: 0.8.15 (`dev

[2022-06-14 12:20] cameel commented on #13136
### The feature
I think you have a point. The linearization order matters mostly for two things: deciding which virtual function to call and the order of construction/initialization of base contracts. They both do not matter for interfaces since their functions cannot have implementations and then cannot have constructors or variables that would need to be initialized.

I'm not sure if I'm not mis

[2022-06-14 13:29] migoldfinger commented on #13136
@cameel  thanks for considering
I will try to recreate the problem. I already moved forward so I will have to recreate some from my memory
The Example is loosely based on openzeppelin contracts ERC20. Lets assume they have an interface for each contract even if they do not have it, because that's basically what I have done.
[code]
I got this setting working without error messages.
The unsolvable p

[2022-06-14 13:43] cameel commented on #13136
It must have been slightly different because this

actually looks like this in OZ

and with that change there's no linearization error.

[2022-06-14 13:58] migoldfinger commented on #13136
@cameel I know, I can and did solve the linearization error, if any, for the base classes.

The difference in my order is because I wrote the example out of memory and I tried many alternative orders in my attempt so solvle the error at the MyToken class.
The at the moment unsolveable linearization error happens at MyToken.
Even if the base classes compile fine.
There is no way to get MyToken work

[2022-06-14 19:17] cameel commented on #13136
Then I think I don't understand what you mean. Can you give me a complete example that triggers this error? Because when I adjust your example the way I stated above I get this and this does not cause any error for `MyToken`:

[code]

an Interface holds a function that is defined in the interface and also already implemented in some base class.

Yes. There are reasons for this (see this topic on t

[2022-06-14 19:41] lukehutch commented on #13136
I don't know if this is related, but I have the following issue:

[code]

I get an error that contract C should be marked as `abstract` because it does not implement `function x()` from interface A (but it does implement this function, via the implicit function created from the inherited `uint256 public x` in contract `B`).

[2022-06-14 20:13] cameel commented on #12665
Perhaps #13136 should be a part or this too.

[2022-06-14 20:17] cameel commented on #13136
@lukehutch I'm not getting this error. I'm instead getting an error saying that `x()` should be `external` and making it `external` resolves it.

But yeah, this is completely unrelated to the issue here. If you're sure it's a problem in the compiler please report it as a separate issue and we'll investigate. But if you're not sure it's best to ask first, e.g. on the [#solidity](https://gitter.im/e

[2022-06-14 22:38] migoldfinger commented on #13136
@cameel Just give me some time until weekend and I will set up a repository that creates exactly the described problem.

Thanks for the clarification. In my case and opinion I would drop the override(A, B) syntax if every object except one is an interface. But this is not very important because it does not hurt to write the override(A, B) syntax. It just a nice to have.
[code]
In every other case

[2022-06-15 01:19] lukehutch commented on #13133
Actually I cut the example down from a larger real-world codebase, so I just simulated the error message, but when I compile just the code shown, with line `// (*)` either present or removed, I get:

[code]

[2022-06-15 01:34] leonwilly commented on #13133
It would be nice if we could declare the override without retyping the function. Like this
[code]

[2022-06-15 01:34] lukehutch opened #13142 ""TypeError: Linearization of inheritance graph impossible" when interface is both implemented and inherited"
## Description

Compiling the following

[code]

gives error

[code]

## Environment

- Compiler version: solc 0.8.14

[2022-06-15 01:47] leonwilly opened #13143 "Allow "using BaseContract.virtualMethod" syntax when there are conflicting virtual methods."
## Abstract

[code]

## Motivation

Reduce the amount of code that needs to be written thus reducing errors.

## Specification

Make use of the already builtin keyword "using" to tell the compiler which virtual function the derived contract would like to use. The compiler can then create the required override function or do a copy / paste of the overridden function into the derived contract.

[cod

[2022-06-15 02:42] lukehutch commented on #13133
I'm going to close this because I can't seem to generate a proper minimal testcase for this, there must be something else going wrong with my real-world example. Sorry for the spam.

[2022-06-15 02:42] #13133 closed, assigned to nobody

[2022-06-15 03:26] qwerty472123 commented on #12248
@chriseth

For `a.sol`

[code]

`b.sol`

[code]

is OK, but `c.sol`

[code]

outputs `Error: Invalid array length, expected integer literal or constant expression.`.

[2022-06-15 04:48] sourabhxyz opened #13144 "[Docs] Incorrect example in Operators section of Types"
## Page

https://docs.soliditylang.org/en/v0.8.14/types.html#operators

## Abstract

Given example is incorrect as it doesn't compile. `uint8` doesn't implicitly convert to `int32`.

## Pull request

Can make type of `z` to be `uint32`.

[2022-06-15 09:12] ekpyron opened #13146 "CMake option to disable pedantic builds."
We add a lot of compiler flags that make the builds as strict and pedantic as possible.

While that's very good for our development and CI, this can be annoying for end users and for dependent projects.
We should add a CMake option that disables all warning flags, treating warnings as errors and all other pedantic build flags in ``cmake/EthCompilerSettings.cmake``.

The flag should be off by defau

[2022-06-15 09:25] cameel commented on #13146
Yeah. This would have helped with #12408, where an option to locally disable `-Werror` was requested.

[2022-06-15 09:39] ekpyron opened #13147 "Disallow complex expressions on left-hand-sides of assignments."
https://github.com/ethereum/solidity/pull/13139 attempted to add some warnings about easy-to-miss dangling reference cases.

We could go beyond that and also warn about cases like this:
[code]
(which, roughly, we got reported as a bug bounty report)

In general we could warn about using most kinds of complex expressions on left-hand-sides of tuple assignments, especially about function calls.

We

[2022-06-15 09:44] ekpyron commented on #11602
Reading through this again, I think #13045 should have been a complete fix, so I'm closing this.

[2022-06-15 09:44] #11602 closed, assigned to nobody

[2022-06-15 09:47] lukehutch opened #13148 "Permit disallowing of fallback function call during `address.call`"
## Description

Solidity's fallback function can give rise to [serious security vulnerabilities](https://media.dedaub.com/phantom-functions-and-the-billion-dollar-no-op-c56f062ae49f), potentially resulting in the loss of enormous amounts of money.

Furthermore, the rollover to the fallback function may also give rise to unexpected behavior, e.g. if an ERC777 token recipient registers its `ERC777To

[2022-06-15 09:49] k06a opened #13149 "Missing custom errors from library assembly in smart contract ABI"
## Description

Sometimes custom errors are not included in the smart contract ABI based on their direct usage in Solidity code.

This case works fine:
[code]

This case works fine too:
[code]

But using the same approach in the library does not work properly:
[code]

`Foo` error is not included in the smart contract ABI, which I believe is a mistake. What about unconditionally including all libra

[2022-06-15 09:51] ekpyron commented on #13149
Related to https://github.com/ethereum/solidity/pull/10996 and its linked issues.

[2022-06-15 09:54] ekpyron commented on #13148
And how should this flag work in practice?
In general, you don't know if ``addr`` has a fallback function, resp. with which calldata it will fall back to a fallback function, so I don't see it being possible to do much about this on the call site.

[2022-06-15 09:56] ekpyron commented on #13148
On the callee side, the fallback function is already discouraged in favour of a ``receive`` function (which will revert on non-empty calldata) since Solidity 0.6.0, unless you actually *want* to handle non-empty calldata.

(i.e. if https://library.dedaub.com/contracts/Ethereum/C02AAA39B223FE8D0A0E5C4F27EAD9083C756CC2/source was written against solidity 0.6.0+, it would not have a ``fallback`` func

[2022-06-15 09:58] lukehutch commented on #13148
Can't the caller verify whether the callee actually implements the required function? I know this can't be done from Solidity per se, but can't it be done somehow in Yul or by the EVM?

[2022-06-15 09:58] ekpyron commented on #13148
No, it can't :-).

[2022-06-15 09:59] lukehutch commented on #13148
This seems like a gaping hole in EVM capability... is there interest in extending the EVM to add ABI introspection?

[2022-06-15 10:01] ekpyron commented on #13148
This would require severe changes to the EVM, e.g. actually implementing a function entry point table instead of being entirely agnostic to interfaces and solely relying on signatures stored in calldata. There are EIPs along those lines IIRC.

[2022-06-15 10:02] lukehutch commented on #13148
Or at least, this could be implemented by the callee, if it is signaled by the caller that the caller does not want the fallback function to ever be called. Then as long as callees are built with a supported version of Solidity, the callee could enforce the caller's fallback preferences. Obviously this still has room for vulnerabilities (anybody could use an older compiler to ignore the caller's w

[2022-06-15 10:03] ekpyron commented on #13148
But yeah, from the Solidity side, currently, this can only really be addressed at the callee-side, which was done in 0.6.0 with introducing the ``receive`` function as alternative to a full blown ``fallback``.

The way the caller signals the callee that it wants the ``receive`` function and not the ``fallback`` function, is to use empty calldata.

[2022-06-15 10:05] lukehutch commented on #13148
Wouldn't a zero-parameter payable function rollover to `receive` then, because the calldata would be empty?  (I have one of these functions in my code.) That's the same vulnerability, because the wrong function may get called if the function name has a typo or something.

[2022-06-15 10:06] ekpyron commented on #13148
I.e. these days what *should* happen is:

- The callee should usually just implement a ``receive`` function, which will only be called with empty calldata. Even if it additionally implements a ``fallback`` function, empty calldata will indicate that the ``receive`` function is desired.
- The caller just uses empty calldata to indicate that it does not want to call a function.

So in this sense thi

[2022-06-15 10:11] lukehutch commented on #13148
Ah, got it. Thanks for taking the time to explain.

Well I can already fix this on the callee side, to protect the callee contract from causing problems for other contracts at least, by adding a definition for `fallback` that simply reverts. But it's the caller side I'm worried about. In the URL I provided, the caller has no way to know that their call failed, which creates the security vulnerabil

[2022-06-15 10:23] ekpyron commented on #13148
Yes, prior to 0.6.0, the callee's ``fallback`` function was supposed to consider whether it gets calldata or not on its own... so https://library.dedaub.com/contracts/Ethereum/C02AAA39B223FE8D0A0E5C4F27EAD9083C756CC2/source?line=35 should, instead of
[code]
have had
[code]

But since this is missing in cases like this, in 0.6.0 we split this on the language level into ``receive()`` and ``fallback(

[2022-06-15 10:39] lukehutch commented on #13148
I read the documentation I could find on `fallback()` and `receive()`, including the 0.6.0 post about this. But I'm still hazy on what happens if these are not defined. So if I don't define `fallback()` or `receive()`, but (for argument's sake) I have a `payable` function of a different name in my contract, then I can only call the contract with functions that are actually defined (because there i

[2022-06-15 10:54] ekpyron commented on #13148
There's no reason to add this code. If you neither define a ``fallback``, nor a ``receive`` function, then calls to non-existing functions will automatically revert.
Even if you just don't define a ``fallback`` function and only a ``receive`` function, *still* all calls to non-existing will automatically revert (only calls with no calldata, including no function signature, will pass to the ``recei

[2022-06-15 11:17] lukehutch commented on #13148
OK, thanks.

If there really is no way for the caller to prevent calls with non-empty calldata triggering the fallback function, then you can go ahead and close this issue (although it's a real shame that this is not possible...).

[2022-06-15 11:25] #13148 closed, assigned to nobody

[2022-06-15 11:31] #12968 closed, assigned to nobody

[2022-06-15 13:54] cameel opened #13153 "Homebrew formula broken since 0.8.10"
## Description

We maintain a custom Homebrew formula to build Solidity on macOS: [`solidity.rb`](https://github.com/ethereum/homebrew-ethereum/blob/master/solidity.rb). Since at least 0.8.10 we've been having various build issues in CI so the formula does not pass tests. It may or may not be broken on real systems. Solving these requires some debugging, preferably by someone with a mac.

Fixing t

[2022-06-15 14:49] Amxx commented on #11792
Any news on that feature?

[2022-06-15 15:18] migoldfinger commented on #13136
@cameel I tried for 2 hours now but was unable to recreate the "linearization of inheritance graph impossible" error.
Maybe you are right and I did have some mistake in the order somewhere or accidentally used the contract instead of the interface.
I will now start to remove the workaround and use my initial interface driven concept again. Maybe I ran into the error again but I do not believe it s

[2022-06-15 20:04] ekpyron opened #13157 "Better Debugging Data (in particular for via-IR codegen)"
We probably already have issues regarding this, but I'm creating a new one after our recent tooling call, since we're hoping to continue the discussion.

Requests for helpful modifications to the compiler I noted down:
- Easy way to set up the compiler to perform no optimizations other than stack-to-memory.
  - Related idea was to generate code for a ficticious EVM version with unlimited stack acc

[2022-06-15 20:29] cameel commented on #13136
Sure. If you manage to reproduce it, please report an issue. Best if you can actually get a short repro the size of the one you had above - that's all we need to investigate, it just needs to produce the error.

Also, I'll keep the issue open since I think you raised a very good point. Even if this is solvable by changing the order, ignoring interfaces in linearization still makes sense to me and

[2022-06-15 20:38] cameel commented on #11792
Not yet but this is one of the features we have in the priority backlog so it should be one of the first to pick up once we have some more free cycles.

(1) Looks like it depends on stdlib though and that's not ready yet.

[2022-06-15 21:04] cameel commented on #13149
This is actually by design - which does not mean we can't change it - but the idea was that the ABI should contain only the events that are actually emitted and errors that are actually used - in addition to all events and errors defined within the contract. For example if you just do `L.Foo;`, i.e. refer to an error (or an event) without actually doing a revert, it won't appear in the ABI either.

[2022-06-15 21:14] cameel commented on #13142
Oh, now that you gave a correct example I see how your problem was related to #13136. So yeah, it actually is the same problem. Sorry for that, I thought it was something else. Let's actually continue that discussion in #13136.

The bottom line is that if we implement the feature from #13136, this will compile as is. But for now the solution for your case is simple: change it to either `SubContrac

[2022-06-15 21:14] #13142 closed, assigned to nobody

[2022-06-15 21:27] cameel commented on #13070
@ywon0925 ICE means Internal Compiler Error and we basically use this term to refer to any error that's reported the way you see in the description (even if it's not actually the `InternalCompilerError` class). ICE usually means a failed assertion.

By a normal message I mean that the user should see only this part:
[code]
without all the other cruft.

Basically, the problem is that the exception

[2022-06-15 21:29] cameel commented on #13070
By the way, @ekpyron, wouldn't it make sense to rename `boostTest.cpp` to `soltest.cpp`?

[2022-06-15 21:45] ekpyron commented on #13070
Yep, definitely.

[2022-06-15 21:47] lukehutch commented on #13142
No problem, and ah! I hadn't considered that changing the order of listed inheritance would fix this. Thanks for the solution.

[2022-06-15 21:54] cd1m0 commented on #13157
One question about the Multi-source-maps proposal. Is it guaranteed that at every jump the index of the called deduplicated function can be determined at compile time?

[2022-06-15 21:56] cryptonomicon46 opened #13158 "Error Stack too deep"
## Description

## Environment

- Compiler version: 0.8.13
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix): Truffle No okay, Remix Okay
- EVM execution environment / backend / blockchain client:
- Operating system: Mac OSX

## Steps to Reproduce
Stack too deep error when trying to compile a function in Truffle in VS Code.
But worked okay on Remix.
 Some res

[2022-06-16 01:09] cd1m0 commented on #13157
Also to add to this, there was the concern of not being able to use the source map to figure out the number of instructions. This is used to decode the bytecode. This in itself is a little hacky, as it assumes that the solidity compiler never mixes code and data (i.e. all data is at the end). So perhaps it would be useful if the compiler emitted enough metadata to enable determining what is code a

[2022-06-16 02:27] lukehutch opened #13159 "Error: cannot estimate gas; transaction may fail or may require manual gas limit"
## Description

I frequently get errors like the following:

[code]

This only happens occasionally (I'll include a testcase below), and it's always hard to fix. The only solution is to set `{gasLimit: 3e7}` in each contract function call.

One thing that can trigger this problem is when the contract size approaches the maximum possible size. (Hopefully the testcase triggers this as a standalone p

[2022-06-16 10:05] ekpyron commented on #13153
https://github.com/ethereum/homebrew-ethereum/pull/313, our most recent attempt, has fixed most issues, but the 0.4 series build still fails (see https://app.circleci.com/pipelines/github/ethereum/homebrew-ethereum/225/workflows/4358a1b1-2d43-4f32-92b7-be474226bbcb/jobs/242).

I'm pretty sure this will end up requiring a non-trivial source patch to build properly. That would be easiest to determin

[2022-06-16 10:09] ekpyron commented on #13158
The easiest solution to most "stack too deep" errors these days is to switch to via-IR code generation and enable the optimizer.

Apart from saying that generally, there is little I can do to help without a full reproduction :-).

[2022-06-16 10:39] ekpyron commented on #13157
https://github.com/ethereum/solidity/issues/9332 was meant to address that, I'm not entirely sure what stalled it.

[2022-06-16 10:50] ekpyron commented on #13157
It'll take some consideration how such source maps would actually have to look like.
It may be better and more-future proof not to annotate the jumps with an index into source maps, but the pushes of the jump targets. In legacy code generation, currently, most of the time the disambiguation at jumps should work, but it won't for internal function dispatch. That could be solved by annotating the pu

[2022-06-16 12:09] ekpyron commented on #13143
``using`` in Solidity has quite a different meaning in other contexts, so I'm not sure it's a good idea to overload it.
Also the conveniently short ``using B.something;`` drops the intentional requirement to explicitly override all bases (indicating that you realize that the you are aware of the independent requirements of the base interfaces and making the statement of their compatibility explici

[2022-06-16 12:13] fredlacs commented on #11593
Curious on the current thinking around this.
Is this still being considered?

[2022-06-16 12:15] ekpyron commented on #13132
Yes, that's definitely true. There could very well be a duplicate for this one already, but in any case, it shouldn't be too hard to improve the error message here and we should do it.

To be a bit more precise, the case is the following:
[code]

The idea would be to change the error message in this case. I'd suggest something along the lines of:

[code]

The place to start would probably be ``Nam

[2022-06-16 12:23] #12927 closed, assigned to nobody

[2022-06-16 12:34] ekpyron commented on #13125
The main problem here, is that the optimizer will have a hard time to remove the read from storage that would result from this (which at least won't be necessary if the array is not packed otherwise), as well as the memory allocation, in case it is not used.

So just implementing this naively right now, would probably result in all ``.pop()``s to become significantly more expensive, even without t

[2022-06-16 12:35] ekpyron commented on #13122
Usually, I'm the one doing this, but actually it's not too hard, in case there are no issues, so somebody else could look into the old PR progression that bumped the version last time and give this a try while I'm off :-).
If the update results in compilation issues and/or runtime issues, we can still postpone, but oftentimes the update is actually smooth.

[2022-06-16 12:39] ekpyron commented on #13121
Actually, in this particular case, we could even consider using a preprocessor check to still support compiling against older versions of the 4.8 series. IIRC (pinging @leonardoalt) it was mainly a matter of this exact enum part to be introduced - but things should reasonably work for older versions by just conditionally not checking for that enum value, right?

However, attempting to compile agai

[2022-06-16 12:40] ekpyron commented on #13121
For reference: basically the change in https://github.com/ethereum/solidity/pull/13009 could be put inside a preprocessor check for the appropriate Z3 version.

[2022-06-16 12:53] ekpyron commented on #9627
This may by the way also partly, or even fully, address the allow performing no optimizations other than stack-to-memory part of https://github.com/ethereum/solidity/issues/13157...

[2022-06-16 12:54] ekpyron commented on #9627
Also are we sure we have to consider this a breaking change?

[2022-06-16 12:57] leonardoalt commented on #13121
Yea agree with that.

[2022-06-16 13:19] ekpyron commented on #10645
https://github.com/ethereum/solidity/pull/12762 pretty much showcases how this can be done with the recent more elaborate semantic information we have - so the same mechanism just needs to be transferred to the data flow analyzer.

[2022-06-16 13:35] ekpyron commented on #9616
Is this actually breaking or can we transition by allowing both :-)?

[2022-06-16 14:36] ekpyron opened #13160 "[soltest] Distinguish code size-induced cost from runtime gas cost in tests."
Currently, the semantics test expectations contain full transaction gas costs without distinguishing between cost due to code size vs runtime gas cost. While this is a bit tricky to distinguish properly, it'd be good to try and separate them to make the gas values more meaningful.

We could probably have ``EVMHost`` (``test/EVMHost.*``) track the cost associated with code size on each and every cr

[2022-06-16 16:48] ekpyron commented on #7825
Since it has come up during the 0.8.15 release and the bug reports we received prior to that:

An interesting case is
[code]

Currently, the *one* thing that the docs in https://docs.soliditylang.org/en/latest/control-structures.html#order-of-evaluation-of-expressions specify is that children of a node are evaluated before the node.
Here this means, that we have to evaluate ``(x,y,z)`` and ``(a,b,

[2022-06-16 17:19] cryptonomicon46 commented on #13158
Thanks for your response @ekpyron. I went ahead and replicated the error message and have included links to the  .sol file, the config file , dependencies and the error message.

Accordingly I've created gists to show the .sol file and my config file as follows:

1. Config Gist:  https://gist.github.com/cryptonomicon46/77474e794b9ff0fd1d33568a6a1f4db0
2. .SOL gist:  https://gist.github.com/crypton

[2022-06-16 18:10] ekpyron commented on #13158
Yeah, you have a lot of local variables in ``revealWinner``, which apparently is too much for the legacy code generation path to handle - this is a known issue
If you add ``"viaIR": true,`` to the compiler settings in your config, i.e. switch to the new optimized via-IR code generation pipeline, the issue should vanish.

[2022-06-16 19:44] lukehutch commented on #13125
Optimizing the generated code in this case, and many optimizations like it, could be implemented if Solidity had a dataflow analyzer. Even if very basic dataflow is only implemented within functions (and not across function call boundaries, which is much more complicated), you could do a lot of useful things like check whether the return value of a `pure` or `view` function is not used, and either

[2022-06-16 20:39] ekpyron commented on #13125
The current concept of the compiler is to *not* optimize on the Solidity level at all, but have a very simple and foolproof translation to Yul, and then optimize on the Yul representation (for which we have data flow analysis, which is much simpler on Yul, since the language is much more restricted). That's a good strategy most of the time - however, since Yul looses a lot of the type structure an

[2022-06-16 21:00] lukehutch commented on #13125
Got it, thanks for the explanation.

Meanwhile, adding a `peek()` function would be an awesome task for a first-time contributor (I don't have the bandwidth right now, unfortunately).

[2022-06-16 21:34] axic commented on #8775
This would be still a nice feature.

[2022-06-16 22:35] cameel commented on #9627
Honestly, my biggest concern is not just that it's breaking but that the breakage will likely happen silently. Anyone actually using it will lose some optimizer steps, possibly without even realizing it.

But I have another idea: how about introducing some kind of prefix that will be required to enable the new behavior (for example `--yul-optimizations @fDnTOcg`) and keeping the current behavior b

[2022-06-16 22:57] lukehutch commented on #13132
`and thereby not visible unqualified` doesn't seem grammatical...

If this is some compiler-internal terminology, it should be surfaced in a more comprehensible way to the public via the error message.

[2022-06-17 02:33] ywon0925 commented on #13070
@cameel Thank you for the detailed explanation.

So, I should add the `catch` block to `isoltest`, and rename the `boostTest.cpp` to `soltest.cpp` as well?

[2022-06-17 11:30] benesjan opened #13165 "Add unchecked versions of existing operators"
## Abstract

There are situations in solidity ^0.8.0 where it can be assured that overflows and underflows are not a danger. In this scenarios devs can use the unchecked code block. I think it would improve code clarity if we add unchecked version of existing operators.

## Motivation
In order to save gas, devs are now using the following syntax:
[code]
I think it would be very helpful to add unch

[2022-06-17 12:30] ekpyron commented on #13165
We're currently working on allowing to define (the regular) operators on user-defined value types (https://github.com/ethereum/solidity/issues/11969).

That way it will become possible to define a *type* with operations that are unchecked, so you would not declare ``uint256 i`` as loop index, but ``Index i`` with a user-defined value type ``Index`` that has an unchecked increment operator defined

[2022-06-17 12:48] ekpyron commented on #13165
Note that in the most recent compiler version function ``f`` in this contract:
[code]

has identical cost (using optimized via-IR compilation) to this:

[code]

Given that you define a user-defined value type ``Index`` like this:

[code]

So the only thing missing to make this work nicely is to define nice and readable operators on the type ``Index`` instead of having to use less readable free fun

[2022-06-17 13:13] #12600 closed, assigned to nobody

[2022-06-17 13:13] #9831 closed, assigned to nobody

[2022-06-17 13:13] #13116 closed, assigned to ekpyron

[2022-06-17 13:41] ekpyron commented on #13132
Just to explain: Technically, a name/identifier being ``qualified`` means that its scope is explicitly mentioned, whereas ``unqualified`` means it does not mention its scope, i.e. ``f`` is unqualified, ``this.f`` is qualified...  but yeah, may be better to use some lighter phrasing for the message.

[2022-06-17 14:47] benesjan commented on #13165
Thank you for the thorough response! Happy it's already being addressed 👍

[2022-06-17 14:47] #13165 closed, assigned to nobody

[2022-06-17 15:20] #13120 closed, assigned to ekpyron, matheusaaguiar

[2022-06-17 19:14] Pedroa0710 commented on #12912
Impruve marged

[2022-06-20 10:15] chriseth commented on #13099
It should also bring a gigantic benefit to transfer this information into functions: Whenever you call "allocate" there is an overflow check on the free memory pointer. This can be removed if all previous allocations are statically-sized (or even bounded later on).

Not all functions will be inlined into the top level, but they might be only called from the external dispatch, which could allow us

[2022-06-20 10:21] chriseth commented on #4529
Yes, there are proposals along these lines.

[2022-06-20 15:51] duncancmt opened #13174 "`pure` functions can read storage"
## Description

It is possible to declare a `pure` function that reads storage

## Environment

- Compiler version: 0.8.15
- Target EVM version (as per compiler settings): London
- Framework/IDE (e.g. Truffle or Remix): Foundry
- EVM execution environment / backend / blockchain client: Hardhat
- Operating system: Fedora 34

## Steps to Reproduce

[code]

Calling `Demo.thing()` returns `"I am a str

[2022-06-20 15:53] duncancmt commented on #13174
This is related to #12820, which was closed with little explanation

[2022-06-20 16:09] Pzixel opened #13175 "Feature Request: Consider adding packed keyword to pack struct fields"
## Abstract

Consider following struct:

[code]

When abiencoded value Foo(true, true, false, true) translates into `0000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001`, while it could be just `

[2022-06-20 22:11] k06a opened #13176 "Avoiding `bytes calldata slice` type"
## Description

Slice of `bytes calldata` should have the same type `bytes calldata`, but it is unexpectedly `bytes calldata slice`.

## Environment

- Compiler version: 0.8.15

## Steps to Reproduce

[code]
-->
[code]

Found way to handle this, but I would prefer to have this working without tricks:
[code]
=>
[code]

[2022-06-21 04:29] timweri opened #13178 "Z3 build error"
## Description

I followed the build guide [here](https://docs.soliditylang.org/en/latest/installing-solidity.html#building-from-source) but ran into a build error with Z3:
[code]

This is the same compiler error in #13121. However, I think the root cause is different because my z3 version is the latest (v4.8.17) and the latest solidity source code is checked out. The build script detects the corr

[2022-06-21 07:11] jaa2 opened #13179 "solc: Stack overflow importing large AST from json file"
## Description
Importing an AST with `--import-ast` using a large JSON file results in a stack overflow and segmentation fault with certain output options.

A quick run with memcheck shows that it stems from a regex match.

## Environment

- Compiler version: 0.8.16-develop.2022.6.21+commit.c3ea8661.mod.Linux.g++
- Target EVM version (as per compiler settings): london
- Operating system: Linux

##

[2022-06-21 08:18] bshastry opened #13180 "[Legacy codegen] Higher order bits not sign-extended in signed integer array in storage that may be accessed via inline assembly"
In the semantic test below, legacy codegen does not sign-extend the second element of the storage array but via-ir does. This may be accessed via inline assembly. Bug similar to https://github.com/ethereum/solidity/pull/12050

Note that Solidity access is just fine (i.e., sign-extension happens correctly via legacy or IR). Also note that the value returned by the call to `g()` in the test below is

[2022-06-21 12:01] bshastry opened #13181 "[Legacy codegen] Incorrect logging data possibly due to memory corruption via inline assembly"
For the test below, the correct log data would be `0x20, 0x01, "f"`. However, legacy codegen returns `"f", 0x20, 0x01, "f"` i.e., an extra `"f"` is prefixed.

[code]

[2022-06-21 12:33] Marenz commented on #11700
On our side, everything is implemented in #12568 but we need to update our external tests, that would be the next step for this task

[2022-06-21 14:24] anton-cs opened #13186 "Struct typeIdentifier location"
## Description

## Environment

- Compiler version: 0.8.15+commit.e14f2714.Linux.g++
- Operating system: Arch

## Steps to Reproduce

[code]
Following snipper will produce ast json for the `A memory a`:

[code]
The typeDescriptions.typeIdentifier is `"t_struct$_A_$3_storage_ptr"`. The type definition of struct defaults to `storage` location, even though it can be defined even outside of the contra

[2022-06-21 15:48] Marenz commented on #13179
I believe this won't be too difficult to solve, so marking this as easy/good first issue, but in case I am wrong, feel free to comment/correct here

[2022-06-21 16:26] jaa2 opened #13188 "[External tests] Using a relative path for solc causes compilation error message"
## Description

Running `./test/externalTests.sh` or any of the individual external test scripts with a relative path to the solc binary causes the tests to fail with an obscure Hardhat message saying "The Solidity version pragma statement in these files doesn't match any of the configured compilers in your config. Change the pragma or configure additional compiler versions in your hardhat config.

[2022-06-21 17:47] eggplantzzz commented on #13015
Hey @cameel, is there any news on decisions that have been made regarding this? Thanks!

[2022-06-22 02:06] lukehutch commented on #7856
At present, given `contract ERC1363 is ERC20, ERC165`, the value of `type(ERC1363).interfaceId` is the XOR of only the function selectors of `ERC1363` itself, not the function selectors of `ERC20` or `ERC165`. It doesn't seem right that the `interfaceId` of `contract ERC1363 is ERC20, ERC165` and `contract ERC1363 /* is ERC20, ERC165 */` should be the same. Any comment, @chriseth?

Why does `type(

[2022-06-22 05:13] timweri commented on #13178
Turns out my default include search space for GCC is misconfigured so the `z3++.h` file was not found by the compiler.

[2022-06-22 05:13] #13178 closed, assigned to nobody

[2022-06-22 08:10] #10688 closed, assigned to nobody

[2022-06-22 19:00] aathan commented on #869
I think generics are a bit moot until the environment also has a reasonably automated mechanism for code size mitigation or alternatively, must come with very good control regarding code placement, libraries, linking etc. Generics-style programming tends to instantiate lots of type specializations and therefore lots of code. Solidity contracts are still very highly hand-tuned when it comes to this

[2022-06-22 19:09] k06a commented on #12778
@cameel thanks for creating this issue, faced it today. Any expectations when this could be fixed?

[2022-06-22 19:14] k06a commented on #12778
But I managed to make it work with `public/internal` method instead of `external` and by using `g` instead of `this.g`:
[code]
=>
[code]

[2022-06-22 19:50] matheusaaguiar commented on #13179
I have tracked down the stack overflow to a `regex_search` [call](https://github.com/ethereum/solidity/blob/develop/libyul/AsmParser.cpp#L200).
Apparently when the size of the `string_view` is sufficiently large (`39547` in the example of this issue), the `regex_search` produces the stack overflow. It seems to be a known problem, since I have found some bug reports about similar situations with `r

[2022-06-22 21:00] k06a commented on #12650
Checked the following numbers:
- Number of selectors: **up to 1000**
- Table size: **1.5 * number of selectors**
- Max bucket size: **2**

Hash function:
[code]

After brute-forcing salts for 10k different sets of 1000 random generated selectors I have the following stats:
- 99th percentile of sets find salt after 11726 iterations
- 95th percentile of sets find salt after 7129 iterations
- 90th pe

[2022-06-22 21:17] k06a commented on #12650
Pseudocode of single dispatcher with 2 tables
- (2-bytes) table with top 2 bits indication on bucket size and 14-bit offset in the second table
- (4-bytes selector, 4 bytes dest offset) table of all selectors and function pointers

[code]

[2022-06-22 21:26] pedrommaiaa opened #13197 "Bug: Delegatecall doesn't work with non-standard types."
## Description

When using `delegatecall` to call a function from another contract, it fails whenever using non-standard types.

## Environment

- Compiler version: 0.8.15+commit.e14f2714.Darwin.appleclang
- Target EVM version (as per compiler settings): Latest
- Framework/IDE (e.g. Truffle or Remix): Foundry
- EVM execution environment / backend / blockchain client: Foundry
- Operating system: Ma

[2022-06-23 04:12] MicahZoltu commented on #869
If the user needs two data structures for two different types, then making them manually type out both by hand or copy/paste the implementation isn't saving anyone gas over having the compiler generate the two implementations.  Even in the worst case where the compiler doesn't reuse any code between the implementations, I think that is still no worse than what most users would come up with.

Gas o

[2022-06-23 05:34] aathan commented on #869
No doubt or argument that templating is a powerful tool that reduces copy pasta and makes for a better user experience overall. My comment was not at all about gas, but rather, about contract code size and about the coding style that generics and other sophisticated language features promote. As currently constructed the realities of the EVM execution environment are so constrained that code frequ

[2022-06-23 07:17] k06a commented on #12650
Maybe you could introduce the `dispatcher()` function in Solidity in the addition to `receive()` and `fallback()` methods family? Which will be called before and instead of external methods, where Solidity engineers could put their own heavily optimized version of the dispatcher and perform internal calls?

[2022-06-23 09:30] acmRecife opened #13198 "SMTChecker unexpected errors in Windows and Mac"
Context: I am running SMTChecker on a contract written in Solidity v0.8.10. I tried both in Windows and Mac and the following situations happened:

Windows: 11 Pro, 16GB Core i7
Using hardhat, command: npx hardhat compile

For this SMTChecker configuration

modelChecker: {
        engine: 'chc',
        timeout: 50, // <=== This is tiny because my project is big
        targets: ['overflow']

[2022-06-23 09:34] leonardoalt commented on #13198
Hi @acmRecife , thanks for reporting.
As a quick attempt, can you try the OSX version with the latest compiler release (0.8.15)?

[2022-06-23 10:02] GrandSchtroumpf opened #13199 "Event inheritance in natspec (documentation)"
## Abstract
Events, in natspec documentation, are not inherited like the methods are.

## Motivation
I'm building a Typescript output for solidity. A little bit like Typechain. When inheriting ERC20 from openzeppelin for example I can generate TsDoc from solc's devdoc output for the methods, but not for the events.

Example of output I would like to achieved using the devdoc output of the ERC20:
[

[2022-06-23 11:14] OGPey opened #13200 "Conflict not solved is displayed"
## Page

https://solidity-fr.readthedocs.io/fr/latest/solidity-by-example.html

## Abstract

a conflict haven't been solved, breaking front css structure.

## Pull request

In Process

[2022-06-23 11:24] #13200 closed, assigned to nobody

[2022-06-23 13:26] leonardoalt opened #13201 "Improve DataFlowAnalyzer's performance"
- [ ] Check if the call to `SyntacticallyEqual::operator()` can be made more efficienty
- [x]  Check `yul::valueOfNumberLiteral` (cache it)
- [x]  In `DataFlowAnalyzer`, don't always use `m_memory` (check whether the derived class needs it). CSE might be fine without it - implemented in https://github.com/ethereum/solidity/pull/13261

Taken from a 0.8.15 profiling:

![image](https://user-images.gi

[2022-06-23 13:37] hrkrshnn commented on #13201
Perhaps also https://github.com/ethereum/solidity/blob/70ca05fd739b2423636d510e3e7dca5a59ffbefd/libyul/optimiser/CommonSubexpressionEliminator.cpp#L108

[2022-06-23 13:39] chriseth commented on #13201
Yep, that's exactly it.
So it looks like for CSE we should disable m_memory and m_storage in DataFlowAnalyzer and we should use a more efficient data structure for the search inline 108.

[2022-06-23 14:11] #12953 closed, assigned to nobody

[2022-06-23 14:55] hrkrshnn commented on #13197
ERC20 is not a "standard" type. Anyway, we recommend using `abi.encodeCall(deposit, ERC20(asset), amount)` instead of `abi.encodeWithSignature...`

[2022-06-23 14:55] #13197 closed, assigned to nobody

[2022-06-23 19:55] cameel commented on #12778
This should be pretty simple to fix and we'd like people to use function pointers more so I think we could bump the priority here.

@nishant-sachdeva You were looking for a new task recently, maybe you'd like to work on this?

[2022-06-23 20:06] cameel commented on #13070
Done in #13167.

[2022-06-23 20:06] #13070 closed, assigned to nobody

[2022-06-23 20:19] matheusaaguiar commented on #13179
So far here is the situation: IR is generated with comments next to instructions indicating the source location.
[code]
The comments may contain some "garbage" which come from debug info (as reported in [issue #12168](https://github.com/ethereum/solidity/issues/12168)). The debug info comes from method [dispenseLocationComment](https://github.com/ethereum/solidity/blob/develop/libsolidity/codegen/

[2022-06-23 21:38] acmRecife opened #13202 "SMTChecker: BMC timeout seems to not working"
Context: I am using SMTChecker on a Solidity v0.8.10 contract

Environment: MacOS Monterey, V12.4, 8GB RAM

SMTChecker config:

modelChecker: {
        engine: 'bmc',
        targets: ['overflow'],
        timeout: 10, // <=== I tried 100 as well
        showUnproved: true
      }

BMC seems to not paying attention to the timeout. CHC worked as expected!

Could you please help me on this? Thanks!

[2022-06-23 22:09] k06a opened #13203 "Access `this` in constructor should be allowed for non-calls stuff"
Access `this` in constructor should be allowed for non-calls.

## Description

Compiler produces warning on `this` usage in constructor, while it could be related to non-call stuff.

## Environment

- Compiler version: 0.8.15

## Steps to Reproduce

[code]
-->
[code]

[2022-06-23 23:27] jaa2 commented on #13179
This is actually the expected output without `--optimize`

[2022-06-24 02:37] bshastry opened #13204 "[TypeChecker] Bad cast of argument tuple in abi.encodeCall"
[code]

throws

https://github.com/ethereum/solidity/blob/3ed9a38abc9c9babf50a25f56bff2411da9cdfe7/libsolidity/analysis/TypeChecker.cpp#L2233

[2022-06-24 09:04] leonardoalt commented on #13202
Hi @acmRecife , what do you mean by "not paying attention to the timeout"? Is it taking longer?
Also, it's hard to help here without the code that it's being used on. Would you be able to provide a reproducible snippet?

[2022-06-24 09:58] nishant-sachdeva commented on #12778
@cameel  Sure! I'd like to take this up

[2022-06-24 10:14] acmRecife commented on #13202
Yes, @leonardoalt . Taking too long... even for a timeout of 10. But the code I think is big and complex. Unfortunately I cannot share it :-( But CHC takes around 4min with a timeout of 50.... Best!

[2022-06-24 10:16] acmRecife commented on #13198
I will try, @leonardoalt . This project is based on hardhat and other technologies and I am not sure how to adjust the environment to consider v0.8.15, but I will try. Best!

[2022-06-24 10:30] acmRecife commented on #13202
Finally, I got an answer from the BMC analysis...

An unexpected error occurred:

Error: Command failed: /Users/me/Library/Caches/hardhat-nodejs/compilers/macosx-amd64/solc-macosx-amd64-v0.8.10+commit.fc410830 --standard-json

    at ChildProcess.exithandler (node:child_process:398:12)
    at ChildProcess.emit (node:events:527:28)
    at ChildProcess.emit (node:domain:475:12)
    at maybeClose (no

[2022-06-24 10:49] migoldfinger commented on #13136
@cameel I finally came across my linearization problem again.
I took the base contracts from https://github.com/Exoda/exoda-contracts/tree/interfaceextension the contracts are published and can be installed with `npm i @exoda/contracts`.
The contract in question Fermion.sol is here https://github.com/ExofiDEX/exofi-contracts/tree/dev.
I do have write access to both repositories.
I could not find a

[2022-06-24 13:08] matheusaaguiar commented on #13179
Yes, just checked it and with `--optimize` there is no error.

[2022-06-24 16:27] ZumZoom opened #13206 "Replace runtime checks with compile-time checks for div and mod operations on constant denominator"
When doing division and modulo operation with constant or immutable denominator it is possible to only do compile-time denominator check and skip runtime checks.

Consider following contracts:

[code]

Even though at compile-time it is known that there is no case when division by zero will happen, generated code for checked case is more complicated than for unchecked case.

Corresponding gas costs

[2022-06-24 17:49] frangio opened #13207 "Functions that are generic in the data location of pointer arguments"
Follow up to https://github.com/ethereum/solidity/issues/869#issuecomment-676517663

In order to write efficient code it's important to make good use of data locations. For example, avoiding unnecessary copies from calldata to memory. Some of the utilities we want to provide in OpenZeppelin Contracts can operate on both memory and calldata values, for example functions for validating merkle proofs

[2022-06-24 19:00] bshastry opened #13208 "[TypeChecker] Out-of-range exception when trying to assign to nested tuples"
[code]

throws

https://github.com/ethereum/solidity/blob/3ed9a38abc9c9babf50a25f56bff2411da9cdfe7/libsolidity/analysis/TypeChecker.cpp#L168-L172

[2022-06-24 21:15] timweri commented on #13106
I'm currently working on this and it's my first time contributing to solidity. I have a question about what `(143-176)` means in [explicit_conversion_error_to_bytes4.sol](https://github.com/ethereum/solidity/blob/develop/test/libsolidity/syntaxTests/conversion/explicit_conversion_error_to_bytes4.sol)?

I've been digging through the docs but no luck

[2022-06-25 17:45] lukehutch commented on #13125
@ekpyron OK, how about adding a `.popAndGet()` method that always makes and returns a copy, and leaving `.pop()` as-is?

[2022-06-25 17:55] lukehutch opened #13211 "Support casting of `bytes` to value types"
## Abstract

Casting from `bytes` to a value type should unpack just the required number of bytes from the bytes array. For example, given `bytes memory b`, it should be possible to do `bytes4 b4 = bytes4(b);`

## Motivation

The primary motivation for this is for decoding the return value of low-level calls, when there is only one return value:

[code]

## Specification

Given `returnData` as ret

[2022-06-25 18:10] lukehutch opened #13212 "Allow declaration of multiple variables in first clause of `for` statement"
## Abstract

Currently it is impossible to declare more than one variable in the first clause of a `for` statement, e.g.

[code]

## Motivation

The above pattern saves gas, while saving polluting the namespace of the currently-possible alternative:

[code]

## Specification

Please allow multiple declarations of variables of the same type in the first clause of a for-loop, as is possible in C/C++

[2022-06-25 21:47] lukehutch opened #13213 ""for each" iteration through arrays"
## Abstract

There is currently no "for each" notation for iterating through arrays in solidity. This should be added, either as a "for each" operator, or as an implicit iteration (if lambdas are supported at some point).

## Motivation

Currently the best means we have to iterate through an array in Solidity is:

[code]

This has a few problems:

1. It's wasteful on gas to evaluate `arr.length` e

[2022-06-25 22:56] lukehutch opened #13214 "Add unitialized variable warning when for-loops contain uninitialized variables"
## Description

The following compiles and runs fine in Solidity without any warning:

[code]

Whereas the following should probably be required:

[code]

I believe all variables are zero by default in Solidity, so the current behavior is not surprising, but the first of the two examples above gives an uninitialized variable warning in Slither, which is probably appropriate. (Often uninitialized v

[2022-06-26 14:30] bshastry opened #13216 "[Codegen] Recursive fallback function call runs out of gas via legacy but does not via IR"
[code]

Legacy: FAILURE
IR: Pass

[2022-06-26 19:07] axic commented on #10282
Since this has been a bit stalled, perhaps the best way would be adding a new experimental flag to the compiler (either `pragma experimental stdlib;` or a compiler flag) which turns off all the current builtins and supports the special import statement.

This way we could merge functions step-by-step even before we get generics supported.

[2022-06-26 21:09] axic commented on #10282
Based on the internal architecture of `GlobalContext` it may be less intrusive to do this via a compiler flag, but that would mean external libraries can't really be used in the experimental stdlib pipeline.

[2022-06-26 21:15] axic commented on #10282
Copying the (I think) "decisions" from there:
1) Consider the `std` path as the stdlib, e.g. `"std/operators.sol"` would import from there. Raise an error if some remapping/path is in conflict.
2) `solc --export-standard-library <target directory>` (and its standard json equivalent) would dump the internal stdlib sources.

[2022-06-26 23:14] axic commented on #10282
Experimented with this a idea a bit, pushed the work here: https://github.com/ethereum/solidity/tree/stdlib2

I think this is workable, we can slowly introduce parts of the stdlib without waiting for all the needed language features to be present. This will mostly be enough to allow globals, and potentially some member functions (with `using global` 😬).

[2022-06-26 23:44] axic commented on #12951
I think this function is really about `verbatim`, given the goal of `blackbox` would be the code remains untouched. One just needs to finish #12067.

@brockelmore can this be closed or do you think `blackbox` would be useful beyond small snippets accomplishable via `verbatim`?

[2022-06-27 08:03] axic commented on #10282
Created https://github.com/ethereum/solidity/projects/46 to group the required/considered features.

[2022-06-27 09:51] hrkrshnn commented on #13211
This is already possible since 0.8.5, therefore closing.

[2022-06-27 09:51] #13211 closed, assigned to nobody

[2022-06-27 12:37] k06a opened #13218 "Solidity array allocation pre-erasing"
In order to allocate new arrays Solidity erases this memory with loop of `MSTORE`s. Same can be achieved with just `CALLDATACOPY` from huge offset like `SHL(255, 1)`.

Initial idea came from this tweet: https://twitter.com/k06a/status/1541392410546159617

## Abstract

Replace:
[code]
With this:
[code]

## Motivation

It will be much cheaper in terms of gas (no loop overhead) and byte code will be

[2022-06-27 13:29] hrkrshnn commented on #13218
The compiler does this partially. The trick is to use `calldatacopy(ptr, calldatasize(), size)`. But I think it can be used for even more cases, so that needs to be investigated.

[2022-06-27 14:01] axic commented on #13218
I hope these quirks can be removed in the future (zero extension and memory expansion ignoring high offsets is nasty).

[2022-06-27 16:22] k06a commented on #13218
I see `CALLDATACOPY(*, CALLDATASIZE(), *)` happens in some cases, but not in all of them

[2022-06-27 19:51] acmRecife commented on #13198
Hi @leonardoalt . I got the project to be compiled by v0.8.15 and the above error disappeared. In particular, now I can use timeout: 0 for the outOfBounds target property. But a curious fact just emerged:

Warning: CHC: Out of bounds access might happen here.
  --> @openzeppelin/contracts/utils/Strings.sol:58:9:
   |
58 |         buffer[0] = "0";

Do you know why this happened?

Thanks!

[2022-06-27 20:19] leonardoalt commented on #13198
Hi @acmRecife , great to hear!

Yes, when a property cannot be proved nor disproved by the underlying solver, the tool says "<something> might happen here". This means it's simply not sure, and expected for complicated properties and/or low timeout limits.

[2022-06-27 23:23] timweri commented on #13106
@cameel Hi. The PR is ready for a review. I think I found all the messages that need to be tweaked.

[2022-06-27 23:33] lukehutch commented on #13211
@hrkrshnn this definitely does not work, even on Solidity 0.8.15.  `bool(bytesVal)` gives `TypeError: Explicit type conversion not allowed from "bytes memory" to "bool".`  `bytes4(bytesVal)` gives `TypeError: Type bytes memory is not implicitly convertible to expected type bytes4.`

[2022-06-28 06:44] amit-supraoracles opened #13221 "Why hardcoded string and passed string is converted into bytes differently ??"
[code]

[2022-06-28 09:06] hrkrshnn commented on #13211
@lukehutch Are you sure? Here's a remix link that shows the conversion working: https://remix.ethereum.org/#gist=c1177b487cb41b7dfda95553a022a728

From your error message, you seem to be "implicitly" converting, something like `bytes4 x = b` would be disallowed. But `bytes4 x = bytes4(b)` would be allowed.

Regarding `bool`, that seems independent of the issue. Do you really want conversions to `b

[2022-06-28 09:33] shekhirin opened #13222 "solc: StackTooDeep when outputting EVM assembly of the contracts"
## Description

Probably related to https://github.com/ethereum/solidity/issues/13179 but with couple of differences:
- I'm not importing a huge AST from json file but rather compiling a small piece of code
- `solc test.sol --ir` works fine

## Environment

- Compiler version: `0.8.13+commit.abaa5c0e.Darwin.appleclang`
- Operating system: `macOS 12.3`

## Steps to Reproduce

[code]

[code]

[2022-06-28 09:46] axic commented on #13222
Need to use `--optimize` with the IR.

[2022-06-28 09:48] shekhirin commented on #13222
you're right, `solc test.sol --via-ir --optimize --asm` worked good. I wonder if there's should be a hint for doing so?

[2022-06-28 09:48] #13222 closed, assigned to nobody

[2022-06-28 09:58] axic opened #13223 "Turn on the optimizer by default"
I thought we had such an issue open as it is a recurring question we have discussed.

It would be nice to turn on the optimizer by default, as we expect deployments to use. In the case of the IR pipeline it is even a requirement, and compilation more than likely will fail without it.

[2022-06-28 10:08] axic commented on #12650
Which will be called before and instead of external methods, where Solidity engineers could put their own heavily optimized version of the dispatcher and perform internal calls?

This should be a separate issue for discussion, and I think there are a bunch of overlapping once already.

One (small) downside I see is that in that case a contract could not have any function marked `external` or `publ

[2022-06-28 10:14] axic commented on #13213
I think this is a duplicate of #10162, which has a lot of discussion on the topic.

[2022-06-28 10:14] #13213 closed, assigned to nobody

[2022-06-28 11:21] Marenz opened #13224 "ENS external test fails compilation via IR: `Could not create stack layout after 1000 iterations`"
Our CI currently fails a required test "ens": https://app.circleci.com/pipelines/github/ethereum/solidity/25009/workflows/5155870a-20fb-421d-8e17-10c02edf8aa0/jobs/1101684

[code]

[2022-06-28 13:13] maksimp13 opened #13225 "Decode number of tokens and token contract address from msg.data (ERC-20)"
I have a smart contract with just a fallback function and some logic.

I want users to send their tokens directly to the smart contract and do some smart contract logic.

I've implemented fallback function and smart contract now is able to receive ERC20 tokens, but i also want to track how much tokens user sent.

I thought that its possible to do via decoding of `msg.data` in fallback in the follo

[2022-06-28 15:18] Marenz commented on #13224
Here is a coredump of the problem after it triggered the too deep error:

[code]

This and the one after are the stack traces a bit earlier before it happened

[code]

[code]

[2022-06-28 15:43] aathan commented on #12650
This discussion IMHO motivates a set of instructions that expect inputs assumed to come from a certain value distribution (hash based keccak prefix for now) plus well-formed data structures, and emit results ... in this case a computationally efficient lookup. I've been working on non EVM projects for a while now and don't recall, but I don't think the EVM has a "BIOS" and if not, maybe it should

[2022-06-28 17:33] axic commented on #12650
@aathan "precompiled contracts" are effectively accomplishing what you are saying. They were opcodes initially, but moved out to reduce the surface area of the EVM, and keccak256 remained as an opcode because it is "supposed to be used more widely". There is a struggle around these, and I personally am against making the EVM more complicated and more CISC-like, as opposed to introducing useful pri

[2022-06-28 17:53] k06a commented on #12650
Having constant-time dispatcher as a precompile is a nice idea, but I afraid it is almost impossible to get it into consensus layer - this could took months or event years of discussions.

[2022-06-28 20:42] axic opened #13226 "Strengthen Whiskers' matching"
Whiskers' regex looks for `<..>` as opposed to tokenizing the input, so it is not able to detect truncated/mistyped input.

For example it can't detect that `<!b` is not terminated in`<?b> X <!b Y </b>`.

With some heuristics it could be improved: match for `<?`, `<!` and `</` and only allow identifiers which are terminated with `>`, otherwise it is invalid.

_Originally posted by @axic in https:/

[2022-06-29 09:45] vitalii-pustovyi commented on #13159
Hi. Did you fix this error? I have the same shit :/

[2022-06-29 11:02] axic commented on #10282
Moved some of the example code we had lying around to https://notes.ethereum.org/@solidity/Sy03Y8_c5 (most of this is incomplete)

[2022-06-29 12:21] chriseth commented on #12778
This is almost surely again related to the function type being changed by calling `FunctionType::asExternallyCallableFunction` when it shouldn't be called.

[2022-06-29 12:26] chriseth commented on #12778
I'm actually not sure this is a bug after all. `function (string calldata) external` is a type that is not really useful and maybe we should disallow it. I think it is not useful because for external function pointers, you are only interested in the calling side and not in the called side. For the caller, it does not make sense to even distinguish `function (string calldata) external` and `functio

[2022-06-29 13:37] Marenz commented on #13225
This is not the right place for Solidity programming help so I am going to close this.
About your issue though, read up more about it here

https://docs.soliditylang.org/en/latest/contracts.html#index-12

The docs even mention (in the first note on that link) your specific usecase, hope that helps!

[2022-06-29 13:37] #13225 closed, assigned to nobody

[2022-06-29 14:18] Marenz commented on #13221
Str1 seems to be `"\u0000cf5cc63dce433a32dc3d709d86dd77fb3b4d30fe5ec81dca735d5b0610d242bb"` after the call.
Can't say yet whether it's because of the code or the compiler.

[2022-06-29 14:30] Marenz commented on #13202
@acmRecife With the given information we can't really help you or fix the problem.
We need something reproducable for as or at the very least a more complete description of your problem. "Taking too long" is very vague and lacks context.

What are you doing?
What do you expect to happen?
What actually happens?
Can you create a minimal code example of your problem?

Answering those questions can he

[2022-06-29 15:39] Marenz opened #13228 "External test for Gnosis Protocol v2 fails with `TypeError: authenticator.connect is not a function` and other errors"
https://app.circleci.com/pipelines/github/ethereum/solidity/24994/workflows/03537476-6acb-4266-824e-f0b89854df3c/jobs/1100938

The repo hasn't changed so maybe something on our end broke it?
Finding the offending commit might help

[2022-06-29 17:46] #13188 closed, assigned to matheusaaguiar

[2022-06-30 00:35] timweri commented on #13223
Hi. I'm interested in working on this issue. From a little reading, I assume the first step would be changing the default behaviour in `CommandLineParser.cpp`. And then look around for any functions that hardcode the minimal Optimisation mode like `CompilerStack::reset` and change those.

I'm not sure what else would need to be done as of now. I would definitely appreciate some guidance. :)

[2022-06-30 02:05] lukehutch commented on #13159
I checked the Solidity documentation, and sometimes this is triggered simply by a transaction reverting. I don't know why some transactions reverting trigger this and some don't.

[2022-06-30 05:40] black-wyvern-dev opened #13230 "The `mapping` function issue"

[2022-06-30 05:42] #13230 closed

[2022-06-30 05:46] dev-tom-0108 opened #13231 "I have mapping function error"
I have coded like this:
[code]
And I got this message:
`Only elementary types, contract types or enums are allowed as mapping keys`

[2022-06-30 09:31] codeAndxv commented on #6076
thanks, guy.  I am stuck at this problem this afternoon. In sol ^0.8, this problem still exist.

[2022-06-30 09:32] codeAndxv commented on #6076
thanks, guy. I am stuck at this problem this afternoon. In sol ^0.8, this problem still exist.

[2022-06-30 15:03] frangio commented on #9117
What is the current thinking on this feature? Array-heavy code could definitely benefit from it.

[2022-06-30 15:47] Amxx commented on #9117
I'd like to add that it is not just about for loops. Some other pieces of code would benefit from that:

In the case of [this](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/utils/Checkpoints.sol#L39-L53), checking the bound would cost one  `sload` per iteration which is 100gas each time.

[2022-06-30 22:45] FudgyDRS commented on #13231
You can't map something that has multiple inputs to a single output. Since you were attempting to map a struct to a boolean, I suggest modifying your struct.

[code]

[2022-07-01 08:06] k06a commented on #12650
But using `keccak256(abi.encodePackeg(selector, salt))` is much more reliable and predictable

[2022-07-01 10:10] migoldfinger opened #13232 "FR: Initializing constants with pure functions should be possible"
## Abstract

At the moment it is impossible to use pure functions to initialize constants.

## Motivation

Pure functions return based on the parameters if any always the same value regardless of time or status of the contract. In a way they are acting like static functions in C# for example.
Therefore it should be possible to use pure functions to initialize constant variables.

## Specification

[2022-07-01 10:28] axic opened #13233 "Option to disable metadata"
Currently the compiler will always include the metadata at the end of runtime + initcode. The metadata consists of version, hash, and potentially the experimental flag.

In the pipeline the only flag we have is to disable the inclusion of the hash, but the version field is always included.

While I really like having this there, removing it from the runtime code becomes quite challenging, because

[2022-07-01 11:16] CJ42 commented on #10381
It would be useful especially in case when trying to decode abi-encoded arrays, where the `bytes data` passed as an argument to `abi.decode(...)` is not a properly encoded array of `valueTypes[]`, according to the ABI specs.

I encountered the issue on my side, and the only way was to write some custom functions that analyse the data to check for valid offsets, length, etc...

For reference, see h

[2022-07-01 13:17] hrkrshnn commented on #13233
How should it look like? There is already the function `setMetadataFormat` which lets you set one of `WithReleaseVersionTag`, `WithPrereleaseVersionTag` and `NoMetadata`. I think the cli / standard-json flag should just be a switch. Append metadata or not.

Should it be `--no-append-metadata` similar to `--no-color` or `--no-optimize-yul`?

[2022-07-01 13:23] hrkrshnn commented on #13232
In theory, this is great. Unfortunately, our current definition of `pure` is rather broad. For example, you can have external calls in pure functions! That already makes constants incompatible with pure.

[2022-07-01 13:27] hrkrshnn commented on #13231
@FudgyDRS's recommendation seems to be a way around the problem.

An alternative is to have `mapping (uint => mapping(bytes32 => uint))` where the `bytes32` is something like `keccak256(abi.encode(TreasurySend(...)))`.

[2022-07-01 13:27] #13231 closed

[2022-07-01 13:28] hrkrshnn commented on #13222
@shekhirin There should be a hint from 0.8.15 onwards.

[2022-07-01 13:36] shekhirin commented on #13222
Hmm, just updated to `0.8.15` but still don't have any hints:
[code]

[2022-07-02 16:14] jayendramadaram opened #13236 "Add a method to erase the data in mapping"
I was writing smart contracts and at some point like traditional programming , I want to reset the mapping to its initial stage so far till now there are no such method to delete or erase contents of mapping. Please issue this feature

[2022-07-03 11:55] hrkrshnn commented on #13236
This is not really feasible in the EVM. For one, the `mapping` doesn't know about what locations are active (you need something like enumerable mappings to do this). Secondly, erasing slots is gas intensive and easily lead to DOS issues.

Closing this.

[2022-07-03 11:55] #13236 closed, assigned to nobody

[2022-07-03 12:03] hrkrshnn opened #13237 "> @shekhirin There should be a hint from 0.8.15 onwards."
Hmm, just updated to `0.8.15` but still don't have any hints:
[code]

_Originally posted by @shekhirin in https://github.com/ethereum/solidity/issues/13222#issuecomment-1172357653_

[2022-07-03 12:04] hrkrshnn commented on #13222
@shekhirin Thanks for checking. https://github.com/ethereum/solidity/pull/13238 should fix it. Made a separate issues to track it #13237

[2022-07-03 17:55] dev-tom-0108 commented on #13231
Great! thanks these are good methods to solve my issue
Thanks

[2022-07-03 17:59] dev-tom-0108 commented on #13125
I think both are very useful for programming.

[2022-07-03 23:01] toongeorges opened #13241 "Provide Support for Inline Functions"
## Abstract

Functions calls in Solidity provide execution overhead versus running code inline.

There may be a trade off between writing efficient, complex inline code versus less efficient more readable code in functions.  If inline functions existed, this trade off would not need to exist and people could write efficient readable code.  Currently, internal functions are not always automatically

[2022-07-04 08:01] cameel commented on #8920
@hrkrshnn It's actually used by Remix and I think it's affecting people in practice. For example: https://github.com/ethereum/remix-project/issues/2539.

By the way, for whoever will be implementing this: the description here is pretty light on details so I recommend looking at #6724 for context. Especially at this SE answer linked there: [What is the difference between transaction cost and execut

[2022-07-04 08:12] hrkrshnn commented on #8920
I don't think we should pursue this. The gas estimator cannot compare with an actual execution. For example, the rules for storage gas have become very complicated now, and the gas estimator computes this by "statically" looking at opcodes--we don't account for slots being warm or refunds. We should consider deprecating this.

[2022-07-04 08:54] cameel commented on #8920
You mean deprecating the whole estimator or just closing this issue?

And yeah, the estimator is not good enough in the current state but Remix is using it and some other projects might be too. The question is if there's a good replacement they could use.

We need to discuss this and make some decision - I'll add this to the agenda for Wednesday.

[2022-07-04 09:00] leonardoalt commented on #12996
I think this shouldn't go into the language with `safe/protected` keywords and such, and should rather have similar behavior as checked arithmetic.

IMO, reentrancy guards could be added by default for every external call, and bypassed if the call is in an `unchecked` block. This also follows Rust's `unsafe` style which seems popular.

[2022-07-04 09:05] leonardoalt commented on #13124
You could combine both approaches, eg have the aggressive approach by default which can be bypassed by the user if the external call is in an `unchecked` block, and the compiler can also choose to optimize it away if it detects the conditions in the conservative approach.

[2022-07-04 09:05] leonardoalt commented on #13124
This issue is a dup of https://github.com/ethereum/solidity/issues/12996 though, so let's keep the discussion there.

[2022-07-04 09:05] #13124 closed, assigned to nobody

[2022-07-04 09:07] leonardoalt commented on #12996
https://github.com/ethereum/solidity/issues/13124 is a dup of this issue in general but offers two different approaches:

- Aggressive: basically what I said above
- Conservative: try to detect whether state changes are performed after external calls, and if yes add the reentrancy guards.

Copying what I said in the other issue:

You could combine both approaches, eg have the aggressive approach b

[2022-07-04 09:11] cameel commented on #13223
@timweri For now this is just a proposal. We don't know if we'll do it yet, though it does seem like a good idea. I'm adding to the agenda for the next meeting but until we make a decision there's really nothing to do here.

[2022-07-04 09:14] cameel commented on #13223
BTW, this would be a breaking change for CLI and Standard JSON, wouldn't it? Is this something we would even be willing to do before 0.9?

[2022-07-04 09:37] cameel commented on #13203
This is less of a bug and more of a limitation of analysis in this case - it's not fine grained enough and lumps many harmless cases together with others that could be actual problems. We can and should improve it for selectors though. We already have an issue for that so I'm going to close this one in favor of #11540.

[2022-07-04 09:37] #13203 closed, assigned to nobody

[2022-07-04 09:44] cameel commented on #13208
This seems to have been introduced in 0.8.15. On 0.8.14 it correctly reports an error:
[code]

[2022-07-04 09:51] cameel commented on #13208
Also, the problem seems unrelated to the fact that `f` is used in the tuple:
[code]
[code]

[2022-07-04 10:04] cameel commented on #13035
Pinging @christianparpart

[2022-07-04 10:07] christianparpart commented on #13035
I will respond ASAP. Thanks for the reminder. :)

[2022-07-04 10:11] k06a commented on #13203
Found way to resolve this issue by replacing `this.f.selector` with `C(address(0)).f.selector`

[2022-07-04 10:13] k06a commented on #11540
Found a way to avoid this issue by using `C(address(0)).ext.selector`

[2022-07-04 10:16] lukehutch commented on #12996
Standard reachability analysis should be able to determine quite easily whether any given line can modify state or call a function in another contract. Then Solidity just needs to ensure that every function has a partition between state modification first, and external calls second.

If you want the user to have to explicitly signify whether a function updates state, you already have that: non-`pu

[2022-07-04 10:23] leonardoalt commented on #12996
I personally really dislike the idea of function modifiers for reentrancy. It's too binary and does not represent the amount of different use cases. Moreover:

- the strategy you mention first can yield false positives for safe cases that do not conform exactly to this pattern
- I understand your second paragraph but it sounds really confusing. Imagine documenting/implementing this, it's gonna be

[2022-07-04 10:29] lukehutch commented on #12996
What I proposed is already basically what Slither does (minus the modifiers), but Solidity should give these warnings rather than Slither, because this is such a serious source of security vulnerabilities.

Yes, in the general case precise reachability analysis is uncomputable, unless you use conservative logic that looks to see whether something *might* be reachable given some specific runtime co

[2022-07-04 11:26] Marenz commented on #13241
I would consider this issue a duplicate of https://github.com/ethereum/solidity/issues/12782 and any further arguing should happen in that issue..

[2022-07-04 11:26] #13241 closed, assigned to nobody

[2022-07-04 11:31] Marenz commented on #13233
Just as an alternative suggestion: An option to output the exact byte location so it can be ignored or further processed by other tools? Actually, don't have we have some kind of location map for that already?

[2022-07-04 11:32] Marenz commented on #13228
fyi, we currently pinpointed this to the last working commit, but this still needs doing.

[Edit] Confused the issue, disregard.

[2022-07-04 12:11] cameel commented on #13228
It's weird then. I see that the test still points at `main` branch of the [gp-v2-contracts](https://github.com/gnosis/gp-v2-contracts) repo and that did not have any new commits recently (in fact the repo archived and I was going to submit a PR to switch to the new one but that's a separate matter).

So why did it stop failing? Was it just a one-off problem?

[2022-07-04 12:14] cameel commented on #13228
To make finding it easier in the future, the specific error messages that this problem caused in [1100938](https://app.circleci.com/pipelines/github/ethereum/solidity/24994/workflows/03537476-6acb-4266-824e-f0b89854df3c/jobs/1100938):

[code]

[2022-07-04 12:38] Marenz commented on #13228
Sorry, I confused the issue with the ens external test

[2022-07-04 12:39] Marenz commented on #13224
We temporarily fixed that in #13229 by using an older commit

[2022-07-04 12:57] cameel commented on #13228
Ah, ok then. So I guess this one got fixed on its own?
Could have been a bug in some dependency or Hardhat that just got fixed quickly.

[2022-07-04 13:07] axic commented on #13233
It can't work as the constructor/initcode has the offset/length embedded, and also immutables can influences sizes. It just can't be truncated without modifying the initcode.

[2022-07-04 14:05] timweri commented on #13206
Hi. I'd like to attempt implementing this. I'm still in the process of tracing how the optimizer is implemented.

[2022-07-04 14:19] Marenz commented on #72
@aress31 well, that scenario can probably better solved with generics/templates something of the kind, which are also in discussion

[2022-07-04 14:30] Marenz commented on #12614
Out of curiousity: Any update on this?

[2022-07-04 14:31] toongeorges commented on #12782
I see the problem with "Stack too deep" errors, though would it not be possible to check if an internal/private function only uses variables that are passed as argument or not?

If a function only uses variables that are passed as argument, inlining this function should be straightforward?  If so, a function that is only used once could always be inlined.

[2022-07-04 15:32] cameel opened #13242 "Update ranges-v3 to 0.12.0"
Closes #12948.

[ranges-v3 0.12.0 has been released recently](https://github.com/ericniebler/range-v3/releases/tag/0.12.0). One big reason to update is that it would cleanly fix the problem that #12948 was trying to hack around.

[2022-07-04 16:08] k06a commented on #11540
I am also not allowed to touch internal function pointer in constructor, which uses `immutable` inside itself. Even if I am not calling this internal function pointer.

[2022-07-04 16:37] cameel commented on #8969
Looks like github docs have some ready to use examples for these:
- [Moving assigned issues on project boards](https://docs.github.com/en/actions/managing-issues-and-pull-requests/moving-assigned-issues-on-project-boards) + [Adding labels to issues](https://docs.github.com/en/actions/managing-issues-and-pull-requests/adding-labels-to-issues)
- [Closing inactive issues](https://docs.github.com/en/a

[2022-07-04 16:47] k06a commented on #12650
It seems current dispatcher have O(log) execution complexity, but O(n) code size. I think it's possible to have table of function pointers in the code and have O(1) code size for this dispatcher. I discovered that 27 methods dispatcher size is 4Kb, which is pretty huge. WDYT @chriseth @cameel?

[2022-07-04 16:48] k06a commented on #12650
BTW I developed salt miner tool in rust: https://github.com/1inch/solidity-dispatcher-miner

Brute-forces almost 0.5 MSalts/s on a single core on my 8-core Mac Book M1 Max - works nice for up to 25-30 selectors. Estimate execution time as following: `N^N/N! / 500000 / num_of_cores`

[2022-07-04 21:04] fulldecent commented on #7877
We can probably say that using Errors is best practice and is or will be preferred over revert strings.

Also I look forward to a future where Errors can be localized (we can do this entirely in NatSpec).

---

In many (most) use cases, `E(a, b);` will be simple. And there is no risk of the expression reverting when instantiating it. The `if (!c) revert E(a, b);` syntax causes two issues:

1. It c

[2022-07-04 23:16] axic commented on #13223
I think it would be breaking, as it is a behavioural change. One could argue it is less severe as other breaking changes, so could fit in a non-breaking release.

[2022-07-05 08:59] leonardoalt commented on #2991
In the meantime @axic became a Rustacean. Does it make sense to reconsider it?
IMO it's not really harmful and may be of interest to some people.

[2022-07-05 09:19] cameel opened #13245 "Yul optimizer does not respect `--optimizer-runs` when inlining"
The legacy optimizer takes the `runs` parameter into account when deciding whether to inline a function while Yul optimizer apparently does not.

One case where it matters is inlining of public functions. Such functions are a combination of an external and internal function that share the same body. External functions cannot really be inlined so inlining the internal part effectively means duplica

[2022-07-05 09:36] cameel commented on #12782
@toongeorges Maybe. Hard to say up front if it'll be worth it - I think that such functions are small in most cases and we're already inlining functions smaller than 6 or 8 lines of Yul code (as long as nothing else prevents it) - but it's an interesting idea and seems doable at least. You could submit it as a feature request and we'll consider it when extending the inliner. But as a separate issu

[2022-07-05 10:03] cameel commented on #13206
@timweri I wanted to give you some hints but after looking into it I'm not sure if there's actually anything to do here. And if there is, I'd rate this as medium difficulty because jumping into the optimizer is definitely much more effort than the trivial tasks we usually rate as easy.

@ZumZoom Have you tried the new IR-based pipeline (i.e. the `--via-ir` option)? It seems that the Yul optimizer

[2022-07-05 10:05] pcaversaccio opened #13247 "Assembly language feature: add new levels for Yul"
## Abstract

Add new levels for Yul: **Yul+** being a higher-level version and **Yul-** being a lower-level version.

## Motivation

The current version of Yul can be viewed as a pretty high-level assembly language since it provides e.g. no access to stack and control flow instructions. I open this issue to initiate a discussion on adding potential new levels to the current version of Yul. The ide

[2022-07-05 10:12] cameel commented on #2991
Coming from some languages where it's allowed (Python especially), I always thought it's a nice feature and I'd be for having it in Solidity as well.

There's one problem though - tuples can have empty elements.

[2022-07-05 10:21] leonardoalt commented on #2991
You mean unnamed elements? But that's still fine I guess? You just allow one extra comma

[2022-07-05 10:23] axic commented on #13247
In fact we already did this 2-3 years ago, when we discussed "Yul++" ([see this hackmd](https://hackmd.io/Hj2z5Rm3Qj-2g8Ct9GOpSQ)) upon prompt by @SilentCicero, which eventually turned into [yulp](https://github.com/FuelLabs/yulp).

What other Yul+ do you have in mind?

Regarding the lower-level we did had similar discussions in mind over the years, last when the new stack allocator was created an

[2022-07-05 11:32] pcaversaccio commented on #13247
Thanks, I'm aware of yulp which is however not maintained by the Solidity team if I understand correctly and there is also no active development going on (the repo is even archived). So in terms of design, I must admit I actually like yulp and could be a good starting point for Yul+.

Regarding the low-level version I have the following points to mention:
- Usually, an assembly language provides a

[2022-07-05 11:41] cameel commented on #2991
How would that work? Is `(,,,)` 3 unnamed elements or 2 with an extra comma?

[2022-07-05 11:48] leonardoalt commented on #2991
Yea, there's also ambiguity in `(a,b,)`

[2022-07-05 13:51] cameel commented on #2991
Not if unnamed elements are not allowed. Maybe we should get rid of them? There was a proposal on the forum in the past to use `_` for them like some languages do. That would require some gymnastics to deal with modifier placeholders but we might still be able to deal with it somehow by distinguishing them inside and outside of tuples.

[2022-07-05 13:54] Vectorized commented on #13247
I’m in for more access to more lower level stuff.

Unless switch statements can be auto optimized to be as efficient as jump tables.

I’ve written a Yul based sort (https://gist.github.com/Vectorized/7b3a1fff3832bad126fdcba0ae785275) that costs 2x more gas compared to the 1st and 2nd place entries  of 2018’s Solidity golfing contest (the top 2 entires abuse jump tables extensively to implement sor

[2022-07-05 15:43] devtooligan commented on #13247
I support giving devs access to lower level functionality specifically access to stack and JUMPs.

[2022-07-05 16:29] nvnx7 commented on #13247
I also favor a Yul+/Yul++ variant. This would be immensely beneficial for writing code where a manual high optimization is needed (e.g. in cryptography) that neither Solidity nor current Yul can provide. [weierstrudel](https://github.com/AztecProtocol/weierstrudel) by AztecProtocol is a good example - they had to write [huff](https://github.com/AztecProtocol/huff) lang for weierstrudel implementat

[2022-07-05 16:56] #13179 closed, assigned to matheusaaguiar

[2022-07-05 17:03] 0xalpharush commented on #13247
With regards to a higher level intermediate representation, I think it would be ideal to go beyond Yul++ and use something that does not access memory/ storage directly a la [slithIR](https://github.com/crytic/slither/wiki/SlithIR). This is more conducive to analysis/ optimizations that are prohibitive or difficult to perform on Yul.

More broadly, I'm in favor of moving towards a multi-level repr

[2022-07-05 17:12] anajuliabit commented on #12825
I'm with the same issue with coc.nvim. Everytime I open a solidity file, solc crashed.

`[coc.nvim] The "solidity" server crashed 4 times in the last 3 minutes. The server will not be restarted.`

Did anyone find a solution?

If I ran `LspRestart solc`

[code]

[2022-07-05 17:19] 0age commented on #13247
+1, Solidity needs a mechanism to rip out all the guard rails when necessary or the incentive to eject entirely becomes too great when maximal efficiency is required.

[2022-07-05 17:21] Marenz commented on #13228
Hu, seems so. Nice.

[2022-07-05 19:43] toongeorges opened #13248 "Inlining Functions That Only Use Variables Passed As Argument"
## Abstract

This is a feature request for the optimizer to inline functions in a specific case.

If a function only use variables passed as argument, inlining the function does not increase the variables on the stack and therefore cannot cause a "Stack too deep" error.  It should be reasonably straightforward to inline such functions.  If such a function is private or internal and is only used on