[2020-10-15 23:22] cameel commented on #10011
Yeah, I think this is the same bug. In both cases removing the contract name fixes it.

[2020-10-15 23:32] cameel commented on #10042
Thanks for the report!

This is already fixed though. It's been reported in #9803 and fixed in #9822 (which was released in 0.7.2) so I'm going to close it.

[2020-10-15 23:32] #10042 closed, assigned to nobody

[2020-10-16 15:36] #9197 closed, assigned to nobody

[2020-10-16 15:37] #9899 closed, assigned to nobody

[2020-10-16 15:40] #9908 closed, assigned to nobody

[2020-10-16 17:47] ekpyron opened #10057 "Making the stack limit evader viable"
Probably our quickest path to https://github.com/ethereum/solidity/issues/9351

The problem is that parts of our code violate the ``memoryguard`` assumption (recall ``let ptr := memoryguard(<staticMemorySize>)`` is a promise to the optimizer to only use memory between zero and ``<staticMemorySize>``, or above ``ptr``). In particular ``IRGenerator::deployCode`` copies the runtime code to memory off

[2020-10-16 18:19] agroce opened #10058 "[SMTChecker] ICE in void solidity::frontend::SMTEncoder::assignment(const solidity::frontend::Expression &, const smtutil::Expression &, const solidity::frontend::TypePointer &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

We've seen ICEs in this code before (#9901 is notably similar, but I just checked and it is still fixed), probably just another corner case of this general pattern.

## Environment

- Compiler version:  0.7.4-deve

[2020-10-16 20:57] cameel commented on #909
EDIT: This comment originally had the encoding description. Now it's in the same gist as syntax and semantics. The original text is in [this specific revision](https://gist.github.com/cameel/4d739dc452645539c431ace0d326f146/1915cfbbd5a46b570c10792f524f00740baa71aa).

[2020-10-16 21:59] cameel commented on #10058
Thanks for he report!

#9901 wasn't really fixed yet. It was just closed because the problem seems to be the same as in #9743.

And I think this one is the same thing unfortunately. The same assertion fails in all three cases and I think the common element is the assignment to `push()`.

I managed to reduce it to this:
[code]

[2020-10-16 22:08] cameel commented on #9743
It started happening in 0.7.2. The failing assertion was introduced in #9670. The PR added support for struct assignments and I think that the fact that assigning to the result of `push()` is another type of assignment that's still not supported was missed.

Simpler repro:
[code]

### Output on 0.7.1 (for the simpler repro)
[code]

[2020-10-16 22:19] shellygr opened #10059 ""Cannot import url" error when working with standard json on newest mac version"
## Description

In Mac OS 10.15.7,  a single contract file compiled with standard-json with the input file provided as a URL, Solidity compiler fails to compile with the following error:
[code]
A workaround is to provide a _relative_ path instead of the absolute path.
**This is a change of behavior compared to Ubuntu, Windows, and Mac OS 10.15.6.**

## Environment

- Compiler version: solc6.10
- O

[2020-10-17 02:25] agroce commented on #10058
Hmm, I could have sworn in latest build #9901 does not produce an ICE!

[2020-10-17 03:04] cameel commented on #10058
Must have been something else. Admittedly, I only tried 0.7.3 release when I commented so now I recompiled on `develop` just to be sure and I can confirm that #9901 still makes the compiler barf :)
[code]

[2020-10-17 07:29] cakesoft-khushi opened #10060 "ABIEncoderV2 should be enabled when passing an array of string as a function parameter."
# Description :
### When I try to pass array of string as a function parameter, I get the error as:
    Error: This type is only supported in ABIEncoderV2. Use "pragma experimental ABIEncoderV2;" to enable the feature.
     --> practice.sol:3:18:
     |
    3|     function foo(string[] memory) public{
     |                  ^^^^^^^^^^^^^^^

### But if I enable ABIEncoderV2, I get the warning as:

[2020-10-17 07:51] cakesoft-khushi opened #10061 "ABIEncoderV2 should be enabled when returning a struct from function."
# Description :
### When I try to return a struct from a function, I get the error as:
    Error: This type is only supported in ABIEncoderV2. Use "pragma experimental ABIEncoderV2;" to enable the feature.
     --> practice.sol:7:35:
      |
    7 |     function foo() public returns(user memory _user){
      |                                   ^^^^^^^^^^^^^^^^^

But if I enable ABIEncoderV2, I get

[2020-10-17 14:20] cameel commented on #10060
Did you by chance mean some other warning? This one is not related to ABIEncoderV2 at all. You get it if you build the compiler in development mode.

If you're building the compiler yourself and want this warning to go away, just place an empty file called `prerelease.txt` in the root of the repository before the build. Making it empty tells the build system that it's not a pre-release. Or use a s

[2020-10-17 14:20] cameel commented on #10061
See my response in https://github.com/ethereum/solidity/issues/10060#issuecomment-711016668. The situation here looks exactly the same.

[2020-10-17 20:47] axic opened #10062 "[SMTChecker] Verify the Circles UBI contract"
Let's try to verify it. Made a fork which has the Zeppelin code without imports and SMT enabled here: https://github.com/axic/circles-contracts/tree/smt

- [x] Bug with private fields in multiple files (fixed by #10139)
- [x] Contract types #10141
- [x] Track simple branches better #10142
- [x] Bug with BMC #10144
- [x] Bug with variables touched by `assembly` https://github.com/ethereum/solidity/

[2020-10-18 22:28] cameel commented on #10059
Thanks for the report! Could you check if this is still reproducible on MacOS when using the latest version of the compiler (0.7.3)? You can find static builds of all versions of the compiler in https://github.com/ethereum/solc-bin/tree/gh-pages/macosx-amd64.

Also, is `/Users/thomas/Code/MacSucks/Bank.sol` the original capitalization of that path on disk?

[2020-10-19 07:23] hrkrshnn commented on #10020
Shouldn't this be a breaking change?

[2020-10-19 07:51] leonardoalt commented on #10020
Well, it's already there, and it's buggy.

[2020-10-19 08:06] leonardoalt commented on #10020
@hrkrshnn I mean that using constants to declare a static array instead of using a literal is already there. However, it uses the `ConstantEvaluator` to compute the length, and that's done in reals. Since `a` and `b` have types, it should be done on those types, and use integer division instead.

[2020-10-19 08:38] hrkrshnn commented on #10020
I guess that people who used this feature would  assume that this was the right behavior. So breaking would be more appropriate in this case.

[2020-10-19 08:45] chriseth commented on #10020
We can do it in breaking, just to be sure.

[2020-10-19 09:26] shellygr commented on #10059
I'm looping-in @thomasbernardi who has a Mac and with whose help I got this investigation going.
I believe the capitalization presented is the correct one.

[2020-10-19 13:47] leonardoalt opened #10066 "[SMTChecker] Support checked and unchecked"
For 0.8, it would be good if the SMTChecker already supported checked and unchecked arithmetic.

[2020-10-19 14:06] chriseth opened #10067 "b_ems does not create release binary on circleci for tags"

[2020-10-19 14:17] pertsev commented on #9600
This feature can be extremely useful for validation. E.g.

[code]

Right now we have to write something like
[code]

[2020-10-19 14:31] chriseth commented on #9600
Syntax suggestion:
``require(..isSomethingValid())`

[2020-10-19 17:21] #10067 closed, assigned to nobody

[2020-10-19 19:59] bshastry commented on #5018
I bumped into this issue when using multiple libraries in a contract. Simple repro

[code]

The example above is synthetic. However, one could imagine a scenario where libraries `X` and `Y` provide utilities for more than one type and one would want to use a specific library for a given set of types.

[2020-10-19 20:47] leonardoalt commented on #9400
Implemented in https://github.com/ethereum/solidity/pull/9928

[2020-10-19 20:47] #9400 closed, assigned to nobody

[2020-10-20 09:23] bshastry commented on #9744
Perhaps this issue has to do with SMT checker throwing an ICE when deleting dynamically sized storage array at the same time as expanding the array via a `push` op.

[code]

throws https://github.com/ethereum/solidity/blob/58579332473bc28add0d8439498df6988957ce7e/libsolidity/formal/SMTEncoder.cpp#L510

[2020-10-20 13:34] chriseth commented on #796
Implemented in #9465

[2020-10-20 13:34] #796 closed, assigned to nobody

[2020-10-20 15:50] #7627 closed, assigned to Marenz

[2020-10-20 16:03] xuhcc opened #10082 "Different ways of linking produce different bytecode"
## Description

The bytecode produced by `solc` when linking of libraries is done during the compilation is not the same as bytecode produced when linking is done after the compilation.

## Environment

- Compiler version: 0.5.17+commit.d19bba13.Linux.g++
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environment / backend / bl

[2020-10-20 16:13] #9495 closed, assigned to Marenz

[2020-10-20 16:14] Marenz commented on #9992
fixed by #10030

[2020-10-20 16:14] #9992 closed, assigned to Marenz

[2020-10-21 08:52] gitpusha opened #10084 "0.7.4 Compiler Warning: unnamed return variable"
As discussed with @chriseth on Gitter I am reporting the issue here:

The 0.7.4 compiler warns me about an Unnamed return variable:

[code]

As you can see I return a uint256 via `return abi.decode(returndata, (uint256));`

The warning text is: `Warning: Unnamed return variable can remain unassigned. Add an explicit return with value to all non-reverting code paths or name the variable.`

**It see

[2020-10-21 12:09] chriseth commented on #8085
All examples compile now.

[2020-10-21 12:09] #8085 closed, assigned to nobody

[2020-10-21 12:10] chriseth commented on #8229
The script is no longer used.

[2020-10-21 12:10] #8229 closed, assigned to nobody

[2020-10-21 12:53] MrChico opened #10086 "SMTChecker chokes on constant bytes32 conversion"
Minimal example:
[code]

Running with `solc Version: 0.7.4+commit.3f05b770.Darwin.appleclang` yields:

[code]

[2020-10-21 13:30] blishko opened #10087 "[SMTChecker] CHC engine does not detect assertion violation"
CHC engine of the SMT checker does not detect assertion violation in the following example with same modifier applied twice and an assertion inside the modifier. BMC engine correctly detects that the assertion will be violated for the outer modifier.
[code]

[2020-10-21 13:38] chriseth commented on #9609
We could have a pragma to set the abi coder to v1, and enable v2 by default.

[2020-10-21 13:43] axic commented on #9609
Could have a pragma like `pragma ABICoder V1` and `pragma ABICoder V2` and we default to V2 if not set?

[2020-10-21 13:45] chriseth commented on #9609
Discussion:

 - `pragma abicoder v1`
 - `pragma abicoder v2` (default from 0.8)
 - `pragma experimental ABIEncoderV2` generates warning.

Support in 0.7.x already:

 - `pragma abicoder v1`
 - `pragma abicoder v2`

[2020-10-21 13:45] axic commented on #9609
I really wish we could remove the `pragma experimental ABIEncoderV2`, and not wait until 0.9.0 to do so :wink:

[2020-10-21 13:46] chriseth opened #10088 "Support pragma abicoder"
The part of https://github.com/ethereum/solidity/issues/9609 that should go into 0.7.x

[2020-10-21 14:24] axic commented on #7966
To put @ekpyron's analysis into perspective, these are the changes proposed by EIP at the time the analysis was done:
- `BALANCE` (0x31) to `EXTBALANCE` to be in line with `EXTCODESIZE`, `EXTCODECOPY` and `EXTCODEHASH`
- `SHA3` (0x20) to `KECCAK256`
- `NUMBER` (0x43) to `BLOCKNUMBER`
- `GASLIMIT` (0x45) to `BLOCKGASLIMIT` to avoid confusion with the gas limit of the transaction
- `GAS` (0x5a) to `

[2020-10-21 14:27] axic commented on #7966
I think @ekpyron's feedback on `EXT` vs `SELF` is spot on, not sure how to resolve that. What seems to be better is to keep the `EXT` prefix and remove the `SELF` prefix, because that was the only out-of-order late addition. Perhaps it could be done over the course of some longer period.

The reasoning about `TX` is also an interesting one. I think the prefix-less opcodes deal with account state *

[2020-10-21 15:14] chriseth commented on #5018
This can probably be fixed together with extending `using for` to free functions: #9211

[2020-10-21 15:16] chriseth commented on #10082
This is true because the supplied library addresses are considered compiler input. After all, the compiler actually inserts the addresses into its output.

This is related to the metadata hash being part of the bytecode (I assume only the metadata hash is different) to be able to verify compilations.

[2020-10-21 15:27] Marenz commented on #10084
Simplified test case:
[code]

[2020-10-21 15:36] xuhcc commented on #10082
@chriseth The part which differs is 64-character string near the end.

The problem is that if contract was compiled, linked and deployed (case 2), it's not possible to verify it using Standard JSON method on Etherscan.

[2020-10-21 16:28] k06a opened #10089 "Unexpected require argument expression execution"
## Description

I would expect `require(condition, revertReason)` construction to not perform `revertReason` expression. For example, it could contain some parsing of previously happened revert reason:

[code]

Right now `require` construction behavior [described in docs in a wrong way](https://solidity.readthedocs.io/en/latest/control-structures.html#revert) – two options are not equivalent:

![t

[2020-10-21 16:33] axic opened #10090 "Change mutability of chainid opcode from pure to view"
Prompted by https://github.com/ethereum/solidity/issues/8854#issuecomment-629436203.

The `chainid` opcode in inline assembly blocks is considered as `pure`. A longer response from the issue:

The proposal is to change it to `view`.

[2020-10-21 16:35] axic opened #10091 "Drop the type `byte`"
As a preparation for #8772, drop the type `byte` with 0.8.0, so that anyone using it would have to remove it. This allows for later introducing the new semantical meaning without having the risk that people gloss over the fact the code changed semantics.

[2020-10-21 16:41] axic commented on #4966
And also #9525.

[2020-10-21 16:41] #4966 closed, assigned to nobody

[2020-10-21 16:45] leonardoalt commented on #10089
@k06a why do you expect it to succeed? You're explicitly making it revert

[2020-10-21 16:53] axic commented on #9248
We should perhaps also consider #3221 under the same discussion.

[2020-10-21 17:00] chriseth commented on #10089
Thanks, we should update the documentation to state that it still is just a regular function call that evaluates all its arguments.

[2020-10-21 17:00] leonardoalt commented on #7540
This easily gets complicated because the assertion expression might use fresh vars local to the block.

[2020-10-21 17:00] #7540 closed, assigned to nobody

[2020-10-21 17:14] k06a commented on #10089
@leonardoalt I expected `f()` call would not have been happened at all, since the first arg was `true`

[2020-10-21 17:15] k06a commented on #10089
@chriseth are you sure it is better to keep it as it is, instead of making it behave differently?

[2020-10-21 17:17] leonardoalt commented on #10089
@k06a right, so you'd expect the call to shortcut and *not* visit the second argument if the first is true

[2020-10-21 17:22] k06a commented on #10089
@leonardoalt true, I wish to avoid prev revert parsing in my example in case of call succeeded:
[code]

[2020-10-21 17:47] k06a commented on #10089
@leonardoalt I wish these statements in the doc to become true:

[2020-10-21 17:57] leonardoalt commented on #10089
@k06a Sorry, but I still don't get how they're different. You can also do this:
[code]
This reverts with "oops"

[2020-10-21 18:49] k06a commented on #10089
I want two following versions of code to be equivalent:
[code]
and
[code]

They are not equivalent right now, since first version evaluates argument even when `success == true`. I wish to avoid execution of `RevertReasonParser.parse(result, "Call failed: ")` in case of the first argument is true.

[2020-10-21 18:52] leonardoalt commented on #10089
Ok, I see now.
I disagree that they should be equivalent.
`require` is a function call and making it shortcut when the first argument is `true` would be inconsistent with other function calls.

[2020-10-21 21:20] axic commented on #9248
I think `pure`, `view`, `nonpayable/mutable/mutating`, `payable` is the order we should have and not consider any of them implicitly.

`nonpayable` is a bit too long, `mutating` implies an active role in making changes, while `mutable` is more passive. Additionally `mutable` suggest the function may be mutable, i.e. replaceable so probably not a good idea.

*Useless blurb: Initially I was going to

[2020-10-22 09:20] #9595 closed, assigned to nobody

[2020-10-22 09:20] #10086 closed, assigned to nobody

[2020-10-22 16:26] #10021 closed, assigned to nobody

[2020-10-22 17:06] GNSPS commented on #8772
Whoop just discovered this issue and I like the proposal!

And I actually prefer this syntax version: https://github.com/ethereum/solidity/issues/8772#issuecomment-628027956

[2020-10-22 17:12] chriseth commented on #8772
DId someone analyze in which way fixed-size byte arrays longer than 32 bytes would still "look like" value types or are they reference types?

[2020-10-22 17:16] #4295 closed, assigned to chriseth

[2020-10-23 08:41] #10089 closed, assigned to nobody

[2020-10-23 09:57] leonardoalt opened #10098 "[SMTChecker] Missing language features"
Opening this issue to keep track of the missing language features to be implemented in the SMTChecker:

- [x] ABI functions https://github.com/ethereum/solidity/issues/5264
- [x] struct constructors https://github.com/ethereum/solidity/issues/9664
- [ ] selfdestruct https://github.com/ethereum/solidity/issues/9786
- [x] early return https://github.com/ethereum/solidity/issues/9103
- [x] free funct

[2020-10-23 10:00] leonardoalt opened #10099 "[SMTChecker] Features that could be more precise"
This issue tracks features that are currently implemented in the SMTChecker in some form, but could be more precise:

- [x] erase knowledge only about assigned index https://github.com/ethereum/solidity/issues/6178
- [ ] variables of FunctionType https://github.com/ethereum/solidity/issues/8330
- [ ] memory/storage pointers https://github.com/ethereum/solidity/issues/9148
- [ ] some inline assembl

[2020-10-23 13:54] q871795224 opened #10100 "can not compile some contract to Ewasm"
## Description

We are working on the version migration of a contract (from 0.4.x to 0.7.x) for detecting the vulnerability of the smart contract on EWasm, but an error occurred when using the --ewasm function of solc.

## Environment

- Compiler version: 0.7.4+commit.3f05b770.Linux.g++
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM executio

[2020-10-23 13:59] 3esmit opened #10101 "Add support for create with bytecode"
## Abstract

Allow a contract to create a new one based on bytecode passed as arguments.

## Motivation

Currently is only possible to create a contract if the contract is specified in solidity code. However, there are some use cases, like factory contracts, which use bytecode coming from function calldata.
Currently we need to use assembly to achieve this:
[code]

## Specification
[code]
## Backw

[2020-10-23 15:38] chriseth commented on #10100
Compiling to ewasm is - as ewasm itself - still a work in progress. What exactly do you plan to do with an ewasm version of our contract?

[2020-10-23 15:39] chriseth commented on #10101
Since such a feature breaks of out the type system, I would prefer to leave this accessible via inline assembly only. What is the problem with using inline assembly for that?

[2020-10-23 18:23] 3esmit commented on #10101
Technically there is no problem, however the tools keep warning about using inline assembly.
If solidity implements this feature, it can also incorporate some checks like revert if create2 address returned zero.

My suggestion about "type.Contract(bytecode)" might not be the best way, maybe you could add some better design to it for implementing it on Solidity.

Personally I am OK using assembly,

[2020-10-24 05:50] q871795224 commented on #10100
We plan to use the ewasm version of contract to detect vulnerabilities in smart contracts.

[2020-10-24 21:18] mudgen commented on #9117
What is the status of this?  I don't like to pay gas for array bounds checking when it isn't needed.

[2020-10-24 21:26] mudgen opened #10103 "Array Bounds Checking Is Sometimes Unnecessary"
When looping through an array using the array length as the max bound, it is unnecessary to pay the gas for array bounds checking.

For example:
[code]

I see there is an issue about it here #9117 but no recent update.

Is it possible for the optimizer to optimize away the bounds access?  A manual way to turn it off? New range loop? What's the plan and timeline for this now?

In loops with many it

[2020-10-25 08:36] axic commented on #10103
Please avoid opening duplicate issues when you are aware of one. Just leave your commnets on the other issue.

[2020-10-25 08:36] #10103 closed, assigned to nobody

[2020-10-25 13:47] mudgen commented on #10103
Okay. Understood.

[2020-10-25 14:32] nventuro commented on #9117
What's the recommended way to do unchecked access in 0.7?

[2020-10-25 14:56] mudgen commented on #9117
I'm moving my comment here from the duplicate issue I made:

When looping through an array using the array length as the max bound, it is unnecessary to pay the gas for array bounds checking.

For example:
[code]

Is it possible for the optimizer to optimize away the bounds access? A manual way to turn it off? New range loop? What's the plan and timeline for this now?

In loops with many iteration

[2020-10-25 15:11] leonardoalt commented on #9117
As far as I know there is no plan/timeline for this.

@mudgen your example is basically the same as the initial one in the issue, so yes we're all aware of that case.

I still think unchecked array access/manual way to turn it off is a really bad idea. Even if the optimizer can detect some cases, the general problem is still undecidable.
In my opinion the only proper solution is range loops.

[2020-10-25 15:36] axic commented on #9117
Loops with many iterations is a discouraged pattern in the first place. Reason: it very well could be possible that such a piece of code will lock up due to future gas changes.

Btw, here's a potential syntax for range based loops:
[code]

Of course for value types this doesn't support references, but references/pointers is probably something we should solve separately in general.

[2020-10-25 15:41] mudgen commented on #9117
@axic I think that is a very nice syntax for range loops.  It would also be nice and useful if there is some way to get the iteration index of each iteration.  I suppose it can be done manually be adding a variable and incrementing.

[2020-10-25 22:56] chamitro opened #10104 "4 Internal Compiler Errors in compiler version 0.7.4"
Hello everyone , I want to report 4 cases of Internal Compiler error.

## Description

1) Contract :

pragma experimental SMTChecker;
	function f( int y,int x)pure {}

reports an internal compiler error :

Internal compiler error during compilation:
/build/solc-0s1t3A/solc-0.7.4/libsolidity/formal/SMTEncoder.cpp(708): Throw in function void solidity::frontend::SMTEncoder::initFunction(const solidi

[2020-10-25 23:21] nventuro commented on #9117
Is there a simple way available today to do an unchecked read? Even if it involves an inline-assembly `sload`. Short loops (n < 10) are not uncommon, and `sload` is one of the most expensive operations in the EVM - the added gas overhead is in most cases unacceptable.

[2020-10-26 03:12] #9540 closed, assigned to nobody

[2020-10-26 08:53] bshastry commented on #10104
Thank you for reporting the issues @CHM1993 . To me (2) and (3) seem to be duplicates of https://github.com/ethereum/solidity/issues/9743

(1) and (4) seem to be duplicates of https://github.com/ethereum/solidity/issues/9654

Since fuzzing is done both internally and externally by at least one other person, bug collisions are likely. Please let me know if the bugs reported here are different.

[2020-10-26 09:15] #9741 closed, assigned to leonardoalt

[2020-10-26 09:22] bshastry opened #10105 "[Sol->Yul] ICE in Whiskers render while copying calldata struct to storage"
[code]

throws

https://github.com/ethereum/solidity/blob/07e3f60ffc3072de2c108ca2f8038a921bbdb1d1/libsolutil/Whiskers.cpp#L148-L154

from

https://github.com/ethereum/solidity/blob/07e3f60ffc3072de2c108ca2f8038a921bbdb1d1/libsolidity/codegen/YulUtilFunctions.cpp#L2233-L2238

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-10-26 09:35] bshastry opened #10106 "[SMTChecker] ICE in SMTEncoder's function `SMTEncoder::bitwiseOperation` due to bitwise operation in the function"
[code]

throws

https://github.com/ethereum/solidity/blob/07e3f60ffc3072de2c108ca2f8038a921bbdb1d1/libsolidity/formal/SMTEncoder.cpp#L1630

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-10-26 09:36] bshastry commented on #10106
@leonardoalt I moved this to the SMT checker MVP project to save you a few clicks. Please let me know if I should not do this by default.

[2020-10-26 09:48] leonardoalt commented on #10106
@bshastry sure, thanks!

[2020-10-26 09:58] bshastry opened #10107 "[SMTChecker] ICE in SMTEncoder::identifierToVariable function"
[code]

throws

https://github.com/ethereum/solidity/blob/07e3f60ffc3072de2c108ca2f8038a921bbdb1d1/libsolidity/formal/SMTEncoder.cpp#L2296

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-10-26 12:08] leonardoalt opened #10109 "[SMTChecker] Support file level constants"

[2020-10-26 12:08] leonardoalt opened #10110 "[SMTChecker] Support try/catch properly"

[2020-10-26 14:21] chriseth commented on #3230
This has been fixed with shutting down travis.

[2020-10-26 14:21] #3230 closed, assigned to nobody

[2020-10-26 14:22] chriseth commented on #5360
Done - mostly.

[2020-10-26 14:22] #5360 closed, assigned to nobody

[2020-10-26 14:22] chriseth commented on #5577
Implemented with "stop after ast".

[2020-10-26 14:22] #5577 closed, assigned to nobody

[2020-10-26 15:13] #9742 closed, assigned to nobody

[2020-10-26 15:19] bshastry opened #10113 "[TypeChecker] ICE in solc tangerineWhistle and spuriousDragon due to an attempted use of an invalid external function type in a call"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/96c188be9dd790613a2b2c896e17b4cb1ae52a9e/libsolidity/ast/Types.cpp#L3005

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): tangerineWhistle, spuriousDragon (fixed in byzantium)

## Steps to Reproduce

[code]

[2020-10-26 15:44] chriseth commented on #10082
This looks to me like a limitation of etherscan - it should allow both ways to link the binary.

[2020-10-26 15:46] chriseth commented on #10101
Inline assembly is totally fine and safe if used properly. Tools should warn if inline assembly is used in user-written code but not when used in vetted and audited helper code.

[2020-10-26 15:47] chriseth commented on #10100
Which ewasm specification do you use for that?

[2020-10-26 15:48] chriseth commented on #9117
If you know the loop is short and want to optimize sloads radically, what about a fixed-size array?

[2020-10-26 16:19] leonardoalt commented on #10011
Fixed by https://github.com/ethereum/solidity/pull/10111

[2020-10-26 16:19] #10011 closed, assigned to nobody

[2020-10-26 17:09] xuhcc commented on #10082
I agree, but it's just an example. I think many developers have a justified expectation that given the same source code one should get the same bytecode no matter how the libraries are linked. The fact that different ways of linking produce different bytecode is surprising and can cause issues downstream that are hard to debug (like in etherscan verification case).

[2020-10-26 18:49] nventuro commented on #9117
Sadly they are not fixed-size but dynamic, forcing static arrays with some upper-bound imposes restrictions and extra costs that are also undesirable.

Besides, that's not really related to the point being made here about many code patterns leading to scenarios where the indexes are trivially known to be below the length, making these extra reads and checks wasteful.

[2020-10-26 19:41] hrkrshnn commented on #9117
Can you write more about these scenarios? (other than examples with require.) Do you think the compiler will be able to detect these cases?

[2020-10-26 19:49] leonardoalt commented on #9117
@nventuro I highly disagree that these are trivial. If we're talking about *only* and *exactly* your example, sure, there's an AST pattern there. If *anything* changes, for example, `i` is incremented differently, there are branches inside the loop, the condition is a bit different, or even the same thing is simply written differently, the AST is different and you have to solve the general case. T

[2020-10-26 20:18] mudgen commented on #9117
In my code if there is a chance that an array index could be out of bounds I will want to make a `require` statement to check for that and provide a helpful error message explaining the contextual specifics of the error.    This makes the built-in array bounds checking redundant and wastes gas. Hence I would like to be able to turn it off.

[2020-10-26 20:30] axic commented on #9117
@nventuro with [EIP-2929](https://eips.ethereum.org/EIPS/eip-2929) subsequent `SLOAD`s won't be as expensive. This EIP is being discussed for the next hard fork.

[2020-10-26 20:31] leonardoalt commented on #9117
@mudgen so you'd write your own requires all over a `sort` implementation, for example? Sounds unlikely to me. Or would you just trust your code, and assume all accesses are safe? Sounds quite unsafe to me. Or would you formally verify your sorting function? Sounds not very doable to me, at least automatically.

[2020-10-26 20:39] mudgen commented on #9117
@leonardoalt I don't know. I'd have to look at the specific implementation.  If I'm looping over an array using its length as the max bound then I don't need bound checking.

I'd like to be able to use automatic bound checking where it makes sense and not use it where it doesn't make sense.

[2020-10-26 20:41] leonardoalt commented on #9117
So you want an entirely new completely unsafe feature for this one very specific use case.

[2020-10-26 20:42] mudgen commented on #9117
It is easy to use safely and it has wide use. For example looping over an array using its length for the max bound is very common.

[2020-10-26 21:09] leonardoalt commented on #9117
Now we're just going in loops, I already voice my opinion.

[2020-10-27 01:27] nventuro commented on #9117
To be clear, I'm not asking the compiler to do this for me. I understand the general problem is very hard (and can be made harder if the contents of the loop can potentially alter the array in question), and even a great solution would not cover all cases.

What I'm saying is, there's concrete scenarios where I as a developer _know_ unchecked access is fine, and would like to be able to opt-in to

[2020-10-27 14:13] cameel opened #10115 "[Sol->Yul] Strings in public storage variables"
Originally reported as a bug in #10100. IR generator is still experimental so it looks more like a missing feature though.

Currently using `string` storage variables with `public` visibility crashes the IR generator. As a consequence, wasm generation for such code does not work either.

This applies to `string` and `bytes` storage variables as well as mappings, structs and arrays that contain the

[2020-10-27 14:22] cameel opened #10116 "[ewasm] Missing stop() function when generating wasm code for a fallback function"
Originally reported in #10100 which has more code examples.

Trying to generate wasm code for a contract that contains a fallback function results in an assertion failing due to the output being incomplete. Apparently the `stop()` function is missing.

## Steps to reproduce
[code]

[code]

[code]

## Environment
- Compiler version: 0.7.4+commit.3f05b770.Linux.g++

[2020-10-27 14:41] cameel opened #10117 "[ewasm] Constructors with parameters crash code generator"
Originally reported in #10100 which has more code examples.

Ewasm code generation for constructors that take parameters is either buggy or unimplemented.

## Steps to Reproduce
[code]
[code]
Output:
[code]

The crash happens at [line 364 in `BinaryTransform::operator()(BuiltinCall const&)`](https://github.com/ethereum/solidity/blob/v0.7.4/libyul/backends/wasm/BinaryTransform.cpp#L364), apparently

[2020-10-27 14:48] cameel opened #10118 "[Sol->Yul] Initializing string storage variables"
Originally reported as a bug in #10100. IR generator is still experimental so it looks more like a missing feature though.

An attempt to initialize a `string` or `bytes` storage variable crashes the IR generator. As a consequence, wasm generation for such code does not work either.

This looks similar to #10115 but the crash happens in a different function and affects non-public storage variables

[2020-10-27 14:59] franzihei commented on #9175
"The falcon has landed" - (v0.1 up and running at soliditylang.org) 🦅 🥳

[2020-10-27 15:00] #9175 closed, assigned to franzihei

[2020-10-27 15:06] cameel commented on #10100
As @chriseth said, this wasm code generation is still experimental and some of these crashes are caused by unimplemented features rather than bugs. Some do look like bugs to me though.

Anyway, it's all stuff that needs to be fixed/implemented eventually so I checked each of your files to see what specifically is broken or missing and reported each one as a separate issue. I added them all to impl

[2020-10-27 15:13] cameel commented on #10060
I'm going to close this because, as currently reported, this is the expected behavior. Please feel free to reopen if you have more input.

[2020-10-27 15:13] #10060 closed, assigned to nobody

[2020-10-27 15:13] cameel commented on #10061
I'm going to close this because, as currently reported, this is the expected behavior. Please feel free to reopen if you have more input.

[2020-10-27 15:13] #10061 closed, assigned to nobody

[2020-10-27 15:59] franzihei opened #10119 "[DOCS] Translation Workflow for Docs"
## Problem

We have a lot of rather outdated (and often incomplete) translations of the Solidity docs, which are a great start but require quite a few updates and additions. Currently, these translations are not actively maintained and some of them not integrated into the readthedocs page.

Here are the rather outdated issues that tried to keep track of the translations:
- Korean: https://github.c

[2020-10-27 16:28] axic commented on #10116
Need to add `stop` to the `EVMToEwasmTranslator`.

[2020-10-27 17:37] axic commented on #10117
This is the generated Yul code:
[code]

The problem is that `BinaryTransform` cannot handle the special case where `datasize` refers to self.

[2020-10-27 17:50] axic commented on #10104
To me it seems 1 and 4 are due to the SMTChecker does not yet supporting "free functions", see #9636. The other two likely are duplicates according to @bshastry.

@CHM1993 thank your for the reports! Let us know once you publish your fuzzer and any other issues are welcome too. I'm going to close this in order to reduce the number of open issues.

[2020-10-27 17:54] axic commented on #9654
I think this is simply due to #9636. Can we close this? Added `fuzz-blocker` to #9636.

[2020-10-27 18:06] axic commented on #10020
I'd argue this is a bug, but since we're close to breaking there's no issue not doing it there. If there is a case where it could end up with a shorter array length than expected, then fixing it in 0.7.x would make sense -- do we have such a potential case?

[2020-10-27 18:07] leonardoalt commented on #10020
Does anyone think this should be correct behavior?

[2020-10-27 18:11] axic commented on #10020
In the documentation we state that only literals are evaluated at arbitrary precision. We don't mention constants there.

From https://solidity.readthedocs.io/en/v0.7.4/types.html?highlight=precision#rational-and-integer-literals:

But this second paragraph could be made a bit more clearer:

In what case does it end up as `uint8`? :)

[2020-10-27 18:14] leonardoalt commented on #10020
Operations on constants only behave like that inside the length of a static array declaration

[2020-10-27 18:18] axic commented on #10020
Btw what do we do now in other places where one term is typed and there are one or more untyped terms (literals). What type do we deduce? The type of the typed term?

[2020-10-27 18:21] chamitro commented on #10104
yes thats true, contract 1 and 4 trigger the solAssert(m_currentContract, ""); of the initFunction in SMTSolver.cpp, while Contracts 2 and 3 make the solAssert(false, ""); crash in SMTassigment again in SMTSolver.cpp.
Thats some issues that I think should be fixed.
Thank you.

[2020-10-28 08:45] mijovic commented on #9714
If it is not fixed by now (as copying of arrays, except `bytes`, to storage is implemented), it should be fixed by #10083 (implements copying of `bytes` to storage)

[2020-10-28 09:17] axic commented on #7676
This was done.

@chriseth I think you refer to `libyul/optimiser/SimplifcationRules.cpp` and `Pattern::toExpression` in particular. Why is this a problem btw?

[2020-10-28 09:28] #10106 closed, assigned to mijovic

[2020-10-28 09:37] axic commented on #5474
Since this was moved to `libyul` I'd suggest to go with either `YulCompiler`, `YulStack`, `CompilerStack`.

[2020-10-28 09:40] bshastry commented on #9654
Sure, closing issue now in favour of #9636

[2020-10-28 09:40] #9654 closed, assigned to nobody

[2020-10-28 09:45] #10104 closed, assigned to nobody

[2020-10-28 09:50] mijovic opened #10128 "[Sol->Yul] Implement readFromStorage for array types"
It will allow defining public state variables of array types.
For example in #9714 there is `address[] public owners` which fails because of missing this feature.

[2020-10-28 09:51] mijovic commented on #9714
It now fails because of `readFromStorageReferenceType()` is not implemented for arrays (#10128)

[2020-10-28 10:46] #10105 closed, assigned to mijovic

[2020-10-28 10:54] cjd9s opened #10131 "Super Definition In Solidity Docs Error?"
In the inheritance section in Solidity docs, I note the following:

So, if I’m reading this right, it says that super can be used to call a function one level higher up in the inheritance hierarchy. However, it seems to work at least two levels up (see example that I successfully tried in Remix below). Am I reading this wrong, do I not understand the specific order in the directed acyclic graph (D

[2020-10-28 11:31] chriseth commented on #7676
It looks weird. The Builtins-semi-type should just contain the function names directly.

[2020-10-28 11:39] #9379 closed, assigned to nobody

[2020-10-28 11:41] #10116 closed, assigned to axic

[2020-10-28 11:47] leonardoalt commented on #10087
@blishko in the current develop neither BMC nor CHC reports here, I'm wondering why

[2020-10-28 11:54] leonardoalt commented on #10107
Similarly to free functions, this will be fixed with https://github.com/ethereum/solidity/issues/10109 (hopefully). Should we keep both open or close this?
@bshastry

[2020-10-28 12:35] bshastry commented on #10107
Thanks @leonardoalt closing this as a duplicate

[2020-10-28 12:35] #10107 closed, assigned to nobody

[2020-10-28 12:39] blishko commented on #10087
@leonardoalt I still get assertion violation when only BMC is run, but no report when only CHC or both are run (I think CHC incorrectly passes to BMC the information that this target is safe).

[2020-10-28 13:30] leonardoalt commented on #10087
@blishko On latest develop? I get no reports also when running BMC only.

[2020-10-28 13:50] christianparpart commented on #7966
Generally speaking I am absolutely for renaming opcode mnemonics for better intuitivity/readability.

In this case, it reads like you are also namespacing with some prefix/suffix to resolve ambiguity, such as NUMBER to BLOCKNUMBER or GASPRICE to TXGASPRICE, which I think is good, too.

One would have to see how much redundancy would be created when applying the above idea to *all* opcode mnemonics

[2020-10-28 14:00] blishko commented on #10087
Yes, even in latest develop. Not sure the problem could be. I have just realized that I have not put pragma in the snippet in this issue, so just double-check that?

[2020-10-28 14:01] blishko commented on #10087
I have edited the original snippet to include the pragma.

[2020-10-28 14:05] leonardoalt commented on #10087
Haha true, sorry about that. I also forgot about it, now BMC does report it.

[2020-10-28 14:18] chriseth opened #10134 "Replace YulString by plain string"
We had the suspicion that the performance gains of YulString are not that big when compared to regular ``std::string``.

I made some experiments, replacing `YulString` by a thin wrapper around ``std::string`` and around ``std::shared_ptr<std::string>>`` - the latter because in existing code e copy `YulString` a lot.

Here are the numbers when running ``time isoltest  --no-smt``:

plain string:

Su

[2020-10-28 14:18] chriseth commented on #10134
@ekpyron this might interest you

[2020-10-28 14:18] #10134 closed, assigned to nobody

[2020-10-28 14:18] axic commented on #9735
We discussed this on today's call and came up with two potential solutions:
1. Following #9248 introduce the `mutable`/`mutating` mutability keyword. Such free functions allow external calls, others not. Not sure about sending ether.

2. Since storage can only be modified via passing in storage references, a similar explicit method for function calls could be passing in function type pointers.

Ex

[2020-10-28 14:25] axic commented on #7676
Besides that almost every single use in the compiler does a first conversion to lower, can't we just keep it in lowercase and uppercase it for the single case (assembly output) needing it?

[2020-10-28 14:25] ekpyron commented on #10134
Intersting, indeed! It might make sense to measure how much time it spends hashing - fnv is fast and simple, but e.g. xxhash is still faster, sometimes by as much as a factor of 10 supposedly. Well possible that it would not help enough for measurable gains - but it should be quick to check to be sure.

[2020-10-28 14:47] axic commented on #9824
We briefly discussed today whether
a) we should introduce a `panic(code)` helper for inline assembly which does the encoding,
b) and whether we would encourage users to use it instead of `invalid()`.

The answer to b) was yes. The answer to a) is that some prefer to do this via #9282 and also considering the "standard library".

Please note one can manually encode the panics in inline assembly:
[c

[2020-10-28 15:40] chriseth commented on #10134
Do you think hashing really takes that much time? I think I remember from the profiler that `operator<` is the function that takes most of the execution time.

[2020-10-28 15:40] cameel commented on #9278
Today I have encountered a bug stemming from the fact that people are generally not aware of this inconsistency (here specifically in case of enums in library ABI): https://github.com/ethereum-ts/TypeChain/issues/216

@chriseth So, the current behavior clearly needs to be documented so I'm labeling this as `documentation`. But do we also consider any part of it a bug? If so, I think the best way t

[2020-10-28 15:40] chriseth commented on #9932
Travis has been disabled.

[2020-10-28 15:40] #9932 closed, assigned to nobody

[2020-10-28 15:41] chriseth commented on #9931
Bytecode comparison is on circleci now.

[2020-10-28 15:41] #9931 closed, assigned to nobody

[2020-10-28 15:47] chriseth commented on #9735
We could also open up the function call options to tell free functions which part of a contract's "account" they can access:
`freeFunction{sendEther: true}()`, `freeFunction{externalCalls: true}()`

The main things we want to restrict functions to do is sending ether and assuming the "identity" of the current contract in external calls. Is there really a use-case to restrict which external functio

[2020-10-28 15:59] axic commented on #2309
There weren't many asks for such a feature over the years, so I think it is safe to close it.

[2020-10-28 15:59] #2309 closed, assigned to nobody

[2020-10-28 16:00] axic commented on #2774
In the past Coverity was able to find different issues, but that is experience from over 4 years ago. Since the coverity site seems unreliable, I don't think we'll use it anytime soon.

[2020-10-28 16:00] #2774 closed, assigned to nobody

[2020-10-28 16:01] axic commented on #2300
@cameel @chriseth isn't this the case already?

[2020-10-28 16:06] axic commented on #6134
On every page it shows this ([example](https://solidity.readthedocs.io/en/v0.7.3/types.html):
![Screenshot](https://user-images.githubusercontent.com/20340/97463321-88908380-1937-11eb-9d7c-6c14a862102f.png)

I think it is fine to close this issue.

[2020-10-28 16:14] axic commented on #7667
In `bugs.json` we have links to blog posts for major issues. Perhaps it makes sense to link to the github issues where there was no blog post.

Additionally we could introduce a field for `example` which links to some file, but that can easily become a large task because then one needs to provide an example for each of the affected versions of that bug. I think we may not have enough resources to

[2020-10-28 16:17] #2300 closed, assigned to nobody

[2020-10-28 16:18] #6134 closed, assigned to nobody

[2020-10-28 17:14] chriseth commented on #7676
Sure!

[2020-10-28 17:21] axic commented on #7830
It would also be nice to remove this extra complexity of `Language` and `Machine` in `libyul/AssemblyStack`:
[code]

If we could encapsulate machine/target into dialect, then all we need is a dialect and a translation map. Perhaps having a target and a dialect would be natural as well, but unfortunately there is an overlap between dialects and targets for EVM: EVM15 just specifies a dialect of EVM

[2020-10-28 17:51] axic commented on #7830
On a side note two questions:
1) Why are we making a distinction between typed and untyped Yul? When we decided to support a "default type", I think that made the fully typed version obsolete.
2) Why aren't we allowing the types (default type u256) for inline assembly?

[2020-10-28 18:07] chriseth commented on #9824
Note that "could use anything given we revert" is not true anymore if we want to properly support the stack limit evader.

[2020-10-28 18:07] axic commented on #7830
The `solc` options today are the following:
[code]

I would propose to replace that as follows:
1. Remove `--assemble`, `--strict-assembly`, `--machine`.

2. `--yul` turns on Yul mode. Sets input dialect to `yul-evm-<lasthardfork>`. Sets target/output dialect to `evm-<lasthardfork>`.

3. `--yul-input-dialect` (or `--yul-source-dialect`) changes the input dialect. `--yul-output-dialect` (or `--yul-

[2020-10-28 18:14] axic commented on #9824
Well, as long as the `memoryguard` is used properly (such as in a custom allocator), then it is not a problem. Isn't it?

[2020-10-28 19:19] axic opened #10141 "[SMTChecker] Support contract types"
[code]

->

[code]

[2020-10-28 19:20] cameel commented on #9278
This actually appears to be a pretty widespread problem. I checked `ethers.js` and `eth-abi` (used by Brownie) and none of them handles this properly.

I reported this as bugs (https://github.com/ethers-io/ethers.js/issues/1126, https://github.com/ethereum/eth-abi/issues/146) but if so many tools have problems with it then maybe we should not worry about backwards compatibility here - they don't w

[2020-10-28 19:22] haltman-at commented on #9278
I just want to point out that this is basically the same point I made above. :) :P

[2020-10-28 19:24] axic opened #10142 "[SMTChecker] Track simple branches better"
In the following SafeMath code (from zeppelin) the knowledge of the `if (a == 0)` branch is not kept without introducing a `require` statement (commented out):
[code]

CHC would fail:
[code]

[2020-10-28 19:31] ricmoo commented on #9278
Is there is actually anyway that ethers can handle this? Is the information required encoded some other way in the ABI?

[2020-10-28 19:35] ekpyron commented on #10134
I'm not sure - I wouldn't be surprised if it didn't help, but it might be nice to check - I'm also not sure if hash collisions tend to happen or not - probably not that often (I don't remember if we checked), but if they do xxhash might also help with that, since it avalanches better...

[2020-10-28 19:47] cameel commented on #9278
@haltman-at Right. I read that comment a while ago and now missed that point. In any case, I agree with you. I was just investigating a different issue related to enums and while doing it I also checked what the situation is regarding this one. And it confirms what you said - it's bad :(.

@ricmoo I don't think it is, but @chriseth knows more about the ABI so maybe he'd be able to suggest somethin

[2020-10-28 20:39] haltman-at commented on #9278
Note that the `type` field, unlike the `internalType` field, just contains the name of the contract or enum; it doesn't include `enum` or `contract` or `interface` in front of it.  So you'd have to look at the `internalType` field to determine wheter you're looking at an enum or a contract.

Hm, I suppose this actually might be more handleable than I thought, given that:

1. On 0.5.11 or later, yo

[2020-10-28 20:40] fzeoli commented on #8739
Backporting this to 0.4.26 and 0.5.17 would be a radical step in making this hugely valuable. The main objective behind this was to for the first time have a proper parser that works reliably, covers the entirety of the language and is always up to date, but if it's only available for the newer versions then parsing code for the older versions that still are relevant today remains a problem. This

[2020-10-28 21:20] axic opened #10144 "[SMTChecker] BMC reports invalid "condition is always false""
This is extracted from CirclesUBI:
[code]

[code]

The CHC engine can by design solve this, but why does BMC reports anything?

[2020-10-28 21:23] leonardoalt commented on #10144
CHC actually doesn't run these checks. And it's weird that BMC is reporting that.

[2020-10-28 21:46] cameel commented on #7830
I think this is a good idea. The way `--assemble`/`--strict-assembly`/`--yul` + `--machine` + `--yul-dialect` options interact with each other is pretty complicated and I spent too much time trying to wrap my head around it back when I was working on #9074. It's not documented and they do not map in a simple way to the internal `Machine`, `Language` and `Dialect` types.

Here's a table from that P

[2020-10-28 23:00] abcoathup opened #10145 "Multiple SPDX-License-Identifier in the same section of comments doesn't generate an error"
## Description
Multiple SPDX-License-Identifier in the same section of comments doesn't generate an error and compiles.

## Environment

- Compiler version: 0.6.8 & 0.7.4
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): Remix

## Steps to Reproduce

The following with two SPDX License Identifiers doesn't generate an error and compiles.
[code]

Whils

[2020-10-28 23:48] axic opened #10148 "[ewasm] Support loadimmutable/storeimmutable"
The following code
[code]

generates the following issue:
[code]

[2020-10-29 00:00] axic commented on #9351
@ekpyron sorry haven't seen the message. What I was doing in the past is to 1. run `--ir-optimized`; 2. remove the text wrapping from the output; 3. pass it in as yul with `--strict-assembly --optimize`. IIRC.

Now after #10147 I run `--bin --optimize --experimental-via-ir` and it all works flawlessly.

For this particular contract it is still stuck on that missing feature (cc @mijovic):
[code]

[2020-10-29 00:04] axic commented on #9714
Yep, that's correct:
[code]

So much easier with this PR...

[2020-10-29 00:42] ekpyron commented on #9351
Ah, ok - I somehow expected it to need some magic standard-json produced by truffle or sth and not that it's just the plain contract file that works just as it is :-).

But yeah, I just tried this with https://github.com/ethereum/solidity/pull/10147 merged together with https://github.com/ethereum/solidity/pull/10015 and commenting out the one offending ``setupOwners(_owners, _threshold);`` line.

[2020-10-29 00:59] axic commented on #7830
cc @ekpyron any opinion on all this? :)

[2020-10-29 01:06] ekpyron commented on #7830
Definitely a good idea to clean this up - the current options are a mess and really annoying :-).
But does ``evm-<lasthardfork>`` really qualify as a "yul output dialect"? I suppose what it'd output is evm bytecode, right? But instead of ``--yul-output-dialect`` or ``--yul-target-dialect`` it could just be plain ``--target`` for example...

[2020-10-29 01:09] axic commented on #7830
No, all of these things are "target triples". I didn't use the term target as it can be a source as well.

Yes, one could opt to use `--target`, but then there's no nice counterpart for the input side. `--source` doesn't seem to be a good option.

[2020-10-29 09:18] chriseth commented on #10148
This should be possible to implement in principle. One problem I see is the variable-length encoding. Maybe we have to add some nops to add the required padding.

[2020-10-29 10:05] Doryanni opened #10151 "Solidity Compiler non-determinism in output bytecode"
## Description

I tried compiling a [contract](https://etherscan.io/address/0x59897f2f9ecec811689b575be269487acd794d02#code) using the options displayed on etherscan, and the generated bytecode output was different than the one on the blockchain.

## Environment

- Compiler version: v0.5.13+commit.5b0b510c
- Target EVM version (as per compiler settings): default
- Operating system: Ubuntu 18.04

[2020-10-29 10:17] axic commented on #10148
Actually it is not a problem anymore as leb128 allows padding and wasm doesn't require a canonical shortest encoding anymore. So we can just leave those consts padded. We can also put them as immutable globals and pad the const once.

[2020-10-29 10:17] chriseth commented on #10151
Etherscan ignores the metadata hash in the comparison. This is a know issue.

[2020-10-29 10:25] Doryanni commented on #10151
Could you elaborate a bit more on this, or provide a link to the relevant discussion?

[2020-10-29 10:38] Doryanni commented on #10151
I don't believe that the issue lies with etherscan, since I also tested this on my own mock contract and blockchain (ganache), and still found discrepancies.

[2020-10-29 10:49] Doryanni commented on #10151
Here's an example:

[code]

The compilation settings were:

- Solidity version v0.5.14

- Optimization Enabled

- Runs: 200

- EVM version: byzantium

When I deployed on ganache using truffle, the resulting bytecode was:
[code]

But when I compiled it using py-solc-x, I got:
[code]

[2020-10-29 10:58] chriseth commented on #10151
These are not the full settings. Can you try to obtain the metadata file? `solc --metadata` - truffle stores it in the build directory as a json string inside the general artefact json structure.

It is indeed weird that the constructor seems to be totally different for py-solc-x.

[2020-10-29 11:00] Doryanni commented on #10151
Sure.
[code]

[2020-10-29 11:02] chriseth commented on #10151
The second bytecode string you posted is the deployed bytecode, while the first is the full bytecode.

[2020-10-29 11:06] WilhelmStein commented on #10151
So, what you are saying is that I should use the metadata in lieu of my current py-solc-x settings?

[2020-10-29 11:11] Doryanni commented on #10151
Oh ok, I saw what you meant. What I copied from ganache was the full bytecode. Nevertheless, you will find that towards the ending of the deployed bytecode there are differences.

[2020-10-29 12:20] axic opened #10152 "IR-based CompilerStack"
The following features are missing in order to have feature parity:
- [x] Add CBOR metadata to the bytecode (requires #10179)
- [x] Support object (#10147)
- [x] Support runtimeObject -- needs an improvement in AssemblyStack (see https://github.com/ethereum/solidity/pull/10147#discussion_r514193653)
- [x] Add EIP-170 size check for runtimeObject (this could be moved to a generic location and not d

[2020-10-29 12:40] chriseth commented on #10151
Yes, the end of the bytecode is the [metadata hash](https://solidity.readthedocs.io/en/develop/metadata.html#contract-metadata) it is used to ensure that, even if the resulting bytecode itself is the same, differences in the source code (renaming of variables, changing of comments) will be noticed. It also serves as a pointer to actually find the source code from the bytecode.

[2020-10-29 13:25] Doryanni commented on #10151
Gotcha. I read the end byte by byte and it checks out. Could a difference in the metadata segment make the compiler-generated source map have mismappings on the deployed bytecode? We can clearly see that it's the same size and as far as I have seen, the metadata is supposed to be inaccessible by the bytecode when run, thus having no effect.

However, in following a trace of this very simple contra

[2020-10-29 15:29] gitpusha opened #10154 "File-level functionname shadows functionname in Interface"
I am using `solidity version 0.7.4` .

I am making use of the new free function feature.

In the same file I want to declare some `Interfaces` and some `functions`.

I noticed that the compiler warns me about `This declaration shadows an existing declaration.` for functions that have the same name, even if one of them is wrapped in an interface and the other one is file-level.

![image](https://us

[2020-10-29 15:30] gitpusha opened #10155 "File level functionname shadows functionname in Interface"
**Solidity version 0.7.4**

![image](https://user-images.githubusercontent.com/36712489/97595339-e4284300-1a03-11eb-96af-d7d0905279d2.png)

Should the compiler warn about such name clashes even if one of them is a file-level function and the other one a function declared inside an interface?

[2020-10-29 15:31] chriseth commented on #10155
The compiler does not warn because ``MemoryInterface::getUint`` is external. It is impossible to refer to it just via `getUint`, you always need a contract type for it.

[2020-10-29 15:34] gitpusha commented on #10155
But the compiler does warn: `This declaration shadows an existing declaration.`

This is the file:

[code]

[2020-10-29 15:35] chriseth opened #10156 "Decide how to deal with incorrectly encoded short byte arrays"
The encoding of short byte arrays has an area of "undefinedness": If the last byte is even, it means that the array is encoded in-place. The problem is that the encoding only has space for 31 bytes while the last byte can encode a length of up to 127.

This situation can of course only be reached through explicit sstore operations in inline-assembly.

I think we have two options:
a) treat the leng

[2020-10-29 15:37] chriseth commented on #10154
Duplicate of https://github.com/ethereum/solidity/issues/10155

[2020-10-29 15:37] #10154 closed, assigned to nobody

[2020-10-29 15:40] chriseth commented on #10155
Ah sorry about that! You can can maybe get around this by moving the function into its own file and importing the file as a module.

[2020-10-29 15:41] gitpusha commented on #10155
Yep I did that. Fine for now :)

Btw I enjoy this new file-level function feature a lot.

[2020-10-29 15:46] chriseth commented on #10151
The two functions share some common code. I think the optimizer combined that code and thus the bytecode is exactly the same and it can only point to one source location.

[2020-10-29 16:10] Doryanni commented on #10151
If that was the case, then the mapping would not be to the entire definition of the `readMyMoney` function, wouldn't it?
AFAIK, bytecode mapped to a function definition is usually there to load the calldata.

[2020-10-29 17:02] moodysalem commented on #8146
Why though? The user chooses to turn that flag on. And anything that is expected to happen at runtime should be a require.

[2020-10-29 17:19] chriseth commented on #10151
The opcodes that map to the whole function are `jumpdest swap jump` - this seems to be a very generic routine that is also used when preparing the return values of `readMyMoney` and thus maps to the whole function.

[2020-10-29 17:37] Doryanni commented on #10151
Ah, I see, so in my case, this small basic block that is a part of the optimizer decision graph, is somehow removed after a graph reduction or something of that sort? The [optimizer documentation(https://solidity.readthedocs.io/en/latest/internals/optimiser.html)  ain't that descriptive so I go by assumption.

In conclusion, I can assume that this sort of optimization could happen to more 'importa

[2020-10-29 17:45] 3esmit commented on #10101
I failed using inline assembly for this use-case.
My code is
[code]
What is wrong with it?
Actually nothing, it works just fine - as programmed, except that `eth_estimateGas` always returns too low gas for executing create2 because it can't know that create2 failed!
So it is missing a check `require(createdContract != address(0), "Create2 failed")` so the outer transaction also fails when create2

[2020-10-29 17:51] chriseth commented on #10151
Looking at the assembly output is probably the only way currently. In the future, you will be able to inspect intermediate steps of the optimizer.

[2020-10-29 18:07] #10151 closed, assigned to nobody

[2020-10-29 21:47] 3esmit opened #10158 "fallback() should allow returns"
## Abstract

Allow a fallback function to use returns.

## Motivation

Some YUL programs use return inside fallback, e.g. https://github.com/Zoltu/deterministic-deployment-proxy/blob/49f29698ce95bd510a18cabb94fd8ba4d352d687/source/deterministic-deployment-proxy.yul#L15

I can't easily adapt that behavior in solidity, this is how I worked around it (using return opcode):
[code]

Would be good if I

[2020-10-29 21:58] 3esmit opened #10159 "contract warns if fallback payable is defined without receive defined"
## Description

I'm having to include this
[code]

into the smart contract so it stops warning me about not using receive. I use fallback payable, but I need msg.data, so `receive()`(calls with no msg.data, but msg.value) should always fail if I didn't defined a `receive()` function

This warning is not fair: `Warning: This contract has a payable fallback function, but no receive ether function. C

[2020-10-30 01:46] fulldecent opened #10160 "Out of storage slots should be an error"
## Description

Creating a contract that uses too much storage creates undefined behavior and should be disallowed.

## Environment

- Compiler version: 7.0.4

## Steps to Reproduce

[code]

## Discussion

Each of these must certainly be an error.

## Follow on work

Also, I think it is a good idea to mark any fixed-length array with length > 2^128 as a warning. That attack is well-known and easy

[2020-10-30 01:58] axic commented on #10160
There are already warnings for these. I think you came across this annoying thing that `^` means XOR and `**` means raising to the power in Solidity :wink:

I think your examples should trigger the warning with e.g. `2**257`.

[2020-10-30 03:40] fulldecent commented on #10160
Whupps, my bad on that! :-p

Thanks for the fix.

[2020-10-30 03:40] #10160 closed, assigned to nobody

[2020-10-30 07:45] sambacha commented on #10145
### SPDX License Registry Validation
The compiler doesn't validate the legitimacy of a license

`// SPDX-License-Identifier: NULL`
`/// SPDX-License-Identifier: 0`

are valid
but

`/// SPDX-License-Identifier: ⡉⡊⡋⡌⡍⡎⡏⡐⡑⡒`
`// SPDX-License-Identifier: ởỠỡỢợỤ`
are seen as invalid

### Multiple Identifiers
As SPDX is used to generate a Bill of Materials for a software system, multiple licenses can co

[2020-10-30 10:33] bshastry commented on #10020
I think the latter i.e., type of typed term.

I also noticed that the following test throws an error although `z` is actually a constant that should evaluate to `20` or `0x14`. If the array allocation is commented out, the expected value (`0x14`) is returned.

[code]

Edit: This is happening presumably because of the same underlying issue. Users of constant evaluator (in this case https://github.c

[2020-10-30 10:40] leonardoalt commented on #10020
Oh, shouldn't it error on the declaration of `z` though? It uses a typed expression, whereas afaik constants can be assigned only from literals or expressions on literals?

[2020-10-30 10:43] bshastry commented on #10020
Typed expressions may be used to assign to constants apparently. The following test passes

[code]

[2020-10-30 10:47] leonardoalt commented on #10020
Right, it only needs to be inferable in compile-time.

[2020-10-30 10:58] bshastry commented on #10020
Okay, this is weird. The following test passes i.e., constant expressions inside statically sized array brackets `[expr]` evaluate differently when compared to expression statements.

[code]

I would have expected the expression `x/y*10` inside the function to be evaluated the same way as the same expression inside array declaration.

Edit: Reading this thread more closely, I think this is what @l

[2020-10-30 11:08] leonardoalt commented on #10020
@bshastry Yes, in `DeclarationTypeChecker::endVisit(ArrayTypeName const& _typeName)` it uses `ConstantEvaluator(m_errorReporter).evaluate(*length);` to compute the length when constant expressions are used inside the `[]`.

[2020-10-30 11:13] bshastry commented on #10020
The following is clearly a bug. The constant `z` evaluates differently depending on where it is used i.e., array length vs vanilla evaluation.

[code]

Edit: However, if the constant involves literals only, the evaluation seems consistent

[code]

So I suppose the pre-requisites for the bug are
  - constant is assigned from an expression containing another constant
  - assignment contains intermed

[2020-10-30 11:20] leonardoalt commented on #10020
Yes, that's what I meant when I opened the bug haha
But your test shows it a lot better

[2020-10-30 11:20] bshastry commented on #10020
TBH I'm a bit concerned if there are contracts that use `z` and `b.length` interchangeably

[code]

[2020-10-30 11:22] leonardoalt commented on #10020
There might be, but in that case I would expect the expression to not have division (which is what breaks the equivalence)

[2020-10-30 11:38] nlordell commented on #8917
Any reason why `calldata` variables can't work like `memory` ones in assembly, where its value is just its offset in the call data (the analogy with memory variables that they are treated like their memory offset in assembly)?

For example
[code]

[2020-10-30 14:55] nventuro commented on #9117
Are there any plans to do range-based loops in 0.8? I'm able to replace checked storage array access by mimicking arrays with index -> value mappings plus a length field, but for memory arrays that doesn't work as well.

As a crutch, it'd be great to otherwise have some form of unsafe access, leaving it up to the developer. I've managed to reduce gas costs for our most sensitive use case by 20% ju

[2020-10-30 17:07] axic opened #10162 "Range based loops"
Range based loops were discussed several times, including at the Solidity Summit (#9054), in #4596, and in #9117.

Main motivation is improving code for analysis and reducing gas cost of checked array access.

This is a dedicated issue discussing the syntax and semantics:
[code]

Of course for value types this doesn't support references, but references/pointers is probably something we should solv

[2020-10-30 17:10] axic commented on #9117
@nventuro it is not planned atm. Also created a new issue to discuss range based loop specifically (#10162), given this issue is a different discussion.

[2020-10-30 17:14] nventuro commented on #10162
Iterating over array of structs seems to be becoming increasingly more common, specially with the ABIEncoderV2 no longer being considered experimental. Supporting range-based loops for memory struct arrays would be fantastic. Could it also be made for `calldata` struct arrays?

[2020-10-30 17:19] axic commented on #10090
@nventuro since this was raised by you, can you chime in please? We discussed this on the last design call and we were only somewhat in favour as one could view both options as valid. If there's more confirmation from auditors and tools, that should tilt the decision.

[2020-10-30 17:23] axic commented on #10162
I think it would be a generic feature, but limitations/complications is something we should discuss here. Also note in the above example slicing would only work on calldata at the moment anyhow.

[2020-10-30 17:28] nventuro commented on #10162
Mentioning here so that it doesn't get lost in the discussion: a critical value add of this feature would be reduced gas costs, as the compiler would know it doesn't need to check out-of-bounds access when retrieving each element.

Something else to consider is what would happen would array mutability inside of the loop block, in particular, whether the array's length can change. Some languages (C

[2020-10-30 17:40] nventuro commented on #10090
My views remain the same as [expressed here](https://github.com/ethereum/solidity/issues/8854#issuecomment-683306084):

If the difference between `pure` and `view` is how clients interact with those, then their behavior is a good starting point to look at.

The other comment is about developer expectations. I would asumme a `pure` function depends exclusively on its arguments, and always returns t

[2020-10-30 17:46] axic commented on #10090
If the transaction is signed with the EIP-155 format, then the `chainid` should always match. If it is signed pre-EIP-155 format (which is still valid), there can be a discrepancy. So in practice it is pure, but technically it is not as `chainid` is still dependent on execution time.

[2020-10-30 17:53] axic commented on #9117
Also there's this comment from @chriseth on the previous discussion https://github.com/ethereum/solidity/issues/9054#issuecomment-641194378:

[2020-10-30 17:56] axic commented on #911
#9616 proposes some nicer syntax for lambdas.

[2020-10-30 18:22] axic commented on #9764
This is now tracked by #9636.

[2020-10-30 18:22] #9764 closed, assigned to nobody

[2020-10-30 18:42] axic opened #10163 "[SMTChecker] Verification progress tracker"
These are the contracts we have looked at. This is a list of feature support:

- [x] Myhtril/Slither examples (#6721)
- [ ] Solc-Verify examples (#8145)
- [x] Eth2.0 deposit contract (#9806)
- [ ] Circles UBI (#10062)
- [ ] UniswapV2 -- safemath...
- [ ] Gnosis Safe
- [ ] Gnosis MultiSigWallet https://github.com/ethereum/solidity/issues/11275
- [ ] Chai https://github.com/ethereum/solidity/issues/

[2020-10-30 19:00] #8488 closed, assigned to nobody

[2020-10-30 19:05] axic commented on #8467
@chriseth can we close this after #9465 ?

[2020-10-30 19:10] axic commented on #5303
We don't have proper coverage numbers, but we do have 134 tests.

[2020-10-30 19:23] axic commented on #5254
[code]

->

[code]

Do we consider this solved or there some other case missing, @chriseth ?

[2020-10-30 19:24] axic commented on #5254
Side question: why does it considers the others outside of `f(uint)` and `f(uint8)` as candidates?

[2020-10-30 19:47] axic commented on #5303
Should we close this?

[2020-10-30 19:47] axic commented on #4698
@cameel since you worked on this last, do you have an feedback?

[2020-10-30 19:58] cameel commented on #4698
I actually haven't, I was just going to do any cleanup needed after @ekpyron did the bulk of the work moving it to CircleCI in #10039 but I can check.

[2020-10-30 19:58] axic commented on #4559
Some relevant discussions were conducted in #8802 and #8146.

[2020-10-30 20:04] ekpyron commented on #4698
Since I just happened to notice the mention of me ;-):
emscripten is still covered and apart from that I agree with https://github.com/ethereum/solidity/issues/4698#issuecomment-410781114 in that I'm not sure how standard json is supposed to be related to bytecode comparison.
That being said, I did only do the minimal amount of work to get it running again in #10039 - it would be nice to clean up

[2020-10-30 20:16] cameel commented on #4698
So the situation looks like this:
- There are 4 targets for which we run the bytecode comparison and generate a report: Linux, Windows, MacOS, emscripten.
- The report includes all `*.sol` files from under `test/` (with some minor exclusions) and test cases from docs.
    - This does not include `*.yul` files so the assembly input is not being tested.
- The SMTChecker pragma is always stripped fro

[2020-10-30 20:21] cameel commented on #4698
@ekpyron Thanks, I actually forgot to ask you earlier what was still left to do with the bytecode comparison so your comment is very helpful. I'll put that in an issue.

[2020-10-30 20:22] axic commented on #4698
The issue was originally created as prompted by the Zeppelin audit, which was curious whether the the output generated via the standard JSON is compared or not, because the CLI goes through a different path. (Also see #9583).

If bytecode comparison is done via standard JSON (and in the emscripten target it does), then the question becomes: do we use non-standard-JSON output on the CLI targets (li

[2020-10-30 20:23] ekpyron commented on #4698
I vote for someone just doing #9583, that would render the question mute and we do have tons of reasons for #9583 already :-).

[2020-10-30 20:27] axic commented on #4698
Once we merge #10147 (and potentially add `viaIR` into standard json too) this becomes a question again. At the very least we should document (even as a simple readme in `scripts/bytecodecompare`) what is happening right now.

[2020-10-30 20:28] axic commented on #9136
This is now solved with `--model-checker-engine none` (and the same in JSON) after #10036. @ekpyron can we close this?

[2020-10-30 20:30] cameel commented on #4698
@axic No, it's not using non-standard-JSON with any target.

Here's the part that executes the compiler in case anyone wants to check directly:
- Linux/Mac/Win: https://github.com/ethereum/solidity/blob/v0.7.4/scripts/bytecodecompare/prepare_report.py#L28-L31 if
- Emscripten: https://github.com/ethereum/solidity/blob/v0.7.4/scripts/bytecodecompare/storebytecode.sh#L53-L110

[2020-10-30 20:32] axic commented on #9583
Need to also keep #8847 in mind, such as:

[2020-10-30 20:33] cameel commented on #9931
Just for future reference, it was implemented in this PR: #10039.

[2020-10-30 20:37] cameel opened #10165 "Clean up the bytecode comparison scripts"
Extracted from https://github.com/ethereum/solidity/issues/4698#issuecomment-719770498. Related to #9931.

@ekpyron

[2020-10-30 20:37] ekpyron commented on #9136
Ah yes - last time I saw #10036 it was CLI only, but it looks like it did it for standard-json as well in the end, so yes, this can be closed I think.

[2020-10-30 20:37] #9136 closed, assigned to nobody

[2020-10-30 20:44] axic opened #10166 "Turn on SMTChecker by default, but set model-checker-engine to none"
Discussion prompted by https://github.com/ethereum/solidity/pull/10036#discussion_r507145108.

The proposal here is to remove the `pragma experimental SMTChecker`, but turn it on by default. At the same time set the `model-checker-engine` to `none`, which ultimately means the SMT checker is not run. (But perhaps the AST traversing is conducted, @leonardoalt?)

Since we already have the setting exp

[2020-10-30 20:50] cameel commented on #10165
Another small improvement to do here would be replacing the manual stripping of SMTChecker pragmas in https://github.com/ethereum/solidity/blob/v0.7.4/scripts/bytecodecompare/prepare_report.py#L17 with the JSON equivalent of the recently introduced (#10036) `--model-checker-engine none` option.

[2020-10-30 20:55] axic commented on #2862
@chriseth @MicahZoltu Is this issue solved by #8739 ?

[2020-10-30 20:56] cameel commented on #4044
This has now been implemented in #10039/#9931.

https://github.com/ethereum/solidity/blob/v0.7.4/.circleci/config.yml#L987-L1002

[2020-10-30 20:56] #4044 closed, assigned to nobody

[2020-10-30 20:59] axic commented on #3766
We did this with 0.6.0.

@chriseth Time to reconsider?

[2020-10-30 20:59] axic commented on #3765
Also unused jumpdests are removed since #2657. Closing this since #3766 covers the problem.

[2020-10-30 20:59] #3765 closed, assigned to nobody

[2020-10-30 21:18] axic commented on #7369
StandardCompiler still uses the old one -- should we consider changing that too?

[2020-10-30 21:26] axic commented on #9160
For anyone looking for the actual assertion:
[code]

And https://github.com/ethereum/solidity/issues/9037#issuecomment-635269815 reported the same problem.

[2020-10-30 21:35] axic commented on #5468
This could be superseded by #9583.

[2020-10-30 21:39] axic commented on #7128
This issue seems to be not relevant anymore as the files in `scripts/docker` do not seem to have many layers (a few `RUN` and `COPY` instructions). Is this relevant @chriseth @aarlt @ekpyron @cameel, given you have touched docker stuff.

[2020-10-30 21:41] axic commented on #9850
Doesn't seem to be happening anymore. Tried with 0.7.5/develop and 0.6.8. The problem was reported with `^0.5.4`.

[2020-10-30 21:41] #9850 closed, assigned to nobody

[2020-10-30 21:51] axic commented on #7787
While I didn't encounter crashes, there are plenty of exceptions.
[code]

[2020-10-30 22:10] axic commented on #9604
While we agreed to this on a recent meeting, what do we actually mean by "disallow"? A specific error saying these are reserved identifiers?

We already have shadowing warning for `this` and `super`, but not for `_` (unless within a modifier, I guess):

[code]

Actually there is no warning inside modifiers:
[code]

The shadowing warning for `super` and `this` are also present within free functions

[2020-10-30 22:16] axic commented on #9512
Just for clarity, on a design meeting two weeks ago (as seen by "chriseth moved this from Design Backlog to Implementation Backlog in Solidity 9 days ago") it was decided to drop the old JSON AST with 0.8.0.

[2020-10-30 23:16] cameel commented on #7128
I don't think there's much we can improve here regarding the spin up time. I just took a look at the container download step in a random PR and the time it takes varies a lot even when the same exact image is being pulled:

- [b_ubu_static](https://app.circleci.com/pipelines/github/ethereum/solidity/9706/workflows/cf1340e3-a445-4952-9896-b2d3bb8a8fb5/jobs/484446): 13 seconds
[code]
- [b_ubu_releas

[2020-10-30 23:25] axic commented on #7128
[code]

I think that is a reasonable number of layers, comparing to the issue opener. I take the liberty to close this, but @chriseth please reopen if you think otherwise.

[2020-10-30 23:25] #7128 closed, assigned to kcy1019

[2020-10-31 00:18] cameel commented on #7787
It causes an ICE even without the `--error-recovery` option.

These three are legit. ICE since 0.5.11 (0.5.14 was in develop at the time of this report). No ICE only on 0.5.10 which introduced the `--error-recovery` option. Not using `--error-recovery` makes the ICE go away in all versions I checked.

These two actually crash the compiler between 0.5.11 and 0.5.17 (segmentation fault). On 0.6.0 an

[2020-10-31 01:40] axic commented on #2130
It seems that since before this issue was created we had `m_data` and `m_subs`:
[code]

And as far as I can tell the two handled independently. However where it gets messy is `assemblyStream()` and `assemblyJSON()`.

[2020-10-31 07:28] MicahZoltu commented on #2862
I'll defer to @chriseth on that.  I'm not actively working on the aforementioned project anymore so I wouldn't be able to help test.

[2020-11-01 01:35] xxxrampage1xxx1 opened #10168 "I withdrew my dsp and nothing was deposited"
my 7k dsp is missing  how do i get it back?

[2020-11-01 19:25] ZumZoom opened #10170 "Extra bytes returned on revert("")"
## Description

Calling `revert(string)` should return abi-encoded string as if it were a call to `Error(string)` function ([docs](https://solidity.readthedocs.io/en/latest/control-structures.html#revert)).

Therefore when calling revert with empty string `revert("")` I expect to receive correct abi-encoded `Error("")`:
[code]

In fact Solidity appends extra 32 bytes of zeroes in that case so retu

[2020-11-01 19:57] axic commented on #10170
As mentioned in https://github.com/trufflesuite/ganache-cli/issues/800#issuecomment-720129628 this is confirmed to be happening.

Tried adding a test for it, but we have another bug in `soltest`/`isoltest`:
[code]

The `""` field is not recognized and is replaced with `"string"`, but that doesn't matches the value 😬

[2020-11-01 19:58] ZumZoom commented on #10170
Also just found out that contract compiled with `pragma experimental ABIEncoderV2;` behaves correctly.

[Ropsten example](https://ropsten.etherscan.io/address/0x4e6dbc0f3e7f0f256bef092bd45ca661dd8ffcdd)

[2020-11-01 22:56] cameel commented on #10168
This isn't the right place to report problems with specific dApps unless you believe the problem is directly caused by a bug in the Solidity compiler. If that's the case please provide some information on how to reproduce the bug and then reopen this issue.

Just a general hint: if you're having problems with an Ethereum transaction please make sure you used the correct address and that you're not

[2020-11-01 22:56] #10168 closed, assigned to nobody

[2020-11-02 01:04] cameel commented on #5303
I think that many options/option combinations are not being tested. At least that's the impression I got when I was adding/changing stuff in it. Still, those tests are usually just simple smoke tests because they just expect the output to match 1:1 so it's debatable how much of this really needs to be explicitly tested. A coverage report would be helpful here.

[2020-11-02 02:12] cameel commented on #10145
@abcoathup Yeah, looks like a bug. Only the first line takes effect and the second one is completely ignored. Only `MIT` ends up in the metadata:

[code]
[code]

@sambacha

Lines starting with `///` are not recognized as specifying the license so it would not cause an error even without this bug. They must be ordinary comments, not NatSpec.

Currently the compiler simply ignores any comment where

[2020-11-02 02:34] deluca-mike commented on #9554
There seems to be a larger issue here. The compiler should not throw an error if a pure function references an immutable variable, since `The contract creation code generated by the compiler will modify the contract’s runtime code before it is returned by replacing all references to immutables by the values assigned to the them.`

So either immutable variables result in inline constants (literals)

[2020-11-02 03:38] sambacha commented on #10145
Thanks @cameel  for the clarification, and it makes sense to only validate the presence of `SPDX-License-Identifier` as opposed to querying the entire list of recognized licenses at [SPDX](https://github.com/spdx/license-list-data/blob/master/json/licenses.json)

As for NatSpec, my usage is purely for inventory purposes: makes it easier to automate finding which files do or do not have the proper

[2020-11-02 09:19] #8986 closed, assigned to nobody

[2020-11-02 09:24] chriseth commented on #10134
I changed the hash function to operate on full 64 bit chunks, which should reduce the number of multiplications and xor operations. The test run got 10 seconds slower. Maybe we should use a proper profiler...

[2020-11-02 09:25] chriseth commented on #5254
Looks solved to me. We could prune the candidate list if the number of parameters do not match, but maybe it's also nice to see them ("oh, I just forget the second argument!").

[2020-11-02 09:25] #5254 closed, assigned to nobody

[2020-11-02 09:26] #8467 closed, assigned to nobody

[2020-11-02 09:30] chriseth commented on #7787
Maybe we could just remove that feature again...

[2020-11-02 09:44] chriseth commented on #3766
We only did the change for the sol->yul codegen, and that optimizer already has its own dead code removal, so maybe this can be closed.

[2020-11-02 10:16] chriseth commented on #9604
I would say disallow means it is an error to define an identifier that is called 'super', 'this' or '_'.

[2020-11-02 10:19] chriseth commented on #2862
I would say we can close it.

[2020-11-02 10:19] #2862 closed, assigned to nobody

[2020-11-02 10:22] chriseth commented on #10162
If we allow the array length to be changed, then we would need an sload/mload for each iteration to re-retrieve the length. I actually don't think we can safely get rid of that check anyway, so I would not pose any restrictions on the body.

I don't see why arrays of reference types should be any problem.

[2020-11-02 10:23] axic commented on #10162
By references I meant "pointers to value types", such that the range based loop could modify the values.

[2020-11-02 10:25] chriseth commented on #10158
I don't see why we should not support this.

[2020-11-02 10:32] chriseth commented on #10159
In my opinion, your explicit receive function that always reverts in a good solution - it makes it explicit what happens if you send this contract Ether. The fact that the function is present in the ABI may be unfortunate, but any other function present in the ABI could also always revert.

Would you propose to remove the warning altogether?

[2020-11-02 10:35] cameel commented on #10162
That's consistent with how local variables work so I think it's completely intuitive. If it was possible to make such references then I think it should have some special syntax.

This could be a use case for #1013 - explicitly making it an alias pointing at the current element would allow you to modify it.

[2020-11-02 10:48] chriseth commented on #9824
Implemented in https://github.com/ethereum/solidity/pull/10013

[2020-11-02 10:48] #9824 closed, assigned to nobody

[2020-11-02 10:51] chriseth commented on #8352
Has been fixed in the meantime.

[2020-11-02 10:51] #8352 closed, assigned to nobody

[2020-11-02 10:55] axic commented on #10162
Exactly, that's why I said "but references/pointers is probably something we should solve separately in general."

[2020-11-02 11:23] axic opened #10173 "[ewasm] Support linkersymbol"

[2020-11-02 12:44] franzihei commented on #10119
## Update

This is how the translation workflow works for the ethereum.org translations:

[Translation]->[Review]->[Sync]->[Upload online]

1. Uploading the content files on Crowdin (manually). The Progress bar shows 0%.
2. People come to the Crowdin Project page through various channels. (Ethereum.org Translation Program page, Github, etc).
3. People choose languages and files to translate.
4. Wh

[2020-11-02 14:07] #9743 closed, assigned to nobody

[2020-11-02 14:07] #10058 closed, assigned to nobody

[2020-11-02 14:17] franzihei commented on #10119
Questions from the standup:
- Which languages do we need / How can we validate the need?
- Are there any translation related tools or plugins for readthedocs?
- Could we get a dedicated translation lead contributor for the languages?
- How do we do version management?

[2020-11-02 14:25] franzihei commented on #10119
Insights into language usage:
- "regional stackoverflow sites" by traffic, https://stackexchange.com/sites#technology-traffic. The order there is Russian, Spanish, Portuguese and Japanese.
- ethereum.org: Chinese, Russian and Spanish are clicked most:
![image](https://user-images.githubusercontent.com/41991517/97878821-69bb3400-1d1f-11eb-8305-17c96f9da4b2.png)

[2020-11-02 14:53] leonardoalt commented on #10034
Fixed by https://github.com/ethereum/solidity/pull/10149/

[2020-11-02 14:53] #10034 closed, assigned to nobody

[2020-11-02 14:54] leonardoalt commented on #10087
Fixed by https://github.com/ethereum/solidity/pull/10149

[2020-11-02 14:54] #10087 closed, assigned to nobody

[2020-11-02 15:18] axic opened #10178 "[ewasm] Support data objects in Binary/TextTransform"

[2020-11-02 15:43] axic opened #10179 "[yul] Support special/priority objects in object format"
The "contract metadata" is expected to be the trailing bytes in the bytecode.

While the Yul object format allows for code and data sections, there is no clarity whether those sections must be laid out the same order in the binary as they were defined in the text format, and in fact, the implementation considers the objects in a hashmap so their order depends on their names.

In order to support m

[2020-11-02 15:57] axic commented on #10100
I suggest we close this since @cameel has created issues for the underlying problems.

[2020-11-02 16:26] 3esmit commented on #10159
The warning seems wrong because the intended design is not having a receive() function.

If I haven't defined receive(), than any address.transfer() to the contract should fail automatically.

Currently I am getting this warning, and I have to:
[code]

[2020-11-02 16:49] franzihei commented on #10119
## Read the Docs Workflow

- How to manage translations in RtD (manually or with transifex): https://docs.readthedocs.io/en/stable/guides/manage-translations.html
- How to localize content: https://docs.readthedocs.io/en/stable/localization.html

Localizing the content would mean that the different translations would be included in the original documentation and not in separate repos. One can then

[2020-11-02 17:57] bshastry commented on #9607
I stumbled upon this issue while writing test cases with function types. The following compiles just fine (Edit: And binds to the square of function).
[code]

However, the following does not. The type error seems to be incorrect at first glance. Unlike @Marenz example, there is no type conversion happening so one would expect the first free function to be bound to the immutable.

[code]

[2020-11-02 18:54] #10100 closed, assigned to nobody

[2020-11-02 19:03] 3esmit commented on #10159
Yes, I propose to remove the warning altogether, because the warning makes it seems I am doing a bad design on the contract, while I have to do this way for the compiler understand that this ABI entrypoint does not exists.

If I am not using the "receive() external payable", or calls from .transfer(), or msg.data.lenght == 0 with msg.value > 0, than should be a proper way of doing it without risin

[2020-11-02 20:28] alcuadrado opened #10183 "Solidity 0.5.17 installed with Homebrew produces a different output than the version downloaded from solc-bin.ethereum.org"
Hi

@udwig, reported to us that he was unable to verify a contract on Etherscan, even when using the exact same solidity standard input json. We spent some time debugging it, and found this problem with solc or with its distribution:

If you install `solc` `0.5.17+commit.d19bba13` using Homebrew and downloading it from solc-bin.ethereum.org, you can get a different output for the same input.

Here

[2020-11-02 21:39] cameel commented on #10183
Looks like a difference in metadata. Metadata includes compiler version and versions clearly differ. The build system adds the `.mod` part when the source you're building from has modifications. And in https://github.com/ethereum/solc-bin/pull/53, as can be seen in the script, I had to apply quite a few changes to the older versions to get them to build and pass tests. This is all in the  build co

[2020-11-02 22:12] axic opened #10184 "Access to bytes type from inline assembly to have .offset/.size"
Similar to storage offset/slot and the proposed calldata offset/slot (#8917) it would be nice to have `.offset` and `.size` properties.

While `.offset` is easily replaced with `add(b, 32)` and `.size` with `mload(b)`, it could be nice to follow the same logic as for storage/calldata.

[2020-11-02 22:22] #9363 closed, assigned to chriseth

[2020-11-02 22:27] cameel commented on #10183
I'm going to redo the builds for which the version does not match and just omit the `.mod` part.

[2020-11-02 22:40] cameel commented on #10156
How about just reverting if the length is >= 32? It will still be possible to get at the raw bits in the inline assembly so if someone is doing such a low-level manipulation, it should not be a big obstacle. And it will only affect newly deployed contracts anyway.

[2020-11-03 11:27] gitpusha opened #10186 "ICE in convertType() when calling functions bound to structs and arrays with calldata parameters"
Env: `hardhat`
Compiler: `0.7.4`

Try to compile this code with `0.7.4` .

[code]

Accessing fields on the `Task memory` returned from `GelatoTaskReceipt.task` seems to be the issue.

[code]

`InternalCompilerError: Internal compiler error (/Users/distiller/project/libsolidity/codegen/CompilerUtils.cpp:1057)`

The problem seems to go away if you use `memory` data location instead.

In a previous c

[2020-11-03 11:40] gitpusha commented on #10186
The problem seems to go away if you use `memory` data location instead.

In a previous compiler version (e.g. `0.6.12`) using `calldata` for the same code did compile with error by the way.

[2020-11-03 12:03] chriseth commented on #10186
The bound function seems to be the issue.

[2020-11-03 12:59] gitpusha commented on #9160
Hi - I thought I'd check back in. I am using solidity `0.7.4` and still get the same `bug`. Are there plans to fix this for the `0.7` series or will it take longer ?

[2020-11-03 13:01] gitpusha commented on #10186
`bound` function and `calldata`. This might be unrelated but I reported a different bug for solc `0.6.9` that also had to do with bound function and `calldata` before: https://github.com/ethereum/solidity/issues/9172

[2020-11-03 13:08] chriseth commented on #10156
The problem with reverting is that it might be too late to do something about it. Reverting on "bad input" is easy, because you can recover most of the time, but it might be impossible to recover from "bad storage value".

[2020-11-03 13:28] cameel commented on #10186
Yeah, looks like it's both. Below is the smallest repro I could find. It stops happening if I change the location to `memory`, remove `using` or use a type different than a struct.

It works in 0.6.9. In all the later versions it triggers an ICE.

[code]
[code]

Using an array (either static or dynamic, but not `string` or `bytes`) triggers a different assertion in the same function. This also sta

[2020-11-03 13:51] cameel commented on #10156
You can always recover by zeroing/deleting the whole slot. Or using inline assembly if you really need the data back. And you won't get into this situation in the first place unless you're playing with the raw bytes.

I'm not sure that just making assumptions about the length or zero-padding is necessarily better since it can lead to misinterpreting the data. Someone might find a way to exploit it

[2020-11-03 14:09] #9727 closed, assigned to chriseth

[2020-11-03 14:45] axic commented on #9604
But on that note we should disallow any other special to be overridden, such as `msg`, `block`, `type`, etc.

I think what is more important here is to disallow `_` as an identifier given it has varying behaviour depending whether it is in a function or a modifier. Started adding tests for that when I asked the questions above.

[2020-11-03 14:57] axic commented on #9604
@hrkrshnn pushed the tests I added for underscores, I think we can merge that independently.

[2020-11-03 15:00] axic opened #10190 "Fix scripts/check_style.sh to work with latest Github API"
From https://app.circleci.com/pipelines/github/ethereum/solidity/9790/workflows/c58049a5-b961-4e6b-8ceb-4d47fa3a7168/jobs/487386:
[code]

[2020-11-03 15:25] axic opened #10191 "[isoltest] Change isoltest to execute tests with each valid evmVersion unless specified"
Currently isoltest only runs with the latest evmVersion and would ignore a given file if the version rule specified within rejects it.

I think it would make life much easier if isoltest would execute tests with each valid evmVersion which satisfies the optionally present rule.  If however the `--evm-version` argument is present that overrides the selection and only runs it for that version.

[2020-11-03 15:28] chriseth commented on #10191
Can you describe what the use-case would be? How would you use the feature when run locally and how would you use it when run in CI?

[2020-11-03 15:53] bshastry commented on #9554
May be related. Immutables could be used as ~~lambda functions~~ function aliases. Currently, since immutables are view, one cannot use them as aliases for `pure` free functions. The example below does not work if `view` becomes `pure` although the underlying functions `squared`, `cubed`, and `proxy` are pure.

[code]

I'm not sure if there is a real use-case here though i.e., using immutables as

[2020-11-03 16:33] axic commented on #10191
You would use the same way both locally and on CI: `isoltest`. It runs each file for every evm version (adhering to the `evmVersion:` rules in the files). That's it. Could also extend to do it with optim vs no-optim, unless a setting is specified on cli.

[2020-11-03 17:24] cameel commented on #10191
Maybe something like `--evm-version all`? It could also be the default.

[2020-11-03 17:26] axic commented on #10191
I think the main difference compared to today would be that the different version/optim configurations are run in succession on each file as opposed to rerunning the entire tool with each config.

[2020-11-04 09:24] alcueca opened #10195 "Consider type checking casting in 0.8"
## Abstract

Solidity 0.8 is introducing type checking for arithmetic operations, but not for type casting. From my own experience most downcasting is wrapped in SafeMath-like functions in audited contracts. There are some notable exceptions (namely Uniswap v2 TWAP implementation and ABDKMath64x64) which could be managed through an `unckecked` block.

## Motivation

Checking type casting should be

[2020-11-04 09:57] elenadimitrova commented on #9573
Leaving a note here that this affects Argent wallet contracts that are on solc 0.6.12 and using `ABIEncoderV2` pragma. When compiling these as part of the overall set of contracts they generate different bytecode than when compiled on their own. Example bytecode differences for `ApprovedTransfer` contract:

Compiled as part of larger contracts set
https://gist.github.com/elenadimitrova/9073bc073ee

[2020-11-04 10:00] leonardoalt commented on #10156
I agree with @cameel and tend to prefer reverting

[2020-11-04 10:02] leonardoalt commented on #10158
Sounds good to me as well.

[2020-11-04 10:05] leonardoalt commented on #10162
I would prefer if the length cannot change.

[2020-11-04 10:19] leonardoalt commented on #10162
That's not completely true. Rust does disallow that by default, but it's because of a different reason. It doesn't simply add the explicit restriction "the container cannot be changed", it moves the container into immutable iterators, thus you can't change the container. You **can** also use mutable references and change the array, the language itself doesn't really care about you changing the arr

[2020-11-04 10:55] #9876 closed, assigned to nobody

[2020-11-04 11:19] hrkrshnn commented on #9861
Closed via https://github.com/ethereum/solidity/pull/10108

[2020-11-04 11:19] #9861 closed, assigned to hrkrshnn

[2020-11-04 11:21] hrkrshnn commented on #9604
@chriseth @axic  I was wondering what's a good way to proceed in here? One way would be to check for names of FunctionDefinition, VariableDeclaration, Modifiers etc. in SyntaxChecker. What do you think?

[2020-11-04 12:20] axic commented on #9604
I'd do it in the SyntaxChecker, but some of these things are implemented in the `NameAndTypeResolver`, iirc.

[2020-11-04 13:26] christianparpart commented on #10020
The documentation states:

- "For a constant variable, the expression assigned to it is copied to all the places where it is accessed and also re-evaluated each time." (https://solidity.readthedocs.io/en/v0.7.4/contracts.html#constant-and-immutable-state-variables)

This seems not entirely true (I think), as operators are evaluated in via `ConstantEvaluator` through (e.g.) `RationalNumberType::bin

[2020-11-04 13:56] Marenz commented on #10162
In the discussion the idea came up to also have indices support for the range based loops. Some possible scenarios where this is helpful:

* Access to the elements of a second array with equal length. This of course would be even nicer solved with something like pythons `zip` function
* Different logic based on the index, e.g. the first or last or every second element should be treated differently

[2020-11-04 14:01] axic commented on #10158
We had a very long discussion about the topic in #3198.

[2020-11-04 14:08] chriseth commented on #10158
In the meeting @axic mentioned that it should be `fallback(bytes calldata input) external payable returns (bytes memory output) {}`

[2020-11-04 14:09] axic commented on #10158
Also relevant: #2630

[2020-11-04 14:36] chriseth commented on #10156
A similar situation we could consider is the case of a short byte array encoded in the "out-of-place" way: If we have a byte array of length 2 whose length field (the last byte) is `5`.

[2020-11-04 16:06] #6205 closed, assigned to nobody

[2020-11-04 16:44] leonardoalt opened #10200 "[SMTChecker] CHC reports false negatives in modifiers with branches"
[code]

[2020-11-04 17:09] chriseth commented on #10020
@christianparpart The code snippet you gave does not use the constant evaluator. My impression is also that the behaviour you describe is the correct behaviour. The constant evaluator is used for computing lengths in array types:
`uint[d]` is currently the same as `uint[12]` , but it should be `uint[10]`, the same as `uint[D]`.

[2020-11-04 19:32] cameel opened #10201 "Document JSON output describing library ABI"
Prerequisite for fixing #9278.

The JSON output of `solc --abi` is documented in [Contract ABI Specification > JSON](https://solidity.readthedocs.io/en/latest/abi-spec.html#json) but only for contracts. The information returned for libraries differs but the differences are not documented.

[2020-11-04 19:53] cameel commented on #9278
We discussed it on the call today. We really don't want to break library selectors so it would be best to just add extra fields with necessary information. I created a separate issue for the docs to at least push that part forward since it's pretty clear-cut that we need them: #10201.

@ricmoo Actually, you don't need to know if an enum is `uint8`, `uint16` or larger to ABI-encode it. You can just

[2020-11-04 20:16] alcuadrado commented on #10183
Thanks for your reply, @cameel.

I'm actually surprised that the build info is included in the metadata that gets hashed and embedded into the bytecode.

I just checked, and the example in [the documentation](https://solidity.readthedocs.io/en/latest/metadata.html) includes it, but it would be great if you could make it more explicit, as it's not something you'd expect.

While I get the idea behin

[2020-11-04 20:19] cameel commented on #10156
Summary of the stuff I mentioned on the call:
- We already do revert for invalid enum values.
    - If we ever implement [Generic value range types](https://github.com/ethereum/solidity/issues/2918), we'll have a similar problem with invalid values too (I think we should revert in that case too).
- One could argue that `enums` and `bytes` should be handled differently because there's no sensible i

[2020-11-04 20:27] cameel commented on #10162
Another common scenario: implementing a `find()` function that looks for an element in an array and returns its index. It might be more common to implement something like this in Solidity than in other languages due to the lack of a rich standard library and generics. A variant of this would be also looking for a substring in a string.

[2020-11-04 21:09] cameel commented on #10183
@alcuadrado

That's actually tripping many people up. See for example #10082. But I think that information about compiler version used to generate the bytecode is pretty important when it comes to reproducing it.

~And it isn't really all that extreme. There's a proposal to include much more stuff in the version string: #6228, though AFAIK this isn't on the roadmap right now.~ EDIT: Looking closer

[2020-11-05 00:09] ricmoo commented on #9278
@cameel but I do need to know the type for encoding the selector, no? Or is uint256 always used for that too?

[2020-11-05 01:32] deluca-mike commented on #9554
@bshastry But the documentation I quoted gives the impression that `immutable` acts as an inline replacement, sort of like a preprocessor. (i.e. replacing all bytecode instances of `my_immutable_var` with whatever value is provided at deploy-time. Which is why the [documentation](https://solidity.readthedocs.io/en/v0.7.3/contracts.html#constant-and-immutable-state-variables) further alludes to the

[2020-11-05 02:07] #10088 closed, assigned to chriseth

[2020-11-05 08:46] k06a commented on #3876
Finally with Solidity 0.6.x you can do this:
[code]

[2020-11-05 10:32] axic opened #10204 "Change inline assembly shadowing warning to use dialect"
From https://github.com/ethereum/solidity/pull/10203#r517713650:

[2020-11-05 11:31] hrkrshnn commented on #10131
The function `setNumber()` is a member of the contract `SuperParent`, i.e., `SuperParent.setNumber()` is well defined. So there is nothing wrong with the call `super.setNumber()`. The keyword `super` is mainly useful when multiple base classes implement the same function type.

[2020-11-05 12:42] chriseth commented on #10179
subObjects is actually a vector, so the order is retained. Unless the assembler re-arranges them, defining the metadata to be last should "just work".

[2020-11-05 12:44] chriseth commented on #9607
@bshastry this is expected. What an expression resolves to should not depend on how the expression is used later on, at least in my opinion.

[2020-11-05 12:45] chriseth commented on #10184
I don't think this is a good idea. We should expose as little as needed.

[2020-11-05 12:46] axic commented on #10179
You're right it is a vector in the AST, but the assemblers may do their own thing. However under "Introduce defined ordering" I also mean to explicitly state that for the text representation of Yul so that an IR file can be compiled correctly.

[2020-11-05 13:09] chriseth commented on #9609
I'll wait with this until some more tests are extracted.

[2020-11-05 14:20] axic opened #10210 "Change source location to cover the entire function prototype"
From #9607: Change source location to cover the entire function prototype, especially when displayed as a candidate for overload resolution failure.

Example of unwanted behaviour:
[code]

[2020-11-05 14:25] chriseth commented on #10210
The source location covers the entire function, but the error reported only shows the first line.

[2020-11-05 14:27] #10131 closed, assigned to nobody

[2020-11-05 15:17] bshastry commented on #9607
Not sure I follow. Shouldn't `i` bind to `f(uint)` in the example? `i` is not used later on, so I don't understand what you mean.

[2020-11-05 15:50] chriseth commented on #9607
Solidity follows the concept that in `x = i`, what `i` refers to does not depend on `x`, but only on the scope of `i`.

[2020-11-05 16:20] chriseth commented on #411
I think this is outdated by now.

[2020-11-05 16:20] #411 closed, assigned to nobody

[2020-11-05 16:52] chriseth opened #10213 "DataFlowAnalyzer: Memory operations should only clear "larger" areas."
calldatacopy, call, returndatacopy and others should only invalidate the areas in memory that are larger than the start position. This is especially useful if the start position is a constant. If the end position is a constant, this can also be taken into account.

[2020-11-05 18:49] barakman opened #10220 "Confusing compilation error starting from solc 0.6.0"
## Description

Prior to solc 0.6.0, the statement `arr.push(x, y);` would give the error-message:
[code]

Starting from solc 0.6.0, the same statement gives the rather confusing error-message:
[code]

It feels like your internal state-machine has been unable to find a matching "prototype" for this "function".
Or perhaps this is just a subsequent result of the changes made in `push` (not returning

[2020-11-05 18:51] axic commented on #10210
I said "function prototype [..] when displayed as a candidate for overload resolution failure" and I think that would be a good change. No point displaying the entire function of course :)

[2020-11-05 21:01] bshastry commented on #9607
Sorry, I still don't understand :) How does the scope of `i` explain the fact that

[code]

compiles

but the following throws an error

[code]

In both cases `i` (in this case `function (uint) pure returns (uint)`) is in scope because the free function should be visible in the contract and hence in scope, right?

[2020-11-06 11:09] cameel commented on #9607
Another case reported in #10220 by @barakman.

[code]
Up to 0.5.17 the compiler used to report this:
[code]
Starting with 0.6.0 the error message is much less informative:
[code]

[2020-11-06 11:16] cameel commented on #10220
Yeah, those error messages could be better. There's already an issue for it: #9607. It says it's about overload resolution but it's a symptom of the same problem so I added your case there.

I'm going to close this issue as a duplicate to keep the discussion in one place so if you have any comments, please post them in #9607. The issue is already in the implementation backlog so you can expect it

[2020-11-06 11:16] #10220 closed, assigned to nobody

[2020-11-06 11:33] leonardoalt commented on #6178
This would be too complicated to implement for the value it adds. We're better off actually implementing full aliasing support.
Closing in favor of https://github.com/ethereum/solidity/issues/9148.

[2020-11-06 11:33] #6178 closed, assigned to nobody

[2020-11-08 17:49] mudgen commented on #9735
Will passing `this` as a parameter to functions make `stake too deep` errors more likely?

[2020-11-09 10:05] chriseth commented on #10156
Having mulled over it, I now also think that reverting is the right choice.

[2020-11-09 11:34] leonardoalt opened #10226 "[SMTChecker] Support function calls with named arguments"
[code]
This currently throws

[2020-11-09 12:05] bshastry commented on #9676
Closing since it was decided that antlr4 dependency is not superfluous

[2020-11-09 12:05] #9676 closed, assigned to bshastry

[2020-11-09 13:11] cameel commented on #8078
#10230 Adds support for library addresses and external calls. Stuff that's left after this as far as I know:
- Library function selectors
- Call guards ([Call Protection For Libraries](https://solidity.readthedocs.io/en/latest/contracts.html#call-protection-for-libraries)).
- Parameters of storage mapping types (See `semanticTests/libraries/external_call_with_storage_mapping_parameter.sol`)

[2020-11-09 13:15] franzihei commented on #4988
We are currently working on a new, hopefully more structured workflow for the Solidity docs translations. I will ping you once this is ready. Closing this issue for now, you can track the progress of the new process etc. in issue #10119.

[2020-11-09 13:15] #4988 closed, assigned to nobody

[2020-11-09 13:16] franzihei commented on #4989
We are currently working on a new, hopefully more structured workflow for the Solidity docs translations. I will ping you once this is ready. Closing this issue for now, you can track the progress of the new process etc. in issue #10119.

[2020-11-09 13:16] #4989 closed, assigned to nobody

[2020-11-09 13:16] franzihei commented on #5216
We are currently working on a new, hopefully more structured workflow for the Solidity docs translations. I will ping you once this is ready. Closing this issue for now, you can track the progress of the new process etc. in issue #10119.

[2020-11-09 13:16] #5216 closed, assigned to nobody

[2020-11-09 13:16] franzihei commented on #5250
We are currently working on a new, hopefully more structured workflow for the Solidity docs translations. I will ping you once this is ready. Closing this issue for now, you can track the progress of the new process etc. in issue #10119.

[2020-11-09 13:16] #5250 closed, assigned to nobody

[2020-11-09 13:17] franzihei commented on #7183
We are currently working on a new, hopefully more structured workflow for the Solidity docs translations. I will ping you once this is ready. Closing this issue for now, you can track the progress of the new process etc. in issue #10119.

[2020-11-09 13:17] #7183 closed, assigned to V0nMis3s, damianoazzolini

[2020-11-09 13:17] franzihei commented on #3564
We are currently working on a new, hopefully more structured workflow for the Solidity docs translations. I will ping you once this is ready. Closing this issue for now, you can track the progress of the new process etc. in issue #10119.

[2020-11-09 13:17] #3564 closed, assigned to nobody

[2020-11-09 13:41] chriseth commented on #10128
Are you sure this is because of the getter? It should not try to read full arrays.

[2020-11-09 13:53] axic opened #10236 "Optimiser step for `extcode*` -> `code*`"
This came up in https://github.com/ethereum/solidity/issues/3044#issuecomment-618358552:

It would be useful to have a step which translates `extcodecopy(address(), ..)` to `codecopy(..)` and `extcodesize(address())` to `codesize()`.

However, this change CAN NOT be done within the constructor as these two opcodes refer to two different pieces of data there and are not interchangeable.

[2020-11-09 13:55] mijovic commented on #10128
I'll check once more and update

[2020-11-09 13:59] axic opened #10238 "Add editorconfig-checker to the CI"
See https://editorconfig-checker.github.io/

i.e.g what is the point having the `.editorconfig` if we don't enforce it. This tool helps to do that.

[2020-11-09 13:59] axic commented on #10238
@cameel @christianparpart since you have modified the configuration, what do you think?

[2020-11-09 14:34] cameel commented on #10238
I'm all for enforcing it for newly created files but I'm not sure it's a good idea for existing ones. Currently a lot of files don't stick to these rules unfortunately. It would require reindenting a lot of code and make `git blame` less useful.

Anyway, even without enforcing it I think that `.editorconfig` is useful because many editors recognize it (there's even a vim plugin: https://github.com

[2020-11-09 14:47] axic commented on #8145
![Screenshot 2020-11-09 at 14 45 38](https://user-images.githubusercontent.com/20340/98555769-3ede5c00-229a-11eb-86e0-c3ebd9ad7a46.png)

The tests are available here: https://github.com/dddejan/solidity-semantics-tests/tree/master/contracts

Also extracted some examples from the paper:

Fig 1:
[code]

Fig 12 (dangling pointer):
[code]

[2020-11-09 14:52] axic commented on #10238
In general I disagree with this statement, as that would mean that projects can never fix their code style. And `git blame` works even after reformatting, for affected lines just need to do blame on the commit prior.

While it is unfortunate not enforcing rules earlier, I think it is a bad direction not enforcing it ever.

[2020-11-09 15:00] chriseth commented on #10238
I don't think we need to enforce it. It is a recommendation.

[2020-11-09 15:28] leonardoalt commented on #8145
I think a big chunk of the unsupported cases is related to memory/storage aliasing

[2020-11-09 15:45] chriseth commented on #9607
@bshastry the compiler tries to resolve `f` but there are two candidates. Overload resolution does not work by checking which option would result in fewer errors, it works by looking at the types of arguments in the function call. No function is called here, so it cannot be resolved without ambiguity.

[2020-11-09 15:58] axic commented on #10238
Why do we have coding styles, guides, and recommendations, when we do not make use of it? Sounds rather pointless to me.

[2020-11-09 16:42] #10200 closed, assigned to nobody

[2020-11-09 16:50] axic commented on #3042
`mul(div(add(x, 31), 32), 32)` -> `and(add(x, 31), not(31))`

Or are we thinking about a generic rule:
`mul(div(add(x, a), b), b)` -> `and(add(x, a), not(a))` where `b == a + 1`, `b >= 1`, and `b` is a power of 2?

[2020-11-09 17:11] chriseth commented on #3042
could also be more generic

[2020-11-09 19:28] cameel commented on #9583
From https://github.com/ethereum/solidity/pull/10241#pullrequestreview-526581636: I think there should be just one top-level try...catch block around everything in the CLI interface that catches exceptions not properly handled below, reports any diagnostic info it finds and exits. Currently there are multiple ad-hoc try...catch with very limited scope that look as if they were going to handle erro

[2020-11-09 21:05] #10178 closed, assigned to axic

[2020-11-09 21:41] axic opened #10243 "[ewasm] Change dataoffset/datasize to return i32"
Currently `dataoffset`/`datasize` return i64, however the wasm memory model is 32-bit currently and the Ewasm `codecopy`/`extcodecopy`/etc host functions also deal with 32-bits.

[2020-11-10 07:27] gitpusha commented on #10084
This also gives an unwanted compiler warning: `Unnamed return variable can remain unassigned. Add an explicit return with value to all non-reverting code paths or name the variable.`

[code]

[2020-11-10 10:45] mijovic commented on #10128
It actually fails in `readFromStorage` for `bytes` Array which is inside of struct
[code]
when generating getter for `mapping (uint => Transaction) public transactions;`

[2020-11-10 12:29] cameel commented on #10117
Just to update the status here, this still fails for the same reason (`datasize` referring to its own object), but now more gracefully:

[code]

The failing assertion:
[code]

[2020-11-10 12:39] chriseth commented on #10243
Please do it!

[2020-11-10 12:50] #6643 closed, assigned to nobody

[2020-11-10 15:13] chriseth commented on #7744
Implemented by https://github.com/ethereum/solidity/pull/10029

[2020-11-10 15:13] #7744 closed, assigned to hrkrshnn

[2020-11-10 15:23] #9554 closed, assigned to nobody

[2020-11-10 17:42] agroce opened #10252 "[SMTChecker] SMT logic error in function static solidity::smtutil::Expression solidity::smtutil::Expression::int2bv(solidity::smtutil::Expression, size_t)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  Version: 0.7.5-develop.2020.11.10+commit.d3a016b5.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution e

[2020-11-10 18:08] montyly commented on #1771
Is there any update on this feature?

That would be super helpful for third-party analyzers to have access to the user-comment

[2020-11-10 23:12] Karocyt commented on #10119
## French Doc State

I started the [French Docs](https://solidity-fr.readthedocs.io/fr/latest/) during my first year as an IT student.

I translated half of it in one go in late 2018 and only got it up to date last June (synced with [`release v0.6.8`](https://github.com/ethereum/solidity/commit/0bbfe45376768007a38bfd65f8ea449935306037)), but still in a partially translated state.

### Do *we* need

[2020-11-10 23:25] axic commented on #10117
It wasn't implemented, just the graceful assertion was added.

The generator needs to
a) keep the current object name in order to support that,
b) keep a placeholder value for the `size` and patch it after final assembly.

That placeholder can be a `i32.const` with padding and storing the list of offsets to update, or it could refer to a single global, which again has an `i32.cons` with padding. L

[2020-11-10 23:34] cameel commented on #10117
Yeah, I was just stating that to make it clear that #10121 wasn't the fix (I initially thought that it might have been).
But thanks for explaining it in detail. That's even more helpful.

[2020-11-10 23:40] axic commented on #9653
Was this fixed?

[2020-11-10 23:53] axic commented on #4182
Is this still the case with the IR?

[2020-11-10 23:54] axic commented on #7520
There's also #5542 as a relevant issue.

[2020-11-10 23:57] axic commented on #7520
If we have such a system, I think `<` and `>` prefixes would be nice (diff-style), e.g.:
[code]

But @ekpyron's proposal in #5542 of defining equalities may be more intuitive:
[code]

[2020-11-11 10:30] chriseth opened #10254 "Re-evaluate unicode tricks in comments"
We should re-evaluate which unicode characters we disallow in comments and strings. Especially RTL markers come to mind.

[2020-11-11 10:55] chriseth commented on #10119
Thanks a lot for your insights, @Karocyt ! You are probably right that incomplete translations are not a problem. I'm currently leaning towards having translations in their own repository. Those could probably be forks of the main repository and are linked via github actions or other automation tools. I'm not sure if the proposed way through `.po` files is really useful - a first trial showed that

[2020-11-11 11:00] chriseth commented on #4182
Yes, even with IR

[2020-11-11 11:34] bshastry opened #10256 "[Typechecker] Bad cast during negation of fixed point type variable in contract function"
## Description

[code]

throws a `std::bad_cast` here

https://github.com/ethereum/solidity/blob/141277dadfe4a75e250fd2abfed89d98fb694d4a/libsolidity/codegen/YulUtilFunctions.cpp#L3401

because `fixed` and `integer` types are unrelated by inheritance. Surprisingly, free functions do not demonstrate this bug e.g., `function f() pure { fixed x; -x; }`

## Environment

- Compiler version: latest brea

[2020-11-11 11:50] bshastry opened #10257 "[TypeChecker] Null dereference during explicit cast of hex literal to address type"
## Description

[code]

dereferences a nullptr here

https://github.com/ethereum/solidity/blob/141277dadfe4a75e250fd2abfed89d98fb694d4a/libsolidity/ast/Types.cpp#L976

in the call to `integerType()->numBits()` because `integerType()` returns a nullptr.

## Environment

- Compiler version: latest breaking

## Steps to Reproduce

[code]

[2020-11-11 12:25] chriseth commented on #9653
@hrkrshnn I think this was not needed in the end, was it?

[2020-11-11 12:26] hrkrshnn commented on #9653
Running LiteralRematerialiser before the step was enough. So closing.

[2020-11-11 12:26] #9653 closed, assigned to nobody

[2020-11-11 13:21] franzihei opened #10260 "[Docs] Add goals and design rationale of Solidity to intro section of the docs"
It would be nice to have a general goals and high level design rationale section in the introductory section of the Solidity docs.

### Examples

Something around the lines of:
- This [C++ FAQ section](https://isocpp.org/wiki/faq/big-picture#what-is-cpp)
- This [Rust doc introduction](https://doc.rust-lang.org/book/ch00-00-introduction.html#who-rust-is-for)
- This general introduction in the [Go d

[2020-11-11 13:25] axic commented on #10254
Here are the lists of different control blocks: https://en.wikipedia.org/wiki/Unicode_control_characters

Perhaps we should disallow control blocks and add some explicit exceptions for the ones we want to allow. As for RTL it possibly is something we want to support.

[2020-11-11 15:15] axic commented on #6905
In Fizzy we went all-in:
[code]

Maybe at some point in the future we can get closer to that in Solidity.

[2020-11-11 15:24] franzihei commented on #10119
Thanks for your comments and insights @Karocyt! Please note that we're still in the exploration phase on how to improve the translation process. We'll try out different approaches and once we're settled on a rough process we'll update the community about it. :)

With these efforts I'm trying to streamline the translation work done, ensure high quality and consistency while also being able to provi

[2020-11-11 16:04] fxfactorial opened #10261 "notion of constant expression should include immutable"
On solidity 0.7.1, I get

[code]
where sized defined as `uint256 immutable sized`

so it seems that something around here in `DeclarationTypeChecker.cpp` could be more accommodating of immutable based expressions.

[code]

[2020-11-11 16:20] chriseth commented on #10261
The value of an immutable variable is (in general) a runtime value. You cannot generate code for statically-sized arrays whose length depends on a runtime value:
[code]

Is it really a runtime variable for you or can you just as well use `constant`?

[2020-11-11 16:26] fxfactorial commented on #10261
How is it runtime? as I understood - the immutable are placed in right after constructor args - or its runtime wrt what the compiler can do at that moment ?

[2020-11-11 16:27] fxfactorial commented on #10261
ah - just reread your code example - makes sense now

[2020-11-11 16:27] #10261 closed, assigned to nobody

[2020-11-11 22:31] axic commented on #7520
1. In this the core syntax is equality of expressions (from @ekpyron). Where there is no loss of information (replacing instructions with faster instructions, such as shifts), it could reversible too.
2. A condition can be introduced via `iff <expr>`. Expressions here must be "constexpr". We borrow the idea from Rust to mark these constexpr versions (macros) with exclamation mark, e.g. `sub!`, `lt

[2020-11-11 22:45] axic commented on #7520
If we want to not have magic variable names, then as mentioned we need a way to mark literals. I think the `#` prefix on the match is an okay way do it, but probably makes sense to keep that prefix on both sides.

[2020-11-11 23:03] axic commented on #7520
Here are some more, line-by-line translations:
[code]

[2020-11-11 23:48] axic commented on #5542
Closing this in favour of the discussion in #7520.

[2020-11-11 23:48] #5542 closed, assigned to nobody

[2020-11-12 01:24] axic opened #10269 "Remove unneeded includes in files"
It seems there is a very large number of includes which are imported without any reason. Most of these are remnants of old code.

Removing them could allow for nicer separation of concerns, but could also speed up compilation.

Is there a simple tool which could show includes whose declarations are not really used in a given file?

[2020-11-12 01:50] Karocyt commented on #10119
@chriseth : The thing with force-accepting the remote changes is that you loose a line on each typo/rephrasing, that don't necessarily needs to be corrected on the translated version.
There is also the problem of sections permutations: when I did my big version bump, the merge was a huge mess but most of it was just about sections moving around.
Both issues could be mitigated by requiring a review

[2020-11-12 09:02] chriseth commented on #7520
This looks very good! Some remarks:

- I'm not sure about the `==` if the two sides are not really equal (you can use `lt!(#A, #B)` on the RHS but not on the LHS).
- `iff` should be `if`
- maybe we should replace `wordsize` by `bitsPerWord` and `bytesPerWord`
- maybe use `!lt` instead of `lt!`?

Finally: Why not have
[code]
instead of
[code]

[2020-11-12 12:39] axic commented on #7520
You can use the evaluated terms on either side, but perhaps it is better to go with the direction indicator `->` and not allowing implicit reversibility.

We could also decide to make the rulelist dialect specific and then this is not needed.

That also sounds like an option, but would make it look like the `datasize` builtin and use a literal and not identifier: `evm!("hasBitwiseShifting")`

Not

[2020-11-12 15:55] axic opened #10274 "[CLI] Expose all settings present in standard-json to the cli"
(This issue is splitting up #8847.)

[2020-11-12 15:58] axic opened #10275 "[CLI] Allow for printing output without headings (such as bytecode)"
(This issue is splitting up #8847.)

EDIT by @cameel:
One addition to the task (moved from #4617):

Doing this makes piping IR output more annoying so we should really to it after we have an option to disable frames.

[2020-11-12 16:06] axic opened #10276 "[CLI] Do not generate serialised JSON fields in --combined-json output where unneccesary"
(This issue is splitting up #8847.)

@MrChico:

@axic:

---

Proposal: change some of the below to not be quoted. `abi`, `devdoc`, `userdoc`, `storage-layout` could be changed, but `metadata` has a secondary objective to be the exact match of what is encoded.

---

[code]

[2020-11-12 16:06] axic commented on #8847
Split this into three separate issues.

[2020-11-12 16:06] #8847 closed, assigned to nobody

[2020-11-12 16:12] axic opened #10277 "[CLI] Add an option which considers warnings as errors (and aborts accordingly)"
This was brought up in https://github.com/ethereum/solc-js/issues/169

[2020-11-12 16:20] axic opened #10278 "[CLI] Drop --combined-json option and direct users to standard json"
Closes #10276.

[2020-11-12 20:53] g-r-a-n-t commented on #8772
In terms of the ABI, is there a reason for limiting the size of fixed-size byte arrays?

It seems like developers would be better off using fixed-size byte array fields larger than 32 bytes here.

In Fe, we currently [allow for this](https://github.com/ethereum/fe/blob/974efcf59c30c056ea4e65161695866fe2cdb51c/compiler/tests/fixtures/guest_book.fe#L1) and encode the data as a fixed-size value. I ac

[2020-11-12 21:06] axic opened #10279 "Strange type derivation in ternary operator"
[code]

gets translated into:
[code]

likewise in the IR:
[code]

Basically what seems to happen is the type suiting the largest literal (2300 vs 0 -> `uint16`)) is decided as rhs, despite what is the lhs type (`uint256`). The effect is that we get an extra unneeded `and(A, 0xffff)`.

[2020-11-12 21:26] axic opened #10280 "Replace custom shellcheck script with CircleCI shellcheck orb"
This was previously attempted in #9448.

[code]

It lists a lot of issues, even a bunch of unused variables or misused things, but most of the warnings are for not quoting things.

[2020-11-12 21:59] axic commented on #4617
#8646 is a related question which could be useful here.

[2020-11-12 22:07] axic opened #10281 "Natspec: text before the @notice tag gets included as part of it"
[code]

results in
[code]

[2020-11-12 22:11] axic commented on #10281
Also text after the notice tag is included no matter how many empty lines:
[code]

[code]

Inserting a tag between the notice and trailing text works as expected (well, the text on the new line is also part of `@return):
[code]

[code]

I start to think this is by design :)

[2020-11-12 22:19] #9993 closed, assigned to nobody

[2020-11-12 22:28] axic opened #10282 "Standard library"
This was recently mentioned in the EthOnline [Future of Solidity](https://axic.github.io/notes/summit/future_of_solidity/#/31) talk, but we have been discussing this here and there for the past months, and goes back as early as #228.

The goal is to move functionality out of the compiler into code written in Solidity and slowly build out a standard library -- lets call it `stdlib`. Files/contracts

[2020-11-12 22:32] axic opened #10283 "Introduce solidity.evmVersion() to query the target EVM"
Introduce `solidity.evmVersion()` function which returns an enum of `enum solidity.EvmVersion { Homstead, TangerineWhistle, SpuriousDragon, ... }`.

This would mean the `solidity` identifier is reserved for "language magic", but we could consider such functions to be explicitly importable instead from the special solidity source:
[code]

This would be useful for implementing features in #10282.

[2020-11-12 23:03] axic commented on #9282
Added some examples in #10282: https://github.com/ethereum/solidity/blob/stdlib/stdlib/assembly.sol

[2020-11-12 23:20] axic commented on #3819
I did some work with this, but it is a deep rabbithole.

[2020-11-13 00:40] Jaime-Iglesias opened #10284 "[Docs] Unclear description of valid struct initialization on previous solidity versions"
Going through the docs, particulary the struct [section](https://solidity.readthedocs.io/en/v0.7.4/types.html#structs),  there's this particular code snippet:

[code]

This snippet, **in my interpretation**, hints that a struct cannot be created in-memory if the struct type contains a mapping. This seems reasonable since the next section of the docs, [mapping types](https://solidity.readthedocs.io

[2020-11-13 07:32] hrkrshnn commented on #10279
Can't the ir-optimizer clean it up?

[2020-11-13 10:31] leonardoalt opened #10285 "[SMTChecker] Support external getters for public state variables"

[2020-11-13 10:56] #8722 closed, assigned to nobody

[2020-11-13 10:56] #9579 closed, assigned to ekpyron

[2020-11-13 11:13] chriseth commented on #10282
I think an option to export the stdlib to the filesystem could be a nice addition to the commandline: ``solc --export-stdlib /my/folder/to/store/it``. Then users could choose to use the built-in stdlib or the ones in a local folder. We have to decide what to do on a name clash. Maybe it would be fine to allow both to be imported in the same way and check for equality. If there is a change, it has

[2020-11-13 11:28] #9385 closed, assigned to nobody

[2020-11-13 23:49] axic opened #10288 "Replace ASTString by vectorRef (or std::span) to the source code"
From [pivotaltracker](https://www.pivotaltracker.com/story/show/82260032):

We could actually consider making `ASTString` a `span` to the source, but I don't see the memory savings benefit being worth the complexity.

If we agree on that, I suggest to get rid of the extra typedef and just use `std::string`.

[2020-11-13 23:49] axic commented on #10288
Furthermore what is the story with `ASTPointer` and this comment (the below is from `libsolidity/ast/ASTForward.h`, also in [pivotaltracker](https://www.pivotaltracker.com/story/show/82180346)):
[code]

[2020-11-14 03:17] cameel commented on #10082
I don't know if we'll be changing this behavior but now it's at least documented in the section about linker (#10291).

[2020-11-14 04:40] cameel opened #10298 "[CLI] Unqualified library name in --libraries option matches any qualified link reference with the same library name"
As reported in #10290, `LinkerObject` contains a [workaround for old-style link references in `LinkerObject`](https://github.com/ethereum/solidity/blob/v0.7.4/libevmasm/LinkerObject.cpp#L78-L85) that strips file names from the link references found in the code if an exact match does not work.

The consequence is that omitting the file name in library identifiers passed to the linker (e.g. `--libra

[2020-11-14 04:41] cameel commented on #10298
The fix is simply to remove the offending lines. The problem is that this makes a lot of tests fail because they tend to omit the library file name. Fixing that will be tedious.

[2020-11-14 04:47] cameel opened #10299 "Inconsistent library address validations between CLI and Standard JSON"
Checks applied to the value of `--library` option in CLI are not exactly the same as the ones for `libraries` in Standard JSON. For example only CLI checks address checksum. The validations should be reviewed and unified.

[2020-11-14 08:08] norhh opened #10300 "Solc srcmap and sources incoherent"
## Description
An source index was found in srcmap which didn't exist in any output['contracts'][sourceName][contractName]['evm']['bytecode']['generatedSources'] or output['sources'][sourceName]['id']  mentioned in https://solidity.readthedocs.io/en/v0.7.4/internals/source_mappings.html?highlight=source%20map.
## Environment

- Compiler version: 0.7.4
- Target EVM version (as per compiler settings

[2020-11-14 23:19] ekpyron commented on #7520
I just saw this discussion and would bring up the following:
- I don't really see any value in rules like ``add(#A, #B) == add!(A, B)``. I would rather split evaluation away from simplification. Rather than evaluation being simplification rules, I would just mark functions like ``add`` as pure in the dialects and add a C++ evaluation function to them, s.t. such pure functions can generally be eval

[2020-11-15 01:49] johhonn opened #10301 "Type deduction of multi dimensional uint Arrays defined in storage"
## Description

Error:"TypeError: Unable to deduce common type for array elements."
When defining multidimensional arrays in storage a difference in the max values of a given element triggers a type deduction error. If all elements of one sub array are less than 8  bits and one or more elments are above 8 bits in another sub array an error is thrown even though both elements are of type uint256[].

[2020-11-15 12:45] axic commented on #10119
![Screenshot](https://user-images.githubusercontent.com/20340/99185193-34abda00-2740-11eb-9d97-ec5f6d97ed39.png)

On readthedocs we also have a translation feature turned on. Clicking on `zh` above (for "Simplified Chinese) goes to https://solidity.readthedocs.io/zh/latest/, which does not seem to have any translation. It is apparently this repository: https://readthedocs.org/projects/solidity-zh/

[2020-11-15 13:10] Jaime-Iglesias opened #10302 "No compiler warning when declaring "same function" with different data location."
Solidity 0.7.4.

[code]
If _data location_ is not part of the function selector calculation, why does the compiler allow the above declarations ? Shouldn't it throw some sort of declarationError ? Perhaps it's interpreted as function overloading by the compiler and that's why it doesn't complain until you try to use the last declaration ?
I think it's especially confusing because the compiler will

[2020-11-16 03:13] GeorgeSheridan commented on #10035
Should this issue be labeled as Good First Issue?

We are doing research about how to help newcomers onboarding in an open source project and how to accelerate the issue resolving process.
We have developed a tool to automatically label the Good First Issue (GFI), i.e., the issue which is good for newcomers.
We first extract 72 features from different dimensions of issue reports, such as readabili

[2020-11-16 03:27] GeorgeSheridan commented on #10007
Should this issue be labeled as Good First Issue?

We are doing research about how to help newcomers onboarding in an open source project and how to accelerate the issue resolving process.
We have developed a tool to automatically label the Good First Issue (GFI), i.e., the issue which is good for newcomers.
We first extract 72 features from different dimensions of issue reports, such as readabili

[2020-11-16 09:02] hrkrshnn commented on #10302
The compiler is not complaining because it's an internal function. Even though the selector would be the same, those functions are never part of the ABI.

[2020-11-16 09:09] hrkrshnn commented on #10281
I think the rule is that NatSpec comment without a tag is assumed to be notice. That explains all the above situations.

[2020-11-16 09:31] hrkrshnn commented on #10007
@GeorgeSheridan no.

[2020-11-16 10:04] Jaime-Iglesias commented on #10302
@hrkrshnn Thx for the answer, you are right (totally goofed there) - So, regardless of that, even if they are just two jumps why allow the declaration if the compiler will complain anyway when trying to use both functions ? Does it have a purpose ?

[2020-11-16 10:14] bshastry opened #10303 "[Codegen] ICE in ContractCompiler::appendModifierOrFunctionCode"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/14ed67ac4bdfa540c405fc292c2b2293bca51fdf/libsolidity/codegen/ContractCompiler.cpp#L1304

## Environment

- Compiler version: latest breaking

## Steps to Reproduce

[code]

[2020-11-16 10:21] hrkrshnn commented on #10302
Good question.

Interestingly, the following compiles

[code]

However, we have problems with calling the function which has storage as argument. Maybe this really is a bug.

[code]

[2020-11-16 10:33] chriseth commented on #10156
Fixed in #10239

[2020-11-16 10:33] #10156 closed, assigned to nobody

[2020-11-16 10:43] chriseth commented on #10195
We will re-evaluate this, but it is probably too late to be included since it is a rather complex topic. The conversion rules will be simplified with 0.8, which could make this easier to add.

[2020-11-16 12:09] leonardoalt commented on #10298
That sounds rather serious, doesn't it?

[2020-11-16 12:32] axic commented on #8725
While we're at it, we should also add a `published` or `timestamp` field with a date to each entry.

Update: Apparently in the documentation we state `publish` is a field, but we never used it. I'd rather rename that to `published` and start using it.

[2020-11-16 12:32] cszcli commented on #10284
Hi Jamie,

Your conclusion is great! But I have a question about the sentence "because the RHS creates a memory-struct".
Would you please tell me what is RHS short for?

Best Regards!

[2020-11-16 12:39] Jaime-Iglesias commented on #10284
Hey, I think the docs mean "Right Hand Side" As in referring to the right part of the statement `campaigns[campaignID] = Campaign(beneficiary, goal, 0, 0)` i.e They are saying that `Campaign(beneficiary, goal, 0, 0)` is creating a struct in-memory.

This is my interpretation though, maybe RHS is short for something else (hard to tell).

[2020-11-16 12:44] axic opened #10305 "[CLI] Replace colon with equal sign for --libraries"
_Originally posted in https://github.com/ethereum/solidity/pull/10292#discussion_r524202385_

[code]

Currently the libraries option separates library name and address with a colon. However library name contains a colon too to separate the filename from the library name.

I think it would make sense to replace that colon separating the address with an equal sign, such that we would be using it as:

[2020-11-16 12:45] cszcli commented on #10284
Hi Jamie,

I think that's correct. Thanks very much for your help!

Best Regards!

[2020-11-16 12:46] cameel commented on #10035
Oh, interesting.

Yeah, it's a simple change and it might be a good first issue but it's already solved. Here's the PR #10035 (currently going through review).

[2020-11-16 13:09] axic commented on #10281
Why do we have `@notice` then? It seems to be confusing.

Can we remove `@notice` and say that every untagged natspec comment is included as a "comment" field?

However what happens in the case where there comments and tags intermixed. Are all the comments concatenated together?

[2020-11-16 13:21] blishko opened #10306 "[SMTChecker] BMC engine reports false positives with function calls in the implicit constructor"
Here is a simple example:
[code]

Here is the output of the BMC engine (`--model-checker-engine BMC`):

[code]
The  first report is expected because BMC analyzes the method `initY` as standalone.
But the second report is from the analysis in the context of the `constructor` call and there BMC should have all the information to prove the assertion correct.

[2020-11-16 13:40] cameel commented on #10298
Maybe? I don't think it's even documented that you can do that. The docs say you have to use `--libraries file.sol:L` and in that case the problem won't happen. But yeah, skipping the file name is an easy mistake to make so it's not a reason not to fix it :)

#10290 more serious because there's no workaround.

[2020-11-16 14:21] chriseth commented on #10300
This source index references the internally generated utility file, please see the third paragraph in https://docs.soliditylang.org/en/latest/internals/source_mappings.html

[2020-11-16 14:23] hrkrshnn commented on #10281
I wasn't there when this was designed. My guess is that the no-tag -> notice was done so that existing `///` doesn't break.

I think removing `@notice` might be too much now, since that will break a lot of contracts. Maybe removing comments without tags might make more sense.

[2020-11-16 14:25] blishko commented on #10306
The description of the problem has been updated, the previous example did not take into account the fact that BMC analyzes methods in isolation.

[2020-11-16 16:01] norhh commented on #10300
I can't find them in `output['contracts'][sourceName][contractName]['evm']['bytecode']['generatedSources']` as mentioned in the third paragraph, generatedSources give `[]`

[2020-11-16 16:26] cameel opened #10308 "[CLI] Rewrite solc --link to use LinkerObject"
Extracted from https://github.com/ethereum/solidity/pull/10297#discussion_r524260360:

@axic

[2020-11-16 18:49] chriseth commented on #10300
Can you provide the full standard-json input you are using?

[2020-11-16 18:50] chriseth commented on #10302
The overload resolution allows implicit conversions. Ranking direct matches higher has been planned for a long time, but since nobody complained in years, it was not implemented: https://github.com/ethereum/solidity/issues/1256

[2020-11-16 18:51] chriseth commented on #10302
Closing as duplicate, please comment in #1256

[2020-11-16 18:51] #10302 closed, assigned to nobody

[2020-11-16 19:13] Jaime-Iglesias commented on #1256
What is the current thinking around this issue ?

[2020-11-16 19:15] chriseth commented on #10035
@GeorgeSheridan this is very interesting indeed! Could you identify other issues in this repository to be potentially labelled GFI?

[2020-11-16 19:16] chriseth commented on #10035
Implemented in https://github.com/ethereum/solidity/pull/10247

[2020-11-16 19:16] #10035 closed, assigned to nobody

[2020-11-16 23:17] cameel commented on #10301
Yeah, looks like a bug to me (or at least an undocumented omission) because the docs say that [there must be a common type for all elements are convertible to](https://docs.soliditylang.org/en/v0.7.4/types.html#array-literals) and this is clearly the case here. `[100,150,100,0,60]` (of type `uint8[5]`) is implicitly convertible to `uint16[5]` (the type of `[257,50,80,0,3]`). I think the compiler s

[2020-11-16 23:33] cameel commented on #10284
Yes. that's exactly what it means. "right hand side" and "left hand side" are used a lot in some contexts so RHS and LHS are common shortcuts. But I see that it's used only once on that page. I think it would be fine expand it to avoid confusing people unfamiliar with it.

I agree. It would be a useful piece of information here.

@Jaime-Iglesias Would you like to submit a PR with that change? Good

[2020-11-16 23:51] chriseth commented on #10301
I think this is even an FAQ: You have to specify a "proper" type for at least one element of an inline array of literal numbers. The reason is that there is no common type between two different literal numbers - none of them can be converted to the other. Furthermore, I think it is correct to not assign allow such arrays without an explicit type.

[2020-11-16 23:52] chriseth commented on #10301
I think the sentence `In the example below, the type of [1, 2, 3] is uint8[3] memory. ` is the documentation is wrong and should be adjusted.

[2020-11-17 01:17] haltman-at opened #10311 "Try/catch can still error if Solidity's own pre-call or post-call checks fail; should jump to catch block instead"
## Description

(Note: I rewrote this issue after realizing it's more general than I originally thought.)

The `try`/`catch` construction is supposed to allow one to catch errors from external calls and handle them.  But, Solidity also makes various checks of its own both before and after making an external call, and will error if these checks fail.  If the external call in question has an associa

[2020-11-17 05:27] norhh commented on #10300
[code]

has `7:139:1:-` as a source map but I couldn't find any sources with `1` as index and
`data['contracts']['solidity_examples/origin.sol']['Origin']['evm']['bytecode']['generatedSources']=[]`

[2020-11-17 05:36] haltman-at commented on #10311
Actually, I'm pretty confused as to why this check is there, given that `EXTCODESIZE` is of cost comparable to a call...

[2020-11-17 07:30] haltman-at commented on #10311
Note: Significantly rewrote the original issue after determining it was more general than I originally thought.

[2020-11-17 09:14] miohtama opened #10312 "payable function modifier documentation not found"
## Abstract

I cannot find documentation for `payable` in Solidity docs.

Not sure if this is because of lack of table of contents, per page table of contents in the documentation or this documentation simply does not exist.

Here is a Sphinx search https://docs.soliditylang.org/en/v0.7.4/search.html?q=payable&check_keywords=yes&area=default#

Here is a Google search https://www.google.com/search?

[2020-11-17 09:47] chriseth commented on #10312
Thanks for opening this issue! There is indeed not much documentation about it. We should add a section "state mutability" in https://docs.soliditylang.org/en/latest/contracts.html#functions.

[2020-11-17 09:51] franzihei commented on #10119
Dropping new learnings here so we have them all in one place:

### Example for a purely Github-driven workflow (ReactJS)

React, as in the React website and docs, are translated into several languages by community contributors. To streamline the process and ensure quality and to solve the versioning/updating issue they came up with the following workflow. (Read the full story [here](https://reactj

[2020-11-17 10:32] chriseth commented on #10311
The design choice behind this is that if you reach the catch block, then the call reverted. Other reasons for failure might not lead to the catch block. This is in line with try-catch not being available on internal calls.

[2020-11-17 10:34] chriseth commented on #10300
Can you provide the standard-json INPUT you are using? I would like to reproduce the issue. What you quoted above is the output.

[2020-11-17 10:34] #10306 closed, assigned to blishko

[2020-11-17 12:25] chriseth opened #10313 "During "enforce yul" mode, different return value should be a hard error"
In isoltest, when we are running in "enforce yul" mode, it should be a hard error if the yul version works but returns something else. Currently, this problem is silently skipped.

[2020-11-17 12:34] chriseth commented on #7830
I think it's a good idea to drop machine and just say that we compile to yul and then potentially translate yul to another yul dialect that is close to some machine. The final stage is an assembler that is tied to the dialect (some intermediate dialects mightnot have an assembler).

One reason for "typed yul" was to introduce a `bool` type that could make some functions safer and also clear up the

[2020-11-17 12:35] chriseth commented on #7830
Oh and another comment: I would like to keep the "yul ir" dialect more or less in flux so that we can introduce breaking changes as we go (like introduce memory objects and so on).

[2020-11-17 12:38] leonardoalt commented on #7830
Also agree with the cleanup and single `--yul` option

[2020-11-17 12:54] #9947 closed, assigned to Marenz

[2020-11-17 13:21] leonardoalt commented on #7830
After a long discussion on Gitter, I agree with the triplets idea.
I slightly disagree with the triplets that would be needed to replace the current behaviors we have.
To me they would be:
* evm-\<hardfork\> -- the EVM machine target for a given hardfork
* ewasm-\<hardfork\> -- the ewasm machine target for a given hardfork (and the only supported configuration is ewasm-byzantium)
* evm-eip615 -- m

[2020-11-17 15:25] chriseth commented on #10281
I think you can have
[code]

But probably we should disallow `@notice` if there is already untagged text in front of it.

[2020-11-17 15:54] Jaime-Iglesias commented on #10284
@cameel Sure, I think I will have some spare time this weekend - Is there any sort of "guide" that I should take a look before contributing ? Like, how the docs are generated, etc...

[2020-11-17 16:19] gitpusha opened #10317 "Feature Request: solc 0.8 and solc 0.7"
I guess this is more like a santa wish list. I did not by any means research the complexity of the underlying issues. I am just getting it out there for santa 🎅

1. full support for `calldata` arrays / structs (see https://github.com/ethereum/solidity/issues/9160)

2. `try catch` for `abi.decode`

3. `try catch` for internal/private functions (I guess not needed if `try catch` for failing things l

[2020-11-17 16:43] norhh commented on #10300
[code]

[2020-11-17 17:44] chriseth commented on #10303
Fixed by https://github.com/ethereum/solidity/pull/10307

[2020-11-17 17:44] #10303 closed, assigned to nobody

[2020-11-17 17:47] chriseth commented on #10278
I think it has some features that standard json lacks.

[2020-11-17 19:04] axic commented on #10278
Can you list those? We should add it to standard json.

[2020-11-17 20:27] cameel commented on #10278
It does not have the equivalent of `--link` option.

Also, I think it does not have equivalents of all the options available in assembly mode (`--machine`/`--yul-dialect`/`--assemble`/`--yul`/`--strict-assembly`) options though I'm not 100% sure because I haven't checked how they map to the JSON input.

[2020-11-17 20:28] cameel commented on #10278
EDIT: Ignore my previous comment I just noticed that it's about `--combined-json`, not `--standard-json`.

[2020-11-17 21:27] cameel commented on #10284
@Jaime-Iglesias Great! There's a [short style guide in the docs](https://docs.soliditylang.org/en/latest/contributing.html#documentation-style-guide).

To build/re-build it you just run `scripts/docs.sh`. You of course need to check out a copy of the repo and it might be a good idea to create a virtualenv for the libraries if you don't want to install them globally. Here's a snippet I'm usually us

[2020-11-18 11:09] #8917 closed, assigned to chriseth

[2020-11-18 11:35] saurik commented on #8917
@chriseth Does this new patch support being able to get the calldata offset of a non-dynamic non-array calldata variable, such as (specifically, for my interests) a struct?

[2020-11-18 12:40] cameel commented on #9982
I can at least confirm that the checkout of `solc-bin` is faster on CircleCI. Takes about 2 minutes compared to 7 minutes on Github Actions.

[2020-11-18 13:26] christianparpart commented on #10254
Interesting site: https://www.compart.com/en/unicode/bidiclass

* [ ] RLO (right-to-left override)
* [ ] LRO (left-to-right override)
* [ ] PDF (pop directional override)

There are some "Isolation" marks that seem to be stackable. I'm not sure yet we should take care about those.

[2020-11-18 14:05] bshastry opened #10328 "[Testing] Add compilation tests to breaking"
- [ ] Add ens contracts (see https://github.com/ethereum/solidity/pull/10343)
- [ ] TODO

[2020-11-18 14:06] cameel opened #10329 "wasm binary for 0.5.17 is missing in solc-bin"
We only have asm.js build for 0.5.17 so it's not present in [solc-bin/wasm](https://github.com/ethereum/solc-bin/tree/gh-pages/wasm). Looks like wasm rebuilds did not include it because they were done before that version was released.

[2020-11-18 14:07] cameel commented on #10329
I originally thought that we just need a symlink and wanted to add it now but it turns out we need to actually rebuild it. I'm reporting it to get back to it later.

[2020-11-18 15:07] thegostep opened #10331 "Inherited modifier contract prefix"
## Abstract

Recent changes to the language have made the language much more explicit. The ability to specify the source contract from which a modifier is called seems to be missing.

## Motivation

[code]

## Specification

See above

## Backwards Compatibility

None

[2020-11-18 16:03] cameel commented on #10331
Thanks for feedback!

This is actually already implemented in #10307. The change was merged into `breaking` branch yesterday so it will be released in 0.8.0.

[2020-11-18 16:03] #10331 closed, assigned to nobody

[2020-11-19 01:02] haltman-at commented on #8917
@chriseth Should I open a new issue for my suggestion above about external function pointers?

@saurik While I'm not @chriseth (or even on the Solidity team :P ), I'm pretty sure I can answer your question: You could already do that!  In assembly, that offset is what the variable would contain (as that's what's in the variable's stack slot).  No need for any additional syntax.  Am I mistaken there

[2020-11-19 09:56] saurik commented on #8917
@haltman-at OK... touche; I now don't remember what problem I ran into that led me to care about this issue in the first place, but it apparently wasn't "non-dynamic structs" as I just tested that and it worked (and in fact so did dynamic structs). Maybe I had a dynamic array somewhere before (I have long since rearchitected all of my code to work around this issue, so it is hard to remember what

[2020-11-19 10:20] chriseth opened #10342 "In Sol->Yul, the code depends on AST IDs"
In Sol->Yul, internal function IDs are the IDs of the AST node of the function definition. This means that re-compiling with a slightly different AST results in different code being generated. Furthermore, function IDs could be needlessly large. We should find a different way to allocate these IDs.

[2020-11-19 11:40] cameel commented on #10301
If that's the case, why does the code below work? None of these causes a compilation error. As long as the literal is in the right range, it appears to be deduced to be `uint16`:
[code]

[2020-11-19 12:51] krasi-georgiev opened #10344 "[solc 0.5.16] Compilation succeeds, but output dir is empty."
With https://github.com/tellor-io/TellorCore/tree/V2.5.0

Running
[code]
returns
[code]
but the directory is empty

[2020-11-19 14:26] chriseth opened #10349 "Sol->Yul: string literals should not be converted to memory before stored in storage"
Assigning a string literal to a storage value should not need conversion to memory before.

There are several similar situations:

 - abi.encode("abc")
 - contract c { bytes m = "abc"; }
 - contract c { bytes m; function f() public pure { m = "abc"; }
 - x.push("abc")
 - in https://github.com/ethereum/solidity/pull/10759 we copy a literal to memory first before copying it to storage again.

[2020-11-19 14:55] chriseth commented on #10344
You did not specify any output to be created. There should be a message about that from the compiler, though.

[2020-11-19 14:57] krasi-georgiev commented on #10344
what about the `-o ./compile` flag?

[2020-11-19 14:57] chriseth commented on #8917
@haltman-at yes, please create an issue!

[2020-11-19 14:58] krasi-georgiev commented on #10344
I just tried moving the flag at the beginning, but no change
[code]

[2020-11-19 15:00] chriseth commented on #10301
Ah, ok, so the problem seems to be that the inner arrays have different types

[2020-11-19 15:06] chriseth commented on #10344
The '-o' just tells where to put "stuff", but you need to select stuff to be generated, like '--bin'.

[2020-11-19 15:14] chriseth commented on #10300
The sources are here: contracts["origin.sol"].Origin.evm.deployedBytecode.generatedSources

[2020-11-19 15:14] #10300 closed, assigned to nobody

[2020-11-19 15:15] chriseth commented on #10278
Maybe I confused this with non-json mode.

[2020-11-19 15:29] axic commented on #10278
Frameworks:
- [Waffle](https://github.com/ethworks/waffle): standard-json
- [Truffle](https://github.com/trufflesuite/truffle/tree/develop/packages/compile-solidity/compilerSupplier/loadingStrategies): standard-json
- [Embark](https://github.com/embarklabs/embark/blob/master/packages/plugins/solc/src/lib/Compiler.js): standard-json
- [dapptools](https://github.com/dapphub/dapptools/): uses `--comb

[2020-11-19 15:46] axic commented on #10278
@iamdefinitelyahuman could you explain whether you rely on `--combined-json` and if yes, why?

@MrChico likewise, could you explain if moving to `--standard-json` would be debilitating? :)

[2020-11-19 16:03] cameel commented on #10278
[Buidler/Hardhat](https://github.com/nomiclabs/hardhat): uses only [--standard-json](https://github.com/nomiclabs/hardhat/blob/2.0/packages/hardhat-core/src/internal/solidity/compiler/index.ts#L61-L75)

[2020-11-19 16:20] krasi-georgiev commented on #10344
yes apologies, user mistake, Thanks for the prompt reply!

[2020-11-19 16:20] #10344 closed, assigned to nobody

[2020-11-19 16:24] axic commented on #10278
@cameel thanks, added to the list above (please feel free to edit my comment if you check other frameworks)

[2020-11-19 18:01] Ferparishuertas opened #10354 "Optimizer = false, raises Stack too deep when compiling inline assembly"
As mentioned here https://github.com/sc-forks/solidity-coverage/issues/417#issuecomment-730526466, we are trying to execute solidity coverage for a Smart contract set with solidity 7.1, abiencoderv2 and the usage of structs.

We had the contract without structs, and as soon as we put pragma experimental ABIEncoderV2 on the contract, which is over 24kb, the following error appears. (using structs d

[2020-11-19 21:55] iamdefinitelyahuman commented on #10278
Brownie uses `--standard-json` exclusively . py-solc-x is just wrapping around solc, so it provides access to `--combined-json` for no reason other than that combined json exists :)

Brownie would not break anywhere if you removed `--combined-json`, so :+1: from me.

[2020-11-19 22:10] axic commented on #10278
@iamdefinitelyahuman thanks for the response! Do you know of any py-solc-x user who makes use of `--combined-json`?

[2020-11-19 23:36] haltman-at opened #10358 "Allow accessing stack slots of external function pointers in Solidity assembly"
## Abstract

Yul within Solidity is mostly able to work with Solidity variables.  Local variables mostly refer to an individual stack slot, which Yul is able to handle.  Storage variables are manipulable with `x.slot` and `x.offset`.  (I'll ignore `immutable` variables, which are their own problem.)  However there's the problem of using Solidity variables that take up two stack slots.  There are t

[2020-11-19 23:36] haltman-at commented on #8917
OK, did that as #10358!

[2020-11-19 23:41] axic commented on #10358
Seems straightforward, at least for reading, but I'm curious: have you seen anyone use function pointers in the wild?

[2020-11-20 01:39] George-Sheridan commented on #10035
Yeah, we just selected some issues from this repository to make predictions. This tool can also be used on other issues and will be available in the future.

[2020-11-20 10:09] Neyromancer commented on #7513
if the issue is still open i can try it

[2020-11-20 10:12] Neyromancer commented on #7495
i can try this issue, but what does it exactly mean "look like ascii strings as ascii strings"? could example be provided?

[2020-11-20 10:14] Neyromancer commented on #7259
if the issue is still open i can also dive in

[2020-11-20 11:21] MrChico commented on #10278
I mainly prefer `--combined-json` for it's easy commandline use – I can get all of the compiler outputs of interest with a relatively simply one liner.
As far as I can foresee there would be nothing fundamentally limiting to migrate dapptools to use `--standard-json` besides the obvious labor involved in architecturing everything to support the new format. Many features that have been introduced i

[2020-11-20 13:24] #10226 closed, assigned to nobody

[2020-11-20 13:40] axic commented on #9664
@leonardoalt so this would be "easy enough" to implement now given we have `sortedArguments`?

[2020-11-20 13:46] viteshan commented on #6275
cmake -DBoost_FOUND=0 -DBOOST_ROOT=/usr/local/Cellar/boost/1.67.0_1 ..

I tried this and it works.

[2020-11-20 14:06] leonardoalt commented on #9664
Yes, I think @blishko already implemented it

[2020-11-20 14:20] axic commented on #10278
The thing is we have three outputs to maintain:
1. standard-json
2. individual options to solc
3. the legacy combined-json (which predates standard-json)

We can barely keep feature parity between individual solc options and standard-json, and since combined-json is so sparsely used (seemingly only by dapphub), it is hard to rationalise keeping it maintained.

See the various open issues regarding

[2020-11-20 19:15] axic commented on #8699
I think we should do this for 0.8, as it is small impact.

[2020-11-20 20:21] iamdefinitelyahuman commented on #10278
I took a look through some of the listed dependents, most are using the standard JSON interface.  The notable exception is [NuCypher](https://github.com/nucypher/nucypher). @KPrasch @cygnusv - care to weigh in here?

[2020-11-20 20:29] vzotova commented on #10278
@iamdefinitelyahuman @KPrasch and I are working on that, probably will finish moving to standard JSON interface soon

[2020-11-20 22:35] chriseth commented on #8699
I think we should not do it because it is an unnecessary breaking change.

[2020-11-20 23:05] cameel commented on #9583
I think we should really do #5303 before this and get full test coverage of all existing options. Otherwise we'll be dealing with random bugs that nobody noticed for months to come.

I have actually tried to start this recently by adding a boost test suite for `CommandLineInterface` class but it requires either making a lot of stuff public or splitting it into smaller components that can be tested

[2020-11-21 01:07] cameel commented on #7495
@Neyromancer #7505 has a better description for this but looks like it's already implemented in #7770 so I'm closing this.

I see you commented on a few issues labeled `good first issue`. Unfortunately it looks like most of the good stuff with that label has already been picked off some time ago. I went through the newer issues now and added some that might be good for starters (with difficulty la

[2020-11-21 01:07] #7495 closed, assigned to nobody

[2020-11-21 01:22] cameel commented on #7259
@Neyromancer I'm not sure this is a really such a good first issue at this point, mostly because most of these have been tried and stopped on some blocker (dependency management, not working on macOS, not a good replacement, etc.) but you could pick something and try.

I think that `boost::noncopyable` would be the most straightforward. Also introducing more C++17 features to the code base would b

[2020-11-21 01:36] cameel commented on #7513
It's still open, but I'm not sure how we would use this. Part of this task would definitely be bringing the contract up to date with latest compiler version since 0.5.x is ancient at this point.

@axic Was your intention to just add the `.sol` file to `test/libsolidity/gasTests/` or did you have some idea of a new performance test suite in mind?

[2020-11-21 03:50] ouerum opened #10367 "Compile problem with 0.5.17"
Hello~ I wanted to compile solidity-0.5.17 with GCC 8.3 in centos machine, but I got an error
`solidity/libdevcore/CommonData.h:31:20: fatal error: optional: No such file or directory` and the compilation terminated. How I can solve this problem?
Please help, thanks a lot.

[2020-11-21 12:32] #10367 closed, assigned to nobody

[2020-11-21 12:33] ouerum commented on #10367
The problem has been solved.

[2020-11-22 09:17] Neyromancer commented on #7495
Hi @cameel, thank you for giving the choice between the issues and for providing recommendation. I will walk through the ones you mentioned then, starting form the very first one and then go into SOLC Overhaul issues.

[2020-11-22 09:18] Neyromancer commented on #9601
Hi, i will try to work on it.

[2020-11-22 14:40] q871795224 opened #10370 "What is the purpose of 'ewasm' function of solc？"
I currently use solc's --ewasm to process smart contracts, but I found some confusing situations during processing.
Why did I change the content of the contract, but the wast file did not change significantly？
the old contract:
[code]
the new contract:
[code]
The difference between the them:
![image](https://user-images.githubusercontent.com/33190881/99906699-78d84500-2d13-11eb-9042-366f93b8027b.p

[2020-11-22 20:02] cameel commented on #10370
There is a difference but it might not be very apparent in the text form because it's only the runtime code that differs. Note the first difference highlighted in the diff:

[code]
[code]

This is the runtime code. It starts the same way for both but there are differences. And different hashes of the text representation  indicate that it was different too.

All the text except that part is just th

[2020-11-23 09:50] chriseth commented on #10279
Types are assigned to expressions regardless of how this expression is then used later on. I think this is a good thing. The optimizer can deal with the conversions in the future.

[2020-11-23 09:50] #10279 closed, assigned to nobody

[2020-11-23 10:11] chriseth commented on #7520
Your proposal sounds very good to me, @ekpyron!

I'm wondering how the "redundant masking" rule would look like in his framework.

`and(x, y) == x if eq(and(x, y), x)`

This looks trivial, but we have to given the reasoning engine something to work with.

[2020-11-23 11:11] christianparpart commented on #7089
I was a little quick in self-assigning, but do we still want to persue this? If so, I'd like to start working on this.

[2020-11-23 11:30] chriseth commented on #7830
Can we get a summary of the latest competing proposals?

[2020-11-23 11:35] ekpyron commented on #7520
That's tricky... ``and(x, y) == x if eq(and(x, y), x)`` would "just work" in the framework I described without any special care whenever ``x`` and ``y`` are constants, resp. have known values, but then it is trivial and the rule wouldn't be needed anyways, because ``and(x,y)`` could just directly be evaluated.

For non-constants, we could try to optimize the reasoning engine for special cases like

[2020-11-23 11:40] chriseth commented on #10317
Thank you for opening this issue! We are having trouble prioritizing features, so this in very valuable to us! Most of the requests are non-breaking and thus not relevant for the actual 0.8 release.

Most of the issues are high on our backlog, so I won't comment on them.

2.: try/catch is designed for external calls, but I can see the problem with `abi.decode`. Instead of try/catch we should maybe

[2020-11-23 13:53] chriseth commented on #10354
This cannot easily be fixed because the EVM just does not provide access to enough stack slots. Which problems do you have doing coverage analysis on optimized code?

[2020-11-23 13:56] #9664 closed, assigned to nobody

[2020-11-23 14:20] Ferparishuertas commented on #10354
https://github.com/sc-forks/solidity-coverage works with optimizer=false to inject traces etc.
This is why the problem raised

[2020-11-23 14:24] mijovic commented on #9725
I think we covered all cases now

[2020-11-23 14:25] #9725 closed, assigned to nobody

[2020-11-23 15:02] chriseth commented on #10354
i know, but why does it not work when the optimizer is activated? @cgewecke ?

[2020-11-23 15:03] franzihei commented on #10119
# 🤖

@chriseth I think the scripts for the bot can be found here: https://github.com/reactjs/reactjs.org-translation/tree/master/scripts

The React Translation bot is based on this bot: https://github.com/vuejs-jp/che-tsumi/tree/master/lib

[2020-11-23 16:54] #10141 closed, assigned to nobody

[2020-11-23 17:48] cgewecke commented on #10354
@chriseth

The coverage tool injects instrumentation that pushes a hash onto to the stack by passing it as an argument to a tracing function.

[code]

Then it hooks into ethereumjs-vm at runtime, watching the stack at each step to record hits in a hash map of lines, branches etc.

I think the optimizer strips the tracing functions out because they're no-ops.

@Ferparishuertas It might be helpful i

[2020-11-23 17:52] chriseth commented on #10354
Interesting, @cgewecke ! Why don't you use source maps? They are retained during optimization (as far as possible).

[2020-11-23 18:24] cgewecke commented on #10354
@chriseth

Yes, agree that's a better design. As a practical matter, it seems like it's been challenging to build a source-map based tracing engine that's able to map the execution path to source files for all cases.

For example, there are some gaps in Buidler/HardhatEVM tracing [reported here][1].  (Haven't experimented with truffle debugger's implementation recently - it's possible they've reso

[2020-11-23 18:50] #10158 closed, assigned to chriseth

[2020-11-23 19:00] namrata690 commented on #5156
@pieterhartel How did you install the older versions? I need to install v0.4.x on my linux system for benchmarking purpose.
Thanks in advance.

[2020-11-23 19:06] cameel commented on #5156
@namrata690 If you're fine with 0.4.10 onward, download them from here: https://github.com/ethereum/solc-bin/tree/gh-pages/linux-amd64

If you want earlier versions, get the soljson binaries from https://github.com/ethereum/solc-bin/tree/gh-pages/bin
To use them you'll need `solc-js` as a wrapper. See https://github.com/ethereum/solc-js#using-a-legacy-version

[2020-11-23 19:22] cameel opened #10379 "Add SHA-256 hashes to file lists in solc-bin"
Proposed by @axic in https://github.com/ethereum/solidity/pull/10352#discussion_r527268367.

After doing this the example in solc-bin docs should be updated to include such a hash too.

[2020-11-24 05:56] gitpusha opened #10381 "`try`/`catch` for `abi.decode()` or `abi.tryDecode`"
Hi,

I am referencing the conversation #10317 .

It would be nice to have a way to catch errors thrown during `abi.decode` operations.

Quoting @chriseth:

Also `try catch` might be useful for functions other than `abi.decode` but I will first need to find concrete examples and will report them here in this issue.

-----

Preliminary implementation: https://github.com/ethereum/solidity/pull/10883

[2020-11-24 06:10] gitpusha opened #10382 "feature discussion: batched delegatecalls and the msg.value problem"
Referencing the discussion that started here: #10317

@gitpusha

@chriseth

One example where such batched delegatecalls takes place and where, if you want to use `msg.value` with the call invoking the batched delegatecalls ( `cast() external payable` ), you have to make sure all `_targets` are `payable` functions, is [InstaDapps smart wallets ](https://github.com/InstaDApp/dsa-contracts/blob/7e70

[2020-11-24 06:14] gitpusha commented on #10317
No problem, I appreciate your round the clock communication on language support.

2.: `abi.tryDecode`:  I opened an issue #10381  to continue the discussion.

3.: will report in the issue but no other examples yet.

5.: No, I don't do this conversion very often. Just when I do it it looks cryptic to other people reading the code and me. So would still be nice to have. I might make more use of this

[2020-11-24 06:20] gitpusha commented on #10382
Talking about solutions:

Can you call `library` methods directly with a low-level delegatecall without linking them in your contract code? If so, I guess one possible solution would be to write and deploy all `targets` that are not `payable` as `libraries` instead of `contracts` and thus let them bypass the call-value restriction?

[2020-11-24 06:26] namrata690 commented on #5156
Thanks @cameel.

[2020-11-24 14:41] mijovic commented on #10128
Works on latest develop.

[2020-11-24 14:42] #10128 closed, assigned to nobody

[2020-11-24 14:43] mijovic commented on #9714
On latest develop this compiles to yul successfully

[2020-11-24 17:31] gitpusha commented on #9160
Does this mean this will be fixed in the next solidity version?

[2020-11-24 17:39] mijovic commented on #9160
@gitpusha Yes, it should be fixed in next solidity version

[2020-11-24 17:55] chriseth commented on #9160
@gitpusha can you check with remix set to nightly? Are there any other calldata related things you found not working?

[2020-11-24 18:28] mijovic commented on #9160
I am re-opening this issue until we merge PRs that fix both nested structs and arrays

[2020-11-24 19:55] #10252 closed, assigned to nobody

[2020-11-24 20:53] axic opened #10390 "IR progress tracker (example contracts)"
Here are a bunch of contracts we have been using:
- [x] Simple ERC20 token (#6478)
- [x] Eth2.0 deposit contract (#8853)
- [x] Gnosis MultiSigWallet (#9714)
- [x] Gnosis Safe (#9351)
- [ ] Uniswap V2 ("stacktoodeep")
- [x] snarks.sol (from tests)
- [x] chi
- [x] chai (https://github.com/axic/chai/tree/soldev)
- [x] Circles UBI (on `Token.sol`, `Hub.sol` fails) (#10115)

[2020-11-24 20:59] #8853 closed, assigned to nobody

[2020-11-24 21:19] axic commented on #10390
CirclesUBI Hub.sol fails with (apparently this issue: #10115):
[code]

[2020-11-24 21:21] axic commented on #9714
Hm, `MultiSigWallet.sol` doesn't seem to be for me:
[code]

[2020-11-24 21:31] jzaki opened #10392 "Documentation of "data location" does not have `calldata` in the example"
https://github.com/ethereum/solidity/blob/develop/docs/types/reference-types.rst#data-location-and-assignment-behaviour

Adding an example (or two) with meaningful use of `calldata` would be helpful.

[2020-11-25 05:37] gitpusha commented on #9160
Unfortunately I was not able to reproduce all the Unimplemented Feature errors I am getting in my codebase that I compile with `0.7.4` as it's cumbersome to copy it all over to Remix. I tried to distill it but the bugs then disappaered. Unfortunately I do not have more time atm to try to distill further.

**So I cannot say whether the new nightly `0.7.6` commit has indeed removed all the Unimpleme

[2020-11-25 05:53] q871795224 commented on #10370
Thanks for your help.
I get the code from commented-out @custom section and change it to wasm. I find that the last 125 funcs of the two wasm are the same. Does this correspond to those generic utility functions?

[2020-11-25 09:00] chriseth opened #10396 "Do not duplicate runtime code in constructor"
The Solidity compiler currently generates constructor code so that the deployed code is fully independent. If a function is used both in the constructor and the deployed code, it will be included twice. We could consider to use the some code for both constructor an deployed code, especially if the constructor code is large. In order to do this, the first thing the code needs to do is detect if it

[2020-11-25 09:07] #9160 closed, assigned to mijovic

[2020-11-25 10:18] bshastry opened #10397 "[Testing] Create a nightly job for running external tests"
Currently, external code is not tested at all, it is only compiled against latest solc when a PR is made. This issue tracks support for adding a nightly job for actually testing external code against nightly solc.

[2020-11-25 10:20] bshastry opened #10398 "[CI] Parallelise external compilation jobs"
Currently, we have a single job per external compilation test. This scales poorly because every time we add a new external project to the testing repo, a new CI job needs to be needlessly introduced. This issue tracks support for parallelising this setup within a single CI job.

[2020-11-25 10:56] chriseth commented on #9604
Implemented in https://github.com/ethereum/solidity/pull/10255

[2020-11-25 10:56] #9604 closed, assigned to hrkrshnn

[2020-11-25 12:14] cameel commented on #4698
I'm taking this. I need to add a CLI variant to be able to run the comparison on older binaries (they do not support `--standard-json`).

[2020-11-25 12:17] cameel commented on #9015
The part about documenting where they can be found and when we switched is done in #10352.

[2020-11-25 12:39] chriseth commented on #9512
Closed by https://github.com/ethereum/solidity/pull/10363

[2020-11-25 12:39] #9512 closed, assigned to nobody

[2020-11-25 13:57] cameel commented on #9598
We discussed it on the call today:
1. It's very low priority until there's actual demand for it but we wouldn't mind having this feature. Moved to Icebox for now. It's tagged as `good first issue` so anyone is welcome to try, but it's not necessarily an easy issue for someone new (hence `difficulty: medium` tag).
2. An important thing would be for the error message to clearly indicate which member

[2020-11-25 15:13] franzihei commented on #10046
## Next Steps

- [ ] Define categories and write introductory texts
- [ ] Define guidelines of what will be discussed where etc (e.g. Github issues vs. mailing list vs. forum)
- [ ] Install Discourse: https://github.com/discourse/discourse/blob/master/docs/INSTALL-cloud.md
- [ ] Set up Solidity Forum using Discourse

[2020-11-25 16:03] axic commented on #10390
Obtained via changing #10235 (removing the `catch UnimplementedError`):

~~Issue A1: (must be #10115 I think) #10552~~ DONE
[code]

~~Issue A2: (Implemented in #10552)~~ DONE
[code]

~~Issue A3 (missing support for `type(C).name`): (#10579)~~ DONE
[code]

~~Issue A4: (Implemented in #10577)~~ DONE
[code]

~~Issue A5 (missing support for BitNot on FixedBytes)~~: (@axic) DONE
[code]

~~Issue A6: (is

[2020-11-25 18:47] rainbreak commented on #10379
Yes please, it's way easier to deal with sha256. In particular, NixOS requires a sha256 when fetching a url and can't accept keccak256, so I have to manually calculate the sha256.

[2020-11-25 18:54] axic opened #10405 "Optimize the IR generation process"
Currently the codepath through the IR generator takes >15x time on the average case, and >25x in some other cases.

- Most of the time is spent within the Yul optimizer, more specifically within `DataFlowAnalyzer`.
- While the time spent in `IRGenerate` in comparison is small, 50% of `IRGenerate` time is spent in Whiskers. Which is mostly what it does, but perhaps we can look at the `replace` func

[2020-11-25 19:01] axic commented on #1510
I think this is obsolete by now. The helper is part of the old codegen.

[2020-11-25 19:30] axic commented on #7513
I think more for the optimiser. I guess we could use it for stress testing the IR + optimizer too.

[2020-11-25 19:33] axic commented on #10278
@MrChico could you point me to the places in dapptools where `--combined-json` is used? I am wondering whether the output parsing or the input preparation seems like the bigger hurdle.

The output should be much more nicely formatted (compared to `--combined-json`), but at the cost of more levels of objects.

[2020-11-25 19:36] axic commented on #7259
Even when C++20 comes out, we'll still have the `b_ubu18` build job, don't we? 😬

i.e. using ranges-v3 could be a good idea.

[2020-11-25 22:41] MrChico commented on #10278
@axic, it is being called in [`dapp build` ](https://github.com/dapphub/dapptools/blob/master/src/dapp/libexec/dapp/dapp-build) and parsed in a few different places, such as  [`dapp create`](https://github.com/dapphub/dapptools/blob/master/src/dapp/libexec/dapp/dapp-create) or (most frequently) in [Solidity.hs](https://github.com/dapphub/dapptools/blob/master/src/hevm/src/EVM/Solidity.hs#L292) of

[2020-11-25 23:08] axic commented on #10278
@MrChico Looking at `dapp build`, wouldn't that be better off using the CLI options directly, would they output proper files (e.g. #10275)?

[2020-11-26 10:35] chriseth commented on #10405
We could check if the DataFlowAnalyzer is needed in all the steps. We might also switch off some of its functionality depending on who uses it.

[2020-11-26 10:35] #1510 closed, assigned to nobody

[2020-11-26 10:59] #9767 closed, assigned to mijovic

[2020-11-26 11:07] MrChico commented on #10278
It does use the CLI options directly if the `--extract` flag is passed. Not everything that is available under `--combined-json` is available as a direct CLI flag however, for example`--srcmap` does not exist.
Most of the time, it's quite convenient to have all artifacts in one file though.

[2020-11-26 11:12] MrChico commented on #10278
Which I get is part of your original point of the maintenance burden. I can investigate migrating to the `--standard-json` format when I have some more time (in about 2 weeks).

[2020-11-26 11:41] #8210 closed, assigned to nobody

[2020-11-26 13:18] MrChico opened #10411 "Confusing error message for missing `;` in pragma"
Compiling the following contract with `solc-0.7.5`:
[code]
yields the error message:
[code]
But the error is actually a missing semicolon in the first pragma line

[2020-11-26 13:27] axic commented on #10411
The version pragma is handled in a special way, in the parser, in order to abort early.

Currently it seems to be parsing all tokens up to the semicolon, e.g. "pragma solidity ^0.7.5 pragma experimental ABIEncoderV2;".

~~What would be easy parser-wise is terminating if there is no semicolon after the version (technically: if more than two tokens follow the pragma keyword), as a special case.~~ No

[2020-11-26 13:31] cameel commented on #10411
I see in the [grammar for a source unit](https://docs.soliditylang.org/en/latest/grammar.html#a4.Solidity.sourceUnit) that the version value consists of separate tokens which means that they could be whitespace-separated and/or span multiple lines. So this is currently perfectly valid:
[code]

[2020-11-26 13:32] gitpusha commented on #9160
@mijovic do you know if #10385 also fixed the `umimplemented feature` issue that is thrown when you uncomment what's in the `body` of the `store` function I pased in the above ?

[2020-11-26 13:37] cameel commented on #10411
Maybe vertical pragmas will become a new trend for fashionable smart contracts one day :P
[code]

[2020-11-26 13:39] axic commented on #10411
Hah, we need an Obfuscated Solidity Competition 😅  (cc @franzihei)

[2020-11-26 14:36] axic commented on #8252
Current cases:

[code]

[code]

[code]

[code]

[2020-11-26 14:37] axic commented on #10390
Did a second run where forcefully displaying failing semantic tests.

Issue B1: Tests implicitly assume ABI coder v1, while the IR forcefully uses to v2.

~~Issue B2: Exponent and certain other overflow cases are handled differently -- this will be a non issue after 0.8.0. See #10762, #10753.~~ DONE

~~Issue B3: Modifiers are pretty much not implemented -- see #10413.~~ DONE

~~Issue B4: `runtime/

[2020-11-26 14:42] axic opened #10412 "Array clearing failure during copying in the IR"
[code]

[code]

[code]

[code]

[code]

[2020-11-26 14:59] axic opened #10413 "Implement modifiers properly in IR"
They are currently silently ignored which results in various misbehaviour.

[2020-11-26 15:15] mijovic commented on #9160
@gitpusha I just checked on latest develop, and I can confirm it compiles now, even after uncommenting `body` of `store` function.

[2020-11-26 15:46] rainbreak commented on #10166
@cameel would you then aim to provide a solc-static-linux binary with z3 statically linked?

[2020-11-26 19:12] cameel commented on #10166
I think we should. But it's not decided yet. Depends on the feedback we receive.

The main reason for not doing it is that it makes the binary almost least 3 times as big as it is now. But we have already added static Z3 to emscripten and macOS builds and in my opinion not having it consistent between platforms is not a good thing.

By the way, looks like the Windows build does not include statica

[2020-11-26 19:26] cameel opened #10420 "Static Linux and Windows builds with Z3"
*The issue was raised in https://github.com/ethereum/solidity/issues/10166#issuecomment-734369933. I'm creating a separate issue to have a separate place to discuss it.*

Currently some of our release builds are statically linked with Z3 (emscripten, macOS), some have SMTChecker disabled (Linux) ~and some are dynamically linked with it (Windows)~ EDIT: Windows build is a static one without Z3 too.

[2020-11-26 19:27] cameel commented on #10166
I have created a separate issue to discuss the static builds: #10420.

[2020-11-26 20:22] k06a opened #10422 "New modifier for reentrancy-safe functions which denies CALL and DELEGATECALL instructions"
## Abstract

Add new modifier for functions which are allowed to make STATICCALLs and SSTORE, but denied to make CALLs and DELEGATECALLs. This modifier would allow having compile-time protection similar to `nonReentrant` modifier functionality for 0 gas cost.

## Motivation

Reentrancy is such a terrific attack surface for smart contracts that many developers add `nonReentrant`, `_lock_` and even

[2020-11-26 20:28] cameel commented on #10370
I'd have to check to be sure but they should generally be the same. Those are the predefined functions you can find in https://github.com/ethereum/solidity/tree/develop/libyul/backends/wasm/polyfill

[2020-11-26 20:32] axic commented on #9590
This is called `ir` in standard json, and displayed via `--ir` on cli.

This is displayed on cli via `--ir-optimized`.

This is not available yet.

[2020-11-26 20:33] axic commented on #9332
Could also include more detail about EVM: https://github.com/ethereum/solidity/issues/6485#issuecomment-621978068

[2020-11-26 20:34] axic commented on #9332
And #3596 is a semi-related issue.

[2020-11-26 20:38] axic commented on #6734
@bshastry is this still the case? @chriseth could this be a contributor to the issue we're seeing in #10405 ?

[2020-11-26 20:41] axic commented on #8315
Why did this issue died down?

[2020-11-26 23:15] axic opened #10426 "[isoltest] Add `balance:` statement"
Currently there is no simple way to query a contract balance in the semantic tests. Due to this lack of support, numerous tests were not moved from `SolidityEndToEndTest`.

(It is possible to add a helper in the contract, like `function balance() external view returns (uint) { return address(this).balance; }`, but that is a bit overkill.)

It would be nice to support a `// balance: 12 wei` or `//

[2020-11-26 23:24] axic opened #10427 "[isoltest] Add support for reading logs"
Some tests depend on checking `numLogTopics(logIndex) -> uint`, `logAddress(logIndex) -> address`, `logData(logIndex) -> bytes`, `logTopic(logIndex, topic) -> bytes`, such as `abi_encodePackedV2_structs`.

I have no syntax suggestion, but this may be a blocker for getting rid of `SolidityEndToEndTest`.

[2020-11-26 23:28] axic commented on #3486
I forgot this issue was still open, because of the two previous big steps (#3644, #4223). There are still certain features missing: #10426 and #10427, at least.

[2020-11-26 23:32] axic commented on #6902
Moved from #10427:

[2020-11-26 23:33] axic commented on #10427
Duplicate of #6902.

[2020-11-26 23:33] #10427 closed, assigned to nobody

[2020-11-26 23:34] axic commented on #7370
I don't see GLOB anymore -- is this issue still valid?

This is a valid problem though, right?

[2020-11-26 23:39] axic commented on #6697
Tested it now, and this is what it auto-filled out:
[code]

So this issue seems to be fixed. Having `left(0xff)` would be nice, but I wouldn't say it is a necessity.

In a separate issue perhaps we could argue about a canonical representation the files should use, including all different number/bytes/string encodings.

[2020-11-26 23:39] #6697 closed, assigned to nobody

[2020-11-26 23:41] axic commented on #6703
This is still somewhat a problem, this is what it gets updated with:
[code]

[2020-11-27 00:15] axic commented on #3089
I guess this can be closed, given we are trying to move on from the legacy libevmasm optimiser, and for Yul we have the phaser (#7806).

[2020-11-27 00:17] axic commented on #9581
Two years before this issue was created, #4620 discusses the same topic with a different syntax suggestion. Which one are we closing as duplicate? 😬

[2020-11-27 00:17] axic commented on #4758
Done in 0.8.0! (#9512).

[2020-11-27 00:18] axic commented on #5252
As we can see with the DataFlowAnalyzer (#10405), having such tests would be nice.

[2020-11-27 00:19] axic commented on #5237
There are quiet a few tests in `test/libyul/yulOptimizerTests`. Is this issue still unsolved?

[2020-11-27 00:21] axic commented on #6266
Still relevant given we enable it in 0.8.0?

Was this ever done? We'll do it for 0.8.0 at least.

[2020-11-27 00:21] axic commented on #6438
@bshastry can this be closed?

[2020-11-27 00:23] axic commented on #7703
Still relevant?

[2020-11-27 00:24] axic commented on #8253
There are still plenty of such TODOs:
[code]

Not sure if there are tests for them, but we should add them so we can see difference in behaviour for the IR.

[2020-11-27 06:59] gitpusha commented on #9160
Great thanks! Looking forward to the new release!

[2020-11-27 07:23] d-xo commented on #10420
Would be great to have SMTChecker enabled for linux static builds. I personally would also be happy to see it included in older versions (at least back until 0.6 or so maybe).

Do you know roughly the impact on binary size from including z3?

[2020-11-27 08:41] Ferparishuertas commented on #10354
We cannot share the Sol file, due License aspects and client requirements :(.
Having said that, due the contract where the error raises is to big 32kb, an quite complex, we will refactor it and keep you posted

[2020-11-27 13:52] cameel commented on #10420
I think it should be comparable with the difference in macOS builds. See https://github.com/ethereum/solc-bin/pull/54#issuecomment-699991587. The size jumped from 4.6 MB in 0.4.16 (which was the last version before SMT) to 24 MB in 0.4.17. The latest binary is 32 MB, mostly due to `solc` itself.

The binary with Z3 is not huge in absolute terms but it's a big relative difference and multiplied by

[2020-11-27 16:21] hrkrshnn opened #10428 "Bugs because of NameCleaner"
Issues caused because of https://github.com/ethereum/solidity/pull/10419 (Note the issues are fixed in that PR, but exists in develop without that.)

[code]
`solc --strict-assembly --optimize`
(even on develop) causes

[code]

[2020-11-27 16:31] hrkrshnn commented on #10428
[code]

When going through `--yul-optimizations="Np"` (NameSimplifier and UnusedFunctionParameterPruner) will produce the following code:

[code]

The property that code is disambiguated is false, the variable `a` is repeated. (Note that `libyul/optimiser/Suite.cpp` is modified so that the extra steps at the end are not carried out, stack compressor, VarNameCleaner etc; Normally VarNameCleaner wou

[2020-11-27 20:12] axic commented on #8252
Actually for these cases I listed above shouldn't we use panic codes instead?

And if we do, we should change them in 0.8.0 for the old codegen too.

[2020-11-27 20:45] hrkrshnn commented on #10428
Similar to the last one, but for inliner. `--yul-optimization="Ni"` (NameSimplifier and FullInliner.)
[code]

Produces the non disambiguated
[code]

I wonder if I can trick the expression simplifier to replace `add(c, 1)` inside `function f` to evaluate to `2` because the value of `c` is `1` outside.  But something like "NiTs" is not able to achieve this.

[2020-11-28 22:48] drortirosh opened #10432 "Panic error codes are hard to use"
Current 0.8 suggestion for Panic revert is to use enum values.

Instead of enum values, it is better to provide string32 (string encoded in base32 value)
that is, change the encoding from `Panic(uint256)` to `Panic(bytes32)`

## Motivation

Numeric constants are notorious and error-prone to use, and have no benefit over string.

## Specification

the internal type-checking should revert with signa

[2020-11-28 23:46] cameel commented on #10432
Even though the signature is `Panic(uint256)`, not all 32 bytes are used. All existing codes fit in 1 byte which minimizes the impact on the size of the resulting bytecode (see the discussion in https://github.com/ethereum/solidity/issues/9824#issuecomment-708343758).

But I agree that something like `Panic(0x12)` is not very readable and requires looking up the code or memorizing it. I think ther

[2020-11-29 18:52] benjioh5 commented on #10119
Korean translation is not updated after 2019-01-11 and no response at https://github.com/solidity-korea/solidity-docs-kr/issues/72

Could you check or ping to @solidity-korea and org members?

[2020-11-29 22:57] cameel commented on #10422
So this would basically be a new mutability level called `writeonly` (or `reentrancySafe` but this does not really fit the current set of names) that would sit between `view` and the current default where the state is completely mutable?

What do you think about @axic's proposal from https://github.com/ethereum/solidity/issues/9248#issuecomment-713884387 that would introduce a `state()` modifier t

[2020-11-30 07:18] k06a commented on #10422
@cameel this would work if we would have permissions:
- read
- write
- call
- viewcall
- delegatecall
- codecall
- create

[2020-11-30 07:19] k06a commented on #9248
Wish to add more flags:
- call
- viewcall
- delegatecall
- codecall
- create

[2020-11-30 09:46] bshastry commented on #6438
Ah yes. Sorry for the considerable delay.

[2020-11-30 09:46] #6438 closed, assigned to bshastry

[2020-11-30 09:50] chriseth commented on #10422
@k06a isn't your list a bit too fine-grained? Shouldn't the following be sufficient:
 - direct state modification (via sstore)
 - indirect state modification (via call, delegatecall, create, ...)
 - send ether

[2020-11-30 09:54] chriseth commented on #10432
@drortirosh when you say "difficult to use" , which kind of "use" do you have in mind? I don't expect user-supplied Solidity code to create such panic error codes directly - after all, they are internal errors. On the other hand, code that consumes panic errors probably does either not care about the code itself (Solidity code) or directly translates it into a human-readable string (debugging tool

[2020-11-30 10:00] chriseth commented on #6734
I don't think this is related to performance. The house-keeping of DataFlowAnalyzer is just insane.

[2020-11-30 10:07] bshastry opened #10433 "[DocStringAnalyser] Null ptr dereference in copyMissingTags()"
## Description

[code]

references a nullptr here

https://github.com/ethereum/solidity/blob/887569efd5671d9235c29c57229e64a700682e28/libsolidity/analysis/DocStringAnalyser.cpp#L69

because `returnParamters()` is null.

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-11-30 10:12] chiro-hiro opened #10434 "Separating builtin modifier and remove function keyword"
## Abstract

I think, Solidity should learn something from TypeScript and new ECMAScript. Especially its modifier and function definition in contract.

## Motivation

- Help the code more clean and realizable
- Separate builtin modifiers: `public`, `external`, `private`, `internal`, `virtual`, `pure`, `view` and self-defined modifiers
- Remove `function` keyword

## Specification

Method in contra

[2020-11-30 10:12] #10284 closed, assigned to nobody

[2020-11-30 10:39] bshastry opened #10435 "[Codegen/Breaking] Null ptr dereference in ExpressionCompiler::visit(MemberAccess const&)"
## Description

[code]

throws null ptr deref here

https://github.com/ethereum/solidity/blob/45307a24d6f0de99454c52d85f9131881cce250c/libsolidity/codegen/ExpressionCompiler.cpp#L1604

and

https://github.com/ethereum/solidity/blob/45307a24d6f0de99454c52d85f9131881cce250c/libsolidity/ast/AST.h#L252

## Environment

- Compiler version: breaking

## Steps to Reproduce

[code]

[2020-11-30 10:52] chriseth commented on #8252
https://github.com/ethereum/solidity/issues/8252#issuecomment-603977359