[2022-07-05 19:44] toongeorges commented on #12782
I created the issue #13248

[2022-07-05 19:54] chancehudson opened #13249 "Bad encoding for a dynamic array followed by a static calldata array"
## Description

Inconsistent abi encode behavior with tuples containing both a dynamic array and fixed length array.

## Steps to Reproduce

[code]

When calling `testEncode` with the following argument: `{ vals: [1, 2, 3], valsFixed: [1, 1] }` the following is received (split into chunks of 64 hex characters for readability):
[code]

When abi encoding using web3 or ethers the following is receive

[2022-07-05 22:32] ControlCplusControlV commented on #13247
I think Yul++ makes the most sense name wise for this extension as Yul+ already exists although archived Yul++ would differentiate it from that (For example I have a Yul+ <-> Foundry repo which would populate when people are searching for this Yul extension). I do favor adding this though, especially as features like #9889  and many from Yul+ like `mstructs` would help make it easier to write Yul

[2022-07-06 10:38] #13242 closed, assigned to nobody

[2022-07-06 10:43] #13237 closed, assigned to hrkrshnn

[2022-07-06 13:14] Marenz opened #13252 "solfuzzer crashes in nightly"
Our nightly test `t_ubu_ubsan_clang_cli` [fails sometimes](https://app.circleci.com/pipelines/github/ethereum/solidity/25120/workflows/e9f4961f-a6aa-4071-8123-22a76515d86b/jobs/1106669)  with

[code]

[2022-07-06 15:31] #13106 closed, assigned to nobody

[2022-07-06 15:38] #13064 closed, assigned to Marenz

[2022-07-06 15:42] Marenz opened #13253 "LSP: Allow disabling/enabling of individual features"
This is a request by [vscode-solidity](vscode-solidity) author @juanfranblanco to make integration easier as it allows to use only the implemented and working features of our lsp.

[2022-07-06 16:35] cameel commented on #13252
I think it's running out of memory. Same for the codecov job. Using a higher resource class should be enough to fix it.

[2022-07-06 17:11] timweri commented on #13214
I'm not sure what the decision is on implementing this but I would like to take a jab at it.

However, regarding the question, I believe `i = 0` does not zero `i` twice:

`explicit_zero.sol`:
[code]

`default_zero.sol`:
[code]

Running
[code]
gives
[code]

The IR for initializing `i` is the same:
[code]

[2022-07-07 03:31] hiroshi-yamamoto-dublr opened #13254 "Transaction-local storage"
## Abstract

I want to propose a new conceptual storage area I will refer to as "transaction-local storage" (viz thread-local storage) that a user can store values into at any point within the lifetime of a transaction, but that is destroyed at the end of the transaction.

Transaction-local storage can be stored in regular storage, but the compiler would zero-out all transaction-local fields the f

[2022-07-07 15:57] cameel commented on #13228
ok, then I'm closing this :)

[2022-07-07 15:57] #13228 closed, assigned to nobody

[2022-07-07 18:41] hrkrshnn commented on #13254
This is similar to what transient storage eip is proposing.

[2022-07-08 11:55] #13144 closed, assigned to nobody

[2022-07-08 13:42] leonardoalt commented on #13233
What does `NoMetadata` currently do?

[2022-07-08 13:42] hrkrshnn commented on #13233
@leonardoalt actually removes the metadata. It seems to be only used in tests.

[2022-07-08 13:44] leonardoalt commented on #13233
Ah so it's not exported? Yea `--no-append-metadata` sounds good.

[2022-07-08 18:36] cameel commented on #13249
Thanks for the report! This does look like a serious bug. You're absolutely right about the expected encoding - the length should be 3, not 0. I can confirm that it's reproducible both in Remix IDE and in our semantic tests (executed via evmone).

With Remix I can reproduce it as far back as 0.7.0. Might be affecting older versions too, but Remix seems to have some issue with its version selector

[2022-07-08 19:07] cameel commented on #13249
Turns out the Remix issue was actually a surprise feature :) It automatically changes version to match the version pragma (which enforces at least 0.7.0 here). After removing the pragma, it is reproducible down to 0.5.8, which seems to be the compiler version that introduced ABI encoding of calldata structs - below that I'm getting `UnimplementedFeatureError: Encoding struct from calldata is not y

[2022-07-09 21:46] dbaileydev commented on #232
Any update to optional params yet?

[2022-07-10 11:13] k06a opened #13258 "Ability to create memory array of calldata slices"
## Abstract

I wish to be able to store `bytes calldata` slices in arrays.

## Motivation

Make calldata pointers a first class passengers as other types.

## Specification

Maybe we can pack `calldata`'s `offset` and `length` into single slot?
[code]

## Backwards Compatibility

Fully compatible

[2022-07-10 11:31] k06a commented on #13258
I used `Calldata` wrapper to store it in arrays:
[code]

[2022-07-10 18:07] fulldecent commented on #3412
Is there any appetite here to allow a `payable` to be overridden by a stricter type (non-payable, view, pure), the way that other override-with-stricter is possible?

[2022-07-10 19:58] toongeorges commented on #13248
I made a prototype project at https://github.com/toongeorges/cryptoshares/
You could use the code in https://github.com/toongeorges/cryptoshares/blob/main/solidity/contracts/base/CorporateActions.sol as a test case:
there is one function `executeCorporateAction` that conditionally calls one of several other functions.  I did not want to write these functions inline.  The compiler however should in

[2022-07-10 22:00] emo-eth opened #13259 "ICE in the codegen when using `.slot` on a mapping reference in assembly: `InternalCompilerError: Invalid stack item name: slot`"
## Description

Sometimes compiling via IR results in the following error (with Foundry):
[code]

As the error implies, it seems to be related to storing variables that point to storage slots.

## Environment

- Compiler version: reproduced with 0.8.15,0.8.14,0.8.13
- Framework/IDE (e.g. Truffle or Remix): Foundry
- EVM execution environment / backend / blockchain client: Foundry
- Operating syste

[2022-07-10 22:02] Vectorized opened #13260 "`InternalCompilerError: Invalid stack item name: slot` with `--via-ir`"
## Description

Compiler gives an error `InternalCompilerError: Invalid stack item name: slot` when compiling with `--via-ir`,
when an assembly block calls `.slot` on a reference to a mapping.

## Environment

- Compiler version: 0.8.15

## Steps to Reproduce

Found in ERC721A, when compiling with `--via-ir`

[code]

The code compiles normally without `--via-ir`.

See: https://github.com/chiru-lab

[2022-07-10 22:03] #13260 closed, assigned to nobody

[2022-07-10 22:03] Vectorized commented on #13260
Issue already opened.

Please refer to https://github.com/ethereum/solidity/issues/13259

[2022-07-11 07:28] Rotemy commented on #5201
4 years and nothing? this is needed

[2022-07-11 11:47] axic commented on #13146
We should add a CMake option that disables all warning flags, treating warnings as errors and all other pedantic build flags in cmake/EthCompilerSettings.cmake.

But the source code is not integrated by other projects, so in what context is this happening?

[2022-07-11 12:41] cameel commented on #13259
Thanks for the report! This indeed seems to be a bug in the compiler. I managed to create a smaller repro (see below). Simply using `.slot` on a storage reference to a mapping in assembly triggers it.

Looks like the bug has been there all the way since the IR was introduced (or at least the `--ir` option) in 0.5.8. Back then the syntax was `_slot`, not `.slot` though. Between 0.5.10 and 0.7.0 it

[2022-07-11 12:45] cameel commented on #13146
Some projects do depend on the compiler binary and build it themselves. Fe is an example.

[2022-07-11 12:53] axic commented on #13146
What is the reason to build it themselves, and what reasonable compiler would fail on it?

[2022-07-11 14:11] chriseth commented on #13201
@leonardoalt do you still have the original input for the profiler run here?

[2022-07-11 14:29] cameel commented on #13249
@Marenz The way I've been debugging it so far was to compile the two small contracts I'm posting below to Yul, diff their code and see if there is anything obvious that's wrong. I could not find anything so I think this needs some actual debugging, with the ability to inspect memory. Not sure if we have something like that in the test suite currently. I.e. we do have Yul tests and we have tests th

[2022-07-11 15:34] brockelmore commented on #13218
related: https://github.com/ethereum/solidity/issues/13089

[2022-07-11 18:18] cameel commented on #13146
I just checked and their [build instructions](https://github.com/ethereum/fe/blob/master/docs/src/development/build.md) say that Fe depends on [cburgdorf/solc-rust](https://github.com/cburgdorf/solc-rust), which seems to be a fork of your lib. So it seems like they're not really building solc executable as I thought but just a crate with bindings. I suppose they can't just use our release binaries

[2022-07-11 19:29] cameel opened #13264 "Chainlink ext test failing with `AssertionError: Expected transaction to be reverted with InvalidSubscription, but other exception was thrown`"
External tests for Chainlink are failing in multiple PRs. For example: [1109949](https://app.circleci.com/pipelines/github/ethereum/solidity/25192/workflows/7117d158-1549-4641-9124-4e5b5d17fbb0/jobs/1109949)
[code]

I suspect that this might be due to upstream changes so solution will probably be the same as in #12937.

[2022-07-12 09:34] chriseth opened #13266 "`abi.encodeCall()` segfaults in a free function when passed an error/event"
[code]

The compiler segfaults...

[2022-07-12 10:58] cameel opened #13267 "No summary for our documentation pages in Google search results"
@chriseth reports that search hits in our docs look like this in Google:
![image](https://user-images.githubusercontent.com/137030/178474001-f26cf55c-76ca-4346-a7ef-ce3e407bd094.png)

Here's what Googles's help says about this: [No page information in search results](https://support.google.com/webmasters/answer/7489871).

I'm pretty sure this has something to do with the [`robots.txt`](https://doc

[2022-07-12 11:34] cameel commented on #13266
This seems to have started with 0.8.12. Before then it would be an error: `Error: Function must be "public" or "external".`

Simpler repro with the same effect:
[code]
[code]

Events are affected too:
[code]
[code]

The free function seems to be an important element because it does not segfault in a contract:
[code]
[code]

So the fact that it segfaults is definitely a bug but the fact that it doe

[2022-07-12 12:48] chriseth opened #13268 "Require "context" in free functions if they want to make external calls"

[2022-07-12 13:12] matheusaaguiar commented on #13264
I could not reproduce the failing test, either locally or in CI... in any case, I did what you suggested, implementing a fix similar to #12937 .

[2022-07-12 14:05] Felix-Monteiro commented on #13159
Add `allowUnlimitedContractSize: true` to your hardhat.config.ts under defaultNetworks.networks both "hardhat" and "localhost".
At least it worked for me.

[2022-07-12 16:08] cameel commented on #13264
So it does not happen on `develop`?

Maybe it was just a temporary issue. In that case we don't want to disable these tests. Let's keep it open for now in case the error comes back but if it does not, we should probably close the PR.

[2022-07-12 16:26] matheusaaguiar commented on #13264
It seems that develop is fine. Last [CI run](https://app.circleci.com/pipelines/github/ethereum/solidity/25209/workflows/baf0c36c-3c5c-46a4-8ae0-95e6b11d568e) did not failed and the same happened when I [tested](https://app.circleci.com/pipelines/github/ethereum/solidity/25194/workflows/a543f8fa-08d4-4c92-8ff4-9581b688c4fe) removing the PR proposed changes.

[2022-07-13 11:14] anannyenaik opened #13271 "How to submit a PR (with Documentation fixes) - Solved"
Hey there! I have fixed some grammatical errors in `assembly.rst`. If someone could guide me on how to make a PR there, that would be helpful.

Thank you!

**How to submit the PR:**
TL;DR -- After forking off the develop branch, in your forked repo: make a new  branch and commit your changes there. Then, in your forked repo, merge the changes. Finally, make a PR to the main repo (which essentially

[2022-07-13 12:41] #12833 closed, assigned to christianparpart

[2022-07-13 12:48] axic commented on #11972
Perhaps similar to #10283, we should include this function below the `solidity` import/namespace.

[2022-07-13 13:38] matheusaaguiar commented on #12478
Hi @siyu-k, thanks for your report!
You have a valid point and your suggestion seems to amend the issue. Would you like to make the changes and open a pull request?
If you have any questions about how to do that, please, feel free to ask. :)

[2022-07-13 15:01] christianparpart opened #13275 "LSP: Add Quick-Fixes feature"
There are plenty of diagnostics that could have some quick (auto) fixes.

For example (but not limited to!):

* visibility restrictions can be auto-fixed to.
* unused variables could be removed or commented out
* symbolic capitalization
* symbolic misspellings
* superfluous `;` or unary `+`/`-` operators
* missing imports
* wrong lookup (used `A.f` or just `f` but should be `B.f`)
* extract into f

[2022-07-14 00:45] Darlington02 commented on #13271
You've committed your changes to the fork right?

[2022-07-14 01:50] anannyenaik commented on #13271
Yes, I have the changes committed in my forked repo.

[2022-07-14 12:53] cameel commented on #13264
ok then. Let's close it. We can always revisit this if it turns out it comes back.

[2022-07-14 12:53] #13264 closed, assigned to matheusaaguiar

[2022-07-14 13:07] wechman commented on #12783
@barakman  Thank you for your ticket! Could you share the code we can use to reproduce the issue? Hope you have managed to find it. Otherwise, even if we made adjustments you suggest, we wouldn't be sure the problem is fixed.

[2022-07-14 16:05] cameel commented on #12783
This looks like the same thing as #3446.

And it probably won't be implemented in the current syntax but #2435 will provide a different mechanism for the same thing.

I think we should replace the `UnimplementedFeatureError` with a proper error at the analysis stage. Letting it blow up in the codegen is not a great user experience. And even when we have `copyof` syntax will be different so will st

[2022-07-14 18:15] barakman commented on #12783
With no line indication on your side, all I can do is paste my entire project here, which you'll probably agree is senseless.
I suggest that you add a line indication on your side (as pointed out in my initial message), then similar issues in the future will also include a short snippet of the client code (solidity) causing the problem.

As you might understand, the main issue in this context is n

[2022-07-14 18:20] cameel commented on #12783
Yeah, the error should be better.

But just to help you locate it in your particular case - you can try commenting out lines that assign something of type `MyStruct` stored in memory to a storage variable. If doing this makes the error go away, it's the same issue.

[2022-07-15 11:16] nickshatilo commented on #12833
Hey @christianparpart, I tested the version with your PR (https://github.com/ethereum/solidity/pull/12994) included, and it seems like it still raises errors for hardhat like this issue mentioned. Altrough, go-to-definition works, but the errors are still in place. Could you please take a look?

<img width="751" alt="Screenshot 2022-07-15 at 12 15 56" src="https://user-images.githubusercontent.com

[2022-07-15 12:24] christianparpart commented on #13253
Hey @joshuahannan !

Do you have any preferred way of providing that information?
IMHO we could receive that information as part of the LSP handshake. Thanksfully the client initiates the initialize call and there one could simply say what it supports (or in other words(!): what it wants us to support), using the capabilities field. If the client only advertises semanticTokens, for example, we cou

[2022-07-15 14:26] Pzixel commented on #909
This issue looks quite stalled. Is there any change of this being implemented?

[2022-07-15 14:44] nishant-sachdeva commented on #13114
This question can be asked in https://matrix.to/#/#ethereum_solidity:gitter.im

Can discuss possible fixes for this

[2022-07-15 14:46] nishant-sachdeva commented on #13232
@hrkrshnn , in that case, should we close this issue ?

[2022-07-15 15:27] cameel commented on #13114
@nishant-sachdeva This actually does not look like a simple support question but more like a request to clarify the docs. I'm going to keep this open.

@mojtaba-eshghie The docs are correct but I agree that the justification is confusing. That's because there's a small semantic quirk here. It's that `payable` guarantees different things on *functions* and on *function pointers*.

- When you define

[2022-07-15 15:34] cameel commented on #909
We're not actively working on it at the moment but it's one of the features we consider important and it's on our roadmap so we're going to revisit it sooner or later.

[2022-07-15 16:10] juanfranblanco commented on #13253
Hey @christianparpart,

Somehow I am guessing you meant to tag me!! Yeah.. that is mainly it. It helps so features that might not be working or in progress then can be disabled, also easier to experiment. Although the end, end goal, remember is to load the solcjs and proxy the calls depending on the compiler version, and what is supported.

[2022-07-16 03:07] fewwwww commented on #13267
<img width="578" alt="截屏2022-07-15 20 06 58" src="https://user-images.githubusercontent.com/41555918/179336872-84ecdb3b-0eef-4205-a188-8cb321c6cc4b.png">
It works now. maybe it's a lagging in indexing?

[2022-07-16 04:42] sambacha opened #13278 "Bug: Compiler should not error on detecting multiple `// spdx` (non-natspec'd)"
solc should not error on detecting multiple `// spdx` (non-natspec'd) directives.

[2022-07-16 14:37] siyu-k commented on #12478
Hi, thanks for following up. Please go ahead and fix it.
Siyu

On Wed, Jul 13, 2022, 9:38 AM matheusaaguiar ***@***.***>
wrote:

[2022-07-16 20:06] hiroshi-yamamoto-dublr commented on #13254
@hrkrshnn You're right, I think the transient storage EIP would solve exactly the problem I described -- and I assume that there is no way for Solidity to implement this without that EIP being approved and implemented in the EVM. I'll close this feature request. Thanks for the pointer!

[2022-07-16 20:06] #13254 closed, assigned to nobody

[2022-07-16 20:33] lukehutch commented on #13211
@hrkrshnn Yes, I'm sure (your `bytes4` example works, but changing the type to `bool` definitely doesn't) -- the following in your remix gist gives an error:

[code]

[code]

Other types such as `uint256` also cannot be loaded from the beginning of a `bytes` array in the same way, which leads to the need to drop assembly code into a program just to parse out typed data from `bytes`.

I had a contr

[2022-07-16 20:37] hrkrshnn commented on #13211
I would say a bytes to bool conversion is rather ambiguous, and already disallowed by the compiler. How do you expect the conversion to work?

[2022-07-16 20:44] lukehutch commented on #13211
I would expect a bool conversion to work exactly the same as the pattern I gave earlier:

[code]

I assume this loads only the first byte of the `returnData` array, and if it is nonzero, the resulting value is true.

Is the ambiguity you raise referring to whether the bool is packed or not? (I assume the packed version is stored as one byte, and the non-packed encoding stores it as a `uint256`?)

[2022-07-16 20:46] lukehutch commented on #13211
This needs to be supported for `uint256` at the very least, but probably for all integer types.

In the more general case, it would be great to be able to do something like:

`(uint256 x, uint32 y, bool z) = (uint256, uint32, bool)(myBytesArray);`

[2022-07-16 20:54] lukehutch commented on #12996
It will be much easier to implement robust automatic runtime protections against reentrancy attacks at runtime once [EIP-1153](https://eips.ethereum.org/EIPS/eip-1153) is merged, because it will allow for flags to be set whose lifecycle is bound to a transaction.

However, I believe the vast majority of reentrancy attack vulnerabilities can be detected and prevented through static analysis.

[2022-07-16 21:43] hrkrshnn commented on #13211
You can already achieve this by using `abi.decode(bytesVal, (bool))`. Similarly for general tuple types.

[2022-07-17 00:54] SilvioGuedes commented on #6098
In my code I don't need to get the return of the call function and I don't need to use the 'success' parameter:

[code]

How can I remove this warning?

[code]

[2022-07-17 08:23] leonardoalt commented on #12996
Are you confident that's gonna go in? I personally am not.

Agree that potential reentrancy can be detected with syntactic static analysis. But what about false positives?

I think there are multiple ideas here that are complementary and provide different levels of safety and user experience. We need to get more people into this discussion, not only from the team. We also need to gather actual dat

[2022-07-18 08:49] cameel commented on #6098
@oivlisnet You can suppress the warning by doing something with the value. Even just using it in a trivial expression consisting only of parentheses:
[code]
But are you sure you don't care if the call reverts or if it returns any data?

If you do care but you're just accessing the returndata afterwards in assembly, I'd say the "proper" solution would be to make the call in assembly too.

[2022-07-18 09:03] cameel commented on #13211
Yeah, just like @hrkrshnn said, `abi.decode()` is the general solution here. In a general case you need actual ABI decoding because not all types have the layout on the stack that's identical to how they're encoded in calldata/returndata.

But also, overall this looks to me like you're trying to use a low-level `call()` but still want it to work like a high-level call that decodes returned data in

[2022-07-18 09:05] christianparpart commented on #13253
Agreed. If we get the native passing through first, I'd highly like that, and then I hope we can focus on solcjs again. Having solcjs exposing LSP is pretty high on the table. I just hope I'll find someone knowledgeable here to pair with me on that in one way or another. :)

[2022-07-18 09:12] cameel commented on #13267
I still see this happening. For example searching for `solidity revert` I get this:

![solidity-revert-google-search-2022-07-18](https://user-images.githubusercontent.com/137030/179479547-2ee34564-f5e9-487b-95a8-c24983918d0c.png)

The upper result is from 0.8.13 while the lower one is for 0.8.15. I think we're seeing different results because Google has all versions still indexed and you can get h

[2022-07-18 12:43] michprev opened #13281 "Incorrect byte location (src) of the `FunctionTypeName` AST node"
## Description

Byte location (src) of the `FunctionTypeName` AST node is incorrect when combined with the `VariableDeclaration` parent node.

## Environment

- Compiler version: 0.8.15+commit.e14f2714.Linux.g++
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): not relevant
- EVM execution environment / backend / blockchain client: not relevant
- Ope

[2022-07-18 13:09] pcaversaccio commented on #12996
As quickly discussed with @leonardoalt it would be good to compile a list of reentrancy attacks and to understand what kind of code design pattern would fit best. Also, IMHO we should not rely on EIP-1153 to be finalised and implemented soon - let's take the current status quo of the EVM and solc as the valid principles for the solution-finding process. Furthermore, I also think we need to be care

[2022-07-18 13:35] Genysys commented on #12996
This is a great idea. Omni NFT was also an reentrancy attack and it would be great to have it here.

[2022-07-18 13:54] 0xalpharush commented on #12996
Adding a mutex to functions that write after external calls would not address cases where separate functions read from stale values or overwrite the same storage value.

Take an example from the SAILFISH paper where adding a mutex is insufficient:
[code]
Rather than strictly identifying instances that do not follow check-effects-interact, it would make sense to look for function calls that allow f

[2022-07-18 14:49] cameel commented on #12778
Ok, I see why it might make sense to make such a pointer compatible with `memory` rather than `calldata`. But then I think this behavior is surprising to users (it was to me) and at the very least, we should document this and the error message should have a hint suggesting to use the `memory` version instead.

Or maybe we could adjust syntax to make it less puzzling? I see two possibilities:
- Mak

[2022-07-18 14:51] cameel commented on #12778
@nishant-sachdeva So this needs more discussion but I think there are a few uncontroversial things we could do right away:
- Document this case.
- Improve the error message.
- Add semantic and syntax tests covering all possible location combinations here.

[2022-07-18 17:18] lukehutch commented on #12996
@pcaversaccio an awesome list -- thanks for compiling this!

@0xalpharush Correct, it's insufficient to prevent state changes if a parent frame in the call stack is a call to an external contract. You have to prevent state changes if a call was made to an external contract _at any previous point in the same transaction_. This is why I referred to EIP-1153, since it will provide a supported mechani

[2022-07-18 17:29] SilvioGuedes commented on #6098
@cameel Thanks for the response.

I'll explain what I'm doing and why it's necessary:

The code is for a smart contract to incentivize IPFS servers to be online and/or pin a file.
To do this, the smart contract needs to send ethers to the server owner and to the other servers when an user "lease" a server.
If the server owner is a **smart contract without a receive or fallback function** and I use

[2022-07-18 17:47] lukehutch commented on #13211
Right, I have been using low-level calls, primarily because I wanted the result of the call in the `(bool success, bytes memory returnData)` return format, so that the whole transaction wouldn't be reverted if a call failed, and so that if it did fail, I could decode exactly why it failed and react accordingly. Yes, #11125 is closely related to the concerns I had that led me to calling external co

[2022-07-18 17:48] Genysys commented on #12996
Would replacing the mutex modifier with this and having the compiler automatically include it in every call be a reasonable compromise?

[2022-07-18 19:05] cameel commented on #13211
Ah, if it's about handling all possible errors then it sounds more like #12725. We really need to address that one. It would help if you could share a bit about your particular use case in that issue. It's currently stuck in the design phase because to make it super granular we'll need to bend the syntax in ways that are not great, but we also don't know how much granularity is actually necessary

[2022-07-18 19:31] lukehutch commented on #13211
I was trying to call a range of external contracts implementing interfaces that all had different rules about what should be done if the callee address was an EOA, and/or if the callee function was not implemented in a contract, and/or if the callee function reverted, and/or if the contract function did not revert but returned the wrong value.

The `catch Error(string memory reason)` and `catch (b

[2022-07-19 07:46] lukehutch commented on #12996
Actually I think `transactionId` may need to also hash `tx.origin`, i.e.

[code]

Although this still doesn't handle the case of a single EOA submitting multiple transactions to be mined in a single block.

Is there any other way to reliably differentiate different transactions?

[2022-07-19 07:48] lukehutch commented on #683
I'm trying to come up with a way to produce a unique transaction ID for each transaction, in order to bind the lifecycle of some piece of state to a single transaction -- and the solution [may require](https://github.com/ethereum/solidity/issues/12996#issuecomment-1188714924) the use of `tx.origin` (so I don't think it should be removed).

[2022-07-19 10:21] cameel commented on #13278
It's not a bug, it was done intentionally (with a minor bug that allowed it in some circumstances and was fixed in #10145). The license goes into metadata and having the compiler silently choose one of the multiple options arbitrarily for the user or even ignore them all is worse in my opinion.

What is your use case? Is there anything preventing you from fixing the license annotation?

The only s

[2022-07-19 10:36] cameel commented on #13232
Duplicate of #3122.

You're thinking of `pure` as something that has zero side-effects but that's not the case in Solidity. Currently it only means that the function cannot read and write storage. It can still freely read and write memory and calldata, use `codecopy` or, as mentioned by @hrkrshnn,  even make external calls. We have a whole discussion about it (#8153), but at the moment I think it'

[2022-07-19 10:36] #13232 closed, assigned to nobody

[2022-07-20 09:09] krasi-georgiev opened #13284 "solc --strict-assembly should have optimization disabled, but it still does some optimization for yul"
## Description

when using strict-assembly optimization should be disabled, but in reality I see some optimization.
A simple example is that unused variables and functions are removed.

I am trying to reverse engineer a contract and this makes it very hard since I want to do it function by function, but the optimizer removes lots of code that is not called and variables that are not changed.

## E

[2022-07-20 09:24] krasi-georgiev commented on #13247
+1 for allowing jumps and labels

I am trying to reverse a contract based on some pseudo code from the ethervm decompiler.
It generated the code with `goto` and labels so without jumps in yul can't think of any other to reverse a contract from.

[2022-07-20 10:28] cameel commented on #13271
Hello @krakxn! To submit a fix you need to create a feature branch off `develop` in your fork (give it some meaningful name) make changes in it, commit them and push the branch to your fork. Then, on the github page for your repo, go to Pull Requests and select "New Pull Request". It will let you select the target branch (it should be `develop` from `ethereum/solidity`) and your branch and create

[2022-07-20 10:28] #13271 closed, assigned to nobody

[2022-07-20 19:07] matheusaaguiar commented on #12478
Would you consider making the changes you proposed and contributing to the project?
If you are unsure about how to do it, I can give you some help.

[2022-07-20 20:44] timweri commented on #12783
I'm interested in fixing this. Will start digging to see what I can find.

[2022-07-21 08:02] anannyenaik commented on #13271
@cameel I see! So, for minor fixes like these I just make a PR directly instead of raising an issue?

**Also, about the fork:** after forking off the `develop` branch - I make a new (feature) branch and commit my changes there. Then, I push that branch to the forked repo. Finally, a PR here. Is this correct?

Sorry and thank you very much!

[2022-07-21 15:58] cameel commented on #13271
Yeah, if you intend to fix it right away, a separate issue is not necessary. But it helps if you're unsure how to fix it or if you just prefer to leave it up to someone else.

Yes, exactly.

[2022-07-21 20:20] frangio opened #13288 "Eliminate array bounds check for trivial case"
The following code seems to do the bounds check even though it is trivially unnecessary.

[code]

Ideally the optimizer would also catch less trivial but apparently easy cases like for loops where the index is checked to be in bounds as part of the loop condition.

Related: https://github.com/ethereum/solidity/issues/9117

[2022-07-22 13:03] pcaversaccio opened #13290 "Optimise memory allocation for `keccak256` hashes with 32 bytes arguments"
The Solidity compiler should automatically use the scratch space if it sees `keccak256(bytes.concat(a, b))` with `a` and `b` being 32 bytes each. Currently, such optimisation can only be done using inline assembly:

[code]

[2022-07-22 14:52] cameel commented on #13290
We already have an issue about a more general optimization that would also cover this case: #12335. It's unlikely that we'll be handling `bytes32` arguments as a special case so I'm going to close this issue. Feel free to post any specific ideas in that other issue.

As for using the scratch space, we might do that in a more general way, based on the total length of the input, but then I'd conside

[2022-07-22 14:52] #13290 closed, assigned to nobody

[2022-07-23 23:04] elshan-eth opened #13294 "Memory allocation in function return"
## Description

## Environment

- Compiler version: 0.8.15
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execution environment / backend / blockchain client: default
- Operating system: Mac OS

## Steps to Reproduce

When a function returns a memory type, solidity allocates space in memory but does not use it.

This code has three exa

[2022-07-24 20:40] cameel opened #13296 "Clarify the difference between `--yul`, `--assemble` and `--strict-assembly` in the CLI help"
On the CLI we have 3 options for compiling Yul, and they're different but their descriptions do not explain how. To users `--yul` seems like the natural choice and the result is confusion (e.g. [How to compile IR into bin?](https://forum.soliditylang.org/t/how-to-compile-ir-into-bin/1146)).

The options will likely change after #7830 but we should clarify the CLI help even before then.

### Curren

[2022-07-25 10:29] antonper opened #13297 "Chained tuple assignments fail typecheck"
## Description

Compiler throws error when chained tuple assignments present in code.

[code]
Looks like typechecker loses types of rvalues after the evaluation of first assignment.

## Environment

- Compiler version: Version: 0.8.15+commit.e14f2714.Linux.g+

## Steps to Reproduce

[code]

[2022-07-25 12:52] leonardoalt commented on #10695
Thank you for the suggestion. The idea is to roll back the main feature in Solidity 0.8.0, aka "safe math by default". The feature has been widely accepted by the community as the way to go, and there is an alternative to use unchecked code via unchecked blocks. Closing as "won't fix".

[2022-07-25 12:52] #10695 closed, assigned to nobody

[2022-07-25 14:23] pcaversaccio commented on #12996
Just as a quick reference for comparison, Vyper uses a simple [`@nonreentrant(<key>)`](https://vyper.readthedocs.io/en/latest/control-structures.html#re-entrancy-locks) decorator (which equals a modifier in Solidity) to prevent reentrancies. I haven't investigated in detail the decorator's behaviour but from the first sight, it would still allow for cross-contract reentrancies as well as for the a

[2022-07-25 15:32] chriseth commented on #13294
Thank you for this issue! This is a design problem in the memory allocator and fixing it is on our roadmap.

[2022-07-25 15:32] #13294 closed, assigned to nobody

[2022-07-25 19:09] k06a commented on #3122
Any progress on this?

[2022-07-25 19:22] #13266 closed, assigned to nobody

[2022-07-26 07:19] PigCharid opened #13301 "Triggering complex events leads to transfer failure"
Call transfer and send to transfer the contract address. When the contract fallback function is triggered, setting an event in the fallback function that returns string, address, uint will cause transfer and send to fail

[2022-07-26 07:19] PigCharid commented on #13301
[code]

[2022-07-26 07:21] PigCharid commented on #13301
<div class="remix_ui_terminal_block px-4 py-1 text-break" data-id="block_tx0xdc8fbe8a9f8b7d0f4e584689e23977e4a77a0c224b6516328f9dbf51a665e921" style="box-sizing: inherit; padding: 0.25rem 1.5rem !important; word-break: break-word !important; overflow-wrap: break-word !important; white-space: pre-wrap; font-family: monospace; line-height: 2ch; color: rgb(162, 163, 189); font-size: 12px; font-style:

[2022-07-26 08:14] Aniket-Engg opened #13302 "Fix 'Open In Remix' in docs"
- [x] Remix requires version in URL params with commit id like `version=soljson-v0.8.7+commit.e28d00a7.js` . Currently from Solidity docs, version is sent as `version=0.8.15` which only set compiler to `latest local version` in Remix

- [x] From Yul docs here https://docs.soliditylang.org/en/v0.8.15/yul.html, if I try to open `Erc20 Example` in Remix (from the bottom of the docs), it show 413 erro

[2022-07-26 08:18] hpumengzhao opened #13303 "Default code generation method and default optimizer"
I am curious about the default code generation method and the default optimizer when I compile the source code to bytecode.
When we use the command to obtain the bytecode
[code]
Is the bytecode generated from Yul or Solidity AST?
Or does the compiler generate the bytecode from the optimized Yul and then continue using the opcode optimizer to optimize it?

[2022-07-26 09:50] cameel commented on #3122
The current status is that this depends on #3157, and that one first needs some design decisions from @ekpyron. It's one of our roadmap goals for this year, but we also have immutable reference types on the roadmap and I think @ekpyron will be working on them first.

The question is also how breaking it will be. Changing how `pure` works would definitely be breaking and would have to be scheduled

[2022-07-26 11:07] anshss commented on #12478
I want to take on this issue if no one is already working on it.

[2022-07-26 12:28] #13303 closed, assigned to nobody

[2022-07-26 14:04] siyu-k commented on #12478
Please go ahead.
Thank you!

On Tue, Jul 26, 2022, 7:07 AM Ansh Saxena ***@***.***> wrote:

[2022-07-26 15:57] timweri commented on #13297
Correct me if I'm wrong but this seems like an intended behaviour? I'm not sure what "sequenced assignment" here refers too but I assumed it's talking about the same chained assignment feature mentioned in the issue.

https://github.com/ethereum/solidity/blob/9f34322f394fc939fac0bf8b683fd61c45173674/libsolidity/analysis/TypeChecker.cpp#L1575-L1576

Maybe the error reporting should be better.

[2022-07-26 16:08] chriseth commented on #13297
Yes, this is intentional.

[2022-07-26 16:08] #13297 closed, assigned to nobody

[2022-07-26 16:09] joshlangs commented on #13301
I believe `transfer` only passes 2300 gas by default, which isn't enough to do the `call` + `emit`.

Use `.call` instead

[2022-07-26 16:38] antonper commented on #13297
Thanks for clarification.

[2022-07-26 20:19] cameel commented on #3157
Another case that might be of practical interest, brought up by @nventuro:
- `keccak256(type(ERC20).creationCode)`
- `keccak256(abi.encodePacked(type(ERC20).creationCode, "hello how are you"))`

This is useful in `CREATE2` address calculation, when constructor args are known constants. Currently this is done by copying the whole bytecode to memory, which is very inefficient.

[2022-07-26 20:51] matheusaaguiar commented on #13204
This seems to be the same problem of #13101 and it should be fixed by #13299.

[2022-07-26 22:24] nventuro commented on #3157
Note that mine was just a toy example - a real use case would have non-constant constructor arguments. I'm not sure there's many use cases for the one you mention.

[2022-07-27 00:43] 5hanth commented on #232
@thedavidmeister yes Maybe Monad at struct level would be good to have if Union types are supported.
[code]

[2022-07-27 06:15] PigCharid commented on #13301
However, if the event does not return string, uint and address at the same time, then transfer and send can succeed

[2022-07-27 13:34] cameel commented on #8969
Another idea: adding PRs labeled `takeover` to the `Takeover column` on the Focus Board.

[2022-07-27 13:48] fulldecent commented on #12547
Fixed here https://github.com/ethereum/solidity/pull/12638, closing

[2022-07-27 13:48] #12547 closed, assigned to nobody

[2022-07-27 13:53] joshlangs commented on #13301
Sure, but if I remember correctly, the `CALL` opcode takes 2100 gas?  Something like that, anyway.  `CALL` is how your function is called, and eats away at the 2300 gas that `transfer` passes.

Then `emit` takes like 700 or so, plus each parameter for a `LOG#` opcode

Accessing `msg.value` and `msg.sender` each cost a few gas

And there's gotta be some overload loading your string "func" onto the

[2022-07-27 14:31] fulldecent opened #13308 "Stop the war on for loops"
## Abstract

Add a specific overflow check optimization that will make many for-loop optimizations unnecessary.

## Motivation

Too many people are saying this is bad:

[code]

compared to this:

[code]

## Specification

### Note

For reference, a for-loop like this:

[code]

is implemented like this:

[code]

### New optimization

If inside a single code unit, if:

1. a variable has bit width X,

[2022-07-27 19:17] cameel commented on #13302
Well, I intentionally did not include the commit part in the link because getting it into built docs is tricky. The documentation build process knows only the `x.y.z` part of the version string because that's what is in the repo. It does not have access to the whole list of published binaries and really should not depend on what's on that list. Maybe we could get the hash using git, assuming the b

[2022-07-27 20:48] michprev opened #13310 "`YulException` missing in `Error Types` list on `Using the Compiler` page"
## Page

[using-the-compiler#error-types](https://docs.soliditylang.org/en/latest/using-the-compiler.html#error-types)

## Abstract

`YulException` is missing in the error types list but can be returned by the compiler (for example with viaIR enabled).

## Pull request

[2022-07-27 21:07] cameel commented on #3157
ok, right. We should still have things like this handled as a part of this mechanism but I guess you're right, constant arguments for this are likely not very common.

[2022-07-28 02:34] hpumengzhao opened #13311 "Deploy Bytecode Generated by --via-ir Failed"
I tested the bytecode generated by IR (compiler version is 0.8.15).

The source code is here: https://paste.ubuntu.com/p/rxH3snBD6Y/

I compile it with the following command to obtain the bytecode.
[code]
I used Ganache (v2.6.0-beta.3) to be the local Ethereum environment.

The key part of my deploy script:
[code]
The deployment was revert
[code]
But the constructor is

[code]
where maxSupply is 4

[2022-07-28 04:04] fulldecent commented on #13308
The second optimization is:

If inside a single code unit, if:

1. an unsigned variable is compared to be greater than some value,
2. the variable is not set until step 3 here, then
3. the variable is decremented,

then that decrementation in step 3 need not be safety checked. Or in $\LaTeX$:

$$x > a >= 0 \implies x-1 > = 0$$

[2022-07-28 05:49] TradMod opened #13312 "Require Statements Revert Custom Errors"
# FEATURE REQUEST

## Abstract

The `require` are very helpful and easy to understand, but the problem with `require` statements is that they store a string as an error message. And strings are not much gas optimized. To make the contract gas optimized we use custom errors within `if-else` statements. Which are not quite sometimes easy to understand especially when they get rooted in.

## Motivati

[2022-07-28 06:35] Aniket-Engg commented on #13302
Thanks for the explanation @cameel . I have added https://github.com/ethereum/remix-project/issues/1490 in the current project plan.

For that long URL, may be for now, you can just shorten this one specifically.

[2022-07-28 08:39] thedavidmeister commented on #12944
i _guess_ i'm running into this

i'm not sure how to check whether i am or not, but my gas costs go up noticeably when i enable viaIR and i make heavy use of calling functions by their pointer, so i assume this is at least contributing

for me at least it seems these additional optimizations that @chriseth is pointing to (no pun intended) are less impactful overall than the cost of the slower disp

[2022-07-28 10:24] zemse opened #13314 "Using constant from library gives error"
## Description

[code]

Error:

[code]

Since the val1 is marked as constant, it is seen as compile time constant in MyLib, but it should be compile time constant in MyContract too.

## Environment

- Compiler version: 0.8.15
- Target EVM version (as per compiler settings): berlin
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execution environment / backend / blockchain client: hardhat
- Op

[2022-07-28 11:12] zemse commented on #9117
It might be obvious but just to mention, unchecked array access can be deadly if user inputs reach the array index, basically attacker could have the contract read a value from any slot they want and contract would process it. But yeah as long as only dev gets to input the index, it'd be great if the language provides "unsafe" methods. This would also hint devs that they should be careful and prev

[2022-07-28 11:47] hrkrshnn commented on #13311
Do you have a link to the full contract?

[2022-07-28 12:00] hpumengzhao commented on #13311
https://paste.ubuntu.com/p/rxH3snBD6Y/

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "ethereum/solidity"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年7月28日(星期四) 晚上7:47
***@***.***&gt;;
***@***.****

[2022-07-28 12:14] nishant-sachdeva opened #13315 "User Defined Types and Operators and Conversions from Literals"
- [ ] https://github.com/ethereum/solidity/pull/12362
- [ ] https://github.com/ethereum/solidity/pull/12656

[2022-07-28 12:16] abhijitgawai commented on #11826
@axic  How to write Interface for such view function. What should be data type

[2022-07-28 13:06] nishant-sachdeva opened #13316 "User Defined value types and operators for them using "using for""
- [x] https://github.com/ethereum/solidity/issues/9211
- [x] https://github.com/ethereum/solidity/issues/11531
- [x] https://github.com/ethereum/solidity/issues/11969

[2022-07-28 13:10] nishant-sachdeva opened #13317 "Code Completion for LSP"

[2022-07-28 13:10] nishant-sachdeva opened #13318 "Compile-Time-Constant expression evaluation"

[2022-07-28 13:11] nishant-sachdeva opened #13319 "Everything at file level + "using for""
- [ ] #13086 (prerequisite for events)
- [x] #9737
- [ ] TODO: Check what other things we might want at file level

[2022-07-28 13:12] nishant-sachdeva opened #13320 "Improve memory management/allocation"
The current feeling is that for this to work nicely, we need a notion of lifetime for memory objects.
For gas-efficiency reasons, we want this lifetime to be determined at compile-time.
Because of that, we are trying to see if rust's model of lifetime tracking / borrow-checking is working for us.

The first draft is considering an intermediate language that makes use of typed yul that achieves thi

[2022-07-28 13:12] nishant-sachdeva opened #13321 "First Experimental Implementation of Generics"

[2022-07-28 13:12] nishant-sachdeva opened #13322 "Implement textDocument/hover"
### Spec

https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#textDocument_hover

### Expectation

Hover information can display the symbol signature as well as some NatSpec documentation, if available.

[2022-07-28 13:12] nishant-sachdeva opened #13323 "Immutable Reference Types"
WHAT
WHY
HOW
Broader discussion in #12587

Concrete steps:
- [ ] https://github.com/ethereum/solidity/issues/13368
- [ ] https://github.com/ethereum/solidity/issues/13369
- [ ] Define further issues for implementing code generation.

[2022-07-28 13:12] nishant-sachdeva opened #13324 "Language Server"

[2022-07-28 13:13] nishant-sachdeva opened #13325 "Release the Language Server with symbolic renaming and syntax highlighting"
EDIT(christianparpart), adding the action items:

- [x] https://github.com/ethereum/solidity/pull/12993
- [x] https://github.com/ethereum/solidity/pull/13103

[2022-07-28 13:13] nishant-sachdeva opened #13326 "SMT + LP solver used in optimizer"
- [ ] https://github.com/ethereum/solidity/pull/12945

[2022-07-28 13:13] nishant-sachdeva opened #13327 "Standard Library"

[2022-07-28 15:12] antonper commented on #13297
[code]
Can this error be more informative then? This empty tuple does not appear in code, but appears in the message.
@chriseth

[2022-07-28 19:09] CryptoKiddies commented on #4630
+1 the compiler should not be opinionated on this matter, following the restrict first then relax security pattern.

[2022-07-29 03:54] CryptoKiddies opened #13330 "Inherited modifier which invokes private function should not compile"
## Description

Since the modifier is a code rollup that inlines code into functions that it decorates, it's expected that functions invoked in an inherited modifier which are private will fail when compiled. However there is no such issue in extended contracts, which inherit such modifiers from base contracts.

## Environment

- Compiler version: 0.8.13
- Target EVM version (as per compiler setti

[2022-07-29 07:42] devtooligan commented on #13247
One feature that would be incredibly impactful would be the ability to insert pure opcodes/mneumonics.  This would give the ultimate flexibility and control and many other feature requests could be solved by this one feature.  Furthermore, this change would allow for interoperability with Huff or any other language or tool that compiles to bytecode.

As for the actual implementation, one idea woul

[2022-07-29 07:57] leonardoalt commented on #13247
@devtooligan how is that different from a normal Yul function? You already have access to `mul` and `sub`, the only missing thing from your example is stack access which is rather a different feature.

[2022-07-29 08:22] devtooligan commented on #13247
In my mind it's about being able to paste in bytecode.  Can be hundreds sloc.  Don't need or want to rewrite in Yul if maintaining it with Huff.

You don't like the idea, @leonardoalt?  What are your concerns?

[2022-07-29 08:23] leonardoalt commented on #13247
Most of the Yul built-in functions translate directly into the opcodes, so I feel like it's just redundant.

[2022-07-29 08:25] devtooligan commented on #13247
Right now Huff can only deploy whole contracts.  Would be aweseome if we could find a way for Huff to interact w Solidity.

[2022-07-29 08:31] leonardoalt commented on #13247
I guess you could use [Yul's verbatim](https://docs.soliditylang.org/en/v0.8.15/yul.html#verbatim) for that?

[2022-07-29 08:33] pcaversaccio commented on #13247
I think it's about interoperability on the opcode level here. The same would apply to Fe probably. The question we need to ask ourselves is whether we consider this an isolated Solidity/Yul issue or we think about transpilation/interoperability. IMHO when Huff becomes more mature you will work only with Huff and not consider it porting it to Solidity/Yul. So maybe such a feature request is a lifec

[2022-07-29 08:39] devtooligan commented on #13247
@leonardoalt Thanks this looks promising 🫡

[2022-07-29 08:41] leonardoalt commented on #13247
It looks like the exact thing you need for your initial comment haha

[2022-07-29 08:53] pcaversaccio commented on #12996
Linking this [EIP initiative](https://github.com/SergioDemianLerner/EIPs-Semaphore/blob/36c0f795deceee205023da4968549a7a8e86d511/EIPS/eip-semaphore.md) by @SergioDemianLerner since it can be relevant to this discussion. The proposal is to implement (through a hard fork) a reentrancy guard as a precompile. I don't think we should solve this issue via a hard fork. It's not an EVM problem but a compi

[2022-07-29 09:22] krasi-georgiev commented on #13247
What about jumps and labels?

[2022-07-29 10:07] thedavidmeister commented on #232
personally i've mostly moved away from using structs like this because the support for it is pretty bad

[2022-07-29 12:13] migoldfinger commented on #13308
I see where this comes from, my first thought however is an fancy endles loop thats been created like that if for loops are optimized with your idea.

[code]
This would result in an infinite loop if I am not mistaken.
Of cource the unchecked code example will too but there it is the devs fault entirely.

[2022-07-29 12:19] wechman commented on #13221
Hi @amit-supraoracles! Thank you for the ticket! I went through your code and noticed defects in `bytes32IntoString` function. Well, firstly, the function allocates 65 bytes which is pretty unexpected taking into consideration that `str2` is only 64 bytes  long. And secondly, there is yet another defect at the end of the function. The thing is, you use preincrementation on variable that `temp` is

[2022-07-29 12:19] #13221 closed, assigned to wechman

[2022-07-29 13:16] hrkrshnn commented on #13311
The difference is documented in https://docs.soliditylang.org/en/v0.8.15/ir-breaking-changes.html#semantic-only-changes

This is due to the order of initialization of `maxSupply`, in the IR pipeline the variable is initialized at towards the end. So in the constructor, the value getting read is zero.

Closing this for now. Feel free to reply if you have questions.

[2022-07-29 13:16] #13311 closed, assigned to nobody

[2022-07-29 13:39] Marius-BC-Dev opened #13331 "Solidity needs to support the trie type, so that the amount of stored data is smaller and the search is faster. The gas of contract transactions will be reduced"

[2022-07-29 14:11] lukehutch commented on #12996
@pcaversaccio right, a hard fork would solve the problem in the wrong way. Reentrance can and should be statically determined. Slither already does this (although I don't know what degree of complexity it handles).

[2022-07-29 14:30] pedrommaiaa commented on #1290
This is still an issue on 0.8.15:

[code]

returns `Member "WAD" not found or not visible after argument-dependent lookup in type(contract Test1). `

[2022-07-29 15:00] cyraxred opened #13332 "Unexpected storage layout caused by interfaces"
## Description

Addition of an interface causes reordering of fields in the storage layout.

## Environment

- Compiler version: reproduced on 0.8.0, 0.8.4, 0.8.10. 0.8.15
- Framework/IDE (e.g. Truffle or Remix): Remix, VisualStudio

## Steps to Reproduce

Compiling of the code below gives following storage layouts:
- V1: p11, p12
- V2: _p21_, p11, p12, _p22_

Expected layout is:
- V1: p11, p12
-

[2022-07-29 16:15] cameel commented on #13331
Can you elaborate? What use cases do you have in mind?

This sounds like something that could be implemented as a third-party library. We're currently working on adding generics to the language, which should make implementing such libraries in a reusable way even easier. I think that's a better approach than making more data structures a core part of the language.

[2022-07-29 19:07] devtooligan commented on #13247
Ser my initial research has shown that `verbatim` is not allowed in Solidity.

![Screen Shot 2022-07-29 at 12 06 42 PM](https://user-images.githubusercontent.com/71567643/181827883-528edf33-a95d-401e-9e7c-119b49366921.png)

Found this related issue:
https://github.com/ethereum/solidity/issues/12067

[2022-07-30 05:07] StrongerXi commented on #13214
Hey @timweri are you still working on this?

[2022-07-30 06:00] timweri commented on #13214
Hi. No I didn't really start. I was waiting for some maintainers to comment on the necessity of this before putting in the time. But it's all yours.

[2022-07-30 07:08] StrongerXi commented on #13201
@leonardoalt could you provide a repro for the profiler run? I'd love to take a jab at this.

A few questions:

1. Why aren't nested function call expressions unnested -- design choice, or legacy? It could've enabled more CSE for nested expressions, e.g.,
[code]
Regardless, it might be worth to support such nested CSE (by looking up such nested/unnamed values & replacing them with newly inserted v

[2022-07-31 07:16] minhhn2910 opened #13335 "Some possible arithmetic issues/optimizations in the generated #utility.yul"
## Description

When testing with migrating some simple contracts from solc-7 to solc-8, our in-house evm bytecode fuzzing tool starts to complain about arithmetic bugs in `#utility.yul`  that is injected since solc-8. Although these alerts actually do not affect the output, we want to ask if these behaviors are all intended or they will be optimized in the future ?

## Environment

- Compiler ver

[2022-07-31 12:41] Marius-BC-Dev commented on #13331
I have considered using a third-party library to implement this function. In the way of a third-party library, the size of the stored data cannot be reduced.

[2022-07-31 15:17] PigCharid commented on #13301
ok   thanku

[2022-07-31 21:11] hrkrshnn commented on #13201
@StrongerXi They will get "unnested" by the `ExpressionSplitter`. The `ExpressionJoiner` would invert the operation. But it's a good question on how often this should be applied. You can look at https://github.com/ethereum/solidity/blob/d5a78b18b3fd9e54b2839e9685127c6cdbddf614/libyul/optimiser/Suite.cpp#L254 and https://github.com/ethereum/solidity/blob/d5a78b18b3fd9e54b2839e9685127c6cdbddf614/lib

[2022-08-01 08:31] Marius-BC-Dev commented on #13331
For example, use map to store account balance, and modify it to use trie structure type to store data will be better. Because it can reduce the gas consumption of contract state data storage.

[2022-08-01 09:24] chriseth commented on #13201
Thanks for your suggestions, they all sound good! I'm not sure if we are currently doing CSE for calls to user-defined functions. We did some work on extending the side-effects structure also to user-defined functions, so it might already be there, but could also be in an "almost finished" open pull request :)

[2022-08-01 09:36] MicahZoltu opened #13336 "[Bug] Width of the Solidity docs site is artificially constrained."
## Description
The docs site has an artificial limit on the width, which results in a massive waste of screen real estate and has some problems with overflows and horizontal scrollbars in several areas.  The page should fit the browser width, and **if the user wants something slimmer they can shrink their browser window** rather than dictating that everyone must suffer equally (emphasis added beca

[2022-08-01 11:32] cameel commented on #13331
I don't really see why it would necessarily have to be more expensive when implemented as a separate data structure. Solidity might be missing some high-level syntax to do it nicely (then you should rather request those instead) but ultimately you can always implement things in inline assembly. Solidity ultimately generates assembly to handle maps too.

[2022-08-01 11:52] cameel commented on #13336
Personally, I also wish it worked this way. There's a lot of space wasted even if my screen is wide enough to show more. And the content is not even centered.

On the other hand, I don't think it's really a bug - seems to me to be a deliberate choice in the theme. I think it's the default for the RTD theme and lots of other projects do this with their docs. Probably for readability and because it

[2022-08-01 12:24] franzihei commented on #13336
While I personally agree and would also prefer the wide-screen version, I *think* this is done on purpose by the theme to optimize for readability. E.g. see https://blog.soliditylang.org/ (or https://ethereum.org/en/developers/docs/ or https://doc.rust-lang.org/book/title-page.html) where the posts also have a fixed width, which makes the text much easier to read.

I'm still happy to explore adjus

[2022-08-01 13:07] gpersoon commented on #12996
With ERC777 it can be the other way around see: https://twitter.com/transmissions11/status/1496944873760428058

[2022-08-01 14:30] cameel commented on #13319
Added #13086 to the list.

[2022-08-01 15:24] cameel commented on #9627
I discussed it with @ekpyron today and adding a prefix would be fine but https://github.com/ethereum/solidity/issues/9627#issuecomment-1016376145 still leads to some ugly complications in the code. We would either have to parameterize `OptimiserSettings` on the EVM version and dialect or introduce some conditional syntax into the sequence.

We now lean towards going back to the idea of having a se

[2022-08-01 16:17] axic commented on #13336
To provide feedback from another angle: I would find it tiring to move head/eyes 50 centimeters across should it be fully expanded. Yes, I could resize the browser window too, so it is not a strong limitation.

That being said likely increasing the width to match current common screen sizes could be a good idea.

[2022-08-01 19:28] lukehutch commented on #12996
Good point, and correct, I pointed that out here: https://github.com/OpenZeppelin/openzeppelin-contracts/issues/2620#issuecomment-1156118047

The ERC777 standard is insecure by default, and needs to be deprecated. But presumably there should be a compiler directive in case anyone really wanted to turn off Checks-Effects-Interactions order checking for a given function.

[2022-08-02 01:49] Marius-BC-Dev commented on #13331
I think you understand solidity's storage better than I do. In the map structure, each key uses a space for storage, etc. If the trie structure is used, the key can be partially shared, so the storage size and gas can be reduced.

[2022-08-02 03:00] fulldecent opened #13338 "Remove all references to "money""
I don't believe the Ethereum Foundation has made any reference to classifying Ether as "money" and therefore neither should the Solidity project.

[2022-08-02 08:39] ekpyron commented on #13214
I don't think this should be a warning - variables declared in for loops are not special in any way, so we'd either have to warn about *all* uninitialized variables, independently of whether they occur in a for-loop or not, or none of them (including those in a for loop) (see also: https://github.com/ethereum/solidity/pull/13334#pullrequestreview-1057311873).

Also I'm not quite sure, why this rep

[2022-08-02 10:54] MicahZoltu commented on #13336
It only influences the legibility for people who only know how to use their browser fully maximized *and* have a widescreen monitor.  I would hope the target demographic of this page are people who know how to resize a browser window.  😅

The *actual* design best practice is to have your page be responsive to the environment the user is using, which means shrinking/expanding based on available rea

[2022-08-02 11:59] hrkrshnn opened #13339 "`abi.encodeError(...)` for custom errors"
## Abstract

The type-safe `ab.encodeCall(f, args)` should be extended for custom errors.

## Motivation

It's very common in testing frameworks to encode custom errors (to check if a call reverts with the specified encoding). This is currently done by using `abi.encodeWithSignature('error_signature", ...)` or `abi.encodeWithSelector(error.selector, ...)`.

[2022-08-02 13:44] lukehutch commented on #13214
OK, that all makes sense. Should this bug be closed then?

[2022-08-02 17:11] franzihei commented on #13336
Even this very website you are using right now has a fixed width 😉

[2022-08-02 17:15] franzihei commented on #13336
I'm getting some more feedback on this and will come back here soon!

[2022-08-02 17:15] MicahZoltu commented on #13336
I have a bookmarklet for this site that removes the hard coded width, and if GitHub had a public bug tracker I would have filed a bug years ago about this.

That being said, just because other people on the internet do a thing doesn't mean it is a good idea.  😀

[2022-08-02 19:50] kriptonian1 commented on #13338
I would like to work on this issue

[2022-08-02 23:05] SergioDemianLerner commented on #12996
My [EIP-5283](https://github.com/ethereum/EIPs/blob/0ac341a39e3927b0cb51aa4d2e96fc19475f1bc8/EIPS/eip-5283.md) represents the simplest hard-fork that provides the mutex functionality that is future-proof for EVM parallel tx execution with fine-grained parallelization. The sooner we introduce such a feature, the higher the number of deployed contracts will be parallelizable.
I would also prefer the

[2022-08-03 02:43] fulldecent commented on #13308
@migoldfinger That code example would NOT be optimized.

The rule is (emphasis added):

The rule would not be applied because the "some quantity's" bit width (i.e. `uint256`) is not less than or equal to the variable's bit width (i.e. `uint8`).

---

Any counterexample, regardless of how farfetched, is welcome if it would cause this optimization to be behavior-changing.

[2022-08-03 09:22] cameel commented on #13331
Not really. For mappings keys are not stored at all. That's why you cannot enumerate the elements or copy the whole mapping.

[2022-08-03 10:07] ekpyron commented on #13308
Yeah, this is a known issue - we have experimental research towards general reasoning- and SMT-based optimizations that are intended to be powerful enough to remove the overflow checks in these (and more general) cases without special-case handling - but since it's unlikely that this will be production-ready in the immediate future, we could indeed consider a dedicated and well-defined special-cas

[2022-08-03 12:25] cameel commented on #13339
Related bug: #13266.

[2022-08-03 12:44] hrkrshnn commented on #13339
Decision to use `abi.encodeError` instead of `abi.encodeCall`.

[2022-08-03 13:41] ekpyron commented on #13214
Alright, we quickly talked about this in our meeting today and decided to indeed close it, so I'm closing!

[2022-08-03 13:41] #13214 closed, assigned to nobody

[2022-08-03 16:15] cyraxred commented on #13332
A simple demo
https://github.com/cyraxred/solidity-layout-bug

[2022-08-03 18:07] samajammin commented on #13336
I'm personally a fan of enforcing some max width on the container to limit the width of any given line of text. Seems to be a common UX approach across the web, e.g. Google, NY Times, Medium, MDN (although there's certainly counterpoints, like Wikipedia). Enforcing a max length of lines of text tends to improve readability.

FWIW you can see we do this on ethereum.org:
![image](https://user-images

[2022-08-04 11:54] #13312 closed, assigned to nobody

[2022-08-04 13:40] minimalsm commented on #13336
Depending on who you ask, the optimal line length for the web is [somewhere between 50-85 characters](https://baymard.com/blog/line-length-readability). Any more or less can hurt readability.

People generally read about [1/4 of the words on a webpage](https://www.nngroup.com/articles/how-little-do-users-read/), so shorter line lengths are better to let users skim.

I agree with the issue that the

[2022-08-04 13:48] MicahZoltu commented on #13336
Shorter lines make skimming harder because you have to scroll further between section headings/paragraphs.

I challenge the claim that 50-85 characters is optimal, and even if it is true:
A. The user can set their browser width to whatever they want.
B. Number of characters is not a function of number of pixels unless the font size is fixed (which it isn't for anyone with accessibility settings th

[2022-08-04 14:00] #13101 closed, assigned to matheusaaguiar

[2022-08-04 17:21] jrynkiew opened #13348 "Packed layout for memory arrays with small base types."
I think we should look into memory handling on EVM, and not into gas cost reimbursement mechanisms. Obviously there is no benefit to using anything apart from strings in the EVM for max contract memory storage handling, as uint8's occupy a much larger memory slot than they should.

Please look into EVM memory management, as I am intending to store massive data on EVM compatible smart contracts on

[2022-08-04 17:40] ekpyron commented on #13348
I'm not entirely sure I understand what you're getting at, but the memory layout of dynamic arrays other than ``string`` or ``bytes`` is specified to be padded to 32 byte boundaries per element and that's not easily changed without a major breaking change (even though we could consider it *as* breaking change).
Is there any particular reason why you would need to use ``uint8[]`` instead of ``bytes

[2022-08-04 18:29] #13208 closed, assigned to nobody

[2022-08-04 18:37] ekpyron commented on #13335
The EVM defines division by zero to be zero, not as a revert (as you say yourself) - since our code generation targets an EVM following that specification, I'd not consider divisions by zero a bug - I don't think it's really practical for us to take any potential "non-orthodox" EVM implementation into account :-).
That being said, for those particular multiplication overflow checks, we may change

[2022-08-04 22:50] jrynkiew commented on #13348
Hello @ekpyron,

Thank you for getting back to me. I think that the uint arrays should be automatically packed into the available memory. Otherwise there is no reason to use this feature at all, and make all arrays strings or bytes.

I will use bytes arrays which I will pack myself with data from now on, however I would like to see this memory optimisation done on Solidity to be able to be in full

[2022-08-05 08:53] migoldfinger opened #13349 "Are unused internal functions of libraries removed from bytecode?"
I feel kind of stupid and this is more like a question I think. If not maybe it's a feature request :)
I searched for 2 hours now without finding a definite answer on the internet or in the documentation but maybe I am just blind.

As far as I understand is that inline functions of libraries are embedded in the bytecode of the contract that is using them.
Therefore instead of a delegatecall a jump

[2022-08-05 10:01] ekpyron commented on #13332
The layout of storage in the presence of inheritance is determined by the [C3 linearization](https://en.wikipedia.org/wiki/C3_linearization) of the inheritance graph.
Adding the interface changes the C3 linearization, so the change in the storage layout is expected, conforms to the current specification and is in that sense not a bug.

That being said, I'm actually wondering, whether interfaces sh

[2022-08-05 10:24] ekpyron commented on #13349
Uncalled internal functions, including internal library functions, will generally not occur in bytecode.

[2022-08-05 11:10] cameel commented on #13204
#13299 fixed it. Closing.

[2022-08-05 11:10] #13204 closed, assigned to matheusaaguiar

[2022-08-05 11:14] cyraxred commented on #13332
yeah, ideally, interfaces should be exempt from the linearization

[2022-08-05 11:19] ekpyron commented on #9627
So as for some more guidance:
We currently have the command line option ``-yul-optimizations steps`` and the standard json option ``optimizerSteps`` (in ``settings.optimizer.yulDetails``) which determines the sequence of yul optimizer steps to be run. The default is defined in ``OptimiserSettings::DefaultYulOptimiserSteps`` in ``libsolidity/interface/OptimiserSettings.h``.
The sequence is actually

[2022-08-05 11:36] ekpyron commented on #9627
So yeah, after talking with @cameel once more passing it in from CLI and standard json should work as follows:

We allow a colon in the optimizer steps string as a separator. The behaviour should be as follows:
- Without a colon, the sequence only sets the main optimizer steps just as it does now and uses the default "fDnTOc" as cleanup sequence.
- With a colon, everything before the colon is the

[2022-08-05 12:03] ekpyron commented on #10645
Staging this as a task ready to be worked on for using the mechanism of https://github.com/ethereum/solidity/pull/12762 to determine when a memory-writing call has a length of zero and, based on that, to not clear memory knowledge in the data flow analyzer.
(i.e. not for anything more fancy like the linear programming suggestion)

[2022-08-05 12:18] ekpyron commented on #13146
It happens a lot on compiler updates and it's better to be able to tell people who then file issues about it (after looking at the situation) that it's safe to disable the pedantic option rather than having them manually mess with the build system or tell them to wait for a fix or even a new release...

[2022-08-05 12:18] ekpyron commented on #13146
And if pedantic checks are enabled by default and in CI, this entails no safety loss. So I say we can go ahead with this.

[2022-08-05 12:39] Alfa11917676 commented on #11638
@hrkrshnn I was getting

`CompilerError: Stack too deep when compiling inline assembly: Variable value3 is 6 slot(s) too deep inside the stack.`
`Error HH600: Compilation failed`

This error this was fixed by turning off yul optimiser

[2022-08-05 13:04] bshastry opened #13350 "[abi coder] Storage to calldata copy fails?"
[code]

fails at `if (p_0.length != 4) return 1;` inside `coder_calldata_external_indirection`

[2022-08-05 13:16] ekpyron commented on #13350
Yep, this is an instance of https://github.com/ethereum/solidity/issues/13249 and hence should be fixed by https://github.com/ethereum/solidity/pull/13282 :-). So this confirms that the new fuzzing works

So yeah, I'm closing this as duplicate of https://github.com/ethereum/solidity/issues/13249. Would be good to rebase fuzzing on top of https://github.com/ethereum/solidity/pull/13282 to see if we

[2022-08-05 13:16] #13350 closed, assigned to nobody

[2022-08-05 14:02] cameel commented on #11638
@Alfa11917676 Was it with `viaIR: true`? What does you code look like? Can you post a small snippet that reproduces this?

[2022-08-05 14:06] cameel commented on #9627
And we should also have a change in the `breaking` branch that disallows usage without a colon.

[2022-08-05 15:36] cameel commented on #13349
Exactly. Only the functions you reference in some way (call, assign to a pointer, use in an expression) are included in the bytecode. And this pruning happens at the codegen level so it's true even with the optimizer disabled. You don't have to worry about the unused functions bloating your bytecode.

Also, you can always check for yourself. You can compile the code with `--ir` or `--ir-optimized

[2022-08-05 15:36] #13349 closed, assigned to nobody

[2022-08-05 15:44] cameel commented on #13348
Depends on your use case. Packing is not free. EVM operates natively on 32-byte words so accessing a value that's the only thing in a word is cheaper than extracting it from a packed slot with bit masks and shifts. Whether this makes sense or not really depends on the relation between the cost of memory and the cost of operating on it. That calculation is for example very different for storage whi

[2022-08-05 15:57] cameel commented on #13348
Anyway, can you concisely describe what you are actually requesting? Your post is long but also very vague about the specifics. Which types would be affected (only ints? what about fixed bytes? addresses? function pointers)? In which locations (`memory`, `storage`, `calldata`)? How would that affect structs?

In any case, I doubt we would want to change the semantics of the existing types given th

[2022-08-05 19:12] fulldecent commented on #12822
Here are some actual use cases where this feature would be used today:

- ERC-721 implementation where the base class wants to allow overriding the `baseURL` variable (OZ does this)
- A owner implementation (ERC-5313 (DRAFT)) where changing the owner does something (like changing royalties) and therefore a subclass cannot edit the `_owner` variable directly.
- Libraries ("data structures") like qu

[2022-08-05 19:42] cameel commented on #13312
Related: https://github.com/ethereum/solidity/issues/7877#issuecomment-780598691

We considered this but so far we could not agree on a good syntax.

[2022-08-05 20:57] frangio opened #13352 "Avoid copying unused returndata on .call family of functions"
For some reason I thought this had been fixed in https://github.com/ethereum/solidity/pull/12684 but it doesn't seem to be the case...

When the return data of a call is not stored in a variable (or more generally, when it's not used), it shouldn't be copied to memory. See https://github.com/ethereum/solidity/issues/12647 for a discussion on why this is important.

The snippet below emits `returnd

[2022-08-06 04:36] migoldfinger commented on #13349
thx you are the best ;)

[2022-08-06 05:35] 0xAlfa commented on #11638
@cameel my code was a on-chain metadata generator with a lot of traits coming into actions.

[2022-08-07 11:11] cameel commented on #11638
I mean, without seeing any code we can't really say anything just based on that error message. It simply says that the compiler ran out of available EVM slots but not why it happened.

And before jumping into the code, we should make sure it's not one of the cases where the problem is still known to exist. I.e. are you using `viaIR: true`? Is the function non-recursive? Are your assembly blocks ["

[2022-08-07 11:27] michprev opened #13353 "Type identifier string in AST is ambiguous with linear parser"
## Description

Type identifier strings generated in [Types.cpp](https://github.com/ethereum/solidity/blob/49a2db99e69b5608c24064659528dc1d92b21fef/libsolidity/ast/Types.cpp) cannot be unambiguously decoded with linear parser because of these escape sequences:
https://github.com/ethereum/solidity/blob/49a2db99e69b5608c24064659528dc1d92b21fef/libsolidity/ast/Types.cpp#L262-L271

An example may be `

[2022-08-07 18:17] BitlyTwiser commented on #12825
It seems that this error is most prevalent when I am also running a hardhat node while simultaneously working in a solidity file.

When I spin down the hardhat node, the solc LSP seems to run fine unless I use ```LspRestart```, which does still cause the initialization failure. It seems that the LSP server seems to work decently as long as the node is not running and I do not restart the LSP serve

[2022-08-08 10:54] antonper opened #13356 "Function pointer assignment error when names are colliding"
## Description

Compiler throws error when function with the same name but different signature exists  in code.

[code]
Even though the type of declared variable can only match one out of 2 functions.
If this behavior is intended, the error message is not informative.

## Environment

- Compiler version: Version: 0.8.15+commit.e14f2714.Linux.g+

## Steps to Reproduce

[code]

[2022-08-08 11:49] #13249 closed, assigned to Marenz

[2022-08-08 15:57] ekpyron opened #13362 "Fix builds for Ubuntu 22.10"
We trigger PPA release builds for the upcoming Ubuntu release as early failure indicator and in the last release it actually failed:
https://launchpadlibrarian.net/617180489/buildlog_ubuntu-kinetic-amd64.solc_1%3A0.8.16-0ubuntu1~kinetic_BUILDING.txt.gz

We should check with a ubuntu 22.10 docker image what to do to fix those builds. Best asap, but definitely before its release in October.

[2022-08-08 16:16] Elyx0 commented on #13332
Is there any tool to preview the solidity C3 output of a given contract?

[2022-08-09 08:32] montyly commented on #13332
@Elyx0 : you can use slither's inheritance graph: https://github.com/crytic/slither/wiki/Printer-documentation#inheritance-graph

`slither file.sol --print inheritance-graph`

[2022-08-09 09:28] leandro-driguez opened #13364 "Solidity compiler issue on Arch Linux"
## Description

The problem is that the compiler tries to look for the `libz3.so.4.8` library but it doesn't find version 4.8, the one it finds is 4.9, maybe just updating the binary and telling it to directly use the latest library, in this case 4.9, solves the problem.

## Environment

- Compiler version: solidity 0.8.15-1
- Operating system: Arch Linux
- Package: https://archlinux.org/packages/

[2022-08-09 09:40] ekpyron opened #13365 "Refactored Type Checking and Analysis Annotations"
### What

Make type checking robust against several invocations (creation mode; runtime mode), as well as out-of-order execution, even in the presence of cycles.

### Why

To enable compile-time constant expression evaluation and the code data location, as well as making support of generics easier in the future.

### What

Currently, the Solidity AST is ``const`` after parsing and then ``annotatio

[2022-08-09 09:47] ekpyron commented on #13364
Thanks for the report, but the right place for filing this issue is with archlinux package maintainers - we don't have any influence over their package builds :-). (I've just flagged the package out-of-date due to the 0.8.16 release; them rebuilding due to that may already solve this issue)

So since we can't do anything about this, I'm closing this issue.

[2022-08-09 09:47] #13364 closed, assigned to nobody

[2022-08-09 09:59] bshastry opened #13366 "[TypeChecker] Bad cast of function call as tuple expression"
[code]

throws

https://github.com/ethereum/solidity/blob/49a2db99e69b5608c24064659528dc1d92b21fef/libsolidity/analysis/TypeChecker.cpp#L170

[2022-08-09 10:40] nikola-matic commented on #9627
@cameel, as discussed with @ekpyron, one of the things we'll disallow is custom cleanup sequence in nested sequences, i.e. a sequence such as `dhfo[Dg:vu]lfnTUtnIf` would be illegal, as we only want to see the `:` delimiter at nesting level zero. However, should we allow the delimiter to be placed at the beginning, or at the end of a sequence, thus making either the optimizer sequence or cleanup s

[2022-08-09 10:44] ekpyron commented on #9627
Yes, both at the beginning and at the end is fine.

[2022-08-09 10:45] ekpyron commented on #9627
Also ``":"`` is fine. That's actually among the expected use cases of this :-). (I.e. not perform any optimization other than stack compression and moving variables to memory, if running out of stack space - that'd be the effect of ``":"``).

[2022-08-09 13:40] gpersoon commented on #13055
Here are a few examples that are not obvious:

[code]

[code]

## Suggestion
Have a keyword that indicates if values are copied/passed by value or by reference

[2022-08-09 13:59] #13366 closed, assigned to ekpyron

[2022-08-09 14:04] ekpyron commented on #13055
This general complex of issues is known and we plan to change this in the future one way or another. Unfortunately, it's not entirely trivial to come up with a full schema that is both sufficiently flexible and at the same time fool-proof... especially while not inadvertently overcomplicating the language.
So yes, the current situation is definitely bad, but we don't yet have consensus about the b

[2022-08-09 14:15] ekpyron opened #13368 "Parse ``immutable`` as data location."
First step in https://github.com/ethereum/solidity/issues/13323.

Previously, we considered adding a ``code`` data location - however, since EOF will have an actual data section, ``code`` as keyword may actually be misleading. So we intend to stick with more semantic term ``immutable``, but change it from only a qualifier for state variables to a full data location as well.

[2022-08-09 15:11] ekpyron opened #13369 "Type-Checking for ``immutable`` as data location."
Depends on https://github.com/ethereum/solidity/issues/13368.
As a second step of https://github.com/ethereum/solidity/issues/13323, we properly type check the new ``code`` data location.

This entails removing the syntax error introduced in https://github.com/ethereum/solidity/issues/13368 and instead implementing the type checker logic for the ``code`` data location.

This will mostly involve co

[2022-08-09 15:17] ekpyron commented on #13368
When closing this issue, https://github.com/ethereum/solidity/issues/13369 should be moved to the ``Design/Decide`` column of the Focus Board.

[2022-08-09 15:55] ekpyron commented on #13224
This is the case triggering the bug:
https://gist.github.com/ekpyron/faca83a32a77ba4393f88cace7e79663

[2022-08-09 21:11] fulldecent opened #13371 "Stop recommending .transfer"
## Page

The Address.transfer function may not be compatible with smart contract recipients due to gas limits.

Since smart contract recipients are first-class citizens on Ethereum we should either:

1. Stop recommend `.transfer` everywhere (in documentation) and deprecate the function, or
1. Clearly explain the limitations of `.transfer` everywhere it is mentioned (in documentation) and explain t

[2022-08-09 22:57] fulldecent opened #13372 "Document the fact that zero-length arrays are not allowed (currently it's undefined behavior)"
This code does not compile:

[code]

with error:

---

I can't find any documentation that says I can't do this.

---

Reviewing live now during NFT/Web3 Community Service Hour. --> https://phor.net/#hour on twitch

[2022-08-09 23:34] fulldecent opened #13373 "Security: blog post, minified example"
## Page

https://blog.soliditylang.org/2022/08/08/calldata-tuple-reencoding-head-overflow-bug/

## Abstract

The example in that page is not a minimal test case. We have found a minimal test case. Please consider updating to article to use this broader, minimal test case.

## Pull request

Test case:

[code]

And here is the test runner:

[code]

Discussed with @dtedesco1 during NFT/Web3 Community

[2022-08-10 09:44] migoldfinger opened #13375 "Different gas cost when using Libraries with using and without"
Hi, I stumbled across this while optimizing my contracts.
I do not know if this is maybe and hardhat-gas-reporter bug because in my opinion both options should lead to the same byte code.
UQ144x112 is just a library for unsigned fixed decimal it does not matter what kind of library is used.
[code]
I hope there is now error but I just put it together instead of copying the whole contract.
If I run

[2022-08-10 13:18] hrkrshnn commented on #11407
@zemse We just discussed this in the call. We think it's reasonable, do you want to start with an implementation?

[2022-08-10 14:19] migoldfinger opened #13377 "Contract size raised by a riddicilous amount with one simple line of code"
I have a library that helps with calculation of contract addresses created with CREATE2.
[code]
What really puzzled me for a while was that `keccak256(abi.encodePacked(_PAIR_CREATION_CODE, abi.encode(tokenL, tokenR)))` adds 13.034KiB to the contract size. -> Checked with hardhat-contract-sizer and comment in and out line by line.
The size jump also happens if I only call 'bytes32 creationCode = ke

[2022-08-10 14:56] hrkrshnn commented on #13377
This wouldn't be feasible. Effectively, you want to compute the `keccak256` hash of `x + y + z` but want to avoid or replace `x`. I don't think that is possible.

Unfortunately, that is likely the best option here. You can see the trick that Uniswap-v3 uses for this: https://github.com/Uniswap/v3-core/blob/412d9b236a1e75a98568d49b1aeb21e3a1430544/contracts/UniswapV3PoolDeployer.sol#L34

Closing th

[2022-08-10 14:56] #13377 closed, assigned to nobody

[2022-08-10 15:01] hrkrshnn commented on #13375
It's likely the order of the function in the dispatch affecting the gas. See: https://hrkrshnn.com/t/devconnect.pdf#page=11 for some details.

You can easily verify this by swapping the names of the functions and seeing the difference. Let us know if that is indeed the case. Closing this.

[2022-08-10 15:01] #13375 closed, assigned to nobody

[2022-08-10 15:10] ekpyron commented on #13308
We had an initial discussion about this today and decided that we want to further explore a few options.
- @hrkrshnn will check, if it's feasible to accelerate getting an experimental difference solver for the optimizer ready for reliably dealing with the resulting patterns on the Yul level.
- I just created a draft implementation for special-case syntactic analysis in solidity similar to what's s

[2022-08-10 15:19] cameel commented on #13373
To be honest, it wasn't meant to be a minimal example. I chose it because it's still relatively simple while showing two interesting things:
1. You can have tuples at any nesting level. Argument list as a whole is a tuple but structs are also affected.
2. It's very common for a length field of some dynamic type to be overwritten but that's not the only possible case. Putting something dynamic in a

[2022-08-10 18:16] mudgen commented on #9986
@chriseth Any plans to make extensible enums?

[2022-08-10 19:15] migoldfinger commented on #13377
hm maybe an CREATE3 would be nice where the `keccak256(abi.encodePacked(_PAIR_CREATION_CODE, abi.encode(token0, token1)))` is calculated like `keccak256(abi.encodePacked(keccak256(_PAIR_CREATION_CODE), abi.encode(token0, token1)))` well maybe I dig into that kind of stuff and creating an EIP

Too late I see there is already an EIP with CREATE3 that would exactly cover my problem... https://github.

[2022-08-11 13:52] Elyx0 commented on #3168
Did 0.8.16 reintroduce this bug?
[code]

Going 8.14 -> 8.15 had no issues.

[2022-08-12 01:21] fulldecent commented on #13373
Got it, thank you.

When I read it the first time, I thought that the nested parts were required. So I worked it down to the minimal thing that's affected. That's what I need to start going around looking for vulnerabilities.

[2022-08-12 01:21] #13373 closed, assigned to nobody

[2022-08-12 09:29] #12922 closed, assigned to wechman

[2022-08-12 10:34] ekpyron opened #13385 "CI run for building using ``ninja``."
Basically recreate https://github.com/ethereum/solidity/pull/12707 as an archlinux build (resp. re-evaluate if we still need to make it an ``arch`` build for newer ``cmake`` or an ubuntu build run would also be just fine).

[2022-08-12 11:10] ekpyron commented on #12778
Since we had a discussion on this, in which @cameel and @hrkrshnn argued against just disallowing ``calldata`` types: looking at and thinking through this again, I still agree with https://github.com/ethereum/solidity/issues/12778#issuecomment-1169917941.

Whether the external function ``f`` has been declared with ``memory`` or ``calldata`` arguments has zero influence on the semantics of ``this.f

[2022-08-12 11:34] cameel commented on #2693
@ekpyron How relevant is this now that we have the memory escalator? Should we close this?

Also, if it's still relevant, perhaps we should close this anyway and move the discussion to the [forum](https://forum.soliditylang.org/)? Now that we have one it seems to be a better place for such open-ended discussions.

[2022-08-12 11:44] ekpyron commented on #2693
Oh wow, I wasn't aware of this issue :-).
But yes, this is largely implemented in the via-IR pipeline with stack-to-memory (the main corner cases being non-memory-safe inline assembly and recursive functions, but we had few reports about that, so it doesn't seem like a huge issue in practice at least yet).
FYI: the issue of allocating stack frames is avoided in the current implementation by alloca

[2022-08-12 11:44] #2693 closed, assigned to nobody

[2022-08-12 12:46] ekpyron commented on #13158
So does my last comment solve your problem :-)? If so, we can close the issue.

[2022-08-12 13:00] ekpyron commented on #13158
I'm assuming the issue is solved by that (i.e. "won't fix" in legacy code generation and fixed by via-IR plus optimizer). Feel free to re-open, if you disagree, though.

[2022-08-12 13:00] #13158 closed, assigned to nobody

[2022-08-12 13:01] ekpyron commented on #12409
Closing this as a duplicate of https://github.com/ethereum/solidity/issues/3556

[2022-08-12 13:01] #12409 closed, assigned to nobody

[2022-08-12 13:02] ekpyron commented on #13107
Related to https://github.com/ethereum/solidity/issues/3556 - it's basically the internal version of that issue.

[2022-08-12 13:19] ekpyron commented on #13207
These days, I'd (roughly conceptually) imagine this to be solved not by any mechanism specific to data locations, but rather by having a trait system, that let's you write functions relative to an uninterpreted type variable that can be restricted to types having properties like ``being index-accessible`` (with a concrete, an arbitrary, or an arbitrary, but further restricted result type) and ``ha

[2022-08-12 13:41] ekpyron commented on #13216
This is a bit trippy...
Another related weird case:
[code]

legacy codegen only logs ``test(0)``, while via IR starts recursing... but still stops without any complains or so at ``0x01a4``...

I hope this has some harmless reason, but it may both be a bug in evmc/EVMHost *and* in code generation in the worst case :-D.

[2022-08-12 13:43] ekpyron commented on #13216
I'm labeling this ``codegen error``, to heighten the priority of properly investigating this, even though I still *hope*, it's mostly a testing issue.

[2022-08-12 13:50] ekpyron commented on #13216
Reducing this to
[code]
The deployed subassembly of ``--asm --optimize --via-ir`` becomes:
[code]
while the deployed subassembly of ``--asm --optimize`` is (actually rather weird, but nevermind that)
[code]

That's semantically absolutely equivalent, short of ``--via-ir`` being slightly cheaper.

*Still* testing reports the call to fail using legacy and pass using via-IR.

So given that I'm more s

[2022-08-12 14:25] ekpyron commented on #13212
This is worth a thought, but I'd not assign it high priority (unfortunately, we have a rather large backlog of non-critical design decisions).

[2022-08-12 14:29] ekpyron commented on #13186
The type name itself is not associated with any data location, so there needs to be a default - which is arbitrarily chosen to be storage.

The underlying related issue here, is that data locations are tied to variable declarations, not to the type, so as far as the compiler is concerned it sees:
[code]
where ``Type`` is merely ``A``.
Rather than seeing
[code]
where ``Type`` is ``A memory``.

Does

[2022-08-12 14:38] anton-cs commented on #13186
Thanks for the explanation.
No problems with that. Just small misunderstanding. Now it is clear that storage location is another attribute in conjunction to the type, and not really part of the type.

[2022-08-12 14:38] #13186 closed, assigned to nobody

[2022-08-12 18:44] cameel commented on #13373
ok, makes sense. I guess I can add a sentence mentioning that the case I'm describing is not the simplest possible case.

[2022-08-13 02:45] timweri commented on #13122
Was a little confused about the versioning of emscripten but seems like the version `3.2.0` you referred to is actually `3.1.14`.

[2022-08-13 03:09] timweri commented on #13122
Nevermind. Docker image building is broken right now. The Docker build of `aarlt/comment-on-pr@v1.2.0` is failing because the Dockerfile didn't pin a version for `octokit`.
[code]

I guess this is blocked until `comment-on-pr` gets fixed.

[2022-08-13 13:32] #13146 closed, assigned to nobody

[2022-08-13 20:47] engn33r commented on #13073
I see the Z3 issue linked above has been closed but I have not examined or tested the change myself. Could that resolve the issue on debian/ubuntu?

Another idea that avoids the dynamic z3 library loading is to publish a table that matches the solc release version with the corresponding z3 library version that the solc binary is compiled with. That way debian users can download a solc release vers

[2022-08-14 08:37] migoldfinger commented on #13330
This is perfectly fine behavior in every single OO-programming language I know.
Even virtual methods you can override in your class can call private functions of the class where they are defined.
Only if you actually override them you can not call the private functions (directly) anymore but you can call the overrideen implementation in the base/super-class.

[2022-08-14 08:41] migoldfinger commented on #13375
@hrkrshnn I used 5 different libraries and even switched names as suggested. The result is always the same.
The call without making use of using is slightly cheaper than the other one.

[2022-08-14 10:04] mojtaba-eshghie opened #13390 "Not possible to define the same function signature (overload/override) in a sub-contract with "only" different return types"
## Description
Even though it is completely acceptable to define the same function signature with the same returns in a sub-contract with the override keyword. It is not possible to define the same function signature with only different return types. Such a situation will result in one of these:
- If we try to merely overload the function in the base contract (without using the virtual and overrid

[2022-08-14 10:49] hrkrshnn commented on #13375
If you switched the names and noticed no difference, that's really odd. Note: I'm referring to switching the names of `test1` and `test2`.

[2022-08-15 05:11] rajgaur98 commented on #13226
Hi @axic ,
What should the code do?
1) Check `m_template` for the invalid tags like `<!b` as soon as it is passed to the Whiskers constructor and throw an error?
2) Check if the `tag` is valid when `operator(_parameter, _value)` is called and throw an error?

[2022-08-15 06:30] timweri opened #13392 "buildpack-deps jobs are failing due to `arrlt/comment-on-pr`"
## Description

While trying to update emscripten (#13122), I ran into buildpack-deps jobs failing.
buildpack-deps rely on the Dockerfile `aarlt/comment-on-pr@v1.2.0`.

The problem is `aarlt/comment-on-pr@v1.2.0` doesn't pin the version of `octokit` it uses.
Since [v5.0.0](https://github.com/octokit/octokit.rb/releases/tag/v5.0.0), `octokit` requires Ruby of version `>=2.7.0`.
However, `aarlt/comm

[2022-08-15 09:12] ekpyron commented on #13392
Pinging @aarlt about this.
In particular see https://github.com/ethereum/solidity/runs/7816323898 for the issue in action.

Also: is there really any need for us to maintain this ourselves? My guess would be that there's ready-made alternatives with the same and/or similar functionality we could use as a replacement and which would lower our maintenance burden.

[2022-08-15 09:28] ekpyron commented on #13181
[code]
Overwrites the free memory pointer to zero, which is undefined behaviour, so in that sense this is a fuzzing challenge, but not a bug :-).

I.e. writing any random values to memory at ``[0, 0x40]`` is sound, but writing anything weird (like zero in this case) to memory offset ``0x60`` is expected to break subsequent solidity code.

[2022-08-15 09:28] #13181 closed, assigned to nobody

[2022-08-15 09:57] ekpyron commented on #13180
Simpler case:
[code]
(the first expectation is legacy, the second via-IR)

So the cases are storage arrays in which only a single value is stored per slot (i.e. ``int8`` would have consistent behaviour - and since that's packed, the values in storage cannot be sign-extended at all).

While we should probably document this difference, I think it's basically harmless, given that signextending cleanu

[2022-08-15 10:26] ekpyron commented on #13216
I think this may be spurious after all - and just a crazy thing happening here :-).
I've not confirmed entirely yet, but I think
``calldatacopy(0, not(0), 96)`` can be replaced with anything that ends up having the same gas cost.

What I guess will happen is that the last recursive call to ``this`` may just report failure, but the contract may still have enough gas to finish returning, depending o

[2022-08-15 10:31] bshastry commented on #13180
Ah I see, this would mean cases where bit width is `> 128`.

Isn't this similar to https://github.com/ethereum/solidity/blob/7e7c68e5bf910b12ee9326dd34926c61261a4a71/test/libsolidity/semanticTests/immutable/immutable_signed.sol#L5-L9

Is non cleaned up value that is only accessible via inline assembly okay?

[2022-08-15 10:38] ekpyron commented on #13180
It's borderline and will probably require some thought on a case-by-case basis...
For storage, in a sense, the "default" is actually *not* to sign-extend smaller types, due to the packed layout for ``<= 128`` bytes types...
I'd myself also not necessarily have considered the immutable case an "important bug", so that was also at least borderline.

[2022-08-15 10:39] ekpyron commented on #13180
But yeah, I'd be happy about more opinions on this.

[2022-08-15 10:49] ekpyron commented on #13180
I'm staging this for discussion next Wednesday (even though I'm off there, but maybe that results in some more opinions anyways).

My current thinking on this would be to (1) document this properly (2) take care of optimizing the Yul optimizer :-) - and (3) drop legacy codegen ;-) - that'd solve the issue eventually :-).

[2022-08-15 10:59] ekpyron commented on #13216
Or to be even clearer: the maximum forwarded gas is 63/64 of the available gas.
So if the recursive call runs out of gas, we still have 1/64 of the total gas left. This may just be enough for finishing the transaction in via-IR codegen, while it may not be with legacy codegen.

[2022-08-15 11:02] ekpyron commented on #13216
Several of the recursive calls may manage to return with the available gas - when I added some event to the code example (which of course skews gas costs, so it won't be exactly the same), I saw somewhere between 100 and 200 calls succeeding.

[2022-08-15 11:03] bshastry commented on #13180
My two cents: If the test case does not really affect real-world contracts, it is safe to just document this properly and eventually not have to care about it when we deprecate legacy codegen. OTOH, if there is no way of finding out real-world impact and there is a small possibility that there may be an impact, I would tend to just be consistent with the other linked bug (signed immutables) and ma

[2022-08-15 11:08] bshastry commented on #13216
@ekpyron Isn't `calldatacopy(0, not(0), 96)` in this issue's test case also overwriting the free memory pointer. If so, could this also be undefined behavior between legacy and IR?

[2022-08-15 11:13] ekpyron commented on #13216
That's true... although my guess would be that one could construct similar cases without that... on the other hand, trying that, it's not that easy :-). Overwriting the free memory pointer there, may mainly result in weird data to be passed during the recursive call, though.

[2022-08-15 11:14] ekpyron commented on #13216
Hm... or maybe I was wrong before and there's something else happening here... maybe worth another look in any case :-).

[2022-08-15 11:18] bshastry commented on #13216
Okay, in the meantime I will work on avoiding writes to free memory ptr while generating test cases. For the time being, I could template all memory writes to start at `0x60` i.e., `mstore(add(loc, 0x60), value)`, `calldatacopy(add(loc, 0x60), from, size)` and so on; where `loc` is a randomly generated value.

[2022-08-15 11:24] ekpyron commented on #13216
Make it ``0x80`` - offset ``0x60`` is the "zero-memory offset", which is used to initialize zero-length dynamic arrays and always has to remain zero - i.e. writing anything non-zero there will also be undefined :-).

What's strictly speaking *always* well-defined is would be
[code]
(given that ``loc`` is bounded and the addition does not overflow - or more conservatively ``add(mload(0x40), and(loc

[2022-08-15 11:33] bshastry commented on #13216
This would be `load from free memory pointer and add an arbitrary bounded value to it`, correct? Assuming `loc` is bounded this should be fine.

What does this mean? `0x3f` would make only 6 addressable bits, right? That would be a lot more conservative than first proposal?

[2022-08-15 11:51] ekpyron commented on #13216
I meant choosing between either of them. And actually ``and(loc, 0x3f)`` was wrong... ``0x1f`` would work, though...
You're allowed to use any memory past the free memory pointer and any memory between offsets 0 and 0x3f.
``mstore(add(mload(0x40), loc), ...)`` is the former, ``mstore(and(loc, 0x1f), ...)`` at least roughly the latter.

But in any case, I don't think we *should* fully restrict to t

[2022-08-15 12:08] aarlt opened #13395 "Solidity UI - Would such tool be useful?"
I think it would be nice to have somehow a tool that could visualize compiler internals. If once ready, the tool could be used to teach about how the compiler actually works and it will also be useful for debugging compiler bugs.

The idea would be to have at first a simple Solidity/Yul editor with syntax highlighting, after that all current provided debugging information and compiler outputs shou

[2022-08-15 13:11] #13392 closed, assigned to nobody

[2022-08-15 15:32] #12027 closed, assigned to nobody

[2022-08-15 16:18] aarlt commented on #13395
@ekpyron After thinking a bit more - you're right. It does not really make that much sense to have such tool in our repo - it is not really needed here. I will create an independent project for that. Closing.

[2022-08-15 16:18] #13395 closed, assigned to nobody

[2022-08-15 16:57] rajgaur98 commented on #13226
My initial approach is, we apply a regex match for the whole template using regex
```(?:<\?[a-zA-Z0-9_$-]+>?)|(?:<![a-zA-Z0-9_$-]+>?)|(?:<\/[a-zA-Z0-9_$-]+>?)```
 for cases of `<?`, `<!` and `</`

This should match anything starting with `<?`, `<!` or `</` and ending with `>` or till any other special character is encountered.
For example, it will match `<?abc>` and `<?abc` both.

So now we can it

[2022-08-16 07:12] NeverFearTomorrow commented on #11879
Is there an ETA on this?

[2022-08-16 19:06] kevinclancy commented on #4642
As far as I can tell, the way `x` and `*` are used in solc does not match their corresponding behavior in npm. In npm, `1.x ` denotes the range `>=1.0.0 <2.0.0-0`. The npm documentation says nothing about putting `x` variables inside range bounds, which solc allows. For example, I can compile a sol file that includes the line `pragma solidity >0.x.0;`; this is useless because I could just write `p

[2022-08-16 20:02] hrkrshnn commented on #13371
I think we should clearly indicate the differences.  The function`<address>.transfer` is quite convenient and I wouldn't entirely remove it from the docs or deprecate it. The notion of `callstipend` is well-defined in the Yellowpaper and the EVM. It provides enough gas to receive the ETH and emit an event, and cannot modify state. Even when storage / opcodes gets repriced, some care is made to ens

[2022-08-16 20:03] hrkrshnn commented on #13371
Also relevant: https://github.com/ethereum/solidity/issues/7455 We did try to get community feedback in https://forum.soliditylang.org/t/feedback-on-address-payable-transfer/164.

[2022-08-17 09:34] nikola-matic commented on #13362
[code]
Looks like we're passing clang options to g++ (GNU)

[2022-08-17 11:38] zemse opened #13407 "Entering a numeric short form in assembly gives ParseError"
## Description

Currently within assembly blocks, it is not allowed to write a number like `1e6` or with underscores. However, these kinds of notations make it easy to read a number.

[code]

## Environment

- Compiler version: 0.8.16
- Target EVM version (as per compiler settings): London
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execution environment / backend / blockchain client: Eth

[2022-08-17 11:47] nishant-sachdeva commented on #12778
@ekpyron , @cameel

Won't be adding a warning to the PR https://github.com/ethereum/solidity/pull/13227 . Will keep that for a future PR once a final call is taken on this.

[2022-08-17 11:57] cameel commented on #13362
The `eth_add_cxx_compiler_flag_if_supported()` macro must be broken then:
https://github.com/ethereum/solidity/blob/bb41ddd7abb3fcb6ce7217f10059dcb9c1550ede/cmake/EthCompilerSettings.cmake#L68-L74

[2022-08-17 13:23] cameel opened #13408 "First batch of new labels: effort, impact, desirability, task type"
The first batch of the issue management changes from [Issue labeling guidelines (proposal)](https://notes.ethereum.org/@solidity/SkMG8szAq).

- [x] Add the labels we decided that we want for now:
    - Effort: `epic`, `high effort`, `medium effort`, `low effort`.
    - Impact: `high impact`, `medium impact`, `low impact`.
    - Desirability: `roadmap`, `must have`, `must have eventually`, `should

[2022-08-17 13:24] cameel commented on #13408
Also, the "medium" labels should be added to the guidelines. Were the any other changes on Monday that we should document?

[2022-08-18 09:18] nishant-sachdeva opened #13410 "Remove redundant Error Types from codebase"
Referenced in https://github.com/ethereum/solidity/pull/13162#discussion_r939153742  .

At the moment, the compiler as several Error types ( for eg. Exception, Internal compiler error, Compiler Error ) that seem to be redundant.

The task here is to decide which of the error types can be removed and refactor the code accordingly.

[2022-08-18 09:26] nishant-sachdeva commented on #13410
The issue gets much easier to resolve once https://github.com/ethereum/solidity/pull/13162 is merged. Error::Type has been expanded.

The Error types are listed in an enum at
`class Error: virtual public util::Exception` in `liblangutil/Exceptions.h`

[2022-08-18 12:52] nikola-matic commented on #13408
@cameel, when you say
[code]
what exactly do you mean by `Remove feature label`? Keep the template, but instead of `Feature Request` have just `Request`, or remove the feature request entry completely?

Also, regarding the controversial issues, what's the 'right category' in this context? Language design, Feedback?

[2022-08-18 13:01] mojtaba-eshghie opened #13412 "Impossibility of getting current function selector in nested calls via `msg.sig`"
## Description

I am working on a project where I need the current function signature in a sequence of function calls. The functions are marked as public but they are called within the contract by each other. In the following `steps to reproduce` section function if we send a transaction to function `one`, it will call `two`, however, if we look at `msg.data` or `msg.sig` it will return the signat

[2022-08-18 14:30] cameel commented on #13408
The config file defines links behind the buttons you see in the [template chooser](https://github.com/ethereum/solidity/issues/new/choose). Go there and see what happens when you select "Bug Report" - the new issue automatically has a `bug` label applied to it. It used to be the same for `feature` and "Feature Request" before you deleted the label.

The label is one of the query parameters in the

[2022-08-18 15:08] Marenz commented on #13258
Related: https://github.com/ethereum/solidity/issues/13176

[2022-08-18 15:10] timweri commented on #13339
Is anyone attempting this? May I take it?

[2022-08-18 15:13] cameel commented on #13412
`msg` is a global object specifically meant to represent the transaction input. The fact that the value is the same in nested calls is the expected behavior.

If you're interested in the selector of the current function instead, you should use the `.selector` member on that function:

[code]

`two(2)` in your code is an internal call so you can't really "distinguish" it in the sense that it's runn

[2022-08-18 15:13] #13412 closed, assigned to nobody

[2022-08-18 15:45] Marenz commented on #13174
I checked our code and it seems for identifiers we don't do any check inside assembly blocks, only for function calls and instructions..

[2022-08-18 18:35] cameel commented on #11836
This was done in #11842.

[2022-08-18 18:35] #11836 closed, assigned to nobody

[2022-08-18 18:38] cameel commented on #12230
This was done in #12370.

[2022-08-18 18:38] #12230 closed, assigned to nobody

[2022-08-18 19:59] duncancmt commented on #13174
The assembly in this function is `pure`. The problem is that the implicit conversion from `storage` to `memory` is `view`.

[2022-08-19 02:10] frangio opened #13416 "Clarify effect of memory unsafe assembly"
Can you clarify what "in the presence of" means exactly? Are these optimizations _globally_ disabled for the entire contract if there is a memory unsafe block anywhere in it? Are they only disabled in the scope of the function body?

[2022-08-19 11:16] wechman commented on #12559
I went through the tests we have for reference types and found a minimal test set we lack of and might want to provide within this ticket:

1) Copy 2d static array from storage to memory.
[code]

2) Copy element of 3d static/dynamic array from calldata/memory/storage to 2d array in memory/storage.
[code]

3) Copy 2d static/dynamic array of structs from calldata/memory to storage
[code]

4) Copy el

[2022-08-19 12:14] bshastry opened #13417 "Legacy optimizer does not remove zero length redundant write to memory inside inline assembly block"
[code]

First call indicates outcome via legacy + optimize, the second via IR + optimize.

~~Why is it that legacy + optimize runs out of gas while IR + optimize does not? Afaiu, the Yul optimizer (specifically redundant store eliminator is run on inline assembly code in legacy mode).~~

[2022-08-19 12:15] bshastry commented on #13417
This could be expected behavior and hence a wontfix. Feel free to close this issue in that case.

I created it just to be sure and have it seen by at least one other person :-)

[2022-08-19 15:24] bshastry commented on #13417
From chat conversations, here is the summary so far

1. Due to the mstore bug affecting the legacy pipeline, redundant memory write removal was disabled. The said bug does not affect IR pipeline because the latter has a global view and can safely remove such redundant writes

2. Hence, this issue is expected behavior.

3. The only potential optimization that may be applied to the legacy pipeline i

[2022-08-19 18:03] cameel opened #13418 "Tests for bytecode reproducibility from metadata"
We don't seem to have tests checking that the bytecode is fully reproducible based on metadata. Given how easy it is to break that (see e.g. https://github.com/ethereum/solidity/pull/13376#discussion_r950412127) I think we need some.

The biggest difficulty in testing this will be that the compiler does not directly take serialized metadata as input so we will have convert it to CLI options or Sta

[2022-08-20 12:48] Divyansh-singh08 commented on #13410
Hii.. @nishant-sachdeva   I am new to the Open Source I am intermediate to the solidity can u please guide me on how to contribute to this project and solve a good first issue

[2022-08-21 10:42] transmissions11 commented on #13352
++ we just encountered this today in our 0xMonaco ctf.

[2022-08-21 10:43] transmissions11 commented on #13352
the compiler also shouldn't copy unused returndata for higher level calls too no?

devs shouldn't have to use low level calls to avoid opening themselves up to major DoS footguns.

[2022-08-21 10:47] transmissions11 commented on #13352
ah i believe this already covered by https://github.com/ethereum/solidity/issues/12306?

[2022-08-22 03:25] bshastry opened #13420 "[Yul optimizer] Incorrectly removes partially overlapping memory writes"
[code]

is optimized to

[code]

To reproduce,

[code]

[2022-08-22 03:31] bshastry commented on #13420
Edit: I think this is because the optimizer can decide to keep it that way since memory location `0x80` is never read. So it does not matter whether it contains the first byte of return data followed by the second byte of calldata or simply the first byte of return data.

Closing since this is not an issue.

~~I wonder if this is because lengths are rounded to nearest multiple of 32.~~

~~Somewhat

[2022-08-22 03:49] #13420 closed, assigned to nobody

[2022-08-22 10:46] Marenz commented on #10308
Current status is that there is a PR implementing this but it needs some cleanup work

[2022-08-22 11:04] cameel opened #13421 "Fix warning about `DOWNLOAD_EXTRACT_TIMESTAMP` on CMake 3.24"
I have just updated to CMake 3.24 and now I see following warning when running `cmake` (and sometimes `make`):
[code]

[2022-08-22 14:10] frangio commented on #13352
For high level calls I think this was fixed in https://github.com/ethereum/solidity/pull/12684?
**Edit:** Maybe I misunderstood your comment. That PR fixed "unused returndata" in the sense of returndata past the size of the expected return type. But if a return value is not used it may still be copied (and decoded?). This is not a DoS vector though.

I hadn't seen #12306 but it looks like this iss

[2022-08-22 23:17] anshss commented on #4617
I would like to begin with this issue. This would be my first open source contribution. At what part of the solidity repo do I have to commit the above mentioned changes?

[2022-08-23 02:48] haltman-at opened #13425 "Request: Contract AST nodes should include info on what internal functions the contract uses in internal function pointers"
## Abstract & Motivation

Contracts compiled with `viaIR` turned on use a new representation for internal function pointers, one that uses an internal index instead of a pair of PCs.  We'd like to be able to decode such new-style pointers.  (Yes, Truffle Debugger doesn't work well with `viaIR` contracts at the moment, but remember we also want to be able to decode such pointers in storage with Tru

[2022-08-23 06:31] transmissions11 commented on #13352
Not necessarily for every contract, sure. But in some cases where you don't want a function to use beyond a certain gas limit it can be.

[2022-08-23 11:44] cameel opened #13426 "Rewrite `FunctionCallGraph` tests as soltest test suite"
[`FunctionCallGraph`](https://github.com/ethereum/solidity/blob/develop/libsolidity/analysis/FunctionCallGraph.h) is currently [covered with boost tests](https://github.com/ethereum/solidity/blob/develop/test/libsolidity/analysis/FunctionCallGraph.cpp). These tests are generally harder to maintain and update than our soltest-style tests.

We should define a custom test case class for them and put

[2022-08-23 16:35] mojtaba-eshghie opened #13427 "How can the contract detect the mode of calling according to solidity docs?"
## Page

[Call Protection For Libraries](https://docs.soliditylang.org/en/v0.8.16/contracts.html#call-protection-for-libraries)

## Abstract

According to the following paragraph in the contracts documentation, there is a subtle way to determine the mode of call (being delegatecall or call):

However, I could not wrap my head around how the address used at construction time is useful or even what

[2022-08-23 18:50] cameel commented on #4617
See [`CommandLineInterface.cpp`](https://github.com/ethereum/solidity/blob/develop/solc/CommandLineInterface.cpp).

[2022-08-24 04:10] timweri commented on #12961
I can't seem to see this bug. I already tried all the versions mentioned.

[2022-08-24 16:01] sebastianst commented on #13035
@christianparpart I can confirm that my `solc` (version `0.8.16+commit.07a7930e.Linux.g++`) has the same problem, definitions are always empty.
OS: Arch Linux
Editor: neovim with built-in lsp (config from https://github.com/neovim/nvim-lspconfig)

The `solc` lsp is working properly otherwise, e.g. detecting syntax errors or faulty imports.

[2022-08-24 18:21] mojtaba-eshghie commented on #13371
This might also be relevant:
https://medium.com/noblocknoparty/a-smartcontract-best-practice-push-pull-or-give-b2e8428e032a

[2022-08-25 04:10] bshastry opened #13431 "[SMTChecker] ICE because "Trying to create an 'equal' expression with different sorts""
[code]

throws

https://github.com/ethereum/solidity/blob/22a0c46eaea861b857fc6ba9df206c0eb9958471/libsmtutil/SolverInterface.h#L394

[2022-08-25 04:28] bshastry opened #13432 "[SMTChecker] ICE because of unknown delete expression"
[code]

throws

https://github.com/ethereum/solidity/blob/22a0c46eaea861b857fc6ba9df206c0eb9958471/libsolidity/formal/SMTEncoder.cpp#L498

[2022-08-25 04:39] bshastry commented on #13431
Another related example

[code]

[2022-08-25 11:26] nikola-matic commented on #12904
Boost 1.77.0 doesn't support `vc143` toolset, i.e. your 2022 VS; support for this was only introduced in 1.78.0, so this will have to be bumped in the `install_deps.ps1`. Also, once you sort that out, you'll encounter a problem where you won't be able to generate the build via `cmake`, since the `cmake` we fetch is older, and also doesn't support generating build files for `VS 2022`, so we'll have

[2022-08-25 12:00] Amxx opened #13433 "Allow initializing immutables in parallel branches of try/catch statement"
## Description

The current compiler prevent having multiple initialization of a immutable variable, even if the are in independent branches. It would be nice if this was supported.

## Environment

- Compiler version: 0.8.16

## Steps to Reproduce

[code]

[2022-08-25 12:14] hrkrshnn commented on #13339
@timweri Yeah go for it

[2022-08-25 12:33] nikola-matic commented on #12904
#13434 should address VS2022 incompatibilities. Our docs however recommend using VS2019, and even though this particular change will have no effect on those using older versions of Visual Code, we should perhaps discuss updating the docs to instead recommend VS2022 (this will require bumping the minimum versions of `boost` and `cmake` in the docs as well).

[2022-08-25 13:06] mojtaba-eshghie opened #13435 "Shadowed memory variable in function body by named returns statement"
## Description
In solidity, it is possible to specify the name of the returned variable from function as well as its value type. The presense of this feature cancels need to both declaring the variable in function body as well as having a `return` statement. However, if the developer mistakenly declares the variable in the function body again, the newly declared variable will not shadow the previo

[2022-08-25 14:34] Amxx commented on #13435
When you perform an operation in the function body, such a `max = a[i];`, then `max` is a reference to the `uint` declared in the function body, and not to the variable declared in return.

The fact that max in the function body is what you operate on make the max in the return inaccessible. That is why we say the max in the function body shadows the max in the return. AFAIK,here  "shadows" can me

[2022-08-25 16:57] StrongerXi commented on #13433
Would like some inputs from the maintainers.

If this is worth to fix, I can try throwing another PR on top of #12878 to further relax the immutable checker.

[2022-08-25 18:50] cameel commented on #13433
Previous issue about conditionals: #12864.

If we're fine with doing it for `if`s, I don't see any reason not to for `try`/`catch` as well.

[2022-08-25 19:01] StrongerXi commented on #13433
~Cool! I'd like to start this once #12878 is merged.~

Edit:

A more general approach is preferred (to handle arbitrary control flow for immutable variable validation).

[2022-08-25 20:07] cameel opened #13437 "Switch working dir to test dir in command-line tests"
## Abstract
Currently, when running [command-line tests](https://github.com/ethereum/solidity/tree/develop/test/cmdlineTests), the working directory is set to `test/cmdlineTests/` and not the directory of the specific test case. This means that we need to repeat the name of the test case (which is often long) to refer to a file inside it.

This is not a big problem as long as we rely on the test r

[2022-08-25 20:23] cameel commented on #12904
We could also mention both and that minimum requirements are different in each case.

[2022-08-26 15:52] cameel commented on #12961
@nishant-sachdeva Can you check that?

[2022-08-27 05:57] gzliudan opened #13441 "Retrieve the list of function selectors in solidity"
Sometimes it needs to check a function is exist in a contract. Can solidity provides a function that extracts all function selectors of a  contract? If not, how to parse bytecode of a contract and get all function selectors?

[2022-08-27 10:49] nishant-sachdeva commented on #12961
@cameel Indeed, the download sections are not empty in the docs' versions mentioned here. I don't see the bug either.

[2022-08-27 13:28] nishant-sachdeva commented on #13416
Since this is not a feature request/ bug, I would recommend asking this in the Solidity channel https://matrix.to/#/#ethereum_solidity:gitter.im

Will be closing this issue for now. If it's decided that this is actionable, we can reopen it.

[2022-08-27 13:36] nishant-sachdeva commented on #13427
Since this is not a feature request/bug, I would recommend trying to ask in the Solidity group channel.
https://matrix.to/#/#ethereum_solidity:gitter.im

I'll be closing the issue for now. If it's decided that this issue is actionable, we can consider reopening it.

[2022-08-27 13:36] #13427 closed, assigned to nobody

[2022-08-27 13:42] nishant-sachdeva commented on #13417
@bshastry  Based on previous comments, would you recommend closing this issue?

Or do we need to take a final call on point 3 from the previous comment?

[2022-08-27 14:24] nishant-sachdeva commented on #13055
@ekpyron Should we have a discussion in the next meet if we want to come together and make a proper roadmap on how to go about this ?

[2022-08-27 19:16] frangio commented on #13416
I should've been clearer, but I'm pointing out that the documentation isn't clear about this and suggesting it should be improved.

Can you reopen as a documentation issue?

[2022-08-27 22:03] hrkrshnn opened #13442 "Missing optimizer rules for `if (b == true)` to `if (b)`"
Here's the example: https://godbolt.org/z/Mbs9bd5nr

Similarly for `if (b == false)`  to `if(!b)`

[2022-08-27 22:06] hrkrshnn commented on #13442
This should probably be a peephole optimizer rule, especially to apply for `jump` / `jumpi` conditions.

[2022-08-27 22:07] hrkrshnn commented on #13441
`solc --hashes` will give you this. You can also get it from the standard json output. Closing.

If you are using foundry, something like `forge inspect script/Contract.s.sol:C methodIdentifiers`

[2022-08-27 22:07] #13441 closed, assigned to nobody

[2022-08-27 22:12] hrkrshnn commented on #13416
Yes.

Any operation that can write to memory would disable it. Two examples are  `mstore` and `calldatacopy`.

Reopening on request. @frangio Do you want to make a PR making this clarification? 👀

[2022-08-27 22:18] hrkrshnn commented on #13356
Yeah, this is a known issue. Unfortunately, in Solidity if you use a symbol by itself, then the lookup needs to be unique (of course, calling functions would work, but it's not smart enough in this case).

As an immediate fix, how can the error message be improved to make this understandable? Any suggestions? @antonper

[2022-08-27 22:24] hrkrshnn commented on #13427
Here's an example of something similar implemented in pure solidity: https://github.com/Uniswap/v3-core/blob/main/contracts/NoDelegateCall.sol

[2022-08-27 22:41] gzliudan commented on #13441
What I proposal is add a function in solidity, such as `checkSelector(address, bytes4)`. Solc is run in os enviroment and must has contract source code. How can we do if we has bytecode only when has no source code?

[2022-08-27 22:46] hrkrshnn commented on #13441
Ah, I see. That would be very impractical to do at runtime, parsing EVM bytecode at runtime is unfortunately tedious and hard to get right.

For well known EIP standards, one way to do be to leverage https://eips.ethereum.org/EIPS/eip-165. You could consider having an EIP proposal of something like `function implementsSelector(bytes4 selector) pure returns (bool)` if you truly want to have a featu

[2022-08-27 22:54] gzliudan commented on #13441
Yes, it's better if EVM can check a contract has a function selector, since a lot of contracts not implement ERC165.

[2022-08-28 12:14] leonardoalt commented on #13442
Why are people writing `if (b == true)` in the first place? In your example why not just `return a`?

[2022-08-28 12:15] hrkrshnn commented on #13442
Yeah, not ideal to write this, but the compiler should optimize the `b == true` case.

[2022-08-28 21:25] mr-abims commented on #13132
Using your example one way that i know solidity support to call an external function is by using this format

         function f() external {

         }

        function g() public {
                this.f();
        }

[2022-08-29 11:03] fvictorio opened #13446 "Produce a panic code for failed `abi.decode` calls"
## Abstract

Failed `abi.decode` calls produce a revert without a reason. Instead, it would be better to produce a new panic code that indicates a failure during decoding. It could be just a generic `ABI_DECODE_ERROR` thing, and it could be split into more specific codes in the future if possible/necessary.

## Motivation

Development nodes like Hardhat try to give as much information as possible

[2022-08-29 13:07] k06a opened #13448 "Introduce `codedata` keyword"
## Abstract

We already have identifiers:
- `storage`
- `memory`
- `calldata`

Let's have `codedata` which works similarly to `calldata` but references smart contract code slice.

## Motivation

Having constant arrays/data is inefficient currently, since it copies whole data into memory before any actual access.

## Specification

Let's replicate `calldata` keyword usage for `codedata`. So constan

[2022-08-29 14:08] Marenz commented on #13301
Thanks for the help @joshlang, closing this then.

[2022-08-29 14:08] #13301 closed, assigned to nobody

[2022-08-29 14:19] Marenz commented on #13352
Closing as duplicate of #12306

[2022-08-29 14:19] #13352 closed, assigned to nobody

[2022-08-29 14:28] Marenz commented on #13435
I just tested this with a minimal test case and couldn't confirm your problem:

[code]

From your description you we should see a return value of `11` now if the assignment were to refer to the named return variable. As it does return `0`, it means it referenced the local variable as expected...

Closing for now. Feel free to add more comments/reopen if you feel this is wrong.

[2022-08-29 14:28] #13435 closed, assigned to nobody

[2022-08-29 15:25] #13416 closed, assigned to nobody

[2022-08-29 16:18] k06a commented on #13448
I need to build some precomputed table with 1024 numbers and I will have access to 1-4 numbers from it. What I don't want - is to have this table fully copied from CODE to MEMORY. Even having `.offset` in assembly/yul would allow me to have access directly to these 4 items. But now it's impossible.

[2022-08-29 17:09] nishant-sachdeva commented on #13310
I'll make a quick PR to close this one.

[2022-08-29 20:01] matheusaaguiar commented on #13390
This is by design as in many other languages. Also, the signature of a function does not take in account its return type, only its name and parameters.
See [#259](https://github.com/ethereum/solidity/issues/259) for more, as it raises this same issue.

[2022-08-29 20:01] #13390 closed, assigned to nobody

[2022-08-29 22:27] #13310 closed, assigned to nobody

[2022-08-29 22:28] k06a opened #13451 "Let's allow string literals to consist of named constants, not only literals"
## Abstract

Currently we can have multiline strings like this:
[code]

And we came up to bytes data like this:
[code]

## Motivation

Imagine how cool it would be to write byte code like this right in Solidity syntax:
[code]

Or even like this:
[code]

## Specification

Let's discuss.

## Backwards Compatibility

Not needed.

[2022-08-29 22:32] Marenz commented on #13421
Fixed in #13429

[2022-08-29 22:32] #13421 closed, assigned to nobody

[2022-08-30 00:28] hrkrshnn commented on #13330
This is expected behaviour. If you replace the modifier by another function, you'll get the same behaviour. As Michael comment, the behaviour is also present in other languages with inheritance. Closing.

[2022-08-30 00:28] #13330 closed, assigned to nobody

[2022-08-30 00:37] hrkrshnn commented on #13451
Feels like a pre-processor macro :)

[2022-08-30 04:03] bshastry commented on #13417
I wouldn't recommend closing this issue, since `nice to have` could open to door to low priority external contributions.

[2022-08-30 04:06] bshastry opened #13453 "[Yul optimizer] Optimized code runs out of gas, unoptimized does not"
[code]

throws

https://github.com/ethereum/solidity/blob/7fdd494da7afba5172cbbe7933c66bfde17284b7/test/tools/ossfuzz/StackReuseCodegenFuzzer.cpp#L152-L157

Essentially
  - unoptimized code may be successfully deployed and called
  - optimized code may be successfully deployed but call returns `OUT_OF_GAS`

[2022-08-30 05:20] bshastry commented on #13453
Not able to reproduce this outside the fuzzer e.g., via standalone yul optimizer/semantic tests etc. There is something weird going on here.

@ekpyron Does anything strike you as odd?

[2022-08-30 05:39] bshastry commented on #13453
Unoptimized byte code is

60005b6001811015601557600080526001016002565b50

[code]

Optimised byte code is

600080805b60018110600d57005b600190828464010000000051105201600456

[code]

[2022-08-30 05:50] bshastry commented on #13453
~~Why doesn't the unoptimized byte code execute the for loop?~~ Why is `MLOAD` missing in the unoptimized byte code?

[2022-08-30 08:04] nikola-matic commented on #13408
I'm gonna delete labels from all of the issues in the selector, as it doesn't make much sense to remove it for `Feature` and leave it in for the others (until a later PR), especially if they're not applied in any case.

[2022-08-30 09:31] leonardoalt commented on #13199
@Marenz was the spec for this ever agreed upon? Is https://github.com/ethereum/solidity/issues/8911#issuecomment-631496750 the final spec?

[2022-08-30 10:24] Marenz commented on #13199
I don't think there was an official agreement, I just explained why it doesn't work for events as it is currently.

[2022-08-30 11:49] cameel commented on #13408
Since we do not have a label for features (we just consider it the default) now but do have them for other things, I think it would still make sense - if the whole mechanism worked. But it does not so, year, I'm fine with removing them all :)

[2022-08-30 11:55] nikola-matic commented on #13408
Yup. The only thing left at the moment is adding the labels to `solc-js`, which I assume is [this repository](https://github.com/ethereum/solc-js)?

[2022-08-30 12:00] cameel commented on #13448
So the feature request here is basically immutable reference types (#13323) + being able to have actual references to them?

[2022-08-30 12:04] cameel commented on #13323
@ekpyron Do we consider something like #13448 as a part of this?

[2022-08-30 12:04] cameel commented on #13408
Yes.

[2022-08-30 12:09] ekpyron commented on #13448
Thank you very much for this issue - but this is pretty much what we already decided to do for https://github.com/ethereum/solidity/issues/12587 in https://github.com/ethereum/solidity/issues/12587#issuecomment-1069183987 (it will be called ``code``, not ``codedata``, but apart from that this is exactly what we'll be doing), so I'm closing this as a duplicate.

We actually already started piecing

[2022-08-30 12:09] #13448 closed, assigned to nobody

[2022-08-30 12:10] ekpyron commented on #13323
What that one suggests, is pretty much what we we *did* decide to do for this and which is what https://github.com/ethereum/solidity/issues/13368 and https://github.com/ethereum/solidity/issues/13369 are about.

[2022-08-30 12:21] nikola-matic commented on #13408
Labels have been mirrored in [solc-js](https://github.com/ethereum/solc-js/labels).

[2022-08-30 12:21] #13408 closed, assigned to nikola-matic

[2022-08-30 12:48] cameel commented on #12961
Great! We can close it then. I guess it must have been something on RTD side.

[2022-08-30 12:48] #12961 closed, assigned to nobody

[2022-08-30 13:00] cameel commented on #3168
I think you just don't have Z3 installed. Looks like forge must have switched to linking to Z3 dynamically on macOS. We don't provide binaries for M1 right now but the ones for Intel macs have Z3 linked statically.

[2022-08-30 13:01] leonardoalt commented on #3168
I think SVM (binaries that Foundry uses) already fixed that.

[2022-08-30 13:03] k06a commented on #13448
@ekpyron glad to hear that you’re already working on this!

[2022-08-30 13:41] #12478 closed, assigned to matheusaaguiar

[2022-08-30 15:08] axic commented on #12587
If we had a proper reference syntax we wouldn't need this new `code` keyword, methinks.

[2022-08-31 09:56] CodeSandwich opened #13462 "Allow concatenation of string constants"
## Abstract

It would be great to be able to concatenate string constants:
[code]

As of now one needs to explicitly write `FOOBAR = "foobar"`, which can be a source of bugs.

## Motivation

My use case for this feature is building an ERC-712 typehash of data containing structures. According to the standard if the type name of of the structures is this: `MyStruct(uint256 field1, uint256 field2)`,

[2022-08-31 18:57] wiasliaw opened #13466 "Add a special comment for storage layout"
## Abstract

Add a special comment to register a variable as an used storage slot.

## Motivation

Here's the common Proxy which store implementation address in storage index of `keccak256("proxy.implementation")`.

[code]

The storage index of `keccak256("proxy.implementation")` is used but the storage layout report from compiler will be:

[code]

It will be useful to register the used storage in

[2022-08-31 19:16] matheusaaguiar commented on #13284
The peephole optimizer is enabled by default regardless of CLI options. In order to turn it off, you have to specify it via the [Standard JSON Interface](https://docs.soliditylang.org/en/v0.8.13/using-the-compiler.html?highlight=peephole#compiler-input-and-output-json-description).

[2022-08-31 22:08] k06a commented on #13462
Related: https://github.com/ethereum/solidity/issues/13451

[2022-09-01 06:22] krasi-georgiev commented on #13284
got it thanks

[2022-09-01 06:22] #13284 closed, assigned to nobody

[2022-09-01 07:42] CodeSandwich commented on #13462
This looks like a duplicate, sorry! I was looking for an existing issue, but I haven't found that one. Should we close this one and just copy this use case there?

[2022-09-01 09:40] ekpyron commented on #12587
Can you elaborate on that? Reference syntax and data locations are pretty orthogonal.

[2022-09-01 10:31] christianparpart commented on #13325
@nishant-sachdeva I think with "symbolic naming" you meant "symbolic renaming"?

[2022-09-01 11:47] #13325 closed, assigned to christianparpart

[2022-09-01 12:12] axic commented on #12587
The only reason we need `code` data location in that statement, because otherwise it is unclear where it should be. "Is it a copy, is it a reference?"

[2022-09-01 12:42] ekpyron commented on #12587
I honestly don't understand what you're saying :-). The `code` data location would distinguish state variables in storage from variables in the data section of the contract code - and distinguish references of things in code from references to things in storage. I see no relation to the question of references or copies whatsoever here.

[2022-09-01 12:52] christianparpart commented on #13253
@juanfranblanco Would it be sufficient to simply obey to what the client is advertising as feature? Say the client supports feature set (A, B), but the server supports (B, C), then only (C) is being enabled? Would this suffer [vscode-solidity](https://github.com/juanfranblanco/vscode-solidity)?

[2022-09-01 13:04] christianparpart commented on #12825
@BitlyTwiser  solc is pretty strict about when calls are allowed, i.e. it doesn't allow a request to document-highlight if the server has not yet received the initialization call just yet.

Would you mind trying out a debug binary? What distribution / OS are you testing on?
Mind, that we recently also merged some improvements on the LSP side, not necessarily to address this, but it might have had

[2022-09-01 15:40] nishant-sachdeva commented on #12917
Would be much better to ask this question in the main Solidity chat
https://matrix.to/#/#ethereum_solidity:gitter.im

Closing this issue for now. We can reopen this issue if we find some actionable insights.

[2022-09-01 15:40] #12917 closed, assigned to nobody

[2022-09-01 18:06] nicolasguasca1 opened #13470 "Example on Getter functions does compile but does not include the entire set of data"
## Page

Here is the documentation [link](https://docs.soliditylang.org/en/v0.8.16/contracts.html?highlight=nested%20mapping#getter-functions)

## Abstract

This contract:

[code]

Compiles but when deployed and called via the getter function of the mapping, there are three values the result doesn't bring: map mapping, c and d.

Any idea on why this happens?

[2022-09-01 22:14] hrkrshnn opened #13471 "Missing "statement has no effect" diagnostic"
[code]

The compiler does not emit the warning "Statement has no effect." for these statements.

https://github.com/ethereum/solidity/blob/51929652291a833889c2f3132b2ca6f037c02a56/libsolidity/analysis/StaticAnalyzer.cpp#L186-L192

I think we need to consider statements that are beyond pure for this diagnostic.

[2022-09-01 22:17] k06a opened #13472 "Assembly libraries"
## Abstract

We have assembly/yul functions but can't reuse them among assembly blocks. Let's have assembly libraries!

## Motivation

Would allow us to reuse assembly code

## Specification

Let's have it like this:
[code]

and use it like this:
[code]

## Backwards Compatibility

Not required

[2022-09-01 22:38] frangio commented on #11691
Is this still considered now that there are user defined value types that pack in storage?

[2022-09-02 03:15] duanxiao0805 commented on #13472
what tpken

[2022-09-02 08:54] ekpyron commented on #13471
This is at least partly intentional to allow using such statements for explicitly silencing the "Mutability can be restricted to..." warnings... not that that's beautiful, but that's the reasoning behind this.

[2022-09-02 11:21] ekpyron commented on #13472
Do you agree that this is a duplicate of https://github.com/ethereum/solidity/issues/9282?
The idea there was to allow file level inline assembly blocks that would allow to define reusable functions. Being able to namespace those would of course be nice - but that could be done via the import mechanism, resp. is part of the more general issue of allowing inner-file-namespacing.

So given that I th

[2022-09-02 11:21] #13472 closed, assigned to nobody

[2022-09-02 11:24] ekpyron commented on #9282
Not sure why we were wondering if this is useful - at the moment I'd say it rather clearly is and we just had a similar request in https://github.com/ethereum/solidity/issues/13472, so I'd say we can consider this as "nice-to-have" at least. And I don't see any open design questions or blockers on this.

I'll actually even move it to "must have eventually".

[2022-09-02 13:26] k06a commented on #13472
@ekpyron any idea when we could have any of these?

[2022-09-02 13:29] 0xpApaSmURf commented on #12483
I personally quite like virtual modifiers. The separation in thinking as a developer treats functions differently from modifiers.

If you want to encourage the usage you suggested by using virtual functions inside modifiers, I would suggest just allowing functions to be able to decorate other functions and removing modifiers altogether:

[code]

This reduces the so-called "complicated modifiers" a

[2022-09-02 13:37] christianparpart commented on #13035
@gpersoon  Would you mind trying out this branch? Please tell me if you need a binary I should create for you (otherwise, just checkout the PRs branch and build).

@sebastianst while the above linked PR does fix it indeed for me, I am not sure it does for you. The reason why @gpersoon did have empty goto-def results is because URL decoding on his Windows platform is much more relevant (due to driv

[2022-09-02 20:07] christianparpart commented on #12649
I actually had a look at how LSP can guide folding and it's actually not that complex: => https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#textDocument_foldingRange

Also, coc.nvim [does support](https://github.com/neoclide/coc.nvim/pull/3819) that, so it should be fairly trivial to ensure functionality with some working clients.

[2022-09-02 22:04] nventuro opened #13475 "solc wastes memory when using structs"
There seems to be a lot of memory overallocation when dealing with `memory` structs, depending on the exact construct used to work with them. Apparently the situation improved in v0.7.6, which lists 'avoid memory allocation for default value if it is not used' on its changelog.

Prior to that, the following snippet:

[code]

results in 192 bytes being allocated, corresponding to 3 (!!!) instances

[2022-09-03 15:09] BitlyTwiser commented on #12825
@christianparpart
Data points for my current system:
`Linux 5.15.0-46-generic #49-Ubuntu SMP Thu Aug 4 18:03:25 UTC 2022 x86_64 x86_64`

[code]

I shall attempt to perform some development on the Solidity smart contracts in the next few days to determine if I am yet running into LSP issues.

I would indeed be more than happy assist via utilizing a debugging binary if the issue yet persists.

[2022-09-03 16:54] SaadOps commented on #13466
Can you guide me to the codebase

[2022-09-03 21:53] CJ42 commented on #11278
This might also be related to https://github.com/ethereum/solidity/issues/10381

[2022-09-04 07:05] k06a commented on #13258
@Marenz I’m not sure it’s related. #13176 seems like a bug.

[2022-09-04 08:35] NeverFearTomorrow opened #13476 "Hardhat compile w/ SMTChecker crashes with out-of-memory related issues on Ubuntu"
I am using hardhat and trying to run the SMTChecker. Normal compilation (sans checker) works fine, but a very simple contract (e.g., just `AccessControl`), will consistently cause a crash, apparently due to running out of memory (the particular error message varies, but I have seen the crash occur at the point that total system memory usage maxes out). This should repro on Ubunto 20.04 and 22.04.1

[2022-09-04 11:52] NeverFearTomorrow commented on #13476
I have been trying to find a cutouts of my code that I can get this to work on, and what I've found is apparently that any contract which contains anything at all will crash the SMTChecker, and an empty contract will pass, though it'll pass quickly if it's by itself but it will take a really long time to pass if it's in the same file as an unrelated contract that isn't being targeted.

[2022-09-04 17:53] iFrostizz commented on #13121
Ran into this issue, is there a workaround for that ?

[2022-09-04 18:54] bshastry opened #13477 "[SMTChecker] CHC engine throws `out_of_range` in a simple example with two libraries and an internal call"
[code]

throws

https://github.com/ethereum/solidity/blob/51929652291a833889c2f3132b2ca6f037c02a56/libsolidity/formal/CHC.cpp#L1526

[2022-09-05 08:43] leonardoalt commented on #13476
Hi @NeverFearTomorrow , thanks for opening the issue. I'll try to reproduce it locally and get back to you.
I'd say let's focus on latest solc to avoid old bugs. When you use 0.8.16, what z3 version are you using with it?

[2022-09-05 08:53] bshastry opened #13478 "[Yul optimizer] RSE incorrectly removes sstore"
The following Yul program

[code]

on optimization, produces

[code]

It can happen that `mload(0)` not equal to `2` in which case, the optimized program will not write `1` to storage slot `0` but the unoptimized program will. The unoptimized program semantics is correct.

I think the bug is that the RSE removes the first sstore under the assumption that the second sstore will always happen. But i

[2022-09-05 10:06] antonper opened #13480 "Function pointer SSTORE behavior difference"
## Description

During the assignment in the constructor `f = bar`,
SSTORE to word 0x0 with data as:
0x0000000000000000000000000000000000000000000000000000004700000101
During the assignment in the swap function `f = f == bar ? foo : bar`,
SSTORE to word 0x0 with data as:
0x000000000000000000000000000000000000000000000000000000000000013e - first swap
0x0000000000000000000000000000000000000000000000

[2022-09-05 10:08] antonper commented on #13356
Message "Non-unique declaration found after variable lookup" is better.

[2022-09-05 10:10] christianparpart commented on #12825
@BitlyTwiser I've fixed a bug related to URL decoding. This might maybe also fix your problem.

Related fix-PR: https://github.com/ethereum/solidity/pull/13473

Would you mind giving that a try?

In case you need a prebuilt binary for Ubuntu Linux, here's one created by the CI:

https://output.circle-artifacts.com/output/job/1ddf7057-73e4-4ff4-92f4-4bff0a5ba70e/artifacts/0/solc

EDIT: You may need

[2022-09-05 10:57] christianparpart commented on #13324
@nishant-sachdeva I think we can close this. We have an LSP with some functionality already. :-)

[2022-09-05 10:57] #13324 closed, assigned to chriseth

[2022-09-05 11:04] christianparpart commented on #13322
@nishant-sachdeva I've renamed this ticket because it was too generic. And I'd like to create some defining the scope of what to do in the near future. I hope you don't mind.

[2022-09-05 11:11] cameel commented on #13472
As @ekpyron said, we're going to retriage #9282, which will involve figuring out where it fits in our short- and long-term roadmap. So no decision yet but the way I see it personally: there are enough important features in the short-term that we won't get to it very soon but it's also important enough to be considered a core feature and be somewhere on the roadmap.

Unless... @chriseth did you con

[2022-09-05 12:00] #13259 closed, assigned to wechman

[2022-09-05 13:00] k06a commented on #13472
@cameel @ekpyron I am not sure having global assembly block is same good as having assembly library. Assembly library could allow to have only assembly functions declarations. Please consider this idea.

[2022-09-05 13:04] AnandK-2024 commented on #10687
sound looks interesting, I will want to take this issue.  please guide me.

[2022-09-05 13:19] hrkrshnn commented on #13475
This is a known issue :( Improving memory management is one of the roadmap issues and is currently being worked on: https://github.com/orgs/ethereum/projects/20 Closing this for now; see #13320 and other related issues.

[2022-09-05 13:19] #13475 closed, assigned to nobody

[2022-09-05 13:35] Marenz commented on #13480
I find it a bit difficult to follow your description. Could you write what you expect to see with your reproduce-code and what you actually see? That would make it easier to evaluate the issue :)

[2022-09-05 13:40] Marenz commented on #13470
Thank you for your report!

The issue you see is actually documented in the same link you provided:

So this is expected behavior.
I'll be closing the issue. Feel free to re-open if you think this is wrong.

[2022-09-05 13:40] #13470 closed, assigned to nobody

[2022-09-05 14:16] Marenz opened #13482 "Periodically post issues and PRs that require attention"
To keep response times low for new issues and PRs, I propose the following:

Every day, some automated mechanism (e.g. the webhook that gitter provides and that we are currently using to post CI results, or an actual proper matrix-bot (like [maubot](https://github.com/maubot/maubot) talking with github using the API) should post:

* all issues and PRs that have no label or comment at all
* all PRs

[2022-09-05 14:17] Marenz commented on #13482
Advantages of having a dedicated bot would be that it could also auto-expand issue numbers to links in our channel

[2022-09-05 14:23] cameel commented on #13482
I think it might be best to post just a subset. E.g. 5 oldest + 5 latest. When we have a backlog, like now, we won't get through it in one go. It's periodic anyway so we'll go through it all eventually as long as it gets posted.

[2022-09-05 14:29] cameel commented on #13482
Not sure about this one. I'd rather have it on the main channel because it's meant to be not easily ignored. It should be annoying enough to make us do something but also not too spammy, which is why I'm suggesting posting only a subset.

For me a separate channel would still not replace the e-mails since I can't delete chat messages (or at least not without deleting them for everyone :)), mark th

[2022-09-05 14:30] Marenz commented on #13482
I meant additional, the summary should def. be in the main channel.
I can create an extra issue for the issue number expanding bot then

[2022-09-05 14:33] Marenz opened #13483 "Add a matrix bot that expands github issue/pr numbers to links"
As the headline says, simply a bot that listens for any pattern of `#<numbers>` and either edits the message if that is possible and replaces it with a link or post an additional message with the link.

Side node: Github doesn't differentiate between PRs/issues in links, so you could always use the pattern

`https://github.com/ethereum/solidity/pull/<num>` and it will work, no matter if PR or issu

[2022-09-05 14:34] Marenz commented on #13483
Related to https://github.com/ethereum/solidity/issues/13482

[2022-09-05 15:10] cameel commented on #13482
Removing `should have` label since it looks like we actually do not have a consensus on whether we want that and in what exact form.

[2022-09-05 15:11] cameel commented on #13483
Removing `should have` label since it looks like we actually do not have a consensus on whether we want that and in what exact form.

[2022-09-05 16:08] ekpyron commented on #13472
A global assembly block would also only allow function declarations in it (I don't see what anything but function definitions in them would mean) - and those would be globally available.
So the only actual difference I see is that an assembly library would implicitly introduce a namespace for them. That's of course nice, but part of the larger issue of namespacing globally-scoped items in general.

[2022-09-05 16:09] ekpyron commented on #13472
I.e. from what I understand the plan to have global assembly blocks is exactly your suggestion of assembly libraries minus namespaces - and the issue of namespaces is best solved uniformly together with namespacing free functions, etc., isn't it?

[2022-09-05 16:40] christianparpart opened #13484 "LSP symbolic rename to make use of ReferenceCollector"
Requires #12790 to be merged before this one can be done. but the symbolic rename is actually operating on all the refs that the ReferenceCollector should find.

[2022-09-05 17:48] nicolasguasca1 commented on #13470
Thank you for your reply @Marenz. I now understand the quote you cited. Should I assume this piece of code should NOT be used as it is not possible to retrieve the map in the conventional way as with the rest of the variables? Let me know and thank you so much again for your help!

[2022-09-05 22:16] rameshksg commented on #6149
I am also facing similar issue.

I have been calling transfer() function of ERC20.sol of Openzeppelin library, from my other solidity contract. The code of the same looks like below:
function transfer(address recipient, uint256 amount) public virtual override returns (bool) {
        _transfer(_msgSender(), recipient, amount);
        return true;
    }

My call to transfer is failing even though

[2022-09-06 02:28] NeverFearTomorrow commented on #13476
So while I was generally able to repro in 0.8.15/16 with my more complicated contract (the one I am actually developing), when I tried today with the dummy contract, it still repros in 0.8.9 but in 15/16 it complains that the Z3 and CVC4 solvers aren't available. I'm not really sure why I didn't see this complaint before - I'd think this warning would be front and center regardless what version of

[2022-09-06 06:23] antonper commented on #13480
[code]
Reduced the example even more.
After deployment, the 0x0 storage slot value is
0x00000000000000000000000000000000000000000000000000000040000000aa
After call to set() the 0x0 storage slot value is
0x00000000000000000000000000000000000000000000000000000000000000aa
Note the missing 4 after set().
Question: Why function pointer storage slot end is ``40000000aa`` after constructor call and  ``00

[2022-09-06 10:55] hrkrshnn commented on #13471
Turns out this was done purely to avoid solidity prettier / linter errors.

[2022-09-06 11:27] hrkrshnn commented on #13480
This is to make `function` pointers work both in construction and runtime context. Some more details can be found in the following comment: https://github.com/ethereum/solidity/issues/12911#issuecomment-1094747593

At runtime, the result would be `and`-ed. So the higher order bits should not matter (calling run should give the correct result). Closing this for now. Feel free to reply / open if you

[2022-09-06 11:27] #13480 closed, assigned to nobody

[2022-09-06 11:32] antonper commented on #13480
Thank you a lot of explanation

[2022-09-06 14:31] emretepedev opened #13490 "Revert statement not working with ternary operator"
## Abstract

The ternary operator we use to write shorter and more readable code cannot be used with the revert statement.

## Motivation
Example,
[code]
And it gives this error:
`ParserError: Expected ':' but got identifier
--> Foo.sol:9:24:
|
9 | _bool ? revert One() : revert Two();
| ^^^`

Another example,
[code]
And it gives this error:
`ParserError: Expected '(' but got '?'
--> AttackerForce.

[2022-09-06 15:13] leonardoalt commented on #13490
The ternary operator is used to return expressions and not to execute statements.

https://docs.soliditylang.org/en/v0.8.16/types.html?highlight=ternary#ternary-operator

[2022-09-06 15:13] #13490 closed, assigned to nobody

[2022-09-06 18:20] reubenr0d opened #13492 "Stylecheck script fails on MacOS"
`scripts/check_style.sh` does not work on MacOS:
[code]

[2022-09-07 09:12] wighawag opened #13494 "Assembly clearing local variable"
## Description

It seems in some conditions, assembly code is messing up with local variable even when it should not

What is even weirder, is that adding some extra code remove the issue.

Reproduction repo here :
https://github.com/bug-reproduction/solidity-assembly-variable-reset

## Environment

- Compiler version: 0.8.16 (tested also on 0.8.13)
- Target EVM version (as per compiler settings):

[2022-09-07 09:14] nikola-matic commented on #13492
Eh, so it looks like this has been broken on OSX for a long time now; OSX uses FreeBSD grep, whereas Linux used GNU grep, and even though they claim `GNU compatible`, it's really not.

The easiest solution would be to require a `brew install grep` prerequisite on Macs, which will install GNU grep, but under the `ggrep` command, and then altering the `check_style.sh` script to check whether it's on

[2022-09-07 11:48] hrkrshnn commented on #13494
What do you mean by this? @wighawag

[2022-09-07 12:14] reubenr0d commented on #13492
I have something that I think works, but still need to test it:
[code]

Although I get some warnings when I try to run it now, need to check if they're relevant:
[code]

[2022-09-07 12:26] christianparpart opened #13495 "LSP 3.17: Advertise position encoding"
As of LSP 3.17, the client and server can agree on a position encoding to use. We internally don't do anything special (yet), and certainly not UTF-16, so it should make sense for solc to simply advertise UTF-8 for position-encoding in the capabilities.

See: https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#clientCapabilities

[2022-09-07 12:45] ekpyron commented on #13494
Hm... first I thought, I can't reproduce it, but the following ``isoltest`` test actually fails in an unoptimized via-IR run on the second event emission...

[code]

i.e. the second event emission emits a zero address in the unoptimized via-IR run.

Interestingly, though, the same happens when exchanging ``this.deployData`` with ``this.deployData2``, i.e. it's still the second emission affected on

[2022-09-07 12:59] cameel commented on #12778
But we kinda have the same situation with functions in interfaces. Should we disallow `calldata` there too?

[2022-09-07 13:19] wighawag commented on #13494
@hrkrshnn

`address newContract;` should be non-zero after `newContract := create(0, p, add(len, 14))`
but it is zero when calling `emit Debug(newContract);`

if you uncomment the `log1` line it becomes correct

so not sure of the issue is that newContract got affected or as @ekpyron mention something else is happening, but there something going wrong here.

[2022-09-07 14:13] ekpyron commented on #13368
Since we realized that address types have a ``.code`` member, this gets slightly more complicated.

In the call today, we decided to still keep both the address member and the data location called ``code`` for now. But that means that we need a parser hack during parsing member accesses:

In fact there is also such a parser hack in place for parsing the ``.address`` member.

In ``Parser::expectIde

[2022-09-07 15:03] r0qs commented on #13494
Hi @wighawag, the test fails with `out-of-gas` when running the repo that you mentioned in the issue. It is a bit strange that the `log1` would prevent that.

Running your code on foundry though seems to work fine, with or without the `log1`:
[code]
I also tested using the [example](https://github.com/bug-reproduction/solidity-assembly-variable-reset/blob/main/test/data/index.ts#L1) payload that y

[2022-09-07 15:09] wighawag commented on #13494
@r0qs are you using the geth node provided  in the repo via docker-compose ?

the run out of gas issue happen on hardhat, running against geth expose the issue and where if you uncomment the log1 it passes

[2022-09-07 15:17] ekpyron commented on #13494
FYI the second creation failing with out-of-gas, resulting in ``create`` returning zero, fully explains what I saw in https://github.com/ethereum/solidity/issues/13494#issuecomment-1239342927 - but I hadn't looked into the logging part and let @r0qs take over the investigation for now. But yeah, sounds weird that adding the logging should prevent out-of-gas somehow...

[2022-09-07 15:37] wighawag commented on #13494
@r0qs you might have forgotten that step if you used geth : `pnpm execute localhost scripts/fundingFromCoinbase.ts`

I know this sounds crazy and you made me tripple check what I saw, but it really is happening, see CI action : https://github.com/bug-reproduction/solidity-assembly-variable-reset/runs/8231871860?check_suite_focus=true

I add the example with the extra log1 and it passes

[2022-09-07 15:49] Alexangelj commented on #11278
I've been using this to bubble up custom errors:

[code]

[2022-09-07 16:00] r0qs commented on #13494
@ekpyron compiling the code with solc and `--via-ir` gives segmentation fault in `solidity::yul::Parser::parseSrcComment`
[code]

Maybe something related with this regex and comments inside an assembly block: https://github.com/ethereum/solidity/blob/develop/libyul/AsmParser.cpp#L194

solc version: `Version: 0.8.17-develop.2022.9.5+commit.51929652.Linux.g++`

[2022-09-07 16:03] christianparpart commented on #13253
For reference for myself. This is an example init payload for its client capabilities

[code]

On the CLI args pattern matter. we could allow a whitelist of enabled features by fully qualifying their JSON base path, such as `textDocument.definition` or `textDocument.publishDiagnostics` and have these values passed as comma separated list via CLI, such as `--lsp-enable-only=....` or similar.

[2022-09-07 16:11] r0qs commented on #13494
I didn't use the docker-compose. I'll take a look at it as well, thanks. I was trying to first investigate the contract.

[2022-09-07 18:34] r0qs opened #13496 "Segmentation fault compiling a contract with huge data and via-IR enabled"
## Description
Investigating issue [#13494](https://github.com/ethereum/solidity/issues/13494) I ended up in a segmentation fault error when compiling the contract below with via-IR. The contract only assigns to a variable a huge payload.

## Environment

- Compiler version: Version: 0.8.17-develop.2022.9.5+commit.51929652.Linux.g++ (also tested on 0.8.16 release)
- Target EVM version (as per comp

[2022-09-07 19:09] cameel opened #13497 "Document UnusedStoreEliminator"
## Page

https://docs.soliditylang.org/en/latest/internals/optimizer.html#optimizer-steps
https://docs.soliditylang.org/en/latest/yul.html#optimization-step-sequence.

## Abstract

The `UnusedStoreEliminator` optimizer step is not listed in the documentation. Neither #12672 nor #12311 provided any docs for it.

When fixing, please also check if all the other [steps listed in `Suite.cpp`](https://g

[2022-09-07 23:03] nventuro commented on #13475
Thanks for the reply @hrkrshnn. I didn't see any mention of structs there however, are there any concrete plans for those?

To be honest, structs feel like a neglected feature: they're the only `memory` type that exhibits this weird auto-allocation behavior, they have strange copy semantics (close to value types, but they're sort of a reference type?), and are just all around wasteful to use if tr

[2022-09-08 12:04] #13478 closed, assigned to nobody

[2022-09-08 14:31] hrkrshnn commented on #13475
@nventuro Yeah, structs would be part of that. Currently, Solidity barely has the idea of reference semantics: most assignments are indeed deep copies. There is some exploratory work on improving this--you can likely expect a talk about it in Devcon Bogota if you are interested.

Also good point about improving documentation around structs. I'll make an issue about it.

Storage gets packed even wi

[2022-09-08 14:33] hrkrshnn opened #13504 "Add examples of using memory structs in documentation"
See: https://github.com/ethereum/solidity/issues/13475#issuecomment-1239993739

[2022-09-08 16:55] ekpyron commented on #13362
Should maybe have fixed this before this release - but yeah, this was probably the last release in which we'll get away with saying "22.10 is not released yet anyways" :-).

Not entirely sure if we should actually add CI runs for the short-lived ubuntu releases...

Anyways, new log, different failure this time:

https://launchpadlibrarian.net/622411533/buildlog_ubuntu-kinetic-amd64.solc_1:0.8.17-0

[2022-09-08 17:59] cameel opened #13506 "Nightly builds in solc-bin broken due to git's `safe.directory` check"
Nightly builds in solc-bin seem to have been failing for 2 weeks now: [8239563561](https://github.com/ethereum/solc-bin/runs/8239563561).

[code]

This seems to be due to the checks introduced recently by git to address a security vulnerability: [Git security vulnerability announced](https://github.blog/2022-04-12-git-security-vulnerability-announced/).

[2022-09-08 18:05] cameel opened #13507 "Gitter notifications for failing solc-bin nightly build"
For some reason I get no notifications for failed nightly builds or sync runs in solc-bin. I have to manually check https://github.com/ethereum/solc-bin/actions from time to time. And even if it worked, the notification should be visible to the whole team.

Set up a notification for failed action runs that goes to the [#solidity-dev channel on Gitter](https://gitter.im/ethereum/solidity-dev).

You

[2022-09-08 18:14] cameel opened #13508 "Replace `bin/soljson-latest.js` in solc-bin with a symlink"
We tried to make it a symlink in https://github.com/ethereum/solc-bin/pull/33 but back then we still served binaries via Github Pages and that does not support symlinks so we reverted the change in https://github.com/ethereum/solc-bin/pull/44. Now that we switched to AWS for hosting, we can revisit the idea.

[2022-09-08 22:06] pcaversaccio opened #13511 "`UnusedStoreEliminator` step missing in documentation"
## Summary

In the current documentation on the [Yul-based optimizer steps](https://docs.soliditylang.org/en/latest/internals/optimizer.html#optimizer-steps), the step `UnusedStoreEliminator` is missing.

[2022-09-08 22:17] frangio commented on #2675
I've created a Hardhat plugin to ignore compiler warnings.

https://github.com/frangio/hardhat-ignore-warnings

[2022-09-09 00:18] hrkrshnn commented on #13511
Actually, duplicate of https://github.com/ethereum/solidity/issues/13497

[2022-09-09 00:18] #13511 closed, assigned to nobody

[2022-09-09 08:28] r0qs commented on #13506
@cameel looking at this issue, I also noted that [build_emscripten.sh](https://github.com/r0qs/solidity/blob/develop/scripts/ci/build_emscripten.sh) creates the `emscripten_build` folder under the solidity directory tree as root.
As far as I could see, the docker instance needs to run with root user because of [this line](https://github.com/r0qs/solidity/blob/develop/scripts/ci/build_emscripten.sh

[2022-09-09 08:31] pcaversaccio opened #13512 "feat: introduce `block.prevrandao` as alias for `block.difficulty`"
## Summary

[EIP-4399](https://eips.ethereum.org/EIPS/eip-4399) renames the `DIFFICULTY (0x44)` opcode to `PREVRANDAO (0x44)`. The return value of the `DIFFICULTY (0x44)` instruction after this change is the output of the randomness beacon provided by the beacon chain.

For reference, I implemented this feature in Vyper [here](https://github.com/vyperlang/vyper/pull/3085).

[2022-09-09 10:20] wighawag commented on #13494
I updated the repo (https://github.com/bug-reproduction/solidity-assembly-variable-reset) to have hardhat test works too (works in the sense that the weird behavior is also shown)

[code]

[2022-09-09 10:58] r0qs commented on #13506
Actually, I just found another dockerfile that seems to be the correct one here https://github.com/ethereum/solidity/blob/develop/scripts/docker/buildpack-deps/Dockerfile.emscripten
And it already install the lz4, so we just need to remove it from the `build_emscripten` and change the user and volume mount.

[2022-09-09 11:08] cameel commented on #13506
Sounds good. Let's try this. I do think it's better to avoid using `root` in docker images when possible, it's just that that's the easiest way for people to set it up so that's probably why our image does it.

It is installed in the image. See #13424. The one you're looking at looks like an old repo created by @aarlt that we ended up not using. Or is it actually used somewhere? We should either d

[2022-09-09 11:13] cameel commented on #13506
Right. In any case, try changing it.

BTW, check out [`buildpack-deps/README.md`](https://github.com/r0qs/solidity/blob/develop/scripts/docker/buildpack-deps/README.md) for info on how building these images works. They're versioned and built automatically but not used automatically by CI - hashes in the CI config need to be updated first.

Would be simpler if we did not have to hard-code the hashe

[2022-09-09 11:15] ekpyron commented on #13506
The main reason for using hard-coded hashes is actually security. It makes us robust against repushing docker images or compromised docker hub or all sorts of things like that. So I actually wouldn't touch that :-).

Of course the hashes are just posted by CI that may be compromised as well, but the surface there is much smaller.

[2022-09-09 11:31] nikola-matic commented on #13497
@cameel
As far as undocumented steps are concerned:
`ExpressionInliner` is not documented at all from what I can see.
`RedundantAssignEliminator` has been renamed to `UnusedAssignEliminator`, but the docs haven't been updated to reflect this.
Should this be done as part of this issue and perhaps #13501 (doesn't make sense to me), or this issue and separate PRs, or should a completely separate issu

[2022-09-09 11:59] r0qs commented on #13506
It seems that `/root/project` is used in much more places than I expected. So it may require some refactoring.

[2022-09-09 15:41] cameel commented on #13497
Depends. If you'll be doing it yourself immediately (even if in a separate PR), opening new issues is not necessary. But if you want to leave it for later or have someone else do it, might make sense to open a new issue with proper title/description. Up to you I'd say.

[2022-09-09 16:48] axic commented on #13512
Should be consider not making it a blank alias (like we had for `sha256` vs `sha3`), but enable one or the other based on the `evmVersion` selected?

I think that would make more sense, as it gives an indication to the user of a potential issue. Of course one can deploy a contract compiled for an older evm version, so it is not bulletproof.

[2022-09-09 17:02] pcaversaccio commented on #13512
@axic I get your point - for that reason actually, we put a warning depending on the EVM version used (see [here](https://github.com/vyperlang/vyper/pull/3085/files#diff-452732981c7a1a928e9f249c7b14c723695de3d6635568ccc8899b6cab2fc54bR284)).

[2022-09-09 17:53] cameel commented on #13512
I think it might be better only to switch between which one is the default depending on the EVM version but still accept both. Otherwise it would be breaking regarding the asm import (we're currently implementing). And would also change assembly output which probably should also be considered breaking since tools may depend on that.

[2022-09-09 18:01] axic commented on #12067
As mentioned we wanted to have this enabled originally, but the main problem here is somehow signalling what commitments the `verbatim` code makes against various EVM properties (e.g. "reads state", "modifies state", "terminates", etc.)

Since we have the `memory-safe` annotation, we could think about introducing more of such annotations (eventually somewhat resembling [`SemanticInformation`](http

[2022-09-09 20:12] xx014939 opened #13515 "wrapper.js:10 Uncaught TypeError: Cannot use 'in' operator to search for '_solidity_version' in undefined"
## Description

Hey guys, I have been trying to use solc in a React.js app for around a week now, and I can't get it to work!

I am importing solc using the following statements

import * as wrapper from 'solc/wrapper';
const solc = wrapper(window.Module);

However, upon compiling I get the following error in the browser

wrapper.js:10 Uncaught TypeError: Cannot use 'in' operator to search for '_s

[2022-09-11 03:07] imblue-dabadee commented on #13267
`disallow` will stop Google from indexing/crawling the **contents** of the page, not the URL itself. This is why the URL for previous versions still appear but the meta description does not. [Reference from Google](https://developers.google.com/search/docs/advanced/robots/robots_txt#disallow)

To stop a URL being indexed by Google, you must add `<meta name="robots" content="noindex">` to relevant

[2022-09-11 05:56] AliMohammadnia commented on #13512
Hi guys I am Ali I want to learn blockchain programming How should I practice and what programming language should I use????❤️

[2022-09-11 07:40] barakman commented on #12526
@cameel @chriseth : any word on this?

[2022-09-11 08:40] Samboy76 commented on #1686
Following the above previous example, how do you access "RevertStrings" data at run-time?
Do you access RevertStrings from test javascript?
I´ve enabled "debug": {"revertStrings": "default"} in truffle-config.js.

#: Math: addPositiveNumbers:4
msgid "Parameter one must be positive"
msgstr "参数一必须是正数"
msgid "Parameter two must be positive"
msgstr "参数二必须是正数"
msgid "I thought adding was monotonic!"
ms

[2022-09-11 09:03] pcaversaccio commented on #72
FWIW, I made a Twitter poll [here](https://twitter.com/pcaversaccio/status/1568503273769910273):
![image](https://user-images.githubusercontent.com/25297591/189519750-6d2fb75d-61ef-4c99-b1dd-d2d1529f5f97.png)

[2022-09-11 17:03] cameel commented on #13267
Thanks! That explains a lot.

Not sure if we'll be able to keep those old version out of Google Search then since it might not be feasible to rebuild them. Especially if it would require changing code in the repo in already tagged releases.

In any case, pinging @r0qs since this is one of the topics, we'll want him to take over eventually.

[2022-09-12 07:31] jtakalai commented on #1543
now available since Constantinople in 2019 :) https://docs.soliditylang.org/en/v0.8.7/units-and-global-variables.html#members-of-address-types

[2022-09-12 09:09] pcaversaccio commented on #49
FWIW, I made a Twitter poll [here](https://twitter.com/pcaversaccio/status/1568889061414260737):
![image](https://user-images.githubusercontent.com/25297591/189616040-f47f021a-c585-4a08-a7e9-f334df3d97b8.png)

[2022-09-12 11:13] ekpyron opened #13517 "Add Paris as EVM version"
Came up with https://github.com/ethereum/solidity/issues/13512.
We should aim for having this in the next release regardless of how we decide to deal with that issue.

https://github.com/ethereum/solidity/issues/13512 should be the only relevant change for us to consider for paris, though.

[2022-09-12 11:22] ekpyron commented on #13512
Yeah, the opcode name in assembly output is something to think about.
What's your thoughts about making this a full hard switch depending on the evm version setting? I.e. remove ``block.difficulty`` entirely for Paris and also only emit and parse ``prevrandao`` in assembly - while keeping everything as is for <Paris?
The error message for the use of ``block.difficulty`` or the opcode with evm vers

[2022-09-12 12:43] k06a opened #13518 "Add support for `calldata` input and output in `abi.decode()`"
## Abstract

Currently `abi.decode()` works with `memory` argument and not with `calldata`, if `calldata` is provided it is being copied to memory and then decoded. Let's make `abi.decode()` to support both arguments and returns as `calldata`.

## Motivation

`Calldata` abstraction is cool, slicing is cool. We need `abi.decode()` to fully support decoding from `calldata` to `calldata`!

## Specifi

[2022-09-12 12:58] 0xmikko commented on #13518
It could also add additional security because calldata is immutable, so no way to change data where it's not needed.

[2022-09-12 13:27] ekpyron commented on #13518
Just to clarify here: decoding *from* calldata (including slices) *does* work already (if it isn't for any case in which it should, let us know).
Encoding *to* calldata types is an interesting idea! So the expectation here would be that the ``abi.decode`` call validates the outermost tuple (reverting on invalid data) and returns the appropriate calldata references, basically as if they had been fu

[2022-09-12 13:38] ekpyron commented on #13512
Just to clarify - this will entail:
 - renaming the Yul builtin, resp. inline assembly builtin, for the opcode
 - renaming the name of the opcode for importing and exporting evmasm
 - renaming the member of ``block`` on the solidity level

Anything else I missed?

[2022-09-12 14:11] kevin-allen-uf commented on #13437
Hi! I'm trying to find a suitable good first contribution and I'd like to help with this issue. Is is claimed by anyone else or can I take it on?

[2022-09-12 14:34] k06a commented on #13518
@ekpyron exactly. I assume implementing this feature would require reusing existing code of arguments decoding.

[2022-09-12 14:35] nventuro commented on #13475
How much of a priority would you say this issue has in the roadmap? Are there any expected timelines by which we could expect to see improved memory management?

This is one of the issues that makes me not want to switch to the new codegen pipeline (which automatically moves stack variables to memory), as it doesn't quite feel like solc can be trusted with automatic memory allocations.

[2022-09-12 14:46] cameel commented on #12127
Marking as breaking since the way we will probably implement it (i.e. as a new Yul builtin) seems to be breaking.

[2022-09-12 14:51] cameel commented on #12211
After the recently introduced optimizer steps, is it now good enough? Or is there more easy work we can do on that?

[2022-09-12 15:00] leonardoalt commented on #13475
Not that it contributes much, but better performance in dynamic struct memory allocation has very little to do with allocation of stack variables in memory, although of course they would need to work together when the dynamic parts are optimized.

[2022-09-12 15:02] cameel commented on #8382
This will probably be fixed by the work related to compile-time constant evaluation so we won't be working on this specifically in the near future.

[2022-09-12 15:08] cameel commented on #12778
Decision from the last call:
- We'll make specifying location in external function pointers optional.
- In a breaking release we will disallow function pointers with calldata arguments.
- We'll discuss doing the same for interfaces separately.

[2022-09-12 15:19] cameel commented on #11700
We should reevaluate this since so many ext tests are failing. Isn't it just too common?

[2022-09-12 15:22] nventuro commented on #13475
What do you mean by 'dynamic' struct allocation?

My point was rather that basic usage of structs can easily result in excessive overallocation (4x in a trivial case prior to 0.7.6, 2x in the latest versions), and I worry that similar things might happen when letting the compiler automatically promote variables to memory.

[2022-09-12 15:29] leonardoalt commented on #13475
Yep, I agree that those cases are pretty bad rn, but moving variables to memory is much simpler and likely moving single words doesn't have a bad worst case.

[2022-09-12 16:19] ekpyron commented on #13475
The compiler only moves variables to memory that can be assigned a globally fixed memory location at compile time - that's why the mechanism doesn't work in recursive functions so far. The allocation mechanism for this is completely decoupled from the free-memory-pointer based mechanism, i.e. the memory offsets are statically assigned by the compiler up front, and the free-memory-pointer is only e

[2022-09-12 16:36] ekpyron commented on #13518
Currently, the return type of any function call is fully determined by the types of its arguments - so that'd be quite a step to break here (i.e. actually determine that the full ``abi.decode(...)`` expression is assigned to ``calldata`` types instead of ``memory`` types, and changing the semantics of the expression based on that).

However, I wonder if there are any issues with actually *always*

[2022-09-12 17:22] ekpyron commented on #13518
So in general, the easiest solution to this would be to just change the return types of ``abi.decode`` with a calldata argument, to calldata types - that should directly solve this with near-zero effort - and I think this should all work now (there is a comment in the type checker code for ``abi.decode`` about the implementation of calldata types lacking and hence memory types being forced, but I

[2022-09-12 20:03] nventuro commented on #13475
Does this mean that if my code feature 10 mutually exclusive code paths, each of which results in one value being promoted to memory, the contract will allocate all 10 words in all cases?

[2022-09-12 21:12] ekpyron commented on #13475
Depends. The slots are allocated per Yul function post optimizer. Disjoint paths through the call graph of these functions can be assigned shared slots. So if you're lucky and the 10 mutually exclusive code paths end up in separate yul functions that live in disjoint paths in the call graph, only one word will be allocated.

Whether slots can be shared, *could* be determined on a more fine-grained

[2022-09-12 21:57] hrkrshnn commented on #12127
I think it should be possible to implement it in a way that's not breaking. We did this when `basefee` was introduced. Alternatively, this can be an annotation similar to "memory safe", but for selecting the Yul dialect.

[2022-09-13 11:32] k06a commented on #13518
@ekpyron I believe that we need to have 2 functions:
- `abi.decode(bytes memory, *)`
- `abi.decode(bytes calldata, *)`

As you said `calldata` argument version will return `calldata` types, which can be deep-copied to `memory` types. It doesn't look like a breaking change for me.

[2022-09-13 12:15] ekpyron commented on #13518
``abi.decode(bytes calldata, *)`` already exists, though, but so far is just an alias and returns memory types (and even if it didn't exist, since calldata to memory conversions are implicit effectively current code works *as if* it existed). And changing those return types to ``calldata`` types will change the revert semantics in certain corner cases. I'm saying it's *technically* breaking, since

[2022-09-13 13:15] ekpyron commented on #12127
You mean, introduce the new builtin, but still allow to shadow it with user-defined functions (emitting a warning or so)? Yeah, always possible, never really nice, though... we could actually consider that for ``prevrandao``, though.

[2022-09-13 13:37] k06a commented on #13518
@ekpyron interesting, but why would you check high bits of addresses? I would say it is both unexpected from developer POV and non-desired, since it will spend gas, while function arguments decoder I assume skip these checks.

[2022-09-13 13:45] ekpyron commented on #13518
Calling ``function f(address x) external`` with dirty higher-order bits in ``calldata`` will also revert during argument decoding... Calling ``function f(address[] callata x) external`` will not *immediately* revert if called with an element with dirty higher order bits, but the first use e.g. ``x[0]`` will revert, if there are dirty higher-order bits.
Validation like that has been happening ever

[2022-09-13 13:51] cameel commented on #12127
ok, if we have that option then I guess I'll remove the label since whether it's breaking or not will simply depend on whether we decide to do it in 0.9.0 or before.

[2022-09-13 13:55] ekpyron commented on #13518
Compared to masking away, the increased gas costs in validating the arguments is not *that* high - and either of those you need anyways, since just allowing invalid inputs may lead to all sorts of unexpected problems. And validating instead of just masking is an additional safeguard against unexpected behaviour (after all, there's little valid reason for passing garbage in higher-order bits, so if

[2022-09-13 13:57] k06a commented on #13518
@ekpyron interesting, didn't noticed that behaviour perviously. So regarding the `abi.decode(calldata)` this issue could be handled during copying `calldata` to `memory`.

[2022-09-13 14:07] ekpyron commented on #13518
If you actually have
[code]
you'd get a ``calldata`` to ``memory`` copy, which could actually do the validation.

However, there's nothing preventing you currently from *just* calling ``abi.decode`` itself without using its return values. There's little reason for ever doing so, but that case (so the snippet in https://github.com/ethereum/solidity/issues/13518#issuecomment-1245328421) would still

[2022-09-13 14:40] ekpyron opened #13520 "Document oddities in validation behaviour of calldata-to-memory copies."
Arrays with static (as in "not dynamically encoded") base types use an old custom copy routine for calldata-to-memory copies, which does not perform cleanup or validation, while arrays with dynamically encoded base types use the yul conversion routine, which uses abi-decoding and validates, e.g. reverts on dirty higher-order bits (see  ``CompilerUtils.cpp:L1033`` for the case distinction).

This f

[2022-09-13 14:54] ekpyron commented on #13520
Also from a quick glance, this applies similarly to calldata-to-storage copies...

[2022-09-13 15:00] Marenz commented on #12208
Possibly related or even duplicate: https://github.com/ethereum/solidity/issues/13496

[2022-09-13 15:00] Marenz commented on #13179
Probably related: https://github.com/ethereum/solidity/issues/13496

[2022-09-13 15:01] Marenz commented on #13496
The crash is happen inside our regex library which seems to be the same/similar problem as the two other issues I just linked to this.

[2022-09-13 15:11] drortirosh opened #13521 "Calculate "CREATE2" address"
The `new` operator now supports the "CREATE2" opcode, by using the syntax `new MyContract{salt:xx}(<constructor params>)`
Calling this method in a view context prior deployment let us get the "counterfactual" address.
But once the contract is deployed, there is no easy way to get its address:
We have to use the "messy" format of
[code]

This method would work, but has several drawbacks:
- an ugly

[2022-09-13 15:40] adhusson commented on #12328
It looks like losing contract->address implicit conversion was a side-effect of disallowing sideways contract casting. Sadly that represents quite a loss in quality of life. I don't see any good reason for it, you can have both.

edited for clarity/fixes: this responds to

Since [0.8.0](https://blog.soliditylang.org/2020/12/16/solidity-v0.8.0-release-announcement/) explicit conversions "are only p

[2022-09-13 15:52] cameel commented on #9171
After talking it over with @ekpyron we decided to close it in favor #8969 as suggested here. The issues say basically the same thing.

[2022-09-13 15:52] #9171 closed, assigned to nobody

[2022-09-13 15:56] mryalamanchi commented on #13512
Let's assume to remove the `block.difficulty` if it's paris version and replace it with `block.prevrandao`.

What would happen to the Contracts that were previously using block.difficulty and decided to upgrade (using upgradable SM architecture) from >=0.8.x to the latest one which has this change, and suddenly the compiler throws warning or doesn't compile?

[2022-09-13 16:00] cameel commented on #8969
@r0qs We talked with @ekpyron today about next steps here.
- One would be to finalize #13499 but do it only for PRs for now.
- Second, to implement the idea with adding new issues to the board. Since permissions are a problem we'll do it like this:
    - Rename `New Issues` column on the [old board](https://github.com/ethereum/solidity/projects/43) to `Triage` and start adding new issues there for

[2022-09-13 16:03] cameel commented on #8969
I cleared the column an renamed it (actually deleted it and created a new one).

Also, I have an idea for how we can work around the board not being able to handle solc-js issues. We could just add notes with links. Not great but better than not being able to manage them at all.

[2022-09-13 16:11] cameel commented on #13512
@mryalamanchi It would not affect upgrades (i.e. storage layout) at all. The compiler should still produce the same exact bytecode even with the new name.

At the EVM level the way the opcode works will change immediately with the merge whether we do anything or not. The change in the compiler is simply to reflect that change in meaning but does not itself change that meaning.

[2022-09-13 16:14] cameel commented on #13512
So far the biggest problem seems to be the fact that this would affect portability of third-party libraries. They would no longer be able to provide code that uses `block.difficulty()` and still works when EVM is set to `paris`. For this reason we're likely to just keep both names available until the next breaking release.

[2022-09-13 16:38] cameel commented on #13506
I just realized that we may have one more problem here that probably did not show up only because the nightly is broken. I.e. we enabled branch protection in solc-bin. The action commits nightlies directly to the main branch so I suspect it will still be failing even after we fix the issue here.

[2022-09-13 16:50] cameel commented on #8969
As for new boards, looks like PAT seems to be the only way forward and we do want to move on to them if only because github is very likely to deprecate old ones at some point. So once devops creates a custom account for us, we could move on with that.

[2022-09-13 17:05] cameel commented on #13521
Is extending `new` this way really a good idea? `new` implies that something gets created. I think a new `abi.` function for that might be move intutitive and more consistent with that we already have in the language.

[2022-09-13 18:01] #9627 closed, assigned to nikola-matic

[2022-09-14 05:29] Qambar opened #13523 "assertion failed [block != nullptr]: BasicBlock requested for unrecognized address (BuilderBase.h:550 block_for_offset)"
## Description
The compiler is crashing with the following error message:

[code]

I contacted truffle support, and they advised that it was a compiler bug and it should be reported here.

## Environment

- Compiler version:
Truffle v5.4.11 (core: 5.4.11)
Solidity - 0.8.17 (solc-js)
Node v18.7.0
Web3.js v1.5.2

- Target EVM version (as per compiler settings): 0.8.17
- Framework/IDE (e.g. Truffle o

[2022-09-14 07:15] wechman commented on #12932
I have extracted minimal code that lets to reproduce the issue:
[code]
The interesting thing about the above code is it can be compiled seamlessly after renaming source file names (`fileA.sol`->` fileB.sol` and `fileB.sol`->`fileA.sol`). The thing is, an order of type and name resolving ([NameAndTypeResolver::resolveNamesAndTypesInternal](https://github.com/ethereum/solidity/blob/develop/libsolidi

[2022-09-14 07:22] hiroshi-yamamoto-dublr opened #13525 "Struct instantiaton less efficient than tuple creation"
## Description

Given these two contracts (which from an ABI point of view, return exactly the same values):

[code]

`contract  A` compiles to `0.122 kb`
`contract  B` compiles to `0.157 kb`

This is a problem, because since tuples are not yet a first-class datatype in Solidity, you are forced to use structs in some situations where tuples should work, which causes the contract size to increase.

[2022-09-14 08:56] ekpyron commented on #13348
I'm closing this, as a part of general memory optimizations on our roadmap.

[2022-09-14 08:56] #13348 closed, assigned to nobody

[2022-09-14 09:09] r0qs commented on #13506
Hum...but it uses the same `build_emscripten.sh` script as solidity for the build: https://github.com/ethereum/solc-bin/blob/gh-pages/.github/workflows/nightly-emscripten.yml#L78
This script in turn, calls the one shared with the CI (`scripts/ci/build_emscripten.sh`).

So if we add the `safe.directory` in the `scripts/ci/build_emscripten.sh` before the git operations, it should work for both.

[2022-09-14 11:01] r0qs commented on #13506
Oh, now I see what you mean, in the `add-nightly-and-push` action in the solc-bin workflow.

[2022-09-14 11:07] ekpyron commented on #13506
I guess this was probably the reason why branch protection wasn't enabled there in the first place :-). We can disable it again, if there's no way around doing that for automatically pushing nightlies.

[2022-09-14 12:40] cameel commented on #13506
I see in settings that there's an option to whitelist pushes from specific users. The problem is that the action is not really a user. It just sets some name and e-mail and that does not have a corresponding github account I could whitelist.

[2022-09-14 12:44] ekpyron commented on #13506
It says "people, teams or apps"... at least the docker hash comments like https://github.com/ethereum/solidity/pull/13438#issuecomment-1228393223 are posted by a github action app from the looks of it... maybe it works via that?

[2022-09-14 12:47] r0qs commented on #13506
According to the github documentation it is possible to `allow specified actors to bypass required rules` when using branch protection. And the actor can be a github app but currently it cannot be a github action.

[code]

However, there are some suggestions of possible workarounds here: https://github.com/community/community/discussions/13836
Basically, we can: 1) build a github app and grant it

[2022-09-14 12:52] cameel commented on #13437
Sure, feel free to take it.

[2022-09-14 13:47] cameel commented on #13512
Decision from the call today: we'll do it the same way Vyper does, i.e.
- we’ll keep both `difficulty` and `prevrandao` usable on all EVM versions.
- the EVM version will decide whether we output one or the other,
- there will be a warning if you use `difficulty` on `paris` and when you use `prevrandao` on older versions.

[2022-09-14 13:52] ekpyron commented on #13512
Just as a small addition: on the Yul level this will mean adding ``prevrandao`` as pseudo-builtin only for now, i.e. to introduce it, but to also allow shadowing it by a user-defined function called ``prevrandao`` (while emitting a warning). We should then promote it to a proper builtin (disallowing any user-defined functions with that name) with 0.9.

[2022-09-14 14:14] cameel commented on #13523
Is that error really coming from the compiler? We do have a struct called [`BasicBlock`](https://github.com/ethereum/solidity/blob/v0.8.17/libyul/backends/evm/ControlFlowGraph.h#L172-L207) but no `BuilderBase.h` (it's part of the control flow graph instead).

If it's a compiler problem it should be reproducible just by running `solc` (or solc-js) on it without Truffle or Hardhat. Can you show us t

[2022-09-14 14:16] ekpyron commented on #11082
Closing this. This can be implemented via inline assembly and generics.

[2022-09-14 14:16] #11082 closed, assigned to nobody

[2022-09-14 14:17] ekpyron commented on #11080
This is pretty much done - not that the new optimized code transform is optimal yet, but it's there and works.

[2022-09-14 14:17] #11080 closed, assigned to nobody

[2022-09-14 14:18] ekpyron commented on #11183
Closing this as being subsumed under https://github.com/ethereum/solidity/issues/13318, which is a roadmap item.

[2022-09-14 14:18] #11183 closed, assigned to nobody

[2022-09-14 14:22] ekpyron commented on #9955
I don't see us doing this without a larger storage redesign which may happen due to the verkle business, but I don't think this issue is helping, so I'm closing.

[2022-09-14 14:22] #9955 closed, assigned to nobody

[2022-09-14 14:23] Marenz commented on #13512
Aren't we outputting the opcode anyway, which is staying the same?

[2022-09-14 14:24] ekpyron commented on #9651
Since by now this is not merely a warning, but an error, this becomes breaking - but still something we should do eventually.

[2022-09-14 14:27] ekpyron commented on #10277
I don't see us doing this in the compiler - and frameworks are free to consider our warnings as errors. So I'm closing this as part of our issue maintenance pass. Feel free to reopen, if you disagree.

[2022-09-14 14:27] #10277 closed, assigned to nobody

[2022-09-14 14:50] ekpyron commented on #13451
I'd actually consider this a special case of https://github.com/ethereum/solidity/issues/13318, which is on our roadmap.
``bytes.concat`` is pure, resp. compile-time-evaluatable, so taking the example above, we could do
[code]

That would also implicitly allow the use of
[code]
as suggested.

So I'm closing this as a use case of compile-time constant expression evaluation.
If you think there shoul

[2022-09-14 14:50] #13451 closed, assigned to nobody

[2022-09-14 14:52] ekpyron commented on #13462
Closing this as a duplicate of https://github.com/ethereum/solidity/issues/13451, which I'm in turn closing as a special case of https://github.com/ethereum/solidity/issues/13318, as explained there.
Here, this would involve the use of ``string.concat`` together with compile-time constant expression evaluation.

[2022-09-14 14:52] #13462 closed, assigned to nobody

[2022-09-14 14:53] ekpyron commented on #12814
Anything left here?

[2022-09-14 15:04] 0xGeorgii commented on #13426
Hi @cameel I'm new to Solidity but want to dig deeper into it. May I elaborate on this issue and provide an improvement? It takes some time and I will ask questions. Hope it won't be too bothering.

[2022-09-14 15:12] ekpyron commented on #11540
Marking this as "high effort" and "needs design", since doing this *properly* is hard. E.g. as an extension of the second case in the issue description consider:
[code]

This is technically a fine use of ``this``, but we most definitely don't want to go out of our way to determine that.

So defining the precise subset of cases that are fine to accept is the tricky part here.

We could restrict to

[2022-09-14 15:14] ekpyron commented on #11827
I'm linking this to https://github.com/ethereum/solidity/issues/13321, but there's not too much gain in keeping it open as a separate issue.

[2022-09-14 15:14] #11827 closed, assigned to nobody

[2022-09-14 15:17] ekpyron commented on #11593
Current plan is to indeed remove ``abi.encodePacked`` as soon as ~~https://github.com/ethereum/solidity/issues/11593~~ https://github.com/ethereum/solidity/issues/13321 is done and it's possible to reimplement this generically in user code :-).