[2021-03-16 10:40] hrkrshnn commented on #11111
Please use the gitter channel for these questions: https://gitter.im/ethereum/solidity

You could either user `addresses.length` or `calldatasize()` in inline assembly. `2**32` is a reasonable upperbound for `calldatasize()`.

[2021-03-16 10:40] #11111 closed, assigned to nobody

[2021-03-16 11:16] chriseth commented on #11102
Ok, I didn't consider that you cannot change the interface of a module on an upgrade, that would be a rather important feature. Still, maybe we can somehow allow this if there is only a single module?

The optimizations I was talking about are using bloom filters. If this proposal is implemented naively, we need at least one comparison with each function signature in each module. Bloom filters wou

[2021-03-16 11:22] hrkrshnn commented on #11078
Why should `address(5)` work? How can solidity know that the staticcall to contract at address `5` is pure?

[2021-03-16 11:32] hrkrshnn commented on #11078
Can you share how you do it in inline assembly? I think `staticcall` in inline assembly should be reported as `view`, rather than `pure`.

[2021-03-16 11:44] maxsam4 commented on #11102
If there's only a single module, it defeats the purpose of having a hub/router. Having this feature won't harm anyone but I also can't see anyone using it.

The interface can technically change if the module was also a proxy or created with create2 for example but I think we can just assume that if the interface changes, the user must deploy a new hub/router or have undefined behaviour. This shoul

[2021-03-16 17:48] hrkrshnn commented on #11051
The issue https://github.com/ethereum/solidity/issues/1256 proposes that the conversion should be allowed.

My arguments for disallowing it would be:
1. Calling such functions from the frontend becomes more complicated. For example, if there is `f(uint)` and `f(uint128)`, calling either of them from the front-end is not as straightforward as `contract.f(10)`. Even though frontends seem to have sup

[2021-03-16 18:37] chriseth opened #11114 "NatSpec and multiple events with identical signature"
It is impossible to define multiple events with the same signature in the same contract. This lead to the design that the user documentation ("NatSpec") has a mapping of event signatures to the description of the event.

What has been possible for a while now is for a contract to emit events with the same signature but different natspec through the use of libraries or via referencing events of a d

[2021-03-16 18:44] #11081 closed, assigned to nobody

[2021-03-16 23:37] GaudiestTooth17 opened #11115 "[Question] Error While Compiling (Solidity 0.8.2)"
I was following this [guide](https://guides.github.com/features/mastering-markdown/), but whenever I execute `make .. && cmake` from within the build directory, compilation gets 56% of the way done and then stops with this error:
`/usr/lib/x86_64-linux-gnu/libboost_filesystem.a(operations.o):function boost::filesystem::detail::dir_itr_close(void*&, void*&): error: undefined reference to 'boost::sy

[2021-03-17 00:50] axic commented on #11060
We are blocked on evmc + evmone releasing support. It will come with a breaking ABI (evmc 8.0.0).

[2021-03-17 10:37] chriseth commented on #11060
For the gas accounting in both the optimizer and in testing I would actually propose to always assume "warm state".

[2021-03-17 10:47] axic commented on #11060
Why?

[2021-03-17 11:14] chriseth commented on #11060
Why not?

[2021-03-17 11:27] axic commented on #11060
At least for external tests (like deposit contract, uniswap, etc.) it is a much more compelling use case to consider them predominantly executed via transactions and collect gas statistics that way. Reason is that is how they are mostly going to be used on chain.

Once we see an uptick on access lists in transactions (i.e. metamask having it by default), then I agree we should move on to the warm

[2021-03-17 12:43] hrkrshnn opened #11118 "Understanding creation context when optimizing Yul subobjects"
Currently, we assume that all Yul subobjects are in runtime context: https://github.com/ethereum/solidity/blob/develop/libyul/AssemblyStack.cpp#L177 (the second parameter `false`.)

However, this is not true in general.

Take for example,

[code]

From the context of `C`, both `D`'s constructor and `fallback` will have `shl(180, 1)` expanded. In this case, this would lead to more expensive constru

[2021-03-17 13:16] hrkrshnn commented on #11114
I want to add that currently `event E(uint indexed)` and `event E(uint)` have the same signature. (Both can't occur in the same contract currently.)

Maybe we should really add "indexed" to the signature.

[2021-03-17 13:51] axic commented on #11114
@hrkrshnn there's a conversation about that in #4168 -- in short, breaking ABI change. There are some other issues I can't find now.

[2021-03-17 14:15] axic commented on #2243
@chriseth isn't this solved now by #7834 ?

[2021-03-17 14:20] axic commented on #2992
Do we still need this or using `@custom:experimental` good enough for now?

On the other hand I am not fully convinced there should be experimental functions in released contracts.

[2021-03-17 15:15] axic opened #11119 "Use solidity-docgen in the CI"
[solidity-docgen](https://github.com/OpenZeppelin/solidity-docgen) is a tool which generates a HTML documentation out of the Natspec JSON (and the AST, see https://github.com/OpenZeppelin/solidity-docgen/issues/284).

It would be nice to run it in the CI, potentially on the extracted documentation and the semantic tests (or at least the external contracts) to catch unexpected breaking changes in N

[2021-03-17 15:48] axic commented on #10281
We had a discussion about this on today's meeting.

Currently any untagged content (i.e. `/// Hello world`) defaults to `@notice`. Multiple tagged or untagged `@notice`s are concatenated together.

The question we had whether untagged comments are for the user or the developer. If they are for the developer, then we should have the following rules:
- Only one `@notice` tag is allowed, and it is ex

[2021-03-17 15:52] axic opened #11120 "Natspec: change parameters and return values to be an array"
Based on #1141. I thought there was a specific issue, but couldn't find it.

One of the main complaints I had is that parameter handling is not well thought out.
[code]

[code]

The problem is that the signature does not contain the name of the parameters, and the `params` field only contains a mapping and not an ordered list. This means JSON libraries are free to order the entries as they wish, p

[2021-03-17 15:57] axic commented on #1141
I think we have specific issues now for everything, as well as the natspec project: https://github.com/ethereum/solidity/projects/42

Is there anything else missing from there? Can we close this issue?

[2021-03-17 16:01] leonardoalt commented on #10875
Fixed by https://github.com/ethereum/solidity/pull/11040

[2021-03-17 16:01] #10875 closed, assigned to nobody

[2021-03-17 16:08] leonardoalt commented on #11100
I'm also on gcc 10.2.0, z3 4.8.10 (release) and can't reproduce it. That's weird.

[2021-03-17 16:19] feuGeneA commented on #1141
In comments above, I had asked for these things to be added to this issue:
* Support for `@dev` tag on a contract
* Support for `event`s

I'd still like to see those happen (if they haven't already) but I really don't care whether they're tracked in this issue or elsewhere.

[2021-03-17 16:22] #2992 closed, assigned to nobody

[2021-03-17 16:27] chriseth commented on #11120
Sounds good! What about the return variables?

[2021-03-17 16:35] axic commented on #1141
@feuGeneA Could you please create new separate issues for them? We have found that individual issues work better nowadays.

[2021-03-17 16:38] axic commented on #11120
I think the same rules as for params? With the exception if the return value is not named, the `name` field is omitted?

[2021-03-17 16:40] hrkrshnn commented on #11084
If we are looking for a new name, I suggest  `tuning` or `optimizer-tuning`. The name automatically makes people look for its meaning somewhere in the docs, unlike `runs`.

[2021-03-17 16:48] chriseth commented on #11084
"size-cost-tradeoff"?

[2021-03-17 18:37] frangio commented on #10195
Adding reverts on casting overflow would be a breaking change. I think this is an important safety check, and it should be done in the next breaking release, but I don't believe that should happen any time soon. In the meantime, we could consider adding a warning for downcasts that are outside `unchecked` blocks.

My only concern would be that this would produce warnings for anyone using our [`Saf

[2021-03-17 19:17] axic commented on #11119
It turned out solidity-docgen is not actually using the Natspec JSON, but rather rebuilds everything from the AST. This means it won't help us testing natspec, but would be an additional means testing the AST.

[2021-03-18 09:14] #2243 closed, assigned to nobody

[2021-03-18 10:15] hrkrshnn commented on #11114
To summarize yesterday's lengthy discussion. Feel free to edit this if I missed something:

-   Discussion on a solution about NatSpec when events with same
    signature are defined in different scopes.
    -   Only relevant after the new callgraph for Events that can detect
        events emitted inside libraries and free functions.
-   Some *initial agreement* about changing the 'value' field f

[2021-03-18 10:35] hrkrshnn commented on #11115
For questions like these, a better location would be https://gitter.im/ethereum/solidity or equivalently the matrix channel https://app.element.io/#/room/#ethereum_solidity:gitter.im

Also, the link you mentioned seems to be broken. My guess would be that you are missing the compiled libs. Can you try `sudo apt-get install libboost-all-dev` and repeat?

I'm closing this now. Please follow up on gi

[2021-03-18 10:35] #11115 closed, assigned to nobody

[2021-03-18 13:57] chriseth commented on #11114
It turns out that the situation is not different for errors.

Since nobody is using natspec, I tend to increment the version counter for the next release and collect some of the changes we plan to do.

[2021-03-18 15:59] GaudiestTooth17 commented on #11115
I figured out the problem. I had inadvertently skipped the steps in the Boost installation where the header files would go into `/usr/include` and where the .so files would go into `/usr/lib/x86_64-linux-gnu`.

[2021-03-18 19:56] HelenB13 commented on #1247
Interesting info. I'm sure that the estimator is a useful and helpful tool. Thanks! Gas prices have been increasing. And according to the latest forecasts and the washington gas reviews, the national average could hit at least $2.80 in the coming weeks.

[2021-03-19 07:51] gakonst opened #11125 "Disable safety checks on individual statements for gas efficiency"
## Motivation

When writing Solidity, the developer oftentimes has written code which makes assumptions that the compiler cannot know. An example would be the existence of a contract such as a Uniswap pool or an ERC20 token. If I know that contract exists, I should not need to pay additional gas to check that it exists!

A simple example, is a dev having to write the following (h/t @moodysalem):

[2021-03-19 10:16] franzihei commented on #10119
# Kicking off the new Translation Workflow! 🎉

Hello everybody!

After quite some time I'm happy to be kicking off the new translation workflow for the Solidity documentation with you!

I'm tagging all the people that seem to have been involved in translations in the past here: @kcyang @dongsam @PhyrexTsai @GoodVincentTu @bartkim0426 @fkysly @zhuangjinxin @hongbinzuo @PhyrexTsai @mrblocktw @altunt

[2021-03-19 14:10] bshastry opened #11128 "[Sol->Yul] Invalid code generated while compiling code with circular reference"
## Description

[code]

generates the following invalid Yul code (`solc --ir test.sol`)

[code]

## Environment

- Compiler version: 6e1d61a23

## Steps to Reproduce

[code]

[2021-03-19 14:12] bshastry commented on #11128
I think the superficial reason is that the subobject `D_16_deployed` contains a reference to the parent object `D_16` but only the other way around is permitted.

[2021-03-19 19:19] axic opened #11130 "Explain language inspirations in some depth"
See #11025 for a collection of features and the language it was inspired by.

[2021-03-20 10:26] bshastry opened #11131 "[Optimizer] Legacy optimizer precomputes successive keccak256 from the same location but different size incorrectly"
## Description

The following test does not revert when run on an EVM client after it has been optimised by the legacy optimiser (i.e., `solc --optimize test.sol`).

[code]

The following assembly code is produced (only relevant snippet has been pasted)

[code]

The values of interest are `0x290decd9548b62a8d60345a988386fc84ba6bc95484008f6362f93160ef3e563` (`keccak256(0, 32)`) and `0x290decd9548b6

[2021-03-20 11:22] bshastry commented on #11131
At first glance, it looks like this may be the root cause (HT @hrkrshnn )
 https://github.com/ethereum/solidity/blob/6e1d61a232369e18b5d502f60ebd84ff83973237/libevmasm/KnownState.cpp#L381-L390

It looks like loadFromMemory always works at 32-byte granularity, so the fact that we are actually doing a sub-32-byte-word keccak is not taken into consideration. Anyway, good to get a quick ack, thanks on

[2021-03-20 17:36] agroce opened #11132 "solc mode that runs the Yul optimization checks, other expensive compiler checks"
Proposal:

Context: reading this -- https://blog.soliditylang.org/2021/02/10/an-introduction-to-soliditys-fuzz-testing-approach/

From this and conversation with @bshastry I know there is a Yul optimization mode that, as I understand at, adds extra (possibly expensive?) checks to the validity of optimizations, used in the Yul protobuf fuzzing.  I believe this works for arbitrary Yul, so for anythi

[2021-03-20 18:23] bshastry commented on #11132
Thank you for your proposal @agroce

I suppose the proposal essentially entails providing a command line option to the fuzzers we currently run on oss fuzz.

I'm not sure I understand the benefit. Is it meant to permit external testers to simply focus on input generation and feed such inputs to a mode such as `solc  --fuzz-yul-optimizer input.yul`?

There is already the possibility of building the

[2021-03-20 18:38] agroce commented on #11132
For people fuzzing, that's right, it's a little more work and somebody (me when I get some spare time maybe) should make it a little easier to wire in arbitrary code etc., but for fuzzing teams it's not that big a deal.

I think the real benefit here would be that you can compile real contracts in a mode where the compiler turns on every "debugging/fuzzing" check anyone's ever added to it, to mini

[2021-03-20 18:38] agroce commented on #11132
I don't know if this makes sense

[2021-03-20 19:06] agroce commented on #11132
(Well, it makes sense, I don't know if it's worth doing, or not)

[2021-03-20 20:24] cameel commented on #11128
Looks very similar to #10457, though it breaks in a different way.
By the way, running it without `--ir` on 0.8.2 results in an ICE:
[code]

#10228 should fix it. Pinging @Marenz - I think we should add it as a test case there.

[2021-03-20 20:48] cameel commented on #6751
We can close this now that #9847 has been merged, right?

EDIT: Ah, no. The PR only clarified the docs for high-level external calls, not low-level ones.

[2021-03-20 20:59] cameel commented on #11125
For overflow checks we already have the `unchecked` blocks (with feature requests for various flavors of it: #10698, #10706). There's also a request for unchecked array access (#9117).

We could probably extend the `unchecked` block syntax to cover some or all of them, e.g.
[code]
though I'm not sure if it's a good direction. The sentiment in the team currently is that these superfluous checks sho

[2021-03-20 22:34] gakonst commented on #11125
Thanks for the response!

Agreed, hence my point was that this feature should be developer controlled since it seems impossible to do at the optimizer level in many cases.

[2021-03-21 00:40] axic commented on #11125
@cameel the original idea for extending `unchecked` was `unckecked "something" {}`, similarly to how `assembly "evmasm" {}` works.

[2021-03-21 00:42] axic commented on #11125
For this particular case, I think we could utilise some require statement, which is "understood" by both the optimiser and the smtchecker.

As an example, `require(address(...).isContract())` could work like that, because the generated code could be deduplicated with the one generated by any call.

[2021-03-21 01:28] cameel commented on #11125
Interesting. I didn't know that.

That would still result in an `EXTCODESIZE` check though, right? It would just move it into `require()` so it would still be a runtime check and you would not save any gas.

Here's a different idea. There are two things the check guards against: no contract at the address yet (either because you have wrong address or contract has not been deployed yet) or contract

[2021-03-21 01:49] axic commented on #11125
Yes but you can extend this with the "invariant" idea (~~there must be an issue somewhere for invariant syntax~~ #4991, #8146, #8433), and so would be enforced once at creation time. I think in general going towards constructs like require and invariants gives better overall longterm results compared to adding features for unchecked.

[2021-03-21 10:23] bshastry commented on #11132
Not sure I follow. We are fuzzing the optimiser precisely to minimize chance of wrong code :-)

Should they? Those bugs that are introduced by the compiler because the compiler errs in correctly translating high level smart contract logic into EVM byte code may be caught by unit tests written by smart contract developers. They know the program logic best and therefore are in the best position to w

[2021-03-22 04:56] moodysalem commented on #11125
I think I would prefer something like `IERC20(address).transfer{checkExists: false}(...)`

But also, it is strange to me that this check happens for methods that have return data when you can check that the `returndatasize` is as at least what is expected, which was my expectation because of [this tweet](https://twitter.com/bantg/status/1365755857284325378?s=21)

[2021-03-22 16:44] Marenz commented on #11128
This case is detected and fixed by #10228 as @cameel already said. I will add it as test case

[2021-03-22 20:09] cameel opened #11138 "Restricted import system with named roots (path spec v2)"
Related to #11105 and #9353.

## Abstract / Motivation
This proposal changes the way paths in import statements, on the CLI and in Standard JSON are handled by the compiler and translated into internal source unit IDs.

The goal is to make imports more intuitive by directly exposing user to the way compiler identifies files internally. The current system hides the abstraction that happens between

[2021-03-22 23:03] agroce commented on #11132
I think the probability of a wrong-code bug seriously impacting a serious contract is pretty low, but I think based on our experience with (even very good) unit tests vs. source-level bugs, relying on unit tests to catch anything subtle is... not a great idea (see http://www.ifca.ai/fc20/preproceedings/75.pdf section 4.3).  I may be misunderstanding.  My thought was that the Yul checks can detect

[2021-03-23 11:15] #11131 closed, assigned to nobody

[2021-03-23 15:18] cameel commented on #11132
@bshastry Where are these checks exactly? This is stuff that's not a part of the core compiler/optimizer and sits in fuzzer's code, right?

I think we'd need to discuss what is actually being checked and how strongly it is tied to fuzzer's implementation details to decide whether it makes sense to include that in the compiler's code and expose that through the CLI.

[2021-03-23 15:34] blishko opened #11143 "[SMTChecker] Incorrect analysis of subtract assignment to push"
For the following example:
[code]

SMTChecker incorrectly reports the first assertion as invalid (false positive) and the second assertion as valid (false negative).

[2021-03-23 16:29] bshastry commented on #11132
Right. The checks are here, for example:

https://github.com/ethereum/solidity/blob/8d00100c4e9d211830a5dbf6a1f964d98648480d/test/tools/ossfuzz/strictasm_diff_ossfuzz.cpp#L100-L101

At the very least, exposing this as a frontend command line option would mean adding the Yul interpreter as a dependency to `solc`. Currently, the Yul interpreter is a `tool` and I'm not sure if it is released as such.

[2021-03-23 16:38] cameel commented on #11132
I guess this particular check could be reproduced using `yulrun`? I.e. getting both optimized and unoptimized Yul output from `solc` and then comparing traces from `yulrun`?

[2021-03-23 16:39] bshastry commented on #11132
Yes, `yulrun` would do.

[2021-03-23 16:40] cameel commented on #11132
Are there any other checks?

[2021-03-23 16:43] bshastry commented on #11132
For the Yul optimiser, no. The Keccak bug was found by comparing the "trace" produced by evmone but that fuzzer is not upstream yet. In any case, the core of the check is the same except the trace is obtained via a call to the EVMHostPrinter instead of the Yul interpreter

See https://github.com/ethereum/solidity/blob/8d00100c4e9d211830a5dbf6a1f964d98648480d/test/EVMHost.cpp#L778

[2021-03-23 17:07] cameel commented on #11132
So maybe we could just expose the `EVMHostPrinter` via a dedicated executable, similar to `yulrun`?

@agroce Would a shell script that runs all of these checks on a given Solidity file be enough? They depend on debug tools like evmone which I think do not provide much value to the average user not interested in testing the compiler. I think that a shell script that works when you have a local buil

[2021-03-23 17:18] bshastry commented on #11132
Sounds reasonable to me. Sounds like isoltest++ :-)

Not sure how much effort this would entail since the whole testing framework we use is rather complex to package as a black-box fuzzing binary. I suppose the benefit is that smart contract developer checking optimiser correctness although I'm not too convinced about this. Perhaps the real audience for such a binary are security auditors.

[2021-03-23 17:27] cameel commented on #11132
I was thinking of something very simple, not involving any fuzzing. Basically just a yes/no check for a single file (i.e. are the optimized and unoptimized `yulrun` traces identical?). It would be up to the caller to plug the check into his fuzzing setup and generate interesting input files.

[2021-03-23 17:39] chriseth commented on #11138
Couldn't yet fully digest this. In short, you are taking the remapping concept one level higher and are making the `@` convention explicit, did I understand that correctly? In `https://github.com/OpenZeppelin/openzeppelin-contracts/contracts=@openzeppelin` are you actually saying `@openzeppelin=https://github.com/OpenZeppelin/openzeppelin-contracts/contracts`?

Can you maybe write some pseudo-code

[2021-03-23 17:48] bshastry commented on #11132
Looked up old triage scripts and found something like this. Please don't ask me why :sweat_smile:

[code]

[2021-03-23 17:53] agroce commented on #11132
Aha.  I see, the checks depend on the standalone tool.  Yeah, rolling that into solc is sort of not fun.  For fuzzing purposes or for "final sanity check on contracts" it seems like this script based approach would work, and while not infinitely convenient, could certainly be made pretty trivial for those who want to do it.

[2021-03-23 17:54] agroce commented on #11132
Yes, I think at minimum security auditors would be happy to run it, though if it's made obvious a script will work for that.

For fuzzing,  a script is actually not quite so great because it'd need to be wrapped up in C/C++ for afl to be happy and instrument things properly, but that doesn't sound too awful.

[2021-03-23 17:56] agroce commented on #11132
The other way to use in fuzzing is not to throw this in the inner fuzzing loop, but it looks like @bshastry has a diff that could just run through everything in an AFL corpus and check the corpus for sanity.

[2021-03-23 17:56] agroce commented on #11132
Indeed, I'm going to try that out right now :)

[2021-03-23 17:58] agroce commented on #11132
(I have a few thousand afl-generated Yul inputs, probably most of which don't compile, but I'm about to see)

[2021-03-23 18:01] bshastry commented on #11132
Would be curious to know roughly what percentage of afl-generated input is valid :-)

[2021-03-23 18:06] agroce commented on #11132
pure afl, probably almost none compile (haven't checked lately), but this variant, it's about 8% of the generated corpus.

[2021-03-23 18:07] agroce commented on #11132
(that number is for Yul, just generated as I'm hacking up a Python script to do that diffing with a little more informative output for me, no clue on Solidity without running some experiments)

[2021-03-23 18:21] agroce commented on #11132
hmmm

[code]

[2021-03-23 18:22] agroce commented on #11132
Non-optimized object crashes and the optimized does not, because:

[code]

but

[code]

[2021-03-23 18:23] agroce commented on #11132
So just running on the arbitrary generated Yul might not work.

[2021-03-23 18:28] bshastry commented on #11132
What's happening here is that the built-in `linkersymbol` is not recognised by the yul interpreter but recognised by the Yul parser. The optimised version optimises out `addr` because it is unused.

The main question is if we should support `linkersymbol` as a valid built-in inside the Yul interpreter but that's a separate issue :-)

BTW, the test case is probably from yul syntax test suite: https

[2021-03-23 18:29] bshastry commented on #11132
Interesting. What is the "variant" here?

[2021-03-23 18:30] agroce commented on #11132
Right, I crawl for all the Yul in the test subtree to start AFL running.  The solution of the moment is to toss out anything where the foo.yul has 'linkersymbol' in it, for the moment.  Doing so, then running.

[2021-03-23 18:31] bshastry commented on #11132
Please note that the diff command above is only meant for Yul input. We don't have a standalone tool to interpret EVM byte code yet via Solidity input yet.

[2021-03-23 18:32] agroce commented on #11132
yeah, I just meant what portion of the solidity files I hand solfuzzer are actually compiling.

The variant is:  https://github.com/agroce/afl-compiler-fuzzer

Trail of Bits actually put out my blog post writeup of all this today:  https://blog.trailofbits.com/2021/03/23/a-year-in-the-life-of-a-compiler-fuzzing-campaign/

[2021-03-23 18:39] agroce commented on #11132
Ok, we have a maybe more interesting case.

[code]

t:

[code]

topt:
[code]

[2021-03-23 18:39] agroce commented on #11132
Again, unoptimized crashes:

[code]

[2021-03-23 18:43] bshastry commented on #11132
We are reaching the limits of `diff` here :-)

This is expected because a `switch` case with only a default statement produces a warning. The optimised version does not bump into this problem because the switch is optimised out because the default path is always taken.

Edit: Producing the warning is not the problem but the Yul interpreter asserting on warning free code is

See https://github.com/

[2021-03-23 18:47] agroce commented on #11132
yeah, I had just started to wonder if that's the issue.  trying to think of a clean way to avoid this.  maybe just throw out any diffs with "Parsed successfully but had errors" on the non-optimized side?  is that likely to cause false negatives?

[2021-03-23 18:56] agroce commented on #11132
Hmmm..  How long should `yulrun` take to run:

[code]

[2021-03-23 19:21] cameel commented on #11132
Yeah, we should: https://github.com/ethereum/solidity/pull/10296#issuecomment-728412756
I dropped that PR because I did not have time to do it properly but it is something that we need to handle eventually.

It's an infinite loop so... infinite time? :) I'm not sure if `yulrun` has a timeout.

[2021-03-23 19:22] agroce commented on #11132
Yeah, that was my guess.  Handled in-script.  If both opt and unopt timeout with 10 seconds limit, I call it "equal behavior"

[2021-03-23 19:24] frangio opened #11147 "AST never contains ModifierInvocation.kind = "baseConstructorSpecifier""
In the latest 0.8.3 there is supposed to be a `kind = "baseConstructorSpecifier` property when a modifier invocation corresponds to a constructor call. This is never actually seen in the AST, I think due to the following bug:

https://github.com/ethereum/solidity/blob/e3ea5c631e9c3614ed6b2bff4806a670f769c682/libsolidity/ast/ASTJsonConverter.cpp#L464-L466

The referencedDeclaration of the name of a

[2021-03-23 19:49] agroce commented on #11132
@bshastry oh, that 8% number was wrong; I was running on an early fuzz run where something was configured wrong, running on the actual afl output directory it's closer to 33%

[2021-03-23 20:10] agroce commented on #11132
Ok, with the real data and 10 sec timeout, checking the full afl corpus is going to take a while!  I'll let you know if anything shows up (bug report if obviously bad, here if likely tuning the comparison check)

[2021-03-23 20:26] agroce commented on #11132
First fuzzer instance is done.  3291 generated Yul files.  Of these, 1181 (~36%) compiled.  No yulrun comparison bugs, other than ones with the "Parsed but..." structure, of which there were 11.  But afl isn't too deep into the yul optimizer yet, only 4 days worth of fuzzing, with a few hundred pending inputs in the queue for each of the 3 instances.

[2021-03-23 20:43] agroce opened #11148 "[Yul] ICE when assembling code containing stray `loadimmutable()`"
## Description

This Yul file:

[code]

produces a crash when compiled _without_ optimization (no crash with `--optimize`:

[code]

On master, using AFL fuzzing of yul inputs via '--strict-assembly'.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

From the commit below because latest pull won't compile for me:

[code]

any guess what's going on there?

## Environment

- Co

[2021-03-23 21:39] bshastry commented on #11148
Thank you for reporting the issue!

It looks like `loadimmutable`s need to be consumed. It looks like the reported ICE happens when assembling this syntax test: https://github.com/ethereum/solidity/blob/develop/test/libyul/yulSyntaxTests/loadimmutable.yul

I think it is unlikely that such a stray `loadimmutable` is generated by the Sol->Yul generator but I'm no expert here so CCing @chriseth

[2021-03-23 21:39] bshastry commented on #11148
Thank you, we are aware of this issue and are working on a fix at the moment.

[2021-03-23 21:45] agroce commented on #11148
Oh good, it's not just me (which is always misery :) )

[2021-03-23 22:05] agroce commented on #11132
Didn't look in after I left office, but before I took off for the day this run did produce #11148 -- though a bit of a surprise, in that without optimization is the issue.  Suggests maybe fuzzing some on no-opt (since optimization probably cleans up the Yul a good deal) might be a way to push the assembler through some odd stuff...

[2021-03-24 00:39] wjmelements opened #11150 "Allow to disable warning for shadowed inline assembly, and/or give the warning more discriminately"
## Abstract
Requesting either a way to disable the `shadowed in inline assembly` warning in a function or in the file, and/or for it not to print the warning if no shadowed variables are used.

## Motivation

I see the warning `Variable is shadowed in inline assembly by an instruction of the same name` but I see no way to disable it.
I am not using the shadowed opcodes or the involved variable and

[2021-03-24 02:23] wjmelements commented on #11150
The warning is currently emitted by `warnVariablesNamedLikeInstructions`

[2021-03-24 09:20] Amxx opened #11152 "@custom: documentation tag causes error"
## Description

Changelogs states that, since version 0.8.2, the @custom tag [is documented as being supported](https://docs.soliditylang.org/en/v0.8.2/natspec-format.html). The documentation states that "context: everywhere".

I wanted to see how such documentation entries appear in the AST.

However, trying to use it gives me errors from the DocstringParsingError:

## Environment

- Compiler ver

[2021-03-24 09:25] chriseth commented on #11148
This error happens when you do not set the immutable before you load it. I'm not sure we can easily detect this purely at the yul syntax level.

[2021-03-24 09:32] chriseth commented on #11152
You should not use a space after the `:`. @christianparpart can you please add an example about how to use the custem tag into the contract that is already on that documentation page? Thanks.

[2021-03-24 09:52] chriseth commented on #11150
This is fixed in the latest version of the compiler, the warning does not exist anymore.

[2021-03-24 09:52] #11150 closed, assigned to nobody

[2021-03-24 10:01] Amxx commented on #11152
Thank you for your quick answer. I second that an example in the doc would be great!

[2021-03-24 10:01] #11152 closed, assigned to christianparpart

[2021-03-24 10:17] chriseth commented on #11147
Oh this is embarassing! It worked in the first version of the PR but after the introduction of the `if`, I just auto-updated the expectation without checking again...
Thanks for reporting!

[2021-03-24 10:46] #11147 closed, assigned to nobody

[2021-03-24 10:53] cameel commented on #11138
Yes. There are no real changes in import syntax or Standard JSON content or how you invoke the compiler on the CLI but there are new limitations and some changes in how paths you specify in all these places are interpreted.

Basically, this forces the user to use remappings when the situation gets more complex than a single directory with all files under it. And ensures that all projects will use

[2021-03-24 10:55] bshastry opened #11154 "[Documentation] Document changes between legacy and Yul code generator regarding dirty bits clean-up and order of evaluation"
## Description

The "secret" documentation of breaking Sol->Yul code generation changes does not mention two important semantic differences between legacy and new code gen

#### Dirty bits clean up

Dirty bits are not cleaned up if intermediate "dirty" value is read from within an inline assembly block by the legacy code gen, they are cleaned up even within an inline assembly block by the Sol->Yul

[2021-03-24 10:57] cameel commented on #11138
Also, here's a more concrete version of the pseudocode, using Python syntax). I wrote this one first but then I thought it might a bit too long and detailed and I rewrote it into the simplified one I posted above.

**If the less formal version above is enough and explains everything, you can just skip this one.**

[code]

[2021-03-24 11:13] cameel commented on #11138
A small update: I just realized that context is only useful in remappings of the form `@a=@b`. I have updated the spec and the pseudocode.

[2021-03-24 11:46] axic commented on #11152
Shouldn't we have a proper error message on `@custom:` i.e. the actual tag missing?

[2021-03-24 13:23] chriseth opened #11156 "NatSpec v2"
Natspec JSON changes (non-breaking):
- [ ] #11114 (events and errors as arrays instead of hashmap)
- [ ] #11120 (change params/returns into an array instead of hashmap)
- [x] #11158 (include events/errors in the devdoc)
- [ ] include the `@notice` in the devdoc too

Natspec syntax changes (potentially breaking -- maybe has to wait for 0.9.0):
- [x] #10921 -- [explanation here](https://github.com/e

[2021-03-24 13:31] blishko commented on #11074
I am wondering how to detect, for example, that `msg.data` is not used. It is not enough to check that it is not accessed in the public function being analyzed, but we also need to know that is it not accessed anywhere in the internal functions that could be called from the public function, no?

We could approximate and just check if it is accessed anywhere in the contract (or base contracts) and

[2021-03-24 13:35] leonardoalt commented on #11074
Yes, we'd have to check the internally called functions as well, but that can be done on the syntax level only

[2021-03-24 13:35] rmeissner commented on #9351
Just a follow up question: Is there a way to fix the error above on our side or does this require an update from solidity side? (Note: I get the same behaviour with `0.8.3`).

[2021-03-24 13:39] #10985 closed, assigned to nobody

[2021-03-24 14:38] cameel commented on #11138
We discussed the spec today on the channel and later on the call. Some changes were proposed. Here's what will change:

From the channel:
- Allow relative imports starting with `../` (but disallow going above the root)
- Make `import "/project/contract.sol"` and `import "project/contract.sol"` translate to `import "@/project/contract.sol"`.
    - `@/` can be further translated to a named root if t

[2021-03-24 15:02] axic commented on #11156
We may want to consider the following too:
- #3097 to also output internal functions in the devdocs, given that could change the format as well.
- #9553 and #10281 to clear up the behaviour of the notice and dev tags
- #11158 to include events/errors in the devdoc
- anything I missed from #1141

Lastly we may want to consider merging devdoc/userdoc into a single output.

[2021-03-24 15:04] axic commented on #8430
I'm not sure we have progressed in any way, but at least tools like slither could use `@custom:delegatecall_target` as a tag.

[2021-03-24 15:12] #11143 closed, assigned to nobody

[2021-03-24 15:30] axic commented on #7190
Closing this in favour of #8247 then.

[2021-03-24 15:30] #7190 closed, assigned to nobody

[2021-03-24 15:33] axic commented on #9351
It can be fixed by #10015 (with some changes), as seen in https://github.com/ethereum/solidity/issues/9351#issuecomment-718288343. The PR is not merged yet, ant perhaps it won't be as-is but others providing similar functionality. Optimising the stack layout and stack-to-memory evasion is a big task we are tackling, but unfortunately it may take a bit longer.

[2021-03-24 15:47] axic commented on #9553
Related: https://github.com/ethereum/solidity/issues/10281#issuecomment-801193137

[2021-03-24 15:51] axic commented on #10825
As a heads up, in 0.8.2 we introduced the `@custom:<name>` tag and the AST output contains the natspec tags in the `documentation` field. It can be used to experiment with the dialect proposed in this issue. Please let us know how you get along using this feature, so we can come up with a spec language and perhaps introduce a specific tag for it later.

[2021-03-24 15:56] axic opened #11158 "Natspec: include events/errors in devdoc too"
This was asked in an old issue https://github.com/ethereum/solidity/issues/1141#issuecomment-801219827. Apparently we only include events in the userdoc, but not the devdoc.

[2021-03-24 15:57] axic commented on #1141
As an update, I think this issue can now be closed as parts are tracked elsewhere.

- @feuGeneA the `@dev` tag seems to be working on both contracts and interfaces currently
- Events are listed in the userdoc, but not the devdoc. Are you asking for including them in the devdoc too? Created issue #11158 for this.
- "internal library functions" are tracked under #3097
- "parameter names" are tracked

[2021-03-24 15:57] #1141 closed, assigned to nobody

[2021-03-24 16:02] chriseth commented on #11156
Do we also want to output free functions?

[2021-03-24 16:04] axic commented on #11156
I think so, under the "internal functions" umbrella.

[2021-03-24 16:09] agroce commented on #11132
Should I remove `memoryguard` from consideration as I did with `linkersymbol`?

[2021-03-24 16:26] Marenz commented on #11156
Should we maybe have an extra issue for turning `returns` into an array? Or do you expect it to be part of #10921?

[2021-03-24 16:28] axic commented on #11156
@Marenz #11120 should cover both.

[2021-03-24 16:56] bshastry opened #11161 "[Z3] Failed assertion for test with abi.encode()"
## Description

[code]

throws

[code]

during compilation `solc test.sol`

Not sure if we should report this upstream instead.

[2021-03-24 16:59] bshastry commented on #11161
Perhaps this has to do with the Z3 installed on my laptop (`4.4.0`)

[2021-03-24 17:00] axic commented on #11161
Happens for me on 4.8.9 too.

[2021-03-24 17:00] leonardoalt commented on #11161
That shouldn't even compile though

[2021-03-24 17:05] axic commented on #11161
Why not?

[code]

I guess one could argue we should restrict this at some point?

[2021-03-24 17:24] leonardoalt commented on #11161
I mean the compiler won't compile with z3 4.4.0.
And the dynamic linking should fail if it's not 4.8.X

[2021-03-24 17:26] axic commented on #11161
I do get the same crash with 4.8.9, so whether 4.4.0 should work or not, this problem still exists.

[2021-03-24 17:28] leonardoalt commented on #11161
Sure, I'm just still wondering how it also happened with 4.4.0.

[2021-03-24 17:30] rmeissner commented on #9351
Ohhh I missed the comment 🤦 sorry. Thanks for the update I will keep an eye open for this :)

[2021-03-24 18:36] agroce opened #11163 "[Yul] ICE while assembling: `Variable a1 is 1 slot(s) too deep inside the stack`"
## Description

This Yul file:

[code]

produces a crash when compiled _without_ optimization (no crash with `--optimize`):

[code]

Not sure really relevant, since it's a stack overflow, and maybe the internals guard against this structure, but not sure it isn't.

On master, using AFL fuzzing of yul inputs via '--strict-assembly'.  Another discovery using https://github.com/agroce/afl-compiler-fu

[2021-03-24 18:39] agroce commented on #11163
[code]

is another structure that fails assembly the same way

[2021-03-24 18:41] axic commented on #11163
It is not a bug per se, but a limitation. We have some pending changes to improve both the codegen and the optimiser to do better stack allocation/management, but it is still outstanding.

For most cases `solidity::yul::StackTooDeepError` would mean just a need for those improvements, however it can not be ruled out that in some rare cases it happens for a compiler bug.

[2021-03-24 18:41] agroce commented on #11163
Similarly:

[code]

yields:

[code]

I'm assuming these should all be ignored, but wanted to confirm before adding a triage check that just throws stack problems in assembly away.

[2021-03-24 18:42] agroce commented on #11163
@axic do you think I should prune them for now?  A lot of these show up, all found via some yul compiling with --optimize and failing without --optimize, because optimization throws away the stack-breaking part.

[2021-03-24 18:43] axic commented on #11163
Perhaps it is better to do some runs now with pruning these. If nothing shows up after a few days, perhaps better to go back to see if it catches some unexpected bug?

[2021-03-24 18:48] agroce commented on #11163
yeah, there are in practice right now too many to probably be fun to prune on your end or mine.  maybe once some limits are relaxed, and they become less common, turn off?  I'm re-running the check with a prune on this to see if anything else pops out.

[2021-03-24 19:00] axic commented on #11163
For more complex cases you could try the [Yul object format](https://docs.soliditylang.org/en/v0.8.3/yul.html#specification-of-yul-object):
[code]

The IR outputs code in this format, so it would be interesting to catch any issues. A basic set of training input can be found at https://github.com/ethereum/solidity/tree/develop/test/libyul/objectCompiler

[2021-03-24 20:06] bshastry commented on #11161
I think I'm wrong. Let me check again. What is the preferred way of checking which z3 library, the solc binary links against? `ldd solc`?

[2021-03-24 20:07] agroce commented on #11163
I'm using exactly those as my initial corpus.  I think `--strict-assembly` is the way to go, no `--yul`, right?  --yul seems to fail on object format files --strict-assembly works for, such as the example you pointed to: https://docs.soliditylang.org/en/v0.8.3/yul.html#specification-of-yul-object

[2021-03-25 08:41] blishko commented on #11161
I got a crash on this example also with Z3 4.8.10.

[2021-03-25 09:57] #4314 closed, assigned to nobody

[2021-03-25 10:10] leonardoalt commented on #11161
@bshastry yep `ldd` should work

[2021-03-25 10:23] axic commented on #11161
`abi.encodePacked()` crashes too. `abi.encodeWithSelector(0)`/`abi.encodeWithSignature("")` does not.

[2021-03-25 12:32] axic commented on #10931
@fxfactorial can you share the offending source code? It is hard to figure out what is going on without it.

[2021-03-25 12:41] axic commented on #8499
Btw @Amxx, it occurred to me that you can (almost) already do this albeit at a memory cost: can use a single `bytes32` key and hash your keys (`keccak256(abi.encode(a, b, c,...))`). With `bytes.concat` (#10903) this should be clarified to `keccak256(bytes.concat(a, b, c, ...)`.

So basically the tuple syntax is a memory-efficient and more easy to ready alternative to the above.

We should keep in

[2021-03-25 12:59] axic commented on #8802
One question we did not clarify, whether this tag should be emitted in the user documentation or only in the dev documentation.

Currently it is only part of the dev documentation, and thus allows for use cases considering developers only.

[2021-03-25 13:05] axic commented on #8802
Also for anyone reading this and not the documentation, the pattern mentioned in https://github.com/ethereum/solidity/issues/8802#issuecomment-788062522 is not valid. The final implemented pattern is `[a-z][a-z-]*`.

[2021-03-25 13:29] leonardoalt opened #11168 "[SMTChecker] Add option to choose contracts to be analyzed"
Currently all non abstract contracts are analyzed, but most of the time most contracts are used rather as parents of the "most derived contract" which is what the developer actually cares about.
This would be similar to the `outputSelection` JSON option.
CLI: `solc --model-checker-contracts FileA:ContractA,FileA:LibraryL`
JSON: `modelChecker.contracts="FileA:ContractA,FileA:LibraryL"`
Keep it as a

[2021-03-25 14:13] axic opened #11171 "Add new natspec tags to pygments-lexer-solidity"
https://github.com/veox/pygments-lexer-solidity is used by our documentation for syntax highlighting. @veox the repository does not have issues enabled, so opening this here.

![Screenshot](https://user-images.githubusercontent.com/20340/112486848-2ae05600-8d74-11eb-856b-75f4a7de1cce.png)

`@inheritdoc` and `@custom:..` is not highlighted.

[2021-03-25 14:21] #11161 closed, assigned to nobody

[2021-03-25 14:36] eternauta1337 commented on #11102
@chriseth @maxsam4 I think upgradeability should not be considered in this proposal.

Users should implement it at a higher level, for example, by using a universal proxy whose implementation is a router/hub. When one or more of its modules needs to be updated, these are deployed, a new router is constructed and deployed, and the proxy implementation is updated.

At least this is how I see upgrade

[2021-03-25 14:54] veox commented on #11171
That's because the repo is actually on gitlab:

https://gitlab.com/veox/pygments-lexer-solidity

[2021-03-25 15:56] veox commented on #11171
Regex `custom:[a-zA-Z_]\w*` should be fine for the `@custom:..`, right?..

-----

Ah, from https://github.com/ethereum/solidity/blob/ecf7f21d55f72a567e5a3f9cd89610f5ea67f564/docs/natspec-format.rst:

[2021-03-25 15:58] axic commented on #11171
It is actually `@custom:[a-z][a-z-]*`. The documentation is being updated in #11170.

[2021-03-25 16:05] axic commented on #11171
We may want to update keywords too. Should I submit a PR?

It seems at least the following could be added:
- `bytes.concat`
- `pragma abicoder`
- `catch Panic([^)])`
- `unchecked`

[2021-03-25 16:09] veox commented on #11171
I've not gone through the release notes since Solidity v0.6, says the README file.

A PR (MR on gitlab) is great, sure.

-----

The NatSpec I've just done, BTW.

[2021-03-25 16:59] veox commented on #11171
https://pypi.org/project/pygments-lexer-solidity/0.6/

v0.6 has been pushed to PyPI with the two new NatSpec keywords.

[2021-03-25 17:04] #10865 closed, assigned to nobody

[2021-03-25 17:13] axic commented on #11171
@veox thanks! Just pushed the keyword changes: https://gitlab.com/veox/pygments-lexer-solidity/-/merge_requests/5

[2021-03-25 17:21] axic commented on #11171
And also the SPDX identifier, I'm not sure this should be merged or not: https://gitlab.com/veox/pygments-lexer-solidity/-/merge_requests/6

The compiler uses it in a special way, hence highlighting it may be useful.

[2021-03-25 18:51] agroce opened #11174 "[Yul] ICE when assembling: `Cannot push and assign immutables in the same assembly subroutine`"
## Description

This Yul file:

[code]

[code]

Not sure really relevant, again, since it's an assembly failure, but I'll report all these for triaging.  Doesn't matter if there's an --optimize or not, since this one doesn't optimize away.

On master, using AFL fuzzing of yul inputs via '--strict-assembly'.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

-

[2021-03-25 18:58] agroce opened #11175 "[yul] ICE in `Object::pathToSubObject()` when accessing data of a subobject"
## Description

This Yul file:

[code]

[code]

Not sure really relevant, again, since it's an assembly failure, but I'll report all these for triaging.  Doesn't matter if there's an --optimize or not, since this one doesn't optimize away.

On master, using AFL fuzzing of yul inputs via '--strict-assembly'.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

-

[2021-03-25 20:02] veox commented on #11171
Then definitely worth inclusion.

Merged both, released as v0.7:

https://pypi.org/project/pygments-lexer-solidity/0.7.0/

[2021-03-25 20:21] wjmelements commented on #11150
Sorry, I had pulled the wrong remote when checking this.

[2021-03-25 20:26] axic commented on #11171
Thanks! I'll create a PR updating our docs now.

[2021-03-25 22:38] axic commented on #11175
I think `object4.datablock` should be reachable, so the issue must be that it is empty.

[2021-03-25 22:59] bshastry commented on #11175
May be a duplicate https://github.com/ethereum/solidity/issues/9470

[2021-03-25 23:29] agroce commented on #11175
Yeah, I bet this is the fuzzer pruning out parts of #9470, if it made it into the libyul tests?  Though sort of weird if it made it into corpus without being caught, since AFL will yell if a corpus input fails.  But the code looks like a direct slice of that code.

[2021-03-25 23:36] agroce commented on #11175
While not a fuzz-blocker per se, if it's possible to get reasons for --strict-assembly to bomb out during assembly down to ones that are Actual Serious Bad Things, and die more gracefully otherwise, it would definitely ease fuzzer triage on Yul.  It piles up a lot of these assembly failures.  Or, alternatively, if we think assembly failures are almost always "the front end never does this anyway"

[2021-03-25 23:58] axic commented on #11175
I think this particular issue is a bug, or at least I am unclear why we consider empty objects an issue.

[2021-03-26 00:47] axic commented on #7787
Isn't `--error-recovery` very useful for the LSP, @chriseth @christianparpart ?

[2021-03-26 11:05] chriseth commented on #7787
It is useful, but I very much doubt that we can get it to work even remotely reliable.

[2021-03-26 15:34] #11171 closed, assigned to nobody

[2021-03-26 16:17] agroce opened #11181 "[SMTChecker] ICE in void solidity::frontend::SMTEncoder::mergeVariables(const set<const solidity::frontend::VariableDeclaration *> &, const smtutil::Expression &, const solidity::frontend::SMTEncoder::VariableIndices &, const solidity::frontend::SMTEncoder::VariableIndices &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

Looks like the fix for #10600 didn't handle all try/catch issues.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.8.4-develop.2021.3.26+commit.f24b2254.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Fr

[2021-03-26 22:18] hoytech opened #11183 "Extend ConstantEvaluator to interpret type(XXX).max"
Tried with solc 0.8.3:

[code]

And got this:

[code]

[2021-03-27 23:34] alcuadrado opened #11184 "[Docs] The ABI spec doesn't mention how tuples are encoded when computing a function's selector"
Hi,

Just some quick feedback. I'm implementing an ABI encoder/decoder and I'm having a bit of trouble.

The canonical name is in general not very well defined. I'd expect a section explaining precisely what it is and how it is computed for each type. I guess you can grasp it from examples for anything except for tuples. I had to read an ABI encoder to understand what to do.

[2021-03-29 10:26] KishkinJ10 commented on #10260
i am a beginner can i work on this please?

[2021-03-29 10:28] KishkinJ10 commented on #8876
i am a beginner can i work on this?

[2021-03-29 10:39] KishkinJ10 commented on #10260
can you tell me where this file is located , is it in the docs folder in grammar section??

[2021-03-29 10:47] franzihei commented on #10260
Hi @KishkinJ10, Thank you for offering your help! Please note that in order to write this section you would have to be familiar with Solidity and be able to crisply and precisely define what Solidity is about (the high level design rationale and goals of the language). If you feel like to have enough knowledge to do that, feel free to give it a shot. My assumption is that this issue would be easie

[2021-03-29 10:49] KishkinJ10 commented on #10260
Thank You sir :)

[2021-03-29 12:23] KishkinJ10 commented on #10269
i am a beginner how can i contribute on this??

[2021-03-29 12:34] KishkinJ10 commented on #11130
i am a beginner can i contribute to this ?

[2021-03-29 13:20] franzihei commented on #11130
This issue has already been assigned is being worked on, so no, but thank you!

[2021-03-29 13:21] hrkrshnn commented on #10269
@KishkinJ10

Probably the easiest way to proceed is to find a tool that would automatically do this. Googling lead me to https://stackoverflow.com/questions/1301850/tools-to-find-included-headers-which-are-unused. You could also do some research into it, since the stack overflow answer might be outdated.

So try to pick one such tool and then run it on the repo, then try compiling to see if it wor

[2021-03-29 13:21] axic commented on #11030
Could use `@custom:smtchecker abstract-function` for the time being. @leonardoalt @blishko what do you think? This could be a very useful feature.

[2021-03-29 13:49] chriseth commented on #11183
I actually find it quite intuitive that `type(X).max` is of type `X`, so I don't think we should change that. What we could change, though, is adding this as a feature to the constant evaluator used for these purposes.

[2021-03-29 14:57] hrkrshnn commented on #11184
@cameel mentioned adding more documentation to ABI encoding sometime back. Perhaps there is another issue about it.

[2021-03-29 16:02] axic commented on #11168
#11030 proposes a natspec annotation for excluding certain unsolveable functions. Would it make sense considering it here under an "exclude list" option instead?

[2021-03-29 16:26] leonardoalt commented on #11168
I think those are different things. One is not really removing some functions, but rather abstracting them. The other is not considering contracts as the most derived at all.

From a usability point a view, when analyzing a contract, I think most other contracts present (in the same SourceUnit or imported) would not be analyzed as "the most derived", similar to how bytecode is not generated for mo

[2021-03-29 16:38] cameel commented on #11184
Thanks for the reminder, I should finally create one :) But I think this one is a separate thing.

This issue is about a different part of the ABI spec - the one that describes how to compute the selector, not how to encode the parameters.

The part I thought needed rewriting was the dense [Formal Specification of the Encoding](https://docs.soliditylang.org/en/latest/abi-spec.html#formal-specifica

[2021-03-29 16:50] hrkrshnn commented on #8920
Is this only about the command line option `--gas`? If yes, should this really be in 'implementation backlog important', since this feature is barely used?

[2021-03-29 17:13] cameel opened #11191 "Make the formal specification of the ABI encoding easier to understand"
[Formal Specification of the Encoding](https://docs.soliditylang.org/en/v0.8.3/abi-spec.html#formal-specification-of-the-encoding) is precise but pretty dense which makes understanding it hard for people who are not already intimately familiar with the ABI. Even explaining it can sometimes be hard without tediously going through concrete examples, see for example [this discussion on gitter](https:

[2021-03-29 17:14] cameel commented on #11184
Here's the issue for simplifying the encoding spec #11191.

[2021-03-30 13:06] anurag-git commented on #10738
Fixed following issues in #11193
Replaced boost::adaptors::map_keys with ranges::views::keys and boost::adaptors::map_values with ranges::views::values.
Replaced boost::adaptors::reverse with ranges::views::reverse.

[2021-03-30 13:10] hoytech commented on #11183
Thank you for your reply!

I have no issue with the type of `type().max`. It's just like the template in C++ `std::numeric_limits`.

Actually my ideal use case would be like this, which I left out to simplify the description:

    uint private constant MAX_VAL = uint(type(uint16_t).max);
    uint[MAX_VAL + 1] test;

[2021-03-30 14:20] axic commented on #11120
Potential output:
[code]

[code]

[2021-03-30 14:55] axic commented on #11158
[code]

[code]

This already works, but the `@notice` tag is not included. That is tracked in #11156.

[2021-03-30 14:55] #11158 closed, assigned to nobody

[2021-03-30 15:05] axic commented on #11156
For #10921 we discussed to change how public struct state variables work:
- In the syntax for `@return` each of the member variables should be described.
- In the JSON the `returns` field should contain an array (the same structure as #11120).

[2021-03-30 15:09] axic commented on #11156
We also discussed:
- #3097 -- we definitely want to include non-public functions, but it seems to be quite a bit of design work left to be done
- #10281 -- we may want this, but need to agree on rules

[2021-03-30 15:10] hrkrshnn commented on #10281
I think the current behaviour is fine. Disallowing multiple `notice`, I think is not nice, in situations like these:

[code]

However, currently this gets parsed as `  "notice": "long paragraph on contractanother long paragraph",`. Probably missing a space.

[2021-03-30 17:14] corydickson commented on #11120
not to be pedantic, but could the "param" be changed to "name" so that code that consumes both arrays be reused more easily?

[2021-03-30 17:14] #10786 closed, assigned to nobody

[2021-03-30 17:18] axic commented on #11120
Sorry that was a typo, it supposed to be `name`.

[2021-03-30 19:06] chriseth commented on #11191
I think it is important to keep the specification itself concise, but we should add more examples and explain it a bit better either before or afterwards.

[2021-03-30 20:03] fxfactorial commented on #10931
Sorry friends, I since lost this code and fixed it in another way, now don't have it.

sorry for the noise/distraction

[2021-03-30 20:03] #10931 closed, assigned to nobody

[2021-03-30 21:37] #8080 closed, assigned to nobody

[2021-03-30 21:49] #9565 closed, assigned to Marenz

[2021-03-30 21:49] #10457 closed, assigned to Marenz

[2021-03-30 21:49] #11128 closed, assigned to Marenz

[2021-03-31 00:41] droconnel22 commented on #11002
I am running into this very compiler error* for upgrading a legacy contract from 0.5.14. to 0.8.2. Is it best practice to remove/refactor the usage of `msg.data` or to even refactor from `receive` to `fallback`? I am not comfortable with just changing the solhint error to a warning.

[2021-03-31 00:47] droconnel22 commented on #11002
Update: I was able to change the lines:

     receive () payable external {

       // throws solhint error

       (bool success, ) = myImplContract.delegatecall(msg.data);

       ...

to

    receive () payable external {
        bool success = _mySubfuc();
        ....
    }

     function _mySubfuc() private returns(bool) {
          (bool success, ) = myImplContract.delegatecall(msg.data);

[2021-03-31 04:44] blitz-1306 opened #11194 "Natspec does not allow tags on non-public state variables"
## Description

[Release notes of Solidity 0.8.2](https://github.com/ethereum/solidity/releases/tag/v0.8.2) announces following:

While this is working for most of the statements, the following sample is not able to be compiled:

[code]

The related error:
[code]

However there is a workaround to use single-tuple syntax, that is producing valid output:

[code]

## Environment

- [SolcJS package v0

[2021-03-31 04:48] nassredean commented on #7763
hey I was just curious if there are any updates on this or if this is an area that would be a good candidate for contribution?

[2021-03-31 05:16] blitz-1306 opened #11195 "The enum members are missing announced referencedDeclaration property in AST"
## Description

[Release notes of Solidity 0.8.2](https://github.com/ethereum/solidity/releases/tag/v0.8.2) announces following:

However there is no `referencedDeclaration` field for `EnumDefinition` or `EnumValue` AST nodes:

[code]

The AST tree:
[code]

## Environment

- [SolcJS package v0.8.3 at NPM](https://www.npmjs.com/package/solc/v/0.8.3) (current latest)

[code]

## Steps to Reproduce

[2021-03-31 05:28] blitz-1306 opened #11196 "The "kind" property of ModifierInvocation AST node is not indicating baseConstructorSpecifier"
## Description

[Release notes of Solidity 0.8.3](https://github.com/ethereum/solidity/releases/tag/v0.8.3) announces following:

The `modifierInvocation` value for the `kind` field appears correctly. However the `baseConstructorSpecifier` not appearing in AST, the `kind` field is missing when parent constructor is invoked via modifier syntax.

[code]

The related fragments of AST tree:
- Modifier

[2021-03-31 09:24] #11181 closed, assigned to nobody

[2021-03-31 12:54] cameel opened #11199 "Automate updates of robots.txt"
From https://github.com/ethereum/solidity/pull/10972#issuecomment-782226746

After merging #10972 we will need to manually update `robots.txt` on every release to disable indexing of the previous version. It would be more convenient to have a simple script that regenerates it automatically.

We could have a small Python script that reads versions from the existing `robots.txt` (or, alternatively,

[2021-03-31 13:40] leonardoalt commented on #11030
Decision on call:
Keep this option in the source, since there might be other ones such as pre/post conditions.

[2021-03-31 13:45] leonardoalt commented on #11168
Decision from call:
Keep this as a cli/json option.

[2021-03-31 15:07] Amxx opened #11201 "Consider not computing the revert message if revert condition is not met"
## Abstract

I noticed that when adding a `require` statement with a complex revert reason (computed by an internal function), I have to pay the cost of computing this revert string regardless of the value of the precondition. Also, if that internal function is not view, and include some state changes, these changes are enacted event when the condition does require a revert.

Here is an example of

[2021-03-31 16:36] axic commented on #11168
We still need to define the format for the standard JSON.

An idea:
[code]

or following the syntax of the `libraries` setting:
[code]

[2021-03-31 16:37] leonardoalt commented on #11168
Why not keep the targets outside?

[2021-03-31 16:37] axic commented on #11168
Is there a use case one wants to check different properties for different contracts?

[2021-03-31 16:51] leonardoalt commented on #11168
Not necessarily. But I feel like that's a setting that's independent from which contract you're verifying

[2021-03-31 19:04] axic opened #11204 "Behaviour with multiple different SPDX licenses"
`I.sol`:
[code]

`C.sol`:
[code]

The above seems to result in the following metadata:
[code]

Notice that it decided to use the value of the first encountered SPDX license tag.

Some potential options we could do:
a) Omit the license field if there are multiple different licenses
b) Change the `license` field to be an array, and list all
c) Issue an error(warning) if this happens

Probably c) is

[2021-03-31 19:08] cameel commented on #11002
@droconnel22 `msg.data` is empty in `receive`. Why do you want to pass it to the `delegatecall()`?

If you meant to use a payable `fallback` rather than receive then this is exactly the situation this warning is about. You do not get it when use `msg.data` in a function you call because that function might be called also from places other than `receive` that do have non-empty `msg.data`.

[2021-03-31 19:11] axic commented on #11204
Sorry, looked at the wrong generated output. The compiler properly generates the `GPL-2.0-or-later` metadata for the interface and `GPL-3.0` metadata for the contract.

However, I think this behaviour is wrong, because it only outputs the license of the top level file used for compilation, but it should really list all the licenses present in every imported file. (Checking whether anything from th

[2021-03-31 19:14] axic commented on #11201
This is a known "issue". The `revert` function is treated as a regular function and as such its arguments are evaluated prior to invoking it.

In #7877 we are discussing potential future improvements to this. The consensus so far was that changing the behaviour of `revert` alone would be weird, but we plan to introduce new functionality which makes this more clear and obsoletes the old one.

[2021-03-31 19:41] axic commented on #1289
Since we have the binary search option, this question comes up ever so often, and we may change the dispatcher with new functionality (#11102), I think it makes sense to really document this.

[This is the codegen function generating the dispatcher.](https://github.com/ethereum/solidity/blob/v0.8.3/libsolidity/codegen/ContractCompiler.cpp#L318)

[2021-03-31 19:44] cameel commented on #11201
I think that the expectation comes from the fact that until very recently (#10089) our docs stated that they are equivalent. Now we have a caveat about this in [the docs for `revert()`](https://docs.soliditylang.org/en/latest/control-structures.html#revert):

I don't think that just changing the semantics of `require()` without changing the syntax is a good idea. It looks like a function call and

[2021-03-31 19:46] axic commented on #11201
Or `unless (c) revert Error();` :wink:

But I think it would be early to make such statements. `require` is also useful for other subsystems, like the SMTChecker, that does not mean it won't be able to understand a if/revert unless/revert statement, but it is something we need to take into consideration.

[2021-03-31 19:49] cameel commented on #11201
I'd count that as new syntax :)

Just to be clear, I'm not saying we will definitely deprecate it. Just that we could not agree on a replacement yet and even the new docs use the `if (!c) revert Error();` pattern for it so it's a possibility. Sorry if I worded it in a way that implies that it's more likely than it actually is.

[2021-04-01 10:21] chriseth commented on #11204
The metadata includes all sources required to compile the contract and for each source it includes the license. There is no "top level file".

[2021-04-01 10:25] chriseth commented on #11196
This has already been fixed in develop and will be released with 0.8.4. Sorry for the inconvenience!

[2021-04-01 10:25] #11196 closed, assigned to nobody

[2021-04-01 10:28] chriseth commented on #7763
We have a prototype and it would be great if you could test it out! @christianparpart can you write a small text about how to use the LSP?

[2021-04-01 12:47] #6751 closed, assigned to nobody

[2021-04-01 12:47] #10757 closed, assigned to nobody

[2021-04-01 14:19] axic commented on #11204
The "top level file" is the sourceunit in which the currently compiled contract is defined. I think it is misleading (and not very useful) we only include the license of that, and not a list of every single one included in the import chain.

[2021-04-01 20:51] mudgen commented on #11102
It would be great if this implemented EIP-2535 Diamonds: https://eips.ethereum.org/EIPS/eip-2535

[2021-04-01 21:50] mudgen commented on #11102
People are already building on [EIP-2535 Diamonds](https://eips.ethereum.org/EIPS/eip-2535). I think EIP-2535 already solves the problems that this proposal aims to solve.  I think it would be great it Solidity could automate the creation of diamonds. It is possible for EIP-2535 to be modified to better fit or include an automated Solidity solution.

One thing this proposal doesn't seem to support

[2021-04-01 22:42] mudgen commented on #11102
I wrote a blog post about some of the reasons for the Loupe functions which provide introspection into a diamond: https://dev.to/mudgen/why-loupe-functions-for-diamonds-1kc3

Loupe functions (introspection) on diamonds is important for upgrades:  Loupe functions enable software to discover/verify/validate/test/audit upgrades on diamonds, and retrieve external information about upgrades like new ve

[2021-04-02 04:22] elee1766 commented on #7763
i'd also be happy to test this out, let me know if that's possible

[2021-04-02 04:38] cxxboy commented on #11199
@cameel I can work on this, Does the updated version gets prefixed by `#Disallow` and the deprecated ones gets prefixed by `Disallow`?
In other words, If we need to allow a certain version, let's call it `v0.8.5` for example and deprecate `v0.8.4`, Do we need to change the `robots.txt` from
[code]
to
[code]
Is this what supposed to happen(by comparing the outputs of `get_version.sh`)? Or I'm missi

[2021-04-02 13:17] andy-uphold commented on #10354
Same here. Trying to mock the LendingPool but can't compile it.

[2021-04-02 14:03] nassredean commented on #7763
Yea please do let me know I would love to test it!

[2021-04-03 00:19] cameel commented on #11199
@cxxboy Yeah, that's basically it. In #10972 there's still some discussion about which version to allow and which to block, but if you're just updating the existing file rather than regenerating it from scratch, it should not matter.

[2021-04-03 12:41] christianparpart commented on #7763
Hey guys. Many thanks for your interest in this. I will be writing a guide on how to test and future work next Tuesday and share the link in here.

@nassredean, @elee1766
Please tell me what editors/IDEs you would like to use this with, so i can refer to them (I tested with VIM/NeoVim+coc.nvim, QtCreator, VScode).

[2021-04-03 15:03] nassredean commented on #7763
Amazing! Thank you for doing this!

I am using NVIM v0.5.0-dev+1191-gf89bfa686. nvim v0.5 supports lsp using https://github.com/neovim/nvim-lspconfig and then I use deoplete for completion.

Running on ubuntu 20.04.1 LTS

[2021-04-06 11:23] chriseth commented on #11204
In your example, I see one license tag per file and all files that are needed are included. Can you please explain what you are seeing?

[2021-04-06 11:28] christianparpart commented on #7763
the feature set is still minimal, but surely I want to improve on that. Code completion will however have a lower priority as I first want to finish the lower hanging fruits (code completion actually means to properly deal with compilation errors and our the code base wasn't designed for that, but I am still confident that we can do that :) )

[2021-04-06 12:26] christianparpart commented on #7763
@nassredean @elee1766 @chriseth bare with me, it's a very long time ago I was writing textual stuff like that. I have put it into my own blog site for now to get it up ASAP, but i can move that over to our own solidity blog site at any time.

https://dev.to/christianparpart/builtin-solidity-language-server-267n

[2021-04-06 14:29] Marenz commented on #10084
@gitpusha your example seems to be a valid example of that warning. Your second return variable is unnamed and remains unassigned, too.

[2021-04-06 14:37] nassredean commented on #7763
amazing! I will try sometime this week as soon as I have a little more time. Thanks again!

[2021-04-07 08:15] leonardoalt opened #11213 "[SMTChecker] False negative in internal library functions"
If an internal library function makes an external call, the nondeterministic reentrant interface of the context contract should be used as a constraint, whereas currently the library one is used.

[code]
This assertion is false but SMTChecker reports safe.

[2021-04-07 09:30] chriseth commented on #11102
Since this proposal uses `delegatecall` for regular contracts, I was thinking about looking at this from another direction and introducing a concept of "stateful libraries" - libraries that can contain state variables and where each function receives an implicit parameter that is the storage slot of the first variable.

The main problem is that all these solutions are rather complex and try to sol

[2021-04-07 09:43] chriseth commented on #11102
`relocatable contract C { ... }`
 - cannot be inherited from
 - constructor cannot write to storage (but it can use "immutable")
 - all external calls to such a contract have to be done using `delegatecall`
 - all such calls receive an implicit storage offset as first parameter (i.e. sstore(x, y) is turned into sstore(add(x, calldataload(4)), y))`
 - instances of such a contract need to be stored

[2021-04-07 10:00] hrkrshnn opened #11214 "Make `error` as a keyword in 0.9.0"
The following test case shouldn't parse / compile.

[code]

[2021-04-07 12:44] Daniel-K-Ivanov opened #11219 "Transaction reverts if tx.gasprice is used IN ANY WAY in transfer/send/call's value"
## Description
Solidity contract compiled in 0.6.2, 0.7.0, 0.7.4 and even 0.8.0 reverts with `OUT_OF_GAS` if `tx.gasprice` is used in any way for transferring `ETH` on `Ropsten` and `Goerli` networks!

The issue is reproduced when using `send` or `call` as-well

The same contract call is working fine on the local ganache or hardhat node.

Example:
[code]
Expectation:
The transaction call not to re

[2021-04-07 13:06] Daniel-K-Ivanov commented on #11219
Closing this issue, since it turns out that the automated `estimateGas` functionality is providing invalid number. I hardcoded a big `gasLimit` and the same transaction went through:
https://ropsten.etherscan.io/tx/0x813b34273ac699ed0294f32c1a86a4172eb808577ceff893ef04d1482beb8bf5

[2021-04-07 13:06] #11219 closed, assigned to nobody

[2021-04-07 17:02] gitpusha commented on #10084
@Marenz yeah seems like my second example is invalidated - but my first comment not.

[2021-04-07 17:03] Marenz commented on #10084
Indeed, for the first comment we already have a PR that will fix it. just needs a bit more work

[2021-04-08 02:15] rellfy commented on #10
Look at the blockchain directly then, not the contract source. Code is high level.

[2021-04-08 03:09] huahuayu opened #11223 "how can I solve ax^2 + bx + c = 0 equation in solidity?"
hi, we know that `ax^2 + bx + c = 0` equation solution is

![image](https://user-images.githubusercontent.com/1725060/113962223-d4861380-9859-11eb-80bd-6868692186c6.png)

we can simply write below code:

[code]

**Problem1:** sqrt will produce float number, and it will be truncated (say 3.99 -> 3), the result is not accurate, how to make it more accurate is a problem.

**Problem2:** if a,b,c is a

[2021-04-08 06:44] hrkrshnn commented on #11223
Please ask such questions in Solidity gitter or matrix channel.

https://gitter.im/ethereum/solidity

[2021-04-08 06:44] #11223 closed, assigned to nobody

[2021-04-08 15:54] Aleione opened #11226 "Accepts Invalid code: events invocation accepted without "emit" keyword"
## Description

In the below contracts, if you remove emit from the first event invocation it doesn't compile, if you switch the order of invocation it does not compile.
In this case it compiles despite missing of `emit` keyword for second event invocation.

## Environment

- Compiler version: 0.6.12, 0.7.0, 0.8.0 with or without optimizer enabled
- Target EVM version (as per compiler settings): d

[2021-04-08 17:52] agroce opened #11227 "[yul] Divergence in behavior between optimized and un-optimized yul"
## Description

This Yul file:

[code]

[code]

Probably just an infinite loop the optimizer gets rid of, and the un-optimized Yul locks up on, but wanted to check since this is the only non-stack/unimplemented operations result in a week of fuzzing, and I'm not 100% sure what should happen here, since the loop does contain variables not erased, and doesn't just go away.

On master, using AFL fuzz

[2021-04-08 19:43] #10166 closed, assigned to nobody

[2021-04-09 19:15] chuckb commented on #11012
I disagree with no file being out of control of the developer. Open source-ed-ness is not the issue. Code can validated by third parties at specific revision levels. If you are building a project that will be subject to an audit, an auditor might rely on the findings of already audited code. But if one subsumes said code, then any modification negates said audit, making your audit more time consum

[2021-04-09 19:37] chuckb commented on #11012
Here is another use case for me knowing better about whether I need the warnings or not:

[code]

I have a mock contract. I use it for testing. I know that the variable is unused, thank you very much, but I want that it way. Could I add code to make the warning go away? Sure. But why should I have to? I'd be fine with a hint placed over the line, or specifiable on the command line, acknowledging t

[2021-04-10 11:16] waytoashutosh opened #11232 "solc-windows.exe not installing the compiler"
## Description
The solc-windows.exe version is not able to install the compiler. A cmd pops up, does few stuff and then closes.

## Environment

- Compiler version: 0.8.3
- Operating system:Windows

## Steps to Reproduce
1. Download the solc-windows.exe and run.

[2021-04-10 16:15] cameel commented on #11232
It's a stand-alone command-line binary. It's not supposed to install anything.

It has no GUI. You need to open a CMD or PowerShell session to interact with it.

[2021-04-10 16:16] #11232 closed, assigned to nobody

[2021-04-10 16:30] cameel opened #11233 "ICE in --ast-compact-json when --base-path affects an import path"
## Description
With `--ast-compact-json` the compiler apparently has trouble finding files when `--base-path` is used and crashes:

[code]
[code]

Interestingly, as can be seen above, the crash happens despite the fact that `contract2.sol` should resolve to the same file with and without `--base-path /tmp`, since `/tmp` is the current working directory.

Removing `--base-path` option from the comm

[2021-04-10 17:24] cameel commented on #11233
I just noticed that the same thing happens when using `file://` prefix in imports.

Looking at the stack trace, the crash happens in `CommandLineInterface::handleAst()`, when it tries to get AST corresponding to a file that has been loaded by the compiler:
https://github.com/ethereum/solidity/blob/124db22f04be119da2dd09153a4cf3ff68a511b5/solc/CommandLineInterface.cpp#L1714

I think that the source

[2021-04-10 19:20] cameel commented on #11233
Same problem with `--combined-json`:
[code]
[code]

I think this is the only other place that would be affected by the change (positively or negatively). I checked all uses of loaded source in `CommandLineInterface` and I think nothing will break if we switch to using source unit names as keys.

[2021-04-12 07:38] hrkrshnn commented on #11227
I don't see how the unoptimized code is an infinite loop. How did you execute the unoptimized code? The loop alone would cost around 100 million gas. The optimized loop would be cheaper.

[2021-04-12 08:03] hrkrshnn commented on #11226
The reason is that `m_insideEmitStatement` is never reset to `false`. https://github.com/ethereum/solidity/blob/b04b189959cc4571f39269a8252a5a61ae9b14a6/libsolidity/analysis/PostTypeChecker.cpp#L297. The bug was accidentally fixed when implementing custom errors!

I'll add a changelog entry and close this in develop.

[2021-04-12 08:24] hrkrshnn commented on #11226
@Aleione Thanks for the issue. It was a really nice find.

[2021-04-12 09:10] #11226 closed, assigned to hrkrshnn

[2021-04-12 09:48] ekpyron opened #11240 "Inconsistencies in ABI decoding from memory vs from calldata."
Came up in https://github.com/ethereum/solidity/pull/11221.

ABI decoding from calldata allows decoding "non-canonical" encodings, i.e. encodings that were not produced by `abi.encode`, resp. generally the Solidity ABI encoder. This includes encodings with multiple tail pointers pointing to overlapping regions or negative tail pointers.

For example negative tail pointers are only valid, when deco

[2021-04-12 11:56] leonardoalt commented on #11100
@jiangshangqifeng Is the problem still happening? I'm closing for lack of reproducibility and activity. Please reopen if needed.

[2021-04-12 11:56] #11100 closed, assigned to nobody

[2021-04-12 13:06] agroce commented on #11227
Ok, it's just a cheaper loop/timeout, then, confirmed.  Closing.

[2021-04-12 13:06] #11227 closed, assigned to nobody

[2021-04-12 13:16] leonardoalt commented on #9981
Since `pragma` is being deprecated I'd say we can close this.

[2021-04-12 13:16] #9981 closed, assigned to nobody

[2021-04-12 13:47] chriseth commented on #11012
There are two ways to remove code to make the warning go away:
[code]
or
[code]

While I can understand your concerns with regards to audits, I fear this brings us on the wrong track: Your analogy with the truck company is a good one. The problem is that we should not write smart contracts in the way that we use trucks as in your example: I would prefer if smart contracts engineers were knowledgea

[2021-04-13 08:11] ekpyron commented on #9170
I'm wondering if we shouldn't just allow conversions from too long (truncating) as well as from too short (padding) `bytes` arrays.
Wouldn't that be more consistent with how explicit conversions work **right now** for any other types?
Is the fact we *might* change other types in a future version a good reason for introducing inconsistencies now?

EDIT: (I'm for example not yet sure if I won't argu

[2021-04-13 14:59] leonardoalt commented on #11030
One aspect of this is:
- you can abstract a function as "havoc", that is, just return something nondeterministic https://github.com/ethereum/solidity/pull/11334, or
- abstract the function as UF, that is, `a=c /\ b=d => f(a,b) = f(c,d)`
Both are valuable

[2021-04-13 15:02] leonardoalt opened #11249 "[SMTChecker] Take function options into account"
I think this wasn't done yet

[2021-04-13 15:04] leonardoalt opened #11250 "[SMTChecker] Support low level `call`"
It should do the same as external calls to unknown code.

[2021-04-13 15:04] AlphaSerpentis opened #11251 "Dynamic Memory Arrays Compile"
## Description

Creating a dynamic memory array compiles, but expect it to not compile since the EVM throws an invalid OPCODE.

## Environment

- Compiler version: 0.6.10 and 0.8.3 individually
- Target EVM version (as per compiler settings): Muir Glacier
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execution environment / backend / blockchain client: Remix's JavaScript VM
- Operating syst

[2021-04-13 15:33] ekpyron commented on #11251
To actually create allocate a dynamic memory array you have to use ``new``.
I.e. in your code ``test`` refers to a a dynamic memory array of size zero, so any access to it will be out-of-bounds and revert.
It's near impossible to detect out-of-bounds accesses at compile-time in all cases, so the best we can do is to revert on runtime.

If you want your snippet to work and not to revert, you can ch

[2021-04-13 15:42] ekpyron commented on #11251
I hope this answered the issue, so I'm closing it, but please feel free to reopen, if you think otherwise!

[2021-04-13 15:42] #11251 closed, assigned to nobody

[2021-04-13 19:39] frangio opened #11253 "Allow nonpayable functions to override payable functions"
## Abstract

If an interface defines a `view` function, it is possible for a derived contract to provide a `pure` implementation of it.

Could it be possible to extend this so that `payable` functions can be implemented with non payable functions? It is the same kind of state mutability narrowing.

## Motivation

https://github.com/OpenZeppelin/openzeppelin-contracts/issues/2610

ERC721's `transfe

[2021-04-14 07:39] chriseth opened #11254 "Assembly export and re-import"
In order to perform super-optimization on assembly, we would like to define a serialization format so that an `Assembly` object can be exported, modified and re-imported in a similar way as we currently do with the AST. It should be possible to resume compilation from the assembly stage on.

[2021-04-14 07:40] chriseth commented on #10903
@mijovic what is still left to do here?

[2021-04-14 07:51] mijovic commented on #10903
I think I didn't close the issue because there was still an open point about allowing `bytesNN` as an argument of `bytes.concat()`. If we do not want to allow that, I think there is nothing else to be done here.
Also, returning fixed bytes type, for example `bytes32.concat()` but probably after finishing bytes->bytesNN (#11047) it is not relevant as we can convert it easily.

[2021-04-14 11:18] #11194 closed, assigned to hrkrshnn

[2021-04-14 11:46] #11233 closed, assigned to cameel

[2021-04-14 12:42] bshastry opened #11257 "[optimiser] msize may not be used in Yul code when stack limit evasion is enabled because it may produce different results pre and post optimization"
## Description

[code]

produces different storage state pre and post optimisation. This boils down to the stack limit evader making use of memory to free up stack slots and in the process increasing `msize`.

## Steps to Reproduce

[code]

Copy the optimized yul code and run it on the yul interpreter.

[2021-04-14 13:10] axic commented on #11254
Here is an idea based on the current assembly JSON:
[code]

If we want to have settings outside, then would propose the following outer wrapping:
[code]

[2021-04-14 15:49] bshastry commented on #11257
Here is test case whose semantics are altered pre and post optimisation without the use of `msize`

[code]

The issue is that the first argument to the call `foo_m_3(mload(64),...)`  is different pre and post optimisation. Since the first argument is a storage slot for an sstore, pre and post optimisation runs have different storage traces.

[2021-04-14 17:31] chriseth commented on #11254
For a proper version, I would suggest the following modifications to the current json export:
 - all debugging data ("begin", "end", "source", "jump type") should be moved to a sub-object of the assemblyitem json object
 - opcodes and non-opcodes (pushsubsize, etc) should probably be separated somehow
 - names of non-opcodes should probably be cleaned up and improved - nobody can remember what `PU

[2021-04-14 20:47] elee1766 commented on #7763
@christianparpart cool! ill try this today and let you know. if i don't reply today it means i died of frustration

edit: just wrote a contract with it. i haven't encountered any major issues so far, and it seems to be correct as far as I see.

[2021-04-15 11:07] ekpyron opened #11260 "Investigate InvalidDeposit error during code transform (instead of StackTooDeep)."
Came up during fuzzing https://github.com/ethereum/solidity/pull/10015

This test case: https://gist.github.com/bshastry/06a1132d5bc47835284a0b5aaecf646a
produces an ``InvalidDeposit`` error during the code transform, while it probably *should* emit a ``StackTooDeep`` error.

[2021-04-15 16:10] Amxx commented on #9979
I'm seeing that error in 0.8.3.
Any clue what is causing that ?

[2021-04-15 23:37] cameel commented on #11138
I have just pushed some minimal changes: fixes for some of the comments, renaming of "source unit ID" to "source unit name" and small tweaks I made while working on #11263. None of it changes the text substantially. This is only to keep it clean in case I need to get back to it.

I'm closing this PR in favor of #11263. The text has changed a lot so I have decided to create a new PR and keep this o

[2021-04-16 09:51] christianparpart commented on #7787
maybe not the way it works right now (I didn't invest into this much yet). Before I attempt to touch this, I want to make the lower hanging fruits workable.

@chriseth I don't even think it (error-recovery) has to. In the context of code completion, what the user is interested in (I hope) is getting a completion when typing `.` on scoped objects.  But I think we can say more about that subject whe

[2021-04-18 11:29] barakman opened #11265 "Unnecessary compiler warning 'Unnamed return variable can remain unassigned'"
## Description

Solc emits:
[code]
For a **reverting** code path.

## Environment

- Compiler version: 0.8.3
- Framework/IDE: Truffle
- Operating system: MacOS

## Steps to Reproduce

Compile this:
[code]

[2021-04-19 09:06] chriseth commented on #11265
The compiler currently does not analyze boolean expressions for this warning. If we start doing this, we have to define a point to stop the analysis, which will probably result in more problems than not doing it at all.

Would changing your code to a `revert()` be a solution for you?

[2021-04-19 09:06] #11265 closed, assigned to nobody

[2021-04-19 09:15] chriseth commented on #9979
@Amxx try to reduce the number of parameters for your function.

[2021-04-19 09:26] barakman commented on #11265
Sure, I didn't give it a try because I figured that it wouldn't make any difference.
I'll give it a try now, but note that this solution would not support `require(false, msg)`, which is more informative than `revert`.

[2021-04-19 09:37] Amxx commented on #9979
Yes that was it. To many calldata arrays in parameter. Replacing them with an array of structures (or a structures with arrays) seems to fix it.

The error message is really unclear (and doesn't point out the function causing the issue). You may want to clarify things

[2021-04-19 13:57] ekpyron commented on #11257
Are we sure we want to prevent this? I'm actually not sure if it isn't just fine to ignore concrete `msize` values changing during optimization anyways, but even more so here - the semantics of `msize` don't change at all, memory just starts a bit larger. By that logic we couldn't have introduced immutables the way we did, since they shifted the free memory pointer, s.t. it no longer starts from t

[2021-04-19 14:27] barakman opened #11269 "Support 'unchecked' at the function-declaration level"
## Abstract

It is a typical scenario for an entire function to be implemented with native (unsafe until solc 0.8.0) arithmetic operations, in order to optimize its performance, and under the author's knowledge of the function being robust for arithmetic overflows.

## Motivation

According to [the official documentation](https://docs.soliditylang.org/en/v0.8.0/control-structures.html#checked-or-u

[2021-04-19 14:38] chriseth commented on #9979
We can hopefully fix this altogether soon.

[2021-04-19 14:39] chriseth commented on #11265
What about `revert(msg)`?

[2021-04-19 16:03] #11039 closed, assigned to cameel

[2021-04-19 16:14] barakman commented on #11265
Oh heck, how could I have been so dumb?
Please ignore; thanks.

[2021-04-19 19:25] #9636 closed, assigned to nobody

[2021-04-19 19:25] #10109 closed, assigned to nobody

[2021-04-19 19:25] #11213 closed, assigned to nobody

[2021-04-20 09:42] chriseth commented on #11257
I agree, the semantics of msize is that memory has not been accessed after the value it returns. The optimizer changes PC and GAS and thus it can also change MSIZE. The only thing we have to be careful about is that mload (and others) modifies the value of msize, so we cannot remove mload if msize is present because it can be used as a marker.

[2021-04-20 12:23] maximegmd commented on #6900
Dropping another suggestion that favors performance: https://github.com/simdjson/simdjson

The API is also quite straight forward.

[2021-04-20 13:33] #10881 closed, assigned to Marenz

[2021-04-20 14:51] leonardoalt opened #11274 "[SMTChecker] Verify AMM invariant"
https://github.com/xwvvvvwx/symtest-examples/blob/main/src/AMM.sol

The invariant of course depends on the token implementation.
There could be two ways to verify this:
- Add requires around the token calls to represent the post conditions of the token functions
- Trust a token implementation and use that

[2021-04-20 14:52] rmeissner commented on #8186
Is this realted to #4858?

[2021-04-20 14:54] leonardoalt opened #11275 "[SMTChecker] Verify Gnosis MultiSig"
https://github.com/gnosis/MultiSigWallet/blob/master/contracts/MultiSigWallet.sol

Need to check what kind of invariants could be checked.

[2021-04-20 14:57] leonardoalt opened #11276 "[SMTChecker] Verify Chai"
https://github.com/dapphub/chai/blob/master/src/chai.sol

@MrChico any insights on what we could try to verify here?
I guess most stuff might be too hard anyway given the amount of math in the contract.

[2021-04-20 15:18] MrChico commented on #11276
Maybe the property hinted to on [L111](https://github.com/dapphub/chai/blob/master/src/chai.sol#L111) would be interesting:
[code]
One could modify `move` to express this property:
[code]

[2021-04-20 19:22] axic commented on #11276
Is there a 0.8.x compatible version of chai now? :)

[2021-04-20 20:52] MrChico commented on #11276
No, it's not being actively iterated upon right now

[2021-04-20 21:06] axic commented on #869
Here are three very simple functions which can come handy in many applications:
[code]

While the `abs` case does not strictly require the capability to enforce it is on a signed type (the `< 0` may be a compile time failure with an unsigned type), it certainly helps clarity. Similarly to `T.isSigned` we could have something like `T.toUnsignedType` (aka C++ has), if we wanted to do type conversion

[2021-04-21 07:56] hrkrshnn opened #11278 "`try`/`catch` for custom errors"
Solidity currently doesn't have a convenient way to catch custom errors.

An issue to track progress on this.

Part of https://github.com/ethereum/solidity/issues/7877

[2021-04-21 08:08] chriseth commented on #11278
The first item to implement this is to add a flag to all abi decoding functions so that they do not revert on error but instead return a failure flag. This is useful for users, too (we could add `abi.tryDecode`), but it is needed for catching errors since we want every failure in the external contract to end up in the "catch-all" catch case, even if the return data is malformed.

[2021-04-21 08:31] bshastry opened #11280 "[SMTChecker] Map out of key exception in CHC.cpp"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/c3f639b355ef94b4db43998f3e305369f6a49b45/libsolidity/formal/CHC.cpp#L1353

To reproduce, copy the test to `syntaxTests` and run with isoltest with SMTChecker enabled.

[2021-04-21 08:36] leonardoalt commented on #11280
I guess it's time to support modules

[2021-04-21 11:11] #11168 closed, assigned to nobody

[2021-04-21 11:45] axic opened #11281 "Shadowing require shadows its other overloads"
[code]
and
[code]

Both of these fail with
[code]

That means the `require(cond, string memory)` overload is **not** visible after defining `require(cond, MyErrorKind)`.

[2021-04-21 12:53] axic commented on #9170
We discussed new casting/conversion syntax [here](https://gitter.im/ethereum/solidity-dev?at=5f63d5a3ce5bbc7ffdd03d46) and [here](https://gitter.im/ethereum/solidity-dev?at=6076e59381866c680c22168c):

On the meeting we also mentioned perhaps we should not name them `cast`, but rather `truncate` and `extend`, etc.

[2021-04-21 15:49] axic commented on #11281
As we discussed this just means that shadowing removes all overloads, i.e. overloading is only valid when the overloads are created in the same scope. This likely is not documented, and should be.

[2021-04-21 16:12] cameel commented on #10329
When this is built, remember to submit a PR in remix to mark 0.5.17 as a wasm build (see https://github.com/ethereum/remix-project/pull/1133).

[2021-04-21 17:29] axic opened #11284 "Conversions revamped"
Currently we support (an ever shrinking number of) implicit type conversions and some explicit ones. The explicit conversions mostly truncate/extend, and only a single one (integer to enum) is performing a check and panic.

During #9170 we have endlessly debated whether converting from a larger bytes should truncate or throw a panic, and finally realised we may want to review how conversions work

[2021-04-21 17:43] axic commented on #11284
Following up the above summary, here's an actual suggestion to get us started. While I like the member functions `.as<>()`, `truncate<>()`,.. quite a bit, it may not be the best, unless we are happy to make those function names reserved. So my second option is the following:
1. `as` for "safe" conversion (e.g. contract -> address, address -> payable address)
- `as<address payable>(my_address)`
- `

[2021-04-22 08:56] #11130 closed, assigned to franzihei

[2021-04-22 09:58] ghost opened #11290 "etherium maximum number of validators"
Tell me how many maximum validators in ethereum can be and if you can link to the mechanism for distributing validators in pos if any.

[2021-04-22 10:07] axic commented on #11290
This is the wrong repository for such questions, I suggest to check https://ethereum.org and https://ethereum.stackexchange.com

[2021-04-22 10:07] #11290 closed, assigned to nobody

[2021-04-22 14:32] #11154 closed, assigned to bshastry

[2021-04-22 19:13] barakman opened #11297 "Minor error in the 0.7.0-breaking-changes documentation"
## Description

From [the 0.7.0-breaking-changes documentation](https://github.com/ethereum/solidity/blob/develop/docs/070-breaking-changes.rst#functions-and-events):

It should be "`public` / `internal`" of course.

[2021-04-22 20:00] cameel commented on #11297
Yeah, looks like a mistake. Fixed in #11298. Thanks for reporting!

[2021-04-23 08:42] #11297 closed, assigned to nobody

[2021-04-23 09:44] ra-phael opened #11299 "[Docs] Clarify initialisation value of state variables"
In [Inheritance > Constructors](https://docs.soliditylang.org/en/latest/contracts.html#constructors) the documentation states:

Isn't that true only if the type of said variable is `uint` or `int`? For a `bool` for example, the value will be `false` (even though its byte-representation is all zeros).

Maybe that sentence could be changed to: "Before the constructor code is executed, state variable

[2021-04-23 10:10] leonardoalt commented on #11299
@ra-phael that's correct, good catch. It would be great if you opened a PR, thanks!

[2021-04-23 11:20] axic opened #11300 "Include "review checklist" as part of security considerations"
This here: https://ethereum.stackexchange.com/questions/8551/security-review-checklist-for-a-smart-contract/8593#8593

(Found via https://forum.soliditylang.org/t/key-points-while-conducting-a-security-audit-of-nft-smart-contract/217/2 by @franzihei)

[2021-04-23 14:10] axic commented on #10738
The cases remaining:
[code]

[2021-04-23 14:11] axic commented on #7795
Linking this discussion here: https://github.com/ethereum/solidity/issues/10738#issuecomment-760186577

[2021-04-23 14:35] axic commented on #6330
Can you explain what is the problem here? We seem to have a check in `AsmAnalysis` for finding unknown object cases (errorcode 3517).

[2021-04-23 20:38] #11299 closed, assigned to nobody

[2021-04-23 23:53] cameel commented on #11300
Do we just want to link to it or add a similar (possibly expanded) list in our docs instead?

[2021-04-24 00:50] axic opened #11310 "[isoltest] Add option to chose sender account"
Currently there is no way to change the sender account. A lot of tests (e.g. those in `test/contracts/*`) depend on the ability to call a contract with different senders.

A potential option (if the semantictest tool keeps a state) is to introduce a line such as `account: <num>`, where `num` is an index starting from 0 (the default), which changes the sender.

Example:
[code]

The `account: 0` can

[2021-04-25 14:26] leekt opened #11312 "Codegen runs into invalid swap request (31)"
## Description

solidity compile fails with below error
code can be found in [here](https://github.com/minnow-dev/solidity-bug-uniswap-oracle)

[code]

weird thing is, it succeeds if optimization is on.

PS. i guess #10931 is relevant but it is marked as resolved
PS2. i figured out it happens because of BlockVerifier.sol, but haven't found out the root cause

## Environment

- Compiler version: 0.

[2021-04-25 19:28] cameel commented on #11312
Looks like this started happening in 0.7.5. Here's a smaller repro:

[code]

The error goes away if there are less than 16 Yul variables in the assembly block or if we remove the single Solidity variable.

Also fails if all the variables are declared in Solidity rather than Yul:
[code]

And yeah, it's a duplicate of #10931 but we did not have a repro there so big thanks for actually posting code t

[2021-04-26 04:45] leekt commented on #11312
Thanks, do you think it will be ok for me to use 0.8.4 for the above code with optimization enabled? Since that will be a quick and easy patch for me if there aren't any other bug related to this.

[2021-04-26 09:51] #9170 closed, assigned to mijovic

[2021-04-26 14:40] chriseth commented on #11284
For me, `as` sounds like it would not trigger runtime errors.
By the way, for templates, the parser probably requires a syntax like `as.<bytes8>(...)`.

[2021-04-26 15:30] cameel commented on #11312
I can't guarantee anything because I haven't looked at the implementation but the bug seems to be caused by the compiler running out of stack slots. That's due to too many local variables and parameters so just using less of them (e.g. by moving parts of the code to helper functions) should a good workaround. Enabling the optimizer is good too because I think it solves your problem by just by elim

[2021-04-26 17:27] axic commented on #11312
It fails on `libsolidity/codegen/ContractCompiler.cpp(880)`. If the assertion within the first branch is moved out, then at least a proper source location is shown:
[code]

[2021-04-26 18:31] #10869 closed, assigned to nobody

[2021-04-26 20:28] axic commented on #10476
Still fails:
[code]

[2021-04-26 20:56] axic commented on #10476
It seems that builtins returning i32 are still considered i64 for some reason, i.e.
[code]

Or the other possibility is that locals are all defined as i64.

[2021-04-26 21:36] axic commented on #10476
I think the problem may be that `TypeInfo` is used for tracking types of locals, but that only works on fully disambiguated sources and in wasm after the polyfill that requirement is not fulfilled.

[2021-04-26 22:58] axic commented on #10946
Fixed by #11015.

[2021-04-26 22:58] #10946 closed, assigned to nobody

[2021-04-26 23:01] axic commented on #10890
All the linked issues seem to be working now. @bshastry please reopen if you think this should be kept open.

[2021-04-26 23:01] #10890 closed, assigned to nobody

[2021-04-27 03:36] xy137 commented on #9645
please add this

[2021-04-27 08:50] #11312 closed, assigned to nobody

[2021-04-27 08:54] #10475 closed, assigned to nobody

[2021-04-27 13:21] cameel opened #11322 "Use bumpversion to simplify the release process"
@axic has recently suggested using [bumpversion](https://pypi.org/project/bumpversion/) to handle updating version in files where it is hard-coded. Here's the [`bumpversion` config used in EVMC](https://github.com/ethereum/evmc/blob/master/.bumpversion.cfg) for example.

Looks like the original project is unmaintained, so we should use one of the forks instead. Maybe [bump2version](https://pypi.or

[2021-04-27 13:22] cameel commented on #11322
I thought we had version hard-coded in more places. Now i wonder if we actually want it if `robots.txt` will be automatically updated by `docs.sh`.

[2021-04-27 15:10] chriseth commented on #11322
There is exactly one location that specifies the version and it can be read by `version.sh`, so I don't think we need something like `bumpversion`.

[2021-04-27 15:13] cameel commented on #11322
Yeah. Let's close it then. We can always reopen if we get more of them.

[2021-04-27 15:13] #11322 closed, assigned to nobody

[2021-04-27 17:27] axic opened #11323 "Remove ABIEncoderV1"
The eventual goal of #9609 was to phase out the old ABI coder. Creating this as a tracking issue.

IIRC in the discussions we aimed to remove the old one two breaking releases post making ABI coder V2 the default. That change took place in 0.8.0, which means we could drop ABI coder V1 in 0.10.0.

[2021-04-27 17:27] axic commented on #11323
It would be nice to know if anyone still depends on V1 and if so, what are the reasons for it?

[2021-04-27 17:52] axic commented on #11322
The idea behind bumpversion was that it could update `robots.txt` at the same time we wouldn't need an extra script.

[2021-04-27 19:03] axic commented on #11323
After a second look, this may not bring too many benefits, as there's just so many places in the code not worth touching. Removing the entirety of the old codegen is easier once the IR-based one is mature. However just disabling the V1 codepath may be useful to lessen the complexity of tests.

[2021-04-27 21:03] cameel commented on #11323
Isn't it too early to disable it before we retire the old codegen? I remember that we had some users that were intentionally avoiding v2 and relying on v1 for gas savings. See for example this conversation: https://gitter.im/ethereum/solidity?at=6039240be562cf54ac85b541

EDIT: Or maybe it's OK actually. Reading further, it turned out that results were inconsistent. Sometimes v1 was cheaper, someti

[2021-04-27 21:08] axic commented on #11323
@cameel that discussion seem to have concluded that the optimiser was not turned (due to a typo) and v2 was actually cheaper than v1 with the optimiser on :wink:

[2021-04-27 21:13] cameel commented on #11323
Yeah. Looks I misremembered that situation. I mostly remembered that we had someone who specifically wanted v1.

Still, the thread is probably a good piece of info either way. If v2 is actually cheaper in real-life situations that's even better and a good argument for disabling v1.

[2021-04-27 22:55] #11199 closed, assigned to nobody

[2021-04-28 04:42] blitz-1306 opened #11324 "Distinct YulHexStringLiterals from common Yul string literals while reproducing the source code"
## Description

Since Solidity 0.8.4 release there is [a support for `YulHexStringLiteral`s](https://github.com/ethereum/solidity/pull/11173) (`let x := hex"11"`, the [commit](https://github.com/ethereum/solidity/commit/7eb5e27e54c3ffc0e0a1e6d9b6c50e992df6886b) for reference). While making attempts to reproduce the original source from compiler-provided AST, I met two issues with new literals:
1.

[2021-04-28 04:50] blitz-1306 commented on #11324
P.S.: You can also look at the [original source](https://github.com/ConsenSys/solc-typed-ast/blob/1f43580953b0b83308facc5cb13328fa009b95ab/test/samples/solidity/latest_08.sol#L169-L176) and [produced source](https://github.com/ConsenSys/solc-typed-ast/blob/1f43580953b0b83308facc5cb13328fa009b95ab/test/samples/solidity/latest_08.sourced.sol#L123-L128) ([and the logic](https://github.com/ConsenSys/s

[2021-04-28 08:28] chriseth commented on #11324
Both the Solidity and the Yul AST lose information when they are generated from source and we do not see the reverse operation (generating source from AST) as a use-case of the AST. Since you lose information anyway, is it that important to re-generate the correct kind of string? You also won't be able to determine if certain characters were escaped in the original string, for example.

The intern

[2021-04-28 09:03] blitz-1306 commented on #11324
@chriseth The "_correct kind of string_" is the exact wording for what was asked for. So far, there were no issues with code reproduction from AST, as all of the nodes were containing all the necessary **compatible** information to produce source that would result the same bytecode. It does not really matter if some details are changed while they are still _readable_ and producing _same results_.

[2021-04-28 09:09] chriseth commented on #11322
What is 'bumpversion' if not an extra script?

[2021-04-28 10:23] cd1m0 commented on #11324
@chriseth I think the problem is that the Yul AST seems ambiguous in this particular case. Perhaps if you clarify what the semantics of the string inside the `YulLiteral` node of the Yul ast is?

Is it always just the string itself utf-8 encoded? Or does it change depending on whether the original string was a normal string or a hex string? In the case of normal `Literal`s there is different behav

[2021-04-28 11:59] axic commented on #11322
You really just dislike bumpversion? :)

[2021-04-28 12:53] axic commented on #11300
Include an expanded version in the documentation itself.

[2021-04-28 13:49] bshastry opened #11325 "[Sol->Yul] ICE due to library function bound to a literal"
[code]

throws

https://github.com/ethereum/solidity/blob/5c02837485b8bae0a484ec1e1490851fae264417/libsolidity/codegen/ir/IRGeneratorForStatements.cpp#L1588-L1599

[code]

[2021-04-28 13:51] chriseth commented on #11324
I currently cannot see any different behaviour about the AST output in the Solidity case.

For Solidity Literal has the fields `kind`, `value` and `hexValue`. `hexValue` always contains the hex encoding of the string literal's decoded contents. `value` is non-null if the string literal's decoded contents is valid utf8 and it is the utf8-encoded contents.

For Yul literals, the mechanism to detect

[2021-04-28 14:02] axic commented on #10426
The syntax implemented by #10873 is:
[code]

The wei/ether suffix is not supported.

[2021-04-28 15:01] #10426 closed, assigned to aarlt

[2021-04-28 16:09] hrkrshnn commented on #11214
Implemented in https://github.com/ethereum/solidity/pull/11218

[2021-04-28 16:09] #11214 closed, assigned to christianparpart

[2021-04-28 19:05] cameel commented on #11325
Oh, so it's possible after all. You broke the system with `using L for *;` :)
When I was implementing this I could not find any way to apply a library to types you cannot name like literals or slices and I thought it's not allowed. So apparently it is. We clearly lack test coverage here so we should add some semantic tests with functions bound to those types.

We might also want to document that t

[2021-04-28 19:31] axic commented on #11325
Side-note: Perhaps with templates we'll need to come up with a notation for literal arguments, and then we could use that?

[2021-04-28 23:02] aress31 commented on #232
Any update on this feature?

[2021-04-29 05:21] blitz-1306 commented on #11324
Let me clarify something, that I probably missed in the starting post (and sorry if it caused too much confusion). Lets add few code lines to the reproduction sample script (`index.js`):

[code]
The output:
[code]
While in the original input source has `112233445566778899aabbccddeeff6677889900`. There is something special happening with bytes since `88`... I tried to rely on [common approach](http

[2021-04-29 10:09] bshastry opened #11329 "[SMTChecker] Stack overflow due to nested SMT expressions in Gnosis safe contract"
Moved from https://github.com/ethereum/solidity/pull/10961

This test https://gist.github.com/bshastry/395f7484727b9f42060d54d26dc9caec

when copied to `test/libsolidity/syntaxTests/multiSource/gnosisSafe.sol`

and invoked like so

[code]

leads to a SIGKILL because of running out of stack memory. The associated stack trace may be found here: https://gist.github.com/bshastry/c0752f16c3952e8a1fcbe0

[2021-04-29 13:33] #10119 closed, assigned to franzihei

[2021-04-29 18:12] Tomburgs commented on #7763
This looks exciting, very nice job @chriseth & @christianparpart!
Any chance of creating a Darwin build for us mac users?

[2021-04-29 23:30] cameel commented on #11329
@bshastry @leonardoalt I have reopened #10961 to push a smaller repro (~600 lines). See https://github.com/ethereum/solidity/pull/10961#issuecomment-829666764 for details.

Not sure the PR is worth keeping open so feel free to close it again and just move the repro to a gist. Overall my opinion is that it's not really a bug and more like a performance problem when running on a contract this size.

[2021-04-30 08:42] leonardoalt commented on #11329
@cameel yea that's also how I'm seeing this. I have another pretty heavy benchmark from the Circles contract, gets killed even with abstractions and 32gb of ram. I'll collect these somewhere as performance tests. It's a really good goal to try to not get those killed via abstractions. However, at some point we can't abstract more and it ultimately depends on the solver. I'm also going to test them

[2021-04-30 12:19] leonardoalt commented on #11329
Btw by abstracting hard math functions (mul div mod) as nondeterministic values (a PR I'm working on) I get the SMTChecker to go through the original issue.

[2021-04-30 19:00] hughescr commented on #7089
`\uNNNNNN` would be a breaking change
`\UNNNNNN` (or` \u{NNNNNN}`) wouldn't
The current source `"\u1D80AB"` would yield an error if `\uNNNNNN` is adopted, but should be valid currently (it'd currently be a 3-character string of `U+1D80`, `U+0041`, `U+0042`: `unicode"აAB"`) but it should parse as an invalid codepoint under `\uNNNNNN`.
`"\u100000"` would be even worse, currently, that would be the 3

[2021-05-01 14:40] bshastry opened #11336 "[SMTChecker] ICE due to equal expression with different sorts"
[code]

throws

https://github.com/ethereum/solidity/blob/f1d58c549b1682fb6a863c53fad710381da30748/libsmtutil/SolverInterface.h#L262

[2021-05-03 08:28] christianparpart commented on #7763
Hey @Tomburgs many thanks for your interest. Please give me some time before doing that. I want to tidy up a few things first, then I'll release a new VScode extension (if that is what you have been requesting for).

Also, please keep in mind that it is not officially supported nor feature-complete yet, see it more as an early beta with any feedback very welcome. :)

[2021-05-03 09:43] blitz-1306 commented on #11324
Guys, would some of you be able to look into a post above and explain the behavior?

[2021-05-03 09:45] chriseth commented on #11324
This is certainly weird. I think we should at least add a hex value, so that we do not get into some json coding mess.

[2021-05-03 10:05] chriseth commented on #11324
Here is the fix: https://github.com/ethereum/solidity/pull/11338/files#diff-e954efc4f6ece1317b27343364a968dbe87efdf08c22fa9600043fda7a4240e9R72

[2021-05-03 10:59] ekpyron commented on #11257
One situation to keep in mind is this:
[code]

I.e. even if ``f`` pre-optimization does not touch memory at all, the value at ``mem[pseudoAlloc]`` might change in ``f`` after optimization due to stack-to-memory-movement.

But I still think it's ok to do this. The stack limit evader will only run, if there is a ``memoryguard`` and that's the promise not to write to unallocated memory, so the snippe

[2021-05-03 12:00] anurag-git commented on #10738
@chriseth, @axic , any suggestion for replacing make_pair in `libsolidity/parsing/DocStringParser.cpp` for replacing find_first_of. Tried couple of things but doesn't work.

[2021-05-03 12:37] chriseth commented on #10738
I think DocStringParser should in general be rewritten to replace pairs of iterators by something else. Maybe string_view would be the right choice.

[2021-05-03 13:18] agroce opened #11341 "[SMTChecker] ICE in void solidity::frontend::CHC::externalFunctionCall(const solidity::frontend::FunctionCall &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer, now with a few more mutation operators

## Environment

- Compiler version:  0.8.5-develop.2021.5.3+commit.fe4822a1.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or R

[2021-05-03 13:41] bshastry opened #11342 "[Boost] Update upstream server from where boost binaries are fetched"
[Bintray](https://lists.boost.org/Archives/boost/2021/04/251458.php) that used to host boost binaries has shut down. Boost binaries are now hosted at: https://boostorg.jfrog.io/artifactory/main/release/

This issue tracks support for updating the relevant links in the Solidity repo.

[2021-05-03 14:35] bshastry opened #11343 "[FunctionCallGraph] Stack use-after-scope reported by Address sanitizer"
Likely introduced by

See https://github.com/ethereum/solidity/pull/10973#discussion_r580926054 and https://github.com/google/oss-fuzz/pull/5701/checks?check_run_id=2492467934#step:8:21763

The fuzzer build is failing due to this.

[2021-05-03 15:44] cameel commented on #11343
I've been meaning to get back to this one when I have a bit more time to dig deeper. I thought this was low priority but if it's actually a fuzz blocker then my suggestion would be just to create a local and use it instead of a temporary in `valueOrDefault()`.

[2021-05-04 14:58] elee1766 commented on #7763
Hey @christianparpart !

I've been using your LSP with coc.nvim for a month now! It's been pretty nice to me so far.

The biggest issue I'm having is support for the path mapping that truffle has for importing .sol files. I attempted to launch the LSP with the same flags as truffle, locating the correct folders in node_modules/@xyzzy, however never got that working, and haven't had the time to loo

[2021-05-04 19:22] cameel commented on #7763
@elee1766 Truffle has its own resolver for locating directories that you can import files from. `solc` and, by extension, the LSP does not have that and you have to directly specify the full import path. If you know the right directories though, you can get a similar effect using import remapping (see [Layout of a Solidity Source File > Use in Actual Compilers](https://docs.soliditylang.org/en/lat

[2021-05-04 20:54] tmc opened #11345 "published binaries should be built in the open via automation"
Today, users of precompiled binaries here have to trust the binaries uploaded to the github releases. It would be safer to have automation (such as Github Actions) build and publish these binaries instead.

[2021-05-04 21:30] chriseth commented on #11345
We are also wondering what the best way is here. The binaries are actually built by automation, we just upload them manually. The reason is that we do not want to give circelci (or github actions) write access to the complete archive mainly to avoid a compromised build server (or plugin / external dependency - cf. recent coverity (?) exploit) messing with older binaries. Do you have an idea how th

[2021-05-04 22:08] tmc commented on #11345
Providing the CI environment github artifact upload permissions should be a safe thing to do if you're not pulling in uncontrolled third party dependencies at build time. If that is the case, I'd encourage an initiative to not pull in untrusted code at build time.

With a little configuration I think you could do things like run less-trusted operations of the source code in automation more safely

[2021-05-04 22:29] tmc opened #11346 "provide straightforward way to leverage solc from Go"
Lots of parts of the ethereum ecosystem are written in Go, solc being a standout exception. This detracts from the ability to rely on signature-verified toolchains for reproducible builds.

I think this project should offer go support for a lightly wrapped solc binary.

This could be implemented several ways, perhaps the most straightforward being a small wrapper that downloads and caches the appr

[2021-05-04 22:37] tmc opened #11347 "published binaries should be signed and have published checksums available"
Currently, it appears as though the solc binaries that are published neither have checksums released alongside them nor are they signed. Both of these techniques help build confidence that released artifacts have not been compromised or otherwise tampered with.

[2021-05-04 22:37] axic commented on #11346
I think the most prominent example you are referring to is go-ethereum (and perhaps turbogeth), but I am not really aware of any popular smart contract tooling written in Go. The market leaders (Truffle, Remix, and Hardhat -- see [our survey](https://blog.soliditylang.org/2021/01/26/solidity-developer-survey-2020-results/)) are written in Typescript/Javascript.

Do you have an example of popular a

[2021-05-04 22:47] axic commented on #11347
I think your impression is based on the Github releases page. The release notes on Github used to contain the SHA2-256 hashes of the binaries, but it seems we may have omitted them for some reason lately -- not that the Github release page has any strong defences.

We actually recognised that we may not have been explaining this well enough, but the hashes of every single build (for any of the pla

[2021-05-04 22:49] axic commented on #11347
Also please note that the preferred source of binaries is binaries.soliditylang.org / solc-bin.ethereum.org (see the README in solc-bin), which will be explained in the blog post.

@chriseth Perhaps we could consider removing their uploads from the release page and adding direct links (in the release text) to the correct path within binaries.soliditylang.org?

There's also #2238 we haven't touched

[2021-05-04 23:04] axic commented on #10898
Implemented by #10972 and #11199.

@chriseth @franzihei Right now it seems that only 0.8.0 shows up for me on the top. I think a weird side effect we are getting is that while previously a lot of various versions popped up on the first page of results, the majority of the links went to docs.soliditylang.org. Compared to that, now the first link is docs.soliditylang.org and the rest is random other

[2021-05-04 23:26] tmc commented on #11347
Ah yes, I had missed the solc-bin repository that appears to contain historical releases.

[2021-05-04 23:29] axic commented on #2238
Alternatively this could be part of the solc-bin repository, which would practically mean just adding a changelog node to the release binaries. In that case we would need to publish the hashes of each of the list files (i.e. `wasm/list.json`, `linux-amd64/list.json`, and so forth) to provide authentication to builds for various platform.

I still think it would make more sense keeping a `releases.

[2021-05-05 00:17] tmc commented on #11346
Yes I'm using go-ethereum. The abigen tool will use solc to generate the solidity abi from sol source files but this would be the first important tool that would be managed outside the go toolchain (e.g. go modules).

I prototyped an example of how the solidity compiler might be wrapped up with the go tooling ecosystem to provide a convenient and reproducible means of relying on a particular versi

[2021-05-05 00:17] tmc commented on #11346
Here's a prototype of making solc work with the go ecosystem: https://github.com/ethereum/solidity/compare/develop...tmc:tmc-add-go-get-support

[2021-05-05 00:30] tmc commented on #11346
Perhaps it would be most appropriate to have this type of integration/interface over in the go-ethereum project. From a maintenance perspective, given that the release engineering steps are carried out between this and the solc-bin repositories, having something closer to these repos may make the most sense.

[2021-05-05 10:55] ducquangkstn commented on #8989
Before the feature so called "license" is introduced, everything was smooth.
For example, when I read a contract on etherscan, I just need to copy the code into remix or my ide and read everything.
And right now, I have to copy every single files on it or find the project (sometimes it is not available).

Flattening file helps developers a lot. Why not allow multiple licenses in a single file?
Whe

[2021-05-05 12:36] chriseth commented on #8989
The license is not the only problem:

[code]

All the languages like go, js and Solidity have a proper module system that defines namespaces. If you flatten everything, names can clash and it just gets messy. If you are concerned about the usability of etherscan, please talk to them so that the provide a convenient multi-file download with a standard-json or metadata structure. You can also use so

[2021-05-05 14:50] ducquangkstn commented on #8989
Most of the time in solidity, flattening works.

Thanks anyway. But it is undeniable that using flatten is still more easier for reading code or verifying source code

My thinking is that you should not restrict non-technical thing. E.g:
- When a file does not have a license -> a warning is good
- When a file has multiple licenses -> an error is bad, why not a warning
- Flattening may good or bad,

[2021-05-05 16:05] alcuadrado opened #11351 "ARM builds for Linux"
With Apple switching to ARMv8 releasing ARM builds of solc is increasingly important, especially linux ARM builds.

The reason for this is that if you use Docker with an ARM mac, you'll end up running your containers in an ARM-based Linux, so you can't run any native solc build.

In Mac the situation is different, you can still run x86_64 binaries using Rosetta2, and this process is 100% transpare

[2021-05-05 16:16] axic commented on #11351
We have set up ARM builds on another project, but it is rather computationally expensive as it is running in an emulator. I wonder how big of a slowdown that would be for running soltest within that emulator, because without running tests we can't be satisfied it actually works, which reduces its usefulness.

And as you said, macOS still works out of the box. We are waiting for CircleCI to release

[2021-05-05 16:35] alcuadrado commented on #11351
The only reason I can think of is because of docker running on an M1 mac. It's really annoying, because switching to arm in a mac is pretty straightforward, except when using docker.

There are probably other reasons though, as some projects, like Node.js were already distributing ARM linux builds.

[2021-05-05 16:55] axic commented on #11351
Are you saying Docker on an M1 mac virtualises ARM and is not running on top of Rosetta? Yeah that may be an annoying situation and a strong enough reason.

Though I personally only used docker once or twice on a mac because it was so dead slow compared to linux.

[2021-05-05 17:28] alcuadrado commented on #11351
Yes, exactly. Docker desktop runs an arm linux vm and the containers inside it.

Yeah, it's annoying. I think the slow down is because of the vm.

[2021-05-05 18:23] chengniansun opened #11353 "ICE due to `calldataEncodedSize()` not being implemented for `MappingType`"
## Description

## Environment

- Compiler version: Version: 0.8.5-develop.2021.5.5+commit.1d1175c2.Linux.clang
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: Linux 5.4.0-66-generic x86_64 GNU/Linux

## Steps to Reproduce

#### Test program: small.sol
[code]
#### Compiler Comma

[2021-05-05 18:32] chengniansun commented on #11353
I am new here. Could someone advise what CXX flags I should use so that the `std::exception::what:` will not be empty.

Thanks.

[2021-05-06 08:32] hrkrshnn commented on #11353
@chengniansun Thanks for the bug report. The empty `std::exception::what` is expected. An assert (https://github.com/ethereum/solidity/blob/develop/libsolidity/ast/Types.h#L228) fails, because that function is not expected to be called.

[2021-05-06 08:44] #10349 closed, assigned to mijovic

[2021-05-06 15:11] remedcu opened #11354 "calldata is said to be non-modifiable in docs, but inside function it is editable."
## Description

According to documentation:

Source: https://docs.soliditylang.org/en/v0.5.17/types.html?highlight=Calldata#data-location

## Environment

- Compiler version: 0.5.17 & 0.8.1 (Tested on both these versions)
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execution environment / backend / blockchain client:
- Operating system: Mac

[2021-05-06 16:29] chriseth commented on #11354
Your code makes no mention of calldata. Please do not confuse the low-level EVM concept of call data and the more abstract notion of function call arguments. `uint256` is a [value type](https://docs.soliditylang.org/en/v0.8.4/types.html#integers) and thus stored on the stack, which is modifiable.

[2021-05-06 16:29] #11354 closed, assigned to nobody

[2021-05-06 23:04] axic commented on #7513
This is now mostly ready, given we have #10475 and the snailtracer has been ported to 0.5.x/0.6.x/0.7.x, however not 0.8.x. It is failing with that with panic code 0x11, e.g. some kind of overflow/underflow. If someone can find the culprit, we could easily add it.

[2021-05-07 12:34] chengniansun opened #11356 "ICE: Throw in function virtual bool solidity::frontend::TypeChecker::visit(const solidity::frontend::VariableDeclaration &)"
## Description

## Environment

- Compiler version: Version: 0.8.5-develop.2021.5.7+commit.518629a8.Linux.clang
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: Linux 5.4.0-66-generic x86_64 GNU/Linux

## Steps to Reproduce

#### Test program: small.sol
[code]
#### Compiler Comma

[2021-05-07 22:22] frangio opened #11358 "Windows build of 0.8.2 seems to lack 0.8.2 features"
I reported this in the chat but I want to leave it here because there may be something wrong in the build pipeline or release process that should probably be looked into.

The Windows build for 0.8.2 doesn't seem to support `@custom` NatSpec tags. Later builds (0.8.3, 0.8.4) do not have this problem.

![](https://user-images.githubusercontent.com/481465/117513931-214c2f80-af69-11eb-91d3-7bf4fc73c2

[2021-05-07 22:32] fulldecent opened #11359 "Docs: NatSpec and/or style guide should specify how multi-line NatSpec works"
Regarding: https://docs.soliditylang.org/en/v0.8.4/natspec-format.html

Many people choose to limit source code line lengths to 79 characters wrap (or some other number). This is an identified best practice in the Solidity Style Guide. And comments can (SHOULD!) be more than just several characters. So...

Let's specify how longer comments should work:

[code]

# References

- For source code, fou

[2021-05-08 11:18] aybehrouz opened #11362 "Unused parameter warning is unnecessary when the parameter is used in a virtual function's NatSpec"
When a function parameter is not used, Solidity compiler gives a warning. This warning can be suppressed by removing the variable name, but if this variable is used in the function's NatSpec, that will produce an Error:
[code]
For a virtual function which is supposed to be overridden its quite normal to have unused parameters which is also included in the NatSpec documentation.

[2021-05-08 19:30] fulldecent opened #11364 "Undefined behavior for blockhash"
The documentation https://docs.soliditylang.org/en/v0.8.4/units-and-global-variables.html?highlight=block.number#block-and-transaction-properties states:

Here, "only works" is undefined behavior. Please specify if this will return zero (like the Yellow Paper says for the corresponding `BLOCKHASH` opcode, or if it will throw, or if it my toaster will grow arms and slap me.

[2021-05-08 21:07] cameel commented on #11358
I just checked the binary and looks like you're right. It does not support custom tags and is also missing other changes like the `.address` fix from #11009. `--version` still reports `Version: 0.8.2+commit.92b52cbf.Windows.msvc` though.

This is really weird because I remember @chriseth asking me to check it before he added it to solc-bin, and specifically to make sure it supports custom tags. I

[2021-05-08 21:28] cameel opened #11365 "Bytecode check for Windows binaries added to solc-bin"
To avoid problems like #11358 we should make the bytecode check script (#10838) cross-platform and start running the check on Windows binaries as well.

In #10838 I added a bytecode check for old releases in solc-bin. The goal was to verify the rebuilt macOS binaries. I thought it would be a waste not to reuse in some way it so I also hooked it up as a PR check for newly added binaries but this wa

[2021-05-10 08:42] hrkrshnn commented on #11364
@fulldecent Thanks for noticing this. Your proposal sounds good. Would you like to submit a PR?

[2021-05-10 08:52] hrkrshnn opened #11369 "Missing error about recursive type in public state variable"
[code]

The above code is missing an error.

On the other hand,

[code]

has the correct error:

[code]

Was bought up by https://matrix.to/#/!vVfTacneThsGqrLLFd:gitter.im/$m4KcZLxNX08utoQcYsYLb1dWQD_WAAWLJpvMbqYjdyI?via=gitter.im&via=matrix.org

[2021-05-10 09:07] leonardoalt commented on #11369
The type is not recursive though

[2021-05-10 09:44] chriseth commented on #11369
This is not a bug per se, but the error description could be better. The way getter functions are generated from types is a bit weird, which leads to this problem.

[2021-05-10 09:46] chriseth commented on #11356
Probably related to https://github.com/ethereum/solidity/issues/11353

[2021-05-10 09:47] chriseth commented on #11356
Although in contrast to #11353, this code should compile, because the contract is abstract.

[2021-05-10 09:50] chriseth commented on #11358
The problem back then was that the github API was just malfunctioning and returned the wrong commit hash or the wrong code. So the push to fully automate the release process is not a solution to these problems.

[2021-05-10 09:54] chriseth commented on #11346
I'm sorry, but we consider this out of scope. It is true that go-ethereum is written in go, but I don't think this justifies providing a wrapper as part of our core repository.

[2021-05-10 09:54] #11346 closed, assigned to nobody

[2021-05-10 09:55] chriseth commented on #11362
Thanks for submitting this issue! Can you please provide example code to clarify any misunderstandings? For example, do you think it is makes a difference if the virtual function has a body or not?

[2021-05-10 10:21] #11343 closed, assigned to nobody

[2021-05-10 10:28] aybehrouz commented on #11362
This is the code:
https://github.com/aybehrouz/ADAGs/blob/main/contracts/utils/Administered.sol
It's a utility contract which is used for adding the ability to recover trapped tokens in a contract. The default implementation for `canControl` function is retruning `false` which does not use the function's parameter.

At the end, I used an empty  ` `` ` to prevent the NatSpec related error. But the

[2021-05-10 10:33] chriseth commented on #11362
This is a tricky problem, since we do want the warning if the parameter is just used via natspec but not in the code.
Maybe adding code that does `address(_contract);` can be used to disable the warning?

[2021-05-10 10:37] aybehrouz commented on #11362
something like this?
[code]

[2021-05-10 10:39] aybehrouz commented on #11362
I should add that the current source code does not produce any errors or warnings. I think the empty ` `` ` is a better work around maybe.

[2021-05-10 13:18] frangio commented on #11358
Thanks for looking into this! I don't have the time to test the binary from the release page, but if you think that one is correct I agree the solc-bin repo should be updated with that one.

[2021-05-10 14:02] cameel commented on #11358
Here's a PR that puts the release page binary into solc-bin: https://github.com/ethereum/solc-bin/pull/92
I also compared all binaries between 0.8.0 and 0.8.4 between solc-bin and the release page and this is the only one that differs.

[2021-05-10 14:27] chengniansun commented on #11356
An irrelevant question here, I have found several programs trigging the following ICE. Is it a bug, and should I report it?

Thanks.

[code]

[2021-05-10 14:32] chriseth commented on #11356
Fixed point types are not finished yet, so please do not open an issue, we are still working on it.

[2021-05-10 15:11] aybehrouz opened #11373 "try/catch block does not catch the exception caused by EXTCODESIZE check on external calls"
## Description
`try/catch` block is unable to catch an exception.

## Environment

- Compiler version: 0.8.3
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execution environment / backend / blockchain client: Remix
- Operating system: Win10

## Steps to Reproduce

[code]
When `Test.dontFail(addr)` is called with an `addr` which is not a contra

[2021-05-10 15:40] cameel commented on #11373
This is not a bug. `catch` by design can only catch reverts that happen inside the contract you're calling. If the address does not represent a contract, the `CALL` opcode actually reports success (this is a weird quirk of the EVM). This behavior of the opcode is counter-intuitive so high-level external calls in Solidity have an extra check to determine if the call was to a contract or not. It if

[2021-05-10 15:54] aybehrouz commented on #11373
Thanks a lot for your detailed answer.
The problem is that this can easily introduce security bugs. There are situations that you need to make sure an external call can never make your contract fail or your contract will stop functioning forever. You may think(as I did) that with a try/catch block you can prevent your contract from failing (like what you do in all other conventional programming la

[2021-05-10 15:59] leonardoalt commented on #11373
Well, that's the more general problem of making external calls to arbitrary unknown addresses which should be avoided in the first place.

[2021-05-10 16:06] chriseth commented on #11373
@aybehrouz I see that this might seem like the failure is coming from `c` and thus it is an "attack vector" take make `dontFail` fail forever. One could argue that passing `c` (or storing it in storage) is already the problem. As an analogy, if you have a function
[code]
then this function can fail if you pass the "wrong" `x` and there is no possibility to use `try/catch` because the failing code

[2021-05-10 17:01] aybehrouz commented on #11373
@chriseth Thanks for your answer.
@cameel explained the situation very well and I did understand why this is happening. What I am trying to say is that this behavior is really counterintuitive. because a try/catch block is supposed to cover a *region* of code not a function or an operator. A programmer usually tries to handle errors that come from some region of the code. Maybe you should use a di

[2021-05-10 17:51] chriseth commented on #11373
`try/catch` does on purpose not work with regions of code, but only with external function calls. If we use a different term, people will still try to make the connection - "ah, this works just like try/catch in other languages". The edge case of this issue is one of the very small details that can still be considered to be covered by the syntax, and I think we should highlight that in the documen

[2021-05-10 19:43] aybehrouz commented on #11373
oh thanks a lot for pointing out that problem. I really can not find a solution for that. Some internal state needs to be updated and it has to be done for all registered tokens.

However in my case, the admin of the system is me and the ERC20 tokens are stable coins like USDT,DAI,.... I was wondering that if some one stole my private keys what would happen for my contract. Also I'm worried that I

[2021-05-10 20:04] nventuro opened #11375 "solc 0.7.1 - inconsistent bytecode created for identical contract input using standard-json compiler input"
This is essentially the same as https://github.com/ethereum/solidity/issues/9573 - I'm opening a new issue as that one is closed, and the underlying problem already identified. This issue is about this behavior persisting in solc 0.7.1 (as per @chriseth's request [here](https://github.com/ethereum/solidity/issues/9573#issuecomment-680212040)).

I was planning on distributing contract source code f

[2021-05-10 20:27] fulldecent commented on #11364
Yes, thank you for the invitation.

---

First, I'd like to verify the current actual behavior.

Test case:

[code]

Deployed to Ropsten at: https://ropsten.etherscan.io/address/0x02678f4d10e24c58a583c6d55b4a33b10ff3dfee#code

Then I have run it with an input of 888. And Ropsten has more than 888+256 blocks already.

Transaction: https://ropsten.etherscan.io/tx/0x88ddbfe096bd161198f1065c7c1d1466d0

[2021-05-11 04:57] jamesjahng commented on #4988
Is there any update with Korean translation team?

It seems like stopped last 3 years ( v 0.5.0 ↑ )

[2021-05-11 06:00] frankgscott commented on #11373
if someone wants to help me understand any of this I am willing to try and learn and fix this

[2021-05-11 08:11] #11364 closed, assigned to nobody

[2021-05-11 09:12] cameel commented on #11373
@frankgscott There's really nothing to fix here, except for adding a warning about this particular case in the try/catch docs. I think that any "fix" would be a major redesign and it still wouldn't be complete because of cases like out-of-gas mentioned above.

@aybehrouz Just for completeness, another case try/catch will not catch is badly encoded return data from an external call. This could very

[2021-05-11 16:21] marco2357 opened #11378 "Weird behavior in remix-tests when the bytecode is of a certain size"
## Description

I just updated my project to Solidity 0.8.4. I changed this debugging/helper function:

    function ok() public view returns (string memory) {
        return string(abi.encodePacked(
            foo1 ? "XXXXXXXXXXXX" : "",
            foo2 ? "XXXXX" : "XXXX",
            "XXXXXXXX",
            foo3 ? "" : "XXXXXXXXXXXXXXX",
            "XXX",
            foo4,
            "X"

[2021-05-11 19:48] JTorresConsulta opened #11379 "I request for basic operations with decimal numbers"
Hi! I am an advocate for ethereum but some of my projects with Solidity are abandoned because I can't do basic operations with decimals.
I need it to move forward and I would love to be able to launch my projects on the Ethereum network and not on others that allow programming smart contracts that handle decimals.

When do you plan to implement it?

Thank you for the support and the great job.

[2021-05-11 20:11] axic commented on #11379
You can track the progress in #409. In lieu of language support, you can also use some of the existing fixed-point libraries, many of them are listed in this [forum post](https://forum.openzeppelin.com/t/designing-fixed-point-math-in-openzeppelin-contracts/2499).

[2021-05-11 20:11] #11379 closed, assigned to nobody

[2021-05-11 21:14] aybehrouz commented on #11373
@cameel that's very good to know. thanks a lot for adding that useful information.

[2021-05-11 22:00] chengniansun opened #11380 "ICE in `SMTEncoder::visit()`: "Non-local variable assigned in inlined assembly""
## Description

## Environment

- Compiler version: Version: 0.8.5-develop.2021.5.11+commit.643140e2.Linux.clang
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: Linux 5.4.0-66-generic x86_64 GNU/Linux

## Steps to Reproduce

#### Test program: small.sol
[code]
#### Compiler Comm

[2021-05-12 02:53] fulldecent opened #11381 "Cannot NatSpec document a struct return value"
# Test case

[code]

# Discussion

Public state variables are allowed to have `@return` as per https://docs.soliditylang.org/en/v0.8.4/natspec-format.html?highlight=natspec#tags

If returning a `struct` from a public state variable, which is common for arrays and mappings, JSON ABI (and Solidity) treat the output as a tuple.

# Expected outcome

This should compile.

Also, we should consider allow

[2021-05-12 09:07] ekpyron opened #11382 "Consider marking potentially non-deterministic tests as "experimental"."
There are known non-determinism problems with ``yulOptimizerTests/reasoningBasedSimplifier/addmod``, even with a matching version of Z3.
While they are "mostly harmless" to us, this is causing issues for package maintainers, see https://github.com/NixOS/nixpkgs/issues/122568.

If we can't solve the non-determinism, we should probably either remove the test or introduce a new boost test label like

[2021-05-12 17:42] fvictorio opened #11387 "Add selector for custom errors in compiler output"
## Abstract

Add the selector of a custom error to the `sources.contract.ast` entry of the compiler output, similar to how functions have a `functionSelector` property.

## Motivation

To detect which custom error was thrown, you need to inspect the return data of a revert and check the first four bytes to see which signature they match. If a tool wants to use the compiler output to detect this au

[2021-05-13 01:40] agroce opened #11389 "[SMTChecker] SMT logic error during analysis in static solidity::smtutil::Expression solidity::smtutil::Expression::int2bv(solidity::smtutil::Expression, size_t)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer, now with a few more mutation operators

## Environment

- Compiler version:  0.8.5-develop.2021.5.13+commit.98e2b4e5.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or

[2021-05-13 16:46] axic opened #11390 "Implement support for London"
Most of the [London](https://github.com/ethereum/eth1.0-specs/blob/master/network-upgrades/mainnet-upgrades/london.md) changes will not affect us (based on the [latest testnet](https://github.com/ethereum/eth1.0-specs/blob/master/network-upgrades/client-integration-testnets/baikal.md):
- [EIP-1559](https://eips.ethereum.org/EIPS/eip-1559)
- [EIP-3198](https://eips.ethereum.org/EIPS/eip-3198)
- [EI

[2021-05-13 16:54] axic commented on #11060
So `tx.to` is considered implicitly part of the access list, this was properly added in #11286. This means that account will be "warm" by default.

However it seems that access lists will not be widely used anytime soon (outside of cases where it is required due to quirky contracts), since it charges for `tx.to` which diminishes its cost benefit. See [EIP-3521](https://eips.ethereum.org/EIPS/eip-3

[2021-05-14 14:28] YiwenDong98 commented on #11353
We also found something similar.
#### Code
[code]
#### Environment
- Compiler version: Version: 0.8.4+commit.c7e474f2.Linux.g++
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- OS: docker image ethereum/solc:0.8.4

#### Output
[code]

[2021-05-14 17:06] axic commented on #11323
I would propose that we could start issuing a warning for when someone uses an imported source which defines `pragma abicoder v1;` explicitly, while the outside is v2 (by default or explicitly).

We should have made this a warning with 0.8.0. It is not something which existed prior, as v1 was implicit and no explicit marking existed for it. I wonder if there is any legitimate use case where this s

[2021-05-15 00:51] loqs opened #11398 "Build failure with boost 1.76"
## Description

After updating to boost 1.76 solidty v0.1.4-15954-gf58d58738 fails to build with what appears to be a type conversion issue.

## Environment

- Compiler version:
NA
- Target EVM version (as per compiler settings):
NA
- Framework/IDE (e.g. Truffle or Remix):
NA
- EVM execution environment / backend / blockchain client:
NA
- Operating system:
Arch linux.
gcc 10.2
boost 1.76
## Steps

[2021-05-15 20:16] hacker-DOM commented on #8146
I made a simple utility that aspires to be a temporary solution for this issue https://github.com/hacker-DOM/sol-env

[2021-05-15 22:51] axic commented on #11398
@loqs can you try compiling the PR #11399? I did not have time to install boost 1.76 locally, but I think this should fix it.

[2021-05-16 11:24] axic commented on #11398
Can you try the change in #11399 ?

[2021-05-16 13:59] loqs commented on #11398
#11399 fixed the build failure.  Thank you very much for the fast fix.

[2021-05-16 21:51] axic commented on #11398
Thanks for reporting back! While it may be good enough using it for development purposes, please do not use that PR/commit for any production code. Hopefully it will be merged in the coming week and will be part of the next release. Regular releases are made every 2-4 weeks, so it should be out soon.

[2021-05-17 00:26] edaj965 opened #11401 "799943"
## Page

## Abstract

## Pull request

[2021-05-17 01:43] #11401 closed

[2021-05-17 01:43] cameel commented on #11401
Looks like spam.

[2021-05-17 12:32] #11336 closed, assigned to nobody

[2021-05-17 14:08] cameel commented on #11398
Looks like the change in boost was not really intentional but is now considered to be the right behavior anyway: https://github.com/boostorg/multiprecision/issues/324.

[2021-05-17 17:03] agroce opened #11404 "[SMTChecker] SMT logic error in solidity::smtutil::Expression solidity::smtutil::operator==(solidity::smtutil::Expression, solidity::smtutil::Expression)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer, now with a few more mutation operators

This is quite similar to #11389 but with a different failure symptom for the different size for some reason.

## Environment

- Compiler version:  0.8.5-develop.2021.5.17+comm

[2021-05-17 17:11] leonardoalt commented on #11404
Thanks @agroce !

Just an fyi, we are in the process of deprecating `pragma experimental SMTChecker;`. It will still work before 0.9.0, but will be removed then. The new way to activate the SMTChecker is via the CLI option `--model-checker-engine {all,bmc,chc}` or the JSON option `settings.modelChecker.engine={all,bmc,chc}`.

[2021-05-17 17:20] agroce commented on #11404
@leonardoalt any chance solfuzzer will try it by default?

[2021-05-17 17:21] agroce commented on #11404
(presumably without the backend, since actually running z3 would slow down fuzzing throughput too much, I'm guessing, and mostly be z3 errors, not solc errors)

[2021-05-17 17:28] fvictorio opened #11405 "Improve error message for missing data location in `catch Error(string reason)`"
## Abstract

The solidity compiler should show a better error for the `catch Error(string reason)` fragment.

## Motivation

If you compile this code:

[code]

the error message is:

[code]

This is misleading since in this case only `memory` is a valid data location. I guess this is happening due to some code reuse, but since this is a special syntactic construct, it should be possible to detect

[2021-05-17 17:39] leonardoalt commented on #11404
@agroce try the pragma by default? I think @bshastry did some work replacing the pragma by the compiler option, but I'm not sure now

[2021-05-17 17:40] agroce commented on #11404
I was thinking have solfuzzer run the input under various --model-checker-engine options, at least the front end.  it's a bug-rich environment, and without any back-end, I would imagine the cost wouldn't be too bad

[2021-05-17 17:41] agroce commented on #11404
if solfuzzer is already doing this, I should redo my setup, since I'm producing pragma'd versions of the test corpus as an initial stage

[2021-05-17 17:41] agroce commented on #11404
(actually, I guess it can't be:  there are test inputs that I include in the corpus that I know fail if you add pragma SMTChecker)

[2021-05-18 09:21] leonardoalt commented on #11404
@agroce sorry, I don't think I fully got what you meant.

The pragma still works for now, so it's fine to keep including it until 0.9.0.

I'm not sure whether solfuzzer is currently using the pragma or compiler option.

[2021-05-18 10:36] #11398 closed, assigned to nobody

[2021-05-18 15:01] aress31 commented on #72
+1 modifier overload would be super useful, e.g.:

[code]

[2021-05-18 18:34] axic commented on #11378
Sorry for the delay, but any chance you can share the source code? Obviously a smaller reproducible snippet is better, but it is really hard to do anything without seeing it happen in person.

If you could share two versions, one which produces the issue and which doesn't that would be the best.

[2021-05-18 19:02] axic commented on #11174
I guess we need to improve the analyzer to issue a nicer warning. That may be difficult though as we do not maintain yet such contextual information about builtins, i.e. what is used already and any dependencies/exclusions.

Probably the solution would be having an optional analyzer step exposed by the dialect, which could deal with such complex scenarios.

These builtins are only available in the

[2021-05-18 19:06] axic commented on #11148
At the minimum we could improve the message as it is not clear what it means. Also I listed a potential solution in https://github.com/ethereum/solidity/issues/11174#issuecomment-843455476

[2021-05-18 20:16] agroce commented on #11404
I'm pretty sure the pragma right now.

[2021-05-19 00:46] zemse opened #11407 "Allow specifying parameter name in public mappings"
## Abstract

[code]

Since there is no param name, tools like typechain by default fill the param as `arg${i}`

[code]

I understand it's not a big deal, but it'd be great to have a relevant param name like `userAddress` instead of `arg0` here. In cases where there are nested mappings (multiple inputs), parameter names can show up when hovered on the method, it can quickly help to understand which

[2021-05-19 01:58] cameel opened #11408 "Stripping --base-path from CLI paths + CLI path normalization (path spec v3)"
Closes #4702.
Related to #9353.
Part of a set of issues that replaces #11138.

## Abstract
Currently the paths specified on the command line are used directly as source unit names in compiler's virtual filesystem. This means that the paths embedded in contract metadata (and as a consequence also the generated bytecode) can be different depending on where the compiler is invoked from and whether an

[2021-05-19 02:15] cameel opened #11409 "Search path for libraries (path spec v3)"
Depends on #11408.
Related to #9353.
Part of a set of issues that replaces #11138.

## Abstract
Add `--include-paths` option which specifies a list of directories from which files can be loaded using relative paths (in addition to `--base-path`). This is meant to be similar to `$PATH` variable in the shell or `$PYTHONPATH` in Python.

The new feature makes it possible to reliably use relative path

[2021-05-19 02:31] cameel opened #11410 "Disallow absolute import paths (path spec v3)"
Closes #9346.
Depends on #11409.
Part of a set of issues that replaces #11138.

## Abstract
Disallow absolute paths in the virtual filesystem to make it harder to create non-portable metadata containg system-dependent paths.

## Motivation
Absolute paths are in most cases different on every machine (especially when they include the path to user's home directory) and using them results in non-repro

[2021-05-19 02:43] cameel opened #11411 "Import path normalization (path spec v3)"
Closes #5146.
Related to #2738.
Part of a set of issues that replaces #11138.

## Abstract
Compiler's virtual filesystem currently makes very little assumptions about source unit names. Nearly anything is allowed and different names that would refer to the same file in the actual filesystem are considered different. This is not intuitive to users who mostly expect import paths to work like paths i

[2021-05-19 02:50] cameel opened #11412 "Detect platform-dependent paths in default file loader (path spec v3)"
Related to #6608 and https://github.com/nomiclabs/hardhat/issues/538.
Part of a set of issues that replaces #11138.

## Abstract
Currently the default file loader interprets the source unit names it receives as platform-dependent paths. For example on case-insensitive filesystems it resolves file names in a case-insensitive way and on Windows it recognizes backslashes as valid path separators. Thi

[2021-05-19 02:58] cameel opened #11413 "Better path-related error messages (path spec v3)"
Related to #11042.
Part of a set of issues that replaces #11138.

## Abstract
Provide clearer error messages when the compiler fails to load a file. The current ones can be cryptic and hard to make sense of without knowing how the compiler internally handles paths and imports.

## Motivation
The best example of a confusing error message is probably `Cannot import url ("test.sol"): File import call

[2021-05-19 03:00] cameel commented on #11138
Closing in favor or smaller issues addressing individual points: #11408, #11409, #11410, #11411, #11412, #11413.

[2021-05-19 03:00] #11138 closed, assigned to cameel

[2021-05-19 09:46] hrkrshnn commented on #11405
It seems like this is just a bug:

Removing the following line should fix it.

https://github.com/ethereum/solidity/blob/develop/libsolidity/ast/AST.cpp#L700

[2021-05-19 12:42] axic commented on #11175
Possibly duplicate of #9470

[2021-05-19 12:44] bshastry opened #11414 "[Sol->Yul] Reverts due to underflow because of evaluation order"
[code]

This test fails via Yul because of a change in evaluation order, the post decrement is evaluated first by the new code generator and because this results in an underflow/wraparound, the call reverts. The old code generator (due to eval being the other way round) does not revert and successfully executes through as expected.

I suppose this is another way of exposing different evaluation or

[2021-05-19 12:46] bshastry commented on #11414
The way to make the divergence between old and new code gens go away would be wrapping the return statement in an unchecked block so the underflow would not revert

[code]

[2021-05-19 12:58] franzihei opened #11415 "[Docs] Implement code examples to be opened/importable in Remix"
It would be nice to be able to directly open the code examples in the Solidity documentation in Remix (e.g. by clicking "open in Remix").

We need to find out how that would be possible in Remix.

[2021-05-19 13:05] axic commented on #11175
Extended tests and it seems this problem only shows up when accessing nested data objects. It is not related to being empty, but rather accessing nested data is not working.

[2021-05-19 22:37] cameel commented on #11415
We already have a script that extracts all the snippets from the docs and I see that Remix can load files from various sources (gists, github repos, IPFS, Swarm) so we would just have to create a CI job that uploads the extracted snippets somewhere on new release.

Then the problem is how to link to them directly. Looks like you can tell Remix to load a specific gist, e.g. https://remix.ethereum.o

[2021-05-19 22:52] cameel commented on #11415
We would also need something to automatically insert links to individual snippets next to them in the docs. I did a quick search but I could not find any tool that would do it for us out of the box. I'm afraid we might have to create a custom Sphinx plugin to do that. I found one that might serve as a base: [sphinxawesome-codelinter](https://github.com/kai687/sphinxawesome-codelinter). It's a lint

[2021-05-19 23:34] dileepfrog commented on #10354
I am hitting this issue as well using Solidity 0.8.4, in which AbiEncoderV2 is enabled by default. Given that struct arguments are now an accepted pattern and that there is really only one coverage tool in the ecosystem AFAIK (thanks @cgewecke!) perhaps this can be solved by adding a flag to the optimizer that selectively ignores particular no-ops for instrumentation purposes?

Or perhaps only the

[2021-05-20 00:52] dileepfrog commented on #10354
After playing with this for a while disabling the "peephole" optimizer switch while leaving the optimizer on no longer stripped the trace function calls from contracts, although hit maps were not populated for library functions invoked via DELEGATECALL - is the latter a known issue already?

[2021-05-20 02:12] cgewecke commented on #10354
@dileepfrog

No, not as far as I'm aware. Could you give an example of that usage? Is it typical of library calls or something unusual you're doing?

If it's possible to mostly resolve this by setting the config correctly as you suggest that would be great.

[2021-05-20 08:55] franzihei commented on #11415
Just talked to Yann about this. He said the easiest way would be to write a script to do the following:
1. Take the Solidity code
2. Encode it (https://www.base64encode.org/)
3. Go to ``remix.ethereum.org/?code=[encoded code here]``

We could probably write some automation to do this, or?

[2021-05-20 09:05] chriseth commented on #11408
Does this also include "default --base-path to current directory"? Otherwise, this would worsen the situation when you use `solc x.sol`.

Can you also expand the specification to which logic is applied for the file load callback (or just explain how it behaves wrt base path currently)?

[2021-05-20 09:09] chriseth commented on #11409
Can you clarify the relation between base path and include path? Is `--base-path X --include-paths Y:Z` equivalent to `--include-paths X:Y:Z`?

Also, do we really want to use `:` as a separator? This could be hard on windows. What about using multiple `--include-paths` options instead?

[2021-05-20 09:09] franzihei commented on #11415
This is solved with the encoded code option, where you land directly in the editor, e.g. see: https://remix.ethereum.org/?code=Ly8gU1BEWC1MaWNlbnNlLUlkZW50aWZpZXI6IEdQTC0zLjAKcHJhZ21hIHNvbGlkaXR5ID49MC40LjE2IDwwLjkuMDsKCmNvbnRyYWN0IFNpbXBsZVN0b3JhZ2UgewogICAgdWludCBzdG9yZWREYXRhOwoKICAgIGZ1bmN0aW9uIHNldCh1aW50IHgpIHB1YmxpYyB7CiAgICAgICAgc3RvcmVkRGF0YSA9IHg7CiAgICB9CgogICAgZnVuY3Rpb24gZ2V0KCkgcHVib

[2021-05-20 09:15] chriseth commented on #11411
To be honest, I would prefer the simpler solution where it is just an error to have a non-leading `.` or `..` component inside an import path.

[2021-05-20 09:17] chriseth commented on #11412
Maybe we should just disallow `\\` in import statements (or warn about them)?

[2021-05-20 09:17] chriseth commented on #11412
About the case, I'm not so sure, it could create problems with recompilation on a case-insensitive file system.

[2021-05-20 11:48] cameel commented on #11415
Oh, I did not know it can do that. This seems to be an undocumented query parameter. I originally wanted to suggest something like that (e.g. https://godbolt.org has something similar for C++) but I thought this feature does not exist in Remix. If it does then great.

[2021-05-20 12:43] chriseth opened #11417 "Make use of inline assembly dialect for memory safety"
**Background**

When the inline assembly statement was created, we reserved a string literal whose purpose it was to specify a dialect for the inline assembly. Currently, only leaving it out or using `"evmasm"` is valid, everything else will lead to an error:

[code]

**Problem that This Issue wants to Solve**

When compiling via yul, we often use more local Yul variables and thus the stack pressu

[2021-05-20 12:44] chriseth commented on #11417
@axic mentioned that there could be other values for the dialect string for other uses.

[2021-05-20 13:00] chriseth commented on #11415
Oh nice! New we only need to find out how to add the appropriate buttons / links to the documentation.

[2021-05-20 14:43] chriseth commented on #11084
In the discussion today the idea came up to have a special setting that tries to find the largest value for "runs" that still keeps all the involved contracts inside the code size limit. This could be a binary search that only repeats the steps that depend on the parameter, although that could be difficult as soon as the yul optimizer is used.

[2021-05-20 14:46] chriseth commented on #11414
The evaluation order inside expression is documented to be unspecified for the old code generator and it is documented that there can be differences between the old and the new code generator. In my opinion, it is also very bad coding practice to rely on the evaluation order. In my opinion, this issue can just be closed, I don't think we can or should do anything about it, unless you have an idea.

[2021-05-20 14:48] chriseth commented on #11405
Looks like the right fix, please create a PR, @hrkrshnn

[2021-05-20 14:58] chriseth commented on #11378
To me it's not clear what the actual error is you are describing. Your conclusion is "byte code corruption", but the error is " it fails reproducible at a different/independent location". What do you mean by "reproducible"?

Note that `bytes.concat` does not generate exactly the same bytecode as `abi.encodePacked`.

[2021-05-20 15:31] dileepfrog commented on #10354
@cgewecke I tried creating an isolated example repo to demo this, however disabling the peephole optimization no longer preserved the trace statements leading to 0 hits across the board - so perhaps simple config modifications are not a complete solution here (I also disabled all of the Yul steps leaving only `stackAllocation` enabled).

I think it would be a great thing for the community to have

[2021-05-20 15:56] dileepfrog opened #11418 "Optimizer details does not allow `inliner` flag"
## Description

The JSON input [documentation]( https://docs.soliditylang.org/en/v0.8.4/using-the-compiler.html#input-description ) shows a boolean flag `inliner` under `settings.optimizer.details`. However setting this flag causes the error `CompileError: Unknown key "inliner"`. A cursory glance at the code shows that it is indeed not included in the keys [here](https://github.com/ethereum/solidi

[2021-05-20 16:12] cgewecke commented on #10354
@chriseth

RE: the meaning of the `ComplerError` you said above that...

Could you explain this in a little more depth?

Does it mean either of the following?
+ If the total size of the abi *for a given contract* were smaller the error could be avoided?
+ If the total size of the compilation set (e.g. all contracts) were smaller the error could be avoided?

If so that can (likely) be managed on so

[2021-05-20 16:52] dileepfrog commented on #10354
My understanding of this issue is that the error actually emanates from compilation of the Yul intermediate representation (IR) of a single function rather than from compilation of its Solidity code, making it difficult to track down where exactly it's coming from in the source. Setting `settings.optimizer.details.yulDetails.stackAllocation` to true fixes the error, but this cannot be enabled with

[2021-05-20 17:30] bshastry commented on #11414
Yes, this is documented behavior. I created this issue because I didn't expect code that runs on one code gen to revert on another. I had assumed that such behavior is indicative of a bug but clearly other things can cause it as well. I am fine with closing this issue.

At the moment, I am thinking how to filter out false positives like this generated by the fuzzer. I don't have a solution yet.

[2021-05-20 17:57] dileepfrog commented on #10354
I put together a [repo](https://github.com/dileepfrog/solidity-coverage-delegatecall) that demonstrates the issues at hand:

1) Running coverage will throw the Yul error mentioned by the OP here.
2) Modifying [this line](https://github.com/sc-forks/solidity-coverage/blob/master/plugins/truffle.plugin.js#L94) to `config.compilers.solc.settings.optimizer.details = { peephole: false };` will fix the

[2021-05-20 19:08] axic commented on #11418
Good catch!

[2021-05-20 21:07] cameel commented on #11408
Good point. I did not take that into account. The default for `--base-path` is an empty path and this proposal does not change that so nothing would be stripped from CLI paths by default. `solc x.sol` would unfortunately give you an absolute path in metadata.

In that case I think we should treat empty `--base-path` specially. I.e. when it's empty strip current working directory instead.

A better

[2021-05-20 21:09] cameel commented on #11409
Base path basically becomes the first include path. The only difference between it and other include paths is that it can be empty.

It makes it almost redundant and we could remove it if we really wanted to but keeping it makes things backwards-compatible. Anyone already using `--base-path` today will be able to keep using it without any changes. I think it's also more convenient that way - you d

[2021-05-20 21:29] cameel commented on #11409
Updated the description. `--include-paths` now accepts a single directory and can be used multiple times. It's canonicalized the same way as `--base-path`.

I also removed the remark about disallowing duplicates. You could have something like `solc -I project/ -I /home/user/project/` and it would suddenly fail when you go to `/home/user/` because now both `project/`s are the same directory.

[2021-05-21 05:20] tlatkdgus1 opened #11425 "Violate Style Guide in Example Code"
## Page

[Style Guide](https://docs.soliditylang.org/en/v0.7.4/style-guide.html)

## Abstract
Violate Style Guide in Example Code
Docs version: under 0.7.5

Docs notice use mixedCasein modifier, but Example code use not mixedCase

[code]

## Pull request

[2021-05-21 11:52] axic opened #11427 "[isoltest] Support comments between expectations"
This would increase readability in bigger tests, such as those in `semanticTests/externalContracts`.

[code]

The proposed syntax is `-- text`. Note that there is already `# test #` as a syntax which works at some places and not others. It would be fine making that work properly on new lines too.

[2021-05-21 12:41] #11310 closed, assigned to nobody

[2021-05-21 13:14] axic commented on #11407
It actually involves a bit more than that. The ABI of the generated accessors (in case the `public` visibility) should also keep the name.

Would that cause any issue to tools, or only improvement?

e.g.
[code]
generates
[code]

The `name` fields there would also be filled out.

[2021-05-21 13:16] axic commented on #11407
I think this is a good idea and do not see any syntactical issue yet.

However, I wonder regarding strictness:
1) Allow no names (backwards compatibility)
2) Allow names in any location and assume empty name where unspecified
3) If a name is present at one location, require if for all entires

I guess we want to have 1) the very least in the short term, but since we allow unnamed parameters in fun

[2021-05-21 15:51] #11418 closed, assigned to axic

[2021-05-21 16:56] cameel commented on #11407
Just a note to anyone implementing this in the future: remember about shadowing (#9231).

[2021-05-21 17:23] cameel commented on #11427
`--` looks good to me. Something like `#` or `##` would look more like a comment but stands out less:

[code]

Something that would help even more would be ability to add empty lines:
[code]

[2021-05-21 17:32] axic commented on #11427
Yes, in my example branch (#11426) I used empty lines, but removed them since.

[2021-05-21 17:59] cameel commented on #11427
Having just reviewed it, I think it would have been easier with those empty lines :)

[2021-05-21 18:03] axic commented on #11427
My motivation exactly 😅  It is a pain dealing with that currently.

[2021-05-22 13:16] s3hMC commented on #232
How about now?

[2021-05-22 13:41] axic commented on #232
That status is still the same as in https://github.com/ethereum/solidity/issues/232#issuecomment-464729858:

[2021-05-22 18:04] Uttam-Singhh commented on #10308
Is this issue solved or I can work on it??

[2021-05-22 19:52] elee1766 commented on #7763
this sounds super exciting!!! woohoooo

i was trying to run solc --lsp with the @xcxyzyyz syntax, but it throws an angry message at me saying that input-file and lsp are mutually exclusive. seems like what ur planning will make that a non-issue

[2021-05-22 20:29] s3hMC commented on #232
That's unfortunate.

[2021-05-22 23:35] alcuadrado opened #11429 "CORS errors when trying to access binaries.solidity.org form a browser"
## Description

I'm trying to get Hardhat to work with https://stackblitz.com, but it's failing to download the compilers because no CORS policy is set up in binaries.solidity.org. I don't see any drawback to setting it to `Access-Control-Allow-Origin: *`

## Steps to Reproduce

Open your browser terminal and run `fetch("https://binaries.soliditylang.org/linux-amd64/solc-linux-amd64-v0.7.3+commit.

[2021-05-23 16:56] qbzzt opened #11430 "[Yul] Add the ability to escape machine language instructions"
## Abstract

It would be very helpful for testing if we could add arbitrary machine language code to a Yul contract. This is important because we need to make sure that even code that is invalid is handled the same by all clients to preserve consensus.

## Motivation

In the tests repository (https://github.com/ethereum/tests) we have to test code that:

1. Contains invalid machine language (to ma

[2021-05-23 17:01] axic commented on #11430
This is covered by #10869 and will be in the next release. Only for Yul and not inline assembly. The syntax for basefee would be `verbatim_0i_1o(hex"48")` and you could write a complete code as:
[code]
or if you wish to encode the entire bytecode:
[code]

Also `basefee` will be added in #11390, though that is no help in the general case.

[2021-05-23 17:01] #11430 closed, assigned to nobody

[2021-05-23 17:02] axic commented on #3215
This has been discussed and eventually implemented in #10869.

[2021-05-23 17:02] #3215 closed, assigned to nobody

[2021-05-23 17:41] cameel commented on #10308
No, no one is working on it right now so if you want to try, feel free :)

[2021-05-23 17:44] Uttam-Singhh commented on #10308
Hey, @cameel I am new to this.
It would be great if you can guide me on how to get started and what I exactly have to do!

[2021-05-23 18:08] cameel commented on #11429
It's already set up to serve those headers. You can check with:

[code]

[code]

For reference, here are the details of our current config, including CORS: https://github.com/ethereum/solc-bin/pull/47#issuecomment-666447083

I tried to reproduce it but I'm having trouble getting that site to work. I chose "JavaScript - blank project" and found the console window but even with all blockers disabled

[2021-05-23 18:44] alcuadrado commented on #11429
Thanks for your answer, @cameel! It now works, I'm really confused. Maybe it was an error on their end that got fixed?

If I open the console in this same page I get the same error I was getting there:

![image](https://user-images.githubusercontent.com/176499/119272709-a8daa500-bbdd-11eb-942d-9170818f321f.png)

but I guess it's because of how github sets up their cors.

[2021-05-23 19:02] cameel commented on #10308
Great! Not sure how familiar you are with linking and library addresses in Solidity. If it's a new topic for you, I'd suggest to start by reading the [Library Linking](https://docs.soliditylang.org/en/latest/using-the-compiler.html#library-linking) section and the chapter on [Libraries](https://docs.soliditylang.org/en/latest/contracts.html#libraries) in the docs.

Here's a general rundown of ever

[2021-05-23 19:21] cameel commented on #11429
Oh, so it's not really CORS but CSP. I.e. it's not our server not issuing a CORS header and blocking a file this way. It's rather their own server attaching a CSP header that tells the browser that they do not want any JS scripts to connect to other places (`connect-src 'self'`). So basically they would have to reconfigure their app to allow fetching files from us.

[2021-05-23 19:26] cameel commented on #11429
Looking closer at that error message, they apparently allow many exceptions - connections to various github URLs and to visualstudio.com. Maybe they would be willing to make an exception for binaries.soliditylang.org too?

EDIT: Just noticed that you were talking about fetching from github. So the CSP comment applies to github. With stackblitz.com, I wonder if it might have been caused for some on

[2021-05-23 19:30] cameel commented on #11429
Given the exceptions for github, getting one of these might work:
- https://github.com/ethereum/solc-bin/blob/gh-pages/linux-amd64/solc-linux-amd64-v0.7.3+commit.9bfce1f6?raw=true
- https://github.com/ethereum/solidity/releases/download/v0.7.3/solc-static-linux

[2021-05-23 19:35] cameel commented on #11429
In that case I'm closing it. Feel free to reopen if it starts happening more often, we can investigate closer then.

[2021-05-23 19:35] #11429 closed, assigned to cameel

[2021-05-23 20:03] alcuadrado commented on #11429
Oh, my bad! I mixed CORS and CSP. Sorry. My guess is that they added an exception, as they were also working on getting this to work. Thanks for your quick responses! I'll let you know if I get to know how it works now.

[2021-05-23 21:28] cameel commented on #11425
Thanks for reporting! This has already been fixed though: #10169. You're linking to the old docs (0.7.4) from before that change. We do not update documentation for old compiler versions.

[2021-05-23 21:28] #11425 closed, assigned to nobody

[2021-05-24 06:47] Uttam-Singhh commented on #10308
Thank you! so much @cameel!
I will start working on this as soon as possible...

[2021-05-24 22:56] dileepfrog commented on #10354
@cgewecke I just confirmed the following changes to the aforementioned line will in fact allow the Yul stack optimizer to run as well as disable removing the trace no-ops. I motion this issue be resolved in light of this and a corresponding one opened for solidity-coverage to add:

[code]

[2021-05-24 23:19] cgewecke commented on #10354
@dileepfrog That's so great!! Wow. Thank you for looking into this :)

~~Closing~~   Continuing at [solidity-coverage 636][1]

(Ooops, not my issue)

[1]: https://github.com/sc-forks/solidity-coverage/issues/636

[2021-05-25 02:32] fulldecent commented on #11253
This is a duplicate of https://github.com/ethereum/solidity/issues/3412. But that issue was apparently closed prematurely, so I'm glad to see this back from the dead.

[2021-05-25 10:54] hacker-DOM commented on #7763
stupid question: will this be "backwards compatible" for previous Solidity versions?

[2021-05-25 11:52] chriseth opened #11436 "Support namehash at compile-time"
In order to at least somewhat support ENS (we cannot fully support it because that creates issues with source verification), we could have compile-time evaluation of the namehash function on string literals.

```bytse32 node = namehash("abc.def.eth");```

Some pointers:
 - https://twitter.com/nicksdjohnson/status/1397012527511334913
 - https://github.com/danfinlay/eth-ens-namehash/blob/master/inde

[2021-05-25 11:53] chriseth commented on #9590
I'm still not sure what this issue is about and what functionality we are really missing here.

[2021-05-25 11:57] axic commented on #11436
Duplicate of #6956 ?

[2021-05-25 13:27] kayafurkan8 opened #11437 "Divide transaction gas fee"
function x(uint256 _value) public {
        limit += _value;
        if(limit >= 5){
            myMethod();
            limit = 0;
        }
    }

I have a method like that(x function). if limit is smaller then 5 everything is OK but the last caller (for example contract has 3 and he will send 2-3 value) it will continue to if statement and it will run myMethod(); so the last caller should pay m

[2021-05-25 14:23] chriseth commented on #11253
I remember that we discussed this, but thinking about it for a minute, I cannot see a reason why this should not be allowed. @ekpyron what do you think?

[2021-05-25 14:31] chriseth commented on #7763
@hacker-DOM unfortunately not.

[2021-05-25 14:32] chriseth commented on #11436
Maybe duplicate, but could also be sub-issue.

[2021-05-25 15:07] ekpyron commented on #11253
Apparently, I was for allowing it at some point in https://github.com/ethereum/solidity/issues/3412#issuecomment-652419856 and @axic half-agreed https://github.com/ethereum/solidity/issues/3412#issuecomment-654928436, but was still sceptical :-). Without thinking about it too long, I also still don't see a reason why not.

[2021-05-25 21:42] haltman-at opened #11440 "Source map jumps back to function definition after bare block"
## Description

This is an issue with source mapping.  Suppose you have a block inside of a function, and this block declares some local variables.  After the block is finished, these variables need to be popped off the stack.  But the way the resulting `POP` instructions get mapped is a little messed-up.

If the block is an `if`, `while`, or `do` block, then these `POP`s get mapped to `if`, `whil

[2021-05-26 08:34] chriseth commented on #11440
It looks like the source location of a bare block is never set... Thanks for reporting!

[2021-05-26 11:42] chriseth commented on #6485
@MrChico is https://github.com/ethereum/solidity/pull/8868 sufficient for your needs for now? I would prefer to close this issue and create new issues for further features.

[2021-05-26 11:43] cameel commented on #11412
AFAIK the most commonly used case-insensitive filesystems are at least [case-preserving](https://en.wikipedia.org/wiki/Case_preservation). So user would not get this warning just by checking out code in git. He would have to e.g. use one case to name the file and a different case in the import. And then wonder why the code does not compile on Linux.

I think that the biggest argument for this is t

[2021-05-26 11:50] cameel commented on #11411
I'd be fine with that too but what about the other points?
- Multiple slashes? I think we should either disallow or normalize them.
- Leading `./` and `../` in the VFS? These create weird effects when you have relative imports and you can add them to the VFS only via Standard JSON anyway so it would not be a big loss in my opinion.

[2021-05-26 15:03] prestige-club opened #11445 "ICE when calling an unimplemented virtual function via super"
## Description

Trying to call super in a contract with multiple inheritance throws an InternalCompilerError with no message.
In my case, it appeared when overriding a function of a parent class and implemented interface and then calling super on that same function.

## Environment

- Compiler version: 0.8.1 (also appears at least on 0.8.4 and 0.6.1)
- Target EVM version (as per compiler settings)

[2021-05-26 15:22] cameel commented on #11445
Thanks for the report! I can confirm that this still happens on 0.8.4 and affects the new codegen too:
[code]

The problem appears to be not the multiple inheritance by itself but the fact that `I.x()` (which has no implementation) comes before `A.x()` in the [C3 linearization order](https://docs.soliditylang.org/en/latest/contracts.html#index-21). The code generator tries to replace `super.x()` w

[2021-05-26 17:00] cameel commented on #11184
One thing that I just ran into (https://github.com/ethereum/solidity/pull/11050#discussion_r639926610) that should also be mentioned in the docs too: parameters of an external function type are not a part of the signature. So all of these have the identical signature:

[code]

[2021-05-26 18:16] cameel opened #11446 "Bad link to Keyword Index from pages inside internals/ section in the docs"
1. Go to one of the documentation pages that have links with `internals/` in the URL. For example [Cleaning Up Variables](https://docs.soliditylang.org/en/latest/internals/variable_cleanup.html).
2. Click the [Keyword Index](https://docs.soliditylang.org/en/latest/internals/genindex.html) link in the menu.

Result: the link leads to a page that does not exist. The correct link is https://docs.soli

[2021-05-26 19:06] barakman opened #11447 "Support safe shift-left in solc 0.8.x"
## Abstract

The shift-left operation can overflow.

Yet, unlike all other arithmetic operations of this nature, shift-left does not revert upon overflow.

## Motivation

Starting from solc 0.8.0, every arithmetic operation which has the potential to overflow, reverts upon overflow.

Every arithmetic operation - except for shift-left.

In other words, every expression consisting of `<<` or `<<=` m

[2021-05-27 09:31] chriseth commented on #11447
Can you provide some examples where the "overflow" check for shift would be useful? Since shifts operate on the bit-representation, we assumed that truncation is the expected behaviour. I currently cannot think of a situation where you would want to check for bits being shifted out of the range.

Also, just for clarification, I myself consider shift a bit operation instead of an arithmetic operati

[2021-05-27 10:03] barakman commented on #11447
Consider a function which computes the integer division of a 512-bit dividend by a 256-bit divisor.

If the result of the computation is larger than 256 bits, then we want this function to revert.

Here is the function, which implements a simple long-division method:
[code]
Note that we have two shift-left operations in the function above:
- `1 << bits`
- `y << bits`

The purpose of `y << bits`, j

[2021-05-27 12:35] hrkrshnn commented on #11447
@barakman While this does not answer you question, if you need overflow checking for `1 << bits`, you can replace it by `2**y`. For the IR based codegen and yul optimizer (`--experimental-via-yul`), it would actually lead to efficient codegen. That is, change the exponentiation to `shl`, except that it reverts on overflow. Unfortunately, for the current code gen, the `exp` still remains (need to i

[2021-05-27 12:57] barakman commented on #11447
@hrkrshnn:
My purpose in this feature request is not to seek a solution for asserting on shift-left, but rather to align the behavior of this arithmetic operation, with the behavior of all other arithmetic operations **at the compiler-level** (behavior under the context of overflow handling of course).

My concern is that for those who are oblivious of this inconsistency, thus assuming `<<` to rev

[2021-05-27 15:10] hrkrshnn commented on #11447
I agree that the behaviour of shifts doesn't fit with the rest. In fact, at least two other users have pointed this out recently. Perhaps we should indeed consider reverting shifts.

[2021-05-27 15:21] cameel commented on #11409
A change after today's call: the compiler should not stop after finding a file in one of the include directories and instead report a warning if there's another match in a different include directory.

[2021-05-27 15:24] barakman commented on #11447
@hrkrshnn:
All of that being said, I do have to agree with the point made earlier by @chriseth, because the shift-left operation is often regarded as a bit-wise operation rather than an arithmetic operation, in the sense that it is not designated for a quantitive computation, but rather for retrieving a specific part in the 2s-complement representation of an integer, in which case, the term 'overf

[2021-05-27 15:41] cameel commented on #11410
We talked about this on today's call but did not make a decision yet. It's at least clear that we do not want this to be a sudden change that catches anyone by surprise. If we want to get it through, we need to reach out to frameworks first and help them get rid of absolute paths from metadata. Only then it would be feasible to phase out paths starting with `/`.

Reporting warnings instead of erro

[2021-05-27 15:42] cameel commented on #11411
We decided to put off work on this for now. We want to deal with #11408, #11409 and #11410 first and go back to this once that's done and working.

[2021-05-27 15:43] cameel commented on #11412
We decided to put off work on this for now. We want to deal with #11408, #11409 and #11410 first and go back to this once that's done and working.

[2021-05-27 15:43] cameel commented on #11413
We decided to put off work on this for now. We want to deal with #11408, #11409 and #11410 first and go back to this once that's done and working.

[2021-05-27 15:47] cameel commented on #11413
Actually, there's nothing to discuss in this one - it's just a straightforward cleanup of error messages (@chriseth even said it looked good earlier on gitter) so I think I'll keep this one in the implementation backlog.

[2021-05-27 16:13] axic commented on #11409
Warning or error? I think we were leaning towards error for the beginning.

[2021-05-27 16:17] cameel commented on #11409
I think @chriseth in the end said that we should print something but still proceed using the first file found.

[2021-05-27 16:18] cameel commented on #11409
A, I see what you mean. I wrote "warning" in the comment but still said that it should fail in the description. I'll fix that :)

[2021-05-27 23:01] psytron commented on #7763
Will this handle symlinks?

[2021-05-28 15:20] barakman commented on #11447
The more I think about this feature, the better off the compiler will be without it.

But the fact that shift-left does not revert on overflow should really be stated in the documentation.

[2021-05-30 01:43] cameel commented on #7763
I don't see why it wouldn't. The compiler follows symlinks and the LSP uses the same code for loading files.

[2021-05-30 11:02] Elyx0 commented on #2691
So doing
[code]

[2021-05-30 13:06] cameel commented on #2691
@Elyx0 Starting with 0.7.0 the compiler no longer issues this warning for virtual functions.

[2021-05-30 13:20] akiraplusplus opened #11452 "ReasoningAnalyzer issue"
The ReasoningAnalazer is an optimizer component to be used as a base class. It traverses the AST and records relations between SSA variables (it ignores everything that is not an SSA variable) and the state of storage and memory using a reasoning engine. The reasoning engine is exchangeable: It can use both an LP solver and an SMT solver.

[2021-05-30 14:54] marco2357 commented on #11378
I attached a "minimal" example: [problem.tar.gz](https://github.com/ethereum/solidity/files/6566358/problem.tar.gz)

`tar xfz problem.tar.gz`
`cd problem`

`remix-tests --optimize true --runs 200 test/SellAtMarket_test.sol`
Error: The contract code couldn't be stored, please check your gas limit.

Increase the gas limit the ugly way (I didn't find a better way):
`vi node-v14.16.0-linux-x64/lib/nod

[2021-05-30 18:00] cameel commented on #11378
The fact that just changing the value of `--runs` makes the test pass/fail is very weird. I managed to reproduce it and spent quite a bit of time trying to figure out what's going on and looks like it's not related to `bytes.concat()`. It fails only when the bytecode has a very specific length. If you replace the `bytecode.concat()` call in your `OpenEndKnockOutWarrant.description()` function with

[2021-05-31 08:39] hrkrshnn commented on #11452
What is the issue?

[2021-05-31 08:54] #11452 closed

[2021-05-31 08:58] hrkrshnn commented on #11437
Please ask such questions in the gitter or matrix chat:

https://gitter.im/ethereum/solidity
https://matrix.to/#/#ethereum_solidity:gitter.im

[2021-05-31 08:58] #11437 closed, assigned to nobody

[2021-05-31 11:02] MrChico commented on #2675
Just want to chime in and say I am also interested in disabling/hiding certain warnings. Case in point
[code]
are irrelevant for testing contracts that will never be deployed.

But without derailing the discussion to this specific example, I just want to emphasize the general point – being able to filter warnings for signal from the noise is highly useful, and different developers value warnings d

[2021-05-31 11:16] cameel commented on #2675
@MrChico We have a separate issue about the code limit: #10981. Maybe you could add some feedback there?

[2021-05-31 12:29] #11446 closed, assigned to christianparpart

[2021-05-31 12:31] #11405 closed, assigned to hrkrshnn

[2021-05-31 12:38] #6902 closed, assigned to aarlt

[2021-05-31 13:35] #11356 closed, assigned to hrkrshnn

[2021-05-31 14:06] cameel commented on #11378
Issue reported in Remix: https://github.com/ethereum/remix-project/issues/1246. Hopefully they can help debug this.

[2021-05-31 14:32] #10939 closed, assigned to mijovic

[2021-05-31 14:32] #10940 closed, assigned to mijovic

[2021-05-31 14:34] mijovic commented on #10941
There might be some other places where it still happens, but since the two which are listed are solved, I'm closing this one now.
We can reopen with new cases if needed

[2021-05-31 14:34] #10941 closed, assigned to nobody

[2021-05-31 14:59] chriseth commented on #11184
@alcuadrado are you saying it is not clear which string is hashed when computing the selector of a solidity function that takes a struct as argument?

[2021-05-31 16:29] chriseth commented on #11184
So as a summary: For the non-obvious Solidity types, we should mention how they map to the ABI types. Note that this is Solidity specific, so it might be outside of the linked page.

[2021-05-31 18:02] lcswillems opened #11461 "Allow to share memory array between smart contracts"
## Abstract

I have something like this:

[code]

If I modifiy `values` in `B.exec`, it currently doesn't change `values` in `A.exec`. It is because `values` seemed to be copied.

I would not want `values` to be copied and be able to modify `values` in `A.exec` from `B.exec` in order to save gas.

I did a ton of researches and looked at the inline assembly. It doesn't seem to be possible currently

[2021-05-31 18:31] leonardoalt opened #11462 "[SMTChecker] Contract invariants - support nested quantifiers"
From https://github.com/ethereum/solidity/pull/11451
We already report most contract invariants, but some of them (example: `crypto_functions_same_input_over_state_same_output.sol`) have nested quantifiers. Since bound variables only have an index and are defined by quantifier scope, they need a bit more care when being translated into `smtutil::Expression`. As a first step we left that out of tha

[2021-05-31 18:31] #11440 closed, assigned to nobody

[2021-05-31 18:32] leonardoalt opened #11463 "[SMTChecker] Contract invariants - format `abi` functions better"
From https://github.com/ethereum/solidity/pull/11451
ABI functions are a bit tricker to format, so we left that out of the first PR.

[2021-05-31 18:33] chriseth commented on #11461
The EVM disallows such things, it's not something we can change from the language side, so I'm closing this issue. If you want data to be shared like that, you have to use storage.

[2021-05-31 18:33] #11461 closed, assigned to nobody

[2021-05-31 18:35] leonardoalt opened #11464 "[SMTChecker] Contract invariants - simplify expressions"
From https://github.com/ethereum/solidity/pull/11451

Some of the reported expressions have the following patterns which could be simplified:
[code]

[2021-05-31 19:17] alcuadrado commented on #11184
Yes, I meant that it's not clear which string to hash. A solidity function that takes a struct is an example, but I meant this as a general ABI question.

Yep, agreed. How those map into abi types is Solidity specific and should be kept independent from the abi spec imo.

[2021-05-31 19:40] lcswillems commented on #11461
And is there a way to do it with Inline Assembly?

[2021-05-31 19:52] cameel commented on #11461
There isn't. It's a limitation of how contracts are executed by the EVM. You're performing an external call (`DELEGATECALL` in this case), which works more like running a separate process on the computer than calling a function inside the same program. The contracts do not share memory, stack, etc. In case of a `CALL` they don't even share storage, though `DELEGATECALL` is different in that regard

[2021-05-31 19:58] lcswillems commented on #11461
Thank you @cameel for all these explanations!!

[2021-06-01 10:33] leonardoalt commented on #11280
I think this was actually caused by the free functions. I cannot reproduce the bug with latest develop, so closing.

[2021-06-01 10:33] #11280 closed, assigned to nobody

[2021-06-01 10:43] leonardoalt opened #11466 "[SMTChecker] Remove `unsupported module` message"
In https://github.com/ethereum/solidity/pull/11465 we can see that modules actually work, but we still have the message `Assertion checker does not yet implement type module "s1.sol"` which would be nice to get rid of.

[2021-06-01 11:17] leonardoalt commented on #11329
So, I still don't think this is a bug, but rather out of resources.
Should we remove the bug label/rename the issue?
@bshastry @cameel

[2021-06-01 11:39] cameel commented on #11329
Yeah, I would not really call this a bug.

[2021-06-01 11:50] cameel opened #11468 "ICE when invoking a modifier overriden by an unimplemented one"
It is currently possible to override a modifier with one that has no implementation. Doing this with functions is forbidden. An attempt to invoke such a modifier results in an ICE:

[code]
[code]

I think this should be forbidden like it is for functions. Even then, however, it will still be possible to define an unimplemented modifier by sandwiching it between two implemented ones (see #11445) an

[2021-06-01 12:25] Amxx opened #11469 "Add type().length for enums"
## Abstract

Add a mechanism to get the number of entries in an Enum using the enum's name

[code]

## Motivation

There is already a mechanism to get `type().min` and `type().max` for integers types. In some cases it might be necessary to check if a `uint` does match an enum without reverting (casting will revert of not within limits)

## Specification

`type(MyEnum).length` should returns a `uin

[2021-06-01 12:57] axic commented on #11469
Why `.length` and not `.min`/`.max` (even if min currently is a constant 0)?

[2021-06-01 13:04] cameel commented on #11445
I have a fix that modifies `resolveVirtual()` to skip unimplemented functions but after some experimenting with this I think that this case should produce an error after all. `super.x()` is just a kind of magic so as a user maybe I'd expect it to skip the unimplemented method but this would be forbidden I just called `I.x()` directly:

[code]
[code]

[2021-06-01 13:04] cameel commented on #11445
Also, I'm not sure if it even makes sense to allow this kind of inheritance at all. It would not be possible if we "straightened" the hierarchy:

[code]
[code]
Maybe it would be better to require anything that explicitly provides an unimplemented virtual function to be listed before anything that overrides it?

This would be a breaking change though.

[2021-06-01 13:17] cameel commented on #11445
Discussed with @chriseth on gitter:

In that case I will submit the fix for `resolveVirtual()` that I already have.

[2021-06-01 13:38] Amxx commented on #11469
Min / Max would work just fine I guess.

[2021-06-01 16:23] christianparpart commented on #9545
i can do that.

[2021-06-01 16:48] #11341 closed, assigned to nobody

[2021-06-01 16:54] TerranCivilian commented on #10145
@axic Can you elaborate a tiny bit on what the "first" and "second" steps are? If you can remember this far back..

I'm hoping to complete this if there is still work on this issue.

[2021-06-01 17:03] #11389 closed, assigned to nobody

[2021-06-01 17:03] #11404 closed, assigned to nobody