[2022-02-08 15:02] cameel commented on #12648
I think it would not hurt having issues for features that are in scope. Especially now that #7763 is closed. Could be just one issue listing these features though. I'm actually pretty fuzzy on which ones we decided to implement in the end.

[2022-02-08 15:03] stevennevins commented on #12649
I think i read in the coc plugin docs that it consults the lsp to fold based on syntax.  I'll do a bit more research and report back

[2022-02-08 15:16] stevennevins commented on #12649
I think this behavior is caused coc trying to handle the code folding itself and this is just coc doing it's best to infer folding ranges without knowing solidity syntax since it's not handled by the lsp.  Might be more appropriate to close this issue and add this to the list prioritizing features to support

[2022-02-08 16:17] chriseth commented on #11042
Implemented in #12434

[2022-02-08 16:17] #11042 closed, assigned to cameel

[2022-02-08 17:08] chriseth commented on #11278
I think reverting on decoding failure if there is no fallback catch clause would actually be consistent with the current implementation.

Maybe we could change that behaviour for 0.9.0? The property "if execution ends up inside a catch block, then the call must have failed" is something I would not want to change, but reverting on error decoding failure is actually not too bad. It would even be co

[2022-02-08 18:42] drortirosh commented on #12647
it is an attack surface that was used.
https://twitter.com/transmissions11/status/1487532348467912704

it will take more effort to protect dynamic-sized return values, but at least avoid exposing staticly-sized return values (like void)

[2022-02-08 20:39] cameel commented on #12647
#12306 would cover this case, though it's a bit more general. And harder to solve. A special case for when there is no data returned at all is much simpler - @chriseth do we want to have such a special case or should it be handled as a part of that more general mechanism for optimizing out unused allocations?

[2022-02-08 23:54] k06a opened #12650 "Constant-complexity dispatcher idea"
Today I spent some time on prototyping and was managed to achieve O(1)-complexity dispatcher. Check out few my messages here: https://github.com/vyperlang/vyper/issues/2386#issuecomment-1033117651

And find code prototype here: https://gist.github.com/k06a/737fd1f389bb6f2e66f0ef76ea73729b

## Abstract

I believe dispatcher implementation initially was O(N), but now it may be tree-like O(log(n)). I

[2022-02-09 02:21] cameel commented on #11278
What about use cases where you're using `try`/`catch` because what you really want is to silence errors? **Any** errors. E.g you have a contract that's batching several similar but completely independent operations and you don't want to revert if some of them fail. Instead you want to execute as many as you can and just tell the caller which ones failed.

[2022-02-09 03:44] fulldecent commented on #11690
Here is one big specific problem:

https://hardhat.org/reference/solidity-support.html

---

I want to get the point where EVERYBODY is using the latest version of Solidity.

[2022-02-09 04:47] blitz-1306 commented on #10329
Hello there. Is there any blocker for adding missing build to [solc-bin WASM distributions](https://binaries.soliditylang.org/wasm/list.json)? There is [a published version in the NPM](https://www.npmjs.com/package/solc/v/0.5.17) that actually bundles `soljson.js` file in the package. Could somebody check if it fits to the distribution and if so, add it?

[2022-02-09 10:12] chriseth commented on #11690
@fulldecent I'm not sure how this relates to the versioning, but the problem is that some features of hardhat are using pattern-matching on the bytecode. Essentially they are using a non-public interface. Most of these pattern-matching techniques can nowadays be solved differently, though.

[2022-02-09 11:17] nishant-sachdeva opened #12651 "string.concat test cases facing issues with compileToEwasm setting"
## Description
Of the test cases added in the PR #12628  for issue #12087, three test cases have given non-expected outputs when running with the flag `compileToEwasm: also`

1. string_concat_2_args.sol
2. string_concat_different_types.sol
3. string_concat_nested.sol

## Steps to Reproduce
For Eg: Running the command
`./build/test/tools/isoltest --no-smt --vm ../libevmone/libevmone.so --vm ../hera

[2022-02-09 15:02] chriseth commented on #11278
In this case, you can use inline assembly and `abi.encodeCall` or just the fallback catch clause. I think try/catch is really only safe to use for trusted external calls and allow you to react to known errors. If the called contract is not trusted, it can fool you in so many ways.

[2022-02-09 17:26] k06a commented on #12650
I will write detailed specification, hope you like the idea and have desire to implement it. I assume dispatching can cost 100-150 gas for up to 512 methods and bytecode size could be smaller than now.

[2022-02-09 17:52] chriseth commented on #12650
I actually spent some time months ago to do something similar.
I would say: Why not?
One problem is that we still need to do the final comparison in the end, but we already do that even in the binary search case.
Another problem might be if we want to get rid of dynamic jumps at some point. Oh and this won't be compatible with code generation via Yul unless...
we implement this for the yul to evm

[2022-02-09 17:58] chriseth commented on #12650
Ah, maybe I misread your algorithm: Why do you need `keccak`? Shouldn't the following also work:

[code]

Here, `N` is the number of selectors and `X` is a number that needs to be brute-forced. instead of multiplying by `X` we could also use some other strategy or more complicated formulas.

[2022-02-09 18:02] k06a commented on #12650
If 2 selectors are multiples of N, mulmod with any salt X will lead to a collision.

[2022-02-09 18:08] chriseth commented on #12650
Ok, then it looks like we need to throw some xor and add operations in to the mix :)

[2022-02-09 18:16] k06a commented on #12650
XOR could help in some cases. In general we don’t have any proof than solution will exist for some arbitrary form of hash function. I consider keccak as safe and reliable hash to use. But we should consider some other functions, maybe we can find something better.

Case in which XOR is not working:

[2022-02-09 18:39] cameel commented on #12650
What about fallback? This looks like it would map any other function to one of those N. I think this would need an extra check before the jump to ensure that the input selector actually matches the destination selector. If not, we should jump to fallback instead.

[2022-02-09 18:43] k06a commented on #12650
What we are trying to build is this: https://en.wikipedia.org/wiki/Perfect_hash_function

[2022-02-09 18:46] cameel commented on #11889
We discussed this today on the call. Overall there were some concerns about safety of allowing this but no one was strongly against so we're fine with changing the behavior. This is however very low priority right now because we have other important tasks on the roadmap. It may take some time before we get to implementing this ourselves, but we'd accept a PR if someone badly wanted to have it righ

[2022-02-09 18:57] cameel commented on #12614
Decision from the call: we're fine handing over maintenance of the style guide to @fulldecent but we prefer the guide to stay in the main repo / main docs. At least unless it turns out it's not working out well for some reason. We're on board with the rest of the roadmap.

We're going to add @fulldecent to [CODEOWNERS](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-

[2022-02-09 19:00] frangio commented on #12650
O(1) would be interesting, but what would be the magnitude of the constant cost? Would it be less than the current costs? It would be nice to see some numbers.

I played around a bit with @k06a's script yesterday. For ~10 selectors it works well but any more than that the brute forcing can take a long time. I think most contracts have more than 10 selectors, so splitting into buckets and doing mul

[2022-02-09 19:11] k06a commented on #12650
@frangio, yes and formula is `n^n/n!` of bad salts per good salt. I think we can have this parameter adjustable, and use 6-7 by default. I will provide implementation for buckets soon, it’s almost the same - just need to count min and max selectors per bucket and check (max - min) <= 1

[2022-02-09 19:16] k06a commented on #12650
@frangio I think we can one step solution for 50 gas, 2-step for 100, etc. Current dispatcher gas is around 150 for 10-method contract and 350 for 80-method contract, AFAIR.

[2022-02-09 22:21] k06a commented on #12650
Updated gist with code to support buckets: https://gist.github.com/k06a/737fd1f389bb6f2e66f0ef76ea73729b
Added computations for some cases:
[code]

[2022-02-09 23:05] frangio commented on #12647
I felt the same way as @chriseth when I first saw this (didn't really consider it an "attack") but there's something interesting about this compared to other possible "gas wasting attacks".

When one writes `(, bytes res) = target.call{gas: G}(data)` one expects that `G` will be an upper bound on the gas consumed by the call (± some constant), but in fact the target contract can cause "a lot" more

[2022-02-10 05:18] blitz-1306 commented on #10329
@chriseth sorry for pinging and applying necromancy to an old issue discussion. Still, would it be possible to do anything with the missing 0.5.17 WASM release in historical builds archive?

[2022-02-10 08:43] chriseth commented on #12650
Whatever we do, we need at least one full equality comparison per function, even if the contract does not have a fallback function, because there are always "false positives".

[2022-02-10 08:43] chriseth commented on #12650
Sure, it's just that keccak is relatively expensive and if there is a cheaper option, I would use the cheaper option.

[2022-02-10 08:50] chriseth commented on #11387
Notes for implementation: For functions, the `functionSelector` property is added in `bool ASTJsonConverter::visit(FunctionDefinition const& _node)`. For ErrorDefinition, you can get the selector through `_node.functionType(true)->externalIdentifierHex()`

and I agree that it would be good to also have this for events.

[2022-02-10 09:32] chriseth commented on #12647
As far as I see it, direct access to gas turned out to be a bad idea, not only because gas costs have changed several times over the past years. Because of that, I would not want to add more options to `.call`. Instead, if people want full control, they should use inline assembly.

[2022-02-10 09:56] k06a commented on #12650
@chriseth I agree keccak256 is expensive especially on the host side, is Solidity it is relatively cheap. I will try to produce another function. But we can start with keccak256.

[2022-02-10 10:55] k06a commented on #12650
The probability of several selectors having the same remainders by multiple primary numbers is much lower. Moreover, we can select these primary numbers for a specific selector set exclusively. Maybe the following formula will work:
[code]

[2022-02-10 12:20] k06a commented on #11889
We can use GitCoin to boost this change :) Moreover, this could attract more contributors to the repo.

[2022-02-10 13:12] cameel commented on #10329
Mostly a matter of time and lack of urgency. Last time I did mass rebuilds it took some fiddling to get stuff below 0.6.0 to build.

There is an asm.js binary available in [bin/soljson-v0.5.17+commit.d19bba13.js](https://github.com/ethereum/solc-bin/blob/gh-pages/bin/soljson-v0.5.17%2Bcommit.d19bba13.js). Wasm binaries are faster but asm.js are still fully usable. If you're downloading the compile

[2022-02-10 14:00] cameel commented on #11889
Sure, why not.

[2022-02-10 14:12] chriseth commented on #9211
When we have `using {..., f, ...} for T`, we should enforce that the first parameter of `f` is equal to T up to data location, because it is less confusing and we also will get fewer problems with operators.

[2022-02-10 15:47] drortirosh commented on #12647
I fully agree. the compiler shouldn't do any gas manipulation.

What I do think it should is do LESS UNEEDED, UNEXPECTED work: if a method call returns nothing (or fixed 32 bytes), don't attempt to use/allocate `returndatasize()` dynamic data

[2022-02-10 18:20] #12087 closed, assigned to nishant-sachdeva

[2022-02-10 18:30] frangio commented on #12650
At that point I don't know if it will be cheaper than keccak.

[2022-02-10 20:42] k06a commented on #12650
Just played with this idea of multiple remainders - it has so many collisions, not possible to find such SALT in practice for 5-10 selectors. I afraid multiplication of remainders produces more possibilities to have the same remainder after MOD N.

[2022-02-10 21:10] ekpyron commented on #12650
We could try dividing by the largest power of N that's a factor in any selector. I'd expect ``((selector / powerOfN) * X) % N`` to usually work out for some random X (maybe checking random primes would even be enough). The division can of course collapse selectors in some cases, but we don't need to use the same schema for all cases, but can just fall back to something else if it doesn't work...

[2022-02-10 22:54] k06a commented on #12650
Found something interesting: http://stevehanov.ca/blog/?id=119

[2022-02-11 01:38] cameel opened #12654 "Rethrowing reverts"
## Abstract
There is currently no way to catch and rethrow the exact same error in a high-level way. This is problematic especially in the `catch(bytes memory)` clause where you can't simply create another instance of the same error type and copy the parameters.

Many languages have a convenient mechanism for rethrowing exceptions. For example in C++ you can use `throw;` in a `catch` block. Python

[2022-02-11 08:38] axic commented on #12654
I came across this problem several times, but I do not think this is the right approach.

The simplest solution is just allowing `revert(bytes)` to be a passthrough command (i.e. not padding the `bytes` with anything). In essence we would have three signatures:
- `revert()`
- `revert(bytes)` -- uses the `bytes` buffer as the entire revert content
- `revert(string)` -- uses the `string` as the `Err

[2022-02-11 13:32] cameel commented on #12654
Why do you think it's not the right approach? It's a pretty common way to do this in other languages.

I would not be against just adding `revert(bytes)` but I think it has a higher potential for mistakes. People have to convert `string` to `bytes` all the time because you cannot do much with `string`. I can image a situation where someone passes in a `bytes` variable thinking it will be used as a

[2022-02-11 15:23] frangio commented on #12650
@k06a Great reference.

However, reading it made me realize that we're completely overthinking this. The function selector is already a random number. If we take `selector % N` we've got a pretty good hash function that splits in pretty small buckets. The cheapest dispatch function might be %N followed by linear if-else matches. It's not constant time, but it sounds like the difference would be up

[2022-02-11 18:53] k06a commented on #12650
@frangio we could bruteforce some simple formula to ensure distribution is good enough, for example, each bucket have max 2 selectors. I think this can be achieved pretty fast even for huge number of selectors.

[2022-02-12 00:17] k06a commented on #12650
@frangio splitting selectors onto N bucket by just using remainder works as following for some 78-selectors contract:
[code]
I see it have only 49 non-empty slots

I also tried to spend 1000 iterations to find SALT XORing which leads to a good distribution among N/2 slots:
[code]

Script used:
[code]

[2022-02-12 03:40] frangio commented on #12650
That's great! I wasn't considering that empty buckets are a problem. Using xor for salting makes a lot of sense.

[2022-02-12 14:50] k06a commented on #12650
Got advice from @snjax that `(selector XOR salt) % n` could match for any `salt` if `n` is some power of 2 like `2**k`.

It makes much more sense to use:
[code]

And I would not suggest to use MUL instead of XOR, because it could keep remainder the same in some cases.

[2022-02-12 19:32] nvnx7 opened #12657 "distinct `call` behavior on non-payable `address` type"
## Abstract

The methods `send` and `transfer` were introduced only for `address payable` with the intention to explicitly differentiate the addresses that can be sent Ether. But these two methods are now being [discouraged](https://consensys.net/diligence/blog/2019/09/stop-using-soliditys-transfer-now/) in the Solidity community, in favor of `call`.

But, currently, the `call` can be invoked succ

[2022-02-12 20:13] k06a commented on #12635
@cameel array brackets makes me think elements are of the same type, which is not true.

[2022-02-12 20:15] k06a commented on #12635
Also I remember someone asked for ability to use tuples as arguments in function calls:
[code]

[2022-02-12 20:19] k06a commented on #12328
@chriseth I would say `address` is not base contract/interface, that’s why we don’t have this collision. But if we would implicitly cast to address we will definitely have this issue.

[2022-02-12 22:32] rillig opened #12658 "installing-solidity.rst contains Markdown link"
## Page

installing-solidity.rst

## Abstract

`[to indicate this fast pace of change](https://semver.org/#spec-item-4)` is Markdown syntax, it should be rst instead.

[2022-02-14 10:25] ekpyron commented on #12658
Fixed in https://github.com/ethereum/solidity/pull/12661

[2022-02-14 10:25] #12658 closed, assigned to nobody

[2022-02-14 12:09] ekpyron commented on #12570
Closing this, since the concrete issue should have been fixed by https://github.com/ethereum/solidity/pull/12572

[2022-02-14 13:02] ekpyron opened #12664 "Investigate asan/ubsan memory leak reports in Z3/spacer or selectively disable reports."
In https://github.com/ethereum/solidity/pull/12662 I disabled running smt tests in ubsan nightly test runs. They were already disabled in asan runs.

The reason is that we get memory leaks in Z3/spacer.

We should still investigate these leaks eventually, respectively instead of adding ``--no-smt`` to the test runs, selectively disable reports from spacer-allocated memory.

I'm also not sure if li

[2022-02-14 16:17] ekpyron opened #12665 "Overhaul Inheritance and Override Logic"
https://github.com/ethereum/solidity/issues/12615 reported a serious error in our override logic.
While https://github.com/ethereum/solidity/pull/12616 fixes the issue, we realized that our strict override logic has some counterintuitive implications, namely https://github.com/ethereum/solidity/pull/12616#discussion_r797992050 and https://github.com/ethereum/solidity/pull/12616#discussion_r7979856

[2022-02-14 16:40] #12615 closed, assigned to ekpyron

[2022-02-14 16:51] leonardoalt commented on #12635
In general I think tuples should be proper types.
I used to dislike this syntax too, but nowadays I actually like it. It's succinct, clear, and already used by other languages.

[2022-02-14 18:25] ekpyron opened #12668 "Run semantics tests using the proper viaIR pipeline and make optimizer requirements explicit in the tests."
Basically we should do something along the lines of what https://github.com/ethereum/solidity/pull/11949 tried.

[2022-02-14 20:31] algorithmical opened #12671 "Saving an integer to truffle develop does not persist (solidity 0.8.11)"
## Description

Saving a value to a contract does not persist. Expected result: calling saveNumber(991) then getNumber() should return 991.
Instead, getNumber() returns 0.

Strangely, this code works correct on Remix. I therefore suspect the issue maybe in a truffle solidity configuration? Please advise if I should move this to truffle repo, thanks.

## Environment

- Compiler version: 0.8.11 Soli

[2022-02-14 21:18] cameel commented on #12635
I think it depends on what each of us is used to. To me the `.0` syntax feels a bit like I'm abusing some internal mechanism that exposes element indexes as properties on an object. It just looks weird. On the other hand, having used Python a lot, using brackets to index tuples feels completely natural and intuitive.

In any case, I agree that it would be nice to have tuples as proper types or at

[2022-02-15 08:25] chriseth commented on #11514
The PR just adds a test, did it really fix the issue?

[2022-02-15 08:35] chriseth commented on #12671
If it works on remix, it is very likely not a compiler issue. The reason might be that you use `tx.call()`, which I think is just meant for queries to the blockchain instead of actually performing an action. I think you need `tx.send()`.

[2022-02-15 08:35] #12671 closed, assigned to nobody

[2022-02-15 09:41] chriseth commented on #12621
The logic for these tests are in `test/libsolidity/ASTJSONTest.h` / `.cpp`

You should be able to run only these tests using `isoltest -t *ASTJ*` or something similar.

[2022-02-15 11:52] Marenz commented on #11514
The fix was in https://github.com/ethereum/solidity/pull/12544 though it referenced a different issue, that's also the main reason we added a test explicitly for this case

[2022-02-15 13:17] chriseth commented on #11514
ok!

[2022-02-15 13:17] #11514 closed, assigned to Marenz

[2022-02-15 14:35] hjorthjort opened #12674 "Confusing error message relating to mutability modifiers"
## Description

I find the following error message confusing, implemented in [libsolidity/analysis/ViewPureChecker.cpp](https://github.com/ethereum/solidity/blob/develop/libsolidity/analysis/ViewPureChecker.cpp), line 249.

[code]

This is what you get if you try to modify state in a `view` or `pure` function, which is common for a beginner. This is thus one of those messages where the compiler ac

[2022-02-15 15:51] tarik0 commented on #8441
Are there any workarounds for this ?

[2022-02-15 16:20] tarik0 commented on #8441
I've found a workaround for this but It requires the [BytesLib.sol](https://github.com/GNSPS/solidity-bytes-utils/blob/master/contracts/BytesLib.sol). Since `encodePacked` does not use any padding you can just append to each other. (There might be a better approach for this and I don't know If it's gas efficient or not.)

[code]

The result;

[code]

[2022-02-15 20:22] wighawag commented on #9554
Feel like there should be something in-between `view` and `pure`

it would be useful to have a another modifier that ensure these function only access bytecode and nothing else.

the `view` modifier is too general as even when you intend to use `immutables` as constants in your code, you do not get error when reading storage.

[2022-02-15 22:06] PatrickAlphaC opened #12675 "Immutable style guide"
## Page

https://docs.soliditylang.org/en/v0.8.10/style-guide.html

## Abstract

There is nothing that references the immutable variable style guides.

Should it follow the syntax of `CONSTANTS_WITH_UNDERSCORES` or `camelCase`?

[2022-02-16 03:10] donutcrypto opened #12677 "Warn about not explicitly requested conversions from rational number types to their mobile type."
## Description

The ternary operator doesn't appear to be producing the correct return type.

## Environment

- Compiler version: 8.11
- Framework/IDE (e.g. Truffle or Remix): hardhat
- EVM execution environment / backend / blockchain client: binance smart chain, hardhat testnet

## Steps to Reproduce

Deploying the following contract will overflow on uint8 addition. The expected value of `result`

[2022-02-16 08:44] chriseth commented on #12675
@fulldecent (sorry, seems I cannot just assign)

[2022-02-16 14:53] fulldecent commented on #12675
Thank you. Added to project board at https://github.com/users/fulldecent/projects/2/views/1?visibleFields=%5B%22Title%22%2C%22Assignees%22%2C%22Status%22%2C%22Repository%22%5D

And will follow back here.

This is prioritized as "new opinions" which is below "broken things".

[2022-02-16 18:35] mudgen opened #12687 "In some cases it is okay to use `tx.origin` for authorization"
-

[2022-02-16 20:00] #12687 closed, assigned to nobody

[2022-02-16 23:05] hrkrshnn opened #12688 "Implement the binary search dispatch for the IR codegen"
The binary search for the function dispatch seems to be only implemented in the legacy codegen.

Context:
https://github.com/ethereum/solidity/blob/da50176b1ffec4444996cb4551e6a78f99bd2990/libsolidity/codegen/ContractCompiler.cpp#L325

Implement the same for the IR based codegen.

[2022-02-16 23:44] hrkrshnn commented on #10698
I think we should think about this again. I would bring this up in the next design call.

[2022-02-17 00:01] cameel commented on #12688
Related: #12650.

[2022-02-17 04:18] hadysalama commented on #12501
If you're using Meadow it's deprecated.

[2022-02-17 07:42] RacketyWater7 commented on #3300
+1 pls add this feature.
For example currently:
address public hospitals;address public doctor1; address public laboratories;
future expectation example:
address public hospitals,  doctors, laboratories;

[2022-02-17 09:00] chriseth commented on #12614
Added codeowners file, but I think this only enables review auto-requests and nothing else: https://github.com/ethereum/solidity/pull/12692

[2022-02-17 09:01] chriseth commented on #12688
I would prefer binary search (or constant-time search) to be implemented for all switch statements instead of writing custom code for the external dispatch. This has the advantage that it 1) can use jumps because it will be in the evm code gen and 2) it automatically applies to the external and the internal dispatch.

[2022-02-17 09:41] chriseth commented on #3556
While I also like the conversion syntax, it is a bit weird at type level, since you apply a function (the conversion function) to an object that does not have a fixed value. I think we have to go with some special syntax like `name::<types>`, although over the years I have come to see overloading more and more messy and would like to avoid it.

[2022-02-17 09:43] chriseth commented on #3556
I'm not sure whether I understood @k06a 's proposal correctly, but a function pointer with a fixed selector is essentially an interface with a single defined function. Is this a possible way out here?

[2022-02-17 09:49] chriseth commented on #12657
Related: https://github.com/ethereum/solidity/issues/11017

[2022-02-17 09:51] chriseth commented on #12295
Sounds good!

[2022-02-17 10:17] axic commented on #8441
@tarik0 the language supports `bytes.concat()` since a while, which I believe would allow you to write:
[code]

It is not super optimal as it will waste memory quite a bit.

[2022-02-17 10:34] k06a commented on #3556
@chriseth yes, but the interface is static at compile-time and a function pointer is dynamic.

[2022-02-17 12:16] bshastry commented on #12677
Thanks for reporting the issue @donutcrypto

Notes:

Fuzzer wouldn't have helped because both legacy and IR fail on construction. Semantic test below:

[code]

[2022-02-17 12:47] chriseth commented on #12677
The reason is that unlimited precision only works as long as you are dealing with arithmetic expressions on literal constants. There are other similar situations where this can happen. I think we could warn when conversions from rational constants to their mobile type happen instead of a conversion to an explicit type.

[2022-02-17 13:52] Marenz commented on #3556
What about this variation:

`this.transfer.selector(address, uint256, bytes);`

[2022-02-17 14:34] Marenz commented on #12674
@hjorthjort do you think this message would be less confusing?

`Function cannot be declared as <view|pure> because this expression (potentially) modifies the state."`

No explicit suggestion as to what action to take, but it does tell you that pure|view is a problem..

[2022-02-17 14:54] frangio commented on #12688
I'm not sure this is possible for constant-time search without a special case for external dispatch. The last developments in https://github.com/ethereum/solidity/issues/12650 make use of the fact that selectors are already random, so re-hashing is not needed. This will not be true of an arbitrary `switch` statement.

[2022-02-17 15:19] frangio commented on #10698
As a data point, here is some recent code where lack of unchecked expressions harms readability:

[code]
([source](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/3fe65ef4673f118da396c2d1027ec01116614aff/contracts/utils/structs/DoubleEndedQueue.sol#L79))

Assuming we don't want to wrap everything in the unchecked block, which is good practice IMO,

1. Because of scope we need to declar

[2022-02-17 15:22] hrkrshnn commented on #10698
@frangio I saw that code yesterday! Also have been seeing similar uses in other codebases. I think we badly need this feature in the language.

[2022-02-17 17:15] chriseth commented on #12688
While that is true, we can still try. Since the case values are compile-time constants, we will know if it failed or not.

[2022-02-17 17:32] chriseth commented on #10698
I see the point, but I think we should not have curly braces at expression level.

Your example is very interesting: You are using `int128` values that always start out with `0` and can only be incremented and decremented. Because of these access restrictions to the type, it can never overflow with finite gas.

There is a comment along these lines in the documentation of the library, but isn't thi

[2022-02-17 21:33] frangio commented on #10698
Yeah I thought about this as well. Other syntax would be fine too.

---

It's a good observation that we don't need unchecked if we define a new datatype with those guarantees. It's actually the reason why we have a [Counter](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/3fe65ef4673f118da396c2d1027ec01116614aff/contracts/utils/Counters.sol#L15) type, although that was introduced befo

[2022-02-18 01:49] aspiers commented on #12251
The fact that `UNLICENSED` is invalid SPDX also breaks validation by the REUSE license validation tool: https://github.com/fsfe/reuse-tool/issues/409

[2022-02-18 08:57] ryanfalzon commented on #5802
Has there been any updates on this? I need to make use of this feature.

[2022-02-18 12:17] hjorthjort commented on #12674
Absolutely, I think that's a good message.

[2022-02-18 13:27] 0xCardiE commented on #11638
Had the same problemm with hardhat and larger number of structs. Putting
`yul: false`
helped.

[2022-02-18 19:19] cameel commented on #5802
No, the compiler can parse an AST from JSON but currently does not offer a feature to synthesize code back from that. There are external tools that can do that though. Check out [solc-typed-ast](https://github.com/ConsenSys/solc-typed-ast).

[2022-02-18 19:20] cameel commented on #5802
BTW, this issue has been closed because it's a duplicate. The feature request is now tracked in #2165. I'm locking this thread - please post any related comments there.

[2022-02-18 19:22] cameel commented on #2165
Reposting from #5802 (which has been closed as a duplicate):

@ryanfalzon

@cameel

[2022-02-18 19:25] cameel commented on #2165
@axic @chriseth Given that there are now tools that can do this, are we still planning to implement this?

Also pinging @blitz-1306, who might be interested in this topic.

[2022-02-18 21:54] cameel commented on #10329
Rebuilt binary is ready: https://github.com/ethereum/solc-bin/pull/112. It will become available at binaries.soliditylang.org once the PR is reviewed and merged.

[2022-02-19 17:00] ndavd opened #12700 "Code completion support to solc LSP"
It'd be great to add completion support to the language server.
Are there any plans on this?

[2022-02-19 18:06] jacob-eliosoff commented on #10698
I'm sure there are tradeoffs I don't fully appreciate here but from a simple Solidity code monkey's pov, a lot of `unchecked` code I've written (egs in our [WadMath](https://github.com/usmfum/USM/blob/master/contracts/WadMath.sol) lib - like @frangio's example) would be a lot nicer with unchecked expressions, even using curly braces.  To the point where I'm sometimes reluctant to save the gas beca

[2022-02-19 19:54] algorithmical commented on #12671
Thank you

[2022-02-19 23:20] Kayaba-Attribution commented on #3385
Late to the party but got the same misleasing error:
[code]
I think the error should be `trailing comma on tuple`

[2022-02-20 00:06] jacob-eliosoff commented on #10698
Just to make my "It's the operation I want to make a decision about, not the block" comment more concrete: I can envision cases where the status quo code is:

[code]

And with `unchecked` expressions it would be:

[code]

But with the `+u`-type operators I described it could be:

[code]

This might require scratching our heads for a workable syntax but I mean shit, that last version is so much cle

[2022-02-21 00:57] donutcrypto commented on #12677
Thanks for the reponse. I just wanted to make sure I understand, but the values of `0`, `100`, `110`, etc. will be compiled to a uint8?

For example:

[code]

[2022-02-21 02:03] hrkrshnn commented on #12677
@donutcrypto That would fail with "No unique declaration found after argument-dependent lookup.", because such a lookup is ambiguous. There is probably an open issue about choosing the closest one.

[2022-02-21 11:37] chriseth commented on #10698
Yeah, I would very much prefer the different operator than the curly braces at expression level. I think we actually discussed that at some point.

[2022-02-21 12:32] #10329 closed, assigned to cameel

[2022-02-21 12:33] chriseth commented on #12700
It is planned, but it is the most complicated feature. I'm closing this because we have our own way of keeping track of lsp features.

[2022-02-21 12:33] #12700 closed, assigned to nobody

[2022-02-21 14:59] cameel commented on #8319
We have something like that in `ASTForward.h`:  [`ASTCompareByID`](https://github.com/ethereum/solidity/blob/v0.8.12/libsolidity/ast/ASTForward.h#L104-L121).

But I think that part of the task here would be to have the other, custom, comparators extend it rather than just do it from scratch?

[2022-02-21 16:42] #11387 closed, assigned to nobody

[2022-02-22 02:20] PatDoe commented on #12597
thanks

[2022-02-22 02:24] cameel commented on #3385
@Kayaba-Attribution This does not have to be a trailing comma. You'll get the same error for example in a situation like this:
[code]
It's really exactly what it says - a tuple component cannot be left empty in certain situations.

[2022-02-22 05:50] blitz-1306 commented on #2165
Hello everyone. As I've been referenced here, I might share a few thoughts how this is done in [solc-typed-ast](https://github.com/ConsenSys/solc-typed-ast). The most of the logic is concentrated in following directory: https://github.com/ConsenSys/solc-typed-ast/tree/master/src/ast/writing (mostly in `ast_mapping.ts` and `yul_mapping.ts`).

Writing AST to source code is mostly trivial task, aside

[2022-02-22 07:34] blitz-1306 commented on #2165
Pinging @cd1m0, who is actively developing Scribble at the moment (in case if there would be any additional input).

[2022-02-22 11:44] chriseth commented on #11278
We can start implementing for the case that there is no `default` catch clause, because then a decoding error can just forward-revert.

[2022-02-22 18:07] devtooligan commented on #12072
I think we should go with the style guide's existing [recommendation for function modifiers](https://docs.soliditylang.org/en/v0.8.12/style-guide.html#function-declaration).
![Screen Shot 2022-02-22 at 10 03 20 AM](https://user-images.githubusercontent.com/71567643/155192387-452d4d6d-9c1c-48f7-8705-15f94fde011f.png)

[2022-02-22 20:50] cameel commented on #12072
`immutable` does not fit into any category on that list though. It's a data location like `storage`, `memory` or `calldata` and you cannot have these on functions so they're not listed.

[2022-02-22 21:24] devtooligan commented on #12072
haha I was thinking `mutability` but I realize now that's different

still think we keep visibility first in line with functions !  😄

[2022-02-23 02:15] msak222 opened #12709 "Internal JSON-RPC error on a private chain: `gas required exceeds allowance (8000000)`"
Hello everyone, my smart contract runs normally on ganache and the public test network, but in the private chain built by myself, it always prompts gas required exceeds allowance (8000000)
![image](https://user-images.githubusercontent.com/19371846/155251228-0fa17307-44ca-40ff-8146-a2674c13ea3c.png)
source code：
![image](https://user-images.githubusercontent.com/19371846/155251254-9c50001d-a587-40

[2022-02-23 10:20] cameel commented on #12709
This does not look like a problem in the compiler to me. Your contract probably just exceeds the gas limit you specified yourself in the transaction (i.e. 8000000 gas). What specifically makes you think it's a compiler bug?

By the way, please don't post code and errors as screenshots. This forces anyone who'd like to help you to retype all that code to reproduce your problem.

[2022-02-23 14:37] cameel commented on #12677
Do you mean in general or just in the ternary operator? In a general case this could be pretty annoying. For example in something like `uint64 x = a + 1` the `1` gets converted to its mobile type. You'd have to write `uint64 x = a + uint64(1)` to avoid the warning. This a really common thing to do so warning about this might not be a good idea.

[2022-02-23 15:45] cameel commented on #12677
Answer from gitter:
@cameel

@chriseth

Still, I'm not really convinced that it's the rule we need here.
In `(flags[0] ? 100 : 0) + (flags[1] ? 110 : 0)` we have operands converted from literals to `uint8` and the result is `uint8`.
The same thing occurs in `(100 + x) + (110 + x)` (assuming `uint8 x`) but we want to warn about the former and not about the latter.

On the other hand with some opera

[2022-02-23 23:44] aarlt opened #12712 "Confusing behaviour of running solc without selecting output."
I would expect that all compilers do real compilation, if a compiler gets called with a single source file. This works like this for `gcc`, `javac`, `clang` - so why not `solc`? Right now, if there was  no output explicitly selected, `solc` is just performing parsing, but no real compilation. If a user knows that behaviour, this behaviour may be totally ok. But it may cause some confusion, if some

[2022-02-24 10:41] wechman commented on #12350
@cameel, Actually, we try to set locale to the system environment locale first. Only if it fails, we do attempt to set the locale to `C`:
https://github.com/ethereum/solidity/blob/e7d93f83769dd68c9d97e9be813595839dfcd1e2/solc/main.cpp#L52-L55

[2022-02-24 12:34] cameel commented on #9720
I think we should also document the mechanism in the docs as a part of this task. It will become less necessary to do this manually but the mechanism is still not obvious and we should have a place with an explanation to point people to.

[2022-02-24 14:28] cameel commented on #12350
ok, so we should change that.

[2022-02-24 16:31] cameel commented on #9720
The script that currently generates these files (and the source tarball) is [`create_source_tarball.sh`](https://github.com/ethereum/solidity/blob/develop/scripts/create_source_tarball.sh).

[2022-02-25 09:15] wechman commented on #12350
I did a little research on why this code is here and found [the original issue](https://github.com/ethereum/solidity/issues/674). Apparently, there was some problem with solc in case of invalid environment locale setting. 'export LC_ALL=C' was a workaround for that so I am not sure why solution involved environment default locale. Anyway, I agree we should change that.

[2022-02-25 20:51] aarlt commented on #12712
Ok, after looking slightly deeper into this it looks like that those errors are totally expected.

I discovered this behaviour, when I was rewriting the import export tests. The compiler is just not doing anything (apart from parsing?), if no output was selected - it makes somehow sense, but it may create some confusions.

However, maybe we should then always select an output [here](https://github

[2022-02-25 20:57] aarlt commented on #12712
Hmm.. but maybe this behaviour is too confusing.. wouldn't it be better to always run the full compiler? Maybe with default output flags, e.g. `--bin` is always selected as default.

@chriseth

[2022-02-25 21:06] aarlt commented on #12712
@cameel but I guess at least for the ast import/export it makes sense to not specify `--bin` because I guess it would slow down the tests a lot. So I think that the mentioned change for the ast import/export tests should not be done.

[2022-02-25 21:13] aarlt commented on #12712
@chriseth @cameel the current behaviour makes definitely sense. But at least I got confused ;)

[2022-02-25 21:14] cameel commented on #12712
Well, this is just an unimplement feature in the codegen. We already had this reported as a bug (e.g. #3446) and these issues were all closed. In the end this is going to be resolved when we add `copyof` (#2435).

I do think that just throwing an ICE is not very user-friendly. I think we should either detect this in the analysis and report a normal error or have a way to report unimplemented featu

[2022-02-25 21:20] cameel commented on #12712
I adjusted the title - it's not really related to `--combined-json`, but to the array copying. It's just that the ICE does not show up unless you select an output that triggers the codegen - as you noticed yourself.

[2022-02-25 21:21] aarlt commented on #12712
Just for the record: I got confused, because it looked like that `solc contract.sol` was able to compile everything correctly, where in contrast to this `solc --combined-json bin contract.sol` throw an error. So I had the impression that only because of `--combined-json` the compiler had a problem. But in reality `solc contract.sol` was only parsing the contract and never really compiling.

[2022-02-25 21:27] cameel commented on #12712
Yeah, it's an easy mistake. I actually fell into this trap myself :) Not long after this was implemented I wasted some time debugging what I thought was a serious codegen issue. There was an ICE but not always so I thought that in some cases the codegen would not trigger it and instead continue, generating wrong bytecode. Turned out I was just comparing different runs, some of which were using out

[2022-02-25 21:32] aarlt commented on #12712
I think this issue should be more about the confusion. Not sure whether it makes sense to do anything with it. Maybe we should discuss something like a default output mode, so that the whole compiler runs if it got only a contract was supplied. Maybe we could add something like `--parse-only` or `--no-output`, that is the same behaviour as right now with no output-mode selected.

Maybe we should d

[2022-02-25 21:51] aarlt commented on #12712
I labeled this with "annoys users", even that is probably not the case. Maybe we should add a label "confusing behaviour".

[2022-02-25 22:45] cameel commented on #12712
Fair enough. The new title makes sense too. I'm not sure if it would really annoy users though. Probably annoys only compiler developers :) This problem is limited to situations where you get an ICE in at the codegen stage and want to reproduce it. As a user I'd probably consider the fact that it does not crashes in situations where it would otherwise to be a good thing.

As for default output - t

[2022-02-25 23:42] aarlt commented on #12712
Basically I would just expect that all compilers do real compilations, if a compiler was called with a source. This works like this for `gcc`, `javac`, `clang` - so why not `solc`?

And yes, we need another label.. maybe "confusing" :)

[2022-02-26 15:25] zemse opened #12718 "`abi.encodeCall` does not properly convert the function type to an externally-called function"
## Abstract

The following gives an error:

[code]

## Motivation

When encoding data for a call, it shouldn't really matter if it's calldata or memory. If the interface has calldata, but if the value that we want to pass is in memory, it triggers the typecheck error abi.encodeCall.

## Specification

abi.encodeCall should not typecheck data location.

## Backwards Compatibility

This should not h

[2022-02-27 21:59] JoshIQui commented on #5474
Does this change still need to be implemented. If so, I could take a look at it. I would just need a few pointers on where I should be looking for changes to make.

[2022-02-27 22:37] daltonclaybrook commented on #10381
Any update on this issue? Would love to be able to try `abi.decode` without fear of panic.

[2022-02-28 10:52] chriseth commented on #5474
Sure! Take a look at the file `AssemblyStack.h` - the file and the main class inside it should be renamed `YulStack`.

[2022-02-28 10:55] chriseth commented on #12712
Please either close this issue or corrects its title or description. What is the confusing behaviour and how to fix it?

[2022-02-28 11:00] chriseth commented on #12718
My first guess is that the function we encode to has not been properly converted to an external view, i.e. we have to convert the type to the same we convert when we perform an external call.

[2022-02-28 11:25] chriseth commented on #12581
Sorry, somehow I missed your coment. `selector` of course makes perfect sense.

[2022-02-28 11:35] chriseth commented on #3556
We need a syntax to resolve overloads in a generic way, not a syntax specific to the selector function.

[2022-02-28 11:36] #12674 closed, assigned to Marenz

[2022-02-28 11:57] chriseth commented on #12709
Closing this as "not related to the compiler". If you think otherwise, please reopen.

[2022-02-28 11:57] #12709 closed, assigned to nobody

[2022-02-28 12:01] chriseth commented on #12677
I think the probelmatic case is when a type is derived only from rational numbers, i.e. only from mobile types. As soon as an actual "nameable" type that does not come from a mobile type dictates the result type, it's fine.

Can you explain why the assignment operator is problematic?

[2022-02-28 12:41] cameel opened #12720 "Use invalid locale instead of "C" to detect and fix any attempted locale-dependent operations in the codebase"
Requested in https://github.com/ethereum/solidity/pull/12716#issuecomment-1054141878.
Related to #12350.

[2022-02-28 13:13] cameel commented on #12677
ok, maybe it's not. Depends on how we define its return type. I guess the most obvious way is to make it the type of the variable on the left side - and then you're right,  if user is aware of that, there's no surprise. I treated it as if it was returning the type of the expression on the right side.

[2022-02-28 14:34] cameel commented on #12677
We discussed this briefly on the call today:
1) The ternary operator is the only important case - we're going to deal with array literal case along with #11879 if necessary.
2) We do think the behavior is not intuitive to users and we should do something about it.
    - It's interesting that it only came up now. Probably due to checked arithmetic but even that has been present in the compiler for

[2022-02-28 14:44] chriseth commented on #12677
Why do you think it is not documented? Rational literals use unlimited precision until they are used together with a non rational literal, and the condition in the ternary operator is never a rational literal, but we can of course make it more explicit.

[2022-02-28 14:54] cameel commented on #12677
ok, you're right. [It is documented](https://docs.soliditylang.org/en/latest/types.html#rational-and-integer-literals):

But yeah, it's easy to miss all the consequences of this paragraph unless you really carefully go through the possible operators. I think we should add a note there mentioning ternary operator. I think I'd mention it under Operators too.

[2022-02-28 14:58] cameel commented on #12677
Also, this paragraph is not entirely true. I just checked and this reverts:
[code]
According to that paragraph it should not overflow - it should be computed in unlimited precision. There's no explicit conversion and no non-literal expressions.

[2022-02-28 17:22] cameel commented on #12720
The docs for [`std::setlocale()`](https://en.cppreference.com/w/cpp/locale/setlocale) have a nice list of things that are affected by the global variable:
- `std::fprintf()`
- `std::fscanf()`
- `std::isalnum()`
- `std::isalpha()`
- `std::isblank()`
- `std::iscntrl()`
- `std::isdigit()`
- `std::isgraph()`
- `std::islower()`
- `std::isprint()`
- `std::ispunct()`
- `std::isspace()`
- `std::isupper()`

[2022-02-28 18:10] cameel commented on #12712
But GCC or Clang do not print the compiled program to stdout :) You'll get output just as terse as from solc when there are no compilation errors. They'll create an `a.out` file automatically but I'm not sure it's really better than solc's behavior. I see it more as a historical artifact that can't be changed due to compatibility.

[2022-02-28 18:40] aarlt commented on #12712
Yes, that's true :) my main point is basically that invoking the compiler does not actually run the (full) compiler.

However, another option would be to generate an error/warning (e.g. "warning/error: no output selected, parsing only"), if no output was selected. I think an error would be better - because it will exit with != 0. An explicit `--no-output` would then just behave as right now withou

[2022-02-28 18:50] aarlt commented on #12712
All this only happens if the compiler hits an unimplemented feature error (and maybe similar errors) during code generation. So maybe it makes no real sense to take care of this. The majority of users will never see this behaviour.

[2022-02-28 18:55] chriseth commented on #10698
Just for fun, I implemented the idea suggested in https://github.com/ethereum/solidity/issues/10698#issuecomment-1043221780 here: https://github.com/solidity-external-tests/openzeppelin-contracts/commit/497cdc908960f2b0c0b72a56c1eb88cee3daa565

[2022-02-28 19:05] wechman commented on #12720
@cameel I tried to run compilation with many different locales. The only failing scenario was the one with Turkey. I think, the locale change is not enough to identify all affected code pieces. We need also use non-trivial input file that involves the entire codebase. Another option could be to run all tests we have against several locales. Do you think it might work?

[2022-03-01 04:37] MicahZoltu commented on #10698
For the "alternative operator" we could use some extended characters.  That would make it very difficult to *accidentally* screw up.

`‡⁑¬⁜※–` for some ideas (note that last one is not `-`.

[2022-03-01 07:05] saurik commented on #10698
@MicahZoltu OK, you've finally goaded me into the conversation: do not under any circumstance implement this feature using a character that looks almost identical to `-` (including `¬`) _but somehow isn't actually `-`_ as I can essentially guarantee to you that this will be used to purposefully hide bugs in contracts :/.

[2022-03-01 07:19] MicahZoltu commented on #10698
That is reasonable.  Another option would be to go full emoji:
[code]
Unfortunately (something that makes me want to flip tables), Microsoft has a bug that makes ➕ look identical to ✖️ when using their default font (https://emojipedia.org/multiply/).  /tableflip

[2022-03-01 10:20] ekpyron commented on #8319
The issue predates the fact that we have this :-). So the main question now is: is this actually used everywhere it can be used?

My guess would be that it isn't and that ``ASTCompareByID`` would also need smart pointer cases, etc., but I haven't checked.

[2022-03-01 10:32] cameel commented on #8319
`ASTNode` uses it:
https://github.com/ethereum/solidity/blob/466251b5a0d20a4b532e03ca4884000432690507/libsolidity/ast/AST.h#L74

[2022-03-01 10:43] cameel commented on #12720
Have you tried to force `setlocale()` to use something that is not a real locale? @chriseth's idea was to do that so basically any use of these functions fails in some obvious way.

This way we'd find them all and replace them with locale-neutral alternatives. For example instead [`int toupper(int)`](https://en.cppreference.com/w/cpp/string/byte/toupper) from `<ctype>` we'd use [`charT toupper(cha

[2022-03-01 10:52] cameel commented on #12712
It's not a bug, it's a feature :P I wonder what @ekpyron things about this one.

[2022-03-01 10:59] ekpyron commented on #8319
We at least still have ``OverrideChecker::CompareByID`` and ``CallGraph::CompareWithID``, so it's not completely unified.

[2022-03-01 11:00] chriseth commented on #10282
It's still not totally clear to me how the import mechanism works. I created a hackmd note to discuss: https://notes.ethereum.org/@solidity/r1lNFFdjec

[2022-03-01 11:06] ekpyron commented on #12712
Well, the idea is that anything that passes analysis should go through full compilation without error - so in that sense any case in which that's false (be it due to unimplemented feature errors or any other assertion) is its own bug :-).

We did in fact change this intentionally, since there actually is no unique choice for running actual compilation: e.g. if we run the legacy pipeline, we get un

[2022-03-01 11:10] chriseth commented on #12677
The issue is that `true` is not a number literal expression, but yeah, please just clarify the paragraph!

[2022-03-01 11:39] cameel commented on #12712
True, I think this in particular is a good point.

[2022-03-01 12:25] wechman commented on #12720
@cameel yes, I did and end up with "C" locale.
I am not surprised, since "setlocale" documentation says:

I also tried to use not-existing environment locale or break locale environment configuration with:

which leads to:

In all the cases "C" was a locale in charge while solc execution.

[2022-03-01 17:08] mudgen commented on #10930
Hello, are there any updates in progress concerning this?   I ran into a problem recently where it would be really useful if this issue was fixed.

[2022-03-01 17:44] ekpyron commented on #10930
The examples in this issue seem to compile with both ``solc --optimize --bin`` as well as ``solc --optimize --experimental-via-ir --bin`` both with 0.8.12 and current ``develop``.

So we do make continuous progress on this, but there will still be cases in which such errors are unavoidable (ultimately the reason for these errors is the fact that the EVM only provides limited stack access, so all w

[2022-03-01 17:47] mudgen commented on #10930
@ekpyron cool, thanks for that update and info. Much appreciated.

[2022-03-01 18:21] drortirosh opened #12725 "try/catch doesn't catch some call errors."
The following code is expected (by a developer using any other language) to catch failures related to the call.
But instead, it reverts.
This is due to the very confusing semantics of the "try/catch" construct in solidity: the catch block will only be called if the actual external code was reverted, but it might still revert in some **compiler-generated** code

[code]

**Suggestion**: solidity sho

[2022-03-01 18:25] aarlt commented on #12712
ah interesting! what output is selected for standard-json as default (and what are other default settings)?

[2022-03-01 20:29] cameel commented on #12677
Here's what @nishant-sachdeva's check found.

- 5 projects have at least one use of ternary operator that would be affected. In all cases a warning would be a false-positive because the result does not get used in operations where the smaller range would matter:
    1. OpenZeppelin: `return a / b + (a % b == 0 ? 0 : 1);`
    2. Uniswap: `uint256 ratio = absTick & 0x1 != 0 ? 0xfffcb933bd6fad37aa2d1

[2022-03-01 20:40] cameel commented on #12712
I never checked but from @ekpyron said I assume there's just no output selected?

[2022-03-01 22:07] ekpyron commented on #12712
No particular output artifacts are selected by default. However it will always parse and analyze and report warnings and errors. But it only actually runs code generation if https://github.com/ethereum/solidity/blob/develop/libsolidity/interface/StandardCompiler.cpp#L259 returns true, i.e. some bytecode-ish artifact is explicitly requested. So pretty much how CLI works since the change.

[2022-03-02 09:27] chriseth commented on #12725
Do I understand you correctly that you find it confusing that the catch block is only executed when the call reverted? Would you want the catch block to be executed for a successful call to the function but a failure to decode the return data?

[2022-03-02 14:38] drortirosh commented on #12725
Yes. I think its confusing that the code that is covered syntactically by try/catch causes a revert.
The assumption of a developer is that this is a "safe-zone".
The purpose of try/catch is catch errors caused by things outside of the control of the developer and continue the normal path of the code.
With the current implementation, it is nearly impossible to achieve that, without resorting to low

[2022-03-02 14:47] chriseth commented on #12725
If you send ether to the called function in the try/catch, how do you distinguish the ether being gone or not in the catch clause?

The try/catch statement was not meant as something like a protection against malicious called contracts, it's rather a way to handle errors that come with reverts. Can you share a bit more about your use-case?

[2022-03-02 15:38] ekpyron opened #12732 "Natspec parsing of custom tags always expects a value potentially swallowing other tags."
[code]

[2022-03-02 23:15] ylv-io commented on #11638
I am getting the same issue with `0.8.9` version of Solidity while trying to migrate from 0.7.x version. It doesn't even tell which file produce the issue. Is there way to check? None of suggested compiler settings helped with the problem.

[2022-03-03 00:10] cameel commented on #11638
Unfortunately not, because at the stage where the problem happens the connection between your original source and the part that is being processed is pretty tenuous. The code is already after conversion to Yul, optimization (including inlining) and is being translated from Yul to EVM bytecode. The Yul source being compiled is just a big dump of code from your contract and any other contracts/funct

[2022-03-03 10:15] chriseth opened #12735 "Improvements to the unused store eliminator"
In the following code, the mstore8 can be removed because if the addition wraps, the mstore will revert. If it does not wrap, it is covered.
[code]
The same is true about the extcodecopy in this example:
[code]

TODO: generalize

[2022-03-03 12:51] cameel commented on #9720
Apparently there's an additional use case not mentioned in the issue description:

@ekpyron

Do we want that as a part of this too? I assumed it's only about github's source packages and that we're just going to keep the current system outside of that usage. If we do want `prerelease.txt` and `commit_hash.txt` to be automatically populated we probably should use git hooks for that.

[2022-03-03 13:11] cameel commented on #9720
Here's what I think we should do for this issue:
1) Update our scripts and cmake config to treat the file with a placeholder the same way as if the file did not exist at all. Do not try to get the right value automatically when the file is being read and do not fill out the template automatically outside of `git archive`.
    - This way anyone just checking out the repo and building without touchi

[2022-03-03 14:22] alvissraghnall commented on #11232
How then do I use it to compile a smart contract, say in some other folder? Apologies as this could be a trivial question, but i'm kinda slow..

[2022-03-03 14:58] #12647 closed, assigned to nobody

[2022-03-03 15:29] cameel commented on #11232
Something like this:
[code]
And you only really need `--base-path` if you're not in the main project dir.

[2022-03-03 22:06] cameel opened #12737 "Wrong address computed for CREATE2 in semantic tests"
## Description
The example we have in our documentation for computing the address that `create2` would deploy a contract to ([Salted contract creations / create2](https://docs.soliditylang.org/en/latest/control-structures.html#salted-contract-creations-create2)) does not pass when added as a semantic test. The addresses are different and the `require` fails.

I think that the code is correct and i

[2022-03-03 22:14] cameel opened #12738 "`creationCode` via IR does not match the compiler's `--bin` output when the contract has a constructor with `bytes` arguments"
## Description
In contracts compiled with the `--experimental-via-ir` option, the bytecode returned from `type(C).creationCode` does not match the one the compiler returns from `--bin` when there's a constructor accepting a `bytes` argument.

[code]
It does not happen if the constructor has a `unit` parameter or no parameters at all.

I discovered this when I re-enabled tests in the `ir-optimize-e

[2022-03-03 22:31] OmarTawfik opened #12739 "Solidity Language Specification - Proposal"
Hi, I'm Omar, and I working with @nomicfoundation, the team behind [Hardhat](https://hardhat.org/) and other Solidity developer tools. We recently announced [our long term plans](https://medium.com/nomic-foundation-blog/slang-rethnet-2ad465fd7880) to contribute to the Solidity Developer Experience, and as a first step, we, @nomicfoundation, want to make this proposal.

## Introduction

The Solidit

[2022-03-03 22:32] alcuadrado commented on #12739
By the way, @OmarTawfik is part of Nomic and is working on our Solidity compiler project. He worked on the C# and F# compilers at Microsoft, and can provide more light on how these things are handled in languages at that scale, if that's useful!

[2022-03-03 22:36] alcuadrado commented on #12739
Tagging more people that built/maintain tools that can benefit from a Solidity spec: @gakonst @iamdefinitelyahuman @fubuloubu @cgewecke @krzkaczor @fubhy @frangio

[2022-03-04 11:19] ekpyron commented on #12738
This is the opcode diff: https://gist.github.com/ekpyron/93f942e3dbeaee9259d8ee045876f99f

[2022-03-04 11:21] ekpyron commented on #12738
So it looks like it's the constant optimizer. (And due to the constant optimizer replacing the push, the tag offsets into the bytecode shift slightly)

[2022-03-04 11:58] ekpyron commented on #12738
I think the issue is in ``Assembly::optimiseInternal`` in ``libevmasm/Assembly.cpp.``.. it runs on subassemblies with ``settings.isCreation = false``.
So if you use ``type(C).creationCode``, the creation code of C is a subassembly and will be optimized as if it was runtime code.
While directly running the compiler will run it with ``settings.isCreation = true;``.

Not entirely sure, though.

[2022-03-04 12:17] wechman opened #12743 "Remove "using namespace util" directive from ASTAnnotations.h"
Because header inclusion can be very deeply nested, "using namespace" directive located in header files can unexpectedly change the meaning of the code. It can also lead to the name collision. For instance, it is not possible to define isDigit function in CommonSyntaxTest.cpp.

TODO:
1) Remove [using namespace util;](https://github.com/ethereum/solidity/blob/develop/libsolidity/ast/ASTAnnotations.

[2022-03-04 12:49] ekpyron commented on #12737
[code]

Note that ``ffffffffffffffff42`` occurs in the creation code of ``D``, but not in the creation code of ``C``.
I think that's the same issue, so this may be an easier repro.

[2022-03-04 13:20] ekpyron commented on #12737
Related issue: https://github.com/ethereum/solidity/issues/11118

[2022-03-04 13:22] cameel commented on #12737
Just realized it's not a comment in #12738 :) Did you mean it post it there?

[2022-03-04 13:23] ekpyron commented on #12737
Ah, yeah, duh, I had the wrong issue open :-D!

[2022-03-04 13:23] ekpyron commented on #12738
[code]

Note that ``ffffffffffffffff42`` occurs in the creation code of ``D``, but not in the creation code of ``C``.
I think that's the same issue, so this may be an easier repro.

[2022-03-04 13:23] ekpyron commented on #12738
Related issue: https://github.com/ethereum/solidity/issues/11118

[2022-03-04 15:11] ekpyron commented on #12718
To be more precise: ``TypeChecker::typeCheckABIEncodeCallFunction`` should probably type-check the arguments on ``functionPointerType->asExternallyCallableFunction`` instead of the plain function type.

[2022-03-04 16:37] ekpyron commented on #9720
So after extensive discussion with @cameel I think we arrived at the following conclusion regarding the prerelease logic:

- We create a ``prerelease.txt`` file in the repository, but not in the repository root. I suggest ``cmake/prerelease.lock``. The contents can be something like ``If this file is present, a prerelease will be built by default. You can override this with cmake options ...<menti

[2022-03-04 16:38] ekpyron commented on #9720
The ``commit_hash.txt`` logic can stay as already done in the PR https://github.com/ethereum/solidity/pull/12717. (This is: the file is checked in with a pattern, which is replaced by the hash on ``git archive``. If the file contains that pattern, we use ``git`` to determine ``SOL_COMMIT_HASH``, otherwise we use the file contents)
If we want we can additionally add a cmake option to override it as

[2022-03-04 17:27] ekpyron commented on #9720
Note that we will also need to check all release-related scripts and change them for towards the new mechanism.
``scripts/release_ppa.sh`` for example.

[2022-03-04 17:36] cameel commented on #9720
We also need to decide if we want to drop the old source archive and make the script just a wrapper over `git archive`. @ekpyron just noticed that they include some extra stuff like the jsoncpp sources. I think we could drop them anyway because they don't include other deps like ranges-v3 and are thus not self-contained but we'll need to discuss that with @chriseth.

[2022-03-04 17:44] ekpyron commented on #9720
If we're not fine with not having dependencies in the source archive, we can drop the entire idea, because there's no way to achieve that with ``git archive``, resp. in github source archives :-). But I'd also say that it's a non-issue - and the fact that nobody ever noticed that range-v3 is *not* packed in there is proof of that.

[2022-03-04 18:14] cameel commented on #9720
Even if we don't drop the other archive I think there's still some value in the default one being somewhat usable.

[2022-03-04 22:48] tynes commented on #12291
Is there an easy way to cross compile `solc` to apple silicon from x86 linux?

[2022-03-05 13:13] YashAtwal commented on #12743
I'd like to fix this issue

[2022-03-07 11:36] chriseth commented on #12739
I think this could be useful. We should probably have a talk about the details and to check that we are actually talking about the same thing.

[2022-03-07 11:54] chriseth commented on #9720
I'm fine with removing the jsoncpp source

[2022-03-07 11:57] #12442 closed, assigned to paarthmadan

[2022-03-07 15:17] drortirosh commented on #12725
1. the major issue is a revert done by the compiler even before the call (target address is invalid), which obviously doesn't send any funds
2. even in the lesser case (called a function that returns a value, and failed to decode its return value) I think its better to treat it as "exception" and get into the "catch" block.
   If I really expect to transfer value in this call, i'd have to save my

[2022-03-07 15:29] chriseth commented on #12725
Can you please share a bit more about your use-case? It is difficult to discuss breaking invariants at such an abstraction level without any examples.

[2022-03-07 15:56] chriseth commented on #12650
Has there been any progress on this in the last days? :)

[2022-03-07 16:01] ekpyron opened #12753 "Consider exposing ``evmasm::disassemble`` in ``tools/`` as a "poor man's disassembler"."
Came up in https://github.com/ethereum/solidity/issues/12738
It would have been quicker to determine the cause of that, if we had a simple tool to translate binary bytecode to an opcode list.
And we do have ``evmasm::disassemble`` anyways for the compiler's ``--opcodes`` output.

Specification:
Add a simple tool in ``tools/`` that reads a hex string from stdin and writes the result of ``evmasm::di

[2022-03-07 16:53] frangio commented on #12650
My current thinking is that we should use the hash function `(selector ^ salt) % n` but `n` should not necessarily be the number of functions (call it `N`), and potentially several values of `n` should be tried. The result will not be a perfect hash function but one where "buckets" are small enough that searching within that bucket still is an optimization wrt status quo.

A remaining question for

[2022-03-07 16:56] #12720 closed, assigned to wechman

[2022-03-07 16:59] k06a commented on #12650
I found a relatively cheap way to build a perfect hash function but this function itself is not O(1):
- Find minimal M that every SELECTOR % M is disctinct.
- Find some S that (SELECTOR + S) % M have M2 < M giving different rests, repeat

So the function will look like the following:
[code]

It will come to Mx = N relatively fast even on a huge number of selectors. But the execution of such hash f

[2022-03-07 19:28] chriseth opened #12755 "Take termination into account in data flow analyzer"
[code]

The mload at the end should be replaced by `_1`, but somehow it is not. The `mstore` in the first swich case seems to destroy it.

Similar example:
[code]
The DataFlowAnalyzer will not be aware of the value of x in the last statement. It should take into account if a branching control-flow terminates or not before it clears knowledge of local variables and storage / memory.

[2022-03-07 19:50] ekpyron commented on #12755
There is a comment with ``// This is a little too destructive, we could retain the old values.`` in the switch case of the ``DataFlowAnalyzer``... that's probably it... ``clearKnowledgeIfInvalidated(_case.body)`` will clear all knowledge about memory, if the first case has any memory side effects...

[2022-03-08 11:51] hrkrshnn commented on #12753
Just want to mention that the `evm` executable from geth (https://github.com/ethereum/go-ethereum#executables) is also useful for this. `evm disasm file.txt`

[2022-03-08 12:24] drortirosh commented on #12725
Here is a reference to our code, which is the implementation of "account abstraction" EIP-4337: https://bit.ly/3sMBirB
Some context: account-abstraction is a mechanism that "abstracts" EOA account as a wallet contract. specifically, the signature and nonce validations are done by the wallet itself.
The singleton "EntryPoint" calls the `validateUserOp()` method on the wallet contract.
Since we atte

[2022-03-08 14:49] alcuadrado commented on #12739
I'll contact you on private to schedule a call

[2022-03-08 18:31] GregTheGreek commented on #12739
Great start!

instead of closed door calls can we try and setup something with a larger scope, make an agenda, have someone moderate etc. I know a few parties who care about this topic that are not listed in the above !

[2022-03-08 23:21] bmoore01 commented on #10308
I've created a PR that hopefully resolves this issue https://github.com/ethereum/solidity/pull/12756

[2022-03-09 03:31] e-nikolov commented on #11593
One place where it can be used is for EIP-712 hashes - https://eips.ethereum.org/EIPS/eip-712#definition-of-encodedata.

For example if there is a struct that contains an array:

[code]

It can also be implemented via bytes.concat, but I'm not sure which version has better performance:

[code]

[2022-03-09 05:06] medmin commented on #12739
Maybe you can host a twitter space and everyone can participate ?

[2022-03-09 08:12] chriseth commented on #12755
This is really interesting, I was not aware that it is so limited. For direct mstore / sstore operations, it takes into account if the location is overlapping or not - have to think this through again...

[2022-03-09 10:20] nventuro commented on #12587
Hi @ekpyron! I keep running into scenarios where such a feature would be extremely useful :) Is there an estimated timeline for this feature? Is there any work the community can do to push it forward (e.g. come up with a more detailed spec, begin implementation work, etc.)?

[2022-03-09 10:36] chriseth commented on #12739
I'm all for open calls!
Just as a reminder, all the solidity design and team calls are open to the public, just in case anyone wants to voice their opinion on something: https://docs.soliditylang.org/en/latest/contributing.html#team-calls

Oh and if we want the wider society to stop making fun of us, we should at least use something like jitsi instead of twitter.

[2022-03-09 11:01] wechman commented on #10269
I had a deeper investigation on `include what you use` tool.  The result I got is not as good as I expected. It generates a lot of useful points. However, I got also points that are absolutely wrong e.g.
- in Exceptions.cpp tool suggests to add `#include <iosfwd>` for `std`
- in CommonIO.cpp it suggest to add `#include <bits/termios-c_cc.h>` which leads to `error "Never include <bits/termios_c_cc.

[2022-03-09 11:31] ekpyron commented on #12753
Yeah, there are a lot of other ways to do this - still, since we have the function anyways, there's little harm in making it a little tool in our repo as well...

[2022-03-09 17:30] #11118 closed, assigned to nobody

[2022-03-09 17:30] #12738 closed, assigned to nobody

[2022-03-09 17:38] OmarTawfik commented on #12739
We can use the same format then. I think having input from developers who work on Solidity tooling is important to make sure we get this right.

[2022-03-09 20:02] cameel commented on #10308
@bmoo0 Thanks! I'm going to reassign the issue to you then.

[2022-03-10 09:54] NatalieTop opened #12767 "Private function names should not be checked for uniqueness when inherited by other contracts"
Closes #11889.

**## Abstract**

Private functions are isolated to the specific contract they are defined in. This holds true during inheritance as well. A contract that inherits another contract cannot use or access private functions from the parent contract. In cases where a contract inherits two separate contracts that each contain the same private function name, there should be no compilation

[2022-03-10 10:29] ekpyron commented on #12767
Duplicate of https://github.com/ethereum/solidity/issues/11889 (I guess that was intentional and this is a follow-up on https://github.com/ethereum/solidity/issues/11889#issuecomment-1034857704 - but why create a new issue?).

Also I don't think the specification in the description here is how this should be done. Rather, ``ContractDefinition::definedFunctions`` should be split into functions visi

[2022-03-10 11:03] NatalieTop commented on #12767
hey @ekpyron thanks for your comment, the new issue was created merely with the purpose of funding it through the Gitcoin Grants. My understanding is that the issue has to be created by the account attached to the Gitcoin profile, I am going to check this with the Gitcoin team.

Regarding the rest of your comment, if you are able to provide a specification in greater details I am more than happy t

[2022-03-10 11:49] cameel commented on #12767
I added `Closes #11889` to the description so that resolving this should also close the other issue (I think it works like with PRs).

[2022-03-10 11:58] alcuadrado commented on #12739
Let's do an open call.

Here's a doodle with three different possible times for the call: https://doodle.com/meeting/participate/id/rb2AMjWa

Can you please vote for the ones that work for you, @OmarTawfik, @chriseth, @GregTheGreek, @medmin, and other people interested in joining? Please do it before Monday. If none of them work for you let me know.

We can definitely use jitsi.

[2022-03-10 12:07] NatalieTop commented on #12767
Appreciate you @cameel helping on that

[2022-03-10 14:03] Marenz commented on #12601
Looking at the test, I can see that we assert the diagnostics right after opening a file, I figured we should have that capability in this syntax too.
This is what I currently came up with:

[code]
the little `+` there means "the location of that variable `+1` because we want to replace the variable + one more (the `;`) with the string following. We have that situation also quiet a bit in the curr

[2022-03-10 15:39] dsmitchell opened #12772 "Documentation for Address.balance should include additional information"
## Page

https://github.com/ethereum/solidity/blob/develop/docs/units-and-global-variables.rst

## Abstract

The value returned by address.balance is slightly different for msg.sender. In that case it is reduced by the transaction's gas limit multiplied by the tx.gasprice.

Code that attempts to compare balances and make decisions should be aware of this.

I have proposed a tweak to the documentat

[2022-03-10 16:07] chriseth commented on #12601
Is this feature relevant for anything except the didChange handler? Adding state and actions (that are not just queries) to the systems seem like a rather complex change that we maybe don't even need - and it's also difficult to understand what happens in the tests.

[2022-03-10 16:16] chriseth commented on #12739
Which time zones are we actually in? I can make some of the suggested times, but they are out of my usual office hours.
I created a hackmd where we can gather some more information: https://notes.ethereum.org/@chriseth/SJTZ7jDb9/edit

[2022-03-10 16:50] chriseth commented on #12725
Ok, from your example, I see that the problem is rather the excodesize check and not the decoding failure (as you already said above).
I think changing the behaviour of try/catch with respect to the extcodesize check could be a good change.

I'm less convinced to execute the catch block in case of a successful call and return data decoding. I think we should not change the invariant that if the ca

[2022-03-10 17:01] Marenz commented on #12601
Well, every time a change is done or a file opened we get the reported diagnostics through the LSP server and in every test every diagnostic is currently exactly checked & validated to be what we expect it to be, e.g. "unused variable" for a certain location/range. I saw it as part of the tests really.
The particular test shown here removes the unused variable and checks the new diagnostics after

[2022-03-10 17:05] cameel commented on #12718
Just for reference since this is not included in the description. The error on 0.8.12 is:
[code]

**EDIT**: Oh, just noticed that it's there but as a comment.

[2022-03-10 17:21] GregTheGreek commented on #12739
I can't edit the hackmd, but im in EST but extremely flexible. This is an important discussion

[2022-03-10 17:36] cameel commented on #12718
Similar failing cases:
### `storage` vs `calldata`
[code]
[code]
Interestingly it does not fail if you change `calldata` to `memory` even though in that case types are still different.

### Function pointer
[code]
[code]
This does not happen if you replace `calldata` with `memory`.

### ~`address payable`~
**EDIT**: This is one is also not implicitly convertible. It should be the other way around

[2022-03-10 18:18] cameel opened #12774 "ICE in `abi.encodeCall()` when an internal function is passed in for an argument of a different type"
## Description
When you use `abi.encodeCall()` with a function that takes at least one argument, and you pass in an internal function pointer, the compiler reports an Internal Compiler Error.

[code]

This happens only specifically with internal function pointers and not with internal types in general. For example having such a pointer wrapped in a struct does not cause an ICE. Passing in an exter

[2022-03-10 18:42] cameel opened #12776 "Different types are not distinguished enough in error messages from `abi.encodeCall()`"
## Description
The error messages from `abi.encodeCall()` do not include enough information about the type. This makes error messages confusing:
[code]

## Steps to Reproduce
### `address` vs `address payable`
[code]
[code]

### Different function types
[code]
[code]

[2022-03-10 18:44] cameel commented on #12718
I created a new issue to improve the types in the error message: #12776. They're not detailed enough which makes it harder to see what's wrong.

[2022-03-10 19:19] cameel opened #12777 "Make `solc --link` not modify the input file in place"
## Abstract
`solc --link` is the only input mode that modifies input files in place. In all the other modes the compiler prints to stdout by default and only writes to files when the `--output-dir` option is used. I think that the `--link` option should be changed to behave like the other input modes.

## Motivation
The way it works currently, apart from just being inconsistent, is one of the reas

[2022-03-10 19:28] chriseth commented on #12777
Before we change this, we should ask if people use it like that. I think it could be rather annoying to change the behaviour if you use it like that.

[2022-03-10 19:49] cameel commented on #12777
Well, currently you have no other choice. It's the only way to use it (we don't support this via Standard JSON). So it's more of a question of whether people use it at all.

Even if they do use it, I think that for manual use this will actually be more intuitive (I was a bit surprised by this when I tried to use it for the first time) and for scripted usage we should just add this to Standard JSON

[2022-03-10 20:35] cameel opened #12778 "Functions taking `calldata` arguments are not assignable to function pointers of the same type"
## Description
The compiler seems to treat pointers to functions taking `calldata` arguments as if they had `memory` arguments instead. You cannot assign them, pass into a function of use in `abi.encodeCall()` even when the target type exactly matches the type of the function pointer.

## Steps to Reproduce
### `calldata` is not accepted
[code]
[code]

### `memory` is accepted instead
On the other

[2022-03-10 20:36] cameel commented on #12718
@ekpyron pointed out that the function call is a more general problem (not limited only to `abi.encodeCall()` so I reported it as a separate issue: #12778.

[2022-03-10 20:41] cameel commented on #12767
What's up with this? :P I've seen estimates like that in our other gitcoin grant too. Is this set by the applicant or is this something like date not being set at all and just displayed weirdly?

[2022-03-11 01:30] drortirosh commented on #12725
I still think that it should be possible to "catch" (that is, not throw) inside the try...catch block
A possible way is have a maybe a different catch mode, e.g. using s different catch signature. At first I thought of `Panic()`, but it is not thrown on such cases, so maybe something like:

[code]

I think that handling of decoding errors is highly required in complex contracts interactions.
Curre

[2022-03-11 07:24] Aivolt1 commented on #12718
Run command on cli

[2022-03-11 11:20] #12776 closed, assigned to nobody

[2022-03-11 13:05] ekpyron commented on #12587
@nventuro Unfortunately, there hasn't been progress on this and we don't have an estimated timeline for it. For now I moved it up in our design backlog, which will hopefully lead to us discussing it in one of our calls next week.

The main problem is that the implementation of this won't be trivial and I guess probably either @chriseth or I would have to do it and I'm not sure when we'll find the

[2022-03-11 13:32] maurelian commented on #11417
This would only apply to pre
Hmmm.. in a situation where
I'm a dev, I'm using solidity 0.8.1.
I'm using an OZ lib written in solidity 0.8.10 with the new feature in it.

[2022-03-11 13:58] maurelian commented on #11417
I'd like to advocate for something cleaner like `assembly memsafe {}`. Considering that comments have never (AFAIK) impacted on compiler output, it feels like this is optimizing for a tiny corner case at the cost of baking in a pretty ugly bit of syntax.

I see the following scenarios (assuming that this feature is to be added in `0.8.z`, and then gets utilized in [OZ](https://github.com/OpenZeppe

[2022-03-11 14:14] ekpyron commented on #11417
@maurelian For the record: we did actually implement this with https://github.com/ethereum/solidity/pull/12620 and https://github.com/ethereum/solidity/pull/12663 (not released yet, though).

So what's currently on ``develop`` is the following:

We allow both:
[code]
and
[code]

with the plan to remove the former either directly in 0.9.0 or the breaking release after.

We're aware that using a com

[2022-03-11 14:18] ekpyron commented on #11417
Note that introducing ``assembly ("memory-safe") { ... }`` is non-breaking, so it's fine to add it in 0.8.13.

So the reasoning is rather that the comment is supposed to only be used by libraries that want to be compatible with the full ``0.8`` series...i.e. if a library uses the comment, it can still be used with ``0.8.0``, but using it with ``0.8.13+`` can still benefit from the memory-safety in

[2022-03-11 14:42] tfire commented on #12743
Resolved

[2022-03-11 14:59] cleanunicorn opened #12780 "Cannot import shadowed functions in Solidity 0.8.12"
## Description

Importing overloaded methods in Solidity 0.8.12 gives an error instead of loading the methods, even if the methods are not called.

Other info that might be relevant:
- Checking the Solidity change list I found something that *might* be relevant

- @chriseth once said that Solidity performs conflict resolution when the method is called. However, this doesn't seem to be the case any

[2022-03-11 15:41] maurelian commented on #11417
Ah, OK. That sounds like a reasonable compromise thanks for explaining.

[2022-03-11 16:10] ekpyron commented on #11417
Ok, then I'm closing this, since it was closed by https://github.com/ethereum/solidity/pull/12620 resp. https://github.com/ethereum/solidity/pull/12663

[2022-03-11 16:10] #11417 closed, assigned to nobody

[2022-03-11 18:34] cameel commented on #12743
So is the `isDigit()` thing resolved? Can we close this?

[2022-03-11 18:49] tylerfxn commented on #12743
Yes, resolved @cameel

[2022-03-11 19:23] moodysalem opened #12782 "allow specifying a function should be inlined in the signature"
many internal functions are so small that they should be inlined to avoid a jump

perhaps the solidity optimizer should handle this with a large number of runs, but some functions are expected to be run much more than others.

it would be nice to be able to control whether a function is inlined where it's called at the callsite or in the function signature

[2022-03-11 21:02] #12743 closed, assigned to nobody

[2022-03-11 22:45] cameel commented on #12782
I cannot find an issue covering this but I think it was discussed before. I only see #10938, which is about improving the inlining in the optimizer.

Overall, I remember that our position was that we want to make inlining heuristics better, not drop the responsibility on the users. In most cases the compiler is in a better position to make that decision. There are of course situations where you're

[2022-03-12 07:52] barakman opened #12783 "`UnimplementedFeatureError` with no line indication when copying an array of structs to storage"
## Description

I am getting an error with no indication of which line it refers to:
[code]

## Environment

- Compiler version: 0.8.12

## Steps to Reproduce

Well, I need to dig through my code in order to find it, but on the compiler side, the problem is probably in ArrayUtils.cpp:
[code]

Thanks :)

[2022-03-12 12:51] gakonst commented on #12291
We'd really love to have cross-compiled binaries that are officially released.

For context, people really need the ARM builds and have started to create self-hosted repositories of binaries for usage in solidity version managers:

* https://github.com/crytic/solc (not arm but same point)
* https://github.com/nikitastupin/solc/
* https://github.com/roynalnaruto/solc-builds

This is arguably more d

[2022-03-13 13:38] gakonst commented on #11351
FYI @nikitastupin went ahead and made a GHA release flow here https://github.com/nikitastupin/solc/. Would love exploring a way to get this upstreamed.

[2022-03-13 13:46] gakonst opened #12784 "Cannot build <0.8.5 from source in M1"
## Context

Given there are no official Apple Silicon (https://github.com/ethereum/solidity/issues/12291) builds, we have started building them and packaging on our own here https://github.com/roynalnaruto/svm-rs/ / https://github.com/roynalnaruto/solc-builds/tree/master/macosx/aarch64. Up to version 0.8.5 everything's good, but problems seem to arise for earlier versions, presumably some dependen

[2022-03-13 14:42] roynalnaruto commented on #12784
On my M1 machine I see a different (but the same compilation error) for both `v0.8.4` and `v0.8.1`:

https://gist.github.com/roynalnaruto/5a44eec0f33cecf7c077c08dab99aec5

[code]

[2022-03-13 14:55] gakonst commented on #12784
My boost version installed with `brew install boost` is 1.78 btw.

[2022-03-13 20:25] ozenirgokberk commented on #3170
Is there any improvement about this content ? This approach cannot solve the problem i guess. if you try to call onlyOwner functions in SapienToken from TokenController, you can see the fails about ownership.

[2022-03-14 03:37] devtooligan opened #12785 "Yul Style Guide"
The Solidity documentation includes a [Style Guide](https://docs.soliditylang.org/en/latest/style-guide.html) section which provides guidelines and recommendations for writing Solidity code. But there is no mention of Yul coding style guidelines within that page or within the Yul section of the docs. There are some indirect references to Yul style throughout the [Yul docs](https://docs.soliditylan

[2022-03-14 04:00] Darksinian commented on #12777
I am happy to work on this issue.

[2022-03-14 09:23] wechman commented on #12406
I did a research on the problem and confirmed that the compiler gets stuck for a long time on [PeepholeOptimiser::optimise](https://github.com/ethereum/solidity/blob/develop/libevmasm/PeepholeOptimiser.cpp#L425). In consecutive optimization steps it applies [JumpToNext](https://github.com/ethereum/solidity/blob/develop/libevmasm/PeepholeOptimiser.cpp#L295) rule. For me it takes almost 5 hours to g

[2022-03-14 09:38] #12350 closed, assigned to wechman

[2022-03-14 10:57] krushangSk17 commented on #12549
have you found the solution???

[2022-03-14 10:58] krushangSk17 commented on #12549
please reply if you found any solution for making struct array inside the struct.

[2022-03-14 11:20] chriseth commented on #12739
So shall we find a date together? Tomorrow would be ok for me, I would just prefer at least one hour earlier.
I re-checked again and it seems the hackmd is indeed publicly editable, not sure what the problem is for you, @GregTheGreek

[2022-03-14 11:27] chriseth commented on #12780
So how do we fix it? Just not perform overload resolution if the reference is inside an import statement?

[2022-03-14 11:47] chriseth commented on #12291
I'm sorry, but we don't want to release binaries that did not go through our testing pipeline.

It's by the way totally fine and danger-free to work with a compiler someone else built because you can cross-check the bytecode with an official compiler binary.

[2022-03-14 11:48] ekpyron commented on #12780
We didn't do it before 0.8.12, so we should just keep not doing it, yes.

[2022-03-14 11:53] gakonst commented on #12291
Got it. Hopefully there will be a runner soon https://github.com/actions/runner/issues/805#issuecomment-1041968059

[2022-03-14 11:53] cameel commented on #12777
@MohamedAlaa201 We still need to decide if we want to do this. This is way it's labeled `good first issue candidate` and not `good first issue`.

[2022-03-14 11:55] chriseth commented on #12784
These errors should be easy to resolve. If you need some help, please don't hesitate to come to our chat on matrix / gitter.

[2022-03-14 12:03] gakonst commented on #12784
How should one be approaching this? I do not write much C++, so any guidance would be appreciated :)

[2022-03-14 12:04] chriseth commented on #12784
As I said: chat is probably best here. The first error can be fixed by adding `#include <list>` to the top of `CircularReferencesPruner.cpp`

[2022-03-14 12:05] chriseth commented on #12784
Sorry, to `Algorithms.h`

[2022-03-14 12:08] cameel commented on #12784
Could be the same thing as #11398. This unfortunately required a change on our side for newer boost (#11399) so you'll probably need older boost for that version

[2022-03-14 12:11] gakonst commented on #12784
The 0.8.1 and 0.8.2 bug is resolved by PR (indeed, adding `#include <list>`  fixes it). It makes sense perhaps to backport this commit / cherry-picking it on top of the 0.8.1 and 0.8.2 tags?

(Now 0.8.1 and 0.8.2 fail at the same step as the other versions)

[2022-03-14 12:23] gakonst commented on #12784
Cherry-picking https://github.com/ethereum/solidity/commit/8f56c6ad5c737c5db8243f125e42ecfa634506c9 on 0.8.1 gets me past the first error.

Cherry-picking https://github.com/ethereum/solidity/issues/11398 on v0.8.1 on boost 1.76/1.77 doesnt make a change unfortunately.

On Brew, Boost 1.76 is the latest one (`brew search boost`), as a result you cannot "easily" switch to an older version, meaning

[2022-03-14 13:10] #9211 closed, assigned to hrkrshnn

[2022-03-14 14:02] #12621 closed, assigned to wechman

[2022-03-14 14:22] GregTheGreek commented on #12739
I'm unable to login since I'm not a memeber of the Ethereum org

[2022-03-14 14:32] chriseth commented on #12739
You should be able to edit it without logging in.

[2022-03-14 14:35] #12780 closed, assigned to nobody

[2022-03-14 18:14] alcuadrado commented on #12739
I'm fine with scheduling this way. I believe we have people in timezones ranging from the west coast of the states (@OmarTawfik), to Europe, so some of us will need to be a bit flexible. I have no problem with that and will make whatever gets chosen work for me.

[2022-03-15 02:04] OmarTawfik commented on #12739
MAR 16 WED (12:00 PM PST) seems to be the most voted option, so let's use that. Happy to reschedule if there are any hard conflicts. If so, please add your vote [to the doodle](https://doodle.com/meeting/participate/id/rb2AMjWa).

[2022-03-15 09:40] NatalieTop commented on #12767
@cameel the first applicant mentioned one year as an estimate time to deliver the task, I gave preference to the second one who seemed to be more committed to deliver fast
Let's see ...

[2022-03-15 09:50] chriseth commented on #12739
From what I can see in the hackmd, we can do the meeting at least two hours earlier than the options given in the doodle. Would that work for everyone?

16th of March 1600 GMT? This should be 0900 PST and 1700 CET

[2022-03-15 13:05] ramgos opened #12792 "mapping getters don't return structs with arrays correctly"
Whenever there is a mapping from some type to a struct, and the struct contains a dynamic array - calling the getter of the mapping doesn't show the array's values

Compiler version: 0.8.12 (tested also 0.8.7 and 0.8.3)
Target EVM version: london
Framework/IDE: Remix, also reproduced on hardhat ethers
EVM execution environment: javascript VM
Operating system: Linux

example:

[code]
After `setValu

[2022-03-15 14:45] maurelian commented on #11593
As a real world example, this use of `encodePacked()`:

https://github.com/Anish-Agnihotri/merkle-airdrop-starter/blob/83d6c65d00a10b40e0abdd84a5afa692553a9e72/contracts/src/MerkleClaimERC20.sol#L66

Would need to use casting to do the same thing:

[code]

Would it be considered more 'idiomatic' to use bytes.concat and cast from `address` and `uintX`?

[2022-03-15 14:58] chamitro opened #12794 "Yul Optimzer : "Variable count for assignment to "z" does not match number of values (1 vs. 0)."
## Description

Hello everyone,

I hope you are all well.
Shouldn't the contract below be compiled?
[code]
Instead it "Variable count for assignment to "z" does not match number of values (1 vs. 0).

## Environment

- Compiler version: 0.8.12
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execution environment / backend / blockchain client:
-

[2022-03-15 15:10] chriseth commented on #12794
I guess the problem is that `mstore` does not return anything.

Apart from that, you are using storage pointers for memory, which will lead to undefined behaviour.

Questions like this are better asked on the matrix / gitter chat room because you will get faster and better responses there.

[2022-03-15 15:10] #12794 closed, assigned to nobody

[2022-03-15 15:51] alcuadrado commented on #12739
That works! I just created a Calendar event and invited most people here (i.e. the ones I know their emails). For anyone who didn't receive the invite, here's the jitsi link: https://meet.jit.si/SoliditySpecInitialDiscussion

[2022-03-16 07:31] wechman commented on #12406
I did a research on the problem. First of all, [MediumVerifier.sol](https://gist.github.com/citizen-stig/a25be3d125969c64f0f2b94b28a0d160)
 compilation finishes successfully, but it takes a lot of time. When I checked that for the first time it took almost 5 hours. Recently I updated to the newest develop and now it needs approximately 2 hours. I am not sure if the time drop is related to the rece

[2022-03-16 09:23] chriseth commented on #12406
Can you find out how many iterations the loop in `Assembly::optimiseInternal` is run and how long each iteration takes?
Another useful information might be how long the chunks are that are passed to the CommonSubexpressionEliminator (i.e. the distance between `iter` and `orig`) and how often `shouldReplace` is false.

[2022-03-16 09:35] ekpyron commented on #12767
Just to make sure: it's clear that this has to be done following https://github.com/ethereum/solidity/issues/12767#issuecomment-1063901600 rather than the specification in the current issue description, right?

[2022-03-16 09:37] chriseth commented on #12767
@fsw-life please get in contact with us. Issues like these could be rather delicate and I think it is vital to discuss how to solve this issue at least on a high level. You can either comment here or (preferred) join our matrix chat or team meetings as explained on our [contributing](https://docs.soliditylang.org/en/latest/contributing.html) page.

[2022-03-16 09:56] NatalieTop commented on #12767
right

[2022-03-16 14:06] chriseth commented on #12725
@hrkrshnn noted that if we go to the catch block on excodesizecheck failure, we have to re-add the extcodesizecheck that was recently removed due to a decoding error resulting in a revert anyway #12204

[2022-03-16 14:21] ekpyron commented on #12587
We just discussed this in our design call and decided to make it a goal for Q2 2022.

Current rough sketch of a plan is:
- start off with an implementation for ``bytes`` only and then extend
- the length is dynamic without syntactic maximum and stored as if it was an immutable of value type
- we don't call them ``immutables``, but introduce a data location ``code`` for them that can be passed arou

[2022-03-16 14:39] mudgen opened #12807 "Requesting ability to define modifiers in Solidity libraries and use them in contracts"
## Abstract

It would be useful if people could define modifiers in Solidity libraries and be able to import and use them in contracts.

## Motivation

It has been found by myself and others that it is possible to write clean code by writing internal functions in Solidity libraries and then importing those libraries into contracts and using them.

This can be a good way to write code because it ca

[2022-03-16 17:01] alcuadrado commented on #12739
Thanks everyone for joining the call! It went really well, and we are excited about this.

[Here](https://nomiclabs.notion.site/shared-notes-Solidity-Spec-Initial-discussion-de1a09f1a9874ca284a4f55c356810bb) are my notes. You should have permission to comment, so let me know if something is wrong/missing.

[2022-03-16 17:43] hroussille opened #12811 "Wrong documentation for CREATE2 address computation"
## Page

[This](https://docs.soliditylang.org/en/v0.8.13/control-structures.html#salted-contract-creations-create2) is the page where there is the issue.

## Abstract

The documentation explaining the behavior of salted contract creations / create2 is wrong and misleading since it relies on a special case :

The example code :

[code]

Implies that arguments are encoded with `abi.encodePacked` whi

[2022-03-17 05:25] YashasSamaga opened #12812 "`pragma solidity` with partial versions in match expression broken on prerelease builds"
## Description

[code]

gives

[code]

but there shouldn't have been an error as `0.8.13-develop....` is strictly greater than `0.8.12` which in turn is greater than `0.8`.

The following test cases work as expected:

[code]

## Environment

- Compiler version: 0.8.13-develop.2022.3.14+commit.57e012da.Linux.g++
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix

[2022-03-17 05:31] YashasSamaga commented on #12812
`pragma solidity >= 0.8` results in a disjunction of a single conjunction with a single match component for `>= 0.8`. There are only two levels in `0.8`. `levelsPresent` of `MatchComponent` is set to two. The relevant logic below checks up to two levels only:

https://github.com/ethereum/solidity/blob/10b581b8e8e6e23f8ada8428a0a8b495f54f7333/liblangutil/SemVerHandler.cpp#L110-L137

`0.8` matches w

[2022-03-17 09:38] chriseth commented on #12812
Do I see it right that this is only a problem for prerelease versions?

Please go ahead and create a pull request!

[2022-03-17 10:37] chriseth commented on #12650
The "JUMP(READ(table_start + index))" in the issue description is a bit too optimistic. I wrote some pseudo-assembly to see what the rest of the boilerplate code apart from computing a good hash value is. This assumes that this mechanism is applied to code generation for yul switch statements in general, and not just the external dispatch.

In the following, the stack grows to the right.

[code]

[2022-03-17 11:04] chriseth commented on #12807
The main reason I did not yet consider to allow defining modifiers outside the current contract is that I don't see them to be useful because most of the time you would access at least a state variable of the contract. Can you provide some code examples where this is useful?

[2022-03-17 11:34] wechman commented on #12406
With #12801 I managed to reduce compilation time in a release build from 45 to 21 minutes. 99.99% of that time compiler spends in [Assembly::optimiseInternal](https://github.com/ethereum/solidity/blob/develop/libevmasm/Assembly.cpp#L406) iterating 1614 times over the [main loop](https://github.com/ethereum/solidity/blob/develop/libevmasm/Assembly.cpp#L429). Meanwhile `shouldReplace` has value `tru

[2022-03-17 13:59] masstez opened #12813 "Feedback"
## Abstract

## Motivation

## Specification

## Backwards Compatibility

[2022-03-17 14:24] mudgen commented on #12807
@chriseth Yes, of course. Currently `storage` parameters can be defined on modifiers and state variables can be passed to modifiers as arguments. I would think the same thing could be done with modifiers defined in libraries.

But also, there is a growing use of Solidity libraries using Diamond Storage to access state variables of contracts directly, and modifiers in Solidity libraries could do th

[2022-03-17 14:46] nventuro commented on #12587
The `code` part sounds very interesting! Looking forward to how this turns out, it'll likely be the tipping point that makes me migrate to 0.8 :grin:

[2022-03-17 17:36] chriseth opened #12814 "Overflow checks should not avoid overflow"
I'm not totally sure anymore why we implemented overflow checks without using overflow, but I think we should change that and use the cheapest method possible.
I can think of two reasons:
1. it might be easier for a possible future reasoning engine in the compiler
2. it might be easier to detect overflow by external tools

The reasoning engine we currently have in mind should be powerful enough to

[2022-03-17 19:42] frangio commented on #12587
A `code` location would be an awesome addition. I was going to say before that "assign once and do not read" is not the crucial part that people care about. It's all about the efficiency of access.

[2022-03-17 20:43] hrkrshnn commented on #12811
Fixed in https://github.com/ethereum/solidity/pull/12810

[2022-03-17 20:43] #12811 closed, assigned to nobody

[2022-03-17 22:11] VCFNFT opened #12815 "VCFNFT"
POST /spot_margin/offers
{
  "coin": "USD",
  "size": 10.0,
  "rate": 1e-6
}
Response

{
  "success": true,
  "result": null,
}

[2022-03-17 22:22] cameel commented on #12815
Looks like spam.

[2022-03-17 22:22] #12815 closed

[2022-03-18 01:43] YashasSamaga commented on #12812
Yes, I think so.

This won't work. I think the following shouldn't give an error (which the compiler doesn't as of now but the proposed fix gives an error):

[code]

with the latest compiler (0.8.13).

[2022-03-18 09:40] OmarTawfik commented on #12739
Thanks all for attending. I really appreciate you making the time. I'm excited for the future of this!

[2022-03-18 10:19] chriseth commented on #12814
It looks like we can save 7 gas per addition:
[code]
wrt
[code]

[2022-03-18 11:03] 134dd3v opened #12816 "Internal getters for mappings"
## Abstract

The following method exists:

[code]

Now I want to use the above method to implement:

[code]

The above code doesn't work obviously, but is it possible to convert mapping into a view function?

## Motivation

Mappings are sort of like view functions with one input and one output. So there should be a way to cast a mapping type into a view function.

## Specification

[code]

The `to

[2022-03-18 15:09] cameel commented on #12816
So, basically, you'd like to have a way to ask the compiler to automatically generate an internal getter function for any mapping?

Note that currently you can do this with with external functions if your mapping is public (because the compiler generates a getter in that case):
[code]

With internal functions you can achieve this by defining the function yourself as long as you can access the orig

[2022-03-18 15:12] cameel commented on #12297
Potential use case for closures: #12816.

[2022-03-18 15:15] cameel commented on #12816
Actually, I think that one advantage over #12297 would be that this is much simpler to implement than closures in general. So the main issue is mainly how common is this - we need use cases.

[2022-03-18 16:23] nventuro commented on #11879
Stopping by to _enthusiastically_ voice support for this feature: creating simple arrays is extremely un-ergonomic (see e.g.: https://github.com/balancer-labs/balancer-v2-monorepo/blob/9e7a59e2281c1c182f1c604458a1391c0dbe44df/pkg/vault/contracts/authorizer/TimelockAuthorizerMigrator.sol#L145).

Is there an estimated timeline for this feature to be complete?

[2022-03-18 16:54] cameel commented on #11879
Yeah, we're aware of this particular pain point and we get a lot of complaints about it. It's one of the tasks on our roadmap for Q2 2022.

[2022-03-18 17:13] sahil5d opened #12817 "Satoshi Nakamoto candidate"
This Paypal cofounder is likely Satoshi Nakamoto, based on common

- technical capability
- psychological motivation
- time availability plausibility
- physical location coincidence
- software stylistic similarity
- technical jargon similarity
- unusual and quirky expressions similarity.

https://medium.com/p/4120f36da702

[2022-03-18 17:53] cameel commented on #11351
That looks nice. This is only for the latest version though, isn't it? I don't see any workarounds that would probably be required to build earlier versions. I mean, if none are needed then great, but I needed a ton when I did builds for macOS earlier (see how gnarly [`random-macosx-build.yml`](https://github.com/ethereum/solc-bin/blob/gh-pages/.github/workflows/random-macosx-build.yml) is :))

Bu

[2022-03-18 18:09] cameel commented on #12817
In what way is this relevant to Solidity compiler?

This looks like spam. Closing.

[2022-03-18 18:09] #12817 closed

[2022-03-19 10:54] barakman opened #12819 "`require` statement does not emit the given error-message"
## Description

I believe that this is a bug in the compiler, in which, under very specific circumstances, a `require` statement does not emit the given error-message.

## Environment

- Compiler version: 0.8.12 (optimizer-runs: 20000)
- Target EVM version (as per compiler settings): Ganache 7.0.1
- Framework/IDE (e.g. Truffle or Remix): Truffle 5.4.33
- Operating system: MacOS

## Steps to Reprod

[2022-03-19 16:44] ogubuikeAlex commented on #12501
This issue arises when I try to debug my smart contract on VScode using f5

Any help?

[2022-03-19 22:56] cameel commented on #12501
@king-Alex-d-great If you're using vscode-solidity extension, please [submit an issue in that projects' bug tracker instead](https://github.com/juanfranblanco/vscode-solidity/issues/new).

[2022-03-19 23:21] cameel commented on #12819
I did a quick test in Remix by adding this function and the code reverts properly:
[code]

So I think it's likely either a bug in how Truffle encodes parameters for the call or a problem in the test itself.

Before we dig deeper - can you make sure your test is correct? One thing that stands out to me is that you do not use `await` with `myContract.test()` when you use it in combination with ` ass

[2022-03-20 07:54] barakman commented on #12819
Hi @cameel ,thank you for your quick response :)

A few notes:
1. That doesn't look like the same scenario though, because your test code is onchain, while mine is offchain.

2. The `assertRevert` function is part of my test, so you can see exactly what it looks like (i.e., no hidden unknowns here); I can replace my call to this function with a `try/catch` clause, the result would be the same.

3.

[2022-03-20 14:39] brockelmore opened #12820 "Add `("pure")` & `("view")` assembly tags"
## Abstract

Add `("pure")` and `("view")` as valid assembly tags, and force state mutability cohesion between solidity and assembly/yul blocks.

It is currently possible to trick solidity into thinking a function can maintain it's `pure` and `view` tags by dropping into assembly. With 0.8.13, a new syntax style for tagging assembly/yul blocks was introduced (via a hack around `ewasm` tag) for `as

[2022-03-20 15:24] brockelmore commented on #12820
after talking with hari about this, sounds like this actually doesnt help the optimizer and likely would just be user bloat - ignore

[2022-03-20 15:24] #12820 closed, assigned to nobody

[2022-03-20 15:50] recmo opened #12821 "constant lookup tables or datacopy in Solidity"
## Abstract

On several occasions I wished I could write lookup tables like so

[code]

The expected behaviour here is for solc to compile this down to a Yul `data` object and a `datacopy` to scratch followed by and 1mload`, which in turn results in an EVM `codecopy + mload` instruction. Unfortunately instead I get

[code]

## Motivation

I am not aware of an alternative with the same constant gas

[2022-03-20 16:03] recmo commented on #12821
One currently available workaround (while still O(n)) is the stackoverflow suggestion:

[code]

[2022-03-20 16:17] recmo commented on #12821
Another current available workaround (which is technically O(log n) but with a big factor) is a big ugly binary tree of branches:

[code]

Edit: This benchmarks as ~200 gas, compared to 2000 gas for the `bytes constant` one. Shows you the power of logarithms! But a proper `codecopy` solution should only be a dozen or so gas.

[2022-03-20 16:23] hrkrshnn commented on #12821
Effectively, implementing https://github.com/ethereum/solidity/issues/12587 would allow doing this. `immutable` / `code` data location would be stored in bytecode. The lookup would be `codecopy(...)` of some offset.

[2022-03-20 19:57] zemse commented on #12573
Is there any approximate idea when 0.9 is going to be released?

[2022-03-20 20:59] fulldecent opened #12822 "Allow public state variable with private setter"
## Usage

Sometimes it is required to a make a contract which is intended to be inherited. And the designer wants to ensure that the inherited will not change a specific storage variable. But at the same time this storage variable may be readable.

|                 | `public(get)`                                                | `internal(get)`                                              | `priv

[2022-03-21 04:46] Gilgames000 opened #12825 "LSP throwing an error on each and every character I type in the editor"
## Description

The LSP throws an error whenever I'm editing a .sol file. The error gets triggered every time I type a character. Restarting the LSP or reinstalling it doesn't fix the problem.

## Environment

- Compiler version: 0.8.13
- Editor: NeoVim 0.7.0
- LSP client: NeoVim built-in
- Operating system: Arch Linux

## Steps to Reproduce

Open any .sol file and start typing.

Error message:
[c

[2022-03-21 07:44] azige commented on #10900
The worst thing is such codes can be compiled by solc `0.8.12+commit.f00d7308.Emscripten.clang` *without any warnings and errors*. I was trapped once by this. I think the compiler should raise a warning until a proper solution for this issue is made.

[2022-03-21 10:18] christianparpart commented on #12825
Hey @Gilgames000. Thanks for your report. I am using coc.nvim along with NeoVIM / VIM. Can you maybe tell me your vim-native LSP configuration such that I can reproduce your local environment?

[2022-03-21 10:20] YashasSamaga commented on #12812
Based on my understanding/interpretation of the [semvar specs item 11](https://semver.org/#spec-item-11), prerelease checks should be performed only when all of major, minor, and patch version identifiers are equal. Otherwise, normal precedence rules apply.

11.1 says:

This is already done in the code.

11.2 says:

This is already done in the code.

11.3 says:

The code does not strictly follow t

[2022-03-21 13:36] SolidStaker-fiefKing opened #12827 "install_deps.sh removed... replaced with what?"
## Page

[]
https://docs.soliditylang.org/en/v0.5.11/installing-solidity.html#dependencies-helper-script

## Abstract

Working with WSL 2, Docker, ubuntu 18.*, Win10 enterprise. Trying to run the helper script and one of the recent commits has a commit (see comment on file install_deps.ps1) and that commit states "removed install_deps.sh"... I tried several things and looked for what may have repl

[2022-03-21 18:29] hrkrshnn commented on #12822
From a practical point of view, setters almost always have some access controls on them. Because of that, I don't see a need for compiler generated setters.

[2022-03-21 18:49] fulldecent commented on #12822
This issue is not about compiler generated setters.

This issue is about disallowing a subclass from accessing the setter of the parent.

[2022-03-21 19:10] cameel commented on #12827
See #9582 for full context.

We removed the script because it was basically unmaintained. The commands to install dependencies are in most cases very simple and what the script was providing was really just a bit of encapsulated knowledge on what the right commands are for each system. It was failing at this simple task because we almost never recheck that these still work - we only actively test

[2022-03-21 19:10] #12827 closed, assigned to nobody

[2022-03-21 20:27] fulldecent opened #12829 "Use immutable in pure function"
## Abstract

`immutable` is defined as:

So I was expecting this to work since it does not access state:

[code]

[2022-03-21 22:12] Gilgames000 commented on #12825
Sure @christianparpart! I use the built-in LSP client, the official [nvim-lspconfig](https://github.com/neovim/nvim-lspconfig) configuration for it, [nvim-cmp](https://github.com/hrsh7th/nvim-cmp) and an auto-completion engine that uses LSPs as completion sources, and [nvim-lsp-installer](https://github.com/williamboman/nvim-lsp-installer) to easily install and manage LSP servers.

You can install

[2022-03-22 00:16] hrkrshnn opened #12830 "Should `using` be applicable for interfaces and libraries?"
[code]

[2022-03-22 12:02] hrkrshnn commented on #12822
@fulldecent The syntax is not quite clear to me:

[code]

Would `private(set)` create a compiler generated setter? If not, how does the compiler connect the declaration to the actual setter?

[2022-03-22 12:08] fulldecent commented on #12822
There is no generated setter function.

The expression is meant to indicate that an inheriting contract will NOT be allowed to use that state variable as an l-value.

[2022-03-22 13:07] bshastry opened #12832 "Error when array length is an expression involving only literals and type conversions: `Invalid array length, expected integer literal or constant expression`"
[code]

throws the said error although the length literal is an integer literal and a constant expression.

[2022-03-22 14:02] chriseth commented on #12830
We retained the same mechanism that was in place already for "using" inside a contract.

[2022-03-22 14:17] chriseth commented on #12829
Duplicate of https://github.com/ethereum/solidity/issues/9554 - it works if you write `uint immutable count = 4`.

[2022-03-22 14:17] #12829 closed, assigned to nobody

[2022-03-22 14:19] chriseth commented on #12832
I think the issue is that the constant is too large - we should improve the error message.

[2022-03-22 14:41] suicide opened #12833 "LSP: bare imports are not resolved"
## Description

I am note sure whether this is actually a bug or rather a new feature.

When having a bare import like:

[code]
I get the following error message from the LSP:
[code]

The file to import is part of a dependency within `node_modules`. The 'searched' location from the error msg is the project root.

The problem persists in truffle and hardhat projects as far as I can see. I'd also fi

[2022-03-22 14:54] chriseth commented on #12833
Unfortunately, this is not yet possible, it needs the feature of setting the include path in the LSP.

[2022-03-22 14:55] chriseth commented on #12792
This is on purpose. Arrays are not returned by value from getters. Instead index access is provided for them. Since it is not possible for structs, we decided to drop these arrays. Unfortunately, you have to implement your own getter function if you want this functionality.

[2022-03-22 14:55] #12792 closed, assigned to nobody

[2022-03-22 15:23] fulldecent commented on #12829
I do not consider this a duplicate.

Passing in the variables in the constructor will result in the variables (immutable) getting written to the bytecode. And so that function should be able to be pure.

[2022-03-22 15:40] hrkrshnn commented on #12830
The main issue now is that you can ship a file with a global using statement  and only realize at callsite that the statement cannot be used. I think we need to introduce more checks at the using statement definition.

Unfortunately, this would be a breaking change 😢

[2022-03-23 02:11] YashasSamaga commented on #12812
Another test case that fails (even with the proposed fix):

[code]

[code]

[2022-03-23 03:29] Arachnid commented on #11278
In the meantime, there's a couple of language features that would make it at least possible to have a workaround:

- Slicing of `bytes memory`, so we can check function signature and decode revert data manually without resorting to assembly
- Something like `abi.tryDecodeWithSelector()` that takes a selector and a set of arguments, and decodes the arguments only if the selector matches.

[2022-03-23 11:27] chriseth commented on #11278
Implementing something like `abi.tryDecode` (that returns a bool on decoding failure instead of reverting) is unfortunately the bulk of the work for this feature. What we could do "rather quickly" is catching custom errors for try/catch without a default case, because then, we can just forward-revert on decoding errors.

[2022-03-23 12:56] cameel commented on #12814
Just to clarify: you mean we should have used the `ovf` and `sovf` flags from [EIP-1051: Overflow checking for the EVM](https://eips.ethereum.org/EIPS/eip-1051)?

How do we access them at Yul level?

EDIT: I see that the EIP is stagnant so it's probably not this mechanism.

[2022-03-23 13:36] bshastry commented on #12832
[code]

also errors similarly. But here there is something else wrong.

[2022-03-23 13:39] hrkrshnn commented on #12830
The decision was to break `using X for I` where `I` is interface or contract type. Will write a blog post regarding this.

[2022-03-23 13:50] bshastry commented on #12832
On debugging, it looks like the constant evaluator does not evaluate explicitly typed constant literals like `uint8(1)`.

[2022-03-23 13:59] bshastry commented on #12832
Minor update: This error is also encountered when statically defined array size is a compile-time constant but is not in a form that will be evaluated as such because it is not of a `RationalNumberType` e.g., `bool[uint8(1)] x;`

[2022-03-23 14:46] chriseth commented on #12830
`using SafeTransfer for IERC20 global` turned out to be an unintended feature, i.e. a bug.

Whether or not we should disallow `using X for I` for interfaces and contracts should probably be discussed with more user feedback, but I personally tend to disallowing it.

Essentially: If there is a different way to define member functions for types, the other way should be used.

[2022-03-23 15:33] 0xad1onchain commented on #7423
Are there any updates on this issue?

[2022-03-23 18:48] chamitro opened #12840 "[Yul Optimizer] Optimized Contract crashes when it transacts"
## Description

Hello everyone,

in the contract below
[code]
when it is compiled with solc 0.8.12 or 0.8.13 its is not deployed,
but when it compiler's with yul optimization it is deployed but hangs when it transacts and remix crashes.

## Environment

- Compiler version: solc 0.8.13
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execution en

[2022-03-24 01:37] haltman-at commented on #12819
So I commented on this over on the Truffle issue, but I took a look and as best I can tell, there is no compile error; rather, the reason there's an out of gas message instead of the expected revert string is because the transaction does in fact run out of gas before it hits the revert.

[2022-03-24 11:35] chamitro opened #12848 "Optimized Contract freezes with big uint number as argument"
## Description

Hello again,

in the contract below,
[code]
when you try to run the optimized version given x2 a big number such as 100000000, then the optimized contract is never run and freezes.

## Environment

- Compiler version: solc 0.8.13
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Ope

[2022-03-24 12:34] rayyan808 commented on #11638
Problem arose for me whilst trying to initialise two `array` instances of `struct` within the constructor. Using solidity `0.8.13`

[code]

[2022-03-24 13:40] chriseth commented on #12573
Not really. Maybe this year.

[2022-03-24 14:16] #12718 closed, assigned to nobody

[2022-03-24 15:11] chriseth commented on #12840
Thank you for opening this issue!
Can you tell us a bit more about what you expect the compiler to do with your code?
The inline assembly in your code has an infinite loop, so whatever call you make to the contract, it will consume all gas.

What do you mean by "crash" and what do you mean by "it is not deployed"? I can successfully deploy the contract in remix using solidity 0.8.13.

[2022-03-24 15:15] chriseth commented on #12848
Your contract uses a loop and you probably did not supply enough gas for the loop to finish.

What do you expect to happen?

[2022-03-24 15:30] chamitro commented on #12840
Hello,

this is a contract that is produced by my fuzzer, so the infinte for statement and part of the inline assembly code is produced with my fuzzer mutations. What I mean is that, when you try to run the unoptimized contract with an input (e.g. calldata 1A) then, the regular code will never run, while the optimzed one while run, consuming all the gas.

[2022-03-24 15:35] chriseth commented on #12840
What do you mean by "it will never run"? It runs out of gas for me as well as the optimized version. How exactly do you compile it and how to do you execute it?

[2022-03-24 15:44] chamitro commented on #12840
the optimized version when you try to transact with calldata 1A :

![2](https://user-images.githubusercontent.com/36297330/159954520-f270db50-b6e8-4a9f-a484-7f264932c9c4.png)

the unoptimized(regular) version when you try to transact with calldata 1A :

![1](https://user-images.githubusercontent.com/36297330/159955275-a6a2cbf6-cf8d-4411-8ae4-0878a50cae74.png)

[2022-03-24 15:50] chriseth commented on #12840
Ok, now I understand. The unoptimized version performs large memory accesses while the optimized version only accesses storage. I think this is rather a bug in remix than in solidity.

[2022-03-24 15:57] chamitro commented on #12840
but despite the large memory accesses shouldn't both contracts run at the end? I mean if an optimized contract can run, while the same regular contract can't, my intuition this that is a bug.
But of course I am not sure. What should be the expected outcome?

[2022-03-24 15:59] chriseth commented on #12840
They both run, but the optimized contract reaches the gas limit earlier - earlier in the sense of execution time not gas used. The reason is that storage access in remix is overpriced because it does not need to perform harddisk access.

[2022-03-24 16:09] chamitro commented on #12840
Ok, but you can see the execution and transaction cost before you make the transaction and put the gas limit higher than this. Despite that the same happens.

[2022-03-24 16:57] chamitro commented on #12848
From what I see it does not even run with huge amount of gas. But maybe it does need even more.
But I understand your point.

[2022-03-24 20:05] cameel commented on #12819
That's the point. As long as we're considering a bug in the compiler not the underlying EVM it should not matter. An external call from the contract and one via a transaction should result in the same exact code being executed. My example shows that the contract does revert with properly encoded input so the problem must be elsewhere. Unless there are two perfectly synced bugs - one in ABI encodin

[2022-03-24 20:13] cameel commented on #12819
@haltman-at After reading the other thread I see what you meant. Ok, so this indeed looks like a client-side problem, just a different one I was expecting.

@barakman I'm going to close this in that case. Please feel free to reopen if it turns out that there's something wrong on the compiler side after all.

[2022-03-24 20:13] #12819 closed, assigned to nobody

[2022-03-24 21:29] cameel opened #12856 "Support Yul objects in yulopti"
## Abstract
[yulopti](https://github.com/ethereum/solidity/blob/develop/test/tools/yulopti.cpp) is a simple tool for executing [optimizer step](https://docs.soliditylang.org/en/latest/internals/optimizer.html#optimizer-steps) sequences step by step.

Currently it only supports raw Yul input (example: [`medium.yul`](https://github.com/ethereum/solidity/blob/develop/test/libyul/yulOptimizerTests/ful

[2022-03-24 21:34] aarlt commented on #9720
I'm somehow wondering whether we could achieve this without having any magic files like `cmake/prerelease.lock`. Wouldn't it be possible to have all this just managed by CMake?

[2022-03-24 21:50] cameel opened #12857 "Add a mypy job to CI and fix type errors in our Python code"
## Abstract
We need a CI job that runs [mypy](https://github.com/python/mypy) on every PR and reports type errors in Python code.

## Motivation
Currently type annotations in our Python scripts are not checked at all. This is because the interpreter does not enforce them and an external tool is needed. mypy is currently the most popular one (though there are some others and we could use one of the

[2022-03-24 21:50] aarlt commented on #9720
In general I think that there must be an easy way to use those source tarballs. That means all dependencies should be either included (I think it's not possible, e.g. to always include all boost stuff), or a t least listed in a format, so that an enduser can automatically install them. Maybe we could use something like [`vcpkg`](https://vcpkg.io/en/index.html) to manage those dependencies better.

[2022-03-24 22:07] cameel commented on #9720
Unfortunately the automatically created source archive is not usable without this mechanism. Having this file is the only way we came up with so far to have the source result in a release build automatically. This is because `git archive` used by Github lets us skip files from it but not add them.

If they're missing, they get downloaded automatically by cmake. See [`jsoncpp.cmake`](https://github

[2022-03-24 22:15] aarlt commented on #9720
Ah that's true! Somehow I forgot that we have still our build system present in the tarball ;)

However, I think we don't really have boost managed, and also not z3, right? Both depend on the version installed on the system. I think it would be great to have those also managed by us. I think that would be a point for moving forward with something like `vcpkg`.

[2022-03-24 22:21] cameel commented on #9720
Right, boost is a major pain. Personally, I'd be fine with something like `vcpkg` as an option, as long as it integrates with our cmake system and is not required if you prefer to install dependencies in a different way.

[2022-03-25 17:09] cameel opened #12860 "RETURNDATACOPY opcode is not disallowed in pure functions"
The main feature of a pure function is that it cannot read blockchain state, which includes not only reading storage but also things like accessing external contract code, checking balance, checking remaining gas, etc. There are also cases where this is not so clear cut, e.g. CODECOPY (#12260, #8153) but we tend towards disallowing that as well. Another such case is RETURNDATACOPY. It was recently

[2022-03-25 17:20] cameel commented on #12860
@chriseth
- RETURNDATASIZE should also be disallowed, correct? Anything else to disallow?
- Do we actually consider it a bug fix or should it be a breaking change like for CODECOPY?

[2022-03-25 19:39] cameel commented on #12260
I went through the list of documented opcodes while testing #12861. The only opcodes that seem relevant to this issue are:
- `returndatasize()` (disallowed after #12861)
- `returndatacopy()` (disallowed after #12861)
- `calldataload()` (discussed above)
- `calldatasize()` (discussed above)
- `calldatacopy()` (discussed above)
- `codesize()` (disallowed after #12261)
- `codecopy()` (disallowed afte

[2022-03-25 20:12] cameel opened #12862 "soltest CI jobs no longer properly report errors"
## Description
For a while now I've been seeing cases where a failed soltest run in CI does not indicate which specific test failed. The only thing that indicates that something went wrong is this message in the log:

[code]

I've seen cases where errors were properly reported so this does not always happen. I'm not sure what is the trigger.

Also, CircleCI used to parse the XMLs file we create an

[2022-03-25 23:37] jacob-eliosoff commented on #10698
Yeah what @saurik said, doppelganger characters are absolutely not the solution, we need something that's legible and unambiguous in ASCII.  [@alcueca suggested](https://twitter.com/alcueca/status/1507459669102673927) "!*" for unchecked *, etc?

[2022-03-26 06:47] jacob-eliosoff commented on #10698
...Or I guess to me `+!`, `-!`, `*!`, `/!` etc are the most intuitive?  Would those break existing code?  Eyeballing the [operators](https://docs.soliditylang.org/en/v0.8.11/control-structures.html) currently affected by `unchecked` I can't see any that are already valid with a "!" appended (or prepended) - I may have missed one...

[2022-03-26 13:27] k06a commented on #12650
We could just use `keccak256(selector) % m` where `m > n` and requires no salt brute-forcing. It seems probability of the collision for n = 100 and m = 115 is around 6% and falling dramatically during increasing of m.

I think formula of the collision probability is the following:
[code]

[2022-03-26 16:22] Gilgames000 commented on #12825
I tried enabling `solc` again today to see if I could find some more clues about the issue. After writing a few lines of code I got this:
[code]

Looks like a new message :monocle_face:

[2022-03-26 16:45] snjax commented on #12650
I suppose, number of all states for `keccak256(...)%m` and n picks is m^n, and number of states without collisions is m!/(m-n)!, so P:=m!/((m-n)!m^n), for m = 115 and n=100 P=1.9e-30

[2022-03-26 17:38] k06a commented on #12650
@snjax I agree that adding `m^(m-n)` was wrong and this leads to `m^n / (m! / (m-n)!)` and the result is much worse than I expected: n=100, m=500 requires brute-forcing 40k salts in `keccak256(selector + salt) % m`

[2022-03-27 15:47] drortirosh commented on #12725
I still think that its worthwhile handling the general case of "void" function: in that case, you already call `extcodesize` to validate it exists, and it should redirect to the global `catch` block (if there is one) instead of directly reverting.

[2022-03-27 19:11] 0xmichalis opened #12863 "An array or mapping being omitted from a struct returned by a getter should generate a hint/warning/error"
## Description

Nested arrays inside structs are not included in the generated ABI. Original issue reported in the Hardhat repo at https://github.com/NomicFoundation/hardhat/issues/2433

## Environment

- Compiler version: 0.8.0
- Framework/IDE: Hardhat 2.8.4

## Steps to Reproduce

After compiling the following contract, I don't see the integer array `ids` as part of the generated ABI in `artifac

[2022-03-27 20:00] StErMi opened #12864 "Compiler is not evaluating all if/elseif/else branches to check for “Immutable variables cannot be initialized inside an if statement""
## Abstract

Currently, solidity compiler is correctly raising an error if an `immutable` variable is initialized only inside one branch of an if/else statement.

The following contract will raise the following compiler error: “Cannot write to immutable here: Immutable variables cannot be initialized inside an if statement.”

[code]

The same error is thrown also if the `immutable` variable is ini

[2022-03-27 22:34] alcuadrado commented on #12863
The reason I think this is worth opening an issue is that it can be confusing for users. Maybe a warning can be printed when a struct element isn't included in the abi.

[2022-03-27 23:08] hrkrshnn opened #12865 "Unoptimized IR generates `linkersymbol("...")` for internal library calls"
[code]

The IR for the above generates `let expr_27_address := linkersymbol("<stdin>:Math")`. The optimizer is able to optimize it away. However, the compiler shouldn't any code with `linkersymbol` when it's not needed, even in the unoptimized codegen.

[2022-03-28 05:13] JoshIQui commented on #5474
I just created the pull request about 40 minutes ago. It automatically sends a message here, but I'm not 100% sure if it gives the group a notification. So, here I am, sending a corresponding message.

[2022-03-28 07:44] rjl493456442 opened #12867 "Incorrect abi type generated for `enum` in library"
## Description

Solidity compiler doesn't generate the correct abi type for library. The enum should be mapped to `uint8`, it works for `contract` but not for `library`. Instead, the type is simply a user-defined value `"type": "mycontract.Field"`.

## Environment

- Compiler version: 0.8.13
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): Remix
- E

[2022-03-28 10:47] cameel commented on #12865
Good point. I agree that we should avoid leaving these linker references in when the call is actually internal, even in unoptimized code. We don't want people to have to go through some dummy linking process when these references are unused.

This is not actually a bug though, it was done like this on purpose. At least there was no consideration of removing it at the codegen level when this was be

[2022-03-28 11:23] cameel commented on #5474
@jiq4449 Thanks! Don't worry, we have notifications. We're just swamped with PRs right now so it sometimes takes a moment before someone can take a look.

[2022-03-28 18:29] cameel opened #12869 "Benchmark differ extensions"
Related to #12522.

There are a few tiny features that would be nice to have in benchmark differ/downloader that I haven't implemented in #12804 and #12818. I'm creating this issue to track what I'm still going to implement:
- [ ] Option to include a column with absolute values next to relative ones in the table.
- [ ] Script for filtering projects/presets. This would allow for example to filter a

[2022-03-29 10:24] christianparpart commented on #12825
Yes, thanks @Gilgames000. Seems like neovim is doing something fishy here. It looks like it's not senting the initialization as its first step. I'll keep you posted. :)

[2022-03-29 14:39] chriseth commented on #11879
I'm on @ekpyron 's side now. Maybe I just don't see the problems anymore, though...

[2022-03-29 17:30] frangio commented on #12587
Here's an extreme example: [8 sets of 30 immutable values each](https://github.com/compound-finance/open-oracle/blob/0e148fdb0e8cbe4d412548490609679621ab2325/contracts/Uniswap/UniswapConfig.sol#L38) that could be implemented as code/immutable arrays using this feature.

[2022-03-29 21:56] frangio commented on #12654
`revert;` for rethrowing doesn't look right to me either. I would've assumed it was equivalent to `revert()`, and would never have expected it to rethrow. I didn't remember C++ did it this way and was not familiar with the Python construct either.

I also think `revert(bytes)` has potential for mistakes. What about `revert bytes;`, more in line with the revert statement for custom errors?

[2022-03-30 05:13] karmabadger opened #12877 "Add Generics for Library usage."
## Abstract
Proposal to Add generic types for Libraries (and potentially for other types as well)

## Motivation
Often we would be writing libraries that are used for one type but could be used exactly the same way for different types as well. For instance, a library for uint256 that deals with uint256 arrays could literally be used to deal with uint8 or even your own custom struct types. (this is

[2022-03-30 05:14] karmabadger commented on #12877
Please let me know if I haven't done this correctly or if it`s not clean enough, This is my first type writing a feature request here. Thanks!

[2022-03-30 10:20] 0xmichalis commented on #12863
@alcuadrado why wouldn't this get fixed at its source in the first place though? The generated ABI should include all public storage fields.

[2022-03-30 23:41] hrkrshnn opened #12880 "Bug in ABI encoding empty storage array"
The following function does ABI encoding of strings in storage. However, this has a bug when the string in storage is empty. If the string is short, it will still have an empty data that's part of the ABI. But that is not how empty strings are encoded in ABI.

https://github.com/ethereum/solidity/blob/c4909e99c1015233d6937d229058cde52615f246/libsolidity/codegen/ABIFunctions.cpp#L699-L703

For refe

[2022-03-31 15:26] bshastry commented on #12880
Can reproduce this with the Solidity fuzzer. However, I recall @ekpyron  telling me that `pragma abicoder v1;` is a source of false positives since the encoding is known to be different between legacy and new (abi v2) coders. So, the design decision I took was to disable generation of the `pragma abicoder v1;` since the new codegen would anyway ignore the directive and use `v2` instead and thereby

[2022-03-31 20:08] bshastry commented on #12880
From chat with @hrkrshnn

[code]

The problem seems to be that even abi coder v2 encodes the first emit call (`emit Message(message)`) and the second emit call (`emit Message(tmp)`) differently. The first encoding is longer one (see original post), the second encoding is shorter. However, both legacy and IR codegens produce the same set of encodings i.e., longer and shorter respectively.

[2022-04-01 02:11] StrongerXi commented on #12832
I believe this should be dealt with in `ConstantEvaluator.cpp`. Indeed it's not visiting such AST variant at the moment. We can raise another issue if needed, and I can send a PR for that.

[2022-04-01 09:43] gpersoon opened #12886 "Enum max values can't be used to dimension an array"
## Description

Enum max values can't be used to dimension an array.
An enum max value can be assigned to a constant. But that constant can't be used as an array size.
'Normal' constants can be used to dimension an array.
See example below.

## Environment
- Compiler version: 0.8.13
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execut

[2022-04-01 10:04] d-xo commented on #12587
How would the immutable values be stored in the code? Having dynamically sized data in the middle of the bytecode would make symbolic analysis of such bytecode even more annoying (perhaps even impossible?) than it already is.

Here are some things that are already difficult to deal with when symbolically executing (given the existance of dynamic constructor args and static immutables):

- Determin

[2022-04-01 15:06] cameel commented on #12832
The constant is definitely too large. We don't really support exponentiation in arbitrary precision with such large numbers. If you remove explicit conversions, you get this error message:
[code]
And you don't even need numbers that large to get this error. You'd get it even with something like `10 ** 5000`.

I think it's by design. It seems to be the same kind of issue as #12677. I.e. expressions

[2022-04-01 18:06] StrongerXi commented on #12886
Please see #12832

[2022-04-01 18:12] StrongerXi commented on #12886
If there is a strong use case for this, maybe we should consider making `ConstantEvaluator` more aggressive to handle these cases? i.e., elementary type casting on constant expression, and expression like `type(...).max`.

[2022-04-02 01:51] tanhuiya opened #12889 "The bytecode of the compiled output of truffle and solc is different."
I use same version of solc compiler (v0.8.13)

When I compile a single contract, their bytecode output is the same.

But, When I compile a contract with inheritance, their bytecode output is not the same. The bytecode output by solc is much larger.

[code]

[code]

[2022-04-02 06:24] #12889 closed, assigned to nobody

[2022-04-02 15:27] alcuadrado commented on #12863
Hey @kargakis,

You are confusing what an ABI is. It's just a description of the binary encoding of inputs and outputs and other things that a smart contract understands/generate. Adding fields to the ABI will not make the contract start returning them, but it will make things worse instead.

[2022-04-03 15:24] leonardoalt opened #12892 "[SMTChecker] Option to add bounds to unroll loops in BMC"
Currently the BMC engine completely disregards loops. It runs it once which doesn't do much. We could have a model checker option which allows users to give loop bounds that are applied to BMC (potentially to CHC too?). This is very common for Bounded Model Checkers like CBMC.

[2022-04-03 17:07] Gilgames000 commented on #12825
I see, thanks! Should I open an issue on neovim repo? Or the lsp repo? Since you seemed to imply that the problem is on their end. Correct me if I'm wrong!

[2022-04-03 18:23] hrkrshnn commented on #12886
To explain what's going on here, array length should be known during the beginning of the analysis time. However, the expressions `type(Enum).max` and `uint(type(Enum).max)` are currently only known towards the end of the code generation. To do this properly, we need better support for compile time constant evaluation. See https://github.com/ethereum/solidity/issues/3157. However, maybe it is poss

[2022-04-03 18:46] Jiangzy520 opened #12893 "Gentlemen I would also like to join Goerli's staking. Being a fan of ETH for many years. I want to contribute a little bit. But I really lack Goerli. If possible, I would like to buy Goerli with USDT"
## Page

## Abstract

## Pull request

[2022-04-04 08:32] 0xfps opened #12894 "Infinite gas error leading to transaction revert on a memory array, but no solidity compiler error."
## Description

Working with memory arrays inside a function triggers an infinite gas error and reverts the transaction, but does not throw an error in the compiler.

## Environment

- Compiler version: 0.8.13.
- Target EVM version (as per compiler settings): Default.
- Framework/IDE (e.g. Truffle or Remix): Remix.
- EVM execution environment / backend / blockchain client: Javascript VM (London).

[2022-04-04 08:36] ekpyron commented on #12829
It's in a sense a duplicate of https://github.com/ethereum/solidity/issues/8153, though - ``pure`` is still in limbo between the stronger "can be compile-time evaluated" and the weaker mere "does not read from storage"...
In the past I argued for strengthen it to the former, which would mean the case at hand is not pure. However, in the meantime I'd also be fine to weaken it to the latter (in whic

[2022-04-04 08:43] ekpyron commented on #12814
I think the main reason for doing the checks as they are done now, was that we expected a weaker reasoning engine to be able to deal with them more easily that way - but the plan back then was not to use any of this in production before the optimizer could remove most of the checks and to revisit how to do the check, when working on the optimizer to remove them...
Given how things turned out since

[2022-04-04 08:58] leonardoalt opened #12895 "Remove ewasm backend"
Since Eth2 decided against ewasm, I think there's little reason for us to keep maintaining and developing the ewasm backend.
If people really want that, they can fork the compiler and maintain that in the fork.
If we need it again in the future, we can just revert the commits.

Thoughts?

[2022-04-04 09:06] #12893 closed, assigned to nobody

[2022-04-04 09:07] hrkrshnn commented on #12893
You can mine it using https://goerli-faucet.pk910.de/

[2022-04-04 09:19] gakonst commented on #12895
+1, personally never used the option in 4+ years

[2022-04-04 09:19] ekpyron commented on #12860
This is a bit tricky...
[code]
This also works just fine right now... which is arguably fine (passing something as ``c`` that has a non-pure ``g()`` is possible and will allow for calling ``f`` "impure"ly, but maybe that's fine)...

And if that's fine, one could argue that ``returndatacopy`` and ``returndatasize`` are also just fine in pure functions...
What's really a problem is an external *call

[2022-04-04 09:21] ekpyron commented on #12860
Ah, well... actually further, it should probably only be allowed to use ``returndatacopy`` and ``returndatasize`` in a pure function *after* that very same pure function has made an external call... before an external call, it's quite non-pure...
Given that, it's probably true that we should disallow it entirely (even though it's implicitly possible using high-level mechanisms)...

[2022-04-04 10:08] ekpyron commented on #12587
I'd say that the immutable would definitely be stored after the opcodes.

[2022-04-04 14:31] PaulRBerg opened #12896 "Custom error is described as "function() pure" instead of "error" in error messages in case of explicit conversions"
## Description

Say we have a custom error defined like this in an interface:

[code]

The compiler mistakenly considers `MyInterface.MyCustomError` to be of type `function() pure` instead of type `error`. The latter is what should be used because that's what ends up being set in the ABI.

Casting `MyInterface.MyCustomError` to `bytes4` should work, but it doesn't:

[code]

## Environment

- Compi

[2022-04-04 18:19] ekpyron opened #12897 "Rewrite command line test script cleanly in python."
Came up in https://github.com/ethereum/solidity/pull/12851.
``test/cmdlineTests.sh`` has grown more and more complicated over time - I'd say it's time to consider making it a python script and rewriting it nicely.
This would for example allow to easily filter by its sub-test-suites and individual tests, etc.

On the other hand it shares logic with other script, so whether this is a good idea may d

[2022-04-04 18:19] #11877 closed, assigned to cameel

[2022-04-04 18:42] cameel commented on #12897
I think it's a good idea and here's the plan for doing it I came up with with @Marenz last year:
1) Add support for a new kind of CLI test - one that has a Python or Bash script inside.
2) Split the [Bash tests that are currently tacked on at the end of `cmdlineTests.sh`](https://github.com/ethereum/solidity/blob/v0.8.13/test/cmdlineTests.sh#L291-L674) into such smaller tests.
    - When naming di

[2022-04-04 22:42] transmissions11 commented on #12895
i didnt even know yall had an ewasm backend

[2022-04-04 22:48] ControlCplusControlV commented on #12895
+1 as well, ewasm doesn't make sense to continue development on if it's not being planned on being used, and keeping it in the Solidity compiler only adds more legacy code to manage

[2022-04-05 08:14] Gilgames000 commented on #12825
Hey @christianparpart this morning I decided to go back to coc.nvim for the time being just for Solidity since you said it works fine for you so I set it up using the config I found in your dotfiles. But now I'm facing the same problem and error message on coc.nvim too. Here's the log:

[code]
and then the log goes on and on with the same error message being spammed for each keystroke I press when

[2022-04-05 13:15] cameel commented on #9720
We [discussed the PR today on the chat](https://gitter.im/ethereum/solidity-dev?at=624c27609bd1c71ecad7f80f). Here's a summary of what we agreed on:
- Building a release must be automatic. Change the rules as follows:
    - If `.git` directory exists and we're on a tagged commit, it's a release
    - If `.git` directory exists and we're not on a tagged commit, it's a pre-release
    - If `.git` di

[2022-04-05 13:40] ekpyron commented on #9720
Note that ``.git`` can also be a file instead of a directory in git worktrees.
Also in the ``release_ppa.sh`` script we will need to keep the ``.git`` directory for prerelease ppa builds.

[2022-04-05 13:45] christianparpart commented on #12897
@cameel you self-assigned this, but we already have soo many PRs (you've 10 open ones). Let's try to close them first? :-)

[2022-04-05 14:16] cameel commented on #12897
I assigned this because I already started working on this last year. There just was no issue for this back then but I have a branch with (1) and (2) almost done. I had to switch to more important tasks but if we're doing this then I want to update that branch and submit it as a PR when we're done with PR squashing.

[2022-04-05 14:26] cameel opened #12900 "Testing the source code archives and PPA builds"
Depends on #9720.
Depends on #12707.

The source archives be post on github release page should be tested. Here's what we agreed on so far:
- Currently [our CI config forces a release build with `FORCE_RELEASE: ON`](https://github.com/ethereum/solidity/blob/v0.8.13/.circleci/config.yml#L782-L786). This should be changed so that release jobs create a source archive using `git archive` and build a r

[2022-04-05 14:52] lightclient commented on #12895
+1

[2022-04-05 17:51] StrongerXi commented on #12832
I believe this can be closed by #12885

[2022-04-05 19:21] k06a commented on #12622
So what about downcasting a bit more safe than “bad” casting out of any straight hierarchy or “sibling” casting?

[2022-04-05 22:22] ControlCplusControlV commented on #9889
I would vote in favor of adding the ability to add types to Yul, as this is very helpful in current L2 efforts as different VM targets and wordsizes rely on different wordsizes, so laying the groundwork for Yul types even if Solidity is defaulting all of them to u256 for the EVM, other L2s may benefit from being able to use u32 or differently sized variables.

[2022-04-06 06:50] chee-chyuan commented on #11638
getting similar error on 0.8.13

[2022-04-06 10:24] ekpyron commented on #9720
Just in case it helps: I had some local snippets yesterday to see how to robustly check, if we're on a tag and ended up with this:
[code]
Not sure that's the best way to do it, but maybe it helps as a basis.

[2022-04-06 13:27] christianparpart opened #12904 "Improve building Solidity on Windows"
* While I personally think `vcpkg` should really be at least supported, I also struggled in getting `soltest.exe` linked against vcpkg's provided boost as it kept trying to link using the boost DLLs rather than static libraries.
* I was running `install_deps.ps1` from project root and have received error messages that come from the fact that  I wasn't executing the script one level deeper (d.g. ./

[2022-04-06 13:31] ekpyron commented on #12904
Furthermore:
- we should more gracefully handle privilege errors in the symlink tests.
- we may consider making the non-release windows build a debug build (that would have caught https://github.com/ethereum/solidity/pull/12902)
- we need to fix VS2022 builds (https://github.com/ethereum/solidity/pull/12802 contains a CI setup for that, but is still lacking the actual range-v3-related fix)
- Also

[2022-04-06 14:21] hrkrshnn commented on #11638
@chee-chyuan Can you try setting `viaIR` to true?

[2022-04-07 10:57] cameel commented on #12832
Two things we might still want to do as a part of this:
- Explicitly say in the docs that adding a type conversion currently makes a literal non-usable as a compile-time constant?
- Adjust the message you get when the length is a literal but with an explicit conversion?
[code]
    `uint(1)` can reasonably be interpreted as a constant expression and the message does not clear that up.

What do you

[2022-04-07 11:12] #11917 closed, assigned to nobody

[2022-04-07 11:43] cameel opened #12906 "Move `docs.sh` script to `docs/`"
Our translation repositories in [solidity-docs ](https://github.com/solidity-docs) only preserve the `docs/` directory from the main repository. The problem is that the script we use to build the documentation is currently under [`scripts/docs.sh`](https://github.com/ethereum/solidity/blob/develop/scripts/docs.sh) so it cannot be easily used by translators to render the docs locally. It would be b

[2022-04-07 13:23] christianparpart commented on #12897
ah, perfect. thx. ;)

[2022-04-07 23:00] frangio commented on #11362
Why is this?

Here's a real world example:

[code]

We're forced to introduce a statement like `token;` in the function body to silence the warning. Removing the variable name is not an option because then you can't provide NatSpec for it.

If the function is virtual I think the warning should be silenced, particularly if there is an `@param` for it, because the workaround is hacky and requires a

[2022-04-08 05:44] hedgar2017 opened #12911 "Possible legacy assembly stack inconsistency on handling the CREATE result"
## Description

I am working on a compiler from *EVM legacy assembly* to *LLVM IR for zkEVM*. To achieve this goal, I perform the on-the-fly static stack analysis and track two types of elements:
- unknown runtime value
- known compile-time tag constant
We have thousands of tests and this algorithm has never failed, except for one single case with handling the status of CREATE.

I think this issue

[2022-04-08 05:49] hedgar2017 commented on #12911
We process the blocks in a FIFO queue. We collect all the jumps from each block, and move to the destinations with the stack state of the callee.
For some reason the situation around the block 21 is very suspicious. It is very weird, since we have compiled the entire UniswapV2 and thousands of other tests, but there is not a single issue!
However, I don't know how to resolve this stack inconsisten

[2022-04-08 06:05] hedgar2017 commented on #12911
The full trace may help as well:
[code]

[2022-04-08 08:01] chee-chyuan commented on #11638
thanks. compiling takes abit more time but that works

[2022-04-08 08:28] chee-chyuan commented on #11638
also got in touch with etherscan & remix. hopefully they can support that soon

[2022-04-08 09:15] ekpyron opened #12912 "Suggest trying to compile via IR in the stack-too-deep error message in legacy compilation."
Since it seems like via IR compilation works in a lot of such cases these days, this might help against stack-too-deep frustration and help in promoting via-IR codegen.

[2022-04-08 09:32] ekpyron commented on #12912
Actually, maybe better to explicitly suggest *optimized IR codegen*, since unoptimized via IR code is *more* likely to have issues than legacy code I'm afraid...

[2022-04-08 11:05] ekpyron commented on #12911
I was just looking into it and almost got a heart-attack, because you're right, this *does* look very suspicious at a first glance :-) - but by now I actually think this is not a bug and the stacks are fine here, even though it is challenging for static analysis.

I reckon the reason why you say this is suspicious is that there are two jumps to block 21 and one of them has an additional value on s

[2022-04-08 11:06] ekpyron commented on #12911
So for static analysis this is unfortunate:
Most tags we generate have the property that they are only jumped-to with the same stack height - but for try-catch statements this may in fact be violated. So the only way to statically analyze this is to case-distinguish between that boolean value being 0 or 1 and analyzing the block in each case separately.

[2022-04-08 11:07] ekpyron commented on #12911
Does that make sense :-)? I need to double-check myself, but I think this is what's happening here.

[2022-04-08 11:09] ekpyron commented on #12911
Once we're clear on whether what I say is accurate and this is the issue, we can think about how we can make life easier for static analysis in these cases.

[2022-04-08 11:21] ekpyron commented on #12911
So if I haven't made a mistake right now (which I may very well have), then this is how you can analyze the situation:

[code]

edited: now I think it's correct at least more or less - at least correct enough to understand the gist of things I hope.

[2022-04-08 11:55] ekpyron commented on #12911
One more note on this: I haven't double-checked, but I think the new via-IR compilation pipeline will not generate cases like this - so you may find the result of compiling ẁith ``viaIR: true``, resp. with ``--experimental-via-ir`` (or alternatively ``--via-ir`` starting from 0.8.13) easier to analyze (you will need to enable the optimizer for that, though, since via-IR codegen without optimizer w

[2022-04-08 12:51] ekpyron opened #12913 "The optimizer may completely remove all ``memoryguard``s preventing stack-to-memory."
Came up in https://github.com/ethereum/solidity/pull/12762.

We made ``memoryguard`` movable and removable to allow it to be CSE'd on the one hand and not to clutter the yul code with ``pop(memoryguard(...))`` on the other hand (also movable implies removable at the moment, so movable, but not *re*movable doesn't work).

Previously, the ``memoryguard``s would still never be removed entirely, since

[2022-04-08 13:09] ekpyron opened #12914 "Try again to fuzz calldata validation when decoding invalid abi encodings."
Since https://github.com/ethereum/solidity/pull/12907 slipped through our fingers in our last fuzzing efforts, maybe we should think about fuzzing validation of invalid encodings again. (I think previously we were mainly focusing on sound decoded values of valid encodings, resp. fuzzing encoding-decoding-encoding etc.)

There are multiple ways to trigger full calldata validation.
[code]
We need to

[2022-04-08 14:04] ekpyron commented on #8153
Just because this has come up in the context of #12860 again:

I'm personally starting to change my mind on this issue. In https://github.com/ethereum/solidity/issues/3835#issuecomment-574854014 I basically argued that it makes a difference whether one considers ``external pure`` (does not read from storage nor from blockchain state) or ``internal pure`` (which one may interpret as "fully determin

[2022-04-08 15:21] dongmingh opened #12915 "Solidity provides invalid `start` in the source map"
## Description

The value of `start` in the sourceMap is greater than the length of source file.
The `start` is the byte offset to the start of the range in the source file.  Hence this value should be less than the byte length of source file.

## Environment

- Compiler version: 0.6.8
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix): Truffle
- EVM execution

[2022-04-08 19:57] hedgar2017 commented on #12911
@ekpyron thanks a lot! I got your point.

We are using Yul for Solidity >=0.8, but we need to support all the existing contracts starting from 0.4, that's what we need the legacy assembly for. Just in case [you are interested :)](https://github.com/matter-labs/compiler-solidity)

Well, I understand what is going on, and I need to think a little to devise a solution.

Could you tell me of other pla

[2022-04-08 20:24] #5474 closed, assigned to jiq4449

[2022-04-09 01:59] hedgar2017 commented on #12911
@ekpyron perhaps, you can help me with these other two small related questions:
1. What is the purpose of bitwise operations on tags?
2. What is supposed to happen here?:
[code]
For now I have voided all such operations where I could find them. But we still have a lot of tests to run (from your repository, lol!), so I'm afraid we'll encounter this problem sooner or later.

[2022-04-09 08:02] #12894 closed, assigned to nobody

[2022-04-09 11:17] lolo464644 opened #12917 "Importation problem on VSCODE"
Hello fam, this is my first post on Github so, hi !

I am currently learning to dev in Solidity so I am following the "online course" freecode camp : [https://www.youtube.com/watch?v=M576WGiDBdQ&t=18664s&ab_channel=freeCodeCamp.org]
I am currently at 5:10:25 and i have an issue with the compiler, when i try to compile, I have the following error :

[code]

After searching on internet, I think I un

[2022-04-09 20:50] hrkrshnn commented on #12912
Agree. We should do this right away.

[2022-04-10 14:02] beerefine opened #12920 "Allow storage layout overrides"
## Abstract

TLDR: Implement a flag similarly to Vyper's "--storage-layout-file" flag. See: https://githubhot.com/repo/vyperlang/vyper/issues/2572

## Motivation

Having the ability to control storage layout (slots) brings interesting benefits.
For one, controlling the exact storage location provides greater stability and consistency between contracts and different versions.

For example, the `own

[2022-04-10 14:15] beerefine commented on #12920
I tried patching `libsolidity/interface/StorageLayout.cpp` by simply changing `_slot.str()` to `_var.name()` which compiled but I didn't get around to debugging the issue, I assume hex-encoding is required.

[2022-04-11 08:56] ekpyron commented on #12911
It may be that legacy code generation for ``try..catch`` is actually the only situation in which this particular situation occurs - but I'm not entirely sure - before looking into it for this issue, I didn't have in mind that it happens even there, so I may be unaware of other cases.

It's a bit hard to tell without the sources leading to the snippet - but at least one case, in which you will get

[2022-04-11 09:18] ekpyron opened #12922 "Increase test coverage for Calldata Validation"
We have comparably decent test coverage and fuzzing confirmation for data integrity on decoding valid calldata encodings.
However, we have only sparse coverage for calldata validation, leading to bugs like https://github.com/ethereum/solidity/pull/12907 going unnoticed.

While it is hard to test *everything* (this would mean checking all combinations between static and dynamic types up to three di

[2022-04-11 10:05] super1ha1 commented on #11846
@cameel thanks for your suggestion, after reading through the code,
it seem b_bytecode_ubu, b_bytecode_osx can be reused with some common steps.

I have created a pull request here

[12923](https://github.com/ethereum/solidity/pull/12923)

Can you help to take a look?

Thanks you!

[2022-04-11 10:37] christianparpart commented on #12904
I forgot what I did to work around the following error when executing `./scripts/install_deps.ps1`:

[code]

which I am facing again, but probably also worth fixing for the common user.

[2022-04-11 11:51] #12906 closed, assigned to nobody

[2022-04-11 12:01] chriseth commented on #12896
Please provide a way to fix this if you mark this as "good first issue".

[2022-04-11 12:04] cameel opened #12925 "CircleCI dependency caching broken on macOS"
Restoring cache in macOS jobs takes ~17 minutes. See for example [recent `b_osx` run on `develop`](https://app.circleci.com/pipelines/github/ethereum/solidity/23649/workflows/01a8fe85-debd-4892-874c-2745e02c10cc/jobs/1038415). There are lots of errors about symlinks being skipped, which might have something to do with it:
[code]

For now we have disabled the cache because just installing the depen

[2022-04-11 12:42] PaulRBerg commented on #12896
@chriseth it wasn't I who added that label. Or were you talking to @cameel?

[2022-04-11 13:02] axic opened #12927 "Should support referring to foreign-constants as compile-time constants"
`A.sol`:
[code]

`B.sol`:
[code]

Results in:
[code]

The problem is not the multiplication, but rather that `B.MAX` or `B.SCALE` is not considered compile-time constant.

[2022-04-11 13:57] chriseth commented on #12896
Yes, I was talking to cameel :)

[2022-04-11 14:05] chriseth commented on #12865
It was done like this intentionally. We should not complicated code generation if a simple optimizer step can do the same trick. If people don't want to cope with the longer compilation time of the optimizer, we can offer a minimal optimizer sequence that takes care of it.

[2022-04-11 14:06] chriseth commented on #12867
This is correct and intentional. The ABI for libraries is differen than it is for contracts. Closing as duplicate of https://github.com/ethereum/solidity/issues/9278

[2022-04-11 14:06] #12867 closed, assigned to nobody

[2022-04-11 14:15] cameel commented on #12152
Added `FunctionType::Options` to the list. This one does not really need parsing but is essentially a set of flags and could use other methods from such a class.

[2022-04-11 18:57] cameel commented on #12896
Fair enough. I applied the label because I think this is just a matter of adding a special case for errors (and maybe also events) in [`TypeChecker::typeCheckTypeConversionAndRetrieveReturnType()`](https://github.com/ethereum/solidity/blob/v0.8.13/libsolidity/analysis/TypeChecker.cpp#L1753-L1876).

Actually, instead of special-casing it in the type checker, maybe it's better to extend [`FunctionTy

[2022-04-11 19:22] hedgar2017 commented on #12911
@ekpyron oh, thanks for the snippet. We'll turn it into an integration test. I think I have an understanding and I'll check how such cases actually behave.

Concerning the main subject of this issue, I decided to terminate all such unreachable blocks with `INVALID` in the very place where the `JUMP` wanted to pop its destination tag. Works for now, but we'll see :)

Thanks a lot for the answers!

[2022-04-11 19:22] #12911 closed, assigned to nobody

[2022-04-11 20:19] StrongerXi commented on #12832
I think that'll be a a good temporary workaround before we fully address the second thing.

I do think we should make the constant evaluator more aggressive by stripping away type conversion for applicable constants. With the limited context I have, that seems to address the issue at its root. Also similar things are suggested [in another thread](https://github.com/ethereum/solidity/issues/12886#i

[2022-04-11 20:28] chriseth commented on #12896
toString should not be changed, that is used in signatures. We could introduce a new function in the class Type - `humanReadableName` for example, that by default just calls toString.

[2022-04-11 20:57] StrongerXi commented on #12896
I'd gladly take this issue, but to clarify things, which one (or both) do we want here?
1. Add a special case in [TypeChecker::typeCheckTypeConversionAndRetrieveReturnType()](https://github.com/ethereum/solidity/blob/v0.8.13/libsolidity/analysis/TypeChecker.cpp#L1753-L1876) to allow conversion from `FunctionType` with `Kind::Error`.
2. Add `Type::humanReadableName` which calls `toString` by defaul

[2022-04-11 22:13] StrongerXi commented on #12927
This seems pretty tricky...

We can probably try to resolve a smaller example first:
[code]

Essentially, `bool TypeChecker::visit(VariableDeclaration const& _variable)` expects `TypeChecker::visit(MemberAccess const& _memberAccess)` to annotate the member accesses `B.MAX` as `pure`, but the latter call doesn't have enough information there, i.e., it knows the `referencedDeclaration`, which is a `

[2022-04-11 22:30] k06a commented on #12650
I suspect the best solution we have right now for N selectors is the following:
1. Determine M > N for the result table dimension, for example M = N*3/2
2. Bruteforce SALT for `keccak256(concat(selector, SALT)) % M` until all buckets have <=3 elements
3. Use the result as an index in jump table to get into code checking up to 3 selectors in a row

I am trying to compute a number of cases that are

[2022-04-12 04:19] StrongerXi commented on #12927
It might be simpler than I thought, see #12928.

[2022-04-12 07:33] chriseth commented on #12896
I would say 2 is enough, we don't need to explain why the conversion is not allowed - at least I wouldn't even know what to say.

[2022-04-12 11:13] cameel commented on #12886
I don't think this really needs #3157 to be done properly. It's related but the problem seems to be not in evaluating it (you can already assign `type(...).max` to a constant and it gets evaluated at compile time) but in the analysis being aware that it's a constant at the point where it's used to size an array.

I think it could be solved in a way similar to #12928, i.e. by just marking the expre

[2022-04-12 11:18] cameel commented on #3157
Some things that we might want to explicitly add to the list of stuff that should be evaluated a compilation time:
- Constant expressions involving type conversions.
- Ternary operator with constant expressions as arguments.
- Indexing an array literal with a constant expression.
- `type(...).min` and `type(...).max`

[2022-04-12 11:23] cameel commented on #12832
We can't just strip the conversion. It may affect the value (e.g. casting `uint` to `uint16` or negative `int` to `uint`). What we could do would be to extend the constant expression evaluation to cover these but I'm not sure if it'll be that simple. I think this is in scope for #3157, though it's not explicitly listed there so I added a comment.

I think issue I think we should just update docs/m

[2022-04-12 18:36] cameel commented on #11846
@super1ha1 Sure. See https://github.com/ethereum/solidity/pull/12923#issuecomment-1097060497.

[2022-04-13 03:12] transmissions11 opened #12930 "Optimize ternary expressions to branchless code when cheaper."
## Abstract

The ability to cast `bool`s to `uint256` or `uint8`.

## Motivation

Branchless optimizations are becoming more and more common to see lately, but often they require dropping down into inline assembly since their efficiency depends on being able to treat a bool as a uint that resolves to either `1` in the true case or `0` if false. Solidity should support performing these conversions

[2022-04-13 08:11] ekpyron commented on #12930
Rather than allowing this cast, we'd prefer working towards improving code generation and the optimizer to have ``status ? 1 : 0`` result in branchless code to begin with, i.e. have the solidity optimizer perform the branchless optimization you want on its own. That would help much more generally.

Do you happen to have some examples at hand where such a cast is performed in inline assembly?

[2022-04-13 08:22] ekpyron opened #12931 "Yul Optimizer: Switch elimination for cheap switch cases."
Came up with https://github.com/ethereum/solidity/issues/12930.

Currently for
[code]
(roughly) results in the following snippet in optimized yul code
[code]
which is of course silly.

We could, for example, generically eliminate a switch of the form
[code]
by ``x := or(mul(iszero(cond), a), mul(iszero(iszero(cond)), b)``.

This could generalize to a transformation of
[code]
to
[code]

Maybe also

[2022-04-13 09:13] hrkrshnn commented on #12920
The implementation logic in this case should be different, shouldn't it? @beerefine

Not sure if this is what you are referring to, but you can access the slot of a variable in inline assembly via `.slot` member. For example `owner.slot`.

[2022-04-13 09:29] hrkrshnn commented on #12920
About a feature to override storage slots, there is a huge downside to this: having this feature would open up possibilities for storage collisions. Even extra checks wouldn't be able to catch things like collisions between a random variable `uint owner` and a mapping `mapping (address => uint) balanceOf` (currently you can ignore this issue, but it becomes a serious concern if users can set the s

[2022-04-13 11:29] beerefine commented on #12920
I wasn't clear; I gave two different examples of methods, not that both of these should have the same logic. I edited my original post for clarity.

I know it is possible with some hacking around, but my use case fits better as a compiler flag/syntax.

I don't see how. in my vision, owner will go to the specific slot 0x"owner"0000... (or 0x00..00"owner") but even if you control the slots completel

[2022-04-13 13:38] kuzdogan opened #12932 "Error: `Definition of base has to precede definition of derived contract` when specific file in standard-json-input `outputSelection` but works when `outputSelection` file is specific"
## Description

When compiling with the specific file in the standard-json-input's `outputSelection` field, the compiler throws the error `Definition of base has to precede definition of derived contract` but when the files in the `outputSelection` is given as `"*"` the compiler compiles successfully.

Noticed this as the [Sourcify](https://github.com/ethereum/sourcify) recompiler targets the spec

[2022-04-13 15:09] cameel opened #12934 "More concise "Cheatsheet" page"
## Page
- [Cheatsheet](https://docs.soliditylang.org/en/latest/cheatsheet.html#global-variables)
- [Units and Globally Available Variables](https://docs.soliditylang.org/en/latest/units-and-global-variables.html)

## Abstract
Currently the "Cheatsheet" page mostly contains information already available in "Units and Globally Available Variables". The information is already concise in that original

[2022-04-13 15:18] cameel opened #12935 "Add more useful information to the "Cheatsheet" page"
Should be done after #12934.

## Page
- [Cheatsheet](https://docs.soliditylang.org/en/latest/cheatsheet.html#global-variables)

## Abstract
When we're done cleaning up the cheatsheet, we could add more interesting information that's already described elsewhere but less concisely. Some ideas:
- [ ] Table of available types.
- [ ] Various types of literals (in particular string literals like `hex""`

[2022-04-13 18:25] recmo commented on #12930
[This function](https://github.com/recmo/solmate/blob/2b0cf0c043a1933fb9018a95c8513bd7a5ac7d08/src/utils/BitwiseLib.sol#L13) is a nice example, the assembly block exists only because we want to go from `lt(-,-)` to `0` or `1` efficiently:

[code]

It would be great if this could be rewritten at same or better gas cost as:

[code]

It would be *awesome* if it could be rewritten at same or better ga

[2022-04-13 18:35] recmo commented on #12930
Think about the last rule some more. If the optimization pass turns `x ? a : b` into `(x ? a: 1) * (a - b) + b` and existing optimization passes elliminate `+ 0` and reduce `* 2**n` into `<< n` than this would be taken care of!

[2022-04-13 18:39] recmo commented on #12931
[See this comment](https://github.com/ethereum/solidity/issues/12930#issuecomment-1098363050). It is more efficient to transform `cond ? a : b` to

[code]

This allows for much further optimization when `a` and `b` are constant (a common case). Constant propagation can eliminate the `sub`. If `b = 0` a generic optimization rule can eliminate the `add(-, 0)`. If `a - b = 2**n` a generic rule can tu

[2022-04-13 18:45] recmo commented on #12931
Actually, even if they are not constant it is more efficient to use

[code]

Constant propagation should enable the further optimizations.

[2022-04-14 03:41] StrongerXi commented on #12896
Hmm okay I'll send a PR for (2).

Although I saw this comment from the PR author so I thought we might want to support 1?

[2022-04-14 03:44] StrongerXi commented on #12832
You are right, I'll look into #3157.

Agree!

[2022-04-14 09:41] 0xpApaSmURf commented on #11638
I'm having this problem on Solidity v0.8.10 without using abiencoder v2.

How and where does one do this?

[2022-04-14 09:44] chee-chyuan commented on #11638
im not sure if its available in v0.8.10. got to ask to team

[2022-04-14 09:45] 0xpApaSmURf commented on #11638
Ok... Regardless of version, how does one do that?

[2022-04-14 09:58] cameel commented on #10698
@jacob-eliosoff You mean something analogous to the [non-null assertion operator](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-0.html?#non-null-assertion-operator) in TypeScript? E.g. `+!` would be checked and revert (just like `var!` fails in TS when `var` is `null`) while `+` would be an unchecked addition?

[2022-04-14 10:06] cameel commented on #11638
Simply add `--via-ir` option to compiler's command line. Or, when using Standard JSON it's a boolean `settings.viaIR` setting, see [Compiler Input and Output JSON Description](https://docs.soliditylang.org/en/latest/using-the-compiler.html#compiler-input-and-output-json-description). If you're not using the compiler directly, your framework probably lets you specify the `settings` part from Standa

[2022-04-14 10:26] 0xpApaSmURf commented on #11638
Thanks for the info and resources! Very helpful. Unfortunately nothing helped. I've tried disabling the Yul optimizer, disabling the optimizer entirely, enabling viaIR, disabling peephole, enabling Yul stack allocation.

In my case I'm getting only 1 slot too deep error.

[2022-04-14 10:38] cameel commented on #11638
On 0.8.13? Can you post a new snippet that reproduces this?

[2022-04-14 12:04] cameel commented on #12832
It's a rather big task. Compile-time evaluation is something we've been discussing for a while now. It's on our roadmap but we're not even decided on all details yet.

Are you interested in getting that specific feature implemented in the compiler or are you just looking for a good task to contribute in general? If it's the latter, I can find you a better defined task. If the former, you should re

[2022-04-14 12:14] cameel commented on #12896
Thanks for pointing this out, I actually missed that part of the description.

This already works but not through a conversion. You can use `MyInterface.MyCustomError.selector`, which is already `bytes4`. @nishant-sachdeva is also currently working on adding that for events too (#12581). Not sure we really need an alternative mechanism for doing this. `.selector` should be more intuitive since it'

[2022-04-14 12:27] jacob-eliosoff commented on #10698
Well, kind of, but I was thinking the reverse: `+` is checked, `+!` is unchecked (the exclamation mark says "You _must_ do it!").  But I'm open to whatever syntax really, just want an expression rather than a statement.

[2022-04-14 12:41] cameel commented on #10698
Ah, ok. But then I'm not sure if that's really intuitive. TS people will likely expect the `+!` version to revert while others may expect `+` to revert as it does now so this syntax is actually pretty ambiguous.

[2022-04-14 12:44] jacob-eliosoff commented on #10698
I'll leave that debate to bigger language gurus than me, though whoever on the TypeScript side decided that adding an exclamation mark would make the operation _less_ likely to succeed should feel very, very ashamed

[2022-04-14 13:02] #12862 closed, assigned to nobody

[2022-04-14 14:34] augustoteixeira commented on #167
Any news on this?

This would be very useful for the following rationale:
- accessing storage data is very expensive, while accessing contract code is very cheap;
- this gives a great gas advantage for the use of constants, because they live in the contract's code;
- value-type constants are not good for storing larger amounts of data;
- `bytes32[20] constant` is considered a `constant of non-valu

[2022-04-14 14:35] 0xpApaSmURf commented on #11638
Turns out it was because my contract constructor had too many input arguments:

[code]

Removing `address _9` compiles fine.

Although oddly, if I add any more arguments to the constructor, the error still reports `Stack too deep when compiling inline assembly: Variable headStart is 1 slot(s) too deep inside the stack.`, whereas I would have expected the error to deepen in slots.

[2022-04-14 14:45] cameel commented on #11638
Thanks. So I just checked that with `--via-ir` and it compiles just fine, even with more arguments. So switching to 0.8.13 and using the IR codegen should solve the problem for you.

[2022-04-14 15:12] StrongerXi commented on #12832
Thanks for the info! I'd say for now I'm just looking for a small tasks to contribute in general. If you can give me some pointers, I'll try to pick them up when possible:).

[2022-04-14 15:16] StrongerXi commented on #12896
I didn't know this before, and I totally agree. I was honestly quite confused when I first saw `bytes4(MyInterface.MyCustomError);`.

[2022-04-15 01:43] StrongerXi commented on #12896
How exactly do we want the error message to look here?

[code]

[2022-04-15 15:56] dflupu commented on #12856
@cameel I'd like to try my hand at implementing this. Could I be assigned to it?

Also, are there any tests at the moment for this particular tool? Should any tests be added?

[2022-04-15 16:28] 0xgui commented on #12825
I'm having the exact same error but with coq_nvim. Used the same method as @Gilgames000 to install solc.

[2022-04-16 04:41] aathan commented on #12650
This conversation reminds me of the dispatcher in Objective-C, which has to solve some similar issues. In Objective-C methods are invoked dynamically by runtime lookup using "selectors" which are themselves essentially based on the function signature. Obviously method dispatch in a raw CPU context vs dispatch in the EVM is very different. However, the dispatcher has been worked on since the 90s an

[2022-04-16 21:27] loonylabs-dev commented on #11638
I have the same issue when my struct has too many variables. How can I turn this --via-ir on? I am using truffle. When I add this to truffle-config.js I have still the same issue. Maybe I add it in the wrong way?

Here is my current config with this key

`require('babel-register');
require('babel-polyfill');

module.exports = {
  networks: {
    development: {
      host: "127.0.0.1",
      port:

[2022-04-16 21:59] 0xfps opened #12940 "BUG :: OOG Error when trying to assign 0 to a struct value."
## Description

OOG Error when trying to assign 0 to a struct value.

## Environment

- Compiler version: 0.8.7
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execution environment / backend / blockchain client:
- Operating system: Windows

## Out of Gas Error.

I do not know why the `reset()` function in the code below returns an OOG

[2022-04-17 04:42] SvenMeyer commented on #11638
@cameel
- How would I set `--via-ir` in a hardhat environment ?
- What is `--via-ir` actually doing ?

[2022-04-17 21:17] cameel commented on #11638
- `--via-ir` is a CLI option. Hardhat and Truffle use Standard JSON, so the setting is `settings.viaIR` as I mentioned above.
- Compiles to Yul first and then Yul to EVM assembly. See details in [Solidity 0.8.13 Release Announcement](https://blog.soliditylang.org/2022/03/16/solidity-0.8.13-release-announcement/) and [Solidity IR-based Codegen Changes](https://docs.soliditylang.org/en/latest/ir-bre

[2022-04-18 04:37] SvenMeyer commented on #11638
@cameel
Thanks for that !

I added `viaIR:true` and was happy to see that contract size was reduced from ~24.132 to 23.555 .. then realized I had still set it to 0.8.12, switched it to 0.8.13, and it went up to 24.19 :-(

Any explanantion for that ?

[code]

Actually, `version: "0.8.13"` & `viaIR: true` gives me the largest code size :-(

solc   | viaIR | code size
-|-|-
0.8.12 | false | 24.132
0.

[2022-04-18 07:46] mehdik16 commented on #7711
If you are using truffle, you will need to update the truffle-config.js, section compilers:

replace evmVersion: 'byzantium', by **evmVersion: 'istanbul',**

[2022-04-18 11:02] cameel commented on #11638
`optimizer.runs` is the way you tell the compiler what you care more about: the deployment cost or the runtime cost. The value is the number of times you expect it to run over its lifetime and the compiler makes the trade-off accordingly. The lower it is, the smaller your bytecode will be, even at the cost of making the execution more expensive. If you're going to use your contract only once, the

[2022-04-18 16:02] annaBlaize commented on #11638
Enabling `yul` worked for me with next settings:
[code]

[2022-04-18 16:50] frangio commented on #10698
@cameel I think you may be confused as to how `!` works in TypeScript. The operator doesn't cause the compiler to emit any extra runtime checks, it rather tells the compiler to statically assume that the variable is not null. It may result in a runtime error down the road if this assumption is wrong, because the JavaScript runtime is typed.

`+!` could be seen analogously as a way to tell the comp

[2022-04-18 19:21] #12940 closed, assigned to nobody

[2022-04-18 19:24] brockelmore opened #12944 "Allow for unchecked function pointer jumps"
## Abstract
With `viaIR` & `0.8.13`, there is an internal function dispatcher. This is quite the hefty gas overhead without anyway to breakout of it to do unchecked internal function calls.

## Motivation

It would be nice to be able to use the old version of direct jumps via `unchecked` or something in yul, even with `viaIR` enabled.

## Specification

One solution may be something like the follo

[2022-04-19 10:28] goodhearted opened #12946 "Can anyone use the code provided by Ward Beullens to break the cryptocurrency abc that uses the rainbow signature that was selected for the third round of NIST PQC selection?"
Recently, Ward Beullens published a paper saying that using his method, it took only 55 hours to break the rainbow signature using the second round of L1 parameters submitted to NIST.
The encrypted currency abc uses the rainbow signature. If someone can use his method to crack the abc, then this will be the first time in the field of cryptocurrency to break the encryption algorithm. This will be t

[2022-04-19 15:49] eddybuilds commented on #12922
Hey @ekpyron - I'd be keen to contribute to this issue, ideally with fuzzing but I'd be productive on adding unit tests too, if you're accepting outside work :)

Is there a Discord channel or something similar where I can go over the details of this task a little more, and to find some examples of existing fuzzing tests to use as a starting point?

[2022-04-19 16:51] hroussille opened #12947 "Discrepancy between a Library bytecode function identifier check and the generated abi with structs"
## Description

When compiling a simple library, the generated byte code doesn't match the output of the ABI regarding the function identifier.
This result in a revert for what seem to be a perfectly valid action.

[code]

The generated bytecode checks for the function identifier : `0x70c40302` (`keccak256("add(AB)")`) but the ABI file interpretation generates the following function identifier `0x

[2022-04-21 05:01] OrizzoN7 commented on #12947
// SPDX-License-Identifier: GPL-3.0
pragma solidity ^0.8.7;

struct AB {
  uint8 a;
  uint8 b;
}

library TheLibrary {
  function add(AB memory ab) public pure returns(uint8) {
    return ab.a + ab.b;
  }
}
The generated bytecode checks for the function identifier : 0x70c40302 (keccak256("add(AB)")) but the ABI file interpretation generates the following function identifier 0x2f563ac4 (keccak256("

[2022-04-21 08:05] ywon0925 commented on #12896
Hi, is this issue solved?
If not, I would like to take the issue and solve by adding a special case in TypeChecker::typeCheckTypeConversionAndRetrieveReturnType() as @cameel mentioned.

[2022-04-21 09:11] PaulRBerg commented on #12479
I just bumped into this issue while trying to use a user-defined value type in assembly:

[code]

Getting this error:

I understand the rationale for not doing this for any kind of constant, but maybe we could make an exception for user-defined value types that are `uint256` under the hood?

Looks like I can use `UD60x18` types in assembly when they are not constants.

[2022-04-21 11:04] gurukamath commented on #12857
Unless someone else has already started working on this, I'd like to take a look.

[2022-04-21 15:03] ywon0925 commented on #12896
Hi, is this issue solved by @StrongerXi ?
If not, I would like to take the issue and solve it by adding a special case in `TypeChecker::typeCheckTypeConversionAndRetrieveReturnType()` as @cameel mentioned.

[2022-04-21 16:14] mudgen commented on #12807
@chriseth more projects are using diamond storage in Solidity libraries which makes modifiers defined in Solidity libraries and used in contracts useful.

[2022-04-21 19:29] brockelmore opened #12951 "feat: Blackbox code from compiler"
## Abstract
As the compiler gets smarter at inlining, const evaling, and keeping variables around (with stack-to-deep avoidance and the like), there is a growing need to hide/blackbox chunks of code from the compiler for testing and profiling reasons.

## Motivation

I am extremely encouraged that I need to make this request. Effectively, the optimizer (especially with `viaIR`) is getting so smart

[2022-04-22 01:03] onbjerg commented on #1540
Hey, just putting my vote on this one.

Sometimes compiling tests in Forge can take forever if the optimizer is turned on, so we'd like the ability to split our compilation pipeline: first, compile non-test contracts with the optimizer on, and then compile the test contracts with the optimizer **off**, passing in the optimized bytecode for the non-test contracts.

We have a gas report feature that

[2022-04-22 14:33] 0xSamWitch opened #12953 "ICE in `StructType::nativeMembers()` when the type of an immutable is a struct containing a mapping"
## Description
Get an error `InternalCompilerError: Solidity assertion failed` which is not helpful. A descriptive error is shown in 0.8.11 (see below)

## Environment

- Compiler version: 0.8.12

## Steps to Reproduce
Run the code below in 0.8.12 or 0.8.13, you get the compiler output:
`InternalCompilerError: Solidity assertion failed`

[code]

While this code is not correct, it should still give

[2022-04-24 05:38] MicahZoltu commented on #10698
I'm a fan of `+!`.  To me, the `!` operator means, "I know what I'm doing, don't try to protect me from myself."  This is true in TypeScript, where the user is asserting to the compiler "I'm confident that this thing is not null, please don't try and be helpful by stopping me from using it in contexts where non-null is required" and in Solidity it would mean, "I'm confident this math operation wil

[2022-04-24 12:11] ybina opened #12955 "Change keyword "mapping" to "map""
The keyword "mapping" is too long, is it possible to simplify it to "map"?

[2022-04-24 14:10] cameel commented on #10698
Checked math operations in Solidity are assertions too. They result in a `Panic` just like a failed `assert()`, division by zero or out of bounds array access. If you do `x + y`, you're asserting that the result won't overflow. With `x +! y` you would simply not be asserting anything about the operation. And just like with `!` if your assertion is false, all bets are off, you probably have a bug.

[2022-04-24 14:36] cameel commented on #12955
At this point the current name is pretty well entrenched. We could consider changing it if it had some bigger benefits or if the current name was really bad and confusing but simply shortening it is IMO not strong enough of a reason. It would just be an annoyance for existing users switching to newer versions.

[2022-04-24 14:41] jacob-eliosoff commented on #10698
I still definitely find it more intuitive for the `!` to mean "Skip the safety check" rather than "Do the safety check".  Just my 2c though.  Agreed that making the `!`-free operators unchecked would be breaking - of course that wouldn't have been true before 0.8!

[2022-04-24 14:58] cameel commented on #10698
Let's wait for more opinions and see. I mean, the fact that many people here don't see a problem with `+!` as unchecked might mean that it's good enough after all and my concerns are overblown :)

[2022-04-24 15:19] jacob-eliosoff commented on #10698
That's the spirit!  I'll really just be glad to have the operators, I'll get used to whatever syntax.  Appreciating the discussion here.

[2022-04-24 16:39] MicahZoltu commented on #10698
Coming from TypeScript, I would find that very confusing.

[2022-04-24 19:25] cameel commented on #12479
Wouldn't it be feasible to implement by automatically inserting an extra `uint` local variable before the assembly block and assigning the constant value to it? Then using that variable in the block. The optimizer would just remove the variable most of the time, wouldn't it? So it shouldn't even increase the stack pressure in the optimized code.

I did run into this limitation myself in the past a

[2022-04-25 12:55] christianparpart commented on #10698
@cameel Ruby actually also uses suffix `!` to symbols to hint that this function  is potentially destructive. If at all, I'd highly favor `!` over `+!`. The latter looks more like a workaround to me. :-)

[2022-04-25 12:58] christianparpart commented on #10698
@cameel to me, having an operator `+!` looks really not so good, we'd also need that suffix to other operators as well. And that would just over-complify things. I'm highly advocating for introducing a `unchecked { ... }` . Its's way easier to read to me at least and less obfuscated as introducing special operators like `+!`.

[2022-04-25 13:29] drortirosh opened #12959 "SMTChecker: doesn't recognize "OR" as arithmetic."
The following sample is based on the standard "overflow" sample of the SMTChecker.
There is an added "require" which makes sure the addition can never overflow - but the SMTChecker doesn't recognize it.

running the normal
`solc overflow.sol --model-checker-targets "underflow,overflow" --model-checker-engine all --model-checker-show-unproved`
Fails and claims that "Overflow can happen here"
with p

[2022-04-25 14:23] leonardoalt commented on #12959
Hi @drortirosh , thanks for the issue!

The tool does in fact recognize the extra require, but:

- The BMC engine only looks at each function separately, regardless of the previous states. So it doesn't really know of any constraints that were added in previous transactions, in this case the said require.
- The CHC engine says "might happen here", which means that the underlying solver could not p

[2022-04-25 14:29] cameel commented on #10698
I'm in the operator camp :) Being checked or unchecked is ultimately something that applies to a specific operation so making it granular made more sense to me from the beginning. I mean something like `(a +! b) *! c *! d /! e**!f` does not look great but it's good that it's a bit ugly. That's something that should stand out.

Which, incidentally, is also good argument for using `!` or unchecked r

[2022-04-25 14:33] cameel commented on #10698
Actually, one problem I see is that using `!` makes things ambiguous because `!` on its own is an operator too.

That's why my old idea was to use `@`. But `a @+ b` is a bit bulky...

[2022-04-25 15:25] jacob-eliosoff commented on #10698
Oh dear, I think you're right @cameel: `+!` is ambiguous because `a+!b` could mean either "unchecked `a` plus `b`" or "checked `a` plus not-`b`".

This seems like an argument for `!+` over `+!`, since I believe `!` is a prefix operator, not postfix (ie, `a!` on its own is not valid Solidity, unlike `!a`).  Though I find `!+` a lot less intuitive...  Ah well...

[2022-04-25 17:14] cameel commented on #12238
@nishant-sachdeva

Well, I think we can close this given that further improvements will likely require considerable effort that's disproportionate to potential gains.

To summarize, so far we managed to achieve this so far:
- Download section was moved above versions in the flyout menu.
- We added a note about the PDF on the index page.

Unfortunately I see that the downloads section in the flyout

[2022-04-25 17:14] #12238 closed, assigned to nishant-sachdeva

[2022-04-25 17:23] cameel opened #12961 "Download list is empty in the flyout menu in the docs for versions 0.8.9..0.8.13"
The list of downloadable formats in [0.8.13 docs](https://docs.soliditylang.org/en/v0.8.13/) (and also older versions, down to 0.8.9) seems broken:
![flyout-menu-versions-0 8 13](https://user-images.githubusercontent.com/137030/165140423-72a8dd50-e3c4-4005-b679-19c4ef835ca5.png)

For older releases and for `latest` the links are there:
![flyout-menu-versions-latest](https://user-images.githubuserc

[2022-04-25 17:36] cameel commented on #12896
If possible, I'd include the error name:
[code]
though just `error` would still be better than describing it as a function.

@ywon0925 For now @StrongerXi seems to be interested in implementing it so you'll need to find a different task. To be honest we're currently getting more PRs that we can review and on top of that most of the team is out on a conference now so things are stalled. It would be

[2022-04-25 18:36] cameel commented on #12922
Sorry, for a late response. Most of the team has been out for Devconnect and we're still not all back even now.

We have a Matrix channel, where you can talk to us directly about anything compiler-related: [#solidity-dev](https://app.element.io/#/room/#ethereum_solidity-dev:gitter.im). Also, the person to talk about fuzzing specifically would be @bshastry. He's managing our (pretty extensive) fuzz

[2022-04-25 19:07] drortirosh opened #12962 "SMTChecker: broken "counterexample""
In the following sample, the SMTChecker correctly recognize there is a problem, but the counter-example it provides is broken:
it suggests:
[code]
but this value breaks the "require"

(it does provide a proper counter-example for addition operation, but not for multiplication..)

[code]

[2022-04-25 19:28] cameel commented on #12953
Thanks for the report! The compiler indeed should return a proper error here so this is a regression.

Here's a simpler repro:
[code]
[code]

[2022-04-25 20:19] cameel commented on #1540
@onbjerg You might be interested in #11787. It's currently being implemented and will allow reimporting the EVM assembly output that the compiler can produce. Just to make sure - @aarlt - it will be possible to import unoptimized asm with `--optimize` so that it gets optimized, right?

Also, in case of the `viaIR` pipeline it's a bit more complicated because there are two optimization stages - Yul