[2017-08-07 19:25] MicahZoltu commented on #2665
@chriseth I just tried changing my JSON to:
[code]
Unfortunately, the compiler errors because it doesn't see that as a valid path.  This means that the proposed workaround doesn't work.  :/

[2017-08-07 20:35] axic commented on #2665
It is the `"filename"` part (the map key) which should be changed as opposed to the URL.

[2017-08-07 20:43] MicahZoltu commented on #2665
@axic Can you give an example of what you mean?  When I was trying to figure out how to get the standard-json working, the only way I could get it to work with local files was in the above way.  Are you suggesting that I shouldn't be including the `urls` element and should be doing something else?  Or perhaps you are suggesting something like this:
[code]

[2017-08-07 20:51] axic commented on #2665
[code]

[2017-08-08 07:13] SCBuergel opened #2706 "not calling base constructor with arguments should raise compiler error"
The following contract has a base contract with a constructor that requires arguments and that then gets derived by another contract that does not explicitly call the base constructor:
[code]

According to [the documentation]

However, in all versions until now (0.4.14) this does not yield a compiler error but also does not create an output binary. I suggest to raise a compiler error here.

[2017-08-08 07:33] SCBuergel commented on #2563
Agree with all of the above and want to point out another dangerous example that I just came across:

Libraries like [OpenZeppelin](https://github.com/OpenZeppelin/zeppelin-solidity/) implement common tasks in generalised code with a long inheritance graph. That is all well until a developer overwrites a state variable of the base contract that is within the same contract still being used (but sho

[2017-08-08 10:09] pirapira opened #2707 "raise an error when a statement can never have side-effects"
When a statement contains
* no calls on accounts
* no assignments
* no function calls
* no event logging
* no variable declaration, and
* no `new` expression
the statement does not do anything and can be removed, so the compiler should raise an error.

This prevents things like
* `1;`
* `variable == 3;`

[2017-08-08 10:33] chriseth commented on #2665
I think you have to use `/app/src` in the key for sources.

[2017-08-08 10:46] axic commented on #2706
This has been fixed in #2698.

[2017-08-08 10:46] #2706 closed, assigned to nobody

[2017-08-08 11:23] chfast commented on #1677
I'd take the design from existing languages. Python's one looks good.

[2017-08-08 11:38] axic commented on #2467
Would a modifier placed in a library act as an internal library function and thus be inlined or would be called remotely via delegatecall?

[2017-08-08 11:52] axic commented on #2705
You must have a local issue, because brew is up to date:
[code]

Note, the package is maintained at https://github.com/ethereum/homebrew-ethereum.

[2017-08-08 11:52] #2705 closed, assigned to nobody

[2017-08-08 11:56] ruchevits opened #2708 "Support dynamic arrays?"
Is it planned to introduce support for dynamic arrays in function arguments and return values, and if so, when it's expected to be done?

Seems quite simple to encode. Say, for `uint[][][]` type, the following array:

[code]

could be encoded as:

[code]

And decoded as:

[code]

[2017-08-08 12:29] axic commented on #2469
I guess an easy syntactical way would be to allow an address at the place the library is used (if it is missing, it can still be supplied compile time):
[code]

however that would be repetitive so there must be a way to configure libraries.

How about

[code]

As a second step it could be extended to not only support hexadecimal literals, but variables:

[code]

[2017-08-08 12:31] axic commented on #2699
One of the main reason for libraries wasn't upgradeability, but reducing code duplication, which it fulfils. Supporting upgradeable libraries is tracked in #2469.

I don't fully get how Solidity libraries are that different to other libraries considering how a blockchain is a different setting. Could you elaborate a bit more and what naming would you suggest?

[2017-08-08 12:35] chriseth commented on #2469
`L(0x1234)` was criticized by some as a serious security risk.

To be honest, I would prefer no such mechanism.

[2017-08-08 13:21] axic commented on #1650
My current proposal is:

JSON I/O
[code]

Contract:
[code]

[2017-08-08 13:23] rainbreak commented on #2469
`L(0x1234)` is only a risk if your contract allows it to be though - you can make the possible addresses explicit in the code, or only allow a TrustedAuthority to change them. Or is there more to it?

Developers are going to enable these mechanisms anyway via `delegatecall`. We can already do `MyContract(0x1234).callSomething()`.

[2017-08-08 13:34] axic commented on #2708
The reason they were not supported as there was no way to properly retrieve variable length data in cross-contract calls. This will change with Metropolis.

Meanwhile, a new ABI encoder is being written, which is able to encode dynamic arrays. (A decoder is to be improved though.)

[2017-08-08 13:53] #1769 closed, assigned to axic

[2017-08-08 14:51] dospunk opened #2711 "msg.sender returning the wrong address in an event"
I have an event that's supposed to provide the `msg.sender` value and a string. When receiving the event (using the node.js web3 module) the string comes through fine, but the address sometimes comes through as `0x0000000000000000000000000000000000000020` instead of the value of `msg.sender`.

- pragma:  `pragma solidity ^0.4.11`
- compiler: solcjs
- OS: macOS Sierra (v10.12.5)

[2017-08-08 14:55] dospunk commented on #2711
Here's the relevant code, with `.....` replacing unnecessary info:

[code]

[2017-08-08 15:43] dospunk commented on #2711
Upon further investigation it seems the problem is with web3, not solidity so I'll move the issue over there

[2017-08-08 15:43] #2711 closed, assigned to nobody

[2017-08-08 17:08] MicahZoltu commented on #2665
I changed `filename` to `absoluteFilePath` (in this case it is `/app/src/reporting/Parent.sol`) but I still get the same error.

[2017-08-08 17:10] MicahZoltu commented on #2665
Actually, let me dig a tad more before I assert that it didn't work.

[2017-08-08 21:34] federicobond opened #2713 "Tuples without commas should throw a syntax error"
The current implementation accepts this code as valid:

[code]

This becomes really confusing if you accidentally use a C-like cast syntax (I wrote a parser, I should know better 🙄 ):

[code]

solc output:

[code]

[2017-08-08 21:47] axic commented on #2713
Comments in the parser even say it is not a "real tuple":
[code]

The grammar however allows it:
[code]

I guess the easiest would be adding a syntax checker case for a single member tuple.

[2017-08-08 21:49] federicobond commented on #2713
The problem is not with the `(A)` but with the `(X Y)` construct. The parser is recognizing a two-element tuple of type `tuple(type(contract A),address)` as described in the output message.

[2017-08-08 21:50] federicobond commented on #2713
Testing a fix right now.

[2017-08-08 21:53] axic commented on #2713
Ah right, though as a separate issue don't think a tuple with a single member is a tuple (and should be allowed).

[2017-08-08 23:02] MicahZoltu commented on #2665
I dug in a bit more and the proposed change of using the absolute file path for the `sources` key worked for my test environment.  However, I am also using a Solidity extension in VS code and the same fix didn't resolve the issue.  The setup of the plugin is a bit different as it uses solcjs and calls `solc.compileStandardWrapper` with two arguments, the first being the standard JSON and the secon

[2017-08-08 23:47] MicahZoltu commented on #2665
OK, I have resolved my issue, but I believe there is still a bug in solc.  In the end, my issue was a path separator inconsistency on Windows, where some places were using `/` and other places were using `\`.  I think solc should normalize the path to an absolute path (not relative) _and_ normalize the path separator before using the filename as a lookup key to determine whether or not a match is

[2017-08-09 09:39] chriseth commented on #2713
A parenthesized expression is considered as a single-element tuple of that expression which is identical (apart from the syntax) to just the expression. If a tuple contains multiple elements, which are not separated by commas, this should of course be an error.

[2017-08-09 14:54] frangio commented on #2467
I was thinking of them as internal.

[2017-08-09 15:16] yondonfu opened #2723 "Automatically generated getter for struct does not return fixed size array field"
In the source code below, the automatically generated getter for `foos` does not return the fixed size array field `uint256[3] c` when invoking `foos[0]`. It seems like the automatically generated getter for `foos` should replicate the behavior of `customGetter` (which properly returns `uint256[3] c`), however at the moment it does not.

Source Code:

[code]

Solidity Version: 0.4.13
Platform: htt

[2017-08-09 15:56] chriseth commented on #2723
Arrays are removed from structs in getters, because the idea is that full arrays are never returned by the getter, only individual elements. This is also true for statically-sized arrays because there is no obvious "max size" where you could draw the line.

[2017-08-09 22:02] axic commented on #2665
Yes I think it would be clearer to have its own dedicated issue. If you create that can we also consider this one closed?

[2017-08-09 22:06] axic commented on #2665
Also there's this other issue you may encounter: #2147.

[2017-08-10 00:08] axic commented on #2182
`sizeof` perhaps

[2017-08-10 09:49] axic commented on #2131
New name suggestion:
- CALI (Clever/Convenient Assembly Language as Intermediate language)
- CICL/CYCL (Clever Intermediate Compiler Language)

[2017-08-10 13:31] chriseth commented on #2131
`JULIA - Joyfully Universal Language which is not Instructional Assembly`

[2017-08-10 15:43] Dohtar1337 opened #2726 "Basic Crowdfunding contract from eth tutorial problem"
hello, newbie here with some basic programming knowledge here.
I created my own token, now I want to add crowdfunding contract to it. I get this error when copying code from official tutorial.
Using the latest ethereum mist and solidity 0.4.2
[code]
This is the code:
[code]
Thank you for your help! :)

[2017-08-10 16:35] axic commented on #2726
The two variables `address receiver, uint amount` are not used in the code, please remove their names and just leave their types:
[code]

[2017-08-10 16:36] axic commented on #2726
@alexvandesande is there a way to show warnings as warnings in Mist? They are currently treated as errors. This has come up quite a few times so far.

Perhaps with a tick box for "treat warnings as errors", which is on by default and turning it off shows a giant red popup message :)

[2017-08-10 16:38] axic commented on #2131
I still have a grudge against the name Julia being used by another more known language :)

[2017-08-11 13:17] MidnightLightning opened #2731 "Sort order of methods in generated JSON ABI"
I first noticed this issue on various sites like Etherscan and Remix, which use the Solidity compiler, and have been pointed here as the source of the issue.

When the JSON ABI is generated, the order of the methods/events in the JSON object seems to be arbitrary. It's not alphabetical, and it's not in the same order as the methods are presented in the contract. For a contract with many functions,

[2017-08-11 14:30] yondonfu commented on #2723
Ah got it. I find it a little strange that getters for structs that contain arrays omit the arrays when returning the values of the struct, while the compiler will throw an error if you try to generate a getter (by declaring the state variable as `public`) for structs that contain structs. I would think the behavior for these two cases would be the same - either the compiler throws an error for bo

[2017-08-11 15:10] axic commented on #2731
Can you please explain what would be the benefit sorting it in a certain way? Even if that certain way does not suit everyone and thus they will sort it again?

Note, it is sorted by Remix in a certain way already.

[2017-08-11 15:59] #2617 closed, assigned to chriseth

[2017-08-11 16:02] MidnightLightning commented on #2731
The current ordering appears to be random and not based on the source code nor alphabetical. What is the "certain way" that Remix already uses?

Taking for example, my contract at `0x78FAEA8994EfE7FC448E743B7b342e1A96Ba3807` which I [linked to originally](https://etherscan.io/address/0x78faea8994efe7fc448e743b7b342e1a96ba3807#readContract): In the source of that contract, I laid out the methods in

[2017-08-11 16:13] #2613 closed, assigned to nobody

[2017-08-11 20:42] kieranelby commented on #2325
FWIW, I've also seen this (and been very confused by it), in my case using MetaMask to call a constant contract function that returns the balance of an address - about 50% of the time I get the correct result, other times I get 115792089237316195423570985008687907853269984665640564039455084007913129639935. Perhaps a geth/MetaMask issue - never seen with JavascriptVM.

[2017-08-11 21:52] #2713 closed, assigned to nobody

[2017-08-11 21:52] #2346 closed, assigned to nobody

[2017-08-11 22:06] #2578 closed, assigned to nobody

[2017-08-11 23:24] axic opened #2733 "new expression with library and interface "works""
[code]

Not sure about creating libraries, but creating interfaces must be disallowed.

[2017-08-13 14:28] satyamakgec opened #2736 "can contract call itself and produced txn"
Suppose if i deploy the smart contract on the ethereum blockchain having a functionality to pay some tokens at particular timestamp. Then on which node's evm that smart contract get executed how it get decided ? and my node is not any more connected to the network at the same time . Is this node selected by network randomly or their is any other algorithm or paradigm exists for this process.

Than

[2017-08-13 16:07] varadarajana opened #2737 "Unable to build and install Solidity in Ubuntu"
I tried to compile Solidity in Ubuntu 16.04.2. I have installed the dependencies.
boost - version 1.61
[ 63%] Building CXX object liblll/CMakeFiles/lll.dir/Parser.cpp.o
In file included from /usr/local/include/boost/iostreams/detail/is_dereferenceable.hpp:12:0,
                 from /usr/local/include/boost/iostreams/detail/resolve.hpp:26,
                 from /usr/local/include/boost/iostreams/d

[2017-08-13 16:22] axic commented on #2737
This seems to be a gcc compiler bug:

[2017-08-13 17:54] MicahZoltu opened #2738 "Normalize paths before using them for lookup key in Standard JSON"
Discovered while troubleshooting #2665.

At the moment, global file names aren't normalized before using them as a lookup key when using standard-json.  This includes relative paths vs absolute paths and windows separator vs linux separator.  I recommend normalizing the keys to absolute path, unix separator (since that works on Windows) before using it as a lookup key rather than using the key as-

[2017-08-13 17:54] #2665 closed, assigned to nobody

[2017-08-13 18:13] MicahZoltu commented on #2699
TL;DR: After thinking more on the subject I think my issue is with the fact that Solidity libraries are dynamic libraries rather than static and libraries do delegate call instead of call.

In most other languages (exception being C for dynamic libraries), libraries are a build-time dependency, not a runtime dependency.  I suspect this is the source of the confusion because libraries in Solidity a

[2017-08-13 21:29] axic commented on #2655
The real solution will be #2683, but we should try to fix this before the breaking release.

[2017-08-14 09:37] #2632 closed, assigned to chriseth

[2017-08-14 10:19] axic opened #2739 "External library functions not visible"
[code]

[2017-08-14 12:58] axic opened #2741 "Metadata CBOR to contain compiler version"
The idea is that it can be figured out easily if a contract uses a broken compiler version and therefore should not be trusted.

One could argue against this though that contracts which don't have their metadata JSON uploaded to Swarm should not be trusted and once it is uploaded the version can be verified within.

Note: libraries already include a version byte (though not as part of the metadata

[2017-08-14 14:54] aleitner opened #2742 "File outside of allowed directories issue"
I have zeppelin as a submodule, and I am trying to `import` a solidity contract from inside of the zeppelin submodule. solc is throwing and error when trying to compile though. `File outside of allowed directories.\nimport 'zeppelin-solidity/contracts/ownership/Ownable.sol` any idea what's causing this?

Here is my repository `https://github.com/aleitner/MineableToken`

## Current state:

The foll

[2017-08-14 17:28] roadriverrail commented on #2699
I'll let someone else talk about the delegate call matters, but I want to speak to the matter of "other languages" and to suggest that comparisons of this nature don't really end up clarifying this issue and leading to to a course of action.

I don't think it's really accurate to say that "most languages" treat libraries as "build time dependencies."  A significant number of the most popular langu

[2017-08-14 17:51] ivan-gavran commented on #610
I am wondering about .gas() modifier: when I tried to use it, I got _member gas not found or not visible_ compilation error (with compiler 0.4.13). Even after changing the compiler versions in Remix, the same compilation error happens.
what could be the problem here?

[2017-08-14 18:36] axic commented on #610
@gergia the `.transfer` feature never supported the `.gas` modifier, if in certain cases it did that was a bug. Did you had such a case?

[2017-08-14 19:27] ivan-gavran commented on #610
No, I thought it supported `.gas` modifier based on [the answer on ethereum stackexchange](https://ethereum.stackexchange.com/questions/19341/address-send-vs-address-transfer-best-practice-usage) and your comment in this thread from February 8th.
(Maybe it would make sense to comment on this stackexchange thread so that people are not misleaded, I don't have enough points for commenting yet)

[2017-08-14 19:44] axic commented on #610
Sorry, this issue was only an in-progress discussion. The documentation contains the final decision. Left a comment on stackexchange.

[2017-08-15 01:18] axic commented on #992
Here is a summary of the current design:

There's enum for `statemutability`, from most restricted to least restricted: `pure`, `view`, `nonpayable`, `payable`. A function can only be one of these.

view:
- cannot use `selfdestruct`, `new`
- can use `this.balance`
- can use `tx.*`, `msg.*`, `block.*`
- can only call `view` or `pure` functions
- cannot send ether
- can use `sload`
- cannot use `sst

[2017-08-15 15:53] chriseth commented on #2737
Usually this is due to out-of-memory on the compiling machine. Are you running this inside a virtual machine?

[2017-08-15 19:33] axic opened #2752 "Libraries can have constructors - is that useful?"
[code]

It may seem useless to support this given library functions are invoked via delegatecall and thus is very unlikely to regularly access the state of the library contract.

[2017-08-15 22:20] roadriverrail commented on #2309
@axic asked for more detail of the errors.  I guess since then there was something that changed in our json-cpp dependency, since it no longer compiles under gcc-4.7:

/home/rhett/solidity/build/deps/jsoncpp/src/jsoncpp-project/src/lib_json/json_value.cpp: In copy constructor ‘Json::Value::CZString::CZString(const Json::Value::CZString&)’:
/home/rhett/solidity/build/deps/jsoncpp/src/jsoncpp-projec

[2017-08-15 23:09] rstormsf opened #2753 "Request: contract functions check"
It would be great if I could write something like this:

[code]
to check if the address has some method_name

[2017-08-15 23:18] axic commented on #2753
I'd suggest having a look at https://github.com/ethereum/EIPs/issues/165 which accomplishes this.

[2017-08-15 23:21] axic commented on #2309
@roadriverrail that's weird because we only use a fixed version of jsoncpp, which hasn't changed in a while.

[2017-08-15 23:42] roadriverrail commented on #2309
@axic it may have been that I somehow didn't previously clean up my build
cruft or had shoehorned in gcc use.  This is somewhat consistent with my
prior experience with json-cpp, though, because I recently did a port of it
for my day job, and it expected full C++11, including gcc >= 4.9.

On Tue, Aug 15, 2017 at 11:21 PM Alex Beregszaszi <notifications@github.com>
wrote:

[2017-08-16 09:10] wangwangwar commented on #2344
Thanks.

[2017-08-16 09:46] axic commented on #2699
Sorry this will not be a comprehensive answer.

I find the opposite more likely to be true, especially considering market share:
- C, C++, C#, Java - majority of code is dynamically linked
- Javascript - this is a 50/50%, web deployments are "statically linked", but server side deployments (node.js) are dynamically linked
- Python - dynamic linking
- Ruby - dynamic linking

This is all fine up to

[2017-08-16 11:20] androlo opened #2756 "left shift operation works with only number literals, or only variables, but not mixed"
Seems that it will fail when you mix literals and variables, which makes for some un-intuitive results.

Solidity: `0.4.15+commit.bbb8e64f.Emscripten.clang`

[code]

In the contract, the second output of `get` is 0, but for `get2` it is not.

The integer type of the input doesn't seem to matter (`get3` and `get4`).

Right shift does not seem to be affected (`get5` and `get6`).

[2017-08-16 11:48] chriseth commented on #2756
This is a peculiarity in the type system. If you write `1 << n` (for `n` being `uint`) what is the type of `1` and what is the type of `1 << n`?

I actually thought we had a warning there, but it seems we only implemented that for `**`.

[2017-08-16 12:22] ghost opened #2759 "Visual Studio Code: The Solidity Language Server server crashed 5 times in the last 3 minutes. The server will not be restarted."
I am working on Win10 and getting this error from VSCode after installing the Solidity extension and then opening a .sol file:

[code]

[2017-08-16 12:29] chriseth commented on #2759
This seems to be a problem in the VSCode extension. The relevant github repository is here: https://github.com/juanfranblanco/vscode-solidity/issues

Please report the issue there.

Thanks!

[2017-08-16 12:29] #2759 closed, assigned to nobody

[2017-08-16 13:03] androlo commented on #2756
`1` is reported as being of type `int_const`, and is for all intents and purposes a `uint8`, which is also the type of `1 << n` - who's type is derived from the shifted value. I know that because shifting up to `1 << n=7` worked, but not for `n=8` or more. Guess that's why right shifting works - the shifted value is never larger then the result of the shift.

It is weird that using a literal, (1 <

[2017-08-16 13:09] chriseth commented on #2756
The type of the second param does not have an impact on the resulting type. The rule that is applied here is that as soon as an integer constant is converted to an actual type, it assumes the smallest type that can fit its value (where unsigned types are considered smaller than signed types).

[2017-08-16 13:10] androlo commented on #2756
oh, right. so literals work because you get a `int_const X` (essentially another literal) from the shift, rather then a number of type int/uintX. I get it now.

[2017-08-16 13:12] androlo commented on #2756
[code]

[2017-08-16 14:00] #2756 closed, assigned to chriseth

[2017-08-16 14:17] VoR0220 commented on #2699
Regardless, I believe one could easily argue that the current implementation is flawed. I still think that Solidity needs to work on a decent standard library with contracts that can be simply "baked in" when imported from said standard library. Library here could just mean "runtime linked immutable functionality"...which is certainly useful and does work to an extent...still is relatively painful

[2017-08-16 16:51] varadarajana commented on #2737
I think we can close this issue. This is due to running on a VM where disk space was running low and memory was also running at 100%. I cleaned it up and now got it built. Thank you @chriseth

[2017-08-16 18:10] #2737 closed, assigned to nobody

[2017-08-16 18:11] varadarajana commented on #2737
As mentioned earlier compiling solidity was more an issue with VM I was using. This is working fine now.

[2017-08-16 18:51] #2571 closed, assigned to axic

[2017-08-16 22:21] axic commented on #2736
Please ask this on https://ethereum.stackexchange.com/.

[2017-08-16 22:21] #2736 closed, assigned to nobody

[2017-08-16 22:24] axic commented on #2325
@o0ragman0o @kieranelby since it is not present on ethereumjs-vm, but both of you have seen it with geth, please open an issue on go-ethereum.

[2017-08-16 22:29] axic commented on #2731
As seen here (https://github.com/ethereum/browser-solidity/blob/master/src/app/execution/txHelper.js#L30), Remix sorts it by name and puts the `constant` functions first.

I think a better solutions is to add Natspec annotations to the source code and let those tools (e.g. etherscan) display that.

[2017-08-16 22:36] axic opened #2764 "Check for nested dynamic arrays in TypeChecker"
Encoding:
[code]

Results in:
[code]

Decoding:
[code]

Results in:
[code]

[2017-08-16 22:47] axic commented on #2102
I believe this was fixed via #2561. @slothbag please reopen if you still have the problem with latest solc.

[2017-08-16 22:47] #2102 closed, assigned to nobody

[2017-08-16 22:56] axic commented on #2764
`ABIEncoderV2` can encode it, hoping it will move from experimental mode soon, this will not be needed.

[2017-08-16 22:57] axic commented on #2708
This should be working now (in latest nightly) via using the new experimental encoder:
[code]

Note: this will turn on an experimental feature (which is also noted in the metadata) and should not be used in production. It is only about encoding, decoding is not supported.

[2017-08-17 01:48] o0ragman0o commented on #2325
I've realised that `msg.sender` itself does not make sense in a `constant` function. The following function returns garbage under different clients.

    contract ReturnSender {
        function retSenderAddr() public constant returns (address)
        {
            return msg.sender;
        }
    }

[2017-08-17 02:25] axic commented on #2325
From Solidity's perspective it still makes sense, it is part of the state and constant functions can read the state, just they cannot modify it.

Since this flag is also populated in the ABI JSON, certain tools (such as web3.js) will consider those functions can be executed via `eth_call`, which is true, but it still requires proper values. However, they can also be executed by other contract func

[2017-08-17 03:07] o0ragman0o commented on #2325
I'm not aware enough of how `eth_call` works.  I'll raise this as a Geth issue as suggested. However, now I can't reproduce the bad behaviour returning `msg.sender` with other clients (local Remix may have been corrupted and I've been trying to stabilise all morning).

[2017-08-17 04:01] MidnightLightning commented on #2731
Aha, thanks for pointing that out! That code in Remix doesn't actually do what its intended to do. Having two separate `sort` calls means that the second sort is clobbering the first one. You end up with methods that definitely have `constant` functions first, but within the "constant" and "non-constant" groups, they're no longer in alphabetical order. For example, here's a screenshot of that cont

[2017-08-17 09:02] ruchevits commented on #2708
Great news, thanks!

[2017-08-17 10:36] axic commented on #2699
All the methods marked `internal` will be statically linked and a good while back I've suggested an option which turns on static linking (even for those methods not marked `internal`). I think that would good a middle ground.

And I've also argued to not use `internal`, but `inline` as a keyword in libraries and keep `internal` for library-internal usage and hidden from the user.

[2017-08-17 11:33] alexvandesande commented on #2726
@axic you're correct I will fix that

[2017-08-17 19:40] MicahZoltu commented on #2699
I have realized, through this discussion, (sorry for not having all of my thoughts in order up front) that I really have two separate problems with libraries right now:

#### Dev Pipeline Issue

@axic @roadriverrail You are correct, I am using the term `dynamic` and `static` incorrectly here, I apologize.  In traditional languages, if I am dynamically linking to a library I need to know the shape

[2017-08-17 19:42] MicahZoltu commented on #2699
I also realize through this discussion that I don't have a concrete proposal for how to fix things.  :/  I think libraries in the form of stateless contracts that provide extension methods via `using ... for ...` are valuable and useful, but I have yet to find a use for libraries outside of that context, and stateful libraries make my brain melt (I can't grok how exactly they interact with my cont

[2017-08-18 01:12] iam-peekay commented on #2620
@chriseth so is the only option right now to either write my own script to concatenate files and/or do it manually?

[2017-08-18 10:02] SEBBISUBBU opened #2766 "Impossible to Install Ethereum on Windows 10"
Hi, I have followed the installation instructions from:  http://www.ethdocs.org/en/latest/ethereum-clients/cpp-ethereum/building-from-source/windows.html, and I have installed git, cmake and visual studio, but when I execute the command "scripts/install_deps.sh" I receive this error:
#################################
"GIUSEPPE@xxxx-xxxx MINGW64 ~/cpp-ethereum (develop)
$ scripts/install_deps.sh
ER

[2017-08-18 10:10] axic commented on #2766
This is the wrong repo. You are looking for https://github.com/ethereum/cpp-ethereum.

[2017-08-18 10:10] #2766 closed, assigned to nobody

[2017-08-18 12:01] SEBBISUBBU commented on #2766
Sorry, But before resolving the dependencies I had executed this code: $ git clone https://github.com/ethereum/cpp-ethereum
and after that I tryed to resolve the dependencies.. receiving the error message above.. So this issue it's not closed  from my point of view. Thanks!

[2017-08-18 12:03] SEBBISUBBU commented on #2766
$ case $(uname -s) in Darwin)     case $(sw_vers -productVersion | awk -F . '{print $1"."$2}') in         10.9)             echo "Installing cpp-ethereum dependencies on OS X 10.9 Mavericks.";             ;;         10.10)             echo "Installing cpp-ethereum dependencies on OS X 10.10 Yosemite.";             ;;         10.11)             echo "Installing cpp-ethereum dependencies on OS X 10.

[2017-08-18 12:09] axic commented on #2766
You are still reporting this on **https://github.com/ethereum/solidity**. Please report it on the correct repository.

[2017-08-18 12:11] SEBBISUBBU commented on #2766
$ git clone --recursive https://github.com/ethereum/cpp-ethereum
fatal: could not create work tree dir 'cpp-ethereum': Permission denied

[2017-08-18 12:11] SEBBISUBBU commented on #2766
ok.. Thanks for your help.

[2017-08-20 08:55] zjsunzone opened #2767 "Can return string for an external call ?"
Can return string for an external call, in tow contract between

[2017-08-20 10:24] axic commented on #2767
A string can be returned by any function (even external ones). It is not yet possible to process a string received from an external call within Solidity itself. It will be possible to support after Metropolis.

[2017-08-20 20:19] federicobond opened #2768 "Improve usability for error messages"
Over the past few years, there have been significant advances in making compiler error messages understandable and usable by humans. The Elm team has done [some excellent work](http://elm-lang.org/blog/compiler-errors-for-humans) pointing the way forward, and both the [Rust](https://blog.rust-lang.org/2016/08/10/Shape-of-errors-to-come.html) and [Scala](http://scala-lang.org/blog/2016/10/14/dotty-

[2017-08-21 00:14] axic commented on #2768
I was thinking about this a while back and I think:
- messages should be split into error message and optional details (which can be lengthy; could be switched on/off by the IDE or displayed on hover; etc.)
- worth considering introducing unique error codes, because that would give users a way to search for an error code even if the message has changed

[2017-08-21 01:42] federicobond commented on #2768
Good! I like the idea of specifying error codes too. What do you think about providing a `--explain` option that outputs lengthy descriptions for each error (see linked articles).

[2017-08-21 14:37] #2752 closed, assigned to axic

[2017-08-21 15:53] chriseth commented on #2620
@iam-peekay you might find this tool here handy: https://github.com/BlockCatIO/solidity-flattener

[2017-08-21 16:31] iam-peekay commented on #2620
I'll check this out. Thank you! @chriseth

[2017-08-22 11:11] #2733 closed, assigned to axic

[2017-08-22 11:38] axic opened #2774 "Coverity Scan integration in CI"
There's a repo on Coverity for Solidity: https://scan.coverity.com/projects/ethereum-solidity?tab=overview

The CI should submit a new Coverity report when the nightly is built. In order to that a report must be built using the tools here (https://scan.coverity.com/download). It seems the tool is quite large (~600 Mb), so preferable a docker image should be used instead (I'm sure someone made one

[2017-08-22 11:40] axic commented on #2774
Though many of the issues found by Coverity were found by cppcheck too (at least on that particular build).

[2017-08-22 22:25] chfast commented on #2774
You can also start with clang static analyzer.

[2017-08-22 22:29] eyezick opened #2777 "Doc search results routing to another non-public subdomain"
Searching ```revert``` for instance, the first linked result is: http://solidity-482solution.readthedocs.io/en/develop/control-structures.html?highlight=revert

The subdomain is prepended with `-482solution`

[2017-08-22 22:36] axic commented on #2777
Thanks this seems to be down to readthedocs. We've filed an issue yesterday at https://github.com/rtfd/readthedocs.org/issues/3061.

[2017-08-22 22:37] axic commented on #2774
I've been using it on other projects, but either it cannot find anything or it cannot properly hijack cmake on Mac, because the result I get is always "no issues found".

[2017-08-22 23:32] VoR0220 opened #2778 "Easy Peazy: State Mutability should be more readable in ABI"
Can we make the ABI field for "statemutability" (current) to something like "state_mutability" or "state-mutability" or even some mixedCase? Makes the whole thing read easier.

[2017-08-22 23:39] VoR0220 commented on #2681
Craziest proposal so far: Solidity compiles filename extension `solidarity`...since my friends always misnames the language to that anyway...might be worthwhile to atleast add legitimacy to their mistake. 🥉

[2017-08-23 03:49] MicahZoltu opened #2779 "Add support for compilation caching."
With a project of medium size, compilation times start to become fairly significant.  Unfortunately, in a large project there is often a lot of `import '...'` when you have contracts that depend on each other, which means that a naive caching system will invalidate the cache when any dependency of a contract is touched, requiring recompilation of many contracts even if there were no ABI changes.

[2017-08-23 10:41] chriseth opened #2780 "Add `pop()` method to storage array types that throws on empty arrays"
This method should be implemented analogously to `push`.

The relevant functions are `ArrayType::nativeMembers` in `Types.cpp` and `ExpressionCompiler::visit(MemberAccess const& _memberAccess)` (search for `"push"`) in ExpressionCompiler.cpp. The actual implementattion of the pop operation requires extending the `Kind`-enum in the class `FunctionType` (Types.h). Check how it is done for `ArrayPush

[2017-08-23 15:23] chfast commented on #854
Fixed by https://github.com/ethereum/solidity/pull/2757.

[2017-08-23 15:38] chfast commented on #1704
Current status:
`make install` will install solc correctly

Do you want to install other tools? Like lllc?

[2017-08-23 15:45] chriseth commented on #1704
Hm, I think it's fine.

[2017-08-23 15:47] chfast commented on #1704
Fixed then.

[2017-08-23 15:47] #1704 closed, assigned to chfast

[2017-08-23 21:08] axic opened #2785 "make install should install lllc"
Follow up of #1704.

[2017-08-23 21:08] #854 closed, assigned to chfast

[2017-08-23 21:37] chfast commented on #343
Does geth have Chocolatey support?

[2017-08-23 21:39] chfast commented on #1807
Yes. But I'm not sure you wanted.

I can integrate Hunter with Boost, but I need an approval for it.

[2017-08-23 21:41] axic commented on #343
I was going to close this issue since in 1.5 years nobody ever looked for it.

[2017-08-23 21:47] chfast commented on #2663
Can it be https://codecov.io/gh/ethereum/cpp-ethereum ?

[2017-08-23 21:51] axic commented on #2663
Never used any tools for C++ so have no preference, apart from not having comments on pull requests from the bots (at least now) and as long as it can mark a build failed if coverage decreased, say more than 1%.

[2017-08-23 21:56] chfast commented on #2663
It can all of these. Check any newer cpp-ethereum PR.

[2017-08-23 22:13] axic commented on #2141
Please reopen if the issue persists.

[2017-08-23 22:13] #2141 closed, assigned to pirapira

[2017-08-23 22:14] axic commented on #2470
Please reopen if the issue persists.

[2017-08-23 22:14] #2470 closed, assigned to nobody

[2017-08-23 22:15] axic commented on #2391
@zyfdegh did you had any success with this?

[2017-08-23 23:29] axic opened #2786 "Add tests for z3 SMT checker"

[2017-08-24 06:18] come-maiz opened #2789 "fails to build in a clean ubuntu xenial"
Hello!

With the latest addition of z3, I can no longer build solidity. I'm running this in a clean ubuntu xenial lxc:

    $ git clone https://github.com/ethereum/solidity
    $ cd solidity
    $ git submodule update --init --recursive
    $ ./scripts/install_deps.sh
    $ mkdir build
    $ cd build
    $ cmake ..

And it fails with:
[code]

I don't really understand cmake, but it seems we are ei

[2017-08-24 06:40] zyfdegh commented on #2391
@axic Nope, gave up

[2017-08-24 09:38] axic commented on #2789
Fixed by #2791.

[2017-08-24 09:38] #2789 closed, assigned to nobody

[2017-08-24 10:24] simon-jentzsch opened #2795 "Natspec not included getter functions"
When adding natspec-comments in the code the resulting natspec-values will not report comments on any auto-generated function, since he is connecting the storage-comment with the function.
example:

[code]

[2017-08-24 10:31] axic commented on #2726
Tracked in https://github.com/ethereum/mist/issues/2797.

@alexvandesande apparently I've created an issue a while ago :)

[2017-08-24 10:31] #2726 closed, assigned to nobody

[2017-08-24 13:15] axic opened #2796 "Add comprehensive tests for AST JSON"

[2017-08-24 13:59] axic commented on #2778
I actually like it the way it is, but not too much attached to it. In order to be consistent, I’d go for `stateMutability`. Definitely against `-` and `_` looks a bit ugly to me (in JSON at least).

We should also change the AST JSON appropriately.

[2017-08-24 14:00] chriseth commented on #2778
Fine for me!

[2017-08-24 16:27] #2778 closed, assigned to axic

[2017-08-24 20:44] axic opened #2804 "ABI JSON doesn't include all overloaded events"
Raised on Remix: https://github.com/ethereum/browser-solidity/issues/715

[code]

Generated ABI:
[code]

[2017-08-25 12:10] axic commented on #2479
Also remove it from Cmake when done: https://github.com/ethereum/solidity/blob/develop/cmake/EthCompilerSettings.cmake#L97

[2017-08-25 12:25] axic opened #2816 "Review old exceptions in Cmake"
1. `-fpermissive` (see https://github.com/ethereum/solidity/blob/develop/cmake/EthCompilerSettings.cmake#L57-L76)
2. `-Wno-unused-function -Wno-dangling-else` (see https://github.com/ethereum/solidity/blob/develop/cmake/EthCompilerSettings.cmake#L103-L112)

[2017-08-25 15:08] axic opened #2822 "Use CompilerStack.analyze() in SolidityNameAndTypeResolution tests"

[2017-08-25 15:08] #2543 closed, assigned to axic

[2017-08-25 15:09] axic commented on #982
Since #2813 there is a warning for this. It could be turned into an error if this is decided on.

[2017-08-25 15:18] axic commented on #992
This is finally implemented and documented. To only thing left is enforcing these restrictions and that is tracked in #2606.

[2017-08-25 15:22] #992 closed, assigned to nobody

[2017-08-25 18:47] GNSPS opened #2824 "`staticcall()` always throws an error inside an assembly block"
The use of the `staticcall()` function inside an assembly block always throws an error:

`Unbalanced stack at the end of a block: 1 surplus item(s).`

This happens with every major release version of the compiler with the optimization both turned on or off, indifferent.

[2017-08-25 18:58] GNSPS commented on #2824
Looking at the tests for this I tried:

`pop(staticcall(g, a, in, insize, out, outsize))`

and it did work.

[2017-08-25 19:02] GNSPS commented on #2824
Wooops. Just realized my own stupidity!

Closing now. 😂

[2017-08-25 19:03] #2824 closed, assigned to nobody

[2017-08-27 16:18] varadarajana opened #2827 "loading solc compiler from Nodejs throws error"
I am loading solc from NodeJS. This solc was seperately built from source. Here is the error i get

/path/to/solc:1
(function (exports, require, module, __filename, __dirname) { ELF
                                                              ^

SyntaxError: Invalid or unexpected token

Why am i getting this? I was able to use solc along with geth.

[2017-08-27 18:37] axic commented on #2827
Apparently you are trying to load a Linux binary in Node.js. That will not work. I suggest to checkout https://github.com/ethereum/solc-js.

[2017-08-27 18:37] #2827 closed, assigned to nobody

[2017-08-28 09:33] pash7ka commented on #718
There has to be some way to dissable this warnings. Overwise we have issues like this: https://github.com/OpenZeppelin/zeppelin-solidity/issues/367
Also Ethereum Wallet 0.9.0 does not compile contracts with warnings.

[2017-08-28 09:35] axic commented on #718
@pash7ka that has ben raised on Mist ("Ethereum Wallet") already: https://github.com/ethereum/mist/issues/2797

[2017-08-28 09:47] pash7ka commented on #718
@axic That issue in Mist is about handling warnings. But there are usecases where having unused variables in a function declaration is not a bug, but a part of contract's public API.
There has to be some way to declare it to compiler so that no warning is raised.

[2017-08-28 09:49] axic commented on #718
One can always use `uint256 /*value*/` if it needs to be stated.

I think also we should lift the unused variable requirement for interfaces:
[code]

[2017-08-28 09:51] chriseth commented on #718
@axic yes, unused variables should not be warned about if the function does not have an implementation (also outside of interfaces).

[2017-08-28 09:52] pash7ka commented on #718
@axic Thank you, `uint256 /*value*/` is fine!

[2017-08-28 09:58] axic opened #2828 "Do not warn for unused variable in parameters if a function has no implementation"
Or at least for `interface` contracts.

[2017-08-28 10:04] axic commented on #2822
One caveat: there must be a flag to disable the "using a pre-release" version warning added in `analyze()`.

[2017-08-28 10:08] axic opened #2829 "Upgrade to jsoncpp 1.8.2"
The changes since 1.7.7:
- Require cmake>=3.1
- Minor bug fixes and optimizations
- Some C++ "move" operators.
- Fix uninitialized value detected by valgrind.
- Other minor improvements.

[2017-08-28 10:12] chriseth opened #2830 "Unused variable: recommend to comment out at least for parameters"
People that use functions which intentionally do not use a parameter have a hard time to find the correct way to silence the warning (the correct way is to either remove the parameter name or comment it out, and keep just the type of the parameter). We should explain how to do it in the warning text (perhaps only if the variable is a function parameter).

Now: "Warning: Unused variable"

Better: "

[2017-08-28 10:13] axic commented on #2829
The uninitialized is part of the parsing: https://github.com/open-source-parsers/jsoncpp/commit/90061941390595dbdb71f5f1eb9ccfcdb28d168d

Move: https://github.com/open-source-parsers/jsoncpp/commit/8996c377aad3a333a9bada1cfe7d5924e71a3269

[2017-08-28 10:44] chriseth commented on #2829
sounds good!

[2017-08-28 11:42] axic opened #2832 "Crash in LLL LIT"
[code]

[code]

[code]

[2017-08-28 12:40] tjayrush commented on #627
In C++, one can create a pure virtual interface that forces uses inheriting from a class to implement certain functions. Is there a similar idea in Solidity? If yes, this should be documented. If no, what happens to a smart contract that presents an interface in an abstract contract, but then does not implement that interface in the derived contract? This should be documented.

Also--I know it is

[2017-08-28 12:44] redsquirrel commented on #627
@tjayrush Solidity's interfaces are documented here: https://solidity.readthedocs.io/en/develop/contracts.html#interfaces

Solidity's inherited signature collision is documented here: https://solidity.readthedocs.io/en/develop/contracts.html#inheriting-different-kinds-of-members-of-the-same-name

[2017-08-28 12:49] o0ragman0o commented on #627
I'm unfortunately finding little efficiency with Interfaces.  Abstract getters aren't recognised as implemented by public state variables. So I end up just using the abstract contract model with public state declared there rather than using private state with explicit getters.

[2017-08-28 13:04] tjayrush commented on #627
@o0ragman0o In C++, you would have to implement a separate getter in the derived class, so that makes a bit of sense to me. I guess the point you're making is due to the automatic nature of setters/getters? It seems to me that, without the data in the abstract class, there wouldn't be an automatic generation of setters/getters. But in any case, to get back to the issue, this behaviour should be do

[2017-08-28 13:12] ssuman commented on #2830
I would like to work on this.

[2017-08-28 13:16] chriseth commented on #2830
@ssuman wonderful! The relevant line is in StaticAnalyzer.cpp line 72. I think the check for parameter or return parameter would be VariableDeclaration::isCallableParameter. If you have further questions, please ask in https://gitter.im/ethereum/solidity-dev

[2017-08-28 15:06] axic commented on #2741
Apparently we do not put any mark in the CBOR if it was compiled with a pre-release version. I think that should be done either by including the version with a pre-release tag or adding another bool for `prerelease` (similar to experimental).

[2017-08-28 15:43] axic opened #2839 "Same event declared as anonymous and non-anonymous"
This compiles without issues:
[code]

In the assembly it seems the declaration order decides which one is taken.

[2017-08-28 17:39] frangio commented on #1141
What's the status of this? There's an annoying problem with functions which have unused arguments because they're meant to be overriden: if you remove the argument name so as to silence the warning, it's impossible to add `@param` documentation for it.

[2017-08-28 19:43] #2804 closed, assigned to axic

[2017-08-28 22:42] casey commented on #2731
See https://reproducible-builds.org for why a fixed order should be implemented.

[2017-08-28 22:50] axic commented on #2731
@casey thanks, this is an important topic for Solidity! The order is deterministic in every version of Solidity. It may not be the same across Solidity versions, but a contract can only be verified by the same compiler anyway.

Please see the documentation about "reproducible builds: http://solidity.readthedocs.io/en/develop/miscellaneous.html#contract-metadata

[2017-08-28 22:54] axic commented on #2731
Also to clarify: the order in the resulting ABI JSON is determined by the order of elements in the AST.

[2017-08-29 10:17] iFA88 opened #2845 "Unknown solidity bug"
Greetings everyone, I have spend a day for _why my code is not working_ and finally have found the problem.

### My code:
[code]
### The issue:
On `provider.checkReward(1,1)` call I got the `calldata` as return back like:
[code]

### Solution
If I change the third line to:
[code]
Then works everything as excepted. Return:
[code]
### Environment
Latest Windows 10
Firefox 55.0.3 64bit
https://ethere

[2017-08-29 12:00] chriseth commented on #2845
For types that are smaller than 32 bytes (like address) you have to take both `_slot` and `_offset` into account: https://solidity.readthedocs.io/en/develop/miscellaneous.html#layout-of-state-variables-in-storage

You can avoid that by packing the address into a struct, which will cause the compiler to put it into a slot of its own.

[2017-08-29 12:17] iFA88 commented on #2845
Alright, how can I use both of them?
`rewardLibAddress_slot_offset` ?
Sadly this is not working. I can't find an any documentation how should be that use. ( https://solidity.readthedocs.io/en/develop/search.html?q=_offset&check_keywords=yes&area=default )

[2017-08-29 12:28] chriseth commented on #2845
Something like `div(sload(rewardLibAddress_slot), exp(2, rewardLibAddress_offset))` could work, but I would strongly advise against that.

[2017-08-29 12:28] chriseth commented on #2845
Oh and you should also perform a cleanup of the address in case there is something after it in the slot.

[2017-08-29 13:27] #2822 closed, assigned to nobody

[2017-08-29 20:07] axic commented on #2558
That is the assumption by many and was even suggested by old documentation.

[2017-08-30 01:13] casey commented on #2731
@axic Ah, sorry, I misunderstood the issue and thought that it might be different from run to run.

[2017-08-30 02:10] MidnightLightning commented on #2731
@axic

I don't think that's true; that's the whole issue I'm trying to make. In my example it clearly is _not_ sorted by the order of the elements in the contract source code.

[2017-08-30 02:28] casey commented on #2731
Actually, wanted to add an additional reason that you might want to have a defined sorting order (for example, alphabetically) that doesn't change between versions.

If a developer is working on a smart contract and wants to verify that the ABI doesn't change unexpectedly, they might commit the ABI to revision control, so that on changes they see differences in git diffs. If the order of elements

[2017-08-30 14:33] axic commented on #2731
@MidnightLightning to clarify most of them are *sorted* by a C++ `map`.

[2017-08-30 14:43] axic commented on #2731
There are two options: a) sort by AST order or b) sort lexicographically. Only b) properly satisifes @casey's scenario.

Though not fully convinced the ABI should be checked by diff and not using an actual comparison tool (i.e. annotations in the ABI may change with versions without actually affecting the ABI), but I admit git doesn't make it easy.

[2017-08-30 20:11] axic opened #2855 "Document coding style of the compiler (C++)"

[2017-08-30 20:12] axic opened #2856 "Enforce coding style via clang-format"

[2017-08-31 09:09] chriseth commented on #2855
Partially already there: https://github.com/ethereum/solidity/blob/2b505e7a6fb2f2a36582f2eed1e75bc20039175c/docs/contributing.rst#workflow-for-pull-requests

[2017-08-31 09:10] chriseth commented on #2856
We tried that two years ago, but clang-format did not support
[code]
back then.

[2017-08-31 09:53] ValeryDubrava opened #2859 "Compilation error"
Version: d7661dd commit (tag v0.4.16)
OS: Centos 7
CMake: 3.9

I've faced with compilation error:

In file included from /home/valery/solidity/libsolidity/formal/SMTChecker.h:21:0,
                 from /home/valery/solidity/libsolidity/formal/SMTChecker.cpp:18:
/home/valery/solidity/libsolidity/formal/SolverInterface.h:60:2: error: unused parameter '_other' [-Werror=unused-parameter]
  Expression

[2017-08-31 09:55] chriseth commented on #2859
Thanks for reporting! Which compiler version are you using?

[2017-08-31 10:00] ValeryDubrava commented on #2859
➜  build git:(d7661dd) make -v
GNU Make 3.82

gcc version 4.8.5 20150623 (Red Hat 4.8.5-11) (GCC)

[2017-08-31 10:07] chriseth commented on #2859
This seems to be a quite old compiler, but I will still create a fix for this warning.

[2017-08-31 10:15] ValeryDubrava commented on #2859
Great, thanks. I'm realy need to build it under centos. In any case I will try to update compiler, but I think it is not easy task for centos. Could you suggest me which version of the compile is better to use?

[2017-08-31 10:15] chriseth commented on #2859
I'm using 6.3.0. You might also want to try clang instead of gcc.

[2017-08-31 10:23] chriseth opened #2861 "Reduce the number of AST visits"
We should reduce the number of AST visits by creating a generic visitor where specialized visitors can register and be called on certain nodes. This might even make use of templates so that visitors can specify which node types they want to be called for.

[2017-08-31 10:30] ValeryDubrava commented on #2859
Wow, thanks, your commit have solved this issue for me!

[2017-08-31 11:38] #2859 closed, assigned to chriseth

[2017-08-31 18:08] chriseth commented on #2861
This might not be too easy, because some components, for example the view/pure checker, require a certain visiting order.

[2017-09-01 16:59] MicahZoltu opened #2862 "Don't fully compiler/check imports."
At the moment, it _appears_ that Solidity is doing a full check/compile of imported contracts.  However, it could save notable time by instead just parsing enough to get the contracts and function signatures which is all that is needed by the importer.

Compilation time on some of my contracts is up to minutes because the import hierarchy is large.  I would really like to get this number down, and

[2017-09-01 17:49] chriseth commented on #2862
The main reason for this is that there is not yet a way to specify which contract you actually want to have compiled (there is an open issue about that and I think @axic started an implementation). For the normal commandline solc, we could compile just the contracts in the first source file specified, but that won't work for all versions.

What you could do is use interfaces, basically the same wo

[2017-09-01 18:00] MicahZoltu commented on #2862
That is our current planned workaround, but as anyone who has worked with C knows its quite the PITA to maintain duplicates of every file.

[2017-09-01 18:01] axic commented on #2862
I don think headers are duplicates, they have a different purpose. Similarly, `interface`s have their own distinct purpose. Though I must admit that I do not know your situation and the codebase you are working on.

[2017-09-01 18:06] chriseth commented on #2862
I also think this should be solved in collaboration with the package managers - for example truffle seems to call the compiler once for each source file, while a single call for everything should be enough.

@axic perhaps we could implement the output selection to a point where you specify a single file and just want everything from there, since this seems to be the feature required by truffle. Mo

[2017-09-01 18:36] axic opened #2864 "libsolc and public API"
I think with the JSON I/O specification we could consider our interface quite stable and could consider making it public (it is already public as an emscripten binary) in terms of a statically linked shared library on Linux similarly to the static build based on Alpine.

For that I'd propose to:
- rename `soljson` / `jsonCompiler` to `libsolc`
- create three public methods: `solcLicense`, `solcVer

[2017-09-01 18:37] axic commented on #2255
Depends on #2864.

[2017-09-01 19:14] MicahZoltu commented on #2862
Our (Augur's) build/test pipeline is pretty naive right now.  At the moment it compiles each file separately, rather than compiling the whole project.  This could be improved such that we compile the entire project in one call to solc rather than compiling each independently.  Right now I'm going through the codebase and making everything have a separate Interface file and the compilation times ar

[2017-09-01 19:24] chfast commented on #2864
Doable. The only toolchain specific part is exporting symbols from a DLL. But I have it done for evmjit.so, not so big deal.

But why libsolc is needed?
And what is relation between solc and libsolc?

[2017-09-01 19:48] axic commented on #2864
There is no relation between `jsonCompiler` and `solc`, though I think `libsolc` is the most fitting name (even if we don't decide on making official releases of those binaries), because is it is a "**sol**idity **c**ompiler" library.

It would be useful for binding to currently less supported platforms, such as Python, Java and even a much faster node.js integration (though one can argue a webass

[2017-09-01 22:49] jamesray1 opened #2865 "lllc documentation"
It would be good to enter [all the disparate info about LLL](https://gist.github.com/Souptacular/fd197b1fac7c6d2660b0bef27a33ed40#lll-and-evm-stack-resources) into one lll.readthedocs.io website which can be edited on GIthub by the community after going through the normal processing. I think it's better to have it on a separate website to https://solidity.readthedocs.io because I think it would ge

[2017-09-02 00:07] MicahZoltu opened #2866 "Add support for interfaces inheriting from other interfaces."
[code]

The above, of course, doesn't actually work because the Fruit interface is invalid (it derives from two other interfaces).  One can make the `Fruit` interface a contract and this will work, but in an application of significant size/abstraction this quickly turns into interfaces being useless as almost everything ends up needing to be a contract except some _very_ low level primitives (like

[2017-09-02 05:31] jamesray1 opened #2867 "docs: deploying your first contract, instructions for remix seem out-of-date"
I have an issue following the instructions for remix for deploying your first contract. https://medium.com/@jamesray_56543/unfortunately-i-dont-see-any-of-this-d87ca724a22a.
However, I fixed it as detailed in the post. I used the wrong code block.

[2017-09-02 05:33] jamesray1 commented on #2867
I'll tag people who've committed to lllc: @chfast, @axic , @bobsummerwill, @cjgdev, @chriseth, @rainbreak, @winsvega and @Dimitry.

[2017-09-02 05:33] jamesray1 commented on #2867
Also @cdetrio

[2017-09-02 05:38] #2867 closed, assigned to nobody

[2017-09-02 14:43] nosferatu500 opened #2868 "Incorrect msg.sender"
Hello, I got a problem.
When I use this:

[code]

I got a **false**. Why?

PS: version 0.4.15
PPS: sorry for bad english, I'm not native speaker

[2017-09-02 15:23] axic commented on #2868
Can you post a more complete code please?

Are you by any chance seeing this on a `constant` function or when doing an `eth_call` over RPC?

[2017-09-02 15:48] nosferatu500 commented on #2868
It is not `constant` function.

Look, it very simple function.

[code]

And I get `revert()`

But, if I use function instead of modifier, like this:
[code]
It is work correct. I get `1234`

I thought that, `msg.sender` can not be used in modifiers, but it's probably strange.

[2017-09-02 15:54] nosferatu500 commented on #2868
I use `truffle compile` and `truffle migrate` to deploy to `testrpc`. There maybe an error in the `truffle`? Incorrect parse and compile maybe? I don't know. why I got it. :)

[2017-09-02 19:51] MicahZoltu commented on #2630
What is the problem with @pirapira's suggestion? If the caller is attempting to call a function that doesn't exist I think this **SHOULD** be an error/exception.  The contract should not receive the function and _instead_ execute unintended code and then return garbage as that is an incredibly unsafe default.

Even after Metropolis, I do not think that calling a non-existent function should ever d

[2017-09-03 09:35] aaroncolaco opened #2869 "Calling contract should have ether to call payable function"
When trying the example [here](http://solidity.readthedocs.io/en/latest/control-structures.html#creating-contracts-via-new):
[code]

The contract `C` creates a new instance of the contract `D` via 2 different functions:
- createD(uint arg)
- createAndEndowD(uint arg, uint amount)

In the latter, it uses `.value(amount)` to send Ether to the payable constructor of `D`, but `C` was created without a

[2017-09-04 10:27] axic commented on #2511
@chriseth I think we agreed to merge and enable some of these changes with `pragma experimental v0.5.0;`

[2017-09-04 10:54] axic commented on #2829
`StyledWriter` and `FastWriter` are deprecated and there's a new `StreamWriterBuilder` class to be used instead.

Likewise, `Reader` is deprecated and `CharReader` is supplied (which has quite a different API).

[2017-09-04 16:45] chriseth commented on #2630
@MicahZoltu the called contract can detect whether the called function exists or not (at least unless there is a function selector collision), but earlier comments were about the caller detecting it. The latter is impossible because the EVM does not even have the concept of functions.

I support reverting if the function signature was not found, and only execute the fallback function in case of em

[2017-09-04 21:19] axic commented on #2630
Since this can only be handled properly from the callee's side it only makes it to work in a non-malicious scenario. In those scenarios also using interface introspection is a possible way.

---

I think there are actually three kinds of fallback functions:
a) those which expect data (i.e. they are a proxy or use a non-ABI encoded input)
b) those which expect no data
c) those which expect that no

[2017-09-04 21:59] MicahZoltu commented on #2630
Hmm, good point about the existing use cases people have come up with for fallback functions.  Delegation is an example one that is becoming pretty common in the ecosystem where the default function looks at the data and uses it even though there are no methods that match the called signature.

My concern is that I'm unconvinced these features are worth the risks they introduce.  It is really unex

[2017-09-06 15:33] roadriverrail commented on #1760
I'll step up for this to now be an error as I wrote the deprecation warning.

[2017-09-06 15:39] roadriverrail commented on #1793
This looks simple enough for me to knock out quickly.

[2017-09-06 21:44] yaronvel opened #2874 "Swarm hash in the middle of the bytecode prevents verification with etherscan"
I compiled a file that imports several files (including one library).
Looking at the bytecode I see to occurrences of `bzzr0`. One roughly in the middle of the code, and one in the end of the bytecode.

I am guessing the first `bzzr0` might be the result of contacting a bytecode of some imported file, but I am not sure.

The relevant solidity code can be found [here](https://github.com/KyberNetwor

[2017-09-07 14:26] frangio commented on #2563
@axic @chriseth Leaving discussion of `override` aside, do we agree that shadowing of inherited state variables should *at least* produce a warning?

[2017-09-07 14:54] chriseth commented on #2563
Yes, I agree, and we should probably apply the same logic to functions unless they have an `override` modifier.

[2017-09-07 15:06] axic commented on #2563
For state variables currently we do not produce any warning even if the types differ during shadowing. I'd suggest that unless it is marked `private` in the parent:
- a) show a warning if it has the same type, unless the `override` keyword is present
- b) throw an error if the types differ

For b) we can only introduce a warning now, but should turn into an error in 0.5.0.

[2017-09-08 16:52] maurelian commented on #1686
Should this issue be renamed to `Support reason string in require()`?

[2017-09-08 17:36] axic commented on #1686
Yes, this refers to `require` and not `assert`. This issue was created before we settled on the `require` name, sorry for this confusion.

[2017-09-08 17:42] maurelian commented on #1686
Thought that was why, I just wanted to clarify. Will there be any limitations on the `data` which can be given to `revert(data)` and `require(bool, data)`?

[2017-09-08 18:07] MicahZoltu opened #2876 "Limit number of errors reported to something smallish (100)."
Sometimes a small typo results in pages and pages of errors in Solidity compiler output.  The compiler should limit the number of errors shown to a smallish number (maybe 100), as additional errors after that are not useful and end up blowing stderr scroll buffer making it so relevant information may no longer be available.

[2017-09-08 18:11] axic commented on #2876
Do you have an example please?

[2017-09-08 18:12] MicahZoltu commented on #2876
Next time it happens I'll make a note of what triggered it and update this issue (I don't have a repro case handy, just happens once every couple days as normal course of operation).

[2017-09-08 18:34] axic commented on #1686
This is yet to be decided. I think `revert` might have a few overloaded versions, but the native one is `revert(bytes)` as that is how the opcode is implemented.

I hope there will be a way to either agree on an encoding scheme for error codes + messages or to include such a scheme in the ABI or Natspec. If this happens, it could have an error code and optional message.

[2017-09-08 20:21] veox opened #2877 "Proposal: add `emit` keyword; make it the only way to emit events"
EDIT: Initially proposed `log`; changed later to `emit`.

See issue #3252 for another related change.

-----

### The issue

The ERC20 token standard describes [a `Transfer` event](https://github.com/ethereum/EIPs/blob/cea1db05a3444870132ec3cb7dd78a244cba1805/EIPS/eip-20.md#transfer-1), as well as [a `transfer()` method](https://github.com/ethereum/EIPs/blob/cea1db05a3444870132ec3cb7dd78a244cba180

[2017-09-08 21:12] axic commented on #2877
I might be misunderstanding this, but events are marked `event` while functions as `function` in Solidity, so your example becomes:
[code]

[2017-09-08 21:14] axic commented on #2877
Oh you mean to have a `log` keyword when emitting an event instead of having it look like as a regular function call?

[2017-09-09 14:45] cristicmf commented on #166
Type inaccessible dynamic type is not implicitly convertible to expected type int256[] storage pointer. @nmushegian ，Do you have any ideas about it?

[2017-09-09 21:48] born2net commented on #2391
same here... can't get Solidity installed on RedHat :(

[2017-09-10 00:13] born2net opened #2878 "Boost not found trying to install in RedHat"
Hi

I am trying to install Solidity in RedHat, getting Z3 SMT solver NOT found.

errors:

[code]

regards

Sean

[2017-09-10 16:37] veox commented on #2877
Yes. :) Should have said "emit events" instead of "raise events".

EDIT: Perhaps `emit` would even work better.

[2017-09-10 16:45] veox commented on #2874
Are you sure this is due to the swarm hash, and not mismatch of compiler version, or other issue on etherscan's side?

Is this on main-net, or one of the testnets?

Could you link the deployed contract?

[2017-09-10 16:46] veox commented on #2874
Oh, and which Solidity version? EDIT: I mean the actual compiler binary. OS info could also come useful.

[2017-09-11 10:22] chriseth commented on #2876
What is the downside of using `solc | head` or `solc | less`? Especially when considering an integrated compiler, it is not always clear which error messages are fine to remove. Think of an IDE showing errors in source files and you are mainly interested in errors in the current source file, but due to some reason, there are tons of errors in other source files and the errors in the current file a

[2017-09-11 10:26] chriseth commented on #1686
Perhaps we should just do a quick and easy version now:

Error return data is either empty or is an ABI-encoding with the signature `(uint,uint,string)` where the first argument is always `1`, the second argument can be used for an error code and the third argument for a reason string.

Future versions of this specification have to increment the version number.

This also forces the first 31 bytes

[2017-09-11 10:29] chriseth commented on #2878
The actual error is that libboost-dev is not found. Could you try installing it? I fear that redhat does not provide a recent enough version of boost, though.

[2017-09-11 10:33] chriseth commented on #2877
This sounds like a good proposal! I'm fine with either `log` or `emit`. Syntactically, this is similar to `new C(...)`, so nothing alien to the language.

[2017-09-11 16:27] MicahZoltu commented on #2876
Every IDE I know of also limits the number of errors.  When errors are limited, the first errors are retained as they are more likely to be the problematic ones.  The problem with `solc | less` is actually the exact thing you described, I am using `solc` by way of `py-solc` at the moment, and when running my tests each test ends up with a _ton_ of error spam.  If I did `pytest | less` I would miss

[2017-09-11 17:37] axic commented on #2876
I'd still be eager to see an actual example as it feels unlikely that 1000 errors would be shown during regular usage, perhaps there is a bug somewhere.

[2017-09-11 18:32] MicahZoltu commented on #2876
Will do once it happens again.  :)

[2017-09-11 19:48] axic commented on #2878
@chriseth we'd consider changing that informational message to be less frightening and/or more informational :)

[2017-09-12 00:52] lastperson opened #2884 "address.call(bytesVar) results in corrupted data in the call"
If the `bytesVar` is a `bytes` param from a function call, then passing it to `address.call` will result in the input being zero padded to 32*n bytes.

Which version of Solidity you are using: 0.4.16 (reproducible on 0.3.5 too)
What was the source code (if applicable):
[code]
Which platform are you running on: Remix IDE
How to reproduce the issue(abstract code):
[code]
What was the result of the i

[2017-09-12 02:57] lastperson commented on #2884
Examining the documentation on ABI encoding, I see that this is by design. The question then (I fail to find answer in the documentation) is why it is by design? I see the point for fixed size types, but if in order to find the end of a dynamic type we need to examine it's length anyway, then why do the right padding to a multiple of 32?

[2017-09-12 09:19] chriseth commented on #2876
I'll try to see if we can limit the number of errors per file.

[2017-09-12 09:23] chriseth commented on #2876
Hm, this could actually be quite easy to implement inside the ErrorReporter class, which could check that the number of errors per file (including the "non-file") is at most 100, treating warnings and errors differently, so that it cannot happen that there is an error, but the compiler only reports warnings.

[2017-09-12 09:31] chriseth commented on #2884
I'm sorry, but I still do not understand everything. The fact that `a.call(x)` pads to multiples of 32 bytes indeed sounds like a bug.

Your statement "in order to find the end of a dynamic type we need to examine it's length" should not be correct, the ABI is designed to ignore the length of the input - that's also why it is not checked by solidity functions.

Could you please describe the observ

[2017-09-12 09:32] #2869 closed, assigned to nobody

[2017-09-12 09:36] chriseth commented on #2876
@axic noted that the problem is not about the number of errors but mostly about the source snippets for extremely long lines. That's perhaps where we should start.

[2017-09-12 09:40] chriseth opened #2885 "Limit number of columns of source snippets in error messages"
For very long lines, source snippets in error messages are not useful anymore, since the place where the `^` pointer points is not visible anymore if e.g. a terminal breaks the line.

In such a case (e.g. if the line is longer than 150 characters), only a certain context around the error location should be shown. Also, if the error location itself is longer than 150 characters, it should not be sh

[2017-09-12 09:51] axic opened #2886 "Overload conflict warnings should use secondary location properly"
The secondary location is a vector and could store each conflicting declaration. Currently a separate  error is raised for each conflict, which could be presented more intelligently with reduced footprint.

Related #2876.

[2017-09-12 10:20] axic opened #2889 "Overload conflict warnings should not be excessive"
The problem is in https://github.com/ethereum/solidity/blob/develop/libsolidity/analysis/TypeChecker.cpp#L176-L177.

Errors are reported for each conflicting item, notwithstanding it was already used as a secondary location.

e.g. the source
[code]

will generate 4 warnings, each of those referring to each secondary location. Before #2886 is fixed, the number of warnings is exponential.

Part of #

[2017-09-12 10:21] axic opened #2890 "Overload conflict warnings (constructors and functions) should limit the number of secondary declarations"
If the conflicting number of declarations is over a certain threshold (lets say 32), truncate the list and include a new error explaining the list is truncated, because there more than 32 conflicts and also display the actual number of conflicts (since it is available).

Part of #2876.

[2017-09-12 13:23] ramvi opened #2894 "Setting val to enum element 1 is the same as not being set"
The first value of an enum is a 0, as expected.
All values on the blockchain are 0, if they're not set, as expected.
But with these two together create unexpected results. `validate` is only supposed to make changes to existing PartnerObj. This is checked by seeing if the status has been set to New. But as you know New = 0, and that means that non existing and New objects all go for the same. In o

[2017-09-12 13:57] #2886 closed, assigned to axic

[2017-09-12 14:19] chriseth commented on #2894
Objects in storage are not boxed, they are no objects with pointers to them, they are the actual objects. All values in a mapping exist at the point of creation of the contract. Objects in storage are not allocated.

In your case, the three possible values for the enum are `New`, `Validated` and `Deleted`. Which value would you expect `partnerRegistry[0]` to have at construction time? Note that th

[2017-09-12 15:37] #2889 closed, assigned to axic

[2017-09-12 15:57] #2830 closed, assigned to nobody

[2017-09-12 18:42] yaronvel commented on #2874
@veox as I said, it is not a bug, and I think I understand why it happens.
Eventually I was able to verify it on etherscan with some help I got and some unofficial script that concat files in the exact order the compiler does.

The code can be found here
https://etherscan.io/address/0xd6cd31f283d24cfb442cba1bcf42290c07c15792#code

If you look at its binary you will see that bzzr appears twice. Mea

[2017-09-12 19:17] axic commented on #2874
Why does it make it hard to verify on etherscan?

Every contract has its own metadata and metadata hash, that includes contracts created by other contracts.

[2017-09-12 19:21] yaronvel commented on #2874
@axic afaik if there is only one contract, then etherscan just ignores last 32 bytes (swarm hash).
Otherwise, extra whitespaces in the code could fail the verification.
However, this approach fails if there is a metadata hash also in the middle of the code (because contract A deploys contract B).

I am not saying it is a bug. Just that it makes life harder.

[2017-09-12 19:27] axic commented on #2874
I don't think Etherscan should ignore the metadata hash. Why is it hard to keep the same source code (without whitespace changes) which was used for compilation?

[2017-09-12 19:30] yaronvel commented on #2874
@axic I also think ignoring metadata hash other than in the end of the code could be risky.
It is hard as simple user have no idea on the order of the files during compilation.
And if it is not arranged in the exact order, verification will fail.

[2017-09-12 19:35] axic commented on #2874
Can you please elaborate how the order matters?

I'd imagine Etherscan should support uploading a zip file with the directory structure and use Solidity to resolve the imports.

[2017-09-12 19:41] yaronvel commented on #2874
oh, not at all. etherscan supports only a single file.
So I have to concat everything manually.
However, as swarm hash is embedded, different order of concatenation results in different hash, which results in different bytecode.

[2017-09-12 19:43] axic commented on #2874
I mean Etherscan *should* support uploading a zip file, that is the real solution. Have you tried raising a feature request with them?

[2017-09-12 19:48] yaronvel commented on #2874
I agree that the problem is not in solc. But in the past solc made efforts/changes to assist etherscan verify code.
Supporting multiple files in a known and notorious problem in etherscan.

Solc could help by adding a `--output_concat_src` flag for example.
The current situation, where user have to use some unofficial script to do it is a bit awkward.
Again, I am only raising here because such iss

[2017-09-12 19:57] axic commented on #2874
It is always useful raising it here so we can get a better understanding of the problem. In this particular instance I think Etherscan should improve their verification tool to support packages. @mtbitcoin, would that be possible?

[2017-09-12 20:16] mtbitcoin commented on #2874
We need to be able to compile not only with the latest version of solc but with all other version previous versions of solc. And we need to be able to do that programmatically server side, if someone can suggest and advice on how we can do that while also supporting multiple source files and producing a deterministic result that will generate the same code regardless of the naming/path/location of

[2017-09-12 20:41] yaronvel commented on #2874
assuming solc works in a deterministic way, I would imaging it can just glue it for you, and it might also match the order of old solc versions. But even if it doesn't it would be great if it would work in future versions.

[2017-09-12 20:48] axic commented on #2874
@mtbitcoin there a couple of different things here:
- I propose that Etherscan should support accepting a `zip` or a `tar` file with all the sources and a field to define the main contract name. Unfortunately `solc-js` doesn't yet support imports, but the regular `solc` does.
- The best solution on top of this would be to use the [standard JSON interface](https://solidity.readthedocs.io/en/develop

[2017-09-12 20:50] veox commented on #2894
Wouldn't that make it counter-intuitive?..

If you think of the 0th value of an `enum` as its default ("not set") value, then, from the example given, `PartnerStatus.New` matches the default value.

Saying that the default value is "unused"... Well, I find that statement questionable. In a sense, the default value _is_ the most used one. :)

[2017-09-12 20:55] veox commented on #2874
For ref, I'd guess the tool mentioned by @yaronvel is [BlockCatIO/solidity-flattener](https://github.com/BlockCatIO/solidity-flattener).

[2017-09-12 21:01] yaronvel commented on #2874
@veox yes, thank you.

[2017-09-12 23:44] lastperson commented on #2884
Yep, I also thing that `a.call(x)` padding thing is a bug. As per encoding, here is what I think is reasonable, tough probably hardly implementable to maintain backwards compatibility:

Assuming you have a function `function encoding(bytes _a, bytes _b)`, calling it like `encoding('0x11111111', '0x222222222222')` will result in the following input:
[code]
While I see no reason(probably I just didn

[2017-09-13 07:24] Anubioz commented on #2878
I've got Gentoo with every possible library from boost 1.65.0, all with headers, source code and other things like Z3 meth solver. But I'm still getting not found boost_regex (it's everywhere in `/usr/include/boost/regex/(regex.hpp|regex_fwd.hpp|regex.h)`, boost_filesystem /usr/include/boost/filesystem* and that `Z3 SMT solver`, which is unsurprisingly in `/usr/include/z3/`

[2017-09-13 10:55] #2890 closed, assigned to axic

[2017-09-13 13:28] chriseth commented on #2884
You mentioned the ABI :-)

`a.call(x)` does not do any ABI encoding.

[2017-09-13 13:33] chriseth commented on #2884
Ok, I had a look at the code again and we actually need padding for `a.call()`, otherwise `a.call(1,2,3)` would not work as expected.

The thing is: `a.call()` is an ancient beast that should not be used. I would recommend using inline assembly for such tasks, since it provides the same security guarantees but does not do any invisible magic.

[2017-09-13 16:34] axic opened #2897 "Support output selection in standard json"

[2017-09-13 16:35] axic commented on #2897
This will speed up Truffle (and all the projects using it) significantly once this is implemented: https://github.com/trufflesuite/truffle-compile/issues/23

[2017-09-13 16:35] #1435 closed, assigned to axic

[2017-09-13 17:42] axic opened #2899 "Introduce type annotations in the ABI"
Currently the `type` in the ABI refers purely to the *encoding type* (which is specific and defined in the ABI).

It could be useful to show a higher level type how the data can be interpreted. For example `structs` and `tuples` can both be encoded as `tuples` (and they do not need a different low level encoding), but their high level interpretation might differ (for one, `structs` will have named

[2017-09-14 03:38] lastperson commented on #2884
Example with `function encoding()` is about ABI encoding, how it is working right now, and how it might work. Not related to `a.call(x)`.

Can't there be an exception to the case when a single bytes type parameter passed in? Why it works differently when we pass `msg.data` there?

[code]

[2017-09-14 09:16] chriseth commented on #2884
Ah, that's interesting! You might want to try changing `forward` to be `external`. But in general: `call` has many weird quirks and I would much rather just remove it from the language than fix all these quirks.

[2017-09-14 14:47] axic opened #2903 "Support assignment of function types from more restrictive to less restrictive state mutability"
This should work:

[code]

From here https://github.com/ethereum/solidity/pull/2900#discussion_r138696871.

[2017-09-14 14:51] axic commented on #2435
This is also a question when passing variables of differing location as function arguments (as this came up on yesterday's weekly call).

Instead of considering C++'s `*_cast` methods I propose to use `copy`:
[code]

[2017-09-14 16:39] elenadimitrova commented on #2877
The (token) `transfer` method is additionally confusing itself with the ether `transfer` method in Solidity.

[2017-09-14 16:41] axic commented on #2877
@elenadimitrova that is solved with #2683.

[2017-09-14 16:45] axic commented on #2877
I'd go with `emit` instead of `log` if we keep this syntax.

[2017-09-14 17:00] axic commented on #2234
@federicobond @walter-weinmann was this solved or is this still an outstanding quesiton?

[2017-09-14 18:57] ys27 commented on #2828
+1

[2017-09-15 00:58] iam-peekay opened #2906 "Documentation: Add docs on decimals for ERC20 tokens"
There's a lot of confusion among smart contract developers on what exactly the `decimals` means with the ERC20 token standard. It's a foreign concept that is poorly named. We need to add documentation explaining that "decimals" is related to the divisibility of the token, and the number is how divisible the token is.

See relevant discussions on decimals here:
https://github.com/ethereum/EIPs/issu

[2017-09-15 12:11] axic opened #2907 "Enforce address literals to be 20 bytes long in every case"
Address literals have to have a valid checksum and should be exactly 20 bytes long. Anything else is an error.

[2017-09-15 13:32] ngotchac opened #2908 "Multiple `SSTORE` calls for the same storage location"
## Solidity version
I tested a couple of version from `0.4.0` onwards.

## Source code

[code]

## Steps to reproduce

Just deploy the contract, call `store` method with non-0 values, and look at the executed OPCODES

## Result

It executed two `SSTORE` OPCODES

## Expected Behaviour

As the Struct is composed of 2 `uint128`, it fits in one 32-bytes area. However, when calling `store`, it executes

[2017-09-15 15:43] axic commented on #2296
New proposal is to use `new shared C(arg1, .. argN)` from the BLWS'17.

[2017-09-15 16:02] axic commented on #2563
From BLWS'17:

- Raise a warning now (an error in the breaking release) for shadowing storage variables
- Require qualification in terms of conflicting variable names from two parent contracts (e.g. refer to them as `Parent1.variable` and `Parent2.variable`)
- Require the `override` keyword for functions

[2017-09-15 18:09] federicobond commented on #2234
I never understood what @walter-weinmann was referring to.

[2017-09-16 08:40] #2234 closed, assigned to nobody

[2017-09-16 18:19] axic commented on #1793
We have a warning already, so this issue now is about removing support for `throw` in two ways:
- a) in the parser and the AST. It should still remain as a keyword in `Token.h`, or
- b) turn the warning in the error.

Option a) makes sense if we don't want to use `throw` any time soon.

[2017-09-16 19:29] axic commented on #2828
This seems to be the case already, because incidentally the checker is only on for implemented functions. Ensure to add test cases for it.

[2017-09-16 23:01] axic opened #2911 "Constructor parameters are not enforced by child"
These compile without issues:
[code]

[code]

The generated ABI of both cases for Derived have no constructor and they become abstract.

[code]

The child of Derived cannot be compiled as the constructor is missing.

[2017-09-16 23:03] axic opened #2912 "Crash with conflicting constructors during inheritance"
[code]

crashes with

[code]

[2017-09-16 23:10] axic opened #2913 "Crash with unused large value in tuple assignment"
[code]

crashes with

[code]

[2017-09-16 23:41] axic commented on #2913
Actually this is bug in tuple expressions where not each literal is evaluated:

[code]

will result in

[code]

but if there are multiple values this is not caught.

[2017-09-16 23:44] LefterisJP opened #2914 "Constant byte array of arbitrary length no longer compiles"
In older solidity versions I could store an arbitrary length byte array as a constant in a contract in the following way:

[code]
I tried to do it again with the latest stable solidity version (0.4.16) and got the following error:
`Constants of non-value type not yet implemented.`

If my byte array is 32 bytes in length, I can then used `bytes32`. If it's not I will always get the above error.

Is

[2017-09-17 00:13] garrett92895 commented on #2681
Are there any reasons why both `.sol` and `.solidity` can't be accepted? People could choose the `.solidity` extension moving forward if they want the benefits of automatic github syntax highlighting _and_ completely unambiguous file extensions, and anyone else could just create a `.gitattribute` file (if they even want syntax highlighting) without the need to refactor their codebase.

[2017-09-17 09:06] axic opened #2915 "Crash with too large arrays"
[code]

[code]

results in

[code]

[2017-09-17 10:50] ritave opened #2916 "Undescriptive exception is thrown when stack underflows during --assemble"
I was writting standalone assembly and had a bug in my code, with a minimal reproduction being:
[code]
which should be
[code]
instead.
Solc then threw out an error without any explanation:
[code]

Assembly.cpp calculates the stack depth constantly, and on underflow throws an undescriptive exception   in [Assembly.cpp:323](https://github.com/ethereum/solidity/blob/develop/libevmasm/Assembly.cpp#L32

[2017-09-17 11:30] aupiff opened #2917 "Style Guide Docs -- Mappings section"
What was intended for the mappings section of the style guide? It's a TODO currently. If somebody could point me to a few good `mapping` usage examples I'd happily complete this section of `style-guide.rst`.

[2017-09-17 11:59] axic commented on #2917
You could have a look at the rest of documentation where it is using `mapping`, e.g.

`mapping (uint => uint) map;`
`mapping (uint => mapping(bool => Data[])) public data;`

I think that's as far as it goes.

Just create a pull request, list the good examples and some bad examples (wrong indentation, etc.) and we can debate it on the pull request.

[2017-09-18 09:34] chriseth opened #2918 "Generic value range types"
Support generic types of the form

    number<low..high[,precision]>

such that arithmetic operators on these types just naturally extend the ranges.

Example:

[code]

The type of the expression `a + b` is `number<0..4000>`. Similarly, the type of `a * b` would be `number<0..4000000>`.

The `precision` parameter represents the number of (decimal) digits after the radix point and we have the natur

[2017-09-18 09:42] axic commented on #2918
I took the following notation:
- `number{N}` where N represent the number of decimal digits. If `N` is 0, it must be omitted, e.g. `number` represents integers
- `number<A,B,C>` to represent exact values
- `number<[A..B]>` to represent ranges
- `number<A,B,[C..D],[E..F]>`

A complex example: `number{4}<1,2,3,[42..84],[196..256]>`, though this makes sense to be typedef'd.

[2017-09-18 10:28] chriseth commented on #2911
I think the idea behind this was that further derived classes may specify the constructor arguments of the very base class. so you could have

[code]

[2017-09-18 10:29] chriseth commented on #2911
To expand on the previous comment: The use-case for this is that some contract wants to inherit functionality from a base contract but leaves it to the further derived class to actually specify concrete parameters.

[2017-09-18 10:31] chriseth commented on #2914
It seems we only allow strings there, which does not make a lot of sense.

[2017-09-18 10:35] axic commented on #2911
I think that idea is covered in #2912 and currently crashes the compiler.

[2017-09-18 10:37] chriseth commented on #2918
It seems like `[` and `]` can be omitted.
Hm, I must admit that `{N}` looks a little weird. Also, why is it not part of `<` ... `>`?

What about:

`number<6..7,8,9|3>`?

Also, what does it exactly mean?

[2017-09-18 11:11] axic commented on #2123
Fixed by #2895.

[2017-09-18 11:11] #2123 closed, assigned to nobody

[2017-09-18 11:14] axic commented on #2116
As agreed in #2563 we should require qualified names when referring to such "conflicting" functions.

[2017-09-18 11:14] axic commented on #2563
Also cover #2116.

[2017-09-18 13:07] chriseth opened #2923 "multiple assignment for IULIA"

[2017-09-18 13:14] axic commented on #2923
I've started doing this a while ago. Uploaded the branch `inlineasm-assign-multi`.

[2017-09-18 13:17] chriseth commented on #2923
Ah nice! I just realized I need this feature for the ABI decoder :)

[2017-09-18 13:17] axic commented on #2923
You were against it at the time :)

[2017-09-18 13:36] chriseth commented on #2923
Hm, must have been connected with some weird desugaring requirements...

[2017-09-18 14:38] #1048 closed, assigned to axic

[2017-09-19 06:42] #2914 closed, assigned to chriseth

[2017-09-19 07:05] axic commented on #2916
@ritave thanks for reporting this. As a quick aid added the proper message to the assertion.

[2017-09-19 07:38] #1601 closed, assigned to nobody

[2017-09-19 09:41] conor10 opened #2928 "Add support to --allow-paths for relative paths"
The ```--allow-paths``` command line option for *solc* only works with absolute paths. It would be useful if it could be used with relative paths such as ```../``` and the current working directory(```.```).

[2017-09-19 19:01] mrsmkl opened #2931 "Unclear error message when keccak256 has too many arguments"
Here I call `keccak256` with too many arguments:
[code]
Unlike other cases when stack is too deep, it will not report the line number etc. Just
[code]

[2017-09-19 20:36] chfast opened #2932 "Memory leak in LLL parser"
I extracted the test causing it: `[[0x0]]` https://github.com/ethereum/solidity/commit/29b3aa4696294d31fb607d068e8661b933ed8a35.
But I have no idea how to attack this problem. The boost spirit is so undebuggable.

[2017-09-20 08:34] axic commented on #2931
Unfortunately a few instances are caught at locations which don't have a source location and as such cannot report it.

[2017-09-20 09:06] axic commented on #2479
Add support for running CI with gcc > 7.0 and remove the flag from Cmake.

@chfast is it possible to use gcc 7.0?

[2017-09-20 12:33] axic commented on #2683
It seems we will lose one feature: warning if the destination contract has a non-payable fallback function.

[2017-09-20 12:45] #2923 closed, assigned to chriseth

[2017-09-20 15:17] roadriverrail commented on #1476
If we're just issuing deprecation warnings for calling these functions, put it on my queue.

[2017-09-20 16:00] #1476 closed, assigned to axic

[2017-09-20 16:37] roadriverrail commented on #1760
PR for this as experimental feature: #2939
We should probably continue to leave this open until we fully strip the operator from the parser.

[2017-09-20 19:45] magonicolas commented on #2436
Has this been solved? Im having the same issue.

[2017-09-20 19:57] Tectract commented on #2436
I ended up just making my compile tool display but ignore warnings. There was a big long thread about this, lol. I think this specific erroneous error / warning was fixed, but the real problem is that errors can be kicked back as "warnings" and there's no way to differentiate the two, and sometimes they accept PRs which may kick up erroneous error / warning messages, and that's just a reality of p

[2017-09-20 19:59] magonicolas commented on #2436
@Tectract and how did you ignore the warnings? are you using Mist or Ethereum Wallet?

[2017-09-20 20:01] Tectract commented on #2436
I wrote my own in-browser compile and deploy tool, lol. See the "secret crazy bonus section" at the end of my article, here:

https://blockgeeks.com/guides/how-to-learn-solidity/

[2017-09-20 21:02] axic commented on #2436
@magonicolas there is a perfectly fine way to receive a detailed list of errors/warnings with a `severity` flag (set to either `error` or `warning`). See https://solidity.readthedocs.io/en/develop/using-the-compiler.html#compiler-input-and-output-json-description

Also please discuss this on a relevant issue, since this one has a different purpose.

[2017-09-21 08:46] chriseth commented on #2237
No, it is still happening.

[2017-09-21 10:44] chfast commented on #2479
Fixed in #2946.

[2017-09-21 10:45] chfast commented on #2479
Both GCC7 and clang5 warn about missing `[[fallthrough]]`.

[2017-09-21 13:39] EasonWang01 opened #2948 "Return array of structs now support?"
Is it support now for solidity?

[code]

Thanks for reply.

[2017-09-21 14:55] chriseth commented on #2948
Try `pragma experimental ABIDecoderV2;` on a 0.4.17 compiler.

[2017-09-21 16:08] chriseth commented on #2237
The fix did not help, travis still says "branch is not allowed"

[2017-09-22 00:00] MicahZoltu opened #2951 "Add compiler option for warn on implicit return statement."
[code]
This function does not result in an error or warning because an implicit return statement is added to the end of the function that returns whatever is in the `fruitName` local variable.  In a large codebase this can lead to subtle bugs due to the implicit nature of the return statement.  I would like the ability to set a compiler flag that allows me to make this a warning.  Alternatively, m

[2017-09-22 00:01] MicahZoltu commented on #2951
Note: I want to use the named return values because they get included in the ABI that the compiler generates which makes interacting with the contracts from external sources notably easier in some cases and it provides a certain amount of self-documentation.

[2017-09-22 03:58] EasonWang01 commented on #2948
The remix IDE says below:
[code]

[code]

Version:
[code]

[2017-09-22 10:36] chriseth commented on #2948
oh I'm sorry - it's `ABIEncoderV2`.

[2017-09-22 10:54] chriseth commented on #2951
Do I understand you correctly that this is about a warning if there is a code path that reaches the end of a function (which returns something) without an explicit return statement?

[2017-09-22 10:55] chriseth commented on #2951
Perhaps we could have something like
[code]

[2017-09-22 11:06] chriseth opened #2953 "SMT solver should check assignments to length"
It should not be possible to resize dynamic arrays in a way so that they overlap with high probability.

Assignments of the form `x.length = a`, `x.length += a` and `x.length -= a` should always require a "small" value a.

[2017-09-22 12:15] redsquirrel commented on #2951
Instead of adding `implicitly` to the language, why not deprecate implicit returns?

[2017-09-22 12:54] chriseth commented on #2951
@redsquirrel hm, perhaps I'm the only one who really likes them?

[2017-09-22 13:57] Catspro commented on #1793
just simply use revert() or any of the shown error and replace the throw()...Trust me this works

[2017-09-22 14:09] roadriverrail commented on #2951
@chriseth I can't say I'm a fan of implicit returns, especially where
readability and security matter.  That said, I think it's quite possible to
offer this as a pragma and not super hard to write.  I seem to remember
playing around with the "unnamed return variable" when I was doing unused
variable warnings.

On Fri, Sep 22, 2017 at 8:54 AM chriseth <notifications@github.com> wrote:

[2017-09-22 14:19] redsquirrel commented on #2951
See also: smart contracts 😉

[2017-09-22 15:47] DIDHAV commented on #2877
I would very much prefer 'log'. This will be more intuitive to client/web3 developers and is more clear that there is some data coming from the blockchain to be read ok the client.

[2017-09-22 19:21] aupiff commented on #2917
In the docs file miscellaneous.rst, line 56 does not follow the same conventions as your examples from contracts.rst.

[code]

The examples you provide imply that there should be a space between the leftmost `mapping` and the open parenthesis, but much of the solidity code uses the convention of line 56 above. Here's an example of the a file that uses both styles:

[code]

I'd suggest adding the f

[2017-09-22 20:29] #2777 closed, assigned to nobody

[2017-09-23 01:36] EasonWang01 commented on #2948
When execute the return array function it says below
[code]

function
[code]

[2017-09-23 12:41] avatar-lavventura opened #2956 "error: 'StyledWriter' is deprecated: && error: 'FastWriter' is deprecated:"
I have  `jsoncpp 1.8.3`. I am building from the source I am facing with following error:

[code]

How could I fix this?

[2017-09-24 13:48] pdaian commented on #2116
I've uploaded my thoughts on this issue [as a blog post](https://pdaian.com/blog/solidity-anti-patterns-fun-with-inheritance-dag-abuse/).  Specifically, I definitely support either the addition of warnings for multiple overrides at the same level of the developer specified inheritance graph.  Requiring unambiguous references to each potentially ambiguous method/field is also not a bad step, but it

[2017-09-25 01:46] MicahZoltu commented on #2951
I'm okay with `returns implicitly` or a pragma.  In a perfect world, explicit would be the default and pragma/compiler options/keyword would be available if you wanted your compiler to be more lenient.  In general my philosophy is that compilers should be ultra strict by default with options to be less strict rather than the other way around.

However, I will take anything I can get, and if that m

[2017-09-25 09:30] axic commented on #2956
@chfast we are always supposed to use the builtin jsoncpp. Do you know what could have happened to cmake?

[2017-09-25 09:32] axic commented on #2948
@EasonWang01 this seems to be a limitation in the decoding library you are using (possibly web3.js).

[2017-09-25 09:42] EasonWang01 commented on #2948
Was using Remix IDE,is it possible to decode it?

[2017-09-25 09:48] axic commented on #2948
Not in Remix currently.

[2017-09-25 09:52] chriseth commented on #2951
@MicahZoltu oh of course explicit returns would be the default, otherwise the keyword would be `returns explicitly`.

[2017-09-25 10:08] EasonWang01 commented on #2948
Do you know how to decode it if not using Remix?
Thanks

[2017-09-25 10:15] chfast commented on #2956
Yes, system headers are included _before_ our jsoncpp headers. We had similar issue with cryptopp in cpp-ethereum.

Quick fix is to remove `libjsoncpp-dev` package (the name of the package may be different). I can see similar issue with Boost headers (see the beginning of the log).

I will fix it during this week.

[2017-09-25 12:21] ghost opened #2958 "Add variable type and build-in function: ECDSA_signature, ECDSA_verify"
**Suggestion:**

1. A new 72-byte **ecdsa_signature** type and

2. a built-in function **ecdsa_verify(address pubkey, bytes32 data, ecdsa_signature sig) pure returns (bool)**

**Rationale:** many contracts in Solidity need to verify signatures on data. The current **ecrecover()** returns an address given a Keccak256 hash and a (uint8 v, bytes32 r, bytes32 s) triplet. The proposed type and built-in

[2017-09-25 12:34] axic commented on #2958
I think this is something really fit for a library. I'd be against adding more builtin types to the compiler if it can be avoided.

[2017-09-25 14:02] ghost commented on #2958
Given standard library maturity, it seems like I good idea to keep this out of the compiler. However, in anticipation of this, I would argue that these changes strictly improve the experience of using the **ecrecover** built-in (and may even replace it to avoid increasing the number of built-ins).

[2017-09-25 14:36] #2579 closed, assigned to chfast

[2017-09-25 15:59] Format-X22 opened #2959 "New contract with 3 uint fields not worked"
Contract maker:

    contract X {
        address[1] public results;

        function t1() {
            results[0] = new T();
        }
    }

This code with 2 uint fields worked ok:

    contract T {

        address public sender;
        uint public a;
        uint public b;

        function T() {
            sender = msg.sender;
        }
    }

...but this code with 3 uint fields not worke

[2017-09-25 16:00] axic commented on #2959
What do you mean by worked? What client are you using and what symptoms do you see in each case?

[2017-09-25 16:03] Format-X22 commented on #2959
Steps:
1 - Deploy contract X.
2 - Call method t1.

In first case with 2 uint address write to results array, in case with 3 uint - address not write in results array.

Use Ethereum Wallet with "pragma solidity ^0.4.11;"

[2017-09-25 16:28] Format-X22 opened #2960 "Modifier can't read correct data from contract fields in some case"
Code:

    pragma solidity ^0.4.11;

    contract A {
        address public owner;

        modifier onlyOwner() {
            require(msg.sender == owner);
            _;
        }
    }

    contract B is A {
        address public owner;
        bool public ok;

        function B() {
            owner = msg.sender;
        }

        function callMe() onlyOwner {
            ok = true;

[2017-09-25 16:55] avatar-lavventura commented on #2956
Thank you sir. Sorry for giving you trouble. @chfast

[2017-09-25 20:50] NathanZook commented on #2894
BTW, if you don't want the first element of your enum to be 0, just create an value that you never use: `
enum Boolean {FileNotFound, False, True}`

[2017-09-25 21:41] chfast commented on #2956
No problem. The issue is still on our side.

[2017-09-26 03:14] changwu-tw commented on #2829
Would be great to upgrade to newer version of jsoncpp, or the error occurs when installing via homebrew. https://github.com/ethereum/homebrew-ethereum/issues/128

[2017-09-26 10:34] chriseth opened #2963 "Docker image to wrap z3 behind http"
For remix, it would be helpful to have a docker image that exposes z3 / smtlib via HTTP so that it can be used from within the browser.

The idea would be to run the image either locally or on a server and connect remix to it via ajax requests.

The image should have an open port with an http server behind it, which forwards the request payload to the standard input of a z3 instance run using some

[2017-09-26 11:30] axic opened #2964 "Public library function returning bytes cannot be compiled"
[code]

fails with

[code]

[2017-09-26 11:33] axic commented on #2963
For privacy reasons I think the function names should be hashed. This would be the first instance Remix sending contract data out as part of the compilation process.

[2017-09-26 11:35] axic commented on #2829
@changwu-tw the compilation issue is tracked in #2956. The problem is it should always use the built in version, but for some reason it uses the external one if present.

[2017-09-26 12:16] axic opened #2965 "Misleading error message with overload failure (member not available outside of storage)"
[code]

results in

[code]

[2017-09-26 12:58] chriseth commented on #2964
This is a known issue and will be fixed with the new encoder. We had to change the type system so that the new encoder can be activated. The downside of that change was that such things are only detected after type checking.

[2017-09-26 14:07] chriseth opened #2967 "Define testing language"
Unit-tests for code should be as close as possible to the code to be tested. Furthermore, it should not be required to repeat common patters.

It might make sense to define a DSL or just a template for defining unit tests for Solidity contracts in the same source file, which are then compiled to javascript which uses testrpc or truffle as backend.

[2017-09-26 14:37] chriseth commented on #2960
Yes, this behaviour is due to the shadowing of state variables. We have a fix in the pipeline: https://github.com/ethereum/solidity/issues/2563

[2017-09-26 14:37] #2960 closed, assigned to nobody

[2017-09-26 17:00] axic opened #2969 "Hashing function type is not caught in type checker"
[code]

fails with

[code]

[2017-09-26 17:02] axic commented on #2969
Another case:
[code]

[code]

This is the failure when marking it `external` or not marking it, while marking it `internal` works. I though external was the default?

[2017-09-26 17:04] axic commented on #2969
Also seemingly all the other magic types fail:
[code]

[code]

[code]

[code]

[2017-09-26 17:07] axic commented on #2969
Encoding storage structs
[code]

[code]

All the above fails with the `ABIEncoderV2` pragma too.

[2017-09-26 17:09] chriseth commented on #2969
Note that ABIEncoderV2 only implements padded store, i.e. it is not used for `keccak256()`

[2017-09-26 17:10] chriseth commented on #2969
`keccak256()` uses something that is not ABI encoding, and it is largely unspecified.

[2017-09-26 20:34] axic opened #2970 "Move blockhash from block.blockhash to global level"
`block` is a global referring to the current block and its properties (`coinbase`, `timestamp`, `difficulty`, `number`, `gaslimit`).

`blockhash` doesn't fit in, unless it would be a `bytes32` referring to the hash of that given block (which is not possible).

I think it makes more sense promoting it to be a global method just as the other native features (log, ecrecover, etc) are.

[2017-09-26 20:39] axic opened #2971 "Move msg.gas to global level as gasleft()"
Similarly to #2970 I think `msg.gas` is very misleading as it seems to suggest the gaslimit for that given message, which is immutable, but rather it is a mutable gas left property.

I'd argue it makes more sense making it a global function named `gasleft()` (alternatively `gasleft` as a property similar to `<address>.balance`).

[2017-09-27 00:20] axic commented on #2969
I'd suggest just restricting it to basic value types (since it seems its original goal was to hash basic data).

[2017-09-27 09:14] axic opened #2977 "Unknown magic member assertion"
[code]

[code]

[2017-09-27 10:24] #2956 closed, assigned to chfast

[2017-09-27 14:49] yann300 opened #2984 "Wrong source location"
with https://gist.github.com/anonymous/3f1e4df430706c5f10ba5ebfabcb4fec

MPIntLib.sol line 22
uint64[] memory temp_mp_d;
is => "VariableDeclarationStatement" at "807:8:1"
but this node has a child "VariableDeclaration" at "807:25:1" sourcelocation is not contained in the parent node.

[2017-09-27 17:29] chriseth opened #2987 "Add source location tests"
Add a test that walks the ast and checks that source locations of child nodes are always included in the source location of the parent node.

Related: https://github.com/ethereum/solidity/issues/2984

[2017-09-27 21:18] axic opened #2988 "Vararg methods (keccak256, sha256, ...) accept 0 arguments"
[code]

[2017-09-27 21:35] axic commented on #2988
Well at least `keccak256` works properly, it returns the hash of null.

[2017-09-27 21:35] #2988 closed, assigned to nobody

[2017-09-28 03:04] tymat commented on #1141
Would also like to know the status of this particularly:
- documentation for internal and private functions
- multiple return values

[2017-09-28 06:42] ryankc33 commented on #2691
+1. The compiler warnings break backwards compatibility with many external libraries. This will be a great feature to have.

[2017-09-28 07:45] chriseth commented on #2094
This is just about modifying the error message string to include the link.

[2017-09-28 12:50] #2984 closed, assigned to nobody

[2017-09-28 14:24] vdimic commented on #2885
Can I work on this?

[2017-09-28 14:25] chriseth commented on #2885
Sure! If you need any help, please either ask here or on https://gitter.im/ethereum/solidity

[2017-09-28 19:50] chejazi commented on #2839
Additionally, it seems odd that the following compiles without any warning.
[code]

[2017-09-29 03:52] ethernomad opened #2991 "Re-enable trailing commas in function parameters, arrays, etc."
I don't know why this functionality was removed. Diffs are much cleaner if trailing comma are allowed.

EMCA supports trailing commas: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Trailing_commas

[2017-09-29 06:20] kasjan-s commented on #2780
Hey, is this still up-for-grabs (you've assigned yourself, so I'm not sure) ? If so, then I could take care of it.

[2017-09-29 08:06] chriseth commented on #2182
`unchecked`, so that we can disable the SMT checker for certain parts of the code, especially hand-crafted assembly (rust and c# have a similar feature).

[2017-09-29 08:23] #2655 closed, assigned to axic

[2017-09-29 09:07] chriseth commented on #2780
@kasjan-s I'm sorry, yes this is still up for grabs! Please don't hesitate to ask any questions, either here or in https://gitter.im/ethereum/solidity-dev

[2017-09-29 12:00] androlo opened #2992 "Add experimental tag to natspec"
This is only playing with an idea - a way to leverage natspec and the experimental pragma system to signal to users that a contract/library should be considered experimental (i.e. not ready for live deployment).

Experimental pragma supports "libraries", or something similar:

`pragma experimental "libraries";`

Natspec has a tag for contract docs `@experimental`

[code]

Compiler will report an e

[2017-09-29 12:06] androlo commented on #2992
This (or anything similar to it) would of course not prevent experimental code from being used, since the developer can chose not to flag their code, but it would be a great way for serious developers to show that it should not be used (like for example when it comes to standard library code).

There is so much code out there where the writers point out in the repo docs that the code is experiment

[2017-09-29 16:01] kasjan-s commented on #2780
Very well, I'll do it! I'll be sure to ask any questions I come up with on gitter.

But for starters just two quick questions:
1. I assume the idea is to have pop() return the new length of the array, just like push()?
2. Part of the task is to update the documentation as well, right?

[2017-09-29 16:13] #2915 closed, assigned to axic

[2017-09-29 16:18] axic commented on #2991
Can you please expand where do you miss trailing commas?

[2017-09-29 16:23] axic commented on #2502
Please see https://solidity.readthedocs.io/en/develop/miscellaneous.html#modifiers for explanation.

[2017-09-29 16:24] chriseth commented on #2780
For now, I would not make pop return anything. There are some candidates but they all have their drawbacks.

[2017-09-29 16:35] axic commented on #2428
Hm, maybe it does make sense allowing named arguments (but not return parameters):
[code]

Though for some reason it doesn't work. It works properly with functions:
[code]

[2017-09-29 16:44] axic commented on #2839
The last one should work due to overloading, but the other two issues (duplicate and that `indexed` is not considering at overload resolution) is a bug.

[2017-09-29 17:20] #1760 closed, assigned to nobody

[2017-09-29 21:01] dr-orlovsky commented on #2467
Modifiers in libraries are really useful thing. I was working on the state machine library, and function modifiers are good companions to it allowing aspect-oriented applications.

[code]

This useful solution is not working for now since there is no way to import modifiers from a library.

[2017-09-29 21:08] wadeAlexC commented on #1259
I'm working on this issue, and am a bit stuck. Looking for a push in the right direction. Here's the function where the error message is being called:
https://github.com/ethereum/solidity/blob/010189d58eca560dd319aab07daa43bda0911a40/libsolidity/analysis/ReferencesResolver.cpp#L142

My initial thought was to move "if(!lengthType)" to a separate section, but that won't catch array size declarations

[2017-09-29 21:46] axic opened #2996 "block.blockhash cannot be assigned to a function type variable"
[code]

[2017-09-29 21:50] axic commented on #2996
The reason is that `FunctionType::toString` is used, which doesn't list all the function kinds. In the above case it is `internal` while `block.blockhash` is of kind `blockhash`.

At least `var blockhash = block.blockhash; blockhash(5);` should work, but that fails with:
[code]

[2017-09-30 20:47] gary0318 commented on #2242
Hey. This line is giving me the Unused local variable message inside of mist, and I can't figure out how to get around it:--->

  var _ = admin.call.gas(GAS_LIMIT).value(this.balance)();

How would I do it?

[2017-09-30 20:59] gary0318 opened #2998 "Unused local variable..."
I have this line in a contract, trying to compile from within mist.

         var _ = admin.call.gas(GAS_LIMIT).value(this.balance)();

Not sure what to do to correct this. Here is the whole function.

    function finalizeLottery(uint _steps)
             afterInitialization {
        require(needsFinalization());

        if (lotteries[id].nearestKnownBlock != lotteries[id].decidingBlock) {

[2017-09-30 23:02] lorenzb opened #2999 "failed calls due to address.call() gas computation"
#### Solidity version

Observed on `4.17+commit.bdeb9e52.Emscripten.clang`. The current nightly build (`0.4.18-nightly.2017.9.29+commit.b9218468.Emscripten.clang`) is also affected.

#### Issue description

We came up with a minimal example demonstrating the issue and deployed it on the mainnet. The example consists of two contracts:

- *Callee* at address [0x2130FdA6b4d6d2d549E54241AdA5E2c903b0EF

[2017-10-01 18:25] axic commented on #2999
Thanks for the detailed investigation!

That particular piece of code originates way before the Tangerine Whistle hardfork which introduced the new rules for gas calculation in messages. Before, one had to make sure that enough gas is left to cover the possible account creation and value transfer fees, after subtracting the message gas. After the fork, due to truncation rules, this is not needed a

[2017-10-01 18:45] axic commented on #2998
Not sure if that is entire source code, but `_` is assigned to and never used and as such is an unused local variable.

[2017-10-02 00:06] joeykrug opened #3001 "SMT Checker Error"
I tried adding `pragma experimental SMTChecker;` to the top of this file:
https://github.com/AugurProject/augur-core/blob/develop/source/contracts/Controlled.sol

However, it errors with the error below when I try to compile it.

[code]

Removing the SMTChecker line it compiles fine, seems to be an issue with the SMTChecker.

[2017-10-02 03:57] vbuterin commented on #2999
Reducing the code path to `GAS` is exactly what Viper does; I'm definitely in favor of Solidity doing the same.

[2017-10-02 09:03] axic opened #3003 "Remove suicide/sha3 aliases from inline assembly"

[2017-10-02 10:22] axic commented on #2832
This is due that the error is raised via `error<InvalidLiteral>();`, i.e. no text reason included. There are 9 other instances of such errors, all of them will crash.

The actual is crash is due to `what()` returning `nullptr` in https://github.com/ethereum/solidity/blob/develop/libdevcore/Exceptions.cpp#L25-L31, however according to boost that should be valid: http://www.boost.org/doc/libs/1_63_0

[2017-10-02 10:31] axic commented on #2832
Before #2567 this used `std::exception::what()` as a fallback:
https://github.com/ethereum/solidity/commit/09e821619e20943af7bbd61ad10fb5ae40d2558c#diff-3142d546f3e8846b9670f0bba513fc82L42

[2017-10-02 10:32] chfast commented on #2832
Let's follow the C++ standard on this: http://en.cppreference.com/w/cpp/error/exception/what
It requires the pointer to be valid.

I would call `std::exception::what()` as the fallback.

[2017-10-02 19:21] #2839 closed, assigned to nobody

[2017-10-02 19:52] androlo commented on #2908
User @adamskrodzki raised this issue on gitter as well, with an even more complex struct. It does 8 writes (1 full price + 7 discounted) for this:

[code]

No issues with packing though, they all end up in the same storage slot.

This i can confirm on latest stable (`0.4.17+commit.bdeb9e52.Emscripten.clang`) + nightly (`0.4.18-nightly.2017.10.2+commit.c6161030.Emscripten.clang`) of the emscripten

[2017-10-03 05:34] aseemydv commented on #476
I too faced that issue , according to the new implementation of Python's MRO, preference to a class while inheriting in a Diamond problem is given in the sequence they are written.
But I found this not working in case of Solidity, based on the fact that it is supposed to follow the same ideology. So,

contract K2 is O, A {}               <--- This works
contract K2 is A, B {}               <--- Th

[2017-10-03 06:59] ethernomad commented on #2991
The problem with not allowing trailing commas is you get ugly diffs like this:
[code]

[2017-10-03 09:19] axic commented on #2991
I understand, but can you please show an example in which Solidity statement you are missing it?

[2017-10-03 09:20] #2832 closed, assigned to nobody

[2017-10-03 11:49] axic commented on #2182
`reference` for variable references

[2017-10-03 14:39] axic commented on #2998
Please reopen if more clarification is needed.

[2017-10-03 14:39] #2998 closed, assigned to nobody

[2017-10-03 16:58] #1776 closed, assigned to nobody

[2017-10-03 17:18] axic commented on #2330
Question is, should we force the `external` keyword be present or force that no keyword is present?

[2017-10-03 20:01] wrisx opened #3018 "Crowdsale not compiling: problem with GoalReached"
System information

Geth version: geth version 1.7.0
OS & Version: Windows 10

Expected behaviour

Deploy the crowdsale contract in the Ethereum wallet. The code from: https://www.ethereum.org/crowdsale. The code is pragma solidity ^0.4.16.

Actual behaviour

It won't. It says: Could not compile source code. And then the error stated below this text. Does anybody know how to still deploy a crowdsa

[2017-10-03 20:17] androlo commented on #2917
The extra space doesn't really seem like it makes it clearer or better in any way. Functions and arrays (brackets) doesn't encourage the use of an extra space, for example. Also, making the rule context sensitive seems to add complexity where it isn't really needed.

Maybe I don't get it - what makes this standard objectively better then the alternative of having no space after `mapping`?

[2017-10-03 20:25] axic commented on #3018
Unfortunately this is a bug in Mist (Ethereum wallet). This is a warning and not an error. It has been raised at Mist before: https://github.com/ethereum/mist/issues/2797

You can compile the contract with Remix (https://remix.ethereum.org) or try renaming `GoalReached` to not conflict with another declaration.

[2017-10-03 20:25] #3018 closed, assigned to nobody

[2017-10-03 20:26] axic commented on #2610
Tracked in https://github.com/ethereum/mist/issues/2797

[2017-10-03 20:32] axic opened #3019 "Variable names in event declarations should not be considered as shadowing"
It has been raised in #3018 that the crowdsale example on ethereum.org "doesnt work".

 A shorter example is:
[code]

Since there is no way to access both variables in "events", it should be safe not raising the warning.

[2017-10-04 12:00] axic opened #3021 "SMT checker with division"
The code from #238 will have a lot of overflow warnings given division is not supported by SMT:

[code]

Could we implement support for integer division via floating point division and rounding?

[2017-10-04 15:26] chriseth commented on #2996
I'm fine with completely disallowing the assignment.

[2017-10-04 15:43] chriseth commented on #2999
I agree, we can assume tangerine whistle, the semantics are much more friendly at least. Also note that there might be some built-in lll functions that have the same behaviour. Finally, we might completely remove `.call` in 0.5.0.

[2017-10-04 21:37] federicobond commented on #1352
There is a `typeof` reserved keyword which could eventually be applied to these kinds of expressions. It could also prove useful when implementing pattern matching.

[2017-10-05 00:50] rajcspsg opened #3026 "Solidity is compiling and executing the contract which doesn't conform with actual return type."
1. Which version of Solidity you are using -
          soljson-v0.4.8+commit.60cc1668.js

    2. What was the source code (if applicable) -

[code]

[2017-10-05 08:42] axic commented on #3026
Return values just like local variables are initialised to the "default empty value", in case of `bool` that's false. There's no requirement for explicit returns at the moment.

@soad003 @yann300 this would be a good feature for the static analyzer: raise a warning if no return statement is present and none of the return parameters are named.

[2017-10-05 08:45] #3019 closed, assigned to nobody

[2017-10-05 08:49] leonardoalt opened #3027 "Why do enum checks use invalid instead of revert?"
I've noticed that by looking at the asm generated for a sample code using enum, and got curious about the reason.

[2017-10-05 09:19] chriseth commented on #3027
It depends on the context. Decoding enums uses `revert` and encoding enums uses `invalid`. The idea is that if you use an invalid enum value internally, it is probably a programming error, but if it is an input, it is a "user error".

[2017-10-05 09:34] chriseth opened #3028 "Shall block.blockhash throw if the argument is invalid?"

[2017-10-05 10:00] axic commented on #3028
Invalid as in out of range?

[2017-10-05 10:07] chriseth commented on #3028
Yes

[2017-10-05 10:07] chriseth commented on #3028
We could also just throw if it returns zero, in anticipation for potential changes in the EVM.

[2017-10-05 10:34] #2999 closed, assigned to nobody

[2017-10-05 10:52] axic commented on #3028
The opcode is defined as returning 0 in case of out of range. The new blockhash will have weird rules to see if the hash is present or not - how will the user be able to check if it is in range without throwing?

[2017-10-05 12:05] soad003 commented on #3026
@axic yeah sounds good, should be straight forward to implement. I can do that if i find time ...

[2017-10-05 12:09] dryruner commented on #2147
I'm observing different things:

$ solc --overwrite --bin -o out_dir github.com/ethereum/dapp-bin/library/=/tmp/test_contract --allow-paths /tmp/test_contract/ temp.sol
temp.sol:3:1: Error: Source "/tmp/test_contract/linkedList.sol" not found: File outside of allowed directories.
import "github.com/ethereum/dapp-bin/library/linkedList.sol" as linked_list;
^-----------------------------------------

[2017-10-05 12:21] axic commented on #2147
@jonnyhsy I think it is the same problem. The problem is that allow-paths doesn't work with a trailing slash.

[2017-10-05 13:04] #3001 closed, assigned to nobody

[2017-10-05 13:28] leonardoalt commented on #3027
I see, thanks.
Just to clarify a bit more, I have the following example:
[code]
The way I understood, this case should use `revert`, but when I look at the asm it uses `invalid`:
[code]

[2017-10-05 13:49] axic commented on #2099
@pureland please reopen and expand if the answer isn't satisfactory

[2017-10-05 13:49] #2099 closed, assigned to nobody

[2017-10-05 13:49] axic commented on #2391
@born2net did you manage to solve it?

[2017-10-05 13:50] axic commented on #1739
This should not be an issue given our homebrew package doesn't require sphinx.

[2017-10-05 13:50] #1739 closed, assigned to pirapira

[2017-10-05 14:12] #2683 closed, assigned to nobody

[2017-10-05 16:46] born2net commented on #2391
actually moved to diff project

[2017-10-05 18:05] axic commented on #2094
It should actually link to https://github.com/ethereum/EIPs/blob/master/EIPS/eip-55.md or perhaps a section in the Solidity documentation.

[2017-10-05 18:15] axic commented on #1793
@roadriverrail will you have time for this soon-ish?

[2017-10-05 18:29] #2436 closed, assigned to chriseth

[2017-10-05 18:48] joeykrug opened #3034 "SMT Solver Additions"
It’d be great if the SMT solver supported the following features from oyente

Money concurrency detection
Time dependency detection
Reentrancy bug detection

[2017-10-05 18:55] axic opened #3035 "Add tests for the solc CLI"
Currently none of the CLI features and/or commandline options are being tested.

[2017-10-05 19:24] federicobond opened #3037 "Error out instead of skipping non-existent source files"
I don't know if anyone is relying on this behavior, we could define a command-line option instead.
Suggested name: `--ignore-missing`, `--noignore-missing`

[2017-10-05 19:32] roadriverrail commented on #1793
@axic I don't think I am.  My commitments at my job have gone up
approximately 3x and it'll probably be a few more months until I come back
around.  I'll see you guys when things get calmer here.

On Thu, Oct 5, 2017 at 2:15 PM Alex Beregszaszi <notifications@github.com>
wrote:

[2017-10-05 19:35] axic commented on #1793
No worries, Rhett! I'll just remove your assignment so it is up for grabs.

[2017-10-05 22:50] dryruner commented on #2147
Hi @axic , I also tried $ solc --overwrite --bin -o out_dir github.com/ethereum/dapp-bin/library/=/tmp/test_contract/ --allow-paths /tmp/test_contract temp.sol;   (no trailing slash), it also failed with error

temp.sol:3:1: Error: Source "/tmp/test_contract/linkedList.sol" not found: File outside of allowed directories.
import "github.com/ethereum/dapp-bin/library/linkedList.sol" as linked_list;

[2017-10-06 07:38] chriseth commented on #2165
What about just including the hash of the source code into the AST?

[2017-10-06 07:42] chriseth commented on #3034
I think this is not the level the SMT solver is working at, although it can be used to detect problems arising from e.g. not thinking about reentrancy.

Could you give short example code containing such bugs? Then we could see which features we can add to the SMT solver exactly to find these bugs.

[2017-10-06 07:44] chriseth commented on #2483
Closing due to inactivity.

[2017-10-06 07:44] #2483 closed, assigned to nobody

[2017-10-06 07:49] chriseth commented on #2628
Related: https://github.com/ethereum/solidity/issues/1789

[2017-10-06 10:10] #2828 closed, assigned to axic

[2017-10-06 11:11] vindalho2 opened #3039 "Internal compiler error when compiling function attempting to return "var storage""
The following Internal compiler error is generated when compiling a function attempting to return "var storage":

[code]

The solc version:
[code]

The contract source code:
[code]

[2017-10-06 11:33] dwalintukan opened #3040 "Adding payable to constructor of contract causes deployment cost to skyrocket"
I think I've found a bug.

I have a working contract that deploys fine using Kovan testnet & Remix.
**Gas Deployment cost: 0.02820 ETH**
[code]

After adding the `payable` keyword to the constructor:
**gas deployment costs ~100 ETH**.

I've tested this with two different contracts. Why is this happening?

[2017-10-06 11:45] axic commented on #3039
`var` should be disabled in arguments/return parameters

[2017-10-06 11:46] axic commented on #3040
Can you please copy in your entire contract triggering this and all the version of the tools used (Solidity, Remix/Geth, etc.)?

[2017-10-06 11:52] chriseth commented on #3039
`options.allowVar` should be set to false but somehow is not. This might be a good first bug for someone.

[2017-10-06 12:03] axic commented on #909
Original one in Pivotaltracker: https://www.pivotaltracker.com/story/show/94901930

[2017-10-06 12:06] axic commented on #716
Originally tracked in Pivotaltracker: https://www.pivotaltracker.com/story/show/101777510

[2017-10-06 12:13] axic commented on #939
From Pivotaltracker:

[2017-10-06 12:14] axic opened #3041 "Support overloading for modifiers"
[code]

(From Pivotaltracker https://www.pivotaltracker.com/story/show/104324810.)

[2017-10-06 12:23] axic opened #3042 "Optimiser: simplification rule for rounding"
(From https://www.pivotaltracker.com/story/show/108204956)

[2017-10-06 12:27] axic opened #3043 "Recognise ICAP addresses as addresses (and validate checksum)"
(From https://www.pivotaltracker.com/story/show/113323623)

[2017-10-06 12:28] axic commented on #3043
I think this can be closed, since usage of ICAP addresses never took off and they are limited to ~252 bits IIRC (top nibble must be zero)

[2017-10-06 12:30] axic commented on #869
A larger example from https://www.pivotaltracker.com/story/show/89907258:

Type-templated contracts, libraries, structs and functions, where type names are given after struct name in [] and concrete types in the same way at the point of instantiation.
Example:
[code]

Implementation details: Obviously, we cannot do type checking on the template struct, but only at the point of instantiation. This

[2017-10-06 12:40] axic opened #3044 "address.code and address.codesize"
(From https://www.pivotaltracker.com/story/show/89623638)

[2017-10-06 12:43] axic opened #3045 "Rename address to account"
Deprecate the `address` type and replace it with the `account` type.

ABI signature must still use `address`.

(From https://www.pivotaltracker.com/story/show/98274220)

[2017-10-06 13:00] axic commented on #716
I think `libsolidity/analysis/ConstantEvaluator` should be extended to support `IntegerType`.

[2017-10-06 13:05] axic commented on #431
From Pivotaltracker:

[2017-10-06 13:11] axic commented on #3037
I'd lean towards erroring as perhaps that is the expected behaviour.

[2017-10-06 13:15] axic commented on #2928
@q3k is this something you are also looking into?

[2017-10-06 13:23] #2147 closed, assigned to nobody

[2017-10-06 13:31] axic commented on #2272
I think the tests should just skip the bytecode comparison in that case. it is still better to have compilation succeeding than ignoring the entire Windows platform for third party PRs.

[2017-10-06 14:12] lorien opened #3048 "Incorrect solc install documentation"
This document https://github.com/ethereum/solidity/blob/develop/docs/installing-solidity.rst says: clone repo, make directory "build" and run `cd build; cmake .. && make`
That does not work. When I run `cmake ..` inside build directory it creates files on top-level directory and the build directory remains empty. Then the `make` command does nothing.
Running './scripts/build.sh` fails same way.

D

[2017-10-06 14:45] chriseth opened #3049 "Reject overflow in ABI data pointers"
Adding the current location to the ABI data offset should not overflow / wrap.

[2017-10-06 15:19] chriseth commented on #869
@axic the implementation idea here was to use the `annotation()` function and provide as parameter to it the values for the template parameters. Whenever `annotation(x)` is not yet defined, run type checking over it again.

Having said that: I think the fastest way to achieve something like this outside the compiler is to use a simple preprocessor that only does string replacement, i.e. `Set<addre

[2017-10-06 17:39] chevdor opened #3050 "Formal Verif: Issue warning when struct are not passed conpletely"
I ran into an issue with this code:
[code]

As a result of this code, getEntry(bytes32) would always return 0x0 whereas `regMap(bytes32) `would return the correct value. There is probably an issue already at that level as I would think that the 2 calls should be equivalent.

The issue in my code is that I did not pass all the fields of the struct.
To fix my code, the solution is:
`regMap[_id] = Re

[2017-10-06 17:47] chriseth commented on #3050
Thanks for the issue, @chevdor !
I don't fully understand, is this related to the new SMT checker, or is it about (traditional) static analysis?
Also, I don't really see the issue here. Is `regMap[_id] = RegEntry(_addr);` not storing the struct properly? Since the `meta` member is a mapping, there is no way to supply it for a memory struct, i.e. you did actually supply all fields of the struct.

I

[2017-10-06 17:54] chevdor commented on #3050
I also *thought* my code would be ok but if you test it you will see that `getEntry()` does not work as expected and never returns an address whereas `regMap()` (=using directly the mapping) does.

Specifically setting the struct with {addr: ...} however seems to behave differently and the issue I described above does not show up.

I think there are 2 points here:
- first I think there is an issue

[2017-10-06 18:01] chriseth commented on #3050
Can you provide minimal example code (without `//...`) together with inputs and outputs that shows the issue?

[2017-10-06 18:05] chevdor commented on #3050
Yes, finishing something and I will provide a simple one as well as a deployed version. Give me a few minutes.

[2017-10-06 18:08] dwalintukan commented on #3040
**Solidity Version on Remix: 0.4.17+commit.bdeb9e52.Emscripten.clang**
**My Machine: 0.4.16+commit.d7661dd9.Emscripten.clang**
**TestRPC: 4.1.1**

**My exact steps to figuring this out:**

**Local Testing first**
On my local machine and using `TestRPC`, the following contract would compile, migrate, and pass all the tests. With the `payable` keyword, but without the `address _addressManager` param

[2017-10-06 18:26] chevdor commented on #3050
I need to let my node run on another network for a while so I could not deploy yet on Kovan or test but that should show the issue:
[code]

[2017-10-06 21:34] federicobond commented on #3028
Agree with @axic that it will be hard to check beforehand if the value is present. This could be partially solved with the planned try-catch construct, but even then you are not forced or even encouraged to handle the failure case in your code.

Another, more explicit alternative is returning a `(uint256 hash, bool exists)` tuple.

[2017-10-06 23:42] chriseth commented on #3050
Sorry, I don't see the behaviour you are seeing. I tried remix with `_id = 1` and `_addr = 2`. All combinations returned `2`.

[2017-10-06 23:44] chriseth commented on #3028
So a better option would be to have the SMT checker see if the argument is in range?

[2017-10-07 09:33] jklepatch commented on #3039
I would like to work on this, but I need some guidance.
Is this the right place to look?
https://github.com/ethereum/solidity/blob/010189d58eca560dd319aab07daa43bda0911a40/libsolidity/parsing/Parser.cpp

[2017-10-07 13:19] chevdor commented on #3050
I confirm, the sample I gave does NOT expose the issue...
I need to check with my original contract what can be on the way.

[2017-10-07 14:15] federicobond commented on #3039
Yes, that's the file. You might want to take a look at the code inside `parseFunctionHeader`.

[2017-10-07 21:04] magum commented on #1557
8 oct 17 truffle 4.0 beta - problem still actual (((

truffle(develop)> MetaCoin.deployed().then(ct => console.log(ct.creator.call()))
Promise { <pending> }
undefined
truffle(develop)> (node:16379) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 6): Error: Invalid number of arguments to Solidity function

undefined
truffle(develop)>

[2017-10-07 22:44] zchn opened #3051 "--combined-json ast prints incorrect AST for TupleExpression"
Hi,
It seems like "solc --combined-json ast" can not correctly produce an AST that preserves the original semantics, for example:
[code]
will generate the following snippet for the second assigment:
[code]

Is this a bug or WAI?
[tuple-min.ast.json.txt](https://github.com/ethereum/solidity/files/1366488/tuple-min.ast.json.txt)
[tuple-min.sol.txt](https://github.com/ethereum/solidity/files/1366489/

[2017-10-07 23:42] zchn commented on #3051
Looks like this is fixed in 0.4.17 (by including a type annotation):
{
                                                                "attributes": {
                                                                    "argumentTypes": null,
                                                                    "components": [
                                                                        nu

[2017-10-07 23:42] #3051 closed, assigned to nobody

[2017-10-08 00:04] axic commented on #1557
This looks like a problem in Truffle. Please report it to them.

[2017-10-08 16:49] JohnAllen opened #3052 "Should the compiler raise visibility warnings for constructor functions?"
I assume the visibility warnings are there to get developers thinking more about function visibilities to prevent future multi-sig-like hacks, etc.

Should there be one for constructor functions though?  I'm getting `No visibility specified` warnings in remix using `v0.4.17+commit.bdeb9e52.js` for all of my constructor functions.  I assume they can't be run more than once -- at deploy time and jus

[2017-10-08 18:58] MicahZoltu commented on #2877
I have never liked `Log`, since it really isn't logging IMO but rather event emission to external viewers.  Logging in something I would expect to show up in an and only file that can be turned off/tuned at runtime.

[2017-10-08 21:14] aayarushin commented on #40
@chriseth Is passing and returning struct in functions in production yet? You have mentioned this in 0.4.17 release notes, but it is not clear if support is only for _internal_ functions as the docs say or if this is also available between contracts and in _function types_? The doc: http://solidity.readthedocs.io/en/develop/frequently-asked-questions.html?highlight=struct%20function#can-a-contract

[2017-10-08 21:27] federicobond commented on #2877
I like this change, would also open the door to treating the event as a first-class object. i.e:
[code]

An alternative that does not involve adding a new keyword is:
[code]

[2017-10-08 23:09] limexp commented on #2467
I would like to work on this.

@axic @frangio

Let's take an overall look. From [documentation](http://solidity.readthedocs.io/en/latest/contracts.html#libraries):

There is no way to use modifiers from libraries directly because there is no such objects in EVM. Of course we can translate them to some kind of library functions and then emulate modifiers substitution, but this is not good as differ

[2017-10-09 00:52] limexp opened #3055 "Travis PR build failed due to MongoDB repo error"
3/5 Travis builds failed for PR #3054 for current develop branch https://travis-ci.org/ethereum/solidity/builds/285277486 where there were no changes that affect Travis.

The problem is with MongoDB repo:

	Err:22 http://repo.mongodb.org/apt/ubuntu trusty/mongodb-org/3.2/multiverse i386 Packages
	  Empty files can't be valid archives

	E: Failed to fetch store:/var/lib/apt/lists/partial/repo.mongo

[2017-10-09 06:29] limexp commented on #3055
Need to wait until similar error is fixed on travis https://github.com/travis-ci/travis-ci/issues/8554

[2017-10-09 09:03] chriseth commented on #40
@aayarushin no, not yet in production. It is fully implemented, but pending review: https://github.com/ethereum/solidity/pull/2863

The documentation has to be updated, yes.

[2017-10-09 09:05] #2272 closed, assigned to nobody

[2017-10-09 09:27] chriseth commented on #3027
This is due to the fact that the old ABI decoder does not perform verification of inputs. The `invalid` you are seeing is because it comes from `a == Test.A`, a point where internal checking is done again right before the equality comparison. This will be fixed soon.

[2017-10-09 10:01] jackpot1136 commented on #3027
So let me ask you something, are you in charge of checking out my case? And if so who is the one that's helping me out? I just wanna check because what it looked like to me is that a whole bunch of money private keys including my Trrezor. Look if you guys have to in and check everything I'm ok with that. No problem I've got nothing to hide. On top of that I'm greatfulbecause ive learned so much in

[2017-10-09 10:17] chriseth commented on #3027
The comment by @jackpot1136 looks like randomly generated spam.

[2017-10-09 10:51] axic commented on #2467
@limexp thanks! Modifiers work like internal functions, they are just inlined.

The first step of this PR is actually enhancing the parser to support fully qualified names  in function definitions, i.e. it doesn't accept the dot currently in:
```function f() Library.modifier() {}```

[2017-10-09 11:15] eelkevdbos commented on #2963
I would like to pick this one up. Should I reference the created repo / docker image in this thread or create a pull request somewhere?

[2017-10-09 11:17] chriseth commented on #2963
Thanks, @eelkevdbos ! You can put the dockerfile into the scripts directory (under a different name).

[2017-10-09 11:22] chriseth commented on #2786
We now have some tests.

[2017-10-09 11:22] #2786 closed, assigned to chriseth

[2017-10-09 11:23] chriseth commented on #1572
This is more or less done. Closing.

[2017-10-09 11:23] #1572 closed, assigned to chriseth

[2017-10-09 12:26] eelkevdbos commented on #2963
@chriseth I could inline the docker file but providing a 'script' seems more suitable and keeps the development of the wrapper less bound to the solidity project. We could also opt for a 'wget' approach of the go binary inside a vanilla golang docker image.

[2017-10-09 13:46] chriseth commented on #2963
@eelkevdbos wonderful, that's exactly the functionality that we need :-)

Would it be possible to make the image a "little" smaller than 700 MB? Also I'm not a big fan of using files external to the Dockerfile, at least for such tiny things - I guess that's a philosophical question...

[2017-10-09 14:01] jackpot1136 commented on #3027
@leonardoalt are you ready? Common

[2017-10-09 14:03] jackpot1136 commented on #3027
Now I managed to copy some of the files that were sent out and well compare the numbers

[2017-10-09 15:12] limexp commented on #3055
issue resolved by Travis CI Team

[2017-10-09 15:12] #3055 closed, assigned to nobody

[2017-10-09 15:52] Deams51 opened #3057 "No exception ever raised"
Solidity documentation ([doc](http://solidity.readthedocs.io/en/develop/contracts.html)), present the following contract and comments:
[code]

After deployment on Rinkeby, as well as Ropsten, I initiated a few test transactions to the contract and to my surprise, all transactions were successful and no exception have been raised.

Compiler version: 0.4.17
Example of the contract on Rinkeby with an

[2017-10-09 15:53] GNSPS commented on #3057
What version of the compiler did you use?

[2017-10-09 15:56] Deams51 commented on #3057
@GNSPS it has been tested on 0.4.17

[2017-10-09 19:52] eelkevdbos commented on #2963
I managed to compile z3 (4.5.0) for alpine linux. This creates a smaller image (200 MB), but the output differs:

**alpine**
[code]

**debian stretch**
[code]

I can't really judge if this is a deal-breaker (it seems the index of starts at 0 instead of 1). Can you perhaps shine some light on the differences?

[2017-10-09 23:32] federicobond opened #3058 "Suggest possible alternatives when identifier or member is not found in scope"
We could search through the scope looking for similar names using a string distance function and suggest alternatives in the compiler output.

[2017-10-09 23:45] federicobond opened #3059 "Do not abort compilation on first unknown identifier"
Since the reference/name resolving compiler pass is independent of other passes, we can probably continue resolving names after the first error.

[2017-10-10 02:30] redsquirrel opened #3060 "Modifiers add to stack, discourages modifier usage"
I assume there's nothing that can be done about this, but I was surprised to see that the following contract doesn't compile because each modifier is added to the stack:

[code]
Error:
[code]

For methods with many modifiers and a lot of variables, it means that people will need to write functions to do their checking instead of modifiers in order to work around stack depth issues. Like this:

[co

[2017-10-10 03:27] federicobond commented on #3060
Yes, that is expected behavior. Since modifier wraps the function like a decorator, the variable x which is pushed into the stack at the beginning of the call to `foo` must remain available until the `_;` returns.

You showcase an interesting case though, and I think there is a simple optimization to be made here, which is to pop modifier local variables when the `_` statement is in tail position.

[2017-10-10 03:32] federicobond commented on #3060
There is a more general case to be made for incorporating liveness analysis into the compiler, as long as it can intelligently balance stack/gas tradeoffs.

[2017-10-10 05:20] izgzhen commented on #2186
Hi, I'd like to contribute to this issue -- one question, should the documentation go here: https://solidity.readthedocs.io/en/latest/using-the-compiler.html#compiler-input-and-output-json-description or in-tree?

[2017-10-10 05:26] 43061b4a opened #3061 "Error in Ballot Contract"
Sample Ballot contract on [this](https://solidity.readthedocs.io/en/latest/solidity-by-example.html) page throws following error (Using EthereumWallet version 0.9.1 to deploy):

![screenshot from 2017-10-09 23-18-42](https://user-images.githubusercontent.com/1001943/31370429-5065b204-ad48-11e7-8594-b723a4f7a6e1.png)

## Error Details:

- Error Message:

[code]

- Which version of Solidity you are

[2017-10-10 07:56] chriseth commented on #3060
We are not planning any such optimizations at the high level language layer, since the benefit / danger - ratio is just too low.

[2017-10-10 07:59] chriseth commented on #3057
A quick test in remix.ethereum.org shows that this is working as expected. How exactly did you call the fallback function?

[2017-10-10 08:07] chriseth commented on #2963
Ah, that's great! The difference in the output is weird but does not change the behaviour (the `x!1` are just names of local variables).

Another thing that I forgot to mention: The http server should respond to CORS requests and approve all of them.

[2017-10-10 08:20] Deams51 commented on #3057
@chriseth I have tested on main net and JS VM and it does work as intended. The issue is only occurring on Ropsten and Rinkeby, thus making it hard to proof test a contract properly before main net deployment.

[2017-10-10 08:43] chriseth commented on #3057
@Deams51 ah I see! Then the tools you use are not yet prepared for the byzantium hard fork: "Failure" is flagged differently after byzantium and cannot be recognized by looking at the "gas used" anymore: https://ethereum.stackexchange.com/questions/28077/how-do-i-detect-a-failed-transaction-after-the-byzantium-fork-as-the-revert-opco

[2017-10-10 09:17] leonardoalt commented on #3027
Oh I see.
Thanks for the explanation!

[2017-10-10 09:17] #3027 closed, assigned to nobody

[2017-10-10 10:56] Deams51 commented on #3057
@chriseth Interesting, thank you!
If I may abuse of your patience, would you know where I can keep myself up to date about such changes?

[2017-10-10 12:10] chriseth commented on #3057
I have to admit that we do not have a good place to inform about such things, but the go-ethereum and solidity release notes contain some information about it.

[2017-10-10 13:37] elenadimitrova commented on #40
This explains why I get a `Error: invalid solidity type!: tuple` when I try to get back a `struct`

[2017-10-10 14:21] axic commented on #3061
Would anyone grab the relevant Mist issue (https://github.com/ethereum/mist/issues/2797) to avoid turning warnings into errors in Mist? :)

[2017-10-10 14:26] axic commented on #2186
What do you mean by *in-tree*? The source for the documentation is the `docs` directory in this repo, if that is what you mean by *in-tree*, it should go there.

[2017-10-10 15:12] axic commented on #2186
I think it should have its on subsection there and not part of the proto-JSON example.

[2017-10-10 17:09] Tootoot222 commented on #2991
I've noticed this bug in several places:

Instantiating a struct:
[code]

Function returns:
[code]

Might be others in similar situations, but these were some I found recently

[2017-10-10 22:32] limexp commented on #2467
@axic

For modifiers there is no difference if they are defined in a library or in another contract.

As I understand the ```function f1()``` definition must be correct. But what about ```function f2()```?

[code]

[2017-10-10 23:07] eelkevdbos commented on #2963
Allright! I modified the request handler to approve all CORS requests. A simple `docker pull evdb/z3-http` would suffice to pull in the new image.

[2017-10-11 01:18] androlo opened #3064 "memory allocation for 'bytes memory' when using 'new' is one word per byte"
I'm assuming that this is not the intended behavior.

Solidity: `0.4.17+commit.bdeb9e52.Emscripten.clang`, as well as in `0.4.18-nightly.2017.10.10+commit.c35496bf.Emscripten.clang` (optimized and unoptimized)

[code]

[2017-10-11 02:17] izgzhen commented on #2186
By in-tree I mean writing the documentation in the code file. But it looks like I should go to the `docs` directory. Thanks!

[2017-10-11 08:53] limexp commented on #2467
I need a small guidance where is a right place to add tests for this issue?

[2017-10-11 09:35] winsvega opened #3066 "lllc unable to parse JUMPDEST"
it was working before. now I get this error when generating the tests.

Parse error.
/home/wins/Ethereum/solidity/liblll/CodeFragment.h(59): Throw in function static void dev::eth::CodeFragment::error(const string&) [with T = dev::eth::InvalidName; std::__cxx11::string = std::__cxx11::basic_string<char>]
Dynamic exception type: boost::exception_detail::clone_impl<dev::eth::InvalidName>
std::except

[2017-10-11 09:45] axic commented on #3066
Can you post a code please?

`(jumpdest)` is not valid as LLL, but you can still emit one via `(asm JUMPDEST)`

[2017-10-11 09:55] winsvega commented on #3066
"code" : "create in init code on depth = 1024. account should not be created",
"code" : "{ (JUMPI 63 (EQ (SLOAD 0) 1023)) [[0]] (+ (SLOAD 0) 1) (CALL (GAS) 0xa000000000000000000000000000000000000000 0 0 0 0 0) (JUMPI 83 (LT (SLOAD 0) 1050)) (JUMPDEST) (MSTORE 0 0x600060006002f0) (CREATE 3 25 7) (JUMPDEST)}",

[2017-10-11 10:01] axic commented on #3066
That code looks fairly dangerous since LLL instructions provide no guarantees how they will be laid out (any padding in between, etc).

It should be rewritten as LLL assembly:
[code]

[2017-10-11 10:08] chriseth commented on #3064
Confirmed, will be fixed ASAP.

[2017-10-11 10:13] axic commented on #3066
Alternatively one could use `(if)`, `(switch)` or `(when)` to cater for the jumps:
[code]

[2017-10-11 10:15] winsvega commented on #3066
this asm is not really clear when you read it.
so you say { } is not safe to use?

[2017-10-11 10:16] axic commented on #3066
Using `jumpdest` and `jumpi` referring to locations is not very safe, should use higher level constructs or resort to assembly only.

[2017-10-11 10:22] axic commented on #3066
I haven't calculated offsets but assume that

`(JUMPI 63 (EQ (SLOAD 0) 1023)) [[0]] (+ (SLOAD 0) 1) (CALL (GAS) 0xa000000000000000000000000000000000000000 0 0 0 0 0) (JUMPI 83 (LT (SLOAD 0) 1050)) (JUMPDEST) (MSTORE 0 0x600060006002f0) (CREATE 3 25 7) (JUMPDEST)
`

is broken up as

[code]

[2017-10-11 10:35] axic commented on #3066
If you want to avoid any work, you can replace `(JUMPDEST)` with `(asm JUMPDEST)` though that may or may not be correct with different versions of LLL.

[2017-10-11 10:37] axic commented on #3064
`new bytes(i)` IMHO should allocate 32 (size field) + number of bytes. Calldata/storage encoding of course should pad it appropriately, however I do not think it would hurt (apart from gas cost) to align it to the word size.

[2017-10-11 13:53] axic commented on #3060
I think it is good to keep this open as a reminder. With the new IR it should be possible to move some of the arguments into memory to accommodate this (or evm1.5/ewasm would actually allow way more arguments).

[2017-10-11 16:26] Deams51 commented on #3057
Alright, thank you again. :)

[2017-10-11 16:26] #3057 closed, assigned to nobody

[2017-10-11 19:24] JohnAllen commented on #3052
Just found out the hard way that various deployment options will throw unrelated errors if constructor functions are marked `internal`. So perhaps the warning should say that?  Will look in the source to see if this is a simple string change.

[2017-10-11 21:04] VoR0220 commented on #2948
@EasonWang01 that will need to be written up. I'm not sure if any of the ABIs support it just yet.

[2017-10-11 21:19] VoR0220 commented on #2918
would it be possible to use global variables in these ranges? Matters such as "currentBlockNumber" and other areas that show what people would probably want to do with this in terms of defining price ranges that automatically assess risk, that being use them in ranges for proper collateralization techniques of their smart contracts. In other words, could one set these in a way where the inputs cou

[2017-10-11 21:22] VoR0220 commented on #355
Since `revert` has been added...is this safe to close?

[2017-10-11 22:21] axic commented on #355
I think so. The next step of the task is tracked in #1686.

[2017-10-11 22:57] VoR0220 commented on #355
I'll just close this in favor of that then.

[2017-10-11 22:57] #355 closed, assigned to nobody

[2017-10-12 05:20] limexp commented on #2467
@axic

There are several ways this issue could be resolved. I am new to this project, so please help to select the best approach according to spirit of ethereum/solidity.

1. Do not change ```class ModifierInvocation``` definition, but change ```Identifier``` semantics, so it could contain period https://github.com/ethereum/solidity/blob/81f9f86ce51d2e9b54bf76b1169f12e193c79745/libsolidity/ast/AST

[2017-10-12 05:24] jklepatch commented on #3039
This is the call stack:
[code]

In `parseFunctionHeader()`, I have set `options.allowVar = false;`  before each call to `parseParameterList()` .

In `parser.cpp` on line 582 the same internal compiler error occured:
[code]
By adding an extra condition `&& _options.allowVar == true` to the above `if` statement, we have a solidity compilation error (as opposed to an internal compiler error that we h

[2017-10-12 05:55] jklepatch commented on #3061
I am on it

[2017-10-12 07:27] chriseth commented on #3039
@jklepatch yes, this sounds about right! Can you create a pull request?

[2017-10-12 07:28] chriseth commented on #2885
@vdimic did you have any time to work on this? Do you need help?

[2017-10-12 12:56] jklepatch commented on #3039
Sure i will. Before this, may I know if there  are tests that check that some contracts produce specific compile errors ? So that I could also add a test case with the pr.
-- On Thu, 12 Oct 2017 15:27:49 +0800 notifications@github.com wrote ----

@jklepatch yes, this sounds about right! Can you create a pull request?

—
You are receiving this because you were mentioned.
Reply to this email directl

[2017-10-12 13:02] axic commented on #3039
Have a look at the `test/libsolidity` directory. A test for this error should go into `test/libsolidity/SolidityNameAndTypeResolution.cpp`.

[2017-10-12 15:56] MrHash opened #3069 "Error returning struct with 0.4.17"
[code]

error received "InternalCompilerError: Static memory load of more than 32 bytes requested.".

FWIW changing struct to single value compiles correctly.

[2017-10-12 16:19] soad003 commented on #3026
In progress: https://github.com/ethereum/browser-solidity/pull/866

[2017-10-12 19:43] limexp commented on #3069
I tried to simplify the example.
Without argument everything is fine - **function noError**.

[code]

[2017-10-12 19:51] MrHash commented on #3069
Hi thanks, oddly that doesn't compile for me using Remix with compiler 0.4.17+commit.bdeb9e52.Emscripten.clang

[2017-10-12 19:53] MrHash commented on #3069
Ah sorry are you confirming the problem?

[2017-10-12 20:04] limexp commented on #3069
@MrHash
yes, I confirm the bug. Exception is here https://github.com/ethereum/solidity/blob/81f9f86ce51d2e9b54bf76b1169f12e193c79745/libsolidity/codegen/CompilerUtils.cpp#L1013

everything is fine if there is no function argument or return type is less then 32 bytes (for example, uint256)

[2017-10-12 21:08] axic commented on #3026
@soad003 great work, thanks!

[2017-10-13 07:09] androlo commented on #627
It can be forced at compile time, if that's what you mean by forcing.

Btw. ERC-20 tokens is a good example of an actual interface that people are using. Look at that standard: https://github.com/ethereum/EIPs/blob/master/EIPS/eip-20-token-standard.md

Notice how it not only states that the contract should contain this and that, but also offers some actual interface contract that can be used by de

[2017-10-13 09:15] chriseth commented on #3069
Ah, it turns out that the new ABI decoder is just not yet implemented for retrieving function return values. Once this is implemented, it will also make use of the new opcodes `returndatasize` and `returndatacopy`.

[2017-10-13 12:26] giacecco opened #3071 "Compile fail on Fedora: "Z3 SMT solver NOT found""
Hi All,
I've followed the instructions [here](https://solidity.readthedocs.io/en/latest/installing-solidity.html#external-dependencies) to compile solidity 0.4.17 and the more recent build 81f9f86ce51d2e9b54bf76b1169f12e193c79745 from source on Fedora 26. I've run the ```install_deps.sh``` script as suggested, but the _cmake_ stage fails with:

[code]

I've then tried installing _z3_, _z3-libs_ an

[2017-10-13 12:31] axic commented on #3071
I think there are other errors above where you have cut out the logs, because the Z3 message, as misleading as it is, is not an actual error, just warning.

[2017-10-13 12:35] axic commented on #3071
Can you please copy the entire output from the console?

[2017-10-13 12:42] giacecco commented on #3071
This is the console and yes, @axic, there are more errors, sorry I hadn't noticed below. It complains that a few boost libraries are not installed... however, it looks like they are:

[code]

[code]

[2017-10-13 12:45] axic commented on #3071
@chfast do you have any idea?

[2017-10-13 12:48] giacecco commented on #3071
Hold on, I've realised that neither ```BOOST_LIBRARYDIR``` or ```BOOST_ROOT``` are defined, are they really necessary? Not the first time I am building software that needs boost components.

[2017-10-13 12:56] giacecco commented on #3071
It's not that either. I have now set both variable, tried to set them to both ```/usr/include``` and ```/usr/include/boost``` but I get the same identical error :-(

[2017-10-13 13:38] chriseth commented on #3071
@giacecco where are the files of these packages? Some distributions also distinguish between "-dev" packages and regular runtime packages.

[2017-10-13 13:38] chriseth commented on #3071
The error also mentions "static" - perhaps fedora only has dynamic libraries for boost?

[2017-10-13 14:58] giacecco commented on #3071
@chriseth great intuition, installing the _boost-static_ package solved that error, I will make a pull-request to change the ```install_deps.sh``` script.

I am now left with:
- the original "Z3 SMT solver NOT found" warning (that is labelled as an error in _cmake_'s output) and,
- an error during the _make_ stage, that I will document in another issue.

Thanks!

[2017-10-13 15:01] axic commented on #3071
What do you mean it is labeled as an error? cmake treats it as an error?

(Note, if you update the `develop` branch, the message has already changed.)

[2017-10-13 15:04] #3071 closed, assigned to nobody

[2017-10-13 15:05] giacecco commented on #3071
@axic you're right, now the output does not say any more ```-- Configuring incomplete, errors occurred!```, and this issue does not need to stay open, we've got https://github.com/ethereum/solidity/pull/3072 already.

[2017-10-13 15:12] chriseth commented on #3064
@axic after the fix the allocation for a byte array is always a multiple of 32.

[2017-10-13 15:41] giacecco opened #3076 "Build fail: "Unable to determine commit hash. Either compile from within git repository or supply a file called commit_hash.txt""
Not clear if this is an issue or intentional. Trying to build 0.4.17 from source - not from the git repository - I get the error you see below, interrupting the _make_ stage. The problem does not happen if I actually create the ```commit_hash.txt``` as suggested. Perhaps you want to force the user to find the real commit hash, in case she downloaded the source code from a malicious source? Thanks.

[2017-10-13 16:36] chriseth commented on #3076
The compiler version string includes a part of the commit hash, so you have to get it to cmake somehow. Either you build directly in the git repository or you use the archive attached to the release page: https://github.com/ethereum/solidity/releases/download/v0.4.17/solidity_0.4.17.tar.gz or you create a file called `commit_hash.txt` in the root of the source directory.

[2017-10-13 16:37] chriseth commented on #3076
About the potential attack: I don't think there is anything we can do if users compile software they download from somewhere else.

[2017-10-13 16:43] giacecco commented on #3076
Got it, not a security feature, just a way to be absolutely crystal clear with the user of the binary about what exact version she's using.

[2017-10-13 16:43] #3076 closed, assigned to nobody

[2017-10-14 12:37] GriffGreen commented on #1686
Very excited to follow this closely :-D, I am not sure how to contribute, but I'm going to try :-D

[2017-10-14 12:52] walter-weinmann opened #3078 "grammar.txt: spelling error uixed"
`Uixed = 'ufixed' | ( 'ufixed' DecimalNumber 'x' DecimalNumber )
`
should be

`Ufixed = 'ufixed' | ( 'ufixed' DecimalNumber 'x' DecimalNumber )
`

[2017-10-14 14:17] divz1010 opened #3080 "visual-studio +solidity smart contract deployment issue"
i am expensing the following issue Deployment to http://localhost:8001/ started! User used for deployment: testuser User found: 0d97173dc52b4d8b2c1034228b129c6d763160eb Contract Payout created successfully at address error uploading contract Contract can be accessed here: http://localhost:8001/contracts/Payout/error uploading contract.html (default password: testing) Anyone please help me to resol

[2017-10-14 14:18] divz1010 opened #3081 "visual studio + solidity +deployment issue"
I have installed a local deployment via docker of Strato Management.
I am trying to setup the BlockApp to deploy custom contracts from Visual Studios:

prompt: Enter the name of your app: TestApp
prompt: Enter your name: test user
prompt: Enter your email so BlockApps can reach you:
prompt: apiURL: (http://strato-dev4.blockapps.net2) http://localhost1
prompt: Enter the blockchain profile you wish

[2017-10-15 15:19] axic commented on #3080
This seems to be something unrelated to solidity. Please open the issue on the framework you are using.

[2017-10-15 15:19] #3080 closed, assigned to nobody

[2017-10-15 15:20] axic commented on #3081
This seems to be unrelated to Solidity. Please open an issue on the framework you are using.

[2017-10-15 15:20] #3081 closed, assigned to nobody

[2017-10-16 09:09] acgoldfish opened #3084 "Mist 0.9.2 Compile issue re-occurrence of - This declaration shadows an existing declaration"
Mist 0.9.2 Compile issue re-occurrence of - This declaration shadows an existing declaration

System information
Mist Version : 0.9.2
Geth version: geth version 1.7.2
OS & Version: Windows 10

Expected behaviour

Deploy the crowdsale contract in the Ethereum wallet. EC20 ICO Crowdsale The code is pragma solidity ^0.4.16.

**Actual behaviour**

It won't. It says: Could not compile source code. And

[2017-10-16 09:21] #3078 closed, assigned to nobody

[2017-10-16 09:23] axic commented on #3084
This is actually tracked in https://github.com/ethereum/mist/issues/2797. The above is a warning not an error.

Until that issue is solved, you can opt to rename your event not to conflict with another declaration (as the message says).

[2017-10-16 09:23] #3084 closed, assigned to nobody

[2017-10-16 11:19] Arachnid opened #3085 "Solidity mistakenly reports `gas` as state-changing in pure or constant functions"
Example:
[code]

[2017-10-16 12:14] jklepatch commented on #3039
My changes: https://github.com/jklepatch/solidity/commit/8d6f94fb0e8ffb53451629f7498015ecc993d36f
Test: https://github.com/jklepatch/solidity/commit/682a03519287aa79b3f46a252b40521fa3034322

When I tested my changes with the compiler by running the executable against the contract, it worked.
However, when I ran the test with ./build/test/soltest -- --no-ipc I saw that my changes broke lots of test

[2017-10-16 12:28] chriseth commented on #3039
@jklepatch please create a pull request. It willl run the tests and we can discuss there.

[2017-10-16 12:40] HaleTom commented on #2742
@aleitner I'm having a similar issue when editing a `.sol` file in `<prj-root>/contracts`, trying to import from `<prj-root>/node_modules/`

How did you resolve this?

[2017-10-16 12:42] aleitner commented on #2742
It was happening when I was trying to include a file that was a git submodule. When I just added the code to the project in a folder rather than as a submodule, the problem went away

[2017-10-16 12:43] HaleTom commented on #2742
@aleitner Did the pathname then exist when it didn't before? I created a symlink and its not working :(

[2017-10-16 12:46] aleitner commented on #2742
I didn't look too far into how git submodules work, but I reopened the issues because it's still a problem that needs to be addressed.

[2017-10-16 12:48] chriseth commented on #2742
Solidity checks the canonical path and does not allow symlinks.

[2017-10-16 12:50] HaleTom commented on #757
@chriseth @kidwai in which config file does one put this remapping?

(I'm getting this as a `solc` error inside `vim`.)

I couldn't find it in http://solidity.readthedocs.io/    Is there any doco on this remapping?

[2017-10-16 13:06] HaleTom commented on #2742
The same behaviour occurs even without symlinks, as shown [here](https://ethereum.stackexchange.com/questions/28575/source-filename-not-found-file-outside-of-allowed-directories-solidity-so).

Also when running from inside the `node_modules` directory:
[code]
`readlink -f` shows that there are no symlinks in this case.

[2017-10-16 13:11] chriseth commented on #2742
`import 'zeppelin-solidity/contracts/token/StandardToken.sol'` is importing from an absolute path, i.e. from `/zeppelin-solidity/contracts/token/StandardToken.sol`. Does it work if you change it to relative?

[2017-10-16 13:47] #3034 closed, assigned to chriseth

[2017-10-16 15:33] adamsau commented on #2885
@chriseth is it possible that i can pick up the task since vdimic is not active? What should be the output of the error outside the context, leading 3 dots and trailing 3 dots as in the example?

Also, if the error location itself is longer than 150 characters, it should not be shown. Does it mean completely no output source snippets? or would it be better to have some kind of indicators to indica

[2017-10-16 16:14] axic commented on #2999
Actually we've realised in a call with @chriseth that shouldn't we just use a large number, such as -1 (all bits set) instead of `gas` as that will ultimately result in the same effect?

It can also be optimised as `PUSH 0 NOT` and as a benefit more optimisations can happen around that piece of code where the usage of the `gas` opcode would prohibit it.

@vbuterin any thoughts?

[2017-10-16 16:16] #3085 closed, assigned to nobody

[2017-10-16 17:11] axic opened #3089 "Tune the (legacy) libevmasm optimiser"
A tool should be created which runs all the tests with different optimisations strategies and saves the results (creation bytecode size, deployed bytecode size, gas usage).

Based on the results the optimiser may need some tuning to work the best for the most common patterns of usage (such as tokens, etc.)

[2017-10-16 18:23] vdimic commented on #2885
@chriseth I had no time to dedicate to this due to unplanned work commitments. I am fine if @rivenhk wants to take over.

[2017-10-17 08:00] #3064 closed, assigned to chriseth

[2017-10-17 08:11] chriseth commented on #2885
@rivenhk sure, please pick it up! Yes, replace the prefix and the suffix with three dots. If the location itself is longer than 150 characters, perhaps display 15 characters from the start and 15 characters from the end:

[code]

But perhaps best to create a pull request already after the firs half, then we can comment and help directly on the code.

[2017-10-17 14:22] adamsau commented on #2885
sure, checking out the contributing guidelines for now.

[2017-10-17 19:23] adamsau commented on #2885
@chriseth i have created a PR #3092, thanks~

[2017-10-17 20:17] akshay951228 opened #3093 "Bad instruction fd"
solidity gives this error **Encountered error on making system call: Bad instruction fd**
smart contract link https://github.com/paritytech/contracts/blob/master/validator_contracts/TestList.sol

[2017-10-17 20:31] KPull opened #3094 "Constant function analysis tool issues warning for functions with selfdestruct"
The "possible `constant`/`view` function" warning gives a warning:

[code]

The code in question is: https://github.com/KPull/eth-guess-the-number-game/blob/master/GuessTheNumberGame.sol#L92-L94. As you can see the function only contains the `selfdestruct` operation.

`selfdestruct` changes the state of the blockchain so I think the warning, given by the analyzer, is not correct.

I am using Solid

[2017-10-17 20:54] axic commented on #3094
This is actually a problem in Remix, since the static analyzer is part of Remix and as such generally should be reported to https://github.com/ethereum/browser-solidity.

@soad003 would this be an easy thing to fix?

[2017-10-17 21:14] axic commented on #3094
Actually, this module could be retired since the functionality now is provided by the compiler, but in any case the rules should be copied from: https://github.com/ethereum/solidity/blob/develop/libsolidity/analysis/ViewPureChecker.cpp

[2017-10-17 21:15] axic commented on #3093
Please provide a bit more detail, such as the compiler version, the environment (IDE, tools, etc), your OS, etc.

[2017-10-18 05:10] bronoman commented on #2681
suggest to vote for it: http://poll.lab.io/solidity-ext

[2017-10-18 05:40] Alhadis commented on #2681
Choose both, just make sure you give the `.sol` extension the 🖕. 😀

I voted for `.sold` because it has a chime to it and a subtle wit makes it memorable.

[2017-10-18 07:14] soad003 commented on #3094
@axic this particular problem should be easy to fix, but if the functionality is now provided by the compiler we probably should not maintain it twice. Do you want me to delete the module?

[2017-10-18 09:59] #2913 closed, assigned to axic

[2017-10-18 10:05] chriseth commented on #3094
Hm, it is still useful for older compilers and you can always disable individual modules in remix.

[2017-10-18 11:04] axic commented on #3066
@winsvega @pirapira can we close this issue?

[2017-10-18 11:05] zrpkid opened #3096 "can solidity process images？"
Solidity is the official language for smart contract. I used this language for just a little time. So can this language process images or can it support libtary like OpenCV?

[2017-10-18 11:12] androlo opened #3097 "Allow natspec documentation for non-public functions."
Issue created on @chriseth 's request.

The proposal is to allow contract writers to document non-public functions using natspec, and that those docs are included in the json output.

Additionally, there could be a compiler flag to ignore non-public function docs (which may or may not be enabled by default).

[2017-10-18 12:21] chriseth commented on #3096
This question is better asked at https://ethereum.stackexchange.com/ but in general, smart contracts and blockchains are not meant for such purposes. You  might get it working via tools like truebit, though.

[2017-10-18 12:45] pirapira commented on #3066
I think it's up to @winsvega .

[2017-10-18 13:00] chfast commented on #2864
Are functions solcLicense, solcVersion, solcCompile `export "C"`?

[2017-10-18 13:11] axic commented on #2864
Yep (they replace the current `license`, `version` and `compileStandard`)

[2017-10-18 13:35] chriseth commented on #3097
This is basically about changing the loops in Natspec.cpp to go over all functions, and not just over the `interfaceFunctions`.

[2017-10-18 13:37] chriseth commented on #3097
The problem is that we might not have an `externalSignature` in all cases. Because of that, we might want to split up the `externalSignature` function in one that assumes a library and one that does not.

[2017-10-18 13:43] #3096 closed, assigned to nobody

[2017-10-18 14:16] soad003 commented on #3094
@chriseth ok, the problem here is that i did not consider selfdestruct as a change of state (we had the same discussion with new). I can add it to the module if that is a solution for you.
Model the exact same rules as in viewPureChecker would be way more work.
Maybe we should introduce something like compiler version dependent static analysis modules for such purposes...

[2017-10-18 14:17] axic commented on #3094
I'd just turn it off by default. Users of old compiler could turn it back, but Remix always uses the latest one anyway. Is that an option?

[2017-10-18 14:22] chfast commented on #2864
For C-like function I would recommend using underscore naming convention: `solc_compile()`, etc.

[2017-10-18 15:31] VarunWachaspati commented on #3097
Interested to take this up, complete newbie so might take sometime to actually figure it out though
Let me know if it's fine

[2017-10-18 15:53] chriseth commented on #3097
@VarunWachaspati wonderful! Yes, this is not urgent, but please keep us posted.

[2017-10-18 18:20] akshay951228 commented on #3093
I taken the bitecode code from **remix** onlline ide and deployed this contract in parity 1.7.0 node.

[2017-10-18 18:39] VarunWachaspati commented on #3097
@chriseth Surely will do so. Kindly assign this issue to me.
Also let me know any resources/documentation that I should be referring for the issue.

[2017-10-18 19:33] axic commented on #3093
That would mean the error is shown by Parity and should be reported to Parity then.

[2017-10-18 21:16] limexp commented on #3048
I am afraid that you missed [External Dependencies step](https://github.com/ethereum/solidity/blob/develop/docs/installing-solidity.rst#external-dependencies).
Just checked on a clean Debian installation that the following commands are fine:
[code]

Last three lines can be replaced with one command ```./scripts/build.sh```.

I also missed External Dependencies for the first time and Boost_INCLUDE_

[2017-10-18 21:26] androlo opened #3102 "Issue that links to other issues about tests"
This issue links to open issues concerning missing tests, if someone wants an overview.

- CLI: https://github.com/ethereum/solidity/issues/3035
- Source location, AST: https://github.com/ethereum/solidity/issues/2987
- AST JSON: https://github.com/ethereum/solidity/issues/2796
- libevmasm: https://github.com/ethereum/solidity/issues/1275

Other issues related to testing:

- Run tests with Geth as

[2017-10-18 21:39] androlo opened #3103 "Unused variable in Z3Interface.cpp causes error-as-warning error when compiling with MSVC"
On @axic 's request.

Solidity: `Version: 0.4.18-develop.2017.10.18+commit.fda8499c.Windows.msvc` (after fixing)

[code]

The cause is an unused error in a catch clause. This only happens because I manually linked with Z3, so it should not affect other users or CI, unless it is if left as-is when Z3 is included in windows builds by default (maybe it already is).

My suggestion was to just disable

[2017-10-19 01:58] manosamy opened #3110 "Pure instead of constant in new abstract class for an existing deployed contract"
An existing contract used solidity 0.4.4 and has a constant function that qualifies as pure based on current language standards.
If I build an abstract contract that will be used to access the previously deployed contract, should I specify it as public pure or just public view?

existing one deployed in mainnet before byzantium:
pragma solidity ^0.4.4;
    function namehash(string name) public con

[2017-10-19 03:30] HaleTom commented on #2742
If I prepend `./`, I get a different issue:
[code]
It's not using the `$PWD` working directory as `.`, but rather `../contracts`, so it won't find `../contracts/zeppelin-solidity`.

**What is the design decision behind not allowing a fundamental feature of POSIX filesystems, namely symlinks?**

[2017-10-19 06:21] akshay951228 commented on #3093
**they said open a issue on solidity**

[2017-10-19 09:09] #3103 closed, assigned to nobody

[2017-10-19 09:10] #2174 closed, assigned to MatrixCreator

[2017-10-19 09:12] chriseth commented on #3048
@lorien does that fix it for you? If not, can you please paste the console output of the commands?

[2017-10-19 09:44] lorien commented on #3048
@chriseth @limexp My problem was not in ext. dependencies
I just can't run `make` command from `build` directory, because it is empty because `cmake ..` creates files in upper directory. I'll try today/tomorow to reproduce the problem and provide more detailed description.

[2017-10-19 09:50] axic commented on #3093
Can you add a pointer to the issue?

[2017-10-19 10:30] winsvega commented on #3066
so two options here. while JUMPDEST are exist in tests.
1) rewrite tests without JUMPDEST
2) use lllc with JUMPDEST support

so if close this issue we need a new one

[2017-10-19 10:33] axic commented on #3066
As mentioned in https://github.com/ethereum/solidity/issues/3066#issuecomment-335768311 if there is no desire to use LLL properly, `(JUMPDEST)` can be replaced with `(asm JUMPDEST)`. However I must note that the way LLL is used in the tests is not how LLL should be used and as a result it may produce invalid output at any point of time.

[2017-10-19 10:35] pirapira commented on #3066
I think @winsvega and I just want a lisp-looking assembly.  Now it's clear that LLL is not assembly (`asm` keyword delimits LLL from assembly).  So @winsvega and I need to build a lisp-looking assembly.

[2017-10-19 10:41] axic commented on #3066
I was concerned for a while that the tests use LLL and may output random stuff and nobody notices :)

[2017-10-19 10:43] winsvega commented on #3066
most of the tests has expect sections which will check that results are correct.
however an invalid lllc code might potentially produce expected result while not actually testing the test case.

[2017-10-19 13:36] limexp commented on #3048
@lorien
I installed a brand new copy of Debian yesterday and executed above commands as root. Everything was fine. Unfortunately I forgot to check cmake and make versions.
Without a console log it is hard to guess.

[2017-10-20 06:49] androlo commented on #3097
I want to do this as well. Potentially i could also develop natspec further after this issue is done, if the proposed issues are accepted. For example.

1. Return is a single string instead of having one per output param, like input. That can be updated.
2. Documentation for modifiers, constants and events could be added (internal constants for the same reason as internal functions).
3. Could be m

[2017-10-20 07:00] howtomakeaturn opened #3115 "'msg.sender.send' means sending ether to the sender?"
Hi guys,

I'm reading the official tutorial here:

https://ethereum.org/token

and in this part:

[code]

I found the code looks a bit weird:

[code]
Because 'msg.sender.send' looks like the sender is sending ether to someone, not receiving from someone.

I'm just curious about the design, and maybe renaming it to something else could be better?

[2017-10-20 07:10] howtomakeaturn commented on #3115
I saw the doc:

http://solidity.readthedocs.io/en/develop/types.html#members-of-addresses

So the 'send' is the reverse action of 'transfer'.

I'm thinking maybe something like 'receive' could be more clear?

[2017-10-20 07:22] o0ragman0o commented on #3115
`msg.sender` is selling tokens to the contract and receiving ether in
return, so the contract must send ether to `msg.sender`.

On 20 October 2017 at 17:10, 尤 川豪 <notifications@github.com> wrote:

[2017-10-20 07:31] howtomakeaturn commented on #3115
Hi, thanks for the reply.
Now I know 'msg.sender.send' means the contract sends ether to 'msg.sender'.
I just feel the syntax itself is a bit confusing.
Because 'msg.sender.send' looks like sending ether from the sender, not to the sender.
Anyway ... not big issue ... thanks!

[2017-10-20 07:37] o0ragman0o commented on #3115
`msg.sender` is an `address` object with `send` (and `transfer`) being a
method of `address`.

On 20 October 2017 at 17:31, 尤 川豪 <notifications@github.com> wrote:

[2017-10-20 08:14] bejavu commented on #2999
Great bug research,
That answer my question:
https://ethereum.stackexchange.com/questions/28840/why-address-call-function-saves-unnecessary-gas-for-after-the-internal-execu

Is there any workaround for the time being? Maybe an older compiler version that works?

[2017-10-20 10:35] chriseth commented on #3097
@VarunWachaspati sorry, I cannot assign this to you because you are not part of the project, but please feel free to work on it.

@androlo I think there are separate issues for most of the items you mention. An important aspect of natspec adoption is also to get it into further tools. Mist, metamask, etherscan, etc. should display them and also use the templating language. Perhaps you could connec

[2017-10-20 10:36] lgrapenthin commented on #3069
I can reproduce the problem on 0.4.18

[2017-10-20 10:36] chriseth commented on #2999
@bejavu use `pragma experimental "0.5.0";` in Solidity 0.4.18.

[2017-10-20 10:37] chriseth commented on #3069
@lgrapenthin yes, we did not yet have time to work on this.

[2017-10-20 10:39] chriseth commented on #3110
@manosamy you can change the "pureness" - it has no effect on the bytecode, but you can also keep it as `view`. Whatever you do, if you use an interface and a derived contract, their pureness has to match.

[2017-10-20 10:57] axic opened #3116 "Allow comparing large rational numbers"
[code]
currently fails with

[code]

Admittedly it is a not very useful/frequent use case.

[2017-10-20 11:13] androlo commented on #3097
@chriseth ok.

[2017-10-20 11:15] tal-beja commented on #2999
`MultiSigWallet.sol:3:1: SyntaxError: Unsupported experimental feature name.
pragma experimental "0.5.0";`

[2017-10-20 11:21] androlo commented on #3097
i can hear what they think and then write up a number suggestions that seems to be popular. maybe check with the research/formal people as well (other then you i mean). I could start poking around after devcon, and see if it's possible to make a concerted effort.

[2017-10-20 11:22] tal-beja commented on #2999
nvm, its supposed to be "v0.5.0"

[2017-10-20 11:27] chriseth commented on #3097
I don't think we will get very far with formalizing semantics, we tried that using why3 and failed due to various reasons. The plan is now to replace that with the much easier to use require/assert mechanism.

[2017-10-20 11:28] chriseth commented on #2999
Ah yes, sorry!

[2017-10-20 12:01] androlo commented on #3097
ok, no problems. The focus will be mainly to see if existing docs and tags can be improved, then see what happens.

[2017-10-20 12:23] #1259 closed, assigned to nobody

[2017-10-20 12:43] tal-beja commented on #2999
Great it worked!
https://ropsten.etherscan.io/tx/0xf096c54824c852de722361c8af9464b9ecca6ce0ad7aa8fc1b82e7c52370b104

one small problem:
I couldn't verify the contract in etherscan.

[2017-10-20 12:51] chriseth opened #3118 "Introduce storage cache"
Suggested by @puellavulnerata - it might be a good idea to cache storage access in memory.

A simple cache based on a conflict free hash table in memory could already provide a gigantic benefit. Storage read has been changed from 50 to 200 gas since Solidity was designed (actually memory costs were assumed to be much higher at that point, too), so this might be feasile.

Storage reads could be rep

[2017-10-20 13:04] tal-beja commented on #2999
Yes, same thing on 0.4.18:
https://ropsten.etherscan.io/tx/0x64809020c4715b2505dfbc984b6408a61d3e2beaff9ce9f47e0761b52c3ddc85
Inner transaction to an unknown method - marked as executed...

[2017-10-20 13:10] chriseth commented on #3118
Preliminary analysis shows that a cache hit costs 130 gas, while a cache miss is 355 gas (including the 200 gas to read from storage).

Also the implementation above has to consider the special case of "unset" cache entries.

[2017-10-20 18:09] Balajiganapathi commented on #1677
Hello can I take up this issue?

[2017-10-20 19:42] Balajiganapathi commented on #1677
Please ignore the first commit (https://github.com/Balajiganapathi/solidity/commit/7a449c472d2f6c39ff52c2a29abf2e55786d9d2e).

Have created a pull request with the second commit: https://github.com/ethereum/solidity/pull/3120.

[2017-10-20 21:08] chka commented on #3018
ehh... it's not a bug, it simply needs different variables inside the event:

event GoalReached(address beneficiary1, uint amountRaised1);

[2017-10-21 14:12] axic commented on #3018
The bug in Mist is that it considers Solidity warnings as errors (without a way to disable this behaviour) and shadowing declarations is only a warning.

[2017-10-22 09:32] androlo commented on #3118
On a related note, there is an idea from @Arachnid about netting gas costs, which would mean lower cost for storage access when an address is zero by the time a transaction is done. Found it in this thread: https://github.com/ethereum/EIPs/pull/718#issuecomment-331615418. Not sure if it has gotten any traction but seems related.

Also linking a related issue about costly writes: https://github.com

[2017-10-22 11:11] androlo commented on #3097
Some questions about getting a list of functions.

The `ContractDefinition::interfaceFunctionList` function gathers all interface functions into a vector of (hashed signature, function type pointer) pairs. It will filter out functions that are already registered, by using the external signature as the unique identifier.

Maybe have one function `ContractDefinition::functionList` which gathers all

[2017-10-22 23:01] joeykrug opened #3121 "Another SMTChecker bug"
[code]

That's all it says, I get it when running it on Controller.sol here https://github.com/AugurProject/augur-core/tree/develop/source/contracts

When removing the smt checker pragma it compiles fine :/

Sidenote: the Augur contracts are probably a good benchmark for running the SMTChecker / new solidity compiler versions against as they're complex and use a lot of varied functionality

[2017-10-22 23:13] axic commented on #3121
@joeykrug can you run it #2993 applied?

[2017-10-22 23:21] joeykrug opened #3122 "Allow using pure functions in assignment to constant variables"
[code]

I have a contract I'm trying to compile that imports another contract with a pure / constant function as below:

[code]

Any idea why it's saying `Initial value for constant variable has to be compile-time constant.` for this line: `uint256 public constant GAS_TO_REPORT = Reporting.gasToReport();` ?

[2017-10-22 23:43] axic commented on #3122
Only a limited set of expressions are accepted as "pure" for compile-time constants and currently `pure` functions are not part of that.

Though it may be feasible lifting that restriction since we have a visibility checker in place now, though I would rather opt to restrict it even further (sha256/ripemd160 is part of it, yet it will compiled into a `call` and that is counterintuitive).

[2017-10-23 00:30] joeykrug commented on #3121
Just tried it, still gives the same issue

[2017-10-23 00:36] axic commented on #3121
Can you copy in the entire error message? (It should have text after "Internal compiler error")

[2017-10-23 08:33] joeykrug commented on #3121
Unfortunately it doesn’t have any text after that, which is frustrating

[2017-10-23 08:38] chriseth commented on #3121
Slightly unrelated: @joeykrug is there an "easy" way to run the augur smart contract tests? We are running some external project's tests against each pull request and as you say, your contract would be another good candidate, I guess. Running them against the SMT checker is probably a little too early, though.

[2017-10-23 08:55] #2885 closed, assigned to nobody

[2017-10-23 09:23] axic commented on #3121
@joeykrug are you using a native `solc` binary? There must be text after it.

[2017-10-23 14:20] axic opened #3123 "Optimiser: remove conditional jump to next"
(from https://www.pivotaltracker.com/story/show/96789744)

[2017-10-23 14:22] chriseth commented on #3123
I'm pretty sure this is implemented in the peephole optimizer.

[2017-10-23 14:22] axic commented on #3123
This is implemented https://github.com/ethereum/solidity/blob/develop/libevmasm/PeepholeOptimiser.cpp#L157-L181

[2017-10-23 14:22] #3123 closed, assigned to nobody

[2017-10-23 14:26] axic opened #3124 "Optimiser: Do not store in memory if not needed anymore"
(from https://www.pivotaltracker.com/story/show/93191202)

[2017-10-23 14:27] axic commented on #3124
Okay, this could be done for `STOP`, `RETURN`, `REVERT`, `INVALID`, `SELFDESTRUCT`.

[2017-10-23 14:32] axic opened #3125 "One-method contracts"
Support one-method contracts:

[code]

Would do the same as:
[code]

except that the first four bytes that would normally switch between the methods would not be expected to exist for this contract type's ABI.

Calling into it would happen like a function: `OneMethod(addr)(65)` would yield `65 + the m_value`.

It is not allowed to inherit multi-function (standard) contracts.

It may be inherited b

[2017-10-23 14:33] axic commented on #3125
@chriseth what is the point of this?

[2017-10-23 15:00] chriseth commented on #3125
I have no idea. Someone else created this story. Fine with closing this.

[2017-10-23 15:04] #3125 closed, assigned to nobody

[2017-10-23 19:15] androlo commented on #3097
Edit AST.h/cpp feels too intrusive, but maybe complete function list is useful for other things. Happy to just build docs from natspec.cpp, and create any utility functions there as needed.

[2017-10-23 23:03] joeykrug commented on #3121
@axic, I compiled it locally, yeah. There's no text. There's also no text when I use the apt-get install solc binary version either.

[2017-10-23 23:18] joeykrug commented on #3121
@chriseth Sure,

[code]

will run the tests on all the contracts.

[2017-10-23 23:56] axic commented on #3121
This won't be very helpful for testing:

[code]

How do you actually run your SMT tests?

[2017-10-24 00:07] joeykrug commented on #3121
Oh, on my local version I found / replaced `pragma solidity 0.4.17;` with `pragma solidity ^0.4.17;`

[2017-10-24 00:30] axic commented on #3121
And which file(s) do you add the smtchecker pragma?

[2017-10-24 07:45] 3esmit commented on #2630
Would be possible to clear return data in case of a fallback function that does not return anything?  Like calling  `assembly { return(0) }´... Maybe when fallback function starts executing it clear the returndata memory pointer and then do the logic. Maybe we could make a modifier ?  Or make a modifier for when we need fallback function returning a unknown (that came from delegatecall)?

The only

[2017-10-24 08:26] axic commented on #3121
Adding the pragma only to Controller results in:

[code]

[2017-10-24 09:04] chriseth commented on #3121
I think the problem above is already fixed in the upcoming pull request.

[2017-10-24 09:05] chriseth opened #3127 "Add augur tests"
Include Augur tests in the the extended contract testing suite (`test/externalTests.sh`)

Instructions: https://github.com/ethereum/solidity/issues/3121#issuecomment-338824213

[2017-10-24 09:16] axic commented on #3121
It doesn't according to https://github.com/ethereum/solidity/issues/3121#issuecomment-338521285 - also tried it myself now:
[code]

[2017-10-24 09:18] chriseth commented on #3121
Ah ok, sorry then. Will take a look after devcon.

[2017-10-24 09:42] #2508 closed, assigned to nobody

[2017-10-24 11:00] axic opened #3128 "Update documentation about accessing return values from on-chain execution"
This depends on the framework being used.

[2017-10-24 14:24] #3115 closed, assigned to nobody

[2017-10-24 20:53] acgoldfish commented on #3018
The Bug in Mist  is these  Warnings are been treated as a hard Errors
ethereum/mist#2797 when is this going to be fixed ?

[2017-10-24 22:28] joeykrug commented on #3121
Controller, IController, IControlled

[2017-10-25 04:58] benjamincburns commented on #3093
I think 0xfd is `REVERT`, as I ran across similar output while pumping some problematic bytecode through https://etherscan.io/opcode-tool

Also [this](https://github.com/ethereum/solidity/blob/c61610302aa2bfa029715b534719d25fe3949059/libevmasm/Instruction.h#L195).

Chances are Parity 1.7.0 doesn't support this new opcode.

[2017-10-26 09:21] HaleTom commented on #2928
Here's a demonstration of the issue:

[code]
Note the expected path is:
[code]
That is, `contracts/` should be removed via `../`.

The same output with `--allow-paths`:

[code]

@q3k  @conor10  this is blocking anyone using vim and syntax checking (via syntastic) from seeing full errors/warnings.

[2017-10-26 09:45] Qqwy opened #3131 "Function signatures do not take return type into account"
From the [Solidity documentation](http://solidity.readthedocs.io/en/develop/abi-spec.html?highlight=signature#function-selector)

It seems that the return type of the function is not taken into account. Does this mean that a contract that returns something that the caller contract does not expect is able to exploit problems with implicit type conversions?

I have not yet had the time to create a t

[2017-10-26 09:55] chriseth commented on #3131
The function selector only has four bytes, so there is no bijection between function selector and the type of the function anyway. If you call functions on contracts that are not compiled from the source code you assume they are compiled from, such attacks are also possible if you take the return parameters into the selector.

[2017-10-26 10:14] ethers opened #3132 "constructor, internal, and why not external?"
Remix tells me: `Constructor must be public or internal`

If i make `internal` I get: `This contract does not implement all functions and thus cannot be created.` ...

What's the purpose and how to use an `internal` constructor ?

Why must a constructor be `public` instead of `external`?

[2017-10-26 10:20] axic commented on #3132
See #2638. Basically it allows an abstract contract to have a constructor, which is used by the child.

[2017-10-26 10:20] axic commented on #2638
Example code:
[code]

[2017-10-26 17:39] MicahZoltu opened #3134 "Compiler should error on missing return statement."
The following code does not currently generate any errors, despite the fact that there is no return statement.  The compiler should error or at least warn, when a function has an unnamed return type but does not include a return statement.
[code]

[2017-10-26 17:47] ethers commented on #3132
Thanks, that's helpful and makes sense.

Any explanation for:

Idea-wise, if a constructor was allowed to be `external` then that would prevent inheritance?  (There's an issue here somewhere like `final` in Java.)

[2017-10-26 20:00] redsquirrel commented on #3134
I think implicit returns should be discouraged. I'd love to see warnings for any method that has a `returns` value without a `return` statement.

[2017-10-26 21:28] VoR0220 commented on #3131
...you know I never thought about this, but why weren't outputs included in the original function signature sha3?

[2017-10-26 21:34] axic commented on #3131
Function overloading can have a hard time determining what expressions are valid (function as right hand side vs. lvalue) and more importantly if the return value is not assigned to anything which one to take from a return-overloaded case?

Thus many languages (such as C++) doesn't support it. I assume Solidity took a good chunk of early decisions from C++.

[2017-10-27 05:19] kasjan-s commented on #2780
There's started work in above PR, but I'm not going to have time to work on it again untill 2nd half of November. Sorry.

If anyone's interested, feel free to pick this up.

[2017-10-27 07:37] chriseth commented on #3132
Hm, I cannot recall any particular reason, but yes, inheritance would be a problem with external constructors.

[2017-10-27 07:38] chriseth commented on #3134
Duplicate of #708

[2017-10-27 07:48] MicahZoltu commented on #3134
I don't believe this is a duplicate of #708.  Even if #708 is implemented, this bug still needs to be fixed for non-named return values.

[2017-10-27 07:54] chriseth commented on #3134
In that case, could you please specify the desired behaviour a little more extensively? Thanks!

[2017-10-27 07:57] MicahZoltu commented on #3134
Hmm, I'm not sure what else to add.  If the function says it is going to return an int, but then doesn't return anything the compiler should error, like every other language out there.  Just like it errors if you try to return a bool from a function that says it will return an int.

[2017-10-27 08:12] chriseth commented on #3134
Does it make a difference if it is named or not? For example, most compilers warn if a function claims that it wants to have an int as input but then does not use it, but if the int does not have a name, there would be no warning.

[2017-10-27 11:53] androlo opened #3136 "Warning when calling other contracts in constructor"
There should be a warning when calls to other contracts is made inside a constructor.

#### Motivation

Calling another contract (B) in the constructor of a contract (A) will give B access to the partially initialized account of A (through `msg.sender`, or in asm, `caller`). Account creation is a special circumstance where the account that is being initialized actually has code in it, but any call

[2017-10-27 12:57] chriseth commented on #3136
The problem is that there are valid use-cases for calling functions in constructor, especially creating other contracts in a constructor. Do you have a suggestion about how to silence such a warning? Note that every external function call in Solidity is prefixed with an `extcodesize(address) != 0`-check, so the worst thing that can happen is that the constructor call fails or that ether that is se