[2018-03-14 23:17] VoR0220 commented on #3736
I know what you're talking about but a simpler solution is to put a function like a public view getter for the index of your mapping. Plus it's free. I suppose that the ABI could support a length pointer...not sure why that shouldn't be doable (outside of the cheapness factor...which tbf is a big factor). Length and from there you just add the index with each transaction separately....Either way.

[2018-03-15 08:47] agroce opened #3738 "Internal compiler error: ...libsolidity/ast/Types.cpp(1023): Throw in function shared_ptr<const dev::solidity::IntegerType> dev::solidity::RationalNumberType::integerType() const"
Following code causes solc to crash:

[code]

produces:

[code]

Discovered using grammar-based swarm testing with TSTL (https://github.com/agroce/tstl/tree/master/examples/solc)

[2018-03-15 09:14] 3sGgpQ8H opened #3739 "Cannot call emit function"
From code of my contract I'm calling function named `emit` of another already deployed contract.  My code successfully compiles under Solidity 0.4.20, but Solidity 0.4.21 outputs the following error:

    ParserError: Expected event name or path.

Looks like introducing new event logging syntax broke something.

[2018-03-15 10:08] tappoz commented on #3732
First: meanwhile I wiped out the whole `snap` thingy with this:
[code]
So I've performed again the steps I mentioned earlier to install everything needed.

Now: the interesting thing is that when running what you asked then I can see the expected output for the `solc` command, e.g. when checking the version:

[code]

After this test now I am not sure I am understanding that symbolic link:

[code]

[2018-03-15 11:42] LogvinovLeon opened #3741 "Source map too short"
I've just compiler the simplest contract:
[code]

It generated the source map:
[code]

And the list of instructions:
[code]

As one can see - the list of instructions has 33 elements while the source map has only 18 sections.

[2018-03-15 11:48] axic commented on #3741
The opcodes can be split into multiple sections:
[code]

For the metadata see http://solidity.readthedocs.io/en/develop/metadata.html#encoding-of-the-metadata-hash-in-the-bytecode

[2018-03-15 11:50] axic commented on #3732
@elopio any idea why it still installs 0.4.18? We are 0.4.21.

[2018-03-15 11:51] axic commented on #3718
@wjmelements can you run it with `lldb` and paste the stack trace?

[2018-03-15 11:59] chriseth commented on #3618
I specifically had the case of two contracts with the same name in mind. This is perfectly fine if they are in different files.

[2018-03-15 12:16] wjmelements commented on #3718
[code]

[2018-03-15 12:20] wjmelements commented on #3718
[code]

[2018-03-15 12:22] chriseth commented on #3718
`__move_assign` inside `std::__tree` - it is the heisenbug.

[2018-03-15 14:11] chriseth commented on #3688
I don't think we should complicate the type system. People are already confused by storage and memory. Furthermore, for larger structs, they will complain that they cannot use more than 10 variables....

No, this is the optimizer's job.

[2018-03-15 14:13] chriseth commented on #3198
A wildcard function is one that is executed if a function selector is given, but it does not match any defined functions. The "receive ether" function is run if no calldata is given.

[2018-03-15 14:16] chriseth commented on #3736
@skilesare remix can do that for you. The problem is that this works for simple value-type variables, but you need more logic for mappings, arrays and structs. If you implement that logic, then you can already do everything on your own without any help from the compiler.

[2018-03-15 14:17] chriseth commented on #3625
Yes, at some point we have to do that. Currently, the solver still takes virtually no time at all, but I fear that this might change :)

[2018-03-15 14:38] chriseth opened #3742 "Syntax test should skip vim swap files and potentially others"

[2018-03-15 14:44] VoR0220 commented on #3198
Ahhhh...so it's basically a default logic statement as opposed to a default receive statement. You're splitting the fallback into two portions...which tbf is a good design decision imo for safety, but how to do this gracefully in the language is a different matter. What would the syntax look like?

[2018-03-15 15:21] leonardoalt commented on #3625
I also think it's a good idea. Ideally I think the user would also be able to override it.

Btw, what's required to close this issue?

[2018-03-15 15:53] ekpyron commented on #3625
I can confirm at least that it doesn't hang with ``z3``'s ``master`` branch anymore, but it might make sense to keep this issue open at least until 4.6.1 is released? Otherwise users which use the current stable z3 version, i.e. 4.6.0, might reopen this issue or similar issues anyways - as long as it is open they might instead find this one.

[2018-03-15 16:08] skilesare commented on #3736
@chriseth

Re: remix-  can you point me to where remix does this? I don’t see any mappings on the detail screen.

Re: logic -  can we use this issue to document that logic? It seems to exist elsewhere but it’s pretty spread out. I may have access to a CPP developer in the near future and may be able to add this in.

 My understanding is that the first storage key is 0x0 and corosponds to the first

[2018-03-15 16:16] leonardoalt commented on #3625
That's true. The thing is, z3 doesn't seem to release a lot of versions. They asked in the issue there if we needed a tagged release, and I said no. I guess I can ask again :p

[2018-03-15 16:54] chriseth commented on #3736
@skilesare you have to use the debugger on a transaction and then the variables are shown in the "Solidity state" section.

The layout should be documented in https://solidity.readthedocs.io/en/v0.4.21/miscellaneous.html#layout-of-state-variables-in-storage - please feel free to improve that.

[2018-03-15 19:22] chriseth commented on #1319
Changed the initial description to word it more towards making inline assembly functions accessible across inline assembly blocks.

[2018-03-15 23:43] chriseth opened #3747 "Improve "undeclared identifier" suggestions"
[code]
results in `Undeclared identifier. Did you mean "x"`

and
[code]
produces ` Undeclared identifier. Did you mean "a"?`

[2018-03-15 23:53] chriseth opened #3749 "Update text about returning dynamic arrays"
Update text about returning dynamic arrays in https://solidity.readthedocs.io/en/v0.4.21/types.html#members

[2018-03-16 06:22] oldcodeoberyn opened #3750 "doc solidity-by-example.rst is out of date"
the first example is still used ```pragma solidity ^0.4.16``` as the other examples in the same doc already update to ^0.4.21;
and in this example, it still have out of date comment for ```require```

[code]

[2018-03-16 09:20] chriseth commented on #1319
Actually I think the suggestion in the [comment above](https://github.com/ethereum/solidity/issues/1319#issuecomment-258399583) could work rather well. We have to introduce another lookup method for function identifiers (and not just variable identifiers). Furthermore, inline assembly functions have to be registered at the compiler context, and not just the inline assembly AST node. Compiler-gener

[2018-03-16 09:36] chriseth commented on #3750
We try to always use the oldest version of Solidity that is still able to compile the code. Thanks for telling us about the outdated comment!

[2018-03-16 12:39] #3742 closed, assigned to ekpyron

[2018-03-16 13:53] come-maiz commented on #3732
The thing is that the binaries from /snap/bin are executed in the snapd confined environment, which makes some redirection to find the libraries inside of your snap instead of searching them on the system.

What you have to do is to add /snap/bin to $PATH. Which I've just tried on debian and it happens after reboot, so I'm not sure why it didn't happen to you. You can ask about it on https://forum

[2018-03-16 14:34] come-maiz commented on #3732
Actually, the release scripts are working because we have 0.4.21 on candidate:
[code]
What didn't work was the version script, no idea why. So I've pushed the candidate snaps to stable, which will have the wrong tag on the snap but will show the right version on `solc --version`. Please let me know if you find any other troubles, and I'll dig on this.

[2018-03-16 16:19] mudgen opened #3755 "Function overload clash when using the extern keyword"
I noticed that when using solidity versions  0.4.20 and  0.4.21 that I get a name clash error when I try to compile an interface that has this code in it:
[code]
This is the error I get:

But this code should work, but it does not.  It does work if I change the keyword external to public.
The code is from the ERC721 standard.

I am using the compiler in remix.

https://github.com/ethereum/solidity

[2018-03-16 16:32] mudgen commented on #3755
Nevermind, it was a bug in my code.

[2018-03-16 16:32] #3755 closed, assigned to nobody

[2018-03-16 17:13] AlexAtShyft opened #3756 "Emscripten Build of Solidity on Windows ==> Could not find the following static Boost libraries:"
I have the output of my cmake run using the following syntax:
[code]
  I have the Include file and Library directory file set correctly and tried a few different Library paths but keep getting the error below:
[code]

[2018-03-16 17:57] chriseth commented on #3325
Furthermore, if parentheses are given, the number of arguments has to match the number of parameters (currently, empty parentheses is the same as no parentheses).

[2018-03-18 02:43] agroce opened #3759 "Constant folding with arbitrary precision arithmetic?"
contract c {
function f() returns (int) {
return 4 ** 4 ** 2 ** 4 ** 4 ** 4 ** 4 ** 4 ** 4 ** 4 ** 4 ** 4 ** 4 * 2;

}

Causes the compiler to hang (surprisingly, not exceed memory limit) for hours.  Not sure a "bug," but worth reporting as sub-optimal.

[2018-03-18 02:43] agroce commented on #3759
(same TSTL effort)

[2018-03-18 02:55] clrke commented on #2948
Yup, is it not possible to get all `DonateInfo`s?

[2018-03-18 07:11] njaliu opened #3760 "Solc --optimize produces a function which consumes higher gas?"
`

    address public constant minter1 = 0x884FFccB29d5aba8c94509663595F1dBF823dCC9;

    address public constant minter2 = 0x5aCC33B4318575581a80522B2e57D1d09e5eC111;

    function checkMinter() {
      require(msg.sender == minter1 || msg.sender == minter2);
    }
`

Regarding the code above, I compiled it using `solc --gas` with and without `--optimize` respectively.
The output indicates that w

[2018-03-18 22:23] MatthewDLudwig commented on #3541
Does the situation differ if you're taking something out of a mapping or array and don't want to create the space for it, just reference the stored object?

    Player storage player = players[_tokenId];
    playerName = player.name;
    internalPlayerId = player.internalPlayerId;
    sellingPrice = playerIndexToPrice[_tokenId];
    owner = playerIndexToOwner[_tokenId];

This code isn't accessing

[2018-03-19 11:47] axic opened #3761 "Document 0.5.0 features"
Create a section in the documentation explaining changes introduced by 0.5.0.

Most of these need to be found based on:
- https://github.com/ethereum/solidity/issues/2511#issuecomment-361469013
- changelog
- source code and/or git commit history :)

[2018-03-19 11:47] axic opened #3762 "Include testing guide in the "How to contribute" section"

[2018-03-19 12:57] chriseth commented on #3759
I think we detect that in the case of a single exponentiation, but not with multiple.

[2018-03-19 12:59] chriseth commented on #3760
Especially with regards to constants, the optimizer has to decide on a trade-off: There are multiple ways to represent constants which produce different costs for storing the code (i.e. at deploy time) and for running the code (i.e. at runtime). Could you also compare the costs for the constructor in both version? The trade-off factor can be adjusted with the `--optimize-runs` switch.

[2018-03-19 13:23] njaliu commented on #3760
@chriseth Thanks for the explanation. I tried the `--optimize-runs n` with n=1,15,150,200,10000000, and the gas estimation becomes the same as the non-optimized code (i.e., 88). Is solc expected to generate such a compilation? Or can I say for this code, non-optimized contract is better "optimized"?

[2018-03-19 18:25] erak commented on #3762
@axic Should I add this to the 0.4.22 project?

[2018-03-19 18:30] Astrovicis commented on #2469
I would very much appreciate this feature being added. I've been carefully deliberating between trying to find a way to accomplish this with library and interface syntax vs. just storing function selectors at the top of my contracts and using delegatecalls. Alas, it seems that the feature is not currently supported. After discovering this issue, I am sad, and will be going forward with what @rainb

[2018-03-19 19:18] OTTTO commented on #2469
you can already very easily decouple storage from logic with 2 contracts and an interface.
i see no added benefit.

[2018-03-19 19:24] VoR0220 commented on #2469
@OTTTO I would argue it's not easy at all but if you can point me to a project that has lived on the main chain and gone through numerous updates changing the interface and the underlying formatting of the storage of a contract, I would be much obliged.

[2018-03-19 19:36] OTTTO commented on #2469
@VoR0220,
i will admit, i have yet to seen any reasonable way to change the data schema of the storage.

best way i've encountered so far is looping through all previously deployed storage addresses from the main contract in order of newest to oldest w/a getter function

[2018-03-19 19:40] VoR0220 commented on #2469
There's no way in hell you believe that that is actually the most efficient way of doing this. My point being, we need to decide on an efficient and safe way and deeply integrate that language level for ease of management of contracts and long term sustainability of these development environments. My personal favorite solution for solving this at the EVM level is over here:
https://github.com/ethe

[2018-03-19 19:51] Astrovicis commented on #2469
@OTTTO The typical solution to create an interface for a library is to create an abstract contract but that doesn't allow you to use the 'storage' keyword. And if you try to create an "abstract library" i.e. a library with only function signatures, truffle (at least, not sure about straight solcjs) throws a
[code]

Clearly its not generating the function selector correctly. It's probably not payin

[2018-03-19 20:08] axic commented on #3762
I think documenting the issue at hand (format of SyntaxTests) would be a good start and should fit into the time. Documentation everything about testing may take longer.

[2018-03-19 21:02] colinjcohen opened #3764 "Building Solidity Documentation Needs Some Updates"
The instructions for building from source on Windows should be updated to reflect the latest version of Visual Studio. This include this cmake command:

`cmake -G "Visual Studio 14 2015 Win64" ..`

The documentation probably should also mention that VS Build Tools should be installed.

[2018-03-20 00:32] kyriediculous commented on #2948
Breaking down the struct into an array will not work either without converting strings to bytes and back, it's quite the messy workaround as well imo.

Using 0.4.22 and experimental ABIEncoderV2 still getting the error.

It would be really cool if this could receive some priority, I imagine many devs would like to see this feature. Not trying to be pushy here :smile: .

Wouldn't having a struct as

[2018-03-20 06:33] njaliu commented on #3760
@chriseth Thanks for the explanation! I tried tuning via the `--optimize-runs`. With n=1, 10, 100, 1000, the gas is still 214 (same as `--optimize`). However, when n=20000, the gas becomes 76. But still, in case of small values of n, non-optimized outperforms optimized, 88 vs 214.

[2018-03-20 10:17] winterkasten opened #3765 "Unused code generated when creating arrays in memory"
Im currently running version 0.4.21 of solc on my linux platform. When compilig this code
[code]
with optimization to evm assembly language, I recognized some instructions, which seems to me as unused. At the end of the assembly file there are two jump addresses:
[code]
which are never jumped to during execution. These adresses are never placed on the stack for jumping. The only appearance of tag_

[2018-03-20 10:24] chriseth commented on #3760
@njaliu as I said, the word "outperforms" is only valid if you also take a look at the deployment costs.

[2018-03-20 13:30] chriseth opened #3766 "Re-enable dead code removal"
Unused code removal was disabled because code can be jumped to from inline assembly and internal functions can be referenced from constructors, stored in storage and then jumped to after deployment.

This means that removing code blocks whose labels are unreferenced may lead to invalid code.

Once we fully disabled the use of the `jump` opcode in inline assembly, and we changed the way internal fu

[2018-03-20 13:30] chriseth commented on #3765
We disabled the unused code remover some time ago because removing blocks that start with tags that are not referenced can lead to invalid code. There are two situations where this can happen:

1. inline assembly that uses things like `jump(x)` where `x` is a variable
2. internal function identifiers stored in storage, especially when used inside the constructor

The first situation can only happe

[2018-03-20 13:55] chriseth commented on #3765
On the other hand, the code should of course not be generated in the first place.

[2018-03-20 17:30] axic opened #3767 "Always use returndatacopy if supported"
After #3308 we'll have four different cases for external calls and their return values:
1) static length expected (<byzantium): doesn't use `returndatacopy`, calculates the expected length, `call` allocates the memory
2) static length expected (>=byzantium): doesn't use `returndatacopy`, calculates expected length, `call` allocates the memory, **but** the return length is restricted for the ABI de

[2018-03-20 19:07] gakonst opened #3768 "2 SSTORE instead of 1 when assigning as a struct"
[code]

In the above example, assigning `A(1,2)` to `a` requires 2 sstore operations,.
Assigning via `a.x` and `a.y` instead packs the values as expected and requires 1 sstore only.
I'm checking via: `solc --optimize --asm Test.sol | grep sstore | wc -l`
I've noticed the [documentation](https://solidity.readthedocs.io/en/latest/miscellaneous.html#internals-the-optimizer)  talks about this, but why

[2018-03-20 22:05] federicobond commented on #3766
Why not throw an error on dead code instead of silently removing it?

[2018-03-21 09:46] chriseth commented on #3767
Since `returndatacopy` has a cost, I would actually prefer to use it only if dynamic data is expected. We could "simplify" case 2 to "don't use `returndatacopy`, calculated the expected length and check that the real length is at least as long" (I actually thought #3308 is implemented that way).

[2018-03-21 11:14] chriseth commented on #3766
This is about dead EVM code, not dead Solidity code.

[2018-03-21 11:15] chriseth commented on #3768
Might be already fixed in a pending PR. Assigning to the current project to re-check.

[2018-03-21 11:18] Ornataweaver commented on #2608
https://www.bitdegree.org/learn/solidity-visibility-and-getters/

[2018-03-21 14:29] hjorthjort commented on #3069
For what its worth, this is limited to `public` functions. If you can make it `internal` or `private` the problem is circumvented.

[2018-03-21 14:39] axic opened #3769 "Consider adding calldataEncodedSize/isDynamicallyEncoded to TupleType"
This would simplify the code in `ExpressionCompiler` added by #3308.

[2018-03-21 15:28] chriseth opened #3770 "Modifier that uses `msg.value` should generate a warning if used in non-payable function"
This should generate a warning:

[code]

[2018-03-21 15:28] chriseth commented on #3770
Discovered in https://github.com/ethereum/solidity/pull/3763

[2018-03-21 15:43] axic commented on #3770
Perhaps we need to add new test cases within modifiers for every single statement covered by `ViewPureChecker`.

[2018-03-21 17:12] #2964 closed, assigned to nobody

[2018-03-21 17:12] #3270 closed, assigned to nobody

[2018-03-21 17:12] #3516 closed, assigned to chriseth

[2018-03-21 17:20] axic opened #3771 "Update the documentation regarding returning dynamic data (ie. strings, structs)"

[2018-03-21 17:55] kaibakker commented on #3463
I would be interested in this, are there any plans to implement this? Would this create a function which takes bytecode and abi and outputs julia/solidity code?

[2018-03-21 18:06] axic commented on #3463
This is actually a substantial internal change to the current "code generator" in the compiler, which takes Solidity AST and outputs EVM instructions (the `libsolidity/codegen/` directory in the sources).

The features/changes needed are the ones above, in order of implementation.

The first task is actually quite easy and would be a good start if you are interested in learning more about the inte

[2018-03-21 18:20] chriseth commented on #3463
I'm actually not sure if this is possible at all...

[2018-03-21 18:21] chriseth commented on #3463
Saying: I think this should be further discussed before effort is put into it.

[2018-03-21 18:23] axic commented on #3463
First task above is useful in general (though instead of a flag there could be a helper to return true if a `FunctionDefinition` uses jumps), but we didn't fully discuss the feasibility of everything else.

[2018-03-21 18:34] chriseth commented on #3463
I think that rewriting those using proper iulia is much faster and less error-prone.

[2018-03-22 01:13] beether commented on #3270
I was looking for this exact feature and found it implemented 8 hours ago.  Awesome work.  Looking forward to the nightly build!

@fulldecent Spot on with the Piecemeal approach. Not exposing an indexed getter() could be a security risk.  Is it possible to have an compiler warning for views returning dynamic arrays-of-arrays that the response is not always guaranteed to work?

[2018-03-22 01:45] axic opened #3774 "Consider support homebrew better and pushing bottles every release"
Bottle is a prebuilt homebrew package. Currently our homebrew is source only, it will be compiled every single time at the users' computer.

Implementation for bottles: https://github.com/ethereum/homebrew-ethereum/pull/119

What is required here is building it for different (or at least that last macOS release) in our release tooling. This requires a CI which runs macOS properly.

[2018-03-22 04:58] fulldecent commented on #3270
@beether The compiler will not check for that because it is too difficult and requires conventions.

A new new SALOAD instruction (storage load from arbitrary account) would solve this. Then you could do:

[code]

My idea here does not have consensus. And it is a breaking change to a fundamental concept (the implicit functions) -- it would not be accepted.

[2018-03-22 09:40] beether commented on #3270
@fulldecent Couldn't the compiler warn anytime a view returns arrays-of-arrays? It's similar to an infinite gas warning.

[2018-03-22 13:21] federicobond commented on #3563
I cannot reproduce this on the latest version. It says:
[code]

[2018-03-22 14:34] L-F-Escobar commented on #3577
@chriseth Any idea when it will be allowed? I just discovered this issues when attempting to nest structs since it appears you can only have around 11 members in a struct

[2018-03-23 12:57] nebojsa94 opened #3776 "Constant variables in inline assemby"
Is there a reason for this error? You could evaluate the constant and then copy value to assembly in compile time, right?

[2018-03-23 17:08] JohnAllen commented on #3301
How to access the values in returned tuples? Using the types instead of `var` does not work.

[2018-03-23 19:23] agroce commented on #3759
This form also sends the compiler into a hang:

[code]

Same underlying problem, but different enough might be useful for fixing the detection.

[2018-03-23 22:48] OTTTO commented on #3301
potentially ```var``` could only be used for tuple destructuring.

[2018-03-24 00:06] aarlt opened #3777 "CompilerStack::analyze(): SMTChecker/z3: global shared state prevents multi-threaded usage"
Due to the usage of an allocator that seem to be managed through global shared state within the `z3` library a multi-threaded usage of multiple `CompilerStack` instances is prevented (if they call  `CompilerStack::analyze()`).

So basically I do this:
[code]
![screen shot 2018-03-24 at 00 13 13](https://user-images.githubusercontent.com/5008794/37857335-820584a4-2efa-11e8-9b9e-5377f3047993.png)

A

[2018-03-24 00:27] axic commented on #3777
Good catch! Can you ask around on https://github.com/Z3Prover/z3 ?

cc @leonardoalt

[2018-03-24 03:48] razlaf opened #3778 "Convert ETH into another coin (Like CAN)"
Hi ,
I'm new to block chain technology. My question is How can convert ETH into another virtual coin ? is there are any sample code or document available for reference ? can I do this with solidity ? any one please help on this .

thanks.

[2018-03-24 07:34] EricForgy commented on #3241
I also came upon this thread as someone developing code in Julia and considering writing a Solidity wrapper. I think Julia has huge potential to promote Ethereum smart contracts.

[2018-03-24 07:41] EricForgy commented on #3241
@StefanKarpinski

Is there anything public you can share about this? I would be interested 😊

[2018-03-24 12:02] denisglotov opened #3779 "Gas estimates infinite"
The compilation of the following contract results that the gas estimate of all 3 functions is infinite.
[code]
**Note**, that commenting out the last line solves the problem and all estimates become finite.

Solc version
-------------
0.4.19+commit.c4cbbb05.Linux.g++,
0.4.21+commit.dfe3193c.Emscripten.clang.

Reproduce steps
------------------
Use Remix, copy the above contract code there, see 3 y

[2018-03-24 12:38] DanielRX commented on #3779
Just to add, this seems to be an issue of a view function being allowed (assumed allowed) to call a state changing function (the fallback). So the gas estimate is wrongly added the fallback function to the gas cost.

[2018-03-24 14:59] StefanKarpinski commented on #3241
No, it was just something I heard from people in passing, probably at the last JuliaCon.

I'll take the bumping of this thread to enquire if there's been any progress on this issue. @chriseth, any news on the rename?

[2018-03-24 16:39] OTTTO commented on #3779
@DanielRX, the view modifier is to be enforced as of 0.5.0.  so, that should hopefully fix the issue.

[2018-03-24 17:06] mamohanc commented on #3080
@divz1010 Did you happen to resolve it. Please let me know

[2018-03-24 19:14] chaoliu92 opened #3780 "Define rules for writing custom getters for public functions"
As I understand, every **public state variable** will have a corresponding **external getter function** with the same name (but can have necessary input parameters for some cases).

My question is what if I have a function _with the same signature_ (function name and input parameter types) as this auto-generated getter function?

I've experimented with the following simple contract in Remix, and I

[2018-03-24 23:06] DanielRX commented on #3779
@OTTTO Yeah, I wasn't sure when it was, does the fallback function get included in that, as it already shows a warning on a view calling an non-view, but not for the fallback?

[2018-03-25 00:55] VoR0220 commented on #3241
SOLIDIA?

[2018-03-25 05:34] sjashwin opened #3781 "installing dependencies python"
My system already has python installed. Still when installing dependencies I see the line `Downloading https://www.python.org/ftp/python/3.6.4/Python-3.6.4.tar.xz`. This could be skipped If the system already has the required dependencies, removing redundancy.

[2018-03-25 10:16] OTTTO commented on #3241
SOLVENT

[2018-03-25 19:31] VoR0220 commented on #3780
This is to reduce costs. Basically any time there is a public state variable made available, it automatically generates a public gitter. Someone feel free to close this as already answered in the docs?

[2018-03-26 02:54] lookforwardto opened #3782 "smartcontract storage"
As we known, block chain can not change since create. why  smart contract function can change the value?

[2018-03-26 03:01] yongloon commented on #3782
@lookforwardto
Smart contract is immutable, contract code **cannot** be modified after publishing to the network. The value is stored in the storage of the contract **can** be modified.

[2018-03-26 08:22] ellis2323 commented on #3301
So what's the fix for the 0.4.21. I have many functions like:
var (,a,,,,b,,,,,c,,,,,) = crazyfunction()
auto doesn't work. And no fix in the documentation.

[2018-03-26 08:47] jtakalai commented on #3301
@OTTTO right, I'm not protesting deprecating `var` per se, just its one and only very nice use case probably should be re-thought somehow...

[2018-03-26 10:14] axic opened #3784 "Documentation overhaul"
We had several discussions in the past about improving the documentation. This list below is the outline of tasks to be done.

In order of importance:
- Close off all the issues labeled `documentation` (https://github.com/ethereum/solidity/labels/documentation)
- ~Merge the FAQ into the main documentation (#1219)~
- Add an introductory section for deploying and interacting with smart contracts in

[2018-03-26 10:53] axic opened #3785 "Optimise emscripten output for speed and less for size"
Connected to #2506.

[2018-03-26 10:56] chriseth opened #3786 "Disallow conversion between bytesX and uintX of different sizes"
Conversions between bytes and integer types always confuse people. It is rather straightforward to convert between bytes and uint types of the same size (nothing happens on the high-level side, alignment change on the low-level side). Size-changes inside the same type are also not too difficult (bytesXX is left-aligned, i.e. padding or cutting on the right, uintXX is right-aligned, i.e. padding or

[2018-03-26 12:45] axic commented on #3778
Please ask questions like that on https://ethereum.stackexchange.com

[2018-03-26 12:45] #3778 closed, assigned to nobody

[2018-03-26 12:45] axic commented on #3781
Where exactly do you see that? What platform and packaging system do you sue to build solidity?

[2018-03-26 12:46] axic commented on #3782
Better to discuss this on https://ethereum.stackexchange.com.

[2018-03-26 12:46] #3782 closed, assigned to nobody

[2018-03-26 12:48] axic commented on #3776
This is a missing feature, let's see if we can support it for 0.5.0.

[2018-03-26 13:48] axic commented on #3314
This is a safety improvement.

[2018-03-26 20:28] axic opened #3787 "Consider using Cable"
See: https://github.com/ethereum/cable

A lot of the shared CMake file could be pulled from there.

[2018-03-26 20:28] axic commented on #3787
@chfast @chriseth what do you think?

[2018-03-26 20:49] wbt opened #3788 "Unexpected compilation differences leading to gas cost differences"
Summary
----
Making some small changes to a contract changes gas usage in surprising ways.  This Issue gives code/steps to reproduce and identifies those surprising ways, identified by letters, below.

Code to reproduce
----
I have the following files in a Truffle project:

`contracts/Contract.sol`:

    pragma solidity ^0.4.0;
    contract Counter {
        int public value; //starts at 0 by defa

[2018-03-26 21:04] axic commented on #3788
This first call changes `value` from 0 to non-zero. Internally that is done using the `sstore` opcode, which has this behaviour.

This is due to the dispatcher function being an if-else jungle. #1289 is an issue to document this.

This is because the order of function in the dispatcher is determined by the function signature (the hash of the function + its parameters). See the previous point.

It

[2018-03-26 22:54] wbt commented on #3788
Thanks!  This is helpful and the underlying reasons were not intuitive!

[2018-03-26 22:54] #3788 closed, assigned to nobody

[2018-03-27 03:22] axic commented on #3241
Please also check the other renaming thread starting from here: https://github.com/ethereum/solidity/issues/2131#issuecomment-297799187

[2018-03-27 03:38] EricForgy commented on #2131
Yes please :)

Julia is generally a great language not limited to scientific computing and there is a good chance we and / or others will use it for implementing smart contracts on Ethereum at some point so the chance of confusion is high I think.

[2018-03-27 09:49] chriseth commented on #1789
This has been fixed.

[2018-03-27 09:49] #1789 closed, assigned to nobody

[2018-03-27 10:38] chriseth opened #3789 "Deprecate multi-arg functions taking anything apart from bytes"
Since we now have the `abi.` collection of encoding functions, we should deprecate the use of `call`, `callcode`, `delegatecall`, `sha3` and potentially other functions that take arbitrary number of arguments and just allow their versions that take a single `bytes` argument.

[2018-03-27 10:40] #2970 closed, assigned to erak

[2018-03-27 10:40] chriseth commented on #3780
We are currently working on a proper inheritance and shadowing specification: #3698

[2018-03-27 10:40] chriseth commented on #3780
Sorry, the correct issue is https://github.com/ethereum/solidity/pull/3729

[2018-03-27 10:42] chriseth commented on #3777
Solidity was never designed to be used in a multi-threaded setting. You will find other places where this will go wrong. I *really* want to avoid using manual mutexes. Also, you have to ensure that the compiler is still deterministic, which could be a challenge to test.

[2018-03-27 12:06] aarlt commented on #3777
Yep, I know that Solidity is not designed to run in a multi-threaded environment. I would also avoid the introduction of these manual mutexes. But if there is a way to prevent the usage of that global shared state within `z3` - e.g. by using different API's - we should change it from my point of view.

If I find some time, I will look into `z3`.

[2018-03-27 12:58] aarlt commented on #3777
Hmm.. looks like that the easiest solution could be to move the instantiation of the `SMTChecker` from `bool CompilerStack::analyze()` into the the constructor of `CompilerStack`. Within `bool CompilerStack::analyze()` we should then just call `m_smtChecker.analyze(*source->ast);`. Doing so, the `context` for `z3` was already constructed. If every thread using it's own `z3_context`, `Z3` should be

[2018-03-27 13:06] maurelian commented on #3356
This would be very useful. When a storage value is meant to be immutable, then a `constant` value is both safer and more gas efficient. However developers often avoid using them because it reduces the portability of the code.

That said... I'm not sure how it could even be done in the current solidity constructor, since the values would need to be placed into the bytecode itself, like linking a li

[2018-03-27 13:09] aarlt commented on #3777
hmm.. i just realized that the `jsoncpp` usage in `libdevcore/JSON.cpp` may become a problem..
e.g.
[code]
I will probably find it out quite soon.. I will let you know..

[2018-03-27 13:10] chriseth commented on #3577
This is working in 0.4.21.

[2018-03-27 13:12] chriseth commented on #3759
@bit-shift please also add a test for the one above.

[2018-03-27 13:17] chriseth commented on #3776
This might cause problems unless the constant values are known at compile time (for some, we only copy the expression). Also, it could get messy for strings and byte arrays (because inline assembly only receives the address).

[2018-03-27 13:18] chriseth commented on #3787
At the moment, this repository is rather self-contained, which allows builds from the tarball only. I'm not sure if cable will provide such a big improvement for us.

[2018-03-27 13:19] chriseth commented on #3241
This has been answered in the first comment, I don't see a need to keep this issue open.

[2018-03-27 13:23] chriseth commented on #3777
I specifically did not pay attention to problems that might arise in a multi-threaded context, because Solidity was explicitly designed to be single-threaded.

[2018-03-27 13:25] chfast commented on #3787
I agree with @chriseth. Use it if you need it.
I'm only doing this because we are constantly creating new repos powered by CMake, and I don't want to repeat the same patterns all the time (CMake is very verbose).

[2018-03-27 13:28] #3271 closed, assigned to chriseth

[2018-03-27 13:28] #3762 closed, assigned to erak

[2018-03-27 13:30] StefanKarpinski commented on #3241
I'm a bit confused. The name doesn't seem to have been changed in the code or the documentation. Isn't the idea behind issues to track things that still need to be fixed/changed, which is a category this still seems to be in? Or do you not use GitHub issues that way? Is there another issue tracker that would be more appropriate to follow so that I can be notified when this issue is resolved?

[2018-03-27 13:35] holgerd77 commented on #3241
I also find this questionable to close this issue now with so many upvotes on this and the related thread going in another direction.

[2018-03-27 13:41] chriseth opened #3791 "Update documentation: change Julia to yul"

[2018-03-27 13:42] chriseth commented on #3241
I have created an issue to update the documentation: https://github.com/ethereum/solidity/issues/3791

[2018-03-27 13:42] chriseth commented on #3791
This also includes other public-facing things like commandline switches.

[2018-03-27 13:44] axic commented on #3241
Also there have been two comments in this thread which didn't feel `Iulia` is a big enough change. It would be nice to address these concerns.

[2018-03-27 13:48] #3458 closed, assigned to nobody

[2018-03-27 14:20] axic commented on #3776
Which I think is a bad idea. See #3157.

If we'd split `constant` into `constant` and `constexpr`, then inline assembly could support `constant` and if someone wants to use an expression, it must be assigned (and evaluated) to a constant first.

[2018-03-27 14:44] aarlt commented on #3777
@chriseth thank you for your feedback! i just decided to do the multi-threaded usage of Solidity libraries optional. I guess there will be no big performance benefit in the average case - but only headaches - if my code just rely on pure multi-threading usage. I will mark that feature as highly experimental :) So thanks again :)

[2018-03-27 15:02] StefanKarpinski commented on #3241
There are at least two reasons that `iulia` does not seem sufficiently different to avoid confusion:

1. `julia` and `iulia` are visually very similar in both uppercase and lowercase forms;
2. `julia` and `iulia` are pronounced similarly in most languages and the identically in many.

Someone seeing the name "iulia" or "Iulia" in a talk title or hearing it pronounced by many speakers might easily

[2018-03-27 23:44] zitterbewegung commented on #10
This feature sounds interesting . Would people prefer a hygienic syntactic macro system?

[2018-03-27 23:46] zitterbewegung commented on #10
Something similar to http://www.sweetjs.org

[2018-03-28 06:09] IcyLemon opened #3792 "Failed to decode output: Error: Number can only safely store up to 53 bits ？"
I ecountered a problem. My code snippet is below:
[code]
Note: in get() method, I want to return a string array (so I use  "pragma experimental ABIEncoderV2;").

I debug above code in Remix Solidity IDE. Firstly add an employee successfully, then when I invoke get(), error occures as follow:
`error: Failed to decode output: Error: Number can only safely store up to 53 bits `

It appears that the s

[2018-03-28 09:16] #3738 closed, assigned to nobody

[2018-03-28 09:19] onggunhao commented on #3784
For Point 5 (_Include more real-world examples of smart contracts in a tutorial-esque step-by-step format. Create snippets that build up from small contracts to more complex contracts_)

Could we explore using Twilio's step-by-step tutorial framework? It's pretty nice and seems to be licensed under MIT.

Demo of Twilio tutorial:
https://www.twilio.com/docs/tutorials/account-verification-node-expre

[2018-03-28 11:42] Cryt1c commented on #3164
This is also an awesome introduction into the tools of the space and how to deploy your first smart contract on your private blockchain: https://codeburst.io/build-your-first-ethereum-smart-contract-with-solidity-tutorial-94171d6b1c4b

[2018-03-28 14:13] erak commented on #3759
@chriseth Please have a look :) https://github.com/ethereum/solidity/pull/3793

[2018-03-28 14:17] erak commented on #3759
Should we close this as duplicate of #3327? Slightly different scenario but both will be fixed with the same pull request.

[2018-03-28 14:51] erak commented on #3522
@chriseth I found the following case which is not handled correctly:
[code]
Division by zero e.g. ``uint constant a = 1 / 0`` seems to be catched by ``binaryOperatorResult``. Do you have another example?

[2018-03-28 15:07] ehildenb commented on #3241
https://nameberry.com/list/49/Julias-International-Variations

[2018-03-28 15:36] ehildenb commented on #3241
@chriseth just my 2 cents.

I don't mind much whatever choice of name people might have, language names aren't super important to me. It does seem like there is widespread support for changing the name and this is becoming a blocker for adoption.

[2018-03-28 15:52] tolymoz opened #3794 "Comparison of int literals with different signs"
It looks that comparison operators in _if_ statements work well with literals with the same signs
`if ( 3 >= 5 ) { ... }`
`if ( - 4 != -1 ) { ... }`

but with different signs, it gives unexpected compiler error
`if ( -1 >= 4 ) { ... }`
Logically, such operation should be valid.

[2018-03-28 20:37] erak commented on #3039
@ekpyron Running the follwing
[code]
through ``isoltest`` does not expose the ``InternalCompilerError`` that occurs here. It rather acts as expected and shows a ``ParserError`` instead. Seems the exception is been caught.

Is handling ``ParserErrors`` in ``isoltest`` supported at all? I could not make the expectations work.

[2018-03-29 00:53] #3037 closed, assigned to nobody

[2018-03-29 03:52] Fire-boy opened #3795 "get balance is error"
//source code:
[code]
//after run:
[code]

can you send to my email ? : 961051751@qq.com  thank you!

[2018-03-29 07:20] chriseth commented on #3794
What do you mean by "unexpected compiler error"? Is it an internal error or is it just an error that you would net expect?

If it is not an internal error, then there are at least three different things that come together for this to happen:

 - we only have infinite precision for rational numbers and not for bools
 - the final type of a rational number only depends on the number itself and not th

[2018-03-29 07:46] chriseth commented on #3759
If the pull request fixes both, then just add a "fixes" entry to the description of the pull request.

[2018-03-29 07:52] chriseth commented on #3795
Can you describe the scenario in which you run this in a little more detail, please?

[2018-03-29 08:23] Fire-boy commented on #3795
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                4
On-line CPU(s) list:   0-3

OS:CentOS Linux release 7.4.1708 (Core)
Linux localhost 3.10.0-693.11.6.el7.x86_64 #1 SMP Thu Jan 4 01:06:37 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
soft:  go-ethereum-1.8.1
my private chain

[2018-03-29 08:25] chriseth commented on #3795
Sorry, what I meant to ask was, how did you set up your blockchain? What is the actual balance of that account? `gethEth` and `getBalance` could be consistent with each other, but these numbers are certainly not something you would see in a production blockchain.

[2018-03-29 08:33] Fire-boy commented on #3795
this is my  blockchain. the balance of eth.accounts[0] should be 5.31827682037048e+23,but contract HelloWorld's function  getBalance(eth.accounts[0])  is 1.15792089237316195423570985008687907853269984665640564039455084007913129639935e+77,so I want to know why get so big number!

[2018-03-29 08:33] Fire-boy commented on #3795
this is my  blockchain. the balance of eth.accounts[0] should be 5.31827682037048e+23,but contract HelloWorld's function  getBalance(eth.accounts[0])  is 1.15792089237316195423570985008687907853269984665640564039455084007913129639935e+77,so I want to know why get so big number!

[2018-03-29 08:38] Fire-boy commented on #3795
I'm sorry my english is so poor,I can't make you understand known me,can you speak chinese.

[2018-03-29 09:28] chriseth commented on #3795
Since the contract is very simple, I do not think this is a problem with solidity. You might get better answers (and perhaps also by people who speak chinese) at https://ethereum.stackexchange.com

[2018-03-29 09:43] axic commented on #3795
I think for some reason all bits (or at least the top bit) are set for the balance, hence the `int256(_addr.balance)` returns a negative number.

It is impossible to know without seeing the configuration for your chain and tools (the client, the tool you use to interact with the RPC, web3.js, etc.).

Please try your contract in https://remix.ethereum.org (where it actually works).

[2018-03-29 09:43] #3795 closed, assigned to nobody

[2018-03-29 09:49] axic commented on #3511
Somewhat related is #3761 for documenting 0.5.0 features.

[2018-03-29 10:16] tolymoz commented on #3794
It looks comparison operators define literal types differently in the first and the second positions.
If we try with variables type conversion of comparison operators works well in both positions:
`int8 x = -1;`
`uint16 y = 10;`
`if( x != y ) { ... } //OK`
`if( y != x ) { ... } //OK`

If  we use one literal:
`if( x != 1) {} //OK, 1 has type int8`
`if( 1 != x) {} //Compiler error, 1 has type uint8`

[2018-03-29 10:22] chriseth opened #3796 "Type checking for comparison operator with literal and int8 is not symmetric."
[code]

[2018-03-29 10:22] chriseth commented on #3794
Oh wow, this is weird. Created a new issue for that: https://github.com/ethereum/solidity/issues/3796

[2018-03-29 10:24] #2969 closed, assigned to chriseth

[2018-03-29 10:45] tolymoz commented on #3796
Such mistake is also possible to find for int16 (probably for others as well). It just depends on the literal, which int type it needs.
Example:
        `int16 x;`
        `if( x == 255) {} // OK`
        `if( 255 == x) {} // OK`
        `if( 256 == x) {} // Compiler error`

[2018-03-29 11:03] Pzixel commented on #1629
@axic
Happenned to me today:
[code]

For this file
[code]

Version: 0.4.21+commit.dfe3193c.Windows.msvc

[2018-03-29 11:10] Pzixel commented on #1629
---

I found out what happens: it fails when path ends with separator. `obj/debug` works while `obj/debug/` doesn't.

[2018-03-29 11:10] Pzixel commented on #1629
@axic
I found out what happens: it fails when path ends with separator. `obj/debug` works while `obj/debug/` doesn't.

[2018-03-29 12:40] eduardocruz commented on #3162
Same here

[code]

[2018-03-29 13:59] JohnAllen commented on #3301
@ellis2323 https://github.com/ethereum/solidity/issues/3301#issuecomment-372589186

[2018-03-29 15:26] d10r commented on #3301
I also think it should be possible to keep destructuring assignments oneliners.
`(uint a, string b) = somefunction();`
seems a natural choice.

For elements to be ignored, a syntax [like in Rust](https://doc.rust-lang.org/book/second-edition/ch18-03-pattern-syntax.html#ignoring-values-in-a-pattern) (_ for a single, .. for multiple values) could be a good option.
`(_, string b) = somefunction();`
o

[2018-03-29 15:34] d10r commented on #3314
I also think it should be possible to keep destructuring assignments oneliners.
`(uint a, string b) = somefunction();`
seems a natural choice and wouldn't be less safe than the multi-line version.

For elements to be ignored, a syntax [like in Rust](https://doc.rust-lang.org/book/second-edition/ch18-03-pattern-syntax.html#ignoring-values-in-a-pattern) (`_` for a single, `..` for multiple values) c

[2018-03-29 17:59] randomnetcat commented on #3796
Okay, I got it down to asymmetrical handling of the literal.

When the variable is on the left, the compiler checks `IntegerType::binaryOperatorResult`. Inside this call, `commonType` finds that the literal's `RationalNumberType` is implicitly convertible to `int8`'s `IntegerType` However, in `RationalNumberType::binaryOperatorResult`, it first converts itself to its `mobileType`, `uint8`, then ch

[2018-03-29 20:17] chriseth commented on #3796
So the bug is that we forgot another conversion to mobile type?

[2018-03-29 20:59] NachoPal commented on #2681
Yeah! It would be nice to be able to highlight solidity sintaxis for Gists as well. Apparently it's not yet possible. I didn't find any solution.

[2018-03-29 20:59] randomnetcat commented on #3796
I think it's kind of the opposite. When you take the mobile type of the rational, you lose comparison compatibility with either the signed or unsigned integer types, depending on whether the literal is signed. The problem is that rational's mobileType doesn't know context.

[2018-03-30 08:33] Fire-boy commented on #3795
Hello, my client is the geth command compiled by go-etherum-1.8.1, and the private chain built with this is not called RPC, and the client is set to: geth --networkid... --datadir my dir --syncmode full --port my IP --rpcapi net,eth,web3,personal -- RPC --rpcaddr my RPC IP --rpcport my RPC port console.
I'm going to convert the result strongly into int256 and I get a value of -250000000001, the nu

[2018-03-30 10:16] chriseth commented on #3563
This has been fixed in 0.4.21.

[2018-03-30 10:16] #3563 closed, assigned to nobody

[2018-03-30 11:25] chriseth commented on #3572
This function could either return the new length or a storage reference to the newly created element. The latter could be a little confusing for value types, though, since the two following snippets would have different behaviour:

`x.pushEmpty() = 2;` and  `uint b = x.pushEmpty(); b = 2;`

[2018-03-30 11:26] chriseth commented on #3572
`expand` could be a good name, since we do not actually push anything.

[2018-03-30 13:51] chriseth commented on #3792
The error does not originate from Solidity. This could be a duplicate of https://github.com/ethereumjs/ethereumjs-vm/issues/114 . In any case, it seems to be an error in either ethereumjs or remix.

[2018-03-30 13:51] #3792 closed, assigned to nobody

[2018-03-30 13:59] redsquirrel commented on #3572
I think `expand` makes more sense than an empty `push`.

[2018-03-30 15:37] axic commented on #2877
[Raised by](https://github.com/ethereum/solidity/pull/3538#issuecomment-377548032) @ProphetDaniel:

Why do you think trigger is better?

[2018-03-30 16:29] ProphetDaniel commented on #2877
@axic because if you ask famous search engines:

- for "trigger event" you receive 449,000 occurrences
- for "emit event" only 17,400 occurrences.

So this means trigger verb for event is more popular and so will be more easily understood by computer science students because of that.

Maybe the reason behind this popular conception is that an event is atomic. That means an event is so impulsive th

[2018-03-30 20:30] fulldecent commented on #2877
This is a good argument. Also "trigger log" is more prevalent than "emit log".

Source: https://trends.google.com/trends/explore?q=trigger%20event,emit%20event

[2018-03-30 20:41] fulldecent commented on #3572
I vote for `.push()`. It is very clear what this does and it does not introduce new words into the language.

Not everybody speaks English. And those people need to learn EVERY word related to Solidity.

I had to deal with this problem working on ERC-721. "Title" was a great word for the concept we were creating. But this was very confusing to many people, especially ESL, so we chose "deed" (in ad

[2018-03-30 22:48] axic commented on #2877
There is one reasoning for `emit`: `trigger` suggests something definitely will happen when a log is "emitted", while `emit` only suggests it will be transmitted and free for anyone to be picked up.

The stress is on *definitely*, because there is no guarantee something/someone is listening for the events and that something will happen as a result.

This reasoning may be too thin to justify the ke

[2018-03-31 00:09] axic commented on #3162
I don't think actually `linkapps` makes sense for solidity. Why would anyone need `/Applications/solidity.app`? It cannot be meaningfully run anywhere else but on the command line.

[2018-03-31 08:31] dukei commented on #3301
How about var automatically preserves storage of the variable?
When using var the type is automatically inferred so you should not specify it explicitly.

For example there is `struct OuterType.InnerType` and `function foo() returns (OuterType.InnerType storage)`

With var I can write:
[code]

Without var I should write:
[code]

The latter case is very verbose. I would prefer var in this case.

Wh

[2018-04-01 09:42] sivachaitanya commented on #2824
what did you do ? please elaborate on what you have done

[2018-04-01 13:48] strangepowers commented on #3354
I'm getting something similar:
[code]

[2018-04-01 22:12] xmanemran opened #3804 "array.push doing strange"
[code]

after add one product, when i trey to get products it give me two productsName and productPrices .. :O. Can any one please explain me why?

[2018-04-02 16:11] GNSPS commented on #2824
Basically I wasn't `pop()`ing the elements that get pushed onto the stack by the call

[2018-04-02 20:58] aertoria commented on #169
while lots of people make it work, it still not working for me.

I use remix

[2018-04-03 02:00] lookforwardto opened #3806 "call"
msg.sender.call.value(amount);
msg.sender is a account address, amount is a int, what does function value mean? what does this line code mean?  thx

[2018-04-03 08:05] ekpyron commented on #3039
@bit-shift Parser errors are not yet supported in the new testing framework, so parser tests should still go to ``test/libsolidity/SolidityParser.cpp``.

[2018-04-03 08:35] chriseth commented on #3806
This question is better asked at https://ethereum.stackexchange.com - you will get faster and better replies there.

[2018-04-03 08:35] #3806 closed, assigned to nobody

[2018-04-03 08:43] ekpyron commented on #3039
@bit-shift I'm about to add support for parser errors, though.

[2018-04-03 08:48] chriseth commented on #3804
`productsName` and `productPrices` are invalid storage references. You have to create memory arrays (and create it with the proper size in the first place, memory arrays do not have `.push()`).

[2018-04-03 08:48] #3804 closed, assigned to nobody

[2018-04-03 09:04] erak commented on #3039
@ekpyron Thanks for clarifying! Adding support for parser errors would be great :)

[2018-04-03 09:07] chriseth commented on #3301
@dukei we want to introduce type aliases for this case. For now, please bear with verbosity - I'm a big fan of the Zen of Python: https://www.python.org/dev/peps/pep-0020/#id3

[2018-04-03 09:09] #3162 closed, assigned to nobody

[2018-04-03 09:09] chriseth commented on #3162
I think this might have been a remnant of solidity sharing a repository with AlethZero, AlethOne and AlethFive ;-)

[2018-04-03 14:10] #2912 closed, assigned to chriseth

[2018-04-03 14:15] #3682 closed, assigned to erak

[2018-04-03 14:58] #3691 closed, assigned to nobody

[2018-04-03 15:04] chriseth commented on #3522
What about
[code]

If we cannot think of other cases, then only mulmod / addmod needs to be included.

[2018-04-03 15:15] chriseth commented on #3323
This file contains the example:
[cycles_exp.sol.gz](https://github.com/ethereum/solidity/files/1872137/cycles_exp.sol.gz)

[2018-04-03 16:26] ekpyron opened #3810 "Include source code locations in syntax test expectations."
Include and check source code locations in the expectations defined in the test contracts.

Came up in #3808.

[2018-04-03 16:41] axic opened #3811 "Bool variables should not allow comparison/bitwise operators"
[code]

Only logical `and` and `or` and (non)equality should be supported.

Found by @leonardoalt.

[2018-04-03 16:43] chriseth commented on #3811
Oh wow, bitwise or compiles, but bitwise and does not??

[2018-04-03 16:44] #3684 closed, assigned to chriseth

[2018-04-03 16:45] chriseth commented on #3811
Cannot reproduce (bitwise or).

[2018-04-03 16:46] chriseth commented on #3811
This might be something for Christian to do together with someone else.

[2018-04-03 16:49] axic commented on #3811
It doesn't work here anymore, probably had a wrong version of the binary. The rest still stands.

[2018-04-03 16:55] chriseth commented on #3811
Ah wait a second, it is a change in `binaryOperatorResult` where we do not have access to the pragma, so probably cannot be done as of now.

[2018-04-03 17:46] PhABC commented on #864
Sorry for the ping, status on this?

[2018-04-03 21:04] axic opened #3812 "Document how to use solfuzzer with afl"

[2018-04-03 22:15] #3196 closed, assigned to ekpyron, erak

[2018-04-03 22:20] axic opened #3813 "Document or automate (script?) the building of the eth binary"
From https://github.com/ethereum/solidity/pull/3797#issuecomment-377515524

[2018-04-04 06:06] romfrolov opened #3815 "hash256 -> bytes32 fix in misleading note"
This issue is described here: [EthereumSE](https://ethereum.stackexchange.com/questions/44628/understanding-low-level-interface-to-logs)

Proposed to change:

to

Open pull request: #3814

[2018-04-04 06:16] #3815 closed, assigned to nobody

[2018-04-04 08:35] ekpyron commented on #3520
To be clear:

The grammer of a tuple expression should consequently be changed from

``
TupleExpression = '(' ( Expression? ( ',' Expression? )*  )? ')'
| '[' ( Expression ( ',' Expression )* )? ']'
``

to

``
TupleExpression = '(' ( (Expression, VariableDeclaration)? ( ',' (Expression, VariableDeclaration)? )*  )? ')'
| '[' ( Expression ( ',' Expression )* )? ']'
``

?

[2018-04-04 08:37] ekpyron commented on #3520
No, probably not. I guess it makes more sense to change ``VariableDefinition``, resp ``VariableDeclaration`` to support tuple types instead, since tuples of variable declarations are no expressions...

[2018-04-04 08:43] ekpyron commented on #3520
So changing

``
VariableDefinition = ('var' IdentifierList | VariableDeclaration) ( '=' Expression )?
``

to

``VariableDefinition = ('var' IdentifierList | VariableDeclaration | VariableDeclarationList) ( '=' Expression )?``
``VariableDeclarationList = '(' ( VariableDeclaration? ',' )* VariableDeclaration? ')'``

is probably more like what we want?

[2018-04-04 08:45] ekpyron commented on #3520
Should the assignment be required for multi-variable declarations or should

``(uint a, uint b, SomeStruct c);``

be valid as well?

[2018-04-04 08:48] ekpyron commented on #3520
If the assignment should be required, that would probably mean

``VariableDefinition = ( ( ('var' IdentifierList | VariableDeclaration) ( '=' Expression )? ) | (VariableDeclarationList '=' Expression) )``
``VariableDeclarationList = '(' ( VariableDeclaration? ',' )* VariableDeclaration? ')'``

[2018-04-04 09:03] ekpyron commented on #3520
A potential option would be:

``SimpleStatement = VariableDefinition | TupleDefinition | ExpressionStatement``
``VariableDeclarationList = '(' ( VariableDeclaration? ',' )* VariableDeclaration? ')'``
``TupleDefinition = VariableDeclarationList '=' Expression``

@axic just said we should postpone and further discuss this, though.

[2018-04-04 09:27] axic opened #3816 "Update cpp-ethereum with a known hash for both trusty+artful"
The hash should be e3287e8f1b7f7620555ddeba1c7f915d653b02d5 (which is known to pass bitwise shifting tests).

[2018-04-04 09:36] chriseth commented on #3520
I would say that assignment is required, otherwise it is just weird, even if this adds a special case.

[2018-04-04 09:36] axic commented on #3520
I am not fully convinced this is a problem to be solved.

One benefit of not having it is the visual clarity that new variables are declared, whereas in a tuple declaration they would be less visible.

[2018-04-04 09:37] axic commented on #3520
It is kind of the same discussion whether we should have multiple variable declarations on the same line or not. Currently we do not support that.

[2018-04-04 12:50] ekpyron opened #3819 "Cleanup exceptions and exception handling."
Exceptions and exception handling is somewhat inconsistent throughout the codebase.

For example ``CompilerError``, ``InternalCompilerError``, ``FatalError`` and ``UnimplementedFeatureError`` in ``libsolidity/interface/Exceptions.h`` could be integrated in the ``Error`` class.

[2018-04-04 12:54] chriseth commented on #3819
Those exceptions are not errors: Errors are stuff displayed to the use while the exceptions listed above are just exceptional terminations of some compiler routines, which could result in displaying an error to the user but does not have to.

Apart from that, the Error class should not be an exception, because it should not be thrown, it should just be added to the list of errors.

[2018-04-04 13:07] ekpyron commented on #3819
OK - however it would still be good to be able to handle those exceptions using a common base class.

They already inherit from ``Exception`` and consequently from ``boost::exception``, so they could just add their name (and potentially further information) as ``errinfo_comment``, etc., so that catching ``Exception`` will yield all necessary information and we no longer need to catch them separate

[2018-04-04 15:57] chriseth commented on #3813
We have a working docker file for artful, but not for trusty.

[2018-04-04 16:04] axic opened #3823 "Assertions (division?) hangs with z3"
The following snippet (extracted from https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/math/SafeMath.sol) hangs with the SMT checker turned on:

[code]

I've tried it on 4.6.0.

[2018-04-04 16:19] leonardoalt commented on #3823
Right now I'm testing two examples:
[code]
and
[code]

`z3` says unknown for the first and hangs on the second.
`cvc4` says unsat for the first and unknown for the second.

[2018-04-04 16:19] leonardoalt commented on #3823
Btw, I'm using `z3 4.5.0`

[2018-04-04 19:22] aarlt commented on #3460
@chriseth @axic From my point of view this issue can be closed.

[2018-04-04 19:22] aarlt commented on #3533
@chriseth @axic From my point of view this issue can be closed.

[2018-04-04 19:22] aarlt commented on #3777
@chriseth @axic From my point of view this issue can be closed.

[2018-04-04 19:22] #3777 closed, assigned to nobody

[2018-04-04 19:23] #3533 closed, assigned to nobody

[2018-04-04 19:23] #3460 closed, assigned to nobody

[2018-04-05 08:09] #3654 closed, assigned to nobody

[2018-04-05 08:52] ekpyron commented on #3520
So, so far I think we had the following options:

Not support variable declarations in tuple assignments at all:

    uint a;
    uint b;
    uint c;
    (a, b, c) = f();

Pro: declarations are visually clear
Con: verbose; dangling pointers; unnecessary initialization (without optimization)

Support it using parentheses:

    (uint a, uint b, uint c) = f();

Pro: single line; immediate assignment

[2018-04-05 09:05] leonardoalt commented on #3823
Latest `z3` actually hangs on both.
z3 issue: https://github.com/Z3Prover/z3/issues/1561

[2018-04-05 09:09] axic opened #3825 "Latest aleth fails with Solidity tests"
[code]

[2018-04-05 09:14] leonardoalt commented on #3823
CVC4 issue: https://github.com/CVC4/CVC4/issues/1752

[2018-04-05 09:27] chriseth commented on #3688
Fixed by #3693 and #3690 .

[2018-04-05 09:27] #3688 closed, assigned to nobody

[2018-04-05 09:29] axic commented on #3825
For issue `array_copy_storage_abi` above:
[code]

Running it twice stops `cpp-ethereum`.

cc @chfast @winsvega @gumb0

[2018-04-05 09:46] chriseth commented on #3768
Confirmed fixed.

[2018-04-05 09:46] #3768 closed, assigned to nobody

[2018-04-05 10:04] #3275 closed, assigned to chriseth

[2018-04-05 10:04] #3323 closed, assigned to nobody

[2018-04-05 10:53] nebojsa94 commented on #3776
Ah right, splitting constants sounds like a good idea.

[2018-04-05 10:54] winsvega commented on #3825
this are 3 PRs that changed the client recently
https://github.com/ethereum/cpp-ethereum/pull/4895/files  (set default askGas to 0)
https://github.com/ethereum/cpp-ethereum/pull/4922/files  (set author from chain params and call complete sync when test_setChainParams)
https://github.com/ethereum/cpp-ethereum/pull/4923/files  (accept "to" field as empty string)

[2018-04-05 10:56] nebojsa94 commented on #1190
Hey, current documentation says that you can access external function in inline assembly, can you add some examples?

[2018-04-05 12:47] #3812 closed, assigned to nobody

[2018-04-05 14:02] chriseth commented on #1190
Sorry, but I fear this is being phased out.

[2018-04-05 14:30] chriseth commented on #3520
I'm voting for `(uint a, uint b, uint c) = f()`, unless we find some better alternative.

[2018-04-05 15:01] maurelian commented on #715
I initially intended to file this as a separate issue, but thought it made more sense to request it as an extension to this issue. I'm essentially advocating to include #3356 with this feature. I can open a new issue if it's preferred.

**Motivation:**

It's very common in Solidity contracts to include storage variables which are never intended to be modified. An example of this is `decimals` in E

[2018-04-05 15:15] chriseth commented on #715
@maurelian this is a useful feature to have, but I think it is orthogonal to the current issue: It adds a feature instead of restricting the language.

[2018-04-05 15:54] chriseth commented on #3816
Will use https://github.com/ethereum/cpp-ethereum/commit/5ac09111bd0b6518365fe956e1bdb97a2db82af1 as of 2018-04-05

[2018-04-05 17:16] ondratra commented on #3419
Why is this still not solved? This is must have for interfaces. Can I help with implementation or what's the status on this?

[2018-04-05 17:21] fulldecent commented on #3419
Because I’m not a paid employee.

 Please see the discussion on reinventing inheritance in the other issue. And we are reviewing the finer details of this change. On cell phone, sorry no link.

[2018-04-05 17:27] maurelian commented on #715
Thanks @chriseth, I'll open a new issue.

[2018-04-05 17:30] maurelian opened #3835 "Allow `immutable` variables to be set in the constructor"
This request extends #715, and #3356.

**Motivation:**

It's very common in Solidity contracts to include storage variables which are never intended to be mutated. An example of this is `decimals` in EIP20.  (examples: [consensys](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/token/ERC20/DetailedERC20.sol), [Zeppelin](https://github.com/OpenZeppelin/zeppelin-solidity/blob

[2018-04-05 18:43] ondratra commented on #3419
Not sure what is current issue i should check, can you send me link?

I think this "interface composition" could be implemented right away without changes seen [here](https://github.com/ethereum/solidity/pull/3729/commits/8fed12edcad0e58d2c96185d3373eb02d91f7a). I am willing to help with it.

[2018-04-05 21:40] netrunnerX commented on #3750
Hello, i'm going to work on this.

[2018-04-06 00:25] naveedh27 commented on #610
Still it is not working.
Ganache v1.1 + remix

[2018-04-06 04:21] wangh09 opened #3837 "How to generate random values?"
Hi, I found the following sentences in the documentation:

Do not rely on block.timestamp, now and block.blockhash as a source of randomness, unless you know what you are doing.

Both the timestamp and the block hash can be influenced by miners to some degree. Bad actors in the mining community can for example run a casino payout function on a chosen hash and just retry a different hash if they di

[2018-04-06 08:41] microbecode commented on #1789
Will this become an error in future releases? I'm unsure of what "this has been fixed" means.

[2018-04-06 09:49] chriseth commented on #3419
@ondratra thank you for your offer, but the implementation is not the issue. The problem is that we want to properly fix inheritance and function overloading, and this requires some discussion. Please take a look here: https://github.com/ethereum/solidity/pull/3729

[2018-04-06 09:59] #3816 closed, assigned to chriseth

[2018-04-06 10:00] chriseth commented on #3837
This question is better asked at https://ethereum.stackexchange.com - you will get faster and better replies there.

[2018-04-06 10:00] #3837 closed, assigned to nobody

[2018-04-06 10:01] chriseth commented on #1789
@microbecode yes, this will be a warning in future releases and an error starting from 0.5.0. Please try the nightly compiler builds if you want to check.

[2018-04-06 11:56] ekpyron opened #3838 "Modifier-style constructor calls without parentheses should be an error."
Came up in #3821.

In this code snipped:

    contract A { constructor() public { } }
    contract B1 is A { constructor() A() public { } }
    contract B2 is A { constructor() A public { } }

the constructor call in ``B1`` is fine, but in ``B2`` the ``À`` in ``constructor() A public {}`` serves no purpose and should be disallowed.

[2018-04-06 12:18] ekpyron commented on #3717
Necessary changes are on branch ``updateConstructorVersionPragmas`` - I was not sure about creating a pull request, since this has to be merged simultanously with the 0.4.22 release.

[2018-04-06 15:57] Ajit666 commented on #2948
"error": "Failed to decode output: Error: Unsupported or invalid type: tuple"

[2018-04-06 16:30] norganna opened #3841 "Virtual getter functions don't exist yet when checking inherited interface abstractness."
As per the discussion at https://ethereum.stackexchange.com/a/44964/34929

It would seem that the issue being discussed may be a problem with the solidity compiler. Perhaps it doesn't recognise that the virtual getters match the signature definintion for the interface functions or they haven't yet been created at the time it's checking for their presence.

The problem can be demonstrated with the

[2018-04-06 16:59] #2948 closed, assigned to nobody

[2018-04-06 17:14] norganna commented on #3841
Sounds like a duplicate of #3514 actually.

[2018-04-06 17:14] #3841 closed, assigned to nobody

[2018-04-06 19:57] kyriediculous commented on #2948
Why is this closed ?

[2018-04-06 22:41] frangio commented on #3136
I'm not sure if it's a bug but it seems seems to be implemented since Solidity 0.4.14.

I get the warning `"this" used in constructor` for the following code.

[code]

[2018-04-06 22:42] frangio commented on #3136
Ah, of course, it doesn't happen for

[code]

I'll open an issue for this. (Edit: #3843)

[2018-04-06 22:50] frangio opened #3843 ""this used in constructor" static analysis rule has false positives"
One of the warnings emitted by the static analyzer is `"this" used in constructor` from #2605.

https://github.com/ethereum/solidity/blob/fe61435c273bf43ac1a20d8bc97b6935a54b7117/libsolidity/analysis/StaticAnalyzer.cpp#L210-L211

The warning was implemented by checking that the static type of the LHS of a member access is the same as the contract being defined. But this wrongly catches other scena

[2018-04-07 19:08] celeduc commented on #2691
This has been particularly annoying since `var` was deprecated, since there is [presently no way](https://github.com/ethereum/solidity/issues/3301#issuecomment-376084616) to implement `var (,,,,,what,,evs,,,dude,) = lib.extFunc("arg")`.  I'd like to be able to silence these warnings until that is resolved, as it spits out a separate error for each variable (what, evs, dude) and makes it very hard

[2018-04-07 21:09] ghost opened #3844 "What is the unit of time functions on smart contract"
Hello guys,

I really confused what is the unit of airBegintime, airEndtime, icoBegintime and icoEndtime in contract address? Are they millisecond? And how these functions work?

Can someone inform me, please?

Here the contract address: https://etherscan.io/address/0x8c37188945c02818f09c7650093befcaa4085127#code

Here the functions:
---
airBegintime = 1520312400;
airEndtime = 1609390800;
---
icoB

[2018-04-08 11:34] ucwong commented on #3844
it  seems like second

[2018-04-09 02:49] axic commented on #2948
Because it has been supported since 0.4.17 by the compiler.

[2018-04-09 03:53] xuguojie commented on #2691
Agree with getting var warning suppressed.

[2018-04-09 09:15] duanbing opened #3845 "Compile failed, got "ld: 31 duplicate symbols for architecture x86_64""
I tried to build solidity from source code on my MacOS following those steps:
[code]
Any one met the same problem?

[2018-04-09 11:47] axic commented on #3845
I do not have this problem on a Mac, what version of boost and macos do you have?

[2018-04-09 12:17] duanbing commented on #3845
@axic Thanks for your replying. MacOS version is 10.13.3 (17D47), boost is `#define BOOST_VERSION 106600`

[2018-04-09 13:04] chriseth commented on #3844
I don't see any way to improve the documentation: https://solidity.readthedocs.io/en/v0.4.21/units-and-global-variables.html?highlight=time#time-units

This is the first hit if you search for time.

[2018-04-09 13:04] #3844 closed, assigned to nobody

[2018-04-09 14:04] axic opened #3847 "Signed rights shifts use SDIV and as such round differently to proper SAR"
From https://github.com/ethereum/solidity/pull/3797/files#r179776071.

This could be changed in a breaking release.

[2018-04-09 14:28] chriseth commented on #3847
Any ideas about how to implement it efficiently?

[2018-04-09 16:04] ArpanaGupta opened #3849 "Purchase contract Code in Solidity documentation"
Hello,

http://solidity.readthedocs.io/en/develop/solidity-by-example.html?#safe-remote-purchase .
In the "Purchase" contract , the constructor function of Purchase() should also set the 'state' state variable as State.Created.
Otherwise the abort(), confirmPurchase() functions will not work.
Please confirm if understanding is correct.

Thanks,

[2018-04-09 16:27] kasima commented on #3845
I'm having the same issue on 10.13.4, boost 1.66.0 from homebrew.

[2018-04-09 17:41] axic commented on #3847
I think this should do it:

[code]

where `shift_right` is either `div` or `shr` (assuming that the stack item has the high bits cleaned to 0 if `type_width != 256` and that `type_width` is a constant, such that `-1` doesn't need to be done via an opcode).

[2018-04-09 18:34] cryptoKevinL commented on #3178
I haven't been able to find who is allowed to call selfdestruct, only the contract owner?  Otherwise this seems a bit scary.  I would think the use of a one-time pad (placing some hash or encrypted blob that must be verified) to protect the call of self-destruct might help.  Its not fancy but it seems like decent insurance in these cases of mass monetary loss.

[2018-04-09 23:48] axic opened #3850 "Improve the contributors guide"
Some good inspiration to read first:
- https://github.com/ethereum/remix-ide/blob/d5aec6736dafd5050119aafffe5ac1e353943457/team-best-practices.md
- https://github.com/pipermerriam/ethereum-dev-tactical-manual

[2018-04-10 00:07] axic opened #3851 "Consider using intx instead of boost::multiprecision (once stable)"
**Do not start doing this, since intx is not ready yet**

See https://github.com/chfast/intx.

Benefit:
- the features needed to the compiler could be well optimised
- the binary size could be reduced

However, these are only goals, the current or the "stable" version of intx may not satisfy any of those needs.

[2018-04-10 02:01] randomnetcat commented on #3850
I'd like to note that the coding standards link goes to a 404, leaving no official style guide for C++ code in this repository.

[2018-04-10 04:26] kasima commented on #3845
I was able to get everything built from source from the `v0.4.21` tag, with [boost 1.65.1 from howebrew](https://github.com/Homebrew/homebrew-core/commit/146b36f08b6e466d01e2c9cb9f618efac0bf72fa#diff-5148b5dd1fa3716ad2777ce49eaf03a9):

`brew install https://raw.githubusercontent.com/Homebrew/homebrew-core/146b36f08b6e466d01e2c9cb9f618efac0bf72fa/Formula/boost.rb`

[2018-04-10 07:55] chriseth commented on #3847
ok, we could also use a combination of `div` / `shr` and `signextend`.

[2018-04-10 08:14] duanbing commented on #3845
@kasima Thanks, solved by your way.

[2018-04-10 09:10] ekpyron commented on #3838
The git branch ``modifierStyleWithoutParentheses`` contains a fix that depends on #3821.
I will create a pull request once #3821 is merged.

[2018-04-10 09:13] chriseth commented on #3838
You can create a pull request now and state that it depends on #3821

[2018-04-10 09:33] chriseth commented on #3520
@axic this is a problem that needs to be solved, many people are annoyed by the fact that we removed `var`-tuple assignments. The language does not get safer by just removing features, we have to provide viable alternatives.

[2018-04-10 09:48] #3750 closed, assigned to nobody

[2018-04-10 10:12] chfast commented on #3851
intx has all implementation for int256 but no public API yet. Do you also need int128?

[2018-04-10 10:56] stefek99 commented on #1686
Started writing Stack Overflow question.
Found the related: https://ethereum.stackexchange.com/a/30066/2524
Arrived here...

# Totally...

Sometimes transaction execution fails.

Sometimes programmers put a lot of `require`, making sure everything works just fine.

If something fails, the error message is generic:

- invalid opcode
- revert

Is there a way to pass additional parameter to `require`

[2018-04-10 12:05] #3325 closed, assigned to ekpyron

[2018-04-10 12:05] #3838 closed, assigned to ekpyron

[2018-04-10 13:10] ekpyron commented on #3520
I can understand @axic's concern about visually hiding declarations. And I also agree with @axic, that we should think about whether we should allow multiple variable declarations on the same line in general, if we choose to allow it when assigning.

What about ``(uint, uint, uint) (a,b,c) = f()``? I'm not sure about it myself, but it would be closer to the old ``var`` syntax and make it at least

[2018-04-10 13:33] pirapira commented on #3520
Also, consider assigning into a singleton tuple (whether to allow or not).
[code]

[2018-04-10 13:36] pirapira commented on #3520
@ekpyron I think `(int a, int b) = X;` can appear without `(int a, int b)`.  The first is desired just because `X` is a tuple.

[2018-04-10 13:38] chriseth commented on #3520
I think singleton tuples and tuple types are out of scope for this discussion. They are currently both possible, the latter is just not nameable. We certainly should disallow catch-all tuple components, but that is also addressed in a different issue.

While `(uint, uint, uint) (a, b, c)` looks good from a language theoretic viewpoint, I don't think it is a usability improvement over `(uint a, uin

[2018-04-10 13:44] pirapira commented on #3520
And further in the future, substitute `(uint a, uint b, uint c) = f()` into `g(uint a, uint b, uint c)` and obtain `g f()`.

[2018-04-10 13:57] axic commented on #3520
Can we have some actual examples where this feature is badly needed?

[2018-04-10 14:08] ekpyron commented on #3520
@chriseth I'm not sure whether ``(uint a, uint b, uint c)`` is less of a new concept than ``(uint, uint, uint) (a,b,c)``...
To me function headers are quite different - ``function f() returns (uint a, uint b, uint c) { (a,b,c) = (1,2,3);`` still requires to mention ``(a,b,c)`` again, whereas ``function f() returns (uint a, uint b, uint c) { return (1,2,3); }`` is the same as ``function f() returns

[2018-04-10 14:14] ekpyron commented on #3520
@axic Ultimately it's a convenience feature, so I don't think there's cases in which it is really *badly* needed... However, I think it may be worth considering, whether promoting tuple types to first-class types that can actually be named rather than only having them somewhat implicitly in assignments and function returns, wouldn't be cleaner in general...

[2018-04-10 14:16] #3810 closed, assigned to ekpyron

[2018-04-10 14:21] chriseth commented on #3520
Yeah, it's probably true that this is only badly needed in cases where the types cannot be named anyway.

[2018-04-10 14:25] chriseth commented on #2691
@celeduc can you explain why `var (,,,,,what,,evs,,,dude,) = lib.extFunc("arg")` cannot be done without warnings anymore? `W what; E evs; D dude; (,,,,,what,,evs,,,dude,) = lib.extFunc("arg")` should work.

[2018-04-10 14:26] chriseth commented on #3520
Ah right, if one of the variables is a storage pointer, it might be very hard to refactor the warning away, and it might require multiple storage reads.

[2018-04-10 14:27] chriseth commented on #3520
If we introduce tuple types, I would probably prefer somethnig like `uint*uint*uint (a, b,c) = ...` - but we should check how other languages did this.

In general, I still think that most solidity users would find `(uint a, uint b, uint c) = ...` more natural, but we can make a survey.

[2018-04-10 14:31] chriseth commented on #3850
@meowingtwurtle which link? We recently merged a new version of the coding style.

[2018-04-10 14:38] axic commented on #3520
I think somewhat relevant is the discussion on how restricted variable declarations are at the moment: they do not allow multiple declarations (with or without value assignment) in the same statement.

If those are like that, why is tuple declaration an exception?

I do not mean any of this is good or bad, but worth looking at the bigger picture.

[2018-04-10 14:41] chriseth commented on #3520
I don't see the difference between a tuple declaration and the declaration of multiple variables in the same statement. You can declare multiple variables in the same statement, you just need to add parentheses.

[2018-04-10 14:41] axic commented on #3520
What do you mean by that? Do you have an example?

[2018-04-10 14:44] celeduc commented on #2691
@chriseth Thank you for your note.

1) Solium already throws a style error for such a line: "  88:24    warning    Only use indent of 4 spaces.    indentation"
2) because it contains multiple statements in one line, it will _probably_ be considered unreadable by linting tools as they become more sophisticated
3) because it is an ugly hack, perhaps even uglier than `var (,,,,,what,,evs,,,dude,) = l

[2018-04-10 14:44] chriseth commented on #3520
Of course you need var because I was too lazy to change the parser accordingly back in the days: `var (a, b, c, d)`.

[2018-04-10 14:47] randomnetcat commented on #3850
![image](https://user-images.githubusercontent.com/1988485/38564157-8c5c9126-3cac-11e8-9ab1-a7621467ee52.png)
The link in that image goes to a 404 at https://raw.githubusercontent.com/ethereum/cpp-ethereum/develop/CodingStandards.txt. This is presumably where the style guide for C++ code was originally.

[2018-04-10 14:48] axic commented on #3520
Since `var` is deprecated, would you say that it should be made possible without `var`?

[2018-04-10 14:49] axic commented on #3850
The link worked for me as long as you are on `develop`. Probably the release version of readthedocs points to an old link.

[2018-04-10 14:50] chriseth commented on #3520
Yes, exactly. It should be possible to assign function return values to newly declared variables because a variable declaration with assignment looks safer (and probably is) than without.

[2018-04-10 14:52] axic commented on #3520
Not talking about function return values, but actual variable declarations.

[2018-04-10 14:53] chriseth opened #3854 "Correct the style of coding style"
The coding style document (`CODING_STYLE.md` at the project root) is an md document but does not properly format according to these rules.

[2018-04-10 14:54] chriseth commented on #3520
Yes, the declaration of multiple variables in the same statement without assigning values is redundant and can be removed.

[2018-04-10 14:56] pirapira commented on #3520
For me this feature is a plus, because I can follow the single assignment style.

Without this feature, I have to write
[code]

With this feature, I can write
[code]
So, each of `a` and `b` receives one value ever.

[2018-04-10 15:19] randomnetcat commented on #3854
This is so meta :P

[2018-04-10 15:32] axic commented on #3520
Expanded the only case zeppelin does multi return values into the options discussed above:

[code]

[2018-04-10 15:52] chriseth commented on #3520
Most of the use-cases will probably cease being use-cases when we have support for structs...

[2018-04-10 16:13] RorschachRev commented on #3178
Insecure contract gave away ownership, new owner called self destruct.
Don't change the protocol when it wouldn't improve anything.

On Mon, Apr 9, 2018 at 12:34 PM, myFairCatsSick <notifications@github.com>
wrote:

[2018-04-10 18:00] OTTTO commented on #1686
@stefek99, it's being finalized RN
https://github.com/ethereum/solidity/pull/3364#discussion_r180455883

[2018-04-11 05:38] dongsam commented on #3703
or you can use like this

[code]

[2018-04-11 07:02] xsslong commented on #3695
Same issue when I was using abigen,
`abigen --sol token.sol --pkg token --lang go --out token.go`
Trying to bind solidity with abigen command,  results in this error:
[code]
I find use func in go-ethereum "compiler.CompileSolidity(*solcFlag, *solFlag),"  it's a solc command operation.
[code]
but"--add-std" arg, deprecated in solidity 0.4.21
fixed in go-ethereum , please
![image](https://user-image

[2018-04-11 07:53] karalabe commented on #3695
The flag removal was shipped in Geth 1.8.3 two weeks ago.

[2018-04-11 07:53] karalabe commented on #3695
https://github.com/ethereum/go-ethereum/commit/a25561dfb47fd2b9ee2dc4e1333508a1742e2562

[2018-04-11 12:39] #3796 closed, assigned to nobody

[2018-04-11 13:35] boorac opened #3856 "Solidity Multiple inheritance resolution"
# Environment

[code]

# Issue
I'm attempting to understand how solidity resolves multiple inheritance. As explained in the docs, Solidity uses C3 linearization. The relation between my classes is displayed on the image below:
![hjzsp](https://user-images.githubusercontent.com/25860364/38619929-9718d218-3d9d-11e8-8683-01eb720bed7e.png)

I want to understand in which order super is working when cal

[2018-04-11 14:08] chriseth commented on #3813
Fixed now.

[2018-04-11 14:08] #3813 closed, assigned to chriseth

[2018-04-11 14:08] axic opened #3857 "SMT checker integration"
It would be nice to have better integration with solvers, currently it only works on the commandline if compiled with z3 (or cvc4).

There are multiple ways to do it, but at least two major options:
1) Have it compiled in with the release: solc binary + soljson
2) Have it supported via a callback or two-steps compilation mechanism

Option 1) works on the native binaries (such as Linux), but compil

[2018-04-11 14:13] leonardoalt opened #3858 "Add option that specifies the command to call an SMT solver"
The idea is to use this option when no SMT API is available, but binaries are. Solidity would then create an smtlib2 formula and call the solver.
Example:
`--smt-solver "z3 -smt2"`

[2018-04-11 14:13] #2876 closed, assigned to nobody

[2018-04-11 14:17] axic commented on #3687
If we can trust that the compiler calculates that value properly, then no matter if it wrapped or not, it will run out of gas. Doesn't it?

[2018-04-11 14:20] axic commented on #3687
If it wraps, then it will be a very large number, which tangerine whistle VMs just truncate to the max available gas, so it should be working?

[2018-04-11 14:34] chriseth commented on #3687
Yes, I also think it is fine.

[2018-04-11 14:34] #3687 closed, assigned to axic

[2018-04-11 14:35] chriseth commented on #3856
My first hunch would be that the tool you mention uses a different order of the direct parents.

[2018-04-11 14:39] axic opened #3860 "Extend the types section of the documentation with operation semantics"
Would be important to explain unary and binary operators on integer and fixed point types.

(Raised in #3389).

[2018-04-11 15:10] axic commented on #3687
We could consider though adding test cases with limited gas supplied to verify these assumptions.

[2018-04-11 15:26] axic commented on #3198
(I actually thought I've answered this issue.)

Sounds good, but not sure about the naming and if the only point of the non-wildcard function is to receive ether, then it would have `payable` set implicitly or would it still require it to be written explicitly?

I see a couple of different options:
- 1) `transfer` for empty calldata **and** non-zero value
- 2) `empty` for empty calldata *and* no m

[2018-04-11 15:54] axic commented on #3291
When I made this comment I didn't observe properly that the functions are not implemented.

I don't think it should compile if the function is not implemented. What is the point of the modifier in that case?

[2018-04-11 16:01] leonardoalt commented on #3198
I like the idea of having two separate functions:
- `receive()` for empty calldata and non-zero value, with parentheses and implicit `payable`
- `fallback()` for non-empty calldata and any value, with parentheses

[2018-04-11 16:07] nbauernfeind opened #3861 "Internal super call in constructor incorrectly generates warning."
Using:
[code]

Source:
[code]

Incorrect Warning:
[code]

Platform: osx 10.13.4

Result: Code compiles and constructors of `B` and `C` execute identically. Note that `B` generates a warning but `C` does not.

Expectation: Contract `B`'s constructor implementation does not generate a warning.

[2018-04-11 16:12] chriseth commented on #3198
I would prefer `receive` over `transfer`, although I would say this is still not the best wording.

Also, `fallback` should either
 - have an argument of `bytes` (the calldata) and return `bytes` (the return data)
 - or be forced to be followed by an assembly block

and it should somehow be made clear that this is a very low-level function that should usually not be implemented.

[2018-04-11 16:14] nbauernfeind commented on #3843
Using `super` also causes a false positive. See #3861.

[2018-04-11 16:17] federicobond commented on #3856
@boorac can you post the Solidity code you are using for the empirical part?

[2018-04-11 16:17] ekpyron commented on #3198
Splitting into two functions is a good idea.
Regarding syntax: I would use parentheses, as in ``falllback() {}`` (it seems everybody agreed on that).
Not sure about what's the best names, yet, though.

[2018-04-11 16:35] spalladino opened #3864 "Support injecting code before dispatcher execution in a contract"
This is a feature request, and I wanted to know what your thoughts about it may be. Apologies in advance if this has already been discussed (couldn't find anything related here).

It'd be useful to be able to declare a sort-of contract-level modifier, that allows to inject code that executes on every call received by the contract, and executes based on raw msg data, signature, etc. This allows to

[2018-04-11 16:51] axic commented on #3864
Wouldn't modifier areas (#623) be a good solution for this?

[2018-04-11 18:15] GNSPS commented on #3198
Using the parentheses would make this a breaking change, right?

Asking because I remember I had some contracts for testing (not on mainnet) that had a function called `fallback()` and those would no longer behave the same way (I'm guessing that no function ID would make it into the beginning `switch` case).

[2018-04-11 18:19] spalladino commented on #3864
@axic I wasn't familiar with modifier areas, looks interesting! However, there is one part in which modifier areas fall short, which is inheritance.

If a user extends a contract with a modifier area covering all of its public functions (the equivalent of a contract-level modifier), they must remember to also include the modifier area in all the new functions they declare. A contract-level modifie

[2018-04-11 18:33] axic commented on #3198
`function fallback()` and `fallback()` would be parsed differently, so `function fallback()` should still be valid.

[2018-04-11 18:33] axic commented on #3864
Inheritance with modifiers is a good point, we just ran into it on a different issue.

[2018-04-11 18:34] GNSPS commented on #3198
Ooops, completely missed that! 😄

[2018-04-11 18:41] leonardoalt commented on #3857
@axic Do you remember what exactly happens with z3 and emscripten?
I added it now and I get a compilation error from emscripten on Solidity, complaining about an unused var in a function from `z3++.h`

[2018-04-11 19:53] #3779 closed, assigned to chriseth

[2018-04-11 20:07] axic commented on #3717
@ekpyron do you want to create the PR off that branch?

[2018-04-11 20:25] #1805 closed, assigned to chriseth

[2018-04-11 20:25] #3291 closed, assigned to chriseth

[2018-04-11 20:33] chriseth commented on #3849
Almost! The default value is already `State.Created`. It would probably be good to mention this in the text.

[2018-04-11 20:43] axic commented on #3825
This seems to be specific to macOS and is probably related to timing of unix sockets.

[2018-04-11 20:50] chriseth commented on #2691
@celeduc I was talking about a solution that has newlines and proper indentation. You mentioned that there is "presently no way" to do this. Can you please explain in more detail why it is not possible, since, as you say, a multi-assignment like `(,,,,,W what,,E evs,,,D dude,) = lib.extFunc("arg")` should solve the problem. I agree that external functions returning structs would be much nicer, but

[2018-04-11 21:15] chriseth commented on #3864
@spalladino modifier areas were an idea to solve exactly the issue you have and we already realized that inheritance would be a problem there. Do you have any suggestions for the syntax?

[2018-04-11 21:15] celeduc commented on #2691
@chriseth With `var` it was a single expression on one line. Without `var` it is four expressions on four lines. It is no longer concise. Deprecating `var` takes away a popular, concise solution, and the deprecation warning cannot be silenced. The *proposed* multi-assignment solution `(,,,,,W what,,E evs,,,D dude,) = lib.extFunc("arg")` does not compile ("ParserError: Expected token Comma, got 'Id

[2018-04-11 21:27] OTTTO commented on #2907
0x0 can still be used for resetting to default value or burn?

[2018-04-11 21:33] axic commented on #2907
All zeroes must be typed for an address.

[2018-04-11 21:34] ekpyron commented on #3717
Do we have a convention for dealing with, resp. naming PRs in such cases?

[2018-04-11 21:36] ekpyron commented on #3717
I'm not sure about the release process so far, so I wasn't sure whether this should be a PR at all or whether the branch would just be merged into the release PR...

[2018-04-11 22:25] chriseth commented on #2691
@celeduc it should be `(,,,,,what,,evs,,,dude,) = lib.extFunc("arg")` is in my first example.

[2018-04-11 22:28] chriseth commented on #2907
`address(0)` could still be possible.

[2018-04-11 22:29] chriseth opened #3867 "Investigate bytes cleanup"
https://github.com/ethereum/solidity/pull/2980#discussion_r180902120

[2018-04-11 23:21] axic opened #3869 "Document Vyper's decimal10 type in the ABI"
See https://github.com/ethereum/vyper/issues/566

[2018-04-12 01:01] thomaseizinger opened #3870 "[CLI] Do not ignore the output selection in assembler mode"
I am using the `--assemble` mode for transforming assembly-syntax into binary representation through a tool.

This works good except for the fact that the output of the compiler is not really machine-readable as it just dumps everything to stdout and stderr.

It would be nice if `solc` would care about the `--bin` flag that is already present if run in assemble mode (`--assemble`).

This way, one

[2018-04-12 02:51] ProphetDaniel commented on #2877
`emit` just like light emission, suggests a signal is being emitted for a while.

![](https://i.imgur.com/YAlSDZe.gif)

`trigger` just like a firearm shot, suggests a signal will be triggered instantaneously with virtually no endurance.

As events are impulsive (endurance tends to zero) it looks clear to me `trigger` is more appropriate keyword here.

[2018-04-12 03:41] ProphetDaniel commented on #2877
Indeed, what definitely happens is:
- The event is dispatched when the code `trigger anEvent()`, for example, is executed.
------

As the underlying technology is a blockchain, the dispatched event is registered on the ledger. So what becomes available to be picked up is not the event, but the event record.

events and that something will happen as a result. This reasoning may be too thin to justi

[2018-04-12 06:59] chriseth commented on #3870
Thanks for the suggestion! We will probably need to ramp up these options anyway with regards to the optimizer coming up.

[2018-04-12 07:42] chriseth commented on #2877
@ProphetDaniel curiously, I have the opposite impression: `trigger` means that a mechanism is activated, the mechanism is integrated with what I am doing and I want to wait for the mechanism to finish doing its job (gun analogy: I want to wait for the bullet to exit the gun, although my direct interaction is only with the trigger). While with `emit` I have the impression that I do not care about w

[2018-04-12 08:55] chriseth opened #3871 "SMT: Only fail if control flow does not revert"
The snippet
[code]
should not report overflow failure.

[2018-04-12 09:07] vidhyaramani opened #3872 "Parser error: Expected token semicolon got LParen"
[code]

[2018-04-12 09:23] chriseth commented on #3872
This question is better asked at https://ethereum.stackexchange.com - you will get faster and better replies there.

[2018-04-12 09:23] #3872 closed, assigned to nobody

[2018-04-12 09:49] #3522 closed, assigned to ekpyron

[2018-04-12 13:17] ekpyron opened #3874 "Proper source locations for parser errors."
Parser errors currently use the current scanner position as both start and end of their source location.
I think it may be beneficial to change that towards using the whole range of the current token as error location.
Most parser errors will have the form "expected something, but got another thing" and I think it makes sense to mark the other thing in the error entirely. And it will make it easie

[2018-04-12 13:52] spalladino commented on #3864
@chriseth nothing in particular. I thought about something very similar to the existing syntax for defining a modifier, using underscore to denote the fall-through to the dispatcher (or to the next contract-level-modifier in the inheritance chain), with the option to explicitly call an existing function.

[code]

This would probably require introducing a new reserved keyword to identify these bloc

[2018-04-12 15:35] #3039 closed, assigned to ekpyron, erak

[2018-04-12 15:55] axic opened #3876 "ABI decoding API"
Split off #1707.

With #1707 an ABI encoding API was introduced:
- `abi.encode(...) -> bytes`
- `abi.encodePacked(...) -> bytes`
- `abi.encodeWithSelector(bytes4, ...) -> bytes`
- `abi.encodeWithSignature(string, ...) -> bytes`

It would be natural to extend this with a decoding counterpart.

Listing here a couple of options as they came up historically:

1) The first suggestion has been `decode[T

[2018-04-12 15:59] chriseth commented on #3876
Some notes;

 - the return type of the decode function has to be a compile-time constant, so anything that utilizes strings has no real benefit over the types themselves.
 - `[...]` is easier to parse than `<...>`.
 - another option might be just `abi.decode((uint, uint, uint[]), data)` or  `abi.decode([uint, uint, uint[]], data)` or even `abi.decode(data, uint, string, uint[])`.

[2018-04-12 16:00] chriseth commented on #3876
Especially the third option would not even need any modifications to the parser.

[2018-04-12 16:19] fulldecent commented on #2877
@ProphetDaniel

[2018-04-12 18:05] axic commented on #3876
I think I like the following if no parser changes are allowed:
- `abi.decode(input, T1, ...,  Tn) -> T1, ..., Tn`
- `abi.decodeWithSelector(input, T1, ..., Tn) -> bytes4, T1, ..., Tn`

But it also could use modifier functions (like `value()` and `gas()` - I'd suggest `types`, `fields` or `members`):
- `abi.decode.types(T1, ...,  Tn)(input) -> T1, ..., Tn`
- `abi.decodeWithSelector.types(T1, ..., T

[2018-04-12 18:51] chriseth commented on #3876
I think I would also prefer the template style, but we have to see how easy that is to implement in the parser. The problem is that `<` is also used as a binary operator, while `[` only has a bracket-like functionality.

[2018-04-12 18:57] chriseth commented on #1707
We are still missing the changelog entry and the documentation.

[2018-04-13 01:05] axic commented on #1686
Implemented support in Remix (but no ETA when that will be merged *and* released on the non-alpha version): https://github.com/ethereum/remix/pull/760

[2018-04-13 08:32] ekpyron opened #3877 "Revise "this" warning for constructors."
In #3875 the warning about the use of "this" in constructors was revised to reduce false positives.

However, now there are cases like ``C c = this; c.f();`` that could be detected at compile-time, but are not warned about.

A general compile-time pure expression evaluator may help in detecting these cases.

[2018-04-13 08:40] ekpyron opened #3878 "General compile-time pure expression evaluator."
I've been working on several issues, that would benefit from a general compile-time pure expression evaluator.

This includes #3877, #3522, as well as expressions used for array lengths.

The main reason against a general compile-time evaluator for such expressions would be its complexity and the danger of introducing errors in it.

The main reasons for such an evaluator are that it would be a pow

[2018-04-13 08:56] #3567 closed, assigned to erak

[2018-04-13 09:18] boorac commented on #3856
@federicobond I can't post the exact code, however I mashed up a quick repo with the same features:
https://github.com/boorac/solidity-multiple-inheritance-resolution

For completion, the same discussion on [stackexchange](https://ethereum.stackexchange.com/questions/43650/solidity-and-multiple-inheritance)

[2018-04-13 11:45] axic commented on #2899
It should also come in handy with `enum`s.

[2018-04-13 13:09] chriseth opened #3879 "Provide error message as return value for binaryOperatorResult"

[2018-04-13 15:20] jerryji commented on #3170
So how to enforce the onlyOwner modifier in SapienToken when calling those functions from TokenController?

[2018-04-13 15:44] eternauta1337 opened #3881 "Super does not work in overriden external functions"
Consider the following code:

[code]

The error can be seen by pasting the code in remix, which is:
[code]

Which actually makes sense, because super triggers an internal call, and external functions cannot be called internally.

The question is, beyond the reason for the error, is this behavior desired?

[2018-04-13 16:39] #3843 closed, assigned to ekpyron

[2018-04-13 16:39] #3861 closed, assigned to ekpyron

[2018-04-14 06:43] kaminono commented on #3061
I also encountered the same problem.

[2018-04-14 08:47] yusinto commented on #3845
@kasima works for me too. Thanks!

[2018-04-14 10:23] celeduc commented on #2691
Before `var` was deprecated we could use the single, concise, one-line expression:
[code]
But then `var` was deprecated, and the above line generates three separate warnings. To remove these warnings, we now have to use four expressions (on four lines) to do the same thing:
[code]

It has been [proposed](https://github.com/ethereum/solidity/issues/3301) that the following syntax be supported (IMO

[2018-04-14 11:31] axic commented on #3845
@kasima @duanbing are you saying that it fails with boost 1.66.0 but works with 1.65.1?

I have 1.66.0 myself on mac and it seems to be working.

[2018-04-14 13:54] OliviaSong commented on #3446
Without this function, arrays of structures can hardly be used.

[2018-04-14 22:23] axic opened #3883 "Ensure that jsoncpp installed on the system won't interface with the builtin one in CMake"
It seems that in certain cases when jsoncpp headers are lingering as a system installation they may interfere with the built in version.

This is the case in https://github.com/ethereum/homebrew-ethereum/issues/163 and #3467 (our attempt to update jsoncpp).

[2018-04-14 22:50] #1707 closed, assigned to nobody

[2018-04-14 22:56] axic commented on #3061
Was fixed by #3335.

[2018-04-14 22:56] #3061 closed, assigned to nobody

[2018-04-16 07:32] 08zhangyi opened #3886 "How can I fix the probem?"
My contract is,
`pragma solidity ^0.4.2;

contract sample1 {
	int public b = 78;
	int internal c = 90;

	function sample1() public {
		this.a();
		//a();

		b = 21;
		this.b;
		this.b();
		//this.b(8);

		//this.c();
		c = 9;

	}

	function a() external {
	}
}

contract sample2 {
	int internal d = 9;
	int private e = 90;
}

contract sample3 is sample2 {
	sample1 s;

	function sample3() public {

[2018-04-16 08:42] chriseth commented on #3881
I'm not sure I understand. As you say, external functions cannot be called internally. If you change it to public, it can be called internally. If the behaviour is not desired, change the function to public.

Or which behaviour are you talking about? The fact that external functions can be overridden?

[2018-04-16 08:47] chriseth commented on #3446
Note that an extremely high amount of gas is hidden behind this simple assignment. We recommend using a loop to perform the assignment anyway. An even more efficient way to write the function above is to not use a memory array at all and directly work on storage.

[2018-04-16 08:49] chriseth commented on #3883
I think I also exerince this from time to time. I guess the proper fix would be to prefer our version of the jsoncpp headers before the system headers.

@chfast could you perhaps help here?

[2018-04-16 09:01] chriseth commented on #3811
It might be worth considering whether the conversion functions in the Type class and its subclasses could receive a flag that tells whether 050 is active or not.

[2018-04-16 09:02] chriseth commented on #3886
This question is better asked at https://ethereum.stackexchange.com - you will get faster and better replies there.

[2018-04-16 09:02] #3886 closed, assigned to nobody

[2018-04-16 09:05] #3703 closed, assigned to ekpyron

[2018-04-16 09:10] area opened #3887 "Recommended use of 'emit' invalid inside tuples"
Solidity 0.4.21 provides a warning when not using `emit` with events:

[code]

However, inserting `emit` causes compilation to fail with: `ParserError: Expected token Comma got 'Identifier'
        (x) ? ( emit __SomeEvent(), y=false) : (emit __SomeEvent(), y = false);`

Was this use never really supported? Or was this regression an oversight when `emit` was introduced? I could certainly believe e

[2018-04-16 09:49] chfast commented on #3883
I will inspect the CMake scripts.

The solution is simple but hard to achieve and requires CMake discipline. You must make sure that system deps are behind local deps and libs in dependency tree (depth-first).

Easy test is to run `make VERBOSE=1` and check if there is `-I/usr/include` before `-I<local-deps>`.

Can you list of your current dependencies?

[2018-04-16 10:18] chfast commented on #3883
I notices Boost includes were before JSONCPP includes. Fixed in https://github.com/ethereum/solidity/pull/3888.
This is hard to test on Linux where it seems the `/usr/include` (Boost) is implicit so CMake skips it anyway.

[2018-04-16 10:37] chriseth commented on #3887
Oh wow, someone found an edge case in the parser :)

Did you use an automated tool for that?

The thing is that `emit` is not really a keyword. It will be a keyword in 0.5.0 and until then, we just try to parse otherwise invalid input correctly according to the new rules.

I would actually say that the specific code you gave should be invalid even with the old rules, since you create a tuple with

[2018-04-16 10:56] chriseth commented on #3883
@chfast can this be closed?

[2018-04-16 11:00] chfast commented on #3883
Give me an hour.

[2018-04-16 11:03] chriseth commented on #3874
We should also fix the error messages. "Expected token LParen" should be changed to something like `Expected '('`.

[2018-04-16 11:03] area commented on #3887
Yeah, this is how we've been instrumenting ternary statements in [solidity-coverage](https://github.com/sc-forks/solidity-coverage/), because it was the only way to use the comma 'operator'.

Does this mean this could be expected to start working again in 0.5.0? (Assuming that you don't nix tuples with components with null types... it sounds like I may have shot myself in the foot!)

[2018-04-16 11:06] chriseth commented on #3878
Note that for the existing evaluator, we already have a representation of the run-time value at compile time (RationalNumberType), which is not the case for anything else.

[2018-04-16 11:10] #3327 closed, assigned to erak

[2018-04-16 11:10] #3759 closed, assigned to nobody

[2018-04-16 11:13] chriseth commented on #3887
it might work with 0.5.0, but let me actually check, this bug might lie deeper than just what is visible with emit.

[2018-04-16 11:15] chriseth commented on #3887
Yes, this should also be an error:
[code]

[2018-04-16 11:16] chriseth opened #3889 "Empty tuple components should not be possible"
It should not be possible to create a tuple expression that has components with a "null" type:
[code]

Related to https://github.com/ethereum/solidity/issues/3887#issuecomment-381562371

[2018-04-16 11:18] chriseth commented on #3887
In general, it should not be possible to use events outside of the statement level. #3889 should get us closer there.

[2018-04-16 11:18] #3887 closed, assigned to nobody

[2018-04-16 11:19] chriseth commented on #3887
Oh I'm sorry, now I only understand that this breaks your functionality.

[2018-04-16 11:21] chriseth commented on #3887
I guess you have to translate ternary statements even more into proper if statements.

[2018-04-16 11:30] area commented on #3887
That's fine. For the greater good!

Yeah, I'm pretty sure this is where we're going to have to go now. Thanks for being so responsive.

[2018-04-16 11:57] leonardoalt opened #3890 "Compare test performance with different compilation modes (Debug, RelWithDebInfo, Release)"

[2018-04-16 12:03] chfast commented on #3883
I wanted to test it on macOS, but you don't have macOS in CI.

I tested it with invalid header `/usr/include/json/json.h` and it built fine on Linux.

[2018-04-16 13:23] #3867 closed, assigned to nobody

[2018-04-16 17:55] #3717 closed, assigned to ekpyron

[2018-04-16 19:18] kasima commented on #3845
@axic – That's right. I'm building on a brand new installation of OS X 10.13.4, with no previous versions of solidity or homebrew. Maybe the OS version has something to do with it?

[2018-04-16 20:14] quantumproducer commented on #3703
So can we not use `this` as an implicit address anymore?

[2018-04-17 06:25] norganna opened #3904 "New `constructor` incompatible with fallback function"
With the advent of #3526 in solidity 0.4.22, it would appear that the new constructor keyword stops you having both an empty constructor and a fallback function in the same contract.

Given the following code, contract A will complain that the constructor and fallback have the same name and arguments.

[code]

This is the error returned:

[code]

[2018-04-17 07:46] chriseth commented on #3904
Argh that's embarassing. I guess we will need a new release soon... Thanks for the report!

[2018-04-17 07:48] #3760 closed, assigned to nobody

[2018-04-17 07:49] chriseth commented on #3676
@maraoz any news on this?

[2018-04-17 07:49] #3322 closed, assigned to nobody

[2018-04-17 07:51] chriseth commented on #3322
This still takes a long time, but no RAM blowup.

[2018-04-17 07:58] #3883 closed, assigned to chfast

[2018-04-17 08:02] leonardoalt commented on #3890
I've compiled Solidity with the four different build options (Debug, RelWithDebInfo, Release and MinSizeRel) and here are the initial test results:

**Debug**
Soltest
real	0m4,265s
user	0m4,194s
sys	0m0,068s

cmdlineTests
real	1m41,135s
user	1m31,042s
sys	0m10,278s

**RelWithDebInfo**
Soltest
real	0m0,873s
user	0m0,832s
sys	0m0,041s

cmdlineTests
real	0m36,379s
user	0m26,417s
sys	0m10,172s

**Rele

[2018-04-17 08:34] chriseth commented on #3890
I don't see a big improvement between RelWithDebInfo and Release, so I think we have to wait for a reply from the other team.

[2018-04-17 08:40] vidhyaramani opened #3908 "Not able to install the solidity compiler on windows"
Truffle migrate: Error: No network specified. Cannot determine current network.

Also need the instructions to install the solidity compiler on windows. I have followed the https://solidity.readthedocs.io/en/v0.4.22/ this link but not working. Please need your answer.

Thanks in advance!

pragma solidity ^0.4.18;

contract Mycontract{
    mapping(uint=>address)public addresses;

}

[2018-04-17 08:47] axic commented on #3908
This seems to be a problem with truffle, not solidity.

Please provide logs otherwise there's no way to help.

[2018-04-17 08:56] donamk opened #3909 "Unable to install solidity on mac"
I am trying to install solidity compiler.
I followed the ![manual](http://solidity.readthedocs.io/en/v0.4.22/installing-solidity.html) but I cannot install solidity. The worst thing is there is no log file under /tmp folder.

<img width="780" alt="screen shot 2018-04-17 at 5 50 36 pm" src="https://user-images.githubusercontent.com/816815/38858991-10defba8-4268-11e8-96b6-271b8853177a.png">

How can

[2018-04-17 09:04] axic commented on #3909
If there's no log file that is more likely a bug of homebrew. Without a log we cannot help much. You could try compiling it manually (and not via homebrew) to see if that fails too.

[2018-04-17 09:19] chriseth opened #3910 "Explicit conversion from bytesXX to contract should not be possible."

[2018-04-17 09:27] axic opened #3911 "Old- and new-style constructors are allowed at the same time"
Found by @yann300.

[code]

The above should raise an error of two constructors declared. Currently it compiles without warnings and whichever constructor was declared first takes precedence (the other is just ignored).

[2018-04-17 09:44] chriseth commented on #3911
Duplicate of https://github.com/ethereum/solidity/issues/3904

[2018-04-17 09:49] chriseth commented on #3911
Oh I'm sorry, confused this because I was working on both.

[2018-04-17 10:08] aj07 commented on #3761
Should we make a new section just below in the name of " v.0.5.0 features"  and put the #2511 (comment) and changelog ?

[2018-04-17 10:11] vidhyaramani commented on #3908
Truffle v:4.1.3

Error:

[code]

Environment

    Operating System: Windows

    Truffle version (truffle version): truffle v 4.1.3

    node version (node --version):v9.9.0

    npm version (npm --version): v 5.8.0

@vidhyaramani

[2018-04-17 10:13] aj07 opened #3914 "Incorrect place of contributing guidelines"
On https://github.com/ethereum/solidity  there is a section "How to Contribute". There the contribution guidelines link should be in the right place ( contribution guidelines )

[2018-04-17 10:13] axic commented on #3908
This seems to be entirely a problem with truffle. Please raise an issue with them.

[2018-04-17 10:16] vidhyaramani commented on #3908
what can i do now? Please help me through this issue. Thanks!

[2018-04-17 10:18] axic opened #3915 "Add warning for a function named "constuctor""
Found by @grigio & @yann300.

[code]

One can argue it is too easy to confuse `function constructor()` with `constructor()`.

[2018-04-17 10:20] chriseth commented on #3914
Not sure I understand what you mean. Can you fix it?

[2018-04-17 10:21] axic opened #3916 "Introduce pedantic mode"
with `pragma pedantic;`.

This could be a middle ground between having warnings which can be turned off. Opinionated warnings could go under the pedantic mode.

One such example is #3915.

[2018-04-17 10:22] chriseth commented on #3916
I'm not sure about this. Compiler warnings are mostly, but not only for the developers. If we enforce pedantic mode, then people cannot that easily be fooled by functions named 'constructor'.

[2018-04-17 10:22] chriseth commented on #3916
If we make it optional, then scammers just don't use it.

[2018-04-17 10:28] chriseth opened #3917 "Support ubuntu bionic source builds."

[2018-04-17 10:37] axic commented on #3908
The best is to ask on truffle's support channels.

[2018-04-17 10:38] vidhyaramani commented on #3908
thanks!

[2018-04-17 10:38] #3908 closed, assigned to nobody

[2018-04-17 10:44] chriseth commented on #2965
Note that this basically disallows any function called `constructor`, but I would say this is an acceptable limitation.

[2018-04-17 10:44] chriseth commented on #3915
Note that this basically disallows any function called `constructor`, but I would say this is an acceptable limitation.

[2018-04-17 10:53] axic commented on #3881
I think the expectation here would be that `super.doSomething()` would work if the visibility in the parent is `internal` or `public`, but is not working since it is marked as `external`.

In fact the following works as expected:
[code]

[2018-04-17 11:09] leonardoalt commented on #3915
I agree that this limitation is acceptable. I think it's worth it to lose one potential function name in order to ensure clarity.

[2018-04-17 11:12] axic commented on #3915
We already decided, at least for the time being, to lose another function name: the name matching the contract.

Both of these should also be documented properly. I don't think they are at the moment.

[2018-04-17 11:20] pirapira commented on #3916
With another mode, every design decision takes more time.

[2018-04-17 11:32] aj07 commented on #3914
https://github.com/ethereum/solidity/pull/3919

[2018-04-17 11:43] axic commented on #3761
Below what exactly? Please make a simple PR with your proposed location in the documentation and we can discuss it from there.

[2018-04-17 11:59] wadealexc commented on #3915
This was definitely needed in the new release. Good call!

[2018-04-17 12:05] #3914 closed, assigned to nobody

[2018-04-17 12:07] donamk commented on #3909
@axic  Thank you so much. I will try source build.

[2018-04-17 12:37] axic commented on #343
Closing this as for over 2 years nobody ever complained about missing Chocolatey support.

[2018-04-17 12:37] #343 closed, assigned to nobody

[2018-04-17 12:39] axic commented on #887
@chriseth is this still valid? If yes, I'd still propose to close this and to create a specific issue explaining what needs to be done.

[2018-04-17 12:40] axic commented on #898
Fixed by #3365.

[2018-04-17 12:40] #898 closed, assigned to nobody

[2018-04-17 12:46] chriseth commented on #887
We added the rules to the iulia optimizer, so I think this is as for as we will go.

[2018-04-17 12:46] #887 closed, assigned to nobody

[2018-04-17 12:51] axic commented on #2186
Fixed in #3068.

[2018-04-17 12:51] #2186 closed, assigned to nobody

[2018-04-17 12:53] axic commented on #2095
Marked this as a bug as it shouldn't be an ICE, but an `unimplementedFeatureAssert`.

[2018-04-17 12:54] axic commented on #2089
Closing this as this process is gone. We should also consider removing it from the documentation, but that is tracked elsewhere.

@pirapira reopen if you think otherwise

[2018-04-17 12:54] #2089 closed, assigned to nobody

[2018-04-17 12:56] axic commented on #2196
@ekpyron @chriseth this may make sense to review since we started to use literals as part of the 0.5.0 features.

[2018-04-17 12:56] axic commented on #2220
@chriseth I think this is done?

[2018-04-17 12:57] axic commented on #2243
@aarlt since you've worked on natspec changes, do you want to check this one out?

[2018-04-17 12:59] axic commented on #2325
Closing this as the generated code seemed to be correct.

[2018-04-17 12:59] #2325 closed, assigned to nobody

[2018-04-17 13:02] axic commented on #2495
Fixed by #3476.

[2018-04-17 13:02] #2495 closed, assigned to nobody

[2018-04-17 13:04] axic commented on #3198
Also relevant: #2630.

[2018-04-17 13:05] axic commented on #2855
Fixed by #3657.

[2018-04-17 13:05] #2855 closed, assigned to nobody

[2018-04-17 13:05] axic commented on #2816
@chfast any comments on this?

[2018-04-17 13:06] axic commented on #2741
I still think both of these make sense: including the compiler version and the fact it is a prerelease. At least currently we have experimental mode flagged in it.

I propose to include the new field `solc` (or `version`) corresponding to proper version. It could be argued that it is quite long in some cases, we could cut it down to not contain the host and compiler markings, just the version (+ p

[2018-04-17 13:09] axic commented on #2742
@ekpyron I think all of these were sorted?

[2018-04-17 13:10] axic commented on #2868
@nosferatu500 sorry, is this still a bug? Have you managed to solve it?

[2018-04-17 13:10] palango commented on #3909
I run into the following error when building from source. It used to work fine for solidity 0.4.21
[code]

[2018-04-17 13:11] axic commented on #2884
@chriseth is this still outstanding?

[2018-04-17 13:12] axic commented on #2911
@ekpyron @chriseth I think we may have fixed this

[2018-04-17 13:14] leonardoalt commented on #3857
For future reference: https://github.com/cpitclaudel/cvc4.js/

[2018-04-17 13:16] chfast commented on #2816
I believe we don't use any of these in cpp-ethereum. Simply remove all of that and run CI jobs. You should have clang build at least on Linux.

[2018-04-17 13:16] #3026 closed, assigned to nobody

[2018-04-17 13:17] axic commented on #3093
Please reopen if issue persists. It doesn't seem like a Solidity issue.

[2018-04-17 13:17] #3093 closed, assigned to nobody

[2018-04-17 13:20] axic commented on #3110
The inheritance aspect of this is handled in #3729.

[2018-04-17 13:20] #3110 closed, assigned to nobody

[2018-04-17 13:22] axic commented on #3280
Please reopen if the problem persists and there's an example.

[2018-04-17 13:22] #3280 closed, assigned to nobody

[2018-04-17 13:24] axic commented on #3388
Done via #2966.

[2018-04-17 13:24] #3388 closed, assigned to nobody

[2018-04-17 13:27] axic commented on #3592
This has been fixed IIRC.

[2018-04-17 13:27] #3592 closed, assigned to nobody

[2018-04-17 13:34] axic opened #3920 "Optimiser: remove masking on known short instructions (address, caller, origin, coinbase)"
[code]

will compile into
[code]

Affected opcodes:
- address
- caller
- origin
- coinbase
- and perhaps create/create2 ?

[2018-04-17 13:42] chriseth commented on #2196
I'm not sure this is a good idea, it can get rather messy without proper keywords. I would like to rework the _language_ to reduce the amount of keywords :)

[2018-04-17 13:42] #2220 closed, assigned to nobody

[2018-04-17 13:45] chriseth commented on #2741
Yes, we should not include the host and compiler because that would not make builds reproducible across platforms. The compiler selection dropdown is certainly annoying :)

[2018-04-17 13:48] axic commented on #2741
Actually we have that specific version already included into the metadata JSON, we can include the very same in the CBOR part.

[2018-04-17 13:50] chriseth commented on #2884
@axic I think so.

My proposal would be to change call to not do packed encoding anymore, but only accept a single `bytes` parameter and not do any padding. Maybe support a single parameterless overload.

[2018-04-17 14:00] chriseth commented on #2911
This has never been a bug for me anyway....

[2018-04-17 14:05] chriseth commented on #3920
Do you suggest to do that via the simplification rules?

[2018-04-17 14:11] jaypersanchez commented on #3909
Have you tried to install Truffle, it installs solidity's solc as part of
the install.

Jay Sanchez
Software Development Consultant
Cell: 778.678.7565
Office: (250) 984-1308
<https://hangouts.google.com/?action=chat&pn=+12509841308&hl=en&authuser=1>
info@j4interactiveinc.com
http://www.j4interactiveinc.com
http://www.linkedin.com/in/jaypersanchez

On Tue, Apr 17, 2018 at 4:56 AM, Donam Kim <notifi

[2018-04-17 14:11] axic commented on #3920
I think this one should be possible via simplification rules.

[2018-04-17 14:40] nosferatu500 commented on #2868
@axic Hi! I will checking it tomorrow and describe result here.

[2018-04-17 14:48] nosferatu500 commented on #2868
I checked it in Remix. The problem is gone, but I want to make a little more tests in "real life" contract I'll do it tomorrow and send you message about it.

[2018-04-17 14:49] axic commented on #2868
Thank you!

[2018-04-18 01:23] tomachinz commented on #1433
erm, how can I check the version of solc and also upgrade solc? i still see this error.

[2018-04-18 05:46] satyamakgec opened #3921 "Constructor doesn't working as expected"
I have the simple contract

    pragma solidity ^0.4.22;

    contract Demo22 {

    address public a;
    uint256 public b;

    constructor(address _a, uint256 _b) public {
        require(_a != address(0), "Address should not be zero");
        a = _a;
        b = _b;
    }

    function getValue() returns(address, uint256) {
        return(a,b);
    }
    }

Behaviour for constructor parameter

[2018-04-18 08:49] chriseth commented on #3921
This seems to be a problem with remix. The constructor properly reverts, but remix still reports the contract to be deployed. Can you report it there, please?

[2018-04-18 08:49] #3921 closed, assigned to nobody

[2018-04-18 09:15] leonardoalt commented on #3857
I checked https://www.npmjs.com/package/cvc4, and it doesn't seem to accept `smtlib2` inputs, only formulas constructed within the library.
Right now I'm more optimistic about https://github.com/cpitclaudel/cvc4.js/

[2018-04-18 09:33] chriseth commented on #1433
`solc --version`

[2018-04-18 09:33] chriseth commented on #1433
The way to upgrade depends on how you installed it.

[2018-04-18 09:35] chriseth commented on #3857
How difficult is it to create a binary multi-platform npm package?

[2018-04-18 10:24] leonardoalt commented on #3857
Of CVC4? Looking at https://github.com/cpitclaudel/cvc4.js/ it seems non-trivial

[2018-04-18 10:55] leonardoalt commented on #2274
@chriseth Can we close this issue?

[2018-04-18 12:06] chriseth commented on #2274
Yes, I think so.

[2018-04-18 12:07] chriseth commented on #3857
npm packages can have native binaries, i.e. things that are not javascript.

[2018-04-18 12:42] chriseth commented on #3920
As an extension, most opcodes that take an address as argument only care about the 20 lower-order bits, so anding the argument beforehand is redundant, but that might be tricky to do with these rules.

[2018-04-18 13:00] #3904 closed, assigned to chriseth

[2018-04-18 13:00] #3911 closed, assigned to nobody

[2018-04-18 13:16] axic opened #3926 "Improve parser error messages"
From https://github.com/ethereum/solidity/issues/3874#issuecomment-381562197:

[2018-04-18 13:18] leonardoalt commented on #3405
Thanks for the report!
This bug is very likely caused by the SMTChecker not yet supporting storage vars.

[2018-04-18 13:43] chriseth commented on #3198
It might make sense to not allow the wildcard function together with any other function, but that probably conflicts with upgradable contracts.

[2018-04-18 13:45] axic commented on #1241
Actually it turns out Vyper uses `indexed` now.

[2018-04-18 13:45] chriseth commented on #3198
We might also have the wildcard directly drop into inline assembly to show that it is a low-level feature.

[2018-04-18 13:47] axic commented on #1241
We could support this in 0.5.0 while still keeping `topic` to avoid the amount changes users need to do.

[2018-04-18 13:51] axic commented on #3572
Some languages use `grow()`.

[2018-04-18 13:57] axic commented on #3572
Can you please write down an example piece of code how this will be used?

I am not sure if this returns a storage reference or not? Otherwise will the user need to read `.length` and then retrieve a reference?

[2018-04-18 13:57] chriseth commented on #3572
Discussion resulted: inclining to just use `push()`. Need to come up with specific use-cases and decide whether it should return a reference to the new element, the new length or nothing.

[2018-04-18 14:01] chriseth commented on #3586
Some other cleanup around here might also be done.

[2018-04-18 14:05] chriseth commented on #3520
Discussion: let's go with the original proposal for now and try to make breaking releases more often.

[2018-04-18 14:16] leonardoalt commented on #3198
Some names that have been suggested for
- the wildcard function: `wildcard`, `catchAll`, `default`, `fallback`
- the function that receives ether and has empty data: `receive`, `receiveEther`, `deposit`, `plainCall`, `wildCardEmpty`, `empty`

[2018-04-18 14:22] axic commented on #3572
[code]

[2018-04-18 15:17] chriseth commented on #3572
What about `users.new()`? or `users.pushNew()`? (which would then return the reference)

[2018-04-18 15:19] chriseth commented on #3572
Actually, I think returning the reference is really important, because juggling around with the length is rather combersome and might lead to errors.

[2018-04-18 15:32] chriseth commented on #2916
This will be "fixed" when we disallow non-strict mode.

[2018-04-18 17:23] LogvinovLeon opened #3930 "Improve output selection within evm in standard JSON output (do not return unrequested fields)"
I've requested just: `evm.bytecode.object`, but I've got `evm.bytecode.object`, `evm.bytecode.opcodes`, `evm.bytecode.sourceMap`, `evm.bytecode.linkReferences`.

/Users/leonidlogvinov/Dev/0x/solidity/libsolidity/interface/StandardCompiler.cpp:536
[code]

[2018-04-18 17:38] #3917 closed, assigned to nobody

[2018-04-18 17:50] axic commented on #3596
After #3198 there will be a need to distinguish between "receive ether" and "wildcard".

[2018-04-18 17:50] axic commented on #3596
@chriseth I think we should do this improvement step, could be done fairly quickly after we agree on the new format.

[2018-04-18 17:51] axic commented on #3930
Thanks! This is a known limitation. Also sub-matching of the requested items isn't supported either: https://github.com/ethereum/solidity/blob/develop/libsolidity/interface/StandardCompiler.cpp#L139

[2018-04-18 17:53] axic opened #3931 "Standard JSON: support sub-matching of requested artifacts"
See: https://github.com/ethereum/solidity/blob/develop/libsolidity/interface/StandardCompiler.cpp#L139

e.g. requesting `"evm"` should enable all artifacts: `evm.bytecode.object`, `evm.bytecode.linkReferences`, etc.

[2018-04-18 18:42] axic commented on #3572
`new` sounds like a good option too.

Another one: would `S storage = users.next()` make sense? Probably sounds like an iterator.

Can we agree that we're going with the option of returning a reference and naming that appropriately?

[2018-04-18 19:23] leonardoalt commented on #3712
Ideas for stages:

1) Support integer and Bool storage vars. At the beginning of every function definition they're set to unknown values. At the end of every function definition we can just set their SSA index back to 0 (since the solver is reset anyway) or increase it.

2) Support other types (I guess this is included in another issue about mapping access)

3) Constructor

[2018-04-18 19:28] #3227 closed, assigned to chriseth

[2018-04-18 20:21] axic opened #3934 "Install a different jsoncpp version on cirleci to ensure compilation never clashes with the internal one"

[2018-04-18 20:54] axic opened #3935 "Excessive constant cycles cause crash"
The case presented in #3322 when compiled with todays `develop` results in a crash within the CycleDetector.

[code]

[code]

[2018-04-18 21:07] axic opened #3936 "Labels in assembly show two (overlapping) warnings"
[code]

[2018-04-18 21:15] axic opened #3937 "Jumps are considered modifying the state according to ViewPureChecker"
[code]

I am not sure whether this is good or bad. It is true it could jump to locations in the contract which have non-pure instructions, but that is really hard to control.

[2018-04-18 21:18] axic opened #3938 "Improve suggestin in warning about loose assembly in inline assembly"
[code]

I don't think we want to support loose assembly anyway, so the step forward here is to extend the first warning to mention "consider using functional notation".

[2018-04-18 21:22] #3915 closed, assigned to chriseth

[2018-04-18 21:28] axic commented on #3936
Probably not a bug, because the `The use of labels` message comes from the check for loose-assembly, but nonetheless it is confusing to have two warnings explaining pretty much the same thing.

[2018-04-18 21:41] axic commented on #238
This is worse now than a year ago, I ran it for 20 minutes and it didn't finish.

[2018-04-18 22:34] axic commented on #3910
[code]

results in

[code]

[2018-04-18 22:42] axic commented on #1807
@chriseth @chfast what do to with this issue?

[2018-04-18 23:16] chriseth commented on #3937
It was done like that on purpose and the reason is as you describe. Jumps are discouraged anyway, so I think we are fine.

[2018-04-18 23:18] chriseth commented on #3938
Changed description

[2018-04-18 23:22] axic commented on #3937
I am fine with this, but it would be nice to have it properly explained in the documentation (if someone has the time to do it).

It can be closed when loose assembly is entirely removed, if nobody documents it until then.

[2018-04-19 01:05] axic commented on #2741
Proposed CBOR key `solc` and value `VersionStringStrict` (the same as in the metadata JSON).

Need to update: tests, Remix, Etherscan.

[2018-04-19 06:55] leonardoalt commented on #3572
I agree with returning a reference.
`new` does sound good!

[2018-04-19 07:01] chfast commented on #1807
Nothing with this particular one. This can be closed as the solution is to install boost headers in system.

[2018-04-19 07:17] chriseth opened #3942 "Clarify implicit conversions between literals and bytesNN types."
Extension of https://github.com/ethereum/solidity/issues/3786

The user should always be aware which side of the value is padded with zeros in the conversion. Conversion from hex literals (`0xff`), hex strings (`hex"ab"`) and strings (`"hello"') should be treated differently than conversion from decimal literals (`256`).

[2018-04-19 07:23] sdelvalle57 commented on #169
Try this:

const path = require('path');
const fs = require('fs');
const solc = require('solc');

const MyToken= path.resolve(__dirname, 'contracts', 'MyToken.sol');
const StandardToken = path.resolve(__dirname, 'contracts', 'StandardToken.sol');
const StandardBurnableToken = path.resolve(__dirname, 'contracts', 'StandardBurnableToken.sol');
const SafeMath = path.resolve(__dirname, 'contracts', 'S

[2018-04-19 07:29] sdelvalle57 commented on #169
Or this:

const path = require('path');
const fs = require('fs');
const solc = require('solc');

const CONTRACTS_DIR = path.resolve(__dirname, 'contracts');

function findContract(pathName) {
    const contractPath = path.resolve(CONTRACTS_DIR, pathName);
    if (isContract(contractPath)) {
        return fs.readFileSync(contractPath, 'utf8');
    } else {
        throw new Error(`File ${contractP

[2018-04-19 07:48] chriseth opened #3944 "Update the documentation to not generate any compiler warning."
We can utilize `test/cmdlineTests.sh` to find warnings in the documentation.

After this, we should also change this script to force no warnings.

[2018-04-19 08:42] MushuLeDragon commented on #3854
Since we merged the PR, can we close the issue ?

[2018-04-19 08:44] chriseth commented on #3854
Yes, I thought it would auto-close.

[2018-04-19 08:44] #3854 closed, assigned to nobody

[2018-04-19 09:08] tsauvajon commented on #3854
I believe it closes only if you add keywords (`closes`, `resolves`) and the number of the issue in a commit message. We've not referenced the issue in any of our commits !

[2018-04-19 09:19] #1807 closed, assigned to nobody

[2018-04-19 10:38] k06a commented on #2928
Any progress?

[2018-04-19 10:51] axic commented on #2928
@ekpyron @chriseth were the latest changes to file handling fixing this?

[2018-04-19 11:33] axic commented on #3324
@soad003 was there any progress on static analyzer part?

@leonardoalt are you interested in this?

[2018-04-19 11:57] chriseth commented on #3324
The idea is to add a static analyzer module to remix here, right?

[2018-04-19 12:25] #2965 closed, assigned to chriseth

[2018-04-19 12:25] #2816 closed, assigned to nobody

[2018-04-19 12:39] axic commented on #3324
Yes.

[2018-04-19 12:39] chriseth commented on #3935
I guess the problem is that the analysis result from one constant is not retained for the next.

[2018-04-19 13:15] chriseth commented on #3712
The nice thing about storage is that we can resolve aliasing easily: If the "path" to reach two "items" in storage is different, then the items are different, as long as the path does not start with a local variable pointing at storage. Path here means the sequence of index and member access operations.

[2018-04-19 14:10] #3910 closed, assigned to nobody

[2018-04-19 15:41] soad003 commented on #3324
https://github.com/ethereum/remix/pull/766

[2018-04-19 17:34] axic commented on #3750
@gitcoinbot it has been merged already.

[2018-04-19 23:39] axic commented on #3210
@chriseth @ekpyron I'd like to get this considered for 0.5.0

[2018-04-19 23:47] axic opened #3955 "Deprecate variable argument mode of keccak256/sha256/ripemd160"
Right now these functions accept a variable number of arguments and produce a tight packed version.

Some warnings are already displayed for tight packing literals. #982 proposes to turn those warnings into errors.

The new `abi.encode*()` methods offer a replacement to perform packing, which then can be passed to all these hashing functions.

Proposal is to raise a warning now when these hashing

[2018-04-20 06:57] #3920 closed, assigned to axic

[2018-04-20 06:59] chriseth commented on #2741
Is there an easy compression that can be applied to the version string? We used to store the version in library code in binary, for example. Also, perhaps something like `solVer` as key?

[2018-04-20 07:00] chriseth commented on #3572
new is actually not possible, since it is a keyword.

[2018-04-20 07:02] AnthonyBroadCrawford commented on #3557
@axic Mind if I run with this issue?  I haven't had a chance to dig into the test suite yet.

[2018-04-20 10:40] axic commented on #3557
@AnthonyBroadCrawford please work ahead! Let us know on gitter if you run into any issues. These test should go into `tests/libdevcore/JSON.cpp`.

[2018-04-20 10:44] axic commented on #3955
A deprecation warning could be added which suggest to use `keccak256(abi.encodePacked(...))`.

[2018-04-20 10:52] axic commented on #796
How about having a modifier area for unchecked arithmetics:
[code]

Then again it can be accomplished with inline assembly if it is needed.

[2018-04-20 11:03] vidhyaramani opened #3960 "Error:Operator != not compatible with types address and type(struct Metacoin.doctor storage pointer"
function agreement(bytes32 hash)public returns(bool success){
    if(msg.sender!=patient&& msg.sender!=doctor)throw;
    if(msg.sender==patient&& msg.sender==doctor)data[hash].approvedBypatient=true;
    if(msg.sender==doctor)data[hash].approvedBypatient=true;

[2018-04-20 11:15] chriseth commented on #796
I am really torn about what should be the default. I don't think that we should force the user to resort to inline assembly for the non-default case, though, since it makes complex crypto operations much less readable.

[2018-04-20 11:21] axic commented on #796
I think it may be good to have overflow checks on by default, except in an unchecked area, because then the SMT checker could also ignore those blocks and just assume their values can be the entire range after the block, requiring the user to insert `require`/`assert` statements after.

In general user code is about high level logic where they do not expect overflows and then there are specific bl

[2018-04-20 11:21] pirapira commented on #796
One way to get the intention of the programmer is to introduce types for numbers meant as `wei`, `seconds (duration)` `seconds (UNIX time)`...

[2018-04-20 11:22] axic commented on #796
For that I'd suggest to have a look at Vyper. It also is a good (perhaps complementary) solution.

[2018-04-20 11:25] AnthonyBroadCrawford commented on #3557
@axic Awesome, thank you.

[2018-04-20 11:26] axic commented on #3960
This snippet is not enough to understand the problem. I suggest to check out https://ethereum.stackexchange.com or https://gitter.im/ethereum/solidity for quick help on programming questions.

[2018-04-20 11:26] #3960 closed, assigned to nobody

[2018-04-20 11:36] axic commented on #1087
Should we close this issue and consider it part of the big umbrella issue #796 ?

[2018-04-20 11:46] chriseth commented on #796
@axic yes, an unchecked region where also the SMT checker is disabled is certainly a good idea. Whether we can enable runtime checks by default in the non-unchecked areas should also depend on an assessment about how well the optimizer can handle such cases, and perhaps an improvement in that area.

[2018-04-20 12:36] axic commented on #3405
At the minimum the message should be a bit more clear (e.g. the assertion to have a proper reason).

[2018-04-20 13:01] leonardoalt commented on #3405
Yes, this shouldn't happen, I'll fix it.

[2018-04-20 14:26] nosferatu500 commented on #2868
Hi! I make a lot of tests for my contract with old issue. Currently, everything okay. You can close this issue.

[2018-04-20 14:55] OliviaSong commented on #3446
@chriseth
I mean, when will the storage  return be formally supported?
The present structure can only record state, and it is of little use in function.

[2018-04-20 15:58] chriseth commented on #2868
Thanks a lot!

[2018-04-20 15:58] #2868 closed, assigned to nobody

[2018-04-20 16:01] chriseth commented on #3446
@hunjixin you can copy employing a loop. We are actually considering removing copy operations that require unbounded costs alltogether from the language.

[2018-04-20 16:03] timofeys1 opened #3961 "Missing documentation examples on ABI encoding of multi-dimensional dynamic collection"
It would be great if there were some examples of how to encode multi-dimensional dynamic collections. It is a bit confusing to derive from the formal specification and I was not able to find many unit tests on this in web3 libraries. The only one I found lead me to an error while implementing my own encoding https://github.com/ethereum/web3.js/issues/1570.

[2018-04-20 16:32] #982 closed, assigned to nobody

[2018-04-20 16:44] axic opened #3962 "Should tight packing report a warning for string or hex literals?"
None of these report an issue currently:
[code]

(Issue from https://github.com/ethereum/solidity/pull/3956#pullrequestreview-114043230)

[2018-04-20 18:04] frangio commented on #3856
@chriseth What order of direct parents is passed to the C3 algorithm in the Solidity compiler?

[2018-04-20 21:43] axic opened #3965 "Change m_bytes to unsigned in FixedBytesType"
The member variable `m_bytes` is signed, although it can never be negative. We should change its type to be unsigned.

[2018-04-20 21:43] axic commented on #3965
@chriseth I cannot find where we had a thread about this, but it seemed it was just left there as a legacy and it doesn't really make sense anymore

[2018-04-20 22:34] mattaereal opened #3966 "Difference between unused address vs address that used selfdestruct?"
Is there a **difference between** an **address** that was **never used** to store a contract and an **address** that previously had a contract and **did a selfdestruct**?

[2018-04-20 22:43] axic commented on #3966
I think this is a better question for https://github.com/ethereum/yellowpaper.

Good question though, I haven't seen the latest version of the YP, but it may need more clarity regarding this.

[2018-04-20 22:43] #3966 closed, assigned to nobody

[2018-04-21 00:54] OTTTO commented on #3572
```expand(n)``` or ```grow(n)``` makes sense, as there may be instances where a developer wants to add the default value and decides to use ```push()``` instead of ```push(0)```;  in this case, the exact intentions may be confusing to someone reading the code, which is why a separate method name sounds appropriate.

[2018-04-21 09:31] aj07 commented on #3541
https://github.com/ethereum/solidity/pull/3967

[2018-04-21 09:50] aj07 commented on #3511
https://github.com/aj07/solidity/commit/e201f76730f116cef752266d2bec111e3fd92d6d

[2018-04-21 09:54] aj07 commented on #3211
Can we close this. This has been merged in https://github.com/ethereum/solidity/pull/3173

[2018-04-21 10:03] aj07 commented on #2177
I think it got defined at https://solidity.readthedocs.io/en/develop/abi-spec.html?highlight=ABI#application-binary-interface-specification  . Maybe PR was done later.

[2018-04-21 10:04] aj07 commented on #2906
I will take this

[2018-04-21 12:50] axic commented on #3211
This wasn't done in #3173. That PR prompted the idea.

[2018-04-21 12:51] axic commented on #3511
Please create a PR, links to commits is not something what can be reviewed.

[2018-04-21 16:58] aj07 commented on #3511
https://github.com/ethereum/solidity/pull/3967

[2018-04-21 17:08] aj07 commented on #3211
saw patch was merged. There were no comments about further improvement.
Please, let me know if there is further improvement.

[2018-04-21 19:37] mbolotov opened #3968 "Windows: Backslash in a path to contract leads to solc crash"
### Steps to reproduce:

1. Define two contracts:
[code]
[code]

2. Run the following command:
`solc -o . --bin  .\A.sol B.sol`

### Expected result:
Contracts to be compiled successfully

### Actual result:
Solc crashed

### Output:

ic_string<char,struct std::char_traits<char>,class std::allocator<char> > &,const class std::basic_string<char,struct std::char_traits<char>,class std::allocator<cha

[2018-04-21 22:01] BlockchainBud opened #3969 "Issue calling function on another contract since version 4.22+"
The following example works fine in Solidity 4.21 and below. Since upgrading to 4.22+ (In RemixIDE and with Truffle compiler), I cannot call functions from another contract in this manner.

This is the case when running my own private Geth node, but not when running `truffle develop`

**Code Example**
[code]

**Reproduce**
1. Deploy both contracts
2. Call One->setTwoContract(<address>)
3. Call One

[2018-04-22 05:36] donamk commented on #3909
@axic I followed your comment and I figure out what is the problem point. I am so happy that now I can see the error log file. However, still I cannot solve this issue. How can I fix this missing boost static libraries?

[code]

[2018-04-22 05:41] satyamakgec opened #3971 "Error string in require is unexpectedly failing the test cases"
I am updating the contracts for solidity version v0.4.23. Cause of updating is to write the error strings in the `require` and `revert` for error handling. But somehow when I am adding the error string in some of `require` expression, It gets failed in test cases.

[code]
`require` function in the above function cause a failure because of error string, If i remove that error string then it will ru

[2018-04-22 08:47] donamk commented on #3909
Wow... I finally successfully build solidity.
The problem point is Boost (or brew),

What I did to fix this problem
- update boost from 1.66 to 1.67 (brew update boost)
- remove boost 1.67 (brew uninstall --force boost)
- install boost (brew install boost) (1.67 again) (Compile Fail..!!)
- install boost@1.60 (Compile Fail..!!!)
- uninstall boost@1.60
- install boost@1.59 (Compile Success 😁 )
- (de

[2018-04-22 13:01] leonardoalt opened #3972 "Set timeout to single SMT query"
Whenever we ask the CVC4 or Z3 solvers to check input for satisfiability, we should somehow limit how much time they can spend looking for a solution. The same might apply when we ask for a model, if that is not already done as part of checking for satisfiability. At best, this is just a setting for Z3 and CVC4. In the worst case, we have to set up the solver in a separate thread and somehow kill

[2018-04-23 04:28] ghost opened #3973 "Remix: Emitting a non-existing event creates an "unexpected error during compilation""
Source code to spawn this error in remix:

[code]

Emitting non-event types spawns this "unexpected error" which makes this harder to debug.

I have not checked if this is a general solidity compiler bug, but it happens in remix.

[2018-04-23 04:43] sledrho opened #3974 "Update StateVariableDeclaration Grammar Rule"
The current grammar defines state variable declarations as:

Yet the solidity compiler (Version 0.4.23) accepts any of the following:

         contract test {
               uint constant public MAX_OWNER_COUNT = 50;
               string public constant symbol = "Example";
               string public constant name = "Example String";
               uint8 public constant decimals = 8;
         }

[2018-04-23 08:03] chriseth commented on #3966
As a short answer: From inside the EVM, this distinction cannot be detect, although it is encoded differently in the state trie, as far as I know.

[2018-04-23 08:06] chriseth commented on #3974
Thanks for finding this! Please update the grammar to the first version you mention. It should be similar to what we allow for functions.

[2018-04-23 08:09] chriseth commented on #3856
Let's check with the compiler:

This one compiles:
[code]
But that one does not:
[code]

So the order in the inheritance specifier (the direct parents) is base-to-derived (read from left to right).

[2018-04-23 08:11] chriseth commented on #3856
Of course it might also be that there is a bug in the C3 implementation, and not in the way the inheritance graph is passed to the algorithm.

[2018-04-23 08:19] chriseth commented on #2906
@aj07 is ERC20 part of the solidity documentation?

[2018-04-23 08:24] chriseth commented on #3969
This works fine for me in remix for 0.4.22 and 0.4.23. Did you try to debug why it runs out of gas?

[2018-04-23 08:26] chriseth commented on #3971
Sorry, but this is very hard to debug without the full context. Can you try to slim down the contract to something you can post in full here?

[2018-04-23 08:26] chriseth commented on #3971
Also, did you try to run a debugger and see where exactly it fails?

[2018-04-23 08:27] aj07 commented on #2906
no as of now, I will include it in decimal section

[2018-04-23 09:59] palango commented on #3909
Reinstalling boost 1.67 solved the issue for me as well.

[2018-04-23 11:03] axic commented on #3572
@ekpyron proposed `pushZero`

[2018-04-23 11:06] chriseth commented on #3314
Decision: On the left hand side, empty component is fine (`_` is not required).

[2018-04-23 11:06] chriseth commented on #3314
Can be implemented via warning in pre-0.5.0

[2018-04-23 11:13] chriseth commented on #3955
This should also include `call` and `delegatecall`. Especially for those, empty arguments should be fine without warning.

[2018-04-23 11:14] chriseth commented on #3493
Proposed solution: With a breaking change, modify how arrays are encoded in packed way, do not pad them to multiples of 32 bytes.

[2018-04-23 11:16] chriseth opened #3978 "Forwarding via bytes should not pad"
We should check that forwarding calls via `.call(msg.data)` and especially via `bytes memory x=msg.data; a.call(x);` does not pad.

[2018-04-23 11:16] chriseth commented on #3978
Potentially proposed solution: With a breaking change, modify how arrays are encoded in packed way, do not pad them to multiples of 32 bytes.

[2018-04-23 11:18] chriseth commented on #3978
Related / potential duplicate: https://github.com/ethereum/solidity/issues/2884

[2018-04-23 11:26] chriseth commented on #2428
We should check how this behaves with regards to parameter name changes during assignment.

[2018-04-23 11:26] axic commented on #2428
Decision: return parameter naming is removed.

[2018-04-23 11:32] chriseth opened #3979 "Revert if calldata is too short"
Part of https://github.com/ethereum/solidity/issues/2109 (but less strict)

Revert if static part of calldata is too short or dynamic data points out of bounds.

 basically enable what we current have as optional.

[2018-04-23 12:24] jtakalai commented on #1677
Note BTW that forcing triplets isn't super great, since in East Asia they separate zeros in quadruplets, and in India they do it in a third way, see https://en.wikipedia.org/wiki/Decimal_separator#Digit_grouping

[2018-04-23 13:16] chriseth commented on #2928
@k06a @axic This is not really related to `--allow-paths`, but rather to the fact how relative paths are resolved.

The issue is that the compiler creates a virtual filesystem that contains the source files. The location of the source files in this virtual filesystem is used for resolving import statements and the paths are also used for the metadata in the contract.

Since we obviously do not wan

[2018-04-23 13:16] chriseth commented on #2928
Please tell me if this resolved the issue or if there is still something that can be improved.

[2018-04-23 13:39] #2829 closed, assigned to nobody

[2018-04-23 14:03] axic opened #3980 "Unhelpful error message should be improved in parser"
[code]

results in

[code]

(The problem is the missing space between 1 and second).

[2018-04-23 14:55] #1087 closed, assigned to pirapira

[2018-04-23 15:28] chriseth commented on #3750
So, what are the security implications of installing @gitcoinbot on this repo?

[2018-04-23 15:30] chriseth commented on #3750
@netrunnerX can you claim the bounty without us installing the app on the repo?

[2018-04-23 15:35] #3889 closed, assigned to erak

[2018-04-23 15:38] chriseth commented on #3596
The problem is that we actually cannot really identify internal functions by their name. Should we rather use the AST id?

[2018-04-23 16:12] favadi opened #3982 "Snap version is out of dated"
Current version in snap store:

[code]

At the time I'm writing it 0.4.23 is released.

So have we enabled automatically build for snap package yet?

One more thing, the version of snap package.

[code]

According to the [version-script line](https://github.com/ethereum/solidity/blob/e685f9f59ecf13210eb7a32156d556a4cdd8ff58/snap/snapcraft.yaml#L3):  `git describe --exact-match --tags 2> /dev/null

[2018-04-23 16:36] netrunnerX commented on #3750
@chriseth I wish, the problem is that I must pay gas to submit work on Gitcoin and I have 0 eth 😅 . I have to find a way to buy some eth.

[2018-04-23 21:49] rmeissner opened #3983 "Delegatecall not working in some cases"
Hey,

I used the following example contracts in Remix:

[code]

(source: https://vomtom.at/address-call-vs-delegatecall-vs-libraries/)

When I select any compiler before 0.4.20 it will generate 3 events (if you call `ThatCallsSomeContract.callTheOtherContract` with the address of `SomeContract`). If I choose 0.4.20 or a newer compiler I don't have any event output.

I used the JavaScript VM of Rem

[2018-04-23 21:55] rmeissner commented on #3983
Sorry ... too late ... missed the library call change ... issue can be closed.

[2018-04-23 23:44] kingjerod commented on #3971
@chriseth I think the require error messages are getting returned as values. I've ran into the same problem. I created a token where you can map a string to token id. Most of the code is standard but here is the important part:

    mapping (string => uint256) private uuidToTokenId;  // Maps UUID to token id
    mapping (string => bool) private uuidExists;        // Checking if UUID exists

    //

[2018-04-23 23:57] axic commented on #3971
Are you sure this is a compiler error and not an error in Etherscans VM implementation? Those `view` functions I imagine Etherscan runs on their own VM (potentially ethereumjs-vm in the browser) and not as a transcation.

They may not check for failed transactions properly and just take the returndata in every case.

[2018-04-24 00:14] kingjerod commented on #3971
I had to update my backend code to accommodate for this new behavior. Before web3 would throw an error on revert, now it just returns the value. Here is some code that I just ran with the output from my personal Rinkeby geth node:

[code]

Output:
[code]

[2018-04-24 02:01] axic commented on #3971
That really feels like a limitation in web3.js. Can you try it in Remix?

[2018-04-24 03:38] miraggool opened #3984 "solc: exit status 1"
my env :
windows 10, solc version : 0.4.22 + commit.4cb486ee.windows.msvc
geth version : 1.5.5-stable

when i compile solidity, error occured like this.
Error: solc: exit status 1
unrecognised option '--add-std'

i tested simple command  on geth Console

how can i fix this?

[2018-04-24 05:39] kingjerod commented on #3971
![chrome_2018-04-23_22-37-40](https://user-images.githubusercontent.com/2287252/39168013-042d9412-4747-11e8-942d-7ddf18cee24f.png)

[2018-04-24 05:42] swaldman opened #3985 "Should we clarify when library code is linked vs embedded?"
To my surprise, I get nice, fully-linked, deployable code if I compile this.

[code]

That surprised me (pleasantly), because the imported parent contract (indirectly) depends on Zeppelin's SafeMath library. I expected the code to include `__SafeMath__..._ ` placeholders that would have to be linked.

I'm happy, it works, yay! But in the documentation, I can't find an explanation of when the compi

[2018-04-24 06:23] Balajiganapathi commented on #1677
@jtakalai Only hex numbers have strict validation. Decimal numbers don't have any such rules. So, any grouping rule should work.

[2018-04-24 08:06] GNSPS commented on #3985
When utilizing `internal` functions from libraries these are inlined (since it would really just be a waste of gas to not do so in most cases).

[2018-04-24 08:25] satyamakgec commented on #3971
@chriseth debugger is not working with truffle v4.1.7. It always gives some `contractName` error. I talked with one of the truffle-debugger developer. He said he fix those error but I think you need to release patch version for the truffle, So we can use it.

This is a very random error. It comes to a lot of the places in my contracts repo even when I declare one more variable which has no use sti

[2018-04-24 08:29] swaldman commented on #3985
@GNSPS Thanks!

That seems like a good thing to document very clearly. (It seems like a very useful trick, to get the code reuse without the complexity of an extra module and a linkage and post-hack nervousness over the security of `DELEGATECALL`-based constructs.)

I see in the docs an [example](http://solidity.readthedocs.io/en/v0.4.23/types.html?highlight=internal) of a library built with `inte

[2018-04-24 08:30] #3985 closed, assigned to nobody

[2018-04-24 10:13] chriseth commented on #3984
The `--add-std` option was removed. Please update geth, the latest version is 1.8.6.

[2018-04-24 10:13] #3984 closed, assigned to nobody

[2018-04-24 10:38] jtakalai commented on #3301
@chriseth except this isn't Python. Python doesn't require explicit type declarations, so Python's zen wouldn't be broken by disallowing automatic type inference since there is none to begin with -___-

The whole point of static type checking is that the pieces won't fit wrong, even if you don't explicitly spell out the types. Also, have you considered this form of tuple de-construction?
[code]

[2018-04-24 11:11] chriseth commented on #3301
@jtakalai yes, this is exactly what we will be implementing for the next release.

[2018-04-24 14:29] aarlt opened #3988 "address sanitizer reporting potential memory leaks"
After running `soltest` with enabled address sanitizer potential memory leaks are detected in `develop` branch, running on `Ubuntu 16.04.3 LTS`.  I also checked releases `0.4.23` and `0.4.21` with similar results.

# steps to reproduce
[code]

see [sanitizer.log](https://gist.github.com/aarlt/df2bfa7d6a33d6c72233d452edca6f96)

[2018-04-24 15:24] chriseth commented on #3988
Hm, these rather look like false positives to me. Could you try to check the compiler itself for memory leaks as opposed to the testing binary? I think it is enough to just run `test/cmdlineTests.sh`

[2018-04-24 15:25] gnidan commented on #1100
Type aliases would be useful for simpler use cases (besides complex mapping types):

Let's say I am writing an application that makes use of several different `struct` types, each identified by some opaque public key (maybe a hash, or even an integer ID.) This identifier type might be `bytes32` in all cases.

As a result, it'd be difficult to look at the code where this ID type is used and discern

[2018-04-24 17:27] aarlt commented on #3988
I ran `test/cmdlineTests.sh` with similar results.

see [sanitize-cmdlineTests.log](https://gist.github.com/aarlt/8c61e820f97f4c092f268ac239cc6ff1)

[2018-04-24 19:45] chriseth commented on #3988
Ah, that's actually much better!

[2018-04-24 19:45] chriseth opened #3990 "LValue class should have virtual destructor"
Found by asan in https://github.com/ethereum/solidity/issues/3988

[2018-04-24 19:46] aarlt commented on #3988
@chriseth nice!

[2018-04-24 19:46] chriseth commented on #3988
All of the errors shown above point to LValue, which is a polymorphic class that does not have a virtual destructor. Created https://github.com/ethereum/solidity/issues/3990 for that, so I think this can be closed.

[2018-04-24 19:46] #3988 closed, assigned to nobody

[2018-04-24 19:47] chriseth commented on #3988
Thanks for checking, @aarlt !

Perhaps we should really setup asan as part of the CI, or at least as part of the fuzz testing we do from time to time.

[2018-04-24 19:59] aarlt commented on #3988
@chriseth i highly recommend this! if this fixes also all the other potential warnings within `soltest`, the best would be to compile `soltest` always with enabled `address sanitizer`, the `undefined behaviour sanitizer` may also be very usefull..

[2018-04-25 07:51] #3990 closed, assigned to nobody

[2018-04-25 10:10] artjoma commented on #3969
Same issue.
Version: 0.4.21+commit.dfe3193c.Darwin.appleclang and below - works fine
Version: 0.4.23+commit.124ca40d.Linux.g++ - out of gas

`//get contract by address
    function getAddress (uint8 addressId) view public returns (address){
        return registerMap[addressId];
  }`

caller contract :
`metadataContr.getAddress(FIN_UTILS_CONTRACT_ID)`

Tested on Parity 1.9.4

[2018-04-25 12:00] chriseth commented on #3969
If this is the place where it fails it might just mean that the gas estimation is wrong. Did you specify the gas limit manually?

[2018-04-25 12:01] artjoma commented on #3969
Increased by 1mil, the same story. Same code, help only rebuild with 0.4.21 version.

[2018-04-25 13:32] axic commented on #2131
Some more proposals:
- sil (smartcontract intermediate language)
- ils (intermediate language for smartcontracts)
- slim (smartcontract language for intermediate "machines")
- circle (convenient intermediate representation of (smart)contracts in/of languagues for ethereum - I'm sure it is possible to find a backronym to pretty much everything, as stated by this monster)
- lir (language for interme

[2018-04-25 13:36] federicobond commented on #3856
We talked this a bit with @frangio yesterday. The problem here is that Solidity does the linearization from right to left while Python does it from left to right. In Python, for example, you always put mixins before the base class whereas in Solidity you always put them after.

Here's some sample Python code:

[code]
To get the same method resolution order in Solidity, you have to do:
[code]
Notic

[2018-04-25 14:05] BlockchainBud commented on #3969
Same here, I did try setting gas manually. I also tried getting more information yesterday, but wasn't able to come to any additional conclusions.

@chriseth can you link me to a guide on how I should debug this? I will try to provide more information if I can.

[2018-04-25 15:54] franz101 opened #3993 "Solidity by example: Safe Remote Purchase throws errors"
Just a quick note that the example in the documentation is not working

Safe Remote Purchase
https://solidity.readthedocs.io/en/v0.4.23/solidity-by-example.html#safe-remote-purchase

browser/Transaction.sol:62:25: Warning: Using contract member "balance" inherited from the address type is deprecated. Convert the contract to "address" type to access the member, for example use "address(contract).ba

[2018-04-25 16:07] franz101 commented on #3993
My solution

`pragma solidity ^0.4.22;

contract Purchase {
    uint public value;
    address public seller;
    address public buyer;
    enum State { Created, Locked, Inactive }
    State public state;

    // Ensure that `msg.value` is an even number.
    // Division will truncate if it is an odd number.
    // Check via multiplication that it wasn't an odd number.
    constructor() public pay

[2018-04-25 17:34] vs77bb commented on #3750
Hi @chriseth @netrunnerX sorry for the delay on our side here, and for Gitcoin Bot running wild. Sincerely apologize and will clean up Gitcoin Bot accordingly. cc @owocki

Yes, @netrunnerX can claim without you installing the app.

@netrunnerX - feel free to make a submission to the [Gitcoin Faucet](gitcoin.co/faucet), which will distribute you enough ETH to submit work. From there, we will pay ou

[2018-04-25 18:59] netrunnerX commented on #3750
Hi @vs77bb ,

I'm trying to submit a request to Gitcoin Faucet, but it returns an error:
"The submitted github profile shows a pending faucet distribution."

The weird thing is that i haven't submitted a previous request. The only thing I did before was check the URL before going out of home.
Is there a way to see if I really have a pending distribution?

Thank you!

[2018-04-25 19:02] vs77bb commented on #3750
@netrunnerX Just DM'd you on Gitcoin slack for your MetaMask details. I'll send over to you soon!

[2018-04-26 08:17] chriseth commented on #3993
Thanks! Can you create a pull request with this?

[2018-04-26 08:31] chriseth commented on #3969
Please try to create a trace of the transaction: https://wiki.parity.io/JSONRPC-trace-module

[2018-04-26 09:25] ethernomad commented on #3969
It sounds like you are compiling for byzantium, but running on homestead.

solc has a --evm-version option.

[2018-04-26 12:18] artjoma commented on #3969
@ethernomad doesn't help with "homestead"

[2018-04-26 14:09] phiferd commented on #796
The recently discovered overflow on batchTransfer in some ERC20 contracts is a good example of the type of issue that could be avoided if this is implemented.

https://medium.com/@peckshield/alert-new-batchoverflow-bug-in-multiple-erc20-smart-contracts-cve-2018-10299-511067db6536

[2018-04-26 14:11] axic commented on #1100
Actually if you look at all the comments it started out as a references, but in the comments most of the discussion was about `typedef`s 😉

[2018-04-26 14:16] ewingrj opened #3997 "compiler using --standard-json doesn't error if incorrect version"
If I try and compile a contract with `pragma solidity ^0.4.21` using the `--standard-json` option & solc version 0.4.18, the compiler will error complaining about the syntax for `emit MyEvent()` but with no mention that I am using an incorrect version of solc to compile the contracts.

I'm not sure if this is fixed in a more recent version or not

[2018-04-26 14:17] Pzixel opened #3998 "String memory variable cause function to return no value"
I'm writing a simple smart contract which loops over internal array and checks if strings are equal. It compiles fine but when I run this smart contract I get no value at all. I started my investigation and here is what I have found.

Consider following smart contract:

[code]

Deploy it and call `createRequest(somevalue)`. Then call  `getRequestsByFilter(anyvalue)` and you should see `1 1 1 0x00.

[2018-04-26 14:19] axic commented on #3997
That is weird and should not happen. ~~Are you sure you are using 0.4.18 ?~~

Tried it in Remix and the problem indeed seems to be present.

[2018-04-26 14:25] axic commented on #3997
Sorry, it is just the way the compiler works.

The version pragma is evaluated after the parsing stage and since the issue is a parser error, it doesn't even get to evaluate the version pragma.

[2018-04-26 14:30] axic commented on #796
For the syntax (mentioned in https://github.com/ethereum/solidity/issues/796#issuecomment-383060269) I propose:
[code]

It follows the same syntax as not-so-well-known syntax of the assembly keyword: `assembly "evmasm" {}`

[2018-04-26 14:45] ewingrj commented on #3997
I thought that might be the case. Thanks

[2018-04-26 14:45] #3997 closed, assigned to nobody

[2018-04-26 16:14] chriseth commented on #796
@axic yep, exactly my thought, that allows us to introduce other checks in the same way later.

[2018-04-26 16:18] chriseth commented on #3998
Are you sure you are running this on a byzantium-compatible blockchain?

[2018-04-26 16:21] axic commented on #796
That was my motivation :)

[2018-04-26 16:33] Pzixel commented on #3998
I run it on parity. However, it seems just an error because of trying to access other's contract dynamic string method. However, It doesn't work with sized types too:

[code]

Here expected value is `true` but it's actually `false`.

![](https://i.stack.imgur.com/V15E4.png)

I'm not sure anymore if it's a compiler bug or just bad EVM, but I think we need at least some explanation here, like some w

[2018-04-26 17:25] kumavis commented on #796
@axic what about making the current math operators safe and adding new operators for non-safe math
[code]
pick whatever symbol works, i chose `%+` to imply modular arithmetic

Edit:
I guess this would not handle the conversion cases (e.g. signed->unsigned)
And the generic check-modifying block opens up interesting possibilities

[2018-04-26 19:09] fcorneli commented on #1388
On FreeBSD I get the following error when trying to compile solidity:
[code]

Seems like `MSIZE` is already defined somewhere else.

[2018-04-27 12:14] chriseth commented on #3934
@axic can you provide a little bit more information what kind of "different" version that should be? If it is a "help-wanted" issue, it should be clear what is to be done. Thanks!

[2018-04-27 12:19] axic commented on #3934
I've deliberately left it out because at the time it was created we were close to merge the version update :)

Now it can be clearly said: Solidity uses 1.8.4 as a built in. The test setup should have 1.7.7 installed in the system.

[2018-04-27 12:51] Pzixel commented on #3998
I have found out that it's parity bug, others ethereum implementations works fine with this code.

[2018-04-27 12:51] #3998 closed, assigned to nobody

[2018-04-27 13:15] axic commented on #3998
You can link to the Parity issue? It is useful for others finding this issue to be able to track what's going on.

[2018-04-27 13:19] Pzixel commented on #3998
Of course: https://github.com/paritytech/parity/issues/8503

It basically forbids any interacton between contracts, e.g. in provided example you cannot call `id()` function.

[2018-04-27 17:06] chriseth commented on #1761
This will be handled by the SMT component.

[2018-04-27 17:06] #1761 closed, assigned to nobody

[2018-04-27 17:29] djl-gg commented on #3965
Saw the `good first issue` note and signed up.  Will work on it this weekend

[2018-04-27 17:29] chriseth commented on #3965
Great, thanks! It should not be such a big deal, the problem is that this tiny change might incur other changes in various parts of the code :)

[2018-04-27 17:33] djl-gg commented on #3965
Awesome.  Probably overly excited about this because I love the blockchain ecosystem!

[2018-04-27 18:50] chriseth commented on #3741
Please reopen if this did not answer your question.

[2018-04-27 18:50] #3741 closed, assigned to nobody

[2018-04-27 18:53] chriseth commented on #2959
Please reopen if you have more information.

[2018-04-27 18:53] #2959 closed, assigned to nobody

[2018-04-27 18:56] chriseth commented on #2874
I don't see how this issue is about solidity. Please reopen if I'm wrong.

[2018-04-27 18:56] #2874 closed, assigned to nobody

[2018-04-27 18:57] #2723 closed, assigned to nobody

[2018-04-27 18:58] chriseth commented on #2689
This is fixed by soon disallowing assignment to length.

[2018-04-27 18:58] #2689 closed, assigned to nobody

[2018-04-27 18:59] chriseth commented on #2245
Acceptance criterion: Improve the documentation about the optimizer settings, especially the "runs" parameter.

[2018-04-27 19:00] chriseth commented on #2253
This is superseeded by updating the documentation to state that this limitation is no longer in effect.

[2018-04-27 19:00] #2253 closed, assigned to nobody

[2018-04-27 19:01] chriseth commented on #1821
Since we now warn about loose assembly, I think this can be closed.

[2018-04-27 19:01] #1821 closed, assigned to nobody

[2018-04-27 19:02] #1800 closed, assigned to nobody

[2018-04-27 19:19] chriseth commented on #3764
Someone with access to Windows please verify this and update the documentation :)

[2018-04-27 19:20] chriseth commented on #1210
Please make sure that this does not only works locally or in the CI but also on readthedocs (they have a slightly different way of compiling the documentation, it seems).

[2018-04-27 19:48] chase1745 commented on #3402
I can work on this if needed. It'd be my first issue in solidity, but I've been looking through the code quite a bit and think I understand it pretty well and know what needs to be done for this issue. Might need a little help with writing the tests though.

[2018-04-27 22:23] beether commented on #3682
@chriseth

Is there not a use case for defining, in an interface, that a `public view` should exist?

I get compiler warnings when doing this.

[2018-04-27 22:33] chriseth commented on #3402
@chase1745 the tests for these things are pretty easy now. You write some code that you think should have a warning, then run the `isoltest` script and it adds the correct expectation.

[2018-04-27 22:34] chriseth commented on #3402
Here is the documentation: https://solidity.readthedocs.io/en/develop/contributing.html#writing-and-running-syntax-tests

[2018-04-27 22:49] chase1745 commented on #3402
@chriseth so I wouldn't add the tests for this to `test/libsolidity/SolidityNameAndTypeResolution.cpp` (where the tests for warning about default storage for local variables are)?

[2018-04-27 22:54] beether opened #4007 "Public View's in interfaces gives a warning"
I see the intent here, but it seems incorrect. There is a strong argument in favor of allowing `view`s in interfaces -- namely that it provides some degree of "view-safety" when calling implementors of that interface.

By forcing all functions to be `external`, you'll now get compiler warnings when calling implemented methods from within a view.

Here's an example:

[code]

[2018-04-27 23:19] chase1745 commented on #3402
Also, should we warn users about the default data locations for parameters/returns when it's external, public, and else? Or just non public/external?

[2018-04-28 01:46] samczsun opened #4011 "Compiler appends seemingly random bytes"
I have a simple empty contract which should produce only a handful of opcodes:

[code]
After compilation (and deployment), I inspected the instructions generated for both the creation transaction and the actual contract in both Remix and on-chain.

Creation:
[code]
[code]

Contract:
[code]
[code]

It seems that in both cases, there are seemingly random bytes appended to the end of the instructions

[2018-04-28 12:15] chriseth commented on #3402
Please create a new file in the `syntaxTests` directory. The warning should only be given if the user did not explicitly specify a storage location.

[2018-04-28 14:00] n4ela commented on #3969
Same problem
[code]

steps:
deploy A contract
deploy B contract In the constructor, pass the address A contract
call A setBalance 10
call B test()
solidity 0.4.22 return 0
solidity 0.4.21 return 10

[2018-04-28 18:08] sjmini commented on #1789
@chriseth  Will compiler throw error on below code from 0.5.0?
[code]

[2018-04-29 13:22] Nitro888 opened #4015 "Compiler problem with local variable"
![screen shot 2018-04-29 at 10 12 19 pm](https://user-images.githubusercontent.com/11692220/39407058-3cda427a-4bfb-11e8-8720-6d82221079ad.png)

what is this? It's normal case?

[2018-04-29 15:44] sjmini opened #4016 "public function does not work in library"
The square function in contract "IntOpsUser" fails in remix with compiler version 0.4.23 and above.
I test it with both java VM and with my private network through Web3 provider.
It works correct only if I specify "internal" keyword in library function.
Is this correct behavior? It seems that library cannot have public function.

[code]

[2018-04-29 21:23] ksolo commented on #3584
@chriseth I'm getting back to this.

[2018-04-29 22:29] ksolo commented on #3584
@chriseth
I'm getting an error in the test run (reverted my changes and rebased with latest develop branch)

[code]
Do you have any suggestions on getting the tests to run?

[2018-04-30 09:30] chriseth commented on #4015
You are not using the local variable `a`, yes, this is normal.

[2018-04-30 09:30] #4015 closed, assigned to nobody

[2018-04-30 09:38] chriseth commented on #4016
The root cause seems to be a bug in remix: https://github.com/ethereum/remix/issues/783

[2018-04-30 09:47] chriseth commented on #3584
@ksolo this is an unrelated problem that only occurs on certain macos versions. The proposed fix is here: https://github.com/ethereum/solidity/pull/3999

Perhaps it is better to ignore that problem for now.

[2018-04-30 11:05] axic commented on #4011
It is the compiler metadata. Please see the documentation: https://solidity.readthedocs.io/en/v0.4.23/metadata.html

Please let us know if you think the documentation is inadequate in this matter and how it could be improved.

[2018-04-30 11:05] #4011 closed, assigned to nobody

[2018-04-30 12:09] axic opened #4019 "Mention in the documentation that `years` is deprecated"
This was missed in #3981.

[2018-04-30 12:13] axic opened #4020 "Deprecate "now" and just rely on "block.timestamp""
My reasoning is that `block.timestamp` is way more explicit in showing the intention, while `now` requires explanation: yes, `now` relates to the timestamp of the block controlled by the miner.

Warning in 0.6.x, error in 0.7.0.

[2018-04-30 12:59] chriseth commented on #4020
Not sure about this one. If we start arguing about miners controlling blocks, we have to deprecate anything that has "transaction ordering dependence". `now + 300 days` is much easier to read than `block.timestamp + 300 days` and thus might be less confusing. We could do a survey here...

[2018-04-30 13:24] axic opened #4021 "Improve documentation regarding metadata"
In #4011 this came up as an issue because perhaps it is not prominently explained.

In #3741 it also came up as it could be mentioned in when discussing source maps.

[2018-04-30 13:44] chriseth commented on #3962
I'm actually not sure we should have a warning here. The expectation would be that no padding is added. If that is the case, we do not need a warning.

[2018-04-30 13:54] chriseth commented on #3962
This works as expected and we have tests for it.

[2018-04-30 13:54] #3962 closed, assigned to nobody

[2018-04-30 14:03] chriseth commented on #3982
@elopio could you take a look here, please? Thanks!

[2018-04-30 14:03] chriseth commented on #3732
Is there something left to do here?

[2018-04-30 14:09] chriseth commented on #2131
Decision was to use `yul`. Finally :)

[2018-04-30 14:28] benjaminion opened #4024 "Compile time evaluation of constant hashes"
There's room for improvement in optimising compile-time evaluation of constant hashes when optimisation is enabled.

[code]

With optimisation off, none of the constant hashes is evaluated at compile-time. In each case the `keccak256` operation is being done at run time. This is somewhat expected.

With optimisation enabled, only the first (`keccak256('')`) is evaluated at compile time. The remain

[2018-04-30 14:34] EricForgy commented on #2131
Yay! :tada:

[2018-04-30 14:56] chriseth commented on #4024
This has to do with the trade-off between code deployment costs and runtime costs. There is a setting in the optimizer called "runs" where you can adjust it.

[2018-04-30 14:57] chriseth commented on #4024
Note that storing a single byte in code costs at least 200+68 gas.

[2018-04-30 14:58] #3856 closed, assigned to nobody

[2018-04-30 14:58] #3993 closed, assigned to nobody

[2018-04-30 14:58] axic opened #4025 "Review if size_t not being 64-bit (on emscripten) can cause any issues"
Found in https://github.com/ethereum/solidity/pull/3999#issuecomment-385375614

[2018-04-30 14:58] benjaminion commented on #4024
I understand this, which is why the second example (`keccak256('12345678901234567890123456789012')`) is constructed so that it is *always* cheaper to embed the hash in the deployment code, irrespective of the runs parameter.

This also does not explain why `keccak256('')` is compile-time executed when optimised, but the others are not. Your explanation would suggest the opposite should be true.

[2018-04-30 15:00] axic commented on #3962
For the record can you mention the test case names?

[2018-04-30 15:04] chriseth commented on #4024
OK, perhaps this is not at all related to the compiler finding the most efficient way, but rather to the fact that the value of `keccak256('')` does not depend on the state of memory when calculating the hash.

[2018-04-30 15:10] chriseth commented on #4024
A place to start would be to check if the check just after `// If all arguments are known constants, compute the Keccak-256 here` in KnownState.cpp turns out to be true for non-empty keccak256 calls.

[2018-04-30 15:12] chriseth commented on #3974
Fixed by https://github.com/ethereum/solidity/pull/3975

[2018-04-30 15:12] #3974 closed, assigned to nobody

[2018-04-30 15:16] owocki commented on #3965
hi from gitcoin.

as a general rule, we tend to treat the person who 'started work' first as having precedence over the issue, but you all are welcome to work together to split the bounty or come to some other agreement.

as a 'fix it twice' for our system, i've gone in and put the following PR in for gitcoin ( https://github.com/gitcoinco/web/pull/1024/ ) which will hopefully make it more clear w

[2018-04-30 15:38] chrisvwx commented on #3241
From #2131, it looks like the name of the Ethereum IR language has been changed to `yul`

[2018-04-30 15:40] vsdigitall commented on #1686
[code]

How to read require/revert error string from failed transaction log? (ERROR_TEXT in example above)

[2018-04-30 16:50] wadealexc commented on #4020
Might want to consider something in the `gasleft()` vein - maybe `timestamp()`, or `currentTime()`

[2018-04-30 17:16] chriseth commented on #3791
Updated the title of the issue to the new name.

[2018-04-30 17:28] chriseth commented on #4007
I'm sorry, I do not yet understand the problem here. If you change
[code]
to
[code]
(add `view`) it compiles without warning.

[2018-04-30 17:37] axic opened #4027 "Run all tests on CircleCI on compiled as 32-bit Linux binary"
This requires compiling Solidity to a 32-bit target first.

[2018-04-30 17:56] come-maiz commented on #3982
@chriseth things would be easier now if somebody with permissions on the solidity repo goes to https://build.snapcraft.io and enables the automated build there.
Then you can add me as a contributor, to keep maintaining the snap from the dashboard.

What do you think? :)

[2018-04-30 18:02] chriseth commented on #3969
Might be related: https://github.com/ethereum/solidity/issues/3998

[2018-04-30 18:03] come-maiz commented on #3732
All the versions are still marked as develop, not taking the right tag. But that's not related to debian, so this bug can be closed.

In order to fix the other one, it would be easier to trace everything and get the snapcraft devs to fix the issue if we were using the dashboard. As I mentioned in https://github.com/ethereum/solidity/issues/3982#issuecomment-385477883, this requires a few steps by

[2018-04-30 18:04] come-maiz commented on #3982
@favadi this has to do with the version-script not working as expected. For now, jump to the edge channel to get the latest. I have to report this as a bug in snapcraft.

[2018-04-30 18:10] chriseth commented on #3969
What is weird is that the contract uses `returndatacopy` although there is no need.

[2018-04-30 18:25] axic opened #4029 "Allow structs and using for in global scope"
I think the idea is:
[code]

(From https://www.pivotaltracker.com/story/show/109361064)

[2018-04-30 18:28] axic commented on #3819
From https://www.pivotaltracker.com/story/show/111957119:

[2018-04-30 18:31] axic opened #4030 "Improve loop detection in the gas estimator"
From https://www.pivotaltracker.com/story/show/95349770:

Currently, a loop is reported for any repeated PC. This is triggered already if the same function is called from two different places. The mechanism might be changed to
1. check from-to pairs or
2. store an ordered list of all past from-to pairs and break if this list ends in e.g. (abcd)(abcd), i.e. a repetition of four from-to pairs. This

[2018-04-30 18:32] bitcoinbotwin opened #4031 "ParserError: Expected Identifier not found or not unique. function _(ITokenPorter) {"
ParserError: Expected Identifier, got 'Return' return_toatalSupply

[2018-04-30 18:33] axic opened #4032 "Handle edge cases concerning long strings correctly."
From https://www.pivotaltracker.com/story/show/104444338:

[2018-04-30 18:34] axic opened #4033 "Reset memory free pointer in functions using but not returning memory stored-objects"
From https://www.pivotaltracker.com/story/show/97562918:

[2018-04-30 18:40] axic opened #4034 "Introduce binary search for function selector"
From https://www.pivotaltracker.com/story/show/101132732.

This is the relevant code piece: https://github.com/ethereum/solidity/blob/develop/libsolidity/codegen/ContractCompiler.cpp#L287

[2018-04-30 18:45] axic commented on #3982
Can you link the reported issue here so we can close this (since it is an upstream issue)?

[2018-04-30 18:48] axic commented on #3732
Closing this assuming it is due to the version issue which is tracked in #3982.

@tappoz please let us know if you think it is a different problem

[2018-04-30 18:48] #3732 closed, assigned to nobody

[2018-04-30 18:49] axic opened #4035 "Improve Token class"
From https://www.pivotaltracker.com/story/show/82115102:

[2018-04-30 19:43] beether commented on #4007
@chriseth I was unaware that both `view` and `external` could be used. I thought `external` implied that state could be changed.

[2018-04-30 19:53] beether commented on #4007
Not an issue.

[2018-04-30 19:53] #4007 closed, assigned to nobody

[2018-05-01 00:53] Nitro888 commented on #4015
No that's not a point. variable a can use ariable b. before it define. and self initialize at define.

[2018-05-01 02:05] wadealexc opened #4037 "struct constants"
It would be very helpful to allow `constant` structs. Currently, the workaround is to define internal functions that return structs.

Example:
[code]

Forgot to post the workaround -

[code]

[2018-05-01 02:29] favadi commented on #3982
@elopio what is the problem with version-script of snapcraft?

btw, as I read from here: https://github.com/snapcore/snapcraft/blob/02774cd6b3140b46b181479fad70d0dc52eafd15/snapcraft/internal/meta/_version.py#L28, the part `|| echo "develop"` is redundant as snapcraft will fallback to use version if version_script failed.

[2018-05-01 08:43] benjaminion commented on #4024
Considering the two test cases, `keccak256('12345678901234567890123456789012')` and `keccak256(uint256(0))`.

In both these cases, execution does not reach that line (although it does and is correctly handled for the empty hash).

In both of the test cases, `applyKeccak256()` is called three times (which is a surprise - it is called only once for the empty hash).

Each time, `applyKeccak256()` exi

[2018-05-02 03:57] GaretWebster commented on #3968
I assume you already read through this, but just incase I wanted to link Solidities documentation on this issue - https://solidity.readthedocs.io/en/latest/layout-of-source-files.html#paths

I also noticed that you have a forward slash in one of your example and a backslash in another, could you have gotten them mixed up?

Finally is it possible back slashes have another meaning in Soliditiy and n

[2018-05-02 07:42] mbolotov commented on #3968
I'm aware that Solidity `import` statement accepts only forward slashes.
That being said when you run solc from command line the command must obey the OS path rules. And Windows defines backslash as a primary path separator character (though supporting `/` as well)
So I believe that my example is valid and moreover the most correct way to call solc in the mentioned example.

Just to clarify this:

[2018-05-02 10:04] chriseth commented on #3969
Ah ok, it only uses returndatcopy to forward ("backward"?) the error data.

[2018-05-02 13:53] kylewu commented on #3764
I'm sorry i am a little slow on this. I got a fresh install windows and tried both vs 2017 and vs 2017 build tools. Please check PR #4041

[2018-05-02 14:01] chriseth opened #4044 "Run bytecode comparison on macos in CI"

[2018-05-02 14:02] chriseth opened #4045 "Check if CircleCI supports colour terminal"
We should be able to change this setting to support colour output: https://github.com/ethereum/solidity/pull/4000/files#r185471925

[2018-05-02 14:03] chriseth commented on #1789
@sjmini yes, multiple.

[2018-05-02 14:04] chriseth commented on #4032
Obsolete with #3515

[2018-05-02 14:10] #3665 closed, assigned to erak

[2018-05-02 14:31] chriseth commented on #3962
`bytes_from_calldata_to_memory`, `sha3_multiple_arguments`, and especially `iterated_keccak256_with_bytes` and `keccak256_with_bytes`.

[2018-05-02 14:37] chriseth commented on #4030
I'm looking forward to doing gas estimation based on yul code - if that is possible with high accuracy.

[2018-05-02 14:39] chriseth commented on #4031
You are missing a `{` after `function (totalSupply) public constant returns (uint256) `.

[2018-05-02 14:39] #4031 closed, assigned to nobody

[2018-05-02 15:12] chriseth commented on #4015
Yes, this is intentional, fully documented  ("javascript scoping rules") and will be changed with version 0.5.0.

[2018-05-02 15:14] chriseth commented on #4037
This also requires "immutability checks" to be implemented, because you obviously do not want `CONST_STRUCT.val1 = 7` to work.

[2018-05-02 15:18] chriseth commented on #3982
@elopio I added the repo on build.snapcraft.io  but I do not see where I could configure it.

[2018-05-02 15:18] chriseth commented on #3982
Do I need an ubuntu one account?

[2018-05-02 15:19] chriseth commented on #4024
OK, I will take a look later this week!

[2018-05-02 15:32] chriseth commented on #3968
I agree, the commandline interface should support both backslashes and forward slashes on windows, while import statements should only support forward slashes. This should all be taken care of by boost::filesystem, it just looks like there is a bug about how we distinguish directories and files.

[2018-05-02 15:55] chriseth commented on #2245
Fixed in https://github.com/ethereum/solidity/pull/4048

[2018-05-02 15:55] #2245 closed, assigned to nobody

[2018-05-02 15:58] chriseth opened #4049 "Add test against breaking storage layout changes"
From https://github.com/ethereum/solidity/pull/4017 - we should add tests that would detect storage layout changes.

Tests could set some storage values and then use inline assembly to read at fixed points in storage (where we expect the changes to happen).

Tests should include:
 - (multiple) inheritance
 - constants
 - mappings
 - arrays
 - structs
 - packed data

[2018-05-02 16:19] juanfranblanco commented on #3618
With Netherum we will face the very same problem, in a similar way as we create a class per command / query input / ouput message, each struct will represent also a class type. It will be great that for a Contract each struct type component will be listed (to simplify and avoid duplication).

Having something like described in #2899 will solve the problem, but also the internal parameter name.

Fo

[2018-05-02 16:25] juanfranblanco commented on #3618
Now the interesting part is when you are creating "Standard Contracts" that can be extended / inherited, for example, a custom ERC20 with extra functions.

In this scenario, most of your business logic (for example validation, assignment etc) will be the duplicated if having duplicated types.

Probably in this scenario the end user will have to remove duplications himself / herself providing the r

[2018-05-02 16:45] alibabe commented on #3934
Seems gitcoinbot doesn't realize my previous comment.

@axic could you add some details on what the problem actually is? And is there any details on what does install mean? I am able to build the project on linux machine locally and build it on circleci though.

[2018-05-02 17:15] bitcoinbotwin commented on #4031
@chriseth Thanks! I dug around for hours yesterday before finding that.

[2018-05-02 20:56] bitcoinbotwin opened #4050 "ParserError: Expected token Semicolon got 'LParen' function() allowance(address _owner, address _spender) _;"
Error:

ParserError: Expected token LParen got 'Identifier'
    function allowance(address _owner, address _spender) _;

[2018-05-02 20:58] chriseth commented on #4050
Sorry, but this is not the correct place to ask for programming advice. Please use https://gitter.im/ethereum/solidity or ethereum.stackexchange.org

I think you meant `constructor(Token) (` instead of `constructor(Token) {`.

[2018-05-02 20:58] #4050 closed, assigned to nobody

[2018-05-02 21:02] abandeali1 opened #4051 "InternalCompilerError when using `revert` with constant string variable reason"
Repro:
[code]

When compiling, I get an error `InternalCompilerError: I sense a disturbance in the stack: 2 vs 1`. When passing in the actual string rather than the variable, everything compiles just fine.

[2018-05-02 23:19] NachoPal commented on #1686
+1 https://github.com/ethereum/solidity/issues/1686#issuecomment-385437966

[2018-05-03 02:24] favadi commented on #3982
From what I see, we can choose Github repository to auto build here: https://build.snapcraft.io/select-repositories.

[2018-05-03 03:18] #4019 closed, assigned to chriseth

[2018-05-03 06:24] chriseth commented on #3982
I think it is selected for auto-build. Perhaps it does not build on all branches?

[2018-05-03 06:50] #3764 closed, assigned to nobody

[2018-05-03 10:33] juanfranblanco commented on #3618
An example (using a previous issue)

[code]

Results in this abi

[code]

[2018-05-03 10:38] juanfranblanco commented on #2899
@axic I don't know if my comments of https://github.com/ethereum/solidity/issues/3618 fit better here. As you have thought of the solution already.

[2018-05-03 11:03] suyashgupta25 commented on #301
What is the solution here?

[2018-05-03 19:31] kylewu commented on #3764
@colinjcohen @chriseth hi, could you kindly accept my work in gitcoin? Thanks!

[2018-05-03 20:30] axic commented on #3934
In `build_x86_linux` and `build_x86_mac` circleci targets a jsoncpp library must be installed on the underlying OS.

This jsoncpp version must be <1.8.0.

@alibabe does this help?

[2018-05-03 22:40] #3965 closed, assigned to nobody

[2018-05-04 01:14] saturnial opened #4060 "Public properties not providing a getter as expected"
Below you will find a set of dummy contracts that illustrate the pattern I'm attempting to accomplish.

At a high level, I'm creating a registry contract `A` that holds a reference to contract `B`.  I then instantiate contract `C` with a reference to contract `A`, which in turn holds a reference to `B`. I expect that I should then be able to access functions on contract `B` from contract `C` throu

[2018-05-04 01:55] axic commented on #4051
This is not related to constants, all these fail:
[code]

[code]

But `require(true, ERR)` works.

[2018-05-04 02:58] axic opened #4061 "Fixed point type fractional digit limit"
Currently the limit is set at maximum 80 digits, that means the largest number representable would be
`0.999999999999999999999999999999999999999999999999999999999999999999999999999999999` in the `ufixed256x80` type, while the largest number fitting 256 bits is `115792089237316195423570985008687907853269984665640564039457584007913129639936`.

`9999999999999999999999999999999999999999999999999999999

[2018-05-04 03:15] randomnetcat commented on #4061
Raised in the course of #3389 while discussing conversions.
Possible issue: this could overflow a u256 of `10^(abs(from - to))`, causing issues with conversions.
Concerns raised in Gitter:
 - Consider making it 76 instead instead of (possibly confusing) change based on signed or unsigned.
 - Consider making max number of decimal places lower based on number of bits such that 1 is always in range.

[2018-05-04 08:32] favadi commented on #3982
I asked for help in snapcraft forum: https://forum.snapcraft.io/t/auto-build-on-build-snapcraft-io-questions/5278/2 and there are what I learned:

Yes, you need to login to Ubuntu One to be abble to automatically push the snap packages to snap store. I think @elopio is owner of the solc pakge in snap store, so only he can do it.

build.snapcraft.io will only trigger build for commit to default bra

[2018-05-04 10:09] ekpyron commented on #2628
First I thought the control flow graph could just ignore function calls, but there are cases for which cross-function control flow is required, e.g. the following should be fine and not warn:

[code]

[2018-05-04 10:23] ekpyron commented on #2628
However, I don't think all cases can be caught anyways.

[code]

Probably most of such cases are corner cases, though. The only function calls that are problematic are calls to functions that never return, but always revert... And in those cases a potential warning could easily be supressed, e.g. by:

[code]

[2018-05-04 10:36] chriseth opened #4066 "Improve error message for lookup in function types"
We should add a suggestion "did you intend to call the function" (or something like that) to the error message "member not found after argument-dependant lookup in type ..." in case the type is a function.

Found in https://github.com/ethereum/solidity/issues/4060

[2018-05-04 10:37] chriseth commented on #4060
The getter is an actual function, so you have to call it: `return a.b().test();`

I created an issue to improve the error message: https://github.com/ethereum/solidity/issues/4066

[2018-05-04 10:37] #4060 closed, assigned to nobody

[2018-05-04 10:53] chriseth commented on #2628
Don't make it too complicated for the first version :)

[2018-05-04 11:05] ekpyron commented on #2628
@chriseth Ok :). However, unfortunately, incompleteness in the first version will mostly result in false positives and not false negatives, which may be annoying - so I'll still try to minimize that already. I'll continue to ignore function calls for now, though, since I reckon this will rarely be an issue and there is a workaround to suppress the warning.

For simplicity I'll also consider every

[2018-05-04 13:02] #3973 closed, assigned to nobody

[2018-05-04 15:55] chriseth commented on #3493
@jitenhub I would still say we should properly ABI-encode calldata arrays with padding.