[2019-08-14 21:54] chriseth commented on #4612
"years from now" - might it have been almost exactly one year? :)

[2019-08-14 21:56] #7215 closed, assigned to ekpyron

[2019-08-14 21:59] ekpyron commented on #4612
Haha, I wrote ``which will probably only be in a years from now`` - so I guess the ``s`` in ``years`` was a typo and the estimate was surprisingly accurate :-D.

[2019-08-14 22:02] leonardoalt commented on #4612
Well it was 1.0192 years later, so technically correct.

[2019-08-14 22:25] thegostep commented on #7260
I like this a lot!

Compact would also be helpful to avoid hitting code size limit.

[2019-08-15 08:14] bshastry opened #7264 "[Build] jsoncpp 1.8.4 compilation fails with clang-10"
## Description

clang-10 (unreleased) reports a type conversion error here

https://github.com/open-source-parsers/jsoncpp/blob/ddabf50f72cf369bf652a95c4d9fe31a1865a781/src/lib_json/json_value.cpp#L70-L73

Likely root cause is https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md#es46-avoid-lossy-narrowing-truncating-arithmetic-conversions

[2019-08-15 08:20] ekpyron commented on #7264
Would be solved (with quite a big hammer) by https://github.com/ethereum/solidity/issues/6900 ;-).

[2019-08-15 08:29] bshastry commented on #7264
This currently fails the fuzzing build. Working on a (temporary) fix.

[2019-08-15 10:00] bshastry commented on #7264
I have not been able to "hot" patch this so far. The closest I came is to remove the `-Werror=conversion` option here

https://github.com/open-source-parsers/jsoncpp/blob/2cf939e8c37494922ca2991902a0fe50baa2eaea/CMakeLists.txt#L127

Sadly, even I were to add `-Wno-error=conversion` here

https://github.com/ethereum/solidity/blob/2508cbc1eb417f2fde6aea8a2b036eae96ad990b/cmake/jsoncpp.cmake#L22

it

[2019-08-15 10:06] ekpyron commented on #7264
What happens if you add ``-DJSON_USE_INT64_DOUBLE_CONVERSION`` to ``JSONCPP_CXX_FLAGS``? Even if that works, we'd need to have a close look at what that actually does, though :-).

[2019-08-15 10:42] leonardoalt opened #7266 "[SMTChecker] Refactor pointers"
There are a lot of `shared_ptr` being used for `smt::Sort` where they could be raw pointers.

[2019-08-15 11:11] ekpyron commented on #7235
Any reason why you moved this to "In progress" @erak? As far as I'm concerned it's not even decided, whether this should be done or not - so I'm moving it back to Inbox...

[2019-08-15 11:16] leonardoalt commented on #7235
I vote for `_contract.address`, as I find it cleaner.

[2019-08-15 11:27] ekpyron commented on #7235
Since ``address`` is a keyword and cannot be used as identifier anyways, I'd in fact be OK with going that way as well.

[2019-08-15 12:20] ekpyron commented on #7235
Discussion in chat:
If we make ``address`` a member, it might be consistent to e.g. do it for ``balance`` as well, but that would e.g. break state variables named ``balance``...

Is the balance rather a property of a contract or of its address? If the latter, we could argue that ``_contract.address.balance`` is good enough... the main question is whether making an exception by adding this *one* sp

[2019-08-15 12:47] bshastry commented on #7264
Nice find :-)

Sadly, I cannot just pass `-DJSON_USE...` to `JSONCPP_CXX_FLAGS` because `cmake-3.14` (version in the ossfuzz docker image) complains of definition not being of `VAR=VALUE` form, and when I do change it to the form it warns me that the passed option is not used by jsoncpp

[code]

[2019-08-15 13:01] chriseth commented on #7243
These are usually compiler-internal routines which do not have a source equivalent, or at least not a unique one. Those routines might be called from different places, so it does not make much sense to assign it to a certain source file.

If you are debugging a trace, it is safest to assume that the source did not change. If you are looking at the code itself, there is no clear answer to the quest

[2019-08-15 13:01] #7243 closed, assigned to nobody

[2019-08-15 13:03] chriseth commented on #7244
I'm sorry, this looks like an issue with etherscan to me and not the compiler. Please reopen if you think otherwise.

[2019-08-15 13:03] #7244 closed, assigned to nobody

[2019-08-15 13:09] chriseth commented on #7247
I think we should create an example in our documentation because it is requested rather often.

[2019-08-15 13:20] ekpyron commented on #7264
@bshastry That sounds a bit weird... are you sure there aren't just some quotes missing which will make cmake consider it as a ``-D``-style cmake option instead of a list of cxx flags?

[2019-08-15 13:21] bshastry commented on #7264
Yup, the problem was missing double quotes :man_facepalming:

[2019-08-15 13:22] chriseth commented on #7261
With the explicit overrides, the burden of checking that inheritance is correct is shifted to the derived contract, but there are still cases where `super` is useful, and these are the ones where we have a shared base:
[code]

These contracts are still valid according to our new rules and all functions will be called in sequence. Without `super`, the derived contract has to call the base functions

[2019-08-15 13:23] chriseth commented on #7261
Having said that, not sure if there is a use-case for that :)

[2019-08-15 13:33] ekpyron commented on #7261
You did mean both ``A is I`` and ``B is I``, right? Yeah, this is a point, but to me this always seemed like a really weird construct...

[2019-08-15 13:34] alcuadrado commented on #7243
Thanks for your answer @chriseth!

I'm trying to create an exhaustive list of those internal routines. I know they are mostly encoded as code, but where can I see them? Are all of them in `libsolidity/codegen`, or is code added somewhere else?

I'm mostly interested in things that can make the execution of a message fail, but aren't assignable to a particular file.

[2019-08-15 13:36] chriseth commented on #7261
Yes, edited.

[2019-08-15 13:41] chriseth commented on #7243
Yes, most of them should be in libsolidity/codegen. I think all of them are either in ABIFunctions.cpp, YulUtils.cpp or use `callLowLevelFunction` in some way.

[2019-08-15 13:43] alcuadrado commented on #7243
Thanks! I'll take a look at those.

[2019-08-15 13:52] chriseth commented on #7235
This still does not look complete enough for me.

[2019-08-15 16:10] #7264 closed, assigned to bshastry

[2019-08-16 08:33] bshastry commented on #7249
Closed via https://github.com/google/oss-fuzz/pull/2699

[2019-08-16 08:33] #7249 closed, assigned to nobody

[2019-08-16 10:22] #6669 closed, assigned to erak

[2019-08-16 10:26] #7253 closed, assigned to bshastry

[2019-08-16 16:06] ekpyron opened #7273 "Source locations for shadowing via import."
Came up in https://github.com/ethereum/solidity/pull/7271.
It turns out that for the following in file ``B.sol``:
[code]
when compiling another file containing
[code]
Then this correctly produces a ``This declaration shadows a builtin symbol.``, but it's location is the contract C in B.sol, whereas it should rather be ``msg`` in the import. ``C`` might still occur in a secondary location, but the

[2019-08-17 04:31] haltman-at opened #7274 "Allow getting address for linked libraries"
## Abstract

As best I can tell, there's currently no way in Solidity to get the address of a linked library.  This could be useful e.g. for doing a manual `delegatecall`.  I would like there to be syntax for getting the address of a linked library.

## Motivation

I propose allowing the syntax `address(LibraryName)`, where `LibraryName` is the name of the library, as a means of getting the addres

[2019-08-18 21:25] dantedallag commented on #6971
Hey @kennycastro007 give it a try. I got super busy and have not had much time to look at this.

[2019-08-19 07:53] chriseth commented on #7166
We should indeed fuzz constructor argument decoding, including passing on arguments to base constructors.

[2019-08-19 07:57] chriseth commented on #1272
It would be great if we could also have a short form like `snippet Name for Token { return x; }` such that the user can just supply the expression `x` and the compiler can tell the external tool the type of x and so on.

[2019-08-19 08:47] bshastry opened #7275 "[yul] object data parser errors on hex literal"
## Description

[code]

on compilation reports error when it shouldn't (see https://solidity.readthedocs.io/en/v0.5.11/yul.html#specification-of-yul-object)

[code]

Error originates from

https://github.com/ethereum/solidity/blob/a39d26f3668228522cc7481a5b04a3a73f0ded1e/libyul/ObjectParser.cpp#L123

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2019-08-19 08:49] bshastry commented on #7275
The problem here is that hex literal should be well formed. Wonder why I didn't run into this before.

Update: It wasn't a problem in the past because I was using "0x1". Now that I added hex"1", it becomes a problem.

[2019-08-19 09:00] #7275 closed, assigned to nobody

[2019-08-19 10:41] bshastry opened #7276 "[yul] proto fuzzer: Make function definition a statement"
Move from top-level function definitions to those that can be declared anywhere as long as yul rules are respected.

[2019-08-19 10:42] bshastry commented on #6685
Depends on #7276

[2019-08-20 04:34] cd01220 opened #7283 "bug in example codes: function becomeRichest()"
url: https://solidity.readthedocs.io/en/latest/common-patterns.html#withdrawal-pattern
codes with bug:
[code]

I think the codes should be:
[code]

[2019-08-20 09:53] bshastry opened #7284 "[yul] function defined in for loop body not visible in outer scope?"
## Description

[code]

`solc` tells me this is not valid yul code, but should it be that way?

[code]

[2019-08-20 09:55] bshastry commented on #7284
From the docs

I suppose that means that a function is visible in the scope it was defined in.

[2019-08-20 09:56] #7284 closed, assigned to nobody

[2019-08-20 15:06] bshastry opened #7285 "[yul] proto fuzzer should make use of a dictionary"
## Abstract

Currently, the constants inside the yul optimizer rule list are ignored. These could help improve coverage and test specific optimization steps.

## Motivation

## Specification

## Backwards Compatibility

[2019-08-21 15:27] erak opened #7287 "Fix external Gnosis test"
Gnosis-Safe is currently failing and needs to be fixed: https://circleci.com/gh/ethereum/solidity/167286?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-08-21 15:36] erak opened #7288 "Nightly tests should send out notification"
We're not getting notified in case one of the nightly build steps fails. This is particularly dangerous, since we don't get a notification about failing external tests (which are run nightly).

A quick brainstorming session with @Marenz resulted in a few options that we might have in order to implement a notification system:

1. Automated Gitter message: Hook up a `cURL` call to the `when`-attribu

[2019-08-21 17:31] Marenz commented on #7288
An issue with option one is that any secret or auth token we'd use to send such a notification to gitter would be openly readable in our repository. I would strongly go with option two here.

A third option could be that we put up our own bridge server that we call with curl and we authenticate the calls using the circle ci ip address range or reverse DNS.. but I suspect option two is easier and m

[2019-08-21 17:54] dddejan commented on #5130
If the `super` is changed to `a` in the original example, the compiler still fails with internal error.

[code]

[2019-08-22 10:07] bshastry opened #7289 "[yul] scope of functions vs variables"
## Description

[code]

`foo()` is valid inside `bar()` but `x` is not. Is this on purpose?

[2019-08-22 10:16] bshastry commented on #7289
I guess this is because `foo()`'s scope is tied to its outer scope (globally, in this case) and since `bar()` is in this outer scope, `foo()` is visible inside `bar()`'s body. However, the scope of `x` is tied to `foo()`'s scope which does not cross function boundary.

[2019-08-22 12:22] Marenz commented on #7261
Wouldn't `I.set()` also need `virtual` here?

[2019-08-22 13:01] axic opened #7290 "Allow spaces in the hex string format"
Currently hex strings (`bytes tmp = hex"001122";`) cannot have spaces in them.

I am writing a contract right now which has quite a large hex string (237 bytes) with clearly separate parts. Splitting that with spaces would allow easier visual identification and comparison of the parts.

E.g. `bytes tmp = hex"00 11 22";` would be equivalent to the above.

I'd only allow spaces between hex bytes (an

[2019-08-22 13:14] Marenz opened #7291 "Weird phrasing in documentation"
Source:  https://solidity.readthedocs.io/en/latest/common-patterns.html#withdrawal-pattern

[2019-08-22 13:23] axic opened #7292 "Allow splitting string literals over multiple lines"
Many languages support splitting string literals overs multiple lines. Some require a special token between them.

I'd propose that parsing (hex) string literals would allow `"` as the next token and start concatenating the literals. Any whitespace, including new lines, would be allowed between the two `"` tokens.

E.g. `bytes tmp = hex"00112233" "44556677";` would be equivalent to `hex"0011223344

[2019-08-22 13:28] axic commented on #7235
The main reason we went for `address(contract)` is to avoid any potential conflicts with members of `contract`. FWIW I'd be against using `contract` members, but potentially we could consider extending `type()` or introducing another meta function?

[2019-08-22 18:09] MrChico opened #7295 "Opt out of bytecode metadata"
I know this has been [discussed before](https://github.com/ethereum/solidity/issues/4853), but I would like to reopen this discussion.

I do not think that users of solc should be at the mercy of compiler developers in this issue. I would reckon that most users are not aware, few care, and only some are against compiler metadata.

There are many reasons why contract developers might be interested

[2019-08-22 19:59] rocky opened #7296 "--error-recovery segv's when there is no contract"
## Description

Consder this invalid program

[code]

when run with `--error-recovery` this SEGV's:

[code]

## Environment

- Compiler version: 0.5.11 or current devlop
- Operating system: ubunto

## Steps to Reproduce

[code]

See  https://github.com/ethereum/solidity/pull/7293 for a possible fix.

[2019-08-23 10:42] livnev opened #7297 "SMTChecker test failure: "SMTChecker/division": Multiple errors found"
## Description

When I build `0.5.11` from https://github.com/ethereum/solidity/releases/download/v0.5.11/solidity_0.5.11.tar.gz, upon running the tests I get:

[code]

## Environment

- Compiler version: the `0.5.11` release
- Target EVM version (as per compiler settings): -
- Framework/IDE (e.g. Truffle or Remix): -
- EVM execution environment / backend / blockchain client: -
- Operating system:

[2019-08-23 10:47] leonardoalt commented on #7297
Yeah we've seen queries that Z3 4.8.5 can solve whereas 4.8.4 can't, this could be one of those. It's hard to set test expectations for hard queries (nonlinear arithmetics in this case), also because using CVC4 instead of Z3 might be more/less powerful depending on the theory. That's why we decided to set the test expectations according to the solvers latest releases.

[2019-08-23 11:00] livnev commented on #7297
I see, though I think it didn't work for me with `4.8.5` either, but I can check again.

[2019-08-23 12:25] livnev commented on #7297
Can confirm that I am getting the same failure with:
[code]

[2019-08-23 15:08] leonardoalt commented on #7297
Let me run that locally with Z3 only, maybe CVC4 is the responsible for solving it in the tests.

[2019-08-23 15:21] leonardoalt commented on #7297
I can reproduce it with Z3 4.8.5 and no CVC4. This means we also need to adjust this test such that it can succeed or return unknown.

[2019-08-23 17:27] livnev commented on #7297
I can confirm that:

(a) building with CVC4 resolves the issue
(b) your patch in #7298 resolves the issue

I decided to add CVC4 support to the [nix derivation](https://github.com/NixOS/nixpkgs/pull/67360).

[2019-08-23 22:05] alcuadrado opened #7299 "Public variables's selectors"
Hi,

I need to compute the selectors of the public variable's getters, and [the documentation](https://solidity.readthedocs.io/en/v0.5.11/contracts.html#getter-functions) is not very complete.

Is there any other doc? Or can you point me to where this is done in the compiler?

Thanks!
Patricio

[2019-08-24 00:29] alcuadrado commented on #7299
I think that all I need is to mimic this logic to get the params' types: https://github.com/ethereum/solidity/blob/develop/libsolidity/ast/Types.cpp#L2469-L2495

Can you confirm this? Thanks

[2019-08-24 09:40] #7297 closed, assigned to leonardoalt

[2019-08-24 09:41] leonardoalt commented on #7297
Thanks @livnev !

[2019-08-24 13:34] scucchiero commented on #6572
I run into the same issue.
Great to see we both came up with the same solution.

[2019-08-26 09:59] erak commented on #7299
@alcuadrado You can do that in Solidity by accessing the `selector` member of the function:
[code]
In the compiler, this selector, which is a 4-bytes hash of the function signature (https://solidity.readthedocs.io/en/v0.5.11/abi-spec.html#function-selector) is computed here: https://github.com/ethereum/solidity/blob/develop/libsolidity/ast/Types.cpp#L3130.

Does this answer your question?

[2019-08-26 10:17] axic commented on #6516
@ChrisChinchilla was this fixed by any chance?

[2019-08-26 10:48] axic commented on #6174
@ekpyron didn't we implement this?

[2019-08-26 10:49] Marenz commented on #7288
One thought that just came to me: How about instead of notifications we let automatically create an issue in github when the nightly fails?

[2019-08-26 11:49] erak commented on #7290
I'd vote for the alternative solution and allow underscores: `hex"00_11_22"`. That would be then inline with hexadecimal number literals.

[2019-08-26 12:53] bshastry commented on #6376
Sorry for the late update. Progress made is as follows

- Took a look at the soltix architecture
- Successfully built and ran soltix

Regarding running it as part of ossfuzz: soltix seems to be a test framework of its own that is written in Java. It creates test input (solidity contracts) and executes it on an EVM implementation. If I understand correctly it uses Truffle and Ganache/geth to genera

[2019-08-26 14:08] #7285 closed, assigned to bshastry

[2019-08-26 15:58] bshastry opened #7302 "[yul] Why are shadowed variable and function declarations treated differently?"
## Description

Why does solidity treat variable name and function name shadowing differently?

[code]

[code]

[2019-08-26 18:05] ChrisChinchilla commented on #6516
@axic Ahh, I was sure this was for me or not, but not done. Where can I find the "guidelines"?

[2019-08-26 18:41] barakman opened #7303 "Unable to handle a specific nested function-call"
## Description

The compiler seems to be unable to "unwind" a certain function-call combination, leading to a *Stack too deep* error, which:
1. Can be resolved via a simple code-rearrangement
2. Would be resolved by "stack-oriented" compilers designated for traditional platforms

Due to each one of these reasons by itself, I believe that the Solidity compiler should be upgraded to resolve this pro

[2019-08-26 20:24] alcuadrado commented on #7299
Thanks for your answer @erak! I'm afraid I wasn't very clear with my question though, sorry.

I'm not using this selector in Solidity, but from a program that analyzes solidity code, so I want to somehow compute it myself. While the compiler's standard json output has a `methodIdentifiers` section, it's not clear how to map each of those to the state variable that produced them.

I managed to do i

[2019-08-26 20:24] #7299 closed, assigned to nobody

[2019-08-27 08:16] bshastry opened #7305 "[SMTChecker] Null dereference during reporting error "Internal error: Expression undefined for SMT solver.""
## Description

ossfuzz issue 16736

[code]

leads to a null dereference here because AST Node location is null

https://github.com/ethereum/solidity/blob/a54d69b8efa94be445012cf59a92e07133827dd8/libsolidity/formal/SMTEncoder.cpp#L1274

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2019-08-27 12:15] chriseth commented on #7289
Indeed, scopes of variables do not cross function boundaries, but functions do (they have to, otherwise you cannot usefully call any function). Do you think this is a problem?

[2019-08-27 12:35] bshastry commented on #7289
Yeah, I realized I filed an issue too soon :-)

It's not a problem, only requires a refactoring of the yul proto fuzzer in preparation for #7276

[2019-08-27 12:35] #7289 closed, assigned to nobody

[2019-08-27 12:57] chriseth commented on #7295
Since the experiment did not turn out very positive, I am willing to change my mind about that. We do not have the tooling necessary to complete the use-case, so it is probably better to make this optional. Furthermore, we nowadays have tons of space for compiler options in the standard json input.

[2019-08-27 13:02] chriseth commented on #7302
The reason is because functions are stored in code while variables are stored on the stack. You do not know if the stack of the scope outside the current function is valid and not even where it is.

[2019-08-27 13:04] #7302 closed, assigned to nobody

[2019-08-28 08:57] bshastry opened #7308 "[yul] proto fuzzer: Do not shadow variables"
## Abstract

Currently, the proto fuzzer can generate code like this

[code]

which does not break any programming rules but is not elegant. This issue tracks support for removing shadowing from variable names generated by the proto fuzzer, so we turn the code above into something like

[code]

[2019-08-28 13:42] axic opened #7310 "Support for Istanbul"
For an accurate list of changes see [EIP-1679](https://eips.ethereum.org/EIPS/eip-1679).

Valid as of today:
- EIP-152: Add Blake2 compression function F precompile
- EIP-1108: Reduce alt_bn128 precompile gas costs
- EIP-1344: Add ChainID opcode
- EIP-1884: Repricing for trie-size-dependent opcodes
- EIP-2028: Calldata gas cost reduction
- EIP-2200: Rebalance net-metered SSTORE gas cost with consi

[2019-08-28 13:54] #7305 closed, assigned to nobody

[2019-08-28 14:57] chriseth commented on #7283
The idea behind this game is that the "old richest" gets the money of the "new richest". We could add a protection so that you do not lose money in the failure case.

[2019-08-28 15:10] chriseth opened #7314 "Calling non-implemented base contracts when overriding causes internal error"
If the super is changed to a in the original example, the compiler still fails with internal error.

[code]

reported by @dddejan in https://github.com/ethereum/solidity/issues/5130#issuecomment-523577375

This is a rather specific case - you have to call the non-implemented base function and override the function at the same time.

The way we solved it with `super` in https://github.com/ethereum/

[2019-08-28 15:10] chriseth commented on #5130
The issue in the latest comment is tracked in https://github.com/ethereum/solidity/issues/7314

[2019-08-28 15:12] chriseth commented on #7261
Yes, edited.

[2019-08-28 15:13] chriseth commented on #7292
Sounds good! I would support that for all kinds of strings.

[2019-08-28 15:20] chriseth opened #7315 "Add function selector to FunctionDefinition AST json"
External function selector should be part of each externally-visible FunctonDefinition in the AST json export.

Requested by @gkevinyen5418

[2019-08-28 15:28] chriseth commented on #6174
There is a rule, but somehow it is not triggered...

[2019-08-28 15:28] chriseth commented on #6174
Ah sorry, it is only implemented for constants.

[2019-08-28 15:44] axic commented on #1319
If we are talking about macros, perhaps it would make sense introducing a symbol differentiating them from opcodes. One example is the exclamation mark from Rust: `assert!()` is a macro, while `assert()` is a function.

[2019-08-28 15:51] chriseth commented on #7303
This will be solved by the new code generator (I actually just verified that it does). The reason why it fails currently is because function arguments are evaluated from left to right and put on the stack like that. The current code generator is too low-level to perform optimizations like that.

Sorry for the inconvenience!

[2019-08-28 15:51] #7303 closed, assigned to nobody

[2019-08-28 17:09] barakman commented on #7303
@chriseth:
Thank you very much for your quick response.
Any chance that this fix will also be applied on the 0.4 branch (version 0.4.27 I suppose)?

[2019-08-28 17:14] axic opened #7317 ""require" helper in assembly"
It would be nice to start introducing helper functions in assembly. This was previously discussed in #474 and #1319.

A lot of contracts/libraries deal with calling precompiles directly to avoid cost overheads. They do this with `if iszero(staticcall(..)) { revert(0, 0) }`. It would be nice to support `require` and/or `assert`:
- `require(expr)` -> `if iszero(expr) { revert(0, 0) }`
- `assert(expr

[2019-08-28 17:41] MicahZoltu commented on #1319
My general feeling is that epsilon engineering effort should go into improving inline assembly.  Instead, Solidity should be looking at what people are building with inline assembly and figuring out higher level constructs that facilitate doing that in Solidity, so they don't need to drop to inline assembly.

Anytime someone drops to inline assembly suggests a failure of the language, or at least

[2019-08-28 18:07] axic commented on #7295
It must be noted that the "metadata" consists of several different fields, the swarm hash being one. Lately ipfs has been added as an option too and more importantly the compiler version is included there.

I'd object removing the compiler version.

[2019-08-28 18:21] #7283 closed, assigned to nobody

[2019-08-29 11:08] SyedMuhamadYasir opened #7319 "Adding Data to a Wallet to Wallet Transaction"
This is more of a general question, but i believe it could evolve to a further discussion if need be.

I am currently using Ganache, Remix and Web3.py to test Ethereum Transactions and inserting some arbitrary data ( for instance, a string of hex digits ) in the **Data** field.

like

`web3.eth.sendTransaction {from:wallet_1, to:wallet_2, nonce:nonce, data:"0x1234", gas:gas}`

am i violating any p

[2019-08-29 11:49] chriseth commented on #7319
Of course it is permissible, but you have to be aware of the effects. If the `to` address is a contract, it will use the data as input data, so it is not just ignored.

I hope this answered your question. If you want to know more, I would advise you to use https://ethereum.stackexchange.com/ instead, because you will also get better answers there.

[2019-08-29 11:49] #7319 closed, assigned to nobody

[2019-08-29 12:39] bshastry opened #7322 "[soltest] Explicitly expose `$flags` in soltest.sh"
## Abstract

Please see https://github.com/ethereum/solidity/pull/7311#issuecomment-526165465 and #7311 for more context.

Essentially, the bash environment variable that is used for passing additional parameters to `soltest.sh` can be clarified.

[2019-08-29 13:45] axic opened #7323 "Optimization step: remove unneeded masking in mstore8"
Replace `mstore8(x, and(y, a)` with `mstore8(x, y)` where `a >= 0xff`.

Note, this would be made obsolete with range tracking where all unneeded masking could be removed.

[2019-08-29 13:49] chriseth commented on #7323
Note that `bytes memory x; ... x[2] = 3;` is the only place where the code generator uses `mstore8`.

Furthermore, I think the condition is `a & 0xff == 0xff` instead of `a >= 0xff`.

[2019-08-29 14:01] axic commented on #7323
I wrote some hand written code and found this case there.

Yep, correct.

[2019-08-29 14:47] chriseth commented on #6727
Awareness is implemented in the LoadResolver. What we still need to implement is the fact that memory is zero initially.

[2019-08-30 07:01] SCUTJcfeng commented on #4852
I think the problem is that tha variable `to` is modified while loop, try using `address tempTo = to;` instead. I had the same problem and I fix it.
See [link](https://ethereum.stackexchange.com/questions/59128/error-security-no-assign-param-avoid-assigning-to-function-parameters)

Here is my complete code (Actually this is an example in [tutorial link](https://solidity.readthedocs.io/en/v0.5.11/s

[2019-08-31 04:47] tpmccallum commented on #2731
I have been working on creating a deterministic ABI hash in canonical form. I posted on [ethresearch](https://ethresear.ch/t/deterministic-abis/6064) and then later found your above suggestion.

Before seeing this I had started both a [Python](https://github.com/second-state/smart-contract-search-engine/blob/2bdc1924a69592216ae3f055383c3bdd4f2cb205/python/harvest.py#L292) and [Javascript](https://

[2019-09-02 06:28] tpmccallum commented on #2731
Hi @axic and @jacqueswww,
I have written this in Python for now (today).

# Example ERC20 input - unsorted
[code]
# Example ERC20 output - sorted
[code]

Here is [a link to the code](https://github.com/second-state/smart-contract-search-engine/blob/master/python/utilities_and_tests/abi_research.py).

I ended up writing this without help from Libraries. Partly because we can now transpose the logic

[2019-09-02 06:45] tpmccallum commented on #2731
The overall logic is as follows
- sort inner lists i.e. internally sort `inputs` and `outputs` first (using multilevel sort by `type` then `name`)
- sort ABI (also a multilevel sort by `type` then `name`)

The inner workings are as follows
## Multilevel comparison
[code]
## Core sort logic
[code]
## Driver to sort the inner inputs and outputs
[code]

[2019-09-02 08:34] ekpyron commented on #7261
Maybe we should bring this up in the user group as well to get some input on whether this remaining super construction has actual use cases?

[2019-09-02 08:38] chriseth commented on #2731
The current order is by function selector, by the way. I would propose to first sort by kind as suggested by @axic, then by name and then by function selector - it is quite hard to determine a sorting order of the input and output types.

[2019-09-02 08:50] #6174 closed, assigned to chriseth

[2019-09-02 09:39] erak commented on #7287
Submitted a bug report in the Gnosis-Safe project: https://github.com/gnosis/safe-contracts/issues/125.

[2019-09-02 10:05] #7237 closed, assigned to chriseth

[2019-09-02 11:01] ekpyron commented on #5424
I was just looking over the draft PR(s) for implementing this - and I'm realizing: requiring to redeclare functions of the base "virtual" again to allow them to be overridden would make the implementation much simpler, since we'd only need to check one level at a time :-). And by the same logic I could imagine that this would make auditing code easier, so I'm actually still leaning towards that op

[2019-09-02 11:49] chriseth commented on #5424
Can you ask the list?

[2019-09-02 13:04] chriseth commented on #6252
Maybe it would be better to just implement the very restricted special case of
[code]
to be reduced to
[code]

[2019-09-02 13:05] #7180 closed, assigned to bshastry

[2019-09-02 13:34] chriseth commented on #6927
Since `error` is not a keyword and might be a rather popular variable name, I'm starting to implement the following now (suggestions still welcome):

[code]

[2019-09-02 15:33] ekpyron commented on #6726
Detecting common code in the branches might be achieved by something similar to the currently abandoned block outliner https://github.com/ethereum/solidity/pull/6720

[2019-09-03 09:31] ekpyron commented on #5424
One option that will get us around discussing which should be the default is to allow both, i.e. to have "virtual" and "final" inheritance, but I'm not sure, if we should seriously consider that :-).

[2019-09-03 10:29] #7308 closed, assigned to bshastry

[2019-09-03 10:44] chriseth commented on #7317
Same argument I always give: Hidden library functions are hard to debug or verify. It would be much better to support importing assembly functions by source. Then it is easier to check what actually happens.

[2019-09-03 11:26] ekpyron commented on #7317
I actually think ``require`` and ``assert`` might be an exception here, though, and it might be beneficial to have them as primitive - that way we or someone could implement something like the SMTChecker for Yul that just uses them as assumptions and verification targets (ping @leonardoalt), right? We would translate require to require and assert to assert and change our reverts on a case-by-case

[2019-09-03 11:27] ekpyron commented on #7317
So for these particular two it might actually make verifying *easier*, if we add them...

[2019-09-03 11:49] chriseth commented on #7317
I don't see the difference to checking whether `invalid` is reachable or not.

[2019-09-03 11:51] ekpyron commented on #7317
As verification target maybe, yes, but for assumptions?
I'm not sure ``revert`` is used only in places where it's conceptually a ``require``...

[2019-09-03 11:57] chriseth commented on #7317
The (one?) purpose of require/assert is that you can do bytecode-level verification.

[2019-09-03 15:18] MidnightLightning commented on #2731
Glad to see this is getting some attention! Given the difficulties of determining a "best" sorting order based on attributes of the function/signature, might I propose my original suggestion again: have the "canonical" sort be by the order the developer put the methods in the Solidity source code. That order is only known by the compiler (which is what we're talking about here); any other implemen

[2019-09-03 15:27] chriseth commented on #2731
@MidnightLightning note that this is also not really well-defined because the functions can come from different source units. We could sort by AST id, but in that case, I would actually prefer to sort by name first.

[2019-09-03 23:34] tpmccallum commented on #2731
I completely understand the raw/native source code ordering approach that @MidnightLightning is proposing. However, there are a few things to consider. Please see below.

**Solidity**
Solidity supports multiple inheritance as well as polymorphism, and as such, specific functions can be found in multiple places and in multiple files. Would you agree that once a significant amount of inheritance and

[2019-09-04 04:27] tpmccallum commented on #2731
I wrote [a sorting and hashing API which you can try out here](https://etc.search.secondstate.io/shaAnAbi.html).

You can paste [the raw text of any of these unsorted mixed up ERC20 ABIs](https://github.com/tpmccallum/mixed_ordered_erc20_abis_for_testing), or [the official ERC20 ABI from the Ethereum Wiki](https://github.com/ethereum/wiki/wiki/Contract-ERC20-ABI), and the resulting hash (for the o

[2019-09-04 05:08] tpmccallum commented on #2731
Each individual input takes a position in the individual ABI item depending on 1) its `type` and 2) its `name`. For example addresses come before uint256
Each individual output takes a position in the individual ABI item depending on 1) its `type` and 2) its `name`. For example addresses come before uint256
Each of the individual ABI items (including the `inputs` and `outputs`) are sorted by their

[2019-09-04 05:09] tpmccallum commented on #2731
At the very end of the above process. We remove all tabs, spaces, new lines etc. We then Sha3 and get `0xfa9452aa0b9ba0bf6eb59facc534adeb90d977746f96b1c4ab2db01722a2adcb`

[2019-09-04 05:09] tpmccallum commented on #2731
Please try it out
https://etc.search.secondstate.io/shaAnAbi.html

[2019-09-04 07:36] bshastry opened #7336 "[yul] Undefined behavior for loads to and stores from u256(-31) to u256(-1)?"
## Description

Please see https://github.com/ethereum/solidity/pull/7330#issuecomment-527377730

Should there be an exception thrown (or some form of user visible error/warning message) when the machine or hand-written code like the following

[code]

I suppose sstores and sloads are fine because storage is a key value store? The yul interpreter "writes" and "reads" zeroes to and from bytes outsi

[2019-09-04 09:45] ekpyron opened #7338 "More optimisation rules for "BYTE" opcode."
E.g. we currently have ``and(byte(x,y), 0xff) => byte(x,y)``, but we should also have
``and(0xff, byte(x,y)) => byte(x,y)``.
We could also have ``and(byte(x,y), C) => and(byte(x,y), and(C,0xFF))`` for constants ``C >= 256`` plus its symmetric counterpart.

[2019-09-04 10:04] ekpyron commented on #7338
Following @axic's chat suggestion we could also consider "``BYTE``-introduction-rules" like e.g.:

``and(shr(a*8,x),0xff) => byte(31-a,x)`` (need to recheck byte order, etc.!)

[2019-09-04 10:34] bshastry opened #7339 "[yul proto fuzzer] Create equivalent functions"
## Abstract

To trigger the syntactic equality checker, the fuzzer needs to create semantically equivalent functions. This issue tracks support for creating such programs.

## Motivation

Options include
  - Duplicating an function definition with a different name, differently named input/output parameters etc.

## Specification

TBD

## Backwards Compatibility

TBD

[2019-09-04 10:43] #7276 closed, assigned to bshastry

[2019-09-04 11:05] chriseth commented on #7336
So maybe we should extend the memory array by another 31 bytes?

[2019-09-04 11:11] chriseth commented on #7336
So the thing is that in practice, executing this code costs more gas than anyone can pay. Taking the gas costs into account makes it very hard to randomly generate code that actually runs in a meaningful way. Because of that, I would propose to keep ignoring the gas costs and instead make `mstore(0xffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff, ...)` work and also not truncate a

[2019-09-04 11:23] bshastry opened #7343 "[yul] proto fuzzer: Add untested blockchain operations"
## Abstract

Add the following opcodes
  - address
  - balance
  - origin
  - caller
  - callvalue
  - gasprice
  - blockhash
  - coinbase
  - timestamp
  - number
  - difficulty
  - gaslimit
  - pop

Although their "interpretation" is trivial (because we return constants for most of them), adding them may test the yul optimizer further.

## Motivation

Extend existing nullary and unary operations

[2019-09-04 11:24] leonardoalt commented on #6989
- [x] Struct https://github.com/ethereum/solidity/pull/7267
- [x] Enum

[2019-09-04 11:28] leonardoalt commented on #4994
Closed by https://github.com/ethereum/solidity/pull/7239

[2019-09-04 11:28] #4994 closed, assigned to ekpyron

[2019-09-04 12:01] ekpyron commented on #6989
Enum: #7267 ;-).

[2019-09-04 12:01] #6989 closed, assigned to ekpyron

[2019-09-04 12:27] sifmelcara opened #7345 "[YulOpt] Loop-invariant code motion"
Some expressions in loop's body/post block can be moved outside the loop.

Prerequisites could be Disambiguator, ForLoopConditionIntoBody, ForLoopInitRewriter, and ExpressionSplitter

Then for each time we encounter a loop in current scope, we check all `VariableDeclaration` inside the loop's body and post block, if the `VariableDeclaration` satisfies the following properties, we can move (hoist)

[2019-09-04 12:42] loredanacirstea commented on #909
This would be needed for a decentralized typing system like [dType](https://github.com/pipeos-one/dType). If dType were to support the choice operator itself, it would have significant overhead (storage, complexity..).

But other projects might also benefit. A usecase example would be:
[code]

[2019-09-04 14:08] bshastry opened #7347 "[yul] proto fuzzer: Add create and call opcodes"
## Abstract

Add the following opcodes to yul proto fuzzer
  - create
  - create2
  - call
  - callcode
  - delegatecall
  - staticcall

## Motivation

- create and create2 are one type of expressions that create a new contract and return its address
- the calls are another type of expression that call a function at a given address, returning 0 on error and 1 on success

[2019-09-04 14:13] sifmelcara commented on #7345
@chriseth  Not sure if existing tools can figure out the locations where a variable are assigned?

Let's use the following two pieces of code as example
[code]

[code]

After applying for loop init rewriter and expression splitter, we can start checking which declarations can be moved outside the loop.

In the first piece of code, we will find that we can move `let _9 := or(b, 64)` outside the loo

[2019-09-04 14:59] chriseth commented on #7345
I believe that applying SSA transform and only moving ssa-variables (i.e. variables that are never assigned to - those can be found using the SSAValueTracker) already leads to effective loop-invariant code motion.

If you apply SSA to the second code, it will still have `let _6 := or(b, _5)` in the loop body, i.e. it references the non-ssa variable and thus cannot be moved.

Now take a look at the

[2019-09-04 15:02] #7288 closed, assigned to nobody

[2019-09-04 15:18] #2731 closed, assigned to nobody

[2019-09-04 16:50] erak opened #7351 "[Sol-Yul] Implement `push()` and `pop()`"
The following contract cannot be compiled via yul because of an internal compiler error resulting from an assertion (only `length` is implemented).
[code]

[2019-09-04 17:14] #7343 closed, assigned to bshastry

[2019-09-04 17:27] chriseth commented on #7287
Do you know when they started to fail and why? Did this work with the optimizer before or did we just not activate it?

[2019-09-04 17:31] chriseth commented on #7078
This has been implemented in #7251

[2019-09-04 17:31] #7078 closed, assigned to nobody

[2019-09-04 17:32] chriseth commented on #7084
Has been implemented in #7230

[2019-09-04 17:32] #7084 closed, assigned to nobody

[2019-09-04 17:32] chriseth opened #7352 "[Yul] Prune functions that call each other but are otherwise unreferenced"
Can use the callgraph for this.

[2019-09-04 17:34] chriseth commented on #5608
Has been implemented in #7251

[2019-09-04 17:34] #5608 closed, assigned to nobody

[2019-09-04 17:48] sifmelcara commented on #7345
Hmm.. maybe I missed something, do you mean that we move the variable declaration whenever its RHS only contains variables that are assigned once?

If yes, won't it miss the opportunity to optimize my first piece of code?

[2019-09-04 17:54] chriseth commented on #7345
Why do you think it will not be able to optimize your first piece of code? It is fine to require certain other components of the optimizer to have run, like the SSA transform - that's what they are for.

[2019-09-04 18:02] sifmelcara commented on #7345
Because if I load the first piece of code into yulopti and apply `xplit` and `ssa transform` I get the following:

<details>
  <summary>Click to expand</summary>

[code]

</details>

I cannot move `let _9 := or(b, _8)` outside the loop because `b` is not a SSA variable

[2019-09-04 18:16] chriseth commented on #7345
Ah sorry, I thought the first one was not a problem. I think we can solve it by extending the SSA transform: After each joining control flow, statements like `let b_15 := b` are inserted. When this is done, the loop will use `b_15` instead of `b`.

[2019-09-04 19:27] sifmelcara opened #7354 "[YulOpt] SSATransform: right after control flow joins, declare variables to hold non-SSA variables' value"
Rationale: https://github.com/ethereum/solidity/issues/7345#issuecomment-528021818

I would say it's quite natural for the pseudo-SSA... a "real" SSA would not assign to b in that if and instead have sth like let b_15 := phi(b, b_14) after the if instead - lacking such a phi function, assigning to b at the end of the if and having let b_15 := b afterwards seems like a good approximation to me - an

[2019-09-04 20:09] bshastry opened #7355 "[abiv2] ABI encoding fuzzer sometimes doesn't crop enough bytes to generate invalid encodings"
## Description

ossfuzz issue: 16963

The test program located here https://gist.github.com/bshastry/4031b4b00f9f859cfde6c50e444df40e

fails here

https://gist.github.com/bshastry/4031b4b00f9f859cfde6c50e444df40e#file-abiv2_failure-sol-L147-L149

because making a call with invalid (cropped abi encoding) incorrectly succeeds. Still trying to figure out why this happened.

Might be related to #7188

[2019-09-04 20:23] bshastry opened #7356 "[yul] optimizer assertion inside SimplificationRules pattern matcher fails"
## Description

[code]

fails this assertion

https://github.com/ethereum/solidity/blob/049e9500858324472d1bf38d1803bf3625fb2dec/libyul/optimiser/SimplificationRules.cpp#L160

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): petersburg

## Steps to Reproduce

[code]

[2019-09-05 08:39] bshastry commented on #7355
Trying to minimize the reproducer test case at the moment. Remix seems to hang on "transaction execution" even when a single value is assigned to the bytes array :|

[2019-09-05 09:14] leonardoalt commented on #6572
If we decide to implement this, we need to define the rules for `payable(x)` and `address(x)`.
Currently, `address(x)` returns `address payable` if `x` is payable, otherwise `address`.
This would overlap with the new `payable(x)` which always returns `address payable`.

Also, there are tricky situations, for example with `this`. If `this` does not have a fallback function, should `payable(this)` i

[2019-09-05 09:30] ekpyron commented on #6572
A cast of the form ``payable(x)`` seems weird to me, whenever ``x`` is not an address - but if we move away from having the result type of ``address(x)`` depend on ``x``, we'd probably need ``payable(x)`` for integers and contracts...
Also to me it seems having ``payable(this)`` silently return an ``address payable`` kind of defeats the entire purpose of splitting ``address`` - so I'd at least req

[2019-09-05 09:46] leonardoalt commented on #6572
I think requiring the argument of `payable` to be an `address` is not too bad.

[2019-09-05 09:46] chriseth commented on #6572
I would prefer to only allow `payable(x)` if `x` is an address. `address(x)` returns an address or an address payable depending on x.

[2019-09-05 10:01] ekpyron commented on #6572
Yeah ok, if you both agree on that, I'm fine with it.

It's just quite different from other types and their conversions that way (and if we have explicit casts for ``address`` and ``address payable``, then there's less pressing need for all these exceptions than before), but maybe that's just how it is.

[2019-09-05 11:14] #7336 closed, assigned to nobody

[2019-09-05 12:38] bshastry opened #7360 "[yul] object data block does not support hex encoded data"
## Description

[code]

when parsed throws a parsing error

[code]

But the [specification of yul object](https://solidity.readthedocs.io/en/v0.5.11/yul.html?highlight=dataoffset#specification-of-yul-object) states that data can be either string or hex encoded.

[2019-09-05 13:37] chriseth commented on #7360
Your hex string has an odd number of characters. :)

[2019-09-05 13:40] bshastry commented on #7360
I should have paid attention to `{2}` :-)

[2019-09-05 13:40] #7360 closed, assigned to nobody

[2019-09-05 14:42] chriseth opened #7363 "Enable new error reporter for commandline"

[2019-09-05 15:35] chriseth opened #7364 "Auto-replace revert strings by shorter identifiers"
The compiler should auto-replace user-supplied revert strings by (short) identifiers and store the mapping in some metadata.

Related: https://github.com/ethereum/solidity/issues/7260

[2019-09-05 15:35] chriseth opened #7365 "Formatted Revert Error Messages"
Message string plus formatting. Compiler turns string into (short) identifier and supplies additional values (if provided). User interface reconstructs string and formats.

Additional metadata contains the mapping from identifier to format string.

Related: https://github.com/ethereum/solidity/issues/7364

[2019-09-05 15:59] chriseth commented on #1303
Implemented in #7055

[2019-09-05 15:59] #1303 closed, assigned to nobody

[2019-09-05 16:45] ekpyron commented on #7364
So this would happen whenever the revert message is a string literal? And could thereby be prevented by ``revert(string("msg"))``? Or whenever the argument can be compile-time evaluated in general? Or would this even be a new function ``revertFormat`` (given  #7365)?

[2019-09-05 16:58] ekpyron commented on #7355
Ah, well, I know why this fails... I was wrong about the logic for cropping the encoding...

[2019-09-05 17:02] ekpyron commented on #7355
A simple example will be the following:
``function f(bytes calldata x, bool y)``
An example of an encoding for this for the bytes argument of length 1 and the bool being true is:

```0x40, 1 (that's "true"), 1, 'x'```

So while the ``bool`` argument comes after the ``bytes`` argument in the signature, in fact the encoding of the bytes argument comes after the encoding of the bool argument...
So in

[2019-09-05 17:02] ekpyron commented on #7355
Hadn't thought about that before, sorry about that :-).

[2019-09-05 18:05] chriseth commented on #7364
It would be a compiler switch and yes, it could only be used for string literals.

[2019-09-06 03:16] ghost opened #7366 "Add support for macOS Catalina"
## Abstract
Currently, the [install_deps.sh](https://github.com/ethereum/solidity/blob/develop/scripts/install_deps.sh) script does not support macOS Catalina. Although Catalina is still in beta, I made the mistake of installing my mac a few days ago. Thus, I cannot utilize the `install_deps.sh` script in projects like py-solc-x.

## Motivation

Reverting back to Mojave is a pain and lots of peopl

[2019-09-06 08:57] chriseth commented on #6927
We stumbled across some problematic edge cases that require some discussion:

What happens if the return values of `x.f()` cannot be properly decoded? Is it fine to revert in that case? Or should one of the catch clauses be invoked? If yes, what would be the error data and how can the two cases be distinguished? @ekpyron proposed to introduce something like `DecodingError` in that case.

Related,

[2019-09-06 09:32] ekpyron opened #7369 "[CLI] Remove old error reporter"
https://github.com/ethereum/solidity/pull/7368 enables the new error reporter, but keeps the old one as command line option. It should be removed with the next breaking release.

[2019-09-06 10:16] ekpyron opened #7370 "Clean up CMake files in test/ and avoid compiling tests twice"
~~``test/CMakeList.txt`` itself still uses ``GLOB``s to fetch the sources - that should be changed.~~ [Update: that part's not true anymore]

We need to decide, whether we consider it dangerous that we might miss files and thus not run the tests in it - but we could just still *also* GLOB and create a cmake error, if there is a source file in the glob that's not in the explicit list of sources. [U

[2019-09-06 11:20] maxsam4 commented on #6927
Let's assume contract alpha calls contract bravo using try-catch.
I think that it should just revert if the returned data can not be decoded.

If I am not mistaken, this problem can only arise when contract bravo completes its execution properly but the contract alpha is unable to decode the data returned by bravo. I think this try-catch is meant to catch reverts that happen in the contract bravo.

[2019-09-06 11:50] ekpyron opened #7373 "Trailing spaces in JSON output"
Came up in https://github.com/ethereum/solidity/pull/7372.

Our JSON AST output (and potentially other json output) has trailing spaces, which required a workaround in our check_style script for the recovery_ast_constructor commandline test and for all ASTJSON tests.

The whitespace is needlessly generated by json-cpp, so we need to postprocess its output.

The task is to adjust ``ASTJsonConverter

[2019-09-06 12:09] chriseth commented on #6927
@maxsam4 thanks for your comment! Yes, this is a striking argument against catching decoding errors for success return data: If control-flow ends up in any of the catch clauses, then you assume that the external call reverted and especially that any state-changes it did reverted. So it looks like we have no choice there.

The only question left for debate thus seems to be how to handle decoding er

[2019-09-06 12:10] chriseth commented on #7373
Lets get rid of that.

[2019-09-06 12:12] #5253 closed, assigned to nobody

[2019-09-06 12:12] #6025 closed, assigned to ekpyron

[2019-09-06 12:42] chriseth commented on #7355
So is this a false alarm?

[2019-09-06 12:46] ekpyron commented on #7355
Well - it's a bug in the fuzzer :-). I'll change the title.

[2019-09-06 13:48] #4755 closed, assigned to ekpyron

[2019-09-06 13:54] chriseth commented on #7370
We should better split code in proper libraries, too, especially in the test directory.

[2019-09-06 15:21] #7363 closed, assigned to ekpyron

[2019-09-06 15:39] chriseth commented on #7356
This is not dramatic. I think it is caused by the fact that the rules added in RuleList.h:280 do not contain the proper number of arguments for CREATE and CREATE2

[2019-09-06 15:44] nventuro commented on #6927
Reverting sounds like the way to go, I would only go to the `catch` blocks if the underlying call was not successfully completed (and didn't alter state).

What happens if only one of the two `catch` variants is supplied? Do uncaught reverts with string go to the catch-all, and uncaught reverts with no string cause a revert in the caller?

[2019-09-06 16:32] leonardoalt commented on #7158
What about long instances (`>= 1024 * 256`)?

[2019-09-06 16:33] leonardoalt commented on #7158
Hm, I guess the metadata won't be larger than that anyway.

[2019-09-06 16:41] leonardoalt opened #7376 "Testing issue transfer"

[2019-09-06 16:42] #7376 closed, assigned to nobody

[2019-09-07 13:46] k06a commented on #2681
@codingthat still not implemented

[2019-09-08 20:04] leonardoalt opened #7378 "ICE pop a dynamic storage array of mapping"
[code]

[code]

Deleting a `mapping` gives a `TypeError`, which is correct.
Here the `pop` tries to `setToZero` the last mapping which is then caught by codegen.
`a.pop()` should be valid, since popping the array should be fine. But because of the base type being a `mapping` it shouldn't try to `setToZero`.

[2019-09-08 20:25] leonardoalt commented on #7378
[code]
This works.
I haven't looked into the code, but my guess is that `pop` is somehow calling `setToZero` without checking the base type. Maybe `pop` calling `delete` internally would work?

[2019-09-09 07:13] sifmelcara commented on #7345
I wonder if we want move `comp()` out of the loop in the following cases?
1.
[code]
2. Similar to `1.`, but it is `switch` inside the loop, instead of `if`

Sometimes a branch inside a loop would never be executed, make me wonder if we should only promote computations in the immediate scope of loop body/post block?

[2019-09-09 07:22] fasteater commented on #5424
if` B is A` , B should inherit everything from A, which means `B.f` should also be `virtual`

[2019-09-09 07:45] bshastry commented on #7355
@ekpyron Sure, no problem. I realize I can't postpone learning how abi encoding works any longer ;-)

[2019-09-09 08:50] chriseth commented on #7345
I think we should be rather conservative here and only move statements at the top level in the loop body. Already moving stuff out of loops might "pessimize" the code because it could be that the loop is run zero times.

[2019-09-09 08:51] leonardoalt commented on #3198
@chriseth @axic I guess this is the incentive to actually implement the `receiveEther` function? Otherwise people would just keep things the way they are and it'd be the same.

[2019-09-09 09:21] ekpyron commented on #3198
Alternative to ``receiveEther``: we could just call it ``ether() payable`` - that's already a keyword and it should be clear that the ether is received...

For the other case I suggested to add arguments to ``fallback``, e.g. ``fallback(bytes4 sig, bytes calldata data)`` to make it clear that it is only called with at least a signature - but we had multiple objections against that: (1) it's not en

[2019-09-09 09:47] chriseth commented on #6927
My current plan is as follows:
 - revert if the call itself finished successfully but there was a decoding error
 - if there is a structured (error string) catch clause and the signature matches, try to decode and execute. If decoding fails or the structured catch clause does not exist or the signature does not match, go to the low-level one.
 - if the low-level catch clause does not exist, but th

[2019-09-09 09:54] bshastry opened #7381 "[yul] proto fuzzer: Reference objects that are in scope pseudo randomly"
## Abstract

The yul proto fuzzer currently generates code like this

[code]

This issue tracks support for generalizing object access such that any object in scope may be referenced. As an example, it should also be possible to reference "object1" sub-object within "object0" code section.

## Motivation

TBD

## Specification

TBD

## Backwards Compatibility

TBD

[2019-09-09 09:56] bshastry commented on #7347
Closed via #7348

[2019-09-09 09:56] #7347 closed, assigned to nobody

[2019-09-09 10:06] ekpyron commented on #7290
Done in #7374

[2019-09-09 10:06] #7290 closed, assigned to ekpyron

[2019-09-09 10:31] ekpyron commented on #3198
I'll start implementing this as ``fallback()`` and ``ether()`` - switching to different names in the process should be trivial.
Another open question: should it be required to annotate any or both of them as ``external`` and should it be required to mark ``ether()`` as ``payable``?

[2019-09-09 10:49] #7366 closed, assigned to nobody

[2019-09-09 12:20] axic commented on #3198
To clarify, do we now only allow two cases?

1) calldata length > 0 && ether == 0 -> "fallback"
2) calldata length == 0 && ether != 0 -> "ether"

[2019-09-09 12:30] ekpyron commented on #3198
@axic That's what viper does, but I think we don't want to force ether==0 for the "fallback" case, but instead allow "fallback" to be "payable", i.e the basic distinction is
1. calldata length > 0 --> "fallback"
2. calldata length == 0 --> "ether"

And case 1 is further divided as:
  1a. ether > 0 and "fallback" was declared payable ==> fine and executes "fallback"
  1b. ether > 0 and "fallback" w

[2019-09-09 12:39] ekpyron commented on #3198
Also still open: should ``fallback`` be allowed to (optionally) return ``bytes memory``? That was suggested above, but never definitively decided. I vote for it.
EDIT: we might only do it as second step, though - allowing it later won't be breaking.

[2019-09-09 13:46] christianparpart commented on #6040
we decided against reserving `copy` keyword (for now).

[2019-09-09 13:46] #6040 closed, assigned to christianparpart

[2019-09-09 14:09] chriseth commented on #3198
I think empty data should always execute the receive function.

[2019-09-09 14:12] chriseth commented on #3198
I'm voting for optionally returning bytes memory.

[2019-09-09 14:37] chriseth commented on #1319
"public, easily auditable code blocks" - exactly my words! I'm just drawing a different conclusion: Complicated code that is hidden in the compiler is worse than structured assembly code that can be easily found in a library that is linked together with the project.

But it always depends on the use-case and what you do with inline assembly. What people do with it should be an inspiration for lang

[2019-09-09 14:38] chriseth commented on #7303
@barakman sorry, but that won't happen.

[2019-09-09 14:45] #6865 closed, assigned to nobody

[2019-09-09 14:45] #6962 closed, assigned to nobody

[2019-09-09 15:18] chriseth commented on #5064
Still present.

[2019-09-09 15:36] #7356 closed, assigned to bshastry

[2019-09-09 19:55] ericDeCourcy commented on #5424
How would this work in the case of an overloaded functions? Is this portion of the spec still being considered?

[2019-09-10 10:27] leonardoalt commented on #6572
Implemented in https://github.com/ethereum/solidity/pull/7349

[2019-09-10 10:27] #6572 closed, assigned to leonardoalt

[2019-09-10 11:49] erak commented on #7287
Can be closed after https://github.com/gnosis/safe-contracts/pull/126 got merged.

[2019-09-10 12:54] chriseth commented on #6252
This would actually even allow the "[promised optimization](https://chriseth.github.io/notes/talks/solidity_optimizer_devcon4/#/20)"

[2019-09-10 13:15] leonardoalt commented on #6252
What about extending the current PR with https://github.com/ethereum/solidity/issues/6252#issuecomment-527141087?

[2019-09-10 14:54] chriseth commented on #6252
I'm actually not sure if there is so much overlap between the current PR and the idea above.

[2019-09-10 22:51] bshastry opened #7399 "[yul] nested object access error"
## Description

[code]

I am not sure why the nested access `object1.object2` within `object0`'s code section is deemed invalid.

[code]

Such nested accesses are considered valid in the documentation: https://solidity.readthedocs.io/en/v0.5.11/yul.html?highlight=dataoffset#specification-of-yul-object

Identifiers in scope seem to be restricted to the current object, its subobject, or data block (

[2019-09-11 10:12] bshastry commented on #6685
## Abstract

The yul proto fuzzer currently generates code like this

[code]

This issue tracks support for generalizing object access such that any object in scope may be referenced. As an example, it should also be possible to reference "object1" sub-object within "object0" code section.

## Motivation

TBD

## Specification

TBD

## Backwards Compatibility

TBD

[2019-09-11 10:12] bshastry commented on #7381
Folding this into #6685 since this required a smaller change than I originally thought.

[2019-09-11 10:12] #7381 closed, assigned to bshastry

[2019-09-11 10:57] chriseth opened #7403 "[yul] CSE should be able to deal with mload"
We should be able to optimize
[code]
into
[code]
but CSE cannot tell that `mload(a)` and `mload(a)` are the same (because it the expression is not movable).

[2019-09-11 11:07] ekpyron commented on #3198
@chriseth now suggested to change the semantics slightly - if there is no receive-ether-function, then ``fallback`` will *also* be called for ``msg.data.length == 0``, but we issue a warning suggesting to implement a receive-ether function.

[2019-09-11 13:44] christianparpart commented on #5880
@bshastry After many months, I've been retesting your code snipped and it's fixed now (most likely due to the type system PR with strong ownership from a couple of months ago).

What's left are some "possibly lost" leaks due to Z3 that are, however, totally unrelated to this ticket and we couldn't track them down; so I'm closing this ticket.

[2019-09-11 13:44] #5880 closed, assigned to nobody

[2019-09-11 14:50] chriseth opened #7406 "[Yul] for loop prettyfier"
If possible, at the end of optimization, for loop conditions should be pulled into the header.

[code]

should be transformed to

[code]

We may even add an `iszero` in the header if it is not present in the condition.

Variables that are declared before the loop and that are used inside but not after the loop could be pulled into the init part.

[2019-09-11 16:28] #6685 closed, assigned to bshastry

[2019-09-11 21:47] erak opened #7410 "ICE on push to array with storage mapping"
## Description

The following internal compiler error is thrown in the scenario below:
[code]

## Steps to Reproduce

[code]

[2019-09-12 08:04] chriseth commented on #7158
We should still try to implement it.

[2019-09-12 08:05] chriseth commented on #909
Putting this in 0.7.0 so we can talk about it.

[2019-09-12 08:14] chriseth commented on #5424
@ericDeCourcy currently, overloading and overriding are considered to be unrelated. We might want to restrict this, but probably not for 0.6.0.

[2019-09-12 09:37] bshastry opened #7411 "[yul] optimizer can produce different side-effects because of the order of evaluation of for-loop conditional expression that contains `msize()` or a user-defined function that has a side-effect"
## Description

[code]

Not sure why the yul interpreter is evaluating create twice (trace below)

[code]

while the optimized version of the program.

[code]

reports this trace

[code]

tripping the fuzzer in the process.

The rule list responsible for this is the following
https://github.com/ethereum/solidity/blob/324cc71b13a2e1ebf1fe34397d085832b89076a4/libevmasm/RuleList.h#L489-L496
## Enviro

[2019-09-12 09:52] bshastry opened #7412 "[ossfuzz] Use `-fsanitize=fuzzer` linker flag instead of linking to a custom built libFuzzingEngine.a"
## Abstract

Currently, the fuzzing binaries link against a custom built `libFuzzingEngine.a` that is built in the ubuntu 19.04 docker image

See https://github.com/ethereum/solidity/blob/324cc71b13a2e1ebf1fe34397d085832b89076a4/.circleci/docker/Dockerfile.ubuntu1904#L67-L75

ossfuzz guide suggests not doing this (see https://github.com/google/oss-fuzz/issues/832#issue-255774655)

The main motivat

[2019-09-12 10:59] bshastry commented on #7411
So the problem seems to be order of evaluation here

- In the unoptimized test, `msize()` is evaluated before `create()` which has the effect of passing the for-loop condition (since `create`  returns a non-zero address value, `0xcccccc+ arg[1]` to be precise and the divisor is `1` because `msize()` equals zero)
- In the optimized test, `msize()` is evaluated after `create()`, making the divisor g

[2019-09-12 11:13] ekpyron commented on #7411
My guess is this is because the rule list only has "removes non-constant argument" instead of "moves non-constant argument" and that's ``false`` for ``DIV(X, SHL(Y, 1)) -> SHR(Y, X)``.
The same will is true for ``MUL(X, SHL(Y, 1)) -> SHL(Y, X)``.
But those are the only two I found after a quick look through the list.

[2019-09-12 11:25] chriseth commented on #7411
We can just set the flag to true and maybe also adjust the explanation of the flag. Please also change the comment in ExpressionSimplifier.cpp that talks about the distinction.

[2019-09-12 11:44] ekpyron commented on #5424
Our current specification has one hole:
[code]

[2019-09-12 11:47] chriseth commented on #7411
Analysis for likelihood of appearance:

The sub-expressions `X` and `Y` need to be non-movable opcodes (or larger expression trees) with side-effects. If an opcode is part of an expression tree, it needs to return a single value.

 - `keccak256` (only side-effect on `msize`)
 - `extcodesize`
 - `balance`
 - `returndatasize`
 - `extcodehash`
 - `mload`
 - `sload`
 - `pc`
 - `msize`
 - `create`
 - `

[2019-09-12 11:48] ekpyron commented on #5424
Which we could solve be allowing
``function f() external override(A,B) = A.f;``
Which would also be nice to have for non-external functions.

[2019-09-12 13:12] bshastry commented on #7411
The other rule where this issue applies

https://github.com/ethereum/solidity/blob/324cc71b13a2e1ebf1fe34397d085832b89076a4/libevmasm/RuleList.h#L472-L479

does not cause a problem in the for-loop-condition case because the for-loop condition value does not change across iterations due to the left shift (for division/right shift this is different though as noted before). So for the `mul` case, it

[2019-09-12 13:15] chriseth commented on #7411
Hm, but those expressions can be embedded in more complex expressions, can't they?

[2019-09-12 13:17] bshastry commented on #7411
yeah, I would vote for better safe than sorry since we already anticipate the problem

[2019-09-12 13:20] chriseth commented on #7411
Oh and by the way: The title of this issue is too strict - there can be way more severe problems than just msize when you take user-defined functions into account.

[2019-09-12 13:25] ekpyron commented on #7411
[code]

Without optimization ``mul(f(), shl(msize(), 1))`` is zero, hence loop is executed.
With optimization ``shl(msize(), f())`` is 32, hence loop is not executed.

[2019-09-12 13:33] bshastry commented on #7411
@ekpyron Nice! Shouldn't it be something like

[code]

without optimization -> loop not taken
with optimization -> loop taken

[2019-09-12 13:36] ekpyron commented on #7411
Not sure - If I was correct about the values of the expressions being ``0`` or ``32``, then ``lt(exp,1)`` or ``iszero(exp)`` for that matter, would work - but I haven't checked in detail, the point is just: this *can* happen for the other rule as well.

[2019-09-12 13:54] bshastry commented on #7411
If we set the optimization rule "movable" flag for the order altering DIV/MUL rules to true (as a fix), there is a different issue that I don't understand

This program

[code]

fails this assertion

https://github.com/ethereum/solidity/blob/b747c26788c60d9d4487329f47b96d20df68dfb4/libyul/optimiser/BlockHasher.cpp#L116

[2019-09-12 14:02] ekpyron commented on #7411
@bshastry That seems quite unrelated... could you output the yul code at the point when the assertion fails?

[2019-09-12 14:56] bshastry opened #7416 "[yul] optimizer fails assertion in BlockHasher.cpp"
## Description

[code]

fails

https://github.com/ethereum/solidity/blob/b747c26788c60d9d4487329f47b96d20df68dfb4/libyul/optimiser/BlockHasher.cpp#L116

The call to `yul::AsmPrinter()(_varDecl)` before the assertion prints the following

[code]

and the block preceeding it is

[code]

## Environment

- Compiler version: latest develop

## Reproduction

[code]

[2019-09-12 14:56] bshastry commented on #7411
@ekpyron You're right. This is an unrelated issue. Created #7416

[2019-09-12 15:02] ekpyron commented on #7416
Hm - there's a name collision in ``x_0`` in the block before - so the question is: where is this coming from...

[2019-09-12 15:27] ekpyron commented on #7416
It's https://github.com/ethereum/solidity/pull/7408 - but I don't see why...

[2019-09-12 15:54] bshastry commented on #7355
Reopening this issue since it seems I didn't fully fix the root cause

Latest test case (bytes, bool[4][4] memory) fails here

https://gist.github.com/bshastry/f1d393a7a5b3abd21c4a1e03a351761d#file-abiv2_failure-sol-L129

[2019-09-12 15:59] ekpyron commented on #7416
It's the SSA Reverser when run on ``let x := 0 x := x``... and that pattern seems to actually occur since #7408...

[2019-09-12 16:03] ekpyron commented on #7416
Yeah - so I see two options - let ``SSAReverser`` deal with this case correctly or require it to be removed by some other step before calling it.

[2019-09-12 16:06] ekpyron commented on #7416
Nevermind: this was wrong.

~~Actually having~~
[code]
~~is enough to trigger the bug.~~

[2019-09-12 16:11] bshastry commented on #7355
Bug is the following:

- statically sized arrays are dynamically encoded only if their base type is `bytes` or `string` (current code considers all arrays to be dynamically encoded)

- dynamically sized arrays are dynamically encoded regardless of base type

[2019-09-12 18:02] #7416 closed, assigned to nobody

[2019-09-12 18:22] #7412 closed, assigned to nobody

[2019-09-12 18:23] chriseth commented on #5424
Sounds good! I would not allow anything like `A.g` for now, but we might in the future.

[2019-09-13 09:28] ekpyron commented on #7260
@MicahZoltu suggested to also have the compiler change ``require(amount < 5);`` to ``require(amount < 5, "amount < 5");`` - that would be a nice addition to the "debug mode".

EDIT: to discuss: would this need a separate command line option or is the debug mode fine? Should there be more annotations in the strings, like file name, line number, contract name, function name, etc.?

[2019-09-13 10:52] leonardoalt commented on #6012
Fixed by https://github.com/ethereum/solidity/pull/7340

[2019-09-13 10:52] #6012 closed, assigned to nobody

[2019-09-13 10:59] chriseth commented on #6251
We should also support a "debug mode" where the require expression is used for the reason string (plus maybe filename, line number, etc): https://github.com/ethereum/solidity/issues/7260#issuecomment-531168669

[2019-09-13 11:46] leonardoalt opened #7422 "[SMTChecker] Refactor CHC.cpp a bit more"
Ideally it could be refactored such that:
- `m_currentBlock` is used instead of `m_path`
- Disassociate ASTNodes from predicates, such that predicates don't depend at all on the SSA index of a `SymbolicFunctionVariable`.
- For the above to be possible we might need to keep things locally in a single function. For example, moving the content of `endVisit(FunctionDefinition)` into the end of `visit(

[2019-09-13 12:02] ekpyron commented on #6267
Done in https://github.com/ethereum/solidity/pull/7340

[2019-09-13 12:02] #6267 closed, assigned to ekpyron

[2019-09-13 12:06] ekpyron opened #7423 "Array slices for memory and storage arrays."
In 0.6.0 we implemented array slices for dynamic calldata arrays.
We should also support them at least for dynamic memory arrays and maybe even for dynamic storage arrays. This will require more involved changes, though, since while calldata array slices and dynamic calldata arrays have the exact same stack layout and type conversion is a no-op, this won't be the case for memory and storage.
We co

[2019-09-13 12:06] ekpyron commented on #6220
Doing this now will be a bit more complicated, since calldata array slices would no longer have the same stack layout as dynamic calldata arrays. Hence somewhat related to https://github.com/ethereum/solidity/issues/7423

[2019-09-13 12:32] ekpyron commented on #2419
This might be the cleanest solution to the recent issues in https://github.com/ethereum/solidity/pull/7153#issuecomment-530986932
Since we currently use a pretty printed version of the original inline assembly it's impossible to reconstruct the original source locations of all yul AST nodes during re-import.

The least hacky solution to that problem is probably outputing the yul AST as JSON tree i

[2019-09-13 15:34] bshastry opened #7424 "[yul] optimizer can now increase execution step count of a program by 2x"
## Description

We had decided on an upper bound of `N * 1.5` number of execution steps for optimized code (see https://github.com/ethereum/solidity/issues/6476#issuecomment-480237241) that is now exceeded most likely because of #7407

Opened this issue to discuss this change. My intuition is that break for-loop-condition into `if (iszero(condition)) break` adds an additional step for each loop it

[2019-09-13 15:49] chriseth commented on #7424
Will be solved by #7409

[2019-09-13 17:42] PaulRBerg commented on #278
@chriseth is there a [Math.Abs](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/abs) function in solidity?

[2019-09-16 14:36] leonardoalt commented on #7410
A bit simplified:
[code]

[2019-09-16 15:59] leonardoalt commented on #7295
Implemented in https://github.com/ethereum/solidity/pull/7377#

[2019-09-16 15:59] #7295 closed, assigned to leonardoalt

[2019-09-16 16:00] leonardoalt commented on #7158
Implemented in https://github.com/ethereum/solidity/pull/7377#

[2019-09-16 16:00] #7158 closed, assigned to leonardoalt

[2019-09-16 16:54] bshastry opened #7433 "[Documentation] Describe selfbalance and chainid opcodes (Istanbul) in read the docs"
## Abstract

## Motivation

## Specification

## Backwards Compatibility

[2019-09-16 16:57] bshastry opened #7434 "[yul] interpreter: Add dummy calldata for fuzzing"
## Abstract

[code]

Lines marked `0` are not covered during fuzz testing.

## Motivation

- Add fake call data

[2019-09-16 16:59] #7378 closed, assigned to leonardoalt

[2019-09-16 17:17] chriseth opened #7436 "Make all examples in docs follow solhint rules and re-enable style checker test in CI"
We disabled the style checker test in https://github.com/ethereum/solidity/pull/7435 with 0.6.0 because it was not updated to our syntax changes.

[2019-09-16 17:30] chriseth opened #7437 "[Yul] Try to replace DataFlowAnalyzer by SSAValueTracker"
The SSAValueTracker is way simpler than the DataFlowAnalyzer. Components should try to use it (together with SSA transform) instead of the DataFlowAnalyzer.

[2019-09-16 17:45] bshastry opened #7438 "[yul] optimizer coverage todos"
## Description

Synthesize examples to cover the following lines of code not yet hit by the fuzzer

https://github.com/ethereum/solidity/blob/54d936dda839c690f6acd3b7b7c61280aaeffa05/libyul/optimiser/DataFlowAnalyzer.cpp#L345

never returns `false`. Why the Data flow analyzer finds no variables in function scope is beyond me.

https://github.com/ethereum/solidity/blob/54d936dda839c690f6acd3b7b7c61

[2019-09-16 19:08] coventry opened #7441 "Timeline for moving ABIV2 out of experimental status?"
The ABIV2 feature allowing structs as parameters is very useful, but inappropriate for production use as long as it's under experimental status. What steps are needed, before the experimental status can be  lifted? It would be helpful to know roughly when the feature might be ready for production use, so developers can decide whether to build contracts with it, or work around it using tuples or en

[2019-09-16 21:43] thegostep commented on #7260
+1 on this

[2019-09-17 09:37] chriseth commented on #278
No, this is not available in Solidity. You have to use `x >= 0 ? x : -x`.

[2019-09-17 09:43] #7355 closed, assigned to bshastry

[2019-09-17 10:34] #7248 closed, assigned to bshastry

[2019-09-17 10:58] #7411 closed, assigned to nobody

[2019-09-17 10:58] #7424 closed, assigned to nobody

[2019-09-17 11:34] chriseth commented on #7441
It is part of Solidity 0.6.0 to remove the warning, but we still require a pragma to activate the feature.

You can follow the progress here: https://github.com/ethereum/solidity/projects/22

Items in the "Inbox" column will probably not be part of the release.

[2019-09-17 11:34] #7441 closed, assigned to nobody

[2019-09-17 11:38] bshastry opened #7443 "[solc] corpus based fuzzer: Randomize target evm version"
## Description

When I was reviewing test coverage, I found that some code snippets like the following

https://github.com/ethereum/solidity/blob/5859a69c449bf970392d792e39396467331b71ed/libsolidity/codegen/ExpressionCompiler.cpp#L1960-L1973

are not covered. In general, it would be great to cover these that in turn influence coverage inside code generation

https://github.com/ethereum/solidity/bl

[2019-09-17 12:21] bshastry opened #7445 "[solc fuzzer] Add solc fuzzer that generates yul code from solidity code"
## Description

The code in this directory is not covered at all because we don't have fuzz solidity to yul code generation at the moment

https://github.com/ethereum/solidity/tree/develop/libsolidity/codegen/ir

Issue tracks support for adding one.

[2019-09-17 13:07] chriseth commented on #3572
Implemented in https://github.com/ethereum/solidity/pull/7430

[2019-09-17 13:07] #3572 closed, assigned to leonardoalt

[2019-09-17 13:13] #7354 closed, assigned to nobody

[2019-09-17 13:23] #7443 closed, assigned to nobody

[2019-09-17 14:18] coventry commented on #7441
Thanks, @chriseth.

[2019-09-17 23:10] hkalodner opened #7448 "Internal Compiler Error with fixed size array of recursive struct"
## Description

Below I describe a fully reproducible internal compiler error in solidity version 0.5.11. This bug looks like a regression since I can't recreate it using 0.5.10.

Compiling the test file below leads to:

[code]

In order to verify its reproducibility, I checked that the below code also leads to an InternalCompilerError in remix.

## Environment

- Compiler version: 0.5.11+commit.2

[2019-09-18 05:22] naddison36 commented on #3594
Why does Solidity even compile these? Why can't it fail the compile because not all the functions have been implemented?
I've wasted too many hours debugging contracts only to find I've stuffed the inheritance which has resulted in weird partially working contracts.

[2019-09-18 13:10] Marenz commented on #5424
for reference, the current PR for `override` is https://github.com/ethereum/solidity/pull/7320

[2019-09-18 13:54] sifmelcara commented on #7345
So I finished the implementation and was writing test cases, and I found that current Rematerializer implementation will move expressions back into the loop which negates the effect of LICM. Maybe Rematerializer should add a rule to not rematerialize value into loop? What do you think?

[2019-09-18 14:02] chriseth commented on #7345
Can you provide some examples?

[2019-09-18 14:14] sifmelcara commented on #7345
[code]
-> loop init rewriter, expression splitter, ssa transformer ->
[code]
-> loop invariant code motion ->
[code]
-> expression joiner ->
[code]
(current state is good, as we successfully moved the expansive computation (`gt`) out of the loop)
-> rematerializer ->
[code]
(`gt` moved back into the loop by rematerializer, which is not desired)

[2019-09-18 14:15] chriseth commented on #7232
This is fixed now.

[2019-09-18 14:15] #7232 closed, assigned to nobody

[2019-09-18 14:18] chriseth commented on #6514
Has been fixed by https://github.com/ethereum/solidity/pull/7071

[2019-09-18 14:18] #6514 closed, assigned to nobody

[2019-09-18 14:21] chriseth commented on #4702
So to clarify: The issue here is not the `import "./A.sol"` but instead calling the compiler using `solc ./A.sol B.sol` instead of `solc A.sol B.sol`.

[2019-09-18 15:37] Marenz commented on #7448
I suspect my commit 8e899a0d32de5032ec9986e14cf1161e657bd061 broke this

[2019-09-18 15:39] Marenz commented on #7448
Note, it's only a regression if you encountered this exact bug before, then it was fixed and then it broke again. Otherwise it's just a "normal" new bug in 0.5.11 ;)

[2019-09-18 16:22] Marenz commented on #7448
I just checked, it was not my commit that caused this.. still looking

[2019-09-18 16:24] chriseth commented on #7345
Ah, right, I did not remember the full rules of the rematerializer. We could tune it such that when inside a loop, the `refs <= 1` alternative is not valid, i.e.:

[code]

[2019-09-18 16:44] chriseth opened #7451 "[Sol -> Yul] Implement revert string stripping in YulIRGenerator"

[2019-09-18 17:24] Marenz commented on #7448
This commit is causing the problem: 15631a7fbe603bb7b1d79eee4894df73c36f32f9

[2019-09-18 17:42] hkalodner commented on #7448
Thanks for the quick response!

[2019-09-19 03:51] MicahZoltu opened #7455 "Remove .send and .transfer."
## Description

Once again, necessary gas cost adjustments in the EVM are being contested because people incorrectly have made assumptions that gas costs are fixed rather than variable.  I think a lot of this stems from the fact that Solidity actively encourages this behavior through `.send` and `.transfer` methods.  The _only_ input into deciding the gas cost for any given operation is the operat

[2019-09-19 04:03] jochem-brouwer commented on #7455
I just discussed this with Micah over chat. I think a step in the right direction would be to explicilty note in the solidity docs that developers should be aware that `.send` or `.transfer` to a contract MIGHT fail in the future due to changed gas costs in a fork (if the contract is meant to only transfer to EOA's then I think it is fine to use this - but the developer SHOULD BE aware of this).

[2019-09-19 08:18] chriseth commented on #7455
Before we can remove send and transfer, we need a new function that forwards all gas. I don't think that `.call.value(x)()` should be the recommended way to transfer ether.

I second the suggested changes to the documentation.

We should also note (if that is not already part of the "withdraw pattern" documentation) that you should deal with the fact that a "forward all gas" call can always get yo

[2019-09-19 08:25] jochem-brouwer commented on #7455
Good point on the consume all gas. Keep in mind that you will always keep 1/64 of the available gas which you had before a call due to the call depth limit eip.

[2019-09-19 08:57] MicahZoltu commented on #7455
I think it is more general to assert that:

For the same reason as mentioned above, I think it is a bad idea for contracts to try to do any sort of conditional logic based on gas remaining or to use gas limiting as a means of controlling the negative impact a contract can have on operation, or ensuring that you "have enough gas leftover to finish".  The two exceptions I _may_ make is for a contrac

[2019-09-19 10:11] chriseth commented on #7455
If we are saying "the withdraw pattern is the way to go", then maybe we should make that more explicit by disallowing `send` and `transfer` and replacing them by a new function called `withdraw` (bad naming, we should come up with a better one) that does the following:

`withdraw(x)` sends `x` wei to `msg.sender` (forwarding all gas) and terminates the execution (unless the send reverted in which

[2019-09-19 12:11] MicahZoltu commented on #7455
🤔 Terminal functions in general are a neat idea.  It would be even _cooler_ though if the compiler instead were able to guarantee that no storage writes occurred after the call, and any external function calls were STATIC_CALL.  That would allow you to do things like logging, or prep data for returning.

Of course, this _doesn't_ protect the user from reentrancy since we cannot enforce at the lang

[2019-09-19 12:16] erak opened #7460 "Update external tests to 0.6.0"
The contracts in external projects we're testing on a nightly basis, need to be updated to the breaking changes of 0.6.0. Since we cannot update the upstream repositories directly, these have been forked:

- [x] https://github.com/erak/colonyNetwork/ (`develop_060`)
- [x] https://github.com/erak/safe-contracts/ (`development_060`)
- [x] https://github.com/erak/openzeppelin-contracts (`master_060`)

[2019-09-20 10:03] ChrisChinchilla commented on #7247
On it

[2019-09-20 16:03] axic commented on #4548
@leonardoalt since you are working on solc-js-smt tests, perhaps you want to consider this too?

[2019-09-20 16:11] leonardoalt commented on #4548
Ok, I can check it next week with the other stuff.

[2019-09-20 17:56] leonardoalt commented on #6673
Decided against it.

[2019-09-20 17:56] #6673 closed, assigned to nobody

[2019-09-20 17:57] leonardoalt commented on #6054
Implemented in https://github.com/ethereum/solidity/pull/7210

[2019-09-20 17:57] #6054 closed, assigned to nobody

[2019-09-20 17:59] leonardoalt commented on #3857
Status:
- SMTChecker can be used via `--standard-json` double run
- From 0.6.0 it will also be able to use a sync callback to solve queries

The only step missing then will be a solver in js we can somehow link to.

[2019-09-20 18:04] leonardoalt opened #7466 "[SMTChecker] Run SMTChecker on all syntaxTests"
We can maybe find other ICEs this way, and test general language support.

[2019-09-20 18:06] leonardoalt commented on #5618
The only case left in `smtCheckerTests` that still has a warning `Internal error: Expression undefined for SMT solver.` is the conditional operator (https://github.com/ethereum/solidity/issues/7021).

[2019-09-22 21:25] aarlt opened #7468 "[soltest/isoltest] different test results on macOS & Linux"
`soltest` & `isoltest` currently show different test results on macOS and Linux.

CI should execute tests in the context of macOS.

I did some changes to `.circleci/config.yml` in #7464 to show the different test results in CircleCI, but probably the way I did these changes is not optimal.

[2019-09-23 07:15] jochem-brouwer opened #7469 "Feature Request: allow reading `length` of the `string` type."
## Abstract

Strings have a length. It is not possible to read `length` of the `string` type. You have to convert it first to a `bytes` type.

## Motivation

It is not intuitive that you have to "convert" the `string` to `bytes` to read length. The only reason I can think of is that it is not intuitive if a character in the string is more than one byte length (e.g. special characters) - should we

[2019-09-23 07:15] jochem-brouwer commented on #7469
In case that this was not included in the first place because of differences between char length and byte length (due to encoding) this feature request can be closed.

[2019-09-23 14:31] #7433 closed, assigned to nobody

[2019-09-23 14:54] bshastry opened #7471 "[Fuzzing] Enable yul optimizer via compiler stack"
## Description

Is there merit in enabling yul optimizer in compiler stack settings (see https://github.com/ethereum/solidity/pull/7446/files#diff-6705b87d569995601f337962eef489ddR97)

given that we have a standalone yul optimizer fuzzer?

[2019-09-23 15:53] bshastry opened #7472 "[yul] optimizer may increase gas consumption in code containing many nested for loops that have msize, call etc. as loop condition"
## Description

oss-fuzz: issue number 17643

[code]

is optimized to

[code]

which increases code size and trips the fuzzer. The additional instructions are zeroing for-loop init variable, and folding the `msize()` builtin when used as a for-loop conditional into the for-loop via `iszero`

## Environment

- Compiler version: latest develop

[2019-09-24 09:23] chriseth commented on #3594
@naddison36 you might like #7358

[2019-09-24 10:39] bshastry commented on #7472
This behavior is also seen for for-loop conditions involving low-level calls e.g., `call`, `callcode`, and `delegatecall`

[code]

[2019-09-24 12:46] chriseth commented on #7469
Yes, multi-byte characters are the reason for disallowing access to string length.

[2019-09-24 12:46] #7469 closed, assigned to nobody

[2019-09-24 12:49] chriseth commented on #7472
Maybe we could turn
[code]
into
[code]

[2019-09-24 13:09] bshastry commented on #7472
That saves us the `break` statement but introduces the `iszero` expression, so doesn't it undo the benefit?

[2019-09-24 13:10] bshastry commented on #7472
Also, isn't the explicit for-loop-init variable initialization increasing code size as well?

[2019-09-24 13:13] chriseth commented on #7472
Replacing a for loop and an if by only an if is certainly a benefit, it vastly reduces control flow complexity.

About the explicit init by zero, we should eliminate that, too, yes.

[2019-09-24 13:35] bshastry opened #7476 "[Build Infra] Add clang build and test CIs"
## Abstract

At the moment, we rely on the fuzzer build CI to catch compiler warnings/errors that should be otherwise caught by clang (see https://github.com/ethereum/solidity/pull/7473#issuecomment-534534163).

Now that we have a dedicated clang docker image (see #7248 ), we can use it for this purpose.

[2019-09-24 13:42] bshastry commented on #7472
Ah right, I misread your earlier comment wherein we are completely getting rid of for loop construct...

[2019-09-24 13:49] ameyanator commented on #7259
@ekpyron can I work on this issue?

[2019-09-24 14:46] chriseth opened #7478 "[Yul] Optimizer rule: slt(sub(a, b), 0) -> slt(a, b)"
This code appears in the optimized abi decoder.

Rule still needs to be verified.

[2019-09-24 16:17] zhao-nan opened #7481 "Building from source fails (incomplete type in Z3 CHCInterface)"
## Description

When building the latest version of the compiler from source (as described [here](https://solidity.readthedocs.io/en/latest/installing-solidity.html)), the build fails with the following error message:
[code]

When Z3 is explicitly excluded (`cmake --DUSE_Z3=Off`), building succeeds.

## Environment

- Compiler version: latest (0.5.11)
- Operating system: Ubuntu 18.04 64bit
- Z3 Ve

[2019-09-24 16:37] leonardoalt commented on #7481
Hi @zhao-nan ,
are you sure about the Z3 version? I've seen this error before on Ubuntu, when people use the stock z3 (which is old).
Since you're on Ubuntu, I assume you have a custom installation of Z3 4.8.5. What could be happening is that you have both versions (stock and custom) installed, and CMake is preferring the old one for some reason.

[2019-09-24 16:50] zhao-nan commented on #7481
Woops. Yes, you are right. I did not realize the old repo version was also installed.
Thanks for the quick help!

[2019-09-24 16:50] #7481 closed, assigned to nobody

[2019-09-25 05:58] Pr0methean commented on #4037
The `pure` modifier isn't very useful without this feature: I've had to use `view` instead, just to avoid re-instantiating a zero BigNumber every time I use one.

[2019-09-25 12:12] christianparpart commented on #7273
It could be trivially be made to:

[code]

Or do we want to have it like so:
[code]

Or:
[code]
?

So first, second or third solution?

[2019-09-25 12:49] bshastry commented on #7273
I prefer the third solution (underscoring shadowed declaration only)

[2019-09-25 12:59] christianparpart commented on #7273
That's what I was implementing now anyways. :)

[2019-09-25 13:05] yudilevi opened #7484 "Dockerhub image for 0.4.26"
Hi,

Not a feature request per se, but I noticed that dockerhub is missing the 0.4.26 compiler image - would it be possible to add it there?

Thanks!

[2019-09-25 15:45] vietlq commented on #1578
Thanks @federicobond the link worked for me. Specifically on macOS Mojave I needed to run:

https://stackoverflow.com/a/55465527/128028

[code]

[2019-09-26 17:48] leonardoalt opened #7488 "No error on base constructor call to current contract"
This is valid:
[code]
As far as I checked, `C()` does nothing. Is this intended? Is it a bug?

[2019-09-27 03:12] MicahZoltu commented on #2136
Separate from the `.creationCode` and `.runtimeCode`, I would still like to see a `new2` operator (that takes a salt).  Dropping down to assembly should only happen when the higher level language doesn't support what you need to do, and if people are frequently dropping to assembly (as is happening with `create2`) that suggests the language is missing a feature that is in high demand.

Sometimes p

[2019-09-27 04:17] jochem-brouwer commented on #7455
@MicahZoltu Basically that is what `STATICCALL` does - it does not allow any state writes a level deeper in the call frame. If a static called contract re-enters the current contract and tries to modify state there, it will fail.

~I think solidity should start using `STATICCALL` for transfers and sends. The only downside is that `STATICCALL` is strict - you also cannot `LOG` events.~ - does not w

[2019-09-27 04:45] MicahZoltu commented on #7455
@jochem-brouwer Can you attach value to a STATICCALL?  I would expect not since moving ETH around _is_ a state change.

[2019-09-27 04:47] jochem-brouwer commented on #7455
@MicahZoltu yes of course, you are right, the value is always zero. It would hence not work when transfering ETH.

[2019-09-27 20:41] Pet3ris opened #7489 "Question: How to get a given variable's representation in EVM state?"
Solidity Team,

I'm wondering if there is a compiler output to get how a given variable is represented in EVM state?

Variables would be any variables in Solidity code from given contract storage variables (where we would just need to know the "keccak index" of each variable) or temporary variables created in the scope of a function which would have locations in memory.

Alternatively, if there is

[2019-09-29 08:43] bshastry commented on #7472
Do you mean, turning the first into

[code]

I'm not sure I follow how you managed to remove the for loop while retaining semantics (of iteration).

[2019-09-30 04:41] erak commented on #7484
@yudilevi Thanks for bringing this up! You're right, `dockerhub` is missing the 0.4.26 release image. I'm not sure if it wasn't planned to have an image or if it wasn't built by accident. I'll check back with the team and keep you posted.

[2019-09-30 07:45] #7150 closed, assigned to christianparpart, erak

[2019-10-01 11:48] #7273 closed, assigned to christianparpart

[2019-10-01 11:49] chriseth commented on #7488
It is a call to the base constructor, should not be valid.

[2019-10-01 11:50] chriseth commented on #7484
Added the image.

[2019-10-01 11:50] #7484 closed, assigned to nobody

[2019-10-01 11:55] #7476 closed, assigned to nobody

[2019-10-01 12:57] ekpyron commented on #7259
@ameyanator Sorry for the late reply - but yes, since it doesn't seem like @Patil2099 is currently still working on this, so feel free to work on this one. Be sure to use a different PR for each change - and we will probably have to stay with ``boost::filesystem`` for now due to problems on MacOS, but the other two are possible now. Best to start with replacing ``boost::optional``.
Let us know, if

[2019-10-01 13:03] ekpyron commented on #7259
Ah sorry, I was away for a bit, so now I realize that there's already a PR for ``boost::optional``.
So the next task would be ``boost::variant``.

[2019-10-01 13:11] Patil2099 commented on #7259
@ekpyron I was working on web3.py repo and completely forgot about this one. I can start working on it. If you want

[2019-10-01 13:34] ekpyron commented on #7259
@Patil2099 @ameyanator I'd suggest the first one to post a comment like "I'm starting to work on implementing [boost construct]" can take over that boost construct.
Be aware however, that there are more issues connected to this than anticipated (see https://github.com/ethereum/solidity/pull/7467 trying to implement ``boost::option`` and the earlier issues with ``std::filesystem``), and that this i

[2019-10-01 13:54] ekpyron opened #7494 "Update Z3 to 4.8.6"
Z3 recently released 4.8.6 - we should update the static Z3 PPA build and might be able to use stronger tests or remove workarounds that way (@leonardoalt ?).
To discuss: do we want to just require the most recent Z3 release to guarantee all tests to pass?

[2019-10-01 14:40] chriseth opened #7495 "[Yul] Represent numbers that look like ascii strings as ascii strings"
Could be done as a prettifying step in the optimizer or in the printer, or both.

The printer should not just change the kind of literal.

[2019-10-01 15:14] #7448 closed, assigned to nobody

[2019-10-01 15:26] ekpyron opened #7498 "Type checker: do not use ``validForCalldata`` for memory arrays or rename it."
Came up in https://github.com/ethereum/solidity/pull/7496.
The fix in https://github.com/ethereum/solidity/pull/7496 allows to use ``isDynamicallyEncoded`` for types without interface types (i.e. recursive structs), which is somewhat counter-intuitive.
The reason why that's necessary is that the type checker uses ``validForCalldata`` for memory arrays. We should investigate which part of ``validFo

[2019-10-01 15:36] ekpyron commented on #7498
Potential simple solution: rename ``validForCalldata`` to something like ``hasSufficientlySmallStaticSize`` (name to be improved upon ;-)) and use ``unlimitedStaticSize`` (to be implemented) which uses ``memoryStride`` instead of ``calldataStride`` for memory arrays.

[2019-10-01 15:38] ekpyron commented on #7498
Once this is done: investigate whether we can remove ``if (recursive()) return true;`` from ``StructType::isDynamicallyEncoded`` again.

[2019-10-01 16:17] bshastry opened #7499 "[solc] Non reproducible Segfault while computing swarm hash"
## Description

[code]

crashes here https://github.com/ethereum/solidity/blob/8847647547450090c4ea841b71dc97b3ba4f589f/libdevcore/SwarmHash.cpp#L98

due to a memory corruption detected by libc++ implementation of malloc

Partial stack trace

[code]

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings):

## Steps to Reproduce

TBD

[2019-10-01 18:53] chriseth commented on #7498
I don't think we can, since the fact that some part anywhere inside the directed graph has a too large static size is already a problem. We particularly do not want that in storage. Thinking of it: The fix we implemented might not have fixed the underlying problem...

[2019-10-02 09:31] yudilevi commented on #7484
Awesome, thank you :)

[2019-10-02 10:34] ekpyron commented on #7498
The particular check, i.e. ``validForCalldata()`` is only used for memory and calldata, not for storage it seems (TypeChecker.cpp:L502-507)... not sure what and where we do this for storage.

That's true and why I created this issue.
But I think we should be fine, if we reimplement ``validForCalldata`` as ``validForMemory`` (or with one shared implementation) and just use the ``memory*Size`` funct

[2019-10-02 10:40] ekpyron commented on #7498
The underlying issue of the particular issue as far as I understand it is just that we use the calldata size functions to enforce an upper limit on memory size and the calldata size functions asserted interface types, which are not present in some types which are still viable for memory, in particular recursive structs...

There may be a separate issue that checking for size bounds "locally" once

[2019-10-02 11:37] chriseth opened #7505 "Nicely format strings in Yul IR generation"
When generating the Yul intermediate code of Solidity programs, strings are always translated to hex numbers. This prevents readability of IR code. Because of that, the code generator should detect if a string can be represented in printable ascii chars (for safety) and use that instead.

## How to implement:

Add a function `std::string formatAsStringOrNumber(std::string const& _value)` in `libde

[2019-10-02 11:49] chriseth commented on #7478
The rule seems to be wrong when taking overflow / underflow into account.

[2019-10-02 11:49] #7478 closed, assigned to nobody

[2019-10-02 12:01] chriseth commented on #7128
It still takes 34 seconds to spin up the circleci environment. Maybe this could be improved?
The dockerfile is at `.circleci/docker/Dockerfile`

[2019-10-02 12:02] chriseth commented on #7113
Please reopen if you can find more details about the failure.

[2019-10-02 12:02] #7113 closed, assigned to nobody

[2019-10-02 12:05] #6327 closed, assigned to nobody

[2019-10-02 13:33] chriseth commented on #7274
Discussion resulted in `address(LibraryName)`

[2019-10-02 13:35] chriseth commented on #2506
Closing since the benefit is probably not too large but the runtime overhead is.

[2019-10-02 13:35] #2506 closed, assigned to nobody

[2019-10-02 13:58] chriseth commented on #7373
Maybe also investigate whether the function `jsonPrettyPrint` in `libdevcore/JSON.cpp` or its settings could be of value.

[2019-10-02 14:02] chriseth commented on #7315
This should be implemented in `libsolidity/ast/ASTJsonConverter.cpp`, `ASTJsonConverter::visit(FunctionDefinition const& _node)`. The data to output would be the one returned by `FunctionType::externalIdentifier()` (libsolidtiy/analysis/Types.cpp). Maybe it would make sense to create a similar function in FunctionDefinition, inside AST.h.

[2019-10-02 14:18] ekpyron commented on #7235
Using ``address(LibraryName)`` in https://github.com/ethereum/solidity/issues/7274 might be another point in favour of staying with ``address(_contract)``.
Personally, I'd be fine with closing this by leaving things as they are.

[2019-10-02 14:30] #7291 closed, assigned to nobody

[2019-10-02 14:32] chriseth commented on #7235
I agree. Using `type` also does not really solve it because the address is not really a property of the type.

[2019-10-02 14:32] #7235 closed, assigned to nobody

[2019-10-02 14:39] ghallak commented on #7373
@chriseth This can either be solved by using `jsonPrettyPrint(toJson(_node))` instead of `toJson(_node)` here https://github.com/ethereum/solidity/blob/634da933fafae7486cb9db3feb10f01d258bb884/libsolidity/ast/ASTJsonConverter.cpp#L190-L193
and this will require changing the [test/cmdlineTests/recovery_ast_constructor/output](https://github.com/ethereum/solidity/blob/f88437314290cb6fc8b5ab856769ee5

[2019-10-02 14:42] chriseth commented on #7373
So the "yaml compatibility" removes the trailing whitespace? Then I would say that `jsonPrettyPrint` is the way to go, even if it uses spaces for indentation.
Note that if you run the commandline tests, it will auto-update the expectation after asking for confirmation, so manually changing `test/cmdlineTests/recovery_ast_constructor/output` is not necessary.

[2019-10-02 14:43] ekpyron commented on #7373
That's what removes the trailing whitespace:
https://github.com/ethereum/solidity/blob/f88437314290cb6fc8b5ab856769ee53852b276a/libdevcore/JSON.cpp#L97
So I'd say that's probably the way to go...

[2019-10-02 14:44] ghallak commented on #7373
@ekpyron is right, I couldn't find out what yaml compatibility is doing.

Edit: yaml cmpatibility is actually removing the space between the key and the colon, so enabling yaml compatibility will result in `"key": x` instead of `"key" : x`.

[2019-10-02 20:41] secondW4ve commented on #7505
Hi. In what namespace should it be added? In "dev" I guess? And also I dont get how to test, could you describe it more detail please?

[2019-10-02 21:50] glanderson42 commented on #7259
Hey! Can i work one of the replacement?

[2019-10-04 10:46] chriseth commented on #7505
Yes, in `dev`. How to manually test: Run `solc --ir -` and paste the code provided above. If you create a draft pul request, we can guide you through how to add everything required.

[2019-10-04 15:57] #7373 closed, assigned to nobody

[2019-10-04 18:43] brianmcmichael opened #7512 "Version build discrepancy vs. canonical list (v0.5.11 and others)"
## Description

The `solc` v0.5.11 that has been distributed widely does not appear to be the same version that is defined on the [solc-bin list.txt](https://github.com/ethereum/solc-bin/blob/gh-pages/bin/list.txt)

The snap distribution and the docker image both appear to be running `0.5.11+commit.22be8592`, while the canonical version of `0.5.11` appears to be `0.5.11+commit.c082d0b4`

The [Read

[2019-10-04 23:23] tabathap commented on #7505
👌

[2019-10-05 02:33] axic opened #7513 "Use snailtracer for optimiser tests"
@karalabe's raytracer in Solidity (https://github.com/karalabe/snailtracer) is quite heavy on gas. I have put a 0.5.x compatible version here: https://github.com/axic/snailtracer

[2019-10-05 10:58] chriseth commented on #7512
Thanks for opening this issue! You are indeed right, the solc-js version seems to be behind by one commit. This commit is only a change in the build scripts, but we should still point solc-js at the proper tag.

Note that source verification has to fail anyway if you are not using exactly the same compiler because the metadata includes the commit and platform of the compiler and thus the metadata

[2019-10-07 02:17] ekpyron opened #7514 "Build soljson.js with rule list/browser stack height fix for old compiler versions."
It would be good to apply the rule list split to past compiler versions to be able to verify bytecode generated by old compiler versions in the browser. We considered doing that before, when remix asked for it (see https://github.com/ethereum/remix-ide/issues/1591), but only did one 0.4 release instead, but apparently there's more demand for this.

Unfortunately this will involve some manual effor

[2019-10-07 06:05] bshastry opened #7515 "[abiv2] proto fuzzer: Add support for generating structs"

[2019-10-07 07:45] bshastry opened #7518 "[solc] smt checker repeats warning for unsupported bitwise negation `~` operator"
## Description

Not sure if this is specific to the smt checker. Code like this

[code]

Creates an smt warning per bitwise negation operator `~` (there are 15 of them) times number of modifier execution. In this case, at least 13*15 (=195) times.

Eventually, the checker bails out on reaching 256 warnings (I'm not sure how it reasons about the value of m(x) and m(s) and how it reaches 256 warning

[2019-10-07 10:24] ekpyron opened #7520 "Replace rule list with "DSL""
TBD

We can probably just use a triplet of Yul expressions, resp. expression patterns:
- precondition: evaluates to non-zero, if the rule can be applied
- match: pattern expression for matching the rule
- replacement: pattern expression to replace the matched code snippet

The match expression can use symbolic pattern variables for matching variables and constants and (at a later stage when extend

[2019-10-07 11:37] ameyanator commented on #7259
I'm sorry I got caught up with my school exams. I'm free now, I'll look into the issue you have mentioned @ekpyron and then I'll start to work on it.

[2019-10-07 13:31] ameyanator commented on #7259
I'm starting to work on implementing ```boost::variant``` to ```std::variant```.

If I face any issues I'll mention them over here.

[2019-10-07 15:51] brianmcmichael commented on #7512
FWIW, only the binary output needs to match to do source verification, since the service regenerates the artifacts on the other end from the source and compares the bin with the contract code on-chain. In this case, I was able to verify a contract compiled with `0.5.11+commit.22be8592` using solc.js `0.5.11+commit.c082d0b4`, probably because of the difference only being in the build scripts, but i

[2019-10-07 18:21] ewingrj opened #7521 "ABIEncoderV2: generated ABI for storage getter is missing string[] variable"
## Description

The abi generated for the following contract is missing the `values` array for the `records` function:

[code]

ABI:

[code]

I would expect the `getRecord` and `records` abi definitions to be the same.

## Environment

- Compiler version: 0.5.12
- Target EVM version (as per compiler settings): compiler default
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execution environm

[2019-10-07 19:33] secondW4ve commented on #7505
@chriseth Hi, I have created draft pull reques, please help me handle this if you have time.

[2019-10-07 20:42] glanderson42 commented on #7259
I'm starting to work on ```boost::filesystem``` to ```std::filesystem```.

[2019-10-07 20:51] gsalzer opened #7523 "4-byte-selector of function with struct argument differs between contract and library"
## Description

Given a function with an argument of type struct, its four byte function selector is computed differently depending on whether the function appears in a contract or a library, where the selector in the library is the unexpected one.

Expected behaviour: the four byte function selector should depend only on function name and argument types, but not on the context.

## Environment

-

[2019-10-07 22:45] bshastry opened #7525 "ABIEncoderv2 proto fuzzer: Test encoding to and copying from and decoding from returndata"
## Abstract

Once #7516 is merged, function parameter en/decoding will have been sufficiently tested. Function return en/decoding is not fuzzed at all. This issue tracks support for the latter

## Motivation

TBD

See https://gist.github.com/chriseth/2c4724e56f4faba5a7903cbdc3d02bd8#file-abicoderfuzzerexample-sol-L20-L36

## Specification

TBD

[2019-10-08 00:54] ekpyron commented on #7259
@glanderson42 note that, as mentioned above, we might have to stay with ``boost::filesystem`` for now, since there is only limited support for ``std::filesystem`` on MacOS. If you have can test on Mac and make sure it works well there, great, otherwise we need to postpone this part for now.

[2019-10-08 00:56] ekpyron commented on #7259
@glanderson42 see https://github.com/ethereum/solidity/pull/7263#discussion_r314240318

[2019-10-08 05:14] jamesthesken commented on #7505
Is this on the `develop` branch?

[2019-10-08 07:07] secondW4ve commented on #7505
Yes

[2019-10-08 16:44] glanderson42 commented on #7259
@ekpyron Thank you! Unfortunately I don't have physical Apple computer for testing. :(
Otherwise, I'm going to work on ```boost::optional``` replacement.

[2019-10-09 09:48] gsalzer commented on #7523
Someone on ethereum.stackexchange pointed out that `0xe2a2daa1` are the first four bytes of the hash of `F(L.S)`. So it's probably not a bug but a feature. Is there any documentation (other than the source code of the compiler) explaining under which circumstances a type is normalized and when user-defined types are retained?

[2019-10-09 18:07] corydickson commented on #1141
Any updates on multiple return values? Leaning towards implementing an approach where `@return` functions just like `@param` as per @chriseth suggestion. The field would be of the type (string|object)? depending on the number of identifiers after the first `@return`, where the ith item in the object has the description for the ith return value in the tuple.

Is there any more pushback for supporti

[2019-10-09 19:42] gsalzer commented on #7523
Seems to be the same issue as #6420 .
It would still be nice if this was documented somewhere.

[2019-10-09 20:27] gsalzer opened #7527 "Entry points (functions) missing in ABI of libraries for Solidity > 0.5.5"
## Description

The ABI generated by `solc --abi` misses entry points (functions). This phenomenon seems to start with Solidity 0.5.6

## Environment

- Compiler version: 0.5.6 - 0.5.12
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): command line and Remix
- EVM execution environment / backend / blockchain client:
- Operating system: Linux

## Step

[2019-10-09 22:19] ghallak commented on #7198
The `\0` chars are showing because when the test fails, `formatBytesRange` is called with the result of `ContractABIUtils::failureParameters(_bytes)` here https://github.com/ethereum/solidity/blob/6cbcc3796c9aad55da605125667fb6e4a6c41751/test/libsolidity/util/TestFunctionCall.cpp#L199-L208

And failure parameters don't specify the size of the `ABIType` for the string parameter, so it's set to `32`

[2019-10-10 04:01] olegabr commented on #1013
my 2 cents:

[code]

Because of the stack size limit I can not do something like this:

[code]

Is not it the perfect usecase for alias/macro/using? I would be happy for any construct that would help me get rid of such ugly code without stack limit problem downside.

[2019-10-10 15:07] hu55a1n1 opened #7529 "brew install solidity@4 fails with Error 2 (has no symbols)"
## Description
Homebrew installation for old version of solidity fails.

## Environment
- Compiler version: v0.4.26
- Operating system: macOS Mojave(10.14.6)

## Steps to Reproduce
[code]

## Verbose Output
[code]

[2019-10-10 16:01] djudjuu commented on #2419
just to be sure i got this correctly: inlineAssembly is a subset of yul. (Or at least it is parsed by the yul::Parser).

So in broad strokes my idea to approach this would be:
- 1) define helper functions(or a class?) ```Json::Value AsmConverter::toJson(yul::Literal/Identifier/...)```
- 2) in ASTJsonConverter::visit(InlineAssembly): do
```["operations"] = AsmJsonConverter::toJson( _node.operations

[2019-10-10 17:52] hellraiserinchief commented on #7194
Hi, as my first contribution I would like to add this to the documentation. Should I add it below the paragraph where Remix IDE is mentioned. If not then can you point me to where I should add this.

[2019-10-10 18:10] gsalzer opened #7530 "ABI does not contain sufficient information to compute the correct function selector"
## Description

The ABI does not contain sufficient information to compute the correct function selector for accessing the contract. More specifically, a `library` and a `contract` with the same entry points may have different 4 byte selectors, but nothing in the ABI allows to decide whether we are dealing with a contract or a libary.

A similar issue is raised in #7102, but there the conclusion i

[2019-10-11 01:43] ekpyron commented on #2419
It probably makes sense to coordinate this with https://github.com/ethereum/solidity/pull/7386 (which will change the dialect for inline assembly to "proper yul")

[2019-10-13 04:28] aditya-skeps opened #7535 "Returning 2 dimensional array with 1 dimension fixed length gives Nested memory array exception"
Posting my question here since I did not get any response on [stackoverflow](https://stackoverflow.com/q/58350728/11055400) so far.

Q1 -->

Please tell me why this works:

[code]
and this does not (without adding the pragma experimental line)

[code]
Gives following error:

Dynamic exception type: boost::exception_detail::clone_impl<langutil::UnimplementedFeatureError>
std::exception::what: Neste

[2019-10-13 15:31] ytrezq opened #7536 "Function selector is truncated to the last complete byte if datasize in bits isn’t dividable by 8 (the size of a byte)."
Last condition is number of bytes is above 4.
Example :

    0x10d0ffdd0000000000000000000000000000000000000000000e8ef1e96ae38
becomes :

    0x10d0ffd

And when looking at the function selector, it checks against `0x10d0ffda` whereas the last 4 bits of the function selector inside `ᴄᴀʟʟᴅᴀᴛᴀ` are truncated which makes it doesn’t finds any functions matching this selector which makes the payable fu

[2019-10-13 20:25] HenryNguyen5 commented on #7521
This was solved in: https://github.com/ethereum/solidity/issues/4244

[2019-10-13 22:22] kcy1019 commented on #7128
@chriseth Can you assign this to me? I'm willing to work on this :)

[2019-10-13 22:27] kcy1019 commented on #6971
@chriseth I have created a pull request solving this issue. However, the Windows build CI is failing due to missing `boost::regex` library file. Can you shed some light on where can I remove the library from link targets for the Windows build?

[2019-10-14 12:55] djudjuu commented on #2419
## Problem:

I need to process a *yul::Block*, which is a vector of *Statement*., which is a boost::variant() for manyt hings(yul::Expression, yul::Instruction, yul::Label,....>

So as i understand I can deduce the type of the statement using boost.variant's ```.which```,
but I still don't know how to access the values within that struct.

E.g. if I know that a statement is of type *Instruction*,

[2019-10-14 14:38] christianparpart commented on #7520
@ekpyron can you give some example? (or in other words: when can we talk face-to-face about it?) I'm interested in taking this one, but I'd need some more (precise) input of what you have in mind. :)

[2019-10-14 16:56] ekpyron commented on #7520
This issue was mainly meant as a reminder to discuss this further - the idea came up with @chriseth at devcon, but I think this might need some more careful and future-proof planning before we actually start with it.

[2019-10-14 21:00] erak commented on #7198
@ghallak Thanks for your investigation. Since this issue does not only pops up in case of a failure (`revert` and such), but for any strings in general, either adjusting `ByteslUtils::formatString()` itself, or as you suggested, finding the size of padded zeros before and then passing the cut-off would be sufficient. I think the latter is the better option.

Do you want to work on this?

[2019-10-15 08:34] alexanderatallah commented on #3881
I'd like to reopen this issue. It seems to impair composability for smart contracts quite a bit!

Many developers are writing contracts with `external` methods that correctly aren't called internally, but they're completely unaware that ancestor methods can't call `super.methodName()` as a result. There's nothing in the docs or compiler about why.

For example, I can't write a non-fungible token c

[2019-10-15 09:26] ghallak commented on #7198
I'll submit a PR soon.

[2019-10-15 12:03] chriseth commented on #7536
Thanks for your bug report! Could you please provide the source code of a contract that has this behaviour and the compiler version and settings used (if that makes a difference)? I am assuming that you mean that the dispatch routine generated by the compiler does not work properly if specific calldata is sent to the smart contract. Is that correct?

[2019-10-15 12:06] chriseth commented on #7128
Thanks, please go ahead!

[2019-10-15 14:03] chriseth commented on #7530
This is a bug in the compiler, the function should not be part of the library's ABI, because its hash is computed differently. Usually, library functions are not supposed to be called directly (i.e. not from a contract), but since people are doing it, we allowed it for some functions.

[2019-10-15 14:11] chriseth commented on #2419
The question is resolved, right? You just use `boost::apply_visitor`.

[2019-10-15 14:12] #7521 closed, assigned to nobody

[2019-10-15 14:22] chriseth commented on #7194
Great! Please add it here: https://solidity.readthedocs.io/en/v0.5.12/resources.html#solidity-tools

[2019-10-15 14:24] chriseth commented on #7518
I think this behaviour is fine. Does it limit the fuzzer?

[2019-10-15 14:27] chriseth commented on #7535
The reason is just as explained in the exception: The feature has not been implemented yet.
About the risk: It is _probably_ fine to use it if you use the latest version of the compiler.

[2019-10-15 14:27] #7535 closed, assigned to nobody

[2019-10-15 14:30] aditya-skeps commented on #7535
Ok thanks!

[2019-10-15 16:34] djudjuu commented on #2419
Yes. I am confident, that this will solve it.

On Tue, Oct 15, 2019, 16:12 chriseth <notifications@github.com> wrote:

[2019-10-15 21:31] haltman-at commented on #7523
Not one of the developers, but I happen to know the answer to this question -- it happens precisely for user-defined types (structs, enums, contract types).  Everything else works the same as in the usual ABI.

[2019-10-15 22:03] ytrezq commented on #7536
@chriseth : unfortunately, no because this is [vendor hidden](https://etherscan.io/address/0x61edcdf5bb737adffe5043706e7c5bb1f1a56eea#code). I mean it did happen while reverse‑engineering the contract.

I can confirm it exhibits the ᴇᴄrecoverMalformedInput solidity compiler bug, so it shouldn’t be about a recent version.
As a standalone person, I doubt Gemini would accept handing over their source

[2019-10-16 00:55] kcy1019 commented on #6971
@chriseth I've made a patch for this issue which passes all the existing tests. Could you review the PR(#7533) when you are free? :)

[2019-10-16 02:54] leonardoalt opened #7540 "[SMTChecker] Remove redundant constraints in CHC"
Currently there are redundant constraints in the function blocks before assertions:
[code]
can be simplified to
[code]

The same happens with constructors, since they connect to both summary and interface blocks.

[2019-10-16 06:21] hellraiserinchief commented on #7194
Submitting the PR #7541
Kindly review

[2019-10-16 07:11] chriseth commented on #6420
Adding it to the scope of 0.6.0 since this has come up a lot lately.

[2019-10-16 07:12] chriseth commented on #7523
Closing as duplicate of https://github.com/ethereum/solidity/issues/6420

[2019-10-16 07:12] #7523 closed, assigned to nobody

[2019-10-16 07:16] chriseth commented on #7536
I could not find the selector you mentioned in the bytecode of the linked contract. The dispatch routine seems to always compare against a 4 byte value and also the `PUSH1 0xe0
PUSH1 0x02
EXP
PUSH1 0x00
CALLDATALOAD
DIV` part seems correct.

[2019-10-16 12:17] chriseth commented on #1013
I do not fully understand - why would you want to have another local variable like `currency` if you can use `s.currency`?

[2019-10-16 12:18] chriseth commented on #7527
It is not possible to call non-view functions of libraries directly - such calls will revert. This is disallowed because it would lead to bugs like one of the parity wallet bugs.

[2019-10-16 12:18] #7527 closed, assigned to nobody

[2019-10-16 12:25] chriseth opened #7542 "[Yul] EVMVersion-dependent rules"
For selfbalance, it would make sense to add a rule `balance(address()) -> selfbalance()`, but that can only be done if we are running against a post-Istanbul VM. So for implementing this, we need the VM version available when we check for a match - so maybe this can be done inside the precondition function for the rule.

[2019-10-16 13:38] chriseth opened #7544 "[BLOCKER] Upgrade EVMOne to support Istanbul"
Before this upgrade, we cannot release 0.5.13 because selfbalance would be untested.

[2019-10-16 13:55] #7198 closed, assigned to nobody

[2019-10-16 15:10] erak commented on #7529
@ChrisChinchilla Could you try to reproduce this, please? Thanks!

[2019-10-16 19:02] dddejan commented on #7410
If you manage to push the map to the array, popping it will cause another internal compiler error.

In general, supporting mappings within reference types seems to raise many issues and unexpected results. It would seem more consistent to just disallow it except as a top-level storage member, with no assignment and no delete.

[2019-10-16 19:48] ytrezq commented on #7536
@chriseth : oh sorry. Wrong contract. [Indeed](https://etherscan.io/address/0xb3775fb83f7d12a36e0475abdd1fca35c091efbe#code).

[2019-10-17 08:48] chamitro opened #7546 "2 Bugs report in SOLC Compiler found with fuzzing with AFL"
In the contract below :

[code]

I found this bug report :

Internal compiler error during compilation:
/build/solc/parts/solidity/src/libsolidity/ast/Types.cpp(1852): Throw in function virtual dev::u256 dev::solidity::ArrayType::memoryDataSize() const
Dynamic exception type: boost::exception_detail::clone_impl<langutil::InternalCompilerError>
std::exception::what: Array size does not fit u256.
[d

[2019-10-17 09:24] chriseth commented on #7536
In that contract, I can only see a check against `0x10d0ffdd`. Can you please describe the bug in more detail? Which component do you think is affected and how did you encounter the bug? I currently cannot imagine how four bits could be truncated during execution.

[2019-10-17 10:18] chriseth commented on #6971
Implemented in #7533

[2019-10-17 10:18] #6971 closed, assigned to nobody

[2019-10-17 12:00] leonardoalt commented on #7410
@dddejan the ICE when popping should have been fixed by https://github.com/ethereum/solidity/pull/7431 (https://github.com/ethereum/solidity/issues/7378) and released in 0.5.12. Do you still see that behavior?

[2019-10-17 12:02] ChrisChinchilla commented on #7529
@erak I can reproduce, will investigate, though I am now running 10.15, which brings other worlds of pain.

[2019-10-17 14:24] dddejan commented on #7410
@leonardoalt Yes, it seem like no ICE i 0.5.12. I'm still not a big fan. The semantics are bizarre and will eventually get someone in trouble. Like example below (using resize instead for push).

[code]

[2019-10-17 15:01] gsalzer commented on #7530
My impression was that `external`/`public` functions of libraries should be callable by  contracts via `delegatecall`. Moreover, shouldn't libraries be usable from contracts that have been compiled by other tools than Solidity (e.g., by contracts in other languages)? In this case the ABI should contain all external functions, sufficient information for computing the correct selector, and informati

[2019-10-17 15:16] chriseth commented on #7530
Indeed, but libraries are considered to be solidity-internal. They have always used features that were not part of the generic ABI (storage pointers, for instance).

Having said that, I think there is also another issue planned for 0.6.0 that should solve this problem.

[2019-10-17 22:05] ytrezq commented on #7536
@chriseth : oh yes. Sorry. that’s not the input I used. I edited the original comment.

[2019-10-17 23:36] haltman-at commented on #6420
Some notes on this, since I've been thinking about this lately: (some of these should possibly be separate issues but oh well)

1. Of course, there are `pure` and `view` functions that are excluded from the ABI, namely, those that take or return storage pointers.  I notice that at the moment, despite being excluded from the ABI, these functions still lack the `DELEGATECALL` guard.  Maybe they shou

[2019-10-18 06:41] leonardoalt commented on #7410
I agree that this is dangerous. The tests added in https://github.com/ethereum/solidity/pull/7431/files make this behavior explicit.
For now we added some security considerations in the documentation (https://solidity.readthedocs.io/en/v0.5.12/security-considerations.html#clearing-mappings) explaining this, and we're considering disallowing it.

[2019-10-18 09:58] erak commented on #7529
Great. thanks!

[2019-10-18 10:33] erak opened #7549 "ICE on array index with ABIEncoderV2"
## Description

Initally reported by @CHM1993.

The contract below :

[code]
reports an internal compiler error:

[code]

## Environment

- Compiler version: 0.5.11+
- Target EVM version (as per compiler settings): 0.5.11+commit.22be8592.Linux.g++
- Framework/IDE (e.g. Truffle or Remix): Remix (i found it from command line, while fuzzing the solc compiler)
- EVM execution environment / backend / b

[2019-10-18 10:36] erak opened #7550 "ICE on missing modifier identifier"
## Description

Initially reported by @CHM1993.

The contract below:

[code]
reports an internal compiler error:
[code]

## Environment

- Compiler version: 0.5.11+
- Target EVM version (as per compiler settings): 0.5.11+commit.22be8592.Linux.g++
- Framework/IDE (e.g. Truffle or Remix): Remix (i found it from command line, while fuzzing the solc compiler)
- EVM execution environment / backend / bl

[2019-10-18 10:38] erak commented on #7546
@CHM1993 Thanks for the report! I'm closing this now in favor of two separate issues: https://github.com/ethereum/solidity/issues/7549 and https://github.com/ethereum/solidity/issues/7550.

[2019-10-18 10:38] #7546 closed, assigned to nobody

[2019-10-18 10:44] erak commented on #7530
I think this is related to https://github.com/ethereum/solidity/issues/6420.

[2019-10-18 11:03] erak commented on #7410
I'd also tend to re-think this behavior. Assigning to `length` will be disallowed with https://github.com/ethereum/solidity/pull/7350 already.

[2019-10-18 11:38] ChrisChinchilla commented on #7529
So @hu55a1n1  I was able to et this working eventually, even with 10.15

It actually seems that recently (counter to what we currently suggest in docs) that it's better to not use the XCode headers etc, but the Command line ones, so can you try:

[code]

And try again, and let me know what happens.

Running

[code]

For complete verbosity might also be useful for me to help debug.

[2019-10-18 12:20] lowesyang opened #7553 "What are the possible reasons for `UnimplementedFeatureError: Only byte arrays can be encoded from calldata currently.`"
## Description

I got this error when compile a complex solidity contract with solc ^0.4.24, but cannot get which line causes this error.

`UnimplementedFeatureError: Only byte arrays can be encoded from calldata currently.`

What are the possible reasons for the error above?

[2019-10-18 13:41] chamitro commented on #7546
You are welcome :)
I hope this was useful. But is this a compiler issue ?

On Fri, Oct 18, 2019 at 1:38 PM Erik K <notifications@github.com> wrote:

[2019-10-18 14:56] hu55a1n1 commented on #7529
So, I tried again and the installation still seems to fail with the same error. Here's the verbose output -

[code]

[2019-10-21 08:41] bshastry commented on #7518
@chriseth okay. I think it is fine then. I will close this issue.

[2019-10-21 08:41] #7518 closed, assigned to nobody

[2019-10-21 09:11] Marenz commented on #7546
And Internal Compiler Error is always a compiler issue :)

[2019-10-21 12:47] chamitro commented on #7546
So there is a problem in the compiler that is "triggered" by the contracts
that were mentioned, and not a problem in the contracts?

On Mon, Oct 21, 2019 at 12:12 PM Mathias L. Baumann <
notifications@github.com> wrote:

[2019-10-21 12:51] Marenz commented on #7546
Well, one doesn't exclude the other. There can be invalid code that we don't properly check in the compiler and thus triggers an internal sanity check. The solution is then to add more checks and output a proper, helpful error message. I think both the code examples in this issue are like that.

The first one creates a way to big array for the index data type, we should catch something like that i

[2019-10-21 13:43] Marenz commented on #7544
ref https://github.com/ethereum/solidity/pull/7543

[2019-10-21 13:53] chamitro commented on #7546
Thank you for the details.

On Mon, Oct 21, 2019 at 3:52 PM Mathias L. Baumann <notifications@github.com>
wrote:

[2019-10-21 16:35] chatch opened #7558 "InternalCompilerError: I sense a disturbance in the stack: 4 vs 5"
## Description

Attempting to compile a contract (https://gist.github.com/chatch/8a7087eb5b55b9b994d52c68d47cb54c) I get "InternalCompilerError: I sense a disturbance in the stack: 4 vs 5".

The contract is the Chainlink LinkToken.sol with changes to make it work with Solidity >= 0.5.0.

Remix Link: https://remix.ethereum.org/#gist=8a7087eb5b55b9b994d52c68d47cb54c&optimize=false&version=soljson-v0

[2019-10-22 05:51] chatch commented on #7558
I discovered a single line in the contract causing the error: https://gist.github.com/chatch/8a7087eb5b55b9b994d52c68d47cb54c#file-linktoken-sol-L66

If I change this to "linkERC20Basic(this).transfer(_to, _value);" as I have here: https://github.com/chatch/LinkTokenv0.5/commit/2eb88a5774cab74d94323e7abd7cc5d55f7289ba then the code compiles fine.

[2019-10-22 09:43] ChrisChinchilla commented on #7529
@hu55a1n1 So, the main thing I can see here is the cmake warnings, which I don't see when I try.

The Solidity version 4 formula specifies boost version 1.6, but I can see your system using 1.71. How did you install boost?

[2019-10-22 17:00] chriseth commented on #7489
We are currently working on generating more debugging data together with the truffle team. The location of variables in storage has been stable for many years now and is documented here: https://solidity.readthedocs.io/en/v0.5.12/miscellaneous.html#layout-of-state-variables-in-storage

[2019-10-22 17:00] #7489 closed, assigned to nobody

[2019-10-23 08:39] chriseth commented on #6531
The full inliner has to be modified when this is implemented - it has to re-add the mechanism we currently use to exit functions.

[2019-10-23 08:48] #7488 closed, assigned to Marenz

[2019-10-23 09:15] chriseth commented on #6531
Most optimizer stages need no modification, but we need to be careful about things like RedundantAssignEliminator, because the return values have to be preserved.

[2019-10-23 09:20] chriseth commented on #6531
TerminationFinder has to be adapted.

[2019-10-23 15:19] #7549 closed, assigned to Marenz

[2019-10-23 15:25] leonardoalt commented on #6927
@chriseth Can this be closed?

[2019-10-23 20:35] erak opened #7565 "[docs] Improve public getter functions for arrays"
## Abstract

Auto-generated, public getters for arrays and their cost mechanisms should be explained in more detail.

## Motivation

Came up in external PR https://github.com/ethereum/solidity/pull/7456.

## Specification

https://solidity.readthedocs.io/en/v0.5.12/contracts.html#getter-functions contains a paragraph on array types, which needs more explanation, especially on the difference in gas

[2019-10-23 20:40] erak commented on #7565
@ChrisChinchilla Could you have a look? I think this could be a good improvement.

[2019-10-23 21:31] chriseth commented on #6927
Implemented in https://github.com/ethereum/solidity/pull/7328

[2019-10-23 21:31] #6927 closed, assigned to chriseth

[2019-10-24 08:32] chriseth opened #7566 "Move all context-dependent code from TypeChecker to a new class"
Type checker should do type checking and type checking is a local task. Its purpose is not to perform checks whether certain elements of the code are allowed at certain locations. All member variables that represent the current location in the code should be removed from the type checker and the checks that use that information should be either moved to the SyntaxChecker or to a new class that is

[2019-10-24 08:32] #7550 closed, assigned to Marenz

[2019-10-24 09:50] Marenz opened #7567 "Hexdigit upper/lower case mismatch on some systems"
According to @aarlt some tests fail on macOS like this:

[code]

On the latest arch linux I actually have the same problem, so I suspect it's a problem with a new version of a dependency.

[2019-10-24 10:17] chriseth commented on #7468
Related: #7567

[2019-10-24 13:50] jazalewski1 commented on #7505
Hi, is anyone working on this? I am looking for my first PR.

[2019-10-24 13:56] hu55a1n1 commented on #7529
I installed boost with homebrew separately before for some development work. I'll repeat the installation after I uninstall boost and check if it works. Thanks!

[2019-10-24 14:33] erak commented on #7505
Hey @jazalewski1, @secondW4ve is working on this already and their PR is in progress https://github.com/ethereum/solidity/pull/7522. Is Yul of special interest to you? We might have other tasks that could be nice to get started.

[2019-10-24 15:24] erak commented on #7553
@yyh1102 I assume you're calling `abi.encode(array)` where `array` is not of type `bytes`? I can't tell with confidence without having seen the code. In 0.4.24 the error appears because other types than `bytes` indeed can't be encoded from `calldata`. This was only added with 0.5.8. Would you be able to update your contracts, such that they compile with a newer version?

[2019-10-24 16:23] chriseth commented on #6531
The full inliner probably just should not inline functions that contain the `leave` statement. They tend to be rather large anyway and then should be optimized in isolation.

[2019-10-25 00:16] HenryRLee commented on #4575
If I do `assembly { what := 2 }`, the actual error is "Variable not found or variable not lvalue."

Should we use the same error for `assembly { super := 2 }`?

[2019-10-25 01:22] haltman-at opened #7569 "ICE from emitting event with indexed parameter of function type"
## Description

Attempting to emit an event that has an indexed parameter of function type causes an internal compiler error (of the "I sense a disturbance in the stack" sort).

This error does not occur if the parameter is not indexed, or if the event is never emitted.

## Environment

- Compiler version: 0.5.12
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffl

[2019-10-25 04:16] tharinduvindula opened #7571 "local variable in solidity"
## Abstract

can you increase stack size for local variables
![Capture3](https://user-images.githubusercontent.com/43117293/67542800-22619700-f70c-11e9-9ed1-472389f16525.JPG)

## Motivation

## Specification

## Backwards Compatibility

[2019-10-25 04:44] HenryRLee commented on #5081
Can I take this one if no one is working on it?

[2019-10-25 10:49] erak commented on #7569
@haltman-at Thanks for the report. This should not happen.

[2019-10-25 10:53] erak commented on #5081
@HenryRLee Sure. This one is up for grabs. Please assign yourself then.

[2019-10-25 10:56] HenryRLee commented on #5081
Thanks, @erak. I'll start working on it. But I don't think I have the privilege to self-assign.

[2019-10-25 11:16] erak commented on #7571
@tharinduvindula The number of accessible stack elements is a property of the EVM and can't be changed by the compiler. There is a draft EIP that targets this issue though: https://github.com/ethereum/EIPs/blob/master/EIPS/eip-663.md.

Please consider e.g. decreasing the number of parameters and / or return parameters of your function. Most of the times you can work around this limitation by simpl

[2019-10-25 11:16] #7571 closed, assigned to nobody

[2019-10-25 11:19] erak commented on #5081
Great! I've assigned this issue to you now. Thanks.

[2019-10-26 18:27] aarlt commented on #6900
Ah nice, I just found this issue. @ekpyron I had the same impression and I think it would be nice to replace `jsoncpp`. Around a year ago I created a branch to replace `jsoncpp` but somehow I never created a PR (https://github.com/aarlt/solidity/tree/nlohmann-json). I don't remember exactly what the state was, but if you would like to replace `jsoncpp` with `nlohmann/json`, I could support you.

[2019-10-26 20:42] nlohmann commented on #6900
As I wrote earlier, just let me know if you need assistance!

[2019-10-27 01:43] lowesyang commented on #7553
@erak Yeah i've check all things you mention. Sometimes i remove codes that are nothing with the problems(nothing about `bytes` or something like that), and it works. Sometimes  i remove the interface of a contract and it throws this error. If i upgrade to 0.5.x and it works easily.

[2019-10-27 03:01] erak commented on #7553
@yyh1102 Ok, so updating works for you, right? Then I'd close this issue.

[2019-10-27 08:22] jazalewski1 commented on #7505
@erak Ah sorry, I didn't notice. I will look for other issue, thanks.

[2019-10-28 00:41] ashwinpn commented on #7569
Can I work on this?

[2019-10-28 02:01] #7553 closed, assigned to nobody

[2019-10-28 08:44] erak commented on #7569
@ashwinpn Sure, thanks. I'll assign it to you already. Please don't hesitate to reach out to us in case you've got any questions e.g. here https://gitter.im/ethereum/solidity-dev.

[2019-10-28 10:43] #4575 closed, assigned to nobody

[2019-10-28 11:31] ChrisChinchilla commented on #7169
Unfortunately this didn't happen :(

[2019-10-28 11:31] #7169 closed, assigned to nobody

[2019-10-28 11:39] #7434 closed, assigned to bshastry

[2019-10-28 11:46] chriseth opened #7576 "Add test for _offset ="
Details: https://github.com/ethereum/solidity/pull/7386/files#r322703376

[2019-10-28 11:47] chriseth opened #7577 "Check that we have a test for chainid() and selfbalance() for pre-istanbul VMs"
## Description

With https://github.com/ethereum/solidity/pull/7539, we make usage of `SELFBALANCE` which will, along with `CHAINID`, be introduced by the istanbul EVM. We need to test pre-instabul VMs once evmone was updated with https://github.com/ethereum/solidity/issues/7544.

## Specification

Additional test cases for the above instructions need to be added. See https://github.com/ethereum/s

[2019-10-28 14:24] Marenz opened #7578 "Make usage of quotes in errors consistent"
Our error messages are not consistent regarding the use of quotes, e.g. some quote the function name and contract name, others don't.

We should agree on how we want to do that and make it consistent everywhere.

@erak argues for double quotes `"` around all user defined names.
I tend to agree.

[2019-10-28 14:25] Marenz opened #7579 "Disable broken and unfixable tests in 060"
The soljs test that uses nodejs packages can't be fixed before we release 060

[2019-10-28 15:18] bshastry commented on #7544
Depends on evmc 7.0 release (see https://github.com/ethereum/solidity/issues/7310#issue-486391895)

[2019-10-28 15:28] bshastry commented on #7577
See https://github.com/ethereum/solidity/pull/7539/files#r335364632

[2019-10-28 15:49] bshastry opened #7580 "[yul] proto fuzzer: Generate leave statement"
See #7560

Essentially
  - a leave statement can only be used inside a function

[2019-10-28 16:12] erak commented on #7536
@ytrezq Looking at the contract you mentioned I can't find the signature (even less bytes) at all. Just to wrap up: your bug report says that in this contract here: https://etherscan.io/address/0xb3775fb83f7d12a36e0475abdd1fca35c091efbe#code, you'd assume a check against `0x10d0ffdd`, which is `0x10d0ffda` in your case?

[2019-10-28 16:17] erak commented on #7529
@ChrisChinchilla What was the workaround here again? Use boost <1.70?

[2019-10-29 09:27] ytrezq commented on #7536
@erak : `0x10d0ffdd` is `calculateTokensReceived(uint256 _ethereumToSpend)`. And the point is truncation isn’t up to a full byte.

I suppose all was said with that comment.

[2019-10-29 09:35] ChrisChinchilla commented on #7529
@erak There seem to be a bunch of seperate, and maybe unrelated boost issues.

If you follow the homebrew formula for Solidity 0.4.x, it installs Boost 1.6 and works, @hu55a1n1 is using their own version, which I think breaks the build.

But I have had other issues running tests on macOS builds (just installing dependencies with Homebrew), as the dependency script installs boost 1.7+. If you manua

[2019-10-29 11:37] #7567 closed, assigned to Marenz

[2019-10-29 12:21] bshastry commented on #7472
@chriseth This is blocking fuzzing. Shall we temporarily increase upper bound on maximum evaluation steps for optimized code (perhaps to 2.0) here

https://github.com/ethereum/solidity/blob/5d906cd58d43c1205580ac213fd35387a9f4ca25/test/tools/ossfuzz/yulProto_diff_ossfuzz.cpp#L121

[2019-10-29 12:57] chriseth commented on #7472
I don't remember what I meant, it is certainly incorrect the way I wrote it.

If explicitly zero-initializing variables is different than not initializing them, we should either remove that (maybe better option) or count it the same way.

But yeah, you can also make the modification for now.

[2019-10-29 16:07] birtony commented on #7578
Hey, I would be happy to improve the error messages!

[2019-10-29 16:42] Marenz commented on #7578
Glad to hear that!

We still have to decide on how exactly this should be done, which we probably will do in tomorrows meeting. Feel free to join tomorrow (Wednesday at 15 CET, a link will be posted in gitter) in our google hangout meeting if you want to talk about it.

In any case I'll update this issue with the result of the discussion!

[2019-10-29 17:18] axic commented on #597
There was also a lengthy related discussion in #4017.

[2019-10-29 18:53] bshastry commented on #7472
After experimenting a bit with the upper bound, an increase from 1.5 to 4 times the number of maximum steps for unoptimized code seems to work okay. A factor of <= 3 is not sufficient it seems.

For now, I've changed it to a factor of 4 to continue fuzzing.

[2019-10-29 22:20] birtony commented on #7578
Thank you, @Marenz!

[2019-10-30 07:35] bshastry commented on #7472
Currently, we are counting each newly introduced block as an additional "step"

https://github.com/ethereum/solidity/blob/d605f8916787cbea15726d63f36a663b24588b83/test/tools/yulInterpreter/Interpreter.cpp#L153-L160

Therefore, the "increase" in code size (if we were to use step count as a proxy for code size) is not because of the explicit initialization to zero (since we don't count statements as

[2019-10-30 08:29] bshastry opened #7585 "[RFC] modeling gas cost in yul interpreter"
## Description

The yul interpreter has no notion of gas cost because that is left to the underlying EVM implementation if I understand correctly.

However, it may be beneficial to model gas costs to flag instances where the yul optimizer increases gas consumption (one data point for consideration is #7472 )

[2019-10-30 09:55] travs opened #7586 "Compiling with errors results in a `0` exit code when in `standard-json` mode"
On `standard-json` mode, the compiler gives a `0` exit code when there is a compilation error, or if the JSON is malformatted.

I understand the docs say that output in this mode is printed to standard output, so I have two main queries:

1. whether there is a rationale for printing error messages to stdout, since this is against the usual convention (even in the normal compiler mode) of printing

[2019-10-30 10:07] chriseth commented on #7585
I would not do this at the current time, since the optimizer is not taking gas costs into account at all.
Furthermore, this is really trade-off between code size and runtime cost, where it is not always clear which route to take.

[2019-10-30 10:11] chriseth commented on #7472
This is weird, the block is the only place where we increment the step counter. Maybe it is not the right metric?

[2019-10-30 10:11] chriseth commented on #7472
I think originally, the step counter was not introduced to measure some kind of effort, but merely to avoid infinite loops.

[2019-10-30 10:16] chriseth commented on #6531
Implemented in https://github.com/ethereum/solidity/pull/7560

[2019-10-30 10:16] #6531 closed, assigned to nobody

[2019-10-30 10:29] bshastry commented on #7472
Ah yes, true. Using it to measure code size was perhaps an afterthought.

[2019-10-30 11:24] Marenz commented on #7586
Hmm the `--standard-json` switch basically makes every input/output interaction with the compiler into a json-based interaction. Usually, this is used when a third-party app is using the compiler via that json interface, I suspect that for example remix uses that mode. Such an app would want to have a consistent way to get that info, in this case stdout. If we were to output errors on errout the a

[2019-10-30 16:13] birtony commented on #7578
Hey @Marenz! Unfortunately I could not join you for the meeting today. Have you been able to reach any agreement on this issue?

[2019-10-30 21:56] SilentCaesar opened #7591 "Constants in Yul (and other Language Features)"
## Abstract

Yul has become a central part of our optimistic rollups architecture. The ability for us to work directly in memory across runtime with macro like function has been a game changer with serious gas optimization benefits.

We formally request a Yul language feature: Constants.

Currently, Yul is simplistic allowing only `let` statements. We propose the addition of constants for use acro

[2019-10-30 22:34] axic commented on #7591
Please see #5928 for a previous discussion.

[2019-10-31 03:15] chenzuoli opened #7592 "examples/safe-remote.rst error"
hi, in this project, I found there is an error in the solidity/docs/examples/safe-remote.rst  file, count from bottom to top the second row:
`buyer.transfer(value);`
should be like this:
`buyer.transfer(msg.value);`
because at the top of the file, you have already valued the `value` as `msg.value/2`.

[code]

Is it right?

[2019-10-31 08:35] bshastry commented on #7592
@chenzuoli Thanks for the report. I think you are right, with a minor modification: it should be `value * 2` and not `msg.value` since `confirmReceived` is just a purchase confirmation and not the actual purchase (i.e., msg.value for `confirmReceived` should be zero).

@ChrisChinchilla I'm tagging this as docs. If you think this is incorrect, please let me know. Also, an ack of what I said/correct

[2019-10-31 09:59] chriseth commented on #7591
It's always a pleasure to meet power-users! Maybe it is best to have a call to discuss your needs and our abilities in more details. Can you either come to https://gitter.im/ethereum/solidity-dev or send me a mail at chris@ethereum.org? Thanks!

[2019-10-31 10:35] dominicletz opened #7593 "Data Interfaces & EXTSLOAD"
## Abstract

The Solidity ABI as is (https://solidity.readthedocs.io/en/develop/abi-spec.html) does not allow creating ABI specs for storage data, instead only function calls to contracts are standardized.

When off-chain applications want to consume data from smart contracts, they have to use the existing ABI function calls defined in the corresponding contracts. This means that these off-chain c

[2019-10-31 11:27] Marenz commented on #7578
Yes. We'd like for all user defined names to be in quotes in all error messages. Sorry I didn't update sooner.

[2019-10-31 11:50] Marenz commented on #7579
It seems this was already done (the check_docs test), so I am closing this again.

[2019-10-31 11:50] #7579 closed, assigned to nobody

[2019-10-31 12:30] birtony commented on #7578
In single or in double quotes?

[2019-10-31 12:42] axic opened #7594 "Test parser fails on wrong EVMVersion syntax"
Input:

[code]

It fails with an exception because of the syntax error in EVMVersion:

[code]

[2019-10-31 14:08] bshastry commented on #7592
@chenzuoli I noticed that you closed the issue, we usually keep the issue open until it is resolved. I'm reopening it for now.

[2019-10-31 14:12] chenzuoli commented on #7592
ok, sorry I don't know that.

[2019-10-31 16:05] SilentCaesar commented on #7591
@axic the full word `constant` is fine, but I prefer `const` which is common among many languages.

@chriseth I'll send you an email. Our current code will be re-factored and most likely sit around 3000 lines of Yul when it's finished. I'd be happy to go over our needs.

I also have some thoughts around writing virtual memory structures to memory:

[code]

Example use case with an ecrecover scenar

[2019-11-01 10:31] bshastry opened #7608 "[yul] proto fuzzer: Catch exceptions earlier and report termination reason"
## Description

Currently, exceptions thrown by the yul interpreter are caught in the fuzzer harness. The problem with this is that execution traces are not initialized properly. This issue tracks support for fixing this.

[2019-11-01 11:21] bshastry commented on #7592
@chenzuoli would you like to work on a PR to fix this?

[2019-11-01 17:51] aarlt commented on #7468
Partially Fixed by #7568. Some tests still fail, because its not easy to change `jsoncpp` (see https://github.com/ethereum/solidity/pull/7568#issuecomment-547367039)
[code]

@chriseth @Marenz what about fixing this issue by using a case-insensitive compare?

[2019-11-01 21:24] SilentCaesar opened #7612 "Extensibility in Yul"
## Abstract

Yul currently has no way to produce extensible objects. We propose a simple extension to the language which would make Yul objects extensible.

## Motivation

1) Language Design: most modern languages have extensibility
2) Ecosystem: would allow for a Yul ecosystem of extensible and reusable code
3) Code Organization: extensible code is easier to read, test and organize

## Specificat

[2019-11-02 07:50] chenzuoli commented on #7592
Hi, I don't know what is PR, can you tell me something about it? or you can help me fix this problem. thanks.

[2019-11-04 08:15] bshastry commented on #7592
@chenzuoli No problem, a PR is essentially a proposal for change. I'll create a PR for this issue.

[2019-11-04 08:25] ChrisChinchilla commented on #7592
Closed by https://github.com/ethereum/solidity/pull/7613#pullrequestreview-310920680

[2019-11-04 08:25] #7592 closed, assigned to nobody

[2019-11-04 09:46] chriseth commented on #7512
@brianmcmichael etherscan does not do full source verification, it strips the metadata hash and only compares the opcodes. This is fine most of the time, but it can fool you with regards to variable names, comments and even worse: Code that uses codecopy to access the metadata hash.

My comment above is partly wrong, though, only the commit hash is part of the metadata, not the platform.

[2019-11-04 10:09] #7322 closed, assigned to nobody

[2019-11-04 11:28] bshastry commented on #7592
@chenzuoli actually, the original code is correct.

Seller and buyer "stake" 2x the value of item on sale
Once the purchase is made and delivery of item confirmed, the seller obtains `value`, and buyer loses `value`

Here's a blog post I found useful in understanding the economics of escrow: https://jacksonng.org/Safe-Remote-Purchase-1

[2019-11-04 12:27] chriseth commented on #649
Implemented in https://github.com/ethereum/solidity/pull/7358

[2019-11-04 12:27] #649 closed, assigned to nobody

[2019-11-04 12:27] chriseth commented on #3594
This has been mostly implemented by https://github.com/ethereum/solidity/pull/7358 we just need to list the functions in the error message.

[2019-11-04 12:29] #7608 closed, assigned to bshastry

[2019-11-04 13:32] chenzuoli commented on #7592
Yeah, get it, I really appreciate you.

[2019-11-04 14:34] ekpyron commented on #6900
I brought this up in our weekly call earlier and @chriseth said we should postpone this until after 0.6.0 is released.
However https://github.com/aarlt/solidity/commit/1329c25756f2b242d9af7860eda6f37a72d38dc0 is a great reference for estimating how much effort this will be - it doesn't look too bad, so I think we can do this quickly after 0.6.0.

[2019-11-04 16:04] #7515 closed, assigned to bshastry

[2019-11-04 16:37] #5629 closed, assigned to nobody

[2019-11-04 17:42] Marenz commented on #7578
Double quotes

[2019-11-04 17:58] chriseth opened #7622 "Allow access to enum values from inline assembly"

[2019-11-04 19:00] axic commented on #3525
Since we support dots in function names, how about `convert.<from>_to_<to>` instead of the `cast_<from>_to_<to>` syntax?

[2019-11-04 19:08] axic opened #7623 "Change examples in documentation to not use fixed gas costs"
At least examples for interacting with precompiles should not use hardcoded costs, but just the `gas` instruction. That is both readable and forward compatible.

[2019-11-04 21:28] bshastry commented on #7070
@chriseth I think you meant `u256`

[2019-11-04 22:27] MartyIX commented on #7569
This stole me quite a few hours of sleep. :-) Anyway, this is my understanding of the problem:

**bug.sol**

[code]

and the corresponding outuput (bug.sol.log):

[code]

[code]

What is off, can be seen when you compare the output above with a modified contract - **bug.string.sol**:

[code]

and its output:

[code]

So the difference is in `tag_5` section. Let's call the following piece of code *

[2019-11-05 00:57] ice09 commented on #7529
FWIW, I remove boost and reinstalled 1.60 with `brew install boost@1.60` and afterwards installation worked (v0.4.26).

[2019-11-05 06:12] pavithraviswanathan opened #7624 "Stack too deep error"
I am using a structure which holds more than 20 parameters When I use more than 16 parameters in my function, I am getting stack too deep error. I tried passing parameters as an array by using **pragma experimental abiencoderv2** feature which can't be used in a production environment. How to pass more than 16 parameter in a single function  in solidity?

[2019-11-05 06:27] aihuawu opened #7625 "library address and method calling"
I am wondering why I can pass in a library addres but I can't call it's method.
see below. thanks.

george wu

[code]

[2019-11-05 08:13] bshastry commented on #7580
Closed via #7607

[2019-11-05 08:13] #7580 closed, assigned to nobody

[2019-11-05 08:19] bshastry commented on #6469
Closed via #7325

[2019-11-05 08:19] #6469 closed, assigned to nobody

[2019-11-05 08:23] bshastry opened #7626 "[yul] proto fuzzer: Add variable declarations to for-init block"
## Abstract

yul proto fuzzer does not generate variable declarations inside for-init block because scope extension is not implemented in the proto converter. This issue tracks support for it.

[2019-11-05 08:43] leonardoalt commented on #7624
Hi @pavithraviswanathan ,
The number of accessible stack elements (16) is a property of the EVM and can't be changed by the compiler. There is a draft EIP that targets this issue though: https://github.com/ethereum/EIPs/blob/master/EIPS/eip-663.md.

Please consider e.g. decreasing the number of parameters and / or return parameters of your function. Most of the times you can work around this limit

[2019-11-05 08:43] #7624 closed, assigned to nobody

[2019-11-05 09:32] ChrisChinchilla commented on #7529
Thanks @ice09 I think we have a mixture of related issues with boost and builds (maybe only macOS). As the 0.4.x formula specifies 1.6, I think this issue is resolved, but we need to figure out other issues.

[2019-11-05 09:32] #7529 closed, assigned to ChrisChinchilla

[2019-11-05 10:16] #7422 closed, assigned to leonardoalt

[2019-11-05 10:47] ekpyron commented on #6252
Also worth to consider: for a function we could collect all call sites, combine the constraints on the used arguments and optimize the function with those constraints on its arguments.

[2019-11-05 11:45] varasev opened #7627 "`Compiled contract not found` error when not requesting output for inherited contract in Standard JSON"
## Description

We have a [repository](https://github.com/poanetwork/posdao-contracts/tree/solc-bug) containing smart contracts and unit tests for them. When we compile the contracts with `truffle` and `solc` v0.5.11 or v0.5.12 (see [truffle's config](https://github.com/poanetwork/posdao-contracts/blob/solc-bug/truffle-config.js#L119-L128)), the `build` directory is created in repo's root director

[2019-11-05 12:32] ekpyron commented on #3198
Done in https://github.com/ethereum/solidity/pull/7385

[2019-11-05 12:32] #3198 closed, assigned to ekpyron

[2019-11-05 12:58] chriseth commented on #3525
`<from>.to.<to>`?

[2019-11-05 13:13] chriseth opened #7628 "develop is not properly merged into develop_060"
The changelog for 0.5.13 is empty - this might only be the tip of the iceberg.

[2019-11-05 14:08] axic commented on #7494
4.8.6 has issues with some tests.

[2019-11-05 14:09] chriseth commented on #7194
Implemented in https://github.com/ethereum/solidity/pull/7590

[2019-11-05 14:09] #7194 closed, assigned to nobody

[2019-11-05 14:09] axic commented on #7514
Do you mean to rebuild exact old releases or just to make a new release in the 0.3 and 0.4 branches?

[2019-11-05 14:09] #6941 closed, assigned to nobody

[2019-11-05 14:10] axic commented on #7460
Update how exactly? :wink:

[2019-11-05 14:48] chriseth commented on #7625
It should not be possible to declare such variables.

[2019-11-05 15:03] leonardoalt commented on #1042
I also don't see the real need since the exception should not happen and it shows the line and file anyway.
@chriseth @axic can we close this?

[2019-11-05 15:04] leonardoalt commented on #5166
What's missing for this?

[2019-11-05 15:05] leonardoalt commented on #7494
Yes, it looks like some new code is behaving worse.
Me and @ekpyron thought about updating the tests to the worse version anyway, to keep it always compatible with the latest z3. The issues happen to complex array tests.

[2019-11-05 15:10] leonardoalt commented on #5303
Are we still doing this?

[2019-11-05 15:11] leonardoalt commented on #5284
Are we still doing this?

[2019-11-05 15:12] leonardoalt commented on #5254
Are we still doing this? Should it go to the Backlog?

[2019-11-05 15:12] leonardoalt commented on #5252
Should this go to the Backlog?

[2019-11-05 15:14] leonardoalt commented on #5167
Should this go to the backlog?

[2019-11-05 15:15] leonardoalt commented on #5165
We have GasTests, which also consider yul and the optimizer.

[2019-11-05 15:16] leonardoalt commented on #5159
Is this still relevant?

[2019-11-05 15:16] leonardoalt commented on #4698
I think by now we are testing `--standard-json` via the command line tests. Is that enough to close this?

[2019-11-05 15:18] ekpyron commented on #7494
Should we go ahead with that? The steps are the following:
- update the cpp-build-deps static PPA build of Z3 to 4.8.6 (I can do that any time, once we definitely decide)
- create a PR that updates the test expectations
- simultanously push a docker image with Z3 4.8.6, rerun tests on that PR and merge it
- rebase everything on top of that

[2019-11-05 15:20] #1042 closed, assigned to nobody

[2019-11-05 15:54] ChrisChinchilla commented on #5166
@leonardoalt Just about to make a PR :)

[2019-11-05 15:55] ekpyron commented on #7514
The idea is to rebuild all old releases exactly as they are *except with the rule list split*, so that their emscripten build will work in newer browsers. Only one 0.3/0.4 release won't really help (and we already did one for 0.4) - we need the each exact version to get exact bytecode matches for all contracts out there.

We haven't exactly decided whether we should keep the commit hash the same o

[2019-11-05 15:56] chriseth commented on #4698
The question is if they are pushed here: https://github.com/ethereum/solidity-test-bytecode/

[2019-11-05 15:58] chriseth commented on #5159
I agree about the security assessment. We blindly execute "$CC", but we should probably add quotes.

[2019-11-05 15:58] chriseth commented on #5303
Yes!

[2019-11-05 15:58] chriseth commented on #5303
I think coverage should be much higher now that we have more commandline tests.

[2019-11-05 15:59] chriseth commented on #5254
Yes, people complain about this a lot.

[2019-11-05 16:00] chriseth commented on #5252
At least for the optimizer, but probably also for other things. Is there a good way to write performance test so that they do not depend on the load or something like that?

[2019-11-05 16:05] chriseth commented on #5159
Actually we do not need quotes there.

[2019-11-05 16:05] #5159 closed, assigned to nobody

[2019-11-05 16:06] chriseth commented on #5165
These are just for the ABI. We should extend them.

[2019-11-05 16:18] ekpyron opened #7635 "Improve error messages for unsupported calldata arrays in old code generation."
Given that we closed https://github.com/ethereum/solidity/pull/6983 and https://github.com/ethereum/solidity/pull/6881 and decided not to actually fix https://github.com/ethereum/solidity/issues/6835, we should at least provide a decent error message indicating possible workarounds for the cases that won't be implemented in old code generation.

[2019-11-05 16:20] ekpyron commented on #6835
I'm (unfortunately) closing this as "won't fix" in favour of #7635. As a workaround it should always be possible to use public functions with arguments in memory - calldata arrays will only be implemented in a feature-complete way with ABIEncoderV2.

[2019-11-05 16:20] #6835 closed, assigned to sifmelcara

[2019-11-05 16:52] axic opened #7639 "Blank issue"

[2019-11-05 17:08] #7639 closed, assigned to nobody

[2019-11-05 22:26] bshastry opened #7642 "[yul] proto fuzzer: Generalize variable references"
## Abstract

Currently, declared variables are referenced only in the scope they are declared and not in inner scopes. This issue tracks support for referencing variables in outer scope except of course those that are not visible e.g., because they cross function boundary.

[2019-11-05 23:30] axic commented on #7514
You don't need to keep the branch if you've tagged them. Tags ensure the references are kept.

[2019-11-06 03:11] ancjf opened #7644 "solidity library namespace conflicts"
I would like to use solidity as a library for aleth, but there are namespace conflicts, who can help me solve this problem?

[2019-11-06 06:36] kselva1988 opened #7645 "Solidity Voting System Known Bug Blockchain"
Recently i have refer the Voting system example in https://solidity.readthedocs.io/en/v0.4.24/solidity-by-example.html . i have some concern, if voting system is based on name and ip address there is an change to do duplicate votes . like changing the IP using VPN software and they can vote again. in case  if we are using SSN, or PAN card then third parties are might have lot information about the

[2019-11-06 09:22] bshastry commented on #7645
@kselva1988 please note that the solidity by example page is mainly meant to showcase the features of the Solidity programming language, not to propose protocols for specific use cases such as electronic voting. So, I am going to close this issue for now. Feel free to reopen it in case I misunderstood your query.

Perhaps https://github.com/ethereum/EIPs/issues is better suited for the discussion

[2019-11-06 09:22] #7645 closed, assigned to nobody

[2019-11-06 09:25] bshastry commented on #7644
@ancjf could you please tell us how we can reproduce the namespace conflict you are facing? Could you also share the solidity contract that results in namespace conflicts?

[2019-11-06 09:50] ekpyron commented on #7514
Ah nice, yeah, makes sense. So we'd mainly need a naming scheme for the tags - I'd suggest ``v0.4.x-browserfix`` (but I don't really mind the exact naming).

[2019-11-06 09:52] ekpyron commented on #7644
Well, aleth and solidity used to be part of the same code base (if I remember my history lessons correctly ;-)), so they share the same namespaces, but have diverged a lot since then. We did talk about renaming the namespaces already, but I don't think we ever arrived at a decision - @christianparpart Do I remember correctly that you suggested that?

[Relabeling as "to discuss"]

[2019-11-06 09:59] ekpyron commented on #7644
I'm voting for reorganizing our namespace schema, but we need to come up with a nice schema, of course.

[2019-11-06 10:39] ekpyron commented on #7494
In case #7464 is merged as it stands, we also need to change the MacOS test run to use the binaries from the build run, instead of rebuilding against Z3 4.8.5 and remove the path workarounds in the scripts it added.

[2019-11-06 10:58] bshastry commented on #7644
Ah, I misunderstood this issue as namespace conflicts within solidity contracts :) Now I realize this issue refers to C++ namespace conflicts between the aleth and solidity projects

[2019-11-06 11:37] axic opened #7646 "Disallow leading/trailing/consecutive dots in Yul symbols"
From https://github.com/ethereum/solidity/pull/7641#discussion_r343039367

[2019-11-06 12:02] chriseth commented on #7644
@ancjf can you tell us a bit more about your use-case? We do not make any promises regarding the "linker interface" of Solidity, but maybe we could identify an interface that would work for you.

[2019-11-06 13:57] Amxx commented on #869
I've been working a bit on a solution for pre-compile template generation. It's very far from perfect, but here is a link to the repo in case anyone sees a point to it and want to use / improve it
https://github.com/Amxx/SolStruct

[2019-11-06 14:24] ekpyron commented on #7644
Call decision: we want to go ahead with reorganizing the namespaces and @christianparpart will write up a concrete proposal for it.

[2019-11-06 17:36] #7247 closed, assigned to ChrisChinchilla

[2019-11-06 17:39] chriseth commented on #5107
In a global analysis step, the line `let v := allocate(x)` can be changed to `let v := 0x40` (the free memory pointer) if
 - `v` is not passed to any function except the builtin memory read/write functions and only as the memory object
 - `v` is not used anywhere else (not assigned to, not assigned from, etc).
 - `v` is not a return variable.
 - The function `allocate` nor any user-defined functio

[2019-11-06 17:42] chriseth commented on #5107
In a global analysis step, a function `function f(...) -> ... { ... }` can be changed to `function f(...) -> ... { let t := mload(0x40) ... mstore(0x40, t) }` if the following conditions are met:
 - all functions called from `f` meet these conditions
 - the return values of the `allocate` function called in `f`'s body are not stored in memory or storage and are not returned.

(this might be relaxe

[2019-11-06 19:18] ekpyron commented on #4735
@leonardoalt Would you be up for thinking about a better solution for this problem in general?

What do you think about this:
For every SMT test case we know the "right" answer (i.e. sat or unsat) - if we get the opposite result, we treat it as hard error - if we get an "unknown" or "timeout", then we consider it a soft error/warning only.
Then in the end soltest and isoltest will summarize that l

[2019-11-06 19:20] ekpyron commented on #4735
For our CI runs we could track the precise set of correctly and incorrectly solved problems and have the CI run fail, once that set changes...

[2019-11-06 20:08] #6399 closed, assigned to nobody

[2019-11-06 20:11] #7472 closed, assigned to nobody

[2019-11-06 20:36] #6303 closed, assigned to ChrisChinchilla

[2019-11-07 01:44] ancjf commented on #7644
Thank you for everybody prompt response. This improvement will greatly promote my work.

[2019-11-07 09:25] leonardoalt commented on #4735
@ekpyron I think keeping a list of versions/solvers would be too much overhead, don't you think?

There are two different contexts the way I see.

1) Cases that are solvable by CHC but not by BMC. These require a recent Z3. Unfortunately it did happen now that 4.8.6 solves fewer cases than 4.8.5. In any case, these are hard tests, and I wouldn't mind simply updating their expectation to the newer

[2019-11-07 11:15] ekpyron commented on #4735
@leonardoalt The list of versions/solvers would be optional - I just meant it to indicate to some user who runs the tests that some tests failing is fine given the solver combination and versions, but we could unconditionally state that, if SMT tests fail and not provide an "expected result" for versions/solvers, that might indeed be too much.

For our CI in particular, though, we might still keep

[2019-11-07 11:32] leonardoalt commented on #4735
Right, I agree with that

[2019-11-07 12:30] ekpyron opened #7656 "refactor inline assembly reference resolving"
See https://github.com/ethereum/solidity/pull/7648#issuecomment-551054356
Two tasks:
- [x] ``ReferencesResolver`` should be a yul ast visitor and descend into inline assembly to resolve refrences https://github.com/ethereum/solidity/pull/8063
- [ ] Evaluate whether something similar would be good for the ``TypeChecker`` (e.g. inherit from ``AsmAnalyzer``?), but the step above might actually be eno

[2019-11-07 12:31] chriseth commented on #7576
Implemented by #7648

[2019-11-07 12:31] #7576 closed, assigned to nobody

[2019-11-07 14:03] #7525 closed, assigned to bshastry

[2019-11-07 16:35] bshastry opened #7659 "[yul] optimizer: Redundant check in expression simplifier?"
## Description

I was curious why https://github.com/ethereum/solidity/blob/ed7be7b9c76c71ea1915a8f70eb42b337dc15c15/libyul/optimiser/ExpressionSimplifier.cpp#L51-L52 was never satisfied (i.e., Expression simplifier never returns early)

So, I spent some time understanding why, with the theory that perhaps some limitation of the test generator was leading to the constraint always being false.

The

[2019-11-07 18:42] chriseth commented on #7659
Note that the side effects collector is run on the full expression, so what we actually want to determine is if some arguments to the instructions are non-movable. Since the expression simplifier is usually run after the expression splitter, the arguments tend to be variables which are always movable. There is one exception to this: Conditions in for loops cannot be split and thus could have non-m

[2019-11-07 18:46] chriseth commented on #6251
Implemented in #7450

[2019-11-07 18:46] #6251 closed, assigned to nobody

[2019-11-08 11:34] javabeanz opened #7661 "Improve language security"
## Description
My impression is that many security vulns now are inherent to the use of solidity; i.e. the language wasn't design with enough Security by Design and by Default in mind. This happens to a lot of new technologies : the rush to get it out there often outweighs security concerns.

To change this could be hard, but at least here are some pointers : http://langsec.org/papers/langsec-cwes

[2019-11-08 12:52] ekpyron commented on #7112
I'll take this on now.

[2019-11-08 15:23] leonardoalt commented on #7131
Implemented by https://github.com/ethereum/solidity/pull/7440

[2019-11-08 15:23] #7131 closed, assigned to nobody

[2019-11-08 16:33] leonardoalt opened #7663 "[SMTChecker] Support FixedBytes IndexAccess"
Currently expressions of type `FixedBytes` are encoded as SMT integers, but in Solidity their indices can be accessed individually, returning a `byte`.
One way to support it might be to create an SMT prelude that fills an array of size 32 with the powers of 2.
Then access to index `i` of FixedBytes `b` can be encoded as `(b / 2^(len(b) - i) % 256`.

[2019-11-08 16:46] ekpyron opened #7665 "Pretty print expected json output of command line tests."
Came up in https://github.com/ethereum/solidity/pull/7589#discussion_r344259919.
Is there a nice and easy way to have a pretty printing pass on the output? That would make those tests way easier to review.

[2019-11-09 00:26] ytrezq opened #7667 "Please add minimal examples for triggering fixed compiler bugs!"
Were’re developing a tool to [test existing old compiler bugs in old smarts contracts where the source code and compiler version used is not known](https://github.com/ConsenSys/mythril/issues/1258#issuecomment-550580363).
We searched the specific issue numbers and/or commit which fixed `OptimizerClearStateOnCodePathJoin`and`OptimizerStateKnowledgeNotResetForJumpdest` but nothing was found leaving

[2019-11-09 11:34] saffyA commented on #7529
I had boost 1.71.0 Removed using brew uninstall boost. Post that, installation worked

[2019-11-10 14:30] chriseth commented on #3594
Finished in https://github.com/ethereum/solidity/pull/7666

[2019-11-10 14:30] #3594 closed, assigned to nobody

[2019-11-10 17:31] chriseth opened #7668 "Consider warning about inline-assembly return"
... because it can circumvent protection through modifiers ( https://twitter.com/jalex_towle/status/1193578569634590723 ). I think there are only few real-world cases, where people would want that. We can exclude some cases:
 - modifiers that have no code after the `_`
 - functions that are external-only and do not have any "important" code after the inline-assembly block (to be debated)
 - functi

[2019-11-10 17:33] jalextowle commented on #7668
Thanks for adding this! I’ve actually been wanting to contribute to solidity for a while, so I’d be happy to try to help out on this.

[2019-11-10 18:26] leonardoalt commented on #7665
The `commandlineTests` could `jq` the output, but not sure we want to add that dependency.

[2019-11-11 09:41] chriseth commented on #7668
@jalextowle great! The first step would be to figure out when exactly to issue the warning, I think.

[2019-11-11 09:48] chriseth opened #7670 "Check "How solid is Solidity" by Matteo Di Pirro"
Thesis: http://tesi.cab.unipd.it/61297/1/tesi_Di_Pirro.pdf
Article: https://fc19.ifca.ai/wtsc/SoliditySolid.pdf

The thesis might be more valuable for us than the article - the article seems to be about a different language that is similar to Solidity.

[2019-11-11 10:45] chriseth commented on #7667
These two bugs are really hard to trigger, I fear I cannot provide you with example code anymore.

[2019-11-11 10:57] bshastry commented on #7659
Ah I see. I can reproduce the branch in question getting covered when ExpressionSimplifier step is run by itself. I can also reproduce the branch not getting covered when expression splitter is run before simplifier; also the case when the expression happens to be a for-loop condition and loop-condition-into-body followed by expression splitter making the branch false in expression simplifier.

Wi

[2019-11-11 10:57] #7659 closed, assigned to nobody

[2019-11-11 11:34] chriseth commented on #7577
The tests are in test/libsolidity/InlineAssembly.cpp

[2019-11-11 11:34] #7577 closed, assigned to nobody

[2019-11-11 12:06] chriseth opened #7672 "Document that call* does not touch/clear return area past the returned size"
Document that the call-like opcodes designate an area where output bytes are written to, but that this area is not modified beyond the amount of bytes that the caller returns. Also, on failure, nothing is written / modified even though `returndatacopy` would be able to access that data.

[2019-11-11 12:18] erak commented on #7460
@axic I've updated the description ;)

[2019-11-11 12:23] erak opened #7674 "Create a tool which can update contracts in external tests"
Updating contracts in the external projects that we're testing nightly builds of soljson against is huge effort. A tool which can auto-update them to compile with 0.6.0 would be of great help.

[2019-11-11 12:25] ekpyron commented on #1230
@axic What's your current opinion about this? We recently discovered that in our CI we currently don't even build LLL (except for osx), let alone test it and that the tests are currently broken.
And the team so far doesn't have consensus about whether to try to update it, always build it and run its tests or to simply remove it from the repo... [keeping the "to discuss" label for now]

[2019-11-11 12:28] ekpyron commented on #7102
We now closed the PR for this, since we think that this information belongs in the json AST (where it already can be found). Otherwise we need a clear criterion for which information from the AST should be replicated in the metadata. If you see any hard disadvantages for referring this to the AST, please comment!

[2019-11-11 12:39] chriseth opened #7676 "[Yul] Do not go through to `instructionInfo(m_instruction).name; tolower` in RuleList.cpp"

[2019-11-11 14:04] ytrezq commented on #7667
@chriseth : would it be possible to have at least the issue number of the specific commit which fixed them ?

[2019-11-11 14:33] ekpyron commented on #1230
From gitter discussion: it seems like @axic will work towards moving the ethereum test suite away from using LLL and at the latest once there's enough progress on that front, we will probably remove LLL from the solidity code base.

[2019-11-11 15:04] christianparpart commented on #7676
cleanup Parser::instructions() / Parser::instructionNames() (move to EVMDialect instead).

[2019-11-11 15:10] #5992 closed, assigned to christianparpart

[2019-11-11 15:15] chriseth opened #7679 "Do not mark ABIEncoderV2 as experimental anymore."

[2019-11-11 15:18] chriseth opened #7680 "0.6.0: Auto-activate yul optimizer?"

[2019-11-11 15:49] christianparpart commented on #7674
We could actually come up with a framework that also finds various patterns (based on a rule set), and reports them (optionally providing replacement-rules). I'm thinking of something like clang-tidy that can do the same when also passing the `-fix` CLI option.

Such a tool couldn't just be used for upgrading language-change related stuff.

Of course, we can start small (with the actual requiremen

[2019-11-11 17:15] christianparpart opened #7685 "make CircleCI docker base images source builds"
In order to not need manually build and wait and push the docker images whenever we want them to be updated, we need to enable auto-build feature of DockerHub for the docker files by also configuring specific build rules.

Can we achieve that by keeping the Dockerfiles in the main "develop" branch without producing excess to the DockerHub build pipeline?

- that's basically a little bit of a reviv

[2019-11-11 17:21] christianparpart commented on #7644
Without going too much into subjective opinions, I try to propose something that is as reusable as possible, and still makes sense semantically, and in a way that people won't dislike using those namespaces:

Assuming we're only touching the Solidity project (not Aleth), we have the following libraries (or sub systems)

| directory    | description

[2019-11-11 17:44] ekpyron commented on #4735
To emphasize the need for this: we just took a few hours for a case in which differing AST Node IDs resulted in different results reported by Z3 - so we had different results between ``solc`` and ``isoltest``, since the latter adds ``pragma solidity >0.0.0;`` as an additional AST node to the source :-).

[2019-11-11 18:28] ekpyron commented on #7644
@christianparpart Let's talk about it in the next meeting. I'm really not sure myself - I always found it strange to say that ``liblangutil`` is supposed to be language independent, even though it contains ``EVMVersion`` and even worse the token list (you can't get much more language specific than that...)...

Should we even reuse the same token list for yul as we currently do? Actually that doesn

[2019-11-12 09:51] ekpyron opened #7689 "Better way to organize docker images for testing."
We need to:
- decide how to distribute permissions to update the docker images
- consider if and how to switch to source based images, if that helps
- if nothing else works, re-evaluate how much speed-up we gain by using the docker images for the tests anyways in contrast to switching back to stock docker images, updating them and caching, which would ensure better maintainability and updateabilit

[2019-11-12 10:09] ekpyron commented on #7689
Rationale: the PR updating the clang Dockerfile was merged a day ago and we're still waiting for an updated image, causing test failures on all PRs. And updating the docker images for testing has to be easy and fast and should be done regularly anyways, since we will otherwise likely lock ourselves into testing against outdated dependencies.

[2019-11-12 10:15] ekpyron commented on #4735
Can we use resource limits instead of timeouts for Z3 and CVC4?

See for Z3: https://github.com/FStarLang/FStar/wiki/rlimits:-Machine-Independent-Resource-Limits-for-Deterministic-Execution, https://stackoverflow.com/questions/45457131/what-is-the-relation-between-options-rlimit-and-timeout, https://github.com/Z3Prover/z3/issues/216

See for CVC4: See http://cvc4.cs.stanford.edu/wiki/User_Manual -

[2019-11-12 10:22] bshastry opened #7690 "[scripts] Remove obsolete install scripts that was originally meant for fuzzer builds"
## Description

Remove the following scripts because they are now installed in the clang docker image

  - `install_evmone.sh`
  - `install_lpm.sh`
  - `install_libfuzzer.sh`

[2019-11-12 10:57] leonardoalt commented on #4735
I think that would be good, but it's hard to get an idea of resources. How much would you suggest for `rlimit`?

[2019-11-12 11:11] ekpyron commented on #4735
In the FStar blog post they say: ``You can set the rlimit using the new --z3rlimit n F* flag, where n is a natural number intuitively counting the maximum number of seconds allowed for each query when running on a mythical powerful laptop (a quad core Intel(R) Core(TM) i7-4700MQ CPU @ 2.40GHz with 16GB RAM).``
Not sure that helps too much...
Maybe we could find out the minimum value that solves al

[2019-11-12 11:14] leonardoalt commented on #4735
Yea, sounds good

[2019-11-12 11:36] bshastry opened #7693 "[yul] proto fuzzer: Add chainid and selfbalance opcodes"
## Abstract

Two new opcodes are introduced by the Istanbul hard fork
  - `chainid`: zero input arguments, one value returned that equals identifier for the current chain
  - `selfbalance`: zero input arguments, one value returned that equals the balance remaining in the current address

## Motivation

The yul protobuf message called `NullaryOp` is best suited for these two opcodes:

https://githu

[2019-11-12 11:47] Marenz commented on #7667
This might be the issue for the first bug: https://github.com/ethereum/solidity/issues/692

[2019-11-12 11:51] Marenz commented on #7667
And this the second: https://github.com/ethereum/solidity/issues/1416

[2019-11-12 11:57] #7690 closed, assigned to bshastry

[2019-11-12 11:58] chriseth commented on #7667
Thanks, @Marenz  ! There are even examples linked in the issues!

[2019-11-12 12:03] leonardoalt opened #7695 "[SMTChecker] Update documentation"
The SMTChecker changed quite a bit recently, and the documentation in https://solidity.readthedocs.io/en/v0.5.12/security-considerations.html#formal-verification is incomplete and should be updated.

[2019-11-12 14:02] bshastry opened #7698 "[Build] update evmone to v0.2.0 and clean up docker image"
## Abstract

evmone v0.2.0 is required to
- ~~istanbul tests (via isoltest that requires shared evmone library)~~
- speed up tests
- ~~abiv2_proto_fuzzer (requires statically built evmone library)~~

Also the docker image that is currently used manually builds intx and ethash manually, creating the problem that these must be manually updated whenever we bump up evmone versions.

This issue tracks

[2019-11-12 15:40] Marenz commented on #6708
From what I can tell, `delete` seems pretty much implemented. Will close this.

[2019-11-12 15:40] #6708 closed, assigned to Marenz

[2019-11-12 15:42] leonardoalt commented on #6708
What about `...`?

[2019-11-12 16:01] Marenz commented on #6708
I added that at the time as "and any unary operator I didn't think of". I am sure anything I forgot will give us errors in the tests once we switch all..

[2019-11-12 16:55] ekpyron commented on #7689
@axic on gitter:

Setting version in the dockerfile: https://github.com/ethereum/aleth/blob/master/scripts/docker/cpp-build-env.dockerfile#L5
Using versioned images: https://github.com/ewasm/hera/blob/master/circle.yml#L201

Doing things like that for our docker images might alleviate the pain in updates a lot already, because we can first push the docker updates, while keeping the tests intact an

[2019-11-12 16:57] ekpyron commented on #7689
Also: problems with the docker images now happened *twice* within the same day, resp. for the most part of two days now, so we really need to take care that this works better IMHO :-)...

[2019-11-12 17:13] axic commented on #7698
0.2.0 is just a speed update. It uses evcm6 so no changes are required.

0.3.0, once released, will be needed for istanbul. It uses evcm7, which requires changes.

[2019-11-12 17:39] bshastry commented on #7698
Okay, in that case I see two options:

Option 1:

- Merge the fuzzer change portion of this PR (essentially linking against libevmone-standalone instead of the kitchen sink) + upgrade to 0.2.0 and cleanup to `develop`
- Once `v0.3.0` is released, we create another PR with the version of evmone + evmc libs bumped up.

Option 2:

- Wait for evmone `v0.3.0` to be release and update this PR to use `v0

[2019-11-12 17:40] bshastry commented on #7698
I realize I misunderstood the intention of the original PR: It was for speeding up the underlying evm and not to enable istanbul tests :(

[2019-11-13 03:35] ytrezq commented on #7667
Might still worth trying to add this into the codebase as finding specific issues proved to be hard.

[2019-11-13 07:50] ChrisChinchilla commented on #7529
I'll make sure we look into this, or at the very least update docs.

[2019-11-13 09:40] christianparpart commented on #7644
@ekpyron it is meant to be language independant, but I had to take _some_ trade-offs when moving things around (back then). Same applies to Scanner, that sadly contains solidity-related tokens / lexical grammar (it could be isolated, though, I didn't want to overdo it when I touched it some long time ago); if you find a better place for those two classes, I'm all in (they're needed for more than l

[2019-11-13 10:07] chriseth commented on #7667
@ytrezq what do you mean by "add this into the codebase" - adding in which way?

[2019-11-13 11:00] #7274 closed, assigned to ekpyron

[2019-11-13 11:01] axic commented on #7698
My motivation was
- to clear up the scripts by upgrading to 0.2.0,
- learn how to update it before the bigger change of 0.3.0,
- and at the same time make speed gains

[2019-11-13 11:04] axic commented on #7698
@bshastry I'd really opt for merging this for 0.2.0 as that is a clear update, no EVMC changes required. Supposedly during the process the docker files are cleaned up (using `libevmone-standalone` as depending on exact intx/ethash versions is messy).

Then updating to 0.3.0 should be smoother.

[2019-11-13 11:11] bshastry commented on #7698
@axic Sounds good to me. Do you want to merge the small fuzzer change (linking against libevmone-standalone) + docker file change (building both shared and static evmone for the clang image and shared only for ubuntu 18.04/19.04 images) into the PR you created or should I do it via the new PR I created? In hindsight, I should have simply edited your branch.

[2019-11-13 11:13] axic commented on #7698
I'd say just merge yours.

[2019-11-13 11:20] #6651 closed, assigned to Marenz

[2019-11-13 11:21] chriseth opened #7703 "The test t_ubu_asan_constantinople is taking too long"
It usually takes 30-40 minutes, we should move it to run on the develop-branch only or as part of nightly (or find out if it was faster before and why it get slower).

[2019-11-13 11:39] chriseth commented on #2419
Implemented in https://github.com/ethereum/solidity/pull/7537

[2019-11-13 11:39] #2419 closed, assigned to nobody

[2019-11-13 13:20] bshastry opened #7704 "[Build] Build evmone from source for ubuntu 18.04"
see https://github.com/ethereum/solidity/pull/7700#discussion_r345725338

[2019-11-13 13:21] ekpyron commented on #7704
Why :-)?

[2019-11-13 13:23] ekpyron commented on #7704
As you stated in the other PR: we don't need the static libraries for anything but the fuzzing docker image, so for them the release tarballs are just fine... Only for the fuzzing image we do need to build from sources, since we need the static libraries... so I'd say it's fine as it is... but we could of course still change it, no problem with that.

[2019-11-13 13:25] bshastry commented on #7704
I don't have a strong opinion on this. For me, it feels more of a uniformity issue since for the 19.04 image (also not used by fuzzer), we build evmone from source but for 18.04 we use the release tar ball. Can become a source of confusion in the future.

[2019-11-13 13:27] ekpyron commented on #7704
Ah, ok, I didn't realize that ubuntu 18.04 and ubuntu 19.04 did it differently - I thought they did the same and only the clang/fuzzing one differed.

Ok, we should definitely at least do it uniformly between 18.04 and 19.04 - the fuzzing/clang image may or may not stay different from them, that I don't really mind.

[2019-11-13 13:29] Marenz commented on #7625
@chriseth for clarification: You're saying it should not be possible to declare any variable of type library?

[2019-11-13 14:24] chriseth opened #7706 "Set istanbul as default EVM version"

[2019-11-13 14:25] christianparpart commented on #7680
conclusion:
* let's activate it
* test performance

[2019-11-13 14:31] chriseth commented on #7644
I would prefer fewer top-level namespaces. If the main goal is to stay compatible with other projects, I would also not oppose to a top-level `solidity` namespace and everything (even `yul`) below it.

[2019-11-13 16:20] ekpyron commented on #6420
After some discussion we are actually hesitant to implement this for 0.6.0.
Among the open questions: if we use allow both old and new signatures, which one would we use when compiling new library calls? If we use the new ones, we break all calls to existing pre-0.6.0-libraries - if we use the old one, the new ones are kind of useless...

So far our plan is to first document how library signatures

[2019-11-13 16:27] ekpyron commented on #7644
I don't have hard opinions on this, but at the moment I lean towards either of the following two options:

Three top-level ones: ``solutil`` (or a better name), ``solidity`` and ``yul``, where ``solutil`` is everything shared between ``solidity`` and ``yul``.

Or one top-level one: ``solidity`` or maybe only ``sol`` and actually the same three sub-namepaces only that ``solutil`` should then just b

[2019-11-13 16:35] #7146 closed, assigned to Marenz

[2019-11-13 16:37] chriseth commented on #7625
exactly

[2019-11-13 19:08] aarlt commented on #7468
CI now supports the execution of tests within the context of macOS. Closing.

[2019-11-13 19:08] #7468 closed, assigned to nobody

[2019-11-13 21:19] axic commented on #7644
I'm pretty much in favour of a single top-level namespace, `solidity`, which reflects the project name.

[2019-11-13 22:19] haltman-at commented on #6420
Among the open questions: if we use allow both old and new signatures, which one would we use when compiling new library calls? If we use the new ones, we break all calls to existing pre-0.6.0-libraries - if we use the old one, the new ones are kind of useless...

I thought the idea was to always use the old one when compiling library calls, and the point of the new one would be to allow calls fro

[2019-11-14 00:33] ekpyron commented on #7689
We should look into https://docs.docker.com/docker-hub/builds/advanced/
That way we can setup autobuilds triggered by git commits with a custom versioned docker tag, for which we could fetch the version from the ``LABEL`` in the Dockerfile using introspection.
Then we could enable autobuilds on all branches, resulting in the following:

We can just create PRs that bump the version in a Dockerfile

[2019-11-14 03:25] ekpyron commented on #7689
Another option to consider: I just played around with github actions and github packages in https://github.com/ekpyron/test

It turns out that we could also define a github action to be triggered on every pull request that modifies a docker file, which builds the docker file and publishes it to the "github package repository" associated with our repo. And that acts as a fully fledged docker regist

[2019-11-14 03:59] fulldecent commented on #2691
If a contract is marked as `abstract` then it cannot be compiled. And therefore any notes warnings (not errors) about state mutability don't matter. This is because they are going to be overridden and the mutability will be considered on the compilable version.

Would suppressing can-have-stricter-mutability-guarantees for abstracts solve @nventuro's issue?

[2019-11-14 05:12] fulldecent commented on #3506
For a first step requesting just the feature from the original post. Can add constants as an separate issue. (Which I still support.)

---

Here is a a case found in the wild that shows the problem of not having this feature:

https://github.com/erasureprotocol/erasure-protocol/blob/master/contracts/posts/Post_Factory.sol#L11

[code]

They create `template` just to use the selector.

[2019-11-14 09:22] chriseth opened #7710 "Solidity 0.5.13 release"
### Requirements
 - [x] Lauchpad (Ubuntu One) account
 - [x] gnupg key (has to be version 1, gpg2 won't work) for `your-name@ethereum.org` created and uploaded
 - [x] Readthedocs account, access to the Solidity project
 - [x] Write access to https://github.com/ethereum/homebrew-ethereum

### Pre-release
 - [x] Ensure that a Github project exists for the release.
 - [x] Check that all issues and pu

[2019-11-14 09:56] Amxx opened #7711 "Variable error when calling chainid()"
I'm trying to build contracts that are chain aware (for ERC712) using the new `chainid()` introduced in istanbul (which is live on some testnets).

When trying to compile the following contract:
[code]

using the `--evm-version istanbul` flag I get the following error:

[code]

(If I omit the `--evm-version` flag I get the expected `The "chainid" instruction is only available for Istanbul-compatib

[2019-11-14 10:16] chriseth commented on #6420
@haltman-at the feature of libraries was originally meant to use delegatecall only. At some point, people wanted functions to be inlined, so we allowed internal library functions to be inlined. I'm really not sure we should extend the use of libraries for non-delegatecall any more, because for that purpose, you can also just use contracts.

Maybe we could have a call where we can talk more about t

[2019-11-14 10:22] #3736 closed, assigned to nobody

[2019-11-14 12:11] ekpyron opened #7714 "[soltest] passing value with the ``ether`` keyword as wei in semantics tests is confusing"
From @axic on gitter:
[code]

Since the syntax has the ``ether`` suffix, we should actually pass ether and not wei. We might actually want to support all denominations correctly.

[2019-11-14 12:20] #7711 closed, assigned to nobody

[2019-11-14 12:39] #7625 closed, assigned to Marenz

[2019-11-14 12:50] Marenz commented on #7260
we have implemented this now, haven't we? @chriseth

[2019-11-14 13:29] #6928 closed, assigned to nobody

[2019-11-14 13:34] ekpyron commented on #7260
@Marenz No - we have options for adding more of them and removing them, but e.g. ``abi.decode`` still doesn't actually produce any.

[2019-11-14 13:45] ekpyron opened #7718 "[soltest] ``isoltest`` arguments after empty ``--`` are ignored."
Noticed by @axic:
``isoltest -- --some-existing-or-nonexisting-option`` just ignores everything after the ``--``.
Since ``soltest`` actually requires some options to be after ``--``, ``isoltest`` should either ignore the ``--`` and parse the following options - or error out on ``--``, resp. options following it.

[2019-11-14 14:09] Marenz commented on #7558
Smaller test case:
[code]

[2019-11-14 15:54] ekpyron opened #7720 "Increase use of C++ constexpr constant expressions in the code base."
Came up in https://github.com/ethereum/solidity/pull/7655#discussion_r343720759 with one minor example for this.
But in general I'd expect a lot of places in the compiler could be refactored to benefit from constant expressions. One prominent example would be the simplification rule list, which is entirely compile time constant and with a bit of care could be constexpr initialized to a ``std::arra

[2019-11-14 17:53] chriseth opened #7724 "Version 0.5.13 build does not work on homebrew"
https://github.com/ethereum/homebrew-ethereum/pull/244

[2019-11-14 17:53] chriseth commented on #2237
Closing since we do not want travis to push anymore anyway.

[2019-11-14 17:53] #2237 closed, assigned to chriseth

[2019-11-14 17:54] chriseth commented on #7710
Homebrew is still pending, but created an issue to track: https://github.com/ethereum/solidity/issues/7724

[2019-11-14 17:54] #7710 closed, assigned to nobody

[2019-11-14 23:04] #7724 closed, assigned to nobody

[2019-11-15 09:46] haltman-at commented on #6420
Honestly, I just wanted to see about making things consistent!  It's just a little confusing when there are these hidden limitations and exceptions.  I'll admit I didn't have a real use case in mind.

Although -- and at this point I'm repeating what I said above, but -- I think there's one way in which you should probably *restrict* it a bit more, in that I noticed there's no delegatecall guard on