[2019-02-05 12:39] axic commented on #5914
I was thinking about this on the weekend and another useful feature we could introduce is constants, to aid the optimiser (`constant x = 0x1234` or `const x = 0x1234`). In the above example that could already save two stack slots.

Instead of `pop` we had `drop` in the Yul design, I think that is more suitable. Though I'm not sure I'd make it an expression (function) or a special statement: `drop

[2019-02-05 12:48] Marenz opened #5927 "Warn about unused struct array type expression"
This code compiles without warning:

[code]

even though `s[7]` has no effect and is never used.

Hints:
* Check why https://github.com/ethereum/solidity/blob/d7e28387020894c1f4f0ab37b053fdfa98e720c9/libsolidity/analysis/StaticAnalyzer.cpp#L182 isn't true for statements like `S;`
* the isPure fix for structs should go to around line 2303 in TypeChecker.cpp

[2019-02-05 13:02] axic opened #5928 "Constants in Yul"
From https://github.com/ethereum/solidity/issues/5914#issuecomment-460623404:

I think introducing support for constants could improve the clarity of the code and the same time helping the optimiser. Currently the lack of constants incentivizes users to duplicate constants several times to avoid using a stack slot for them (as a variable).

Marking them constant is a hint to the optimiser (a new o

[2019-02-05 13:04] ekpyron commented on #5928
I think the optimizer can handle constants quite well without this. If the user duplicates the constant, then that should be detected and if saving stack slots makes sense the optimizer should do so as well, so I don't see the need for a language construct here.

[2019-02-05 13:06] axic commented on #5928
Does it? Even if it does, since it is not clearly expressed anywhere, I as a user wouldn't put constants into a let statement.

Ideally I'd actually prefer Rust's way where `let` is immutable, `let mut` is mutable and shadowing the same variable is by design to help scoping :)

[2019-02-05 14:10] Marenz opened #5929 "Mapping as function parameter with memory storage compiles"
The following code compiles even though the mapping has the `memory` data location.

[code]

[2019-02-05 16:01] #4704 closed, assigned to ChrisChinchilla

[2019-02-05 16:06] #5845 closed, assigned to nobody

[2019-02-05 16:09] axic opened #5933 "Remove unused jsonParse helper"
Only `jsonParseStrict` is in use (with one exception, SMTChecker tests are incorrectly using `jsonParse`).

[2019-02-05 16:11] bshastry opened #5934 "Refactor the way we use sanitizer within EthCompilerSettings.cmake"
At the moment, we relay the argument of `-DSANITIZE` to
https://github.com/ethereum/solidity/blob/develop/cmake/EthCompilerSettings.cmake#L141

This may be a problem in two cases: (1) we want to add additional compiler flags per sanitizer; (2) if we want to the cmake extensible for adding more error detectors (e.g., undefined sanitizer) later on.

[code]

For example, if `SANITIZER=address` we may

[2019-02-05 20:03] #5929 closed, assigned to nobody

[2019-02-05 20:11] #5455 closed, assigned to axic

[2019-02-06 00:04] axic commented on #5880
I think #4517 is one of the earlier reports of this. Since this issue has more detail I suggest we close the other one.

[2019-02-06 00:07] axic commented on #3825
The actual underlying problem is that `soltest` has a very simple dumb implementation of JSON-RPC. It doesn't use a streaming JSON decoder nor tries to read up until JSON is parsed. It just reads one into a large enough (512K) buffer.

The problem is that for some reason on mac UNIX socket transmission is buffered, seemingly with 8K. This means we stop reading the response after 8K, which results

[2019-02-06 00:15] axic commented on #5682
@christianparpart sorry I forgot to assign this, but had the code ready (it is not many changes).

However, there is one question to be decided before going ahead with this: libraries, optimiser settings and "use literal sources in metadata" currently can be changed between analysis and compilation, but are included in the metadata.

Simple solution is to disallow calling any of these after the `A

[2019-02-06 09:28] chriseth commented on #5682
Sounds good!

[2019-02-06 09:28] chriseth commented on #5682
Elsewhere you mentioned you are not convinced this is the right direction. What are the downsides?

[2019-02-06 13:11] #5056 closed, assigned to Marenz

[2019-02-06 13:17] axic commented on #5056
@Marenz @chriseth did you also try the other three tests cases from https://github.com/ethereum/solidity/issues/5056#issuecomment-440039423 ?

[2019-02-06 13:26] axic commented on #5056
Tried them locally, they do not crash anymore.

[2019-02-06 15:24] Marenz commented on #5056
They are all basically the same if you remove all the noise

[2019-02-07 08:49] ekpyron opened #5948 "Make sure the life-time of all objects bound in lambdas in ``ABIFunctions`` is guaranteed."
``ABIFunctions::tupleEncoder`` and ``ABIFunctions::tupleDecoder`` store lambdas binding references to ``TypePointers``. Those lambdas will only be called much later in ``ContractCompiler::appendMissingFunctions``. This doesn't seem to cause problems so far (it seems all types are still living at that point), but we should consider binding copies of the shared pointers in the lambdas instead to ens

[2019-02-07 09:36] VasilyevAA commented on #5893
Hi, @ChrisChinchilla ! I think I have the same problem with @smeis . Can u help me, please, too? :)

'''
-- Configuring incomplete, errors occurred!
See also "/tmp/solidity-20190207-32645-gb2bpq/solidity_0.5.3/CMakeFiles/CMakeOutput.log".

==> Formula
Tap: ethereum/ethereum
Path: /usr/local/Homebrew/Library/Taps/ethereum/homebrew-ethereum/solidity.rb
==> Configuration
HOMEBREW_VERSION: 2.0.0
ORIGI

[2019-02-07 10:31] chriseth commented on #5948
I actually stumbled across this myself multiple times, so we should probably document it, I just don't know where.

In my opinion, it is fine, because the lambdas are either evaluated right away or discarded. What is stored for longer is just the result value of the lambda.

[2019-02-07 10:37] ekpyron commented on #5948
You're right, yes. And I even think it might be fine without further documentation - if we want to document it, I think the documentation of ``ABIFunctions::createFunction`` and  ``ABIFunctions::createExternallyUsedFunction`` in the header would be the right place, but I'm fine with closing this issue.

[2019-02-07 11:06] #5948 closed, assigned to nobody

[2019-02-07 11:50] axic commented on #1219
Well the chapter is a single page right now, but yeah, removing the entire thing.

[2019-02-07 13:36] bshastry commented on #5880
Minor update on this: oss-fuzz is run every day on the latest `develop` commit. However, it keeps tripping on already reported mem leaks, so I'm afraid we won't get new reports until the old ones are fixed.

Alternatively we could ask oss-fuzz to ignore leaks until the present leaks are fixed, but I'd only suggest this as a temporary solution.

[2019-02-07 14:19] chriseth opened #5956 "Add new external tests"
| Project                                                                             | compiler                 | framework                                            | Remarks    |
|-------------------------------------------------------------------------------------|--------------------------|------------------------------------------------------|------------|
| [iExec](https://github.com/iExec

[2019-02-07 15:54] chriseth commented on #5880
Let's ignore leaks.

[2019-02-07 17:09] chriseth commented on #1658
note that also the binary search in the dispatcher depends on the number of expected executions.

[2019-02-07 19:48] #5868 closed, assigned to axic

[2019-02-07 21:35] ChrisChinchilla commented on #5893
@VasilyevAA @arnigudj @gwiily @smeis I tried a fresh install with all dependencies removed too, and installed correctly. The one main thing I can see that's different between my set up and yours is that I don't have XCode installed. This looks like the XCode version of Cmake overrides things.

I realise the docs say you need it installed, but I'm not sure that's actually true. If you don't need Xc

[2019-02-08 00:45] akira-19 commented on #5918
@ChrisChinchilla Thank you. I just started translating. I'm also going to ask the Japanese community to help this project to make the translation better.

[2019-02-08 09:31] mrdavey commented on #1215
Is this still working in 0.5.0? I seem to be getting some errors related to this, where the wrong overloaded event is being emitted... 🤔

[2019-02-08 10:57] ChrisChinchilla opened #5961 "Test language fallbacks in Read the Docs"
Test the possibility of falling back to English if a translated item of content isn't available.

[2019-02-08 11:07] ChrisChinchilla commented on #5918
@akira-19 Great! So I can help you more and connect you to other Solidity translators, can you email me your email address? Or you can also ping me on https://gitter.im/ethereum/documentation

[2019-02-08 11:09] ChrisChinchilla commented on #5250
Actually @Karocyt and @clemlak can you email me at chris.ward@ethereum.org? I have some updates I'd like to send all translators :)

[2019-02-09 12:44] smeis commented on #5893
Hi @ChrisChinchilla, thanks for looking into this! I tried it again and got a different error (I think). I'm an iOS Developer by trade so I do have Xcode 10.1 installed, the output from `cmake --version` shows that I also have `3.13.4`, before running `homebrew upgrade` it was an older version.

I updated homebrew and upgraded everything, this is my homebrew config now:

[code]

This is the output

[2019-02-11 10:00] ChrisChinchilla commented on #5893
@smeis Hmm, I am stuck. I tried various combinations of having XCode and XCode command line tools installed and not installed, and everything built fine each time. The only difference I can see is that we have different processors and (slightly) different macOS versions. I can't really test that though.

We're also using a different git, but I can't imagine that has any impact.

The only other thi

[2019-02-11 10:13] VasilyevAA commented on #5893
Hi, @ChrisChinchilla! Big thanks for your response!)
I resolve my problem after install xCode, Z3 library and relink boost library(brew link\unlink boost). I've got a lot of problem with boost library for different solidity version.
@smeis try to install z3 library and relink boost, and after install latest solidity version.

p.s. Sorry for my code format in previous message :)
p.s.s. Maybe need c

[2019-02-11 10:44] chriseth commented on #1215
@mrdavey please create a new issue with example code.

[2019-02-11 11:01] #4821 closed, assigned to chriseth

[2019-02-11 11:01] #5695 closed, assigned to nobody

[2019-02-11 12:05] bshastry commented on #5880
There is a problem if we decide to ignore leaks that I did not anticipate earlier. If we ignore leaks, Google is going to close previously reported bugs (mem leaks) as fixed. Another problem is that memory leaks (even if ignored) tend to accumulate and drain the fuzzing process out of memory (current memory limit is 2GB per fuzzing process).

Do we want to still go ahead with ignoring leaks?

[2019-02-11 14:29] chriseth opened #5963 "Properly fix issues with solc-js tests"
We forced the version of tape to 4.9.2 as a [quick measure](https://github.com/ethereum/solc-js/pull/339) before the release of 0.5.4. It is not clear where the problem lies, so this should be fixed properly.

Also the change in https://github.com/ethereum/solidity/issues/5963 should be reverted or revisited.

[2019-02-11 15:04] erak opened #5967 "Reorganize syntax test files"
## Motivation

The current folder structure in `test/libsolidity/syntaxTests` is very inconsistent. We should restructure them.

## Specification

To be discussed.

[2019-02-11 16:12] #5601 closed, assigned to nobody

[2019-02-11 16:54] erak opened #5969 "Compile semantic tests /w --no-ipc given"
## Motivation

If the option `--no-ipc` is passed to `soltest` or `isoltest`, the file-based semantic tests should still be compiled (currently, they are not created at all).

## Specification

This requires the `no-ipc` option to be passed down to the semantic test case and needs to be handled there. A warning about this behaviour being triggered is also needed.

[2019-02-12 09:30] mrdavey opened #5970 "Event overloading not working with Solidity 0.50+"
## Description
Solidity event overloading (i.e. using the same name for an event, with different parameters) does not seem to be working correctly in v 0.5.0+.
This issue may be related to #1215

## Environment

- Compiler version: ^0.5.0
- Target EVM version (as per compiler settings): 10d17f24
- Framework/IDE (e.g. Truffle or Remix): Tested in Remix and Truffle
- Operating system: MacOS

## Step

[2019-02-12 09:52] ekpyron commented on #5967
We could try creating a nice structure for the semantics tests while extracting - if that works we can later sort the syntax tests into that directory structure (at least if at some point syntax and semantics tests will end up being somewhat merged).

I would prefer ordering by features being tested, but as @chriseth mentioned a lot of tests will match/test multiple features, so we need some kind

[2019-02-12 09:53] chriseth commented on #5970
Thanks for reporting! We have a test for overloaded events and it is not failing, so my first suspicion would be that this could be a bug in Remix or perhaps with the ABI.

This is the output I get from remix:

First function:
[code]

Second function:
[code]

So it looks like Remix was just not able to properly decode the data from the second event. The topic is different, which means Solidity at

[2019-02-12 09:56] chriseth commented on #5970
Hm, I cannot see anything wrong with the ABI either. @yann300 could you please check if this might be a problem on the remix side? Thanks!

[2019-02-12 10:04] chriseth commented on #4490
Closing this since @ekpyron is implementing it.

[2019-02-12 10:04] #4490 closed, assigned to nobody

[2019-02-12 10:04] chriseth opened #5972 "Fix Bugs!"
https://github.com/ethereum/solidity/issues?q=is%3Aissue+is%3Aopen+label%3A%22bug+%3Abug%3A%22

[2019-02-12 10:06] chriseth commented on #5239
This is mostly implemented but still needs some testing. Because of that, I'll move it to 0.5.5.

[2019-02-12 11:42] chriseth opened #5974 "EVMVersion should not be in dev::solidity namespace"
but in langutil.

[2019-02-12 11:49] chriseth opened #5976 "Remove ``escaped`` from CommonIO.h."

[2019-02-12 20:38] ammarqureshi opened #5984 "solc.exceptions.SolcError"
OS: MacOs Mojave
I am new to solidity and was following the docs to install the solidity compiler. I successfully installed the solidity compiler.
However, when following one the web3.py example:

[code]

I encounter the following error:
[code]

[2019-02-12 21:53] come-maiz opened #5985 "The solc snap fails to build because it needs a newer z3"
## Description

The [solc snap is failing to build](https://launchpadlibrarian.net/411054626/buildlog_snap_ubuntu_bionic_arm64_solidity_BUILDING.txt.gz) because it now requires z3 4.6.0 or higher.

This version is not in the ubuntu archive, so we will have to build it from source. PR coming...

[2019-02-13 07:32] dwalintukan opened #5987 "Error installing on Mac OSX with latest version 0.5.4"
Here is the stacktrace for `brew install solidity`:
[code]

Here is the `CMakeCache.txt`:
[code]

[2019-02-13 08:30] chriseth commented on #5985
Note that you can also use cvc4, this is what we do for the PPA ubuntu release!

[2019-02-13 08:36] chriseth commented on #5984
You seem to be using the "combined-json" way for compiling. This is a legacy feature we do not fully support anymore. The "clone binary" (`clone-bin`) option was removed a while ago, for example.

Please take a look at the [py-solc documentation](https://pypi.org/project/py-solc/) and look for `Standard JSON Compilation`.

Please reopen if you encounter further problems.

[2019-02-13 08:36] #5984 closed, assigned to nobody

[2019-02-13 08:59] erak commented on #5987
Hey @dwalintukan, could you try to update your boost version? The log says that you have boost 1.60 installed, but 1.65 is needed:
[code]

[2019-02-13 10:06] chriseth commented on #5987
I think we should add that as a requirement to the homebrew file...

[2019-02-13 11:36] bshastry opened #5991 "Solc throws exception while parsing strict assembly code containing jump instruction"
## Description

Because `AsmAnalyzer`'s  `m_errorTypeForLoose` explicitly initialized to `boost::none` in its constructor, assertions that depend on it will fail if it has not been set before.

This is where explicit (un)initialization happens
https://github.com/ethereum/solidity/blob/develop/libsolidity/interface/AssemblyStack.cpp#L106

And this is where the assertion fails
https://github.com/eth

[2019-02-13 13:49] chriseth opened #5992 "Switch Solidity inline assembly from "loose assembly with errors" to proper strict assembly"
In Solidity, ``Parser::parseInlineAssembly``, we still use a dilect of ``looseAssemblyForEVM``. This should switch it to strict assembly.

[2019-02-13 14:58] #5985 closed, assigned to nobody

[2019-02-13 15:35] Amxx opened #5997 "InternalCompilerError when upgrading to solidity 0.5.4"
The following code works just fine with `solc 0.5.3`

[code]

However, when moving to `solc 0.5.4` (other parts of my code could benefit from calldata structs) I get an error:

`InternalCompilerError: Non-padded and in-place encoding can only be combined.`

Apparently its the `ecrecover` call that fails, if I comment it and replace it with `return address(0)` the compilation passes.

[2019-02-13 15:58] bshastry commented on #5997
Thank you for reporting the bug @Amxx

Using our libfuzzer setup, a more concise proof-of-bug program is the following

[code]

[2019-02-13 22:40] BrendanChou opened #6001 "Incorrect topic[0] hash for Events that have Structs"
## Description

When hashing for the topic[0] of an event, solidity uses the name of the struct rather than the canonical type (which is a tuple, at least when calculating hashes for function signatures).

## Environment

- Compiler version: 0.5.4 stable
- Framework/IDE: Truffle

## Steps to Reproduce
Given:
[code]

`Loggy` has a topic[0] of: `keccak256("Loggy(uint256,LibName.StructName)")`
but it

[2019-02-14 02:46] MicahZoltu commented on #498
What is the proper way to signal support/desire for features in this project?  Is adding a 👍 reaction to the original noticed by anyone, or is there a better way to say, "I could really use this feature too"?

[2019-02-14 11:18] ekpyron commented on #498
@MicahZoltu I think a comment saying "I could really use this feature too" will probably work best :-). At least I noticed that one and hadn't noticed the :+1: reaction.

[2019-02-14 11:51] bshastry commented on #5991
This issue reappears despite the fix in #5993 , this time with the `--optimize` flag.

(Closing the reopened issue since this is now tracked in an independent issue #6019 )

Reproduction:

[code]

[2019-02-14 12:03] bshastry opened #6005 "GitHub repo for Solidity fuzzing corpus"
## Description

At the moment, the ossfuzz build script picks up all solidity/yul test inputs to seed fuzzing. This is sub-optimal because several test inputs are redundant and several others give the fuzzer a hard time e.g., needlessly big source file.

It would be nice if we could have a separate repo for fuzzer test input per fuzzing target. We could have a repo called `ethereum/solidity-fuzzin

[2019-02-14 12:18] leonardoalt opened #6006 "[SMTChecker] Compound assignment operators"

[2019-02-14 12:18] ekpyron opened #6007 "Find the lost AppVeyor tests."
AppVeyor doesn't seem to run on our PRs anymore (does anybody have a counterexample?), so we should check why that is.

[2019-02-14 12:26] leonardoalt commented on #5903
- [x] weak_random.sol - Caused by struct assignment, fixed in #6008
- [ ] rubixi.sol - Caused by no support to compound operators #6006

[2019-02-14 12:34] leonardoalt opened #6009 "[SMTChecker] Run smoothly on Mythril examples"
https://github.com/ConsenSys/mythril-classic/tree/develop/solidity_examples

[2019-02-14 12:35] ammarqureshi commented on #5984
@chriseth I tried following the doc you provided.
With standard JSON compilation, I have:
[code]

I get the following error:
[code]

[2019-02-14 13:40] bshastry opened #6011 "Memory leak totaling 920 bytes across 11 allocations"
## Description

The following contract leaks memory as mentioned in the title.

[code]

## Environment

- Compiler version: latest develop commit
- Target EVM version (as per compiler settings): n/a
- Framework/IDE (e.g. Truffle or Remix): n/a
- EVM execution environment / backend / blockchain client: n/a
- Operating system: Ubuntu bionic

## Steps to Reproduce

[code]

[2019-02-14 13:54] erak commented on #6007
AppVeyor does run the the tests, but it doesn't communicate with Github anymore. You're account needs to be linked with the `ethereum-free` one. @chriseth can probably help with the missing permissions.

[2019-02-14 14:03] Marenz commented on #5712
I am pretty much done with this. Only thing left is this:

https://codecov.io/gh/ethereum/solidity/src/develop/libsolidity/analysis/TypeChecker.cpp#L2275

I couldn't find a way to trigger it. @ekpyron said it might be related to 30d9961efb7c0056a2b189b642489bee92048442

I have a suspicion that the case can't happen anymore.. but I don't enough to say for sure.

[2019-02-14 14:34] ekpyron commented on #5984
@ammarqureshi Try:
[code]

[2019-02-14 15:09] 3esmit opened #6012 "abi.decode cannot decode `msg.data`"
I'm trying to use `abi.decode` to decode abi encoded calls.

I noticed that this is not possible because `abi.decode` fails to shift out the "msg.sig", the first 4 bytes.

[code]

This is the result:
[code]

I noticed that if I remove the 4 bytes from start and it decodes correctly:
[code]

Using data (with bytes4 msg.sig):
[code]

Cropping out the msg.sig:
[code]

I tried ` abi.decode(msg.data, (

[2019-02-14 15:33] ekpyron commented on #6012
Yes, ``abi.decode(msg.data, (bytes4,uint256));`` will not only skip the first 4 bytes, but assume that the ``bytes4`` part is padded to 32 bytes - that's why it reverts due to the payload being too small.
This is a known limitation (although I don't think it was tracked on github before, so thanks for reporting!) and should definitely be fixed, but I'm not sure about the current plans (@chriseth,

[2019-02-14 15:46] ammarqureshi commented on #5984
@ekpyron I've tried running your code:

[code]

Seems to give the same issue:
[code]

[2019-02-14 18:06] bshastry opened #6013 "Implement YUL optimizer"
## Abstract

#3638 depends on this issue being fixed. ATM, differential fuzz testing cannot take place.

## Motivation

At the moment, invocation of yul optimization is forbidden through the command line by this line of code

https://github.com/ethereum/solidity/blob/690edc8bc9ca82602ec04590fe68251fc173fc41/solc/CommandLineInterface.cpp#L868-L872

Furthermore, there is an assertion inside Assembly

[2019-02-14 18:23] ekpyron commented on #5984
Ah, sorry, I hadn't read the issue carefully and didn't realize that you're referring to python. You need a proper python multiline string, try:
[code]

[2019-02-14 18:32] ammarqureshi commented on #5984
@ekpyron got another error:

[code]

The contract code:

[code]

When I run ``` pip install py-solc``` I got:
[code]

[2019-02-14 18:33] ekpyron opened #6014 "Grammar should be more visible in the docs."
The solidity grammar is extremely well hidden away in
``Solidity In Depth -> Miscellaneous -> Cheatsheet -> Language Grammar``.
I would say it deserves a top-level entry in ``Solidity In Depth`` or *at the very least* in ``Solidity In Depth > Miscellaneous``.

[2019-02-14 18:38] ekpyron commented on #5984
Well, you need to use the right compiler version - which one are you aiming for? ``solc --version`` should tell you that. Or you replace ``pragma solidity ^0.4.21;`` by ``pragma solidity >0.0.0;`` to match all compiler versions. Depending on the version you're using you might have to update the Code to be compatible with it as well (e.g. starting from ``0.5.0`` you need to use ``constructor()`` in

[2019-02-14 18:41] ekpyron commented on #5984
From the error message it looks like you're using solc version 0.5.4, so you need to change the contract code to:
[code]

[2019-02-14 19:04] ammarqureshi commented on #5984
@ekpyron Thanks for the above response, learning quite a bit here.

Now that the previous way of compiling is not fully supported, how would we go about getting the abi and the bytecode?

The web3.py docs example shows:
[code]

After compiling the script:

[code]
I get:
[code]

[2019-02-14 19:30] AntonioJuliano commented on #6001
Also as another example, if you have:

[code]

`LogInLibrary` will have a topic[0] / signature of: `keccak256("LogInLibrary(uint256,LibName.StructName)")` (notice that `LibName.` is still included even though it's not in the solidity code because the struct is defined within that file)

[2019-02-14 19:49] ekpyron commented on #5984
For that you can refer to the documentation of the standard-json interface: https://solidity.readthedocs.io/en/v0.5.4/using-the-compiler.html#compiler-input-and-output-json-description
Especially the part concerning ``outputSelection``. You should find all the information you need to adjust the query to your needs there.

[2019-02-14 22:18] ammarqureshi commented on #5984
Thanks for the response. I have managed to retrieve the bytecode object with:
[code]
However, having bit of a trouble with retrieving abi.
This is what I get back with ``` compiled_sol['contracts']['Foo.sol']['Greeter']['metadata'] ```
[code]

I thought to get abi it would be similar to getting the bytecode object.

[code]
but instead I get:
[code]

[2019-02-14 22:45] ChrisChinchilla commented on #5893
Can everyone in this issue check if the fix in https://github.com/ethereum/solidity/issues/5893#issuecomment-462275471 works?

[2019-02-14 22:46] ChrisChinchilla commented on #5894
@jbeard4 There seemed to be a fix to a related issue here - https://github.com/ethereum/solidity/issues/5893#issuecomment-462275471

Can you let me know if that works for you?

[2019-02-14 23:34] axic opened #6015 "Optimisation rule for replacing div/mul with shr/shl"
With Constantinople we have SHL/SHR opcodes and the codegen already utilises that if shift operators are being used. There is also an optimisation rule to replace shifts of constants with a constant.

However due to a missing feature (passing EVM version) to simplification rules we do not have any to transform div/mul.

The rule should be as follows:
- `div(x, y)` where y is a power of 2 can be tr

[2019-02-14 23:41] axic commented on #4675
@chriseth hmm I do not remember what this supposed to mean. You can close if neither you remember :wink:

[2019-02-15 01:49] 3esmit commented on #6012
So I would expect some way more convenient to decode this ABI calldata.

what about `abi.decodeCall(data, expectedSig, types)` where the first 4 bytes must match the expectedSig?
Such as `abi.decodeCall(data, bytes4(keccak256("bar(uint256,address)")), (uint256,address))`
My use case is not with msg.data, but it decodes that type of abi.

Or perhaps `abi.decodeCall(data, Foo.bar(uint256,address))`,

[2019-02-15 01:51] 3esmit commented on #6012
In another contract I've written, I did like this to decode the abi of call:

[code]

[2019-02-15 10:08] 77liyan commented on #3076
I met the same problem, how to solve

[2019-02-15 10:17] hadv commented on #5139
same issue, what's the workaround for the issue? Thanks!

[code]

[2019-02-15 12:54] ekpyron commented on #5984
You should count the brackets in the output ;-).

[2019-02-15 13:22] purbanow commented on #5139
+1

[2019-02-15 13:36] ammarqureshi commented on #5984
@ekpyron

[code]

I still get the same error:
[code]

[2019-02-15 13:42] ekpyron commented on #5984
Actually this is the wrong place to ask these questions, since the issues you're having are specific to  py-solc, resp. python, not to solidity :-). That being said I guess that the python API just passes you the metadata as string and does not parse it as a python data structure, so you can't access it using ``['...']``, but you have to use some other means to parse it (which is another issue tha

[2019-02-15 13:46] ammarqureshi commented on #5984
my bad I did not know. Anyways, thanks for the previous help! 👍

[2019-02-15 13:54] ekpyron commented on #6015
Might it make sense to just always add these rules and always translate to shifts and only to replace all shifts back to ``div`` and ``mul`` during EVM bytecode generation (at that stage we need to know the EVM version anyways)?

Also: we probably need more rules than that for the shifts? Like associativity rules and merging sequences of shifts when possible? What about mixing mul/div and shl/shr

[2019-02-15 14:07] axic commented on #6015
Well currently these rules are applied *after* code generation.

That could be useful. Could also be added right now without any risk as long as the rules depend on `shl`/`shr` being present as that suggest the code was already compiled for constantinople.

I think this also could be added without risk as long as it depends on `shl`/`shr` being present in the first place.

[2019-02-15 14:16] ekpyron commented on #6015
Yes, I haven't thought that through - but the rules are not only applied after code generation, but also in the yul simplifier before code generation...
But anyways: we could still always convert to shifts and in the case of old evm versions just have another pass after running the rules that will replace all shifts with mul/div again. This would allow us to simplify code generation for shifts (we

[2019-02-15 14:18] axic commented on #6015
I think that might be a good idea. I think the rule list should be run after applying that "final" pass though.

[2019-02-15 14:18] ekpyron commented on #6015
More generally it might be possible to always generate byte code for the most recent evm version first and optimize that and have a dedicated pass afterwards that "downgrades" the generated byte code to be compatible with older EVM versions - we'd need to think about whether that's possible, though (e.g. for things like staticcall, etc.).

[2019-02-15 14:19] ekpyron commented on #6015
I'm not sure - why would we want to run this pass before optimization and not after? Ideally the result would be the same and we wouldn't need to let the rules depend on the evm version.

[2019-02-15 14:22] axic commented on #6015
After you have replaced a shift with multiplication for example it might be apparent that you can combine two multiplications (`mul shl` -> `mul mul` -> `mul`).

Also keep in mind that different "evm versions" (more like hard forks) can command different gas costs for instructions and this influences certain optimisation steps (for example the constant optimiser).

[2019-02-15 14:25] ekpyron commented on #6015
The question is: might the ``mul shl``->``mul mul``->``mul`` simplification be worth it, even if we have shifts available? That probably depends on the values :-)...

[2019-02-15 14:26] axic commented on #6015
This is the exact question I was contemplating, but if I remember correctly the rule list does a gas calculation after an iteration to see if it is worth it. So potentially could do the mul rule even if shift is used 😉

[2019-02-15 14:35] ekpyron commented on #6015
In any case, in the meantime I tend to agree that we might want to pass the EVMVersion to the rule list: even if we replace all shifts before applying the rules, we still need to disable the ``mul->shl`` rule.
The question is: what about the yul simplifier? It should probably be EVM-version-agnostic (resp. bytecode agnostic in general) - but does that mean it should do ``mul->shl`` or ``shl->mul``

[2019-02-15 14:59] ekpyron commented on #6015
Does it? Check the gas benefit I mean? I'm not too familiar with the bytecode optimizer code, but I wouldn't see where it'd do that - and it'd be tricky anyways - ``shl->mul`` would always be bad in one iteration, but might be worth it after another step doing ``mul mul->mul``... the only way to always be optimal here would probably be backtracking, wouldn't it?

If we did check the gas costs for

[2019-02-15 15:17] samiaMH commented on #5781
@aiak0s  u solved this problem ?

[2019-02-15 15:32] smeis commented on #5893
I've tried a lot of different things but I still get an error. The output seems slightly different from last time but looks mostly the same.

Tried the following:
- unlink/link boost before installing solidity
- uninstall boost, install solidity
- uninstall both z3 and boost, install solidity
- I even removed my holy Xcode and tried to install solidity

The error is the same everytime:

[code]

[2019-02-15 18:51] onigiri-x commented on #232
Whats the status on this piece?

[2019-02-15 20:57] ChrisChinchilla commented on #5139
I will look at this next week everyone and attempt to figure out a solution.

[2019-02-15 21:04] ChrisChinchilla commented on #5893
@smeis Hmm, can you maybe send you whole log file to me at chris.ward@ethereum.org, I'm clutching at straws, but mind find something :/

[2019-02-16 14:29] axic commented on #5875
@leonardoalt this would be important to fix because it is a hard crash 😉

At least having an assertion is a good step.

[2019-02-16 22:12] #4636 closed, assigned to nobody

[2019-02-17 16:55] smeis commented on #5893
Will do

[2019-02-18 06:49] dwalintukan commented on #5987
@erak Just checked and brew had two versions of boost installed. I uninstalled both boosts and solidity then reinstall and works great now 👍

Thank you!

[2019-02-18 06:49] #5987 closed, assigned to nobody

[2019-02-18 09:19] chriseth commented on #6012
The purpose of `abi.decode` is ABI decoding. `msg.data` is not ABI encoded, so it cannot be used there.

I think a single call to `calldatacopy` is a good way to solve this problem. I think introducing a new member of `msg` that represents only the post-signature part might be another solution.

[2019-02-18 10:48] Marenz commented on #4185
After clarification with @chriseth: Should become an actual error and is not a breaking change as the documentation never said it's possible

[2019-02-18 10:48] Marenz commented on #4185
@leonardoalt if you are not actively working on this, I'd take over?

[2019-02-18 11:31] Marenz commented on #4185
Leo verbally confirmed in the meeting, taking over.

[2019-02-18 11:39] ekpyron commented on #6012
@chriseth What about subranges for arrays? Like ``msg.data.subrange(4,-1)`` or something like that? That would be the most general solution and would be possible if we keep the array length on the stack anyways...

[2019-02-18 11:49] bshastry opened #6019 "solc throws exception when optimizing strict assembly code containing the jump instruction"
## Description

Strict assembly optimization throws exception (most likely related to #5991 )

The assertion happens in this function. I am not sure why the Yul analyzer is being called since we explicitly ask for strict assembly on the command line.

What may explain the assertion is that `jump` is invalid yul code.

https://github.com/ethereum/solidity/blob/db7b38e3c45e092e278fbcfe894ff61340d1d0

[2019-02-18 11:50] #5991 closed, assigned to bshastry

[2019-02-18 13:10] bshastry commented on #6013
Closing issue since I should have been differentially testing the **StrictAssembly** optimizer and not Yul.

[2019-02-18 13:10] #6013 closed, assigned to nobody

[2019-02-18 13:11] chriseth commented on #6015
The gas calculation just counts instructions, not their cost, if I remember correctly.

[2019-02-18 13:19] chriseth opened #6021 "[Yul] Function definitions do not block scope early enough"
Found by @bshastry :

The following compiles:
[code]

While this does not compile:
[code]

The reason is that functions are registered only when they are visited during the AST traversal, even though they are visible in the full block they are defined in.

As a proposed fix, it might make sense to first visit all FunctionDefinitions inside a Block and then all other statements, since functions ope

[2019-02-18 13:23] chriseth commented on #232
Status is "Neither fully specified nor planned".

[2019-02-18 13:39] chriseth commented on #3076
@77liyan Did you follow the instructions here https://github.com/ethereum/solidity/issues/3076#issuecomment-336503636 ?

[2019-02-18 13:55] chriseth commented on #6005
Sounds good!

[2019-02-18 13:58] 3esmit commented on #6012
Can we have a method for decoding msg.data.
What is the coding of msg.data called? I mean the "4bytes" + data.
It is very useful for approveAndCall pattern I have to deal with to make MiniMeToken, which uses this function with calldata embedded.
I see some ways around this, like a self call using that parameters, but this seems less "human readable" then processing it inside receivedApproval metho

[2019-02-18 14:19] Marenz commented on #5976
Did you mean https://github.com/ethereum/solidity/blob/develop/libdevcore/CommonData.h#L180 ? I couldn't find any escaped in CommonIO.h
 And the actual implementation was already removed by you in cd22da1d9e77a9a7b6fe3ecf5bd828977acc6282

[2019-02-18 14:26] Marenz commented on #4558
Is this ticket blocked by https://github.com/ethereum/solidity/pull/3729 or is there a concrete next step that can be taken to close this?

[2019-02-18 14:36] chriseth opened #6025 "Remove ASTPrinter"
Alternative solution for https://github.com/ethereum/solidity/issues/5253

This is about the legacy text-based ast printer in the commandline interface probably nobody is using.

[2019-02-18 14:44] chriseth commented on #4558
Not sure - what do you think, @axic?

[2019-02-18 14:46] #5976 closed, assigned to Marenz

[2019-02-18 14:57] axic commented on #6025
I thought I've created an issue to propose this a month ago when going through the issues. I'm 👍

[2019-02-18 15:25] chriseth commented on #498
Adding to 0.5.5....

[2019-02-18 15:25] chriseth commented on #498
(no promises, though ;) )

[2019-02-18 15:28] chriseth commented on #5712
If you cannot trigger it, please turn it into an assertion.

[2019-02-18 15:47] #6021 closed, assigned to nobody

[2019-02-18 16:41] chriseth commented on #5875
If it's important, let's take it into scope.

[2019-02-18 16:44] chriseth commented on #4675
🤷

[2019-02-18 16:44] #4675 closed, assigned to nobody

[2019-02-18 17:58] chriseth commented on #6001
Thanks for the great find! From the examples, it sounds like a library needs to be involved somehow. Is that true?

[2019-02-18 21:12] #5927 closed, assigned to Marenz

[2019-02-18 23:07] leonardoalt opened #6031 "[SMTChecker] AST Simplifier: Guard the rest of a scope after an early return"
[code]
Currently the SMTChecker will give a false positive saying `a` can be 0 (division by 0).
The early return needs to be taken into account in the current path conditions.

[2019-02-19 09:19] Marenz commented on #4185
@axic your second example

[code]
Results in `    DeclarationError: (58-65): Multiple matching identifiers. Resolving overloaded identifiers is not supported.`
for me, no matter whether I use a space between `=` and `:` or not

[2019-02-19 10:28] Marenz commented on #5875
So the problem is that the SMTChecker visits a `Literal` (the `3` from the declaration I assume) which has a `annotation()->type()` of `nullptr` and it doesn't check for that.

What I am wondering is whether it should be checked for nullptr or whether it should actually have a type.

[2019-02-19 10:33] Marenz commented on #5875
This is the offending function https://github.com/ethereum/solidity/blob/develop/libsolidity/formal/SMTChecker.cpp#L658

[2019-02-19 10:34] leonardoalt opened #6032 "[SMTChecker] Simplify AST before SMTChecker"
The Solidity AST could be simplified syntactically to make it easier for the SMTChecker.

- [ ] Replace compound assignments by the full expression #6033
- [ ] Guard the rest of a scope after a return #6031
- [ ] Unary increment/decrement
- [ ] Remove redundant "tuples" like in `(((x)))`

More ideas?

[2019-02-19 10:36] leonardoalt opened #6033 "[SMTChecker] AST Simplifier: Replace compound assignments by the full expression"

[2019-02-19 11:19] Marenz opened #6035 "Provide a default value for ipc option for isoltest & soltest that matches aleth"

[2019-02-19 13:07] #5728 closed, assigned to ChrisChinchilla

[2019-02-19 13:09] chriseth commented on #4185
@Marenz even if you write `function f() public pure returns (bool success)`?

[2019-02-19 13:19] chriseth commented on #5875
I think the fix would be to re-assign the value computed in ReferencesResolver.cpp:251 back to `length->annotation().type`, or just make `lengthTypeGeneric` a reference.

[2019-02-19 13:21] chriseth commented on #6032
Remove redundant "tuples" like in `(((x)))`.

[2019-02-19 13:28] #3871 closed, assigned to nobody

[2019-02-19 13:36] #5997 closed, assigned to chriseth

[2019-02-19 14:24] chriseth opened #6037 "[Yul] Performance: Clear RedundantAssignEliminator's state once it enters a function definition"
or perhaps better: create a new instance.

[2019-02-19 14:27] axic opened #6038 "Compare gas costs for the old ABI encoder and the new ABIEncoderV2"
Should compare the deploy time and the runtime costs.

Take the following settings:
- non-optimised old ABI encoder,
- optimised old ABI encoder,
- non-optimised new ABI encoder,
- yul optimised new ABI encoder,
- yul + evmasm optimised new ABI encoder

Perhaps pompare a calldata struct in ABIEncoderV2 with a list of parameters in V1.

Run these on a set of "real-world" contracts, such as:
- gnosi

[2019-02-19 14:47] chriseth commented on #649
Quick decision by show of hands during meeting: In favour for `abstract contract` instead of `contract abstract`.

[2019-02-19 14:55] chriseth commented on #649
To clarify the implementation proposal again:

 - cannot be applied to interfaces (for now)
 - cannot be applied to libraries (for now)
 - abstract is a setting for the contract
 - if `!isFullyImplemented()` (as implemented now) has a different value than `abstract()`, issue a warning.

[2019-02-19 14:57] chriseth commented on #649
Idea by @axic: An empty contract should be considered not implemented (and thus require `abstract`).

[2019-02-19 14:59] chriseth commented on #3572
Decision by show of hands: let's call it `push()` and it returns a reference to the newly created array element.

[2019-02-19 15:59] chriseth commented on #3198
Proposal by @axic: Call the function `receiveEther() payable { ... }` to make it more explicit. After all, the community should move away from plain Ether anyway, so it is good to make it explicit.

Only called with zero data and non-zero value.

Fallback function (`fallback() [payable] [returns (bytes memory)] { ... }`) reverts by default. It is called if no other function matches.

If there is a

[2019-02-19 16:02] chriseth commented on #3198
There can only be at most one fallback function. Also of course at most one `receiveEther` function.

[2019-02-19 16:11] axic opened #6040 "Reserve keywords for 0.6.0"
- [ ] `copy` (from #2435)
- [x] `virtual` (from #5424)

[2019-02-19 16:37] axic commented on #463
We've discussed this issue on the daily meeting and it seems that potentially #5424 will solve this: if none of the functions (including the constructor) is virtual, then no inheriting contract can change them, effectively making the contract "final".

@androlo @ethers what do you think?

[2019-02-19 16:57] #5875 closed, assigned to Marenz

[2019-02-19 17:19] Marenz commented on #4185
[code]
results in
[code]

No matter if with ` ` or without

[2019-02-19 17:48] BrendanChou commented on #6001
Unsure if the same problem occurs for events defined in contracts

[2019-02-19 20:35] axic commented on #4185
You could coerce it with, but still get other errors:
[code]

However the main point is that if the parser would reject whitespace between `=:` then you would get a parser error, but instead you are getting analysis errors.

[2019-02-19 20:53] Marenz commented on #4185
I can look into why it is accepted

[2019-02-19 23:17] androlo commented on #463
i guess it doesn't address this particular issue since people can still add new functions, but this seems like a non issue in the first place. never heard of someone getting bugs because of this.

[2019-02-20 00:13] ChrisChinchilla commented on #5893
Ok, thanks for that @smeis I am not a developer on the team, so I'm getting a little out of my depth here, but here's the verbose information where your build fails:

[code]

Here's mine where it succeeds:

[code]

So, they are quite different, and again looks like some sort of Xcode issue, but I'm not really sure what it means or to do about, more hoping that someone else may be able to figure it

[2019-02-20 09:23] chriseth opened #6044 "[Yul] Remove gas meter test workaround when we can enable the yul optimizer"
Some checks in the GasMeterTestFramework are skipped when the tests are forced to ABIEncoderV2. This is because without the yul optimizer turned on, the generated code is so complicated that the gas meter cannot estimate the gas anymore. This should not be the case once yul optimizations are activated and these skips should be removed again.

[2019-02-20 09:30] chriseth commented on #4185
I'm actually not sure whether we should waste so much time on `=:`...

[2019-02-20 09:46] Marenz commented on #4185
Well, I checked and the answer is simple.. it's different from normal assignment because that is `:=` not `=:`. I didn't touch `=:` because I didn't notice that it is different

[2019-02-20 10:44] #5566 closed, assigned to nobody

[2019-02-20 10:45] leonardoalt commented on #5302
Done in #5999

[2019-02-20 10:45] #5302 closed, assigned to leonardoalt

[2019-02-20 11:25] leonardoalt opened #6048 "[SMTChecker] Support array members"
- [ ] length: could be a symbolic function `length` over arrays. https://github.com/ethereum/solidity/pull/8848
- [ ] push https://github.com/ethereum/solidity/pull/8916
- [ ] pop https://github.com/ethereum/solidity/pull/8916

[2019-02-20 12:15] flipchan commented on #5728
@ChrisChinchilla
sorry for the late reply, stuck at 12%?
are you running openbsd 6.4?

[2019-02-20 13:59] #6001 closed, assigned to chriseth

[2019-02-20 14:19] #6019 closed, assigned to chriseth

[2019-02-20 14:58] leonardoalt opened #6050 "[SMTChecker] Support memory array allocation"
For example:
[code]

[2019-02-20 14:58] leonardoalt opened #6051 "[SMTChecker] Support array literals"
[code]

=>

[code]

[2019-02-20 15:06] leonardoalt opened #6052 "[SMTChecker] Support conversion from string to bytes"

[2019-02-20 15:13] Marenz commented on #4582
Closing as duplicate of https://github.com/ethereum/solidity/issues/5143

[2019-02-20 15:13] #4582 closed, assigned to nobody

[2019-02-20 15:15] leonardoalt opened #6054 "[SMTChecker] Support string literals"

[2019-02-20 15:34] #5143 closed, assigned to Marenz

[2019-02-20 17:08] #5712 closed, assigned to Marenz

[2019-02-20 17:34] axic commented on #4558
You are right, I think it would simplify the situation.  It is a low-priority issue so I would suggest to perhaps postpone it until that is solved.

[2019-02-20 17:39] chriseth commented on #4674
@vs77bb could you please award half of the bounty to @meowingtwurtle for the initial work he has done on this? Thanks!

[2019-02-20 18:31] flipchan commented on #5728
@ChrisChinchilla maybe its the vm that freeze? try running it in tmux and just leaving the vm to run for like an hour

[2019-02-20 22:19] chriseth opened #6056 "[Yul] Compilability checker does not work on Yul objects"
test.yul:
[code]

`solc --strict-assembly --optimize test.yul`

[code]

[2019-02-20 22:20] axic opened #6057 "SMTchecker crash with unsupported array in struct"
Found by ossfuzz (13237)

[code]

results in
[code]

[2019-02-20 22:22] chriseth commented on #6056
We need to run the code in `EVMObjectCompiler::run` before we invoke the compilability checker - or (perhaps better) just ignore object features since the compilability checker is only about stack access.

Since we also have a `NoOutputAssembly`, we could create something like a `NoOutputDialect` and pass that in.

[2019-02-20 22:44] axic commented on #5810
I think here you mean `(x & 0xff) >> (256 - 8)` to be replaced with `x >> (256 - 8)`.

[2019-02-20 23:55] axic opened #6058 "Optimizer step to replace and(x, 1) with iszero(iszero(x))"
`and(x, 1)` should cost 3+3 gas plus the cost of the `1` literal, whereas `iszero(iszero(x))` should cost only 3+3 gas.

The added benefit is that `iszero(and(x, 1))` would be eventually reduced to `iszero(x)`.

[2019-02-20 23:58] axic commented on #6058
@chriseth @ekpyron do you see any potential problems?

[2019-02-20 23:59] axic commented on #6058
Never mind, it was too late :)

[2019-02-20 23:59] #6058 closed, assigned to nobody

[2019-02-21 00:11] ChrisChinchilla commented on #5452
@jolestar We're now testing this in https://github.com/ethereum/homebrew-ethereum/pull/212

[2019-02-21 02:34] nuevoalex opened #6061 "Cyclic Imports are not possible in 0.5+"
## Description / Steps to Reproduce

Interaction: I have two contracts:

#### `Parent.sol`
[code]
#### `Child.sol`
[code]

Prior to 0.5 this can be achieved in my code base by using an empty prefix remapping. As that is no longer permitted in 0.5+ I attempted to use a prefix of `ROOT` and added this to my imports. However this results in errors such as:

[code]

I believe this is due to how the fi

[2019-02-21 07:47] Marenz opened #6062 "Potentially unreachable code in TypeChecker.cpp"
See the red llines in
 https://codecov.io/gh/ethereum/solidity/src/develop/libsolidity/analysis/TypeChecker.cpp#L2275

I couldn't find a way to trigger it. @ekpyron said it might be related to [30d9961](https://github.com/ethereum/solidity/commit/30d9961efb7c0056a2b189b642489bee92048442)

[2019-02-21 09:01] chriseth commented on #6061
Could you provide the full commandline or standard-json input you use for this? Thanks!

[2019-02-21 09:06] chriseth commented on #6062
Please turn them into assertions.

[2019-02-21 12:07] axic commented on #5682
Suggestion from @chriseth: only allow changing these settings prior to parsing.

[2019-02-21 12:11] #4700 closed, assigned to nobody

[2019-02-21 12:14] axic commented on #6061
I wonder what is the reason for doing it this way and not by creating interfaces?

[2019-02-21 12:20] chriseth commented on #6001
@BrendanChou no worries, it has been fixed already :)

[2019-02-21 13:31] chriseth opened #6066 "Standard-compiler: File-wildcard does not trigger "binariesRequested""
Input:
[code]

This does not trigger bytecode generation because of the `"*"`-match. The bytecode is part of the output, but empty.

[2019-02-21 13:40] #6035 closed, assigned to Marenz

[2019-02-21 13:40] #6056 closed, assigned to nobody

[2019-02-21 13:43] #4185 closed, assigned to Marenz

[2019-02-21 14:12] smeis commented on #5893
Hm yeah it seems some flags are added on my machine. I'll see if I can find out why this is happening.

[2019-02-21 17:49] chriseth opened #6069 "Run all tests with ABIEncoderV2 and activated yul optimizer, too"

[2019-02-21 20:58] #6037 closed, assigned to nobody

[2019-02-22 00:40] nuevoalex commented on #6061
@axic For the real use case this is actually occurring with interfaces where interface A imports interface B which imports interface A. I'm currently bypassing this in our case by manually skipping those contract interfaces in the compilation step.

@chriseth : Similar to the one in the previous issue
[code]

[2019-02-22 13:13] vdrg commented on #6012
@chriseth `calldatacopy` won't work if you are trying to decode a `bytes` given as a parameter :disappointed:

`abi.decodeWithSignature` sounds like the best solution, being a function to reverse `abi.encodeWithSignature`

[2019-02-24 01:13] BrendanChou opened #6075 "Optimized Compiler failing to optimize simple functions"
## Description

solc 0.5.4 with optimizer runs is failing to properly optimize simple functions such as those in SafeMath as compared to using assembly.

See https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1635

## Environment

- Compiler version: 0.5.4 (Optimizer with at least 200 runs)
- Framework/IDE (e.g. Truffle or Remix): both Remix (200 runs) and Truffle (10000 runs)

[2019-02-25 08:10] YannickXiong opened #6076 "addr.call(abi.encodeWithSignature()) did not work for several situations."
pragma solidity ^0.5.3;

    contract SimpleFallback{
        event FallbackCalledEvent(bytes data);
        event AddEvent(uint a, uint b, uint result);
        event DoubleEvent(uint a, uint b);
        event GetNameEvent(string);

        function() external{
            emit FallbackCalledEvent(msg.data);
        }

        function add(uint a, uint b) public returns(uint){
            // asse

[2019-02-25 08:16] bshastry commented on #6005
@chriseth great, I don't have the permissions to create repo. Could you please do it for me? Thanks

The repo can be called `solidity_fuzzing_corpus` or something like that.

[2019-02-25 08:39] bshastry opened #6077 "mstore at far away addresses slows down the yul interpreter"
## Description

The Yul interpreter takes a long time to interpret stores at far-away addresses.

Example
[code]

Likely cause is the for loop in the second link.

The interpretation of mstore happens here
https://github.com/ethereum/solidity/blob/46a9ed12da07e626e2cedbf20a8baa357a073758/test/tools/yulInterpreter/EVMInstructionInterpreter.cpp#L272-L275

Here, memory contents are printed out starti

[2019-02-25 09:14] axic commented on #6077
I think it should only dump the modified area with `...` prepended/appended if there is available memory before/after.

[2019-02-25 10:16] chriseth commented on #6075
Could you be more specific? What is your expectation and what does the compiler do?

[2019-02-25 10:30] chriseth commented on #6076
You have to use the full names of the types, not their aliases, so it should be `uint256` instead of `uint`.

[2019-02-25 10:30] #6076 closed, assigned to nobody

[2019-02-25 10:32] chriseth commented on #6005
Created and added you as admin: https://github.com/ethereum/solidity-fuzzing-corpus

[2019-02-25 10:41] chriseth commented on #6077
I agree - there is a TODO in the code that asks for a "vector with holes" to be used for memory.

[2019-02-25 10:48] chriseth commented on #6077
If you think that the logging is the problem instead of just storing the memory, we could also just get rid of the dump.

[2019-02-25 10:54] ChrisChinchilla commented on #5893
@gwiily @VasilyevAA @arnigudj does any of this discussion help resolve your issues?

[2019-02-25 11:31] bshastry opened #6078 "extcodecopy with large size parameter drains yul interpreter memory"
## Description

This code
[code]

makes the interpreter allocate a large amount of memory in one chunk and slows it down.

[2019-02-25 12:30] #4672 closed, assigned to ChrisChinchilla

[2019-02-25 12:43] YannickXiong commented on #6076
@chriseth Thanks, I tried as you said, and it did work. Bye the way, I found that there should not be space between parameters, for example, 'other.call(abi.encodeWithSignature("add(uint, uint)", 85, 60));' would not work. Noted it.

[2019-02-25 13:32] chriseth commented on #6078
I think this is a duplicate of #6077

[2019-02-25 13:41] chriseth commented on #6061
@nuevoalex as explained in the previous issue, if you use `"filename": { "urls": [...] }` then the name of the source file is `filename` and not `Parent.sol`. Is this really the full input? I'm asking because it only specifies a single file - is the rest auto-discovered by the compiler?

[2019-02-25 13:50] chriseth commented on #6061
I was able to reproduce it, and in its basic form, it is fully unrelated to remappings.

If the input is in the following form, it does not work:
[code]

If you replace the name of the file by its actual name, though, it works:
[code]

In the first form, you tell the compiler that there is a filename called `filename` with some contents (wherever they may come from). This file thin imports "tradin

[2019-02-25 14:12] erak commented on #5956
After a quick test, adding these seems to need more effort to be put into our script then just adding the URLs:
- PoCo needs `npm ethereumjs-testrpc` which does not work out of the box
- Polymath needs a native `solc` to be installed (need to find out why)
- Horizon breaks while connecting to Ganache because of some network mismatch

[2019-02-25 14:29] axic opened #6084 "Switch EVM version to petersburg by default"
Given "Constantinople" should go live 28th of February and 0.5.0 is planned for 5th of March I'd suggest we switch Constantinople on by default to provide gas savings.

[2019-02-25 14:33] axic opened #6086 "EVM version: "petersburg""
Constantinople was launched on the testnets, but was cancelled last minute on mainnet. It is to be launched on the same block as "Petersburg", which disables "net gas metering" introduced in Constantinople.

Since we do not support net gas metering in the gas estimator this should have no effect for us.

While it feels strange to have two hard forks, which in practice mean a single one, I still su

[2019-02-25 14:34] chriseth commented on #6084
Yep, sounds good!

[2019-02-25 14:38] #5974 closed, assigned to leonardoalt

[2019-02-25 14:50] axic commented on #6084
If agree on #6086 we should actually set it to "Petersburg".

[2019-02-25 14:51] axic opened #6087 "Move extcodehash into Constantinople"
The current code base handles it as an "experimental" opcode, but since we included it in Solidity it was included in Constantinople.

[2019-02-25 14:57] chriseth commented on #6084
I'm not too sure about that. People probably wonder what is meant by that...

[2019-02-25 14:59] ChrisChinchilla commented on #1166
Point 2

Is mostly covered, even though the information is a little disparate and spread out, discussions on conversion generally is a little buried in various places.

[2019-02-25 15:12] ChrisChinchilla commented on #1166
In my opinion, these are all mostly handled throughout the docs now.

[2019-02-25 15:12] #1166 closed, assigned to ChrisChinchilla

[2019-02-25 15:28] bshastry opened #6091 "Returning large segments of memory slows the yul interpreter down"
## Description

[code]

[2019-02-25 15:30] bshastry commented on #6078
@chriseth I don't think so. Disabling memory and storage traces has no effect on this bug.

[2019-02-25 15:35] #1212 closed, assigned to nobody

[2019-02-25 16:28] chriseth commented on #6038
Here are some values for the gnosis safe: https://docs.google.com/spreadsheets/d/158o_8LliRmvph_PcejecP6z0HxevjzzvexHrqOXoF5Q/edit#gid=0

[2019-02-25 16:36] Marenz commented on #5963
#5963 is this issue.. ?

[2019-02-25 16:55] chriseth commented on #5963
I think it's this: https://github.com/ethereum/solc-js/pull/339

[2019-02-25 16:56] chriseth commented on #5963
Actually no, I don't really know what was meant to be linked here.

[2019-02-25 18:37] axic commented on #4605
@leonardoalt @ekpyron is this still missing? Aren't we doing it on one of the builds now?

[2019-02-25 18:38] axic commented on #3858
@leonardoalt is this still relevant?

[2019-02-25 18:38] axic commented on #2878
Closing this since our boost integration changed significantly since 2017.

[2019-02-25 18:38] #2878 closed, assigned to nobody

[2019-02-25 18:48] axic commented on #6061
This also raises the question why do we allow importing files through jsonio which are not specified in the `sources` list?

I think every accessible file should be listed and the read callback is used if they are listed by path/url and not by content.

Doing so would make the behaviour of standard json through `solc` and other means similar.

[2019-02-25 18:57] axic opened #6095 "Number constant too large assertion in SMTChecker"
Found by ossfuzz (12969).

[code]

[code]

It is not the same issue as #5056 as it works if SMT is disabled.

[2019-02-25 19:02] axic commented on #5721
Cleaned up example:
[code]

[2019-02-25 19:05] axic commented on #5721
This is due to allowing `FixedBytesType` to `FixedPointType` conversion in `ast/Types.c`, but actually not having it implemented.

[2019-02-25 19:11] axic commented on #4702
@chriseth any proposal to fix this? Should have a well defined path cleaning step?

[2019-02-25 19:28] axic commented on #5169
Apparently fixed by #5511.

@christianparpart please reopen if it didn't fix it.

[2019-02-25 19:28] #5169 closed, assigned to christianparpart

[2019-02-25 19:30] axic commented on #1042
Now we have 568 cases in `libsolidity` alone. Quite a bit more than the 171 back in 2016.

[2019-02-25 20:50] leonardoalt commented on #4605
@axic True, the arch build does it.

[2019-02-25 20:50] #4605 closed, assigned to nobody

[2019-02-25 20:51] leonardoalt commented on #3858
Probably not.

[2019-02-25 20:51] #3858 closed, assigned to nobody

[2019-02-25 21:20] axic commented on #1447
Now we have `type(C).runtimeCode` and `type(C).initCode`. And #6097 proposes `type(C).name`.

Updated proposal:
* `.signatures` returns `string[]` corresponding to the method signatures (name and parameter types of function) of the contract
* `.selectors` returns `bytes4[]` corresponding to the method selectors (truncated hash signature) of the contract

I'm not sure `.signatures` is needed, but `

[2019-02-25 21:37] AusIV opened #6098 "Designating Unused Variables To Avoid Warnings"
## Abstract

Under certain circumstances, variables must be declared even though there is no use for them. It should be possible to designate these variables as unused to avoid the "Unused local variable" compiler warnings.

## Motivation

Solidity functions can return more than one variable. In a situation where a contract only cares about one of the returned variables, it is still necessary to d

[2019-02-25 22:10] axic commented on #3372
@chriseth should this issue be kept open? Do we need to improve documentation?

[2019-02-25 22:17] BrendanChou commented on #6075
I'm not sure exactly what the compiler output is in either case, but

[code]
is using 38 more gas than:
[code]

There are more examples in the link given. Almost all SafeMath functions are not compiling in an optimal way

[2019-02-25 22:50] chriseth opened #6099 "externalTests.sh does not actually use supplied binary"
I'm pretty sure the way we replace soljson.js in
https://github.com/ethereum/solidity/blob/develop/test/externalTests.sh does not work. truffle just uses a different version that it loads at runtime. We might want to look into using `truffle-config.js` for configuring a locally-supplied version in the following way:

[code]
Where `solc-js` is a directory containing the `solc-js` npm module.

[2019-02-25 23:09] axic commented on #6075
Unoptimised:
[code]

Optimised:
[code]

Where `div2` is the hand written assembly and both are public functions in a contract.

The unoptimised output:
[code]

[code]

[2019-02-25 23:12] axic commented on #6075
The main difference I see is the check for division-by-zero, which you are missing in the hand written version.

We could consider tracking value ranges of variables and due to the `require` statement the code generator could avoid adding the check again. We do this in the SMTChecker but that state is not used anywhere else.

Btw, what is the point of `div` in SafeMath? The compiler generates runt

[2019-02-25 23:17] axic commented on #6075
Btw, what is the point of `div` in SafeMath? The compiler generates runtime assertion for division by zero since mid-2016.

[2019-02-25 23:38] leonardoalt commented on #6057
Crashes exactly in the same place as https://github.com/ethereum/solidity/pull/6034

[2019-02-25 23:39] leonardoalt commented on #6057
@Marenz can you take a look?

[2019-02-26 00:15] #6005 closed, assigned to bshastry

[2019-02-26 02:17] BrendanChou commented on #6075
The newest SafeMath prefers to generate the `revert` opcode instead of the `invalid` opcode. The previous version of `div()` in SafeMath did not do anything besides return `a/b`. I didn't realize that the invalid check was created by the compiler and not the EVM (which will output 0 in the case of a zero divisor)

[2019-02-26 02:27] BrendanChou commented on #6075
Okay it makes sense that the hand-written version is less gas then. One possible compiler optimization that stands out is optimizing to `a>0` be `iszero(iszero(a))` instead of `iszero(iszero(gt(a,0)))` for any unsigned types.

But that's sort of a separate issue, feel free to close this one if it is no longer helpful for you

[2019-02-26 02:30] axic commented on #6075
Should be picked up by the optimiser and replaced with `gt(a,0)` according to the rule list.

Update: the optimiser picks it up correctly.

[2019-02-26 02:38] axic commented on #6075
I think we can add the following new optimiser rules:
- `lt(x, 0)` -> `0` -- since this cannot ever be true, `slt` can be used for two's complement <0 checks
- `gt(x, 0)` -> `iszero(iszero(x))` -- same here, there's `sgt` for signed comparison
- `gt(x, ~0))` -> `0`

The middle rule makes sense because `iszero(iszero(iszero(iszero(x))))` will be picked up and reduced into `iszero(iszero(x))`.

[2019-02-26 02:42] axic commented on #5810
@chriseth can you clarify the proposed rule?

`(x && 0xff) << (256-8)` seems to shift the bottom 8 bits to the top. No masking should be needed here.

When you mean "and similar for shr" do you mean something like: `(x && 0xff0000..000) >> (256 - 8)` ?

[2019-02-26 07:08] hadv commented on #5139
did you find any clue for this? @ChrisChinchilla

[2019-02-26 09:05] Marenz commented on #6057
Will do

[2019-02-26 09:29] chriseth commented on #6038
The previous values might be wrong. I have new ones about the zeppelin tests: https://docs.google.com/spreadsheets/d/1rTq8T2pbhHinmE1pLDEzIGzzUPdn4wmAgGv_hgPgEZI/edit?usp=sharing

In the median, V2 needs only 47 gas more, and the median of the relative change is 0.08%. I will try to split into creation costs and execution costs, though the split can only be done based on gas costs.

[2019-02-26 09:35] bshastry opened #6102 "Internal compiler error when optimizing strict assembly containing extcodehash"
## Description

The solc compiler throws an internal compiler exception stating "invalid assembly/yul code" for the following example

[code]

Minus the `--optimize` flag the compiler throws this warning.

[code]

This warning might be worth throwing even when optimization is requested.

Incidentally, the EVM version set while initializing AssemblyStack seems to be disregarded by the optimize() ca

[2019-02-26 09:44] chriseth commented on #6038
Some of the numbers in the zepplin test set seem to not belong together, but I guess the overall value of 47 gas can still be justified.

[2019-02-26 09:46] chriseth commented on #6098
The recommended way to avoid the warning is to remove the name of the variable and only leave the type. Can you elaborate on why this is not a sufficient solution for you?

[2019-02-26 09:53] chriseth commented on #5810
Yes, the masking is redundant, and because of that `(x && 0xff) << (256-8)` should be replaced by `x << (256-8)`.

The masks before left shift can of course be extended to the left while the masks before right shift can be extended to the right.

So basically, perhaps as a simplification:

`(A && B) << C` -> `(A << C) && (B << C)` and if `B` and `C` are constants, it should solve itself.

EDIT: Ah

[2019-02-26 09:57] chriseth commented on #6075
What are the gas costs of just using division in Solidity compared to the assembly?

[2019-02-26 09:59] chriseth commented on #6075
Value range / condition tracking has been on the roadmap, and I think for the yul optimizer we should really implement it. It should also not be that difficult because we already track the values of variables.

[2019-02-26 10:01] chriseth commented on #6102
Can you check if this has been fixed already by https://github.com/ethereum/solidity/pull/6071 ?

[2019-02-26 10:02] chriseth commented on #1447
Might be a waste of memory, but sounds good!

[2019-02-26 10:24] bshastry opened #6103 "Out of range exception thrown while assembling strict assembly code containing call to datasize"
## Description

The following call leads to an exception

[code]

The stack trace revealed by the fuzzer shows that the problem is from here

https://github.com/ethereum/solidity/blob/97d3b88f65b9ee146d7d799e44d59c3d213a0d96/libyul/backends/evm/EVMDialect.cpp#L59

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): constantinople
- Framework/IDE (e.g

[2019-02-26 10:28] bshastry commented on #6102
@chriseth I checked, this bug still reproduces on latest develop.

[2019-02-26 10:51] bshastry commented on #6005
Thank you @chriseth !

[2019-02-26 11:22] axic commented on #1447
They are in their current form, however in the future with compile time evaluated expressions all these would only exists during compile time in most of the real use cases.

[2019-02-26 11:23] axic commented on #6038
The second link is not shared.

[2019-02-26 11:25] chriseth commented on #6061
We have to allow auto-discovery because otherwise, tools need to parse the files and discover dependencies themselves. We could require the file name to match, perhaps.

[2019-02-26 11:26] chriseth commented on #5956
#6104 could fix the polymath requirements.

[2019-02-26 11:27] #5721 closed, assigned to axic

[2019-02-26 11:39] chriseth commented on #6038
Updated.

[2019-02-26 11:44] chriseth commented on #6038
Gnosis has changed their tests to include the deployment costs: https://travis-ci.org/gnosis/safe-contracts/builds/498614120?utm_source=github_status&utm_medium=notification We should re-run our benchmarks, also including the knowledge about how to set truffle to the correct compiler version.

[2019-02-26 11:46] erak commented on #5956
Ah, nice. I will give it a try!

[2019-02-26 11:53] chriseth commented on #4702
Yes, there is a well-defined path cleaning step, as can be seen through `import "./A.sol"` working properly. We just seem to not apply it from the commandline.

[2019-02-26 11:57] chriseth commented on #1042
I still don't see the real need...

[2019-02-26 12:26] #5722 closed, assigned to erak

[2019-02-26 12:31] chriseth commented on #5751
Closing this.

[2019-02-26 12:31] #5751 closed, assigned to nobody

[2019-02-26 12:32] #5896 closed, assigned to nobody

[2019-02-26 12:55] #3372 closed, assigned to nobody

[2019-02-26 13:16] axic opened #6106 "Create allocateMemory(unsigned size) helper"
From https://github.com/ethereum/solidity/pull/6097/files#r260260868

[2019-02-26 13:27] axic opened #6107 "More optimisation rules"
Some of them from here https://github.com/ethereum/solidity/issues/6075#issuecomment-467270107.

- `lt(x, 0)` -> `0` -- since this cannot ever be true, `slt` can be used for two's complement <0 checks
- `gt(x, 0)` -> `iszero(iszero(x))` -- same here, there's `sgt` for signed comparison
- `gt(x, ~0))` -> `0`
- `and(byte(x, y), 0xff)` -> `byte(x, y)` since byte always returns 8 bits
- `byte(x, a)` w

[2019-02-26 13:43] barakman commented on #3372
@chriseth :
Thanks. I will use this thread (starting from [here](https://github.com/ethereum/solidity/issues/3372#issuecomment-456470389)) as a response for the audit's related comment.

[2019-02-26 14:04] chriseth commented on #6107
Can you explain the addmod rules?

[2019-02-26 14:06] bshastry opened #6108 "yulInterpreter: calldatacopy triggers a range check assertion inside the yul interpreter"
## Description

Interpreting the following strict assembly code snippets independently fails the same assertion.

Code snippet 1

[code]

for own reference:
  target offset = 444
  source offset = 44444
  size = 4

Code snippet 2

[code]

Code snippet 3

[code]

triggers this assertion

https://github.com/ethereum/solidity/blob/1169004cec0fb256a1023ac6e67b692ccdac22d4/test/tools/yulInterpreter/EVM

[2019-02-26 14:12] bshastry opened #6109 "Null dereference in TypeChecker"
## Description

(Found by ossfuzz: 	13415)

The following contract

[code]

triggers a null dereference here

https://github.com/ethereum/solidity/blob/1169004cec0fb256a1023ac6e67b692ccdac22d4/libsolidity/analysis/TypeChecker.cpp#L663

[2019-02-26 15:36] bshastry opened #6110 "Optimized code produces a different trace than original unoptimized code"
## Description

(Found via differential fuzzing)

This code:

[code]

when optimized produces a different trace (via the yul interpreter) than the original unoptimized code

Here are the two traces (trace1 is for unoptimized code and trace2 for optimized code)

[code]

[2019-02-26 16:04] #6087 closed, assigned to axic

[2019-02-26 16:05] #498 closed, assigned to Marenz

[2019-02-26 16:09] chriseth commented on #6110
Do you also have the optimized code?

[2019-02-26 16:13] bshastry commented on #6110
@chriseth no, how can I print that? Will `solc --strict-assembly --optimize` help?

[2019-02-26 16:34] chriseth commented on #6110
If the optimizer is deterministic, it should be
[code]

 - this rather looks like a problem with the interpreter than the optimizer.

[2019-02-26 17:35] BrendanChou commented on #6075
Not sure if this is the case, but is the sequence

[code]

reducable to simply

[code]

since `jumpi` as I understand it already checks for a non-zero value

[2019-02-26 18:08] chriseth commented on #6075
That is true, but I think our current framework can only optimize expressions and not statements. We could add this to the peephole optimizer, though.

[2019-02-26 18:10] #6110 closed, assigned to nobody

[2019-02-26 18:13] axic commented on #6075
I think that sounds good.

[2019-02-26 18:23] spalladino opened #6116 "Support for multiple constructors per contract"
## Abstract

Solidity currently supports at most one constructor per contract, without overloading; we would like to lift this restriction.

## Motivation

In the same fashion as Solidity support regular function overloading, it would be most useful if it could support constructor overloading as well. This would allow to have multiple initialization paths for the same contract.

A simple example w

[2019-02-26 18:29] chriseth commented on #6116
While this sounds like a good feature to have, (and the main reason this has not been implemented so far) I don't see a way how to properly specify which constructor to choose from. As opposed to function calls, we do not have a notion of function selector for the constructor. I don't think backwards compatibility issues can be just ignored by saying that "old-style" contracts are unaffected. This

[2019-02-26 18:41] spalladino commented on #6116
That's exactly part of the idea: a function selector could also be added for ctors, and evaluated only on the initialization bytecode. The selector could be calculated as `bytes4(keccak256("constructor(uint256,uint256)"))` (for example), or even removing the `constructor` keyword from the hash altogether (since all functions checked in that step would be constructors).

I agree with you here. If a

[2019-02-26 18:42] nventuro commented on #6116
@chriseth Is it be possible for the creation code to e.g. tell apart encoded data that is meant for constructors of different arity? I'm not familiar with the internals of how constructor arguments are encoded, but if this were possible, even this limited form of overloading would be extremely useful for developers.

[2019-02-26 19:11] norhh opened #6119 "Solc src mappings problems"
## Description
The src-map doesn't seem to be that accurate, In some cases the srcmap points towards comments.
## Environment

- Compiler version: 0.5.0
- Target EVM version (as per compiler settings): byzantium
- Framework/IDE (e.g. Truffle or Remix): None
- EVM execution environment / backend / blockchain client: None
- Operating system: Ubuntu

## Steps to Reproduce
Below is the line_mapping co

[2019-02-26 19:35] axic commented on #6116
Without reflecting to the rest: I think it is actually a bad pattern to mix "native tokens" with "tokens" in a single system, unless absolutely necessary, because it opens the door to many mistakes. Much more like the idea of "wrapped eth" to separate concerns. As a result I think the use case presented isn't the best one.

[2019-02-26 19:38] axic commented on #6116
Actually after the ABIEncoderV2 is enabled one could consider adding selector in a backwards compatible way: even constructor arguments will be enforced to be a multiple of 32 bytes. In that case it would be easy to detect if a selector is present (the data isn't a multiple of 32 bytes).

However, the problem of old contracts may be accepted invalid data would remain.

[2019-02-26 19:57] spalladino commented on #6116
@axic would that mean that if this feature is implemented after the ABIEncoderV2 is enforced, then there would be a safe way to detect whether a constructor selector was included or not, so the contract initialization code could validate if it was properly initialized or not?

[2019-02-26 20:17] Arachnid commented on #3506
It'd also be useful to be able to access these fields in constant initialisers:

[code]

[2019-02-27 03:20] fulldecent opened #6121 "Document the NatSpec standard"
The canonical home for the specification for the NatSpec documentation format is

https://github.com/ethereum/wiki/wiki/Ethereum-Natural-Specification-Format

The wiki is a mess, it would be best if this documentation is moved into the Solidity docs.

# Follow on work

- [ ] Add @param to events
- [ ] Handle multiple return values
- [ ] Handle named return values
- [ ] Update examples to use all t

[2019-02-27 03:36] fulldecent commented on #6121
https://github.com/ethereum/solidity/pull/6122

[2019-02-27 09:04] panicape opened #6123 "get elements from strings array"
Hi everyone, i'm glad to follow this forum, it is very helpful.
I'm using truffle to develop contracts and i just found that dynamic arrays are not yet suported, for that reason i was using string arrays with a fixed lenght and i found that the element with index 0 is not showing anything and last one says undefined. do you know ay reason of that?, do i have to get elements in a different way??

T

[2019-02-27 09:39] YannickXiong opened #6124 "Semicolon after a parameter will lead to DocstringParsingError"
[code]
Above code will lead to DocstringParsingError, because solidity takes '_value:' instead of '_value" as a parameter, of course function _transfer doesn't contain such a parameter.

Maybe this is just a trivial problem， however I think optimize it would bring a better coding experience. Thanks.

[2019-02-27 09:46] chriseth commented on #6007
I think what fixed it was to give @chfast write permission to the solidity repo - his account is linked to the ethereum-free account on appveyor.

[2019-02-27 09:46] #6007 closed, assigned to nobody

[2019-02-27 09:52] chriseth commented on #6119
The compiler sometimes provides source links to source files internal to the compiler. In that case, the source index is `-1`. Can you check if that is the case? I think `solidity_files[-1]` in python does not generate an error, does it?

[2019-02-27 09:57] chriseth commented on #6116
@axic in my opinion, that would still lean towards a hack, because the ABI encoding does not really force data pointers to be multiples of 32 bytes - although it is recommended (in the "strict" encoding) and done like that in Solidity.

[2019-02-27 10:01] chriseth commented on #6116
@spalladino I'm sorry - perhaps my first comment came around a little harsh. My main comment would be that the issue description has a lot of motivation but neither lists potential problems nor provides a solution to them.

[2019-02-27 10:17] chriseth commented on #6123
I'm sorry, but this is not a forum, it is a tracker for bugs and features in the Solidity compiler.
This question is better asked at https://ethereum.stackexchange.com - you will get faster and better replies there.

[2019-02-27 10:17] #6123 closed, assigned to nobody

[2019-02-27 10:18] chriseth commented on #6124
If you use colons like that, won't they end up in the description string? In any case, the parser should stop before colon, so this is a bug indeed.

[2019-02-27 10:29] bshastry opened #6126 "Yul traces differ while performing nested subtraction and division"
## Description

(Found by LPM+libFuzzer)

Here's the yul code whose optimization triggers a different trace than the original

[code]

The optimized program output by solc for the above program is the following

[code]

Here are the two traces

[code]

### Analysis

After first line of code
[code]

This means the sstores in the two traces are correctly identical. The problem is with the address co

[2019-02-27 10:56] bshastry opened #6127 "Yul optimizer generates incorrect code for second subtraction operation"
## Description

(Found by LPM+libFuzzer)

Here's the yul program that triggers a miscomputation in the optimizer
[code]

Here are the traces
[code]

Here's the optimized program output by `solc`
[code]

### Analysis

- At the end of the program, here are the values for return vars
  - `x_8 = -2`
  - `x_9 = -1`

The unoptimized trace correctly stores these values. However, the optimized program inc

[2019-02-27 11:01] ChrisChinchilla commented on #5139
@hadv @purbanow @pieterhartel  Yes, we have a Homebrew experiment in progress here - https://github.com/ethereum/homebrew-ethereum/pull/212

But it is basically wrapping just building from particular version releases, so in the meantime continuing to do that is the best solution.

It will take me a little time to create a formula for each version and test each one to update dependencies etc (espec

[2019-02-27 11:11] bshastry commented on #6127
Here are additional variants of the above program that follow the same pattern

#### Program 1

[code]

#### Program 2

[code]

#### Program 3

[code]

#### Program 4

[code]

#### Program 5

[code]

#### Program 6

[code]

#### Program 7

[code]

#### Program 8

[code]

#### Program 9 (**add**)

[code]

#### Program 10

[code]

#### Program 11

[code]

#### Program 12

[code]

#### Program 13

[c

[2019-02-27 11:39] chriseth commented on #6127
The problem seems to be that the ExpressionSimplifier uses the SSAValueTracker to follow variable references. This is fine, but it uses the value of such SSA variables in replacements. The problem now is that value of an SSA variable may reference a non-SSA variable that has changed in the meantime.

Since such cases are all handled (hopefully) properly by the DataFlowAnalyzer, I'm trying to check

[2019-02-27 12:45] 1099511627776 commented on #4081
Hi all, I was wandering is this feature implemented?

[2019-02-27 13:09] norhh commented on #6119
@chriseth , thanks for the reply, that seems to be the case, Can you mention where that internal file exists in the solidity build? that might be quite helpful

[2019-02-27 14:20] leonardoalt commented on #5659
This issue was discussed today, and we concluded that the 0.4.25 behavior was the faulty one. The derived contracts want to make use of the V2 encoder in function `giveMe`, so they should also declare `pragma experimental ABIEncoderV2`.

[2019-02-27 14:45] simonDos commented on #1686
@jamesmorgan I can see the `reason` field, but no matter what I do, it is always undefined.

[2019-02-27 15:06] spalladino commented on #6116
@chriseth no need to be sorry at all, and thanks a lot for the clarification!! I agree that the issue misses several potential problems, especially around tooling, but I'm not sure I have the necessary knowledge to assess or come up with solutions for all of them. I'll do my best though and get back to you!

[2019-02-27 15:32] chriseth commented on #5659
It should not be an "UnimplementedFeatureError" though.

[2019-02-27 15:38] chriseth commented on #4081
Yes, it was.

[2019-02-27 16:33] chriseth commented on #681
"high s" still not documented.

[2019-02-27 16:40] ChrisChinchilla commented on #3511
Looks to me like this is all done now.

[2019-02-27 16:40] #3511 closed, assigned to nobody

[2019-02-27 16:43] ChrisChinchilla commented on #3771
@axic Do you mean between functions and contracts? If so, I think we have covered a lot of this already in recent commits, unless you know of any particular topic areas missing?

[2019-02-27 16:46] chriseth opened #6133 "[Yul] Optimizer test should re-parse (and especially analyze) at the end of the pass to check the code is still valid."

[2019-02-27 16:52] ChrisChinchilla opened #6134 "[DOCS] Remove or reduce ranking of older versions from searches"
Frequently search engines searches of solidity docs return results from older docs versions, we should figure out how to prioritise results from the most recent version.

[2019-02-27 18:07] flickmaking commented on #5657
@chriseth @axic @miohtama Greetings!

It was not clear to me which approach I should take. For instance, I did the following:

[code]
I manually removed all the `pragma solidity ^0.5.0;` from `./contracts/Master.sol`, except the one on the first line. Then I did:
[code]
When veryfying at https://kovan.etherscan.io/ which file should I use?

`./contracts/Master.sol`
or
`./client/src/contracts/Maste

[2019-02-28 06:44] flockonus commented on #10
Macro is a very important feature missing in Solidity, it would be incredibly useful for developers when debugging complex code during development.
One way to currently achieve that is to emit a lot of events along a function to map what's going on. [example](https://github.com/flockonus/eth-denver-2019/blob/master/contract/contracts/City.sol#L225-L285), it's clearly undesirable.

It would be grea

[2019-02-28 09:36] panicape commented on #4455
This also happened to me but no one seems to have any solution

[2019-02-28 10:06] chriseth commented on #10
@flockonus have you tried just using the C preprocessor?

[2019-02-28 10:46] panicape commented on #6123
@chriseth ok, thanks

[2019-02-28 10:59] bshastry opened #6135 "yul interpreter heap use-after-free during interpretation of mstore operation"
## Description

The following contract triggers the use-after-free in the yul interpreter

[code]

The UAF is triggered during the evaluation of the mstore instruction in this line of code

https://github.com/ethereum/solidity/blob/f9d1c283b7f1eb8459f595bb57e9abe5eb5b96a6/test/tools/yulInterpreter/EVMInstructionInterpreter.cpp#L274

The stack trace reported by AddressSanitizer is as follows (only

[2019-02-28 11:14] chriseth commented on #6099
Fixed by https://github.com/ethereum/solidity/pull/6104

[2019-02-28 11:14] #6099 closed, assigned to chriseth

[2019-02-28 11:21] #6127 closed, assigned to chriseth

[2019-02-28 11:21] chriseth commented on #6126
Fixed by https://github.com/ethereum/solidity/pull/6129

[2019-02-28 11:23] #6126 closed, assigned to chriseth

[2019-02-28 12:12] erak opened #6138 "Revisit release scripts"
Some of the scripts could be updated, such that they
- support multiple signatures for the team: `scripts/release_ppa.sh`
- are less error-prone: `scripts/docker_deploy_manual.sh release`

[2019-02-28 13:19] #6057 closed, assigned to Marenz

[2019-02-28 13:22] axic commented on #6109
Minimal example:
[code]

I think it is due the variable resolve for inline assembly doesn't take care of `var` after it has been removed.

In the type checker we have behaviour like this:
[code]

[code]

[2019-02-28 13:31] Marenz commented on #6109
The error

is triggered by checking the type() for nullptr. I initially used the same method to fix this, but @chriseth was worried that there might be many other places where a missing type can cause problems so now we trigger a fatal error if variables are still left without type after the `var` type guessing code (see  PR)
.

[2019-02-28 14:33] chriseth commented on #6038
Finished second analysis of gnosis-safe (same link). It looks like regular transactions are sometimes cheaper, but most of the time .5% more expensive. Deployments are not cheaper (in the 2-4% range), except for the master contract, which is 5% cheaper. These values can of course all change with the tuning parameter which was set at 200.

[2019-02-28 14:34] axic commented on #6038
I think the gnosis-safe is an example where deployment costs are less relevant compared to runtime costs.

That considered I think the 2-4% increase for a safer ABI decoder is worth it. Same goes for the 0.5% runtime increase.

[2019-02-28 15:08] chriseth opened #6141 "ContractCompiler assigns a reference from a temporary in constructor"
`m_context = CompilerContext(...)`

[2019-02-28 15:20] AusIV commented on #6098
I was unaware that's an option. Is it documented somewhere? Googling "solidity unused variable" I don't find that recommendation anywhere.

[2019-02-28 15:21] chriseth commented on #6098
It is part of the error message itself.

[2019-02-28 15:28] #5715 closed, assigned to Marenz

[2019-02-28 15:38] #6109 closed, assigned to Marenz

[2019-02-28 15:53] axic commented on #6086
The [metadata EIP](https://eips.ethereum.org/EIPS/eip-1716) refers to it as "Petersburg" just as geth and truffle do.

Just for the reason Truffle as a popular devtool uses the term "Petersburg" I think we should do as well to avoid confusion.

[2019-02-28 16:13] AusIV commented on #6098
The error message I see is:

[code]

I don't see any clue in here that I could avoid the warning by just specifying the type.

Additionally, if I try not naming the variable, I get:

[code]

[2019-02-28 16:51] chriseth commented on #6098
Which version of the compiler are you using?

[2019-02-28 17:06] AusIV commented on #6098
Solidity - 0.5.3 (solc-js)

[2019-02-28 19:02] flockonus commented on #10
@chriseth i didn't really think of searching outside the language until you ask now.

It seems [solpp is a preprocessor for solidity](https://github.com/merklejerk/solpp), and looks good, perhaps just missing env var support on compilation (seems easy to add).

The implementation seems to fit a macro system very well, has many features, but it won't work with linters or syntax highlighters since i

[2019-02-28 21:15] chriseth commented on #6098
Oh I'm so sorry, I did not read your description thoroughly enough. You can just use `(bool success,) = ...` in that case. The recommendation is not provided because it is a local variable - which does not have to be declared at all, as opposed to e.g. a function parameter.

[2019-02-28 22:26] axic opened #6146 "Using callvalue in assembly in a non-payable fallback raises no warning"

[2019-02-28 22:29] #6135 closed, assigned to bshastry

[2019-03-01 02:51] e-r-w opened #6147 "Different JSON ABI output between storage & memory struct function parameters"
## Description

Solidity ABI output produces different results for structs that have `memory` and `storage` location. This causes problems in code libraries interpreting the ABI (namely ethers-js). Structs specified in `memory` appear to have their type encoded as `tuple`s as expected, but if specified as storage, the type is changed  to the name of the struct (see example below)

## Environment

[2019-03-01 03:30] YannickXiong opened #6148 "An ERC20 contract was identified as an ERC721 contract."
I found in an ERC20-token contract, the Transfer() event would impact the contract type of ecah token transcation, for example.

Case1, when i used, `event Transfer(address indexed _from, address indexed _to, uint256 indexed _value);` the transcation was ERC721.
pls see https://kovan.etherscan.io/tx/0xce25abd0ded4566717010048e59fa9ce5601b6d3f612b0676ae754ac8e9313f0
Case2, when i used `event Transf

[2019-03-01 11:03] axic commented on #6148
I'm not sure I understand, can you elaborate a bit more?

[2019-03-01 11:05] axic commented on #6147
I think `getBaz(Bar storage bar)` shouldn't be allowed in contracts, only in libraries. This is the real bug here.

The point of this feature is to avoid copying to memory, but allowing helpers in libraries to be written over storage references. It is not possible to ABI decode this through external interaction with the contract.

[2019-03-01 17:10] ChrisChinchilla commented on #681
@chriseth My comment from the last time we spoke about this remains. There are no search results for "high s", and no one else I spoke to at EF knew what was meant by it. So I am happy to document, but need a little guidance.

[2019-03-01 17:17] AusIV commented on #6098
Alright, that works. Aside from maybe updating documentation / warnings to make this clearer, this can be closed.

[2019-03-02 06:35] derekchiang commented on #526
Is there currently no way around this issue?  So basically there's no way to call an overloaded payable function with some value?

[2019-03-02 11:14] dexterchan opened #6149 "Global variable msg.sender incorrect during inter-transaction function call"
## Description

A smart contract having a transaction function A calling transaction function B
Say, A() -> B()
Ideally, global variable msg.sender should be consistent in both A() and B() pointing to same caller address.
If End user "Mickey" call A(), the msg.sender of A() and B() should return address of Mickey.
In my finding, msg.sender return different result:
A() -> Mickey address
B() -> Smar

[2019-03-02 13:20] glowkeeper commented on #5659
I _think_ I'm seeing similar behaviour for a _slightly different_ issue. I'm using ````pragma experimental ABIEncoderV2````, which allows me to take advantage of passing structs in and out of functions.  Ideally, I'd like to do this:

[code]

However, with the latest version of truffle, I get a rather unhelpful **UnimplementedFeatureError** (with no explanation. However, I note that only the lates

[2019-03-02 15:45] axic commented on #6149
If you call your other function via `this.` that becomes and external call and the `msg.sender` is the contract.

Just call `frozeCoin()` without `this.`

[2019-03-02 15:45] #6149 closed, assigned to nobody

[2019-03-02 23:33] biocrypto730 opened #6150 "Change "revert" to "skirrt" [feature request]"
I think it would be cool if solidity could say "skirrt" every time it made an error instead of the saltine-cracker "revert". Compilers like truffle and remix-ide can play a 4-tone MIDI "skirrrt" sound. When i get a revert error i always feel bad because it means i have to debug the EVM. But if my code skirrrted instead, i would at least feel better about it when i had to debug the EVM

[2019-03-03 01:52] 3esmit commented on #526
You can use address(otherContract).call.value(amount)(abi.encodeWithSignature("method(uint256,bytes)", param1, param2));

[2019-03-03 03:07] Skyge commented on #869
So which method should we take? outside the compiler or inside? Maybe we can implement two methods at the same time, and then we can find out which one is better?
OK, if I want to achieve this outside the compiler at first, what should I notice and what is the key point to be solved? I think I should learn some thing about the AST(Abstract Syntax Tree) at first, shouldn't I?

[2019-03-04 00:09] e-r-w commented on #6147
While I can agree that storage arguments shouldn't be allowed in contracts, this behaviour will still cause bugs in client libraries interpreting the ABI of solidity libraries, for example:

[code]

If that behaviour is intended, then I'd file a bug with the client library to perhaps handle storage arguments being output like it currently does. Otherwise it sounds like the solidity compiler should

[2019-03-04 05:21] Skyge commented on #6148
@YannickXiong I am not sure how does it come out, but I think the event `Transfer()` in the ERC20-token contract only can impact itself rather than other contract, such as ERC721. Obviously, the event `Transfer()` exists both in the two type contract, but how does the event be triggered? This only happens when someone calls the special function, so when you call a function of the ERC20-token contr

[2019-03-04 05:27] Skyge commented on #6150
@projectoblio It should be, but not now, there are still more important thing to deal, if you would like to do it, all of us will be happy about it.

[2019-03-04 06:33] YannickXiong commented on #6148
I could reproduce the problem. Below was the details.

# the source code.
[code]

# testing steps.
## Common steps.
- Compiled the contract in remix-ide, version is `solidity ^0.4.25;`
- Deployed the contract to Kovan using MetaMask;
- Added the token to MetaMask;
- Transfer some token using MetaMask;

## Case 1, Token AT, using `event Transfer(address indexed _from, address indexed _to, uint256 _

[2019-03-04 06:38] YannickXiong commented on #6148
Sorry, there was a mistoken. In `case 2-1`, the trx was alse ERC-721, more precisel, when it was in pendding status, it was ERC20, and in confirmed status, it was ERC721.

[2019-03-04 06:55] Skyge commented on #869
@chriseth @axic @elopio OK, this issue really has existed for a long time, so now I will push it forward, please do me a favor, listing more details. BTW, my issue is related to this one, but I think it is much easier.

[2019-03-04 09:25] chriseth opened #6151 "Internal functions can be passed in library calls"
A struct containing an internal function can be passed across library calls. This is non-sensical, since the library could then call the internal function whose code is not even available.

Example code:

[code]

[2019-03-04 09:25] chriseth commented on #6151
Suggestion for resolution: Introduce another category of "internalness" for types which cannot even be passed across library calls.

[2019-03-04 10:29] chriseth commented on #6147
I think this is a duplicate of https://github.com/ethereum/solidity/issues/3409

[2019-03-04 10:47] #6150 closed, assigned to nobody

[2019-03-04 10:50] chriseth commented on #6148
@YannickXiong could you please condense your report a little? What is the observed behaviour of the compiler, what is the expected behaviour of the compiler?

[2019-03-04 10:51] chriseth commented on #869
The reason why this has been open for quite some time is because it is a really delicate matter whose pros and cons have to weighed carefully.

[2019-03-04 11:26] #6102 closed, assigned to chriseth

[2019-03-04 11:37] Skyge commented on #869
Absolutely, we really should  weighed carefully for all changes, but you know, there are not only many things to solve at now, but also more and more issues come out, besides that, we should go forward on schedule, in a word, all things are extremely urgent. I hope to contribute my humble efforts to you.

[2019-03-04 11:44] #6141 closed, assigned to chriseth

[2019-03-04 11:47] chriseth commented on #869
We of course appreciate your help! I think all the details we have worked out so far are here. Do you have specific questions? One of the problems we might run into is function overloading, for example.

[2019-03-04 12:09] axic commented on #6084
Depends on #6086.

[2019-03-04 12:10] axic commented on #6146
I think for non-assembly code we disallow `msg.value`. This falls under the same category.

[2019-03-04 12:19] chriseth opened #6156 "Run external tests with optimizer activated and deactivated"
can be realized through the truffle settings we already modify.

[2019-03-04 12:39] Skyge commented on #6148
@YannickXiong yeah, you can simplify the code by deleting the code you do not use in this example, just left necessary function.

[2019-03-04 12:41] Skyge commented on #6148
Maybe there is something wrong with the Kavon network displays, I have try the same contract on the Ropsten network, it works well, I will try again.

[2019-03-04 12:42] axic commented on #6107
Sorry, confused that, they are invalid.

[2019-03-04 12:48] axic commented on #6107
Cannot be efficiently implemented in the RuleList currently.

[2019-03-04 13:15] Skyge commented on #6148
@YannickXiong  I find out what you are talking about, [look at here](https://snag.gy/D4mHnO.jpg), yeah, we deployed an ERC20 contract, but it really showed ERC-721 TokenID, I never noticed this before, I do not know what does that mean.

[2019-03-04 13:39] chriseth opened #6162 "Improve unused local variable error message in tuple declaration."
The error message for local variable declarations with multiple variables can be improved to suggest to remove the variable from the tuple.

[code]

[2019-03-04 13:39] chriseth commented on #6098
Created https://github.com/ethereum/solidity/issues/6162 to track improvement of the error message. Thanks!

[2019-03-04 13:39] #6098 closed, assigned to nobody

[2019-03-04 13:42] Marenz commented on #5659
@glowkeeper that is definitely a different issue. Could you create a new ticket for your issue and provide a test case that produces the UnimplementedFeatureError? (I tried your provided code and didn't get the error)

[2019-03-04 13:50] chriseth commented on #681
Openzeppelin are about to fix it in the helper library: https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1622

We should say something along the lines of "if you use the low-level ecrecover function, be aware that a valid signature can be turned into a different valid signature without requiring knowledge of the corresponding private key. This is usually not a problem unless if you requi

[2019-03-04 13:50] #6086 closed, assigned to nobody

[2019-03-04 13:58] bshastry opened #6163 "yulInterpreter: extcodecopy call fails assertion in copyZeroExtended"
## Description

This

[code]

fails the assertion here

https://github.com/ethereum/solidity/blob/cc4598a5ed8481b98c9b17787f23c61217df2311/test/tools/yulInterpreter/EVMInstructionInterpreter.cpp#L85

## Environment

- Compiler version: develop commit `21e7cadad`
- Target EVM version (as per compiler settings): n/a
- Framework/IDE (e.g. Truffle or Remix): n/a
- EVM execution environment / backend /

[2019-03-04 14:06] bshastry commented on #6163
Duplicate of #6108

[2019-03-04 14:06] #6163 closed, assigned to nobody

[2019-03-04 14:15] bshastry opened #6165 "yulInterpreter: datacopy call fails the assertion m_functions.count(_funCall.functionName.name) in ExpressionEvaluator"
## Description

(depends on #6180 )

The following code snippet

[code]

fails this assertion

https://github.com/ethereum/solidity/blob/6b12726f51c25840b3ccb231018fc37e994869e7/test/tools/yulInterpreter/Interpreter.cpp#L191

## Environment

- Compiler version: develop commit `21e7cadad`
- Target EVM version (as per compiler settings): constantinople
- Framework/IDE (e.g. Truffle or Remix): n/a
-

[2019-03-04 14:26] chriseth commented on #526
Or you perform a type conversion to a contract that only has one of the two overloads.

[2019-03-04 14:27] YannickXiong commented on #6148
@Skyge Yeah, you got what I said.

@chriseth Sorry, I am a software tester, so I often use the control variable method to do different testing to locate the root cause of the problem, so my previous description may be a bit verbose.

the core code is shown as below in a ERC20 contract,
[code]
and
[code]

Simply put, my question is: using code B, in the same ERC20 smart contract, if the transfer am

[2019-03-04 14:32] axic opened #6167 "Gas calculation for ComputeMethod should take care of shifts in ConstantOptimiser"
#6073 added support for using shifts in the constant optimiser, however forgot to update the gas estimation.

This doesn't pose any risk, just the possibility that efficient cases will be turned down.

[2019-03-04 14:33] chriseth commented on #6148
@YannickXiong ok, this gets us closer to something, I think :)

There is an open issue about whether or not a parameter is `indexed` in an event is not relevant in inheritance ( #4873 ).

I'm still not fully clear about what your issue is about.

What do you mean by "the contract is an ERC20 contract"? As far as the compiler is concerned, it is an ERC20 contract if and only if it inherits from a c

[2019-03-04 14:50] YannickXiong commented on #6148
@chriseth @axic @Skyge

Sorry, my previous description is not accurate  because of  my poor english.

I writed an erc20 contract, using `event Transfer(address indexed _from, address indexed _to, uint256 indexed _value);`, and deployed it, of course the contract it was always erc20 contract.

My issue is that, when I transfer some token, in pendding stauts, it was really showed as erc20,
<img widt

[2019-03-04 14:57] dexterchan commented on #6149
Thanks, axic.... it solved the case of two function in same contract...
what if, the two functions are from different contract?

- MyToken
- TokenInteraction

In Remix, using account A, I deployed Mytoken....
Copying the contract address, with same account A, I deploy TokenInteraction...
If I call "transfer" in Mytoken contact to accountB, it is ok...
But, with TokenInteraction, account A "transfe

[2019-03-04 15:04] chriseth commented on #6167
Can you provide some more details, please?

[2019-03-04 15:07] chriseth commented on #6148
This seems to be an issue with either etherscan or the design of the token standards. Do you think it is related to the compiler or language?

[2019-03-04 15:09] bshastry commented on #6165
This is due to object access builtins in the yul interpreter are unimplemented. Temporary solution is to selectively discard test cases containing these builtins.

[2019-03-04 15:24] Marenz commented on #6167
From the chat:

[2019-03-04 15:40] chriseth opened #6169 "Re-enable external tests for gnosis-safe"
The tests had to be disabled because there was no quick way to make it work when Petersburg was made the default EVM version.

[2019-03-04 15:41] chriseth commented on #4805
I believe this has been done in https://github.com/ethereum/solidity/pull/6145

[2019-03-04 15:43] ekpyron commented on #4805
Confirmed: this was done in #6145.

[2019-03-04 15:43] #4805 closed, assigned to nobody

[2019-03-04 16:36] #6084 closed, assigned to nobody

[2019-03-04 17:53] #5682 closed, assigned to christianparpart

[2019-03-04 21:27] #3638 closed, assigned to nobody

[2019-03-04 21:51] axic commented on #6149
I think the best way to discuss questions like this is https://ethereum.stackexchange.com or https://gitter.com/ethereum/solidity

[2019-03-04 21:53] axic opened #6173 "Add symmetric optimisation rules missing for lt (i.e. swapped gt rules)."
From https://github.com/ethereum/solidity/pull/6159#discussion_r262088791

[2019-03-04 21:54] axic opened #6174 "Add optimisation rule: byte(x, a) where a >= 32 -> 0"
From #6107

[2019-03-04 21:54] #6107 closed, assigned to nobody

[2019-03-04 23:37] chebykin opened #6176 "Add a more verbose error message for "stack too deep" errors"
## Abstract

After merging two branches I have stumbled over `InternalCompilerError: Stack too deep, try removing local variables.`. There is no information about the error location. I'm having around 20 changed contracts to be checked manually.

## Motivation
It would be really great if we had a more verbose error message containing at least a filename.

This issue had been already fixed before,

[2019-03-05 01:03] YannickXiong commented on #6148
@chriseth Thanks for your replay. Not sure yet. I searched `etherscan` in github, it seemed that there was no the  related projects. I was also not sure where could I report the issue to?

[2019-03-05 02:39] Skyge commented on #6148
@YannickXiong I did some search and asked for some nice guys, and at last, I think I got it.
<img width="985" alt="2019-03-05 10 29 30" src="https://user-images.githubusercontent.com/27282380/53776713-cdc99b80-3f31-11e9-9b48-62baf31236ff.png">
<img width="991" alt="2019-03-05 10 30 23" src="https://user-images.githubusercontent.com/27282380/53776747-ee91f100-3f31-11e9-82f6-515a6812cfa0.png">
when

[2019-03-05 03:22] YannickXiong commented on #6148
@Skyge got it, thanks very much for your replying.

[2019-03-05 04:38] Skyge commented on #6148
@YannickXiong Do you have any other questions?

[2019-03-05 05:12] blockchain-app12 opened #6177 "Uninitialized storage pointer"
## Description

Pushing values in array, shows array should be initialized as storage. Doing that it shows "Uninitialized storage pointer". Using memory it shows, "Member "push" is not available in uint256[] memory outside of storage". Suggest me the solution for the above?

[2019-03-05 05:29] dexterchan commented on #6149
thank you, let me exchange idea with other experts in this area. May come back to u soon.

[2019-03-05 08:15] Skyge commented on #6177
@osiz-blockchainapp  I am not sure, but I think you defined it like this:
[code]
why do you define an array inside the function, maybe you can try to write it outside
[code]
BTW, I write this by the version of 0.5.x

[2019-03-05 08:37] chriseth commented on #6177
@osiz-blockchainapp without example code, we cannot really help you there. The idea is that you have to assign to the local variable at the point where it is declared.

In any case, this question is probably better suited for https://ethereum.stackexchange.com - you will get faster and better replies there.

[2019-03-05 08:37] #6177 closed, assigned to nobody

[2019-03-05 08:42] chriseth commented on #6148
@YannickXiong you could try here: https://etherscan.io/contactus or https://etherscancom.freshdesk.com/support/solutions

[2019-03-05 08:46] chriseth commented on #6176
Similar to / duplicate of https://github.com/ethereum/solidity/issues/5467

[2019-03-05 08:47] leonardoalt opened #6178 "[SMTChecker] Pointers: erase knowledge only about assigned index"
When a mapping/array index is assigned, all knowledge about variables of the same type are erased. We could erase knowledge only about the assigned index.

[2019-03-05 09:02] axic commented on #6084
Turns out this will break Remix. Either https://github.com/ethereum/remix-ide/issues/1282 or https://github.com/ethereum/remix-ide/issues/1620 needs to be finished, cc @yann300.

I'd however argue we shouldn't revert this change because the feature requests have been out for a year.

[2019-03-05 09:05] bshastry opened #6180 "yulInterpreter: Support object access builtin functions"
## Abstract

(closes #6165 )

At the moment, Yul object access built in functions are not supported by the yulInterpreter. Specifically, they trigger an assertion (see #6165) at the time function calls are evaluated by the interpreter.

This issue tracks support for the three object access built in functions, namely
  - datacopy
  - datasize
  - dataoffset

## Motivation

TBD

## Specification

TB

[2019-03-05 09:07] glowkeeper commented on #5659
@Marenz - interesting - that was a contrived example, based on my actual code - just assumed, given the Solidity release docs regarding v0.5.4, that it was the `SomeStruct calldata _param` bit causing the problem - I'll do some more investigation and, if needs be, post accordingly.

Just as a further note, I have this at the top of my Solidity source files:

[code]

Do you get the error if you add

[2019-03-05 09:13] chebykin commented on #6176
Ok, I see. Closing this one. Thanks!

[2019-03-05 09:13] #6176 closed, assigned to nobody

[2019-03-05 09:30] Marenz commented on #5659
@glowkeeper I am happy to discuss this more, but please in an dedicated issue for this :). I had the problem that I got compiler errors when assigning to the mapping as the struct wasn't castable to bytes32[].  I did use the experimental pragma.

[2019-03-05 10:00] YannickXiong commented on #6148
@chriseth @Skyge Thanks for your replying, I have no questions about this issue.
Could you close this issue, thanks.

[2019-03-05 10:02] #6148 closed, assigned to nobody

[2019-03-05 10:07] bshastry opened #6181 "Strict assembly optimizer throws exception when _literal.kind != LiteralKind::Number for switch case statements containing string as well as integer literals"
## Description

Here's the smallest example I could reduce this problem to

[code]

The exception thrown comes from here

https://github.com/ethereum/solidity/blob/eb5bde95b37b3d943644ce3c0ab20517fcafdc38/libyul/Utilities.cpp#L34

which is called from the structural simplifier phase of the optimizer here

https://github.com/ethereum/solidity/blob/eb5bde95b37b3d943644ce3c0ab20517fcafdc38/libyul/opt

[2019-03-05 10:36] #5691 closed, assigned to christianparpart

[2019-03-05 11:17] chriseth commented on #6084
Confirmed locally that latest remix works with the compiler and shift instructions work both in the debugger as well as in the VM.

[2019-03-05 11:20] Marenz commented on #6167
From the chat:

[2019-03-05 11:20] Marenz commented on #6167
Based on the above statements I assume this issue can be closed. Please reopen if you think this was a mistake.

[2019-03-05 11:20] #6167 closed, assigned to Marenz

[2019-03-05 11:21] chriseth commented on #6133
Fixed in https://github.com/ethereum/solidity/pull/5855

[2019-03-05 11:21] #6133 closed, assigned to nobody

[2019-03-05 12:01] #3639 closed, assigned to bshastry

[2019-03-05 14:11] Marenz opened #6189 "YulOptimizer: Remove empty cases when no default case exists"

[2019-03-05 18:11] #6181 closed, assigned to Marenz

[2019-03-05 18:23] chriseth commented on #5657
@flickmaking this looks like a question for the truffle framework.

[2019-03-05 18:23] chriseth commented on #5657
I'm closing this since `solc --metadata --metadata-literal` is superior to the suggested method.

[2019-03-05 18:23] #5657 closed, assigned to nobody

[2019-03-06 10:59] #5659 closed, assigned to Marenz

[2019-03-06 11:01] bshastry opened #6201 "Fuzzing Low-level Lisp-like Language parser/compiler"
## Description

The following sub directories inside solidity are not touched by the fuzzer atm
  - `liblll`
  - `lllc`

Is it worth while to write a fuzzer for the LLL parser/compiler? Of course, it would be interesting to additionally test code optimization/generation but currently we don't have the same test infrastructure (interpreter) that we have for yul code.

[2019-03-06 11:05] chriseth opened #6202 "[Yul] Remove special treatment of for loop pre block in all steps"
Since we have the "for loop init rewriter" as part of the yul optimizer now, we can actually remove the handling of the complicated scoping rules in e.g. the data flow analyzer, the redundant assign eliminator and others and instead assert in those components that for loops have an empty pre block.

[2019-03-06 11:06] chriseth commented on #6201
The main problem with lllc is that it was written in a rather peculiar style and thus the code is rather hard to understand. I think nobody currently on the team has proper knowledge of that code and it would take quite some time to fix bugs.

[2019-03-06 11:31] Marenz commented on #6151
So, just to understand this right, internal functions in libraries can be called from contracts, but internal functions from contracts are not available to the library? (I was [reading](https://solidity.readthedocs.io/en/v0.5.3/contracts.html#libraries))

[2019-03-06 11:44] Marenz commented on #6151
After verbal clarification: external or public library functions should not accept parameters of type `function() internal`, wrapped in other types or otherwise.

Alternatively, they may accept it, but are not allowed to actually call it.

[2019-03-06 12:38] axic commented on #6201
I've fixed couple of issues back in the day, but it would rather need a rewrite to make use of all our new features, APIs and Yul.

A while back we have agreed to phase out LLL from the codebase (pending another compiler be written by for lll -> yul) and because of that I'd suggest to ignore LLL in fuzzing.

[2019-03-06 12:54] ChrisChinchilla commented on #681
Does this help @leonardoalt and @chriseth ?

And I wonder if we should hold off on merging until that OZ PR is merged? As I'm not sure this doc is true until that point?

[2019-03-06 14:14] ekpyron commented on #6173
I just changed the title from ``lt(0,x) -> 0`` to ``lt(0,x) -> 1``, but even that's not true... we have to distinguish between x=0 and x>0 after all, don't we?

[2019-03-06 14:16] ekpyron commented on #6173
``gt(0,x) -> 0`` should work, though.

[2019-03-06 16:55] christianparpart opened #6205 "Extract Yul tests"
* Create `YulSyntaxTest`.
* Port inline syntax tests from `test/libyul/Parser.cpp` into `.yul` files.
* How to do error detection (similar to solidity language)
* See if we can **share** code between solidity syntax tests and this one.
* Move existing yul tests (that are currently part of Solidity) into this one.

[2019-03-06 17:08] chriseth commented on #6173
but that rule already exists...

[2019-03-06 17:08] chriseth commented on #6173
I'm just saying - we have 3 rules for gt, but only 1 for lt.

[2019-03-06 17:40] #6189 closed, assigned to Marenz

[2019-03-06 18:55] #3293 closed, assigned to nobody

[2019-03-06 20:46] #3651 closed, assigned to nobody

[2019-03-06 20:50] leonardoalt opened #6210 "[SMTChecker] Loop invariants"
It would be nice if the developer is able to give logical hints about loops.
Potential ideas:
- Loop invariants
- Loop bounds
- Loop pre/post conditions

[2019-03-06 21:17] axic opened #6212 "Add peephole optimiser to remove double-iszero before jump(i)"
From https://github.com/ethereum/solidity/issues/6075#issuecomment-467536178:

[2019-03-06 21:48] chriseth commented on #6212
actually working on this at the moment...

[2019-03-06 21:57] chriseth commented on #6205
It would be good if a "common" component (shared with yulOptimizerTests, yulInterpreterTests, ...) could be extracted such that the only thing we have to implement for each now test is a function that maps input to expectation.

[2019-03-06 22:57] chriseth opened #6214 "Optimizer: Weird shifts still unoptimized"
The following sequence is part of bytecode generated from Solidity after the optimizer has run.

`and(0xff, shr(0xf8, shl(0xf8, shr(0xf8, x))))`

It can obviously be simplified to `shr(0xf8, x)`.

Related: https://github.com/ethereum/solidity/issues/5810

[2019-03-07 11:08] chriseth commented on #5060
I don't think this is needed anymore.

[2019-03-07 11:08] #5060 closed, assigned to nobody

[2019-03-07 11:57] #6156 closed, assigned to nobody

[2019-03-07 12:55] Marenz opened #6215 "Internal Error when passing array of internal-function-refs to library function"
[code]
[code]

[2019-03-07 13:52] chriseth opened #6216 "Pass (large) strings by value and move if they are to be consumed"
Especially when setting the source input of the compiler, these strings are passed by const reference. This forces a copy which would actually be unnecessary. The recommended way of passing data that is consumed/stored by the function/method is to pass by value and move into the member variable.

There are several instances where solidity sources stored in strings are copied instead of moved like

[2019-03-07 14:10] ekpyron opened #6217 "[soltest] Support struct/tuple array arguments in extracted semantics tests."
Structs are encoded as tuples, ``struct S { uint256 a; }`` becomes ``(uint256)``. However, the test file parser only allows brackets ``[]`` after identifiers, not after closing parenthesis, so ``(uint256)[]``, which is the ABI type of ``S[]`` does not work.

@erak, can you change that ;-)?

[2019-03-07 14:19] ekpyron opened #6218 "[soltest] Output too long return values in extracted semantic tests."
Let's say I want to find out how the type ``SomeType`` is ABI encoded. I can write:
[code]
However to convince ``isoltest`` to actually give me the encoding, I have to guess how long it is and add an appropriate number of zeros to the expectations - that's quite inconvenient.

It would help, if the error messages at least included the expected size and actual size of the return data, if they misma

[2019-03-07 14:19] ekpyron commented on #6218
Similarly for too short encodings ``isoltest`` should probably still output whatever is there...

[2019-03-07 14:48] chriseth opened #6220 "Change regular calldata arrays to only use a single stack slot"
`msg.data` should be a different type that still occupies two stack slots - or we might also just use `calldatasize` for that as a size.

All other calldata arrays should just be pointers to the position in calldata that stores the length.

[2019-03-07 15:13] ekpyron commented on #6220
An argument for the type of ``msg.data`` storing the length on the stack would be that then that type could be a general "array view" type that could represent subranges of calldata arrays.

[2019-03-07 17:16] #6212 closed, assigned to nobody

[2019-03-07 17:52] ekpyron opened #6223 "Merge ``Type::canBeUsedExternally`` and ``Type::interfaceType``."
Noticed this while reviewing #6222.

We require ``canBeUsedExternally(x) == !!interfaceType(x)``, but allow the former to be optimized, i.e. avoid the actual construction of type pointers, which might involve allocations. That's unnecessary maintenance effort and an unnecessary risk of getting it wrong.

I'm not sure this optimization is really necessary, but even if one wants to keep it, it'd sti

[2019-03-07 17:52] bshastry opened #6224 "yul proto spec: add for and switch...case statements"
## Abstract

The proto fuzzer does not thoroughly test optimizations on for loop and switch shift statements. This issue tracks support for these statements. Once finished, this should improve proto fuzzers' test coverage

## Motivation

- Extend current proto specification for the said statements
- for loops will be "hardcoded" for a fixed number of iterations e.g.,
[code]
- for loops may contain

[2019-03-07 17:57] bshastry opened #6225 "Yul proto spec: Only allow references of declared variables"
## Description

At the moment, the yul test generator can generate yul programs such as the following
[code]

Instead, we should aim to generate something like the following
[code]

This issue tracks support for referencing declared variables only.

[2019-03-07 17:59] Marenz commented on #6223
We could simply measure how much benefit there really is in optimizing before trying all those alternative ways. As in, running a few timing tests

[2019-03-07 18:03] bshastry opened #6226 "Fuzz SMT Checker"
## Abstract

At the moment, the SMT checker is not fuzzed. The main blocker appears to be statically building the solc fuzzing binary against an up-to-date z3. See #5652

## Motivation

Potentially, we could mirror the steps used to build the static solc binary for PPAs.

## Specification

I don't think test harness needs updating. We should reseed the fuzzer with statements that will be picked up

[2019-03-07 18:08] bshastry opened #6227 "yulInterpreter: Configuration for fuzzing"
## Description

The main configuration settings for the yulInterpreter that affect fuzzing are (defaults shown in brackets):
  - Max Size of memory used for emulating yul instructions (state memory=512MB)
  - Max number of traces until the interpreter times out (trace size=10000)

This needs a relook.

Also up for discussion is how to bail out from infinite loops in cases where the maxTraceSize wo

[2019-03-07 18:36] ekpyron commented on #6223
Yeah - although dynamic memory allocations might have a greater impact on asm.js, so if we want to benchmark, we should take soljson.js into account. Shouldn't be too hard to avoid them efficiently in any case.

[2019-03-07 18:53] chriseth commented on #6223
After the recent change, we need to descend into the type in every case, so there is not much benefit keeping both functions, actually.

[2019-03-07 20:03] ekpyron commented on #6223
Right - in ``StructType`` and ``ArrayType``, ``return this->copyForLocation(DataLocation::Memory, true);`` is more expensive than ``return true;``, but that's the only benefit. If it's worth it, one could mitigate that e.g. with the lambda trick above or sth. like that - might be in vain though.

[2019-03-07 20:42] ekpyron opened #6228 "Reproducible Builds: Store details about the build environment in the compiler."
We should store all relevant details about the build environment in solc and output it on ``--version`` (or with dedicated new flag; should also be exported in solc-js).
This should for example include:
- Compiler version.
- Boost version.
- For soljson.js Emscripten version.
- Z3 and CVC4 versions plus maybe even their dependencies CLN and GMP in turn.
- All compiler and linker flags affecting th

[2019-03-07 21:26] ekpyron opened #6230 "Prevent build directory from ending up in the compiler binary."
All source file names are stored in the compiler binary with absolute paths. That makes reproducible builds much more painful (since the build directories must have identical absolute paths).

This is probably due to error reporting, boost exceptions and ``__FILE__``.
We should investigate how much effort it is to have relative paths instead.

(In another project I once had CMake store the charact

[2019-03-07 21:31] ekpyron commented on #6230
``-fmacro-prefix-map`` might do the trick for gcc and clang (need to check version requirements)

[2019-03-07 21:37] ekpyron commented on #6230
@christianparpart Do you happen to know what the situation is with MSVC? Does ``__FILE__`` contain absolute paths and do they end up in our binary there? If so, is there a way to avoid it?

[2019-03-07 22:16] ekpyron commented on #5107
@chriseth You mentioned that we might want to already use memory management functions e.g. in ``abi.encode`` and considered ``allocate_unknown`` and ``resize``, since the encoder doesn't know the length of the encoding in advance. However, I'm not sure whether it has to be more expensive to rewrite the encoder to first determine the length and to only write afterwards. Consider the following:

[co

[2019-03-07 23:45] chriseth commented on #6230
Hm, this is interesting. I actually grepped for a prefix of my build path and could not find it in the binary. Perhaps because it was a stripped release binary?

[2019-03-07 23:55] chriseth commented on #6230
Ah my bad, paths are even part of the stripped release build.

[2019-03-08 08:51] AtkinsChang opened #6231 "Stack too deep with --optimize-yul + array of dynamic struct"
## Description
function with only one array of dynamic struct (struct with dynamic type)  is fine
but with array of dynamic struct and extra parameter is unable to be compiled with `--optimize-yul`.

## Environment

- Compiler version: `0.5.5+commit.47a71e8f.Linux.clang`
- Target EVM version: `petersburg`
- Operating system: `Linux`

## Steps to Reproduce
### Code `test.sol`
[code]
### Compile Pro

[2019-03-08 14:13] ekpyron commented on #6223
Maybe we should even cache the interface type in the type or the annotations (and create it on first request only) - I guess if ``canBeUsedExternally`` is used for some check and returns true, most of the time we will need the interface type sooner or later as well anyways - and if we cache it, ``copyForLocation`` would always be run only once. That might be the easiest and cleanest solution.

[2019-03-08 16:29] ekpyron commented on #6173
Ok, looking at the ``GT`` rules, I think we should add the following two rules:
- ``lt(0,x) -> iszero(iszero(x))``
- ``lt(~u256(0), x) -> 0``

Then it's symmetrical - in total we'd have:
- ``lt(x,0) -> 0`` (already there)
- ``gt(0,x) -> 0`` (already there)
- ``lt(0,x) -> iszero(iszero(x))`` (to be added)
- ``gt(x,0) -> iszero(iszero(x))`` (already there)
- ``lt(~u256(0), x) -> 0`` (to be added)
-

[2019-03-08 16:31] ekpyron commented on #6173
Not sure whether it could actually make more sense to generally have ``gt(x,y) -> lt(y,x)`` instead and later change ``SWAP1; LT`` to ``GT`` - not sure that's feasible or in fact simpler, though. [EDIT: bad idea probably - we should have LT and GT rules and the SWAP1; LT/GT -> GT/LT thing should happen separately - probably already happens - nevermind here - yep PeepholeOptimiser does that]

[2019-03-08 18:44] nventuro commented on #5424
Will this info (e.g. a function being `virtual`) be available in the contract artifacts? It'd interesting if we were able to e.g. have tests asserting a certain function is `virtual` to prevent regression errors.

[2019-03-08 20:55] mwaeckerlin commented on #869
Nope. In C++, template types are strictly checked at compile time. Templates do not require runtime type checking.

[2019-03-08 21:57] axic commented on #5424
What do you exactly mean by that?

[2019-03-08 22:10] nventuro commented on #5424
I guess the most appropriate location for such a thing would be the JSON AST (which is included in the `.json` file that results from compilation when using e.g. truffle).

[2019-03-09 20:45] tjade273 opened #6234 "2-layer Dispatch Table"
## Abstract

Function dispatch should prioritize non-pure functions due to higher on-chain usage.

## Motivation

Prompted by this [stackexchange question](https://ethereum.stackexchange.com/questions/68098/why-does-adding-a-view-function-make-write-functions-cost-more-gas/68148#68148)

Most contracts in practice have a high ratio of view/pure to non-pure functions. It is generally seen as "free"

[2019-03-11 10:17] #3712 closed, assigned to nobody

[2019-03-11 11:57] leonardoalt commented on #4538
Original file does not crash anymore on develop.

[2019-03-11 11:57] #4538 closed, assigned to nobody

[2019-03-11 12:02] chriseth commented on #6234
One could argue exactly the opposite: view/pure functions are not only called from outside, they may also be called from other contracts. Especially if view/pure functions are part of the deployed bytecode, one could expect that they are only called on-chain - why would they be part of the bytecode otherwise? In that case, such cheap functions should stay cheap. On the other hand, if a function is

[2019-03-11 12:04] chriseth commented on #6234
Continuing on that argument "if code is only called off-chain, it should not be on-chain" - I think clients should provide a way to call (not transact) contracts in a delegatecall-way, where you specify a different bytecode to be executed instead of the one that is on-chain.

[2019-03-11 12:08] axic commented on #4538
It crashed two weeks ago, perhaps something fixed it inbetween.

Can we add these failing asserting ones into the test suite so we know when they get fixed?

[2019-03-11 12:09] #6095 closed, assigned to nobody

[2019-03-11 13:31] leonardoalt commented on #4538
I'm usually adding all of them to `smtCheckerTests`.
Added this one here https://github.com/ethereum/solidity/pull/6237

[2019-03-11 13:52] tjade273 commented on #6234
I agree in principle that only code designed to be used on-chain should be used on-chain, but that doesn't seem to happen in practice. It would be interesting to see some sort of separate off-chain code; you could do this by having a function that `delegatecall`s to any address provided by the `0x0` address (which can only be the sender in a simulated call).

Now that you mention it, in general th

[2019-03-11 14:18] ekpyron commented on #5107
@chriseth noted that my suggestion probably won't work for dynamically sized arrays with dynamically sized base pointers and I tend to agree now (so I'm minimizing above comment).

[2019-03-11 15:36] chriseth commented on #4128
Is this actually done? Shouldn't we add more messages?

[2019-03-11 16:22] Marenz commented on #4128
Well, at least the ones listed here are added. But there is probably room for more, yes. Maybe a new ticket would be better for that though?

[2019-03-11 16:39] #3409 closed, assigned to Marenz

[2019-03-11 16:45] chriseth commented on #4128
I think the initial description is still clear, so I'll re-open.

[2019-03-11 17:04] Marenz commented on #4128
I very much disagree. For me it was a total mess to understand the current state of the ticket. I updated the initial comment now to provide a clear overview and status.

[2019-03-11 17:38] Marenz commented on #6061
So the fix is to make the compiler aware that even though the name differs, the two files are the same?

[2019-03-11 17:59] chriseth commented on #6061
I would say the fix is to use the same name for the same file, i.e. "not a bug".

[2019-03-11 18:10] Marenz commented on #6061
Hmm can we still detect it and at least issue a warning?

[2019-03-11 18:14] Marenz commented on #6223
Could there be a problem that the cache becomes invalid during the compilation steps?

[2019-03-11 18:35] ekpyron commented on #6223
Not that I'm aware of - both ``interfaceType`` and ``copyForLocation`` should always return the same types given the same arguments I think.

[2019-03-11 18:37] Marenz commented on #6214
Though, for certain values it could shift the lower/upper parts "out" of the type right?

[2019-03-11 18:50] Marenz commented on #6223
But the typechecker sometimes sets types right? Couldn't that change the result?

[2019-03-11 19:08] ekpyron commented on #6223
Not sure what you mean - I meant to cache the result of ``interfaceType`` in the type itself, maybe that was unclear?
So something like
[code]
Maybe not in ``Type``, but only in ``ReferenceType`` and maybe it's not worth the effort/complexity/additional memory needed for the cache, but it should be fine.

[2019-03-11 20:09] leonardoalt commented on #4566
The current bug is fixed by https://github.com/ethereum/solidity/pull/6244.
Then it still crashes because of compound assignment.

[2019-03-11 22:57] Amxx opened #6245 "delete inherited functions in child contract"
I've seen at EthCC that solidity 0.6.0 will includes keywords `override` and `virtual`. This is awesome! However, an additional keyword to delete function could be very nice to have.

Example, I have a smart contract `A` that implements a complexe ownership mechanism and a `verify(something)` function. I could want to have a smart contract `B` i herite all of `A`'s code, except for the `verify` fu

[2019-03-12 09:36] Marenz commented on #6223
No, I understood that. What I meant where things like this: https://github.com/ethereum/solidity/blob/develop/libsolidity/analysis/TypeChecker.cpp#L1159
I feared they might change the result.

[2019-03-12 10:02] bshastry opened #6246 "u256 overflow in logical shift optimization rule leads to incorrect computation"
## Description

(Found by LPM+libFuzzer: Minimized by hand)

The following code should reduce to `mstore(0,0)` instead it reduces to `mstore(0,2)`

[code]

I believe the problem lies in the following logical shift optimization rules

https://github.com/ethereum/solidity/blob/4430fe6a546c05275e72630561737b21d913eaf0/libevmasm/RuleList.h#L348-L353

wherein the following optimization happens
  - SHR(

[2019-03-12 10:24] ekpyron commented on #6223
The TypeChecker assigns Types to ASTNodes - but every Type itself is immutable - nothing will change about it once it is created.

[2019-03-12 10:26] ekpyron commented on #6223
Note that ``_assignment`` in the line you reference is not a type, but an ASTNode that is annotated with a type.

[2019-03-12 10:28] Marenz commented on #6223
Alright :)

[2019-03-12 10:55] axic commented on #6246
Ah finally got it, you surmise that addition of two `u256` can overflow. I think the fix is to do `bigint(A) + B`.

[2019-03-12 10:56] axic commented on #6246
Unfortunately this is a buglist item 😢

[2019-03-12 10:58] chriseth commented on #6246
Good that we plan to make another release before the breaking one :)

[2019-03-12 12:07] ekpyron opened #6247 "More aggressively optimise ``and(byte(x,y),c)``."
```{{Instruction::AND, {{Instruction::BYTE, {X, Y}}, {u256(0xff)}}}, [=]() -> Pattern { return {Instruction::BYTE, {X, Y}}; }, false},``` was added in #6159.

I think this can be strengthened to ``and(byte(x,y),c) -> byte(x,y)``, whenever ``(c&0xFF)==0xFF``.

[2019-03-12 13:00] ekpyron commented on #6247
Maybe better: we can add an additional rule ``and(byte(x,y),c) -> and(byte(x,y),c&0xFF)`` instead. The strengthened rule proposed above will then be a special case of this additional rule plus the already present rule ``and(byte(x,y),0xFF) -> byte(x,y)``.

[2019-03-12 13:55] chriseth commented on #6247
I think this and many other issues can be summarized under tracking value ranges and bit masks of expressions. I'm not sure whether we should do that as part of the old optimizer, though.

[2019-03-12 15:48] chriseth commented on #6245
If I understand you correctly, you are proposing to remove functions from the external ABI of a contract - is that right? In that case, I don't think this is a good idea because it is incompatible with inheritance rules:

If `x` is an instance of `B` which inherits from `A`, then the full interface of `A` has to be available on `x` because you can always convert `x` to the type `A`.

Note that fun

[2019-03-12 16:22] chriseth commented on #6247
Oh and furthermore: I would also like to have a framework that can optimize the following
[code]
into
[code]

This could also be achieved by value tracking. `lt` / `gt` should also be taken into account.

[2019-03-12 16:26] chriseth commented on #6061
You mean if we have two identical files with different names? Not sure if that would not have false positives...

[2019-03-12 17:15] ekpyron commented on #6247
That'd be nice, yes.

[2019-03-12 20:58] nventuro opened #6251 "Provide option to remove reason strings from binary"
## Abstract
I'd like for Solidity to provide an option (e.g. `--strip-reason-strings`) when compiling that resulted in a binary without these strings (as if all `require` statements had no reason, and just the condition).

## Motivation
Revert reason strings are very useful during development and testing, but the extra cost of having them may be undesired in a production environment. This is speci

[2019-03-12 21:33] chriseth opened #6252 "Yul: track value ranges and bit masks of variables"
The Yul optimizer should track value ranges and bit masks for variables and use them during optimization / expression simplification.

Example: The code
[code]
could be simplified to
[code]

In general, branches restrict value ranges and bit masks of variables, even though this might be hard to track, especially if in the above case, the `eq(x, 0)` is hidden behind another variable.

In the follow

[2019-03-12 21:33] chriseth commented on #6247
Created an issue: https://github.com/ethereum/solidity/issues/6252

[2019-03-13 00:41] haltman-at opened #6253 "`type(C).name` also lacks defensive padding (free memory pointer not rounded)"
## Description

I'm not calling this a bug report, because once again, this isn't a *bug* as such; but recall that `type(C).runtimeCode` and `type(C).creationCode`, when introduced in version 0.5.3, did not include the usual padding-to-a-full-word (the padding is technically not part of the bytestring, I know, rather it's just a matter of how the free memory pointer is updated; but I am describing

[2019-03-13 03:27] AtkinsChang commented on #6231
### ASM Output
[code]

[2019-03-13 09:19] ChrisChinchilla opened #6254 "[DOCS] Better documentation on Solidity assembly output"
Reported by @christianparpart

Paraphrasing what he said.

"The documentation could do with clear and factual information on the solidity assembly output structure. Currently 3rd parties have some mentions on this and EVM bytecode, but we should have our own 'official' content."

Somewhat connected with a handful of other issues on output in various formats, so possibly a documentation "outputs" p

[2019-03-13 09:32] #6217 closed, assigned to erak

[2019-03-13 10:05] ChrisChinchilla commented on #4982
Closed by https://github.com/ethereum/solidity/pull/6153

[2019-03-13 10:05] #4982 closed, assigned to nobody

[2019-03-13 10:23] chriseth commented on #6252
Also, this module should take into account branches that do not finish due to their use of opcodes. Example:

[code]
->
[code]

[2019-03-13 10:33] erak opened #6255 "[soltest] Introduce test case selector for isoltest"
It should be possible to selectively run certiain test cases in isoltest. For this reason we should introduce a selector for the commandline that works similarly to the boost test case selector.

[2019-03-13 10:48] chriseth commented on #6228
Wouldn't most of the items make it harder to reproduce the binary? You have to find a matching system...

[2019-03-13 10:51] chriseth commented on #6119
They are not really files, they are just generated source code snippets. So it might be better to just remove these annotations.

[2019-03-13 11:02] #6246 closed, assigned to bshastry

[2019-03-13 11:02] ekpyron commented on #6228
With mismatching compiler and dependency versions or flags you will probably get a mismatching binary anyways - if the binary can tell you its build environment, then you at least have a chance to match it... but yes - it's something to think about. Compiler flags regarding warnings e.g. shouldn't affect the binary.

Another option would be to store all this information outside the binary in some

[2019-03-13 11:08] #6173 closed, assigned to nobody

[2019-03-13 11:27] norhh commented on #6119
Cool, thanks :+1:

[2019-03-13 11:27] #6119 closed, assigned to nobody

[2019-03-13 13:54] chriseth commented on #3506
The main complication for implementing this is that `this` is not compile-time constant (it returns the current address) and thus you have a compile-time constant expression that has a non-compile-time constant sub-expression...

[2019-03-13 14:20] #681 closed, assigned to ChrisChinchilla

[2019-03-13 14:20] chriseth commented on #1603
Implemented in #6209

[2019-03-13 14:20] #1603 closed, assigned to ekpyron

[2019-03-13 14:21] chriseth opened #6265 "Implement encoding calldata arrays and structs for ABIEncoderV2"

[2019-03-13 14:22] chriseth commented on #5239
I'll close this for now.

[2019-03-13 14:22] #5239 closed, assigned to chriseth

[2019-03-13 14:23] #4422 closed, assigned to nobody

[2019-03-13 14:25] #6038 closed, assigned to chriseth

[2019-03-13 14:26] chriseth opened #6266 "Test ABIEncoderV2 with optimizations against real-world projects that use ABIEncoderV2"
Part of https://github.com/ethereum/solidity/issues/5956.

[2019-03-13 14:29] chriseth commented on #5956
Let's re-try at least PoCo.

[2019-03-13 14:30] chriseth commented on #5810
This might benefit from bit mask tracking.

[2019-03-13 14:30] ekpyron opened #6267 "Subranges for calldata arrays."
Calldata arrays should support accessing subranges e.g. ``msg.data.subrange(4)``, resp. ``msg.data.subrange(4, 4+32)``, etc.

This would fix issue #6012 and has interactions with #6220.

[2019-03-13 14:33] ekpyron commented on #5652
Unassigning myself since I seem to never get around to and @christianparpart might take over.

[2019-03-13 14:34] chriseth commented on #6147
Closing as the duplicate is fixed now.

[2019-03-13 14:34] #6147 closed, assigned to nobody

[2019-03-13 14:36] ChrisChinchilla opened #6268 "[DOCS] Add mention that typed YUL is not yet supported"
Add a mention to YUL docs that typed YUL is not yet supported, and what versions of YUL are supported.

[2019-03-13 14:37] chriseth commented on #6103
I'm pretty sure this is not due to the selfdestruct but due to the `datasize`.

[2019-03-13 14:40] chriseth commented on #4558
Actually it might be a good idea to keep the warning (and just change the text) - it is still easy to confuse the variable and the function even if it would not be visible.

[2019-03-13 14:41] chriseth commented on #4540
If we cannot find a new link, let's remove centos from the script.

[2019-03-13 14:48] chriseth commented on #6267
We could restrict that to `bytes calldata` for now.

Would also suggest to use `.slice`.

[2019-03-13 15:14] chriseth commented on #6268
This is basically what the note on https://solidity.readthedocs.io/en/v0.5.5/yul.html already says, just that `yul` is actually not supported anywhere yet.

[2019-03-13 15:15] chriseth commented on #6268
And if you want to use the commandline interface, you should use `solc --strict-assembly --optimize` to get an optimized strict assembly compiler.

[2019-03-13 15:16] ekpyron commented on #6267
I'm fine with ``.slice`` instead of ``.subrange``, but I think it's not necessary to restrict to ``bytes calldata`` - it's straightforward for any base type, even for dynamically encoded arrays.

Should we overload ``.slice``, as in ``array.slice(begin)`` = ``array.slice(begin, array.length - begin)`` or should we let the user do that?

Or more generally: should the signature be ``slice(begin,leng

[2019-03-13 15:21] ahoppen opened #6270 "Overflow-safe addition and multiplication by extending the result type"
The below proposal is not 100% fletched out yet, but I'd like to get a general feedback of whether the idea is desirable. If that is the case, I am more than happy to write a more detailed proposal and discuss further corner cases (see Open ends).

## Abstract

The result type of multiplication and addition is the same as the first operand, which may cause an overflow in case the result type canno

[2019-03-13 15:36] adridadou opened #6271 "Invalid opcode 1b"
## Description
I'm using ethereumJ to run my tests but I compile the contract with solc directly.

Until solc 0.5.4, everything was working fine. Since I've upgraded to 0.5.5, I'm getting this error:
:Invalid operation code: opCode[1c]; (in another project, I get an error about the opcode 1b)

## Environment

- Compiler version: 0.5.5
- Target EVM version (as per compiler settings): ^0.5.0
- Frame

[2019-03-13 15:45] adridadou commented on #6271
I think I found the issue. They seem to be constantinople opcodes but ethereumj doesn't enable them for some reason

[2019-03-13 15:45] #6271 closed, assigned to nobody

[2019-03-13 16:18] erak commented on #4540
@Justme0 We finally created a PR that should fix this issue. Could you verify that it works with the new URL added here: https://github.com/ethereum/solidity/pull/6273? Thanks in advance!

[2019-03-13 16:29] wbdeedcoin opened #6275 "Multiple Boost versions on Ubuntu 18"
I'd like to request support for finding the newest version of Boost on Ubuntu 18. After upgrading from 16.04 Cmake can never find Boost 1.65. I know its installed. But I don't know how to get Cmake to find it. It only finds my old Boost 1.61 version in

solidity/cmake/EthDependencies.cmake

currently compiling Boost 1.65 to /usr/ hopefully this fixes it and Cmake finds it.

[2019-03-13 17:09] chriseth commented on #6275
This is a little unfortunate, but cmake has boost versions baked in - so an old cmake version will never find a new boost library. What is your cmake version?

[2019-03-13 17:10] #6218 closed, assigned to erak

[2019-03-13 17:26] wbdeedcoin commented on #6275
warren@dev:~/.../BUGS/solidity/build$ cmake --version
cmake version 3.10.2

CMake suite maintained and supported by Kitware (kitware.com/cmake).

[2019-03-13 18:52] #6253 closed, assigned to nobody

[2019-03-13 18:56] #4540 closed, assigned to erak

[2019-03-13 19:09] haltman-at commented on #6253
Thanks!

[2019-03-13 21:58] nventuro commented on #6075
From https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1678 (I didn't want to creat a new issue, since the topic is the same)

As shown by @wjmelements [here](https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1678#issuecomment-472605219), when compiling on both [v0.4.24](https://rinkeby.etherscan.io/address/0xff3a0211857b597161f8501eb8436de21ecb8291#code) and [v0.5.5](https://rin

[2019-03-14 03:12] Skyge commented on #6270
I don't think this is a good proposal, as for most cases, if you find you use `uint8` will be overflow, why don't use `uint16` to replace, I think when I want to use a number, I will consider the type I have defined is suitable or not, if I just want to  use `uint8` rather than `uint16`, I will make more check to ensure it will not be overflow.
[code]
I think the result of above is `c = 254`, besi

[2019-03-14 06:52] ahoppen commented on #6270
My motivation was that a `uint8` might be the argument of a function. Hence you can never know which value a user passes in and always need to assume the maximum value. Changing the type to `uint16` just shifts the problem from `2^8-1` to `2^16-1`. Allowing the user to enter a `uint16` and then doing a `require(x < 256)` makes one byte of the input effectively useless, which isn’t desirable either

[2019-03-14 07:26] Skyge commented on #6270
I am not sure, but there is a similar issue about this, [solidity/issues/796](https://github.com/ethereum/solidity/issues/796)

[2019-03-14 10:03] chriseth commented on #6270
I think it is a valid proposal to consider the addition of `uintN` and `uintM` to result in `uint(N+M)` and I think there are already languages that behave like that. This is of course complementary to runtime overflow checks which we plan to add. Such a runtime overflow check would also be performed upon explicit conversion like in `uint8(x + y)`.

[2019-03-14 10:15] chriseth commented on #6075
The difference seemse to be 5 gas for optimized code and 13 for unoptimized code (which I would not consider here).
[code]
[code]

[2019-03-14 10:18] chriseth commented on #6075
Since the return variable is an actual variable that can be referenced, it occupies a stack slot. The old optimizer (the new cannot yet be used here) is based on basic blocks and it only optimizes what happens to the stack from block start to block end - it will not modify the stack layout between blocks and thus it cannot remove this stack slot.

[2019-03-14 10:19] chriseth commented on #6075
I'm closing this now, since everything discussed here that can be implemented with reasonable effort has been implemented. Value range tracking is on the roadmap for the yul optimizer: #6252

[2019-03-14 10:19] #6075 closed, assigned to nobody

[2019-03-14 10:22] #6108 closed, assigned to bshastry

[2019-03-14 10:22] Marenz commented on #4260
@erak I unassigned you for now assuming you are not actively working on this. Feel free to re-assign if I was wrong :)

[2019-03-14 11:39] Marenz commented on #10
Before considering implementing macro support I would first define what problems it should solve exactly.
I personally don't like the idea of macros at all as they are (often) just another language on top of the language and not type aware at all. And the reason they (usually) exist is the lack of compile-time features of the main language.
If we have such a list of what one wants macros for, we m

[2019-03-14 11:46] Marenz commented on #72
Does #3041 imply that we do want this and it's pending implementation?

[2019-03-14 11:46] Marenz commented on #72
because so far there was no clear response to this issue

[2019-03-14 13:09] blockchain-app12 opened #6285 "Multiple token transfer in exchange site"
<!--## Prerequisites
##Description

[2019-03-14 13:12] #6285 closed, assigned to nobody

[2019-03-14 13:21] Marenz opened #6286 "Support optimizer tests that run only on certain versions"
E.g. one test might require SHL/SHR instructions which are only available on >= Constantinople

[2019-03-14 13:22] blockchain-app12 opened #6287 "Multiple token transfer in exchange site"
## Description
Hi, I am working on token exchange site. In which I wrote functions for transferring multiple tokens. When I tried to transfer token in my contract it shows gas estimation failed. It's not calling the approve function. If I call approve function of token contract from my contract, it takes msg.sender as my contract address by that it process as my contract address (instead of my wal

[2019-03-14 13:42] Marenz commented on #6286
This can be implemented similar to how ["struct yul" tests are implemented](https://github.com/ethereum/solidity/blob/develop/test/libyul/YulOptimizerTest.cpp#L89).
Syntax suggestions:

[code]

Basically you can combine any version string with any comparison: `==`, `>=`, '<=`, `>`, `<`.

Instead of `arch` it could say one of `version`, `evm-version`, `evm`

[2019-03-14 13:44] chriseth commented on #72
No decision has been made on this yet.

[2019-03-14 13:47] chriseth commented on #6287
"gas estimation failed" looks like you are triggering a revert, for example due to an overflow.
This question is better asked at https://ethereum.stackexchange.com - you will get faster and better replies there. If you think this might be a bug in the compiler, please reopen the issue.

[2019-03-14 13:47] #6287 closed, assigned to nobody

[2019-03-14 13:48] chriseth commented on #6286
Perhaps we should just start with evm version names without any comparison operators, which would then mean "at least that version".

[2019-03-14 13:54] bshastry opened #6288 "Strict assembly differential fuzzer works poorly with non ASCII characters as input"
## Description

The strict assembly differential fuzzer is a corpus based fuzzer whose goal is to find bugs in the yul optimizer. It does so by
  - feeding random input to the strict assembly assembly stack API
  - which then parses it
  - if parsed successfully, this input is traced using the yul interpreter (trace A)
  - next, the program is optimized
  - optimized program is again traced using

[2019-03-14 14:33] Pet3ris opened #6357 "homebrew provides commits rather than official `solc` versions"
Hi There,

I've noticed that when installing from `brew`, Solidity installs specific commits rather than the official well-formatted versions. For example, right now:

[code]

This in turn, makes the `solc`installations incompatible with libraries like `py-solc-x` which expect to use the official release versions.

[2019-03-14 14:45] bshastry opened #6290 "Fix yul proto bugs"
## Description

We make frequent use of the protobuffers language construct `oneof ... {}` that essentially defines a message to be one of several things.

We translate `oneof`s into yul code by using a waterfall if ... else if pattern, which is inelegant and prone to bugs.

Instead we should be making use of a switch statement with explicit cases.

[2019-03-14 14:54] #6290 closed, assigned to bshastry

[2019-03-14 14:58] #5914 closed, assigned to nobody

[2019-03-14 15:07] wbdeedcoin commented on #6275
I just installed Boost 1.65 to /usr/ and recompiled cmake from source. It didn't find my newer version of boost. Could you possible point me in the right direction? I know this is turning into tech support rather than a pull request. So if there is something simple that would get me going then cool. If not don't worry about it.

[2019-03-14 15:11] chriseth commented on #6275
I still do not understand the full extent of this issue. Do you want to compile solidity at all or with a specific version of boost? We know that compilation should work on Ubuntu 18, because we build it there successfully as part of the PPA release process: https://launchpadlibrarian.net/415000931/buildlog_ubuntu-bionic-amd64.solc_1%3A0.5.6-0ubuntu1~bionic_BUILDING.txt.gz

[2019-03-14 15:24] wbdeedcoin commented on #6275
Basically I have Boost 1.61 and Boost 1.65 and Cmake is all shrugs when trying to compile solidity

[2019-03-14 15:31] Marenz commented on #6286
So it doesn't get lost, here are the tests that require the feature: https://github.com/ethereum/solidity/tree/test-requiring-constantinople

[2019-03-14 15:32] chriseth commented on #6275
Ah ok! Sorry that it took me so long.

You could try setting some of the variables mentioned in the section `This module reads hints about search locations from variables` of https://cmake.org/cmake/help/v3.10/module/FindBoost.html

I.e.

[code]

[2019-03-14 15:39] nventuro commented on #6075
Ah, that makes sense then, considering how the optimizer works. Will the Yul optimizer be able to modify the stack layout across blocks?

Also, is there a rough estimate for when you'd expect solc to be able to compile to Yul to make use if its optimizer?

Thanks!

[2019-03-14 15:50] chriseth commented on #6075
Yes, the yul optimizer was designed to allow cross-block and even cross-function optimizations. The traditional optimizer is a little better on optimizing stack layout, but I think we will get there also with the yul optimizer. I cannot really tell how solidity -> yul will progress, but we currently estimate end of the year for a usable prototype.

[2019-03-14 15:50] chriseth commented on #6075
Here is the first PR on this road: https://github.com/ethereum/solidity/pull/2320

[2019-03-14 16:22] wbdeedcoin commented on #6275
Well I got 60% of the way there ....
[code]

[2019-03-14 17:07] chriseth commented on #6275
It seems that now you are using an outdated version of z3. You can try cvc4 instead or just disable both of them.

[2019-03-14 17:11] bshastry opened #6295 "yul proto spec: add missing binary operations"
## Abstract

The yul proto spec does not yet define the following binary operations

| opcode  | Description |
| ------------- | ------------- |
| sdiv(x, y)  | x / y, for signed numbers in two’s complement |
| smod(x, y) |	x % y, for signed numbers in two’s complement |
| exp(x, y)  |	x to the power of y |
| slt(x, y)	|	1 if x < y, 0 otherwise, for signed numbers in two’s complement |
| sgt(x, y)

[2019-03-14 17:12] #6223 closed, assigned to Marenz

[2019-03-14 17:14] bshastry opened #6296 "yul proto spec: add ternary opcodes"
## Abstract

The yul proto spec does not define the following ternary operations

| opcode  | Description |
| ------------- | ------------- |
| addmod(x, y, m) |   (x + y) % m with arbitrary precision arithmetic |
| mulmod(x, y, m) |   (x * y) % m with arbitrary precision arithmetic |

## Specification

It should be straightforward to add these to the existing yul proto spec by creating a new `mes

[2019-03-14 17:14] flockonus commented on #10
Good point. Personally I constantly run in 2 use cases:

One use case is logging by using events during development, and even changing function modifiers.

Sometimes also makes sense to change time spans, for instance, in production a class could require a freeze period of 1y, but during tests, 10 seconds is enough.

Current workarounds are:
The first is achieved by manually un/commenting a lot of

[2019-03-14 17:18] Marenz commented on #10
For the first: I don't actually know enough about events and logging to have a useful suggestion here. I leave this one to others for now :>

For the second, a language feature could be something like a way to define global variables that has a default but can be overridden by cmd line parameters (or json input) when compiling.

[2019-03-14 21:55] bshastry commented on #6227
Update: Plotted trace size for inputs in the corpus (about 4000 valid yul programs). Found trace size to lie between 0 and 100. 10000 seems excessive at this point.

[2019-03-15 04:42] blockchain-app12 commented on #6287
My actual question is, with multi token when I call approve function from exchange contract, nor my address and spender get approved. Instead only the exchange address and spender gets approved.
Its like when I call approve with spender as my contract address, in token contract it takes msg.sender as my contract address.

Help me resolving this.

[2019-03-15 09:54] ekpyron opened #6298 "[soltest] Format expectations as compact hex literals by default."
When reformatting a hex literal like ``0x42``, isoltest will currently correctly output a hex literal, but always a full 32-bytes long one like (at least confirmed on mismatching expectations), e.g. ``0x000000000000000000000000000000000000000000000000000000000000002a``. This is "fine", but it would be nice to just change the formatting to use "toCompactHexWithPrefix", which will result in a nice `

[2019-03-15 12:25] ekpyron opened #6299 "Still misleading error messages for external function calls."
The fix of #4307 is somewhat incomplete.

[code]
nicely yields (could still be improved, but fine)
[code]

On the other hand, the following:
[code]
yields
[code]
Which is pretty weird - before searching for similar identifiers here, we should check whether there is an external function with exactly the same name. Also should "f1" and "f2" (since they are external) in fact be considered viable sugg

[2019-03-15 12:34] ekpyron commented on #6299
A simple solution might be to just add ``this.`` to the suggestions, if the type is an external function type. Might be better to distinguish between internal and external types for choosing suggestions in general, though.

[2019-03-15 16:48] ekpyron opened #6301 "[soltest] Only highlight mismatching part of semantics test expectations."
Currently, isoltest will highlight the whole list of expected return values, if any of them mismatches in any way. It would be much nicer, if it only highlighted exactly those values, that actually mismatch.

[2019-03-15 23:16] shahankhatch opened #6302 "Tuple parsing requires all variables to be declared or none."
## Description

Using the following code (in Remix) reports a syntax error, but doesn't seem like one.
`uint i_tcr=0;
(i_tcr, bool check_v)=tcr.index_get_v(msg.sender);`

Expected ',' but got identifier
(i_tcr, bool check_v)=tcr.index_get_v(msg.sender);
              ^-----^

The syntax error does not appear if both variables are declared beforehand.

`uint i_tcr=0;
bool check_v=false;
(i_tcr, che

[2019-03-16 10:06] ChrisChinchilla opened #6303 "[DOCS] Review and potentially clarify mappings docs"

[2019-03-16 10:08] ChrisChinchilla opened #6304 "[DOCS] How does solidity handle ETH refunds"

[2019-03-16 10:09] ChrisChinchilla opened #6305 "[DOCS] How does solidity use memory in reserved slots"

[2019-03-18 09:23] leonardoalt commented on #6245
@Amxx is that what you meant?

[2019-03-18 10:19] #6295 closed, assigned to bshastry

[2019-03-18 10:44] #6288 closed, assigned to bshastry

[2019-03-18 11:15] bshastry commented on #6103
@chriseth you are right. I edited the bug title and description accordingly.

[2019-03-18 11:37] bshastry opened #6307 "yul proto spec: Add support for generating string and hex literals"
## Abstract

It would be nice to have support for string and hex literals so that we can generate code such as
let x := "hello"
let y := 0x1234

This issue tracks support for this.

## Motivation

- Extend current proto specification for the said literals
- Keep in mind that string and hex literals are bounded
  - Max hex character length is 64
  - Max string literal length is 32

For the latter,

[2019-03-18 11:42] ChrisChinchilla commented on #6303
Feedback from ETHDenver.

As mappings (or changes to them are newer), this is a task to check if current documentation is clear enough, after feedback from developers. It may be that it's perfectly clear, but just newer so that people I spoke with hadn't read it before.

[2019-03-18 11:42] ChrisChinchilla commented on #6304
Feedback from ETHDenver. Some people were confused as to what happens to unused ETH after contract execution. As this was just feedback, this is more of a task to check if that is really the case or not.

[2019-03-18 11:43] ChrisChinchilla commented on #6305
Feedback from ETHDenver

[2019-03-18 11:52] ChrisChinchilla commented on #4610
It does look like RTD automates most of this, and while it may be possible to reorganise the repository branches and tags to get this working, it's probably a lot of work for a small return (IMO).

https://docs.readthedocs.io/en/stable/versions.html

[2019-03-18 11:52] #4610 closed, assigned to nobody

[2019-03-18 14:24] Amxx commented on #6245
yes,

an example of usage for me was to have a contract be ownable but without the possibility to ever change the ownership. In my case I inherit from openzeppelin's owable contract and add:

    	function transferOwnership(address) public { revert("disabled"); }

I'd much rather have put something like

        delete transferOwnership(address) public;

so the function doesn't even appear in the

[2019-03-18 14:29] #4262 closed, assigned to ekpyron

[2019-03-18 14:32] axic commented on #4262
The final syntax is:
[code]

[2019-03-18 15:50] ChrisChinchilla commented on #4913
@axic Do you have any idea what might be missing here:

It's the same issue on the their rendered copy, and I'm not sure what important detail is missing.

[2019-03-19 04:24] Skyge commented on #869
I have got to say, it is hard for me rather than a little complex as I expected to achieve overloading, so it is more suitable for experienced people. I will move to help at other issues, but I will also keep my eye on this question.

[2019-03-19 09:45] bshastry opened #6316 "Wrong argument order in optimization rule for byte function leads to incorrect computation"
## Description

The following strict assembly code results in `sstore(0,2)` instead of `sstore(0,0)`.

[code]

The root cause of the bug is the incorrect optimization of the code pattern `byte(x,31)` to `and(x,255)` in the rule below (introduced in 0.5.5)

https://github.com/ethereum/solidity/blob/304ef77b4a5e983ebc0105bd41e00d78607aefdb/libevmasm/RuleList.h#L156

The correct rule is optimizing `b

[2019-03-19 11:22] marcscherer commented on #1686
Any progress in that? I still can't see revert messegas on ethereum testnet (while it works very fine on TRON). The error I got has this format:

[code]

[2019-03-19 12:08] chriseth commented on #5956
We should also try 0x: https://github.com/0xProject/0x-monorepo - it seems to use a different test setup, perhaps that is also not the right repository.

[2019-03-19 12:41] ANUDAVIS commented on #2948
I am using experimental ABIEncoderV2 and I got the array of struct data after deploying in the remix. But I am getting an empty array while giving to the frontend for application.

[2019-03-19 13:16] Chhe-chinyong commented on #3255
I got the same question , could anyone help me out ?

[2019-03-19 14:25] leonardoalt commented on #4336
Closed by https://github.com/ethereum/solidity/pull/6272
@ChrisChinchilla please reopen if I'm wrong

[2019-03-19 14:25] #4336 closed, assigned to nobody

[2019-03-19 14:47] chriseth commented on #6287
I'm sorry, but this is really not the right place for such questions.

[2019-03-19 14:48] chriseth commented on #6298
Please take a look at `formatNumberReadable`.

[2019-03-19 15:45] christianparpart commented on #6103
@bshastry / @chriseth what is the expected output of `datasize(0)`? Why this one is raising is because the parameter (`0`) isn't in the map of assembly IDs (`m_subIDs`) and just adding `yulAssert()`'s in front  does indeed improve the error output but doesn't really feel like a fix.

If this parameter is wrong input, we should improve the API to allow detailed error diagnostics propagation up to t

[2019-03-19 15:57] leonardoalt commented on #6146
Not only fallback but any public function.

[2019-03-19 16:00] christianparpart commented on #6103
I believe I just found out my first question; the parameter should be of type string and represent the path to an assembly object in dot-notation. Since we passed an invalid parameter, we should pass this information up to the caller, somehow. (returning `false` and reporting to `ErrorReporter` would be my proposal?)

[2019-03-19 16:58] chriseth commented on #6146
I'm not sure we should implement this.

[2019-03-20 03:16] Winterlx opened #6327 "About solidity compiler 0.4.15 and nightly"
## Description
I have a .sol file which the version is "pragma solidity ^0.4.15;" , and i download the 0.4.15 version
 solc here(https://github.com/ethereum/solidity/releases?after=v0.4.16).
Now i get a ERROR:
`MultiSigWallet.sol:1:1: Error: Source file requires different compiler version (current compiler is 0.4.15-nightly.2017.8.10+commit.8b45bddb.Windows.msvc - note that nightly builds are cons

[2019-03-20 03:41] axic commented on #6174
This can be implemented after #6318.

[2019-03-20 03:41] axic commented on #6015
This can be easily implemented after #6318.

[2019-03-20 03:44] axic commented on #1658
This was implemented via #5959.

[2019-03-20 03:44] #1658 closed, assigned to nobody

[2019-03-20 03:46] axic commented on #2337
I think these were implemented or are obsolete now.

@chriseth if you think something is missing from here, can you create a new issue for them?

[2019-03-20 03:46] #2337 closed, assigned to chriseth

[2019-03-20 07:16] Skyge commented on #6327
Maybe you can download the version 0.4.16 to have a try. By the way, the latest version is Version 0.5.6, you can have a try.

[2019-03-20 08:33] Winterlx commented on #6327
@Skyge
Thank you for your reply.
I use 0.4.15 because i found a MultiSignatureWallet.sol which is write in 0.4.15 and I am afraid it will broken if I modify it.
I found a website to generate .abi and .bin file online and get .java file with web3j wrapper.
I have been deployed a smart contract and now I`m testing other function.
谢谢你的回复~
我用0.4.15是因为我找到的多签钱包的.sol文件是用0.4.15写的，我怕我改了之后用不了了_(:з」∠)_
我找到了一

[2019-03-20 09:00] chriseth opened #6328 "[Yul] Dead code removal after break and continue, potentially after `return` etc, too"

[2019-03-20 09:01] chriseth commented on #4576
Split out the dead code removal into its own issue: https://github.com/ethereum/solidity/issues/6328

[2019-03-20 09:02] chriseth commented on #6327
@Winterlx where exactly did you download the version 0.4.16 from?

[2019-03-20 09:07] #6146 closed, assigned to leonardoalt

[2019-03-20 09:42] chriseth opened #6329 "Error is reported on wrong line"
On input
[code]
The compiler reports:
[code]

[2019-03-20 09:44] christianparpart opened #6330 "[Yul] Improve error reporting for datasize() & dataoffset() misusage"
This is in reference to PR #6322, where we provide better exception diagnostics.

Now, the plan is to properly catch invalid arguments to those assembly functions by catching them earlier, i.e. in the AsmAnalysis.

For that to work, AsmAnalysis needs to know about assembly objects (structure).

Passing an invalid argument should then report to `ErrorReporter` as a `TypeError` (?).

[2019-03-20 09:50] #6103 closed, assigned to christianparpart

[2019-03-20 09:53] Winterlx commented on #6327
@chriseth hello
0.4.16?
I download 0.4.15 at the release page https://github.com/ethereum/solidity/releases?after=v0.4.23

[2019-03-20 09:55] EnchanterIO commented on #3115
Didn't write any Solidity code for few months and now in 2019 I googled the same question just to be sure. I find it also a bit confusing but @o0ragman0o explanation is definitely clear. Not suggesting it to change but smth like this would have been more clear imo. as people are used to such a syntax more:

[code]

Where "this" would refer to SC.

[2019-03-20 09:55] ChrisChinchilla commented on #4336
That is true @leonardoalt I hadn't noticed it merged to close the issue, thanks :)

[2019-03-20 10:20] erak commented on #3255
@Chhe-chinyong Please have a look at the documentation: https://solidity.readthedocs.io/en/latest/types.html#bytes-and-strings-as-arrays. You can compare strings like this: `keccak256(abi.encodePacked(s1)) == keccak256(abi.encodePacked(s2))`

[2019-03-20 10:26] chriseth commented on #6327
Which of the releases there did you use? Which system are you running?

[2019-03-20 10:26] chriseth commented on #6327
Did you use one of the provided binaries or did you compile yourself?

[2019-03-20 10:34] erak commented on #2948
@ANUDAVIS Could you please share an example? Without any code, it's hard to reason about your issue. In general, this should work:
[code]

[2019-03-20 10:52] Winterlx commented on #6327
![image](https://user-images.githubusercontent.com/18513073/54678875-f9a76c80-4b40-11e9-869d-396990ccfa20.png)
and I get this error
![image](https://user-images.githubusercontent.com/18513073/54679017-49863380-4b41-11e9-9be8-5e65270d52b9.png)
Thank you for your reply.

[2019-03-20 10:56] chriseth commented on #6327
It looks like this release has an error then. Could you try 0.4.16? I think you should really use 0.4.25, though.

[2019-03-20 10:57] erak commented on #6302
Here's a minimal example that triggers this error:
[code]
Whereas this compiles:
[code]

[2019-03-20 11:19] chriseth commented on #6302
I fear we cannot change this, because the statement is either a variable declaration or it is an assignment. If we allow mixing it, it gets more complicated.

[2019-03-20 12:11] Winterlx commented on #6327
I`ll try 0.4.16.
I use 0.4.16 because I have a .sol file programmed with 0.4.15 and I don`t know how to change the .sol file and make it work _(:з」∠)_.
Thank you!

[2019-03-20 12:28] axic commented on #6327
This means it requires at least 0.4.15 but will work with any later 0.4 version.

[2019-03-20 13:25] bshastry opened #6332 "yul proto spec: Add support for generating missing memory/store/log opcodes"
## Abstract

The following is a list of opcodes currently interpreted by the yul interpreter but not generated by the fuzzer

| opcode  | Description | Num. arguments | Return value |
| ------------- | ------------- |-----------------------|-------------------|
| mstore8(p, v) |   mem[p] := v & 0xff (only modifies a single byte) | 2 | No |
| pc | current position in code | 0 | Yes |
| msize | size

[2019-03-20 14:00] chriseth commented on #1686
@mscherer82 there is no indication why it should not work. Perhaps you are using a client that does not support it?

[2019-03-20 14:00] chriseth commented on #1686
Did you set the testnet to be byzantium-compatible?

[2019-03-20 15:06] #6231 closed, assigned to chriseth

[2019-03-20 15:07] #637 closed, assigned to Marenz

[2019-03-20 15:07] #6329 closed, assigned to christianparpart

[2019-03-20 15:26] #5900 closed, assigned to nobody

[2019-03-20 17:04] #5193 closed, assigned to nobody

[2019-03-20 17:08] rainbreak commented on #6266
Can make a separate issue for this if appropriate. With the AbiEncoderv2, is the intent to have structs returned from auto-generated getters for public storage?

For example,

[code]

This exposes the getter `function data(bytes32) public view returns (uint256,bytes32)`

Is it possible that it could instead expose `function data(bytes32) public view returns (Data)`?

[2019-03-20 17:17] axic commented on #6266
@rainbreak please open a new issue for this

[2019-03-20 17:42] rainbreak opened #6337 "Redefine struct getters to return their struct type, not a tuple of individual fields"
With the AbiEncoderv2, is the intent to have structs returned from auto-generated getters for public storage?

For example,

[code]

This exposes the getter `function data(bytes32) public view returns (uint256,bytes32)`

Is it possible that it could instead expose `function data(bytes32) public view returns (Data)`?

[2019-03-20 18:44] axic commented on #3586
Proposal:
[code]

Currently reset doesn't touch `metadataLiteralSources` and `remappings`.

[2019-03-20 19:24] #6224 closed, assigned to bshastry

[2019-03-20 19:41] leonardoalt commented on #4566
@axic why did you close this? It still crashes

[2019-03-21 00:40] axic commented on #4566
Don't we have couple of issues tracking crashes due to lack of compound assignment?

[2019-03-21 02:10] Skyge commented on #6337
I think you can not only get a struct type from a function with the [ABIEncoderV2](https://solidity.readthedocs.io/en/v0.5.6/abi-spec.html#handling-tuple-types), but pass a struct type into a function.

[2019-03-21 08:18] #6151 closed, assigned to Marenz

[2019-03-21 08:18] #6215 closed, assigned to Marenz

[2019-03-21 09:07] krzkaczor commented on #980
If anyone is still wondering how to do this, use `abi.encodePacked`:

[code]

[2019-03-21 09:17] chriseth commented on #3586
Looks good!

[2019-03-21 10:01] chriseth commented on #6337
The automatic getters were designed before structs in the ABI were even considered. Especially for arrays, getters as they currently are make sense in certain cases, so I'm a bit reluctant in changing the behaviour altogether. We could change the detail about returning structs once ABIEncoderV2 is the default, though. I would not change it earlier because activating ABIEncoderV2 currently does not

[2019-03-21 10:18] leonardoalt commented on #4566
Yea but even when that's fixed this might still fail for some other reason. I think we should close this only when this examples is fully working.

[2019-03-21 11:23] chriseth opened #6341 "Test expectation failure on mac due to different exception types"
This is a commandline test:
[code]
Proposed fix: clean everything after `Dynamic exception type` before comparing.

[2019-03-21 14:27] chriseth commented on #1754
I guess we won't implement this anymore since we are moving away from jumps.

[2019-03-21 14:27] #1754 closed, assigned to nobody

[2019-03-21 14:47] juanfranblanco opened #6342 "Feature: Output AST recovering from all parsing errors to support all tooling"
There has been many attempts to create different solidity language parsing components and /or AST providers to support solidity tools and IDEs.

The problem is that all this disparate components are immediately out of date witch each solidity release, which is normally in a weekly basis.

Also different users, use different versions of solidity, so there is not a reliable way to inform a user or p

[2019-03-21 15:16] kevinaquick opened #6345 "Problems accessing methods in contracts compiled in Solidity 0.5.5 onwards"
We are running a number of Parity Private Networks running with PoA.

The configuration being
Contracts compileD with differing versions of solcjs  (also used the code compiled on Remix as a double check)
Parity 2.3.7-stable-7d1415a-20190320
Linux Ubuntu 16.04.6

We recently updated the version of Solidity our contracts were compiled under and have found that we can no longer make calls to methods

[2019-03-21 15:19] juanfranblanco commented on #3618
@chriseth Following our chat a while ago, would it be possible to add the hint of the struct type to the abi? This is probably the simplest solution before we have @axic ```annotatedTypes```

Similar to what @iikirilov said, this will allow for simple identification of the different structs and be code generated accordingly so we can avoid duplication of types generated.

[code]

[2019-03-21 16:04] chriseth commented on #6342
Some simple ways to recover:

Inside parenthesized expression, catch the fatal parser error, search for the next closing parenthesis and continue for there, ignoring everything that was skipped over.

The same can be done at statement level (search for next `;`) and contract level (search for next `}`).

[2019-03-21 16:06] chriseth commented on #6345
Following the hard fork on the Ethereum mainnet that occured shortly before the 0.5.5 release, the default EVM version now is set to "petersburg". If you are running a byzantium testnet, you have to compile with `--evm-version byzantium` or similar in the standard-json settings.

Please reopen if this did not solve the problem.

[2019-03-21 16:06] #6345 closed, assigned to nobody

[2019-03-21 16:09] chriseth commented on #6304
Can you provide a bit more details?

[2019-03-21 16:09] chriseth commented on #6303
Can you provide a bit more details?

[2019-03-21 16:10] chriseth commented on #6305
Can you provide a bit more details? This is not covered here https://solidity.readthedocs.io/en/v0.5.6/miscellaneous.html#layout-in-memory ?

[2019-03-21 16:41] #1350 closed, assigned to nobody

[2019-03-21 16:45] chriseth commented on #6252
Can we optimize the following?
[code]

[2019-03-21 17:21] axic opened #6349 "Check why 0.4.x requires an older boost on Mac"
See https://github.com/ethereum/homebrew-ethereum/pull/221#discussion_r266425192

Also optionally fix this issue with 0.4.26.

[2019-03-21 17:23] axic opened #6350 "Backport RuleList fix for out of stack issue on Firefox for 0.4.x"

[2019-03-21 17:51] shahankhatch commented on #6302
At least the compiler gives an error when a variable shadows a previous variable declaration of the same name.
Thanks for taking a look!
Closing.

[2019-03-21 17:51] #6302 closed, assigned to nobody

[2019-03-21 21:12] #6341 closed, assigned to nobody

[2019-03-21 21:32] axic commented on #5956
Some interesting ones: veil.co, kyber.network, bounties.network, gitcoin contracts (such as the grant eip1337), compound.finance, 0x, dai contracts (cdp portal, etc.), delphy, ens contracts, cent.co

Not fully sure if all of them have open sources, like cent.co probably doesn't.

Also USDC (https://www.centre.io/usdc) and TUSD (https://www.trusttoken.com/trueusd/) could be interesting, but they ar

[2019-03-21 21:47] #6307 closed, assigned to bshastry

[2019-03-21 21:49] #6316 closed, assigned to bshastry

[2019-03-21 22:24] bshastry opened #6352 "Yul proto converter: Add state to the proto-to-yul converter"
## Abstract

The current implementation of the yul proto converter (the code that converts a protobuf formatted input to a yul program) does not contain any state.

This means the following are possible
  - referencing as yet undeclared variables
  - nested for loop re-using the same loop variable
  - switch statements with duplicate case literals

Although these issues are to be addressed separat

[2019-03-21 22:27] axic commented on #10
This specific sub problem is solved by Truffle for example providing a way to advance time in tests. I think that is a better approach because you are actually testing the production code and not a "for testing only" version.

[2019-03-21 22:29] axic commented on #10
Regarding events and testing I think `test` attributes found in Rust could provide a good example:

[code]

When compiling for release output this code will not be included. However this feature has to be very restricted otherwise has the potential that testing and release binaries differ way to much negating the usefulness of tests.

[2019-03-21 22:32] axic commented on #927
I haven't looked at the paper, but @chriseth @leonardoalt is this still relevant after we've dropped Why3 and we have counterexamples with SMT?

[2019-03-21 22:33] axic commented on #1098
@chriseth is this a documentation issue?

[2019-03-21 22:36] axic commented on #1140
@chriseth can you expand on this a bit?

[2019-03-21 22:37] axic commented on #1172
@chriseth @bshastry can we consider the protobuf based buffer is somewhat accomplishing this? Do we need to keep this issue? @bshastry can you get some inspiration from these comments?

[2019-03-21 22:39] axic commented on #1275
This was achieved, we do have tests for the optimiser, including the peephole. It can always be improved though.

[2019-03-21 22:39] #1275 closed, assigned to nobody

[2019-03-21 22:40] axic commented on #1289
The dispatched now has a binary search, if enough functions are present.

There has been other requests to sort it by state mutability or by a supplied list. Since this comes up rather frequently, I'd say it would make sense documenting it.

@chriseth @ChrisChinchilla what do you think?

[2019-03-21 22:42] axic commented on #1290
I am leaning towards that constants should be supported in interfaces instead.

[2019-03-21 22:44] axic commented on #1755
Closing this since we're moving off the old assembly notation to Yul.

[2019-03-21 22:44] #1755 closed, assigned to nobody

[2019-03-21 22:47] axic commented on #1510
I've marked this Yul, but really it is just "codegen" related.

[2019-03-21 22:48] axic commented on #1757
Closing this because of the same reason as #1754.

[2019-03-21 22:48] #1757 closed, assigned to nobody

[2019-03-21 22:52] axic commented on #1406
@chriseth @bshastry I think this can be closed as we have it with protobuf now? Or do we want to keep this for a standalone app?

[2019-03-21 22:54] axic commented on #2707
@ekpyron I think you have worked on unreachable code and code without effect detection. Can you update this issue where we stand and what is left to be supported?

[2019-03-21 23:04] axic commented on #2100
Just like #411, perhaps it is better to implement this in the Remix static analyzer. @yann300 @soad003 what do you think?

[2019-03-21 23:05] axic commented on #2130
@chriseth can you explain this issue? Is it still relevant? If it is not a significant amount of work, I'd opt to do it, but if it is, given the new libyul approach this may be obsolete soon(tm).

[2019-03-21 23:06] axic commented on #5708
@coventry please comment if the answer was unsatisfactory.

[2019-03-21 23:06] #5708 closed, assigned to nobody

[2019-03-21 23:08] axic opened #6354 "Examine new Solidity fork called dsolidity"
https://github.com/dexon-foundation/dsolidity

The only addition they seem to have is support for a new opcode, `RAND`.

[2019-03-21 23:09] axic commented on #5829
@bshastry would it make sense prioritizing this as long as it doesn't take too much time to accomplish?

[2019-03-21 23:10] axic commented on #5933
@chriseth any opinion?

[2019-03-21 23:10] axic commented on #5893
Closing this due to lack of response.

[2019-03-21 23:10] #5893 closed, assigned to nobody

[2019-03-21 23:10] axic commented on #5894
Closing this due to lack of response.

[2019-03-21 23:10] #5894 closed, assigned to nobody

[2019-03-21 23:14] #6106 closed, assigned to nobody

[2019-03-21 23:14] axic commented on #6062
@Marenz is this issue still open?

[2019-03-21 23:25] axic commented on #1612
This has been simplified and can be considered fixed.

[2019-03-21 23:25] #1612 closed, assigned to nobody

[2019-03-22 04:22] agroce commented on #5861
Yes, it does -- and it's now pretty battle-hardened, having run through 48K or so contracts from etherscan, bugs should mostly be worked out

[2019-03-22 04:45] agroce commented on #5861
(It now also handles vyper)

[2019-03-22 08:20] chriseth commented on #1172
I don't think this is related to what we do now with protobuf.

[2019-03-22 09:25] Marenz commented on #6062
this is still open, yes

[2019-03-22 09:32] leonardoalt commented on #927
Looks like we can close it.

[2019-03-22 09:32] #927 closed, assigned to nobody

[2019-03-22 11:04] #3041 closed, assigned to nobody

[2019-03-22 11:08] axic commented on #4913
What the point is about is that on "deleting" a storage entry, one may receive a refund. This only happens if setting an entire store slot to 0 and it is unlikely to be triggered when handling arrays or structs, because their members are stored in a packed manner.

I am not sure to what extent we have the above explained.

What this point here tries to emphasize that even if this refund mechanism

[2019-03-22 11:22] axic commented on #5590
We have agreed on implementing #649 for the next breaking release. Closing this issue as it will be solved by that.

[2019-03-22 11:22] #5590 closed, assigned to nobody

[2019-03-22 11:24] axic commented on #3771
Sorry, I don't remember what this issue was about.

[2019-03-22 11:24] #3771 closed, assigned to nobody

[2019-03-23 13:18] jooray commented on #5894
Does not work for me with 0.5.6.

Removing jsoncpp did not help as per @axic recommendation.

[2019-03-24 19:01] axic commented on #6357
What do you mean exactly?

The release Linux build is the following:
[code]

And the Emscripten build:
[code]

Do you expect that `solc-version` would only return `0.5.5`?

[2019-03-24 19:11] Pet3ris commented on #6357
Yep - ‘py-solc-x’ depended on that exact assumption. I’ve realised they’re probably in the wrong here not ‘solc’ itself and have moved to another wrapper!

[2019-03-24 19:18] axic commented on #6357
Any non-release (developer version or nightly) would have a tag after a dash (`-`), such as `0.5.7-develop` or `0.5.7-nightly`.

The tags after the `+` sign are just informational.

Can we close this then?

[2019-03-24 19:31] Pet3ris commented on #6357
Absolutely - thanks a lot.
On Sun, 24 Mar 2019 at 22:18, Alex Beregszaszi <notifications@github.com>
wrote:

[2019-03-24 21:48] #6357 closed, assigned to nobody

[2019-03-25 08:05] bshastry commented on #1406
The protobuf spec targets yul/strict assembly at the moment, and not solidity itself. So, this issue can remain unless we don't want to target Solidity directly.

If we want to target Solidity, what we need to decide is how we are going to verify to test the correctness of compiled output. We could use an existing Ethereum client like geth to actually execute generate EVM bytecode, but the questio

[2019-03-25 08:14] bshastry commented on #1172
Some notes
  - The AST mutation seems to be targeted at Solidity contracts, not the compiler itself. I am not sure how this infrastructure could be reused to test the compiler.
  - As noted in #1406 the protobuf spec currently targets yul/strict assembly and not solidity
  - We may want to try this https://github.com/agroce/universalmutator
     - it generates mutants A and B (solidity programs) t

[2019-03-25 08:37] chriseth commented on #1098
I don't remember. I guess we can close it.

[2019-03-25 08:37] #1098 closed, assigned to nobody

[2019-03-25 08:38] chriseth commented on #1140
I think this is too vague. It was related to witnesses etc, i.e. finding an element in a sorted array.

[2019-03-25 08:38] #1140 closed, assigned to nobody

[2019-03-25 08:52] chriseth commented on #6252
The above can be optimized if we track the following information for each expression and variable:
 - list of
   - bit ranges
   - value ranges
   - relations to variables: Y +- c <= . <= Z +- c
     (those have to be cleared whenever Y is reassigned)

It turns out, LLVM does a similar value range tracking.

For each branch, enter the condition. If it is lt/gt/eq where one of the arguments is a va

[2019-03-25 08:59] bshastry commented on #5829
@axic Sounds reasonable to me. Will make a PR once the new CI is ready.

[2019-03-25 09:56] ChrisChinchilla commented on #6305
That seems comprehensive to me @chriseth this was mostly a task to check if feedback I received was true or not :)

[2019-03-25 09:56] #6305 closed, assigned to ChrisChinchilla

[2019-03-25 10:22] ChrisChinchilla commented on #5894
@jooray If you supply some more details to the kind of detail discussed earlier in this thread, I might be able to help, but it seems so far that issues installing have been specific to each persons set up so far.

[2019-03-25 10:28] chriseth commented on #1289
Sounds good!

[2019-03-25 10:33] chriseth commented on #2130
It is still relevant and might be not too much work. The problem is that currently, `dev::eth::Assembly::m_data` is used both for sub-assemblies and for actual data, where data uses its hash as index while sub-assemblies use counters.

[2019-03-25 10:34] chriseth commented on #5933
No opinion...

[2019-03-25 10:39] bshastry opened #6359 "Yul optimizer: Structural simplifier generates incorrect code while optimizing switch statement with no default statement"
## Description

### Bug report

The following code snippet
[code]

triggers an optimization bug.

Trace of unoptimized code

        Trace:
Memory dump:
Storage dump:

Trace of optimized code

        Trace:
  SSTORE(1, 1)
Memory dump:
Storage dump:
  0000000000000000000000000000000000000000000000000000000000000001: 0000000000000000000000000000000000000000000000000000000000000001

### Notes

The b

[2019-03-25 10:42] axic commented on #6359
They are not supposed to be mixed, but we do not have type validation implemented yet 😢

[2019-03-25 11:01] chriseth commented on #6359
Actually we can use `valueOfLiteral`

[2019-03-25 11:04] jooray commented on #5894
Here are all the logs.

[00.options.out.txt](https://github.com/ethereum/solidity/files/3002945/00.options.out.txt)
[01.cmake.cc.txt](https://github.com/ethereum/solidity/files/3002946/01.cmake.cc.txt)
[01.cmake.txt](https://github.com/ethereum/solidity/files/3002947/01.cmake.txt)
[02.make.cc.txt](https://github.com/ethereum/solidity/files/3002948/02.make.cc.txt)
[02.make.txt](https://github.com/e

[2019-03-25 11:19] erak commented on #5956
Verfied that these can't be added yet, since they do not meet one or more requirement:

Still on Truffle 4.x.x (forcing the compiler version does not work):
- Centre Tokens: https://github.com/centrehq/centre-tokens
- Bounties Network: https://github.com/Bounties-Network/StandardBounties
- Gitcoin Contracts: https://github.com/gitcoinco/smart_contracts
- Delphy Project: https://github.com/DelphyPr

[2019-03-25 11:29] Marenz commented on #2095
@axic unimplemented because the new ABI will solve the issue?

[2019-03-25 11:31] Marenz commented on #2095
@thackerronak btw, you can now do this if you use the experimental encoder:

[code]

[2019-03-25 12:11] Marenz commented on #3556
Isn't this issue very similar to #526? Maybe whatever solution will be found can be used for both

[2019-03-25 12:20] Marenz commented on #3825
Could this also be the cause why our CI sometimes randomly fails in the RPCSession file?

[2019-03-25 12:48] axic commented on #3825
It could be.

[2019-03-25 13:01] #6359 closed, assigned to nobody

[2019-03-25 13:09] ChrisChinchilla commented on #1289
Sure, I will add it to the list, people like to know how things work :)

[2019-03-25 13:20] chriseth commented on #6252
Another nice challenge (part of the ABI decoder):
[code]

[2019-03-25 13:26] SilentCicero opened #6365 "Trouble using Make (c-noob)"
## Description

Having trouble making Solidity Compiler from Source.

CLI return:

[code]

## Environment

- Operating system: LInux (Ubuntu 17)

## Steps to Reproduce

Follow build instructions from the Solidity docs. Got this on `cd build && make`.

[2019-03-25 13:27] SilentCicero opened #6366 "Trouble using Make (c-noob)"
## Description

Having trouble making Solidity Compiler from Source.

CLI return:

[code]

## Environment

- Operating system: LInux (Ubuntu 17)

## Steps to Reproduce

Follow build instructions from the Solidity docs. Got this on `cd build && make`.

[2019-03-25 13:28] chriseth commented on #6365
Did you also run cmake? Which version of boost do you have installed?

[2019-03-25 13:29] chriseth commented on #6366
Duplicate of #6365

[2019-03-25 13:29] #6366 closed, assigned to nobody

[2019-03-25 13:33] SilentCicero commented on #6365
Boost 166
I did run cmake.

I ran this below.

[code]

Fails on the make portion.

[2019-03-25 13:38] chriseth commented on #6365
Oh, and which version of cmake?

[2019-03-25 13:38] chriseth commented on #6365
Since the errors are concerned with regular expressions, it might also be that this has to do with an outdated standard library or compiler.

[2019-03-25 13:40] SilentCicero commented on #6365
@chriseth

[code]

Yeah, any thoughts on how I could approach building this. I actually just want to build the LLL part of this.

[2019-03-25 13:41] chriseth commented on #6365
ah, then `cmake .. -DLLL=On; make lllc` could avoid the error.

[2019-03-25 13:45] Marenz commented on #5803
For reference, here is one of the random IPC errors: https://circleci.com/gh/ethereum/solidity/101004

[2019-03-25 13:45] Marenz commented on #5803
Possibly related to this issue is my comment here: https://github.com/ethereum/solidity/issues/3825#issuecomment-476172142

[2019-03-25 13:50] chriseth commented on #3556
Yep, sounds similar!

[2019-03-25 14:16] #5861 closed, assigned to ChrisChinchilla

[2019-03-25 14:20] SilentCicero commented on #6365
Got it working on just the LLLc Thanks Chris!

Secondly, how could I make a browser based version of that lllc bin file,
any recommendations building solc-js?

On Mon, Mar 25, 2019 at 1:41 PM chriseth <notifications@github.com> wrote:

[2019-03-25 14:24] chriseth commented on #6365
Hm, it's not that easy. Perhaps it is best to support lll as part of standard-json-io like we just did with yul ( #2156 )

[2019-03-25 14:25] axic commented on #6365
We had that planned, but decided not to implement it since we want to remove LLL completely from here.

Also I wouldn't trust the LLL compiler with anything, it is not maintained for years.

[2019-03-25 14:34] SilentCicero commented on #6365
@axic I'm using LLL to get me some very small precise code on a 30 line contract Solidity contract. The assembly produced would be heavily audited. LLL is just a nice way to get to raw assembly.

As much as i've become more experiences with Solidity, and Solidity has become extremely accessible over the years. The beauty, simplicity and precision of a Closure / Lisp like language for Ethereum shou

[2019-03-25 14:36] SilentCicero commented on #6365
if you could add it into being accessible via the solc-js lib that would be so awesome!.

[2019-03-25 14:48] chriseth commented on #6365
I'm not really a lisp person, but could you perhaps sum up in which way LLL is lisp like (or what its nice features are) and why yul is not a good replacement?

[2019-03-25 14:48] axic commented on #6365
The problem isn't with LLL, but the compiler we have for LLL. It is using unmaintained features of the assembler, because of its dated design. It shouldn't need such workarounds if written properly.

If you want close to the metal coding experience I suggest to try out Yul via solc-js (it is enabled in the next release).

Regarding LLL the main goal is to have a brand new compiler written which co

[2019-03-25 14:57] SilentCicero commented on #6365
@axic is there any basic YUL examples, it's easiest for me / others to on-board if there is at least a ERC20 example, and maybe a couple other basic contracts. YUL looks interesting, what would you say the assembly savings would be YUL vs Solidity?

Also, how do I access / build the YUL compiler

[2019-03-25 15:08] chriseth commented on #6365
We probably need to update that, but here is some older information with actual code: https://medium.com/@chriseth/writing-smart-contracts-in-iulia-2a5ba737c7f1

Here you can find code that also has a constructor: https://solidity.readthedocs.io/en/develop/yul.html#specification-of-yul-object

You compile it using `solc --strict-assembly`

[2019-03-25 16:37] ChrisChinchilla commented on #5894
@jooray So I typically don't have Xcode installed and noticed you do. I tried installing with XCode and it still worked for me.

In another issue (https://github.com/ethereum/solidity/issues/5893#issuecomment-465365061) it turned out that the OP had some custom flags enabled, might be worth checking that?

[2019-03-25 16:49] jooray commented on #5894
Do you know how would I check for that? I don't think I enabled anything, where would the configuration be?

[2019-03-25 19:25] haltman-at opened #6374 "Attempting to copy circular type from storage to memory crashes compiler"
## Description

Attempting to copy a circular struct type from storage to memory crashes the compiler with a stack overflow.

I don't necessarily such copying to be currently supported -- after all, copying such a type from memory to storage still isn't supported last I checked -- but it shouldn't crash the compiler, it should either compile or else reject with a compile error.

## Environment

I

[2019-03-25 19:50] axic commented on #6374
[code]

[2019-03-25 20:18] axic opened #6375 "Change libyul/AssemblyStack to allow warnings to pass through"
A lot of the testing infrastructure needs to be updated for this.

Once done, the following warning in `StandardCompiler` should be moved to `AssemblyStack`:

[2019-03-25 20:30] axic opened #6376 "Investigate soltix"
See https://medium.com/chainsecurity/soltix-scalable-testing-of-solidity-compilers-57be270e802b

It seems to have two modes:
- random code generation
- code mutation

Maybe we can run it as part of ossfuzz?

Apparently soltix was used to disover #5130 and #4893.

[2019-03-25 21:06] axic opened #6378 "Disable ABIEncoderV2 in 0.4.26"
aka we can add a compiler error when turning it on, effectively disabling it.

[2019-03-26 02:36] rocky commented on #6342
Please correct me if I am wrong, but there are a couple of parts to this:

* Recover when there are parse errors
* Output AST information even if it is incomplete.

Let me elaborate on these two.

@chriseth suggests specific examples that I think fall into of the general method described in [Efficient and Comfortable Error Recovery in Recursive Descent Parsers](https://pdfs.semanticscholar.org/8ec

[2019-03-26 09:22] chriseth commented on #6378
We might also throw an exception just in all encode from storage functions.

[2019-03-26 09:53] chriseth commented on #6365
I'm closing this for now.

[2019-03-26 09:53] #6365 closed, assigned to nobody

[2019-03-26 14:30] #6227 closed, assigned to bshastry