[2021-06-01 17:28] chriseth commented on #10145
@TerranCivilian The relevant function is Parser::findLicenseString in libsolidity/parsing/Parser.cpp. I think the two steps are those from https://github.com/ethereum/solidity/issues/10145#issuecomment-753838995 and I think the stricter regex is the one from https://github.com/ethereum/solidity/issues/10145#issuecomment-743386097 - i.e. `SPDX-License-Identifier: ([^\n])`

[2021-06-01 17:34] #10084 closed, assigned to Marenz

[2021-06-01 21:17] axic commented on #10145
I actually have this work semi-done during the current bug-fixing week, in case @TerranCivilian you haven't started on it?

[2021-06-01 21:18] TerranCivilian commented on #10145
I haven't started it, I'm still getting my env setup :-)

[2021-06-01 21:20] axic commented on #10145
We're assigning bugs this week which are taken, but since was "still" assigned I haven't moved it. Sorry for the confusion.

Do you want to pick up something else perhaps?

[2021-06-01 21:21] TerranCivilian commented on #10145
Yea, it's no problem!

[2021-06-01 21:24] TerranCivilian commented on #10269
@chriseth I can work on this if it still needs to be done

[2021-06-01 22:30] cameel commented on #11024
I wouldn't really call this a bug. Looks more like a missing feature.

[2021-06-01 22:55] cameel commented on #11132
Related issue: #6495

[2021-06-02 06:51] chriseth commented on #10812
Can you clarify a bit what this issue is about? Assigning a key inside `yulopti` to instead of running a single optimizer step, run the full inner loop of the default optimizer sequence? If yes, this would mean you have to check this sequence, find where the loop is and then run all the steps in this loop in the order they are given, right? And the idea is that the modified code is only output onc

[2021-06-02 08:01] hrkrshnn commented on #10812
The original goal was to see the optimized output after one round of the sequence inside square bracket.

This sounds good.

I'll update the issue description with this.

[2021-06-02 09:07] ekpyron commented on #11024
Even if the library doesn't have any address and thereby there is no other value for this other than zero?

[2021-06-02 10:44] chriseth commented on #11024
If you request an address of the library then it better have one. I mean all libraries have addresses, but some libraries addresses are just never needed.

[2021-06-02 11:00] chriseth commented on #10620
Reduced the example to
[code]

The assert can be replaced by a `require` but not by a regular statement.

[2021-06-02 11:09] cameel commented on #11369
Could someone explain what the rule is here? The example errors out with a static or dynamic array but other types like `bytes`, `string`, external function pointer, struct or `mapping` do not. This limitation is not documented anywhere as far as I can tell. Why is it even forbidden for some array types? I'd think this has something to do with them being reference types but nested structs and even

[2021-06-02 11:25] hrkrshnn commented on #11369
I think they get skipped.

My guess is that, we get an error if the struct ends up being empty after we skip all these non-encodable types. In the other cases, it's fine.

[2021-06-02 12:38] chriseth commented on #11469
@Amxx could you please explain a bit more how you would use this feature and why the current set of features is not sufficient?

[2021-06-02 12:57] axic commented on #11436
Suggestion: implement UTF normalization as a compiler builtin and implement namehash in the standard library.

Pro: This would allow us to gain experience with the standard library.
Con: Unless we actually have compile-time evaluation of pure functions, this would still generate some runtime code (which hopefully would be optimised, i.e. the recent keccak256 optimiser steps).

[2021-06-02 12:59] axic commented on #11436
The alternative to this is #1650 and have namehash supplied via JSON.

[2021-06-02 13:10] axic commented on #11253
Tentatively agreed on today's meeting to allow narrowing from payable to non-payable, but keep widening from non-payable to payable disallowed.

Narrowing is similar to the case of view vs pure, with the difference that the compiler inserts code (the check for `msg.value == 0`), however that code can be already added manually by the user into payable functions.

Widening on the other hand would me

[2021-06-02 13:13] axic commented on #11253
As a non-exhaustive list of auditors, pinging @GNSPS @montyly @austin-williams @stbeyer for feedback.

[2021-06-02 13:24] TerranCivilian commented on #10269
Letting the CLion inspector run now. I'm having it analyze header files as well, not sure if that matters.

[2021-06-02 15:05] cameel commented on #11253
We also discussed marking it as "good first issue". I'm adding the label with "difficulty: medium". The implementation is simple so it should be doable for someone new but will probably require some guidance.

[2021-06-02 15:39] cameel commented on #11378
Looks the issue in remix-tests has been fixed (https://github.com/ethereum/remix-project/pull/1249/files).

@marco2357 Could you check if that resolves your original problem?

[2021-06-02 16:05] cameel commented on #11369
Oh. Why do we skip them though? I get mappings but `uint256[]` is not a storage-only type.

[2021-06-02 16:21] cameel commented on #3556
Should we remove the `bug` label from this one? To me it looks more like a missing feature. I.e. there's nothing broken, just the right syntax is missing.

[2021-06-02 17:04] cameel commented on #4623
Just to clarify this issue: it's not really a problem with symlinks, relative paths without symlinks do not work properly either:
[code]

[2021-06-02 17:45] cameel commented on #10059
I suspect that this might be caused by symlinks. Is any part of the path `/Users/thomas/Code/MacSucks` a symbolic link by chance? `--allow-paths` by design requires you to specify the actual directory and does not work with symlinks.

[2021-06-02 19:52] cameel commented on #10113
It's also not related to arrays or function parameters at all. Here's a repro without these elements:

[code]
[code]

The cause is simply that type checking does not stop when it determines that the return type is not valid. It's possible to reach a point where we need to actually use the type and `returnParameterTypesWithoutDynamicTypes()` fails because it has an assert against that.

[2021-06-02 19:53] cameel commented on #10113
I have a fix for this: #11478.

[2021-06-02 21:08] axic commented on #8772
As part of the [verkleization](https://ethereum-magicians.org/t/proposed-verkle-tree-scheme-for-ethereum-state/5805) storage slots will be laid out differently, to also aid witness design. The change means that the lowest 8-16bits of the storage key (the input to `SLOAD`/`SSTORE`) would not be hashed, and consecutive keys are laid out next to eachother.

It would be nice for contracts to make use

[2021-06-02 21:20] cameel commented on #11353
This should result in `Error: Type containing a (nested) mapping is not allowed as event parameter type.`

And this should be `Error: Immutable variables cannot have a non-value type.`

Both cases are disallowed for different reasons but both seem to trigger the same error. The problem is that `MappingType` does not override `calldataEncodedSize()` apparently with the assumption that it's never ne

[2021-06-02 21:58] cameel commented on #11038
I'm closing this since the behavior is by design rather than due to an error. When I submitted this my understanding of how `--base-path` is supposed to work was very incomplete. For anyone who runs into this in the future, I documented the whole path behavior in #11442 and I recommend reading it first.

[2021-06-02 21:58] #11038 closed, assigned to cameel

[2021-06-02 22:28] cameel commented on #11036
Now that I have spent quite a bit of time working on path resolution, I see that most of the issues I listed are just unintuitive consequences of filesystem abstraction the compiler rather than actual bugs. It's now all covered by other issues so I'm going to close this monolithic one.

For anyone coming here in the future, I recommend taking a look at the docs in #11442 first.

It's by design but

[2021-06-02 22:28] #11036 closed, assigned to cameel

[2021-06-03 06:37] #11445 closed, assigned to cameel

[2021-06-03 06:58] #11325 closed, assigned to cameel

[2021-06-03 07:00] #10113 closed, assigned to cameel

[2021-06-03 07:17] chriseth commented on #11353
I think whenever you call `calldataEncodedSize` on mapping, it should be an error, because the concept does not exist. When this assertion is triggered, it means a non-fatal error should be turned into a fatal error or the caller should first check if the type is valid in calldata.

[2021-06-03 08:15] hrkrshnn commented on #11469
If it's `min` and `max`, I think it should be returning a value in the Enum instead of `uint8`. In the example above, it would be `MyEnum.A` and `MyEnum.D` respectively.

[2021-06-03 08:52] #10667 closed, assigned to cameel

[2021-06-03 09:06] chriseth commented on #11469
Actually I just checked and the enum values are indeed `<`-comparable, so `min` / `max` would make sense, and I agree with @hrkrshnn that the values should be of the enum type.

[2021-06-03 09:18] chriseth commented on #3556
Yes, not a bug.

[2021-06-03 09:39] #11353 closed, assigned to hrkrshnn

[2021-06-03 09:51] axic commented on #11469
We did discuss during the meeting, that potentially a more generic solution following #11284 is to have something akin to Rust's "try_convert". That would return a boolean in case of failure, unlike the compiler generated error we have on out-of-bounds int to enum casting today.

[2021-06-03 09:58] Amxx commented on #11469
I don't like justifying with my particular usecase, because I always have the feeling the my usecase is just one of many cases, and not necessarily the best one. Also, this doesn't allow to do anything that was impossible before. It just helps (just like `type(uint256).max` doesn't really provide that was not possible to express before).

That being said, here is an idea of a library. It defines a

[2021-06-03 11:52] ekpyron opened #11483 "Overridden modifiers are ignored in control flow analysis resulting in missing uninitialized storage error."
Example:
[code]

The analysis only visits ``f`` in ``A``, in which the modifiers reverts, the function never returns, hence there is no uninitialized storage return error.
In ``B``, however, since the modifier is overridden, ``f`` can return, but is not visited again, so there is no error and the uninitialized storage return can actually happen.

[2021-06-03 11:54] ekpyron commented on #11483
For the purpose of uninitialized storage returns it'd probably best to ignore modifiers altogether.
The only thing they can do is always revert, which is a weird thing for them to do anyways.

[2021-06-03 12:01] ekpyron commented on #11483
This will also affect uninitialized access, not only uninitialized returns.

[2021-06-03 12:10] #10882 closed, assigned to hrkrshnn

[2021-06-03 14:19] frangio commented on #11253
How would it work if `I` defines a payable function, `A is I` implements it as non-payable, and `C is I, A` implements it as payable? Is that considered widening?

My first impression is that this should be allowed. `C` is declaring that it wants to allow receiving value in that function.

I would agree that `C is A` should not be able to widen it from non-payable to payable.

[2021-06-03 14:34] chriseth commented on #11253
I would say it's the same as in the case of non-view/view/pure: If a contract strengthens the requirement in the inheritance graph, all derived contracts must also implement the stronger version. In your example, C must implement it as non-payable.

If you declare the function in A as non-payable, then you say that if you are implementing a derived contract that claims to conform to the requiremen

[2021-06-03 14:49] chriseth commented on #11468
Agree that both (overriding and calling) should be forbidden in the same way it is for functions.

[2021-06-03 14:56] #10620 closed, assigned to chriseth

[2021-06-04 06:42] vasconx opened #11486 "Interacting with contracts that are not instantiated in the blockchain"
I have a question about how EVM and Solidity work. In this example on the official Solidity website, there are two contracts ( Caller, C ). What happens and I didn't know is that I can host the "Caller" contract and still interact with the "C" contract even though it's not instantiated in the blockchain. Just so I understand, does "Caller" host under the hood the "C" contract with you? Because I'm

[2021-06-04 09:06] thedavidmeister commented on #232
i'm working with a constructor that accepts either an existing address if an external contract is known, or it deploys a new contract based on config for that contract if needed

doing this 2-3 times shows why the "why don't you just use inheritance" argument is limited, and function overloading too, because it ends up needing every combination of present/not-present arguments specified

if you ha

[2021-06-04 10:35] cameel commented on #11486
Hello! That's a good question but the bug tracker is not really a good place for questions like this. We could discuss it on the [Solidity forum](https://forum.soliditylang.org/) though so feel free to repost it there :)

[2021-06-04 10:35] #11486 closed, assigned to nobody

[2021-06-04 13:03] nastari commented on #11486
I'm sorry, i'm delete this!

[2021-06-04 13:06] vasconx commented on #11486
I'm sorry for this! Just answering my questions, the contract "C" does enter the blockchain, it's just the address I don't return so I don't know it beforehand. It was my confusion. Thanks and sorry! Until!

[2021-06-04 13:17] cameel commented on #11486
Don't worry, it's closed so it's fine now. The forum is just a much better place to find people interested in having an open-ended discussion about stuff like this and answering questions. The bug tracker is for tracking bug fixes and new language features so we don't want to keep threads open when there's no work to be done :).

As for the question itself - yeah, for `new C` to work your contract

[2021-06-04 19:47] haltman-at opened #11489 "soljson 0.8.2 crashes with "TypeError: Cannot read property 'slice' of undefined""
## Description

The soljson for Solidity 0.8.2 (just this specific version) seems to be broken.  For instance, when I try to compile using Solidity 0.8.2 with Truffle, I get the following error message, originating from within the soljson:

[code]

(Yes I've mentioned this before but figured I should file an actual issue so it doesn't get lost.)

Since Solidity 0.8.2 doesn't seem to be broken when

[2021-06-04 20:26] frangio commented on #11253
I see... I think this is due to a different interpretation of what payable and non-payable mean. The situation is not exactly the same as non-view/view/pure, because in that case the default is the least strict (non-view), and with non-payable/payable the default is the most strict (non-payable).

In my mind, `payable` is the meaningful one and is a way to declare that you want to _accept_ value.

[2021-06-04 21:35] nanexcool commented on #3864
Bumpity bump!

Any way to move this forward? How can the community help? Proposing a syntax?

[2021-06-05 09:36] simontianx commented on #2691
@cameel This is a great news. The use of `this` in the code below is one of first few moments that I got an impression that Solidity is a mysterious language. Good news to know it is back to normal.

[code]

[2021-06-05 21:59] cameel commented on #11489
Thanks for creating the issue. Yeah, there's always too much stuff going on so it's best to file an issue in any case :)

Looks this one is easy to reproduce:
[code]

Interestingly, `compile` does not fail in older versions of Truffle. Looks like it started in 5.3.3. Of the ones I tried:
- works on 5.2.4, 5.3.0, 5.3.1 and 5.3.2,
- fails on 5.3.3, 5.3.4, 5.3.5, 5.3.7 and 5.3.9.

The binary did pass

[2021-06-06 18:15] CodeForcer commented on #9554
Why is this issue closed? This still occurs in Solidity 0.8.4

[2021-06-07 07:58] chriseth commented on #9554
@CodeForcer we concluded that not all immutables can be pure, because their value can depend on constructor input. Can you give a specific code example?

[2021-06-07 09:26] hrkrshnn commented on #11464
Would this be simplified using z3's simplify?

[2021-06-07 09:30] leonardoalt commented on #11464
I was thinking rather on our side

[2021-06-07 09:54] #11358 closed, assigned to cameel

[2021-06-07 09:56] #10840 closed, assigned to cameel

[2021-06-07 14:00] chriseth opened #11494 "[SolYul] Support all Artefacts"
When compiling Solidity via yul, it should be possible to output the IR as a text file and re-start the compilation from there to obtain exactly the same bytecode. For that, we need to serialize the compiler state for each contract into comments in the Yul code and re-parse that again.

Sub-tasks:
 - [1] store Solidity source locations in comments when generating the IR https://github.com/ethereum

[2021-06-07 14:51] #11381 closed, assigned to Marenz

[2021-06-07 16:47] chriseth commented on #11494
When the compiler is run on the IR generated in [2], it has to detect from comments whether this is hand-written yul or generated from Solidity. It would be nice to have a mostly uniform process that only generates more information when the relevant comments are present - this is mostly done in step [4]. There should be a contract-level comment that tells how to interpret the comments that follow.

[2021-06-07 19:46] aarlt commented on #10342
Is it correct that this refers to the generation of internal dispatch functions defined in `libsolidity/codegen/ir/IRGenerator.cpp` @ `IRGenerator::generateInternalDispatchFunctions()`?

Don't we have the same problem with the generation of getters `IRGenerator::generateGetter` and immutables `IRGenerator::deployCode`?

[2021-06-08 08:39] bshastry opened #11496 "NameSimplifier sometimes produces invalid Yul code by leaving a trailing dot at the end of an identifier"
[code]

throws

https://github.com/ethereum/solidity/blob/7d8a4e63d84f548dbb3409f761fb2e92936c9057/libyul/AsmAnalysis.cpp#L93

To reproduce

[code]

[2021-06-08 08:58] bshastry opened #11497 "[solc] stack overflow in function call graph builder probably due to unbounded recursion"
[code]

overflows stack at this point

https://github.com/ethereum/solidity/blob/1f8f1a3db93a548d0555e3e14cfc55a10e25b60e/libsolidity/analysis/FunctionCallGraph.cpp#L146

To reproduce

[code]

[2021-06-08 10:04] hrkrshnn commented on #11496
Interesting! I think name simplifier simplifies the name `r._` to `r.`. And Yul doesn't allow names to end with dot.

[2021-06-08 10:09] hrkrshnn commented on #11496
This is the rule causing the issue: https://github.com/ethereum/solidity/blob/develop/libyul/optimiser/NameSimplifier.cpp#L100

Other rules that changes string to empty can also lead to this problem. For example, `r._fromStack` can also lead to this.

Maybe we should reconsider dot as an identifier name in Yul.

[2021-06-08 10:58] chriseth commented on #11496
Would it be bad if the identifier ended in a dot?

[2021-06-08 11:14] hrkrshnn commented on #11496
Perhaps, if dot at the end is invalid, then dot anywhere should similarly be invalid. But, generally I'm indifferent about what to do about dots in Yul identifier.

Perhaps @axic has something to say? Context: https://github.com/ethereum/solidity/pull/9306

[2021-06-08 13:54] chriseth commented on #11086
@axic and me just discussed the following in a meeting:

The AsmParser should be set into a mode where it does not use the source locations from the scanner, but instead uses source locations from doxygen comments. This mode is activated by a special doxygen tag on the first element that is parsed. Furthermore, we do not distinguish (yet) between "yul source location" and "solidity source location

[2021-06-08 14:42] chriseth commented on #11496
Actually wait a second - shouldn't `NameDispenser::illegalName` just check that it does not start or end in a dot?

[2021-06-08 14:45] chriseth commented on #11496
And `yul::isRestrictedIdentifier` should also check for the dot.

[2021-06-08 14:45] chriseth commented on #11496
Actually it suffices to only change `isRestrictedIdentifier`

[2021-06-08 15:11] Marenz commented on #11494
related: https://github.com/ethereum/solidity/issues/11086

[2021-06-08 16:41] bshastry opened #11501 "[CFG] Throws std::out_of_range exception"
[code]

throws the said exception from here

https://github.com/ethereum/solidity/blob/215bbe2e6da7e2b783f04ba10c4d745fbd8c0c7f/libsolidity/analysis/ControlFlowGraph.cpp#L54

Reproduction

[code]

Order of free function declaration matters! If it is declared at the top, exception is not thrown.

[2021-06-08 16:43] #11497 closed, assigned to nobody

[2021-06-08 19:20] bshastry commented on #11414
Closing issue since the consensus is on finding a way to filter out bug reports that are due to difference in evaluation order between old and new code gens.

[2021-06-08 19:20] #11414 closed, assigned to nobody

[2021-06-09 10:24] #11501 closed, assigned to nobody

[2021-06-09 10:39] MrChico commented on #2768
@axic I don't see any colors in the standard json error output. It has a formatted error message, but not any color :(

[2021-06-09 10:41] chriseth commented on #11469
@axic any results on finding a more generic solution? We could just add `.min` / `.max` for now, too.

[2021-06-09 11:20] #9231 closed, assigned to a3d4

[2021-06-09 11:29] axic commented on #2768
The CLI is colourised, standard json is not, as we were afraid that could cause issues by users of it. We could either switch it to colour only, have an input flag for it, or have a new field for coloured output?

[2021-06-09 11:38] christianparpart opened #11506 "ICE on call of unimplemented modifier."
In reference to issue #11468 and its PR #11471 these additionally found ICEs have been isolated.

[code]
Here contract `A` has an implemented modifier `m` and abstract contract `B` has has an unimplemented modifier `m`.
Now, contract `C` inherits from both and overrides `m` with an implemented one.
`C.f()` however explictely references `B.m`, which results into a call to an unimplemented modifier

[2021-06-09 11:55] MrChico commented on #2768
Yeah, any option to activate it would be appreciated! An option in the input json `color` could match the CLI behaviour nicely (although the default may be different)

[2021-06-09 12:27] axic opened #11507 "Support coloured messages in standard json"
When we made the coloured output default (aka the new error message formatter), we did not enable it for standard json, only the CLI.

In the standard json we currently have all the components (`message`, `errorCode`, `sourceLocation`, ...) and single `formattedMessage` field which has an output matching the CLI.

We have a couple of options:
1) Enable colours by default and do not allow it to be

[2021-06-09 12:27] axic commented on #2768
Created an issue to track this: #11507.

[2021-06-09 12:30] axic opened #11508 "Add `notice` severity to "error messages""
Currently the severity is restricted to `warning` and `error`. Most tools treat both of them as errors and this is a frequently discussed topic. It could be nice to have `notice` for messages which do not need to be addressed (but can be).

Suggested use cases:
- SPDX license message
- Contract code size message (#10981)
- Reporting messages from the SMTChecker (for example #10787)

The ranking wo

[2021-06-09 12:33] ekpyron commented on #11508
Another example might be ``had to move variables from stack to memory, consider reducing the amount of variables``.

[2021-06-09 12:35] chriseth commented on #11469
We decided in the call that we will implement this a min/max.

[2021-06-09 12:36] franzihei opened #11509 "Create an up-to-date "Tour of Solidity""
As mentioned some time ago in #9175 it would be amazing to have a "Tour of Solidity" to run developers learning Solidity through the most important concepts and features in a quick click-through explanatory "course".

The only two tours that I could find are:
- Erik's Tour of Solidity: https://github.com/erak/solidity-tour
- Certik's Tour of Solidity (using Sol 0.5.x): https://solidity-tour.certik

[2021-06-09 12:36] axic commented on #11469
Apart from https://github.com/ethereum/solidity/issues/11469#issuecomment-853742744, no. At the time we handle conversion changes, that will be a larger breaking release, and it would be possible to drop `.min`/`.max` if it does not seem appropriate anymore. Even if it is not dropped, the conversions may be a better way to handle this in user code, but users are free to choose.

[2021-06-09 12:48] axic commented on #11508
Alternatively naming this `info` could remove any "negative" connotations?

[2021-06-09 12:48] ekpyron commented on #11508
Another example (I think originally brought up by @hrkrshnn): ``This state variable is never assigned outside the constructor. Consider making it immutable.``

[2021-06-09 15:14] axic opened #11511 "Change the bug list to be closer to OWASP terminology"
See page 8 of https://owasp.org/www-pdf-archive/Riskratingmanagement-170615172835.pdf, and also this nice tool https://www.owasp-risk-rating.com/.

In short: OWASP has *likelyhood* and *impact* as separate measures, and the product of the two is the *risk* value.

Currently in `bugs.json` we have a single metric, `severity` which is a free text field having values of `very low`, `low/medium`, `med

[2021-06-09 17:35] axic commented on #11511
@holiman since you have implemented a similar JSON for geth, do you have some feedback for us?

[2021-06-09 17:46] GNSPS commented on #11511
I like this! 😄

[2021-06-09 19:32] holiman commented on #11511
We use owasp risk rating for many things, but we've found that it doesn't quite fit well with solidity. In e..g geth, it's pretty clear cut what the impact of a bug is (does it crash? does it go out of consensus? does it impact the whole network?) , and also the likelihood (does it require direct network access? Can it only be executed against a node which is doing a sync?)

For solidity, it's muc

[2021-06-09 19:34] holiman commented on #11511
Also, if you go with OWASP, I wouldn't use a scale of 0-10, but just the rating : ![risk rating](https://bounty.ethereum.org/owasp_w600.png)

[2021-06-09 21:27] cameel commented on #9813
Is this issue still relevant now that we have custom errors implemented?

[2021-06-09 21:35] axic commented on #9813
I think the proposal is different to the error system, as the current one still uses more bytes than suggested.

Probably it is up to @SilentCicero to decide if this is pursued further or not.

[2021-06-09 21:45] cameel commented on #11507
We already have `--color`/`--no-color` CLI options, they just do not affect Standard JSON. Same for `--pretty-json` (which was quite unexpected to me at first). Setting the default for Standard JSON to `--no-color` and making these options affect both JSON and non-JSON mode should not break any tools so I think it would be the best choice.

By the way, if we start colorizing standard JSON then I t

[2021-06-09 21:51] banescusebi commented on #11511
This is great! Here are some thoughts:

Confusion might occur due to the terms used in the [table on slide 17](https://owasp.org/www-pdf-archive/Riskratingmanagement-170615172835.pdf) (same table as in the previous comment from @holiman) and the terms used for the old severity values. Is the mapping below accurate?:

- `note` -> `low`
- `low` -> `low/medium`
- `medium` -> `medium`
- `high` -> `med

[2021-06-09 22:17] axic commented on #11507
I'm not sure it is a good idea combining CLI options and standard json settings. `--pretty-json` is fine, but if you use `--color` to influence standard json output, then what do you do with the setting within standard json?

[2021-06-10 08:30] montyly commented on #11253
What are your opinions if we add a `nonPayable` attribute, that would be required a compilation to narrow a function shadowed from payable to non-payable?

Because I can see the case of a developer using a library, shadowing a `payable` function, and forgetting to keep it payable. So having it explicit helps to understand that its the intent of the developper.

So the rules would be something like

[2021-06-10 09:18] chriseth opened #11513 "Extend the constant optimizer to optimizer sub-expressions"
The constant optimizer should not only consider PUSH opcodes (stand-alone constants) but also PUSH opcodes in combination with other opcodes:

`C SUB` -> `(~C+1) ADD`

`C ADD` -> `~(C-1) SUB`

[2021-06-10 10:54] bshastry opened #11514 "[NatSpec] ICE in extractReturnParameterDocs due to lack of return parameter name"
[code]

throws

https://github.com/ethereum/solidity/blob/98e7b61a378467116bd5dfdd8d1455a60ef26d2e/libsolidity/interface/Natspec.cpp#L201

To reproduce

[code]

[2021-06-10 10:57] bshastry commented on #11514
Looks similar to https://github.com/ethereum/solidity/issues/9947 in that the thrown exception is identical

[2021-06-10 15:03] chriseth commented on #11511
Is there an established practice how other compilers handle OWASP?

[2021-06-10 15:54] holiman commented on #11511
I don't know, but I suspect not. Owasp comes from "Open Web Application Security Project", so the root context is webb-apps, which is quite different from compilers. 

[2021-06-10 16:38] axic commented on #11511
I have used OWASP more as a guideline, than strict source of truth. The fact is that we already juggle two metrics and try to come up with a single severity based on that metric. I think it would be useful two individually represent those two metrics instead.

[2021-06-10 17:01] tied2token commented on #11507
color would be good

[2021-06-10 17:42] y0wl opened #11517 "Allow instantiating multiple variables in the first component of a for loop"
## Abstract

Allow syntax like `for (uint8 i, uint j, uint k;;) {}`

This can be hackily "solved" with https://github.com/ethereum/solidity/issues/3300 however this doesn't allow for definitions of multiple variable types. I couldn't find any similar issues that cover this feature.

## Motivation

This is a commonly used syntax in many other popular languages

## Specification

This would allow fo

[2021-06-10 22:46] ekpyron commented on #11080
Ah nice, we actually have an issue for this. #11493 tries to do what the last paragraph hinted at.

[2021-06-11 04:06] blitz-1306 commented on #11324
It seems that the fix is part of [Solidity 0.8.5 release](https://blog.soliditylang.org/2021/06/10/solidity-0.8.5-release-announcement/). I will check and close the issue in near future. Thanks.

[2021-06-11 05:25] blitz-1306 commented on #11324
Issue is fixed. Closing.

[2021-06-11 05:25] #11324 closed, assigned to nobody

[2021-06-11 10:36] cameel opened #11521 "Different optimizer settings in Standard JSON when `optimizer` dict is empty"
## Description
In Standard JSON an empty `optimizer` dict has a different effect than one with explicitly enabled or disabled optimization:
- `"settings": {"optimizer": {"enabled": false}}` uses [`OptimiserSettings::minimal()`](https://github.com/ethereum/solidity/blob/v0.8.5/libsolidity/interface/OptimiserSettings.h#L68-L74).
- `"settings": {"optimizer": {"enabled": true}}`  uses [`OptimiserSetti

[2021-06-11 11:04] lhoenig opened #11522 ""Unreachable code" warning in 0.8.5 but not 0.8.4"
## Description

After trying out 0.8.5 on our code, we got a lot of strange warnings about "unreachable code". The warning seems to have to do with library functions marked as `internal`.

## Environment

- Compiler version: 0.8.5
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix): Hardhat
- EVM execution environment / backend / blockchain client: No execution

[2021-06-11 12:11] cameel commented on #11522
I played with the example a bit and here are some observations:
- It seems to require that fairly specific base combination: contract that inherits from a contract imported from another file which has a function that calls a function that calls an internal library function.
- It does not happen with free functions. Only internal library functions.
- Putting the contracts in the same file, removing

[2021-06-11 13:14] bshastry opened #11524 "[Sol->Yul] Invalid IR code generated when compiling code with hex string"
[code]

throws

[code]

Repro

[code]

[2021-06-11 13:17] bshastry commented on #11524
I think the problem is that `hex"08"` is transformed to backspace character i.e, `\b` which is not recognized by the Yul parser.

[2021-06-11 13:19] bshastry commented on #11524
Looks like a frontslash is missing. The following is well-formed Yul code apparently

[code]

[2021-06-12 08:39] bshastry opened #11526 "[Sol->Yul] ICE because number constant is too small"
[code]

throws

https://github.com/ethereum/solidity/blob/a4f2e591fe55900f86ab72fad37d03af7dfa638e/libsolidity/ast/Types.cpp#L1110

Repro

[code]

[2021-06-12 16:53] Philogy commented on #11522
I also got this bug in my code. Switching back to `0.8.4` gets rid of the warning.

[2021-06-13 13:58] marco2357 commented on #11378
Yes, I can confirm that this problem is solved in remix-tests 0.2.0 (remix 0.12.0). I'm closing the issue.
Thank you Kamil!

[2021-06-13 13:58] #11378 closed, assigned to nobody

[2021-06-13 19:07] cameel commented on #11524
`"\\b"` is valid but it's something completely different. I.e. it's equal to `hex"5c62"`. `\b` used to be the right syntax for `hex"08"` but it has been removed in #10462. Looks the PR did not update the code that translates hex values to escape sequences.

Same thing happens for `hex"0b"` (`\v`) and `hex"0c"` (`\f`) but not for other control characters which confirms that it's related to that PR.

[2021-06-13 19:51] cameel commented on #11507
@axic Do we actually need a setting inside Standard JSON? Description does not state that outright but I thought it was about colorizing JSON when it's displayed in the terminal. I.e. with `--standard-json` but not necessarily solc-js. I think that a command-line flag makes sense in that usage.

But if it's supposed to work with solc-js too - do ANSI escape sequences embedded in strings inside JSO

[2021-06-14 07:51] chriseth commented on #11521
Empty dict and no setting at all should both be the same as `enabled: false`.

[2021-06-14 07:58] chriseth commented on #11507
Can someone check how coloured strings would be displayed by e.g. remix or vs code?

[2021-06-14 08:27] bshastry opened #11528 "[solutil] Length error while resizing string during parsing ExternalSource header"
[code]

throws here

https://github.com/ethereum/solidity/blob/2fefd27acf6cb813f627e39f8283724856222d86/libsolutil/CommonIO.cpp#L58

Repro

[code]

[2021-06-14 11:54] #11522 closed, assigned to nobody

[2021-06-14 11:56] chriseth commented on #11508
These are all very good examples!

[2021-06-14 12:43] chriseth opened #11531 "User-defined value types"
Originally proposed by @maurelian

It should be possible to define a user-defined type that is identical to a provided value type (including operators, members, etc.), but cannot be implicitly converted to any other type, and can only be explicitly converted to and from the underlying value type.

This has the effect that arithmetic operations are impossible to perform across these types.

Example

[2021-06-14 14:09] cameel commented on #11517
We discussed it today and we do not think this is worth complicating the syntax. The workaround with putting variables before the loop isn't terrible. Putting these variables in the loop would limit their scope which is nice but you can easily get the same effect with a function or a block.

To be clear, it did not seem to me like anyone was strongly opposed to this feature. It's more that the rea

[2021-06-14 14:09] #11517 closed, assigned to nobody

[2021-06-14 14:36] cameel commented on #11508
Should `Function state mutability can be restricted to pure` also be a notice? Or the warning about deprecated constructor visibility? Or are they better off as warnings?

[2021-06-14 14:37] cameel commented on #10981
Looks like we'll probably address this problem in a different way: #11508.

[2021-06-14 16:58] y0wl commented on #11517
I think this is a totally fine resolution! :)

[2021-06-14 23:04] cameel commented on #11468
The issue was fixed in #11471. There was a new ICE discovered but we have a new issue for it (#11506) so I'm closing this on after all.

[2021-06-14 23:04] #11468 closed, assigned to christianparpart

[2021-06-15 05:10] adriandelgg commented on #11522
I've also received this bug. I've been using 0.8.4 because of it. I've heard of others experiencing the same issue as well.

[2021-06-15 09:11] hrkrshnn commented on #11521
@cameel Should be the other way around, right?

[2021-06-15 09:35] hrkrshnn commented on #11531
Why is that?

[2021-06-15 09:49] cameel commented on #11521
@hrkrshnn Thanks! You're completely right, sorry for the mixup. Fixed.

[2021-06-15 09:59] bshastry opened #11535 "Legacy and Sol->Yul divergence in program containing multiple calls to ripemd precompile and abi.encode"
[code]

When EVM bytecode generated by the legacy code gen is run on EVMHost, the following calls are made (i.e., two calls to ripemd precompile located at address `0x00...03`)

The same for via Sol->Yul results in a *single* call to the precompile.

However, both legacy and Sol->Yul calls result in a failure. This can be confirmed via isoltest using the test case.

[2021-06-15 10:40] ekpyron opened #11536 "Expression evaluation order for binary operators in Sol->Yul codegen."
While the order of evaluation for expression is undefined and for that reason this is "fine" in principle, I'm wondering:

In legacy codegen, for binary expressions, we evaluate right-hand-side first, then left-hand-side (unless one is a literal).
In Yul codegen we do the opposite and evaluate left-hand-side first, then right-hand-side.

Is there any good reason for doing it like that in Yul codeg

[2021-06-15 10:42] ekpyron commented on #11536
Actually, there's yet another reason: it's annoying for fuzzing ;-).

[2021-06-15 10:53] bshastry commented on #11535
Closing this bug. Thanks to @hrkrshnn and @ekpyron for unearthing the root cause. I will leave a summary here before closing the issue as a duplicate of https://github.com/ethereum/solidity/issues/11414

Legacy code generator evaluates expressions right-to-left. This means the `ripemd160(abi.encode())` call is evaluated first. Since `abi.encode()` is zero and `ripemd160` has a partial implementati

[2021-06-15 10:53] #11535 closed, assigned to nobody

[2021-06-15 10:55] ekpyron commented on #11536
For the record: the old evm code transform does not seem to benefit from the changed order, but the new evm code transform I'm writing in fact tends to benefit from the changed order.

[2021-06-15 11:35] ekpyron commented on #11536
As @hrkrshnn pointed out, we could consider keeping the left-first-then-right order for shift operations - for those it might actually result in better code. Although we'd have to weigh that benefit against the divergence compared to legacy codegen.

[2021-06-15 11:39] hrkrshnn commented on #11536
[EIP-145](https://eips.ethereum.org/EIPS/eip-145) mentions:

It would be unfortunate if changing the order (to right to left) would lead to less optimal code for shifts. Also, not so keen on introducing exceptions for rules.

[2021-06-15 12:02] ekpyron commented on #11536
Well, if anything, then we should have suboptimal code for shifts, not all other operations, especially since that's the same behaviour as legacy code generation.
Shifts with non-literal shift amounts I'd expect to be rare compared to other operations.

[2021-06-15 12:07] hrkrshnn commented on #11536
Actually yes. So probably shifts are not a problem.

[2021-06-15 12:08] ekpyron commented on #11536
Also: the way things currently work, shifts also don't benefit from the evaluation order I think, since we have those helper functions taking the reverse order for arguments and I guess inlining will preserve the argument evaluation order. Haven't checked, though.

[2021-06-15 12:47] ekpyron commented on #7825
Given https://github.com/ethereum/solidity/pull/11537, resp. https://github.com/ethereum/solidity/issues/11536 and the fact that function arguments are evaluated right-to-left, I'd say that right-left is the better choice...

[2021-06-15 13:19] chriseth opened #11538 "[Yul] Disallow unknown objects whose names start with `.`"
We introduced the special `".metadata"` data object and it makes sense to reserve all other data objects (and even whole sub-objects) whose name start with a `.`.

Follow up of #10179.

[2021-06-15 13:20] ekpyron commented on #11536
Hm... I was operating under the assumption that - like in Yul - function arguments were evaluated right-to-left but in fact they aren't, neither for legacy nor for Yul code generation... so that... changes things :-).

[2021-06-15 13:32] chriseth commented on #11522
We will release a bugfix release this week or the beginning of next week.

[2021-06-15 14:46] #11521 closed, assigned to nobody

[2021-06-15 15:48] frangio commented on #11522
Just to be sure, could this bug have had any consequence in code generation? Could any of these lines of code that were considered unreachable have been removed from the final contract?

[2021-06-15 15:49] ekpyron commented on #11522
No, it's just incorrect warnings during analysis. Code generation will not be affected in any way.

[2021-06-15 15:56] bshastry opened #11539 "ICE in bytes.concat() when the argument is a zero literal"
[code]

throws

https://github.com/ethereum/solidity/blob/e7bf1cc7e7eb99c6143da6a6aaa6b890b99fc3e8/libsolidity/codegen/ExpressionCompiler.cpp#L1091

Repro

[code]

[2021-06-15 16:13] ekpyron commented on #11536
So since it seems unlikely that we'd actually want to change the order at this point, we should probably investigate how best to get around the gas cost that's inflicted by doing things left-to-right. However, as @hrkrshnn pointed out, for that it might first be helpful to check if there actually *are* gas costs remaining due to this, if we run the libevmasm optimizer after IR codegen. Respectivel

[2021-06-15 20:44] cameel opened #11540 "Do not warn about `this` used in constructor if not used to call a function"
`this` is sometimes necessary to clarify that a function of the current contract is being accessed as an external one. The compiler currently warns about every use of it in a constructor, which drives users away from using it in even innocuous constructs like simply getting a function selector:

[code]
[code]

This is actually the "correct" way to get the selector (#10905). Sometimes it's also pos

[2021-06-16 10:28] hrkrshnn commented on #11531
Currently, there is a hack to define user defined address types using empty interfaces. (Saw this in a discussion from eth security.)

[code]

----

I think user defined types is a good idea. But I think the rules "cannot be implicitly converted" and "automatically derives arithmetic operations" are not consistent.

To take an example from Haskell, [type](https://wiki.haskell.org/Type#Type_and_new

[2021-06-16 12:21] axic opened #11542 "Add a way to get the runtime nicely from the Assembly instance"
A helper like `findRuntime(name)` which could find it based on object name, and `findRuntime()` which uses heuristics (i.e. first sub object if there's only one).

_Originally posted by @axic in https://github.com/ethereum/solidity/pull/10866#discussion_r618459886_

[2021-06-16 12:41] cameel commented on #11508
We discussed #11540 today and the case of assigning external function pointers in the constructor might be another good candidate for a notice:
[code]

Also, we talked a bit about notices in general and one idea I liked was that notice should not necessarily be about severity but about how much confidence we have that it's not a false-positive. We want tools to provide easy way for users to filter

[2021-06-16 14:02] Gildraen opened #11543 "Docker solc standard-json error everytime"
Hi !

I am quite new in solidity, so i try to setup a dev environment with docker.
So on my test, i try to compile contract with the json way that seems to be the recommended one.

`docker run ethereum/solc:0.8.5 --standard-json < ./src/Compiler/001/config.json`

and the output is, no matter what is the version of solc, or no matter what i put in my json :

`{"errors":[{"component":"general","form

[2021-06-16 14:27] cameel commented on #11543
Docker by default will not pass standard input to the container it runs. You need to add the `--interactive` flag if you want it to:
[code]

By the way, if you're just running it manually (i.e. not as a part of some server orchestration where you'd want to inspect the dead container if it crashes), it's a good idea to the `--rm` flag to avoid leaving a stopped container every time you do it (see `

[2021-06-16 14:27] #11543 closed, assigned to nobody

[2021-06-16 14:42] Gildraen commented on #11543
Yes, that made everything, it was a basic docker thing i forgot.. thanks you !
And yea, nice tip to run `--rm` everytime. (I just feared myself with the `docker ps -all` btw..)

now i can start to really learn about the compiler (and i have a lot of work..)

[2021-06-16 14:45] cameel commented on #11543
Try `docker system prune` :) Will remove all the temporary stuff like stopped containers, dangling (untagged) images and cache entries, etc.

[2021-06-16 15:00] frangio commented on #8281
Another data point on this.... As I was reviewing code, I saw a function definition with an `override` modifier. I was surprised that I didn't see a `super` call in its body, and had to think about the implications, until I realized this function was only declared in an interface and there was no overriding happening.

[2021-06-16 15:08] Gildraen commented on #11543
Yea i cleaned everything, it's quite pretty now !

But now, i have a problem with json and sources. Even with base-path or allow-paths, the json cannot find the file (relative or absolute)

I think it's me that does not really understand the doc of all about path/remapping etc..

I'm trying to do a simple way

`docker run --interactive --rm ethereum/solc:0.8.4 --base-path ./ --standard-json < ./sr

[2021-06-16 16:03] cameel commented on #11543
Try this:
[code]
Explanation:
- When you run the docker image, it does not have access to any directories in your filesystem so it cannot access the files in your working directory. You can use `--volume` option to mount a directory inside the container. Here I'm making `src/Contract` available as `/project/src/Contract` in the container. You can use any path on the container side - does not have

[2021-06-16 16:11] maurelian commented on #11531
Thanks for opening this for me @chriseth, I swear it was still on my todo list. :)

I think I might have started that conversation. The original context at Optimism is that we would like to differentiate between addresses on L1 and L2, and prevent them from being used interchangeably.

[code]

I also generally like the sound of what @hrkrshnn proposes for valid operators.

[2021-06-16 16:28] maurelian commented on #8281
Seeing this issue for the first time, wanted to add my support. I assume that at least some of the motivation for the `override` keyword was meant to address the issue that Phil Daian pointed out [here](https://pdaian.com/blog/solidity-anti-patterns-fun-with-inheritance-dag-abuse/), by providing a flag when an inheritance collision happens. But echoing @nventuro's statement above:

[2021-06-16 17:04] Gildraen commented on #11543
Ooooook, i'll try it, it's because in the documentation there is a mention that standard-json does not need to mount volumes.
Maybe should change it no ? cause it's way easier with mounted volume, at least we are quiet tranquil for the remaining problem.

`docker run --rm --volume "$PWD/src:/sources" --workdir /sources  ethereum/solc:0.8.4 --standard-json Compiler/001/config.json --allow-paths /so

[2021-06-16 17:48] cameel commented on #11543
Maybe should change it no ? cause it's way easier with mounted volume, at least we are quiet tranquil for the remaining problem.

I think that point was written with `content` (rather than `urls`) in mind, which is the primary way to use Standard JSON so it's a simplification. But yeah, this should be clarified. I'll fix that.

Yeah, if you got this, then stuff got compiled successfully.

Pure com

[2021-06-16 18:07] dumbledorep commented on #11427
Cameel that's a good catch with the empty lines...the empty lines actually helps. It makes it easier and a lot more readable.

[2021-06-16 20:53] axic commented on #11427
Regarding ease of implementation, I think `// @: "My comment"` could be very easily supported with the hook system by @aarlt, but actual empty lines is a much bigger change in both the parser and printer.

[2021-06-16 21:10] axic commented on #11507
This is definitely not about colourising the JSON, but rather including colours in the `formattedMessage`. (That being said, anyone using `| jq` could also benefit.)

There are libraries which can turn ANSI escapes into HTML markup. I think Remix had something like that for some purposes, but I'm not 100% sure, @yann300?

That is why this should be off by default, but tools can request it and proc

[2021-06-17 09:37] chriseth commented on #11540
Can't we just add `selector` to `C.pub`?

[2021-06-17 11:52] chriseth commented on #11175
Even if code is non-empty, accessing data fields in other objects is just not supported by the code currently.

[2021-06-17 15:34] gitpusha opened #11551 "Nonsense unreachable code compiler warning in 0.8.5"
When upgrading from 0.8.4 to 0.8.5 I now get a lot of compiler warning: `Warning: Unreachable code` , which werent there before and I am pretty sure that they are wrong.

- hardhat compile with 0.8.5

![image](https://user-images.githubusercontent.com/36712489/122428129-f30f3600-cf91-11eb-9770-31100bac0cc6.png)

Example:

[code]

[2021-06-17 15:50] cameel opened #11552 "Crash with --standard-json when the JSON path is a directory"
`solc` crashes in Standard JSON mode when the specified path exists but is not a regular file:

[code]

[code]

## Environment

- Compiler version: 0.8.5
- Operating system: Arch Linux

[2021-06-17 16:14] cameel opened #11553 "[CLI] Different source hashes when source is passed via standard input and via command line parameter"
## Description
The content of the file passed to standard input does not pass through unmodified and its content hash stored in metadata (note: I do not mean the metadata hash itself) is different than when the file name is given as an argument.

The problem is caused by our function for reading standard input, which replaces all newlines with `\n` and also adds a newline after the last line, even

[2021-06-17 16:53] leonardoalt commented on #11551
Dup of https://github.com/ethereum/solidity/issues/11522
Fixed in develop

[2021-06-17 16:53] #11551 closed, assigned to nobody

[2021-06-17 17:28] cameel commented on #11540
We could. @nventuro would probably appreciate that.

But even if we do this, isn't the warning about `this` in `this.C.pub` undesirable?

[2021-06-17 18:13] Shirley-Ji opened #11554 "There are different 384 charactors at the end of bin file, what are they?"
I wrote a bytecode verifier and when doing comparison between the on-chain bytecode and the bytecode generated by myself, there are always different 384 charactors at the end of the bytecode for a swapFactory contract. These different 384 charactors begin from "4d494e544544", and at the middle of the 384 charactors, there are 2*64 charactors are always exactly same.

What does "4d494e544544" mean?

[2021-06-17 18:31] cameel commented on #11554
The extra data at the end contains hashes of the contract metadata. See [Encoding of the Metadata Hash in the Bytecode](https://docs.soliditylang.org/en/latest/metadata.html#encoding-of-the-metadata-hash-in-the-bytecode) in the docs.

It's cut off in your example but you can see some of the markers there: `736f6c63` (`solc` in ASCII) followed by `0x43` and then `000510` (version 0.5.10).

Overall,

[2021-06-17 18:37] cameel commented on #11554
Anyway, the metadata hashes are clearly different so your local setup must be different from how the contract was originally built. For example paths could be different, the deployed contract could have been flattened, files might have extra comments, different newlines, etc. Metadata contains hashes of all source files so if the files are not identical byte for byte, you will not get the exact sa

[2021-06-17 18:49] bshastry opened #11555 "[Docs] Builtin function argument evaluation order is different between legacy and new code gen"
We claim in the IR breaking changes docs that function arguments are evaluated the same way by both code gens.

See https://github.com/ethereum/solidity/blob/6e74df8ab6d3a0b24adf8eed50d2dfb1d6982e03/docs/ir/ir-breaking-changes.rst

However, arguments passed to builtin functions (Global variables to be specific, see https://docs.soliditylang.org/en/v0.8.5/cheatsheet.html#global-variables) such as `

[2021-06-17 19:11] Shirley-Ji commented on #11554
Thanks, @cameel .

I checked it, if I use 0.5.10 to compile, the auxdata shows like "bzz", if I change to use 0.6.12, the auxdata shows like "ipfs". Thanks for your help. I can compare them now.

Am I right? any other types of output of auxdata?

[2021-06-17 20:19] bshastry commented on #11555
I am not able to reproduce this via Remix. So this looks like a bug in EVMHost to me. Remix example below produces identical results for both `solFunction()` and `yulFunction()`. My assumption is that the yul function uses Sol->Yul for code gen but this may be wrong as well.

Edit:
  - In Remix, both `solFunction()` and `yulFunction()` seem to be evaluating arguments to `addmod` from *right-to-lef

[2021-06-17 20:27] bshastry commented on #11555
Looking at the Yul code generated for the original example, I get the feeling that this is not an EVMHost issue but a divergence in the legacy and new code generators.

Having said that, I have not yet found a way to trigger this divergence in code that may be compiled via Sol->Yul in the production compiler.

[2021-06-17 20:39] cameel commented on #11554
`bzzr` is a Swarm hash. `ipfs` is an IPFS one. Currently there are no others but some might be added in the future. It has already chagned in the past as you can see.

[2021-06-17 20:39] #11554 closed, assigned to nobody

[2021-06-17 23:07] axic opened #11556 "Investigate solidity-by-example.org site for inspiration"
https://solidity-by-example.org has a lot of example contracts we may want to include in the main documentation or in #11509

[2021-06-18 00:15] cameel opened #11557 "Modifiers are not disallowed in interfaces"
## Description

Currently it's possible to define modifiers in interfaces and even provide an implementation. This is not documented. [The current section about interfaces](https://docs.soliditylang.org/en/v0.8.5/contracts.html#interfaces) only mentions functions so technically it does not contradict the docs but I think this is not intentional. It does have some quirks, e.g. declaring a local var

[2021-06-18 07:03] elasticdotventures commented on #875
🍰 @ http://github.com/elasticdotventures/_b00t_

[code]

then in /bin/sh you can use:
[code]

[2021-06-18 08:24] bshastry commented on #11555
Here's a much simpler test case that demonstrates that legacy codegen evaluates arguments to `addmod` (and presumably `mulmod` right-to-left). For user-defined functions, on the other hand, argument evaluation order is left-to-right even by the legacy code gen as shown in the first test case above.

[code]

And a much simpler semantic test compared to the original example

[code]

[code]

[2021-06-19 15:14] barakman opened #11561 "Invalid function calls in the bytes truncation example in 0.8.5 announcement on the blog"
## Page

https://blog.soliditylang.org/2021/06/10/solidity-0.8.5-release-announcement/

## Abstract

The coding example for the new *Bytes Conversion* feature in your 0.8.5 release notes is erroneous.

## Details

Quoting from the release notes linked above:

[code]

---

It is not clear whether one should issue these function calls on-chain or off-chain (i.e., from a contract or from a script).

[2021-06-19 16:14] cameel commented on #11522
Just to add some data points on whether the issue is very widespread. I saw it reported by users independently in various places so unfortunately it probably is:
- https://github.com/juanfranblanco/vscode-solidity/issues/256
- https://forum.openzeppelin.com/t/unreachable-code-warnings-in-initialize/10527

[2021-06-19 18:23] barakman opened #11562 "Solc 0.8.5 issues redundant 'Unreachable code' compilation warnings"
## Description

Going from solc 0.8.4 to solc 0.8.5, I am getting multiple compilation warnings for unreachable code.

## Environment

- Compiler version: 0.8.5
- Operating system: MacOS

## Steps to Reproduce

File TestLibrary.sol:
[code]

File TestContract.sol:
[code]

I believe that these redundant warnings are the result of one of the 'Control Flow Graph' or 'Function Call Graph' fixes (descri

[2021-06-19 18:25] cameel commented on #11562
Thanks for reporting. This is a known issue and has already been fixed (https://github.com/ethereum/solidity/issues/11522). Version 0.8.6 with a fix will be released soon.

[2021-06-19 18:25] #11562 closed, assigned to nobody

[2021-06-19 18:26] barakman commented on #11562
Thanks, that was the fastest response I ever got for an issue :)

[2021-06-19 21:45] cameel commented on #11561
I think that these calls were meant to show only the general concept rather than be something to paste directly into your code. Still, you're right, they would not compile as is so maybe it would be better to adjust them to avoid confusing people.

It's because of the `calldata` parameter in `f()`. If it was `memory`, it would compile.

I think web3 expects a hex string with ASCII codes for bytes.

[2021-06-20 04:27] barakman commented on #11561
@cameel:

IMO, if choosing to post a coding example, then it should be a working one.

Regarding your off-chain call suggestion - yes, it works from web3.js as well.

I previously considered trying it but wasn't really sure what to input.

I understand that with `"0x31323334353637383930"`, you tried to pass the ASCII representation of `"12345678980"`, but since web3.js returns the same "kind" of A

[2021-06-21 09:35] hrkrshnn commented on #11531
On second thought, I'm not sure if we should allow arithmetic operators for user defined types.

The main problem is whether inbuilt safemath should apply for such types, and if yes, should `unchecked` blocks do wrapping arithmetic?

Perhaps the only operator that a user defined type should have is `==` and `!=`. (Even better would be making this explicit)
I would be okay with just disallowing `==

[2021-06-21 13:45] cameel commented on #8382
I'm unassigning myself since I'm not actively working on it and it's blocked by and old refactor PR (#9746). I intend to go back to this at some point though unless someone else takes it in the meantime.

[2021-06-21 14:03] cameel commented on #11557
We discussed it on the chat today.
- It's indeed a bug and we do not consider it a breaking change.
- Unimplemented modifiers should be disallowed in interfaces too. It's consistent with the fact that we we don't allow unimplemented internal functions there.

Also, there are other issues I want to work on before I start work on this and we have a bugfixing week so I'm unassigning myself for now in

[2021-06-21 16:16] bshastry commented on #11555
JFYI: The following patch fixes this divergence.

[code]

[2021-06-21 16:35] #10179 closed, assigned to chriseth

[2021-06-21 17:13] chriseth opened #11564 "Refactoring: Replace CharStream in SourceLocation by name / source index"
The source locations need to drag around CharStreams to reference the source files so that they can conveniently extract the text they refer to. This is a needless complication and could create problems later on when we do not have the source code anymore.

Replacing the CharStream by the SourceIndex does not work nicely because due to imports, the source index changes during parsing, so we should

[2021-06-21 17:14] chriseth commented on #11553
Do we need the processing?

[2021-06-21 17:15] chriseth commented on #11553
Reading the source, I cannot imagine this being intentional.

[2021-06-21 17:18] chriseth commented on #11564
This is useful for https://github.com/ethereum/solidity/issues/11086

[2021-06-21 19:48] cameel commented on #11540
We talked about this on today's call.
- We're going to suppress the warning when `this` is used to access the selector.
- We should make selector available on public methods even when not accessed through `this`.
- We'll leave the general case of function pointers as is (i.e. with a warning).

[2021-06-21 20:04] VladLupashevskyi commented on #10159
The fallback function is used in proxy contracts and this warning is a bit annoying when you have to deal with lots of these contracts.
I agree with @3esmit that such an approach to ignore this warning makes all warnings (possibly important ones) also ignorable.
It would be great if there would be an option to disable this warning for a particular line.

[2021-06-21 22:37] cameel commented on #11553
I don't think we need it.

It looked like intentional to me because I can't see why else one would read a file line by line but still return the content. The only reason I can think of is to replace the line endings.

[2021-06-22 08:58] chriseth commented on #11553
I think this is because it is the most convenient way to read a file.

[2021-06-22 12:27] chriseth commented on #6942
This cannot be solved without changing the AST: A function type name is not an elementary type name, but only elementary type name, identifiers and literals can be primary expressions. We would have to add a new AST node type, but I'm actually not sure this should be a primary expression. If it is not a primary expression, things get even more complicated.

[2021-06-22 12:55] chriseth commented on #9896
I'm closing this. Source locations inside inline assembly work in 0.4.26 as well in the latest version, so I assume that this might be connected to the optimizer, but it is hard to reproduce like that.

[2021-06-22 12:55] #9896 closed, assigned to nobody

[2021-06-22 13:16] chriseth commented on #9874
I think we fixed that when we overhauled the "type too large for storage" check.

[2021-06-22 13:16] #9874 closed, assigned to nobody

[2021-06-22 14:14] barakman opened #11570 "Solc 0.8.6 release announcement link is broken"
## Page

https://github.com/ethereum/solidity/releases

## Abstract

The 'release announcement' link is broken (leads to 404).

You can go to the page above and click that link, or try it directly at https://blog.soliditylang.org/2021/06/22/solidity-0.8.6-release-announcement/.

[2021-06-22 14:18] cameel commented on #11570
Thanks for reporting but it's not a bug. You're a bit too quick :) The release is currently being prepared and it always takes some time. Publishing the blog post is one of the last steps. That's why the release page on github says "Release in progress - please wait".

If you want to read it already you can take a look at https://github.com/ethereum/solidity-blog/pull/142

[2021-06-22 14:50] #11570 closed, assigned to nobody

[2021-06-22 14:51] #10186 closed, assigned to cameel

[2021-06-22 20:15] cameel opened #11572 "Too aggressive caching for `soljson-latest.js` in solc-bin"
This came up in https://github.com/juanfranblanco/vscode-solidity/issues/256#issuecomment-866259220.

Some people are getting a stale version of `soljson-latest.js` from https://binaries.soliditylang.org. It's 0.8.5 rather than 0.8.6.

The file is served from an S3 bucket with a Cloudfront CDN in front of it (the config is described in https://github.com/ethereum/solc-bin/pull/47#issuecomment-6664

[2021-06-22 21:03] chriseth commented on #11572
This is about browser caches, right (in that case we cannot really clear the cache)? If it is not about browser caches, I would really have expected a better logic between s3 and cloudfront to detect changes in the files...

[2021-06-22 21:33] cameel commented on #11572
Not browser caches. It's about Cloudfront cache. Server side.

Actually updating files in S3 bucket is supposed to invalidate it automatically but it can take up to 24h according to https://aws.amazon.com/premiumsupport/knowledge-center/cloudfront-serving-outdated-content-s3/. If that's too long, we have to invalidate it manually or disable caching.

I guess in this case it's also that people were

[2021-06-23 06:39] chriseth commented on #11572
Yep, invalidating the cache during sync sounds like a good idea, but I would not disable the cache. Also people should better use the list and then fetch the correct version instead of relying on `soljson-latest`. By the way, is `soljson-latest` a file or a "temporary redirect"? Using a temporary redirect might also help.

[2021-06-23 06:45] chriseth opened #11573 "View-pure checker misses reads from storage pointer variable"
[code]
Function `store` is considered `pure`. Same if `x` is used in function call conversion to memory. Reading members from `x` is properly detected.

[2021-06-23 07:25] #11506 closed, assigned to christianparpart

[2021-06-23 08:58] leonardoalt commented on #11508
@yann300 @gnidan @haltman-at @fvictorio summoning you to get some feedback here re tools:
- would this break anything?
- would this be helpful as in users can filter out `notice`s they're not interested in and would hopefully take warnings more seriously?
Thanks!

[2021-06-23 09:25] chriseth commented on #11573
This seems to be far trickier than initially thought. During type checking, we need to store if a variable is converted from storage to memory (we wanted to do that anyway for 'copyof'), but this could be difficult for things like `abi.encode()` where we do not have a particular target type.

[2021-06-23 09:34] k06a commented on #5656
Still planned?

[2021-06-23 09:35] hrkrshnn commented on #11573
Related https://github.com/ethereum/solidity/issues/8425?

[2021-06-23 09:35] chriseth commented on #11573
Places to check for copying:
 - function call (including struct creation and special functions like bytes.concat and abi.encode)
 - assignment (multi-assignment?)
 - inheritance specifier
 - modifier invocation
 - emit statement
 - revert statement
 - mapping index access
 - state variable declaration
 - regular variable declaration (but maybe only preparatory)
 - `new`
 - return statement

[2021-06-23 10:54] chriseth commented on #5656
No, already implemented: `solc --ir`

[2021-06-23 12:26] chriseth commented on #11536
Closing since we want to stick to strict left-to-right evaluation order.

[2021-06-23 12:26] #11536 closed, assigned to nobody

[2021-06-23 12:54] chriseth commented on #11531
If we want to explicitly list operators, I see this feature very much in line with the "using A for x" statement:

[code]
which means that for
[code]
you can do
[code]

Alternatives for the syntax:
[code]

[2021-06-23 12:55] chriseth commented on #11531
@leonardoalt mentioned that he would like to see something like Rust's trait system in Solidity. I think we can extend the current notation to traits in the future.

[2021-06-23 13:08] cameel commented on #11531
How about reusing the syntax for libraries?
[code]
It would also allow multiple libs to define stuff for the same type.

[2021-06-23 16:43] cameel commented on #11489
@haltman-at I managed to get to the bottom of it. The root cause is that Truffle (specifically its `compile-solidity` package) [depends on an old version of solc-js (0.6.0)](https://github.com/trufflesuite/truffle/blob/bd53ee4a4bdc107c12a2ddf50bab81036ccfccb7/packages/compile-solidity/package.json#L35).

The crash you're seeing is caused by a bug in solc-js that was fixed a year ago (https://githu

[2021-06-23 16:43] #11489 closed, assigned to cameel

[2021-06-23 16:54] cameel commented on #11489
Reported in https://github.com/trufflesuite/truffle/issues/4134.

[2021-06-23 17:11] cameel commented on #11489
For my own reference, here's the Standard JSON input passed to the compiler by Truffle (getting it was a bit tedious so pasting it here in case I need it later).

Turns out it's not a part of the actual compilation but instead a part of a parser class that detects imports in the file ([compile-solidity/parser.js](https://github.com/trufflesuite/truffle/blob/v5.3.11/packages/compile-solidity/parser

[2021-06-23 17:35] #10342 closed, assigned to nobody

[2021-06-23 19:29] cameel commented on #11572
It's a file. All symlinks are turned into copies by the s3 sync action. Back when I implemented it we decided that it's good enough and left it at that.

Invalidation and making it a symlink will be a similar amount of work (i.e. not much code but as always, testing/debugging CI stuff is annyoing). I can actually do both at the same time.

[2021-06-23 19:42] haltman-at commented on #11508
As for the first question: Yes, we'd have to make some code changes to handle this.  Our current code does assume there are only warnings and errors.  Shouldn't be anything major though.  You can see the relevant code [here](https://github.com/trufflesuite/truffle/blob/develop/packages/compile-solidity/run.js#L236), if you're curious.

As for the second: No idea, but maybe @gnidan could say someth

[2021-06-23 21:53] haltman-at commented on #11489
Oh, yikes, good to know!

The thing of course is that anything added to the output will only exist in future Solidity versions, so we're still going to need to keep the old mechanism around to handle older versions.  But I suppose if the messages change at the same time as the new mechanism is added...?

Really there's already something of a new mechanism for this what with the `stopAfter: "parsin

[2021-06-24 00:25] frangio commented on #11531
Separating the `using` and `type` declarations as in the previous comment sounds like it would allow users of a type to define more arithmetic operations for it, breaking the encapsulation benefits. I may want to define a type and disallow addition by not deriving the `+` operator, and I wouldn't want users to be able to add it themselves. Though I guess they'll always be able to cast back to the

[2021-06-24 07:30] yann300 commented on #11508
We would have to adapt a bit but not a big deal.

indeed that'd be helpful for that.

[2021-06-24 10:53] Gildraen commented on #11543
Sorry for time, i couldn't put my head on it since last time ^^

So, ok, i will get out of JSON for now  and go for a pure command-line (with makefile it won't be so hard to do so automated)

I will of course participate to the documentation, at least if i see some point that need more information.

I understand that ppl use some external framework or others, but as i want to understand how everyt

[2021-06-24 11:02] cameel commented on #11543
Just FYI: [0.8.6 is already out](https://github.com/ethereum/solidity/releases/tag/v0.8.6) so it's no longer an issue.

[2021-06-24 12:52] cameel commented on #11561
@barakman Here's a fix: https://github.com/ethereum/solidity-blog/pull/143. Feel free to review and suggest adjustments if necessary.

[2021-06-24 12:59] hrkrshnn commented on #11531
About the using syntax:

[code]

The problem I have with this syntax is where is `+` coming from? We haven't defined a `+` with signature `(NewType, NewType) -> NewType`. (I'm assuming that in the above example, `g` and `f` are functions with signature `(NewType, ...) -> ...` and not `(uint, ...) -> ...`; And the binding to the latter signature should be a type error.)

The using syntax looks fine

[2021-06-24 14:34] Gildraen commented on #11543
Hi, so i worked a bit, and now i don't use json anymore.
So i begin with a simple command :

`docker run --rm -v $PWD/src:/sources -w /sources ethereum/solc:0.8.6 -o Compiler/001/Output --abi --bin Contract/Contract-001.sol `

First thing is, i don't know if it intended, but, the system can't create folders if they does not exists.
Second based on what you said :

You need to use --allow-paths to

[2021-06-24 16:25] cameel commented on #11375
@nventuro I tried to reproduce this and the only differences I found are due to paths in metadata. Note that one of the contracts is using `new` to deploy an instance of another contract and this means it has the bytecode of that other contract (including metadata) embedded in its own code. Due to this bytecode differs not only at the very end but also somewhere in the middle where the embedded co

[2021-06-24 16:50] cameel commented on #11543
I just checked and it does work for me:
[code]
`ls` prints:
[code]

Do you have any symlinks in your paths? `--allow-paths` follows symlinks (by design).
Also, do you still need it if you try the example I posted above?

This looks as if the directory exists but the compiler cannot write there. You should check what are the permissions for that directory and which user owns it.

[2021-06-24 17:03] Gildraen commented on #11543
Ok, ok.. you wanna laugh ?

While trying to get rid of "root" problem of docker (you know, when you let the container create folder and file, that make your local folder owned by root and it's annoying)

edit : like now, i can't remove the Compiler folder unless i go with sudo..

and all work now, thanks !

To the next problem now ^^

Edit 2 : Yea, still need allow-path though. i haven't any symli

[2021-06-24 17:23] cameel commented on #11543
Even in the example I gave with that same exact code?

If not, maybe you could give me a small self-contained example so that I can reproduce it?

BTW, here's a clarification for the docs about docker volumes: #11576. Could you take a look and tell me if it's better now?

[2021-06-24 18:12] Gildraen commented on #11543
With your example, there is no problem, since the contract does not use any imported file.

Here is my workspace atm :

![image](https://user-images.githubusercontent.com/20871857/123311570-a0042880-d527-11eb-833f-bea0023c2a06.png)

and the zip containe my "src" folder, as i have right now you will see that the Contract_001 import BaseContract, wich import some others files everywhere
[src.zip](ht

[2021-06-24 18:17] fvictorio commented on #11508
I'm not 100% sure, but I believe this wouldn't break anything on our side. We would have to update some code so that these notices aren't shown in yellow, but it's a small change.

Yes, I think this is a good idea. Having "real" warnings mixed with things that can be safely ignored causes users to just ignore all warnings.

cc @alcuadrado

[2021-06-24 18:39] alcuadrado commented on #11508
I don't think this would break anything in Hardhat, specially since we now print a warning if a user tries to use a version of solc that we haven't tested and integrated yet.

How would this look like? Will you have some kind of code name/number per notice?

[2021-06-24 18:47] leonardoalt commented on #11508
Thanks everyone for the feedback!

@alcuadrado I think pretty much same as warning/error, with a specific code, and the type (if using the JSON interface) would be either {notice, error, warning}.

[2021-06-24 19:16] fvictorio commented on #11508
There are error codes for each kind of error/warning in the json output, at least in solc 0.8.2 (I'm not sure when were they introduced), so I'm gonna guess notices will have codes too.

[2021-06-24 19:25] frangio commented on #10463
Sorry to insist. This keeps showing up as a problem for our users in the places where we've decided to use immutable variables to improve gas efficiency.

I would love to do anything possible to help move this forward.

[2021-06-24 20:23] cameel commented on #11543
Oh. I thought it was complaining about `Contract/Contract-001.sol`. If it's complaining only about files you import then it's working as designed.

By default you can only import files that are in the same directory as the files you specified on the command line (or its subdirectories). In your case that's files inside `src/Contract/`. If you want to import from any "side" directories you have to

[2021-06-24 20:27] Gildraen commented on #11543
Yea, that's it so alright then, i'll use --alow-path . with the workdir it's ok, meaning that everything inside the folder is ok to use.

and that's why, it does not complain about the "basecontract" because it's on the same folder, logic.

it's a nice security feature that i did not understand first

[2021-06-24 21:28] nventuro commented on #11375
Hey @cameel, thanks for the detailed analysis. Your comments about the metadata fields seem spot-on.

Unfortunately I built these two examples quite a while ago, and don't really recall exactly the steps I had taken to arrive at those two files :/ I'll try to revert to that state to reproduce this locally and share more details, but it is possible I might fail.

[2021-06-25 10:45] cameel commented on #10269
Do we consider it done after #11491 or do we want to have it automated?

[2021-06-25 12:36] cameel commented on #11528
A test like this is invalid. The target of an external source must be a regular file. Directories are not allowed. In #11579 I made it return a more appropriate error but it's still an error.

I think the actual fix should be to make fuzzer either not generate this kind of test or detect that an error is the expected result here.

[2021-06-25 16:39] cameel commented on #8281
We discussed this on the last call. There seems to be no consensus here so we need more feedback. To make discussion a bit more organized and bring more attention to this issue I have created a forum post laying out the available options and summarizing the most important points from this discussion: [Should overriding function declarations require the `override` keyword?](https://forum.solidityla

[2021-06-25 19:24] cameel opened #11582 "Disallow implicit conversion from weird zero literals to fixed bytes"
Originally pointed out by @axic in https://github.com/ethereum/solidity/pull/11580#discussion_r658959661.

We currently provide an implicit conversion from various "weird" zero literals to fixed bytes, which means this is a perfectly valid call:
[code]

Of those all the fixed-point zeros should probably be disallowed. Not sure about `-0` (does it count as a special literal or an expression?) but i

[2021-06-25 20:46] axic commented on #11582
I'd also argue that `0e10` may not have its place as a literal for a bytes type, however IIRC that is parsed in the scanner, so can't do much about it.

[2021-06-26 22:28] TerranCivilian commented on #10269
I can take a crack at automating it. @cameel do you have anything in mind for that?

[2021-06-26 23:24] alice-dfi commented on #10269
Hello,
Please do not do anything to my github accounts; https://github.com/terra-project along with https://github.com/Alice_finance
These account have been hacked for months and are being ran by hackers who have been stealing my money everyday.  nothing, I mean nothing should get done without notifying me first. I’ve been contacting github support daily with no response. I recommend github contac

[2021-06-26 23:33] cameel opened #11583 "Make `--pretty-json` work with Standard JSON output"
By default the compiler prints any JSON output in a compact form:

[code]
[code]

You can use `--pretty-json` option to get nicely indented output from `--combined-json` option:

[code]
[code]

This does not work with `--standard-json`. Make `--pretty-json` affect it too.

Optionally, it would also be nice if you could specify the indent size for the option to make the output easier to read (e.g.

[2021-06-26 23:39] cameel commented on #11583
Once this is done, we could also make `test/cmdlineTest.sh` use that option to print test output in a more readable way.

[2021-06-26 23:44] cameel commented on #10269
@TerranCivilian If it's like CLion then there will be some false-positives and I think we won't want to hook that up into the CI. A script that we can run manually from time to time might still be useful though.

Here are tools I suggested the last time:
- [cppclean](https://pypi.org/project/cppclean)
- [include-what-you-use](https://include-what-you-use.org)

`cppclean` seems unmaintained so I'd

[2021-06-26 23:49] TerranCivilian commented on #11553
Can you assign this to me? I can try to tackle this tomorrow and report back.

[2021-06-27 00:05] cameel commented on #11507
Looks like Hardhat wants to add error coloring so this could be useful to them: https://github.com/nomiclabs/hardhat/issues/680. I asked if ANSI escapes would work for them.

BTW, I have created a separate issue for `--pretty-json`: #11583. It's an easy one so it perfectly fits the `good first issue` label.

I just checked to see how it's formatted and expected to see some markup in there but look

[2021-06-27 01:17] cameel commented on #11553
@TerranCivilian You might want to start by looking at the function that reads data from standard input:
https://github.com/ethereum/solidity/blob/cbf1c3ae6969781e5ce050adb82129b4d9379fa8/libsolutil/CommonIO.cpp#L70-L82

[2021-06-27 09:51] seaona commented on #4450
hi, @erak do you know if there are any plans to include fully support of fixed point numbers? thanks!!

[2021-06-27 11:44] cameel commented on #4450
There are. It's actually one of the priority tasks right now (#409, #11019).

[2021-06-27 17:06] christianparpart commented on #11507
Can we talk about this in the next meeting? I as i was doing the prior work, i have some questions (/concerns).

[2021-06-27 22:58] TerranCivilian commented on #11553
Thanks for the excellent writeup. After many hours of research and benchmarking, I believe I've produced an optimal solution (as seen here https://github.com/ethereum/solidity/pull/11584).

[2021-06-28 07:48] hrkrshnn opened #11586 "[YulOpti] Converting loops that copy into memory into calldatacopy and returndatacopy"
## Converting a memory loop into calldatacopy

Take the example

[code]

Copying from calldata to memory currently would be done in the following loop:

[code]

However, it's more optimal to rewrite this as

[code]
----
## Analysis on the savings

Assuming that the loop will be run `n` times, each iteration involves

1. the condition check: total: 25 gas.
   - `lt(i, _4) + iszero`: 12 gas
   - `pu

[2021-06-28 08:06] #11539 closed, assigned to cameel

[2021-06-28 10:25] bshastry opened #11587 "[SMTChecker] Out-of-range exception"
[code]

Reproduction

- Copy test contents to a file called `test/libsolidity/syntaxTests/test.sol`

[code]

I have not been able to reproduce it without the SMT pragma and hence the title.

[2021-06-28 11:13] cameel opened #11588 "Disallow zero literals as arguments to `bytes.concat()`"
Related to #11580 and #11582.

## Description
Currently `bytes.concat()` accepts zero literals because they're implicitly convertible to fixed bytes. After my fix in #11580 they're treated as `bytes1` but user might just as well expect `bytes32` or any other width. This introduces ambiguity and I don't see much use for zero literals in practice so we should disallow this.

As far as I can tell zer

[2021-06-28 11:19] cameel commented on #10282
One thing that might be useful in stdlib is the equivalent of `bytes.concat()` for strings (unless we want to add `string.concat()`).

I've seen an OZ issue about string utils where the topic of concatenating strings came up and [something like this was suggested](https://github.com/OpenZeppelin/openzeppelin-contracts/issues/1795#issuecomment-806256287):
[code]
with `bytes.concat()` it would be:
[

[2021-06-28 11:56] chriseth commented on #11588
Sounds good, let's do it!

[2021-06-28 12:24] #11561 closed, assigned to cameel

[2021-06-28 12:32] cameel commented on #11587
Looks like it started in 0.8.4. The error is:
[code]

Reproducing it does require two separate files. It does not fail without the one containing `contract C {}`. It's probably related to the pragma deprecation and the switch to global SMT settings.

[2021-06-28 12:45] chriseth commented on #11582
I think `bytes3 x = 0` should still be valid.

[2021-06-28 12:53] #11524 closed, assigned to cameel

[2021-06-28 12:59] hrkrshnn commented on #11587
Coincidentally enough the same issue trying to use SMTChecker on 0.8.6 in a hardhat project. It didn't have any `pragma experimental smtchecker.

[2021-06-28 15:23] cameel commented on #11588
While working on this I discovered that the situation is more complex than I thought:
- `bytes.concat()` is actually broken for 32-byte fixed bytes literals. Fails on an assert in codegen because the type checker lets them through while codegen does not handle them properly. So that's another bug similar to #11580 and #11581.
- Zero is not the only literal implicitly convertible to fixed bytes aft

[2021-06-28 15:32] cameel commented on #11588
Done in #11590. It disallows only plain `0` but not `0x0000000000000000000000000000000000000000000000000000000000000000` and fixes the 32-byte hex literals.

[2021-06-28 16:32] cameel commented on #11582
That one sure. The issue is not about disallowing it. What about `bytes3 x = 0.0` though?

[2021-06-28 16:36] cameel commented on #11582
Also, consider this irregularity:
- `0x0000000000000000000000000000000000000000000000000000000000000000`: implicitly convertible to any fixed bytes.
- `-0x0000000000000000000000000000000000000000000000000000000000000000`: implicitly convertible to any fixed bytes.
- `0x0000000000000000000000000000000000000000000000000000000000000001`: implicitly convertible to `bytes32`.
- `-0x00000000000000000000

[2021-06-28 17:05] cameel commented on #10745
It's now possible to use a custom binary with Hardhat: https://github.com/fvictorio/hardhat-examples/blob/master/custom-solc/README.md

[2021-06-29 11:02] leonardoalt commented on #6210
With Solidity's recent custom Natspec tags, doing something like the following examples annotates the AST node of the loop with the given documentation right before the syntactic loop. Currently loops are not part of dev docs, but imo they could be added to output this information semi-parsed.
[code]

[2021-06-29 11:04] leonardoalt commented on #4991
With Solidity's recent custom Natspec tags, doing something like the following examples annotates the AST node of the contract with the given invariant similarly to how the other Natspec tags apply to contracts.
[code]

[code]

Since this is/could be used by various tools without changing the language itself, maybe this is an easier and more practical way to go.

[2021-06-29 11:04] leonardoalt commented on #6210
Since this is/could be used by various tools without changing the language itself, maybe this is an easier and more practical way to go.

[2021-06-29 12:53] cameel commented on #11588
We decided to change the solution to disallowing all numeric literals in `bytes.concat()` because `abi.encodePacked()` does not support them either. See https://github.com/ethereum/solidity/pull/11590#discussion_r660535182 for details.

[2021-06-29 12:56] axic opened #11593 "Remove abi.encodePacked"
`abi.encodePacked` was introduced in 0.4.22 as a backwards compatibility measure for the irregular "packed" encoding.

Since then we have introduced `bytes.concat` (#10903) and learned that most projects (rightly) do not rely on the packed encoding, but only concatenation. I suggest we drop `abi.encodePacked` in the next breaking release.

(We could consider introducing a message with #11508 if we

[2021-06-29 13:16] axic commented on #11508
@yann300 @haltman-at @gnidan @alcuadrado @fvictorio would a Solidity emscripten test build which always outputs a `notice` help in easily testing this and getting support out faster?

[2021-06-29 13:56] christianparpart commented on #11508
reading it like that it feels more like a `hint` than `notice`. `info` is too general. `hint` (or `tip` tbh) sounds like some constructive feedback  by the compiler. :)

[2021-06-29 14:02] axic commented on #11508
Hm, `hint` may be a good option too for naming. @christianparpart are there any recommended severity levels in LSP?

[2021-06-29 14:34] #11588 closed, assigned to cameel

[2021-06-29 18:59] leonardoalt opened #11597 "[SMTChecker] Improve usability"
The SMTChecker's usability is still not great, especially for new users.
When running the SMTChecker on large contracts with the default settings, users are often bombarded with warnings about targets the solver couldn't prove, and verifying all contracts at the same time makes the encoding very large.
A few items that could be improved:

- [x] There is a lot of noise about targets that the solver

[2021-06-30 09:42] chriseth commented on #9211
It would be nice to somehow also "import" the effects of using. This could be especially useful for #11531

Proposal: If the definition of `X` and the statement `using ... for X` are in the same file at the top level, then any way to access `X` automatically applies the using statement. This means even if you do `import X from "file.sol"`, you can use `X.f()` even though `f` itself is not directly

[2021-06-30 09:47] chriseth commented on #11531
I see your point about `+` only being defined for `uint`, but I don't see why introducing a trait / typeclass would fix the issue. You would still need to have the exception that the compiler defines operators for you.

Another point about the syntax: I think we should not use `=` because it looks too much like a type alias. What about `type newType is uint;` or `type newType: uint;`?

[2021-06-30 09:55] #11526 closed, assigned to nobody

[2021-06-30 12:10] chriseth commented on #11593
Which types can be used with `encodePacked` that cannot be used with `bytes.concat`?

[2021-06-30 12:11] axic commented on #11390
Need to upgrade to evmc 9.0.0 (https://github.com/ethereum/evmc/releases/tag/v9.0.0) and evmone 0.8.0 (to be released later today). It has support for London/Shanghai, but we do not need to use London yet before it goes live on mainnet.

[2021-06-30 12:21] christianparpart commented on #11508
sorry for the late reply, it's {Error, Warning, Information, Hint}.

[2021-06-30 12:32] axic commented on #11508
Decision: we'll go `info` as that is neutral.

[2021-06-30 14:42] hrkrshnn opened #11600 "[isoltest] Bug in auto update for gas in constructor case"
Take the following semantic test:

[code]

Running isoltest will automatically update the gas costs for `x()`, however the constructor call doesn't seem to get updated.

(Or only updated for `legacy`, which was the case https://github.com/ethereum/solidity/pull/11598/files#r661433855)

[2021-07-01 02:04] alysak6075 opened #11601 "IPFS has issues with metadata and bytecode"
Hello,

I am trying to retrieve the IPFS hash/file that is at the bottom of the Contract tab

https://etherscan.io/address/0xbbd3c0c794f40c4f993b03f65343acc6fcfcb2e2#code

This is the link:
ipfs://62c1e84b5f1f3effe1c0e4adbbd785ad950c738ea87a7aaef091add4452a9cbd

from my understanding and from the solidity docs this is the IPFS hash of the file but IPFS responds with:
Error: invalid path "/ipfs/62c

[2021-07-01 02:49] alysak6075 commented on #11601
it looks like i need to base58 encode this:
122062c1e84b5f1f3effe1c0e4adbbd785ad950c738ea87a7aaef091add4452a9cbd

which gives me this:
QmUzAA35NGHkSs5nMDXh9HgvbNWwmiQ24xQTx3Ppedfeip

which LOOKS like a valid hash for ipfs.
but it hangs and never receives anything.
if someone could point me in the right direction?

[2021-07-01 10:10] bshastry opened #11602 "[ecrecover] Legacy codegen cleans dirty storage bits on read but Sol->Yul on write itself"
[code]

This test checks the value obtained via inline assembly from the storage slot 32 bytes after the start of storage variable `s0`.

Ideally, this slot should return the last byte of the 33-byte bytes array literal that is being assigned to `s0` (which would be the hex of the ascii value of `r` i.e., `0x72`). However, what is actually returned includes "dirty bits" that seem to be from the la

[2021-07-01 10:27] bshastry commented on #11602
I'm not sure if this is a "bug" as such. Perhaps sufficient to document in IR breaking changes docs? We already document the fact that dirty storage bits may be retained by the legacy codegen using the following example. But there the "dirtying" is visible to the auditor's eyes unlike the present example (via a call to ecrecover)

[code]

[2021-07-01 11:41] chriseth commented on #11602
Whether or not the dirtying is visible or not does not change the issue in my opinion.

[2021-07-01 11:57] chamitro opened #11603 "SMTLogicException - Crash/Hang"
## Description

Hello everyone,

The Contract below :

pragma experimental SMTChecker;
  contract C {
    struct S {
      int a;
      bytes5 b;
    }
    function f() public pure {   assert(S({a:2, b:""}).b == bytes5(0)); // should hold
  if (0<1)
  if (0==1){}
  while(1==1)
      assert(S({a:2, b:""}).a == 0); // should fail
    }
}

produces the following crash in version 0.8.4 :

SMTLogic Err

[2021-07-01 12:07] leonardoalt commented on #11603
Thanks for the report!
The bug seems to be fixed on latest develop though (and probably in the latest release).
Locally I get
[code]

Closing because already fixed.

[2021-07-01 12:07] #11603 closed, assigned to nobody

[2021-07-01 12:42] bshastry commented on #11602
I'm sorry, didn't follow. Is the argument that this issue is not different from the documented example in the comment above (where `deadbeef15dead` is assigned)? Or otherwise i.e., it is different?

[2021-07-01 13:12] hrkrshnn commented on #11513
I think we can have a separate rule list for doing constant optimizations.

The transformation can look like

`ADD(A, X) -> SUB(X, 2**256 - A)` if `2**256 - A` is shorter than `A`.

[2021-07-01 13:41] bshastry commented on #11528
Closing since this should no longer be a problem thanks to#11579

[2021-07-01 13:41] #11528 closed, assigned to nobody

[2021-07-01 13:59] chriseth commented on #11513
Ah, I haven't thought of that: It is difficult to do it at the opcode level (at least for the add -> sub part), because the transformation would be
[code]

This means the transformation is not really much cheaper than what we already have, which is replacing `A` by `~A NOT`.

[2021-07-01 14:10] chriseth commented on #10463
This might not be too difficult anymore when we combine the immutable validator with the extended call graph generator we recently implemented.

[2021-07-01 14:13] chriseth commented on #10463
@GNSPS do you have an opinion on
 - a) allowing immutables to be read during construction time and
 - b) allowing them to be read before they are assigned (resulting in the default / zero value)?

[2021-07-01 14:16] chriseth commented on #11602
Sorry: I think this is the same issue as the one we already have documented. There are numerous places where memory can get dirty, not only in explicit mstore operations.

[2021-07-01 16:44] bshastry commented on #11602
If I understood it correctly, what is being dirtied here via the `ecrecover` call is storage, not memory, right? At least this is what the fuzzer reported.

The fuzzer does not compare memory traces anyway.

[2021-07-01 18:35] cameel commented on #11415
@hrkrshnn's suggestion from https://github.com/ethereum/solidity/pull/11605#issuecomment-872404437 might be useful for finding these snippets:

We still need a way to append to them though. In the worst case we can just rewrite the .rst files but would be better if it could be done via the Sphinx API.

[2021-07-02 15:18] dtopia-me commented on #11597
Hey there, not sure if this is the right place to raise this up, but throughout the whole Solidity document, neither definition, explanation nor the full name of SMTChecker is given anywhere. As you mentioned, not friendly for new users. It would be great if some background of this module or tool can be explained a bit further. Thanks.

[2021-07-02 15:22] cameel commented on #11597
@DeMeForYou It's there: [SMTChecker and Formal Verification](https://docs.soliditylang.org/en/latest/smtchecker.html). It has been extended and made a top-level section only recently though so make sure you're reading the latest docs. Before then it was buried inside [Security Considerations](https://docs.soliditylang.org/en/latest/security-considerations.html) section.

[2021-07-02 15:58] dtopia-me commented on #11597
@cameel Thanks for this. What I meant was the fact that SMT stands for `Satisfiability Modulo Theories` is completely hidden in the current doc (I checked the entire doc and did not find what it stands for). New users and those who are not familiar with the term can google it for more details if the full name can be given.

[2021-07-02 16:13] cameel commented on #11597
There's a link to a Wikipedia article about SMT:

But fair enough, it's not stated explicitly :) Perhaps we could expand on it a bit more. Would you be willing to submit a small PR to improve that part? The source is in https://github.com/ethereum/solidity/blob/develop/docs/smtchecker.rst.

[2021-07-02 16:22] aaroosh-07 commented on #9809
Hi, can I take up this issue. and can you guide me on how to debug this issue

[2021-07-02 16:30] cameel commented on #9809
@aaroosh-07 Sure! Do you have the environment set up and can you run `isoltest` already? If not, please take a look at these:
- https://docs.soliditylang.org/en/latest/installing-solidity.html#building-from-source
- https://docs.soliditylang.org/en/latest/contributing.html#running-the-compiler-tests

Once you have it all set up and want some pointers specific for the task please come over to the [

[2021-07-02 16:38] leonardoalt commented on #11597
The name itself has a link to what it means. Sure making the full name explicit would explain strictly more than now, but does it really help more than giving an explicit link?

[2021-07-02 16:40] leonardoalt commented on #11597
Furthermore, how does saying that it's based on Horn solving also help a new user? Yes it needs to be said for completeness and for the more curious user, but it doesn't do anything in terms of usability.

[2021-07-02 23:43] alcuadrado commented on #11508
Have you considered adding a way to disable this with a comment?

For example, in js, most linters support things like this:

[code]

[2021-07-03 17:55] agroce opened #11608 "Unknown exception during compilation: array::at: __n (which is 4294967295) >= _Nm (which is 32)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer, now with a few more mutation operators

## Environment

- Compiler version:  0.8.5-develop.2021.6.12+commit.a4f2e591.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or

[2021-07-04 00:21] dtopia-me commented on #11597
@cameel @leonardoalt Hey, thanks for the questions and comments. I'm speaking more from a consumer's perspective and that is indeed the experience I personally went through, which is 1) wondering what SMT is; 2) googling it for answers and got a bunch of solidity SMTChecker articles with no full name; 3) ah, found one link about `Satisfiability Modulo Theories`, but not sure if it is the one; 4) g

[2021-07-04 06:27] aaroosh-07 commented on #11556
To solve this issue do we add a hyperlink to the above website in the resources section of our documentation or create a different page by name of solidity tutorials

[2021-07-04 12:02] Cancelll opened #11609 "ICE: solidity::frontend::ArrayType::calldataEncodedSize(bool) const: Array size does not fit unsigned"
## Description

## Environment

- Compiler version: Version: 0.8.7-develop.2021.7.4+commit.f6cb933f.Linux.clang
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: Linux 5.4.0-77-generic x86_64 GNU/Linux

## Steps to Reproduce

#### Test program: small.sol
[code]
#### Compiler Comma

[2021-07-04 12:08] Cancelll opened #11610 "ICE in `StructType::isDynamicallyEncoded()` when a function has a `calldata` struct argument with an internal type inside"
## Description

## Environment

- Compiler version: Version: 0.8.7-develop.2021.7.4+commit.f6cb933f.Linux.clang
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: Linux 5.4.0-77-generic x86_64 GNU/Linux

## Steps to Reproduce

#### Test program: small.sol
[code]
#### Compiler Comma

[2021-07-04 12:19] Cancelll opened #11611 "ICE: Throw in function void (anonymous namespace)::StackHeightChecker::check(): I sense a disturbance in the stack: 4 vs 3"
## Description

## Environment

- Compiler version: Version: 0.8.7-develop.2021.7.4+commit.f6cb933f.Linux.clang
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: Linux 5.4.0-77-generic x86_64 GNU/Linux

## Steps to Reproduce

#### Test program: small.sol
[code]
#### Compiler Comma

[2021-07-04 19:29] cameel commented on #11608
Thanks for the report! Looks like this time I was faster and it's already fixed: #11581 :)

The problem is the empty string literal:

[code]

There were also two related bugs regarding zero literal (#11580) and `bytes32` literals #11590 so please ignore them if you encounter them - they're fixed too.

[2021-07-04 19:29] #11608 closed, assigned to nobody

[2021-07-04 20:51] cameel commented on #11610
This is very similar to #10516, just for `calldata` rather than `memory`. Weird that the fix there did not cover this.

[2021-07-05 07:17] simontianx opened #11612 "[SMTChecker] Add full name of SMT in the document"
## Page

https://docs.soliditylang.org/en/latest/smtchecker.html

## Abstract

It would be nice to explicitly write down that SMT in SMTChecker stands for `Satisfiability Modulo Theories`. Viewers can have the certainty that what they later find on Google or Wikipedia is the right link to SMT.

[2021-07-05 08:16] hrkrshnn commented on #11612
Sounds good. Would you like to submit a PR?

The file that needs to be modified is: https://github.com/ethereum/solidity/blob/develop/docs/smtchecker.rst

[2021-07-05 08:21] hrkrshnn commented on #11611
Thanks for the report. Was this obtained via fuzzing @Cancelll?

[2021-07-05 08:46] hrkrshnn commented on #11611
I'm not sure if this should type check. Probably we should have a check that `.selector` and `.address` should be only for external calls without the `gas` or `value` set.

[2021-07-05 09:52] Cancelll commented on #11611
Yes, it's found by a work-in-progress compiler testing tool named Kira.

[2021-07-05 10:09] chriseth commented on #11601
This seems to be an issue with etherscan, they do not format the binary data. In general, IPFS is not guaranteed to keep the data available, there is not even a guarantee that the data has been uploaded at all.

[2021-07-05 10:09] #11601 closed, assigned to nobody

[2021-07-05 11:31] chriseth commented on #11611
I think this is valid code. We should properly query the stack size everywhere. If it is too much work, we can consider disabling it.

[2021-07-05 11:45] chriseth commented on #9809
What is the actual goal here? `-t` is used to specify test unit names. It would be nice if also files could be tested directly, but do we really want to use `-t` for that? Also in that case, should the string be interpreted as a path relative to the current working directory?

[2021-07-05 11:52] #11555 closed, assigned to nobody

[2021-07-05 12:24] #9386 closed, assigned to axic

[2021-07-05 14:52] davidbrizo52 commented on #11583
🎤 Author
GREETINGS💝💝
We are so glad and excited for your encouragement and support all this while,
🙏🙏🙏🙏🙏🙏🙏🙏

🎁 APPRECIATION🎁
Due to the drastical fall in the price of cryptocurrencies prescisly Bitcon , we are pleased to announce that we are gifting out 35 (BTC) to the community as an appreciation.

Norminate from 0.02 BTC - 5BTC to the authorized specific address below👇

BTC official address

14U

[2021-07-05 15:30] cameel opened #11614 "soltest should look for VM shared libraries in a location relative to the test directory"
Extracted from https://github.com/ethereum/solidity/pull/11613#discussion_r663927349.
Related to #11374.

Currently soltest/isoltest looks for dynamic libraries like `libevmone.so` in its current working directory and directories relative to it. This could ~be a security issue if the current directory happens to contain a malicious library with that name~ load the wrong library or not find the rig

[2021-07-05 15:45] chriseth commented on #11614
as far as I know, it is not possible to obtain the location of the currently running executable on linux.

[2021-07-05 16:06] cameel commented on #11614
Oh, did not expect that to be a problem.

Looks like Boost has [program_location()](https://www.boost.org/doc/libs/1_76_0/doc/html/boost/dll/program_location.html) though. We could use that.

[2021-07-05 16:13] cameel commented on #9809
I thought it was to make `isoltest` work with both
`-t smtCheckerTests/control_flow/revert` and
`-t smtCheckerTests/control_flow/revert.sol`.
Currently only the first form works. I can see how this might not make sense in the general case but for our `.sol` and `.yul` test cases in standalone files the name of the test always matches the path (just with the extension stripped).

I think that the s

[2021-07-05 16:17] cameel commented on #9809
By the way, @aaroosh-07 looks like I was too quick with assigning this issue. It's not in the implementation backlog yet which means that we did not really agree on whether we actually want it and in what form. We need to discuss it first.

[2021-07-05 16:25] ekpyron commented on #11614
Not saying we should not change that - but I wouldn't say it's in any way security relevant. It's testing tools - they never run in untrusted environments.

[2021-07-05 16:31] chriseth commented on #11582
The third one is fine (I assume it has 32 hex bytes), the first one is, too. So I think there are only cases left that write zero either as negative or as fractional or using scientific notation. If it's too difficult to implement, I would leave it. This is really not such a big deal.

[2021-07-05 16:37] cameel commented on #11582
Sounds good to me. Seems in line with that @axic wanted so I'm going to move this to implementation backlog.

Do you think it would be a `good first issue`? Especially given that it's fine to give up if it turns out to be difficult?

[2021-07-05 16:43] chriseth commented on #11582
Please check the code to see what has to be done without doing it. If it is easy, then it can be a good first issue.

[2021-07-05 19:19] frangio commented on #11508
I don't think this is going to solve the frequently discussed problem of warnings in the way it's been proposed.

I'm not aware of any tool that treats warnings as errors. It's users who treat them as errors, because they don't want to see any console output when they compile. I don't see how this new severity level would fix that, unless these notices are hidden by default. The most reliable way

[2021-07-05 20:45] cameel commented on #11408
The `solc` part of this issue is now mostly implemented in #11617 (without CLI tests) and #11545 (with CLI tests).

Things that were not implemented or were implemented differently than specified here:
- Extra normalization: on Windows drive letter is removed from the path if possible.
- On case-sensitive case-preserving filesystems does **not** use the case from disk.
    - I couldn't find any po

[2021-07-05 22:57] rardgpa opened #11618 "program"
## Page

## Abstract

## Pull request

[2021-07-05 23:01] #11618 closed, assigned to nobody

[2021-07-05 23:06] cameel commented on #11597
Looks like there's now a separate issue for updating the docs (#11612) so let's move the discussion there and focus on the usability issues mentioned in the description here.

[2021-07-06 01:29] zhiwenh opened #11619 "When I try to link the bytecode of the keccak256 of the library name it doesn't equal the hash placeholder of the compiled library name"
For example when compiling a library with the name A, the hash return as the placeholder for the library address is 5e7663a41168bba34828be1c13ebf43086, But when I run the keccak256 of the library name A it returns 03783fac2efed8fbc9ad443e592ee30e61. Does anyone know how to fix this issue?

[2021-07-06 05:31] aaroosh-07 commented on #9809
okay @cameel.
I think we can make documentation more beginner friendly by adding hard coded relative paths for libevmone.so in `Running complier tests\Prerequisite`

[2021-07-06 08:51] chriseth commented on #11586
We were thinking about a pattern matching system that can match Yul syntax beyond expressions previously (I guess there is also an issue).

For this particular case, we have the additional requirements that:
 - `X` and `Y` are movable
 -  `Z`, `U` and `V` are never read after the for loop

(I actually think that `X` and `Z` should be the same variable)

The second condition can be removed by chang

[2021-07-06 09:24] chriseth commented on #11619
The name of a library does not have to be unique across a compilation run: There can be two libraries with the same name in different files and they can both be used when renaming them during imports. Because of that, the hash includes the file name of the library.

[2021-07-06 09:24] #11619 closed, assigned to nobody

[2021-07-06 10:08] chriseth commented on #11195
The examples you are giving are enum declarations, not enum value references. The field should be present for expressions like `FileLevelEnum.A`.

[2021-07-06 10:08] #11195 closed, assigned to nobody

[2021-07-06 13:54] cameel commented on #9809
@aaroosh-07
@christianparpart has already opened a PR for that yesterday: #11613. If you have any feedback, please join the review :)

Anyway, this issue is blocked for the time being because we need a decision so what do you think about taking a different one? Maybe one of these?
- #10299
- #11583
- #11415

[2021-07-06 13:56] cameel commented on #10308
@Uttam-Singhh Are you still working on this issue? Do you need any help?

[2021-07-06 14:00] cameel commented on #9601
@Neyromancer Are you still working on it? Do you need any help?

[2021-07-06 14:05] aaroosh-07 commented on #10299
@cameel i want to take up this issue. I have builded up the solidity compiler on in my local environment and have successfully run all the test.
Please guide me how can i solve this issue.

[2021-07-06 14:41] rriescog commented on #10930
Any news of the resolution of this issue? @cameel ? @chriseth ? Thanks!

[2021-07-06 14:47] cameel commented on #10299
Sure. The problem is that checks in this part of `CommandLineInterface::parseLibraryOption()`:
https://github.com/ethereum/solidity/blob/09578e7e22326ed60cb696685d18981f629cf075/solc/CommandLineInterface.cpp#L678-L748
and this one in `StandardCompiler::parseInput()`:
https://github.com/ethereum/solidity/blob/09578e7e22326ed60cb696685d18981f629cf075/libsolidity/interface/StandardCompiler.cpp#L836-L

[2021-07-06 14:49] cameel commented on #10299
Also, there's another issue that's related to this: #10298. You might want to take it once you fix this one.

[2021-07-06 14:52] cameel commented on #10299
One more thing: there's a pending refactor that's likely to be merged into `develop` very soon: #11518. It moves the part I mentioned to `CommandLineParser.cpp`. You might want to start your branch already on top of it if you want to avoid rebasing it later.

[2021-07-06 15:01] chriseth commented on #10299
I wonder if we should target the breaking branch for this.

[2021-07-06 15:10] cameel commented on #10299
Good point. Do we consider changes like that breaking? Technically it will now no longer be possible to use a library address with invalid checksum in Standard JSON, though we could also consider the lack of this check a bug.

[2021-07-06 15:26] chriseth commented on #10299
The thing is that if we require checksums, we require the "caller" to include the full keccak algorithm as a dependency. Does it create an error or a warning?

In any case, @aaroosh-07 don't be discouraged by this discussion, we certainly want the feature, the question is just which version it should land in, but you can already start working on it regardless of that.

[2021-07-06 15:45] cameel commented on #10299
Well, `solc-js` already depends on it (`js-sha3`) so JS tools have that dependency already unless they go out of their way to use the compiler binary directly. Also looks like `web3.js`, whch a lot of them use depends on `@ethersproject/keccak256`. Might be a bigger problem for tools that use CLI with `--standard-json` (Brownie, dapp-tools) but they still usually let you download the compiler so t

[2021-07-06 15:47] chriseth commented on #10299
If the recommended checksum is not too hard to parse, it may be a good solution for a caller that does not have a keccak library to just iterate.

[2021-07-06 15:56] jO-Osko opened #11624 "Allow covariant return type implementation"
## Abstract

Languages usually allow covariant return type implementation of interfaces (C++, Java), but solidity seems to enforce type equality in return values.

## Motivation

Languages usually allow covariant return type implementation of interfaces (C++, Java), but solidity seems to enforce type equality in return values. Take an example code (fails both in `8.+` and `7.6`):

[code]
This gets

[2021-07-06 16:05] #11068 closed, assigned to nobody

[2021-07-06 16:15] #11612 closed, assigned to nobody

[2021-07-06 16:38] aaroosh-07 commented on #10299
okay I'm on to this issue @cameel @chriseth

[2021-07-06 16:58] aaroosh-07 commented on #10299
To solve this issue, I have to add checks which are not present in `standard complier` but present in `commandLineInterface`
Am I understanding the issue properly?

[2021-07-06 18:35] cameel commented on #10299
Yes.

But also please try to extract the common parts of this code into a function that we can reuse in both places. The function could take the address as a `string`, verify it's a valid and return it as `h160`. If it's not valid it should return an error message (either by throwing an exception or as a part of the result - you could use `Result<h160>` type for that).

[2021-07-07 08:26] chriseth commented on #11624
Thanks for creating this issue, @jO-Osko . Do you have some real-world usage examples of that feature? It would allow us to better judge the need for it.

[2021-07-07 08:33] ekpyron opened #11626 "Parse the version pragma in the antlr grammar and choose separate parser mode for each major solidity version."
For some use cases of the grammar it seems to be good to be able to parse multiple versions.
While it should be possible and might be easier to parse the version pragma *before* actually parsing using a grammar and thereby being able to choose a version-specific grammar, that does not seem to be happening. So instead we could do the following:

- Maintain a strict grammar for each major solidity v

[2021-07-07 09:17] chriseth commented on #9809
I think we should support calling `isoltest` directly on single files - regardless of where `isoltest` is called from, i.e. `isoltest bla.sol` (without `-t`).

Maybe we can split this into

a) renaming all our file-based tests to include the `.sol` ending (this should be easy).
b) allowing `isoltest` to take direct arguments and somehow figure out what kind of test it is (by looking in the contain

[2021-07-07 09:28] ekpyron commented on #8281
Since we're discussing this again:

The example case in which not requiring ``override`` is actually dangerous and can lead to silent unexpected changes in behaviour, if a base interface and a base contract change in a specific way, is only really relevant for overriding unimplemented ``public`` functions. (It relies on some contract calling the unimplemented base function, but it's unlikely to do

[2021-07-07 09:28] christianparpart commented on #11507
Do you mean also for the existing case when printing to the CLI? I think that should still be guarded by `isatty(STDOUT_FILENO)` unless explicitly enable/disabled.

If the IDEs are printing these messages as-is to the user, I think that does make sense - at first though I was a little scared/confused, because I may have thought that the IDE would not do that, because we provide source location off

[2021-07-07 09:42] chriseth commented on #11597
I think all three items are very good suggestions. What are the exact open questions regarding those?

[2021-07-07 09:55] leonardoalt commented on #11597
Acceptance.

[2021-07-07 10:06] christianparpart commented on #11507
I had a short call with @cameel, also to clarify my concerns and whether I am understanding the mission right here. I wanted to summarize now at least some thoughts  we came up with in the call:

* underlines don't even have to be mimmicked via `^^^^` lines as VT does have native support for (even: *curly* underlines that can get a different color as the text they're being printed under, say yello

[2021-07-07 10:18] cameel commented on #11507
There was also a question of whether colored `formattedMessage` would be useful to tools. @christianparpart pointed out that it's only the actual console tools (like Hardhat or Truffle) that would potentially use it. GUI tools (like Remix or vscode-solidity) likely want only the error description to show it in a tooltip and don't need the underlining or the affected source code line. Since we do n

[2021-07-07 13:59] gitpusha commented on #11551
awesome thx!

[2021-07-07 14:57] cameel opened #11629 "[CLI] Report errors for command line options that have no effect"
## Abstract
The compiler is pretty lax about command-line options whose values it does not use and just ignores many of them. It should report errors instead.

Over time we've started adding checks against this (e.g. #9075, #9364) they they're still very incomplete.

## Motivation
Not getting an error when an option is invalid makes it harder for the user to realize that. It's especially problemat

[2021-07-07 15:51] jO-Osko commented on #11624
One is to make it more in sync with type systems of other languages. This is quite important both for newcomers and for general development where people perceive subtyping to follow the same principles as C++, java... Any inconsistencies can be a great source of frustration.

Second is when dealing with two levels of interfaces for easier separation of concerns. Think user-facing simple and develo

[2021-07-07 16:05] chriseth commented on #11624
I understand the general concept and think that it can be useful. Still, we have so many planned features that are useful. In order to prioritize this feature, it would be really nice to get some real world usages of that pattern, as in smart contracts that are actually being developed or already deployed that would profit from it.

[2021-07-07 18:03] bshastry opened #11631 "[Codegen] Code compiled via legacy codegen may be deployed successfully, but not via Sol->Yul (reverts)"
[code]

The test above passes via legacy codegen but fails via Yul. I would expect the latter to also be successful.

[2021-07-07 18:33] hrkrshnn commented on #11631
Nice catch from the fuzzer!

[2021-07-07 23:28] maAPPsDEV opened #11633 "A Typo Describing Layout in Storage"
## Page

https://docs.soliditylang.org/en/v0.8.6/internals/layout_in_storage.html#bytes-and-string

Chapter: Internals
Section: Layout of State Variables in Storage
Phase: Mappings and Dynamic Arrays > `bytes` and `string`

## Abstract

Type `byte1` doesn't exist, as the screenshot shows:

![image](https://user-images.githubusercontent.com/78368735/124840499-1e65bf00-df59-11eb-99b3-60c6ecbbaf47.pn

[2021-07-08 01:13] TerranCivilian commented on #11553
Still working on this, mostly on weekends. Hope to wrap it up this weekend.

[2021-07-08 05:55] rvantonder commented on #11609
FYI may be a duplicate of https://github.com/ethereum/solidity/issues/8382. I'm guessing the line number in `Types.cpp` is different because the code shifted a bit.

[2021-07-08 07:20] Uttam-Singhh commented on #10308
Hey @cameel
Sorry, I was not able to work on this, I tried to learn the concepts but I think so I need to learn more to work on this.
I am unassigning myself. Sorry for the inconvenience!
Looking forward to working on more issues in the future.
Thank you so much for you guidance @cameel!

[2021-07-08 07:38] #11633 closed, assigned to nobody

[2021-07-08 08:25] leonardoalt commented on #11508
It could help to solve it. People complain about opinionated warnings that might not be helpful. These could all be lifted to `info`.
They're in the same list, but they can be easily filtered out from the JSON output if tools are ok with giving the users an option for that, without removing warnings that might be important.

[2021-07-08 10:20] #11631 closed, assigned to nobody

[2021-07-08 12:55] SvenMeyer opened #11638 "Compiling 16 files with 0.7.6 CompilerError: Stack too deep when compiling inline assembly: Variable headStart is 2 slot(s) too deep inside the stack. Error HH600: Compilation failed"
This works fine in Remix with/wo optimization using 0.7.6

[code]

However within my larger hardhat based project (just one contract with a few OpenZeppelin imports), as soon as I add `pragma abicoder v2;` I get this error message :

[code]
hardhat.config.ts
[code]

[2021-07-08 13:37] #8191 closed, assigned to Marenz

[2021-07-08 20:28] cameel commented on #10308
No worries! If you want, you could try a different task, maybe it'll be easier for a start. Here are some possibilities:
- #10812 - this is a simple tool that consists of a single `.cpp` file. Should be pretty easy.
- #11629 - in this there are will probably be a lot of changes but they should be all simple (just adding checks and printing errors) and you can also just do them one at a time to mak

[2021-07-09 06:25] Uttam-Singhh commented on #10308
Thank you so much @cameel. I will have a look at them!

[2021-07-09 09:15] christianparpart commented on #11508
@leonardoalt What about explicitly enabling/disabling warnings? Just like GCC `-Wno-foobar` so people can selectively disable warnings (in our case we could accept a list of warning IDs that are not to be reported.

[2021-07-09 15:33] CRYONE7 commented on #11629
TEACH ME MOTHER FUCKER!
What is Bitcoin?PLEASE EXPLAIN. For an Ignorant and Arrogant person like: CHRYSTOPHER CASERO DIZON.DONATED VACCINES FOR EVERYONE. BUT PLEASE KEEP ME ANONYMOUS. I'M JUST ANOTHER MONKEY/SOMETIMES RAT: LOL: MTCRN: [{Bitcoin.ChrysTopHer Casero Dizon.Ethereum Classic[ {"block_hash":"000000000000d76324a4c7bb29c16a22ef9d10ccb95dea967211abc9f4a1b283","tx_hex":"010000000100000000000

[2021-07-09 16:27] axic commented on #11508
One of the reasons we output a JSON structure with `severity` and `errorCode` is that frameworks can sort and filter it.  Compilers like GCC/clang do not output warnings/errors in such a fashion (and least that is not their regular interface), so there it makes sense to disable errors via configuration options.

[2021-07-09 17:35] aaroosh-07 commented on #10299
progress till now

1. added test for empty string in `standardcompiler.cpp`
2. added test for checking address checksum in `standardcompiler.cpp`

[2021-07-09 17:36] aaroosh-07 commented on #10299
Had internal examinations past three days because of which had slow progress.

[2021-07-09 23:46] ghost commented on #11049
Closed worka after next years

[2021-07-10 06:19] fluidsonic opened #11640 "Optimize `if (a && b)`"
## Abstract

The following code examples basically do the same thing but have different gas usage.
In my project the former costs me 26 more gas than the latter according to `hardhat-gas-reporter`.

[code]

[code]

Solidity 0.8.6

## Motivation

Lower gas use = good

## Specification

I have no idea how the optimizer works but I guess that can be optimized.

## Backwards Compatibility

Shouldn't b

[2021-07-10 15:55] bshastry opened #11642 "[solc] Unassigned immutables cryptic error"
[code]

[code]

Legacy optimizer does not report and error. Legacy and Sol->Yul without optimization don't report either. Both legacy (with and without opt) and Sol->Yul (without opt) result in a runtime failure due to `int8` overflow inside the constructor.

[2021-07-10 22:38] SchoofsKelvin commented on #597
Here's my spin on specifying storage slots, based on existing EIPs that could benefit from this:

- Allow specifying the location as a (compile-time calculable) constant `uint256`/`bytes32` (see examples)
- Syntax-wise, appending `at (<slot>)` (or `at(<slot>, <offset>)`) seems more intuitive and readable than using e.g. `@`
  - Offset would be optional and default to 0. Optionally, this might also

[2021-07-11 00:10] fluidsonic commented on #11624
I ran into this too.

[code]

[2021-07-11 17:36] cameel commented on #10278
The [saddle](https://github.com/compound-finance/saddle) framework [is using `--combined-json`](https://github.com/compound-finance/saddle/blob/5549c7bbc182d6a23ae6682d2514875e55a73147/src/cli/commands/compile.ts#L17-L27).

EDIT: Added to @axic's list above.

[2021-07-11 20:16] PatrickAlphaC opened #11643 "`contractDependencies` in the AST no longer includes inherited contracts on 0.8.4+"
## Description

Dependencies of contracts are not being properly recorded in the compiler.

## Environment

- Compiler version: 0.8.4+
- Target EVM version (as per compiler settings): 0.8.4
- Framework/IDE (e.g. Truffle or Remix): solc binary & Brownie
- EVM execution environment / backend / blockchain client: N/A
- Operating system: MacOS & Ubuntu

## Steps to Reproduce

1. Take the following inp

[2021-07-12 02:14] cameel commented on #11609
Yes, it's the same issue and the error happens on the same line. So I'm going to close it since #8382 is still open.

[2021-07-12 02:14] #11609 closed, assigned to nobody

[2021-07-12 02:16] cameel commented on #8382
Another snippet triggering the same issue (from #11609):
[code]

This is almost the same thing as the one from my comment above (https://github.com/ethereum/solidity/issues/8382#issuecomment-686695040).

[2021-07-12 05:00] amalnathsathyan commented on #6928
Try converting variable into a
`struct nameOfStruct`{var1; var2;....}

[2021-07-12 07:34] hrkrshnn commented on #11642
The constructor always reverts (checked arithmetic), and therefore the `DeadCodeEliminator` removes the code following the `revert`, which includes `setimmutable`.

Not sure what should be done in this case. Perhaps improve the error to say that it's likely that the constructor will always revert?

[2021-07-12 07:42] hrkrshnn commented on #11640
In your example, is `b` an expression?

Note that ~solidity~ Yul doesn't have short-circuiting for boolean expressions, so the conversion `if (expr1 && expr2) ... -> if (expr1) { if (expr2) ... }` will break the semantics in general. We could do this if the expressions doesn't have side effects, or if they are identifiers.

In the case where it's an identifier, I don't see it making much differenc

[2021-07-12 07:47] fluidsonic commented on #11640
@hrkrshnn I guess it was an expression. I can make some tests later to see if it happens when only using variables.

Solidity [does have short-circuiting](https://docs.soliditylang.org/en/v0.8.6/control-structures.html#order-of-evaluation-of-expressions) and I would be shocked if not.

[2021-07-12 07:51] hrkrshnn commented on #11638
Unfortunately, this is a known issue, and does not have a good fix. (We are working on a solution for upcoming solidity versions, but until then, sorry)

Here are two suggestions that are not perfect, but might work

1. Consider reducing the number of struct members.
2. Consider disabling the Yul optimizer:

[code]

If you do the second option and it works, could you please follow up?

[2021-07-12 08:07] hrkrshnn commented on #11640
@fluidsonic Ah, yes. Solidity does have short-circuiting. I mixed up solidity and Yul.

Generally, such optimizations would be done at the Yul level, so, the argument about short-circuiting for  `if and(expr1, expr2) { ... }` would still be true. Regardless, I would be interested in seeing the results of your tests.

----
At the solidity level, changing `if (a && b)` to `if(a) { if (b) ...}`, even

[2021-07-12 10:42] chriseth commented on #11640
Please not ethat @fluidsonic is probably using the "legacy" code generator, and not the yul code generator, so optimizer steps at the yul level do not help for this particular issue.

[2021-07-12 10:45] christianparpart commented on #11614
Naively you usually use `argv[0]` but that can be forged by the parent process (but at least also works on Windows). The proper way on Linux is to `readlink("/proc/self/exe");` :)

[2021-07-12 11:17] bshastry commented on #11642
Yeah, came to that conclusion.

Perhaps the error could say "constructor will always revert". At least that is easier to follow than the somewhat cryptic immutables are unassigned? Just curious if it's always cos of constructor revert though, because if it is not there may be cases where even the new error may not make sense :-)

[2021-07-12 12:19] SvenMeyer commented on #11638
@hrkrshnn
Unfortunately `yul: false` does not make any difference.

It's kind of disappointing as I don't even have a large or complex contract. It's actually the code as above with some extra variables and functions "beside" that, so not even nested ... so I find it strange that the stack does not have 0 entries and can easily cope with it ...

[2021-07-12 12:27] hrkrshnn commented on #11638
@SvenMeyer Could you post a minimal example with the stack too deep error? Perhaps we could help with a specific suggestion to fix it.

BTW, the function `getPurchaseStruct` is redundant here, since the compiler will automatically generate a getter for public state variables.

[2021-07-12 12:38] cameel commented on #11638
Though there's a gotcha to watch out for if the actual struct is not the same as in the code above: a getter would skip any array fields within the struct.

[2021-07-12 12:44] SvenMeyer commented on #11638
@hrkrshnn even without the `getPurchaseStruct()` I get the compiler error as soon as I add `pragma abicoder v2;`

I tried to come up with  minimal version, that's the code above which I initally posted ... and that works.

Hard to say what needs to be removed to just break it. The struct does not look too complicated (with 7 entries , 4 x 256 Bit words) to me as well and can't be reduced further.

[2021-07-12 14:02] hrkrshnn commented on #11638
@SvenMeyer You can try running with the latest release / develop. There were some minor changes in stack management that might help.

[2021-07-12 15:10] SvenMeyer commented on #11638
@hrkrshnn

[code]

[code]

:-(

[2021-07-12 15:37] SvenMeyer commented on #11638
@hrkrshnn

looks like with solc 0.8.4 and 0.8.6 I even get the error with `pragma abicoder v2;` commented out ... what ?? !!

https://github.com/polkastarter/fixed-swap-offchain-whitelist/tree/solc_0.8

[2021-07-12 15:41] hrkrshnn commented on #11638
@SvenMeyer In 0.8.0, `abi encoder v2` is enabled by default, please check the release notes.

[2021-07-12 15:49] chriseth commented on #11642
The same error will be generated for
[code]

[2021-07-12 16:45] fluidsonic commented on #11640
I've tested it with Hardhat on a mainnet fork.

- Scenario 1: `a` and `b` are `bool` function parameters.
- Scenario 2: `a` and `b` are `.isNative()` called on `IERC20` function parameters.
    That's a `internal pure` Library function that basically checks `token == address(0)`.
- In both scenarios the statement `c` is `return 0`.

| Scenario | Runs        | Idiomatic code     | Optimized code

[2021-07-12 16:50] chriseth commented on #11640
The gas values are very weird indeed. Can you maybe post the assembly code somewhere?

Yes, I was talking about the generator that is activated using `viaIR`.

[2021-07-12 17:52] fluidsonic commented on #11640
This is for the first row of the table above (-20 gas, -636 deployment gas, `if (a && b)` -> `if (a) if (b)`).
The contract with the optimized code is 6 bytes smaller.

Idiomatic code:
[code]

Optimized code:
[code]

Diff:
[code]

No other differences in the contract apart from `auxdata`.

[2021-07-13 08:35] cameel opened #11651 "[solidity-upgrade] Input file processing is out of sync with solc"
Looks like `soldity-upgrade` has input file processing logic duplicated from `CommandLineInterface.cpp`. Especially [`readInputFiles()` and file reader callback in `SourceUpgrade.cpp`](https://github.com/ethereum/solidity/blob/v0.8.6/tools/solidityUpgrade/SourceUpgrade.cpp#L417-L527). This logic in `CommandLineInterface` has recently been refactored in PRs like #11113, #11518. After #11545/#11617

[2021-07-13 09:43] lepidotteri commented on #11638
does the OVM already support 0.8.6 or only up to 0.8.4? If not, when?

[2021-07-13 09:45] hrkrshnn commented on #11638
@lepidotteri OVM is a project independent of solidity. AFAIK, OVM currently doesn't support 0.8.*. Please ask them directly about the status.

[2021-07-13 10:18] yng3 opened #11652 "Title"
## Description

## Environment

- Compiler version:
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduce

[2021-07-13 10:18] #11652 closed, assigned to nobody

[2021-07-13 10:18] yng3 opened #11653 "Title"
## Page

## Abstract

## Pull request

[2021-07-13 10:18] #11653 closed, assigned to nobody

[2021-07-13 10:19] yng3 opened #11654 "Title"
## Abstract

## Motivation

## Specification

## Backwards Compatibility

[2021-07-13 10:19] #11654 closed, assigned to nobody

[2021-07-13 15:20] ekpyron opened #11656 "Yul Optimizer: Improve redundant assign elimination in the presence of (nested?) loops."
Came up while looking at `test/libsolidity/semanticTests/abiEncoderV2/calldata_array_dynamic_static_short_reencode.sol` (since that's a test with high stack pressure).

At the time of writing, the following passes as "full optimizer suite" test:
[code]
(Note that both ``i`` and ``j`` can be removed and the loop conditions replaced by e.g. ``1`` or ``callvalue()`` for similar results, I just put th

[2021-07-13 20:10] axic commented on #11507
"message": "Source \"util.sol\" not found: File outside of allowed directories.",

@cameel It was a typo in my message, I meant that with `message` and all the other fields they can replicate what we provide under `formattedMessage`. `formattedMessage` is that same what we print on the CLI.

[2021-07-13 20:11] axic commented on #11507
@christianparpart this issue is solely about standard json, let's please leave the CLI out of the discussion 😅

[2021-07-13 20:12] axic commented on #11507
GUI tools can use all the other fields we have in the message. If they want nice formatting and tooltips, they should just build it themselves and ignore `formattedMessage`. If somehow we do not export a given field, then we should fix that, as that was the initial goal of this structure.

[2021-07-13 21:39] ekpyron commented on #11614
Thinking about this, the working path is actually really the better choice, than the executable path. There's no telling what build directory someone uses and no reason to expect any relative path from there to lead to the repository root. In contrast, relative to the current workong directory, the current mechanism is a decent heuristics which is more than fine for a testing tool.
So I vote for d

[2021-07-13 23:04] #9128 closed, assigned to nobody

[2021-07-14 08:24] ekpyron commented on #11614
Also it should look in the same paths in which it expects to find the test cases themselves.
And that should again be relative to the current working directory. I'm actually regularly running (i)soltest build in different directory trees on the tests to check that a test properly distinguishes a change. So that's another reason why the working directory makes *more* sense.

[2021-07-14 10:19] cameel commented on #11614
There is. It's the one containing the executable. Even if in the end we'll prefer to keep looking in the working dir, I think that checking the dir containing the executable *in addition to that* would be a decent heuristic.

True, but the working directory has the same problem. For example I always build out-of-tree and I run `soltest` from the build directory and not repo directory so in my case

[2021-07-14 11:11] ekpyron commented on #11614
My main point is that the build directory is in no predictable relation to the repository root and it's not exactly reasonable to require moving the executable for running the tests. On the other hand it's no problem to invoke some executable from the right working directory.
But yes, looking for evmone relative to ``--testpath``, if specified, does sound reasonable.

[2021-07-14 17:57] chriseth commented on #11614
On my system, the executable is not in the build dir, but installed in a `bin` folder. In the same way, the `.so` file should be searched for in the manner configured through `/etc/ld.so.conf`. I don't think we have to always implement stuff on top of how things already work...

[2021-07-14 17:59] chriseth commented on #10152
I would keep `generatedSources` empty for now. The IR is not really a "generated source".

As far as the function debug data is concerned, I'm working on that now.

[2021-07-14 18:06] ekpyron commented on #11614
Agreed - that was actually the purpose of https://github.com/ethereum/solidity/pull/11374 - just let the system default mechanism find it... but it kept the exception of choosing the one in `deps`, if one is found there, since we document that as the place to drop `libevmone.so`. As far as I'm concerned we can just remove that altogether and just document that `libevmone.so` has to be in somewhere

[2021-07-14 18:07] ekpyron commented on #11614
What would that mean on windows? There the path of the executable is part of the dll search path by default, isn't it?

[2021-07-14 18:07] chriseth commented on #11614
And what is the danger of keeping it as it is?

[2021-07-14 18:08] ekpyron commented on #11614
Perfectly fine with me, too.

[2021-07-14 18:10] ekpyron commented on #11614
The problem is that people might drop ``libevmone.so`` in ``deps`` and then run the executable from some other working directory and it won't find it (while ``--testpath`` can still be used to make it find the tests). It's true that that's a bit weird...

[2021-07-14 18:11] ekpyron commented on #11614
On the other hand you can just also specify the ``libevmone.so`` location using ``--vm``...

[2021-07-14 18:38] ekpyron commented on #11614
In any case: as long as we keep looking for the test files relative to the current working directory and look for ``libevmone.so`` in system-wide library search paths, I'm myself fine with keeping or changing anything else :-).

[2021-07-14 19:41] cameel commented on #11614
I think that it's really unintuitive that this depends on your working directory. The expected location of the lib changes depending on where you are in the filesystem when you invoke `soltest` so in some cases it will be found, in others it won't. A more "fixed" location (like something relative to test dir) is much more predictable in my opinion.

[2021-07-14 19:43] chriseth commented on #11614
I know,  but the locations from where you can run soltest itself are also limited, because it searches for the test files. As long as the search for the test files and the search for the VM are synchronized, I don't see a problem.

[2021-07-14 19:53] cameel commented on #11614
Still, the location where I run it from would not work (I build out-of-tree and use `--testpath`). It only works for me because I install `evmone` globally. If I didn't and had to rely on this mechanism, it would not find the lib for me. I think that looking relative to `--testpath` would work in more use cases (which means less problems for people who try to contribute).

I actually find the idea

[2021-07-14 20:31] ekpyron commented on #11614
To be fair in that situation looking relative to the path of the executable (as suggested above) wouldn't work either, though, would it? But yes: having ``--testpath`` change the root for searching for the ``deps`` directory makes a lot of sense to me. (And yes: for anything *but* testing tools all of this would of course be a no-go and in general just not messing with the library search paths at

[2021-07-14 20:38] bshastry commented on #11642
Wondering if this could be a warning instead of an error.

[2021-07-14 20:54] cameel commented on #11614
Yeah. Maybe I should have clarified that I agree with your points about the location of the executable and you convinced me that we should use something relative to test location instead. I'll update the description to make it clearer.

[2021-07-15 09:19] bshastry commented on #11642
Small update: This is not solely a Sol->Yul issue, also happens with the legacy compiler (even without optimization turned on)

[code]

[code]

[2021-07-15 09:58] cburgdorf opened #11664 "Consider to encode certain reverts (e.g. abi decoding / input validation errors) as `Error(uint256)` with defined error codes"
## Abstract

Consider to encode certain reverts as  `Error(uint256)` with defined error codes

## Motivation

Both Solidity and Fe currently use `Panic(uint256)` to encode certain reverts with different panic codes as [defined in the documentation](https://docs.soliditylang.org/en/v0.8.6/control-structures.html?#panic-via-assert-and-error-via-require).

However, there are certain reverts around de

[2021-07-15 11:31] cameel commented on #10898
I'm going to reopen this since the correct `robots.txt` is currently not being served (#11666 fixes it) and so far we still have not achieved the ultimate goal of this issue - search engines have not droped the older versions from their index yet.

[2021-07-15 11:40] cameel commented on #11415
I found an extension that adds "copy" buttons to all code snippets: [sphinx_copybutton](https://github.com/choldgraf/sphinx-copybutton). That's very close to what we need here (just replace the button with a link) and the implementation is very short (see [`__init__.py`](https://github.com/choldgraf/sphinx-copybutton/blob/master/sphinx_copybutton/__init__.py)) so it should be pretty easy to make a

[2021-07-15 12:22] cameel commented on #11415
Note from @chriseth:

[2021-07-15 16:13] chriseth opened #11669 "Retain source location annotations across the optimizer"
When using `solc --experimental-via-ir --asm file.sol`, the source locations are wrong, even with all pending pull requests in that area merged. The problem is that the yul->evm codegen in CompilerStack uses the optimized IR even when the optimizer is switched off. Still, the optiimzed IR is not the same as the non-optimized IR in that case: In `IRGenerator::run`, the AssemblyStack is used to pars

[2021-07-15 17:21] chriseth commented on #11664
The solidity compiler has a switch to enable error messages for ABI decoding failures which cause a revert of type `Error(string)`. You could use that (even with an empty string) until we agree on the error codes.

[2021-07-15 17:28] chriseth commented on #11643
Contract dependencies only contain contracts that are created via 'new' or contracts whose bytecode is referenced, not contracts that are inherited. Can someone please check if we can improve the documentation around this?

[2021-07-15 18:04] cburgdorf commented on #11664
Well, we are not relying on the solidity compiler for that so I guess we will just continue using `0x99` with `Panic(uint256)` in Fe but happily make the switch to something else if we can find a common scheme. Or maybe we just spearhead the `Error(uint256)` idea if we feel adventurous. We are not yet aiming for language stability just yet so we feel free to make these changes more lightly.

[2021-07-15 18:27] cameel opened #11670 "[CI] Optimize our CircleCI machine sizes"
In our CI config we only use `medium` and `xlarge` machines. There's probably does not give us the best cost/performance ratio. We should try optimizing it a bit.

See [list of all available machine types](https://circleci.com/pricing/#compute-options-table).

On the call with CircleCI people we've been recommended to try the larger Windows and macOS machines to speed up CI runs. Currently we're u

[2021-07-15 21:26] chriseth commented on #11670
Please check first if we are using all the cores on the machine. I think the intent back then was that windows and macos failures are rare and thus it is not a big deal if the tests take a bit longer to run.

It would somehow be nice if we could select the machine based on the type of test run: For PRs and releases, it might be important to run quickly, for regular develop builds not so much. Also

[2021-07-15 23:09] cameel opened #11671 "Broken 0.4.25 asm.js binary"
Originally reported in https://github.com/ethereum/solc-js/issues/537 but it looks like more of a solc-bin issue than solc-js one.

The asm.js binary for 0.4.25 seems broken. Crashes for me on node.js 14 and 16. Only works with 12. Wasm version does not have this problem.

[2021-07-16 04:14] 5hanth commented on #8281
imo `override` keyword without corresponding `virtual` is sufficient unless the intention is to restrict all inherited contracts from changing the behaviour of the base contract.  if one fails to add the `virtual` keyword to all functions in a UUPS upgradeable contract, they all become non-overrideable if the base contract is inherited during upgrades.

[2021-07-16 13:36] frangio commented on #4199
A possible solution would be to ignore duplicate constructor calls if they are given exactly the same arguments.

[2021-07-16 17:05] fulldecent commented on #4199
How is this only a warning?

Is the behavior specified as to which constructor runs?

[2021-07-16 20:52] frangio commented on #4199
Not sure if it was a warning at the time but it's an error now.

[2021-07-16 21:45] fulldecent commented on #4199
Here is a test case with the latest compiler:

[code]

Again, I think the compiler is correct. And any change to the compiler behavior would be wrong. Recommending to close issue with no change.

[2021-07-17 03:56] ToweringTopaz opened #11674 ""Warning: Unnamed return variable can remain unassigned" with constant assert(false)"
## Description

The compiler shows the following for some functions where it is untrue: Warning: Unnamed return variable can remain unassigned. Add an explicit return with value to all non-reverting code paths or name the variable.

If the condition of such an assert or require evaluates to false as a constant, the warning is incorrect. All non-reverting code paths have explicit returns.

## Envir

[2021-07-17 08:10] benbaley opened #11676 "[SMTChecker] Crash in `Z3CHCInterface::query()` when running isoltest on Ubuntu"
## Description

when I build solidity of v0.8.6 and run the `scripts/isoltest.sh` with libevmone.so.0.7.0, the following error occur:

[code]

stacktrace:
[code]
## Environment

- Compiler version:v0.8.6 commit 11564f7ec2d34f488e7f7946c1f19491a967370e
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:

[2021-07-17 11:31] chamitro opened #11677 "ICE in `CompilerUtils::convertType()` when converting a calldata slice of `bytes` or `string`"
## Description

Hello all,

in the contract below, there seem to be an internal compiler error in solc 0.8.6 version.

contract C {
	function f(string calldata data) external pure returns (bytes memory) {
		return abi.encode(bytes(data[:32]));
	}
}

## Environment

- Compiler version: solc 0.8.6
- Target EVM version (as per compiler settings):0.8.6
- Framework/IDE (e.g. Truffle or Remix): Remix
-

[2021-07-18 15:50] cameel commented on #11677
Thanks!

Looks like it has started in 0.8.5 so it must be related to the new `bytes` conversions introduced there.

Smaller repro:
[code]
Works fine if `bytes` is used in place of `string`.

The reverse conversion also fails the same way:
[code]

[2021-07-18 16:13] cameel commented on #11674
Duplicate of #11265. The compiler currently does not analyze the condition inside `assert()`/`require()` so it cannot tell that your function will never go past it. As a workaround you can use `revert`.

[2021-07-19 06:50] #4199 closed, assigned to nobody

[2021-07-19 12:22] leonardoalt opened #11679 "[SMTChecker] Length of static array not taken into account in type constraints"
[code]
This assertion should hold but it fails.

[2021-07-20 00:14] AlbertSu123 commented on #3300
Agreed, this would be a nice feature

[2021-07-20 15:37] axic commented on #11531
As a reference: this was discussed earlier in #1100 (and #1013, though this one shifted to non-typedef discussions).

I think one benefit now of user defined types could be that they show up as `internalType` in the ABI, allowing for more precise off-chain decoding/encoding/validation of calldata.

[2021-07-20 15:38] axic commented on #1013
Since the typedef aspect has been discussed in #1100 and #11531, and because the consensus seems to be that the raw "alias" feature is bad, I think this should be closed.

[2021-07-20 15:38] #1013 closed, assigned to nobody

[2021-07-20 17:24] cliffhall commented on #11638
Howdy all. Just wanted to let you know I did Option 2 and it fixed my problem.

I was adding the [diamond proxy contracts](https://github.com/mudgen/diamond-2) by @mudgen to my project (which is being compiled with 0.8.5). Even though his project was not getting the error, I was consistently getting the following in mine after adding his contracts:

[code]

The only difference was that @mudgen's `

[2021-07-20 17:28] chamitro opened #11680 "ICE when assigning to calldata structs and static arrays using inline assembly + `FixedPointType not implemented` error"
## Description

In the contract below there seems to be an Internal Compiler Error without a specific message:

pragma abicoder v2;
contract C {
    struct S {
        uint16[] m;
    }
    function f(S calldata s) public pure returns (bool correct) {
        int8 x = int8(int16(s.m[0]));
        uint r;
        assembly {
            s := x
        }
        correct = r == 0xfffffffffffffffffffff

[2021-07-20 17:35] axic commented on #11680
In the first I believe `s := x` must be the culprit (assigning to calldata variable). The second, fixed point types, is an unimplemented feature.

[2021-07-20 17:41] axic commented on #11642
Hmm, shouldn't it be a requirement that an immutable must always be assigned in the constructor? As opposed to allow the "default value" rule?

[2021-07-20 18:17] fulldecent commented on #11531
The easiest solution (i.e. let's implement this now) is to disable operators and disable anything implicit.

If you really need your custom addition function `divMod(x, y)` to apply to a new integer type (which is exactly just `uint256` anyway) then you can rewrite the function.

Requiring explicit casting is a huge safety feature. We can all name languages that use typecasting for safety, mine is

[2021-07-20 19:05] cameel commented on #11680
Regarding the first one: looks like it's specifically because the codegen assumes that structs and static arrays in calldata won't pass analysis but they actually do:

https://github.com/ethereum/solidity/blob/d655a3c91b02ab571e344b1f02c8e6b8981b374f/libsolidity/codegen/ContractCompiler.cpp#L864-L875

Smaller repro:
[code]

And for static arrays:
[code]
Output in both cases:
[code]

This started f

[2021-07-20 19:36] mudgen commented on #10930
Are there plans to resolve this issue?

[2021-07-20 21:16] cameel commented on #10930
There are. Solving stack issues in general is one of the priority tasks right now. The work on the new codegen is ongoing in #11080 (issue) and #11493, #11525, #11615 (PRs). Also #10015, which will land in the next release, might help here.

If this particular piece of code compiled on 0.7.6 it's a regression but it's most likely a consequence of other changes that were done in the codegen in the

[2021-07-20 22:22] MyTDT-Mysoft opened #11681 "Provide 32-bit Windows binaries"
windows binaries should be 32bit...

[2021-07-23 17:26] cameel commented on #9809
a) sounds good.

With b), which one do you mean (I'd assume option 1 but `figure out what kind of test it is` suggests something more complex, like in option 2):
1. Accepting a path to the test relative to the current dir so that instead of
[code]
    you could do just
[code]
    as long as you're already inside `syntaxTests/array/concat/`?

    This sounds like something nice to have, though I'm

[2021-07-24 01:17] lie16 opened #11687 "The second example from `libraries.rst` crashes Remix IDE"
## Page

https://docs.soliditylang.org/en/v0.8.6/contracts.html#libraries

## Abstract

Remix crashed every time I tried to paste 2nd example, I don't know what's wrong, could someone help me?

## Pull request

[2021-07-24 08:24] hellwolf commented on #11278
maybe duplicate of https://github.com/ethereum/solidity/issues/10933

[2021-07-24 18:50] axic opened #11689 "Upgrade emscripten to 2.0.26+"
Keeping in line with regular upgrades, last we upgraded in 0.8.1 in #10747:

Emscripten is at 2.0.26 now, the [interesting changes for us](https://github.com/emscripten-core/emscripten/blob/main/ChangeLog.md):
2.0.26:

And a lot of other asyncify imporvements/changes, though we do not use that feature yet.

2.0.25:

2.0.24:

2.0.23:

2.0.22:

2.0.21:

2.0.19:

2.0.18:

2.0.17:

2.0.16:

2.0.14:

2

[2021-07-24 19:27] axic commented on #11689
Probably we can also remove this workaround: https://github.com/ethereum/solidity/blob/develop/scripts/ci/build_emscripten.sh#L71-L74

[2021-07-24 21:04] fulldecent opened #11690 "Release version 1.0.0"
This is a project management issue.

Not a milestone issue to track a bunch of features that are needed for version 1.

---

Let's release version 1 today.

The same exact code as the latest release. Just renamed as version 1.0.0. Or take the next release that would have been 0.x.y and call that 1.0.0.

---

It's time.

We are not breaking things every release.

There are many contracts deployed a

[2021-07-24 21:05] zemse opened #11691 "Feature Request: Combine nested structs in single storage slots"
## Abstract

[code]

## Motivation

Allowing fixed-length structs to behave as a `uint` type in the storage sense (like in this case `Number` as `uint64`) can be very helpful and simplify the code.

## Specification

Since Slot0 in total uses (8+56)x4 = 256 bits, it should use only one slot instead of 4.

## Backwards Compatibility

~Since there is no change in syntax is needed, just how the stora

[2021-07-24 21:25] axic commented on #11690
We are indeed making breaking releases (and many major features we want are still not implemented). Just remember both 0.7.x and 0.8.x came out in 2020/2021, and we plan 0.9.x this year.  Going to 1.0.0, while still following semver, would mean we'd need to release 2.0.0 for a breaking release.

[2021-07-24 21:28] axic commented on #11691
This isn't really an optimiser feature, but a core feature how storage is laid out. Marking it an optimiser feature would mean storage layout changes whether the optimiser is turned on or not.

[2021-07-24 21:37] axic commented on #11690
To give two concrete reasons:
1) the IR,
2) standard library.

**The IR**
The IR (aka new codegen via Yul) is something we started to work on around 2017. The work is progressing much better this year and hopefully it can be released before 2022. We have already found a number of issues how the old codegen worked, and the IR works in these cases differently. This is basically a breaking change.

I

[2021-07-24 21:51] fulldecent commented on #11690
There is no shame in "not getting everything done for 1.0". There is already a significant amount of value. Solidity is deployed and protecting contracts with more value than 100 country's GDP.

And also there's no shame in "we are bumping the major version because of Yul, or StdLib, or even some very minor incompatible change".

And no shame in bumping major versions, even if 20 or more major ver

[2021-07-24 21:54] axic commented on #11690
I do not think that is correct. The rules for semver at major=0 are different than major!=0:
- a bump of minor means breaking release
- a bump of patch means non-breaking release

This means for example all the 0.8.x releases are non-breaking, but 0.8.0 was breaking from the 0.7.x series.

[2021-07-24 22:00] fulldecent commented on #11690
SemVer item number 4:

https://semver.org

[2021-07-24 22:07] axic commented on #11690
It seems it does read like that today.

However I am pretty sure at some point it read as I explained, as that is the rule we have been following since we adopted semver.  And if you look at the Solidity changelog, it reassures that we have been following what I explained strictly. I thought this has been common knowledge by the users of Solidity?

It is really late here (and is a weekend), so I w

[2021-07-24 22:40] fulldecent commented on #11690
Benefits for current strategy:

- Some people may think 1.0.0 includes some quality or completeness representation and we wish to make neither of these.
- Users implicitly expect that old version have zero support. (Even though we explicitly tell them this too.)

Benefits for 1.0.0 today:

- Downstream projects like Hardhat may support the latest version of Solidity every time right away (unless i

[2021-07-24 23:41] cameel commented on #11690
Does Hardhat really only support 0.8.4 and not 0.8.6 because of the number? 0.8.6 is still backwards-compatible down to 0.8.0. Just like all the 0.7.x releases are backwards compatible with 0.7.0 and so on. Would they support that version if it was called 1.6.0 instad of 0.8.6? I thought it had more to do with them being cautious and wanting a new version to be thoroughly tested before they offici

[2021-07-24 23:54] cameel commented on #11691
The fact that the contract still compiles does not make the change backwards-compatible if the behavior of the compiler changes. It's a backwards-incompatible change to the storage layout. Consider for example the case of someone using a proxy to make his contract upgradable. In the case you're presenting the location of `slot1` would shift and even the same exact source code compiled with a newer

[2021-07-25 05:33] dzimbeck commented on #683
Using tx.origin == msg.sender is extremely useful. For example lets say I want a function that can only be called by a private key and not a contract. For example, I'm writing a BitBay bridge for my coin with a dynamic matrix-like supply and want to list on Uniswap so I have a whitelist system for typical erc20 calls like transferfrom and want to detect deposits to the AMM. Thus I register it in m

[2021-07-25 06:12] fulldecent commented on #11690
I do not speak for the Hardhat project. But according to their error/warning messages, they only support specific (old) versions of Solidity rather than blocklisting known-bad versions.

Allowing a package to distinguish backwards-incompatible, feature and fix releases is exactly the problem SemVer is designed to solve.

Any project that expects Solidity to follow SerVer today is wise to NOT suppo

[2021-07-25 14:18] MartinSchere opened #11692 "Balance of ERC20 token setting to 0 after try/catch"
## Description

I'm working on a payment splitter contract that receives LP tokens as well as normal tokens:
- If the token is LP, redeem them using `removeLiquidityETH` and then convert to ETH
- Otherwise, just convert them to ETH

However, I found a very weird bug with the try/catch statement: It's setting the token balance to 0 somehow:

[code]

Even if I implement the most simple function:

[c

[2021-07-25 16:33] cameel commented on #11690
You have a point here. If we're not following SemVer then I think we should clearly document what our backwards-compatibility guarantees are (regardless of whether SemVer convention changed or it was just misinterpretation on our part). The various places where it's described ([Intro](https://docs.soliditylang.org/en/v0.8.6/index.html#solidity), [Version Pragma](https://docs.soliditylang.org/en/v0

[2021-07-25 19:21] grepfruit19 commented on #11690
The bump from 0.x to 1.0 would suggest to me, and I'd imagine many other developers, that something significant has changed. I think breaking from the schema that's being used currently, even if it's perhaps "incorrect" right now, would introduce more confusion than clearing anything up.

[2021-07-25 21:22] fulldecent commented on #11690
This issue, the proposal, and the pro-cons above are considering only the difference between:

1. Continue doing exactly what we're doing now, and document/caveat that we are NOT following SerVer.
2. Continue doing exactly what we're doing now, and release version 1.0.0 today.

Changing our policy on supporting old versions (currently we don't) is not proposed here.

I recommend that we consider a

[2021-07-25 21:37] axic commented on #11690
A 1.0.0 release implicitly provides the assumption of long term support. Especially when moving on from <1.0.0.

To be honest, to me it seems you think it is special, hence proposing it? 😉

Which one is the public API? The language syntax? The various compiler interfaces? These are questions we need to answer at every single change we make.

I really think what we need to do is improve the documen

[2021-07-26 00:04] fulldecent commented on #11690
The language syntax AND the CLI syntax are the public API.

SemVer gives us this advice:

**How do I know when to release 1.0.0?**

If your software is being used in production, it should probably already be 1.0.0. If you have a stable API on which users have come to depend, you should be 1.0.0. If you’re worrying a lot about backwards compatibility, you should probably already be 1.0.0.

[2021-07-26 09:33] axic commented on #11690
Only reflecting to this:

There are many more interfaces of the compiler outside of the CLI, and the CLI is not even the preferred interface to the compiler.  To name a few:
- Standard JSON I/O (the preferred interface)
- ABI JSON
- AST JSON
- Metadata JSON
- Metadata CBOR
- Source mapping table
- Linking table
- the various other debugging outputs

[2021-07-26 09:58] hrkrshnn commented on #11692
[code]

Are you saying that `balanceBefore` and `balanceAfter` is different in this case?

It might be easier to discuss this on solidity gitter / matrix: https://gitter.im/ethereum/solidity or https://matrix.to/#/#ethereum_solidity:gitter.im.

[2021-07-26 12:42] hrkrshnn commented on #11642
But how would that be enforced? One can always have a `setimmutable` inside a conditional branch that will never be reached.

The default value of zero for uninitialized immutable does seem consistent.

[2021-07-26 12:44] chriseth opened #11695 "immutable for libraries / dynamic libraries / high-level delegatecall"
I'm pretty sure there are issues about this scattered across the project, but this has come up recently, so I'll create a new one.

Since linking is a bit cumbersome, it has been brought up that libraries should be explicit immutable state variables, so that linking happens at construction time instead of before deployment. If we also open this up to non-immutable state variables for libraries, it

[2021-07-26 12:46] #11674 closed, assigned to nobody

[2021-07-26 12:56] chriseth commented on #11624
@fluidsonic do you have a link to a full code example?

[2021-07-26 13:14] axic commented on #11642
Then why this error? If zero-by-default is allowed, then we do not need this special error.

[2021-07-26 13:45] chamitro opened #11696 "DocStringParsingError in solc version 0.8.6"
## Description

In the contract below there seems to be an DocStringParsing Error : "Documentation tag @author not valid for functions". Should this contract be compiled without any errors?

[code]

## Environment

- Compiler version: 0.8.6
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execution environment / backend / blockchain client:
- Op

[2021-07-26 13:47] chriseth commented on #11642
You cannot assign an immutable in a conditional branch. We do not rely on the default value.

This error is about the optimizer removing the `setimmutable` and it is an additional low-level check because the high-level check does not catch all situations.

We can improve the error message.

It happens if you have an infinite loop or a require that always fails before you assign the immutable.

[2021-07-26 14:25] hrkrshnn commented on #11638
@cliffhall The ABI encoder v2 code for your contract would not be optimized.

[2021-07-26 14:34] chriseth commented on #11680
Is this because you should use `s.offset := r`?

[2021-07-26 14:41] #11583 closed, assigned to nobody

[2021-07-26 14:43] hrkrshnn commented on #11696
This is the documented behaviour: https://docs.soliditylang.org/en/v0.8.6/natspec-format.html?highlight=natspec#tags

Closing for now. Feel free to reply.

[2021-07-26 14:43] #11696 closed, assigned to nobody

[2021-07-26 14:44] axic commented on #11695
Because of this property, I think this feature is rather about having "dynamically linked" (=deploy time) libraries, as opposed to "statically linked" (= compile time).

[2021-07-26 14:53] mudgen commented on #10930
@cameel This is great. Thank you!

[2021-07-26 15:07] cameel commented on #11681
32-bit Windows is all but irrelevant by now. Even Microsoft is soon going to [stop offering it on new PCs](https://www.zdnet.com/article/microsoft-takes-a-step-toward-phasing-out-32-bit-pc-support-for-windows-10/). Most hardware it currently runs on is actually 64-bit anyway and fully capable of running a 64-bit OS.

We do not think this is worth the extra maintenance burden. We provide native bui

[2021-07-26 15:07] #11681 closed, assigned to nobody

[2021-07-26 15:30] MartinSchere commented on #11692
Yes, exactly. `balanceBefore` and `balanceAfter` are different, which is why I get a revert when trying to call `transferFrom` after the last line of the function.

I found a workaround by moving the first `transferFrom` below the `checkLP` function described in the example. Now the balance is correct. I would still consider this a potentially dangerous bug.

I asked for help in gitter, but I got

[2021-07-26 15:40] hrkrshnn commented on #11692
@MartinSchere I don't really follow the problem. Could you please contact me on `hrkrshnn:matrix.org` on gitter / matrix? Or just ping me on solidity gitter?

[2021-07-26 16:01] chriseth commented on #11664
Even if you plan to change this in the future, I would ask you not to use `Panic(uint256)` for input validation. In Solidity, `Panic(uint256)` is exclusively used for internal errors with the idea in mind that bytecode-based dynamic analysis tools (formal verification, symbolic execution, fuzzing, ...) can check if such errors can be created at all by the code and flag an error if this is the case

[2021-07-26 16:03] chriseth commented on #11670
If we switch from medium to large, we get double the amount of cores and double the RAM for triple the price. Not sure if that is worth it.

[2021-07-26 16:05] chriseth commented on #11687
The code formatting in the second example of `https://docs.soliditylang.org/en/v0.8.6/contracts.html#libraries` is weird. My guess is that `type` is considered a keyword and thus `type(uint)` does not parse properly. This could also be the reason for the crash in remix. Would be happy for someone to investigate further.

[2021-07-26 16:16] chriseth commented on #11691
The problem is not only with the layout, it is also with how storage items are referenced. If you use `slot0.val2` in the original example, then that expression needs two stack slots to be represented: The slot number and the offset inside the slot. Structs only use a single stack slot, so this would have to be changed. So using `slot packed` on Slot0 as @cameel suggested is not enough, you also n

[2021-07-26 16:17] chriseth commented on #11531
Yep, I agree, let's do it without operators for now and check for feedback.

[2021-07-26 16:28] MartinSchere commented on #11692
Sure

[2021-07-26 16:44] MyTDT-Mysoft commented on #11681
thats a sad reason to not do 64bit... when they only do that because ignorant people allow by not using 32bit software that is superior to all that 64bit crap... either way it will just not provide it as OEM, you can still install... it... and no matter what i wouldnt degrade my i5 using a 64bit OS... but even for a 64bit OS, theres still more benefits to have apps as 32bit... but yes you all use

[2021-07-26 19:37] chriseth commented on #11681
Feel free to compile the binaries yourself. If anything goes wrong, we welcome pull requests.

[2021-07-26 21:24] cameel commented on #11687
No, it's actually the `||` operator. Lexer used for highlighting in docs appears to be buggy and has trouble parsing things like  `&&`, `||`, `? :`, `1e18` or even `pragma solidity >x.y.z;` (`>=` is fine). And it's not just this single example. There are actually tons of warnings about code snippets when I build the docs locally but these warnings do not show up in CI because we're using very old

[2021-07-27 00:45] lie16 commented on #11687
This is what happen when I post this problem:
1. When I try it remix become unresponsive and I had to reopen new remix tab.
2. When I reopen the file in the new tab, the source code just gone.

Today I try it again it work fine, maybe the crash was related to the solidity file(unfinished code & not compilable) that I already delete yesterday.
Sorry for the trouble.

[2021-07-27 00:45] #11687 closed, assigned to nobody

[2021-07-27 07:53] bshastry opened #11699 "[Codegen] ICE because dynamically sized calldata array's base type is dynamically encoded"
[code]

throws

https://github.com/ethereum/solidity/blob/f97fe813ec14edb8580061f0082f30b73affc04d/libsolidity/codegen/CompilerUtils.cpp#L1117-L1122

[2021-07-27 08:29] hrkrshnn opened #11700 "Reconsider operators on ContractType"
[code]
Currently, the above code compiles. I think the comparison operators does not belong with the ContractType. Even the equality operator is questionable. Disallowing all these operators is especially important to be consistent with how operators are disallowed by default in user defined types: https://github.com/ethereum/solidity/issues/11531.

[2021-07-27 08:31] hrkrshnn commented on #11531
To be clear, this would mean no operators, in particular no `==`, right?

[2021-07-27 08:37] chriseth commented on #11700
Oh wow! I think this is a remnant of contracts being treated as addresses. If you want to compare contracts like that, I think it would be better to require conversion to address first, which then also makes it much clearer how they are compared.

[2021-07-27 09:09] chriseth commented on #11531
Yes, nothing at all.

[2021-07-27 09:17] leonardoalt commented on #11676
Hi @benbaley , thanks for reporting!
Unfortunately this crash comes from z3 and there's not much we can do about it, other than reporting the issue (which we already did). What's your z3 version? Our tests require the latest z3 release (4.8.12 right now) to pass, and they don't crash on Ubuntu/Arch Linux/OSX currently. Maybe updating z3 would help if it's possible?

[2021-07-27 09:21] bshastry commented on #11700
I was of the impression that this is permitted due to an implicit cast to addresses. The fuzzer is currently churning these out happily :-)

[2021-07-27 09:47] leonardoalt opened #11703 "[SMTChecker] Filter `unsupported` messages"
Currently the SMTChecker always reports when a certain Solidity feature is unsupported. This is annoying and might clutter the output with irrelevant information if the user has set the `contracts` option, and the unsupported feature is not reachable (not imported for example) from the target contract.
We should automatically only report those for code that is reachable from the target contracts.

[2021-07-27 11:57] chriseth commented on #10463
Since the assignment has to happen at the top level inside the constructor, I think it is not too difficult to do a reachability analysis for all code that is called in the constructor until the assignment of the immutable (do not forget the right-hand-side of that assignment itself). Any read access to the immutable inside there is an error. We also have to check state variable initialization and

[2021-07-27 12:01] chriseth commented on #11564
Implemented in https://github.com/ethereum/solidity/pull/11596

[2021-07-27 12:01] #11564 closed, assigned to nobody

[2021-07-27 12:19] axic commented on #10463
I think this would be a useful feature.  Currently many projects need to create local variables even if it is reused within the constructor (not talking about helper functions).  Solving it for helper functions would be an additional improvement.

[2021-07-27 14:34] #11552 closed, assigned to cameel

[2021-07-27 14:57] cameel commented on #11670
OK. If that's the pricing then it's probably not worth it. I assumed their pricing would be more linear :)

[2021-07-27 15:47] cameel commented on #11700
I think that disallowing `<`, `<=`, `>` and `>=` is a good thing.

With  `!=` and `==` it's not so clear but I would also be in favor of disallowing it.

While version without the cast looks cleaner and it's not hard to realize that it's a comparison of addresses (not state variables):
[code]
the one with casts reads much better as a condition even despite being longer and makes the meaning very c

[2021-07-27 16:22] axic commented on #11700
Do we have comparison operators on the contract type (i.e. `Test == Derived` or `type(a) != type(b)`)? There I think `!=` and `==` can make sense, but I agree that these operators should not exist on the contract instances.

[2021-07-27 16:24] cameel commented on #11700
Looks like we don't:
[code]

[2021-07-27 16:48] axic commented on #11700
The following may be a reason to disallow it: does it mean comparison between the type or the instance? The type may be equal in the case the child contract has no changes (`contract B is A {}`), but what should it return in case the underlying address is different?  Because of this confusing aspect, it is better not to allow comparison of instances, but potentially allow comparison of the type, a

[2021-07-27 18:52] Randall4 opened #11708 "`--optimize-runs` for Yul mode"
## Abstract

The Solidity compiler (solc) ignores the `--optimize-runs` parameter in Yul mode in favor of a list of Yul-specific optimizations. However, the default Yul optimizer list does not include runs-based optimizations that can improve gas efficiency, most notably for high numbers of expected runs.

## Motivation

It seems that some, if not all, of the optimizations done on Solidity contrac

[2021-07-27 19:20] axic commented on #11060
This was implemented by #11244.

[2021-07-27 19:20] #11060 closed, assigned to nobody

[2021-07-27 19:43] bshastry opened #11709 "[Codegen] Legacy codegen does not check for freememptr overflow (beyond UINT64_MAX), Sol->Yul does"
[code]

Legacy failure is due to out-of-gas, Sol->Yul is a revert with a modest amount of gas consumed ~21k.

[2021-07-27 20:00] bshastry commented on #11709
Clubbing a somewhat similar report

[code]

passes but with different EVMC status codes

Legacy: Stack underflow
Sol->Yul: Revert

[2021-07-27 20:23] bshastry opened #11710 "[SMTChecker] ICE in SMTEncoder::identifierToVariable"
[code]

throws

https://github.com/ethereum/solidity/blob/c018cdf419e55056e72208b7f76442d1b16b38d6/libsolidity/formal/SMTEncoder.cpp#L2631

[2021-07-27 20:37] axic commented on #11709
Hm perhaps it would be a good reason for us to extend isoltest to output `FAILURE (<evmc code>)`.  While the "evmc code" does not matter for mainnet, it is a useful tool to show if the two codegen implementations differ. In some cases we want them to differ, but in others we may not anticipate it.

In this particular case, the "stack underflow" error in the legacy is a bit worrying.

[2021-07-28 08:11] chriseth commented on #409
Test ideas: check that e.g `(1/3) == (1/3 + 1/3000000000000000)` does not evaluate to true.

[2021-07-28 08:24] bshastry commented on #11709
I think the first test case in this thread (out-of-gas vs revert) is due to Sol->Yul inserting a `panic(0x41)` for freememptr overflow that happens due to a very large memory allocation. This panic is part of `finalize_allocation` Yul function. I assume that the legacy code gen does not factor freememptr overflow into account in this scenario.

[2021-07-28 10:56] bshastry opened #11715 "[Legacy/Sol->Yul] No compilation mode except optimized Sol->Yul issues a revert due to arithmetic overflow for exponentiation of very large numbers via a simple recursive algorithm"
[code]

passes but with different EVMC status codes

Legacy: Stack underflow
Sol->Yul: Revert

Edit:

Reproduction

[code]

Ideally, legacy optimizer should also revert for this large exponentiation operation but it does not. Also note that the gas consumption in the legacy optimized call is unusually large (ideally, revert due to arithmetic overflow should occur in an earlier recursion call frame

[2021-07-28 10:57] cburgdorf commented on #11664
@chriseth Thank you for your input, that makes sense. I filed an issue to change that: https://github.com/ethereum/fe/issues/492

[2021-07-28 12:03] bshastry commented on #11709
Created a new issue for this (see https://github.com/ethereum/solidity/issues/11715) since it is most likely unrelated to free memory pointer overflow that this issue tracks (to be fixed by the linked PR).

[2021-07-28 13:06] cameel commented on #11708
I took a quick look at the CLI code and it's just that the `--optimize-runs` option is ignored in assembly mode (but the compiler does not report it as an invalid argument - we should really fix #11629).

So this should be very simple to fix - just pass the option down to `assemble()` in `CommandLineInterface.cpp`.

Fortunately this does not happen in Standard JSON mode and also this is the only o

[2021-07-28 13:42] chriseth commented on #11708
Cool, thanks! Until recently, it would not have an effect anyway since it is mainly used by the opcode-based optimizer

[2021-07-28 13:49] bshastry commented on #11715
I'm not able to reproduce this issue independently of the fuzzer. Will reopen if I find a way to. Until then, treating this as a false positive.

[2021-07-28 13:53] cameel commented on #11708
I'd think so too but I was curious myself how far back it goes and checked that via Standard JSON - I can reproduce this difference as far back as 0.6.0. 0.5.17 is the last version that does not have it

[2021-07-28 15:00] d-xo opened #11716 "Expose import graph in output json"
## Abstract

Exposing the import graph as part of the compiler output would make implementing incremental compilation workflows in frameworks a lot easier.

## Motivation

One very common feature request for dapptools is support for incremental compilation, especially for larger projects or monorepos. In order to do this we would need to parse the solidity files in the project, and build some tree

[2021-07-28 15:10] chriseth commented on #11716
You can construct an import graph from the AST. For features like incremental compilation, we also recently implemented the `--stop-after parsing` feature, which essentially only parses the input files and does not auto-load imported dependencies that were not given as input, but can still export an AST.

The `ImportDirective` has the following attributes:
 - `file` (just the string in the source

[2021-07-28 15:56] d-xo commented on #11716
Ah interesting. Yes I think we can work with this. Thanks!

[2021-07-28 18:47] fulldecent opened #11718 "Allow functions inside structs"
## Abstract

Putting functions and private members inside a struct creates first-class data structures.

## Motivation

People want data structures. There are many inconsistent ways to do this. And they are not semantic. A struct with functions is semantic, everybody understands what it is, and clearly articulates what you are doing.

Currently people use [something like](https://github.com/OpenZe

[2021-07-28 21:24] cameel commented on #11699
The same bug has already been reported in #11677.

[2021-07-28 21:24] #11699 closed, assigned to nobody

[2021-07-28 21:42] #11716 closed, assigned to nobody

[2021-07-29 08:07] #11709 closed, assigned to nobody

[2021-07-29 13:25] hrkrshnn opened #11719 "Tracking unimplemented fixed point features"
- [ ] `type(ufixedMxN).min` and `.max`
- [ ] Error when `ufixedMxN` where `N` is too large to fit into `M` (e.g., `ufixed8x80` is currently allowed.) Controversial: don't implement.
- [x] Check that comparing two rational numbers for equality does not apply rounding before comparison.
- [x] Check that the abi decoder reverts if the input value is out of range for the type (part of https://github.c

[2021-07-29 16:56] #11708 closed, assigned to cameel

[2021-07-29 22:43] tied2token commented on #11718
I can't do much I can't log in or out of WIndows for over a week.

[2021-07-30 00:51] PatrickAlphaC commented on #11643
Wait, so this isn't a bug? It seems it was functionality removed from previous versions.

Or are you saying that this feature should never have been in past versions in the first place?

[2021-07-30 09:09] The-3D opened #11721 "Allow unchecked increments of for loops indexes"
## Abstract

After the (welcomed) introduction of the checked math operators in solidity 0.8.x, developers can allow safe unchecked operations by wrapping them in a `unchecked {}` block. Safety checks of course apply to pre and post increment/decrement operators (++/--) which are commonly used to increase indexes in for loops; unfortunately the safety checks in this case are enabled by default, an

[2021-07-31 02:05] antara-gandhi commented on #7578
Hello! I'm new to contributing to open-source, and I saw this issue was still open. It looks like it should be resolved to me - is there still something that needs to be done that I could help out with?

[2021-07-31 03:34] shawnwbts opened #11722 "solc dosent have use command"
Use the following installation command to install solc on Linux server:
**sudo add-apt-repository ppa:ethereum/ethereum
sudo apt-get update
sudo apt-get install solc**

and I installed solc-select
Why is there no  **solc use** command to convert the version of solc now?

[2021-08-01 11:11] ItsShadowl opened #11723 "InternalCompilerError: Internal compiler error (/solidity/libsolidity/codegen/ContractCompiler.cpp:1398)"
## Description

While compiling some multiple files, with hardhat, this error popped up failing to compile the smart contracts

https://github.com/ethereum/solidity/blob/3c350a63f1190e27a2f5916bcaec7396c0c176f1/libsolidity/codegen/ContractCompiler.cpp#L1398

## Environment
- 0.8.4
- Target EVM version (as per compiler settings): instanbul
- Framework/IDE (e.g. Truffle or Remix): hardhat
- EVM exec

[2021-08-01 11:39] bshastry opened #11724 "[Gas usage] Legacy try-catch recursive call with limited gas succeeds while Sol->Yul does not"
[code]

This may be a false positive because of gas requirement for the recursive function changing across legacy/Sol->Yul but filing it since I'm not sure of this hypothesis.

[2021-08-01 11:48] bshastry commented on #11724
| Gas consumption | Legacy call | Sol->Yul call |
| --- | --- | --- |
|  | 41994 | 42278 |

[2021-08-01 13:40] cameel commented on #11723
Since it happens on 0.8.4 it's actually this line: https://github.com/ethereum/solidity/blob/c7e474f243fa6bd6d6c172118b95d52113b5fbad/libsolidity/codegen/ContractCompiler.cpp#L1398

Looks like it's caused by applying a modifier to a function that has no body.

The bug might actually be already fixed. In 0.8.5 we fixed a bunch of bugs related to unimplemented modifiers and functions (#11468, #11445

[2021-08-01 15:39] charles-cooper commented on #11593
Arrays. https://docs.soliditylang.org/en/v0.8.6/abi-spec.html.

What is the effect of this proposal on event index encoding?

[2021-08-01 21:33] ItsShadowl commented on #11723
Thanks for the quick reply...

Actually, i have modifiers in so many functions without body and after placing the variables in the empty body, i'm still facing the error...

I tried compiling with 0.8.5 or 0.8.6, but hardhat and Openzeppelin are giving me issues too, so i'm stuck with splitting the projects to different parts so i can figure out the exact code throwing the exception and using 0.8.

[2021-08-02 08:39] chriseth commented on #11593
Event index encoding will not change, since we only plan to remove `abi.encodePacked` from the language.

Is packed encoding of arrays used in the real world?

[2021-08-02 08:58] chriseth commented on #9211
Especially with #11531 I think it would be useful to map operators to user-defined functions. This could be especially useful to define fixed point (or even floating point) types and make computations with them readable. It also removes the problem of how to apply compiler-supplied operators to user-defined value types (because the compiler-supplied operator is actually on a different type).

Prop

[2021-08-02 09:26] chriseth commented on #9211
Question brought up by @hrkrshnn : How to handle mixed-type operators for user-defined operators:

Apart from exceptions like `<<` and `**`, the compiler-supplied operators always only handle a single type. I think to prevent complications, we should do the following for user-defined operators:

- each operator can only be named once for a type in a using statement (or all using statements combine

[2021-08-02 09:27] chriseth commented on #9211
As an alternative: Lookup fails if both `x` can be converted to `y` and vice-versa and an operator / function can be found in both cases.

[2021-08-02 09:44] hrkrshnn commented on #11724
I think it's simply that non-optimized Yul code takes more than 20000 gas. So the first `this.g{gas: ...}()` call fails in the non-optimized Yul case.

[2021-08-02 09:46] hrkrshnn commented on #11722
Maybe this question is more appropriate at https://github.com/crytic/solc-select?

[2021-08-02 09:47] hrkrshnn commented on #11722
I'm closing this for now. Feel free to ask in https://app.element.io/#/room/#ethereum_solidity:gitter.im or  https://gitter.im/ethereum/solidity if you need more help.

[2021-08-02 09:47] #11722 closed, assigned to nobody

[2021-08-02 09:49] hrkrshnn commented on #11721
This has been proposed and discussed in https://github.com/ethereum/solidity/issues/10698 and https://github.com/ethereum/solidity/issues/10695

[2021-08-02 10:33] chriseth commented on #11721
The solution for now is to define a function `function uncheckedInc(uint x) pure returns (uint) { unchecked { return x + 1; } }` and use it as
[code]

[2021-08-02 10:33] #11721 closed, assigned to nobody

[2021-08-02 10:34] chriseth commented on #11722
We do not support mulitple versions on ubuntu, since the ppa system is not designed to support multiple versions of the same software.

[2021-08-02 10:35] bshastry commented on #11724
Oh, I thought isoltest runs optimized Yul mode if `compileViaYul` is true. Hmm... I could reproduce this even on optimized Sol->Yul code on the fuzzer harness though.

[2021-08-02 10:39] hrkrshnn commented on #11718
For functions inside structs, it's not clear what would be the storage location of the struct. Not sure if that's a good idea.

For example:

[code]

The above function on the struct is only valid for `memory` and `storage` and not `calldata`.

[2021-08-02 10:43] hrkrshnn commented on #11724
For isoltest run with `--optimize`, I'm not able to reproduce this.

[2021-08-02 10:52] bshastry commented on #11724
You are right, I was not aware of the `--optimize` option. With `--optimize`, it's actually flipped (legacy optimized -> false, Sol->Yul optimized true) which is a good thing I suppose (i.e., Sol->Yul optimization requires lesser gas to complete the call).

[code]

Edit:

Gas table

| Gas consumption | Legacy call | Sol->Yul call |
| --- | --- | --- |
|  | 28609 | 28758 |

[2021-08-02 10:54] chriseth commented on #11718
We are currently going the route of declaring functions at file level and then attaching them to structs. The encapsulation aspect, though, could still be considered.

[2021-08-02 10:57] chriseth commented on #11643
Yes, the meaning of the field was always intended to be "These contracts need to be compiled first in order to compile the current contract". You can follow the inheritance pointer if you want to get a list of contracts that includes base contracts in addition to that.

[2021-08-02 11:13] bshastry commented on #11724
Closing since this is a gas throttling issue.

[2021-08-02 11:13] #11724 closed, assigned to nobody

[2021-08-02 12:52] bshastry commented on #11715
Reopening this since it is reproducible via isoltest's `--optimize` flag. See edited OP.

[2021-08-02 13:23] bshastry commented on #11715
Here's a summary of outcomes for legacy/Sol->Yul with/without opt

| Configuration | Gas cost | EVMC status code (Description) |
| --- | --- | --- |
| Legacy without optimizer | 9223372036854775807  | 6 (Stack underflow) |
| Sol->Yul without optimizer | 9223372036854775807  | 6 (Stack underflow) |
| Legacy with optimizer | 9223372036854775807  | 6 (Stack underflow) |
| Sol->Yul with optimizer | 34

[2021-08-02 13:31] PatrickAlphaC commented on #11643
Ah. So where can we see contract dependencies that are inherited? Is this "inheritance pointer" in the output of the `solc --standard-json`?

I'm asking because as part of a verification script, we were using the `contractdependencies` to make sure we flattened the code correctly, now we are trying to automate this again.

[2021-08-02 13:49] chriseth commented on #11643
The type of code that still works with flattened source gets less and less. We are almost at a point where I would say that flattening is a security risk. If you want to extract all source code that is needed to compile a contract, you also have to include structs, libraries, file-level functions and so on.

For completeness: The base contracts of a contract can be found in the AST under the key "

[2021-08-02 14:33] cameel opened #11727 "[CLI] Make more settings optional in `CommandLineOptions`"
Continuation of the refactor from #11518.

## Abstract
Many options in `CommandLineOptions` have a value even if they are not specified on the command line. In some cases the default value is intentional, in others it's simply left at that because the value is irrelevant. Sometimes there's a special value use to indicate that the setting is not initialized.

1) The main task here is to use `option

[2021-08-02 14:47] PatrickAlphaC commented on #11643
Thanks for the tips. We don't deploy flattened code, but use it for verification. I found the keys you're referring to.

So ideally the way to "flatten" the code would be to iterate through the baseContracts and linearizedBaseContracts and import the code accordingly? Or are you saying to not flatten at all, or there might be a better verification method?

[2021-08-02 15:10] cameel commented on #11415
@franzihei

Do you know if there's a way to do that for Yul snippets? I see in the URLs that there are parameters for optimizer settings, version, evm, etc. but I don't see one for language (even though you can set it to Yul in the compiler sidebar). I tried `lang=yul` and `language=yul` but no luck. Adding links for Yul snippets in #11697 would be very easy so if Remix supports that, it would be

[2021-08-02 15:23] hrkrshnn commented on #11715
It's probably worth checking how the stack size grows in legacy and ir-optimized. Could you perhaps try to run a debugger and check why the growth is different?

[2021-08-02 17:33] bshastry commented on #11715
Remix seems to be a bad idea (browser tab crashes). IR optimized via Remix not possible it seems. I took a shot at reading assembly but the problem is that via IR assembly loses source location to original Solidity code as far as I understood, so it becomes hard to compare.

Optimized legacy asm: https://gist.github.com/bshastry/88fb411affe10ae8b922dab0f67e8e5e

Optimized IR asm: https://gist.gith

[2021-08-02 18:55] chriseth commented on #11643
I'm saying not flatten at all. Don't throw away the metadata file and you have every single bit you need for verification. Do you know https://sourcify.dev/ ?

[2021-08-02 21:03] cameel commented on #9211
Would it be allowed to modify storage? I hope not. Side-effects in operators do not sound like a good idea. I'd require the user to have a function rather than an operator if he really wants that.

Even letting them be `view` seems a bit questionable but I guess that's only meant to allow operators to take `storage` parameters? If that's the only way for them to access storage (other than inline a

[2021-08-02 22:27] chriseth commented on #11643
Where you do you verify? Etherscan? They support standard-json - if you don't use any framework that verifies for you on etherscan then please take a look at that.

[2021-08-02 22:29] chriseth commented on #11643
Where you do you verify? Etherscan? They support standard-json - if you don't use any framework that verifies for you on etherscan then please take a look at that.

[2021-08-03 09:11] chriseth commented on #9211
I'm not sure there is a good way to restrict access for functions implementing operators. Operators on storage structs sound useful, so if we want to restrict something else, we would have to look at the body of a function which I think is not a good idea.

On the other hand this raises another question: If you want to implement an operator for reference types, you need several different functions

[2021-08-03 09:19] chriseth commented on #1256
I think this could be done in a non-breaking way (because after this change, I think more code compiles than before) - can someone please check?

[2021-08-03 09:42] bshastry commented on #11715
Minor update:

Optimized legacy debugging shows that:
  - each level of recursion consumes 4 stack slots on average, 9 slots per frame is the maximum
  - stack frame values follow the following pattern for exp(2, 256)
    - 0x100, 0x02, <callsite_return>, 0x00
    - the last `0x00` is presumably an empty stack slot reserved for return value
  - if `exponent > exp(2, 253)`, worst case stack consump

[2021-08-03 10:05] chriseth commented on #1256
My proposal for a simple implementation is: If there is a unique function where the argument types are equal (including storage location), use this one. Otherwise do overload resolution as we currently do it.

[2021-08-03 10:22] bshastry commented on #11715
| Configuration | Reverts upto (base = 2, exp = 2^p) where 0 <= p <= 255 |
| --- | --- |
| Legacy without optimizer | 251 |
| Sol->Yul without optimizer | 250 |
| Legacy with optimizer | 251 |
| Sol->Yul with optimizer | 253 |

So, it looks like maximum recursion depth before out-of-stack is only marginally different across configurations. One hypothesis is that average stack allocation per recurs

[2021-08-03 10:31] bshastry commented on #11715
Here's the most recursive test case currently only passed (returns successfully) by optimized IR.

[code]

[2021-08-03 10:37] bshastry commented on #11715
Summary before closing because this issue turned out to be a minor difference in stack allocation that affects different configurations slightly differently.

- Different configurations run out of stack at different levels of recursion
- Best case (most number of recursive calls) is optimized IR (solves `1 ** (2 ** 253)` i.e., 1 to the power of 2 to the power 253)
- Second best are optimized and u

[2021-08-03 10:37] #11715 closed, assigned to nobody

[2021-08-03 10:44] hrkrshnn commented on #11715
@bshastry Do you know how the stack grows in legacy v/s ir? I'm interested in knowing by how many elements the stack grows on each recursive call.

[2021-08-03 11:43] bshastry commented on #11715
Legacy grows by 4 slots per recursive call. I don't know about IR though. But my guess is that it grows about the same (see table above: https://github.com/ethereum/solidity/issues/11715#issuecomment-891727099). If optimized IR were to take one slot fewer per recursive call, it would easily return the output of `1 ** (2 ** 255)` but the fact that it doesn't makes me believe that it is actually a m

[2021-08-03 14:20] PatrickAlphaC commented on #11643
Yeah I'm using [brownie](https://github.com/eth-brownie/brownie), and recently their verifier relied on the `contractDependencies` being correct.... So I'm trying to figure out how to update it.

Sounds like `linearizedBaseContracts` is the solution... or something with using the standardjson

[2021-08-03 16:01] cameel commented on #11643
AFAIK Brownie itself uses `--standard-json` option when compiling contracts. I think it would make much more sense to use that for verification since that's actually the original input that the bytecode was compiled from. Flattened source is a different input that just happens to match if the code is normal enough that the flattening process does not break it. But even that only works because ethe

[2021-08-03 16:39] PatrickAlphaC commented on #11643
Hmm... Last I checked it looked like it was flattening source code instead of using standardjson. It looks like it would be pretty easy to refactor for this though. Thanks for the tips!

But yes, would love to see some more docs on this.

[2021-08-03 21:09] cameel opened #11731 "[CLI] Separate control flow from error reporting in `CommandLineParser`"
This is a continuation of the CLI refactor from #11518. Getting rid of `exit()` was suggested in the review.

Currently [`CommandLineParser`](https://github.com/ethereum/solidity/blob/develop/solc/CommandLineParser.h) uses the mechanism inherited from `CommandLineInterface` to report errors - it prints a message to the error stream and returns `false`.

- This is too inflexible in some situations

[2021-08-03 21:31] cameel opened #11732 "[CLI] Consolidate exception handlers in `CommandLineInterface`"
Related to #10295 and #11731.

Currently there are lots of independent `try`/`catch` statements inside various functions of `CommandLineInterface`. In most (if not all) cases they just print the error message and exit. In some cases this results in exceptions being silenced too eagerly, in others exceptions are not caught at all and can terminate the application without a sensible error message.

[2021-08-03 21:42] cameel commented on #7665
This should be very easy to do without extra dependencies now that #11583 is implemented. Just add the `--pretty-print` flag in `cmdlineTests.sh`, run it with `--update` and commit the result. I'm marking it as `good first issue`.

[2021-08-03 22:01] cameel commented on #8218
This PR seems relevant in this context: #11273.

[2021-08-03 22:22] cameel commented on #3877
Somewhat related issue: #11540.

[2021-08-04 04:56] zaryab2000 commented on #11278
I believe Error handling in Solidity, as of now, is quite strict in Nature because of Simply **REVERTing** an entire transaction. While this is an imperative feature in a smart contract, I believe having **TRY CATCH for CUSTOM ERRORS ** is quite significant as well.