[2021-11-30 14:51] chriseth commented on #12350
We should ensure that the same calls are made i libsolc.cpp

[2021-11-30 14:56] chriseth commented on #12349
The compiler has different stages. If there has been an error inside one stage, the subsequent stages are not executed. This mechanism ensures that if a stage completes, the information it generates inside the AST annotations are always complete. For example, after the typechecker has run, you can be sure that every expression has an assigned type.

We can debate if some of the errors should allow

[2021-11-30 15:17] #10745 closed, assigned to axic, cameel

[2021-11-30 15:19] Shungy commented on #12350
I think I figured out the exact reason. Turkish capitalization rules are `i to İ`  and `I to ı`. I have realized that the both the inline assembly code I have tested have function names with letter `i`. So `extcodesize` is changed to `EXTCODESİZE` (notice dotted capital İ). This explains "function not found error".

[2021-11-30 15:29] ShakaibKhan commented on #10243
more so looking for an issue to work on (not necessarily the ewasm target) but asked for this issue as it is labeled g.f.i.

[2021-11-30 16:17] cameel commented on #12350
Wow. I knew about this capitalization weirdness with Turkish "i" but I didn't even realize that it means that plain ASCII characters can be capitalized into ones from the Unicode set :) Maybe we should just randomly set system locale to Turkish in one of our CI runs just to catch problems like this :)

In any case, we do attempt to set the locale to `C` to avoid such problems and this bug means th

[2021-11-30 16:57] chriseth commented on #12350
libsolc has its own main function

[2021-11-30 16:57] chriseth commented on #12350
Or sorry: libsolc does not use the main function of the commandline interface - if you use solidity via js, you have to initialize it in a different way

[2021-11-30 16:59] cameel commented on #12350
Hmm... this is weird then - the problem is actually not reproducible via solc-js :) It only happens via solc. At least in the testing I did yesterday.

[2021-11-30 17:52] cameel opened #12351 "Lifetime tracking for temporary memory objects"
## Abstract
This issue proposes a mechanism for avoiding permanent memory allocation of memory objects that are immediately consumed and not used afterwards. The mechanism works at compilation time by generating code that writes to designated areas in unallocated memory space in a controlled manner, without the need to actually move the free memory pointer at runtime.

## Motivation
There are many

[2021-12-01 00:14] itamarcps commented on #12350
We had a similar issue with our C++ Desktop Wallet for Avalanche (https://github.com/avme/avme-wallet). The locale was causing a lot of trouble when dealing with non-standard file names (Like a file name with "é", or more specific, a file which the path includes "é", e.g. C:\Users\égrilo\AppData\Roaming\AVME\myfile.txt).

Our solution was using boost::nowide to set locale for boost::filesystem to

[2021-12-01 04:43] Shungy commented on #12350
Turns out not just inline assembly is causing this. Running the following code with Turkish locale also fails to compile but with a lot more detailed output (383 lines) showing assembly input and errors.

Command: `export LANG=tr_TR.UTF-8 && ./solc-linux-amd64-v0.8.7+commit.e28d00a7 --bin test.sol 2> error.txt`

`test.sol`:
[code]

`head -5 error.txt`:
[code]

[2021-12-01 11:28] cameel commented on #12292
I'm going to close it since there's no feedback and I think the problem was actually caused by the incorrect use of `abi.encodeWithSignature()` I mentioned above.

If you still think there's a problem in the compiler, feel free to provide more details and reopen.

[2021-12-01 11:28] #12292 closed, assigned to nobody

[2021-12-01 11:36] #12347 closed, assigned to dallonasnes

[2021-12-01 11:39] chriseth commented on #12351
Another maybe simpler way is to do this at the level of functions: If all allocations inside a function turn out to be unused at the end  of the function, we can store the free memory pointer on the stack at the beginning of the function and restore it at the end. This should also be stack-pressure-neutral.

[2021-12-01 12:58] Magicking opened #12356 "Broken link in release post"
## Page

https://github.com/ethereum/solidity/releases/tag/v0.8.1

OK-> [https://blog.soliditylang.org/2021/01/27/solidity-**v**0.8.1-release-announcement/](https://blog.soliditylang.org/2021/01/27/solidity-v0.8.1-release-announcement/) (from above)
KO -> https://blog.soliditylang.org/2021/01/27/solidity-0.8.1-release-announcement/ (from blog)

## Abstract

The link for the blog post announcement

[2021-12-01 13:50] chriseth commented on #12356
Thanks a lot, I just corrected it!

[2021-12-01 13:50] #12356 closed, assigned to franzihei

[2021-12-02 11:16] cameel commented on #12238
I think I figured out what's happening. This thing is a real mess. So apparently the template can be found in four different places:
- [`layout.html`](https://github.com/readthedocs/sphinx_rtd_theme/blob/1.0.0/docs/_templates/layout.html) in Sphinx RTD theme - used only for local rendering.
- [`versions.html`](https://github.com/readthedocs/sphinx_rtd_theme/blob/1.0.0/sphinx_rtd_theme/versions.htm

[2021-12-02 11:30] franzihei commented on #12238
I just checked in the admin settings and couldn't find anything like that. :(

Generally wondering though: We did adjust the footer / navigation bar since we added the dark mode toggle. How is that possible but the other change not?

[2021-12-02 11:47] cameel commented on #12238
Oh, I didn't realize you had access to that too. Great!

Good question. I wanted to answer that they just chose not to overwrite it but I checked the requests and apparently they do! The thing is that the page has two footers :) The one that readthedocs.org overwrites is hidden at the bottom of the version menu:
![rtd-injected-footer](https://user-images.githubusercontent.com/137030/144415827-fc89

[2021-12-02 21:55] cameel commented on #12351
I have updated the description. I thought I'd just update it for the case of allocation with length known only at runtime but then spent most of the day today trying to think my way out of various corner cases. For example turns out that consuming temporaries in anything that short-circuits (ternary op, bool ops, `require()`) is a real pain. I figured out ways around most of it but it complicates

[2021-12-03 02:58] #12112 closed, assigned to nickytonline

[2021-12-03 15:31] nishant-sachdeva commented on #12057
`
contract C {
    function() external [] s0;
    function numbers (uint[] memory s1) public {
        s1 = s0;
    }
}
`

I'm not sure if this correctly tests it or not. But on running the command `solc --ir test.sol 2> test_ir.txt` , I got the error statement as `Error: Type function () external[] storage ref is not implicitly convertible to expected type uint256[] memory.
 --> test2.sol:4:14:`

[2021-12-04 04:17] dinahjohnson opened #12365 "Outdated Link in Introduction to Smart Contracts"
## Page

[Introduction to Smart Contracts](https://docs.soliditylang.org/en/v0.8.10/introduction-to-smart-contracts.html)
Subsection: Blocks -> Note (just before The Ethereum Virtual Machine section)

## Abstract

The [Alarm Clock](https://www.ethereum-alarm-clock.com/) website does not appear to be up-to-date and has a message saying "Ethereum Alarm Clock **was** a service that allowed scheduling

[2021-12-05 10:01] avatar-lavventura opened #12367 "Would it be possible to install solc v0.7.6 using snap?"
In `Ubuntu 20.04` node that uses [amd or arm] architecture, snap is not able to install v0.7.6 as a older version. Would it be possible to add `solc v0.7.6` as older version into snap? Related to this should I contact with snap?

For example for amd instances:

[code]

[2021-12-05 13:40] mona1-jpg commented on #12367
To tell you the truth I have no idea what I'm doing help me and we can
split what ever profit I have

On Sun, Dec 5, 2021, 2:01 AM Alper Alimoglu ***@***.***>
wrote:

[2021-12-05 15:39] mona1-jpg commented on #12367
Honestly I set this account up two years ago I heard of mining I found a
mobile and mining linked it together and every know and then I would get on
and try to figure it out you see I am still trying to figure out how to
verify all my contracts when I first opened the etherscan and the mining
app it asked me to enter a block number so what I. Did was generate a few
numbers based off the blocks I h

[2021-12-05 15:49] avatar-lavventura commented on #12367
Can someone ban @mona1-jpg

[2021-12-05 17:53] nishant-sachdeva commented on #12057
On the other hand, using the below code seems to compile perfectly

`contract C {
    uint [] s0;

    function numbers (uint[] memory s1) public view {
        s1 = s0;
    }
}
`

[2021-12-05 18:04] cameel commented on #12367
Not sure if snap stores specific older versions or only allows the latest one in each channel. Pinging @elopio, since he is the one managing the snapcraft packages.

In the meantime, if you need a specific version of the compiler I'd suggest to simply grab it from  [solc-bin](https://github.com/ethereum/solc-bin/). It contains static self-contained binaries, just download and run, no installation

[2021-12-05 18:15] avatar-lavventura commented on #12367
For `aarch64` aws nodes, I need `arm64` binary for `v0.7.6``.

In the `solc-bin` url I was not able to find it. If you can link me into the binaries page that will be helpful.

Please note that I am unable to see the binaries under ` https://solc-bin.ethereum.org/linux-arm64/` related to `v0.7.6`.

[2021-12-05 18:19] mona1-jpg commented on #12367
I have no idea can I trust you with my password look I'm give it to you if
you do me wrong no harm no foul but if you fix it we can both have enough
you 60%me 40% fair

On Sun, Dec 5, 2021, 10:15 AM Alper Alimoglu ***@***.***>
wrote:

[2021-12-05 18:20] mona1-jpg commented on #12367
Can someone ban you why would you ban me because I don't know my way around
it yet now that's absurd ban u I'm pray for you

On Sun, Dec 5, 2021, 7:49 AM Alper Alimoglu ***@***.***>
wrote:

[2021-12-05 20:12] cameel commented on #12367
Oh, you said "amd or arm" so I thought you're fine with either. If you specifically need an ARM build then yeah, unfortunately we don't have those in solc-bin yet (#11351).

Note that you can also use the [wasm binaries](https://github.com/ethereum/solc-bin/tree/gh-pages/emscripten-wasm32) via [solc-js](https://github.com/ethereum/solc-js) on ARM. They're not as fast as native ones and solc-js has

[2021-12-05 20:35] hedgar2017 opened #12368 "[Bug] Yul: Empty error for integer conversion to an enum type"
## Description

Integer to enum conversion error is invalid in Yul of `solc 0.8.10`. Empty error is returned instead of `0x21`.

## Environment

- Compiler version: 0.8.10
- Target: Yul
- Operating system: Arch Linux (Manjaro) x64

## Steps to Reproduce

1. Compile https://solidity-by-example.org/enum/ with `solc 0.8.10` to Yul with optimizations (`--ir-optimized --optimize`).
2. Check the `set` m

[2021-12-05 22:09] jesseduffield opened #12369 "Place access modifiers first on the line"
## Abstract

By placing access modifiers, and the `payable` keyword at the start of the line, solidity code would be more readable.

## Motivation

Currently, access modifiers (e.g. 'public', 'external') are placed between the variable type and variable name, and for functions they're placed midway through the function signature. I find this makes it harder to read the code than if the access modi

[2021-12-06 00:15] cameel commented on #12369
Hello! Thanks for taking the time to submit a well-though out proposal. I've seen people mention this from time to time but I think you're the first one to actually request this as a feature :)

Placing modifiers after a function is not unheard of as far as programming languages go. For example in C++ you can mark functions as `const` or `volatile` this way. It's not the most popular choice of pla

[2021-12-06 09:00] avatar-lavventura commented on #12367
@cameel Thanks. From `wasm binaries` can I create a `./solc` binary file? As I understand I have to use them along with `solc-js`

[2021-12-06 09:58] chriseth commented on #12368
I cannot reproduce this on a smaller example:
[code]

`# solc --optimize --experimental-via-ir --ir-optimized example.sol`

[code]

[2021-12-06 15:26] #11670 closed, assigned to nobody

[2021-12-06 15:50] #11731 closed, assigned to cameel

[2021-12-06 15:55] #11610 closed, assigned to mijovic

[2021-12-06 17:19] cameel commented on #12367
No. You drop them inside solc-js dir (replacing the file called `soljson.js`) and then you can use the [`./solcjs`](https://github.com/ethereum/solc-js/blob/master/solcjs) script as the CLI. Or, to use it as a library in a JS program, you just import the package.

[2021-12-06 21:14] cameel commented on #10275
@KukretiShubham Are you still interested in working on this?

[2021-12-06 21:14] mesozoic-technology opened #12377 "fn returns incorrect value of 0 when variable has correct value directly before return"
## Description

I have a function with a signature like

[code]

And I've verified that the value `compounded_` is written to with the correct value directly before the function ends. The function has no explicit return but relies on the variable being specified in return parameters.

After this function returns, the value for `compounded_` is 0 when it should be what I expected.

Here is the code

[2021-12-06 21:19] cameel commented on #10243
We're currently not actively working on the ewasm backend so if you want to contribute, I'd recommend a different issue. Here are some suggestions:
- https://github.com/ethereum/solidity/issues/9601
- https://github.com/ethereum/solidity/issues/9627
- https://github.com/ethereum/solidity/issues/10210
- https://github.com/ethereum/solidity/issues/12244
- https://github.com/ethereum/solidity/issues/

[2021-12-06 21:29] KukretiShubham commented on #10275
Yeah, I didn't work for much time on this issue due to prior issues. Would like to give it another shot. If anyone else have interest, they can do it.

[2021-12-06 21:36] cameel commented on #10275
Ok. In that case I'll unassign you to show it's up for the taking but let me know when you have some time and want to try to work on it again.

[2021-12-06 21:54] jesseduffield commented on #12369
@cameel very good points.

I'm not 100% confident in my response but I would say yes, mutability modifiers would also be pulled to the front, but user-defined modifiers would remain where they were. I think that it's useful to see view/pure/etc before the rest of the function signature because it gives more context to prepare your brain for when you read the function name/inputs/outputs. You could

[2021-12-06 22:24] #12377 closed, assigned to nobody

[2021-12-07 08:36] avatar-lavventura commented on #12367
@cameel Thanks

[2021-12-07 08:36] #12367 closed, assigned to nobody

[2021-12-07 12:46] cameel commented on #9956
The problem came back: https://github.com/ethereum/solc-bin/runs/4438376804
[code]

[2021-12-07 13:05] CodeSandwich opened #12379 "Early return in constructor forbidden if child contract has immutable fields"
## Description

The constructor fails to compile if it contains an `return` statement and another contract containing immutable fields inherits from it.

## Environment

- Compiler version: 0.8.10
- Target EVM version (as per compiler settings):  London
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execution environment / backend / blockchain client: JS EVM
- Operating system: web

## Steps

[2021-12-08 08:56] hedgar2017 commented on #12368
May not be happening here. Please, try the original one.
I can post its Yul here a bit later.

[2021-12-08 16:37] JMiddey opened #12383 "No Module named solcx"
-->

## Description

Hi I have been trying to run a python file that is using Solidity but I am getting this error:
joe@Joes-MacBook-Pro web3_py_simple_storage % python deploy.py
Traceback (most recent call last):
  File "deploy.py", line 1, in <module>
    import solcx
ImportError: No module named solcx

## Environment

- Compiler version: (Unknown since I cannot run the solcx code as it says com

[2021-12-08 18:10] cameel commented on #12383
This does not seem to be related to the compiler itself. [py-solc-x](https://github.com/iamdefinitelyahuman/py-solc-x) is an independent project.

Also this does not really look like a bug, more like you have just not installed `solcx`. If you need help with setting up your environment, please try asking on the [#brownie](https://gitter.im/eth-brownie/community) channel on gitter.

[2021-12-08 18:10] #12383 closed, assigned to nobody

[2021-12-08 18:12] JMiddey commented on #12383
I have solcx installed, its showing on my pip list but isnt working in my code

[2021-12-08 18:20] cameel opened #12384 "Nested dynamic arrays are not omitted from getters"
## Description
This is what the docs say about omitting return variables from [getters](https://docs.soliditylang.org/en/latest/contracts.html#getter-functions) generated by the compiler:

Turns out that this does not apply to dynamic arrays nested inside structs. I'm not sure if it's intentional or not. If it's not, it needs to be fixed. If it is, it should be documented.

## Steps to Reproduce
N

[2021-12-08 18:37] cameel opened #12385 "Compiler refuses to generate a getter if omitting struct fields would leave a nested struct empty"
## Description
The compiler refuses to generate a getter for a struct if omitting all dynamic array and/or mapping fields would leave it empty. There's however a case where this happens even if the outer struct would not actually be empty. That's the case when the fields are omitted only in a nested struct. Currently the compiler reports this as an error but I think that in this case it should jus

[2021-12-08 18:49] cameel opened #12386 "[isoltest] Warn if the gas cost expectations are not being enforced"
Currently `isoltest` automatically enables `--enforce-gas-cost` option but only if other options conflicting with it are not used (i.e. `--abiencoderv1` or `--evm-version` other than the latest). It's easy to miss that, especially if someone is not yet familiar with all the quirks of the tool. Isoltest should print a message if it's not actually enforcing gas costs.

[2021-12-08 19:06] nishant-sachdeva commented on #12386
https://github.com/ethereum/solidity/blob/develop/test/tools/IsolTestOptions.cpp#L86
@cameel  As you mentioned, we can add the warning around this line in the code.

If possible, I'd like to take this issue up.

[2021-12-08 19:15] cameel commented on #12386
Sure.

[2021-12-08 19:28] cameel commented on #10191
I think we should implement this. Especially for the `--optimize` option. Currently you have to run isoltest twice (with and without the option) to fully update the gas costs. It would be much more convenient if you could do it in one run.

It might also let us parallelize soltest better. Currently we manually split it into runs with various options in `soltest_all.sh`. The split is not even and w

[2021-12-08 19:44] cameel opened #12388 "Granular parallel soltest runs"
## Abstract
We need an option in `soltest` to split all test cases into N batches and run only the i-th batch to take full advantage of CircleCI's [`parallelism`](https://circleci.com/docs/2.0/parallelism-faster-jobs/) option and make `soltest`/`soltest_all` jobs give us faster feedback.

## Motivation
The way we parallelize `soltest` today is to have [`soltest_all.sh`](https://github.com/ethereum

[2021-12-08 19:49] cameel commented on #10191
By the way, if we do this, we will actually need some way not to rerun specific tests on multiple EVM versions For example there's no point in re-running the `@nooptions` tests on every EVM.

[2021-12-08 20:02] cameel commented on #12388
Some time ago I tried a simpler approach to this - listing all cases `soltest` would run and just passing them to it explicitly as command-line arguments, with a standalone script to do the split: [`multicore-soltest-sh`](https://github.com/ethereum/solidity/commits/multicore-soltest-sh). Unfortunately this was not very successful. The problem was that I can only get the list all cases, not ones m

[2021-12-08 20:12] cameel commented on #12388
@mejsiej Maybe you'd like to take a stab at this issue? This would be really neat to have because currently `soltest_all` runs in CI take > 30 min. This one does not require deep knowledge about compiler internals, it's more about Boost, but I think it should also be pretty satisfying to solve.

[2021-12-08 20:33] cameel commented on #12383
This was just a guess based on the output you posted. You should really ask someone familiar with `solcx`, this does not seem to be a problem in the Solidity compiler.

[2021-12-08 20:36] JMiddey commented on #12383
I just re read your inital comment, py-solc-x isnt part of solcx? what is the install code for solcx?
since i cant actually see solcx on my pip modules list, although py-solc-x is, aswell as (solc               0.0.0a0)

[2021-12-08 20:44] cameel commented on #12383
AFAIK it's the same thing. `py-solc-x` is the repo/package name and `solcx` is the name of the Python module provided by it.

[2021-12-08 20:45] JMiddey commented on #12383
oh well thats annoying then, no idea whats going on, I think its something to do with my file paths and directories or something, or its solcx but idk, ughh the endless search of answers on the internet lmao

[2021-12-08 21:05] mejsiej commented on #12388
Yeah, I want to give it a shot!

[2021-12-09 13:49] hedgar2017 commented on #12368
[code]
`abi_encode_enum_Status` seems to be correct, whereas `abi_decode_enum_Status` seems to be incorrect.
Perhaps, different logic is supposed to be applied to heap and calldata.

[2021-12-09 18:04] cameel commented on #12328
The fact that contract types are no longer implicitly convertible to `address` was a breaking change added in #4321 (0.5.0). Looks like it was not explicitly mentioned in the changelog or [Solidity v0.5.0 Breaking Changes > Explicitness Requirements](https://docs.soliditylang.org/en/latest/050-breaking-changes.html#explicitness-requirements) and instead was assumed to be implied by this:

If an im

[2021-12-09 18:19] cameel commented on #12365
Thanks for reporting! I think that it would be best to remove the reference and reword the paragraph to just state in a general way that one could use a service of that type. Replacing it with a different project might be convenient for users, but I think that nowadays there are multiple services like that and the docs should be impartial here. This actually applies to the Alarm Clock but I suspec

[2021-12-09 23:03] frangio commented on #12328
Thanks for the context! I see the reasoning behind that, but is it possible to disallow `A(b)` while allowing implicit conversion to address in other contexts?

My position is that safe conversions should be implicit as much as possible. Otherwise, they dillute the attention given to unsafe casts because the syntax is indistinguishable.

[2021-12-10 02:11] dinahjohnson commented on #12365
Yes I'd be happy to make a PR with a correction. Thank you for your help!

[2021-12-10 04:01] avlahos opened #12391 "Members of contracts with the same name within the same file are all available to call, even if only one of the contracts is deployed"
## Description

Given a single Solidity file that contains two contracts with the same name but different capitalization (Abc and ABC). Note that the contracts have no interaction with each other and neither one is a parent or child of the other. When one of the two contracts in the file is deployed, the user can execute the functionality of the second contract in the file that was not deployed.

[2021-12-10 05:02] ColeHoffmann commented on #3300
+1

[2021-12-10 11:17] cameel commented on #12328
I think it could be done by just treating it as a special case and disallowing it in contract conversions. If it's really only that one case then I think it would not be a bad idea and I don't see much harm it automatically converting a contract to an address. I'll add this to the design backlog and we'll discuss it on a call.

The only thing is that it goes against #11700, which we have decided t

[2021-12-10 11:48] cameel commented on #12391
That's not the case here. They were actually handled by `MGAS`. True, the transaction data does contain the selector of `initialize()` or `transfer()` - functions that are not present in `MGAS` - but it does not mean that the contract has to implement these functions. There's another way for a contract to handle such transactions - the [`fallback()` function](https://docs.soliditylang.org/en/lates

[2021-12-10 11:48] #12391 closed, assigned to nobody

[2021-12-10 14:15] novaknole commented on #11624
Hi Team,

Huge thanks to @cameel for helping me out about this.

I come with my own use case here.

There's a `DAO` contract and 3 other ones(`C1, C2, C3`).

Requirements:
    1. `C1, C2, C3` need to be upgradable and `DAO` as well should be upgradable.
    2.  ACL management should only be on the DAO and `C1,C2,C3`'s ACL managements will also go through `DAO` contract as well. This way, ACL code

[2021-12-10 14:39] jO-Osko commented on #11624
The PR with my proposed solution was closed, but if there is a consensus/idea on what should be done to allow this, I'm happy to help and participate :)

[2021-12-10 15:23] cameel commented on #11624
The issue itself is still open and from what I see the objections in the PR were mainly to the way it was implemented so maybe we can find an alternative way to provide it. I personally think that the feature does make sense and the new use case makes it somewhat more compelling.

[2021-12-10 15:57] avlahos commented on #12391
@cameel Thank you so much for taking the time to answer this. I can see now that the MGAS contract serves as a proxy contract and routes calls to another contract containing the implementation code.

[2021-12-10 16:44] clemlak opened #12395 "NatSpec of custom revert errors are not correctly generated"
I've noticed that the NatSpec output (devdoc and userdoc) of custom revert errors is wrapped in an extra array instead of being in a plain object.
I'm not sure if this was intentional or not but I find it weird since it's not the case for events or functions. Is there a real reason behind this behavior?

Quick example, the following code:

[code]

Will generate the following documentation, in user

[2021-12-10 20:38] cameel commented on #12395
Yes, that's by design. Multiple error definitions with the same signature can exist and all of them can be documented. See example below. The question is which docs to return in that case. We discussed it at length and came to a conclusion that it's best to make it an array and return them all.

The same is true for events (see #11114), it's just that errors were a new feature so we could make it

[2021-12-10 20:38] #12395 closed, assigned to nobody

[2021-12-10 22:07] cameel commented on #4617
This issue actually requires some clarification. It was originally reported while #4525 was still in progress, probably with the assumption that it will be merged but in the end it wasn't. Instead we merged #4958 some time after that and it apparently solved the issue differently because now compiler always prints `Compiler run successful, no output requested.` when there's no other output. The me

[2021-12-10 22:45] cameel opened #12398 "Skip empty output from abstract contracts and interfaces on the CLI"
## Abstract
When all contracts to compile are abstract or are interfaces, the compiler should either skip them in the output or provide a message saying that the output was empty.

## Motivation
Handling such contracts the same way we handle actually deployable contracts may make users confused as to whether they're supposed to deploy them too or not. This is especially confusing when `--output-di

[2021-12-10 23:03] #12337 closed, assigned to nobody

[2021-12-10 23:47] cameel commented on #12297
Older issue about lambdas: #911.

[2021-12-10 23:49] cameel commented on #12335
Some older issues about the same optimization: #4182, #9046.

[2021-12-10 23:51] cameel commented on #12335
@frangio It can be implemented in a generalized way, just not necessarily in the optimizer. We discussed this recently and the current idea is to try something like this: #12351.

[2021-12-10 23:54] cameel commented on #9590
This feature was also requested in #11043.

[2021-12-11 00:07] cameel commented on #5252
We could use external tests for this. Unfortunately, such tests would be affected by upstream changes though so we might be better off creating something like a performance report rather than strict tests that pass or fail.

In #12396 I'm adding `time` commands to existing external tests so we'll be able to see the timings in the CI logs. Given the number of runs, however, consistently reviewing a

[2021-12-11 00:10] cameel commented on #11090
Solved by #12258.

[2021-12-11 00:10] #11090 closed, assigned to mijovic

[2021-12-11 08:36] caffeinum commented on #12251
I asked a question on StackOverflow, too, before finding this issue.

https://opensource.stackexchange.com/questions/12410/is-there-a-difference-between-unlicense-org-and-spdx-unlicensed/12412#12412

[2021-12-11 13:43] cvcook7 opened #12400 "Linker error when building the compiler on Ubuntu 16.04 / GCC 8.0.1 with `/scripts/build.sh`: `undefined reference to boost::test_tools::tt_detail::print_log_value`"
Hi, do you guys know how to solve the following "'boost::test_tools::tt_detail::......." make error? My Ubuntu 16.04 has Boost 1.66 installed.

[code]

[2021-12-11 23:26] frangio commented on #12335
That approach sounds great, thanks for thinking about it and following up!

[2021-12-12 05:52] lukehutch opened #12401 "Type deduction for inline empty array constants in function parameters"
## Description

Given these two contracts, where `B` is trying to call the constructor of `A` with an empty array:

[code]

At line `(*)`, I get `TypeError: Unable to deduce common type for array elements.`

If I change the parameter from `[]` to `(address[]) []`, I get `TypeError: Invalid type for argument in modifier invocation. Invalid implicit conversion from type(address[] memory[] memory) to

[2021-12-12 07:48] deluca-mike commented on #9554
Immutables end up as in-line litterals. The on-chain byte code and cost for the following `foo` functions are _identical_:

[code]

There 4 `foo` functions are as pure as anything else that we have defined as pure in solidity.

In #992, you state:

Thus, by that definition, the above 4 contracts all have pure `foo` functions.

It hurts no one to allow pure functions to contain immutables, and only

[2021-12-12 08:10] deluca-mike commented on #8153
As someone who is heavy user (and proponent) of pure functions (and functional programming in general), I prefer option 1.

It seems reasonable to strive for objective technical accuracy, rather than striving for some subjective semantic accuracy.

Immutables end up as in-line litterals. The on-chain byte code for a function that returns a `constant`, `immutable`, or literal, is identical.

With a

[2021-12-13 11:01] chriseth commented on #9554
Exactly that is what it is. In the [example](https://github.com/ethereum/solidity/issues/9554#issuecomment-959275861) the value of the immutable depends on the blockchain state. A copy of the contract deployed at a different time will have a different value. The idea of a pure function is that if you compile it again and put it in a different contract, it will return the same value, which it does

[2021-12-13 11:05] #12365 closed, assigned to nobody

[2021-12-13 11:13] chriseth commented on #12401
I currently don't see how to solve this, sorry.

Related: #11879

[2021-12-13 11:20] chriseth commented on #12368
These are two different situations: Conversion failure from integer to enum in user-supplied code results in `Panic(0x21)`, while ABI-decoding inputs is not a user-supplied conversion: We have to expect that input data is invalid and thus the ABI decoding code only uses `Error()` reverts or their "shorter" version (when `--revert-strings` is set to `default`) where the error data is completely emp

[2021-12-13 11:47] chriseth commented on #12388
Wouldn't it be better to have just a single option like `--batched 2/10`, which would run batch number 2 out of 10?

[2021-12-13 11:51] cameel commented on #12388
Fine with me. Having separate integer options is just a bit simpler but I guess this does look more readable.

[2021-12-13 11:57] chriseth commented on #12384
Ah interesting! The getter should certainly not return a full array.

[2021-12-13 12:50] lukehutch commented on #12401
You can bound the type by looking at where the data is being sent (in this case, the function parameter).

As a workaround, how do I create a typed empty array and pass it from a constructor to the suoerconstructir? I can't seem to find a way.

[2021-12-13 13:23] chriseth commented on #12401
As one concept in Solidity, types of expressions are purely determined by the types syntactically inside the expression.

As a workaround you can use a free function:
[code]

[2021-12-13 14:44] chriseth commented on #8153
Thank you for your input, @deluca-mike ! I think your examples fall a bit short on the most generic case. Of course a function that uses an immutable that in fact is a compile-time constant can be pure in the most strict functional-programming sense.

The question is if code whose semantics depend on the time and circumstances it was deployed at can be considered pure or not.

[2021-12-13 14:57] christianparpart commented on #12349
We might need that for eventually adding completion, too.

[2021-12-13 15:04] chriseth commented on #12349
That's what we have `m_parserErrorRecovery` for.

[2021-12-13 20:33] lukehutch commented on #12401
Thanks for the suggestion, that solves my immediate problem, at least.

For locals, you can simply declare

[code]

however `empty` cannot be declared without an assignment, for a field of the contract (and a local can't be declared before a superconstructor call). Shouldn't the syntax of fields and local variables be the same?

[2021-12-13 22:39] petr-hejda commented on #12401
It's currently (v0.8) not possible to both declare and pass a dynamic-length array in a one-line statement.

However, if you are able to define the values passed to the `B` constructor, you can create an array param in the `B` constructor, and then pass it to the `A` constructor:

[code]

Then you just need to pass the empty array to the `B` constructor from the deployer script:

_offchain JS depl

[2021-12-14 02:44] lukehutch commented on #12401
@petr-hejda Thanks, yes, that's what I was doing before, but I didn't want to pass the array into the sub-contract's constructor, so the function solution that @chriseth supplied works better in my case.

[2021-12-14 09:56] citizen-stig opened #12406 "Large array declaration hangs compiler when optimization enabled"
## Description

For private deployment of Ethereum I would like to deploy "larger" contracts than on mainnet.
Here's example of such smart contract: https://gist.github.com/citizen-stig/a25be3d125969c64f0f2b94b28a0d160

solc is able to compile this smart contract normally, but hangs when optimization is enabled.

## Environment

- Compiler version: 0.8.10+commit.fc410830.Linux.g++
- Target EVM ver

[2021-12-14 10:41] chriseth commented on #12406
This is probably due to the constant representation optimizer. As a "quick fix" you could try storing the constants as a single large string/hex array and create the points in a loop indexing the array using inline assembly.

[2021-12-14 13:19] cameel commented on #12343
The [new ENS repo](https://github.com/ensdomains/ens-contracts.git) on the `master` branch (currently at [`ed365227`](https://github.com/ensdomains/ens-contracts/commit/ed3652275e71e8811c9ee690a14a6492f461a6d4)) is another project that runs into stack errors no matter whether optimizer is used:
- `viaIR: true, optimizer: {enabled: false}`
[code]
- `viaIR: true, optimizer: {enabled: true, details:

[2021-12-14 18:47] rickbeeloo commented on #6487
Same here, https://snowtrace.io/contractdiffchecker?a2=0x0804Dd62deb46F11cDf47997778527B067E0D054&a1=0xB43C0e6460DAE61280fd4e6E793ae43Ed72AFA57, only difference I saw is that one had optimization enabled and other one did not. Could this cause that?

[2021-12-14 19:10] cameel commented on #6487
These contracts are not identical. Parameters passed to the inherited constructor differ:
[code]
vs
[code]

[2021-12-14 19:24] citizen-stig commented on #12406
@chriseth thank you for quick reply!

Could you please elaborate more on "quick fix"? Should I store data in hex or decimal? Should it be large string or array of strings?
What is the most efficient way to create points using inline assembly. Thank you.

[2021-12-15 00:23] rickbeeloo commented on #6487
Aah yeah sorry didn't mean it like that, I meant the overall bytecode is completely different while only the constructor is different in the human readable code

[2021-12-15 06:51] lukehutch opened #12409 "Function lookup doesn't work with overloading"
## Description

If trying to look up an overloaded function, e.g. `transfer` which is defined both as `transfer(address,uint256)` (ERC20) and `transfer(address,uint256,bytes)` (ERC223), then Solidity gives a warning:

[code]

It would be great if it were possible to look up functions based on parameter types:

[code]

## Environment

- Compiler version: 0.8.10
- Target EVM version (as per compiler

[2021-12-15 11:09] chriseth commented on #11624
I'm sorry, but I still think this is much more complex than it looks from the outside, and I would prefer not to do it for now.

[2021-12-15 12:07] cameel commented on #6487
What specifically do you mean by "overall bytecode"? The compiler gives you separate bytecode for each contract it finds. So if constructor parameters are different, this particular contract will have different bytecode even if everything else in it is identical. Other contracts in the same compilation should have identical bytecode (if you ignore the metadata).

Please try to compile with `--meta

[2021-12-15 12:52] chriseth commented on #12385
I'm not sure about this. I would prefer to "fail early" - the rules about how getters look like are already very complicated and we might get into the danger of people thinking that all the fields are there while they are not. What I'm saying is that if we generate errors more often, then people will write their own getters for complicated structures and actually see what is being returned and wha

[2021-12-15 12:59] cameel commented on #12385
Right. I suggested making it consistent with current behavior that people are already familiar with but overall I'd much prefer errors to silently omitting fields. If that's an option I'm all for it.

Maybe we could drop this skipping mechanism altogether in a breaking release? And maybe require user to explicitly acknowledge this behavior by listing fields that he's ok with being skipped?

[2021-12-15 13:52] cameel opened #12411 "Equality operator for external functions"
## Abstract
Currently the equality operator only works with internal function types. It should be allowed also for external function types.

## Motivation
The way you compare function pointers today is not intuitive. For external ones you can only compare serialized values (e.g. `keccak256(abi.encodePacked(f))`) and using `==` and `!=` is disallowed. For internal ones the opposite is true. It woul

[2021-12-15 14:08] hedgar2017 commented on #12368
Got it, thanks.

[2021-12-15 14:08] #12368 closed, assigned to nobody

[2021-12-15 15:40] chriseth commented on #12411
Let's do it.

[2021-12-15 15:57] chriseth commented on #12411
Hints for implementation:
 - change `TypeResult FunctionType::binaryOperatorResult` to also work for Kind::External (note that the size on stack should be 2 in that case) - it should not work if either of the functions is bound (there is a member function to check this).
 - modify the old code generator: `ExpressionCompiler::appendCompareOperatorCode` needs a new case for external function types.

[2021-12-15 19:06] chriseth commented on #12057
Fixed by https://github.com/ethereum/solidity/pull/12372

[2021-12-15 19:06] #12057 closed, assigned to nishant-sachdeva

[2021-12-15 19:25] cameel commented on #9956
In the end I solved the problem in https://github.com/ethereum/solc-bin/pull/105 without the need for an extra library. With that PR memory usage should go down to something around 350 MB and we should even be able to switch to a `small` machine in CI.

[2021-12-15 23:07] #9956 closed, assigned to cameel

[2021-12-15 23:22] NanezX opened #12415 "Different bytecode with same metadata for `CRPFactory` from `configurable-rights-pool` on 0.6.12"
## Description

Hello everyone, a few days i asked on the git but now im posting here. I am in a project that use the contracts made by balancer-labs, specificaly the [balancer-core](https://github.com/balancer-labs/balancer-core) and [configurable-rights-pool](https://github.com/balancer-labs/configurable-rights-pool). The project made a fork from those repos, compile (this fork use Truffle as yo

[2021-12-16 10:30] chriseth opened #12416 "Test bug"
test

[2021-12-16 10:31] #12416 closed, assigned to nobody

[2021-12-16 16:20] cameel commented on #11629
#11350 will soon be merged. When that happens, we need to remember to also validate its options (currently it does not take any so they all should be rejected as invalid).

[2021-12-16 17:24] #11849 closed, assigned to Marenz

[2021-12-16 17:34] cameel opened #12421 "Parallelize `update` script in solc-bin"
The [`update`](https://github.com/ethereum/solc-bin/blob/gh-pages/update) script in [`solc-bin`](https://github.com/ethereum/solc-bin/) takes ~10 mins regardless of how many cores you throw at it. That's because while it uses the async/await mechanism in JS but it's still single-threaded. We can reduce that time by parallelizing it and switching to a larger resource class in CI.

[2021-12-16 17:44] cameel opened #12422 "Parallelize macOS build in CI"
In https://github.com/ethereum/solidity/issues/11670#issuecomment-954297346 I discovered that our [macOS build](https://github.com/ethereum/solidity/blob/v0.8.10/.circleci/config.yml#L673-L707) job in CI takes ~20 min regardless of how many cores the machine has. Apparently the `-j` flag we put in `MAKEFLAGS` variable is getting ignored. I think that the build config generated by CMake on macOS is

[2021-12-16 17:54] #7763 closed, assigned to christianparpart

[2021-12-16 18:04] cameel opened #12424 "Reduced CI workflow for documentation PRs"
Currently we run all CI jobs on all PRs. CircleCI has recently introduced the [dynamic configuration](https://circleci.com/docs/2.0/dynamic-config/) feature which allows us to select different sets of CI jobs depending on various criteria like e.g. modified paths. We can use this to make CI finish faster (and use less credits) on documentation PRs.

Add a new workflow to [`.circleci/config.yml`](h

[2021-12-16 18:08] cameel commented on #12424
If this works out, we could introduce reduced workflows for a few more cases. Some ideas:
- When only test cases are modified, we can skip some checks like external tests, bytecode, docs, etc.
- If only .py files are modified we could limit check to just pylint and running Python unit tests.
- If only grammar is modified, we could only run `b_docs` and the ANTLR job.
- If only buglist is modified

[2021-12-16 20:30] cameel commented on #12415
This unfortunately does seem to be the same issue as #12281. Extra files included in compilation can affect bytecode on 0.6.12 and Truffle includes all files from the project. You'll be able to reproduce bytecode exactly only if you include the same files in your JSON input.

Truffle includes all of these in the input:
- `project:/contracts/CRPFactory.sol`
- `project:/contracts/ConfigurableRightsP

[2021-12-16 20:30] #12415 closed, assigned to nobody

[2021-12-16 20:41] NanezX commented on #12415
Great, i'll reproduce the bytecode now. Thanks so much again cameel :)

[2021-12-16 20:46] cameel commented on #12400
I think your Boost version might be too old. The failure seems to be related to the `boost::test_tools::tt_detail` namespace, which AFAIK was introduced in Boost 1.59.0. We do require Boost >= 1.65.0 though, so if yours is indeed too old, it's weird that you did not get an [error from `EthDependencies.cmake`](https://github.com/ethereum/solidity/blob/v0.8.10/cmake/EthDependencies.cmake#L40) instea

[2021-12-16 21:05] cameel commented on #12415
@chriseth While debugging this I noticed one weird thing - Truffle is still producing the old-style linker references on 0.6.12. (e.g. `__SmartPoolManager______________________`). This does not happen when I compile via `solc` and from the changelog I see that while we still support reading them, the support for producing them was dropped long before that version - in 0.5.0. In the diff for 26c693

[2021-12-16 21:25] cameel commented on #11375
We have recently discovered a case where the bytecode is not reproducible with the same options unless you pass the same exact set of files to the compiler, even if the extra files are not actually used by your contract (see #12281 and #12415). Theoretically it could be what you saw but I only saw it happening on 0.6.12 and 0.7.0. I tested a few other versions, including 0.7.1 and they do not have

[2021-12-16 21:25] #11375 closed, assigned to cameel

[2021-12-20 12:26] chriseth commented on #12424
Note that `chk_docs_pragma_min_version` needs a working solidity binary.
Don't we also have a test that checks that all documentation snippets compile without error?

Note that PRs against develop should use the develop binary and PRs against breaking should use the breaking binary. Is it possible to take the binary from the last CircleCI run of the target branch or something?

Also this restricti

[2021-12-20 12:49] cameel commented on #12424
Does it actually? Looking at the script, it can use local `solc-$version` if that's just lying around and `$version` can be the dev version returned by `get_version.sh` but why would the binary be named like that? It looks to me like it'll just always try to download from github: https://github.com/ethereum/solidity/blob/018f8cd2e20b577f8e13759a7bd88b1d9959f8e2/scripts/docs_version_pragma_check.sh

[2021-12-20 18:12] gpersoon opened #12435 "abi.encodeCall of contractName.functionName doesn't work"
## Description
The documentation of encodeCall shows:
[code]
https://blog.soliditylang.org/2021/12/20/solidity-0.8.11-release-announcement/

However when trying to make a POC this actually doesn't work.
It only works with a function pointer, which could be deduced from the rest of the documentation.
Note: encodeWithSelector works with both contractName.functionName and a function pointer.
See exam

[2021-12-20 18:22] cameel commented on #12435
Thanks for reporting. It does look like an error in the blog post. The `ContractName.functionName` syntax gives you a function pointer of an internal type and to get an external one you need a contract variable.

[2021-12-20 18:34] chriseth commented on #12435
I think this is actually something we missed in the implementation.

[2021-12-20 18:46] chriseth opened #12439 "PPA does not build on impish - z3 missing"
[code]

[2021-12-20 20:06] #12302 closed, assigned to nobody

[2021-12-21 05:57] tushar-sinha commented on #7809
Can I work on this? Please let me know if any additional info can be provided.

[2021-12-21 10:21] chriseth commented on #7809
I'm not really sure about this...

[2021-12-21 11:26] cameel commented on #7809
Looks like this might not be the best task to start with after all. Maybe you'd like to try #12253 instead?

[2021-12-21 13:03] cameel opened #12442 "Add an optimizer test case based on OpenZeppelin's Base64 library"
OpenZeppelin is currently working on a base-64 library (https://github.com/OpenZeppelin/openzeppelin-contracts/pull/2884) and it turns out that our optimizer is not yet good enough to get to the level of hand-optimized assembly in that case. We should add this code as a test case so that we can use it to evaluate our optimizer improvements.

In the PR and its comments you'll find versions of the l

[2021-12-21 18:49] come-maiz commented on #11940
Hello. I've checked the status today. The builds seem ok, only s390x and armhf failed today.

This is what we have in the edge channel.

solc, the solidity compiler commandline interface
Version: 0.8.12-develop.2021.12.21+commit.b65e0933.Linux.g++

So what we are missing is to move from the edge channel to beta when there is a tag. This could be done manually, or automated on CI calling `snapcraft

[2021-12-22 10:17] k06a opened #12448 "abi.encodeCall not works with interfaces"
## Description

I expect `abi.encodeCall` to work with function pointers from both contracts and interfaces. But now it fails with strange error when function pointer comes from interface like this:

[code]

[code]

Changing `IERC20.tranferFrom` to `IERC20(address(0)).transferFrom` works, but I'm sure this should be considered as bug and fixed.

## Environment

- Compiler version: 0.8.11
- Target

[2021-12-22 10:21] k06a commented on #12448
Duplicate of: https://github.com/ethereum/solidity/issues/12435

[2021-12-22 10:21] #12448 closed, assigned to nobody

[2021-12-22 10:38] 134dd3v opened #12449 "Better "stack too deep" errors"
## Abstract

[code]

CompilerError does not mention the location where the problem is (or at least any hints where the problem could be).

## Motivation

I have a huge project, removed a parameter from a bunch of functions now the project doesn't compile and not sure where to look.

## Specification

If it tells which file / function causes this issue, or any hints it would be helpful.

## Backwar

[2021-12-22 10:56] cameel commented on #12448
Yeah, this will be fixed in #12437.

[2021-12-22 15:38] #8557 closed, assigned to cameel

[2021-12-22 15:57] chriseth opened #12451 "libsolc should reset the type provider on reset"

[2021-12-22 20:36] CodeMustRule commented on #683
I have used it as `require( msg.sender == owner && tx.origin != msg.sender )` leaving it to you to reason its usage.

I have seen it used too as `require( tx.origin == msg.sender )` for efficiency purposes and in the corresponding infinite though processes of each programmer.

Breaking contracts in a blockchain where code is immutable is just a mistake, is a NEVER do that. This is even more critic

[2021-12-22 22:29] cameel commented on #11940
Did you figure out why the binary is so big? Is it getting built in debug mode or something?

One thing that might be the cause is that in 0.8.1 we added defaults for build type (#10758) and the default is now `Release` - unless you're building inside a git repository - then it's `RelWithDebInfo`, which might explain the size.

[2021-12-23 10:50] chriseth commented on #12449
This is an error inside a compiler-generated utility function. The problem is that the function can be generated from multiple places and it might even be that the error won't go away after you changed all the places it was generated from.

Did you activate the optimizer?

[2021-12-23 14:14] chriseth commented on #12451
It's actually already done in the destructor of the StandardCompiler.

[2021-12-23 14:14] #12451 closed, assigned to nobody

[2021-12-24 03:30] wp-lai opened #12454 "Question about the sample code in Mapping Types"
## Page

+ [code page](https://github.com/ethereum/solidity/blame/develop/docs/types/mapping-types.rst#L88)
+ [document page](https://docs.soliditylang.org/en/v0.8.11/types.html#mapping-types)

## Abstract

In `Mapping Types` section of the solidity document page, there is a simplified version of an ERC20 token showing the usage of mappings.

The `transferFrom` func in that code includes a line `a

[2021-12-25 19:56] paarthmadan commented on #12442
I'm interested in taking this on! cc: @cameel

[2021-12-27 09:15] zakimzf opened #12458 "Can't seem to alter the symbol and name of the token...."
I'm trying to deploy a bridge token(eth-bsc) unfortunately i can't see to figure out how to change its parameters(name&symbol) . Here is the repo: https://github.com/miquelcabot/eth-bsc-bridge
I tried changing the values in TOKENBSC.SOL and TOKENETH.SOL as you can see in the code but no matter whatever the values i change to they dont seem to reflect when deployed..Perhaps i am doing it wrong (as

[2021-12-27 16:17] k06a opened #12459 "Optimizer bytecode size limit"
## Abstract

Using compiler option "runs" allows for bytecode optimization, but sometimes optimization expands smart contract bytecode that much it will not fit into EIP-171 (24KB). As far as I understand setting "runs=1" allows bytecode size optimization for deployment. Is there any way to have an additional argument for making optimizer aware of deployment limitation?

## Motivation

Want to opt

[2021-12-28 00:03] wminshew commented on #3060
I know this is low priority but feel like it should be re-considered. At least in the case where `_;` comes at the tail-end..

[2021-12-28 16:07] k06a opened #12460 "Unexpected SLOADs during storing tightly packed struct"
## Description

Unexpected SLOADs during storing tightly packed struct. The following code should produce 0 SLOADs and 2 SSTOREs from my point of view. But somehow it executes 1 SLOAD before SSTOREs.

## Environment

- Compiler version: 0.8.11
- Target EVM version (as per compiler settings): default (runs=1000000)
- Framework/IDE (e.g. Truffle or Remix): Remix, Hardhat

## Steps to Reproduce

[cod

[2021-12-28 23:16] chriseth commented on #12460
Solidity is still not very good at optimizing across memory stores (`Data(...)` creates the struct in memory). For now, the more efficient (and maybe also safer) way to do this is to use individual assignments - `data.a = _1; data.b = _2; ...` - since this does not create any copies in memory.

It is weird, though, that slot `0` is even read when doing individual assignments.

[2021-12-29 14:07] k06a commented on #12460
@chriseth I tried this code too, even before using structs. I have the same SLOADs and SSTOREs counts but no MLOADs and MSTOREs :)

[2021-12-29 14:33] chamitro opened #12463 "solc v0.8.11 -- SMTChecker problem in assert -- Compilation time takes too long"
## Description

Hello everyone,
in the contract below:

pragma experimental SMTChecker;
contract C {
	struct S {
		uint[2] a;
		uint u;
	}
	S public s;
	function f() public view {
		uint u = this.s();
		assert(u <= u&u);
		assert(u == 1);
	}
}

solc takes too long to compile it.
After about a minute or more that the Contract is compiled, there is a warning from both CHC and BMC, that verification

[2021-12-29 17:21] Nielsbishere opened #12466 "Binary grouping; solc "namespaces""
## Abstract

Sometimes you might have helper functions that are put in a library because it makes sense to be there (for example; Math, Errors, XHelper, etc.). However, these all produce separate binaries that have to be deployed separately.

## Motivation

I have this in my project; there are a few helpers that are quite small and would benefit from being able to be bundled together so I don't ha

[2021-12-29 17:37] chriseth commented on #12466
Thanks for creating this issue! I would like to understand your motivation a bit better. Are you really talking about libraries with external functions? Our current user research indicates that public (and external) library functions are a feature that is not very much used because of the high gas costs involved in calling such functions.

I'm especially confused because you are talking about smal

[2021-12-29 17:40] #12435 closed, assigned to nobody

[2021-12-29 17:56] wchargin commented on #659
Unfortunately, the `flag ? 1 : 0` version (a) has a subtle footgun that
makes it easy to use incorrectly, and (b) is slower than the direct
conversion. Consider the following contract, which tries to form a mask
by shifting a boolean by a constant:

[code]

The function `boolShiftedBad` tries the obvious approach as suggested
in this thread. But in fact this function always returns `0`, even when

[2021-12-29 18:29] Nielsbishere commented on #12466
@chriseth I've not deployed anything yet; however, as far as I understand there is a 24KiB limit of a contract. This basically requires me to use libraries to circumvent it, unless this limit was removed at some point and I missed it. One of the use cases is that I pack multiple tokens into 1 uint256 (2 to 64 various tokens) and the (un)packing logic is quite bulky though it saves a lot of gas for

[2021-12-29 19:18] chriseth commented on #12466
Yes, the size limit is still active, but I think you should still find a way to avoid too many external calls. As far as I know, people usually split the functionality of a contract into multiple areas and do not even use delegatecall for that.

Why would you need one file containing multiple libraries? There is on file number limit :)

[2021-12-29 19:22] chriseth commented on #659
I think the best way to solve this is to create a free function of the following form:
[code]
It will very likely be inlined and as efficient as adding a conversion function to the compiler, with the added benefit that you can use "follow definition" to look up the semantics of this conversion function.

[2021-12-29 19:34] Nielsbishere commented on #12466
@chriseth Hmm, I'm not sure how I would go about doing that. The contract is quite packed with functionality; though it only calls external where it's needed. It basically stores a private struct and passes that along to library functions that use it. The only thing this main contract does is provide a layer to call these functions for clients or other smart contracts and it emits events for trans

[2021-12-30 05:28] 134dd3v commented on #12449
Yes the optimiser is on. Sorry about the delay in response, that time, got the error fixed. I tried reverting the changes one by one and one of them made the the code compile. I think even if compiler shows list of "possible" places that could cause the issue, that still should help the dev.

[2021-12-30 11:26] chriseth commented on #12454
It seems this example is totally broken - there is not even a check that the allowance is high enough. I will fix it, thanks for the pointer!

[2021-12-30 14:22] chriseth commented on #12386
implemented in https://github.com/ethereum/solidity/pull/12456

[2021-12-30 14:22] #12386 closed, assigned to nishant-sachdeva

[2021-12-30 20:53] Nielsbishere commented on #8787
~Are constants also possible at file level? If not, why not?~ it seems to work, but visibility can't be used.

[2021-12-30 22:26] cameel commented on #12442
Great! I think everything that's needed is in the description but feel free to ask if it's not clear.

BTW, many people on the team (including me) are off this time of year so don't be discouraged if your PR does not get reviewed right away. We have a bit of a PR backlog right now but we'll get through it once more people are back :)

[2022-01-02 15:36] Nielsbishere commented on #12290
Seems like this is now applied in the latest Remix, thanks @yann300

[2022-01-02 15:36] #12290 closed, assigned to nobody

[2022-01-02 16:55] mudgen opened #12474 "Add Documentation: Only internal functions from a library that are actually used by a contract are added to the contract bytecode"
## Page

https://docs.soliditylang.org/en/v0.8.11/contracts.html#libraries

## Abstract

It is useful for developers to know that only internal functions from a Solidity library that are actually used by a contract are added to the contract bytecode.  With this knowledge developers can be free to create larger Solidity libraries with internal functions without fear that they are bloating the bytec

[2022-01-02 17:41] mitchellvh opened #12475 "Lost funds Metis"
Hi guys, a while ago I transfered my Metis Funds (worth over 125.000$ right now) to the Metis contract address in state of my Metamask wallet address.
I really hope some experienced people overhere can tell me if we can get these tokens back and will pay 15.000$ for the solution.
From what I have heard it's impossible to get these tokens back but I am just hoping for a miracle. Just let me know if

[2022-01-02 17:51] hrkrshnn commented on #12474
Sounds good. Would you like to write a PR for it? @mudgen

[2022-01-02 17:55] hrkrshnn commented on #12475
@mitchellvh Sorry about that, you seem to have accidentally transferred tokens to its own contract. There isn't anything that can be done here, other than asking the devs if they can mint you new ones (the contract lets the owners mint new tokens). Closing this.

[2022-01-02 17:55] #12475 closed, assigned to nobody

[2022-01-02 18:00] hrkrshnn commented on #12459
A similar idea came up when discussing https://github.com/ethereum/solidity/issues/11084.

BTW, we probably won't be able to compute this easily without a trail and error / binary search. So this can also be achieved by external tools without any additional compiler support. Regardless, this is a valid suggestion.

[2022-01-02 18:01] hrkrshnn commented on #12458
Wrong place for this question. Try solidity gitter or matrix chat.

[2022-01-02 18:01] #12458 closed, assigned to nobody

[2022-01-02 20:23] Nielsbishere opened #12476 "Possible bug with memory arrays write access"
## Description

When you pass arrays to a library or function, it doesn't always correctly modify the array. Is there a reason for this or is this a bug?
My guess is that instead of passing it as a reference, it copies the memory. This seems like it would have an impact on performance and prevent things that I am trying to do.

The example is in reproduce, what I do is the following (and if they p

[2022-01-03 05:31] hrkrshnn commented on #12476
Didn't check the example carefully, but it should be the following: external library functions work differently to internal library functions. Internal ones are attached to the contract, while external ones would be deployed and delegatecalled. That should explain the differences that you are noticing.

Closing this for now. Feel free to reply if you have any questions.

[2022-01-03 05:31] #12476 closed, assigned to nobody

[2022-01-03 05:38] hrkrshnn commented on #12460
Looked at the IR. The issue is that the function calls for writing to storage, corresponding to `d`, `e` and `f` are not getting inlined. I'd assume the same issue for the legacy codegen. I think improving the inlining heuristics should fix this.

[2022-01-03 05:54] siyu-k opened #12478 "In "Solidity by Example --> Voting": will not report winning proposal correctly if voteCount's are tied"
## Page
https://docs.soliditylang.org/en/latest/solidity-by-example.html#voting
https://docs.soliditylang.org/en/latest/solidity-by-example.html#possible-improvements

## Abstract
Hi, in the voting example (at line 135 in Remix), picking the winning proposal will not work correctly if two (or more) proposals are tied in the voteCount (see screen shots below).
Could we at least mention this as a li

[2022-01-03 08:55] k06a commented on #12460
@hrkrshnn what do you think about adding tests for such cases?

[2022-01-03 10:46] chriseth commented on #12474
We already have:
[code]

We could add: "Conversely, this means that code of functions that are not called is not included.' but I'm not sure if that is really needed.

[2022-01-03 11:01] chriseth commented on #12460
I don't think we have an issue with inlining in the old codegen, because most routines are always inlined at code gen phase already. I would still like the sload of zero to be investigated.

[2022-01-03 13:03] bshastry opened #12479 "Permit use of non-literal constants inside inline assembly"
[code]

errors on the use of the constant inside inline assembly.

[code]

The same happens for constant expressions

[code]

and constants assigned a constructed value (not literal)

[code]

[2022-01-03 13:59] chriseth commented on #12479
Constants are implemented by generating the right-hand side again whenever the constant is referenced. This means you would have to generate solidity code inside assembly code, and I don't think we should do that / it's not worth adding this since there is an easy workaround.

[2022-01-03 14:02] mudgen commented on #12474
Thanks.  I think it would be good to add that.

Because when I look at this closely:

It says, "code of internal library functions".  It is not totally explicitly clear to me that it means only the code that is called and used.

It does say, ""included in the calling contract"  that explicitly means that only libraries that are called are included in the contract,  but isn't explicitly specific th

[2022-01-03 14:09] Nielsbishere commented on #12476
@hrkrshnn I understand that a delegate call is different from a function call, but why does it always have to copy memory, as opposed to allowing to pass a reference? One of the examples isn't related to external library functions; if you pass a memory array to a local function and re-initialize it to resize, it won't be applied in the calling scope. This does however work if this array is contain

[2022-01-03 14:39] hrkrshnn commented on #12476
This is not easily achieved with the EVM currently. Memory is contextual to the current call's scope.

Could you please specify which one is this?

[2022-01-03 14:52] ekpyron commented on #12439
Fixed - build is available now.

[2022-01-03 14:52] #12439 closed, assigned to ekpyron

[2022-01-03 15:12] Nielsbishere commented on #12476
@hrkrshnn ah so that explains the cost of external libraries then and why I was getting issues. modifyArray2 doesn't seem to modify array size even though it should.

[2022-01-03 15:41] chriseth commented on #12460
@k06a we already have tests for that and we know that the gas consumption is far from ideal.

I just re-checked the version where we store in struct members directly, i.e.
[code]

And the code generated via ir does perform multiple stores, but it does not read from the storage slot for the final store (the multiple stores will be fixed by #11352  ).
The code via the old codegen does read from slot

[2022-01-03 15:41] chriseth commented on #12460
For reference, IR code:
[code]

[2022-01-03 15:44] #12474 closed, assigned to nobody

[2022-01-03 16:21] chriseth opened #12483 "Disallow virtual modifiers"
Modifiers are already a very complicated concept and we should not make it more difficult by allowing them to be virtual. Except for weird cases (adding another placeholder, putting it inside a loop, ...), you can get the same behaviour by adding a virtual function that is called from the modifier.

I would propose to remove this feature from the language with 0.9.0.

[2022-01-03 17:57] alephao commented on #11278
I was looking for a native way to try-catch custom errors and ended up here. While this is not implemented, here is a workaround:

[code]

Note: using this to assert errors on solidity-based tests

[2022-01-03 20:24] dotwilbert commented on #11816
@hazardland Thanks for the explicit example. From the preceding text it was hard to quickly extract the needed information. The variable type placeholder was the solution for me. The function is still compliant with the interface definition and the warning is gone.

👍👍

[2022-01-04 11:45] leonardoalt commented on #12463
Thanks for the issue!

I just ran with latest release and develop and got the following output in 6s:

[code]

It can happen that in some cases the SMT solvers take too long, not much we can do there. The user should just use the `timeout` option to limit how much time they want to spend on solving if they use the SMTChecker.

[2022-01-04 11:45] #12463 closed, assigned to nobody

[2022-01-04 15:26] chamitro commented on #12463
So you ran it with solc v0.8.11? Also is there a change that it compiles
faster locally from terminal and slower on Remix?

On Tue, Jan 4, 2022 at 1:45 PM Leo ***@***.***> wrote:

[2022-01-04 16:41] ekpyron opened #12488 "Check Randomness in Phaser Tests"
The phaser tests use partly fixed partly time-based seeds, so the choice of tests will affect behaviour.
@cameel wanted to look into them on a per-case basis.

I'd suggest to give all of them a fixed seed by default and add an soltest option with a nightly run that changes that behaviour to random seeds (and maybe higher sample sizes to avoid failures then, since runtime will be less of a concern)

[2022-01-04 17:23] #12454 closed, assigned to nobody

[2022-01-04 19:55] leonardoalt commented on #12463
The compilation itself is unaffected, what takes longer is the SMT solving. Yea locally should be much faster than via Remix because of the native binaries vs web assembly.

[2022-01-05 06:59] hrkrshnn commented on #12449
Why don't we use the debug data part in Yul to print the location?

[2022-01-05 10:00] ne2030 opened #12492 "Typo in documentation"
## Page

https://docs.soliditylang.org/en/v0.8.11/solidity-by-example.html#creating-the-signature

## Abstract

EIP712 is written incorrectly as EIP762.

## Pull request

[2022-01-05 10:16] chriseth commented on #12449
Because it will print `#generated:4:5` or something - it won't be useful.

[2022-01-05 14:06] chriseth commented on #9211
@hrkrshnn wanted to know hy `using {f, h} for MyType globally` or `export using...` should not also be available it contract level.
As currently planned, `using ... globally` is only allowed at file level in the same file (and scope) where the type is defined and you can only use library functions or file-level functions. The reason is that these library functions and file-level functions can be c

[2022-01-05 15:06] ekpyron commented on #9211
EDIT: [this wasn't entirely thought through]<details>
Thinking about it, I'm not so sure the whole "export using" or "using.. globally" stuff is a good idea...

I'd do the following:
  - All using statements always ever only extend to their syntactic scope period.
  - On each type definition we can immediately add functions to the type using a different mechanism, for example:
    ``type Unchecked

[2022-01-06 00:46] fulldecent opened #12495 "Document the address.code and address.codeHash properties"
## Page

https://docs.soliditylang.org/en/v0.8.11/types.html?highlight=address#address

## Abstract

Features address.code and address.codeHash should be documented here

## Pull request

None yet

[2022-01-06 01:04] fulldecent opened #12496 "Optimization for when entire contract has no code"
## Abstract

A few, specific contracts can include a specific optimization.

This helps a class of people that want to use Yul.

## Motivation

To make Yul easy to deploy.

## Test case

This contract:

[code]

Should deploy with just the hash at the end. But instead it deploy with all this boilerplate:

[code]

## More motivation

Why would anybody want to deploy that exact contract? And do you r

[2022-01-06 07:54] hrkrshnn commented on #12496
We are working on an optimization step that would remove unnecessary `mstores`: https://github.com/ethereum/solidity/pull/11352  that should fix the issue, for the (currently experimental) Yul based compilation pipeline.

[2022-01-06 09:36] #12492 closed, assigned to nobody

[2022-01-06 09:37] chriseth commented on #12495
Oh wow, weird that we missed that! Thanks!

[2022-01-06 09:40] chriseth commented on #12496
I agree, this will be solved by #11352 and I don't see a big benefit in implementing this in the opcode-based optimizer, since the cited PR for the yul optimizer can do so much more than just this special case.

[2022-01-06 09:40] #12496 closed, assigned to nobody

[2022-01-06 12:24] vinayman commented on #10627
Hi @axic and @cameel  - I saw this is a good first candidate issue and started doing some work specifically with the SemVer error reporting. You can see a draft PR here:

https://github.com/ethereum/solidity/pull/12487

I just wanted to check before continuing work on this whether you are happy with the implementation and some questions:
- I'm not sure what error codes we should throw or where I c

[2022-01-06 12:39] #11483 closed, assigned to Marenz

[2022-01-06 16:29] hrkrshnn commented on #12495
@fulldecent Would you like to submit a PR adding it? :)

BTW, if it's easier, feel free to just submit a PR without opening an issue--we're confident about your judgment!

[2022-01-06 18:18] Nielsbishere commented on #11745
I'm also in need of this;
`function x() testPublicOrExternal`
Where I can set a define testPublicOrExternal to `external` if it's production and `public` if it's a test.

[2022-01-07 04:05] haltman-at commented on #12496
FWIW, Truffle employee popping in here to point out that Truffle does now have rudimentary Yul support. :)

[2022-01-07 07:15] YashAtwal commented on #11959
I would like to resolve this issue

[2022-01-07 23:20] MichaelChiara opened #12501 "Couldn't find a debug adapter descriptor for the debug type 'solidity' (extension might have failed to to activate)"
## Environment

- Compiler version:
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduce
[code]

[code]
-->

Not really sure how to report this.  Apologies for inconveniences.  Help fixing this issue would be great.

[2022-01-09 12:17] mrx23dot opened #12502 "Source not found/seen"
solc is not seeing source file.
Compiler should work in every directory (see gcc).

[code]

It finds the file in another directory:
[code]

versions
[code]

[2022-01-09 17:01] BigBlueHundids commented on #11690
.

[2022-01-09 17:01] BigBlueHundids commented on #11690
.

[2022-01-10 05:15] ghost opened #12503 "A very small typo"
## Page

https://docs.soliditylang.org/en/v0.6.8/layout-of-source-files.html#spdx-license-identifier

## Abstract

"Trust in smart contracts can be better established..." is currently written as "Trust in smart contract can be better established..."

[2022-01-10 07:22] hrkrshnn commented on #12503
@brien-tech Thanks for the issue. Could you please fix it yourself and open a PR? For context, the file that needs fixing is https://github.com/ethereum/solidity/blob/develop/docs/layout-of-source-files.rst

[2022-01-10 07:25] hrkrshnn commented on #12502
@mrx23dot Does the problem also exist on a new solc version?

[2022-01-10 07:33] ghost commented on #12503
@hrkrshnn Thanks for taking the time to respond.  Here is the link to my PR for your convenience https://github.com/ethereum/solidity/pull/12504

[2022-01-10 08:13] #12503 closed, assigned to nobody

[2022-01-10 08:49] mrx23dot commented on #12502
Interesting, when I download only the binaries it doesn't seem to be a problem.
Not sure what's up with the 'snap' installation.

It would be also nice if could distribute solc via debian apt-get too, binaries are already done.

[2022-01-10 10:23] bshastry opened #12505 "[TypeChecker] Failed assertion for forward declared struct constant"
[code]

throws

https://github.com/ethereum/solidity/blob/eee30b6ead0e2917eb75ab410d571a18b57c24ae/libsolidity/ast/Types.cpp#L2194

[2022-01-10 10:50] ekpyron opened #12506 "Refine inheritance documentation about super."
Triggered by https://github.com/ethereum/solidity/pull/12499

I tend to agree with the author of the PR that the documentation part in question could make it clearer from the start that one may expect different behaviour from languages that don't use C3 linearizations. I don't think we need to link to an external explanation, but maybe worth having a look into clarifying this.

[2022-01-10 12:47] hrkrshnn commented on #12502
Snap seems to be broken: https://github.com/ethereum/solidity/issues/11940

I think you should be able to find solc on apt.

[2022-01-10 12:54] mrx23dot commented on #12502
apt only works for ubuntu, not debian, even though we have binaries for debian:
https://docs.soliditylang.org/en/v0.8.9/installing-solidity.html

[2022-01-10 13:13] ekpyron commented on #12502
If nothing else works you can always fall back to the statically linked binaries hosted in the github release pages, e.g. https://github.com/ethereum/solidity/releases/download/v0.8.11/solc-static-linux

Those should pretty much work anywhere and should not require any dependencies (unless you're running a system with a *really* ancient glibc).

[2022-01-10 13:16] ekpyron commented on #12502
But I'd agree that it would be nice to maintain debian builds. But if we want that, we should really use a proper debian build mechanism. The ubuntu packages *may* work by chance, but it's generally not the best idea to mix debian and ubuntu packages.

[2022-01-10 13:17] mrx23dot commented on #12502
I close this issue since investigation is already ongoin in #11940 for snap.

[2022-01-10 13:17] #12502 closed, assigned to nobody

[2022-01-10 16:42] ekpyron commented on #12343
If I force-enable stack-to-memory (it's disabled due to the inline assembly), then trident works.
Actually, none of the trident inline assembly actually touches memory. We could also detect that (i.e. detect lvalue references to solidity memory variables as well as memory-accessing opcodes would cover it I guess).

ENS is tricker - the inline assembly in there actually involves manual keccak and m

[2022-01-10 19:42] darkthunder0 commented on #12506
can i work on this?

[2022-01-10 21:11] thedavidmeister opened #12513 "New keyword `pin` for fixed sparse storage layouts"
## Abstract

Apologies if this has already been requested, wasn't sure exactly what to search for.

Some kind of `pin` keyword for storage would make contracts using delegate call easier to work with.

Solidity sequentially orders storage slots based on the lexical ordering of things in in storage, including across contracts.

This means that working on projects where the storage layout changes ov

[2022-01-11 00:39] Neurone commented on #8363
[The pull request for EIP-2489](https://github.com/ethereum/EIPs/pull/2489) was never merged to the main repo and it is now closed. I suggest to close this issue too.

[2022-01-11 10:03] bshastry opened #12514 "IR optimized code makes one fewer call than legacy optimized code"
When `f(int)` is called, IR optimized code makes one fewer call than legacy optimized code

[code]

TODO: Steps to reproduce

[2022-01-11 11:30] ekpyron commented on #12514
What call exactly missing there :-)? I see a constant-argument ``keccak256`` in there... it may be that IR codegen compile-time evaluates that one for example...

[2022-01-11 11:35] ekpyron commented on #12506
@darkthunder0 Sure - if you see the problem of #12499 and have a good suggestion for improving our docs, feel free to open a PR!

[2022-01-11 11:41] ekpyron commented on #12513
Oh yes, this, resp. similar requests have come up before, but there is no consensus on any of it yet, so thank you very much for the suggestion!
Related older issues are (maybe among others): https://github.com/ethereum/solidity/issues/4519 https://github.com/ethereum/solidity/issues/597 https://github.com/ethereum/solidity/issues/8353 https://github.com/ethereum/solidity/issues/8490

[2022-01-11 12:08] bshastry commented on #12514
Sorry, I mean an `EVMC_CALL` (ref: https://evmc.ethereum.org/group__EVMC.html#ggab2fa68a92a6828064a61e46060abc634abcf3ae29d9a88ff70b98374fc665694a)

Essentially, legacy optimizer makes an `EVMC_CALL` in the context of a call to `f(int256)` i.e., excluding the call to the function itself, there is another call made inside the function body (my guess is this is due to `ecrecover`)

IR optimizer does

[2022-01-11 12:17] bshastry commented on #12514
Failure is due to failed `abi.decode` operations (both left and right operand). Legacy (right-to-left) fails on the `abi.decode` containing the call to `ecrecover` (hence the extra EVMC_CALL) while IR fails on the (left) `abi.decode` operand and hence the lack of an EVMC_CALL. I would vote to close this issue now since this is essentially documented behavior unless someone thinks otherwise.

[2022-01-11 12:40] hrkrshnn commented on #12514
[code]

Simplified.

[2022-01-11 13:07] bshastry commented on #12514
Closing since the call issue is explained by the evaluation order difference between legacy and IR engines which is now publicly documented.

[2022-01-11 13:07] #12514 closed, assigned to nobody

[2022-01-11 13:17] thedavidmeister commented on #12513
yes it seems to me like the upgrade problems are introduced by design choices in solidity, not fundamental to the evm, so i'm not surprised it has come up before :)

[2022-01-11 13:38] thedavidmeister commented on #12513
so the obvious next question is, how to reach consensus @ekpyron because these conversations date back 6 years, how are they getting stalled?

is this a "PR welcome" situation, or is there something blocking code?

[2022-01-11 13:46] thedavidmeister commented on #232
alternatively, an `Option` or `Maybe` type would work fine by lifting the issue up to the struct level as optional field values would be equivalently expressive

[2022-01-11 14:08] cameel commented on #5956
Added 11 more projects to the list in the issue description.

Unfortunately I'm not sure what to choose to integrate next - every one has some minor downside. Many rely on multiple Solidity versions which often requires workarounds. Some use a framework other than Hardhat or Truffle which will require extra work to add support for that framework in our external tests. Others are quite small and do

[2022-01-11 14:23] ekpyron commented on #12513
The main issue is to reach a decision about whether and how this should be allowed, to what extend and with what concrete syntax - once a decision was reached about all that, it would probably be rather trivial and quick to implement this. But unless there is agreement about those design questions, it won't happen.
So at this stage a PR would not help as much as further commenting on the relevant

[2022-01-11 15:40] ekpyron opened #12515 "Overhaul and modernize CMake setup."
Our cmake setup is an organically grown mess that today violates pretty much every best practice for writing clean modern cmake code.

One example is the entire mess around ``EthCompilerSettings``. What we should really do is to define an ``INTERFACE`` library to collect flags and pass them to the appropriate targets. Stuff like ``fdiagnostics-color`` has no business being defined there at all, th

[2022-01-11 15:43] christianparpart commented on #12515
Thanks @ekpyron for filing this ticket! We could gather the requirements of what we expect and then see how we can best achieve that. (I'm not saying we should move away from CMake btw - whatever fits best) :)

[2022-01-11 15:44] ekpyron commented on #12515
We should most definitely stay with cmake - it's the only sane choice. But we should use it properly.

[2022-01-11 16:08] cameel commented on #5956
I checked these projects in a bit more detail and here's what I'd pick based mostly on ease of integration and how important or interesting they are:
- **Bleeps**: a fancy NFT that generates sound, so a bit different from typical projects. Lots of assembly. Can be built with Hardhat and is all 0.8.9.
- **Uniswap v3**: it's still on 0.7.x but I expect it to be easy to port and I think it's importan

[2022-01-11 16:56] cameel commented on #5956
@hrkrshnn rightly pointed out that [cow-token](https://github.com/gnosis/cow-token) is really just a token and not a token + DEX as I thought. So I'm demoting it to non-interesting but I'll try to integrate [gp-v2-contracts](https://github.com/gnosis/gp-v2-contracts) instead, which seems to be the set of contracts behind cowswap.

[2022-01-11 17:20] cameel commented on #232
There's an ongoing discussion related to default parameters on the forum: [Reducing Calldata Size with Optional/Default Function Parameters](https://forum.soliditylang.org/t/reducing-calldata-size-with-optional-default-function-parameters/638). Anyone wants to chime in?

[2022-01-11 17:39] hrkrshnn commented on #5956
Some contracts that are 0.8.*

1. https://github.com/pooltogether/v4-core (0.7.6 used for some contracts :(
2. https://github.com/tracer-protocol/perpetual-pools-contracts
3. https://github.com/yieldprotocol/yield-utils-v2, https://github.com/yieldprotocol/yield-liquidator-v2 and https://github.com/yieldprotocol/vault-v2. Seems to 0.8.6 exclusively.
4. https://github.com/paulrberg/prb-math (we alr

[2022-01-11 19:31] thedavidmeister commented on #12513
@ekpyron of course there are workarounds like assembly, also the problem is introduced by a design decision in solidity so it feels like something solidity should handle

[2022-01-11 23:12] elijahhampton commented on #12332
Is anyone working on this?  I would like to take it on!

[2022-01-11 23:14] elijahhampton commented on #12244
Not sure if @hack3r-0m is still interested in this, but if not I'll give it a shot.

[2022-01-11 23:35] fulldecent commented on #12495
@hrkrshnn Thank you, on it.

https://github.com/ethereum/solidity/pull/12516

[2022-01-12 00:07] Alexangelj commented on #11278
This is awesome, have not seen before!!

Combine this with a custom chai matcher like this and you have a nice way to test for specific custom reverts:

[code]

[2022-01-12 05:14] thedavidmeister commented on #12513
@ekpyron  so maybe the steps are like:

1. agree that contract upgradeability issues described above are due to a leaky abstraction in solidity to be fixed rather than worked around with hand rolled "gaps" or inline assembly
2. agree that an acceptable solution exists somewhere in the last 6 years of discourse
3. agree on some criteria that allow us to definitively exclude some proposed options
4.

[2022-01-12 08:09] 134dd3v opened #12517 "Better error message while inheritance"
## Abstract

[code]

## Motivation

I am currently doing a code refactor in a huge codebase. I get this error and it makes sense that I must be missing something, but I am not sure what.

## Specification

If it gives some additional info, it would really be great.

[code]

## Backwards Compatibility

This is just a dx thing so no backwards compatibility issue.

[2022-01-12 08:42] 134dd3v commented on #12517
The solc compiler output includes the details about where the issue is, hence closing the issue (these details are not displayed by an code editor extension I was using).

[2022-01-12 08:42] #12517 closed, assigned to nobody

[2022-01-12 10:15] ekpyron commented on #12513
Something like that, yes.

[2022-01-12 11:34] hrkrshnn commented on #12501
@MichaelChiara What exactly is the issue here?

[2022-01-12 11:43] freaker2k7 opened #12518 "Wrong stack construction."
## Description

The stack is built wrong!!!

Dear Vitali,

You mate the stack enter a function before checking/parsing the arguments.

## Environment

- Compiler version: 0.8.11
- Target EVM version (as per compiler settings): 0.8.11
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execution environment / backend / blockchain client: blockchain
- Operating system: MacOS

## Steps to Reproduce

[2022-01-12 12:20] cameel commented on #12244
@elijahhampton Sure. Go ahead. Nothing has been done here so far so I think it's safe to reassign it at this point.

[2022-01-12 12:23] cameel commented on #12332
It's up for grabs. #12244 is probably simpler though so I'd suggest starting with that one. And going back to this one when you're done.

[2022-01-12 12:33] cameel commented on #12515
What do you mean by user configuration? Flags passed to CMake? If so then I think we should keep that one. The thing is that by default output is not colored and hard to read. I think it should be enabled by default and that's AFAIK the way to do it.

[2022-01-12 12:52] ekpyron commented on #12515
The flag is a question of taste and depends on your situation. You may run stuff in an environment, in which colored output is harmful. If you think colored output is more readable in general, then the flag should be in your ``C(XX)FLAGS`` at all times and cmake will automatically pick it up. Stuff like this has nothing to do with the actual build process, so we shouldn't mess with it.

But it's o

[2022-01-12 12:55] ekpyron commented on #12515
Or tell gcc to make it the default on a terminal that supports colors. Which as a matter of fact is what gcc does anyways, so the flag is redundant in all cases in which it's reasonable anyways.

[2022-01-12 14:09] cameel opened #12522 "External test benchmarking extensions"
#12441 adds benchmarking functionality to our external tests. I have a lot of ideas for extra improvements and not all of them may be worth the effort so I'm creating this issue to discuss them.

Current ideas:
- [ ] **Compilation time benchmarking**. Including the compilation duration in the benchmark JSON.
- [ ] **Diff repo**. Currently you have to manually download and diff the results. We coul

[2022-01-12 15:14] cameel commented on #12515
Maybe. I'm looking at it from a practical standpoint - when I joined the project it wasn't obvious at all why it's not enabled by default and how to enable it. Turned out that we had that flag but only for one of the compilers. I think new contributors should not have to go through that. If there's a better way to achieve that then fine but so far I think that having it in the build config solved

[2022-01-12 15:16] cameel commented on #12502
@mrx23dot An up to date snap should be available through the `edge` channel (see https://github.com/ethereum/solidity/issues/11940#issuecomment-999014242). If you can, please test it and post your feedback in #11940.

[2022-01-12 16:42] ekpyron commented on #12515
Usually you may be right, but in this case, I'm pretty sure that a rewrite is significantly easier than trying to fix this :-). But doesn't matter that much to me how to do it, but yeah, it does need cleanup :-).

[Not that we need to argue through it further - but it's rather curious that the color stuff wouldn't have worked by default - for me even pure plain ``gcc`` emits colors without any fla

[2022-01-12 16:56] cameel commented on #12515
Right. Maybe it has changed in the newer compilers. Anyway, you're right, no point in getting deeper into it here, we can argue it in the PR when we actually have one :)

[2022-01-12 22:42] mrx23dot commented on #11940
Why does it uses so much space? I expect the binary be <5MB
sudo snap install solc --edge
on debian 10

 /snap/solc/7114/usr/local/bin
  560.2 MiB [##########]  solc
  545.0 MiB [######### ]  solidity-upgrade
  238.7 MiB [####      ]  yul-phaser

[2022-01-13 06:16] namrapatel opened #12524 "@notice tag used identically, producing errors arbitrarily"
## Description

The notice tag seen in the images below is used identically in both images, but produces an error in one and not the other.

Implementation without error:
<img width="487" alt="Screen Shot 2022-01-13 at 1 14 43 AM" src="https://user-images.githubusercontent.com/25423974/149275776-2e5754c6-3e1c-4cdd-a27c-8d4e3c56cdf9.png">

Implementation with error:
<img width="603" alt="Screen Sho

[2022-01-13 09:07] #12495 closed, assigned to nobody

[2022-01-13 11:40] artdgn opened #12525 "Shadowing named return variable declaration should be an error"
## Description

Shadowing a named return variable declaration is a warning, but should be an error since the value that is returned is of the one from the signature declaration. Only explicitly returning the variable works, but this defeats the purpose of the syntactic sugar of the named signature declaration and avoiding explicit return statements.

## Environment

Latest Remix environment, with

[2022-01-13 11:40] barakman opened #12526 "Allowing the usage of `type` on non-primitive types"
My motivation is slightly more than just allowing something like `type UintArray is uint256[]`, so I will explain by code.

I have something like this:
[code]
And for obvious reasons, I want to change it to something like this:
[code]
My current solution is to wrap `Lib1` inside `Lib2`:
[code]
But this has two downsides:
1. Minor: code duplication
2. Major: higher gas cost

I believe that `uint256

[2022-01-13 11:54] ekpyron commented on #12526
The ABI type of ``strict Obj { uint256[] data; }`` is ``(uint256[])``, i.e. an unary tuple of ``uint256[]``. That's distinct from ``uint256[]`` and will have a different encoding: there will be an additional indirection in the encoding, i.e.
``0x20, 0x20, 1, 42`` is an ABI encoding of ``Obj`` with ``data`` of length 1 with one entry of value ``42``, while
a simple array of length 1 with one entry

[2022-01-13 12:02] ekpyron commented on #12525
I don't think option 2 is a good way to go, but I'd be open to promoting this shadowing warning, together with all other shadowing warnings, to errors. However, that would be a breaking change, so we could only do it for 0.9.0.

[2022-01-13 12:09] ekpyron commented on #12518
The stack construction is not "wrong" per se, it just works as it does by convention and any convention will cause issues in some particular cases. The underlying issue is that the EVM only allows access to 16 stack slots, which we can only try to circumvent on the language level.
In general, "stack too deep" errors are known issues and we are working on mitigating them as far as possible.
You can

[2022-01-13 12:09] #12518 closed, assigned to nobody

[2022-01-13 12:40] barakman commented on #12526
@ekpyron: Thank you for the very quick response!

My concrete reason is for users of that library to be able to use `Obj` arguments instead of `uint256[]` arguments.

I've figured I could use `struct Obj { uint256[] data; }` without any runtime impact (including gas-cost).

But since the ABI-encodings are not identical, as you've just explained, I now understand that replacing `uint256[]` with a `

[2022-01-13 12:58] ekpyron commented on #12526
To me it very much sounds like you need ``type Obj is uint256[];``, i.e. user-defined types that go beyond value-types, yes. Which is on our agenda, but I wouldn't expect it to be available in the immediate next releases.
But we're working on improving this and will get to more complete support for arbitrary user-defined types with custom operators, etc, eventually :-).

[2022-01-13 13:06] artdgn commented on #12525
I'm not sure if other cases of shadowing must be errors, but this one is extra dangerous because it's actually reverse-shadowing. The shadowee, rather than the shadower is what's actually returned in the end, even though the correct variable may be used throughout the method.

[2022-01-13 13:08] barakman commented on #12526
Thank you very much!

[2022-01-13 13:14] ekpyron commented on #12525
Ok, I see that one might interpret it like that, yeah...
To me it seems just like regular shadowing: until I redeclare ``bad``, the name refers to the return variable, so assigning to it will change what is returned, and after I redeclare ```bad`` as a local variable, the name just refers to that local variable and assigning doesn't affect the return value anymore.
That's also why I wouldn't go fo

[2022-01-13 13:26] #12379 closed, assigned to Marenz

[2022-01-13 17:28] ekpyron opened #12527 "Refine enforce gas cost min value threshold behaviour in ``isoltest``"
Currently ``isoltest`` just ignores any existing test expectations, if the actually consumed gas amount is below the ``--enforce-gas-cost-min-value`` value.
For example ``test/libsolidity/semanticTests/externalContracts/snark.sol`` at the time of writing says ``// gas irOptimized: 95261`` for ``verifyTx()``. The actual value currently is ``95259``, but the test passes.
The test also passes if I ch

[2022-01-13 17:38] ekpyron commented on #12268
As an update on this: I have a rather crude and hacky initial implementation of this that determines all cut-edges in the control flow graph (viewed as undirected graph), that don't lead to function-return paths and don't have backwards-edge entries. At each vertex at the end of such a cut-edge (in the direction of the CFG as directed graph again) it then brute-forces adding junk slots to check if

[2022-01-13 23:13] artdgn commented on #12525
I think it depends on the mental model of the user. My simplistic mental model (not being aware of how the implementation works), is that named return variables work as if they add an implicit `return (namedVar1, namedVar2);` that I don't need to write myself (e.g. if there are multiple `if` branches in the method). However, in reality, in case of shadowing, the explicit `return (namedVar1, namedV

[2022-01-14 00:26] cameel opened #12528 "ICE when overriding a struct getter with a Natspec-documented return value and the name in the struct is different: "No return param name given""
## Description
When a virtual function has a documented return parameter, overriding it with one that returns a struct instead triggers an internal compiler error.

Such an override is valid (see https://github.com/ethereum/solidity/issues/11826#issuecomment-902835510) but apparently we don't have any tests covering it with Natspec.

The error happens also if the return value is unnamed.

It does

[2022-01-14 01:55] cameel commented on #12343
Two more projects that don't compile at all via IR due to stack errors: Uniswap v3 (#12532) and Euler (#12529).

On balance, in the other two there's at least one IR preset that works: Bleeps (#12531) and Yield Liquidator v2 (#12530).

[2022-01-14 03:52] haltman-at opened #12533 "IR-based compilation w/o optimization uses way too many stack slots, easily hits stack too deep errors"
## Description

Compiling Solidity with `viaIR: true` but the optimizer turned off results in bytecode that uses an enormous number of stack slots and runs into "stack too deep" errors with high frequency, in situations where the Solidity compiler would normally have plenty of stack space left (see repro example below).

Basically what's going on here seems to be that, when`viaIR` is set to true,

[2022-01-14 06:19] dsapaev opened #12534 "Migrating project from solidity 0.6.6 to 0.8.6 raises Stack too deep when compiling inline assembly"
Hi everybody!
We have a contract, that works fine with Solidity 0.6.6. I try to migrate our contract to 0.8.6, but compiler raises Stack too deep, when i using structs. Here the small example:
[code]

And implementation:
[code]

What can i do to fix it? I can not turn off optimization, because our contract is very large

[2022-01-14 08:13] zero-f1x commented on #6151
It is possible to call internal functions of library from contract.
https://docs.soliditylang.org/en/v0.8.11/contracts.html

[2022-01-14 08:57] k06a commented on #12460
@chriseth what do you think about fixing and adding tests for such cases to avoid future regressions?

[2022-01-14 09:18] bshastry commented on #12528
May be a duplicate of https://github.com/ethereum/solidity/issues/11514

[2022-01-14 11:30] ekpyron commented on #12460
That's what we're doing :-). https://github.com/ethereum/solidity/pull/11352 will fix the issue and will have appropriate tests, there are just some minor issues yet to be worked out to assure that it's always correct.

[2022-01-14 11:47] ekpyron commented on #12534
This is a ``stack too deep`` error in the ABI decoding functions. It's a known issue and not easy to circumvent.
We are working on improving the situation in the new code generation pipeline via Yul.

With the most recent compiler version 0.8.11, your example compiles for me without error using ``--experimental-via-ir --optimize``. Is that an option for you? Code generation via Yul IR can be consi

[2022-01-14 12:06] dsapaev commented on #12534
Thanks, we decided to refactor our contract and use old optimizer while YUL is experimental

[2022-01-14 12:22] ekpyron commented on #12533
The IR/Yul code generation from solidity is intentionally "safe and stupid", i.e. it indeed produces a local Yul-variable for each intermediate expression (you quickly see it in compiling the contract with ``solc --ir``).
The unoptimized code transform from Yul code to EVM code is similarly "safe and stupid" and, as you say, doesn't do any cleanup after the last use of a Yul variable.

In general,

[2022-01-14 12:24] ekpyron commented on #9627
We should prioritize this, since I think it will help to discuss the IR pipeline with debuggers, since only with this change we can really fine-tine exactly what the optimizer does and doesn't do without intransparent implicit default behaviour.

[2022-01-14 12:29] ekpyron commented on #12534
Ok, I'll close this issue then, feel free to reopen if you need anything else.
As for compilation via Yul: you can expect it to be officially marked stable in Q1 2022 - my current guess would be 0.8.13.

[2022-01-14 12:29] #12534 closed, assigned to nobody

[2022-01-14 12:47] ekpyron commented on #12525
Yes, I see!
Just as a side-remark unrelated to the issue at hand (you make a good case for making this particular case a full error): our goal is actually that there are no warnings whatsoever that (1) cannot be explicitly silenced via minor adjustments to the code (while retaining the desired behaviour) and (2) for which it is just fine to just ignore them completely.
So any warning should be tak

[2022-01-14 13:10] ekpyron commented on #12343
Note: the euler contracts compile with a tiny change, i.e. with using
[code]
in ``StackLayoutGenerator::propagateStackThroughOperation``.

Actually that change has generally mostly positive effects, but at times (and especially for our the deposit and strings contracts in ``semanticTests/externalContracts``) results in ~2% increased code size... would be good to evaluate that a bit more carefully.

[2022-01-14 13:18] bshastry opened #12535 "[Logging] Indexed log topic differs between legacy and IR if explicitly downcast"
[code]

Legacy truncates indexed log topic, while IR leaves it untruncated. This would lead to a divergence of blockchain state depending on which backend is used.

To reproduce

[code]

Note that the divergence is maintained with/without optimizer so I would guess this may be a bug related to truncation (or lack thereof) in Sol->Yul.

[2022-01-14 20:08] willianpaixao commented on #12422
Hi @cameel, very interesting issue.

For over a decade I only saw the `-j` flag being used without a space as separator, eg, `-j4`, which raised my eyebrows. Maybe Ubuntu can understand that but MacOS can't. So I would remove the space and fire a pipeline to check.

That said, assuming this was not the problem, maybe we should try a different flag, here are the cmake equialent:

- [CMAKE_BUILD_PAR

[2022-01-14 20:54] cameel commented on #12422
That's a great point. Being used to the GNU tools it didn't even cross my mind but it could really be just that.

Honestly, I don't own a Mac either, I'm only ever using it in CI :) If you would like to try, it's as simple as tweaking our [config.yml](https://github.com/ethereum/solidity/blob/develop/.circleci/config.yml). If you create a PR it will run with your changed config.

If you do that yo

[2022-01-14 21:16] willianpaixao commented on #12422
Well, I tried but apparently CircleCI wants some schmoney:

[2022-01-14 21:24] cameel commented on #12422
OK, that's what was afraid would happen. Well, let me try it then.

[2022-01-14 21:34] cameel commented on #12422
Here's a PR: #12536. Let's see if your theory is true :) Feel free to review.

[2022-01-14 22:32] cameel commented on #12528
It might but the repro is not completely the same. Your case has no name in `@return`. Given that #9947 was fixed and the fix did not cover #11514, I think it's better to keep both open until we're sure both are fixed.

[2022-01-14 22:48] cameel commented on #12527
I'd say that we should remove it at least in the situation where it changes from a value above the threshold to one below. This will happen often with automatically added values that are originally just above the threshold. If they were automatically added then I think they should be automatically removed as well. Only values that were clearly added manually should stay.

[2022-01-14 22:50] #12422 closed, assigned to nobody

[2022-01-15 12:43] k06a commented on #12460
@ekpyron thanks, amazing!

[2022-01-16 01:39] maurelian opened #12538 "Syntax to explicitly indicate security properties of function calls"
## Abstract

Very little can be inferred about the effects of a function call simply by observing it in place. Adding symbols to function calls to indicate 'impure' behaviors would make it easier to review and audit solidity.

## Motivation

Solidity's built-in [visibility specifiers](https://docs.soliditylang.org/en/latest/cheatsheet.html#function-visibility-specifiers) and [modifiers](https://do

[2022-01-16 09:43] 0xsublime commented on #12538
A specifier (like `view` or `payable`) might also be enough to avoid this problem. Let's say that a function which may call an external contract, directly or through a subroutine, must have the `interaction` specifier on it.

In the case of `_safeMint` I think the reason this happens is that the actual external call happens in a subroutine several layers down. A dev looking at `_safeMint` may reas

[2022-01-16 09:46] hjorthjort commented on #12538
A specifier (like `view` or `payable`) might also be enough to avoid this problem. Let's say that a function which may call an external contract, directly or through a subroutine, must have the `interaction` specifier on it.

I think a specifier would be enough, because in the case of `_safeMint` the reason devs make this mistake is that the external call happens in a subroutine several calls down

[2022-01-16 14:38] maurelian commented on #12538
I like that idea (as noted towards the end of my initial post). But IMO that's a sufficiently different feature that it would merit a new issue, though I'd be somewhat surprised if it hasn't been requested before.

[2022-01-16 14:50] hjorthjort commented on #12538
Here's a relevant existing discussion: #10422

[2022-01-16 18:19] cameel commented on #11819
One important detail that needs to be taken into account here: the syntax has to work for public state variables too since these generate getter functions.

[2022-01-16 18:51] cameel commented on #6151
@Alan115-skyhand It is, but this is not the right place to ask support questions. Please try the [#solidity](https://gitter.im/ethereum/solidity) channel on Gitter or ask on https://ethereum.stackexchange.com.

[2022-01-16 20:23] MRvinjak commented on #12307
does you found the solution for this?

[2022-01-16 21:16] ousha2020 commented on #12307
Yes I found a solution, I used to make small transactions. thus, the reflection was too small to be viewed on the transaction, I increased the transaction size (E.G. %5 of the liquidity) and I saw the reflection coming, in a real-life scenario, the holder will see the election after multiple transactions (it will add up per transaction).
Let me know if this makes sense?

[2022-01-17 01:29] maurelian commented on #12538
I prefer this one: https://github.com/ethereum/solidity/issues/9248

[2022-01-17 08:52] hrkrshnn opened #12539 "Remove `payable` modifier for functions"
## Specification

- Remove the `payable` modifier for functions.
- All functions, starting from, say `0.9.0`, can receive ETH by default (i.e., the current semantics of payable functions).
- *Backwards compatibility*: Users may define and use a `nonPayable` modifier to make functions revert when ETH is attached to the call.
[code]
   Note: there is a subtle difference between `nonPayable` modifier

[2022-01-17 09:41] hrkrshnn opened #12540 "A static check for reentrant calls"
[Context](https://twitter.com/maurelian_/status/1482392167884763136)

Actually not sure how this can be implemented in a way that minimizes false positives.

This can be an info message.

[2022-01-17 10:08] bshastry opened #12541 "[Error reporting] Unary compile-time constant expressions not considered compile time constants"
[code]

wrongly reports the following errors:

[code]

I feel the error is wrong because `x` is a compile-time constant and hence `--x` should also be one. The implicit upcast should not be an issue since the compiler does not complain for

[code]

[2022-01-17 10:12] bshastry commented on #12541
Sorry, the error is legitimate because unary operators (++, --) apply to l-values that constants are not.

[2022-01-17 10:12] #12541 closed, assigned to nobody

[2022-01-17 10:14] ekpyron commented on #12540
IIRC @leonardoalt put some work into having the smt checker prove reentrancy safety, but not sure how well that'll work in complex cases in practice :-).

[2022-01-17 10:51] ekpyron commented on #9297
Looking at this again superficially, I think https://github.com/nodejs/node/issues/36616#issuecomment-757929741 may be responsible for this. The issue is open and active, so we can hope that this will finally be resolved on the node end eventually...

[2022-01-17 10:56] dwardu commented on #11819
@cameel Continuing [our discussion](https://forum.soliditylang.org/t/appstorage-for-distinguishing-state-variables-and-preventing-name-clashes/757/5?u=dwardu) here. Sorry, I might be missing something, but what’s wrong with:

[code]
?

[2022-01-17 11:04] ekpyron commented on #9297
Actually, these days I do see this issue even *with* explicit ``abort()`` or ``process.exit(0)``...
But I just tried https://github.com/nodejs/node/issues/36616#issuecomment-1014216889 and that does seem to help, i.e.
running with ``node --wasm-dynamic-tiering`` solves the issue for me...

[2022-01-17 11:18] leonardoalt commented on #12540
I don't think we should rely on the smtchecker to give this type of warnings. I think what they mean is probably a syntactic check

[2022-01-17 11:25] ekpyron commented on #12540
Yeah, sure - but if we decide *against* a syntactic check, since it'd have too many false positives, we could nudge people into trying that, if they want automatic analysis (in case it works reasonably well in practice).

[2022-01-17 11:26] cameel commented on #11819
Nothing yet, but we'd like to make it a keyword in 0.9.0. Then it will break. We almost did but had to revert that change (#11218, #11859).

[2022-01-17 12:11] hrkrshnn commented on #12540
@leonardoalt Even for SMTChecker, one will have to manually add a reentrancy lock to a function and see if the SMTChecker can tell if the function is reentrant, right? It would be nicer if one doesn't have to add the lock.

[2022-01-17 12:12] leonardoalt commented on #12540
Right that's true. For that feature you'd have to add some new query.

[2022-01-17 13:06] #12505 closed, assigned to Marenz

[2022-01-17 15:48] SamWilsn opened #12543 "Emit a warning when an assignment is unintentionally used in a condition"
## Abstract

Emit a warning when an assignment is unintentionally used in a condition.

## Motivation

[code]

The above code snippet is likely never intended. Solidity should emit a warning if a variable assignment is used in a condition without further comparisons.

## Specification

The simplest option would be to blanket warn if _any_ assignment appears in a condition, but that is fairly limit

[2022-01-17 15:59] SamWilsn commented on #12539
As an alternative, what if `payable` continues to exist, but not using it no longer inserts the check for external functions?

The behaviour would become consistent between internal/external calls.

Additionally, you could ban `msg.value` and the `CALLVALUE` opcode in non-payable functions (or just emit a warning.)

[2022-01-17 16:08] ekpyron commented on #12539
For the record: ``payable`` or ``nonpayable`` does not apply to internal functions, but only to external ones. I.e. there are no payable internal functions. That also justifies the behaviour of internal calls to public functions. ``msg.value`` and ``callvalue()`` are already only allowed in either internal functions or ``payable`` functions, so that also makes sense.

Also I see no reason to consi

[2022-01-17 17:04] LukeSamkharadze commented on #9624
Bump, I have the same problem.

[2022-01-17 17:08] ekpyron commented on #9624
The new code generation pipeline is pretty much stable right now - it's still nominally called ``experimental``, but we'll change that in the upcoming releases - so if it's an option for you, you can try to use the most recent compiler version with ``--experimental-via-ir --optimize`` and it may very well be that the problem is gone with that.

[2022-01-17 17:11] ekpyron commented on #12543
At least warning in cases without parentheses is probably a good idea!

[2022-01-17 17:52] LukeSamkharadze commented on #9624
How can we specify `--experimental-via-ir --optimize` [here](https://docs.soliditylang.org/en/v0.6.6/using-the-compiler.html#input-description) in settings field?

**Update:**

Look through [latest](https://docs.soliditylang.org/en/v0.8.11/using-the-compiler.html#input-description) docs, option is called `viaIR`

[2022-01-17 18:30] bshastry opened #12546 "[Sol->Yul] ICE due to invalid IR when compiling push on dynamic storage array of one of it's own elements"
[code]

throws

https://github.com/ethereum/solidity/blob/07d1bc5f37ab071ec8a33d98f663462ce83c38ea/libsolidity/codegen/ir/IRGenerator.cpp#L112

Repro

[code]

[2022-01-17 18:34] cameel commented on #10446
I'm going to close this after all. After spending much more time with these tests, I don't see much benefit in running them on multiple platforms. Knowing that it works on all of them and that our binaries pass bytecode comparison tests between these platforms already gives us high confidence that we'll catch platform-specific bugs.

Also, being constrained to shell syntax that is portable to both

[2022-01-17 18:34] #10446 closed, assigned to nobody

[2022-01-17 20:00] fulldecent opened #12547 "Further Document the resiliency of storage usage"
This extends. https://github.com/ethereum/solidity/issues/5293

---

A commitment has been made on the resiliency of Solidity storage slot locations:

And this commitment is being dependent on in EIP-1967 (DRAFT).

---

Please document this commitment in official project documentation.

[2022-01-17 22:59] Rav3nPL commented on #12528
Seems like it is there since 0.8.0, tried compile Uniswap v3 contracts every version from 0.8.0 up to .11

[2022-01-17 23:05] cameel commented on #12501
This does not look like any of the messages the compiler produces. The message makes me think of an error you would get if you put `solidity` into the `language` field in [Standard JSON input](https://docs.soliditylang.org/en/latest/using-the-compiler.html#compiler-input-and-output-json-description). If you're manually constructing that input, please note that the word `Solidity` must be capitaliz

[2022-01-17 23:05] #12501 closed, assigned to nobody

[2022-01-17 23:07] cameel commented on #12528
@Rav3nPL This is going to be fixed soon, but if you need a workaround, simply rename the `_liqiudity` return value to `liquidity`. Or just remove the whole line:
[code]

[2022-01-18 00:30] Rav3nPL commented on #12528
I see PR is waiting, just wanted to point it was there for some time.
Yes, I found that nasty underscore causing this.

[2022-01-18 03:30] ajb commented on #10706
Please, please, please implement this feature.

[2022-01-18 04:35] miketanto opened #12549 "Getting "TypeError: This variable is of storage pointer type and can be accessed without prior assignment, which would lead to undefined behaviour.", when initializing Array of struct inside struct."
### **Is there anyway to initialized a Struct which contains an Array of Structs?**

For context the pragma being used is pragma solidity 0.8.6
The structs in question look like this:
[code]
the problem lies when trying to initialize the MarketItem struct with this code:
[code]

When getting compiled it returns:
TypeError: This variable is of storage pointer type and can be accessed without prior

[2022-01-18 05:46] bendyarm commented on #9590
I believe this issue has its roots in a discussion @acoglio and I had with @leonardoalt .

In order to verify the correctness of specific applications of Yul optimizers, you need the before and after Yul code.

Right now, the "standard JSON" form can contain "ir" and "irOptimized", but those are source code, not ASTs.  Yul surface syntax is unambiguous so that's not too bad.  It does require that

[2022-01-18 09:33] cleanunicorn commented on #3556
However, calling `calculateSelector()` returns `0x00000000`.

![image](https://user-images.githubusercontent.com/547012/149909960-819ca6e5-975e-4181-98d0-472b53eaeadd.png)

Maybe I don't understand how this should be used.

[2022-01-18 10:56] ekpyron commented on #12549
A local variable like ``MarketSale[] storage _saleHistory;`` needs to actually point to a proper state variable (otherwise where in storage would you expect the array to be stored? Only state variables are assigned actual storage slots.).
So for example:
[code]

In case you don't want the array to actually be permanently stored in storage, you need to make it an ``memory`` array and create it with

[2022-01-18 10:56] #12549 closed, assigned to nobody

[2022-01-18 11:22] ekpyron commented on #3556
IIUC it's not really a working workaround. The idea was that ``function (address) external t = this.transfer; return t.selector;`` *could* be a workaround, *if* it worked (but it doesn't)...
I'm not sure there's a really *good* workaround at this point. What you can always do, though, is to define an abstract auxiliary contract in which the function is not overloaded (or calculate the hash manuall

[2022-01-18 11:28] k06a commented on #3556
@chriseth so what about the proposed synthax? https://github.com/ethereum/solidity/issues/3556#issuecomment-460272880

[2022-01-18 11:46] 0xmikko commented on #3556
Existing syntax create ambiguity, which could be a source of potential errors. Providing arguments looks as remedy for such errors, as it was mentioned above:

[code]

[2022-01-18 11:48] #12528 closed, assigned to Marenz

[2022-01-18 12:01] k06a commented on #3556
@MikaelLazarev moreover we already have similar syntax for abi.decode:
[code]

[2022-01-18 12:16] ekpyron opened #12550 "Better documentation for storage pointers"
Triggered by https://github.com/ethereum/solidity/issues/12549.

We don't seem to have this documented very clearly.
To my surprise I didn't find a nice docs link to respond to that issue and @cameel also had a look and concluded in chat:

    The only thing I could find is this: https://docs.soliditylang.org/en/latest/types.html#data-location-and-assignment-behaviour:

    I agree that we should

[2022-01-18 12:29] bshastry commented on #12546
Another example not involving push and element indexing of the same array

[code]

[2022-01-18 14:27] cameel commented on #9627
I think we should actually treat it as a breaking change (unless we decide to add a new option instead of changing this one). Some projects I've seen in the wild are using it to avoid "Stack too deep" errors. We don't guarantee that the optimizer steps we run won't change between releases but this one is a bit more disruptive. It would make anyone using a custom sequence stop getting stack compres

[2022-01-18 14:35] ekpyron commented on #9627
Ultimately we wanted to get rid of the stack compressor anyways... but even if I find the time and manage to actually have the new evm code transform do that, we still have the problem that it will still have to be invoked and even invoked at a different point when compiling for homestead... I wonder if keeping the second path for homestead is really worth it actually...
Or actually... even for ne

[2022-01-18 16:08] cameel opened #12554 "Don't require `override(A, B)` when inherited contracts already inherit from each other"
## Description
Let's consider a situation where we have a contract `C` that inherits from `A` and `B` where `B` already inherits from `A`. `A` provides a function that `B` overrides:

[code]
Currently the compiler reports an error if `C` does not define `function foo() public virtual override(A, B)`:
[code]

Technically, the compiler is right because both `A` and `B` provide conflicting definition

[2022-01-18 16:31] cameel commented on #12554
After discussing this with @ekpyron, we think that instead of relaxing the check it might be better to just discourage this inheritance pattern. After all, the fact that it may not be entirely clear to users that despite `B` inheriting from `A` there still exist two different versions of `foo()` in the hierarchy is a good reason to clarify the behavior with an explicit override.

Instead we could

[2022-01-18 21:55] miketanto commented on #12549
Thanks so much for the help! I'll definitely note to ask these questions on those other channels next time!

[2022-01-18 22:09] cameel commented on #9627
I'd stay with the current idea of creating a step just to keep the scope of this task small and manageable :)

BTW, can you say more about how it relates to Homestead? I don't know much about that.

[2022-01-18 22:21] cameel commented on #9590
@bendyarm

A bit off-topic but since you posted this here, just a heads up that we have made a slight adjustment to Yul grammar recently: #12545. Not sure if it makes any difference to your grammar definition (it might not be 1:1 with yours) but I see you do have `yul-path` there.

[2022-01-18 22:44] metrocoding opened #12555 "rewrite panoramix code to solidity"
I get some code from panoramix decompiler and I wanna simulate it in a solidity.
the statement is so complex for me when I write solidity code from it, it returns a different value than the deployed one. can anyone help me with this I know somehow panoramix doesn't decompile well when the statement is complex, and a lot of math operators with parentheses?
my code:
[code]

this is panoramix code th

[2022-01-18 22:47] metrocoding commented on #12555
i had same problem with statement below:
[code]
then adding parentheses after + 1 help to do calculation correct:
[code]

[2022-01-18 23:12] cameel commented on #3556
@chriseth is off now so we won't get an answer from him until February but for me this syntax looks ambiguous.

In the code below, would `this.g(Enum)` be a function call or a reference to a specific overload of the function?
[code]

I think we we need different syntax for this. Here are some ideas:

1. If you want to follow `abi.decode()`, then it could be something like this, without introducing

[2022-01-18 23:14] k06a commented on #3556
@cameel why it should look ambiguous if the param list contains types instead of expressions/values?

[2022-01-18 23:23] cameel commented on #3556
Type names are not necessarily reserved keywords. They can be just normal identifiers. Well, technically the ambiguity can be resolved but either way of doing it prevents you from doing something: in my example if you treat the type name as shadowed by a variable, it prevents you from being able to get a pointer to `g(Enum)`. If you ignore shadowing and always treat it as a type, you cannot call `

[2022-01-18 23:29] cameel commented on #3556
Unless you mean that appending `.selector` at the end makes it unambiguous that you're not referring to a call. But I think such context-dependent constructs unnecessarily complicate the language. It would require special-casing the parsing just for this and people would also need to know that it's a weird exception that breaks the general pattern. Adding new syntax for this seems much simpler to

[2022-01-18 23:38] cameel commented on #12555
This is a bug tracker for the Solidity compiler and is meant for reporting bugs and requesting new features. [Ethereum StackExchange](https://ethereum.stackexchange.com) is a better place for questions like this. You can also try asking on the [#solidity](https://gitter.im/ethereum/solidity) gitter channel.

[2022-01-18 23:38] #12555 closed, assigned to nobody

[2022-01-19 00:13] cameel commented on #12524
Thanks for the report!

It's not a bug though. You are using solc 0.7.6 and back then the `@notice` tag was not allowed on non-public state variables. This changed in 0.8.4 and now it's allowed. If you want to use `@notice` like this, please update to a newer compiler version.

[2022-01-19 00:13] #12524 closed, assigned to nobody

[2022-01-19 04:28] 0xmikko commented on #3556
@cameel Does the same problem with type names and variable names exist with abi.decode method, when you will provide Enum as parameter in types list: `abi.decode(this.transfer, (Enum))`? It looks like a little bit artificial, and as developer you can simply eliminate it by naming things properly.

Adding `abi.resolve` function also makes things more complex, cause selector is bytes4 constant, when

[2022-01-19 10:22] #12411 closed, assigned to nishant-sachdeva

[2022-01-19 11:36] ekpyron commented on #9627
The new code transform is incompatible with homestead, so we use the optimized version of the old code transform for it - and depending on the code transform it's better to call the stack compressor at different stages (the stack compressor is intertwined with the code transform - the code transform basically tells it which variables it should try to eliminate - for the old code transform that wor

[2022-01-19 12:17] ekpyron commented on #3556
Just to try to elaborate on the concern about the syntax in https://github.com/ethereum/solidity/issues/3556#issuecomment-460272880:
Technically, in solidity types are regular expressions of type "type type" :-). That's e.g. how ``abi.decode(..., <tuple of types>)`` works - that's not custom magic syntax for ``abi.decode``, but the tuple of types is a valid expression everywhere. You can also vali

[2022-01-19 12:41] #12546 closed, assigned to Marenz

[2022-01-19 13:59] cameel commented on #12539
We discussed it on the call today:
- The gas saving is really minuscule. Even if raw ether usage is going down, people can still lose it by sending to the wrong address and this protection does not seem overly expensive for what it provides. The prevailing opinion in the team was that, if the cost is the only reason, we're better off leaving it as is.
    - Perhaps it's getting so much attention b

[2022-01-19 14:31] cameel commented on #3556
@MikaelLazarev You're right. `abi.decode(this.transfer, (Enum))` has the same problem with shadowing and won't compile either if you define a variable called `Enum` so my argument was a bit weak.

Still, I really don't like how much of a special case that syntax would be. Like @ekpyron said, there's no magic with current `abi.decode()`. Parameter is just a tuple and cannot be interpreted different

[2022-01-19 14:35] cameel commented on #3556
Since #11284 would give us an easy way out of this, posting feedback there is likely this speed up getting to a solution here too. We need opinions on the proposed syntax (or new proposals).

[2022-01-19 15:13] k06a commented on #3556
Right now function pointers have argument types defined in compile-time and selector defined in run-time:
[code]

Let's add the ability to have `selector` fixed in the compile too:
[code]

Then `this.transfer` will be a function pointer with a fixed selector and for overloaded methods will create ambiguity during compilation and ask the developer to resolve this method with some of the syntax cons

[2022-01-19 15:42] cameel opened #12558 "ICE when copying storage structs to memory arrays via IR"
## Description
Found while working on the external test for [Pool Together v4](https://github.com/pooltogether/v4-core). The contract does not compile via IR at all due to an Internal Compiler Error. With legacy codegen the compilation succeeds.

## Steps to Reproduce
Here's a distilled repro for the ICE:
[code]
[code]

It only happens when the target struct is a part of an array (does not matter

[2022-01-19 15:55] ekpyron commented on #12558
This will happen for any reference type, e.g. the following will also trigger it:
[code]

[2022-01-19 15:59] bshastry commented on #12558
Co incidentally what I have been trying to get the fuzzer to generate :-)

[2022-01-19 16:01] ekpyron commented on #12558
Another one - apparently also doesn't have to be storage :-D...
[code]

For some reason we *only* took care of memory-to-memory there :-).

[2022-01-19 16:12] ekpyron opened #12559 "Investigate and improve test coverage for copying reference types between data locations."
https://github.com/ethereum/solidity/issues/12558 indicates that we are seriously lacking some tests in that area - so we should double-check that we have all combinations covered for value types and reference types up to a certain level of nesting.

[2022-01-19 18:19] ekpyron commented on #12558
Actually, I think this is even the same issue as https://github.com/ethereum/solidity/issues/12220

[2022-01-19 18:57] cameel commented on #12343
Another one that does not compile via IR: Tracer Perpetual Pools (#12561).

[code]

[2022-01-19 19:21] cameel commented on #12558
Just a heads up - I just merged #12560 so when this if fixed, please remember to re-enable the preset that triggers this ICE:
https://github.com/ethereum/solidity/blob/93f7d5f8f0be28d84158a6ccde7fd7d2050598d6/test/externalTests/pool-together.sh#L48

Hopefully it will pass. If not, disable it again and update the comment to state the new reason for disabling it.

[2022-01-19 20:18] #11611 closed, assigned to nishant-sachdeva

[2022-01-19 20:29] cameel commented on #12522
Just added a new idea. We could have a job that posts a table with gas cost diff compared to base branch (or always `develop`) in each PR. Not sure if it wouldn't be too annoying though.

[2022-01-20 02:34] zhiqiangxu opened #12563 "Can't construct address array directly"
[code]

The above will report error:

[code]

I'm using version `0.8.5`

[2022-01-20 10:01] ekpyron commented on #12563
Thanks for filing this issue!

You're right, that's a known shortcoming right now. Array literals (e.g. ``[address(0), address(0)]``) are only convertible to statically sized arrays at the moment, so only either of the following works:
[code]
or
[code]

We know that this is inconvenient and we're working on changing this, so hopefully in one of the next releases you *will* be able to simply use ``

[2022-01-20 10:01] #12563 closed, assigned to nobody

[2022-01-20 10:04] zhiqiangxu commented on #12563
`address[2] memory x = [address(0), address(0)]` doesn't work, reports:

`Type address payable[2] memory is not implicitly convertible to expected type address[2] memory.`

so maybe a separate issue?

[2022-01-20 10:06] bshastry opened #12564 "[Sol->Yul] ICE when copying array of function ptr type from storage to memory"
[code]

throws

https://github.com/ethereum/solidity/blob/0b9ab33fce5057ec4ea70842d13e6eafa593140c/libsolidity/codegen/ir/IRGeneratorForStatements.cpp#L2985

Repro

[code]

Note that memory to storage copy of the same type does not throw via IR.

[2022-01-20 10:08] ekpyron commented on #12563
Which version of solidity are you using? That indeed used to be a separate issue, but that's already fixed.
With the current compiler version 0.8.11, it does work for me.

[2022-01-20 10:12] zhiqiangxu commented on #12563
was using 0.8.5, upgrading to 0.8.11 indeed fixed this issue, thanks!

[2022-01-20 10:14] ekpyron commented on #12564
Also falls under https://github.com/ethereum/solidity/issues/12558

[2022-01-20 10:15] ekpyron commented on #12564
But due to the base type being a multi-slot type, it's actually an interesting special case, which we should watch out for when fixing #12558, so probably good to keep it open and check specifically.

[2022-01-20 10:17] bshastry commented on #12564
Closing as duplicate of #12558

[2022-01-20 10:17] #12564 closed, assigned to nobody

[2022-01-20 10:18] bshastry commented on #12558
Short update: Fuzzer reports this case (via different canonical type ~~but that does not matter~~) now which is somewhat reassuring :-)

[code]

Edit: Struck through comment regarding function types being uninteresting

[2022-01-20 10:20] ekpyron commented on #12558
External function pointers as base type are actually a nice special case to keep in mind (since it's a multi-slot type), so it's a good case to test specifically when fixing this :-).

[2022-01-20 10:20] ekpyron commented on #12564
Ok, I just commented there to watch out for multi-slot base types then :-).

[2022-01-20 11:11] peroket commented on #6789
Hello, I would like to take part in the community, and this task seems like a good one to start with.

One solution would be to use the vector `initializer_list' constructor. The order for those is defined left to right. The constraints is that all types need to match, so it may require casting first. That is a solution for light types though, as the values will be copied.

Otherwise I could propo

[2022-01-20 12:42] Marenz commented on #11677
It seems at this point this is _only_ a problem with the yul backend.
The old codegen doesn't seem to call `fromType.isImplicitlyConvertibleTo(targetType)` like the new one.

[2022-01-20 14:50] #11677 closed, assigned to Marenz

[2022-01-21 01:52] drortirosh commented on #12539
can add `payable` at the **contract** level, to imply all methods explicitly defined in this contract are payable

[2022-01-21 09:30] bshastry opened #12570 "[OptimizedEVMCodeTransform] ICE due to "Could not create stack layout after 1000 iterations""
[code]

throws

https://github.com/ethereum/solidity/blob/55467c1ccaffd5fcf6ea988d5e091d468a08f533/libyul/backends/evm/StackHelpers.h#L121

The fuzzer upstream reported this bug (see https://github.com/ethereum/solidity/blob/55467c1ccaffd5fcf6ea988d5e091d468a08f533/test/tools/ossfuzz/strictasm_assembly_ossfuzz.cpp#L49)

I could not reproduce via solc CLI.

[2022-01-21 10:17] ekpyron commented on #12570
Oh, "nice"! That's likely a real proper bug in the stack shuffling then :-)

[2022-01-21 10:21] ekpyron commented on #12570
Can be reproduced by the following as ``test/libyul/evmCodeTransform/`` test:
[code]

[2022-01-21 10:33] ekpyron commented on #12522
It being nicely readable output in a CI run or a CI artifact or so would probably be enough and less annoying...
As you wrote: If the logic was clever enough not to re-post on new pushs, but to edit its initial comment, it might be fine, but maybe also more trouble than it's worth :-).

[2022-01-21 11:09] ekpyron commented on #12570
Out of curiosity: did you change the fuzzing in some way or is it pure coincidence that this only comes up now? The stack shuffling hasn't changed for quite a while... May very well be that it only occurs in *very* specific cases and that's why it took a long time, but not sure...

Anyways, I actually find it reassuring that the fuzzer is able to come up with this - when we started fuzzing this, I

[2022-01-21 13:38] ekpyron commented on #12570
Ah, ok, interesting...
This is also a "StackTooDeep" case...
The stack shuffling algorithms *wants* to do a too-deep-swap, but tries to avoid it, since it's too-deep - and then hits a swapping cycle because of that...

[2022-01-21 13:39] ekpyron commented on #12570
Actually not sure if I should try to fix this in the shuffling algorithm or instead just have shuffling abort early on stack issues (either way this will ultimately report a stack too deep error, it's currently just disguised)

[2022-01-21 14:50] ekpyron commented on #12570
Might actually be nice to keep this open despite https://github.com/ethereum/solidity/pull/12572...
While https://github.com/ethereum/solidity/pull/12572 "fixes" this to a regular stack-too-deep error, theoretically, it would be possible to generate code for this without a stack-too-deep, it'd just require some trickery that's beyond the current setup...

[2022-01-21 17:49] Amxx opened #12573 "Add description of events "imported" from libraries in a contract's ABI"
## Abstract

Contracts can emit events defined in libraries, either directly or using functions defined in these libraries. This works well, and the produced bytecode indeed emit the correct events, but the corresponding descriptions are not part of contracts's ABI

This results in potential difficulty to parse the events with tooling that relies on the ABI for event decoding.

## Motivation

Lets

[2022-01-21 20:35] Usmaniatech commented on #4170
I tried changing the versions but didn't work
Source file requires different compiler version (current compiler is 0.6.0+commit.26b70077.Windows.msvc - note that nightly builds are considered to be strictly less than the released version\npragma solidity ^0.8.0;

[2022-01-22 00:55] cameel commented on #4170
Guys, this is a long-dead issue asking about something completely different, i.e. why nightly builds of the compiler with a version like `0.4.23-develop.2018.5.15+commit.124ca40d.Linux.g++` can't be used to compile a contract that has `pragma solidity ^0.4.23`. The only connection to your questions is that you're getting the same error message (for a different reason - you are not using a nightly

[2022-01-22 07:18] gorgos commented on #409
@chriseth What's the current status considering it's back in the icebox?

[2022-01-22 10:04] hrkrshnn commented on #409
@gorgos we are not convinced about implementing these types and the corresponding operations since there is no canonical implementation. Existing implementations are vastly different. Binary v/s decimals. 512 bit multiplication v/s reverting on shadow overflow. Differences in rounding etc.

Currently, we want users to be able to implement this convinently using user defined value types and custom

[2022-01-22 14:27] 3sGgpQ8H commented on #409
@hrkrshnn It seems there is a chicken and egg problem: https://github.com/OpenZeppelin/openzeppelin-contracts/issues/2265#issuecomment-639835390

My suggestion about how this problem could be solved is that at stage one Solidity could implement a fixed-point type natively (probably several such types, it there is no definite winner among candidates) but don't implement arithmetic operations on suc

[2022-01-24 02:29] frangio commented on #12539
I can speak for myself: it is absolutely not representative of my opinion. Opt-in `payable` serves a purpose, it is not a dumb waste of gas that the compiler is inflicting on us. It should never be used as a gas-saving measure, except by MEV searchers or in other niche areas.

This is 24 gas we're talking about. In the context of a 50000 gas ERC20 transfer, this is 0.05% of the entire transaction,

[2022-01-24 09:06] bshastry commented on #12570
I would tend to think it is co-incidence but will take a closer look.

It is possible that the fuzzer that actually detected this issue took a long time because it is not semantics-aware (simply mutates raw bytes treating yul input as a binary stream). On the other hand, the semantics-aware fuzzer does not probe the new code transform if old code gen contains a stack too deep error. We are doing t

[2022-01-24 11:56] hrkrshnn commented on #12573
This is a duplicate of https://github.com/ethereum/solidity/issues/9765, and is almost implemented in https://github.com/ethereum/solidity/pull/10996

The last I checked, this requires a breaking change in the NatSpec output. We can schedule this for 0.9.0.

[2022-01-24 13:43] cameel commented on #12535
@nishant-sachdeva

The one that matches the spec :) Value-type parameters are not hashed and the value passed to the event is just one byte (`0x31`, i.e. `"1"` in ASCII) so that's what should be stored.

IR behavior is weird here though. The value is not a hash but the original `bytes16` value so somehow it does not generate code for the `bytes1` conversion. Or maybe the lower bytes just aren't cl

[2022-01-24 14:41] frangio commented on #409
With the introduction of user defined value types I no longer think it's necessary for Solidity to implement a fixed point type.

Standardization of this type could (should?) happen as an EIP.

[2022-01-24 21:38] cameel commented on #12291
Comment from CircleCI from 2022-01-11 on [Support new M1 ARM-based Macs](https://circleci.canny.io/cloud-feature-requests/p/support-new-m1-arm-based-macs):

This is probably because [AWS started offering M1 recently](https://aws.amazon.com/about-aws/whats-new/2021/12/amazon-ec2-m1-mac-instances-macos/). The "dedicated host" option AFAIK means using the [VM service](https://circleci.com/docs/2.0/vm

[2022-01-25 06:31] SanjaySinghRajpoot commented on #12550
I would like to work on this issue.

[2022-01-25 10:47] Amxx opened #12581 "Extend the language to have an EVENT.selector and ERROR.selector"
## Abstract

Add `ev.selector` and `err.selector` fields that would work similarly to `fun.selector`, extracting event signature (topic 0) from its definition

[code]

## Motivation

Some cross chain mechanism, such as polygon's [FxBaseRootTunnel](https://github.com/fx-portal/contracts/blob/main/contracts/tunnel/FxBaseRootTunnel.sol), perform event inclusion check that require the event signature.

[2022-01-25 12:12] axic commented on #12581
This data is not currently inspectable on-chain.  Would this mean it would be used for processing some kind of proofs?

Isn't using a constant-keccak256 expression a good enough solution for now?

[2022-01-25 12:33] Amxx commented on #12581
Yes, it would be used to process some kind of proof.

constant-keccak256 expression is good enough, just like `bytes4(keccak256("transfer(address,uint256")` used to be enough: it works, but it is error prone.

[2022-01-25 13:23] frangio commented on #12581
`Event.selector` as well as `CustomError.selector` could both make sense. If they're necessary, it's better for the compiler to generate them.

[2022-01-25 13:39] ekpyron commented on #409
That's pretty much the status of this, yes - we're working towards allowing customly defined operators on user-defined types which will allow for a full implementation of fixed point types on the user side which can then, for example, be standardized as an EIP or we may also suggest a standard implementation in a compiler-integrated standard library.

[2022-01-25 15:04] 3sGgpQ8H commented on #409
Custom type + custom operations on that type wouldn't solve the problem, as it is not possible to introduce convenient literals this way, however without literals fixed point code will remain unreadable.  I believe, that nowadays decimal fixed-point formats prevail over binary fixed-point and floating-point formats solely because Solidity kind of support decimals fixed-point literals in the form `

[2022-01-25 15:46] ekpyron commented on #409
Literals will be part of the complete user-defined type construct.

[2022-01-25 20:21] maurelian commented on #12581
This would likely also be useful for Optimism's bridges

[2022-01-26 04:34] wranai commented on #12513
I came here to request the same thing. My idea was to add a more generic `@ slot`  modifier at the end of the declaration, something like:

[code]

The compiler should pay attention to skip the numbers that are specified, or maybe `slot` could be restricted to numbers larger than e.g. 2**32 to avoid clashes.

EDIT: And now I just saw it's **exactly** what was suggested here: https://github.com/eth

[2022-01-26 09:54] Marenz commented on #12543
Going with the same logic, would

[code]

or

[code]

create a warning?

[2022-01-26 10:11] ekpyron commented on #12543
IIUC the first one would be fine, the second one would warn or fail. While
``if ((a = (true || false))) ...`` would be fine again, but assign a different expression to ``a`` (which happens to have the same value in the example).

[2022-01-26 10:21] Marenz commented on #12350
the example in the last comment doesn't cause an ICE for me. Are there more steps required?

[2022-01-26 12:11] Marenz commented on #11044
Here is a suggestion of how the output could look:

[code]

[2022-01-26 12:26] ekpyron commented on #11044
@Marenz What's ``value``? Also why not stick to the layout of ``deployedBytecode.immutableReferences``?
I'm actually wondering if we could just reuse the very same fields and just use the name instead of the AST ID, in case we don't have an AST ID... although that'd of course potentially raise backwards compatibility concerns...

[2022-01-26 12:28] Marenz commented on #11044
`value` would be the actual value of the immutable that way it also provides the length as well.
I thought about reusing the existing one, but it felt very dirty to mix completely different identifiers together (ast ids and names used in yul when calling `setimmutable`)

Also notice how the length repeats needlessly for the old fields, when you'd only need it once...

[2022-01-26 12:30] Marenz commented on #11044
I wanted to include the `value` because while with the ASTs you can print the AST tree and get the actual value of the immutable, you can't do the same with the yul code (short of printing the yulcode itself  of course) so this would provide a JSON-specifc way to get that value, removing the need to do any extra parsing to get the same information as you'd get with the AST immutables.

[2022-01-26 13:02] Shungy commented on #12350
Maybe you don't have the tr_TR.UTF-8 locale installed. I replicated again using the optional steps to get the same environment I wrote in my original post.

[code]

[2022-01-26 13:45] ekpyron commented on #11044
I'm still not sure what value you're talking about... in general, you don't know the value the immutable will get.

[2022-01-26 14:03] Marenz commented on #11044
Why wouldn't I know it? Isn't it given in the function call `setimmutable(0, "name", value)`?

[2022-01-26 14:05] ekpyron commented on #11044
But you don't know the value of ``value``, it can depend on anything, e.g. on constructor arguments. Or did you want to include the expression? Not sure that would be overly helpful.

[2022-01-26 14:06] Marenz commented on #11044
Ah, true. I guess `length` has to be enough in that case.

[2022-01-26 18:14] elijahhampton commented on #12244
I just saw your comment.  Sure thing!

[2022-01-26 20:39] nventuro opened #12587 "Immutable dynamic arrays"
## Abstract

Add native support for dynamic `immutable` arrays, with a length defined at construction time (up to a maximum) and automatic bounds checks.

## Motivation

`immutable` is a fantastic feature, allowing for highly efficient configuration access without forcing developers to use hardcoded constants, making testing and deployment much easier and enjoyable. However, there is zero support

[2022-01-26 21:19] hrkrshnn commented on #11278
A suggestion from [Nick](https://twitter.com/nicksdjohnson/status/1486389026676678656).

Instead of trying to decode the error data, if try-catch for custom errors (and for the rest) reverts if the `abi.decode` fails, then the implementation would be far simpler!

However, this behaviour would be inconsistent with the current try-catch statement.

[2022-01-26 21:24] frangio commented on #12295
Would really like to see this. On top of the ones mentioned in the issue, I'd add custom errors and user defined value types.

It's currently weird because it's possible to add NatSpec in the source code but it doesn't show up in the AST.

[2022-01-26 22:20] ylv-io commented on #12587
love the code sample

[2022-01-27 07:46] kraikov commented on #12539
To put it in a different perspective.

~1M transactions * 24 gas = ~1.2 Ethers saved each day (considering the gas price is 50 gwei)

[2022-01-27 09:05] jaglinux commented on #12587
Since it's really not dynamic array, better syntax would be
IERC20[10] internal immutable _tokens;

[2022-01-27 10:29] ekpyron commented on #12587
Thanks for the issue - this has been on our longer term agenda ever since we introduced immutables :-) (I'm actually surprised that it wasn't requested much earlier ;-)).
At least I hadn't considered a maximal length for such dynamic immutable arrays - that's an interesting idea that could make this easier (but I could also imagine that fully dynamic arrays would not be that much harder actually).

[2022-01-27 11:11] nventuro commented on #12587
I haven't given this much thought, so I can't quite comment on complexity of such an implementation. In all scenarios where I'd use this however, a maximum length (which also means there's some wasted bytecode on the unused slots) is good enough.

Yes, while the bytecode size for immutable variables in my example would be the same, the actual code that accesses them would not (both size and gas wo

[2022-01-27 12:41] ekpyron commented on #11044
Given that the AST ID is also the actual string used in the immutable pseudo-opcodes in Yul, I'd actually say we can just reuse ``deployedBytecode.immutableReferences`` and just use whatever string is used for the immutables in Yul as keys in there.

[2022-01-27 12:42] ekpyron commented on #11044
Given that the AST ID is also the actual string used in the immutable pseudo-opcodes in Yul, I'd actually say we can just reuse ``deployedBytecode.immutableReferences`` and just use whatever string is used for the immutables in Yul as keys in there.

[2022-01-27 12:59] simontianx commented on #12587
Just would like to bring up a particular use case of mapping to an immutable array like in `mapping(uint256=>uint256[10] immutable) data`. This may find applications in ordered NFT batch standards.

[2022-01-27 13:18] nventuro commented on #12587
Hm, I'm not quite sure how you'd do mappings as they are currently extremely storage based (since they key is just a 256 bit hash, there's no notion of the 'capacity' of the map). But you'd likely be able to implement such a thing yourself using multiple immutable arrays (a few with the actual data, and one that tells you which mapping to use), though it'd require some boilerplate similar to the o

[2022-01-27 13:40] simontianx commented on #12587
I think it's similar to `mapping(uint256=>uint256[10]) data;`, except the values in a mapped array cannot be modified.

Is this an immutable struct?

[2022-01-27 13:46] bshastry opened #12590 "[Assembler] Yul code compiled for EVM <= byzantium returns invalid instruction status code on EVMC call"
[code]

fails https://github.com/ethereum/solidity/blob/597426bd1c93e1d75940d5e9dacdb55123228a01/test/tools/ossfuzz/StackReuseCodegenFuzzer.cpp#L99-L102

To reproduce, one would have to assemble the Yul code targeted at tangerine whistle, deploy and issue a call and print status code of the call.

[2022-01-27 13:47] bshastry commented on #12590
The question here is why does the assembler emit an invalid opcode for tangerine whistle. Is the `exp` opcode not supported for that EVM version?

[2022-01-27 13:54] bshastry commented on #12590
Invalid instruction is generated for EVM versions `<= byzantium`

[2022-01-27 17:08] cameel commented on #7261
Going back to the example from the description. I think that we could improve the situation a little by having the documentation explicitly say when **not** to use `super`. Currently it shows that you can use it to solve the problem with the diamond pattern but it may not be clear that it's not something appropriate in all situations. In your example the explicit `A.f(); B.f();` is actually what *

[2022-01-27 17:58] frangio commented on #7261
I agree in this case `super` should not be used. But if you had `B is A` and B itself did use super, then using `super.f()` is the only correct way to implement `C.f()`.

By this I mean to say that super should not be removed.

Unless of course it is replaced by some other equivalent mechanism. Like the more explicit notion of before-, after-, and around-methods in CLOS.

[2022-01-28 12:25] cameel commented on #12087
I think it's technically breaking but there's zero evidence of actual use in practice so I think treating it as a bug should be ok. It won't really impact anyone in practice.

I did a code search and I can see [zero results for `string.concat` on sourcegraph](https://sourcegraph.com/search?q=context:global+lang:Solidity+content:"string.concat"&patternType=literal&case=yes).
I also tried a few vari

[2022-01-28 12:38] ekpyron commented on #12087
I'd also tend towards making it a bugfix, so we told @nishant-sachdeva to start relative to ``develop`` for now. But we should be able to trivially rebase any code changes relative to ``develop`` to ``breaking``, so we can still change our mind.

[2022-01-28 13:19] bshastry commented on #12590
Invalid instruction is also generated for latest EVM version (london). For example:

[code]

[2022-01-28 16:35] jdspugh commented on #4588
How about storing require() and revert() messages as part of the ABI to save on-chain space? The ABI can be published on less critical storage systems like Etherscan so the users can still see them.

[2022-01-28 17:03] cameel commented on #4588
This problem has already been solved. The modern alternative to having string mesages are [custom errors](https://docs.soliditylang.org/en/latest/contracts.html#errors-and-the-revert-statement).

There's also an alternative proposal for an error code system (#9813). The codes could be mapped to error messages specified out of band like you're proposing. There's not much motivation to implement it

[2022-01-28 17:52] #12535 closed, assigned to nishant-sachdeva

[2022-01-29 00:09] cameel commented on #6789
Sorry for a late response. I think we'll actually need @ekpyron's opinion here. This issue is marked only as a candidate rather than `good first issue` because, while it'll be easy to implement once we have the right idea, it needs some discussion before we get what we want.

Personally I like your explicit get syntax. Stacked `()` operator never reads well. So as long as it enforces the order too

[2022-01-29 12:17] PatDoe opened #12597 "Is there any way to identify which function that call current function?"
In the full call chain  , such as Function A in  Contract A -> call Function B in Contract B, is there possible to identify the name of function A in function B?

[2022-01-30 04:38] jdspugh commented on #4588
Thanks for the update. Good to know. I'm using custom errors now. Next phase I imagine will be having a set of standardised custom errors for common use cases like InsufficientBalance so blockchain viewers can easily interpret them even without the source code/ABI.

[2022-01-30 04:59] Assawal commented on #4588
Sent from my Huawei phone-------- Original message --------From: Jonathan Pugh ***@***.***>Date: Sun, 30 Jan 2022, 09:39To: ethereum/solidity ***@***.***>Cc: Subscribed ***@***.***>Subject: Re: [ethereum/solidity] Error reason strings in `require()` and `revert()` are expensive. Is that expected behavior? (#4588)
Thanks for the update. Good to know. I'm using custom errors now. Next phase I imagin

[2022-01-30 05:47] elijahhampton commented on #12244
@cameel https://github.com/ethereum/solc-bin/pull/108

I would be happy to take another look at this.  My first instinct was to re create the IPLD object swapping out the parts that multi formats could handle.

[2022-01-31 07:50] maxsam4 commented on #12539
A compiler flag would be ideal IMO.

Another major reason (why I originally did this and realized what's going on) is the batch call functionality that is being adopted more and more in the real world. eg [Uniswap's multicall](https://github.com/Uniswap/v3-periphery/blob/bf9fb697113476f1a45bd62f4f580a3177943155/contracts/base/Multicall.sol#L11). Here, if you want to send ether to a batch call, all

[2022-01-31 13:59] cameel commented on #12597
No, currently you can only get function selector through the `.selector` member. The signature is not available that way.

This bug tracker is not the right place for questions like this. Please try the [#soldity](https://gitter.im/ethereum/solidity) gitter channel or [Ethereum Stack Exchange](ethereum.stackexchange.com) instead. It this is actually a feature request, please use the proper templat

[2022-01-31 13:59] #12597 closed, assigned to nobody

[2022-01-31 14:42] bshastry opened #12600 "[Sol->Yul] Clean up of dirty storage bits in tuple assignment does not happen on inline assembly read"
[code]

The isoltest call to `f()` via IR does not return `3` (instead returns `uint256` 0x00...0403 i.e., `4` placed at index 1 as if the tuple assignment in the constructor was not cleaned up).

Legacy call to `f()` returns `3`.

[2022-01-31 14:46] bshastry commented on #12600
This may be a false positive in the following sense

[code]

as documented here: https://docs.soliditylang.org/en/latest/internals/variable_cleanup.html

Nonetheless, it would be good if this could be confirmed by another pair of eyes :-)

[2022-01-31 15:13] christianparpart opened #12601 "LSP test framework improvements"
After some discussions with @Marenz and now @chriseth, I'm writing down what we agreed on:

In order to avoid messing with file offsets, the idea is to reference cursor locations and source location ranges via Solidity comments.
Using one or more `^` below a line to mark the line above at these columns as a source location.

If it's a single `^`, then that location can be used as "position" (e.g.

[2022-01-31 15:16] mosinnik opened #12602 "The interaction between function types and the ternary operator is not documented"
## Page

https://docs.soliditylang.org/en/v0.8.11/grammar.html

## Abstract

Found code: https://github.com/balancer-labs/balancer-v2-monorepo/blob/master/pkg/pool-linear/contracts/LinearPool.sol#L275-L282
[code]

But can't find any documentation for such function choosing. Can anyone link to docs how it work?

## Pull request
-

[2022-01-31 15:22] christianparpart opened #12603 "Support remappings.txt in LSP"
Seems like vscode-solidity supports the remappings.txt format of dapptools now, too. It would make sense to adopt it then for our LSP server.

See: https://github.com/gakonst/dapptools-template/blob/master/remappings.txt

[2022-01-31 15:35] cameel commented on #12603
My proposal would be to make it a general feature (not just for LSP). We could add a CLI option for specifying remappings in a file, e.g. `--remappings=<path>` or (`--remappings-file=<path>` as proposed by @christianparpart on gitter). The file would have the same simple structure as `remappings.txt` (i.e. just a plain list of remappings, one per line). Since `remappings.txt` is getting some tract

[2022-01-31 15:42] chriseth commented on #12601
In addition to that, we should check if it is possible to make the expectations even more condensed:
[code]
or something like that

[2022-01-31 15:44] cameel commented on #12602
`LinearMath._calcMainOutPerBptIn()` and `LinearMath._calcWrappedOutPerBptIn()` are just internal functions defined in a library and if you refer to a function by name (without giving it parameters), you get a value of a [function type](https://docs.soliditylang.org/en/latest/types.html#function-types). This is a very common convention, used for examplein C, C++, Python or JavaScript. In Solidity y

[2022-01-31 15:45] christianparpart commented on #12601
this might work but not for all request/response cases. however, responses holding an array of locations could be expressed easily dense, too:
[code]

(or something like that)

[2022-01-31 15:49] chriseth commented on #12603
We should be careful here. We have to avoid that the LSP behaves differently than the compiler itself. In addition to that, remappings should be less and less common now that we have include paths.

For now, I think it would be better to handle this mechanism inside the plugins instead of the LSP, at least until we have some more generic project configuration file that can be read by both the lsp

[2022-01-31 16:29] mosinnik commented on #12602
@cameel thanks, docs is enough, just can't find it

[2022-01-31 16:29] #12602 closed, assigned to nobody

[2022-01-31 17:04] #12220 closed, assigned to hrkrshnn

[2022-01-31 17:04] #12558 closed, assigned to hrkrshnn

[2022-01-31 17:15] chriseth commented on #12466
If you use global functions (as well as internal library functions), only the functions that are called are included in the bytecode. You can split functions across multiple files in any way you wish. If you want to use a function from a different file, you just have to import it.

[2022-01-31 17:20] chriseth commented on #12533
Would it be an option to disable any code modifications but enable the optimized evm code transforrm?

[2022-01-31 17:35] hrkrshnn commented on #12603
Foundry also uses `remappings.txt`. https://github.com/gakonst/foundry. A common template (https://github.com/ZeframLou/foundry-template) uses it, so I think `remappings.txt` will be prevalent.

[2022-01-31 18:14] Nielsbishere commented on #12466
Yeah I'm using global functions now for the things I can. Some generate too much bytecode tho so I can't stop using library functions unfortunately.

[2022-01-31 18:24] chriseth commented on #12268
Can you check how this does in combination with https://github.com/ethereum/solidity/pull/12206 ?

[2022-02-01 11:06] ghost opened #12609 "Sdi"
## Description

## Environment

- Compiler version:
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduce

[2022-02-01 11:33] #12609 closed, assigned to nobody

[2022-02-01 14:19] beerefine opened #12610 "Support for `offchain` keyword"
## Abstract

A lot of expensive sanity checks can be performed off-chain. I propose a new solidity keyword with simple, familiar syntax and fully compatible with current EVM opcodes.

## Motivation

Gas costs increase significantly with complexity. Moreover, a lot of information present on-chain can be fetched off-chain, saving significant gas for storage access.

## Specification

Similarly to th

[2022-02-01 14:48] peroket commented on #6789
So maybe the best is to not provide such a functionality at all, and let each person solve that problem locally (meaning remove the helper function)?
It's not used in many places, so I can do that easily as well.

[2022-02-01 15:24] stevennevins commented on #12603
It's worth mentioning that while the remappings.txt is still there in ZeframLou's repo, that I think foundry is moving away from it in favor of the foundry.toml file also in the repo: https://github.com/ZeframLou/foundry-template/blob/main/foundry.toml

[2022-02-01 15:52] gakonst commented on #12603
Foundry maintainer here, I'd support this over a remappings txt given that it'd might be too specific / restrictive (and yeah we might not use the txt file as much in the future). We're OK with passing in remappings over CLI.

[2022-02-01 22:43] cameel commented on #12610
That's an interesting idea. Very similar to how for example in C/C++ you have the `assert()` macro that only generates code in debug builds to avoid any runtime penalty in production ones. has similar downsides though.

Unfortunately I don't think it would work out in practice. This would need support from blockchain clients and the flow would probably be something like this:
1. You submit your si

[2022-02-01 23:58] shuklaayush opened #12612 "Doc: slot calculation for mappings of strings/byte arrays"
## Page

https://docs.soliditylang.org/en/v0.8.11/internals/layout_in_storage.html#mappings-and-dynamic-arrays

## Abstract

I think the second bullet point here is incorrect. For strings and byte arrays, h is just the unpadded data and not its hash.

## Pull request

I can make a PR once I get a confirmation

[2022-02-02 00:03] fulldecent opened #12613 "NatSpec: allow @dev @param @inheritdoc for libraries"
## Page

[
](https://docs.soliditylang.org/en/latest/natspec-format.html?highlight=NatSpec)

## Abstract

Update NatSpec specification at https://docs.soliditylang.org/en/latest/natspec-format.html?highlight=NatSpec

And update JSON parser.

## Pull request

(I can make if invited)

[2022-02-02 00:16] fulldecent opened #12614 "[Docs] Order of contract parts / Solidity Style Guide maintenance"
## Page

https://docs.soliditylang.org/en/latest/style-guide.html?highlight=style%20guide

## Abstract

It is specified:

But this advice is not followed in examples.

<img width="537" alt="Screen Shot 2022-02-01 at 19 14 07" src="https://user-images.githubusercontent.com/382183/152072835-4a95955e-7a29-40f6-a60b-143660c3f69b.png">
<img width="446" alt="Screen Shot 2022-02-01 at 19 14 25" src="http

[2022-02-02 11:05] ekpyron commented on #12614
Right, thanks, I had not paid attention to constructors when merging https://github.com/ethereum/solidity/pull/12569...
Looking at the examples, I also realize that we don't specify a place for ``error`` declarations - and whatever we'd specify, the ``safe-remote.rst`` example would violate it :-)... and it already violates the event-modifier ordering... and it has the constructor *after* the modi

[2022-02-02 12:51] chriseth commented on #12547
I'm sorry, but "we currently have no plans" does not sound like a commitment to me that needs documenting. What do you want to achieve and what would your proposal for a documentation update be?

[2022-02-02 12:53] chriseth commented on #12554
Sounds good to warn about the weird pattern!

[2022-02-02 13:16] k06a opened #12615 "Function override inconsistency bug"
## Description

Inconsistent `override` identifier necessity behavior. We can have a typo in the method name and the compiler will not give us a clue we have 2 methods instead of 1.

## Environment

- Compiler version: 0.8.11
- Framework/IDE (e.g. Truffle or Remix): Remix, Hardhat

## Steps to Reproduce

Using `contract Ext is IExt, Base {}` in the following code unexpectedly produces no errors bu

[2022-02-02 13:41] k06a commented on #9610
Any progress on this? I believe private methods should not be exposed in any form, even to produce a compile-time errors because of the "same" naming.

[2022-02-02 14:55] ekpyron commented on #12614
We briefly discussed this in our meeting today and we would actually ideally like to hand over the maintenance of the style guide to the community, since we don't want to impose any personal preferences and would rather like the guide to reflect common practice in the community.
Any suggestions on how best to organize that?

[2022-02-02 14:59] ekpyron commented on #12554
We actually use that pattern ourselves in the inheritance documentation: https://docs.soliditylang.org/en/v0.8.11/contracts.html#inheritance - we should probably change that...

[2022-02-02 15:20] k06a commented on #12539
Don't forget if someone would mistakenly send some ETH by pressing the wrong button in MetaMask, this ether will not only be stuck on the contract, but this person will also pay 9000 of gas extra for the call with `msg.value > 0`. I am not sure 24 gas is worth introducing such a potential issue. I am afraid all the developers will be forced to use `nonPayable` for most of the methods instead of ha

[2022-02-02 15:22] ekpyron commented on #12615
Oh, wow, thanks! Apparently something went wrong there when we dropped the ``override`` requirement on ``interface`` functions, we should definitely fix this ASAP!

[2022-02-02 15:24] k06a commented on #9119
@chriseth I can't find any difference between the 2 provided examples? Is it a typo?

[2022-02-02 15:31] ekpyron commented on #9119
The difference stems from how we internally formulate simplification rules in https://github.com/ethereum/solidity/blob/develop/libevmasm/RuleList.h and isn't clear in the issue description - we use ``A, B, C, ...`` for constants and ``X, Y, Z, ...`` for arbitrary expressions when pattern matching simplification rules.

[2022-02-02 17:28] chriseth commented on #12613
Sorry, I don't understand what this issue is about. If you want, please create a PR directly.

[2022-02-02 17:32] chriseth commented on #12612
Oh wow, this is embarassing! You are totally right!

[2022-02-02 17:44] k06a commented on #11889
Had the same issue in the mid 2020: https://github.com/ethereum/solidity/issues/9610

[2022-02-02 17:57] k06a commented on #9119
@ekpyron thx!

[2022-02-02 18:18] ekpyron commented on #9610
Unfortunately not - I don't see any really *strong* opposition to this in either of the two issues, but there was never an actual decision for or against doing it and then apparently it got lost amidst other priorities - I can try moving it up on our agenda again. EDIT: it's actually already our first item on our design backlog, so hopefully we can make some progress soon.

[2022-02-02 18:54] Soundpisey opened #12617 "0x60606040"
## Page

## Abstract

## Pull request

[2022-02-02 18:55] Soundpisey commented on #12617
0x60606040

[2022-02-02 19:03] cameel commented on #12617
Spam.

[2022-02-02 19:03] #12617 closed

[2022-02-02 20:08] cameel commented on #12554
Yeah, adjusting the docs should be relatively easy though given that the pattern is really superfluous.

I'm adding this to implementation backlog in that case.

[2022-02-02 20:16] cameel commented on #9610
Yeah, I bumped it in design backlog after seeing the comment in the other issue. We can talk about it at the [design call next Wednesday](https://docs.soliditylang.org/en/latest/contributing.html#team-calls). Also, a reminder that the design calls are open in case anyone would like to join. The decision here looks straightforward to me though (I think we should not report an error here) so I don't

[2022-02-02 20:43] ekpyron commented on #12554
The problem is that if we remove the superfluous bases in the docs example, then it's no longer an example that actually shows of ``override(...)`` :-). So we'll need another example in which that's *actually* required...

[2022-02-02 21:30] cameel commented on #12554
We can introduce some additional contract so that `PriceFeed.destroy()` still needs `override(...)`. For example `contract Pausable is Destructible` that overrides both `get()` and `destroy()` so that they revert if you try to use them when it's paused.

[2022-02-02 23:12] fulldecent commented on #12613
Yeah, wow that was pretty bad, sorry!

Fixed at https://github.com/ethereum/solidity/pull/12618

[2022-02-02 23:34] fulldecent commented on #12614
Thank you for reviewing. Yes, that sounds good since it does not have any normative impact on Solidity proper.

Here is a recommend plan. And I volunteer to take all the responsibility and the work for these.

# Work plan

- [ ] Create new style repo https://github.com/ethereum/solidity-style-guide just for the style guide

  - [ ] Name "Solidity Community Style Guide"
  - [ ] Add me as maintainer

[2022-02-02 23:39] fulldecent commented on #12547
How about this?

Such language would be helpful for e.g. EIP1967 as well as block explorers which may perform inspection of storage locations.

I can make a PR if acceptable.

[2022-02-03 07:33] k06a commented on #9610
@cameel mark this as duplicate, since #11889 got more attention

[2022-02-03 07:36] k06a commented on #11889
Now `private` works as hypothetical `final`/`nonoverride`, but I wish `private` methods produce no side effects outside of the contracts/libraries.

[2022-02-03 07:53] NineWoranop opened #12619 "New data type of variable (Built-in struct/class such as encrypted)"
## Abstract

In C/C++, you could create your class with custom operator and functions that code could be used in OOO.
From my understanding, it still be too early to introduce custom functions that could be stored on blockchain and they could be executed from any EVM. so I will reduce the scope to be new data type as built-in classes that will be supported on EVM.

## Motivation

Due to current da

[2022-02-03 10:46] chriseth commented on #12619
I'm not sure I understand your proposal. Do you want to have a mechanism to access functions or data in implementations of the EVM that differ from Ethereum mainnet? If yes, then a high-level built-in data type is probably not the right way to do this. My counter-proposal would be to allow access to these features through inline assembly (or by calling special contracts at pre-defined addresses) a

[2022-02-03 10:49] chriseth commented on #12547
I don't think this is the right language. We cannot tell what the future brings.

Would it be a big enough commitment for you to say that storage layout changes are a breaking change and if this happens, we try to provide a mechanism so that new contracts can always be compiled in a "compatibility mode"?

[2022-02-03 11:45] NineWoranop commented on #12619
@chriseth Sorry, my proposal might not be clear enough. As I mentioned early, I would like to let solidity think about new kind of ability on the language as built-in function that could attach on data type. In this case, I expected to have specific function (encrypt) similar with "required" function that support condition. However, encrypt function does not use the condition immediately at that l

[2022-02-03 12:01] ekpyron opened #12621 "AST JSON tests do not clear AST for parse-only test cases."
For example ``test/libsolidity/ASTJSON/assembly/switch.json`` and ``ASTJSON/assembly/nested_functions.sol`` can have arbitrary contents and the tests still pass.
My guess is that's because it's tests with syntax errors and the tests only consider the ``parseOnly`` cases. I'm not sure it's intentional for the cases, though, or whether they just broke at some point unnoticed. In any case this should

[2022-02-03 12:30] k06a commented on #10195
I support for this proposal

[2022-02-03 12:43] k06a opened #12622 "Explicit downcast does not work for inherited contracts/interfaces."
## Description

Explicit downcast does not work for inherited contracts/interfaces.

Imagine you have the following interface hierarchy:
[code]

We have the following behavior now:
- Upcasts works with **implicit** type casts:

[code]

- Downcast doesn't work even with **explicit** type casts:

[code]

- We are required to cast over `address`:

[code]

## Environment

- Compiler version: 0.8.11
-

[2022-02-03 12:45] chriseth commented on #4588
Just to clarify because it is not clear whether this is part of the ABI: The recommended way to document custom errors (and thus get actual strings) is via natspec.

[2022-02-03 12:51] chriseth commented on #12590
The only thing I could think of is that the optimizer adds a shift opcode, but I currently cannot reproduce this.

Maybe @gumb0 has any insights into this?

[2022-02-03 12:53] chriseth commented on #12543
I'm a bit torn on this, since the easy fix is to never compare to bools but use `!a` instead.
Does this problem happen a lot so that it requires a feature in the compiler instead of a linter?

[2022-02-03 13:53] gumb0 commented on #12590
Yes, shifts were added in Constantinople, so shift opcode in Byzantium would be invalid.

As for London no idea, nothing was deprecated for sure.
But that (london) code should generate stack underflow instead? (could be wrong error from evmone?)

[2022-02-03 14:22] ekpyron commented on #12614
That sounds great, thank you very much for volunteering for this!
We'll discuss this internally and will get back to you - and maybe it actually makes sense to have a call about this? For example, you're welcome to join our [design call next Wednesday](https://docs.soliditylang.org/en/latest/contributing.html#team-calls) or we could try and schedule a dedicated call about this, if you like.

[2022-02-03 15:23] ekpyron commented on #9610
Closing in favour of https://github.com/ethereum/solidity/issues/11889

[2022-02-03 15:23] #9610 closed, assigned to nobody

[2022-02-03 17:15] chriseth commented on #12622
I'm not sure we should change the current behaviour. The cast from IFoo to IBar is wrong. It may be "less wrong" than casting to address or casting to a completely unrelated contract, but it is still wrong.

[2022-02-03 17:17] chriseth commented on #12590
Yeah, I don't think the shift opcode is the problem, I think it's rather either a problem in evmc or how we interface with evmc.

[2022-02-03 17:23] #12613 closed, assigned to nobody

[2022-02-03 17:24] k06a commented on #12622
@chriseth but this is what happens in a lot of projects and that's why we need **explicit** cast - to show that developer is understanding the risk. Multiple programming languages allow such **explicit** casting, that's why I advocate Solidity should allow too.

[2022-02-03 17:25] chriseth commented on #12619
Can you maybe write a small and complete example that does not contain `...`?

[2022-02-03 17:32] chriseth commented on #12622
Can you provide some pointers to where this conversion across address is used to convert to a derived contract?

[2022-02-03 18:03] k06a commented on #12622
For example I can't have `IExtendedERC20` instead of `IERC20` in argument:
[code]

I am forced to have `IERC20`:
[code]

[2022-02-03 22:09] NineWoranop commented on #12619
It seems my specification, use case and example don't quite right from start.
For now, I could not come up with better use case and example.
Let's me re-define the specification and example.

#### Specification
encrypted {variableName} = encrypt({data}, {condition function})
OR
encrypted {variableName} = encrypt({data}, &{condition function})

#### Synonym
- &
means Point to a function. It could b

[2022-02-03 22:53] ekpyron commented on #12622
But even in this example, I'd actually agree with @chriseth - since ``IMarket`` defines the interface function as taking ``IERC20``, every implementation will have to allow for the possibility that ``someAction`` is called with an arbitrary ``IERC20`` token... that's pretty much the promise you give by implementing ``IMarket`` - if my implementation of ``someAction`` will break for anything that's

[2022-02-03 23:42] k06a commented on #12622
My example makes more sense if there is a contract hierarchy instead of interfaces:
[code]

I will try to provide a more realistic example soon.

[2022-02-03 23:45] k06a commented on #12622
Here is a huge discussion on downcasting: https://softwareengineering.stackexchange.com/questions/366592/what-is-a-proper-use-of-downcasting

[2022-02-04 01:30] NineWoranop commented on #12619
@chriseth In case, that encrypted data type seems not be clear description yet.
I could reduce the scope to be another proposal if it still be interested.

#### Specifition

    condition {variableName} = conditionInterface{condition:{struct/class}, pass:{condition function of struct}};

    interface conditionInterface{
        function condition(struct data) public view returns(bool);//always re

[2022-02-04 10:29] ekpyron commented on #12622
I don't doubt that there are situations in which you really want and validly can downcast.
The main advantage of forcing a conversion via ``address`` is that with such a conversion there is no doubt that the cast will *not* involve any kind of runtime type checking or the like, while a direct explicit conversion may suggest otherwise.
But yes, maybe more realistic examples would be helpful.

[2022-02-04 11:08] dezzeus commented on #11351
Any update ? @cameel

[2022-02-04 11:24] k06a commented on #12622
I see such downcasts happens in a lot of different projects (`[^t][. (][A-Z][a-zA-Z0-9]+\(address\([^0]`):

- Balancer https://github.com/balancer-labs/balancer-v2-monorepo

    <img width="626" alt="image" src="https://user-images.githubusercontent.com/702124/152520457-7eb0ff25-5d58-4a2a-a25e-fa625a9954c7.png">

- Compound https://github.com/compound-finance/compound-protocol

    <img width="587

[2022-02-04 11:27] cameel commented on #11351
Sorry, nothing yet. We'll get to this eventually but in the short term there are a few things from our roadmap that have priority, like getting the IR compilation pipline ready for general use.

[2022-02-04 12:38] k06a commented on #12622
There are 3 types of casting:
- Upcast
- Downcast
- Badcast

And there are 3 types of behavior:
- Implicit
- Explicit
- Denied (works over `address`)

Current state:
- Upсasts are implicit
- Downdasts are denied
- Badcasts are denied

Currect difference in behavior for both integral and contract/interface types:

Type | Upcast | Downcast | Badcast
---- | ---- | ---- | ----
integral types | implici

[2022-02-04 12:45] k06a commented on #12622
Right now we can't distinguish syntax of downcast from "badcast". I wish never do "badcast", but Solidity syntax right now do not allow me to check that.

How can I make sure my code has no "badcast"? They look exactly the same way as downcasts.

**I think this is the strongest point in this requirement to allow explicit downcasts.**

[2022-02-04 12:59] k06a commented on #12328
Implicit contract/interface conversion to `address` would create troubles with methods signatures: `address .transfer(uint256)` and `address.send(uint256)` and others. We could extract this methods away from address: `evm.transfer(address, uint256)` or smith like this. Casting to `address` in arguments feels really bad.

[2022-02-04 15:05] ekpyron commented on #12622
Ok, you do have at the very least some point there.

Conversely, would you say that there is no danger at all that a downcast might suggest that some type checking happens (i.e. that a user or reviewer might be inclined to think that an invalid explicit downcast reverts)? If you go via ``address`` it is much clearer syntactically that no runtime-checking will happen. I guess that's the strongest c

[2022-02-04 15:08] ekpyron commented on #12622
Partly off-topic and mainly to have the issues linked: This is also be something to keep in mind for a future discussion of https://github.com/ethereum/solidity/issues/11284.

[2022-02-04 15:40] cameel opened #12631 "Fix post previews on the Solidity blog"
We'd like to have an easy way to preview posts in [solidity-blog](https://github.com/ethereum/solidity-blog) PRs. We used to do this via Netlify but support for that has been dropped.

The blog is just a static Jekyll site and our CI jobs attach it as an artifact so just visiting `index.html` could work. Unfortunately looks like the image links are relative to domain root and don't lead to the rig

[2022-02-04 16:12] cameel commented on #12622
I think that this is another issue where #11284 is a blocker. When we have that we'll be able to introduce more specific flavors of casts. Downcasts are still dangerous but something like `downcast<IBar>(foo)` would at least check that `IBar` is some specialization of the type that `foo` is, which is at least a bit more than going through `address` gives you.

[2022-02-04 16:25] ekpyron commented on #12622
https://github.com/ethereum/solidity/issues/11284 is not unlikely to end up being breaking, so I would try to avoid considering it "blocking" for anything (at least too quickly), but rather collect things that can be more smoothly solved by it in 0.9 to consider when we get to it, but still try to solve issues using the current conversions directly, if possible (and there's agreement about it - wh

[2022-02-04 16:51] cameel commented on #12622
Well, we know that the current conversion syntax is limiting so I think it's better to do the opposite - first figure out how to fix it. It then makes implementing some features on top of it easy (like downcasting or casting function types). I think that's better than trying to shoehorn it into the current system.

About not having an agreement yet - true. My position is that I see some value in i

[2022-02-04 16:58] fulldecent commented on #12614
Thank you, I'm in. Will catch you there.

[2022-02-04 19:50] cameel commented on #5956
Looks like [Optimism's contracts](https://github.com/ethereum-optimism/optimism/tree/develop/packages/contracts) are mostly 0.8.9. Contracts targetting L2 would be an interesting addition.

[2022-02-04 20:18] frangio commented on #12622
I think casts should always be considered unsafe. Integer downcasting is extremely unsafe because it truncates but the compiler doesn't warn about it. Casting "through" address doesn't really provide anything here IMO.

[2022-02-04 20:23] k06a commented on #12622
I was considering any cast looks like unsafe, but somehow happened, that downcast was denied. Explicit casting itself shows that something strange happening. Now I really afraid if I do “badcasts” anywhere in my code - no way to check my dowcasts.

[2022-02-04 20:25] k06a commented on #12622
Since upcasts happens implicitly, I assume no-one is using explicit cast operation for upcast.

[2022-02-04 23:29] cameel commented on #12622
These are very good points. I agree, we should just make explicit cast work between arbitrary contracts. They're already unsafe in all but trivial cases because they're only useful with addresses.

[2022-02-04 23:33] k06a commented on #12622
@cameel by arbitrary contracts you mean downcasting? It will be a bad idea to allow this:
[code]

This "bad" casting should be done via address: `B b = B(address(a));` or better not done at all :)

[2022-02-04 23:52] cameel commented on #12622
I wanted to say any casting, including to a "bad" contract, because the difference between this and downcasting is not that big to me. Both are inherently unsafe. With downcasting there's one extra check that can catch one specific class of errors but you can still cast to a type not actually supported by the contract.

But, thinking more about it, for example integer conversions mentioned by @fra

[2022-02-05 01:16] k06a commented on #12622
@cameel I wish compiler to prevent me from casting `A(b)` when contract/interfaces are siblings or even not in the same hierarchy. If I want to make sure this is not happening I will just avoid using `A(address(b))` ever - this will let me believe I have only implicit upcasts and explicit downcasts.

[2022-02-05 14:41] k06a opened #12635 "Tuple elements index access"
## Abstract

Tuples elements can be accessed with indexes. Let's have it!

## Motivation

Other programming languages have this feature, it's quite useful. I believe code could be more expressive with this feature.

## Specification

Tuple could be called anonymous struct, with both name and field names anonymous. We could use indexes to have access to individual fields:

[code]

## Backwards Comp

[2022-02-06 03:54] aniketpcsync commented on #12228
Hey, you can take a look at this answer https://github.com/trufflesuite/ganache/issues/2289 # #

[2022-02-07 03:57] fulldecent commented on #12547
Yes, that's great.

PR -> https://github.com/ethereum/solidity/pull/12638

[2022-02-07 07:33] beerefine commented on #12610
you understand the flow perfectly. and yes, as I mentioned the `offchain` block should be pure. I agree that what `pure` means in the context of a code-block rather than an entire function is different and it should not allow side effects such as writing to memory outside of the block. so thank you for that good observation. however, I do not agree about your arguments:
1. _"This would need suppor

[2022-02-07 09:49] cameel commented on #12610
What I meant is that you need support from clients to execute it. Otherwise it's just a piece of dead code that's useless without client-side support.

I mean, this was more of an argument against executing it off-chain at all. A `require()` executed off-chain is just not reliable enough in that sense compared to one that gets executed on-chain.

[2022-02-07 09:54] #12612 closed, assigned to nobody

[2022-02-07 09:57] chriseth opened #12639 "Ideas for built-in SMT"
- do the splitting earlier, so that the theory component can report a minimal set of infeasible clauses back to the boolean component
- the theory component can synthesize simple boolean implications using bounds on variables: If we have literals `A: x <= 7` and `B: x < 8`, it can infer `\neg A \lor B`.
- when the theory component finds a set of infeasible constraints, it might be good to run it a

[2022-02-07 09:58] chriseth commented on #12639
Relates to https://github.com/ethereum/solidity/pull/12002

[2022-02-07 10:08] ekpyron commented on #12639
May be worth thinking about a more involved incremental simplex implementation à la https://yices.csl.sri.com/papers/cav06.pdf

[2022-02-07 10:33] chriseth commented on #12558
re-enabled it here: https://github.com/ethereum/solidity/pull/12640

[2022-02-07 10:39] chriseth commented on #12573
Closing as duplicate.

[2022-02-07 10:39] #12573 closed, assigned to nobody

[2022-02-07 10:47] chriseth commented on #12581
This sounds good, but we have to find a better name. For anonymous events, `topic0` is something else.

[2022-02-07 10:54] cameel opened #12641 "Enable plain `assert()` in non-release builds in CI"
Apparently we have the [`assert`](https://en.cppreference.com/w/cpp/error/assert) macro disabled in CI, even in non-release builds - at least on Windows (see https://github.com/ethereum/solidity/pull/12634#discussion_r800191742). While this macro is generally discouraged in our project in favor of the `solAssert()` family of macros, we still do have them in some places and I think that they should

[2022-02-07 11:11] cameel commented on #12228
@aniketpcsync What about it? It looks like an unrelated issue with similar effects. I.e. printing the whole file as a single line in traceback.

[2022-02-07 11:15] cameel commented on #12228
Ah, wait, it was not a question. So you're suggesting to use source maps? I'm not even sure we generate them. If we do, we discard them immediately. And I also think that disabling the minification would be much better than minifying and then having to ship source maps that negate all the speed and size benefits.

[2022-02-07 11:17] chriseth commented on #12600
I don't think this is about cleanup - it is about the order of evaluation of the assignment to the storage variable.
For Yul, we kind of promise strict left-to-right evaluation, so
[code]
should be equivalent to
[code]
but it seems this is not the case.

[2022-02-07 11:20] chriseth commented on #12600
I'm also wondering if `s0 = [5]` sets the size to 1.

[2022-02-07 11:21] bshastry commented on #12600
If it is an order-of-evaluation issue, I don't understand why a call to `f()` via legacy would return `3` (it should also have evaluated the second tuple expression in any case).

[2022-02-07 11:39] chriseth commented on #12619
I'm sorry, but I still have no idea what area your proposal actually lies in.

[2022-02-07 11:47] chriseth commented on #12328
Implicit conversion is not performed for member lookup, so I don't see a problem here.

[2022-02-07 12:03] chriseth commented on #12635
The main problem I see is that tuples are not "proper" types in solidity.

[2022-02-07 12:08] chriseth commented on #12600
Can you modify it to also return the length? I think in legacy, it just evaluates from right to left and thus the last assignment is `s0 = [3]`.

[2022-02-07 12:21] #11044 closed, assigned to Marenz

[2022-02-07 12:55] cameel commented on #12635
But it's just the fact that we have no tuple-type variables, right? I don't think this particular feature would force us in any way to introduce them.

Though I'm not sure I like the proposed syntax. The index looks like a field name, which it is not. Why not array brackets instead?

[2022-02-07 13:17] Kenun99 opened #12643 "I have implemented LLVM supports."
## Abstract

We need generate LLVM bitcode for each smart contract so as to support code-independent optimizations or sanitizers.

## Motivation

Actually, I have implemented EthSema (https://github.com/Kenun99/ethsema) to translate **EVM bytecode** to **LLVM bitcode**. To evaluate the correctness of the LLVM bitcode generated. I further use it to compile for eWASM smart contracts via an LLVM back

[2022-02-07 13:23] chriseth commented on #12635
The point is that we do not want to have arbitrary access to tuple elements - the element always has to be a compile-time constant, otherwise code generation gets very complicated.

[2022-02-07 13:24] chriseth commented on #12643
This is out of scope for this project, sorry.

[2022-02-07 13:24] #12643 closed, assigned to nobody

[2022-02-07 13:36] bshastry commented on #12600
The function `g()` in the original post returns the contents of the array by copying it to memory. There both legacy and IR return the same length (`1`) and content (`3`).

[2022-02-07 14:40] frangio commented on #12581
What about `selector` just like for functions?

[2022-02-07 15:02] cameel commented on #12449
Maybe we could at least say which contract is being assembled?
In an example like this with 106 input files that would still be *something*.

[2022-02-07 15:35] cameel commented on #1256
I have an idea. What if, instead of adding implicit rules on overload resolution we added a way to clarify the type of an argument?

My proposal would be to introduce a special conversion operator, let's call it `exact()`, that would make its argument not implicitly convertible to anything. Example:

[code]

The operator would affect the expression rather than "stick" to the value. When you copy/a

[2022-02-07 15:41] ekpyron commented on #12635
Yeah, conceptually, as @k06a says, tuples should work like anonymous structs with only compile-time fixed members for accessing tuple elements.
Dynamically accessing tuple elements is not only complicated in code generation, but more importantly, it's impossible to type-check, so that's a no-go, but static access is fine.

But yeah, I'd actually even be down for promoting tuples to proper, even na

[2022-02-07 16:13] ekpyron commented on #1256
I would actually say we can relax this even more radically.
Implicit conversions induce an ordering of types, e.g. ``uint8 < uint16 < uint64 < uint256``.
We can actually use this order for this.
So in
[code]
we can just disregard ``f(uint256)``, since ``uint64`` is implicitly convertible to ``uint256`` and thereby ``uint64`` is strictly more specialized than ``uint256``.

[2022-02-07 16:18] ekpyron commented on #1256
So in general, if I have two overload choices ``f(A)`` and ``f(B)``, I can disregard ``f(B)`` exactly if ``A`` is implicitly convertible to ``B``, but ``B`` is not implicitly convertible to ``A``. That works even if the argument type that triggered the overload resolution is merely implicitly convertible to ``A``, but not identical to ``A``.

[2022-02-08 03:35] skywormfol opened #12645 "SMTChecker example doesn't output the correct result as stated in the documentation"
## Page

https://docs.soliditylang.org/en/v0.8.10/smtchecker.html

## Abstract

For the example Monotonic contract of version 0.8.10, "Since f is indeed monotonically increasing, the SMTChecker proves that our property is correct." according to the documentation.
However, I checked it by my own compiled Solidity, the results are as follows,

Warning: CHC: Overflow (resulting value larger than 2**2

[2022-02-08 03:53] a3d4 commented on #12641
PR #12644 enables `assert`s for MSVC `RelWithDevInfo` by adjusting `CMAKE_CXX_FLAGS_RELWITHDEBINFO`:
[code]

Implementation differs from setting `CMAKE_CXX_FLAGS` for GNU/Clang though:
[code]

It fails locally, as expected, but succeeds on CI, which runs `Release`.

I do support the idea to enable the standard C++ `assert`s. I would even consider doing it in `Release`, even if that sounds unorthod

[2022-02-08 07:59] chriseth commented on #12641
Please check the performance. For boost multiprecision, it makes a huge difference if it is built in debug or release mode. I would not be surprised if they also use some assertions.

[2022-02-08 10:08] leonardoalt commented on #12645
Hi @gaobo89 !

Please note that the timeout is given in milliseconds, and the solver can't find the answer within 10ms. Maybe try giving it a bit more time :) locally for me 100ms is enough, but usually I tend to give it 1s, 10s, or more depending on the problem.

Which solc version? There was a recent bug that was causing that, which was fixed 2 or 3 versions ago. If you're using the latest versi

[2022-02-08 11:17] skywormfol commented on #12645
Dear Leo,

Thanks for your response, it solves my problem, the timeout really matters!

[2022-02-08 11:17] #12645 closed, assigned to leonardoalt

[2022-02-08 12:19] drortirosh opened #12647 "external contract can waste caller's gas by return value."
When calling a contract, the compiler always assigns a buffer to hold entire returned data, even if not in use.
even when calling a "void" function, the generated yul code always does
[code]
regardless if there is a code to use the data or not.

This command, by itself, doesn't cause any significant gas usage. however, any future memory operation will start at higher offset, and the caller contrac

[2022-02-08 14:23] stevennevins opened #12648 "LSP Feature doHover() Implementation"
## Abstract

I'm pretty sure doHover() is a LSP method that allows for automatic/keyboard shortcut triggered documentation popups.  The coc plugin indicated that it couldn't show documentation because doHover() wasn't implemented by the lsp

## Motivation

Standard lsp method that will benefit other integerations

## Specification

Expose doHover()

## Backwards Compatibility

N/A

-->

[2022-02-08 14:24] cameel commented on #12641
Does not seem to affect runtime performance in a significant way:
| CI workflow | `t_win_soltest` | `b_bytecode_win` | `t_win_release_soltest` |
|---|---------------|----------------|-----------------------|
| [`develop`](https://app.circleci.com/pipelines/github/ethereum/solidity/22088/workflows/1d787445-6ac4-4115-b2d9-5001f999bff2) | 12:18 | 10:05 | 12:32 |
| [PR #12664](https://app.circleci.com

[2022-02-08 14:30] chriseth commented on #12647
Since the ABI decoder only verifies that returned data is not too short, we could limit the return size to the max size, if the max size is a constant and there are no pointers involved when decoding.

In general, I'm not too keen on guarding against hostile called contracts with regards to wasting gas, this is rather complicated and, at least to me, the benefit is not too big.

[2022-02-08 14:34] cameel commented on #12641
I think it runs `RelWithDebInfo` actually (as long as we're talking about Linux runs). For example for `b_ubu` we do not specify build type in `.circleci/config.yml` so it should be `RelWithDebInfo`. So I guess assertions should be enabled there? Have you checked this one specifically?

It looks like we should add `CMAKE_BUILD_TYPE=Release` to some release jobs though, like `b_ubu_release`. Right

[2022-02-08 14:35] chriseth commented on #12648
The version we released was a very early preview. Documentation on hover is on our roadmap.

[2022-02-08 14:35] #12648 closed, assigned to nobody

[2022-02-08 14:37] chriseth commented on #12641
We should check some more computation-intensive examples. Most of our tests do not need a lot of computation on bigints, but for example the linear solver will.

[2022-02-08 14:44] cameel commented on #12648
We do not handle `doHover()` though, do we? I don't see it in the source at least.

I think we should keep this open until we implement it.

[2022-02-08 14:54] chriseth commented on #12648
I don't think we should have random issues open for some lsp features and not for others.

[2022-02-08 14:58] stevennevins opened #12649 "LSP Code Folding - Improper folding"
## Description

LSP improper detection of code folding

## Environment

- Compiler version: 0.8.11
- Framework/IDE (e.g. Truffle or Remix): Vim
- Operating system: MacOS

## Steps to Reproduce

## Example

setup function folds improperly

[code]

<img width="317" alt="Screen Shot 2022-02-08 at 9 40 27 AM" src="https://user-images.githubusercontent.com/12021290/153012756-15845adc-80ef-4e00-9e41-de1

[2022-02-08 15:00] chriseth commented on #12649
Code folding is not implemented in the solidity lsp. Could this maybe come from a different plugin?