[2020-03-26 14:24] #8389 closed, assigned to bshastry

[2020-03-26 14:28] leonardoalt commented on #8506
Hopefully fixed by https://github.com/ethereum/solidity/pull/8530

@mickys please reopen otherwise

[2020-03-26 14:28] #8506 closed, assigned to nobody

[2020-03-26 15:46] chriseth commented on #7101
With immutables, this problem gets worse and cannot really be fixed.

[2020-03-26 15:46] #7101 closed, assigned to nobody

[2020-03-26 15:47] #6061 closed, assigned to nobody

[2020-03-26 16:41] bshastry opened #8540 "[Inheritance] Error on library functions that are "virtual""
## Description

The following should result in a compiler error (the `virtual` keyword is meaningless because libraries cannot be inherited) but is silently ignored.

[code]

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-03-26 16:49] chriseth commented on #8540
Place of implementation is probably bool TypeChecker::visit(FunctionDefinition const& _function)

[2020-03-26 16:51] chriseth commented on #8540
This is a breaking change, but I guess no real smart contract would have used it anyway.

[2020-03-26 17:22] chriseth opened #8541 "Refactor checks on Contracts"
The type checker contains multiple occurrences of
[code]

These should be extracted into some helper "forAllContracts" or something like that, which takes a lambda.

[2020-03-26 19:21] rumkin commented on #1687
It's also reasonable to make json files be importable as ABI in such way:

[code]
And for JSON files with custom structure it's possible to define a path inside of JSON:
[code]

Where `./erc.json` is a path to ABI file and `#contracts[0].abi` is a path inside of JSON object.

[2020-03-26 21:21] mijovic commented on #8537
I will fix this

[2020-03-27 06:47] mickys commented on #8506
Can confirm `set(CMAKE_OSX_DEPLOYMENT_TARGET "10.14")` in CMakeLists.txt
builds the project on 10.13 using default High Sierra - Xcode version 10.1

@leonardoalt
1. `-- Performing Test fmacro-prefix-map=Usersmickytestsb3=solidity - Failed` - should we be worried about this ?
2. can we bundle this as a diff / patch for homebrew ? ( i can lend a hand here )

FIY: If you have a different Xcode Versio

[2020-03-27 07:32] mickys opened #8543 "Building using GCC 9.3 on MacOS"
Current develop branch at commit *4a7d2e590d144a4b3fdd136128df072214b99946*
Same result on older releases ( i tested on 0.5.11 )

Might be a good idea to be able to compile using gcc, as an alternative to Xcode for older mac installs.

### cmake
[code]
### Make Log
[code]

[2020-03-27 09:24] bshastry opened #8544 "More precise error for interface functions with modifiers?"
## Description

[code]

currently produces

[code]

A more precise error would be "interface functions cannot have modifiers" since they should not be implemented by definition.

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-03-27 14:15] leonardoalt commented on #8506
@mickys thanks for the hints for other users!

I don't use MacOS so not sure about the patch.
@axic thoughts?

[2020-03-27 14:24] axic commented on #8506
A quick google search indicates we do not need to care about this.

@mickys can you explain?

[2020-03-27 15:01] mehranshakeri opened #8545 "Function modifier effect on return value"
## Description

Having the following code

[code]
Given any address as the input to getStatus functions, I expect to see false as the return value for the first one and an error for the other two. However, `getStatus1` returns false and two others return true.

This is happening in the Ropsten test net but everything is correct in Kovan. I didn't try it in the main net though.

Also the thread on

[2020-03-27 15:06] leonardoalt commented on #8545
I tried it on Remix and it goes exactly how you expect. Did you try it there too?

[2020-03-27 15:31] mehranshakeri commented on #8545
Yes, I'm using Remix. Have you used my smart contract? I expect none of them to return `true`.

[2020-03-27 15:35] leonardoalt commented on #8545
Yes, they don't. The first one returns `false` and the other two revert.

[2020-03-27 15:37] leonardoalt commented on #8545
Do you mean on Remix or Ropsten?

[2020-03-27 16:05] mehranshakeri commented on #8545
Using Remix to call the smart contract deployed on Ropsten. I have the same issue calling it from my NodeJS backend so I don't think Remix is the issue. I also deployed it on Kovan and it is fine there.

Our first conclusion was that there must be something different between Ropsten and Kovan and first thought was it's most probably the compiler issue.

[2020-03-27 16:17] leonardoalt commented on #8545
I don't think it's a compiler issue, as the bytecode is the same regardless which chain you're running on. Did you deploy the same bytecode on both chains?

[2020-03-27 16:18] mehranshakeri commented on #8545
I just tried it with Javascript VM in remix and it's fine but using Ropsten (via meta mask) it returns wrong results.

[2020-03-27 16:18] leonardoalt commented on #8545
Right, but how was it compiled and deployed?

[2020-03-27 16:19] mehranshakeri commented on #8545
Yes, I used Remix for deployment and the same source code. I will try it again now for Kovan and share the results here

[2020-03-27 16:19] mehranshakeri commented on #8545
Remix

[2020-03-27 16:24] mehranshakeri commented on #8545
Here is a Kovan deployment with the source code attached:
https://kovan.etherscan.io/address/0x552748c93a38939f1330629a3016a97accd6d0d9#code

[2020-03-27 16:44] leonardoalt commented on #8545
Bytecodes are the same. Are the testnets running on the same EVM version?

[2020-03-27 17:10] mehranshakeri commented on #8545
I'm not sure how can I verify that.

[2020-03-27 18:14] mickys commented on #8506
@axic
homebrew solidity@5 script at https://github.com/ethereum/homebrew-ethereum/blob/master/solidity%405.rb

the homebrew script just gets "https://github.com/ethereum/solidity/releases/download/v0.5.17/solidity_0.5.17.tar.gz" and expands this archive, then runs the install procedure
[code]

What we'd need is a way to inject the changes in #8530 into the extracted archive, or repackage all relea

[2020-03-28 02:09] KyleBenzle opened #8546 "“TypeError” for a simple program causing failure to compile, “Type address is not implicitly convertible to expected type address payable.”"
## Prerequisites

Truffle v5.1.15 (core: 5.1.15)
Node v10.15.2

## Description

(From Lynda Etheruem course)

I get this error:
TypeError: Type address is not implicitly convertible to expected type address payable.
    receiver = _receiver;
               ^-------^

when trying to compile the following:

[code]

[2020-03-28 16:57] CrackerHax opened #8547 "Type Errors: specifying calldata, memory keywords as parameters"
If the compiler already knows what the storage type is supposed to be for a particular variable then why does it even have to be specified in code? Am I the only one who thinks this is a useless "feature"?

    TypeError: Data location must be "calldata" for parameter in external function, but "memory" was given.
    TypeError: Data location must be "memory" for parameter in function, but none was

[2020-03-29 17:25] axic commented on #8157
Explanation in the documentation: https://emscripten.org/docs/getting_started/FAQ.html#can-i-use-multiple-emscripten-compiled-programs-on-one-web-page

[2020-03-30 08:39] chriseth commented on #8547
This has been an issue in earlier language versions where people would make wrong assumptions about the data location of variables. Furthermore, we plan to allow public functions to accept calldata variables. Furthermore, I personally like the pythonic way of "better explicit than implicit", so this is certainly also a style issue.

I don't understand the last context of the last error message - c

[2020-03-30 10:39] chriseth commented on #8153
Agreement from call: codecopy should not be pure (let alone for consistency with immutable).

@ekpyron which other things did you have in mind?

[2020-03-30 10:47] chriseth commented on #3412
Agreement from call: We should have this.

Unless anyone can come up with an example why this might be a bad example, we should check it on the inheritance graph instead of the linearized hierarchy.

[2020-03-30 11:02] chriseth commented on #2435
@axic was suggesting `copyof(x)` but also said that he is not sold on any of the syntax.

If we use the operator without parentheses, the precedence has to be determined.

Next step would be to take a look at some contracts and see how they would look like.

[2020-03-30 13:37] #8521 closed, assigned to christianparpart

[2020-03-30 13:53] chriseth opened #8551 "[Sol->Yul] Immutables"
Part of #3835

We should also implement the code generation for immutables for Yul.

For this, we need new built-in functions in the dialect:
 - `setImmutable("name", value)`
 - `loadImmutable("name")`

This adds the complication that it is a builtin function that has a literal parameter but not all parameters are literals, so we need to modify the member "literalAguments" to specify the parameter

[2020-03-30 13:59] bshastry opened #8552 "[Docs] Clarify that abstract contracts that override an implemented virtual function cannot leave it unimplemented"
## Description

Abstract contracts should not leave already implemented virtual functions unimplemented:

[code]

- `C2` must implement `c0funcv0` as per current solidity release

[2020-03-30 14:02] a3d4 commented on #8450
Similarly, the following code
[code]
causes
[code]

The PR #8550 should fix both.

[2020-03-30 14:39] chriseth commented on #1687
This is now pending standardization by the "EthPM Committee", I fear...

@njgheorghita

[2020-03-30 14:54] a3d4 commented on #8450
It could be done easily, but for now I allowed `((a,b))=(1,2)`. If I understand correctly, the comment suggests that `((a,b))` on lhs should have `(a,b)` type:

[code]

[2020-03-30 15:02] chriseth commented on #8450
The PR looks good. My only comment is that it might be easier to look into the expression instead of wrapping the tuple type into a vector, but I think it would lead to the same result.

[2020-03-30 18:43] chriseth commented on #8546
`receiver` is payable, `_receiver` is not. One fix is to change the deposit function to ` function deposit(address payable _receiver) external payable {`

[2020-03-30 18:43] #8546 closed, assigned to nobody

[2020-03-31 02:51] randomnetcat opened #8555 "Utility methods: broken ownership"
Take the following template in `libsolutil/CommonData.h` as an example:
[code]

The intent here appears to be able to move out of temporary ranges.

There are some issues with this:

First, `U&&` can deduce to (for instance) `std::vector<T>&` because `U&&` is a forwarding reference. This would result in moving out of elements in an lvalue range, which is not desirable. This can be fixed by constra

[2020-03-31 12:17] leonardoalt opened #8556 "[SolYul] Check which `revert()`s should be `invalid()`"
There are some cases in the code generator where `revert` is used but it should rather be `invalid`.

[2020-03-31 14:49] chriseth opened #8557 "[Test] add ens contracts to external tests"
https://github.com/ensdomains/ethregistrar

[2020-03-31 14:50] chriseth commented on #8557
Most of them seem not to be upgraded to 0.6 yet, though, but we should maybe get in contact.

[2020-03-31 18:29] axic commented on #409
Some relevant discussions:
- https://forum.openzeppelin.com/t/designing-fixed-point-math-in-openzeppelin-contracts/2499
- https://twitter.com/alexberegszaszi/status/1245040879645200384 (check the comments)

[2020-03-31 19:19] chriseth opened #8559 "[SolYul] Consider allowing access to internal functions from inline assembly when compiling to yul."
Access was disabled in https://github.com/ethereum/solidity/pull/8553

[2020-03-31 20:21] #8450 closed, assigned to nobody

[2020-03-31 20:24] chriseth commented on #8555
You are right! I think I actually would expect `other += std::move(s)` to destroy the contents of `vec`.

[2020-03-31 20:28] chriseth opened #8560 "Array-related bug"
severity: low
no release for 0.5.x (at least as long as severity stays low)
- [x] blog post

[2020-03-31 22:31] #8537 closed, assigned to mijovic

[2020-04-01 08:25] ekpyron commented on #8536
@axic: @chriseth said you were working on this already, so I unassigned myself and assigned you - let me know otherwise, then I can quickly do this.

[2020-04-01 09:05] #8386 closed, assigned to nobody

[2020-04-01 09:15] chriseth opened #8562 "Debugging info for immutables."
The LinkerObject should contain information about the location of references to and maybe assignments to immutables.

Part of #3835

[2020-04-01 10:03] ekpyron commented on #8479
@hrkrshnn will be working on this.

[2020-04-01 12:43] Marenz commented on #8562
Is this already done? I see there is

[code]

in the file

[2020-04-01 12:45] Marenz commented on #8562
@ekpyron you added that code.. do you know? ^

[2020-04-01 12:46] ekpyron commented on #8562
@Marenz The information is basically already there, but it still needs to actually be part of the debugging output.

[2020-04-01 14:01] axic commented on #3421
This also compiles without warnings:
[code]

[2020-04-01 14:03] axic commented on #3421
A longer discussion is #4168.

[2020-04-01 14:07] chriseth commented on #4803
Duplicate of #3421

[2020-04-01 14:07] #4803 closed, assigned to nobody

[2020-04-01 14:45] Marenz commented on #8562
The output should be basically like `linkReferences` is done

[2020-04-01 14:55] ekpyron commented on #8562
FYI: The ``immutableReferences`` map for now only uses hashes, so we will also probably have to store the full names corresponding to each hash. The output should tell you for each immutable the offsets of all its occurrences.

[2020-04-01 15:09] Marenz commented on #8551
I am starting to work on this, for now only the literalArguments parts #8626

[2020-04-01 15:38] chriseth commented on #8562
Just to clarify: The references should be in the runtime bytecode only, and not in the creation bytecode, right?

[2020-04-01 15:45] ekpyron commented on #8562
Yep

[2020-04-01 15:48] chriseth commented on #8562
Hm, we should also make both library references and immutable references part of the metadata!

[2020-04-01 16:29] ekpyron commented on #8562
I agree, I was actually surprised that the link references aren't already in there.

[2020-04-02 09:40] dfsantamaria commented on #8376
I'm experiencing the same issue (web3j 4.5.16 and solc 0.6.3) with view methods.

[2020-04-02 09:41] chriseth commented on #8376
@dfsantamaria please open an issue on the web3j repository

[2020-04-02 09:42] dfsantamaria commented on #8376
I do.

[2020-04-02 11:19] ekpyron commented on #8153
We should probably go through the list of opcodes to check if there's anything else, but ``codecopy`` was the main thing so far, that should be stricter.

[2020-04-02 11:46] #8479 closed, assigned to nobody

[2020-04-02 13:02] bshastry opened #8577 "[solc] More precise error message for private payable functions"
## Description

[code]

The error message should read `Private functions cannot be payable`

## Environment

- Compiler version: latest develop

[2020-04-02 14:19] #8308 closed, assigned to leonardoalt

[2020-04-02 14:48] chriseth commented on #8577
A private function is an internal function :)

[2020-04-02 15:49] bshastry commented on #8577
Ah, now I realize, `private` offers a stronger (stricter) visibility than internal and hence errors flagged for `internal` apply to `private` as well.

However, we could still reword the error message since `private` is a keyword just to be clear :-)

[2020-04-02 16:01] bshastry commented on #8277
Minimal proof of concept that throws

https://github.com/ethereum/solidity/blob/ed1000dde72381bb59568248a1ee36f3519eb348/libsolidity/analysis/TypeChecker.cpp#L1314-L1317

[code]

[2020-04-02 16:05] #8544 closed, assigned to hrkrshnn

[2020-04-02 17:12] chriseth commented on #8551
I'm working on the actual code generation, assuming the dialect has the needed support.

[2020-04-02 17:14] chriseth commented on #8485
@cameel you can also work on this

[2020-04-02 17:21] chriseth commented on #8485
For this, I think we should start adding a builtin function called `linkerSymbol` to EVMDialect, which requires `"literalArguments"` and is in all aspects very similar to `datasize`. Its code generation should just call `linkerSymbol` on the abstract assembly.

As a next step, `void IRGeneratorForStatements::endVisit(Identifier const& _identifier)` can be changed to implement the library case by d

[2020-04-02 17:23] chriseth commented on #8485
Once we have that, I think we can implement function calls to both internal and non-internal (the more complicated case) library functions. The non-internal case should use `delegatecall` while the internal case should be the same as internal function calls to functions in the same contract.

[2020-04-02 17:30] cameel commented on #8485
OK. So, just to make sure I understand the high-level requirements here: basically when I'm done, `solc --ir` should be able to generate IR for contracts like `test/libsolidity/semanticTests/libraries/internal_library_function.sol` and other `internal_library_function_*.sol` files?

BTW, could you assign me? It looks like I don't have enough permissions to assign myself.

[2020-04-02 17:34] chriseth commented on #8485
Yes, but I think the most basic test should be `stub_internal.sol`. At the end, you should be able to add the `compileViaYul: also` setting like that:
[code]

[2020-04-03 09:41] ekpyron commented on #7317
@MicahZoltu brought this up in the chat again and there is actually another good argument for having this for requires with message.

The argument so far was that one can always just define a function, but for reverts with reason this becomes a problem. Say we define
[code]
And then use it several times, the optimizer likely won't inline this. This results in the message being pushed on the stack

[2020-04-03 14:39] aarlt commented on #8197
Implemented in #8464 and #8518.

@chriseth can this get closed?

[2020-04-03 15:09] hrkrshnn opened #8590 "[solc] Internal compiler error when encountering non-encodable `f{gas: 2}` type"
## Description
The following contract should issue an error about non-encodable type. Currently there is an internal compiler error.
[code]

The following contract (based on test/libsolidity/syntaxTests/viewPureChecker/gas_value_without_call.sol)

[code]

should issue an error about not `this.f{gas: 2}` not being encodable. However, that is skipped.

## Environment

- Compiler version: current dev

[2020-04-03 15:13] hrkrshnn commented on #8590
For context see: https://github.com/ethereum/solidity/pull/8589/files#diff-c40f1df0fa25d5f0362351714b90a800

The test file is based on `test/libsolidity/syntaxTests/specialFunctions/types_with_unspecified_encoding_internal_functions.sol`

[2020-04-04 21:39] aarlt opened #8593 "[solc] ICE: solidity/libsolidity/ast/AST.h(778): Throw in function const solidity::frontend::Block &solidity::frontend::FunctionDefinition::body() const"
## Description

solidity/libsolidity/ast/AST.h(778): Throw in function const solidity::frontend::Block &solidity::frontend::FunctionDefinition::body() const

triggered by:
- test/libsolidity/syntaxTests/viewPureChecker/interface.sol
- test/libsolidity/syntaxTests/nameAndTypeResolution/425_interface_implement_public_contract.sol
- test/libsolidity/syntaxTests/inheritance/interface/diamond/diamond_w

[2020-04-04 21:40] aarlt opened #8594 "[solc] ICE: solidity/libsolidity/ast/Types.cpp(1179): Throw in function virtual solidity::u256 solidity::frontend::RationalNumberType::literalValue(const solidity::frontend::Literal *) const"
solidity/libsolidity/ast/Types.cpp(1179): Throw in function virtual solidity::u256 solidity::frontend::RationalNumberType::literalValue(const solidity::frontend::Literal *) const

## Description

triggered by:
- test/libsolidity/syntaxTests/types/rational_number_exp_limit_fine.sol
- test/libsolidity/syntaxTests/nameAndTypeResolution/534_tuple_invalid_literal_too_large_expression.sol
- test/libsoli

[2020-04-04 21:41] aarlt opened #8595 "[solc] ICE: solidity/libsolidity/ast/Types.cpp(2920): Throw in function virtual bool solidity::frontend::FunctionType::leftAligned() const"
solidity/libsolidity/ast/Types.cpp(2920): Throw in function virtual bool solidity::frontend::FunctionType::leftAligned() const

## Description

triggered by:
- test/libsolidity/semanticTests/functionTypes/uninitialized_internal_storage_function_call.sol
- test/libsolidity/syntaxTests/parsing/function_type_state_variable.sol
- test/libsolidity/semanticTests/functionCall/calling_uninitialized_functi

[2020-04-04 21:42] aarlt opened #8596 "[solc] ICE: solidity/libsolidity/codegen/YulUtilFunctions.cpp(1158): Throw in function auto solidity::frontend::YulUtilFunctions::updateStorageValueFunction(const solidity::frontend::Type &, const std::optional<unsigned int> &)::(anonymous class)::operator()() const"
solidity/libsolidity/codegen/YulUtilFunctions.cpp(1158): Throw in function auto solidity::frontend::YulUtilFunctions::updateStorageValueFunction(const solidity::frontend::Type &, const std::optional<unsigned int> &)::(anonymous class)::operator()() const

## Description

triggered by:
- test/libsolidity/semanticTests/storage/mappings_array_pop_delete.sol

## Environment

- current develop

## Step

[2020-04-04 21:42] aarlt opened #8597 "[solc] ICE: solidity/libsolidity/codegen/YulUtilFunctions.cpp(1607): Throw in function auto solidity::frontend::YulUtilFunctions::conversionFunction(const solidity::frontend::Type &, const solidity::frontend::Type &)::(anonymous class)::operator()() const"
solidity/libsolidity/codegen/YulUtilFunctions.cpp(1607): Throw in function auto solidity::frontend::YulUtilFunctions::conversionFunction(const solidity::frontend::Type &, const solidity::frontend::Type &)::(anonymous class)::operator()() const

## Description

triggered by:
- test/libsolidity/semanticTests/variables/mapping_local_tuple_assignment.sol

## Environment

- current develop

## Steps to

[2020-04-04 21:43] aarlt opened #8598 "[solc] ICE: solidity/libsolidity/codegen/YulUtilFunctions.cpp(1652): Throw in function auto solidity::frontend::YulUtilFunctions::cleanupFunction(const solidity::frontend::Type &)::(anonymous class)::operator()() const"
solidity/libsolidity/codegen/YulUtilFunctions.cpp(1652): Throw in function auto solidity::frontend::YulUtilFunctions::cleanupFunction(const solidity::frontend::Type &)::(anonymous class)::operator()() const

## Description

triggered by:
- test/libsolidity/semanticTests/array/function_memory_array.sol

## Environment

- current develop

## Steps to Reproduce

[code]

[2020-04-04 21:43] aarlt opened #8599 "[solc] ICE: solidity/libsolidity/codegen/YulUtilFunctions.cpp(1868): Throw in function std::__1::string solidity::frontend::YulUtilFunctions::negateNumberCheckedFunction(const solidity::frontend::Type &)"
solidity/libsolidity/codegen/YulUtilFunctions.cpp(1868): Throw in function std::__1::string solidity::frontend::YulUtilFunctions::negateNumberCheckedFunction(const solidity::frontend::Type &)

## Description

triggered by:
- test/libsolidity/semanticTests/storage/packed_storage_signed.sol

## Environment

- current develop

## Steps to Reproduce

[code]

[2020-04-04 21:44] aarlt opened #8600 "[solc] ICE: solidity/libsolidity/codegen/ir/IRGenerationContext.cpp(54): Throw in function const solidity::frontend::IRVariable &solidity::frontend::IRGenerationContext::localVariable(const solidity::frontend::VariableDeclaration &)"
solidity/libsolidity/codegen/ir/IRGenerationContext.cpp(54): Throw in function const solidity::frontend::IRVariable &solidity::frontend::IRGenerationContext::localVariable(const solidity::frontend::VariableDeclaration &)

## Description

triggered by:
- test/libsolidity/syntaxTests/inlineAssembly/constant_ref.sol
- test/libsolidity/syntaxTests/inlineAssembly/invalid/constant_access.sol
- test/libs

[2020-04-04 21:44] aarlt opened #8601 "[solc] ICE: solidity/libsolidity/codegen/ir/IRGenerator.cpp(159): Throw in function std::__1::string solidity::frontend::IRGenerator::generateGetter(const solidity::frontend::VariableDeclaration &)"
solidity/libsolidity/codegen/ir/IRGenerator.cpp(159): Throw in function std::__1::string solidity::frontend::IRGenerator::generateGetter(const solidity::frontend::VariableDeclaration &)

## Description

triggered by:
- test/libsolidity/semanticTests/accessor/accessor_for_const_state_variable.sol
- test/libsolidity/syntaxTests/metaTypes/name_constant.sol

## Environment

- current develop

## Steps

[2020-04-04 21:45] aarlt opened #8602 "[solc] ICE: solidity/libsolidity/codegen/ir/IRGenerator.cpp(61): Throw in function pair<std::__1::string, std::__1::string> solidity::frontend::IRGenerator::run(const solidity::frontend::ContractDefinition &)"
solidity/libsolidity/codegen/ir/IRGenerator.cpp(61): Throw in function pair<std::__1::string, std::__1::string> solidity::frontend::IRGenerator::run(const solidity::frontend::ContractDefinition &)

## Description

triggered by:
- test/libsolidity/semanticTests/smoke/basic.sol
- test/libsolidity/semanticTests/abiEncoderV2/calldata_array_function_types.sol
- test/libsolidity/semanticTests/storage/ac

[2020-04-04 21:45] aarlt opened #8603 "[solc] ICE: solidity/libsolidity/codegen/ir/IRGeneratorForStatements.cpp(117): Throw in function virtual yul::Identifier (anonymous namespace)::CopyTranslate::translate(const yul::Identifier &)"
solidity/libsolidity/codegen/ir/IRGeneratorForStatements.cpp(117): Throw in function virtual yul::Identifier (anonymous namespace)::CopyTranslate::translate(const yul::Identifier &)

## Description

triggered by:
- test/libsolidity/syntaxTests/controlFlow/storageReturn/assembly/for_fine.sol
- test/libsolidity/syntaxTests/controlFlow/storageReturn/assembly/returning_function.sol
- test/libsolidity/

[2020-04-04 21:46] aarlt opened #8604 "[solc] ICE: solidity/libsolidity/codegen/ir/IRGeneratorForStatements.cpp(1193): Throw in function virtual void solidity::frontend::IRGeneratorForStatements::endVisit(const solidity::frontend::Identifier &)"
solidity/libsolidity/codegen/ir/IRGeneratorForStatements.cpp(1193): Throw in function virtual void solidity::frontend::IRGeneratorForStatements::endVisit(const solidity::frontend::Identifier &)

## Description

triggered by:
- test/libsolidity/syntaxTests/tryCatch/returns.sol
- test/libsolidity/syntaxTests/tryCatch/catch_low_level.sol
- test/libsolidity/syntaxTests/tryCatch/catch_error_named.sol
-

[2020-04-04 21:46] aarlt opened #8605 "[solc] ICE: solidity/libsolidity/codegen/ir/IRGeneratorForStatements.cpp(959): Throw in function virtual void solidity::frontend::IRGeneratorForStatements::endVisit(const solidity::frontend::MemberAccess &)"
solidity/libsolidity/codegen/ir/IRGeneratorForStatements.cpp(959): Throw in function virtual void solidity::frontend::IRGeneratorForStatements::endVisit(const solidity::frontend::MemberAccess &)

## Description

triggered by:
- test/libsolidity/syntaxTests/viewPureChecker/access_to_base_member_constant.sol
- test/libsolidity/syntaxTests/types/mapping/enum_mapping.sol
- test/libsolidity/syntaxTests

[2020-04-04 21:47] aarlt opened #8606 "[solc] ICE: solidity/libsolidity/codegen/ir/IRVariable.cpp(92): Throw in function std::__1::string solidity::frontend::IRVariable::name() const"
solidity/libsolidity/codegen/ir/IRVariable.cpp(92): Throw in function std::__1::string solidity::frontend::IRVariable::name() const

## Description

triggered by:
- test/libsolidity/semanticTests/tryCatch/invalid_error_encoding.sol

## Environment

- current develop

## Steps to Reproduce

[code]

[2020-04-05 18:55] egealpay commented on #4115
Any update on this?

[2020-04-05 20:13] axic commented on #7920
Merged upstream.

[2020-04-05 20:13] #7920 closed, assigned to nobody

[2020-04-05 20:15] axic commented on #8527
It has been merged and is 0.6.0 compatible.

[2020-04-05 20:45] axic opened #8608 "Yul support in Pygments"
Similar to the Solidity version (https://gitlab.com/veox/pygments-lexer-solidity), this would help us to have nice syntax highlighting in the Solidity documentation.

@veox would you be interested in helping out? If so, how could we help you?

[2020-04-05 22:35] axic commented on #8527
Actually it turns out it will not be easy to use it with github-pages, because that mandates a fixed version of rouge. Will need to convince github-pages to bump their dependency once rouge releases in 2 weeks time.

[2020-04-05 22:36] axic commented on #8606
@aarlt could add minimal examples to each of these issues?

[2020-04-05 22:37] CrackerHax commented on #3446
Would be nice to get a line number from this error.

[2020-04-05 22:39] axic commented on #8363
I think it is too early to make this decision based on a draft EIP.

[2020-04-05 22:46] axic commented on #4910
@frangio @wadeAlexC any change of view since these are provided by opcodes now?

[2020-04-05 22:50] axic commented on #4966
I think this now covered by #5167?

[2020-04-05 22:53] axic commented on #5474
@ekpyron @chriseth I don't think `BackendStack` is an appropriate name anymore. Could consider `YulStack` or just stay with `AssemblyStack`.

[2020-04-05 22:55] axic commented on #5495
@christianparpart `AbstractAssembly` depends on `evmasm::Instruction`. There seems to be a lot of cross-referencing here.

[2020-04-05 23:03] axic commented on #6078
@bshastry was this fixed?

[2020-04-05 23:04] axic commented on #6077
@bshastry was this fixed?

[2020-04-05 23:04] axic commented on #6091
@bshastry was this fixed?

[2020-04-05 23:05] axic commented on #6516
@franzihei do you want to perhaps look into this?

Basically what we may want to do is something like a "brand" section in the documentation.

[2020-04-05 23:06] axic commented on #6468
@bshastry was this done?

[2020-04-05 23:10] axic commented on #7086
Is this still outstanding?

[2020-04-05 23:12] #7124 closed, assigned to nobody

[2020-04-05 23:15] axic commented on #8036
This was done in 0.4.1.

[2020-04-05 23:15] #8036 closed, assigned to nobody

[2020-04-05 23:16] axic commented on #8061
Are we taking this into 0.7.0 or some future release?

@elenadimitrova can we add this to planning?

[2020-04-05 23:17] axic commented on #8119
Was this done?

[2020-04-05 23:20] axic commented on #8146
I think C++-style `static_assert` as a new feature makes sense, but as @christianparpart mentioned we need #3157 to be fully useful.

[2020-04-05 23:36] axic commented on #8019
There was an attempt in #6844 by @christianparpart.

[2020-04-05 23:39] axic commented on #3488
Since all of the fixed point stuff was disabled, this results in
[code]

Closing this for now, since we don't know what the final version will look like.

[2020-04-05 23:39] #3488 closed, assigned to nobody

[2020-04-06 00:24] ghost commented on #3488
Feedback

[2020-04-06 07:22] franzihei commented on #6516
Yes, will take this task over!

[2020-04-06 08:25] bshastry commented on #6077
This has been fixed.

[2020-04-06 08:26] #6077 closed, assigned to nobody

[2020-04-06 08:27] bshastry commented on #6468
Closing cos fixed

[2020-04-06 08:27] #6468 closed, assigned to nobody

[2020-04-06 08:28] bshastry commented on #6078
Closing cos fixed

[2020-04-06 08:28] #6078 closed, assigned to nobody

[2020-04-06 08:47] chriseth commented on #8019
You can actually just use solc for that, it will pretty-print the yul code after parsing.

[2020-04-06 08:51] Marenz commented on #8372
@Aniket-Engg ping?

[2020-04-06 09:02] chriseth opened #8612 "Ability to import into inline assembly"
Should we allow the ability to import contract-wide function definitions into an inline assembly block?

Example:

[code]

[2020-04-06 09:36] mijovic commented on #8343
I am working on
Creation, ///< external call using CREATE

[2020-04-06 09:47] axic commented on #8019
Yes, I've mentioned that in the opening comment. This is mostly about defining the rules.

[2020-04-06 09:53] chriseth opened #8614 "wasm: implement br and br_if"
Implement br and br_if in wasm/BinaryTransform.cpp

[2020-04-06 10:18] chriseth commented on #8527
We are not using github pages for the blog, so it should just be about bumping the version in our own jekyll config.

[2020-04-06 10:46] christianparpart commented on #7089
Whereas `\u{hhh....h}` may be equivalent to what JS is doing, i think it should still be limited to the number of hex digits being passed on (i.e. 8).

What C/C++ has for that, is `\U` to express 32bit escape values (such as UTF-32), that should then be enough for all of current standards Unicode, as far as I remember?

Reference: https://en.wikipedia.org/wiki/Escape_sequences_in_C#Table_of_escape

[2020-04-06 11:06] axic commented on #7089
![Screenshot 2020-04-06 at 12 03 24](https://user-images.githubusercontent.com/20340/78552011-a1501500-77fe-11ea-9885-72fd54747959.png)

@christianparpart does that mean you propose uppercase `N` as an escape, such as `\UNNNNNNNN`?

[2020-04-06 11:06] cameel commented on #7089
Yeah, the C++ version would suffice here. It's an alternative to the JS syntax which simply lets you use less digits for convenience. Since Unicode code points go only up to `0x10FFFF`, you'll always have at least two leading zeros if you strictly require 8 digits. But it adds braces which makes the escapes longer again so it's a wash.

BTW, just for reference, here's more about how JS handles uni

[2020-04-06 11:09] axic commented on #7089
Why don't we just accept `\uNNNN` and `\uNNNNNN`?

[2020-04-06 11:14] cameel commented on #7089
I don't think that inventing yet another way to write these escape sequences is a good idea :). Unless there's a very good reason for it but I don't see one. I think that using syntax that's already common elsewhere would make it more intuitive for users coming from other languages even if it's longer.

[2020-04-06 11:24] axic commented on #7089
As a quick check:
- C/C++ -- `\uNNNN`, `\UNNNNNNNN`
- Python -- `\uNNNN`, `\UNNNNNNNN` (https://docs.python.org/3/howto/unicode.html)
- Javascript -- `\uNNNN` and `\u{hex}` (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Lexical_grammar#String_literals)
- Rust -- ` \u{hex}`, where `hex` can be up to 6 nibbles (https://doc.rust-lang.org/reference/tokens.html#unicode-escapes)
- Ru

[2020-04-06 11:29] sobolev-igor opened #8615 "Bug in `abi.decode`"
## Description

I'm trying to verify signature and parse it using `abi.decode`, not assembly. However, `abi.decode` fails for no reason.

## Environment

- Compiler version: 0.6.4
- Target EVM version (as per compiler settings): istanbul
- Framework/IDE (e.g. Truffle or Remix): any
- EVM execution environment / backend / blockchain client: ganache-cli, remix EVM
- Operating system: macOS

## Steps

[2020-04-06 11:31] cameel commented on #7089
It's a mess. But `\uNNNNNN` would just make the mess bigger :) Of the two, I'd vote for `\UNNNNNNNN`.

[2020-04-06 12:15] a3d4 commented on #5819
I'm looking at this.

[2020-04-06 12:18] chriseth commented on #7089
I would not spend too much time on this - why would you use unicode escape sequences at all in source code? It is very hard to verify that the sequence is the right one.

[2020-04-06 12:19] chriseth commented on #8615
ABI encoding always pads to multiple of 32 bytes, that's why it fails.

[2020-04-06 12:48] sobolev-igor commented on #8615
Hi, @chriseth! Thanks for the quick response.

But if i do `abi.decode(signature, (bytes32, bytes32, bytes32));` it fail also, so the only option is to add 31 bytes of zeroes when calling the function (i.e. to set `signature.length` to 96) and this does not seem the good option...

[2020-04-06 12:51] axic commented on #7089
@chriseth are you proposing to remove it entirely? I think we should either support the entire range of Unicode code points or none.

[2020-04-06 12:53] chriseth commented on #8615
I'm sorry, but `abi.decode` is meant for abi decoding, not for unpacking binary data.

This is a perfect task for inline assembly and a random internet search resulted in the following, for example: https://gist.github.com/BjornvdLaan/e41d292339bbdebb831d0b976e1804e8

[2020-04-06 12:53] #8615 closed, assigned to nobody

[2020-04-06 12:53] chriseth commented on #7089
No, but I think we should not spend so much time on it, unless we find a way to make these unicode escapes "readable".

[2020-04-06 12:54] chriseth commented on #3168
Does someone know how to do this properly?

[2020-04-06 12:56] sobolev-igor commented on #8615
I've seen the assembly solution, but I do not want to use assembly in my code (but seems like I'll have to).

Thanks anyway!

[2020-04-06 12:58] chriseth commented on #8615
Assembly is really not that scary and dangerous as most people think. I actually am of the opinion that it is better to have reviewable user-supplied assembly routines than some compiler-internal routines that are much harder to find.

[2020-04-06 13:02] axic commented on #7089
I don't think we have spent too much time on it, to me it is clear we have two options only: `\uNNNNNN` (a new invention, but similar to `\u{hex}` of Javascript/Rust/Ruby) or `\UNNNNNNNN` (shared with C/C++/Python). Nobody wants `\u{hex}`.

There is a "readable" version supported by multiple languages where the code point name is inserted, such as `\N{GREEK CAPITAL LETTER DELTA}` (from Python). We

[2020-04-06 14:17] chriseth commented on #7317
I don't think we should introduce a builtin function only to save 3 gas.

[2020-04-06 14:21] axic commented on #8615
This statement was more true when it was introduced. As we transition more over to Yul, the less scary it becomes.

[2020-04-06 14:22] axic commented on #8527
It is: https://github.com/ethereum/solidity-blog/blob/master/Gemfile#L6

[2020-04-06 14:22] chriseth commented on #8197
Most of the remaining tests check for events.

[2020-04-06 14:22] #8197 closed, assigned to aarlt

[2020-04-06 14:23] franzihei commented on #8528
Done.

[2020-04-06 14:23] #8528 closed, assigned to nobody

[2020-04-06 14:28] ekpyron commented on #7317
Hm, true - for some reason I was thinking about the data gas being expensive, but that's paid either way...
But there's still the difference between jumping to the function and back or not, since if it isn't inlined the condition is only checked after the call, not inside... but that actually sounds much more like something we could fine-tune the optimizer for...

[2020-04-06 14:47] franzihei commented on #6516
What I would need to know:
- Under which license is the logo published? (e.g. some sort of [Creative Commons](https://creativecommons.org/licenses/) license?)
- Was there ever an "official" font connected to the Solidity logo? If yes, which font is it?
- Who created the Solidity logo; was there ever some sort of brand identity defined alongside of it, e.g. specific colors to be used etc.?

@chrise

[2020-04-06 15:12] axic commented on #6516
This is the earliest commit of the logo in https://github.com/ethereum/browser-solidity:
[code]

I'm not sure who did it.

[2020-04-06 16:54] chriseth commented on #8606
No please don't! Let's just implement it based on the failing tests.

[2020-04-06 16:55] #7086 closed, assigned to nobody

[2020-04-06 16:59] chriseth commented on #4115
There is `.push()` now.

[2020-04-06 17:00] chriseth commented on #8562
Implemnted in https://github.com/ethereum/solidity/pull/8581

[2020-04-06 17:00] #8562 closed, assigned to nobody

[2020-04-06 17:05] chriseth commented on #8527
Can we go without the github-pages gem then?

[2020-04-06 17:53] chriseth commented on #6516
https://github.com/ethereum/ethereum-org/blob/master/public/images/logos/Ethereum_Visual_Identity_1.0.0.pdf

[2020-04-06 17:56] chriseth commented on #6516
It was created by Ian Meikle - but I could not find any license anywhere.

[2020-04-06 18:05] ekpyron commented on #8551
Since we disabled external function pointers temporarily for the bugfix release in https://github.com/ethereum/solidity/pull/8586, we now need to decide how to deal with them. Two options:
- Use two separate slots (so basically just revert https://github.com/ethereum/solidity/pull/8586) and think about how to deal with this in the debug output.
- Pack them into one slot.

It may make sense to thin

[2020-04-06 18:07] veox commented on #8608
Sure, why not.

There's already [some support for `assembly`](https://gitlab.com/veox/pygments-lexer-solidity/-/blob/17cc012c0aae3103bad0d5ee5ed1bd110bf3da71/pygments_lexer_solidity/lexer.py#L66), that one's relatively simple. I don't think Yul will be much ~~different~~ more difficult.

That said: can Yul be used from a Solidity program (similar to Assembly)? Because if yes, then `token['yul'] =

[2020-04-06 19:01] axic commented on #8608
Inline assembly in Solidity **is** Yul, but a different sub/superset.

The main difference, which cannot be represented in inline assembly, is Yul objects currently. See https://solidity.readthedocs.io/en/v0.6.4/yul.html#specification-of-yul-object

[2020-04-06 19:39] ericr-aon opened #8622 "[DOCS] [CHC] Clarification of limitations described in security-considerations.rst"
The Security Considerations document states that "Function calls are currently unsupported" by the CHC engine. Yet we can see that FunctionCall AST nodes are visited and processed if they are internal:

https://github.com/ethereum/solidity/blob/398c51598285dc16ea573fb00ddf8ec0b8500989/libsolidity/formal/CHC.cpp#L450-L480

Should this document be clarified to state that only internal functions are

[2020-04-06 20:13] cygnusv commented on #1290
It seems this is solved with Solidity 0.6

[2020-04-06 20:21] wadealexc commented on #4910
Since `EXTCODEHASH` returns a nonzero value during the constructor, this seems fine on the surface.

[2020-04-06 21:15] leonardoalt commented on #8622
Yes, you're right :)
Support to internal function calls was recently added, and this was overlooked, thanks for bringing it up!

[2020-04-06 21:36] ericr-aon opened #8623 "[SMTChecker] toZ3Expr throws"
## Description

Using the experimental SMTChecker pragma with a simple contract that defines a storage variable and inherits from another contract results in an error.

## Environment

- Compiler version: 0.6.5-develop.2020.4.1+commit.ff23f165.mod.Darwin.appleclang (with support for Z3)
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM exec

[2020-04-06 23:09] leonardoalt commented on #8623
Thanks for reporting!

[2020-04-06 23:24] haltman-at opened #8625 "If an immutable state variable is never read, it can't be distinguished from a storage state variable"
## Description

If an `immutable` state variable is declared, and set in the constructor, but never read in the deployed contract, the compiler output contains nothing to indicate that this variable is immutable.

Well, OK -- if the `storageLayout` output is used, then one could use that to determine it by checking whether the variable is missing from `storageLayout`.  But, `storageLayout` is expe

[2020-04-07 08:39] chriseth commented on #8551
Dynamically-sized arrays have to use codecopy at least for the actual data. This invalidates the "datasize" builtin, but I think it is still fine, because we only use it on the construction data.

Can you draft how it would look if we use the length literally and codecopy for the data and if we use codecopy for both?

[2020-04-07 08:44] chriseth commented on #8625
It actually turns out that I implemented the import, but not the export. *facepalm*

[2020-04-07 08:51] #8623 closed, assigned to nobody

[2020-04-07 13:21] veox commented on #8608
Ah, yes, [I see now](https://solidity.readthedocs.io/en/v0.6.4/assembly.html).

So what you'd want, essentially, is this:

[code]

Right?

-----

Another thing is that the lexer still has to support previous versions of Solidity, from when Yul didn't yet exist in current form. I.e. `assembly` code with `dupXX`s and `swapXX`s should still be highlighted properly.

Not a big issue, nothing inheritan

[2020-04-07 16:11] axic commented on #8608
Yes with it will be used with `code-block` or `highlights`.

It would be nice to also support the Yul object notation I've linked above.

[2020-04-07 16:38] chriseth commented on #8604
Likely be closed by #8246

[2020-04-07 16:38] #8604 closed, assigned to nobody

[2020-04-07 16:54] veox commented on #8608
First attempt is now in `pygments-lexer-solidity` v0.5.0 ([just pushed to PyPI](https://pypi.org/project/pygments-lexer-solidity/#history)).

Sphinx's `conf.py` will need modification: also importing the `YulLexer`.

Testing it locally, I see that variable declarations with types, e.g.

[code]

are not done well, since `:` is not matched by anything. This is easy to fix, but I am wondering:

* whe

[2020-04-07 17:05] veox commented on #8608
If the CI supports building docs, I could also submit a PR, so the visuals can be viewed online.

Not sure you're not better suited for the task, though.

[2020-04-07 18:30] frangio commented on #4910
I don't think that really mitigates the vulnerabilities that can arise from using `.isContract()`, because an account can pass the `EXTCODEHASH` test but still become a contract in the future.

We do have an `isContract` function in OpenZeppelin though, because some ERCs require using it. So I think I would be okay with including it in Solidity. But it needs to be used carefully.

[2020-04-07 18:55] chriseth commented on #4910
Would calling it `hasCode` help in any way?

[2020-04-07 18:58] axic commented on #4910
Are we making commitments in the language that a property of an account in the state cannot ever change? :wink:

@frangio Could you elaborate this sentence?

[2020-04-08 06:41] Aniket-Engg commented on #8372
@Marenz Chris provided me exported ASTs, I came to these conclusions by performing a Search on each AST fields and its values.

[2020-04-08 08:03] hrkrshnn commented on #8425
The first contract issues the following error:

The [documentation](https://solidity.readthedocs.io/en/v0.6.5/types.html#data-location-and-assignment-behaviour) says:

[code]
Should it be possible to explicitly write storage in such cases?

[2020-04-08 08:16] #8540 closed, assigned to hrkrshnn

[2020-04-08 08:42] ekpyron commented on #8425
@hrkrshnn I edited the code to avoid the error - I accidentally added a ``storage`` qualifier to the state variables, which is syntactically invalid.
However, the error message you posted looks like there is an issue with reporting the source locations for this error, I'll have a look at that and potentially create a new issue for it.

[2020-04-08 08:45] hrkrshnn commented on #8425
@ekpyron ok. Please don't bother with my error message, the ^ symbols  are my own, and the location 2:12 is probably wrong.

Here's a verbatim one.
[code]

[2020-04-08 08:46] ekpyron commented on #8425
Ah, ok!

[2020-04-08 10:27] #8555 closed, assigned to aarlt

[2020-04-08 10:57] iamdefinitelyahuman opened #8634 "Inconsistency in NatSpec userdoc for constructors"
## Description
The generated userdoc for a constructor is given as a string (`"[NATSPEC]"`) instead of a dictionary (`{'notice': "[NATSPEC]"}`).

For example, when compiled with solc `v0.6.5`, this contract:

[code]

produces this userdoc:

[code]

## Environment

- Compiler version: solc `v0.6.5`
- Target EVM version: `istanbul`
- Operating system: Ubuntu 18.04

[2020-04-08 11:54] christianparpart commented on #5819
Hey @a3d4, do you have a branch to share already?

[2020-04-08 11:57] a3d4 commented on #5819
@christianparpart
Not yet. Right now I'm working on a Python script which would find and tag every error reporting.

[2020-04-08 12:44] bshastry opened #8636 "[Fuzzing] Write a semantic fuzzer for testing Solidity inheritance rules"
## Abstract

Goal is to write a grammar based fuzzer that automatically generates tests like

[code]

The workflow is
  - Libprotobufmutator generates a new test instance (protobuf based)
  - test instance is translated to Solidity code
  - Solidity code is executed on evmone
  - Output of evmone is asserted to `0`.

## Motivation

Split into following easily reviewable PRs
  - [x] Permit linking

[2020-04-08 12:54] mijovic commented on #8204
I am working on this

[2020-04-08 13:06] axic commented on #5819
It would be nice to list the use cases for this. Is it for LSP? Someone mentioned it helps in test coverage?

I think if we want to introduce error codes we should take example from existing compilers:
- rustc -- has a single incrementing list (https://doc.rust-lang.org/error-index.html)
- msvc -- has categories and ranges (https://docs.microsoft.com/en-us/cpp/error-messages/compiler-errors-1/c-cp

[2020-04-08 13:13] chriseth commented on #5819
File and line numbers are not consistent. I would prefer categories (based on the error types we currently have - TypeError, DeclarationError, Warning, ...) and then numbers that increment. I would not expect too many conflicts and shorter numbers are better than random e.g. 8-digit codes.

Use-cases:
 - track that we have at least one syntax test for each error
 - people are compiling lists with

[2020-04-08 13:16] axic commented on #5819
But are we creating a
a) single number for each new entry, and once it is removed, the number is dropped
b) or trying to assign the same number to the same semantic errors

To me this is a key question to be answered, because it affects usability and design the most.

[2020-04-08 13:43] ekpyron commented on #5819
The problem is that those two use cases impose different numbering schemes...
For tracking tests it makes sense to have a number for each actual error emission in the code, whereas for compiling lists of recommended solutions the number should rather be based on the semantics on the error. example: ``"Identifier already declared."`` in NameAndTypeResolver.cpp occurs twice - is this the same error

[2020-04-08 13:47] ekpyron commented on #4383
What about having another look at code coverage? That'd be a superior solution to this...

[2020-04-08 13:50] chriseth commented on #5819
Duplicate: https://github.com/ethereum/solidity/issues/3202 (shows use-case by IDEs)

[2020-04-08 13:52] chriseth commented on #5819
@ekpyron this example is two different errors - the one happens during inheritance, the other not.

[2020-04-08 13:56] ekpyron commented on #5819
Yeah, it may be that that issue doesn't occur in practice or can be avoided.

[2020-04-08 14:30] chriseth commented on #4383
I actually think code coverage is inferior. Error coverage can be a hard requirement in CI, code coverage is too soft.

[2020-04-08 14:31] chriseth commented on #4383
And code-coverage depends on external tools and slows down testing.

[2020-04-08 14:32] chriseth commented on #8625
Fixed by https://github.com/ethereum/solidity/pull/8628

[2020-04-08 14:32] #8625 closed, assigned to chriseth

[2020-04-08 14:33] #8590 closed, assigned to hrkrshnn

[2020-04-08 14:41] chriseth commented on #8372
Can you use the example by @marenz at https://github.com/ethereum/solidity/issues/8372#issuecomment-590860651 ?

[2020-04-08 14:59] j-h-scheufen commented on #1290
I looked at the Solidity 0.6 release notes and did not see how this is solved with that release. Can anyone point to an example or other relevant docs?

[2020-04-08 17:04] haltman-at commented on #8625
Thank you!

[2020-04-09 11:00] ekpyron commented on #8551
Ok, let's think about
[code]

During the constructor code, there will probably be one "reserved" memory slot for the array.
Storing would just be ``setimmutable("x", mpos)``.
After the constructor body, I expect that we won't be able to copy the code to offset 0 anymore, but will have to copy to the free memory pointer instead.

[code]

Actually, instead of copying the array that part could be:
[c

[2020-04-09 11:09] ekpyron commented on #8551
Not sure that comment above is too helpful, but in any case, there seems to be arguments for and agreement about packing external function pointers into one slot for immutables.

[2020-04-09 11:28] chriseth commented on #8551
Maybe we should even have `code` references then like we use for `calldata`: If you use `immutableVar[2]` you don't need the full copy to memory.

[2020-04-09 11:39] axic commented on #3411
Since we allow accessing constants through contract names (#1290) and enums in interfaces (#4087), it may make sense to reconsider this feature, at least for some healthy discussion.

I am still not sure if it is a good idea or not (it definitely can be useful from a users' perspective, but could be dangerous?)

The case I ran into is the following (https://github.com/ralexstokes/deposit-contract-

[2020-04-09 11:47] ekpyron commented on #8551
Haha, if we go down that road, one might argue that ``immutable`` really isn't a good name, but that we instead rather should have said that state variables can have two different data locations, namely ``storage`` and ``code`` :-).

[2020-04-09 11:50] axic opened #8646 "Empty (or with internal functions only) libraries emit bytecode"
[code]

[code]

The resulting binary for the library only has the constructor and the library-call-safety-switch and nothing else.

It could be confusing for developers to have a binary for library when it is not used. The question they may ask -- "Do I need to deploy this?"

Arguably not emitting a binary could be construed as another edge case, since we do emit an empty binary for empty contract

[2020-04-09 12:08] Aniket-Engg commented on #8372
Yes, I got it worked with that. This can be closed.

[2020-04-09 13:27] ekpyron commented on #8425
After discussing some aspects of this with @hrkrshnn I'm actually not sure anymore that this can be done in a reasonable way. We need to distinguish the following:
[code]

From these:
[code]

I.e. the change between view and pure occurs in implicit type conversions... catching that would make the ViewPureChecker significantly more complex... is there sufficient gain in making the accesses to only

[2020-04-09 13:30] #5166 closed, assigned to ChrisChinchilla

[2020-04-09 13:40] chriseth commented on #8425
@ekpyron it looks like it is better to postpone this to after the introduction of `copyof`

[2020-04-09 14:07] ekpyron commented on #3459
So since we have ``abstract`` in the meantime, I'd say that either declaring an unimplemented modifier in a contract, or at least using one on a function, has to make the contract ``abstract``. Which of the two doesn't matter much to me.

[2020-04-09 14:58] cameel commented on #8485
@chriseth I need to make the `IRGenerator` generate the code of the internal library functions that get called.

`IRGenerator` already does this for the contract being compiled:

[code]

but its job is simpler because it only needs to find function declarations/definitions.

1) I could do something just as simple for the library calls (i.e. go over all libraries from the same file and add all thei

[2020-04-09 15:12] chriseth commented on #8485
Ah sorry, I thought we had some kind of function generation queue that works like point 3 in your comment.

Since `m_context.functionCollector().createFunction` is used, functions will only be generated once (as long as we keep a strict scheme for naming the functions).

Just generating code for all libraries in the source tree is too heavy.

I think our best bet is to actually implement it like a

[2020-04-09 15:19] cameel commented on #8485
Thanks. Sure. Handling it in some way is a part of the task anyway so a refactor to fix the `TODO` and  add a mechanism for it is fine with me.

[2020-04-10 08:31] agroce opened #8653 "ICE in solidity::frontend::rootVariableDeclaration(const solidity::frontend::VariableDeclaration &) [Identifier is not referencing a variable declaration]"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer, now with a few more mutation operators.  This one took about three weeks starting from a corpus collected from all past runs...

## Environment

- Compiler version:  0.6.3-develop.2020.2.10+commit.e8eb1f2d.Linux.cla

[2020-04-10 11:59] bshastry commented on #8653
Hello @agroce Thank you very much for reporting this issue. As a general rule, only the latest release (currently `0.6.6`) gets minor bug fixes. Please consult the [security policy](https://github.com/ethereum/solidity/blob/develop/SECURITY.md#supported-versions) for more information.

Can you reproduce this bug on latest develop? If I am not mistaken, I believe this report is a duplicate of https

[2020-04-10 12:06] bshastry opened #8654 "[Inheritance] More precise error message when derived contract implicitly overrides two or more non-virtual base contract functions with identical name and I/O types"
## Description

[code]

outputs the following error post compilation

[code]

Perhaps, we should add that the two base contracts in question `CB1` and `CB2` must virtualize `foo` as well? Because asking the user to override as is does not make sense if the underlying base functions to be overridden are not virtual. Perhaps this is to be understood or read between the lines?

## Environment

- Comp

[2020-04-10 12:18] bshastry opened #8655 "Improve inheritance error messages if the underlying issue cannot really be solved."
## Description

Consider

[code]

This results in the following error leading one to believe that the basis for "function equality" is function name and parameter types being the same.

[code]

However, if one were to explicitly add a multiple-base override like so

[code]

the compiler throws the following error message leading one to question the validity of the earlier error message

[code]

Pe

[2020-04-10 12:20] bshastry commented on #8654
Closing because I think this is a duplicate of #8655

[2020-04-10 12:31] bshastry commented on #8654
Sorry, reopening this because it is a slightly different case (contract functions must be virtualized) so the error message may inform the user for clarity.

[2020-04-10 12:32] bshastry commented on #8655
This holds true for contract inheritance as well. Examples

Case 1: Differing mutability

[code]

Case 2: Differing visibility

[code]

In both cases `C` is invalid.

[2020-04-10 13:37] k06a commented on #6012
Found curious ways to avoid this issue, just prepend `bytes28(0)` to parse selector as `bytes32`:
[code]

[2020-04-10 14:57] agroce commented on #8653
Will try, had kept a docker running older fuzzing for afl help + experimental integrity reasons.  I'll grab/compile latest

[2020-04-10 15:18] agroce commented on #8653
Building.  I'll fuzz latest master a while, too, from fresh corpus

[2020-04-10 17:30] agroce commented on #8653
Looks fixed.  Is solc, the solidity compiler commandline interface
Version: 0.6.7-develop.2020.4.10+commit.333322eb.Linux.clang

what I should be fuzzing?

[2020-04-10 22:57] naddison36 commented on #4115
@chriseth I can see how you can `.push()` a new `Challenge` to the `challenges` array. But how do you initialise an empty `participants` array on the `Challenge` struct?

The below is failing with
`UnimplementedFeatureError: Copying of type struct ChallengeManager.Participant memory[] memory to storage not yet supported.`

[code]

I've also tried the below but this fails with `This variable is of

[2020-04-10 23:09] mrice32 opened #8656 "Unexplained "Assembly exception for bytecode""
## Description

We made a small change to our code and noticed that the non-optimized compilation began failing. In particular, a `require()` (with message) statement seemed to be triggering the new failure. Our codebase is fairly large, but [here](https://github.com/UMAprotocol/protocol/tree/solidity_compilation_example) is a branch where the issue is present. In particular, [this new line](https

[2020-04-11 03:08] naddison36 commented on #4115
I worked out how to do the above. You can push an empty struct to the storage array and then update the properties you want. Any properties you don't update will have a default value. In the below case, `participants` on the `Challenge` struct will be an empty array of `Participant` structs.

[code]

[2020-04-11 11:45] bshastry commented on #8653
Okay, I will close this issue in that case.

Sounds good :-)

[2020-04-11 11:45] #8653 closed, assigned to nobody

[2020-04-12 10:46] bshastry opened #8657 "[SMTChecker] ICE because assertion smt::isInteger(_op.annotation().type->category()) fails"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/333322ebf4cde86c51653d5736796df63d476d0a/libsolidity/formal/SMTEncoder.cpp#L465

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-04-12 11:35] bshastry commented on #8657
Closing cos duplicate of https://github.com/ethereum/solidity/issues/8419

[2020-04-12 11:35] #8657 closed, assigned to nobody

[2020-04-13 01:40] pklinger opened #8660 "Comments in solidity files not parsed correctly"
When parsing any solidity contract, that contains a comment (either single line // or multi-line /* */) I am getting the following error:

`{"contracts":{},"errors":[{"component":"general","formattedMessage":"Contract.sol:1:2569: ParserError: Function, variable, struct or modifier declaration expected.\n ... someLastlineOfMySolContract));        _;    }}\n                                        ^\

[2020-04-13 17:35] bshastry commented on #8655
Mixed interface-contract inheritance example with different visibility:

Case 1: Interface and abstract contract bases define namesake function

[code]

Case 2: Interface and non abstract contract bases define namesake function

[code]

[2020-04-14 07:51] hrkrshnn commented on #3459
In the implementation, the modifier implementation in derived class will have to use the `override` flag.

The same example:

[code]

This check already happens in the code, and makes the code clearer, so I'll keep it. What do you think @ekpyron

[2020-04-14 08:05] ekpyron commented on #3459
Yes `override` should be required in the overriding modifier. As a matter of fact we should probably force unimplemented modifiers to be `virtual` as well, i.e. do things exactly as for functions.

[2020-04-14 08:09] franzihei commented on #7369
Feedback from Truffle: It shouldn't be too much of a problem for them on their end. They thank us very much for checking with them and giving a heads up on this. :)

[2020-04-14 08:51] leonardoalt commented on #8660
Can you give more details about how you're running it? Is it via `solc-js`? Using `--standard-json`?
Without that it's hard to try and reproduce it. Comments work fine for me in general.

[2020-04-14 09:31] chriseth opened #8661 "[DOC] Some ideas for the readthedocs style"
We should iterate on our style for readthedocs. The style of the brownie documentation looks nice: https://eth-brownie.readthedocs.io/en/latest/

Two items I especially like about that:
 - second level in the TOC is expanded by default
 - it has a "dark mode"

[2020-04-14 10:38] axic commented on #8661
I like the TOC, but not a personal fan on dark modes (it hurts my eyes more than white, though I have a the automatic "blue filter" enabled in macOS).

[2020-04-14 12:01] chriseth commented on #8661
Should have clarified: it has a toggle switch for dark mode. @iamdefinitelyahuman said he will create a PR here :)

[2020-04-14 12:44] elenadimitrova opened #8662 "Running `solidity-upgrade` doesn't print error list"
I'm trying out the `solidity-upgrade` tool against the [argent repo](https://github.com/argentlabs/argent-contracts) and having a number of issues:

1. Pragma directive not upgraded, while [documentation suggests it should](https://solidity.readthedocs.io/en/latest/using-the-compiler.html#example)

[code]

2. Changing the pragma above manually, and rerunning the upgrade now reports one error left

[2020-04-14 16:26] chriseth opened #8664 "Recursive struct definitions are only checked at contract-level, not at file-level"
The following compiles without error
[code]

while this one does not:
[code]

Any usage of `s1` or `s2` in the first version causes internal errors.

There might be similar bugs elsewhere, so we should check that all structs **and enums** are checked, not only at contract level.

Reported by @magnus237

[2020-04-14 22:50] axic opened #8667 "SMTChecker crash on slices"
[code]

results in

[code]

[2020-04-14 23:06] axic opened #8668 "SMTChecker confused about loop variables"
[code]

reports

[code]

[2020-04-14 23:12] axic opened #8669 "[SMTChecker] Properly handle constants"
[code]

results in

[code]

[2020-04-14 23:59] axic opened #8670 "Optimiser confused by something"
This is the most minimal example I've got so far:
[code]

With `--optimize` (default settings, albeit tried with `--optimize-runs 10000000` too) there is this snippet in the output:
[code]

The `not and not and` part doesn't seem to make any sense.

[2020-04-15 00:22] a3d4 opened #8671 "Invalid IR generated when tuples are involved"
## Description

Setting `compileViaYul: true` in **test/libsolidity/semanticTests/types/nested_tuples_noyul.sol**

[code]
causes invalid IR:

[code]

## Environment

- Compiler version: latest develop

## Steps to Reproduce

Set  `compileViaYul: true` and run the test.

[2020-04-15 10:20] chriseth commented on #1290
Ah sorry, I thought I tried the example, but I must have made a mistake.

[2020-04-15 10:33] chriseth commented on #8646
"Do I need to deploy this" - the question should be answered by the deployment tool depending on whether the object has link references or not - not by the nature of the library to be linked to.

If you have a non-empty library but never call any of its public functions then you also do not need to deploy the library.

I would propose to close this issue.

[2020-04-15 10:33] #8372 closed, assigned to nobody

[2020-04-15 10:36] #8671 closed, assigned to ekpyron

[2020-04-15 10:57] bshastry opened #8674 "[SMTChecker] Runtime error: reference binding to to null pointer of type `const char*`"
## Description

[code]

throws the runtime error here

https://github.com/ethereum/solidity/blob/95349b36349818288638521e4156cd1a40d6be77/libsolidity/formal/Z3Interface.cpp#L240

probably because the referenced vector member may have been uninitialized because an earlier for loop that was supposed to initialize the said vector was not taken for some reason

https://github.com/ethereum/solidity/blo

[2020-04-15 12:06] chriseth commented on #8079
Done in https://github.com/ethereum/solidity/pull/8246

[2020-04-15 12:06] #8079 closed, assigned to christianparpart

[2020-04-15 12:39] chriseth commented on #8560
Fixed with 0.6.5

[2020-04-15 12:39] #8560 closed, assigned to nobody

[2020-04-15 12:44] axic commented on #8646
At the minimum this should be documented.

[2020-04-15 12:50] chriseth commented on #7738
One goal of this is that the license is machine-readable. Is there any standard for names of common software licenses?

[2020-04-15 13:01] axic commented on #7738
The standard is SPDX: https://spdx.org/licenses/. It also has an expression syntax.

This is the one used by NPM (https://docs.npmjs.com/files/package.json#license) and Cargo (https://doc.rust-lang.org/cargo/reference/manifest.html#the-license-and-license-file-fields) to name a few.

[2020-04-15 13:09] ekpyron commented on #1687
Related https://github.com/ethereum/solidity/issues/8081

[2020-04-15 13:17] ekpyron commented on #8081
We could be quicker about making this an error, if/when https://github.com/ethereum/solidity/issues/1687  allows backwards compatibility with older contracts and compatibility with other languages.

[2020-04-15 13:45] chriseth commented on #8655
I'll put this in the ice box for now.

[2020-04-15 13:54] axic opened #8676 "Document .gitattributes for syntax highlighting"
See https://github.com/ethereum/solidity/issues/2681#issuecomment-355277311 ?

Probably as part of the "style guide" section.

Closes #2681.

[2020-04-15 20:00] damianoazzolini commented on #8523
This would be useful, expecially if someone wants to build a smart contract programming language that targets yul in the compilation

[2020-04-15 20:21] axic commented on #8523
@damianoazzolini are you working on something like that by any chance? :wink:

[2020-04-15 20:30] damianoazzolini commented on #8523
@axic eh eh eh i've an idea for a language i would like to implement, however is difficult to find something that deeply explains yul

[2020-04-15 20:44] axic commented on #8523
Can you help us by telling which parts are unclear or what examples would be useful?

[2020-04-16 08:14] bshastry opened #8682 "[evmone] Consistent versions across platforms"
## Description

Motivated by https://github.com/ethereum/solidity/pull/8651 that upgrades evmone selectively for Windows only.

In the past, there were multiple PRs for upgrading evmone. Example
  - https://github.com/ethereum/solidity/pull/7655 upgraded evmone to 0.3.0 in all Linux based CIs but not Windows, OSx and Linux test suite
  - https://github.com/ethereum/solidity/pull/7748 upgraded evmo

[2020-04-16 09:47] chriseth commented on #8523
I'm adding a complete example of an ERC20 token to the documentation.

[2020-04-16 11:18] axic commented on #8527
I've submitted a PR to github-pages to update the dependency. Will wait a few days to see if there's any feedback. If none I can try replacing all the dependencies in the blog.

[2020-04-16 12:24] damianoazzolini commented on #8523
The thing that is more difficult to understand is the addresses computation and the representation of struct. For instance, is not clear how to use mload sstore and how the addresses passed in the function call are computed. A step by step analysis of, for example, the ERC20 contract but without optimization would be very useful.

[2020-04-16 12:31] chriseth commented on #8523
@damianoazzolini I'm not sure I understand. Structs are not part of Yul. Are you talking about structs in the ABI or in Solidity? Did you take a look at https://github.com/ethereum/solidity/pull/8683 ? Which address computation are you referring to?

Maybe this one also helps: https://medium.com/@chriseth/writing-smart-contracts-in-iulia-2a5ba737c7f1

[2020-04-16 12:46] axic opened #8686 "isoltest: throw failure if input can be compiled via yul (--ir) but was marked as `compileViaYul: false`"
Idea from https://github.com/ethereum/solidity/pull/8554#issuecomment-614326427

[2020-04-16 12:46] axic commented on #8686
@ekpyron would this be complicated to add?

[2020-04-16 12:48] ekpyron commented on #8686
Good idea! And shouldn't be complicated to do at all.

[2020-04-16 13:11] damianoazzolini commented on #8523
@chriseth thanks for the pointer! For instance, where does the addresses 0x70a08231, 0x18160ddd etc came from in the ERC20 example? They are in the switch case statement.

[2020-04-16 13:16] chriseth commented on #8523
Yeah, this is higher-level than Yul. It is defined in the Ethereum ABI specification: https://solidity.readthedocs.io/en/develop/abi-spec.html

[2020-04-16 21:21] ericr-aon opened #8688 "SMTChecker exhibits strange behavior on unused mappings"
The following code returns no warnings by the SMT checker, as is expected:

[code]

However, as soon as a mapping state variable is introduced we witness the model checker's incompleteness in some very strange ways. Unrelated assertions begin to fail if the function contains any state-reading conditionals at all:

[code]

Result:

[code]

[2020-04-16 22:02] leonardoalt commented on #8688
Unfortunately this comes from the Horn solver used by the CHC engine. Apparently just adding an SMT Array (used by the Solidity `mapping`) to the predicates (even though they are only passed around and not used in any constraints) makes the solver return `unknown`. In this case, the BMC engine is used, and since it doesn't have knowledge about contract invariants it returns this false positive.
I'

[2020-04-17 10:31] gsalzer opened #8690 "Re-introduce keywords "constant" and "payable" to maintain interoperability with geth console"
## Abstract, Motivation, Specification

Please re-introduce `constant` and `payable` as deprecated keywords in the json-ABI (see #4755) and drop them at a later point. These keywords have been dropped in `soldidity 0.6.x`, which breaks the interoperability with the `geth` console in its current versions. For some reason, the `geth` console still uses `web3.js 0.20.1`, which depends on these keywor

[2020-04-17 10:49] axic commented on #8690
To me it seems like a better idea updating geth, than re-introducing deprecated features, which took years to get rid of.

[2020-04-17 12:35] hrkrshnn opened #8691 "Typo in error message for modifiers"
## Description
There is a typo in the (secondary) error message for overriding modifiers.

## Environment
Current develop.

## Steps to Reproduce

[code]

The output is:
[code]

"Note: Overridden **function** is here:"  should be changed to **modifier**

[2020-04-17 13:54] chriseth commented on #8691
Please just fix such tiny things :)

[2020-04-17 17:28] gsalzer commented on #8690
Are we talking of the same thing? I'm referring to the latest version of `geth` that does not work with the latest version(s) of `solidity`. As these are two flagships of the Ethereum ecosystem, this situation should be alarming.

Instead, the `geth` people argue that for the moment they cannot/don't want to get away from web3c 0.x [geth#20760](https://github.com/ethereum/go-ethereum/issues/20760)

[2020-04-17 18:21] axic commented on #8690
I meant updating, aka making changes in, geth so that it works. Web3.js 0.x is a seriously outdated piece of code. The web3.js team has been releasing the 2.x series and the latest stable is 1.2.6. The last release of the 0.x series was in April 2018, which is "decades ago" in this space. See https://github.com/ethereum/web3.js/releases.

I am not even sure why would anyone use the geth console. C

[2020-04-17 18:42] axic commented on #8690
By carefully reading your issue on geth, I would suggest to give a try using more battle proven means to deploy contracts: truffle, embark or remix.

[2020-04-17 19:28] mijovic commented on #8686
I am working on this

[2020-04-17 19:39] gsalzer commented on #8690
"I am not clear what you mean by 'troubles communicating' and 'waging a code war'."
This is my interpretation from the outside of the fact that there are two projects that do not move in sync, both refusing to take responsibility for the incompatibility. I have seen the pattern 'we break backwards compatibility to force others to upgrade' more than once, and it is was hardly ever helpful.

We teac

[2020-04-17 22:51] wjmelements opened #8696 "Duplicate address sanitation for call parameter"
Version 0.6.6.
Command: `solc --asm --optimize --optimize-runs=20000 contracts/Demo.sol`
Demo.sol:
[code]

Output includes:
[code]

The code twice sanitizes the address `c`. The optimizer does not fix this.

[2020-04-18 10:33] iamdefinitelyahuman opened #8697 "Windows release for v0.5.16 is a nightly build"
## Description
The Windows version provided in the [`v0.5.16` release](https://github.com/ethereum/solidity/releases/tag/v0.5.16) is a nightly build.

[code]

I encountered this in the Brownie CI when a [Windows job failed](https://travis-ci.com/github/iamdefinitelyahuman/brownie/jobs/320612313#L435) while attempting to compile with `v0.5.16`. I have confirmed it locally in a virtual machine.

##

[2020-04-20 07:14] hrkrshnn opened #8699 "(low-priority) Change lValueRequested to willBeWrittenTo in JSON AST"
The PR https://github.com/ethereum/solidity/pull/8644 changes `lValueRequested` to `willBeWrittenTo` in the cpp code. However, the member in JSON AST remains the same. In 0.7.0, apply the change to the JSON AST member.

See https://gitter.im/ethereum/solidity-dev?at=5e8ef6473a85536c431ad992 for context.

[2020-04-20 08:08] hrkrshnn opened #8700 "[solidity-upgrade] Implement dot syntax upgrade in Upgrade070.cpp"
The Breaking PR https://github.com/ethereum/solidity/pull/8589 deprecates `.value()` and `.gas()` syntax. After discussing with @ekpyron, we think that it is a good idea to have `solidity-upgrade` do this upgrade for contracts, in particular, for the external tests.

[2020-04-20 10:30] chriseth commented on #8499
Thanks for your suggestion, @Amaxx! I'm wondering whether you really need a data structure that support "partial evaluation" or if what you really need is tuples as keys for mappings.

So it would rather be
[code]

and you would use `m_lookuptable["1", "2", "3", 1]` instead of  `m_lookuptable["1"]["2"]["3"][1]`

It would also have the benefit that you only need to compute one hash instead of 4.

[2020-04-20 10:35] axic commented on #8484
Vyper is also planning this feature: https://github.com/vyperlang/vyper/issues/1923

[2020-04-20 10:37] axic commented on #8484
I'm probably in favour of `type(uint256).min` given we are using the `type()` builtin for a bunch of relevant things now.

[2020-04-20 10:41] chriseth commented on #8484
Proposal by @christianparpart : For fixed point types, we could use `type(fixed).epsilon` for the smallest positive value.

[2020-04-20 10:44] chriseth commented on #8484
Decision in call: Let's have `type(X).min` / `type(X).max` for all integer types.

[2020-04-20 10:49] franzihei commented on #7738
Link to Twitter poll and discussion: https://twitter.com/ethchris/status/1250418075263885313?s=20

[2020-04-20 10:51] axic commented on #8499
Perhaps using the tuple syntax we have is more clear:
[code]

[2020-04-20 10:56] chriseth commented on #7738
Tentative "accept" in discussion call, leaning towards "warning", especially since an error would make it hard to write small examples.

[2020-04-20 11:00] chriseth commented on #7738
Open questions:
 - is there a specific "closed source" license?
 - what about custom licenses?

We can check what cargo does about that.

[2020-04-20 11:17] axic commented on #7738
"Proprietary"

[2020-04-20 11:19] chriseth opened #8702 "Berlin: make use of subroutines - eip 2315"
- [ ] add "hasJumpsub" function to the evm version and make it return true for "berlin"
 - [ ] add the jumpsub, beginsub and returnsub opcodes to instructions.cpp (move them around and assign the correct number - do not care about breaking evm1.5).
 - [ ] make sure that jumpsub, beginsub and returnsub cannot be used in yul directly
 - [ ] change the EVMCodeTransform to use jumpsub, beginsub, retur

[2020-04-20 11:20] chriseth commented on #8702
Maybe we should remove evm1.5 support altogether with this change.

[2020-04-20 11:24] #8275 closed, assigned to nobody

[2020-04-20 11:24] #8279 closed, assigned to nobody

[2020-04-20 11:24] #8280 closed, assigned to nobody

[2020-04-20 11:24] #8286 closed, assigned to nobody

[2020-04-20 11:24] #8664 closed, assigned to ekpyron

[2020-04-20 12:23] bshastry opened #8704 "[Fuzzing] Permit linking of libraries in fuzzer harnesses"
## Abstract

The solidity compilation framework class that is used by fuzzing code is currently capable of only generating EVM bytecode for a specified contract.

This issue tracks support for linking libraries. This support will be useful in #8636 .

[2020-04-20 13:11] #8704 closed, assigned to bshastry

[2020-04-20 13:18] chriseth commented on #8696
Could be duplicate of https://github.com/ethereum/solidity/issues/8670

[2020-04-20 13:34] chriseth commented on #8670
Can it be that we never had optimizer rules for `x and (x and y) -> x and y`?

[2020-04-20 13:52] chriseth commented on #8670
We indeed did not have such a rule, but moving constants out and applying `and(x, x) -> x` should also do the trick here...

[2020-04-20 15:56] agroce opened #8711 "ICE in solidity::frontend::TypeChecker::checkExpressionAssignment(const solidity::frontend::Type &, const solidity::frontend::Expression &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer, now with a few more mutation operators

Looks similar to some closed bugs...

## Environment

- Compiler version:  0.6.7-develop.2020.4.20+commit.41ef1312.Linux.clang
- Target EVM version (as per compiler settings):

[2020-04-20 16:04] agroce opened #8712 "ICE in solidity::frontend::ABI::generate(const solidity::frontend::ContractDefinition &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solfuzzer (seems to work fine with solc, though)

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer, now with a few more mutation operators

## Environment

- Compiler version:  0.6.7-develop.2020.4.20+commit.41ef1312.Linux.clang
- Target EVM version (as per compiler sett

[2020-04-20 16:05] chriseth opened #8713 "Remove the --optimize-yul run on soltest"
The soltest.sh script make multiple passes, some with `--optimize-yul` and some without. Since 0.6.0, ``--optimize`` includes ``--optimize-yul``, so that case can be removed from the loop.

[2020-04-20 16:07] veox commented on #8608
FWIW, [v0.5.1](https://pypi.org/project/pygments-lexer-solidity/0.5.1/) with the above fix is out.

[2020-04-20 16:49] bshastry commented on #8711
Thank you for the bug report @agroce

I believe this is a duplicate of https://github.com/ethereum/solidity/issues/8277#issuecomment-607936250

Perhaps your input is another way of triggering the ICE.

[2020-04-20 16:53] agroce commented on #8711
Hmm, yeah, I searched for the line involved, but code churn has presumably moved it.  The inputs are awfully different, though...

[2020-04-20 16:54] agroce commented on #8711
Ok, the odd thing here is there aren't any arrays around, not even bytes32 or anything, right?

[2020-04-20 17:37] BlinkyStitt commented on #1687
I want this feature because I want to be able to just copy/paste some JSON from etherscan and be able to interact with the contract. I don't have the source, or the source is in a different version and ensuring I get the identical compilation that mainnet has sounds like a place for bugs to slip in.

[2020-04-20 20:11] chriseth commented on #8661
Dark mode has been implemented and restructuring the TOC is done in #8715

[2020-04-20 20:18] axic opened #8716 "Ether units: support gwei (and perhaps review the others)"
The [ether units](https://solidity.readthedocs.io/en/latest/units-and-global-variables.html#ether-units) we support:
- wei,
- finney,
- szabo
- ether

`ether` (most used unit) and `wei` (smallest unit) are very useful, but it seems `finney` and `szabo` never picked up too much following, however we are missing `gwei`, which is frequently used for gas calculations.

Would it make sense supporting `

[2020-04-20 20:20] chriseth commented on #8716
at some point there was also ada and einstein...

[2020-04-20 20:45] axic opened #8717 "[Sol-Yul] Support shifts"
[code]

results in
[code]

Also missing for `<<` and `>>>`.

[2020-04-20 20:59] axic commented on #8716
I missed ada and einstein, but in 2016 this was my collection of "current" units: https://github.com/ethereumjs/ethereumjs-units/blob/master/units.json

(It includes lovelace instead of ada)

[2020-04-20 21:53] axic opened #8722 "[CLI] Introduce `--ir-bin` to output binary via yul"
Currently it is rather complicated process to get a binary via Yul:
1. `solc --ir input.sol > input.yul`
2. remove the "IR:" lines
3. `solc --strict-assembly input.yul`

If `--ir-bin` is introduced, we would need to deprecate it when we switch over to Yul completely and at that point `--bin` would use it.

[2020-04-20 22:03] cameel commented on #8485
@chriseth There are tests called `semanticTests/libraries/library_enum_as_an_expression.sol` and `semanticTests/libraries/library_struct_as_an_expression.sol` in the directory with library tests. They check whether accessing an enum or a struct defined in a library works, but it's just a no-op - they just use the name of the type and don't try to actually do anything with it. I can easily make the

[2020-04-21 09:18] chriseth commented on #8697
Fixed by recompiling and modifying the release.

[2020-04-21 09:18] #8697 closed, assigned to nobody

[2020-04-21 09:22] bshastry opened #8723 "[SMTChecker] Throws ICE because "Sorts (Array Int Int) and Int are in compatible""
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/8c60b2c847a794829ca7633fcc6ed9b673347c21/libsolidity/formal/Z3Interface.cpp#L206

## Environment

- Compiler version: latest develop linked against z3 >= v4.6.0

## Steps to Reproduce

[code]

[2020-04-21 09:24] axic commented on #8723
Duplicate of #8667?

[2020-04-21 09:27] chriseth commented on #8722
The idea was to make it combersome to prevent people from using it.

I would prefer a solution that just switches the whole pipeline to yul-ir-mode right away.

[2020-04-21 09:36] bshastry commented on #8723
Ah right @axic . Closing this issue

[2020-04-21 09:36] #8723 closed, assigned to nobody

[2020-04-21 09:48] iamdefinitelyahuman commented on #8697
Thanks!

[2020-04-21 11:05] bshastry opened #8724 "[Fuzzing] Add multi variable declaration statement to yul proto spec"
## Abstract

Issue tracks support for multiple variable declaration statement like

[code]

[2020-04-21 12:02] axic opened #8725 "Security advisories"
We currently maintain a list of bugs in `docs/bugs.json` and are displayed as part of our documentation: https://solidity.readthedocs.io/en/v0.6.6/bugs.html.

We also post a blog entry on blog.ethereum.org and now on solidity.ethereum.org.

Github also has a Security tab:
![Screenshot 2020-04-21 at 12 57 23](https://user-images.githubusercontent.com/20340/79863525-cda78c00-83cf-11ea-9407-fc8c0391c

[2020-04-21 12:05] Marenz commented on #8725
How would such a post to `solidity.ethereum.org` look? Would it just be the bug and description copied from the json file?

Could we automate all the points in your proposal?

[2020-04-21 12:07] axic commented on #8725
I am not proposing a change to how we announce bugs, here's an example: https://solidity.ethereum.org/2016/11/01/security-alert-solidity-variables-can-overwritten-storage/

I am only proposing that we assign a unique identifier to each bug and also create a link on the Github Security tab.

[2020-04-21 12:15] axic commented on #8725
These are the fields required by github:

![Screenshot 2020-04-21 at 13 14 19](https://user-images.githubusercontent.com/20340/79864829-06486500-83d2-11ea-9e87-1010de63f555.png)

I am not fully sure we want to make use of this or not, but assigning an identifier to each bug is definitely useful.

[2020-04-21 12:18] chriseth commented on #8725
Sounds good!

[2020-04-21 14:49] agroce opened #8727 "ICE in CompilerStack::compileContract(..) [Assembly exception for bytecode]"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer, now with a few more mutation operators

Looks similar to some closed bugs...

## Environment

- Compiler version:  0.6.7-develop.2020.4.20+commit.41ef1312.Linux.clang
- Target EVM version (as per compiler settings):

[2020-04-21 15:27] hrkrshnn commented on #8662
For point 2, I think only errors that can be upgraded get printed.

[2020-04-22 04:45] elenadimitrova commented on #8662
But shouldn't all errors it detects be printed still?

[2020-04-22 08:28] hrkrshnn commented on #8662
For the final message, i.e.,

[code]

Those error messages will not be printed. This is something that can be easily fixed, though.

Also, warnings are not printed, but they are included in the count.

My old comment is incorrect. Errors (both upgradable and non-upgradable) will be shown. I believe, in your case the "1 error" is actually a warning.

[2020-04-22 08:33] hrkrshnn commented on #8662
For 1. I don't see any code for pragma upgrade in `tools/solidityUpgrade/*` Maybe I'm missing something.

[2020-04-22 09:28] chriseth opened #8731 "Add a test about payable constructor in inheritance"
Do we have a test that checks that a contract can receive ether upon construction if the contract itself does not have a constructor, but it is inheriting from a contract that has a payable constructor?

[2020-04-22 09:29] leonardoalt opened #8732 "Run `run_proofs` with Boolector"
@yoni206 mentioned that Boolector can solve many of those tests with BV256, so we should try that as well

[2020-04-22 10:00] chriseth opened #8733 "Add a "nonempty" conditional to Whiskers"
In several whiskers templates, we have patters of the form
[code]

or

[code]

Both could be simplified by a "some param is nonempty" conditional instead of adding another param manually. We could use `#param` for that:

[code]

or

[code]

[2020-04-22 11:08] axic commented on #8725
How about `SSA-<year>-<num>` where SSA stands for "Solidity Security Advisory"? :wink:

[2020-04-22 11:22] bshastry opened #8736 "[Documentation] Add clarification that "nonpayable" abi state does not correspond to any solidity state mutability keyword unlike other mutability states that map one-to-one"
## Description

Since `nonpayable` mutability is not parseable e.g.,

[code]

we need to remove reference to it here: https://solidity.readthedocs.io/en/v0.6.6/abi-spec.html?highlight=nonpayable#json

[2020-04-22 11:24] axic commented on #8736
`stateMutability` in the JSON ABI does not need to be 100% reflected with language keywords. No mutability specifier in Solidity means it is `nonpayable`.

[2020-04-22 11:28] bshastry commented on #8736
I see. Thank you for the clarification @axic . Perhaps, we should add this clarification to the documentation because it seems like a non-intuitive corner case (all others map 1-1 with solidity keyword)?

[2020-04-22 11:32] axic commented on #8736
Yes, it would make sense documenting it.

[2020-04-22 11:40] axic commented on #8722
That would be ideal but `--ir-bin` seems to be more in line with the "cumbersome" method.

[2020-04-22 11:58] chriseth commented on #8722
What about ``--experimental-enable-ir``?

[2020-04-22 12:15] #8593 closed, assigned to nobody

[2020-04-22 12:16] #8594 closed, assigned to nobody

[2020-04-22 12:16] #8595 closed, assigned to nobody

[2020-04-22 12:16] #8596 closed, assigned to nobody

[2020-04-22 12:16] #8597 closed, assigned to nobody

[2020-04-22 12:16] #8598 closed, assigned to nobody

[2020-04-22 12:16] #8599 closed, assigned to nobody

[2020-04-22 12:17] #8600 closed, assigned to nobody

[2020-04-22 12:17] #8601 closed, assigned to nobody

[2020-04-22 12:17] #8602 closed, assigned to nobody

[2020-04-22 12:17] #8603 closed, assigned to nobody

[2020-04-22 12:18] #8605 closed, assigned to nobody

[2020-04-22 12:18] #8606 closed, assigned to nobody

[2020-04-22 12:25] leonardoalt commented on #8688
Ref https://github.com/Z3Prover/z3/issues/4054

[2020-04-22 12:49] chriseth commented on #8733
@marenz proposed `+param`

[2020-04-22 12:56] chriseth commented on #8711
@agroce tuples are a special kind of arrays for the parser.

[2020-04-22 14:34] gitpusha opened #8738 "InternalCompilerError: Assembly exception for bytecode"
Hi,

I am using:

Framework: `@nomiclabs/buidler` (`npx buidler compile`)
compiler: `solc-js 0.6.6` (via buidler package).

I get the following compiler error when trying to compile this (source code distilled down to smallest unit that causes the compile error):

`InternalCompilerError: Assembly exception for bytecode`

I located the source of the error to the `GelatoUserProxyFactoryDebug.proxyRu

[2020-04-22 14:56] chriseth opened #8739 "Option to output the ast even before import resolution"
We should provide the options to abort after certain steps:
 - parsing
 - import resolution
 - symbol resolution
 - type checking

etc.

-> only implement a switch a la `stop-after: parsing` for now, and only allow `parsing` for now.

[2020-04-22 17:33] leonardoalt opened #8743 "[SMTChecker] Make CHC engine check for overflow/underflow"
Fixes https://github.com/ethereum/solidity/issues/8669
Fixes https://github.com/ethereum/solidity/issues/8668

[2020-04-22 17:33] leonardoalt commented on #8669
The CHC engine actually can handle constants, but it doesn't check for overflow/underflow.

[2020-04-22 17:35] leonardoalt commented on #8674
@bshastry I can't reproduce it. Can you still?

[2020-04-22 17:36] leonardoalt commented on #8668
The CHC engine actually can handle these constraints, but it doesn't check for overflow/underflow.

[2020-04-22 17:39] bshastry commented on #8674
I can only reproduce it via undefined behavior sanitizer i.e., `CXXFLAGS=-fsanitize=undefined`

[2020-04-22 17:47] axic opened #8744 "[SMTChecker] Does not support revert()"
[code]

[code]

[2020-04-22 17:50] axic opened #8745 "[SMTChecker] Does not support `new bytes(..)`"
[code]

[2020-04-22 18:11] leonardoalt commented on #8745
Duplicate of https://github.com/ethereum/solidity/issues/6050?

[2020-04-22 18:12] axic commented on #3044
I think these features would be nice, especially considering that a lot of contracts now use assembly to access them, which puts an extra burden on the SMTChecker.

cc @leonardoalt

Probably should be considered in conjunction with #4910

[2020-04-22 18:15] #8745 closed, assigned to nobody

[2020-04-22 18:30] leonardoalt commented on #6275
@axic is this still valid?

[2020-04-22 18:34] leonardoalt commented on #7196
We now rely on resource limit (and not time limit) and each test can choose which solver should run, so I'd say we can close this.
@ekpyron please reopen otherwise.

[2020-04-22 18:34] #7196 closed, assigned to nobody

[2020-04-22 18:34] axic commented on #6275
I have no idea.

[2020-04-22 18:35] leonardoalt commented on #7130
The CHC code is now stable and using small blocks. This follows CFG generation and makes the model much cleaner.

[2020-04-22 18:35] #7130 closed, assigned to nobody

[2020-04-22 18:35] leonardoalt commented on #6761
@bshastry ping

[2020-04-22 18:42] leonardoalt commented on #8674
Can you check if https://github.com/ethereum/solidity/pull/8748 fixes it?

[2020-04-22 21:07] axic commented on #8722
What would that do? Switch all the internal pipeline?

[2020-04-22 21:14] #8674 closed, assigned to nobody

[2020-04-22 21:18] #8419 closed, assigned to nobody

[2020-04-22 21:31] yoni206 commented on #8732
This shouldn't be hard using `pysmt`, that has a backend for both Boolector and z3 (and others). However, these "no-overflow" operators that you are using would need to be encoded as I don't see them in pysmt.

[2020-04-22 21:34] leonardoalt commented on #8732
Oh right, that sounds good.
Yea, I think they are z3 specific

[2020-04-22 22:09] aniemetz commented on #8732
Boolector supports overflow operators, in particular for signed and unsigned addition, multiplication and division. Not via SMT-LIB, but via the API and the BTOR format.

[2020-04-22 22:12] yoni206 commented on #8732
Also supported via the python api of Boolector?

[2020-04-22 22:14] aniemetz commented on #8732
Yes.
https://github.com/Boolector/boolector/blob/master/src/api/python/pyboolector.pyx#L1875
https://github.com/Boolector/boolector/blob/master/src/api/python/pyboolector.pyx#L1896
https://github.com/Boolector/boolector/blob/master/src/api/python/pyboolector.pyx#L1896
https://github.com/Boolector/boolector/blob/master/src/api/python/pyboolector.pyx#L1964
https://github.com/Boolector/boolector/blob

[2020-04-22 23:00] #8667 closed, assigned to nobody

[2020-04-22 23:25] chriseth commented on #8722
Switch into full "compile via yul" mode.

[2020-04-23 01:26] 3esmit opened #8751 "`abi` function for extracting a selector from calldata stored in memory"
Currently I am using this function to decode the selector:

[code]

This should be a built in feature of the `abi.` library as `abi.getSig(bytes memory calldata)` or `abi.getSelector(bytes memory calldata)`, or some other way of dealing with calldata incoming through parameters (useful for approveAndCall of MiniMeToken and other).

[2020-04-23 07:33] #8736 closed, assigned to nobody

[2020-04-23 08:47] leonardoalt opened #8755 "[SMTChecker] Tune Spacer options"
Some Spacer options work well in different scenarios, and it's hard to tell in advance which options to use. We could have a tuning mechanism that enables/disables options in at least two different runs, if the first run times out/returns unknown.

[2020-04-23 09:42] bshastry commented on #6761
Sorry this took so long. I am unable to reproduce this with Z3 version 4.8.7. I vote for closing this issue.

[2020-04-23 09:46] #6761 closed, assigned to nobody

[2020-04-23 10:01] #8711 closed, assigned to a3d4

[2020-04-23 10:01] chriseth commented on #8277
Fixed in https://github.com/ethereum/solidity/pull/8752

[2020-04-23 10:01] #8277 closed, assigned to nobody

[2020-04-23 10:14] #8622 closed, assigned to nobody

[2020-04-23 10:18] MrChico opened #8758 "Artifacts of generating values to constants remain present in optimized code"
Looking through some source code and found this somewhat odd.
In the following contract, compiled with (0.6.6) and the optimizer on,
[code]
when fetching the `constant a` in `f`, while the result of the hashing is correctly precomputed and returned in the function, the bytecode still loads the string `'transfer(address,uint256)'` into memory for no apparent reason. Cf. https://github.com/Uniswap/u

[2020-04-23 10:18] chriseth commented on #8751
I would propose: `abi.selector(bytes memory)` and `abi.selector(bytes calldata)`.

[2020-04-23 10:19] #8688 closed, assigned to leonardoalt

[2020-04-23 10:24] #7856 closed, assigned to aarlt

[2020-04-23 10:25] #8696 closed, assigned to nobody

[2020-04-23 10:30] chriseth commented on #8758
I'm sorry, but this is a know limitation of the optimizer - it currently has no notion of lifetime for memory objects. A proposal to fix this (at least for the new optimizer) is here: https://github.com/ethereum/solidity/issues/5107

[2020-04-23 10:30] #8758 closed, assigned to nobody

[2020-04-23 10:35] chriseth commented on #8712
This is an interesting one:

A solution would be to only list external constructors in the ABI.

[2020-04-23 10:37] chriseth commented on #8608
@veox yes, the CI builds the docs and also has a preview feature. Could you please create a PR to activate your module?

About the types: Currently, inline assembly does not support types, but it probably will in the future - so it would be good to already activate that feature in the highlighter.

[2020-04-23 10:50] chriseth commented on #8670
It seems that #8707 does not solve this issue :(

[2020-04-23 10:56] #8350 closed, assigned to nobody

[2020-04-23 11:00] MrChico commented on #8758
interesting, thanks

[2020-04-23 11:29] axic commented on #8751
Didn't we had this topic discussed under some other PR?

[2020-04-23 11:31] axic commented on #8751
I'd however suggest `abi.decodeSelector` to be in line with the API we have.

[2020-04-23 11:44] chriseth commented on #8751
It is arguable if an actual decoding is performed there...

Although it would revert if the argument is shorter than 4 bytes.

[2020-04-23 11:48] chriseth commented on #3044
`.codeHash`, `.code`, `.codeSize`? Or `.codeLength`?

[2020-04-23 11:50] bshastry opened #8760 "[Typechecker] solc ICE because of null TypePointer type"
[code]

throws

https://github.com/ethereum/solidity/blob/c7b4fa34bd307f272cc7a3f6eb06e731b5629ed5/libsolidity/analysis/TypeChecker.cpp#L1088

## Description

## Environment

- Compiler version: latest develop

[2020-04-23 11:53] chriseth commented on #8738
Might be related to #8656

[2020-04-23 11:54] axic commented on #3044
I think codesize is fine as it is close to the opcode. A user can also do `code.length` at the cost of memory expansion, unless we want to make a weird shortcut where `code.length` translates to `extcodesize`.

Also question: should the compiler generate `codesize/codecopy` (and not `extcodesize/extcodecopy`) in case of `address(this).codesize` and `address(this).code`?

[2020-04-23 11:56] axic commented on #8751
I'd assume `abi.selector` is a type or a way to create a selector, if I weren't familiar with the API.

[2020-04-23 12:09] #3459 closed, assigned to hrkrshnn

[2020-04-23 12:12] chriseth commented on #3044
Sure, same mechanism as with selfbalance.

[2020-04-23 12:13] chriseth commented on #8738
Actually I do not think it is related to #8656 - but it shows a hole in our immutable analysis: You cannot use `runtimeCode` for contracts that use immutables.

[2020-04-23 12:14] chriseth commented on #8738
Proposed fix: Create error when using `runtimeCode` on a contract that uses immutables.

[2020-04-23 12:20] chriseth commented on #8760
Another tuple error :)

[2020-04-23 14:36] chriseth commented on #8733
The proposal above would be `<?+param> ... <!+param> ... </+param>`

[2020-04-23 16:19] hrkrshnn commented on #8662
About 1. I talked with Erik, it seems that there is no pragma upgrades possible currently. The one in documentation was done manually.

For 3. You probably already know this, `--allow-paths .` should fix your problem. I'll look why `base` doesn't work.

[2020-04-23 17:20] jcaracciolo opened #8762 "Wasm release appears to be the same file as the emscripten release"
## Description

While doing research for @NomicLabs about performance benchmark between different releases for the solidity compiler, the **Emscripten** and **Wasm** versions appear to be puling the same numbers. After closer inspection, it seems they are in fact the same file.

## Steps to Reproduce
[code]

Description of release in https://solc-bin.ethereum.org/bin/list.json
[code]

Description

[2020-04-23 18:02] chriseth commented on #8762
This is indeed the case. We just flipped a switch in the emscripten build process that creates a javascript file that contains a "binary blob" which is transparently executed via webassembly.

If you want to compare performance, you can only easily do that on a version up to and including 0.6.1. If you take a look at the solc-bin repository, you will find a directory called `wasm` that contains th

[2020-04-24 12:21] #8661 closed, assigned to nobody

[2020-04-24 12:44] axic commented on #7943
@bshastry is this still a problem?

[2020-04-24 13:39] chriseth commented on #8291
@ekpyron This was completed in https://github.com/ethereum/solidity/pull/8665 wasn't it?

[2020-04-24 13:39] #8291 closed, assigned to ekpyron

[2020-04-24 14:32] #8762 closed, assigned to nobody

[2020-04-24 14:50] axic commented on #8762
@chriseth do we have this explained in the documentation btw?

[2020-04-24 14:56] chriseth commented on #8762
No - we should add something. Also how you can load the compiler in the browser.

[2020-04-25 18:33] axic opened #8772 "ABI: fixed-length bytes larger than 32 bytes"
Currently in the ABI there are two kinds of "bytes" types: fixed-length bytes (1 to 32 bytes, `bytes1` to `bytes32`) and dynamic-length bytes (`bytes`).

There is a reason for this: since the ABI operates on 256-bit width elements, fixed-length bytes can be encoded in-place, while dynamic ones are encoded as an offset in-place and followed by 256-bit aligned data.

However, in many of the use case

[2020-04-25 19:38] axic opened #8773 "In-language testing syntax / support"
I thought we had a tracking issue for this already. Last we've discussed I believe was in September 2017.

Some languages have built-in support for unit testing, such as [C#](https://docs.microsoft.com/en-us/visualstudio/test/walkthrough-creating-and-running-unit-tests-for-managed-code?view=vs-2019), [Rust](https://doc.rust-lang.org/rust-by-example/testing/unit_testing.html) and [Python](https://d

[2020-04-25 20:04] saarthak08 opened #8774 "Error in installing in MacOS"
I tried to upgrade solidity using Homebrew but it shows errors. Earlier when I installed solidity it installed correctly. But when I recently tried to upgrade, it failed. So, I upgraded my MacOS, XCode and all brew packages and uninstalled the older version of solidity and then tried to install solidity@0.6.6 again, but it failed again.
So then, I tried to install the older version again but it al

[2020-04-25 20:28] axic commented on #6900
I would say there is no point supporting comments when they are not a valid JSON feature. IIRC we have them disabled as much as jsoncpp allows disabling them.

Also apparently nlohman-json now supports CBOR integration: https://github.com/nlohmann/json#binary-formats-bson-cbor-messagepack-and-ubjson

This means we could in theory replace our code or at least replace it in the tests. However this i

[2020-04-25 22:03] axic opened #8775 "Allow constants in interfaces"
(Moved this from #3411 which, now confusingly, refers to a different feature.)

Since we allow accessing constants through contract names (#1290) and enums in interfaces (#4087), it may make sense to reconsider this feature, at least for some healthy discussion.

I am still not sure if it is a good idea or not (it definitely can be useful from a users' perspective, but could be dangerous?)

The ca

[2020-04-25 22:03] axic commented on #3411
Oops, I think the original issue was about allowing "getter" functions to be defined. This has been solved  by #3514.

My proposal was unrelated, hence moved to #8775.

[2020-04-25 22:03] #3411 closed, assigned to nobody

[2020-04-25 22:16] axic opened #8776 "Allow NatSpec comments for events"
[code]

Intuitively I would expect the above to produce some NatSpec output, but the compiler produces none. [The spec](https://solidity.readthedocs.io/en/v0.6.6/natspec-format.html) reveals the compiler is correct.

I think events are in a weird position, because they cannot be inspected by contracts and are supposed to be ephemeral, however they are well supported in the language and widely used

[2020-04-25 22:21] axic commented on #3418
Since #3514 was fixed, the (in my opinion) best pattern is using interfaces to define public functions and those have to be NatSpec documented. Interfaces can't have "getters", but getters can implement functions of interfaces. This removes the need for NatSpec documenting internal functions -- probably the bigger questions is defining the goals and use case of NatSpec to properly decide its featu

[2020-04-25 22:59] axic commented on #6905
Agreed in January not to enable shadowing: https://github.com/ethereum/solidity/pull/8013#issuecomment-572046943

`-pedantic -Wno-unknown-pragmas -Wimplicit-fallthrough` was added by #8013

This leaves `-Wconversion -Wsign-conversion` unaddressed.

[2020-04-25 23:13] fulldecent commented on #3418
Yes agreed. `interface` is now working great and it is the primary way to document interfaces and that is the primary use for NatSpec.

All is good in the world, there is no need for this feature. Closing.

There is no harm in implementing this feature and it can be opened later if desired but there is no need for it.

[2020-04-25 23:30] axic commented on #7259
Strictly speaking about libsolidity/libsolc (and not the tests and CLI): `boost:filesystem` is only used via the `absolutePath` and `sanitizePath` helpers in `libsolutil`. Perhaps we could replace those with `std::filesystem` or even with home brew helpers, if that is a useful reduction of boost dependency. I'm not fully sure it is.

[2020-04-26 07:38] GollyGo commented on #8776
/// @ConsentDevelopment

[2020-04-26 18:34] axic commented on #1015
I would like to revive this discussion.

[2020-04-27 01:17] kevin1027sloth opened #8779 "在0.6.0中，关于 mapping 的使用如何初始化"
## Abstract

## Motivation

## Specification

## Backwards Compatibility

[2020-04-27 01:17] axic commented on #7455
A relevant read on the topic: https://diligence.consensys.net/blog/2019/09/stop-using-soliditys-transfer-now/

Given the date on it, it may have been the inspiration for this issue.

Two more length articles:
- https://ethereum.stackexchange.com/a/38642
- https://github.com/fravoll/solidity-patterns/blob/master/docs/secure_ether_transfer.md

[2020-04-27 01:19] axic opened #8780 "Check (and potentially integrate) fravoll/solidity-patterns"
Here: https://github.com/fravoll/solidity-patterns

[2020-04-27 01:21] #8779 closed, assigned to nobody

[2020-04-27 05:03] kevin1027sloth opened #8781 "结构体中的结构体数组如何初始化？"
我尝试了使用下面的代码：
![image](https://user-images.githubusercontent.com/31197436/80335438-e0fe9f80-8886-11ea-8547-b1aa4cccb1da.png)
但是编辑器有错误提示 ：

但是下面的这种书写却不会出现错误：
![image](https://user-images.githubusercontent.com/31197436/80335610-5e2a1480-8887-11ea-97ae-0e7f5e16c1e3.png)

请问我将如何实现结构体中的结构体数组的初始化？

[2020-04-27 08:26] leonardoalt commented on #1015
Instead of making the modifier explicitly mention the function, how about the other way around? That is, a modifier states a condition, and the function decides how to use it, for example as a pre or post condition.

[code]

This starts to get mixed up with invariants though...

[2020-04-27 08:29] #8608 closed, assigned to nobody

[2020-04-27 08:31] chriseth commented on #1015
Before we had require, modifiers were used in a very different way. We should collect the current use-cases for modifiers and then maybe restrict the syntax to "pre-conditions, potentially with side-effects" only.

[2020-04-27 08:32] leonardoalt commented on #1015
Agree!

[2020-04-27 09:03] chriseth commented on #6905
Let's try them!

[2020-04-27 09:10] axic commented on #6905
I did try them back in January and they require **a lot** of changes. Someone needs to sit down and fix them one by one :wink:

[2020-04-27 09:23] chriseth commented on #8781
If this is about the missing feature: You need to copy the individual elements of the struct manually.

[2020-04-27 09:23] #8781 closed, assigned to nobody

[2020-04-27 09:24] chriseth commented on #6905
But they are really useful.

[2020-04-27 09:25] chriseth commented on #6905
I think it should be done on a file-by-file basis with checks only run locally.

[2020-04-27 09:29] leonardoalt commented on #8146
@dddejan people already actively remove `assert`s from their code to save gas, so I don't think the flag would make it more dangerous there, and I agree with the workflow you described.

[2020-04-27 09:30] leonardoalt commented on #8146
@axic it can be done without #3157 if side effects are not allowed

[2020-04-27 10:49] xiaozhu001 commented on #8781
@chriseth  你有认真看我的问题描述吗？我问的很清楚，就是想要在结构体中定义一个结构体的数组，那么我如何实例化这个结构体

[2020-04-27 10:58] leonardoalt commented on #4596
I don't think it'd need https://github.com/ethereum/solidity/issues/869, unless it supports more than arrays., but I think it needs https://github.com/ethereum/solidity/issues/911 with capturing

[2020-04-27 11:11] axic commented on #4596
We discussed as part of https://twitter.com/nomorebear/status/1254000358361186306, range based loops would have avoided some mistakes. (But also unit testing would avoid them too)

[2020-04-27 12:07] #8733 closed, assigned to nobody

[2020-04-27 13:05] axic commented on #8775
Note, #8772 fixes the use case I would need this for. Not sure if there are other common use cases.

[2020-04-27 13:50] hrkrshnn opened #8786 "[solidity-upgrade] Incorrect override during upgrade (low-priority)"
## Description

This is to record a bug in solidity-upgrade ([context](https://github.com/ethereum/solidity/pull/8741/files#r415719390)) It creates incorrect placement of overrides.

[code]
Upgrade generated by `solidity-upgrade`. (See the extra `override` after `require`.)

[code]

### Notes
1. This appeared while trying to upgrade [ColonyNetwork.](https://github.com/JoinColony/colonyNetwork)
2.

[2020-04-27 13:51] chriseth opened #8787 "Allow functions to be declared at file level"
It should be possible to declare functions at file level. Such functions would not have direct access to a contract, but they could call all other such functions defined or imported in the current file.

Such functions would have internal calling semantics, but could take storage pointers to act on the state.

The pseudo-keyword `this` would be invalid.

This could be a nice and more intuitive rep

[2020-04-27 14:11] axic commented on #6828
Is this is a code-generator feature or a language feature? Are talking about introducing min/max basically for types? (#8484)

[2020-04-27 14:36] chriseth commented on #6828
No, this is about internal functions for yul codegen. I'll close it.

[2020-04-27 14:36] #6828 closed, assigned to nobody

[2020-04-27 14:52] axic commented on #5825
They also have a "rule engine": https://lity.readthedocs.io/en/latest/rule-engine-guide.html

Which basically seems to be a definition of trigger catching and executing code on them.

[2020-04-27 15:55] hajduakos opened #8789 "Empty NatSpec comments cause compile error"
## Description

A contract with multiple lines of empty NatSpec comments causes a parser error, with a rather misleading error message.

## Environment

- Compiler version: `v0.6.6+commit.6c089d02`, but also with `v0.5.17+commit.d19bba13`
- Target EVM version (as per compiler settings): _compiler default_
- Framework/IDE (e.g. Truffle or Remix): _Remix_

## Steps to Reproduce

[code]

Result:
[cod

[2020-04-27 16:11] #4884 closed, assigned to nobody

[2020-04-27 17:19] mijovic opened #8790 "Constructors and payable"
Inheritance:
 - If base constructor is payable it is possible to inherit even with nonpayable or no constructor at all
 - If base constructor is non payable it is possible to inherit with any kind of constructor
Basically, everything is allowed here, all contracts can be deployed successfully.
Even calling payable base constructor from modifier list in derived constructor is fine

Revert:
 - If ba

[2020-04-27 17:32] chriseth commented on #8790
In my opinion, we should derive the behaviour from the following principles:
 - inheritance rules should match those for functions in general.
 - it should be possible to set `value` if and only if the contract does not revert when sent ether during construction time.
 - the callvalue check for constructors should be the same as for functions (this also covers the case of a constructor not being d

[2020-04-28 09:39] #8204 closed, assigned to nobody

[2020-04-28 11:13] #8724 closed, assigned to bshastry

[2020-04-28 12:07] hrkrshnn opened #8794 "NatSpec comments doesn't finish the block after newline"
## Description
The value of `StructuredDocumentation` for the following code should be just ` @author y` instead of `@author x\n @author y`

[code]

[2020-04-28 12:37] Marenz commented on #8727
Couldn't reproduce this with the current `develop` branch, trying out last release version now

[2020-04-28 12:49] Marenz commented on #8727
Hmm I can't even reproduce this if I use the same commit as specified in the description

[2020-04-28 12:50] Marenz commented on #8727
To reproduce, specify the `--optimize` flag

[2020-04-28 12:57] Marenz commented on #8727
So, the actual assert failing here is this one:
[code]

In Assembly.cpp:697

[2020-04-28 15:14] chriseth opened #8795 "[Sol -> Yul] Cleanup not always done"
I think that in the Sol -> Yul translation, cleanup is not always done, at least not before equality comparison. Maybe we should do cleanup for every single type conversion?

Specifically, type conversion does not lead to cleanup when the types are the same. This could lead to problems with regards to inline assembly.

[2020-04-28 15:31] chriseth commented on #8795
Another solution (maybe this is what we had in mind?) is to write every operation on smaller types with dirty higher order bits in mind.

[2020-04-28 16:05] chriseth commented on #8795
The main question to answer here is if dirty higher order bits would trigger a revert or not.

[2020-04-28 17:46] #8406 closed, assigned to nobody

[2020-04-29 08:09] chriseth opened #8798 "Provide a way to calculate the salted address of a contract"
See https://github.com/ethereum/solidity/issues/2136#issuecomment-559196297:

[2020-04-29 08:14] #8760 closed, assigned to a3d4

[2020-04-29 08:55] chriseth commented on #7455
Since we have `try/catch` now, we could just modify the semantics of `.transfer` in the following way: `.transfer` will always forward all gas, unless specifed using e.g. `.transfer{gas: 0}(...)`. We could introduce a warning now if the gas is not explicitly specified and change the behaviour in a breaking release.

[2020-04-29 10:36] #8700 closed, assigned to hrkrshnn

[2020-04-29 11:53] davidcian opened #8801 "Use the official CircleCI orb for shellcheck"
In the [CircleCI config file](https://github.com/ethereum/solidity/blob/develop/.circleci/config.yml), shellcheck is used as follows:
[code]
It would maybe be interesting to use the [official CircleCI shellcheck orb](https://circleci.com/orbs/registry/orb/circleci/shellcheck), especially since the command to install shellcheck is [failing atm](https://circleci.com/gh/ethereum/solidity/310227?utm_c

[2020-04-29 12:23] chriseth opened #8802 "Support custom natspec / doc tags."
We could support e.g. all tags that start with `_`.

[2020-04-29 12:23] chriseth commented on #8802
The contents of these tags could be exported via json, either only in the ast or even somewhere else.

[2020-04-29 12:26] frangio commented on #8802
This would be great. I've wanted something like it before for our documentation generator. https://github.com/OpenZeppelin/solidity-docgen/issues/131

[2020-04-29 16:23] chriseth commented on #3525
We could also ask the user to provide the names of the conversion functions as part of the typedef:

`typedef <a> as <b> convertvia a_to_b, b_to_a;`

[2020-04-29 16:33] axic commented on #3525
Feedback from the summit: maybe user defined types are not too urgent, but having specific types from dialect (#7830) would be useful.

I suggest we consider the following types for the EVM dialect:
- address -> `address`
- memory pointer -> `memptr`
- storage key?
- storage pointer?
- calldata pointer?

And define typecasting functions for them in the form of `<from>_to_<to>`, e.g. `memptr_to_u25

[2020-04-29 16:36] chriseth commented on #3525
The benefit of having to specify the names of the conversion functions is that it allows you to search for a function being referenced and see that it is a conversion function or not.

[2020-04-29 16:47] SilentCicero commented on #3525
### My preferences:
[code]

### Typedef:
I also prefer `define` vs `typedef` in that case you're cutting the word define off. This is not Yulish IMO.

[code]

I like `type` or `define` not `typedef` (i.e. be explicit and clear, it's also similar to TypeScript)

### Pointer conversation:
I like a general pointer type, more basic. Not against though a memory / storage pointer. But for now even basic

[2020-04-29 16:54] dominicletz commented on #7593
This seems to be in fact pretty much a duplicate of https://github.com/ethereum/solidity/issues/597 unless I'm missing something. Please merge

[2020-04-29 17:05] KaiRo-at commented on #597
To implement contract following [EIP 1822](https://eips.ethereum.org/EIPS/eip-1822) and/or [EIP 1967](https://eips.ethereum.org/EIPS/eip-1967), the capability to define a specific slot would be required. Right now, this needs to be done via inline assembly...

[2020-04-29 17:35] rmeissner opened #8803 "Compiler should export constructor code"
Result from the open discussion about upgradable contracts at the Solidity Summit

See https://hackmd.io/zjYDbVL5TEqgpOgMXXNT1g?both

As proxies cannot make use of the constructor code if the "master copy" it is very common to use some initializer code. This can cause issues and often requires overhead (e.g. adding a `init` function to the master copy)

Currently it's not possible to grab the cons

[2020-04-29 17:43] leonardoalt opened #8804 "Trusted/untrusted contract/function"
External function calls to another contract are problematic for formal verification tools because even if the called code is known during static analysis, we can't guarantee that the deployed code is exactly that, unless the analyzed contract is the deployer. In the latter case, we could mark the contract/address that was deployed by the analyzed contract as trusted, so FV tools wouldn't have to d

[2020-04-29 17:50] chriseth commented on #8803
The problem with the constructor argument offset is that we do not know how many bytes it would need. Can you please elaborate on what you would do with the constructor code? Would it work to have a constructor routine that abi-decodes the parameters from calldata?

[2020-04-29 17:50] axic commented on #8804
It would be possible to check codehash in the call pre-flight and abort if there's a mismatch.

[2020-04-29 18:43] nventuro commented on #409
Given the discussions today on the Solidity Summit it might make sense to halt development of the library we had in mind for OpenZeppelin Contracts: the proposed native support greatly aligns with what we had in mind. I guess @MicahZoltu got what he wanted :stuck_out_tongue:

Is there a rough estimate for when we might expect this feature to be released? I'm not sure how much extra work is require

[2020-04-29 18:51] axic commented on #409
That was the plan, see the top message.

[2020-04-29 19:09] frangio commented on #8803
Different people may have different uses for it. One option is to deploy a contract whose runtime code is the constructor code. A proxy contract could then be created like this:

[code]

Keep in mind that there is an expectation that code on chain be verified by Etherscan or similar services, and the way they currently work they are not able to verify runtime code in isolation, or constructor code

[2020-04-30 10:28] chriseth commented on #3525
@SilentCicero can you elaborate on how `cast(uint160, bool)` would work? The current idea is that there are only conversion functions from a user-defined type to its base type and vice-versa - because that is the bare minimum you need in order to operate. Everything else can be done by user-defined functions.

So assuming you meant `cast(address, uint160)` - how would you apply such a function to

[2020-04-30 10:30] chriseth commented on #3525
Sorry, this got out of hand away from user-defined types. My current preferred solution for the typedef would be:

`type UserName as uint256 via uint256_to_UserName, UserName_to_uint256`.

[2020-04-30 11:23] chriseth commented on #8803
Disregarding the problem with the argument offset, something like `type(contract).initCode` should include
 - the callvalue check?
 - everything up to but excluding the actual deploy code?
 - what about immutables? I guess immutables are incompatible with upgradable contracts

[2020-04-30 11:44] bshastry commented on #6226
Closed via https://github.com/google/oss-fuzz/pull/2835

[2020-04-30 11:44] #6226 closed, assigned to bshastry

[2020-04-30 12:21] chriseth opened #8807 "Provide access to source code of internal routines to debuggers"
Source references already map to internal code - we should provide access to this code, at least the abi encoder / decoder written in yul. This does not need to be part of the metadata because it can be re-generated from the source.

[2020-04-30 14:04] #8147 closed, assigned to hrkrshnn

[2020-04-30 14:34] chriseth commented on #7455
Instead of terminating after a call to `withdraw`, we could have the compiler check that there are no state-changing operations after the call to `withdraw`. The function could also be called `returnEther` or `sendBack`.

[2020-04-30 14:44] GNSPS commented on #7455
I would very much prefer deprecation of the methods.
I think that the same way opcode repricing broke the "transfer is reentrancy-safe" assumption, this change would, too.

Generally, I would advocate keeping the functionality of the methods the same and just discourage its usage until deprecation. I could get behind a new keyword for different functionality, though, like `withdraw`, just think it

[2020-04-30 15:35] axic commented on #8773
Discussed this during the Solidity Summit and on the gitter channel.

There seemed to be an interest to at least define conventions which can be shared with all the different frameworks. An easy option is to define an interface for the "assertion library" so that tests all can use the same functions, but allow the frameworks to implement their own methods (the specific events those assertions outp

[2020-04-30 16:02] chriseth commented on #8787
Should we also allow modifiers to be declared at file level?

[2020-04-30 16:35] GNSPS commented on #8773
_Pasting formatted comments and images from the Gitter chat in case it is helpful for future reference:_

Dominic Letz @dominicletz 16:20
i'm definitely pro having "native" syntax to enable testing switches
having testing support outside the compiler e.g. in some preprocessor means we're losing type support , and in the worst case could lead to the C/C++ precompiler macro mess

chriseth @chriseth

[2020-04-30 16:45] MrChico commented on #6485
@chriseth here is the issue for `PC` values for functionss and modifiers. If you think the AST is the wrong place for this, I'm open for other suggestions

[2020-04-30 16:54] axic commented on #8146
This was discussed during the Solidity Summit and the following options were proposed:

1. static_assert

[code]

2. special comments with proper Solidity expressions

[code]

3. non-comment annotations

[code]

And introduce a compiler flag, which includes them in the generated bytecode.

Thanks for @hajduakos and @montyly for feedback.

[2020-04-30 16:58] MrChico commented on #6485
Specifically, it would be very helpful to get `PC` values for:
- Functions, especially internal functions
- Modifiers
- Loop headers

an additional thing I mentioned in the talk is to also get the (stack or memory) location or the arguments given to internal functions, but perhaps this is better to keep in a separate issue?

[2020-04-30 17:13] MrChico opened #8812 "compiler metadata: location of function arguments"
To make debugging, analysis and formal verification easier, it would be useful to be able to automatically extract the location of arguments given to functions.

For value types, this is not very difficult: the arguments will be directly on the stack in reverse order; but for reference types, it is not as straightforward to find this.

Would it be possible to provide this information as compiler m

[2020-04-30 17:33] muellerberndt commented on #8146
+1

[2020-04-30 18:22] leonardoalt commented on #8146
I like option 3:
`[[assert f(x+2 == g(x-3))]]`

[2020-04-30 18:27] leonardoalt commented on #8146
Regardless of which option, I think the main question left is:
Compiler flag for bytecode generation or not?
In case no, how would tools that target bytecode know about those properties?

I am personally in favor of compiler flag

[2020-04-30 18:36] chriseth commented on #7738
By @axic : could also use special comment: https://spdx.org/ids-how

[2020-04-30 19:03] hajduakos commented on #8146
+1 for option 3, that could also be generalized to further specs. For example
[code]
(or `@invariant(x == y)`).

This approach can also have better flexibility if verifiers want to have tool specific extensions. For example they could define custom annotations (or functions to be used in annotations). Similarly as Java or C# allows custom annotations/attributes. E.g., the former example could be e

[2020-04-30 20:39] AnonymousMonkey2021 opened #8813 "Release for 0.4.15 executable for windows is in incorrect version"
## Description
Download the 0.4.15 executable for windows from the release, it is a nightly build, not the actual stable version.

## Environment
N/A
- Compiler version: 0.4.15
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: Windows

## Steps to Reproduce
 Download and run solc

[2020-04-30 20:43] AnonymousMonkey2021 opened #8814 "Windows executable for 0.4.0/3/4"
## Abstract
In the release, there's no windows executable.

## Motivation
Others might want it?

## Specification
I tried to build it myself, it would not work....

## Backwards Compatibility

[2020-04-30 21:07] AnonymousMonkey2021 opened #8815 "Error when try to build on windows for 0.4.15"
## Description
[code]

## Environment

- Compiler version:
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduce
Following the instructions provided by the solidity doc.
When executing "cmake -G "Visual Studio 14 2015 Win64" .."

[2020-04-30 21:42] frangio commented on #8803
Yes immutables seem incompatible. Maybe it would be an error to access or output the `initCode` of a contract with immutable state variables.

The other two things you mention should be included yes. This includes for example setting the initial values of state variables.

[2020-05-01 04:54] haltman-at opened #8816 "Hex literals don't work in assembly/Yul"
## Description

The Yul specification says that there are `hex'...'` literals, but in fact such literals do not work.  Using hex literals will cause a `ParserError: Literal or identifier expected`.  This is true regardless of whether single or double quotes are used.

## Environment

- Compiler version: 0.6.6
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or

[2020-05-01 08:07] bshastry opened #8817 "[SMTChecker] ICE in SMTEncoder::mergeVariables because "trueIndex == falseIndex""
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/602b29cba782bae83769c1723e2b9cae2221d05d/libsolidity/formal/SMTEncoder.cpp#L1456

[code]

## Environment

- Compiler version: latest develop

[2020-05-01 11:13] chriseth commented on #8787
During the summit, a concern was raised that if this is used to replace internal library functions, the `using` construct will not be available here, but we could just allow `using <funcitonName> for X` or `using module.* for X` to attach any (set of) free function to a datatype.

[2020-05-01 11:13] chriseth commented on #8787
We might also introduce another namespacing construct to better group functions.

[2020-05-01 11:17] chriseth commented on #8815
What you list seem to be only warnings and not errors. Can you provide the full build log?

[2020-05-01 11:18] chriseth commented on #8814
I'm sorry, but we do not plan to provide windows binaries for these old releases. Please use the js binary instead.

[2020-05-01 11:18] #8814 closed, assigned to nobody

[2020-05-01 11:33] #8552 closed, assigned to hrkrshnn

[2020-05-01 13:59] alcueca commented on #409
And here there are another two significant projects that used Fixidity.sol for fixed point math, and deserve something better:
 - [Celo](https://github.com/celo-org)
 - [PoolTogether](https://github.com/pooltogether)

[Synthetix](https://github.com/Synthetixio/synthetix) made their own fixed point library, which I personally like a lot. I use a very similar one in an under-the-wraps DeFi startup I

[2020-05-01 14:08] alcueca commented on #409
@3sGgpQ8H made some good points that I think deserve better explaining. He told me the same a while ago in the OpenZeppelin thread and I only understood it fully while working in a different project.

When working with fixed point types the most common operation, by far, is this:
`uint modified_amount = uint amount * fixed rate`

There is really no reason to keep currency amounts in fixed point nu

[2020-05-01 14:15] alcueca commented on #409
Another comment is about using 18 decimals because that's the convention with ether. I pressed for this myself, @3sGgpQ8H told me I was wrong, and eventually I saw that taking a cue from the decimals used in ether is misleading, as I was told :man_shrugging:

Think about this, you have these two variables:
`uint money = 1`
`uint votes = 1`

When you cast them into fixed point, you will want this r

[2020-05-01 14:23] alcueca commented on #409
How many decimals to use?
 - If there aren't cross type operations then we need cast_and_displace and using 18 decimals is useful because then `fixed` can hold the same money amounts as `uint`.
 - If there are cross type operations then don't need cast_and_displace, money amounts would have no reason to use the `fixed` type, and I would use a much larger amount of decimals such as 27 or even 45. T

[2020-05-01 18:33] chriseth commented on #409
Thank you very much for your input, @albertocuestacanada ! This actually leaves me much more worried than before...

Currently, all types and operators in Solidity (except for shifts and exp) work by either implicitly converting the left operand to the type of the right operand or vice-versa and then doing the operation in that type.

Furthermore, implicit conversions can only be done if there is

[2020-05-01 19:57] alcueca commented on #409
Yeah, I thought that cross-type operations would be hard. If we can't have them for `uint256` then there is probably no point, as we would have to cast all currency amounts anyway.

If we can't have `fixed * int -> int` nor `fixed * int -> fixed`, then we need to store currency amounts in `fixed`. That means that conversions between `int` and `fixed` can't have data loss. I might be wrong but that

[2020-05-01 20:41] nventuro commented on #409
Wouldn't such an application be better suited for functions in a library? Another related function is `div(uint, uint) -> fixed` - I'm not sure how such a function would be implemented in terms of operators.

[2020-05-02 12:38] chriseth commented on #409
Do we really need so many integer digits? Wouldn't `div(uint, uint) -> fixed` be fine by converting the `uint` to `fixed` first?

About `fixedA(1) == 1.0` and `fixedB(1) == 0.00...001`: The second could be realized by casting through a `bytes32` I would say.

[2020-05-02 14:16] alcueca commented on #409
Yes, converting the `uint` to `fixed` would be fine, but as before being able to choose how to convert would be useful.

You would see the operation above when calculating the proportion than a certain token holds in a basket. For example if I have something like a balancer pool that should have a 40% of it's value in Dai, and the other 60% in WEth, you would do `P = div(dai.balanceOf(address), we

[2020-05-02 17:17] alcueca commented on #409
Ah, hold on. @chriseth, did you mean that to do `ufixed(1) == 0.00...001`, we could do it like `ufixed f = fixed(bytes32(uint256 i))`?

And then, of course, for `ufixed(1) == 1.0` we would do `ufixed f = ufixed(uint256 i)`.

I would like that. You would keep types and casting general and consistent, but there would be a workaround to cast money amounts into fixed units without range issues, loss o

[2020-05-02 19:41] FabianSchuessler opened #8818 "Failed to verify contract with v0.5.12+commit.7709ece9.Windows.msvc"
## Description

I failed to validate several contracts. I will use Dai as an example: https://etherscan.io/address/0x6b175474e89094c44da98b954eedeac495271d0f#code

## Environment

- Compiler version: v0.5.12+commit.7709ece9.Windows.msvc
- Target EVM version (as per compiler settings): petersburg by default
- Framework/IDE (e.g. Truffle or Remix): none?
- EVM execution environment / backend / block

[2020-05-02 23:03] chriseth commented on #8818
Can you provide more details on how `contract.isContractValid()` operates, please? The source code provided by Etherscan in step 1 mentiones flattened source. This can never fully verify, so there has to be mechanism to exclude the metadata hash in both the on-chain code and the re-compiled code.

[2020-05-03 10:43] FabianSchuessler commented on #8818
L. 259 `contractBinary.contains(code)` is false

https://github.com/web3j/web3j/blob/master/core/src/main/java/org/web3j/tx/Contract.java#L233

[2020-05-03 11:31] chriseth commented on #8818
There indeed seems to be a mechanism that removes the metadata hash, but it does not seem to be correct. The hardcoded hex values in https://github.com/web3j/web3j/blob/master/core/src/main/java/org/web3j/tx/Contract.java#L253 are not the right way to do it. The metadata hash can be detected by removing the number of bytes encoded in the last two bytes - as described here: https://solidity.readthe

[2020-05-03 11:35] chriseth opened #8819 "Should we add `0x00 0x00` to the end of the bytecode for "no metadata"?"
In order to make metadata removal / detection consistent, the "no metadata" version of the bytecode should end in two zero bytes (the length of the cbor structure).

[2020-05-03 11:36] chriseth commented on #8818
Created an issue on the web3j repository: https://github.com/web3j/web3j/issues/1204

[2020-05-03 14:13] rishabjn commented on #7017
//This works perfectly

pragma solidity ^0.5.0;
contract Ub{
struct User{
     string name;
     address myaddress;
}
mapping(address => User) public userStructs;

address[] public userAddress ;

function createUser(string memory name,address myaddress) public{
    userStructs[msg.sender].name = name;
    //set user name
    userStructs[msg.sender].myaddress = myaddress;
    //address'i degistirdi

[2020-05-04 07:53] hrkrshnn opened #8820 "Inconsistent NatSpec userdoc output"
## Description

The userdoc produced by the following code is not consistent:

[code]

## Environment

- Compiler version: develop

## Steps to Reproduce
`./solc --userdoc <file.sol>`

[code]

[2020-05-04 10:48] axic commented on #8819
Sounds reasonable to me.

[2020-05-04 10:50] bshastry opened #8822 "Disallow shift by signed types"
## Description

[code]

compiles just fine but reverts upon execution of `test()`.

However,

[code]

errors on compilation because modulo/exponent cannot be a signed type. This issue tracks support for making compiler behavior consistent i.e., runtime or compile-time error in all cases.

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): NA
- Frame

[2020-05-04 10:56] ekpyron commented on #8795
I'd argue that neither cleanup in *every* type conversion, nor assuming dirty inputs for operations is actually nice... Since I think this issue can *only* occur using inline assembly, two more options to consider:
- Clean up everything that was written to in inline assembly after the inline assembly block.
- Translate assignments to external references to ``IRVariable`` assignments instead of pla

[2020-05-04 10:58] ekpyron commented on #8822
@chriseth I remember us talking about this before - there was some reason for allowing signed shift amounts and reverting on negative ones, but I don't really see or remember it anymore...

[2020-05-04 11:53] chriseth commented on #8819
Actually it turns out that we always append a cbor structure that at least contains the compiler version. The compiler option is just to remove the metadata hash.

[2020-05-04 11:53] #8819 closed, assigned to nobody

[2020-05-04 11:57] chriseth commented on #8822
I don't remember any reason to allow signed shift amounts. Maybe we had to use the same type for both operands in the past - this is not the case anymore. We can make this a breaking change in 0.7.0.

[2020-05-04 11:58] axic commented on #8819
I was looking at `CompilerStack` the past minutes trying to figure out where CBOR is turned off. It isn't 😓

[2020-05-04 13:15] ekpyron opened #8826 "Change ``setimmutable`` Yul builtin to reference code object, or use special ``codecopy`` version that does the replacement.."
Came up in https://github.com/ethereum/solidity/pull/8583#discussion_r419307365

It might be nice to generalize ``setimmutable``, resp. reduce the assumptions it makes. Two options came up so far:

Use additional arguments for the memory offsets of the code to-be-modified and the name of the code object in ``setimmutable``:
[code]
Or introduce a new variant of ``codecopy`` that implicitly replaces

[2020-05-04 13:16] ekpyron opened #8827 "Unchecked assembly or reconsidering cleanups."
In old codegen cleanups are performed when reading from memory and before any operation.

In Sol->Yul codegen cleanups are performed when reading from memory and after inline assembly blocks.

We could consider to clean up less, i.e. always assume clean stack variables or memory contents.

Arguments are basically:
- Inline assembly should allow for maximum speed/gas savings. People should know wha

[2020-05-04 14:28] montyly commented on #8146
As discussed during the Solidity summit, I like the general idea.

Some comments
- If we add invariants at the contract/function level, we should define what it means; Is it going to be always-true invariant or invariant that must hold at the beginning/end of transactions, or something else? I think @leonardoalt mentioned that invariants would hold at the beginning/end of transactions during the s

[2020-05-04 15:57] Marenz commented on #8656
The exact exception here is
[code]

In libevmasm/Assembly.cpp:688

[2020-05-04 16:17] hrkrshnn commented on #8820
Another potential issue is
[code]

The userdoc generated currently is the following:
[code]

[2020-05-04 16:55] hrkrshnn commented on #8820
Another issue when it comes to consistency between single line and multiline docstring comments are the following:

[code]

[code]

The JSON AST `text` for `StructuredDocumentation` will have `"@notice hello"` in singledocstring and `"<three spaces>@notice hello"` for multilinedocstring.

------------
This is werid. The singledocstring can only remove the space for the first one, it won't do it fo

[2020-05-04 17:05] chriseth commented on #8303
One big problem I see is that

`a, b, c := d, e, f, g h, i,j := x, y`

is a bit difficult to parse :)

How would the assignment translate to EVM bytecode? Evaluate the value from right to left, put everything on the stack and then perform the assignment?

[2020-05-04 17:05] chriseth commented on #8303
Also, can we currently leave out items on the left-hand-side? Then it might even get ambiguous...

[2020-05-04 19:04] nventuro commented on #409
As long as there is a way to cast (not convert!) to and from integers of the same word size, I think we'll be fine. Simple functions can then make those operations more readable, such as:

[code]

I'd focus on operations within the fixed type (add, sub, mul, div).

[2020-05-04 22:39] haltman-at opened #8838 "Yul sourcemaps skip let statements with no initializer"
## Description

Not sure if this is a *bug* as such, but Yul sourcemaps skip over any `let` statement that has no initializer.

For instance, if you do `let x := 1`, then the resulting `PUSH1 0x01` will sourcemap to the `1`.  Pretty sensible.  But if you do `let x`, without specifying an initial value, the resulting `PUSH1 0x00` will sourcemap to the previous statement, and not to, say, the `let x

[2020-05-04 22:53] haltman-at opened #8839 "Request: Jump markings on Yul functions"
## Abstract

I'd like it if Yul functions had jump markings like Solidity functions do.  This would allow debuggers to distinguish between multiple invocations of the same function.  For Truffle Debugger it would allow me to distinguish local variables from one instance of a function, vs those same variables in a recursive invocation of that function.

## Motivation

While Truffle Debugger doesn't

[2020-05-04 22:56] #8686 closed, assigned to mijovic

[2020-05-04 23:12] chriseth commented on #8838
Thanks for reporting! Please check if #8840 fixes it.

[2020-05-04 23:16] chriseth commented on #8839
@yann300 @LianaHus does remix assume that the 'jump into' marking is for Solidity functions only?

[2020-05-05 00:36] haltman-at opened #8842 "Some issues with modifier depth"
## Description

Modifier depth in source maps is difficult to use due to several issues.  Mostly these issues take the form of, it stays the same when it shouldn't.

Specifically:

1. Modifier depth only changes on entering a modifier *beyond the first one on a function*.  (The same applies to base constructors.)  Modifier depth does not provide a way to distinguish whether you are in a modifier a

[2020-05-05 07:21] wuestholz commented on #8146
I also like option 3.

About contract invariants: I think it's worth thinking carefully about where the checks should happen. In the literature on class/object invariants there are many different methodologies for checking invariants and not all of them are sound or easy to check at runtime. At MythX/Diligence, we are currently experimenting with an option that should be sound and quite easy to ch

[2020-05-05 08:32] chriseth commented on #8842
I'm wondering - would it be better to start with the highest value and decreasing with each modifier, reaching 0 at the actual function?

[2020-05-05 10:05] #8523 closed, assigned to nobody

[2020-05-05 10:08] axic commented on #6014
Fixed by #8505. The antlr grammar is exposed now.

[2020-05-05 10:11] axic commented on #7623
This is probably gone now, can't find an example in the documentation for this.

[2020-05-05 10:11] #7623 closed, assigned to nobody

[2020-05-05 10:14] Marenz commented on #8656
The problem seems to be that we're adding the function `array_storeLengthForEncoding_t_string_memory_ptr_fromStack` twice thus triggering the assert that checks for duplicate tags.

The addition is triggered from two positions in the code:
* libsolidity/codegen/Compiler.cpp:49
* libsolidity/codegen/Compiler.cpp:39

[2020-05-05 10:18] axic commented on #6458
There are a bunch more failures now as well as redirects.

[2020-05-05 10:19] #8634 closed, assigned to hrkrshnn

[2020-05-05 10:19] axic commented on #5521
Since ethereum.org was overhauled none of those examples exist anymore.

[2020-05-05 10:19] #5521 closed, assigned to nobody

[2020-05-05 10:19] axic commented on #5483
Ping @leonardoalt

[2020-05-05 10:26] ekpyron commented on #6014
It's not! This is about moving it to somewhere where it's visible in the docs!

[2020-05-05 10:28] axic commented on #4807
I think this seems to be solved (https://github.com/ethereum/solidity/blob/develop/docs/Solidity.g4#L116 and https://github.com/ethereum/solidity/blob/develop/docs/Solidity.g4#L132) but admittedly I haven't reviewed the grammar too much.

[2020-05-05 10:29] axic commented on #6014
![Screenshot 2020-05-05 at 11 29 33](https://user-images.githubusercontent.com/20340/81057107-b4203d00-8ec3-11ea-8053-fec213060e49.png)

This is what I see, I would say it is not that hidden.

[2020-05-05 10:32] ekpyron commented on #6014
Alright, my bad.

[2020-05-05 10:32] #6014 closed, assigned to nobody

[2020-05-05 10:34] axic commented on #3869
Vyper stopped using `decimal10` a long while ago. Two years to be exact: https://github.com/vyperlang/vyper/pull/815

I think there's no need now to document it, unless there are a lot of deployed Vyper contracts out there using that type.

[2020-05-05 10:34] #3869 closed, assigned to nobody

[2020-05-05 10:35] axic commented on #3211
Even after #8505 this is still the same.

[2020-05-05 10:37] axic commented on #1803
Is this still an open issue? cc @chriseth @ekpyron

[2020-05-05 10:40] axic commented on #6304
I'm closing this, but @ChrisChinchilla feel free to explain the issue more and reopen it.

[2020-05-05 10:40] #6304 closed, assigned to nobody

[2020-05-05 10:41] axic commented on #7667
Would make sense including the issue link in `bugs.json` instead?

[2020-05-05 10:42] ekpyron commented on #1803
Well, it's at least better errors now... do we have another issue for accessing external function types and dynamic calldata types from inline assembly? That part is still unsolved, so we can re-purpose this issue for that.

[2020-05-05 10:47] axic commented on #1803
Yep, the message is nicer:
[code]

I would suggest to close this and create a new issue.

[2020-05-05 10:51] axic commented on #7536
I think this may be more of an issue for Remix. @ytrezq please open an issue on https://github.com/ethereum/remix-ide.

Please provide an example stack trace on Remix so we can reopen this and further discuss, if you think it is a problem in the compiler.

[2020-05-05 10:51] #7536 closed, assigned to nobody

[2020-05-05 10:53] axic commented on #2856
Don't we have this now?

[2020-05-05 10:53] axic commented on #2238
Oh, we still don't have this...

[2020-05-05 10:55] axic commented on #7806
@cameel can we close this monster issue now?

It would be perhaps a good topic for a blog post to have a closure to this large body of work.

[2020-05-05 10:58] axic commented on #2967
Continuing this in #8773.

[2020-05-05 10:58] #2967 closed, assigned to nobody

[2020-05-05 10:59] chriseth commented on #2856
No, still a missing feature in clang-format.

[2020-05-05 11:03] axic commented on #5810
Also should consider removing masking after shift (e.g. (uint256 >> 248) && 0xff)

[2020-05-05 11:17] axic commented on #3851
If we want to test the move to intx, we could consider changing the constant optimiser to intx, as a test.

[2020-05-05 11:25] axic opened #8844 "[Sol->Yul] Calldata to memory copying is not supported in the IR"
[code]

results in

[code]

With #8799 :
[code]

results in

[code]

[2020-05-05 11:33] axic commented on #8844
Slices **are** supported:
[code]

[2020-05-05 11:50] yann300 commented on #8839
no it doesn't assume that

[2020-05-05 12:13] ekpyron commented on #3851
We should probably have another discussion about dependencies then, shouldn't we? We kind of already agreed to go for fmtlib and ranges-v3 - and nlohmann-js can still be considered. I'd still actually go for submodules (maybe with some fancy cmake automation), but not sure we can agree on that...

[2020-05-05 12:18] MrChico opened #8847 "[CLI] Various solc improvements"
The experience of using `solc` directly from the commandline, relying on flags instead of the "standard-json" for configuration options, can be improved in some areas in my opinion:

- Some options available to the `standard-json` format do not seem to be available as CLI flags. I'm missing in particular source mappings for yul which was introduced only for the json options in https://github.com/e

[2020-05-05 12:21] axic commented on #3851
Sure, you mean a dedicated call?

Where/when?

What is wrong with `ExternalProject` in cmake?

[2020-05-05 12:23] axic commented on #8847
Some, like `metadata`, should be quoted, because the encoding order matters for reproducibility.

The others I am not sure why are quoted, probably they were introduced at different times, but we could change it with 0.7.0.

[2020-05-05 12:26] axic commented on #8802
From @frangio:
[code]

I kind of like this separate syntax than underscores. We should consult doxygen for best practice.

[2020-05-05 12:27] leonardoalt commented on #8847
Totally agree with this

[2020-05-05 14:38] frangio commented on #8802
I was suggesting that syntax only as a hack as long as custom tags are not supported! But I wouldn't go for that for something built in.

We can also consider using an `x-` prefix, it's quite common in different standards.

[code]

[2020-05-05 14:47] frangio commented on #8802
I assume we don't want to allow arbitrary tags in case any of them are granted special meaning in the future. Can we make that explicit?

I was looking at Javadoc or JSDoc and they seem to allow arbitrary tags.

[2020-05-05 14:55] chriseth commented on #8802
@frangio can you link those standards that use `x-` or something like that?

[2020-05-05 14:56] axic commented on #8802
Email has it for example.

[2020-05-05 15:51] cameel commented on #7806
Probably. The only remaining open PR is #8453.

A blog post is already planned: https://github.com/ethereum/solidity-blog/issues/19. I've been prioritizing other tasks right now but I'm going to start working on that post soon.

[2020-05-05 15:55] chriseth opened #8850 "Check that forced cleanup between address and uint160 is properly done."

[2020-05-05 15:56] #8850 closed, assigned to nobody

[2020-05-05 17:29] frangio commented on #8802
Also HTTP headers. It seems to be popular in network protocols, though there also seems to be a [newer recommendation](https://tools.ietf.org/html/rfc6648) _not_ to use the `X-` prefix. I was pretty sure I had seen it in other places but I can't find any now.

[2020-05-05 17:53] ekpyron opened #8851 "Build and release soljson.js with SMT support."
It now seems possible to build soljson.js with integrated Z3 support.
The resulting binary seems to work, but is significantly larger, i.e. ~~30MB~~ 19MB instead of 8MB.

We can either build with Z3 by default or - if the increased size is a major concern - publish a second version (maybe marked as experimental) with Z3 enabled.

For the build process, I think it would make sense to finally also c

[2020-05-05 18:54] bshastry commented on #7965
Please note that code like this produces different results with and without optimization. Perhaps another reason to remove `pc()`

[code]

[2020-05-05 19:14] bshastry opened #8852 "[Inline assembly] Error on usage of `pc()` with Yul optimizer enabled"
## Description

We error on running the Yul optimizer on

[code]

because

`The msize instruction cannot be used when the Yul optimizer is activated because it can change its semantics. Either disable the Yul optimizer or do not use the instruction.`

We should probably do something similar for `pc()`. Not that it changes optimizer semantics but that one should not rely upon the value of `pc()`

[2020-05-05 19:16] ekpyron commented on #8851
It seems possible to build z3 with
[code]

That has two advantages:
- ``cmake`` will auto-discover Z3 without editing ``libsolidity/CMakeLists.txt`` and without passing ``-DZ3_LIBRARY`` or ``-DZ3_INCLUDE_DIR``.
- Using a ``MinSizeRel`` build the binary size of soljson.js is down to 19MB.

[2020-05-05 21:04] bshastry commented on #7965
Here's a weird side-effect of `pc()` being a certain value on optimization and overwriting memory range `0x40-0x60` in a specific manner that triggers an out-of-gas error *only* on optimized version of the code :-)

[code]

[2020-05-06 07:57] axic commented on #8851
Can we check the size with CVC4 or with disabling some strategies in Z3?

[2020-05-06 08:33] leonardoalt commented on #8851
@axic what kind of strategies could be disabled?

[2020-05-06 08:34] leonardoalt commented on #8851
8mb to 19mb is a substantial % increase, but not that much in absolute terms

[2020-05-06 08:37] leonardoalt commented on #3857
https://github.com/ethereum/solidity/issues/8851 successfully links emscripten z3, and it works for node and browsers

[2020-05-06 08:40] axic commented on #8851
Not sure, you are the expert at z3. I just recall that you mentioned z3 has multiple algorithms and some may be better at certain things but taking longer, than others. Also kind of baffled how could be 10Mb in the first place :wink:

[2020-05-06 08:57] leonardoalt commented on #8851
I just had a look at the build options, I don't see anything related to removing submodules. I would guess the build mode `MinSizeRel` is our best option.

Well, I wouldn't be surprised if z3's codebase is larger than Solidity's, so also not really surprised there.

[2020-05-06 09:32] chriseth commented on #869
Since public functions of libraries are not really used, we do not have the problem of linking to the correct templatized library. We could allow templates only for libraries that do not have public functions.

Another step would be to only allow templatized functions. This would remove the possibility to define templatized structs - which might also be a good simplification.

[2020-05-06 10:38] ekpyron commented on #8790
Are we sure that this is a problem? Can't one argue that the whole construction should be "as payable as" the most derived constructor? What currently happens if there is a non-payable base constructor and a payable most-derived constructor and you send value to it? I'll check.
EDIT: non-payable base constructor and payable derived constructor allows sending value without reverting - that's what I

[2020-05-06 11:06] axic opened #8853 "Compile the "eth2-deposit-contract" with the IR"
This is a tracking issue for the non-official deposit contract: https://github.com/axic/eth2-deposit-contract

- [x] Constants #8344 / #8718
- [x] sha256 #8720
- [x] Shift right #8719
- [x] `abi.encodePacked` #8799
- [x] `new bytes(n)` #8937
- [x] ~~Calldata to memory copying (`bytes(slice[:32])`) #8844~~ It seems to be compiling without this (because likely `sha256(bytes(signature[:64]))` handles

[2020-05-06 11:10] ekpyron commented on #8790
So the current rule is rather simple:
The creation of a contract is payable, if and only if it has an explicit payable constructor. No exceptions and the base contracts and their constructors have no effect on that.

[2020-05-06 11:13] christianparpart commented on #7877
As previously suggested, I've moved the textual changes to a Gist page, that is now to be treated as technical document (not as a blog post), so I can leave in syntax/sema/codegen paragraphs.

https://gist.github.com/christianparpart/8dbfafca45306d102eb115485aa48fe3

/cc @chriseth

[2020-05-06 11:14] chriseth commented on #8790
That sounds rather reasonable and safe actually...

[2020-05-06 11:14] chriseth commented on #8790
I think the rule "it should be possible to set value if and only if the contract does not revert when sent ether during construction time." should still hold, though - not sure if this is the case.

[2020-05-06 11:25] christianparpart commented on #8437
As a revive of my just closed PR, the tests that I think should be added:

#### calling a base function from derived contract
[code]

#### calling base-base functions from derived
Basically to test deeper levels:

[code]

#### Explicit call to base-base function from derived

[code]

#### Explicit call to bsae from derived
[code]

[2020-05-06 11:35] ekpyron commented on #8790
Only one direction currently holds: if it is possible to set value, then the contract does not revert, when sent ether during construction time.

The converse doesn't hold if there is no explicit constructor, e.g. in the following case:
[code]

[2020-05-06 11:37] ekpyron commented on #8790
Actually even worse: even if the base constructor is non-payable, there won't be a callvalue check:
[code]

Code generation only puts in a callvalue check, if there is an explicit non-payable constructor or no constructor in the entire inheritance hierarchy.
I'd consider this a code generation bug, but I'm not sure we should fix it for old codegen, because it could break stuff...

[2020-05-06 11:38] axic opened #8854 "Expose chainid in the language"
The `chainid` opcode was introduced in Istanbul and added as an opcode to inline assembly a while ago (see #7310).

It would be worth considering adding language support to it. I can imagine three options:
1) `chainid()` like `gasleft()`
2) `tx.chainid`
3) `block.chainid`

While I think 2) is nicer because less pollution of the global namespace, the [EIP](https://eips.ethereum.org/EIPS/eip-1344) s

[2020-05-06 11:42] bshastry commented on #8790
Out of curiosity:

`b := create(10, add(c, 0x20), mload(c)) // but this still doesn't revert`

Does this mean that the sent ether is irretrievable?

Edit: I think I mean if `f()` had `msg.value` of `10` and this was forwarded to the `create` call, the caller of `f()` loses `10` ether forever iiuc

[2020-05-06 11:47] Marenz commented on #8738
I can implement this, but what is the reason you can't use runtimeCode when immutables are involved?

[2020-05-06 11:51] ekpyron commented on #8790
@bshastry Yep - there may still be some function in ``A``, resp. ``B`` to retrieve the contract's balance, but there may very well not be (for contracts that are never supposed to hold any ether) - if you send ether to such contracts "by force", it'll be lost iiuc.

[2020-05-06 12:04] chriseth commented on #8812
Would it be fine to add this information to a joint json struct that also contains the storage layout of state variables? Basically some kind of extensible "debug info"?

[2020-05-06 12:18] MrChico commented on #8812
Yeah, that would be great, I think

[2020-05-06 12:49] chriseth commented on #3044
Let's implement `.code` as memory array with a shortcut for `.code.length` (and for codecopy / extcodecopy)

[2020-05-06 12:54] axic commented on #8739
Could add a `stage` field to the standard json which signals up to what point to run the `CompilerStack`: parse, importResolution, analysis, compilation.

[2020-05-06 13:04] ekpyron commented on #8739
Alternative: more fine-grained output selection, i.e. being able to select "preImportResolutionAST" and nothing else would stop before import resolution.
Advantage: we would have to think about and specify what information actually is present for those output selections.

[2020-05-06 13:20] chriseth commented on #8854
Let's implement it as `uint block.chainid`.

[2020-05-06 13:22] franzihei commented on #8299
Let's try to consolidate all blog related issues in the blog repo. As part of this effort, I'm closing this here and moving the content to https://github.com/ethereum/solidity-blog/issues/38

[2020-05-06 13:22] #8299 closed, assigned to elenadimitrova

[2020-05-06 13:36] franzihei commented on #8057
To not clutter the solidity repo any further and to keep an easy overview, let's move all blog related issues to the Solidity blog repo. I will copy the list and create a new issue to keep track of everything here: https://github.com/ethereum/solidity-blog/issues/39

[2020-05-06 13:36] #8057 closed, assigned to chriseth

[2020-05-06 13:43] axic commented on #8057
Could also transfer this issue, @chriseth. That way the comments are kept in one place.

[2020-05-06 13:53] franzihei commented on #8057
The comments are not really needed though / should have all been covered already. But go ahead if you think it's necessary @chriseth. :)

[2020-05-06 14:03] axic commented on #8057
Just mentioned it as a nice feature Github provides, which could come handy in the future. I occasionally use it to move things from solc-js or to move to remix-ide.

[2020-05-06 14:05] #8344 closed, assigned to nobody

[2020-05-06 14:05] frangio commented on #869
I don't think this would be useful. Templates are mostly used to build generic data structures.

[2020-05-06 14:11] chriseth commented on #409
The cast (type conversion / "re-labeling" without changing the underlying data) would go through the respective `bytesXX` type. Explicit and implicit conversions would not change the numeric value, but the EVM word data:

[code]

Still, I would be much more confident to see some example code that really benefits from the fixed-point types that are currently planned.

[2020-05-06 14:17] #8795 closed, assigned to ekpyron

[2020-05-06 14:20] #8713 closed, assigned to Marenz

[2020-05-06 15:58] bshastry opened #8857 "[Tests] Add more tests for yul codegen cleanup"
## Abstract

- [ ] Test clean up post mload
  - [ ] Write to fixed bytes type
  - [ ] Write to struct members
  - [ ] Write to dynamic arrays

[2020-05-06 17:15] ekpyron opened #8860 "External dependencies: json-cpp, fmtlib, ranges-v3, intx, z3, cvc4"
Situation:
- We have been talking about dependencies a while recently, but never came to a decision.
- It looks like we like to introduce dependencies on fmtlib and ranges-v3 and maybe intx. There also was the idea to replace json-cpp with nlohmann/json.
- Our repo contains a copy of evmc.
- For json-cpp we use the cmake ``ExternalProject_Add`` mechanism
- We also depend on boost and optionally on

[2020-05-06 17:35] #8717 closed, assigned to nobody

[2020-05-06 20:16] nventuro commented on #409
@asselstine you've used fixed point libraries to compute rates and fractions, perhaps you could shed some light on this?

[2020-05-06 22:12] alcueca commented on #409
It's late already here, tomorrow I'll write up an analysis of fixed point math use in MakerDAO, that'll be juicy.

[2020-05-06 23:32] chriseth opened #8861 "Implement "basic" modifiers using function calls"
Basic modifiers of the form `{ some_code; _; }` could be implemented by replacing `some_code` by a function call. This would save quite some bytecode in most of the cases, especially with regards to error messages.

[2020-05-06 23:34] yudilevi commented on #8861
Optionally you could create a function for each modifier code "block" to optimize it further.
It won't be perfect, for example in the following case:
`if(x) _;`

But it can cover more cases.

[2020-05-06 23:51] chriseth commented on #6584
For modifiers of the form `{... _;}` this might be doable.

[2020-05-06 23:52] chriseth commented on #8861
Duplicate of https://github.com/ethereum/solidity/issues/6584 :)

[2020-05-06 23:52] #8861 closed, assigned to nobody

[2020-05-07 01:00] haltman-at commented on #8838
Yup, just tried it out, it works great!  Thanks a bunch!

[2020-05-07 01:15] asselstine commented on #409
@nventuro I could shed some light on how we've used fixed point math in PoolTogether.  I have used @albertocuestacanada's Fixidity.sol and have also rolled my own.  Currently:

- Monetary values are stored as uint256.
- Monetary values are multiplied or divided by "mantissas" and returned as uint256.  Mantissas are fixed point 18 numbers like Ether.  Here is our simple multiply uint by mantissa fu

[2020-05-07 08:35] chriseth commented on #409
@asselstine thanks for the insights! Would you be able to share some code examples about how you would use built-in fixed point types?

[2020-05-07 08:55] #8712 closed, assigned to a3d4

[2020-05-07 10:38] ekpyron commented on #6449
Related discussion: https://github.com/ethereum/solidity/pull/8863/files#r421378666

[2020-05-07 11:07] 3sGgpQ8H commented on #409
This implementation suffers from what I call “phantom overflow”: it may overflow even when the final result would fit into `uint256`.  For example, multiplication by one or by a number less than one may overflow, which seems absurd to me.

[2020-05-07 14:08] #8738 closed, assigned to Marenz

[2020-05-07 14:13] ekpyron commented on #6713
Note, mainly to myself: my most recent ideas around this would go along the lines of the following:
Consider:
[code]
Move all declarations up front:

[code]
Introduce "basic control flow blocks":

[code]
Outline those blocks "naively:
[code]

Next thing would be to remove redundant arguments and maybe figure out what returns are actually needed. Might be better to start in SSA form or something li

[2020-05-07 15:37] #8656 closed, assigned to Marenz

[2020-05-07 15:59] Marenz commented on #8368
I was unable to reproduce this with the given compiler version and contract. Do I need to use any specific flags when compiling?

[2020-05-07 16:05] Marenz commented on #8297
Unfortunately not fixed by #8291. Still happening in latest `develop`.

[2020-05-07 16:06] agroce commented on #8368
Hmm.  Try adding --optimize, or solfuzzer?

[2020-05-07 16:08] chriseth commented on #8368
It looks like the backslashes are not properly escaped and I would say this is still the case.

[2020-05-07 16:15] agroce commented on #8368
I can reproduce on a more recent solc:

[code]

Use the file https://github.com/agroce/afl-compiler-fuzzer/blob/master/example.sol

[code]
...
[code]

[2020-05-07 16:27] chriseth commented on #869
@frangio this is probably true. So I think restricting to libraries with only internal functions is a good first step.

Which template libraries come to mind that are really useful and efficient enough?

[2020-05-07 16:52] Marenz commented on #8368
Using your provided file I can reproduce it as well now. Thanks!

[2020-05-07 17:01] asselstine commented on #409
@3sGgpQ8H Yes, the overflow is a concern.  The scaling factor removes a lot of the top-end of the uint256.  This is another one of my concerns that I'd love to see some support for, or compiler warnings at the very least.

@chriseth Happy to share some example code!

A good example is the [calculateExitFee](https://github.com/pooltogether/pooltogether-contracts/blob/2e5426dbff8df529d675d8ce3810e7a

[2020-05-07 17:10] randomnetcat commented on #409
I can share some implementation experience. In #3389, we decided to restrict the fixed point types that could be multiplied and divided in order to prevent overflow. I believe the result was that two fixed points could only be multiplied/divided if both of their types were 128 bits wide or less.

[2020-05-07 17:22] chriseth commented on #409
@asselstine what are reasonable bounds on `totalSupply`? Do you use fractional tokens? How would your math look like given unrestricted precision on both integers and fractions - i.e. what kind of formulas do you use?

[2020-05-07 17:36] asselstine commented on #409
Just want to add that this code has not been audited and is alpha :)

totalSupply is from the standard ERC20 token, so it is a uint256.  It would be interesting to limit the minting of tokens so that the supply is less than uint128, as suggested by @random-internet-cat.  That would ensure the numbers fit into the fixed point size and mitigate overflow.  It does remove a lot of the top-end of the n

[2020-05-07 17:43] chriseth commented on #409
@asselstine thanks for that comment! I would still really like to see more uses of fixed points. I have a hard time reading your code, unfortunately, could you maybe just provide the raw formulas?

[2020-05-07 18:10] asselstine commented on #409
Sure.

First we let:

totalSupply = total # of tickets
balance = users # of tickets
previousPrize = the size of the last prize that was awarded
remainingTime = remaining number of seconds until prize
prizePeriodSeconds = total number of seconds between prizes

Then we calculate the exit fee:

exitFee = (remainingTime / prizePeriodSeconds) * (balance / totalSupply) * previousPrize

[2020-05-07 18:53] ekpyron commented on #8851
Regarding CVC4: so far I'm not even sure I'll be able to build it and that it'll work - but I can try and check! But I'd imagine another increase of approximately the same magnitude and since CHC only works for Z3, I'd choose that, if we have to choose only one.

@axic Recently I heard someone talking about wasm supporting dynamic libraries... https://webassembly.org/docs/dynamic-linking/ sounds l

[2020-05-07 18:57] ekpyron commented on #7514
Done by now. (resp. replaced by wasm builds)

[2020-05-07 18:57] #7514 closed, assigned to nobody

[2020-05-07 18:58] cameel opened #8875 "Confusing error message when trying to assign gasleft to a pointer"
## Description
If you try to assign something other than an internal or external function (e.g `gasleft`) to a function pointer the message you get is confusing: "Type X is not implicitly convertible to expected type X." It should just say that this is not allowed.

To fix this we probably just need a special case for it in `FunctionType::isImplicitlyConvertibleTo` and return a nicer message.

##

[2020-05-07 18:59] ekpyron commented on #7498
Done in https://github.com/ethereum/solidity/pull/8665

[2020-05-07 18:59] #7498 closed, assigned to nobody

[2020-05-07 19:03] ekpyron commented on #4109
Since we kind of decided not to use such pragmas anymore, but instead to keep a breaking branch, I'm closing this.

[2020-05-07 19:03] #4109 closed, assigned to nobody

[2020-05-07 19:05] ekpyron commented on #4436
Yah... I don't think we need this anymore...

[2020-05-07 19:05] #4436 closed, assigned to nobody

[2020-05-07 19:46] chriseth commented on #8875
Actually the error message here just says that one function returns a uint while the other does not.

[2020-05-07 20:17] axic commented on #8851
Dynamic linking works well both in and outside of the browser, but one has to be careful how to use it and emscripten can complicate matters quite a bit.

There are two choices:
1) Separate memory
2) Shared memory

In the case of separate memory, two wasm instances exist and one can assign an exported function of one as an imported function of the other. However if any of these functions pass a me

[2020-05-07 20:19] axic commented on #8875
There's also this old issue on the topic: #4551.

[2020-05-07 20:25] axic commented on #8043
[code]

Seems to be correct now as stated by #7834.

[2020-05-07 20:25] #8043 closed, assigned to nobody

[2020-05-07 20:26] axic commented on #8265
Still in issue on today's `develop`.

[2020-05-07 20:28] axic commented on #8269
Still an issue today, seems to fail in the same place.

[2020-05-07 20:29] axic commented on #8276
Is this really a "bug" an not a known limitation?

[2020-05-07 20:30] axic commented on #8278
Still a problem.

[2020-05-07 20:31] axic commented on #8365
Not reproducible anymore:
[code]

Should we try to find the PR which fixed this?

[2020-05-07 20:32] #8365 closed, assigned to nobody

[2020-05-07 20:35] axic commented on #8379
Without truffle and removing the `Assert` line it is not reproducible. Maybe it was fixed?

[2020-05-07 20:36] axic commented on #8383
Still reproducible today.

[2020-05-07 20:38] axic commented on #8404
Still a problem today, just the assertion is different:
[code]

[2020-05-07 20:41] axic commented on #8448
Still a problem.

[2020-05-07 20:42] axic commented on #8501
Is not reproducible anymore. Not sure which PR fixed it.

[2020-05-07 20:42] #8501 closed, assigned to nobody

[2020-05-07 20:46] axic commented on #7569
This is still reproducible:
[code]

[2020-05-07 20:47] axic commented on #7410
Still a problem:
[code]

[2020-05-07 21:14] a3d4 commented on #5819
#8680 introduces a mechanism of error unique identification, and applies it to most of the cases. Still, not all errors have their own ids, several special cases need to be addressed.

Besides, the ids are not used yet.

[2020-05-07 21:18] jcaracciolo commented on #3168
Hey, i am Juan working for @nomiclabs , was told to take a look at this. The project was cloned and built in a **MacOS** **Catalina** machine, with no issue. This was tested on a clean machine, only installing **XCode** previously, as explained in the documentation. The result was the expected build folder in which the solc binary can be found. This binary was tested on other machines with success

[2020-05-07 21:24] haltman-at opened #8876 "Documentation issue: Cleaning up some other types"
## Description

Not a bug, just an omission in the documentation.  The [cleaning up variables](https://solidity.readthedocs.io/en/v0.6.7/internals/variable_cleanup.html) page doesn't mention the cleanup applied to `bytesN`, `address`, and contract types when needed.  Thank you!

[2020-05-07 22:06] chriseth commented on #8276
Yep, know limitation.

[2020-05-07 22:06] #8276 closed, assigned to nobody

[2020-05-07 22:09] chriseth commented on #4551
I actually don't think it should be possible.

[2020-05-07 22:16] chriseth commented on #8269
Looks like an internal function referenced by the constructor, stored in storage but the optimizer removes the runtime tag of that function...

[2020-05-07 22:24] chriseth commented on #8379
Can still reproduce it:

1_Storage.sol:
[code]

2_owner.sol:
[code]

[2020-05-07 22:24] #8404 closed, assigned to nobody

[2020-05-07 22:26] axic commented on #8379
It was not reproducible for me, maybe because I placed them into a single file? (Didn't use two files.)

[2020-05-07 22:26] chriseth commented on #8501
Yep, first fixed version is 0.6.5.

[2020-05-07 22:27] chriseth commented on #7410
Maybe related to https://github.com/ethereum/solidity/issues/8278

[2020-05-07 22:27] chriseth commented on #8379
Yes, I think the bug is that you are using a contract that uses ABIEncoderV2 from a file that does not have it activated.

[2020-05-07 22:30] chriseth commented on #8365
Fixed in 0.6.3.

[2020-05-07 22:32] chriseth commented on #7499
@bshastry I was not able to reproduce this right away - is it still an issue?

[2020-05-07 22:33] axic commented on #8379
Oh you've commented that earlier too.

[2020-05-07 22:38] axic commented on #6739
If I recall correctly, this is the example here:
[code]

[code]

[2020-05-07 22:40] axic commented on #6724
I'm not sure if this is solved, but we get the following estimates now:

With optimizer:
[code]

Without optimizer:
[code]

[2020-05-07 22:57] axic commented on #5606
Example:
[code]

This is still the case:
[code]

[2020-05-07 23:31] axic opened #8877 "Update emscripten to 1.39.15"
It may be time for the "bi-annual emscripten upgrade". Last we updated to 1.39.3 it in #7832 in November.

Since then Emscripten has made 12 releases. The [interesting changes](https://github.com/emscripten-core/emscripten/blob/master/ChangeLog.md) (going from oldest release):
- Added support for streaming Wasm compilation in MINIMAL_RUNTIME (off by default)
- All ports now install their headers i

[2020-05-07 23:33] axic commented on #8877
This maybe also reduces the size of Z3 (#8851), especially if that depends on 64-bit numbers.

[2020-05-07 23:45] axic commented on #2169
This is now obsolete since we use EVMC + evmone.

[2020-05-07 23:45] #2169 closed, assigned to nobody

[2020-05-07 23:49] axic commented on #6772
@bshastry is this still needed?

[2020-05-08 00:50] cameel commented on #8875
@chriseth Right, sorry, I originally tested it on a bigger program and for the issue I modified it to return non-essential parts. Looks like I used the wrong type for the variable. I have update the description now.

[2020-05-08 00:52] cameel commented on #4551
I wonder how it would be handled in internal dispatch. Special IDs reserved for these built-in functions?

[2020-05-08 01:15] ytrezq commented on #7667
@axic : issues themselves don’t contain the examples required to reproduce the bug most of the time.

[2020-05-08 02:13] MicahZoltu commented on #6724
I just tested in Remix with Solidity version 0.6.7 and it appears to estimate correctly, though I think for most users they will lead to confusion

Solidity estimate (optimized):
[code]
JavaScript EVM:
-- | --
transaction cost | 97157 gas
-- | --
execution cost | 31881 gas

I just did a refresher from https://ethereum.stackexchange.com/a/29560/704 and I'm not sure that it is reasonable for me (as

[2020-05-08 02:49] nventuro commented on #6584
I just came accross [this article](https://blog.polymath.network/solidity-tips-and-tricks-to-save-gas-and-reduce-bytecode-size-c44580b218e6), which recommends using internal functions instead of modifiers to reduce bytecode size.

I think the existence of these suggestions is an issue: people should not rely on quirks of the compiler's implementation and choose between sintactic constructs because

[2020-05-08 10:24] axic commented on #8670
[code]

Probably the optimiser can't understand `not(0xffffffffffffffff)` as a single "value". Should we first flatten these expressions, run the rulelist, and then as part of the constant optimiser shorten them? (Perhaps need to add a rule for turning them into `NOT(A)` expressions if it is shorter than `A`.)

[2020-05-08 16:23] 3sGgpQ8H commented on #409
For me, forbidding multiplication of wide types makes the whole idea quite useless.  I would prefer compiler to automatically apply different strategies for different types and even different values.

For example, when combined bit-widths of both arguments do not exceed 2^256-1, naive approach could be used:

    return x * y / scale;

Otherwise, if `scale` is below 2^128-1, slightly more complica

[2020-05-08 17:17] asselstine commented on #409
I love this idea.  It would give us a lot more headroom over scaling the values.

[2020-05-09 14:24] alcuadrado commented on #8739
The main reason we are interested in this feature is to be able to extract imports reliably. Now, we are using the ANTLR grammar, which doesn't represent the exact same language, especially when a file fails/should fail to parse.

As I mentioned Chris in a call, we are ok with not getting an AST if the file fails to parse, but we'd love to get the same errors that `solc` would return.

I think any

[2020-05-10 10:56] bshastry commented on #7499
I could not either. Will close issue and reopen if it could be reliably reproduced.

[2020-05-10 10:56] #7499 closed, assigned to nobody

[2020-05-10 10:57] bshastry commented on #6772
@axic yes, this would be helpful. I will create a PR soon

[2020-05-10 11:06] axic commented on #8852
Should be also "fixed" by #7965

[2020-05-10 15:13] rumkin opened #8880 "Explicitly define target features and precompiles list"
## Abstract

Compiler configuration should contain a way to provide a target features and a list of precompiles with corresponding addresses. For now it contains an option `target`, which is a hardfork ID and is using for hardcoded features detection.

The `target` option should accept a path to the feature json file, which contains flags like `supportReturnData`, `hasStaticCall`, `hasChainId`, et

[2020-05-10 16:36] agroce opened #8881 "ICE in const solidity::frontend::TypePointer &solidity::frontend::TypeChecker::type(const solidity::frontend::Expression &) const"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer

Looks similar to some closed bugs...

## Environment

- Compiler version:  0.6.8-develop.2020.5.9+commit.4e58c672.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Rem

[2020-05-10 17:01] axic commented on #8881
Minimal example:
[code]

The problem is if constant is an expression inline assembly doesn't detect it as a "constant" (probably fails in that part of the code). In the original example the missing `a` reference was not detected, because likely it died at the point of processing `c`.

[2020-05-10 17:05] axic commented on #8880
While those helpers exists to detect features, there are more aspects to "EVM versions" than just features. One example is gas costs. The gas estimation feature works off mostly versions and not those flags.

Have you run into a case where the current system stops people from being able to use the compiler properly? If so, which chain did it cause a problem with?

[2020-05-10 17:13] axic commented on #8670
The RuleList already contains `NOT(A)`, so not sure why it is not picked up.

Constant optimiser does that already.

[2020-05-10 18:02] axic opened #8882 "[Sol-Yul] Support selfbalance opcode"
[code]

generates

[code]

while `--asm` does
[code]

[2020-05-10 18:14] rumkin commented on #8880
I'm working on a project for developers which uses independent chain and in some cases customised/hackable EVM engine for creating testnets and own chains. And developers should be able to upgrade features independently. This is my case.

What's about others' and gas cost. It seems like a common problem to other projects. EthereumJS team is working on a solution to upgrade gas cost and opcodes exe

[2020-05-10 18:25] axic commented on #8880
Can you give a use case why someone would only enable some features of what has been deployed on mainnet?

[2020-05-10 19:00] rumkin commented on #8880
Because it could affect your business model or users interests, what can cause unwanted consequences (reduced income or extra expenses on modernisation). For example I don't need create2 ability at all in my chain. Anyway you already did it flexible, but did it implicitly.

But what's the most important for me is custom precompiles to make custom cryptographic curves and hash algorithm be availabl

[2020-05-10 19:03] axic commented on #8880
Only the the homestead precompiles are supported by language constructs (and even those we debate, such as only keeping ecrecover and sha256), everything else is used via assembly statements by third-party libraries. And those two seem pretty core functionality and it seems we are not restricting other uses precompile addresses.

[2020-05-11 01:49] a3d4 commented on #7195
We could compare [Shannon entropy](https://rosettacode.org/wiki/Entropy) of decimal and hexadecimal representations. So `F0F0` would be preferred to `61680`, for instance.

[2020-05-11 05:47] xiaods opened #8883 "unable install solidiy in mac 10.15"
## Description
brew install solidity failed.

## Environment

- Compiler version: latest
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: macos 10.15

## Steps to Reproduce
# brew install solidty
get result:
[code]

[2020-05-11 07:58] mijovic opened #8885 "isoltest: Wrong update of test expectations"
In `semanticTests/constants/constant_string.sol`, set compileViaYul to false, or remove the line.

When running `isoltest --enforce-via-yul` on that test, after saying that test can pass via yul auto update feature updates test expectations like this:
from
[code]
to
[code]

[2020-05-11 08:59] #1803 closed, assigned to nobody

[2020-05-11 09:10] chriseth commented on #8670
It could be that the constant representation (the last step) re-introduces the `not` because it is shorter. My problem is rather why the double-and is not reduced. The reason for that could be that the argument to the `and` is not coming from a `dup` but rather it is just reducing the initial stack of the block and thus shortening it.

[2020-05-11 09:26] ekpyron commented on #6739
This will be needed to implement ``type(C).runtimeCode`` (see https://github.com/ethereum/solidity/pull/8867#discussion_r421843356).

[2020-05-11 09:49] cameel commented on #8875
Another instance of this problem to fix. This time when attempting to get a pointer to a bound library function:

[code]
[code]

[2020-05-11 09:58] ekpyron commented on #8881
May be related to the changes in https://github.com/ethereum/solidity/pull/8665 - not sure, though, might be independent.

[2020-05-11 10:22] chriseth commented on #8162
@nventuro a simplification would be to drop the visibility feature for constructors altogether and make contracts `abstract` instead if they are not meant to be deployed without being derived from. Would that work for you?

[2020-05-11 10:24] axic opened #8888 "🍀🍀🍀🍀"

[2020-05-11 10:28] chriseth commented on #4392
Closing since external does not work with inheritance and we aim to remove visibility completely (#8162).

[2020-05-11 10:28] #4392 closed, assigned to nobody

[2020-05-11 11:50] chriseth commented on #8888
🎆✨🎆✨

[2020-05-11 11:50] #8888 closed, assigned to nobody

[2020-05-11 12:30] rumkin commented on #8880
As I know there are about 9 precompiles now: https://github.com/ethereum/go-ethereum/blob/7b189d6f1f7eedf46c6607901af291855b81112b/core/vm/contracts.go#L68 and seems like this count would grow in the future.

How could I make a call like `ed25519()` to be resolved into a custom address (e.g. `0x0000..0a`)?

[2020-05-11 12:37] axic commented on #8880
There are countless precompiles in the system, but that doesn't change what I said: the compiler only offers built in support for three of them (`sha256()`, `ecrecover()`,` ripemd160()`). And we are debating to remove `ripemd160()` support from the compiler.

The same way one can use any of those three not listed above: via inline assembly.

Some examples:
- snark (ecadd/ecmul/ecpairing): https://

[2020-05-11 12:51] chriseth commented on #8880
As far as fine-grained access to chain configuration options are concerned: The number of EVM versions defined is already a big strain on testing and correctness. I think opening up arbitrary combinations will likely lead to bugs in the compiler.

[2020-05-11 12:51] #8880 closed, assigned to nobody

[2020-05-11 13:08] #8484 closed, assigned to hrkrshnn

[2020-05-11 13:23] axic commented on #5823
The only workarounds seem to be in `RuleList.h` for multiprecision div/mod/shl.

@ekpyron still want to track it here? Can those be removed?

[2020-05-11 13:33] ekpyron commented on #5823
Maybe we better not remove those - it'd be quite bad if there is any situation in which they'd be needed and we removed them. If those are the only ones I'd say we can close this.

[2020-05-11 13:58] chriseth commented on #8882
I thought this could be an optimizer step.

[2020-05-11 13:59] chriseth commented on #8882
It would depend on https://github.com/ethereum/solidity/issues/7542

[2020-05-11 14:02] axic commented on #8882
Yeah I thought about it yesterday, but wanted to mention it here, because this is a difference to the current codegen.

It could be also added to the peephole optimizer.

[2020-05-11 14:05] axic commented on #5823
Agree, that's why I didn't touch them last time :wink:

I think those are the only ones left. Will remove them with #3851.

[2020-05-11 14:05] #5823 closed, assigned to nobody

[2020-05-11 14:22] bshastry opened #8893 "[evmasm] ICE because `AssemblyException` is thrown by call to compiler stack's assembledObject() method"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/f1e0aa7a564c8c3a4e54841aea2cbc1971fd69ec/libsolidity/interface/CompilerStack.cpp#L1093

## Environment

- Compiler version: latest develop

## Steps to reproduce

[code]

[2020-05-11 15:30] #4020 closed, assigned to hrkrshnn

[2020-05-11 16:50] #8790 closed, assigned to ekpyron

[2020-05-11 17:04] magus237 opened #8895 "Inconsistency in the base types accepted by the ** operator"
Opening this issue after chatting with @chriseth.

Consider the following function:
[code]

I'm surprised that z2 is rejected while z1 and z4 are accepted, but according to @chriseth, both z2 and z4 should be rejected anyways, because (quoting) "`**` needs the base type to be explicit".

[2020-05-11 17:17] step21 opened #8896 "Internal Compile Error on EnumerableMap.UintToAddressMap memory in constructor"
## Description

I was trying to see if I could use Enumerable map from zeppelin sdk in the constructor. This resulted in compiler error. Either it should work or give a proper error.

[code]

## Environment

* solc 0.6.7
* compiler default
* remix-ide alpha
* no execution yet
* macOS 10.13.6 with latest Firefox

## Steps to Reproduce

Put this code into remix ide (alpha) and click compile.

[code]

[2020-05-11 17:34] iamdefinitelyahuman opened #8897 "Missing linux binary for v0.4.26 release"
## Description
There is no linux binary provided for the [`v0.4.26` Solidity release](https://github.com/ethereum/solidity/releases/tag/v0.4.26).

Building from source can be challenging and time consuming, it would be helpful to Linux users to have a `solc_static_linux` file available for download.

[2020-05-11 19:27] jcaracciolo commented on #8739
I have played around with this idea, and it seems is not that hard to accomplish. Here is a fork where i manage to get some functionality to work for it with some considerations (https://github.com/jcaracciolo/solidity/commit/bb4a0aa93d980038ecf9161addd78eb29a92ed65).  I know it may probably break in most edge cases, but i try it out with a couple of contracts and worked out great.

There is an is

[2020-05-11 20:36] axic opened #8900 "[Sol-Yul] Support .runtimeCode"
Depends on #6739

[2020-05-11 21:21] nventuro commented on #8162
Yes, that's a great point! I think that's the way to go.

[2020-05-11 21:29] ekpyron commented on #7779
Should be fixed by https://github.com/ethereum/solidity/issues/8291

[2020-05-11 21:29] #7779 closed, assigned to nobody

[2020-05-11 21:32] fulldecent commented on #409
512-bit is not something we need to have in the first iteration of this.

[2020-05-11 21:58] bshastry commented on #8368
Another test case for this issue if that helps

[code]

[2020-05-12 06:33] mijovic commented on #6739
Can be solved by adding names like `objectName.subObject` to `dataNames` for Object in `libYul/Object.cpp`
Not sure if this would be proper solution?

[2020-05-12 06:47] mijovic commented on #6739
Or better option to parse and search for subobjects in `AsmAnalysis.cpp`

[2020-05-12 07:21] 3sGgpQ8H commented on #409
Yes, but overflow semantic should not change after the initial release, otherwise it will be a mess.
So, one option would be to limit the maximum number of decimals to be 38, so scale factor will always fit into 128 bits.  This way, multiplication could avoid using 512-bit internal logic.  However, division will still be a problem.  In my opinion, x / 2.0 should never overflow, but naive implement

[2020-05-12 07:21] bshastry commented on #8893
May be related to https://github.com/ethereum/solidity/pull/8867

[2020-05-12 08:53] hrkrshnn commented on #8461
This is supposed to fail right? @chriseth

[2020-05-12 09:10] chriseth commented on #8461
Yes.

[2020-05-12 09:40] axic opened #8905 "Return annotation is missing from natspec"
[code]

[code]

However it does complain if I use `/// @return Some value` without the variable name, so the tag is processed.

[2020-05-12 10:35] ekpyron commented on #6739
Both adding ``objectName.subObject`` to ``dataNames`` (i.e. to the "global scope" IIUC) and descending into objects when searching sounds viable.
But note that this needs to be recursive (at least I'd make it so), i.e. ``objectName.subObject.subSubObject`` has to work as well - and we need to make sure there are no conflicts, e.g. the following currently compiles:
[code]
Maybe dots ``.`` should no

[2020-05-12 11:15] chriseth commented on #6739
It makes sense to disallow dots in yul object names.

By the way, do we know if this will work in the end? Can we reach deep into Assembly objects like that?

[2020-05-12 11:21] chriseth commented on #8905
Note that this has to go into the developer documentation.

[2020-05-12 11:23] #8461 closed, assigned to hrkrshnn

[2020-05-12 11:49] axic opened #8908 "Add keccak256 or sha256 as an option to metadata cbor"
Currently the metadata CBOR can contain link to the metadata JSON as either an IPFS URL or a  Swarm URL.

While both essentially are ways of hashing, they do suggest a certain system to be used, which are subject to change. We have seen this with Swarm, although the CBOR is flexible and this has not caused any issue.

An additional benefit of using IPFS/Swarm is it gives an indication where the JS

[2020-05-12 13:15] bshastry commented on #8893
Closing because I am not able to reproduce this. Will reopen if necessary

[2020-05-12 13:15] #8893 closed, assigned to nobody

[2020-05-12 13:55] axic opened #8911 "Inheritance in natspec (documentation)"
Inheritance is an untouched subject on Natspec -- I haven't found any issue regarding it.

Take this example:
[code]

This currently generates no user/devdoc on `Token`:
[code]

Q1. It would be nice to have interfaces documented and transfer that over to the function in the documentation. Is that a bad idea?

Q2. What happens if the implementing function has a different `notice` or `param`. Does i

[2020-05-12 14:47] #8905 closed, assigned to hrkrshnn

[2020-05-12 14:56] hrkrshnn commented on #8911
Firstly, it's not mentioned in the docs how inherited (implemented) members would contain the NatSpec from base. Perhaps we should add this under the section "Inheritance Notes."

----

For Q2.

1. For `@notice`, the overriding function's notice should take precedence. I see no arguments against this.
2. For `@param` I think it's reasonable to assume that the overriding function will not have diff

[2020-05-12 15:21] hrkrshnn commented on #8776
NatSpec for events can be useful when implementing LSP. Something like the following:

![img](https://i.imgur.com/zbX0G57.png)

I also favor implementing NatSpec for events.

[2020-05-12 15:45] #8838 closed, assigned to nobody

[2020-05-12 17:22] leonardoalt commented on #2963
This might not be needed anymore since we have https://github.com/ethereum/solidity/pull/8909

[2020-05-12 17:43] frangio commented on #8739
I agree that this is much needed. We should consider changing the focus of this issue to import extraction exclusively. It might be interesting to get an AST with unresolved imports and symbols, but it might be best to discuss it as a separate feature.

Something interesting about import extraction is that it's recursive, so the user would need to request import extraction repeatedly. For this use

[2020-05-12 18:11] chriseth commented on #2157
`file://` has been implemented.

[2020-05-12 18:11] #2157 closed, assigned to nobody

[2020-05-12 18:14] chriseth commented on #5280
Maybe we could add a flag `--base-path` such that all lookups of the read callback are relative to that path. I think that should work with all setups that do not have complicated package imports.

[2020-05-12 18:31] chriseth commented on #8739
By the way, when using javascript, this can be done "manually" using the "import file read callback" - and that is actually what it is meant to be used for.

[2020-05-12 18:57] ekpyron opened #8917 "Access to calldata variables of reference type in inline assembly."
Came up in https://github.com/ethereum/solidity/issues/1803
We probably need a similar mechanism as for storage slot/offset for this, only with ``_offset`` and ``_length`` (if it's a dynamic array).
Something like the following should pass:
[code]

``function f(uint256[3] calldata x) public { assembly { let y := x_length } }`` or ``struct S { ... } function f(S calldata x) public { assembly { let

[2020-05-12 19:11] ekpyron opened #8919 "Equality comparison for tuples."
I'm not sure if we actually urgently need this as a language feature, but I found it rather annoying in writing tests that I can't do:

[code]

So I think allowing equality comparisons, i.e. ``==`` and ``!=``, for tuple expressions would be a nice convenience feature. For other operators like ``<`` there's no clear unique definition, so if we want this at all, we should stick to ``==`` and ``!=``

[2020-05-12 19:22] chriseth commented on #6724
The reason we are not reporting the transaction cost is not just about the calldata cost but also about the fact that the function might be called from another contract. Oh and the transaction cost actually depends on the data sent to the contract because of the zeros :)

We can add transaction cost, though. Especially for the constructor this seems very useful.

[2020-05-12 19:24] chriseth opened #8920 "Gas estimator: Report transaction cost at least for constructor."
We could call it 'direct transaction cost'  because we do not know what else happens inside the transaction. Transaction cost includes execution cost plus cost for the payload (for the constructor this is the creation code plus constructor arguments, for functions this is function selector plus arguments). Since zero bytes have a different cost, we can assume the arguments to not contain any zeros

[2020-05-12 19:24] chriseth commented on #6724
Created an issue for that: https://github.com/ethereum/solidity/issues/8920

[2020-05-12 19:24] #6724 closed, assigned to nobody

[2020-05-12 19:31] chriseth commented on #8896
The struct `EnumerableMap.UintToAddressMap` contains a nested ampping.

[2020-05-12 23:36] axic commented on #8911
Oh, you mention https://solidity.readthedocs.io/en/v0.6.7/natspec-format.html#inheritance-notes with inheritance notes.

[2020-05-12 23:38] axic opened #8922 "Natspec version/kind"
It is currently not easy to tell apart userdoc/devdoc and hard to be backward/forward compatible because there is no notion of versioning.

How about introducing two meta fields: `@version` and `@kind`. Since all tags start with non-@ there should be no clash.

Alternatively use the hashmark (#) as a special sign.

`@version` would be 1 for the current version of Natspec.
`@kind` would be `user` f

[2020-05-12 23:47] axic commented on #7399
Duplicate of #6739.

[2020-05-13 07:39] chriseth commented on #8922
Can you explain a bit more how `@kind` would be used and why it is needed? `@notice` is the only user doc tag, so it would be kind of redundant.

[2020-05-13 07:39] #7399 closed, assigned to nobody

[2020-05-13 08:19] bshastry opened #8923 "[Typechecker] ICE because array size cannot fit unsigned type"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/b2122d479fc0554a9506f4e393fe95aa52f503d3/libsolidity/ast/Types.cpp#L1727

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

May be related to #8665