[2016-05-03 21:28] axic commented on #529
Some ideas:
1) Have a version string in an unreachable code piece in a fixed location of the bytecode.  A good candidate would be the end of the bytecode, i.e. nominate the last 32 bytes.

2) Have a method call for querying the compiler version, e.g. something obscure like `__$compilerVersion()` would return it as a `string` (easier to use as a user) or `bytes32` (smaller code size).  Technically

[2016-05-03 21:41] jzu commented on #529
Thanks for your answer, much appreciated!

[2016-05-04 07:38] chriseth commented on #529
Storing the used compiler version in the bytecode will not help, because there is some information that is even more important than the compiler version that is also missing in the bytecode: The actual source code.

There is a project that will provide metadata for contracts deployed on the blockchain, which include the source code, the compiler version and the compiler options (there is some flex

[2016-05-04 20:24] VoR0220 commented on #539
closing as Remix is handling this.

[2016-05-04 20:24] #539 closed, assigned to nobody

[2016-05-04 22:13] LefterisJP commented on #529
@chriseth I like the idea of having a contract metadata registry.

Is such a project developed by anyone at the moment?

[2016-05-04 22:29] VoR0220 commented on #529
@LefterisJP Etherscrape comes to mind.

[2016-05-04 23:34] LefterisJP commented on #529
@VoR0220 Thanks for the hint, did not know them. It looks really interesting. Still the project seems to be at its infancy at the moment.

The end goal would be to have a standard registry for this metadata and be able to add new contracts or edit existing ones. By looking at their website a bit I could find no way to do such a thing. They seem to have all these data, mined in some way by explorin

[2016-05-05 11:37] #493 closed, assigned to chriseth

[2016-05-05 14:30] pipaman commented on #523
I think the problem is that I have also VS 2015 and it was compiling with that version. Now, I installed VS extension and it works out of the box. Thanks.

[2016-05-05 18:50] Denton-L opened #540 "Style Guide on Single-Line Functions?"
Is there any agreement on whether or not declaring short functions (one statement) on a single line is fine? If there is an agreement, I can add it into the style guide.

[2016-05-05 19:51] bobsummerwill commented on #523
Great!   Glad to hear it.

[2016-05-05 19:51] #523 closed, assigned to nobody

[2016-05-05 20:31] chriseth opened #542 "Provide gas estimates in combined json"

[2016-05-06 16:36] chriseth commented on #17
This should be fixed, needs some testing.

[2016-05-07 08:16] jzu commented on #529
What about a package including source + bytecode + compile-time metadata + comment, stored on BitTorrent, indexed by a hash found in the runtime bytecode (or computed from the bytecode itself)? Building the package and seeding it would be part of the deployment procedure.

[2016-05-09 07:49] miohtama opened #544 "Documentation not clear how event data is stored"
The documentation explains in-depth how indexed event logs are stored:

http://solidity.readthedocs.io/en/latest/contracts.html#events

However it fails to provide explanation how other kind of data is stored. I am trying to figure out how to read back a string stored in the event in Solidity contract through geth `eth_getFilterChanges`.

[2016-05-09 08:55] chriseth commented on #488
I agree that the error message could be improved, but there are actually a number of other identifiers that are not available like this in inline assembly. I'll think about it.

For the second part of your comment above: The problem is that `b` takes 33 bytes (32 bytes for the storage location plus one byte for the offset inside the storage slot). It could be an option to remove the intra-slot off

[2016-05-09 19:07] axic opened #549 "Assembly: cannot access variables within modifier"
Inline assembly within modifiers doesn't seem to be able to access variables:

[code]

Error: `Error: Identifier "a" not found, not unique or not lvalue.`

[2016-05-09 19:13] axic opened #550 "msg.origin is not available?"
`msg.sender` seems to refer to the `CALLER` opcode and `msg.origin` (aka `ORIGIN`) is not-existent. Cannot find any reference in the docs regarding it. Is it missing or is named differently?

It can be workarounded with assembly though:

[code]

[2016-05-09 19:20] axic opened #551 "Method overloading not supported for modifiers"
It may be useful to either support overloading or to support default values for parameters. Haven't seen it mentioned in the docs.

[code]

The errors produced:

[code]

[2016-05-09 19:43] axic commented on #550
Found it! 😃

Any reason `origin` and `gasprice` are in `tx`, while the rest in the `msg` structure?

[2016-05-10 14:42] axic commented on #49
It would be nice to solve point 2 as mentioned by @nmushegian. Maybe a simple solution would be not allowing modifiers to change the return value, but to capture and return it so that the modifier body after the `_` keyword could be executed even if the function returns.

i.e.

[code]

Where ret would be behave like a reference to the memory or like a tuple? @chriseth is that something remotely fe

[2016-05-10 19:05] axic commented on #240
@chriseth I've got used to method overloading instead of optional parameters, but sometimes I keep running into stack errors when many options are present.

i.e.
- `method(a, b, c, d, e, f)`
- `method(a, b, c, d)` calls `method(a, b, c, d, <default e>, <default f>)`
- `method(a, b, c)` calls `method(a, b, c, <default d>, <default e>, <default f>)`

I am wondering how optimal such a call chain is a

[2016-05-10 20:59] adetante commented on #490
Same problem on Mac OS X El Capitan (10.11.4) using solc in command line.

`Version: 0.3.2-9e36bdda/RelWithDebInfo-Darwin/appleclang/Interpreter`

[2016-05-10 21:09] bobsummerwill commented on #490
Hey @adetante,
Sorry to hear that.
Did you build the binary yourself?   Or install from Homebrew?

[2016-05-10 21:11] adetante commented on #490
I tried both, installing from homebrew and building from webthree-umbrella

[2016-05-10 21:31] bobsummerwill commented on #490
And the exact same result for both?

[2016-05-10 21:36] adetante commented on #490
Yes, same result: segfault when compiling with --bin a simple contract.

I'll try to run with gdb to see if I have more infos about the error.

[2016-05-10 22:02] VoR0220 opened #553 "Cannot import from parent directory"
I and another of my coworkers have discovered a bug on OS X for import statements:

I tried this:

[code]

and this:

[code]

and even this:

[code]

edit: also tried this:

[code]

for a contract2.sol file in the directory above the one contract3.sol is currently resting in...refuses to link. Investigating.

FTR: references to all imports inside of the a working directory work. So do references t

[2016-05-10 22:15] VoR0220 commented on #490
@adetante do you get a seg fault when running --ast or --gas?

[2016-05-11 01:29] VoR0220 commented on #240
@axic I've been working on default parameters. Once fixed points are fixed up (lol), I'm likely going to get back to trekking on that. If you're game to help, that'd be lovely.

[2016-05-11 05:51] adetante commented on #490
@VoR0220 yes, seg fault with --ast, --gas or --bin

[2016-05-11 06:00] adetante commented on #490
Here is the trace when running with --gas with lldb :

[code]

[2016-05-11 06:24] VoR0220 commented on #490
yep...same problem I've been running into. May want to close this in favor of https://github.com/ethereum/solidity/issues/502 ....though if my findings are correct, the problem should go away on its own soon as we move away from the Solidity execution framework.

[2016-05-11 06:54] bobsummerwill commented on #490
what do you mean exactly with "as we move away from the Solidity execution framework.", please, @VoR0220?

[2016-05-11 08:10] VoR0220 commented on #490
talked with @chriseth and if the problem truly is the SolidityExecutionFramework....then we're moving away from it...don't know the full details quite yet. :)

[2016-05-11 19:37] #540 closed, assigned to nobody

[2016-05-11 20:30] axic opened #556 "Add tests for libsoljson"
The methods are defined in solidity/solc/jsonCompiler.c:

[code]

This is the interface used by https://github.com/ethereum/solc-js.

[2016-05-11 23:13] VoR0220 opened #558 "Segfaults everywhere...end to end tests ceasing to function on smoke test OSX"
I've been resetting my branch to the latest in origin and for whatever reason it is refusing to work on any contracts I deploy. The end to end tests in the soltest are not working. Big big big problem. Running on OS X El Capitan.

[2016-05-11 23:32] bobsummerwill commented on #558
Ouch.   Do you have access to a Windows or Linux box to see if there is a chronic multi-platform failure?
Or a different OS X box?

[2016-05-12 00:06] VoR0220 commented on #558
Running off my own machine. I could try to docker it up again.

[2016-05-12 00:22] axic opened #559 "Emscripten builds are not minimized anymore (solc-bin)"
In [solc-bin](https://github.com/ethereum/solc-bin) starting from soljson-v0.3.2-2016-05-03-aa4dcbb.js the output is not minimized. This means the file size is ~34Mb as opposed to ~7Mb.

Side note: maybe it would make sense enabling _issues_ in the solc-bin repo to file reports like this there.

[2016-05-12 02:17] VoR0220 commented on #558
weird...I put it in the sanitize mode...no seg faults...just horrendously slow.

[2016-05-12 02:31] VoR0220 commented on #558
...now I've put it back...it works perfectly fine. So strange. Alright. Closing for now.

[2016-05-12 02:31] #558 closed, assigned to nobody

[2016-05-12 02:32] VoR0220 commented on #550
I'm not certain why that was decided. @chriseth can answer that...might be interesting. Closing in the interim.

[2016-05-12 08:53] lastperson opened #560 "Introduce tx.gasrefund (uint): gas that will be refunded if the transaction is successful"
Problem explanation is here:
http://ethereum.stackexchange.com/questions/3860/how-to-know-inside-the-contract-function-the-amount-of-gas-that-will-be-refund

[2016-05-12 10:59] elenadimitrova commented on #490
+1 exact same issue running solc Version: 0.3.2-9e36bdda/Release-Darwin/appleclang/Interpreter

[2016-05-12 14:34] chriseth commented on #533
Sorry, but I don't really see the problem :-)
Forget about two's complement, this is just how it is represented internally, but the math should work out even without having to think about two's complement. Here is how it works:

Operations on variables of `uint` are performed in the ring mod `2**256`. Furthermore, if `x` and `y` are `uint` variables, then certainly something like `x-y` should be p

[2016-05-12 15:41] chriseth commented on #409
Some notes:

`IntegerType::binaryOperatorResult` is too tight, this should work but seems not to: `uint128(1) + ufixed(2)`, same with FixedPointType::binaryOperatorResult

also this should work: `.5 * uint128(7)`

what happens currently with `uint(7) / 2`? Is it identical to `.5 * uint(7)`?

add test about signed mod with rational constants (should behave identical to SMOD opcode)

[2016-05-12 16:43] VoR0220 commented on #409
signed mod as in a modulus operation with signed rational constants?

[2016-05-12 16:44] VoR0220 commented on #533
then I suppose we should call this closed.

[2016-05-12 16:44] chriseth commented on #409
yes - and fixed point

[2016-05-12 16:51] VoR0220 commented on #409
alright. I'll get on that. Crafting tests. Working on some fixes. And then it's onto the actual compilation.

[2016-05-12 17:13] axic commented on #511
I might have used an older version, which didn't do it, albeit tried really old ones now, and all of them seem to use it.

Perhaps I had a weird combination or a compiler error when it was omitted - I do recall having a compiled version lacking `CALLDATASIZE`. Unfortunately haven't got the code to trigger that.

[2016-05-12 17:17] axic commented on #550
Maybe it shouldn't be closed before it is answered? :)

[2016-05-12 17:29] VoR0220 commented on #550
well it's not really an issue, is it?

[2016-05-12 17:30] axic opened #561 "The `using` keyword causes `unknown exception` if the recipient method is not found"
This code causes `Unknown exception during compilation.`:

[code]

Adding the proper parameter type (i.e. `function b(bytes a) {`) to `B.b()` fixes it.

[2016-05-12 17:33] axic commented on #550
What is considered an _issue_?  Only bugs?

Strictly speaking `msg.origin` is not available.

[2016-05-12 17:51] chriseth commented on #553
Please also explain how you call the compiler, this is very relevant.

[2016-05-12 17:57] VoR0220 commented on #553
the compiler is called like such

[code]

from there it should search for the file.

[2016-05-12 18:01] axic commented on #550
Constructively speaking I'm not sure how (if at all) `msg` and `tx` should be split.

From the docs:
- `msg.data`(bytes): complete calldata
- `msg.gas` (uint): remaining gas
- `msg.sender` (address): sender of the message (current call)
- `msg.sig` (bytes4): first four bytes of the calldata (i.e. function identifier)
- `msg.value` (uint): number of wei sent with the message
- `tx.gasprice` (uint):

[2016-05-12 18:06] chriseth commented on #533
Folloing the protocol, @axic should close this.

[2016-05-12 18:26] axic commented on #560
I do not think there is an opcode in the EVM to read the refund counter.

[2016-05-12 19:33] axic commented on #510
How about `strictabi` or `strictcall` instead of `safe`?

Perhaps it would be placed after the contract name:

[code]

[2016-05-12 19:56] axic opened #562 "Strict fallback handling"
I think it time to consider adding more safety mechanisms into Solidity. One good candidate is cleaning up the handling of the fallback method.

Situation now:
- If no fallback is defined in Solidity, the contract just returns.
- If a fallback is defined it is executed.

I propose the following:

1) Keyword to enable the fallback method: `fallback`.  A fallback body declaration is mandatory.

[cod

[2016-05-12 20:05] boestin commented on #490
Same here, thinking about changing to a windows box

[2016-05-12 20:11] axic opened #563 "Strict transaction value handling"
I think it time to consider adding more safety mechanisms into Solidity. One good candidate is cleaning up the handling of transaction values.

Any method (including the fallback) silently accepts transaction values, it has to manually ensured and dealt with. Please check #562 for the fallback change proposal.

I propose a breaking change so that every method accepting transaction values must expl

[2016-05-12 20:53] VoR0220 commented on #533
okay

[2016-05-12 21:03] chriseth commented on #550
@axic what is this about, especially the listing in your previous comment?

[2016-05-12 21:49] VoR0220 commented on #490
go to an ubuntu box before you go to a windows box....

[2016-05-12 21:51] VoR0220 commented on #490
What I want to know is how is the Jenkins bot still passing the seg faults when it runs the soltests...thats the primary failure is in the gas meter tests.

[2016-05-12 21:52] VoR0220 commented on #550
@chriseth I think he's asking why is there a split between tx and msg...are they not the same thing?

[2016-05-12 21:56] axic commented on #550
I think I've understood the reason behind that: `msg` is the local context as part of the `CALL` recipient, which can be an inter-contract call, while `tx` contains the transaction which initiated the chain. Well, `tx` dones't contain all fields, only those which aren't part of `msg`.

What is still confusing that the naming doesn't really match neither the protocol or EVM naming.

[2016-05-12 22:01] chriseth commented on #550
it matches the de-facto standard serpent defined at that time

[2016-05-12 22:04] adetante commented on #490
@boestin as a workaround, I'm using solc in a Docker container and it's OK for me. Look at this image : https://hub.docker.com/r/kunstmaan/ethereum-eth/

[2016-05-12 22:56] axic commented on #533
@chriseth basically it just works as ho

[2016-05-12 22:56] #533 closed, assigned to nobody

[2016-05-12 23:41] axic commented on #480
This is apparently a bug in Solidity and/or Emscripten as explained in https://github.com/chriseth/browser-solidity/issues/132.

I think this can be closed here. @chriseth?

[2016-05-12 23:46] axic opened #564 "Assembly output should use PUSHnn (similarly to the opcodes output)"
Both

[code]

and

[code]

get compiled as `PUSH32 0x1200440000000000000000000000000000000000000000000000000000000000`.

Any number of leading zeroes can be added via escape characters. As evidenced by the AST, the escape character is parsed by solc:

[code]

[2016-05-13 00:55] axic commented on #14
Similar issue (with more details): #434

[2016-05-13 05:23] VoR0220 commented on #409
so couple of things. I got your first one working.

[code]

The second two in the examples you laid out, based on how we defined implicit conversion are currently impossible.

0.5 currently converts to ufixed0x8 and that does not convert with a uint128.

uint(7) / 2 stays a uint256 after the division by 2 (it's truncating), and therefore cannot convert to ufixed128x128. And no... 0.5 \* uint(7) is

[2016-05-13 05:27] boestin commented on #490
@adetante
Not quite familiar with Docker yet. So I've checked it out a bit but havent installed it yet.
Since I am - not a true - developer: I am wondering if I could install your supposed container inside my mac, without having to " touch"  the existing code.

Furthermore, does the container has it's own blockchain? Or is it simple the solc compiler.

Thanks

[2016-05-13 06:46] boestin commented on #490
So, on Windows I have another issue.. Getting tired of it

[2016-05-13 07:36] adetante commented on #490
@boestin to run the container on a Mac, you need :
1. To install Docker (docker-machine is recommanded) : https://docs.docker.com/machine/install-machine/
2. To pull an image containg cpp-ethereum binaries

This image contains binaries from cpp-ethereum, including the solc compiler.
If needed, you can contact me on gitter for more informations.

[2016-05-13 07:57] VoR0220 commented on #490
@adetante I'm very intrigued...where might I find said image?

[2016-05-13 08:02] boestin commented on #490
@VoR0220
1. OSX install https://www.docker.com/products/docker-toolbox
2. then when finished, check if the daemon is running: docker-machine ls
3. If not: eval "$(docker-machine env default)"
4. Pull the image @adetante  is talking about: docker pull kunstmaan/ethereum-eth

[2016-05-13 16:05] chriseth opened #568 "Non-global remappings"
Import path remappings currently cannot be used in a setting where inside the import tree, modules of the same name but different versions are required.

To solve this, it has to be possible to configure remappings on a local basis, i.e. depending on where an import is performed.

At the same time, the "load file" callback should be be supplied with the file the import is called from.

Suggested s

[2016-05-13 16:10] debris opened #569 "solc does not work on osx"
I''ve installed solc

[code]

using brew

[code]

on osx 10.11.1

[code]

and expected to compile this contract successfully:

[code]

using

[code]

but instead I got an error

[code]

Tried different options / contracts but solc always finishes with segfault.

[2016-05-13 17:45] VoR0220 commented on #569
known issue. We're working on it.

[2016-05-13 20:56] #553 closed, assigned to VoR0220

[2016-05-13 21:07] bobsummerwill commented on #569
So this is a dupe of https://github.com/ethereum/solidity/issues/490?
If so, let's close this one, and you can join in the "fun" over there, @debris!

[2016-05-13 21:07] #569 closed, assigned to nobody

[2016-05-13 22:58] #531 closed, assigned to chriseth

[2016-05-13 22:58] #532 closed, assigned to chriseth

[2016-05-14 14:39] kjsujesh opened #570 "solc EXC_BAD_ACCESS in Mac OSX 10.11.4"
Compiler::compileContract gives EXC_BAD_ACCESS (GPFLT) at
swap(m_context, m_runtimeContext);

commenting out the line makes solc compile correctly.
But not sure about the implications.
<img width="1423" alt="Execution path" src="https://cloud.githubusercontent.com/assets/17286915/15269023/ffbd9640-19a6-11e6-908a-7e384fa29916.png">

[2016-05-14 18:33] raineorshine commented on #490
@boestin Thank you, I was able to get Docker set up and the image pulled. What do I do after step 4? I have never used Docker before. I still have my local solc that segfaults.

[2016-05-14 22:21] VoR0220 commented on #570
!!!! Thats where the segfault happens.

[2016-05-14 22:28] VoR0220 commented on #570
Can you run the soltest binary and see if all tests pass?

[2016-05-15 04:48] kjsujesh commented on #570
Nope. The tests fail. Will have to probably initialize the compiler runtime context. Let me see what that would do.

[2016-05-15 23:29] tymat opened #571 "Segmentation fault running solidity."
**Solidity Version** `0.3.2-4b445b89/Release-Darwin/appleclang/JIT`
**Operating System** OS X

Installed from homebrew.  Sample codes compile just fine using browser solidity.

[code]

[2016-05-15 23:32] tymat commented on #490
https://github.com/ethereum/solidity/issues/571

[2016-05-16 03:07] VoR0220 commented on #571
Known problem. See #490 and #502 and #486 . Also see the area where it's happening #570

[2016-05-16 03:29] VoR0220 opened #573 "Segmentation fault getting worse...nothing compiling now."
Relates to #571 #490 #570 #502 #486 ....I currently cannot compile anything with OS X....this leads me to believe something is wrong with the OS X slave because it should be picking up these problems in the jenkins runs. Either way...we need a fix and stat.

[2016-05-16 03:48] bobsummerwill commented on #573
It is entirely plausible that OS X tests aren't being run consistently within Jenkins.

I've been working on CircleCI, TravisCI and Appveyor alternatives which we can have running in parallel as soon as we do the repository reorgs.    I will try to get test runs working on those ASAP.

[2016-05-16 03:49] VoR0220 commented on #573
Thank you @bobsummerwill ... I'm going to begin debugging this and talk with @chriseth about what exactly need to happen to get this thing working without breaking Ubuntu and Windows.

[2016-05-16 04:10] VoR0220 commented on #573
WTF!?! Just changed the cmake to debug mode...everything...and i mean everything...works fine again! GAHHHHHHHHHHH!!!!! _chucks computer out window_

[2016-05-16 04:34] VoR0220 commented on #573
okay....so from my findings

cmake set to debug = works
set to relwithdebuginfo = fails all compilation
set to release = fails all compilation

[2016-05-16 04:54] VoR0220 commented on #573
even worse...when I try to turn the sanitizer on...they all pass....creepy guys. Just plain creepy.

[2016-05-16 11:23] tymat commented on #573
[HeisenBug](https://en.wikipedia.org/wiki/Heisenbug)

[2016-05-16 13:47] kjsujesh commented on #573
Probably llvm on Mac is doing something crazy with the stack?

[2016-05-16 14:35] VoR0220 commented on #573
@kjsujesh i would not be surprised.

[2016-05-16 17:04] bobsummerwill commented on #573
Any valgrind experts out there?  @gcolvin?   @chfast?   @yann300? @LianaHus?   @winsvega?

Sounds like we need to hit this one with whatever analysis tools we have available to us.

[2016-05-16 17:21] VoR0220 commented on #573
@bobsummerwill what was that one debugging crew that you recommended again? The experts that said they'd be able to diagnose wtf is going on?

[2016-05-16 17:27] bobsummerwill commented on #573
Hmm.   Individuals, you mean?    I don't remember saying anything so specific.

"AAA game developers in general?"  :-)

[2016-05-16 18:00] VoR0220 commented on #573
Nah...there was a site that you recommended.

[2016-05-16 20:21] tymat commented on #573
Confirmed that building with `cmake -DCMAKE_BUILD_TYPE=Debug ..` makes the issue go away.  HeisenBug confirmed.

Has anyone tried using LLVM 3.7 to confirm that this isn't an LLVM 3.8 related issue?

[2016-05-16 20:58] VoR0220 commented on #573
I have tried LLVM 3.7 and this bug was still persisting in its earlier form.

[2016-05-16 22:15] bobsummerwill commented on #573
Oh right, @VoR0220.

Coverity Scan, probably.

[2016-05-16 22:35] VoR0220 commented on #573
thats it!

[2016-05-17 01:12] moneroexamples opened #574 "Arch, gcc 6.1: error: call of overloaded ‘list(int, <brace-enclosed initializer list>)’ is ambiguous"
[code]

This can be overcome by explicitly specifying initial value, for example:

[code]

[2016-05-17 01:56] bobsummerwill commented on #574
Thanks!   Please submit a pull-request with that change (so we can review the edit and verify that it doesn't break any other platforms) and we can merge that in.

[2016-05-17 08:14] chfast commented on #573
- Any help with clang sanitizer? You can have release-like build with address sanitizer enabled.
- Are you sure we have tests that shows the problem?

[2016-05-17 11:46] chriseth commented on #574
Please reopen if it did not fix the problem.

[2016-05-17 11:46] #574 closed, assigned to nobody

[2016-05-17 11:49] chriseth commented on #573
I tried to reproduce this problem on our el capitan build machine but could not. I tried the following combinations:

( Release / RelWithDebugInfo ) x ( build with XCode / build with make )

In all configurations, I used cmake with `-DTESTS=0 -DGUI=0 -DETHASHCL=0 -DEVMJIT=0`.

Furthermore, the `--version` string shows `Interpreter` at the end (not JIT). But I think this does not have any influence

[2016-05-17 13:00] VoR0220 commented on #573
I have not been compiling with -DEVMJIT=0..nor DETHASHCL=0....let me try those and see what comes out.

[2016-05-17 13:33] VoR0220 commented on #573
Can confirm... -DEVMJIT=0 -DETHASHCL=0 when run with all versions will enable it to build and run properly. This is going to be like finding a needle in a haystack...

[2016-05-17 14:03] chfast commented on #573
@VoR0220 I have no idea what you have just written.

[2016-05-17 14:04] VoR0220 commented on #573
where did I lose you?

[2016-05-17 14:12] chfast commented on #573
With `-DEVMJIT=0 -DETHASHCL=0` is the bug reproducible?

[2016-05-17 14:15] VoR0220 commented on #490
So we have a temporary work around it would seem. I would like all who are experiencing this error to try this out. Try rebuilding through the webthree umbrella, but try this.

`./webthree-helpers/scripts/ethbuild.sh --no-git --clean-build --project solidity -DETHASHCL=0 -DEVMJIT=0 --cores 10`

adjust your cores as necessary. This is fixing the bug for the meantime on my machine. Let me know what

[2016-05-17 14:18] VoR0220 commented on #573
no, it is not. Not on mine atleast.

[2016-05-17 14:18] bobsummerwill commented on #490
So from this, and another thread, @VoR0220, it looks like "the thing" is inside EVMJIT?  @chfast.

[2016-05-17 14:21] chfast commented on #573
for the buggy and the non-buggy binary, can you list all dependent shared libraries?

[2016-05-17 14:22] VoR0220 commented on #573
.....yeaaa....I was looking for that yesterday....I'm not sure how to do that easily.....

[2016-05-17 14:22] VoR0220 commented on #573
any advice on that would be welcome (I'm a cmake amateur)

[2016-05-17 14:26] chfast commented on #573
On linux that would be `ldd solc`.

[2016-05-17 15:25] boestin commented on #573
@VoR0220 any advice in which dir i should execute the cmake command?
thx

[2016-05-17 15:57] kjsujesh commented on #573
You can use the following command in the root of the /webthree-umbrella directory where you checked out the code:

./webthree-helpers/scripts/ethbuild.sh --no-git --project solidity --all --cores 4 -DEVMJIT=0 -DTESTS=0 -DGUI=0 -DETHASHCL=0

[2016-05-17 16:46] boestin commented on #573
@kjsujesh @VoR0220
mm..  I'm still getting the error solc: signal: segmentation fault

What did I do:
I went ethereum.org/cli because I am a Noob and I want to develop using OSX as OS.
1. brew tap ethereum/ethereum
2. brew install ethereum

No I want the solc compiler. According to  ethereum.org/cli:
3. brew tap ethereum/ethereum
4. brew install cpp-ethereum
5. brew linkapps cpp-ethereum

Then I c

[2016-05-17 17:07] kjsujesh commented on #573
Please have a look at this : http://solidity.readthedocs.io/en/latest/installing-solidity.html

After you build, use the solidity tests to check for errors. They are here:
/webthree-umbrella/solidity/build/test

[2016-05-17 17:10] boestin commented on #573
@kjsujesh
ok, should I remove something first?  I think I already did this.

[2016-05-17 17:18] kjsujesh commented on #573
in your admin.setSolc("/usr/local/bin/solc") step, can you try changing to the solc that you just built?
Like
admin.setSolc("<path to your build folder here>/webthree-umbrella/solidity/build/solc/solc")
and then try ?

[2016-05-17 17:38] boestin commented on #573
@kjsujesh
I changed the solc directory to the one I just built.. same error.
Thanks for the help though.

[2016-05-17 17:40] VoR0220 commented on #573
don't worry @boestin we are working on the solution as you type.

[2016-05-17 17:41] boestin commented on #573
@VoR0220 I know.  Thanks!

[2016-05-17 18:07] Denton-L opened #576 "Short-Circuit Booleans Not Implemented"
Expected result, test() should return 0.
Actual result, test() returns 5.

Test code:

[code]

This result was expected because Solidity was designed with JavaScript in mind and JavaScript implements short-circuit evaluation by default using the `||` and `&&`  operators.

[2016-05-17 18:14] boestin commented on #573
I thought that a possibility was that Geth was causing the issue.. So I followed the instructions (https://github.com/ethereum/go-ethereum/wiki/Installation-Instructions-for-Mac) to clone and build Geth, but unfortunately the error still is here.

What I do find odd is this:
When selecting the solc within Geth using Console, OR as parameter does not seem to fill the [].
So when saying eth.getCompi

[2016-05-17 19:02] ismaelbej commented on #381
We have the same issue with the latest version of geth and solc running in Ubuntu xenial, in a private network.

Investigating it fails when the struct has 3 strings fields. But it works with 2 strings.

After mining `test.write.sendTransaction(1,"marco","polo","nop",{from:eth.accounts[0]})`. When trying to retrieve it `with test.store.call(1)` it will return `[false, "", "", ""]`.

Chaning the co

[2016-05-17 20:38] boestin commented on #573
@VoR0220 @kjsujesh

I decided to remove the solc file in /usr/local/bin/solc and cp'd the build file in webthree, but that didnt help.
Something funny happened: I tried to run ./webthree-helpers/scripts/ethbuild.sh --no-git --project solidity --all --cores 4 -DEVMJIT=0 -DTESTS=0 -DGUI=0 -DETHASHCL=0.
On the end something didnt go right.  Anyone?

---

## -- Configuring solidity

--

[2016-05-17 21:59] #513 closed, assigned to chriseth

[2016-05-17 22:03] chriseth commented on #576
Do you get this result when running inside browser-solidity? I'm asking because I cannot reproduce your reported behaviour.

[2016-05-18 02:28] Denton-L commented on #576
Yeah, I'm running under browser-solidity. I suppose this is an issue for _that_ repository?

[2016-05-18 03:29] boestin commented on #573
Decided to stay up tonight and reinstall OSX. Yes. I know :)

After the install, the works:

home-brew, Xcode, all required external dependencies which are mentioned here: http://ethdocs.org/en/latest/ethereum-clients/cpp-ethereum/building-from-source/osx.html
Still waiting for it to finish.

[2016-05-18 04:36] ismaelbej opened #577 "Struct with three string fields is not stored in a private blockchain"
This is similar to #381, but I'm not using sha3 for the mapping, just directly an uint.

The contract does work with two strings fields, but it will fail with three strings fields. Also tried with an array of three strings, and another struct with three strings, they also fail.

[code]
- With **two** strings fields: After mining `test.write.sendTransaction(1,"marco","polo",{from:eth.accounts[0]})`

[2016-05-18 13:05] chriseth opened #579 "Improving library names for the linker"
Library names are currently not globally unique, but they have to for the purpose of the linker. For this, it should be possible to optionally specify the file name where a library is defined at link-time.

Furthermore, linker objects should be exposed by solc-js.

 - [x] store file name for all libraries / linker identifiers
 - [ ] expose unlinked objects correctly
 - [x] make relevant changes in

[2016-05-18 13:11] chriseth commented on #577
I was not able to reproduce this in browser-solidity. My guess is that the transaction data is not encoded correctly. Can you try to inspect the network traffic and post the actual transaction data here?

[2016-05-18 15:04] boestin commented on #573
Screwed up the system again, somehow I can't  install cpp-ethereum using brew.

[2016-05-18 15:10] bobsummerwill commented on #573
Maybe hitting this, @boestin?
https://github.com/ethereum/webthree-umbrella/issues/518
If so, should be fixed now, by @chfast.

[2016-05-18 15:11] bobsummerwill commented on #573
Need to do `brew install cpp-ethereum --build-from-source` right now if you are on El Capitan because of a broken bottle on just that version.    Because of incomplete Jenkins work in https://github.com/ethereum/webthree-umbrella/issues/454.

Sorry!

[2016-05-18 15:16] boestin commented on #573
@bobsummerwill No worries.  I thought it was me again ^^
It's running now.  Then after I'll test if the segmentation error still exists.

[2016-05-18 15:46] Denton-L commented on #576
It works now?????

I may have looked at the wrong value while testing by mistake.

[2016-05-18 15:46] #576 closed, assigned to nobody

[2016-05-18 16:40] ismaelbej commented on #577
Do you have to use a specific tool for this or a tcpdump should be ok?

[2016-05-18 18:08] boestin commented on #573
Error: solc: signal: segmentation fault

[2016-05-18 18:19] VoR0220 commented on #573
@chfast so for buggy solc with command:

`cmake -DCMAKE_BUILD_TYPE=Release -DEVMJIT=1 -DETHASHCL=1 ..` :

[code]

for

`cmake -DCMAKE_BUILD_TYPE=Release -DEVMJIT=0 -DETHASHCL=0 ..` :

for non buggy solc:

`cmake -DCMAKE_BUILD_TYPE=Debug -DEVMJIT=0 -DETHASHCL=0 ..` :

[code]

[2016-05-18 18:35] VoR0220 commented on #573
@boestin in the meantime try this

[code]

[2016-05-18 19:00] ismaelbej commented on #577
Here are the files I have used to test this https://gist.github.com/ismaelbej/2d9ca7ad0ec3dff61a235fb53df43b1f

The capture with tcpdump of the write call
[tcpdump.zip](https://github.com/ethereum/solidity/files/271181/tcpdump.zip)

[2016-05-18 19:15] boestin commented on #573
@VoR0220 Ok, i'll try.  So to make it clear for me. The solc that is sitting in /usr/local/bin/solc remains untouched. Right?  When I start geth, it will automatically points to that direction for some reason.

When ethbuild is finished, do I need to make another action to "copy" the build solc to /usr/local/bin/solc

Thanks.

[2016-05-18 19:20] VoR0220 commented on #573
nope...shouldn't need to.

[2016-05-18 19:33] chfast commented on #573
@VoR0220 Have you tried `EVMJIT=1 ETHASHCL=0` and `EVMJIT=0 ETHASHCL=1`?

[2016-05-18 19:52] chriseth commented on #577
Data looks good. I think remix is not yet ready to process geth vm traces, but that could be worth a try.

[2016-05-18 20:54] Denton-L commented on #220
Documented in #557.

[2016-05-18 21:02] axic commented on #220
Thank you @Denton-L, looks great!

[2016-05-18 21:02] #220 closed, assigned to nobody

[2016-05-18 21:43] VoR0220 commented on #573
I have not... @chfast should I start looking for dependencies elsewhere in the dylibs that solc calls from? I think we might find more information there.

[2016-05-19 03:26] dwhjames opened #583 "warn about usage of `this` in constructor"
This was originally a bug report that turned into a feature request:

The compiler should warn about calling functions on `this` in the constructor and any function called from the constructor. I think we will not be able to catch all cases (you also have to include modifiers, base classes and other things), but we could at least try.

---

This seems like a compiler bug to me, unless I have a mis

[2016-05-19 06:13] boestin commented on #573
@VoR0220 YES it's working!
-DCMAKE_BUILD_TYPE=Debug is a workaround for me!

[2016-05-19 06:13] boestin commented on #573
@VoR0220 thanks for the help! 👍

[2016-05-19 13:44] chriseth commented on #583
Just tried the following snippet in browser-solidity and it shows different addresses for the contract and the variables `x`:

[code]

Perhaps you are confusing the contract address with the contract creator address?

[2016-05-19 13:46] chriseth commented on #560
Yes, this is very hard to do because the EVM provides no help there and internal calls could result in refunds, but we have no way to access that.

[2016-05-19 13:46] #560 closed, assigned to nobody

[2016-05-19 13:46] chriseth commented on #559
Fixed now.

[2016-05-19 13:46] #559 closed, assigned to nobody

[2016-05-19 13:48] chriseth commented on #556
Do you propose to add tests written in C++ to check that the functions above work correctly by building a non-emscripten build and running those tests?
Wouldn't it be better to test the emscripten build directly?

[2016-05-19 13:49] chriseth commented on #550
Is the question answered?

[2016-05-19 13:51] chriseth commented on #544
This is more of a question about web3.js. Does the example code given in the documentation work for you? Does it provide the value for the non-indexed argument as part of the `result` variable in the callback?

[2016-05-19 13:54] chriseth commented on #481
I would say that is implemented now, right?

[2016-05-19 13:54] #481 closed, assigned to nobody

[2016-05-19 13:55] axic commented on #556
I think both should be done so issues within either the C++ API or the emscripten process can be spotted:
- C++ tests in the solidity tree for the `jsonCompiler` API should be straightfoward
- Tests for the emscripten build should be done separately - where does that belong to? solc-js? solc-bin?
- And lastly tests for the `solc` npm package wouldn't be a bad thing

[2016-05-19 13:56] chriseth commented on #423
@drupalnomad any response to my questions?

[2016-05-19 13:56] #423 closed, assigned to nobody

[2016-05-19 13:56] chriseth commented on #375
Should be fixed now.

[2016-05-19 13:56] #375 closed, assigned to nobody

[2016-05-19 13:57] #367 closed, assigned to nobody

[2016-05-19 14:08] dwhjames commented on #583
Hi @chriseth,
Thanks for the reply, but I think you’ve misunderstood my bug report.

In your example `c`, yes I fully expect the value of address `x` to be the contract creator address.

Instead, try:

[code]

[2016-05-19 14:11] axic commented on #488
I'm not fully aware how storage is handled by Solidity, but I think you refer to the case when multiple variables are packed and stored in the same location? Wouldn't `uint` in the example above have its own single storage slot?

For packed variables, doesn't that basically equals to `add(location, offset)` in the eye of `sstore`?

So basically this:

[code]

would become:

[code]

[2016-05-19 14:19] axic commented on #583
@dwhjames I think there might different issues going on here.

For this I get the proper sender stored in `x`:

[code]

For your last example I get `0` stored in `x`.

[2016-05-19 14:20] axic commented on #583
Update: by removing the `this` keyword in the constructor from your example the proper value is stored. `x = this;` works properly, so perhaps it is a bug in the compiler?

[2016-05-19 14:24] dwhjames commented on #583
Indeed, which is exactly the nature of the bug that I’m trying to point out.

Case 1:

[code]

Case 2:

[code]

My impression: Case 1 and Case 2 should be observably equivalent (with respect to the final value of `x`); however, Case 1 is ‘broken’.

It seems _exceedingly_ suspicious to me that the evaluation of `msg.sender`, stored in the variable `tmp`, depends on whether the next statement is `th

[2016-05-19 15:25] chriseth commented on #583
@dwhjames there is a big difference between `this.setX` and `setX`. The first is a message-call, i.e. it creates a new call context inside ethereum ("internal transaction") and thus has an effect on `msg`. The second is a contract-internal call which does not create such an internal transaction.

[2016-05-19 15:46] dwhjames commented on #583
@chriseth, I am aware that there is a big difference `this.setX` and `setX`.

You appear to be claiming that the evaluation of:

[code]

_should_ be different, depending on if this next line is

[code]

or

[code]

i.e. rules of lexical scope are broken? And the semantics of the statement on line 1 are affected by the semantics of the statement on a subsequent line?

Can we agree that, _no matter

[2016-05-19 15:56] dwhjames commented on #583
And to further drive the point home, my original example was of the following pattern:

[code]

Could you explain the discrepancy between the constructor and the default function?

[2016-05-19 16:13] axic commented on #488
To clarify:
- any storage variable which has an offset (i.e. is smaller than 256 bits) will have both the storage location + offset on the stack
- any variable which is at least 256 bits wide will have its location on the stack - therefore case 3 above could/should work

Having a proper error message printed in case 1 would be useful, but perhaps it requires too many changes regarding processing.

[2016-05-19 16:20] chriseth commented on #583
Ok, I'm sorry, I did not read your comment correctly. This is what happens: When the contract is still in construction, its code is not yet deployed to its address (that is a "feature" / limitation of the EVM). This means if you call `this.setX(tmp)`, you call a function on a non-existing contract and thus `setX` is not really called. When the fallback function is called, the contract does exist a

[2016-05-19 16:36] ismaelbej commented on #577
Ok, I will try to get traces from geth.

[2016-05-19 17:03] dwhjames commented on #583
@chriseth, sorry, but I’m still not convinced by this answer…

Here’s why:

[code]
- `x == 0`
- `y == creator`

For this to be the case, that means that `solc` has mangled

[code]

in such a way that `tmp` is effective evaluated _twice_, not the once, as it appears lexically.
So it becomes the 0 address in the context of the second line, and the actual creator address on the third line.

(Btw, I a

[2016-05-19 17:36] dwhjames commented on #583
Ok, I’m starting to see where you’re coming from here…

[code]

Send 1 Wei:
- `x == 0`
- `y == 3`

So any call to `this.someFunction` turns into a no-op?

[2016-05-19 17:36] chriseth commented on #583
No, it is not about the variable `tmp`. The function call `this.setX(tmp)` just fails, it does not have any effect. Your code is identical to the one where `this.setX(tmp)` is commented out (minus gas costs of course).

[2016-05-19 17:36] chriseth commented on #583
yep :-)

[2016-05-19 17:39] dwhjames commented on #583
Ok… yikes.

But it’s a no-op that does at least get registered as an internal transaction?
Back to my original example:

[code]

This internal call shows up:
http://testnet.etherscan.io/tx/0x97c23603b226c1001b14eb4d9d70f245e290749e2f09008823e601c9b31a4db0#internal

[2016-05-19 19:58] ismaelbej commented on #577
Here is the trace

[trace.zip](https://github.com/ethereum/solidity/files/273363/trace.zip)

I've also tested the contract with EthereumJ (https://github.com/ethereum/ethereumj), and the result is the same write seems to work but read returns empty strings.

[2016-05-19 20:18] VoR0220 commented on #571
closing as replicated.

[2016-05-19 20:18] #571 closed, assigned to nobody

[2016-05-19 20:22] VoR0220 commented on #573
it would appear that a fix to the way it was before is just about here. #584 when this PR is merged, you should be able to at the very least compile and grab the ABI and binaries from your contracts. There is still a remaining problem of seg faults with the gas estimator...I suppose that this is coming from a different area. But the main parts that you will care about for web3 deployment should be

[2016-05-19 20:23] VoR0220 commented on #573
if you really need the gas parameter or ast, set your cmake to the debug build.

[2016-05-19 20:23] VoR0220 commented on #570
closing for now as replication. Thanks again @kjsujesh for the useful information.

[2016-05-19 20:23] #570 closed, assigned to nobody

[2016-05-19 21:10] ismaelbej commented on #577
I kind of found a workaround. It does work when I split the write function into a pair write1/write2, each writing at most two string.

[code]

The issue appears when I try to modify more than two string fields from the same public function.

[2016-05-20 12:29] chriseth commented on #577
Sorry, I should have been more specific: The trace you generated is a go-internal trace. What I would need is an ethereum vm trace.

[2016-05-20 12:31] chriseth commented on #583
Yes, it is an internal transaction that does nothing.

[2016-05-20 14:53] srw commented on #577
@chriseth have you tried to reproduce this issue on your side?

[2016-05-20 15:03] axic commented on #583
Maybe it would be a good enhancement to warn/error if `this` is used as part of a method call from the constructor? Probably hard to do it as it wouldn't check if any other method called from constructor does the same.

[2016-05-20 15:07] dwhjames commented on #583
A compiler warning for at least this simple case would be great. And some documentation somewhere about this issue; did I miss existing docs that cover this?

I can understand not wanting to do a global static analysis to find violations of using `this` transitively, but even a warning to cover direct usage is worth something.

[2016-05-20 18:27] ismaelbej commented on #577
I've deployed in the testnet, and there it works!.

Here is the transaction with the write('marco','polo','extra') operation
http://testnet.etherscan.io/tx/0x3131f8e3470cac76b115b479b01089e09b6eac4caf50ab8e860395dc8890ac51

So it seems to be a problem with my private testnet. Here is my genesis.json

[code]

I will generate a new private testnet, and try again. One of the reasons to use a private

[2016-05-21 16:47] Arachnid opened #589 "Support calling library functions on literals"
With the introduction of support for 'internal' library functions, libraries now have a bunch of new uses, including adding new functionality to existing types like `string`. However, while doing `using foo for string` will allow you to call functions defined in `foo` on `string` instances, `"foo".foo()` still fails with an error.

It'd be really good if Solidity could treat literals the same way

[2016-05-22 04:03] VoR0220 commented on #589
That might be difficult to pull off given the current architecture.

[2016-05-22 10:19] Arachnid commented on #589
In the latest build this mysteriously already works for string literals!

[2016-05-22 11:18] Arachnid opened #590 "Creating a memory array of length 0 generates an infinite loop"
The following code produces asm that generates an infinite loop:

[code]

Even better, it seems to crash browser solidity, rather than simply running out of gas.

[2016-05-22 11:27] Arachnid opened #591 "Internal library functions are not processed by --devdoc"
Calling `solc --devdoc` on a library returns only documentation for any `public` functions; `internal` functions, though part of the library interface, are not included.

[2016-05-23 15:18] VoR0220 commented on #589
Close this then?

[2016-05-23 15:18] VoR0220 commented on #590
nice

[2016-05-23 16:27] axic commented on #590
It was reported to browser-solidity with `uint` arrays a while ago: https://github.com/chriseth/browser-solidity/issues/107

Probably it is not limited to strings, rather to initialising dynamic arrays.

Does the code includes an infinite loop or the VM has a bug?

[2016-05-23 16:31] Arachnid commented on #590
I suspect both; I disassembled the contract, and it appears to output a loop that predecrements, checking when it reaches zero. That's definitely wrong, but the VM should run it out of gas, not just hang.

[2016-05-23 16:37] axic commented on #590
I don't think it actually hangs, just you have to have nerves to wait until it finishes given the "unlimited" nature of the gas limit: `3000000000`

There's a change to rework the gas handling in browser-solidity, so that should be "fixed" soon-ish.

[2016-05-24 02:04] btc2nxt opened #592 "byte typecasting compare didn't work"
[code]

[2016-05-24 15:15] chriseth opened #594 "Support nested array arguments"
- [ ] calldata decoder
- [ ] calldata decoder for memory (passing arguments to base constructor)
- [ ] calldata encoder

[2016-05-24 15:34] VoR0220 commented on #594
nested array arguments? As in 2D arrays to a function parameter?

[2016-05-24 15:43] axic commented on #17
@chriseth I wonder if emscripten in solc-js can introduce non-determinism additionally to the above?

[2016-05-24 15:51] chriseth commented on #594
Yes.

[2016-05-24 15:51] chriseth opened #595 "Support structs and enums in ABI"
Implement the following specification: https://github.com/ethereum/EIPs/issues/50

[2016-05-25 03:45] VoR0220 commented on #592
you may want to check out Nick Johnson's String Utils library. https://github.com/arachnid/solidity-stringutils

[2016-05-25 05:02] pipermerriam opened #597 "Allow specifying storage locations"
Inline assembly has now made fully up upgradable contracts possible.  One of the main hangups with this is that the storage locations have to stay the same across upgrades.  Would it be possible to introduce support for specifying the storage locations for storage variables?

[2016-05-25 06:55] VoR0220 commented on #597
not so!

[2016-05-25 06:56] VoR0220 commented on #597
See Nick Johnson's Library on upgradeability :)

https://gist.github.com/Arachnid/4ca9da48d51e23e5cfe0f0e14dd6318f#file-upgradeable-sol

[2016-05-25 07:40] chriseth commented on #592
Can you please provide full code that compiles and runs in browser-solidity? This might be fixed by https://github.com/ethereum/solidity/pull/588

[2016-05-25 07:40] #519 closed, assigned to chriseth

[2016-05-25 07:40] #530 closed, assigned to chriseth

[2016-05-25 07:54] chriseth commented on #597
Especially with contract upgrades in mind, wouldn't it be better to copy the storage layout and "disable" unused state variables by e.g. prefixing them? Otherwise I don't see how you would practically verify that the storage layout is consistent between upgrades.

[2016-05-25 09:04] LefterisJP opened #598 "Dynamic return data decoder should not discard components"
### Problem Description

The scenario is as follows. Let's imagine a contract A with a public struct that also contains variable sized data types not all of which are placed at the end of the struct:

[code]

Now imagine a contract B trying to interface with contract A:

[code]
### Expected Results

At this call:

[code]

We are decoding the struct by extracting all the non-variable sized members.

[2016-05-25 09:46] chriseth commented on #598
Suggested fix: Introduce a new type that is used in the return type of an external function call, replaces dynamic types, takes up 32 bytes and is useless otherwise.

[2016-05-25 12:42] pipermerriam commented on #597
Is there documentation on how storage layout is determined?

On Wed, May 25, 2016, 1:54 AM chriseth notifications@github.com wrote:

[2016-05-25 14:09] chriseth commented on #597
http://solidity.readthedocs.io/en/latest/miscellaneous.html#layout-of-state-variables-in-storage

[2016-05-25 15:16] pipermerriam commented on #597
Ok, so after reading up on storage layouts...

[code]

In this example, `a` should be stored in slot 0 and `b` in slot 1.

Now, consider I _upgrade_ it to the following.

[code]

This would end up with `c` stored in slot 0, `a` in 1, and `b` in 2 which would break things.

So, instead, I propose being able to do the following.

[code]

The solidity compiler would see that `a` and `b` are designate

[2016-05-25 15:23] axic commented on #597
I was looking for a complementary/similar feature: the ability to disable packing. (i.e. currently if two storage parameters are each < 256 bits and together they fit into one slot, they are packed together.)

Ultimately the compiler could optimise the packing based on the frequency of changes to one ore more variables within.

With your suggestion this is a given, each marked variable gets its ow

[2016-05-25 15:29] pipermerriam commented on #597
the `@` was just the first thing that came to mind.  I like `storage(...)` better.

[2016-05-25 16:06] chriseth commented on #597
I think the tradeoff between introducing errors and decreasing readability is much better when just adding `int c` at the end. If you want, you can also use inheritance (let the upgraded contract inherit from the old contract).

[2016-05-25 20:23] VoR0220 commented on #597
^ 👍  for the inheritance structure...it overall is cheaper and more cost effective to do it that way. I envision a lot of modularity around dapps in the future in regards to storage to better handle updates and save gas.

[2016-05-25 20:30] VoR0220 opened #599 "Should be possible to create a mapping key from a struct object"
it would act in the idea of a sha3 of each of the combined inner types of the struct to map to each value.

For example

[code]

would be represented in a mapping by sha3(b, c). For inner structs, this would go sequentially as they all appear in storage for as many types pop up.

[2016-05-26 03:11] btc2nxt commented on #592
https://github.com/btc2nxt/p2pWorld/blob/master/contracts/foundation.sol
looks like the fix will solve it.

[2016-05-26 11:54] chriseth commented on #599
Indeed, as log as the structs do not contain mappings. Furthermore, the sha3 should be applied with "tight packing" applied, i.e. no padding to 32 bytes and structs and tuples should be handled identically.

[2016-05-26 15:22] chriseth opened #602 "accessors should reject ether"
Accessor functions should reject ether sent to them.

[2016-05-26 16:54] axic opened #603 "Broken escape code handling in ASTJsonConverter"
We have a problem with escape codes in strings and the resulting compiler JSON output.

Any escape code used in a string literal, such as

[code]

will be present in the output in the form of:

[code]

For JSON encoding, Solidity uses jsoncpp. [json.org](https://json.org) and [ECMA-404](http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-404.pdf) state that every string is _Unicode_

[2016-05-26 16:54] axic commented on #480
#603 explains this issue properly. Closing this in favour of it.

[2016-05-26 16:54] #480 closed, assigned to nobody

[2016-05-26 16:59] axic commented on #480
This `string memory x = "\x12\x80";` -> `PUSH32 0x12C2800000000000000000000000000000000000000000000000000000000000` was caused by Javascript's JSON converter. Perhaps that is a separate bug.

[2016-05-26 20:48] VoR0220 commented on #599
tuples handled identically? How do you mean? Can you write an example please?

[2016-05-27 14:07] LefterisJP commented on #602
Thanks for this. It's a much needed change. For now the only way around this is to do something like this: https://github.com/slockit/DAO/pull/185/files#diff-00f5402e5918b82e1560a8173c0aa689R99

[2016-05-27 17:06] chriseth opened #605 "Versioning in build_emscripten"
The versioning in `build_emscripten.sh` (in webthree-helpers) scans the git tags to find out the version, but it should rather look at the `CMakeLists.txt` because otherwise the filename and the reported version differ.

[2016-05-27 20:47] ed-ilyin opened #606 "Error "Trying to create an instance of an abstract contract." for standard token."
Hi,

When I try to create a new instace of the [standard token](https://ethereum.org/token), compiler throws an error:
Error: Trying to create an instance of an abstract contract.         new token()

I suppose it is due to abstract receiveApproval function specified in [standard token](https://ethereum.org/token):
contract tokenRecipient { function receiveApproval(address _from, uint256 _value, a

[2016-05-30 12:30] Neurone commented on #606
Hi Ed, you can find the answer to your question at [StackExchange](http://ethereum.stackexchange.com/questions/4360/error-trying-to-create-an-instance-of-an-abstract-contract-for-standard-token/4377). This is not a bug of Solidity, so you can close this issue.

[2016-05-30 13:05] #606 closed, assigned to nobody

[2016-05-30 13:47] chriseth opened #609 "Binaries created on the ppa do not include the commit hash"
The commit hash is not included in `solc --version` if solc is built via the ppa. This is the case because it is built from the "source tarball" that does not have a git environment.

[2016-05-30 13:50] chriseth opened #610 "Add a "safe way to send ether" i.e. address.transfer"
`address.send` does not send along any gas and does not propagate exceptions. This is good for situation where we do not know the target, but those are limited in use as was discovered in the meantime. People resort to workarounds like `recipient.call.value(x)()`. Exactly this workaround should receive a name and it should propagate exceptions.

Suggestions for the name: `transfer` (sounds safer b

[2016-05-30 16:31] chriseth opened #611 "Source code verification"
As the ways to compile contracts get more and more complex, it becomes paramount to provide a simple way to verify the source code of a contract. Also as swarm is now more or less within reach, a way to store the source code of a contract becomes viable.

The following way to perform source code verification is hopefully forward-compatible and does not rely on timing problems or the need for a reg

[2016-05-30 17:01] VoR0220 commented on #611
what does the metadata object look like?

[2016-05-30 17:15] frozeman commented on #611
+1
Tho I don't fully understand. Do you want to store a hash of the json meta data with the contract deployment itself?

And how would a verifier know at which tx to ask for the right deployed code?

[2016-05-30 17:19] axic commented on #611
I think the metadata would only represent all the sources and options used to generate that given binary. It doesn't matter where you get that binary from as long as you can acquire the metadata and all of its references to recreate the binary.

[2016-05-30 17:26] zelig commented on #611
nice one Chris.
great question Fabian
the hash of the metadata is cheaper to store in the contract creation tx . and because of the source -> byte code depends on constructor parameters which are only in the contract creation tx you need to look there anyway.
now I think the best way to get that is to actually register block number and tx index together with the metadata content hash in ENS
to com

[2016-05-30 17:26] axic commented on #611
@chriseth wouldn't it make more sense putting a _metadata pointer_ section at an unreachable, but fixed part of the binary (i.e. the very end of it?). This _metadata pointer_ could contain just the hash you suggested, or a flags/version/type field + the hash for future upgradeability.

Alternatively I still like the suggestion (from #529) to have this value accessible via a method. Good because yo

[2016-05-30 21:52] Arachnid commented on #611
This solution will mean that only full nodes retain the data required to verify contract source code, which seems like a bad idea. Like @axic, I think it makes a lot more sense to embed the relevant information as a method.

[2016-05-31 02:28] VoR0220 commented on #599
So should it look something like this for a tuple?

[code]

[2016-05-31 02:28] VoR0220 commented on #599
or should we enable var here? I think adding var is not the best here...

[2016-05-31 02:56] VoR0220 commented on #599
also...if this is the case....should we allow arrays? Or is that overkill?

[2016-05-31 04:12] VoR0220 opened #615 "Tuples need to actually return from function calls"
This should work...but it doesn't.

[code]

gives:

[code]

will need to work on this. @chriseth do you know off hand what is causing this problem so that I could better look at it in the future?

[2016-05-31 10:30] chriseth commented on #599
yes, that is how tuples are written, but I think we should keep the focus for now.

[2016-05-31 10:31] chriseth commented on #615
The local variable `a` shadows the function `a`.

[2016-05-31 10:31] #615 closed, assigned to nobody

[2016-05-31 10:55] chriseth commented on #611
@axic @Arachnid in general, there are two ways to verify compilation:

1) compile the source code, retrieve the runtime bytecode and compare with the code at that address

2) compile the source code, retrieve the creation code and compare with the data that was used to create the contract (either the tx payload or the data of a CREATE operation).

Method (1) has a major flaw: It completely ignores

[2016-05-31 11:09] Arachnid commented on #611
Is that a major flaw? The constructor can only affect the ongoing behaviour of the contract by setting data in storage, which can be verified by the user by examining the contract's storage on the blockchain. I don't think the constructor data is directly relevant to how the contract behaves now, which is what a user examining the contract wants to determine.

[2016-05-31 14:16] chriseth commented on #611
Yes, I think so. If you require the user to verify storage contents in addition to bytecode, it gets much more complicated, because you would have to retrieve the contents at the point the contract was created, you have to require from the user to be able to interpret which storage values are set by the constructor and so on. If the constructor sets dynamic arrays or mappings, this gets very compl

[2016-05-31 14:31] chriseth commented on #602
Would it be better to just allow modifiers for variables?

[2016-05-31 14:48] Arachnid commented on #611
For the constructor to influence the contract, the runtime code has to contain instructions that alter its results based on the contents of storage; in that event the user absolutely has to check the contents of storage in any case, or else they can't be sure that the value is set to what they expect it to be. Verifying that it was set that way at creation time isn't enough.

No matter what, users

[2016-05-31 15:10] chriseth commented on #611
@Arachnid I disagree. Since the contract starts in a defined state (empty storage) there is nothing to check if you begin at creation time. Of course, you have to get an impression of the current state of the contract if you want to interact with it, but you do not have to check that the contract at least started in a way that was set in its constructor. One of the big problems here are mappings.

[2016-05-31 15:34] Arachnid commented on #611
I somewhat see your point; constructors can place the contract in a part of the state space that couldn't be reached purely by following the rules baked into the contract's code. I don't think it's that useful to users, though.

When users are auditing a contract, it's generally with a view to using it. When a contract's anything other than very straightforward, generally you need to be able to as

[2016-05-31 15:46] VoR0220 commented on #615
ah poop...was late..wasn't thinking.

[2016-05-31 15:48] bobsummerwill commented on #611
I think I agree with you here, @Arachnid.

When you start venturing into analysis of stateful behaviour, it is likely a bottomless pit.

I think it might actually be harmful to even try, because it runs the risk of getting people false confidence.

Verifying that the code is as expected is a very discrete and solvable problem.    When it comes to stateful behaviour which will, by definition be dif

[2016-05-31 15:49] chriseth commented on #611
@Arachnid I'm not sure you understand what I wanted to say with the "proposal 11" example: If you verify the code at construction stage and see that the current proposal counter is below 11 (by querying a single point in storage), you can be sure that by adding your new proposal with id 11, all votes will be initialized to 0, because there is no way to inject votes for proposal 11 before it was cr

[2016-05-31 15:53] Arachnid commented on #611
@chriseth Yes, that's what I meant by saying that constructors let you reach parts of the state space the code wouldn't. Without the constructor, you would know that combination of states isn't possible, because no set of function calls could produce that result.

While I agree that's useful information, I don't think it's enough: I still think that anyone auditing a contract needs to include eval

[2016-05-31 17:36] VoR0220 commented on #602
do explain this modifier for variables idea

[2016-05-31 21:29] chriseth commented on #602
Modifiers can only be added to functions, but we could add them in the same way to a state variable which means it will be applied to its accessor function. A modifier that would solve exactly this issue is the one named after Emmy Noether:

[code]

Example of usage:

[code]

[2016-05-31 21:56] VoR0220 commented on #602
seems reasonable only if they are state variables. Particularly when thought of in the context of public getters.

[2016-05-31 22:32] chriseth commented on #17
Tested and confirmed that we should now have deterministic compilation, even across platforms.

[2016-05-31 22:32] #17 closed

[2016-05-31 22:44] chriseth opened #621 "Type deduction for inline arrays"
The following should compile fine, but it does not:

[code]

[2016-05-31 23:42] VoR0220 commented on #621
the problem is the left hand side. The left hand side wants the mobile types of the right hand side and so it needs to be a uint8[5]. With that said. How do we want to go about addressing this? Is this where "smart arrays" come into play?

[2016-05-31 23:44] VoR0220 commented on #621
I lied...that is a strange bug. Error message:

[code]

[2016-06-01 10:39] chriseth commented on #621
Oh yes, sorry, I edited the description to show more precisely what I mean

[2016-06-01 15:30] chriseth commented on #611
(updated description to add a log to help discovery of the creation point and data)

[2016-06-01 15:36] Arachnid commented on #611
How will source discovery and verification for contracts created by other contracts be handled?

[2016-06-01 15:47] chriseth commented on #611
Source discovery is out of scope. In the future, it will be retrieved from swarm, currently it might be retrieved from github gists or any other source. Verification of contracts created by other contracts will be handled in exactly the same way. You search for the first log at that address, if it is a creation tx for that contract, you use the input data there. If it is not a creation operation,

[2016-06-02 07:08] ethers commented on #610
LGTM.  When this is implemented, could a warning message when `address.send` is used, be displayed and to suggest that the user probably wants to use `address.transfer` ?

[2016-06-02 10:16] chriseth opened #623 "Modifier Areas"
Especially in contracts that model a state machine, it would be convenient to group functions that can be called in a specific state. Currently, the modifiers have to be applied to all these functions individually. This enhancement proposes to provide a syntactic means to apply modifiers to several functions at the same time. This does not only apply to modifiers but also to visibility specifiers.

[2016-06-02 12:33] redsquirrel commented on #623
Modifier areas would be useful in some cases, particularly short, simple contracts. In other cases, though, they would reduce readability, as well as increasing complexity.

Some contracts are large, and would have correspondingly large modifier areas. This means that while reading a function, the `using modifier` declaration could be several pages off-screen. In order to understand the behavior o

[2016-06-02 12:37] chriseth commented on #623
@redsquirrel although I agree with your concerns about "having to scroll up", I think it is much easier to verify the semantics for a group of functions that all have a certain modifier than to check that the modifier is present in every single function.
In the end, this all boils down to the fact that authors have to write contracts responsibly. The inheritance feature can also be exploited to pu

[2016-06-02 12:46] redsquirrel commented on #623
No doubt about that! 👍

I'm thinking of the authors that are less responsible. This feature will make it easier for them to create complexity aka bugs. 🐜

[2016-06-02 14:00] chriseth commented on #598
It turns out that the situation is different for accessor functions than it is for general externally-visible functions: for accessors, the dynamic types are not even part of their public interface.

[2016-06-02 14:22] redsquirrel commented on #623
@chriseth Would you recommend people use modifier areas like this?

[code]

_becomes_

[code]

One would have to pick and choose which modifiers get areas and which would have to stay inline. Right?

[2016-06-02 15:04] kootenpv commented on #623
@redsquirrel I think when modifiers are not named a/b but something more concrete, it should quite easily follow which one is the more logical to separate like that. E.g. `isOwner` vs `isState` would be divided by `isState`, and the other would be provided inline. However, it does add some extra thoughts into structuring code. Then again, the gain is to potentially have better structured code and

[2016-06-02 15:10] redsquirrel commented on #623
And what about nested modifier areas?

[code]

...could become...

[code]

[2016-06-02 15:50] chriseth commented on #623
Of course, both nested areas and multi-modifiers will be possible.

[2016-06-02 16:03] romanman commented on #611
@chriseth : any thoughts to
include validation hashes into
the code  ?

P.S: it is hackabale by changing compiler code ,
but it's not an easy hack and the validation
can give much better solution that we have now.

[2016-06-02 16:05] VoR0220 opened #626 "Throw error if import not used?"
Currently, the compiler will still compile a file where an import is declared, but the contents of said import are nowhere used in the file. Might we consider throwing an error if they are not used?

[2016-06-02 16:46] androlo commented on #623
I see this would not allow adding functions with different kinds of return values to the same group modifier. Maybe not a big issue, but usually when I make systems of contracts I like to return values from  functions (constant or not) that indicate to calling contracts whether or not the call was successful. A common case would be when contract A calls a method on contract B, then a method on con

[2016-06-02 16:49] redsquirrel commented on #623
@androlo I don't think modifier areas have any effect on return values.

[2016-06-02 17:06] chriseth commented on #598
Going in reverse again: It actually _is_ fixed by that PR because strings and bytes are still present for accessors.

[2016-06-02 17:16] androlo commented on #623
Ok. No issue then.

[2016-06-02 17:41] androlo commented on #623
Ah, IC. So basically they are all inlined automatically, or I guess in the case of big nasty modifiers maybe called simply as internal functions. I was thinking in terms of old LLL where you wrapped functions inside modifiers (which were basically just an 'if' or 'when' conditional).

I need to start using modifiers...

[2016-06-02 18:33] VoR0220 commented on #623
perhaps there could be something in the natspec that specifies what modifiers the contract is using?

[2016-06-02 18:38] Denton-L commented on #626
Maybe not an error but a warning?

[2016-06-02 18:49] VoR0220 opened #627 "Benefits of using abstract contracts"
I think there needs to be added documentation on the benefits of utilizing abstract contract functions...Is there not a cheapening of gas that comes with using an abstract contract? I may be wrong but I think it does. Either way...the documentation doesn't really give a reason why I would want to use an abstract contract or when I would want to...this could be improved.

[2016-06-04 15:33] chriseth commented on #626
No, because you might want to import symbols just for the purpose of exporting them again.

[2016-06-04 15:41] chriseth opened #628 "Authenticated Binaries"
Currently, the archived binaries of the compiler are only published on github. While this provides a certain protection against manipulation due to the use of git, it is not really in spirit with the decentralisation efforts we are propagating. Also in light of the planned improved [source code verification](https://github.com/ethereum/solidity/issues/611), the following changes are proposed:
- [

[2016-06-04 17:21] jase1981 commented on #17
I tested it again and can confirm, all three versions are producing same output now. Thank you!!

[code]

https://drive.google.com/open?id=0B27o9CYAlaNjSGVXOW1PbExQTkE
I had to use optimized version, because browser-solidity always produces optimized, even if no checkbox.

[2016-06-04 19:24] chriseth commented on #17
WOHOOOO!

[2016-06-04 20:32] VoR0220 commented on #626
Well why wouldn't you just import the symbols in the needed contract then?

[2016-06-04 21:43] VoR0220 commented on #17
Yus

[2016-06-05 16:24] chriseth opened #630 "Implement checksum for addresses"
The complier should issue a warning if a hex string that is between 10 and 30 bytes long and uses mixed case does not conform to the checksum algorithm used by mist.

[2016-06-06 15:11] isghe opened #631 "Segmentation fault 11"
I have a contract compiling good on https://ethereum.github.io/browser-solidity/#version=soljson-latest.js, but failing with a segmentation fault by command line.
the contract:

[code]

the command line:

[code]

[2016-06-06 15:23] bortzmeyer opened #633 "Raise useful error message when using a dynamic type as a key in a mapping"
[code]

The source code is attached.
[multi-valued-mappings.txt](https://github.com/ethereum/solidity/files/300712/multi-valued-mappings.txt)

[2016-06-06 15:26] bortzmeyer commented on #633
Removing "public" from the variable "data" allow the program to be compiled. But I would prefer a clear error message than an internal error.

[2016-06-06 16:42] LefterisJP commented on #598
EDIT: The comment below is mistaken but am leaving this here for sake of posterity and in order to not break the discussion with Christian.

Hmm I tried a solc compiled with this PR included: https://github.com/ethereum/solidity/pull/624
and unfortunately the issue seems to still be there. It does not seem to totally solve the problem.

This time all returned and decoded data were zero. I tried to

[2016-06-06 17:02] VoR0220 commented on #631
You're on Darwin...that may be why.

[2016-06-06 17:22] chriseth commented on #631
No it's not - it is easily reproducable and I'm working on a fix.

[2016-06-06 17:33] chriseth commented on #598
Perhaps it is an issue about the wildcards? Can you try something like
`var (a,b,c,d,votingDeadline,...`?

[2016-06-06 17:36] LefterisJP commented on #598
No sorry False alarm. It works. My test had a mistake. I can confirm that the above works perfectly fine with this PR in and does not work without this PR.

:+1:

[2016-06-06 17:40] chriseth commented on #631
The issue was that the abstract function was "implemented" by the constructor of the derived class - which was not detected during type checking.

[2016-06-06 22:36] axic commented on #628
Hash of which binary? Emscripten? Ubuntu yy.mm? OSX?

[2016-06-06 22:57] axic opened #635 "Library placeholders in the bytecode (not well documented)"
Placeholders in the format of library name pre/postfixed with underscores (i.e. `__LibraryName...__`) are used to indicate where the 20 byte library address must be put in.

This means, in many cases library names are truncated.

The documentation isn't explaining it well.  It suggests there are 6 trailing underscores.

On http://solidity.readthedocs.io/en/latest/contracts.html#libraries:
`If the

[2016-06-07 10:47] asinyagin opened #636 "solc fails with "Compiled contract not found" if I specify a source file with ./"
Hi,

I'm playing with DAO and looks like there's some problem with dependencies. This command works good:

[code]

But this one fails:

[code]

DAO.sol imports TokenCreation.sol: `import "./TokenCreation.sol";`

Solc version:

[code]

The issue might be related to  #116.

[2016-06-07 12:56] chriseth commented on #635
Yes, this will lead to truncation. Please keep in mind that this way of linking is only a workaround. The proper way of linking would be to use LinkerObjects. They are already present in solc, we need to also make them available in solc-js - I'm currently working towards this.

[2016-06-07 14:02] chriseth commented on #636
This is a security feature. You can make it work if you add `=.` too your commandline.

[2016-06-07 14:58] asinyagin commented on #636
@chriseth thanks! It works.

What's the security problem? Is it a way to disable paths like `../../../etc/passwd`?

[2016-06-07 14:58] #636 closed, assigned to nobody

[2016-06-07 16:29] rainbreak opened #637 "Support overload of named calls"
Solidity should support overloading functions with named arguments. I'm not sure if the inability to do this at present is intentional or not.

This should be allowed:

[code]

However, it currently fails (solc v0.3.4):

[code]

[2016-06-07 17:14] axic opened #638 "String escape codes: should support Unicode escape codes"
Similar to Javascript, I think Soldity should support Unicode escape codes in strings: `\uUUUU`, where `UUUU` is the Unicode codepoint and the result is UTF8 encoded.

[2016-06-07 17:15] axic opened #639 "Rework string literal handling for safety"
Solidity states that all strings are UTF8. Even though it doesn't offer internal methods for strings, all the libraries written for it are based on this assumption.

Contrary to this, the hex escape works as in C: `\x80` means the byte `0x80`. In Javascript (and others with strict UTF8 compliance) it means the UTF8 encoded Unicode code point of `0080`: `0xc2 0x80`.

The main problem with the curre

[2016-06-07 20:00] VoR0220 commented on #637
use case? Seems kind of like a hassle...

[2016-06-07 20:01] VoR0220 commented on #635
so...this is being changed?

[2016-06-07 20:02] redsquirrel commented on #637
Overloaded methods is a common pattern in programming languages.

On Tuesday, June 7, 2016, RJ notifications@github.com wrote:

[2016-06-07 20:05] VoR0220 commented on #637
yes...overloaded methods via the types...but not the names of the args. Idk. I'm not seeing the use case here.

[2016-06-07 21:55] redsquirrel commented on #637
Oh. Right. Sorry I missed that! 👍🏼

On Tuesday, June 7, 2016, RJ notifications@github.com wrote:

[2016-06-08 04:25] ismaelbej commented on #577
The issue was that the transaction didn't have enough gas and failed.

[2016-06-08 04:25] #577 closed, assigned to nobody

[2016-06-08 07:48] #631 closed, assigned to chriseth

[2016-06-08 11:02] rainbreak commented on #637
I was using named args to make my code easier to read (method with 9 args). I found that I needed to overload the method and was surprised that I was no longer allowed to use named args.

It seems inconsistent to have both overloading and named args, but not allow both together. The use case is anywhere that you would think named args were appropriate.

I don't know the story in other languages. M

[2016-06-08 18:23] chriseth commented on #598
Fixed with #624

[2016-06-08 18:23] #598 closed, assigned to chriseth

[2016-06-08 22:29] chriseth commented on #637
Yes, this is a "TODO" in the code. Should not be very hard to accomplish.

[2016-06-08 22:37] chriseth commented on #635
Yes.

[2016-06-08 22:42] chriseth commented on #639
The problem with string literals is that they can either be `string`s, `bytes`s or `bytes32` (or even shorter). What about parsing `\x80` as the byte `0x80` and `\u0080` as the unicode code point `0x0080` encoded in utf-8?

[2016-06-09 01:14] axic commented on #623
Wouldn't it be nice sorting out some of the issues raised in #49 before making it a bit more complex?

[2016-06-09 01:41] VoR0220 commented on #635
what are we changing them to instead in regards to the named placeholders for a library? Please do let me know...it kind of effects current work.

[2016-06-09 09:22] chriseth commented on #635
It will be replaced by something like this here: https://github.com/ethereum/solidity/blob/c492d9be00c843b8390959bd9f203c4047cb9f69/libevmasm/LinkerObject.h

[2016-06-09 20:03] VoR0220 commented on #635
so in other words now it will replace them with a hex representation of the library's name?

[2016-06-10 05:02] bobsummerwill commented on #573
Closed as dupe of "The Heisenbug" - https://github.com/ethereum/webthree-umbrella/issues/565.   We can reopen if we later find there is anything unique here.

[2016-06-10 05:02] #573 closed, assigned to nobody

[2016-06-10 05:02] bobsummerwill commented on #490
Closed as dupe of "The Heisenbug" - https://github.com/ethereum/webthree-umbrella/issues/565.   We can reopen if we later find there is anything unique here.

[2016-06-10 05:02] #490 closed, assigned to nobody

[2016-06-10 05:02] bobsummerwill commented on #502
Closed as dupe of "The Heisenbug" - https://github.com/ethereum/webthree-umbrella/issues/565.   We can reopen if we later find there is anything unique here.

[2016-06-10 05:02] #502 closed, assigned to nobody

[2016-06-10 05:03] bobsummerwill commented on #486
Closed as dupe of "The Heisenbug" - https://github.com/ethereum/webthree-umbrella/issues/565.   We can reopen if we later find there is anything unique here.

[2016-06-10 05:03] #486 closed, assigned to nobody

[2016-06-10 07:43] chriseth commented on #635
It will just inject the libraries name into the hex making it non-hex. It is all explained in the docs.

[2016-06-10 12:25] redsquirrel commented on #635
Will the underscores still be used? It's convenient to have those
underscores because you can auto-detect unlinked libraries, like this:
https://github.com/ethereum/browser-solidity/blob/master/src/universal-dapp.js#L542

On Fri, Jun 10, 2016 at 2:43 AM, chriseth notifications@github.com wrote:

[2016-06-11 17:11] JasonCoombs commented on #598
I don't see the problem here, and think a mistake has been made. This PR should be reverted and should not ever go into production. The original bug report was a bug in the mind of the programmer who expected there to be place-holders for dynamic structure elements, when everyone already knew about the lack of support for those elements from the automatic public accessor function for public variab

[2016-06-13 07:00] rangelife opened #647 "Modifier definitions without an underscore don't throw an error"
[code]

Looks fair enough... But any method using this modifier will lose it body due to lack of underscore.

This should be a compile time error. Why would you ever want a modifier to wipe out the method body?

[2016-06-13 12:44] LefterisJP commented on #598
@JasonCoombs This is neither the first nor the last solidity breaking change. There is a reason why whenever you deploy a contract live on the blockchain you also need to provide the solidity version.

[2016-06-13 12:48] redsquirrel commented on #598
@LefterisJP

I haven't heard this before. Are you saying that it's a best practice to store the solidity version in the contract itself so that it's self-documenting?

[2016-06-13 12:54] chriseth commented on #598
@JasonCoombs I think you might have misunderstood what this PR does. It does not change the behaviour of accessor functions. Accessor functions have always dropped some array elements and included some other array elements. Specifically, those with packed encodings (bytes, string) are included and padded ones (int8[], uint[], byte[]) are ignored.

This PR is about making it possible to correctly d

[2016-06-13 14:37] chriseth commented on #598
@redsquirrel there is certainly no need to provide the compiler version as a means to check compatibility, but such a feature is certainly planned for source code verification: https://github.com/ethereum/solidity/issues/611

[2016-06-14 11:47] lastperson opened #648 "CALL always returns true"
Hello. Please consider following example:

[code]

This function always results in `true`. According to https://github.com/ethereum/wiki/wiki/Solidity-Features#detect-failed-calls it should return `false` if stack depth limit hit (when we call `forward(1025)`).
Am I missing something, or is this really a bug?
Using solidity-browser with 0.3.5-0.

Is it impossible to `throw` in case of stack depth

[2016-06-14 12:39] #568 closed, assigned to nobody

[2016-06-14 12:40] chriseth commented on #605
Fixed now with transition to travis.

[2016-06-14 12:40] #605 closed, assigned to nobody

[2016-06-14 14:29] Antanukas opened #649 "Explicit keyword for abstract contracts"
Compiler doesn't produce errors, but returns empty bytecode when child contract does not call inherited constructor.

To reproduce:

[code]

run `sold child.sol --bin`
output:

[code]

solc version:

[code]

Expected: some error message that child must define constructor

[2016-06-14 14:40] lastperson commented on #648
Found the problem in my logic. The last call that is beyond stack depth will in fact return `false`. Will open another issue regarding throwing instead of STOP.

[2016-06-14 14:40] #648 closed, assigned to nobody

[2016-06-14 14:48] lastperson opened #650 "Throw instead of STOP on failed CALL"
Hello. According to https://github.com/ethereum/wiki/wiki/Solidity-Features#detect-failed-calls

[code]

We have exceptions, it's time to throw!

[2016-06-14 17:23] chriseth commented on #649
If you do not proved base contract constructor arguments, your contract is abstract, as if you did not implement one of the methods. There is nothing wrong with that, so it is not possible to show any error.

Having said that, we plan to change the way the compiler is invoked so you can explicitly specify which contract you want to compile (instead of all non-abstract ones). In that case, the comp

[2016-06-14 21:28] chriseth opened #651 "Exception on compilation from stdin"
[code]

[2016-06-14 21:29] chriseth commented on #650
This was a deliberate design decision because `call` is low-level feature and thus it allows you to make a fine-grained choice about whether you want to propagate exceptions or not. This is also the only way to actually catch an exception currently.

[2016-06-14 23:37] #651 closed, assigned to chriseth

[2016-06-15 07:20] lastperson commented on #650
@chriseth I've been suspecting such an answer :). Will update the wiki.

[2016-06-15 07:20] #650 closed, assigned to nobody

[2016-06-15 07:51] lastperson commented on #650
Please review: https://github.com/ethereum/wiki/wiki/Solidity-Features#detect-failed-calls

[2016-06-15 09:30] chriseth opened #653 "Provide source mappings in json output for debugger"

[2016-06-15 10:40] chriseth commented on #650
Sorry but I think you misinterpreted that entry in the features list. It was not about the `.call()` function but about the EVM opcode `CALL`. Please revert the change.

Note that the features list is not at all meant as documentation, but rather some kind of changelog for people who are on the cutting edge.

[2016-06-15 11:17] Antanukas commented on #649
So maybe a simple keyword 'abstract' could be added like in Java, Scala, C#? This way compiler will have enough information to warn user if his intention was not an abstract contract. Cause I spent some time until I have realized this mistake.

In my concrete case I had a big contract which was inheriting from a contract with constructor and I have missed the constructor in derived contract. This

[2016-06-15 11:36] lastperson commented on #650
@chriseth ok, changes reverted. But then, current (reverted) example is incorrect, because the code snippet and described behavior is not matching.

[2016-06-15 12:38] chriseth commented on #650
The behaviour of the code snippet matches the state of the compiler at the time of writing. As I said, the features list is not meant as documentation.

[2016-06-16 19:39] taoeffect opened #656 "Language-based fix for "Callstack attack" bug"
See this work by Andrew Miller and Zikai Wen (don't know their GitHub usernames):

http://hackingdistributed.com/2016/06/16/scanning-live-ethereum-contracts-for-bugs/

The work-around they recommend is highly unintuitive and seems poorly documented, with the bug affecting a "majority of smart contracts":

And:

Apparently this bug has caused the loss of thousands of $ worth of ETH already, and the

[2016-06-16 20:03] amiller commented on #656
This issue is a good idea. (The post authors are myself and @alexwzk)

Note that the underlying problem is also carried over from Serpent, and it's in part a consequence of peculiarities of the EVM itself. https://github.com/LeastAuthority/ethereum-analyses/blob/master/GasEcon.md#hazards

The Solidity compiler is a great place to put warnings. One option might be to make it an error to use `send()

[2016-06-16 21:19] chriseth commented on #656
We are thinking about deprecating ether and replacing it by a token contract (and then issuing a warning for the use of `send`). The "reentrancy" hazard is present in every single interaction with other contracts. Programmers need to be aware that any unknown contract could be malicious - interacting with an unknown contract is like reading data from the network.

[2016-06-16 22:23] JasonCoombs commented on #598
@chriseth what this PR does is make it impossible for client code which calls an accessor function to know what to expect unless it has hard-coded knowledge of the solidity compiler version used to produce the bytecode of the accessor function. This means forget about iterating across the blockchain and calling accessor functions, and existing code won't work for newly-compiled contracts -- perhap

[2016-06-16 22:24] amiller commented on #656
+1, that's actually a really comprehensive way to prevent this.

Whenever possible, you should only interact with "unknown contracts" indirectly and asynchronously. Sending to a trustworthy external contract is a way to do that.

[2016-06-16 22:50] taoeffect commented on #656
Sorry I don't quite understand, could you elaborate on this?

[2016-06-17 00:10] chriseth commented on #656
We could create a token contract (that complies with the standard token API) where you can send ether and receive exactly 1 token per wei. In the same way you can always convert those tokens back into wei.

Transferring tokens and paying with those tokens will be done using the standard token API.

Recommending programmers to use that token contract instead of ether would also automatically open u

[2016-06-17 06:19] taoeffect commented on #656
Cool, thanks for that, @chriseth! That clears things up!

[2016-06-17 12:44] codati opened #657 "Unknown exception during compilation."
hi,
i have error for
`eth.compile.solidity("contract Test { }");`
i have:

[code]

[code]

[code]

i haven't this problem if use
libethereum_1.2.8-xenial-0ubuntu1_amd64.deb
solc_1.2.8-xenial-0ubuntu1_amd64.deb

[code]

[2016-06-17 15:24] chriseth commented on #657
This is a known issue and will be fixed with the next release (it should already be fixed in the develop ppa).

[2016-06-17 21:56] graup opened #659 "Explicit conversion of bool to int"
I cannot do this:

[code]

Is this intentional?

[2016-06-18 08:29] MicahZoltu opened #662 "Add default re-entry protection with opt-out keyword."
As most are now aware, the EVM is susceptible to reentry attacks if the developer is not very careful to avoid them.  The fundamental problem is that people don't realize that when they call an external contract any amount of code may run before that returns, even when the call is something simple like a `send`.

To protect against this, Solidity should automatically put re-entry guards around any

[2016-06-18 08:54] pruby commented on #662
A group of us discussed this in the solidity gitter account - can read about it there. I would strongly support this notion of "safe by default", even if it costs a bit by default as well. Those who are confident they have applied operations in a safe order could avoid this cost.

An example of how to enforce this would be:

[code]

This would give a total overhead of 20,072 on entry a cost of 6 (

[2016-06-18 17:31] taoteh1221 opened #663 "Cant All Transaction-Related Calls Be Reprogrammed To Return Boolean False When The Stack Limit Is Hit?"
Is there some reason that all Web3's and Solidity's built-in transaction-related calls like "send" etc cannot return boolean false if the stack limit is hit? Sorry if I'm missing something, I'm only an interpreted language programmer. It seems to me that idiot-proofing (not being rude, just lacking a better terminology) the entire Web3 / Solidity structure as much as possible is starting to look l

[2016-06-18 19:15] holiman commented on #662
I think this safeguard is not needed for `someAddress.send(1)`, since it will only use the default gas. It should only be used for when non-default gas is used in external call. So for example `someAddress.bazonk()`. On bytecode-level, the information to make this distinction is lost, but at Solidity-level, external calls are already treated specially[1] and this could be a sensible addition.

[1]

[2016-06-18 19:24] MicahZoltu commented on #662
Talking with @joeykrug about this and he mentioned that there is another class of re-entrant bugs that can occur across functions.  For example, if there are two functions that both check-act-zero some piece of data then you could re-enter into another one.

[code]

Unfortunately, this is harder to protect against without increasing the gas cost of every function in the class because the reentered

[2016-06-18 20:52] chriseth commented on #662
I think reentrancy protection provides the false impression of safety. This is comparable to mutexes that make you think that it solves concurrency problems until you notice the concept of a deadlock, dependencies between different objects and other things.

Having said that, I think it should be possible to add this feature using modifiers, modifier areas and inheritance. If those are not enough,

[2016-06-19 01:43] destenson commented on #598
@JasonCoombs, this PR sounds like it breaks the ABI. If the ABI is broken the system is fundamentally broken. Imagine we wake up tomorrow & all of our computers, our phones, simply couldn't run anything anymore without upgrading them? That's fine on occasion for voluntary major upgrades, or switch to a different platform, but not for this. I have to agree with you Jason, this does not sound good a

[2016-06-19 09:22] pruby commented on #662
True - this wouldn't have stopped the DAO attack, just made it less efficient (they could have transferred the tokens after only one splitDAO call). To be effective, we would need to set a flag that was checked before every non-constant external function call, so that we could never re-enter in to the same contract twice in the call stack. Any function declaring itself re-entrant would be expected

[2016-06-19 09:44] chriseth commented on #663
It does return false.

[2016-06-19 09:45] chriseth commented on #659
Yes, this is intentional to avoid unwanted conversions. You can change your code to
`test = flag ? 1 : 0` to make it work.

[2016-06-19 09:46] chriseth opened #668 "Do not ignore gas spent in sub-calls for gas-estimation."
Currently, gas spent in sub-calls is ignored during gas-estimation. The main reason for this is that at the level where the gas estimation is performed (symbolic execution of isolated bytecode with unknown state of the blockchain), the contract that is called is unknown and thus we have to make the worst-case assumption that all gas is spent as part of the call.

[2016-06-19 09:52] graup commented on #659
Oh, with the ternary operator it is indeed very easy. Didn't know Solidity has that, but now I do see it mentioned in [the guide](http://solidity.readthedocs.io/en/latest/control-structures.html#control-structures).

Thanks!

[2016-06-19 09:52] #659 closed, assigned to nobody

[2016-06-19 09:54] taoteh1221 commented on #663
Sorry, thanks for clarifying. I read an article that seemed to suggest the need for checking the stack limit as opposed to relying on return false.

[2016-06-19 09:55] #663 closed, assigned to nobody

[2016-06-19 18:50] androlo commented on #228
Standard library!

(Made by a group of people that checks each-others code etc.)

[2016-06-19 19:02] redsquirrel commented on #228
See also @vbuterin's post: https://blog.ethereum.org/2016/06/19/thinking-smart-contract-security/

[2016-06-19 21:57] joeykrug commented on #662
Another problem is it can reenter to a _different_ contract that interacts with the other contract causing an issue.  A good example would be if thedao used externs to deal with sending dao tokens. Then protecting re-entry wouldn't work

[2016-06-20 09:28] chriseth opened #670 "Proposal: Throw on division by zero"
Division by zero currently behaves exactly like division by zero on the EVM: It results in zero.

This could be changed into throwing an exception, just like array access out of bounds and other cases.

Do we want to break backwards compatibility to add this feature?

The check will of course be optimized away for division by constants. An improved optimizer (it cannot do it yet) could also optimi

[2016-06-20 09:32] Arachnid commented on #670
Yes, absolutely. Most languages define division by zero as NaN or throw an exception/panic/halt; we should do the same rather than silently returning an incorrect answer. Ideally a hard fork will fix this in the EVM, but in the meantime Solidity should definitely add this check itself, just like it checks array bounds.

[2016-06-20 09:38] vbuterin commented on #670
On the object-level, I support this change. Failing silently is the worst possible thing to do from a safety perspective.

On the meta-level, I am fine with backwards-compatibility breaking changes in Solidity, especially since I think the language will evolve over the next six months as a result of the community discovering incremental changes to make the risk of bugs much smaller. One possible w

[2016-06-20 11:04] axic commented on #639
Is there a way to have 2 sub types of `StringLiteral`, one used in `string`s, while the other used in `bytes*`?

That should make it work cleanly.

[2016-06-20 11:42] chriseth commented on #639
Yes, but that would require the user to type them differently, e.g. something like `s"abc"` or `b"abc"`. I would say that using `\x` and `\u` to denote different things is also clean.

[2016-06-20 14:15] AnthonyAkentiev opened #674 "solc crashes without 'export LC_ALL=C'"
#### System information

Geth version: 1.5.0-unstable
OS & Version: Ubuntu 14.04.4
#### Expected behaviour

Solc must run normally.
#### Actual behaviour

It crashes and generates core file.
#### Steps to reproduce the behaviour

[code]

Then i added 'export LC_ALL=C' and everything went normally.

[2016-06-20 17:48] VoR0220 opened #676 "Documentation on best practices to not repeat the DAO hack"
Look, everyone has been talking about this, and everybody has different ideas for solutions so that Solidity can grow as a language. However, in the meantime, it is imperative that developers know the best practices, what caused this bug to happen, and what absolutely NOT to do. If someone would like to take this documentation challenge on, I'd be more than happy to review your work.

[2016-06-20 17:55] redsquirrel commented on #676
I feel like re-writing or re-working the Solidity documentation should be one of the top priorities for the Ethereum community. I'm tempted to take this on.

[2016-06-20 18:43] VoR0220 commented on #676
Bring it Dave :) I could really use the hand right now. I think we all could.

[2016-06-20 20:04] PeterBorah commented on #610
As we've seen in the past couple weeks, `recipient.call.value(x)()` is very dangerous. I would therefore suggest that this method, if implemented, limit gas like `send()` does, with the only difference being the error propagation. Otherwise this will be exacerbating the reentry problem.

[2016-06-20 22:21] codati commented on #657
ok thx
i use dev ppa

[code]

my problem not resolved
and solc_1.2.8-xenial-0ubuntu1_amd64.deb has been deleted in the PPA

[2016-06-20 22:25] drandreaskrueger commented on #169
link https://ethereum.github.io/solidity//docs/miscellaneous/#using-the-commandline-compiler is broken

[2016-06-21 03:43] AFDudley commented on #656
In a world of perfectly rational people this position is correct and reasonable.

But developers on the ethereum blockchain are not perfectly rational people.

You don't only need to empower competent developers you need discourage malicious and incompetent developers

Even in your above quote you're implying that merely "knowing" the contact will provide any smart contract developer with the know

[2016-06-21 13:39] redsquirrel commented on #676
OK, now I've done it. I've applied for a DevGrant to create "A Tour of Solidity" inspired by https://tour.golang.org. God help us.

[2016-06-21 15:55] chriseth commented on #169
It was moved to solidity.readthedocs.org - content structure should be similar.

[2016-06-21 17:19] VoR0220 commented on #598
@JasonCoombs @destenson it does neither of that. What this does do is say that all future contracts will not work in the way a contract prior to this PR that had been deployed will work. That's all it does. Your previous contracts work just as they did prior.

[2016-06-21 17:21] VoR0220 commented on #598
I should also add that as @chriseth has stated, the functionality will be returned in an upgraded format once we are able to do this in a pleasant way so that it works across all types. Lest there be confusion here.

[2016-06-21 17:40] chriseth commented on #598
@JasonCoombs @destenson as I have explained in an earlier comment, this change does not in any way break ABI compatibility. This means it does not change the way contracts accept input or return output values.

I absolutely agree with the fact that ABI compatibility should never ever be broken. This PR does **NOT** break ABI compatibility.

[2016-06-21 18:18] graup commented on #534
I just ran into this problem. From other languages, I was expecting `uint(-127) == 127`. Let's at least make it clear in the docs that this doesn't hold.

@axic  having an optimized `abs` in the standard library would be quite nice, I think!

[2016-06-21 18:56] drandreaskrueger commented on #169
http://solidity.readthedocs.io/en/latest/miscellaneous.html#using-the-commandline-compiler

you're welcome ;-)

[2016-06-21 19:12] VoR0220 commented on #534
@graup agreed on both ends.

[2016-06-21 22:29] gcolvin commented on #656
It's non-trivial to detect malicious contracts, unless you can apply a specification for what is "malicious" to their bytecode, and the bytecode of all the contracts they call, and so on ...

[2016-06-22 01:31] bobsummerwill commented on #674
Hey, @AnthonyAkentiev,

Thanks for the report.   This seems to be a common issue across all of our C++ applications, and is the reason we have the following steps listed in the [building from source](http://www.ethdocs.org/en/latest/ethereum-clients/cpp-ethereum/building-from-source/linux-ubuntu.html):

[code]

How did you install your `solc`?   Build from source or `apt-get`?   Perhaps those don'

[2016-06-22 04:23] rheaplex commented on #656
Wouldn't using tokens just introduce a layer of indirection, where re-entrancy attacks still apply just with tokens rather than Ether?

Would the language allowing send/call only at the end a public function and the compiler using static analysis to ensure that any path through the code from that function doesn't include any other sends/calls "good enough"?

Or is that naive. :-/

[2016-06-22 04:35] tad88dev commented on #676
What's about Ethereum Security Layer (ESL) ?.

Your smart contract will be deploy with Normal Working Flow Rules (which were you defined). It keep smart contract working on it own role, avoid malicious attack.

- Every smart contract will be compile with Normal Working Flow Rules (NWFR).
- All access, call, execute...which weren't defined in NWFR will be Reject.
- ESL is a built-in layer of EVM.

[2016-06-22 04:36] taoeffect commented on #662
Please feel free to tell me that I should be posting this question someplace else (sorry for not knowing where it should go).

~~Regarding the reentrancy related issues, I've been [having a convo](https://www.reddit.com/r/ethereum/comments/4p1qxm/a_serious_security_exploit_with_ethereum_not_just/d4i1nxp) with @pipermerriam on reddit who seems to suggest that they can all be fixed by removing recur

[2016-06-22 04:45] taoeffect commented on #656
Wondering if either of these questions from #662 have relevance to this issue as well?

EDIT: copy/pasting addendum from #662:

I.e. in a message-passing model, these types of reentrancy bugs should be impossible, I believe.

There is just a queue of messages. That's it. No "function calls".

This is what makes Erlang so stable and is also the model that is used by "latest hotness" elegant & safe

[2016-06-22 05:05] taoeffect commented on #662
I.e. in a message-passing model, these types of reentrancy bugs should be impossible, I believe.

There is just a queue of messages. That's it. No "function calls".

This is what makes Erlang so stable and is also the model that is used by "latest hotness" elegant & safe languages like [Elm](http://guide.elm-lang.org/architecture/).

[2016-06-22 05:57] pipermerriam commented on #662
I do not recall saying what you are reporting me to have said.  Can you please provide a link?

[2016-06-22 06:03] taoeffect commented on #662
@pipermerriam Yeah I'd [linked to this](https://www.reddit.com/r/ethereum/comments/4p1qxm/a_serious_security_exploit_with_ethereum_not_just/d4i1nxp), but I think I just misunderstood what you were saying about recursion, my bad.

Regarding the message-passing/Actor model, note that there is also [Clojure Agent's approach](https://clojure.org/reference/agents), a more efficient, possibly better var

[2016-06-22 07:01] AnthonyAkentiev commented on #674
I've installed it using `apt-get`

[2016-06-22 09:01] mabeebam opened #679 "Documentation of default values of data types when variable is initialized"
Where are default values of data types when variable is initialized documented?
To what default value will `uint myvar;` be initializing? I guess 0 but can I be sure?
I could only find: "In addition to this, if a variable is declared, it will be initialized at the beginning of the function to its default value."
https://github.com/ethereum/solidity/blob/b23c30079283095e54eb9678a88dda95d895dd6e/doc

[2016-06-22 15:53] Denton-L commented on #676
I'm willing to help you out with that!

[2016-06-22 16:10] VoR0220 commented on #676
@Denton-L make it happen ma man. I know how much time you spend in the docs and was waiting for you to jump on here.

[2016-06-22 16:13] VoR0220 commented on #656
@robmyers if the token is designed correctly, then no.

[2016-06-22 16:35] redsquirrel commented on #676
@Denton-L Awesome. Can you email me? dave.hoover@gmail.com Let's work on the DevGrant proposal together.

[2016-06-22 17:02] Denton-L commented on #679
On it.

[2016-06-22 19:24] konradkonrad commented on #657
any news here?

[2016-06-22 20:11] aberaud commented on #657
Many users affected... Any update ?

[2016-06-22 21:57] chriseth commented on #657
Will take a look. As a workaround, please use other ways to invoke the compiler, e.g. via the npm package, browser-solidity or by directly invoking solc.

[2016-06-23 01:10] bobsummerwill commented on #674
Thanks, @AnthonyAkentiev.

@chriseth FYI ... Looks like the solidity build instructions are missing those locale steps, which would be needed in both "build from source" and "install from PPA", I think.

[2016-06-23 10:01] konradkonrad commented on #657
Thanks @chriseth for looking into this!
I would also like to derail this ticket into asking if there is the possibility to keep older versions in the ppa, too? We use `solc` in testing of `pyethereum` and being able to pin to an older version right now, would make life a lot easier.

[2016-06-23 10:21] konradkonrad commented on #207
Hey everyone, a way to use `solc` from `docker` can be found in this gist: https://gist.github.com/konradkonrad/38a02157ddb379e831ea0642a7ee6585

Once you installed the `solc` shell script in your path, it should behave just like a global install.

[2016-06-23 12:16] graup opened #681 "Documentation of ecrecover"
It would be nice if the documentation would explain the parameters and maybe give an example on how you would use this function.

http://solidity.readthedocs.io/en/latest/units-and-global-variables.html#mathematical-and-cryptographic-functions

[2016-06-23 13:35] Denton-L commented on #681
For now, take a look at [this](https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethsign). Hopefully it'll tide you over until I can properly document this.

[2016-06-23 14:49] Denton-L commented on #681
@VoR0220, do you think this should be explicitly stated in these docs or is a quick link to the web3 docs sufficient?

[2016-06-23 16:29] chriseth commented on #657
@konradkonrad you are basically requesting a feature for the ppa/apt itself - we do not delete older versions. I think you can use apt to install packages with a specific version instead of the latest.

[2016-06-23 22:23] chriseth commented on #681
It does not hurt to mention it explicitly.

[2016-06-23 22:24] chriseth commented on #681
Also either mention or fix the "invalid input" bug for ecrecover.

[2016-06-24 02:04] lightuponlight commented on #662
I believe that making recursion optional for contracts and/or methods would be a good approach.

Many (most?) contracts should not be called recursively, and an exception thrown. But there are times when a contract is designed to be be called recursively. The EVM and languages should allow developers to distinguish which methods can acceptably be called recursively and which cannot.

The definitio

[2016-06-24 04:06] Denton-L commented on #681
@chriseth, what is this "invalid input" bug?

[2016-06-24 15:42] konradkonrad commented on #657
hey @chriseth !

Yeah, that's what I meant. Usually I find other versions with `apt-cache show <pkgname>`, and can install versions with `apt-get install <pkgname>=<version>`. For `solc` from the ethereum-ppa however, I can only find one version. I have honestly no idea why that is the case though.
Here is an example:

for `docker-engine`

[code]

for `solc`

[code]

[2016-06-24 18:23] PeterBorah opened #683 "Remove tx.origin"
## Summary

`tx.origin` is a security vulnerability, breaks compatibility with other contracts including security contracts, and is almost never useful. Removing it would make Solidity more user-friendly. If there are exceptional cases where access to the transaction origin is needed, a library using in-line assembly can provide it.
## The Problems

1) `tx.origin` is a security vulnerability. As w

[2016-06-24 20:06] aakilfernandes commented on #683
SafeMarket currently has a vulnerability due to use of tx.origin. Thankfully, Peter explained this bug to me otherwise I would have fallen into the trap.

[2016-06-24 20:15] chriseth commented on #683
I'm not sure removing is a good idea, but we can add a warning.

[2016-06-24 20:21] PeterBorah commented on #683
Why not?

[2016-06-24 20:23] chriseth commented on #683
Because it will break backwards-compatibility. If you are saying that a warning is not enough and will not be noticed, we should revisit how people compile their contracts.

[2016-06-24 20:24] chriseth commented on #683
If someone wants to implement that, please take a look at https://github.com/ethereum/solidity/pull/677 which is very similar. This one has to go into `visit(MemberAccess ...)`.

[2016-06-24 20:25] PeterBorah commented on #683
Fair enough. Is Solidity committed to backwards-compatibility in general?

I would recommend at least adding it to the list of things to change when you do the next breaking change. Any code that would be broken by this needs to be broken, because it is almost certainly insecure in some way.

[2016-06-24 20:56] redsquirrel commented on #683
Good point here 👆

[2016-06-24 21:16] VoR0220 commented on #683
I think @PeterBorah makes a good point here. I think backwards compatibility for this security flaw might be worth breaking just this time.

[2016-06-25 02:18] pipermerriam commented on #662
I haven't tested this code but in theory this provides re-entrance protection.

[code]

I'm curious if anyone has thoughts or opinions on this pattern.

[2016-06-25 02:22] pipermerriam commented on #683
So far the only times I've used tx.origin are:
1. Bypassing stack depth checking
2. Source of entropy.

[2016-06-25 02:57] slothbag commented on #683
I have contracts that ripple calls up a chain of contracts.. and I need to know which account was the originator.  I use tx.origin for that.

[2016-06-25 03:01] slothbag opened #684 "Simple solidity contract, issue with libraries"
I'm having trouble getting a library to work.  I have run the `linker` to ensure the library address is in the calling contract.  And I have thoroughly read the doco here: http://solidity.readthedocs.io/en/latest/contracts.html#libraries

It compiles fine, but fails during the deploy (due to the library call in the constructor)

From what I understand it should be possible to call library contract

[2016-06-25 03:16] PeterBorah commented on #683
@slothbag Regardless of the outcome of this pull request, double and triple check that you're actually secure there. Chances are, there are ways for malicious contracts to do unexpected things by impersonating your users or your contracts. Is it ok if an attacker is able to call any of your functions at any time, with any arguments, while appearing to be a legitimate user? If not, `tx.origin` isn'

[2016-06-25 03:46] slothbag commented on #683
Thanks @PeterBorah I will definitely revisit my usage of it.

[2016-06-25 08:05] slothbag commented on #684
I just tried some of the examples at solidity.readthedocs.io.. 2 wont compile, the 2 that did compile throw errors in geth.. Is there something broken with libraries at the moment?

[2016-06-25 09:10] holiman commented on #662
Well, that one doesn't work well with returns in function body. Actually, incompatible with any kind of returnvalue

[2016-06-25 11:32] redsquirrel commented on #684
So you're deploying the `MyLib` library first? Then getting its address and linking it into `MyContract`'s bytecode?

Can you show which ones aren't compiling? Can you show the errors?

[2016-06-25 11:34] slothbag commented on #684
Yup, deploy MyLib first, grab the address and run `solc test.sol --libraries MyLib:0x1234` and have confirmed that 0x1234 exists in the .bin file

I also just copy & paste the address manually into the bin, same issue.

[2016-06-25 11:35] slothbag commented on #684
I'm running this on a private testnet at block 500.. do libraries and the more recent delegatecall work on private chains?

[2016-06-25 11:49] slothbag commented on #684
The 4 examples under `Libraries` and `Using For` http://solidity.readthedocs.io/en/latest/contracts.html?highlight=libraries#libraries produce the following errors:

**Libraries**
Example 1

[code]

Example 2:

[code]

**Using For**
Example 3: Compiles, deploys but throws when calling register()

Example 4:

[code]

[2016-06-25 11:50] redsquirrel commented on #684
I believe your problem is that geth thinks that it's pre-Homestead. There are a lot of checks in geth for whether it has reached the Homestead block, and I assume some of those checks enable/disable the latest support for libraries. You can configure your private blockchain's `homesteadBlock` in its genesis block like this: https://github.com/ethereum/go-ethereum/wiki/Command-Line-Options#init

[2016-06-25 11:51] slothbag commented on #684
Ahh great, yeah I thought that it might be something like that.. i'll give that a try

[2016-06-25 11:58] slothbag commented on #684
Thats it. Thanks heaps!

[2016-06-25 11:58] #684 closed, assigned to nobody

[2016-06-25 12:01] redsquirrel commented on #684
Regarding the compilation problems, I confirmed via [browser-solidity](https://ethereum.github.io/browser-solidity/) that examples 2 and 4 do not compile. I'm fixing the documentation. Thanks for pointing that out.

[2016-06-25 23:08] chriseth opened #686 "Modify modifier behaviour: "return" should be similar to "break""
Currently, a `return` inside a function body (or more deeply nested modifier) ignores the trailing statements in a modifier with the justification that modifiers are pure syntactic modifications.

This leads to the effect that trailing statements are practically useless because they fact whether they are executed or not depends on whether the control flow exited the function via a `return` or just

[2016-06-25 23:09] chriseth commented on #662
Yes, I am actually inclined towards changing the behaviour there, i.e. a `return` in the function body or in a modifier further "invards" will just be like a "break" towards the next modifier: https://github.com/ethereum/solidity/issues/686

I think there should be no contract relying on the previous behaviour because it was useless anyway.

[2016-06-26 01:04] nmushegian commented on #686
related (dupe?) https://github.com/ethereum/solidity/issues/49

[2016-06-26 01:20] slothbag opened #687 "Scaling contract functionality vs contract size"
I am building a contract that has many functions, and potentially could grow to hundreds. This contract is a DAO that could be deployed thousands of times.. it would be ideal to be able to deploy the functions as a library (lets say libdao) and have a very simple 1 liner contract that says 'inherit libdao'  and call it (dao).

Currently due to gas limits, I may have to break my library into two li

[2016-06-26 02:13] slothbag commented on #687
I've also noticed each time a library call is made it links the library address into the byte code each time.  So if you call the same library 10 times it puts the 20 byte address in 10 times.  200 bytes costs a lot of gas.

[2016-06-26 08:24] VoR0220 commented on #687
so I can solve atleast one of your problems. You don't need to make public getter functions. Your state variable is already a getter function. Just set your state variable to public and then call it like you would a function. That SHOULD reduce your contract overhead.

[2016-06-26 11:33] slothbag commented on #687
Thanks VoR0220 for the suggestion.  I tried it out and it only returns ABI generic types.. so all my custom structs don't get returned.

[2016-06-26 12:31] slothbag opened #688 "Documentation of calculating function signature for library functions with structs"
In the following contract, how would I calculate the function signature of `function test(MyLib1.mystruct storage ms)` so that I may use it in the delegatecall line `mylib2_address.delegatecall(0x????????, ms);`

[code]

How

[2016-06-27 12:51] konradkonrad commented on #657
One more update here:
with the `ethereum-dev` repository enabled, there is one old version available:

[code]

Unfortunately, the error is in there, too:

[code]

[2016-06-27 14:45] chriseth commented on #687
One piece of advice: Don't make such large contracts, they tend to have bugs you did not anticipate.

You might be able to modularize specific functionality of the contract into libraries where it makes sense to group them, and that's exactly what libraries are for.

Furthermore, on your comment about address reuse: Actually pushing an integer constant onto the stack costs the same amount of gas i

[2016-06-27 15:13] VoR0220 commented on #687
@slothbag you cannot externally return structs currently. We're still working on that.

[2016-06-27 15:20] konradkonrad commented on #657
Okay, I guess what I want is not possible with a ppa:

and sorry for derailing even further...

[2016-06-27 21:09] aberaud commented on #657
@chriseth Thanks for looking at this issue. This bug have been breaking tutorials for new users (and many other setups) for the last 10 days - for instance https://github.com/gmtDevs/atom-ethereum-interface/issues/10 .

I guess solidity developers are putting their energy to solve The DAO issues right now, but meanwhile please try to keep stuff working.

[2016-06-27 23:39] slothbag commented on #687
My focus with this issue was purely on contract size/gas cost to deploy, a 3-4 million gas limit means a contract can only scale to have about 20 functions (with very few lines of code in them) max before you start to reach the limit regardless of using libraries and such.

My additional post about the Library calls, what I mean is if in your base contract you call library A 20 times, when you loo

[2016-06-28 00:35] #687 closed, assigned to nobody

[2016-06-28 00:45] VoR0220 commented on #687
uhhh...that's supposed to be a filler for where your library address is.

[2016-06-28 00:46] slothbag opened #690 "Provide working web3 example for getStorageAt() in documentation."
I can easily do a `web3.eth.getStorageAt(myAddress, 0)` on a elementary type and see the value.

However I cannot figure out how to calculate the correct key for a dynamic array. I've tried.

[code]

and

[code]

and countless other combinations.

If someone can provide me with a working example I can create a PR to add to the doco.

[2016-06-28 00:48] slothbag commented on #687
Yes I know, my point is there is 20 fillers for the same address.

[2016-06-28 01:13] slothbag commented on #690
Nevermind, solved it.

[code]

[2016-06-28 01:18] #690 closed, assigned to nobody

[2016-06-28 09:50] konradkonrad commented on #657
I can confirm, that in the `ethereum-dev` ppa the issue has been **fixed**, i.e. this longliner will install a working `solc` SNAPSHOT in a blank ubuntu trusty:

[code]

this gives:

[code]

[2016-06-28 13:35] slothbag opened #692 "Inconsistent state during contract execution"
I am running into some very strange state inconsistencies in my solidity contract..  its within a Library about 6 calls deep.

The repo is here: https://github.com/slothbag/hierarchical-dao
The problem area is here: https://github.com/slothbag/hierarchical-dao/blob/master/contracts/libdao_proposal.sol#L77

If I do this

[code]

it works fine, but if I do this:

[code]

Then length has some random

[2016-06-28 16:39] VoR0220 commented on #687
right...probably because you call that library 20 times...not a huge deal.

[2016-06-28 16:55] VoR0220 commented on #692
well first we'd have to see the generic types of the struct. Would you mind sharing?

[2016-06-28 17:30] codati commented on #657
you can update xenial ppa?

[2016-06-28 18:04] chriseth commented on #687
@slothbag you are right, it might be that the optimizer refuses to combine the addresses because they are not plain integers.

[2016-06-28 22:34] chriseth commented on #657
Is it fixed now, @konradkonrad ?
@codati xenial should be updated now

[2016-06-28 23:13] slothbag commented on #692
It's all contained in the repo linked to in the OP.

All the state structs can be found in this contract https://github.com/slothbag/hierarchical-dao/blob/master/contracts/libdao_state.sol

[2016-06-28 23:22] slothbag commented on #687
its not a huge deal.. but it doesn't take much code to bring a contract up to the gas limit. So using libraries was a way to get around the size limitation, but then each library call generates another 20 more bytes and you start to run into contract size issues again..

To get around this issue I tried to store the library address in a variable and use library.delegatecall() instead but I don't k

[2016-06-29 16:37] codati commented on #657
yes thx

[2016-06-29 16:37] #657 closed, assigned to nobody

[2016-06-29 17:13] chriseth commented on #657
WOHOOO! :-)

[2016-06-30 08:20] rjl493456442 commented on #114
Is there anyway i can return a struct from an external function?
If can't, it can be really troublesome. which means i need to return each value in struct and reassemble in the caller function.

[2016-06-30 08:25] rjl493456442 opened #695 "Is returning a struct from an external function available in Solidity"
I get a compilation error when i return a struct type in an external function.
If solidity not support this, it can be really troublesome which means i need to return all value in struct and reassemble in the caller function.

[2016-06-30 11:47] chriseth commented on #695
Unfortunately, this is not possible yet, structs are not part of the ABI. We are working on it.

[2016-06-30 11:47] #695 closed, assigned to nobody

[2016-06-30 14:21] slothbag commented on #692
I was just playing around with that remix web based contract debugger, its not bad.. I could probably set up the reproducible error locally and allow access to my geth RPC to any devs who want to step through the tx and see whats going on.

Or perhaps I can trigger the error on testnet, then anyone can step through the tx I guess.

[2016-06-30 17:22] VoR0220 commented on #692
actually sounds nice

[2016-06-30 19:35] chejazi commented on #692
I am having a similar problem as OP. I managed to reproduce the effect with a small set of contract code. If you deploy [this contract](https://gist.github.com/chejazi/ccfc84342261e61923b05340744145cd) and call the `Trigger` method, the public value `Debug` will be set to a consistently invalid value.

My interim solution was to eliminate nested calls, btw.

EDIT: Eliminating nested calls didn't h

[2016-06-30 20:28] rainbreak commented on #637
@chriseth: can you point to the TODO in the code so this is easier to pick up?

[2016-06-30 23:47] slothbag commented on #692
Well done @chejazi, hard to tell if its exactly the same issue as both contracts operate quite differently.. but it seems somewhere along the line solidity is getting 'out of sync' with reality the deeper in the call stack you get. :(

[2016-07-01 16:04] aakilfernandes opened #697 "Ensure addr.call.value() is invoked"
contract Test {
        function Test(){
            msg.sender.call.value(0);
            msg.sender.call.value(0)();
        }
    }

My understanding is the first call doesn't actually do anything. If so, it shouldn't compile

[2016-07-04 01:12] ghost commented on #656
@chriseth Is there a clear guide on how to send to other contracts while avoiding the re-entrancy problem?

[2016-07-04 13:10] chriseth commented on #656
@Physes yes, the documentation recommends the withdraw pattern. If that is not feasible, first perform all checks, then all state changes and as a last step, send the ether.

[2016-07-05 15:35] chriseth commented on #697
Are you recommending a warning? It is not a compiler error, because you could do things like:

[code]

[2016-07-05 16:48] chriseth commented on #686
@nmushegian related, but not a duplicate

[2016-07-06 11:32] redsquirrel commented on #697
I think this would be a good place for a warning, since we're ignoring a return value from a low-level function. Related: #677

[2016-07-06 12:09] asinyagin opened #702 "Error "Given source file not found" with --ast argument"
Hi,

I get the following error:

[code]

with these contracts:
contract1.sol:

[code]

contract2.sol:

[code]

Solc version:

[code]

[2016-07-06 23:01] VoR0220 opened #705 "Withdrawing Pattern Example"
Currently, in the security considerations recommendations, there is a suggestion of a pattern to use withdrawal, but there is no documentation of such a pattern in the "common patterns" section. If someone could please put that in, that would be greatly appreciated.

[2016-07-06 23:27] aakilfernandes commented on #697
@chriseth didn't realize you could store it as a variable. I think a warning would be apt.

[2016-07-07 20:39] Denton-L commented on #705
On it! 😄

[2016-07-08 15:53] chriseth commented on #705
This one here might help: http://solidity.readthedocs.io/en/latest/solidity-by-example.html?highlight=withdraw#simple-open-auction

[2016-07-08 18:15] #679 closed, assigned to nobody

[2016-07-10 08:26] ethers opened #708 "Warn about implicit returns"
As recent events have shown, we need to make Solidity more difficult to be misused or used in ways that can cause bugs.

Granted the following example is contrived, but we really need to consider if the advantages of returning values implicitly by name is worth it.

[code]

This may be a valid example, and if this feature is really desired, it would still be helpful to explicitly have `return` som

[2016-07-11 11:50] ethernian opened #709 "event SomeEvent(ContractType c) becomes an invalid log entry if fired."
### Description:

Consider a conract

[code]

a call to `createFoo()` creates an entry in log like

[code]

the event's topic is a result of computation `web3.sha3('NewFoo(address)')` an not `web3.sha3('NewFoo(Foo)')` as expected. You can also see other differences between these two log entries.

If I declare an even like `event NewFoo(address foo);` in the same contract, it produces a log entry a

[2016-07-11 11:58] chriseth commented on #708
We might add that now that we have tuples.

[2016-07-11 12:09] chriseth commented on #709
The reason is that contracts are not part of the ABI types. The same transformation also applies to function signatures.

Adding custom types to the ABI might be a possibility to consider, but I am not sure if we want to go down that road. You only get (a mild version of) type safety if the full contract is known to web3.js, and I don't see a nice way to provide that in a general context.

[2016-07-11 13:36] #516 closed, assigned to nobody

[2016-07-11 13:40] chriseth commented on #688
The function signatures are printed if you use `--gas`, but yes, this is a gap in the documentation.

It basically prefixes the struct with identifiers until it reaches global scope (in this case it would be `MyLib1.mystruct`) and adds a storage specifier to storage types. So here it would be:

`test(MyLib1.mystruct storage)`

[2016-07-11 14:42] slothbag commented on #688
Thanks @chriseth

[2016-07-11 14:42] #688 closed, assigned to nobody

[2016-07-11 15:09] ethernian commented on #709
What is a feature and what is a bug here? It is not quit clear to me.

I see the `Foo` type is already used in the ABI of the `FooFactory`, created by solidity compiler.
`[{"constant":false,"inputs":[],"name":"createFoo","outputs":[{"name":"foo","type":"address"}],"type":"function"},{"anonymous":false,"inputs":[{"indexed":false,"name":"foo","type":"Foo"}],"name":"NewFoo","type":"event"}]`
is this

[2016-07-11 15:30] chriseth opened #713 "Source location as part of json output"
This is a story needed by remix and other tools.
- [x] source location as part of the json-ast output
- [x] source location mapping for the bytecode, including other metadata like "jump in" or "jump out".

The source location should be formatted as `"s:l:f"` where all of them are integers, f is an index into a list of source files, s is the source byte offset into the source file where the source

[2016-07-11 15:37] chriseth opened #714 "Formal verification including re-entrant calls"
This story is about extending the why3 translation to include the effects of potential external calls, as sketched here:

https://gist.github.com/chriseth/c4a53f201cd17fc3dd5f8ddea2aa3ff9

[2016-07-11 15:48] chriseth commented on #709
This needs further investigation, I am actually not sure whether it is a bug or a feature. As far as datatypes are concerned, web3.js should not be able to know what `Foo` might be, at least it is not defined in the ABI, but I certainly see the benefit here. The main problem is that contract names are not globally unique as opposed to all the other type names in the ABI.

[2016-07-11 16:14] ethernian commented on #709
I see the problem. Thank you.
Let me know if I could contribute to find a solution.

[2016-07-11 23:44] ethernian commented on #390
I see this enhancement related to another [issue#709](https://github.com/ethereum/solidity/issues/709).

I would see an event firing as an implementation of value return in the case of external function call (from UI).
Thus I would propose ALWAYS to fire an event as implementation of value return for the case of external call (or if the function is marked as external?). This is because this is the

[2016-07-12 07:50] ethers opened #715 "mutable variables (immutable as default)"
Function parameters can be marked `immutable`.

Such variables are called immutable. The immutable property extends to expressions in the following way:

 - members of immutable expressions are immutable
 - index access to immutable expressions yields immutable expressions
 - (perhaps some other cases we forgot about)

Immutable expressions cannot be assigned to (or be used in `++` or `--` express

[2016-07-12 14:24] chriseth commented on #715
There are several stories like this still on pivotal tracker, will try to cross-link them.

[2016-07-12 15:07] drandreaskrueger opened #716 "Support constant integers for specifying array lengths"
[code]

otherwise I have to change that number 5 in all X places in my  sourcecode manually.

To use the existing `constant` keyword as `uint8 constant NUM = 5;` does not help, it results in:

[code]

Is there a different way to achieve the same?

If not, please extend solidity with this small improvement, thanks.

[2016-07-12 15:08] drandreaskrueger commented on #716
There was a suggestion how to do it in gitter: [July 12, 2016 4:59 PM](https://gitter.im/ethereum/solidity?at=578505c1064f828707211e8e)

[2016-07-12 15:31] chriseth commented on #716
Of course, constant integers should be usable as array lengths. If I remember correctly, we already have a story for that either in pivotal tracker or here in github issues.

[2016-07-12 18:51] ethers opened #717 "Formal specification of Solidity"
As the wider community engages, including researchers and academics, a formal spec of Solidity would help them.  Granted many developments are happening so the practical value of this may not be there, and this is a suggestion / reminder.

[2016-07-12 21:31] chriseth commented on #717
Are you talking about a formal specification or a formal, machine-readable specification?
A full formal specification might be a side-effect of our current efforts in creating a translator to why3, at least starting from an annotated AST.

[2016-07-13 20:52] ethers commented on #717
The former (machine-readable isn't needed).

[2016-07-13 22:52] ethers opened #718 "Warn about unused local variables"
- [x] warn about unused arguments
 - [x] warn about local variables that are never accessed as rvalues
 - [x] warn about return values that are never assigned
 - [x] warn about unnamed return values in case there is only a return statement without arguments.

---

Related to #708

[code]

Can the compiler force an error that `r` is unused?

Even worse is if an explicit `return` was forgotten:
[cod

[2016-07-14 01:47] yiimi opened #719 "How are opcodes converted to EVM bytecode?"
I'm trying to figure out how EVM opcodes are translated into bytecode. I think Solidity compiles down to LLL and LLL then translates this into bytecode, but I haven't found that yet in the source code. Will someone please point me to a specific spot in the source code?
# help_wanted #documentation

[2016-07-14 18:38] axic commented on #590
browser-solidity is fixed with this PR https://github.com/ethereum/browser-solidity/pull/130

[2016-07-14 22:42] aakilfernandes opened #723 "Request: isMined(txHash)"
I'm working on a relay scheme where relayers get paid if a transaction they are relayed is mined. one way to do this would pass 1) a transaction to relay 2) a contract which pays the relayer if and only if the transaction has been mined.

Afaik, 2) is not currently possible.

[2016-07-14 23:09] giblfiz opened #724 "Error when updating multiple properties in mapping of structs"
The following contract demonstrates this bug...
When funded the "works()" function behaves as expected,
but the "broken()" function... which differs only in that it updates a second value in the struct referenced by the mapping fails.

`
contract micro {

[code]

}
`

[2016-07-15 02:18] #719 closed, assigned to nobody

[2016-07-15 19:20] NicolaiSoeborg commented on #717
[grammar.txt](https://github.com/ethereum/solidity/blob/develop/libsolidity/grammar.txt) contains some spec. I have made a PR with a few fixes ([#722](https://github.com/ethereum/solidity/pull/722)), but still have some way to go.

[2016-07-15 19:43] Denton-L commented on #718
I don't think this should throw an error because errors should only be reserved for when the  compiler can't go on.

However, you bring up a good point. I believe that there should be warnings for unused local variables in general. This is a common thing that most other compilers will warn about.

[2016-07-15 19:48] redsquirrel commented on #718
Related #677

[2016-07-15 19:58] Denton-L commented on #723
I don't think this is possible in Ethereum at the moment without hard-forking and making breaking changes to the EVM.

[2016-07-17 23:00] graup opened #725 "How to install standalone?"
I wanted to install a standalone compiler, `solc`. It is referenced in many examples and tutorials. After 2 hours I still didn't get it.

I've been trying several things from [this page](http://solidity.readthedocs.io/en/latest/installing-solidity.html).
- npm / Node.js
  As far as I understand, this is not a global command line tool, but only JS bindings to use within JS. That should be mentioned

[2016-07-18 04:05] bobsummerwill commented on #725
Hey @awishformore!

Our Jenkins instance died horribly.   I've been working day-and-night on bringing up a new TravisCI/Appveyor setup, and on getting the long-standing solidity/cpp-ethereum split done.    And now with DAO Hard fork also putting extra pressure there.

There will be new cpp-ethereum and solidity releases this week (and they will be decoupled, for the first time).

The Solidity buil

[2016-07-18 04:38] bobsummerwill commented on #725
PS.  "As far as I understand, this is not a global command line tool, but only JS bindings to use within JS. That should be mentioned on that documentation page, I think."

Nope - the npm install is a full global "solc" instance.    It is the C++ code compiled into JS using Emscripten.    That might even be your easiest approach for now.

[2016-07-18 07:28] XertroV commented on #725
For anyone looking at the bobsummerwill repository above, I get this error msg when running `solc`:
`dyld: Library not loaded: /Users/travis/build/bobsummerwill/solidity/build/libsolidity/libsolidity.dylib`

I tried to fix with some horrendous symlinks and got it working, but it's pretty ugly.

Terminal extract:

[code]

[2016-07-18 08:55] ethers opened #726 "solc cli option to treat warnings as errors"
Is it worth introducing now an option to treat warnings as errors during compilation?

[2016-07-18 10:29] bobsummerwill commented on #725
Ah - yes - but your nasty symlinks got you to a working state?   Great!

Here is the corresponding release flow I've built for cpp-ethereum:
- https://github.com/bobsummerwill/cpp-ethereum/blob/merge_repos/scripts/release.sh
- https://github.com/bobsummerwill/cpp-ethereum/blob/merge_repos/homebrew/fix_homebrew_paths_in_standalone_zip.py

I'd forgotten that the dylib path fixup will need replicatin

[2016-07-18 14:54] chriseth commented on #724
What does "work" and "fail" mean? What are your expectations towards those two functions and which kind of error do you get? Note that `works()` uses more gas that `broken()` - might that be the problem?

[2016-07-18 14:55] chriseth commented on #723
This is possible by providing Merkle proofs from the transaction hash to the block hash and actually not too complicated, but it is not in scope of a compiler feature.

[2016-07-18 14:55] #723 closed, assigned to nobody

[2016-07-18 14:57] chriseth commented on #717
The grammar only provides some kind of formal specification for the mapping from the raw input to the (non-annotated) AST. The why3 translator currently "generates" a specification for the mapping from the annotated AST to the "mathematical meaning" and I think that this specification is much more important. But the grammar.txt file certainly also needs some love. Thanks for the pr, @NicolaiSoebor

[2016-07-18 14:58] #702 closed, assigned to chriseth

[2016-07-18 15:36] giblfiz commented on #724
Thanks for the attention @chriseth

"Works" updates the values of the components stored in the struct, and sends 20 wei to the message sender. (This can be observed by looking at balances, and by using the accessor method for V)

"Fail"... when broken is called... Does NOT update **any** of the elements stored in the struct, and does NOT send 20 wei.

I have encountered nothing that would lead me

[2016-07-18 16:56] aakilfernandes commented on #723
@chriseth Sounds good. I'm investigating that approach. Would you be able to point me in the direction regarding a formula for proving that? I also opened up a stack exchange question here: http://ethereum.stackexchange.com/questions/7147/given-a-blockhash-how-can-i-prove-a-transaction-with-a-given-hash-has-been-mine/7177#7177

[2016-07-18 17:21] chriseth commented on #724
Just tested this inside browser-solidity and could not find any oddness.

[2016-07-18 19:11] graup commented on #725
Are you sure? Neither `npm install solc` inside a package directory nor `npm install -g solc` install a global command. Well, they cannot, the package doesn't define a binary. It seems that [that is being worked on](https://github.com/ethereum/solc-js/pull/27), though.

[2016-07-18 19:36] bobsummerwill commented on #725
Maybe I am wrong.   @chriseth knows for sure.

Either way - it will be fixed with the Solidity standalone builds imminently.

I'm working on the dylib fixup based on your previous comments right now.

https://github.com/bobsummerwill/solidity/commit/5aeabe580e6034f25992f3d4e30977cc676cb53a

[2016-07-18 21:04] bobsummerwill commented on #725
Give these a go!   https://github.com/bobsummerwill/solidity/releases/tag/develop-v0.3.5.130

[2016-07-18 22:16] giblfiz commented on #724
That's very odd... Here is a version of it I compiled on the online compiler (I'm using the one located here... http://ethereum.github.io/browser-solidity/#version=soljson-latest.js )

And pushed out to testnet...

`var m = eth.contract([{"constant":true,"inputs":[{"name":"","type":"address"}],"name":"V","outputs":[{"name":"other","type":"uint256"},{"name":"count","type":"uint256"},{"name":"block_

[2016-07-18 23:19] XertroV commented on #725
@bobsummerwill Delicious! Works a treat.

[code]

**NB for others: if you want `solc` globally executable it's easiest to just copy the entire contents of the zip to /usr/local/bin/**

[2016-07-19 00:50] slothbag commented on #692
I'm surprised this issue has not received much attention given the demonstrated dire consequences of contracts not performing as they are designed.  To me this seems like a critical issue??

[2016-07-19 00:52] bobsummerwill commented on #725
Woohoo - thanks very much for the confirmation!

Bonus points which came out of rebuilding the automation is that we now support OS X Mavericks, as well as OS X Yosemite and OS X El Capitan (with work-in-progress on the macOS Sierra preview).

I had to get those working because it appears that TravisCI runs on 2009 era Mac Pro boxes (via VMWare), and doesn't like running binaries built on Yosemite

[2016-07-19 06:02] VoR0220 commented on #692
It's on my list of things to do. Trust me. I have not forgotten.

[2016-07-20 20:52] Nashatyrev commented on #683
One of our contracts allows registering only non-contract address. We are checking this with `msg.sender == tx.origin`

[2016-07-20 22:12] PeterBorah commented on #683
@Nashatyrev: Why do you want to do this? It vastly reduces your user's security options, because they can't use multisig, key revocation, or other contract-based security systems. As a user, I would not appreciate being forced to use a dangerous method (a bare private/public keypair) for interacting with a contract.

Additionally, this won't work the way you expect it to after [EIP 101](https://gi

[2016-07-20 22:49] Nashatyrev commented on #683
E.g. you have a Token contract (address -> balance), and you want to get fees from transferring tokens between owners. If you allow a contract to own a token account then those token can be locked and transferred between owners without any fees (i.e. kind of derivative token contract). Non-contract only accounts prevent this. As a user you may grant any contract with access to your account (which

[2016-07-21 01:47] PeterBorah commented on #683
This isn't true. There will still be a private key somewhere with access to the tokens, which means there's no way to use any other form of security exclusively. If someone gets access to the private key, it's game over.

(It's also just annoying that I have to generate a private key just for your one dapp, rather than using the security system I use for literally everything else.)

I don't know e

[2016-07-21 02:10] pipermerriam opened #733 "Linking fails for libraries with underscors in their names."
It appears that the `--link` functionality is unable to handle library names that contain underscores.

[code]

And trying to compile it...

[code]

[2016-07-21 11:15] asinyagin opened #736 "Segmentation fault using recursive structs"
Hi,

I'm getting a segfault on compilation of this contract:

[code]

[code]

[2016-07-21 12:59] VoR0220 commented on #736
Hmmmm....you can't actually set the length of an array in Solidity currently, atleast like that. But we should either a) allow you to do it or b) throw an error telling you you cannot do it.

[2016-07-21 14:11] chriseth commented on #736
The problem seems not to be setting the length of the array but actually using a recursively defined struct in the first place. As it is a dynamic array, it should work in principle, but I'll have to investigate.

[2016-07-21 14:11] asinyagin commented on #736
A similar structure might be used for a graph for example. So it would be nice to allow it if it's possible.

[2016-07-21 20:27] richbodo commented on #724
**Summary:**

I duplicated this particular bug.

The function broken() does nothing when it uses the third element of the struct (the uint other).  Here is the address of a contract that I tested broken:

"0x0dcd2f752394c41875e259e00bb44fd505297caf"

The function broken() works as intended simply by removing the third element from the struct and not mentioning it in the function.  Here is the addr

[2016-07-21 21:23] Nashatyrev commented on #683
You may generate a key, create an account, grant account access to any contract you like and immediately destroy the key.
The trick is you can't prove others you have destroyed the key and thus the tokens can't be assumed locked. So any token transfer should be still performed via the Token contract and transfer fees get paid.
Can you please tell what security system are you referring?

EIP 101: D

[2016-07-21 21:31] PeterBorah commented on #683
Yeah, that works I guess, though you have to hope that you didn't leak the key during the creation and signing phase. Not as secure as I'd like, but not terrible.

I don't have one set up yet, so I was referring to the hypothetical future. But any security system based on smart contracts, which will be pretty much any of them. For instance, anything with a multisig component, or anything where you

[2016-07-24 11:53] mike80439 opened #740 "Error: Operator == not compatible with types string memory and string memory (line 37)"
contract Test {

  struct Client {
    uint i;
    string n;
    bool b;
    int8 r;
  }
  Client[] public clients;

  function Test(){
    uint x = 1;
  }

  function addClient(uint _i,string _n,bool _b,int8 _r) {
    clients.push(Client({
      i:_i,
      n:_n,
      b:_b,
      r:_r
    }));
  }

  function getClient(uint idx) returns (uint i,string n,bool b,int8 r){
    if(idx >= clients.leng

[2016-07-24 12:15] mike80439 opened #741 "Error: Operator == not compatible with types string memory and string storage"

[2016-07-24 12:16] mike80439 commented on #741
---

Error: Operator == not compatible with types string memory and string storage ref
      if(_n == clients[idx].n) {

  function getClientByName(string _n) returns (uint i,bool b,int8 r) {
//    string memory n1 = _n;
    for(uint idx=0; idx<clients.length; idx++) {
//      string memory n2 = clients[idx].n;
      if(_n == clients[idx].n) {
        i = clients[idx].i;
        b = clients[idx].b

[2016-07-25 09:57] chriseth commented on #741
It is not possible to compare strings like that. You have to use a library like the string utils: https://github.com/Arachnid/solidity-stringutils

[2016-07-25 09:57] #741 closed, assigned to nobody

[2016-07-25 12:48] mike80439 commented on #740
use library functions to compare strings

[2016-07-25 12:48] #740 closed, assigned to nobody

[2016-07-25 16:21] axic commented on #639
Probably it wouldn't hurt leaving it `"abc"` for `string` and introducing something else for `bytes`, since then it could also enjoy #479 implemented a nicer way.

Additionally to solve the above issue I think we could do the following too:
a) Introduce a warning when a non-UTF8 string literal is encoded. (As `string` is defined as strictly UTF8.)
b) Change `StringLiteral::toString()` so that it o

[2016-07-25 16:54] chriseth commented on #639
How would you propose to signal a bytes literal (or other way to input raw bytes)?

[2016-07-25 17:05] axic commented on #639
If the tokenizer cannot use the state (i.e. we are in a bytes assignment sequence) and the solution proposed in #603 is not something feasible, then perhaps using the backtick (or another similar character) might be a good trade off.

[code]

However, reading the previous comment again:

Here I've meant that if possible, bytes could have the `b` prefix:

[code]

[2016-07-25 17:09] axic commented on #479
Another proposed way is using the backtick:

[code]

[2016-07-25 17:13] chriseth commented on #639
@axic I don't find a proposed solution in #603. Yes, I was talking about something like `b"..."` to distinguish between string literals and byte array literals. If possible, we should also allow things like `{0x12, 0x34, 0x11, ...}` - but that is something else.

So basically as a summary: I proposed to parse `\x12` as raw byte and `\u0012` as unicode (then encoded as utf-8). You wanted to signal

[2016-07-25 17:26] axic commented on #639
Sorry I've meant #479 and not #603 - but let's just put these aside for a moment.

Solidity (and the ABI) documentation states that strings **must be** UTF8. It would be nice to take that seriously to avoid any possible issues down the line.

If I understand it correctly, the tokenizer needs uniquely identifiable tokens to do the parsing/validation - hence we cannot postpone this validation to whe

[2016-07-25 17:34] chriseth commented on #639
Makes sense! As the ast output also has the source reference, it should be easy to retrieve the actual literal, so the `StringLiteralType::toString()` function could return `string_literal (non-utf8) "abc??def"` for invalid utf-8 data.

Concerning the warning: If you say we only warn at the point of the assignment (is that possible?) - the warning could also be silenced by using `x = bytes("abc\xf

[2016-07-25 17:34] axic commented on #639
Python uses `b""` for _byte literals_ so that's perhaps :+1: for it.

@chriseth and regarding #479 it is probably better to keep it discussed over there, but the `r` prefix could be a good choice instead of backticks:

[code]

This should be possible with the tokenizer, right?

[2016-07-25 17:36] chriseth commented on #479
What about "abusing" ecmascripts new template literals:

[code]

[2016-07-25 17:48] axic commented on #479
Having read about that ECMAScript feature, it certainly seems to be an abuse.

Would this work?

[code]

or

[code]

If literal ECMAScript style template strings are implemented, could the above be used in a way as below?

[code]

Additionally it might make sense allowing whitespace (space and maybe tab & new line?), which is removed during parsing.

[2016-07-25 18:26] axic commented on #564
Retested this with: 0.3.5-6610add6

The actual returned data is correct:

[code]

However the PUSH in the assembly output seems wrong:

[code]

The opcodes section is:

[code]

Conclusion: the assembly output should either use `PUSHnn` or pad to 32 bytes.

[2016-07-25 18:41] axic commented on #683
@PeterBorah:

It would definitely make sense starting a list of possible breaking changes and have them in the next version. Since we're following semver, 0.4.x could have breaking changes.

I would include not only security related changes, but remove any possible dead weight which could be a burden in the future evolution of the language.

@chriseth would it make sense having a separate issue op

[2016-07-25 18:44] axic commented on #681
Perhaps including (a link to) https://gist.github.com/axic/5b33912c6f61ae6fd96d6c4a47afde6d could be useful.

[2016-07-25 19:00] graup commented on #681
I wish the code @axic posted was part of the standard library. Without it ecrecover is pretty useless to the normal developer.

[2016-07-26 07:30] chriseth commented on #479
I think `hex"..."` is a good way to do it. Furthermore, we can use the convention used by other languages to concatenate two literal strings if there is only whitespace between them. The encoding prefix only has to be present for the first such string.

Concerning the template strings: I think it is rather hard to do that at runtime which we would also have to support.

[2016-07-26 14:59] VoR0220 commented on #733
interesting thing to keep out for....

[2016-07-26 15:04] pipermerriam commented on #733
For reference, I'm using the following regex in other code to find link refs.

[code]

This will overmatch on certain conditions, but as far as I can tell it works well on anything produced by `solc`

[2016-07-26 15:08] chriseth commented on #733
This is a limitation of how you invoke he compiler. The two-step process is just a work-around and also fails for too long library names. The proper way to use the linker is as follows:

[code]

[2016-07-26 15:35] asinyagin opened #742 "Segmentation fault on running with '--combined-json ast'"
Hi,

I've built solc from sources today and I get a segfault when I run it with `--combined-json ast` args:

[code]

contracts.sol (no matter what it contains):

[code]

solc version:

[code]

[2016-07-26 16:03] axic commented on #733
@pipermerriam [this](https://github.com/ethereum/solc-js/blob/master/wrapper.js#L52) is what I did based on the C code: truncate the name to max. 37 chars and postfix it.

@chriseth even though it is a workaround, shouldn't both invocations truncate it in the same way?

[2016-07-26 16:05] chriseth commented on #733
@axic erm, yes, you are right :-)

[2016-07-26 16:44] chriseth commented on #724
Could you try to reproduce the bug with a smaller contract (instead of trying to find workarounds ;-) ) or post explicit instructions on how to reproduce?

[2016-07-26 17:53] giblfiz commented on #724
@chriseth
Sadly, this seems to be the smallest contract that displays this particular bug. (You could remove the "working" function as it, well, works)

The following, which was posted above, was intended to be an example of how to reproduce it.
(Compiled with the "web-compiler", deployed on testnet, using the geth console to run commands)

[code]

[2016-07-26 22:14] nisamson opened #743 "Log events do not fire inside functions with modifiers"
[code]

The above contract code will fire off the FooEvent event in the function without the modifier, but not the one with the modifier.

Looking at the disassembly, LOG opcodes are not being produced at all when fooFunc is omitted. I can't find anything suggesting that this behavior is intentional.

An example of this contract demonstrating the bug is available on the test net at:

[code]

[2016-07-26 22:17] bobsummerwill opened #744 "OS X Yosemite - Error in test_mineBlocks"
From https://travis-ci.org/bobsummerwill/solidity/jobs/147574207

[code]

And I have seen another slight variant of that before too.    Same test.   Different error message.

The other time is was an assertion failure for a `get()` call.

[2016-07-27 10:14] #713 closed, assigned to nobody

[2016-07-27 10:16] chriseth commented on #339
Fixed by https://github.com/ethereum/solidity/pull/720

[2016-07-27 10:16] #339 closed, assigned to nobody

[2016-07-27 10:19] chriseth commented on #564
The push is correct, there is no semantic difference between `push2 0x0001` and `push1 0x01`, both will push the number 1. If the assembly is the same, then the errors seems to be in the type annotations of the ast, it does not store the native length of the string correctly.

[2016-07-27 10:23] chriseth commented on #683
Yes, such a list makes sense. I actually prefix all PRs that introduce breaking change with `BREAKING`.

As far as tx.origin is concerned, I am still not convinced that banning it to inline assembly is a good thing. If you do access control, then every single example uses `msg.sender` and not `tx.origin`. We also don't forbid users to do access control using passwords in contracts, but we tell use

[2016-07-27 12:09] #714 closed, assigned to nobody

[2016-07-27 12:09] chriseth opened #746 "Formal Verification: mappings"

[2016-07-27 12:10] chriseth opened #747 "Formal Verification: msg and receiving ether"
This also has to consider the fallback function

[2016-07-27 12:10] chriseth opened #748 "Formal Verification: constructor"

[2016-07-27 12:10] chriseth opened #749 "Formal Verification: Check that global conditions are transitive"

[2016-07-27 14:28] chriseth commented on #744
This is most probably a bug inside eth.

[2016-07-27 15:46] PeterBorah commented on #683
There are lots of things that Solidity doesn't allow you to do. It's a statically typed language! This is the same sort of thing: `tx.origin` is a bug that is can be detected at compile time.

I'm sympathetic to the argument that power is more important than safety, but that doesn't seem to be Solidity's philosophy in any other situation.

[2016-07-27 16:06] axic commented on #17
Leaving this here as a reference: fixed by https://github.com/ethereum/solidity/pull/536

[2016-07-27 16:06] chriseth commented on #724
@giblfiz this could very well be just an out-of-gas during the execution of "broken".  Do you have the tx receipt?

[2016-07-27 16:07] chriseth commented on #692
@VoR0220 starting on this now

[2016-07-27 16:48] axic commented on #717
There is also a parser by @tcoulter  based on PEG.js: https://github.com/ConsenSys/solidity-parser

It has the definitions here: https://github.com/ConsenSys/solidity-parser/blob/master/solidity.pegjs

[2016-07-27 17:21] #743 closed, assigned to nobody

[2016-07-27 18:17] axic commented on #564
@chriseth the assembler output has `PUSH` and 31 bytes of data. The length of the value is not clear on the first sight and given those many zeroes, it _looks_ like 32 bytes :)

Perhaps using `PUSH31` should be useful in the assembler output.

[2016-07-27 18:39] giblfiz commented on #724
@chriseth ... OK I'm officially an idiot.
Your right, it's an out of gas error ( https://testnet.etherscan.io/vmtrace?txhash=0x9fee942a3ac2fc16f4caff1ac49ad938efde861e4f30abb12a0ba541394f7629 )

I didn't realize (and no one mentioned/ it wasn't in the docs anywhere) that there is a default gas limit from an account. I hadn't even looked at the out-of-gas as a possibility since I could call "workin

[2016-07-27 18:39] #724 closed, assigned to nobody

[2016-07-27 19:11] VoR0220 commented on #744
It is. The problem is a seg fault that happens in the Eth client. Here is the stack trace.

[code]

[code]

[code]

[2016-07-27 19:12] VoR0220 commented on #744
I have also tried this in the latest one with similar results.

[2016-07-28 00:45] axic commented on #744
Probably it is not related, but I also had crashes with `eth` - but on Linux.  I cannot deterministically reproduce it, but doing a SIGINT on `eth` while soltest is running does a SEGFAULT.

[2016-07-28 08:32] bobsummerwill commented on #744
Hmm.   sealengine, eh?    @winsvega Does this look similar/different from the issues we had with the different sealengine initialization changes?

[2016-07-28 09:42] axic opened #752 "JSON input: control the required outputs"
Would it make sense to have flags control which output options (AST, bytecode, Why3, etc.) are needed in the JSON output (in `JSONCompiler`) similar to how it is done on the commandline?

I think requiring only the needed would speed up the processing. I guess the bytecode/AST/assembler outputs wouldn't make a big difference as they are generated together for EVM, but Why3 is not necessary in all

[2016-07-28 13:26] chriseth commented on #692
I was able to reproduce the behaviour two days ago using https://gist.github.com/chejazi/ccfc84342261e61923b05340744145cd , but not able anymore now.

[2016-07-28 13:29] chriseth commented on #692
Ah ok, it seems to be a problem with the optimizer (I thought I reproduced it without optimizer).

[2016-07-28 13:29] slothbag commented on #692
I found there was a strange sequence of events to trigger the issue, like after several txs trying to zero out an array element (as opposed to setting it to something non zero)..

I can try recreate the problem for you, but its going to take me a while to remember the sequence.. lol

[2016-07-28 13:31] chriseth commented on #692
I reproduced "something", not sure if it is the same bug

[2016-07-28 13:40] slothbag commented on #692
I updated the Github repo links in the OP. They work now :)

[2016-07-28 14:14] SethVgr opened #755 "[BUG] Solidity contract storage not working"
# Checklist
- [done ] built geth 1.4.10
- [done ] installed it over previous version (1.3.5.) (`sudo cp geth /usr/bin/geth`)
- [done ] compiled  and deployed the following contract:

[code]

The contract was compiled using [browser solidity](https://ethereum.github.io/browser-solidity/#version=soljson-latest.js) and deployed on a private test net running a single **geth** node of version 1.4.10
##

[2016-07-28 14:57] chriseth commented on #692
Simplified the contract: https://gist.github.com/chriseth/3514a465ab4b7d8168f53d786bd0df7c

[2016-07-28 15:01] chriseth commented on #755
Please try to reproduce with an extremely simple contract first. If it also shows unexpected behaviour, it is most likely a geth bug or a misconception about how the framework is used.

[2016-07-28 15:03] chriseth commented on #752
Yes, this will be part of this here: https://github.com/ethereum/solidity/pull/712/files
There could also already be an issue about that.

[2016-07-28 15:21] SethVgr commented on #755
@chriseth
I've simplified the contract:

[code]

The error persists. Changes to local storage are not kept across calls. I don't know why.

Can you please run it real quick if you have time?

[2016-07-28 16:00] bobsummerwill opened #757 "solc import of dot relative paths ("../File.sol") ignores the dots"
Originally posted by @ryanreich as https://github.com/ethereum/webthree-umbrella/issues/682 and moved here.

A file such as

[code]

will raise the `solc` error

[code]

whether or not `../File.sol` actually exists.

[2016-07-28 16:10] axic commented on #649
So right now the only way to test if it is an abstract contract is by seeing if a bytecode is returned during compilation. For real abstract contracts, that is empty.

Fun fact, the below is not abstract:

[code]

because it contains only the implicit definition of the fallback function.

[2016-07-28 17:06] axic commented on #752
Great! Couldn't find the relevant issue.

Can you briefly explain here (or over #712) what the proposed way is?  And perhaps refer to this issue in #172 as fixed by.

[2016-07-28 17:10] axic opened #758 "JSON output: empty fields"
The JSON output is a bit inconsistent when dealing with missing fields.

For example an abstract contract might not have bytecode and opcodes, in such a case:
- assembly: null
- bytecode: ""
- opcodes: ""
- runtimeBytecode: ""
- srcmap: ""
- srcmap-runtime: ""

In the case when a contract doesn't have an interface (only fallback is implemented):
- interface: "[]\n"

I would think all of these shou

[2016-07-28 17:13] VoR0220 commented on #755
well yes....you're not modifying the state...so storage shouldn't be persisted if I'm understanding correctly. You need to get rid of the constant modifiers.

[2016-07-28 17:14] axic opened #759 "JSON output: inconsistent field names"
The current output fields for a contrcat are:
- assembly
- bytecode
- functionHashes
- gasEstimate
- interface
- opcodes
- runtimeBytecode
- solidity_interface
- srcmap
- srcmap-runtime

This doesn't seems to be consistent.  Using dashes (srcmap-runtime) is a bit inconvenient in JSON also.

Is there a way this could be streamlined in the future?

[2016-07-29 07:39] kidwai commented on #757
I am given the following more conclusive bit of information (again in both scenarios):

[code]

[2016-07-29 09:09] SethVgr commented on #755
I got rid of the constant modifiers but also have to call initAddr() as a transaction since it's modifying
the state of the contract (doing a write operation).

`c.initAddr({from:eth.accounts[0],gas:400000})`

I'm not sure about the syntax of calling a contract method that changes the state of the contract but also takes a number of arguments.

Something like:

`sumContract.sum({from:web3.eth.acco

[2016-07-29 14:58] #590 closed, assigned to chriseth

[2016-07-29 15:43] chriseth commented on #758
I do not agree 100% here. If the contract does not implement any interface functions, its interface should be the empty array. There is also a difference between an empty assembly (empty array) or non-existing assembly (null).

[2016-07-29 15:46] chriseth commented on #757
This is intentional: solc does not access arbitrary directories in the host filesystem (to prevent things like `import "../../../../../../etc/passwd";`. If you want to allow this, you have to add such a directory to the directory remappings:

[code]

[2016-07-29 15:47] chriseth commented on #755
I think the correct syntax is either `sumContract.sum(1,2, {from:web3.eth.accounts[0],gas:utils.DEFAULT_TX_COST})` or `sumContract.sum(1,2).sendTransaction({from:web3.eth.accounts[0],gas:utils.DEFAULT_TX_COST})`

If you use `call` you certainly do not get persisting changes to storage.

[2016-07-29 15:51] chriseth commented on #752
The idea is that in the future, all behaviour of the compiler is controlled by a single json object (which also includes the source files). The compiler can also _generate_ such a minimal json object to be used for source verification.

Concerning the output selection, I guess the syntax would be something like `outputs=["ast", "bytecode", "runtime-bytecode", "gas"]` - similar to the combined-json

[2016-07-29 15:54] kidwai commented on #757
Right. Thanks.

[2016-07-29 15:56] axic commented on #758
In what cases do you make a distinction between empty and non-existing assembly?

Should a non-abstract contract ever have an empty `assembly` (it should have the deploy code, while `runtimeAssembly` doesn't)? Isn't that an error condition?

[2016-07-29 18:37] Denton-L opened #765 "Cannot Hash Struct"
Here's a barebones version of the code I'm attempting to run:

[code]

I am using browser-solidity on Chromium on Linux and it is throwing me an Uncaught Javascript exception.

[2016-07-29 22:22] ethernomad commented on #765
Duplicate: https://github.com/ethereum/solidity/issues/332

[2016-07-29 22:28] ethernomad opened #766 "Support do {} while(); control structure"
do {} while (); can avoid code duplication in some situations.

[2016-07-29 22:54] ethernomad opened #767 "Pack multiple array items into individual slots"
If an array item size is e.g. 16 bytes, surely the compiler could generate code to store 2 items in each slot?

[2016-07-29 23:17] axic commented on #767
I think that might be already happening?

[2016-07-29 23:21] ethernomad commented on #767
Documentation is kind of ambiguous: https://solidity.readthedocs.io/en/latest/miscellaneous.html#layout-of-state-variables-in-storage

[2016-07-30 07:45] roadriverrail commented on #766
Hi there!  I'm new to the Solidity project, but I had a spare night and thought I'd try my hand at making a contribution on this front.  Casual testing suggests it's ok, but solc on the "development" branch crashes for asm and asm-json outputs on my Mac, so I need to switch over to my Linux machine in the morning to keep up the testing.  I also couldn't find a compiler test suite to add some appro

[2016-07-30 12:33] ethernomad commented on #766
Amazing!

[2016-07-30 22:15] VoR0220 commented on #765
We need to get the new struct refactor so that it's part of the ABI.

[2016-07-31 02:56] bobsummerwill opened #769 "Known unit test failures (which have not been "fixed")"
OS X El Capitan - See https://travis-ci.org/ethereum/solidity/jobs/148613315.

[code]

[2016-07-31 02:58] bobsummerwill commented on #769
EXTRA INFO - The same tests all passed on Ubuntu Trusty, OS X Mavericks and OS X Yosemite at same commit in same TravisCI automation run.

[2016-07-31 03:22] bobsummerwill commented on #769
OS X Mavericks - See https://travis-ci.org/ethereum/solidity/jobs/148617439.

Is identified as **https://github.com/ethereum/solidity/issues/744**

[code]

[2016-07-31 04:25] bobsummerwill commented on #744
Here it is again (OS X El Capitan):

https://travis-ci.org/ethereum/solidity/jobs/148619940

[code]

[2016-07-31 04:27] bobsummerwill commented on #769
OS X Yosemite (https://travis-ci.org/ethereum/solidity/jobs/148619939):

[code]

[2016-07-31 04:28] bobsummerwill commented on #769
OS X Yosemite (https://travis-ci.org/ethereum/solidity/jobs/148619939)

Hundreds of failures in a row.   `eth` node is dead?

[code]

[2016-07-31 19:57] VoR0220 commented on #769
Its the eth node most definitely

[2016-08-01 05:43] bobsummerwill commented on #769
OS X Yosemite (https://travis-ci.org/ethereum/solidity/jobs/148777234)

[code]

[2016-08-01 06:38] bobsummerwill commented on #769
OS X Yosemite (https://travis-ci.org/ethereum/solidity/jobs/148785461)

[code]

[2016-08-01 09:16] bobsummerwill opened #771 "Windows - Add Sockets code-paths and enable Windows unit-tests in Appveyor"
We have automation of Test-over-IPC for Solidity for macOS and Ubuntu, but we cannot try to build that same automation for Appveyor on Windows yet, because the Solidity tests don't even build for WIndows yet, because we're using UNIX sockets unconditionally.

We're going to need to update that infrastructure within the Solidity tests (should be cut-and-pasting existing code) to get the runtime in

[2016-08-01 09:22] euri10 opened #772 "segfault"
I dunno if I'm using it wrongly or if this is normal, apologies if it work as intended

[code]

[code]

[2016-08-01 09:38] euri10 commented on #772
well I think it's a duplicate of https://github.com/ethereum/solidity/issues/742
since having only ast is what makes it crash

[code]

[2016-08-01 10:03] chriseth commented on #772
We are about to release a new version today, so please verify if that fixes it.

[2016-08-01 10:03] chriseth commented on #767
It is done in storage but not in memory.

[2016-08-01 10:22] chriseth opened #777 "CI: Build docs as separate matrix step to make it finish early"

[2016-08-01 10:24] axic opened #778 "JSON output: better error reporting"
I think it would make sense changing the _"error"_ field to a map of:
- severity (warning or error)
- message
- location
  - source file name (or pointer to the source object / identifier)
  - source line

The improvement would be twofold:
- No need to manually trying to assess the severity
- Proper link to the source file

[2016-08-01 10:24] chriseth opened #779 "Build system: Remove any mention of jsonrpcstub"

[2016-08-01 10:27] chriseth opened #780 "Remove secure_vector"
The class `secure_vector` in `libdevcore/Common.h` is not used anymore and can be safely removed.

[2016-08-01 10:27] chriseth opened #781 "Remove non-solidity exception types"
There are several macros that define exceptions (for example `DEV_SIMPLE_EXCEPTION`) that are leftovers from cpp-ethereum and are not relevant for Solidity. Most of the exceptions that are not defined in `libsolidity/interface/Exceptions.h` can be removed.

[2016-08-01 10:28] chriseth opened #782 "Remove random and blooms from fixedhash"

[2016-08-01 10:28] bobsummerwill opened #783 "Unit tests - Do multiple runs (so we have the data), but succeed if ANY pass"
The Solidity unit-tests in TravisCI are running 5 times, to try to flush out elements which are unreliable.

Having more data-points on unreliability is great.    Having our automation failing all the time is not so great.

We should move that iteration into `tests.sh`, and perhaps change the logic to more of a "retries" model, so, perhaps, we try up to 5 times to get a successful unit-test run?

[2016-08-01 10:29] chriseth opened #784 "Remove rmd160 and sha2"

[2016-08-01 10:30] chriseth opened #785 "Remove vector_ref::cleanse"
This function is not used and can be safely removed.

[2016-08-01 10:31] bobsummerwill commented on #777
So I must confess that I don't have the Travis-foo yet to know exactly what you mean there.

I've not seen examples of Matrix being used to do DIFFERENT things - only as a means of parameterizing configurations.

Do you have some example which I could mimic?   Thanks!

[2016-08-01 11:01] chriseth commented on #777
I guess you can define an environment variable to specify the thing you want to do and then condition on that during the actual run.

We should also add a similar thing for emscripten.

[2016-08-01 12:33] axic opened #787 "Deprecate "Solidity Interface" output"
- [x] remove interface from binary commandline version
- [x] remove interface from js commandline version: https://github.com/ethereum/solc-js/issues/38

The _Solidity Interface_ as returned in the JSON (or via the `--interface` command line option) is an actual abstract Solidity contract code, like this:

[code]

Would it make sense to have it properly indented in a readable form?

[2016-08-01 14:54] #692 closed, assigned to chriseth

[2016-08-01 14:54] #779 closed, assigned to bobsummerwill

[2016-08-01 15:04] axic opened #789 "Require jsoncpp 0.9.4 as a minimum"
(Follow up from #760)

0.9.4 is the version which has complete UTF8 support and was released in 2015. Earlier versions could output invalid JSON during compilation.

The latest version is 1.7.4, released a month ago.

[2016-08-01 15:07] SethVgr opened #790 "[BUG] Why can't solidity code return data type values when methods that change the state of the contract are called?"
# Checklist
- [done ] built geth 1.4.10
- [done ] installed it over previous version (1.3.5.) (`sudo cp geth /usr/bin/geth`)
- [done ] compiled  and deployed the following contract:

[code]

The contract was compiled using [browser solidity](https://ethereum.github.io/browser-solidity/#version=soljson-latest.js) and deployed on a private test net running a single **geth** node of version 1.4.10
##

[2016-08-01 22:08] chriseth commented on #790
I think the problem is that you have to wait for the respective transactions to be mined. You might find more information about this behaviour in the web3.js channels.

[2016-08-01 22:09] chriseth commented on #787
I think we first have to find a proper use-case for this feature.

[2016-08-01 22:10] chriseth commented on #783
Should be fixed in latest.

[2016-08-01 22:10] #765 closed, assigned to nobody

[2016-08-01 22:11] chriseth commented on #332
This feature is not yet implemented.

[2016-08-01 22:11] #757 closed, assigned to nobody

[2016-08-01 22:43] chriseth commented on #789
What are the versions available on the main platforms we support?

[2016-08-01 22:44] chriseth commented on #778
Hm, how is that different from the way it is currently done?

[2016-08-01 22:46] chriseth commented on #752
Do you want to write down a full specification of the json input and output format?

[2016-08-01 23:13] slothbag commented on #692
Well done @chriseth! I will try it out when the latest solidity builds are released.

[2016-08-02 08:40] phiferd opened #796 "Exception on overflow"
It would be nice if Solidity, by default, threw an exception for arithmetic overflow, rather than allowing it.

Justification:
1. Overflow is rarely desired behavior and is commonly cited as a security vulnerability.
2: Even in cases where overflow is desired behavior, throwing an exception is a far safer failure mode and easier to detect/correct.
3: The goal of solidity, as I understand it, is to

[2016-08-02 08:58] chriseth commented on #796
The main Problem I see with this is that you still have to aware of the possibility of an arithmetic overflow. If we throw in that case, this could stall a smart contract.

The only solution I see is to use our formal verification system that automatically verifies whether overflow protection checks are in place (or not needed).

[2016-08-02 09:03] chriseth commented on #49
@axic I don't see where your solution would be needed. If we change the `return` to not skip modifier suffixes (and we have to do it for your solution), it would already work as is.

[2016-08-02 09:54] phiferd commented on #796
Could the same argument be made for the exception that is thrown for division by 0 and a negative array index? Those could have the same effect, but I can't see arguing that coming up with some default but incorrect behavior would be better (e.g. We could just wrap array indices around).

My concern is that the failures that can come from overflow go undetected.

I am definitely not suggesting tha

[2016-08-02 10:28] chriseth commented on #796
You have a valid point. Still, I think these are not exactly comparable:
Invalid array access and division by zero are more predictable and less "continuous" than arithmetic overflow.

But yes, it is probably better to stall a contract in case of overflow than to provoke undesired effects on state.

What are cases where overflow is actually desired? I think for most of them, we can still use `mulm

[2016-08-02 13:53] nmushegian commented on #49
@chriseth is `_` is already an expression? I don't think you can do `var x = _`, I don't see how that behavior is enough to address @axic's use case

[2016-08-02 19:02] Denton-L opened #802 "Throw Error on Abstract Contract"
Currently, libraries are not allowed to inherit from each other. As a result, the following code should throw an error because it does not produce any bytecode and it will also never be inherited from, thereby, it is completely useless.

[code]

[2016-08-02 19:05] redsquirrel commented on #802
This is not useless. I actually use abstract libraries in https://github.com/ConsenSys/live-libs in order to allow contracts to compile against libraries when the source code is unavailable. (Live Libs generates the abstract source from the stored ABI.)

[2016-08-02 19:14] Denton-L commented on #802
Ah, I stand corrected!

[2016-08-02 19:14] #802 closed, assigned to nobody

[2016-08-02 20:53] axic commented on #186
@chriseth @bobsummerwill is this still an issue?

I see that currently it defaults to `0` if missing. What should it default to?

[2016-08-02 20:54] axic commented on #219
@Denton-L I think you have documented this already?

[2016-08-02 20:55] axic commented on #232
@VoR0220 do you think we should close this in favour of #240 which has more details?

[2016-08-02 20:58] axic commented on #315
@Denton-L I think you have done is too?

[2016-08-02 21:03] axic commented on #397
@androlo did you manage to find an example exhibiting an excessive build time?

[2016-08-02 21:07] axic commented on #495
@chriseth @bobsummerwill is this issue still relevant? Probably better to close it.

[2016-08-02 21:08] Denton-L commented on #219
Yes, it's documented here: http://solidity.readthedocs.io/en/latest/control-structures.html#scoping-and-declarations

[2016-08-02 21:09] Denton-L commented on #315
I've done bits and pieces but never _all_ of the keywords. I can add this onto my priority queue of things to do, though.

[2016-08-02 21:10] axic commented on #219
Thank you @Denton-L.

[2016-08-02 21:10] #219 closed, assigned to nobody

[2016-08-02 21:16] axic commented on #609
Related #186

[2016-08-02 21:19] axic commented on #633
@bortzmeyer the error message is there also:
`[dev::tag_comment*] = Accessors for mapping with dynamically-sized keys not yet implemented.`

[2016-08-02 21:36] androlo commented on #397
I didn't try. Would still like more fine grained logging and more output at some point, but I guess that doesn't really need its own issue. Closing.

[2016-08-02 21:36] #397 closed, assigned to nobody

[2016-08-02 21:50] axic commented on #789
- homebrew 1.7.4
- ubuntu
  - precise 0.6.0
  - trusty 0.6.0
  - wily 0.10.5
  - xenial 1.7.2

[2016-08-02 21:58] axic commented on #787
I'm not exactly sure.  It seems a better approach that those writing abstract contracts are doing that by hand and only include the needed methods.

I would think the _Solidity Interface_ option would provide a probably unneeded shortcut for that.

Maybe mark it for future removal?

[2016-08-03 00:53] bobsummerwill commented on #789
I think the way to approach this, @chriseth, would be to flip to building-from-source in `install_deps.sh` for Ubuntu - as I'm doing for json-rpc-cpp in my cpp-ethereum branch.    Then we're not dependent on PPA at all, and work identically across all versions.    Easy win for other distros too.

I also flipped to build-from-source for CryptoPP in the same place, again because of issues in the old

[2016-08-03 05:20] bobsummerwill commented on #186
We should probably do a quick audit on versioning for both `solidity` and `cpp-ethereum` for development releases.   Ideally we should have commit-hashes, IMHO.

And is va.b.c-hash better than develop-hash?    Does the version number we have in for those development releases serve a purpose?  I'm not sure.

[2016-08-03 05:23] bobsummerwill commented on #495
Nope - the orphaned subset which we now have is approximately the subset which we depend on.
Sure - we can likely trim it down further and tidy it up now that it is severed and refactoring is more tractable.   But essential "done".

Another question, though, is whether this copy should actually be re-namespaced and/or just moved into libsolidity or whatever.

[2016-08-03 05:23] #495 closed, assigned to bobsummerwill

[2016-08-03 07:19] #783 closed, assigned to nobody

[2016-08-03 09:02] axic commented on #186
The version number is useful to have them ordered chronologically.  I do agree the current versioning scheme is misleading.

My proposal:
- `vA.B.C` for releases (there's no commit hash requirement as that can be retrieved from git tags)
- `vA.B.C-alpha<N>-<hash>` or `vA.B.C-develop<N>-<hash>` for the dailies

The `N` should be an incremental number going from 1.

Additionally, I would bump the ve

[2016-08-03 12:26] chriseth commented on #787
Agree

[2016-08-03 12:32] chriseth commented on #186
The commit hash should always be available at build time, we need that for source code verification. I don't think that the version number or git tag is enough because it is not authenticated. There are plans to publish that on the blockchain (there is an issue about that), but that is a different matter.

The versioning scheme suggested by @axic looks sound, I would still prefer to include the co

[2016-08-03 12:41] euri10 opened #812 "debian strech fails compile, boost 1.58.02"
fixed using this ugly diff

[code]

[2016-08-03 14:27] VoR0220 commented on #232
I dont think so personally.

[2016-08-03 14:28] VoR0220 commented on #232
Well...maybe. Idk. Definitely would need to change the title of the old issue i think.

[2016-08-03 17:08] axic commented on #789
jsoncpp recommends to not be used as a library:

Maybe we should include a copy and/or a submodule?

Also:

[2016-08-03 17:12] axic commented on #232
Yes, the title should be changed.

[2016-08-03 19:58] axic commented on #784
Why?

[2016-08-03 20:03] rrufus opened #813 "I have a compile error on Ubuntu 16.04..."
I was running

[code]

as suggested in http://solidity.readthedocs.io/en/latest/installing-solidity.html
I had followed the previous build instructions.

I hope this is the right place to raise the issue.

The error was:

[code]

My git repo is up to date.

[2016-08-03 21:00] pacifics opened #814 "Problem with the contract documentation"
Hi,

I can't compile the contract documentation for our Dao. Without it is ok.

The source is here : https://github.com/pacifics/Dao

Frederic

[2016-08-04 08:58] chriseth opened #815 "Remove `after`"
Because of ambiguities in its use, the `after` keyword (which is currently undocumented) should be removed.

[2016-08-04 09:04] chriseth commented on #813
Sorry, we are just migrating to a new build system. I updated the build instructions: https://github.com/ethereum/solidity/pull/816
Please check if they work for you, thanks!

[2016-08-04 09:05] chriseth commented on #814
Please provide more information. Do you get a compiler error? Which compiler do you use?

[2016-08-04 09:26] chriseth commented on #784
Ah sorry, they are used in the end-to-end tests. Still, we could replace these tests by constants.

[2016-08-04 09:55] #777 closed, assigned to bobsummerwill

[2016-08-04 10:39] rrufus commented on #813
Thanks for your response.

I've followed your changes, including installing `libjsoncpp-dev`, and still hit the same error.

[code]

[2016-08-04 14:37] #813 closed, assigned to chriseth

[2016-08-04 15:31] pacifics commented on #814
https://ethereum.github.io/browser-solidity/#version=soljson-latest.js
0.3.5-6610add6/Release-Emscripten/clang/Interpreter

DAO.sol:773:21: Error: Name has to refer to a struct, enum or contract.
                    TokenManager m = new TokenManager(address(this), false,
                    ^----------^

[2016-08-04 15:56] SethVgr commented on #790
I've managed to fix it. State changing transactions only return the TX hash as the transaction has not been mined at the time they should return a value. The actual value (modified) contract state variable must be read by a call() function that calls a method that does not modify the contract's state (basically a read function).

[2016-08-05 02:35] phiferd commented on #662
Hey, I was just about to file an issue for this, when I found one was already open.

@chriseth : I understand your concern about a false sense of security, and I believe that's a real effect, but I think the benefit outweighs the concern.  After all, you could make a similar argument for almost any security feature (and people have done so for helmets, seat belts, airbags, anti-lock breaks, ...).

[2016-08-05 03:28] redsquirrel commented on #662
That's a great idea.

[2016-08-05 06:04] chriseth commented on #814
Sorry, but I'm really not sure if this is the correct place for your build issue. Do you think this might  be a bug in the compiler? If not, please ask for help on gitter or stackexchange.

[2016-08-05 06:04] #790 closed, assigned to nobody

[2016-08-05 06:47] #638 closed, assigned to nobody

[2016-08-05 09:27] axic commented on #649
I think having an explicit keyword could aid error reporting. Should it be called `abstract contract` or `interface` though?

[2016-08-05 09:33] axic commented on #627
I don't think it has any relation to gas costs.

Abstract contracts are a counterpart of the JSON ABI definition in Solidity.

[2016-08-05 09:41] #550 closed, assigned to nobody

[2016-08-05 13:17] redsquirrel commented on #627
The main benefits of an abstract contract are:
- Providing a place to define a contract interface, which is useful for self-documentation as well as extensibility.
- Giving us the ability to implement _most_ of a contract, but leave some methods abstract, facilitating patterns like [template method](https://en.wikipedia.org/wiki/Template_method_pattern) and more generally removing code duplication

[2016-08-05 13:19] chriseth opened #821 "Make solidity-standalone ppa'able"

[2016-08-05 13:20] chriseth commented on #8
This is now more or less implemented using libraries.

[2016-08-05 13:20] #8 closed

[2016-08-05 13:24] chriseth commented on #11
We are going the javascript way and use imports. Also you can use remappings of import paths to get an even better system that does not need to have globally unique namespaces.

[2016-08-05 13:24] #11 closed

[2016-08-05 13:25] chriseth commented on #14
Low-level calls are just a tiny bit above inline assembly, so you can use inline assembly to emulate this feature.

[2016-08-05 13:25] #14 closed

[2016-08-05 13:27] redsquirrel commented on #649
I think it would be _A Very Good Thing_ to have an explicit `abstract` keyword to denote abstract contracts. It would improve the readability of Solidity code even more than the `constant` keyword.

@axic I wouldn't use `interface` because (at least in Java) interfaces can't implement any methods (all methods are implicitly abstract), whereas Solidity's abstract contracts can implement methods,  l

[2016-08-05 13:28] chriseth commented on #15
As we now have inline assembly, I would prefer not to allow the fallback function to return data. If you must return data, you have to use inline assembly.

[2016-08-05 13:31] chriseth commented on #49
@nmushegian if the modifier cannot return the return value, there is no need for capturing it. The modifier can just ignore the return value and it will be returned.

[2016-08-05 13:33] #150 closed, assigned to nobody

[2016-08-05 13:52] chriseth commented on #207
TODO: integrate into documentation

[2016-08-05 13:56] chriseth commented on #226
We should use this together with breaking changes. I think the most common use-case would not be `requires version >= 0.1.6` but rather `requires version <= 0.1.6`. If the source code uses a feature that is not present yet, it will not compile.

[2016-08-05 13:57] chriseth commented on #226
A non-present compiler version for a source file could trigger an error starting from some specific version.

[2016-08-05 14:01] chriseth commented on #228
This is an ongoing process and will never be "closed", although we need a kind of "registry" of library contracts. I hope that tools like dapphub and live-libs can fill this gap soon.

[2016-08-05 14:03] chriseth commented on #240
Closing as duplicate of #232

[2016-08-05 14:03] #240 closed, assigned to nobody

[2016-08-05 14:06] chriseth commented on #242
I would say this is basically identical to constants that are only filled at link-time.

[2016-08-05 14:40] chriseth commented on #269
Will be implemented here: https://github.com/ethereum/solidity/issues/595

[2016-08-05 14:40] #269 closed, assigned to nobody

[2016-08-05 14:41] #292 closed, assigned to nobody

[2016-08-05 14:52] #314 closed, assigned to nobody

[2016-08-05 14:56] chriseth commented on #363
I'm not sure if `keccak` is enough to disambiguate here. Of course, sha3 is probably worse, so we could go for it.

[2016-08-05 15:04] chriseth commented on #414
@axic if you combine that with `using x for y`, it can actually be `a.pop()` and yes, if the library function in `function (T[] storage a)`, then it would receive the storage location. What this needs is templates.

[2016-08-05 15:09] chriseth commented on #434
Question: should we re-throw on failure or somehow report the failure condition (e.g. by returning (bytes, bool))?

[2016-08-05 15:10] #451 closed, assigned to nobody

[2016-08-05 15:11] #455 closed, assigned to nobody

[2016-08-05 15:12] chriseth commented on #460
This provides the same level of (fake) protection, I don't think we should have that. structs are simple data types that are public and modifyable for all.

[2016-08-05 15:12] #460 closed, assigned to nobody

[2016-08-05 15:13] chriseth commented on #462
We now use `eth --test` to run tests. Standard contracts can be tested in the same way. Please feel free to contact me about how to add some contracts.

[2016-08-05 15:13] #462 closed, assigned to nobody

[2016-08-05 15:16] chriseth commented on #474
Related: declare a contract-local memory management routine

[2016-08-05 15:17] #476 closed, assigned to nobody

[2016-08-05 15:18] chriseth commented on #477
@bobsummerwill is this fixed?

[2016-08-05 15:29] #488 closed, assigned to nobody

[2016-08-05 15:31] nmushegian commented on #242
That's correct but I think extreme care has to be taken to make sure your constants are the same size as in the original bytecode, or do this earlier at the AST - not sure how linking works or if there is anything like an unlinked object file

Right now we have an ad-hoc implementation of this with a CONSTANT macro and bytecode postprocessing but it requires using address-sized constants

@mhhf mi

[2016-08-05 15:34] chriseth commented on #510
Please explain how this is a security problem. The ABI is defined with the assumption that trailing zeros are ignored or can be omitted. This creates a "malleability" risk when using `msg.data`. On the other hard, `msg.data` provides low-level access and we also have this malleability risk when using non-32-byte-types.

[2016-08-05 15:35] chriseth commented on #520
Point b is already the case, we can add a if desired.

[2016-08-05 15:36] chriseth commented on #524
This is a drawback of type deduction - you have to provide a specific type for at least one element.
Furthermore, it is not the case that an array of implicitly convertible elements is implicitly convertilble, because some implicit conversions actually need to perform changes - and you cannot modify the array data.

[2016-08-05 15:36] #524 closed, assigned to nobody

[2016-08-05 15:39] chriseth commented on #529
We will work on that is part of authenticated binaries.

[2016-08-05 15:39] #529 closed, assigned to nobody

[2016-08-05 15:43] chriseth commented on #537
I think this is nice but too confusing.

[2016-08-05 15:43] #537 closed, assigned to nobody

[2016-08-05 15:43] #538 closed, assigned to nobody

[2016-08-05 15:45] chriseth commented on #551
Duplicate: https://github.com/ethereum/solidity/issues/72

[2016-08-05 15:45] #551 closed, assigned to nobody

[2016-08-05 15:48] chriseth commented on #564
The assembler output is not a bytecode output - the actual push instruction that is used is not yet determined before the assembly stage.

So is this actually a bug or not?

[2016-08-05 15:50] #589 closed, assigned to nobody

[2016-08-05 15:50] #592 closed, assigned to nobody

[2016-08-05 15:51] nmushegian commented on #49
I think I understand now, but I find it really unintuitive and still wish there was a way where `return !_;` could work. Oh well

[code]

[2016-08-05 15:53] raineorshine commented on #164
Would it be possible to just get a better error message in the mean time? This seems like a common gotcha.

[2016-08-05 16:05] axic commented on #226
This is basically a natspec comment used for deducing compiler warnings/errors?

[2016-08-05 16:19] balboah opened #825 "bool results can equal to true even when function calls throw"
in this example:

[code]

When tokenContractAddress is 0, we will always have a true result in the priced modifier, as opposed to what I would expect.

This happened to me where I incorrectly set the tokenContract instead of tokenContractAddress.

[2016-08-05 16:21] axic commented on #649
@redsquirrel forgot that it can have implemented as well as non-implemented functions.

I'm not sure abstract contracts make sense in that case, perhaps marking such functions clearly `abstract` makes more sense?

[code]

I would personally prefer to have a clean `interface` definition in any case, so that we can have a clean, interface-only `Token` (and Mango `Repository`) object to be used for l

[2016-08-05 16:42] redsquirrel commented on #649
@axic [In Java](https://docs.oracle.com/javase/tutorial/java/IandI/abstract.html), you can mark methods and classes as `abstract`. For solidity, I recommend requiring an explicit `abstract` keyword for abstract (un-instantiable) contracts, and letting abstract functions be implicitly abstract.

Seems like the `interface` idea deserves it's own issue/discussion.

[2016-08-05 17:51] holiman commented on #825
Well, you're invoking `transfer()`on a contract (`0`) which does not have any code. Thus, the contract `0` does not throw. Nothing strange about this. EDIT: I agree it's strange that it returns `true`

[2016-08-05 19:09] Denton-L commented on #825
I don't know what's going on but I have additional information to provide:

Take the following set of contracts:

[code]

Calling `caller()` seems to consistently return `0x32e43a1100000000000000000000000000000000000000000000000000000000`. The first four bytes of this are equal to the return value of `methodSignature()` (the method signature of `dummy()`). For some reason, it is returning the meth

[2016-08-05 19:35] holiman commented on #825
Some details are wrong, but I think you're on the right track.

So when doing a `call`, the evm gets two sets of "pointers". The first being [memory in offset, memory in size], which in points to a memory location containing the `calldata` (method signature). And then there's [memory out offset, memory out size]. And that's where the EVM will write the return values. And if there is no return valu

[2016-08-05 19:41] axic commented on #825
I think I've raised the same issue a while ago: https://github.com/ethereum/solidity/issues/520

[2016-08-05 19:50] holiman commented on #520
So what are the possible solutions to this problem?
- Check codesize of callee before `call` ?
- Don't reuse `mem_in`, but instead a zeroed-out area?

Anything else ?

[2016-08-05 19:55] holiman commented on #520
I'd be in favour of adding something that syntactically looked like this:
`oraclize.checkExists().getPrice.safe("URL");` i.e having a `checkExists()` on `address` which returns the `address` if there's any code there.

[2016-08-05 19:56] holiman commented on #520
Though, this being an edge-case, I think most developers would miss that option anyway.

[2016-08-05 19:59] axic commented on #520
@holiman I think it would better using empty memory locations by default, and maybe having an _unsafe_ mode, which turns that off for those who want to save gas.

[2016-08-05 20:06] Arachnid commented on #520
I think this is a bad idea; knowing code is there doesn't mean the code does what you want. Checking the response length is a better idea. (Edit: But sadly not possible)

[2016-08-05 20:21] axic commented on #520
I don't think these are mutually exclusive, they address a different situation.

[2016-08-05 20:35] holiman commented on #520
Checking response length? How? The EVM does not provide that, iirc.

[2016-08-05 21:40] lastperson opened #827 "Incorrect use of built-in 0x4 Identity Function"
According to this comment: https://github.com/ethcore/parity/issues/1819#issuecomment-237303440 solidity sometimes make use of the 0x4 identity function. But does so incorrectly providing too little gas. Is it intended or not? Does it harms the execution in any way?
Note: that failed internal tx's to 0x4 will soon be removed from etherscan.io.