[2020-07-01 10:01] chriseth opened #9282 "File-level inline assembly blocks"
Just like free functions, inline assembly blocks could be allowed at file level. This would make it possible to write helper functions in yul that can be called from any inline assembly block. Maybe we could even import these yul functions using import statements.

[2020-07-01 10:12] ekpyron commented on #7646
Not a requirement for this issue and just a thought, but we might consider just reserving some identifiers in solidity inline assembly - such as ``abi``. With the dots being reserved we could then at some point consider exposing abi encoding and decoding functions as ``abi.encode.t_uint256`` or something like that...

[2020-07-01 10:22] bshastry commented on #8959
@agroce Does this issue still reproduce against the latest develop commit `9d6413df8`?

[2020-07-01 10:24] bshastry commented on #8369
This issue is "fixed" by #9281

[2020-07-01 10:24] #8369 closed, assigned to nobody

[2020-07-01 10:38] bshastry commented on #9280
Fixed by #9281

[2020-07-01 10:38] #9280 closed, assigned to nobody

[2020-07-01 12:41] chriseth commented on #3412
Discussion: maybe take payable / nonpayable out because it is more complicated.

[2020-07-01 12:53] cameel commented on #9258
I think both options fit our requirements. Hosting on S3 will probably require less maintenance while the office computer gives us more control.

Yeah, looks like that would solve the MIME type issue with IPFS.

[2020-07-01 12:54] cameel commented on #9258
@ekpyron  Here's how I see the tasks here after all the discussions:

1. Updating `solc-bin`
    - Decision: directory structure/naming scheme for binaries from other platforms.
    - Create a Github action to pull `solcjson.js` nightlies into `solc-bin` from CircleCI. Remove the nightly job from Travis.
    - Add a script that can download the release binaries into a local working copy of `solc-b

[2020-07-01 13:11] ekpyron commented on #9258
Maybe it's easier to discuss this in the call later, but for the record:

I still think there should rather be a github action in the solidity repo that builds, tests and pushes releases to `solc-bin` (I read somewhere, that that won't work, but I think that's wrong and it will work, if we use some github auth tokens - and I don't see harm or danger in storing github credentials on github, since g

[2020-07-01 13:31] ekpyron commented on #3412
I'm fine with taking payable/nonpayable out in the first step. Once we want to go for it, I'd say this:

Overriding something payable with something non-payable is fine (after all you could also implement a payable function with ``require(msg.value == 0);`` in the beginning) - but overriding something non-payable with something payable is not fine (since calling in the base contract should always

[2020-07-01 13:34] cameel commented on #9258
My problem with storing tokens was that I've seen threads where people mentioned storing them in a private repo as the only solution - which is not a good place for anything secret in my opinion. But since then I've noticed that github has a feature for adding encrypted secrets in repo settings so maybe that was just some old workaround that's no longer relevant...

Another issue with tokens is th

[2020-07-01 13:40] ekpyron commented on #9258
Yeah, I meant encrypted tokens accessible by github actions only - storing tokens in a private repo would be weird, that's for sure :-).
Alright - I'd say the easiest way to have one CI job uploading to both ``solc-bin`` and to the release page is github actions :-).

And (primarily @chriseth): that CI job could just create a release *draft* and a *PR* in solc-bin (the release branch of solc-bin s

[2020-07-01 15:20] cameel commented on #9258
Here's a summary of what we discussed today. I'm not sure I got it all unfortunately. Also, if something is wrong, please correct me.

**tl;dr**: In this task we'll continue with S3, manual releases and getting binaries from CircleCI. We may automate releases later, as a separate task.

1. Downsides of having to store tokens
    - We need to always be careful with external PRs to make sure they ca

[2020-07-01 16:08] chriseth commented on #9258
Our file list is 0.3 MB by the way. The one of go-ethereum is 8MB.

[2020-07-01 16:09] cameel commented on #9258
Oh, sorry. I must have misheard that.

[2020-07-01 21:48] haltman-at commented on #9278
Yes, sorry, to be clear, I was implicitly omitting functions that take or return storage pointers, since those aren't put in the ABI.  I said "pure or view functions", but what I really meant was "pure or view functions that neither take nor return storage pointers".

Once you omit those, then, well... you're left with the fact that these ABIs are not valid.  Except for structs.  Those ones are va

[2020-07-01 21:57] ekpyron commented on #9258
Just for the record, I get:
[code]

That's a rather crude benchmark of course... but still it doesn't seem to make much of a difference. (Not that that's too surprising.)

EDIT: Fetching directly using an in-browser IPFS implementations instead of a gateway is rather disappointing, though - I didn't get below 2 minutes (for downloading once). Pre-compressing could probably reduce this to less than

[2020-07-01 22:00] thegostep opened #9286 "Provide example workaround in documentation for assigning array literal to dynamic sized array"
![image](https://user-images.githubusercontent.com/15959632/86295482-b9002500-bbc4-11ea-8623-68b646d4b9f1.png)

[2020-07-02 07:51] leonardoalt opened #9287 "[SMTChecker] Detect when known code can be trusted"
In the example below, the assertion is false because `D`'s code cannot be trusted while analyzing `C`. Since `C.d`'s address is a runtime value, it could point to an address that has the same interface as `D` but implements `f` differently, returning a value different than 0.
The only case where the SMTChecker can trust that `d` points to a contract that has the code from `D` is if `C` deploys it.

[2020-07-02 07:52] leonardoalt commented on #9287
@ekpyron wrote:
"I wonder what's the best way to have CHC track if we know that the address in a state variable like C c; is of a contract type C for which we know the code (i.e. CHC sees where it is deployed)...

Maybe there's just a boolean flag for C c; that means "contains valid C" and that is initialized to false and set to true on any c = new C()? And then calling c.f() will take the undefin

[2020-07-02 08:05] #8972 closed, assigned to nobody

[2020-07-02 10:22] bshastry opened #9288 "[Fuzzer] Fuzz yul optimiser steps"
## Abstract

At the moment, we only fuzz full optimiser suite. The drawback is that bugs within single optimisation steps (such as https://github.com/ethereum/solidity/pull/9271#pullrequestreview-440717478) may evade detection.

This issue tracks support for enabling more fine grained optimiser fuzzing.

[2020-07-02 12:36] thegostep opened #9290 "`continue` operation not valid inside of ternary operator"
## Description

`continue` operation not valid inside of ternary operator.

## Environment

- Compiler version: 0.6

## Steps to Reproduce

[code]

[2020-07-02 12:39] thegostep opened #9292 "compile time constant variable declaration should allow use of pure functions"
## Description

compile time constant variable declaration should allow use of pure functions

## Environment

- Compiler version: 0.6

## Steps to Reproduce

[code]

[2020-07-02 12:52] chriseth opened #9294 "Describe 0.7.0 changes in the documentation"
We already have a page about this, we just need to transfer the changelog and explain the changes.

[2020-07-02 12:52] leonardoalt commented on #9290
Is `isValid(hashes[index]) ? return false : return false;` actually valid?
I don't think control flow is allowed inside the ternary operator, it needs to be an expression

[2020-07-02 12:59] chriseth commented on #9292
Duplicate of https://github.com/ethereum/solidity/issues/3122
The reason we did not implement this yet is mainly because the keyword `pure` does not really mean the same thing as "compile-time constant" - it just means "does not read blockchain state".

[2020-07-02 12:59] #9292 closed, assigned to nobody

[2020-07-02 13:03] chriseth commented on #9290
The ternary operator is at expression level while `continue` and `return` are statements - you cannot use them inside expressions.

[2020-07-02 13:03] #9290 closed, assigned to nobody

[2020-07-02 15:32] agroce commented on #8959
Just grabbed latest (probably past that one) and am running, have a few possible new things to report I'm checking, will check this too.  (Backlog of possible new bugs; I had mistyped a directory name in a triage script, and so was seeing last month's fuzz results, noticed eventually the hash was identical on four runs, which is impossible).

[2020-07-02 15:53] agroce commented on #8959
On 3d96e2b1 I get:

[code]

so "looks fixed to me"

[2020-07-02 15:55] agroce opened #9296 "[SMTChecker] ICE in solidity::frontend::SMTEncoder::mergeVariables(const set<const solidity::frontend::VariableDeclaration *> &, const smtutil::Expression &, const solidity::frontend::SMTEncoder::VariableIndices &, const solidity::frontend::SMTEncoder::VariableIndices &)"
## Description

This contract:
[code]

produces:

[code]

And the parens on (d) are neccessary.

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.6.11-develop.2020.7.2+commit.3d96e2b1.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or

[2020-07-02 17:30] ekpyron opened #9297 "Investigate node-js performance and delays on exiting"
@frangio first reported that the loading times of soljson.js in node-js increased significantly between 0.6.8 and 0.6.9 (along with the size increase due to adding Z3). This indeed seems to be the case for node 10, which has quite high loading times in general.

We probably don't need to care too much about node 10, which is rather old by now - but node > 10 has an even weirder issue.

Some benchm

[2020-07-02 18:49] bshastry commented on #8959
Thank you @agroce Marking the issue as closed

[2020-07-02 18:49] #8959 closed, assigned to nobody

[2020-07-02 19:57] ekpyron opened #9299 "Semantic tests for external functions with memory arguments."
https://github.com/ethereum/solidity/pull/8942 also allowed external functions to take memory arguments, but it didn't add semantics tests for it, so we should definitely add some to be sure it actually works.

Also the documentation needs some updates.

[2020-07-02 21:18] cameel commented on #9258
I have created a Github action for pulling in nightlies into `solc-bin`.
Turns out to be a bit more work than I expected and there are still a few problems to be solved. Here's a draft PR if anyone wants to take a look: https://github.com/ethereum/solc-bin/pull/29

[2020-07-02 22:21] frangio commented on #9297
An interesting point is that manually calling `process.exit()` will exit node without delay.

[2020-07-02 23:53] ekpyron commented on #9297
Oh, wow, interesting! I did use ``abort()`` and saw that that makes it exit fast, but expected that to only work in such a "disgraceful" way of exiting - I hadn't even considered that ``process.exit()`` might also have that effect :-)!
I'm starting to get the feeling that this might actually primarily be an issue in node itself and we should actually ask them to look into it or at least explain it

[2020-07-03 09:47] bshastry opened #9301 "[Testing] Add semantic tests containing a multi assignment inline assembly statement containing the same variable in the LHS more than once"
TODO:
  - [x] Add yul interpreter test case
  - [x] Add solidity semantic test

[2020-07-03 10:18] bshastry opened #9303 "[Yul] Disallow the same variable occurring multiple times in the LHS of multi-variable-assignments."
Up for discussion: (Related to #9301 which #9302 attempts to "fix")

For context
  - legacy optimizer and yul optimizer behave differently when a single variable reference is reassigned via a multi variable assignment
  - yul interpreter conforms to yul optimizer behavior (both of which diverge from legacy optimizer)

Example

[code]

passes in non-yul mode but fails in yul mode (actual return is

[2020-07-03 10:27] ekpyron commented on #9303
Something similar also kind of came up in https://github.com/ethereum/solidity/issues/8303 already, but without solution yet.

[2020-07-03 10:31] ekpyron commented on #9282
Importing should work nicely now that we reserved dots in identifiers!

[2020-07-03 10:43] ekpyron commented on #9303
@chriseth on gitter:  it may be that this also depends on whether or not we do stack optimization. In any case, I would certainly disallow mentioning the same variable twice in a multi-variable assignment.

And I agree - disallowing sounds good, moving to implementation backlog.

[2020-07-03 10:50] ekpyron commented on #9297
Pinging @cameel here since he seems to be looking into this as well.

[2020-07-03 12:01] thegostep commented on #8210
Also seeing this error with dynamic sized memory arrays.

[2020-07-03 13:56] Reuvens commented on #8541
Hi @chriseth ,
Are you talking about libsolidity/interface/CompilerStack.cpp ?
I only see 2 occurrences of it, or are you talking globally, if so, where?

Thanks,
Reuven.

[2020-07-03 15:25] bshastry opened #9308 "[Yul] optimiser step CSE produces syntactically incorrect code"
## Description

This test passes but it should not. Related to #9301 in that the fuzzer found this test case first which led @ekpyron to propose the test case in the related issue.

[code]

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-07-03 15:32] ekpyron commented on #9308
For the record: even if we just syntactically disallow ``x_1, x_1 := f()`` (which would solve this issue), it may still be worth to independently have a look at the CSE to make sure that the cause of this is rendered harmless with disallowing it.

[2020-07-03 15:33] ekpyron commented on #9308
Or put differently: the CSE could use some kind of assertion here instead of just happily producing invalid code, no matter if we disallow these cases from ever occurring or not.

[2020-07-03 16:33] bshastry commented on #9296
May be related to #8817

[2020-07-03 16:45] agroce commented on #9296
Seems plausible. Depends on whether the need for the `(d)` parens is similar to the presumed need for `c` in your example to be an array index...

[2020-07-03 19:39] bshastry commented on #9296
Thank you for reporting the issue once again @agroce !

[2020-07-03 22:51] cameel commented on #9258
There are some things that need further discussion. Maybe we need another call (not urgent though - none of this is a blocker for me at this point). Below I gathered the main issues from my discussion with @ekpyron on Gitter, with relevant quotes, for later reference.

1. We need a final decision on eventually replacing manual releases with an action that generates PRs. We agreed not to do it in t

[2020-07-05 19:18] ekpyron commented on #9258
As proof-of-concept I have brotli-compressed the 0.6.10 binary, pinned it to IPFS and temporarily put up https://test.ekpyron.org/ipfsTest.html for loading and decompressing it (using an in-browser IPFS node and in-browser brotli implementation).
The result for me is in the range of 5-10 seconds loading time. The first load was significantly slower (since the file had to distribute through IPFS).

[2020-07-06 13:28] chriseth commented on #8541
Yeah, you are right, it is probably not too common. Thanks for checking!

[2020-07-06 13:28] #8541 closed, assigned to nobody

[2020-07-06 14:44] chriseth commented on #9299
Connected to this: We actually now also allow calldata parameters in construcotrs :)

[2020-07-06 15:06] hrkrshnn commented on #8061
@christianparpart Can you clarify "should also touch VariableDeclaration (wrt. isConstant)."?

[2020-07-06 15:52] agroce opened #9322 "[SMTChecker] ICE in smtutil::Expression solidity::frontend::smt::EncodingContext::newValue(const frontend::VariableDeclaration &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.6.11-develop.2020.7.3+commit.88913132.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environment

[2020-07-06 16:30] leonardoalt commented on #9322
Thanks for reporting @agroce !
Which parens exactly do you mean? I don't see `(d)` in the code

[2020-07-06 16:34] chriseth commented on #9301
For the purposes of the fuzzer, it might make sense to extend the `m_debug` flag in the OptimiserSuite to run the analyzer on the ast after each step (in the `OptimiserSuite::runSequence` function)

[2020-07-06 16:44] agroce commented on #9322
oops, copy paste problem, will edit!

[2020-07-06 17:06] bshastry commented on #9301
Right now, I'm running analyzer + interpreter after a randomly chosen step on random yul code.

[2020-07-06 17:12] axic opened #9327 "Disallow language tokens in Yul optimiser steps (NameDispenser, VarNameCleaner)"
Ref: https://github.com/ethereum/solidity/pull/9323#discussion_r450350277

[2020-07-06 17:48] axic opened #9330 "Introduce restricted keywords in yul::Dialect"
Ref: https://github.com/ethereum/solidity/pull/9323#discussion_r450350277

`EVMDialect`  should include all the disabled opcodes as restricted keywords so that they cannot be used as identifiers (to declare functions, for example). Such opcodes include `jump`, `jumpi`, etc.

[2020-07-06 18:57] leonardoalt commented on #8817
The reason is different, but the assertion failure is the same, so let's just keep it here in this issue.

[2020-07-07 08:29] chriseth opened #9332 "Expose sub-structure of bytecode"
### Current specification

[Bytecode Structure Output](https://notes.argot.org/@solidity-bytecode-structure-output)

Read the spec for full detail. Here I'll include only the example which well illustrates the end state of the `--bin-structure` output that we want to achieve:
[code]

---

### Old description

@alcuadrado and others proposed to expose the boundary between code and data in the emitt

[2020-07-07 09:05] #9299 closed, assigned to chriseth

[2020-07-07 09:27] bshastry commented on #9308
I think the syntactically invalid replacement happens here

https://github.com/ethereum/solidity/blob/d72aae20aa356c10a1966a1a2c7d6f36863a2381/libyul/optimiser/CommonSubexpressionEliminator.cpp#L107-L111

because of
  - https://github.com/ethereum/solidity/blob/d72aae20aa356c10a1966a1a2c7d6f36863a2381/libyul/optimiser/SyntacticalEquality.cpp#L51-L55 returning true
  - AND the function call being p

[2020-07-07 09:32] axic commented on #9332
Why not merge this and the `linkReferences` too?

[2020-07-07 09:46] chriseth commented on #9258
1. I never had any problems with that local checkout

2. at some point we should shut it down forcefully, I would say - that's the only way to move people over. For now, not updating the list might actually be a solution, at least people start wondering. At least we should already make people aware now and fix our urls.

3. I think we should keep the schema backwards-compatible as much as possible

[2020-07-07 10:07] chriseth commented on #9332
We could also add the information about the functions.

[2020-07-07 10:20] chriseth commented on #9308
I don't understand this issue - the test _starts_ with `x_1, x_1 := f()`, right?

The issue here is that we do not have a good definition of the semantics of `x_1, x_y := f()` - is it?

[2020-07-07 10:21] #8839 closed, assigned to chriseth

[2020-07-07 10:21] #8691 closed, assigned to hrkrshnn

[2020-07-07 10:31] bshastry commented on #9308
I think the issue is that disallowing `x_1, x_1 := f()` as we now do, will not hide a more serious dormant issue somewhere in CSE.

I do not yet fully understand why CSE simplified `let x_2, x_3 := f()` with `let x_2, x_3 := x_1`

[2020-07-07 10:56] axic opened #9337 "Ether units: drop finney and szabo"
Follow up of #8716.

Pro:
These two units do not seem to be used.

Con:
The current units seem to be spaced out quite nicely:
[code]

[2020-07-07 10:57] axic commented on #8716
Since `gwei` was added and created a new issue, #9337, to track removal of finney and szabo.

[2020-07-07 10:57] #8716 closed, assigned to Marenz

[2020-07-07 10:57] axic commented on #8911
Default inheritance of events does not seem to be working with #9267.

[2020-07-07 10:58] Marenz commented on #8911
natspec inheritance with events doesn't work because we never fill their "baseFunctions" variable in the callableannotation
and they seem to be generally a bit "outside" our inheritance logic/topic as you can specify events with the same name but different parameters in base/child

[2020-07-07 11:52] chriseth commented on #9337
I would approve, but we should ask the community.

[2020-07-07 11:58] Marenz commented on #9337
Instead of removing we could replace them with
* Szabo -> Microether/ Micro (factor: 12)
* Finney -> Milliether / Milli (factor: 15)

taken from http://eth-converter.com/extended-converter.html

[2020-07-07 12:24] axic commented on #9337
That website seems to base the units on https://github.com/ethereumjs/ethereumjs-units/blob/master/units.json. This was collection of units based from various sources at the time.

I don't think any of those units are used by anyone. I would strong vote against "micro" and "milli" in any case as those can be mistaken for anything.

[2020-07-07 12:24] chriseth commented on #9337
there is a point for gwei because it is really common for gas prices but for everything else, you could just use things like `1e12`

[2020-07-07 14:55] cameel opened #9343 "Tests for the classic genetic algorithm in yul-phaser are very slow"
## Description
Investigate, fix and re-enable tests disabled in #9342.

[My analysis posted on Gitter](https://gitter.im/ethereum/solidity-dev?at=5f0489a9a9378637e8b2215b):

## Steps to Reproduce
This should finish instantly:
[code]

[2020-07-07 15:06] axic commented on #3412
I think that is correct, but at the same time it just opens the door for unwanted mistakes. We should also decide how much we try to ensure people avoid mistakes vs. "somehow forcing them" to be more depending on tests and not the compiler.

[2020-07-07 15:46] bshastry commented on #9308
I think the missing exception was
https://github.com/ethereum/solidity/blob/4e55759144535c6e58df37bc4c6ea67b26531d97/libyul/optimiser/DataFlowAnalyzer.cpp#L82

What happened was that the DFA treated `x_1, x_1 := f()` as if it were `x_1 := f()`. This was then used to simplify the RHS of `let x_2, x_3 := f()` into `x_1` because that RHS is syntactically identical to the value assigned to `x_1`.

The

[2020-07-07 15:48] axic opened #9345 "Disallow dots in user-defined identifiers in inline assembly"
As a result of the discussion in #7646 we also agreed to disallow dots in user-defined identifiers in inline assembly (e.g. functions or variables with dots) and this allows using identifiers with dots to represent variables originating from Solidity, for example enums or storage variables (`.slot` and `.offset`).

This issue is tracking implementation.

[2020-07-07 15:48] axic commented on #7646
Closing this as the original issue was implemented. Created a new issue for the second part (user-defined in inline assembly) to track it: #9345.

[2020-07-07 15:48] #7646 closed, assigned to chriseth

[2020-07-07 16:16] axic commented on #6739
@mijovic Sorry missed the question. Do you mean that the path should always be relative to the current object
a) and not be an absolute path
b) not include the object itself

I agree with a), but not sure about b).

@ekpyron @chriseth any opinions?

[2020-07-07 16:20] axic commented on #8556
@leonardoalt do you have an example case?

[2020-07-07 16:22] axic commented on #6842
@Marenz what is left here?

[2020-07-07 16:26] KPrasch opened #9346 "[CLI] --base-path unexpectedly effects both import and source URLs"
Hello all - Thanks for all the hard work on solc and taking the time to look at this Issue!

## Description

I am trying to utilize `--base-path` to reduce a large number of import remappings in the compiler configuration required in my project. When using `--base-path` I expecteded that only contract imports would be effected but solidity source URLs are *also* prepended with base path (as far as

[2020-07-07 17:04] Marenz commented on #6842
I just checked the remaining unchecked points and it seems they all work

[2020-07-07 17:04] Marenz commented on #6842
I've added a few more tests in #9347 to validate it

[2020-07-07 17:18] leonardoalt commented on #8556
@axic Should have posted then... don't remember right now. Will take a look. Maybe @chriseth knows what I was talking about?

[2020-07-07 17:28] chriseth commented on #8556
There are quite some cases - array allocation for example (unless called from abi decoder).

[2020-07-07 17:29] chriseth commented on #6739
What is easier for the code generator? Having to use `A.` all the time seems a bit redundant.

[2020-07-07 19:00] axic opened #9351 "Support compiling GnosisSafe with the IR"
This source: https://github.com/solidity-external-tests/safe-contracts/tree/development_060

Missing feature: calldata to memory array copy (`address[] calldata -> address[] memory` and `bytes calldata -> bytes memory`) aka #8844.

[2020-07-07 22:09] haltman-at commented on #9278
Also just to be clear -- I think it makes sense to fix this particular issue *before* sorting out how to handle this problem more generally.  Like right now it's malformed and not even consistent (the one benefit of this way is rendered moot by the fact that structs *don't* work this way -- not that they should (OK, it's also rendered moot by other factors as mentioned above)).  May as well handle

[2020-07-08 03:32] sacgrover commented on #9220
Hey,
I would like to work on it. Do you have any more information about it?

[2020-07-08 08:22] chriseth commented on #9220
@sacgrover thanks for wanting to help out! I think what @axic meant is adding the appropriate
[code]
to all source files of the compiler that are GPL-3-licensed.

[2020-07-08 08:36] chriseth commented on #9308
So can this be closed now or not?

[2020-07-08 08:39] sacgrover commented on #9220
Okay, Thanks. I will dig into it more. Please assign this to me.

[2020-07-08 09:19] bshastry commented on #9308
Fixed by #9321

[2020-07-08 09:19] #9308 closed, assigned to nobody

[2020-07-08 09:47] sacgrover commented on #9220
One Question, SPDX-License-Identifier will always be GPL-3.0 or it can have different value?
and when we say source files. Does it mean abis json that get created?

[2020-07-08 09:58] axic commented on #5474
I think a better name would be `YulCompiler`.

[2020-07-08 10:18] axic commented on #7795
Fizzy has a simplified implementation for pre-C++20: https://github.com/wasmx/fizzy/pull/404

But I'm sure there is some polyfill project for it already.

[2020-07-08 11:12] bshastry opened #9356 "[Fuzzer] Avoid more than one reference to the same variable in yul multi variable assignment statement"
## Abstract

Post #9321 , `x, x = f()` is no longer syntactically valid. This issue tracks support for disabling such statements in the yul proto fuzzer.

[2020-07-08 11:16] ekpyron commented on #9258
Note from gitter discussion this morning:
Once we tackle windows builds we should:
1. Decide which binaries go into the archive - soltest.exe doesn't really make sense - the upgrade tool on the other hand might...
2. Figure out whether we can build without depending on Visual Studio C++ Redistributable runtimes (msvcp*.dll).
    Might not be possible. Regarding @chriseth's question earlier: "Why d

[2020-07-08 11:32] chfast commented on #7795
In C++17 you can use `string_view` for that.
[code]

But as I remember correctly, `vector_ref` has additional methods.

[2020-07-08 11:37] ekpyron commented on #7795
Changing ``bytes`` from a vector to a string might also complicate things elsewhere... but maybe not! Interesting suggestion in any case :-)!

[2020-07-08 14:07] chriseth commented on #8992
Implemented in #9180

[2020-07-08 14:07] #8992 closed, assigned to chriseth

[2020-07-08 14:38] chriseth commented on #9332
discussion: linkreferences and immutables should be in the same structure as "information about a section of the bytecode"

[2020-07-08 14:45] chriseth commented on #9332
Main open question:
 - should it be nested?
 - what are the use-cases?

[2020-07-08 14:49] axic commented on #9332
If we have this feature we may consider getting rid of `deployedBytecode` in the JSON I/O because it could be derived based off it.

The question then is how to deal with the source map, but perhaps it is also possible to have a single large source map (the one for the `bytecode`) and slice it based off this structure.

[2020-07-08 14:56] chriseth commented on #9282
Shadowing: if there is a file-level inline-assembly function `f`, then no contract can be named `f`.

[2020-07-08 15:04] axic commented on #9282
Some relevant issues from the past:
- #1319 -- pretty much the same
- #474 -- malloc helper
- #7317 -- require helper

[2020-07-08 15:05] chriseth commented on #9282
Exactly, this is a solution to the problem in #1319.

[2020-07-08 15:14] ekpyron commented on #9282
To be more precise about importing: Namespaces could be introduced using import statements to get qualified functions like ``A.f`` (using ``import f from file.sol as A``). This won't cause conflicts now, since dots are now reserved in inline assembly and have to refer to things in the solidity scope anyways.

To be more precise about the shadowing: yul functions in file-level blocks would occupy t

[2020-07-08 15:27] mijovic commented on #6739
I would allow from user side to do `A.`, but internally would use it as relative path without object itself, in this case `A.`

[2020-07-08 15:30] axic opened #9358 "Remove the ripemd160 builtin"
This was discussed in the past and also briefly mentioned here: https://github.com/ethereum/solidity/issues/8880#issuecomment-626674881

The `ripemd160` builtin has been there since the beginning because, but 1) it never caught any real use; and 2) we do not expose every precompile in the language (for example ecadd/ecmul/ecpairing and blake2b are not exposed).

[2020-07-08 15:58] chriseth commented on #9358
What about sha256?

[2020-07-08 16:00] axic commented on #9358
`keccak256` is widely used today, and `sha256` is picking up because of its use in Eth2.0 and other protocols.

[2020-07-08 16:01] axic commented on #5167
Does an ascii string allow unicode escape?

[code]

[2020-07-08 16:06] chriseth commented on #9358
maybe group them in a common namespace?

[2020-07-08 16:06] chriseth commented on #5167
Yes, we said unicode escapes in default strings are fine, but not unicode characters.

[2020-07-08 16:09] #6842 closed, assigned to nobody

[2020-07-08 16:17] ekpyron commented on #7966
@axic You asked me to go through the Instruction list:

``RETURN`` and ``STOP`` might be something to think about... maybe ``RETURNTX`` or ``TXRETURN`` would be nicer - but I don't like either of them visually...
But then we'd also need ``TXABORT`` or ``TXINVALID`` and ``TXREVERT``... which starts getting silly...

So probably better no explicit `TX` for those, but then referring to the transactio

[2020-07-08 16:32] axic commented on #9358
I considered that we should move all/most of our builtins into new namespaces and have the contract explicitly import them, for example `sha256`, `keccak256`, `ecrecover` under `crypto`:
[code]

[2020-07-08 16:42] #4024 closed, assigned to chriseth

[2020-07-08 16:58] alcuadrado commented on #9332
This would be very useful. I don't have an opinion about merging those things, nor the format. As long as the info is available in a clear way I'm fine.

[2020-07-08 17:22] #526 closed, assigned to nobody

[2020-07-08 18:40] axic commented on #7530
What is the status here? Do we want to start omitting such library functions from the ABI in 0.7.0?

cc @chriseth @ekpyron

[2020-07-08 18:59] axic opened #9363 "Disallow subsequent declarations of function call options (e.g. {value=1}{gas=2})"
This discussion was prompted by #9334.

Subsequent overwriting of the same setting is already disabled, e.g.
[code]
are all invalid.

[2020-07-08 19:07] axic commented on #9330
This could be considered non-breaking but a "safety motivated" bugfix as well.

[2020-07-08 19:17] alcuadrado commented on #9332
I realized that my answer may be pretty ambiguous. I think it would be very useful to also have data about the other elements. I didn't mention those, as I've never had a use for them, but my experience is limited, and I'm sure there are valid uses.

tbh I really like having one structure for each bytecode, both with the same type, as they are now.

[2020-07-08 19:41] #9120 closed, assigned to chriseth

[2020-07-08 20:07] chriseth commented on #5810
This really reminds me of the decompiler project that just has a combined "mask and shift" concept.

[2020-07-09 09:41] ekpyron opened #9369 "Drop backwards compatibility from and fix Solidity Antlr grammar"
Came up in https://github.com/ethereum/solidity/pull/9361.

I only now realized that the grammar is supposed to also parse older solidity versions, which involves adding weird workarounds for breaking changes.

I don't think this is a good idea. It renders the grammar less useful (having workarounds in the category will require similar workarounds for everyone actually using it to parse stuff) and

[2020-07-09 09:44] chriseth commented on #9369
I think we should have two grammars: One that is as close as possible to the current version and one that is as relaxed as possible, targeting different use-cases. I think there is already an issue about it, by the way.

[2020-07-09 09:48] leonardoalt commented on #9369
What use cases would those be?

[2020-07-09 09:50] ekpyron commented on #9369
I searched for existing issues involving ``grammar`` and ``antlr`` and didn't find anything...

Two grammars would be fine, but what's "as relaxed as possible" - a grammar that's "as relaxed as possible" just treats everything as identifier and does nothing... I don't want to be nitpicking here, but we have to properly define what it should do... e.g. being able to parse 0.5+ would be reasonable.

[2020-07-09 11:33] bshastry opened #9370 "[Testing] Clean up ossfuzz cmake file"
There may be things that may be redundant in the ossfuzz cmake file e.g., include directive. See https://github.com/ethereum/solidity/pull/8305#discussion_r452083965 for context

Issue tracks support for cleanup.

[2020-07-09 12:45] bshastry commented on #9270
I was able to reduce this to the following multi source syntactic test case:

[code]

that throws

https://github.com/ethereum/solidity/blob/8548bf1b4c4080a0a9cc5bc69ddf78d948301541/libsolidity/codegen/CompilerUtils.cpp#L1435

To reproduce

[code]

[2020-07-09 13:27] #9356 closed, assigned to bshastry

[2020-07-09 13:40] #7947 closed, assigned to bshastry

[2020-07-09 14:11] chriseth commented on #9220
If the license snippet in that file is gpl, then it is gpl. I think we might also have some mit files.

[2020-07-09 14:41] chriseth commented on #8188
Implemented in https://github.com/ethereum/solidity/pull/9284

[2020-07-09 14:41] #8188 closed, assigned to Marenz

[2020-07-10 08:54] bshastry commented on #9233
FWIW syntax of `(((,))) = ((2),3)` seems to be
  - LHS: tuple of tuples of tuples
  - RHS: tuple of tuples

How is this syntactically valid since RHS has one fewer tuple dimension? I'm worried if this is rather a bug in the parser and not SMT Checker.

Edit: The following parses successfully (note: without smt checker pragma)

[code]

[2020-07-10 08:57] leonardoalt commented on #9233
I think the way this is interpreted on the LHS is that if you have a tuple of one element, you can discard the outer tuple. This happens to the first 2 levels of the LHS, ending up with a tuple of 2 elements, which fits the RHS.

[2020-07-10 08:58] leonardoalt commented on #9233
Whether this should be the accepted behavior or not I'm not sure.

[2020-07-10 13:57] leonardoalt opened #9379 "[SMTChecker] Format array counterexamples nicely"
https://github.com/ethereum/solidity/pull/9352 reports multi-tx counterexamples but only for value types.
We could also try to format arrays.
Example counterexample:
[code]
[code]

Array cexs are usually reported as first a const array, in this case all zeroes, followed by stores to specific locations. The length is also there.
In this case, it could be reported as:
[code]

[2020-07-10 14:07] leonardoalt opened #9380 "[SMTChecker] Run counterexample with our semantic test framework"
When CHC reports a multi-tx counterexample, we could verify that counterexample via our semantic test framework.

[2020-07-10 14:12] ddeclerck opened #9381 "Typechecker should not allow function application with named arguments on the result of a ternary operator"
Consider the following contract:
[code]

It is accepted by the typechecker, although we know for sure that the function that will be called is `h`, which does not have an argument named `y`.

While `(false ? g : h)` is well-typed (`g` and `h` have the same signature), the argument names can no longer be statically determined (in particular if the condition is more complex than a simple `false`), s

[2020-07-12 19:05] leonardoalt opened #9385 "[SMTChecker] CHC analyze external calls to `this`"
Currently external calls treat the called function as unknown code, but if the called address is `this` we can trust the code.

[2020-07-13 09:07] ekpyron commented on #9369
That would be an interesting question indeed. If it's only to be able to parse the version pragma, then I'd argue that's not a good use case for a grammar at all - not sure what other use cases there could be?

[2020-07-13 09:12] chriseth opened #9386 "evmasm::Assembly::optimise() is not used for the assembly stack"
Should we at least run the peephole optimizer?

[2020-07-13 09:16] ekpyron commented on #9386
Relates to https://github.com/ethereum/solidity/pull/9378 which will generate ``DUP* SWAP* POP`` sequences.

[2020-07-13 09:39] bshastry opened #9389 "[Error reporter] Null pointer dereference due to non existent source location"
## Description

[code]

Null deref originates from here:

https://github.com/ethereum/solidity/blob/c90d3a35581db318d745fbc3f2e439ef4f68ed04/liblangutil/ErrorReporter.cpp#L70

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-07-13 09:58] ekpyron commented on #7369
I probably won't get around to finish this this month, so I'm unassigning myself.
I could push the part I have, i.e. removing the command line options itself, but that can be re-done quickly anyways - the main part of this will be to have a look at all other usages of the old error reporter outside the CLI and check if we can and want to replace those by the new one as well (which would be a prere

[2020-07-13 11:11] chriseth commented on #9270
This is the problem about different ABIEncoder pragmas in different source files.

[2020-07-13 11:23] ekpyron commented on #8157
To summarize the current state of this: we want to switch from the namespace being called ``Module`` to calling it ``Solidity`` with 0.7.0.

We'd like to get some input about this from everybody who uses ``soljson.js``, though. If you let ``solc-js`` load ``soljson.js`` directly (which might be the case when running on node-js), then we can deal with the renaming inside ``solc-js``.
But if you man

[2020-07-13 11:42] ekpyron commented on #9369
To document that here: There's quite a few things wrong with the current grammar in general.
E.g. in inline assembly ``switch return {}`` seems to be fine - identifiers are considered function calls (although this might change in https://github.com/ethereum/solidity/pull/9285), etc.

[2020-07-13 11:52] bshastry opened #9391 "[yul] interpreter: Make create and create2 output a value of type u160 instead of u256"
## Description

Let `U160_MAX` be equal to `0xffffffffffffffffffffffffffffffffffffffff`, then

[code]

will generate different yul interpreter trace for unoptimised and optimised code because of the following:
  - Optimiser rule switches `and(U160_MAX, create(...))` (create2 is also affected) with `create(...)` (respectively `create2(...)`) under the assumption that `create(...)` (respectively `cr

[2020-07-13 12:02] juanfranblanco commented on #8157
@ekpyron great points, I load normally different compiler versions dynamically, (node) users might have already stored them locally (cache or downloaded), but the crwap method is already part of the compiler when you call ```setupmethods``` in the wrapper, so i don't think that it will be an issue in general. Now.. my guess is that loading remotely in the browser may require all previous compilers

[2020-07-13 12:25] leonardoalt opened #9393 "[SMTChecker] CHC counterexample: report subcalls (internal and reentrant)"
[code]

CEX:
[code]

As you can see, the state is modified according to `D.d` calling `C.inc` twice, which is not shown in this cex. However, this information is present in the counterexample graph (in the `nondet` predicates):
[code]

Ideally, the reported cex would be similar to:
[code]

[2020-07-13 12:30] ekpyron commented on #8157
We won't really nicely be able to change the previous compiler versions (for various reasons), that's the main issue with this.
So anybody who will want to support loading old as well as new compiler versions and relies on the name of this global, will need to support this on their end - that's why we're trying to reach out now to check, if that's acceptable to everyone :-).

[2020-07-13 12:43] bshastry opened #9395 "[Fuzzer] Enable signed conversion errors for all fuzzer files other than protobuf auto-generated ones"
## Abstract

Post https://github.com/ethereum/solidity/pull/9082, signed conversion errors inside *all* source files within fuzzer targets get ignored. This issue tracks support for disabling signed conversion checks for only those files that are auto-generated by protobuf.

[2020-07-13 13:42] chriseth opened #9396 "Disallow variable declaration using `var` in the parser"

[2020-07-13 13:44] chriseth commented on #3421
Fixed in https://github.com/ethereum/solidity/pull/9326

[2020-07-13 13:44] #3421 closed, assigned to chriseth

[2020-07-13 14:16] axic commented on #9396
Which parser?

[2020-07-13 15:35] #4471 closed, assigned to nobody

[2020-07-13 16:46] chriseth commented on #9169
Fixed by https://github.com/ethereum/solidity/pull/9285

[2020-07-13 16:46] #9169 closed, assigned to nobody

[2020-07-13 16:47] chriseth commented on #9345
Implemented in #9291

[2020-07-13 16:47] #9345 closed, assigned to nobody

[2020-07-13 16:50] chriseth commented on #9337
Implemented in https://github.com/ethereum/solidity/pull/9361

[2020-07-13 16:50] #9337 closed, assigned to ekpyron

[2020-07-13 17:04] frangio opened #9399 "Reconsider constructor visibility for 0.7"
One of the planned changes for 0.7 is "Constructors should not have visibility". This change forces libraries like OpenZeppelin to publish a new release removing constructor visibilities, but since they are required for 0.6 it also requires bumping the pragma to 0.7, which is a breaking change and forces us to release a new major version (or to break semantic versioning, which we strongly prefer n

[2020-07-13 17:10] leonardoalt opened #9400 "[SMTChecker] CHC support to environment variables"
Currently CHC does not propagate env vars such as `msg.sender` etc. This causes false positives.
We could implement `env` as a tuple and always propagate it throughout the predicates.

[2020-07-13 17:41] chriseth commented on #9399
We actually implemented it just as a warning (as long as it is compatible with the "abstractness" of the contract). We can talk about even removing this warning, but I fear that this will only postpone the problem by another Solidity version.

The cleanest solution, in my opinion, would be to maintain one OpenZeppelin library per Solidity version. This would maybe also help us since we are already

[2020-07-13 17:50] chriseth commented on #9396
The solidity parser.

[2020-07-13 18:06] frangio commented on #9399
Oh I'm glad to hear it's just a warning. Then we should talk about removing the warning.

Yes, but that's good! I think this is about giving the ecosystem more time to adapt and reducing the potential fatigue from the tooling introducing incompatibilities too often.

This would be pushing all of the burden on us as maintainers, and it would not be an easy job. Any syntactic breaking change makes b

[2020-07-13 18:29] chriseth commented on #9399
References https://github.com/ethereum/solidity/issues/8992 https://github.com/ethereum/solidity/issues/4392 https://github.com/ethereum/solidity/issues/8162

[2020-07-13 18:58] ekpyron commented on #8157
Since we put out the word already and linked this issue, let me add this as a note:

We'd still be considering *not* to do this, in case overall this turns out to be more trouble than it's worth.
So feel free to let us know, in case you think this is a bad idea in general.

We're still not entirely sure ourselves, under which circumstances the namespace being called ``Module`` is actually a proble

[2020-07-13 20:32] axic commented on #7622
This was attempted in #7641. Now that handling dots is decided, we could consider this again.

[2020-07-13 20:34] axic commented on #6905
I tried `-Wconversion` and I think it will detect more issues than `-Wsign-conversion`, but at least they seem very complimentary.

[2020-07-13 21:27] axic commented on #9396
We still have `var`?!

[2020-07-13 21:31] ekpyron commented on #9396
The idea was that while it'll result in an error, that error message will (if possible) tell you which type you can use... I'm actually not sure that it doesn't even make sense to keep it for that purpose even now...

[2020-07-13 21:53] axic commented on #9396
I prefer to remove parser workarounds in 0.7.0 when we can.

[2020-07-13 22:00] juanfranblanco commented on #8157
@ekpyron I had this problems in the past where other web assembly components have been registered and use Module as the main namespace, when loaded they will "compete" with each other overwriting their space. This has made it impossible to integrate with both. In my context I have seen this (although it might been resolved now as they might have also changed their namespace) with: mono-wasm (.net

[2020-07-13 22:19] ekpyron commented on #8157
How exactly were you loading soljson.js and the other modules? Using ``<script>`` tags? I'm wondering, since I think at least chrome will reject the wasm compilation outside of web workers, so we generelly expect the loading to take place within web workers.

[2020-07-13 22:33] ekpyron commented on #9396
What I'm saying is that arguably it's a compiler feature, not just the relic of an old parser workaround...

Especially for things like function pointers it can be quite handy to be able to write `var x = f;` or `var x = this.f;` to have the compiler tell you how you have to name the type for those.

If it only was a parser workaround, we should definitely remove it, but I'd argue it's not.

[2020-07-13 23:02] ekpyron commented on #9396
I'm not saying we necessarily shouldn't remove it - we can decide that we don't need this as a feature, but it's not just some leftover workaround.
By the way: not sure removing it is actually breaking in any way :-).

[2020-07-14 00:36] Changochen opened #9404 "Segfault in solidity::langutil::SourceLocation"
## Description
Consider the following POC:
[code]

Run with `solc --bin -o poc poc.sol` with an solc built with asan and we got
[code]
## Environment

- Compiler version:Version: 0.6.12-develop.2020.7.13+commit.0212a16b.Linux.g++
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: U

[2020-07-14 07:57] ekpyron commented on #9396
https://github.com/ethereum/solidity/issues/9404 actually being a proper segfault which is probably caused by ``var`` speaks for removing all of it fast, though :-).

[2020-07-14 08:30] chriseth commented on #9396
@ekpyron that issue is actually where I got the idea :)

[2020-07-14 09:34] ekpyron commented on #9396
Can I borrow your time machine :-)?
EDIT: but yeah, I thought it probably wasn't a coincidence.

[2020-07-14 10:06] axic commented on #6905
I did fixes for `-Wconversion` in most of the places except `libevmasm` and `tests`, will push a PR later today.

[2020-07-14 11:30] #9404 closed, assigned to ekpyron

[2020-07-14 12:11] chriseth commented on #9396
Ah no, it was another bug that is also related to `var`.

[2020-07-14 12:14] axic commented on #9389
@ekpyron @chriseth Was this a "duplicate" of #9404?

[2020-07-14 12:16] ekpyron commented on #9389
Ah, yes, I think so! That would be @chriseth's time machine then :-)! (https://github.com/ethereum/solidity/issues/9396#issuecomment-658079520)

[2020-07-14 12:17] ekpyron commented on #9389
So I think this was also fixed in https://github.com/ethereum/solidity/pull/9406.
Please reopen if you think I'm wrong.

[2020-07-14 12:17] #9389 closed, assigned to nobody

[2020-07-14 12:18] chriseth commented on #8061
Closed by https://github.com/ethereum/solidity/pull/9405

[2020-07-14 12:19] ekpyron commented on #9396
I think they were duplicates.

[2020-07-14 12:20] axic commented on #9396
Apparently the message is displayed is not correct (in all cases):

The `pointer` keyword is not valid.

[2020-07-14 12:20] axic commented on #7787
I though this could be a duplicate of #9404, but even after it, this crashes.

[2020-07-14 12:21] ekpyron commented on #9396
Yeah, I saw that, too :-). If we want to keep it, we have to fix stuff like that I guess...

[2020-07-14 12:21] axic commented on #9389
This looks like the same example and it indeed passes without crash.

[2020-07-14 12:23] chriseth commented on #9396
You get type suggestions by just assigning it to a random incorrect type.

[2020-07-14 12:31] ekpyron commented on #9396
Unless that random type happens to be implicitly convertible to the actual type... but yeah... as I said, I'd be fine with dropping it.

[2020-07-14 12:38] axic commented on #9270
Duplicate of #8379 then?

[2020-07-14 12:40] axic commented on #8577
If we adjust the error message, I suggest to change it from

to

@chriseth @bshastry @ekpyron comments?

[2020-07-14 12:41] axic commented on #8727
@Marenz what was the resolution of this? Is @a3d4's #9007 the solution?

[2020-07-14 12:43] ekpyron commented on #8577
Why not :-).

[2020-07-14 12:58] #8061 closed, assigned to hrkrshnn

[2020-07-14 13:03] chriseth commented on #9270
maybe

[2020-07-14 13:16] axic commented on #5167
While implementing I had realised a few things: it is quite a large change allowing escapes in non-unicode literals, because the scanner just turns the escape into codepoints.

First thought implementation should have no effect on the design, but this I think is a useful consideration:
1. Hex string literals can contain any kind of data (ascii, unicode, etc.)
2. Regular string literals (i.e. `"hel

[2020-07-14 13:37] axic commented on #9099
This fixed in develop.

[2020-07-14 13:37] #9099 closed, assigned to a3d4

[2020-07-14 13:51] juanfranblanco commented on #8157
Hi we are talking about a few months back, so it may have changed but yeah it was the script tag. An example of the conflict can be seen here with mono-wasm and the Nethereum playground:
![image](https://user-images.githubusercontent.com/562371/87433330-1773cd00-c5e1-11ea-8f00-68467d8d2807.png) also not Nethereum related using as well mono-wasm (they need to change their namespace too!, I have alr

[2020-07-14 13:55] #8577 closed, assigned to nobody

[2020-07-14 14:57] leonardoalt opened #9413 "[SMTChecker] Standard compiler option to choose SMTChecker engine"

[2020-07-14 15:30] leonardoalt opened #9414 "[SMTChecker] Refactor CHC predicates"
The predicates in CHC should be refactored into their own class which would contain the `Sort,` `SymbolicVariable`, `ASTNode`, potential concrete values for its arguments and how to format them as counterexample.

[2020-07-15 00:09] a3d4 commented on #8727
@axic
I believe #9007 is a possible way to fix it. But I'm not completely satisfied, as it looks a bit bulky and disproportional. I'm still looking at alternatives.

[2020-07-15 09:20] #9213 closed, assigned to nobody

[2020-07-15 09:39] franzihei commented on #9369
Also dropping this here in case we need it later wrt use cases:

The ANTLR grammar is currently used by [Solidity Parser for JavaScript](https://github.com/solidity-parser/parser), which is used by

* [sol2uml](https://github.com/naddison36/sol2uml)
* [Solhint](https://github.com/protofire/solhint/)
* [solidity-coverage](https://github.com/sc-forks/solidity-coverage)
* [prettier-solidity](https://

[2020-07-15 14:30] ekpyron commented on #9396
This we could have quickly discussed in the call today as well :-). I'm fine with anything - removing it or fixing its suggestion mechanism.

[2020-07-15 16:15] leonardoalt commented on #5380
This has been implemented and we have tests for it.

[2020-07-15 16:15] #5380 closed, assigned to nobody

[2020-07-15 16:17] leonardoalt commented on #7204
We have implemented the solver switch which is used by some test cases that require a specific solver.

[2020-07-15 16:17] #7204 closed, assigned to nobody

[2020-07-15 16:38] agroce opened #9425 "[SMTChecker] ICE in solidity::frontend::SMTEncoder::mergeVariables(const set<const solidity::frontend::VariableDeclaration *> &, const smtutil::Expression &, const solidity::frontend::SMTEncoder::VariableIndices &, const solidity::frontend::SMTEncoder::VariableIndices &) line 1709"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

Code is similar to #9322, symptom similar to #9296 (but different line of code in the function).

## Environment

- Compiler version:  0.6.11-develop.2020.7.3+commit.88913132.Linux.clang
- Target EVM version (as pe

[2020-07-15 16:38] franzihei commented on #9175
Here's a [first rough wireframe](https://docs.google.com/presentation/d/1pmxEp6tv4nH8hr4_I-YApPqtDG-Pa2i48uW7KR62ljM/edit?usp=sharing) which shows a structure and a proposal for topics I would add to the first iteration of the language portal.

**Please disregard design, colors and text** - this is only for imagining and deciding on which topics we want to include and how they could roughly be str

[2020-07-15 22:21] chriseth commented on #6482
Especially with functions and other symbols at file-level, I think we should reconsider this.

I really like the `export { symbolA, symbolB }` syntax with the following semantics:

 - if there is no `export` statement, export all symbols can be imported into other files (and will be with a "simple" import statement) - this is the current behaviour
 - mulitiple `export` statements are disallowed
 -

[2020-07-15 23:04] frangio commented on #6482
What is the argument for disallowing multiple `export` statements?

[2020-07-16 09:19] chriseth commented on #6482
@frangio I don't see a big benefit and the downside is that you might not see the second export statement and think that the identifiers in the first is all that is exported.

[2020-07-16 11:27] #9087 closed, assigned to nobody

[2020-07-16 12:02] #8670 closed, assigned to Marenz

[2020-07-16 12:08] #9101 closed, assigned to nobody

[2020-07-16 13:49] chriseth commented on #9063
Some more ideas: https://gist.github.com/chriseth/7f087fc42c4c2d115bc04b8fe6948d69

[2020-07-16 16:51] franzihei commented on #9175
## Updates
- Decided to go with **soliditylang.org** for now; I registered it already. We also still have solidity.ethereum.org, which could all eventually be merged / redirected into the portal vice-versa (later).
- Agreed on topics & content to go into the MVP portal version 0.1
- Will find a Jekyll theme and place content for a rough prototype next.

[2020-07-16 19:05] Changochen opened #9434 "Segfault in SMTEncoder::shortcutRationalNumber"
## Description
Consider the following POC:
[code]

Run with `solc --bin -o poc poc.sol` with an solc built with asan and we got
[code]
## Environment

- Compiler version:Version: 0.6.12-develop.2020.7.16+commit.f9753a51.Linux.g++
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: U

[2020-07-17 08:15] leonardoalt opened #9437 "[SMTChecker] Eventually bring back tests that were disabled"
In https://github.com/ethereum/solidity/pull/9426 (and other PRs) we have disabled/removed some SMTChecker tests because of z3's nondeterminism. Even though they are working on fixing some of these problems, we won't see a new release very quickly. So we disabled those tests on our side so that CI can agree with local dev, but we should check those tests when there is a new z3 release.

[2020-07-17 08:21] leonardoalt commented on #9434
Thanks for reporting!

The bug is triggered in the SMTChecker, exactly this line:
`if (_expr.annotation().type->category() == Type::Category::RationalNumber)`

However, gdb shows that
[code]
So it looks like the TypeChecker isn't filling the type of the expression properly.

[2020-07-17 09:47] sevenbitsankit commented on #3071
getting same error on Ubuntu. Can anyone help ?

[2020-07-17 10:15] #9434 closed, assigned to nobody

[2020-07-17 10:47] 3esmit opened #9439 "abi.decode does not decode selector"
## Description

I am trying to update my contracts from older solidity, and I want to benefit from abi.decode.

However, the abi.decode fails within my data type `(bytes4, bytes32, address, bytes32, bytes32)` which is encoded with selector.

## Environment

- Compiler version: all that support abi.decode

## Steps to Reproduce

[code]

[2020-07-17 10:54] chriseth commented on #9439
`abi.decode` is the converse of `abi.encode`. From the fact that you are using `bytes4 sig` I assume that you are trying to do abi decoding and function selector decoding at the same time. This won't work because the abi encoding pads all types to 32 bytes, while the function selector is not padded.

If you change `_data` to `bytes calldata`, then you can use the following to decode: `abi.decode(_

[2020-07-17 11:14] 3esmit commented on #9439
Thanks for the fast response and for enlightening my issue. Yes, that's exactly what I am trying to do.

In case I need to check the sig, how could I extract the bytes4? Maybe is a case of having a decodeWithSignature?

As this looks like a common use case, perhaps some "note" in documentation would be helpful.

[2020-07-17 11:21] axic commented on #9439
`msg.sig` can be used to acquire the signature.

[2020-07-17 11:23] 3esmit commented on #9439
Not for my usecase, because the _data being decoded is passed as a parameter, and `msg.sig` is related to `approveAndCall`.
See:

[code]

[2020-07-17 11:24] axic commented on #9439
If you use `bytes calldata data` as suggested by @chriseth then you can slice it `data[0:4]` (but there's still no support for converting `bytes` to `bytes4`).

This issue came up multiple times, not sure if we should consider introducing `decodeWithSelector`:
[code]
where the signature is not included in the type list on the right, but is returned.

[2020-07-17 11:37] 3esmit commented on #9439
I always have to use receiveApproval, so we don't have to use two transactions to pay from ERC20, and also we don't have to make a "approveAll" [(which recently caused a security bug in a DeFi project)](https://cointelegraph.com/news/bancor-discovers-critical-vulnerability-hacks-itself-to-prevent-theft).

For this example I posed above, the contract happens to only have one function that is "payab

[2020-07-17 12:59] axic commented on #9439
Well you can implement a simple helper for it:
[code]

(I may have confused byte order, but you get the gist of it)

[2020-07-17 13:01] axic commented on #9439
`abi.decodeWithSelector` was actually originally proposed, with the semantics I suggest above: https://github.com/ethereum/solidity/issues/3876#issuecomment-380894683

Not sure why it wasn't implemented.

[2020-07-17 13:54] 3esmit commented on #9439
That's very neat! Thanks for the tip!

Seems like no one opposed it, so perhaps it was just left to be implemented later?

[2020-07-17 14:23] 3esmit commented on #9439
@axic the byte shifting strategy works nice, here a test contract to compare all decoding costs:
And it's `bytes4 sig = _data[0] |  bytes4(_data[1]) >> 8 | bytes4(_data[2]) >> 16  | bytes4(_data[3]) >> 24;`, it needs to cast to bytes4 before shifitng, otherwise `byte` will just overflow. Also it should be shifted to the other side and direction. I'll use this strategy while the "decodeWithSelector

[2020-07-17 14:29] cameel commented on #9226
A little update on the progress here:
- Linux, MacOS and Windows binaries are now available in `solc-bin` repo. You can see the matrix of available versions in [my comment in #42](https://github.com/ethereum/solc-bin/pull/42#issuecomment-659770086)
    - We currently only have MacOS builds starting from v0.6.9 on but we're planning to build older versions and add them to `solc-bin` too.
- Due to s

[2020-07-17 14:31] 3esmit commented on #9439
BTW, I am not sure if decodeWithSelector is very useful to have the "selector being returned"... Because when I know the selector, I also know the data type, so first I need to get the selector and then decode.

[2020-07-17 15:08] axic commented on #9439
I think the preferred strategy should be:
[code]

Or

[code]

Where `0x12341234` is the expected selector.

Please not, neither of the above works currently, but you can do the shift trick.

[2020-07-17 15:55] alcuadrado commented on #9226
This is great news, @cameel! Thanks for the update.

[2020-07-17 17:55] martasaparicio commented on #49
Hi there. I'm writing a Smart Contract that follows the StateMachine and AccessRestriction common patterns of Solidity for my thesis.
I have this code:
`function nextStage() internal {
        stage = Stages(uint(stage) + 1);
    }
    modifier transitionNext()
    {
        _;
        nextStage();
    }
function rq_rentalCompleting() transitionNext {
  if(true){return true;}
  else {return false;

[2020-07-17 17:58] martasaparicio commented on #2105
Hi there. I'm writing a Smart Contract that follows the StateMachine and AccessRestriction common patterns of Solidity for my thesis.
I have this code:
[code]
So I would like to know if i can in same way get the retruned value of rq_rentalCompleting on the modifier transitionNext so i can change his behaviour accordingly on the nextStage function?
The link @lastperson shared is not working for me.

[2020-07-17 18:32] fulldecent commented on #49
`Stages(uint(stage) + 1)` is entirely unsemantic.

Please use explicit enums and refer to those named enums in code, like all other state machines do.

[2020-07-17 18:37] martasaparicio commented on #49
i will do that thanks!! mean while do you have any suggestion on how to receive a return value from a function into a modifier @fulldecent ?

[2020-07-17 19:02] fulldecent commented on #49
My answer will be application-specific. Please ping me from that project and let's discuss there.

[2020-07-17 19:09] Changochen opened #9441 "Second segfault in solidity::langutil::SourceLocation"
## Description
Consider the following POC:
[code]

Run with `solc --bin -o poc poc.sol` with an solc built with asan and we got
[code]
## Environment

- Compiler version:Version: 0.6.12-develop.2020.7.17+commit.d808302c.Linux.g++
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: U

[2020-07-17 20:16] chriseth commented on #9441
This is very likely solved by removing `var` in #9428

[2020-07-18 02:38] 3esmit commented on #9439
[code]

is more versatile.

[2020-07-18 14:08] junderw opened #9442 "Setting metadata.bytecodeHash to none still appends 12 bytes to the bytecode"
## Description

Setting `metadata.bytecodeHash` to `'none'` in my truffle-config.js under the `compilers.solc.settings` object still appends a 12 byte data piece to the bytecode.

`deploy_code[fe]contract_code[fe]a164736f6c634300060b000a`

I would expect that `bytecode` just becomes `deploy_code[fe]contract_code`. Please forgive me if my understanding of contract deployment bytecode is insufficien

[2020-07-18 17:11] Changochen opened #9443 "Stack overflow in solc due to recursive BFS"
## Description
Consider the following POC:
[code]

Run with `solc --bin -o poc poc.sol` with an solc built with asan and we got
[code]
## Environment

- Compiler version:Version: 0.6.12-develop.2020.7.17+commit.d808302c.Linux.g++
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: U

[2020-07-19 00:03] junderw commented on #9442
Ok, I now understand what it's doing. It is still adding the experimental and solc keys to denote which versions of solc etc. it used... This data is also not needed for our purposes.

I guess this issue is resolved... I have deployed some contracts without the CBORMetadata (removing it and its preceding 0xfe) and it deployed and worked fine.

https://github.com/ethereum/solidity/blob/76943023bd67

[2020-07-19 00:03] #9442 closed, assigned to nobody

[2020-07-19 21:05] WillMandrill opened #9444 "The maven compiler provides warnings that should not provide"
Hello

I have this contract
[code]

When I compile it with maven
[code]

The compiler on Eclipse fires this:

`WARNING] Definition of the function counter returns a value but is not defined as a view function. Please ensure it contains the view modifier if you want to read the return value
[WARNING] Definition of the function getCounter returns a value but is not defined as a view function. Please

[2020-07-20 08:59] bshastry commented on #9441
May be related to https://github.com/ethereum/solidity/issues/9389

[2020-07-20 09:32] bshastry opened #9445 "[Fuzzer] Enable multi source testing"
## Abstract

So far, the solc fuzzers only compile a single file. This issue tracks support for compiling multiple files (which may import each other) at once.

[2020-07-20 10:44] hrkrshnn commented on #9443
The patch should "fix" the issue. But the same problem would be valid for recursive structs passed as storage, the error message therefore isn't correct. Does it make sense to allow recursive structs passed as storage pointers? @chriseth

[code]

[2020-07-20 13:07] christianparpart commented on #8801
Sorry for the late response. I've been looking into this, and the official orb looks nice, but the interface between is very limited. That is, it allows us to *only* specify one path prefix that will be ignored during checking. Sadly the current `shellcheck` however has a long list of scripts that are actively ignored during testing.

In the longer run all those currently ignored scripts should be

[2020-07-20 13:26] #9220 closed, assigned to nobody

[2020-07-20 14:33] leonardoalt commented on #9437
https://github.com/ethereum/solidity/pull/9352 removed `types/mapping_aliasing_2.sol`

[2020-07-20 14:35] chriseth commented on #8801
In that case, I would say we just stay with the current way to test.

[2020-07-20 14:35] #8801 closed, assigned to christianparpart

[2020-07-20 14:37] chriseth commented on #9443
Can you check if this is fixed in the breaking branch?

[2020-07-20 14:40] chriseth commented on #9441
Closing as fixed by #9428 on the breaking branch.

[2020-07-20 14:40] #9441 closed, assigned to nobody

[2020-07-20 14:47] chriseth commented on #9444
This seems to be a problem with github.com/web3j/web3j - can you report the issue there? Thanks!

On the other hand, Solidity 0.7.0 will properly report state variable getter functions as `view`, so this might also fix it.

[2020-07-20 14:48] #9444 closed, assigned to nobody

[2020-07-20 14:51] hrkrshnn commented on #9443
@chriseth This is not fixed in breaking branch. This happens during `contractLevelChecker`.

[2020-07-20 16:38] #9391 closed, assigned to bshastry

[2020-07-20 16:44] #8911 closed, assigned to Marenz

[2020-07-21 01:12] junderw opened #9454 "Add require(bool,bytes) global function"
It seems like most people throw away returndata when performing calls. ie.

[code]

It would be nice to be able to do something like.

[code]

That way if the contract we're calling has a descriptive error we can just forward that.

[2020-07-21 08:23] chriseth commented on #9454
This is a good point and we might add it with enabling user-defined error types.

[2020-07-21 09:20] junderw commented on #9454
Something like this seems easy to understand, as long as the parameters of require line up with the return parameter types and order.

[code]

[2020-07-21 09:40] #9021 closed, assigned to nobody

[2020-07-21 10:23] axic commented on #9439
Could also consider
[code]

where selector is calculated based on the name and types, just like `encodeWIthSignature` works.

[2020-07-21 11:21] #9286 closed, assigned to nobody

[2020-07-21 12:34] bshastry opened #9458 "[Fuzzer] Avoid time outs due to interpreting recursive calls"
## Description

Currently, we time out of recursive call interpretation by counting the number of basic blocks interpreted and timing out once this number has breached a pre-defined threshold.

For example

[code]

However, because the pre-defined threshold for optimised code is greater than (currently 4x times) that for unoptimised code, it is possible in certain corner cases that the interpretat

[2020-07-21 12:44] #9445 closed, assigned to bshastry

[2020-07-21 13:24] chriseth commented on #3412
Implemented in https://github.com/ethereum/solidity/pull/9344

[2020-07-21 13:24] #3412 closed, assigned to Marenz

[2020-07-21 13:26] chriseth commented on #8551
I think this is fully implemented now. Please reopen if I'm mistaken.

[2020-07-21 13:26] #8551 closed, assigned to nobody

[2020-07-21 13:32] chriseth commented on #9399
Closing after discussion.

[2020-07-21 13:32] #9399 closed, assigned to nobody

[2020-07-21 13:38] chriseth commented on #9396
Implemented in #9428

[2020-07-21 13:38] #9396 closed, assigned to nobody

[2020-07-21 13:40] chriseth commented on #8882
Has been implemeted in #8958 as an optimizer rule.

[2020-07-21 13:40] #8882 closed, assigned to nobody

[2020-07-21 13:41] #8852 closed, assigned to nobody

[2020-07-21 13:43] #8660 closed, assigned to nobody

[2020-07-21 13:44] chriseth commented on #8646
Empty contracts also generate bytecode. Libraries with only internal functions also generate bytecode. You need to deploy a library when the linker requests it. This could be documented, but linking is not a feature people use nowadays...

[2020-07-21 13:46] chriseth commented on #8547
Nowadays, you can even choose, so I'm closing this. The general idea is to be explicit and not make any assumptions about what alternatives are left after analysis.

[2020-07-21 13:46] #8547 closed, assigned to nobody

[2020-07-21 14:04] chriseth commented on #869
If we want to use the `<`-syntax for templates, we could borrow an idea from rust (I hope I understood it correctly):
At expression context, you move from the identifier to specifying its template arguments by using `.` (in rust it is `::`):

[code]

For us, we also have to use this when we specify types at statement level - so maybe we could require the `.` everywhere except in the declaration of

[2020-07-21 15:48] chriseth commented on #8807
Actually I think non-integer is problematic, since we already use integers for source ids in various json outputs.

[2020-07-21 15:52] chriseth commented on #8807
@haltman-at @yann300 @LianaHus @alcuadrado @iamdefinitelyahuman do you want to try out this build:  https://396213-40892817-gh.circle-artifacts.com/0/soljson.js

It adds "generatedSources" to the bytecode output part of standard-json as shown in this example: https://github.com/ethereum/solidity/pull/9053/files#diff-57268994c6aef50f315c432ecd7096de

The source references will point to this file (w

[2020-07-21 16:05] #9458 closed, assigned to bshastry

[2020-07-21 16:20] bshastry commented on #7943
Closing because this is no longer an issue. May have been fixed by #9459

[2020-07-21 16:39] franzihei commented on #9175
## Another Update :)

I've selected a simple landing page template ("hydra") and put in our preliminary content blocks. You can find it here: https://github.com/franzihei/solidity-portal-initial-mvp.

**Open issues:**

- [x] Design: We have to align on font, colors used (especially the highlight colors are absolutely not carved in stone, we can change them)
- [x] Adding Solidity logo in big in the

[2020-07-21 17:48] alcuadrado opened #9461 "Identifying and decoding local variables"
## Introduction

We, Nomic Labs, have been working on identifying which metadata should `solc` emit as part of the compilation process to:

1. Make existing tools less fragile
    - Many tools depend on `solc` implementation details which are not considered part of of the compiler API. This leads to some of them breaking with new `solc` releases, degrading the users' experience and imposing high m

[2020-07-21 17:48] alcuadrado opened #9462 "Identifying and decoding mapping keys"
## Introduction

We, Nomic Labs, have been working on identifying which metadata should `solc` emit as part of the compilation process to:

1. Make existing tools less fragile
    - Many tools depend on `solc` implementation details which are not considered part of of the compiler API. This leads to some of them breaking with new `solc` releases, degrading the users' experience and imposing high m

[2020-07-21 17:59] alcuadrado commented on #8807
Thanks for keeping us updated about this. We'll take a look at this soon. When will this be released?

Also, I'm tagging @fvictorio here, who also works on Buidler now.

[2020-07-21 18:05] axic commented on #7943
@bshastry can you add a test case to verify it?

Please close again if you think that's unnecessary.

[2020-07-21 18:07] alcuadrado commented on #8739
Is it safe to assume these things?

1. A parser for `v0.4.26` can parse any `v0.4.x` file?
2. A parser for `v0.5.17` can parse any `v0.5.x` file?

If so, can we consider backporting this change to each of those majors? This way we'd be able to parse any file with `solc`.

[2020-07-22 04:13] elenadimitrova opened #9464 "Using block.timestamp causes YulException: Stack too deep when compiling inline assembly"
## Description

Using `block.timestamp` causes `YulException: Stack too deep when compiling inline assembly: Variable value5 is 1 slot(s) too deep inside the stack.\n\u001b[31mCompilation failed. See above.\u001b[39m`

## Environment

- Compiler version: 0.6.11
- Target EVM version (as per compiler settings): petersburg
- Framework/IDE (e.g. Truffle or Remix): Confirmed in both `etherlime` and `tr

[2020-07-22 07:48] chriseth commented on #8807
We are waiting for some feedback about whether the structure is useful or if we should change the IDs.

[2020-07-22 07:51] #8900 closed, assigned to mijovic

[2020-07-22 10:22] bshastry opened #9468 "[Fuzzer] Implement nested sub object access"
## Abstract

Now that https://github.com/ethereum/solidity/pull/9235 is implemented, the fuzzer should test it by generating nested namespace identifiers in calls to `dataoffset/size`

[2020-07-22 11:24] bshastry opened #9470 "[yul] ICE when accessing a Yul data subobject: `Assembly object not found or does not contain code`"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/4a478f0fb2d8d4f7bc7fdacfeb20e955d5396ce8/libyul/Object.cpp#L110

However

[code]

compiles fine. So it seems data identifier is a valid identifier for `datasize/offset` opcode. However, nested data identifiers are not? Perhaps this is under specified?

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[2020-07-22 12:13] bshastry opened #9472 "[yul] optimisation results in an ICE because object namespace string literal is too long"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/4a478f0fb2d8d4f7bc7fdacfeb20e955d5396ce8/libyul/Utilities.cpp#L103

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-07-22 12:32] chriseth commented on #9363
Accepted in design discussion round.

[2020-07-22 12:40] leonardoalt commented on #869
Sounds good, although visually I think I prefer `::<>`

[2020-07-22 12:47] Marenz commented on #869
Example from D:
[code]

[2020-07-22 12:48] Marenz commented on #869
Also an even further shorthand for defining a function:

[code]

[2020-07-22 13:19] franzihei opened #9473 "[Docs] Add Language Design Involvement to Contributing Section"
As preparation for the upcoming Solidity Portal we decided to use the documentation as the "main source of truth". Right now, there is no part in the docs indicating where and how one can contribute to the lang design discussion / process.

We could either add a few sentences on that in the [contributing section](https://solidity.readthedocs.io/en/v0.6.11/contributing.html) or create a new section

[2020-07-22 13:19] bshastry commented on #6739
Is this fixed by https://github.com/ethereum/solidity/pull/9235 ?

[2020-07-22 13:20] cameel commented on #9258
@chriseth Looks like having a mirroring script on AWS CodeBuild triggered by pushes to `solc-bin` would require giving AWS admin access to webhooks in `solc-bin` and for some reason also write access to the repo. Also, to all the private repos of anyone who adds the app. So that's no go.

The other choices are AWS Lambda and GH actions:
- **Pro AWS Lambda**: A lambda has [75 GB of disk storage ava

[2020-07-22 13:22] chriseth commented on #9472
Can you provide a stack trace? This function should not be called for the arguments of `datasize`.

[2020-07-22 13:24] franzihei opened #9475 "[Docs] Add Getting Started Checklist to the "Basics" Section"
As preparation for the upcoming Solidity Portal we decided to use the documentation as the "main source of truth". Right now, there is no part in the docs which summarizes easily how to "get started" as a newbie. This is mainly due to the fact that is isn't quite so easy to get started and we don't want to necessarily promote one tool over the other (or take other decisions for the user). To overc

[2020-07-22 13:25] bshastry commented on #9472
@chriseth Stack trace too long so I created a gist: https://gist.github.com/bshastry/2100b0a89736841f8f5ab835db6fce8b

Seems to be an issue with the stack compressor (https://gist.github.com/bshastry/2100b0a89736841f8f5ab835db6fce8b#file-stacktrace_literal_too_long-txt-L113) but not sure

[2020-07-22 13:51] chriseth commented on #8739
We usually only backport critical bugfixes, but we can see how much work the task is overall.

[2020-07-22 14:13] hrkrshnn commented on #9363
solidity-upgrade currently changes `f.value(1).gas(2)` to `f{value: 1}{gas: 2}`. If this is implemented, it might be a good idea to fix it to `f{value: 1, gas: 2}`.

[2020-07-22 14:13] mijovic commented on #6739
Yes it is fixed by #9235

[2020-07-22 14:13] #6739 closed, assigned to mijovic

[2020-07-22 14:36] axic commented on #9363
Even if the compiler accepts multiple option groups, I think `solidity-upgrade` should strive to output a single one.

[2020-07-22 16:21] k06a opened #9478 "Name of type for interface and abstract contracts"
We can use `type(C)` to query type information as [referenced in the docs](https://solidity.readthedocs.io/en/v0.6.11/units-and-global-variables.html#type-information).

| Field | Contract | Interface | Abstract Contract | Specific |
| :----- | :-----: | :-----: | :-----: | :-----: |
| `name` | ✅ | ❌ <br>(but why?) | ❌ <br>(but why?) | ❌ |
| `creationCode` | ✅ | ❌ | ❌ | ❌ |
| `runtimeCode` | ✅ | ❌

[2020-07-22 19:29] alcuadrado commented on #9462
I'm copying this section of the document here so that it doesn't go accidentally ignored.

@chriseth, I believe this contains answers to all the questions posted on the Telegram group.

## Jul 21 Updates

This comment contains answers to different questions about this proposal:

### What does *tracking* mean in this document?

Determining the complete set of mapping keys used by a contract can't b

[2020-07-22 19:30] alcuadrado commented on #9461
The only relevant update so far is that this proposal doesn't take [memory escalation of variables](https://github.com/ethereum/solidity/issues/5766) into account. When/If this new local variables management gets implemented, the metadata will need to be updated accordingly.

[2020-07-22 20:56] dddejan opened #9482 "Parsing of NatSpec documentation results in unexpected tags/docs."
## Description

I am not really sure what to expect from NatSpec parsing.

Coming from doxygen world, for the following doc

[code]

I would expect to get tags:

1. @dev: Line1\nLine2
2. @notice: hey hey
3. @notice hey hey hey

The current compile gives strange results (see below).

Having a good understanding of NatSpec is important for us since our tool `solc-verify` parses contract specificatio

[2020-07-22 21:56] chriseth commented on #9482
This is indeed weird, thanks for reporting!

Since `@notice` is the summary of the functionality of a function, it might make sense to disallow it for contracts and it might certainly make sense to only allow a single `@notice` tag.

You mentioned that you parse a contract's specification from the tags. In that case, you might profit from custom tags, don't you? It would be great if you could add

[2020-07-22 23:59] haltman-at commented on #8807
Interesting, thanks!  I'm a bit confused on how the IDs work though.  So these things will just get ordinary, whole-number IDs?  There won't be any way to tell them apart from other sources by ID alone, if we don't have this info?

I mean, I can work with that, but it is something I will have to account for...

Edit: Also, I'm guessing ID -1 will still be used for those things that are still neith

[2020-07-23 08:47] chriseth commented on #8807
@haltman-at yes, that's mostly what I wanted to get feedback on. I can make the IDs negative, but then we don't have any more room for other categories. I can turn them into strings which would allow for more prefixes. I can keep them integers in the AST for proper sources but use strings for the sources of internal routines. Note that the source mappings are just strings themselves, so you will n

[2020-07-23 09:24] hrkrshnn opened #9487 "Refactoring SideEffects"
# Refactoring SideEffects

One way to refactor SideEffects is the following:

Have semantic information about whether two YUL-builtins commutes, i.e., `INSTR1` and
`INSTR2` commutes if the two blocks

    {
       ... := INSTR1(...)
       ... := INSTR2(...)
    }

    {
       ... := INSTR2(...)
       ... := INSTR1(...)
    }

are the "same", for all inputs.

We represent this information as a t

[2020-07-23 10:03] chriseth commented on #9487
I think it does make sense to slightly group the instructions instead of creating a full NxN matrix. I started a spreadsheet here;
https://docs.google.com/spreadsheets/d/1usbPvzuWCCqLXWolZ5rAq4UTU5QF7aN4Bnc3N3SI4uU/edit?usp=sharing

What we also have to consider: We will never be able to move something out of a loop that performs any kind of non-idempotent "write" operation. It might be useful to

[2020-07-23 11:06] elenadimitrova commented on #9464
Upgrading to solc 0.6.12 appears to have [solved that](https://circleci.com/gh/argentlabs/argent-contracts/1261) so perhaps it's a symptom of a bug fixed there.

[2020-07-23 11:06] #9464 closed, assigned to nobody

[2020-07-23 11:26] #9468 closed, assigned to bshastry

[2020-07-23 13:22] #9381 closed, assigned to mijovic

[2020-07-23 13:38] #9296 closed, assigned to nobody

[2020-07-23 14:27] ddeclerck opened #9495 "Allow the member notation (M.C) when specifying (non-constant) parent constructors"
Would it be possible to allow the member notation (M.C) when specifying (non-constant) parent constructors ?

This would be useful in the following scenario:
[code]

For now, I rely on the following workaround, but it's not ideal:
[code]

[2020-07-23 14:49] #9472 closed, assigned to nobody

[2020-07-23 14:51] chriseth commented on #8727
Fixed by https://github.com/ethereum/solidity/pull/9007

[2020-07-23 14:51] #8727 closed, assigned to a3d4

[2020-07-23 16:44] junderw opened #9497 "Add position keyword for storage variables"
I noticed some contracts add data to storage slots based on the hash of some constant minus 1. Then proceed to create getters and setters that use yul to store that data in the slot.

perhaps:

[code]

instead of a getter/setter than does sstore(42, val) etc.

[2020-07-23 17:10] leonardoalt commented on #9497
Hi @junderw , your proposal sounds like a syntax suggestion for https://github.com/ethereum/solidity/issues/597

[2020-07-23 17:16] leonardoalt commented on #9487
@hrkrshnn shouldn't this rather be `\neg C[instr][mload]`?
As in, it invalidates memory if it does *not* commute with `mload`.
Or did I get anything wrong?

[2020-07-23 17:18] hrkrshnn commented on #9487
@leonardoalt Yes, I'll fix the typo.

[2020-07-23 17:43] cameel commented on #9261
We can close this now. The cause of the truncation has been identified and fixed (https://github.com/ethereum/solc-bin/pull/32). We have also just finished migrating the nightly builds from Travis to Github Actions and they're enabled again (https://github.com/ethereum/solc-bin/pull/30). The new script makes sure that no unexpected files (e.g. old releases) have been modified before pushing the ni

[2020-07-23 17:43] #9261 closed, assigned to cameel

[2020-07-23 18:03] cameel commented on #9226
If anyone wants to try the new setup, binaries are already available via https://solc-bin.s3.eu-central-1.amazonaws.com with no rate limiting. The paths are exactly as in `solc-bin` repo, e.g. https://solc-bin.s3.eu-central-1.amazonaws.com/macosx-amd64/list.json.

I have just finished setting up mirroring of `solc-bin` to this S3 bucket and it contains all the releases (including the latest one).

[2020-07-23 18:53] cameel commented on #9258
The discussion here is pretty long so I'm going to make it even longer by summarizing what's left to do here :)

#### My next tasks
- [ ] PR check for release binaries added to `solc-bin` (comparing them with github release page and validating names) (#9930)
- [x] Tweaks in `update` script in `solc-bin`:
    - [x] Fix race condition in symlink creation (https://github.com/ethereum/solc-bin/pull/46

[2020-07-23 19:12] fvictorio commented on #8807
Hey @chriseth, I ran all buidler tests with that compiler and I got an error with one of the test cases. This is the code:

<details>
  <summary>Failing code</summary>

[code]
</details>

The error is:

[code]

[2020-07-23 20:16] haltman-at commented on #8807
Yes, it would be ideal if there were some way to tell the difference even without having the generated source info; it doesn't have to be negatives.  Strings should be fine as long as they don't use colons or seimicolons, right?

Of course, any way of doing things will break our present code I'm pretty sure (can't run the tests at the moment for technical reasons, sorry, should be fixed shortly),

[2020-07-23 20:37] haltman-at commented on #8807
Also, I notice the generatedSources output doesn't include ASTs for the generated sources.  Would it be possible to get those by any chance?  Thank you!

[2020-07-23 21:05] chriseth commented on #8807
They would have to be yul asts if that's fine.

@fvictorio I think that is because of the interface. I'll fix it next week.

[2020-07-23 21:09] haltman-at commented on #8807
Yes, of course; Truffle Debugger can handle those.  It might need some minor adjustment but that should be easy enough.

[2020-07-23 21:47] junderw commented on #9497
Thanks!

[2020-07-23 21:47] #9497 closed, assigned to nobody

[2020-07-23 22:11] alcuadrado commented on #8807
I took a first look at the output, and it looks really promising.

I'm not sure if I share/understand the concern about the IDs, but haven't thought enough about it. As Buidler will have to be adapted for this, anything is clear and let's use distinguish user and autogenerated files is fine.

This would be very beneficial!

[2020-07-23 22:38] joaopestana commented on #4170
But I have sol v0.6.10 and in my contract I'm stating I will use 0.5.0 or higher, so why is there an error?
![image](https://user-images.githubusercontent.com/7151766/88344697-1c9cee80-cd3c-11ea-9a8f-c8eeee6d967f.png)

How can this even be possible? If I have solidity version 0.5.16 and 0.6.10 am I having this error because of concurrency?
![image](https://user-images.githubusercontent.com/7151766

[2020-07-23 22:48] junderw commented on #597
After reading this issue, and thinking about the issue, this is my proposed solution.

1. add the keyword `deterministic`
2. it can only be used with declared storage variables
3. at compile time the slot used for `uint256 deterministic myNumber;` is `keccak256('myNumber')`
4. basically, similar to `immutable` which doesn't use storage, `deterministic` variables will be removed when calculating th

[2020-07-24 09:12] bshastry opened #9498 "[SMTChecker] ICE because arrayVar is null"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/336fe94422a136a1045041308db9c0fcfc569435/libsolidity/formal/SMTEncoder.cpp#L960

## Environment

- Compiler version: breaking

## Steps to Reproduce

[code]

[2020-07-24 09:54] bshastry opened #9499 "[yul] Interpreter ICE while evaluating string literal because object namespace string literal too long"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/4a478f0fb2d8d4f7bc7fdacfeb20e955d5396ce8/libyul/Utilities.cpp#L103

from

https://github.com/ethereum/solidity/blob/7ad27188a057c94efa91e4b4e9c1f26a45011c6e/test/tools/yulInterpreter/Interpreter.cpp#L253

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-07-24 10:38] jo-es commented on #9160
We are battling with this as well. We've implemented a workaround by removing all references types in our Structs which get copied over from calldata to memory.

[2020-07-24 12:22] d-xo opened #9500 "Run AsmAnalyzer after each yul optimizer test."
## Description

I stumbled over a few yul optimizer test cases that seem potentially incorrect, and I thought it was worth raising an issue here to discuss.

## Test Cases

1. `test/libyul/yulOptimizerTests/fullsuite/stack_compressor_msize.yul`

The expected output contains the following function defintion:

[code]

Which causes the following error when compiled:

[code]

This seems like an exampl

[2020-07-24 12:58] fvictorio commented on #8807
@chriseth how does the id of generated sources work? For example, if there are two files in `sources` with ids 0 and 1, and there are two contracts with generated sources, what will those ids be? 2 and 3? 2 and 2?

Put another way, will the ids be unique for all the compilation output?

[2020-07-24 13:27] axic commented on #9500
Nice catch!

The first issue (using keywords) we have actually this discussed under #9330 and there are a few outstanding PRs addressing this.

The second issue we discussed today on gitter. My opinion is we should change the test output/expectation to be in the object format not to miss any details. The input can be flexible and accept both the object and simplified code formats.

[2020-07-24 13:49] fvictorio commented on #8807
Oh, disregard my comment, that's exactly what you were discussing before.

I think being able to tell apart between normal and "internal" ids would be useful, but not strictly necessary because you can infer it from the output (assuming they are indeed unique). In case they will be differentiated, my thoughts are:

- I don't think negative ids are a good idea. As Chris mentioned, you can have othe

[2020-07-24 14:16] axic commented on #4170
Please check the documentation as well as semver.org. `^0.5.0` means `>=0.5.0 <0.6.0`. What you may want is `>=0.5.0` to support both 0.5.x and 0.6.x, however I would advise against because syntax changes will render files incompatible across breaking releases such as 0.5 vs 0.6.

[2020-07-24 19:07] gnidan commented on #8807
To chime in here to support @haltman-at's point, I'm strongly against clobbering the non-negative numbers namespace with internal sources. It seems like the argument of "we must reserve the negatives for future internal use!" doesn't hold weight if you're comparing it to the alternative of clobbering an existing, user-facing namespace.

Out of UX concerns, there's definitely good reason to make it

[2020-07-25 03:40] SeekingMeaning opened #9504 "Unable to build Solidity on macOS 10.13"
## Description

The Solidity compiler is unable to build on macOS 10.13 with Xcode 10.1 and gives this error when running `make`:

[code]

## Environment

- Compiler version: Xcode 10.1
- Target EVM version (as per compiler settings): ?
- Framework/IDE (e.g. Truffle or Remix): ?
- EVM execution environment / backend / blockchain client: ?
- Operating system: macOS 10.13 High Sierra

## Steps to Re

[2020-07-25 03:41] SeekingMeaning commented on #9504
This might be a duplicate of #8506

[2020-07-25 10:50] d-xo commented on #9500
ah nice that there is a PR for the first issue already :slightly_smiling_face:

Switching to the object format for test outputs seems like a sensible fix for the second one :+1:

[2020-07-25 15:12] agroce opened #9505 "[SMTChecker] ICE in solidity::frontend::SMTEncoder::endVisit(const solidity::frontend::IndexAccess &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

First detection on day 21 of running four AFL instances!

## Environment

- Compiler version:  0.7.0-develop.2020.7.25+commit.7ad27188.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/ID

[2020-07-25 16:31] d-xo commented on #9500
I think that I may have found two more invalid tests:

1. `test/libyul/yulOptimizerTests/varNameCleaner/function_names.yul`

This test produces code with a duplicated variable name which fails to compile with:

[code]

2. `test/libyul/yulOptimizerTests/commonSubexpressionEliminator/object_access.yul`

This is subject to the same issue with the missing data object issue as the test in the `expressi

[2020-07-26 11:43] bshastry opened #9506 "[SMTChecker] ICE due to SMTLogicError because *arraySort->range != *_element.sort"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/7ad27188a057c94efa91e4b4e9c1f26a45011c6e/libsmtutil/SolverInterface.h#L152

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-07-26 16:11] leonardoalt commented on #9506
Wait, that looks weird.
@chriseth is it valid to push a static array there?

[2020-07-27 07:38] bshastry opened #9509 "[solc] ICE because constructor declared with default visibility"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/7ad27188a057c94efa91e4b4e9c1f26a45011c6e/libsolidity/ast/AST.cpp#L294

## Environment

- Compiler version: latest develop (and breaking)

## Steps to Reproduce

[code]

[2020-07-27 07:40] bshastry commented on #9506
Yeah, I wasn't sure if this is supposed to be a parser error instead but filed it anyway :)

[2020-07-27 07:54] bshastry commented on #9505
Thank you for reporting this issue!

Note to self: May be a duplicate of #9498

[2020-07-27 07:58] bshastry commented on #9009
@agroce Could we close this issue since it is not a solidity issue?

[2020-07-27 08:28] #6516 closed, assigned to franzihei

[2020-07-27 09:30] leonardoalt commented on #9413
We actually don't need this.

[2020-07-27 09:30] #9413 closed, assigned to nobody

[2020-07-27 09:38] leonardoalt commented on #9498
This also looks weird to me.
`x[8]` has type `byte`, why is it allowed to access the index of a byte?!

[2020-07-27 09:58] chriseth commented on #9500
I think we should maybe just run a validation step on the output as part of the test :)

[2020-07-27 09:58] axic opened #9512 "Remove support for the old "legacy" JSON AST"
The compiler has two JSON AST outputs: the "legacy" and the "compact" form. They mostly contain the same detail but in a vastly different structure.

For a long time Remix static analyzer was relying on the legacy format, but this is not the case anymore. We have also discussed this during our call with frameworks.

*I could not find an issue for this, despite our numerous discussions about it.*

[2020-07-27 10:00] chriseth commented on #9504
Can you try xcode 11?

[2020-07-27 10:02] chriseth commented on #9509
I will take a look!

[2020-07-27 10:03] chriseth commented on #9294
Done in #9415

[2020-07-27 10:03] #9294 closed, assigned to nobody

[2020-07-27 10:06] SeekingMeaning commented on #9504
Xcode 11 works but it requires macOS 10.14 or later

[2020-07-27 10:11] chriseth commented on #9504
Sorry about that, it looks like macOS 10.13 does not support C++17. Can you at least work with the binaries?

[2020-07-27 10:36] d-xo commented on #9500
What would the validation step look like? Many tests do not produce code that can be compiled by `solc`.

As far as I can tell the reasons for this are the following:

- usage of typed yul
- stack to deep errors
- wrong number of args to to opcodes (these are all in the `wordSizeTransform` sutie, and according to @leonardoalt are expected)

[2020-07-27 10:36] mijovic commented on #8085
I am working on copying between storage and memory

[2020-07-27 11:02] leonardoalt commented on #9506
This looks like a dup of https://github.com/ethereum/solidity/issues/9234 (the trimmed version)

[2020-07-27 12:00] agroce commented on #9009
Sure!

[2020-07-27 12:00] #9009 closed, assigned to nobody

[2020-07-27 12:09] #9179 closed, assigned to nobody

[2020-07-27 12:09] #9233 closed, assigned to nobody

[2020-07-27 12:10] chriseth commented on #9500
The wordSizeTransform is indeed a problem, but I think we can exclude it. For the others, we should at least do run the AsmAnalyzer even if we cannot do full assembly to bytecode.

[2020-07-27 12:22] chriseth commented on #9499
@bshastry didn't we fix this?

[2020-07-27 12:25] bshastry commented on #9499
I think the fix was in the stack compressor. However, the interpreter still evaluates string literals via a call to the utility function where the assertion on the length of the string literals is.

[2020-07-27 12:59] chriseth commented on #9512
As long as it does not cause us a lot of pain - and I would say it currently does not since we have a conversion function in place that does not need maintenance - I would propose to keep it.

[2020-07-27 13:33] chriseth commented on #9443
I think your fix looks good. Note that there are two kinds of recursive structs: Directly recursive structs like `struct S { S x; }` or `struct S { S[] x; }` and indirectly recursive structs `struct S { S[] x; }`.

Directly recursive structs are disallowed everywhere, but indirectly recursive structs are fine in storage and memory, but not in calldata (and thus not fine as a memory parameter of a

[2020-07-27 13:58] bshastry opened #9519 "[SMTChecker] ICE because of array pop on single element tuple"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/da189a667893e49d758f55fb725d9aa689f04913/libsolidity/formal/SMTEncoder.cpp#L1142

Looks like the `pop` version of #9021

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-07-27 14:00] leonardoalt commented on #9519
`pop` is supported, I bet it's this damn useless tuple

[2020-07-27 14:12] chriseth commented on #9519
You just need to fix your visitor to go straight through the tuple...

[2020-07-27 14:13] leonardoalt commented on #9519
I thought it was already doing that, apparently not...

[2020-07-27 17:03] #9519 closed, assigned to nobody

[2020-07-27 17:07] axic opened #9525 "Reduce the number of supported escape sequences in the scanner/parser"
Currently the scanner (and the grammar -- the grammar seems actually lenient about it) supports the following escapes for both Solidity and Yul:
- `\'`
- `\"`
- `\\`
- `\b`
- `\f`
- `\n`
- `\r`
- `\t`
- `\v`
- `\uNNNN`
- `\xNN`

These I believe were mostly grandfathered in from C via Javascript: https://en.cppreference.com/w/cpp/language/escape

I suggest to clean up this a bit and remove the foll

[2020-07-27 17:21] #9042 closed, assigned to nobody

[2020-07-27 17:21] #9509 closed, assigned to chriseth

[2020-07-27 17:23] #8844 closed, assigned to mijovic

[2020-07-27 17:24] leonardoalt commented on #9437
`smtCheckerTests/invariants/loop_nested.sol` SMT solvers was set to `None` at some point

[2020-07-27 20:26] axic commented on #9351
I can confirm this compiles now to IR after #9501!

The generated IR (even with `--ir-optimized`) cannot be yet compiled:
[code]

cc @mijovic @chriseth @cameel

[2020-07-28 06:53] haltman-at commented on #8807
Hm, just tried this out and was surprised to find I couldn't get it to cause the problems I was expecting it to.  That said, just because it *didn't* doesn't mean that it *can't*.  But, the more I think about it, the less sure I am about my earlier claim that these sources should have IDs that are somehow distinguished... I can probably handle things in a way that doesn't rely on that?

[2020-07-28 07:23] haltman-at commented on #8807
Also, going negative or non-numeric would cause other problems I didn't think about earlier, so maybe this way is fine...

[2020-07-28 09:42] #5167 closed, assigned to axic

[2020-07-28 10:04] axic commented on #5306
Since now we are shipping Linux and macOS release binaries under solc-bin, perhaps we should reconsider this question here. cc @cameel @chriseth

[2020-07-28 10:10] axic commented on #5167
The rules described in https://github.com/ethereum/solidity/issues/5167#issuecomment-574693822 were implemented.

[2020-07-28 12:56] cameel commented on #7512
While adding Linux/Mac/Win binaries to `solc-bin` I compared all the `soljson` files with the ones on github (see the table in https://github.com/ethereum/solc-bin/pull/42#issuecomment-659770086) and only three versions are actually affected by this:
- 0.4.15
- 0.5.9
- 0.5.11

With 0.6.12 we have switched to adding release binaries to `solc-bin` manually and I'm also preparing a PR check to ensure

[2020-07-28 14:25] rmeissner commented on #8803
While #2296 is nice it requires that the "Proxy" code is agreed on, right? (e.g. https://eips.ethereum.org/EIPS/eip-1167)

Just as a reference how it looks like currently if you want to do this in solidity at runtime: https://gist.github.com/cag/41c68a6402fc7c80b03f72cbf42f27f6#file-erc1155toerc20adapter-sol-L113

[2020-07-28 14:47] cameel commented on #5306
Are we building this lib anywhere in a form that's suitable for release? If it's already possible to get it, it would just be a matter of @chriseth uploading it to the release page along with the rest of binaries (which currently come from Travis as far as I know).  Then I'd just have to add a new dir in `solc-bin`.

Otherwise we might want to use github actions to building it from the start (@ekp

[2020-07-28 15:39] BigGan opened #9540 "[vs2017 build error]: “solidity/BuildInfo.h”: No such file or directory"
I follow the install steps to generate "solidity.sln", there is no error. But when I used the VS2017 to open the "solidity.sln" and build it. After building, there are some errors:

ERROR C1083: Cannot open include file: “solidity/BuildInfo.h”: No such file or directory [solidity] [c:\users\test\desktop\solidity-0.5.10\libsolidity\interface\version.cpp] [28]

Has anyone encountered a similar probl

[2020-07-28 17:10] iamdefinitelyahuman opened #9545 "Windows release for v0.4.15 is a nightly build"
## Description
The Windows version provided in the [`v0.4.15` release](https://github.com/ethereum/solidity/releases/tag/v0.4.15) is a nightly build.

[code]

I encountered this in the py-solc-x CI when a [Windows job failed](https://github.com/iamdefinitelyahuman/py-solc-x/runs/919482229?check_suite_focus=true) after I added an additional check to verify the solc version after installing. I have

[2020-07-28 18:59] axic commented on #6015
Hm, I actually had some local code implementing this. Will push.

[2020-07-28 21:24] #9505 closed, assigned to nobody

[2020-07-28 21:24] #9498 closed, assigned to nobody

[2020-07-29 11:15] bshastry opened #9548 "[solc] ICE because of signed exponent"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/cd2ce28317f87798a85cde000c7aa53e240969f5/libsolidity/codegen/ExpressionCompiler.cpp#L2186

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-07-29 20:03] agroce opened #9550 "ICE in solidity::frontend::ImmutableItem::setToZero(const solidity::langutil::SourceLocation &, bool) const"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.7.1-develop.2020.7.29+commit.f2fa5b5f.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environment

[2020-07-29 20:20] mudgen opened #9551 "Simple Syntax for Struct Storage Pointer"
Currently to use a struct storage pointer/Diamond Storage I need to do this:

[code]

It would be really nice to be able to do this on one line without assembly.  Something like this:

[code]

`DiamondStorageContract.DIAMOND_STORAGE_POSITION` is a bytes32 constant in the [DiamondStorageContract](https://github.com/mudgen/Diamond/blob/master/contracts/DiamondStorageContract.sol) contract.

This pat

[2020-07-29 20:58] axic commented on #9551
Duplicate of #597. Also your prior issue #8353.

[2020-07-29 21:02] mudgen commented on #9551
Yes, this is specifically a request to do it without assembly, as in this example:

[code]

Where DiamondStorage is a struct and the right side is a `bytes32` variable or constant.

[2020-07-29 21:05] axic commented on #597
Copying the suggestion from @dominicletz from #7593:

[2020-07-29 21:07] axic commented on #9551
I understand that you are proposing a new syntax. I think this should be considered among the countless other proposals in #597, therefore I suggest to move this discussion over there.

[2020-07-29 21:10] axic commented on #9551
Using different types on the two sides makes it look an implicit conversion and pretty much every instance of implicit conversion has been removed from the language. My personal view is this syntax has little chance of adoption for that reason.

[2020-07-29 21:14] leonardoalt commented on #9551
I agree with that and think the suggestion in this issue is incredibly dangerous.

[2020-07-29 21:14] mudgen commented on #9551
I see.  @axic @chriseth What do you think the syntax could be now?

[2020-07-29 21:17] leonardoalt commented on #9551
@mudgen as mentioned before, the discussion about the topic has been going on here: https://github.com/ethereum/solidity/issues/597 . Please check that issue also for the proposed ideas for syntax as well

[2020-07-29 21:22] mudgen commented on #9551
@leonardoalt Okay, thanks.

[2020-07-30 06:25] blitz-1306 opened #9552 "SolcJS 0.7.0 JSON AST output is not following Solidity 0.7.0 release notes"
Hello there, everyone.

Just noted that SolcJS 0.7.0 still provides `null` values in members of JSON AST. I'm wondering if this is a bug or an intentional thing. The sample:
[code]

<details>
  <summary>The produced ASTs (click to expand)</summary>

[code]
</details>

**Main question:** The https://github.com/ethereum/solidity/commit/4a001d568eb5614e6fefbcce42ffcbf82f0b8960 commit was supposed to

[2020-07-30 08:35] chriseth commented on #9551
I most generally believe that you should not hide semantics behind syntax and then call it "simple". In my opinion, the code that uses inline assembly is simpler than the other.

[2020-07-30 12:41] mudgen commented on #9551
@chriseth I see what you mean, that makes sense.  I'm interested in your Solidity syntax for expressing the semantics.

[2020-07-30 12:44] axic commented on #9551
Can we close this issue and focus on #597? That issue has all the syntax suggestions for this problem. I'd like to avoid scattering the discussion around this in multiple issues, because in the end that makes the resolution of this question harder.

[2020-07-30 12:49] mudgen commented on #9551
@axic Yes, I can move my comments/request to the other issue. Thanks for making things better.

[2020-07-30 15:26] #9551 closed, assigned to nobody

[2020-07-30 15:59] cameel commented on #9226
The mirroring is now up and running. I have also just asked the devops team to switch over the domain (https://github.com/ethereum/devops/issues/499) so you can expect `solc-bin.ethereum.org` to start pointing at the S3 bucket very soon.

[2020-07-30 19:45] axic opened #9553 "NatSpec on contracts is not inherited"
[code]

results in

[code]

Same happens if `A` is a contract.

@Marenz I'm not sure what we've agreed to.

[2020-07-31 08:03] elenadimitrova opened #9554 "immutable state variables are not considered pure in inheritance"
With Solidity 0.7.0 a `pure` getter implemented via an `immutable` state variable throws `TypeError: Overriding public state variable changes state mutability from "pure" to "view”.`

[code]

This is probably coming from the "Disallow public state variables overwriting pure functions" breaking change however `immutable`s should be excluded from this as they can be considered `pure`. I tested with

[2020-07-31 17:41] agroce opened #9557 "ICE in virtual solidity::frontend::Visibility solidity::frontend::FunctionDefinition::defaultVisibility() const"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.7.1-develop.2020.7.31+commit.f2fa5b5f.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environment

[2020-07-31 18:11] chriseth commented on #9554
While I said in the chat that constant and immutable should have the same mutability, maybe we should think a bit harder about this - at least the value of an immutable variable can change once across its lifetime is not a compile-time constant.

[2020-07-31 18:12] chriseth commented on #9554
Although I of course agree that this is very annoying. If we conclude that they should be `view` in general, maybe we can at least make them `pure` if their initial value is a constant.

[2020-07-31 18:17] chriseth commented on #9553
Is `@notice` on contracts meaningful at all? Also, should natspec on contracts (as opposed to functions) be auto-inherited?

[2020-07-31 18:23] agroce commented on #9557
(probably just a separate fix for same issue as #9509

[2020-07-31 18:24] agroce commented on #9557
Well, similar issue, anyway -- the assignment is necessary, etc.

[2020-08-01 10:10] bshastry commented on #9557
Thank you for the report @agroce !

[2020-08-01 10:13] bshastry opened #9558 "[yul] ExpressionSimplifier removes non-movable expression"
## Description

This test passes but it shouldn't because `call()` may change blockchain state (similarly other opcodes that are potentially state changing) and therefore if a contract previously disabled optimizer but at a later point *only* enabled the expression simplifier (not sure if this is a user-facing setting), the end-result will be different.

Please note that full optimization suite re

[2020-08-01 10:22] axic commented on #9558
Oh wow 😞

[2020-08-01 12:40] bshastry commented on #9557
The test case could be reduced to the following

[code]

[2020-08-02 15:18] agroce opened #9560 "ICE in vector<const solidity::frontend::Declaration *> solidity::frontend::DeclarationContainer::resolveName(const solidity::frontend::ASTString &, bool, bool) const"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.7.1-develop.2020.7.31+commit.f2fa5b5f.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environment

[2020-08-02 18:56] bshastry commented on #9560
Thank you for your report once again @agroce !

The test case could be reduced to

[code]

[2020-08-03 08:37] ekpyron commented on #5306
So far we don't build such a library anywhere (the build system doesn't even support doing so) - but we could indeed think about changing that. If we did that, I'd actually consider splitting the command line interface and libsolc entirely (making the CLI a thin executable linking against libsolc and interacting with it via its exported API and standard-json), even though that'd be some more work.

[2020-08-03 09:18] HelloMyDevWorld opened #9562 "x"

[2020-08-03 09:50] blitz-1306 commented on #9552
Can somebody from Solidity team post a clarification on this, please?

[2020-08-03 09:57] hrkrshnn commented on #9552
@blitz-1306 Can you share the command that produced the AST?

[2020-08-03 10:17] blitz-1306 commented on #9552
@hrkrshnn

Here is the full setup:

**package.json**
[code]

**sample.sol**
[code]

**index.js**
[code]

**Run command**
[code]

**Environment**
[code]

[2020-08-03 11:09] hrkrshnn commented on #9552
Removing null properties in JSON is recommended in [Google JSON style guide](https://google.github.io/styleguide/jsoncstyleguide.xml?showone=Empty/Null_Property_Values#Empty/Null_Property_Values)

Here is an example mentioned there:

[code]

We only remove members such as `documentation: null`. The use cases you mentioned above will be unaffected.

----

The issue seems to be with the interface co

[2020-08-03 11:26] axic commented on #5306
We are already building the libsolc library in the build system: soljson, the emscripten target, is exactly that :)

[2020-08-03 11:31] ekpyron commented on #5306
Yeah, of course, I meant except that one :-).
(EDIT: and build system-wise the emscripten builds are quite special anyways - soljson.js is still actually linked as executable and not as shared library - and emscripten has custom cmake logic in general)

[2020-08-03 13:48] hrkrshnn commented on #9552
@blitz-1306 Will you be able to replace your use cases by checking if a key exists in JSON?

[2020-08-03 14:12] ekpyron commented on #9512
The "legacy" AST is pretty weird... e.g. it contains stuff like ``baseContracts: [ null ]`` and ``nodes: [ null ]`` for ``contract C {}``...

I guess the reason is that InheritanceSpecifiers are rather children of the contract definition in the legacy AST - but we *still* generate the ``baseContracts`` attribute with weird values apparently...

In any case I vote for dropping this weird legacy AST

[2020-08-03 14:27] ekpyron commented on #5306
In any case: the current CLI in ``solc/*`` is a *huge* mess anyways - so I'd actually say it would be rather nice to rewrite it as a thin frontend to the standard-json backend that can then generally be provided as shared library...

[2020-08-03 18:10] blitz-1306 commented on #9552
@hrkrshnn It really depends on a situation: for legacy AST the absence of the keys also meaning that certain subnodes are present. Except the possible listed cases, I guess we can do switching from `node.property === null` to `!("property" in node)` (or something like that). I can say more if will be able to test the implementation somehow.

However, I think that we will have to migrate anyway, as

[2020-08-03 18:24] axic commented on #9552
@blitz-1306, as a side note: we do not "officially" support bidirectional conversion with the legacy AST, but it should by-design work with the new AST JSON. If you encounter issues with the new AST, please report.

[2020-08-03 18:29] blitz-1306 commented on #9552
@axic We have different logic for reading compact and legacy ASTs, so that shouldn't be a problem. We just hope that the introduced changes are preserving ability to write source code back from ASTs (compact / legacy) without an information loss. So far, we had no major problems with that.

[2020-08-04 09:08] chriseth commented on #6977
Closing this due to inactivity. Please reopen if the issue can be reliably reproduced.

[2020-08-04 09:08] #6977 closed, assigned to nobody

[2020-08-04 09:10] chriseth opened #9565 "Contract dependencies are not properly calculated when library-internal functions are used"
The following code leads to an internal error because we have a circular dependency between `D` and `C` but the compiler does not detect it in the analysis phase:
[code]
The same behaviour can be observed if `L.f` is replaced by a free function.

[2020-08-04 09:12] Marenz commented on #9553
`@notice` as it is currently implemented is only inherited on functions. The ticket didn't mention the contract case

[2020-08-04 09:20] #9558 closed, assigned to bshastry

[2020-08-04 09:46] blitz-1306 commented on #9552
Another question: _how the fix will be delivered?_ Will it be delivered as a standalone tagged release or as part of next **0.7.1** release?

[2020-08-04 10:46] chriseth commented on #5306
Before we invest time in this: What would be a user of that library? Wouldn't it be better to implement a language server instead?

[2020-08-04 10:51] chriseth commented on #9562
Thanks for opening this issue, but this question is better asked at https://ethereum.stackexchange.com - you will get faster and better replies there.

[2020-08-04 10:51] #9562 closed, assigned to nobody

[2020-08-04 12:18] #9560 closed, assigned to chriseth

[2020-08-04 17:00] mudgen opened #9570 "Support all Solidity Constants in Inline Assembly"
It would be nice if Solidity constants were supported in Yul.

Currently I have to do this:

[code]

It would be nice if it worked this way:

[code]

[2020-08-04 18:43] ekpyron commented on #9570
In general there *is* support for accessing solidity constants from yul just like you want - but unfortunately only as long as they are actually compile-time constant, i.e. with ``bytes32 internal constant ERC20TOKEN_STORAGE_POSITION = 0x6ed1e8b58b8677af52e598804adae6eaacd4c419a6334c92069fde3cd6d8affc;`` it should work.
Calls to e.g. ``keccak256``, however, are not evaluated at compile-time, but r

[2020-08-04 18:54] chriseth commented on #869
Here is another example of how templates might be used: https://gist.github.com/chriseth/d8bf126817fa236c0406c130433a0a7e

I think we have to force people to specify the data location, so data location cannot be part of the template. In the worst case, two/three templates have to be written. If something turns out to be a value type, it does not matter if a data location is specified.

[2020-08-04 19:09] axic commented on #9570
Here's the original issue: #3776

[2020-08-04 19:10] chriseth commented on #4869
Added it to the design backlog, but I'm not too confident that this is in line with the explicitness and clarity goals.

[2020-08-04 19:11] chriseth commented on #4558
Related to https://github.com/ethereum/solidity/issues/4869

[2020-08-04 19:13] #6275 closed, assigned to nobody

[2020-08-04 19:15] chriseth commented on #6942
This might be solvable with templates (#869), where `abi.decode(data, (uint,address,function (uint,uint) external));` could turn into `abi.decode.<uint, address, function (uint,uint) external>(data)`.

[2020-08-04 19:19] chriseth commented on #7569
@marenz are you working on this?

[2020-08-04 19:20] mudgen commented on #9570
@ekpyron The [changelog for Solidity 0.6.12](https://github.com/ethereum/solidity/releases/tag/v0.6.12) says this:
*  Code Generator: Evaluate keccak256 of string literals at compile-time.

So it seems like it should work now. I am using Solidity 0.7.0

[2020-08-04 19:20] chriseth commented on #7627
Might be related to https://github.com/ethereum/solidity/issues/9565

[2020-08-04 19:28] ekpyron commented on #9570
Good point :-). But that change in 0.6.12 was rather a code generation optimization - so you're right, the compiler now actually evaluates keccak256 during code generation, but that's "too late"...
So this issue is a special case of the more general problem, namely, that this works:
[code]
while this doesn't:

[code]

(the latter is not evaluated *early* enough, even though after optimization you'

[2020-08-04 19:32] mudgen commented on #9570
@ekpyron I gotcha. I appreciate the explanation. Thank you. Yes, a special case for string-literal-keccak256 earlier than that would be great!

[2020-08-04 19:43] ekpyron commented on #3157
I, by the way, vote for finally starting with this at least soonish...

[2020-08-04 19:46] axic commented on #3157
Should we consider C++-style literals and use them in expressions, such as `"stringtobehashed"_keccak256` instead of the built in function?

[2020-08-04 19:55] ekpyron commented on #3157
Going forward I'd very much like for this to work even for user-defined pure functions, e.g.
[code]
Or even stuff like
[code]
Not in a first step for sure, but eventually...
So given that, I'd personally not see much need to distinguish that much between compile time constant string literal things and function calls.

[2020-08-04 20:08] chriseth commented on #3157
Is it in any way possible to compile this via yul and run it through an interpreter? Then we would at least not have to re-implement everything.

[2020-08-04 21:11] ekpyron commented on #3157
Why not?

[2020-08-05 00:57] epheph opened #9573 "Inconsistent bytecode created for identical contract input using standard-json compiler input"
## Description

During deployment of Augur, one of the contracts would not verify on Etherscan properly: the deployment process created one bytecode for "ZeroXTrade", while giving the Standard Json to Etherscan and having them compile created bytecode with VERY slightly different bytecode  (of different lengths!).

Due to past issues with contract verification, Augur flattens all contracts prior t

[2020-08-05 07:15] chriseth commented on #9573
Thanks for reporting this!

Looking at the assembly output, two things are interesting:
 - the source references to internal routines are different, which means that the internal routines themselves are probably different
 - the differences in generated code look like different decisions being made in the optimizer

[2020-08-05 07:19] chriseth commented on #9573
To fix this properly, we have to reset the yul string repository between contracts, which would invalidate the inline assembly part of the AST which is stored in parsed form and thus uses yul strings.

[2020-08-05 07:59] chriseth commented on #9573
Actually the difference is only in the internal routines, so resetting the yul string repository might be all that is needed.

[2020-08-05 10:21] chriseth commented on #9573
It turns out that the problem is that AST IDs are encoded into function names which leads to the optimizing handling them in a different order resulting in a different way functions are inlined.

[2020-08-05 10:58] cameel commented on #9226
I got info from the devops team that the domain has been switched over today in the morning.
Changes are not visible in DNS yet but once the cached old DNS entries expire, https://solc-bin.ethereum.org should start serving from S3.
Please let me know if you notice any breakage.

[2020-08-05 14:37] chriseth commented on #9573
Current plan of attack:
 - rename all identifiers to look nicer (we wanted to do that anyway) and remove AST IDs in the process
 - modify the function inliner such that it inlines functions in an order that does not depend (very much) on the names of the functions: Start with leaves of the call graph ( https://github.com/ethereum/solidity/pull/9314 ) and use the block hasher to make it determinist

[2020-08-05 14:49] martasaparicio commented on #3041
is overloading modifiers available?

[2020-08-05 17:07] #9557 closed, assigned to chriseth

[2020-08-05 18:59] cameel commented on #3446
Some extra info for anyone annoyed by this not being allowed: we do plan to make expensive copy operations like this possible and easy but we want the user to be aware the this is not something to be done lightly. The `copyof` operator (#2435) would be a solution for this.

[2020-08-05 20:43] ekpyron opened #9579 "CompilerStack (resp. ``solc --ir``) always runs old codegen, even if only new codegen is required"
Came up in https://github.com/ethereum/solidity/pull/9162,
related to https://github.com/ethereum/solidity/issues/8722

CompilerStack.cpp L521 unconditionally runs old code generation, resulting old code generation to run even for ``solc --ir`` and if only ir code is requested via standard json.

Wasn't a problem so far and mainly a waste of time, but with https://github.com/ethereum/solidity/pull

[2020-08-05 20:45] ekpyron commented on #9579
I guess the compiler stack needs a ``m_generateEvmBytecode`` (or sth like that) and a ``enableEvmBytecodeGeneration(bool)`` similarly to ``m_generateIR`` and ``enableIRGeneration`` and those need to be properly set from CLI and standard-json.

[2020-08-05 22:50] #9322 closed, assigned to nobody

[2020-08-05 22:50] #9425 closed, assigned to nobody

[2020-08-05 22:51] axic commented on #9500
Issue 2. and https://github.com/ethereum/solidity/issues/9500#issuecomment-663874400 have been fixed (via #9572 and #9575).

Issue 1. will be fixed with #9329.

Btw, @xwvvvvwx usually it is better to create separate issues so we can clearly close them in each PR.

[2020-08-05 23:51] axic commented on #411
The reason it may not be a good idea to add:
1. the gas estimator may not be correct at all times
2. if the warning cannot be switched off, users could be annoyed if it is intentionally using more
3. if we are trying to demote the send/transfer process, may be it is not important to highlight this (as we would suggest users to always send appropriate gas)

[2020-08-05 23:53] axic commented on #2606
Is this issue still relevant?

[2020-08-06 08:19] gitpushOmnik opened #9580 "A '404' error in the latest Solidity Documentation"
- Noticed a **dead link** present  in **Solidity by Example** module under the  **Recovering the Message Signer in Solidity** section of the Solidity Web Documentation.
  https://solidity.readthedocs.io/en/latest/solidity-by-example.html](url)

- In the above stated section **Recovering the Message Signer in Solidity**, it states that Solidity provides a built-in function ecrecover and describes i

[2020-08-06 08:47] ekpyron opened #9581 "Improve reviewability of extracted tests (for SMTChecker tests and source locations in general)."
Especially for the SMTChecker tests reviews would be much simpler, if one could check out the branch locally, build isoltest and have it run all tests touched in the diff from develop. In this mode ``isoltest`` should single-step through the test expectations and highlight each one (even if succeesding) in the source with full error message (including secondary location - although we might add tho

[2020-08-06 09:15] ekpyron opened #9582 "Remove or fix install_deps.sh"
It's horribly outdated for most distributions. And we don't ever test it.

We just had a report that it doesn't recognize CentOS, even though there is a case for it in the script - but even if it *was* recognized, it would install weird versions of things from weird sources, not install smt checkers, etc.

I vote for removing it and instead making sure to properly document the dependencies (should

[2020-08-06 09:22] ekpyron opened #9583 "[CLI] Rewrite the command line interface (solc) and consider using StandardCompiler as backend."
CommandLineInterface.cpp is just one single huge mess right now :-). See other related issues #9579, #8722, #5306.

For an initial implementation see #11960.

Tasks:
- [x] #6900 (to avoid the need to rewrite this JSON code)
- [ ] #10278 (to remove the need creating a translator to `--combined-json`)
- [x] #11507
- [ ] Support displaying error ids (this is optional, we could manually craft the erro

[2020-08-06 09:46] axic commented on #9583
Strange there wasn't an issue for this, it has been one goal for me at least :+1:

[2020-08-06 09:57] chriseth commented on #9581
So the main issue here is that when looking at the test file itself, it is not easily visible what the error message refers to, right?
Or is it just about the secondary locations?

Is there a way to fix that in the test format itself?

Not specific to SMT checker, some ideas:
[code]
-
[code]
-
[code]

[2020-08-06 09:58] chriseth commented on #9582
I agree, we should not have any scripts that are fully untested. Furthermore, I always find it scary to run scripts that modify my system.

[2020-08-06 10:05] chriseth commented on #2606
The first item is not yet implemented, but would be useful.

[2020-08-06 10:06] chriseth commented on #9301
Closing as the underlying issue cannot happen anymore.

[2020-08-06 10:06] #9301 closed, assigned to bshastry

[2020-08-06 10:06] chriseth commented on #9303
This has been implemented.

[2020-08-06 10:06] #9303 closed, assigned to nobody

[2020-08-06 10:14] ekpyron commented on #9581
It's a bit of both... With the SMT checker tests, especially after the counterexamples, I'm not sure they'd fit into an inline expectation all that well... and even if so, then having three of those might inflate the test case that much, s.t. it's hard to read it at once... (and SMTChecker tests often justifiably have several assertions in them...)

On the other hand, if isoltest highlighted the a

[2020-08-06 13:30] cameel commented on #9580
@cakesoft-omkar Thanks for reporting this! Looks like the link was indeed broken and it was not detected automatically by Sphinx because of wrong syntax being used. I corrected that and also fixed a few more broken links that I found while doing it. It's in #9587 and should be fixed in `develop` soon. https://solidity.readthedocs.io will get updated once the v0.7.1 is out.

[2020-08-06 13:42] axic commented on #3158
Accomplished by #8482

[2020-08-06 13:42] #3158 closed, assigned to nobody

[2020-08-06 13:44] axic commented on #8482
@GNSPS thanks for updating ConsenSys/solidity-antlr4, but the deprecation notice seems to be recursive? :)

[2020-08-06 14:11] #9499 closed, assigned to chriseth

[2020-08-06 15:00] chriseth opened #9589 "Replace `bool DeclarationRegistrationHelper::visit(...)` by a more generic visitor like in the Scoper"
The Scoper now does most of the work of the DeclarationRegistrationHelper - we should remove the asserts in the latter and make its behaviour rely on the ground work done by the Scoper - potentially also using a generic visit function like in the Scoper.

[2020-08-06 16:29] GNSPS commented on #8482
😂 I'm so sorry, Alex! Corrected!

[2020-08-06 17:49] leonardoalt opened #9590 "Output Yul ASTs"
It would be helpful/essential for verification tools to have access to the Yul ASTs that are generated throughout compilation via Yul.

[2020-08-06 20:01] chriseth commented on #9590
Related to https://github.com/ethereum/solidity/pull/9053

[2020-08-07 07:31] thekevinbrown commented on #232
@axic One scenario would be where you have a really flexible agreement. For example you might have a weekly agreement and a monthly agreement. It'd be handy from a dApp point of view to only have to deploy and manage one type of smart contract, then be able to initialise it by just calling different constructors instead of having to deploy a specific type of agreement and manage multiple ones on t

[2020-08-07 10:28] leonardoalt commented on #9437
while_loop_array_assignment_storage_storage - smtCheckerTests.loops disabled by https://github.com/ethereum/solidity/pull/9521

[2020-08-07 13:52] adridadou opened #9592 "`try`/`catch` for low-level external calls"
## Description

I'm trying to use the new try / catch feature but it seems that it doesn't recognise address.call to be an external call

## Environment

- Compiler version: 0.7.0
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): Truffle and Remix
- EVM execution environment / backend / blockchain client: it's a compilation issue so not relevant
- Op

[2020-08-08 14:40] cameel commented on #9226
We had some unexpected problems with the switchover (DNS was updated but Cloudfront kept serving the data from GH pages) but it's solved and the new binaries are finally available at solc-bin.ethereum.org.

[2020-08-09 11:31] ekpyron opened #9594 "Attempt to build statically linked Windows Binaries"
Currently our binaries depend on a bunch of msvc*dll's and I think we are currently actually even shipping the wrong ones in the release archives (32-bit instead of 64-bit dlls with 64-bit executables; not sure that'd actually work or people just happen to have the correct dlls installed globally instead). If possible, statically linking might be nicer.

Might work with
https://cmake.org/cmake/hel

[2020-08-09 13:51] bshastry opened #9595 "[SMTChecker] ICE because *arraySort->domain != *_index.sort"
[code]

throws

https://github.com/ethereum/solidity/blob/241a564fcabb40b829b2ba497dd87d488b83fbb9/libsmtutil/SolverInterface.h#L135

[2020-08-10 13:23] ekpyron commented on #9594
If static linking is *not* possible for whatever reason, we should have cmake decide which DLLs to package, i.e. add
https://github.com/ekpyron/solidity/pull/12/files#r467897986
and have whatever CI script packs the release do this based on a cmake install instead of manually copying.

[2020-08-10 13:31] #9234 closed, assigned to nobody

[2020-08-10 13:31] #9506 closed, assigned to nobody

[2020-08-10 13:46] axic commented on #9592
I don't remember what was the main requirement, but either we should support `.call`/`.delegatecall`/`.staticall` or report a better error.

[2020-08-10 13:50] adridadou commented on #9592
yes exactly. I'm trying to retrieve the reason for an error and I have no way if you use .call (or similar calls)

[2020-08-10 13:57] axic commented on #5173
Related to #4558.

[2020-08-10 14:04] ekpyron commented on #9592
Low-level calls return a tuple ``(bool, bytes memory)`` - the ``bool`` indicating, if the call failed, the ``bytes memory`` containing the error message as an ABI-encoded call to a function with signature ``Error(string)``. So with low-level calls you are supposed to manually decode the message.
The ``bytes memory`` part will consist of the 4-byte signature of ``Error(string)`` followed by a point

[2020-08-10 14:51] adridadou commented on #9592
ooh that's great news ! Ok I will be using that then.
I would add this to the documentation. In the documentation there is nothing related to the error case and what is returned.

Looking at the return value, it would be nice if there was a way in solidity to handle that without splitting the bytes array

[2020-08-10 14:53] alcuadrado commented on #9462
Any news on this? Does my last comment answer all your questions about the proposal?

[2020-08-10 17:45] ekpyron commented on #9592
We'll keep this open for looking into improving the documentation about this.
And hopefully in the future we'll have some mechanisms that makes this easier than having to deal with the raw bytes data.

[2020-08-10 20:27] bshastry opened #9596 "[solc] ICE because "cannot convert magic variable super""
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/05901f5bc9607a6c3f0e4dd83954ebff17834eab/libsolidity/codegen/CompilerUtils.cpp#L754

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-08-11 09:01] saurik opened #9597 "pragma experimental ABIEncoderV2 cannot compile some existing code"
I have now read through a number of issues--mostly supposedly closed and fixed?--surrounding ABIEncoderV2 and stack depth, but I can't find anything that addresses this and it feels like a bug: there is code that works fine without ABIEncoderV2 that breaks with the new encoder... and this code doesn't even use any of the new encoding features, which seems incorrect (and makes it so you can't turn

[2020-08-11 09:35] Marenz opened #9598 "Allow comparing of value-only struct/tuple types"
It should be possible to compare structs and tuples that consist only of simple value types.
If every individual type of the struct/tuple supports `==` then the struct/tuple should also support the operation.

Example:

[code]

[code]

[2020-08-11 09:38] leonardoalt commented on #9598
Tuple comparison was also requested in https://github.com/ethereum/solidity/issues/8919, could probably be done at the same time

[2020-08-11 09:44] Marenz opened #9599 "Allow assignment of tuple to struct and vice versa"
Example:
[code]

[2020-08-11 10:05] Marenz commented on #4596
I am absolutely in favor of range-based loops at the very least.

[2020-08-11 10:11] Marenz opened #9600 "Allow tuples to fill the function parameters when passed as parameter"
Example:

[code]

[2020-08-11 10:55] leonardoalt opened #9601 "solidity::util::formatNumberReadable signed integer support"
Currently that function does not support signed values, causing, for example:
`Warning 3944: (110-115): Underflow (resulting value less than -57896044618658097711785492504343953926634992332820282019728792003956564819968) happens here`.
That number is actually `-2**255`, so it could be better formatted.

[2020-08-11 10:57] Marenz commented on #7569
No, currently not

[2020-08-11 14:49] adridadou commented on #9592
for anyone getting here and looking for a solution, here is an example on how to do it:
https://ethereum.stackexchange.com/questions/83528/how-can-i-get-the-revert-reason-of-a-call-in-solidity-so-that-i-can-use-it-in-th

[2020-08-11 23:49] ekpyron opened #9604 "Disallow ``this`` and ``super`` and ``_`` as identifiers."
I just realized that ``uint this = 4; uint super = 7; uint _ = 42;`` is still allowed and only a warning. I think the next breaking release should disallow this.
The last one is probably the most controversial one, but ``_`` is the placeholder keyword for modifiers, and I'd think it'd be nice to not have any keywords used as non-keyword in general...

[2020-08-12 00:37] ekpyron opened #9605 "Disallow spaces in the Yul return value arrow ``- >``."
I guess the fact that this is allowed is rather a parsing accident than actually intentional? I only noticed, since there's one semantics test ``test/libsolidity/semanticTests/inlineAssembly/inline_assembly_function_call.sol``, that uses this (I guess due to a typo).

[2020-08-12 01:21] axic commented on #9605
I actually noticed this while looking at the parser, I think I wanted (or did?) clean it up with #9555.

It requires a scanner improvement though (a specific token for `->`), which would be possible after #9331 is merged.

[2020-08-12 01:25] ekpyron commented on #9605
Strictly speaking it's a breaking change :-)... but I'd be fine with calling this a bugfix...

[2020-08-12 08:09] leonardoalt commented on #9605
+1 for bugfix

[2020-08-12 11:24] Marenz opened #9607 "Overload resolution failure should explain for each candidate why it does not match."
In the example below it is obvious we want to call the variant with the two extra parameters, but the error does not make it obvious why we can't call it (uint -> int conversion required). A better error message showing the different types would be great.

[code]

[2020-08-12 11:45] axic commented on #9607
[code]

I would also suggest to change the source location displayed here to be the entire function definition header.

[2020-08-12 12:28] axic commented on #5173
Probably will be fixed as part of the work initiated by #9586.

[2020-08-12 12:50] axic commented on #4558
On the meeting there were no strong opinions whether to keep this warning or not, but we were leaning towards keeping it because missing the fact it is `external` and in fact not actual shadowing is easy, thus the warning is helpful to avoid mistakes.

There was agreement though to improving the message would be nice.

[2020-08-12 12:52] axic commented on #4869
#5173 is also related

[2020-08-12 12:57] skywormfol opened #9608 "[Not very sure] at line of 404 and 407 in file ContractCompiler.cpp, both asserts are fallback?"
## Description

I didn't test, as titled, at line of 404 and 407 in file ContractCompiler.cpp, both asserts are fallback?
https://github.com/ethereum/solidity/blob/e68d16d8e09fafac6f6913d961a0f8e4de5573dd/libsolidity/codegen/ContractCompiler.cpp#L402

They should be different, right? for fallback and etherReceiver?

## Environment

- Compiler version:
- Target EVM version (as per compiler settings

[2020-08-12 13:01] axic commented on #9608
That seems to be a bug.

[2020-08-12 13:28] axic commented on #909
Here we are missing a lot information:
- Use cases / requirements
- Syntax for declaration
- Syntax for usage (switch statement proposed above, match statement from Rust, etc.)
- Encoding

It would be possible to consider this with different levels of complexity:
a) Single value, value types only
b) Single value, complex types only
c) Multiple values, value types only
d) Multiple values, complex t

[2020-08-12 14:38] axic opened #9609 "Turn on ABIEncoderV2 by default"
**Question: should there be a pragma for enabling ABIEncoderV1?**

Should track here what is needed to achieve this: TBA

[2020-08-12 14:39] axic commented on #9609
I could see us enabling V2 in 0.8.0 but keeping V1 for another major release and only dropping it in 0.9.0.

[2020-08-12 14:40] ekpyron commented on #9609
Hopefully, we'll have proper fuzzing against the Isabelle implementation soon. It'd be much safer to only default to it, once we can properly fuzz it.

[2020-08-12 15:09] k06a commented on #9139
<img width="946" alt="image" src="https://user-images.githubusercontent.com/702124/90032384-ff1dcd80-dcc6-11ea-8fc3-a23ad9dfe5cd.png">

[2020-08-12 18:17] k06a opened #9610 "Private methods of base classes somehow don't wanna be compiled"
## Description

Private methods of the same signature (name + args) gives compilation error when inherited from both. I expect private methods of the contract should not produce any collisions on the inherited contracts.

## Environment

- Compiler version: 0.6.12

## Steps to Reproduce

[code]
-->
[code]

[2020-08-12 19:04] ekpyron opened #9611 "Disallow "using for" in interfaces."
There's no use, since "using for" is no longer inherited, is there?
This is strictly speaking a breaking change, but I'd call it a bugfix instead.

[2020-08-12 22:14] axic commented on #5778
@ekpyron is this still a valid issue?

[2020-08-12 22:16] axic commented on #5372
@ekpyron @chriseth what is the status of this issue now, given we have dots in identifiers?

I've tried to read the intro, but it is unclear to me whether this is a language feature, an implementation detail, or an optimiser feature. Admittedly haven't read the little essay from @ekpyron.

[2020-08-12 22:16] ekpyron commented on #5778
Might still be a thing... most of the cases should be fine by now, though...

[2020-08-12 22:20] ekpyron commented on #5372
Well, we still don't know how well the YulStringRepository stuff reports and whether name dispensing could be more efficient than it is... I'm not particularly sure this issue itself provides that much value, though. It's one option for doing things differently, but we currently just don't know if it'd be better or worse than what we do now...

[2020-08-12 22:21] axic commented on #5495
Lately a few changes were merged to reduce interdependency (mostly to reduce dependency on libevmasm from within libyul), however there is a PR which does the converse, adds dependency on libyul from libevmasm. That would be the first instance, and it is not merged yet.

It seems we cannot remove dependency on libevmasm anytime soon from libyul, so I would argue that making this dependency bidirec

[2020-08-12 22:22] axic commented on #5372
So is this changing the language or an implementation detail?

[2020-08-12 22:23] axic commented on #8303
@ekpyron can you clarify what exactly did you mean here?

[2020-08-12 22:27] ekpyron commented on #8303
What do you want clarified? The issue is just about allowing general tuple assignments in yul like ``x, y := 1, 2``, so dropping the requirement on the right-hand side to be a function call for these. That would have made major parts of Yul-IR codegen much simpler. But now we worked around most of these issues in IR codegen - and it may be non-trivial to properly specify the semantics of general t

[2020-08-12 22:35] axic commented on #8303
What is exactly needed. We already have partial tuple assignment support, as you say assigning to tuples returned from functions.

Is this about arbitrary tuple assignments? Equal number of items on left and right? Any kind of expression on right hand side? Only variable on left hand side? Lots of questions :wink:

[2020-08-12 22:36] ekpyron commented on #5372
Mostly implementation detail, probably exclusively.

[2020-08-12 22:36] axic commented on #9605
I'm also voting for bugfix, the intention clearly wasn't `function f(a, b) -              > x, y {}`.

[2020-08-12 22:40] axic commented on #9611
I think this is a bugfix, because interfaces were never supposed to allow `using for`, and if they did, that was freak of life.

See https://solidity.readthedocs.io/en/v0.7.0/contracts.html#interfaces

[2020-08-13 00:21] ekpyron commented on #8303
Yes, it is about arbitary tuple assignments.
- LHS and RHS have equal numbers of items.
- If RHS is a tuple (has more than one item), two options: either function calls are prohibited, or function calls must return a single item.  The more restricted version would already help, the more general one would be even better.

Best for Yul-IR would be the generalization to arbitrary tuples of function c

[2020-08-13 00:29] axic opened #9616 "Replace "returns" with "->" in function definitions (and other use cases)"
**Warning: this issue is not too much thought out yet.**

While implementing #9605 and making that a feature of `ScannerKind::Yul` I realised that perhaps that token is invalid in the current Solidity language syntax and could unconditionally enable it. This sparked some ideas about how it could be used.

---

1. Replace `returns` with`->`:

[code]

Side comment:

---

2. Use it in function types

[2020-08-13 00:31] axic opened #9617 "[Yul] Require parentheses around return variables in function definitions"
Currently functions definitions look like:
[code]

The proposal is to require parentheses around the return variables:
[code]

I do not remember why we have opted to not require parentheses, but the benefit of the second notation is making it clear it returns a tuple.

I'm not yet sold on this change, but thought it is worth discussing.

[2020-08-13 00:31] ekpyron commented on #9616
I'm all for that, if we find a solution for the function type ambiguity. We can even do it non-breakingly, if we keep ``returns`` with a deprecated warning. People will probably hate us for it, though, because this would literally break almost every contract out there I guess :-).

[2020-08-13 00:33] axic commented on #8303
C++ generating pseudo-Yul via Whisker templates, which generates psuedo-untyped-somedialect-Yul with IRVariables, which generates some other kind of Yul, and after a few more steps, we may get to Yul supposedly readable for audit.

[2020-08-13 01:11] #8816 closed, assigned to nobody

[2020-08-13 01:12] ekpyron commented on #8303
Exactly :-). That's why I asked for tuple assignments instead first :-D.

[2020-08-13 11:30] bshastry opened #9618 "[Sol->Yul] Map key access exception"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/5d670aaa1895945fe7b5bd1367eb257019d97c96/libsolidity/codegen/ir/IRGenerationContext.h#L103

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-08-13 12:06] leonardoalt commented on #9581
Also that, I think having to compile a branch locally in order to review a PR sounds like a lot of overhead

[2020-08-13 12:18] axic commented on #9605
Ran all the tests in #9612 with the scanner change enabled for both Yul/Solidity modes and there is no failure in the repository.

I'd propose we consider adding the token in general and would risk calling it non-breaking :wink:

[2020-08-13 12:37] ekpyron commented on #9605
+1 for making it a general token

[2020-08-13 12:43] ekpyron commented on #9605
Also relabeling it, since I think we tend *not* to consider it breaking, which at least I think would be fine.

[2020-08-13 13:16] ekpyron commented on #8303
In case it helps: the main issue in Sol->Yul codegen is that we want to associate Solidity expressions with Yul variables and for example on an assignment of a Solidity variable to a Solidity expression, assign the Yul variables corresponding to the Solidity variable to the Yul variables corresponding to the Solidity expression.

But in nearly any context we have to assume that we might need more

[2020-08-13 13:25] axic commented on #8303
Side-comment: if tuples are seriously considered, then we should also consider a tuple syntax on LHS and #9617 for function definitions.

[2020-08-13 13:31] ekpyron commented on #9617
I'd vote against this (because per se there's no need for it and I don't think it is required for readability), *unless* we go for https://github.com/ethereum/solidity/issues/8303#issuecomment-673476722, in which case having parentheses around any kind of tuple in general might solve potential issues.

[2020-08-13 15:58] axic opened #9620 "Clean up Yul testing with regards to dialects"
As it was found many times (e.g. https://github.com/ethereum/solidity/pull/9619#discussion_r470049441) the current Yul testing is not the best organised.

Problem 1: In `YulSyntaxTests`  the dialect "evm" means evm-with-objects and there is not way to represent evm-without-objects.

Problem 2: With having too many dialects we end up duplicating the same tests multiple times. Perhaps the dialect se

[2020-08-13 16:00] ekpyron commented on #9620
Actually, neither the builtin checks nor the dot-stuff should be done in the Yul Scanner or Parser.
Then we could just have one parser, one scanner and one grammar for all of (untyped) yul.
And the differences would only be during analysis, i.e. we have pure yul syntax tests that are merely split as "typed" and "non-typed" and then yul analysis tests, which check that dots are excluded in identifi

[2020-08-13 16:04] ekpyron commented on #9620
Once this is done, we could start testing the inline assembly grammar against the yul parser tests again...

[2020-08-13 16:08] ekpyron opened #9621 "Make `from` a full keyword or a proper "import-mode-only" keyword."
`from` is a keyword, but it is actually allowed as identifier as well anywhere - the only place where it actually is used as a keyword is in import statements.
We should either:
 - make it a full regular keyword that's diallowed in identifiers
or
 - add another scanner mode for imports and only make "from" a keyword in that mode.

[2020-08-13 16:39] loredanacirstea opened #9622 "Recursion stack overflow - Out of stack PUSH1 1/1024"
## Description

The recursion limit is not an out of gas exception. Instead, I get a stack exception.

The error on Ganache is:

The error in Remix, when I execute the call on Kovan is:

Can be seen here: https://kovan.etherscan.io/tx/0x09b3f100f3786290c8383847e002f4d32e72984d1cb54bab9095115d616d2c8f

## Environment

- Compiler version: 0.7.0, 0.6.x
- Target EVM version (as per compiler settings):

[2020-08-13 16:42] ekpyron commented on #9330
I don't think it can be considered non-breaking - it would be a proper breaking change.
The history was: those instructions were usable in 0.4, then it was disallowed to use them in 0.5 both as instructions and as identifiers, then in 0.6 they were allowed again. I'd find it rather weird to now suddenly disallow them again in 0.7 or even 0.8.

We could just warn about them instead in 0.7 - and if

[2020-08-13 16:42] bshastry opened #9623 "[solc] ICE because there was an attempt to resolve an empty name"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/b1fb9da63aa22f65173a7c3a93d06fbe76abba36/libsolidity/analysis/DeclarationContainer.cpp#L129

May be related to https://github.com/ethereum/solidity/issues/9560 that was fixed by https://github.com/ethereum/solidity/pull/9567

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-08-13 16:43] loredanacirstea commented on #9622
Is it an issue that can be fixed?

[2020-08-13 16:44] axic commented on #9622
The EVM has a value stack limit and you keep growing the stack with recursive calls. I suggest to rework your code to not use recursive calls and then the compiler has a chance to reduce stack usage.

[2020-08-13 16:45] ekpyron commented on #9330
Do you have any example of any yul snippet that would *really* be confusing based on those?
Let's take ``jump``.
If you make that a variable ``let jump := 4``, it cannot be called, so no-one could think it actually jumps anywhere.
If you make it a function, the only argument it could get are expressions, not functions, so I don't think that even in
``function jump(x) {} function f() -> r {} jump(f

[2020-08-13 16:45] axic commented on #9330
I argue based on git history (the number of clutter found suggests it was hastily merged) that during the introduction of dialects this was forgotten because no good test existed. Because of that I think it is a bugfix.

[2020-08-13 16:46] ekpyron commented on #9330
I vaguely remember it being a consciously (albeit briefly) discussed decision actually - but I may be wrong about that... not sure it matters too much at this point.
EDIT: the lack of a changelog entry in 0.6.0 is an indication against that, though, that's true :-).

[2020-08-13 17:10] loredanacirstea commented on #9622
Unfortunately, removing recursion is not an option.
So, the only solution would be changing the compiler or me working directly in assembly & handling stack & memory management.
Thank you for the fast answer.

[2020-08-13 17:23] axic commented on #9622
How would you improve the compiler to use less stack during recursion?

[2020-08-13 17:42] loredanacirstea commented on #9622
By saving in memory when the stack is not enough and keeping on the stack one single pointer to the pointers of frames saved in memory.

[2020-08-13 17:48] axic commented on #9622
General stack to memory elevation is being considered and prototyped, but that will be extremely expensive in your case if you need to keep a recursive function.

[2020-08-13 17:54] loredanacirstea commented on #9622
That is very good news. Expensive is fine.
How can I help? Solving this issue is urgent/important for me.

[2020-08-13 20:31] ekpyron commented on #9622
Short answer: I think our current work on memory variables won't apply here and there's not much the compiler can do to help here in the immediate future, so you will have to reduce the stack strain manually in assembly. Once we have a new Yul dialect with memory objects that might change, but there's no ETA for that, unfortunately (but hopefully we will get there in the next months, feel free to

[2020-08-13 21:05] axic commented on #9601
Probably the same issue: https://github.com/ethereum/solidity/pull/9479#discussion_r464505293

[2020-08-13 23:06] k06a opened #9624 "Long chain of calls produces "Stack too deep""
## Description

Long chain of calls produces "Stack too deep"

## Environment

- Compiler version: 0.6.12, 0.7.0

## Steps to Reproduce

[code]
=>
[code]

[2020-08-13 23:18] loredanacirstea commented on #9622
Thank you for the very detailed & useful answer.
I was trying your code example, but I still need to make some changes for it to work and it is getting late, so I will continue in the morning and come back with results.

[2020-08-13 23:57] ekpyron commented on #9369
Another user right here https://github.com/intellij-solidity/intellij-solidity/tree/master/src/main/grammars/ - I just noticed, because that's an IntelliJ plugin I can actually use in CLion myself :-D.

[2020-08-14 01:00] ekpyron commented on #9581
Maybe the two aren't mutually exclusive... I still think a review mode for isoltest on a PR diff with step-by-step highlighting would make reviewing of test-heavy and especially SMT PRs much easier, *even if* we had a nicer way to display things on github - depending on the size of the PR the overhead of building locally would be well worth it.
But even if I manage to convince you of that, we shou

[2020-08-14 11:00] loredanacirstea commented on #9622
It seems the issue is in the optimizer. The stack is not cleared after the unnamed blocks finish - at least this is what the Remix debugger shows me.
E.g. when entering the `eval()` inside the main `eval()` function, the previous stack is not cleared. I am talking about:
[code]

I tried: (code & results: https://gist.github.com/loredanacirstea/92d2dd1127fb95ea05d4cec671d02a91)
- 0.7.0 solc.js in R

[2020-08-14 11:33] ekpyron commented on #9622
Yes, you're right, the optimizer actually messes this up, hm...

The issue is that the optimizer doesn't know what we're trying to do and after optimization we end up with:
[code]
So the optimizer destroyed the property that no stack variables from before the recursive ``eval()`` call are still used afterwards, since it's trying to be clever and reuses ``_1`` and ``_2``...

As a quick solution, in

[2020-08-14 12:20] ekpyron opened #9626 "Yul Optimiser: Consider to take stack height into account in CSE"
Came up in the discussion in https://github.com/ethereum/solidity/issues/9622

That issue has quite a specific context, but this can be an issue in general. I don't think this can be done perfectly, but in a situation like
[code]

It would be much better not to have CSE unify ``_1`` and keep it at

[code]

[2020-08-14 12:24] ekpyron opened #9627 "Make the hard-coded parts of the optimiser sequence configurable"
The CSE run at the very end after the stack compressor actively causes problems in https://github.com/ethereum/solidity/issues/9622

So maybe we should think about making the hard-coded part of the sequence ``suite.runSequence("fDnTOc g", ast);``, resp. the earlier ``suite.runSequence("g", ast);`` configurable as well.

My idea would have been to add ``T``, the literal materializer to the end of t

[2020-08-14 12:28] ekpyron commented on #9622
Adjusting the optimiser sequence slightly to
``solc --strict-assembly --optimize --yul-optimizations "dhfoDgvulfnTUtnIf[xarrscLMcCTUtTOntnfDIulLculVculjjeulxarulrulxarrcLgvifCTUcarrLsTOtfDncarrIulcT]jmuljuljulVcTOculjmul"``
should also preserve the needed property, at least for the code here https://gist.github.com/loredanacirstea/92d2dd1127fb95ea05d4cec671d02a91 - (I added ``T``, the "LiteralMate

[2020-08-14 12:36] loredanacirstea commented on #9622
It worked: 1015 steps with `solc --strict-assembly --optimize --yul-optimizations ""`
I will look into yul optimizer options, but I already consider this issue solved - from my part, it can be closed.

[2020-08-14 12:46] ekpyron commented on #9622
Nice! And it was quite an interesting issue - I hope in the future we'll have more progress on https://github.com/ethereum/solidity/issues/5107 and https://github.com/ethereum/solidity/pull/9162 and will at some point arrive at a stage, in which the compiler will be able to handle cases like this on its own.
I'm still closing this issue then, though, for now.

[2020-08-14 12:46] #9622 closed, assigned to nobody

[2020-08-14 12:52] ekpyron opened #9628 "[Yul] Consider optimiser annotations at least in standalone Yul (e.g. "inline"/"noinline")"
Inspired by the issue in https://github.com/ethereum/solidity/issues/9622

I'm not entirely sure this is a good idea - but Yul will probably be used for highly-optimized low-level implementations. Arguably those will be manually optimised and will just disable the optimiser, but the better the optimiser gets the more valuable it may be even in such use cases. But as demonstrated in https://github.

[2020-08-14 13:04] agroce opened #9629 "ICE in virtual solidity::frontend::Visibility solidity::frontend::FunctionDefinition::defaultVisibility() const [assert]"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.7.1-develop.2020.8.7+commit.241a564f.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environment

[2020-08-14 13:12] axic commented on #9628
Hah, but not constant, right? :wink:

[2020-08-14 13:15] axic commented on #9628
We could consider generic attributes/hints/decorators. Some potential syntactical options:
[code]

[2020-08-14 13:21] ekpyron commented on #9628
I'd defer the constant debate back to https://github.com/ethereum/solidity/issues/5928 :-). I still think it would only be syntactical and won't really affect the optimiser, I'll elaborate a bit more on that there and would try to keep this here about decorators in general and try to stick to the inline example, because I think that's the most promising first choice for a thing like this.

Apart f

[2020-08-14 13:29] ekpyron commented on #9628
An example for a conceptual issue would be this:
[code]

The optimiser will recognize that they're equivalent and unify them... but what does that mean for the hints? It'd probably just be dropped in this case - which is why the annotations are probably better just considered hints and nothing more... and maybe this already means that the concept is inherently flawed, I'm not sure...

[2020-08-14 13:49] cameel commented on #9627
Here's the gist of my discussion with @ekpyron on Gitter:

The reason that the stack compressor and the `g` and `fDnTOc g` parts are hard-coded is that it's just final cleanup and we don't want them to disappear when we use a sequence produced by yul-phaser. This part is not meant to be evaluated using the same criteria as the rest of the sequence (i.e. just taking the size of the resulting code i

[2020-08-14 13:51] bshastry commented on #9629
Thank you for reporting @agroce !

This looks like a variation of https://github.com/ethereum/solidity/issues/9509 that throws the same exception!

[2020-08-14 14:01] ekpyron commented on #5928
From gitter (@axic): ``This actually may be a real benefit of constants, right now constants have to be passed to functions via variables and then you end up with this stack issue.``

While true, that's also solved by using ``function constantName() -> x { x := value }`` for the constants...
We also discussed that since shadowing global variables in functions is an error, constants could have glob

[2020-08-14 14:11] ekpyron commented on #9616
Actually the function type ambiguity may not be related to this that much... we already do have this problem for function types without return values, i.e. we have stuff like ``function() internal internal x;``, etc. - so the arrow wouldn't make this *that* much worse...

[2020-08-14 14:21] axic commented on #5928
Yes, I did mention that, and also that I am not sold by it being a really convenient option.

I thought about it being just a "sugar" in the sense there would be an early optimiser step which replaces all assignments from constants with their literal value, or the function madness proposed above.

I do not think it was "deferred", rather that Yul+ is a good place to be a playground, but what makes

[2020-08-14 15:15] cameel commented on #9545
I checked the commit (8b45bddb) and it's the right one (tagged as 0.4.15) so it looks like it's just a matter of it having been built as a pre-release.

I asked @chriseth about it earlier and he said that it's fine to just replace the zip on the release page with a new, correctly built one. We should also update [solc-windows-amd64-v0.4.15+commit.8b45bddb.zip](https://github.com/ethereum/solc-bin/

[2020-08-14 15:19] cameel commented on #8813
Thanks for the report. We're going to rebuild the executable and replace it on the release page.

There's already another report about the same issue: #9545. It's been posted later but contains a bit more info so I'm going to close this one. We can continue the discussion there.

[2020-08-14 15:19] #8813 closed, assigned to nobody

[2020-08-14 15:21] cameel commented on #6327
Just for reference, there was actually an issue with 0.4.15 reporting as nightly on Windows. It's been reported in #9545 and we're going to rebuild and update the binary on the release page.

[2020-08-14 15:24] cameel commented on #8815
@JackHFeng We're going to rebuild the binary because of #9545 and while doing it we'll see if there are actually any issues. But maybe you could provide some more specific information on the errors you're seeing? The output you posted are just warnings and they should not make the compilation fail on their own.

[2020-08-15 00:21] antsankov commented on #3300
+1 This feature would be nice.

[2020-08-15 11:28] bshastry commented on #9618
Please note that accessing `y.slot` throws a similar exception in a different line of code but I think they are related so I decided not to create a new issue

[code]

throws

https://github.com/ethereum/solidity/blob/b1fb9da63aa22f65173a7c3a93d06fbe76abba36/libsolidity/codegen/ir/IRGenerator.cpp#L88

[2020-08-15 18:56] agroce opened #9631 "[SMTChecker] ICE in void solidity::frontend::SMTEncoder::tupleAssignment(const solidity::frontend::Expression &, const solidity::frontend::Expression &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.  This bug is notably similar to https://github.com/ethereum/solidity/issues/9179

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.7.1-develop.2020.8.15+commit.b1fb9da6.Linux.clang
- Target EVM version (as per compiler setti

[2020-08-16 12:17] iamdefinitelyahuman commented on #9545
Thanks for handling this! And more generally for all your work with improving availability of binaries, it's much appreciated :pray:

[2020-08-17 13:06] mijovic commented on #9037
Implementation of struct copying from calldata to storage is part of #9602
However, in order to implement copying of structs containing dynamic arrays, we first need to support copying of dynamic arrays.

[2020-08-17 13:33] axic commented on #9605
@chriseth 1) do you consider this breaking for Yul? 2) do you consider it breaking for Solidity?

[2020-08-17 13:36] chriseth commented on #9617
I agree 100% with @ekpyron. The reason there are no parentheses is because tuples do not exist in the language. That's also why we have `let x, y := f()` and not `let (x, y) := f()`.

[2020-08-17 13:43] chriseth commented on #9611
Sounds good!

[2020-08-17 13:45] chriseth commented on #9610
"private" currently does not mean that such functions are invisible - they are only inaccessible. The reason is that it could easily lead to confusion if someone misses the fact that one function is private.

[2020-08-17 13:46] chriseth commented on #9610
Is making private functions invisible a feature you strongly rely or or is it just something you find unusual?

[2020-08-17 13:50] chriseth commented on #8303
I think we found a good solution in the codegen and maybe all the questions raised above show that this does not have a great cost/benefit ratio.

[2020-08-17 13:50] chriseth commented on #9621
The main argument against making `from` a keyword is that it is a really common variable name.

[2020-08-17 13:53] chriseth commented on #9605
I would say disallowing `- >` for yul is a bugfix. The question is whether the required changes in the scanner could be considered breaking for tools.

[2020-08-17 13:57] axic commented on #9605
As noted in #9612 enabling it unconditionally (for Solidity too) makes no test to break and with @ekpyron we couldn't find a case where it would be valid syntax.

[2020-08-17 13:58] axic commented on #9617
Please also refer to the lengthy discussion on gitter about this.

[2020-08-17 14:16] chriseth commented on #9605
Ok, bugfix it is!

[2020-08-17 14:45] chriseth commented on #9600
This might be convenient but we should really make this clear in the syntax, for example in the way python does it.

[2020-08-17 14:48] chriseth commented on #9609
I'm actually not too worried about correctness, I'm more worried about increased gas costs.

[2020-08-17 15:20] chriseth commented on #9597
Sorry, but this is a know limitation. We are trying to improve stack problems, but ABIEncoderV2 is not a drop-in replacement for the older encoder. The way to fix this is to back the 13 variables into structs to allow for better readability.

The reason this fails is because the new encoder uses an intermediate language that prevents some errors but at the same time adds overhead which needs more

[2020-08-17 15:20] #9597 closed, assigned to nobody

[2020-08-17 15:25] Marenz commented on #9600
For those who don't know how python does it (I had to look it up):

In Python, you can expand list, tuple, and dictionary (dict), and pass each element to function arguments.

Add * to a list or tuple and ** to a dictionary when calling a function, then elements are passed to arguments.Note the number of asterisks *.

Here, the following contents will be described.

* Expand list and tuple with *

[2020-08-17 16:31] #9608 closed, assigned to nobody

[2020-08-17 21:10] k06a commented on #9610
@chriseth but if I would like to inherit from 2 smart contracts from different developers their private methods could produce a collision and compilation error. It feels like a bug.

[2020-08-18 09:08] chriseth commented on #9610
We are currently trying to add features to the language that make inheritance much less important - maybe that could be a solution. Can you show a specific example?

[2020-08-18 11:49] leonardoalt opened #9636 "[SMTChecker] Support free functions"
Fixes #9654. Fixes #9764.

[2020-08-18 11:57] #9110 closed, assigned to nobody

[2020-08-18 12:08] chriseth opened #9637 "Associativity of exponentiation operator is counter-intuitive."
Solidity parses `a**b**c ` as `(a**b)**c` (like any other binary operator) while the expected grouping could be `a**(b**c))`.

[2020-08-18 12:18] axic commented on #8853
This works now with https://github.com/axic/eth2-deposit-contract/releases/tag/r2 (must remove the version pragma though).

Well, the resulting IR (even with `--ir-optimized`) results in out of stack, but we are one step closer:
[code]

[2020-08-18 13:12] #3384 closed, assigned to nobody

[2020-08-18 13:16] chriseth commented on #9628
If possible, I would like to avoid source code having an effect on the optimizer. Once we do that, we have to consider changes in the inner workings of the optimizer being breaking changes. Furthermore, the whole concept of inlining is exposed to the frontend - we don't even know whether inlining is the right step to take - we are also considering just function specialization without inlining.

[2020-08-18 13:18] chriseth commented on #9628
Also, can you please summarize the main problem referenced in #9622  ?

[2020-08-18 13:45] chriseth commented on #9462
Sorry, the unresponsiveness here is a product of the holidays season and the fact that I still cannot fully wrap my head around what you actually want the compiler to export here. You don't need to clarify the motivation or why this is useful. What I'm mainly interested in is why the current information that is exported is not sufficient for what you want to do.

The other problem is that you want

[2020-08-18 14:23] chriseth commented on #9552
Let me try to summarize, this this discussion got a bit out of hand:
 - there are still null values when solidity is used through standard-json mode (this is a bug)
 - null values are retained in arrays, they are only removed if they are object members (this is not a bug)
 - our impression is that the removal of null values is a transparent change that can be reacted to by replacing null checks by

[2020-08-19 02:35] blitz-1306 commented on #9552
@chriseth Hello. I would say **yes**.

[2020-08-19 06:07] cakesoft-khushi opened #9641 "typo-correction in solidity documentation"
In Solidity documentation, there is a typo error in the 'Contributing' division under the 'Running the compiler tests' section and 'Running the tests' subsection.

https://solidity.readthedocs.io/en/latest/contributing.html
The test system automatically tries **try** to discover the location of the evmone library starting from the current directory. The required file is called libevmone.so on Linu

[2020-08-19 09:43] gitpushOmnik opened #9643 "Associativity of modulo operator produces an invalid opcode error in require statement."
**DESCRIPTION**

While comparing the **associative** property of **modulo** operator in `require` statement, Solidity throws an invalid opcode error. **Modulo** function is not associative in nature. Nevertheless, while comparing two modulo expression in require statement, an error is generated.

The error is generated in the below code snippet.
 `require((a%b)%c != d%(e%f));`

The code runs fine

[2020-08-19 10:11] chriseth commented on #9643
Do you have any example values for the variables? Note that the modulo operation results in an invalid opcode if the second operand is zero - might that be the reason?

[2020-08-19 10:25] gitpushOmnik commented on #9643
No. i didn't assign value zero to any variable. All the variables were assigned a non negative value. I used the following values.

    contract Sample {
    uint a = 3;
    uint b = 4;
    uint c = 2;
    uint d = 3;
    uint e = 4;
    uint f = 2;

    function calculate() public{
        require((a%b)%c != d%(e%f));
    }
    }

[2020-08-19 10:47] hrkrshnn commented on #9643
`e%f` is 0 here. That explains the `invalid`.

[2020-08-19 10:49] #9641 closed, assigned to nobody

[2020-08-19 10:58] gitpushOmnik commented on #9643
Oh yes. My bad. Completely missed it.

[2020-08-19 10:58] #9643 closed, assigned to nobody

[2020-08-19 14:04] ekpyron commented on #9628
The problem in #9622 was a recursive function that only worked for a limited number of recursive calls due to the 1024 stack slot limit of the EVM. That's something that's hard for the optimiser to recognize (it would need to guess whether a recursion is meant to be deep or only shallow). Before #9622 I'd say that's an artifical problem, but the issue is proof that stuff like that actually happens

[2020-08-19 14:05] ekpyron commented on #9628
We could get around making optimiser changes breaking due to this by clearly stating that those are "hints that may or may not have an actual effect" (just as GCC or clang do with hints like this).
But yeah, in general I'm not sure about it either, but it's worth considering IMO.

[2020-08-19 15:34] chriseth commented on #9628
Ah ok, but in that case, I would say: Whenever there is recursion, it is meant to be deep recursion and thus we should limit the number of local variables on the stack for such functions.

[2020-08-19 15:35] chriseth commented on #9624
Thanks for opening this issue, but stack too deep errors unfortunately cannot be eliminated until we have the new code generator.

[2020-08-19 15:54] axic commented on #9628
How about having the ability to disable certain optimisation steps for certain functions? A standard decorator which does that. The compiler would throw an error if it refers to an invalid step.

[2020-08-19 16:03] chriseth opened #9645 "Implicit conversion from array literals to dynamically-sized arrays"
Array literals should be implicitly convertible to both statically-sized arrays of the same type and dynamically-sized arrays of the same type. This could be solved by making array literals their own type. This can be done in a similar way as we handle string literals: The code generator delays the actual conversion until the target type is known. Only then do we decide whether we store the length

[2020-08-19 16:06] chriseth commented on #869
Suggested by @cameel : there should be a way to write templates for data locations.

One way to do this would be to have a keyword that means "any data location". For function parameters, it would mean "generate one function for each combination of data locations that are used". For local variables, it would mean "infer the data location from the context".

[2020-08-19 16:57] chriseth commented on #8807
So maybe to reiterate: The source IDs are mainly important for the source references. If you process source references, you see a source ID. You do a lookup of that source ID to see what source file it refers to. If the source is compiler-generated, then its ID will just not appear in the list of source files known to you. So I don't think it is a big deal to distinguish these. Note that we actual

[2020-08-19 18:46] chriseth commented on #8807
Here is another binary: https://github.com/ethereum/solidity/pull/9053#issuecomment-676597122
It would be great if everyone could take a look!

[2020-08-19 21:29] hshar7 commented on #3060
My code is now a lot uglier because of this

[2020-08-20 11:17] #8743 closed, assigned to nobody

[2020-08-20 11:57] alcuadrado commented on #9462
Thanks for getting back to this, @chriseth !

We didn't find a way of identifying which sha3 operations are used for mapping keys that don't, potentially, give false positives. We are, of course, open to other ways of doing this.

I understand this. We are aware of the complications that this may bring, but also believe that for tools to progress solidity-level metadata needs to be associated with

[2020-08-20 11:58] bbzorba opened #9647 "Switch Control Structure"
Hello,
I am developing a model based on switch control structure in Solidity. In Solidity 0.4.7 switch does not exist but according to Solidity documentation 0.6.7 switch has been added to the language already. Does anyone know why the remix compiler 0.6.7 or higher gives the following error:
Parser Error: Function, variable, struct or modifier declaration expected.
switch (variable)
^---^

[2020-08-20 12:18] bbzorba commented on #2284
It says the switch is added to 0.6.7. But remix compiler says Error: Expected primary expression when switch-case control structure is used. What should I do? #9647

[2020-08-20 12:55] yann300 commented on #8807
I just add a chance to try it out, it works as expected in Remix.
From what I see, this is fine for us to have non negative number for generated sources.
The only reason I see for having non-numeric value to easily distinguish between user defined code and generated code, is that if the generated code is not available (which I guess is unlikely to happen), dev tools can report back to the user tha

[2020-08-20 13:03] yann300 commented on #8807
Well I don't think that's really nice to have in the source maps non numeric values and numeric values for the same slot...
Maybe the source maps can be extended with a new property to reflect from where the byte code is generated (user code, yul generated code, sub routine?, ...).

[2020-08-20 13:27] alcuadrado commented on #9573
This bug has really big implications for Buidler's new compilation pipeline. We are now forced to disable some optimizations we've been working on.

Can someone point to the first version of solc with this problem? That would be incredibly valuable.

[2020-08-20 15:46] chriseth commented on #9573
The problem should be present whenever you have some Yul code and the yul optimizer is activated. It got activated together with the regular optimizer starting from 0.6.0. You have Yul code whenever you use ABIEncoderV2. I think there are also some other situations here yul code is generated, but it might not have that problem.

Actually I think this only happens if you have multiple files in one

[2020-08-20 19:31] chriseth commented on #9647
`switch` is part of Yul, i.e. inline assembly, but not of Solidity itself.

[2020-08-20 19:33] chriseth commented on #9590
I'm wondering - is it really essential or would it also work to run solidity in yul mode and output the ast?

[2020-08-20 19:39] leonardoalt commented on #9590
Which ast would that be? What I'm imagining is that all the Yul compilation steps could be exported:
- Solidity -> Yul
- Yul -> Optimized Yul
- Optimized Yul -> Dialect Yul (if applicable)

[2020-08-20 19:54] bbzorba commented on #9647
So how can I use switch in Yul? Can you please introduce me a code?

[2020-08-20 20:01] chriseth commented on #9647
Does the example here help: https://solidity.readthedocs.io/en/v0.7.0/yul.html#switch ?

[2020-08-20 20:03] bbzorba commented on #9647
I used the same but gave the same parser error :/ but thanks for trying.

[2020-08-20 20:06] chriseth commented on #9647
The error sounds like you are using it in Solidity and not in inline assembly. The following should work when you are compiling it in Solidity mode:
[code]

[2020-08-20 20:10] bariszorba commented on #9647
Actually you are right and this might work, how can I use it in inline assembly using remix ethereum IDE?

[2020-08-21 03:55] abcoathup opened #9650 "Support easy multifile verification on block explorers"
## Abstract
Support easy multifile verification on block explorers, as many developers flatten contracts to verify.
Whilst not a compiler issue per-se, we need the ecosystem to support.

Previously discussed indirectly: https://github.com/ethereum/solidity/issues/8989

## Motivation
There is a community expectation that code controlling any value will be verified on block explorers.

Etherscan ver

[2020-08-21 08:10] bbzorba commented on #9647
This method solved my problem. Thanks.

[2020-08-21 08:10] #9647 closed, assigned to nobody

[2020-08-21 09:26] chriseth commented on #9650
Thanks for opening this issue! We will try to tackle a specific verification failure like https://github.com/ethereum/solidity/issues/9573 but I fear that a generic issue like this is not really helpful:

The compiler has been generating metadata files that are meant to make verification a breeze for years. So apart from fixing bugs, I don't think the compiler (this repository) can really improve

[2020-08-21 09:39] chriseth opened #9651 "Strengthen storage variables being unassigned now that we have inline assembly"
Reported by @magnus237:

The following code does not report a warning because of the self-assignment:
[code]

Now that we have inline-assembly access to the slots, the following code would be a better (more explicit) way of saying "please ignore the warning":
[code]

Can we change the control-flow-analyzer accordingly, i.e. do not take assignments from variables into account which are themselves n

[2020-08-21 09:41] leonardoalt commented on #9540
@christianparpart any idea?

[2020-08-21 12:25] #7021 closed, assigned to nobody

[2020-08-21 13:41] leonardoalt commented on #6011
@bshastry is this still the case?

[2020-08-21 14:19] hrkrshnn opened #9653 "Prevent YUL optimizer from changing certain values to identifiers."
Currently the following YUL code with args:  `--strict-assembly --optimize --ir-optimized`
[code]

produces the following result:
## Results

[code]

The change of `0` to `y` prevents UnusedFunctionParamterPruner from optimizing out the return value.

[2020-08-21 17:10] fvictorio commented on #8807
Buidler tests pass with this binary.

[2020-08-21 17:47] alcuadrado commented on #9237
Hey @chriseth,

This is now ready on our side. All you need to do to run our test suite with a custom compiler is:

[code]

(Note the version and path in the last command)

This will install all the necessary dependencies and run the relevant tests. The only requirement is node.js. Any of the currently actively maintained versions would do it.

If the tests fail, the script will exit with a non-ze

[2020-08-21 18:00] agroce opened #9654 "[SMTChecker] ICE in void solidity::frontend::SMTEncoder::initFunction(const solidity::frontend::FunctionDefinition &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.7.1-develop.2020.8.20+commit.4a720a65.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environmen

[2020-08-21 19:28] chriseth commented on #9653
Some optimizer steps use the fact that return variables are zero initially. On the other hand, such a code can also be the input for the optimizer, so I think we should make sure that after e.g. SSA transform, a literal zero is used instead. Also, input code for the optimizer might assign to function parameters before they are read from. Such parameters should also be marked as unused.

[2020-08-21 21:44] bshastry commented on #9654
Thank you for reporting the issue!

NTS: Smaller repro

[code]

[2020-08-21 21:52] bshastry commented on #9654
Looks like one of the first free functions related issues.

[2020-08-21 23:24] agroce commented on #9654
I should really get a better reduction using CReduce going here.  :)

[2020-08-22 04:08] saurik commented on #9597
Thanks for the suggestion, but in addition to finding the readability of a structure vs. parameters subjective, when I tested the gas cost of the structure it was higher than the arguments; I can check that again (as maybe I'd done that wrong or had forgotten exactly what I had tested now, as this was a while ago), but "it is maybe, subjectively, ever so slightly harder for some people to read cod

[2020-08-22 08:06] PL0948065540 opened #9657 "I think this should use `move` instead of `send`."
I think this should use `move` instead of `send`.

_Originally posted by @axic in https://github.com/ethereum/solidity/issues/4636#issuecomment-409585998_

[2020-08-22 14:31] agroce opened #9658 "ICE in size_t solidity::frontend::CompilerContext::immutableMemoryOffset(const solidity::frontend::VariableDeclaration &) const"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.7.1-develop.2020.8.20+commit.4a720a65.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environmen

[2020-08-23 09:54] bshastry commented on #9658
Thank you for reporting this issue! It looks like a duplicate of #9196 that is to be fixed by #9568

[2020-08-23 10:01] bshastry opened #9659 "[SMTChecker] ICE because tuple expression is a nullptr"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/bff0f9bda7f49e8971312d6a445a85d0d66fab2f/libsolidity/formal/SMTEncoder.cpp#L429

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-08-23 12:10] leonardoalt opened #9660 "[SMTChecker] Report struct in cex"
Currently only value types are reported in cex. Structs could be supported by simply recursing down on the members.

[2020-08-23 12:22] leonardoalt commented on #9654
Yea, I guess we'll start seeing quite a few of those :p

[2020-08-23 14:37] agroce commented on #9658
Ah, I did a search for the ICE, and it didn't come up, odd.

[2020-08-23 15:18] bshastry commented on #9658
No worries, sometimes the title is worded differently :-)

Could we close this issue?

[2020-08-23 22:30] alcuadrado commented on #9573
I think that's not always true. I believe our new compilation pipeline can easily trigger this bug.

Here's an example of what we were planning to do, and why it would fail:

* Suppose you have files `A.sol`, `B.sol` and `C.sol`. `B.sol` imports `A.sol`.
* Starting with a clean project, you'd compile `A.sol`, `B.sol` and `C.sol` together.
* Then, you modify `B.sol` and it gets compiled alongside `

[2020-08-23 23:36] agroce commented on #9658
Sure, if it's a dup

[2020-08-23 23:36] #9658 closed, assigned to nobody

[2020-08-24 06:42] abcoathup commented on #9650
Hi @chriseth,

I created the issue here to raise awareness with the team of this pain point in the community.
Feel free to close.
I have posted a version of this on the OpenZeppelin Community Forum: https://forum.openzeppelin.com/t/easy-multifile-verification-on-block-explorers/3621

A short term workaround could be a tool that copies a contract and it's dependencies to a single directory and upda

[2020-08-24 08:02] chriseth commented on #9573
@alcuadrado maybe I didn't understand, but are you saying that a user deploys a contract from a source that is not stored permanently and then cannot verify the contract? If this is so extremely common, then deployment tools should make sure they only work from a clean git repo that is synced to origin or even better, store the sources and the metadata somewhere.

Or did I misunderstand you - I do

[2020-08-24 08:43] hrkrshnn commented on #9657
Are you a bot that makes issues?

[2020-08-24 08:45] hrkrshnn commented on #9653
@chriseth Shouldn't `LiteralRematerialiser` be able to do this?

[2020-08-24 09:35] hrkrshnn commented on #9653
Running `LiteralRematerialiser` right before `UnusedFunctionArgumentPruner` in FullSuite seems to work.

[2020-08-24 11:25] iAmMichaelConnor opened #9663 "InternalCompilerError: passing a dynamic calldata array to the constructor"
## Description

A constructor which takes a dynamic array as input fails to compile, with an `InternalCompilerError`.

## Environment

- Compiler version: solc version 0.6.10 (via truffle)
- Target EVM version (as per compiler settings): solc version 0.6.10
- Framework/IDE (e.g. Truffle or Remix): Truffle
- EVM execution environment / backend / blockchain client: truffle's default backend
- Operat

[2020-08-24 11:48] chriseth commented on #9663
It should not be possible to use `calldata` for constructor parameters.

[2020-08-24 12:47] fvictorio commented on #9573
@chriseth the sources (meaning, the Solidity files) are stored permanently. What is not stored permanently is the JSON input used by solc. In the first scenario, this JSON had the contracts `[A, B, C]`, but in the second scenario it only had `[B, C]`.

The point is that, because of this bug, this optimization (ignoring A in a re-compilation because it doesn't affect B and C) cannot be done. Does t

[2020-08-24 13:57] #9552 closed, assigned to nobody

[2020-08-24 14:01] chriseth commented on #9573
@fvictorio as I said, my assumption is that this bug does not manifest itself as long as the files do not contain structs or contracts of the same name, but I will try to verify this assumption.

In general, the optimizer settings, file names, remappings and so on are crucial for verification and thus have to be stored. It would be great if deployment tools could help store the metadata file. If t

[2020-08-24 14:16] fvictorio commented on #9573
Oh, yes, I forgot to add that detail: in that example, files `A` and `B` have contracts with the same name (and optimization is enabled, etc.) I was able to reproduce this bug that way.

So the thing we want to do is to be able to make the optimization of only compiling `B` and `C` if they were modified but `A` wasn't. With this bug, we won't be able to do that: we'll always need to include `A` ev

[2020-08-24 15:07] jcaracciolo commented on #9462
I disagree, since any nested mappings has to be accessed in order (for example in a `mapping(uint => mapping(uint => uint))` in order to access the inner mapping, a sha3 must be done first in the outer mapping to know the resulting slot, where the inner mapping is located. If a process is tracking this along the trace of the transaction is pretty easy to identify that slot as a mapping when it re-

[2020-08-24 15:18] franzihei commented on #869
**Heads-up for all people involved in this issue so far**:

We are conducting a language design call to ideate around the topic of templates / generics for Solidity on **Wednesday, 2nd of September at 5PM CEST.** You can find all relevant information and a link to the meeting invite [here](https://groups.google.com/g/solidity-users/c/OSeyrReiE6M).

[2020-08-24 15:25] MicahZoltu commented on #869
I can't make the call, but my number one desire from generics is the ability to create some datastructure primitives like linked lists, skip lists, doubly linked lists, iterable maps, sets, etc. (yes, mostly collections).  On a number of occasions I have tried to write a general purpose datastructure and ended up having to copy/paste and mutate it every time I wanted to reuse it because the dataty

[2020-08-24 15:35] chriseth commented on #869
Too bad you cannot make the call, but your input is already very useful! Do you have an opinion about the problem of data locations - https://github.com/ethereum/solidity/issues/869#issuecomment-668767160 - https://github.com/ethereum/solidity/issues/869#issuecomment-676517663 ?

[2020-08-24 15:46] MicahZoltu commented on #869
Generic constraints would be nice, and allow for better error messages.  For example, I may want to constrain to "comparable" things so I can do `a < b` for one of my generic parameters but another one may be unconstrained so I can assign a tuple to it (which presumably isn't comparable).  I have become quite happy with TypeScript's generics lately, they are type erased and pretty powerful.  While

[2020-08-24 15:48] MicahZoltu commented on #869
It probably says above but I didn't see it when glancing through... will this be C++ style templates/macros, or C#/Java/TypeScript generics?  That is, will the compiler essentially inline the template as a pre-compile step, or will the generics be statically analyzed as their own datastructure and then the callsite type checking merely verifies constraints?

[2020-08-24 16:12] chriseth commented on #869
Since Solidity's type system is not structured enough, I fear we have to do one full analysis pass per instantiation.

[2020-08-24 16:30] yann300 commented on #9461
I am not sure I clearly understand why: `The reason why endBytecodeOffset is an array is because a function might have multiple return statements where a variable scope could end at any moment`
As the dev tool is aware of the scopes (functions) this should be enough to know when variables from a specific scope can be discarded (e.g when the execution goes out of the scope).
or am I missing somethi

[2020-08-24 16:39] leonardoalt opened #9664 "[SMTChecker] Support struct constructor"

[2020-08-24 20:31] chriseth commented on #9573
@fvictorio ok, you are right, I confused the flattening in the initial example with the main problem of two files sharing identifiers of the same name. I assume that if you don't flatten then this will be a very rare case, but I guess we'll just fix this issue and then we are all happy - as long as everyone uses the latest version of Solidity :)

[2020-08-24 20:33] chriseth commented on #9461
Regardless of scopes, note that code belonging to a scope does not have to be contiguous. It likely is, but does not have to be.

[2020-08-24 20:34] #9657 closed, assigned to nobody

[2020-08-24 20:38] chriseth commented on #9597
ABIEncoderV2 is a re-implementation of the original ABI coder. It adds features but the ABI did not change. Since it is a re-implementation, some tradeoff decisions were made with different goals in mind. The new coder creates intermediate code that is readable while the old coder just creates a big mess of opcodes nobody can understand. The new coder performs range checks while the old coder just

[2020-08-24 20:46] chriseth commented on #8807
@yann300 I don't think passing this information to the part that generates the source maps is that easy. Furthermore, strictly, it is redundant information, because it is there in the other artefacts.

Was anyone able to work with the source references to the generated sources? is anyone able to plug this into their debugger easily so we can step into the generated sources?

Do you want this to be

[2020-08-25 01:46] alejoamiras commented on #869
It's way out of my technical ability to comment on how to implement this, but as a fellow programmer, I was actually googling on how to use templated params in solidity. So it's needed, and it would be awesome.
TY for your work guys.

[2020-08-25 07:25] yann300 commented on #8807
We could try to do something, will let you know soon

[2020-08-25 08:30] bshastry opened #9666 "[solc] ICE because storage function array is not external type"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/29b6c1724621e01924c55febab9a9c55807e9ad7/libsolidity/ast/Types.cpp#L3143

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-08-25 08:49] bshastry opened #9667 "[SMTChecker] std::out_of_range exception because key not found in map"
## Description

The following multi source test

[code]

throws the said exception from here:

https://github.com/ethereum/solidity/blob/29b6c1724621e01924c55febab9a9c55807e9ad7/libsolidity/formal/CHC.cpp#L936

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-08-25 08:53] bshastry commented on #9667
I suppose the problem is SMTChecker not being enabled on the imported source, but perhaps this should be a warning or even silently skip verification?

[2020-08-25 08:59] leonardoalt commented on #9667
I think it's because it only considers a single SourceUnit.

[2020-08-25 12:40] chriseth opened #9668 "EquivalentFunctionCombiner should be run multiple times"
The equivalent function combiner is only run once, but I think it does not consider two functions equivalent if they call two different, but equivalent functions. Furthermore, I think it fully fails for two equivalent recursive functions.

[2020-08-25 12:43] chriseth commented on #9573
Disabling the FullInliner results in the same bytecode, so it might be that we only have to fix that component.

@ekpyron I think using the blockHasher does not really help here because it will consider two functions to be different if they call two different but equivalent functions.

[2020-08-25 12:58] chriseth commented on #9573
It turns out the actual fix is much easier: The function inliner processes functions according to their YulString sorting order. If they are processed based on their name (or position in the source, which is equivalent) instead, the bug is gone, and even the metadata is fully equal.

[2020-08-25 13:53] yann300 commented on #8807
You can test it out with: https://ipfsgw.komputing.org/ipfs/QmRfe32WNq8yZ6TvLDiKPtnJDZbVxC7woGL1mQ4Kfnesis
(need to manually load soljson though)

[2020-08-25 14:05] fvictorio commented on #9573
@chriseth can we assume that this bug will never happen if the optimizer is disabled?