[2021-08-04 07:02] RyanRussell00 commented on #4122
Just out of curiosity, @itsN1X, where did you leave off on this?

[2021-08-04 08:24] bshastry opened #11734 "[Sol->Yul] Unimplemented feature error"
[code]

[2021-08-04 08:24] hrkrshnn commented on #11734
[code]
A shorter example.

[2021-08-04 09:03] blishko commented on #11734
I wonder if this is related to the issue we saw in the SMTChecker: https://github.com/ethereum/solidity/issues/11380
If I remember correctly, there was also some clash between Solidity and Yul variable with the same name. I'll try to remember what exactly was the problem there.

[2021-08-04 10:44] christianparpart commented on #11669
I think this is now all done and merged, right?

[2021-08-04 10:50] #11669 closed, assigned to christianparpart

[2021-08-04 11:00] cameel commented on #10152
I guess #11494 should be listed as a dependency for all the remaining bullet points here?

[2021-08-04 11:40] bshastry opened #11736 "[Sol->Yul] Truncation not performed on bytesNN before applying left shift"
The semantic test here: https://github.com/ethereum/solidity/blob/ae519c1278c7244bcd81929cdbdd0a11da4c789e/test/libsolidity/semanticTests/operators/shifts/shift_bytes_cleanup.sol#L5-L6

shows that we do not ~~clean up~~truncate before applying left shift in Sol->Yul unlike for right shift where we do.

[2021-08-04 12:14] hrkrshnn commented on #11700
Decision: disallow everything. Even `==`.

[2021-08-04 12:20] hrkrshnn commented on #11531
Decision: `type MyType is uint;` is the syntax. No operators, even `==`.

[2021-08-04 12:37] cameel commented on #9809
We talked about this very briefly on today's call. Basically, this is just a small usability improvement so @chriseth is not too particular about the details.

I'd say, let's do a) and as for b) let's go with option 1, which is in line with a similar change I recently did in `cmdlineTests.sh` (https://github.com/ethereum/solidity/pull/11712).

[2021-08-04 12:39] cameel commented on #10299
@aaroosh-07 How is it going? Do you need any help with the implementation?

[2021-08-04 13:44] leonardoalt commented on #11676
Closing since this should hopefully be fine with the latest z3 release. Please reopen if needed.

[2021-08-04 13:44] #11676 closed, assigned to nobody

[2021-08-04 14:56] hrkrshnn opened #11740 "[Yul-Opti] Replace `keccak(k, 0)` with hash if it's cheaper"
In load resolver, we currently only do this if the value at memory location `k` is known.

Example:

[code]

[code]

Perhaps the easiest way to do this is to implement as a simplifcation rule. We'll need to check if the optimization is worth it using `--optimize-runs`, similar to how it's implemented in LoadResolver.

[2021-08-04 16:20] chriseth opened #11743 "undo making "error" a keyword"
@axic proposed to not make it a keyword, and I slightly agree it can lead to serious problems with upgrading.

note: Making "error" a keyword has already been implemented in the breaking branch.

[2021-08-04 17:15] clemlak opened #11745 "Add #define to Solidity"
## Abstract

Add a way to define macros using `#define` within the source code to declare constants (numbers, strings, addresses, expressions, etc) and fragments of code:

[code]

## Motivation

Storing values and performing computations in a smart contract costs gas (and thus money). However when comes the time to gas golf a contract, a dilemma can appear between optimizing the gas usage as much

[2021-08-04 17:21] s0sharma commented on #11732
Hi, I would like to work on this, can you suggest me ways to get started?

[2021-08-04 18:31] cameel commented on #11732
Great!

- Take a look at [`CommandLineInterface.cpp`](https://github.com/ethereum/solidity/blob/develop/solc/CommandLineInterface.cpp). There are lots of `catch` handlers there.
- Find and remove all the generic handlers for things like `...`, `std::exception`, `util::Exception` or `InternalCompilerError`.
    - If a handler is doing more than just printing (e.g. it modifies a variable) remember t

[2021-08-04 18:55] aaroosh-07 commented on #10299
sorry @cameel because of my university examinations going on, I have made not much progress on this issue.

[2021-08-04 19:02] aaroosh-07 commented on #10299
the exceptions throwed by constructor `h160`  to check for address, is being used at multiply places in the file `standard compiler.cpp`  so should I leave it as is?

[2021-08-04 19:19] cameel commented on #10299
No worries. Take your time. Just checking if you're still on it or if the task should be marked as available for someone else to take.

Either way is ok, just make sure that the same mechanism is used in both places. If you leave exceptions in `StandardCompiler.cpp` then just use them in `CommandLineParser.cpp` too.

[2021-08-05 02:19] s0sharma commented on #11732
Thanks for your reply I will be working on this.

[2021-08-05 07:59] hrkrshnn commented on #11745
@clemlak Did you use a solidity version `>= 0.8.4` and enabled optimization for this comparison? Could you please share the gas comparisons?

[2021-08-05 08:15] hrkrshnn commented on #11745
[code]

A problem with macros like this is that they don't have proper type checking. I would say that this goes against the goal of type safety in the language

---

If the goal of macros when compared to proper typed functions / typed constants is merely gas, this can be fixed by the optimizer. The Yul based codegen and it's optimizer (not enabled by default; but will be the standard in future s

[2021-08-05 08:30] hrkrshnn commented on #11743
https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/mocks/ERC721ReceiverMock.sol#L20

is the only example from OpenZeppelin that would break now. It's merely a test case.

I don't really see why this would cause problems in upgrading (hopefully nobody has an external function with name `error`; even then it's not an impossible upgradability scenario since you can change th

[2021-08-05 08:42] chriseth commented on #11743
If we keep `error` a keyword for 0.9.0, we should at least warn about it now. I think it is already a problem that `error` is used in openzeppelin - how many of the other verified contracts did you search?

[2021-08-05 08:54] chriseth opened #11747 "Add optimizer rules combining signextend and shift"
For shifts, we perform cleanup before and after the shift operation. While the optimizer is clever enough to combine two masking operations, it does not combine two signextend operations:
[code]
optimizes to
[code]

I think there are two optimizer rules we can create:
1. [x] remove redundant signextend operations
2. [x] pull signextend through shift operations
3. [x] optimize `and(signextend(0, va

[2021-08-05 08:56] chriseth commented on #11745
Duplicate of #10

[2021-08-05 10:55] #11736 closed, assigned to nobody

[2021-08-06 07:44] shawnwbts opened #11752 "`solc --hashes` does not print selectors of `private` and `internal` functions"
sorry to bother you, when I use the command **"solc --help"**, its introduction to **solc --hahses** is Function signature hashes of the contracts".It does not seem to be able to generate function signatures for the following contract.
contract CrowdsaleWPTByRounds{
 function _deliverTokens(address _beneficiary, uint256 _tokenAmount) internal {
    token.safeTransfer(_beneficiary, _tokenAmount);

[2021-08-06 11:46] s0sharma commented on #11732
While testing file I am getting errors, so where can I ask for help or communicate with other members of the community?

[2021-08-06 12:10] cameel commented on #11732
You can find us on the #solidity-dev channel ([Element](https://app.element.io/#/room/#ethereum_solidity-dev:gitter.im), [Gitter](https://gitter.im/ethereum/solidity-dev)).

[2021-08-06 13:52] cameel opened #11753 "Do not create empty superfluous `err`, `output` and `exit` files when auto-updating command-line test expectations"
This came up in https://github.com/ethereum/solidity/pull/11738#discussion_r684159827

When the [`cmdlineTests.sh`](https://github.com/ethereum/solidity/blob/develop/test/cmdlineTests.sh) script gets no output from the compiler, it accepts both an empty `output` file as well as the file not being there at all. Same with stderr and the `err` file. In case of `exit` file, it not being present is equ

[2021-08-06 14:16] cameel commented on #11752
Only external functions are a part of the ABI and thus have documented signatures.

`internal` and `private` functions can have parameter of types that can't be expressed in the ABI - for example this function is perfectly legal when marked as `internal` or `private`:
[code]
but it can't be `external` or `public` so it does not really have a selector (hash).

In some cases, when an internal functi

[2021-08-06 14:16] #11752 closed, assigned to nobody

[2021-08-06 22:13] ItsShadowl commented on #11723
After splitting the projects, i didn't see any of it reporting the same error again maybe i've unknowingly fixed it somehow...
So, i would take it as no problem for now and close the issue

[2021-08-06 22:14] ItsShadowl commented on #11723
Still on 0.8.4 since tooling i depend on aren't ready for .5 or .6 yet

[2021-08-06 22:27] cameel opened #11756 "`absolutePath` should be available for imports in the AST when using `stopAfter: parsing`"
## Abstract
Tools should be using `absolutePath` from `ImportDirective` AST node for more reliable import resolution but it's not available when `stopAfter: parsing` option is used - even though that's when they need it the most.

## Motivation
One of the uses case for `stopAfter: parsing` is to make it possible for tools to easily scan source files for imports. The raw path used in the import sta

[2021-08-07 20:47] nerotiger opened #11757 "Cannot link the compiler with Boost 1.76.0 (`undefined reference to boost::program_options`)"
## Description

## Environment

- Compiler version:

- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduce
[code]
[code]
ll -al boost_1_76_0.tar.gz
-rw-r--r-- 1 water wheel 130274594 Apr 21 01:15 boost_1_76_0.tar.gz

[2021-08-08 13:57] cameel commented on #11757
Looks like there's a problem with locating Boost libs on your system. I see that at least headers are there so it's not necessarily that they are missing.

1) Could you make sure that boost libs actually exist? On my system they're in `/usr/lib/libboost_program_options.a` and `/usr/lib/libboost_program_options.so.1.76.0`. I think our default config uses the static one.
2) Could you take a look at

[2021-08-08 14:32] cameel commented on #11643
To be clear, I mean that Brownie is using Standard JSON for compilation. I thought you were trying to build the verification input yourself based on compiler's output and side-step is verification tool. This is why I'm suggesting to use Standard JSON instead.

Disappointingly, looks like Brownie had a feature request to implement verification with several competing PRs and for some reason they wen

[2021-08-08 20:28] nerotiger commented on #11757
[code]
actually, I reinstalled gcc, upgraded from 4.8 to 5.x finding out it required the minimum of 8.0, and got 10.1.
hence boost was upgraded altogether.

**I will make two link files to /usr/lib**

[code]
in the link.txt, there are in the correct place... (/usr/local/lib/...)

[2021-08-08 20:47] Assawal commented on #11757
tools/CMakeFiles/solidity-upgrade.dir/link.txt

[2021-08-08 22:01] cameel commented on #11757
That's not necessary. Looks like CMake does find the lib files inside `/usr/local/lib/` and properly includes them in the linker command. The problem must be somewhere else.

There's something weird going on. Linker gets the right file but does not see the symbols. Here's some more things to try:
- I see that you're running some commands as root. Could you make sure that the lib files are readable

[2021-08-08 22:38] nerotiger commented on #11757
mine is like this:
[code]
exactly identical to yours.

[2021-08-08 22:43] nerotiger commented on #11757
That's not necessary. Looks like CMake does find the lib files inside `/usr/local/lib/` and properly includes them in the linker command. The problem must be somewhere else.

* I see that you're running some commands as root. Could you make sure that the lib files are readable by a normal user? What are their permissions and which user owns them?

* If you're building boost from source, could you

[2021-08-08 23:02] cameel commented on #11757
Did you compile Boost using the GCC version you had before upgrading it to 10.1? If so, this might be your problem.

[GCC Manual > Dual ABI](https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_dual_abi.html)

You do have `std::__cxx11::basic_string` in your error messages so I think that's it and recompiling Boost should resolve it.

[2021-08-08 23:31] nerotiger commented on #11757
I have recomplied Boost, nothing worked. I used system package, still no success.
[code]
![image](https://user-images.githubusercontent.com/8183249/128648822-29f2ebc9-dde9-46e5-a77a-d6c46f7c640a.png)

[2021-08-09 00:12] nerotiger commented on #11757
I have recomplied boost again from pure clean tarball file and run test according to its manual.
[code]
all passed with 0 fails.
still, same error on solidity-upgrade.

**shall I recompile gcc and cmake again?**

![image](https://user-images.githubusercontent.com/8183249/128649874-763fe0fb-4faa-451c-a78f-764e10dc733d.png)

[2021-08-09 07:19] hrkrshnn commented on #11757
It seems unlikely that this is the problem.

The `yum` command shows that boost was already installed. Could you please clean the boost and install again? Also surprised that the package manager is installing boost 1.53 (that was released in 2013) Perhaps some components in your system are outdated?

[2021-08-09 07:47] yann300 commented on #11415
I think there's no url parameters for lang, can you create an issue in the remix-project repo?
Thanks

[2021-08-09 11:03] nerotiger commented on #11757
I tried the entire thing on another newly made CentOS8.4 (gcc 8.4.1, cmake 3.18.2, boost 1.76) and it just worked fine.
[code]
but on that old CentOS7, with gcc 10.1 ... still didn't work. I've reinstalled boost 3 times...

[2021-08-09 11:25] hrkrshnn commented on #11757
@nerotiger It's nice that the problem doesn't exist in a newer version of centos. Hopefully that is a workable solution for you. I'm closing this issue in that case. Feel free to reply or reopen if you think the issue is unresolved and needs changes from our side.

[2021-08-09 11:25] #11757 closed, assigned to nobody

[2021-08-09 15:00] Ahmed-Ali opened #11764 "What is the naming convention in terms of leading/trailing underscore?"
## Page

https://docs.soliditylang.org/en/latest/solidity-by-example.html

## Abstract
I am a bit confused about solidity naming convention when it comes to leading/trailing underscores.
Where and how they should be used?
I saw contract members with and without trailing underscore, parameters with and without trailing underscore, in other examples parameters with and without leading underscore.

I

[2021-08-10 04:49] v-sreekesh commented on #11727
Hi @cameel i would like to work on this issue could you let me know where i can find the resources

[2021-08-10 05:46] v-sreekesh commented on #11556
Hi i have raised a pull request [https://github.com/ethereum/solidity/pull/11766](url) and included solidity-by-example.org in the documentation

[2021-08-10 07:23] hrkrshnn commented on #11764
There is a style guide https://docs.soliditylang.org/en/latest/style-guide.html which doesn't seem to mention anything about leading underscores in the name.

To be fair, I think the leading underscore for function parameters comes from the style guide of the solidity compiler, written in c++.

Can you point out such an example?

[2021-08-10 07:29] hrkrshnn opened #11767 "[DOCS] Use calldata whenever that is sufficient in solidity-by-example section"
[code]

Changing `memory` to `calldata` for this example is better.

Unless the code explicitly requires the argument to be in memory, and doesn't modify the argument, keeping it in calldata is more efficient gas wise.

There are a couple of other places in the documentation that could use this change.

[2021-08-10 07:42] Ahmed-Ali commented on #11764
I am actually wrong. Seems like I mixed the constructor parameters (with leading underscore) and the member without trailing underscore.

However, the parameters themselves does have two variations without underscores, with leading underscore. Here are few examples

Without underscore
[code]

With leading underscore
[code]

Similarly for local scope variables. Sometime without underscore and somet

[2021-08-10 07:54] hrkrshnn opened #11768 "[DOCS] Change examples from public to external whenever possible"
To start with, https://docs.soliditylang.org/en/latest/solidity-by-example.html contains the most important examples.

Unless a function is called from within the contract, there is no need for it to be `public`. Changing it to external is clearer and should be recommended to the users.

[2021-08-10 07:55] hrkrshnn commented on #11764
For `delegate_`, the trailing underscore is simply there to avaoid a shadowing warning (the name delegate is already taken in that context).

For
[code]

there is no problem removing `_`. Maybe we could even update that contract? Would you like to submit a PR for that?

[2021-08-10 07:59] Ahmed-Ali commented on #11764
Sure, happy to do so. Just to make sure I understand correctly so I can do the right change.
The underscore in the parameters or local variables isn’t needed unless there is a reason (like shadowing a contract member), did I get that right?

[2021-08-10 08:08] hrkrshnn commented on #11764
To summarize, one could say that the official style guide is https://docs.soliditylang.org/en/latest/style-guide.html. It doesn't talk about leading underscores. (It's still worthwhile to go through it to check if I missed something.)

I have seen some contracts naming internal functions starting with underscore. Perhaps to improve visibility.

I think it would be useful to change `contract BlindA

[2021-08-10 08:09] Ahmed-Ali commented on #11764
Awesome, thanks for the pointers. Will go through the style guide and then do the suggested changes.

[2021-08-10 09:09] v-sreekesh commented on #11768
Hi @hrkrshnn I would like to work with this issue

[2021-08-10 09:10] v-sreekesh commented on #11767
Hi @hrkrshnn could you link me to the location of the file i would like to help with this issue

[2021-08-10 09:10] hrkrshnn commented on #11768
@v-sreekesh Great. I'll assign you now. Feel free to ask here or on https://app.element.io/#/room/#ethereum_solidity-dev:gitter.im (or the equivalent gitter channel) if you have questions.

[2021-08-10 09:11] hrkrshnn commented on #11767
@v-sreekesh https://docs.soliditylang.org/en/latest/solidity-by-example.html#id2

[2021-08-10 21:43] drortirosh opened #11778 "When basefee is supported?"
London is out, but there is no compiler to write code to use the new `basefee` opcode.

When is 0.8.7 released ?

[2021-08-11 07:23] hrkrshnn commented on #11778
Hopefully today!

[2021-08-11 07:24] hrkrshnn commented on #11778
If you *really* want to use basefee immediately, then the section "Verbatim in Yul" in https://blog.soliditylang.org/2021/06/10/solidity-0.8.5-release-announcement/ shows how to do it. Note that it's only available in pure Yul, i.e., not via inline assembly.

Closing this. Feel free to reply if you have questions.

[2021-08-11 07:24] #11778 closed, assigned to nobody

[2021-08-11 08:10] alice-dfi commented on #11768
What does it need to be taken off public ?

[2021-08-11 08:31] #11390 closed, assigned to nobody

[2021-08-11 08:42] drortirosh commented on #11778
Verbatim yul is not an option, but I'll be happy to wait one more day..

[2021-08-11 09:01] drortirosh opened #11781 "Internal compiler error when using library to parse calldata."
In the following sample code, I try to use a library to parse a calldata struct
When using the `obj.method()` notation, the compiler crashes
If I use `lib.method(obj)` notation, it compiles OK.

[code]

## Steps to Reproduce
[code]
outputs:
[code]

[2021-08-11 10:19] hrkrshnn opened #11786 "0.8.7 release checklist"
## Checklist for making a release:

### Requirements
 - [ ] Lauchpad (Ubuntu One) account
 - [ ] gnupg key (has to be version 1, gpg2 won't work) for `your-name@ethereum.org` created and uploaded
 - [x] Readthedocs account, access to the Solidity project
 - [ ] Write access to https://github.com/ethereum/homebrew-ethereum

### Documentation check
 - [X] Run `make linkcheck` from within `docs/` and

[2021-08-11 12:45] ekpyron opened #11787 "Compiler mode to reimport assembly json."
The compiler can output the state of ``Assembly`` containing evmasm assembly items (``AssemblyItem``) in json using ``solc --asm-json``. (The main exporting logic is in ``Assembly::assemblyJSON``)
Since there are projects that use this assembly json, externally optimize it, and output a new, compatible assembly json, we want to be able to reimport assembly in this format.

So we want a command lin

[2021-08-11 12:46] chriseth commented on #11787
Duplicate of https://github.com/ethereum/solidity/issues/11254

[2021-08-11 12:50] hrkrshnn commented on #11787
@lightclient Pinging since you may be interested in this feature. In short, this should allow solidity to be used as an assembler.

[2021-08-11 12:51] lightclient commented on #11787
:fire:

[2021-08-11 15:48] leonardoalt commented on #10717
We moved on to not reporting underflow/overflow by default, so closing this.

[2021-08-11 15:48] #10717 closed, assigned to nobody

[2021-08-12 02:55] v-sreekesh commented on #11768
Hi @hrkrshnn I have made the changes for the remaining examples and used the same branch and also fixed https://github.com/ethereum/solidity/issues/11767 as well could you have a look and let me know the changes to be made if any?

[2021-08-12 02:56] v-sreekesh commented on #11767
Hi @hrkrshnn i have made the changes could you review and let me know thanks

[2021-08-12 06:59] s0sharma commented on #11732
I have made the changes, please review the [code]. (https://github.com/ethereum/solidity/pull/11762)

[2021-08-12 08:17] franzihei commented on #11786
Just did the last bits by announcing the release on Reddit and the forum. Here are the links:
- Twitter: https://twitter.com/solidity_lang/status/1425528300143796224
- Reddit: https://www.reddit.com/r/ethdev/comments/p2vei3/solidity_v087_is_out_adds_support_for_the_basefee/
- Forum: https://forum.soliditylang.org/t/solidity-v0-8-7-has-been-released-adds-support-for-the-basefee-opcode-and-more/453

[2021-08-12 08:17] #11786 closed, assigned to nobody

[2021-08-12 12:00] hrkrshnn opened #11792 "Allow reverting with signature `error Panic(uint)`"
Currently, solidity doesn't allow defining errors with the following names `Panic` and `Error` (note: name, not signature).

There are use cases where reverting with this error would be useful.

One example is in library fixed point implementation. When adding two fixed point numbers overflows, then it's useful to revert with `Panic(0x11)` to be consistent with how the compiler would revert in suc

[2021-08-12 12:01] hrkrshnn commented on #11792
Pinging @paulrberg since this could be useful for https://github.com/hifi-finance/prb-math/blob/main/contracts/PRBMath.sol

[2021-08-12 12:38] #11734 closed, assigned to chriseth

[2021-08-12 14:29] hrkrshnn commented on #11767
Other examples

 `constructor(bytes32[] memory proposalNames) `

Functions in `contract ReceiverPays` and `contract SimplePaymentChannel` can also be changed. But this requires some knowledge about how data is encoded in calldata, so probably out of scope for a "good first issue"

[2021-08-12 14:33] v-sreekesh commented on #11767
Can I refer some resources online for further understanding to fix this issue

[2021-08-12 16:22] s0sharma commented on #5474
Hi, I would like to work on this, can you elaborate exactly what I have to do?

[2021-08-12 17:08] #11768 closed, assigned to v-sreekesh

[2021-08-12 19:45] jwdonahue commented on #11690
By definition, all prerelease versions, whether `0.y.z` or `-pre`, are potentially breaking and this has always been the case with SemVer. Consumers must assume breaking and behave accordingly. Therefore, a publisher that perpetually publishes prereleases, cannot _push_ a critical bug fix, because consumer automation will not take them without human intervention.

If you are good at predicting whe

[2021-08-13 10:10] PaulRBerg commented on #11792
Yes, this would be helpful. [This](https://github.com/hifi-finance/prb-math/blob/v2.2.0/contracts/PRBMathUD60x18Typed.sol#L39-L41) is the specific place where I am reverting with a custom error that mimics `Panic`:

[code]

If I could, I would switch to the `Panic` code instead of using my custom defined error.

[2021-08-16 08:16] hrkrshnn commented on #11743
Here's a "grep" of etherscan verified contracts using error currently

https://sourcegraph.com/search?q=context:global+repo:%5Egithub%5C.com/tintinweb/smart-contract-sanctuary+lang:Solidity+content:%22+error%5B%28%3B%29%5D%22++&patternType=regexp&case=yes

[2021-08-16 08:42] hrkrshnn commented on #11767
@v-sreekesh Maybe https://docs.soliditylang.org/en/v0.8.7/types.html?highlight=calldata#data-location?

I would recommend running the example in remix, and seeing how the gas changes when `memory` is replaced by `calldata. If you are keen, you can try to run the debugger on and see the differences.

[2021-08-16 08:45] v-sreekesh commented on #11767
Will check and compare the difference in remix for gas consumption

[2021-08-16 09:02] bshastry opened #11801 "[LoadResolver] Invalid gas tier for instruction CREATE"
[code]

throws

https://github.com/ethereum/solidity/blob/1a68228c28e4e7f7a62e32cb310bce6377565aac/libevmasm/GasMeter.cpp#L272

[2021-08-16 10:15] hrkrshnn commented on #11781
This doesn't seem to exist in 0.8.7. I believe https://github.com/ethereum/solidity/pull/11567 fixed it.

Closing this now. Feel free to reply if you think the problem persists.

[2021-08-16 10:15] #11781 closed, assigned to nobody

[2021-08-16 10:18] bshastry opened #11803 "dataoffset is unimplemented in GasMeter"
[code]

throws

https://github.com/ethereum/solidity/blob/c0a9578979db59667eb8ae31814547c86ba95453/libyul/backends/evm/EVMMetrics.cpp#L86

[2021-08-16 11:03] bshastry commented on #11801
[code]

throws the same assertion for `sload`.

[2021-08-16 16:31] cameel commented on #11727
Hello, sorry for a late response, I was off last week. Do you mean the source code? These settings are defined in [`solc/CommandLineParser.h`](https://github.com/ethereum/solidity/blob/develop/solc/CommandLineParser.h). And overall most of your changes will probably be in [`solc/`](https://github.com/ethereum/solidity/tree/develop/solc).

[2021-08-16 16:43] cameel commented on #5474
Sure, the class is defined in [`libyul/AssemblyStack.h`](https://github.com/ethereum/solidity/blob/develop/libyul/AssemblyStack.h). You just have to change its name there and update all references to it in other files. Remember to also rename variables it's assigned to and update comments that mention it. It might also be used in some file names. Overall this is just a simple refactor and should n

[2021-08-16 16:55] cameel commented on #7578
@antara-gandhi We still do not have the helper and quoting in error messages is not used consistently :) Well, we do have [`escapeAndQuoteString()`](https://github.com/ethereum/solidity/blob/v0.8.7/libsolutil/CommonData.h#L555-L557) and I've seen it used for quoting sometimes but I'm not sure we really want escaping there and the name is a bit long for something to be used as often as quoting.

So

[2021-08-16 17:12] chriseth commented on #5474
I think `YulStack` is a good name that also sets it apart from evmasm.

[2021-08-16 17:13] chriseth commented on #7578
I'm not sure the helper is that helpful (haha), we certainly do not want to escape in these cases.

[2021-08-16 17:53] cameel commented on #11415
@yann300 Sure! I've been off last week but now I have created an issue for this and also for two more things that would be useful here:
- https://github.com/ethereum/remix-project/issues/1489
- https://github.com/ethereum/remix-project/issues/1490
- https://github.com/ethereum/remix-project/issues/1491

[2021-08-16 18:08] cameel commented on #7578
Well, it's an old issue so maybe the sentiment changed here :)

Personally, I'd prefer something like
[code]
over
[code]

or we could switch to fmtlib: https://github.com/ethereum/solidity/pull/11273#discussion_r620268452 :)

[2021-08-16 23:10] Zachinquarantine commented on #9582
can I have this assigned to me? I'd like to work on it.

[2021-08-17 09:18] chriseth commented on #7578
I think the second version makes it much clearer what is between the strings. For the one with `quoted` you first have to read `quoted` and discard it as non-essential.

[2021-08-17 11:17] cameel opened #11809 "Nested brackets in optimizer sequences"
Requested in https://github.com/ethereum/solidity/pull/11794#issuecomment-898255073

Yul optimizer has a setting that determines the sequence of [steps](https://docs.soliditylang.org/en/latest/internals/optimizer.html#optimizer-steps) to run on the code. Each step is represented by a single character and the sequence can contain brackets. The bracketed part is repeated until the optimized code sto

[2021-08-17 11:35] cameel commented on #7578
But with escaped quotes you have to parse them visually and discard as non-essential :) When I see that when skimming over the code I just skip it as something complex not worth analyzing closer while in the version with `quoted()` I can easily see that it's just an expression between two strings.

Anyway, I do not feel very strongly about this issue and I'm fine with either, just want to have a d

[2021-08-17 12:03] cameel commented on #9582
@Zachinquarantine Great! This might not be the easiest task to finish because it's a bit open-ended. We need to agree on what we want to do here. It should not be technically hard though which is why I marked it as `good first issue` anyway.

So, the first question is if we want to keep the script at all. We're getting PRs from people using it from time to time so I guess it must useful to someone

[2021-08-17 12:13] ekpyron commented on #9582
As already stated in the issue I strongly vote for just removing it :-). People are only using it, since we mention it in the docs, if we just specifically list the dependencies there trusting that people are able to install them on their respective platform, then people won't use it anymore. And expecting users to just run a huge intransparent script with root privileges is rather insane anyways

[2021-08-17 12:35] ekpyron commented on #11743
I vote for not only keeping ``error`` as keyword, but also promoting ``receive`` and ``fallback`` to keywords. For alleviating upgrade issues, we should add the ability to specify custom signatures in interfaces only (as we already considered when we had this debate for ``receive`` and ``fallback``).

That being said, if we *don't* want to add such a workaround and *don't* do the same for ``receiv

[2021-08-17 12:37] cameel commented on #9582
Yeah, I share the sentiment :) We should recommend piping it directly from `curl` to `bash` to make it extra ~scary~ convenient :P

Oh. Actually I never really reviewed the whole script, just seen parts of it, but skimming over it now it looks like it indeed just installs a bunch of packages or prints a message in most cases. Only for CentOS it seems to be doing more but that could be extracted in

[2021-08-17 12:39] #11747 closed, assigned to nobody

[2021-08-17 12:40] ekpyron commented on #11743
But we should be aware that deciding against making ``error`` a keyword now, basically means that we can never introduce any new keywords again whatsoever, since it will always basically be the same situation. And we *did* introduce new keywords in the past, so there is precedent for this.
Deciding on a whim on a case-by-case basis trying to judge how likely something is to occur does not seem ove

[2021-08-17 12:43] chriseth commented on #11743
I'm fine either way, the main difference is that `error` could be a very common variable name while `fallback `and `receive`, `this` or `unchecked` not so much.

[2021-08-17 12:44] cameel commented on #9582
In that case, @Zachinquarantine, the next step here would be to replace [Dependencies Helper Script](https://docs.soliditylang.org/en/latest/installing-solidity.html#dependencies-helper-script) section in the docs with the list of dependencies for specific platforms.

We could also just name the dependencies without going into specific systems but if we already have that info in the script, it wou

[2021-08-17 12:44] hrkrshnn commented on #11743
Here is a  list of etherscan verified contracts that has functions with name "error". None of them are part of the external interface.

https://sourcegraph.com/search?q=context:global+repo:%5Egithub%5C.com/tintinweb/smart-contract-sanctuary+lang:Solidity+content:%22function+error%5C%5C%28%22&patternType=regexp&case=yes

For variable names, the breaking change merely involves renaming. I don't see

[2021-08-17 12:44] ekpyron commented on #11743
There are public state variables in there, aren't there? (I just looked at the list here https://github.com/ethereum/solidity/issues/11743#issuecomment-899316573 and was about to write the opposite, i.e. that it *does* occur in external interfaces :-))

[2021-08-17 12:45] chriseth commented on #11743
It is problematic, because you have to re-do the audit.

[2021-08-17 12:47] ekpyron commented on #11743
Yes, switching between breaking versions of a language is just fine, but beware those variable names :-).

[2021-08-17 12:49] hrkrshnn commented on #11743
Yeah, that is true :(

For future reference, here's the list of public state variables: https://sourcegraph.com/search?q=context:global+repo:%5Egithub%5C.com/tintinweb/smart-contract-sanctuary+lang:Solidity+content:%22public+error%3B%22++&patternType=regexp&case=yes

[2021-08-17 12:49] ekpyron commented on #11743
I.e. those are part of the external interface: https://sourcegraph.com/search?q=context:global+repo:%5Egithub%5C.com/tintinweb/smart-contract-sanctuary+lang:Solidity+content:%22public+error%5B%28%3B%29%5D%22++&patternType=regexp&case=yes

[2021-08-17 13:06] ekpyron commented on #9582
What the script does for CentOS is *extra* insane :-). And probably also really not what it *should* be doing.

[2021-08-17 13:21] cameel commented on #9582
Looks like it was hacky from the very beginning: https://github.com/ethereum/solidity/pull/1085#issuecomment-246753624

True, I think that keeping this part is pointless. Might make sense if it was at least up to date but it's both hacky and useless. Looks like it installs GCC 4.8 which we do not support at this point. We even had someone trying to build on CentOS recently (https://github.com/ethe

[2021-08-17 13:53] marcelo-gonzalez opened #11811 "‘list’ in namespace ‘std’ does not name a template type"
## Description

Build failure due to missing include

## Environment

- Compiler version: g++ Debian 8.3.0-6, CMake 3.13.4
- Operating system: Debian

## Steps to Reproduce

This looks like the exact same thing as in https://github.com/ethereum/solidity/issues/11103 but I figured I would make a new issue since it's a different file. Feel free to close and just use that issue if that's better

At l

[2021-08-17 14:08] ekpyron commented on #11811
Can you confirm that https://github.com/ethereum/solidity/pull/11812 fixes the issue?

[2021-08-17 14:34] marcelo-gonzalez commented on #11811
Ah yup, that fixes it

[2021-08-17 14:38] cameel opened #11813 "Try out include-what-you-use"
This is a part of #10269 but getting includes consistent also came up recently in #11812 as it might prevent bugs like #11811 and #11103. I'm creating a more focused issue to try out specifically [include-what-you-use](https://include-what-you-use.org) even if it does not solve the original problem as a whole.

---

The task here is to install [include-what-you-use](https://include-what-you-use.or

[2021-08-17 14:45] #11811 closed, assigned to ekpyron

[2021-08-17 21:14] barakman opened #11814 "XOR operator not compatible with types bool and bool"
## Abstract

The XOR operator (`^` and `^=`) is essentially a boolean operator.

Although it is typically used as a bit-wise operator on integer operands, there shouldn't be any reason for it not to be applicable over boolean operands.

## Motivation

As far as I'm aware of, every strongly-typed language supports XOR between boolean operands.

And this is despite the fact that `a ^ b` is technical

[2021-08-18 05:20] v-sreekesh commented on #11809
Hi @cameel i would like to work on this issue could you pls assign me

[2021-08-18 09:24] chriseth commented on #11814
I think it makes sense to keep a strong separation between bitwise and boolean operators. `&` and `&&` are also not the same. As you say, for boolean types there is `!=`.

[2021-08-18 09:37] marceljay opened #11816 "Suppress "unused variable" warning"
In reference to https://github.com/ethereum/solidity/issues/4081

If a function does not make use of a parameter, the following warning is issued by the compiler:

However, in some instances, the variable cannot be commented out or removed because it is required by the selector/signature.
Thus it would be benefical to have a feature to manually suppress the warning.

[2021-08-18 09:38] chriseth commented on #11816
Can you give an example?

[2021-08-18 09:42] marceljay commented on #11816
For example receive hooks, like `onERC721Received(operator, from, tokenId, data)`

https://docs.openzeppelin.com/contracts/3.x/api/token/erc721#IERC721Receiver

To elaborate:
In my case, the `operator` does not matter, there shall be no change in the logic if the operator is an approved smart contract or an EOA, so only the original owner `from` is the used.

[2021-08-18 11:12] ItsShadowl commented on #11723
Figured out the problem.
It was because I overwrite'd a function in multiple places, and it isn't an abstract contract or a virtual function.

[2021-08-18 11:12] ItsShadowl commented on #11723
I can gather example, but it should be a common mistake and the error message should have been clear

[2021-08-18 11:25] barakman commented on #11814
Yup, operator `^` for boolean operands doesn't really contribute anything that isn't already supported.

Operator `^=` does contribute a little bit, but it's negligible.

The only thing is, all other strongly-typed languages support it.

But I guess that it is possibly a pretty weak factor to consider here.

Thanks

[2021-08-18 12:22] jackliu8722 commented on #11723
i meet the same problem, for version 0.7.3

[2021-08-18 12:28] ItsShadowl commented on #11723
The problem was because a smart contract declared a function and it was overwritten in the main contract, whereas the main contract implements two interface that both declared the function defined in the first smart contract

[code]

I hope my analogy can be understood?

Couldn't get the right example from my local git immediately

[2021-08-18 12:30] hrkrshnn commented on #11792
Decision: do 1 and 2 at the same time.

[2021-08-18 12:32] ItsShadowl commented on #11723
So, i had to remove the definition from the IMainSmartContract, then make IMainSmartContract inherit it directly from ISmartContract1 to get the problem solved

[2021-08-18 12:32] #11723 closed, assigned to nobody

[2021-08-18 12:39] hrkrshnn commented on #11743
Decided to undo the change from breaking.

In the future, we would like to make this a keyword. But we also want to provide a way to such keywords as function names or for other ABI related stuff.

@ekpyron mentioned writing up an issue on allowing this in a backwards compatible way.

[2021-08-18 14:13] akbhuker commented on #11813
hey, can I have this issue?
I'm quite new to this so I might need some guidance

[2021-08-18 14:20] cameel commented on #11813
Sure, go ahead!

If you need help, you can always ask in this issue or on the `#solidity-dev` [Matrix](https://app.element.io/#/room/#ethereum_solidity-dev:gitter.im)/[Gitter](https://gitter.im/ethereum/solidity-dev) channel.

[2021-08-18 14:27] chriseth commented on #11816
Can you paste a self-contained example here where you can do neither of the following?
 - comment out the name of the variable
 - not implement the function body

[2021-08-18 15:11] ekpyron opened #11819 "Ability to override function selectors to support external interfaces not expressible in valid syntax."
Came up in https://github.com/ethereum/solidity/issues/11743, earlier in https://github.com/ethereum/solidity/issues/1687, resp. https://github.com/ethereum/solidity/issues/8081

We need a way to override function selectors in interfaces for two reasons:
- We might ourselves add new keywords to the language which might break backwards compatibility with contracts with an entry point with that name

[2021-08-18 15:14] axic commented on #11819
I think the last option may work the best for us given we already use that syntax. It does look a bit odd on the declaration site though.

As discussed on gitter, this could be reused for introduced a new ABI encoding (which came up several times in the past), via:
[code]

This works well for calling such interfaces, but what should happen in contracts implementing such functions -- they should ju

[2021-08-18 15:15] axic commented on #11819
Shouldn't it be on the method though?

[code]

[2021-08-18 15:17] cameel commented on #11723
@noobshow I'm trying to understand your example but I cannot reproduce the error with that on 0.8.4. I'd like to reproduce it to make sure the problem is indeed fixed.

From what you posted I gather that your hierarchy looks something like this?
[code]

Is `SmartContract1` supposed to inherit from one of the interfaces? Because if it's not, you cannot use `override` on its `balanceOf()` as in your

[2021-08-18 15:18] ekpyron commented on #11819
Should also work on the method, but aesthetically to me on ``function`` seems nicer... and conceptually both works in my mind.

[2021-08-18 15:19] cameel commented on #11723
@jackliu8722 Can you reproduce it on 0.8.7? We're not backporting bugfixes to older compiler versions.

But it would still be very helpful if you could post a snippet that reproduces it with 0.7.3.

[2021-08-18 15:22] ItsShadowl commented on #11723
Testing your example, i think i should try gather the actual example... It's as similar as what you posted above, just a lil' bit difference which i should point out soon...

Thanks for taking the time.

[2021-08-18 15:27] ekpyron commented on #11819
@axic Noted that there may also be the need to *implement* functions with inexpressible selectors. (EDIT: ah, sorry, I only see now that you already commented on that above yourself)

The bracket syntax should work for that, too, though.
[code]

But I'd tend to still restrict this to interfaces, when inheriting and require that there is a unique interface containing that function. Although we migh

[2021-08-18 15:35] ekpyron commented on #11819
Next question: what to do with these things in json ABI. For ``signature = "someSig"``, it would just appear as ``someSig``.
But ``selector=...`` might be an issue.

[2021-08-18 15:36] axic commented on #11819
Another question is regarding the ABI JSON. If we always want to be able to generate an output from an interface, then we should not allow `selector`, just `signature`, to make the problem go away.

[2021-08-18 15:42] ekpyron commented on #11819
At least that's an option. We could also extend the ABI JSON to support numeric selectors, but that would raise a whole new bunch of questions, so at least at first restricting to signatures may be wise indeed.

[2021-08-18 15:44] ekpyron commented on #11819
Another thought: Since the bracket syntax already exists for function calls, we *could* force re-mentioning the signature on all call sites, if we consider obscuring what ``someInterface.someFunction()`` actually calls an issue.

[2021-08-18 15:47] ekpyron commented on #11819
There may also be more corner-cases to consider, e.g. unicode escapes in the signature string.

[2021-08-18 15:55] ekpyron commented on #11819
An entirely different (reasonably insane) approach would be to allow quoted strings as identifiers in function context :-D.
[code]

[2021-08-18 15:57] ekpyron commented on #11819
Another general choise is: do we want to be able to override the full signature or just the name or both. (Since other languages may have different ABI types full signatures seem more general).

[2021-08-18 15:57] axic commented on #11819
Do not 😅

[2021-08-18 16:14] ItsShadowl commented on #11723
[code]

I couldn't get it buggy back, but its more like this above

[2021-08-18 16:18] ItsShadowl commented on #11723
The buggy function has this in override list from the git history i was able to pull up
[code]

[2021-08-18 17:36] tied2token opened #11821 "If any one wants to help me fix wondows"
I can't change admin network adapter and driver are missing cam mic so it basically turns on but can't do any thing so it just taunts me.

## Abstract

## Pull request

[2021-08-18 21:15] cameel commented on #11821
Spam.

[2021-08-18 21:15] #11821 closed

[2021-08-19 09:54] bshastry opened #11822 "[UBSan] CI run"
While running the undefined behavior sanitizer (UBSan) fuzzer, I noticed that several isoltests fail with a null pointer dereference. I don't know why this does not happen outside of the UBSan build.

Wonder if we should have another couple of CIs: (1) UBSan build; (2) UBSan tests

Example error

[code]

[2021-08-19 12:39] #10463 closed, assigned to Marenz

[2021-08-19 14:51] siddharth1704 commented on #11651
Can you assign me on this issue i am new to open source i might need some help but i will complete the given task

[2021-08-19 15:31] cameel commented on #11651
Sure. You might want to start by trying out the `solidity-upgrade` tool and seeing how it works on the command line compared to `solc`.

If you start a PR, it's best to do it on top of #11545 (which is in review right now) because it touches that code.

Drop by at the `#solidity-dev` [Matrix](https://app.element.io/#/room/#ethereum_solidity-dev:gitter.im)/[Gitter](https://gitter.im/ethereum/solidi

[2021-08-19 16:15] #11250 closed, assigned to nobody

[2021-08-19 17:59] siddharth1704 commented on #11651
ok i will genrate the PR on top of it

[2021-08-20 09:05] axic opened #11826 "Getters returning structs can not be defined in interfaces"
[code]

The function `s` can not be defined in a way this works. The problem lies in the impossibility to define a working location.

`S storage` is not allowed in interfaces, but that could be one option:
[code]

`S memory` is not allowed by overriding, but that could be equally correct:
[code]

[2021-08-20 09:08] axic commented on #11826
Oops, forgot that struct getters return the members, and not the struct itself. That is super unintuitive.

[2021-08-20 09:09] leonardoalt commented on #11826
Don't forget that if the struct has arrays those are ignored.

[2021-08-20 09:09] axic commented on #11826
[code]

Could also consider displaying the return types in this error.

[2021-08-20 09:34] ekpyron opened #11827 "User-Defined Value Types as means for Generics"
We could consider an extension of https://github.com/ethereum/solidity/issues/11531 as means to implement a specific kind of templates/generics.

The idea is to allow defining abstract types that initially have no operations, members or properties of any kind. Then those abstract types can be enriched explicitly with operations of fixed signatures (potentially depending on further abstract argumen

[2021-08-20 09:59] ekpyron commented on #11827
Usually, this method would involve introducing a system of type classes or sorts on top of the type system, which, for the more advanced constructions, we'd probably need to reproduce internally, but could mostly hide away in practice to keep things easy to use.

[2021-08-20 10:11] leonardoalt commented on #10749
Confirmed yes.

[2021-08-20 10:24] ekpyron commented on #11827
The literal part in the description above is maybe a bit vague and ill-conceived... and I'd need to think through it in more detail myself. I'm not sure if this can be done without proper type variables and if those can be introduced without proper syntax... But I'd probably want to end up with something like these examples:
[code]

Hm... this is probably not quite right, without actually properly

[2021-08-20 10:38] ekpyron commented on #11827
Well, in any case: the concept above is not yet refined and not quite right, I'm mainly throwing out the idea so far. Planning this properly *will* need care, but the result should be nice, extensible and safe, if done right.

I hope I'll get around writing this up more properly than above in the foreseeable future.

[2021-08-20 11:07] decentpay-finance commented on #6098
If lets say i have an interface with function that defines all the possible data vailable for custom programmer, there are some use cases that doesnt need some of the parameters. how to address this?

[2021-08-20 11:30] chriseth commented on #11827
This really needs the shorthand function type notation https://github.com/ethereum/solidity/issues/1349

[2021-08-20 11:33] ekpyron commented on #11531
I think it would be better to have ``type MyType is uint;`` introduce explicit conversion functions as members of ``MyType.`` rather than allowing normal explicit conversions from and to the underlying type.

[2021-08-20 11:34] ekpyron commented on #11827
Yeah, definitely, that would be beautiful.

[2021-08-20 12:57] tied2token commented on #11827
How can I fi  it

[2021-08-20 13:03] ekpyron commented on #11826
Can we change that at *some* point :-)?

[2021-08-20 16:55] cameel commented on #11723
So there were no modifiers? I played with this a bit but I cannot reproduce it either and I really can't see why you would run into this ICE without modifiers.

Well, if anyone can provide a failing example, I'll look into it. Hopefully the recent fixes did change it and everything is ok.

[2021-08-20 17:09] cameel commented on #11826
Even weirder that this goes only one level deep. You can have a getter returning a struct if it's nested inside another struct.

For example this compiles just fine and both the function and the getter return `S`:
[code]

Anyway, you should update issue the description to say what we want to do about it. Do we want to make getters return structs instead of tuples (breaking change I guess?). Or jus

[2021-08-20 21:25] ItsShadowl commented on #11723
I'm not sure if the problem relates to modifiers as i implemented all modifiers and made sure its not used on an empty body, in fact the error didn't stop when i was playing with modifiers, it stopped after i removed the duplicate declarations in an interface...

I rechecked it was the reason by returning it and seeing if the error still pop up, then it did...
Had it in mind to share with this iss

[2021-08-21 16:51] tied2token commented on #11827
I thank you all... and am sorry but most of that went way over my head... iam very new to all of this and and self learning. All the different programs and functions terms and acronyms with  no  context is truly over whelming.. i don't think I even know what iam building and am just trying to keep up and tag along. This really started with me trying to understand why etherscan was telling me i had

[2021-08-22 12:23] simontianx opened #11829 "An on-chain Gaussian random number generator"
## Abstract
Currently, randomness, be it on-chain or off-chain, is only uniform. Gaussian randomness is made available by simply counting 1's in the binary representation of a hashed value calculated by the `keccak256` hashing algorithm. It is simple, costs little gas, and can open up many possibilities in gaming and DeFi.

## Motivation
DApps may desire to generate some numbers more frequently th

[2021-08-22 12:45] axic commented on #11829
I suggest you bring this up on either https://ethereum-magicians.org or https://ethresear.ch.

This issue tracker is not the appropriate place for this discussion, unless you are asking for a language feature.

[2021-08-22 12:45] #11829 closed, assigned to nobody

[2021-08-22 13:57] simontianx commented on #11829
@axic Yes, this is actually the purpose of bringing this up. Looking for a clue where this should go. Thanks.

[2021-08-22 14:17] axic commented on #11829
Do you see any strong reason why this should be a language feature, when you have proven it can be implemented as a library?

[2021-08-22 14:30] simontianx commented on #11829
Actually this is already a language feature. It is just not made known to people. My initial thought was to briefly mention it in the language doc.

Talking about the library, do you have any specific recommendations? I have made a post on the OZ forum and see if this would go somewhere there.

[2021-08-22 15:45] axic commented on #11829
Under language feature we usually mean syntactical features supported by the compiler, which can not, are hard, or are very inefficient to express otherwise.  It seems that your implementation can be perfectly expressed with current language constructs.

We do not talk about third party software too much in the documentation, but if you feel strongly this should be mentioned in the documentation,

[2021-08-23 03:05] simontianx commented on #11829
Thanks @axic . I think it is a very important piece of knowledge that everyone should know about. It may inspire people to come up with new applications with Solidity in areas such as on-chain financial derivatives, games, and etc.

[2021-08-23 08:07] priyansh786 commented on #11753
Hi I'd like to work on this issue.

[2021-08-23 08:17] cameel commented on #11753
Great! If you need help with the task please drop by at the `#solidity-dev` [Matrix](https://app.element.io/#/room/#ethereum_solidity-dev:gitter.im)/[Gitter](https://gitter.im/ethereum/solidity-dev) channel.

[2021-08-23 09:03] hrkrshnn commented on #11827
If we want to have operators, then I think we need a mechanism to distinguish between operators in checked and unchecked blocks.

[2021-08-23 10:21] ekpyron commented on #11827
I'd introduce a generic mechanism to define context blocks, which have a distinct "using"-context, i.e. a separate set of operator definitions (with an easy way to inherit parts of the top-level context).

[2021-08-23 11:45] ekpyron commented on #11827
As far as I'm concerned the more "fixed-function" mechanisms we can replace by something generic, the better. In the long term that could include almost everything: context blocks like ``unchecked``, complex types like sized integers, arrays, structs, even top-level constructs like contracts - if we do it right, we can *define* all of that quite easily. But we can of course do it incrementally and

[2021-08-23 13:20] ekpyron commented on #11531
Just to name a few reasons for this:
- Those "conversions" are isomorphisms in the type system you will regularly need for composing generics, so it is important that these functions can be *named*, if we don't want to have boilerplate of functions calling a single explicit conversion everywhere.
- Conversion is a special syntactic concept that has semantic meaning that can easily differ from plai

[2021-08-23 15:53] Midhun07 commented on #11731
Hi @cameel. I would like to work on this issue.

[2021-08-23 16:24] Midhun07 commented on #11629
Hi @cameel I would like to work on this issue.
Also, Kindly point me to a good starting point. Thank you.

[2021-08-23 19:56] cameel commented on #11629
Great! There are many options so maybe it would be best to start with a PR that does this for only one of them and then, when you get the hang of it, continue with the rest in subsequent PRs. I think that `--experimental-via-ir` might be a good one to start with.

Start by running `solc --help` and looking at the option description and at the "Alternative Input Modes" section. These modes map to t

[2021-08-23 20:17] cameel commented on #11731
@Midhun07 This one is actually taken. @spiyer99 is working in it and has already submitted a PR (still work in progress though). I tried to assign him earlier to make this apparent but github won't let me - I think I can only do that if someone has commented in the issue.

[2021-08-24 08:20] hrkrshnn opened #11836 "[BREAKING] Make basfee as a reserved identifier in 0.9.0"
Effectively revert the commit https://github.com/ethereum/solidity/commit/7f1a2be0fee99531b5e9c0eca7dc1c70b9ffcaa0 in breaking.

[2021-08-24 09:27] Silentgil1 opened #11838 "I accidentaly sent Alix tokens to the Alix contract!"
Please I need help with this. I sent 8248 alix to the contract by mistake for avoiding a scam.
I spoke to the devs since the token is the same currency of the contract but they told me they "can't do nothing about it. "
It seems not fair since they could just return the tokens back to me.

I've researched and there is an option to re-transfer back the tokens to my wallet but only the owners can do

[2021-08-24 09:37] leonardoalt commented on #11838
@Silentgil1 sorry to hear about your issue, but this space is reserved for compiler related discussions/reports.
You might get more help on Reddit for example.

[2021-08-24 09:37] #11838 closed, assigned to nobody

[2021-08-24 09:48] Silentgil1 commented on #11838
Thanks for answering Leo, i just saw the https://github.com/ethereum/solidity/issues/10616 issue and thought i could write it here. Sorry

[2021-08-24 16:10] Midhun07 commented on #11629
Thank you for the detailed explanation, It is really helpful. I will start with the said option.

[2021-08-25 05:01] v-sreekesh commented on #11836
@hrkrshnn can i create a PR with this commit reverted?

[2021-08-25 05:45] hrkrshnn commented on #11836
For doing this,

- revert the commit in the breaking branch (there should be a git command to do this specifically).
- run tests using isoltest (see contributing page in the documentation).
- add a description in the changelog.
- write something similar in the (rst) file 0.9.0 breaking changes.
- make a PR that targets breaking branch.

The breaking branch may not be upto date with develop. I'll c

[2021-08-25 05:48] v-sreekesh commented on #11836
ok will refer the git commands for doing this and follow your instructions thanks for providing the instructions

[2021-08-25 11:29] v-sreekesh commented on #11836
@hrkrshnn Raised a PR https://github.com/ethereum/solidity/pull/11842 could you check and let me know if any further changes are needed

[2021-08-26 10:15] Tanya1999-cmyk commented on #11809
Hi, I'd like to work on this issue.

[2021-08-26 10:58] cameel commented on #11809
@Tanya1999-cmyk There's already a PR for this issue by @v-sreekesh and he's actively working on it.

Maybe you'd like to try #9627, which is another small task related to the optimizer sequences?

[2021-08-26 11:52] cameel opened #11845 "Require latest Z3 in soltest"
Extracted from https://github.com/ethereum/solidity/pull/11844#discussion_r696541700

We support linking with a range of versions of Z3 (the minimum is currently Z3 4.8.0) but our SMTChecker tests are only guaranteed to pass with the latest one (currently 4.8.12). This is because different versions of Z3 sometimes give different (but still valid) results and it's hard to create a test harness that

[2021-08-26 14:08] cameel opened #11846 "Simplify and deduplicate CircleCI config"
This came up in #11823.

Our [.circleci/config.yml](https://github.com/ethereum/solidity/blob/develop/.circleci/config.yml) file is pretty long. I went through the file and here's a bunch of changes that we could do to improve it.

Deduplication:
- [x] `t_archlinux_soltest`, `t_ubu_soltest_enforce_yul`, `t_ubu_ubsan_clang` and `t_ubu_ubsan_clang_cli` could use `run_soltest_steps`.
    - Note that

[2021-08-26 16:16] tqpcharlie commented on #6900
just curious, what is https://github.com/ethereum/solidity/blob/develop/scripts/install_obsolete_jsoncpp_1_7_4.sh and why does it exist?

[2021-08-26 17:15] cameel commented on #6900
It used to be needed in CI on macOS and older Ubuntu versions: #4073 . For Ubuntu It was later replaced with a package (#6453). For macOS we still use it though. [osx_install_dependencies.sh](https://github.com/ethereum/solidity/blob/v0.8.7/.circleci/osx_install_dependencies.sh) runs that script.

I'm not completely sure why macOS needs specifically 1.7.4 but there's a [comment comment in one of t

[2021-08-26 19:25] cameel commented on #11409
#11848 implemented the `solc` part of the feature. There are some minor changes compared to the spec above:
- There's no short version of the option. @axic has pointed out in another PR some time ago that we do not have them on purpose.
- If there is more than one file matching an import, the callback reports an error rather than a warning. The callback has no mechanism for reporting warnings.
- T

[2021-08-26 22:14] drortirosh opened #11849 "Easy type-safe encoding a method call."
Decision: Add `abi.encodeCall(f, (arg1, arg2))`
Check that `abi.encodeCall(f, ())` also works.

---

In modern solidity code, it is very common to pass encoded function to other solidity contract for multiple purposes (delayed operation, adding access-control, meta-transactions, etc)

something similar to
[code]

however, using encodeWithSelector is very error-prone: there is no type checking, and

[2021-08-27 06:17] soroosh-sdi commented on #11845
I dig in this issue, and recreated the problem, this is what I've found:
- In `scripts/tests.sh` , we have comandline tests that actually run solc with an input file and expect specific output. these test are created by looping over all folders in `test/cmdlineTests/`. when we don't have any model checker OR z3's version < 4.8.12 we should ignore `/test/cmdlineTests/*model_checker*` in that loop.

[2021-08-27 08:07] #11822 closed, assigned to nobody

[2021-08-27 09:39] leonardoalt commented on #11845
@soroosh-sdi the problem with recognizing it (for the first issue) is that `solc` can also use z3 dynamically even if it's not compiled with it. So you'd need to query that part as well. Should be doable anyway, just more work

[2021-08-27 10:01] bshastry commented on #11677
Just wanted to mention that this is also a problem with Sol->Yul. The following assertion fails when `solc --experimental-via-ir test.sol`

https://github.com/ethereum/solidity/blob/72c5f4caca7e1b0b28ea14dabb93dfdc897554ff/libsolidity/codegen/YulUtilFunctions.cpp#L3211

[2021-08-27 10:48] marceljay commented on #11816
Mind the following example, I tried to reduce onReceive flow of the ERC721 standard.

[code]

[2021-08-27 12:21] cameel commented on #11845
@leonardoalt Do you mean automatically disabling these commandline tests when Z3 is not available? We do not do that in `soltest` and `--no-smt` is required instead. I think we should just add support for this flag in `cmdlineTests.sh` as well (and, by extension, in `tests.sh`) and require user to explicitly disable them.

@soroosh-sdi

I don't think it should be disabled automatically. We do not

[2021-08-27 12:30] leonardoalt commented on #11845
@cameel I agree with the `--no-smt` flag for the cli tests.

I agree with your other points as well.

[2021-08-27 12:56] leonardoalt commented on #11380
https://github.com/ethereum/solidity/pull/11741 also fixed this bug.

[2021-08-27 12:56] #11380 closed, assigned to nobody

[2021-08-27 14:06] #4702 closed, assigned to cameel

[2021-08-27 15:45] cameel commented on #11846
Great! Which one you'd like to try? I think it would be best to do it step by step, with small focused PRs, instead of creating a big one fixing it all in one go. I expect this will require some trial and error and a full CI run takes about 1h.

[2021-08-27 16:04] cameel commented on #11587
I just found a different crash while playing with this example. Not sure if the cause is the same or not. Started on 0.8.4 as well.

- `a.sol`
[code]
- `s1.sol`
[code]

[code]

[2021-08-27 16:06] leonardoalt commented on #11587
Yea it should be the same. I'll add it to the PR to see.

[2021-08-27 16:16] Midhun07 commented on #11629
@cameel  I have made a pull request. https://github.com/ethereum/solidity/pull/11853. Please check.

[2021-08-27 17:38] #11587 closed, assigned to nobody

[2021-08-27 17:38] #11710 closed, assigned to nobody

[2021-08-27 18:05] cameel commented on #11629
#11853 looks good overall. Here are some pointers on where to go from there once we merge it:
- `CommandLineParser` needs to have a list of forbidden options for each mode. [There's already a stub of such a list for assembly mode](https://github.com/ethereum/solidity/blob/a3d8da2530856b62787010816c50f83baf1c10ca/solc/CommandLineParser.cpp#L955-L962). We need to complete that list and add a similar

[2021-08-27 19:50] cameel commented on #11408
Implemented by #11545 and https://github.com/ethereum/solc-js/pull/533.

[2021-08-27 19:51] #11408 closed, assigned to cameel

[2021-08-28 01:31] chanhosuh opened #11855 "Importing an aliased import results in unusable symbol"
## Description

An aliased import can be imported into other files but subsequently is not available for use.  I find this confusing.  Either the import should fail or it should succeed, with the symbol being available for use.

## Environment

- Compiler version: 0.6.11
- Target EVM version (as per compiler settings): London
- Framework/IDE (e.g. Truffle or Remix): Hardhat
- EVM execution environ

[2021-08-28 17:55] aspiers commented on #11816
I think it is not 100% clear that "remove [...] the variable name" means removing *just* the variable name, while keeping the typing.  Also, "comment out the variable name" would require `/* ... */` rather than `// ...` if there are other arguments following it on the same line, and again this is not 100% clear.  So maybe this warning text can be improved somehow.

[2021-08-28 17:57] marceljay commented on #11816
Yeah it did not occur to me, that you can have parameters without variable names.

Thanks, the issue is solved and can be closed.

[2021-08-28 17:57] #11816 closed, assigned to nobody

[2021-08-29 14:33] cameel commented on #11855
Not sure it it's accidental or by design but I agree that this is not the behavior I would expect as a user. In my opinion `Dummy` should not to be importable from `HasAlias.sol` at all (currently it is) and `AliasedDummy` should be importable and usable without errors.

Having `Dummy` importable and `AliasedDummy` non-importable would be consistent too, though less intuitive.

[2021-08-29 18:54] cameel commented on #11819
How about this syntax:
[code]
This would follow how `as` is used e.g. in imports - the original name is the thing before `as` but only the identifier after it is visible in the source unit. The only weirdness being that the thing before `as` here is a string rather than an identifier.

Regarding overloading, I think that we'll have to consider both names for collisions. I.e. if you declare `functi

[2021-08-29 19:06] cameel commented on #6098
@littledogecoin Just omit the name of the parameter. For example this does not generate the warning:

[code]

[2021-08-30 03:51] thanhnguyennguyen opened #11857 "Add `--optimize-runs` parameter to `solcjs`"
https://github.com/ethereum/solc-js/blob/250c85b88a7ebcdcba7e19c4b9781540f32ea1ed/solcjs#L132

Do we support optimizer with run parameter (200 as default) ?
Like this
![image](https://user-images.githubusercontent.com/17243442/131282644-ad2783b0-1ddb-444d-b8d1-6240cc005d19.png)

[2021-08-30 08:47] cameel commented on #11857
Only via `--standard-json`.

`solcjs` does not have all of the parameters that `solc` supports. `--optimize-runs` is one of the missing ones. It would be pretty straightforward to add if you need it though.

[2021-08-30 09:09] thanhnguyennguyen commented on #11857
I think it's really helpful parameter ` --optimize-runs`
Right now, without ` --optimize-runs` we can't get exact bytecode of contract to proceed verify smart contract code (if contract owner deployed their contract with Optimized enable)

[2021-08-30 09:16] cameel commented on #11857
For verification I'd strongly recommend using `--standard-json`. Otherwise it's very easy to get slightly mismatched metadata due to paths, especially if you are compiling on multiple platforms.

[2021-08-30 09:34] thanhnguyennguyen commented on #11857
Hi @cameel
can you guide me how to put standard-json to setting

[code]

[2021-08-30 10:18] leonardoalt commented on #11703
https://github.com/ethereum/solidity/pull/11850 already removed all redundant warnings, maybe it's already enough instead of this one.

[2021-08-30 10:57] chriseth commented on #11855
Indeed, this is a bug: The example above should compile fine while importing `Dummy` from `HasAlias` should fail.

[2021-08-30 11:17] cameel commented on #11086
I see that #11558 took care of reading the `@src` annotations and adding the locations to the Yul AST, so the remaining thing to do here is to handle `@use-src`?

[2021-08-30 11:21] cameel commented on #11494
The locations are blocked by #11086 (we need support for `@use-src` annotation) so I'd like to add support for other artifacts. @chriseth, is the format for storing stack layout in annotations already decided? Do we actually want to dump it into the Yul file?

[2021-08-30 12:01] cameel opened #11858 "Print code snippets next to source locations in IR"
With `--asm` option the compiler prints not only source locations but also small snippets of the Solidity code from those locations. For example:

[code]

In IR we only get locations:
[code]

`AsmPrinter` should be extended to add snippets in IR too.

[2021-08-30 12:08] Marenz commented on #11086
I think this can be closed https://github.com/ethereum/solidity/pull/11594

[2021-08-30 12:11] cameel commented on #11494
Looks like `@use-src` is done after all (#11594). From @chriseth:

and the source part is actually finished, I hope. One thing that is not decided yet but also not required is if we want to have source annotations for the intermediate representation and not just the solidity source code
oh and another thing that would be nice is to print the source snippet (in AsmPrinter) at the location like we d

[2021-08-30 12:35] chriseth commented on #11803
I think this class was never meant to cover all possible code (please re-check). @hrkrshnn can you check if you need the gas meter to really implement the evaluation of the arguments to `keccak` or is it really just about the length of the keccak operation? (cf. `LoadResolver::tryEvaluateKeccak` )

[2021-08-30 12:36] chriseth commented on #11801
Essentially duplicate of https://github.com/ethereum/solidity/issues/11803

[2021-08-30 12:36] #11801 closed, assigned to nobody

[2021-08-30 12:38] cameel commented on #11849
This sounds interesting. We'd like to get more feedback on that though so I have posted it to the forum: [Helper for type-safe ABI-encoding of function calls](https://forum.soliditylang.org/t/helper-for-type-safe-abi-encoding-of-function-calls/493).

[2021-08-30 12:49] chriseth commented on #11531
While I agree with most of what you say, I think it is important that code implementing functions / operators for user-defined value types is still concise. Otherwise, we could also tackle this problem together with a generic overhaul of the conversion system. The point about functions being nameable can be fixed by also providing such a conversion function on the type or just change it once we ha

[2021-08-30 12:57] #11027 closed, assigned to nobody

[2021-08-30 13:47] #11086 closed, assigned to christianparpart, Marenz, mijovic

[2021-08-30 13:53] cameel commented on #11858
Also, there should be a command-line flag for selecting debug info format:

[2021-08-30 14:36] leonardoalt commented on #11508
@yann300 @haltman-at @fvictorio @alcuadrado @frangio
Here's a [soljson.js](https://820823-40892817-gh.circle-artifacts.com/0/soljson.js) which outputs the non-existing-SPDX-line as `info` instead of `warning`. It would be great to get some feedback on whether this is a problem for the tools or if it could be easily supported.

[2021-08-30 14:41] haltman-at commented on #11508
I mean, as I've already mentioned, it would be a problem for current versions of Truffle, but it wouldn't be too hard to make the necessary changes.

[2021-08-30 15:39] yann300 commented on #11508
it would only require slight changes in the UI, so that's something easy to do.
Could you let us know when it lands in production?

[2021-08-30 16:54] fulldecent commented on #11531
[code]

I don't see why converting a `uint32` to/from a `BatchIdentifier` needs to be more complicated than converting a `uint32` to/from a `uint256`.

Therefore, if `uint32 hi = 16; uint256(hi);` is acceptable then so should be `uint32 batch 15; BatchIdentifier(batch);`

[2021-08-30 17:07] #11679 closed, assigned to nobody

[2021-08-30 17:08] Midhun07 commented on #11629
@cameel  Thank you for merging the PR. I shall start with the other options. A couple of questions, Can I use the test case that I made in the previous PR for the rest of the options, maybe loop over each invalid option-input mode combination. Also, can I fix multiple option cases in a single PR.

[2021-08-30 17:40] cameel commented on #11629
Sure. I wanted a PR dealing with a single one mostly to work through potential issues on something small. Now I think we could do something bigger.

But I think it would be best to submit an incomplete PR as a draft for some feedback and add more stuff to it once we agree on the overall structure.

Yeah, that's exactly what we need. That test should be refactored into something more generic. There

[2021-08-30 18:27] cameel commented on #11857
The whole JSON structure is documented in [Compiler Input and Output JSON Description](https://docs.soliditylang.org/en/latest/using-the-compiler.html#compiler-input-and-output-json-description).

The `--optimize-runs` option is called `runs` there:
[code]

[2021-08-30 20:36] cameel commented on #11703
Just a general idea: maybe SMTChecker should have some kind of "lite" mode meant to give you the best bang for the buck? I.e. it would disable warnings like these where they just *might* be hiding some problem and would avoid only the targets that are likely to give many false-positives, like the overflow checks. In general it would not give user the expectation that the results are complete and w

[2021-08-31 07:17] chriseth commented on #11531
For most cases, `uint256(x)` and `BatchIdentifier(y)` are sufficient, but there are some situations where this is sub-optimal. For example, if you introduce a fixed-point type

[code]

Then `MyFixed x = ...; uint y = uint(x);` could create the impression that `y` is the value of `x` rounded to an integer, which it is not.

[2021-08-31 07:41] fulldecent commented on #11531
This

[code]

creates the impression the NotAUint is not a uint. We cannot stop that.

---

Did you mean this?

[code]

Then in that case you should have:

[code]

[2021-08-31 07:42] leonardoalt commented on #11703
I think it's fine to even make such mode the default. We already made the default not run underflow/overflow, maybe we could even remove out of bounds because that might yield a lot of checks, maybe we could *only* check asserts by default. But I don't think we should just disable these warnings, they can be a good indicator of why you got a certain result. I actually like the approach from solc-v

[2021-08-31 07:59] chriseth commented on #11531
No, I was talking about a user-defined fixed point type that is unrelated to the potentially built-in type `fixed`. The same example works if you imagine a user-defined floating point type `type MyFloat is uint;`

[2021-08-31 08:01] chriseth commented on #11531
Essentially, the problem is that the whole concept of "conversion" should be handled more thoroughly: In many cases, there is not just one way to convert from one type to another and the conversion function should be named properly depending on what it does and not just that it converts. The functions `round(fixed) returns (uint)`, `truncate(fixed) returns (uint)` and `unwrap(fixed) returns (uint)

[2021-08-31 08:25] soroosh-sdi commented on #11845
I see this issue, I use `-DBUS_Z3=OFF`
[code]

[2021-08-31 08:26] fulldecent commented on #11531
I'm still not sold.

On the one line you're telling me A `is` B. And then below you're telling me it's not sufficient to convert from A to B without further specifying how.

I'm not going to quote Aristotle here, but that may be abusing the meaning of "is".

[2021-08-31 08:34] chriseth commented on #11531
Sure, we can also discuss using a different keyword than `is`, but I think this is unrelated to the problem that the conversion between `float` / `fixed` and the underlying `uint` type is always ambiguous and maybe issue comments is not the right place for such a very interactive discussion.

[2021-08-31 08:45] #8281 closed, assigned to nobody

[2021-08-31 09:06] cameel commented on #11703
It would be a way to make output less verbose and summarize it so it sounds good too.

But you would still get that info if you do a full run.

I think that the advantage of doing it the way I suggested might be that it would give users an easy way find the low hanging fruit and entice them to use it regularly without too much effort. They would only need a full run if something seemed like a fals

[2021-08-31 09:13] cameel commented on #11845
Looks like an unrelated bug. Could you report it as a separate issue? But first please make sure it's reproducible - i.e. get a clean checkout of current `develop`, start with a clean `build/` directory and clean ccache (if you're using it). Sometimes these problems are just caused by some glitch in the cache or by stuff like updating system libraries without clearing the cache.

[2021-08-31 09:22] leonardoalt commented on #11703
That sounds good too. What config would you suggest for the light mode?

[2021-08-31 12:49] fvictorio commented on #11508
@leonardoalt it doesn't seem to break anything in Hardhat :+1:

[2021-08-31 14:08] #11557 closed, assigned to cameel

[2021-08-31 14:46] #11753 closed, assigned to priyansh786

[2021-08-31 16:24] cameel opened #11870 "[soltest] Directive for skipping SMTChecker tests on specific platforms"
This came up in https://github.com/ethereum/solidity/pull/11861#discussion_r699457642.

## Abstract
If you search the repo for `Disabled because of Spacer nondeterminism`, you'll see that we have quite a few SMTChecker tests where assertions had to be disabled due to results not being deterministic between platforms. The workaround is to comment-out these assertions, which disables them on all pla

[2021-08-31 16:36] mesozoic-technology opened #11871 "error evaluating order of operations with parenthesis"
## Description
I have this code with parenthesis that is giving me the wrong computation.

Initially, I was getting an integer underflow when running it. The subtraction definitely doesn't underflow so it leads me to think it is some bug with evaluation parenthesis, which according to the docs should be the first thing evaluated.

This code gives an overflow error:
[code]

This code gives the wron

[2021-08-31 16:40] mspaansen commented on #11846
😀

[2021-08-31 16:44] cameel commented on #11871
It's an overflow because the computation happens within `uint32` type.
 `(18000 - 12000) * 1e10` is 6 * 10^13, which is way out of range of this type (2^32-1).

[2021-08-31 16:53] mesozoic-technology commented on #11871
Aha thanks, I hadn't taken that into account because they're being assigned to a `uint` and I thought solc 0.8.* was more stringent on typecasting, so it would have complained

[2021-08-31 17:01] cameel commented on #11871
It is stringent but there's no conversion to `uint` here - at least not during the multiplication. You are multiplying by a literal and literals have their own special type with unlimited precision. When a literal is multiplied by an integer type, the computation is preformed within that integer type. The conversion to `uint` is only perforemed after that and it's a pretty safe conversion (width i

[2021-08-31 17:01] #11871 closed, assigned to nobody

[2021-08-31 18:31] axic opened #11872 "Include enums in the ABI"
For a while internal types are exposed in the ABI, which can be used to do type checking stricter than the encoding allows.

Such an example when enums are used in an interface (see #595):
[code]

The proposal is to include a new entry in the ABI for enums:
[code]

The `min` is hardcoded at 0 as enums are encoded as `uint8` currently, but leaving the field for future compatibility.

[2021-08-31 18:48] axic commented on #11849
Another potential option if we want to stay within the `abi` namespace: `abi.encodeCall(func, ...args)`

[2021-08-31 19:10] GNSPS commented on #11849
I love this! ❤️

[2021-08-31 19:57] soroosh-sdi commented on #11845
checked it again, fortunately I can't reproduce it in a clean build :)

[2021-08-31 22:24] axic commented on #11508
I think we're pretty set that this will land and will use `info` (https://github.com/ethereum/solidity/issues/11508#issuecomment-871362272), so perhaps consider doing the changes as time permits?

[2021-09-01 05:49] soroosh-sdi commented on #11845
I don't know how to move this issue to 'in-review' column :)
maybe I don't have permission.

[2021-09-01 11:45] cameel opened #11875 "Snippets next to source locations in EVM assembly output missing when doing two-stage compilation via Yul"
Part of #11494.

## Description
The `--asm` output from compiling a Solidity file via Yul in one step is still different than the output from compiling it to Yul first and then with `--strict-assembly`.

The output from `--strict-assembly` is missing the code snippets next to source locations and ~does not have the same exact metadata~. EDIT: Looks like it's just code snippets after all. See comme

[2021-09-01 11:48] cameel commented on #11494
Looks like this task is not complete yet.  The output of two-stage compilation is still different than from the single-stage one. Reported as a separate issue not to spam this one too much with details: #11875.

In short: the code snippets next to code locations do not show up (in EVM assembly not Yul) ~and the metadata seems different despite there being no differences in file names and not extra

[2021-09-01 11:49] ekpyron commented on #11531
``type MyType is uint;`` means that ``MyType`` is an *abstraction* of `uint`, not identical to it. If it were strictly identical, then it would have to be a mere alias and all operators would need to be inherited and ``MyType`` and `uint` would need to be substitutible everywhere (resp. implicitly convertible). That's clearly not what we want, so the `is` is clearly not a statement of identity (fu

[2021-09-01 11:52] cameel commented on #11875
Update: the difference in metadata seems to be coming from the `--experimental-via-ir` flag. If I use ` solc --ir-optimized --experimental-via-ir -` in the two-stage compilation, I only get differences in the snippets:

[code]

[2021-09-01 13:28] cameel commented on #11875
@chriseth has rightly pointed out that the two-step build cannot print the snippets because the second `solc` invocation no longer has access to the original Solidity source. So looks like it's all fine after all.

[2021-09-01 13:28] #11875 closed, assigned to nobody

[2021-09-01 13:43] #11469 closed, assigned to Marenz

[2021-09-01 13:48] cameel opened #11876 "Always include `--experimental-via-ir` flag in metadata generated from IR"
Part of #11494.

Currently the metadata embedded in Yul sources generated with `--ir` or `--ir-optimized` is the same as the one that goes into the binary. This means that if you do not use the `--experimental-via-ir` but use `--ir` or `--ir-optimized` to get the output from the new codegen, printed Yul sources  have metadata that is not marked as generated using the experimental pipeline even tho

[2021-09-01 13:56] cameel opened #11877 "Tests verifying that compilation with `--experimental-via-yul` produces same EVM assembly as two-stage compilation via Yul"
The bytecode from `solc --bin --experimental-via-ir` should be identical to the one obtained by getting the output of `solc --ir` and then assembling it with `solc --strict-assembly`. Add some command line-tests to verify that.

Depends on  #11858 - this issue adds a command-line flag to disable printing Solidity snippets in EVM assembly.
Related to #11876. Until it's done, `--experimental-via-ir`

[2021-09-01 15:04] axic commented on #11531
I'm still unsure about this. `type MyType(uint);` looked more natural to me, which is also what Rust uses for "newtype".

[2021-09-01 15:06] bshastry opened #11878 "[SMTChecker] ICE in UniqueErrorReporter::seen"
Create three files named like so

`a.sol`

[code]

`b.sol`

[code]

`c.sol`
[code]

[code]

[2021-09-01 15:08] leonardoalt commented on #11878
@cameel the assertion was indeed worth it :)

[2021-09-01 15:21] axic commented on #11827
How about a `wrap`/`unwrap` function as follows (this is based on ideas by @ekpyron and me):
[code]

[2021-09-01 15:34] chriseth commented on #11531
Decision from design call: We do not allow any conversions, not even from or to the underlying type. This can be implemented by users using inline assembly. We might support it in the future.

[2021-09-01 15:46] cameel commented on #11494
Looks like #11875 is not a problem after all. The snippets are rightly missing because the second step no longer has access to the original Solidity source. We could propagate them from Yul by storing them in debug data but that could cause inconsistencies and we'd first need to decide how to deal with them.

As for the flag in metadata, it's not a problem, but `--ir` should be automatically addin

[2021-09-01 15:48] axic commented on #11531
With the syntax `type MyInt is uint256;` it still suggests `uint256` is a very special underlying type here, but after the above decisions it just means that is the storage type and the type used in the selector calculation for the ABI.

How about making this *completely* user defined:
[code]

(`signature` is optional and defaults to the signature of the `storageType`)

This borrows the "call modi

[2021-09-01 15:55] chriseth opened #11879 "Array literals should be convertible to both dynamically-sized and statically-sized arrays"
We could implement this using a new type for array literals and the codegen could store the elements in memory while reserving a memory slot for the length (and just not use it for the static case).

[2021-09-01 16:32] axic opened #11882 "Remove support for the catch all (*) in the using statement"
Does the `using MyLIb for *;` statement saves that much typing/space as opposed to clearly typing out the intended types?

[2021-09-01 16:37] chriseth commented on #11531
I think this could be very confusing if you use a different storage type than a signature. I would opt for going with `is` for now, and if there is the need to define a custom signature, we can still extend it.

[2021-09-01 16:48] ekpyron commented on #11531
Something has to determine the **stack** layout as well, for which we pretty much need an underlying type. (We have value types that use more than one stack slot and in the longer run I think there may be uses for tuples and stuff like that - although that'll need more thought). Although that line of thinking does raise some question about accessing these things in inline assembly, but we don't ne

[2021-09-01 17:21] cameel commented on #11882
There are some types you cannot name but for which you can add still functions with `*`. Most notably literals:

[code]

[2021-09-01 17:26] axic commented on #11882
I think that should be solved in a nicer way (i.e. having a rationalnumber type), than this abuse :)

[2021-09-01 17:28] cameel commented on #11882
Agreed. I think that `*` is a bad practice in general. Just wanted to point out we probably cannot remove it without providing a replacement for this. Unless it turns out that no one knows about this trick and therefore no one uses it :)

[2021-09-01 17:31] axic commented on #11882
Now they certainly know about it 😅

[2021-09-01 17:33] axic opened #11884 "[SMTChecker] Support abi.decode completely"
For
[code]
the SMTChecker reports `Warning: Assertion checker does not yet implement type type(bool)`.

[2021-09-01 17:40] axic opened #11885 "[SMTChecker] False report on `msg.value` in internal functions"
[code]

However weird this looks, it is valid.

The SMTChecker complains with `BMC: Condition is always true.` on the `msg.value == 0` line.

[2021-09-01 18:34] leonardoalt commented on #11884
Yea we shouldn't report these here. This actually *is* supported as an uninterpreted function, so we shouldn't report this warning on expressions of type type inside abi calls.

[2021-09-02 09:02] chriseth commented on #11879
This could also solve the weird type deduction for array literals: Currently, `[1,2,3]` is a `uint8[3]` and `uint[3] t = [1,2,3];` is invalid. If we do not assign a "proper" array type to the array literal expression right away, but rather keep it more similar to how tuple types currently work, this should be much easier to use.

[2021-09-02 09:07] ekpyron commented on #11879
We don't need to (nor want to?) allow naming these types, do we?
Then it would only be usable in contexts in which we could deduce whether it will end up dynamically or statically sized, so code generation would already know and be able to handle the cases separately without reserving slots and the like.

[2021-09-02 09:15] chriseth commented on #11879
That is true, but we would need to pass that through the type checker, which is not always easy to do.

[2021-09-02 09:25] ekpyron commented on #11879
At one point or another, the type checker needs to check if the array literal expression is convertible to the type it'll end up in and can just annotate that then, can't it?
It'd even consistently work for plain ``[1,2,3];`` or even for ``[f(), g(), h()];``, which wouldn't be annotated by any concrete array type, meaning that nothing needs to be stored anywhere and the subexpressions can just be

[2021-09-02 09:41] drortirosh opened #11886 "`try`/`catch` doesn't catch reverts during decoding or inside the `try` block"
# The problem:

try/catch construct was added to allow easily handle reverts when calling functions.
However, it gives false sense of security, since there are cases where reverts are "leaked" through

## Example

The following code looks safe, since the call is covered by catch-all try/catch.
But in fact, it reverts

[code]

## Root cause
while try/catch does catch all reverts by the external cal

[2021-09-02 11:52] chriseth commented on #11879
`((([1,2,3])))` - it can be arbitrarily nested.

[2021-09-02 11:53] chriseth commented on #11879
Oh and there also is `[[1,2], [4,5]]`

[2021-09-02 12:48] ekpyron commented on #11879
Ok, maybe it's nontrivial :-). But should still be possible, shouldn't it :-)...?

And those nested single-component tuples are quite annoying everywhere, maybe we should just get rid of that once and for all :-D. But that's a different topic.

[2021-09-02 13:49] chriseth commented on #9211
Yet another alternative - which is way more permissive and maybe also achieves the same goals and is more consistent with how `using` works currently:

There can be only one `using` statement at file-level, but operators can be named multiple times and function names can resolve to multiple identifiers. Operators can neither be used with a `using` statement for built-in types nor with `*`.

For ea

[2021-09-02 14:39] #11855 closed, assigned to Marenz

[2021-09-03 09:53] Amxx opened #11889 "Should private functions really clash ?"
Let consider the following code:

[code]

## What I am expecting

implementation of `__myPrivateFunction` are private, and they only make sense in the context of the contract that they are part of (`A` and `B`). They are not accessible from `AB`, so it is not like if a call from a function within `AB` wouldn't be resolvable.

IMO, this should compile, possibly with a warning, but not with an error

[2021-09-03 12:00] #11249 closed, assigned to nobody

[2021-09-03 16:33] cameel commented on #11858
@chriseth What do you think about calling the new option `--inline-debug-info`? Or `--debug-tags`?

It would have three values for now:
- `--inline-debug-info=disabled`
- `--inline-debug-info=location`
- `--inline-debug-info=location,snippet`

This could map to either an enum or to a struct with a set of `bool` flags. For now I'm making it an enum. Not sure where to put it though - if I create a s

[2021-09-03 19:12] wminshew commented on #8551
hi -- saw there was some discussion in here around immutable dynamic arrays. Is there any plan to still include those (and perhaps mappings) in the future?

[2021-09-04 06:05] Midhun07 commented on #11629
@cameel What should be the action if the user enters multiple invalid options for an input mode? Should it exit and return an error on the **First invalid option** or return errors for **all invalid options**? Please clarify.

[2021-09-04 14:10] cameel commented on #11629
I think it should report one error listing the names of all the invalid options and then exit.

[2021-09-05 11:06] PaulRBerg commented on #998
Almost correct. If there are `n` assembly instructions, there are `n-1` semicolons.

[2021-09-05 17:07] PaulRBerg opened #11898 "Non-deterministic source maps for the same contract when other contract imports it"
## Description

Solidity generates slightly different source maps when:

1. The contract is not imported by any other contract in the code base.
2. The exact same contract is imported by other contract in the code base, which is compiled as well.

In the second case, there is an extra semicolon in the source maps. As per the [docs](https://docs.soliditylang.org/en/v0.8.7/internals/source_mappings.

[2021-09-05 17:14] PaulRBerg commented on #11898
Cc-ing @alcuadrado and @fvictorio, they might be able to help. I tracked the error in the Hardhat source code. This is what I found:

1. [Line 1477](https://github.com/nomiclabs/hardhat/blob/deaa288a44f133204392464c7a9257b56c99f4df/packages/hardhat-core/src/internal/hardhat-network/stack-traces/error-inferrer.ts#L1477) in `stack-traces.ts` gets executed because `functionJumpdests` is empty.
2. `fu

[2021-09-06 07:41] transmissions11 commented on #11849
Yes this would be fantastic!! Posted reasons on the forum: https://forum.soliditylang.org/t/helper-for-type-safe-abi-encoding-of-function-calls/493/3?u=transmissions11

[2021-09-06 08:01] transmissions11 commented on #11849
i think one of the main strengths of @drortirosh's proposed syntax is that it's concise and familiar

really not a fan of `abi.encodeCall`, since for the use-cases we're envisioning here we want to make it **easier** for devs to access bytes encoded function calls.

requiring them to use an obscure `abi.encodeCall` function that looks nothing like normal function call syntax is super off-putting,

[2021-09-06 08:19] ekpyron commented on #11849
I like the proposal and the syntax a lot - however, annoyingly the proposed syntax would strictly speaking be a breaking change due to weird constructs like this:
[code]
(off topic, but actually being able to implement such an encoding function generically for all function types in the language itself in the future might be a good stress-test for any proposal for upcoming generics in the language)

[2021-09-06 08:30] ekpyron commented on #11849
Actually, what I said only applies for adding ``encode`` to an actually externally callable function, i.e. a member of a function accessed in an instance of a contract, not the contract type. So in my previous example ``C.f.encode();`` would still be fine.
However, that way, ``encode`` would become inaccessible in some inheritance situations, e.g.
[code]
Since here ``C.f`` is an internal function

[2021-09-06 09:58] hrkrshnn commented on #11803
This wasn't exactly intentional. I can fix this by moving the check before computing gas https://github.com/ethereum/solidity/blob/develop/libyul/optimiser/LoadResolver.cpp#L126

[2021-09-06 10:37] sneznaj commented on #11846
.

[2021-09-06 10:45] ekpyron commented on #11849
There is precedent for ignoring this to be strictly speaking breaking when we introduced ``.selector`` in the inheritance case with 0.6.2.

[2021-09-06 12:28] #11803 closed, assigned to nobody

[2021-09-06 12:45] leonardoalt commented on #11508
@axic is this breaking? I see arguments in both directions, but I'll stick with no. It would be nice to get this merged (without the license warning change) to also merge https://github.com/ethereum/solidity/pull/11451 for example.

[2021-09-06 13:19] leonardoalt commented on #11508
Decided in call: this is not breaking.

[2021-09-06 13:28] chriseth commented on #11858
Why "inline"? Maybe `--ir-debug=...` with the following options: `astid` (future PR), `src` (the snippet), `loc` (the location)

`--ir-debug-info` would also be fine for me

[2021-09-06 13:31] chriseth commented on #11889
The error message is of course bad because you cannot override the functions.

I'm fine with allowing it, but then without a warning.

[2021-09-06 13:41] chriseth commented on #11879
Implementation note:
Should introduce a new type similar to `TupleType` (maybe that one can be re-used with an additional boolean) which has one separate type per component. In `TypeChecker::visit(TupleExpression`, most of the checks can be removed. The type of the expression should be the new inline array type, where each component is just the type of the component.

Convertibility of this new ty

[2021-09-06 13:43] chriseth commented on #11882
I'm fine with requiring to be explicit, but maybe we should ask if this breaks anything.

[2021-09-06 13:44] chriseth commented on #11882
Oh and we should allow `... for {uint, string};` in this case, i.e. providing a list of types.

[2021-09-06 13:44] cameel commented on #11889
I also think that such functions should be allowed and without a warning. If `private` functions cannot even be referenced from inherited contracts, they should not clash.

[2021-09-06 13:59] chriseth commented on #11819
I think I like the `{signature = "..."}` syntax most, but I would prefer to not have the option to allow to change the selector. Also, do we want to perform any type checking on the parameters? Can we do it?

[2021-09-06 14:02] Midhun07 commented on #11629
@cameel  So I assume when creating test cases we need to check for `one invalid option with one input mode` and `multiple invalid options with one input mode` separately. This would be tricky as there would be many combinations. I'm thinking of putting all invalid options for a particular input mode in one test loop. What do you think?

[2021-09-06 14:05] chriseth commented on #11889
We should be careful if non-private can be changed to private in inheritance.

[2021-09-06 14:18] cameel commented on #11889
Looks like it can't:
[code]
[code]

[2021-09-06 14:23] cameel commented on #11889
Also:
[code]
[code]

[2021-09-06 14:29] chriseth commented on #11898
The fact that the source maps have different lengths sounds like the bytecode is also different, which would be far more alarming. Can you please provide the assembly and the bytecode output of both ways to compile the contract?

[2021-09-06 14:35] hrkrshnn commented on #11743
Implemented in  https://github.com/ethereum/solidity/pull/11859

[2021-09-06 14:35] #11743 closed, assigned to nobody

[2021-09-06 14:36] franzihei commented on #5151
Seems like this got addressed in the meantime. If not feel free to re-open this.

[2021-09-06 14:36] #5151 closed, assigned to nobody

[2021-09-06 14:47] PaulRBerg commented on #11898
The bytecodes and the opcodes were the same. I triple checked this while debugging.

I am on my phone now but I will follow up later with the exact bytecodes/ opcodes I got.

[2021-09-06 14:56] franzihei opened #11900 "DOCS: Adjust rdt-theme colors by adding a "Solidity style" custom CSS file"
# Problem Statement
The current docs theme we are using is the plain readthedocs sphinx theme. Some colors are hard to read (e.g. the search highlights). Additionally, it would be nice if the docs would reflect the overall Solidity brand identity.

# To Do

- [x] Add custom CSS file called "Solidity light mode" with the color changes described blow ([docs](https://docs.readthedocs.io/en/latest/gui

[2021-09-06 15:17] ekpyron commented on #11819
I'd not do any type checking and leave things entirely in user-responsibility - that way we simultaneously achieve compatibility with types other languages might have, but we don't (or ABI types we might want to remove at some point, if that ever comes up ;-)).
But I'd also be fine with doing type checking, since we can still relax it afterwards.
EDIT: there might even be cases in which some other

[2021-09-06 15:37] chriseth commented on #11898
Thanks! And could you please also provide the sources and the metadata file, so I can try to reproduce it locally?

[2021-09-06 17:47] PaulRBerg commented on #11898
I updated the GitHub Gists I shared in the first post:

1. [src-maps-bug-1st-case.json ](https://gist.github.com/paulrberg/b250fbb6d5aa92ae27381071aa1a8e61)
2. [src-maps-bug-2nd-case.json](https://gist.github.com/paulrberg/7f70bf4415d7ffd51645507fbba63e93)

They are JSONs which with `deployedBytecode`, `opcodes` and `sourceMaps` entries.

The sources are in the [prb-proxy](https://github.com/paulr

[2021-09-06 17:50] PaulRBerg commented on #11898
More data points:

- I tried switching Hardhat versions, same result. I tried v2.5.0, 2.6.0, v2.6.1 and v2.6.2.
- I tried switching Solidity versions, same result. I tried all v0.8.x releases.

[2021-09-06 19:23] chriseth commented on #11898
It's really a pity that hardhat makes it so complicated to get the metadata file - it is the one thing that abstracts the framework away from compiler invocation. I'll try to reproduce nevertheless.

~~One thing that strikes me: The source maps contain 1030 / 1031 entries while the deployed bytecode is 1578 bytes long.~~
Edit: This not remarkable since the source maps are opcode- and not byte-base

[2021-09-06 19:32] cameel commented on #11629
I think that checking all of the `one invalid option with one input mode` combinations would be enough. I think this will be enough to detect most errors and we'll never be able to test all possible combinations anyway. For the `multiple invalid options with one input mode` case you can test one or two such combinations but I'd also be fine with not testing them at all.

[2021-09-06 19:47] cameel commented on #11858
Well, I wanted to distinguish it from the full debug info that could be printed by the compiler when requested as its own artifact but I guess these comments are the only way to output any debug info for now? In that case `--ir-debug` sounds ok.

Should I allow `--ir-debug=src` (i.e just the snippet without location)? Currently the `loc` part in the parser is not optional. Not sure if I should mak

[2021-09-06 20:01] chriseth commented on #11898
Ok, got it reproduced. Just some bits of documentation:
[code]

[2021-09-06 20:04] PaulRBerg commented on #11898
It should be `npx yarn install` because there is a `yarn.lock` file committed in version control.

---

~~Re your other commands - they look good. I compiled the same sets of contracts but via Hardhat directly.~~

**Update**: the optimizer should be run 800 times, and the metadata hash should be disabled. I don't see these in your commands, though if you reproduced the issue it should be ok.

[2021-09-06 20:08] frangio commented on #9439
`abi.decodeWithSignature` would be great. We currently have to resort to assembly if we need to decode a bytes array with a selector that we have in memory.

[2021-09-06 20:11] chriseth commented on #11898
What is weird is that if I request the assembly output, I get different assemblies (some redundant swaps and dups that do not matter because `and` is commutative), but the bytecode is actually the same.

[2021-09-06 21:43] axic commented on #11882
That probably is a good idea.

[2021-09-07 09:43] chriseth commented on #11879
Forwarding the target conversion type will be very tricky, since there are too many situations in which this can happen, in my opinion.

In summary, I think we can only achieve the following without considerable effort:

We add an additional flag to ArrayType that is valid for statically-sized arrays in memory and tells that it is fine to convert this array into a dynamically-sized array. The flag

[2021-09-07 10:20] chriseth opened #11907 "Solve nondeterminism about AST IDs"
The nondeterminism about AST IDs will always hurt us, and we should solve it once and for all.

The problem is that when you compile multiple unrelated files, the AST IDs get assigned uniquely for the whole compilation run.
This can result in different code depending on whether you compile a file in isolation or together with other files for the following reason:

These AST IDs are used in the cod

[2021-09-07 10:26] ekpyron commented on #11907
We do generate code per-contract - can't we just have a mapping "global ID -> contract-local ID" that maps our current IDs to a new counter that is per-contract and increments based on codegen visit order, resp. first use in codegen? You considered that yourself earlier, not sure what made you drop the idea...
Especially, if we want to keep the current IDs for everything except codegen anyways.

[2021-09-07 10:28] chriseth commented on #11907
Yes, that is the other way to do it. I'm a bit uneasy about the codegen visit order, and it would require `Type::toString()` to have access to this translation table.

[2021-09-07 10:30] chriseth commented on #11907
Ah sorry, it's `Type::richIdentifier()`, and we could actually provide the mapping.

[2021-09-07 10:31] chriseth commented on #11907
In
[code]
This might lead to `.identifier()` allocating a new ID, which means that the new ID will depend on the order in which this C++ expression is evaluated.

[2021-09-07 10:32] ekpyron commented on #11907
It's not exactly beautiful to pass a mapping to ``richIdentifier``, but yeah, should work.

[2021-09-07 10:34] franzihei commented on #10260
Adding a bit more context to this section. I think it would be nice to cover the following aspects in the intro section of the docs:

**1. What is Solidity?**
[code]
**2. Why Solidity?**

Here we should list aspects that make Solidity a great language.

**3.  _[optional]_ Who/what is Solidity for?**

Here we could list who the target group for using Solidity is and what you can do with it.

Stuff

[2021-09-07 10:36] ekpyron commented on #11907
Yeah, that indeed makes it extremely error-prone...

[2021-09-07 13:03] chriseth commented on #11898
Ok, this was a tough one: The reason is that the factory contains the proxy as a sub-object and somehow, the optimizer is run again on the proxy resulting in slightly different bytecode than on the first run - usually the optimizer runs as long as there are changes, so it should not be a problem to run it a second time. The actual bytecode is the same, because it has been stored already before the

[2021-09-07 13:12] frangio commented on #11531
Is assembly going to be required for defining the basic operations of these types? Normally one would allow conversion within a restricted scope and use that to define basic operations, and then disallow those conversions outside of that scope where only the public interface of the type can be used.

[2021-09-07 13:32] hrkrshnn commented on #11531
@frangio We've currently decided to go with `wrap` and `unwrap` functions together with the type. For example, for `type MyAddress is address`, there will be the function `MyAddress.wrap` with signature `address -> MyAddress` and similarly, `MyAddress.unwrap` with signature `MyAddress -> address`.

This did come up in our discussion. The (quick) conclusion was to consider this at a later stage.

[2021-09-07 14:41] PaulRBerg commented on #11898
Thank you for the quick turnaround, ser!

I look forward to v0.8.8 so I can remove the ".skip" flags in my tests :D

[2021-09-07 15:37] #11898 closed, assigned to nobody

[2021-09-07 15:46] #11884 closed, assigned to nobody

[2021-09-07 15:58] chriseth commented on #11907
It turns out that it might be better to make (a) the sol -> yul code generator output code that only depends on solidity source order and (b) check that the yul (util) function generation is deterministic. This is done in https://github.com/ethereum/solidity/pull/11910

[2021-09-07 16:23] axic commented on #11907
Why not take a truncated hash as the ID of the two-level ID?

[2021-09-08 06:08] Midhun07 commented on #11629
@cameel  I have created fix for option `error-recovery` as a template for other options. Please check.

[2021-09-08 10:28] chriseth commented on #11849
I would actually say that it is good that it looks nothing like a normal function call is good, because it is not a normal function call, it just encodes the data for the function call and why not put this into the `abi` "namespace"? Although I do see the problem of putting the function and the arguments at the same level.

`f.encode` might be a bit too generic for my taste - what about `f.abiEnco

[2021-09-08 10:31] chriseth commented on #11872
I think we should use the `type` field only for things that also appear in the signature. If you want to look up additional information for the type, I think you should use the AST instead.

[2021-09-08 12:01] axic commented on #11849
One argument for keeping it in `abi.` is that a function call statement is not only about encoding of data, but checking the return value and decoding the returned data. When someone just encodes one part of that and passes it around, the checks done after execution are not part of the statement anymore. Hence it is a "risky" task and works the same way other `abi.` methods do. Users of the langua

[2021-09-08 12:14] axic commented on #11889
Shadowing makes no sense considering inaccessible functions (i.e. private), so in essence allowing this makes sense.

However it definitely opens up the possibility for crafting/hiding confusing code, given contracts can have many internal and private functions, combining that with inheritance sometimes it is really hard to decipher what is the actual code used for the contract. The virtual/overri

[2021-09-08 12:43] chriseth commented on #11889
@Amxx can you provide more cases that would benefit from this feature? I actually think @axic 's point is very valid here.

[2021-09-08 12:43] axic commented on #11849
While I think this feature is definitely useful, it would be nice to see more actual examples how this is used today. We did a search on GitHub and a lot of uses of `abi.encodeWithSelector` are combined with `.staticcall`/`.delegatecall`, which makes me wonder whether the majority of cases requiring this actually just require an override for calls?

Such as `f{mutability: view}()` or `f{callmode:

[2021-09-08 12:52] chriseth commented on #11882
We should/could check if implicit conversions are still possible on the self type as long as all types are explicitly listed in the using statment, i.e. `using L.add for {uint8, uint16, ...};` allows a single implementation of the SafeMath `add` function.

[2021-09-08 13:00] chriseth commented on #11819
Comments from call: We should use `:` instead of `=` and we should also allow this for function types.

[2021-09-08 13:02] chriseth commented on #11819
Ok actually not needed for function types.

[2021-09-08 13:05] axic commented on #11819
@cameel proposed to move it after the function definition into the specifiers space. I think there it could use some syntax similar to modifiers:
[code]

[2021-09-08 13:48] Amxx commented on #11889
My use-case is a bit complex, and one might argue that it comes from bad design on our end.

---

OpenZeppelin provides a lot of functionalities in its different contracts and library. We also offer a framework for upgradeable contracts. This framework includes solidity code, and javascript tooling to help use deploy and update their contracts.

This tooling, in particular, checks dangerous behavi

[2021-09-08 17:53] chriseth commented on #11907
Hopefully solved by not making anything depend on names at all.

[2021-09-08 17:53] #11907 closed, assigned to nobody

[2021-09-08 18:10] chriseth commented on #9211
Fixed point math example: https://gist.github.com/chriseth/cd6d825df5a13055b1c5d7bcf1e614a7

[2021-09-09 08:28] #11531 closed, assigned to hrkrshnn

[2021-09-09 09:32] hrkrshnn commented on #9211
I'm not sure about allowing mixed types. Consider `type Timestamp is uint` and `type Duration is uint`. If we allow a `+ :: Timestamp -> Duration -> Timestamp`, the expression `t + d + d` may be somewhat confusing: `(t + d) + d` is well-defined, whereas `t + (d + d)` is not. (Here `d + d` is not defined.) This can be even more problematic if the operator `+ :: Duration -> Duration -> Duration` is

[2021-09-09 09:57] chriseth commented on #9211
Mixed types are also useful for things like `elliptic_curve_point * integer -> elliptic_curve_point`, so I would say the possibilities this opens outweighs the problem that you can implement the operators in a way that they are not associative.

[2021-09-09 10:35] ekpyron commented on #9211
Scalar vector space multiplication should get its own operator :-).

[2021-09-09 12:05] cameel opened #11916 "[isoltest] Command-line options are not validated"
## Description
[CommonOptions::validate()](https://github.com/ethereum/solidity/blob/v0.8.7/test/Common.cpp#L112-L137) is responsible for validating command-line options passed to `soltest` and `isoltest`. It only runs in `soltest` though. In `isoltest` command-line parameters are not validated.

## Environment
- Compiler version: `0.8.8-develop.2021.9.9+commit.f6eecb8c.mod.Linux.g++`
- Operating

[2021-09-09 12:11] cameel opened #11917 "[soltest] Command-line validation errors should not look like an ICE"
Currently validation errors are reported as if they were internal compiler errors which makes it look like as if a bug in the compiler was triggered. A nicely formatted message should be printed instead.

For example the error caused by using `--testpath` with an empty value looks like this:
[code]
[code]

[2021-09-09 13:43] ezioishan commented on #11917
Hey, I would like to work on this issue. Can you explain me how to reproduce it and what message to be displayed on such an error

[2021-09-09 13:55] ekpyron commented on #11879
I still don't see the problem in determining up front whether the array is static or dynamic.

We do type checking - if it's possible to type-check these things, we have to know which type it has to end up in in order to validate that it's convertible - so we do know the type statically up front anyways in that sense. The worst thing that can happen is having to store it in an additional annotatio

[2021-09-09 14:02] chriseth commented on #11879
We can do it, yes, but I fear it might cause more problems than it solves, not only in `using f for uint[];` / `[1,2,3].f()`.

[2021-09-09 14:03] ekpyron commented on #11879
I don't see how the implementation detail for code generation affects stuff like``using``.

[2021-09-09 14:07] chriseth commented on #11879
Ah then I misunderstood you, I thought you wanted to use that for type checking as well, like determining the type of `[[1,2], [4,5,6]]`

[2021-09-09 14:08] cameel commented on #11917
Great! The instructions to reproduce are in the description - just built the compiler and run `soltest` executable (you'll find it in `build/test/soltest` with the parameters I have shown. You'll see the error I'm showing above.

In this particular case it would be enough for it to print something like:
[code]

The code that validates it is in [`CommonOptions::validate()`](https://github.com/ether

[2021-09-09 14:08] ekpyron commented on #11879
My point is that in any situation in which we actually need to write anything to memory (or anywhere), we will have had to typecheck the array literal already and thus know whether it's dynamic or static. So we can store that in an annotation and have code-generation generate properly typed code for it.

[2021-09-09 14:10] ekpyron commented on #11879
Whenever we don't have that, e.g. in ``[expr1,expr2,expr3];``, we can just generate code as if ``expr1; expr2; expr3;``, i.e. it doesn't matter if things are static or dynamic, because there really isn't any array anyways :-).

[2021-09-09 14:13] cameel commented on #11917
Also note that the validations in `CommonOptions::validate()` are not the only ones. For example invalid options trigger a similar error:

[code]
[code]

So after implementing it please make sure there are no obvious cases that still trigger errors looking like these.

[2021-09-09 14:27] shawnwbts opened #11921 "What is the meaning of `src` in `solc --ast-json` output?"
![image](https://user-images.githubusercontent.com/40200349/132703000-3dca42fe-c65f-4a68-86df-3c02c1240f9f.png)
Sorry to bother you, what is the meaning of **src** in the **ast-json** file generated by solc compilation?  I want to get the number of lines in the source code corresponding to the starting position of the function getEther in the figure, so I used the following code to make a judgment

[2021-09-09 14:28] shawnwbts commented on #11921
![image](https://user-images.githubusercontent.com/40200349/132704666-d26ff24e-3179-4a8f-bca4-ef85eb563112.png)

[2021-09-09 14:37] shawnwbts commented on #11921
Well, actually, I use the following code to get the specific location of the variable in the code. 6677 is the first **src** of function **getEther**, and 7026 is the first src of variable **call** ,but the result is unsatisfactory. The former is correct ,and its output is 158,but the later is 162(actually it should be 161)

![image](https://user-images.githubusercontent.com/40200349/132706017-f0a

[2021-09-09 14:39] taylorgag commented on #11921
![image](https://user-images.githubusercontent.com/40200349/132706582-f7a28e4c-a5ae-4d58-9dbc-99ea5b86ab77.png)

[2021-09-09 14:41] shawnwbts commented on #11921
![image](https://user-images.githubusercontent.com/40200349/132706823-eda393fe-f3e7-4d00-9e17-c418955e8b08.png)

[2021-09-09 15:25] #11878 closed, assigned to nobody

[2021-09-09 15:54] ekpyron commented on #9211
I wager this is the only other signatures you'd ever want, i.e. monoidal multiplication ``'a -> 'a -> 'a`` and scalar multiplication over a vector space ``'a -> 'b -> 'b`` are all you ever need.

[2021-09-09 18:27] cameel commented on #10274
CLI has no equivalent for `evm.bytecode.linkReferences` and `evm.deployedBytecode.immutableReferences` outputs from Standard JSON.

[2021-09-10 07:51] bshastry opened #11925 "Permit user-defined type constant values"
[code]

The above could be permitted. Right now it is not. Found by fuzzing.

[2021-09-10 10:31] 4molybdenum2 commented on #11900
Hi, I made a PR for this issue. Can you please review? @franzihei

[2021-09-10 13:13] bshastry opened #11928 "Permit user-defined mapping key type"
[code]

is currently disallowed. Perhaps it should be allowed. Found by fuzzing.

[2021-09-10 13:22] bshastry opened #11929 "[Codegen] ICE in ContractCompiler visit of inline assembly"
[code]

throws

https://github.com/ethereum/solidity/blob/dea1b9ec7995ff7f16cdee7925a5858c5ce33982/libsolidity/codegen/ContractCompiler.cpp#L864-L867

[code]

[2021-09-10 14:31] ezioishan commented on #11917
Hey, regarding building the compiler, I'm on windows and want to build it without using Visual Studio. Is it possible? If yes, then what commands to follow. (I have already installed the dependencies & pre-requisites to build according to the documentation)

[2021-09-10 14:41] cameel commented on #7111
Does the `contractDependencies` annotation in the AST solve this problem? After  #9565/#10228 it includes all contracts that might be created (though it might also include other contracts whose bytecode had to be embedded in the main contract for other reasons).

[2021-09-10 14:58] cameel commented on #11643
I have just stumbled upon #121, and I wonder if this shouldn't have been treated as a breaking change after all. [`contractDependencies` did have a comment indicating that the inclusion of inherited contracts was intentional](https://github.com/chriseth/solidity/blob/24d04087d2ee4e5b2769c4bb69e5629bc1aaeb97/libsolidity/ASTAnnotations.h#L57-L59) and the comment stayed there up until #10228:
[code]

[2021-09-10 14:59] PatrickAlphaC commented on #11643
^^^

[2021-09-10 15:18] ezioishan commented on #11917
I don't think I'll be able to build this. Please un-assign me from the task

[2021-09-10 15:30] cameel opened #11932 "ICE when the file name in `@use-src` annotation does not match the name of the file passed to `--strict-assembly`"
## Description
If you try to assemble a file using a different name than the one included in the `@use-src` annotation, the compiler crashes.

There must be some additional factors involved because it only happens in specific circumstances. For example in the example below the problem goes away if I remove any of the annotation or if I do not use `calldataload(0)`.

## Steps to Reproduce
- `input.

[2021-09-10 15:38] cameel commented on #11876
@chriseth While implementing #11931 I realized that there's an additional problem here: there's currently no way for the user to obtain the metadata when doing the two-step compilation. On the CLI the `--metadata` option does not work in assembly mode (just like other output options: #3870) and in Standard JSON the `metadata` output does not produce metadata either.

Before #11931 it always matche

[2021-09-10 15:41] cameel commented on #3870
I have adjusted the title, because this applies to all the output options. For example `--metadata` is ignored in assembler mode as well.

[2021-09-10 17:40] cameel commented on #11845
There was some discussion in the PR about whether this should be an error: https://github.com/ethereum/solidity/pull/11873#discussion_r706342315

So #11873 covers the build-time check and the `--no-smt` flag. The last part will be the runtime check in `soltest`/`isoltest`. Here are some pointers on the implementation:
- I'd put the check in [`CommonOptions::validate()`](https://github.com/ethereum

[2021-09-10 17:59] ekpyron commented on #11845
Note that ``Z3Loader`` is only compiled and available if ``-DUSE_Z3_DLOPEN=ON`` is used. The best place to add this is probably a static function in ``Z3Interface`` next to ``Z3Interface::available()``.
``test/libsolidity/SMTCheckerTest.cpp:L47`` is where tests that require Z3 are disabled, if no Z3 is available at all.
It might also be fine to just add another check after that along the lines of

[2021-09-10 18:03] cameel commented on #11917
@ezioishan Unfortunately we only have the build steps for MSVC documented. Building with other compilers should be possible but it would probably require some changes to CMake configuration. If someone wanted to try, we'd accept patches to make it build but we only run MSVC in CI so it would likely break over time unless someone is also willing to maintain it long-term. The team is mostly on macOS

[2021-09-10 18:09] cameel commented on #11845
Right. `Z3Interface` generally looks like a better place for this. Comment updated.

[2021-09-11 05:26] hpumengzhao opened #11934 "[VS2019 Build Error]：Z3CHCInterface.cpp & Z3Interface.cpp Compile Error"
After generate "solidity.sln"(solidity 0.8.8), I open it in VS2019 and try to build it. But some errors occured when compile the Z3CHCInterface.cpp &  Z3Interface.cpp.  Has anyone met the similar problem?
[code]
Here is my cmake output:
[code]

[2021-09-11 06:13] #11934 closed, assigned to nobody

[2021-09-11 10:15] IdoWSC commented on #7529
[code]

[2021-09-12 07:45] 404-P4rziv4L commented on #11359
Hey @cameel, I would like to work on this issue if it isn't resolved yet. Could I be assigned?

[2021-09-12 08:17] shawnwbts opened #11935 "solidity antlr4"
Is there a special latest solidity.g4 file for antlr4 to compile?

[2021-09-12 14:54] cameel commented on #11359
Sure, just be aware that this is a task that requires some discusion and making a decision on which style we should recommend (and if we should recommend a single style  at all). I think that submitting a draft PR with a particular proposal is a good way to get that discussion started though so you can go ahead if you want to try. Just be prepared that there might be some going back and forth in t

[2021-09-12 15:56] cameel opened #11936 "[Docs] Style guidelines for recently added language features"
## Page
[Style Guide](https://docs.soliditylang.org/en/latest/style-guide.html).

## Abstract

The Solidity Style Guide is not up to date with all the features added recently to the language. It needs to be updated

## Details
There are now good linters available, such as [solhint](https://protofire.github.io/solhint/) so I have doubts whether maintaining detailed guidelines independently of them

[2021-09-12 17:13] cameel commented on #11929
Duplicate of #11680.

And it affects not only structs. There's a repro for static arrays too in that issue.

[2021-09-12 17:21] cameel commented on #11935
It has been split into separate lexer and parser. You can find it in https://github.com/ethereum/solidity/tree/develop/docs/grammar/. It's validated by our CI in every PR so it's guaranteed to be able to process the code accepted by the compiler version built from the same tag/commit.

[2021-09-12 17:21] #11935 closed, assigned to nobody

[2021-09-12 18:13] cameel commented on #11921
Well, we should finally document the AST format (#1511).

`src` identifies the location of the text corresponding to the AST node in a Solidity source file. The format is `<start>:<length>:<index>`, where `start` is the position of the first byte belonging to that location. It's not the number of lines. It's also 0-based.

Not sure why you're getting wrong results from your function - it seems cor

[2021-09-12 18:18] #11921 closed, assigned to nobody

[2021-09-12 19:35] fulldecent commented on #11359
Thank you for your interest.

Also want to note my main interest in this issue. Overall my goal is that all Solidity functions should be commented, consistently (no dog shedding), by default, and complained loudly when missing, and have consistent/specified interpretation. And when that happens we might hope that a browser-based web3 wallet will make this information available to you every time yo

[2021-09-13 01:53] shawnwbts commented on #11921
Thank you for your warm reply. I'm sorry that my question caused some trouble to you. At the same time, thank you for your suggestion.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "ethereum/solidity"

[2021-09-13 08:43] lightyear15 opened #11940 "Snapcraft build has been broken since 0.5.16"
## Abstract
https://snapcraft.io/build
Auto-build and publish new solc version on the snapcraft app store.

## Motivation
solc on snapcraft is at version 0.5.16. Last time it was built was January 2020.

## Specification
As explained in the link attached in the Abstract section, a snapcraft app can be connected to a github repo, so new builds are triggered every new commit.

## Backwards Compatibi

[2021-09-13 09:28] chriseth commented on #11876
It is not possible to obtain the metadata just from the yul code, because it's not there - I think this is fine.

What you are saying is that `--metadata --ir` will result in the metadata json not matching the metadata hash in the IR, right? I think this is fine for now - I don't see a proper way to "fix" this.

The metadata will match the hash when we use `--metadata --ir --experimental-via-ir`,

[2021-09-13 10:32] #11925 closed, assigned to nobody

[2021-09-13 11:24] chriseth commented on #9211
If you also consider the inner product, I think we have now collected at least one example for all the possible combinations of two types (`a * a -> a`, `a * b -> b`, `a * b -> a` and `a * a -> b`).

Given that, my crystal ball clearly says we should just allow all possible signatures for all operators.

[2021-09-13 12:49] cameel commented on #11876
Yes.

Also yes. One way would be to allow printing this metadata in the first step.

But now that I think about it, maybe making this metadata unavailable (and unpublishable) is actually a good thing? I think that the primary use case for two-step compilation is to allow the user to modify the assembly and in that case metadata is likely to be misleading anyway (i.e. the bytecode does not necessar

[2021-09-13 13:06] #11928 closed, assigned to nobody

[2021-09-13 17:04] hrkrshnn commented on #9211
[code]

Going back to the associativity issue, this creates an annoying problem on whether the expression `a * b * c` (where `a`, `b`, `c` has the types `UncheckedInt`, `int` and `int` respectively) is fully unchecked or partially unchecked. The expression, `(a * b) * c` would be unchecked and `a * (b * c)` would be partially unchecked. I think this pattern should be discouraged.

I'm generally in

[2021-09-13 19:04] kailash360 opened #11950 "Function to convert integer to string"
It would be very useful to add some functions converting different data types to strings. It will definitely increase the reach of solidity in fields other than Ethereum Blockchain.

[2021-09-14 09:16] chriseth commented on #9211
Another option would be to introduce a new set of operators: `+'`, `-'`, `*'`, ..., disable the associativity during parsing for them and only allow them to be defined for non-matching types.

[2021-09-14 09:17] hrkrshnn commented on #11950
IMO, this should be done by libraries. For one, there is no clear way to do this; so there isn't a strong reason to have this in the language. For example, for `uint256 -> string`, should it be in hex, decimals or binary? Should it have zero padding, etc?

Regardless, I would be curious to know what kind of conversions that you think should belong to the language.

[2021-09-14 09:19] ekpyron commented on #9211
Another option would be to extend the concept of ``unchecked`` to arbitrary named operator scopes, each with its own set of operators (with its own signature requirements) and the ability to import compatible operators from other operator scopes.

This would even prevent obscure operator definitions that cannot be recognized locally, since if I don't use well-behaved standard-signature operators,

[2021-09-14 09:53] hrkrshnn opened #11952 "(Disallow?) `using for` to bind internal functions to interfaces"
Interfaces only allow defining external functions. This means that if `I` is an interface, one can expect `I(addr).functionCall()` to correspond to an external function call. However, `using for` breaks this by allowing one to bind an internal function to interfaces. One typical example is the following:

[code]

This pattern decreases readability of contracts (because it's obvious that `safeTrans

[2021-09-14 10:13] 0xDEnYO commented on #8489
Hey Guys,

I am still facing the same problem. Not sure if I am missing something.

Lets keep this example (though I am using solc 0.8.4):

[code]
If I do it this way and I access one member of bazMap. then its not possible to access member.a cause the compiler doesnt know that this member has this attribute. Even if I write:
    function bazMap(address) external returns (address a, address b, str

[2021-09-14 10:42] cameel commented on #11952
If it made its way into OpenZeppelin then it might be a bit too late for disallowing this. `SafeERC20` seems to have been introduced in 2017 (https://github.com/OpenZeppelin/openzeppelin-contracts/pull/413, around the time of Solidity 0.4.11). The fact that it's still there and even has a comment suggesting `using SafeERC20 for IERC20` indicates that at least OZ team embraces it as a pattern as wo

[2021-09-14 11:23] chriseth commented on #11952
I don't see this as a problem.

[2021-09-14 11:26] chriseth commented on #9211
Rust restricts custom operators to be defined only on the left hand side type. This makes lookup easier and maybe also eliminates the associativity problem, but I currently don't see how you can do things like `2 * x`.

[2021-09-14 11:53] hrkrshnn commented on #11952
To put this in more context, one of them is an external call to a contract, the other one is an internal function call:

[code]

[source](https://github.com/tintinweb/smart-contract-sanctuary/blob/master/contracts_tronscan/mainnet/TU/TUKDvWbgE86LDBL4EmGzx3EQ4RnkycWyAB_KiaToken.sol#L390)

[2021-09-14 12:30] #11508 closed, assigned to nobody

[2021-09-14 13:03] hrkrshnn opened #11953 "Allowing regular constructor syntax for user defined value types"
User defined value types currently only allow constructions via the `UserDefineType.wrap(...)` function call. This can be rather verbose, especially when we allow operators on the type.

[code]

**Proposal**: for a user defined type `Type T is V;` allow the syntax `T(<type V>)` to construct an element. This is in line with the same syntax for built-in types as well as for structs.

---

A second p

[2021-09-14 13:10] ekpyron commented on #11953
Encapsulation works just as well with `wrap` and `unwrap`. We can just remove them from the type outside of whatever scope this should be restricted to - but still have defined explicit conversions.
So this really doesn't have anything to do with wrap/unwrap vs conversion syntax.

And as you say: as long as ``MyInt(...)`` is our conversion syntax for other types, we should also treat it as convers

[2021-09-14 13:27] chriseth commented on #8489
Please ask this question either in ethereum stackexchange or the solidity channel on matrix - this issue is not the right place.
I also don't really understand what you want to achieve. Both your examples compile for me.

[2021-09-14 13:33] chriseth commented on #11953
I think it is a good thing that construction from the underlying type is verbose by default. For fixed point types, this is exactly what one wants. We can allow user-defined implicit conversion and then use explicit and implicit conversion interchangeably (explicit conversion should be done by a named function).

I'm not really sure where this issue is getting at, but operators are not a problem i

[2021-09-14 13:48] #11876 closed, assigned to nobody

[2021-09-14 14:06] bshastry opened #11955 "User defined type constructors not visible across non-inherited contracts"
The following program compiles,

[code]

but the next one does not.

[code]

Found by fuzzing.

[2021-09-14 14:16] #11680 closed, assigned to nobody

[2021-09-14 14:16] #11929 closed, assigned to ekpyron

[2021-09-14 14:17] bshastry commented on #11955
BTW, the constructor is visible in libraries but not contracts/interfaces.

[code]

[2021-09-14 15:14] #11955 closed, assigned to nobody

[2021-09-14 15:59] cameel commented on #11900
I think I liked the green code blocks a bit more than the gray ones. They were not perfect so changing them is probably a good idea (for example green and light blue text does not stand out enough on that background) but the new ones look a bit dull:

### Before
![yul-stand-alone-usage-green](https://user-images.githubusercontent.com/137030/133292176-d1cc5f83-8354-4814-8fe3-c3459be9aff7.png)

###

[2021-09-14 16:00] axic opened #11959 "Clean up the helpers around errors"
For severity some places use strings, while others the enum.

Apparently it's also indirectly used by other places in the compiler, like CommandLineInterface.cpp, that do not adhere to the severity standard:
[code]

_Originally posted by @leonardoalt in https://github.com/ethereum/solidity/pull/11606#discussion_r704815675_

[2021-09-14 16:03] axic commented on #11900
@franzihei @cameel Could something like a thin border around the box with a different colour work?

[2021-09-14 16:09] cameel commented on #11900
Maybe? Highlighted code looks good on white background but I think that the block itself does not stand out enough.

![yul-stand-alone-usage-white](https://user-images.githubusercontent.com/137030/133293948-c0246a6d-76b2-4a21-9837-6f48c0275dde.png)

[2021-09-14 16:25] axic commented on #11900
I think this looks pretty good, but I'd try thickening the border.

[2021-09-14 16:28] cameel commented on #11900
ok, I posted that in the PR.

[2021-09-14 17:02] drortirosh commented on #11849
Yes, eventually, the encoded function is passed to a `staticcall` or `delegatecall`, but not always directly.
e.g.:
When using a factory or proxy contract (like [this](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/proxy/ERC1967/ERC1967Proxy.sol#L21)), it is often that you pass in an "initCode" parameter, which gets executed  just after creating the new contract.
Ther

[2021-09-14 17:10] axic commented on #11849
If I'm not mistaken the `initCode` here is actually a contract code and not an ABI encoded function call.

[2021-09-14 17:36] axic commented on #9583
Added a task list here and created an initial implementation attempt in #11960.

[2021-09-14 17:56] axic commented on #11507
@cameel this tool for example can parse ANSI sequences and craft a group of spans for HTML: https://www.npmjs.com/package/ansicolor

[2021-09-14 18:11] cameel commented on #11849
I noticed today that OpenZeppelin's [`SafeERC20`](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/token/ERC20/utils/SafeERC20.sol) is also doing a lot of call encoding so it would be another use case.

[2021-09-14 18:23] UltiRequiem commented on #7763
Any Updates?

[2021-09-14 18:53] christianparpart commented on #7763
Hey @UltiRequiem - I mean, I'm currently on "vacation" and back to work next Monday, we however have put this on hold (read: not rejected, just re-prioritized), this is why it's currently looking like it's not active. I though can't await resuming working on it, given enough resources :-)

p.s.: I think the goal was to have something *in* 2021, so we still have some months left :)

[2021-09-14 19:53] drortirosh commented on #11849
you're right... pointed to the wrong example. my mistake...
I fixed the link above, so now it points to a better example.

[2021-09-14 20:54] cameel commented on #8489
Here's a related issue that's still open: https://github.com/ethereum/solidity/issues/11826.

@danielb1986 If you have a snippet that produces a compilation error and you think it's a bug (rather than just incorrect usage), you could post it there. Please use a complete example though - you said that accessing some members causes errors but I don't see that in your example and we're left guessing

[2021-09-14 21:41] cameel commented on #11507
I think I've seen this one (or something similar). I was just arguing that GUI tools might prefer a different markup but you are right that they can use other fields to construct the message. So I think ANSI sequences are fine if console tools would use them.

And I think they would. For example Truffle just prints all messages without any coloring and some people are annoyed enough to write custo

[2021-09-14 22:15] cameel commented on #11507
I have submitted a feature request: https://github.com/trufflesuite/truffle/issues/4305.

By the way, I just noticed that `solc` formats both warnings and errors in red. Is that intentional? I saw the initial mockup in #3046 and there warnings were proposed to be yellow. But then #5511 had them all red for some reason and that's how it went in.

[2021-09-14 22:23] axic commented on #11507
Probably just a hiccup.

Also clarified on https://github.com/nomiclabs/hardhat/issues/680 that hardhat is not used outside of consoles, so using ANSI is fine.

[2021-09-14 22:26] axic commented on #11507
A concrete proposal (option 3) from above): `settings.ansiColors` (bool). It is set to `false` by default (if omitted). If present and set to `true`, then fields in the output JSON **can** contain ANSI color sequences.

[2021-09-14 22:29] axic opened #11961 "Warnings should not be coloured red on the console"
_Originally posted by @cameel in https://github.com/ethereum/solidity/issues/11507#issuecomment-919550891_

[2021-09-14 22:29] axic commented on #11961
@cameel @leonardoalt what colour does `info` gets?

[2021-09-14 22:36] cameel opened #11962 "Errors, warnings and infos should have different colors in terminal output"
Came up in https://github.com/ethereum/solidity/issues/11507#issuecomment-919550891.

## Description

Currently both `Error` and `Warning` are displayed in red in the terminal so errors do not stand out and warnings are not easy to discern from errors. I haven't checked, but I suspect that the info messages added in #11606 are red too.

The output would be more readable if warnings and infos had d

[2021-09-14 22:37] cameel commented on #11961
Looks like you beat me to it :) #11962.
I proposed white because they are not meant to stand out.

[2021-09-14 22:47] axic commented on #11507
@cameel I think it is not a good idea marking it `good first issue` before we agreed on the design. Let's try to do it on tomorrow's call.

[2021-09-14 22:51] cameel commented on #11507
Well, ok then, I'm taking it off.

The implementation is going to be straightforward whatever we choose though so I thought it was appropriate. And if anyone wants to try before them, we can always say that it's still waiting for design discussion.

[2021-09-14 22:55] axic commented on #11507
Yes, this is one of those unfortunate issues where discussing it takes 10x-100x the time it takes to implement it 🙈

[2021-09-15 08:44] ekpyron commented on #11952
I wonder how much overlap this pattern has with
[code]
(can't be used on plain contracts implementing IERC20 only, but if you cast from ``address`` anyways, you might as well cast to this one)

[2021-09-15 08:47] DeviousLab commented on #11962
For anyone picking this up I'd wager this is the file you'd want to look at: https://github.com/ethereum/solidity/blob/develop/liblangutil/SourceReferenceFormatter.cpp
[code]

[2021-09-15 09:14] ekpyron commented on #11962
We need to be careful to keep things readable both on light-on-dark and on dark-on-light terminals, etc. But thinking of the "white" for info as "uncolored" and due to the fact that we use yellow/orange already anyways, it should be fine for this.

[2021-09-15 10:34] chriseth commented on #9211
It might be "clean" to (at least for now) restrict the target of a "using for"  statement at file-level to data structures only, i.e. disallow the use for contract-like types and of course non-nameable types.

[2021-09-15 10:35] #11572 closed, assigned to nobody

[2021-09-15 11:00] chriseth opened #11964 "[Yul Optimizer] Improve loop variables"
We just had an issue where we did a manual optimization in loop code in the ABI decoder. The optimizer should actually handle that on its own. What are the conditions for such an optimization?

Original code:
[code]
replaced by
[code]
Of course, this only works if we know that `mul(something, length)` does not overflow. Can we at least go a small way in the direction?

[2021-09-15 12:13] axic commented on #7436
This was only done for the docs, but it would be nice to run it on the tests too.

Can we reenable this?

[2021-09-15 12:18] leonardoalt opened #11966 "[SMTChecker] Support user defined types"

[2021-09-15 12:47] hrkrshnn commented on #11964
I guess the replacement should look like
[code]

Even when `mul(...)` overflows, I think the values are the same as the overflow from `add`.

Maybe a generic way to solve this is to have a rule that converts:
[code]
into
[code]

Something like this also came up in https://github.com/ethereum/solidity/issues/11586

[2021-09-15 12:54] chriseth commented on #9211
As far as I understood @ekpyron 's arguments, the only benefit of restricting operators to a fixed type signature (i.e. `+` always takes the same parameter types and also returns the same type, `==` always takes two equal parameter types and always returns bool, ...) is that it helps in the future when we introduce generics in the following way:

You can write functions `add(a, b) -> a + b` and th

[2021-09-15 13:24] hrkrshnn opened #11969 "Operators for user defined value types."
This came up in https://github.com/ethereum/solidity/issues/9211#issuecomment-911705547

**Proposal**:

[code]

---

### Allowing mixed types

[code]

Useful for fixed points (`Fixed * uint`), duration type system (`Timestamp + Duration = Timestamp`, `Timestamp + Timestamp` is error), elliptic curve multiplication (`Point * uint`), etc.  Also can make code less verbose: see in example how we can w

[2021-09-15 13:32] chriseth commented on #11964
I don't understand - the initial optimization was getting rid of the index variable itself and instead does the loop via a variable derived from the index (implicitly by incrementing it at each loop iteration).

[2021-09-15 13:33] chriseth commented on #11964
Oh sorry: `offset` is used in the loop body, only `i` is not.

[2021-09-15 13:42] chriseth commented on #7436
Please no style enforcement on the tests. This is bad for the syntax tests and also limits us in the semantic tests.

[2021-09-15 13:48] hrkrshnn commented on #11767
Mostly done in https://github.com/ethereum/solidity/pull/11772. So closing

[2021-09-15 13:48] #11767 closed, assigned to nobody

[2021-09-15 14:00] chriseth commented on #11969
As I commented on the other issue: The worries of Daniel can be fixed by requiring a trait system as rust has it, with the downside that there are some places where you have to specify a trait while it could be automatically inferred in Daniel's system (I think this is a plus). Also note that rust allows mixed types, but it resolves custom operators only based on the left operand. I'm not sure if

[2021-09-15 14:26] axic commented on #7436
I meant only for semantic tests, but what does it limit there?

[2021-09-15 14:29] ekpyron commented on #11969
It really isn't a plus not *to be able to* infer types. Even if you are able to infer types, you can still either choose to mention types or even force people to mention types (at all times or in some situations). The point is that type inference being possible is generally a stronger type-safety property. If you *can't* infer types you have to be careful that the explicit mentions of types this i

[2021-09-15 14:41] axic opened #11972 "Builtin for UTS46 / IDNA normalisation"
A recurring ask is to support ENS' namehash in the language: #6956 and #11436. The core reason for not being able to implement it in Solidity itself is the complexity of the [UTS46 / IDNA normalisation](https://unicode.org/reports/tr46/) required by ENS.

Instead of supporting namehash, we could just expose UTS46 normalisation and still implement namehash (which is a recursive keccak256 hashing) i

[2021-09-15 14:44] axic commented on #11972
Some UTS46 implementations: [1](https://github.com/ethers-io/ethers.js/blob/master/packages/strings/src.ts/idna.ts) [2](https://github.com/danfinlay/eth-ens-namehash/blob/master/index.js) [3](https://github.com/jcranmer/idna-uts46/blob/master/uts46.js)

[2021-09-15 15:07] axic commented on #11972
Here's a rough version:

[code]

[2021-09-15 15:27] chriseth commented on #11969
@ekpyron and me also briefly discussed how to do `++` and `+=`, but I think we concluded that the problem is that we do not have explicit references, and you would need them to do this properly. It might make sense to disallow to define them and auto-derive them from `add(CustomType, uint)`, if this is desired.

[2021-09-15 15:36] axic commented on #11972
Here's a version with assembly, which may or may not be correct (I only wrote it up as a comment and didn't even try compiling it):
[code]

[2021-09-15 15:53] chriseth commented on #7436
It just takes more time to format it properly.

[2021-09-15 16:16] cameel commented on #11961
I'm going to close this one since my issue covers the same thing and has a more detailed description.

[2021-09-15 16:16] #11961 closed, assigned to nobody

[2021-09-15 20:01] #11885 closed, assigned to nobody

[2021-09-15 20:52] gakonst commented on #5306
A user of this library would be consumers that want to FFI to it, e.g. for building high performance tooling in other languages. See [here](https://forum.openzeppelin.com/t/a-faster-solidity-compiler-cli-in-rust/2546) for why one would want native bindings.

[2021-09-15 21:18] sambacha commented on #11745
A project has already implemented this functionality:
https://github.com/MerkleX/tSol

I used it briefly [sambacha/transpiler-solidity/tree/trunk](https://github.com/sambacha/transpiler-solidity/tree/trunk), it has to use a modified build system (gradle) to properly deploy on chain.

Trail of Bits did a security audit of the original repo, however the audit was not published publicly.

Hopefully t

[2021-09-16 07:44] Amxx opened #11978 "Make type(x).max a constant expression"
I was trying to write this piece of code

[code]

I get an error saying that `type(uint8).max` is not an integer literal or a constant expression.

I believe it should be a constant expression.

[2021-09-16 08:37] axic commented on #11849
On yesterday's meeting it was discussed that this feature feels useful, even if many use cases combine `encodeWithSelector` with `.staticcall`/`.delegatecall`, for which we don't think this is the right feature.

However because we want to show it is a "risky" step to do, the syntax of `abi.encodeCall` (or something similar within the `abi` namespace) seems like the better choice. And in case it t

[2021-09-16 08:44] cameel commented on #11978
This has already been requested in https://github.com/ethereum/solidity/issues/11183. I'm closing this as a duplicate.

[2021-09-16 08:44] #11978 closed, assigned to nobody

[2021-09-16 09:19] axic commented on #11689
Emscripten is up at 2.0.31 now. Only build and bug fixes.

[2021-09-16 09:20] axic commented on #11689
@ekpyron did you had a chance to look at the changelog here? The highlighted parts look interesting.

[2021-09-16 12:18] #10145 closed, assigned to Marenz

[2021-09-16 12:29] michaeljohnbennett commented on #11084
I'd really like to understand this all a bit more, other than the solidity docs is there anywhere that can show empirically how this switch affects output and what are the major proponents of size increases when the runs are set higher?

Sorry if this is a simplistic request, I'm trying to learn more and normally learn better with practical examples than pure compiler theories :-)

[2021-09-16 12:45] hrkrshnn commented on #11084
@michaeljohnbennett You'll probably need to compile contracts with different values for `--optimize-runs`. Then deploy and call some functions. You can notice the difference in gas costs for them; both deployment and for each call. If you are more keen, look at the assembly code: https://docs.soliditylang.org/en/v0.8.7/analysing-compilation-output.html or the IR `--ir-optimized --optimize`. If you

[2021-09-16 13:18] #11466 closed, assigned to nobody

[2021-09-16 14:01] cameel commented on #11932
Example updated. Looks like the `pop()` around `calldataload(0)` makes it not crash. Same if I assign the value to a variable - so this must have something to do with unused stuff remaining on the stack.

[2021-09-16 15:24] frangio commented on #11889
I don't think the concern that @axic shared is a significant one. Private functions are the easiest to trace back to their definition because it just requires a search in the contract where it is used.

[2021-09-16 15:39] chriseth commented on #11932
I'm unassigning myself again. My initial assessment is that AssemblyStack always assumes that the SourceLocations inside the Yul AST point to the Yul source of AssemblyStack. I think we have to determine inside AssemblyStack if the YulObject has a `@use-src` or not and change its behaviour respectively.

[2021-09-16 15:41] fvictorio commented on #11507
I like when things work in a "core functionality that can be used by anyone" + "the tool builds upon that functionality as anyone else". I'll clarify what I mean.

The ideal thing, in my mind, would be for the standard json to work as a "source of truth", that is then used by the compiler CLI to generate its output in some opinionated way. That is, as much as possible, the compiler _only_ relies o

[2021-09-16 17:09] cameel commented on #11507
@fvictorio

I don't think it does. It's formatted in a way suitable for the console (assumes fixed-width font and is just a single string with newlines) but currently it does not have any color info. Adding ANSI sequences to it what this issue proposes.

The metadata is already there. Here's an example what you get from Standard JSON now (not all fields are always present);
[code]
So what you're p

[2021-09-16 17:45] axic commented on #11507
Also note that we had these fields from the very beginning (and is part of the documentation), but no single tool decided to use any of those and just sticked to `formattedMessage`. I imagine because getting the source formatting nice is just extra work no one wants to do.

[2021-09-16 20:37] nventuro opened #11987 "Error message about disallowed argument location should explain why the location is not allowed"
When compiling the following contract with solc v0.8.7:

[code]

we get the following error message:

[code]

This is not particularly helpful as functions can actually receive `storage` arguments, but only if they are `internal` or `private`. The error message is not particularly insightful on this distinction, nor helps the developer achieve their task.

### Suggestion

A simple improvement coul

[2021-09-16 20:53] axic commented on #11987
I think this would be as a nice improvement. Did you find similar other cases?

[2021-09-16 20:53] nventuro commented on #11695
I'm not sure the pros list highlights the **radical** impact that implementing this issue would have. It would let developers fully do away with the notion of linked libraries, which means being able to drop linking tooling, not worry about bogus creation code (pre-replacement), the strange library replacement metadata, more easily expose libraries in use, among others.

With `immutable`, we can n

[2021-09-16 23:48] fvictorio commented on #11507
Oh, sorry, I completely misunderstood the issue. I see what you mean now! I'll think about this a little more.

[2021-09-17 00:52] axic commented on #10278
Thanks @cameel, opened an issue for them: https://github.com/compound-finance/saddle/issues/43

[2021-09-17 00:57] axic commented on #10278
@iamdefinitelyahuman is py-solc-x still dependent on `--combined-json`?

[2021-09-17 10:15] cameel commented on #11879
Looks like there's already an older issue about this: #9645.

[2021-09-17 12:20] fvictorio commented on #11507
This is a hard question. If I'm understanding correctly, there are three options here:

- Add ANSI colors to the `formattedMessage` entry, and add a `noColor` option to the JSON input.
- Add ANSI colors but without an option in the input. That is, assume that `formattedMessage` will always be shown in a terminal.
- Don't do anything. If someone wants colors, they'll have to either use the same col

[2021-09-17 12:30] cameel commented on #11507
That's a good point against an option that modifies `formattedMessage`. Doing it this way does make the JSON output less reusable. So if we go forward with it, I think a new field would be better because it can be ignored and keeps `formattedMessage` available, even if you get stored JSON output from elsewhere.

[2021-09-17 12:35] fvictorio commented on #11507
@alcuadrado mentioned that having a new `ansiColoredMessage` (or however it's called) has a couple of advantages.

First, this would avoid the need of having a new flag in the input, which is problematic for verification because it affects the metadata (it would suck if your verification fails because you had a different colors config when the contract was deployed). Second, having a different fie

[2021-09-17 12:35] axic commented on #11507
The main options [according to this](https://github.com/ethereum/solidity/issues/11507#issuecomment-919556059):
1. Add ANSI colours to `formattedMessage` iff the `settings.anisColors` is `true`. Otherwise (the default) stay as today.
2. Do nothing.
3. Introduce more complex version of `formattedMessage` which has spans.

[2021-09-17 13:53] hawkess commented on #11916
I'd like to handle this issue, but I have some questions about intended behavior.

Currently, there are flags that are [hardcoded](https://github.com/ethereum/solidity/blob/20ca5c13617b923e559044213c49445d365511d4/test/tools/IsolTestOptions.cpp#L79-L81) to always default to a certain value in the IsolTestOptions class regardless of command line arguments. Is this intended behavior that should be p

[2021-09-17 13:54] nventuro commented on #11987
Hm I don't recall any off any of the top of my head - I just run into this the other day and was puzzled by the error message until I realized what was going on.

[2021-09-17 14:21] fvictorio commented on #11695
As @nventuro said, the biggest pro here is simplicity. Completely removing this concept of linking seems like a huge win both for tools and for users learning the language.

[2021-09-17 15:21] cameel commented on #11916
@hawkess Good observation. This is not how these options were meant to work :) We should remove these hard-coded values and just set them as defaults. All values should come from command-line flags. I don't think people expect the current behavior. I surely didn't :)

I think it was done this way because option definitions are in `CommonOptions` and that's where you would need to add defaults. So

[2021-09-17 19:29] hawkess commented on #11916
After tackling this for a while, it seems that the command line options interface in its current form cannot support `true` defaults for a boolean option without rendering the option obsolete. For `bool_switch`es (which all options currently use), the created value_semantic won't accept any explicit value. If the option is present on the command line, the value will be `true` and you can't supply

[2021-09-17 20:48] cameel commented on #11858
In the end I called it `--debug-info`, because it affects EVM assembly too. And I have forbidden `src` without `loc`.

I just now realized that you wanted short names for values though. In my PR I called them `location`, `snippet` and `ast-id`. I can easily change them though if you think shorter names are better.

[2021-09-17 21:12] cameel commented on #11886
Related issue: #9592 (try/catch with low-level calls).

[2021-09-17 21:16] cameel commented on #10059
By now I am pretty much convinced that this must have been caused by symlinks in workdir path and #11688 fixes that. So I'm going to close this once that PR is merged. Feel free to reopen if you encounter this even on a release including that fix (should be 0.8.8 or 0.8.9).

[2021-09-17 23:20] michaeljohnbennett commented on #11084
Thanks @hrkrshnn, I did some more testing locally just on the compiler side and can see some of the changes.

It would be interesting to have some kind of test harness you could run an set of values in and return the values back in some meaningful way/graph, array of amounts.

There isn't anything like this? An optimal sizing script? It doesn't seem a terribly complex thing to do.

1. Iterate over

[2021-09-19 10:58] drortirosh commented on #11849
@axic :
1.  while it is ultimately used by `staticcall`/`delegatecall`, it is often not used DIRECTLY. That is, it is passed to a constructor or a wrapper method to perform some other validation (or contract creation) first, as in the example "initCode" above.
2. in term of risk-analysis, using the alternative `abi.encodeWithSelector`  is FAR MORE RISKY , as it contains no checking on types and en

[2021-09-19 16:56] cameel commented on #11716
@d-xo Is #11756 a blocker for you regarding incremental compilation? The bug is that `--stop-after parsing` does not currently provide `absolutePath`. Perhaps we should prioritize it a bit more?

[2021-09-19 18:06] cameel commented on #11940
Looks like the snapcraft build is already automated. It's just broken. According to the discussion in #2475 it's tied to https://launchpad.net/solidity. In [~elopio/+snap/solc](https://launchpad.net/~elopio/+snap/solc) I see that builds were running (and failing) until a year ago. Then they stopped. [The build from 2020-09-28](https://launchpad.net/~elopio/+snap/solc/+build/1131834/+files/buildlog

[2021-09-19 19:11] cameel commented on #2742
For anyone still having issues with `--allow-paths` (which seems to be a lot of people given how many upvotes the comment above got): there are indeed multiple problems with how some relative paths are handled and we already have a fix in #11688. The fix is being reviewed and should land in 0.8.8 or at worst 0.8.9. Anyone still having problems after that's released should report them in a new issu

[2021-09-19 19:56] axic commented on #11849
I still don't understand how this can be used with the `initCode` context.

Sure, that's why we think `abi.encodeCall` is nice, as it would validate the input types.

e.g https://web3js.readthedocs.io/en/v1.2.11/web3-eth-contract.html#methods-mymethod-encodeabi

From the linked web3js doc:

I would say this syntax is counter-intuitive, it suggests a chaining of a call and calling `encodeABI()` on

[2021-09-19 20:12] transmissions11 commented on #11849
how about something like `myMethod.encodeABI([param1[, param2[, ...]]])`

[2021-09-20 02:23] nova141 commented on #11936
Hey, would I be able to update this for you guys?

[2021-09-20 09:17] chriseth commented on #11417
I'm more and more convinced that due to the fact that this is not backwards-compatible, we cannot use this.

Another option would be to use a natspec annotation:

[code]

[2021-09-20 09:32] hrkrshnn commented on #11417
Why is backwards compatibility important here?

[2021-09-20 10:02] chriseth commented on #9645
Closing as duplicate of https://github.com/ethereum/solidity/issues/11879 (which has more comments by now).

[2021-09-20 11:29] cameel commented on #11932
The problem is that when `@use-src` is present,  `DebugData::location` stores Solidity locations and we don't have Yul locations at all. `AssemblyStack` reports errors at Solidity locations and I think this is a bug. But it does not have the Yul location available. I think we need a separate field in `DebugData` for each of these locations.

[2021-09-20 11:36] cameel commented on #11932
Note how some errors are missing locations even in cases where there's no crash.

It's not all of them though so apparently the Yul locations are still stored somewhere.
EDIT: apparently this is because the second error in the first example happens at the parsing stage (in `ParserBase.cpp`). Interestingly the first error is missing location despite coming from `AsmParser.cpp`. It's probably becaus

[2021-09-20 11:54] chriseth commented on #11695
I think to avoid confusion, calling non-public (i.e. internal) functions on libraries via a library variable should be disallowed, even if it's immutable. You can still call it via the name of the library, though.

[2021-09-20 12:12] chriseth commented on #11858
long names are fine!

[2021-09-20 12:13] chriseth commented on #11886
The idea behind the current behaviour was that if you end up in the catch-part of the try/catch block, then you know that the call has reverted. I think this is a very important property that we should keep for safety and it is the better tradeoff than the suggested change.

[2021-09-20 12:14] chriseth commented on #11417
Because inline assembly is usually used in libraries, which are likely to be used across multiple versions of solidity.

[2021-09-20 12:21] fvictorio commented on #11695
@chriseth Does it make sense to keep that behavior of libraries now that free functions exist? More conceptual simplification of libraries would be nice. (I realize this is off-topic for this particular issue; I can create a new one if this idea is not completely off.)

[2021-09-20 13:23] chriseth commented on #10903
I would say this is done.

[2021-09-20 13:23] #10903 closed, assigned to mijovic

[2021-09-20 13:28] chriseth commented on #9211
@hrkrshnn proposed to make applying the using statement upon import more explicit. One solution there would be to use
[code]

I.e. if we have "export using" then the effect of `using` is applied whenever the type is visible, not only in the scope where the `using` is visible.

[2021-09-20 13:30] chriseth commented on #11940
@elopio are you still available for maintaining the snap build?

[2021-09-20 13:32] chriseth commented on #11695
We still need #9211 in order to be able to phase out the call behaviour of libraries, but in general I would agree.

[2021-09-20 13:41] leonardoalt opened #11997 "[SMTChecker] Support bytes concat"

[2021-09-20 13:42] cameel commented on #11936
Sure, just choose one of the features listed above and create a PR with your proposal. Then we can discuss the changes. I'd suggest to start small to get used to our PR workflow first. It does not have to be complete - even just doing a few changes at first is fine.

[2021-09-20 13:47] chriseth commented on #9211
Updated the issue description.

[2021-09-20 13:53] cameel commented on #11916
You mean something like `isoltest --enforce-gas-cost true`/`isoltest --enforce-gas-cost false`? That would be inconsistent with how `solc` does it. I think it's more typical for CLI programs to have a `--no-XXX` version of the flag as I suggested in https://github.com/ethereum/solidity/pull/11996#discussion_r712128764.

[2021-09-20 14:05] edborsa commented on #7763
How can I help with that?
Can someone tell me how to implement the lsp? Is is from the compiler? Does anyone have a tutorial?

[2021-09-20 14:41] hawkess commented on #11916
There is a `program_options` method for setting implciit values, so you could still use `--enforce-gas-cost` with no argument or `--enforce-gas-cost=false`, but it does alter the auto-generated help signature to show `--enforce-gas-cost arg` which might not be desirable since the arg is actually optional.

[2021-09-20 17:02] cameel commented on #11916
I think we could live with these booleans being listed on the help screen. That's actually a nice idea. Less hassle than having to define the `--no-` variants separately. I'm not sure if we'd go for that in `solc` but `soltest` is an internal tool so I would not be against changing it here.

[2021-09-20 20:38] jhb10c commented on #11987
Hey @cameel, @chriseth. I would like to work on this. I can update the error to the suggestion by @nventuro. If there are any specifications, could you all provide more info?

[2021-09-20 20:47] cameel commented on #11987
Well, the version with adjusting the message is straightforward:
- find the message in the code
- tweak description
- run `isoltest` to update tests

A version with the extra suggestion would be harder. You can have an extra message if you specify a secondary location - but that's not what they were meant for and if would be weird if secondary location was pointing at the same thing. But maybe it

[2021-09-20 22:38] #9645 closed, assigned to nobody

[2021-09-21 05:07] jhb10c commented on #11987
Thanks for the instructions. I will update the error message for now and leave the extra suggestion for later. There are some similar cases. As such I will also update the error messages for external/public functions with the following data types: bytes; uint[]; structs; mapping(uint => uint); mapping(uint => uint)[].

[2021-09-21 10:44] chriseth commented on #7763
@EduardoBorsa thanks for your offer! The best way you can help currently is to try out our prototype. It should be explained here: https://dev.to/christianparpart/builtin-solidity-language-server-267n

[2021-09-21 11:01] Marenz commented on #9590
As far as I understood, it's about the YulAST, being output as JSON just like our Solidity AST can be exported...

[2021-09-21 11:39] d-xo commented on #11716
Hmmmm yes I think it probably is. Otherwise we would have to maintain a copy of the file resolution stages ourselves in dapp.

[2021-09-21 12:38] d-xo commented on #11507
In dapp we currently just dump the output from `formattedMessage` and don't apply any colorization (although I did just open a pr to differentiate between warning and error messages based on the script you linked above @cameel :pray:).

I would be happy to see full colorized output included in the output json, and would definitely make use of it in dapp, especially if it included e.g. syntax highl

[2021-09-21 13:32] chriseth commented on #9133
Fixed by https://github.com/ethereum/solidity/pull/11908

[2021-09-21 13:35] chriseth commented on #9133
Actually sorry, #11908 probably also was a problem here (especially in the initial example code), but we still need to fix it by adjusting how AssignImmutable is translated.

[2021-09-21 13:38] chriseth commented on #9133
@christianparpart while you are at it, can you also update the documentation to state that "verbatim" counts as a single opcode with regards to source maps?

Maybe we should try to fix this fully by changing source maps to byte offsets instead of opcodes, but that would be a breaking change....

[2021-09-21 13:42] chriseth commented on #9133
The fix in `AssemblyItem::computeSourceMapping` should take `m_immutableOccurrences` into account when it encounters an `AssignImmutable`.

[2021-09-21 14:06] chriseth opened #12000 "Make source maps byte-offset based instead of opcode-offset"
The source maps currently contain one item per opcode, instead of one item per byte in the assembly. This kind of makes sense because it allows the source maps to be flexible about which `push` opcode is used for a constant, but it makes it also more difficult because the "pseudo-opcode" AssignImmutable results in multiple opcodes in the end. To make things worse: As soon as one uses `verbatim`, i

[2021-09-22 12:10] cgironda commented on #4170
After a year this problem persists. I am also having this issue for 0.8.0 version (https://ibb.co/wr5MZGs)

I was wondering if someone has solved this problem.

[2021-09-22 12:23] hrkrshnn commented on #11695
As I understand this, libraries are also deployed during construction time. Is that correct? In that case, for users who rely on libraries to get around contract-size limit would have problems, right?

[2021-09-22 12:23] chriseth commented on #4170
@cgironda if you write `pragma solidity 0.8.0` you are requesting the version 0.8.0 - as per npm semver, `0.8.0` is the same as `=0.8.0`. If you want to allow `0.8.7` as well, you need to write `^0.8.0`.

[2021-09-22 12:23] hrkrshnn commented on #12000
This sounds good to me. Giving a heads-up to tooling people and perhaps asking for feedback would be nice.

[2021-09-22 12:24] chriseth commented on #11695
The constructor does not automatically deploy any libraries.

[2021-09-22 12:29] hrkrshnn commented on #11695
Does this mean that the library address needs to be passed as an argument during the constructor?

[2021-09-22 12:30] chriseth commented on #12000
Maybe we could make it start with a certain string to tell which kind it is and we could also include a version number.

[2021-09-22 13:10] chriseth opened #12006 "Debugging information + artefacts across Yul"
Main remaining issue: https://github.com/ethereum/solidity/issues/11877

[2021-09-22 13:11] #12006 closed, assigned to nobody

[2021-09-22 13:27] #11932 closed, assigned to cameel

[2021-09-22 13:40] #11966 closed, assigned to nobody

[2021-09-22 14:08] #8535 closed, assigned to Marenz

[2021-09-22 15:22] #11857 closed, assigned to nobody

[2021-09-22 15:43] #11916 closed, assigned to hawkess

[2021-09-22 16:07] viraj124 commented on #11695
on first thought as a solidity dev I believe for a contract using multiple libraries would need to have all those libraries deployed first before deploying the contract right might make deployment cumbersome would be good to know more details

[2021-09-22 16:27] franzihei commented on #11900
I'm not sure why the sudden changes of color occured re. the background of code blocks, but here were my reasonings for grey:
- The current green/yellow-ish is a really "not nice for the eyes" toxic color, which does not fit our Solidity brand colors
- To make it look more consistent with the blog, I thought grey would look nice and clean. There's enough color happening in the syntax highlights, s

[2021-09-22 16:37] chriseth commented on #11695
Maybe to clarify: This is just about libraries with public functions, internal functions are a whole different thing. Calling functions on the libraries discussed here will use `delegatecall`, and not a direct jump.

[2021-09-22 16:59] cameel opened #12008 "Reporting unused library references"
## Abstract
Currently the compiler does not report an error if you supply library addresses that do not match any library referenced in the compiled sources. I think the compiler should warn user about with a message at 'info' severity.

## Motivation
The current behavior is convenient for tools, which can simply pass in the list of all deployed libraries, without worrying whether they are actuall

[2021-09-22 17:18] cameel opened #12009 "Error when a library reference is something other than a library"
## Abstract
The compiler does not complain if you use a contract or an interface in places where a fully qualified library name is expected. Such a reference can never work and should be reported as an error.

### Example
[code]
This does not produce an error even though `<stdin>:C` refers to a contract and not a library.

## Specification
Each fully qualified library name used in `--libraries`/`s

[2021-09-22 17:18] cameel commented on #12008
Related: #12009.

[2021-09-22 17:19] JosephDenman opened #12010 "Dynamic tuple ABI encoding documentation is ambiguous?"
## Page

https://docs.soliditylang.org/en/v0.8.7/abi-spec.html#formal-specification-of-the-encoding

## Abstract

In the tuple encoding portion of the specification specification seems ambiguous, specifically the portion that describes how to encode dynamic tuples

"otherwise, i.e. if Ti is dynamic: ```head(X(i)) = enc(len( head(X(1)) ... head(X(k)) tail(X(1)) ... tail(X(i-1)) )) tail(X(i)) = enc(

[2021-09-22 17:45] cameel opened #12011 "Support `--pretty-json` and `--json-indent` for all CLI options"
In  #11583 we made `--pretty-print` affect Standard JSON and also added the `--json-indent` option. There are still some command-line options that ignore these:
- `--asm-json`
- `--ast-compact-json`
- `--abi`
- `--userdoc`
- `--devdoc`
- `--storage-layout`
- `--metadata`

Some of them always pretty-print the JSON but with hard-coded indent size, some do not pretty-print at all. Change them all so

[2021-09-22 18:38] hrkrshnn commented on #11695
During the call, we briefly mentioned the idea of a library interface. The difference being that calls would be `delegatecall`. I think this might be another approach for this, and can be used as a replacement for some proxy designs that rely on low-level delegate calls.

Syntax could look like:

[code]

Now `L` can be treated similarly to how regular interfaces can be treated:
1. they can be stor

[2021-09-22 21:24] cameel commented on #12010
Well, it does but it does not mean you cannot compute it. That's what the note below refers to:

The head of a tuple element is just a 256-bit number that represents the offset to the location where the dynamic data is stored. To compute that offset you only need to know `len(head(X(i)))` and for that you don't need to know the value of `head(X(i))`, only its type.

But in general I agree that the

[2021-09-22 21:24] #12010 closed, assigned to nobody

[2021-09-22 21:42] cameel commented on #11695
Do we also want to also document the calling convention for stuff that's not available in contract external functions? E.g. mappings or `storage` arguments?

We also discussed `new L()` (in case where it's a library rather than interface). I'm not really sure if that has a good use case. I mean, why would someone deploy multiple copies of a library if it cannot have any state? And if that's just a

[2021-09-22 21:50] nventuro commented on #11695
The use case that lead to this discussion was me working on a factory contract where the created contracts needed to be linked to a library. Had this existed, I would've run `new L()` in the factory's constructor.

Sure, but that means you now need to send two transactions instead of one, making deployment slightly more difficult. I'm not saying that's a strong enough argument to have it, but if i

[2021-09-22 22:13] cameel commented on #11695
But was that library the same for all created contracts? If so, then wouldn't it be much more efficient (like N+1 vs 2N) to link them all with a single instance of the library deployed beforehand?

The whole language is generally going in the direction of being less permissive in cases that are known to be bad practices :) I think a new feature should at least have *some* good use cases that redee

[2021-09-22 22:47] axic commented on #11900
I think both https://github.com/ethereum/solidity/issues/11900#issuecomment-919297759 and https://github.com/ethereum/solidity/issues/11900#issuecomment-925089250 are good. I do prefer slightly lighter, and definitely not the darkness in https://github.com/ethereum/solidity/issues/11900#issuecomment-919288976

[2021-09-22 22:52] nventuro commented on #11695
Maybe I didn't explain this situation correctly. Imagine we live in a world where this issue is addressed, libraries can be `immutable` state variables and linking is not required. What I then have is:

[code]

With this in place, I don't have to worry about the fact that there's a library involved: the factory deploys it for me.

In particular, deployment of this factory is the same as deployment

[2021-09-23 11:48] cameel opened #12014 "Do not whitelist remapping targets"
Originally requested in https://github.com/ethereum/solidity/pull/11688#discussion_r714703117.

## Abstract
Normally, importing files from arbitrary directories requires whitelisting those directories using `--allow-paths`. That's not the case when the import contains a remapping. This automatic whitelisting should be removed.

### Example
This causes an error:
[code]
[code]

While this does not:

[2021-09-23 12:59] hrkrshnn opened #12015 "[YulOpti] Induction variable loop optimizations"
[Context](https://matrix.to/#/!vVfTacneThsGqrLLFd:gitter.im/$PfU0mbPIG1VucTGbt4RWmkwIw8l4AzoEvQGwnhgJ4Y8?via=gitter.im&via=matrix.org&via=t2bot.io)
[code]

generates the for loop:
[code]

The offset computation `add(add(var_deposits_offset, mul(var_i, 96)), 64))` can be improved:

[code]

[2021-09-23 13:22] chriseth commented on #12015
Maybe to summarize: Whenever a variable (expression) has a linear dependency on the loop variable, we might consider computing that variable during loop increments itself.

In particular, if we have:
 - pre loop: `i := i0`
 - some expression/invariant inside loop body: `k * i + x0` (`x` and `x0` do not change inside the loop)
 - between loop iterations: `i'post = i + idelta`
 - `k` is a multiple o

[2021-09-23 13:23] cameel commented on #9583
@axic There are some more steps that need to be added to the list. Standard JSON has no equivalent for:
- `--import-ast` mode
- `--import-asm-json` mode (soon to be added to CLI in #11807)
- `--link` mode

Do we actually need it for the rewrite though? We can just craft the colored message from the components included in the JSON output. I'd even argue that it's the better way to do it because it

[2021-09-23 13:39] mudgen commented on #10283
Is there currently any way to query the EVM to find out what version it is?

[2021-09-23 15:52] cameel opened #12017 "Replace assertions with proper validations in AST import"
## Abstract
The [AST import code in `CommandLineInterface`](https://github.com/ethereum/solidity/blob/v0.8.7/solc/CommandLineInterface.cpp#L609-L626) is currently wrapped in an exception handler that catches all exceptions and prints an error message. This is most likely because the JSON input does not get validated before it's passed to `ASTJsonImporter` and the importer just asserts things that

[2021-09-23 18:21] banshee commented on #11745
One motivation for this kind of thing is to define the constants on the compiler command line, not in the files.  You'd do this in a file:

[code]

and then on the compiler command line you'd do

[code]

[2021-09-24 04:36] soroosh-sdi commented on #12014
I like to try this issue, if it's not urgent

[2021-09-24 04:44] soroosh-sdi commented on #12014
I think we also need a new test case; I don't know you add tests for this kind of issues or not. a downside comes to my mind is that adding tests for such small issues could make running our tests so time consuming after couple of years.
EDIT: we have lots of tests in `CommandLineParser.cpp` which tests this feature implicitly.

[2021-09-24 10:11] cameel commented on #12014
It's not urgent but this is not the best moment to start working on this because #11688 and #12007 have not been merged yet and they change a lot regarding `--allow-paths`. In particular #11688 adds a complete suite of tests so testing this should no longer be a problem.

It's also a breaking change so it should be based on `breaking` rather than `develop` branch and will only be released in 0.9.0

[2021-09-24 10:13] soroosh-sdi commented on #12008
this issue sounds interesting, Can you assign it to me?

[2021-09-24 10:23] cameel commented on #12014
@soroosh-sdi If you're looking for a task, how about one of these?:
- #10298
- #9627
- #10308
- #11959
- #11870
- #7665

[2021-09-24 10:27] cameel commented on #12008
This would be a better one but I got some feedback on the #solc-tooling channel that perhaps just reporting unlinked references would be a better way to go about it. So we need to discuss this first. I'm going to add it to design backlog for now.

See https://github.com/ethereum/solidity/issues/12014#issuecomment-926517874 for some issues that would be useful to solve right now.

[2021-09-24 10:49] axic commented on #12008
I think this is fine at the info severity.

[2021-09-24 10:52] axic commented on #11745
@banshee for this use case I think #1650 is a better solution as it fits the syntax more nicely.

[2021-09-24 12:09] soroosh-sdi commented on #10298
this is a bug, so it is more important than others you suggested.
please assign this issue to me. @cameel

[2021-09-25 07:25] jhb10c commented on #11987
Alright, the files are updated and I ran isoltest to check the updated tests. I think everything works fine.

I will rebase and submit the pull request later today.

[2021-09-26 01:05] jhb10c commented on #11987
Spoke to soon. There is an issue. I have updated the tests and ran isoltest. However, when I reproduce the error with solc, it produces the original error. I then tried to rebuild the compiler with the updated tests. The original error was still there.

This leads me to think: 1.) I have not updated the correct test; or 2.) I am building the compiler incorrectly.  @cameel, do you have any advice?

[2021-09-26 10:03] YangYang129 opened #12027 "Compile ASTJsonConverter.cpp failed to "error C3861: 'iter_swap': identifier not found" and "error C2672: 'ranges::iter_swap': no matching overloaded function found""
Compile ASTJsonConverter.cpp failed to "error C3861: 'iter_swap': identifier not found" and "error C2672: 'ranges::iter_swap': no matching overloaded function found", can you help look? Thank you very much

**Environment**
- Compiler version: VS2019 (16.11.2)
- Operating system: Windows server 2016

**Reproduce steps:**
1. git clone https://github.com/ethereum/solidity
2. cd solidity
3. mkdir buil

[2021-09-26 11:59] bshastry opened #12028 "ICE due to internal function pointer in a calldata struct parameter of a public function"
[code]

throws

https://github.com/ethereum/solidity/blob/3c8846e669ef7963bf9a84a856786b7d1d7dd01c/libsolidity/ast/Types.cpp#L2149

[2021-09-26 17:06] come-maiz commented on #11940
Yes. If you think this is still useful I can give it some love.

[2021-09-26 20:37] cameel commented on #11987
The same error might be raised from multiple places. Are you sure you found them all? If you are sure you did, I'd suggest manually modifying expectations in all tests that have this message to see which ones fail. Then you can use a debugger to see which path the compiler takes there. If that's still not enough to figure this out, you can also submit a draft PR with your code and these failing te

[2021-09-26 22:03] cameel commented on #12027
I think that the error is coming from `ranges::sort()` added in #11837 (we were using `boost::range::sort()` until then). The question is why.

It does not fail in our CI - [`b_win` job passed on that PR](https://app.circleci.com/pipelines/github/ethereum/solidity/18301/workflows/aae7c2d7-b365-4930-84b1-26bef9f1ac32/jobs/816098) with MSVC 16.11.0+0538acc04 and is still passing in newer PRs.

At fi

[2021-09-26 22:21] cameel commented on #12027
By the way, this is how we build it on Windows in CI: [`build_win.ps1`](https://github.com/ethereum/solidity/blob/develop/.circleci/build_win.ps1) (this gets executed by the [`b_win` job](https://github.com/ethereum/solidity/blob/develop/.circleci/config.yml#L880-L910)). The options are not identical to yours but I don't see anything that would be an obvious cause of the errors your getting. Still

[2021-09-27 06:50] sudesh-supraoracles opened #12031 "Support for BLS12 based signature verification"
Hi Team!

Since many protocols are putting BLS12 to use for digital signatures.
I want to verify BLS 12 based signature from Etherium smart contract.

Hoping for some positive inputs/response on this.

[2021-09-27 08:50] hrkrshnn commented on #12031
How do you want the compiler to support this? Can you show an example use-case?

[2021-09-27 08:54] axic commented on #12031
This cannot be supported without support from the underlying network. Implementing this purely in EVM assembly is not feasible.

There are multiple proposals to solve this on the network level, but they have been postponed. Proposals include [EIP-2537](https://eips.ethereum.org/EIPS/eip-2537) and [evm384](https://ethereum-magicians.org/t/evm384-feedback-and-discussion/4533).

I'm going to close th

[2021-09-27 08:54] #12031 closed, assigned to nobody

[2021-09-27 09:00] LashaMarkhvaidze opened #12032 "Are there any good docs or courses to learn sol"
Link Resources ⬇️

[2021-09-27 09:24] chriseth commented on #12032
Closing this because it is neither a bug nor a feature request. If you have further questions, please either ask in https://gitter.im/ethereum/solidity or https://ethereum.stackexchange.com/

[2021-09-27 09:24] #12032 closed, assigned to nobody

[2021-09-27 09:39] hrkrshnn commented on #12028
The fix is more involved than I thought.

https://github.com/ethereum/solidity/blob/develop/libsolidity/ast/Types.cpp#L1624

Needs to change `ArrayType const*` to `ReferenceType const*`. However, since function types are not a reference type and since `StructType::isValidForLocation` only checks members which are reference type, that fix wouldn't work.

https://github.com/ethereum/solidity/blob/de

[2021-09-27 10:05] hrkrshnn commented on #12015
Relevant: https://www.cs.cornell.edu/courses/cs6120/2019fa/blog/ive/

[2021-09-27 10:17] chriseth commented on #12008
This is kind of a feature, where the idea is that you have a set of libraries in your project and you compile all contracts supplying all libraries, whether the contract needs the library or not. If we want to restrict it, you first need to find out which contract needs which library. Info severity might be OK, but we should check with tooling to see if this is any problem to them

[2021-09-27 10:26] chriseth commented on #11940
That would be very nice of you! Some people seem to be using it.

[2021-09-27 13:39] #4623 closed, assigned to cameel

[2021-09-27 13:39] #10059 closed, assigned to nobody

[2021-09-27 20:58] cameel commented on #11409
solc-js part implemented in https://github.com/ethereum/solc-js/pull/544.

Both solc-js and solc PRs have been merged so I'm closing this.

[2021-09-27 20:58] #11409 closed, assigned to cameel

[2021-09-27 21:07] cameel commented on #12028
Duplicate of #11610.

[2021-09-28 00:12] haltman-at opened #12039 "UserDefinedValueTypeDefinition nodes don't include `canonicalName` field"
## Description

AST nodes of type `"UserDefinedValueTypeDefinition"`, unlike struct definitions and enum definitions, lack the `canonicalName` field.

## Environment

- Compiler version: 0.8.8

## Steps to Reproduce

[code]

Inspect the resulting AST.

[2021-09-28 02:50] jhb10c commented on #11987
Thank you. I appreciate the advice. The message locations have been triple checked and all instances of error message was tracked down. I have submitted a pr.

[2021-09-28 09:56] chriseth commented on #11494
I think this is done, right? We only need to check that the two-step process does the same as the single-step process.

[2021-09-28 15:49] cameel commented on #11494
There's also #11858 (the part about a setting for disabling debug info) but that already has a PR waiting for review.

[2021-09-29 08:11] #12039 closed, assigned to nobody

[2021-09-29 14:33] bshastry opened #12057 "[Sol->Yul] Invalid IR generated during copy of dynamically sized storage arrays of function type"
[code]

throws

https://github.com/ethereum/solidity/blob/e5eed63a3e83d698d8657309fd371248945a1cda/libsolidity/codegen/ir/IRGenerator.cpp#L107

To repro, do

[code]

[2021-09-29 15:00] hrkrshnn opened #12058 "Release checklist 0.8.9"
## Checklist for making a release:

### Requirements
 - [ ] Lauchpad (Ubuntu One) account
 - [ ] gnupg key (has to be version 1, gpg2 won't work) for `your-name@ethereum.org` created and uploaded
 - [ ] Readthedocs account, access to the Solidity project
 - [ ] Write access to https://github.com/ethereum/homebrew-ethereum

### Documentation check
 - [ ] Run `make linkcheck` from within `docs/` and

[2021-09-29 21:17] bshastry opened #12061 "[Sol->Yul] Function parameters not restored after modifier invocation"
The following test case passes via IR and legacy (expectation is to fail via IR because output should be zero).

[code]

The following test passes on IR.

[code]

[2021-09-30 06:56] YangYang129 commented on #12027
@cameel Thanks for your reply and info. According to [build_win.ps1](https://github.com/ethereum/solidity/blob/develop/.circleci/build_win.ps1) and [install_deps.ps1](https://github.com/ethereum/solidity/blob/develop/scripts/install_deps.ps1), I install cmake-3.18.2-win64-x64 and  and boost_1_74_0, then try to msbuild, still display these two errors. Please help me to look at this issue, thanks fo

[2021-09-30 08:13] bshastry commented on #12061
Another variant that should fail via IR (should return 1) but passes

[code]

[2021-09-30 08:40] bshastry opened #12063 "[Sol->Yul] Modifier changes to state variables gets reflected in function body in IR generated code but not in legacy"
The following test passes via legacy but not via IR. Actually not sure what is defined behavior here

[code]

[2021-09-30 09:17] bshastry opened #12064 "[Legacy codegen] Error code missing on revert"
The following contract reverts via both legacy and IR but only IR reports an overflow via a designated panic code, legacy does not.

It looks like there's something more than evaluation order at play here because legacy (due to left-to-right evaluation order) should panic on an overflow on evaluating the left-hand-expression (multiplication of the two max integer literals). But because legacy reve

[2021-09-30 09:42] franzihei commented on #12058
I think this can be closed.  :)

[2021-09-30 09:42] #12058 closed, assigned to nobody

[2021-09-30 10:21] chriseth commented on #12064
I'm pretty sure this is only evaluation order: If you evaluate `this.f()` first, you will end up with out of gas eventually, but that will be propagated up the stack as "external call failed", which is a regular revert without error code.

If you evaluate the multiplication first, you will get a revert with "overflow" error code.

[2021-09-30 10:22] chriseth commented on #12064
Do you think it makes sense to create a branch that  changes the evaluation order? Or we could add a 'pragma' to switch old codegen to new codegen behaviour (at least as much as possible).

[2021-09-30 10:24] bshastry commented on #12064
That's the thing, one would expect an "overflow" error code for legacy (because left-to-right evaluation) and external call failed for IR, but it is actually the other way round which is what confused me.

[2021-09-30 13:01] cameel opened #12065 "Crash when `@use-src` is used with `--machine ewasm` in assembly mode"
## Description
`@use-src` annotations cause a crash in `AsmPrinter::formatSourceLocation()` when Yul->Ewasm translation is requested.

## Steps to Reproduce
- `input.yul`
[code]
[code]
[code]

The assertion failure happens at https://github.com/ethereum/solidity/blob/0e7e936fe6d49afeec45362cbd228b635833d983/libyul/AsmPrinter.cpp#L273

## Environment
- Compiler version: Happens both on 0.8.8/0.8.9

[2021-09-30 13:21] hrkrshnn commented on #11415
OpenZeppelin seems to have already implemented an "open in remix" button.

https://wizard.openzeppelin.com/

[2021-09-30 13:27] hrkrshnn commented on #12064
I looked at the assembly. The optimized-yul code completely removes the function call. The IR does the operation before the call. The asm does the recursive call before the operations.

But not sure if the order is valid behaviour. But just leaving the observation here.

[2021-09-30 13:33] hrkrshnn commented on #12064
For the legacy, the recursive call will eventually run out of gas because of the 63/64 rule. But there won't be any returndata in the last `call` that fails. Since `returndata` will be cascaded back, the result would be equivalent to `revert(0, 0)`.

That is, `f()` is same as:
[code]

I think that explains the behaviour.

[2021-09-30 15:20] cameel commented on #11415
So looks like they do not care about the recommended URL length limit of 2000 bytes. The longest link I managed to create using that wizard has 4830 chars.

@axic Should we relax the limit in https://github.com/ethereum/solidity/pull/11697#discussion_r676836714 too?

[2021-09-30 15:25] yann300 commented on #11415
@cameel
you can also specify an `url` parameter in the URL which point to any kind of url (raw, github, ipfs,...) or a gistid ( but I think that you already know)

[2021-09-30 18:26] bshastry opened #12066 "[TypeChecker] ICE in UserDefinedValueType::canonicalName()"
[code]

throws

https://github.com/ethereum/solidity/blob/0e7e936fe6d49afeec45362cbd228b635833d983/libsolidity/ast/Types.h#L1144

[2021-09-30 19:02] dessaya opened #12067 "Allow `verbatim` in Solidity `assembly` blocks"
There is currently support for `verbatim`, allowing to instert arbitrary bytecode, but only when compiling in strict assembly mode. But the `verbatim` group of functions ios not available inside `assembly` blocks in Solidity code. Example:

[code]

When compiling with `solc`:

[code]

What is the motivation for disabling verbatim in Solidity? I understand that it must be used with care and only fo

[2021-09-30 19:29] cameel opened #12068 "Warning about switch with only a default case in compiler-generated IR of an empty contract"
## Description
Generating IR for a trivial empty contract and then assembling that IR results in a warning: `"switch" statement with only a default case.` Compiler-generated IR should not trigger any warnings.

[code]
[code]

The part of the code that triggers this warning looks like this:
[code]

## Environment

- Compiler version: 0.8.10 (`develop`).

[2021-10-01 03:11] fulldecent opened #12072 "Style guide: specify order of storage variable visibility versus immutability"
## Page

https://docs.soliditylang.org/en/v0.8.9/contracts.html?highlight=immutable#constant-and-immutable-state-variables

## Abstract

Should we prefer:

[code]

Over

[code]

[2021-10-01 08:58] montyly commented on #8773
Hi,

Is there any news on this topic? Imho having unit-tests support within Solidity would ease a lot the testing, and remove the burden from all the developers working on different compilation frameworks.

As we discussed back in 2020, it could also allow having pre/post invariants written directly in Solidity, and makes the property-based testing/verification a lot simpler.

In the long term, I

[2021-10-01 09:49] bshastry commented on #12061
Related issue: The following semantic test passes via legacy but not via Yul (Yul returns garbage values for `o0[0]`)

[code]

[2021-10-01 10:22] cameel commented on #11936
Related issue: #12072.

[2021-10-01 11:29] #11870 closed, assigned to nobody

[2021-10-01 11:29] cameel commented on #11415
@yann300 Thanks! I actually didn't know that. This does not seem to be documented in [Remix URLs & Links with Parameters](https://remix-ide.readthedocs.io/en/latest/locations.html). I only see the `gist` parameter there.

But anyway, I'd still be in favor of just using a higher limit. Having to deploy code snippets somewhere when docs are built would complicate docs build process. All of our code

[2021-10-01 12:01] bshastry commented on #11602
Summary of discussion with Chris on gitter:

Most likely explanation for this issue is that the string `thisisa33bytearray...` is copied to memory next to one of the arguments to `ecrecover` that are not cleared after the call. Because the 31 bytes next to the string contain garbage, and the bytes copy from memory to storage does not clean dirty bytes, these dirty bytes are reflected in storage as

[2021-10-01 12:17] cameel commented on #9583
Another thing that's not available in Standard JSON is the Yul->Ewasm translation (i.e. `solc input.yul --strict-assembly --yul-dialect evm --machine ewasm`).

[2021-10-01 12:59] cameel commented on #3870
#12074 solves this. The output does not exactly match the one shown under "Desired behavior" above because output includes headings but that's a separate issue: #10275.

Also, the PR only makes it possible to select existing outputs (`--ir`, `--asm`, `--bin` and `--ewasm`). It does not add any others that are available via Standard JSON.

[2021-10-01 17:16] come-maiz commented on #11940
Alright! We have a successful release on the edge branch for amd64.

I would appreciate people testing it with:

[code]

Building on the other architectures is being harder. On cvc they suggested to upgrade to 1.8, so I'm trying options.

[2021-10-01 18:19] #11950 closed, assigned to nobody

[2021-10-01 18:52] cameel commented on #8353
That should no longer be true after #11026. If the key is known at compile-time, the compiler should be able to pre-compute the values, right?

This topic was brought up on the chat yesterday and I think it's something users can already do without any new syntax. The example from https://github.com/ethereum/solidity/issues/8353#issuecomment-589249774 could be written like this:
[code]
You can have