[2018-11-22 19:15] lazaridiscom commented on #5141
wontfix like described.

[2018-11-22 19:15] #5141 closed, assigned to nobody

[2018-11-22 19:16] #5152 closed, assigned to nobody

[2018-11-22 19:21] #4494 closed, assigned to nobody

[2018-11-22 19:39] chriseth commented on #4494
Finally merged!

[2018-11-22 19:53] #5344 closed, assigned to nobody

[2018-11-22 20:07] chriseth commented on #5462
I think that in general, array types of elementary types that are convertible are not convertible. The reason behind is that the conversion, even if possible, might require actual code for the conversion or different storage layout. For example, even though `unit8` is convertible to `uint16`, a storage array of `uint8[]` is not convertible to `uint16[]`. So if we want to allow the example in the i

[2018-11-22 20:08] chriseth commented on #5462
Note that `address(0)` is an `address payable`.

[2018-11-22 20:09] #5426 closed, assigned to nobody

[2018-11-22 21:25] ekpyron commented on #5462
Yes, but in the case of ``address`` and ``address payable`` there won't be any need for a conversion, so we could allow this. In contrast to other base types there is no way to explicitly convert ``address(0)`` to ``address`` (the non-payable kind), so there is no way to initialize a non-payable address array with a constant address - that's an unnecessary limitation that we could fix by making an

[2018-11-23 01:12] anurag-git commented on #4494
Glad to see this issue is finally solved as I also tried my best to do it. Great job @liangdzou

[2018-11-23 01:38] lazaridiscom commented on #5440
closing (was filed mainly for #5429, which wontfix)

[2018-11-23 01:38] #5440 closed, assigned to nobody

[2018-11-23 01:43] lazaridiscom commented on #5425
I have total clarity already, so closing this.

(Docu can essentially stay as-is)

[2018-11-23 01:43] #5425 closed, assigned to ChrisChinchilla

[2018-11-23 01:45] #5276 closed, assigned to nobody

[2018-11-23 06:50] liangdzou commented on #4494
cheers！

[2018-11-23 16:01] christianparpart opened #5495 "Only use AbstractAssembly in AsmCodeGen"
AsmCodeGen.cpp uses evmasm::Assembly, even though it is in the yul namespace. The evmasm::Assembly is immediately converted to a subclass of AbstractAssembly via the EthAssemblyAdapter. I think the EthAssemblyAdapter should be moved to e.g. the evmasm namespace (inside libevmasm) and then used from the site that calls AsmCodeGen, so that AsmCodeGen just receives an AbstractAssembly instance.

[2018-11-23 22:21] ghost commented on #5442
You cannot produce high-quality documentation for a low-quality system.

First you have to fix the system.

Ask the folks from zeppelin, if you don't believe me.

https://blog.zeppelin.solutions/solidity-compiler-audit-8cfc0316a420

.

[2018-11-24 01:38] axic commented on #5442
What do you refer to by "low-quality system" ?

We are in touch Zeppelin, thanks.

[2018-11-24 02:25] ghost commented on #5442
The Solidity Project (Code, Structure, Processes).

Just read the Zeppelin Audit. Its unwritten headline is "Solidity Project is quite a Mess - Fix it"

[2018-11-24 07:19] JamesANZ opened #5496 "Why is the byte cast MSB order and uint is LSB order?"
Been using smart contracts to take uint values and cast them into a large custom length byte variable.

Noticed that when you do a bitshift operation on a byte variable it will take the most significant byte first (strange it itself) but that uint variables will take the least significant byte (normal behaviour)

Why does this happen in solidity? Is this an intended feature or a bug?

[2018-11-24 12:55] axic commented on #5442
I'm not sure I read the same sentiment from there.  Though I invite anyone to either explain the reasons properly and provide proper critique or do it better :)

So far no real reasons have been explained, just specific opinions.

[2018-11-24 13:07] axic commented on #5495
This link seems to be broken.

[2018-11-24 13:19] leonardoalt commented on #5496
Hi @James-Sangalli ,
By design `uint` and `bytesX` types pad/truncate on the opposite ends.

[2018-11-24 13:50] leonardoalt commented on #5442
This is just your opinion. We've talked to Zeppelin online and in person multiple times and I'm sure what you said is simply not true.

Please stop trolling and being aggressive every time someone disagrees with you. You are not the ultimate source of truth. None of us are.

[2018-11-24 13:55] LianaHus commented on #5422
and we have a  Remix-ide release https://github.com/ethereum/remix-ide/releases/tag/v0.7.5

[2018-11-24 14:26] ghost commented on #5442
Well, if this is so, then my assessment is that Zeppelin was not worth the $430k budget [Zeppelin – $430K. Solidity compiler audit (co-sponsored with Augur) ](https://blog.ethereum.org/2018/05/02/announcing-may-2018-cohort-ef-grants/)

no comment

@axic

Well, then, just continue your high-quality work in your high-quality project which produces a high-quality product and high-quality documentatio

[2018-11-24 14:46] leonardoalt commented on #5442
Thanks for your assessment.
So what you're saying is that if Zeppelin doesn't really mean your "unwritten headline" they're wrong? What a surprise...

I still wonder where you got this "unwritten headline" from. I've read their list multiple times, and the process/structure issues you obsess so much about are mostly in the "low severity" category. Also, in their Conclusion they say `Update: All cr

[2018-11-24 16:36] ghost commented on #5442
Yes, if they don't mean "Your Project is a Mess - Fix it!", then they are totally wrong and not worth their money. (see below for a possible explanation)

This is either the major flaw of this Audit, or an "Act of Diplomacy". (again, see below for a possible explanation)

See, they got paid, and as professionals, they adapt to their customer (as they should, at least partially).

## Possible Expla

[2018-11-24 18:15] leonardoalt commented on #5442
Possible explanations for your opinions? Sure, that could work. Still, assumptions and opinions that you wrongly list as facts.

I am not interested in this discussion anymore and will write no further comments.

[2018-11-24 18:31] ghost commented on #5442
Wise folks!

[2018-11-24 19:38] christianparpart commented on #5495
that's a bug in the github UI. I just clicked a button. will extend that with the proper text (on Monday I guess).

[2018-11-25 20:47] rmeissner commented on #3718
Hey,

I am trying to use `solc --ast contracts/GnosisSafe.sol` (https://www.github.com/gnosis/safe-contract) and receive a `segmentation fault`.

I am using solc 0.5.0+commit.1d4f565a.Darwin.appleclang (installed via `brew`) and other outputs work(e.g. `solc --bin` or `solc --asm`). Also for other contracts it is possible to perform this action (tested with `solc --ast /=/ contracts/base/BaseSafe.

[2018-11-25 21:01] lazaridiscom commented on #3718
(not reviewed your case, my reply is of general nature)

It's usually a good practice to open new issue and provide lots of data (versions, error-logs etc.). And if you suspect that its related to an closed issue (like this one), mention "Possibly related to #3718".

[2018-11-25 21:35] rmeissner opened #5501 "Segmentation fault when trying to use `--ast` on an interface"
## Description

I am trying to use `solc --ast contracts/interface/ISignatureValidator.sol` (https://www.github.com/gnosis/safe-contract) and receive a segmentation fault. This also causes failure for contracts that make use of this file (e.g. `contracts/GnosisSafe.sol`)

Other outputs work(e.g. `solc --bin` or `solc --asm`). Also for other contracts it is possible to perform generate the `--ast`

[2018-11-26 11:48] chriseth commented on #5496
@James-Sangalli We do not yet fully understand the issue. Could you provide example code, please?

[2018-11-26 12:07] chriseth opened #5505 "Make include resolution blazing fast"
There should be an option to perform "include resolution only" - it might be that not selecting any output could already do that, but I think it will still do type checking. It might also be that if any include fails, we do not do anything at all.

Task of this issue:
 - check that truffle (and other framework)'s include resolution is as fast as it gets.

[2018-11-26 12:26] JamesANZ commented on #5496
@chriseth doing bitwise operations like so will be reversed in bytes.

e.g. byte(0xeeff >> 8) will grab the first two bytes (ee), 0xeeff >> 8 as a uint will get ff

I see that this is not actually an issue as it is a design decision, was just confused before

[2018-11-26 13:03] chriseth commented on #5496
If this is really the case, it sounds like a bug. Could you please post complete source code? Currently, I cannot reproduce the uint behaviour you mention.

[2018-11-26 13:47] chriseth commented on #5293
I took the liberty to modify your PR a little to answer the request above.

[2018-11-26 13:47] #5293 closed, assigned to nobody

[2018-11-26 14:36] ChrisChinchilla commented on #5396
This is in progress, but we need to consider the merging implications of this change.

[2018-11-26 14:42] leonardoalt commented on #4391
Thanks!

I'm closing this after the reply on the Z3 issue.

[2018-11-26 14:42] #4391 closed, assigned to leonardoalt

[2018-11-26 15:01] chriseth commented on #5241
Ok, great, the first part is implemented! It would be really cool to also have a script that comments at the correct position in the diff.

[2018-11-26 15:08] #5403 closed, assigned to nobody

[2018-11-26 15:15] come-maiz commented on #5442
Hello, one of Zeppelin devs here. We are happy to clarify anything related to the audit. @lazaridiscom if you have questions, just ping me.

We reported a good bunch of things to fix, but most of them were not high-severity, and none of them are uncommon for a project on the 0.x phase. Some of them are even chosen trade-offs to bootstrap a project. However, note that the Solidity team started to w

[2018-11-26 15:50] #4832 closed, assigned to nobody

[2018-11-26 17:08] chriseth commented on #4678
solc-js is meant to be just a tiny boilerplate over standard-json. We can extend standard-json, though.

[2018-11-26 17:53] chriseth opened #5509 "[Yul] Also use Yul Object instead of passing Block and AnalysisInfo"
Many places in the code use a pair of Block and AnalysisInfo. We should consider using a proper Yul Object instead.

[2018-11-26 18:37] chriseth opened #5510 "[Yul] Implement functions and code generator changes for yul objects"
This needs changes to `AbstractAssembly` to provide entry points for the Yul Object-specific built-in functions (we should also add the built-in functions to the set checked by the optimizer).

Scoping rules for accessing data: The name of the current object and all its direct sub-nodes are accessible. Everything else has to be reached via a `.`-separated path: `datasize("root.sub1.data2")`

Built

[2018-11-26 18:47] #4635 closed, assigned to ekpyron

[2018-11-26 19:10] #5175 closed, assigned to ChrisChinchilla

[2018-11-26 22:26] ghost commented on #5442
You sound more like a "diplomat on a pink unicorn" than an auditor. (for the intolerant readers: this was a friendly joke with essence).

It looks like "Zeppelin is part of the problem 'Low Quality of Solidity Project'".

Some comments:

"0.x" on paper. In reality, Solidity is released to production systems, and thus a "1.0" release product.

Solidity drives already millions of real-life dollars.

[2018-11-26 22:29] KevinKelley commented on #4648
@ryan-shea ...I'm thinking this should be resolved, finished, now... but haven't heard anything after my last series of PR/fixes.  Anyone?  Are we done?

[2018-11-26 23:22] juztin commented on #5460
Found it!

The Dockerfile on [DockerHub](https://github.com/ethereum/solidity/blob/3b1741909c7472b892695260b0b8c59a53c2183e/scripts/Dockerfile) was throwing me off. It's using Alpine as the base, which has all of the missing pieces, but commit 754610077680e19a80655ab1dcc0f430a340c232 changed to using a multi-stage build where the resulting image is based on `scratch`, which is empty.

I love the i

[2018-11-27 00:42] come-maiz commented on #5442
You are being unnecessarily hurtful, and for some strange reason you are assuming that you are more experienced than everybody else here. Your good ideas get lost because of all the noise you are adding. That is not a way to build a development process that we can trust.

Luckily, one of the first things that the Solidity team fixed was to add a [code of conduct](https://github.com/ethereum/solidi

[2018-11-27 02:10] ghost commented on #5442
I'm just executing an RCA and communicate it openly. Possibly you're just a bit oversensitive.

When I write "experienced folks", it's of general (and not personal) nature. Although it is totally obvious that I outperform you in some(!) disciplines (like you outperform me in others).

Those are not "my good ideas". Those are mostly "System-Design-Principles".

Applying System-Design-Principles (an

[2018-11-27 03:29] fulldecent commented on #5293
Cool, thank you

[2018-11-27 03:35] corollari opened #5512 "Fedora is not recognized by the `install_deps.sh` script"
## Description

Fedora is not recognized by the `install_deps.sh` script.

## Environment

- Operating system: Fedora 29

## Steps to Reproduce

On a Fedora 29 install, run the following code from the terminal:
[code]

Output should be:
[code]

Output is:
[code]

[2018-11-27 10:12] erak commented on #5501
@rmeissner Thanks for reporting your issue. This indeed seems to be related to #3718 and should have been fixed by https://github.com/ethereum/solidity/pull/4166. I think we need to take a look again.

[2018-11-27 10:21] axic commented on #5501
It is still happening on the Mac, tried it.

[2018-11-27 10:30] chriseth commented on #5460
If you can find a way that has a nice versoning scheme and avoids building twice, then please go ahead!

[2018-11-27 10:58] chriseth commented on #5512
Thanks for letting us know! Would you be able to extend the script so that it works for Fedora?

[2018-11-27 10:58] chriseth commented on #5512
Ah sorry, only saw the pull request just now :)

[2018-11-27 13:12] chriseth opened #5516 "Add external tests for examples on ethereum.org"
We should compile all contracts in https://github.com/ethereum/ethereum-org/tree/master/solidity as part of CI.

[2018-11-27 13:13] chriseth commented on #5516
Duplicate.

[2018-11-27 13:13] #5516 closed, assigned to nobody

[2018-11-27 13:13] chriseth commented on #5432
The files are here: https://github.com/ethereum/ethereum-org/tree/master/solidity

[2018-11-27 15:13] chriseth opened #5518 "Internal compiler error related to memory store with mappings"
The following triggers the assertion at `CompilerUtils.cpp(185)`
[code]

Found by @bshastry

[2018-11-27 15:38] silasdavis opened #5519 "Solidity 0.5.0 static binary is compiled as pre-release"
Description:
The current solidity static binary (https://github.com/ethereum/solidity/releases/download/v0.5.0/solc-static-linux) reports itself as a pre-release version, see the output of solc --version:

[code]

The problem with this is solc treats any 'pre-release'/nightly as being less than any release version and will refuse to build files with pragma versions. So you get an error like:

[cod

[2018-11-27 15:48] axic commented on #5519
What is the version pragma you are using?

[2018-11-27 15:53] silasdavis commented on #5519
Sorry yeah you're right I jumped to conclusions - I didn't think the commit hash was included in the version of released versions, I was on `pragma solidity ^0.4.0;` `pragma solidity >=0.4.0;` is fine.

[2018-11-27 15:53] #5519 closed, assigned to nobody

[2018-11-27 16:45] rmeissner commented on #5501
This was working with the 0.4.x compilers, this just started with the new 0.5.0 compiler for me

[2018-11-27 17:17] roschler opened #5520 "Nested structs that are part of a mapping no longer compile with 0.5.0 (Test repo link included)"
With the 5.0 version of `solc`, if a host struct nests another struct, and the host struct is the value in a mapping, the compiler emits a fatal compilation error using the UnimplementedFeature error code.  This code _did_ work in version **v0.4.21**.

[code]

Here is a link to a public repo with a minimal project that demonstrates the error:

https://github.com/roschler/nested-structs-tests.git

[2018-11-27 18:03] erak opened #5521 "Move examples from ethereum.org to documentation"
ethereum.org is being re-designed and aims to rather be an information hub than an actual provider in the future. Did I phrase this correctly @alexvandesande? We could move all Solidity examples from there (https://www.ethereum.org/greeter, https://www.ethereum.org/dao and such) to our documentation. I can already identify a few benefits / disadvantages:

Benefits:
- The examples would probably ge

[2018-11-27 18:11] roschler commented on #5520
It does appear to be a breaking change.  For a workaround see the reply to this Stack Exchange post:

https://ethereum.stackexchange.com/questions/63149/nested-structs-that-are-part-of-a-mapping-broken-in-solidity-0-5-0/63152#63152

[2018-11-27 18:42] erak commented on #5501
@rmeissner This was already present in the 0.4.x series, but couldn't be reproduced deterministically until isolated and fixed by @alibabe with https://github.com/ethereum/solidity/pull/4166. As we are currently discussing the removal of the gas estimation from the text output, I'd kindly invite you to take part in that discussion: https://github.com/ethereum/solidity/pull/5515 :)

[2018-11-27 18:50] erak commented on #5501
Oh sorry, this is missing some background: it was probably reintroduced with https://github.com/ethereum/solidity/pull/5225. Unfortunately, this seems to be a bug in libc++: https://bugs.llvm.org/show_bug.cgi?id=30449, and #4166 was more or less only a workaround for.

[2018-11-27 20:55] juztin commented on #5460
Created #5522

I left the checklist items around compile/test/README empty, as those shouldn't be affected by the changes.

It creates the following Docker tags:

 - Scratch
    - ethereum/solc:stable
    - ethereum/solc:0.5.1
    - ethereum/solc:nightly
    - ethereum/solc:nightly-0.5.1-bc7cb301e3d71756c8fbefe888aca53433302117
 - Alpine
    - ethereum/solc:stable-alpine
    - ethereum/solc:0.5.1-

[2018-11-28 08:38] leonardoalt commented on #5048
The crash happens when a `FunctionTypeName` has a struct as parameter, and the struct has an undefined `UserDefinedTypeName` field.

[2018-11-28 08:40] leonardoalt commented on #5048
`ReferencesResolver` sees that the `UserDefinedTypeName` doesn't exist and reports an error, but it's too late. When visiting `FunctionTypeName` it visits the type of its parameters and consequently the types of the struct members.

[2018-11-28 08:41] leonardoalt commented on #5048
I guess the first problem here is that this should anyway not be allowed without `ABIEncoderV2`.

[2018-11-28 09:27] jolestar commented on #5449
MacOS Mojave 10.14.1
Homebrew 1.8.4
xcode-select version 2354

same error.

/Users/jolestar/opensource/github.com/ethereum/solidity/libevmasm/Assembly.cpp:267:74: error: no matching conversion for functional-style cast from 'const dev::u256' (aka 'const number<boost::multiprecision::cpp_int_backend<256, 256, boost::multiprecision::unsigned_magnitude, boost::multiprecision::unchecked, void> >') to

[2018-11-28 10:42] chriseth commented on #5520
The code in question is
[code]
and it indeed seems to work in 0.4.25. Adding another variable to the struct, though, still not makes 0.4.25 complain, but the generated code is wrong - it only returns 32 bytes instead of 64.

I would propose to fix the internal compiler error by another check in the type checker - if possible.

[2018-11-28 10:43] chriseth commented on #5520
So to summarize: The reason this worked in 0.4.25 was by mere coincidence, looking at the code, nested structs in public getter functions were never meant to be supported.

[2018-11-28 13:29] chriseth commented on #5431
@axic how should that be possible?

[2018-11-28 13:39] #5460 closed, assigned to nobody

[2018-11-28 13:47] erak commented on #5501
It turned out that the crash was caused by a defect and does not seem related to #3718. I'll close https://github.com/ethereum/solidity/pull/5515 in favor of https://github.com/ethereum/solidity/pull/5530.

[2018-11-28 14:47] chriseth commented on #5048
Is this issue about a single bug or multiple?

[2018-11-28 14:48] leonardoalt commented on #5048
Multiple instances of the same bug

[2018-11-28 14:49] chriseth commented on #5048
Ah, now I see it!

[2018-11-28 14:49] chriseth commented on #5340
Duplicate.

[2018-11-28 14:49] #5340 closed, assigned to nobody

[2018-11-28 14:51] chriseth commented on #1192
What you are seeing is the regular error that is expected from the pragma. The `^` means that anything never than `0.4.*` is not allowed, and you are using verison 0.5.0 of the compiler.

[2018-11-28 14:55] chriseth commented on #5234
This might actually be related to a boost version issue: https://github.com/ethereum/solidity/pull/5517

If you are able to re-deploy, please try with 0.5.1.

[2018-11-28 14:56] chriseth commented on #5234
I'm closing this. If 0.5.1 does not help, please open a new issue with source code so we can try to find the problem.

[2018-11-28 14:56] #5234 closed, assigned to nobody

[2018-11-28 15:33] chriseth commented on #3230
We could at least switch to a different account.

[2018-11-28 15:33] #5501 closed, assigned to erak

[2018-11-28 15:55] chriseth commented on #5452
Is it possible to test develop to be built / installed in the homebrew way on circle?

[2018-11-28 16:02] erak commented on #5452
We could create an additional build and an additional test step in Circle that just runs ``brew install solidity`` and ``./scripts/tests.sh`` afterwards. Would that work?

[2018-11-28 16:05] #5520 closed, assigned to chriseth

[2018-11-28 18:05] erak commented on #5449
@jolestar @avatar-lavventura Thank you a lot for reporting this again. We are currently evaluating a solution to this. Please feel free to join the discussion (https://github.com/ethereum/solidity/issues/5452) :)

[2018-11-28 22:53] chriseth commented on #5495
Updated the description.

[2018-11-29 09:07] leonardoalt commented on #5068
The same happens for `suicide`.

[2018-11-29 10:13] #5048 closed, assigned to leonardoalt

[2018-11-29 10:17] #5362 closed, assigned to nobody

[2018-11-29 11:33] chriseth commented on #5431
Closing because all mentioned PRs are merged.

[2018-11-29 11:33] #5431 closed, assigned to erak

[2018-11-29 11:45] chriseth opened #5540 "[Yul] Run assembly stack analyzer and optimizer also on nested objects"

[2018-11-29 12:35] chriseth commented on #5345
@SunBeomSo would https://github.com/ethereum/solidity/pull/5541increase the understanding? I know it does not add an example, but since the operation cannot be represented as an operation on source code, it is hard to provide an example.

[2018-11-29 12:47] chriseth commented on #5167
Because the idea is that the source representation does not have any "weird" characters, but the internal representation can be anything.

@maraoz would you agree?

[2018-11-29 12:50] chriseth commented on #5097
I'm moving all the issues to the 0.6.0 project.

@christianparpart could you create issues for the first and the last item you raised?

[2018-11-29 12:50] #5097 closed, assigned to nobody

[2018-11-29 12:54] chriseth commented on #3529
I'm closing this in favour of https://github.com/ethereum/solidity/issues/5295 because it got too broad. If that issue does not cover your use-case, please open a new issue.

[2018-11-29 12:54] #3529 closed, assigned to nobody

[2018-11-29 12:58] chriseth commented on #2903
Implemented in https://github.com/ethereum/solidity/pull/4372 (part of 0.5.0).

[2018-11-29 12:58] #2903 closed, assigned to nobody

[2018-11-29 13:04] #5512 closed, assigned to nobody

[2018-11-29 13:13] chriseth commented on #5461
Sounds like a good extension of the interface concept!

Would someone be willing to write a specification of an existing interface (like ERC20) in this way?

[2018-11-29 13:45] #5068 closed, assigned to leonardoalt

[2018-11-29 14:26] chriseth opened #5542 "Optimizer: Provide simplification rules as strings"
Most of the rules like `{{Instruction::SDIV, {X, 1}}, [=]{ return X; }, false}` and `{{Instruction::MOD, {X, 0}}, [=]{ return u256(0); }, true},` can be given as strings:

[code]

which improves readability but also allows external people to add new rules even to an already existing compiler binary.

This would also allow an automated SMT-backed check that the rule is correct.

One we can check th

[2018-11-29 15:38] chriseth opened #5544 "The spell checker test never fails"
It only reports errors, but it does not fail.

[2018-11-29 15:41] chriseth commented on #5544
I was wrong.

[2018-11-29 15:41] #5544 closed, assigned to nobody

[2018-11-29 16:12] jochem-brouwer opened #5545 "Allow the 'calldata' type in internal/private/public functions"
## Abstract

If I have data which is read-only in calldata solidity will copy it to memory anyways when passing it to internal/private/public functions.

## Motivation

If read-only calldata is copied for memory for no reason (it should only be copied to memory if it is edited - if it is read-only calldata it should never be copied) this wastes gas. If this happens, it should only be read from cal

[2018-11-29 16:14] chriseth commented on #5545
Note that a prerequisite to this is fully implementing support for calldata types in the first place. For now, only one-dimensional arrays are supported.

[2018-11-29 17:13] anurag-git commented on #5130
@chriseth, Did some analysis, let me know your thoughts
[code]
This code compiles after changing the contract as above.  As per the issue  we are trying to call base contract function (which is not implemented) in derived contract, hence the error. Error seems to be expected as per my understanding.

Below code also **compiles**,
[code]

which basically says that if base contract function is imple

[2018-11-29 17:41] chriseth commented on #5130
The initial code should result in an error stating something like `super.f()` is not available.

[2018-11-29 18:45] roschler commented on #2467
Comment to show support for this features, especially since it might help contracts that run out of gas during deployment (i.e. - by splitting out code to different contracts).

[2018-11-29 18:51] chriseth commented on #2467
@roschler sorry to disappoint you, but I don't see a way how to call modifiers defined in libraries using delegatecall.

[2018-11-29 19:22] maraoz commented on #5167
@chriseth agreed!

[2018-11-29 22:05] chriseth commented on #5229
This actually also applies to the parser - depending on the context (yul, strict inline assembly, strict inline assembly meant to access yul objects, ...) different builtin functions are available and thus reserved.

[2018-11-30 03:57] tanhuiya commented on #4666
what about the version after 0.4.18 ?

[2018-11-30 07:59] jolestar commented on #5452
Please support multi-version for Homebrew formula too. Because Solidity's grammar is not compatibility between version, so the developer must keep multi-version same time.

[2018-11-30 08:18] chriseth commented on #4666
@tanhuiya please open a new issue with detailed description.

[2018-11-30 08:25] #5518 closed, assigned to chriseth

[2018-11-30 08:26] #5055 closed, assigned to chriseth

[2018-11-30 09:05] 0yi0 opened #5551 "Bug when converting from literals to fixed-point numbers."
## Description

Here's an example.

[code]

I expect `0.10` is implicitly convertible to `ufixed8x2`, but it doesn't.

[code]

The current implementation makes a pre-conversion from the rational number literal `1/10` to some random fixed-point type (here `ufixed8x1`) and checks if the type (`ufixed8x1`) can be implicitly convertible to the target type (`ufixed8x2`).

This behavior also causes lite

[2018-11-30 09:53] 0yi0 commented on #5551
Oops I forgot to mention that the problem exists in both implicit conversion and explicit conversion.

i.e, both `bool RationalNumberType::isImplicitlyConvertibleTo()` and `bool RationalNumberType::isExplicitlyConvertibleTo()` make a pre-conversion to its `RationalNumberType::fixedPointType()` before checking if the literal is convertible.

[2018-11-30 10:53] erak commented on #5452
@jolestar Thanks for the input on this matter. Are you suggesting to support multiple versions such that developers can easily switch between them like this: ``brew switch solidity 0.4.25``?

[2018-11-30 12:02] erak commented on #5461
@chriseth How could such a specification look like? Does that mean one could take e.g. https://github.com/ethereum/EIPs/blob/master/EIPS/eip-20.md and then change the function signatures such that they follow this concept?

[2018-11-30 12:16] erak commented on #5453
@christianparpart referred to the latest [Rust survey](https://blog.rust-lang.org/2018/11/27/Rust-survey-2018.html) as an source of inspiration. I also think that it contains some measures and metrics which could be of interest (e.g. expertise x difficulty of learning language concepts).

[2018-11-30 15:31] chriseth commented on #5461
@bit-shift yes, exactly

[2018-11-30 15:31] #4658 closed, assigned to nobody

[2018-11-30 15:39] chriseth commented on #2917
I agree with @androlo. It's probably better to have no space after `mapping` in every case.

[2018-11-30 15:46] #4879 closed, assigned to chriseth

[2018-11-30 15:46] #5459 closed, assigned to nobody

[2018-11-30 15:47] #5345 closed, assigned to nobody

[2018-11-30 17:54] axic commented on #5422
Oraclize has 0.5.0 support now: https://github.com/oraclize/ethereum-api/pull/67

[2018-11-30 22:08] niklasb opened #5555 "It seems currently impossible to override a "function""
## Description

## Environment

- Compiler version:
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduce

[2018-11-30 22:17] niklasb opened #5556 "Overriding functions with variable getters is not allowed"
Solidity version: 0.5.0

Interfaces are a very useful concept in Solidity, however there is currently a restriction as to how a function defined in an interface can be implemented in a derived contract. As expected, we can define a function with the same signature:

[code]

But defining an implicit getter function with the correct signature does not work against reasonable expectations:

[code]

T

[2018-11-30 22:48] chriseth commented on #5555
Thanks for opening this issue! Could you please provide some example code that you expect to compile correctly but that does not?

[2018-11-30 22:49] chriseth commented on #5555
I guess this is a duplicate of #5556

[2018-11-30 22:49] #5555 closed, assigned to nobody

[2018-11-30 23:09] chriseth commented on #5556
Thanks for reporting! If we are lucky, then this can still be part of the release on Monday.

[2018-12-01 01:09] lazaridiscom commented on #1288
@zigguratt @axic

[2018-12-01 10:50] anurag-git commented on #5130
@chriseth, I have a solution ready, please help me to write test case so that I can push both changes at once.

[2018-12-01 12:03] zigguratt commented on #1288
I'm fine for this to be closed.

[2018-12-01 13:12] chriseth commented on #5130
@anurag-git the initial code is a good test case. Put it in the `syntaxTests` directory and run `isoltest`. Use the `update` option if it prompts you for an action.

[2018-12-01 17:32] roschler commented on #3249
Definitely.  This is a really troubling condition to debug, especially when it occurs in relation to a storage type related context since you don't know if it's due to complex key being used in a public storage element, or as a parameter declaration problem in a function call or declaration, etc.:

UnimplementedFeatureError: Encoding type "struct EtherBandBattlesDataTypes.structPendingPaymentDetai

[2018-12-02 11:39] CrisChr opened #5564 "How to transfer ether from account to another account?"
## Description

I created a contract in Remix:
![image](https://user-images.githubusercontent.com/38416380/49339043-81d33600-f666-11e8-988a-bcd467d975c6.png)

but when i execute _transferCoin()_ function, error consoled:
![image](https://user-images.githubusercontent.com/38416380/49339096-92d07700-f667-11e8-92ea-440eeba1a34a.png)

I was really confused that I executed _addFund()_ to add amount to

[2018-12-02 15:36] axic commented on #5564
This question is to better to be asked on https://ethereum.stackexchange.com

[2018-12-02 15:36] #5564 closed, assigned to nobody

[2018-12-03 09:24] leonardoalt opened #5566 "[SMTChecker] Run smoothly on Zeppelin ERC20"
- [x] Mapping access #5388
- [x] Bound functions #5309
- [x] Type conversion from Rational to Address #5717
- [x] Do not report overflow/underflow if all overflow/underflow paths revert #5999

[2018-12-03 09:26] ChrisChinchilla commented on #5452
@bit-shift There's different options depending on if we want a cask-based formula (typically for Binaries), or a 'normal' formula. If we maintain previous versions of binaries for cask, then they need to be hosted somewhere. The 'normal' path supports versions, the cask path also does, and there's also the 3rd option of creating our own tap, where you can kind of do what you want, within reason.

[2018-12-03 09:26] ChrisChinchilla commented on #5452
And @bit-shift I think that's what @jolestar means, I've done something similar with Python, Node, Ruby etc.

[2018-12-03 09:36] ekpyron commented on #3572
I think we should just use plain ``push()`` - I don't think that more explicitness has all that much real benefit here and it may even be confusing in the end - if you disagree I would probably prefer something like ``a.newElement()`` over ``pushNew`` (and ``pushEmpty`` indeed doesn't work in all cases).

[2018-12-03 09:46] #5556 closed, assigned to nobody

[2018-12-03 09:54] leonardoalt commented on #3572
I agree with `push()`

[2018-12-03 10:10] erak commented on #3158
Would it be feasible to use [Pest](https://github.com/pest-parser/pest) for this?

[2018-12-03 10:17] erak commented on #3572
I'm also in favor of ``push()``. Maybe we could think about returning ``(ref, new_length)``?

[2018-12-03 10:18] #3146 closed, assigned to nobody

[2018-12-03 10:18] #3151 closed, assigned to nobody

[2018-12-03 10:19] #2917 closed, assigned to ChrisChinchilla

[2018-12-03 10:19] #5301 closed, assigned to leonardoalt

[2018-12-03 10:34] ekpyron commented on #3572
@bit-shift Returning ``(ref, new_length)`` would make it difficult to use the returned reference without assigning everything to variables (think ``ìnitializeSomething(listOfSomethings.push())``), so I'm in favor of just returning ``ref`` (having to use the ``length`` member of the array, if one needs the length seems fine with me).

[2018-12-03 10:42] chriseth commented on #3572
I think you usually don't care about the length.

[2018-12-03 10:57] ekpyron commented on #2435
I think always passing by reference by default and requiring a ``copy(...)`` construct is good - the only question is whether the resulting verbosity for external function calls is in fact a problem. I think it would probably be fine and using a symbol instead will probably increase the learning curve of the language and decrease its readability (and we could still add a symbol as an alias for ``c

[2018-12-03 11:32] chriseth commented on #5219
@christianparpart what is still to be done here?

[2018-12-03 11:40] ekpyron commented on #5542
Personally, I'd rather write them as equalities ``SDIV(X, 1) = X`` - in theory it would be cool if the rules were actual syntactically valid yul expressions, that always evaluate to true, if the rule is correct, but unfortunately that'll probably not work all that well in practice... in any case the advantage of an equality is that it makes the proof-objective that needs to be verified for the rul

[2018-12-03 11:41] #5130 closed, assigned to nobody

[2018-12-03 11:41] #5363 closed, assigned to nobody

[2018-12-03 14:08] erak commented on #3249
@roschler Thanks for bringing this up again. Yes, this is a nice enhancement, but it would come with the cost of a small to medium-sized refactoring. Would anyone be willing to help with that?

[2018-12-03 16:27] chriseth opened #5577 "Compiler feature: Output AST even if there are some errors"
Is that compatible with standard-json?

[2018-12-04 02:25] jolestar commented on #5452
@bit-shift  yes.  I have to install solidity by an old version formula URL, such as:

`brew install https://github.com/ethereum/homebrew-ethereum/blob/70314d6cd077d2e6dd466a8932ed93064464737f/solidity.rb`

for solidity 0.4.21

expect：

    brew install solidity@0.4.21
    brew switch solidity 0.4.21

[2018-12-04 09:04] aihuawu opened #5581 "struct in external function not compile"
contract C
 struct A {
    uint256 id;
 }

  function f(A memory a) external {

  }
}
If I change external to public, it compiles.
But it doesn't work for external

[2018-12-04 09:14] leonardoalt commented on #5581
Hi @aihuawu , thank you for reporting!
Could you please give some more information, for example your compiler version and the error you get?
Note: in Solidity >=0.5.0, parameters of non-value type must have location `calldata` in external functions.
Note 2: you need `pragma experimental ABIEncoderV2` to use structs as a parameter of public/external functions .
Note 3: if I'm not mistaken this is n

[2018-12-04 10:23] ekpyron commented on #5290
The last point ``remove for with empty body and post (move "pre" part)`` is not a valid transformation, though, is it? E.g. for an always true condition such a for should loop until the gas runs out...
In ``remove for with false condition`` on the other hand, we still have to move the ``pre`` part.

And as an extension of the second point (in witch I guess "remove" is "move body"), I'll also remov

[2018-12-04 10:29] ekpyron commented on #5290
I'll let it depend on the disambiguator - it makes more sense to run it later anyways.

[2018-12-04 10:33] chriseth commented on #5290
Note that we already have a transformation that unconditionally moves the `pre` part, so you can check whether the pre part is empty instead of actually moving it.

[2018-12-04 10:47] aihuawu commented on #5581
Hi, leonardoalt

pragma solidity ^ 0.4.25;
pragma experimental ABIEncoderV2;
pragma experimental "v0.5.0";

It says it is not implemented.

Unimplemented feature:
/build/solc-8UojSd/solc-0.4.25/libsolidity/codegen/ABIFunctions.cpp(1268): Throw in function std::__cxx11::string dev::solidity::ABIFunctions::abiDecodingFunctionStruct(const dev::solidity::StructType&, bool)
Dynamic exception type: boos

[2018-12-04 10:56] aihuawu commented on #5581
If it is not implemented, then if I want to pass struct between contract, what should I do?

[2018-12-04 12:51] ekpyron commented on #5465
I can reproduce this and will look into it, thanks for reporting.

[2018-12-04 13:41] ekpyron commented on #5465
Actually the function inliner requires the function hoister to be run in advance - and if you do that interactively, the exception will not be thrown - so this can probably not be considered a bug in the FullInliner, but we should probably still deal with such dependency issues in yulopti somehow...

EDIT: just double checked with @chriseth and not running the dependencies for optimizer steps shou

[2018-12-04 14:38] leonardoalt commented on #5581
Unfortunately for now you can't receive a `calldata` struct (in an `external` function).

If you are looking for workarounds it's better to ask https://ethereum.stackexchange.com/ or https://gitter.im/ethereum/solidity.

Closing since the requested feature already has an issue: https://github.com/ethereum/solidity/issues/1603

[2018-12-04 14:38] #5581 closed, assigned to nobody

[2018-12-04 14:40] leonardoalt commented on #5581
@aihuawu Maybe one thing that might help is, in Solidity 0.5.1 you can have a non-implemented interface external function that takes a `calldata` struct (which compiles) and override it in your contract with a public function that takes a `memory` struct.

[2018-12-04 16:35] jbeard4 opened #5588 "brew install solidity fails with error "ChecksumMismatchError: SHA256 mismatch""
## Description

Running commands:

[code]

Yields error:

[code]

## Environment

- Operating system: Mac OS X 10.12 Sierra

[2018-12-04 16:45] chriseth commented on #5588
Thanks for reporting! Please try again, it should be fixed now.

[2018-12-04 16:45] #5588 closed, assigned to nobody

[2018-12-04 17:17] gwiily commented on #5893
the same problem in solidity 0.5.1
[code]

[2018-12-04 19:11] sea51930 commented on #5505
@chriseth

_從我的 Desire 830，使用 [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github) 發送。_

[2018-12-04 19:18] haltman-at opened #5590 "Unhelpful error message for abstract contracts"
## Description

Hi, I would suggest that the error message for attempting to compile an abstract contract be improved.  When I attempted to compile a contract I had accidentally made abstract, I got an error message me telling me that the compiled contract was not found; I thought this was a bug in `solc` until I realized I had accidentally made my contract abstract!  An error message explicitly m

[2018-12-05 01:27] ChrisCates commented on #4674
@mihairaulea, let me know if you want to work on it together. Ultimately I think this is more of a long-term project where we would want to do some deep auditing and the initial bounty is just to get the ball rolling and discussion flowing.

[2018-12-05 09:50] erak commented on #5590
@haltman-at Thanks for reporting this! I think we could probably warn about abstract contracts being used in the inheritance hierarchy. We would need to discuss that in more detail, though.

[2018-12-05 10:27] ghost commented on #4891
@vs77bb / @gitcoinbot

[2018-12-05 10:50] #5446 closed, assigned to Marenz

[2018-12-05 11:25] #5465 closed, assigned to ekpyron

[2018-12-05 11:27] ChrisChinchilla commented on #4988
Hey @kcyang @dongsam @PhyrexTsai @mrblocktw @GoodVincentTu @bartkim0426

just checking in to see if all is well, I can see a few commits in the past few weeks in the fork, so looks like progress is happening. Again, any questions or problems, please let me know :)

[2018-12-05 11:32] ChrisChinchilla commented on #4989
Hey @fkysly @zhuangjinxin @hongbinzuo @PhyrexTsai @mrblocktw @GoodVincentTu

Just checking in to see how things are going with the Chinese translation? Would be great if you could tell me the fork so we can add it to the list of translations. Any other questions or problems, let me know.

[2018-12-05 13:13] chriseth commented on #5590
The main problem here is that there is no way to tell whether you actually want to compile the contract or if you just want to define it to be used as base contract. Currently, I only see something like an explict `abstract` keyword as a solution.

[2018-12-05 14:45] ChrisChinchilla commented on #5396
Start when existing docs PRs are all merged (at writing 3) - https://github.com/ethereum/solidity/pulls?q=is%3Aopen+is%3Apr+label%3A"documentation+%3Abook%3A"

[2018-12-05 14:52] leonardoalt commented on #5300
Closed by #5390

[2018-12-05 14:52] #5300 closed, assigned to leonardoalt

[2018-12-05 14:56] leonardoalt opened #5596 "[SMTChecker] Support basic type cast without truncation"

[2018-12-05 15:18] chriseth commented on #5461
Discussion in the team resulted in this being too underspecified and probably not be too useful in the end (does the event have to be emitted in all cases? Can you really not change the arguments? ...). Please re-open with a better specification and examples if you want this implemented.

[2018-12-05 15:18] #5461 closed, assigned to nobody

[2018-12-05 15:21] erak commented on #3230
Remove all private keys from all CI (travis, AppVeyor) or at least switch to a different account.

[2018-12-05 15:30] chriseth commented on #2958
I think it is the job of EIPs to standardize the different implementations and adding this as a type to Solidity is too big a complication.

[2018-12-05 15:30] #2958 closed, assigned to nobody

[2018-12-05 15:45] bshastry opened #5597 "YUL optimizer: Out-of-range exception thrown by VarDeclPropagator"
## Description

The VarDeclPropagator YUL optimization throws a `std::out_of_range` exception for the code below

[code]

The exception is thrown at `libyul/optimiser/VarDeclPropagator.cpp:121`

[code]

- `m_lazyInitializedVarDecls` (maps `YulString` to `TypedName`) at this point is an empty map from which we are trying to index a key called `varName.name`
- This leads to the `'std::out_of_range`

[2018-12-05 16:23] chriseth opened #5598 "Get pull request counter low enough, s.t. the PR list fits into one page."

[2018-12-05 16:29] erak commented on #3879
I've added the first batch of additional messages to https://github.com/ethereum/solidity/pull/5391/. Please feel free to either comment here or on the PR itself, if you want to have more error messages added.

[2018-12-05 16:58] #5384 closed, assigned to Marenz

[2018-12-05 22:35] chriseth opened #5601 "[Yul] Tune Optimizer"
This seems to be nice assembly code to tune the optimizer on: https://github.com/AztecProtocol/AZTEC/blob/master/contracts/AZTEC.sol

The goals here should be:
 - [ ] code compiles (i.e. not too many local variables)
 - [ ] code is more efficient than the hand-written version
 - [ ] code should still be more or less readable

Ways we can tune are the following:
 - the order of the stages in the op

[2018-12-06 02:38] lazaridiscom commented on #5017
follow-up: #5329

[2018-12-06 09:27] #5470 closed, assigned to nobody

[2018-12-06 10:14] corollari opened #5603 "Natspec in example contracts"
## Description

Is there a reason why the example contracts provided in the documentation don't use NatSpec? I mean, has there been a decision to not use NatSpec on these contracts due to it not being a good fit for these cases or the reason is that simply nobody has written the natspec comments?

As these example contracts are used in other places like the remix IDE (See ethereum/remix-ide#1632 f

[2018-12-06 10:55] mzob opened #5604 "Can't install 0.4.18 versions via brew"
I am trying to install solc v0.4.18 through brew on a ubuntu. using
` brew install https://raw.githubusercontent.com/ethereum/homebrew-ethereum/2aea171d7d6901b97d5f1f71bd07dd88ed5dfb42/solidity.rb
`
[Q] How could I overcome this error?
[code]

[2018-12-06 11:14] AlexeyAkhunov commented on #2136
I have written up this: https://ethereum-magicians.org/t/solidity-compiler-magicians-wanted-to-make-create2-usage-easier/2137

Yesterday I made this ERC20 contract (which is supposed to work under State rent when holders pay for storing their tokens): work: https://github.com/ledgerwatch/eth_state/blob/master/erc20/TokenContract.sol

As you can see in the code, Solidity provides ``create2`` assemb

[2018-12-06 12:11] chriseth commented on #5603
Some of them do, but we might just have been too lazy for some. For others, natspec would clutter and distract from the things people should actually focus on. If you want to add natspec to some examples, please feel free to do so!

[2018-12-06 13:19] chriseth commented on #2136
The new2 function you suggest could be rather tricky to implement. What might be easier and could be almost as helpful to you would be something like `Holder.creationCode` and `Holder.runtimeCode` - read-only properties of type `bytes memory`. What do you think?

[2018-12-06 14:34] chriseth opened #5606 "Data stored via codecopy breaks the gas estimator"
If data is stored using codecopy (i.e. a long string), the path gas meter (`solc --gas`) reports infinite gas usage.

[2018-12-06 14:50] AlexeyAkhunov commented on #2136
Yes, that would definitely be helpful. And also the code hash, of course, because it can be computed at compile time

[2018-12-06 15:49] chriseth commented on #4674
Note that this should be a very very simple component for the start. The existing pull request is already way too complicated. I would be more than happy about a peephole optimizer that applies the existing ruleset to change `iszero iszero iszero` to `iszero`.

[2018-12-06 16:00] chriseth opened #5608 "[Yul] Optimizer should take movability of functions into account"
For builtin functions as well as user-defined, the optimizer should determine whether the function is movable and take that into account in the MovableChecker.

Note that if function calls are moved, the function they reference might be out of scope at the target. This means that the function hoister might be a new requirement for all stages that move calls to user-defined functions.

[2018-12-06 17:26] corollari commented on #5603
Thanks! I'll submit a PR adding natspec for some then.

[2018-12-06 17:26] #5603 closed, assigned to nobody

[2018-12-06 22:22] #5290 closed, assigned to ekpyron

[2018-12-06 22:25] haltman-at opened #5609 "Allow assignment of overloaded function pointers to function variables"
## Abstract

Currently, it's impossible to assign an overloaded function to a function variable; the compiler complains that it cannot resolve the identifier.  This should be allowed, with resolution depending on the type of the variable.

(I know there are several issues on here related to overloading already... I think this is a new one, though!  Not sure whether this was a bug or a feature requ

[2018-12-06 23:55] #4034 closed, assigned to nobody

[2018-12-07 14:29] ekpyron commented on #5577
Maybe, more generally, it should be possible to request parsing, analysis and compilation separately via standard json?

[2018-12-07 15:45] ghost opened #5611 "Add warning message for Interface and Abstract contract for bytecode as 0x"
## Abstract
While compiling abstract contracts as well as interfaces, the bytecode is 0. Can you please add warning message as it is sometimes confusing. If I am using truffle, I have no clue that the bytecode in .JSON file is 0x

## Motivation
This will give developer clear idea about the bytecode is going to be 0x for interface and abstract contract

## Specification
None

## Backwards Compatibi

[2018-12-08 02:30] Agusx1211 opened #5612 "Add "unchecked" modifier to disable msg.data length checks"
## Abstract

Solidity 5 introduces a new sanity-check on the msg.data of a function if the msg.data length differs from the defined by the signature the transaction fails. Some mainstream contract implementations perform custom calls without taking into consideration this rule, those implementations are not able to interact with newly compiled Solidity 5 contracts.

Ej: The reference implementatio

[2018-12-08 12:46] anurag-git commented on #5295
@chriseth , I get about state mutability but if function is empty how unused variable warning will come.

[2018-12-10 00:46] 3esmit commented on #526
This affects me in 0.5.1.

[code]

[code]

See example failing to compile built in remix.ethereum.org: https://gist.github.com/3esmit/fce237c187d1f54eacb2c434553b2dd2

While this is not fixed, compilation should fail when one function being overloaded have `payable` modifier, otherwise would not be possible to use the `payable` modifier.

[2018-12-10 01:43] 3esmit commented on #526
As this also affects `.gas`, overloading of functions should not even be supported.

I see that is a hard problem to solve.
I see some possible solutions that don't look nice, but might do it:

- For payable with gas setting: _factory.newChannel(_recipient, _duration)(_amount, _gas);
- For payable with only value: _factory.newChannel(_recipient, _duration)(_amount);
- For non payable: _factory.new

[2018-12-10 01:58] rmshea commented on #4494
hey @vs77bb, looks like this one is ready to be paid out!

[2018-12-10 09:55] #3879 closed, assigned to erak

[2018-12-10 12:35] ekpyron commented on #5372
My findings regarding the issue are the following:

When adding suffices we have to be careful to have correct behavior with suffices supplied in string form, e.g. ``YulString("a_1",0) == YulString("a",1)``. This affects hash computation, parsing of user-supplied identifiers and comparison operations.

The least performance-degrading option that I found for this is to parse the suffix for *all* Yu

[2018-12-10 16:21] leonardoalt opened #5618 "[SMTChecker] Cleanup warnings and expression undefined"

[2018-12-10 16:49] chriseth commented on #5509
This turned out not to be too useful.

[2018-12-10 16:49] #5509 closed, assigned to nobody

[2018-12-10 16:51] chriseth commented on #3334
Actually the above statement is not true. The constructor code is available as code.

[2018-12-10 16:54] chriseth commented on #5540
Implemented in #5589

[2018-12-10 16:54] #5540 closed, assigned to nobody

[2018-12-10 16:56] chriseth commented on #4944
Implemented in https://github.com/ethereum/solidity/pull/5008

[2018-12-10 16:56] #4944 closed, assigned to nobody

[2018-12-10 16:57] chriseth commented on #4113
Has been implemented in #5290

[2018-12-10 16:57] #4113 closed, assigned to nobody

[2018-12-10 17:02] #5551 closed, assigned to nobody

[2018-12-10 18:37] jbeard4 opened #5894 "Installing Solidity Compiler 0.5.1 using homebrew fails with Error 2"
Homebrew installation of solidity 0.5.1 fails when linking solc with error:

[code]

Verbose output is here:

[code]

Thank you for your help with this.

[2018-12-10 18:39] jbeard4 commented on #5894
Log files:

[00.options.out.txt](https://github.com/ethereum/homebrew-ethereum/files/2664422/00.options.out.txt)
[01.cmake.cc.txt](https://github.com/ethereum/homebrew-ethereum/files/2664423/01.cmake.cc.txt)
[01.cmake.txt](https://github.com/ethereum/homebrew-ethereum/files/2664424/01.cmake.txt)
[02.make.cc.txt](https://github.com/ethereum/homebrew-ethereum/files/2664425/02.make.cc.txt)
[02.make.t

[2018-12-11 10:50] #5168 closed, assigned to Marenz

[2018-12-11 12:55] lojikil commented on #4991
@ekpyron I'm with you; may as well add full Hoare logic à la pre- and post-conditions. You could also go with refinement types, but that may be a bit further than the current direction may wish to go.

[2018-12-11 13:02] chriseth opened #5622 "Legacy AST output puts id at wrong place"
The legacy AST output (when used via standard-json) somehow puts an 'id' key next to the 'legacyAST' key instead of inside it.

[2018-12-11 13:30] chriseth commented on #5622
To reproduce:

put the following inside `in.json`:
[code]

And then run `solc --standard-json < in.json`

[2018-12-11 13:35] chriseth opened #5623 "The source list (used by the source mapping) is not present in standard-json."

[2018-12-11 15:08] #5622 closed, assigned to nobody

[2018-12-11 15:08] #5623 closed, assigned to nobody

[2018-12-11 16:50] #4774 closed, assigned to axic

[2018-12-11 17:35] #5263 closed, assigned to nobody

[2018-12-11 17:37] chriseth commented on #5457
To reproduce, run `solc --standard-json < input.json` with the above code stored inside `input.json`.

[2018-12-11 17:43] mihairaulea commented on #4674
@chriseth this is a bit confusing. just saw this. can i work on it? i have updated my notification settings, so i will not miss future conversations.

[2018-12-11 19:20] chriseth commented on #4674
Sure, please go ahead!

[2018-12-11 20:29] naturalbrnchillr commented on #3542
having the problem right now Dec 12 2018
    return ERC20Interface(tokenAddress).transfer(owner, tokens)

[2018-12-11 23:37] #3334 closed, assigned to chriseth

[2018-12-11 23:37] #5510 closed, assigned to nobody

[2018-12-11 23:44] #5255 closed, assigned to christianparpart

[2018-12-12 01:41] BlinkyStitt commented on #4116
Looks like uniswap didn’t know about this.

https://mobile.twitter.com/UniswapExchange/status/1072286775115161611

[2018-12-12 03:15] weijiekoh opened #5627 "Suggestion: sign solc binaries for post-download verification"
It would be great if the binary releases of the Solidity compiler (https://github.com/ethereum/solidity/releases) could be signed with GPG, or at least had their SHA256 checksums published somewhere. This would add a level of assurance and security to developers' smart contract development toolchains.

[2018-12-12 08:07] mrFranklin commented on #5449
https://github.com/ethereum/solidity/issues/5449#issuecomment-440019747
https://github.com/ethereum/solidity/issues/5449#issuecomment-442378730
the reason of the error above: boost-v1.68 is not supported.
see https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=230392

a  solution for this is switch the boost version to another, like this:
`brew switch brew switch boost 1.67.0_1`

[2018-12-12 09:14] leonardoalt commented on #4648
Done in #5476

[2018-12-12 09:14] #4648 closed, assigned to nobody

[2018-12-12 09:15] leonardoalt commented on #3651
- [x] Access to R-d mappings
- [x] Access to R-d arrays

[2018-12-12 09:16] leonardoalt opened #5629 "[SMTChecker] Support multi-dimensional array/mapping assignment"

[2018-12-12 11:40] Marenz commented on #5457
I can't reproduce a crash with the above instructions. I only get an error:

Current `develop` branch:

[code]

commit from when this issue was created:
[code]

[2018-12-12 11:56] ChrisChinchilla commented on #5521
Started looking into these, and they need some polish, and maybe changes in approach to make them truly "getting started". If we take them over, we need to consider a couple of things:

- Who will take them over, especially as they involve other projects in addition to Solidity.
- If we do, I think it's best we split each one out to an example, which needs #5396 first

[2018-12-12 12:05] chriseth commented on #5449
We are only supporting current versions on homebrew, so I'm closing this.
You can compile using either a different version of boost or from the solidity branch `release-0.4`.

[2018-12-12 12:05] #5449 closed, assigned to nobody

[2018-12-12 12:09] chriseth commented on #5627
Thanks for your suggestion! Could you explain the possible attack scenarios a bit more in detail, please? Key distribution is always hard. We might be able to use a blockchain to improve that, and I think there even is an open issue about storing the hashes of the compiler binaries in ENS or something like that. It would only help with a specific binary, but at least you can verify the compilation

[2018-12-12 13:52] #4669 closed, assigned to ekpyron

[2018-12-12 14:29] weijiekoh commented on #5627
No problem. The attack scenarios include:

1) Github gets hacked
2) a solc developer's account or machine gets hacked
3) someone creates a phishing site that looks like the solc download page

... leading to users downloading infected binaries which in turn generate backdoored contracts.

Additional scenarios can be gleaned from projects which have thought through security pretty well, such as Tai

[2018-12-12 16:00] #5295 closed, assigned to nobody

[2018-12-12 16:27] chriseth opened #5640 "[Tests] clean up commandline tests"
The auxiliary files for the commandline tests should all be moved such that we have one directory per test, each containing multiple files. Also, the json and non-json tests could be combined to share the same form.

[2018-12-12 18:32] chriseth opened #5645 "[Yul] Optimizer step that eliminates variable declarations without value"
This task should introduce a step that replaces each variable declaration without value by a variable declaration with value and also modify existing steps so that they do not generate variable declarations without value anymore. If this is the case, then this step can be run once at the start of the optimizer.

This obsoletes the VarDeclPropagator.

We should check how
[code]
is handled by the re

[2018-12-12 19:21] ekpyron opened #5646 "Compatibility with most recent emscripten versions."
https://github.com/ethereum/solidity/pull/4441 works and will bump the emscripten version to ``1.38.8`` - however, due to breaking changes in emscripten that's pretty much how far we can go without more changes to our build system and solc-js.

GOAL:
-------
Being able to compile soljson.js with the most recent emscripten release.

Ideally while maintaining (at least some degree of) backwards comp

[2018-12-12 19:35] guix77 commented on #4199
Just bumped on this problem as well. For now the best workaround is given in https://github.com/ethereum/solidity/issues/4199#issuecomment-393266346, with examples if you look at the ERC20 contracts.

But yeah it would be nice to have this properly solved. It would allow to to test extension1 and extension2 in Truffle without having 2 files for each of them (one "modular" version to be used in fin

[2018-12-12 22:25] fulldecent commented on #4199
Here is the updated test case for latest Solidity

[code]

Error:

Nobody has argued that the compiler's behavior is wrong. And no proposed improvement is on the table. For these reasons I recommend to close the issue and move this question to StackOverflow.

[2018-12-12 23:00] guix77 commented on #4199
I might be totally wrong but I see that state variables follow C3, that functions follow C3, that both can be overwritten in C3 order, but that constructor cannot be written twice and overwritten following C3 order.

It's not a big deal and I agree that this could just be documented. But it might be improved too from the smart contracts developer point of view, just saying. I know nothing about th

[2018-12-13 04:22] lookfirst commented on #5627
It would make me feel better if the follow steps were followed:

1. Publish sha256 hashes of the binaries that are produced during the CI build, so that downloads can be verified.
2. Require that all commits are signed. ![image](https://user-images.githubusercontent.com/85355/49915502-95816680-fec8-11e8-85fc-408d54cb4174.png)
3. Enforce the rules even for administrators.
![image](https://user-imag

[2018-12-13 08:45] chriseth commented on #4660
@ekpyron you said yesterday that this might be closed.

[2018-12-13 08:58] #4902 closed, assigned to leonardoalt

[2018-12-13 09:32] chriseth commented on #4199
@guix77 I would really love a proper solution to this problem in the language, but currently I don't see any. The difference between constructors and state variables and functions with respect to C3 is that constructors have different signatures, so you cannot really call `super(x)`, because the constructor one level up may take a different number of parameters.

[2018-12-13 09:40] ekpyron commented on #4660
@chriseth Not closed - rather postponed for reconsideration in ``0.5.3`` (resp. put in the backlog - actually I'm moving it now).
The idea is that the neither the new PPA builds (nor any other release build I think) so far still *don't* link to shared boost, but still have the default static linking enabled. However, that's actually bad style for the PPAs, so I'd suggest to change that and then we

[2018-12-13 09:43] ekpyron commented on #4660
Changed the scope to also use shared boost in PPA builds.

[2018-12-13 09:45] chriseth commented on #5611
The main problem here is that the compiler does not know if you intend to deploy the contract or just use it as an abstract base contract. This can be solved by requiring the abstract keyword ( #649 ). What do you think?

[2018-12-13 09:48] chriseth commented on #5627
Here it is: https://github.com/ethereum/solidity/issues/628

[2018-12-13 09:51] chriseth commented on #4805
@ekpyron is this still the case?

[2018-12-13 09:52] chriseth commented on #3767
Please reopen if you would like modifications to the current behaviour.

[2018-12-13 09:52] #3767 closed, assigned to nobody

[2018-12-13 10:00] chriseth commented on #276
Closing this since I don't see how it can be implemented without giving too many false positives.

[2018-12-13 10:00] #276 closed, assigned to nobody

[2018-12-13 10:02] chriseth commented on #1320
Closing since the scope of this is way too large.

[2018-12-13 10:02] #1320 closed, assigned to nobody

[2018-12-13 10:03] ekpyron commented on #628
When discussing this we should also discuss the ideas in #5627, although I'm not sure whether we should go for signed git commits.

[2018-12-13 10:06] ekpyron commented on #628
Something like this would be great, but haven't looked into it much, may very well be infeasible: https://wiki.debian.org/ReproducibleBuilds/

[2018-12-13 10:16] chriseth commented on #5611
Closing in favour of #649

[2018-12-13 10:16] #5611 closed, assigned to nobody

[2018-12-13 10:20] chriseth commented on #5612
I don't think this is a good idea. We have to progress instead of keeping unsafe backwards-compatible behaviour. Note that this change was even communicated to the authors of this particular example code ( https://github.com/ethereum/EIPs/pull/881#issuecomment-366208937 ). The problem was that it had a bug that was already present before the change that introduced the padding. I know that I myself

[2018-12-13 10:20] #5612 closed, assigned to nobody

[2018-12-13 10:23] chriseth commented on #2136
The optimizer might take care of improving the hash computation, let's see.

[2018-12-13 10:26] chriseth opened #5647 "Provide access to a contract's creation and runtime code"
Contract types should get new members:

 - creationCode
 - runtimeCode

which are immutable members of  `bytes memory` type that provide access to the contract's creation and runtime code. This is useful for using `create2` in inline assembly.

If the optimizer does not compute `keccak256(C.creationCode)`, we should also provide an accessor for that.

Note that we have to be careful with libraries

[2018-12-13 10:26] chriseth commented on #2136
Created an issue https://github.com/ethereum/solidity/issues/5647

[2018-12-13 10:28] chriseth commented on #5609
I'm sorry, I know this is very useful, but we currently have no place in the language where the type of a right hand side is modified by the type of a left hand side during assignment. Changing that could result in many complications and misunderstandings.

[2018-12-13 11:09] ekpyron commented on #4805
It's not the case anymore, no, but the ``blockhash`` is still disabled for "< constantinople". Since we require newer aleth versions now anyways, we should reenable it. I'll rename this and create a suitable PR that closes this then.

[2018-12-13 11:20] ekpyron commented on #5375
I only had a brief look into the paper, but at a first glance this would probably mean to have an intermediate compilation step to a register based representation? I'm wondering whether one could use some stuff like this: http://compilers.cs.uni-saarland.de/projects/ssara/ - it seems for an SSA representation of a program optimal register allocation is feasible (http://citeseerx.ist.psu.edu/viewdo

[2018-12-13 11:27] ekpyron commented on #4755
I added this to the non-breaking backlog, since the idea was not to consider protocol changes as non-breaking...

[2018-12-13 12:34] Agusx1211 commented on #5612
This may not be the best way to address this kind of issue, but in the last version of Solidity there is no way to implement a retro-compatible ERC165, maybe a different solution should be discussed.

I don't agree with the idea of "avoiding unsafe backwards-compatible behavior", most of the contracts are immutable, and Solidity is a contract-oriented programming language, it should have legacy co

[2018-12-13 12:55] ekpyron opened #5652 "Static linking to Z3 (and CVC4?) in PPAs and test run."
I propose to create a static build of Z3 in our new static PPA repo - with #5376 that could then be used both to create a CI build with statically linked Z3 and as a build dependency PPA for building static release binaries with Z3 support.

[2018-12-13 12:56] ekpyron commented on #5652
Note: static build of Z3:
[code]

[2018-12-13 14:10] chriseth opened #5653 "shared_ptrs in Yul ast should all be unique_ptrs"
This is to prevent two references to the same object from different places, which could result in unexpected behaviour if the object is modified.

[2018-12-13 14:22] alcuadrado opened #5654 "End of life of Solidity 0.4"
## Description

I couldn't find any information about Solidity 0.4 future plans. I'm specially interested about its EOL. I think it's really important to plan libraries' and tooling's migration to 0.5. Has it been defined?

[2018-12-13 14:36] leonardoalt commented on #5654
Hi @alcuadrado , as far as I know 0.4 will not be maintained at all. The idea has always been that everyone moves to 0.5, that's why many changes were available even before the release.

[2018-12-13 14:45] #5654 closed, assigned to nobody

[2018-12-13 14:45] lookfirst commented on #628
Why?

[2018-12-13 14:49] alcuadrado commented on #5654
Thanks for the quick answer @leonardoalt!

Shouldn't this be clearly stated in 0.4 docs? There's this thing

![image](https://user-images.githubusercontent.com/176499/49946062-ee52fe00-fecc-11e8-8772-62d56a4c24b3.png)

but IMO it looks like a generic readthedocs message.

[2018-12-13 14:56] ekpyron commented on #628
From https://git-scm.com/book/en/v2/Git-Tools-Signing-Your-Work:

This wouldn't be a problem for our core team, but we have a lot of external contributions and we probably can't expect all of them to sign their commits. We could look into signing as part of the review process of external contributions (e.g. signing when merging after review), but we'd need to look into how that would affect our wo

[2018-12-13 15:12] chriseth commented on #5612
A contract should either be ready for changes in its environment or it should be short-lived. It should certainly be ready to contain bugs and not expect other contracts to change to adapt to its faulty behaviour.

[2018-12-13 15:15] chriseth commented on #628
Signing merges into release could give the impression that the signer reviewed the full changeset before merging...

[2018-12-13 15:17] lookfirst commented on #628
I am not a fan of making people jump through additional hoops when contributing code, but this is one area that I think would benefit the development community as a whole. Just like signing a CLA is required for a lot of OSS projects, this is just another step in the development process that encourages people to be responsible.

One would hope that anyone wanting to contribute code to solidity wou

[2018-12-13 15:22] lookfirst commented on #628
I am also a little surprised this has been unresolved since 2016. My guess is the initial scope was a bit too large. How about just starting with signing the binaries published on the github releases tab?

[2018-12-13 15:23] chriseth commented on #5627
I think the discussion can continue as part of #628

[2018-12-13 15:23] #5627 closed, assigned to nobody

[2018-12-13 15:33] chriseth commented on #5597
Closing since the var decl propagator is being removed.

[2018-12-13 15:33] #5597 closed, assigned to nobody

[2018-12-13 15:40] chriseth commented on #5375
Yeah that's the point - most research on this topic is based on register machines. Since we use the stack both as expression stack and as local variable storage, it is almost the same, but not quite.

For example, currently, we do not optimize the last usage of a stack item:
`let x := 2 mstore(0, x)` is currently translated to `2 dup1 0 mstore pop` while it could be translated to `2 0 mstore`

or

[2018-12-13 15:45] chriseth commented on #628
I see zero benefit in requiring "random" people to sign their commits - that can be easily faked. It actually has a negative impact because it gives a false impression of security.

You are right, the scope of this initial issue was too large, we should sign the binaries.

[2018-12-13 15:50] lookfirst commented on #628
Why does solidity accept contributions from 'random' people?

[2018-12-13 15:55] chriseth commented on #628
@lookfirst if you would like to have an interactive discussion about this, I would be very happy to talk to you in gitter.im/ethereum/solidity-dev or in one of our weekly calls (Mondays at 12.00 CET and Wednesdays 150.00 CET, conference link announced in the chanel).

[2018-12-13 16:30] #5645 closed, assigned to nobody

[2018-12-13 17:06] haltman-at commented on #5609
I see, oh well. Thank you anyway!  Maybe eventually this will become possible, who knows.

[2018-12-13 17:19] christianparpart commented on #5653
I'd like to take that over, if you agree (I clicked the button a way to eager). should also improve understanding ownership a lot more. :)

[2018-12-13 21:32] charles-cooper opened #5656 "Feature Request: Yul output"
## Motivation
It would be nice to be able to inspect the IR of a program to see exactly what it does with memory(/calldata/storage) instead of digging through the asm and additionally needing to reason about the stack, jumps, etc.

## Specification
Add a command-line option to `solc` analogous to `--bin` or `--asm`, but which outputs Yul IR (one output file per input file) instead of asm or byteco

[2018-12-14 01:40] landedexperts opened #5661 "Which pragma version for compiler 0.5.1+commit.c8a2cb62.Emscripten.clang"
Hi,

I am trying to compile the following SC:
[code]
in JavaScript using the following code:
[code]
in `package.json`, the versioning is `"solc": "^0.5.0"`, but I get the following error:
[code]

So I tried each `<=`, `<`, `>`, `>=` combined with each `0.5.1` and `0.5.0` but the same error shows up.

So which pragma version to use?
My guess is that the error comes from somewhere else, but I have n

[2018-12-14 11:22] miohtama opened #5657 "Feature request: flattened source code output"
## Abstract

``solc`` could generate flattened sol source code in output JSON.

## Motivation

A flattened source code, all includes eliminated and having source in a single file, is needed for source code verification (reproducible builds). The most common venue is EtherScan and public verification.

Currently there are third party tools doing this - see ( https://github.com/BlockCatIO/solidity-f

[2018-12-14 11:35] leonardoalt commented on #5654
No worries @alcuadrado . That message is probably just from readthedocs.
Why should it explicitly say it? Older versions haven't been kept maintained before, why would 0.4?

[2018-12-14 13:35] chriseth commented on #5656
This is of course planned as soon as the IR is in place. Standard-json already has a field for it.

[2018-12-14 13:35] #5656 closed, assigned to nobody

[2018-12-14 13:41] chriseth commented on #5657
Thank you for opening this issue! The fact that etherscan only supports single files as input is a missing feature on their side. Contract source code verification should be done based on standard-json input and not based on flattened files. Note that not all contracts can be compiled in a single file because they might import multiple contracts of the same name or use aliasing during import.

[2018-12-14 13:43] #5609 closed, assigned to nobody

[2018-12-14 14:11] alcuadrado commented on #5654
I think there are a few reasons for users to assume that 0.4 would be maintained for some time:

1. Most mainstream language (a) avoid breaking changes (eg: javascript), or (b) maintain two versions of the language until the EOL of the older one (eg: python, ruby, java). IMO this leads to people expecting one of these release plans unless otherwise stated.

2. The bast majority of code is written

[2018-12-14 18:13] landedexperts commented on #5661
My bad, syntax errors in the Solidity code. Misplaced the semicolon. Sorry for the mistake.

As a remark, can the error messages be improved?

[2018-12-15 14:21] coder6423 opened #5659 "UnimplementedFeatureError when using public structs with ABIEncoderV2 and derived contracts"
I upgraded from 0.4.25 to 0.5 and run into a new UnimplementedFeatureError:

This issue can be resolved by adding "pragma experimental ABIEncoderV2" to all derived contracts.
Minimal Example:

[code]
[code]
[code]

Trying to compile any of the derived contracts, yields the error in 0.5.1. Adding the extra ABIEncoderV2 lines to all derived contracts makes it compile again.

[2018-12-15 17:12] androlo commented on #5659
I've had the exact same issue.

[2018-12-15 18:25] fulldecent opened #5660 "Create JSON schema to describe Ethereum Contract ABI"
https://solidity.readthedocs.io/en/develop/abi-spec.html

This is a Junior Job.

[2018-12-15 20:13] 3esmit commented on #3356
Would be important that the storage slot configuration isn't changed for storing this information, otherwise it could make difficult to use this with delegatecall.

[2018-12-15 23:19] androlo commented on #5640
up for grabs?

[2018-12-15 23:26] guix77 commented on #4199
Hi @chriseth and thanks for the precision ! I guess it's not a big deal at all and I would favour closing this issue, and maybe document it elsewhere (but this issue already documents it a lot).

What I ended up with is just use modular versions without constructors and I use those for inheritance in higher-order contracts, and tests versions in ./contracts/test, which have the constructor.

[code

[2018-12-15 23:26] androlo commented on #5640
how do you feel about adding exit and stdout to the input file and turn into one single json file?

[2018-12-16 04:53] 3esmit commented on #3356
Would be important that the storage slot configuration isn't changed for storing this information, otherwise it could make difficult to use this with delegatecall.

[2018-12-16 05:19] 3esmit commented on #3449
Solidity could propose a convention on use of `delegatecall' for the end use of dynamic inheritance.
I think is a fair use case of solidity, specially if you are writing a contract intended to be a user account contract, which a requirement might be either upgrade-ability or extend-ability.

I agree that this is too high complexity for the compiler, however the design of language should consider t

[2018-12-16 16:44] spalladino commented on #5612
@Agusx1211 as discussed offline, I understand that having a global modifier that allows you to inject code before the function dispatch should be able to solve this. WDYT? See https://github.com/ethereum/solidity/issues/3864.

[2018-12-17 09:50] #5661 closed, assigned to nobody

[2018-12-17 10:39] miohtama commented on #5657
@chriseth Thank you for very insightful feedback.

Regardless if you are transfering a single source file or multiple source files, you need to have a method to extract these source files and bundle them for a verification.

I agree with you, the current flattened method is a poor man's `tar`.

If `standard-json` input is the answer, then we should be able to generate a bundle that contains all `s

[2018-12-17 13:10] chriseth commented on #5653
Sure!

[2018-12-17 13:21] chriseth commented on #5640
@androlo yes, please feel free to work on it! The problem is that we have json tests now that required stdin to be redirected and "regular" tests that work on input files. Combining everything into a single file sounds like a good idea, but then it would be great to have a single script that could auto-fix the expectations.

[2018-12-17 14:22] Agusx1211 commented on #5612
@spalladino Totally, #3864 looks like a good candidate to solve almost any compatibility issue with newer versions of Solidity.

[2018-12-17 14:27] Agusx1211 commented on #3864
Adding to the use cases, this can be used to fix the compatibility issue between the reference implementation of ERC165 and Solidity 5 https://github.com/ethereum/EIPs/pull/1640

It also looks like a useful tool to fix similar bugs on new versions of Solidity.

[2018-12-17 15:47] chriseth commented on #3864
We still need a good proposal for the syntax. Also, we need to discuss how this interacts with the call protection for libraries.

[2018-12-17 16:18] chriseth commented on #5657
@miohtama Actually the solidity compiler already has such a flattener, it provides such a json bundle as you mentioned:
`solc --metadata --metadata-literal` gives you the full standard-json input needed to compile a particular contract.

[2018-12-17 18:44] Zacharius opened #5673 "Documentation issue: enum in interface example"
In the example for Interfaces at https://solidity.readthedocs.io/en/v0.5.1/contracts.html#interfaces an enum is declared along with a version pragma of pragma solidity >=0.4.11 <0.6.0, implying that you could implement enums in interfaces in as early a version as 0.4.11.

Experimentation has shown me that this feature was not implemented until 0.5.0. Furthermore there is nothing in the section abo

[2018-12-17 19:18] chriseth commented on #5673
You are perfectly right! It is in the changelog, but perhaps not in the documentation. Please go ahead and change it!

[2018-12-17 23:54] androlo commented on #5640
I have looked in the script. There are two relevant sections - "general JSON tests" and "standard JSON tests". I could port all of the tests to standard json format and move into folders.

I guess including the json result in the input json file doesn't really make sense since it's just a bash script. i thought maybe it used a test runner that parsed the json files, and i wasn't even aware of the

[2018-12-18 01:16] androlo commented on #5640
Right now I have moved them into folders:

[code]
All json tests has `exit`, `input.json`, and `output.json`.

All regular tests has a contract file named `contracts.json`, and `args`, `output`, `exit`, `err` files depending on need (what was already there).

The script has been updated to work with folders instead of files.

[2018-12-18 02:10] androlo commented on #5640
Also is it ok that I move functions to the top, and put the simpler tests (bad input, stdin, etc.) before the bigger ones that compiles code. Since it exits on failure.

I already did this...

[2018-12-18 10:19] miohtama commented on #5657
Excellent. Will explore this.

[2018-12-18 10:41] chriseth commented on #5640
Good work! I think it would make it easier to add new tests by not requiring standard-json format, because there you need to escape input code and so on, and it is much harder to read.

Do you have each test in its own directory?

Can you make a pull request?

[2018-12-18 12:38] zakalwe commented on #5659
[code]

This code suggests there's a bit more to this.  As written, the code generates the UnimplementedFeatureError.  However, if you uncomment the commented line, it compiles!  Something isn't right!

(tried on several 0.5.xx.xx versions)

[2018-12-18 14:42] Marenz commented on #5402
We couldn't go the full way and do the check only once for all non-payable functions, but we did enhance it so the check is only done once if all functions are non-payable.

[2018-12-18 14:42] #5402 closed, assigned to Marenz

[2018-12-18 14:44] chriseth commented on #3825
Should be fixed now.

[2018-12-18 15:42] #5361 closed, assigned to axic

[2018-12-18 18:13] chriseth opened #5682 "Metadata should not require compilation"
Related: #3437

[2018-12-18 18:14] chriseth commented on #3437
Closing since it seems to be a feature that was not actually requested.

[2018-12-18 18:14] #3437 closed, assigned to nobody

[2018-12-18 18:21] chriseth commented on #5659
@zakalwe if you uncomment `test2`, this will make `B` and `C` abstract and thus no code generation will be requested. The error will be visible again as soon as you implement `test2` in a derived contract.

[2018-12-18 18:39] #5457 closed, assigned to Marenz

[2018-12-18 18:39] #5458 closed, assigned to Marenz

[2018-12-18 19:36] androlo commented on #5640
yes each test is in its own folder, and i can make pr. just wanted to make sure i was on the right track. i'll do it tomorrow.

[2018-12-18 19:51] recmo commented on #5375
The paper and presentation start with a registry based representation. The actual algorithm starts with expression DAGs. I'm not sure what the current internal representation, but expression DAGs are equivalent to SSA when it comes to basic blocks / linear code. They are also a very natural fit for YUL as far as I can tell.

It works by finding an optimal cut-set to turn the expresssion DAG into a

[2018-12-19 08:14] zxhubo opened #5688 "one question about send ether to a address of contract to invoke fallback() function"
this code is:
[code]
the first,I deploy contract Lib,the second I deploy contract Test,and at last I deploy contract Caller. the if I sending ether to contract Test by invoke trans function of contract Caller,because the address is a contract address,it will invoke the fallback() function with payable. Then the fallback() function will invoke test() function of contract Lib by this code `bool b=l.

[2018-12-19 10:21] maxsam4 opened #5690 "[Feature Request] Compile Abstract Functions"
## Abstract
Currently, Every function must have a body and a smart contract cannot be compiled with just function declarations. This means that the ABI generated will contain only explicitly defined functions. However, delegate proxy pattern through fallback function is now being widely used for upgradability and I only see it becoming more and more relevant.

Allowing abstract functions to compil

[2018-12-19 11:38] chriseth commented on #5690
The compiler will already happily output the ABI JSON for abstract contracts. Is this what you request?

[2018-12-19 11:49] chriseth commented on #5601
The current optimizer creates too many variables. Calling `calldataload` multiple times is actually fine because it is even cheaper than a DUP operation.

[2018-12-19 11:51] chriseth opened #5691 "[Yul] Cleaner variable names"
The current output of the optimizer is not really readable.

I think we should
 - [ ] not use the function name as a prefix for new variable names during inlining
 - [ ] remove `_n` suffixes at the end of the optimizer step if names are still unique

At the end, it might even go over all variable names and re-assign the suffixes starting from 1 - this would also increase stability.

### Requiremen

[2018-12-19 11:54] maxsam4 commented on #5690
But they don't compile. I want the same contracts to compile also; as if the abstract functions in them don't exist.

This way the same contract code will be able to be used for deployment and usage, and abstract ABI generation.

[2018-12-19 11:55] chriseth commented on #5690
What exactly do you mean by "compile"? Which output would you like to get?

[2018-12-19 12:00] maxsam4 commented on #5690
Assume a contract is
[code]
It should be compiled to bytecode as if the code was

[code]
The ABI, however, should contain mention of `hello()`.

[2018-12-19 12:02] chriseth commented on #5690
I don't think how this should be possible in general - what do you do if you have a call to `hello()` inside `world`? Also, could you please again explain the use-case? What do you plan to do with the bytecode?

[2018-12-19 12:11] maxsam4 commented on #5690
That should not compile. For bytecode generation, the source code will be like no function without definition was ever declared. It can be removed in pre-processing.

The main usecase is when fallback function of a proxy contract is kind of used as a dispatcher that calls other smart contracts that contain actual logic/function with delegate calls. For the end user, it's like the proxy contract ha

[2018-12-19 12:16] HaoXuan40404 opened #5692 "install_deps.sh in cent OS 7.2 work failed"
## Description

In install_deps.sh, line 59 (sed -n -e 's/^NAME="\?\([^"]*\)"\?$/\1/p' /etc/os-release) will get CentOS Linux instead of CentOS, so it cant match CentOS.
I suggest that in line 355， can modified     "           CentOS)" to "           CentOS*)"

## Environment
CentOS 7.2
- Compiler version:
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
-

[2018-12-19 14:26] #5598 closed, assigned to nobody

[2018-12-19 14:31] #2178 closed, assigned to nobody

[2018-12-19 14:32] #2270 closed, assigned to nobody

[2018-12-19 14:38] ChrisChinchilla commented on #3379
@leonardoalt after a quick search I can't see any more now, unless you can point me to those remaining 3 (possibly 2, as one was fixed in https://github.com/ethereum/solidity/commit/af3e6db038c0ef2ce847537129e19deaec3c906a)

[2018-12-19 14:42] leonardoalt commented on #3379
The different ones that I found:
[code]

[2018-12-19 14:48] axic opened #5695 "Indexed reference types cannot be encoded in events with ABIEncoderV2"
See https://github.com/ethereum/solidity/blob/develop/libsolidity/analysis/TypeChecker.cpp#L525

Note that the old encoder also does not support "indexed" together with *some* reference types.

The specification says the topic of indexed reference types has to be the "Keccak hash of the packed encoded value (see Strict Encoding Mode), rather than the encoded value directly.".

This means that if w

[2018-12-19 15:47] chriseth commented on #5692
Please make the change and create a pull request!

[2018-12-19 16:02] #5505 closed, assigned to nobody

[2018-12-19 17:02] ChrisChinchilla commented on #3379
@leonardoalt I think all of these are intentional if you read the context around them. As far as I can tell, this issue is now resolved.

[2018-12-19 17:11] chriseth commented on #5688
The reason is that `delegatecall` makes the transferred amount visible to the callee (and also available). So the `test()` function fails because it is not payable. Libraries were made to deal with the peculiarities of delegatecall, so you should not use delegatecall with regular contracts.

[2018-12-19 17:11] #5688 closed, assigned to nobody

[2018-12-19 17:19] chriseth commented on #3379
The one in `layout` could be updated, but does not have to.

Furthermore, shouldn't we change all `0.4.99` to `0.5.0`?

[2018-12-19 21:59] coventry opened #5708 "solc.compileStandardWrapper passes mutated strings to its callback"
When I instrument [the callback](https://github.com/smartcontractkit/chainlink/blob/4b35cabb939d7296bbc1aa5a678ca37e1fe953fd/solidity/app/compile.js#L45) used in [this invocation of `compileStandardWrapper`](https://github.com/smartcontractkit/chainlink/blob/4b35cabb939d7296bbc1aa5a678ca37e1fe953fd/solidity/app/compile.js#L30), and use it to run [this test file](https://github.com/smartcontractkit

[2018-12-19 22:33] fulldecent opened #5702 "Recommend to use latest version."
Solidity is released as 0.x software. And I understand this as meaning things will change quickly and old versions will not be supported. This seems to line up with reality.

Please add the statement "you should use the latest released version of Solidity for new projects" in README.md and on the front of the documentation page.

This should be obvious. But I need a reference to cite that as a bes

[2018-12-19 22:37] fulldecent commented on #3864
I don't see how this issue is related to 165.

[2018-12-20 01:56] zxhubo commented on #5688
@chriseth
Ok , you mean if I want to use delegatecall in fallback() function with payable, the test() function must with payable? But, i find it still return false 。
I know the vulnerability of the first attack of parity wallet is that the fallback() function with payable can use delegatcall,the code is
[code]
The hacker trans ether to the conctract and with msg.data,the _`walletLibrary.delegateca

[2018-12-20 06:20] chriseth commented on #5702
I like the motivation :)

[2018-12-20 08:26] chriseth opened #5706 "[Yul] optimizer breaks datasize etc"
`datasize` and `dataoffset` need immediate literal strings that cannot be replaced by variables. The optimizer has to respect that.

The two places where this splitting might happen are the CommonSubexpressionEliminator and the ExpressionSplitter. They might just have a blacklist of functions they cannot enter.

[2018-12-20 09:28] chriseth commented on #5688
If you change `contract lib` to `library lib`, it should work, because the payable check will no longer be there. Note that this voids your (nonexistent) warranty ;)

[2018-12-20 10:03] chriseth commented on #5708
I'm pretty sure this is expected behaviour. It is unrelated to solc-js or callbacks in general and is a property of the internal path system of the Solidity compiler. The `sources` map in https://github.com/smartcontractkit/chainlink/blob/4b35cabb939d7296bbc1aa5a678ca37e1fe953fd/solidity/app/compile.js#L20 sets up full paths for use inside the compiler and `..` is always relative to that path, and

[2018-12-20 12:08] Agusx1211 commented on #3864
@fulldecent To create a legacy implementation of ERC165, compatible with a contract having the big described in there/EIPs#1640 is necessary to disable the msg.data size checks imposed in Solidity 5, this could be performed by returning to the call before the dispatcher

[2018-12-20 12:12] Agusx1211 commented on #5612
@chriseth That's not the case with all the ERC20 contracts, there is a good portion with breaking bugs, nonetheless achieve consensus to migrate to a new contract is hard.

The way I see it, a programming language oriented to Smart contracts should have a primary focus on Security and Legacy compatibility

[2018-12-20 13:21] chriseth commented on #681
I'm not sure how much detail we would like to mention here. We should mention that a return value of zero means "invalid input" and that the ecrecover builtin still has the "high s" issue, i.e. you can take an existing signature and modify both v and s (IIRC) in a certain way, to get a different but equally valid signature.

[2018-12-20 13:22] spalladino commented on #3864
`handleCall`, borrowing naming from [OTP](http://erlang.org/doc/design_principles/gen_server_concepts.html)?

I'd expect this to kick in _after_ the library's call protection. Also, I'd expect to be able to implement a custom call protection on any contract as well.

[2018-12-20 13:48] chriseth opened #5712 "Fix coverage of TypeChecker.cpp"
Go through https://codecov.io/gh/ethereum/solidity/src/develop/libsolidity/analysis/TypeChecker.cpp and remove all the red lines.

[2018-12-20 14:03] fulldecent commented on #3864
Sorry, I am still not 100% getting this. Are you able to please provide a failing test case?

[2018-12-20 15:27] chfast opened #5714 "LLL: Incorrect order of arguments in shift operators"
## Description

The arguments for SHL, SHR, SAR are put in reversed order in the final bytecode.

When you write code like `(SHL 1 2)` it should rather mean `1 << 2` not `2 << 1`. But the output bytecode is `600260011b00`. So the stack has `1` at the top before the `SHL` is executed and in all shift operators in EVM the top stack argument is taken for the shift amount.

This is different from othe

[2018-12-20 15:35] chriseth commented on #5714
Does this also apply to yul?

[2018-12-20 15:36] chriseth commented on #5714
The inline assembly documentation states
[code]
And `x` would be on the stack top in the generated code.

[2018-12-20 15:38] chriseth opened #5715 "[Yul] Test case for switch and inlining"
We should have a test case in the `fullSuite` that shows that the following is properly reduced:
[code]

similar test cases can also be created using `if`, for example.

If this is not properly reduced, we have to extend the structural simplifier.

[2018-12-20 15:40] svenski123 commented on #4894
Gents - any chance of getting this bounty paid out before 2019?
Also, a Merry Christmas / Happy New Year to all of you!
@vs77bb @frankchen07 @chriseth

[2018-12-20 15:43] axic commented on #5714
"Duplicate" of #3141.

Note, `(shl 1 1)` is LLL's notation. Just use `(asm shl 1 1)` to get the assembler. Not sure why tests do not only use the assembler.

[2018-12-20 18:25] vs77bb commented on #4894
@svenski123 Just paid + a kudos for you 🙂sincere apologies for the delay!

[2018-12-20 18:54] chriseth commented on #5647
@axic noted that it should not be breaking and I think I agree :)

[2018-12-21 06:00] gked opened #5719 "Problem building with cmake on Windows 10"
## Description

## Environment

- Compiler version: ### 0.5.3 (unreleased). At least that's what the changelog says
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix): cmake
- EVM execution environment / backend / blockchain client: backend
- Operating system: Windows 10 (17763)

## Steps to Reproduce

I was following these steps on how to build Solidity on Wi

[2018-12-21 11:44] chriseth commented on #5719
Could you please post the full error log of your commandline `cmake` run? Also, which version of visual studio are you using?

[2018-12-21 19:41] agroce commented on #1172
As an alternative, https://github.com/agroce/universalmutator will mutate .sol files, creating source variants, and use solc to check "trivial compiler equivalence" -- that is, any mutants that create equivalent bytecode to the original file, or to each other, are removed so you get a set of valid, different, mutants.  The solidity-specific mutators are limited (but easily extended), but the gener

[2018-12-24 07:33] zhongyinglou opened #5721 "Incorrect type conversion processing in sol compiler may cause solidity compiler crash."
[1_type conversion crash input.zip](https://github.com/ethereum/solidity/files/2706810/1_type.conversion.crash.input.zip)

[code]

[2018-12-24 07:38] zhongyinglou opened #5722 "Internal compiler error during index access to library type"
[2.zip](https://github.com/ethereum/solidity/files/2706816/2.zip)

[code]

[2018-12-26 05:44] trainingmaterialscollection opened #5723 "Issue in comparing token contract address and address(0)"
## Description
I am trying to compare the token contract address with the address(0). This was working fine in older version of truffle and solidity compiler (0.4.24). When I upgraded truffle and started using the latest truffle and compiler version (0.5.0) I am unable to compare the token contract address and address(0).

## Environment

- Compiler version: 0.5.0
- Target EVM version (as per comp

[2018-12-26 07:00] #5723 closed, assigned to nobody

[2018-12-27 13:51] sowmyakannan opened #5724 "Is it possible to remove Solidity compiler version statement"
Hi All,

After upgrading truffle and solc to the latest versions, I upgraded openzeppelin-solidity library too, however contracts now dont compile because truffle 5.0.0 uses solc 0.5.2 whereas openzeppelin-solidity relies on solc version 0.4.24.  Our contracts inherit from these contracts in the library and hence inorder to make our contracts compile we either change the compiler version used by t

[2018-12-28 01:31] startgeek commented on #5724
exacly same problem which drives me crazy these three constantly changing version and nothing is compatible .

[2018-12-28 21:39] lastperson commented on #5375
I guess this is relevant:
[code]

The question is, why the variable (*itShouldStop* in the example) is not removed from the stack on the last read?
The implication is that temporary variables for improved code readability seem to unnecessary pollute the stack. Current workaround is to introduce a pure function instead of the temporary local variable, though readability will suffer already, especia

[2018-12-29 10:03] ethernomad opened #5725 "Storage struct initializer wastes gas"
## Description

In solidity docs it recommends:
`
Initialize storage structs with a single assignment: x = MyStruct({a: 1, b: 2});
`

But this is gas inefficient.

https://medium.com/cryptologic/memory-and-storage-in-solidity-4052c788ca86

https://github.com/mix-blockchain/mix-item-store/commit/ab104b1204517f695cd67d81c2ce035deb25872e

Before:
`
PASS testCreate() (gas: 427787)
`

After:
`
PASS tes

[2018-12-29 10:10] ethernomad commented on #5725
Not using a storage struct initializer saves 504 gas each time itemStore.create is invoked.

[2018-12-29 15:37] vishwaratna opened #5726 "Github Failed to Detect Solidity language in My Project"
I wrote a ethereum Airdropping smart contract and uploaded it on [Github ](https://github.com/vishwaratna/Airdrop_SmartContract) , bt github failed to detect the language of my project.
In screenshot you can see it below.

![screenshot 418](https://user-images.githubusercontent.com/8758168/50539873-a52dca00-0bad-11e9-87e0-192841b0c45a.png)

**How to Fix it??**

[2018-12-31 15:32] flipchan opened #5728 "OpenBSD build"
How do you compile it on openbsd 6.4?
has anyone got this to compile on openbsd?

[2018-12-31 22:34] flipchan commented on #5728
was able to get it running by:
[code]

[2018-12-31 22:35] flipchan commented on #5728
pls add to https://github.com/ethereum/solidity/blob/v0.5.2/docs/installing-solidity.rst

[2019-01-02 13:18] yann300 opened #5730 "Unknow exception during compilation with 0.5.2"
compiling the following code using 0.5.2 gives `Unknow exception during compilation`
[code]

[2019-01-02 13:46] axic commented on #5730
[code]

It seems to be a bug in `SourceLocation`:
[code]

@christianparpart since you've worked on that last, can you have a quick look?

[2019-01-02 14:06] axic commented on #5728
@flipchan would you be interested to open a PR adding it to the documentation?

[2019-01-02 14:08] axic commented on #5692
@HaoXuan40404 do you mean to modify `CentOS)` to `CentOS*)` ?

[2019-01-02 14:12] axic commented on #5604
I am sorry but 0.4.18 isn't a version supported anymore. Please try a more recent 0.4.x release if you absolutely must.

May I ask the reason you want to use 0.4.18?

[2019-01-02 14:13] axic commented on #5475
@ekpyron @chriseth @christianparpart any comments on doing this update?

[2019-01-02 16:13] ChrisChinchilla commented on #3379
@chriseth I guess we should. I shall update and hope that all tests still pass.

[2019-01-02 16:43] ekpyron commented on #5475
@axic In general, we should already be compatible with boost 1.68 - If I recall correctly, there were some minor issues, but they have already been fixed - the archlinux test runs are already testing against boost 1.68 and there are no issues with them that I'd be aware of.
With respect to emscripten I think the next and more important step should be to merge #4441 and after that to consider updat

[2019-01-02 16:55] ekpyron commented on #4612
Since this issue was referenced by @axic recently: in the meantime we solved the PPA build issue for trusty by re-using entirely static binaries built on newer ubuntu versions for the packages for trusty.

So in the meantime we're free to decide to bump basically to any minimum boost version that is available in *some* ubuntu release. Currently the newest option is 1.67 in cosmic. For any older ub

[2019-01-03 02:00] HaoXuan40404 commented on #5692
Yes

[2019-01-03 02:06] #5692 closed, assigned to nobody

[2019-01-03 13:17] JoranHonig opened #5735 "Ignore "File not found" with --ast/--ast-json command"
## Description
I'm working on a tool that does simple operations based on the ast of a single contract. To do this I simply use `solc --json-ast <contract>` which for simple cases is more than fine.
However, when I start looking at more complicated projects, then they depend on other projects.
Running the command on initializer_contracts/contracts/UpgradeabilityProxy.sol from https://github.com/ze

[2019-01-03 13:46] devedse commented on #1686
It seems this was added to the language but I can't find a way on obtaining the messages. Does anyone hasmore information about this?

E.g. see my test contract with source code on the Ropsten node:
https://ropsten.etherscan.io/address/0x8e663a720295c7518fba5ae3d4c4655dca4ddaa0

Last transaction failed but I can't find the message that should be written by it.
https://ropsten.etherscan.io/tx/0x811

[2019-01-03 19:21] christianparpart commented on #5730
If nobody did yet, I am happy to check.

[2019-01-03 22:30] axic commented on #5730
@christianparpart great!

[2019-01-04 03:38] 3esmit commented on #5726
You need a file like this in root of your repo https://github.com/status-im/contracts/blob/bootstrap/.gitattributes

[2019-01-04 08:27] meowent opened #5750 "Unstable compiler error “Unknown exception during compilation” appear"
The online compiler gives unstable error message between the same codes and similar scenario.

Remix keeps throwing "Unknown exception during compilation." when the function is doing multiple dynamic returns( three uint[] dynamic array).

But when I size the returning to TWO dynamic arrays, the issue disappeared. And now I have no any clue about the reason behind it. Have switch different pragma s

[2019-01-04 09:53] yann300 commented on #5750
cc @axic @chriseth

[2019-01-04 10:56] erak commented on #5726
@3esmit Thanks! @vishwaratna I'll close this issue now. Please also consider consulting https://github.com/github/linguist#using-gitattributes for further advice.

[2019-01-04 10:56] #5726 closed, assigned to nobody

[2019-01-05 03:37] aihuawu opened #5737 "storage reference elements in memory array"
Hi,

I want to collect lots of storage reference into a memory array, then I will do
a for loop to modify the storage.  The array should be in memory, but the elements
should be in storage. It requires something like this:
Person storage [] memory ls;

It will not compile. is there any workaround for this?
Thanks.

George Wu

[2019-01-05 14:54] jamesmorgan commented on #1686
@devedse with web3js or at least with the latest truffle (version 5) you can get the revert reason from the exception e.g.

[code]

[2019-01-05 17:11] xinbenlv commented on #1686
Oh so cool!

[2019-01-05 22:28] devedse commented on #1686
@jamesmorgan, I see, I assume however that you can't do this on transactions that have been executed on the blockchain though?

[2019-01-06 12:13] yxliang01 commented on #5577
+1

[2019-01-06 20:28] BlinkyStitt commented on #4116
I realize this is the solidity repo, but does anyone have a way to handle this in Vyper?

[2019-01-07 10:12] ekpyron commented on #5475
I just checked in #5738: it seems that updating to boost 1.68 for the emscripten build works just fine already on circleci (so we don't need to update emscripten first). I have to brush up #5738 a bit to bring it to a mergeable state, but I don't see a reason for not going ahead with this.

[2019-01-07 10:26] xwlin-roy opened #5740 "isolate_tests.py error"
## Description

Hi,
I want to use `isolate_tests.py` to generate testcases, but incountered errors.
The details are below:
scripts:
[code]

error:

  File "../solidity/scripts/isolate_tests.py", line 82, in <module>
    extract_and_write(path, path)
  File "../solidity/scripts/isolate_tests.py", line 73, in extract_and_write
    write_cases(f, cases)
  File "../solidity/scripts/isolate_tests.py",

[2019-01-07 12:58] chriseth commented on #5737
This is currently not supported - you have to use things like inline assembly.
This is actually a duplicate: https://github.com/ethereum/solidity/issues/1010

[2019-01-07 12:58] #5737 closed, assigned to nobody

[2019-01-07 12:59] chriseth commented on #3118
This has been implemented on EVM level now.

[2019-01-07 12:59] #3118 closed, assigned to nobody

[2019-01-07 13:19] chriseth commented on #5724
Because it is very young and we do not want to carry on too much baggage, we are making breaking changes to the compiler. Because of that, users are advised to use these pragmas. You can use pragmas like `pragma Solidity >=0.4.0`, which works for both 0.4.0 and 0.5.0.

In any case, I think this is rather related to how a feature of the compiler is best used and not about the feature itself.

Becau

[2019-01-07 13:19] #5724 closed, assigned to nobody

[2019-01-07 13:22] chriseth commented on #5722
Simplified input to:
[code]

[2019-01-07 13:23] chriseth commented on #5722
This type of index access should of course be disallowed in `TypeChecker::visit(IndexAccess`.

[2019-01-07 13:23] #5310 closed, assigned to chriseth

[2019-01-07 13:31] chriseth commented on #5725
Thanks for the issue! We have to wait for the new optimizer (including #5107 ) to make such initializations gas-neutral. Would you prefer the documentation to be changed until we are there?

[2019-01-07 13:35] chriseth commented on #5475
@ekpyron can this be closed?

[2019-01-07 13:37] #5730 closed, assigned to christianparpart

[2019-01-07 13:37] #5475 closed, assigned to nobody

[2019-01-07 13:39] chriseth commented on #5735
Thanks for the issue, this is an important feature. I think it should be part of #5577

[2019-01-07 13:39] chriseth commented on #5577
The AST should be generated even if there are missing input files (#5735)

[2019-01-07 13:40] chriseth commented on #5735
Please re-open, if you think this deserves to be its own issue.

[2019-01-07 13:40] #5735 closed, assigned to nobody

[2019-01-07 14:08] #5396 closed, assigned to ChrisChinchilla

[2019-01-07 14:10] Amxx commented on #1603
This issue is almost one year old, and is still blocking. It makes it impossible to write interfaces with structs as input. Any idea when we can expect a fix ?

[2019-01-07 14:12] #3379 closed, assigned to nobody

[2019-01-07 14:29] #5640 closed, assigned to nobody

[2019-01-07 14:33] chriseth commented on #1603
@Amxx you can use structs if the implementing function is public instead of external:

[code]

[2019-01-07 15:20] chriseth commented on #5750
Minimal version:
[code]
I was not yet able to reproduce this on the commandline, but I can reliably reproduce it on remix. Might be related to standard-json.

Transferring this issue to the solidity repository.

[2019-01-07 15:25] androolloyd opened #5751 "Stack too deep with external + callcode, compiles fine with public and memory"
## Description

While porting our contracts from solidity 0.4.x -> 0.5.x we ran into a stack too deep issue around external functions

External functions give access to the callcode data directly

Public functions copy variables into memory and then execute them there

It appears that the external functions have less stack space than a regular public function

## Environment

- Truffle: v5.0.1 (co

[2019-01-07 15:29] chriseth commented on #5751
This is indeed the case. `bytes` types in calldata need two stack slots, while they only need a single stack slot in memory. The main reason for that is that `msg.data` is of type `bytes calldata` and it needs an explicit length on stack, even though this might not be needed for other `bytes calldata` types.

Could you clarify the scope of this issue (are you reporting a bug, requesting a feature,

[2019-01-07 15:30] chriseth commented on #5751
Since you mention porting from 0.4.0 to 0.5.0: There is absolutely no need to mark the function external just because of 0.5.0. Interface functions have to be external, but implementing functions can be public.

[2019-01-07 15:33] androolloyd commented on #5751
Hi Chris the intention was to report a bug, but if this is indeed working as intended, some accompanying documentation around this would be great, most of the peers I checked with led me to believe everything should work exactly as before.

Was hoping to take advantage of the gas reduction provided with external functions.

[2019-01-07 15:45] PhABC commented on #5751
I encountered this issue as well, where the following function needs to be set to `public` in 0.5 instead of `external` in 0.4 : https://github.com/horizon-games/multi-token-standard/blob/f5100ef10ff58837f23721a18582f6233d1cfaed/contracts/token/ERC1155.sol#L98

Would there be anyway to distinguish `msg.data` from other types of `bytes` array? I can imagine other people would prefer setting their f

[2019-01-07 15:59] chriseth commented on #5751
calldata arrays have never been fully implemented, but we might change that soon. With the completion of that feature, we might also split the type into two, but that could be quite difficult.

[2019-01-07 16:59] jochem-brouwer commented on #2136
@chriseth Your `bytes memory Holder.runtimeCode` sounds dangerous. It is possible to create contracts which dump different runtime code than what you might expect. This involves using the `return` opcode in the constructor via assembly by hence pushing different bytes to the deployed code than what solidity expects it will deploy.

[2019-01-07 17:03] jochem-brouwer commented on #5647
This is dangerous!

Example:

[code]

This does not dump any code at an address while solidity assumes that the function `a()` can be reached. Hence runtime code is empty, but solidity thinks runtime code is not empty.

[2019-01-07 17:16] chriseth commented on #5647
I agree that this needs to be properly documented, but I would argue that the runtime code of the contract type `Test` is still well-defined and non-empty. Using `C.runtimeCode` has the same pitfalls as calling `a` on a contract of type `C` has. The danger does not lie in `C.runtimeCode`, it lies in not properly understanding the code of a contract that uses inline assembly.

[2019-01-07 17:17] chriseth commented on #2136
Let's not discuss in two different issues -> https://github.com/ethereum/solidity/issues/5647

[2019-01-07 17:18] chriseth commented on #5740
Does it help running it without `..`?

[2019-01-07 18:02] BlinkyStitt commented on #2157
I was just reading the docs (https://solidity.readthedocs.io/en/v0.5.2/using-the-compiler.html) where it suggests using `file://` in the sources section. This leads to `File not found.` (hence this issue).

Since this task is on the backlog, maybe the docs should be updated to remove `file://`?

[2019-01-07 21:34] fulldecent commented on #5702
PR https://github.com/ethereum/solidity/pull/5757

[2019-01-07 22:00] BlinkyStitt opened #5758 "Outputting of ast and bytecode is inconsistent"
I am using solc to compile some external contracts and then pass these files to truffle for my repo in an external compile step.

I have it working, but it requires some workarounds that I don't think should be necessary. Truffle requires both the abi and the bytecode.

[code]

There is no `--bytecode` flag, so I had to switch to using `--standard-json` which allows outputing "evm.bytecode.object"

[2019-01-07 23:07] #5706 closed, assigned to nobody

[2019-01-07 23:15] chriseth commented on #5758
You need an output selector of `""` for the ast.

[2019-01-07 23:15] chriseth commented on #5758
Also, the ``--bytecode`` flag you are looking for is called ``--bin``.

[2019-01-08 01:35] xwlin-roy commented on #5740
I go to the `SolidityEndtoEndTest.cpp` directory to execute `isolate_test.py`.
It succeed.
Thank you for your reply.

[2019-01-08 01:35] #5740 closed, assigned to nobody

[2019-01-08 02:22] BlinkyStitt commented on #5758
When I use `--bin` the file I get is different than the output in bytecode. I can share the diff if that would be helpful.

When I deployed the --bin output, I got an error about being out of gas. Although now that I think about it, I might have forgotten to prefix with "0x"

[2019-01-08 02:30] BlinkyStitt commented on #5758
Oh. I think the output is different because the optimizer runs are different!

[2019-01-08 02:53] BlinkyStitt commented on #5758
Prefixing the output of --bin with "0x" made truffle happy. I'll open an issue with them.

Can you explain why an empty looking selector enables the ast? Is that intentional? It should probably be documented since the docs make it look like "ast" will work.

[2019-01-08 10:51] chriseth commented on #5758
We recently clarified that in the documentation: https://solidity.readthedocs.io/en/develop/using-the-compiler.html#input-description

The reason is that the AST is associated with a source file and not a contract within the source file, so you use `"fileName": { "": ["ast"]}`.

Please tell me if the explanation in the documentation is still insufficient.

[2019-01-08 12:12] JoranHonig commented on #5735
@chriseth No it seems that that issue captures the functionality.
Thanks for getting back to me!

[2019-01-08 14:48] chriseth opened #5762 "[Yul] Simple forwarding functions should always be inlined"
Inline all functions that just call another function without
any processing on the arguments or returns:

[code]

[2019-01-08 14:50] chriseth commented on #5239
Idea to avoid problems with too many local variables:

We could check that after inlining, a function in isolation is compilable.

[2019-01-08 15:09] chriseth opened #5763 "[Yul] Undoing SSA does not properly work for return variables"
The optimizer turns the following code
[code]
into
[code]

[2019-01-08 16:05] gorlitzer commented on #4832
Hi all, i 'm facing the same issue and have to change all the interfaces function visibility to public in order to get the warning instead of compiler error.

[2019-01-08 16:40] chriseth commented on #4832
@gorlitzer this should be fixed in the most recent version of the compiler. Is it still an issue for you in 0.5.2?

[2019-01-08 16:54] BlinkyStitt commented on #5758
Aha. That explains my confusion. I was reading the docs for 0.4.25 to match the compiler I was using and so the docs still had the old information about the AST.

[2019-01-08 21:43] #5758 closed, assigned to nobody

[2019-01-09 09:43] ekpyron opened #5766 "[Yul/EVM] Discussion: memory escalation of local variables."
Problem: only the last 16 stack slots are accessible. Especially since the optimizer may generate new local variables we should be able to deal with situations, in which the accessible stack height  is no longer sufficient for accessing all necessary local variables.
Solution: Escalate local variables to memory, if stack is insufficient.

Concept:

Fixed memory location ``0x80`` contains a pointer

[2019-01-09 09:50] ekpyron commented on #5766
We can extract the management code into helpers - they in fact don't even need any parameters:
[code]

Further always-to-be-inlined setters and getters:
[code]

Yielding:

[code]

[2019-01-09 10:41] fulldecent opened #5767 "Test code in readme"
From https://github.com/ethereum/solidity/pull/5757

Extend the compilation tests in [isolate_tests.py](https://github.com/ethereum/solidity/blob/develop/scripts/isolate_tests.py) to cover [README.md](https://github.com/ethereum/solidity/blob/develop/README.md) -- this will check if it can be compiled with the current version.

[2019-01-09 11:40] ekpyron commented on #5766
We discussed moving the stack optimization logic out of the evm code generation. I think it makes more sense to do proper control flow and life-time analysis for local variables for Yul itself (that may be helpful in general) and then use that information for stack allocation instead (the results should be better than the current optimization during code generation).

[2019-01-09 14:00] ChrisChinchilla commented on #4672
When done, contact repo owner :)

[2019-01-09 14:20] chriseth opened #5773 "[Yul] Expression simplifier not working in specific case"
Why isn't `add(headStart44, value4)` simplified to `value4`?
Especially since we already use the fact that `value4` is zero in the revert call above...

_Originally posted by @chriseth in https://github.com/ethereum/solidity/pull/5764/files_

[2019-01-09 16:12] chriseth commented on #5601
I'm moving this out of the current release. The code there is already rather optimized and we should focus on the ABI instead.

[2019-01-10 10:10] #5762 closed, assigned to nobody

[2019-01-10 10:31] #2340 closed, assigned to ekpyron

[2019-01-10 11:37] axic commented on #5647
@chriseth mentioned contract types already have structs and enums as properties and `runtimeCode`/`creationCode` would conflict with that.

A potential solutions is to consider #1447: `meta(C).runtimeCode`.

`meta` is not a keyword currently and this would mean making this a breaking change. @chriseth suggested to use `type(C)`, I've suggested to use `contract(C)` as an alternative solution.

[2019-01-10 11:40] ekpyron commented on #5647
At the moment I'd actually prefer ``type`` over ``meta`` and ``contract``...

[2019-01-10 11:41] ekpyron commented on #5647
Although I'd make it a method then ``type(C).creationCode()``.

[2019-01-10 12:45] axic commented on #5766
The main problem I find with this approach is that memory locations have a special meaning in Yul now. Perhaps we need to introduce pragmas to Yul which can define certain properties so that the compiler generating Yul can have better control over memory.

As an example:
[code]

[2019-01-10 12:47] ekpyron commented on #5766
We could replace accessing 0x40 with ``allocate`` as already suggested in #5107 and do something similar for 0x80 and 0xA0...

[2019-01-10 12:50] axic commented on #5766
That's true, but still in general since memory pointers do not have a special type/meaning (#3525 proposes that) the compiler generating Yul can do whatever it pleases. Important to keep in mind other users past Solidity.

[2019-01-10 12:52] ekpyron commented on #5766
Yes, I see your point.

[2019-01-10 12:53] chriseth commented on #5766
Yes, this is a problem, we have to add that option to the dialect. It can only be used in Solidity if all inline assembly blocks provide a special option in the string argument to the `assembly` keyword.

[2019-01-10 12:54] axic commented on #5766
We've tried to keep memory hidden from Yul, perhaps the real solution is breaking that assumption and making memory a first class citizen of Yul.

[2019-01-10 12:54] chriseth commented on #5766
One might argue that the ABI encoder / decoder code can always use it, because it already allocates memory that way - even though not all ways to invoke the encoder and decoder do that.

[2019-01-10 12:54] ekpyron commented on #5766
All inline assembly blocks containing ``mstore`` would be sufficient.

[2019-01-10 12:55] chriseth commented on #5766
@axic yep, make (allocatable) memory a first class citizen of Yul -> #5107

[2019-01-10 13:22] axic commented on #1447
An alternate solution to complete templates would be something like Ruby's mixins:
[code]

or

[code]

Basically these are very restricted templates: no template parameters are supported, except that `this` always points to the type including it.

[2019-01-10 13:27] chriseth commented on #1447
Are there any more use-cases for that? Otherwise, I have the impression that it is too complicated and also too restricted at the same time.

[2019-01-10 13:29] axic commented on #1447
The best current solution I think still is this: https://github.com/ethereum/solidity/issues/1447#issuecomment-319238342

I am also wondering what are use cases there are now for mixins vs. templates. It Whether we want any of that complexity.

[2019-01-10 13:31] ekpyron commented on #1447
As a first impression I'm not a fan of the ``mixin`` syntax.
Apart from that:
Why *should* ``type(this)`` always be the type of the containing contract anyways? For that I could use ``type(C)`` (where C is the contract name) just as well... Maybe ``type(this)`` should only be allowed in internal functions and refer to the calling contract in libraries instead? EDIT: or maybe it shouldn't be allowe

[2019-01-10 13:39] ekpyron commented on #1447
Yes, for this particular case, I think that may be the simplest and best solution indeed.

[2019-01-10 15:46] gorlitzer commented on #4832
@chriseth yep, now it' s all right. I was using 0.5.0.

[2019-01-11 13:11] ekpyron opened #5778 "[Yul] Implicit conversions in variants in Yul AST are easily detrimental."
``yul::Statement`` and ``yul::Expression`` are ``boost::variant``s. Therefore they can be implicitly constructed from the variant alternative types. This may be convenient, but in a lot of cases will silently not be what we want.
Consider:
[code]

Now consider you want to use ``Example`` to visit a ``Block``. Naturally you may write:
[code]

This will work and doesn't look suspicious, but it will

[2019-01-12 10:57] yxliang01 commented on #2096
This is very useful! @axic @chriseth How is this going?

[2019-01-12 10:58] yxliang01 commented on #2165
@axic Did you mean being able to convert AST to Solidity source code?

[2019-01-12 13:10] axic commented on #2096
There was a PR, #2500, but it was never finished. It is up for taking.

[2019-01-12 13:10] axic commented on #2165
Yes.

[2019-01-12 13:55] yxliang01 commented on #2096
I see. Thanks for pointing @axic . This looks to be a good effort. However, I don't think I am not familiar with this codebase enough to contribute to this super huge PR... So, wondering whether @djudjuu @ekpyron  will still be contributing to this.

[2019-01-12 21:16] abunsen commented on #232
@chriseth does your comment mean it's now available? If so, what would the syntax be? or where could I find the documentation?

[2019-01-13 14:53] yxliang01 commented on #4959
@liangdzou Would you like to share the name of the paper that you are talking about? Thanks

[2019-01-13 19:03] aiak0s opened #5781 "How Can I Compile My Contract Source Code on Solidity 0.5.2 ."
I would like to compile my solidity source code and get the Bytecode and ABI in my 'output' variable.
This is my compile.js code and it works with Solidity 0.4.17 ;
[code]
But in **Solidity 0.5.2** This " **solc.compile(source, 1).contracts;** " code is not working. I could not find the new syntax of this code.

Thanks for help.

[2019-01-14 04:56] liangdzou commented on #4959
@yxliang01 "Towards Saving Money in Using Smart Contracts"

[2019-01-14 07:12] cbshweta opened #5782 "Build fail while trying to install legacy version of solidity 0.4.25: "Unable to determine commit hash. Either compile from within git repository or supply a file called commit_hash.txt""
I can see that there is a commit_hash.txt under my source directory and it matches with the hash against the binaries available and yet I get the error. How to resolve this error?

[2019-01-14 09:22] ekpyron commented on #5778
A sufficient solution to this might be to delete all copy constructors and copy assignment operators for the Yul AST Nodes. That way the ``boost::variant`` won't be implicitly copy-constructible from its alternatives either, mitigating the issue. If one wants to copy Yul AST nodes, I guess the right way to do it is to use the ``ASTCopier`` anyways, so I think it makes sense if direct copies are di

[2019-01-14 09:26] ekpyron commented on #5778
Related: #5653 and #5694 - using ``unique_ptr``s will already implicitly delete a number of copy-constructors, but it might not be all of them, so it may still make sense to unconditionally explicitly delete all of them (resp. most of them - e.g. for ``Identifier`` copying will still be fine - it may be that in fact all are caught using unique_ptrs, but we should recheck).

[2019-01-14 10:06] ekpyron commented on #5691
If we (re)generate readable variable names at the end of each step anyways, might it make sense, instead of generating actual names in the NameDispenser directly, to have a separate "kind" of names (i.e. "generated" names instead of "user-supplied names") that are just a numeric ID that is globally incremented (maybe together with a YulString hint that's only used *after* the step when generating

[2019-01-14 11:22] chriseth commented on #5781
Please find the documentation here: https://github.com/ethereum/solc-js#example-usage-without-the-import-callback

Please reopen the issue if you have further questions or ask in https://gitter.im/ethereum/solidity

[2019-01-14 11:22] #5781 closed, assigned to nobody

[2019-01-14 11:24] chriseth commented on #5782
Can you explain the individual steps you are taking to compile? Are you using https://github.com/ethereum/solidity/releases/download/v0.4.25/solidity_0.4.25.tar.gz as source?

[2019-01-14 11:25] chriseth commented on #232
No, it is not implemented yet. We used "0.5.1" as a codeword for "after 0.5.0", which grew too large after some time and was renamed to "backlog non-breaking".

[2019-01-14 11:30] chriseth commented on #5778
Sounds good!

[2019-01-14 11:31] chriseth commented on #5691
The main problem I see here is that it has to either be a feature of the AST or a feature of YulString. We tried the second already, not sure if it is worth trying it on the AST...

[2019-01-14 11:33] chriseth commented on #5375
@lastperson be my guest https://github.com/ethereum/solidity/blob/develop/libyul/backends/evm/EVMCodeTransform.cpp#L354 ;)

[2019-01-14 11:35] chriseth commented on #5612
@Agusx1211 isn't the problem that security and legacy compatibility are often conflicting?

[2019-01-14 11:37] ekpyron commented on #5691
Yeah - my point was to consider making it a feature of the AST - I think that should work and in fact work well... but we can skip that discussion for now, resp. decouple it from this issue.

[2019-01-14 11:38] chriseth commented on #5719
Closing for now. Please reopen if you can find the error log.

[2019-01-14 11:38] #5719 closed, assigned to nobody

[2019-01-14 12:11] ekpyron commented on #5763
Similar case without return values:
[code]
is transformed to
[code]

[2019-01-14 12:13] ekpyron commented on #5763
Ideally it would instead be:
[code]

[2019-01-14 12:24] ChrisChinchilla commented on #5728
@flipchan And happy to help you through that PR, but it would be great if you could make a start with it :)

[2019-01-14 13:25] yxliang01 commented on #4959
@liangdzou Thanks a lot! :)

[2019-01-14 15:08] axic commented on #4959
Looked at some of them:
- P1 — {swap(X), swap(X)} → delete, 1 ≤ X ≤ 16

Peephole optimiser has it: `DoubleSwap`.

- P2 — {M consecutive jumpdests} → {jumpdest}, M ≥ 2

Don’t think we have it.

- P3 — {OP, pop} → {pop}, OP ∈ {iszero, not, balance, calldataload, extcodesize, blockhash, mload, sload}
- P4 — {OP, pop} → {pop, pop}, OP ∈ {add, sub, mul, div, sdiv, mod, smod, exp, sigextnd, lt, gt, slt,

[2019-01-14 15:18] axic commented on #4959
In case only of the jumpdests are referenced this is true. What about the case when for some reason there are 4 consecutive jumpdests and all of them are referenced? The references must be first updated to point to the first jumpdest and then the rest can be pruned via the jumpdest remover.

[2019-01-14 15:23] chriseth commented on #4959
I believe the references are updated. Consecutive jumpdests should be eliminated by a combination of the jumpdest remover and the block deduplicator.

[2019-01-14 15:24] axic opened #5791 "Optimisation step: consecutive jumpdest pruner"
#4959 mentioned a potential new optimisation step:

While libevmasm has a step to remove unreferenced `JUMPDEST`s there doesn't seem to be a way to change referenced ones.

A good new step could:
1) search for consecutive `JUMPDEST`s
2) change all the references to the first one

After this step the `UnusedJumpdests` step could prune the ones left.

[2019-01-14 23:01] chriseth commented on #5791
This might already be implemented through the block deduplicator.

[2019-01-14 23:53] cbshweta commented on #5782
Yes, I have downloaded code from above link.
Below are the steps I have done:
cd solidity
./scripts/install_deps.sh
mkdir build
cd build
cmake .. && make
Thats when I get the above error.

I then tried to run -
./scripts/build.sh
But I get the same error again.

![image](https://user-images.githubusercontent.com/24472976/51148839-8723c300-1857-11e9-96c0-fd422a37d9c1.png)

[2019-01-15 02:56] rmshea commented on #4648
hey @vs77bb, looks like this one is ready to be reviewed

[2019-01-15 09:37] ekpyron opened #5792 "[Yul] Switch analysis does not detect duplicate cases for distinct number literals with equal value.."
[code]

Whereas

[code]

Came up in #5776 and it will probably make sense to adjust switch case handling in ``SyntacticallyEqual``, if/when this is fixed.

[2019-01-15 09:49] ekpyron commented on #5792
It might make sense to have a "yul::less" class in Utilities.h or something like that, so that we can define and reuse a linear order on switch cases and literals (alternatively we could clutter the Yul AST Nodes with ``<``-operators, but maybe better to keep those clean and short).

[2019-01-15 12:03] ekpyron commented on #2324
~~- [ ] switch cases~~ I'm editing the description instead.

[2019-01-15 15:57] #5792 closed, assigned to nobody

[2019-01-15 16:02] chriseth commented on #5782
Which version of cmake are you using? Oh and might there be a space in the path to your build directory?

[2019-01-15 17:19] nventuro commented on #5702
Shouldn't this be closed with https://github.com/ethereum/solidity/pull/5757 merged?

[2019-01-15 19:48] chriseth commented on #5702
Ah right, thanks!

[2019-01-15 19:48] #5702 closed, assigned to nobody

[2019-01-15 20:12] chriseth commented on #5647
Implementing as `type(C).creationCode` and `type(C).runtimeCode`. The same restrictions about cyclicity apply as for the `new` operator (cannot access the code of the current contract, etc).

[2019-01-15 20:20] axic commented on #5647
That shouldn't be problem if it uses `codecopy`.

[2019-01-15 20:44] chriseth commented on #5647
@axic I'm going with the same semantics for `new` for now for ease of implementation. If people request this, we can relax it. For now, I have only seen factory contracts and not contracts that can clone themselves.

[2019-01-15 21:07] chriseth commented on #5647
It turns out the optimizer cannot optimize `keccak256(type(C).creationCode)`. Furthermore, it might also be difficult to provide direct access to it, because the hash will only be fixed after assembly.

[2019-01-15 21:26] axic commented on #5647
Right, perhaps if we assume the main user going to be factory contracts, then for the single reason of being able to optimise out the has it makes sense to make that restriction right now.

[2019-01-15 22:44] JamesANZ commented on #683
@PeterBorah wouldn't one need tx.origin if they are delegating on behalf of the caller? at the moment it is not possible to keep the msg.sender for the original caller when using a proxy contract for example.

[2019-01-15 22:48] flipchan commented on #5728
@ChrisChinchilla @axic

Pull request created: https://github.com/ethereum/homestead-guide/pull/465

[2019-01-16 00:31] cbshweta commented on #5782
cmake version 3.13.2
I have now upgraded cmake to 3.13.3 and also removed the space on my build path and have run the above commands again.
The error is now gone so I believe one of the above steps did the trick but it is replaced by another error:
![image](https://user-images.githubusercontent.com/24472976/51217999-64121580-1922-11e9-985e-995cd10c59b8.png)
This one seems to be related to Boost ve

[2019-01-16 09:38] chriseth commented on #5782
It might be that applying the three small changes [here](https://github.com/ethereum/solidity/compare/v0.4.25...release-0.4) could fix the problem. Sorry for the inconvenience!

[2019-01-16 10:49] chriseth commented on #5291
Removing from 0.5.3 because the more involved comparison should be implemented in another release.

[2019-01-16 12:22] leonardoalt opened #5795 "[SMTChecker] Support typecast fully (truncation + padding)"

[2019-01-16 13:19] chriseth commented on #5691
Perhaps to clarify: This issue is about not adding the prefix during inlining and about adding a single optimizer pass that is run at the very end that takes functions as scopes and whenever it finds a variable of the form `<prefix>_<number>`, it renames it to something that is not already taken in the current function and searches the following order: `<prefix>`, `<prefix>_1`, ...

[2019-01-16 14:31] ChrisChinchilla commented on #5728
OK, I'll review there @flipchan and then merge the same content into this repo, I'll need to test it all first too, just to double check everything works, though I'm sure it does :)

[2019-01-16 14:36] chriseth commented on #5424
draft of specification:
 - interface functions are always virtual implicitly
 - functions coming in from different bases are disallowed, unless they override the same function in a shared base
 - public state variables can override external virtual functions, but need to be marked "override", but cannot be marked virtual themselves. (can they be overridden again?)
 - overriding an "override" funct

[2019-01-16 14:42] chriseth commented on #5424
How to handle combinations of overloading and overriding?

[2019-01-16 15:11] ekpyron commented on #3198
Crazy proposal: we could keep everything to ``fallback`` and distinguish the purpose based on the signature instead:
- ``fallback() {}``: called for empty calldata without value - cannot be payable
- ``fallback(uint256 value) payable {}``: called for empty calldata with value - has to be payable
- ``fallback(bytes4 sig) {}``: called for non-matched signature without value - cannot be payable
- ``f

[2019-01-16 15:13] axic commented on #3198
That sounds like a reasonably crazy idea. Not sure I like that I like it :wink:

[2019-01-16 15:17] leonardoalt commented on #3198
I like it too.
But why not omit `uint256 value` and just use `msg.value`? Then `payable` would be the only difference

[2019-01-16 15:18] ekpyron commented on #3198
And then we can skip ``sig`` and just use ``msg.sig`` and close the issue, since that's what we already have :-D.

[2019-01-16 15:20] leonardoalt commented on #3198
Not really, since the functions wouldn't be split then

[2019-01-16 15:23] ekpyron commented on #3198
I wasn't being serious :-). A potential problem in skipping ``value`` is that we usually don't allow the same function to both have a "payable" and a "non-payable" version - but fallbacks could just be an exception there, so maybe not a problem...

[2019-01-16 15:28] ekpyron commented on #3198
The problem is that to be entirely un-ambiguous we need to require the ``value`` argument to always be ``> 0`` (or to always have ``msg.value > 0`` in the ``payable`` case, if we skip the argument). And this problem might be enough to tear the whole idea down, I'm not sure :-).

[2019-01-16 15:28] chriseth commented on #3198
I would prefer to make it more visible that a contract is doing something weird. A contract should not just react on all signatures. If it does, it should be a proxy and have no other functions and people should really know what they are doing. In contrast, a contract that has some functions and can also receive ether is something "regular" and the function that is called when the contract is sent

[2019-01-16 15:30] ekpyron commented on #3198
The presence of a ``fallback(bytes4 sig)`` version (and/or the payable variant) could just not be allowed, if the contract has any other functions (except other fallbacks maybe)...

[2019-01-16 15:34] ekpyron commented on #3198
But yes, I tend to agree that it's probably better to introduce an easily recognizable name for the "receive ether" function - *if* we can come up with a good one, of course.

[2019-01-16 15:40] ekpyron commented on #5424
I tend to make functions that are marked ``override`` not overridable themselves unless they are again explicitly marked ``virtual`` again. Otherwise we need to think about whether we need an additional ``final`` keyword and I think just sticking to "only things *explicitly* marked ``virtual`` can be overriden" is easier and better than doing that... if overriding state variables are allowed to be

[2019-01-16 16:26] #5653 closed, assigned to christianparpart

[2019-01-16 16:41] nventuro commented on #4637
If the whole purpose of the library is to provide methods to the struct, why give a name to both? I like @axic's suggestion of adding functions directly to the struct (and tagging struct members `private` if desired), though we'd then have the problem of importing it: afaik, the only allowed top-level constructs are libraries and contracts.

[2019-01-16 17:17] ekpyron commented on #5424
And I think it makes sense to introduce the keywords themselves in 0.6.0, but to only deprecate omitting them. So in 0.6.0 omitting the keywords would cause warnings, unless you specify e.g. ``pragma legacy;`` or ``pragma ignore deprecated;`` or sth like that and these warnings turn into errors with 0.7.0. That may be a good way to get around the adoption and real-world testing problem and if it w

[2019-01-16 19:24] Ferparishuertas commented on #4832
works!

[2019-01-16 23:31] cbshweta commented on #5782
Thanks a lot Chris! Applying the above three changes solved the problem.

[2019-01-17 06:07] ethernomad commented on #5725
Looks like a note has already been added to the docs.

[2019-01-17 07:41] tharindu1992 opened #5802 "Converting a solidity AST back to solidity Source Code"
Is there a way to convert AST back to Solidity Source code.

The use case is to mutate the AST and recreate the Solidity Source code for optimization and testing purposes.

[2019-01-17 07:52] tharindu1992 commented on #2165
Any update here? I think this is very useful.

[2019-01-17 07:53] tharindu1992 commented on #2165
Any updates? I am trying to do this.

[2019-01-17 09:28] ekpyron opened #5803 "Stable Semantics/End-to-End/IPC Tests"
We currently have a lot of random general IPC errors or gas estimation errors in the semantics tests.

[2019-01-17 11:26] #5782 closed, assigned to nobody

[2019-01-17 12:29] leonardoalt commented on #4715
The same happens without ABIEncoderV2.

[2019-01-17 13:12] leonardoalt opened #5808 "[SMTChecker] Check for overflow/truncation in smaller type conversion"

[2019-01-17 15:55] chriseth opened #5810 "Optimizer rule that removes masking before shift"
This should go into the rule list (`libevmasm/RuleList.h`).

During encoding and decoding, we might do things like
`(x && 0xff) << (256-8)` or similar with right shifts.

The masking is redundant here.

We should add optimizer rules that remove the masking in this case. A similar rule could be added for signextend plus shift.

Furthermore, there should be rules for both shift and multiplication wi

[2019-01-17 17:32] chriseth opened #5813 "[Yul] ABI encoder for uint8 from storage should unroll loop"

[2019-01-17 22:47] #4715 closed, assigned to leonardoalt

[2019-01-17 22:50] #5763 closed, assigned to ekpyron

[2019-01-17 23:16] #5647 closed, assigned to chriseth

[2019-01-18 11:12] axic commented on #2090
With #4441 we've merged in a version which supports outputting wasm.

Alternatively we could use latest clang where wasm isn't experimental anymore and compile with that.

[2019-01-18 11:35] axic commented on #2090
As a side note, could also use https://github.com/wasmx/wasm-chisel/ for additional optimisations after clang/emscripten.

[2019-01-18 14:47] flantony opened #5819 "Compiler errors/warnings should contain an unambiguous error code"
Edited by @chriseth: All errors and warnings should contain a unique error code. This cannot simply be done by looking at the error message, because it is more specific (contains names of types, etc). It should be done based on the position of the error check in the code, although the codes should also be consistent  across versions.

Once this is done, we can easily implement https://github.com/e

[2019-01-18 16:04] axic opened #5821 "Indexed reference types in events with ABIEncoderV2"
The following compiles with the old ABI:
[code]

But fails with ABIEncoderV2 ([found here](https://github.com/ethereum/solidity/pull/5102#issuecomment-424809369)):
[code]

[2019-01-18 16:06] ekpyron commented on #5821
Is that a duplicate of #5695?

[2019-01-18 16:08] axic commented on #5821
Hm, seems like it is :)

[2019-01-18 16:08] #5821 closed, assigned to nobody

[2019-01-18 16:14] axic commented on #3293
After 0.5.0:
[code]

[code]

[2019-01-18 16:16] axic commented on #3293
What is funny, without the ABIEncoderV2 pragma the message is:
[code]

[2019-01-18 16:25] axic commented on #4704
@ChrisChinchilla I think you've started to document this.

[2019-01-18 17:25] ekpyron opened #5823 "Verify that there are no more obsolete boost workarounds in the code."
We have a reimplementation of ``weakly_canonical`` in ``libdevcoce/CommonIO`` for backwards compatibility with boost < 1.60 - but since we now require boost >= 1.65 anyways, we can remove that and use the (superious) boost version directly.

[2019-01-18 18:03] axic commented on #5823
There are at least two more workarounds:
- https://github.com/ethereum/solidity/blob/develop/libsolidity/ast/Types.h#L60
- `boost_multiprecision_number_compare_bug_workaround.hpp` in libdevcore

[2019-01-18 18:05] ekpyron commented on #5823
Extended scope to all boost workarounds.

[2019-01-18 18:07] ekpyron commented on #5823
There will probably be some overlap with the C++17 PR that is definitely to be expected soon :-) - e.g. with C++17 we even have ``std::filesystem::weakly_canonical`` and should prefer that.

[2019-01-18 18:25] nventuro commented on #4678
In https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1162, we've come accross the need to retrieve a contract's constructor bytecode from Solidity itself, as opposed to having it outputted by the compiler. https://github.com/ethereum/solidity/pull/5775 added the ability to get creation and runtime code, but the constructor by itself could be used to craft a call that initializes a new c

[2019-01-18 18:37] axic commented on #5823
I'd prefer to get the boost simplifications merged first.

[2019-01-19 12:45] axic opened #5825 "Examine new Solidity fork called Lity"
See https://github.com/CyberMiles/lity

They seem to have forked off after 0.4.24.

[2019-01-19 12:46] axic commented on #5825
One of the differences:

And they support that via new opcodes: https://github.com/CyberMiles/lity/commit/84d2a1b98c6a24137576883fe27906295d55790d

[2019-01-19 13:42] ekpyron commented on #5823
I'll keep this open for now, since I think there are more workarounds - if anybody double-checks, we can close it, otherwise I'll look into it next month.
EDIT: unassigning the issue since I changed its scope.

[2019-01-19 14:26] ekpyron commented on #5107
I vote for doing this and for prioritizing this!

[2019-01-20 08:27] aihuawu opened #5826 "reduce gas cost for returning big struct list on deployment"
It seems the EVM has a hard gas limit around 6.7M for deployment. So I need to reduce gas.

When I return a big struct list from a contract, it can consume a lot of gas for deployment.
If I have a lot of query functions which return the same kind of struct list, it is obvious they share the
same kind of serialization code for the struct list, is it possible for me to factor those serialization cod

[2019-01-20 08:29] KevinKelley commented on #4648
@ryan-shea @vs77bb  yes, can this be reviewd/closed/bounty decided and paid?  been a while..

[2019-01-21 08:07] ChrisChinchilla commented on #4672
Waiting on final PR merges

[2019-01-21 09:37] chriseth commented on #5802
Currently, there is no way. There is initial work on re-importing an AST, though, which could be of interest: #2096

[2019-01-21 09:46] chriseth commented on #5819
Sounds good!

[2019-01-21 09:53] ChrisChinchilla commented on #4704
@axic Yes I have, this may get closed as part of that, or it might need further expansion. I shall take a look.

[2019-01-21 11:03] #5479 closed, assigned to ekpyron

[2019-01-21 11:24] axic commented on #5802
Duplicate of #2165?

[2019-01-21 11:27] chriseth commented on #5802
I think both issues need to be further clarified :)

[2019-01-21 11:29] chriseth commented on #5826
This should already be the case (at least in ABIEncoderV2, which you need if you return structs). How do the gas requirements grow when you add more functions that return the same type?

[2019-01-21 11:31] axic commented on #5802
Clarified it a bit there, not sure how much more it can be clarified :)

Closing this here.

[2019-01-21 11:31] #5802 closed, assigned to nobody

[2019-01-21 11:35] #5596 closed, assigned to nobody

[2019-01-21 11:51] bshastry opened #5829 "Add libFuzzer (oss-fuzz) CI"
## Abstract

Problem: Issue #5804 introduces libFuzzer test harnesses that are expected to be built by Google's ossfuzz bots. However, a build failure there is perhaps too late.

## Motivation

It would be nice to add/modify a CI job in solidity such that the libFuzzer test harnesses are built alongside and any build errors stall potential PR merges.

By adding libFuzzer specific build steps to a

[2019-01-21 11:57] ChrisChinchilla commented on #5728
@flipchan `cmake` froze for me around 19%, did you experience this at all? This is a verbose screenshot. I am using a VM though, so who knows…

<img width="640" alt="screen shot 2019-01-21 at 13 55 58" src="https://user-images.githubusercontent.com/42080/51473196-5c1ffe80-1d84-11e9-9b57-6edc87505697.png">

[2019-01-21 12:00] axic commented on #5728
@flipchan thank you! However I think that repository is painfully outdated. I actually meant updating https://solidity.readthedocs.io/en/v0.5.2/installing-solidity.html which is the file here https://github.com/ethereum/solidity/blob/develop/docs/installing-solidity.rst

[2019-01-21 13:53] ChrisChinchilla commented on #681
@chriseth I'm also not very sure of the level of detail here. I can find a lot of questions, but I'm also not sure how many still apply. e.g.

https://ethereum.stackexchange.com/questions/15364/ecrecover-from-geth-and-web3-eth-sign

Also because we bump into the issue of Solidity being part of a toolchain again, most of the examples to show how to use `ecrecover` properly use something else alongs

[2019-01-21 14:17] axic opened #5830 "Inconsistency between soljson and solc-js APIs"
With #4441 we have moved on to a newer version of Emscripten which changes the API of the generated file. solc-js was not prepared for this, the change was merged *after* 0.5.0: https://github.com/ethereum/solc-js/commit/714162eb72d9a532b68d8150f6b21ea8deb73bcd

During today's standup we have discussed that it would be foolish to break compatibility between solc-js 0.5.x and solidty 0.5.x, e.g. ev

[2019-01-21 14:20] chriseth commented on #5830
I don't see `module.exports=Module`, you probably mean `module['exports'] = Module`, but that is done rather at the beginning. I would just add `Module.addFunction = Module.Runtime.addFunction` at the very end. Why would that not work?

[2019-01-21 14:22] axic commented on #5830
Depends on the version I guess, how `module.exports` is typed.

True, I suppose `Module` is a map, as long as the code is added after `Module` is declared no browser should complain.

[2019-01-21 14:23] chriseth commented on #5830
Oh and the assignment has to be the other way around: `Module.Runtime = {addFunction: addFunction, removeFunction: removeFunction}`.

[2019-01-21 14:24] axic commented on #5830
Oh, you're correct. One wonders why would they make the API even worse :)

[2019-01-21 17:36] #5190 closed, assigned to nobody

[2019-01-21 22:26] #5830 closed, assigned to chriseth

[2019-01-21 22:57] kuhnchris commented on #4674
Hey there @mihairaulea and @chriseth any progress on this issue in the last month? Need any support from our side or are you good to go, I see the thread is pretty long at this point.
Feel free to contact us if you have any issue from the Gitcoin side of things!

Thanks,
Chris

[2019-01-22 01:37] SilentCicero commented on #1505
Hey all,

I'm trying to impliment this for the Gnosis MultiSend, such that if one of the transactions fails, the MultiSend skips and continues with the next transaction, thoughts?

I suppose I just remove the `revert` line, and that should do it right?

[code]

[2019-01-22 03:11] axic commented on #3158
I suppose but not sure how many languages we want to mix into the repo. C, C++, Python, Javascript are already present :)

[2019-01-22 03:56] aihuawu commented on #5826
Thanks. I see.
So it is refactored out for the common type. I have not done accurate experiments.
There is another similar issue:
I return array of struct which is storage reference, so it will be converted to memory, and then be serialized. I am wondering if the storage to memory is also optimized to save deployment gas.

[2019-01-22 09:26] chriseth opened #5835 "[Yul] optimize function-by-function and check for compilability"
For some code, the compiler cannot generate code after the optimizer has run due to "out of stack". This could be mitigated to some degree by optimizing each function individually until nothing changes anymore (this might also speed up the optimizer) and check each function individually if it compiles after the optimization has been applied. If it does not compile anymore, we revert to the previou

[2019-01-22 09:54] chriseth commented on #5826
As far as I can tell, it should directly encode from storage. Which optimizations would you expect for the storage to memory copy?

[2019-01-22 10:07] chriseth commented on #5750
It seems this has been fixed with the nightly release of 2019-01-08.

[2019-01-22 10:07] #5750 closed, assigned to nobody

[2019-01-22 12:32] axic commented on #4558
Current behaviour - it still exists as a problem:
[code]

[2019-01-22 12:54] bshastry opened #5840 "Fuzz YUL optimizer"
## Abstract

The YUL optimizer needs to be fuzz tested. See also #3638 and #3639

## Motivation

1. Step 1: Write the test harness
2. Step 2: Devise ways to assert optimizer inconsistencies

### Test harness

There are two ways to do this

[Medium effort] Write a libFuzzer test harness that takes a corpus of existing `yul` code that is available in the source repo, and uses random-but-clever-cover

[2019-01-22 13:27] aihuawu commented on #5826
Currently I must split a big contract to a lot of small contracts.
I am not sure if I am doing the right thing. To deploy a contract, it can't go above the 6.7 M gas.

Each contract has some storage, it must make the storage be accessible to other contracts.
So it has to pass memory struct instead of storage struct. I find this is very expensive for the communications between contracts.  I believe

[2019-01-22 13:36] chriseth commented on #5826
Did you try using libraries and passing actual storage pointers?

[2019-01-22 13:38] aihuawu commented on #5826
I really don't know how to do that. You mean I can pass storage pointers between contracts.
That should save me a lot of gas.

[2019-01-22 13:41] aihuawu commented on #5826
Is there a simple example to show me how to access other contract's storage?
It doesn't even compile for public method with storage references.

[2019-01-22 13:50] aihuawu commented on #5826
You mean pass contract storage reference to library? I am doing that. Just the library can't reduce gas for the contract. Maybe I should deploy library separately. It is a good suggestion. I may try that.
Thanks.

[2019-01-22 15:14] axic opened #5844 "ABIEncoderV2 behaviour"
On yesterdays standup we've discussed the ideal behaviour of the ABI encoder, which resulted in the following:
- Decoding inputs should validate and reject if a value is out of range (reject here means to revert)
- Encoding outputs should have a dirty bits cleaning, unless it would be ambiguous for the given type (one such type is enums, which cannot be truncated to be in range unambiguously)

The

[2019-01-22 15:16] #5646 closed, assigned to nobody

[2019-01-22 15:18] chriseth commented on #5844
So the only change (apart from refactoring the Yul code) would be to revert on invalid boolean, integer, bytesXX and address input, right?

[2019-01-22 15:19] axic commented on #5844
I think so.

[2019-01-22 15:21] axic commented on #4759
@chfast can you shed a light if `<LANG>_VISIBILITY_PRESET` works well cmake?

[2019-01-22 15:22] chriseth opened #5845 "[DOC] Better highlight ambigous encoding using abi.encodePacked"
Reported by @elichai

[2019-01-22 15:27] chfast commented on #4759
Never heard of it, but looks promising. Build with make VERBOSE=1 and see the compiler flags.

[2019-01-22 15:37] chriseth opened #5846 "[Build] Remove STATIC from ppa build for develop branch"
It will mess up the release because an archive with the same source will already exist.

As an alternative, we could also rename the develop package.

[2019-01-22 16:42] barakman commented on #3372
@chriseth:

This question is following your suggestion to use `--optimize-runs 5000000` ([above](https://github.com/ethereum/solidity/issues/3372#issuecomment-355247593)).

We are now at a point close to release.

One of the comments that we received in an audit-report was:

Would you be able to say if a solid and thorough verification has been conducted, to ensure that the `optimize-runs` paramet

[2019-01-22 16:59] chriseth commented on #3372
If you have 100% test coverage, I think you should be safe. The tradeoff parameter should only affect constants and literals. If they are compiled incorrectly, you should notice quickly.

[2019-01-22 17:03] barakman commented on #3372
@chriseth:
Thank you for the very quick response.

Can you please explain `The tradeoff parameter should only affect constants and literals`?

I am finding it quite hard to understand.

Assuming that by "tradeoff parameter" you refer to the `optimize-runs` parameter, it makes very little sense to me that the value of this parameter "should only affect constants and literals" (I mean, how exactly w

[2019-01-22 17:37] chriseth commented on #3372
Please read about the parameter here: https://solidity.readthedocs.io/en/v0.5.3/using-the-compiler.html#using-the-commandline-compiler

It does not specify how often to invoke the optimizer - it will always perform as many optimizations until there is no efficiency gain in the binary anymore. It specifies whether you rather want a contract that is expensive to deploy but cheap to invoke or the opp

[2019-01-22 17:57] barakman commented on #3372
@chriseth:

Well, the docs don't really go into details about this one. They just specify the "deployment cost vs runtime cost" tradeoff, but they don't explain how it works "under the hood" (including your notion about the encoding of constants and string literals).

I need something to persuade the auditer (and myself) that this is indeed safe to choose values higher than 200. Would you have a l

[2019-01-23 08:52] barakman commented on #3372
@chriseth :

I am following the code in [ConstantOptimiser.cpp](https://github.com/ethereum/solidity/blob/develop/libevmasm/ConstantOptimiser.cpp).

Would that be sufficient for obtaining a good-enough perspective on the mechanism behind `optimize-runs`?

Side note: your repo is inconsistent in the spelling of 'optimize'; you might want to case-sensitively find/replace `ptimis` with `ptimiz`.

Tha

[2019-01-23 08:59] chriseth commented on #3372
The tradeoff parameter is used in the constant optimizer and the [dispatch routine](https://github.com/ethereum/solidity/blob/develop/libsolidity/codegen/ContractCompiler.cpp#L277). If you have tests that access every constant once and call every function once, you should be pretty safe.

As far as the spelling is concerned, yes, we couldn't yet decide which dialect of English to follow. :)

[2019-01-23 09:35] #5456 closed, assigned to nobody

[2019-01-23 11:05] bshastry commented on #2774
I can confirm this on a linux build. However, when I run Clang SA with a set of non-default checkers enabled (marked `alpha`), the scan throws up bug reports. So far, most of these bug reports seem to be false positives. It is on expected lines because `alpha` checkers are just that.

The good news is that there are no warnings with production checkers :+1:

[2019-01-23 11:08] axic commented on #2774
How do you run it? Coverity website seems to be down for weeks.

[2019-01-23 11:12] bshastry commented on #2774
I ran the clang static analyzer, not Coverity. You are right, the Coverity scan service is down atm

[2019-01-23 13:19] barakman commented on #3372
@chriseth :

Thank you :)

Side question: is it possible that `runs` does not impact the output if larger than 6000 (i.e., the lowest value of `runs` to achieve maximum runtime optimization is 6000)?

I've conducted a research on a large amount of contracts (over 100), and spotted that for `runs=6000` or more, the output binaries are always identical (except for the metadata part, i.e., those 64 b

[2019-01-23 14:55] chriseth commented on #4576
"return" should not take any arguments.

We have a collision between the concept of returning from a function and the return opcode.

Brainstorming for renaming one of them:
 - finish
 - break_function
 - leave
 - exit

[2019-01-23 15:07] bshastry commented on #5840
This is a duplicate, see #3639.

[2019-01-23 15:07] #5840 closed, assigned to nobody

[2019-01-23 15:08] bshastry commented on #3639
## Abstract

The YUL optimizer needs to be fuzz tested. See also #3638 and #3639

## Motivation

1. Step 1: Write the test harness
2. Step 2: Devise ways to assert optimizer inconsistencies

### Test harness

There are two ways to do this

[Medium effort] Write a libFuzzer test harness that takes a corpus of existing `yul` code that is available in the source repo, and uses random-but-clever-cover

[2019-01-23 15:09] #5813 closed, assigned to nobody

[2019-01-23 15:09] chriseth commented on #5813
The encoder is written in a way that does not need this.

[2019-01-23 17:04] ChrisChinchilla opened #5856 "[DOCS] Need comprehensive list of function modifiers"
## Abstract

The docs need a list on one place of all function modifiers, and a summary of what they do, or link to more details.

## Motivation

In PR #5796 we discussed linking to function modifiers section, which doesn't summarise what's possible.

[2019-01-23 17:10] ChrisChinchilla opened #5857 "[DOCS] Ensure warnings, notes etc are in logical orders"
## Description

In my opinion when there are multiple sequences of notes, warnings etc, warnings should appear on top.

[2019-01-23 17:49] ChrisChinchilla opened #5858 "[DOCS] Ensure that all mentions of marking variables public are clear"
## Description

There are multiple references to marking variables as `public` to create setters and getters, this only applies to state variables, but is not clear in some places.

[2019-01-24 09:44] k06a opened #5859 "Solidity 0.5.3 call unexpectedly throws out of gas (OOG)"
## Description

Sending 0 ether to contract B unexpectedly throws OOG when forwarding 0 wei from contract to other contract.

## Environment

- Compiler version: soljson-v0.5.3+commit.10d17f24
- Target EVM version (as per compiler settings): Ropsten network
- Framework/IDE (e.g. Truffle or Remix): Remix

## Steps to Reproduce

1. Deploy contract A (https://ropsten.etherscan.io/address/0x440b2c50c0

[2019-01-24 10:19] k06a commented on #5859
@zumzoom found interesting point: https://ethereum-magicians.org/t/remediations-for-eip-1283-reentrancy-bug/2434/28

[2019-01-24 10:20] k06a commented on #5859
Do anyone knows if `estimateGas` knows about this trick? Seems it does not.

[2019-01-24 10:33] k06a commented on #5859
Final conclusions based on disassembly:
1. EVM adds 2300 gas stipend in case you transferring `> 0 wei`
2. Solidity compiler adds 2300 gas to call in case you transferring `== 0 wei`

[2019-01-24 10:35] #5859 closed, assigned to nobody

[2019-01-24 11:03] chriseth commented on #5856
Note that "function modifier" in the strict sense is just what users can define using `modifier`, although we sometimes also use the name `function modifier` for things like `private` and `external`. Perhaps we should call the built-in ones "qualifiers"?

[2019-01-24 11:08] chriseth commented on #3639
A first MVP could be the following:
 - variable declarations
 - assignments
 - restricted set of built-in functions (EVM opcodes)
 - variable references
 - constants

Variables can only be referenced if they have been defined before. This means the first statement has to be a variable declaration.

The set of opcodes to use could be: add, sub, mul, div, eq, lt, gt, mstore, mload, sstore, sload

[2019-01-24 11:13] chriseth commented on #5859
`estimateGas` ignores external calls because it cannot tell anything about the gas consumption.

[2019-01-24 11:42] chriseth commented on #5826
Closing this for now.

[2019-01-24 11:42] #5826 closed, assigned to nobody

[2019-01-24 12:32] #5846 closed, assigned to nobody

[2019-01-24 12:37] #5725 closed, assigned to nobody

[2019-01-24 12:41] chriseth opened #5861 "[DOCS] Add link to universal mutator in tools section"
https://github.com/agroce/universalmutator - it seems to support solidity specifically.

[2019-01-24 12:41] chriseth commented on #5861
Suggested in https://github.com/ethereum/solidity/issues/1172#issuecomment-449480725

[2019-01-24 16:35] bshastry opened #5863 "Feedback: Solidity "dictionary" to aid fuzz testing"
Fuzz testing benefits a great deal from dictionaries. A dictionary is a newline separated list of tokens that have special meaning for the program under test. The main benefit of having a dictionary is that, every once in a while, the fuzzer is going to pick an existing dictionary token towards mutation instead of coming up with something random.

For `solidity` @jonathanmetzman scraped the docs (

[2019-01-24 16:53] axic commented on #5863
I suggest to read the keywords from `Token.h`.

[2019-01-24 23:09] chriseth commented on #5863
Also note that inside strings, we can have non-ascii characters. Not sure if it makes sense to fuzz that, though.

[2019-01-25 02:02] axic opened #5866 "Empty import statement crashes (ossfuzz#12670)"
Found by ossfuzz (12670)

[code]

Causes an internal error when used via standard json **without** a read callback.

[code]

[2019-01-25 02:13] axic opened #5868 "Build solc with asan for testing on CI"
Goal is to detected memory leaks in the current test cases.

[2019-01-25 02:25] axic opened #5869 "Integer overflow in jsoncpp parsing numbers"
Found by ossfuzz (12672).

[code]

Apparently this was also found by upstream and fixed there: https://github.com/open-source-parsers/jsoncpp/pull/856

However, there's no upstream release yet.

[2019-01-28 10:54] axic opened #5875 "SMT crash with fixed size array state variable"
Found by ossfuzz (12680)

[code]

[code]

[2019-01-28 11:06] axic opened #5877 "Gas estimator takes a long time on large arrays"
Found by ossfuzz (12703)

Running `solc --gas` takes >30seconds on my machine.

[clusterfuzz-testcase-minimized-solc_noopt_ossfuzz-5745659351662592.txt](https://github.com/ethereum/solidity/files/2802613/clusterfuzz-testcase-minimized-solc_noopt_ossfuzz-5745659351662592.txt)

[2019-01-28 11:35] ChrisChinchilla commented on #3850
OK, we discussed this in a retro, so prioritising this one for me to do :)

Also want to highlight issues people can work on and make process as simple as possible.

[2019-01-28 11:48] axic commented on #5810
This can easily be implemented in the RuleList if targeting Constantinople because `SHL` exists as an opcode. Should be also possible to have a rule with `MUL`.

[2019-01-28 13:20] bshastry opened #5880 "Memory leak of 2704 bytes across 33 allocation sites"
## Description

(Found by ossfuzz issue number 12671)

While processing the following Soldity contract, the Solidity compiler leaks 2704 bytes of memory across 33 allocation sites

[code]

## Environment

- Compiler version: Latest develop commit
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environment / backend / blockchain clie

[2019-01-28 13:36] bshastry opened #5882 "Memory leak of 464 bytes leaked in 7 allocation sites."
## Description

(Found by ossfuzz: issue number 12673)

While processing the following Soldity contract, the Solidity compiler leaks 464 bytes of memory across 7 allocation sites

[code]

## Environment

- Compiler version: Latest develop commit
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environment / backend / blockchain clien

[2019-01-28 13:50] #5773 closed, assigned to nobody

[2019-01-28 14:07] #5866 closed, assigned to nobody

[2019-01-28 15:42] bshastry commented on #5863
thank you. Here's the list I created from there. It feels like all the building blocks are there, but I'm wondering if we should help the fuzzer a little by putting a few snippets together.

"^"
"~"
"<<="
"<<"
"<="
"<"
"=="
"=>"
"="
">="
">>="
">>>="
">>>"
">>"
">"
"|="
"||"
"|"
"-="
"--"
"-"
","
";"
":"
"!="
"!"
"?"
"/="
"/"
"."
""
"("
")"
"["
"]"
"{"
"}"
"*="
"*"
"**"
"&="
"&"
"&&"
"%="
"%"
"+="

[2019-01-28 15:47] bshastry commented on #5863
@chriseth could you please provide an example of a non-ascii token just so we are on the same page. I'm guessing something like `<<` would qualify as one?

[2019-01-28 15:54] jonathanmetzman commented on #5863
...

FYI there are some differences between the original tokens and these, worth pointing out:

1. The originals had spaces around certain tokens that need to be followed by a space. This makes it more likely that an insertion of the token results in an accepted parse.
2. Instead of saying "ufixedMxN", the original tokens had some examples of what "M" and "N" could be, I think this is more likely

[2019-01-28 15:57] axic commented on #5863
Some of these aren't actual keywords.

[2019-01-28 16:28] come-maiz opened #5889 "The solc snap fails to build on xenial"
## Description

Since building the solidity snap requires boost 1.65 (see #4612), the build started to fail (see https://launchpad.net/~elopio/+snap/solc-candidate/+build/438885).

There are multiple solutions, but I think the best would be to build the snap on bionic, which has boost 1.65 and should just work (tm). I am giving this a try right now.

[2019-01-28 17:31] axic commented on #5880
Are you sure this log is for the issue 12671?

Ossfuzz has the following trace:
[code]

[2019-01-29 00:27] thegostep commented on #4704
@ChrisChinchilla

Is the concatenated data created by abi.encode equivalent to RLP encoding?

I've previously used this library for RLP decoding: https://github.com/hamdiallam/Solidity-RLP

Also wondering if there are more efficient encoding / decoding methods out there for the purpose of concatenation.

[2019-01-29 00:49] arnigudj commented on #5893
Same here, did you figure this out?

[2019-01-29 02:29] come-maiz commented on #5889
It worked: https://launchpad.net/~elopio/+snap/solidity/+build/444690

@chriseth you will continue to see failures on build.snapcraft.io though, because that UI only allows to build on xenial. You can disable it until they support bionic, and in the meantime we use launchpad to build and release.

Another important thing is that we missed a beat, 0.5.3 didn't get into the snap store. We should lea

[2019-01-29 02:29] #5889 closed, assigned to nobody

[2019-01-29 10:42] axic commented on #5889
Can you still push it?

[2019-01-29 14:57] thec00n opened #5896 "Compact AST not available for option --combined-json"
## Abstract

The compact AST can be generated by running `solc` with the option `--ast-compact-json`. It is currently not possible to include the compact AST in the combined JSON along with other elements from the outputSelection. Only the legacy AST is available e.g. `solc  --pretty-json --combined-json ast foo.sol`

## Specification

For the `--combined-json` option change the attribute `ast` to

[2019-01-29 15:13] bshastry commented on #5880
I'm pretty sure. The thing is leak in each allocation site has it's own stack trace so there should be 33 of them. I just copy pasted a portion of the top stack-trace :)

[2019-01-29 15:17] axic commented on #5880
The useful stack trace is the one from ossfuzz, though. It shows the code where the leak is created.

[2019-01-29 15:26] axic commented on #5056
This test case found by ossfuzz (12767) found this example:
[code]

[2019-01-29 15:29] axic commented on #5566
Can you post the simplified token code here?

[2019-01-29 15:54] axic opened #5898 "Large StandardCompiler (AST JSON) output cannot be parsed by jsoncpp"
Found by ossfuzz (12705).

[code]

The negation operator results in a large nested object in the AST JSON output, which makes jsoncpp to run out of stack depth parsing:
[code]

This happens in solfuzz only where the compilation output is parsed into JSON.

[2019-01-29 15:59] axic commented on #5898
The stack depth is 1000 by default in jsoncpp. Apparently PHP has it as 512, some other parsers at 64, but the standard doesn't specify a hard limit. Browsers do tend to have no limit apart from aborting the thread due to OOM.

This raises the question: should we consider severely nested output as a problem? Should we think about improving the AST JSON format?

[2019-01-29 16:09] bshastry commented on #5880
iirc there are 33 allocation sites where memory is leaked. My hunch is that each one needs to be fixed separately. Let me report back when I have an update to share on this.

[2019-01-29 16:21] axic commented on #5880
I'm not sure where you take the number 33, because the report 12671 has no mention of it. Also as far as I can tell without meticulously going through all the stack traces, the majority of it is traced back to the same piece of code mentioned above.

[2019-01-29 16:39] axic commented on #3639
There is an initial version of this in #3846.

[2019-01-29 16:40] axic opened #5900 "Add fuzzer for assembly (Yul and Assembly)"
Should support both Yul and Assembly through `interface/AssemblyStack`.

Could also support EVM vs. EVM15 outputs, though that is less important now.

This should also be submitted to ossfuzz.

[2019-01-29 16:45] axic commented on #5708
@coventry what do you think of @chriseth's answer?

[2019-01-29 16:48] axic commented on #5657
Well to be clear it doesn't give the standard-json input, but an output which can be easily translated into one.

[2019-01-29 16:49] leonardoalt commented on #5566
At some point I had a PR adding it as an SMTChecker test but since it has division I closed it. Will post it here as a comment.

[2019-01-29 16:50] axic commented on #5604
@mzob closing this dude to inactivity.

[2019-01-29 16:50] #5604 closed, assigned to nobody

[2019-01-29 16:52] axic commented on #5422
Zeppelin has done it with 2.1: https://github.com/OpenZeppelin/openzeppelin-solidity/releases/tag/v2.1.1

[2019-01-29 16:52] #5422 closed, assigned to nobody

[2019-01-29 17:03] axic commented on #3787
Would be useful for #5868 to import the `SANITIZE` feature set from `CompilerSettings`.

@chfast how much effort would it be to integrate?

(Note I have a branch `asan-clang` which tries to run ASAN on Solidity).

[2019-01-29 17:04] axic commented on #3787
It is possible to use "git subtrees" (used in evmc) which practically creates a commit with the entire imported tree, but keeps the commit hash in the log so the tool can track it with upstream ([an example commit](https://github.com/ethereum/evmc/commit/e60d8604af0b40a39db2d7b386df8177a2994e7f)). It would still be self contained aka no submodules.

[2019-01-29 20:24] axic commented on #3825
Running aleth 1.5.2 and it still happens:
[code]

[code]

[2019-01-29 20:31] axic commented on #3825
Now after 4-6 connections attempts aleth just quits.

This leads me to believe it closes because the unix socket has shut down abruptly:
[code]

[2019-01-30 01:00] come-maiz commented on #5889
Yes, I can take the 0.5.3 tag, patch the snapcraft.yaml, build and push it manually. I'm not so comfortable with the patching part. I'm not sure how reproducible the build is so I don't know if people will be able to verify it.

[2019-01-30 01:43] axic commented on #5219
I'm closing this as libyul doesn't have a public API yet, so it cannot be considered fully independent. The closest to public API is in `libsolidity/interface/AssemblyStack`.

[2019-01-30 01:43] #5219 closed, assigned to christianparpart

[2019-01-30 01:44] #5212 closed, assigned to nobody

[2019-01-30 01:44] axic commented on #5143
I think this was fixed? Please reopen if not.

[2019-01-30 01:46] axic commented on #4806
@ChrisChinchilla this is a documentation task 😉

[2019-01-30 01:48] axic commented on #4490
@chriseth what's the status of this?

[2019-01-30 01:50] axic commented on #4105
@christianparpart I think you did these?

[2019-01-30 01:51] axic commented on #4024
@chriseth have you checked this by any chance?

[2019-01-30 03:02] rmshea commented on #4648
@KevinKelley on it ! will get paid by EOW

[2019-01-30 03:10] 3esmit opened #5902 "[DOCS] abi.encode/decode are not well documented"
It seems to be available since solidity 0.5.x, as linked in https://github.com/ethereum/solidity/pull/4390 but I couldn't find any documentation. I figured out it should be used like this
`abi.decode(data, (T1, T2, ...., Tn))` by reading some comments on https://github.com/ethereum/solidity/issues/3876

As it's not documented, it's also unclear if this feature is "stable" for "production".

abi.en

[2019-01-30 03:58] khaihkd opened #5906 "Cannot verify smart contract with new version"
My contract is build on old `solidity` version (0.4.21), when I upgrage `solc` to latest version. I cannot verify it.

Contract
[code]

verify code
[code]

And error response
[code]

[2019-01-30 04:27] KevinKelley commented on #4648
@ryan-shea good to hear, thanks!

[2019-01-30 08:57] sunriseup opened #5903 "SMTCheck throw exception"
## Description

I ran solc with Z3 and CVC4 installed on some contracts including the rubixi contract(in myth_solidity_examples ),

    solc rubixi.sol
returns:

    Internal compiler error during compilation:
    solidity/libsolidity/formal/SMTChecker.cpp(1240): Throw in function void dev::solidity::SMTChecker::mergeVariables(const std::vector<const dev::solidity::VariableDeclaration*>&, const de

[2019-01-30 09:07] chriseth commented on #3787
Could you explain why cable would help with sanitize? DId `cmake -DSANITIZE=...` stop working?

[2019-01-30 09:08] chriseth commented on #5219
I don't think it needs a public (read: stable) API to be an independent library.

[2019-01-30 09:09] chriseth commented on #5143
The reports are still not useful (the deltas are wrong).

[2019-01-30 09:09] chriseth commented on #4490
I thought we decided to implement that with 0.5.4 instead of disallowing.

[2019-01-30 09:10] chriseth commented on #4024
No, sorry.

[2019-01-30 09:13] chriseth commented on #5902
@3esmit the "documentation" for all those functions can be found [here](https://solidity.readthedocs.io/en/v0.5.3/miscellaneous.html#global-variables) not sure if it is extensive enough. We should probably at least mention that `abi.decode` reverts if the input data is invalid.

[2019-01-30 09:41] chriseth commented on #5898
We have a max recursion of [2560 elements](https://github.com/ethereum/solidity/blob/develop/liblangutil/ParserBase.cpp#L91). We could reduce that, but I would not think of this as a problem. Let's not optimize the compiler for weird input unless it poses a security risk.

[2019-01-30 09:42] chriseth commented on #5896
The combined json is considered deprecated (though undocumented, sorry) in favour of standard-json. Are you relying on it heavily?

[2019-01-30 09:44] chriseth commented on #5880
Hunch: This might be due to our mis-use of creating types without make_shared.

[2019-01-30 10:12] thec00n commented on #5896
We use it to generate test cases for the [SWC-registry](https://github.com/SmartContractSecurity/SWC-registry) e.g. `solc --pretty-json --combined-json ast,bin,bin-runtime,srcmap,srcmap-runtime foo.sol >foo.json` so a security analysis tool does not have to compile the test cases and can access AST/bytecode etc. Is there another way to do this with solc?

[2019-01-30 10:19] chriseth commented on #4821
What is still missing here is actually disallowing everything that was not part of abi encoder v1 in `abi.encodePacked` (but not in event parameters). As far as I can tell, this includes:
 - structs
 - nested dynamic arrays
 - maybe nested static arrays

[2019-01-30 10:29] chriseth commented on #5896
solc supports standard-json. It is a little less convenient for the commandline but should be easy to use (perhaps easier?) in automated tools.

[2019-01-30 10:52] axic commented on #5219
Making it into a static library only really makes a difference if it has a public API. It is already a separate library in the build system, with its dependencies duly listed.

[2019-01-30 10:54] axic commented on #5898
This isn't about our parser, but JSON parsing.

[2019-01-30 11:25] thec00n commented on #5896
In this case it be used from the command line. Looking at the Input and Output JSON Description from Solidity we can just create a small wrapper, so it's just as convenient if not more :) I am ok if we close the issue, thanks for the clarification.

[2019-01-30 11:29] chriseth commented on #1219
Wohoo!

[2019-01-30 11:29] #1219 closed, assigned to ChrisChinchilla

[2019-01-30 12:21] axic commented on #5906
Just follow the message from the compiler:

Replace the `pragma solidity ^0.4.21` with something matching your compiler. See https://solidity.readthedocs.io/en/v0.5.3/layout-of-source-files.html?highlight=pragma%20solidity#version-pragma

[2019-01-30 12:21] #5906 closed, assigned to nobody

[2019-01-30 15:01] bshastry commented on #5880
The reports can be better formatted, the number 33 is right at the bottom of the ASan report on the line that begins with the string "SUMMARY". It reads

[2019-01-30 15:38] bshastry commented on #5880
I made some progress in finding out the source of the leaks. There seem to be the following buckets of leaks

All but one leaks are in `libsolidity/ast/Types.cpp`, the exception being `libsolidity/analysis/ReferencesResolver.cpp.`

[2019-01-30 15:59] kyriediculous commented on #4552
This has always been defined in the called contract through its fallback or the functions being called.

Defining this on the address type itself is bad language design.

[2019-01-30 16:05] kyriediculous commented on #4552
This has always been defined in the called contract through its fallback or the functions being called.

Defining this on the address type itself is bad language design, as the modifier can be incorrectly implemented on the caller contract anyway, rendering it useless and only cumbersome to deal with when migrating from 0.4.x to 0.5.x .

The fact that it actually threw before you had to typecast i

[2019-01-30 17:17] bshastry commented on #5868
@axic What needs to be done to get the CI running? Is there an example of a previous CI configuration PR that one could use?

Also, what do you think about having additional CIs for UBSan and MSan to detect undefined behaviors and memory initialization errors?

[2019-01-30 18:01] khaihkd commented on #5906
No, I think it is very bad I am implementing a block explorer. So, I cannot switch `solidity` version. Because, smart contract is not my.

[2019-01-30 18:10] axic commented on #5906
I'm not fully sure what you want to accomplish, but you can always download an older version of the compiler and use that.

[2019-01-30 21:42] axic commented on #1219
Can we remove the chapter?

[2019-01-31 08:01] akira-19 opened #5908 "Document translation in Japanese?"
Is there any ongoing translation plans in Japanese?
If not, I'd like to help that.

[2019-01-31 10:11] khaihkd commented on #5906
it is possible. Because the users can use any solidity version to deploy smart contract. I cannot control about that. This is a big problem

[2019-01-31 10:27] bshastry commented on #5880
One pattern of leaks is the leak of objects with shared_ptr references.

I wonder if this is due to some kind of circular refs like, object `A` holds a shared_ptr of `B` and vice versa so that when `A` and `B` are eventually destroyed, the shared_ptr ref counting does not go to zero due to there being a cycle, and the objects are leaked.

[2019-01-31 11:32] ChrisChinchilla commented on #1219
@axic The chapter? You mean the page?

[2019-01-31 12:21] chriseth commented on #5906
@khaihkd we provide all versions of solidity for the emscripten platform. If you want to re-compile a smart contract to source-verify it, you need to use the exact same version of the compiler, there is no way around that. You have to be able to switch the version.

[2019-01-31 12:25] chriseth commented on #5880
Since this is all inside `Types.cpp`, it might be because of invalid calls to `shared_from_this`. The standard says that this will lead to an exception starting from C++17 (undefined behaviour until). Perhaps we could compile with C++17 to check?

[2019-01-31 12:33] chriseth commented on #4704
@thegostep the Solidity compiler does not implement any RLP functionality.

[2019-01-31 12:35] chriseth commented on #5898
@axic I know, but the recursion limit of the parser translates into a "nestedness" limit of the AST json.

[2019-01-31 12:38] axic commented on #5898
Without us changing the AST JSON format that is correct.

[2019-01-31 12:39] chriseth commented on #5898
Note that recursive structures can be parsed without stack exhaustion if you just don't use a recursive parser. So I would rather say this is a bug / missing feature in jsoncpp.

[2019-01-31 12:41] axic commented on #5898
Well [as mentioned](https://github.com/ethereum/solidity/issues/5898#issuecomment-458595677) it is not only a limitation of jsoncpp.

[2019-01-31 12:45] axic commented on #5880
Tried compiling with C++17 and `libsolidity/ast/*` finished without any warnings.

[2019-01-31 12:50] chriseth commented on #5880
Did you run tests (not sure what "libsolidity/ast/* finished without any warnings" means)? It will only be detected at runtime.

[2019-01-31 12:51] 3esmit commented on #5902
Oh, indeed is there! Interesting that I used the search in docs website and it don't finds it!
https://solidity.readthedocs.io/en/v0.5.3/search.html?q=decode&check_keywords=yes&area=default

[2019-01-31 12:52] axic commented on #5880
My message said "compiling". You didn't mention it is a runtime check, some other code won't compile with C++17 without changes, but the `ast` directory does.

[2019-01-31 12:52] chriseth commented on #5880
ok, thanks!

[2019-01-31 13:07] axic commented on #5880
Managed to compile, running tests.

[2019-01-31 13:13] axic commented on #5880
Shows no runtime errors.

[2019-01-31 13:48] axic commented on #1658
To support yul optimisations steps some options were proposed today:
[code]

[code]

where `yulOptions` could be a string `cse,ssa,join,inline(weight:8)`

[2019-01-31 13:49] chriseth commented on #1658
All options should allow some "default" settings.

[2019-01-31 13:51] bshastry commented on #5880
One more thing. Leak sanitizer (LSan) tells us that all the reported leaks are `indirect`. Here is the documentation regarding direct and indirect leaks from the LSan page:

This definition is not entirely clear to me, so I consulted the Dr. Memory (another memory error detector; NOT LSan). Here's how Dr. Memory defines direct and indirect leaks

Taken these definitions into consideration, I'm won

[2019-01-31 13:57] axic opened #5913 "Use C++17"
I thought @christianparpart had an issue for this already.

[2019-01-31 13:58] axic commented on #5913
Unfortunately it seems that CVC4 (at least the one using on CircleCI) is not C++17 compatible:
[code]

[2019-01-31 14:05] axic commented on #3787
Oh you're correct we do have that, missed when looking for it. Just less sophisticated then the one in cable 😉

[2019-01-31 14:08] axic commented on #1658
I'd like to keep support for "presets" aka what we have today, the only two presets: none vs. all optimisations.

[2019-01-31 14:15] chriseth commented on #1658
There should also be presets for the yul optimizer (we might not even implement the fine-grained control of the yul optimizer in the first release because the structure could change). Should "all" enable the yul optimizer or not? If not, can we change "all" to enable the yul optimizer at some point by default?

Another option that should be configurable: stack optimization in the code generator.

[2019-01-31 18:55] aleph-v opened #5914 "Optimizer does not properly re-use stack slots"
The following should compile with enabled optimizer:
[code]
Original report:

--------

## Abstract
Assembly pops should remove variables from the set of local variables since they free up space on the stack and allow the compiler to know which stack variables are unnecessary. This would allow 'pop' to remove stack depth compiler errors and developers more precisely control the stack.

## Motivati

[2019-01-31 19:07] axic commented on #5880
Have working ASan on circleci: https://github.com/ethereum/solidity/tree/asan-clang

It detects (the EndToEnd tests are disabled):
[code]

[2019-01-31 21:10] k06a commented on #3544
Any progress?

[2019-01-31 21:10] k06a commented on #3556
Any progress?

[2019-01-31 21:34] fulldecent commented on #3544
This is resolved. Here is a test case:

[code]

[2019-01-31 21:35] k06a commented on #3544
@fulldecent but how to solve methods overloading?
[code]

[2019-01-31 21:38] fulldecent commented on #3544
That issue is not resolved and it should be reported separately.

[2019-01-31 21:39] fulldecent commented on #3544
Another issue still is calculating the erc165 identifier for an entire interface. For more on that, see https://github.com/ethereum/solidity/pull/3729

[2019-01-31 22:52] DanielRuf opened #5915 "Failing CI"
https://travis-ci.org/ethereum/solidity/builds/487058210

[2019-02-01 10:52] axic commented on #5868
@bshastry sounds good I think.

[2019-02-03 01:11] Flaque commented on #3255
Reprinted sweetMegan's with formatting:

[code]

[2019-02-03 07:42] jooray commented on #683
No, you would not need that, even worse, it is really a bad idea.

You should keep msg.sender by using a trusted proxy contract and then you can verify that msg.sender is approved proxy contract and then you have original sender as an argument to transaction.

On the other hand, if you use tx.origin, you allow any contract deployed on the blockchain to be a proxy, meaning someone wants to buy a Cr

[2019-02-03 12:02] zemse opened #5917 "Return statement on functions that are not view or pure do not issue an error"
## Description

When a function that has not been marked as view or pure, is declared with a return parameter, it will not return the parameter as it only returns the transaction hash. However, the compiler does not warn the developer about this.

## Environment

- Current version:0.5.3+commit.10d17f24.Emscripten.clang

## Steps to Reproduce

[code]

## Related Issues

I tried to find if this was

[2019-02-03 17:40] HarryR commented on #683
This is a valid use case, as I said before - I don't think it's justified to remove useful functionality solely to prevent people from shooting themselves in the foot.

In reposte, I propose to remove `malloc` from C, because it often leads to memory leaks.

[2019-02-04 07:31] ChrisChinchilla commented on #5908
@akira-19 Not at the moment, but we'd love to have some! I am actually about to contact all the ongoing translation efforts to find out how they are doing, so I'll include you in that task very soon.

[2019-02-04 07:42] christianparpart commented on #5913
I had a pretty for this already, which I closed because the diff was trivial and the only blocker had been emscripten, which shouldn't be one anymore /cc @ekpyron

[2019-02-04 07:55] ChrisChinchilla opened #5918 "Japanese Docs translation"
This issue is to track the progress of the Japanese translation of the Solidity documentation.

It includes the GitHub usernames of all involved, and links to any issues or pull requests related to the French translation.

All translation efforts in progress from this date are pinned to commit
https://github.com/ethereum/solidity/commit/bb46e91677a4d9b5ef4e620b9190be7569e27264

## Contributors

Ba

[2019-02-04 07:56] ChrisChinchilla commented on #5908
Moved to #5918

[2019-02-04 07:56] #5908 closed, assigned to ChrisChinchilla

[2019-02-04 09:17] ekpyron commented on #5913
I think this problem might be solved in newer versions of CVC4 - the current version 1.6 doesn't use these problematic exception specifications at least. I haven't checked that the build works with it yet, though.

[2019-02-04 09:19] ekpyron commented on #4105
There's at least some ``GLOB``'s left in ``test/``. Also I think we haven't found a definite agreement on whether to include all headers to the targets - I'm very much in favour to do so, since it'll make life much easier for IDEs.

[2019-02-04 09:33] christianparpart commented on #4105
So. The last one GLOB remained on purpose. Also, now, after talking with @ekpyron, we concluded that we close *this* ticket nevertheless. We want to overall-improve the test infrastructure (a few files compiled multiple times shouldn't happen e.g.), and then we can also remove that last GLOB.

[2019-02-04 09:33] #4105 closed, assigned to nobody

[2019-02-04 09:59] ekpyron commented on #5913
That's the commit in CVC4: https://github.com/CVC4/CVC4/commit/9ee67c0d1180c7cf85fb648b57bb47100db3d633#diff-a242743d56fdf976402ac6ac36162b11
Unfortunately it's only in 1.6 and that will only be part of Ubunutu disco (19.04).

[2019-02-04 09:59] axic commented on #5913
The above version is what we have on CI.

[2019-02-04 12:38] chriseth commented on #5917
Your contract neither has a view nor a pure function. Are you sure this is a bug?

[2019-02-04 14:12] bshastry commented on #5880
I replayed the buggy input on solfuzzer via valgrind and it could reproduce the leak as well. Here's the valgrind summary:

==8841==     in use at exit: 2,976 bytes in 33 blocks
==8841==   total heap usage: 224,414 allocs, 224,381 frees, 13,551,143 bytes allocated
==8841==
==8841== Searching for pointers to 33 not-freed blocks
==8841== Checked 149,800 bytes
==8841==
==8841== 2,976 (112 direct, 2,8

[2019-02-04 14:31] chriseth commented on #5914
Can you provide specific small examples please? We recently improved the stack allocation logic, so what you are proposing might already be implemented.

[2019-02-04 14:32] chriseth commented on #3556
Sorry, no progress. Do you have any suggestion for the syntax?

[2019-02-04 14:33] chriseth commented on #5915
Thanks for notifying us! This is fixed now: https://travis-ci.org/ethereum/solidity/builds/488473685

[2019-02-04 14:33] #5915 closed, assigned to nobody

[2019-02-04 14:35] chriseth commented on #5893
@ChrisChinchilla you tried to compile via homebrew, right?

[2019-02-04 14:35] chriseth commented on #5894
@ChrisChinchilla you tried compiling via homebrew and it worked, right?

[2019-02-04 14:40] k06a commented on #3556
@chriseth, sure:
[code]

[2019-02-04 15:00] ekpyron commented on #5913
As a reminder: if we move to C++17, we effectively drop support for Debian older than Buster (which is due to be released this year). Personally I'm fine with both just accepting to break Debian stable or with waiting for the next Debian release, since it's not too far away.

Regarding CVC4 and Z3, @leonardoalt and I agreed that moving forward with #5652 might make sense, i.e. maintaining static v

[2019-02-04 15:44] zemse commented on #5917
The issue that I'm trying to point out is only with functions that modify storage variables. As functions marked as view or pure can be called without doing a transaction and we can see the return value but other functions (that modify storage variables) cannot be directly called, we have to do a transaction to call these functions. Just like the following function:
[code]
If we actually deploy th

[2019-02-04 16:13] chriseth opened #5922 "[Yul] Abstract out stack allocation logic from EVMCodeTransform"

[2019-02-04 16:39] chriseth commented on #5917
Ah, now I see. The purpose of return values in functions that require (actually only recommend) a transaction is that they can be called from other contracts.

Also note that you actually can call such functions using `eth_call`, it is just the default to make a transaction.

[2019-02-04 17:03] aleph-v commented on #5914
[code]

In this case no matter how many local variables we remove we still get stack depth errors.

[2019-02-04 17:11] chriseth commented on #5914
Hm, this is weird - when you enable the optimizer, the code generator should actually re-use existing stack slots - you do not (and actually should not) use explicit pops.

[2019-02-04 17:15] aleph-v commented on #5914
I'm not actually using the optimizer, since I've tried it on some of the assembly code I had written and it actually almost doubled the gas usage [which is because it is edge case code]. But I also just tried the code with the optimizer enabled and it still produced a stack depth error.

[2019-02-04 17:30] zemse commented on #5917
Oh, now I understood the purpose of having the return statement in such functions.

[2019-02-04 17:30] #5917 closed, assigned to nobody

[2019-02-04 17:34] chriseth commented on #5056
@axic unassigned from you since I assume you are not working on it.

[2019-02-04 17:41] chriseth commented on #5914
Sorry for hijacking your feature proposal. We are thinking about explicit scopes for variables, which could be what you want, but I don't think `pop(a)` would be a nice syntax for that.

[2019-02-04 17:41] chriseth commented on #5914
About the gas usage: Can you share some details? Did you try fiddling with the `--runs` parameter to adjust the tradeoff?

[2019-02-04 17:52] aleph-v commented on #5914
I was using the {} when I ran into this issue, but having a block based scoping system makes it had to implement some of the behavior I would want because then you can't end the scope inside of an if loop for example so I had to implement pairs of if loops inside and outside of scope. It may not be pop that makes it work but I still want more ability to manage scope.

[2019-02-04 18:04] aleph-v commented on #5914
Here's how my code reacts to the optimizer:
No optimizer: 324121 gas
50 runs: 595414
100 runs: 587608
200 runs: 584176
500 runs: 584086
2000 runs: 583309
20000 runs: 317362
200000 runs: 317362
Which means that the optimizer actually only ends up working better for more than 20 thousand runs

[2019-02-04 18:04] chriseth commented on #5914
Currently, enabling the optimizer should free the stack slot used by a variable as long as it is not used anymore (but it does not). We do not yet provide fine-grained control over the optimizer, so it is just an on/off-switch, but that should soon change. Then, you should be able to only activate storage slot allocation and none of the other optimizations.

[2019-02-04 18:05] chriseth commented on #5914
Which gas are you measuring? Deploy gas or runtime gas? Can you share the output assembly for the different settings?

[2019-02-04 18:08] chriseth commented on #5914
Ah I see, you have many big constants. If stored literally, big constants are extremely expensive at deploy time, but cheap at runtime. The `--runs` parameter will instruct the optimizer to select one among 3 or 4 ways to store them, each way has different trade-offs between deploy and runtime costs.

[2019-02-04 18:17] #5863 closed, assigned to nobody

[2019-02-04 18:21] aleph-v commented on #5914
Ahhh yeah I figured it would be something like that where the cost was coming from somewhere else. I'm going to be using the big constants because I'd like to make the calls cheap for users, but it makes sense why the optimizer would weight for only this deployment.

[2019-02-05 08:44] chriseth commented on #5712
Note that lines with assertions cannot get test coverage by design, but at least all lines that report an error (`m_errorReporter.typeError(`) should be covered, i.e. green.

[2019-02-05 08:50] chriseth commented on #5712
Some examples:

 https://codecov.io/gh/ethereum/solidity/src/develop/libsolidity/analysis/TypeChecker.cpp#L587 - write a test with an event that has a `mapping` parameter.
 https://codecov.io/gh/ethereum/solidity/src/develop/libsolidity/analysis/TypeChecker.cpp#L589 - write a test with an event that has an internal function pointer as parameter.
 https://codecov.io/gh/ethereum/solidity/src/develop

[2019-02-05 10:00] ChrisChinchilla commented on #5893
Yes, and I just tried again with no error @chriseth

@arnigudj @gwiily @smeis was this specifically 0.5.0 or all minor versions of 0.5.0? I tried 0.5.3 from a fresh `brew install` on 10.14.13 and it worked fine. Try 0.5.3 and let me know, we'll try to debug :)

[2019-02-05 10:00] ChrisChinchilla commented on #5894
Yes, and I just tried again with no error @chriseth

@jbeard4  was this specifically 0.5.1? I tried 0.5.3 from a fresh `brew install` on 10.14.13 and it worked fine. Try 0.5.3 and let me know, we'll try to debug :)

[2019-02-05 12:31] axic commented on #5894
@jbeard4 you can try removing jsoncpp before installation: `brew uninstall jsoncpp`