[2022-09-14 15:35] ekpyron commented on #12930
I'm repurposing this issue for the optimization that would make the original suggestion obsolete.

[2022-09-14 15:50] bfondevila commented on #12863
@alcuadrado I see an inconsistent behaviour with return types on functions vs mappings, though.

That solidity code above generates the following ABI for the mappedData property, where the field "ids" is not considered a part of the output:

[code]

I would expect to also be present the ABI definition this field:

[code]

Basically, I would expect these two lines of code to produce a very similar

[2022-09-14 15:57] cameel commented on #11540
I think we should just do the selector case.

[2022-09-14 16:20] cameel commented on #12554
Related to catch-all issue for inheritance overhaul: #12665

[2022-09-14 16:49] ekpyron commented on #10195
Related: https://github.com/ethereum/solidity/issues/11284

[2022-09-14 17:11] Marenz commented on #13512
Started working on this in https://github.com/ethereum/solidity/tree/paris-oh-paris (no pr yet)

[2022-09-14 17:40] cameel commented on #5281
I'm closing this since the documentation has been updated to precisely describe the behavior of relative and direct imports: [Import Path Resolution > Imports](https://docs.soliditylang.org/en/latest/path-resolution.html#imports).

After working on the import paths I see that the current behavior does have its merits. There are things that maybe should be improved but better to create new issues f

[2022-09-14 17:40] #5281 closed, assigned to cameel

[2022-09-14 18:02] cameel commented on #9930
We should discuss if we still want it. The process is still manual but with #12929 the binaries are unlikely to go out of sync, unless someone changes them intentionally. We're also considering automating the process of submitting binaries to solc-bin so a discrepancy would be even less likely (though not impossible).

[2022-09-14 20:03] bfondevila commented on #12863
That being said, I just read the documentation stating that this is intentionally excluded:

https://docs.soliditylang.org/en/v0.8.17/contracts.html#getter-functions

If we care so much about having the arrays in structs on the ABI, we need to create a specific function in the contract to retrieve the struct like I mentioned before; I use hardhat and typechain and this way I can see that the EVM r

[2022-09-14 20:09] cameel commented on #13512
I meant the name of the opcode, which does change. It's the numeric value used in bytecode (`0x44`) that stays the same. So bytecode will not change but Solidity, Yul and EVM asm output will.

[2022-09-14 20:10] cameel commented on #11593
#11593 is this issue :)

[2022-09-15 08:31] ekpyron commented on #11593
Ah, sorry, I meant https://github.com/ethereum/solidity/issues/13321 :-).

[2022-09-15 08:32] bfondevila commented on #12863
I wrote a small app using hardhat & typechain to show that the EVM does return the array inside the struct.
With a few modifications in the solidity compiler, I was able to compile this sample contract, produce the expected ABI, and confirm the value is returned correctly in this example:

https://github.com/bfondevila/solidity-fix-12863-test

I'd submit a merge request for the changes required in

[2022-09-15 09:15] r0qs commented on #8969
I made a simple workflow to move new issues to triage in the old project board: https://github.com/ethereum/solidity/pull/13528

I saw that you created a `Solidity triage` board. What is the purpose of that board?

Yes, using a PAT with organization permission to the `Solidity Focus` or `Solidity triage` board, we can concentrate all issues on the same board by just adding the automation in both r

[2022-09-15 09:59] oscariquelme01 commented on #12825
Hi! I am experiencing the same problem as everyone here (error 32603 on pretty much every keystroke after writting some code)

I Have tried the fix above and it didn't solve the issue :(
![image](https://user-images.githubusercontent.com/87903914/190374971-fcc3322e-ede0-4dad-8922-93c2c27b4548.png)

[code]

Any other fixes or ideas available? I am more than happy to run debug binaries

[2022-09-15 11:18] anajuliabit commented on #12825
@oscariquelme01, the only LSP that worked for me on Neovim was [vscode-solidity](https://github.com/juanfranblanco/vscode-solidity). I installed it using [nvim-lsp-installer](https://github.com/williamboman/nvim-lsp-installer), which now migrates to [mason](https://github.com/williamboman/mason.nvim/blob/main/CONTRIBUTING.md). Mason doesn't support [vscode-solidity]((https://github.com/juanfranbla

[2022-09-15 11:43] cameel commented on #8969
Just a temporary place for me and @ekpyron to keep track of which old issues we have already labeled. For the purpose of this issue you can just ignore it.

[2022-09-15 11:44] cameel commented on #8969
Just renamed it to avoid confusion with the triage column.

[2022-09-15 12:26] wechman commented on #12932
The proper way to deal with this issue would be to make `NameAndTypeResolver` robust against bases being defined only after inheriting contracts and then only later validate that all inheritance is sane. Presently, we work on a similar mechanism for the sake of compile-time-constant expression evaluation, which will need the `TypeChecker` to be robust against out-of-order execution. Issues: #13365

[2022-09-15 12:31] ekpyron commented on #13365
Given https://github.com/ethereum/solidity/issues/12932 there may be cause to do something similar even as early as the ``NameAndTypeResolver`` - this does not necessarily have to be done in one go, but it's something to keep in mind here.

[2022-09-15 13:03] matheusaaguiar commented on #13426
Hi @GeorgePlotnikov , maybe this issue is not really a good first issue for someone starting out, because it could demand understanding of how other test classes are implemented. I am not sure how long you are digging into solidity or how much time you are dedicating to it. So in order to give you more options, I'd like to suggest some other good first issues:
 - [Pretty print expected json output

[2022-09-15 13:44] #12559 closed, assigned to wechman

[2022-09-15 15:50] thedavidmeister opened #13530 "memory writes in yul don't happen unless alongside a hardhat console log"
## Description

I'm really not sure why this is happening but it seems memory writes do not happen in one of my functions.

As soon as I include console logs from hardhat the writes start to take effect.

This happens with or without compiler optimisations enabled.

https://github.com/beehive-innovation/rain-protocol/pull/452/commits/022adea41d0c891bf8d92c117bcc4a18fb98278f

removing this

https:/

[2022-09-15 16:20] 0xGeorgii commented on #13426
hi @matheusaaguiar thanks for clarifying. Let me consider these two before. If this one will be still orphaned I grab it.

[2022-09-15 16:27] 0xGeorgii commented on #7665
@matheusaaguiar May I take it?

[2022-09-15 16:37] matheusaaguiar commented on #7665
@GeorgePlotnikov yes, please! Let me know if you need any help.

[2022-09-15 17:51] pavbro commented on #13523
Same for me:

assertion failed [block != nullptr]: BasicBlock requested for unrecognized address
(BuilderBase.h:550 block_for_offset)

And also on MacOs. Same code on Ubuntu works.

[2022-09-15 22:39] alcuadrado commented on #12863
@bfondevila, yes, this is a solidity/evm thing, and has little to do with Hardhat. We just save the abi as created by `solc`.

[2022-09-16 07:09] yourchocomate commented on #13159
Have you fixed it yet? Having the same issue using ether js and walletconnect provider. But works with injected

Am doing: `signer.estimateGas.method(parameter)`

Edit: My bad, it was my mistake on contract. I was facing the issue for doing unhandled rejections.
The reason was the transaction actually reverting every time for lack of allowance which I didn't handled in contract. Thus, the estimate

[2022-09-16 07:18] oscariquelme01 commented on #12825
@anajuliabit Thanks a lot for the dotfiles! I ll be trying to figure out how to set up solidity_ls in the mean time. Quick question tho, where did you find the list of configuration options for the solidity_ls language server? I can't find it anywhere :(

[2022-09-16 13:43] wighawag commented on #13494
I updated the test and now specify specific gas limit and it passes

Probably the estimate_gas do not calculate enough for some reason. and when the log1 is added the estimate is correct for some reason

Should have thought about that, I guess we can close the issue unless you want to keep for the segmentation fault you find

[2022-09-16 16:57] trevorgjohnson commented on #12825
Personally, I've been having a lot more luck with [solidity-ls](https://github.com/qiuxiang/solidity-ls) for the time being. Configuration for this lsp is [here](https://github.com/neovim/nvim-lspconfig/blob/master/doc/server_configurations.md#solidity)

[2022-09-17 01:08] brockelmore commented on #12067
looking forward to this! so why not just do analysis on the ops to ensure no stack manipulation deeper than the "inputs" in the verbatim name & ensures that only 1 element is added to the stack at the end? if you have that guarantee + memory safety, while you dont get "full" mutability of the execution context, you do get a decent ways safely

if you want to enable this sort of check maybe somethi

[2022-09-17 06:37] janaka45 commented on #13159
but what about in remix  ide???

[2022-09-17 16:29] gumb0 commented on #6765
Could this be more general optimization like "add(X, A) -> sub(A, -X) in case the cost is better", so not only for expressions that start like `sub`?
Or would this somehow interfere with the part where we're trying to get rid of all subs for uniformness?

[2022-09-17 18:47] cameel commented on #6765
Yeah, that's how I'd do it. I don't see much point in trying to limit it to just the ones that have been replaced for CSE. This would actually be unnecessarily complicated because we'd have to track them. As long as the step is not executed before the CSE, I think it should not destroy any important property.

[2022-09-17 20:27] emretepedev commented on #13212
Yes, this is exactly what I need.

@ekpyron @nikola-matic

[2022-09-18 06:25] 0xGeorgii commented on #7665
@matheusaaguiar let me clarify I'm moving in the right direction. There is a script `cmdlineTests.sh` that runs cmdlineTests. The script executes test with the `command_args="--standard-json "$(cat "${tdir}/args" 2>/dev/null || true)`.

The `--standard-json` arg which means I specify a test output in a json format, like here: [linking_standard_solidity/output.json](https://github.com/ethereum/soli

[2022-09-18 06:29] hiroshi-yamamoto-dublr opened #13536 "`bytes1` constants must be specified with two hex digits (providing just one hex digit fails)"
## Description

I need to declare a `bytes1` constant in Solidity (0.8.17). The following used to work, according to code examples I found online:

[code]

However this gives an error

[code]

The implicit conversion only works if the value is specified with two hex digits:

[code]

This is an unnecessary and confusing restriction.

## Environment

- Compiler version: 0.8.17
- Target EVM version (

[2022-09-18 08:42] thedavidmeister commented on #13530
i thought that perhaps the issue is that i'm not keeping an explicit reference to the allocated `uint[]` in solidity

https://github.com/beehive-innovation/rain-protocol/pull/452/commits/1220cf5c59490ac24b64fff69565c3ebe65ff9b4

that still fails tests

https://github.com/beehive-innovation/rain-protocol/actions/runs/3076479876/jobs/4970663451

[2022-09-18 08:50] thedavidmeister commented on #13530
i tried setting the state function to view instead of pure, this is the only function called by the test script, i thought perhaps somehow that it being pure meant the compiler would elide the memory writes

https://github.com/beehive-innovation/rain-protocol/pull/452/commits/565dea0743fe613ac865e2e1710f6ada88b14090

that does not work either

https://github.com/beehive-innovation/rain-protocol/ac

[2022-09-18 08:56] thedavidmeister commented on #13530
putting a console log inside the `eval` function rather than alongside it

https://github.com/beehive-innovation/rain-protocol/pull/452/commits/c1689fdf479a2478258ecc70c4a2b09f56758632

does cause the tests to pass

https://github.com/beehive-innovation/rain-protocol/actions/runs/3076516870/jobs/4970722734

[2022-09-18 09:24] thedavidmeister commented on #13530
ok i have a clue

this is what the values in memory look like when it fails:

[code]

this is what it looks like when it passes

[code]

we can see that the 4 duplicate values from index 14-17 in the good run ~~are collapsed into a single value at index 14 in the bad run~~

~~looks like the function call to `state` (linked in comment above) is simply ignored somehow when the output is the same~~

[2022-09-18 12:38] thedavidmeister commented on #13530
i tried removing `("memory-safe")` from the assembly responsible for copying the above data into place

https://github.com/beehive-innovation/rain-protocol/pull/452/commits/1f6860e5f3589a8cb325c56dcc5a390bf9bdc32f

still failing

https://github.com/beehive-innovation/rain-protocol/actions/runs/3077145101/jobs/4971798589

this is the code that's somehow copying from the wrong location when console

[2022-09-18 19:21] ekpyron commented on #13212
Note that this has no effect on stack too deep errors whatsoever. (If you experience those, have you tried optimized via-ir code generation?)

Also note that none of this will save any gas either, this is purely cosmetics.

[2022-09-19 11:34] r0qs commented on #13494
Hi @wighawag thank you very much for confirming the gas issue.

I will be closing the issue for now since your problem was solved, and it is unlikely that the compiler caused it. Still, I will further investigate your suspicion of the miscalculation of the gas estimation and the use of log1.

[2022-09-19 11:34] #13494 closed, assigned to nobody

[2022-09-19 11:37] bshastry opened #13538 "[Yul optimizer] Name simplifier generates invalid yul code"
[code]

throws via

https://github.com/ethereum/solidity/blob/1fbee8259aca10ffe04efa47a21f31d7dee1baa9/libyul/optimiser/StackCompressor.cpp#L260

[2022-09-19 11:38] bshastry commented on #13538
The optimized code that is invalid is the following:

[code]

Problematic line: `let x1_1, _1, x_2, _, x. := f_87_191_282()` errors because

[code]

I suspect the root cause to be something weird happening here: https://github.com/ethereum/solidity/blob/1fbee8259aca10ffe04efa47a21f31d7dee1baa9/libyul/optimiser/NameSimplifier.cpp#L83-L101

[2022-09-19 12:36] christianparpart opened #13539 "Rename LSP's lspAssert() function into something more meaningful."
"""
Yes, please rename it. And yeah, not in this PR, I'd create a separate one - though it very likely will go into `develop` before this one anyway.

As for recoverability - I think that asserts are fatal enough that they should not be recoverable. And the other way around - if you want to recover from it, then is it really a solid assumption that is guaranteed to be always true in a bug-free pro

[2022-09-19 15:08] matheusaaguiar commented on #7665
Yes, you are going in the right direction. I don't think we want to give the user the option of `pretty-print`, we actually want the json output of the relevant tests to be formatted in an easier way for humans to read. From a quick glance I think you can just add the `--pretty-print` flag to the `command_args` var and then run the script with the option `--update`. This in turn will automatically

[2022-09-19 15:20] cameel commented on #7665
Also, we then want to remove `--pretty-print` from `args` file in any test that already has it. We've been adding it only to get the formatting which will be automatic now.

Another thing, I'd recommend `--pretty-print --json-indent 4` for more readable output, matching the length we have set in our [`.editorconfig`](https://github.com/ethereum/solidity/blob/develop/.editorconfig).

Finally, we ac

[2022-09-20 02:28] nzhl commented on #12825
Any progress to this, having the same issue just like @anajuliabit

[2022-09-20 10:51] cameel commented on #13530
This could be an issue in the compiler but could just as well be something in your code. `console.log()` emits events, which involves ABI-encoding and this can leave some garbage in the scratch space in the first 2 memory slots (addresses `0x00-0x64`) and in the unallocated space past the free memory pointer. If you have a bug and accidentally depend on the contents of these areas, something like

[2022-09-20 10:55] cameel commented on #13530
By the way, there were two recent bugs, which could potentially produce somewhat similar effects:
- [Optimizer Bug Regarding Memory Side Effects of Inline Assembly](https://blog.soliditylang.org/2022/06/15/inline-assembly-memory-side-effects-bug/)
- [Head Overflow Bug in Calldata Tuple ABI-Reencoding](https://blog.soliditylang.org/2022/08/08/calldata-tuple-reencoding-head-overflow-bug/)

The first

[2022-09-20 11:39] hrkrshnn commented on #12067
One early goal for verbatim was to support opcodes that are not yet in the EVM. Other machines like OVM1, new proposed EIPs, other EVM like chains are example use cases. So we cannot really analyze the raw bytecode in general.

User annotation is a good idea. However, we have to check what optimizations we can enable with that. The Optimizer wasn't designed with Verbatim in mind, so we'll have to

[2022-09-20 12:42] matheusaaguiar opened #13543 "Semantic test for copying calldata structs placed in the wrong subdirectory"
It seems that [test/libsolidity/semanticTests/structs/copy_from_calldata.sol](https://github.com/ethereum/solidity/blob/develop/test/libsolidity/semanticTests/structs/copy_from_calldata.sol) is misplaced, since it does not involve structs at all, but rather just dynamic arrays. Shouldn't it be inside `array` subdirectory?
Noticed the possible issue [here](https://github.com/ethereum/solidity/pull/

[2022-09-20 13:23] cameel opened #13544 "Pre-release warning stripping in CLI tests does not always produce correct JSON formatting when combined with `--pretty-print`"
This came up in https://github.com/ethereum/solidity/pull/13162#pullrequestreview-1101249411.

Non-release builds of the compiler always output an extra warning, which results in a different output between release and debug builds in CI:
[code]

For this reason `cmdlineTests.sh` script strips the warning from compile output. For Standard JSON this is more tricky, since the error is a part of an ar

[2022-09-20 14:11] cameel commented on #13543
True. We should move it and any other non-struct tests from that dir. But I think we should also add an actual test for copying calldata structs.

[2022-09-20 14:25] frangio opened #13545 "Check for reuse of old error/warning codes"
Some error codes have been removed and are no longer emitted (for example, 8760 for shadowing of opcodes). There is currently a risk that those codes are reintroduced with a different meaning.

[`scripts/error_codes.py`](https://github.com/ethereum/solidity/blob/db571add54bb55f008bff1b51f3dafad7112b8d6/scripts/error_codes.py) should be amended to include a list of removed error codes and verify th

[2022-09-20 14:27] KatyaPrusakova commented on #13543
Hi, I would like to contribute, it would be my ever [good first issue] , so I hope it works :)

[2022-09-20 14:30] cameel commented on #13543
Sure! Feel free to create a PR.

[2022-09-20 15:11] thedavidmeister commented on #13530
@cameel i'm fairly sure that i'm not reading or writing to the first two memory slots on this codepath, i hear you on the repro though, i'll try to make something simpler that shows the same behaviour

[2022-09-20 15:19] #11959 closed, assigned to nobody

[2022-09-21 05:47] thedavidmeister commented on #13530
@cameel so looks like adding `bytes memory foo_ = abi.encodeWithSignature("log(bytes)", "");` to eval "fixes" the issue in the same way as the console log, so that's some info

[2022-09-21 07:21] thedavidmeister commented on #13530
explicitly zeroing the first 2 memory slots does nothing to help, but adding `0xA0` to the pointer at `0x40` makes tests pass

https://github.com/beehive-innovation/rain-protocol/pull/452/commits/4d89dcaa89e590a5853b96cbb4579fe5e3793bc7#diff-84a5ca0e7658e2f6de553fa9797f941b3251296cfcb0343a9840e35dadbc04a3R297

[2022-09-21 07:27] gnattishness opened #13547 "v0.6.0 Breaking Changes is missing opcode syntax changes"
## Page

https://docs.soliditylang.org/en/latest/060-breaking-changes.html

## Abstract

v0.6.0 introduced breaking changes to how inline assembly defined opcodes that do not take an argument.
In particular, these opcodes were standalone identifiers in `< v0.6.0` and "built in functions" for `>= v0.6.0`.

The inline assembly documentation was updated in #8022 but it would be preferable to include

[2022-09-21 07:50] thedavidmeister commented on #13530
@cameel ok i found the bug in our contract, thanks for the tips!

[2022-09-21 07:50] #13530 closed, assigned to nobody

[2022-09-21 09:59] bshastry commented on #12570
This is a big test that triggers the underlying ICE. Sorry for the bad formatting, if there is a tool I could use to auto-format yul files, I would do it.

https://gist.github.com/bshastry/a796b1c6f824b386750a9911160ab2e1

[2022-09-21 10:59] cameel commented on #13530
Great! Thanks for reporting anyway. If there's a chance it's a compiler bug, we definitely want to investigate.

[2022-09-21 11:05] cameel commented on #13122
Done in #13424 and #13436 (updated to 3.1.19).

[2022-09-21 11:05] #13122 closed, assigned to nobody

[2022-09-21 11:45] cameel commented on #12570
The compiler can do it. I wonder if it would be a good idea to expose it somehow.

[2022-09-22 09:34] bshastry commented on #12570
Thanks for the hint! Here's a much better formatted program albeit heavily indented and less readable due to it

[code]

[2022-09-22 10:23] cameel opened #13550 "Yul formatter"
This came up in https://github.com/ethereum/solidity/issues/12570#issuecomment-1253478487.

The compiler can parse Yul and output it after processing. Implementing a pretty-printer mode for Yul that does no actual processing would be trivial and potentially useful.

Not sure if we actually want to do this (it's a bit tangential to compiler's main purpose) but on the other hand we already have all

[2022-09-22 10:33] cameel opened #13551 "[isoltest] Executing semantic tests at arbitrary paths"
Isoltest can execute contracts using evmone and we use that to implement semantic tests. Currently these tests have to be located inside `test/libsolidity/semanticTests/`. It would be convenient for debugging to be able to use isoltest to execute a code snippet from an arbitrary path by simply giving it that path on the command line.

[2022-09-22 10:46] cameel commented on #13551
My use case is that I often just go to `/tmp/` and create a file called `test.sol` when I want to try things out. I can easily compile that with `solc` but executing it with `isoltest` is more tedious:
- It has to be copied over to the working copy and shows up as a stray file in git, etc. These are one-offs most of the time and I just prefer them automatically gone on reboot.
- I always build out

[2022-09-22 10:58] cameel opened #13552 "Ignore JSON formatting in command-line tests"
Related to #13544 and #7665.

Currently command-line tests in StandardJSON mode expect output exactly matching the expectations. This is not a problem until we try to post-process the output and run into problems like #13544.

Since the formatting is irrelevant most of the time, I think `cmdlineTests.sh` should be using `jq` on the output and expectations to reformat them before diffing.

We'll al

[2022-09-22 11:03] cameel commented on #12570
I wouldn't say it's less readable. It's still hard to read of course but I think the unindented version was much worse because you could not see the structure at all.

I created #13550 for the formatter. Should be trivial to implement, but it's a very tangential thing so I think we should discuss on the call whether we want to add things like this to the compiler.

[2022-09-22 15:33] CodeSandwich commented on #11638
I've been hit with this issue too, I've been able to boil it down to this:
[code]
I'm using Solidity `0.8.17`. It doesn't matter if the optimizer is enabled, it always fails with `Variable headStart is 2 slot(s) too deep inside the stack.`. With `viaIR` it does compile, but this pipeline is still immature, so it's not a viable workaround.

**A WORKAROUND** I've found for this particular case is to

[2022-09-23 09:40] LiRiu opened #13555 "[SMTChecker] Compile panic in 0.8.17: memory access out of bounds"
## Description

solc crashes when a specific contract is compiled.

## Environment

- Compiler version: 0.8.17+commit.8df45f5f
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execution environment / backend / blockchain client: VM or test chain
- Operating system: MacOS Monterey 12.2

## Steps to Reproduce
I just try to compile this contract wh

[2022-09-23 10:04] 0xGeorgii commented on #7665
hi @matheusaaguiar @cameel before proceeding with the main subject of this issue I decided to build and run all tests including both z3 and CVC4. I founded a small suspicious place but I'm not sure whether it is a known bit. If it is I can create a PR to fix it. If not please advise.

Here we have the following:

https://github.com/ethereum/solidity/blob/b12b845739d7dfd540e7eef624b39052f0ab8a7d/li

[2022-09-23 10:08] leonardoalt commented on #13555
Thanks for reporting!
Yep looks like an SMTChecker bug.

[2022-09-23 11:42] #13544 closed, assigned to nobody

[2022-09-23 11:48] cameel commented on #7665
I'm not sure it really matters in this case since this seems to be used to simply represent zero. Either type should work. Does it generate a warning?

@leonardoalt Want to take a look?

[2022-09-23 11:49] 0xGeorgii commented on #7665
@cameel it even generates an error due to an ambiguous call

[2022-09-23 11:53] cameel commented on #7665
Oh. Right, we definitely want to fix that. Feel free to create a PR.

I wonder why our CI does not detect this. We surely have some runs with CVC4 enabled... What platform are you on?

[2022-09-23 11:54] 0xGeorgii commented on #7665
@cameel I'm on MacOS 12.5
Apple clang version 14.0.0 (clang-1400.0.29.102)
Target: x86_64-apple-darwin21.6.0
Thread model: posix

[2022-09-23 11:58] cameel commented on #7665
Thanks. I guess that's it. We don't install CVC4 on macOS. Maybe we should. What do you think @leonardoalt?

[2022-09-23 12:50] cameel commented on #13555
I can confirm that this crashes with a segmentation fault for me.

Also, removing pretty much anything from the repro other than the `assert(map[0] == 0);` line makes it not crash so it does not seem to be caused by one specific thing in the example.

[2022-09-23 12:55] leonardoalt commented on #13555
Yea it's weird. The example is quite simple so there's nothing that immediately strikes me as the issue, which is worrying.

[2022-09-23 15:32] #13547 closed, assigned to nobody

[2022-09-23 15:41] 0xGeorgii commented on #7665
PR #13556 created

[2022-09-23 19:58] r0qs opened #13557 "issue 8"
## Description

## Environment

- Compiler version:
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduce

[2022-09-23 19:58] #13557 closed, assigned to nobody

[2022-09-23 21:02] ericlewis966 opened #13558 "👋 Big Issue: Can't pass any require statement. (All require statement return false always.)"
👋Hi. 👋
I am working with ERC1155 standard smart contract.

But now all require statements in the contract return **false** even **require(true)**.

I am so confused about this issue.

What's happened in the contract and how can I fix it?

(build env is Hardhat)

[2022-09-24 04:19] HareemSaad opened #13559 "Create2 deploys itself instead of deploying the intended contract."
## Description

using this code
[code]
When I run the deploy function of the factory contract it should deploy the test contract but the address it produces is for another instance of the factory contract.

## Environment

- Compiler version: 0.8.17
- Target EVM version (as per compiler settings): Remix VM (London)
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execution environment / backen

[2022-09-24 09:48] 0xGeorgii commented on #7665
@cameel @matheusaaguiar sorry for being a nerd but why there are byte/op codes, a source map sometimes are present in tests like here:
https://github.com/ethereum/solidity/blob/3ddf5db755e7ada1e26c4850764d5f7ad988333e/test/cmdlineTests/standard_yul_immutable_references/output.json#L15
but sometimes are not like here:
https://github.com/ethereum/solidity/blob/3ddf5db755e7ada1e26c4850764d5f7ad988333

[2022-09-24 14:33] cameel commented on #7665
It looks like the [regexes in `cmdlineTest.sh`](https://github.com/ethereum/solidity/blob/v0.8.17/test/cmdlineTests.sh#L189-L219) are just not versatile enough to strip those from pretty-printed JSON input. We strip bytecode from output because it contains metadata, which changes between versions and would make CI fail. So you need to update these regexes.

[2022-09-24 16:58] HareemSaad commented on #13559
The ```At Address``` call function on remix is faulty.

It loads the incorrect contract.

I investigated the deployed contract on etherscan and the address was of the intended contract.

[2022-09-24 16:58] #13559 closed, assigned to nobody

[2022-09-25 03:03] hrkrshnn commented on #10443
Already implemented.

[2022-09-25 03:03] #10443 closed, assigned to nobody

[2022-09-25 13:42] anajuliabit commented on #12825
@oscariquelme01 they called the package `solidity_ls` on nvm-lspconfig. Conf is [here](https://github.com/neovim/nvim-lspconfig/blob/master/doc/server_configurations.md#solidity_ls).

[2022-09-25 23:36] Lims1703 opened #13561 "ETH on contract created by me"
Dear all,

First of all, I really thank you for your time.
I have an issue, I was so stupid and I followed a contract creation and connected my Wallet to send 1ETH on it but it looks like the contract does not allow the created to withdraw the funds.
Is is possible to connect me on the contract to request the funds to be transfered back to my wallet ?
https://etherscan.io/address/0x36c72af71222AF4

[2022-09-26 03:54] yyx1111 opened #13563 "Data location question?"
[code]

[2022-09-26 10:01] infiloop2 opened #13564 "Unable to explicitly import aliased interfaces"
## Description

Explicitly importing an interface which is defined as an aliased interface fails. Importing the whole file works.

## Environment

- Compiler version: `solc --version` gives `0.8.6+commit.11564f7e.Darwin.appleclang`
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix): VSCode
- EVM execution environment / backend / blockchain client:
- Operating

[2022-09-26 12:26] Marenz commented on #13558
Based on this description we will not be able to help. Could you provide a reproduceable minimal test case demonstrating your problem?

[2022-09-26 13:06] #13539 closed, assigned to christianparpart

[2022-09-26 18:13] pedrommaiaa commented on #12863
As mentioned above, the compiler will omit the array:

<img width="824" alt="Screen Shot 2022-09-26 at 2 07 54 PM" src="https://user-images.githubusercontent.com/100535780/192349963-fc9a86f6-239c-40dc-ace5-55dc58f0a0b7.png">

[2022-09-26 19:25] mariagabrielacs123 commented on #12934
Hello! I can work on this issue.

[2022-09-26 19:35] cameel commented on #7922
Closing this since selectors are usable in constant assignments since 0.6.3 and we already have an issue covering selectors of overloaded functions: #3556.

Also, I think that the introduction of `interfaceId` in #7856 fulfilled the original motivation behind this issue.

[2022-09-26 19:35] #7922 closed, assigned to nobody

[2022-09-26 19:58] cameel commented on #12303
As I stated above, it's not really possible for us to implement the feature with desired properties so I'm going to close this. Feel free to further discuss the idea (and other ideas on how to extent the language) on the [forum](https://forum.soliditylang.org).

[2022-09-26 19:58] #12303 closed, assigned to nobody

[2022-09-26 20:03] cameel commented on #8612
Do we still want this given that we're planning to allow file-level assembly blocks (#9282)?

[2022-09-26 20:24] cameel commented on #8919
@ekpyron Should we close this and make #9598 more general instead? Probably no point having two different issues covering this.

[2022-09-26 20:28] cameel commented on #4869
Somewhat related to #11889.

[2022-09-26 20:50] cameel commented on #2595
I also don't like the word `getter` that much but I think there's some merit to it over `public`. I find that many beginners do not realize that (1) `public` does not make the variable writable from the outside (2) you do not have to provide your own getter when you have it.

[2022-09-26 20:52] naveed949 commented on #13564
@infiloop2 in this case for Contract1.sol it should work like this:
[code]

Reason of this is because **alias** works as kind of macro, So it loads/injects actual Interface (InterfaceA) in contract1 when you explicitly import it. Thus at the time when you're using it like `contract Contract1 is AliasInterface {` there's no alias exists (because it already got resolved above into InterfaceA)

[2022-09-26 20:54] cameel commented on #10933
No point keeping two issues for this so I'm closing this in favor of #10381.

[2022-09-26 20:54] #10933 closed, assigned to nobody

[2022-09-26 21:04] cameel commented on #12934
Sure. Feel free to pick something from the list above and submit a PR!

[2022-09-26 21:30] naveed949 commented on #13563
@yyx1111 within the scope of a function
1. you can instantiate a storage variable like you did for x i.e: `x = new uint[](7);`
2. you can point OR refer a storage variable with internal variable e.g: `uint[] storage b = x;`
3. but you can not declare OR define a new storage variable within the scope of a function i.e: `uint[] storage b = new uint[](7);` (as variables defined / declared within the

[2022-09-26 21:57] cameel commented on #13223
Update: on one of the recent calls we decided to do it in 0.9.0, with same default for both pipelines for consistency.

[2022-09-26 22:01] hrkrshnn commented on #6765
Just looking at #13535: I would say adding `add(X, A)` to `sub(A, -X)` is not the right way. One thing we want to avoid in the expression simplifier is infinite loops, as it doesn't really backtrace or understand the history of replacements. So if there is a loop in the simplification rule, hitting it is wasting time.

I believe Chris is referring to something more specific, which is the constant

[2022-09-26 22:09] hrkrshnn commented on #13561
We wouldn't be able to do anything, especially when the code is not published.

Closing this. Feel free to reply with a link to the code, and if there is something obvious, maybe it's possible to tell.

[2022-09-26 22:09] #13561 closed, assigned to nobody

[2022-09-26 22:14] Lims1703 commented on #13561
Many thanks @hrkrshnn for your reply.
Here is the code:
https://pastebin.com/raw/hR7EzaZt
If any advice, clarification on what to do next, that would be so helpful!
Lims

[2022-09-26 22:23] cameel commented on #11175
I don't think this is caused by the code being empty. Something like this reproduces the code as well (on 0.8.17, unoptimized):

[code]

It looks like a general problem with accessing the data of subobjects.

[2022-09-26 22:27] cameel commented on #9470
Repro from #11175:
[code]
[code]

[2022-09-26 22:29] cameel commented on #11175
Closing in favor of #9470.

[2022-09-26 22:29] #11175 closed, assigned to nobody

[2022-09-26 22:58] cameel commented on #7703
Closing since the `asan` runs only in nightly now.

[2022-09-26 22:58] #7703 closed, assigned to nobody

[2022-09-26 23:14] cameel commented on #8185
@aarlt Since you're refactoring this script, you could take care of this while doing it.

[2022-09-26 23:59] cameel commented on #13174
This looks like another instance of #11573.

[2022-09-27 00:04] cameel commented on #11642
Is this a duplicate of #12864?

[2022-09-27 00:08] cameel commented on #12028
Closing since #11610 has been fixed. Now the example from the description generates a proper error:
[code]

[2022-09-27 00:08] #12028 closed, assigned to nobody

[2022-09-27 00:35] hrkrshnn commented on #13561
@Lims1703 Unfortunately, that looks like one of those uniswap front running scams. Can't find an obvious way to get the money out. The only way to withdraw is using `withdraw`, but it forwards the eth into a fixed address that is obfuscated.

[2022-09-27 00:48] cameel opened #13566 "Remove gas estimator from the compiler"
Gas estimator built into the compiler (`solc --gas`) has not been actively maintained for some time now and has multiple bugs and missing features.

~We don't think it makes sense to put more effort into it so we'll be removing it in the next breaking version. There will be no deprecation warnings because as far as we can tell the estimator is rarely used in practice and there are no major tools t

[2022-09-27 00:49] cameel commented on #8920
Closing because we decided to remove the gas estimator from the compiler: #13566.

[2022-09-27 00:49] #8920 closed, assigned to nobody

[2022-09-27 00:50] cameel commented on #5877
Closing because we decided to remove the gas estimator from the compiler: #13566.

[2022-09-27 00:50] #5877 closed, assigned to nobody

[2022-09-27 00:50] cameel commented on #5606
Closing because we decided to remove the gas estimator from the compiler: #13566.

[2022-09-27 00:50] #5606 closed, assigned to nobody

[2022-09-27 00:50] axic commented on #10738
The only two remaining items are:
[code]

[2022-09-27 00:50] cameel commented on #4030
Closing because we decided to remove the gas estimator from the compiler: #13566.

[2022-09-27 00:50] #4030 closed, assigned to nobody

[2022-09-27 00:51] cameel commented on #3354
Closing because we decided to remove the gas estimator from the compiler: #13566.

[2022-09-27 00:51] #3354 closed, assigned to nobody

[2022-09-27 00:51] cameel commented on #6044
Closing because we decided to remove the gas estimator from the compiler: #13566. We will be removing its tests as well.

[2022-09-27 00:51] #6044 closed, assigned to nobody

[2022-09-27 00:59] cameel commented on #2173
Closing because we decided to remove the gas estimator from the compiler: #13566.

[2022-09-27 00:59] #2173 closed, assigned to nobody

[2022-09-27 01:55] axic commented on #13521
Starting from this comment we discussed syntax for this: https://github.com/ethereum/solidity/issues/2136#issuecomment-559196297

[2022-09-27 01:56] axic commented on #13521
Actually we do have an older issue for this: #8798. Closing to keep the discussion from getting split across issues.

[2022-09-27 01:56] #13521 closed, assigned to nobody

[2022-09-27 02:06] axic commented on #13122
Yes, not sure how I've time travelled to 3.2.0.

[2022-09-27 08:19] bshastry commented on #11642
I don't think so. Here the problem is the Yul optimiser removing unconditional setimmutable because it is safe to but then erroring on immutable reaf because the said setimmutable was removed.

There the problem is conditional initialization of immutable.

[2022-09-27 09:36] sebastianst commented on #13035
@christianparpart thanks, the PR didn't fix the problem for me, so it seems to be a different issue. Here is a trace log when trying to go-to-definition when on an identifier defined in the same Solidity file:
[code]

[2022-09-27 12:30] bshastry opened #13570 "[Assembler] ICE due to invalid deposit"
[code]

throws

https://github.com/ethereum/solidity/blob/311b2054afae02bfaa8521fd94475a06e0669025/libevmasm/Assembly.h#L108

Repro

[code]

[2022-09-27 13:16] infiloop2 commented on #13564
@naveed949 I understand the underlying technical issue, but from a user perspective without knowing the internal details of `AliasInterface.sol`, the fact that `Contract2` compiles whereas `Contract1` doesn't is very counter intuitive

[2022-09-27 15:21] dev-soumyadeep commented on #13558
Need more info , please share code

[2022-09-27 15:34] #10738 closed, assigned to nobody

[2022-09-27 18:06] Marenz commented on #13563
This is the wrong place for these kind of questions so I am closing this. You can try the [matrix solidity room](https://matrix.to/#/#ethereum_solidity:gitter.im) for solidity help questions.

[2022-09-27 18:06] #13563 closed, assigned to nobody

[2022-09-27 20:11] cameel commented on #13564
Duplicate of #11855.

This was indeed a bug but has already been fixed in 0.8.8.

By the way, please note that using 0.8.8 is not recommended due to a bug in the storage layout of user-defined value types, which was immediately fixed in 0.8.9. When upgrading to a version that's not the latest please consider the [list of known bugs](https://github.com/ethereum/solidity/blob/develop/docs/bugs_by_ve

[2022-09-27 20:11] #13564 closed, assigned to nobody

[2022-09-27 21:47] axic commented on #11593
@cameel I think the real solution is #11284 and not adding non-bytes types to `bytes.concat`.

[2022-09-27 22:11] cameel commented on #11593
I think it's a solution for the general case but I also wouldn't mind easing on the overly verbose conversions in select cases where they don't add anything. Even with some nicer conversion from #11284 this would be more verbose than it needs to be for clarity.

[2022-09-27 23:40] axic opened #13574 "Replace `boost::program_options` with `CLI11`"
Tracking issue for this task.

[2022-09-27 23:42] axic opened #13575 "Replace `boost::filesystem` with `std::filesystem`"
Tracking issue for this task. See also https://github.com/ethereum/solidity/pull/7263#discussion_r314240318

[2022-09-27 23:43] axic commented on #7259
@ekpyron created the last two separate issues, can we close this umbrella issue?

[2022-09-28 00:06] itbrda commented on #1290
I also believe that something like this would be perfectly possible

type(ContractWithConstant).CONSTANT_NAME

very similar to

type(uint).max

[2022-09-28 00:14] #12737 closed, assigned to nobody

[2022-09-28 10:14] cameel commented on #13575
My comment from an earlier discussion on the topic (https://github.com/ethereum/solidity/pull/11650#issuecomment-879857238):

I really think we need better coverage before we do this because these libraries have subtle differences that will affect us in corner cases. Note for example that we're using `filesystem` for resolving relative imports (even though they're not real paths):
https://github.c

[2022-09-28 15:44] cameel opened #13582 "`pathDeclarations` annotation on `IdentifierPath` AST node is not exported"
We do not export the [`pathDeclarations`](https://github.com/ethereum/solidity/blob/v0.8.17/libsolidity/ast/ASTAnnotations.h#L261) annotation. This means that when we export and re-import the AST it loses its value.

Compiler version: 0.8.17

### Example
[code]
The relevant part of `solc --ast-compact-json` output:
[code]

[2022-09-28 15:58] axic commented on #11351
Even windows+arm is now supported on github actions too: https://github.blog/changelog/2022-09-28-github-actions-self-hosted-runners-now-support-windows-arm-hardware/

[2022-09-28 19:18] cameel opened #13583 "Bytecode compare runs with `--via-ir`"
The IR pipeline is non-experimental now but our [bytecode compare job](https://github.com/ethereum/solidity/blob/v0.8.17/.circleci/config.yml#L1469-L1504) still uses the legacy codegen. We should add extra runs with `--via-ir`.

I think it's enough to do this for CLI. We might also switch the JSON runs to `--via-ir` but I don't think it's necessary to run them for both codegens.

Note that solc-bi

[2022-09-28 19:25] cameel opened #13584 "Docstring style check in CI"
We should have a CI check that enforces the presence of docstrings on all files, classes and public functions. Possibly also for some other things like enums.

This is often pointed out in reviews and automating it would make them less tedious.

We'll need some kind of whitelist for now though because not all of the code strictly follows this rule and going back and writing proper docstrings would

[2022-09-28 19:26] cameel commented on #13583
@r0qs this might be a good task for you whenever you have some time.

[2022-09-29 01:14] xinbenlv opened #13585 "Feature Request: return the slot index for a given variable"
Dear Solidity dev community, just wanna ran this idea by you: Can we have a built-in method for solidity to return the slot index of a variable? Just like the `type(SomeInterface).interfaceId;` returns the interfaceId for the type `SomeInterface`, returning the slot index making it so much less error-prone when needing to work with SSTORE and SLOAD and other things. I am sure this information alre

[2022-09-29 04:48] 0xGeorgii commented on #7665
@cameel @matheusaaguiar PR #13586 was created please take a look

[2022-09-29 14:01] k06a commented on #12587
Would love to see `code` location modifier implemented!

[2022-09-29 14:10] gitpusha opened #13588 "Unexpected packed abi encoding in solidity abi.encode operation"
## Description
Today we stumbled upon a bug and digging deeper I was surprised to see that in one of our smart contracts an `abi.encode` resulted in what looks like an `abi.encodePacked` , which if true and not intended by the compiler is of course quite problematic.

My suspicion is that as soon as multiple inputs are supplied to `abi.encode` it defaults to running `abi.encodePacked`, instead.

#

[2022-09-29 14:23] sasha-computer commented on #13588
I worked with @gitpusha as well on this, so I have further code snippets/environment information to share if needed.

[2022-09-29 17:03] 0xGeorgii commented on #12244
@cameel is this still actual?

[2022-09-29 17:57] Sild commented on #11813
Hi, I went around this issue

TLDR: it does't work from the box: solidity does not compile after iwyu updates (some of includes are broken I guess)

Reproduction snippet:

[code]

What is the next expectation? Should I try to fix build and provide the correct config for `iwyu` here?

[2022-09-29 20:39] axic commented on #11813
@Sild can you share a commit with the changes? I'd be curious to see what changes iwyu did.

[2022-09-29 20:47] Sild commented on #11813
@axic sure https://github.com/ethereum/solidity/pull/13589

[2022-09-30 00:32] mauricedesaxe opened #13590 "Wrong behaviour achieved by example code - Voting example"
## Page

[Solidity by Example - Voting](https://docs.soliditylang.org/en/latest/solidity-by-example.html#voting)

## Abstract

In the example of the voting contract, the `delegate` method, at its very end, has this piece of code:

[code]

The above code does indeed compile, but doesn't achieve the wanted behaviour.

To exemplify what I mean, imagine: a dev would build on top of the example to impl

[2022-09-30 09:12] gitpusha commented on #13588
Closing this as I found a mistake in the `ethers.js` encoding we used.

This should have been

[code]

The `_typehash` is `bytes32` not `bytes`

Fixing this also makes the test go green ✅

[2022-09-30 09:12] #13588 closed, assigned to nobody

[2022-09-30 16:43] axic opened #13591 "[isoltest] Accepts unsupported parameters on `balance` and potentially other helpers"
[code]

The first and last line is the correct one, and isoltest fills out the correct figure.  The middle line has an unexpected parameter and isoltest puts `0` as a result.

[2022-09-30 16:44] axic commented on #13591
Ah, the `: 1` version expected an address.

[2022-09-30 16:44] #13591 closed, assigned to nobody

[2022-09-30 17:51] axic opened #13592 "[isoltest] Multiple emitted logs are rendered wrongly"
[code]

The two `emit` lines should be on separate lines.

[2022-09-30 19:51] mariagabrielacs123 commented on #12934
I made a pull request for the "Global Variables" section as a table, let me know if this was done correctly! @cameel

[2022-10-01 19:09] wjddnjstj opened #13596 "Pretty Format Opcode Output"
As of now, solidity compiler produces the output for the opcode file as one line (shown below)
<img width="816" alt="Screen Shot 2022-10-01 at 2 02 46 PM" src="https://user-images.githubusercontent.com/60459873/193424378-ee836d1e-e629-4cab-ab64-e76c1a923a96.png">

Is there any way the opcode file could be formatted or have an option to be prettified before it's produced?

An example of what I'm de

[2022-10-01 19:19] cameel commented on #13596
What is your use case?

If you want to see the bytecode in a more readable form, you can request the assembly with `solc --asm --debug-info none`:
[code]

This is is not identical to what you're requesting but might be close enough. As you can see above, it will also correctly distinguish between code and data and will also show separation between subassemblies. On the opcode list all of these loo

[2022-10-02 04:26] beauwilliams commented on #12825
I am getting this frequently. The LSP is not usable for myself. I can produce this be deleting some lines and undoing deletion. Have you found a workaround?

[2022-10-02 15:04] thedavidmeister opened #13597 "abi.decode failing with "Stack too deep" for a list of structs when optimizations are enabled"
## Description

Abi decoding `SomeStruct[]` fails with

[code]

Strangely, wrapping it in a struct with a `SomeStruct` field on it "fixes" the issue

https://github.com/beehive-innovation/rain-protocol/pull/452/files#diff-e5cf60434f03c13e62d93df0932957c2208a64a15065489486b9aea0d158e723R9

[code]

fails, as does

[code]

but this passes

[code]

The issue only appears with compiler optimizations en

[2022-10-02 15:05] thedavidmeister commented on #13597
cc @cameel

[2022-10-02 15:25] Sild commented on #11813
after cleanup iwyu_output from boost and bits additional includes, it's become better

[code]

but linker still fail somewhere
[code]

[2022-10-02 17:12] frangio opened #13598 "Remove warning about missing license header"
I want to open a debate about removing the compiler warning about missing license information, and in fact removing source code licensing concerns from the compiler entirely.

I believe this warning should never have been added in the first place. The motivation given in #7738 was that a license header would allow tools to auto-publish source code, presumably by automatically uploading it somewher

[2022-10-02 20:21] barakman commented on #12783
So what's the status on this? Still getting it on solc 0.8.17.

[2022-10-03 08:40] k06a commented on #13518
I would have been try to avoid all these unnecessary checks, which are helpful in 0.01% of cases but eats gas in 100% of the cases.

[2022-10-03 10:23] SaifAtom opened #13601 "Does it incur any issues if I change state variable visibility in ERC20Pausable?"
I have an issue with a function which need to access `_balances` mapping in parent contract - ERC20Pausable - but since it's declared private in that said parent contract i cannot access it.
my question is if i change it to public, does it have any serious repercussions ? or is it safe ?

[2022-10-03 12:21] clemlak opened #13602 "Cannot use `unchecked` keyword inside of an if statement without curly braces"
## Description

Using the keyword `unchecked` inside of an if statement without curly branches will trigger the following error: `ParserError: "unchecked" blocks can only be used inside regular blocks.`.

I think it's an issue with the parser, as I don't see any particular reason to prevent this situation from happening?

## Example

[code]

[2022-10-03 15:03] hrkrshnn commented on #13602
This is expected:

https://docs.soliditylang.org/en/v0.8.17/control-structures.html?highlight=unchecked#checked-or-unchecked-arithmetic

[2022-10-03 20:29] hydai opened #13603 "The storage layout of the internal function type"
## Description

Hi teams,

I am doing some research on the storage layout. According to the documents, the external function type is 24 bytes(20 bytes for the contract address and 4 bytes for the function selector). ref: [1], [2]

However, when I try to declare an internal function type, I found that the size is only 8 bytes. But I have no idea what's the meaning of these 8 bytes.

Is there any do

[2022-10-03 22:00] j05u3 commented on #13368
I believe there is probably significant work already done here: https://github.com/ethereum/solidity/pull/13468, including the hack mentioned by @ekpyron 🧐🤔 :
https://github.com/ethereum/solidity/blob/add_parser_support_for_code_data_location/libsolidity/parsing/Parser.cpp#L2388

[2022-10-04 01:50] xinbenlv opened #13605 "Feature request: MACRO"
A lot of language support macro. I wonder if it's considered to add macro to solidity?

One usage is in https://eips.ethereum.org/EIPS/eip-5453

[code]

[2022-10-04 02:22] Andy53 commented on #4617
I have submitted a [pull request](https://github.com/ethereum/solidity/pull/13606) to fix this issue. A small number of the automated tests are failing due to the fact that the output has changed when no contract is supplied. All other tests have passed.

[2022-10-04 05:58] 0xGeorgii commented on #12244
@cameel I see there was no final solution so I grab it to solve as a prerequisite for #12332

[2022-10-04 08:15] ekpyron commented on #13368
Yes, this issue is actively being worked on by the core compiler team - so it's not a particularly good choice for an external gitcoin grant...

[2022-10-04 08:23] TheOsch commented on #13368
:> Yes, this issue is actively being worked on by the core compiler team - so it's not a particularly good choice for an external gitcoin grant...

:-(

[2022-10-04 08:31] leonardoalt commented on #13555
I actually could not reproduce the issue. I tried with the pragma, and without the pragma with the model checker compiler options.

[2022-10-04 09:54] cameel commented on #13555
I think it's due to Z3 version on Arch. It segfaults for me with [`4.11.0-1`](https://archive.archlinux.org/packages/z/z3/z3-4.11.0-1-x86_64.pkg.tar.zst). Works with the current [`4.11.2-1`](https://archive.archlinux.org/packages/z/z3/z3-4.11.2-1-x86_64.pkg.tar.zst).

[2022-10-04 10:00] cameel commented on #12244
Yeah, it's still up for grabs. There was an attempt to solve it before but unfortunately I did not manage to find time to review it in the end. Hopefully this time @r0qs can help.

By the way, #12332 is completely unrelated. I only suggested this issue there because it was simpler.

[2022-10-04 10:04] TheOsch commented on #13368
Didn't notice that I'm approved hours ago, the email notification was late; So can I try to make it? I think I can make it by tomorrow.

[2022-10-04 10:10] cameel commented on #13605
We already have issues requesting this feature: #10 and #11745 (we should probably close one of them). If you think there's something here that was not mentioned there yet, please post it in a comment.

[2022-10-04 10:10] #13605 closed, assigned to nobody

[2022-10-04 10:20] cameel commented on #13603
We consider the interpretation of internal function pointer value to be an implementation detail, which is why this is undocumented. In the legacy codegen they're jump addresses (or a combination of two addresses to account for differences between construction and deployed bytecode). In the IR codegen they're just arbitrary IDs assigned to functions by the compiler.

I'm closing this since this do

[2022-10-04 10:20] #13603 closed, assigned to nobody

[2022-10-04 10:24] cameel commented on #12783
Sorry, no one is working actively on this due to other tasks with higher priorites.

If anyone wants to pick it up and work on it, feel free. It should be relatively easy to plug with an extra check in the type checker.

[2022-10-04 10:32] barakman commented on #12783
There are actually two different problems embedded in this issue:
1. `UnimplementedFeatureError` reported by the compiler with no line indication
2. No support by the compiler for copying an array of structs into storage

One the one hand, I guess that you could consider both as low-priority, since 1 only requires a bit of a "dig through" in order to find the error in the code, and 2 can be worked

[2022-10-04 11:30] cameel commented on #13174
Closing in favor of #11573.

[2022-10-04 11:30] #13174 closed, assigned to nobody

[2022-10-04 11:32] cameel commented on #11573
Repro from #13174:
[code]

[2022-10-04 11:51] cameel commented on #12783
I'm only speaking about the error message here. Copying is actually high priority and is one of the roadmap issues. It's just that it we don't think it's a good idea to allow doing it implicitly through an assignment. In #2435 we want to introduce special syntax for it to make it explicit.

[2022-10-04 12:47] ekpyron commented on #13368
As I was trying to say: there is nothing to take here - the change will be handled by the core team and is already in progress.
The gitcoin grant here is not coming from the compiler team, so I can't approve or disapprove anything, but there is little point in working on this, resp. creating a new PR on it.

[2022-10-04 14:06] cameel commented on #13602
As @hrkrshnn said, this is by design and not a bug. Should we treat this as a feature request or is the explanation satisfactory?

But, to be honest, I'm not sure why we even disallowed this. I don't see much risk in allowing this and it might make code more readable by removing an extra pair of unnecessary braces.

[2022-10-04 14:09] ekpyron commented on #13598
Hi @frangio! Thank you for sharing your thoughts on this - you may indeed have a point and we may want to revisit this.
However, since you're saying yourself that this issue is meant to "open a debate": the place that fits these types of discussions best would be the [Solidity Forum](https://forum.soliditylang.org/).
As such I'm closing this issue and would ask you to open a forum post about it in

[2022-10-04 14:09] #13598 closed, assigned to nobody

[2022-10-04 14:10] cameel commented on #11813
Just for some extra context since I see it wasn't posted here: we did try include-what-you-use and the results weren't very promising in terms of having it as a fire-and-forget PR check https://github.com/ethereum/solidity/issues/10269#issuecomment-1062802540.

[2022-10-04 14:13] clemlak commented on #13602
Looks like I missed the explanation in the documentation, my bad! However, I feel like we can then treat this as a feature request, as @cameel just mentioned, it can help improve the readability of the code.

[2022-10-04 14:21] cameel commented on #13601
You'll need to ask OpenZeppelin. This is a bug tracker for the Solidity compiler. We do not develop the ERC20 contracts.

Since this is not a bug report or a feature request, I'm closing it. Please try [OpenZeppelin forum](https://forum.openzeppelin.com/).

[2022-10-04 14:21] #13601 closed, assigned to nobody

[2022-10-04 14:39] molecula451 opened #13607 "413 Error in ERC20 Example in Yul section"
## Issue

The **"Open in Remix"** ERC20 Yul Example points to a **413** error latest docs version

- [x] Have I tried in different browsers?
- [x] Have I tried on a clean browser?
- [x] Have I tried on incognito mode?

## Page

[ERC20 Example Yul](https://remix.ethereum.org/?language=yul&version=0.8.17&code=b2JqZWN0ICJUb2tlbiIgewogICAgY29kZSB7CiAgICAgICAgLy8gU3RvcmUgdGhlIGNyZWF0b3IgaW4gc2xvdCB6ZXJ

[2022-10-04 14:46] cameel commented on #13607
Thanks for the report, but this is a known issue. Closing as a duplicate of #13302.

[2022-10-04 14:46] #13607 closed, assigned to nobody

[2022-10-04 14:47] Sild commented on #11813
I've got the same result at first.

Then possible it's better to close this issue?

[2022-10-04 14:53] cameel commented on #13302
To summarize what's left to do here:
- Find out what the URL length limit in CloudFlare is
- Set `MAX_SAFE_URL_LENGTH` to that limit: https://github.com/ethereum/solidity/blob/2ba8fc1db517f38cb0896ae3dc1870d6a151d424/docs/ext/remix_code_links.py#L7
- Adjust the plugin to make it omit Remix links when URL length exceeds `MAX_SAFE_URL_LENGTH`. Currently it issues a warning, which makes docs build fa

[2022-10-04 14:54] cameel commented on #13302
@r0qs I think this would also be a task for you.

[2022-10-04 14:55] frangio commented on #13598
Ok! Reposted here: https://forum.soliditylang.org/t/removing-warning-about-missing-license-header/1255

[2022-10-04 14:55] cameel commented on #11813
Right. I guess the work is done here. Thanks for confirming though!

[2022-10-04 14:55] #11813 closed, assigned to nobody

[2022-10-04 15:08] christianparpart opened #13608 "Extend AST FunctionCall to contain SourceLocation of named arguments."
Result from posted by @christianparpart in https://github.com/ethereum/solidity/pull/12790#discussion_r986998412_

In order to properly locate references of named function call parameters, we need to adapt the AST a bit.

This is not directly related to the LSP, but in the LSP we could make use of this information in order to properly find all references when when pointing to a named argument (or

[2022-10-04 15:32] #13233 closed, assigned to nobody

[2022-10-04 15:33] #13226 closed, assigned to nobody

[2022-10-04 15:35] k06a commented on #8612
What about "assembly libraries"? https://github.com/ethereum/solidity/issues/13472

[2022-10-04 16:17] cameel opened #13610 "Release automation"
There are multiple things we would like to automate in the release process to reduce the amount of error-prone manual steps on the [release checklist](https://github.com/ethereum/solidity/blob/develop/ReleaseChecklist.md). Here's what we could do:

### Must have
- [ ] **Creating a PR with binaries in solc-bin**.
    - Instead of having to manually submit binaries to [solc-bin](https://github.com/e

[2022-10-04 16:40] ekpyron commented on #13610
I'd say we should generally prefer https://github.com/ethereum/solidity/issues/9720 over automating preparing the source archive.

As for ``Publishing binaries on the github release page.`` we should check what permissions this requires (it's probably at least repo write) and actually also whether we can restrict current permissions (i.e. make it harder to just replace binaries on finalized past r

[2022-10-04 18:11] cameel commented on #13610
Well, just running the script to build seems simple enough. Might be worth doing it first anyway, just to automate that fully.

We should probably do it in github actions and just use the default token. Then we can make all tokens readonly by default and use the `permissions` keys in the action to explicitly only request that one permissions.

[2022-10-04 18:39] cameel commented on #8612
I think #9282 is meant to allow use very similar to "assembly libraries" (or rather "assembly free functions", but free functions are not much different from internal library functions, they are just not grouped into a namespace). The assembly functions are going to be visible globally in the whole file that contains them and you will also be able to import into other files via the normal import m

[2022-10-04 19:47] frangio commented on #13368
@natalietop seems to have set up the bounty.

[2022-10-05 04:44] haltman-at commented on #13425
Oops -- turns out I made a bad assumption when writing this issue... I thought all internal functions got indices.  Seems like in fact only ones that are pointed to get indices!  That changes things massively, and makes not having this much more of a problem.  Hoping this might possibly be done sooner rather than later?  To be clear, the important thing here is getting the indices, not getting a l

[2022-10-05 05:10] friskyfoxdk commented on #12807
Adding my vote for this as well, it would be useful even in instances where there is no state, like checking if the caller is a smart contract or not.

[2022-10-05 11:07] ekpyron commented on #13369
Similar to https://github.com/ethereum/solidity/issues/13368, this is not a good issue to be worked on with an external grant. @NatalieTop, did you open this gitcoin grant as well? It's very much appreciated that you're trying to help with the compiler development this way, but it would work much better, if we coordinated this a bit better up front :-).

For example, you could reach out to us via

[2022-10-05 11:23] #13362 closed, assigned to r0qs

[2022-10-05 12:44] ZumZoom commented on #12665
Here is a bit simpler example of the case when explicit interface overriding is unreasonably required:

[code]

`balanceOf` override fails with `Function needs to specify overridden contracts "ERC20" and "IERC20"`

[2022-10-05 20:49] cameel commented on #13608
@christianparpart Can you update the description to say more precisely what exactly needs to be added to the AST?

Also, changing the AST does not sound like a refactor. This will be visible to tools that export the AST.

[2022-10-05 20:51] cameel commented on #13608
Also, for anyone implementing this in the future: when this is done, we should add an LSP test case to make sure that the LSP now finds references to named arguments in cases like this:

[code]

[2022-10-05 21:02] cameel opened #13614 "Bytecode PR check in solc-bin fails on external PRs: `unknown revision or path not in the working tree`"
The bytecode PR check in solc-bin [assumes that PR branches are always available in the repo](https://github.com/ethereum/solc-bin/blob/199db16cc9b2af20c04536ff0b1c7bba21a874bf/.github/workflows/t-bytecode-compare.yml#L66-L71). This results in CI failures on external PRs, for example [5140692597](https://github.com/ethereum/solc-bin/actions/runs/3158544890/jobs/5140692597) (https://github.com/ethe

[2022-10-06 12:14] NunoFilipeSantos commented on #2240
Hi! 👋 This issue is stale, and for that reason we're closing it.
Feel free to reopen it or to contribute with a PR.

[2022-10-06 12:14] #2240 closed, assigned to nobody

[2022-10-06 13:25] NunoFilipeSantos commented on #395
Hi! 👋 This issue is stale, and for that reason we're closing it.
Feel free to reopen it or to [contribute with a PR](https://docs.soliditylang.org/en/latest/contributing.html#workflow-for-pull-requests).

[2022-10-06 13:25] #395 closed, assigned to nobody

[2022-10-06 13:26] NunoFilipeSantos commented on #3128
Hi! 👋 This issue is stale, and for that reason we're closing it.
Feel free to reopen it or to [contribute with a PR](https://docs.soliditylang.org/en/latest/contributing.html#workflow-for-pull-requests).

[2022-10-06 13:26] #3128 closed, assigned to nobody

[2022-10-06 13:26] NunoFilipeSantos commented on #3438
Hi! 👋 This issue is stale, and for that reason we're closing it.
Feel free to reopen it or to [contribute with a PR](https://docs.soliditylang.org/en/latest/contributing.html#workflow-for-pull-requests).

[2022-10-06 13:26] #3438 closed, assigned to nobody

[2022-10-06 13:26] NunoFilipeSantos commented on #4487
Hi! 👋 This issue is solved, and for that reason we're closing it.
Feel free to reopen it or to [contribute with a PR](https://docs.soliditylang.org/en/latest/contributing.html#workflow-for-pull-requests).

[2022-10-06 13:26] #4487 closed, assigned to nobody

[2022-10-06 13:27] NunoFilipeSantos commented on #4697
Hi! 👋 This issue is stale, and for that reason we're closing it.
Feel free to reopen it or to [contribute with a PR](https://docs.soliditylang.org/en/latest/contributing.html#workflow-for-pull-requests).

[2022-10-06 13:27] #4697 closed, assigned to nobody

[2022-10-06 13:27] NunoFilipeSantos commented on #5028
Hi! 👋 This issue is stale, and for that reason we're closing it.
Feel free to reopen it or to [contribute with a PR](https://docs.soliditylang.org/en/latest/contributing.html#workflow-for-pull-requests).

[2022-10-06 13:27] #5028 closed, assigned to nobody

[2022-10-06 13:28] NunoFilipeSantos commented on #5077
Hi! 👋 This issue is stale, and for that reason we're closing it.
Feel free to reopen it or to [contribute with a PR](https://docs.soliditylang.org/en/latest/contributing.html#workflow-for-pull-requests).

[2022-10-06 13:28] #5077 closed, assigned to nobody

[2022-10-06 13:29] NunoFilipeSantos commented on #5200
Hi! 👋 This issue is stale, and for that reason we're closing it.
Feel free to reopen it or to [contribute with a PR](https://docs.soliditylang.org/en/latest/contributing.html#workflow-for-pull-requests).

[2022-10-06 13:29] #5200 closed, assigned to nobody

[2022-10-06 13:29] NunoFilipeSantos commented on #3689
Hi! 👋 This issue is stale, and for that reason we're closing it.
Feel free to reopen it or to [contribute with a PR](https://docs.soliditylang.org/en/latest/contributing.html#workflow-for-pull-requests).

[2022-10-06 13:29] #3689 closed, assigned to nobody

[2022-10-06 13:30] NunoFilipeSantos commented on #4261
Hi! 👋 This issue is stale, and for that reason we're closing it.
Feel free to reopen it or to [contribute with a PR](https://docs.soliditylang.org/en/latest/contributing.html#workflow-for-pull-requests).

[2022-10-06 13:30] #4261 closed, assigned to nobody

[2022-10-06 13:31] NunoFilipeSantos commented on #717
Hi! 👋 This issue is stale, and for that reason we're closing it in favour of #12739 .
Feel free to reopen it or to [contribute with a PR](https://docs.soliditylang.org/en/latest/contributing.html#workflow-for-pull-requests).

[2022-10-06 13:31] #717 closed, assigned to nobody

[2022-10-06 13:55] NunoFilipeSantos commented on #7127
Hi! 👋
Closing this issue for the same reason as #7151.

[2022-10-06 13:55] #7127 closed, assigned to bshastry

[2022-10-06 13:59] NunoFilipeSantos commented on #7445
Hi! 👋 This issue is stale, and for that reason we're closing it for now.

[2022-10-06 13:59] #7445 closed, assigned to nobody

[2022-10-06 14:03] NunoFilipeSantos commented on #1511
Hi! 👋
Closing this issue for the same reason as #7387.

[2022-10-06 14:03] #1511 closed, assigned to nobody

[2022-10-06 14:03] sebastiantf commented on #12792
Just noticed similar behavior for an array instead of mapping:
[code]
Works as expected with an explicit getter function. But how/why is that different from the automatic getter function generated by the compiler for the public array/mapping? Aren't they the same essentially?

[2022-10-06 14:04] NunoFilipeSantos commented on #8536
Hi! 👋 This issue is stale, and for that reason we're closing it for now.

[2022-10-06 14:04] #8536 closed, assigned to nobody

[2022-10-06 14:16] NunoFilipeSantos commented on #5856
Hi! 👋 This issue is stale, and for that reason we're closing it for now.

[2022-10-06 14:16] #5856 closed, assigned to nobody

[2022-10-06 14:17] NunoFilipeSantos commented on #5660
Hi! 👋 This issue is stale, and for that reason we're closing it for now.

[2022-10-06 14:17] #5660 closed, assigned to nobody

[2022-10-06 14:18] NunoFilipeSantos commented on #6882
Hi! 👋 This issue is stale and lacking information, and for that reason we're closing it for now.

[2022-10-06 14:18] #6882 closed, assigned to nobody

[2022-10-06 14:18] cameel commented on #12792
The compiler tries to avoid generating getters that will return big amounts of data in one go and be very expensive (maybe even unusable). When you define your own getter, it's still a problem but it's up to you to decide what to do about that, the compiler won't stop you there.

[2022-10-06 14:20] NunoFilipeSantos commented on #4021
Hi! 👋 This issue is stale, and for that reason we're closing it for now.

[2022-10-06 14:20] #4021 closed, assigned to nobody

[2022-10-06 14:23] NunoFilipeSantos commented on #7029
Hi! 👋 This issue is stale, and for that reason we're closing it for now.
Feel free to reopen it or to [contribute with a PR](https://docs.soliditylang.org/en/latest/contributing.html#workflow-for-pull-requests).

[2022-10-06 14:23] #7029 closed, assigned to nobody

[2022-10-06 14:24] NunoFilipeSantos commented on #5902
Hi! 👋 It seems the information is actually present in the docs.

[2022-10-06 14:24] #5902 closed, assigned to nobody

[2022-10-06 14:24] NunoFilipeSantos commented on #5961
Hi! 👋 This issue is stale, and for that reason we're closing it for now.
Feel free to reopen it or to [contribute with a PR](https://docs.soliditylang.org/en/latest/contributing.html#workflow-for-pull-requests).

[2022-10-06 14:24] #5961 closed, assigned to nobody

[2022-10-06 14:25] NunoFilipeSantos commented on #3784
Hi! 👋 This issue is stale, and for that reason we're closing it for now.
Feel free to reopen it or to [contribute with a PR](https://docs.soliditylang.org/en/latest/contributing.html#workflow-for-pull-requests).

[2022-10-06 14:25] #3784 closed, assigned to nobody

[2022-10-06 14:27] NunoFilipeSantos commented on #4278
Hi! 👋 Closing in favor of #5202, which is more detailed.

[2022-10-06 14:27] #4278 closed, assigned to nobody

[2022-10-06 14:28] NunoFilipeSantos commented on #8676
Hi! Looks like this issue was solved.

[2022-10-06 14:28] #8676 closed, assigned to nobody

[2022-10-06 14:30] NunoFilipeSantos commented on #7667
Hi! 👋 This issue is stale, and for that reason we're closing it for now.
Feel free to reopen it or to [contribute with a PR](https://docs.soliditylang.org/en/latest/contributing.html#workflow-for-pull-requests).

[2022-10-06 14:30] #7667 closed, assigned to nobody

[2022-10-06 14:31] NunoFilipeSantos commented on #6839
Hi! 👋 This issue is stale, and for that reason we're closing it for now.
Feel free to reopen it or to [contribute with a PR](https://docs.soliditylang.org/en/latest/contributing.html#workflow-for-pull-requests).

[2022-10-06 14:31] #6839 closed, assigned to nobody

[2022-10-06 14:32] NunoFilipeSantos commented on #4421
Hi! 👋 This issue is stale, and for that reason we're closing it for now.
Feel free to reopen it or to [contribute with a PR](https://docs.soliditylang.org/en/latest/contributing.html#workflow-for-pull-requests).

[2022-10-06 14:32] #4421 closed, assigned to nobody

[2022-10-06 14:56] nikola-matic commented on #13543
We already have these:
[code]

[2022-10-06 15:13] wschwab commented on #12067
I'm coming in late to this conversation, but am exploring the possibility of using `verbatim` for testing [EIP-3074](https://eips.ethereum.org/EIPS/eip-3074). I originally posted in the Solidity forum [here](https://forum.soliditylang.org/t/experimental-pragma-for-eip-3074/) about experimental 3074 support, and was directed here by @cameel , who thought this to be a better route than experimental

[2022-10-06 15:42] cameel opened #13615 "Project board / issue / PR automation"
Replaces #8969 as the catch-all issue for board automation.

There have been a lot of ideas flying around related to boards so I thought I'd gather them in a single issue. Ultimately we may want to split it into smaller issues if some parts turn out to require significantly more effort but I think most of these will be fairly easy and the biggest bottleneck here is making decisions about what exac

[2022-10-06 15:44] cameel commented on #8969
We'll probably want to close this in favor of #13615.

[2022-10-06 16:40] brockelmore commented on #12067
One option is to just disallow the optimizer to be on if verbatim is used. Then slowly as the team analyzes what optimizations are possible for given annotations, they can be added. i.e.:
[code]

when there are experimental opcodes, the user defines it as such. If that flag isn't present, stack analysis can be done. If it isnt present and the user uses an unknown opcode, the compiler would report

[2022-10-06 18:38] cameel opened #13616 "`check_style.sh` fails to post comments in external PRs"
Our `check_style.sh` script is supposed to post the errors it finds as a comment in the PR. E.g. https://github.com/ethereum/solidity/pull/10653#issuecomment-748128097. Looks like it does not work with external PRs, due to permission issues. For example in [1184923](https://app.circleci.com/pipelines/github/ethereum/solidity/26748/workflows/45c1a6ca-bb58-40fe-ad72-4cc8681d1cf3/jobs/1184923) from #

[2022-10-06 18:45] cameel opened #13617 "Make whitespace errors from `check_style.sh` easier to understand for contributors"
The way `check_style.sh` reports whitespace problems is often confusing to contributors and sometimes even for us. For example in [1184923](https://app.circleci.com/pipelines/github/ethereum/solidity/26748/workflows/45c1a6ca-bb58-40fe-ad72-4cc8681d1cf3/jobs/1184923) from #13595 you can see it mentioning trailing whitespace but the whitespace itself is not visible and the unrelated error at the end

[2022-10-06 18:47] cameel commented on #13615
Two more issues that are related to automating PRs, though IMO not enough to be a part of the list above:
- #13617
- #13616.

[2022-10-06 19:22] cameel commented on #12533
@haltman-at @fvictorio With #9627 implemented it's now possible to disable pretty much all optimizations without disabling stack optimization. You can do this by setting `--yul-optimizations` (on the CLI) or
`settings.optimizer.details.yulDetails.optimizerSteps` (in Standard JSON) to `:`. An empty string for compatibility still means that the cleanup sequence is there but if you include a colon, y

[2022-10-06 19:27] cameel opened #13618 "Cleanup sequence not documented for StandardJSON"
#13376 added support for modifying optimizer's cleanup sequence. It's possible to do that both on the CLI and via StandardJSON with `settings.optimizer.details.yulDetails.optimizerSteps` but looks like we did not update StandardJSON [Input Description](https://docs.soliditylang.org/en/latest/using-the-compiler.html#input-description) to mention that. The comment for the option should mention that

[2022-10-06 19:28] cameel commented on #9627
I just noticed that we did not update the docs for StandardJSON to mention the cleanup sequence: #13618.

[2022-10-06 19:56] hrkrshnn commented on #6765
Was talking with @0age about improving codesize in Seaport. Turns out, this optimization would really improve contracts hitting size limits.

[2022-10-06 20:13] cameel commented on #9842
Is this task complete now? The Yul optimizer steps are now documented. The libevmasm optimizer also has a more detailed description in [Opcode-Based Optimizer Module](https://docs.soliditylang.org/en/latest/internals/optimizer.html#opcode-based-optimizer-module), though I'm not sure if it describes all the steps or just the inliner.

[2022-10-07 19:45] novaknole commented on #10381
Hi all.

Any news on this ?

[2022-10-08 11:15] nonogakhi commented on #12825
I have similar issue(0.8.17) with solc. I switched from lunarvim to astronvim which uses mason-lspconfig out of the box. With that I install [solidity-ls](https://github.com/qiuxiang/solidity-ls) through :LspInstall solidity which for the moment is more complete.

[2022-10-10 04:05] lee8710 opened #13620 "Conversion of shorter string literals to longer fixed bytes is not disallowed as stated in the docs"
## Page

https://docs.soliditylang.org/en/latest/types.html#conversions-between-literals-and-elementary-types

## Abstract
`bytes2 c = hex"12"; //` seems work fine in Remix with lastest version complier

![1665374593152](https://user-images.githubusercontent.com/11495469/194797804-8e4a7f20-0ca4-4db5-95b0-1d5edab8ee65.png)

## Pull request

[2022-10-11 11:31] hrkrshnn opened #13623 "Remove redundant checks for lower bounds of `calldatasize() > 3`"
The contract
[code]
generates
[code]

The revert in ` if slt(add(calldatasize(), not(3)), _2) { revert(_2, _2) }` is unreachable. We should remove this.

There are two ways to do this:

1. The check for `calldatasize` lower bounds should only be done if there is at least one parameter.
2. Build a symbolic solver that can infer this property.

[2022-10-11 11:36] fvictorio commented on #12533
I get this error if I do that:

[2022-10-11 11:41] hrkrshnn opened #13624 "Optimize `slt(add(X, A), B)` by a corresponding `lt` or `gt`"

[2022-10-11 11:43] fvictorio commented on #13496
Also ran into this. One of our tests uses a big contract and it fails when run wiht viaIR enabled.

[2022-10-11 11:56] emretepedev commented on #12533
yulDetails is missing:  settings.optimizer.details.**yulDetails**.optimizerSteps.

[2022-10-11 12:39] cameel commented on #12533
Ah, wait. My bad. I was convinced that this feature already went into 0.8.17 but I now realized that we only merged it shortly after the release. Sorry for the confusion.

In that case maybe you could try one of the recent builds from our CI? E.g. [this one from `develop`](https://app.circleci.com/pipelines/github/ethereum/solidity/26837/workflows/bb0017c1-0ec1-4e37-bbe1-aaea4806836a/jobs/1189239/

[2022-10-11 12:41] cameel commented on #13496
Ok then, maybe we should bump the priority here. I thought it would affect only really pathological cases unlikely to happen in practice.

[2022-10-11 12:55] leonardoalt commented on #12533
I'm sure optimizerSteps is already there, I've been using "optimizerSteps: '' " for a while. I think he's missing yulDetails in the field chain.

[2022-10-11 15:44] cameel commented on #12533
Yeah, `optimizerSteps` is there but in 0.8.17 it's only the part of the sequence that happens before the stack compressor. The new feature lets you put `:` in it and replace the cleanup sequence that happens after the stack compression.

Actually, it could be that clearing the main sequence is already good enough for Hardhat - might be worth a try - but still, it's not clearing the whole sequence.

[2022-10-12 21:24] leonardoalt opened #13628 "CBOR metadata option warning differs in JSON vs CLI"
In the CLI, using `--no-cbor-metadata` and `--metadata-hash ipfs` at the same time will issue a warning:

[code]

However, doing the same via standard JSON does not:

[code]

gives the output below which doesn't contain the warning:

[code]

## Environment

- Compiler version: latest `develop`

[2022-10-13 10:12] oliversavio commented on #12825
Similar issue. The day I installed it it worked just fine, but after a restart I cannot get this to work. Fails as described above.

NeoVim v0.7.2
solc 0.8.17

installed via Mason.

[2022-10-13 12:18] duralsh commented on #13212
it is not purely cosmetics, it prevents scope leakage

[2022-10-13 16:12] trevorgjohnson commented on #12825
Hey @oliversavio, I recommend using [solidity-ls](https://github.com/williamboman/mason.nvim/pull/466) for the time being that was just added to mason.nvim if you use it. It's been working great for me until the solc lsp gets fixed

[2022-10-13 17:52] gatsbyz commented on #8133
`docker:false` in `truffle-config.js` works!

defined [here](https://trufflesuite.com/docs/truffle/reference/configuration/#solc).
[code]

[2022-10-13 18:11] pcaversaccio commented on #12996
I would like to highlight as part of this discussion a recent reentrancy issue on `view` functions. Some documentation on this:
- https://chainsecurity.com/heartbreaks-curve-lp-oracles/
- https://chainsecurity.com/curve-lp-oracle-manipulation-post-mortem/
- https://forum.makerdao.com/t/curve-lp-token-oracle-manipulation-vulnerability-emergency-response-postmortem/18011
- https://forum.makerdao.com

[2022-10-13 20:22] nickshatilo commented on #12825
Also having this issue. Would really appreciate this getting fixed!

[2022-10-13 20:40] gnidan commented on #13425
@ekpyron pinging you because you told me to

[2022-10-14 00:31] lukehutch commented on #12996
Core to this problem is the issue that contract storage reads and writes can be interleaved across inter-contract calls. It seems to me that there would be two ways to prevent this issue, both of which would require EVM changes:

(1) Deny read access to the storage of a contract after the first attempt to write to the contract's storage, until the end of the transaction. This could be switched on

[2022-10-15 10:04] johnfawole commented on #11522
Hi, I am using v 0.8.17 and it is still bringing this error. Lol.

[2022-10-15 23:12] timweri commented on #13550
Hi. I'm looking at this issue. Just want to confirm something, say I have this Yul code:
[code]

Is this output from `solc --yul test.sol` what is wanted as pretty-printed Yul?
[code]

Or is this what we are looking for:
[code]

[2022-10-17 09:02] #13543 closed, assigned to nobody

[2022-10-17 09:11] nikola-matic opened #13630 "Invalid NatSpec tests placed in the wrong directory"
NatSpec tests are located in `test/libsolidity/syntaxTests/natspec` and `test/libsolidity/syntaxTests/natspec/invalid`. It follows then that our happy cases should be located in the root directory (just `natspec`), and that cases which generated errors should be placed in `natspec/invalid`.

At the moment however, the vast majority of test cases in the root directory (`natspec`) are in fact invali

[2022-10-19 12:45] cameel commented on #13550
Good question. I think it might be better for the formatter not to add the `object` if it's not there because then it would have to come up with a name and this could affect the meaning of the code. For example `datasize()` should fail if the object you're referencing does not exist - but if you happen to reference `"object"`, and the formatter adds it, it will compile, potentially obscuring a bug

[2022-10-19 12:49] cameel commented on #11522
@johnfawole Can you post a snippet that reproduces it?

Also are you 100% sure you're using 0.8.17? How are you installing the compiler? Can you reproduce it with a binary from the [0.8.17 release](https://github.com/ethereum/solidity/releases/tag/v0.8.17)?

[2022-10-19 14:43] crucialfelix commented on #13523
This error happens running Deno scripts on macos with M1.  It's nothing to do with solidity per se.

[2022-10-19 15:50] cameel commented on #13523
Thanks for confirming @crucialfelix.

In that case I'm going to close this.

[2022-10-19 15:50] #13523 closed, assigned to nobody

[2022-10-19 16:56] nervodatascience opened #13634 "I have an error when trying to carry out flash loans aave on the polygon network"
[code]

[2022-10-19 18:56] cameel commented on #13634
This is not the right place for asking support questions. Please try asking on the [#solidity](https://gitter.im/ethereum/solidity)  channel. The bug tracker is meant for reporting bugs in the compiler or requesting new features.

[2022-10-19 18:56] #13634 closed, assigned to nobody

[2022-10-19 19:21] #13628 closed, assigned to hrkrshnn

[2022-10-19 22:58] hiroshi-yamamoto-dublr opened #13637 ""ProviderError: HttpProviderError" does not show error message"
## Description

The error message for `ProviderError` needs to include `error.message`.

If I run the following code, and the contract deployment exceeds the block gas limit:

[code]

then I get

[code]

However if I run the following code, the "exceeds block gas limit" error message is shown:

[code]

then I get

[code]

## Environment

- Compiler version: 0.8.17
- Target EVM version (as per comp

[2022-10-20 07:22] Rassska commented on #13602
Hey, that looks amazing, can I try to work on that?

[2022-10-20 12:51] 0xGeorgii commented on #12244
@cameel I would like to hear a strategic approach for this. As I see there is no way to simply substitute the current version with the new one. So there are two options either leave it as is or rewrite this piece of code. I can proceed with the second one if it makes sense.

[2022-10-20 13:16] cameel commented on #13602
Sorry, but we have not yet decided whether to implement this. Like I said, the current design was intentional and there were probably some good reasons for it. I think it could be changed but we'd have to get some consensus on that first.

This is also pretty low priority for us but if you'd like to move discussion on this forward, you can always drop in on one of our [team calls](https://docs.sol

[2022-10-20 13:29] cameel commented on #13637
Hello. Thanks for reporting but this does not look like an issue in the compiler. First, it's a runtime error and the compiler does not run your code, it only produces the bytecode to be run. Second, the compiler does not produce these JS stack traces or error messages. This looks more like a problem with [ethers.js or one of its dependencies so I recommend asking there](https://github.com/ethers-

[2022-10-20 13:29] #13637 closed, assigned to nobody

[2022-10-20 14:23] #13630 closed, assigned to nobody

[2022-10-20 18:42] cameel commented on #10381
Not yet, other that we do consider this pretty important so it's on our roadmap, along with other high-impact features. It's waiting for its turn.

[2022-10-20 18:50] cameel commented on #13558
I'm going to close this since the issue provides no information about the problem. Feel free to reopen if you can show how to reproduce it with the compiler. As it is, it sounds more like a configuration problem with the framework.

[2022-10-20 18:50] #13558 closed, assigned to nobody

[2022-10-20 19:19] nervodatascience opened #13641 "I have an error when trying to carry out flash loans aave on the polygon network"
I have an error when running flash laons aave on the polygon network .. can anyone help me ... here is my code

[code]

[2022-10-20 19:48] cameel commented on #13641
As I said in https://github.com/ethereum/solidity/issues/13634#issuecomment-1284442295, the bug tracker is not a good place to ask for help debugging your code. Please ask on #solidity. You can also try [Ethereum StackExchange](https://ethereum.stackexchange.com).

[2022-10-20 19:48] #13641 closed, assigned to nobody

[2022-10-20 21:26] Andy53 commented on #13121
This is currently in CMakeLists:
[code]
I think this covers this issue however if that is not the case can someone please elaborate on where this is lacking? I have been able to build solidity using version `4.11.0` and `4.9.1`. Both built however the only issue I ran into is that when building Z3 from source or using the latest release they cause an error since they are newer than `4.11.0` (`4.11

[2022-10-21 12:06] #13497 closed, assigned to nikola-matic

[2022-10-21 13:47] #13506 closed, assigned to r0qs

[2022-10-21 17:01] cameel commented on #13253
Why not just use [`ServerCapabilities::experimental`](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#serverCapabilities) for advertising features that are, well, experimental? Wouldn't that be much simpler and avoid this weird dynamic capability negotiation?

[2022-10-21 17:17] Aomaf commented on #3385
just remove the comma from the last element.
(worked for me)

[2022-10-21 17:30] cameel commented on #13623
Given that (1) is just a simple `if` in the codegen, I think that waiting for the solver would be a bit of an overkill here :)

By the way, `if iszero(lt(calldatasize(), 4))` is redundant too. At least as long as the last byte of the selector is non-zero (and this can be determined at compilation time).

[2022-10-21 17:38] cameel commented on #13620
Thanks for the report, but the documentation is correct. `hex"12"` is a hex string literal of length 1 and cannot be assigned to a value of type `bytes2` (length 2). It may look like it has 2 characters but in such a literal each 2 digits represent a single byte. Here it contains a single character with ASCII code 12, i.e. the "form feed", often represented with the `\f` escape sequence. It's not

[2022-10-21 17:54] cameel commented on #13620
Ah, wait. I misinterpreted your report because you put part of your description in the title and I missed it. Thought you were pointing out that this should be allowed and it's not.

Yeah, this looks like a bug. I checked and it does compile. Both with hex and non-hex literals. Literals are convertible to fixed bytes not only when they're the same exact length but also when they're shorter. And ap

[2022-10-21 18:53] hrkrshnn commented on #13623
Why? `calldatasize` is dynamic and can only be known at runtime? @cameel

[2022-10-21 22:31] cameel commented on #13623
Because if it's shorter than 4 bytes, `if eq(0x0c55699c, shr(224, calldataload(_2)))` will never be true so the code will lead to the same revert.

[2022-10-22 15:56] hrkrshnn commented on #13623
Ah I see. We can only do that change in codegen if there is no function that has a selector 0.

It's also worth thinking if that check should be delayed to the end of the function dispatch.

[2022-10-23 02:50] antoncoding commented on #13143
I think this is a good feature to have! useful when you're overriding interface and a virtual contract

[2022-10-23 19:52] dalechyn opened #13645 "Define storage variables in the constructor"
## Abstract
You can't implicitly define storage variables in the constructor and have to define ones explicitly.

It forces developers to **always** define the state variables explicitly:
[code]

Such not only expands the overall source size but also creates possible security flaws when dealing with **underscores**. There are plenty of cases when developers have forgotten to put one, leading to _i

[2022-10-24 11:07] NunoFilipeSantos commented on #12739
Hi @OmarTawfik! 👋 I'm Nuno the new TPM for the Solidity team and I would love to know if you have an update regarding this issue since May?

Is there anything we can help you with here?

[2022-10-24 11:32] cameel commented on #13623
I'd say more generally, if the selector does not end with a zero byte (otherwise a truncated selector in calldata might match).

I think we would risk going into the wrong branch with truncated calldata so probably no.

[2022-10-24 12:00] chaals commented on #12739
Hi @NunoFilipeSantos - thanks for bumping this. @OmarTawfik I'm potentially interested in helping out here as I know there is a lot of work. I've edited W3C specs including the versioned HTML 5.x series, as well as EEA specs.

As well as the fact that there needs to be a proper changelog between versions, I think it would be helpful to build it and make it available as the changes are under discus

[2022-10-24 17:54] cameel commented on #12244
@GeorgePlotnikov We need something that's simple and low on maintenance. We're fine with adjusting our script to fit the new library, but we'd rather not have a big piece of boilerplate to do one simple thing. That script is already too big as it is. Basically, we need to find out what is currently the canonical way to calculate an IPFS hash of a file and do that. What we ended up with in https://

[2022-10-24 21:15] alcuadrado commented on #12533
I mentioned this at our meeting in Bogota, but I want to bring it up again: can `viaIR: true` `"optimizer": {"enabled": false }` be an alias to "only do variable spilling"? I think that's the behavior most users will expect.

[2022-10-24 22:54] OmarTawfik commented on #12739
Hi all. Glad to see the Solidity team growing!

So far, we have focused on the syntax/grammar spec, and we are working next on cross-version testing for a large number of open source/publicly available contracts, to make sure our current multi-version grammar is correct, and we captured everything. It is not done yet, but we are making good progress, and we are looking next into publishing the gra

[2022-10-25 07:02] hrkrshnn commented on #13623
Why zero byte? @cameel

[2022-10-25 13:17] bshastry opened #13652 "zero-length array types in expression context do not raise type errors"
[code]

throws

https://github.com/ethereum/solidity/blob/84cdcec2cfb1fe9d4a9171d3ed0ffefd6107ee42/libsolidity/codegen/ABIFunctions.cpp#L1174

Repro

[code]

[2022-10-25 13:30] bshastry opened #13653 "[Sol->Yul] ICE because IR generator cannot parse location specification"
Repro:

1. Create a file called `p @src 0:` as follows

[code]

2. Compile said file via IR

[code]

throws

https://github.com/ethereum/solidity/blob/84cdcec2cfb1fe9d4a9171d3ed0ffefd6107ee42/libsolidity/codegen/ir/IRGenerator.cpp#L112

[2022-10-25 16:14] cameel commented on #13623
Because otherwise when you send e.g. `0x112233` in calldata it would match selector `0x11223300`. The size check is only redundant if the selector does not end with a zero. Otherwise zeros read past the end could be mistaken for actual zeros sent by the client.

[2022-10-25 17:58] r0qs commented on #8969
Closing in favor of https://github.com/ethereum/solidity/issues/13615

[2022-10-25 17:58] #8969 closed, assigned to r0qs

[2022-10-25 19:31] #13592 closed, assigned to nobody

[2022-10-26 12:20] 0xGeorgii commented on #7665
@cameel now it can be closed I guess

[2022-10-26 12:41] nikola-matic commented on #4617
[code]
@chriseth what is the desired behaviour in case of abstract contracts/interfaces?

[2022-10-26 12:57] #7665 closed, assigned to nobody

[2022-10-26 13:21] 0xGeorgii commented on #7665
cool, thanks @matheusaaguiar for helping

[2022-10-26 13:30] NunoFilipeSantos commented on #13653
@bshastry what is the priority of this bug (High, Medium, Low)?

[2022-10-26 13:30] NunoFilipeSantos commented on #13652
@bshastry what is the priority of this bug (High, Medium, Low)?

[2022-10-26 14:21] cameel commented on #4617
I'd say they should not be treated as contracts. They do not produce any artifacts. I guess this should be no different from having a file that only has enum definitions or is empty.

[2022-10-26 14:38] bshastry commented on #13653
I would say Low because a legitimate user is unlikely to name a source file as in the original report.

[2022-10-26 14:39] bshastry commented on #13652
I would say Low because it is unlikely a legitimate user would try to decode an empty string into a zero length array.

[2022-10-26 16:05] Krish-bhardwaj commented on #13552
Hi @cameel i have been doing open source contribution for a long time and i have worked on solidity language , i would like to push my self to solve  some more complex problem in Open source projects like this if you can guide and assign me this issue it would be really help full
Thanks in advance

[2022-10-26 16:14] cameel commented on #13652
Output:
[code]

This started happening in 0.8.8.

The `[0]` part seems important here. I think it should actually be a type error since `int[0]` is not a valid type (i.e. you cannot have a variable of this type). So given that, impact would be indeed low - this code would not work even if it wasn't causing an ICE.

But there's another case that's a bit more worrying:
[code]
This compiles just fine

[2022-10-26 16:38] cameel commented on #13552
Maybe you could drop by at the [#solidity-dev](https://app.element.io/#/room/#ethereum_solidity-dev:gitter.im) channel to discuss this first? This is an easy issue but it's also very low priority so I'd rather find something more relevant for you. But this depends on how comfortable you are with C++ so we should talk a bit first.

[2022-10-26 17:48] nventuro commented on #10698
Are there any concrete plans for this feature?

[2022-10-27 00:38] mikebolt commented on #10
I agree with @fulldecent that preprocessing can be done outside of Solidity.

I still think this is really important because the appropriate use of preprocessors could save millions of dollars or more in gas fees! Because solpp and psol appear to be dead, I think developers should use something else that is STANDARD and SIMPLE so developers don't need to install a bunch of different tools and so t

[2022-10-27 01:01] fulldecent commented on #10
There is a very standard and very simple solution. The C pre processor.

It does `#ifdef`, which is 95% or what's needed everywhere.

Plus everybody already has it already.

---

But still I'd like to see a concrete use case that is helped by a preprocessor otherwise why is this issue still open?

[2022-10-27 01:36] mikebolt commented on #10
OpenZeppelin wrote their own [code generator](https://github.com/OpenZeppelin/contracts-wizard/tree/master/packages/core/src), and anyone who wants to work on it has to learn TS and figure out how their code works.

[2022-10-27 01:54] wjmelements commented on #10
Macros
Imports
Conditionals

Have you never programmed with macros before? Every language should have them. The alternative is copypaste boilerplate. Have a look at the [status quo](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/utils/structs/EnumerableSet.sol). Some kind of template code is necessary; macros are the best because they can do more than type substitutio

[2022-10-27 02:46] Krish-bhardwaj commented on #13552
Yes sir I am comfortable in cpp I have been doing competitive programming for a long time and I have used cpp over there rest it will be better for me if I solve a low priority issue first as this can give me some time to learn new this also rest it's up to you if you can guide me I would take up this issue and solve it.

[2022-10-27 09:41] hrkrshnn opened #13656 "Errors from the base contracts can't be statically accessed from the inherited contracts"
[code]

[2022-10-27 11:47] cameel commented on #13552
The problem with low priority issues though is that we get so many PRs solving them that we're currently struggling to get through the backlog (65 open PRs now, down from ~100 not so long ago) and they're taking the team's attention away from the real stuff we should be working on. We do appreciate contributions, but I'd rather find you something related to our current roadmap than this random iss

[2022-10-27 12:09] hrkrshnn commented on #13656
For comparison, the following is valid:
[code]

[2022-10-27 12:30] NunoFilipeSantos commented on #13656
@hrkrshnn what is the impact of this bug (High, Medium, Low)?

[2022-10-27 12:31] NunoFilipeSantos commented on #13570
@bshastry what is the impact of this bug (High, Medium, Low)?

[2022-10-27 12:33] hrkrshnn commented on #13656
@NunoFilipeSantos It's low. The code should compile, but it currently doesn't. But it should be fairly easy to fix this.

[2022-10-27 12:46] majkic99 opened #13658 "abi.decode() doesn't revert when sent more data then Struct needs"
<img width="721" alt="image" src="https://user-images.githubusercontent.com/60391069/198287088-a0ec1db4-4399-4f33-84e3-52f8f40cc6fc.png">

bytest = "0x000000000000000000000000000000000000000000000000000000000000dead0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000dead000000000000000000000000000000000000000000000000000000000

[2022-10-27 13:22] NunoFilipeSantos commented on #13216
@bshastry what is the impact of this bug (High, Medium, Low)?

[2022-10-27 13:22] NunoFilipeSantos commented on #13180
@bshastry what is the impact of this bug (High, Medium, Low)?

[2022-10-27 13:25] NunoFilipeSantos commented on #12400
Hi @cvcook7! We're closing this issue due to inactivity. If @cameel's suggestion didn't help you, feel free to reopen it. Thank you!

[2022-10-27 13:25] #12400 closed, assigned to nobody

[2022-10-27 13:33] NunoFilipeSantos commented on #12614
Hi @fulldecent ! Would you be able to provide an update?

[2022-10-27 14:09] NunoFilipeSantos commented on #12228
Hi @smartcontracts! 👋 We believe this issue is fixed on our newest versions, can you try to reproduce it?

[2022-10-27 14:31] cameel commented on #13570
The bug seems to have been introduced in 0.8.4.

Slightly simpler repro:
[code]
[code]
The problem disappears when the assembly block is not using some variable from the surrounding Solidity code.

I'd say impact is `low` to `medium`. Having this many return variables is not common but not impossible and I can't see a good workaround other than removing at least one return value.

@bshastry I woul

[2022-10-27 14:51] cameel commented on #13552
@Krish-bhardwaj How about #13652?

[2022-10-27 14:57] cameel commented on #12533
Not sure if `"optimizer": {"enabled": false}` is the best way to achieve that but I do think that an easier way to enable this mode is a good idea.

But before we do that, I think we should first hear from you whether this mode is actually enough to work around the root issue here.

[2022-10-27 15:17] bshastry commented on #13570
I'd say low mostly because of the number of variables involved. Maybe there's a case for medium if this would be encountered often in via Yul compilation but so far I've not seen that.

[2022-10-27 16:20] ekpyron commented on #12533
I actually misunderstood you in Bogota on this then and thought you wanted something more along the lines of what @cameel proposes, i.e. an independent simple way to enable "only stack-to-memory, no other optimizations".
But you do have a point in that it would actually make sense for ``viaIR: true`` and ``"optimizer": {"enabled": false }`` itself to behave like that - since it's a prerequisite fo

[2022-10-27 16:24] cameel commented on #12533
We could also introduce explicit optimization levels. Internally `enabled: false` does not even mean completely disabling the optimizer. It's just the "minimal" level. Which has almost everything disabled but is still a notch above "none".

[2022-10-27 19:51] smartcontracts commented on #12228
Nice! Can confirm this is fixed in versions >=0.8.12

[2022-10-27 19:51] #12228 closed, assigned to nobody

[2022-10-27 20:27] axic opened #13661 "`bytes`/`string` literal concatenation"
In some languages subsequent string literals are concatenated prior to compilation, which proves useful for containing large amounts of verbatim text in source code, while splitting it across multiple lines or logical boundaries.

One good example for Solidity is NFT metadata-JSON and SVG generation, where text is built up programatically. Current best practice is use `string.concat` and break log

[2022-10-27 23:07] NunoFilipeSantos commented on #12228
Thank you for confirming.  Cheers! 🙌

[2022-10-28 03:21] hrkrshnn commented on #13658
This is expected behaviour. The abi standard allows having more data than what's required. This is also used by some contracts in the mainnet. Closing this. Feel free to reply if you have any questions.

[2022-10-28 03:21] #13658 closed, assigned to nobody

[2022-10-28 04:01] hrkrshnn commented on #13661
Random comment: we should also be moving these string into `code` and use `codecopy`, rather than `mstore(...)` with 32-byte chunks.

[2022-10-28 09:28] Amxx opened #13662 "Allow overloading of custom errors"
## Abstract

Allow custom error with the same name, but different parameter, to be declared

## Motivation

According to [this blog post](https://blog.soliditylang.org/2021/04/21/custom-errors/), custom errors are encode similarly to function call.

However, declaring
[code]
result in an error `DeclarationError: Identifier already declared`.

This should be allowed IMO.

## Backwards Compatibility

[2022-10-28 09:55] bshastry commented on #13216
I would say low if at all. There is the possibility that this is not a bug because overwriting the free memory pointer is essentially undefined behavior.

[2022-10-28 09:56] bshastry commented on #13180
I would say low because I have not been able to find smart contracts that read from a storage array via inline assembly.

[2022-10-28 11:41] Krish-bhardwaj commented on #13652
Hi @cameel I would like to get started with this issue can you give me a brief overview of how to get started with this

[2022-10-28 12:02] cameel commented on #13652
@Krish-bhardwaj Take this example:
[code]
It currently produces an error:
[code]

The example from this issue should be reporting the same error.

The error is reported by [`DeclarationTypeChecker::endVisit(ArrayTypeName)`](https://github.com/ethereum/solidity/blob/v0.8.17/libsolidity/analysis/DeclarationTypeChecker.cpp#L280-L327). Probably one of the conditions in that function makes it skip chec

[2022-10-28 13:53] Krish-bhardwaj commented on #13652
@cameel before this i have never worked on developing compiler can you assist me how should i set up this C++ project !

i have read through your docs but i don't have much of clarity on the project set up .

[2022-10-28 17:36] PalancaToken opened #13663 "Allow comments to ignore compiler warnings"
## Abstract

## Motivation

## Specification

## Backwards Compatibility

[2022-10-28 20:37] priyanshujiiii opened #13664 "solidity language error in vs code"
]
![Screenshot (4)](https://user-images.githubusercontent.com/89120960/198727522-44ba5231-4491-48cd-b94f-e223342eb1b5.png)
Retrieving compiler information:
Compiler using remote version: 'latest', solidity version: 0.8.17+commit.8df45f5f.Emscripten.clang
ParserError: Source file requires different compiler version (current compiler is 0.8.17+commit.8df45f5f.Emscripten.clang) - note that nightly bu

[2022-10-28 20:37] priyanshujiiii opened #13665 "solidity language error in vs code"
]
![Screenshot (4)](https://user-images.githubusercontent.com/89120960/198727522-44ba5231-4491-48cd-b94f-e223342eb1b5.png)
Retrieving compiler information:
Compiler using remote version: 'latest', solidity version: 0.8.17+commit.8df45f5f.Emscripten.clang
ParserError: Source file requires different compiler version (current compiler is 0.8.17+commit.8df45f5f.Emscripten.clang) - note that nightly bu

[2022-10-29 04:54] mikebolt commented on #10
Take a look at my post: https://forum.soliditylang.org/t/feature-request-add-define-to-solidity/430

Most people want to add macros. I think we should close the other issues and work on a specific design.

[2022-10-29 22:01] mandatedisrael commented on #13159
worked for me, Gracias man, you just saved my day!

[2022-10-30 11:11] 0xGeorgii commented on #12244
just to heads up: I'm not turned into a 🎃 but trying to understand how this library works and how to use it properly.

[2022-10-31 09:22] Amxx opened #13667 "Add "macro" keywords for better logging of error"
## Abstract

Add `__FILE__`, `__LINE__`, `__CONTRACT__` and `__FUNCTION__` keywords, following the example of C/C++ macros, to improve the debugging

## Motivation

A recent discussion ([here on twitter](https://twitter.com/MicahZoltu/status/1586894671988785152)) discussed the upsides, and downside, of revert strings vs custom error. Without going to much into the details of the arguments, there a

[2022-10-31 12:21] NunoFilipeSantos commented on #13665
Closing this as a duplicate of #13664 .

[2022-10-31 12:21] #13665 closed, assigned to nobody

[2022-10-31 16:03] k06a commented on #11373
Sadly we consider this behaviour (revering during `try-catch`) as a new attack vector. Attackers could selfdestruct contract which are used with try-catch and code assumes this try-catch will never revert - but it will revert.

Example of code sensitive to this attack: https://github.com/1inch/erc20-pods/blob/a2dd8997a1c7b3ade48de269ccb081ec8bcc6ea1/contracts/ERC20Pods.sol#L98-L100

[2022-10-31 16:48] leonardoalt opened #13670 "False negative `Warning: Unreachable code.` in inline assembly"
The code in [1] issues the warning in [2], which is not true since the function is called.

[1]
[code]

[2]
[code]

[2022-10-31 19:51] sambacha commented on #13610
Is it possible to also add `nixpkgs` to the release process?

e.g. Dapptools uses this release process https://github.com/dapphub/dapptools/blob/master/nix/make-solc-static.sh - the binaries need to be patched to include additional ELF information, this is also a requirement for solc to work with foundry if used via nix. see this note https://github.com/shazow/foundry.nix#nixos-caveat

I can open

[2022-11-01 06:33] ghost commented on #13637
Nice bug

[2022-11-01 07:55] hrkrshnn commented on #13664
Just change to `pragma solidity 0.8.17;`

[2022-11-01 07:55] #13664 closed, assigned to nobody

[2022-11-01 08:00] hrkrshnn opened #13671 "Warn when modifiers with a post block is used in a function with a reachable inline assembly `return` or `stop`"
[code]

In the above contract, it's very easy to miss that the contract enters a deadlock. The lock is never freed.

We should do control flow analysis for contracts with modifiers that has a "post" block and warn if there is a reachable assembly `return` or `stop`. Note: unlike a reachable `return`, a reachable `revert` is fine. Because the lock will be freed.

[2022-11-01 12:04] ekpyron commented on #12864
Thank you very much for the issue, but we won't do this for two reasons:
- No analysis of whether an immutable is written in all cases is prefect, so rather than eliminating invalid cases, we'd just keeping to accumulate special casing (think ``constructor(bool hasPropertyA) { bool doesNotHavePropertyA = !hasPropertyA; if (hasPropertyA) immutable = 1; if (doesNotHavePropertyA) immutable = 0;``).
-

[2022-11-01 12:04] #12864 closed, assigned to nobody

[2022-11-01 14:16] nikola-matic commented on #13663
Hi @PalancaToken, can you please fill out the issue with a proper explanation of what you want, as well as some examples? Whilst I know what you want, a proper description is still a requirements, as this issue will be used for any potential discussion regarding this feature.

[2022-11-01 14:51] ekpyron commented on #13551
This needs to properly specify how to determine the test kind for arbitrary-path-tests.

Forcing the test kind to be in the path is ugly and hacky.

So I'd actually replace this by having isoltest consume free arguments and in this case (and this case only) allow and require a test kind argument as well ``isoltest --kind semanticsTests /path/to/file.sol``.

But that's just a suggestion, I'm open t

[2022-11-01 15:34] KholdStare commented on #1100
Any update on this? Having a simple alias to reduce typing would be nice. No fancy side effects, just a "dumb" type alias.

[2022-11-01 16:30] ekpyron commented on #1100
We do have user-defined value types these days, if you want a full type abstraction instead of a mere alias (even though only for value types so far).
We may (or may not) still *additionally* introduce type aliases in the future, if only for providing backwards compatibility aliases for new generic builtin type definitions, but we do not plan on spending resources on this in the near future and be

[2022-11-01 16:55] KholdStare commented on #1100
Not sure why I am being "thumbs down"ed

[code]

We use user-defined value types for "Strong typing", and it's very useful, thank you. However, for a simple alias, it's overkill to wrap and unwrap. The usecase is entirely different to user-defined value types. Aliases help ergonomics, and keeping things scoped appropriately. Without aliases people may get tempted to pull out inner struct definitio

[2022-11-01 18:23] alcuadrado commented on #12533
No misunderstanding, that's what I want. But then it came to my mind that it could be `viaIR: true` with `enabled: false`, precisely because of what you mentioned "since it's a prerequisite for compiling most non-trivial code bases in general.".

[2022-11-01 23:57] zkSoju commented on #12825
I seem to be getting this error when using `solidity-ls` - any idea why?

[code]

[2022-11-02 16:48] 0xGeorgii commented on #12244
@cameel what I have done is introduced a new small class as in #108 but with a bit more refactoring due to make is shorter, clearer and simpler. can you please give me a piece of advise now: how to test the solution and verify it?

[2022-11-03 05:26] rkdud007 commented on #11638
I'm using solidity `0.8.12`. I faced `CompilerError: Stack too deep when compiling inline assembly: Variable headStart is 1 slot(s) too deep inside the stack. ` error. This is what I found out.
1) optimizer enable doesn't matter
2) yul should be true. if it is false, get stack error
3) viaIR should be false. if it is true, it cannot coverage whole.

[code]

[2022-11-03 11:02] nikola-matic commented on #4617
@cameel by the way, it looks like this is not gonna be as easy (and perhaps not even worthwhile), as it looks like we have two stage tests for `--via-ir` and `--ir-optimized` (as part of command line tests), where we have intermediate output, and inserting the contract name in said file is going to break the second round of compilation as it's obviously not a valid statement to have in a file. Do

[2022-11-03 12:28] nikola-matic commented on #4617
More problems :) Compiling a struct is perfectly valid, however, yields no contracts, which means we output the 'desired' no contracts to compile message. This is a bit of a problem. E.g. the currently failing test where we compile the input .sol file with the `--combined-json ast` option yields a JSON AST output file, with said message appended at the end, since there are technically no contracts

[2022-11-03 13:32] decanus opened #13678 "Data location not enforced between abstract contract and implementation"
Given the following function signature in an abstract contract:

[code]

We would expect that the following code not compile:

[code]

However it does, and when overriding it skews with the values of the previous parameters. The easiest way to prevent this mistake is to not allow changing the storage location.

[2022-11-03 13:39] cameel commented on #13678
Are you using the latest compiler? This could be a serious issue with our previous fix, but it's more likely that you're running into this bug that has already been fixed in 0.8.14:
- [Bug Concerning Data Location during Inheritance](https://blog.soliditylang.org/2022/05/17/data-location-inheritance-bug/)
- #10900

[2022-11-03 14:24] cameel commented on #12244
@GeorgePlotnikov Get a fresh checkout of solc-bin, install JS dependencies, remove all the list files (`rm */list.json */list.txt */list.js`) and run `./update`. If it recreates the list files perfectly without introducing any changes to them, it's working correctly.

[2022-11-03 14:37] cameel commented on #13652
@Krish-bhardwaj I'm off this week, but if you need help please come to the [#solidity-dev](https://app.element.io/#/room/#ethereum_solidity-dev:gitter.im) channel, you'll always find someone from the team there. Setting up for development is mostly a matter of cloning the repo, installing the dependencies and making sure you can run tests. This is covered by the [Contributing](https://docs.solidit

[2022-11-03 19:00] frangio commented on #13662
There are some backwards compatibility concerns here but very mild IMO and not worth discarding this feature. There is a valid assumption today that would be broken with overloading: that a custom error name is unique within a contract.

[2022-11-04 08:00] fulldecent commented on #12614
In this file I found that `error` is coming after `event`. This seems like a very reasonable choice—errors and events are both primarily useful off-chain, and if we're being positive `event`s which are good should be considered before `error`s which are bad.

OpenZeppelin Contracts is not using `error` yet.

---

Thank you, PR sent in https://github.com/ethereum/solidity/pull/13679

---

As for di

[2022-11-04 08:20] sifislag opened #13680 "Library methods called only during contract construction are included in the runtime bytecode"
## Description

I'm a developer of the [gigahorse](https://github.com/nevillegrech/gigahorse-toolchain) binary lifter and I was looking at recently deployed contracts for which our tool reports a high number of unreachable blocks. I came across contracts that had lots of dead code in their runtime bytecode.

Mapping these blocks back to their source locations I found that the dead code originated

[2022-11-04 12:12] blitz-1306 opened #13681 "The `indexed` modifier can be specified multiple times for event arguments"
## Description

[code]

The above contract is _compiled_ while my expectation was to get a parse error. Other tools are failing to parse such source. For an instance, `solidity-coverage` HardHat plugin is failing on it. Is it intended to use multiple `indexed` entries for event arguments? Also is it documented somewhere?

## Environment

This is reproducible in Remix IDE.

## Steps to Reproduce

R

[2022-11-04 12:51] cameel commented on #13681
I don't think it's intended. Looks like a bug to me. We don't allow that with any other modifier.

[2022-11-05 09:56] PaulRBerg commented on #1256
Chiming in to cast my support for this.

As I explained [here](https://forum.soliditylang.org/t/no-unique-declaration-found-when-overloading-functions-with-integers-of-different-sizes/1308), I find it a bit confusing that the compiler cannot disambiguate between two functions `f(uint64)` and `f(uint256)`.

Overloading functions with different integer width is super common when writing tests with F

[2022-11-05 23:36] xenide commented on #13477
seems to happen for `bmc` as well. Is no one else having this issue?

[2022-11-06 10:48] hrkrshnn commented on #11638
@rkdud007 I think the coverage part is simply the tools not supporting via-ir.

[2022-11-07 09:18] ekpyron commented on #13425
Thanks - I finally got around to actually have a look, sorry for the delay.

This most certainly sounds like debugging information we should provide. In general, in cases like this, don't hesitate to open issues and bug us in the matrix channels, since for these kinds of issues it's always easier and more future-proof for us to output the required data instead of reverse-engineering (even if that

[2022-11-07 12:29] ekpyron commented on #12755
For reference: The [improvedDataFlow](https://github.com/ethereum/solidity/tree/improvedDataFlow) branch stemming from https://github.com/ethereum/solidity/pull/12769 contained some preliminary work towards this.

[2022-11-07 13:13] cameel commented on #13199
Event Natspec is inherited in userdoc so I think skipping it in devdoc was an unintentional omission when #9338 was implemented.

[2022-11-07 14:17] frangio commented on #4519
OpenZeppelin Contracts has been using the "storage gaps" pattern for some time, but will be moving away from it as it doesn't solve all storage layout issues with upgradeability and it doesn't have the best possible usability. I'd recommend against this feature and instead pursuing something like https://github.com/ethereum/solidity/issues/8353, https://github.com/ethereum/solidity/issues/12513, h

[2022-11-07 16:21] ekpyron commented on #10
There is two things going on here. On the one hand, there are usecases in which macros can serve as a poor and less secure replacement for generic programming without type-checking. Our design decision for those cases in the long run is that we will go the route of proper type-checked generics.

Any other cases that may still warrant the use of macros are better addressed outside the compiler e.g.

[2022-11-07 16:32] wjmelements commented on #10
@ekpyron

solc already does import, one of the main preprocessor actions. Behavior is identical to #import. I would be ok with yall dropping that in favor of the cpp syntax if cpp is the path you want to pursue.

[2022-11-07 16:59] ekpyron commented on #11745
Closing this both as a duplicate of the already mentioned issues and as well as a feature we will most likely not implement (superior solutions like proper compile-time-constant expression evaluation are in our pipeline).

[2022-11-07 16:59] #11745 closed, assigned to nobody

[2022-11-07 17:14] cameel commented on #10
It's not. Preprocessor `#include` more or less just dumps content of one file into another, regardless of whether the result makes sense or not. In Solidity the language has proper semantic modules with their own scope.

[2022-11-07 17:29] wjmelements commented on #10
(#import is from Objective-C and differs from #include)
#include does more than dump; it does the cpp evaluation recursively. This allows more than dumping though dumping is the most-common use case, like solidity import.

Are you referring to #pragma?

[2022-11-07 17:39] cameel commented on #10
This issue has been open for a long time and is unlikely to be implemented as is since it's just a loose idea without a concrete spec. I think that the [forum](https://forum.soliditylang.org) is a much better place for a general discussion on the topic so I'm going to close it.

As @ekpyron already said, we think that there are much better alternatives to C-preprocessor-style macros so it's unlike

[2022-11-07 17:39] #10 closed

[2022-11-07 17:39] ekpyron commented on #10
Imports in Solidity are not merely text-based preprocessor imports, but semantic imports that even allow renaming of identifiers and introducing module namespaces. So cpp includes are not a replacement for them, nor does the existence of imports bind us to not using external preprocessors for any other macro use cases.

In general, we are moving towards compile-time-constant expression evaluation

[2022-11-07 17:43] cameel commented on #10
@wjmelements

Ah, sorry, looks like I misunderstood you. I did not consider Obj C and thought it was a typo and that you were referring to `#include` from C.

[2022-11-07 17:45] wjmelements commented on #10
It's fine. We can continue to bolt the cpp onto solc ourselves. I just wish it worked with solidity imports. The flattener project will never die I guess.

[2022-11-07 17:48] wjmelements commented on #10
I have one more request as you close this, that you don't introduce any new syntax (eg #) that would break the cpp. No action required, just do no harm plz.

[2022-11-07 18:42] gagiuntoli opened #13683 "Include possible custom errors on ABI"
## Abstract

I am dealing with the problem of trying to include in the ABI of a contract all the possible custom errors thrown by the contracts called by the first. E.g.:

[code]

## Motivation

If the custom error of the called contracts is included in the caller contract ABI, it is possible to catch the error type easier with the calls.

Now I am dealing with it by defining a global error interf

[2022-11-07 20:33] cameel opened #13684 "AST reimport fails for inline assembly with uninitialized variable declarations"
An attempt to import an AST produced by the compiler fails when the original source code contains an inline assembly block with a variable declaration without an initializer:

`test.sol`
[code]
[code]
[code]

This is reproducible all the way down to 0.6.2, when the `--import-ast` option was introduced, though before 0.8.0 the error message was different and it seems to be failing for a different r

[2022-11-07 20:44] mikebolt commented on #1650
This would affect build reproducibility and require support from tools like etherscan.

[2022-11-07 21:35] cameel commented on #10
I don't think we can promise that we'll never ever do to that but I can at least say we're currently not planning anything that could break it and would not do it without a good reason. We're going to keep that in mind when designing new features. The chance that we'll have to break it is IMO very low.

[2022-11-07 21:44] cameel commented on #1650
True, that's something to consider. Though on the other hand constructor arguments also have the same problem and Etherscan did solve it by requiring you to specify them. So this is not an unsolvable problem.

Just wanted to note that if we go with this, we should not use `#` - it would interfere with the use of C preprocessor with Solidity (https://github.com/ethereum/solidity/issues/10#issuecomm

[2022-11-07 22:37] haltman-at commented on #13425
Well, I did open an issue once I realized the problem!  I don't really hang around the Matrix channel I'm afraid; when I have occasionally in the past, very little of it has been relevant to me.  In general I've followed the process of, if something *needs* to be changed (IMO), file an issue; ask on Matrix in the case where I'm not sure.  Are you saying I should alert you on Matrix even in the cas

[2022-11-08 11:01] #13678 closed, assigned to nobody

[2022-11-08 11:39] chriseth opened #13689 "Performance Improvements of the UnusedAssignEliminator"
This is a list of ideas to improve the performance of the UnusedAssignEliminator.

One of the main problems in the UnusedAssignEliminator is that the `map`s are really large.
We could improve the performance by removing variables from the map at they point where they are last referenced.

[2022-11-08 14:38] cameel opened #13690 "AST/asm import via Standard JSON"
Related to #13157.

Currently both the `--import-ast` option and the new assembly import option (#11787) only work on the CLI. We need Standard JSON equivalents.

The `--import-ast` option in particular has been in the compiler since 0.6.2 but while talking with tool developers at Devcon we discovered that they're mostly unaware of it even though it would have been helpful to them. One of the reas

[2022-11-08 15:36] cameel commented on #13477
@xenide How are you running it? I managed to reproduce for CHC without the pragma:

`test.sol`
[code]
[code]
[code]

But not with BMC:
[code]

By the way, this started happening in 0.8.4. It does not crash on earlier versions.

[2022-11-08 15:40] #13199 closed, assigned to nobody

[2022-11-08 18:56] #11057 closed, assigned to axic

[2022-11-08 19:28] uday03meh commented on #13504
Hi @cameel,
Can you please assign me this issue? I would like to work on it.

[2022-11-08 19:57] cameel commented on #13504
Sure, feel free to try.

[2022-11-08 21:02] chriseth commented on #13201
After https://github.com/ethereum/solidity/pull/13682 I think the only item left that can improve the performance for the profile run in the screenshot is to improve the knowledge base.

@leonardoalt do you happen to have the original solidity source code for the profile run?

[2022-11-09 00:12] axic commented on #9842
@cameel I'd argue the documentation is still lacking. Ideally it would provide enough context so that people understand those Standard JSON settings.

[2022-11-09 07:05] 0xGeorgii commented on #12332
hi @cameel can I take it?

[2022-11-09 12:41] cameel commented on #12522
I'm going to mark this issue as "medium impact" for "Dumping Standard JSON from external tests". Maybe I should put it in a separate issue. Being able to easily take the framework out of the equation and reproduce ext test compilation with only the compiler would be very helpful for profiling IR - which is very important and should be made easier.

[2022-11-09 16:12] chriseth commented on #6976
Duplicate of https://github.com/ethereum/solidity/issues/12755

[2022-11-09 16:12] #6976 closed, assigned to nobody

[2022-11-09 16:16] chriseth opened #13699 "Improve LoadResolver"
This is the leftover task of https://github.com/ethereum/solidity/issues/6727 :  Improve LoadResolver to know that memory is zero initially

We could also improve it so that it knows that storage is zero in the constructor.

Additionally, we should also improve the way keccak knowledge is cleared on memory writes.

[2022-11-09 16:17] chriseth commented on #6727
Leftover task is tracked in https://github.com/ethereum/solidity/issues/13699

[2022-11-09 16:17] #6727 closed, assigned to hrkrshnn

[2022-11-09 16:19] chriseth commented on #6728
Implemented in https://github.com/ethereum/solidity/pull/12672

[2022-11-09 16:19] #6728 closed, assigned to hrkrshnn

[2022-11-09 16:21] chriseth commented on #7437
This has been done as far as possible.

[2022-11-09 16:21] #7437 closed, assigned to nobody

[2022-11-09 16:28] chriseth opened #13700 "Replace KnowledgeBase and DataFlowAnalyzer to be more efficient"
KnowledgeBase currently uses the rule list to simplify expressions and thus deduce if
- a variable is a (known) constant
- two variables have a (known) constant difference

It does one full run of simplification through the rule list to achieve this. The problem is that the DataFlowAnalyzer uses the KnowledgeBase to delete memory (and storage) knowledge on a write to position `p` by iterating thro

[2022-11-09 16:29] chriseth commented on #13201
The last task is being tracked in https://github.com/ethereum/solidity/issues/13700

[2022-11-09 16:29] #13201 closed, assigned to chriseth

[2022-11-09 19:20] cameel commented on #4617
Well, the IR output is already not machine readable. It has `IR:` (or `Optimized IR:`) header and you have to strip that if you want to pipe it to compiler's input. So it's just a matter of having to strip one more line.

Having said that, having these non-code bits in the output is annoying and we do have task to allow disabling them: #10275. Pragmatically, I do think it would be better to postpo

[2022-11-09 19:31] cameel commented on #9842
Ah, so it's specifically about the Standard JSON input docs? Updated the title.

[2022-11-09 19:33] axic commented on #9842
Well not specifically, but that's the easiest way to explain the connection to each step.

[2022-11-09 21:20] cameel commented on #12332
If you're looking for a new issue to contribute, how about #9470? It already has an unfinished PR that you could use as a base: #13534.

We're focusing on getting the PR could down right now, so taking over an existing one would be very helpful if you don't mind :)

[2022-11-09 21:23] cameel commented on #12153
Since there's no consensus about implementing it, it does not even qualify as `nice to have` so I guess I'm going to close it.

[2022-11-09 21:23] #12153 closed, assigned to nobody

[2022-11-10 05:48] 0xGeorgii commented on #12332
@cameel yup, sure. I will consider #9470 and this one afterwards 😃

[2022-11-10 06:07] 0xGeorgii commented on #9470
I take it if no one mind

[2022-11-10 08:35] #13618 closed, assigned to nikola-matic

[2022-11-10 15:40] cameel commented on #12332
Great! But actually if you later want another issue, I can probably suggest a better one :)

We really need to rethink what gets labeled as `good first issue`. For now we've been often putting it on simple issues but when they're unrelated to what we're doing at the moment, their reviews either distract us away from roadmap work or the PRs sit unreviewed for a long time. We should review what's la

[2022-11-10 15:44] 0xGeorgii commented on #12332
@cameel  cool.  I don't have any specific wish to do exactly this one. I just used search 😄 I will get back to you after completing #9470.

[2022-11-10 16:03] cameel commented on #12332
Good. I can already suggest these:
- #13652
- #12783
- #13137
- #13496
- #10155

Generally bugfixes are always appreciated and these are currently marked as medium impact so they're all pretty relevant. Not all of them have detailed descriptions but with a repro it's at least easy to tell what's wrong and start working on it.

[2022-11-10 17:58] sebastianst commented on #12825
@christianparpart any progress on this? I can confirm the `-32603` error popping up on almost every key stroke with nvim `v0.8.0` and solc `0.8.17` on Arch Linux.

[2022-11-10 18:30] cameel commented on #13699
How much is this expected to improve things? I guess not much judging by how it was left hanging for so long?

[2022-11-10 19:30] nishant-sachdeva commented on #13114
Closing this issue as it's been solved by #13613

[2022-11-10 19:30] #13114 closed, assigned to nobody

[2022-11-10 19:59] sebastianst commented on #12825
@christianparpart I can also confirm that the problem persists using #13473 (`solc --version`: `0.8.18-develop.2022.11.10+commit.a2de5d4b.Linux.g++`)

[2022-11-10 20:38] #9119 closed, assigned to nishant-sachdeva

[2022-11-10 22:16] axic commented on #13108
After #13529 this still looks the same:
[code]

So I guess the rule is not picked up.

[2022-11-11 00:01] cameel opened #13706 "The maximum integer allowed in version pragma is platform-dependent"
The code checking if integers used in `pragma solidity` uses `unsigned int` as the underlying type and relies on its overflow behavior, which means that the range depends on what platform the compiler was built for: [`unsigned` can be 16- or 32-bit long](https://en.cppreference.com/w/cpp/language/types).

For example this pragma may or may not be allowed, depending on the platform:
[code]

The cod

[2022-11-11 10:17] axic commented on #10283
A more refined statement would be `import { evmVersion } from solidity;`, but I still think this has to be a special keyword and not a path, because otherwise the expectation would be to have a source available (just like in stdlib).

Potentially this `solidity` namespace could contain the other native types proposed by @ekpyron, like `StackSlot`.

[2022-11-11 12:01] NunoFilipeSantos commented on #13690
Low effort/High impact are some of the top issues we should tackle. 😉

[2022-11-11 12:01] NunoFilipeSantos commented on #13689
@chriseth I don't see a list. 🤔

[2022-11-11 14:25] axic commented on #13218
I'm interested in a temperature check about a potential [`mzero` instruction](https://ethereum-magicians.org/t/mzero-instruction/11713).

[2022-11-11 18:34] #12270 closed, assigned to nobody

[2022-11-12 16:19] vmmuthu31 commented on #13159
# I had the same issue but solved it myself

## I forgot to  add the following line of code  in my contract

` receive() external payable {} `

[2022-11-14 12:03] jefferyokesamuel commented on #13159
I fixed it by adding "allowUnlimitedContractSize: true" in my hardhat.config.js

[2022-11-14 15:06] jefflau commented on #10381
Hi all. I'm also looking for this feature, would be nice to be able to catch and throw a specific error

[2022-11-14 17:15] mandatedisrael commented on #13159
Niceeee, well done man

[2022-11-14 17:44] chriseth commented on #13442
The peephole optimizer rules in the PR look quite extensive to me. We should try to do as much as possible in the rulelist. Of course, the rulelist does not know if the expression is followed by a jumpi.

In the example from the linked godbolt code, there are some expressions that strike me as unoptimized:

1) ``iszero(eq(value, iszero(iszero(value))))``
2) ``eq(iszero(iszero(var_a)), 0x01)``

The

[2022-11-15 03:18] Skyge commented on #9592
So if I want to use `try catch`, I have got to use a specific function name rather than some raw data, right? Such as I should use
[code]
rather than
[code]

[2022-11-16 08:02] xenide commented on #13477
I'm using `foundry` with the following config:

[code]

I'm just running it on one contract and it's an actual contract not a library. Do we know which index it was trying to access? It happens on both `0.8.13` and `0.8.17`. When I use `bmc` it also fails, but with an exit code 1. To see the actual run, see [this ](https://github.com/vexchange/v3-core/actions/runs/3357572784/jobs/5760953311)

[2022-11-16 16:13] joshlangs opened #13710 "Optimizer should optimize away body containing only call to super"
Consider these two contracts:
[code]

Compiling them with solidity 0.8.17 and optimizations 999999999 creates two contracts of different size.  `MeowBase` is `145 bytes` and `Meow` is `157 bytes`.

Curiously, if the body of `MeowBase` just contained `return 1;` or other simple stuff, the contract sizes turn out the same.  Adding a conditional which can't be optimized away creates the size differen

[2022-11-17 06:16] Qlio opened #13711 "Possible error in Yul Object example."
## Page

https://docs.soliditylang.org/en/latest/yul.html

## Abstract

Hello, I'm trying to understand the Yul Object example code. And there is a code section calling `create` function:
[code]
If I understood correctly, the `create` function is getting parameters in the following order: 1. WEI to send, 2. from address, 3. size of contract. But in this example, the first parameter is the contract

[2022-11-17 10:21] chriseth commented on #13180
Isn't this documented in https://docs.soliditylang.org/en/v0.8.17/ir-breaking-changes.html#cleanup ? We could clarify that this also applies to storage.

[2022-11-17 10:38] #5401 closed, assigned to nobody

[2022-11-17 10:38] #5778 closed, assigned to nobody

[2022-11-17 10:40] #7816 closed, assigned to nobody

[2022-11-17 10:40] #3787 closed, assigned to nobody

[2022-11-17 10:42] ekpyron commented on #5967
We'll fix this iteratively whenever touching/adding tests. Closing the issue.

[2022-11-17 10:42] #5967 closed, assigned to nobody

[2022-11-17 10:43] #10269 closed, assigned to nobody

[2022-11-17 10:47] ekpyron commented on #9589
Will be done as part of https://github.com/ethereum/solidity/issues/13365, closing the issue.

[2022-11-17 10:47] #9589 closed, assigned to nobody

[2022-11-17 10:51] k06a opened #13713 "Cheap and efficient calldata access [discussion]"
We noticed that some calldata access cost hundreds of gas for almost no reason.

For example following 2 examples have 150 gas difference in cost:
[code]

[code]

## Motivation

This would dramatically decrease cost of the transactions. If some calldata expected to be `address`, let's read those 20 bytes and **ignore** 12 high bytes, not **check it and maybe revert**.

## Specification

I am not s

[2022-11-17 10:58] k06a commented on #13713
1inch team recent invention makes every `address` struct field access 150 gas cheaper:
[code]

[2022-11-17 11:02] ekpyron commented on #7830
No longer planned.

[2022-11-17 11:02] #7830 closed, assigned to nobody

[2022-11-17 11:05] ekpyron opened #13714 "Contract/Remove CLI options like --yul, --assemble and --strict-assembly"
Going beyond https://github.com/ethereum/solidity/issues/13296 we should drop the CLI options that are no longer relevant and choose consistent names for the remaining ones.

[2022-11-17 11:10] ekpyron commented on #12246
New tendency: even drop everything below constantinople.

[2022-11-17 11:29] #5252 closed, assigned to nobody

[2022-11-17 11:30] cameel opened #13715 "Remove solidity-upgrade"

[2022-11-17 11:36] #7825 closed, assigned to nobody

[2022-11-17 11:37] #8559 closed, assigned to nobody

[2022-11-17 11:38] #8827 closed, assigned to nobody

[2022-11-17 11:39] #10390 closed, assigned to nobody

[2022-11-17 11:40] #10784 closed, assigned to nobody

[2022-11-17 11:41] #6723 closed, assigned to nobody

[2022-11-17 11:56] ekpyron commented on #12932
Closing the issue, since it'll be fixed as part of https://github.com/ethereum/solidity/issues/13365

[2022-11-17 11:58] ekpyron commented on #11260
Harmless enough to ignore, since we're moving to via-IR in the long-term.

[2022-11-17 11:58] #11260 closed, assigned to wechman

[2022-11-17 13:54] NunoFilipeSantos opened #13717 "Solidity implementation of EOF specification"
### What

Work towards Solidity generating EOF bytecode.

### Why

Harness the benefits that triggered EOF as evolution path in the EVM.

### How

#### 2022 Q4 Step 1: Work together with Ipsilon to iron out the remaining details in the EOF specification;
  - [x] Jump-table static jumps (RJUMPV)
  - [x] Bytecode deduplication across functions on libevmasm level. (variants of TAILCALLF?)
  - [x] Try

[2022-11-17 13:55] NunoFilipeSantos opened #13718 "User defined operators/literals"
### What

Allow users to define custom operators for user-defined types and suffixes for converting literals to user-defined types.

### Why

To make the use of user-defined value types more ergonomic to solidity language users. This includes use cases like fixed-point numbers or special types for performing unchecked operations by default.

### How
#### Operators
- Main implementation
    - #1236

[2022-11-17 13:58] NunoFilipeSantos opened #13719 "Performance of the via-IR pipeline"
### What

The Yul optimizer is slow.

### Why

Parts have quadratic runtime complexity.

### How

Identify the responsible components and reimplement them more efficiently.

Low-hanging fruits in improving the stack shuffling algorithm (replace per-iteration-regenerated multiplicity maps).

#### Tasks

- [x] https://github.com/ethereum/solidity/pull/13705
- [x] https://github.com/ethereum/solidity

[2022-11-17 14:00] NunoFilipeSantos opened #13720 "Enough Debugging data for tools to switch to via-IR"
### What

The via-IR pipeline, especially with enabled optimizer, is hard to process for tools, since it doesn't preserve as many fixed patterns in the bytecode as the legacy pipeline. We want to improve this situation in a forward compatible manner by providing tooling with adequate and sufficient debugging data to reconstruct the relations between Solidity code, Yul code and bytecode.

### Why

[2022-11-17 14:03] NunoFilipeSantos opened #13721 "Improvements in the Yul-EVM Code transform"
### What

Improve Yul-EVM code transform and remove stack-too-deep errors as blockers to via IR.

### Why

Currently, the via-IR compilation pipeline is not viable as default compilation mode for two reasons:
- Without optimizer hardly any non-trivial project compiles due to stack-too-deep errors.
- Even with optimizer, some more complex projects suffer from stack-too-deep errors.
- The performanc

[2022-11-17 14:05] NunoFilipeSantos opened #13722 "Pre-requisites for Memory optimizations by analysing Solidity code"
### What

Following the template of https://github.com/ethereum/solidity/pull/13378, we want to do more complex analysis on the Solidity level, resulting in annotations of the AST that can be used during code generation to produce more optimal code, resp. code that can be handled better by the optimiser.

In particular, we want to address low-hanging fruit in memory optimizations, i.e. for any mem

[2022-11-17 14:08] NunoFilipeSantos opened #13723 "Reference type immutables"
### What

Introduce ``code`` or ``contractdata`` as a new data location for data stored in the deployed bytecode as an extension of the current immutable mechanism.

### Why

Lifting the restrictions of the current immutable mechanism and transfer the merits to dynamic types.

### How

- [ ] https://github.com/ethereum/solidity/pull/13468

### Notes
- To be done in the design of Experimental Solid

[2022-11-17 14:08] NunoFilipeSantos opened #13724 "Compile time constant expression evaluation"
### What

Evaluate constant expressions at compile time whenever possible.

### Resources

1. Older issues: https://github.com/ethereum/solidity/issues/3157

### Notes
Before starting, we need to wrap our heads around its interactions with #13365

### Related Issues:
- [ ] https://github.com/ethereum/solidity/issues/11436 - this will be a good progress benchmark for this at a later stage of implem

[2022-11-17 14:09] NunoFilipeSantos opened #13725 "1st iteration Generics Design Research"
First version of a structured concrete design document for generics.

This may also already involve defining weaker transitions in the type system, like introducing tuple types as first-citizen types and tying data locations to types instead of variables, and staging those for implementation. This preliminary transition of the type system may be split into a non-breaking part and a breaking part t

[2022-11-17 14:10] NunoFilipeSantos opened #13726 "Moving fixed language features to Stdlib"
### What

The other major feature we work towards is the standard library, i.e. moving some of the features from the compiler into the language itself. This requires a number of improvements. Two name two: more capability of introspection; and more importantly, templates.

### Why

...

### How

...

#### Tasks

- [ ] ...

### Notes

### Out of scope

- ...

---
### Resources

1. #10282
1. #10639

[2022-11-17 14:13] NunoFilipeSantos opened #13727 "Inheritance overhaul"
### What

Minimally do https://github.com/ethereum/solidity/issues/12665.
Beyond that consider introducing more advanced inheritance mechanisms. Some discussion is already in the forum.

### Resources

1. #12665
2. [Thoughts on override(A, B) syntax](https://forum.soliditylang.org/t/thoughts-on-override-a-b-syntax/767/10)

### Notes

It can be done independently of any other work if we have the ti

[2022-11-17 14:45] pv2k commented on #10687
Hey, can I work on this one?

[2022-11-17 17:29] hacker-DOM opened #13728 "Docs unclear on whether 39- and 41-digit long hexadecimal literals are also validated as addresses"
What does this mean? 🙈

https://github.com/ethereum/solidity/blob/0b4b1045cf3e78065f446714872926cde72e5135/docs/types/value-types.rst?plain=1#L436

Does it mean hexadecimals that are 40 hexadecimal digits long?

I was under the impression addresses have to be 20 bytes, but I could be mistaken

[2022-11-17 23:04] cameel commented on #13728
In a hexadecimal literal each byte is represented by two digits. An address in such a format has 40 digits.

Anyway, this is not a bug report or a feature request so I'm closing this. Please use the [#solidity](https://gitter.im/ethereum/solidity) channel for support questions.

[2022-11-17 23:04] #13728 closed, assigned to nobody

[2022-11-18 10:23] chriseth commented on #10687
@pv2k I'm still not sure if this is a good idea. If you want a similar issue, maybe https://github.com/ethereum/solidity/issues/5810 could be good to work on.

[2022-11-18 11:28] cameel commented on #13713
Is this the gas difference with legacy or IR codegen?

With IR the generated optimized code looks like this:

- `address`:
[code]
- `uint256`
[code]

So basically, the `address` case has an extra `if` to check that the higher bits are not dirty. Other than that they're the same apart from having some extra intermediate variables.

[2022-11-18 11:40] cameel commented on #13711
So I guess it was fixed by #13712?

[2022-11-18 11:40] #13711 closed, assigned to nobody

[2022-11-19 23:15] ssadler opened #13729 "Can recover (supposedly) truncated integer using assembly"
## Description

Assembly code can recover integer data that was supposedly truncated, for example, if `uint40 d = uint40(imBiggerThanUint40)`, regular solidity code will see `d` as truncated to 40 bits wheras assembly will not.

## Environment

- Compiler version: 0.8.17
- Target EVM version (as per compiler settings): not specified
- Framework/IDE: Hardhat
- EVM execution environment / backend /

[2022-11-20 21:42] cameel commented on #13729
That's by design. From docs on [Variable Cleanup](https://docs.soliditylang.org/en/latest/internals/variable_cleanup.html):

It would only be a bug if you managed to observe these dirty bits without using inline assembly. Inline assembly lets you peek behind the scenes and see the raw values of the stack slots where local variables are stored and these are 256-bit long, regardless of the types ass

[2022-11-20 21:42] #13729 closed, assigned to nobody

[2022-11-20 22:44] ssadler commented on #13729
Right, understood, thanks for the answer. I would add though that you can recover the garbage bits even from a function call parameter, so referential transparency isnt provided in that case, which is a bit of a gotcha. Some kind of indication could be useful :slightly_smiling_face: .

[2022-11-20 23:17] cameel commented on #13729
It is, as long as you stick to Solidity types and do not poke into the extra bits of the stack slot using inline assembly. The compiler takes care to ensure that the content of the visible bits of any value returned or stored by the function does not depend on them so the referential transparency is preserved for any high-level type. Technically, it's not even guaranteed that these extra bits are

[2022-11-21 00:32] ssadler commented on #13729
Just so I'm sure we're talking about the same thing, I'm referring to a case like the following:

[code]

In order for the above to work as expected, you need to truncate manually before the assembly block. In my case, I found it in testing, but I could also imagine it being missed. It's just a bit of a rough edge :slightly_smiling_face:. The language tries hard to protect you from overflow in the

[2022-11-21 02:01] cameel commented on #13729
The language doesn't protect you here because you're using the assembly to explicitly step outside of the bounds of the language :) If you do that, the implicit assumption is that you know what you're doing and you're aware of how things work internally. It's easy to make a mistake, so having a thorough set of tests to check your assumptions, as you did, is very strongly recommended.

The compiler

[2022-11-21 05:40] R4k4210 commented on #12825
Same error here nvim v0.8.0 Arch Linux and Ubuntu WSL2.

[2022-11-21 08:07] beauwilliams commented on #12825
Yes, I decided to autocompile my code, setting a node env var to speed it up. I get my errors from the compiler output instead of decorations in my text editor. I have the terminal in a split, and turned on a simple plugin I wrote that will autosave the file currently open on changes. So essentially I'm constantly compiling the code and seeing the output in the right split.

This is from my packag

[2022-11-21 12:23] k06a opened #13730 "Data locations should be tied to types, not variable declarations."
## Abstract

Solidity could allow to have `storage` references in `memory` structures or even `memory` arrays.

## Motivation

Sometimes it is handy to have memory structure with some storage refs. Now we can use this trick, uncomfortable but works:
[code]

## Specification

It would be convenient to have `storage` refs in `memory` struct by allowing following syntax:

[code]

[2022-11-21 15:39] #12614 closed, assigned to nobody

[2022-11-21 21:26] axic commented on #13517
Technically this is implemented.

[2022-11-21 21:26] #13517 closed, assigned to Marenz

[2022-11-22 07:04] bshastry opened #13732 "[SMTChecker] ICE due to seen error description being different"
[code]

throws

https://github.com/ethereum/solidity/blob/5211d3da0d6c56c72c5a5c438109bc0b4b6b2437/liblangutil/UniqueErrorReporter.h#L82

[2022-11-22 16:46] ekpyron commented on #13690
Any particular open design questions here (seeing the "needs design" label)? (since @aarlt may be doing this after the assembly import is done)
We already had a quick talk about this in the past after which for the AST input, I'd basically make the standard json AST output and the input as symmetric as possible, which should be sufficient to clarify the input format.

[2022-11-22 18:09] leonardoalt commented on #13555
I checked z3 4.11.0 and indeed managed to reproduce it. Unfortunately the crash is inside z3 itself:

[code]

z3 4.11.2 seems to have fixed the crash. We should make sure the next release ships linked with z3 4.11.2 since it fixes the issue.

[2022-11-22 18:09] #13555 closed, assigned to nobody

[2022-11-22 18:37] nikola-matic commented on #13719
@chriseth would it make sense to cherry pick #13703 into the most recent develop without the optimiser changes that you've introduced in order to have a control/baseline for the optimiser performance prior to actually introducing any patches?

[2022-11-22 19:15] chriseth commented on #13719
Performance statistics:
==================

(note that some changes were merged in between that do not only change the performance but also the optimizer steps themselves, so take these statistics with a grain of salt)

Run on "Chains.sol" on @chriseth's machine with RelWithDebInfo `--via-ir --bin --optimize`.

--------

Run on 9a60c06335bb49582a36b17918f2114c44165951 (before https://github.com/et

[2022-11-23 08:50] bshastry opened #13735 "[SMTChecker] SMT assertion fails in SolverInterface.h"
[code]

throws

https://github.com/ethereum/solidity/blob/1dd05e297870334672136e1451d2deb029311421/libsmtutil/SolverInterface.h#L217-L222

[2022-11-23 10:48] leonardoalt opened #13737 "[SMTChecker] Support user defined types and wrap/unwrap"
Support user defined types and wrap/unwrap.

I thought this was supported by https://github.com/ethereum/solidity/issues/13735 shows otherwise.

[2022-11-23 12:45] cameel commented on #13315
This issue was replaced by #13718.

[2022-11-23 12:45] #13315 closed, assigned to chriseth

[2022-11-23 12:48] cameel commented on #13316
This issue was replaced by #13718.

[2022-11-23 12:48] #13316 closed, assigned to chriseth

[2022-11-23 20:41] cameel commented on #13615
@r0qs Update regarding (2). Before we can start closing stale issues, we need to deal with closing very old issues from the backlog. As discussed with @NunoFilipeSantos, we're going to do this via our board automation. So let's repurpose #13672 for this. Later, when we're done with closing the backlog, we'll turn it into actual stale issue bot. Here's my proposal on how to do this:
- Make it actua

[2022-11-23 22:12] cameel commented on #13690
Yeah, it needs a decision about the input format. It should be symmetric of course but we also need to place it somewhere in the Stardard JSON input structure. Basically, choose a key for it.

When we discussed it on the channel last time, my opinion was that we should introduce a new key that you can use instead of `sources`. E.g. `import` and `inputs`, with subkeys for various things we can impo

[2022-11-24 06:02] nishant-sachdeva commented on #9710
I ran the command `scripts/splitSources.py test/libsolidity/syntaxTests/string/invalid_utf8_sequence.sol`
The error I got is

This is expected for some tests containing invalid utf8 sequences. Exception will be ignored.

@cameel Has this issue been worked on already ? Or should we look to further improve this error statement

[2022-11-24 06:22] NunoFilipeSantos commented on #13615
This is a bit overengineered for what we discussed. Rodrigo can do better things with his time. 😅 So before developing, let’s have a quick talk and refine it a bit.

[2022-11-24 11:12] cameel commented on #9710
The issue is still relevant. The script still does not split files containing invalid UTF-8 and produces the `UnicodeDecodeError`. #9715 simply made it catch the exception and report the problem in a nicer way but it's still a problem.

I actually have a branch with a fix. I rebased it now: [`fix-unicode-splitting`](https://github.com/ethereum/solidity/tree/fix-unicode-splitting). I remember that

[2022-11-24 15:16] #8185 closed, assigned to aarlt

[2022-11-24 18:41] opz commented on #12825
@zkSoju you are probably missing the `solc` package.

[2022-11-24 19:04] R4k4210 commented on #12825
Can you share your mason config for solidity-ls?

[2022-11-24 19:39] R4k4210 commented on #12825
I was able to make this works, I realized that I had to install [solc](https://docs.soliditylang.org/en/develop/installing-solidity.html)

I was trying to do "npm install -g solc", but when you do that the execution commad is solcjs and dosen't work.
Hope this helps you.

[2022-11-25 17:18] #12244 closed, assigned to nobody

[2022-11-25 21:12] k06a commented on #13713
@cameel it seems it was legacy. IR codegen seems pretty much optimized for me.

[2022-11-25 21:23] k06a commented on #13713
@cameel is there any specific reason to not just ignore high bits of `address`? I thought smart contract should take care of data which was passed to it and can skip and ignore rest of the data.

BTW `iszero(eq(a,b))` can be optimized to `xor(a,b)` or `sub(a,b)` if it is not part of more complex expression, where I should aim this kind of suggestion? Is there any kind of set of abstract optimizati

[2022-11-25 21:59] cameel commented on #13713
AFAIK this was a part of a general push to make calldata validation more strict due to bugs/attacks. I remember for example [How to Find $10M Just by Reading the Blockchain](https://blog.golemproject.net/how-to-find-10m-just-by-reading-the-blockchain/), though this particular bug was not affected specifically by dirty bits.

The decision to do this was in #5844, though I don't see rationale there.

[2022-11-26 04:03] duncancmt opened #13746 "Spurious `Warning: Unnamed return variable can remain unassigned.` produced by `while (true) { ... return; }`"
## Description

The warning `Warning: Unnamed return variable can remain unassigned.` is produced by code where it is categorically impossible for the return variable to remain unassigned.

## Environment

- Compiler version: 0.8.17
- Target EVM version (as per compiler settings): London
- Framework/IDE (e.g. Truffle or Remix): Foundry
- EVM execution environment / backend / blockchain client: N/A

[2022-11-26 15:18] gpersoon commented on #13035
@christianparpart could you create a binary? (i'm stuck on getting the
boost library to work)

Op vr 2 sep. 2022 om 15:37 schreef Christian Parpart <
***@***.***>:

[2022-11-27 13:01] hacker-DOM commented on #13728
@cameel  Thanks for your response! However, think you misunderstood my question. In plain text, a range is usually implied to be inclusive (if I say something will take `between 1 and 2 days`, it translates to `1 <= days_expected <= 2`

From your response I conclude that the intention really is just 40 digits (which was my original question), so I propose it gets changed to

[code]

for clarity. W

[2022-11-27 13:57] Faizan711 commented on #5767
Is this issue still open, if so i would like to be assigned for it.

[2022-11-27 14:32] tangpin213 commented on #12996
I don't think iron finance was ever exploited by reentrance attack. The mentioned tx showed normal interaction. Moreover, neither IRON and TITAN token can be used the reentrance attack, even though the pool contract could be reentraned given certian type of pool token.

[2022-11-27 16:11] pcaversaccio commented on #12996
@tangpin213 the Iron Finance attack is a little special, you can read about it [here](https://thedefiant.io/not-just-a-bank-run-new-evidence-shows-iron-finance-crashed-due-to-code-exploit). It's debatable whether to list it as a pure reentrancy attack or not since it requires a malicious LP contract - I decided to list it due to the sake of completeness.

**TL; DR:** The `MasterChef` contracts all

[2022-11-27 16:16] tangpin213 commented on #12996
@

Thank you for reply. I agree with your thoughts!

[2022-11-27 18:01] cameel commented on #5767
Yes, it's up for the taking, though it's very low priority to be honest. Unless you just specifically want a Python task (the only changes here will be in a Python script), I'd recommend first looking at the issues I recently listed in https://github.com/ethereum/solidity/issues/12332#issuecomment-1310522329 instead.

[2022-11-27 18:24] cameel commented on #13728
@hacker-DOM Ah, right, looks like I did understand the question differently :) Now I see what you meant.

Actually, no :) The addresses are 40 digits but this part just says that the compiler does also check 39- and 41-digit literals and issues an error if they look like addresses. Which is true:

[code]

You can still submit a PR if you think it should be clarified more. And yeah, in that case yo

[2022-11-27 18:31] cameel commented on #13035
@gpersoon You can get the binary [from the CI runs on that branch](https://app.circleci.com/pipelines/github/ethereum/solidity?branch=fix-lsp-uri-decoding). For example here are the artifacts of the [most recent run of the CI job that produces a static Linux binary](https://app.circleci.com/pipelines/github/ethereum/solidity/27217/workflows/636763ba-91ec-4467-bc04-8d44d48432ff/jobs/1207680/artifac

[2022-11-27 19:02] cameel commented on #13746
Simpler repro:
[code]
This warning has been there since 0.7.4. There's no warning on 0.7.3.

It's not really a bug though - more of a limitation of the current control flow graph implementation. The CFG does not evaluate conditions so it can't tell whether the code after the loop will ever be reached. Conservatively, it has to assume that it's possible. It's the same with things like `if (true)`.

[2022-11-27 20:53] peizhao1 opened #13747 "Documentation incorrectly states that a mapping `does not keep track of the keys that were assigned a non-zero value`"
## Page

https://docs.soliditylang.org/en/v0.8.17/security-considerations.html#clearing-mappings

## Abstract

The double negative seems to read incorrect.

should be

[2022-11-27 21:05] cameel commented on #13747
No, it's correct. Mappings do not keep track of their keys, and this includes keys with non-zero value (i.e. the ones that you would expect to be affected by `delete`). That's why using `delete` on a mapping does not clear the values.

[2022-11-27 21:05] #13747 closed, assigned to nobody

[2022-11-27 21:53] peizhao1 commented on #13747
Thank you for the clarification!

[2022-11-28 07:14] bshastry commented on #12169
This came up again while fuzzing the optimized EVM code transform

[code]

is optimised to

[code]

The unoptimised code does not run out of gas because the `mload` is not evaluated. The optimised code runs out of gas because `mload` is evaluated.

[2022-11-28 09:01] lmittmann opened #13748 "Q: Import Callback"
Question:
I am trying to register an import callback function for the JS/WASM release ([v0.8.17](https://github.com/ethereum/solidity/releases/download/v0.8.17/soljson.js)). I haven't figured out how to do it yet and there seems to be no documentation on it.

[2022-11-28 09:21] leonardoalt commented on #13748
You can see an example here: https://github.com/ethereum/solc-js#example-usage-with-import-callback

[2022-11-28 09:51] lmittmann commented on #13748
Hi @leonardoalt, I saw that example, but I am not using plain JS. Basically I am trying to do what solc-js does in [v8go](https://github.com/rogchap/v8go).

So far I successfully connected the "solidity_compile" function:
[code]

And registered my custom callback function:
[code]
The problem is, that my `findImports` function is never called.

[2022-11-28 10:05] gpersoon commented on #13035
Hi @cameel, thanks for the link to the CI. Is there a windows binary in there too? I can't find it. As the issue is windows specific it can't be tested with the linux binary.

[2022-11-28 11:29] chriseth opened #13750 "Special optimizer rules for boolean context"
As suggested by @k06a in https://github.com/ethereum/solidity/issues/13713#issuecomment-1327891344 , we should have a flag for rules in RuleList.h that states that they are used in a "boolean" context.

The problem is that the RuleList is generic. We cannot do the replacement `iszero(iszero(x)) -> x` (because those expressions are not identical), even though it would be valid in the context if `if

[2022-11-28 11:30] chriseth commented on #13713
The first focus for Solidity is correctness, gas is always second. If an address is encoded with higher order bits set, it is not an address, and that is what we are checking. People assume that the higher order bits are zero, not that they are ignored. You can for example use the hash of a set of arguments to a function to see if the function has already been called that way (for example if a vou

[2022-11-28 12:56] #13477 closed, assigned to nobody

[2022-11-28 13:08] cameel commented on #13035
Yeah: [`b_win` artifacts](https://app.circleci.com/pipelines/github/ethereum/solidity/27217/workflows/636763ba-91ec-4467-bc04-8d44d48432ff/jobs/1207688/artifacts).

[2022-11-28 15:41] gpersoon commented on #13035
I've tested the windows binary `0.8.18-ci.2022.11.4+commit.a2de5d4b.Windows.msvc` and the output is still the same. Not sure if this rpc call is supposed to give any output.

[code]

[2022-11-28 16:51] #13732 closed, assigned to nobody

[2022-11-29 10:58] #12973 closed, assigned to nobody

[2022-11-29 12:27] Qlio commented on #2691
I want to create a proxy contract that has a payable fallback function. But I want to keep the `receive` function in the implementation contract. But it's giving me the following warning: `Warning: This contract has a payable fallback function, but no receive ether function. Consider adding a receive ether function.` in the proxy contract. is there any way to disable it? or my whole logic is wrong

[2022-11-29 12:53] #13431 closed, assigned to nobody

[2022-11-29 12:53] #13735 closed, assigned to nobody

[2022-11-29 13:10] nventuro commented on #2691
@Qlio consider taking a look at the [`hardhat-ignore-warnings`](https://www.npmjs.com/package/hardhat-ignore-warnings) plugin by @frangio - it doesn't currently support that specific warning, but it should be trivial to add it.

[2022-11-29 14:23] ekpyron commented on #13746
I mean, another quick and dirty workaround for the warning here would be to give the return variable a name :-).

But yeah, I agree with what @cameel says. In general there is no way to be completely correct about this (you can construct cases in which, while you can prove that something is always fine, that proof can get arbitrarily complex).

@cameel However, the CFG used for analysis is not the

[2022-11-29 14:23] #13746 closed, assigned to nobody

[2022-11-29 14:43] frangio commented on #2691
@Qlio I've added `missing-receive` as a warning id to the plugin, so you can write:

[code]

Alternatively use the config file as described in the [readme](https://github.com/frangio/hardhat-ignore-warnings#readme).

[2022-11-29 15:30] ekpyron commented on #13730
Yes, we plan on associating data locations with the type in the future, not with the variable declaration (which is currently the case). The same goes for calldata references in memory. Just the nonsensical combinations like memory references in storage should remain invalid. Not entirely sure we have an issue for that yet, though.

[2022-11-29 15:35] cameel opened #13764 "Private library functions can be attached and used outside of the library"
## Description
Private library functions are normally not accessible outside of the library. `L.f` is actually an invalid expression, both inside and outside of the library, when `f` is private. It appears, however, that it's possible to bypass this restriction by binding a private function to a type at file-level.

This is a bug. Private library functions should not be usable in `using for` outsi

[2022-11-29 15:38] k06a commented on #8186
How this should work with existing binary search of selector?

[2022-11-29 15:43] cameel opened #13765 "External library functions cannot be attached with `using for` even though public ones can"
Currently it's not possible to bind an external library function to a type. This restriction does not make much sense because it's still possible to bind public functions and bound public library functions are always called externally. So it does not prevent external calls, it just makes doing them harder in some cases.

We should allow binding external functions as well.

[code]

I'm marking this

[2022-11-29 15:46] k06a commented on #9592
Good idea!

[2022-11-29 17:43] ekpyron commented on #13713
@k06a I take it that the comments above explains the fact that the behaviour is very much intentional?

Independently of that, FYI, we're trying to move towards reserving github issues mainly for concrete discussions of implementations, resp. of items we have scheduled for implementation, while we'll be trying to move most discussion to the [Solidity forum](https://forum.soliditylang.org/).

In an

[2022-11-29 17:43] #13713 closed, assigned to nobody

[2022-11-29 17:51] ekpyron commented on #13683
The most immediate problem I'm seeing here is that this would give a false sense of certainty on the possibly raised errors.
In your example, you can call ``A.callB`` with any address, independently of whether it's actually a B - it may be in fact a disguised contract ``C``, which may end up throwing ``customErrorC``. There's no way to guard against that at compile-time. The only way to make sure,

[2022-11-29 17:55] ekpyron commented on #13683
Or put differently: there is, in general, no way to determine an accurate set of possible custom errors across external calls at compile time. I think any analysis beyond that, rather benefits from us being precise about the errors that actually occur in any given contract - I see in the linked issue that such an analysis is considered in tooling, and I'd generally say that tooling is the place to

[2022-11-29 17:55] #13683 closed, assigned to nobody

[2022-11-29 18:14] ekpyron commented on #13710
Both ``Meow`` and ``MeowBase`` produce identical runtime bytecode, if compiled via IR with enabled optimizer.
We're slowly moving towards switching towards via-IR compilation as default, even though we still need some improvements wrt compilation times and tooling support. However, at this point, we won't add features to the legacy optimizer anymore, so given that, I'm closing this issue.

I hope

[2022-11-29 18:14] #13710 closed, assigned to nobody

[2022-11-29 18:20] #13321 closed, assigned to ekpyron, chriseth

[2022-11-29 18:25] ekpyron commented on #13525
Thank you for this issue! You're perfectly right here, ideally these functions would end up being optimized to the same code size and runtime costs. The main reason for the difference, is that tuples live on stack, whereas structs are (currently) always in memory - and temporary memory usage is generally not well optimized by the compiler just yet.
In the long run, this issue will be solved in two

[2022-11-29 18:25] #13525 closed, assigned to nobody

[2022-11-29 18:33] k06a commented on #13730
@ekpyron glad to hear that this kind of functionality was already planned

[2022-11-29 18:36] nikola-matic commented on #13748
Closing issue as it's not relevant to Solidity compiler development.
@lmittmann please consider asking questions in the [Solidity forum](https://forum.soliditylang.org/) or the [Ethereum stackexchange](https://ethereum.stackexchange.com/).

[2022-11-29 18:36] #13748 closed, assigned to nobody

[2022-11-29 18:45] ekpyron commented on #13670
This should be fixed in ``ControlFlowBuilder`` (in ``libsolidity/analysis``) - it currently doesn't properly consider control flow for assembly functions.
It'd probably need a ``yul::Block`` visit, that scans for function definitions first, registering control flow nodes for them (which entails implementing the ``yul::FunctionDefinition`` visitor at least in a bogus manner at first, i.e. ignoring

[2022-11-29 19:15] ekpyron commented on #13730
As for some more implementation details on this: for nested reference types, the outermost data location should become the implicit default data location for the inner types, so e.g. ``uint[][] memory x;`` would be short for ``uint[] memory [] memory x;`` (while after solving this issue we'll also have ``uint[] calldata [] memory x;``). Similarly, for struct members the default, non-mentioned data

[2022-11-29 19:26] #3819 closed, assigned to axic

[2022-11-29 19:28] ekpyron commented on #3877
Closing this - we may want to pick it up again after https://github.com/ethereum/solidity/issues/13724.

[2022-11-29 19:28] #3877 closed, assigned to nobody

[2022-11-29 19:28] ekpyron commented on #3878
Closing as duplicate of the others.

[2022-11-29 19:28] #3878 closed, assigned to nobody

[2022-11-29 19:31] ekpyron commented on #4660
I still believe this was the correct and should be changed - still closing it as not important enough :-).

[2022-11-29 19:31] #4660 closed, assigned to nobody

[2022-11-29 19:32] ekpyron commented on #4730
Still relevant, but not worth being tracked in an issue - it's obvious part of general soltest refactoring.

[2022-11-29 19:32] #4730 closed, assigned to nobody

[2022-11-29 19:36] ekpyron commented on #4814
No longer relevant

[2022-11-29 19:36] #4814 closed, assigned to nobody

[2022-11-29 19:49] lmittmann commented on #13748
Hi @nikola-matic, my question is about the workings of undocumented parts of the Emscripten release. It would be very helpful to get some info on how it is working.

[2022-11-29 21:07] nikola-matic commented on #13748
Keep in mind that there are 1000+ open issues, and we're in house cleaning mode at the moment (most issues are likely to be closed soon), so at this point I'm only looking at how the issue is formulated. If it's a question, it gets closed with a redirect to the forum or stackexchange, which is better suited for questions.
On the other hand, if you think that a feature (or a portion of a feature) i

[2022-11-29 21:30] cameel commented on #13765
I just noticed that `using L for T` does not have this restriction at all. This makes it look even more like a bug. Description updated.

[2022-11-30 09:40] ekpyron commented on #13748
Also note that usage of the emscripten builds without the solc-js wrapper is intentionally undocumented, since it's unsupported - and also not guaranteed to be stable, so if you want to bypass solc-js, you're basically on your own - if you can load solc-js into v8go, I'd strongly recommend doing that instead. If you still want to use soljson.js directly, the best reference would be the sources of

[2022-11-30 12:46] k06a commented on #13750
I think we need flag if this expression in gonna be used in AND operation or not. Since non-zero works fine for OR operation.

[2022-11-30 12:52] #13432 closed, assigned to nobody

[2022-11-30 13:12] NunoFilipeSantos commented on #13180
@bshastry is @chriseth correct here?

[2022-11-30 13:12] #13055 closed, assigned to nobody

[2022-11-30 13:13] NunoFilipeSantos commented on #13055
This is a topic better suited for our Forum. Closing for now.

[2022-11-30 13:17] NunoFilipeSantos commented on #12570
Hey! 👋 What is the impact of this bug? (High, Medium, Low)

[2022-11-30 13:17] NunoFilipeSantos commented on #13538
Hey! 👋 What is the impact of this bug? (High, Medium, Low)

[2022-11-30 13:18] NunoFilipeSantos commented on #13037
Hey! 👋 What is the impact of this bug? (High, Medium, Low)

[2022-11-30 13:18] NunoFilipeSantos commented on #13224
Hey! 👋 What is the impact of this bug? (High, Medium, Low)

[2022-11-30 13:31] ekpyron commented on #13224
Rather high. It's, in principle, covered by our roadmap item https://github.com/ethereum/solidity/issues/13721. As in it's an example of the issues to be addressed there.

[2022-11-30 13:33] ekpyron commented on #13037
Unknown. Probably low in the end, but it's weird that it's caught at the wrong place, so it should be investigated why that is and whether anything else can bleed through. We don't actually really need to fix it, since it's only a corner case in legacy codegen, but we need to check if there is a more severe bug hidden in the vicinity of this - so as long as we haven't done that, I'd consider it me

[2022-11-30 13:35] ekpyron commented on #12570
Same as https://github.com/ethereum/solidity/issues/13224 - it's just a different example case. (But we already established that they don't have exactly the same cause, just the same effect, so it's a separate issue.)

[2022-11-30 14:06] waqasideofuzion commented on #11638
resolved my issue with viaIR to false for the first time but next time I got the error.

[code]

[2022-11-30 14:36] chriseth commented on #13699
Adding the knowledge that storage is zero in the constructor could make quite a big improvement especially for packed storage. We might have to drag this through into function calls (especially when they are only called once).

[2022-11-30 14:42] chriseth commented on #13538
Identifiers in inline assembly (except for the special ones that access outside information like slot and offset) cannot contain `.`. I'm also pretty sure that the code generator does not generate `.`. So the question would be where such code is actually valid, probably when the compiler is used in assembly mode.

[2022-11-30 15:06] chriseth commented on #13750
I don't understand what you mean, @k06a - can you give an example? Are you saying that we should detect if an AND / OR is used as a boolean instead of a bitwise or?

[2022-11-30 15:22] r0qs opened #13767 "Add Foundry support to external tests scripts"
The [prb-math](https://github.com/paulrberg/prb-math/releases) migrated from Hardhat to Foundry in version `3.0.0` and requires that we update our external test scripts to support Foundry builds.

It may also be a good opportunity to migrate those scripts from shell script to python and better organize the external tests.

[2022-11-30 15:35] cameel commented on #12008
Looks like hardhat-preprocessor relies on being able to pass in unused references to some extent. As reported by @kuzdogan:

[2022-11-30 15:36] trocher opened #13769 "`immutable` can be declared and never initialized"
## Description

When trying to compile a contract in which the constructor does not initialize an immutable state variable, the compiler outputs `TypeError: Construction control flow ends without initializing all immutable state variables.`. By embedding the initialization of such variable in a `For` loop such that the control flow never reach the initialization instruction, it is possible to comp

[2022-11-30 15:44] kuzdogan commented on #12008
Pinging @wighawag for `__CACHE_BREAKER__` if this is still needed as I see in most of the Sourcify verified contracts this field is `0x00000000d41867734bbee4c6863d9255b2b06ac1` and not a different value as expected from a cache breaker. The context is, I checked for the metadata of verified contracts and a lot of them had `"libraries":{"__CACHE_BREAKER__":"0x00000000d41867734bbee4c6863d9255b2b06ac

[2022-11-30 16:39] wighawag commented on #12008
The __CACHE_BREAKER__ is needed because hardhat did not have full proof cache management (though it might have improved since then, I did not check)

as for `0x00000000d41867734bbee4c6863d9255b2b06ac1` this is the hash of a config so if 2 user or 2 different source use the same config the cache breaker will still work as the source will differ and hardhat will handle that

[2022-11-30 18:11] k06a commented on #13750
Hi, I mean in the expression:
[code]

All the expr1, expr2 and expr3 should be normalized to 0/1 due to outer `and`.

But here is another expression:
[code]

Here only expr2 and expr3 should be normalized to 0/1, while expr1 can be zero/non-zero.

[2022-11-30 19:38] ekpyron commented on #13767
I'll actually give this a rather high priority, for two reasons:
- It's good to have a foundry test setup and run the compiler through foundry in general.
- The new version of prb-math is a very good test suite for our more recent features like user-defined value types and will be a very good test case for our upcoming features of user-defined operators and literals soon (while we can expect it to

[2022-11-30 22:10] mudgen commented on #12807
@chriseth @cameel What is the status of this?  More and more developers are using diamond storage which makes modifiers in Solidity libraries useful.

I basically provide technical support for people who are using EIP-2535 and it comes up that they can't use modifiers in Solidity libraries. It is a language addition that would help Solidity developers.

[2022-11-30 22:17] ItsNickBarry commented on #12807
Seems reasonable.

[2022-11-30 22:35] pimhakkert commented on #12807
+1 on adding this. It results in cleaner code when using EIP-2535 and other upgradable contract standards. (not limited to)

[2022-11-30 22:41] zdenham commented on #12807
+1 to modifiers (and events would be great too, but that may be a different discussion)