[2017-10-27 13:04] axic commented on #3136
It would be a good candidate for the static analyzer in Remix

[2017-10-27 13:23] androlo commented on #3136
@chriseth I don't know what's best. I also does not like it when i get weird warnings for stuff that isn't actually wrong, so maybe it's a bad idea.

@axic yes that is what i was actually thinking about, just didn't know how to put it. so this is a remix issue then?

i think the extcodesize thing is great but it seems like it would cause problems in cases like this, and the caller wouldn't know wh

[2017-10-27 13:29] axic commented on #3136
We have two static analyzers:
- one inside the compiler which checks for things which cannot be turned off (i.e. they are always an issue, such as an error or a warning we want to enforce)
- one inside Remix (in Javascript) which can check for anything from the guidelines, including false positives, because it can be turned off per-module basis

See https://github.com/ethereum/browser-solidity/tre

[2017-10-27 13:32] androlo commented on #3136
@axic ah, remix seems like the right one then. i will close and just make a small issue in remix and link to this old one. thanks. maybe if it is possible i could look into it and try implementing it and PR (got experience working with javascript).

[2017-10-27 13:47] axic commented on #3132
@ethers would you be interested in documenting the above in the main docs? This question comes up a few times, good have it explained.

[2017-10-27 15:29] chriseth opened #3137 "SMT Solver: Use ite-function on braches"
As suggested through experiments by @leonardoalt on oyente, the SMT solver might be able to handle the exponential blow-up induced by branches much better than the "driver" of the SMT solver.

Currently, Solidity assumes arbitrariness for touched variables after branches. An improved version could collect all conditions leading to the end of a branch and then use
`x := ite(condition, last_value_of

[2017-10-27 15:31] chriseth opened #3138 "SMT Solver: Add modifer post-assertions as postconditions for functions"
When storage variables are tracked by the SMT solver, they have to be set to "unknown" after each non-view function call (even internal function call) because we currently do not know what that function will do. We can add a little insight by at least searching for modifiers without arguments and adding all assertions that appear after the `_` to the constraint set.

[2017-10-27 15:43] MicahZoltu commented on #3134
This bug report is specifically for un-named returns.  #708 is trying to address how to better deal with named returns (I'm in agreement with #708 that implicit named returns are bad).

If you are trying to have input parameters behave similarly to output parameters then I think that is a mistake.  Inputs as part of an interface are very different from outputs.  Inputs are the caller's side of the

[2017-10-27 15:49] MicahZoltu commented on #3136
This would be an acceptable solution if remix were a tool that could be used in projects other than small toy projects like ICOs and tokens.  My understanding is that remix isn't built in a way that makes it unable outside the browser and that means it can't be used as part of CI and it can't effectively deal with large projects.

Either remix needs to be turned into a library rather than a browse

[2017-10-27 15:56] chriseth commented on #3136
@MicahZoltu you are right, we should extract the static analysis module into a self-contained npm module. @androlo do you want to do that, too? -> https://github.com/ethereum/browser-solidity/issues/888

[2017-10-27 16:25] androlo commented on #3136
@chriseth i'll take a look.

[2017-10-28 04:56] walter-weinmann opened #3140 "grammar.txt: missing rule for 'NEW Identifier()'"
(I am currently trying to verify my Solidity LALR Parser project [syparse](https://github.com/walter-weinmann/syparse) with the examples in the [Solidity  documentation](https://github.com/ethereum/solidity/tree/develop/docs).)

The following example is taken from chapter `Visibility and Getters (Getter Functions)` in document `contracts.rst`:
[code]
The existing grammar rule
`NewExpression = 'new

[2017-10-28 07:51] benjaminion opened #3141 "LLL: the bitwise shift macros after EIP-145 is implemented"
@axic @zigguratt

Just kicking off a discussion about this ahead of time. [EIP-145](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-145.md) will introduce native `shl` and `shr` EVM opcodes, which is long overdue. This is slated for the Constantinople fork.

The issue for LLL is that there currently exist compiler macros for `shl` and `shr` introduced in #2394.  Unfortunately, the order of t

[2017-10-28 11:54] axic commented on #3140
It also lacks support for
[code]

[2017-10-28 12:07] yann300 commented on #3136
There are plans to split the remix and browser-solidity into several npm modules,
but we were not there yet. seems like a good occasion to start

[2017-10-28 15:15] Balajiganapathi commented on #3116
How to do this? Per my understanding, this fails because when getting the integerType of the RationalNumberType, it returns empty as number of bits needed is greater than 256. This happens because we are converting both sides to mobile types before comparing.

[2017-10-28 15:34] roderik commented on #2243
@djudjuu do you think this is also possible for documentation on functions? I do not really have an idea on where to start looking :)

[2017-10-28 18:41] eepstein opened #3143 "Support constant identifiers in array declarations."
It would be v nice if code like this compiled:

    contract Foo {

        uint8 constant _max_sz = 16;

        address[_max_sz] public bar;

       ...
    }

But the compiler gives:

`TypeError: Invalid array length, expected integer literal.`

Can this feature be added to the language: support for `constant` size (vs. a literal size value) when declaring a fixed length array.

[2017-10-28 19:44] axic commented on #3143
Duplicate of #716.

[2017-10-28 19:44] #3143 closed, assigned to nobody

[2017-10-28 19:53] axic commented on #3116
I'd argue it's not worth spending much effort on this case unless a good use case can be presented.

[2017-10-28 20:13] axic commented on #1805
@Balajiganapathi if you are looking for another task, this might be a good fit

[2017-10-28 23:07] axic commented on #3141
Removing them or swapping the operands are both breaking changes, though we haven't so far paid much attention to breaking changes, partially due to the fact LLL has no releases :)

I don't particularly like that people are using builtin functions and inline assembly interchangeably. A good actual step forward could be defining builtin functions (aka functions exposing underlying opcodes). In that

[2017-10-28 23:08] axic commented on #1288
@zigguratt @benjaminion I think we could close this issue given Serpent is deprecated by its authors.

[2017-10-28 23:42] zigguratt commented on #1288
I agree. I haven't looked into it yet, but does Viper have an LLL dialect?

[2017-10-28 23:48] axic commented on #1288
It had, but they've changed it from s-expressions.

[2017-10-28 23:51] zigguratt commented on #1288
Then we're good to go! I never liked that there were different dialects in the first place. At least we got `with` and `until` out of the exercise.

[2017-10-29 06:32] walter-weinmann opened #3145 "grammar.txt: missing rule for "ParameterList = '( VariableDeclaration Identifier ')'""
(I am currently trying to verify my Solidity LALR Parser project [syparse](https://github.com/walter-weinmann/syparse) with the examples in the [Solidity  documentation](https://github.com/ethereum/solidity/tree/develop/docs).)

The following example is taken from chapter `Libraries` in document `contracts.rst`:
[code]
The existing grammar rule
`ParameterList =        '(' ( TypeName            Ide

[2017-10-29 06:54] walter-weinmann opened #3146 "grammar.txt: unknown assembly 'for' construct"
(I am currently trying to verify my Solidity LALR Parser project [syparse](https://github.com/walter-weinmann/syparse) with the examples in the [Solidity  documentation](https://github.com/ethereum/solidity/tree/develop/docs).)

The following example is taken from chapter `Inline Assembly (second example)` in document `assembly.rst`:
[code]
The for construct is neither covered by the `ForStatement

[2017-10-29 08:25] walter-weinmann opened #3148 "grammar.txt: missing rule for 'AssemblyAssignment'"
(I am currently trying to verify my Solidity LALR Parser project [syparse](https://github.com/walter-weinmann/syparse) with the examples in the [Solidity  documentation](https://github.com/ethereum/solidity/tree/develop/docs).)

The following example is taken from chapter `Inline Assembly (Declaring Assembly-Local Variables)` in document `assembly.rst`:
[code]
The existing grammar rule
`AssemblyAs

[2017-10-29 09:27] walter-weinmann opened #3149 "grammar.txt: missing rules for 'AssemblyLocalBinding'"
(I am currently trying to verify my Solidity LALR Parser project [syparse](https://github.com/walter-weinmann/syparse) with the examples in the [Solidity  documentation](https://github.com/ethereum/solidity/tree/develop/docs).)

The following example is taken from chapter `Inline Assembly (Access to External Variables and Functions (Labels))` in document `assembly.rst`:
[code]
The existing grammar

[2017-10-29 11:35] walter-weinmann opened #3151 "grammar.txt: missing rule for low level functions (assembly)"
(I am currently trying to verify my Solidity LALR Parser project [syparse](https://github.com/walter-weinmann/syparse) with the examples in the [Solidity  documentation](https://github.com/ethereum/solidity/tree/develop/docs).)

The following example is taken from chapter `Inline Assembly (Functions)` in document `assembly.rst`:
[code]
This example is not covered in `grammar.txt`.

The following e

[2017-10-29 15:31] axic commented on #3151
The best, if at all possible, would be treating data between `assembly { .. }` as verbatim because it essentially is a different language with its own grammar.

[2017-10-29 18:47] walter-weinmann commented on #3151
How about we have two grammar definitions: `grammar_solidity.txt` and `grammar_assembly.txt`? The existing grammar definition `grammar.txt` becomes `grammar_solidity.txt`. The following rules are removed:
[code]
The grammar rule

`InlineAssemblyStatement = 'assembly' StringLiteral? InlineAssemblyBlock`

becomes the link to `grammatik_assembly.txt`, which contains the rules of the assembly language

[2017-10-30 00:48] tjayrush opened #3153 "ABI file should contain a "name" field for the constructor type"
An ABI file contains items defining each object type: `function`, `event`, `fallback`, and `constructor`.

The `fallback` function, obviously, doesn't have a name (since the fallback is a function with no name).

The `function` and `event` types have a JSON field called name. This makes it easy to write code to automatically parse the input data of a transaction (as we do with QuickBlocks's **grab

[2017-10-30 06:25] subramanianv opened #3154 "Require/Assert should allow a message as an additional argument"
Currently in Solidity, if there are multiple require/assert statements. You would not know which require/assert statement caused the exception. It would be super useful if the require/assert statements take into a message as an argument.

for example something similar to this.
`require(a>5, "Error Message: Caused by a>5");`
   or
`assert(a>5, "Error message: Caused by a>5");`

[2017-10-30 08:20] soad003 commented on #3136
@androlo @axic sorry for the late answer. I really like the idea of a standalone npm module for the static analyser and yes a helping hand is always appreciated. @androlo if you need help or if you have any questions about some implementation detail, let me know!

[2017-10-30 10:03] walter-weinmann opened #3156 "grammar.txt: missing rule ExpressionList or IdentifierList"
(I am currently trying to verify my Solidity LALR Parser project [syparse](https://github.com/walter-weinmann/syparse) with the examples in the [Solidity  documentation](https://github.com/ethereum/solidity/tree/develop/docs).)

The following example is taken from chapter `Assignment (Destructuring Assignments and Returning Multiple Values)` in document `control-structure.rst`:
[code]
Round bracke

[2017-10-30 10:36] walter-weinmann commented on #3145
The following example is taken from question `What is the ``memory`` keyword? What does it do?` in document `frequently-asked-questions.rst`:
[code]
The existing grammar rule
`ParameterList =        '(' ( TypeName            Identifier? (',' TypeName            Identifier?)* )? ')'`
does not cover an expression like
`function append(uint[] storage d) `.

[2017-10-30 10:39] axic commented on #3154
This is tracked in #1686.

[2017-10-30 10:39] #3154 closed, assigned to nobody

[2017-10-30 10:39] axic commented on #1686
To support tracking of `assert`, we could consider pushing a "source location identifier" (to be defined) just before `INVALID`:
[code]

This way a debugger with having access to the sources could figure out which assertion terminated.

[2017-10-30 10:41] axic commented on #3156
It seems that leading comma is covered ((`Identifier? ',')*`), but trailing one isn't.

I think the rule should be
[code]

if `+` (meaning at least once) is not available then:
[code]

[2017-10-30 10:47] walter-weinmann commented on #3156
In my  opinion leading and trailing commas in an `IdentifierList `are covered, but here the problems are:

1. `data.length` is not an Identifier
2. `date[3]` is not an Identifier
3. it should be `var (x,) = (1,);`

[2017-10-30 10:57] axic commented on #3156
Sorry, you are correct, the grammar expression seems to be ok.

1. and 2. it actually takes an expression (which must be valid as an lvalue) and not an identifier
3. is fine, because `x` is already declared in the first expression of the function (`var (x,b,y)`)

[2017-10-30 11:15] walter-weinmann commented on #3156
The only rule which allows leading or trailing commas in a round bracket is
`IdentifierList = '(' ( Identifier? ',' )* Identifier? ')'`
Now `IdentifierList` is only allowed in rule `VariableDefinition`:
`VariableDefinition = ('var' IdentifierList | VariableDeclaration) ( '=' Expression )?`
But then the VariableDefinition has to start with the keyword `var`.

My guess was that the three statements

[2017-10-30 11:47] axic commented on #2109
Raised over at Remix (https://github.com/ethereum/remix/issues/585) is a good suggestion that this should be definitely enforced for constructors, because it is unlikely case to create something without passing calldata. And considering it is concatenated after the bytecode it does leave a bigger surface for errors than regular transactions.

[2017-10-30 13:02] axic commented on #3052
The reason is explained in #2638 (also see #3132).

Do you have examples for any of these?

I'm closing this as a duplicate now, but if you do find examples where unrelated errors surface, please do reopen or create new issues for those.

[2017-10-30 13:02] #3052 closed, assigned to nobody

[2017-10-30 13:50] axic opened #3157 "Constant expression evaluation at compile time"
Variables can be declared `constant` which allows:
- literals
- (arithmetic) expressions
- and function calls to "pure" functions, which is a hardcoded list of: `keccak256`, `ecrecover`, `sha256`, `ripemd160`, `addmod`, `mulmod`, `new` (for creating objects only, such as arrays)

Currently whenever a constant expression is used, the entire expression is placed into the output. This is of course re

[2017-10-30 13:51] axic commented on #3122
I'd argue against allowing any `pure` function in `constant` variables before #3157 is sorted out.

[2017-10-30 13:57] federicobond commented on #3140
I think it does cover `new Identifier()`. It's parsed as:
[code]

[2017-10-30 14:04] federicobond commented on #3140
`new uint[](300)` is specified and parsed as:
[code]

[2017-10-30 14:18] walter-weinmann commented on #3140
Thanks Frederico.

[2017-10-30 14:18] #3140 closed, assigned to nobody

[2017-10-30 14:29] axic opened #3158 "Include a BNF parser generator capable of using grammar.txt and run all examples from tests/docs on it"

[2017-10-30 14:42] axic commented on #3153
The reason for this is the ABI is describing all the information needed for encoding/decoding data according to the ABI. The name of the constructor is not needed at all.

Please note the ABI doesn't necessarily describe a given contract, but a subset of the interface such contract supports.

I can see the point of putting the name into the ABI in the short term, but I have a feeling in the long t

[2017-10-30 17:54] androlo commented on #3136
@soad003 great. i will let you know. this is fairly low prio to me though.

[2017-10-30 19:27] chriseth commented on #3153
Also note that the fact that the constructor is named the same way as the contract is a specific choice of Solidity. The ABI is supported by many more languages and not all of them tag the constructor this way.

[2017-10-30 19:59] tjayrush commented on #3153
I come at everything I do from the direction of a "forensic accountant." By this, I mean trying to account for or audit the transactions on a contract with nothing but an Ethereum address.

The ABI faces in two directions. It faces into the EVM, and I understand that here it would serve little purpose, but it also faces out to the world. It's this second case I was thinking of.

If I have only an

[2017-10-30 22:09] axic commented on #3153
For downsides, see my questions above. If Solidity adds a new field to the ABI, that puts a pressure on the ecosystem to also add that field in other languages, where it may or may not make sense.

I am not entirely sure the best way to understand what a contract at a specific address does is solely by the ABI, but rather more data points would be helpful. Please have a look at the contract metada

[2017-10-31 00:11] tjayrush commented on #3153
Got it. I think the metadata serves my purpose. Thanks. Sorry for the newbie question: should I close this or will you?

[2017-10-31 12:45] androlo commented on #3136
As an npm module this would have to include some form of validation of the provided AST objects themselves. The best thing would be to have that in a stand alone AST util for JS, which would have that functionality as well as some other things, allow walking, etc. I'm not sure that exists. A very clean way of doing it is by using TS, and include proper types for all the nodes. That way the static

[2017-10-31 17:27] awgneo commented on #1686
@axic That is a genius idea and very forward thinking! +1000; Too often we are forced into printf-style debugging with solidity and while passing reason strings around is a good step, it still doesn't allow us to utilize modern debuggers with breakpoints,  traces, watches, etc. Op-code additions are a serious thing, I imagine, and we should aim for the moon here to get it right.

[2017-11-01 02:12] dreamer-zq opened #3160 "struts data to json data"
How do I convert struts data to json data，example:
struts {
        uint id;
        address def
        string cd; //service code (unique)
        string def_type; // service definition type
        string auth; //
        string github; //github address
        uint createtime; //
}
do someone has some good ideas?

[2017-11-01 08:43] gaoxiangxyz opened #3161 "Calculate the position of mapping value"
I try to write codes as below to calculate the position of value of mapping ( `keccak256(k . p)` ) described at [Layout of State Variables in Storage](https://solidity.readthedocs.io/en/develop/miscellaneous.html#layout-of-state-variables-in-storage).
But both results are different with position show in debugger.
Could you point what mistake I make?
Thanks.

` byte32 pos = keccak256(uint256(k),'.'

[2017-11-01 09:13] benjaminion commented on #3141
Actually, I like this. For example, opcode expressions could be required to be capitalised: `SHL` vs. `shl`. The parser is already case-sensitive, so the following results in neither `0` nor `10`, but `3`:

    (returnlll (seq (def 'add (a b) 0) (return (+ (ADD 1 2) (add 3 4)))))  => 3

I think this would be easy to implement, maybe just one change in *CodeFragment.cpp*, `validAssemblyInstruction(

[2017-11-01 19:53] chrisvwx commented on #2131
When I saw the title of @axic 's talk today at DevCon3 on "Julia – IR for Ethereum Contracts" my immediate thought was that the talk involved the scientific computing language [Julia](https://julialang.org/). This was also the impression of a Gnosis employee.  Julia the scientific computing language has been around since 2009 or 2012, depending on which date one uses; I anticipate the use of the s

[2017-11-01 20:53] limexp commented on #3161
@gaoxiangxyz
Dot ('.') is a concatenation operator. Omit it from formula.

[2017-11-01 21:33] cag commented on #2131
Yeah, totally voting for "not Julia" to avoid confusion with the scientific computation language Julia.

[2017-11-01 21:42] limexp commented on #3160
@zhiqiang-bianjie
You have fixed structure, so calculate json string length (sum lengths of names, delimiters and values). Be aware of special characters in string values.
Then allocate a new string (Array) and copy or encode values into it.
Without optimization everything is very straightforward.

[2017-11-01 22:09] quantumproducer opened #3162 "brew linkapps deprecated"
brew linkapps solidity
Warning: `brew linkapps` has been deprecated and will eventually be removed!

Unfortunately `brew linkapps` cannot behave nicely with e.g. Spotlight using
either aliases or symlinks and Homebrew formulae do not build "proper" `.app`
bundles that can be relocated. Instead, please consider using `brew cask` and
migrate formulae using `.app`s to casks.

From: http://solidity.re

[2017-11-02 02:23] #3161 closed, assigned to nobody

[2017-11-02 04:51] quantumproducer opened #3163 "Solidity by example - Warnings with voting.sol"
Installed from source today. Following https://solidity.readthedocs.io/en/latest/solidity-by-example.html

Get Warnings when compiling the code.

Unclear what "Spanning multiple lines" means. Is this an error?

﻿﻿~/solid/examples/solc voting.sol
Warning: This is a pre-release compiler version, please do not use it in production.
voting.sol:31:5: Warning: No visibility specified. Defaulting to "pub

[2017-11-02 04:52] quantumproducer opened #3164 "Missing Documentation for Test Network"
Neither https://solidity.readthedocs.io/en/latest/frequently-asked-questions.html or https://solidity.readthedocs.io/en/latest/solidity-by-example.html

has examples of running solidity contracts on a test network and validating the contract does what it's supposed to.

I expected to see examples showing how to run these contracts on a test network so I can manually verify the contract behaves as

[2017-11-02 08:37] dreamer-zq commented on #3160
ok,i got it.thanks

[2017-11-02 18:53] nateawelch opened #3165 "Support for EIP #196 - #198 precompiles"
Is there a timeline/plan for supporting the precompiles introduced in byzantium?

[2017-11-02 19:42] limexp commented on #3164
@quantumproducer
You can use [Truffle](https://github.com/trufflesuite/truffle) and [TestRPC](https://github.com/ethereumjs/testrpc) for testing. As I know this is the simplest and fastest way to test. These projects have good documentation about testing.

[2017-11-03 08:52] poperechnyi1 opened #3166 "Error in unlinked_binary or Error: User contains unresolved libraries. You must deploy and link the following libraries before you can deploy a new version of User:"
Hello! I read about [mappings](https://solidity.readthedocs.io/en/develop/types.html#mappings) and I tried use [IterableMapping](https://github.com/ethereum/dapp-bin/blob/master/library/iterable_mapping.sol). And I followed example iterable_mapping.

The `truffle compile` goes well but in file.json in property: `"unlinked_binary": "0x6060604052341561000f57600080fd5b5b6103478061001f6000396000f30060

[2017-11-03 10:10] poperechnyi1 commented on #3166
I solved this problem in migration file shoul comment or delete some rows:
[code]

When execute command` truffle compile `and `truffle migrate` should include only contract file for deploy, not library or patterns from which they are inherited.

[2017-11-03 10:10] #3166 closed, assigned to nobody

[2017-11-03 16:37] androlo opened #3167 "The use of 'magic numbers' should be discouraged in the style guide."
This could be done by adding a section in "code layout -> other recommendations" where it points out that nondescript number literals in code should generally be avoided. Examples can show how to avoid it by using constant fields.

If accepted, I could PR this.

[2017-11-03 17:08] alex-kampa commented on #2563
Re "Functions defined in Base that use the x state variable will access Base.x, and those defined in Derived will silently access the different slot Derived.x. **This is a common problem for beginners that don't understand inheritance very well**" : different languages handle this differently, so this is about understanding Solidity inheritance, not inheritance in general. Most languages do allow

[2017-11-03 18:42] alex-kampa commented on #2563
RE "This is a common problem for beginners that don't understand inheritance very well" - you probably mean to say "that don't understand Solidity inheritance very well". Inheritance and variable/function overriding is very common in OO languages, but handled in different ways, from implicit to explicit. The way Solidity deals with it is not the clearest one. Adding the "override" keyword would he

[2017-11-03 21:05] ulope opened #3168 "Provide binary macOS releases"
Please think about providing precompiled macOS binaries. Compiling a new solc version is excruciatingly slow locally and almost impossible on Travis CI due to maximum job runtime.

[2017-11-04 15:28] quantumproducer commented on #3164
Thank you. I found https://medium.com/@ConsenSys/a-101-noob-intro-to-programming-smart-contracts-on-ethereum-695d15c1dab4 which looks like a good start. Would like to see documentation like this in the official repo.

[2017-11-05 00:26] stefanionescu opened #3170 "onlyOwner modifier in one function doesn't allow the owner himself to call another function with the same onlyOwner"
Solidity: 0.4.15
Deployment of contracts on Mist (latest)

I have a function "mint" in contract A that mints a token. I also have another contract B that keeps a mapping with the minted amounts of tokens for each address. In contract B, I have a function "increaseTotal" that increases the total amount of minted tokens when I mint something.

Inside "mint", I call the function "increaseTotal" from

[2017-11-05 00:53] limexp commented on #3170
@stefanionescu
It may be a migration issue. Please describe the procedure and provide code fragments for at least constructors of both contracts and call to increaseTotal from mint.

[2017-11-05 01:13] stefanionescu commented on #3170
@limexp

The contract with my modifier:

     contract Owned {

    address private owner;
    address private newOwner;

    modifier onlyOwner() {
        require(msg.sender == owner);
        _;
    }

    /// @notice The Constructor assigns the message sender to be `owner`
    function Owned() {
        owner = msg.sender;
    }

    function changeOwner(address _newOwner) onlyOwner {

[2017-11-05 09:50] eepstein opened #3171 ""view" function modifier causes function to behave differently"
Current Remix (Solidity 0.4.18)

A trivial "contract":

[code]

Calling getFoo executes rapidly in Remix and shows the expected value (123).

The problem is the getBar() method.  I chose not to annotate it with "view" but rather than returning the expected value, no value is returned at all.

Did adding the "view" enhancement break something else?

[2017-11-05 10:01] eepstein commented on #3171
ARG!  without the "view" modifier Remix was doing getBar() in a tx, which of course doesn't return a value.  Doh.

[2017-11-05 10:01] #3171 closed, assigned to nobody

[2017-11-05 10:59] limexp commented on #3170
@stefanionescu
When you call **mint** function of TokenController from address X the value of **msg.sender** will be equal to X.
But when **increaseTotal** function of SapienToken called from mint function then the value of **msg.sender** will be equal to the address of TokenController instance. That's why onlyOwner check in increaseTotal fais.

[2017-11-05 11:27] limexp commented on #3163
@quantumproducer
The source for this message is here https://github.com/ethereum/solidity/blob/dc154b4e5661945ca9c98720e097e84729a528be/libsolidity/interface/SourceReferenceFormatter.cpp#L86

It is just a notice that the source code for the previous output message was not on a single line.

[2017-11-05 12:02] limexp opened #3172 "Get rid of "no visibility specified" warnings in documentation"
After PR #2749 now examples in documentation produce messages:

Adding "public" visibility will solve the problem.

I can make a PR after merge of #3152.

[2017-11-05 14:24] stefanionescu commented on #3170
You're a genius. I can't believe I couldn't see that...thanks!

[2017-11-05 14:24] #3170 closed, assigned to nobody

[2017-11-05 16:29] #3160 closed, assigned to nobody

[2017-11-05 20:12] MicahZoltu opened #3174 "Add support for compiler output filtering."
This is both a bug and a feature request.  I can split it into two if that helps:

### Bug

https://solidity.readthedocs.io/en/develop/using-the-compiler.html#input-description says that `outputSelection` is a setting that can be passed to the input JSON but #2256 suggests that this is not actually the case.  The documentation should be updated and that section removed.

### Feature

Implement com

[2017-11-06 03:59] axic commented on #3174
Please refer to the changelog, output filtering exists, though to the fullest extent yet.

As a side note, the compiler must parse that 12.5MB JSON file that, so perhaps it is a good indication for review (why is that big? 😉)

[2017-11-06 04:04] MicahZoltu commented on #3174
This is the _output_ JSON that is that big, it is the JSON file the compiler is generating.  I don't want it to generate 90% of what is in that file, but I can't stop it because the configuration in the documentation doesn't actually work.

I see this in the 0.4.18 changelog:

However, when I upgrade my contracts to 0.4.18 the compiler complains about my input JSON:
[code]
If I delete the `outputS

[2017-11-06 08:19] soad003 commented on #3136
@androlo walking the ast is provided by the package ethereum-remix
(AstWalker, see https://github.com/ethereum/browser-solidity/blob/master/src/app/staticanalysis/staticAnalysisRunner.js).

All the util functionality is provided in
https://github.com/ethereum/browser-solidity/blob/master/src/app/staticanalysis/modules/staticAnalysisCommon.js
things like node identification and extraction of inform

[2017-11-06 13:47] chuacw opened #3175 "Event not emitted"
The following contract is supposed to emit 2 events on creation, however, only 1 event is emitted.

EXP: 2 events emitted.
ACT: 1 event emitted.

Using Ethereum Wallet 0.9.2 for the contract deployment.
The contract is on Ropsten.

pragma solidity ^0.4.16;

contract EventBug {
  event NotEmitted;
  event Emitted();

// Ropsten TxHash: 0xc9dbde78f19a2463af505a44bd16e56084cb3da3f5aa96aea832550eba2a2

[2017-11-06 21:38] ricmoo opened #3176 "ABI v2 is incorrectly identifying a structure as recursive."
See the [Solidity source here](https://gist.github.com/ricmoo/f62c6c197f2587857055217c6e02eb3d).

It is affecting a large (ish) number of my procedurally generated test cases for the [ethers.js](https://github.com/ethers-io/ethers.js) ABI coder with v2 support. For now these test cases are being dropped from the suite.

Let me know if you need other example test cases; this one is one of the less

[2017-11-07 03:37] MatthewDLudwig commented on #3069
As this problem still exists are there suggested workarounds?  Is the code fine and we just need to wait for an update, or should we be keeping all structs at less than 32 bytes of storage.

[2017-11-07 05:33] naddison36 opened #3177 "Using a struct in a public function with ABIEncoderV2"
The following code compiles using solidity version 0.4.18+commit.9cf6e910 on Mac OSX
[code]

If I change the `addTestStruct` function from `internal` to `public`, then I get the following error:
`InternalCompilerError: Static memory load of more than 32 bytes requested.`

I've tried numerous ways of declaring the struct as public.

Expected result is a struct can be passed into a public function w

[2017-11-07 15:28] frangio opened #3178 "How can we mitigate the issues that can be caused by selfdestruct"
We should discuss how Solidity could have prevented the [newer Parity multisig fiasco](https://paritytech.io/blog/security-alert.html).

It has been on my mind for a while that contracts meant to receive payments should never be selfdestructed. Actually the whole selfdestruct feature is semantically odd and a big security hole. It means "from now on all transactions sent to this smart contract wil

[2017-11-07 16:24] federicobond commented on #3178
Thanks for taking the time to think about this @frangio, because it's important. I have a slightly different take and would love to discuss it with everyone.

While the ability of the library to selfdestruct itself was the direct cause of the Parity bug, I think the mistaken assumption here was that nobody would call the library as a contract. It breaks our assumption of libraries as meant only to

[2017-11-07 16:34] frangio commented on #3178
100% agree with adding that check, and with the observation of the mistaken assumption that caused the bug.

In the particular case of the Parity bug it would not have helped, though. The "library" was actually [a Solidity `contract`](https://github.com/paritytech/js-shared/blob/0ce48cca1960b7ef1f6526dbef817a251ea40890/src/contracts/snippets/enhanced-wallet.sol#L64), and the main contract was [man

[2017-11-07 16:57] federicobond commented on #3175
That’s some funny looking code. Thanks for reporting it @chuacw!

The specific problem with your code is that you are not calling the event, just referencing it. Try replacing NotEmitted with NotEmitted().

You can see the difference more clearly if you do:
[code]

The other issue is that you can apparently declare events with an implicit empty argument list, something that is not specified in the

[2017-11-07 17:02] federicobond commented on #3158
grammar.txt in its current state is not formal enough to be used as input to a parser generator, but feel free to use my own ANTLR4 grammar to do it.

[2017-11-07 19:21] limexp commented on #2742
@chriseth
I guess there may be a typo. Here import path is preparing for comparison:
https://github.com/ethereum/solidity/blob/dc154b4e5661945ca9c98720e097e84729a528be/solc/CommandLineInterface.cpp#L672

And here one of allow-paths is preparing for append:
https://github.com/ethereum/solidity/blob/dc154b4e5661945ca9c98720e097e84729a528be/solc/CommandLineInterface.cpp#L713

I suggest to change ```b

[2017-11-07 19:58] VoR0220 commented on #3178
simple solution imo is to disallow selfdestruct in all libraries. It kind of defeats the purpose of libraries imo if they are destructible as they are meant to be permanent figures that are reusable.

[2017-11-07 22:19] federicobond commented on #3178
But having the library selfdestruct the contract that delegatecalls it is perfectly valid.

[2017-11-07 22:21] frangio commented on #3178
Yes, @federicobond's suggestion to require that the function isn't called in the library's context would remove the problem of selfdestructing the library itself.

[2017-11-07 22:31] VoR0220 commented on #3178
@federicobond true. But could a contract derive whether or not it's a delegatecall or a regular call? I think it could (and if not there should be an EIP specifying some kind of safety mechanism here) but I'm not sure.

[2017-11-07 22:59] federicobond commented on #3178
Hmm, after doing some research it looks like it is not possible to get the address of the contract that is currently executing when inside a delegatecall. Can anyone confirm?

[2017-11-07 23:04] federicobond commented on #3178
Parity used a contract instead of a library because there is no way to declare non-constant fields inside libraries. While their solution makes sense for economic and storage efficiency reasons, it remains overly clever given our current understanding of EVM semantics.

[2017-11-08 03:24] frangio commented on #3178
@federicobond I was able to get the contract address of the execution context via the `this` variable in a library function.

[2017-11-08 19:42] VoR0220 commented on #3178
it makes sense from that standpoint but at the same time it's just better to pay the cost and be secure than trying to get clever...evidently.

[2017-11-08 20:58] federicobond commented on #3178
I just don't want to overfit the solution to this particular problem. It's clear that many people find proxies and delegatecall very useful and it's a pattern that will remain very popular. How can we work at the language level to ensure they are done in the safest way possible?

[2017-11-08 21:03] VoR0220 commented on #3178
I still say that unless the code is being injected into the contract, that libraries should forbid selfdestructs within them. It wouldn't have prevented the Parity problem, but it is something that should be paid attention to nonetheless imo.

Another option would be to ban the use of selfdestruct throughout the compiler unless you drop into assembly mode. This seems to be a fairly popular opinion

[2017-11-08 21:43] axic opened #3179 "Memory not cleared (?) before call and result after fallback function is treated as boolean"
Found by @D-Nice, I think there is another issue this is a duplicate of, but couldn't find it:

[code]

[2017-11-08 21:58] axic opened #3180 "Consider updating all documentation examples to match latest compiler"
e.g. disallow any warnings.

This also means that likely it won't compile with older ones.

I'm not sure which is the better option out of the two (current behaviour vs. this proposal).

[2017-11-08 22:02] redsquirrel commented on #3180
This sounds like a great idea. Also, can the documentation be versioned so people using an older compiler version can see what works for them?

[2017-11-08 22:23] janat08 opened #3181 "Ethereum.org learn solidity takes to develop that can't be found to edit"
Ethereum.org learn solidity takes to develop that can't be found to edit. That is if you want help with documentation it would help to not link develop branch of documentation in footer that then can't be found to contribute to.

[2017-11-08 23:07] 3esmit commented on #1734
Not anymore.

[2017-11-09 01:22] maurelian commented on #3180
@redsquirrel isn't it already versioned?
ie. https://solidity.readthedocs.io/en/v0.4.1/solidity-in-depth.html

[2017-11-09 02:05] redsquirrel commented on #3180
Right, so if that’s the case, why not keep the docs up to date with the
latest version?

On Wed, Nov 8, 2017 at 7:22 PM Maurelian <notifications@github.com> wrote:

[2017-11-09 02:19] axic commented on #3175
`event NotEmitted;`

Is clearly a bug as mentioned by @federicobond, it should be a parser error.

`NotEmitted; // <-- No error as well`

We should issue a warning in this case.

[2017-11-09 13:17] r0kk3rz opened #3184 "Query style syntax"
In a multisig wallet scenario, if you want to check that everyone has signed a particular pending transaction you end up doing something like this.

[code]

Which is a rather long winded way of saying 'Everyone needs to agree to this'.

Instead it would be nice to get a bit more declarative and query-like with it.
Eg.
[code]

Which reduces a hand crafted loop with possible off by one errors and ot

[2017-11-09 13:23] lorien commented on #3048
I've checked few times - it works OK for me now. Exactly as described in documentation. I think I should close the issue.

[2017-11-09 13:23] #3048 closed, assigned to nobody

[2017-11-09 17:30] federicobond opened #3185 "Better tools for implementing proxies via delegatecall"
In the wake of the recent Parity hack, it's clear that we can do better at the language level to improve the security of some of the patterns that have appeared recently due to the increased use of delegatecall.

While putting several hundreds of millions of dollars in a complex contract structure like the one used by Parity was foolish, especially when there are [much better alternatives](https:/

[2017-11-09 17:54] axic commented on #3185
Please see #2296 as part of the suggested solution.

[2017-11-09 18:43] federicobond commented on #3185
Yes, I like the ideas on how to distinguish between delegatecalls and regular calls to the contract (I was thinking about proposing a new opcode CODEADDRESS or something similar, but checking for a magic storage value works too).

I also agree that we might want to be careful with the fallback function (perhaps a simple check for empty CALLDATA can work).

@chriseth's proposal requires the master

[2017-11-09 19:52] Quazia commented on #1686
@axic +1 Yeah I think that would be just as if not more useful than the "message" or "reason" strings requested in various issues. How difficult would it be to implement "source location identifiers" and is there anything I can do towards making this a reality? This is the sort of thing that's going to save so much time the quicker it happens the better.

[2017-11-09 19:57] martriay opened #3186 "Date function"
(Originally an [OpenZeppelin proposal](https://github.com/OpenZeppelin/zeppelin-solidity/issues/533))

Smart contracts have to deal with dates for a multiplicity of reasons. Nowadays this is not only done by placing a [magic constant](https://en.wikipedia.org/wiki/Magic_number_(programming)#Unnamed_numerical_constants) but also by representing them as seconds since unix epoch, which is not human-r

[2017-11-09 20:57] axic commented on #3186
I think this is a very good candidate for a library function (`Date(uint,uint,uint,uint,uint,uint) returns (uint)`).

If it is marked `pure` and we implement compile time constant expressions, then `uint constant crowdsaleStartsAt = Date(2017, 9, 31, 16, 30, 0)` can be a constant value.

[2017-11-09 21:20] federicobond commented on #3186
Is there a way to skip pure functions from the generated bytecode? I think the Date function would require a non-trivial amount of code that would be wasteful to deploy if used only for initializing a constant.

[2017-11-09 21:23] federicobond commented on #3186
For example, in v8 computing just days from epoch uses [this code](https://github.com/v8/v8/blob/master/src/builtins/builtins-date.cc#L67-L83):
[code]

[2017-11-09 22:00] axic commented on #3186
`internal` functions which are not referenced by anything should be dropped from the bytecode already (need to double check if this is the case)

If all the plans for *compile time constants* are implemented, then `internal pure` functions assigned to a simple constant only would be done compile time. If *compile time constants* are not implemented, we could still aim to turn (or have an option) c

[2017-11-10 14:05] ghost opened #3187 "`Internal compiler error during compilation` for a function with `external` modifier"
Whenever I do:
[code]

on the following source code file:
[code]

I get the following error:
[code]

My solidity version is:

[code]

Changing the `external` modifier to `public` makes the contract compile successfully.

[2017-11-10 14:05] ghost commented on #3187
Am I doing something wrong?
Or did I just find a bug in the compiler?

[2017-11-10 21:16] federicobond commented on #3187
It's indeed a bug in the compiler. The current ABI encoder does not support passing structs from external calls, but it should show a proper error message.

For the moment, you can opt-in to the new encoder with `pragma experimental ABIEncoderV2;` or pass each individual struct member as separate arguments.

[2017-11-11 02:23] RorschachRev commented on #3178
The core issue was multisig, which gave ownership to anyone who asked it. To prevent same fiasco a third time, ownership of public functions should be explicit in the compiler step. (Parity lost a lot of money a few months back, same line of code in their contract, same bug.) If you want to get even more explicit about permissions, the ownership of functions (public and private) should belong to g

[2017-11-11 02:39] 3esmit commented on #3178
First of all, the killed contract was not a true library, instead a regular contract. This problem would affect contracts that are true libraries (the ones used in "using" keyword")?

[2017-11-11 02:43] RorschachRev commented on #3178
I don't see many ways of limiting programmer error. https://github.com/paritytech/parity/pull/6103/files

[2017-11-11 02:45] 3esmit commented on #3178
I think the solution is awarness and warnings when using selfdestruct.

It's simple to fix the "library" contract to become safe from the first call, in Parity case you just would need to add this constructor to WalletLibrary:
[code]
or something like this, but calling the initMultiowned at library constructor.

[2017-11-11 02:47] RorschachRev commented on #3178
The attack was 2 issued commands: initMultiowned and kill. These were the only two messages sent to the contract by the attacker. He became owner, and then suicide the contract. If we come up with some method to prevent suicide, we limit the owner takeovers to theft only instead.

[2017-11-11 02:57] RorschachRev commented on #3178
I'll put this another way. After a well known exploit was devised against Gav's very commonly copied and pasted multisig contract, Parity decides to use the same code. They paste insecure code into a contract controlling over $100 million and get exploited. They fix the exploit. Someone else pastes the original insecure code into a shared smart contract library and labels it a UI change. Whoever d

[2017-11-11 03:12] axic commented on #2296
We could consider introducing some kind of flag "in-master-copy", which would be accessible in the code and the user could code different behaviour using that (this also could work well with modifier areas).

[code]

[2017-11-11 03:12] axic commented on #3178
All these are good candidates for the Javascript static analyzer (currently part of Remix, but planned to be made into an independent library) cc @soad003.

I do think selfdestruct is a legitimate feature (as long as it is part of EVM). The main issue at hand is still using `delegatecall` without validating a contract against all its implications.

The real solution I think is to create a proper f

[2017-11-11 03:15] 3esmit commented on #3178
@RorschachRev here is not the place for bashing, but pointing out solutions, most of your "technical' analysis is not helpful and I assume everyone here knows the obvious, please stop spamming.

By the way, what happened in this contract is what we call "unknown unknowns", they audited but didn't noticed this detail, and now someone spot it everyone thinks that "is obviously ridiculous" "how noone

[2017-11-11 03:22] axic commented on #2296
Thinking more about this, it perhaps makes sense to have a special marker for such contracts/libraries: `shared contract Wallet` or `shared library Wallet`. The `isInMasterCopy` would only be available in such contracts and the `new shared` expression would only work with them.

[2017-11-11 03:22] axic commented on #3178
The problem with raising warnings in the compiler is that they cannot be switched off. We only raise warnings for things which are deprecated and can be silenced by using the recommended way of the given feature.

For others which are meant to be silenceable, there is the static analyzer code.

[2017-11-11 03:24] RorschachRev commented on #3178
Sorry I wasn't trying to spam. Can we add vulnerability checks (done by some tools) into the static analyzer?

[2017-11-11 12:50] 7flash commented on #2563
Is there any way to override variable now?
[code]

To my disappointment, fetchCap returns 10000 ether. How to deal with this when I have a lot of common code in parent contract?

[2017-11-11 15:54] sessai commented on #2563
@7flash - add the fetchCap() function into the Presale contract, which should override the parent's fetchCap

[code]
This is a pretty boring limitation of Solidity - in your case not a big deal as the function affected is short. Much more annoying if dealing with a long/complex function.

[2017-11-12 03:24] axic commented on #3165
Can you please explain why is there a need for language support? It can be implemented via libraries easily.

[2017-11-12 08:52] leonardoalt commented on #3137
I've implemented the `ite` part in my fork, and removed the solver push/pop for the branches (also removed the addAssertion for the condition and !condition). It works well right away exactly because the SSA indices of the vars do not overlap in the branches! So the vars can be computed inside the branches freely without constraints, but they're only used afterwards if their conditions are satisfi

[2017-11-12 12:47] 7flash commented on #2563
@sessai Exactly, that's the problem. Tokensale contract has complex functions related to hardcap. Should I duplicate these functions in presale? There is any better solution?

[2017-11-12 12:58] 7flash commented on #2563
Here is solution:

[2017-11-12 13:05] 7flash commented on #2563
Here is valid solution, validPayment returns false as expected.

[code]

[2017-11-12 13:06] 7flash commented on #2563
But there is a way to override generated getter function to write something like this?

[code]

[2017-11-12 17:16] sessai commented on #2563
@7flash - as far as I know you can't override a variable with a function.

The only solution I can imagine is to foresee this in the parent contract already, and instead of declaring variables write functions. So instead of:

[code]
write:

[code]

And then override the function in the child contract.

Yes this is VERY BORING! If anyone here has another solution, please let us know.

[2017-11-12 17:56] o0ragman0o commented on #2563
The safer option is to assign `TokenSale.hardcap` in `Presale` constructor.

[code]

[2017-11-13 03:34] redsquirrel opened #3192 "Variables can be used before they are declared"
I was surprised this compiled:

[code]

[2017-11-13 03:41] roadriverrail commented on #3192
This has been a part of the language for a while.  Actually, a few features
I've written have had to take it into account.  Despite it being pretty
unappealing (to me and you), I'm not sure it can be classified as an issue.

On Sun, Nov 12, 2017, 22:34 Dave Hoover <notifications@github.com> wrote:

[2017-11-13 03:44] redsquirrel commented on #3192
What are the reasons to support the ability to use a variable before it's declared?

[2017-11-13 03:47] o0ragman0o commented on #3192
Declarations are hoisted in a similar way that JS hoists.

On 13 November 2017 at 13:44, Dave Hoover <notifications@github.com> wrote:

[2017-11-13 05:10] cdetrio commented on #2908
This might be related to https://github.com/ethereum/solidity/issues/1137

[2017-11-13 11:55] subhodi opened #3193 "Delegate call does not detect uint function"
Let me explain by giving an example
[code]
`delegatecall` should call `setN` of `contract A`  instead fallback function is called as function signature is not matching.
 It calls `setN` if the code is  `addr.delegatecall(bytes4(sha3("setN(uint256)")), _n)` instead of just `uint`.

[2017-11-13 14:25] chriseth commented on #3193
You have to use the "long form" `uint256` for the signature. Having said that: We plan to remove this use of `delegatecall`. Please use proper libraries instead.

[2017-11-13 14:25] #3193 closed, assigned to nobody

[2017-11-13 14:26] soad003 commented on #3178
@axic i have some train time on Wednesday. I can try to build a warning into remix whenever selfdestruct is used, referring to this incident.

Imo it would be useful to provide the devs with a better overview about which functions a contract exports and under what conditions (preconditions) those functions can run (to make it easier to spot mistakes). Unfortunately, the definition of preconditions

[2017-11-13 17:39] lorenzb opened #3196 "`constructor` modifier"
# Feature request: Add `constructor` modifier

## Problem

Solidity currently has no special syntax to distinguish a constructor from a function. A constructor is simply a function whose name equals that of the contract.

This introduces a dependence between the name of the contract and the constructor that is easily overlooked when refactoring code, and can have disastrous consequences: If the co

[2017-11-13 17:44] axic commented on #3196
If anything, I'd rather prefer `constructor Foo()` then adding a modifier, because:
- `function` suggests the constructor can be executed multiple times (as `function` in every other case means that) and
- that having a modifier in today's language semantics would make someone look for the modifier body

[2017-11-13 18:04] axic commented on #3192
This is being addressed in #1679. I'm closing it as it is part of the language taking its basic scoping rules from Javascript. I'm sure the documentation explains this, but if not please reopen the issue.

[2017-11-13 18:04] #3192 closed, assigned to nobody

[2017-11-13 18:26] lorenzb commented on #3196
@axic: My proposal above was meant to fix the issue with as little changes to the language as possible. I completely agree with you: If we can change the syntactic structure of the language, then having `constructor Foo() {...}` or even just `constructor () {...}` would definitely be nicer!

[2017-11-13 18:35] lorenzb commented on #3196
We could also go the C++/Java/C# route and just have `Foo () {...}`.

Any option that ensures that renaming a contract will not accidentally turn a constructor into a function is good for me.

[2017-11-13 18:39] federicobond commented on #3196
I like `constructor() { ... }`. We can do it in a backward-compatible way to ease migration and the result looks familiar to JavaScript developers.

As an aside, not sure if your preferred linter does this, but if it doesn't I would highly recommend writing a rule to ban all UpperCamelCase functions that are not the constructor. This, together with the rule for enforcing UpperCamelCase contract na

[2017-11-13 22:52] axic commented on #3196
Adding a built in "modifier" called `constructor` would not be a breaking change due to horrible shadowing rules, but in my opinion it would be a bad decision in language design, especially if we wanted to move to a different syntax in 0.5.0 :)

[2017-11-13 22:54] axic opened #3198 "Consider using `fallback {}` instead of `function() {}` (S)"
Not sure which is better:
- omitting the parentheses makes sense because it can have no arguments
- omitting the parentheses doesn't make sense because it is inconsistent with the rest of the language (and could be confused with modifier areas)

[2017-11-13 22:56] axic commented on #3181
Can you please explain the issue in more detail? I am not sure what page to look at.

It is very likely though this issue should be addressed at https://github.com/ethereum/ethereum-org/issues (since that is the source for the website)

[2017-11-13 22:59] axic commented on #3168
What kind of macOS version are you using? On a early-2011 Macbook Pro with 8GB ram it doesn't take longer than 10 minutes to build.

[2017-11-13 23:00] axic commented on #3163
Any wording suggestions how to improve this?

cc @federicobond

[2017-11-13 23:02] axic commented on #3172
@limexp good idea! Please do.

[2017-11-13 23:12] axic commented on #3180
Because that forces users to always have the latest version of the compiler. It is debatable whether that is good or bad, but it seems that popular frameworks adopt Solidity releases with different delays.

Additionally for some reason readthedocs includes some versions and not others. Any ideas for that?

[2017-11-13 23:46] #3181 closed, assigned to nobody

[2017-11-14 09:56] Remi-Burgel opened #3199 "UnimplementedFeatureError without any message"
Hi,
While trying this on one of my contract :
[code]
I had `UnimplementedFeatureError: ` but without any message with the error and without the line where the error is, could we add something understandable for the dev because it was pretty hard to find why my contract couldn't compile.

Update :
--------------
It also appears when you want to return a struct from a storage map/array inside an eve

[2017-11-14 10:03] Remi-Burgel commented on #3199
I just realised that it had nothing to do with the array so I updated the code and the title

[2017-11-14 10:40] AyushyaChitransh opened #3200 "Division of two constant numbers gives error when stored in uint256"
## Source
The code responsible for error is:

`uint256 public result = (50000e18*2500)/300;`

## Problem
The error received is:

An explicit conversion to uint256  tells `Not yet implemented - FixedPointType.`

## Workaround

Currently, all constants are considered of `ufixed` datatype. To enable division of constants, one of them must be `uint256`. One way to do that is as follows:

`uint256 val

[2017-11-14 12:20] axic commented on #3200
Numbers actually have an internal type of "RationalNumber" which is attempted to be converted into either an integer (<= 256 bits) or a fixed point type. Your example number can only be converted into a fixed point type as it is not an integer and since fixed point types are not fully supported yet it will fail.

Can you please explain your suggestion? What I understand is you would want the compi

[2017-11-14 12:23] axic commented on #3174
The changelog is correct, it does support output selection, though not to the fullest extent. Currently it will filter based on file names / contract names requested. However, by using `*` / `*` you disable that feature.

Can you please expand on what "the compiler complains about my input JSON" means?

[2017-11-14 15:13] VoR0220 commented on #3178
@soad003 Seems slightly off topic but I think that the coloring of function names is an excellent idea.

[2017-11-14 16:28] chriseth opened #3202 "Assign unique code to each error"
Part of https://github.com/ethereum/solidity/issues/2768

This will be useful for @flantony's eclipse IDE (among others).

[2017-11-14 17:34] AyushyaChitransh commented on #3200
Thanks for this useful information. This issue was not a suggestion, but more like a question. I expected those numbers to be able to be `int` and be able to be converted to `uint256` implicitly. However, I still have a doubt:

Is `50000e18*2500` not a integer? I believed integers can range till `2**256`

## Another question:

What will be the result of `int`/`int`?

[2017-11-14 17:39] axic commented on #3200
The expression `(50000e18*2500)/300` is evaluated and considered as a single number, which is `1250000000000000000000000/3`.

See http://solidity.readthedocs.io/en/develop/types.html#rational-and-integer-literals

[2017-11-14 17:51] AyushyaChitransh commented on #3200
What data type should be used to store the result? I was unable to find a datatype to store the result. Following data types did not work:

[code]

[2017-11-14 17:54] axic commented on #3200
The support for fixed point types is incomplete. You will not be able to store this result in any type currently.

If you are certain you need this number, consider doing fixed point types by hand, but it is very likely that you could avoid it by restructuring your code.

[2017-11-14 18:01] AyushyaChitransh commented on #3200
Yes! Till then I can use a workaround by making one of the numbers as `uint256` and then perform the division.

`uint256 public result = 1250000000000000000000000/uint256(3);`

[2017-11-14 18:01] #3200 closed, assigned to nobody

[2017-11-14 18:04] 3esmit commented on #3185
One thing that would be useful is the ability to have storage in stub contract that is not affected in anyway by actions in code at delegatecall.
The use for this is to set an address variable storage that stores the target (or targets) to delegate call.
I've been able to accomplish this by using a secondary contract to store the target address, but this overloads the gas on each call to the read

[2017-11-14 19:02] federicobond commented on #3185
Yes, upgradeable contracts are going to be really popular, and we must provide better tools at the language level. The issues you mention are real and the solutions we have found so far have been hacky at best. Let me offer some thoughts on your last point.

If we could enforce that some variables use determined pointers, such as the one old contract was using, then this migrations would not be ne

[2017-11-14 21:29] federicobond commented on #3198
I like that it makes it easier for beginners to look it up when they find such function in the code. This has confused [more than one beginner](https://ethereum.stackexchange.com/questions/24439/anonymous-function-in-solidity-example-code). I prefer not omitting the parentheses because we are still talking about a function.

[2017-11-14 21:32] VoR0220 commented on #2467
I just ran into this myself. Kind of shocked they aren't already added into the functionality of the language. Modifiers in libraries definitely enable reusable safety features and I really think this should be added in.

[2017-11-14 23:55] chriseth commented on #3196
I also prefer `constructor(...) {}`.

[2017-11-15 00:24] 3esmit commented on #3196
I strongly agree with this, I've many times changed the contract name and forgotten to change the constructor name, but as I was using a full IDE with solc-lint it just remembered "hey this function is not using camelCase".

This should also be linked to  #3185 where the LibraryContract should deploy the constructor method, instead of being simply run at creation and not stored.

[2017-11-15 13:31] chriseth commented on #3178
@axic I'm not really sure whether selfdestruct is such a valid feature. I remember having warned about it already at devcon1: https://chriseth.github.io/notes/talks/safe_solidity/#/4

The problem is that selfdestruct combined with a contract that can receive ether always has a race condition.

[2017-11-15 13:33] chriseth commented on #3179
Invalid casts always cause undefined behaviour. We can probably partly fix this with returndatacopy, but the issue will always persist.

[2017-11-15 14:37] Remi-Burgel commented on #3199
Found a new way to rise this event without any message so I bumb the post after the edit

[2017-11-15 16:25] axic commented on #3175
The second problem will be sorted by #2707.

[2017-11-15 16:26] axic commented on #2707
A good start to this feature could be detecting empty function and event calls, which aren't even assigned to a variable. That should be possible to implement manually. It would raise a warning on:
- `myFunction;`
- `MyEvent;`
- `address(1).call.value(1234);`

[2017-11-15 16:34] axic opened #3208 "Ensure that readthedocs.org contains a version tag for every release"

[2017-11-15 19:29] adrianmcli commented on #1100
Is there still no type alias support in Solidity?

[2017-11-15 20:52] Tootoot222 commented on #3177
I have the same bug, but it's even worse with libraries

[code]

Changing the function in the library from public to internal makes it work, but the internal keyword "inlines" the library code into the main contract, which bloats the main contract and defeats the purpose of separating the code out into a library. You don't even need to link the contract and the library when the library function (t

[2017-11-15 21:12] 3esmit commented on #3178
@chriseth actually selfdestruct can be useful for Library Contracts.

I'm exploring a concept of crafting library contracts contract that are intentionally owned and destructable by a watchdog contract, and the stub contract would check if the system contract contains code, if not it would delegate to recover address.

I know there is ways of placing the emergency stop in a logic in contract itsel

[2017-11-16 01:49] 3esmit commented on #3178
I've posted a raw (untested) prototype I'm working https://github.com/3esmit/Hive-Democracy/commit/2d5641be6b53159124710cf372fe873f841f0799  using selfdestruct in a contract meant to be a Library Contract.

The advantage of this method is that once the emergencyStop is run, it's impossible to do anything else in the contract, unless the Recoverer contract conditions are met (a call from consensusC

[2017-11-16 09:32] #3199 closed, assigned to axic

[2017-11-16 09:42] axic opened #3210 "Consider removing support for trailing dot in "1." and "1.e10" number literals"
From #3173.

[2017-11-16 09:43] axic opened #3211 "grammar: consider removing built in types"
(From #3173.)

The suggestion here is to not include the complete list of built in types in the grammar, just consider them the same as user-defined types.

It should not make a difference grammar wise, only syntax highlighting benefits from it.

[2017-11-16 12:15] decanus commented on #3198
What about adding a modifier instead, similar to payable.

``
function foo() fallback {}
``

[2017-11-16 12:22] chriseth commented on #3177
The decoder is not yet finished: https://github.com/ethereum/solidity/pull/2863

[2017-11-16 12:22] #3177 closed, assigned to nobody

[2017-11-16 13:52] chriseth commented on #3137
@leonardoalt wonderful! Can you create a pull request?

[2017-11-16 14:31] shrugs commented on #3198
my 2 cents: `fallback () {}`. It's also worth noting that you'll probably want something like

[code]

especially because

[code]

looks like a weird anonymous constructor function with two modifiers in front of it.

[2017-11-16 14:37] axic commented on #3198
@decanus Fallback is different to payable/constructor as there can only be a single fallback function. And given its risky use may warrant its on syntactical element.

[2017-11-16 14:38] VoR0220 commented on #3198
The current setup has always made sense to me in the sense of the EVM because it's the "empty" function signature. AKA the default in a switch statement.

[2017-11-16 14:39] chriseth commented on #3202
Partly reserved by @flantony

[2017-11-16 15:38] axic commented on #2176
It seems that we don’t even have a section for functions (just view, pure and fallback). I think it should be in this order:
- functions (including payable),
- view,
- pure,
- constructor (mention that it can be payable, but not view/pure),
- fallback (mention that it can be payable, but not view/pure),
- overload resolution

[2017-11-16 15:48] axic commented on #3093
@akshay951228 please add a pointer to the report to Parity.

[2017-11-16 17:52] federicobond commented on #3198
Right, but it's one of those things that only make sense after you learn about it, and it's [not easy to find the right answers](https://www.google.com/search?q=function+with+no+name+solidity&oq=function+with+no+name+solidity&aqs=chrome.0.69i59.2508j0j1&sourceid=chrome&ie=UTF-8).

[2017-11-16 19:14] andreasmuelder commented on #3202
+1

[2017-11-17 01:43] #2094 closed, assigned to nobody

[2017-11-17 02:02] VoR0220 commented on #3198
Good point.

[2017-11-17 15:10] SergioDemianLerner opened #3215 "Support for Custom opcodes in in-line assembly"
For experimentation, we are creating new Ethereum opcodes. The Solidity documentation does not mention any way of embedding a custom opcode in the inline assembly code.
Therefore new opcodes cannot be accessed from Solidity without modifying its source code. One temporal solution we're doing is calling the new opcodes through a "system trap" by overriding the CALL opcode. The result is something l

[2017-11-17 15:16] axic commented on #3215
I like the idea of defining new opcodes, but unfortunately this goes straight in contrast to the planned evolution of the assembly language (see #2129), where no instructions (opcodes) are present only functions and those are defined by the backend.

Do you have any suggestions how to fit this into such a system?

Also it is questionable how many and frequently new opcodes should be added to the E

[2017-11-17 15:17] chriseth commented on #3215
This is something that would be really useful. The problem is that it is not really portable, but something like the following could be a good compromise:

[code]

So basically you only define how it will be implemented for EVM 1.0 and fail for the other backends

[2017-11-17 15:19] axic commented on #3215
@chriseth where this becomes quite complicated is supporting multi-byte opcodes or opcodes with immediate arguments (e.g. the SIMD proposal).

[2017-11-17 15:29] chriseth commented on #3215
@axic yes, so perhaps it is better to keep the requirement for compiler modification but make it easy by providing a set of built-in functions, so what we were planning anyway ;-)

[2017-11-17 21:22] SergioDemianLerner commented on #3215
Any option is good for me.  I think It's not so important if the solution we pick today will be forever supported in the language. If Solidity migrates to another way of defining custom opcodes, then users can very easily change that part of the code. Any use of custom opcodes will be generally encapsulated in higher level solidity functions. Upgrading contracts will be easy.

[2017-11-18 01:04] nuevoalex commented on #3174
When we provide the following outputSelection configuration:

[code]

It results in this error:

[code]

[2017-11-18 01:11] axic commented on #3174
It is a two-level object: `"outputSelection": { "<filename>": { "<contractname>": [ "metadata" ] } }`, where both `filename` and `contractname` can be wildcards (please see the documentation, it has a couple of rules).

[2017-11-18 11:12] leonardoalt commented on #3137
Done: https://github.com/ethereum/solidity/pull/3216

[2017-11-18 19:47] miloscostantini commented on #2908
I think you have to "pack" the 2 variables before store them.
You tried to use the --optimize flag when compiling?
It should resolve the issue

[2017-11-18 20:36] federicobond commented on #3215
I am more inclined to add a function/meta-instruction but making it really clear that it's not an "official" part of the language API, just a workaround for some use cases. If we can infer the in-out argument count we could perhaps do something like this:
[code]

[2017-11-18 21:14] greenGreengo commented on #2908
Yes it's the way the compiler works, it fits in one 32-bytes area but uses 2 `sstore`.
If you want to want to use just 1 `sstore` you have to enable `--optimize` flag when you compile.

`$ solc --bin --asm --optimize TestSStore.sol`

[2017-11-20 07:21] guptasiddharth commented on #3163
Its just a warning. If you want to get rid of it just define the scope of the functions (eg. public)

[2017-11-20 08:49] androlo commented on #2908
@cdetrio They are different issues. This is not array related, and technically it is not a bug. At the time of this report, the way storage writes are done (in the case of one-word structs) is:

[code]

Old S is read from storage, modified, and the modified result is written to storage, and this is repeated once for each member. We want it to be:

[code]

This should also be extended to work for a

[2017-11-20 14:01] axic commented on #2908
@androlo that should be fairly safe to implement once storage-related code is written in the IR, but before that it may be a risky change.

[2017-11-20 15:45] androlo commented on #2908
@ngotchac

[2017-11-20 15:53] ngotchac commented on #2908
I wasn't sure if it was a bug or an enhancement. Seems to be an enhancement then!

[2017-11-21 21:08] axic opened #3221 "Introduce selfdestruct as a new stateMutability level"
Propose to introduce `destructible` either above or mutually exclusive with`payable`.

Reasoning: it is an even more elevated state mutability case, than payable, which could warrant its on level.

Benefits: mutability checker will be able to reject `selfdestruct` used in a method where it may not be desired. Also, libraries could have the callable check restricted to functions marked this way.

[2017-11-21 21:09] axic commented on #3178
Added a new related proposal to #3221.

[2017-11-21 21:31] tinybike opened #3222 "Feature request: mechanism for removing variables from the stack"
I'd like to propose adding a mechanism to Solidity that allows removing variables from the stack.  I'm not familiar with Solidity's internals, so I do not have an opinion about how to implement this feature.  However, I assume it is _possible_ to implement because Serpent had this feature.  For reference, Serpent's `with` keyword was used for this:
[code]

**Motivation:** Augur recently completed

[2017-11-21 22:10] tinybike opened #3223 "Feature request: mechanism to put local variables in memory"
One aspect of the stack depth limit issue is described in https://github.com/ethereum/solidity/issues/3222 (inability to remove local variables from the stack).  Another aspect is that Solidity does not allow the user to specify whether a variable should be stored [in memory or on the stack](https://solidity.readthedocs.io/en/latest/frequently-asked-questions.html#what-is-the-memory-keyword-what-d

[2017-11-21 22:16] federicobond commented on #3221
Doesn't it make more sense to define that at the contract-level, maybe through a fake base contract? Then, the contracts cannot be destructed no matter which method is called/delegatecalled.

[2017-11-22 00:19] jvanecek opened #3224 "When contract instantiation fails, is created with null state variables"
Let `Purchasable` be this [contract](https://github.com/jvanecek/eth-monopoly/blob/c738fdfadd7a50f277ea02b67de6f527dc620a35/contracts/Purchasable.sol).

I wrote [this](https://github.com/jvanecek/eth-monopoly/blob/c738fdfadd7a50f277ea02b67de6f527dc620a35/test/PurchasableTest.js) test to assert the correct instantiation.

As you can see in [this](https://travis-ci.com/jvanecek/eth-monopoly/builds/5

[2017-11-22 00:27] axic commented on #3224
Can you please explain what is the Solidity problem here?

[2017-11-22 01:58] federicobond commented on #3222
@tinybike can you point me to an example of a contract that had to deal with this constraint?

[2017-11-22 02:22] #3156 closed, assigned to nobody

[2017-11-22 02:34] #716 closed, assigned to nobody

[2017-11-22 02:47] axic opened #3225 "Yul: introduce specific pointer types"
From https://github.com/ethereum/solidity/pull/2129#discussion_r130046385, https://github.com/ethereum/solidity/pull/2129#discussion_r130046494 and https://github.com/ethereum/solidity/pull/2129#discussion_r130046541.

Introduce memory pointer, storage pointer and address types.

At least conversion from `u256` type to them is needed, e.g. `mpointer(2:u256)` gives a memory pointer type of value `2

[2017-11-22 02:53] axic opened #3226 "Yul: finalise built in methods"
- [ ] conversion methods (depends on final types)
- [ ] low-level methods ("evm opcodes")
- [ ] backend specific methods

[2017-11-22 03:48] axic opened #3227 "SMT checker: ensure to use solUnimplementedAssert instead of solAssert where appropriate"
Ref: https://github.com/ethereum/solidity/pull/2993#issuecomment-338992397

[2017-11-22 06:03] tinybike commented on #3222
Sure, one contract that required quite a bit of refactoring due to this constraint was https://github.com/AugurProject/augur-core/blob/master/source/contracts/trading/FillOrder.sol.  Our market creation functions are another good example.

[2017-11-22 08:13] naumenkogs opened #3229 "Generate a payload for call of another contract"
Hi.
Is it possible to access a low-level payload of a call to another contract on a solidity level?
In web3.js I can do
const addOwnerData = multisigInstance.contract.addOwner.getData(accounts[3])
And I'll have such a payload. Is it possible to do at the solidity-level? Assuming I have an instance of another contract.

[2017-11-22 08:19] adria0 opened #3230 "Private keys in CI"
It seems that the `appveyor.yml` contains private keys.
Maybe is a good idea to dettach them from github in some way.

[2017-11-22 12:13] axic commented on #3172
@limexp it has been merged if you are still interested

[2017-11-22 14:02] axic commented on #3221
I'm not at all fond of "fake base contracts". Perhaps pragmas?

[2017-11-22 15:24] chriseth commented on #3230
They are currently required to push artifacts to a github repository. The keys are of course encrypted, but I agree that it is not ideal. Do you have any suggestions?

[2017-11-22 16:59] federicobond commented on #3221
Yes, and the name didn't help either! I am not fond of pragmas because they apply to the whole source file. They seem like the wrong device to use here.

What about a constructor-only specifier? Makes sense to declare its lifecycle at the point of creation.

[2017-11-22 17:03] axic commented on #3221
Yeah, constructor specifier makes sense.

Also I don't think these are two mutually exclusive features, the above proposal is defining whether `selfdestruct` can be used within a function, while your proposal defines whether calling such a function is legal in a contract.

[2017-11-22 17:08] axic commented on #3229
I am not fully sure what do you mean, but `msg.data` should give access to the entire incoming message for an external function.

Please reopen if this doesn't answer the question.

[2017-11-22 17:08] #3229 closed, assigned to nobody

[2017-11-22 17:10] pash7ka opened #3237 "Pure functions should not be allowed to do revert()"
I understand that pure functions should not have any side effects. And doing revert() is a side effect.
Here is the test contract:
[code]
In my opinion compilation should fail. But instead if i don't specify "pure" solcjs generates warning:
[code]

[2017-11-22 17:13] axic commented on #3237
This is actually a very good question and we had some discussions on different level of "pureness". Currently `pure` functions are only pure when externally called. If they are called internally, they can use `revert` as well as modify the memory as they wish.

Regarding the avoidance of memory modification we have the `immutable` keyword on input arguments (not yet implemented).

I think `revert`

[2017-11-22 17:22] naumenkogs commented on #3229
@axic I'm not sure I can reopen this issue.

msg.data gives access to the payload for the function of *current contract*.
I need to prepare a call from *current contract* to *another contract*, and get the payload of such a call without execution.

*From inside solidity function*:

[code]

[2017-11-22 17:34] axic commented on #3229
Oh, I understand then. That is tracked in issue #1707, a pull request is pending but it is a not finished feature yet.

[2017-11-22 17:35] pash7ka commented on #3237
I've found this behaviour when compiling a [HasNoTokens.sol](https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/ownership/HasNoTokens.sol) generated a warning on ``tokenFallback()``.
If I mark  ``tokenFallback()`` as pure and some ERC-223 token will try to call it, the transfer will be reverted. So the state of the token contract will be modified as a result of calling my pure

[2017-11-22 17:38] axic commented on #3237
How exactly will that modify the state of your contract?

Note, revert doesn't "modify" the state because it aborts *and* reverts any changes done to it in that execution context.

[2017-11-22 17:51] pash7ka commented on #3237
Please correct me if i'm wrong, but i understood that "state" in the documentation is a refference to an Ethereum world state, not the state of the contract where the pure function is declared.
So that if i have some contract which calls a pure function of another contract, i can be sure that nothing will be changed in the world state during this call.
During the execution of my contract's call i

[2017-11-22 18:00] axic commented on #3237
If you make an external call to another contract, nevertheless if it is a Solidity "pure" function on the receiving end, that creates a new context (execution instance). If there is a revert happening there, it only affects that context. Internally the assembly `CALL` opcode is the one used to message external contracts and it returns 0 or 1 whether it was successful.

There are certain Solidity f

[2017-11-22 18:02] pash7ka commented on #3237
Thank you for the explanation.
Also, i understand the problem, that if ``revert()``, ``require()`` and ``assert()`` will be not allowed in pure functions, then using libraries like SafeMath will not be possible there.
So perhaps you are right, and this issue should be closed.

[2017-11-22 18:40] federicobond commented on #3221
Let's take the following code example:

[code]
I assume `endAuction` requires the `destructible` specifier too. If that's the case, it becomes hard for generic contract authors to know whether to put destructible specifiers in all functions that are meant for extension or none, which could limit the options of users down the road. Am I missing something?

[2017-11-23 02:18] nikhil-tibrewal opened #3239 "Bug in Blind Auction contract example"
Referencing: https://github.com/ethereum/solidity/blob/develop/docs/solidity-by-example.rst#blind-auction-1

The `auctionEnd()` says that:

[code]
But this isn't correct right? What if the bidders haven't called `withdraw` yet? Any unclaimed ether would also go to the beneficiary? And in what scenarios would refunds fail? This is the first instance since the beginning of the Solidity docs where `f

[2017-11-23 05:03] glaksmono commented on #3162
@quantumproducer do you have any luck on this? I'm also experiencing the same problem

[2017-11-23 13:07] lisuyong commented on #2691
Hi, there

What's this issue's status now? I'm so hopeful for this nice feature. 😺

[2017-11-23 16:06] StefanKarpinski opened #3241 "rename Julia"
Please consider renaming the JULIA intermediate language to avoid confusion with the [Julia programming language](https://julialang.org/) ([JuliaLang/julia](https://github.com/JuliaLang/julia) on GitHub). Julia is currently #35 on the [Tiobe language index](https://www.tiobe.com/tiobe-index/) and has been used to express and evaluate financial contracts, in formal systems specification, as a langu

[2017-11-23 16:08] chriseth commented on #3241
We are in the process of renaming it to IULIA.

[2017-11-23 16:18] elenadimitrova commented on #534
@axic did you ever get to finish the `abs` implementation?

[2017-11-23 17:44] chriseth commented on #3239
Thanks a lot for finding this! I think this is a remnant of an incomplete change to the withdraw pattern. Refunds cannot fail anymore here.

[2017-11-23 19:20] Keno commented on #3241
As a german speaker, those two sound pretty much the same to me (or maybe closer to [ijulia](https://github.com/JuliaLang/IJulia.jl), but still confusing). As a fellow programming language person I love the work you're doing and I know naming is hard, but please do consider choosing something with greater phonetic distance.

I'm sure there's a ton of great names out there. Looks like a couple of t

[2017-11-23 20:45] federicobond commented on #3222
Thanks, those contracts are more complex than the average Solidity contract I have seen in the wild, and I see why the standard solution of splitting your functions may be inconvenient.

There have been some proposals to change variable scoping. This is a good argument in favor of introducing block scoping. It lets us do this, like in C/C++:

[code]

[2017-11-23 22:05] chriseth commented on #3241
I don't think there will be much confusion. IULIA is an extremely low-level language that is used internally in Solidity and in the future perhaps some other languages strongly focused on the specific use-case of smart contracts for Ethereum. Julia is a "high-level, high-performance dynamic programming language for numerical computing" - I don't see the blockchain context there even if I pinch my

[2017-11-23 22:13] chriseth commented on #3222
@tinybike you can move variables from the stack into memory by packing them into structs. Did you consider this when refactoring the function? Do you still have the old version of the file for comparison?

[2017-11-23 22:21] Keno commented on #3241
"Assembly" refers to a class of languages, generally one per architecture. I'm sure people would have been very confused had you used the name "AT&T x86 assembly", despite x86 assembly not being a blockchain. Julia obviously also has an intermediate representation, which is generally called "Julia IR", as well as all the other standard compiler concepts "Julia AST", etc. Several people in #2131 di

[2017-11-24 04:35] androolloyd commented on #2467
@limexp i don't mind option 2.

[2017-11-24 10:41] chfast opened #3243 "Unify [help wanted] labels"
Now we have 3 distinct labels for more/less the same purpose:
- https://github.com/ethereum/solidity/labels/help%20wanted
- https://github.com/ethereum/solidity/labels/good%20first%20issue
- https://github.com/ethereum/solidity/labels/up-for-grabs

Let's use `help wanted` or `good first issue` because GitHub adds special meaning to them: https://help.github.com/articles/about-labels/#using-default

[2017-11-24 13:37] axic commented on #3243
I agree it is a good idea to use those labels:

<img width="987" alt="screen shot 2017-11-24 at 13 36 22" src="https://user-images.githubusercontent.com/20340/33212790-88023fb4-d11c-11e7-8453-0ad4d0180f0d.png">

We need help in reviewing every single issue and adding `help wanted` and `good first issue` to it.

[2017-11-24 13:40] axic commented on #3243
So we could change every `up-for-grabs` labeled issue to `help wanted`. Adding `good first issue` requires review.

[2017-11-24 13:50] #3239 closed, assigned to chriseth

[2017-11-24 13:51] axic opened #3244 "Remove solc warning detection from zeppelin tests"
Currently our tests are always failing:

[code]

@frangio would it be possible to have a flag for disabling this check?

[2017-11-24 14:22] chriseth commented on #3243
The problem is that some tags have external dependencies: http://up-for-grabs.net/#/

[2017-11-24 14:22] chriseth commented on #3244
Can we somehow patch it out from the testing framework?

[2017-11-24 14:32] chriseth commented on #2467
Be aware that modifiers are polymorphic. If you reference a modifier through a base class name, it should be exactly that modifier. If you reference it through a library, this should be the same.

Probably it is best to change `Identifier` to something new like `NamePath` and then also use `NamePath` inside `UserDefinedTypeName`.

This is basically like 3 but a little more generic.

[2017-11-24 14:38] axic commented on #3243
As it turns out that site only suggests `up-for-grabs`, but if you have a look, many use `help wanted`. It doesn't actually do anything unless you add the project to https://github.com/up-for-grabs/up-for-grabs.net/tree/gh-pages/_data/projects, where one can define the label.

Created a pull request with `help wanted`: https://github.com/up-for-grabs/up-for-grabs.net/pull/825

[2017-11-24 21:28] MicahZoltu commented on #3174
Gah!  Our code had two blocks, one with the two layers and one with a single layer.  I didn't realize they were different which is why the code I pasted above is correct, but it was actually the code that @nuevoalex pasted that was throwing the error.  Sorry for all of the rage from me in this thread.  :/

[2017-11-24 21:28] #3174 closed, assigned to nobody

[2017-11-24 21:28] SergioDemianLerner commented on #3215
Would you accept a pull request with an implementation of this in one of the possible ways? I want to know if it's worth working on it.

[2017-11-25 00:45] frangio commented on #3244
@axic I don't understand what the problem is. What check would we have to disable?

[2017-11-25 00:59] axic commented on #3244
It seems that zeppelin tests are failing because the above `Warning: This is a pre-release compiler...` is treated as an error. Maybe it is enforced by truffle?

Context: during the Solidity build the `soljson.js` is replaced with a fresh build, which is a prerelease version.

[2017-11-26 19:27] tinybike commented on #3222
@chriseth Yes, we ended up packing our variables into structs -- the `FilledOrder` and `Participant` structs on the FillOrder.sol contract linked above are examples of this.  Packing into structs (and splitting apart functions) allowed us to get things up and running, so this definitely isn't a show-stopper.  It just feels a bit "icky" to me to have a strong language-level coupling between a varia

[2017-11-26 20:06] maurelian opened #3246 "Warning: Error querying SMT solver: No SMT solver available."
I'm trying to follow an example Christian showed at devcon using the command line solc v0.4.18.

Here's my solidity source code:
[code]

Here's the output:

[code]

Am I missing a flag, or using the wrong pragma?

[2017-11-26 20:39] ltfschoen opened #3247 "Unable to import Solidity contract from a file using `compile_files`"
**Which version of Solidity you are using**

Solc v0.4.17 (see where I load Solc dependency in my [Dockerfile](https://github.com/ltfschoen/pyethfinality/blob/master/Dockerfile))

**What was the source code (if applicable)**

https://github.com/ltfschoen/pyethfinality/blob/master/main.py

**Which platform are you running on**

* Docker VM on macOS 10.12.6 - Linux version 4.9.49-moby (gcc version 6

[2017-11-27 05:27] cbruguera commented on #72
I see this've been open for 2 years but no activity. Anything on this regard?

I agree this is a desirable feature... Any other opinions on the matter?

[2017-11-27 14:07] spalladino commented on #3244
@axic I haven't been able to reproduce this warning at all when running the tests locally using soljson.js version `soljson-v0.4.19-nightly.2017.11.22+commit.f22ac8fc.js`, downloaded from https://ethereum.github.io/solc-bin/bin/. I'm assuming that that version should be considered pre-release, and thus trigger the warning, right?

[2017-11-27 14:14] axic commented on #3244
@spalladino that should work. You can try running the exact same tests with `test/externalTests.sh <absolute path to soljson.js>`

[2017-11-27 14:16] axic commented on #3244
Did it locally and it triggered the problem:
[code]

[2017-11-27 14:21] axic commented on #3244
It seems that truffle emits this when using truffle-compile `parse` or `parseImports` https://github.com/trufflesuite/truffle-compile/blob/develop/parser.js#L44

[2017-11-27 14:24] spalladino commented on #3244
Thanks @axic, I did manage to reproduce it using that compiler. Issue was I was overwriting the file in `node_modules/solc`, but not in `node_modules/truffle/node_modules/solc`.

[2017-11-27 14:26] spalladino commented on #3244
I'll take a look there. Last thing I had managed to check was that truffle emits warns as errors only if the strict flag is set, which is disabled by default. Thanks!

[2017-11-27 14:26] axic commented on #3244
@spalladino never mind. It seems this is entirely an issue in Truffle. They use the above methods as part of the which-file-has-changed mechanism for keeping a compilation cache.

[2017-11-27 14:29] spalladino commented on #3244
Got it. Keep us posted on whether we should change anything on our end!

[2017-11-27 14:35] axic commented on #3215
I am still not sure it is worth supporting a soon to be deprecated construct given it takes so long to make breaking releases.

Have you tried adding new opcodes to C++? If you have found any issues with that let us make it easier to add new ones to C++ as a solution. After all, whoever needs new opcodes will need to adjust client implementations too with similar level of complexity.

[2017-11-27 15:03] axic commented on #3247
This really seems like to be a Python question for web3.py so I suggest to raise an issue there.

Please reopen if it is a Solidity compiler issue.

[2017-11-27 15:03] #3247 closed, assigned to nobody

[2017-11-27 15:05] axic commented on #3246
Solidity needs to be built with z3 available on the system. During `cmake` there should be a line stating whether the z3 library was found or not.

You should see: `Z3 SMT solver found. This enables optional SMT checking.`

Please reopen if it doesn't solve the issue.

[2017-11-27 15:06] axic commented on #3243
@chriseth the PR was merged, there should be no other reason not to rename the label then.

[2017-11-27 15:20] #3246 closed, assigned to nobody

[2017-11-27 17:30] iliaan commented on #3069
Have same problem, compiling:
[code]
creates compilation error:
[code]
Using:
[code]
Passes compilation successfully

[2017-11-27 21:20] onbjerg commented on #1230
Hey! Any updates on this at all? Building LLL tooling is really hard in it's current state, since there's no versioning (or is there?) and because it is in the same repository as the Solidity compiler.

[2017-11-28 02:01] wjmelements opened #3249 "UnimplementedFeatureErrors do not give a line number"
It would be useful to have a line number reference for the source code to know which portion of the code is not yet supported.

/tmp/solidity-20171019-1003-26zk82/solidity_0.4.18/libsolidity/codegen/CompilerUtils.cpp(124): Throw in function void dev::solidity::CompilerUtils::storeInMemoryDynamic(const dev::solidity::Type &, bool)
Dynamic exception type: boost::exception_detail::clone_impl<dev::sol

[2017-11-28 02:34] dbrock commented on #72
Also maybe should it be possible for a modifier to have the same name as a function?

[2017-11-28 02:51] axic commented on #72
I think that is an idea which goes against the aim of code clarity.

[2017-11-28 03:51] bbuenz commented on #3069
Any new update?

[2017-11-28 05:05] dbrock commented on #72
Can a variable have the same name as a function? Can a class have the same name as a variable? Can a modifier have the same name as a struct? Is shadowing possible? Are any number of confusing things allowed?

[2017-11-28 05:23] axic commented on #72
There is active work against allowing shadowing, see the latest warnings about shadowing.

[2017-11-28 08:23] ltfschoen commented on #3247
Thanks I've created this issue instead https://github.com/ethereum/web3.py/issues/472

[2017-11-28 16:51] BlockwareSolutions opened #3251 "ICO Tokens stuck on contract in Parity"
Hello -

I need some help, I got a bit confused with Parity and had created a contract from my Parity Wallet - then the tokens of the ICO that I participated in were sent to the contract Address.

I am the owner / creator of this contract. I need to figure out how I can transfer these tokens from that contract to my actual parity wallet. I have tried for a couple of months and am stuck, I original

[2017-11-28 23:56] axic commented on #1686
An idea regarding source location identifier is to reuse parts of the source mapping: `<16bits source index><32bit offset><16bit length>`, which should fit into 5 bytes including the PUSH opcode.

e.g. `PUSH 0001000004200024` means source index 1, offset 0x42 and length 0x24.

The debugger then needs to look up the source mapping (emitted by the compiler) to find the actual code in source.

[2017-11-29 00:06] axic commented on #3251
I think this question should be opened with Parity. Check out https://github.com/paritytech

[2017-11-29 00:06] #3251 closed, assigned to nobody

[2017-11-29 00:09] axic commented on #3040
@dwalintukan I couldn't reproduce it. Is it still an issue?

[2017-11-29 00:22] axic opened #3252 "Different notation for events"
Complementary to #2877.

Currently events feel like functions and even if internally they behave like that, they are not functions, but data structures. Therefore it may make sense making them similar syntactically to data structures.

[code]

Not sure about the syntax yet. The following should be valid already:

[code]

The difference is in the declaration and the emitting removes the parentheses

[2017-11-29 03:21] mimitc123 opened #3253 "How to return array of structs ?"
contract Donate{

    struct DonateInfo{
        uint id;
        uint value;
        uint time;
    }

    DonateInfo[] public list;

    function all() public returns (DonateInfo []){
        return list;
    }

}

When execute the return array function it says below
Failed to decode output: Error: Unsupported or invalid type: tuple

[2017-11-29 03:47] mimitc123 opened #3254 "How to splice strings"
I want to concatenate string, how to implement

[2017-11-29 06:54] mimitc123 commented on #2948
@EasonWang01  Has the problem been solved

[2017-11-29 09:04] MrTibbles commented on #3252
Considering it is an object, should a colon not be used when defining the event parameters?
ie. `emit DepositReceived { value: 1, sender: msg.sender };`
Or is that too similar to JS (#3195)?

[2017-11-29 09:28] mimitc123 opened #3255 "How to compare strings"
How to compare strings in contract

[2017-11-29 12:27] Shrugs commented on #3255
http://lmgtfy.com/?q=solidity+compare+string+site%3Astackoverflow.com

[2017-11-29 12:30] axic commented on #3254
Please see https://solidity.readthedocs.io/en/develop/#language-documentation for guidance. Hint: ask on the appropriate channels, https://gitter.im/ethereum/soldity or https://ethereum.stackexchange.com

[2017-11-29 12:30] #3254 closed, assigned to nobody

[2017-11-29 12:30] axic commented on #3255
Please see https://solidity.readthedocs.io/en/develop/#language-documentation for guidance. Hint: ask on the appropriate channels, https://gitter.im/ethereum/soldity or https://ethereum.stackexchange.com

[2017-11-29 12:30] #3255 closed, assigned to nobody

[2017-11-29 12:31] axic commented on #3253
That is a problem in the tooling you are using, which doesn't support the `tuple` ABI type (that is the one representing structs). Please report the issue on the project you are using to decode output from Solidity. I think you may be using Remix, in that case open an issue on https://github.com/ethereum/browser-solidity

[2017-11-29 12:31] #3253 closed, assigned to nobody

[2017-11-29 15:38] axic commented on #3252
You're right the current syntax for named arguments is with colons so the proposal is as follows:

[code]

[2017-11-29 16:06] #3244 closed, assigned to nobody

[2017-11-29 16:32] veox commented on #1686
@axic You mean offset `0x420`? Or `PUSH 00 01 00 00 `**`00 42`**` 00 24`?..

EDIT: I'm not sure I understand how that fits into 5 bytes.

[2017-11-29 16:36] chriseth commented on #2337
- [ ] unification of semantically equivalent functions (or at least syntactically equivalent functions)

[2017-11-29 16:48] axic commented on #1686
Sorry, it was late. `PUSH 0001 00000042 0024` is the correct one and it takes 9 bytes :)

[2017-11-29 16:50] chriseth opened #3257 "SMT checker PoC1"
Things to be done before the SMT checker can be practically useful:

 - [x] integer, address and bool types #3712
 - [x] fixed-sized arrays #3712
 - [x] tuples #4141
 - [x] Member access of storage arrays and mappings #3651
 - [x] basic `tx`, `msg` and `block` variables. #5192
 - [x] address members #5262
 - [x] modifiers #5193
 - [x] internal function calls #5189
 - [x] external function calls #5

[2017-11-29 17:00] 3esmit opened #3258 "Warn when using `return(p, s)` assembly in non external functions."
When using assembly return it ends the call at the moment encounter this assembly return, so this type of return should be used carefully as its not as a regular solidity return (which ends the internal call), this one ends the whole call to the contract at that moment.

Example:

[code]

calling testA() will never fire the event Test.

[2017-11-29 17:08] chriseth commented on #3258
While this is a good suggestion, such a warning could give a false impression of safety.

Assembly can do just about anything and there are many things that are not checked about assembly code.

[2017-11-29 17:46] federicobond commented on #3252
I don't think it makes much of a difference to remove the parentheses when emitting. Structs are data structures too and they are created with parentheses.

With the introduction of the `log` or `emit` keyword in #2877 it should be much harder to confuse events with functions.

[2017-11-29 18:32] chriseth commented on #3252
I would also vote for not removing the parentheses if we require log or emit.

[2017-11-29 20:02] axic commented on #3258
The same applies to `require`, `assert`, `revert`, `throw` and `selfdestruct` in non-assembly.

[2017-11-29 20:43] 3esmit commented on #3258
This case is different. Most developers, specially the ones not aware of behavior of `assembly { return(p,s) } ` may assume that this return will return at internal function level, in the example is easy for make this misunderstand of behavior.
I think that should be added some kind of warning for this case, maybe at "deep analysis", specially at "Low level calls: Semantics maybe unclear", only if

[2017-11-29 20:46] axic commented on #3258
`assembly` should only be used by those who have a very good understanding about the language. Since there is no way to disable warnings in the compiler, you'd need to add this feature to the static analyzer in Remix.

[2017-11-29 20:53] 3esmit commented on #3258
I agree that this should go to static analizer.
BTW, Paritytech team did not noticed this, look:
https://github.com/paritytech/contracts/blob/657da22245dcfe0fe1cccc58ee8cd86924d65cdd/validator_contracts/interfaces/RelaySet.sol#L56

This function callls `getValidators()`, and passes the result of the function to an event called `FinalizeChange` but this function is using `return(p,s)`  so it will e

[2017-11-29 21:09] #2897 closed, assigned to nobody

[2017-11-29 21:36] axic commented on #3258
The "another type of assembly return" is assigning to the return variables directly from assembly.

Instead of `returndatacopy` + `return` it should write directly to the array: `returndatacopy(output_addresses, 0, returndatasize)` where `returns (address[])` is named as `output_addresses`. (assuming returndatacopy's first parameter is the output memory offset).

[2017-11-29 22:04] axic commented on #1686
Perhaps a much better optimisations would be the following: insert a unique index for each assert and have a translation table (`assertionMap`) for source locations emitted by the compiler.

Then again, if debugging is needed, the sources could be recompiled with the same settings to figure out which assertion terminated.

This should only pose an overhead of 2 or 3 bytes per assertions assuming t

[2017-11-30 01:15] 3esmit commented on #3258
Closing issue to be addressed to specific "static analyzer tool"

[2017-11-30 01:15] #3258 closed, assigned to nobody

[2017-11-30 01:23] axic opened #3262 "Introduce restricted set of assembly"
Based on #3258 it may make sense introducing a restricted subset of the assembly to be used for snippets which do not need full access to the instruction set. I think majority of the use cases are like that.

Initial suggested list for removed features:
- invalid
- return
- revert
- selfdestruct

[code]

[2017-11-30 01:35] axic commented on #3262
Alternatively, introduce an "unchecked" or "unrestricted" version of assembly. The regular (not "unchecked") version would raise a warning if any of the above instructions are used in a non-external (internal, private, public) function, but an "unchecked" version would allow it.

[code]

[2017-11-30 02:04] 3esmit commented on #3262
I agree in requiring a special flag in assembly blocks that affect the behavior of solidity internal calls, specially because this is not a common behavior.

Such as `return(p,s)` being used in a public function, when called externally it works fine but when called as internal function it will end execution at that `return(p,s)`.

[2017-12-01 21:26] MicahZoltu opened #3269 "Support dynamic arrays returned across contracts."
As of Byzantium, I expect the following code to work:
[code]
However, it yields the following error on `return this.eat()`:
[code]
I'm guessing the new dynamic return stuff (EIP211) hasn't been fully implemented yet?

[2017-12-01 22:55] VoR0220 commented on #3269
It hasn't yet. It's finally at a stage where it can be worked on. Weirdly, with the experimental decoder, you *should* (I haven't tried this yet, but based on the release notes, I believe my interpretation is correct) be able to return a dynamic array or string that's inside of a struct by returning the struct itself, but not the dynamic array itself, or an array of the structs for that matter.

[2017-12-01 23:42] axic opened #3270 "Use returndatacopy for cross-contract calls"
This will enable passing dynamic (`bytes`, `string`, variable length arrays, `struct`s, etc.) data between calls.

For passing `struct`s the new ABI encoder/decoder must be enabled - preferably by the time `returndatacopy` is enabled, the ABI rewrite will be mature enough to be on by default.

A related issue is #434 which introduces a new low-level call method which returns the raw `bytes` using

[2017-12-01 23:44] axic commented on #3269
Closing this in favour of #3270. I was sure we had an issue for it already, but couldn't find it.

[2017-12-01 23:44] #3269 closed, assigned to nobody

[2017-12-01 23:46] axic commented on #2708
With 0.4.19 both encoding and decoding is supported in experimental mode. #3270 will enable it for cross-contrcat calls.

[2017-12-01 23:46] #2708 closed, assigned to nobody

[2017-12-01 23:47] axic commented on #2109
This is kind of enabled now with the new ABI decoder. Keep in mind: turned the new ABI decoder on by default is a breaking change because of that.

[2017-12-01 23:49] axic commented on #595
This has been implemented as of 0.4.19.

[2017-12-01 23:49] #595 closed, assigned to chriseth

[2017-12-01 23:51] axic commented on #3270
As a short term solution there could be annotation for functions to mark they are using the new ABI encoder. In that case the compiler could use `returndatacopy`.

[2017-12-01 23:52] axic commented on #2845
Closing as this is part of the documentation ("Assembly" chapter).

[2017-12-01 23:52] #2845 closed, assigned to nobody

[2017-12-02 00:07] axic opened #3271 "Internal functions only referenced in the constructor are still included in the runtime code"
[code]

the code for `f()` will be included both in the constructor and the deployed bytecode.

[2017-12-02 00:09] axic commented on #3186
With #3157 and #3271 this could be implemented in a library.

[2017-12-02 01:09] axic commented on #3121
Seems to be worked with 0.4.19.

[2017-12-02 01:09] #3121 closed, assigned to nobody

[2017-12-02 01:10] axic commented on #3050
@chevdor is this still a problem?

[2017-12-02 01:15] axic commented on #2767
Tracked in #3270.

[2017-12-02 01:15] #2767 closed, assigned to nobody

[2017-12-02 01:21] axic commented on #2753
Closing this now as it seems to be outside the scope of the language at the moment.

[2017-12-02 01:21] #2753 closed, assigned to nobody

[2017-12-02 01:23] axic commented on #2638
@federicobond the reason is explained in #3132. Is there any need to keep this issue?

[2017-12-02 01:25] axic commented on #2495
To be fixed by #1679.

[2017-12-02 01:29] axic commented on #2432
@federicobond tried to find the example code, but couldn't. Not sure what the issue here is, but the following works:

[code]

[code]

[2017-12-02 01:37] axic commented on #594
This is implemented in 0.4.19:

[code]

[2017-12-02 01:37] #594 closed, assigned to nobody

[2017-12-02 01:44] axic commented on #3270
Proposal in #1117 would allow these features to be turned on/off.

[2017-12-02 01:53] axic commented on #3243
Marked all `up-for-grabs` issues as `help wanted` too. @chriseth can we remove the `up-for-grabs` label?

[2017-12-02 02:48] nuevoalex opened #3273 "Remove byzantium-only warning"
Using any of these assembly instructions:

- CREATE2
- RETURNDATACOPY
- RETURNDATASIZE
- STATICCAL

Will result in the compiler throwing a warning.

It seems like this might be something that should be removed or at least could be silenced.

[2017-12-02 03:09] MicahZoltu commented on #3273
Warning is along the lines of:

[2017-12-02 06:54] federicobond commented on #2638
No need. We can close it.

[2017-12-02 06:54] #2638 closed, assigned to nobody

[2017-12-02 06:59] federicobond commented on #2432
Can't remember either. Many things changed so it's probably fine to close this now.

[2017-12-02 06:59] #2432 closed, assigned to nobody

[2017-12-02 11:47] dwalintukan commented on #3040
@axic I actually just did a workaround and sent value after constructor was called. Going to close it for now.

[2017-12-02 11:47] #3040 closed, assigned to nobody

[2017-12-03 16:37] AlexeyAkhunov commented on #2884
The fix for this seems to be addition to this line: https://github.com/ethereum/solidity/blob/develop/libsolidity/ast/Types.h#L1022

The original line

`bool padArguments() const { return !(m_kind == Kind::SHA3 || m_kind == Kind::SHA256 || m_kind == Kind::RIPEMD160); }`

should be extended to (and to include BareDelegateCall and BareCallCode, though I did not test them):

`bool padArguments() cons

[2017-12-04 00:54] naddison36 commented on #3177
I can confirm this problem has been fixed with Solidity 0.4.19. Thanks

[2017-12-04 01:11] naddison36 opened #3275 "ABIEncoderV2 public functions with struct containing multiple members of the same struct type"
ABI encoder version 2 does not support public functions with a struct containing multiple members of the same struct type. For example, the below code fails with error `TestContract.sol:18:28: TypeError: Internal or recursive type is not allowed for public or external functions.`

[code]

If I remove line 13 `SubStruct subStruct2;` the code does compile using Solidity the 0.4.19 compiler.

The cod

[2017-12-04 10:06] rphmeier opened #3276 "Feature Request: Composition-based inheritance"
Apologies if this has already been suggested.

Currently if we want to extend the functionality of a contract `B` with some additional functionality in `A` we have two options:
  1. declare a `contract A extends B {}` and access all items of `B` from within the context of `A` implicitly. I find this can make logic harder to follow when `A` and `B` are defined in separate files.
  1. declare `contr

[2017-12-04 11:08] chriseth commented on #3198
Actually I think we should even split the semantics of the fallback function into two:

One function that is called only if there is value and zero data (the "receive ether trigger function") and one function that is called as a "wildcard", if no other function matches (this should be considered a low-level feature).

[2017-12-04 11:10] redsquirrel commented on #3198
I like the idea of splitting it up.

On Mon, Dec 4, 2017 at 12:08 PM chriseth <notifications@github.com> wrote:

[2017-12-04 11:11] chriseth commented on #3276
This actually has been considered before ("relocatable contracts"), although I think it also used calls (back then they were of course much cheaper).

So if I understand you correctly, you only want to separate the code into different files / blocks and have an implicit "self" struct that might be at a different place than the default beginning of storage, right?

[2017-12-04 11:12] chriseth commented on #3276
You currently can get something like this by using a library with internal functions and a struct as first parameter, by the way.

In general, I think the code size will get too big quite fast, so I'm not too sure this model is very useful. But I'm happy to learn of different numbers :)

[2017-12-04 11:14] chriseth commented on #3271
This is the case even without optimiser.

[2017-12-04 11:14] chriseth commented on #3271
Ah sorry, it's not... seems to be rather a bug to me...

[2017-12-04 11:16] chriseth commented on #3271
So the logic in `ContractCompiler` first appends all functions with an external interface and while doing so, it collects all referenced functions and puts them in a queue. `appendMissingFunctions()` then adds the code for the functions in the queue also queueing referenced functions again.

[2017-12-04 11:45] Sjors opened #3277 "Prevent ./scripts/build.sh from marking release tag as pre-release"
I'm trying to build solc locally on OSX:

[code]

Unfortunately this gets marked as a pre-release:
[code]

This in turn causes `solc` to complain that it's too old:
[code]

I can't figure out how to not make it do this...

[2017-12-04 12:28] Sjors commented on #3277
The Bitcoin Core build process [checks if a commit is tagged](https://github.com/bitcoin/bitcoin/blob/v0.15.1/share/genbuild.sh#L26-L39) and changes the version string accordingly.

[2017-12-04 13:00] chriseth commented on #3277
The build process should check if we have a git directory (this is not required) and if the current commit is tagged starting with a `v` and then create an empty file called `prerelease.txt` in the top directory. This will cause the build process to create a release binary.

At best, we should use a different mechanism that the prerelease.txt file, but we have a requirement that he build has to be

[2017-12-04 13:12] rphmeier commented on #3276
yes, from an implementation standpoint that sounds correct. Although one alternative would be make it work exactly as `extend` does but prefix item names with the member name. e.g. if B has a member `bar` and `A` has an inline member `B foo`, The identifier is changed to `foo.bar` instead of just `bar`. I am not familiar with solc internals so it's hard for me to say which implementation approach

[2017-12-04 13:14] Sjors commented on #3277
Looking for `prerelease.txt` could be a fallback when Git isn't present.

[2017-12-04 15:13] kenshyx commented on #3177
I've just tested(using remix) this simple example from docs http://solidity.readthedocs.io/en/develop/abi-spec.html?highlight=struct#handling-tuple-types, it doesn't work with solidity v0.4.19. How did you test it @naddison36 ?

[2017-12-04 18:44] lsaether opened #3280 "Calling a library function declared `internal` from a constructor of a contract throws OOG error"
While working on the [Ethereum Alarm Clock](https://github.com/chronologic/ethereum-alarm-clock) I was running into out of gas errors while deploying the contract `RequestFactory.sol`. I narrowed the problem down to the function `createRequest(...)` which creates an instance of the contract `TransactionRequest.sol` that calls the `RequestLib` library function `initialize(...)` in its constructor.

[2017-12-04 19:13] axic commented on #3280
Can you provide a short example which produces the problem?

[2017-12-04 20:06] federicobond commented on #3198
I have been thinking about that too. Utility contracts, for example, may have a single fallback function that decodes parameters and stores or forwards them somewhere else.

[2017-12-04 20:19] VoR0220 commented on #3198
I like this idea. It adds the needed "default" variable to the current switch case concept wrt to how functions in a contract currently execute.

[2017-12-05 06:11] VoR0220 opened #3282 "Internal compiler error on events reading from struct fields"
The following gives a "Static memory load of more than 32 bytes requested". Judging from the syntax, I'm sure this indicates somewhere to optimize. While it was rather easy to work around (just return the indexed struct instead), I'm sure this ought to be doable without this error firing off.

[code]

[2017-12-05 06:14] VoR0220 commented on #3282
Nevermind, the "pragma experimental ABIEncoderV2;" fixes this.

[2017-12-05 06:14] #3282 closed, assigned to nobody

[2017-12-05 09:58] chriseth commented on #3276
It's actually not too different than direct inheritance. Take a look at the library code here: https://github.com/Arachnid/solidity-stringutils/blob/master/strings.sol

The main difference is that you have an explicit `self` argument like in Python, but then you can just use `a.f()` (again, like in Python). And you have the flexibility to make some functions internal and others not.

[2017-12-05 12:56] chriseth opened #3284 "Remove internal instruction AST node in FunctionalInstruction"

[2017-12-05 12:59] #3021 closed, assigned to nobody

[2017-12-05 14:44] dshulyak opened #3286 "Transaction with struct as a function input is reverted"
I am trying to send a struct to a function, but transcation fails with revert and i can't understand what is the error. Perhaps I misunderstood release notes and this doesn't suppose to work.

For example:
[code]

I can also atach whole status from geth console, if it will be necessary:
[code]

I am also using this two pragmas
[code]

[2017-12-05 14:48] axic commented on #3286
The decoder is only supported in 0.4.19 so I suggest to change your version requirement to that.

Very likely the outside library you are using to encode the data being sent doesn't prepare the proper structure. One common reason it would revert if the passed input data is shorter than the minimum length of the expected structure.

[2017-12-05 15:16] dshulyak commented on #3286
@axic thanks, for a fast answer

sorry for confusion, i am using 0.4.19
[code]

Could you describe the expected encoding? If I understood correctly it should be the same as for the static array, 4 bytes for function selector and 32 for each field, e.g:
[code]

[2017-12-05 19:25] #3284 closed, assigned to chriseth

[2017-12-05 20:05] lastperson commented on #2104
@axic just checked in 0.4.15 and 0.4.19, still doesn't compile.

[2017-12-05 20:16] axic commented on #2104
Indeed, it seems to fail with 0.4.19.

[2017-12-05 20:17] axic commented on #2104
The error is:
[code]

[2017-12-06 09:02] kayuri commented on #3277
@chriseth just as a temp solution would something like https://github.com/ethereum/solidity/pull/3288 work for you?

[2017-12-06 09:05] dshulyak commented on #3286
It was my mistake, i didnt notice that method signature should be different in this case, like
`emit((uint8))`

[2017-12-06 09:05] #3286 closed, assigned to nobody

[2017-12-06 09:18] axic commented on #3286
@dshulyak oh, yes that's correct. It is the "tuple" notation in the spec. Glad it works!

[2017-12-06 09:56] sivachaitanya opened #3289 "How to use ICO tokens to pay for ethereum dapp smart contract transactions ?"
Hello

Assume I had a successful token sale and sold all my tokens, now I have built an awesome dApp for the users using solidity smart contracts. Now my questions in this regard are -

1. How will my users with ICO tokens pay for dApp transactions fee on Ethereum, should I send them in ether or token  ?

2. How to use tokens in a private chains built on Ethereum ?

3. How to use tokens to make tr

[2017-12-06 11:43] axic commented on #3289
I think this a good question for https://ethereum.stackexchange.com.

This repository is strictly for issues regarding the Solidity language and the Solidity compiler.

[2017-12-06 11:43] #3289 closed, assigned to nobody

[2017-12-06 13:28] chriseth commented on #3277
@kayuri yes, that would be a good temporary solution

[2017-12-06 15:16] chriseth commented on #3277
Thanks, @kayuri! Is that sufficient for you, @Sjors ?

[2017-12-06 15:44] Sjors commented on #3277
I'll try it after the next release, but lgtm.

[2017-12-06 15:44] #3277 closed, assigned to nobody

[2017-12-06 21:56] Paethon commented on #3241
To be honest: I landed here because I wanted to see what packages are available for Julia (the "other" Julia) regarding Ethereum. So I guess there is a real potential for confusion. Although, I don't think IULIA would be a problem.

[2017-12-07 09:31] jchittoda commented on #3071
Same problem "Z3 SMT solver NOT found" in Mac also I am getting. Unable install solc.

[2017-12-07 09:57] chriseth commented on #3071
@jchittoda please read the rest of his issue, "SMT solver not found" is not an error, the real error should be somewhere else. Can you past the full text?

[2017-12-07 11:52] oojr commented on #683
@PeterBorah simple use case for `tx.origin` I want a contract to approve and transferFrom tokens on my behalf, is calling two different contracts more user friendly?

[2017-12-07 11:56] PeterBorah commented on #683
I don't know if it's more user-friendly, but it's definitely more secure. If your token contract checks `tx.origin` instead of `msg.sender`, then any contract you ever call can steal your tokens, even if you thought you were just breeding some digital cats.

User friendliness is easy to handle in the interface. No reason to compromise security to do it.

[2017-12-07 13:04] maciejhirsz opened #3291 "Inconsistent requirements of block in FunctionDefinition."
edit: Forgive me for confusion, I'm literally just learning Solidity while writing a parser.

The following should be equivalent according to grammar.txt:

[code]

Either a function with a modifier must have a block following it and the first case is a bug, or it doesn't and the second case is a bug. Can't tell which atm.

[2017-12-07 13:20] maciejhirsz commented on #3291
~Actually, it seems to be an issue with solc, will open a new issue (unless I find one)...~

Updated original issue.

[2017-12-07 13:25] oojr commented on #683
any contract can change ownership and self destruct if modifiers are not in place, how will someone steal my tokens if I am checking if `msg.sender` is an approved contract?
[code]
@PeterBorah I agree though security shouldn't be comprimised, and it could probably be easier done in the interface, its better to keep the Solidity attack vectors small

[2017-12-07 13:29] PeterBorah commented on #683
That definitely helps, but then the attack flow is:

You -> `EvilCryptoKitties` -> `ApprovedReceiverContract` -> `Token`

You're the `tx.origin`, so `EvilCryptoKitties` can act on your behalf and send your tokens to themselves.

This doesn't work if `ApprovedReceiverContract` checks `msg.sender`, but at that point you're just trusting all of the security to `ApprovedReceiverContract`, so why not j

[2017-12-07 14:20] oojr commented on #683
why would I send a transaction to `EvilCryptoKitties` in that contract pretend they have

[code]

In this scenario `tx.origin` is not the problem but interacting with the bad contract is

the flow is `Me` -> `ApprovedReceiveContract` -> `Token`

it is still two transactions either way, so its better to have the safer msg.sender

[2017-12-07 14:26] PeterBorah commented on #683
You would call `EvilCryptoKitties` because you want to breed lovely digital kitties, of course.

They can't do your `owner.transfer(msg.value * 100)` in any other case because the contract doesn't have the right to transfer on behalf of your account. The only way they get that ability is if you use the insecure `tx.origin`.

[2017-12-07 14:47] oojr commented on #683
Yes my example actually wouldnt work without EvilCrpytoKitties is a bad contract regardless any behavior is malicious I dont think tx.origin will protect that but can prevent middleman contract attacks in an automated flow

[2017-12-07 14:53] PeterBorah commented on #683
No, it mostly can't do bad things if contracts follow basic security practices like not using `tx.origin`. It can't act on your behalf, or move your ether, unless you choose to send it ether. It can only change its own internal state and make calls that set itself as the `msg.sender`. You don't normally have to audit a smart contract to make sure it can't steal your tokens, you just trust that the

[2017-12-07 16:55] oojr commented on #683
Maybe an audit is not needed but verification will help to be on the safe side. For example ICO website can get hacked and a contract address can be changed to a malicious contract that accepts Ether and doesnt transfer tokens,

In your example the owner param can be changed by the malicious contract, in my suggestion, tx.origin can not be changed
[code]
1) interact approveRemoteTransfer

[code]
2

[2017-12-08 01:37] Gelassen commented on #3069
Faced with the same issue

[2017-12-08 10:00] axic opened #3293 "New ABI decoder fails on arrays of dynamic types as calldata"
[code]

throws assertion

[code]

Which means arrays of dynamic types cannot be decoded as calldata. Though changing it to `public` will make it working, because the decoder is invoked elsewhere.

[2017-12-08 10:06] axic opened #3294 "New ABI only does a revert on string array input"
[code]

compiles without errors, but it only does a `REVERT` if executed in Remix.

Sample input (`[ "aa" ]`): `0xe9cc87800000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000026161000000000000000000000000000000000000000000000000000000000000`

[2017-12-08 10:36] srameshr opened #3296 "Feature request"
Functional and pure methods
[code]
Array utilities like in JS

[2017-12-08 16:43] veox commented on #1230
@onbjerg `lllc` binaries report the same version as the `solc` binaries for a given release.

(Is this what you asked about?..)

[2017-12-08 17:45] veox opened #3298 "LLL: simple way of retrieving runtime bytecode"
I'm attempting to add LLL support to [Populus](https://github.com/ethereum/populus).

This requires three components to be available:

- [x] the ABI, which for now we'll be [providing "externally"](https://github.com/ethereum/populus/issues/400), via an `.lll.abi` file;
- [x] the (deployment?) bytecode, already available via `lllc -x /path/to/contract.lll`;
- [ ] runtime bytecode, as it will be pr

[2017-12-09 08:10] axic commented on #3298
I am not fully sure I understand this issue? What are the required new features for LLL here?

[2017-12-09 13:09] veox commented on #3298
Output for the equivalent of `solc`'s `evm.deployedBytecode.object`.

I'll edit the OP to be clearer.

[2017-12-09 13:28] veox commented on #3298
I've looked at [disassembly](https://gist.github.com/veox/5dcd70fc8486640237c233f7cbf15671) of a [simple LLL program](https://github.com/veox/populus/blob/e3e4adb12546cac7661643dc5b4dbc69c672e11d/tests/fixtures/Greeter.lll); and it does seem possible to just "strip" the bytecode with external tools, removing the `codecopy` head and `data` tail.

However, it might be useful if `lllc` could do this

[2017-12-09 13:33] axic commented on #3298
Why do you need the "runtime bytecode"?

[2017-12-09 13:43] veox commented on #3298
`populus deploy` tests if a contract's code post-deployment matches that given by the compiler.

(Actually, I'll go ask if there's any other reason.)

[2017-12-09 13:49] axic commented on #3298
Because there's no way for `lllc` to give you it. It has no concept of creation and deployed bytecodes. The LLL source code is just like assembly, it has no restrictions. The example you've found happens to do this, but it is not a requirement presented by the compiler.

[2017-12-09 14:06] veox commented on #3298
Thank you for the clarification. Closing.

[2017-12-09 14:06] #3298 closed, assigned to nobody

[2017-12-09 19:54] axic commented on #3291
I think that should compile, but seemingly fails.

[2017-12-10 04:51] mr-robek commented on #2325
i'm experiencing the same behavior. my smartcontract looks like this:
`
 function balanceOfEther(address user) public constant returns (uint256) {
    return user.balance;
  }
`
i deployed it to main network and every time i call it using metamask i get the same big number 11579...
caling it from etherscan "read smart contract" feature works well.
any workarounds/solution since august?

[2017-12-10 07:58] srameshr opened #3300 "Allow multiple variable declaration of the same type in the same statement"
Currently syntax like this is not supported.
[code]

[2017-12-10 16:08] axic commented on #3300
I think this feature may not necessarily improve readability of a contract. Do you have any use cases where this restriction adversely affects the readability of a contract?

[2017-12-10 16:09] axic commented on #2325
This is still doesn't look a Solidity bug. Please report it to Metamask or any other client you are using.

[2017-12-10 16:19] srameshr commented on #3300
No I dont have any such use cases.
It just reduces some typing. But as you said readability might be more important in case of contracts.

[2017-12-11 01:50] axic opened #3301 "Deprecate the var keyword"
I do not think there is any proper legitimate use left for the `var` keyword therefore I suggest we remove it.

In for loops already a type is suggested, instead of tuple declarations tuple assignments can be used and there is no need for the `var` for functions as function types can be used now.

Is there any other use case for `var`?

In #2558 I proposed to replace it with `auto`, but this issue

[2017-12-11 10:58] #3069 closed, assigned to nobody

[2017-12-12 08:14] chriseth commented on #2296
As a first stage of this feature, I would propose the following:

It is possible to create contracts using `new shared ContractName`. The constructor of a contract that contains a `new shared ContractName` directive deploys master copies of such contracts. The master copy ignores the constructor code but retains the full deployed code. The location of the master copy is stored in the code. The dep

[2017-12-12 08:25] chriseth opened #3306 "Audit - SOL-001: O(n​ 2​ )​ ​ compiler​ ​ output​ ​ blow-up​ ​ by​ ​ forced​ ​ warnings/errors"
The​ ​ compiler​ ​ does​ ​ not​ ​ limit​ ​ the​ ​ number​ ​ of​ ​ errors​ ​ or​ ​ warnings​ ​ reported​ ​ (characters​ ​ sent
to​ ​ stderr).​ ​ Generally​ ​ there​ ​ is​ ​ no​ ​ benefit​ ​ to​ ​ the​ ​ developer​ ​ to​ ​ receive​ ​ more​ ​ than​ ​ 1000
errors/warnings​ ​ at​ ​ once.
An​ ​ associated​ ​ problem​ ​ is​ ​ that​ ​ the​ ​ compiler​ ​ prints​ ​ the​ ​ full​ ​ line​ ​ for​ ​ each​ ​ erro

[2017-12-12 08:25] chriseth commented on #3306
I thought we fixed that already - @axic?

[2017-12-12 08:28] chriseth opened #3307 "Audit - SOL-002: O(n​ 3​ )​ ​ compiler​ ​ output​ ​ blow-up​ ​ by​ ​ function​ ​ name​ ​ duplicates"
All​ ​ contract​ ​ methods​ ​ that​ ​ have​ ​ the​ ​ same​ ​ name​ ​ are​ ​ reported​ ​ as​ ​ duplicates.​ ​ ​ Each​ ​ duplicate​ ​ pair
is​ ​ reported​ ​ independently,​ ​ so​ ​ if​ ​ a ​ ​ function​ ​ has​ ​ 8 ​ ​ duplicates,​ ​ 28​ ​ error​ ​ messages​ ​ are​ ​ created,
each​ ​ printing​ ​ the​ ​ two​ ​ conflicting​ ​ lines.​ ​ When​ ​ a ​ ​ single​ ​ line​ ​ contains​ ​ n ​ ​ duplicates,​ ​ th

[2017-12-12 08:31] federicobond commented on #3306
It’s marked as fixed in the report (blue row)

[2017-12-12 08:41] axic commented on #3307
See the line above:

[2017-12-12 08:49] axic commented on #3306
It was fixed in 0.4.17.

There is a limit of 32 duplicates for each function and constructor, though there is no total limit on the number of errors reported.

[2017-12-12 08:53] chriseth commented on #3306
Oh I'm sorry - will take a closer look at the report :)

[2017-12-12 08:54] #3306 closed, assigned to nobody

[2017-12-12 08:54] chriseth commented on #3307
Actually it is not.

[2017-12-12 08:55] axic commented on #3307
There is a limit of 32 duplicates reported for each function and recursiveness should be also eliminated.

[2017-12-12 08:58] axic commented on #3307
That example cannot be properly copy pasted, but perhaps the limit we have doesn't work for constructors. It works for regular functions.

[2017-12-12 08:59] chriseth commented on #3307
Exactly, I'm preparing a fix right now.

[2017-12-12 09:54] #2176 closed, assigned to nobody

[2017-12-12 10:12] #3175 closed, assigned to nobody

[2017-12-12 10:14] #3307 closed, assigned to chriseth

[2017-12-13 02:33] axic opened #3314 "Less error prone tuple assignments"
(This has been also mentioned by the recent Solidity audit under SOL-007.)

Currently tuple assignments can skip leading, trailing and positional variable names.  I'd propose to make these rules strict and require the user to specify the required number of return values by appropriate number of variable names. If omitted either accept an empty name or require `_`.

e.g. `(,a,,,,b,,,,,c,,,,,) = cra

[2017-12-13 06:32] nisdas commented on #3061
Hey I fixed the errors in the ballot contract, added public visibility identifier to the functions. The above error was due to the fact that the declaration of the struct was the same name as that of the function. So I capitalized the relevant functions. I created a pull request #3315

[2017-12-13 07:52] chriseth commented on #3314
So you would not allow a "match anything" marker?

I don't think that `_` conflicts with the function body marker in the modifier, because that is only valid at statement level.

We should perhaps turn `_` into a keyword for 0.5.0

[2017-12-13 09:21] mimitc123 opened #3316 "How to use smart contracts to increase the speed of data into the blockchain"
for example

pragma solidity ^0.4.18;

contract charity_tab{

    string [] public charity;
    uint public charitySize=0;

  function addCharity(string a) {
    charity.push(a);
    charitySize++;

  }

}

This contract to add a data time about 30-40 seconds, how to improve efficiency？

[2017-12-13 10:27] chriseth commented on #3314
Ok, I think we agreed to remove the "match any number" feature.

Because of that, this is a breaking change.

Proposal for implementation:

 - warn about "match any number" until 0.5.0 and turn into error from then on
 - warn about missing component until 0.5.0 and turn into error from then on
 - expressions of the form `(a,)` are still fine (they distinguish 1-element tuples from just expressions

[2017-12-13 16:36] chriseth commented on #2780
@kasjan-s do you think you can take this up again?

[2017-12-13 16:38] chriseth commented on #1117
I would say the default should be to target the EVM that is active on the mainnet. Pragmas can revert specific features to older EVM versions.

[2017-12-13 16:55] federicobond opened #3319 "Julia parser recursion_depth test fails in macOS"
I'm guessing macOS 10.13 has smaller stack size limits.

[code]

[2017-12-13 16:58] axic commented on #3316
I think this question is more suited for https://ethereum.stackexchange.com

[2017-12-13 17:13] elenadimitrova commented on #3132
@axic I can pick this up if @ethers hasn't yet?

[2017-12-13 17:16] axic commented on #3132
@elenadimitrova yes, please take it, it would be great having this document. @ethers has not expressed interest, it is safe to assume he hasn't started working on it.

[2017-12-13 17:23] elenadimitrova commented on #3132
Is this the best place in the documentation for that @axic
http://solidity.readthedocs.io/en/develop/contracts.html#abstract-contracts

Shall we roll in #627 here as well?

[2017-12-13 20:49] Tectract commented on #2638
I'm not sure I understand the full implications of public versus internal constructor functions, but I know I'm getting a compiler warning on the "standard" erc20 token contract in the latest solc compiler version. Is it safe to just make the constructor as public?

[2017-12-14 02:46] zhuangjinxin opened #3320 "When will translate the documentation to Simplified Chinese(简体中文)？"
Up to now, many institutions and individuals try to translate this documentation to simplified chinese, like `http://wiki.jikexueyuan.com/project/solidity-zh/introduction.html`.

Documentation: `http://solidity.readthedocs.io/en/develop/`

[2017-12-14 08:44] lisuyong opened #3321 "Why get* functions not use modifier to check and revert wrong input params?"
Hi there, I’m confused that why so many constant get* functions not use modifier to check and revert wrong input params. Just as follows from [gnosis multisig wallet](https://github.com/gnosis/MultiSigWallet/blob/master/contracts/MultiSigWallet.sol#L289).

[code]

If the transactionId isn't in the confirmations map, why not use modifier to check and then revert it?

I know the revert is normally u

[2017-12-14 10:53] mvglasenapp opened #3322 "SOL-003 RAM Blow-up by constants cycles"
**Description**

The solidity compiler has code to detect if a set of constant definitions posses a cycle by cross-reference. By forcing the compiler to recompute the cycles over and over, the compiler needs to allocate huge amounts of RAM, and compilation time can be made arbitrary long.

We’ve attached the file Exploit3.sol as an working example. The file defines a chain of constant
references o

[2017-12-14 10:58] mvglasenapp opened #3323 "SOL-004 RAM Blow-up by exponential steps in constant cycle findings"
**Description**

This issue originates in the same code as the previous one. In this case, we force the compiler to performs an exponential number of steps to find a cycle in constants definitions.
We’ve attached the file Exploit4.sol as an working example. In the example there are only 160 constant definitions. There are two constant chains, A and B, each constant in the chain is numbered. Each c

[2017-12-14 11:00] mvglasenapp opened #3324 "SOL-005 Unbounded gas cost when deleting dynamically sized arrays"
**Description**

The “delete” operation when applied to a dynamically sized array in Solidity generates code to delete each of the elements contained. If the array is large, this operation can surpass the block gas limit and raise an OOG exception. Also nested dynamically sized objects can produce the same results.

**Recommendations**

Warn the user of the implications of deleting dynamically siz

[2017-12-14 11:02] mvglasenapp opened #3325 "SOL-006 Duplicated super-constructor calls not reported"
**Description**

Solidity has two methods to define super constructor calls: the first one is embedding the arguments in super contract definition and the second is by declaring a new constructor and adding the name and arguments for the super contract. If both methods are used concurrently, the constructor definition is used. However, the compiler does not warn the user that the first set of argu

[2017-12-14 11:06] mvglasenapp opened #3326 "SOL-007 Error-prone Multi-Assignment with empty LValues"
**Description**

Solidity has a multi-assignment feature. This works for lists (or tuples) created explicitly or from function return values. A function can return a list of values and the caller can assign each returned value to a different variable (LValue).

Some examples are:

function return2E() returns(uint,uint) {
return (1,2);
}
...
var (a1,a2,a3) = (V0,V1,V2);
var (h1,) = return2E();

Sol

[2017-12-14 11:09] mvglasenapp opened #3327 "SOL-008 CPU blow-up using huge bignums literals"
**Description**

The Solidity compiler accepts numeric literals of arbitrary precision. But computing those literals can take arbitrary high time.
When the following sample contract is compiled, the compiler runs for several hours (we’ve not waited until it finishes):

contract BIGNUMTEST {
function bignum() {
uint c;
c=1E10000000;
}
}

**Recommendations**

Limit the size of numeric literals.

[2017-12-14 11:11] mvglasenapp opened #3328 "SOL-009 Output messages size blow-up using huge bignums literals"
**Description**

The Solidity compiler accepts numeric literals of arbitrary precision. When a literal is assigned to a variable of shorter size, an error will be written to stderr containing the expanded representation of the literal.

For example, the following code, generates an error output of approximate size 600 KBytes:

[code]

The huge error line is:
filename.sol:4:5: Error: Type int_const

[2017-12-14 11:15] mvglasenapp opened #3329 "SOL-010 Easy underhanded code using false overrides"
**Description**

Solidity smart contracts often override a function defined in a parent contract to restrict it access, for example, by adding an onlyOwner() modifier. However function overrides only work when the exact function signature is used (same argument types and same return parameters). It’s easy to make small changes in the function signature that may go unnoticed by a reviewer and that

[2017-12-14 12:01] rinsharabi opened #3330 "error in compiling truffle contract got an error as given below Error parsing /home/blockchain/eth/pet-shop-tutorial/contracts/Adoption.sol: ParsedContract.sol:7:1: ParserError: Expected pragma, import directive or contract/interface/library definition. function adopt(uint petId) public returns (uint) {"

[2017-12-14 14:08] chriseth commented on #3326
Related: https://github.com/ethereum/solidity/issues/3314

[2017-12-15 07:37] nisdas commented on #3330
This would be better off posted in ethereum.stackexchange.com, this repo is mostly for the development of solidity.

[2017-12-15 08:52] chriseth opened #3334 "Yul object format"
Implement object format as defined in https://solidity.readthedocs.io/en/develop/julia.html#specification-of-julia-object

More specifically:

 - parser for "object"
 - parser for "code"
 - parser for "data"
 - built-in functions `datasize`
 - built-in function `dataoffset`

[2017-12-15 08:53] chriseth commented on #3334
@axic could you please confirm that this is what we want? I would not implement `datacopy` for now, as it has to use `calldatacopy` at construction time and `codecopy` at runtime, which might be a bit too confusing.

[2017-12-15 09:37] pirapira commented on #2178
This feature is already [explained](https://github.com/ethereum/solidity/blob/3d1830f3f27f4b915b27472dcfb326223ef77e50/docs/frequently-asked-questions.rst#can-state-variables-be-initialized-in-line) in the frequently asked questions section.

[2017-12-15 13:58] danutavadanei opened #3336 "Property overwriting not working?"
**Description**

The solidity compiler accepts inheritance overloading of both modifiers and functions. But what about properties?

Check this example:
[code]

In this case, by initializing `Dog` contract with age 20 one would expect that `Animal` age property to be 20, right? No, this doesn't happen. Calling `getDogAge` function will return `20` and calling `getAnimalAge` will return `0`.

I know

[2017-12-15 15:36] srameshr opened #3338 "Support implicit bool conversion in condition statements"

[2017-12-18 10:27] chriseth commented on #2178
I would consider the FAQ only supplementary. If it is not explain in the main body of the documentation, it should be added.

[2017-12-18 10:33] pirapira commented on #2178
Then the issue is still open.

[2017-12-18 10:40] pirapira opened #3339 "doc: the documentation is wrong about what state variables are"
`structure-of-a-contract.rst` says
[code]
but variables are not values.

Variables have names and scopes while values don't.  Values can be passed to other contracts as arguments while variables cannot be (only the values contained in the variables are passed to other contracts).

[2017-12-18 11:06] chriseth commented on #3327
Proposal: Limit the number of rational numbers to some sane value (4096 bits) and throw a FatalError otherwise.

[2017-12-18 11:08] chriseth commented on #3327
The relevant point is `RationalNumberType::binaryOperatorResult`. We cannot throw an exception there, but we can return a null pointer.

[2017-12-18 11:08] axic opened #3340 "SourceLocation not visible in standard json output"
Input:
[code]

Output:
[code]

The problem is the `sourceLocation` field is not present in the output.

Issue found in https://github.com/Yakindu/solidity-ide/issues/68

[2017-12-18 11:13] axic opened #3341 "jsoncpp doesn't complain if the JSON has unexpected trailing characters"
[code]

The two trailing `}` are not complained about.

[2017-12-18 11:34] axic commented on #3330
It is really hard to see what the question and the source he is. Closing this for now.

[2017-12-18 11:34] #3330 closed, assigned to nobody

[2017-12-18 11:45] axic commented on #3338
I think this is a conscious design choice and with this common C pitfalls can be avoided even without a static analyzer, such as `if (a & b)` instead of `if (a && b)`.

[2017-12-18 12:09] #3338 closed, assigned to nobody

[2017-12-18 12:28] axic commented on #3296
I think you have 5 suggestions here?

There is already support for pure methods (with some restrictions). Check out the `pure` keyword in the documentation.

I'm not sure what you mean by "Array utilities like in JS". Can you elaborate?

The preferred way to have map/reduce and array utilities is by implementing them as Solidity libraries, though keep in mind they are really expensive operations i

[2017-12-18 12:30] axic commented on #3066
@winsvega can we close this issue?

[2017-12-18 12:32] axic commented on #3039
@chriseth I think this might show another bug too `returns (var storage)`. Should the `storage` modifier be valid on `var`?

@jklepatch are you still interested in this?

[2017-12-18 12:37] srameshr commented on #3296
@axic I will close this as when I was raising these bugs I did not have enough foresight about the language.

[2017-12-18 12:37] #3296 closed, assigned to nobody

[2017-12-18 12:50] axic commented on #3322
@SergioDemianLerner The above code doesn't compile for me, it misses `_e`. Do you have a proper example which triggers this? We do have new checks for circular dependencies (limited at depth of 32) in constants since #3142.

[2017-12-18 12:51] axic commented on #3323
@SergioDemianLerner can you also paste in here a proper example triggering it?

[2017-12-18 12:52] axic commented on #3324
@soad003 are you interested in adding a static analyzer module for this?

[2017-12-18 12:53] axic commented on #3329
This is discussed in #2563.

[2017-12-18 13:02] soad003 commented on #3324
@axic sounds good. I will take a look.

[2017-12-18 13:46] axic commented on #3243
Removed the `up-for-grabs` label.

[2017-12-18 13:46] #3243 closed, assigned to nobody

[2017-12-18 13:47] #3329 closed, assigned to nobody

[2017-12-18 14:32] #3340 closed, assigned to axic

[2017-12-19 15:48] HarryR commented on #683
There are legitimate use cases for `tx.origin`, it is silly to try and remove this just because people can shoot themselves in the foot with it. It may be 'bad security practice' with many use cases, but `msg.sender` isn't appropriate for others and must remain usable when necessary.

For example, I want to verify the call chain of a transaction, to ensure that it originated from a user, and that

[2017-12-20 01:30] winsvega commented on #3066
some tests still have this opcodes an should be rewritten. but that is another issue not for this repo.
https://github.com/ethereum/tests/issues/306

[2017-12-20 01:30] #3066 closed, assigned to nobody

[2017-12-20 08:44] mekkanik commented on #3328
If the fix for SOL-008 is accepted (https://github.com/ethereum/solidity/pull/3348), the error message will be different, and much shorter for values over 1E1232. For 1E1232, the error message length is approximately 1586 bytes. The new error message will be along the lines of:

[code]

[2017-12-20 14:21] federicobond commented on #3328
You are right, there is no blowup with #3348 but a readability improvement nonetheless.

[2017-12-20 15:01] mekkanik commented on #3328
Also I figure that there are other ways to cause this. Will look into this.

[2017-12-21 06:52] kenneth-1024 opened #3353 "How to debug the failure transaction to a contract?"
Hi all,
I am new to the ethereum contract, and want to learn how to debug it.
I have sent a transaction to my contract, and it failed. From the https://etherscan.io/tx/0x20a79ec615ca8c4668016624e83b82ffc1a54f61b90f05e0e531fda29fc0b4d1, it just failed and without any error information. In fact I have the source, and I know there are several "require" statements in the contract call, so I can guess

[2017-12-21 09:29] bulgakovk commented on #3193
@chriseth Hello! What do you mean by `proper libraries` here?

[2017-12-22 11:30] axic commented on #3132
@elenadimitrova I think it would make sense introducing a new section for constructors somewhere in the *Inheritance* section.

[2017-12-22 12:09] kcyang commented on #1741
Hi, Is it possible to translation to other languages? I want to translate your documents into Korean. Please help for it.

[2017-12-22 12:36] axic opened #3354 "Infinite gas reported for constant string getter"
[code]

[code]

(from https://github.com/ethereum/browser-solidity/issues/964)

[2017-12-22 12:56] axic commented on #3353
You could try https://remix.ethereum.org for debugging or the `Tools & Utilities` dropdown on etherscan.

This seems to be a question better suited for http://ethereum.stackexchange.com

[2017-12-22 12:56] #3353 closed, assigned to nobody

[2017-12-22 13:21] axic commented on #1805
Assigned to @Balajiganapathi

[2017-12-22 13:27] axic opened #3355 "Consider using "strict mode" in jsoncpp"
[code]

This would be used for parsing incoming "standard json input".

[2017-12-22 13:33] axic commented on #3037
@chriseth I think we should make an exception here and do a "breaking change" in a non-breaking release by making reading non-existant files an error, which can be turned off by `--ignore-missing-files`.

If someone relies on this behaviour it is an easy fix for them, but most of the frameworks (truffle, dapple) use solc-js and are not affected. Populous uses the commandline so they may be affecte

[2017-12-22 13:39] axic commented on #411
@chriseth The gas estimator output includes an estimate for the fallback.  I think this issue is more suitable for the static analyzer, which could issue a warning if the estimate is above 2300.

[2017-12-22 13:44] axic commented on #3131
@elenadimitrova do you want to incorporate this last comment in to the documentation?

[2017-12-22 13:46] axic commented on #3179
One way to make this more deterministic currently is to clear the return memory space before the call, though with `returndatasize` it is arguably simpler.

[2017-12-22 13:48] axic commented on #3187
With the latest compiler, without the `ABIEncoderV2` an error is emitted:
[code]

With `ABIEncoderV2` it is an unimplemented assertion:
[code]

The message here should be improved :)

[2017-12-22 13:52] axic commented on #2182
`constructor` from #3196 and `fallback` from #3198

[2017-12-22 13:57] axic commented on #3301
@chriseth any arguments for keeping `var`?

[2017-12-22 14:00] axic commented on #1677
Assigned to @Balajiganapathi

[2017-12-22 14:15] chriseth commented on #3037
@axic yes, good idea. We do not have to be that strict in the commandline interface.

[2017-12-22 14:30] chriseth commented on #3301
No, I am not a big fan of `auto` in C++ either.

[2017-12-22 14:45] axic commented on #3301
The task here is to extend `libsolidity/analysis/SyntaxChecker` with a visitor for `VariableDeclaration` where the `typeName` is empty (means "var").

The compiler should emit a warning for such instances, unless the experimental mode `V050` is turned on, in which case it should be an error.

[2017-12-22 15:09] Qqwy commented on #3131
@axic I do believe that there is an important difference between supporting 'parametric return types' (which is what your C++ comment is hinting at and which indeed requires a quite powerful compiler) vs incorporating the return type in the resulting function signature's SHA3-hash (since this is a separate step that happens after the compilation itself, right?)

[2017-12-22 15:42] axic commented on #3131
I agree that it would have been more consistent with the ABI to include the return types in the signature and other languages may utilise that feature.

The function selector on its own is not supposed to be used though, but in rather a JSON description of the ABI exists of which the clients calculate the hash themselves. This contains both inputs and outputs. See https://solidity.readthedocs.io/e

[2017-12-22 16:06] veox commented on #3037
When used with Solidity >= 0.4.11, Populus will use the StandardJSON approach - piping to `solc`'s `stdin`.

That is, Populus should be unaffected by the change.

[2017-12-22 16:14] Georgi87 opened #3356 "Allow to initialize constants in constructor"
In some cases contracts have to be initialized with constant values: Contract A needs to know address of contract B. This address doesn't change anymore after deployment. Currently the easiest way to accomplish this is be passing the address of B to A as a constructor argument and save the address in a storage variable. This is very gas costly. It would be better to directly save the address in co

[2017-12-22 16:33] veox commented on #2877
`emit` seems to me like a better option than `log` now.

Metaphorically, _logging_ suggests putting an entry in a journal that can be later looked up by the logger - which is not the case. _Emitting_ suggests sending a message out of the current context.

(An event _emitted_ by a contract is _logged_ in the transaction receipt.)

[2017-12-22 17:17] chriseth commented on #3356
While it might be tempting to re-use the `constant` keyword here, I think we need a new keyword. Currently, constants are associated with contract "classes", which also allows things like `X.c`, i.e. referring to constants in other contract classes. This feature creates constants for contract instances, which cannot be accessed through the class name.

[2017-12-22 17:33] Georgi87 commented on #3356
Understood. What about `address immutable B;`?

[2017-12-24 04:27] federicobond commented on #3037
I think it would be useful to discuss the changes required first. In particular, `ReadCallback::Result` has a boolean indicating whether the read succeeded or not. Should we augment it with the type of error? Throw exceptions? How does it impact `solc-js`?

[2017-12-24 07:05] federicobond commented on #3146
Hi @walter-weinmann, you mean the for construct inside the assembly block? Have you checked the docs [here](https://github.com/ethereum/solidity/blob/develop/docs/assembly.rst#parsing--grammar)? You can take a look at my [ANTLR4 grammar](https://github.com/solidityj/solidity-antlr4/blob/c37c042/Solidity.g4#L328-L330) too.

[2017-12-24 07:14] federicobond commented on #3148
Yes, the docs should be updated. You can find a better version of the assignment rule [here](https://github.com/solidityj/solidity-antlr4/blob/c37c042/Solidity.g4#L299-L300).

[2017-12-24 08:22] walter-weinmann commented on #3146
I've been trying to write a parser for the programming language Erlang based on grammar. txt for some time now - unfortunately grammar. txt doesn't seem to be a good basis for this project. I'm really looking forward to #3158.

[2017-12-24 11:58] rawadrifai commented on #3136
I am calling an external function (in an another contract) from my constructor and it gives me VM Exception invalid op code.. any idea what's going on?

[2017-12-24 15:58] federicobond commented on #3146
Not being testable, it's hard to keep `grammar.txt` updated and free of bugs. The ANTLR4 grammar I linked above, on the other hand, should serve your needs pretty well. It parses every Solidity code I have seen in the wild.

[2017-12-26 12:38] juanigallo opened #3361 "Static memory load of more than 32 bytes requested."
[code]

I think that this: https://github.com/ethereum/solidity/pull/3272 should fix the problem but still getting the title error. If I delete the "storePixel" function or change it's scope to "internal" the code compiles but of course that is not the idea.

Any ideas ?

[2017-12-26 19:30] federicobond commented on #3322
I created this test program to generate a chain of constant references like the one described in the report and I could not reproduce the RAM blow-up. Here's the source if you want to play with it:
[code]

And here's the generated [Solidity code](https://gist.github.com/federicobond/92f15000563dd2e5cc5c7b7429f677c5).

[2017-12-27 07:54] beether commented on #966
Ok, so `sha3(zero)` doesn't work... how does one get it to work as expected?  It would be quite helpful to show how to actually hash a f***ing uint256 somewhere. Tightly packed or not, I don't really care and just want it to work like any sane person would expect.

[2017-12-27 13:46] chriseth commented on #966
@beether how do you expect it to work? `sha3(0)` should be the same as `sha3(uint8(0))`, should be the same as
[code]

On the other hand, `sha3(uint(0))` is a different value which should be equal to `uint x = 0; sha3(x);`.

[2017-12-27 20:25] joejordan commented on #232
Definitely in favor of including optional parameters with optional defaults in the language. Especially useful as an alternative to constructor overloading.

[2017-12-28 02:02] nateawelch commented on #3165
It's not necessarily needed, but there should have language support because the precompiled contracts are part of the platform, not user made contracts. Solidity also has language support for the pre-byzantium precompiles, so I think it only makes sense to have language support for the byzantium precompiles.

[2017-12-28 06:55] prashantprabhakar commented on #3354
+1. Can reproduce.
[code]

[2017-12-29 11:18] modenero commented on #3354
https://ethereum.stackexchange.com/a/34645/20276

![Infinite gas](https://i.stack.imgur.com/BZDyZ.png)

[2017-12-30 18:32] chriseth commented on #3354
We should probably change the commandline output to say that there is no constant upper bound. While it could still be constant for this case, the word `infinite` should not be used in the general case.

[2017-12-30 23:43] JechoJekov commented on #2147
Does not work as expected with"." and ".." in Solidity 0.4.19 (0.4.19+commit.c4cbbb05.Windows.msvc).

Working cases:
solc --allow-paths .
solc --allow-paths ./,
solc --allow-paths ../,

Cases that do not work:
solc --allow-paths ./
solc --allow-paths ..
solc --allow-paths ../

[2017-12-31 17:08] barakman opened #3366 "Can the compiler replace MOD with AND when possible?"
The cost of `%` (5) is higher than the cost of `&` (3).

When `x` is a power of 2, the expression `a % x` is equivalent to `a & (x - 1)`.

When `x` is also a constant variable, this replacement can take place during compilation.

Can the compiler do this when optimization is enabled?

[2017-12-31 21:54] SergioDemianLerner commented on #3322
Here is the full code:
[Exploit3.zip](https://github.com/ethereum/solidity/files/1595486/Exploit3.zip)

[2017-12-31 21:57] SergioDemianLerner commented on #3322
Here is the generator:

[genref.zip](https://github.com/ethereum/solidity/files/1595487/genref.zip)

[2017-12-31 22:01] SergioDemianLerner commented on #3322
Version 1:0.4.19-0ubuntu1~xenial still shows the same behavior

[2018-01-01 11:03] IvanYurchenko opened #3367 "Left menu scrolls alongside with the main page"
Here's it: when you scroll the left menu itself it scrolls fine, but when you scroll an article that's on the right side the left side menu is scrolling as well which is definitely not correct behavior.

![screenshot](https://d1ro8r1rbfn3jf.cloudfront.net/ms_105836/x0nR3MdZPin14NZXON9kc2EEoerYbk/2018-01-01%2B13.02.03%2BSolidity%2Bby%2BExample%2B%25E2%2580%2594%2BSolidity%2B0.4.20%2Bdocumentation%2

[2018-01-01 20:55] clesaege opened #3368 "Allow making raw calls returning a value."
Currently the function for making raw calls is `call`, however the documentation (p42 https://media.readthedocs.org/pdf/solidity/develop/solidity.pdf) specifies that

It would be nice to have a way to make a raw call returning the raw return value. Or to have a raw call where the return value can be specified.

It should work like:
`var (x, y) = callReturn[uint, string](bytes4(keccak256("fun(uint2

[2018-01-01 20:59] axic commented on #3368
For callbacks I suggest to have a look at http://solidity.readthedocs.io/en/develop/types.html?#function-types.

Regarding returning data please see #434. And for ABI decoding see #1707.

[2018-01-01 22:51] clesaege commented on #3368
Thanks.
I was aware of #1707 but not of #434. I'll move the discussion to #434.

[2018-01-01 22:51] #3368 closed, assigned to nobody

[2018-01-01 22:55] clesaege commented on #434
I had opened #3368. But let's move the discussion there as it seems quite related.

I think we must make this change non-breaking by creating a new function making a raw call.
The way I see it working would be
`var (x, y) = callReturn[uint, string](bytes4(keccak256("fun(uint256)")), 5778));`

We could also reserve the first return to indicate if the call succeeded, so it could be used like
`var (s

[2018-01-02 08:16] Suhail commented on #1686
+1

[2018-01-03 13:38] barakman opened #3371 "Can the compiler replace MOD with AND when possible?"
The cost of `%` (5) is higher than the cost of `&` (3).

When `x` is a power of 2, the expression `a % x` is equivalent to `a & (x - 1)`.

When `x` is also a constant variable, this replacement can take place during compilation.

Can the compiler do this when optimization is enabled?

[2018-01-03 13:48] chriseth commented on #3371
We can probably easily add this in SimplificationRules.cpp:144.
Do you have a real-world example contract? I'm asking because the gas savings are not too apparent for all constants:

MOD is 5 gas, AND is 3 gas, so it looks cheaper, but note that if `x` is a power of two, then `x-1` might be much harder to represent. Also, zero bytes are cheaper in transactions than non-zero bytes. On the other han

[2018-01-03 13:48] barakman opened #3372 "Suspected problem in optimizer"
I have a purely stateless contract with 3 functions - `log`, `floorLog` and `exp`.
I am testing the gas-estimate of function `log`, which calls function `floorLog`.
Function `exp` is just a dummy function which returns a constant value.

When optimization is enabled, the estimated gas of function `log` changes dramatically, depending on this value.

For example, running `log(123456, 25000)`:
- Whe

[2018-01-03 13:50] barakman commented on #3372
Reopened at https://github.com/ethereum/solidity/issues/3372.

[2018-01-03 13:53] chriseth commented on #3372
I'm not sure I understand. Is the issue that the performance of the optimizer differs on the actual constants used? Which gas costs are you referring to exactly, the deployment costs or the execution costs? Also, which optimizer setting did you use (the "runs" parameter)?

[2018-01-03 14:00] barakman commented on #3372
The gas-cost of the `log` function changes dramatically when I change the constant value returned by the `exp` (dummy) function.
But it changes only when optimization is enabled, which leads me to the conclusion that the optimizer is "incompetent" with respect to the given contract.

Optimizer settings:
- With Remix, I simply marked the `Enable Optimization` option under the `Settings` tab.
- With

[2018-01-03 14:36] oktapodia commented on #2681
Any update about this one?

[2018-01-03 20:49] barakman commented on #3371
Reopened at ethereum/solidity#3371.

[2018-01-03 20:54] barakman commented on #3371
A real-world example contract:

[code]

[2018-01-04 10:23] chriseth commented on #3372
OK, thanks for the explanation! I think this is an effect of the tradeoff between deployment and runtime costs of constants. This step is only activated if there are at least four references to the same number (this is why you see the effect depending on the actual value used inside the `exp` function). The optimizer is not able to detect any loops, it just assumes that each constant will be used

[2018-01-04 10:29] barakman commented on #3372
Thank you very much!!!
I will now give it a try.
BTW, `--optimize-runs` does not show when you do `solcjs --help`, so it might be useful to add it (or any other "hidden" flag for that matter) there.
Thanks again!

[2018-01-04 10:30] barakman commented on #3372
Thank you very much!!!
I will now give it a try.
BTW, `--optimize-runs` does not show when I run `solcjs --help`, so it might be useful to add it (or any other "hidden" flag for that matter) there.
Thanks again!

[2018-01-04 10:37] barakman commented on #3372
OK, adding `--optimize-runs 5000000` to my build command-line does not seem to yield different `bin` or `abi` files. Any other suggestions?
P.S.: In reality, function `exp` is anything but "dummy", and it contains several references to the `FIXED_1` constant variable.
Thank you.

[2018-01-04 11:25] axic commented on #3366
Duplicate of #3371.

[2018-01-04 11:25] #3366 closed, assigned to nobody

[2018-01-04 11:51] axic commented on #3371
The constant optimiser should be able to reduce both `0x010000000000000000000000000000000` and `0x00fffffffffffffffffffffffffffffff`.

After some empirical testing, it actually does reduce it, but they are kept until different expected run thresholds (on a particular example).

`0x010000000000000000000000000000000` is reduced when expected runs are < 40:
[code]

`0x00ffffffffffffffffffffffffffffff

[2018-01-04 11:52] axic commented on #3367
@IvanYurchenko I do not see this happening here, but the documentation is running on readthedocs. Please report such issues with readthedocs.org.

[2018-01-04 11:52] #3367 closed, assigned to nobody

[2018-01-04 11:56] axic commented on #3372
There are no hidden flags. `solcjs` simply doesn't support it, hence it is not listed. It should have thrown an error for using an unsupported option though.

Try using `solc` (from the releases page here). It should be much faster than the Javascript version on the commandline.

[2018-01-04 11:56] veox commented on #2681
IMO ATM there's no actionable for the repo maintainers here.

The Solidity developer community historically uses `.sol`; there are costs to switching (in time and broken pipelines at least), and no immediate benefits.

Voting won't help with removing the costs, but it does indicate already that quite a few are reluctant to do it in either case.

The `.gitattributes` approach is therefore more like

[2018-01-04 11:59] barakman commented on #3372
Where?

[2018-01-04 12:00] axic commented on #3372
https://github.com/ethereum/solidity/releases

[2018-01-04 12:23] axic commented on #3165
Keep in mind pre-Byzantium precompiles have a very simple interface and are widely used.

The Byzantium precompiles are way more complex and providing a generic interface may not be that useful given the high gas cost of it. Actual implementations using those contracts can achieve a lower gas cost for their use cases.

Also note that support for the old precompiles are part of the language due to

[2018-01-04 12:25] axic commented on #2681
@veox if that PR is merged, what is the appropriate line to be placed into `.gitattributes`?

It would be nice to include that in the Solidity documentation once it is merged.

[2018-01-04 12:28] barakman commented on #3372
Wow, not only is it faster, but it also generates each pair of bin/abi files with the same name as the input sol file (in opposed to `solcjs`, which adds a prefix based on the relative path of the input sol file (at least in the Windows version of this utility), which you are then obliged to remove).
Thank you very much!!!!!

[2018-01-04 12:29] barakman commented on #3372
And with regards to the actual problem at hand - `--optimize-runs 5000000` seems to resolve it!!!

[2018-01-04 13:05] veox commented on #2681
According to [their `README`](https://github.com/github/linguist#overrides):

[code]

The PR in question doesn't pass CI currently, so is distant from being merged.

[2018-01-04 13:43] nateawelch commented on #3165
Thanks for clarifying. I hadn't realized that historically it was because libraries didn't exist yet, I agree then that it's best to have them implemented as libraries. This issue can be closed.

[2018-01-04 15:46] #3145 closed, assigned to nobody

[2018-01-04 15:48] chriseth commented on #3371
@axic the optimiser will try to find a different representation of the constant, but it does not have a rule that says `MOD(a, b) -> AND(a, SUB(b, 1))` if `b` is a power of two.

[2018-01-04 15:51] axic commented on #3371
I know it doesn't have a rule, just wanted to figure out what it does with the constants.

I actually added the rule too to see how it works.

[2018-01-04 16:03] chriseth commented on #3371
Can you create a pull request?

[2018-01-04 16:19] axic commented on #3371
I can, but it will need changes.

[2018-01-05 01:38] fulldecent opened #3376 "Improve install instructions"
Install instructions at http://solidity.readthedocs.io/en/develop/installing-solidity.html includes many install options. The first recommendation is:

    npm install -g solc

The usage instructions are at http://solidity.readthedocs.io/en/develop/using-the-compiler.html and begin with:

    solc

----

If you buy a new Mac, then install and run Xcode, per instructions, and then run those two com

[2018-01-05 01:41] axic commented on #3376
Please note the text above the `npm install` command which reads:

It mentions that the installed tool will be called `solcjs`. It may be a bit confusing - do you have any suggestions to improve the wording? A pull request would be welcome if you are interested.

[2018-01-05 01:43] axic commented on #3136
@soad003 reopened this here so we can keep track. Please leave a comment if this is done in browser-solidity.

[2018-01-05 01:44] axic commented on #3136
@rawadrifai please do not hijack this thread. Please open a new issue with code samples, etc.

[2018-01-05 01:52] fulldecent commented on #3376
Thanks for explaining. Here is a brief pair of PRs.

[2018-01-05 02:17] fulldecent opened #3379 "All code examples should use the latest released version of Solidity"
As per http://solidity.readthedocs.io/en/develop/installing-solidity.html?highlight=latest we see:

The latest version is 0.4.19 as per https://github.com/ethereum/solidity/releases

The Solidity code examples in the documentation, therefore, should also use version 0.4.19.

---

Following are the examples to update, found with `git grep --line-number 'pragma solidity'`.

Work plan:

- Run the exi

[2018-01-05 02:17] fulldecent commented on #3379
It will be helpful if someone with authority can say "all code with 0.4.16 can compile without warnings on 0.4.19 with no changes necessary".

[2018-01-05 02:23] axic commented on #3379
Please note those are the minimum versions required by each example. Since it uses semver, `^0.4.0` means it will also compile with `0.4.19`.

Every change is backwards compatible, fixing warnings emitted by 0.4.19 will still results in a compilable code on 0.4.0.

[2018-01-05 13:39] oktapodia commented on #2681
I'm trying to update it but I don't find an "not too close" color, do you guys have an idea about?

[2018-01-05 18:37] riordant commented on #3275
Have the exact same issue.

[2018-01-06 01:15] axic opened #3384 "Improve instruction semantics helpers"
See https://github.com/ethereum/solidity/pull/3352/files#r158486039.

`libevasm/Instruction.*` and `libevasm/SemanticInformation.cpp` has a lot of semi-overlapping definitions which could be simplified and subsequently ensuring it is easier to follow.

[2018-01-06 01:42] axic commented on #1820
This should be fixed already with the stack balancing requirement.

[2018-01-06 01:43] axic commented on #1824
After #3317 is applied the `--strict-assembly` commandline option will need to be removed too.

[2018-01-06 05:57] JohnAllen opened #3385 "TypeError: Tuple component cannot be empty."
When there's an extra comma in a return value tuple, this error throws.  It was not immediately apparent what the problem was based on the error.  The compiler error message points to the opening parens of the tuple and not the extra comma as well.

Should this error be more specific and/or add this possible case of there being an extra error?  Will submit a PR for this if so desired.

[2018-01-07 12:57] axic commented on #3385
Do you mean this?

[code]

[code]

[2018-01-07 14:38] JohnAllen commented on #3385
precisely

[2018-01-07 14:41] JohnAllen commented on #3385
close but actually points to the opening parentheses, like this and doesn't include the extra comma or contents of the return values at all.
[code]

[2018-01-07 15:13] JohnAllen commented on #3385
I would say the behavior for when this happens in the parameter list is helpful and probably what could happen for `return tuple` as well <img width="1894" alt="screen shot 2018-01-07 at 7 11 28 am" src="https://user-images.githubusercontent.com/2800641/34650697-208055da-f37a-11e7-89f9-cfd2182afc2a.png">

[2018-01-07 15:44] axic commented on #3385
Ah okay, the problem you have is that if it spans multiple lines, only the first one is shown.

[2018-01-08 11:29] winsvega opened #3387 "lllc is missing SHA3 opcode"
https://github.com/ethereum/solidity/blob/dd9416be29e9ac22b9b2a33cb9424514067cc6bf/libevmasm/Instruction.cpp

YP says that there shoul be SHA3 opcode at 0x20.
is it correct that lllc is missing that code?

looks like it using KECCAK256 instead. a bit of a naming issue is confusing.

[2018-01-08 12:49] axic commented on #3387
It is called `KECCAK256` in the assembler, the Solidity inline assembly and llc both have an alias for `sha3`.

[2018-01-08 13:44] FrankSzendzielarz commented on #3387
https://medium.com/@ConsenSys/are-you-really-using-sha-3-or-old-code-c5df31ad2b0

[2018-01-08 16:52] leviadam opened #3388 "Native solidity staticcall"
Hi,

I wanted to suggest an enchantment.
To allow solidity to use the new staticcall not just as assembly, but be able to do something like:
```contract.static.function(arg1, arg2); ```

Hope this is not a repost, searched old issues and couldn't find anything similar.

Adam.

[2018-01-08 17:01] axic commented on #3388
Note the compiler (once the feature is enabled) will automatically use `staticcall` if the function is marked `view` or `pure`. For `public` functions the static call can be enforced by using the external interface, e.g. `this.mypurefunction(1,2);`

[2018-01-08 17:04] leviadam commented on #3388
Is there a timeline when this feature will be enabled?

[2018-01-09 01:10] maurelian commented on #3388
When the tests are written I guess: https://github.com/ethereum/solidity/pull/2966

[2018-01-09 14:28] chriseth commented on #3049
I think this can be closed.

[2018-01-09 14:53] oktapodia commented on #2681
Hey guys, I fixed the CI, can I have a review, please?

[2018-01-09 15:59] oktapodia commented on #2681
@axic @federicobond @VoR0220, one of you can confirm that the `.solidity` extension is good for now in the linguist package?

We could use the `*.sol linguist-language=Solidity` line in the `.gitattributes` file to override it (I will make a pull request on solidity when the linguist PR will be merged) and having the highlighting syntax which will be awesome!

[2018-01-10 00:06] randomnetcat commented on #409
Is this still planned for completion?

[2018-01-10 14:25] #1820 closed, assigned to nobody

[2018-01-12 07:28] besirkurtulmus commented on #3361
+1 Having the same issue too. Developing advanced apps in solidity is very frustrating.

[2018-01-12 08:45] chriseth commented on #3361
Sorry, we are still working on the new experimental ABI encoder, please excuse any inconveniences.

[2018-01-12 17:36] veox commented on #2681
The PR by @oktapodia has just been merged.

Solidity syntax highlighting should become available on github (with the above-mentioned `.gitattributes` approach, for files of any extension) with the next `linguist` release or so.

If anyone still sees value in Solidity files being recognised automatically, this issue should IMO stay open. Otherwise OK to close.

[2018-01-13 12:11] bogomazov opened #3390 "Generics/templates needed for code reusability."
I need to implement iterable mapping, however, I always have different value types within different contracts.

[2018-01-14 02:32] federicobond commented on #3390
Hi @bogomazov! This is a duplicate of #869. Please follow the discussion there.

[2018-01-14 03:07] bugparty commented on #3361
Having the same issue

[2018-01-14 18:49] fulldecent opened #3391 "Should abbreviations be capitalized in mixedCase?"
From: https://github.com/ethereum/solidity/blob/develop/docs/style-guide.rst.

Two (among many) capitalization techniques are defined:

* `CapitalizedWords` (or CapWords)
* `mixedCase` (differs from `CapitalizedWords` by initial lowercase character!)

And shortly following is the note:

Please strengthen this note to one of either:

1. > When using abbreviations in CapWords (or mixedCase), capital

[2018-01-14 18:49] fulldecent commented on #3391
Do you think choice 1 is better?

[2018-01-14 18:49] fulldecent commented on #3391
Do you think choice 2 is better?

[2018-01-14 18:50] fulldecent commented on #3391
Do you think choice 3 is better?

[2018-01-14 20:46] OlyRice opened #3394 "invalid solidity type!: tuple[]"
I have tried on Stack Exchange [here](https://ethereum.stackexchange.com/questions/36229/invalid-solidity-type-tuple) with no luck so far so I thought I would try here. I have a contract with the following at the top.

`pragma solidity ^0.4.18;
pragma experimental ABIEncoderV2;`

I then call from JQuery the following function within that contract. The aim is to return an array that contains struct

[2018-01-15 00:46] fulldecent commented on #992
What version is this implemented in?

[2018-01-15 05:28] VoR0220 commented on #3394
This hasn't been implemented yet in the ethereumjs-abi is my guess.

[2018-01-15 11:23] eelkevdbos commented on #2963
Updated to python, should be fine now, sorry for the wait.

[2018-01-15 15:14] ilanoh commented on #615
Can you explain it, I get the same issue with msg.sender()

[2018-01-15 16:55] afsmith commented on #2956
OSX High Sierra:  brew uninstall --force jsoncpp
This solved it.

[2018-01-15 17:37] Tusharchoudhary opened #3395 "What is an owning contact?"
While going through *solidity* [documentation](https://solidity.readthedocs.io/en/develop/introduction-to-smart-contracts.html) I came across a term 'the owning contract' which i didnt understand.

[2018-01-15 23:17] jordanglassman commented on #1802
Came here after mistakenly typing `hex("12345")` instead of `hex"12345"`.

While troubleshooting I noticed that `hex($#$@#$#$ foo bar "12345" anything);` results in the same misleading `Error: Expected primary expression` error.

[2018-01-16 06:47] artemii235 commented on #2908
Discovered same using 0.4.19+commit.c4cbbb05.Emscripten.clang, as an example please take a look at this Smart Contract at Ropsten:
https://ropsten.etherscan.io/address/0xa66bc2b55ef5dff147edd7352a633fe8d510839c
It uses `Deal` struct which contains 7 fields.
When `initEthDeal` function is called new `Deal` is created and added to mapping: https://ropsten.etherscan.io/tx/0xb659eb6d17e75fe8e5518398a1

[2018-01-16 09:08] NextZeus commented on #594
nested arguments only worked with internal function, but not with external function.

[2018-01-16 09:09] NextZeus commented on #594
external function can accept bytes array as arguments .

[2018-01-16 10:47] uroland23 opened #3396 "Create a smart solidity contract address"
Pls i need help creating an ACC

[2018-01-16 18:44] vdrg opened #3400 "ABIEncoderV2: error computing signature of public library function"
The signature of a library function that receives a struct as a parameter (using ABIEncoderV2) is computed in a different way from what is shown in the specs:

[code]
The signature computed for the `setValue` function is `sha3("setValue(InstanceLib.Instance,bytes32,uint256)")`, when it should be `sha3("setValue((bytes32,address),bytes32,uint256")`.

[2018-01-16 19:30] chriseth commented on #3400
The reason for this is that you were always able to pass storage references to structs in calls to library functions. Since this is specific to Solidity and not covered by the ABI, a signature that is incompatible with the ABI was chosen on purpose.

The actual problem here is that the compiler does not warn you that `instance` will be a storage reference and that you should explicitly mention `st

[2018-01-16 19:31] chriseth opened #3401 "We should warn if the default data location for library functions is used."
The following code should generate a warning that `memory` or `storage` should be used explicitly on `s` and that storage is the default.
[code]

[2018-01-16 19:33] chriseth opened #3402 "Do not use default data location and warn users"
We should warn users about default data location for function parameters and return parameters.

In `void ReferencesResolver::endVisit(VariableDeclaration const& _variable)`, `ReferencesResolver.cpp:221`, the case where `varLoc == Location::Default` produces warnings (or errors starting from version 0.5.0) only for local variables (line 301).

We should do the same at least for the case where the

[2018-01-16 19:49] vdrg commented on #3400
I have just tried setting it as `setValue(InstanceLib.Instance memory instance, ...)` and I get the same result 😕

[2018-01-17 10:00] chriseth commented on #3402
This is a good first task for external contributors.

[2018-01-17 10:00] chriseth commented on #3400
Can you provide a complete example?

[2018-01-17 19:30] SjonHortensius opened #3405 "SMTChecker - simple contract throws 'Internal compiler error during compilation'"
* Version: 0.4.20-develop.2018.1.17+commit.4715167e.Linux.g++

I found a contract where the SMTChecker throws a very weird error and I am unsure if this is a known issue. The error is:

[code]

To reproduce, this simplified contract is enough:
[code]

SMTChecker works fine for various other contracts

[2018-01-17 21:32] GNSPS commented on #3402
I think this is super important! Many entries to the underhanded Solidity contest would have been avoided. 😄

[2018-01-17 21:56] federicobond commented on #3402
Willing to mentor someone who wants to make their first contribution to Solidity 🙋🏻‍♂️

[2018-01-18 08:22] chriseth commented on #3402
@GNSPS note that we already fixed it for local variables, I don't think function arguments were used in the underhanded contest, but of course you are right :)

[2018-01-18 11:20] pradeeppadmarajaiah commented on #3361
Still facing the same issue. Is there any workaround ??

pragma solidity ^0.4.19;

/** @title Employee Tracker. */
contract EmployeeTracker {

/** @enum Employee will be in any one of the state */
enum State { Active, Inactive, InNotice }

/** @struct Employee details struct */
 struct Employee {
     string id;
     string name;
     State state;
     string salary;
 }

Employee[] employees;

fun

[2018-01-18 12:07] chriseth commented on #3361
I think the originally reported issue is fixed. @pradeeppadmarajaiah you can either use `pragma experimental ABIEncoderV2;` or not use structs as parameters or return values of non-internal functions.

[2018-01-18 12:07] #3361 closed, assigned to nobody

[2018-01-18 12:28] artemii235 commented on #2908
My bad, my struct size is much larger than 32 bytes and it's not related to this issue - it's just how EVM works (splitting everything to 32 bytes words and calling SSTORE for each).

[2018-01-18 12:28] pradeeppadmarajaiah commented on #3361
@chriseth  Thank you for the alternative fix. But there are circumstances, where we need have to struct as parameters in real time application. How to handle it that situation ??

[2018-01-18 13:29] chriseth commented on #3361
I assume you meant "non-development" instead of "real time", is that right?
The thing is that structs as parameters are still an experimental feature, there is no way around it.

[2018-01-18 16:06] pradeeppadmarajaiah commented on #3361
@chriseth Yes. I am planning to use it in real time. Is there any other way that i can group the attributes without struct currently ?

[2018-01-18 19:30] dapplion opened #3408 "Are getter functions completely free of gas?"
Both in the remix.ethereum and test networks any getter function is free of gas and does not return a transaction hash. Do the main ethereum network offer the same behaviour? What is the reasoning behind making a getter function free if it requires a small amount of work?

Thank you so much!

[2018-01-18 20:33] makoto commented on #3402
Never done any cpp (only js, ruby and solidity) but sort of interested.

Is it a bit like this?

[code]

Which test should I run to see if I haven't broken anything? https://solidity.readthedocs.io/en/latest/contributing.html#running-the-compiler-tests shows several ways to test but not sure which one is related to this file.

Also do you have any sample solidity code to reproduce this condition?

[2018-01-18 20:57] debris opened #3409 "Filter library functions with "internal" types for ABI output"
please look at the issue: https://github.com/paritytech/ethabi/issues/75

imo `DLL.Data storage` is an invalid type. Am I wrong?

[2018-01-18 22:16] redsquirrel commented on #3408
Getter functions don't require any work from miners, so they are free. They simply read from whatever Ethereum node you're connected to, rather than having to be transmitted throughout the network and included in a block.

See also, the difference between eth.sendTransaction and eth.call:
* https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethsendtransaction (costs gas)
* https://github.com

[2018-01-19 16:55] #2391 closed, assigned to nobody

[2018-01-19 17:03] chriseth commented on #3361
@pradeeppadmarajaiah sorry, I do not really understand and this issue is probably also not the best place for such a discussion. I would recommend either stack exchange or https://gitter.im/ethereum/solidity

[2018-01-19 17:04] chriseth commented on #3402
@makoto You added it to the case where we indeed have a local variable. The task would be to take roughly the block underneath of what you inserted and put it at some place which is about 50 lines further up. Please try to understand the code, though :)

[2018-01-19 17:06] chriseth commented on #3409
Can you provide a bit more details, please? It is a valid type that is used internally in Solidity but should not be used by things like web3.js.

[2018-01-19 17:07] chriseth commented on #3408
Closing this because this is a question and not an issue with the compiler.

[2018-01-19 17:07] #3408 closed, assigned to nobody

[2018-01-19 17:24] debris commented on #3409
solidity contract:
[DLL.sol.txt](https://github.com/paritytech/ethabi/files/1644283/DLL.sol.txt)

produces the following abi:
[DLL.abi.txt](https://github.com/paritytech/ethabi/files/1644281/DLL.abi.txt)

which contains `type: DLL.Data storge`

[code]

[2018-01-19 18:55] olidyver opened #3410 "why error en Etherdelta??"
I made a transaction to upload my token in etherdelta but it gives me TxReceipt Status: Fail, does anyone know what I could be doing wrong?
https://etherscan.io/tx/0x35d005938651e32ea04b69d9b0b2dc93e6a44265613dcb938cc54e699be8f58e

[2018-01-19 23:27] makoto commented on #3402
Yes, I had no idea what I was doing. I now read the code and hopefully, this is getting a bit closer to what you asked for.

https://github.com/ethereum/solidity/compare/develop...makoto:no_default_on_parameter?expand=1

I am still not able to run the test locally so not sure if it's syntactically correct or not.

[2018-01-19 23:29] chriseth commented on #3409
Sure, but where does the error come from? The contract in the source is a library, its ABI should be irrelevant.

[2018-01-19 23:30] makoto commented on #3402
And I would very much appreciate mentorship of @federicobond .  In your YouTube video you said you started from no experience of c++. Would be great if you can point to some noob introduction of c++, boost testing enough to be able to compile and run the test.

[2018-01-19 23:56] fulldecent opened #3411 "Allow public constants in interfaces"
(Previously, this issue discussed ALL constants, now it only addresses public constants.)

Currently constants are not allowed in interfaces:

[code]

Error is:

Public constants affect ABI and should be allowed in interfaces.

---

If this issue is implemented and also if interfaces gain the ability to bring default implementations, then this syntax will be even more useful:

[code]

[2018-01-20 01:00] federicobond commented on #3402
Hi @makoto, sorry for the delay. Let me find some time tomorrow to review and give you some pointers on C++ (no pun intended). I had to take my laptop to repair and lost my Solidity setup.

Have you looked into this page to perform an initial build? http://solidity.readthedocs.io/en/develop/contributing.html

There is a section there on running the tests (use the --no-ipc option).

[2018-01-20 04:54] fulldecent opened #3412 "Inheritance: allow stricter mutability"
# Code example 1:

[code]

# Code example 2:

[code]

# Discussion

These two cases illustrate where an implementing contract meets the requirements of an interface. However, both cases are rejected by the compiler with the error:

Mutability is expressed in these forms:

1. Payable
2. Nonpayable
3. View
4. Pure

These are strictly ordered. All pures are views, all views are nonpayables. All nonpa

[2018-01-20 05:04] fulldecent commented on #3412
[code]

[2018-01-20 10:14] debris commented on #3409
error doesn't come from solc. it comes from `ethabi` - library which uses abi files to generate rust bindings for solidity and which encodes rust types into abi compatible byte vectors.

[2018-01-20 12:26] axic opened #3413 "Very long string literals are placed after the metadata hash"
[code]

will produce the following bytecode:

[code]

Note that the long string literal is after the metadata hash.

`a165627a7a72305820669decc05d9cee87e8196f2f52c21b210b191dbabc75ef37a23055659e4459bf`

`0029`

`61626361626361626361626361626361626361626361626361626361626361626361626361626361626361626361626361626361626361626361626361626361626361626361626361626361626361626361626361626361626361626361

[2018-01-20 12:50] axic commented on #3409
I think the bug is here is that we should only generate ABI for `view`/`pure` functions and they should only use external types. Admittedly the resulting ABI is not very useful, but libraries are a Solidity concept and are NOT supposed to be used by anything else.

Perhaps we shouldn't even output an ABI for libraries or should have an marker in the ABI stating it is a library ABI.

[2018-01-20 13:19] axic commented on #3411
This is a tricky one. Interfaces only allow declarations which are reflected in the external ABI and a constant isn't such a thing.

I think at this point this may cause more problems as it solves given the current messy handling of `public` modifiers on variable and inheritance.

[2018-01-20 13:57] axic commented on #3410
I think the best place to ask this question is on https://ethereum.stackexchange.com

[2018-01-20 13:57] #3410 closed, assigned to nobody

[2018-01-20 13:58] axic commented on #3394
I think the example code you are following on stackexchange uses web3.js. Please open an issue on https://github.com/ethereum/web3.js.

[2018-01-20 13:58] #3394 closed, assigned to nobody

[2018-01-20 13:59] axic commented on #3396
I think the best place to ask this question is https://ethereum.stackexchange.com

[2018-01-20 13:59] #3396 closed, assigned to nobody

[2018-01-20 14:09] axic commented on #3412
I think this is a good idea to allow reducing the state mutability levels during inheritance, but we should really examine all the effects before implementing the change.

Question is: should the external interface be based on the final implementation or the interface?

[2018-01-20 14:31] akuanti commented on #3409
@axic if libraries are not supposed to be used by anything else, how are you supposed to deploy a contract that uses a library? It seems like you need to be able to deploy the library first so that the contract that depends on it can refer to it. The solidity docs indicate that all linking does is replace the placeholders in the bytecode with the address of the library.

[2018-01-20 14:32] axic commented on #3409
Compiling a contract which uses a library **must have** access to the source code of the library during compilation time. It never uses the ABI JSON for anything.

[2018-01-20 14:37] akuanti commented on #3409
It's starting to sound like the issue is actually that deploying a library shouldn't involve `ethabi` (or any ABIs) at all, and should just involve sending a transaction with the library's bytecode. Am I understanding this correctly?

[2018-01-20 14:45] axic commented on #3409
I am not sure what `ethabi` does, but a library should be just deployed and their deployment address + source code must be given to the compiler when compiling a contract using that given library.

[2018-01-20 14:48] makoto commented on #3402
Thanks for the help, @federicobond . I am actually stuck at http://solidity.readthedocs.io/en/develop/installing-solidity.html#external-dependencies even before running test. Installing the build took a whole night (4 years old MBA) and looks like it screwed my node environment completely :-( Maybe time to buy a new machine and start from scratch. Is it easy to build on Mac or should I get Linux (

[2018-01-20 15:33] federicobond commented on #3402
The build on Mac should work fine. Can you paste which errors are you
getting?
El El sáb, 20 ene. 2018 a las 11:48, Makoto Inoue <notifications@github.com>
escribió:

[2018-01-20 15:42] xni opened #3414 "Can not compile the simple contract"
Hi!

I'm getting an internal error

[code]

for the very simple contract

[code]

I suppose there is something related to the array passing to the function.

[2018-01-20 15:58] axic commented on #3414
Too bad `truffle` is always hiding the messages:

[code]

[2018-01-20 17:05] makoto commented on #3402
Actually now build works on `develop` branch (took 11min), but running test throws 14 failures. Is this expected? https://gist.github.com/makoto/3e9aea718f8f57eaacff39e3724fab9e

[2018-01-20 17:38] federicobond commented on #3402
Your build looks fine. Try `brew install z3` and rerunning the build script to fix the errors related to the SMT solver.

[2018-01-20 22:34] wjmelements commented on #1565
Similarly, automatic getter functions do not implement interface methods, but they should. Example:

[code]

[2018-01-21 00:18] wjmelements opened #3416 "Public getters for array lengths"
Public arrays, such as
[code]
are more useful if you can know their lengths. I have been creating public length getter methods, like
[code]
but it would be preferable for either the default behavior or some function modifier to do this automatically.

[2018-01-21 00:48] wjmelements commented on #3416
Also, we as a community should agree on a naming standard for array length accessors.

[2018-01-21 02:44] fulldecent commented on #3412
For the "ABI" (which is not actually a binary interface), the stricter guarantees should be presented.

And for the actual external interface, i.e. EVM, there is no difference since this is not part of the function signature.

[2018-01-21 18:35] fulldecent commented on #3411
@axic Thank you, I have studied more how interfaces are implemented. For now I have reduced the scope of this issue to only address public constants without implementations (i.e. values).

[2018-01-21 18:39] axic commented on #3411
Can you actually revert the change and post this new version as a comment? My comment makes little to no sense now.

[2018-01-21 19:48] fulldecent opened #3418 "Allow NatSpec comments for variables"
# Test case

[code]

Run the command:

[code]

Then test output with:

[code]

# Expected outcome

Documentation is output for `doesEat` and `name` public functions.

# Actual outcome

[code]

# Follow on work

- [ ] Update documentation at https://github.com/ethereum/wiki/wiki/Ethereum-Natural-Specification-Format

[2018-01-21 21:52] fulldecent commented on #3411
# Proposal 2

Currently constants are not allowed in interfaces:

[code]

Error is:

Public constants affect ABI and should be allowed in interfaces.

---

If this issue is implemented and also if interfaces gain the ability to bring default implementations, then this syntax will be even more useful:

[code]

[2018-01-21 21:56] fulldecent commented on #3411
Sorry, I lost history, I thought GitHub saved it. For clarity, I did at a note to the top.

[2018-01-21 22:36] fulldecent opened #3419 "Interfaces can't inherit"
The following fails to compile. I make a case here that it should.

[code]

# Why?

Best practice now is for ERCs to publish a Solidity interface. This defines a standard for compliant contracts to implement.

Examples: [ERC-721](https://eips.ethereum.org/EIPS/eip-721), [ERC-777](https://eips.ethereum.org/EIPS/eip-777), [ERC-1155](https://eips.ethereum.org/EIPS/eip-1155), [ERC-875 (DRAFT)](https:/

[2018-01-21 22:48] axic commented on #3419
Why would it need to extend another interface? A contract can inherit multiple interfaces.

[2018-01-21 22:49] fulldecent opened #3420 "Interfaces are useless, scrap them."
Interfaces have extremely limited utility and only academic use in real-world scenarios. While working on standardizing an interface, several shortcomings are apparent:

* Interfaces handle implicit getters differently than contracts https://github.com/ethereum/solidity/issues/3411
* Interfaces do not reason well about state mutability https://github.com/ethereum/solidity/issues/3412
* Interfaces

[2018-01-21 23:17] fulldecent commented on #3419
Here's why:

[code]

Interface B depends on A. This fact should be encodable in B, and it can be done with inheritance.

[2018-01-21 23:18] fulldecent commented on #3419
When you are writing `ERC20Equity` you will want to be sure it complies with the ERC20 interface. And that should be enforced and checked by the compiler.

[2018-01-22 17:32] fulldecent opened #3421 "Compiler does not consider events when validating contract inheritance"
Decision from call:
 - event overloading is fine
 - event overwriting should be disallowed (there should not be two event declarations in an inheritance hierarchy that have the same event signature (after "index" has been stripped))

error starting from 0.7.x

-----

Test case 1:

[code]

And after https://github.com/ethereum/solidity/issues/3419 ... test case 2

[code]

[2018-01-22 17:35] fulldecent commented on #3421
Side note: I am blowing up with issues lately. Are my contributions welcome here, or am I complaining too much and wasting everyone's time? I'm doing this for fun, nobody is sponsoring me. So I hope this is having a positive impact.

Is there a chat room for actual contributors here? Gitter is all beginner questions and is absolutely useless for me.

What is the vetting process for me to become a

[2018-01-22 22:32] makoto commented on #3402
Thanks. I installed z3 and ran the build script, but now it got worse :-( Looks like it's failing to build now.

https://gist.github.com/makoto/fd904d33ad9813dfefa1608cb14f6f52

Also, are there any other ways to build quicker apart from ./scripts/build .sh? Waiting over 10 min just so that I can run the test seems quit unproductive or is it how usually work in compiling language world (as opposed

[2018-01-23 00:25] federicobond commented on #3402
I think those errors are related to homebrew updating to an incompatible
jsoncpp version. Check which versions you have installed and see if you can
revert back to the old one (usually uninstalling the latest manually works
for this case).

As for the time it takes to build, unless you touch header files (.h
extension) newer builds should only recompile the affected compilation
units. Headers are

[2018-01-23 06:39] duaraghav8 opened #3423 "Function name after returns declaration not documented"
## Version
0.4.19

## Code
[code]

## Platform
Remix Browser (uses solc)

## How to reproduce issue
Just type the above code into remix or compile with Solc. The code compiles fine. But it is not documented anywhere, including under [abstract contracts](http://solidity.readthedocs.io/en/develop/contracts.html#abstract-contracts) (notice that the name of the function - `foo` - is at the **end**). T

[2018-01-23 11:26] srameshr commented on #2948
Still cant return array of struct?

[2018-01-23 15:54] chriseth commented on #2948
Any help is appreciated!