[2018-05-04 15:57] chriseth commented on #3493
The padding should be added at ArrayUtils.cpp:309.

[2018-05-04 17:01] leonardoalt commented on #3672
Current trick case:
[code]
B1 should free both `y` and `x`, but not `z` and `t` because those wouldn't have been reserved yet.

[2018-05-04 17:12] come-maiz commented on #3982
I am the owner of the solc name, but I don't have permissions on the https://github.com/ethereum/solidity repo, so I can't add it. What I'm proposing is for somebody with permissions on the repo to add the automated build, and I will transfer the name to an ubuntu one account that's owned by the project. Then you add me as a contributor to that account on dashboard.snapcraft.io. Because it needs a

[2018-05-04 18:11] axic opened #4069 "ABI: should disallow empty tuples and fixed length arrays of 0 members"
Currently the ABI allows tuples to have 0 members and fixed length arrays to be at fixed 0 length.

and

I am not convinced it makes sense supporting these.

What are the arguments for having these?

[2018-05-04 18:53] chriseth commented on #4069
We at least need empty statically-sized arrays, because they are needed in the definition of the encoding of dynamically-sized empty arrays, and I think the statically-sized arrays in turn use tuples for encoding (or vice-versa), so I guess we could just keep all of them for completeness.

[2018-05-04 18:58] chriseth commented on #3672
But this should not be too big of a problem, if we keep
 - a mapping from blocks to sets of variables defined in that block (or added in that block), and
 - a set of variables defined at the current syntactic point (this could be m_localVariables in CompilerContext)

and then m_breakTags and m_continueTags in ContractCompiler need to be extended to point at the syntatic structures instead of just

[2018-05-05 06:48] idotial opened #4071 "fall to cast int to uint"
When i cast a int number like -41241234123423410 to positive uint to get the absolute value (it turn out to be that any number nagetive and whose length more than 17 will result in this) , and error comes: errored: call to math.testIntToUint  Error encoding arguments: Error: Assertion failed , and division act the same.
positive number and nagetive number whose length shorter than 17 work fine.
he

[2018-05-05 07:48] idotial commented on #4071
problem solve, it 's because of the Remix, if i write the number on the code of the contract instead of input it as parameter, it work fine.

[2018-05-05 07:48] #4071 closed, assigned to nobody

[2018-05-05 08:09] leonardoalt commented on #3672
That's very similar to what I have right now in `ContractCompiler`:
- A mapping from blocks to sets of variables declared in that block, such that they're freed in `endVisit(Block const&)`, which takes care of the general case.
- A mapping from loops to sets of variables declared inside the loop up to the analyzed syntactic point. At `B1`, for example, the `while` would be pointing to `x` and `y`.

[2018-05-05 08:38] jamesray1 opened #4072 "Enhancement large project: dataflow-style programming, Zilliqa style"
See https://docs.zilliqa.com/whitepaper.pdf FMI.

Also mentioned in https://github.com/ethereum/vyper/issues/807.

[2018-05-05 16:01] alibabe commented on #3934
#4073

[2018-05-06 02:59] favadi commented on #3982
@chriseth as @elopio is OK with transferring the "solc" name in snap store to solidity project, could you provide the Ubuntu One account he will transfer to?

[2018-05-06 03:55] zhuimengshaonian66 opened #4076 "can not read byteN in remix"
in this code , i  do it in :
https://remix.ethereum.org/#optimize=false&version=soljson-v0.4.23+commit.124ca40d.js

but  it return  0:0x.
i think it  cant read byte2's content , so   why?   what happend?
_________________________________________________________________________________________________________
pragma solidity ^0.4.16;

contract C {
        bytes2 public a=0x1234;
   function hexLite

[2018-05-06 16:05] Dan195 commented on #232
+1

[2018-05-06 18:48] j-h-scheufen commented on #2691
@chriseth Following up on your comment from Feb. 12, I'm adding a couple of examples where it's impossible to get rid of warnings via code changes.

### ERC165
The examples to implement ERC165 contracts rely on calling `this` in the constructor to refer to function selectors: `supportedInterfaces[this.supportsInterface.selector] = true;`
However, the use of `this` in constructors is now flagged wi

[2018-05-06 22:58] njwest opened #4078 "Typo in Compiler Error Message"
Fixed by #4077

There is a grammatical error in the too many variables stack compilation error:

"Stack too deep, try using less variables." should be "Stack too deep, try using fewer variables."

Further explanation, with lines, etc, in Pull Request #4077

[2018-05-06 23:39] ghost opened #4079 "Minus bug"
Solidity allows to compile the following line:

`a - b;`

To test if this code actually does something I used this contract:

[code]

By running the test function it doesn't change any variable and also in the EVM nothing happens to either variable or stuff pushed on the stack. Also it doesn't return any value, always return 0.

This should raise an error in solidity. This code does nothing, but u

[2018-05-07 02:14] idotial opened #4080 "magic happen in a function with delegateCall"
here's my code of test.
[code]

i deploy E and then deploy C and run the delegatecallSetN function with address of E. here is my log
[code]
the log seems right, but in Contract D, i appear to be 0: uint256: 487116790665000486649457261411995878465095522533, and n is 14, even i change the function to be
[code]
the i is still a very big number, however if i delete the delegatecall in the function, th

[2018-05-07 02:34] idotial commented on #4080
after some test, i think it because the variable n get longer after delegatecall, but the contract E don't know about the other uint i, some the position of i didn't move back. if i change the order of variables from `uint256 public n;
uint256 public i;
address public sender;
address public isender;`
to `  uint256 public n;
  address public sender;
  uint256 public i;
  address public isender;`
th

[2018-05-07 05:59] chriseth commented on #4076
This is a bug in remix / ethereumjs-vm which will hopefully be fixed soon: https://github.com/ethereum/remix/issues/783

[2018-05-07 05:59] #4076 closed, assigned to nobody

[2018-05-07 06:08] chriseth commented on #2691
@j-h the first one is a little tricky, yes. Since this part has both a high false positives and a high false negatives rate, you can use `ContractType self = this; supportedInterfaces[self.supportsInterface.selector] = self;`.

The second warning can be suppressed by either removing the variable names (only the name) or commenting it out.

[2018-05-07 06:10] chriseth opened #4081 "Suggest to suppress "unused variable" warning by commenting out variable name"
Came up in https://github.com/ethereum/solidity/issues/2691#issuecomment-386903299

Users often do not know that you cane suppress an "unused variable" warning by commenting out the name of the variable:

`function f(uint /* _x */, uint y) { g(y); }`

We should suggest that in the warning message.

[2018-05-07 06:12] chriseth commented on #4078
Haha, this is great! So many people struggle with this error message, but nobody actually suggested to fix the grammar mistake in the text :) Thanks!

[2018-05-07 06:12] #4078 closed, assigned to nobody

[2018-05-07 06:18] chriseth commented on #1380
The `isPure` annotation on expression already goes into the right direction, but we can implement a little more, actually. We should add a `sideEffectFree` annotation that is true for e.g. referencing any variable (`isPure` is only true for constants).

[2018-05-07 06:18] chriseth commented on #4079
Duplicate of https://github.com/ethereum/solidity/issues/1380

[2018-05-07 06:18] #4079 closed, assigned to nobody

[2018-05-07 06:22] j-h-scheufen commented on #2691
Thanks @chriseth ! You just cleaned up my build log tremendously! I should've thought about the fact that the variable name is actually not needed for the abstract implementation. Never questioned it after the abstract contracts initially were made by copy/paste from the interface.

[2018-05-07 06:24] chriseth commented on #4080
Please understand the implications of the low-level `delegatecall` before using it. This might help: https://solidity.readthedocs.io/en/latest/miscellaneous.html#layout-of-state-variables-in-storage

If you do not want to dig that deep, please use libraries instead.

[2018-05-07 06:24] #4080 closed, assigned to nobody

[2018-05-07 06:33] njwest commented on #4078
My pleasure, thank you for the great code!

[2018-05-07 07:46] idotial commented on #4080
I know it has a reason, but i just feel it's a bug and should be fixed

[2018-05-07 10:46] chriseth commented on #3978
Actually (sorry I already realized that in a different issue), `.call` does not perform packed encoding, but a weird third type of encoding.

I would propose to change `call` to only take `bytes` and perform a "packed encoding" of that argument, i.e. combine this with https://github.com/ethereum/solidity/issues/3955

[2018-05-07 14:27] chriseth commented on #3493
Finished work on this, but cannot push to github from this network. Hope I can push later today.

[2018-05-07 14:54] chriseth commented on #3493
Note that as soon as this is merged, it is not possible to forward bytes data anymore via call. We need #3955 for this, but that is a breaking change.

[2018-05-08 01:17] cytl5yy opened #4086 "Transfer event position"
function transferFrom(address _from, address _to, uint256 _value)  returns (bool success) {
        require(balanceOf[_from] >= _value);
        balanceOf[_to] += _value;
        emit Transfer(_from, _to, _value);
        balanceOf[_from] -= _value;
        return true;
    }
 I‘m not sure the event  Transfer must be under the   balanceOf[_from] -= _value;   Or there is nothing wrong with the writ

[2018-05-08 06:02] chriseth commented on #4086
The place of the event should in general not matter, but this question is better asked at https://ethereum.stackexchange.com - you will get faster and better replies there.

[2018-05-08 06:02] #4086 closed, assigned to nobody

[2018-05-08 08:38] chriseth commented on #4072
This seems to be a proposal for a new programming language or at least a new frontend for Solidity. While this might be a very good idea, it is out of scope for this issue tracker.

[2018-05-08 08:38] #4072 closed, assigned to nobody

[2018-05-08 08:42] jamesray1 commented on #4072
Is it out of scope? You could have an issue labelled as a long-term, high-level project/program and refer to it from the projects.

[2018-05-08 08:45] chriseth commented on #3982
Yes, sounds like a good idea! I hope I will have time to do that towards the end of the week.

[2018-05-08 08:48] chriseth commented on #4080
@idotial the only fix I can think of is removing low-level access to the EVM (and this includes the `delegatecall` function on the `address` type). Can you think of a better fix?

[2018-05-08 08:51] chriseth commented on #4072
Yes, it is out of scope because this would be a different project.

[2018-05-08 09:59] axic commented on #649
Since we have `interface` for interfaces, the only choice here remains (based on the above): `abstract contract`.

I would suggest an alternative: `partial contract`.

I'm still a proponent of making this required.

[2018-05-08 10:52] axic opened #4087 "Allow enums in interface"
I believe this was raised previously a couple of times and it is handled as part of the inheritance discussion (#3729).

I'd however propose to make an exception and allow this simple change outside of concluding that discussion, right now.

Are there any reasons for disallowing it? I remember we disallowed it out of fear something might break (or rather lack of time to check everything) and proba

[2018-05-08 10:57] juanfranblanco opened #4088 "When returning structs using a public storage "variable", the abi and return data is not a "component""
Given the following struct:

[code]

if the struct can be accessed as:

[code]

the ABI will be the following:

Missing the "components" section. Also when returning the data, the encoded data it is also not a "component" because the first element is not the index of the data.

[code]

But if we have a function which returns the value or a function that uses it as input
[code]

The abi is the foll

[2018-05-08 11:07] axic opened #4089 "Always use staticcall for pure (not only in 0.5.0 mode)"
When we introduced to use `STATICCALL` for `view` and `pure` we enabled that for 0.5.0 only, in order not to break non-compliant `view`/`constant` functions.

However we never made such a commitment for `pure`, since it was newly introduced, so we could have enabled `staticcall` for that unconditionally.

[2018-05-08 13:02] ekpyron commented on #3786
Depending on the solution of #3879 and whether it is extended to ``isExplicitlyConvertible`` as well, it may be possible to implement this in a backwards-compatible way. Otherwise it would be much easier to implement this as breaking change.

[2018-05-08 13:38] come-maiz commented on #3982
Thanks @chriseth. Just ping me and I'll start the transfer.

[2018-05-08 14:07] axic opened #4092 "Update swarm hashing method"
Apparently the Swarm hashing method has changed to a different one, called Pyramid hash, which uses its own wrapper over Keccak256 named BMT (Binary Merkle Tree, iirc) hash:

https://github.com/ethersphere/go-ethereum/blob/swarm-network-rewrite/swarm/storage/pyramid.go

Tests (at the bottom of the file): https://github.com/ethersphere/go-ethereum/blob/swarm-network-rewrite/swarm/storage/chunker_te

[2018-05-08 15:48] kosecki123 commented on #434
Given `abi.decode` and `abi.encode` availability, what would be very useful is something like

`callReturn(bytes) returns (bool, bytes)`

input `bytes` would be encoded with `abi.encode`
output bool is to signal failure
output bytes are returned abi encoded bytes ready to be decoded with `abi.decode`

[2018-05-08 19:24] jklepatch commented on #4081
The current warning message already suggest to comment out the unused variable:

[code]

see:
https://github.com/ethereum/solidity/blob/develop/libsolidity/analysis/StaticAnalyzer.cpp#L85

Should we add this `function f(uint /* _x */, uint y) { g(y); }` to the warning?

[2018-05-08 22:35] #3314 closed, assigned to chriseth

[2018-05-09 08:56] #238 closed, assigned to chriseth

[2018-05-09 08:58] chriseth commented on #4081
Ah this is weird. Then I don't think anything needs to be done for this issue. Sorry about the confusion.

[2018-05-09 08:59] #4081 closed, assigned to nobody

[2018-05-09 09:01] chriseth commented on #4092
We should also evaluate whether the swarm has is actually what we want, perhaps most users store the source code on ipfs instead?

[2018-05-09 09:06] #3926 closed, assigned to axic

[2018-05-09 09:12] axic commented on #4092
Clarification: the above change is about to happen, but hasn't happened yet.

I'd prefer to have both, perhaps controlled by a setting in the standard JSON.

Actually have written an IPFS hasher in Javascript (it is messy, because it uses ProtoBuf to encode internally) a while back and started to do it in C++, but didn't finish that. Should finish it.

[2018-05-09 09:35] bakaoh commented on #4081
okie ^^ i've just finished building it

[2018-05-09 09:49] axic opened #4099 "Consider wording for assert (and require) explanations"
From https://github.com/ethereum/solidity/pull/4082/files#r186545745

[2018-05-09 10:33] androlo commented on #4099
If I understand correctly, 'reverts' and 'exceptionally aborts' is the right terms now. I can comb through all docs and see where it should be replaced and then PR.

[2018-05-09 10:45] axic commented on #4099
I think they are the right one, but we could brainstorm here a bit about them.

[2018-05-09 10:47] axic commented on #4089
@chriseth what do you think about this?

[2018-05-09 10:49] alex-ppg opened #4103 "Consider showing a warning when pragma & compiler versions are different"
Using a different compiler version than the one specified with the `pragma` keyword can result in unintended behavior as the `pragma` keyword is ambiguous. As such, it would be best to show a **warning** for those who want to heed it and ensure backward compatibility. An example scenario can be found below:
- Which version of Solidity are you using?
The compiler is running Solidity version 0.4.23.

[2018-05-09 11:32] ekpyron opened #4105 "Replace all GLOBs in CMake files."
The ``CMakeLists.txt`` files should be updated and all ``file(GLOB ...)``'s should be replaced by lists of filenames (potentially split into ``CMakeLists.txt``'s in subdirectories).

This came up before (I haven't found an issue for it, though) and I now noticed it again, since the ``develop`` branch contains a file that the ``050`` branch does not contain and switching between them breaks the bui

[2018-05-09 11:38] ekpyron opened #4106 "Remove workaround for parsing the ``constructor`` keyword."
``constructor`` is currently not a keyword, but parsed as literal. This is a workaround that should be removed for 0.5.0.

Related: #2182 (with PR #3627).

Part of #3656.

[2018-05-09 11:40] ekpyron opened #4107 "Remove workaround for parsing the ``emit`` keyword."
``emit`` is currently not a keyword, but parsed as identifier. This is a workaround that should be removed for 0.5.0.

Related: #2182 (with PR #3627) and #4106.

Part of #3656.

[2018-05-09 12:06] Schaeff commented on #4103
I agree with @axic that this may be a issue with the warning message itself: in some cases, warnings suggest changes which would make the code invalid on versions of the compiler which should be compatible as stated in the pragma statement. One should either check all versions in the range for support of the suggested change, or warn that the change may break the code on earlier versions.

It's im

[2018-05-09 12:41] axic commented on #4103
The problem at hand here is, which should be an exception, is that `emit A();` causes a parser exception in <0.4.23 and as a result we cannot evaluate the version pragma, which is done at a later stage, to show a proper error: "you are using a too old compiler".

I guess we could add some workaround or put effort into fixing this, but as we are trying to move on to 0.5.0 it may not be worth the ef

[2018-05-09 12:55] axic commented on #2182
`partial` from #649

[2018-05-09 13:06] #3874 closed, assigned to ekpyron

[2018-05-09 13:34] ekpyron commented on #3847
To be discussed:

  * This is a dangerous change - should we introduce warnings before? after?
  * Consider using ``>>>``, check how it's used in other languages.

[2018-05-09 13:43] chriseth commented on #3978
This should probably only be fixed with 0.5.0 proper.

[2018-05-09 13:43] chriseth commented on #3955
Result of discussion: Add a warning for hash functions, and do the rest (including call*) with 0.5.0 proper.

[2018-05-09 14:46] axic opened #4108 "Yul: allow dot (.) as part of an identifier"
From https://github.com/ethereum/solidity/pull/3238#discussion_r153902771:

How about introducing dot and/or hashmark as part of valid identifiers, such as `lt.u256` and` lt#u256` would be valid identifiers.

The downside is that currently even for assembly some parts of the Solidity parser are shared and that could cause an issue with dot, since in Solidity it has a different purpose.

[2018-05-09 15:19] chriseth commented on #4108
I don't think this is a big deal, the identifier parser for assembly would just peek for `.` and continue aggregating. This is similar to a path in solidity.

[2018-05-09 15:27] ekpyron opened #4109 "Allow access to pragma's in ``Type::is*Convertible``, ``Type::*OperatorResult``, etc."
Some breaking changes for 0.5.0 could have been implemented using pragma 050, if the respective member functions of ``Type`` had access to the pragmas.

Relevant functions are ``Type::isImplicitlyConvertible``, ``Type::isExplicitlyConvertible``,  ``Type::unaryOperatorResult``, ``Type::binaryOperatorResult``, ``Type::commonType``.

These are mostly used in the ``TypeChecker``, but also in different

[2018-05-09 15:38] ekpyron commented on #3942
In PR #4091, I disallow any conversions between literals (resp. ``RationalNumberTypes``) and ``bytesX``, if the sizes don't match. This is a side-effect of restricting conversions between integer and bytes types to require identical sizes.

This means that the following are valid:
  ``bytes1(0x1)``,   ``bytes1(0x12)``,  ``bytes2(0x123)``,  ``bytes2(0x1234)``, etc.

But these are invalid:
  ``bytes

[2018-05-09 15:58] chriseth commented on #4061
Could you please clarify what "it" mean? Is this about limiting the number of fractional digits in general, or depending on the bit size?

[2018-05-09 16:01] chriseth commented on #3978
Related: https://github.com/ethereum/solidity/issues/3789

[2018-05-09 16:01] chriseth commented on #3955
Related: https://github.com/ethereum/solidity/issues/3789

[2018-05-09 16:12] randomnetcat commented on #4061
Sorry, yes I mean the limit on fractional digits by `it`.

[2018-05-09 16:18] chriseth commented on #4089
We could do it, but it might also just increase complexity and it might break some contracts because of incorrect explicit conversions between contracts. Perhaps it is better to wait for 050.

[2018-05-09 23:15] axic commented on #3225
#3525 should be a solution to this.

[2018-05-09 23:19] axic opened #4111 "Yul: disallow "switch x default {}""
Or alternatively: have an optimiser step replace it with `pop(x)`.

[2018-05-10 00:36] alibabe opened #4112 "Migrate to use circleci 2.0"
Currently, build is using circleci 1.0. I will be good to use 2.0 so that more features could be leveraged.
Link: https://circleci.com/docs/2.0/migration/

[2018-05-10 03:52] bakaoh commented on #4081
@gdipri01 --- i've stoped working on this, you may kill the bounty to take back the fund

[2018-05-10 07:30] jmahhh commented on #3972
Hi @leonardoalt I'm not super familiar with the workflow/implementation here but:

- for CVC4 one can use `--tlimit-per` for single queries ...or `--rlimit-per` to use a resource count thus avoiding issues with determinism for multiple runs.
- for Z3 use `set_option(timeout=n)` to set a global timeout. Alternatively solver objects have a local `set` method.

Both in milliseconds.

[2018-05-10 07:33] idotial commented on #3969
My project has this kind of problem, use ContractInstance.method(params) to call other contract will raise a Invalid JSON RPC response error on remix and privatenet of geth. but in ganache it's fine.

[2018-05-10 08:34] axic opened #4113 "Yul: optimisation steps for switch vs. if statements"
I think the code generated for `if` statements is more optimised than their `switch` counterparts, which is expected, so I'd suggest we have an optimiser stage which translates all single-case `switch` statements to `if` statements.

If this is implemented, the code generator should not try to optimise if a `switch` statement has only one case.

[2018-05-10 08:56] carbogninalberto opened #4115 "A Struct which contains Array of Structs can't be initialized"
# Is there anyway to initialized a Struct which contains an Array of Structs?
### Let's suppose we have this contract:

[code]

Now, i can't initialized the Participant[] array inside Challenge.
Using this line when initializing struct
[code]
i get the following error:

A less elegant solution i thought is deleting Participant struct and modify Challenge like this:

[code]

But this _**is not a gr

[2018-05-10 15:45] axic opened #4116 "Enforcing ABI length checks for return data from calls can be breaking"
This was identified independently by @yaronvel (https://gitter.im/ethereum/solidity-dev?at=5af1490f97f07c7e13787516) and @mattdf / @Ivshti / @decanus (https://gist.github.com/decanus/bdc08df5bf73af349333d1a8cae07d23).

To show the problem as a simple example:
[code]

The interface expects the `transfer` function to return a value and as a result `Wallet` compiles. In the current version of Solidit

[2018-05-10 15:51] axic commented on #4116
I wonder though about the expectation.

If it doesn’t return a bool, the old compiler should have taken it as a 0, which means false. I think the real solution is to stop using `require` if you know some tokens are incompatible. The `call` itself will bubble up exceptions so if it fails, the caller will fail too.

[2018-05-10 15:54] Ivshti commented on #4116
Is there a notable case where an ERC20 might return `false` but not throw?

[2018-05-10 15:56] decanus commented on #4116
@Ivshti As far as I know, the older ERC20 contracts returned false. Open Zeppelin I think only changed it recently

[2018-05-10 15:56] Ivshti commented on #4116
OpenZeppelin behaviour in the adex contract is to not return anything, but only throw. Perhaps it returned `false` before that

[2018-05-10 16:51] Arachnid commented on #4116
There's an important distinction between what an interface specifies and what a contract does.

If the interface says it returns `bool` (which ERC20 does), then the implementation *must* return an ABI-encoded boolean if it returns, even if it's always the same value.

The current convention is for ERC20 tokens to `revert` if there's an error and `return true` if there isn't, because this is safest

[2018-05-10 16:53] axic commented on #4116
Apparently the reason this worked in the old compiler is that the output memory area overlapping with the input memory area and since the input contained the function selector, it was never all zeroes, and as a result, never `false`.

[2018-05-10 16:56] mattdf commented on #4116
On @axic's comment, this behaviour is triggered when the child contract ends on a STOP instruction, or when it ends on a RETURN instruction with returnsize of 0, because then the memarea of input is not written to at all, and:

MLOAD (inoffset/outoffset)
ISZERO
ISZERO

Ensures that this always returns true, since the method signature makes the first 32 bytes always nonzero.

This means that contra

[2018-05-10 17:29] DaveAppleton commented on #4116
Anything that copied BAT contracts would do so.
At the time they were taken as pretty safe to copy.

[code]

[2018-05-10 19:31] yaronvel commented on #4116
Just to give some background. This behavior was detected on OMG token. And afaik most existing DEX contract will break (will not be able to trade OMG) once compiled with new version.

I agree it is not a solidity issue, and I am also not sure the compiler should fix anything.
However, this should be brought to the attention of the public, or at least relevant projects.

[2018-05-10 20:20] maurelian opened #4117 "Contradictory warnings about state read restrictions of the `pure` keyword"
VIewed here: http://solidity.readthedocs.io/en/latest/contracts.html#pure-functions

![image](https://user-images.githubusercontent.com/23033765/39892202-cd5dd7e2-546d-11e8-832f-4327822133bd.png)

This suggests that `pure` prevents reading from state.

This suggests that doing so is impossible.

Am I reading that right?

[2018-05-10 20:50] chriseth commented on #4116
Calling a function on a contract that does not return the expected type is a runtime error and should be treated as such. The caller has to decode the data into something. If the returned size is zero, there is no way to create a value out of it and the correct way is to revert.

As a workaround, you can use `--evm-version homestead` to make it still work for faulty contracts, but you will observe

[2018-05-10 20:56] barakman commented on #3529
Another example:

I have a contract with a non-constant function (i.e., changes state) which returns a value.

For testing purposes only, I want to store the output before returning it, which will allow me to test the function via `web3`.

Here is my implementation:
[code]

As you can see, the `store` function is constant in the base class but non-constant in the derived class.

BTW, I could also

[2018-05-11 00:37] iumag opened #4118 "Exponentiation Error “TypeError: Type rational_const”"
I can not get the answer of the expression

`int256 test2 = ((0.0035+1)**120)*(10**18);`

`int256 test2 = ((0.0035+1)**4)*(10**18);`

[2018-05-11 01:49] rayenrejeb opened #4119 "Error encoding arguments"
Hello,
My contract was running well one month ago, and now new errors show up when I want to insert bytes16, bytes32... A new error shows up :
Error encoding arguments: Error: invalid bytes16 value (arg=undefined, type="string", value="Something")
I try to insert the value between " " as I used to do.  But if i try to change type to String it works but with infinite gas estimation which is normal.

[2018-05-11 09:05] decanus commented on #4116
So I did a bit of digging and found that any token using Open Zeppelin between https://github.com/OpenZeppelin/openzeppelin-solidity/commit/52120a8c428de5e34f157b7eaed16d38f3029e66#diff-da41308b41a2748120cc2cfa52b1ea00 and https://github.com/OpenZeppelin/openzeppelin-solidity/commit/6331dd125d8e8429480b2630f49781f3e1ed49cd#diff-da41308b41a2748120cc2cfa52b1ea00 does not conform to ERC20. So the lan

[2018-05-11 10:00] Arachnid commented on #4116
@chriseth Agreed this is a bug in the contracts concerned - but this change in a point-release of Solidity is a breaking change for existing code.

[2018-05-11 10:57] chriseth commented on #3942
@ekpyron can we still make `bytes2(0x0012)` valid?

[2018-05-11 11:00] #4045 closed, assigned to nobody

[2018-05-11 11:15] erak commented on #4119
@rayenrejeb Could you please provide the contract that's breaking for you?

It would be also very helpful to see the JSON-RPC call (if I got that right from your question) that is triggering this behavior.

[2018-05-11 11:21] chriseth commented on #4116
@Arachnid I agree, we should have been more careful there, so sorry about that.

To clarify the `--evm-version homestead` option: This removes that feature, reading of dynamic return data (where the size check is required) and the use of `staticcall` which can be breaking in a similar way.

Also not that the versioning scheme does not distinguish between bugfix releases and feature releases. We on

[2018-05-11 11:24] chriseth commented on #4119
@rayenrejeb this very much looks like a change in testrpc as opposed to solidity. Did you change the compiler version or the version of testrpc?

[2018-05-11 11:53] ekpyron commented on #3942
@chriseth This may be difficult, since I think currently ``0x12`` and ``0x0012`` are not distinguishable in the code, but I can see what I can do.

Unfortunately, in the meantime I noticed that @meowingtwurtle had already started working on #3786 in PR #3899 without me realizing it, so #4091 is a duplicate of #3899.

Also, both #4091 and #3899 combine solving #3786 and this issue and I think it ma

[2018-05-11 13:08] chriseth commented on #4118
The compiler thinks that the first number is not an integer, it has 58 decimal digits after the comma. Is that correct?

[2018-05-11 13:15] iumag commented on #4118
Yes, but is this expression not to be equal to 1520845926296400000?

[2018-05-11 13:55] chriseth commented on #4118
It looks correct to me. The glorified calculator also does not think it is an integer, although it has some weird numbers: https://www.wolframalpha.com/input/?i=((0.0035%2B1)**120)*(10**18)

Why do you think it is integer?

[2018-05-11 14:06] iumag commented on #4118
https://www.wolframalpha.com/input/?i=1.5208459262963889506832058380746608320809993017800259+×+10%5E18&lk=1&rawformassumption="ClashPrefs"+->+%7B"Math"%7D

Decimal form 1520845926296388950.6832058380746608320809993017800259

For this, I multiply by 10 ^ 18 to get the whole part of this expression. Maybe I do not understand something correctly, but if after multiplying by 10 ^ 18 I should not get 1

[2018-05-11 14:31] chriseth commented on #4118
Note the `...` after `259`. The following already seems to be not integer anymore: `((0.0035+1)**14)*(10**18)`

[2018-05-11 14:44] chriseth opened #4121 "Change continue inside do-while"
Reference: https://github.com/ethereum/solidity/pull/4057#discussion_r187600600

`continue` should jump to just prior to the condition.

This is only about do-while, not about the normal while loop.

[2018-05-11 14:48] iumag commented on #4118
How then to carry out such trivial calculations in Solidity?
I think that when multiplying by 10 ^ 18, I should get 1520845926296388950

For example:

[code]

return 1520845926296388950

[2018-05-11 16:07] chriseth commented on #4118
Are you doing that in javascript to cross-check? Javascript only has a limited precision, so the result has to be Integer, because the precision in a is cut off. In Solidity, expressions only involving constant literals have unlimited precision.

[2018-05-11 16:07] chriseth commented on #4118
If you want to force truncation, you can use an explicit type conversion to `int256`: `int256 test2 = int256(((0.0035+1)**120)*(10**18));`

[2018-05-11 16:13] iumag commented on #4118
This method causes UnimplementedFeatureError: Not yet implemented - FixedPointType.

[2018-05-11 16:16] chriseth commented on #4115
We will soon have `challenges.pushEmpty()` or something like that. Until then, please use `challenges.length++;` and then initialize using `Challenge storage c = challenges[challenges.length - 1]; c.name = ...`

[2018-05-11 16:16] #4115 closed, assigned to nobody

[2018-05-11 16:18] chriseth commented on #4117
The first comment is about the EVM, the second is about the compiler. I think we should clarify that the first comment concerns non-circumventable runtime checks done by the EVM itself and the second only concerns compile-time type checks, which can be circumvented.

[2018-05-11 16:20] chriseth commented on #4112
We are using version 2: https://github.com/ethereum/solidity/blob/develop/circle.yml#L32

Please reopen if you think this is not correct.

[2018-05-11 16:20] #4112 closed, assigned to nobody

[2018-05-11 17:14] mudgen opened #4122 "Document costs of various types."
Does it cost any gas to cast a bytes32 memory value to uint256?  What is the assembly op code for this?

Does it cost more gas to use =, >, <. operators with bytes32 than it does with uint256?

Spreadsheets about gas costs say it cost 3 gas for =, >, < operations, so is that true with all types that support those operators?  Or is the gas cost for these operators different depending on the type?

[2018-05-11 17:57] chriseth commented on #4122
In general, `bytes32` and `uint256` are mostly equivalent with regards to gas and I'm actually surprised you got different results. Did you change the function signature somewhere?

[2018-05-11 18:10] mudgen commented on #4122
Yes, my two test functions have different names.

[2018-05-11 18:41] Astrovicis opened #4123 "No struct params for interfaces"
I want to use ABIEncoderV2 to allow a few more params in some of the more involved functions of our smart contract system. We're using interfaces to connect things but (as is documented) we can't use structs in interfaces. In my head this was fine because I assumed I could instead use an abstract contract i.e.

[code]

but when I try to compile this along with its corresponding contract (which doe

[2018-05-11 19:53] maurelian commented on #4117
Thanks. How would one circumvent a compile time check? I suppose that would have to be done by a message call to another contract, otherwise couldn't the compiler verify that no state mutating opcodes are included?

[2018-05-11 21:06] mudgen commented on #4122
From my investigation it seems that there is a gas cost to cast a value if the cast changes the size of the value.

For instance casting bytes32 to uint256 does not cost gas because they are the same size.  I wish there were a list of rules about these things somewhere that was easy to read.

Using an operator such as =,>,< will cost more gas if a cast needs to happen for the operation to occur an

[2018-05-11 22:07] alex-ppg commented on #4103
The problem is not limited to the `emit` keyword. You can use `pragma solidity ^0.4.0` and it will still allow you to use all features of `0.4.24` such as the `constructor()` identifier or a message with the `require` keyword. **A warning definitely needs to be added during compilation**.

[2018-05-12 14:35] REPTILEHAUS opened #4124 "Install Failure : boost::variant does not contain specified type U"
On ubuntu Xenial

[code]

[2018-05-12 21:19] ByKraB opened #4126 "solc: "Assembly exception for bytecode" compilation error if parent contract method called in constructor"
0.4.23

[code]

mac os 10.13.4

Call in terminal `solc ContractName.sol`

[code]

Successful compilation

P.S:
solc-js compiles this code without  problems.
I tested the contract in Remix and it works fine so it is 100% valid code;

[2018-05-14 00:30] hydai commented on #4124
I have the same problem. And I am trying to figure out what is wrong.

Environment:

[code]

[2018-05-14 02:29] hydai commented on #4124
Try to add `-DBOOST_VARIANT_USE_RELAXED_GET_BY_DEFAULT` in compilation stage.

After upgrading to boost 1.59, boost relaxed compile time checks for all the get<reference>(variant_variable) functions.

[2018-05-14 06:51] leonardoalt commented on #3972
Hi @jmahhh
Thanks!
We're using the C++ APIs, so the z3 option is probably easy to set, but CVC4 doesn't have an API option for that, as far as I know.

[2018-05-14 08:28] erak opened #4128 "Improve error messages for implicit type conversions"
`binaryOperatorResult` and `isImplicitlyConvertible` currently only return few error messages.

The purpose of this issue is to collect cases that can be improved.

Two good starting points are: https://ethereum.stackexchange.com/search?q=not+compatible and https://ethereum.stackexchange.com/search?q=not+convertible

---------
Work done so far:

`binaryOperatorResult`

 * [x] For AddressType: "Ari

[2018-05-14 10:08] chriseth commented on #2109
We actually have a check in place in the decoder, so it is easy to add this to 0.5.0. Do we want it?

[2018-05-14 10:10] lastperson commented on #2109
For "too short", I vote "yes".

[2018-05-14 10:11] chriseth commented on #1718
Will close this, it is auto-activated with 0.5.0

[2018-05-14 10:11] #1718 closed, assigned to chriseth

[2018-05-14 10:13] #4124 closed, assigned to nobody

[2018-05-14 10:20] chriseth commented on #2908
This has been fixed.

[2018-05-14 10:20] #2908 closed, assigned to nobody

[2018-05-14 10:22] chriseth commented on #3662
Yes, let's remove them.

[2018-05-14 10:22] chriseth commented on #3662
Hope nobody links to it via a github import...

[2018-05-14 10:41] chriseth commented on #3936
De-prioritizing because labels will be deprecated at least in inline assembly.

[2018-05-14 10:43] chriseth commented on #3409
I would say this can be done as a non-breaking change, since it is a bugfix. Moving to 0.5.1, please revert the change if you think otherwise, @axic.

[2018-05-14 10:59] ekpyron commented on #3942
@chriseth One solution for still allowing ``bytes2(0x0012)`` would be to add a ``Literal const*`` member to ``RationalNumberType``. If the rational is directly parsed from a literal this member would point to that literal, whereas if it is the result of e.g. a binary operation it would be ``nullptr``. This way ``isExplicitlyConvertible`` could analyse the underlying literal in the case of ``bytes2

[2018-05-14 15:43] chriseth commented on #4087
I think it is fine to allow both enums and structs in interfaces.

[2018-05-14 15:43] chriseth commented on #4087
I was never aware of any problem, we just wanted to restrict interfaces as much as possible.

[2018-05-14 15:45] chriseth commented on #4088
The accessor does not return a struct. This is something that has always worked and is just a different thing as returning structs. There are multiple reasons to keep this, although it might be confusing. Please reopen if you think it should be changed and a proposal about how to change it.

[2018-05-14 15:45] #4088 closed, assigned to nobody

[2018-05-14 15:52] chriseth commented on #3982
Sorry for the delay, actually we already had an account for the launchpad ppa. The ubuntu one username is builds-c

[2018-05-14 16:07] come-maiz commented on #3982
Cool. I have just requested the transfer: https://forum.snapcraft.io/t/transfer-solc-to-upstream-ethereum-devs/5429

[2018-05-14 16:57] chriseth commented on #4126
@bit-shift told me that this might have been fixed already in https://github.com/ethereum/solidity/pull/3999 and actually this is very likely because you have a constructor that calls a local function.

[2018-05-14 16:59] chriseth commented on #3493
Result of discussion: Add a warning for hash functions, and do the rest (including call*) with 0.5.0 proper.

[2018-05-14 17:45] chriseth opened #4131 "Payment channel tutorial"
Description is discussed in a pull request: https://github.com/ethereum/solidity/pull/2431#issuecomment-388874669

[2018-05-14 18:51] chriseth commented on #3969
How did you start geth in private mode? Can you get a trace from geth?

[2018-05-14 18:52] chriseth commented on #3529
@barakman sorry, but this just does not work. It is like making functions public for testing purposes.

[2018-05-14 18:54] chriseth commented on #4118
I'm sorry but it seems that you have to do the calculations somewhere else.

[2018-05-14 18:59] chriseth commented on #3942
@ekpyron I'm also not sure about literals. The best way would probably be to require the user to add a suffix to the literal `0x0012b` is `bytes2` and `0x0012` is integer, or use `hex"0012"` in the first place.

Perhaps it would be better to add a warning if a hex literal has leading zeros?

The failed address checksum warning suggestion would have to be changed in that case.

[2018-05-14 19:05] #2628 closed, assigned to ekpyron

[2018-05-14 19:17] chriseth commented on #4123
ABIEncoderV2 does not yet support external functions, so changing it to `public` should work.

[2018-05-14 19:17] chriseth commented on #4123
Please reopen if this did not help.

[2018-05-14 19:17] #4123 closed, assigned to nobody

[2018-05-14 19:19] chriseth commented on #4117
You can circumvent compile-time checks by doing invalid explicit conversions between contract types. The compiler can verify that the type of the contract does not do state-changing operations, but it cannot check that the contract that will be called at runtime is actually of that type.

[2018-05-14 19:20] chriseth commented on #4122
Yes, some guidelines about the costs of various types should be added to the documentation.

[2018-05-14 19:23] chriseth commented on #4103
If you are testing your contracts with version `0.4.24`, you should also use the `^0.4.24` pragma. Furthermore, if you want your contracts to work for `^0.4.0`, then you should read the `0.4.0` documentation and not the latest version of the documentation.

I don't see a problem here apart from the misleading warning @axic mentioned.

[2018-05-14 19:26] chriseth commented on #3402
@axic this is being implemented. Do you agree on the semantics? Should we force data location for every function parameter and return parameter?

[2018-05-14 19:38] chriseth commented on #4126
@ByKraB to check if it is fixed, you can try this binary here: https://12908-40892817-gh.circle-artifacts.com/0/solc

[2018-05-14 19:43] alibabe commented on #3718
@chriseth could you give some more explanation on

[2018-05-14 20:45] chriseth commented on #3982
Transfer worked, thanks a lot!

I just realized that this will bring us arm automation, nice!

[2018-05-14 20:52] chriseth commented on #3942
(hex literal in the previous comment refers to `0x0012`, not to `hex"0011"`. The latter should always be of bytes type.

[2018-05-14 20:52] alex-ppg commented on #4103
@chriseth I believe you have misunderstood. The ***misleading warning*** @axic mentioned does not exist, he theorized how my issue could be solved. The whole purpose (and title) of this issue is the presence of the warning which does not currently exist.

Furthermore, a lot of boilerplate code exists with older `pragma`s and even the default contract shown by the Remix IDE is using `pragma solidit

[2018-05-14 21:01] chriseth commented on #3718
@alibabe it might be related to a different version of the standard library being used at compile time (for the headers) and at link time. It only happens on mac os and only for a release build. I cannot tell much more apart from this, we investigated this bug for a long time but could not find anything.

[2018-05-14 21:12] chriseth commented on #4103
@alex-ppg I think we still have a misunderstanding. `pragma solidity ^0.4.21;` is a statement from the author of the code that this code is supposed to be compiled with the solidity compiler in a version between 0.4.21 and 0.5.0 (exclusive). This probably means that the author uses a feature that was added to the compiler in version 0.4.21. If you use `^`, then you should be pretty safe from your

[2018-05-14 21:24] vs77bb commented on #3968
Hi @asifmallik we see you've created a PR here - are you able to close the loop on the tests @axic has requested? Hope you're doing well!

@chriseth Let me know if you think I'm missing something here 😄

[2018-05-14 22:13] alex-ppg commented on #4103
Since the `^` keyword is used, any compiler above or at that version is deemed correct otherwise it wouldn't compile.

A programming language is supposed to be clear & self explanatory in its keywords. If I see the line below as a programmer:
[code]
I expect whatever follows to compile from version 0.4.0 and on-wards. Since Solidity is a statically-typed language, I find it very ambiguous for code

[2018-05-14 23:15] come-maiz commented on #3982
Awesome, thanks @chriseth.
I've just disabled the launchpad job that was building the develop branch.
Did you go to https://build.snapcraft.io to enable it from the official account?

What's left on my side is to report the issue with the `version-script`. I'll take a look now to see if I can make sense of it, or just forward it to the devs.

[2018-05-15 00:45] alibabe commented on #3718
To clarify more, I got seg fault on all of the files I tested. Does this happen to you as well? Or it only happens on `node_modules/zeppelin-solidity/contracts/math/SafeMath.sol`

[2018-05-15 02:33] ahester57 opened #4134 "On readthedocs, Interface restrictions use ordered list, while Library restrictions use unordered list."
Simply an inconsistency. I believe it would be better practice to be consistent with lists, especially lists in separate sections relating to the same concept.

It would be a simple change and it would prevent people like me from creating issues about inconsistencies in the docs.

https://solidity.readthedocs.io/en/v0.4.21/contracts.html#libraries

[2018-05-15 04:19] come-maiz commented on #3982
solc 0.4.23 is on the candidate channel! After a couple of days, I'll move it to stable. And hopefully now we will be able to move closer to the github releases.
I have no idea what was the problem with the version, but it seems solved now. :man_shrugging:

About arm, we have it working on armhf, but there's a problem with arm64:
https://forum.snapcraft.io/t/solidity-needs-libz3-dev-but-its-not-in

[2018-05-15 05:09] alibabe commented on #3718
Seems not only `--ast` has this issue, this bug happens to `--ast-json` and `--ast-compact-json` for me as well

[2018-05-15 05:12] iumag commented on #4118
[code]

I had to calculate it this way. It turned out almost perfect

[2018-05-15 06:12] idotial commented on #3969
[CustomGenesis.json.txt](https://github.com/ethereum/solidity/files/2003632/CustomGenesis.json.txt)
this is the CustomGenesis.json file i rewrite, i add "ByzantiumBlock": 0. now the function call work fine @chriseth

[2018-05-15 08:32] naddison36 opened #4135 "ABIEncoderV2 nested array of structs support"
I'd like to have a struct that contains an array of other structs and can be set using ABIEncoderV2.

Here's an example where I have a struct `TestStruct` that contains an array of `NestedStruct`'s that is set by the `setTestStruct` function
[code]

This fails with the following compile time error
[code]

Is there a way to make this work?

Thanks
Nick

[2018-05-15 08:39] #4126 closed, assigned to nobody

[2018-05-15 08:50] chriseth commented on #4135
This is not about the ABI encoder, since your `_testStruct` is properly created. There are some memory-to-storage copy loops which are not implemented and which we might even disallow in the future, because they hide gigantic gas usages. The following code should do it:

[code]

[2018-05-15 08:52] chriseth commented on #4135
So you basically have to manually copy arrays of structs. Please reopen if you need further help.

[2018-05-15 08:52] #4135 closed, assigned to nobody

[2018-05-15 08:55] favadi commented on #3982
Thanks a lot @elopio @chriseth.

[2018-05-15 08:55] #3982 closed, assigned to nobody

[2018-05-15 08:56] naddison36 commented on #4135
Beautiful. Thanks @chriseth

[2018-05-15 08:59] chriseth commented on #3718
Yes, the bug is either a linking / compiler configuration problem, a bug in the stdlib of macos or a fundamental problem about how we use ``std::map`` in general.

[2018-05-15 09:01] chriseth commented on #3969
@BlockchainBud @n4ela @artjoma what about you, were you able to resolve it?

[2018-05-15 09:03] chriseth commented on #3982
@elopio z3 is optional, we can try to disable it depending on the platform.

[2018-05-15 09:06] chriseth commented on #4103
OK, I see. So I think this is a misunderstanding about what `pragma solidity` does. You assume (which is probably what it ideally should be) that it configures the compiler into a certain mode, while it actually is much closer to what you would do in C with `#ifdef GNU_VERSION_AT_LEAST_X`. We should clarify that in the documentation. Your desired behaviour would result in far too big complexity in

[2018-05-15 10:50] chriseth opened #4137 "abi.encodePacked should be pure"

[2018-05-15 11:37] ByKraB commented on #4126
@chriseth, binary works fine. thanks for quick answer.

[2018-05-15 12:09] carbogninalberto opened #4140 "Array.push() after delete doesn't work properly [possible bug]"
I have the following code:
[code]
I add Challenge struct to array challenges without problem, then i delete elements with the following lines (where i is the index of the element i want to delete):
[code]
And when i use push() to add a new element at the end with the following lines, the last element has the position of the last element+1. I try in different ways to check whether is a bug or not.

[2018-05-15 12:13] chriseth opened #4141 "SMT: Check that tuple assignments are handled properly."

[2018-05-15 12:15] chriseth commented on #4140
`delete` is equal to assigning a freshly initialized value, i.e. it does not free the slot or change the length when you use it with array elements. Why do you keep a second variable that stores the length instead of just using `challenges.length`? If you do `challenges.length = challenges.length - 1` above, your code could work correctly, because that actually removes the array slot.

[2018-05-15 12:37] carbogninalberto commented on #4140
Thank you for your response.
Now the code is working, i thought that the length of the array was updated automatically. I read documentation, but i missed this detail.
By the way i was storing the length in a second variable to access it directly from web3.js!
I realized now that i could write a simple getter.

[2018-05-15 12:44] #4051 closed, assigned to nobody

[2018-05-15 14:28] chriseth commented on #4140
Glad that this worked!

[2018-05-15 14:28] #4140 closed, assigned to nobody

[2018-05-15 14:30] chriseth commented on #4118
The code you give might provide a different result due to rounding errors.

[2018-05-15 14:59] #4137 closed, assigned to chriseth

[2018-05-15 15:01] chriseth commented on #3825
@axic is this fixed?

[2018-05-15 15:03] chriseth commented on #3676
Please reopen if this is reproducible.

[2018-05-15 15:03] #3676 closed, assigned to nobody

[2018-05-15 15:17] axic commented on #4087
I think it was rather lack of time to properly evaluate the implications and to get a basic version of interfaces out.

[2018-05-15 19:53] vs77bb commented on #4081
@chriseth Closed this one out on Gitcoin!

[2018-05-15 22:33] asifmallik commented on #3968
@vs77bb Sorry, I had been busy in the last couple of days. I am looking into it right now!

[2018-05-16 07:37] #3520 closed, assigned to chriseth

[2018-05-16 07:37] #3669 closed, assigned to nobody

[2018-05-16 12:06] alex-ppg commented on #4103
@chriseth

My desired behaviour can be observed in the following pseudo-code:

[code]

If the `pragma solidity` keyword does not exist within the contract, your compiler already suggests using the current compiler version as the one for it. Additionally, the warning is worded as such:

Further contributing to the fact that the `pragma solidity` keyword with the `^` character denotes "*This smart c

[2018-05-16 12:22] axic commented on #4103
To clarify, based on your last comment, you would like to issue a warning if the compiler used is a version above the required minimum stated by the pragma?

[2018-05-16 12:24] axic commented on #4103
I'm not sure what you mean, but what I described indeed does exists.

[2018-05-16 12:26] axic commented on #4103
I am getting the feeling that what you actually need is a module in the Remix static analyzer (cc @soad003) which suggests the correct minimum version after considering all the language features used in the given snippet.

[2018-05-16 12:38] alex-ppg commented on #4103
Although your wording makes it sound illogical that is correct. The warning simply suggests that there may be incompatibility issues and is a simple workaround to scanning the actual code for features not existent in the minimum version specified by the pragma.

The warning you refer to states "You are using an old compiler". What the warning proposed on this issue will trigger when **you are usin

[2018-05-16 12:47] axic commented on #4103
What I state is that due to the having a parser exception earlier in the process, the compiler is not able to output a proper message explaining an old compiler is used. Please also consider trying out different examples and cases to see what the compile actually does when creating a feature proposal 😉

It actually cannot be implemented in the compiler, because it doesn't offer an option to disabl

[2018-05-16 12:50] axic opened #4149 "Static analyzer to suggest minimum compiler version based on features used"
It would make sense for the Remix static analyzer to suggest the minimum compiler version needed after considering all the language features used in the source code.

It should suggest the proper version pragma or complain in the version pragma present states an earlier version.

cc @soad003

Closes #4103

[2018-05-16 12:53] alex-ppg commented on #4103
I still believe that the following is ambiguous:
[code]
The first line indicates "Use at least version 0.4.0 or above" while the code itself won't compile at 0.4.0.

It seems though that I am either not able to convey my reasoning correctly or my view is not shared and as such I am closing this issue since it has been re-phrased at #4149.

[2018-05-16 12:53] #4103 closed, assigned to nobody

[2018-05-16 12:55] axic commented on #4103
It is a user error to use `^0.4.0` for that given snippet. If there are examples in the documentation which suggest this, then please tell us as they should be fixed. Also do not hesitate to report that to other sources of documentation or tutorials. (Perhaps the default ballot example in Remix has this problem?)

Once implemented, the Remix static analyzer can suggest the user the proper versions

[2018-05-16 12:58] alex-ppg commented on #4103
It is a user error, but so is `uint256 a = -1`. I personally believe that the user should be instructed to use the latest compiler version in the `pragma` keyword. Although there is an error as you said within the above code snippet, it isn't noted anywhere by the compiler so *why* is it an error if the compiler treats it as perfectly fine?

[2018-05-16 13:05] alex-ppg commented on #4103
I believe what I may have misunderstood is that the `pragma` keyword is syntax strictly for the pre-wrapper of the compiler and not for the compiler itself (Converting the code to EVM OPCODEs). In that case I can understand why you label it as a user error but I still believe a warning would be a good addition to the pre-wrapper (Or more suited to the static analyzer as you mentioned).

[2018-05-16 13:25] chriseth commented on #3572
Discussion: let's just start implementing this returning a reference and we can change the name later. Also we should check whether this is a breaking change for contracts that use `using x for y`.

[2018-05-16 13:32] soad003 commented on #4149
@axic Sounds good, can you provide me with a list of features introduced in each compiler version?

[2018-05-16 13:35] #4121 closed, assigned to ekpyron

[2018-05-16 14:09] axic opened #4151 "ABI: include return types in selector (breaking)"
In order to have a stricter commitment to the return types (identified in #4116 as a potential improvement)  it would make sense to include that in the selector, which currently is a keccak256 hash of the function name and the types of its parameters: `name(T1,T2,...)`

The suggestion here is to extend that to include return types: `name(T1,T2,..)->(T1,T2,..)`

If there are no return types, the ha

[2018-05-16 15:41] chriseth commented on #4151
As an alternative, the second hash could be provided in the calldata in addition to the first hash at a location that is usually not looked at by the dispatcher and decoder. One possible location would be after static data and another possible location would be at the end of the calldata.

This option might be problematic if people assume that the payload is `calladat[4:]`.

[2018-05-16 15:41] chriseth commented on #4151
The advantage of the above alternative is that it is fully backwards compatible.

[2018-05-16 15:42] chriseth commented on #4151
If we do a breaking change, we could also consider using a 32 byte hash of the function signature and thus eliminating the possibility for collisions.

[2018-05-16 17:31] kalloc opened #4155 "Internal compiler error during compilation"
Hi.

I got an error on the contract compilation (contract was simplified for viewers)

[code]

Error from console:
[code]

Test system:
[code]

[code]

[2018-05-16 17:31] kalloc commented on #4155
Without `internal` everything is working

[2018-05-16 20:39] axic commented on #4155
Have you tried this with any of the nightly versions on Remix? To me it seems it has been fixed since the release in one of the nightlies.

[2018-05-16 20:58] Astrovicis commented on #4123
This helped. Thank you!

[2018-05-16 21:58] axic opened #4156 "Bad identifier suggestion in certain cases"
In the following:

[code]

instead of `foo` the compiler suggests `now`:

[code]

(This actually is in a test: `SolidityParser/enum_valid_declaration`)

[2018-05-17 05:53] alibabe commented on #3718
This issue seems is a very similar bug: https://github.com/CleverRaven/Cataclysm-DDA/issues/17714
Any insights?

[2018-05-17 07:29] chriseth commented on #3718
From that issue:
[code]
In their case, it is a copy assignment operator, so it could help to manually add move assignment operators for some of our classes, but somehow I have the feeling that if that is really the problem, a compiler update should have been made in the meantime...

[2018-05-17 12:06] axic commented on #3825
No, still happens.

[2018-05-17 12:41] chriseth opened #4159 "Fix appveyor deployment"
Appveyor fails to deploy the binary for a release: https://ci.appveyor.com/project/ethereum-free/solidity/build/1.0.8282

Either change to deploy from VS 2015 or fix the VS 2017 build.

[2018-05-17 13:30] leberknecht commented on #3354
Are there any details on how Remix is doing the estimation? I have this snippet:
[code]
And Remix also reports `getOutstanding` to have infinite gas requirement. While i do understand that this happens when accessing dynamic arrays or when accessing variables with no bounds, i'm struggling with understanding it here.

[2018-05-17 14:27] axic commented on #4149
@soad003 sure, give me a bit of time, I have a collection of these, but need to update them.

[2018-05-17 14:59] 3esmit commented on #4116
What about this case of Bad Token `GavCoin`?
https://etherscan.io/address/0x0b8d56c26d8cf16fe1bddf4967753503d974de06#code

It defines `returns (bool)` at signature but never returns true:
[code]
I think is not the case, but also an example of bad implemented token that fail even before the return lenght check (in case you require token transfer to return true, as in spec)..

[2018-05-17 18:25] kalloc commented on #4155
@axic hi, I didn't found this bug in remix or Linux, My ideas is a bug in clang + solidity.

[2018-05-18 10:08] chriseth commented on #4155
@kalloc can you try the latest version? I'm pretty sure this has been fixed in the meantime.

[2018-05-18 10:27] chfast commented on #3969
Similar issue was reported to me by @rodrijuana who was analyzing LLVM IR output from EVMJIT.

The example contract:
[code]

The LLVM IR:
[code]

The `log0` is not reachable after the `h.f()`.

[2018-05-18 14:21] chriseth commented on #3969
@chfast does the evmjit implement returndatasize and other byzantium features?

[2018-05-18 14:36] chfast commented on #3969
Yes. But that's not in LLVM IR. I believe we should inspect the bytecode for this example.

Also, @Krigpl should have some tests that stopped working in some recent solidity versions.

[2018-05-18 14:48] chriseth commented on #3969
[code]

[2018-05-18 14:49] chriseth commented on #3969
@chfast could also be `extecodesize` but without knowing more about the llvm ir translation or the exact place it fails, this is hard to debug.

[2018-05-19 07:13] ivan-homoliak-sutd commented on #4060
I've got the same issue when accessing external public structs or their members, even though I am using () to invoke getters. To me, it looks that autogenerated getters do not work with structs, which is a pity.

[2018-05-19 14:17] rkbansal commented on #3755
@mudgen what was your bug in the code, as I am also getting the same issue?

[2018-05-20 14:19] nalepae opened #4162 "Gas estimation regression between solc 0.4.21 and solc 0.4.22"
**Which version of Solidity I am using:**
0.4.22, 0.4.23 or 0.4.24.

**What was the source code:**
This contract, coming from [Solidity Read The Doc](https://solidity.readthedocs.io/en/v0.4.24/introduction-to-smart-contracts.html):

[code]

**Platform:**
Remix IDE.

**How to reproduce the issue:**
Use Remix, copy the above contract code.
Select solc 0.4.22, or solc 0.4.23, or solc 0.4.24 and build

[2018-05-20 18:03] ghost opened #4164 "contract function call fail in mainnet but, in testnet, contract function call success"
First, I use remix-ide.

I want to 'ETC contract function' call that send coins to multiple addresses.

And, this code is below.

![jkall](https://user-images.githubusercontent.com/8006373/40282000-3d4dfe3c-5ca3-11e8-8fc5-21a68c930835.png)

I wanted to call 'send_to_N' function.

And, I tested my ETC contract source in testnet.

this function call was success.

But, in mainnet, this function call

[2018-05-20 18:05] torahappy opened #4165 "Type deduction of empty dynamic array"
Solidity version: v0.4.24 (soljson)

Following code cause a compile error:
[code]

Error log:
[code]

[2018-05-20 18:17] torahappy commented on #4165
Solved.
[code]

[2018-05-20 18:17] #4165 closed, assigned to nobody

[2018-05-20 22:22] ronnie173 commented on #2092
So how exactly did you fix this? Can you please post an example? Because I tried everything

[2018-05-21 02:56] alibabe commented on #3718
I tried adding customized move assignment operator and copy assignment operator to `GasConsumption` and `ASTNode` with no luck. However, I am able to fix the issue by assigning the result of `breakToStatementLevel` to a local variable, then assign it back to `gasCosts`.

Let me know if this is enough

[2018-05-21 07:59] artjoma commented on #3969
Reproduced on Solc 0.4.24, Parity 1.10.4-stable.

[2018-05-21 08:12] chriseth commented on #4162
This is weird, I cannot reproduce that with 0.4.24 on remix - did you actually hit "compile"?

[2018-05-21 08:17] chriseth commented on #3969
@artjoma which settings did you use for parity? Is it in byzantium mode?

[2018-05-21 08:18] chriseth commented on #4164
Does ETC support he byzantium opcodes?

[2018-05-21 08:19] chriseth commented on #4164
If not, you have to compile with `--evm-version homestead`

[2018-05-21 08:36] artjoma commented on #3969
@chriseth  POA network
genesis:
[code]

[2018-05-21 08:59] nalepae commented on #4162
Yes, please find below a screencast of all my actions:
https://drive.google.com/file/d/1Q4dSB-v4P88hEAz3A_9ZwAfX1FHZNtcD/view?usp=sharing

 This screencast shows that no warning is present with solc 0.4.21, and warnings are present with solc 0.2.22 & solc 0.4.24.

At the very end of the video, I introduce an error on purpose in the code, to be sure that the 0.4.21 compiler detects the error. Then

[2018-05-21 17:23] csggene3 commented on #3637
I have little applied experience but would like to make an attempt at a practical contribution. I won't "start" on the gitcoin issue page unless given the go ahead here, but I'll begin studying the project and syntax. I thought making small additions like tags might be more plausible than attempting to "fix" small issues, but I'm happy to be told otherwise. thx much. cheers.

[2018-05-21 17:29] davidhq commented on #3637
Actually for now the project should be up to date, can you check? I updated about a week ago, there should not be any missing keywords. Linguist probably hasn’t auto-updated yet, I’ll check in a few hours when I get home.

I plan to bring the project to new sublime syntax engine before trying (others welcome!) any upgrades like for example special coloring of function modifiers. This was impossibl

[2018-05-21 19:03] fulldecent opened #4167 "Note about events is inaccurate"
This note about event logging is inaccurate:

https://solidity.readthedocs.io/en/v0.4.24/contracts.html#events

---

Counterexample: see the event log on this Su Squares transaction:

https://etherscan.io/tx/0x23de16e75c4b8f8d337d229efe8bde2df9622ad2a026c966e633678a987abbf3#eventlog

The `from` and `to` addresses are the values and they are indexed, and it IS possible to retrieve this value as eth

[2018-05-21 19:44] frangio opened #4168 "ABI: Event selectors do not distinguish indexed arguments"
Event selectors are calculated as the hash of the event name and the canonical types of its arguments:

([Source](https://github.com/ethereum/solidity/blob/e97f9b6ba85b5cf5d347f1771524d0b0973e00bb/docs/abi-spec.rst#events))

This means that the "indexedness" of its arguments is not reflected in the selector. Put another way, each event selector maps to many ways of decoding a log, and in general t

[2018-05-21 22:36] peterwilli commented on #1802
@chriseth I've been looking into it today, and I see the problem: `scanHexString` is responsible to converting the Hex token to a normal `StringLiteral`. This makes a lot of sense, since right now the compiler no longer has to take the Hex token into account (it is just a string after scan, after all).

I can tell that there is not much error reporting going on at the Scanner, other than returning

[2018-05-21 22:51] itsN1X commented on #4122
@chriseth , I had to have a few things debriefed:
Like,
 - [ ] : Type of format for `/docs`
e.g., Jekyll, Pandoc, rtm, PDF, html, etc.
 - [ ] : Level of detailing:
e.g.: I'm planning on covering all opcodes, with child --heads on each `/dataType`.
Also, what all are the checkboxes I must tick?

My basic reference is the spresdsheet .[1](https://docs.google.com/spreadsheets/d/1m89CVujrQe5LAFJ8-YAUC

[2018-05-21 23:08] davidhq commented on #3637
I checked, last release 6.1.0 of Linguist was 27 days ago, seems they release every 2-3 months or so. You can see currently referenced commits for all pulled external grammars here: https://github.com/github/linguist/tree/master/vendor/grammars

Since release 6.1.0 this commit was done on SublimeEthereum package: https://github.com/davidhq/SublimeEthereum/commit/114080d4dbf5b51acd9ffd5e12513df3332

[2018-05-22 02:03] come-maiz commented on #3982
The issue with the tagged release was not solved, so I reported this:
https://forum.snapcraft.io/t/some-launchpad-builds-not-setting-the-right-version/5541

I'll check how to remove z3 for arm64 when I have some free time.

[2018-05-22 10:21] chriseth commented on #4122
@itsN1X this was more meant to be a high level description of the tradeoffs of different types with respect to gas, and not a detailed table with costs per opcode (although that could also be beneficial), since users usually do not know how they code is translated into opcodes (and I guess this is also where most confusion with regards to gas comes from).

[2018-05-22 10:22] chriseth commented on #4122
Oh and please don't use the spreadsheet but for example an implementation of a compliant client or the yellowpaper.

[2018-05-22 10:25] chriseth commented on #3637
The first step here would be to create a list of syntax highlighting tools for solidity that are out there, then we should add the new 0.5.0 keywords like `constructor` and `emit` (perhaps others).

[2018-05-22 12:27] davidhq commented on #3637
So in SublimeEthereum these two are already added, for Atom the syntax highlighting is/was auto-generated from SublimeEthereum as well, I have written to the author: https://github.com/caktux/language-ethereum/issues/4 and just now again: https://github.com/caktux/language-ethereum/issues/18

Not sure if this is maintained, maybe you can try contacting him as well so in the future it's more stream

[2018-05-22 13:08] chriseth commented on #3637
The solidty docs do use highlighting. The module is inside docs/utils. If you could replace this with something else, it would be great!

[2018-05-22 14:26] LefterisJP opened #4170 "Why are nightly builds considered to be less than the released version?"
I have a question and I am not sure if it's a bug or if it's intended behaviour.

I have a contract with `pragma solidity ^0.4.23;` on top. I have checked out the v0.4.23 solidity tag:
`commit 124ca40dc525a987a88176c6e5170978e82fa290 (HEAD, tag: v0.4.23, upstream/release, upstream/pr/3954`, compiled it and end up with a solc of version `Version: 0.4.23-develop.2018.5.15+commit.124ca40d.Linux.g++`.

[2018-05-22 14:44] LefterisJP commented on #4170
I know you can add `prelease.txt` as per [this](https://github.com/ethereum/solidity/blob/develop/cmake/scripts/buildinfo.cmake#L24) script here, but I still don't see what's the point.

[2018-05-22 16:21] ondratra commented on #2633
It's not an issue of only `interface`. `contract` is working neither.
[code]

[2018-05-22 17:17] naitsirhc007 opened #4174 "When total translate English to Spanish"
In the Web solidity, in Spanish is translated just to half.

https://eleanarey.github.io/solidity-en-español/index.html#document-index

[2018-05-23 08:39] ngutman commented on #4116
Another "high-profile" non ERC20 compatible token is [OMG](https://etherscan.io/address/0xd26114cd6EE289AccF82350c8d8487fedB8A0C07#code) for example.

[code]

This is highly problematic for DEXes, as soon as they redeploy their contracts with solidity > 0.4.24 such tokens won't be usable on the platform.

[2018-05-23 09:27] chfast commented on #3969
@chriseth The problem is not about LLVM. I believe it was just easier to see the problem in LLVM IR. Let's forget about LLVM IR for a moment.

Have you found anything in the EVM bytecode?

[2018-05-23 13:45] veox commented on #3637
I see the docs use Sphinx; it could use the [`pygments-lexer-solidity` package](https://pypi.org/project/pygments-lexer-solidity/). Will submit PR.

[2018-05-23 14:40] kalloc commented on #4155
@chriseth I don't have the problem on 0.4.24

[2018-05-23 14:46] jarlab-dev commented on #3969
Hi, exactly:
- llvm IR dump from ethvm allowed to observe the issue (On the llvm IR logged above: after the BB where is the @call, any of the two paths - .294 or .303 -  goes to exit -1)
- but running ethvm in legacy mode also throws exception, so unless i'm missing some configuration,  it should not be only issue of evmjit.

[2018-05-23 14:51] #4155 closed, assigned to nobody

[2018-05-23 15:10] chriseth commented on #3969
@artjoma this looks like you are running parity in frontier mode.

@chfast @rodrijuana I don't speak LLVM fluently, but my guess is that `returndatasize` and other byzantium opcodes are just interpreted as illegal instructions by the translation tool. We have a check after the call to `h.f()` and before decoding the return data that `returndatasize() >= 0x20` when solidity is set to byzantium mode

[2018-05-23 15:39] chriseth commented on #4174
Here is a full translation but it is out of date: https://solidity-es.readthedocs.io/es/latest/

We cannot answer your question, unfortunately, it is a community effort.

[2018-05-23 15:39] #4174 closed, assigned to nobody

[2018-05-23 15:51] chriseth opened #4182 "Think about how to optimize call(abi.encode(...))"
`call(abi.encode(...))` encodes twiced and also allocates memory twice, which might be optimized. The same is true for `sha256` and others.

[2018-05-23 19:42] jarlab-dev commented on #3969
@chriseth thats exactly what I was missing. Using
```ethvm --network Byzantium ...```
solves the issue with LLVM - all working OK for my test

[2018-05-23 20:06] axic commented on #4167
The values of the indexed arguments are hashed together IIRC, hence it is possible to find logs for specific values, but should not be possible to extract the values from the logs themselves.

[2018-05-23 23:04] chriseth opened #4184 "Stray `(B` in CI test output"
On circle, there are stray symbols at the end of a line, probably connected to the colour output:

`Running commandline tests...(B`

[2018-05-23 23:07] chriseth commented on #4170
The tags are not meant to be used for building. Citing the [release page](https://github.com/ethereum/solidity/releases/tag/v0.4.24):
[code]

So is this issue about how to build your own version or is it about the order of the version strings?

[2018-05-23 23:33] axic opened #4185 "Assembly: assignment symbol can have whitespace"
The following is accepted without warnings:

[code]

I think it would make sense requiring no whitespace to be between `:` and `=`.

The same happens with stack assignments:
[code]

[2018-05-24 00:03] axic commented on #4116
@3esmit it implicitly returns `false`, which I would categorise as a programmer's error. One could argue this implicit behaviour isn't the best. For that there are proposals to change it and I would rather discuss that separately.

As mentioned by @chriseth, it is still possible to compile contracts with non-byzantium mode to remove the length check. I've raised issues at truffle (https://github.c

[2018-05-24 00:16] axic commented on #1802
I think we may better off introducing `HexStringLiteral` leaving the hex nibble processing to further layers. In that case we could issue nice errors in the `SyntaxChecker`.

[2018-05-24 02:21] sledrho opened #4186 "Update IdentifierList Grammar Rule"
The current grammar defines **IdentifierLists** as being

This in theory requires **IdentifierLists** to retain the trailing comma.

(identifier1,identifier2,)

But it also allows **IdentifierLists** to contain only separation comma's and not identifiers, something the solidity compiler (Version 0.4.24) errors on.

      (test1,,,);
      ^--------^

Therefore should the grammar not be altered to

[2018-05-24 04:39] kaumohit opened #4187 "Clarify about the use of view keyword"
Function of a simple smart contract
function get() public view returns (uint) {
        return storedData;
    }
the need and functionality of the keyword view is not mentioned.

[2018-05-24 05:24] kkagill opened #4188 "Documentation: Move `bytes` and `strings` out of "value types" section"
`bytes` and `strings` are not value types, so they should not appear in the value types section in the documentation.

---

So in the official [doc](http://solidity.readthedocs.io/en/develop/types.html#dynamically-sized-byte-array), it says

bytes: Dynamically-sized byte array, see Arrays. Not a value-type!

string: Dynamically-sized UTF-8-encoded string, see Arrays. Not a value-type!

If they are

[2018-05-24 06:50] artjoma commented on #3969
@chriseth it's my private network. But anyway this is a core functionality - calling the function from another smart contract and it does not depend on what kind of network used.

[2018-05-24 09:58] aj07 opened #4189 "Need an explanation there"
There is need an explanation why we are doing 16 elements "Access to the stack is limited to the top end in the following way: It is possible to copy one of the topmost 16 elements to the top of the stack or swap the topmost element with one of the 16 elements below it."

[2018-05-24 10:18] axic commented on #4187
It is described in multiple places in the documentation, one of them is https://solidity.readthedocs.io/en/v0.4.24/miscellaneous.html?highlight=view#modifiers

[2018-05-24 10:18] #4187 closed, assigned to nobody

[2018-05-24 10:20] axic commented on #4186
It is still accepted, but you have to have it as a left value (e.g. what `IdentifierList` describes):
[code]

[2018-05-24 10:22] axic commented on #2092
Just follow what the compiler suggests - it also suggests you the correctly encoded address. Note: the distinction between lower and uppercase letters matters.

[2018-05-24 11:39] LefterisJP commented on #4170
The order version of the strings. I would argue that this should not be the case.

[2018-05-24 12:44] raphaelhuefner commented on #3637
I'll hold off on the `/docs/utils/SolidityLexer.py` part until https://github.com/ethereum/solidity/pull/4180 is decided either way. I'll do the Remix highlighter first.

[2018-05-24 22:33] peterwilli commented on #1802
@axic Thanks, I think that makes makes the most sense. It seems to be the closest to option 2. If no objections are made I'll experiment with that :)

[2018-05-25 01:59] fulldecent commented on #4167
Please see counter example above.

https://github.com/ethereum/solidity/issues/4167#issuecomment-391479016

It is possible that EtherScan is using black magic to get the values (e.g. decompiling the program trace and/or running a non-standard log3 implementation that saves all the values).

I need to find a definitive answer on this for ERC-721 standardization. Other ERCs will surely have an inter

[2018-05-25 13:04] peterwilli commented on #1802
Progress is posted here: https://github.com/peterwilli/solidity/tree/feature/improved-error-reporting

[2018-05-25 16:15] axic commented on #597
This came up again as a discussion with @federicobond and I think a good middle ground could be to have an annotation (as proposed in https://github.com/ethereum/solidity/issues/597#issuecomment-221611370), but instead of marking a storage slot, it would rather have a string literal as a key, which is hashed to produce a 256-bit key for storage.

This would be more expensive (due to the fact of us

[2018-05-25 16:19] pipermerriam commented on #597
@axic

1. I like the hashed key approach
2. reasoning for not allowing specific slot to be specified?  foot gun?

[2018-05-25 16:23] itsN1X commented on #4122
@gitcoinbot Yep, still here! `W-I-P`.

[2018-05-25 16:30] axic commented on #3401
I think this is now covered in #3402.

@chriseth can we close this?

[2018-05-25 19:04] aas312 opened #4190 "External function call not working in 0.4.22, 0.4.23, 0.4.24, 0.25"
Steps to reproduce in Quorum
1. Clone https://github.com/jpmorganchase/quorum-examples/tree/master/examples/7nodes.
2../raft-init.sh
3../raft-start.sh
4. Used truffle to deploy the contracts.. truffle version 4.1.11

2_deploy_contract.js
[code]
Expected: Consumer.getInfo must return 42.
Observed: Consumer.getInfo returns 0.

However, if I used 0.4.21 this works.

[code]

[2018-05-25 19:23] iCodeSometime commented on #2681
@codingthat, @NachoPal according to the pull request, the language was added under the .solidity extension. Changing your gist to that extension should give you highlighting. In a repo, you can keep using the .sol extension and add the extension to your .gitattributes.

edit: Actually that's not working for me. no idea.

edit2: Apparently they removed the extension right before merging. Only gitat

[2018-05-25 20:09] amiranagram commented on #3739
Hi, I have the same issue. Anyone found a solution to this?

[2018-05-26 08:35] weberV commented on #3750
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.16 ETH (110.74 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/ethereum/solidity/3750/216).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='

[2018-05-26 08:38] weberV commented on #3972
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 150.0 DAI (150.0 USD @ $1.0/DAI) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/ethereum/solidity/3972/315).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='ht

[2018-05-26 08:38] weberV commented on #3965
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 130.001 DAI (130.0 USD @ $1.0/DAI) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/ethereum/solidity/3965/316).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='

[2018-05-26 08:38] weberV commented on #3934
Issue Status: 1. Open 2. Started 3. **Submitted** 4. Done

<hr>

__This issue now has a funding of 50.0 DAI (50.0 USD @ $1.0/DAI) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/ethereum/solidity/3934/317).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='http

[2018-05-26 08:38] weberV commented on #3402
Issue Status: 1. Open 2. Started 3. **Submitted** 4. Done

<hr>

__This issue now has a funding of 250.0 DAI (250.0 USD @ $1.0/DAI) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/ethereum/solidity/3402/318).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='ht

[2018-05-26 08:38] weberV commented on #3718
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 200.001 DAI (200.0 USD @ $1.0/DAI) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/ethereum/solidity/3718/342).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='

[2018-05-26 08:38] weberV commented on #3968
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 75.0 DAI (75.0 USD @ $1.0/DAI) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/ethereum/solidity/3968/343).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='http

[2018-05-26 08:39] weberV commented on #3764
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 45.0 DAI (45.0 USD @ $1.0/DAI) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/ethereum/solidity/3764/344).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='http

[2018-05-26 08:39] weberV commented on #2245
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 100.0 DAI (100.0 USD @ $1.0/DAI) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/ethereum/solidity/2245/345).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='ht

[2018-05-26 08:40] weberV commented on #4081
Issue Status: 1. Open 2. **Cancelled**

<hr>

__This issue now has a funding of 60.0 DAI (60.0 USD @ $1.0/DAI) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/ethereum/solidity/4081/387).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slac

[2018-05-26 08:40] weberV commented on #4045
Issue Status: 1. Open 2. Started 3. **Submitted** 4. Done

<hr>

__This issue now has a funding of 60.0 DAI (60.0 USD @ $1.0/DAI) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/ethereum/solidity/4045/388).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='http

[2018-05-26 10:39] ralph-pichler commented on #4167
Afaik you can retrieve them as long as the data type fits into one word. In that case the topic in the log is the value itself. For values which can be larger the hash is used as the topic (and thus the data itself isn't actually contained in the log).

[2018-05-26 13:12] raky35 opened #4191 "Nice to have - sorry it is not issue"
Hi Team,
it is good to have function which converts "wei" to ether-   Any values are stored in mapping as "wei"  it needs conversion for comparison i.e ether and wei.

i did not find any function which converts "ether" to "wei" rather than custom logic of. (10**18) .

Cheers
rakesh

[2018-05-26 20:22] ricmoo commented on #4021
I would like a lot more documentation on the source map. In https://github.com/ethereum/solidity/issues/3741 you mention it is based on "sections" but in the given example, how do you map section 0 to the relevant opcodes?

The documentation at https://solidity.readthedocs.io/en/develop/miscellaneous.html#source-mappings is quite limited and does not explain how to use the "f" field, especially si

[2018-05-26 23:21] vs77bb commented on #3718
@chriseth @alibabe Please ignore the notice from @weberV, it's a bug on our side we're actively tracking! Apologies for the inconvenience.

[2018-05-27 00:20] jvmaia commented on #4117
This issue is just about improve that warnings in the documentation, right?

[2018-05-27 13:36] vs77bb commented on #3961
@biboran Opening an issue and now working to close it. Love it! Please let us know if/when you need guidance 😄@chriseth

[2018-05-27 14:45] axic commented on #4170
As stated by the message, pre-releases (nightlies) are strictly less than the release.

The reason for that is `^0.4.23` would mean it requires all the feature from 0.4.23 and one cannot be sure all of those are present in every or any nightly leading up to 0.4.23 after 0.4.22.

The way to force version to nightlies between 0.4.22 and 0.4.23 is `pragma solidity >0.4.22 <0.4.23` - though this is no

[2018-05-28 04:02] #3591 closed, assigned to nobody

[2018-05-28 06:53] tecoLai commented on #3969
Have the same issue in private net by use Geth.
I have two contracts
**First contract**
[code]
**Second contract**
[code]
**Reproduce**

Deploy both contracts
Call Two->getValue() ( solidity 0.4.22 return false )
Call Two->getValue() ( solidity 0.4.21 return true )

**Geth Settings**

geth --syncmode fast --cache=1024 --identity "privateNetwork" --datadir "$DATADIR" --networkid 15 --rpc --rpcapi m

[2018-05-28 08:07] LefterisJP commented on #4170
@axic My issue is with checking out v0.4.23 git tag, building it and getting this error when compiling a contract that has a 0.4.23 pragma.

[2018-05-28 10:17] ghost opened #4197 "What is the proper way to verify a string has no invalid UTF-8 characters."
I want to verify that a string only contains valid utf-8. according to [here](https://github.com/ethereum/web3.js/issues/1610) solidity accepts invalid UTF-8 chars by default.

[2018-05-28 10:55] chriseth commented on #1210
Still needs to be verified.

[2018-05-28 13:26] codingthat commented on #2681
An example gist (with .solidity) in case this ever gets implemented: https://gist.github.com/codingthat/4286f86fe946a49829b3897499defc1e

[2018-05-28 13:32] holiman commented on #4116
@axic regarding that poc snippet. If someone embeds that into a contract, and calls it internally. So that method `foo` calls `safeTransfer`.

Won't that become a `JUMP` instead of a `CALL` internally? And if so, is there a possible corruption happening since you're writing to memory location `0` instead of what solidity designates the 'free memory' area ('0x60` onwards or whatever it is?)

[2018-05-28 13:33] chriseth commented on #1210
The index is at the top, but it worked!

[2018-05-28 13:43] axic commented on #4116
Yes it would be a `JUMP`. Memory location 0 is designated as a "scratch area" used by hashing functions, so it is safe to use. It will be overwritten by the next use of `KECCAK256`.

Also the free memory area starts now at `0x80`, but better to rely on the actual pointer in `0x40`.

[2018-05-28 13:50] axic commented on #4116
For long term compatibility it may be better to use the free memory pointer, just not update it in the function.

[2018-05-28 14:13] #4117 closed, assigned to nobody

[2018-05-28 15:34] chriseth commented on #4197
Thanks for opening this issue, but this question is better asked at https://ethereum.stackexchange.com - you will get faster and better replies there.

[2018-05-28 15:34] #4197 closed, assigned to nobody

[2018-05-28 15:36] chriseth commented on #4191
Thanks for the input, but to be a proper feature request, this requires a little more detail. You can use `x / 1 ether` to convert wei to ether, but I don't see a real good reason to do this, as it loses precision.

[2018-05-28 15:36] #4191 closed, assigned to nobody

[2018-05-28 15:45] chriseth commented on #4021
You only get `f=1` if you use multiple source files. You might have to use internal functions from libraries in other source files or inherit from contracts in other source files to get a larger `f`.

[2018-05-28 15:51] chriseth commented on #4189
Still, you can only access the 16 topmost stack elements unless you move them somewhere else. Where do you think this explanation is needed?

[2018-05-28 17:26] peterwilli commented on #1802
@gitcoinbot I'm still working on it, just busy right now :)

[2018-05-28 17:48] chriseth commented on #4190
Please give a bit more information. Which EVM version and environment are you running this against? Does `getInfo` really return `0` or does it revert?

[2018-05-28 17:50] chriseth commented on #3739
Yes, please either use a newer compiler or do not use the `emit` pseudo-keyword.

[2018-05-28 17:50] chriseth commented on #3739
Ah wait, this is something else. Can you post your code? If you use `emit(...)`, it should be fine. If there is a space after `emit`, it might not work.

[2018-05-28 18:07] rofiqgilang commented on #3972
for CVC4 one can use --tlimit-per for single queries ...or --rlimit-per to use a resource count thus avoiding issues with determinism for multiple runs.
for Z3 use set_option(timeout=n) to set a global timeout. Alternatively solver objects have a local set method.

[2018-05-28 19:59] #3401 closed, assigned to nobody

[2018-05-28 20:01] chriseth commented on #4186
`IdentifierList` will be removed from the grammar with 0.5.0, because we remove `var`.

[2018-05-28 20:06] #3934 closed, assigned to nobody

[2018-05-28 20:25] chriseth commented on #597
I really don't think solidity should have such low-level impact on the storage location. If you want to dislocate storage variables, why not use structs or a mapping to structs?

[2018-05-28 20:32] chriseth commented on #3354
@leberknecht the gas requirements are reported as constant for me. Are you using a recent compiler? We fixed a bug in this place at some point.

[2018-05-28 20:44] chriseth commented on #4162
It still does not happen for me. Could you please click the "details" button next to the contract name to verify the compiler version and the gas estimates in order to rule out a problem that remix actually uses a different version of the compiler under the hood?

[2018-05-28 20:58] chriseth commented on #3972
@rofiqgilang note that you cannot use commandline options here, since we use the C / C++ interface to the solvers.

[2018-05-29 04:53] alibabe commented on #3718
Still WIP. Also updated the pull request.

[2018-05-29 08:00] MoMannn opened #4199 "Base constructor arguments given twice - how to properly solve this?"
So I have a situation like this:

    contract standard {
        constructor(string name)
        {
            //does something with the name
        }
    }
Then I have an extension:

    contract extension1 is standard {
        constructor(string name)
         standard(name)
        {
            //sets some stuff
        }
    }

and another extension:

    contract extension2 is standard {

[2018-05-29 08:14] chriseth commented on #4199
Are you at liberty to share more information about your specific use-case? This problem is tricky because `extension1` and `extension2` could use two different strings and then the compiler does not know which one to use for `standard`.

[2018-05-29 08:17] MoMannn commented on #4199
@chriseth  Lets just say for the sake of this that constructor just adds its EIP165 interface and there is no clash in changing the same variable.

[2018-05-29 08:24] leberknecht commented on #3354
Hm, i'm getting this on remix webinterface with compiler version `0.4.24+commit.e67f0147`
![image](https://user-images.githubusercontent.com/1165177/40646769-79128f22-632a-11e8-9e31-72ad715fb44e.png)

[2018-05-29 11:58] chriseth commented on #4199
Perhaps something like this works for you:
[code]

[2018-05-29 12:00] xpepermint commented on #4199
The problem is that `Final` can also be `B` and `C` who (should) also call the `A` constructor.
@chriseth is this something that `pragma experimental "v0.5.0";` would solve?

[2018-05-29 17:40] aas312 commented on #4190
How do I get the EVM version?  I am using Ubuntu 16.04 LTS.

[2018-05-29 21:45] wjmelements commented on #10
What I want out of this feature is C-PreProcessor-style macros, and also compiler support to output a flattened file. The `import` logic would also live inside of this preprocessor.

[2018-05-29 22:02] BrendanChou commented on #4116
Created my own version of safe `transfer / transferFrom / approve`. @axic is there more information about the memory locations somewhere? `0x0` and `0x40` and other important ones?

My implementation:
https://gist.github.com/BrendanChou/88a2eeb80947ff00bcf58ffdafeaeb61

[2018-05-29 23:34] wjmelements commented on #4188
https://github.com/ethereum/solidity/pull/4201

[2018-05-29 23:46] wjmelements commented on #4162
I also cannot reproduce with solc 0.4.23 or in remix 0.4.22/0.4.23/0.4.24.

[code]

[2018-05-29 23:58] wjmelements commented on #4134
https://github.com/ethereum/solidity/pull/4202

[2018-05-30 06:13] axic opened #4203 "Remove suicide/sha3 aliases"
Similar to #3003.

I think two years having `selfdestruct` (and `suicide` being deprecated) should have been enough time to stop using it.

[2018-05-30 10:37] chriseth commented on #4190
@aas312 this depends on a lot of factors. When you say "Deploy InfoFeed contract" - what exactly are you doing? Which blockchain are you using and how do you run it?

[2018-05-30 10:38] chriseth commented on #10
@wjmelements input files should not be flattened and not all ways to compile a contract system can be done on a flattened file. preprocessor style macros are also very hard to check, I would not support implementing them as part of the compiler.

[2018-05-30 10:40] chriseth commented on #4116
https://solidity.readthedocs.io/en/v0.4.24/miscellaneous.html#layout-in-memory

[2018-05-30 10:41] chriseth commented on #4188
@wjmelements you do not need to cross-reference pull requests, github does that automatically (see above).

[2018-05-30 10:51] chriseth commented on #4199
@xpepermint That's why I'm asking for actual real-world examples. Real-world examples are the only way we can come up with proper language design.

[2018-05-30 14:35] axic commented on #4203
I think we had an issue for this, but couldn't find it.

There the consensus was it may be bad idea because malicious libraries could specify it, I may not fully share that, because that would mean we are keeping legacy indefinitely and most of these things should be tested before deploying a contract.

However, a middle ground could be turning the "deprecated" warnings into errors for the above t

[2018-05-30 14:36] AlexeyAkhunov commented on #3955
Hi guys! I have noticed that there is a difference between versions 0.4.23 and 0.4.24 in how code for keccak256(abi.encodePacked(...)) is generated. In version 0.4.23, the memory segment which is result of abi.encodePacked is passed directly to keccak256, but in 0.4.24, an extra loop is generated, to create another copy of the same byte string in memory, before passing it to keccak256(). Both beha

[2018-05-30 15:02] chriseth commented on #3955
@AlexeyAkhunov are you sure this is really the case or are you comparing `sha3(x)` to `sha3(abi.encodePacked(x))`? This will be optimized for 0.5.0, but we can only do it with a breaking change, I think.

[2018-05-30 15:20] #3696 closed, assigned to leonardoalt

[2018-05-30 15:23] chriseth commented on #4087
We should also allow structs.

[2018-05-30 15:36] AlexeyAkhunov commented on #3955
@chriseth This was specifically the line I was looking at: https://github.com/gnosis/safe-contracts/blob/76b70e83151530fa5d72d45f937abed8294be01a/contracts/GnosisSafePersonalEdition.sol#L152

I tried to do "solc --asm" (without optimiser) with 0.4.23 and 0.4.24, and there was an extra loop generated with 0.4.24. I will double-check again

[2018-05-30 15:54] AlexeyAkhunov commented on #3955
@chriseth I am going to make a very small 1-line example and confirm if it occurs there

[2018-05-30 16:06] AlexeyAkhunov commented on #3955
@chriseth I made a small example, and the loop is generated in both versions. I must have missed it somehow the first time. Sorry for trouble

[2018-05-30 16:18] AlexeyAkhunov commented on #3955
@chriseth I was indeed looking at the version which did not have abi.encodePacked() function earlier. Mystery is solved

[2018-05-30 16:28] vs77bb commented on #3637
Hi @raphaelhuefner are you waiting for guidance here from @chriseth or is this in progress?

[2018-05-30 16:32] #2780 closed, assigned to erak

[2018-05-30 16:35] #3811 closed, assigned to leonardoalt

[2018-05-30 16:49] chriseth commented on #4203
Yep, let's at least make them errors.

[2018-05-30 16:51] #3210 closed, assigned to leonardoalt

[2018-05-30 18:21] fulldecent commented on #4199
@xpepermint @MoMannn The goal of the discussion here is to describe is to describe the new desired behavior, make a test case and get it into here -> Ping: https://github.com/ethereum/solidity/pull/3729

Disclosure, the three of us work together.

---

Current test case:

[code]

Error is:

I agree with the compiler in this case. It is not reasonable for the compiler to evaluate that extension1 an

[2018-05-30 20:37] MoMannn commented on #4199
I posted the same problem to reddit ethdev and didn't get a good solution either.

So what I decided to do is to delegate the responsibility of setting the name to the implementation. So that the base contract (standard) constructor doesn't have any input parameters.

This way everything works without warnings. The downside is that the setting of a variable is not enforced by code and any variable

[2018-05-30 22:03] jvmaia commented on #4131
Is there anyone on this issue? Can I take it?

[2018-05-30 22:10] hcaw opened #4209 "Since 0.4.22, when calling a function which is expected to have a return value but doesn't, the transaction will fail"
[code]
When calling `MainContract.someFunction()`, using the address of `ActualContract` instead of `ExpectedContract`, the transaction will fail.
The transaction will be succesful when MainContract is compiled with 0.4.21, but not with 0.4.22.
I have tested this on mainnet today.

I discovered this issue when calling the `transfer` function of ERC20 tokens from another contract, as the expected i

[2018-05-31 02:04] BrendanChou commented on #4209
Duplicate #4116

[2018-05-31 03:14] vs77bb commented on #4131
@jvmaia Looks open thus far on Gitcoin. [Can you click 'Start Work' there](https://gitcoin.co/issue/ethereum/solidity/4131/521) to claim?

[2018-05-31 03:16] vs77bb commented on #1802
Thanks for the response, @peterwilli!

[2018-05-31 03:31] jvmaia commented on #4131
Yep, i'm just writing some planning to start the work.

[2018-05-31 06:53] jvmaia commented on #4131
first chapter done, writing the second.

[2018-05-31 07:38] kronosapiens opened #4211 "Update "Safe Remote Payments" example with non-truncating division"
The "Safe Remote Payments" example in the solidity tutorial (https://github.com/ethereum/solidity/blob/v0.4.24/docs/solidity-by-example.rst) assumes truncating division.

As division is no longer truncating, this example should probably be updated.

[2018-05-31 10:09] #4209 closed, assigned to nobody

[2018-05-31 10:14] chriseth commented on #4211
Why do you think division is no longer truncating?

[2018-05-31 10:20] kronosapiens commented on #4211
I was referring to the note here: http://solidity.readthedocs.io/en/v0.4.24/types.html#rational-and-integer-literals

[code]

I was confusing the handling of integer literals with `uint`-valued variables. It's a non-issue.

[2018-05-31 10:20] #4211 closed, assigned to nobody

[2018-05-31 10:21] raphaelhuefner commented on #3637
Hi @vs77bb this is still in progress, sorry for not getting back to you earlier!

[2018-06-01 07:58] lukas-berlin commented on #4116
This issue is now 22 days old and I see no response in the community. This is a critical issue for the affected contracts. When users send their BadToken to any contract (DEX, DutchEx, ... ) compiled after solc 0.4.22  the token will most likely be stuck on such contracts
I did write an email to OMG. I think there should be a bigger outcry. These tokens may need to be forked, or the need to implem

[2018-06-01 08:06] holiman commented on #4116
Well, Chris posted this a couple of days ago: https://medium.com/@chris_77367/explaining-unexpected-reverts-starting-with-solidity-0-4-22-3ada6e82308c

[2018-06-01 14:11] aas312 commented on #4190
@chriseth I am using Parity v1.10.1. I setup my parity network using https://github.com/folsen/parity-poa-playground.  When I say deploy I am clicking on the Deploy button in the Contract (Click Settings and check the Contract checkbox) tab in the Parity wallet.
getInfo is returning 0.

[2018-06-01 16:32] lukas-berlin commented on #4116
I compiled a list of affected contracts from the tokens listed on etherdelta. 130/913 tokens are affected.
https://gist.github.com/lukas-berlin/f587086f139df93d22987049f3d8ebd2

[2018-06-01 19:22] rofiqgilang commented on #3972
okay

[2018-06-01 20:43] nalepae commented on #4162
**_In remix, with **solc** 0.4.21 :_**
(The same with **solc** 0.4.22 in the next message)

**NAME**
`SimpleStorage`

**METADATA**
[code]

**BYTECODE**
[code]

***ABI***
[code]

***WEB3DEPLOY***
[code]

***METADATAHASH***
`d954bab18d27cbefa1ab7ca8b16ee9fb541949b0bc93372109399188bc5bfe61`

***SWARMLOCATION***
`"bzzr://d954bab18d27cbefa1ab7ca8b16ee9fb541949b0bc93372109399188bc5bfe61"`

***FUNCTIONHA

[2018-06-01 20:51] nalepae commented on #4162
**_In remix, with **solc** 0.4.22 :_**
(The same with **solc** 0.4.21 in the previous message)

**NAME**
`SimpleStorage`

**METADATA**
[code]

**BYTECODE**
[code]

***ABI***
[code]

***WEB3DEPLOY***
[code]

***METADATAHASH***
`f91e4c2179a01b47ec6e43fa4514b7ed1b76627488225be73ee3dce5744a579b`

***SWARMLOCATION***
`bzzr://f91e4c2179a01b47ec6e43fa4514b7ed1b76627488225be73ee3dce5744a579b`

***FUNCTION

[2018-06-03 08:53] rofiqgilang commented on #3972
[code]

[2018-06-03 15:37] tsuberim opened #4218 "Support splitting computation across multiple transactions for (seemingly) infinite gas limit."
The blockchain does not allow us to execute transactions beyond the bound of the block gas limit. This leads to various hacks and methods that mitigate the problem but require much work.
Can we split a heavy computation across many transactions to get truly unbounded execution? That way the programmer does not need to specify various locks and methods to overcome this challenge.

Potential issues:

[2018-06-03 16:00] VoR0220 commented on #4218
You might want to look at some scalability solutions elsewhere. Check out:

truebit.io
state channels
and OMG's Plasma MVP

As it stands I'm not sure this issue belongs here? Possibly better to plop this in the EIP repo.

[2018-06-03 16:08] tsuberim commented on #4218
I'm not looking to solve the blockchain scalability problem, just to make the existing technology a little better. Seems to me that it's a compiler feature and probably belongs in the solidity repo.

[2018-06-04 10:44] XertroV opened #4220 "Empty binary w/ no error produced when compiling contracts inheriting interfaces that almost match"
Example:

Try compiling this to get the `Test` binary:

[code]

Even though the function signature doesn't match, no error is produced.

Personally (having more than one complex contract I'm working on atm) I've probably spent about half a day total tracking these bugs down. The most efficient method I've found is commenting out half the interface to determine which incorrect function signature is

[2018-06-04 10:50] axic commented on #4220
There is no error message because contracts ha be implicitly abstract by not declaring all symbols. Since `getThing(bytes13)` is not declared, but due to overloading `getThing(bytes32)` can coexist with it, `Test` turns into an abstract contract.

Issue #649 tracks a feature request to require explicit declaration for abstract contracts. I'm closing this now, please comment there.

[2018-06-04 10:50] #4220 closed, assigned to nobody

[2018-06-04 11:00] chriseth commented on #4218
This is very useful, but I fear that the complications it introduces do not make up for its usefulness. Certainly, we should only allow computations to be broken up at very clear points where the stack is (almost) empty, and this should be a very explicit feature.

[2018-06-04 13:43] jackneil commented on #4190
Shouldn't you be changing your constructor definition to the new format? I'm surprised you're not getting errors during compilation.

i.e:
function Consumer(address addr) public { feed = InfoFeed(addr); }

will be:
constructor(address addr) public { feed = InfoFeed(addr); }

[2018-06-04 13:46] #3003 closed, assigned to nobody

[2018-06-04 14:29] ekpyron opened #4223 "Extract Semantics Tests"
Part of #3486 concerning semantics tests (i.e. "end-to-end"-tests).

Similarly to #3644 the semantics tests (resp. end-to-end tests) should be extracted into individual files. ``ìsoltest`` should support running the semantics tests interactively.

This issue is meant to discuss the syntax of the test expectations and the encoding of arguments and expected results.

[2018-06-04 14:40] chriseth commented on #4167
Ok, I'm pretty sure that this is incorrect for values that fit inside 32 bytes. The topics are inserted into a bloom filter which is not exact. In order to get a correct match when you search by topic, the topic itself needs to be stored in the receipts, too.

[2018-06-04 14:44] kyriediculous commented on #2948
is it?. Using nightly builds or experimental encoders doesn't really qualifiy as supported imo.

[2018-06-04 14:55] aas312 commented on #4190
@jackneil yes i do get warnings for the constructor.  This warning will become error in 0.4.25, but for now it works.

[2018-06-04 14:55] fulldecent commented on #4167
@chriseth Can you please explain "the topic itself needs to be stored in the receipts, too"?

Can you please give specific examples of things that do work and things that don't work?

[2018-06-04 14:58] ralph-pichler commented on #4167
@chriseth I'm pretty sure the topic is already automatically stored in full in the receipt in addition to the bloom filter.

[2018-06-04 15:00] chriseth commented on #4167
@ralph-pichler yep! @fulldecent reference types cannot be retrieved. Value types can be retrieved.

[2018-06-04 15:01] ekpyron commented on #4223
Some initial and unrefined ideas for the expectation syntax:

The syntax originally suggested in #3486, slightly adapted to be closer to the syntax already used for the syntax tests, would be the following:
[code]

We could also consider the following to keep arguments and their values closer together and adopt a more "function-call-like" syntax. It might also make sense to explicitly state the ty

[2018-06-04 16:12] chriseth commented on #4223
To be honest, I find `f(uint(0x123000),bytes32(456))` rather difficult to read and also correlate with what function is called on the contract.

Perhaps we should split inputs and expectations across two lines. Ether could be given in square brackets. Also I'm not sure if we should implement a full ABI-encoder here. If we always assume expectations to be abi-encoded, we lose the ability to test da

[2018-06-04 16:27] tsuberim commented on #4218
@chriseth I agree, what about something like:
[code]

an `atomic` code block executes in one transaction, subsequent code blocks cannot see the local variables from other `atomic` code blocks so we can empty the stack.

[2018-06-04 17:02] #4188 closed, assigned to nobody

[2018-06-04 17:36] chriseth commented on #3969
@karalabe could you please provide some guidance on how to configure geth to use a byzantium EVM in a private test network? Could we make that the default for future geth versions?

[2018-06-04 17:40] chriseth commented on #3354
@leberknecht could you please paste the "metadata" and "gas estimates" json from the contract "details" pane?

[2018-06-04 17:57] chriseth commented on #3786
This has been fixed. Literals are tracked in https://github.com/ethereum/solidity/issues/3942

[2018-06-04 17:57] #3786 closed, assigned to ekpyron

[2018-06-04 18:44] chriseth commented on #4218
What if `blah()` is called from another internal function or even a different contract? `msg.sender` might change in mid flight.

[2018-06-04 18:46] chriseth commented on #4218
What about `function blah(uint counter, uint max) public { ... }` where `blah` is automatically called multiple times as long as there is gas, `counter` is incremented until it hits `max` and inside `blah` you have an if-else construct?

[2018-06-04 19:13] mmshihov opened #4226 "Contract method not invoked from another contract if it returns value (if compiled by Solidity versions above 0.4.21)"
For example, let's deploy the first contract:
[code]
Obtain its address, and deploy second contract. The address is "_called" parameter in second contract:
[code]
Let invoke (using "send" of course) methods `setBar1(...)`, `setBar2(...)`, and `setBar3(...)`.

The results in comments in code above.

We use:

- OS: Debian 8;
- Client: Quorum Geth v.1.7.2-stable-ee498061.

[2018-06-04 19:24] chriseth commented on #4226
With EVM version (frontier, homstead, byzantium, ...) does your client / network use?

[2018-06-04 20:26] Eugene282 commented on #4226
Just an assumption:
Looks like you guys have added [recently] returned value's type to the methods signature - and for some reason the method could not be found in "virtual table" of methods list. And it is doubtfully it depends on EMV - most probably on the compiler. Please look again there - what can be broken.

[2018-06-04 20:41] mmshihov commented on #4226
The EVM version obviously the same version as geth?
[code]
and in the same `build` directory:
[code]

[2018-06-04 21:45] vs77bb commented on #4122
Hi @itsN1X, would you mind linking to the WIP PR so we know where this issue is?

[2018-06-05 00:55] XertroV commented on #4220
@axic - thanks for this explanation. Didn't make sense to me before but everything clicked when realising the contracts become abstract.

[2018-06-05 00:58] XertroV commented on #649
As a workaround it'd be good to emit a warning on abstract contracts - this allows for the compiler to give feedback to coders who don't expect the sort of thing I talk about in #4220

Part of the reason this happens is b/c `function a(bytes16 b)` and `function a(bytes32 b)` have different hashes so solidity considers them different functions that can co-exist. This is VERY different to how most o

[2018-06-05 10:25] chriseth commented on #4226
@mmshihov the Ethereum mainnet and thus also the EVM went through a series of hard forks changing the semantics of certain opcodes and introducing new opcodes. We recently set the default target EVM version to "byzantium" (the most recent one on the mainnet) and use some opcodes that are not available in other EVM versions. If you use a private network, you have to configure some settings to enabl

[2018-06-05 10:57] leberknecht commented on #3354
Sure:
Metadata:
[code]
Gas-Estimates:
[code]

[2018-06-05 11:04] karikalanCyberForza commented on #1546
_;   this modifier purpose and use cases

[2018-06-05 12:13] chriseth commented on #3835
The `immutable` keyword fits because we also plan to use it for function parameters which cannot be changed inside the function (but of course the function can be called with different arguments).

[2018-06-05 14:58] bennyzhe opened #4231 "How can I change push20 to push25?"
I deploy an erc20 smart contract in ethereum,then I want change the PUSH20 to PUSH25。
Where should I modify the code?

![image](https://user-images.githubusercontent.com/18119716/40983992-6a73035e-6913-11e8-8e50-4d3af8a96a30.png)

[code]

[2018-06-05 16:31] chriseth commented on #3835
Two problems that still need to be solved are:
 - what happens if an immutable value is read by (a function called by) the constructor?
 - what happens if an immutable value is written to multiple times in (a function called by) the constructor?

A solution for both might be to provide a fixed slot in memory for the variable which is then stored in code right before the code deploy step, i.e. an i

[2018-06-05 17:03] GNSPS commented on #3835
I think that the second scenario should revert. Immutable vars should be initializable only once.

Also re-reading this made me think if we can extend the `immutable` definition to encompass `public` function parameters as well and these would not get copied into memory and would get read directly from CALLDATA.

*EDIT*: in the case the public function is called externally and the parameters live

[2018-06-05 17:06] chriseth commented on #3835
@GNSPS public function arguments have to live in memory, otherwise it is not possible to call it internally. This is different for `external` functions. The compiler might suggest to make a function external if it is never called internally.

[2018-06-05 17:07] chriseth commented on #3835
Oh and I don't think it should revert, it should just not compile if you assign an immutable variable twice.

[2018-06-05 17:10] GNSPS commented on #3835
Oh shoot! Of course! My brain stopped, "not compile" is what I meant, "revert"ing makes no sense in a compile-time mechanism. 😂

[2018-06-05 17:24] GNSPS commented on #3835
In my mind, this immutable parameter thing was for the different behavior of public functions when called internally and externally but I can see how this would be so much more confusing and not save that much gas. Could just be juxtaposition of `external` and `public` functions.

[2018-06-05 18:06] chriseth commented on #4231
The compiler does not provide direct control over which of the push opcodes is used. Why do you want to do the change?

[2018-06-05 20:56] lukas-berlin commented on #4116
I published an article about this issue, https://medium.com/@lukas.berlin/missing-return-value-bug-at-least-130-tokens-affected-d67bf08521ca with a safeTransfer proposal similar to  the proposal of @BrendanChou

[2018-06-05 22:08] BrendanChou commented on #4116
Has anyone looked into `transferFrom` and `approve`? Are there tokens out there that do not return values for these functions?

[2018-06-05 22:16] lukas-berlin commented on #4116
@BrendanChou  Yes the faulty interface from OpenZeppelin also includes approve() and transferFrom(), so  transferFrom() has the same problem as transfer(). It would require the same solution. I have never seen a contract that calls approve()

[2018-06-05 22:34] tsuberim commented on #4218
`atomic` indicates that the code block executes in one transaction, thus it's expected that some globals (`msg.sender`, `txHash`, ...) may be different for each `atomic` block.

How do you seperate the real arguments from the "automatically handled" arguments?
Do you dispatch different code depending on `counter`? seems like superfluous boilerplate.

[2018-06-06 00:10] BrendanChou commented on #4116
Most DEXs will probably not have to use `approve`, but any smart contract that interacts with DEXs will. [Example from dYdX](https://github.com/dydxprotocol/protocol/blob/83db412aed596c2dd8b741c761e1dd417c81d959/contracts/margin/external/exchangewrappers/ZeroExExchangeWrapper.sol#L242)

[2018-06-06 05:36] bennyzhe commented on #4231
![image](https://user-images.githubusercontent.com/18119716/41018615-3b49d1a0-698d-11e8-88f1-1c47b4488275.png)
As you can see from the picture,I change my account address from 40 to 50 bytes, but the push opcodes is 20.I want to modify the compiled **data:0x.....6020.....**  to **data:0x......6025.....**,  push20 to push 25.
[code]

[2018-06-06 07:51] chriseth commented on #4231
OK, so the issue is not about push20/push25, but rather about somehow using 25-byte addresses inside the EVM? Can you perhaps provide your source code? A simple change would be to replace `address` by `uint200`, but I'm not sure if that is what you want.

[2018-06-06 08:42] rayeaster commented on #2296
any illustrative code for this proxy feature?

[2018-06-06 09:31] bennyzhe commented on #4231
The call order has not changed  inside the EVM.The code has been changed a lot, in order to distinguish the mobile terminal or the computer terminal， so I added 10 more lengths than Ethereum.
I want to modify the compile about PUSH, then try the effect.

[2018-06-06 11:40] raphaelhuefner commented on #3637
@gitcoinbot Still working on it: Started discussing a change of plans for the Remix IDE: https://github.com/ethereum/remix-ide/pull/1333#issuecomment-395038412

[2018-06-06 14:08] roschler opened #4238 "Assembly functions on that docs page are truncated"
There's a style called .wy-nav-content that is causing the Assembly explanations table to truncate at 800px, so you can't read the function blurbs unless you go into the browser debugger and turn off the max-width: 800px style attribute:

http://solidity.readthedocs.io/en/v0.4.21/assembly.html

However, even with that attribute turned off, the really long explanations still truncate.  It would be

[2018-06-06 14:33] axic commented on #4238
I can scroll the table to the right without any CSS changed, but I agree it would be nicer to have the description to wrap into multiple lines. Are you able to scroll the table with a mouse?

[2018-06-06 14:33] matthewjablack opened #4239 "Install Failure : make fails when Linking CXX static library libjsoncpp.a"
When running `./scripts/build.sh` or running `make` inside `/build` dir (after running `cmake`) I am running into the following error message.

[code]

My gcc installation is as follows:
[code]

Ideas?

[2018-06-06 14:39] axic commented on #4239
@chfast can you check this? Do you think the latest cmake fix may have fixed this?

[2018-06-06 14:51] chfast commented on #4239
No. The cmake could not find `ar` or similar tool. It's build env issue.

[2018-06-06 14:52] chfast commented on #4239
Can you dump `CMakeCache.txt` file from your build dir?

[2018-06-06 14:54] matthewjablack commented on #4239
[code]

[2018-06-06 15:20] bennyzhe commented on #4231
I think evm calls the relevant address based on the smart contract data I deploy, like push, pop, dup etc. Is this correct?

[2018-06-06 16:30] vs77bb commented on #1802
Hi @peterwilli just wanted to check in... any update to provide here?

[2018-06-06 16:40] vs77bb commented on #3637
@raphaelhuefner Thanks for the update!

[2018-06-06 16:59] roschler commented on #4238
@axic No, I don't see any scroll bars on that page.

[2018-06-06 18:48] androlo commented on #4037
Awesome. Guess this would allow structs as arguments to external functions as well.

Seems like a big update, since it would require constant declaration (and behavior) to work for all possible reference types. Only arrays would be a great start imo. Maybe only constant size arrays at first, if that is simpler. Seems like that change would be easier to do, since immutability checks are already in

[2018-06-06 19:49] igorffs opened #4242 "Compiling older solidity versions"
I'm part of a team that is building an [open-source explorer for an Ethereum sidechain called POA](https://github.com/poanetwork/poa-explorer) and we'll be implementing a contract verification feature. In order to verify older contracts, we'll need to compile a given source code in any specified solidity version.

(We've already considered using the already compiled JS versions, but our team agree

[2018-06-07 04:27] chiro-hiro commented on #1686
It would be a great idea, I'm still stucking on debugging.

[2018-06-07 08:43] 4000D opened #4244 "Function returning struct with array"
Returning struct as a function output is adopted solidity v0.4.22.
In case of struct having array as a member, array members are not captured from web3 client. (I'm using truffle)

[code]

[code]

## Environment
geth 1.8.3-unstable-9db62222
solidity 0.4.24
truffle 4.1.11

[2018-06-07 09:11] rushairer commented on #1734
I have the same issue too.

[2018-06-07 09:59] chfast commented on #4239
I suspect this is the problem:
[code]

In English: CMake have not found the objcopy tool. This tools is probably needed to build static libraries. I'm not sure we should expect objcopy being present on macOS...

Did you set any params for CMake suggesting you want to use GCC toolchain? The GCC on macOS is just clang emulating GCC.

@axic do you have objcopy on your system? Can you also check CMake

[2018-06-07 10:11] chriseth commented on #1686
Changed the title again, I thought we had a different issue for require.

[2018-06-07 10:13] chriseth commented on #4244
Automatic accessor functions use a very different mechanism. Unfortunately you have to activate ABIEncoderV2 via the pragma and then use `function getS1() returns (Struct1) { return s1; }`

[2018-06-07 10:13] #4244 closed, assigned to nobody

[2018-06-07 10:13] chriseth commented on #1734
@rushairer please open a new issue, your situation might be rather different.

[2018-06-07 10:13] #1734 closed, assigned to nobody

[2018-06-07 10:16] chriseth commented on #4231
Sorry, but the compiler makes the assumption that addresses have 20 bytes at too many places, so I'm afraid we cannot support your modifications.

[2018-06-07 13:17] ekpyron commented on #4223
OK, I adopted that syntax.

Regarding padding: the current WIP PR pads both decimals and hex numbers on the left, but hex strings ``hex"ABCD"`` are padded on the right - I think that's clearer than ``1`` and ``0x1`` resulting in different padding.
I also added dedicated syntax to encode unpadded bytes ``rawbytes(0x12, 0x00, 0xAB)`` and dynamic length strings ``string("abc")`` (i.e. ``0x20, 3, "abc

[2018-06-07 13:39] chriseth commented on #4223
The padding is probably a good idea, yes!

What is the difference between `hex"1200ab"` and `rawbytes(0x12, 0x00, 0xab)`? Isn't the first format better?

About `string("abc")`: This only works if the string is the only argument or return value. I know we have the helper also in the C++ code, but I don't know if it is more confusing than helpful.

[2018-06-07 13:56] ekpyron commented on #4223
OK - I can remove the ``string`` helper - you may be right and always using the encoding explicitly may be less confusing.

The difference between ``hex"1200ab"`` and ``rawbytes(0x12, 0x00, 0xab)`` is that the former is padded to 32-bytes (to the right), whereas the latter is unpadded. ``rawbytes`` should only ever be needed, if something is wrong, i.e. if we want to supply non-32-byte-aligned inp

[2018-06-07 15:42] ekpyron commented on #4223
One issue is that the RPC interface doesn't distinguish between revert and no return data, so I'm not sure whether we should just use ``->`` (empty return) instead of ``REVERT``, or whether we should just let every function that is called in the tests return something, if only a bool ``true``...

[2018-06-08 07:07] chriseth commented on #1213
@mikro2nd I agree, please feel free to omit future plans.

[2018-06-08 07:12] chriseth commented on #4242
I am really not sure I can recommend building native historic binaries, I am pretty sure, this has all you need: https://github.com/ethereum/webthree-umbrella/tree/131f80ea0992f1edbc8950af2e1c03c3fcdc7e60

The missing files reported above should be here: https://github.com/ethereum/webthree-helpers/tree/7a580d70a94397e797621d02110018e045ccdab9/cmake

Please note that the native binaries might even

[2018-06-08 07:16] chriseth commented on #4223
The "success condition" should be part of the receipt. It might be that cpp-ethereum does not implement it or the json-rpc parser in the testing framework does not implement it.

[2018-06-08 09:18] ekpyron commented on #4223
So far I haven't found a way to properly deduce a revert - probably related: https://github.com/ethereum/cpp-ethereum/issues/4157

[2018-06-08 10:17] dksuper opened #4248 "Always fail when the contract call external contract"
geth version: 1.8.7

code:
![image](https://user-images.githubusercontent.com/35549846/41153114-6714238c-6b48-11e8-9548-dd21d4f1f1f8.png)

I don't know why , but it always cost all gas!

[2018-06-08 11:59] sgmheyhey opened #4249 "Multi-level contract functions inherit inconsistently"
[code]
The comment 321 is that Stratus is Cumulus3, Cumulus2, Cumulus1 and
The comment 123 is for Cumulus1, Cumulus2, Cumulus3.

The code is for checking `isRained` value. But weird to me. :(
Any comments to understand the above results?

[2018-06-08 14:54] jeichel-miovision commented on #3354
I am also seeing the same error when using the address object with solidity  0.4.22,  0.4.23, and  0.4.24.

[code]

Metadata:
[code]

Gas-Estimates:
[code]

**HOWEVER**, solidity 0.4.21 does not give me the error (the constructor syntax is different too)
[code]

Metadata:
[code]

Gas-Estimates
[code]

[2018-06-08 15:21] p0n1 commented on #4116
Most of the incompatible ERC20 tokens (**above 1703**) have used `token-advanced.sol` code in [solidity-org](https://github.com/ethereum/ethereum-org/pull/863) repo and I created PRs to fix.

Check this blog post for detailed report.
https://medium.com/loopring-protocol/an-incompatibility-in-smart-contract-threatening-dapp-ecosystem-72b8ca5db4da

And also, we are trying to make a working solution

[2018-06-08 16:21] zhuimengshaonian66 opened #4251 "bug in bower remix"
[code]

when i want to  test the function allowance  when i transfer two address in bower remix  it  return fault:
call to FixedSupplyToken.allowance errored: Error encoding arguments: SyntaxError: Unexpected token x in JSON at position 47

[2018-06-08 20:13] jeichel-miovision commented on #4248
cross posted with https://github.com/ethereum/go-ethereum/issues/16931

[2018-06-08 20:15] jeichel-miovision commented on #4226
related to https://github.com/ethereum/solidity/issues/4248 and https://github.com/ethereum/go-ethereum/issues/16931

[2018-06-09 22:28] tb1055 opened #4253 "unrecognised option '--add-std'"
I am using these versions of geth and solc on Ubuntu 16.04..
[code]
and am getting this error message from solc:  `unrecognised option '--add-std'`

Post [3984](https://github.com/ethereum/solidity/issues/3984) said to fix this by updating geth to 1.8.6 but I am on a newer version of Geth.

Any ideas on how to fix?

[2018-06-10 05:24] benjiqq opened #4254 "constructor public by default"
constructor requires public keyword, but should be public by default I believe

[code]

versus

[code]

[2018-06-10 08:37] alexroan commented on #232
+1

[2018-06-10 09:53] itsN1X commented on #4122
I have a small wiki I made for self reference that I plan to convert to a online manual. Would require another week to get everything finished.

[2018-06-10 12:26] aj07 commented on #4238
@roschler If I understand here we are talking styles which I am able to scroll up & down. Will you be please, more specific how you want to see it?

[2018-06-10 14:25] roschler commented on #4238
@aj07 That's the thing.  I just want to be able to see all of it.  Right now, long explanations are truncated at the right edge.  Instead they should wrap.

[2018-06-10 14:51] dmihal commented on #1256
Just bumped into this issue, with `function foo(uint152 x)` and `function foo(address x)`.

Is this issue still unresolved?

[2018-06-10 17:40] erak commented on #4254
@benjyz This behaviour is by design. The reasoning behind it is, that making something externally accessible should be a concious decision made by the programmer. Please see #2608 for further discussion on the default visibility of functions.

[2018-06-10 17:41] #4254 closed, assigned to nobody

[2018-06-10 18:09] erak commented on #4253
@tb1055 This is a bit weird. Your geth version (https://github.com/ethereum/go-ethereum/tree/eae63c51) does not pass ``--add-std`` any more. Have you already asked for advise in the geth gitter channel (https://gitter.im/ethereum/go-ethereum)?

[2018-06-10 18:30] tb1055 commented on #4253
Thanks for the tip -  [I re-posted my question on gitter](https://gitter.im/ethereum/topics/topic/5b1d6dd44b2d9417e1db4864/solc-message-unrecognised-option-add-std-4253).

[2018-06-10 23:42] ByKraB opened #4255 ""Stack too deep" error when pass tuple elements into another function. Depends on element position in the tuple."
0.4.24

[code]

mac os 10.13.4

Call in terminal `truffle compile`

[code]

Successful compilation

[2018-06-11 07:08] aj07 commented on #3761
Please, review https://github.com/ethereum/solidity/pull/4257

[2018-06-11 07:52] aj07 opened #4258 "Guide for Remix debugger for solidty code"
There needs to be guide on how to use debugger on remix IDE.

[2018-06-11 08:25] #4253 closed, assigned to nobody

[2018-06-11 08:37] aj07 commented on #3980
This parse error is correct. Since, the format of wrong. Please, let me know whether I am correct or not.

[2018-06-11 08:41] aj07 commented on #3850
@axic Should we put https://github.com/ethereum/remix-ide/blob/d5aec6736dafd5050119aafffe5ac1e353943457/team-best-practices.md  into readthedocs. There, its written but in very short way. We can elaborate it there.

[2018-06-11 08:52] mikro2nd commented on #1213
PR submitted. Gitcoin seems a little confused about the state of play though :P

[2018-06-11 09:49] axic commented on #3980
The point here is that it should be improved, if possible.

[2018-06-11 09:52] axic commented on #4258
I'm not sure this belongs to the Solidity documentation and not into the Remix documentation. Why would you put it here?

[2018-06-11 09:59] axic commented on #4251
I think you may have better luck asking this at Remix directly: https://github.com/ethereum/remix-ide

[2018-06-11 09:59] #4251 closed, assigned to nobody

[2018-06-11 10:55] axic commented on #4249
Can you please give a shorter example and explain it a bit more? I am a bit confused what the comment for 321 and 123 means?

[2018-06-11 10:57] axic opened #4259 "Add section about EVM version and explain its implications"
It should mention:
- the different versions and what different behaviour is introduced with each,
- the default version used
- implications in private chains

[2018-06-11 10:58] axic commented on #4248
The go-ethereum issue seems to deal with it. Also created a documentation issue #4259.

[2018-06-11 10:58] #4248 closed, assigned to nobody

[2018-06-11 11:01] axic commented on #4190
I think this should be covered by #4259.

[2018-06-11 11:01] #4190 closed, assigned to nobody

[2018-06-11 11:01] axic commented on #4226
Should be covered by #4259.

[2018-06-11 11:01] #4226 closed, assigned to nobody

[2018-06-11 11:03] axic commented on #649
I do not think that is a viable approach since we do not have a way to suppress warnings and as a result there would be no way to create abstract contracts without warnings.

[2018-06-11 11:04] axic commented on #4209
Handled in #4259.

[2018-06-11 11:04] strrel opened #4260 "Improve error message: ABIEncoderV2 public functions with struct containing the tree of mapping (nested mapping)"
ABIEncoderV2 public functions with struct containing the tree of mapping with struct. For example, this code returns the error:

function addQuestion(MyStructName2 _x) returns (bool result)
            ^--------------^

[code]
But here is no recursion. This code, for example doesn't return error:

[code]

I believe recursive mappings looks like:
[code]
So I think here are two options:
1) to accept

[2018-06-11 11:13] axic opened #4261 "Add section about "stack too deep" errors"
Should explain the reasons and offer potential solutions (i.e. use structs with ABIEncoderV2).

[2018-06-11 11:30] axic commented on #649
@chriseth @ekpyron what do you think about `partial contract` or `abstract contract`?

[2018-06-11 11:36] axic commented on #3739
@amiramieng can you please post your code?

[2018-06-11 11:39] axic opened #4262 "EVM version in syntax tests"
Currently the syntax tests are confined to the current EVM version and that means some tests cannot be moved.

How about adding a comment at the top of the file for EVM version:
[code]

Or how about adding it after the `---` delimiter?

I think the top may make sense as it is visible instantly and the 0.5.0 pragma is there usually.

Ping @ekpyron.

[2018-06-11 11:43] ekpyron commented on #649
Between the two I would prefer ``abstract contract``, and I would also prefer this to be an error and not merely a warning.

In general I'd prefer a single keyword for abstract contracts, but since ``interface`` is already taken, I'm not sure whether there's a good choice (and arguably having ``contract``, ``interface`` and yet another keyword for abstract contracts may be too much - there's even

[2018-06-11 12:01] chriseth commented on #4262
I would prefer to have it below the separator. Then it is also in line with the semantics tests. We can even have multiple evm versions and multiple expectations.

[2018-06-11 12:05] ekpyron commented on #4262
Yes, I think having it below the separator is better.
What about the syntax? For the semantics tests so far we had the suggestion to use ``// DEPLOY: Contract[40]: 1, "some_argument", ...`` for specifying which contract to deploy with how much ether and which arguments. If we stay with that, upper case may be a good choice for this as well, so maybe:
[code]

[2018-06-11 12:06] axic commented on #4262
Can we have multiple separators then declaring multiple expectation sections?

[code]

[2018-06-11 12:16] ekpyron commented on #4262
So far we can only have one separator and one set of expectations (without additional configuration like ``EVMVERSION`` having multiple sets of expectations wouldn't have made any sense. But we could consider adding support for that now - however, maybe using separate files with only one set of expectations each may be less error-prone, I'm not sure.

If we decide to go for multiple expectation se

[2018-06-11 12:44] axic commented on #10
Can we close this issue since it provides no syntactical suggestion and it is pretty much useless?

[2018-06-11 13:52] chriseth commented on #4190
Relevant issue in the quorum repository: https://github.com/jpmorganchase/quorum/issues/397

[2018-06-11 13:57] axic commented on #3998
Related to #4259.

[2018-06-11 13:58] axic commented on #3969
I think this should be covered by #4259.

[2018-06-11 14:01] chfast commented on #4259
I'm not sure you like it, but we are using "EVM revision" name in EVMC to enumerate hard fork changes.

[2018-06-11 14:06] axic commented on #4259
I'm not sure how much it matters (need to see the section written up), but the fact is the flag is called currently `evmVersion` (in JSON) or `--evmversion` (on CLI) so probably makes sense using this wording to avoid confusion.

[2018-06-11 14:20] axic commented on #4262
If the plan is not to have multiple expectation blocks then I kind of feel like `evmversion` may belong better to the top grouped with the 0.5.0 pragma. Though I do not have a strong preference on this.

[2018-06-11 14:29] #3969 closed, assigned to nobody

[2018-06-11 14:33] #4231 closed, assigned to nobody

[2018-06-11 14:42] axic commented on #4231
@zheng-bin if I understand correctly you have virtual machine based on EVM but modified to have longer addresses?

As @chriseth says that is breaking a very basic assumption of the compiler and cannot be easily supported. It probably is a rather big (or giant) task, I'd suggest to consider other options before pursuing supporting it in Solidity.

[2018-06-11 14:57] aj07 commented on #4258
@axic , I am suggesting to have a debugger section for solidity, which is missing as of now.

[2018-06-11 14:59] axic commented on #4258
What would be the benefit to put that here instead of the more comprehensive Remix documentation?

[2018-06-11 15:02] aj07 commented on #4258
Remix is missing extensive documentation. Most of the solidity developer uses Remix where they would like to have knowledge of debugging option. So, I think we should include. If it doesn't fit here, we can skip this part.

[2018-06-11 15:08] axic commented on #4258
Remix is currently spending a lot of effort in creating such a documentation and there is a lot more to explain about Remix than just the debugger.

[2018-06-11 15:12] aj07 commented on #4258
Sure, in that case I would close this issue.

[2018-06-11 15:12] #4258 closed, assigned to nobody

[2018-06-11 15:28] D-Nice opened #4264 "Memory corruption issues resulting in OOG from solc-v0.4.22-nightly.2018.4.5+commit.c6adad93.js onwards"
Starting with this solc, usage of Oraclize's Random and Computation datasources (both dependent on array types and assembly), now fail in creating a query. The error appears to be at creation of the query [(line)](https://github.com/oraclize/ethereum-examples/blob/master/solidity/computation-datasource/bitcoin/getBitcoinAddressBalance.sol#L28) it pushes the datasource string onto the stack, does u

[2018-06-11 16:08] axic commented on #3850
Are you suggesting to just copy Remix's guide? I think our development process differs slightly, it should be adjusted.

[2018-06-11 16:34] ekpyron commented on #4262
Currently ``soltest`` takes a ``--evm-version`` argument that globally sets the evm version to be used with all tests. In SolidityNameAndTypeResolution.cpp, for some test, the test expectations depend on the evm version that is currently set (i.e. different expectations for different evm versions) - still the tests are only run for a specific globally fixed evm version in each run of ``soltest``,

[2018-06-11 18:21] aj07 commented on #3850
@axic No, it will be change a lot. Like
1. How team communicates.
2. How to file bug?
3. How to dive as contributor ?
4. What coding standard we use?
5. Minimum system requirements?
6. Testing pattern

[2018-06-11 19:18] aj07 opened #4267 "version name of solidity is missing"
Process to get to know the version name of solidity is missing in the http://solidity.readthedocs.io/en/v0.4.24/installing-solidity.html#building-from-source

Reason :  on this page we are discussing about the download of binary and how to compile and build it. But knowing the right version for solidty // solc --version should also be there.

[2018-06-11 21:17] ekpyron opened #4270 "Exception handling in soltest."
Came up in #4064.

In case of failing assertions (``solAssert``) in extracted syntax tests, ``soltest`` does not properly handle and report the exceptions, resulting in errors like:

[code]

Whereas ``isoltest`` properly reports the exception/assertion:
[code]

[2018-06-11 22:00] #4107 closed, assigned to erak

[2018-06-11 22:52] ekpyron opened #4271 "File names and line numbers for exceptions in ``isoltest``."
Came up in #4064.

``isoltest`` should try to extract file names and line numbers from boost exceptions.
Also: ``<no message provided>`` should be used instead of ``NONE`` for empty comment tags.

EDIT: changing to ``boost::diagnostic_information`` altogether is better than changing to ``<no message provided>`` and extracting file names and line numbers manually.

[2018-06-12 09:01] #3847 closed, assigned to ekpyron

[2018-06-12 10:26] #4270 closed, assigned to ekpyron

[2018-06-12 10:26] #4271 closed, assigned to ekpyron

[2018-06-12 10:56] aj07 commented on #3395
@axic in docs this seems to be very clearly understandable. Should we close it?

[2018-06-12 11:39] aj07 commented on #2661
@chriseth @axic Do we need to work on it. On read the docs there is already example on subcurrency.

[2018-06-12 13:30] sgmheyhey commented on #4249
[code]
The above contract code is 321.
The below contract code is 123.
[code]
Yeah, you need to change the line for the test.

[2018-06-12 13:37] axic commented on #4249
Without testing this myself, would this documentation section explain what you are seeing: https://solidity.readthedocs.io/en/v0.4.24/contracts.html#inheritance

Especially:

[2018-06-12 14:11] #3405 closed, assigned to leonardoalt

[2018-06-12 14:59] #3662 closed, assigned to nobody

[2018-06-12 15:30] axic opened #4278 "Create a compiler internals overview"
- This should list all the directories and their duties.
- Should explain the high level flow of the compiler.
- Should go into detail on specific parts (e.g. optimiser, using yul in `ABIEncoderV2`, etc.)

This could be a section in the contributors guide or be a chapter on its own linked from the contributors guide. The contributors section already explains testing and fuzzing.

[2018-06-12 15:33] #2182 closed, assigned to nobody

[2018-06-12 15:46] aj07 commented on #4267
@chriseth  do you think this should be included in doc.

[2018-06-12 15:56] ewingrj opened #4279 "Interface show warning if missing solidity version"
It seems to me that an interface should not need to specify a pragma directive. Is there a reason a warning is emitted during compilation is the pragma is missing?

[2018-06-12 16:03] axic commented on #4279
The pragma actually is file (and not interface/contract) specific.

Why would it make sense not having it for file only containing interfaces?

[2018-06-12 16:37] ewingrj commented on #4279
To me an interface is for defining the external api of a contract. As an api consumer, I don't care what version compiler was used.

If my interface file has `pragma solidity 0.4.18`, I can't import that interface into a contract that is using a different solidity version.

[2018-06-12 16:40] axic commented on #4279
While the pragma can be used to lock in a specific compiler version, it is mostly intended to be used to specify version ranges (for example by the caret: `^0.4.16` means anything, including, 0.4.16 is supported, but 0.5.0 is not) where these different versions can introduce different syntactical elements/features and semantics.

If you are looking for an external interface, I'd suggest to conside

[2018-06-12 17:02] aj07 commented on #3849
@chriseth , please correct me if I am wrong. I am assuming that in the comment section (in text) we need to include "how state variable is stated" to users. Isn't?

[2018-06-12 17:10] axic commented on #3849
@chriseth I think it makes actually more sense to explicitly set the state variable either in the constructor or at declaration time. Otherwise it should link to a section which explains what default value `enum`s are taking.

[2018-06-12 17:46] #4203 closed, assigned to nobody

[2018-06-12 18:00] #4159 closed, assigned to erak

[2018-06-12 18:19] #3493 closed, assigned to chriseth

[2018-06-12 19:42] axic commented on #3586
It seems this is already done? Or do you mean to remove the `keepSources` flag?

[2018-06-12 19:50] axic commented on #3794
@chriseth I think this issue was superseded by #3796?

[2018-06-12 20:18] ewingrj commented on #4279
ya, we typically use the caret, however we are building an app upon aragonOS which locks the version to `0.4.18`.

I have other code that I want our app to interact with that is compiled with `^0.4.21`. however I can't include the the other code interface in the app b/c the interface is ^. The only option right now is to live with the warning & don't include the pragma in the interface file, or co

[2018-06-12 23:48] axic opened #4285 "Yul: disallow switch statements with only a default case"
It made sense having them before `if` was introduced. Since `if` is supported this doesn't make too much sense anymore and for the sake of simplifying code, this could make sense.

(From https://github.com/ethereum/solidity/pull/3464/commits/027620766b6f531d89c12497207fa08b0a3f99c2#r185976506)

Reason against this: transformation steps could map single-case switch statements into if statements and

[2018-06-13 01:37] sgmheyhey commented on #4249
Actually, I made it from the article, as you see the `kill` function and so on. But there was no inter-empty contract. It makes the difference between example codes.

[2018-06-13 03:01] rushairer opened #4287 "How to verify contracts created by other contract?"
https://etherscan.io/address/0x742721c4db2d104d4731f195dba422fe1e5d52cd#code

[code]

I use DetailedToken created a token: https://etherscan.io/address/0x6629e2fd00b575199fbe656a514c6a1378eb3671

How can I verify it?
At the "Verify And Publish" page https://etherscan.io/address/0x6629e2fd00b575199fbe656a514c6a1378eb3671#code

It said that:
This contract was created by the contract code at 0x742721

[2018-06-13 05:49] aj07 opened #4288 "typos are there in docs"

[2018-06-13 07:11] #4288 closed, assigned to nobody

[2018-06-13 07:22] aj07 commented on #4288
@chriseth there were few glitches. I send the fresh patch. Please review it

[2018-06-13 07:24] chriseth commented on #4267
The documentation [explains](https://solidity.readthedocs.io/en/v0.4.24/using-the-compiler.html#using-the-commandline-compiler) `--help` which shows you how to get the version.

[2018-06-13 07:24] #4267 closed, assigned to nobody

[2018-06-13 07:31] chriseth commented on #980
Since we only support `bytes memory` in those functions in the future, and everything else has to use `abi.encode`, this can be closed.

[2018-06-13 07:31] #980 closed, assigned to nobody

[2018-06-13 07:35] chriseth opened #4291 "Events with storage structs as argument cause internal error"
[code]
UnimplementedFeatureError: Only in-memory reference type can be stored.

and
[code]

Although works currently, it should be disallowed.

[2018-06-13 07:36] chriseth opened #4292 "Events with memory structs are encoded incorrectly"
[code]
I was not able to verify this fully, but it causes a bug in Remix and I think the event just stores the memory location of the struct. It should not be possible to use this at all in pre-ABIEncoderV2.

[2018-06-13 07:37] chriseth commented on #4292
Same goes for `indexed` structs.

[2018-06-13 07:37] chriseth commented on #4291
It does not cause an internal error with `indexed`, but it should also be disallowed.

[2018-06-13 07:45] aj07 commented on #4189
Question was why we are limiting to 16 elements only? Any specific reason on it?

[2018-06-13 08:03] aj07 commented on #1230
This links seems useful for abhove discussion https://media.consensys.net/an-introduction-to-lll-for-ethereum-smart-contract-development-e26e38ea6c23

[2018-06-13 08:55] chriseth commented on #4189
The solidity documentation cannot provide a historical explanation of design decisions for the EVM.

[2018-06-13 08:55] #4189 closed, assigned to nobody

[2018-06-13 09:01] chriseth commented on #4279
I would say the solution is to relax the version requirement of the interface. You can also do weird stuff like `pragma solidity 0.4.18 || ^0.4.0;`. You can include the same interface file from different compilation runs with different compiler versions.

[2018-06-13 09:11] chriseth commented on #3849
Yep, we could mention it right before the state variable itself.

[2018-06-13 09:12] chriseth commented on #3849
I think it is better to explain the default value than setting it, because it is a well-defined feature that can be used by users.

[2018-06-13 09:45] spksoft opened #4293 "For loop and keccak256 make my Remix crash and so long for pedding"
# For loop and keccak256 make my Remix crash and so long for pedding

I try to make a function for find a string field and push to array of uint and return it. But, I got "creation of ContractValidator pending..." so long and it make my remix (google chrome) crash !
**Here's my code and a problem function is "getTransactionIdByHashedOfOri"**
[code]

[2018-06-13 09:49] spksoft commented on #4293
It's already work I think a problem is my google chrome

[2018-06-13 09:49] #4293 closed, assigned to nobody

[2018-06-13 10:10] chriseth commented on #3586
I would like a general cleanup of the internal interface of CompilerStack. Do we really need a reset function, for example? Do we really need a way to incrementally add source files?

[2018-06-13 10:27] chriseth commented on #4162
I still cannot reproduce this, but an interesting fact is that we actually fixed a bug in the gas estimator on the 11th of April, which should have the exact opposite effect.

[2018-06-13 10:29] chriseth commented on #4162
Since the changes in the constructor bytecode above are minimal, I would assume the regression to be caused by the change to the gas estimator itself.

[2018-06-13 12:45] chriseth commented on #4162
@nalepae could you please tell us the exact browser version, type and operating system? It might be that this depends on the JS runtime.

[2018-06-13 13:49] chriseth commented on #4287
It might mean that you have to provide the source code of the contract at 0x742721c4db2d104d4731f195dba422fe1e5d52cd. Perhaps the people at etherscan can help you better than we can.

[2018-06-13 13:49] raphaelhuefner commented on #3637
Yes, I'm still working on this. I agreed with @yann300 to make the ACE syntax highlighting into a NPM module of it's own:

![screen shot 2018-06-07 at 9 35 46 am](https://user-images.githubusercontent.com/441102/41355080-ec900554-6f20-11e8-93de-6decbddd9e03.png)

I'm currently implementing a way to test the highlighting via `editor.getSession().getTokens()` (see https://ace.c9.io/#nav=api&api=edit

[2018-06-13 14:14] chriseth commented on #3354
The later reports should have the same root cause as #3779 , but the original issue is different.

The problem is that we use a loop to copy the array, even if it is of constant size and the gas estimator currently cannot cope with that. This is probably much easier to solve once we have yul.

[2018-06-13 14:40] chriseth opened #4294 "Add peephole optimizer rule: `push1 0 not and` should be no-op"
The sequence of opcodes `push1 0 not and` seems to be generated by the compiler, although it can be replaced by nothing.

[2018-06-13 15:19] chriseth commented on #3606
Documentation was not updated.

[2018-06-13 15:23] chriseth opened #4295 "Remove low-level log functions"
I think they are not really used (events are much more flexible) and if people actually do want a low-level interface, they can use assembly.

[2018-06-13 15:30] chriseth commented on #4264
Can you provide a bit more details about what oraclize actually does? What do you mean by "unexpected operations"?

[2018-06-13 15:34] conor10 commented on #3618
@chriseth @axic did you have any further thoughts on the above? It would be really useful if for the web3j community we could have an additional field in the ABI for structs

[2018-06-14 04:04] rushairer commented on #4287
@chriseth thanks

[2018-06-14 13:24] chriseth commented on #649
I think I would prefer `contract abstract Name {` although I also don't particularly like it.

[2018-06-14 13:29] chriseth commented on #3395
I think 'owning' is still the wrong term here.

[2018-06-14 14:11] ekpyron commented on #649
What about ``contract Name abstract {``? That's closer to a modifier. Since we have ``is`` for inheritance, ``contract Name abstract is Base {`` is still unambiguous. Or one also could consider ``contract Name is Base abstract {``, although that looks stranger to me.
For some reason in post notation I think ``contract Name partial {`` looks better than ``partial contract`` does, so in that orderin

[2018-06-14 15:14] nalepae commented on #4162
Interesting thing: Since yesterday, I have this issue also with **solc 0.4.21** and **solc 0.4.20** ...
Issue does appear only with Chrome, does *not* appear with Firefox, does not appear when I build *solc* by myself on my computer.

The issue does **not** appear when I run remix locally on my computer.

Please find below a recap of the situation.

**Before 13 june 2018:**
* OS: Ubuntu 16.04.4 LT

[2018-06-14 15:40] ekpyron opened #4299 "behavior of named arguments in function types"
- #2428's initial intention was to remove named arguments in function types
- They are currently marked as deprecated.
- They were considered to be removed in #4219.
- However, there was no consensus about removal, so so far they are still there, but still deprecated.

However, they do not work as desired (in case they are not removed and undeprecated after all). Naming arguments in calls should w

[2018-06-14 18:37] D-Nice commented on #4264
The point at which it screws up is when using some assembly, namely Nick Johnson's cbor lib for converting a string array into cbor, but we also get an exception when our Random datasource is used, I haven't explored that one that much yet.

What I mean by unexpected operations is that is the string computation is loaded from memory (mistakenly) and then various operations are done to the bytes eq

[2018-06-14 21:06] ewingrj commented on #4279
thx, just relaxing the version to `^0.4.0` did the trick

[2018-06-14 21:06] #4279 closed, assigned to nobody

[2018-06-15 03:04] vs77bb commented on #3402
@chriseth Is this one good for payout?

[2018-06-15 05:20] aj07 commented on #3395
can we put the word "changeable" or "dynamic" in place to owning?

[2018-06-15 12:24] leonardoalt opened #4307 "External function call error message is misleading"
Code:
[code]
Solidity error message:
`Undeclared identifier. Did you mean "f"?`
It should suggest the use of `this.`.

[2018-06-15 12:58] androlo opened #4308 "Conversion to a different "known" contract type is possible"
Using Remix, `version:0.4.24+commit.e67f0147.Emscripten.clang`.

This code will compile.

[code]
Guessing that the issue is that it will implicitly cast `new A()` to an address. Not casting `A` will cause a compiler error, i.e. `B b = new A()`.

There is not much information about the contract type in the docs (though I may have missed something) but given that the code below fails, it seems like

[2018-06-16 01:09] rawadrifai commented on #2095
has there been a resolution to stack too deep issue?

[2018-06-17 17:24] ytrezq commented on #683
@akrolak you’re getting `tx.orgin` to return a contract address ? I’m really interested. Please explain how you got that problem ! (including through e mail).

[2018-06-18 07:20] #4287 closed, assigned to nobody

[2018-06-18 08:02] evgen-povt opened #4310 "Failed to call an external function of another contract"
**Which version of Solidity you are using**
0.4.21 vs 0.4.24

**What was the source code**
[code]

**Which platform are you running on**
Remix IDE + geth 1.8.11-stable on Mac

**How to reproduce the issue**
1. Deploy Contract1
2. Deploy Contract2 with address of Contract1 as an argument of the constructor
3. Make a call of Contract2.getContractValue(10)

**What was the result of the issue**
The st

[2018-06-18 13:52] erak commented on #4310
@evgen-povt Could you please give some more information on your OS and web browser? Your issue seems to be related to #4162 which we're currently trying to track down.

[2018-06-18 14:10] evgen-povt commented on #4310
@bit-shift
OS: macOS Sierra 10.12.6
Geth: Geth/v1.8.11-stable/darwin-amd64/go1.10.3
Browser: Google Chrome Version 67.0.3396.87 (Official Build) (64-bit)

The difference with the #4162 is that my case has a warning for 0.4.21 either.

**And one major thing**: Remix IDE is connected to the geth node, not Javascript VM.

[2018-06-18 14:31] davinci26 opened #4312 "Pointers in Solidity - Question"
I have a mapping that maps a string to a struct that has a substantial size.
[code]
I want to access this big struct mapping in multiple ways, is there a pointer-like type that I could use to reduce the size required by my contract. Coming from a C++ background I would create
[code]
Is there some solidity design pattern to achieve something similar without storing multiple copies/instances of the

[2018-06-18 15:34] fulldecent commented on #1686
Above, we were discussing if it returned strings should calculatable at runtime or if compiletime is good enough.

I still don't see why runtime is necessary. For-loops are an exceedingly rare commodity in this world.

Also, the ABI can't be spoofed, it is generatable by anybody that has access to the source code.

[2018-06-18 16:05] erak opened #4314 "Documentation of comments in source files is misleading"
The section that describes how to use NatSpec-style comments in Solidity source files (https://solidity.readthedocs.io/en/develop/layout-of-source-files.html?highlight=natspec#comments) is misleading. It refers to the Doxygen documentation, but should rather refer to the NatSpec documentation itself: https://github.com/ethereum/wiki/wiki/Ethereum-Natural-Specification-Format.

Apparently, NatSpec

[2018-06-18 17:42] ligi commented on #4314
The misleading documentation might also be the cause for this:

![selection_082](https://user-images.githubusercontent.com/111600/41552644-a0fd93a0-732f-11e8-801f-db83f580e2c2.png)

the very same code compiles with remix - I think the etherscan coders just also had problems finding the list of allowed tags and just probed some - and missing "dev" in the process.

Had trouble googling for the list

[2018-06-18 18:46] igorffs commented on #4242
Thank you @chriseth!

[2018-06-18 18:46] #4242 closed, assigned to nobody

[2018-06-18 19:22] vs77bb commented on #4122
Hi @itsN1X do you have any update here? If not, we'll plan to send this back out to 'Open' status. Hope you're doing well!

[2018-06-18 21:46] vs77bb commented on #1802
Hi @peterwilli, with no response, we decided to send this back to the crowd. Should you wish to pick it back up actively, please feel free to 'Start Work' again!

[2018-06-18 21:50] OTTTO commented on #3395
if "owning" means the contract that contains the specified code then it seems fine to me.

[2018-06-18 21:53] OTTTO commented on #4312
are you familiar with the ```memory``` and ```storage``` keywords?
```memory``` is used to make a transient reference to something in storage.
in certain cases you can even utilize this to make costly functions ```view``` functions.

[2018-06-18 21:53] vs77bb commented on #3637
Thanks for the update @raphaelhuefner; snoozed Gitcoin Bot for 10 days here.

[2018-06-18 21:54] OTTTO commented on #2511
did we not choose to go with a keyword for fallback functions??

[2018-06-19 06:25] phiferd opened #4315 "Invalid struct initialization leads to unexpected behavior"
@mustafa92348 (attacker) posted a contract with the following code to the gitter tutorials channel:

SCAM

[code]

The code appears to be a naive attempt at a lottery contract.  The obvious issue is that the "secretNumber" field is visible to everyone. The contract is initialized with 1 ETH, and is intended to entice people into playing under the assumption that they can make some easy ETH (or hel

[2018-06-19 06:53] MicahZoltu commented on #4315
Solidity does give a compiler warning, but such warnings do not show up in etherscan.  One option would be to make etherscan present compiler warnings, though in this case it feels like the compiler shouldn't allow assignment to uninitialized local storage variables.

[2018-06-19 07:09] phiferd commented on #4315
Even showing the warning probably wouldn't help much. Is there any use case where accessing an uninitialized storage pointer makes sense?

[2018-06-19 07:49] MicahZoltu commented on #4315
No, but it can be difficult to statically prove that the variable is initialized before being used in all code paths.  I think for Solidity, security should be king so if the analyzer cannot prove that the variable _will_ be initialized before being used then it should error instead of warn.  Curious to hear if someone feels that is too extreme.

[2018-06-19 08:23] phiferd commented on #4315
If it can be handled at compile time, that would be great.  However, I think the code above should throw an exception at runtime, which should be easier to detect.

[2018-06-19 10:32] davinci26 commented on #4312
Thanks alot for the reply :)

The way I had it in my mind ``` mapping( address => Big_struct*[]) ptr_mapping ``` would be a state/contract variable.

I was able to find a lot of information on the ```memory``` keyword, not so much on ``` storage```.

In general I would consider pointers as good addition to the language, as most Solidity developers want to minimize the storage they use to reduce tx

[2018-06-19 13:20] OpenSFL opened #4316 "Solidity compiler issue: error while loading shared libraries (unexpected reloc type 0x03)"
I was able to build the solidity compiler from source.
`$which solc`
`/usr/local/bin/solc`

However, when I run it or check its version
`$solc`
`$solc --version`
I got:

It was built on beaglebone black with debian stretch:
`$uname -a`

Any help and suggestions? Thank you!

[2018-06-19 13:23] leonardoalt commented on #4316
Hi @OpenSFL, how did you install Z3? Did you build it from the sources?

[2018-06-19 13:44] OpenSFL commented on #4316
Hi @leonardoalt, I followed this [https://solidity.readthedocs.io/en/latest/installing-solidity.html#external-dependencies](url) for installing the external dependencies:
`./scripts/install_deps.sh`

For installing Z3, the install_deps.sh says:

                    build-essential \
                    cmake \
                    g++ \
                    gcc \
                    git \

[2018-06-19 14:11] leonardoalt commented on #4316
Unfortunately I don't have access to an ARM at the moment to try and reproduce the problem. It could be that the Z3 package wasn't compiled properly.
Z3 is not a critical dependency and what you can do for the moment is to uninstall Z3 from your system and rerun the compilation steps from the `cmake ..` point.

[2018-06-19 16:44] chriseth commented on #4315
I think it would be a good idea for etherscan to highlight any contract that compiles with warnings as potentially malicious. Even if people use external libraries that are not up to date with recent security best practices. If they want random users to use their code and trust that it operates correctly, they have to put the additional effort into that and update the library's code.

Concerning t

[2018-06-19 16:44] #4315 closed, assigned to nobody

[2018-06-19 16:52] bennyzhe commented on #4231
Hello：
@chriseth @axic
I modified some places：
https://github.com/ethereum/solidity/blob/develop/libsolidity/codegen/CompilerUtils.cpp#L1261
[code]
Like the _typeOnStack.numBits() is unsigned 160, I chage it 160 to 200.
Then the PUSH20 change to PUSH25.

https://github.com/ethereum/solidity/blob/develop/libsolidity/ast/Types.cpp#L442
https://github.com/ethereum/solidity/blob/develop/libsolidity/as

[2018-06-19 16:55] chriseth opened #4319 "mapping should enforce storage keyword"
The compiler should complain about the missing `storage` keyword, even though mappings cannot live outside storage:

[code]

[2018-06-19 16:58] chriseth commented on #4312
I am not really sure I understand the problem. What I can say is that a local variable of type `Big_struct storage` is always just a pointer. If you want to use pointers in storage (as opposed to "to storage"), using IDs is as close as you can get.

[2018-06-19 17:00] chriseth commented on #4310
I think the problem here is that you did not enable Byzantium mode in geth: https://github.com/ethereum/go-ethereum/issues/16931

[2018-06-19 17:00] axic commented on #4315
The warning in question is:
[code]

[2018-06-19 17:01] chriseth commented on #4308
Explicit conversions between all contract types is allowed, we might consider removing that (and forcing users to at least go through `address`).

[2018-06-19 17:01] axic commented on #4310
Should be solved by #4259.

[2018-06-19 17:01] #4310 closed, assigned to nobody

[2018-06-19 17:02] axic commented on #4310
Please comment if using byzantium mode in geth didn't solve the problem.

[2018-06-19 17:02] chriseth opened #4320 "Disallow explicit conversion between unrelated contract types"
Surfaced in https://github.com/ethereum/solidity/issues/4308

If you still want to do it, you have to go through `address`.

[2018-06-19 17:21] chriseth commented on #4231
This might work, but I cannot guarantee anything, tons of places in the code could rely on addresses being exactly 20 bytes long.

[2018-06-19 17:55] axic commented on #4320
I'm fine disabling it unless the inheritance chain is known between the two, e.g.

[code]

[2018-06-19 18:00] #4167 closed, assigned to nobody

[2018-06-19 20:51] stefek99 opened #4322 "Function signature returns a named variable `sum`, assigning to it and returning something else should trigger compiler warning?"
[code]

Related: https://ethereum.stackexchange.com/questions/34046/what-is-the-purpose-of-giving-name-to-return-variables-in-function-declaration

6 months ago I didn't know how to use Remix and Metamask to deploy ERC20... No wonder why I didn't know this syntax: https://github.com/kleros/openiico-contract/issues/34

I believe that `foo2` is potentially confusing, should trigger warning.

[2018-06-19 21:37] axic commented on #4322
I think this tracked in #708 (also relevant #3134). Please comment if you think those issues are not enough to discuss the problem.

[2018-06-19 21:37] #4322 closed, assigned to nobody

[2018-06-19 21:42] axic commented on #2428
Consensus seems to be that naming of return parameters should be removed, which will be merged soon, however there's no consensus yet on removing named arguments. That is now tracked in #4299.

[2018-06-19 23:31] axic commented on #2864
Should it be `solc_compile`, `solc_version` and `solc_license` or rather `solidity_compile`, etc ?

[2018-06-19 23:46] phiferd commented on #4315
Thanks @chriseth .  Can you clarify, would the following compile and have the same effect?

[code]

[2018-06-19 23:52] axic commented on #4315
That is still an uninitialised pointer reporting the same warning. Also one can test this in Remix IDE with latest release (should receive warnings for the above). Soon one of the nightlies will report it as an error though.

[2018-06-20 07:58] chfast commented on #2864
I vote for `solidity_` prefix.

[2018-06-20 09:35] stefek99 commented on #4322
@axic of course you are right, I should use "search" option first.

Me = data point. It's really really confusing.

[2018-06-20 09:38] #4294 closed, assigned to nobody

[2018-06-20 10:48] nikita-fuchs commented on #3969
To add to the confusion: Same thing occured [here](https://ethereum.stackexchange.com/questions/51028/function-call-from-other-contract/51470?noredirect=1#comment61284_51470). It worked fine with solidity 0.4.23 with truffle + ganache, but in Remix it had to be 0.4.20.

[2018-06-20 11:26] chiro-hiro commented on #1686
@fulldecent If `require` and `assert` would throw to us a reason, it could be helpful to develop and maintenance smart contracts. So, it might useful at runtime.

[2018-06-20 21:51] #2428 closed, assigned to ekpyron

[2018-06-20 21:55] axic commented on #3606
I think #4019 (and #4046) actually did update it. Please reopen again if not satisfied :)

However, we still need to remove the extra `if 050` check.

[2018-06-20 21:55] #3606 closed, assigned to axic

[2018-06-20 22:36] fubuloubu commented on #3294
Still a problem, just ran into this.

[2018-06-21 02:59] aleybovich opened #4329 "Decoding encoded parameters in a solidity function"
Is there any functionality (or is it possible to add) to decode parameters from `bytes` function parameter, encoded by web3.eth.abi.encodeParameters?

In my case:

    const packedArgs = web3.eth.abi.encodeParameters(['uint256', 'string'], ['123', 'Hello']);

is passed as `bytes` parameter in a Solidity function, How do I unpack/decode it back into two variables (uint256 (123) and string (Hello))?

[2018-06-21 03:52] aleybovich commented on #4329
I figured out the answer. For those interested I also posted it on SO: https://ethereum.stackexchange.com/questions/51717/how-to-unpack-decode-parameters-encoded-with-web3-eth-abi-encodeparameters-in-so

[2018-06-21 03:52] #4329 closed, assigned to nobody

[2018-06-21 11:55] chriseth commented on #3294
@yann300 which encoding library are you using? Ether.js or web3.js? This is a bug in one of them :)

[2018-06-21 12:10] #3961 closed, assigned to nobody

[2018-06-21 12:11] chriseth commented on #4308
Will be fixed with 0.5.0 and tracked in #4320.

[2018-06-21 12:11] #4308 closed, assigned to nobody

[2018-06-21 12:32] yann300 commented on #3294
Ether.js since 2 months, I tried now (current remix.ethereum.org) and didn't get the REVERT, also the encoded input seemed good
[code]
@fubuloubu could you post inputs parameters and sample input?

[2018-06-21 13:53] iluxa commented on #232
+1

[2018-06-21 14:57] fubuloubu commented on #3294
I was using web3py. I can try to make a MWE later today if I get a chance.

[2018-06-21 17:09] chriseth commented on #4162
@nalepae this is really strange. @yann300 can you make any sense out if this?

A wild guess might be that this is a bug in the javascript compiler or interpreter of chrome. It might also be that it does not recompile some code it should have recompiled.

Another thing to test would be if loading the compiler with a fresh chrome (i.e. by creating a temporary account and directly opening chrome with

[2018-06-21 17:11] chriseth commented on #4299
I'm fine with resolving this either way (leaning slightly towards disallowing), but this should of course be fixed.

[2018-06-21 18:57] fakel opened #4334 "Unexpected 'now' time behavior when set on constant variable"
When a variable using compile-time 'now' is wrong setup as 'constant' during compilation time like:

[code]

The variable getter created for 'startTime' will become actually variable over time and not a fixed value, so it will return current request time instead of compile set time.

[2018-06-21 22:16] roschler commented on #1686
Is the revert() error message a Solidity thing or a Web3.js issue?  The latter potentially being a problem with tool like the Web3.js library not being updated yet to retrieve the error code/msg return at the low-level Ethereum interface, and bubble it up back to the caller?

Also, can someone sort out the following rumors I've heard?  Is an error code supported by _revert()_ or an error message,

[2018-06-21 22:58] fubuloubu commented on #3294
Ugh, can't reproduce it now. Remix works fine!

For reference, my thing looked something like this:
[code]

[2018-06-22 09:18] jzakrzew opened #4336 "Documentation is wrong about conditional operator precedence"
The documentation at http://solidity.readthedocs.io/en/latest/miscellaneous.html#cheatsheet claims that the ternary conditional operator precedence is 14, while the precedence of assignment operator is 15 (like in C).
However this would mean that the following testcase (conditional_expression_with_return_values from SolidityEndToEndTest)

	contract test {
			function f(bool cond, uint v) returns (

[2018-06-22 10:51] dariodjurica commented on #232
+1

[2018-06-22 15:22] erak commented on #4128
[code]
Result: ``Operator ** not compatible with types int_const 1797...(301 digits omitted)...7216 and int_const 4``

Suggested error: ``Resulting number exceeds precision of 4096 bit.``

[2018-06-22 16:05] hilobrain commented on #3755
got the same

[2018-06-22 18:09] D-Nice commented on #4264
Here's an isolated example:

[code]

Is every native type's memory initialization guaranteed not to be affected by the above issue, by clearing/overwriting the address space it will end up pointing to? It would be nice to mention to not assume any memory after the free memory pointer (even without dropping down to assembly), to actually be cleared/zeroed out, as this assumption was even made by an

[2018-06-22 18:10] vghorakavi commented on #3972
Can I work on this?

[2018-06-22 20:48] axic commented on #4264
I've tried the isolated example in Remix with 0.4.19 and 0.4.24, but both finish successfully when calling `A.test()`.

Under what conditions is the isolated example failing for you?

[2018-06-22 21:21] axic commented on #4336
@jzakrzew thanks for noticing! @androlo do you want to create a test case for this?

After that we could discuss which behaviour is desired and keep the documentation and implementation consistent with that.

I'd vote the current implemented behaviour should be kept.

[2018-06-23 00:39] D-Nice commented on #4264
Apologies, it's not made to fail, but it's showcasing the length of buf in the buffer struct being set to the function sig of the last external call. If some additional operation were done dependent on that length, it could cause issues/throws.

[2018-06-23 06:47] mikro2nd commented on #1213
New commit was made and commented on 21June on the PR.

[2018-06-23 09:20] sifmelcara commented on #4319
(Just curious) Isn't local variables' data location default to storage? ( [doc](http://solidity.readthedocs.io/en/v0.4.24/types.html#summary) )
Why should the compiler complain about the missing `storage` keyword?

[2018-06-23 10:04] androlo commented on #4336
@axic I could. Do you want more end-to-end tests of this kind?

I could also add a syntax test for the TypeError you get when trying to use a conditional expression as an lvalue, since it is kind of related. I looked but I haven't found one.

EDIT: Actually I found it: `283_left_value_in_conditional_expression_not_supported_yet.sol` in nameAndTypeResolution

[2018-06-23 12:35] androlo commented on #4264
Memory at (and after) `mload(0x40)` can not be assumed to be empty. This has been the case for as long as i can remember: https://solidity.readthedocs.io/en/v0.4.24/miscellaneous.html#layout-in-memory

[2018-06-23 16:41] lawrnce opened #4339 "Typo in FAQ documentation"
In the section [https://solidity.readthedocs.io/en/v0.4.24/frequently-asked-questions.html#what-happens-to-a-struct-s-mapping-when-copying-over-a-struct](url), there is a typo.

Should read:

[2018-06-23 18:35] itsN1X commented on #4122
I'm really sorry for being shoddy in my communications, my bad!
Personally, examinationseason at the University has been taxing much.
I humbly request the `Funders` to allow me a deadline till 2.7, after which the issue may be re-opened.
Prepared a wireframe for this, hope to get a working prototype soon.
tysm for all the patience,
I apologize for the uncontrollable delays.

[2018-06-24 00:27] nuevoalex opened #4341 "Compiling with SMTChecker on 0.4.24 fails"
I get the following error when attempting to compile the [Augur contracts](https://github.com/AugurProject/augur-core/tree/upgrade_solidity) using 0.4.24 with SMTChecker enabled:

[code]
This error is reproduce-able by building the Augur project on the branch above and running:

`npm run docker:run:test:security:smt`

[2018-06-24 07:33] juanfranblanco commented on #3767
I am trying to have the capability of "querying" the chain, with many calls at once.  The idea is to stop it to be so chatty across the wire and reduce latency. So in that scenario, it is simpler not to know the size of the return in advance (well at least for the smart contract).

[2018-06-24 08:59] leonardoalt commented on #4341
Hi @nuevoalex , could you be more specific about the contract that causes the crash? We've fixed (unreleased) similar crashes in the SMTChecker recently so it could be a duplicate.

[2018-06-24 18:25] begelundmuller commented on #4168
Relating to the related problem, see https://etherscan.io/address/0xff1f9e2e0dcbaaa85d9320bca4d82d619eec531e#code. It redefines Transfer without indexed parameters. The Transfer event emitted contains no indexed data, however, the ABI says two of the fields are indexed. Clearly a bug.

[2018-06-24 20:39] randomnetcat commented on #4128
* [x] For rational literals that overflow target type: "Literal is too large to fit in [type]."
* [x] For signed rational literals that are to be converted to unsigned types: "Cannot implicitly convert signed literal to unsigned type."
* [x] For fixed point types that have too many fractional digits: "Too many fractional digits."

[2018-06-25 08:05] axic commented on #4339
Thanks! Do you want to create a PR fixing it?

[2018-06-25 09:28] yann300 commented on #4162
@chriseth can you reproduce with Google Chrome?

[2018-06-25 12:38] JesseBusman opened #4349 "Make pure function pointers implicitly convertible to view function pointers"
Solidity version: 0.4.24

If the parameter types and return value types match, a pure function pointer should be implicitly convertible to a view function pointer. The same goes for implicit convertibility from view to effectful, and from pure to effectful. It's the same principle as an implicit cast from `uint128` to `uint256`: going from less possibilities to a superset of possibilities.  For ex

[2018-06-25 13:35] D-Nice commented on #4264
Got it, thanks @androlo. The worry of course is that some making libraries in assembly are working under the assumption that it in fact is, so at least I see that the official stance is it is not.

I would normally associate free memory with empty memory, so to me it may appear like a misnomer to call it free memory pointer, but more appropriate to refer as new memory pointer, as any new memory sh

[2018-06-25 13:35] #4264 closed, assigned to nobody

[2018-06-25 13:50] ChrisChinchilla commented on #4339
@axic and @lawrnce I'm going through the FAQ as part of https://github.com/ethereum/solidity/issues/1219 right now, so will fix it as part of that issue if that's OK?

[2018-06-25 13:58] chriseth commented on #4128
What are places in the code where the condition for type conversion might be non-intuitive? Most of the forbidden type conversions are straightforward I guess.

[2018-06-25 14:54] #2907 closed, assigned to nobody

[2018-06-25 15:22] randomnetcat commented on #4109
- Yes, I think it is reasonable to expect more changes in Types where it would be useful to have access to pragmas.

Obviously, the second question is more complicated. I think it would be too unwieldy to get some context everywhere that could possibly use a Type. Since solc is inherently single-threaded (with no plans to change this right now), you could pass it in as a static field in the Type c

[2018-06-25 17:49] erak commented on #4128
@chriseth Yes, in the compiler they are straightforward. I was under the impression that these improvements should rather help users to better understand why their code doesn't compile. And, of course, to validate if we even need ethereum/solidity#3879.

[2018-06-25 20:15] chriseth commented on #4128
I meant straightforward for the users.

Could you incorporate @meowingtwurtle's suggestions into a new PR? Yeah, I guess it does make sense after all to have #3879.

[2018-06-25 20:28] androlo commented on #4264
@D-Nice Maybe use `msize` instead of `mload(0x40)`. I see some people use that. The memory at address `msize` (and beyond) should always be clear, since it is guaranteed to never have been used. From the YP, section 9.1: *"All locations in both storage and memory are well-defined initially as zero"*.

EDIT: obviously `0x40` would still have to be updated like normal...

[2018-06-26 00:15] axic commented on #4264
I wouldn't advise using `msize` without updating the free memory point at `0x40`. Is it a problem relying on `0x40`, but zeroing out the memory before using, if that is a requirement for the use case?

[2018-06-26 00:18] axic commented on #4264
@D-Nice It actually matches how malloc libraries work on POSIX. Only `calloc` is guaranteed to be zeroed out by doing a manual zeroing after allocation. (Now a malloc library may decide to do some optimisations.)

[2018-06-26 00:20] axic commented on #474
We could also introduce a version which zeroes out memory: `$allocateclear(size)`

[2018-06-26 00:20] axic commented on #4264
This should be less of an issue once built in helpers are made available to inline assembly, such as #474.

[2018-06-26 10:25] raphaelhuefner commented on #3637
Status update for the ACE part: https://github.com/ethereum/remix-ide/issues/1359#issuecomment-400242538

My hope is that the tokenization test data could prove useful for other syntax highlighters as well... time will tell, I guess.

[2018-06-26 13:33] D-Nice commented on #4264
Thanks for that @axic I was contemplating on whether it is indeed better to zero out the memory using `codecopy` as solidity natively seems to do, or just extending freemem to msize, but I guess the former is recommended, and would have lower costs if working with more memory-hungry code.

[2018-06-26 15:20] chriseth commented on #4162
@yann300 no, not at all.

[2018-06-26 15:21] chriseth commented on #4162
Ok perhaps to clarify: I don't use Ubuntu 16.4.

[2018-06-26 15:38] chriseth commented on #3294
Closing for now. Please reopen if it can be reproduced.

[2018-06-26 15:38] #3294 closed, assigned to nobody

[2018-06-26 15:42] chriseth commented on #1686
Incorrectly metered resource consumption ("DDOS") is not a concern for the language, but only for the VM, and I don't think it is an issue here. Currently, strings are implemented (note that this has been finalized for Solidity) as error messages with a possible extension to allow any ABI-encoded data.

Not sure what exactly you mean with "effect [...] on the stipend". This mechanism uses `returnd

[2018-06-26 15:42] chriseth commented on #4319
Because it is no longer optional in 0.5.0.

[2018-06-26 15:45] chriseth commented on #4334
Using `now` for constants is deprecated (it generates a warning) and will not be possible anymore starting with version 0.5.0.

[2018-06-26 15:45] #4334 closed, assigned to nobody

[2018-06-26 15:47] chriseth commented on #3402
The pull request is still under review: https://github.com/ethereum/solidity/pull/4014

[2018-06-26 15:50] #3794 closed, assigned to nobody

[2018-06-26 15:56] chriseth commented on #2511
@OTTO there was no clear conclusion about how to name the actual fallback function (function selector set, but does not match any function in the contract) and the function that is called when ether is sent and not data. It will probably go into 0.6.0.

[2018-06-26 16:43] aj07 commented on #4314
I have gone through the doc and found that they have written something like "comment called a natspec comment, for which the documentation is not yet written." whereas, I found https://github.com/ethereum/wiki/wiki/Ethereum-Natural-Specification-Format  There they have written about natspecs. Can we put summarize format of that link in solidity doc along with example. As of now the example is writ

[2018-06-26 17:53] chriseth commented on #4238
Note that the style used for readthedocs is slightly different than the one used by `make html` locally.

[2018-06-26 17:53] chriseth commented on #1256
I'll add it to 0.6.0.

[2018-06-26 17:55] chriseth commented on #4255
Duplicate of https://github.com/ethereum/solidity/issues/3457

[2018-06-26 17:55] #4255 closed, assigned to nobody

[2018-06-26 17:57] chriseth commented on #4260
The issues is not about the nesting. The issue is that mappings can only live in storage.

We should improve the message to state this, though.

[2018-06-26 17:57] chriseth commented on #4260
This could use the template @bit-shift built for returning error messages in deep calls..

[2018-06-26 20:13] D-Nice opened #4357 "new bytes overallocates memory, causing unneeded gas waste"
It seems when using `new bytes`, an order of magnitude more memory is allocated than is actually needed for the specified length.

Please refer to the following example, where A profiles current cost, B profiles expected cost, and C profiles current cost with the asm equivalent of what I think solidity is doing under the hood.

[code]

As the comment under the `newBytesNative` function states, it

[2018-06-26 21:22] axic commented on #4357
What version are you using? There was a bug like this which has been fixed.

[2018-06-26 23:29] fulldecent commented on #1686
@chiro-hiro Here is exactly how the alternate proposal works:

# Contract code

[code]

# Byte code

[code]

# ABI

[code]

# Discussion

Yes, you do have access to the revert reasons at run time, not compile time. However at compile time there is no need to place english-language strings into the byte code.

Also my approach allows you to extend this concept by adding a file math-zh.po:

[code]

[2018-06-27 00:56] Talvish commented on #2742
I'm still seeing errors and my setup is like @HaleTom (using node_modules).  Given that, and that the issue is still marked as open, I presume it is not yet fixed?

[2018-06-27 01:28] D-Nice commented on #4357
Any I've tried, which was quite a few, including early ones, so it appeared that all 0.4.* were affected. The ones I can vouch for sure which I just tested are 0.4.24 stable and the 0.4.25 nightly that's most recent of today.

[2018-06-27 03:29] carbonnetwork opened #4358 "How to call a token contract in another contract."
I have a ERC20 token contract. when I used javascript call the contract it worked very well.But when I call it in my another contract, it can't be work normally. My token inherited structure:

[code]
 I run these case below with truffle test.

First, I used like this:
[code]
Becase the msg.sender is caller address, it can't be transfer token from user who initiate the transaction.

Then , I tried

[2018-06-27 05:57] godfreyhobbs opened #4361 "Update to CircleCi 2.0"
CircleCI is currently warning that support for the 1.0 style configuration will end on August 31st, 2018. At this point, builds for this project will fail unless the configuration is updated.

Migration documentation is available here: https://circleci.com/docs/2.0/migration/

[2018-06-27 06:33] sifmelcara commented on #4319
Hmm.. then why don't we enforce the `storage`/`memory` keyword for all complex types in local scope?
Maybe emit a warning when missing data location specifier is a good first step?
(I think I can help implement this)

[2018-06-27 06:58] jameschen-epro opened #4362 "Infinite gas estimated in Remix"
Remix always tells the estimated gas of my getRemainingTimeEthToken function is infinite. When I deploy the contract to geth, the function always fails executing. However, it works well in local Javascript VM or Ganache.
* Solidity compiler version: 0.4.24
* Contract source:
[code]
**tokenReward** is the ERC20 standard token contract, **balanceOf** is the function of which as below:
[code]

* Remi

[2018-06-27 08:56] chriseth commented on #4361
Thanks for opening the issue! I'm a little worried - we never started with circleci 1.0 in the first place, are we not using 2.0 already?

[2018-06-27 09:00] chriseth commented on #4358
Sorry, but this does not sound like a compiler bug and the solidity issue tracker is not meant to be used for language support. Could you ask you question in http://gitter.im/ethereum/solidity or on ethereum.stackexchange.org, please?

It might be that you are running your contract on a testnet that is not set to byzantium mode.

[2018-06-27 09:00] #4358 closed, assigned to nobody

[2018-06-27 09:03] chriseth commented on #4319
We do enforce it! The question here is why it does not work for mappings, and my suspicion is that because it is not a reference type.

[2018-06-27 09:26] erak commented on #4361
@chriseth Our ``circle.yml`` already requires version 2.0. I think we just have to move ``circle.yml`` to ``.circleci/config.yml``.

[2018-06-27 10:03] mikro2nd commented on #1213
Commit 4 pushed for review. Wording reverted to original except for changes specified by @chriseth.

[2018-06-27 10:04] mikro2nd commented on #1213
Commit 4 pushed for review. Wording reverted to original except for changes specified by @chriseth.

[2018-06-27 13:00] axic commented on #4239
Sorry haven't seen this ping. On a standard macos installation there's no `objcopy`. `otool` is the closest tool.

[2018-06-27 13:02] axic commented on #4239
I have pretty much the same, but I can successfully build solc.

[code]

[2018-06-27 13:13] chriseth commented on #2177
Yes, the list of all ABI types is defined here: https://solidity.readthedocs.io/en/develop/abi-spec.html?highlight=ABI#types

[2018-06-27 16:13] ewingrj opened #4364 ""_;" in modifier excluded from sourceMap"
Currently, the sourcemap excludes the `_;` within a modifier. I would think that the `jumpdest` in the modifier would map to this line, however in the following example it would actually map to the `require` statement. Is there a reason it doesn't?

[code]

[2018-06-27 16:29] #3955 closed, assigned to axic

[2018-06-27 16:29] #3978 closed, assigned to nobody

[2018-06-28 00:47] NavyaZaveri opened #4369 "Misuse of `view` modifier leads to weird side-effects"
Here's a simple dummy contract to illustrate the problem:
[code]
Say you call the follwing functions (in the same order):
1) `set_value(100);`
2) `get_value();`

The value returned turns out to be 0, not 100. The` view `modifier chunked beside` set_value(uint num) `isn't allowing for the state variable to be updated.

A slip-up like this could be potentially very dangerous. While the compiler does

[2018-06-28 02:53] wellcomez opened #4370 "I've fixed wrong ast-json output at 0.36"
If you are developer, you should know it.

[2018-06-28 08:00] itsN1X commented on #4122
I'll upload.
---

Yes, expire me at `07-07-2018` iff I don't pull-in.

`@14BME0133`

[2018-06-28 08:20] chriseth commented on #4369
This will turn into an error in the next release.

[2018-06-28 08:20] #4369 closed, assigned to nobody

[2018-06-28 08:21] chriseth commented on #4370
Could you provide more details, please?

[2018-06-28 10:05] sugalivijaychari opened #4371 "Error: Error: [ethjs-rpc] rpc error with payload {“id”:6223335088050,“jsonrpc”:“2.0”,“params”:"
I have deployed a smart contract in remix ide using meta mask and test rpc. I got the below error:

Error: Error: [ethjs-rpc] rpc error with payload {"id":6223335088050,"jsonrpc":"2.0","params":["0xf9061.......f2b"],"method":"eth_sendRawTransaction"} Error: transaction underpriced

So, please give me solution to resolve this issue.

[2018-06-28 12:13] leonardoalt opened #4373 "Codegen: Local variables are zero-initialized even if they are assigned in the same statement"
This can now be handled better since we create the stack slot at the same time the variable comes in scope and not at the start of the function.

[2018-06-28 15:13] axic commented on #4373
Ah, that's a nice benefit of the new scoping rules 😉

[2018-06-28 15:14] axic commented on #4371
I don't think this question belongs to this repo. Please check https://ethereum.stackexchange.com/ for answers.

[2018-06-28 15:14] #4371 closed, assigned to nobody

[2018-06-28 19:37] sifmelcara commented on #4319
I've finished the patch for this issue. But I think I found a strange behavior that presents in both solc 0.24 and current develop branch.
[code]
[code]
This is caused by `_variable.isExternalCallableParameter()` returning `false` and `_variable.isLocalVariable()` returning `true` (`_variable` = that problematic `Nested`). This is a bit counter-intuitive for me.

Not sure how should we interprete

[2018-06-28 20:10] chriseth commented on #4319
Interesting find! Can you create a separate issue about it?

[2018-06-28 21:59] #4238 closed, assigned to nobody

[2018-06-29 06:31] carbonnetwork commented on #4358
@chriseth  OK，Thanks!

[2018-06-29 07:50] sifmelcara opened #4382 "Nested function parameter have wrong default data location"
See https://github.com/ethereum/solidity/issues/4319#issuecomment-401149123
Solidity version: `0.4.24` / `develop`
Code:
[code]
Compiler output:
[code]
This is caused by `_variable.isExternalCallableParameter()` returning false and `_variable.isLocalVariable()` returning true (`_variable` = that problematic Nested). So ReferenceResolver treat that declaration as a local variable declaration.

[2018-06-29 08:00] sifmelcara commented on #4382
If I insert
[code]
into
https://github.com/ethereum/solidity/blob/c9cab803892a09386617faab6b4e1580ee2eaa47/libsolidity/analysis/ReferencesResolver.cpp#L309-L311
I got
[code]
where `[158, 164)` is the location of that `Nested`.

[2018-06-29 08:37] rainbreak commented on #911
possible for 0.6?

[2018-06-29 08:40] chriseth opened #4383 "CI: Check that every error/warning message in the code also appears in at least one test"

[2018-06-29 08:41] chriseth commented on #911
I don't think this will require a breaking change, but the timeline could be right.

[2018-06-29 08:42] chriseth commented on #4382
This might be solved by just abolishing the default data location feature.

[2018-06-29 08:48] sifmelcara commented on #4382
The question is, why is `isExternalCallableParameter()` returning false? It should return true, right?

[2018-06-29 09:49] chriseth commented on #4382
I think it returns false because the function type typename is not a callable ast node.

[2018-06-29 10:18] sontuphan opened #4384 "Cannot access an array within a struct"
Hi team! As the title, I got a problem with accessing the value of an array within a struct. For example:
[code]

I used remix.ethereum.org to call `add([1,2,3])` and then got the saved value by `BountyInfos[0]` but it just returned  `owner` and `start` properties. I also tried to get deep a little by looking over the ABI and I saw that the output only defines `owner` and `start`.
So, without crea

[2018-06-29 10:21] #1213 closed, assigned to nobody

[2018-06-29 10:22] chriseth commented on #4361
Do you want to do that, @bit-shift ?

[2018-06-29 10:23] erak commented on #4361
@chriseth Yes, can do that right away.

[2018-06-29 10:25] chriseth commented on #4384
The automatically added getters are a little limited. For this example, you have to write your own getter. The reason for the limit is that the size of the return value should be small and thus the getter cannot return dynamically sized arrays.

[2018-06-29 10:25] #4384 closed, assigned to nobody

[2018-06-29 10:56] chriseth commented on #4364
I actually don't think that any code is generated that could be assigned to the `_` - in the end, the code of the function is placed where `_` has been. Example:

[code]
compiles to
[code]
Which of the opcodes in that example would you assign to `_`?

[2018-06-29 11:28] #4361 closed, assigned to erak

[2018-06-29 16:53] PhABC commented on #3876
If I could only wish for one early Christmas gift, this would be it.

[2018-06-29 17:46] axic commented on #3452
This would only affect those not using `solc-js`. Is there anyone using `soljson` directly?

cc @iurimatias @gnidan @pipermerriam

[2018-06-29 17:48] gnidan commented on #3452
Truffle should be using only `compileStandard` at this point, but cc @cgewecke in case his upcoming changes are affected by this.

[2018-06-29 17:55] axic commented on #3452
Sorry, should have been more clear. Issue #2864 proposes new native function names in `soljson`. `solc-js` will be able to figure out what the underlying `soljson` has.

[2018-06-29 18:01] iurimatias commented on #3452
Embark uses `compileStandardWrapper` in solc-js.

[2018-06-29 21:36] chriseth commented on #3876
This is requested a lot, and I actually think that at least `abi.decode(data, T1, T2, ...., Tn) -> T1, T2, ..., Tn` shouldn't be too hard to implement. Should we give it a shot for 0.5.0?

[2018-06-29 22:09] veenaghorakavi commented on #3972
Yes I am working on the issue.

[2018-06-30 05:20] raphaelhuefner commented on #3637
Still working on the ACE part: https://github.com/ethereum/remix-ide/issues/1359#issuecomment-401518222

[2018-06-30 14:34] eelkevdbos commented on #2963
Hi @chriseth is there anything I can do to help resolve this issue? I've updated the pull request to reflect the feedback given #3056

[2018-06-30 15:46] snario commented on #3876
Yes -- this will accelerate state channels adoption.

[2018-06-30 20:32] dddejan opened #4391 "Z3 leaking memory"
Latest develop version:
[code]

Basic compile reports leaks with valgrind. This is Mac, but same happens on linux too:
[code]

[2018-07-01 11:11] ethers commented on #3132
@elenadimitrova Thanks for documenting the reason for internal constructors.

[2018-07-01 11:17] ethers opened #4392 "Allow constructor to be external?"
One way to see is that a `public` is both `internal` and `external`.
So why can't a constructor be `external` given that it can be `public`?
Is `public` on a constructor identical to `public` for a function?  If not, should there be a different keyword than changing the meaning of `public` for a constructor?

It would also be useful if marking a constructor `external`, prevented the contract from

[2018-07-01 15:08] ChandraNakka opened #4393 "Why this ethereum contract transaction used less gas?"
Please checkout this below ethereum transaction:

Actually, an ethereum transaction is consumes at least **35,000 GAS** to transfer ERC20 tokens on contracts for replacing two accounts balances and one event.

But, this transaction just used **21,003 GAS**. How it's possible?

  [1]: https://etherscan.io/tx/0xe9adbe7e538ccf9f9d4ede8cc4200581dac131976738d3bbf0eb90700cd8a2b6

[2018-07-01 17:07] #4393 closed, assigned to nobody

[2018-07-01 21:35] YoonjaeYoo opened #4394 "Using `create` opcode with arguments?"
With opcode `create`, a new contract account is created mentioned in https://blog.aragon.one/advanced-solidity-code-deployment-techniques-dc032665f434.

How can I specify **arguments** for the constructor of the contract to be created?
On Yellow Paper of Ethereum, it only says `create` opcode requires only v, p, s and none of these explains about **arguments**.