[2019-05-23 13:08] chriseth commented on #6827
Note that this will affect inline assembly, too!

[2019-05-23 13:10] leonardoalt commented on #6827
I would discourage that usage and optimize the statements away.

[2019-05-23 13:15] axic commented on #6827
The only real effect I can imagine is memory expansion cost would happen at a different part of the code and may cause revert at a different place (in case of out of gas), but that should have no effect on anything.

If we could somehow phase out the use of `gasleft` that would also reduce the number of contracts which depend on specific gas values.

[2019-05-23 13:18] bshastry commented on #6827
I think it is a good idea to document this and retain the current behavior (optimizing statements).

However, we need to think of a way to not trip the fuzzer if we decide to retain current behavior :-)

[2019-05-23 13:20] axic commented on #6827
The reason we added it to the optimise was that LLL relied on this behaviour. Perhaps we cannot change `libevmasm` because of that before we remove LLL.

[2019-05-23 13:24] chriseth commented on #6827
Ah right, it was because of LLL! Note that this is only about the yul optimizer.

[2019-05-23 13:30] EcmaXp commented on #6823
@chriseth I think it's bug of remix IDE. I'll close the issue.

[2019-05-23 13:30] #6823 closed, assigned to nobody

[2019-05-23 13:36] EcmaXp commented on #6823
This issue moved to https://github.com/ethereum/remix/issues/1199

[2019-05-23 14:00] chriseth opened #6828 "[Yul] Helper function to create special numbers"
We have a lot of code that uses expressions like `(u256(1) << _bits) - 1`. There should be helper functions to generate the largest and smallest numbers of the various signed and unsigned types.

[2019-05-23 14:12] bshastry commented on #6827
This issue does not reproduce on `0.5.8` so I would assume the "bug" is in unreleased Solidity.

[2019-05-23 15:24] chriseth commented on #6827
@bshastry yes, it is caused by the same thing that forced us to remove several log statements.

[2019-05-23 15:24] chriseth commented on #6827
Main task here still to do:
 - document in description of optimizer and in changelog

[2019-05-23 23:19] guylando commented on #4116
Note that implementations of the fix have an unexpected behavior that they give no indication of failure or revert in case where the called function does not exist.
Seems the 0x implementation protects from this but SafeERC20 and loopring don't:
https://github.com/Loopring/protocol2/blob/011c75f981091f87f5e31958a3cf3cf530894902/contracts/lib/ERC20SafeTransfer.sol#L43
https://github.com/OpenZeppeli

[2019-05-24 07:09] geekybcresearcher opened #6832 "Contract Not Storing Data"
## Description
Deployed Contract is not storing the data passed while processing a transaction on compiling the code with specific versions of Solidity. Below listed are the steps perform

## Steps Performed
1. Developed a very basic contract to store greetings data

**Contract Code**
`pragma solidity ^0.5.8;contract GreetContract {    string message;        event LogGreetAdded(address indexed fro

[2019-05-24 08:42] chriseth commented on #6827
We should maybe evaluate whether it is possible to have a behaviour like the old optimizer: Only optimize memory reads if there is no msize in the code. It is a little tricky with Solidity because yul code is usually optimized in isolation. We have multiple stages, though: During analysis, we can check for any msize instruction in the code and then not optimize memory if the user-supplied code has

[2019-05-24 08:46] chriseth commented on #6832
This is most likely caused by an outdated EVM version. Since 0.5.5, Solidity generates Istanbul-compatible code including shift instructions, which are interpreted as invalid instructions on pre-istanbul EVMs. I cannot tell you why geth would not use that as a default, though...

[2019-05-24 10:47] chriseth commented on #6827
An implementation of this would be:
 - create an AST walker that collects uses of `msize` (as builtin function call, and as functionalinstruction)
   This walker could later be re-used to check if a certain function has certain opcodes and which functions it calls -> #5608
 - split the property `sideEffectFree` into `sideEffectFree` and `sideEffectFreeUpToMSize`
 - update the UnusedPruner to take

[2019-05-24 11:02] chriseth commented on #6827
Ok, the above is a bit more complicated for solidity actually since we need to check all inline assembly blocks in all contracts and all libraries that have inline functions.

Maybe it would be better to just make that a yul optimizer setting and add an assertion that is triggered if the setting is active and the msize instruction is used.

[2019-05-25 21:31] Jorropo opened #6835 "Failed stack assertion related calldata arrays"
## Description

Hi, I was working on a [small project](Jorropo/ethertube) and I got an error with my code:
[code]
I can reproduce it from 5.2 to 6.0 (throw not implemented before that).
I also use ABIEncoderV2 to build `bytes[]`.

## Environment

- Compiler version: 5.9
- Target EVM version (as per compiler settings): IDK
- Framework/IDE (e.g. Truffle or Remix): Remix and linux 5.9 builded by my s

[2019-05-25 23:18] Jorropo opened #6837 "Feature Request: Remove semicolon obligation like JS does"
## Abstract
Simply allow user to chose to use semicolon like js does.

## Motivation
I was formed to programation with python so for me using () and {} for loops is an heresy but I understand why people like that and I think it add somethings to the style so I want not remove it evrywhere.

But: `;`

This is just useless except if you would do inline code.
A code without isn't less clear (its even

[2019-05-27 08:14] sifmelcara commented on #6835
Probably the same cause:
[code]
[code]

[2019-05-27 09:12] chriseth commented on #6832
Please reopen if you have further questions.

[2019-05-27 09:12] #6832 closed, assigned to nobody

[2019-05-27 09:14] #6783 closed, assigned to nobody

[2019-05-27 09:20] chriseth commented on #6827
Solidity inline assembly:
 - provide optimizer settings to the type checker
 - report an error if yul optimization is activated and inline assembly uses `msize`.

Yul optimizer:
 - as outlined in the [above comment](https://github.com/ethereum/solidity/issues/6827#issuecomment-495570535)

[2019-05-27 09:26] bshastry commented on #6685
How can we generate meaningful datasize and dataoffset statements?

[code]

[code]

[2019-05-27 09:51] ChrisChinchilla opened #6839 "[DOCS] Change instances of "exception""
We know try to refer to "exception" in a different way, preferring "revert" or "failing assertion". The issue is to track making those changes where relevant.

As discussed here https://github.com/ethereum/solidity/pull/6567#discussion_r286908561

[2019-05-27 13:06] Marenz opened #6842 "[Sol -> Yul] Arrays"
* [x] array new
* [x] index access
* *  [x] storage
* * * [x] Adjust IRStorageItem & dependencies to work with dynamic offsets
 * [x] memory
* [x] delete array
* * [x] set to zero
* [x] convert from/to ptr/non-ptr

[2019-05-27 13:14] Jorropo commented on #6835
@sifmelcara you are probably right because that exactly the same error with:
[code]
[code]
(Here done with remix)

[2019-05-27 13:58] chriseth commented on #6685
There is an example at the end of https://solidity.readthedocs.io/en/develop/yul.html
Basically all elements of the objects have names that you can use as strings. Maybe best to just use a fixed template for now.

[2019-05-27 14:27] bshastry opened #6845 "[ossfuzz] Install to and link from dependencies via relative path"
## Abstract

At the moment, ossfuzz Docker and CI builds install external dependencies to a global root filesystem based directory called `/src`

This is dangerous, we should move instead to a path relative to the solidity working directory. This issue tracks support for this.

## Motivation

## Specification

## Backwards Compatibility

[2019-05-27 14:57] ChrisChinchilla commented on #6689
It's a draft PR @guylando that is mostly doing some document rearranging now. But is this any better in helping you understand things?

[2019-05-27 15:54] #5972 closed, assigned to nobody

[2019-05-27 15:55] chriseth commented on #5803
I think we did it!

[2019-05-27 15:55] #5803 closed, assigned to nobody

[2019-05-27 15:58] chriseth commented on #5956
@erak what is the status here?

[2019-05-27 16:00] chriseth commented on #6266
@erak what is the status here?

[2019-05-27 16:21] guylando commented on #6689
@ChrisChinchilla Maybe I am missing something but I still don't see any explanation on when to use require and when to use revert. Randomly choosing which one to use feels bad for me as a developer.
The difference between require and assert or assert and revert are clear. The difference between revert and require is also clear. What is not clear is when to use if+revert and when to use require, be

[2019-05-27 16:42] chriseth commented on #6689
@guylando do you want us to mention something like
[code]

[2019-05-27 17:10] chriseth commented on #6837
The semicolon has several advantages: It provides better clarity about where a statement ends and where the next starts. Furthermore, it allows a recovering parser to get into a clear state more easily.

Example:
[code]

Furthermore, I would not so easily assume that just because removing semicolons in JS does not generate too many ambiguities (there is actually at least one where it makes a diffe

[2019-05-27 18:33] guylando commented on #6689
@chriseth if that is the case then it raises the question "But if they have no real difference and it is only a syntactic difference then why does revert(..) exist if it is just a syntactic sugar for require(1!=1, "..") ?"

[2019-05-27 20:17] Jorropo commented on #6837
@chriseth I'm not saying totaly removing semicolon, I'm saying depending of the context considering \n as a semicolon (I think your example shouldn't compile).

[2019-05-27 20:41] chriseth commented on #6837
For JavaScript, it does not matter which whitespace you use, as far as I know. Also, having a rule that `\n` can but does not have to terminate a statement is also rather dangerous, I would say.

[2019-05-27 20:43] chriseth commented on #6689
@guylando because having this freedom of choice makes some code better readable. Why do we have `for` if everything can be done with `while`?

[2019-05-27 20:54] guylando commented on #6689
@chriseth that is legit. For someone who likes to write code according to the best practices, reading the current documentation made it seem as though some patterns of use or tips on decision making between the use of revert and require were not stated. I now see that they were not stated because they do not exist so that is legit, just wasn't clear beforehand.

And when fallbacking to searching i

[2019-05-27 20:55] guylando commented on #6689
And when fallbacking to searching in google, finding this misleading answer: https://ethereum.stackexchange.com/questions/15166/difference-between-require-and-assert-and-the-difference-between-revert-and-thro/50957#50957 made the confusion even worse

[2019-05-27 20:57] guylando commented on #6689
(I am pretty sure there ARE known patterns of use / best practices of when to use for and when to use while)

[2019-05-27 21:39] Jorropo commented on #6837
[code]
[code]
This is dangerous ?
If that for storage I'm in fact quite okay with that, and I will continue to use semicolon in storage, but for instruction I don't see why this is dangerous ?
If your instruction is complete it shouldn't makes a problem.
So yes with what I propose this will not be possible any more:
[code]
but who does that ?
if you would pass multiple value in multi line you do:

[2019-05-27 22:24] chriseth commented on #6837
Ok right, I confused something there a out newlines and whitespace. I read up a little more on automatic semicolon insertion, and I am more convinced that we do not want to go down that road :)
The thing is, already in javascript there are certain confusing cases and it probably takes a while to find all of them. I believe that in Solidity there are even more such cases and people already try to f

[2019-05-27 22:30] Jorropo commented on #6837
I'm sorry if I have been a bit to rude, and at this point you are totaly right.

Okay, I'll try to understand how solidity have been made to try to do a beta, (I'll probably finish to write a python or go parser and do that here because my C experience is near 0).

[2019-05-28 05:31] chriseth opened #6850 "Use the BlockHasher to improve the search in CommonSubexpressionEliminator"
In CSE, expressions are compared for equality using a linear search. We should determine if this is a performance bottleneck and if using the ExpressionHasher would improve it.

[2019-05-28 06:16] sifmelcara commented on #6835
Ok I think I found the bug (when `accessIndex`, forgot to put calldata dynamic length array's size on stack). I can try to fix when I get time (this Thursday). (I haven't investigate possible fixes)

[2019-05-28 07:27] chriseth commented on #6835
@sifmelcara great!

[2019-05-28 09:48] #6792 closed, assigned to nobody

[2019-05-28 10:42] #6802 closed, assigned to bshastry

[2019-05-28 12:20] #6549 closed, assigned to bshastry

[2019-05-28 12:27] bshastry commented on #6808
This is closed via #6800

[2019-05-28 12:27] #6808 closed, assigned to nobody

[2019-05-28 12:29] bshastry commented on #6786
Closed via #6798

[2019-05-28 12:29] #6786 closed, assigned to nobody

[2019-05-28 13:40] leonardoalt commented on #6827
Closed by #6840

[2019-05-28 13:40] #6827 closed, assigned to nobody

[2019-05-28 14:24] chriseth opened #6854 "[Bug] Recursion test fails on appveyor"
[code]

[2019-05-29 07:37] mastereuclid opened #6861 "can't build on ubuntu 19 disco"
## Description
build fails with a bunch of undefined reference to 'boost::filesystem::path::remove_filename() or
CMakeFiles/solc.dir/CommandLineInterface.cpp.o:CommandLineInterface.cpp:function dev::solidity::CommandLineInterface::parseArguments(int, char**): error: undefined reference to 'boost::program_options::options_description::m_default_line_length'

I cloned the repo, ran the dependencies

[2019-05-29 07:41] bshastry opened #6862 "[Protofuzzer] Error converting case literals to u256"
## Description

A proto description like so

[code]

is thought to contain unique case literals even when it doesn't.

This makes the proto converter believe that it is generating valid yul code when it is in fact going to get rejected by the parser here

https://github.com/ethereum/solidity/blob/b716b211ef712440645da5b3918ca8d997736846/libyul/AsmAnalysis.cpp#L470-L473

The root-cause of the bug i

[2019-05-29 08:04] bshastry commented on #6861
Hello,

Thanks for your report. It looks like you may not have installed prerequisites required for building solidity from source that are listed here

https://solidity.readthedocs.io/en/latest/installing-solidity.html#prerequisites-all-operating-systems

[2019-05-29 10:18] Marenz commented on #6842
## Notes
### Index Access & Storage Item
To implement index access the IRStortageItem class its dependencies need to be changed to take a dynamic offset (a string) instead of the current `unsigned` type.
Existing hard-offset functions should stay and dynamic versions should be added so that the abi decoder doesn't have to change.

### setZero
setZero can be implemented in more simpler terms than t

[2019-05-29 10:20] bshastry opened #6864 "[SMTChecker] solAssert(m_context.knownExpression(*component), "") fails"
## Description

[code]

[code]

## Environment

- Compiler version: latest develop

[2019-05-29 11:14] chriseth opened #6865 "Activate SLoad resolver"
Eliminating sload instructions where the value in storage can be known was implemented in https://github.com/ethereum/solidity/pull/6807 but it has not been added to the OptimizerSuite yet.

[2019-05-29 11:24] chriseth commented on #6861
I am able to build solidity using the following dockerfile:
[code]

Can you somehow tell which version of boost you are using?

[2019-05-29 11:57] bshastry commented on #6861
Sorry, didn't pay attention to "ran the dependencies script" in the original post.

FWIW, the officially supported version of boost (via the libboost-dev-all package) is 1.67.0.1

https://packages.ubuntu.com/disco/libboost-all-dev

[2019-05-29 12:11] bshastry opened #6866 "[yul] optimizer takes several minutes on nested function calls"
## Description

[code]

## Environment

- Compiler version: latest develop

[2019-05-29 12:34] chriseth commented on #6866
This looks suspiciously similar to the other issue we had some weeks ago...

[2019-05-29 12:36] chriseth commented on #6866
And it can probably be solved by not inlining functions that are indirectly recursive...

[2019-05-29 13:45] bshastry commented on #6866
Do we want to flag bugs like this in the future? If not, I can look into limiting recursion depth of protobuf

https://developers.google.com/protocol-buffers/docs/reference/cpp/google.protobuf.io.coded_stream#recursion-limit

[2019-05-29 14:54] bshastry opened #6870 "[ossfuzz] reproducing use-after-free bug reported by ossfuzz CI on 28.05.19"
## Description

The ossfuzz nightly CI reported two bugs from it's last run

https://circleci.com/gh/ethereum/solidity/131898

One of them has been filed here https://github.com/ethereum/solidity/issues/6864

Since the other one was hard to triage, I created a dockerfile for easier replication.

Here's the full report as a gist: https://gist.github.com/bshastry/d58ffdd29f3317c83f3db483ac84b407

Do

[2019-05-29 15:46] chriseth commented on #6870
So this is not even related to the optimizer?

[2019-05-29 16:24] bshastry commented on #6870
It doesn't look like. Looks like a new bug during the destruction of the Assembly stack object.

[2019-05-29 17:29] chriseth commented on #6870
Can you say in which way it is new?

[2019-05-29 17:57] mastereuclid commented on #6861
ok, I probably didn't build and install boost from sources properly. I removed 1.70 re-ran cmake it found the system package version and it built successfully. Thanks for the help!

[2019-05-29 17:57] #6861 closed, assigned to nobody

[2019-05-29 18:06] #6862 closed, assigned to bshastry

[2019-05-30 03:32] bshastry commented on #6870
Oh I just meant that I've never seen a use after free bug report from the fuzzer for Solidity before this.

[2019-05-30 03:48] superduck35 commented on #3514
Interested to know the status of this as I seem to be getting some inconsistent behaviour between ~0.4.24 and 0.5.xx

[2019-05-30 09:05] wangjunbao2018 opened #6872 "Function selector and argument encoding problem"
Hi, there,

I get confused when I encode the arguments in the contract from [Solidity](https://solidity.readthedocs.io/en/latest/abi-spec.html#function-selector-and-argument-encoding).

Here is the contract:
[code]

In the document,  it says that  dynamic types should add the offset position, but for `bar(["abc", "def"])`, the result is `0xfce353f661626300000000000000000000000000000000000000000000

[2019-05-30 10:28] leonardoalt commented on #6872
Hi @wangjunbao2018 ,
`bytes3[2]` is not a dynamic type, that's why it's encoded in-place.

[2019-05-30 11:19] wangjunbao2018 commented on #6872
Thx.  I still don't understand.

In the official document, it's the definition of "dynamic" blow:

`bytes3[3]`  matches T[k],    why isn't  this a dynamic type?

[2019-05-30 12:00] leonardoalt commented on #6872
The type in question is `bytes3[2]`, a fixed-sized array of base type `bytes3`.
Since it's fixed-sized, it does not match `T[]` (dynamically sized).
It also does not match `T[k] for any dynamic T` because `bytes3` is not dynamic (https://solidity.readthedocs.io/en/v0.5.9/types.html#fixed-size-byte-arrays).

[2019-05-30 12:37] wangjunbao2018 commented on #6872
Ooooh，I see. thanks a million

[2019-05-30 12:37] #6872 closed, assigned to nobody

[2019-05-30 13:53] bshastry commented on #6870
I can confirm that the use-after-free does not reproduce on a bionic build.

Distro | Library | version |
--------|-----------|-----------
bionic | libstdc++ | 6.0.25
disco | libstdc++ | 6.0.26
bionic | libboost-dev-all | 1.65.1
disco | libboost-dev-all | 1.67.0.1

My hunch is that the bug has more to do with the newer version of boost than libstdc++ because the use after free involves a boost var

[2019-05-30 19:27] fulldecent commented on #3514
@alsco77  This discussion is now rolled into https://github.com/ethereum/solidity/pull/3729

This issue can be closed when the conclusion is reached, wherever that discussion happens.

[2019-05-31 02:34] DanielZambranoC opened #6877 "Events in hub/factory contract"
## Description

I have written a contract with the hub/factory pattern in which I need to capture the address of the contract that is being created, for this I am using events.

Contract A
- Function A1
-- Call to Function B1
--- emit event

Contract B
- Function B1
-- Actions

However, I try making an event with a single contract and it works perfectly, I receive the receipt with the associated e

[2019-05-31 02:45] DanielZambranoC commented on #6877
In the test with only 1 contract you can see that I have the key/value structure of the event, name with their respective values.

In the test with the hub/factory contracts you can see what comes if the events, if I send 2, send me 2 arrays but without content but with raw data, I think that if I sent 100 events, they would sell the 100 array but without information.

## Result with 1 Contract

[

[2019-06-02 22:30] agroce commented on #1172
Not sure what you mean... the universalmutator won't usually produce semantically equivalent mutants, and when it does this is tough to know.  I guess given compiler version X that compiles A and B to same bytecode, you could check if Y also does.  But the answer might be hard to interpret...  I suppose if (1) Y does so, and (2) the bytecodes can behave different, then either X or Y is buggy...

[2019-06-03 07:21] bshastry opened #6879 "[yul] Exception due to syntax error in object access builtin function"
## Description

Syntax errors such as these should not throw an exception

[code]

but they do

[code]

## Environment

- Compiler version: latest develop

[2019-06-03 12:36] danjm commented on #4069
An issue in the ethereum/wiki repo that also questions the necessity of supporting fixed length arrays of 0 members: https://github.com/ethereum/wiki/issues/614

[2019-06-03 14:09] ekpyron opened #6882 "[DOCS] Document memory layout of arrays."
Whereas for calldata arrays the docs specify that all types follow the format defined in the ABI specification, I haven't seen any description of the layout of arrays in memory.

[2019-06-03 16:39] rocky opened #6885 "[DOCS] Add to list of tools, and configurations to assist in preserving style described in style-guide.rst"
-->

## Abstract

Mention tools and give configurations that will help maintain the current coding style.

## Motivation

[style-guide.rst](https://github.com/ethereum/solidity/blob/develop/docs/style-guide.rst) is pretty specific and detailed now. However there is no mention of tools and configurations of tools that assist in keeping the style the way it should be.

And it should be noted explici

[2019-06-04 10:04] anujajakhade opened #6890 "Test Cases failing with an invalid checksum error while running `scripts/tests.sh`"
## Description

I have build Solidity v0.5.9 on Ubuntu 18.04 (Linux). While running the test cases I am facing the below error
[code]
## Environment
- v0.5.9
- Linux  /Ubuntu 18.04
## Steps to Reproduce

[code]

[2019-06-04 15:57] ekpyron opened #6899 "Make ``release_ppa.sh`` treat the ``release`` branch specially instead of the ``develop`` branch."
Currently the ``release_ppa.sh`` script basically treats every branch that's not the ``develop`` branch as ``release`` branch - I think it'd be better and safer to treat every branch the same as a ``develop`` branch and instead treat the ``release`` branch specially.

[2019-06-04 19:45] ekpyron opened #6900 "Consider replacing jsoncpp"
- The repo looks like jsoncpp only receives minimal maintenance.
- The workaround of manually downloading jsoncpp in cmake is evil (we could of course attempt to change that in isolation, but there don't seem to be package updates for jsoncpp e.g. in recent ubuntu either making this a continuing hassle).
- jsoncpp is neither the fastest nor the smallest nor the most conformant option.
- There are

[2019-06-04 21:43] frangio opened #6901 "Gas-restricted staticcall is typed as non-view"
Using `.staticcall(...)` is allowed in `view` functions, but adding a gas restriction `.staticcall.gas(n)(...)` makes it disallowed in a `view` function.

The following doesn't compile unless you remove `.gas(30000)`.
[code]

Error:
[code]

[2019-06-05 06:29] princesinha19 commented on #3969
I am getting the same issue.
I am getting null data when calling the external function using web3 provider (Geth or Ganache). with VM it's working fine.
I am using ERC20 contract as external contract and loading using address.

ERC20 contract = ERC20(0xE7Cf373bc6dbda42ABCadEE138e8155EE05679d9);
uint256 r = contract.totalSupply();
return r;

**My gensis config**
[code]

[2019-06-05 08:45] leonardoalt commented on #6877
Hi @DanielZambranoC , can you please also provide the code that does not work for you?

I tried your code on Remix changing the first emit to `emit RegistroQueja(contrato);` and the second to `emit RegistroQuejaXXXX(nuevaQueja);`. It works fine as you can see (I called function `registrarQueja` with arguments `desc`, `name`, `n`, `c`):
[code]

[2019-06-05 08:46] leonardoalt commented on #6877
Also please note that emitting an event with a struct as a parameter requires `pragma experimental ABIEncoderV2` which I did use in the test above.

[2019-06-05 09:14] leonardoalt commented on #6890
I can't reproduce the problem on ArchLinux.
@bshastry you use Ubuntu, right? Could you take a look?

[2019-06-05 09:34] bshastry commented on #6890
@anujajakhade Thanks for the report, could you please paste more lines from the log file. Do you already know which test failed?

Another question: Are you using ubuntu 19.04 or 18.04?

[2019-06-05 09:38] ekpyron opened #6902 "[isoltest] Handle events in isoltest semantics tests."
At some point we should be able to expect events emitted during a transaction/call in ``isoltest``.
We'll first need to decide what syntax to use for that, though.
Suggestion:
[code]

Maybe we should also have some way to check the logged ether amount of the transaction.

[2019-06-05 11:56] ekpyron opened #6904 "[DOCS] Document minimal C++ compiler versions."
The "Building from Source" part of the "Installing Solidity" documentation does not mention the minimal compiler versions we require.

We can't just add it to the list, since people may choose different compilers on various systems (e.g. clang or gcc on linux). So we should probably add another subsection dedicated to compiler versions stating that the user needs *one* of them and states the minim

[2019-06-05 11:58] ekpyron commented on #6904
I think the minimal versions are GCC 5.0 and clang 3.4. For MSVC I think it's MSVC 2017.

[2019-06-05 14:12] ekpyron commented on #6854
Appveyor failure example:  https://ci.appveyor.com/project/ethereum-free/solidity/builds/24868176
Introducing PR: #6681
Reverting PR: #6857

[2019-06-05 15:11] christianparpart commented on #6900
wrt. nlohmann/json, they state `Our whole code consists of a single header file json.hpp`, which would be the main reason for me to choose them.

Also the examples he provides in the readme look very convincing to me. => :+1: for this one.

[2019-06-05 18:53] ekpyron opened #6905 "Consider enabling compiler warnings beyond "-Wall"."
There's quite a few warning types that are not included in ``-Wall`` - @Marenz stumbled across a case that would have benefited from ``-Wconversion``, which might make sense to follow in general (i.e. effectively disallowing implicit narrowing casts).

So we should evaluate whether we *can* and *should* enable further compiler warnings like ``-Wconversion`` or others. (It might be infeasible, thou

[2019-06-06 02:13] oracle3 opened #7044 "solc-js can't support ewasm"
use：
[code]
but not found wasm

[2019-06-06 07:02] anujajakhade commented on #6890
@bshastry I am working on Ubuntu 18.04.
Below is my failure log
[code]

[code]

[2019-06-06 08:16] leonardoalt commented on #6901
Since `.gas()` only restricts the amount sent I agree that it should work in `view` functions.

[2019-06-06 08:45] leonardoalt commented on #3825
Is this still valid?

[2019-06-06 08:47] leonardoalt commented on #1137
We should try this with the new code generator + optimizer

[2019-06-06 08:48] leonardoalt commented on #6761
@bshastry any news here? Can we close it?

[2019-06-06 09:18] ekpyron opened #6907 "BigEndian support"
@anujajakhade recently reported test failures in the gitter channel and it turned out they were due to the used system being BigEndian.

We should either *support* BigEndian or, if we can't, generate an error when attempting to build on a BigEndian platform.

Do we have the capacity to support BigEndian? Is there a decent way to simulate BigEndian for us to work on it (I guess none of us have a Bi

[2019-06-06 09:26] axic commented on #6907
I'd say it should be a build failure in cmake.

There are very few systems around today which are BE and I can't recall any widely used system which would be on a desktop.

Lot of RISC designs, such as PowerPC, MIPS and ARM can operate in big endian mode, but don't see any of these mainstream on desktop systems.

[2019-06-06 09:33] ekpyron commented on #6907
Yes, we should definitely produce an error for now - and I tend to agree that supporting BE might be out of our scope for the time being.

[2019-06-06 12:33] ekpyron commented on #6890
I'm closing this, since this was due to the system being big endian (see https://github.com/ethereum/solidity/issues/6907), right? Please reopen, if I'm wrong.

[2019-06-06 12:33] #6890 closed, assigned to nobody

[2019-06-06 14:31] ekpyron opened #6913 "Support Boost 1.70."
@salamani reported build problems in the gitter channel (thank you very much for your patience!) that led to the realization that apparently boost 1.70 silently breaks cmake support by starting to install a config mode cmake target configuration that is incompatible with the traditional cmake FindBoost modules.

We need to:
 - Support config-mode-only boost setups that *only* define cmake targets,

[2019-06-06 14:40] ekpyron commented on #6913
I suggest to increase the required version of cmake to ``3.5`` (which is the version in Ubuntu 16.04 xenial, i.e. the last LTS version) - that way we can generally use imported targets instead of the variables (which is the future proof way to go anyways).

[2019-06-06 14:57] ekpyron commented on #6913
Need to take care of ``scripts/travis-emscripten/build_emscripten.sh``, though... - currently it only overrides the old-style variables...

[2019-06-06 15:41] jonknight73 opened #6915 "solc in /tmp"
## Description
solc will not load any solidity files in /tmp, even when it has read-write access.

## Environment
[code]

## Steps to Reproduce

[code]
The file does exist. It is viewable. The same file compiles as expected when copied to my home directory. Solc works as expected in any other directory.

A colleague was able to reproduce this behaviour.

[2019-06-06 19:55] Meshugah commented on #6769
Would this be bounty worthy?

[2019-06-07 09:41] ChrisChinchilla commented on #6689
I can't really speak much for language design choices, as that's not really my area, and I would probably use the answer from @chriseth as more definitive (if not giving you the conclusive answer you are looking for) in preference of the SO thread. So I'll take a little of what he added and polish that PR some more.

[2019-06-07 10:37] ekpyron commented on #6907
It turns out that @salamani who reported the boost 1.70 issues is also on a big endian system - maybe it's not that uncommon after all and it might be worth to work towards better support (although we should always clearly mark it experimental in any case).

[2019-06-07 10:55] ekpyron commented on #3825
I haven't had any problems recently with aleth 1.6.0 and I'm not aware of anybody else having problems - should we close this?

[2019-06-07 10:56] ekpyron commented on #3825
I think this is fixed and obsolete and I'm closing it. Please re-open, if there's still any issues.

[2019-06-07 11:21] axic commented on #3825
Unless the RPC handling has been changed to properly handle different unix socket buffer sizes, than this problem persists.

[2019-06-07 11:27] ekpyron commented on #3825
Ok, I'm reopening until we have confirmation that it's fixed.

[2019-06-07 11:51] ekpyron commented on #6765
This is superceded by the constant optimiser, isn't it?

[2019-06-07 13:13] ekpyron opened #6917 "Consider updating emscripten 1.38.34 (resp. current version)"
From 1.38.24:
``Perform JS static allocations at compile time (#7850)``
might be beneficial.

From 1.38.27:
``Remove deprecated Pointer_stringify (use UTF8ToString instead). See #8011``
might be a problem (we used that at some point, I'm not sure we still do).

[2019-06-08 09:58] k06a opened #6918 "Consider adding Elvis operator (short ternary operator)"
Many languages support Elvis operator (https://en.wikipedia.org/wiki/Elvis_operator).
This could be `?:` or `??`.

## Abstract

I propose adding short form of ternary operator without second argument:
[code]
which is equal to the following:
[code]

## Motivation

This is cool feature and may simplify code:
[code]
=>
[code]

## Specification

Just allow:
- the first argument of ternary operator to

[2019-06-08 10:00] k06a commented on #6918
Oh, sorry: https://github.com/ethereum/solidity/issues/3487

[2019-06-08 10:00] #6918 closed, assigned to nobody

[2019-06-08 10:01] k06a commented on #3487
One more example:
[code]
=>
[code]

[2019-06-08 10:02] k06a commented on #3487
Also found Elvis operator on Wikipedia: https://en.wikipedia.org/wiki/Elvis_operator

[2019-06-08 22:46] rotcivegaf opened #6919 "abi.decodePacked"
## Abstract

I use abi.encodePacked to encode a data array of bytes, E.G.:

I have:
[code]
When i want recieve this data in a function, i need use an external library to decode the packed data

## Motivation

I actually use this [contract(library)](https://github.com/ripio/rcn-network/blob/master/contracts/utils/BytesUtils.sol) to decode the packed data

We need an abi.decodePacked, like abi.decod

[2019-06-10 13:16] bshastry commented on #1172
Okay, I don't know why I assumed mutants would be semantically equivalent, my bad.

Hmm... this is not in our threat model at the moment but it could be at a later point. I think we are presently only interested in generating semantically equivalent test cases for a fixed compiler version. CC @chriseth

[2019-06-10 13:41] snario opened #6920 "Version of library that enforces functional design"
It would be very nice for state channel based applications if we could restrict the set of applications to be `library` contracts that define a single data structure and only allow functional methods; that is, methods with a function signature like:

[code]

Perhaps this could also be a new kind of contract type? Maybe a `data` contract type? Ruby's `class` object seems to be similar to what I am

[2019-06-10 15:10] aihuawu opened #6921 "value unchanged when external calldata function call internal memory function"
struct A {
     uint val;
}
library lib {
 function f(A calldata a) external{
   g(a);
   // here I expect a.val == 1;
   // but it is still a.val == 0;
   // is this a bug???
 }
 function g(A memory a) internal{
   a.val=1;
 }
}

[2019-06-10 16:06] agroce commented on #1172
Yeah, we actually try to filter out all the equivalent mutants!  It might be an interesting task though, and you could write rules in the regexp-defined style universalmutator uses, and just apply that rule file...

[2019-06-10 16:39] agroce commented on #1172
Do you have in mind transformations that preserve semantics of interest?  Peppering all numeric literals with +0 is not very interesting.

[2019-06-11 07:52] aihuawu commented on #6921
It seems the it copy the memory value and so the value is unchanged.

Actually I want to use a deployed library to modify a memory location of the calling routine.
The following library code does not compile.
How can I modify a memory location through a deployed library?

library lib {

struct A {
uint val;
}
function f(A calldata a) external{
a.val=1; // Error: Expression has to be an lvalue.
}
}

[2019-06-11 09:32] ekpyron opened #6922 "Proper testing for "dev::keccak256" in libdevcore."
As far as I have seen in our test suite, the only case where we check the actual hash value of our ``keccak256`` implementation is for the empty string. We do check against ``aleth``'s implementation at some occasions, but that's probably basically the same implementation as we have (I haven't checked, though).

We should add some proper test values (a handful should be enough).
This came up durin

[2019-06-11 10:07] ekpyron commented on #6921
It's not possible to write to calldata (calldata is read-only), so I don't think what you want is possible *without* copying to memory. So
[code]
should work (but involves a ``calldata`` -> ``memory`` copy for every call to ``f``) - but you won't be able to modify an argument in ``calldata`` itself.

So I don't think this is in fact a bug - if you agree, please close the issue.

[2019-06-11 10:20] aihuawu commented on #6921
@ekpyron
Thanks.
Can you also answer my second question above?

I have a utility library deployed.  The methods are public or external.
I can't use internal since the master contract size can't go above 6.7M gas.

The utility library is separate and
it is supposed to be able to modify a storage and memory of the calling contract.
For storage, it is reference, so no problem.
But for memory, it is c

[2019-06-11 10:29] ekpyron commented on #6921
External library functions will be called using ``DELEGATECALL``, which will retain the calling contract's storage, but it's still a proper call, so the library will get it's own memory (and not retain the memory of the caller), so it's not possible to pass a memory reference, resp. modify memory across external library calls. You could e.g. pass it as argument to the library function and return i

[2019-06-11 10:32] aihuawu commented on #6921
Thank you.

[2019-06-11 10:32] #6921 closed, assigned to nobody

[2019-06-11 10:44] ekpyron commented on #6920
I'd say this is somewhat related to https://github.com/ethereum/solidity/issues/4637, although a bit different - might be worth thinking about whether both requests can be satisfied with the same language construct.

[2019-06-11 13:12] snario commented on #6920
@ekpyron it is quite similar, yeah. Would be happy to go into more detail about the use case if you'd like. Generally, we feel quite confident that this would be very useful for defining state transition logic in state channel applications.

[2019-06-11 13:13] #6511 closed, assigned to ekpyron

[2019-06-11 13:52] ekpyron commented on #6920
It might be good to go into some more detail, yes. If only a specific library (or a small set of libraries that is known in advance) should be able to implement such state transitions, then this will probably entirely fall under #4637, right? But you probably want arbitrary new libraries to be able to define new state transitions and just restrict the signature of functions that can use the state?

[2019-06-11 13:55] #6922 closed, assigned to nobody

[2019-06-11 14:03] snario commented on #6920
@ekpyron I think it would only apply to external library functions, probably optionally memory, in storage, or in calldata, but for the case of handling challenges in state channels, likely in calldata.

Also, `state` would be readonly.

Here is an example:

[code]

I think having a syntactic restriction around it would make it very hard for developers to mess up and make the model of having data

[2019-06-11 14:10] snario commented on #6920
In state channels the state structure we are thinking of that motivates this use case will roughly look like this:

[code]

Using the `FunctionalCounter` example above, then `s1` might have the `state` being the encoded version of the `uint256` value `1`, the `stateTransitionLibrary` being the address of a `FunctionalCounter` library. Then, `s2` would have `transitionData` being the encoded versio

[2019-06-11 14:26] bshastry opened #6926 "[Testing] Run fuzzer nightly tests across all supported boost versions"
## Abstract

Boost version incompatibilities may introduce bugs in solidity. Examples are #6667 and #6870

## Motivation

Add a nightly CI (one each) for boost >=1.65 <= 1.70

## Specification

TBD

[2019-06-11 14:37] ekpyron commented on #6920
Hm... maybe it would make sense to extend #4637 with some notion of "library interfaces" or "library inheritance"... e.g. (to sketch the rough idea):
[code]
Where ``private struct`` is to be replaced by whatever syntax we'd add for "closed structs" in #4637.
The idea being that only libraries inheriting from ``StateTransitionInterface`` can access ``ChannelState`` and can only do so in the interfa

[2019-06-11 14:48] ekpyron commented on #4637
#6920 in combination with this suggests that it might make sense to add some kind of notion of "inheritance for libraries" or "library interfaces", so that different libraries implementing a particular interface can access the struct (to satisfy both use cases it'd of course have to be possible to allow and disallow access via inheritance).

[2019-06-11 15:15] nventuro commented on #4637
@ekpyron are you suggesting something along the lines of what C++ does with `public`, `protected` and `private`? (brief description [here](https://en.wikipedia.org/wiki/C%2B%2B#Encapsulation))

[2019-06-11 16:06] ekpyron commented on #4637
@nventuro Yes, something like that - if we extend the proposal in this issue like that, we'd probably reasonably solve the request in #6920 as well using one and the same language concept. So far, however, we don't have library inheritance at all, so we need to decide whether it's worth to introduce it for this purpose.
EDIT: although I'm actually not sure whether the state transition contracts in

[2019-06-11 16:14] ekpyron commented on #6920
Another question: is there a reason for the state transition contracts to be libraries in your use case? So do you need to access the callers storage and rely on delegatecall? Or are the state changes likely to be ``view`` or even ``pure`` functions anyways? So could the state transition be an ``interface`` and the "state transition libraries" be regular contracts implementing that interface? Then

[2019-06-11 16:33] snario commented on #6920
@ekpyron State changes will _only_ be `view` or `pure` functions.

The name thing I'm hoping to achieve is not requiring the implementation to have a single accessor function (e.g., `applyAction(state, action)`) and instead allow developers to just define functions like they would for any regular Solidity contract.

[2019-06-11 16:51] ekpyron commented on #6920
Ok, in that case a solution involving interfaces will probably be of limited use.
Then I would take a step back :-).

I'm not sure about your original suggestion of restricting the function signatures in which the struct is allowed to occur - would it be enough to introduce a concept like ``immutable`` structs? I.e. a struct that can be constructed, but not modified after being constructed. That w

[2019-06-11 17:02] matiasmsm commented on #5139
+1

[2019-06-11 17:07] nventuro opened #6927 "Try/catch for external calls"
## Abstract

Solidity wraps the `call` opcode in a higher-level concept, that of _external function calls_. An external function call does more than a simple `call`, including:
 * checking that the destination address has code
 * reverting on `call` failure
 * decoding return data

This is a proposal to break down these steps so that reverting is optional, while keeping all other current semantics

[2019-06-11 17:11] nventuro commented on #6927
https://github.com/ethereum/solidity/issues/1505 is related to this, but I wanted to create a new issue altogether to discuss the proposal without interfering with the discussion in the previous one, which is not restricted to a single external call.

Note however that @SIlentCicero's [comment](https://github.com/ethereum/solidity/issues/1505#issuecomment-456241736) there illustrates the scenario

[2019-06-11 18:08] maraoz commented on #6927
Thoughts on removing the `then`? (I'm sorry if already discussed on gitter or elsewhere)
[code]
This would be more in line with other traditional programming languages.

[2019-06-11 18:51] snario commented on #6920
That satisfies most requirements except for having a guarantee that a function call applied to the old state will return a new state of the same type.

[2019-06-11 19:07] nventuro commented on #6927
@maraoz going for full-featured exception support (e.g. including `require` statements or internal function calls inside a try block) is a much more complex task requiring runtime support, and is out of scope of this feature request.

If we indeed restrict `try` to external calls, a syntax such as the one you proposed may (will?) lead people into thinking they _any_ revert inside the `try` block w

[2019-06-11 21:12] alcuadrado commented on #6927
I really dislike the `then` keyword, but I agree with this.

Java has a similar syntax for [try-with-resources](https://docs.oracle.com/javase/tutorial/essential/exceptions/tryResourceClose.html):
[code]
Its semantics are completely different from the ones proposed here, so I think it would also be confusing.

Isn't the root of this confusion reusing `try`, which has approximately the same semanti

[2019-06-11 21:46] nventuro commented on #6927
I would prefer something like `onSuccess`, but dislike double-worded keywords, and wouldn't make `success` a keyword by itself, since it is a very common variable name.

I've also considered this, and am not against it, but have no good suggestions.

Since `try/catch` is so similar to what we want to do, I think a bit of quirkiness in how it looks/behaves (we have a fair share of this already in t

[2019-06-12 00:10] abcoathup commented on #6927
My concern is using try/catch for this use case could be confusing for developers coming from other languages.

Is it possible to wrap an external call and append a success bool and error data to the return types so that an if/else pattern could be used?

[code]

[2019-06-12 00:15] nventuro commented on #6927
Yes, but then you lose the niceties of having `ret_value` and `error_value` scoped only to the blocks where they make sense. Would you e.g. leave `ret_value` uninitialized, or with some default value when `success` is false?

[2019-06-12 00:42] abcoathup commented on #6927
Which explains why appended success/error used with if/else is not a runner unfortunately. :smile:

Synonyms for `then` don't show any great alternatives.
https://www.thesaurus.com/browse/then

Same goes for `try`.  Though `dab` could be fun.
https://www.thesaurus.com/browse/try
Could reuse `external` instead of `try`, though I think `try` captures the concept better.

[code]

I am more reassured

[2019-06-12 04:46] maxsam4 commented on #6927
I'd love to see this implemented. I talked about try catch in my eth new york talk and wrote a post with an example on how to do it with current syntax just a couple of days back https://blog.polymath.network/try-catch-in-solidity-handling-the-revert-exception-f53718f76047

Although what this proposal proposes can already be done fairly easily, I still really want this to be implemented because th

[2019-06-12 05:29] nventuro commented on #6927
Your blogpost reminded me of this issue and prompted me opening this feature request :joy:

`public` functions can be externally called by going trough `this`, so your example could be written as

[code]

I guess we _could_ have the compiler transform an internal call to an external one automatically when inside `try`, but that may be too automagical. I can live with `this.foo`, especially for an

[2019-06-12 05:42] maxsam4 commented on #6927
Yeah, that's what I was thinking. It makes things a bit cleaner but brings in a bit of ambiguity. I'd be happy to see this implemented in either way.

[2019-06-12 08:25] bshastry opened #6928 "[yul] code generator throws "Stack too deep when compiling inline assembly: Variable value0 is 1 slot(s) too deep inside the stack.""
## Description

(May be related to #6731 )

[code]

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): petersburg

## Steps to Reproduce

[code]

[2019-06-12 08:57] hadv commented on #5139
this issue was done? @ChrisChinchilla ?

[2019-06-12 13:26] #6913 closed, assigned to ekpyron

[2019-06-12 13:37] bshastry commented on #1172
Nice, although I'm not sure if regexp is well-suited to create interesting semantically equivalent filters. As you said, `+0` is not very interesting.

Type casts [1] are an interesting pattern worth investigating. Perhaps it is better suited for writing a regexp rule even.

[1] https://github.com/ethereum/solidity/issues/4893

[2019-06-12 15:07] frangio commented on #6927
Alternatively we can use `as` or `in` instead of `then`. Also, the whitespace looks better like this, IMO:

[code]

The `as` keyword is currently used for renaming in `import` statements. Reusing it for this purpose might not be a good idea, I haven't made up my mind on this yet.

[2019-06-12 15:15] nventuro commented on #6927
Ohhh, I really like this! That usage of `as` remind me of how it's used in Python, where it serves the same purpose of assigning an expression to a variable (`with open('file.jpg') as f`).

[2019-06-12 15:21] maxsam4 commented on #6927
I like `as` but not `in`.
`promise` is also cool imo.
[code]
or even use `let` instead of `try`
[code]

[2019-06-12 15:25] maraoz commented on #6927
I love @frangio's proposal!!

[2019-06-12 19:14] #6671 closed, assigned to nobody

[2019-06-12 19:24] danno-s opened #6933 "Inconsistent gas costs for simple operations."
## Description

### Bug
Simple functions that do a single arithmetic operation and assignment, and have no branches in their code can have different gas costs, depending on what functions have been called before.

### Expected behaviour
Functions with no branches in their code, always cost the same amount of gas, independent of previous function executions of the contract.

## Environment

- Compi

[2019-06-12 23:01] nventuro commented on #6901
The following code can be used as a template for an assembly-based workaround to this issue (assuming an `uint256` return value):

[code]

[2019-06-13 01:40] sifmelcara commented on #6933
I guess it is because when you set a zero value in storage to a non-zero value, you need to pay 20000 gas. But when you set a non-zero value into another non-zero value, you only need to pay 5000 gas.

You can refer to https://github.com/djrtwo/evm-opcode-gas-costs to see the gas cost formulae for
 the `SSTORE` instruction

[2019-06-13 03:38] HarryR opened #6934 "`if` statements in Jul are broken/fubar"
## Description

`if` statements in Jul are broken

## Environment

 - https://remix.ethereum.org/#optimize=false&version=soljson-v0.5.10-nightly.2019.6.12+commit.502d22a2.js

## Steps to Reproduce

[code]

Gets compiled to:
[code]

So, the compiler is inserting an additional `ISZERO`, which negates whether or not the branch should be executed for the Jul code:

[code]

The code generator which ins

[2019-06-13 04:15] zulhfreelancer commented on #5139
@hadv merged in https://github.com/ethereum/homebrew-ethereum/pull/221.

Tutorial:
https://medium.com/@zulhhandyplast/how-to-install-solidity-0-4-x-on-mac-using-homebrew-8dfadb244f5d

[2019-06-13 07:31] bshastry commented on #6761
@leonardoalt haven't worked on this, will try to reproduce/close in the coming days.

[2019-06-13 09:51] ekpyron commented on #6907
I added some unit tests for our keccak implementation in https://github.com/ethereum/solidity/pull/6925, since I expected them to fail on BigEndian and @anujajakhade confirmed that they do. Fixing that alone in a safe way would probably be quite some effort (unless we choose a different and endianness-safe keccak implementation from somewhere as replacement altogether).

Generally, a hard prerequi

[2019-06-13 10:04] ekpyron commented on #6907
@anujajakhade just mentioned that they can provide a BigEndian machine/server on which we could run CI tests.

[2019-06-13 10:18] ekpyron opened #6936 "Investigate running soltest against go-ethereum."
@gumb0 recently remarked that go-ethereum has merged "retesteth" support in https://github.com/ethereum/go-ethereum/pull/19631 and that it should support most or all RPC commands needed for running soltest.

We should check whether that's in fact possible - if it is, it might be nice to have a (nightly or regular) CI run testing against go-ethereum's EVM implementation as well.

[2019-06-13 10:20] axic commented on #6936
See also #2626.

[2019-06-13 10:22] ekpyron commented on #6936
Closing this as duplicate of #2626.

[2019-06-13 10:22] #6936 closed, assigned to nobody

[2019-06-13 10:24] ekpyron commented on #2626
They merged "retesteth" support in https://github.com/ethereum/go-ethereum/pull/19631, so it might be worth looking into this again, since they now seem to implement most, if not all, of the RPC API we need for soltest.
EDIT: Adding this to the 0.5.10 project to stage it for reconsideration.

[2019-06-13 10:28] ekpyron commented on #6907
aleth doesn't have any plans for supporting big endian systems. However, given the most recent developments regarding https://github.com/ethereum/solidity/issues/2626, we might be able to run the tests against geth in the future as well, though - do they support big endian systems? At a quick search I haven't found any information about that.

[2019-06-13 11:24] ekpyron commented on #6934
Regarding:
[code]
That ``ISZERO`` checks whether the condition in the ``if`` is *false* and in that case jumps over the body of the *if* - that seems correct to me. Note that ``JUMPI`` jumps if the argument is != 0.

I think one of your actual problem is that you use ``not`` in the ``if`` condition, while you actually want to use ``iszero``. Note that ``not`` is *bitwise* negation, whereas ``iszer

[2019-06-13 13:13] ekpyron commented on #6933
Yep, @sifmelcara is right - and that accounts exactly for the difference in gas costs. So I'm closing this - please reopen in case I'm missing something.

[2019-06-13 13:13] #6933 closed, assigned to nobody

[2019-06-13 14:59] HarryR commented on #6934
Apologies for the long dump of text.

Yes, it is trying to jump over the loop, to avoid executing the piece of code.

Do you agree that the following statements are equivalent, when `value=1234` ?

* `if not(iszero(mod(value, 2))) {`
* `if not(eq(mod(value, 2), 0)) {`
* `if gt(mod(value, 2), 0) {`

To this Solidity:

 * `if( (value % 2) != 0 ) {`

The documentation for the `JUMPI` instruction is:

[2019-06-13 15:19] leonardoalt commented on #6934
`which goes against what the spec says Jumps should be doing.`
Which spec are you talking about? Geth?

The yellow paper states the following:
[code]
Thus, the compiler behavior looks correct to me as well.

[2019-06-13 15:32] leonardoalt commented on #6877
Closing for lack of response. Please reopen if needed!

[2019-06-13 15:32] #6877 closed, assigned to nobody

[2019-06-13 15:34] leonardoalt commented on #6915
Hi @jonknight73 ,

I couldn't reproduce it on Arch Linux.
@bshastry can you take a look? (Ubuntu)

@jonknight73 could it be related to group permissions on the binary and on `/tmp`?

[2019-06-13 15:50] leonardoalt commented on #6919
The documentation states in https://solidity.readthedocs.io/en/v0.5.9/abi-spec.html#abi-packed-mode:
`Since the encoding is ambiguous, there is no decoding function.`

There is no way to know how exactly to decode the data in the general case.

[2019-06-13 16:00] ekpyron commented on #6934
I think the main misunderstanding is still the semantics of ``NOT`` and ``ISZERO`` (see the yellowpaper https://ethereum.github.io/yellowpaper/paper.pdf page 29 for reference).

I'm not sure where you get the idea that either ``ISZERO`` or ``JUMPI`` check something like ``.Sign() != 0``. The semantics for both are clearly specified in the yellow paper as "jumping if the argument is not zero" for `

[2019-06-13 16:04] HarryR commented on #6934
*major facepalm*

[2019-06-13 16:04] #6934 closed, assigned to nobody

[2019-06-13 16:07] rotcivegaf commented on #6919
Thanks, I'm understand.

[2019-06-13 16:07] #6919 closed, assigned to nobody

[2019-06-13 16:21] ekpyron commented on #6934
I'm just looking at https://github.com/ethereum/go-ethereum/blob/7504dbd6eb3f62371f86b06b03ffd665690951f2/core/vm/instructions.go#L255 - that is in fact written in a quite confusing way and it really looks like it checks the sign bit :-). But since in ``go``'s ``math/big``, ``Sign`` is specified like this here: https://golang.org/pkg/math/big/#Int.Sign and ``x`` is an unsigned integer, ``x.Sign()

[2019-06-13 17:33] #6901 closed, assigned to ekpyron

[2019-06-13 19:04] ekpyron commented on #6905
I had a quick look - this would require quite a lot of small changes - most of them would end up being reasonable, though, i.e. we do quite some random casting between ``size_t`` und ``unsigned int`` that'd better be avoided...

[2019-06-14 04:28] unicornonea opened #6941 "add a new instruction"
If I want to add a new instruction in the solidity compiler, I have some confusions:
 How I pass all the unit tests in test directory?
And how to avoid conflicts with the current code?

[2019-06-14 09:11] ekpyron commented on #6941
You can check https://solidity.readthedocs.io/en/v0.5.9/contributing.html#running-the-compiler-tests for information about the tests - basically you'll need a running instance of ``aleth`` (https://github.com/ethereum/solidity) in test mode and run ``scripts/tests.sh``.

For adding a new instruction (I guess you mean a non-standard EVM instruction?) I think you mostly need to add it to the list in

[2019-06-14 11:40] amkCha opened #6942 "abi.decode: function type cannot be decoded"
## Description

Function types are now available in solidity :  I would like to abi.encode a function and then be able to abi.decode this function. The encoding works but the decoding bugs

## Environment

- Compiler version: 0.5.1
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix): truffle 5.0.21
- EVM execution environment / backend / blockchain client: gana

[2019-06-16 11:46] sifmelcara opened #6946 "Failed semantic tests have strange "expected result v.s obtained result" formatting"
To reproduce this issue, first intentionally modify a semantic test test case's expected output, for example
[code]

Then run the tests:
[code]

it outputs
[code]
I think it does not properly print the actual obtained result?

I guess something went wrong in the following function
https://github.com/ethereum/solidity/blob/a6cc296cd9b9221df9a203cc9e85cb45f0086756/test/libsolidity/util/TestFunctionC

[2019-06-17 03:14] unicornonea commented on #6941
@ekpyron Thanks for your great answer. I've passed all the test cases, and  added a new instruction successfully. But after adding a non-standard EVM instruction, almost all of the test cases cannot be passed again. How I modify the original test cases so that they can be compatible with the new instruction?

[2019-06-17 08:14] bshastry opened #6947 "[optimizer] Redundant rule in RuleList.h"
## Description

https://github.com/ethereum/solidity/blob/e78500a1994a8dec7f328d4ad8764e79c80b2faf/libevmasm/RuleList.h#L92

is redundant (and buggy?) because the rule preceeding it is always picked up for any `mulmod` operation.

Buggy because the encoded transformation is not correct `a*b mod c != a*b`

## Environment

- Compiler version: latest develop

[2019-06-17 08:50] #6729 closed, assigned to bshastry

[2019-06-17 09:08] chriseth commented on #3969
With the most recent compiler, you also need constantinopleBlock and petersburgBlock (they might also be called differently, please consult the go-ethereum documentation.).

[2019-06-17 09:09] chriseth commented on #4069
A language is not required to support the full range of types documented in the ABI specification.

[2019-06-17 09:18] chriseth commented on #6882
@ekpyron can you provide a rough technical description that can be fleshed out by chris later on?

[2019-06-17 09:19] chriseth commented on #6885
Are you talking about the style of solidity source files or our internal c++ style?

[2019-06-17 09:34] chriseth commented on #6899
It might be necessary to also treat tags specially.

[2019-06-17 09:34] rocky commented on #6885
I  am talking about your internal C++ style and how to set up different programming environments to make it easy to ensure that the house C++ style is maintained.  For example in Emacs [here](https://www.emacswiki.org/emacs/IndentingC) is a partial list of formatting styles. Quoting from that:

* “gnu”: The default style for GNU projects
* “k&r”: What Kernighan and Ritchie, the authors of C used i

[2019-06-17 09:44] #5857 closed, assigned to nobody

[2019-06-17 09:46] chriseth commented on #6900
I had a quick look over nlohmann and found the following two items that might be issues:
 - https://github.com/nlohmann/json#comments-in-json (just remember we had some discussion about that at some point)
 - https://github.com/nlohmann/json#order-of-object-keys - we have to check if that can lead to nondeterminism

[2019-06-17 10:32] christianparpart commented on #6854
Fixed in #6948.

[2019-06-17 11:33] chriseth commented on #6947
Please remove it!

[2019-06-17 11:52] chriseth commented on #6765
No, the constant optimizer only operates on actual numbers. Expressions like `sub(codesize(), 10)` will not be improved by the constant optimizer.

[2019-06-17 11:56] chriseth commented on #3487
Closing since we do not support implicit conversion to bool.

[2019-06-17 11:56] #3487 closed, assigned to nobody

[2019-06-17 12:08] chriseth commented on #6928
This error cannot be prevented, unfortunately. You have to limit the number of local variables, but you do not have to limit the depth or the number of members in a struct.

[2019-06-17 12:37] #6947 closed, assigned to nobody

[2019-06-17 13:08] chriseth commented on #6907
I would say this is not a priority for now. I think we are happy to accept external pull requests that improve portability, but it is not on the near-term roadmap for the team itself.

[2019-06-17 13:30] chriseth commented on #6927
Just fiddling a little:
[code]

[2019-06-17 13:31] chriseth commented on #6927
[code]

[2019-06-17 13:31] chriseth commented on #6927
[code]
(sorry for the spam)

[2019-06-17 16:05] chriseth commented on #6915
This seems to use the "snap" distribution of solidity.

[2019-06-17 16:07] chriseth commented on #6885
We could not yet find a matching style set.

[2019-06-17 16:26] #6854 closed, assigned to christianparpart

[2019-06-17 16:32] #5673 closed, assigned to nobody

[2019-06-17 17:29] rocky commented on #6885
If you can find one(s) that is/are _close_ and describe the differences in terms of specific features, that would help greatly.

The fact that there is no matching style set is all the more reason that describing the variations from some existing style(s) would be helpful. Presumably those are more well known and used since they have been publicized enough to have codified it in style checking cod

[2019-06-18 00:02] axic commented on #6917
I think we had a workaround in place for a long while, but need to check if we had it since 0.5.0.

[2019-06-18 06:55] #5858 closed, assigned to ChrisChinchilla

[2019-06-18 08:44] chriseth opened #6956 "Better support ENS (namehash)"
This is currently a brainstorming issue. ENS should be better integrated into Solidity, but we probably do not want the compiler to make any name lookups at compilation time. Something like named constants supplied by the compilation driver / framework might be a good middle ground that could also be used for many other purposes.

[2019-06-18 08:57] chriseth commented on #6956
@arachnid suggested supporting namehash in the form `bytes32 nh = namehash("my.name.eth");`.

[2019-06-18 09:25] chriseth commented on #6956
The latter might either be specifically implemented in the compiler or it could be generalized to "parameterized constants" of the form `$namespace(arg1, arg2, arg3)`. For each such occurrence, the compiler enquires the compiler driver for the value of that constant and inserts it into the source code.

To ensure deterministic compilation and reproducible builds, a list of all the values for these

[2019-06-18 12:46] axic commented on #6956
Why should this get special treatment and not just implement #3878 ?

[2019-06-18 13:04] ekpyron commented on #6941
I don't think that any of the existing tests should fail due to adding a new EVM instruction. If they do there might very well be a bug in your change (i.e. you might have inadvertently added the new instruction to the list in such a way that the byte value of existing instructions changed or something like that). We won't be able to properly help you here without knowing what you do exactly, thou

[2019-06-18 13:05] ekpyron commented on #6899
Note that #6884 includes this change, so we need to be careful, if treating tags specially is in fact needed as well.

[2019-06-18 13:25] chriseth commented on #6956
Because the values of these parameterised constants might be not be pure expressions or might not be implementable in solidity. Namehash is, but it could also be something like `resolveAddressAtCompileTime("my.name.eth")`

[2019-06-18 15:13] axic commented on #6956
Why would this be needed? Could #1650 be considered as an option for this?

[2019-06-18 21:03] Arachnid commented on #6956
Namehash isn't really practical to implement in solidity - it requires doing UTS46 normalisation, which requires enormous (for a smart contract) character lookup tables.

[2019-06-19 07:50] chriseth opened #6962 "[Yul] Activate LoadResolver"
The LoadResolver has been implemented in https://github.com/ethereum/solidity/pull/6807 but not yet activated in the OptimizerSuite. It replaces mload/sload opcodes by the actual value, if it is known.

[2019-06-19 10:43] bshastry opened #6966 "[code generation]: Opcode 0xfe generated by solidity?"
## Description

(Reproducible via remix as well)

[code]

I compile this

[code]

I pass the input `26121ff0` (hash of function `f()`) to the evm for the `runtime_code` obtained via previous step.

[code]

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): petersburg
- Operating system: ubuntu 18.04

[2019-06-19 10:46] bshastry commented on #6966
Labeling it as bug because I have been able to successfully run bytecode generated by the upstream compiler in the past.

[2019-06-19 12:51] chriseth commented on #6966
This opcode is called the invalid opcode. It is a defined opcode which leads to a forced exception. It is used for e.g. array access out of bounds.

[2019-06-19 12:56] bshastry commented on #6966
Oh ok. Not able to spot the out-of-bounds access unfortunately.

[2019-06-19 13:04] chriseth commented on #6966
You never resize `sa`.

[2019-06-19 14:09] axic commented on #6966
Side note: in [EIP-1803](https://eips.ethereum.org/EIPS/eip-1803) I propose to rename it to `abort` to avoid all this confusion :wink:

[2019-06-19 14:44] bshastry commented on #6966
Closing this issue, since this is a stupid programming error on my part. I can confirm that I am able to reproduce [the abiv2 bug](https://github.com/ethereum/solidity/pull/6958/files#diff-1ff95bce7da3584881ddab5f4db52dd7) in unpatched solidity with this program

[code]

[code]

This should return `0x0000000000000000000000000000000000000000000000000000000000000001` when the bug is fixed.

Note to

[2019-06-19 14:44] #6966 closed, assigned to nobody

[2019-06-19 15:28] sifmelcara opened #6969 "Wrong type used to calculate memory array element offset"
## Description

This issue tracks discussion happened at https://github.com/ethereum/solidity/pull/6881#discussion_r289808363 and https://github.com/ethereum/solidity/pull/6965

The following line's `_arrayType.memoryHeadSize()` should be changed to `_arrayType.baseType()->memoryHeadSize()`
https://github.com/ethereum/solidity/blob/ae273ff3bda86df699ab00185e2c409bad128d4a/libsolidity/codegen/Array

[2019-06-19 15:32] chriseth commented on #6969
1) `m_bytes` was allowed to be zero in earlier versions.
2) the strange formula rounds to the next multiple of 32 - it might have just been copy-pasted for this special case.

[2019-06-19 16:03] #5405 closed, assigned to nobody

[2019-06-19 16:09] chriseth commented on #2405
Interface spec: https://github.com/ewasm/design/blob/master/eth_interface.md
How to use: https://github.com/ewasm/design/blob/master/interface_questions.md#synchronous

[2019-06-19 16:36] chriseth opened #6971 "Replace boost::regex by std::regex"
Solidity still uses boost::regex in some cases although we can already use std::regex. The code should switch to std::regex and the dependency on the boost::regex library should be removed from the cmake files.

[2019-06-20 08:40] princesinha19 commented on #3969
Thanks, @chriseth. Can you please point me to go-ethereum documentation?

[2019-06-20 08:44] chriseth commented on #6956
At the moment, I do not see an easy way to do this. We either need to support a specific set of macro functions inside the compiler or move this responsibility to the driver. Since the latter would either need a callback mechanism or a multi-pass compilation, both do not seem particularly nice.

[2019-06-20 08:47] chriseth commented on #3969
@princesinha19 sorry, I also do not know the details. Maybe @karalabe do you have a pointer to the genesis / init configuration options and how the hard forks are named? Thanks!

[2019-06-20 08:49] princesinha19 commented on #3969
Thanks, @chriseth. I am unable to call through ganache or geth both. I am getting below error.

`Error: Returned error: VM Exception while processing transaction: revert SafeERC20: low-level call failed`

Maybe you know about this error.

[2019-06-20 09:06] chriseth commented on #3969
@princesinha19 it is a very generic error. You might want to consider using a debugger to see where exactly the error is.

[2019-06-20 09:38] chriseth opened #6974 "[Sol->Yul] Overflow and other internal errors should use invalid instead of revert"
Arithmetic errors are always internal errors and thus should lead to a failing assert instead of a failing require.

What do you think, @leonardoalt @ekpyron  @axic ?

[2019-06-20 09:40] chriseth commented on #6942
Thanks for your report! This seems to be a limitation of the parser and this might not be so easy to fix.

[2019-06-20 14:28] chriseth opened #6976 "[Yul] Optimizer should not clear knowledge in non-continuing control-flow"
In situations like the following
[code]
The DataFlowAnalyzer will not be aware of the value of `x` in the last statement. It should take into account if a branching control-flow terminates or not before it clears knowledge of local variables and storage / memory.

[2019-06-20 16:42] wbt opened #6977 "Compiler randomly changes parameters"
## Description
Compiled contract functions sometimes have additional parameters randomly added in from other functions. In the most recently discovered example I have, a third parameter was added to a two-parameter function, leading a migration to fail (`Invalid number of parameters. Got 2 expected 3!`).  On inspecting the ABI in the JSON file for that contract (in `\build\contracts\`), I could se

[2019-06-20 17:10] chriseth commented on #6977
At a first glance, this rather sounds like a truffle bug - at least the Solidity compiler never outputs an error message of the form "Invalid number of parameters. Got 2 expected 3!". Do you know how the compiler is invoked? Is it persistent in some javascript environment or is it freshly initialized on each call?

[2019-06-20 18:19] sifmelcara opened #6978 "Specification of ABI decoding (especially padding in bytes)"
According to the doc:
[code]

But currently some semantic tests do not pad zeros, ex.
https://github.com/ethereum/solidity/blob/91a2a9a9c3cc46b7ef199c2691f06bfcbcda5203/test/libsolidity/semanticTests/abiEncoderV2/calldata_array_dynamic_index_access.sol#L33

I wonder if both ways of encoding are acceptable?

[2019-06-20 18:38] ekpyron commented on #6900
I think while the *insertion order* of the keys is not preserved, they don't have an "undefined" order - they use a ``std::map``, so in the end the keys will be ordered by string comparison and that's deterministic - but we need to recheck, yes.

Regarding comments I'm not sure - *should* we allow them even though they are actually *not* valid json? I know that json-cpp only supports them in a wei

[2019-06-20 20:48] wbt commented on #6977
The "Got 2 expected 3!" output is from Truffle (or more probably, the EVM) and occurs during migration, when I attempt to call the function.  That error just alerts me to the fact that there is an issue.  *Inspecting the compiled JSON file* reveals that the *compiled file* is incorrect.  Therefore, I believe pretty strongly that the issue *cause* is happening *during compilation*, even though the

[2019-06-21 12:30] ChrisChinchilla commented on #4099
Closed by https://github.com/ethereum/solidity/pull/6846

[2019-06-21 12:30] #4099 closed, assigned to nobody

[2019-06-22 01:48] nventuro commented on #6927
@chriseth I like the second and third options you proposed, the first one might trick people into thinking `ret_value` is scoped to the outer block. It'd be simply a matter of choosing between `as`, `result` and `returns`.

Would implementing this be feasible for an external contributor? If so, could you give some pointers regarding what would need to be done? I'm thinking the whole parsing of the

[2019-06-24 09:02] #6689 closed, assigned to ChrisChinchilla

[2019-06-24 09:11] #3167 closed, assigned to nobody

[2019-06-24 09:30] chriseth commented on #6978
I'm pretty sure that the `left` function here does pad to 32 bytes. Also the `96` shows you that `abi.encode` does perform padding.

[2019-06-24 09:47] sifmelcara commented on #6978
But the input is not padded. If I understand these semantic tests correctly, the input should follow the ABI specification

[2019-06-24 09:49] ChrisChinchilla commented on #2906
Going to close this as off-topic. While I agree that `decimals` is poorly explained, it's not really the place of the Solidity docs to explain token standards (at the moment). I may attempt to improve the explanation on the link above.

[2019-06-24 09:49] #2906 closed, assigned to nobody

[2019-06-24 09:54] #2614 closed, assigned to ChrisChinchilla

[2019-06-24 09:57] chriseth commented on #6978
Ah, sorry, now I see what you mean!
We could check the padding in the decoder, but it might be a little difficult to do that. In general, the decoder does not require this padding (I hope).

[2019-06-24 11:56] chriseth commented on #6927
I definitely like this to be in rather sooner than later. We would of course be very happy to have this done externally!

The following components would need changes:

 - liblangutil/Token.h to add new keywords (even better if we can reuse some existing reserved keywords)
 - libsolidity/ast/AST.h to add a new AST node type, also modify ASTVisitor.h and AST_accept.h accordingly
 - libsolidity/parsi

[2019-06-24 12:30] chriseth commented on #6977
Would you be so kind and modify truffle so that it somehow logs what exactly is sent to the compiler as input? This would allow to check whether is a problem in the compiler or in truffle.

[2019-06-24 12:36] #3849 closed, assigned to nobody

[2019-06-24 12:44] chriseth commented on #2626
De-prioritizing because we probably want to switch to EVM-C first and then this should be easy to do.

[2019-06-24 12:49] chriseth opened #6989 "Allow struct and enum definitions and global level"
This is https://github.com/ethereum/solidity/issues/4029 without the "using for" part.

[2019-06-24 13:05] wbt commented on #6977
@chriseth Truffle does log the list of files that are sent to the compiler as input.  However, even when the *same files* are sent twice in a row, even with the compilation results cleared out in between, the results are different.  That is what makes this such a hard issue to reproduce reliably.

[2019-06-24 14:27] sifmelcara commented on #6978
I just noticed that the following link says "representations without minimal offset possible" are allowed currently because the decoder simply follows tail pointers.

https://solidity.readthedocs.io/en/v0.5.9/abi-spec.html#strict-encoding-mode

The real question is, whether a "Solidity ABI compatible" decoder need to be able to decode byte arrays that have no paddings. If yes, the document should

[2019-06-24 14:38] chriseth commented on #6977
@wbt are the files sent by name or by content? If by content, can you check that it is actually the same content? Which "binary" of solidity are you using? If you are using docker, it could also be a cache problem there.

[2019-06-24 15:48] chriseth opened #6992 "[Yul] Word size transform for switch"
Part of https://github.com/ethereum/solidity/issues/2405:

Statements of the form `switch x case "..." { ... } ... default { ... }` need to be transformed from 256 bit to 64 bit.

One solution would be to change it to an if - elseif - chain, but we do not have `else` (that's what we have switch for...).

Another solution would be to just transform it into nested switch statements:

[code]

The pro

[2019-06-24 19:12] wbt commented on #6977
@chriseth It [looks like](https://github.com/trufflesuite/truffle/blob/c5d5b7d600d99d7ff7a8304b4b660475d41d91b4/packages/truffle-compile/index.js#L130) they are being sent by content.
Does the "0.5.9+commit.e560f70d.Emscripten.clang" above provide enough information about which "binary?"  I'm not quite sure how to answer that question.

[2019-06-24 19:22] ondratra commented on #3776
I would like to see this feature done. When working with custom data format it is useful to define couple of constants for the format. They can't be accessed in assembly resulting in more complicated patterns.

Following code illustrates the problem when decoding custom data format.
[code]
Assume input for `decodeMyFormat` is
[code]
then result is tuple
[code]

[2019-06-25 04:01] daenamkim opened #6995 "Negative initial values in array seem not working properly"
## Description

I found something strange when I assigned negative initial values in array, they return unsigned values but not int[] and int8[]. Also it was fine after I saved through methods.

What I expected was just showing up what I assigned first

## Environment

- Compiler version: 0.5.7, 0.5.8, 0.5.9
- Target EVM version (as per compiler settings):
  - 0.5.7: compiler default
  - 0.5.8: co

[2019-06-25 09:25] #3395 closed, assigned to nobody

[2019-06-25 11:04] chriseth commented on #6995
@daenamkim could you contact me at https://gitter.im/ethereum/solidity-dev or via chris@ethereum.org please? Thanks!

[2019-06-25 12:21] chriseth commented on #3776
We might be able to at least support a subset.

[2019-06-25 12:22] chriseth commented on #6977
Yes, it does. Can you maybe provide a complete log of how the compiler is used (which function is called with which value) so we can untangle this from truffle?

[2019-06-25 12:23] #6995 closed, assigned to nobody

[2019-06-25 13:37] wbt commented on #6977
Here's what I can find on that:
Truffle [creates](https://github.com/trufflesuite/truffle/blob/c5d5b7d600d99d7ff7a8304b4b660475d41d91b4/packages/truffle-compile/index.js#L125) a [CompilerSupplier](https://github.com/trufflesuite/truffle/blob/300a8caa167657aee8472fcc63a763f131e27ddd/packages/truffle-compile/compilerSupplier/index.js), [calls](https://github.com/trufflesuite/truffle/blob/c5d5b7d600d

[2019-06-25 13:46] bshastry opened #7000 "[abi coder v2] mismatch between coded and actual value"
## Description

[code]

returns false (0x000...00) when it should return true (0x00...01)

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): st petersburg
- Framework/IDE (e.g. Truffle or Remix): NA
- EVM execution environment / backend / blockchain client: geth evm interpreter
- Operating system: Ubuntu 18.04

## Steps to Reproduce

- Install geth

[2019-06-25 14:18] chriseth commented on #7000
Did you actually run the constructor code or just the runtime code? Without the constructor code, the initialization of `x_0 = "0"` does not happen.

[2019-06-25 14:20] bshastry commented on #7000
I see, I ran just the runtime code. Closing this issue as a false positive.

[2019-06-25 14:20] #7000 closed, assigned to nobody

[2019-06-25 14:35] chriseth commented on #7000
Maybe it is best to just add a second contract of the form
[code]

Then you do not even need to care about function signatures and can just execute the runtime code of the Factory function without any additional data.

[2019-06-25 18:32] wilcoxjay commented on #6210
I like the [Dafny](https://github.com/Microsoft/dafny) syntax for loop invariants. Something like this:

[code]

[2019-06-25 23:18] daenamkim commented on #6995
@chriseth thank you! you are so awesome! 😭

[2019-06-26 11:08] chriseth commented on #6210
@wilcoxjay the location of the invariant sounds good. Would that automatically be an inductive invariant if specified in a loop at that point? Would the postcondition be redundant in that case?

[2019-06-26 11:11] wilcoxjay commented on #6210
Yes, I usually think of inductive loop invariants. And yes, the postcondition is redundant. I just put it there to clarify that loop postconditions are just asserts.

[2019-06-26 11:12] chriseth commented on #6210
Considering a loop that has a loop condition which depends on data external to the loop - would the invariant also be checked if the loop does not execute for a single iteration? Phrased differently: Can we assume the loop invariant to be true after the loop even if it did not execute at all?

[2019-06-26 11:39] wilcoxjay commented on #6210
The way to think about a loop invariant like this is that it should be true every time the loop condition is checked. So in the `for` loop example above, every time `i < 100` is evaluated (no matter whether it comes back true or false), the invariant should be true.

So even if the loop is executed 0 times, the condition is still checked once, so yes, the loop invariant must be true.

[2019-06-26 12:58] chriseth commented on #6977
Do you think you can modify the truffle code locally to output everything that goes in and out of the compiler?

[2019-06-26 13:03] #6559 closed, assigned to nobody

[2019-06-26 13:30] #4728 closed, assigned to nobody

[2019-06-26 13:30] #4492 closed, assigned to nobody

[2019-06-26 13:31] chriseth opened #7007 "Investigate evmc / evmone for semantic tests"
Related: https://github.com/ethereum/solidity/issues/6795

[2019-06-26 13:33] wbt commented on #6977
@chriseth Yes.  I modified my local instance of Truffle (adding code [here](https://github.com/trufflesuite/truffle/blob/c5d5b7d600d99d7ff7a8304b4b660475d41d91b4/packages/truffle-compile/index.js#L133)) to set up some crude checks on the compiler output (counting inputs of some functions, looking at just the ABI portion of the output) to dump the compiler-input version of a contract if the checks

[2019-06-26 13:33] chriseth opened #7008 "Specify movability and side-effect-free-ness for ewasm builtins"

[2019-06-26 13:43] chriseth commented on #6471
@MicahZoltu etherscan has updated their verification tool. How do you feel about it now? Closing for now, please re-open if you still think this needs work.

[2019-06-26 13:43] #6471 closed, assigned to nobody

[2019-06-26 13:46] chriseth commented on #6375
This specific warning should not be moved into assembly stack, because it is used internally a lot. We might also not have any real warnings in assembly anymore. Closing for now.

[2019-06-26 13:46] #6375 closed, assigned to nobody

[2019-06-26 13:48] chriseth commented on #6879
To solve this, I think we need to provide the list of objects to AsmAnalysis.

[2019-06-26 14:15] chriseth commented on #5064
Added a test file: QmdB5JktqW6LPioJXACMxPqLeB36LtZ4ZN8oE31EkiuAHt

[2019-06-26 17:11] MicahZoltu commented on #6471
I haven't had a chance to try it out (haven't deployed anything recently), but it _looks_ like the situation has been remedied.

[2019-06-26 18:27] elenadimitrova opened #7011 "SMTChecker throws InternalCompilerError"
## Description
`InternalCompilerError` on SMTChecker compilation of Colony contracts from https://github.com/JoinColony/colonyNetwork/contracts

A couple of examples below

[code]

[code]

And a successful run with a contract that has no imports:
[code]

## Environment

- Compiler version: 0.5.8
- Target EVM version (as per compiler settings): (default)
- Framework/IDE (e.g. Truffle or Remix): `tr

[2019-06-27 09:22] leonardoalt commented on #7011
Hi @elenadimitrova , thanks for reporting. It's nice to know that more projects are trying out the SMTChecker.
I ran your example and actually got a different error, I'll need to debug a bit more.

[2019-06-27 11:18] #4092 closed, assigned to nobody

[2019-06-27 13:13] estimatedgasfee opened #7017 "Type string memory is not implicitly convertible to expected type struct InsanFactory.User storage ref"
pragma solidity >=0.4.0 <0.7.0;

contract InsanFactory{

    struct User{
         string name;
         address myaddress;
    }
    mapping(address => User) public userStructs;

    address[] public userAddress ;

    function createUser(string memory name,address myaddress) public{
        userStructs[msg.sender] = name;
        //set user name
        userStructs[msg.sender] = myaddress;

[2019-06-27 13:44] chriseth commented on #7017
This question is better asked at https://ethereum.stackexchange.com - you will get faster and better replies there.

One way to fix this is to use
[code]

[2019-06-27 13:44] #7017 closed, assigned to nobody

[2019-06-27 13:55] #6904 closed, assigned to ChrisChinchilla

[2019-06-28 18:10] haltman-at commented on #1803
I was going to open an issue suggesting you do something similar as with storage variables, but then I found this issue, so I'll just comment here.  I have two additional comments regarding this:

1. In addition to doing this with calldata variables that take up two stack slots, you could also do this with variables of `function external`, too.  Currently you can't use those in assembly either.

2

[2019-06-29 17:23] leonardoalt opened #7021 "[SMTChecker] Support Conditional"

[2019-06-30 11:06] nlohmann commented on #6900
Hi, I'm the author for [nlohmann/json](https://github.com/nlohmann/json). Please let me know if you need any assistance!

[2019-06-30 23:04] ghost commented on #3301
var x = foo();

I want the ability to change functions. I don't believe functions are a type. It is a grave mistake to depreciate var. Correct me if I'm wrong.

[2019-07-01 08:46] Marenz commented on #6651
@erak is it possible to test for the result `FAILURE` together with `string`? That's what a `require(false, "string")` would return

[2019-07-01 09:38] chriseth commented on #7007
Closing since https://github.com/ethereum/solidity/pull/7010 showed that evmone creates a tremendous increase in execution speed and might also reduce dependencies. We should not have evmone and aleth in parallel, in my opinion, since it would complicate testing dependencies. Also, the gas values and some other aspects still need some tweaking. Because of that, I would propose to complete it in th

[2019-07-01 09:38] #7007 closed, assigned to nobody

[2019-07-01 09:41] Marenz commented on #6651
@chriseth  says: evmc/evmone will support fail-reason strings

[2019-07-01 10:02] chriseth commented on #6992
Closed in https://github.com/ethereum/solidity/pull/7002

[2019-07-01 10:02] #6992 closed, assigned to nobody

[2019-07-01 10:03] chriseth commented on #3301
There are function types.

[2019-07-01 10:31] unboxedtype opened #7023 "[SMTChecker] Questions about verification results"
Trying to get familiar with SMTChecker. I run SMTChecker on the following smart contract,
got some results but having difficulty of properly interpreting them. Please have a look.

[code]

[code]
I receive the following results:
[code]
I do not understand this underflow warning. If I have i = 2, n = 50, then b[i] will be in
its expected range of b[i] = i + 1, for all i in [0; 50). Am I wrong here?

[2019-07-01 10:48] chriseth commented on #6900
@nlohmann great to have you here! Can you comment on the order of keys? Is it a defined order that may be different from the insertion order or can it depend on things like memory layout?

[2019-07-01 12:13] leonardoalt commented on #7023
Unfortunately loops are barely implemented at the moment and do issue lots of false positives.
In any case, these even show wrong models and are definitely bugs.
The assertion should also be reported as unsafe.

[2019-07-01 12:36] #7008 closed, assigned to nobody

[2019-07-01 12:37] chriseth commented on #7044
Which version of solc did you use here? Can you try with the latest version, please?

[2019-07-01 12:48] nlohmann commented on #6900
We use an `std::map` internally, so the order when iterating over an object is sorted alphabetically w.r.t. `std::string::operator<`.

[2019-07-01 13:03] chriseth commented on #6900
Wonderful, thanks!

[2019-07-01 13:39] unboxedtype commented on #7023
Thanks for clarification!

[2019-07-01 13:40] unboxedtype commented on #7023
Sorry, I closed it. Should I reopen, or it is known issue and we close this one?

[2019-07-01 13:44] leonardoalt commented on #7023
Let's keep it open as long as this specific case is buggy

[2019-07-01 15:48] erak commented on #5956
@chriseth I checked the the list again and all of them seem to be still blocked. I'd try to get in touch with the people behind those projects in order to see if they're interested in being part of our test infrastructure and if they would make some effort in supporting us with that.

[2019-07-01 15:53] chriseth opened #7028 "[isoltest] auto-update does not add `left(..)`"
[code]

(the obtained result should show `left(0xabcd)`).

[2019-07-02 02:59] haltman-at opened #7029 "Add centralized documentation for operators and what types they're legal for"
## Description

Currently, while Solidity has quite thorough documentation of its builtin functions, its operators are almost entirely undocumented.  While there is some scattershot documentation of particular operators, the only place I can find that documents the operators as a whole is their [precedence table](https://solidity.readthedocs.io/en/v0.5.10/miscellaneous.html#order), buried under mi

[2019-07-02 08:06] chriseth commented on #7029
Sounds great!

[2019-07-02 08:07] chriseth commented on #7029
Indeded, the comma operator does not exist. I think the table was taken from a different language and modified.

[2019-07-02 12:26] chriseth commented on #3776
Only implemented a subset for now.

[2019-07-02 12:27] chriseth commented on #3776
What does not yet work from the above is `uint256 constant sizeUint256 = sizeWord;`, i.e. referencing another constant. What does work, though are simple pure constant expressions like `2**20`.

[2019-07-02 13:41] chriseth commented on #5064
After some failures, we started another ipfs node on the same network, it automatically connected to the first node and got the file. It still was not on the gateway but when I checked 30 minutes later, it appeared on the gateway. So now I think the next test is to wait for some days and re-check if it is still on the gateway.

[2019-07-02 13:45] chriseth commented on #5064
Added another file which we also retrieved via the cloudflare gateway (to see whether its cache might have longer timeouts): QmXqNvVwR4hhNmwotFkHAosXnsxV8M7AdzxePvg5fXvYX8

[2019-07-02 16:15] chriseth commented on #3618
@juanfranblanco @iikirilov sorry for the delay, we are working on this now. Please check out the [PR](https://github.com/ethereum/solidity/pull/7033) to see if this is sufficient for your needs. Thanks!

[2019-07-02 19:47] dddejan opened #7035 "Function mutates state but compiles as pure"
## Description

The following contract compiles without error:

[code]

Function f is marked as pure but modifies the state. Shouldn't this be reported as a compile error?

## Environment

- Compiler version: 0.5.9+commit.c68bc34e.Darwin.appleclang
- Operating system: MacOS

## Steps to Reproduce

Run compiler on above contract.

[2019-07-03 12:05] #7035 closed, assigned to chriseth

[2019-07-03 12:11] #6748 closed, assigned to leonardoalt

[2019-07-03 13:26] erak commented on #6946
Thanks for the report. I can reproduce this issue and it seems to be related to a feature that was not fully implemented yet: When there's a mismatch in the expected and the actual result, the contract ABI is consulted in order to retrieve the correct type for that particular return value. This mechanism is not handling all types at the moment, which results in this issue.

We're working on it and

[2019-07-03 14:06] stanta opened #7039 "when "Stack too deep, try using fewer variables" error occurs?"
Hi, @chriseth, can you explain more about when  this error occurs?
https://github.com/ethereum/solidity/blob/930ce34953d7b42df95d309386258a322b3ca558/libsolidity/codegen/CompilerUtils.cpp#L435

[2019-07-03 14:29] chriseth commented on #7039
There are several situations in which this or similar errors occur. Most are related to too many local variables, parameters or return variables in functions. It might also happen if you have expressions that are too deeply nested. Maybe come to https://gitter.im/ethereum/solidity-dev to discuss in more detail.

[2019-07-03 14:43] sifmelcara commented on #6946
Could you elaborate the reason why test suite need to know the type of encoded data? Is this for pretty-print purpose?

Thanks!

[2019-07-03 15:20] erak commented on #6946
Sure! The purpose is to help developers to interactively update their semantic tests during development using one of our tools called `isoltest`. It provides an auto-update routine which can correct the expectations (e.g. in the case you've mentioned). And in order to provide "human-readable" formats of values passed to or returned by a call to the contract, the ABI is consulted to provide the typ

[2019-07-03 15:38] sifmelcara commented on #6946
Yes, thanks!

[2019-07-03 19:29] bshastry opened #7043 "bytes20 and address payable implicit conversion"
## Description

[code]

makes the compiler implicit convert the RHS of the assignment to `address payable` and generate the following error

[code]

However, all other fixed byte types work just fine if the RHS contains as many bytes as the type. Why is there this discrepancy for bytes20 only?

[2019-07-03 19:31] bshastry commented on #7043
I understand that this can be solved using something like
[code]

but wanted to check if such explicit casting for this edge case is the right way to make the error go away.

[2019-07-04 07:41] chriseth commented on #7043
This is one way to do it, but you might later encounter an "invalid address checksum" error if your hex literals also contain characters. Maybe it would be better to use
[code]
instead.

[2019-07-04 07:53] bshastry commented on #7043
`0x1234567812345678123456781234567812345678` was just an example. The value itself is derived from a hashing function after applying a mask for the said width.

do you mean non hex digit characters (i.e., not one of 0-9,a-f)?

[2019-07-04 07:57] chriseth commented on #7043
If you use non-number characters and the literal has a length of 20 bytes, you can run into the address checksum check. If you use `hex"..."`, then you won't have that problem.

[2019-07-04 08:04] bshastry commented on #7043
does this apply to other fixed width types of 160 bits, such as int160, uint160?

[2019-07-04 08:28] chriseth commented on #7039
Closing - please reopen if you have more questions.

[2019-07-04 08:28] #7039 closed, assigned to nobody

[2019-07-04 09:34] bshastry opened #7045 "Add checksum encoding utility function to be used by test code"
## Abstract

Specific use-case fuzz testing, but this may apply to semantic tests as well CC @erak @chriseth

Creating a test program with a valid `address` type value requires that the value be [checksum encoded](https://eips.ethereum.org/EIPS/eip-55)

This issue tracks support for the checksum encoding function as part of solidity utilities (perhaps libdevcore).

[2019-07-04 09:50] bshastry commented on #7045
This is exactly what I wanted to use. Closing issue

https://github.com/ethereum/solidity/blob/3b2ebba4727aa4d9efd1d569bc914dccb5121145/libdevcore/CommonData.cpp#L115-L134

[2019-07-04 09:50] #7045 closed, assigned to bshastry

[2019-07-04 10:03] chriseth commented on #7044
@axic if you think this is a solidity issue, i.e. related to standard-json, then I think we can close this here. I was wondering if solc-js does some reformatting of the standard-json for compatibility reasons.

[2019-07-04 10:05] chriseth commented on #7043
it applies to the literals, not to the types.

[2019-07-04 10:10] chriseth opened #7046 "Change Asm printer to use spaces instead of tabs"

[2019-07-04 10:42] axic commented on #7044
solc-js should not change the JSON input, it may (de)serialise it, but that's it.

[2019-07-04 13:01] chriseth commented on #7046
The goal is to remove the tabs here: https://github.com/ethereum/solidity/pull/7036/files#diff-8615e4545d6628f2239f28d7eb5ba63fR17

Actually I think it might be the re-indenter

[2019-07-04 13:04] chriseth commented on #7044
Then this is fixed: https://github.com/ethereum/solidity/blob/develop/test/cmdlineTests/standard_eWasm_requested/output.json

[2019-07-04 13:04] #7044 closed, assigned to nobody

[2019-07-04 15:53] stanta commented on #7039
what do you mean here?

[2019-07-04 16:01] chriseth commented on #7039
`(((x+1)*3+2)*4+5)*6+7`

[2019-07-05 03:52] zhjgit opened #7051 "How to get the function signature from contract bytecode"
How to get all the function signatures in the contract from the contract bytecode, I already know to get the evm bytecode in solidity：
[code]
Or how do I determine if the bytecode contains the function signature I need to call, how to modify the above inline assembly method?

[2019-07-05 17:28] djudjuu commented on #6710
maybe ```libdevcore``` is more appropriate here, as it already has a ```StringUtils.h```?

[2019-07-07 02:17] maharsh312 commented on #6432
I would like to work on it. I have some experience in C++. This seems to look like something interesting to work on.

[2019-07-07 06:49] fr0xk opened #7054 "Build fails on Alpine Linux"
![image](https://user-images.githubusercontent.com/52618169/60765039-66735200-a0b1-11e9-8ef2-cdf889975f6e.png)

See full travis log: https://cloud.drone.io/alpinelinux/aports/8288/
PR: https://github.com/alpinelinux/aports/pull/9343

[2019-07-07 07:18] zhjgit commented on #7051
@chriseth Can you look at this problem for me?

[2019-07-07 07:46] fr0xk commented on #7054
Build passed: https://cloud.drone.io/alpinelinux/aports/8291
There was few typo..

[2019-07-07 07:46] #7054 closed, assigned to nobody

[2019-07-07 08:37] b17wise commented on #3076
Same issue here:
I am building from tarball. Why it asking for a commit_hash?
https://cloud.drone.io/alpinelinux/aports/8293/

[Alpine Linux build]( https://github.com/b17wise/aports/blob/master/testing/solidity/APKBUILD)

[2019-07-07 12:37] sifmelcara commented on #7051
Is `solc --hashes` what you want?

[2019-07-07 12:43] sifmelcara commented on #7051
Oops sorry, I misunderstood your question. So what you want is something like https://github.com/ethereum/EIPs/blob/master/EIPS/eip-165.md ?

[2019-07-08 03:34] zhjgit commented on #7051
I don't use the interface, it's just a contract. I get the contract bytecode through the contract address, but when I call the delegatecall method, I need to know if the function signature is included in my contract, otherwise a revort error will occur. @sifmelcara

[2019-07-08 03:46] zhjgit commented on #7051
`pragma solidity ^0.4.24;

contract Test{
  uint256 public c;

  function doit(uint256 a) public{
      c+=a;
  }
}

contract A {

   function writeSomething(address addr,uint256 d) public{
       Test test = Test(addr);

       //I want to know if there is a doit method for this contract, otherwise I will make a mistake.
       test.doit(d);
   }
}`
Probably the contract code is like this. To avo

[2019-07-08 03:48] zhjgit commented on #7051
[code]
Probably the contract code is like this. To avoid calling the contract incorrectly, you must first check whether the contract contains a method.

[2019-07-08 08:11] leonardoalt commented on #7051
Does it have to be checked on chain? You could also check it off chain before calling `writeSomething` that `addr` has the method.

[2019-07-08 08:12] stanta commented on #7039
We get this error without reference to string in code. How can we locate error?

[2019-07-08 08:40] erak commented on #6432
@maharsh312 That sounds great! Do you need some guidance on where to start or a more detailed explanation of what has been discussed in this issue? Just let us know what's needed to get you started on this. We're more than happy to help!

[2019-07-08 08:56] zhjgit commented on #7051
@leonardoalt If  check it off the chain, the client needs to call the contract twice. This is not very friendly. I saw the solidity assembly language to get the contract bytecode, which should also get the function that exists in the contract, but I will not assemble the language.

[2019-07-08 09:06] chriseth commented on #7039
This problem can only be detected by the compiler at the very end of the compilation process. Because of that, it might even be that there is no related source code because it is a utility function used by many places in the code. We are working on better locating these errors. Until then, you can only try to simplify the code or remove functions to see what makes it compile. Sorry for the inconve

[2019-07-08 09:09] chriseth commented on #7051
@zhjgit I agree with @leonardoalt: this is very tedious and expensive to do on-chain. Furthermore, which conclusions do you want to draw from function hashes being checked by the target contract? The EVM does not have the concept of functions and even if the target contract checks for a function, it might even revert later on. So there is not even a concept of a function being present, because you

[2019-07-08 09:10] zhjgit commented on #7051
[code]
[https://github.com/ethereum/EIPs/blob/master/EIPS/eip-165.md](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-165.md)
I referenced the `noThrowCall` method, but it doesn't work. Can anyone help me modify it to make it work correctly?

[2019-07-08 09:13] chriseth commented on #6432
One piece of code you could look out for is
[code]

This is shared in quite some files. Especially if `m_expectation` and `m_obtainedResult` is a string, it can be pulled into a common base class, which could be named something like `SimpleTestCase` that itself inherits from `TestCase`.

[2019-07-08 09:15] zhjgit commented on #7051
@chriseth ok, However, such a contract often has a revort error. In order to reduce the consumption of gas on the chain, the optimal way is to verify whether the function signature exists under the chain?

[2019-07-08 09:39] chriseth commented on #7051
@zhjgit I don't think we can properly help you here. My gut feeling is that searching through the dispatch routine's binary bytecode is either error prone or very costly. Furthermore, we do not guarantee that the optimizer might either move it to same completely different location or restructure it in later releases of the compiler. Currently it has a rather regular structure, but it is already tu

[2019-07-08 09:46] zhjgit commented on #7051
@chriseth ok thanks , I can only do function checking under the chain.

[2019-07-08 09:56] chriseth commented on #3076
The commit hash is used to have a proper version number. Please use the archive that is provided as an artefact in the release.

[2019-07-08 10:00] #6632 closed, assigned to chriseth

[2019-07-08 10:28] bshastry opened #7059 "ABIv2 coder: Write proto specification and converter to test ABIv2 coder implementation"
## Abstract

This issue tracks support for a protobuf specification for testing the abi coder and a converter that converts this specification into a solidity test program

[2019-07-08 10:36] #7046 closed, assigned to christianparpart

[2019-07-08 12:19] bshastry opened #7060 "[TypeChecker] Null dereference in TypeChecker"
## Description

Found by oss-fuzz:

[code]

causes a null dereference here

https://github.com/ethereum/solidity/blob/25928767b7326bd6a3bca167717ad38c595c1eec/libsolidity/analysis/TypeChecker.cpp#L72

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): petersburg
- Operating system: Ubuntu 18.04

## Steps to Reproduce

[code]

[2019-07-08 14:36] christianparpart commented on #6669
Additional TODOs we've noticed during extracting some more tests.
*  keccak256 impl missing
*  storageEmpty equivalent
*  custom Cpp code *replacement* (most likely by hard coding results)
*  custom Cpp code on range *replacement*
*  custom Cpp *replacement*
* (for test strings): support expected return literal "abc\0\xff__"
* Sending ether (e.g.: to the constructor()) must work for test: balance(

[2019-07-08 15:20] chriseth commented on #6669
I think everything except for the last two do not have to be implemented - the tests can just stay where they are.

[2019-07-08 15:31] loredanacirstea commented on #3198
How about `fallback() payable calldata {}`?
Probably another name than `calldata`, as this one already has its use, but I used it for clarifying intent.
No `calldata` -> empty `msg.data`.

[2019-07-08 16:09] chriseth commented on #5064
The file that was also previously retrieved via cloudflare was available immediately (both on cloudflare and on the "official" gateway). The other file seems to be gone.

[2019-07-08 18:53] akhila-raju opened #7066 "Public field in mappings causing revert in a smart contract deployed by another smart contract"
## Description

Adding `public` to a mapping field in a contract that is deployed from another contract leads to a `RuntimeError: VM Exception while processing transaction: revert` error.

In EmptyContract.spec.ts, a NewContract is deployed first. Then,
[code]
is called, which creates a new EmptyContract. This test passes when `mapping(address => address) public depositContracts` does not contain

[2019-07-08 21:14] chriseth commented on #7066
Thank you for the bug report! The trace ends with a `STOP` an not with a `REVERT` - are you sure it is the right one?

[2019-07-09 08:48] chriseth opened #7067 "Document differences between Sol and Sol->Yul"
- overflow checks for arithmetic operations
 - max length for dynamic arrays

[2019-07-09 10:13] #7060 closed, assigned to chriseth

[2019-07-09 11:05] #7051 closed, assigned to nobody

[2019-07-09 11:54] chriseth opened #7070 "[Yul] add types to dialects, but keep a default type"
Since eWasm has different types, we have to enable the type system in Yul before eWasm can be completed. To make the code better readable, each Yul dialect will have a default type which does not have to be explicitly mentioned. For eWasm this is u64, for EVM it is u256.

The Yul parser, analyzer and printer should all honour types and the analyzer should also check them (#2324).

It is to be disc

[2019-07-09 12:32] #6710 closed, assigned to nobody

[2019-07-09 12:35] leonardoalt commented on #6974
I agree that if it's not calldata related it should invalid.

[2019-07-09 23:13] maharsh312 commented on #6432
I think I don't need help as of now. Do you guys have an IRC?

[2019-07-09 23:17] maharsh312 commented on #6432
Never Mind. Found It!

[2019-07-10 07:47] bshastry commented on #7059
Closed by #6880

[2019-07-10 07:47] #7059 closed, assigned to nobody

[2019-07-10 14:02] akira-19 commented on #5918
@ChrisChinchilla We completed the translation. Can I create pull request to develop branch? We made a directory "docs_jp" on the same level as "docs". Would it be ok with that?

[2019-07-10 14:15] chriseth opened #7078 "[Yul] CommonSubexpressionEliminator should take pure-ness of user-defined functions into account"
Not only but especially with the introduction of the web assembly glue code, expressions often include user-defined functions. Think of endianness swapping code, for example. Currently, the CSE only considers built-in functions that are pure to not break this identity. We should extend pure-ness to user-defined functions such that CSE/Simplifier will optimize as follows (even without inlining):

[

[2019-07-10 14:29] chriseth commented on #7078
The first step here would probably be to build a call graph between user-defined functions. Then determine the "basic" properties of user-defined functions depending on the built-in functions they use in their code. Finally, propagate these properties backwards in this call graph.

[2019-07-10 16:46] #7043 closed, assigned to nobody

[2019-07-10 17:53] akhila-raju commented on #7066
No problem! Yes, that was all that was in the trace. I'm not sure why there isn't a `REVERT`.

[2019-07-10 20:10] sifmelcara opened #7082 "[semantic test] Report concrete reason of invalid encoding to user"
When I was adding new semantic tests, I tried to add a test case that contains `0x140` (which is an illegal literal because hex number needs to have even length, for some reason), and the test framework just says `Literal encoding invalid.`, which is not very helpful and confuses me.

It could be useful if it prints more concrete reasons. Also seems like `TestFileParser::parseABITypeLiteral()` is

[2019-07-10 23:33] Agusx1211 commented on #4834
Bump!

This may reduce all calls to external contracts by ~300 GAS, because currently after each call the address is checked using extcodesize, which uses 700 GAS, and extcodehash uses only 400 GAS.

It should also be checked that the result of extcodehash is not `c5d2460186f7233c927e7db2dcc703c0e500b653ca82273b7bfad8045d85a470` (account with no code).

[2019-07-11 08:18] chriseth commented on #4834
@Agusx1211 thanks for bringing this up again! Note that the constant `c5d2460186f7233c927e7db2dcc703c0e500b653ca82273b7bfad8045d85a470` has a deploy-time cost of more than 8576 gas, so this only amortizes after 20 calls. This should be checked against the `runs` optimizer parameter.

[2019-07-11 09:01] chriseth commented on #6978
The problem is that the documentation only fully specifies an encoder, but not a decoder.

[2019-07-11 09:02] chriseth opened #7083 "Switch to evmc/evmone for testing"
Continue here: https://github.com/ethereum/solidity/pull/7010#issuecomment-508051542

[2019-07-11 09:07] chriseth commented on #3198
@loredanacirstea I would really like to avoid the name `fallback` for the situation of receiving Ether (without data) - what does it have to do with "falling back"? It would be a smaller change, but I don't see a justification apart from the historical one. Please correct me if I misunderstood you.

[2019-07-11 09:13] chriseth commented on #5918
@axira-19 that's wonderful! How up-to-date is the translation? My main concerns about not merging right away are about versions: The version number in the japanese translation should reflect the actual state of the translation and not of the develop branch. Because of that, you would at least need to modify the part of `conf.py` that auto-discovers the version and maybe we should find a more susta

[2019-07-11 09:20] #6879 closed, assigned to chriseth

[2019-07-11 09:35] chriseth opened #7084 "[Yul] Construct call graph"
Construct a call-graph (including bulitin functions) of functions (not a control-flow graph!). This can be used for multiple purposes (maybe even in a single BFS search?):

 - https://github.com/ethereum/solidity/issues/7078
 - https://github.com/ethereum/solidity/issues/6866
 - find unused functions that recursively call each other and thus are not removed by the unused pruner

[2019-07-11 09:54] chriseth commented on #7066
@akhila-raju please either provide a trace that really is faulty or try to slim down the Solidity code into a single file, then I can try to reproduce it. Thanks!

[2019-07-11 10:07] akira-19 commented on #5918
@ChrisChinchilla We translated based on version 0.5.4. which I forked. During the translation, we didn't merge the "official" documentation. So literally, the Japanese translation is version 0.5.4.

It's hard to catch up with the latest version because the update is pretty fast.
This is the very first Japanese translation and I think we made some mistakes (we tried not to make them though), so we

[2019-07-11 10:12] chriseth commented on #5918
@akira-19 that sounds good! Maybe the best approach forward now is to link to the japanese version from the main page of the solidity docs. Once it is up to date, we can include it inside the repository.

[2019-07-11 10:31] akira-19 commented on #5918
@ChrisChinchilla You mean I publish them and you add the link, and you add them into the repository when we finish the modifications?

[2019-07-11 10:48] chriseth commented on #5918
Yes!

[2019-07-11 10:56] akira-19 commented on #5918
@ChrisChinchilla I got it. I'll let you know when I publish them. Thanks.

[2019-07-11 11:57] ekpyron commented on #7082
see also #6298

[2019-07-11 13:26] chriseth commented on #5064
File is still present.

[2019-07-11 13:36] ayrat555 commented on #4021
any updates on the issue? @axic
It would be nice to have metadata format description for all versions of Solidity, not only the latest one

[2019-07-11 15:30] rocky opened #7085 "Should --error-recovery continue on pragma errors?"
_Note: there have been edits made to try to improve clarity,_
## Abstract

When `--error-recovery` is given in solc, or the equivalent in StandardCompiler, should we continue parsing the Solidity program instead of terminating compilation?

## Motivation

The error recovery option is intended to report more information back when there are indeed errors. In my experience, mismatched pragmas are ver

[2019-07-11 15:39] chriseth opened #7086 "[Yul] Properly introduce and add ewasm types"
Related to #7070

[2019-07-11 15:41] rocky opened #7087 "Allow compilation starting from a Solc AST"
## Abstract

There may be situations where compiling staring from a solcAST is advantageous.

## Motivation

Here are two potential use cases. The first which is my main motivation for mentioning is that in IDEs where a program is getting developed the expected pattern is many failed compiles as one is developing the program followed by one last full compile.

For failed compiles, right now I am t

[2019-07-11 15:50] chriseth commented on #6651
Moving to 0.5.12 because of evmone.

[2019-07-11 15:57] chriseth commented on #7085
Can you please clarify: Continue with which program and beyond what point?

[2019-07-11 15:58] chriseth commented on #7087
Duplicate: https://github.com/ethereum/solidity/issues/2096

[2019-07-11 15:58] chriseth commented on #7087
Please feel free to add your motivation there.

[2019-07-11 15:58] #7087 closed, assigned to nobody

[2019-07-11 15:59] #7067 closed, assigned to chriseth

[2019-07-11 16:20] rocky commented on #7085
Suppose my program is this:

[code]

and I compile using the a compiler other than 0.5.0. I currently get this:

[code]

Often in the past in an IDE setting,  I copy a Solidity program from somewhere and get something like this.

Wouldn't it be nice if I got more than this one error message?

As for continuing, one can just assume the current compiler version. More elaborate would be to assume `>0

[2019-07-11 16:23] akhila-raju commented on #7066
Sure! Here is a single Solidity file:

[code]

[2019-07-11 16:33] chriseth commented on #7085
So is this issue just about the pragma or any fatal error outside of the parser?

[2019-07-11 16:39] rocky commented on #7085
It is no more than what I wrote.

I gave a specific situation and use case, and in my experience this has been an often enough annoyance in the past to mention it.

It can be simply fixed by having a lack of pragma or a pragma mismatch not be a fatal error, at least when `--error-recovery` is intended. There may be other ways to address, and that's okay too.

Please feel free to change the title i

[2019-07-11 17:05] rocky commented on #7087
Good to see that this is already in the queue. I thought I looked but didn't see it when opening this issue. Sorry.

What's there is sufficient. And that issue links back to this. So I'm good here.

[2019-07-11 18:01] dantedallag commented on #6971
Is this issue still available? I am new to contributing to open source projects and would like to get some experience!

[2019-07-11 19:32] haltman-at opened #7089 "Allow longer unicode escapes"
## Abstract

Solidity currently allows unicode escapes in strings, in the form `\uNNNN`.  However, this is only sufficient to cover the basic multilingual plane.  Anything beyond that must first be encoded as UTF-8 and then have its bytes entered manually.

## Motivation

Add unicode escapes covering the entire range of unicode code points.  One could perhaps borrow Javascript's syntax for this, w

[2019-07-11 20:35] chriseth commented on #6971
It is available, but it turned out that it is a bit more complicated than just replacing these strings, because boost provides a method that can use a replacement function which the std seems to be lacking.

[2019-07-11 20:37] chriseth commented on #7085
Yep, sounds good!

[2019-07-11 20:39] dantedallag commented on #6971
ok, awesome. I will still give it a go!

[2019-07-12 09:37] mesudip opened #7090 "Issue obtaining solc"
**Version** : 5.0.20 and later (or previous versions when specifying  solc version in `truffle-config.js`)

**OS:**
[code]

**Error output:**
[code]

[2019-07-12 11:17] erak commented on #6298
@chriseth I think calling `formatNumberReadable` seems to be not applicable in this case, since it would format "small" numbers (<= 0x1000000) as decimals and I would want to keep the hex format.

@ekpyron Does you suggestion also imply formatting values returned from a call as hex if i.e. user did not define expectations?

[2019-07-12 11:47] erak commented on #7082
@sifmelcara I started fixing this and some other issues with https://github.com/ethereum/solidity/pull/7052. Please feel free to comment :)

I also created https://github.com/ethereum/solidity/pull/7091 which fixes this issue.

[2019-07-12 12:16] akira-19 commented on #5918
@ChrisChinchilla I published the translation. Please add the link into the original documentation. Thanks!
https://solidity-jp.readthedocs.io/

[2019-07-12 19:47] sifmelcara commented on #7082
:+1:  Seems like there is a lot of refactoring going on

[2019-07-13 12:14] erak commented on #6669
@christianparpart @chriseth Here's a list of PR's adding a lot of the requested features / fixes:
- [x] Make `->` optional: https://github.com/ethereum/solidity/pull/7094
- [x] Add line numbers to parsing errors: https://github.com/ethereum/solidity/pull/7092
- [x] Sending ether with `constructor(), 2 ether`: https://github.com/ethereum/solidity/pull/7093
- [x] Extended string literal support e.g.

[2019-07-13 20:57] loredanacirstea commented on #3198
Ah, I'm not set on the name. It can be called something else. I was suggesting to only use 1 function with two optional modifiers: `payable` & `calldata` ("calldata" or another name).

[2019-07-14 15:40] ColonelJ opened #7096 "msg.sender.call.value(address(this).balance); should produce a warning"
## Description

When entering a statement such as `msg.sender.call.value(address(this).balance);` which doesn't actually do anything since the last `()` is missing, you'd expect to get a warning because the statement has no side effects and the value isn't used (as you do for something like `1+1;` where you get "Warning: Statement has no effect.")  However, you get no warning whatsoever.

## Envir

[2019-07-15 07:26] sifmelcara commented on #6978
Perhaps a decoder (which simply follows tail pointer) should be specified instead of an encoder? To allow multiple legal binary representations.

[2019-07-15 08:21] leonardoalt commented on #5064
I guess we now have positive data towards IPFS?

[2019-07-15 08:36] ChrisChinchilla commented on #5918
Sorry @akira-19 I was on holiday, will get this done now, and thank you again for your work, most appreciated!

[2019-07-15 08:49] chriseth commented on #7096
Not even `msg.sender.call.value(3)` seems to produce a warning.

[2019-07-15 08:49] chriseth commented on #5064
Looks like it...

[2019-07-15 09:18] leonardoalt commented on #7090
Hi @mesudip ,
Have you tried asking the Truffle folks (https://github.com/trufflesuite/truffle/)? It looks like this is coming from Truffle code.

[2019-07-15 09:22] leonardoalt commented on #7066
Hi @akhila-raju ,
What exactly should happen with the code above?
I just tried it on Remix and both contracts are successfully deployed.
Also calling `doDeploy` works fine.

[2019-07-15 09:25] leonardoalt commented on #6977
@wbt any updates on the issue?

[2019-07-15 09:32] bshastry opened #7098 "[Yul] optimizer optimizes out side-effects that change the value returned by msize()?"
## Description

Found by oss-fuzz: issue 15818

[code]

produces the following trace pre and post optimization

[code]

[code]

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): petersburg

## Steps to Reproduce

To obtain pre-optimization trace, do

[code]

To obtain post-optimized trace, first obtain optimized yul code like so
[code]
Then run yul

[2019-07-15 09:54] bshastry commented on #7098
Actually, #6830 makes an `msize()` call in the yul interpreter return a constant. So I'm not really sure what's happening.

[2019-07-15 09:58] bshastry commented on #7098
Oh, iiuc #6830 was not merged because we decided to fix a similar bug earlier #6827 via #6840

[2019-07-15 10:29] bshastry commented on #7098
I can reproduce this issue on `>=0.5.9`

[2019-07-15 11:15] seanyoung opened #7101 "Deployed library bytecode does not match Evm.DeployedBytecode.Object"
The Solidity json compiler output includes the fields Evm.DeployedBytecode.Object. For a library, this fields always begins with PUSH20 00 00 00 00 (etc).

When the contract is actually deployed, this field is populated with the deploy time address(). So the bytes of Deploy Evm.DeployedBytecode.Object do not match with the actual deployed bytecode.

In burrow we want to enforce that contract canno

[2019-07-15 11:18] seanyoung opened #7102 "Solidity compiler output does not say library or not"
There is nothing in the Solidity json output which says whether or not a contract is a library or not. This would be useful to know whether the contract needs runtime ABIs or to work around #7101.

[2019-07-15 12:40] chriseth commented on #7101
The bytecode of a library is changed at deploy time - it is documented here: https://solidity.readthedocs.io/en/develop/contracts.html#call-protection-for-libraries

[2019-07-15 12:44] chriseth commented on #7102
That's a good idea! Do you think this should already belong into the ABI or into e.g. `contracts["sourceFile.sol"]["MyLibrary"]["contractKind"] = "library"`?

[2019-07-15 12:45] chriseth commented on #7101
Can you explain at which level you want to enforce the matching bytecode and what the reason behind is? Do you want to prevent people messing around with things in the constructor using inline assembly or is there a technical reason for that?

[2019-07-15 13:00] seanyoung commented on #7101
For each compiled contract, I'm creating a mapping from deployed codehash to abi (more metadata like contract name/source file in the future).
This is for burrow: https://github.com/hyperledger/burrow/pull/1125
By creating this mapping burrow can know the origin of all contracts in the system, and provide meta data like the abi for each contract.
In addition, this also prevents contracts from depl

[2019-07-15 13:54] seanyoung commented on #7102
I'd like to see more meta data in the ABIs, like contract name, source file, and contract kind.

[2019-07-15 14:13] wbt commented on #6977
@leonardoalt Just what's noted [here](https://github.com/trufflesuite/truffle/issues/1713#issuecomment-510485920), and the possible connections to other issues noted in the two automatically generated references above.  I've been avoiding recompilation because of this issue and the associated loss of productivity, intentionally doing what I can to not provide opportunities to observe continued rec

[2019-07-15 14:59] #4739 closed, assigned to ChrisChinchilla

[2019-07-15 15:02] chriseth commented on #7090
The repository can be offline from time to time, but it seems to be online now - so maybe just try again?

[2019-07-15 16:08] bshastry opened #7108 "[Testing] Update docker base image for fuzzing"
## Abstract

#7069  adds evmone to the test setup. This requires the installation of additional software.

## Motivation

This issue tracks support for adding the following new software to the ossfuzz build/test base images

- `libevmone.a`
- `libevm-instructions.a`
- `libethash.a`
- `libkeccak.a`
- `libintx.a`

[2019-07-15 16:18] bshastry opened #7110 "[Testing] Remove hard-coded link directories in ossfuzz cmakelists"
Install libprotobuf-mutator and related dependencies to global paths (`/usr/local` or `/usr`) so that this block inside ossfuzz CMakeLists.txt may be removed

https://github.com/ethereum/solidity/blob/cb13f8f1bf62498f7b344ce8f0edd3fe83420d84/test/tools/ossfuzz/CMakeLists.txt#L1-L3

[2019-07-16 08:10] seanyoung commented on #7101
With a new EVM opcode this could be fixed.

Alternatively, now that this behaviour is documented, does that mean that it's not broken?

[2019-07-16 08:11] chriseth commented on #7101
The behaviour is intentional, yes. By the way, you do know about the metadata hash being appended to the deployed bytecode, do you? It is an additional indirection, but it also includes the ABI and other information.

[2019-07-16 08:22] seanyoung commented on #7101
I know this is intentional, I'm just saying it's a terrible design. Steps for fixing:
- Introduce EVM opcode e.g. DEST which returns the destination address for the transaction (so the outer most callee)
- In library code compare ADDRESS to DEST and if equal, revert
- No hack needed to implement "call protection"

[2019-07-16 08:24] seanyoung commented on #7101
Using the metadata appended to the transaction is not great. This can easily be modified by users to pretend to be something they are not.

[2019-07-16 08:30] chriseth commented on #7101
@seanyoung let's please not discuss the design of the EVM here. I agree with you, but it is not the right place.

The metadata can be used to recompile the contract and check that the (construction) bytecode matches the source code. How do you enforce in burrow that the user is not deceived?

[2019-07-16 08:43] seanyoung commented on #7101
What is the right forum for EVM design discusssion?

[2019-07-16 08:50] chriseth commented on #7101
I think most discussion nowadays happens here: https://ethereum-magicians.org/

[2019-07-16 10:12] akira-19 commented on #5918
@ChrisChinchilla No worries! I appreciate your quick action.

[2019-07-16 11:39] seanyoung opened #7111 "Solidity compiler output does not say what contracts a contract can create"
I'm trying to create a mapping from contract to metadata (via codehash but metadata hash is also possible). It would be useful to know what contracts a contract can create; simply a list of names should suffice.

`contracts["sourceFile.sol"]["MyContract"]["creates"] = [ "foo", "bar" ]`

[2019-07-16 11:43] sifmelcara commented on #6866
In this specific example, multiple `x_0` were replaced by the same expression, so the program need to compute that same expression 6 times.

I think the solution is to avoid application of `ExpressionInliner` when it will duplicate expressions? (not necessarily recursive) i.e only apply `ExpressionInliner` when the argument is a Literal/Identifier or the argument only appears once in the expressio

[2019-07-16 12:49] chriseth commented on #6866
Indeed, the expression inliner may be redundant since we now have the step that modifies for loops to pull out the condition.
Still, the expression inliner could be a useful shortcut. It currently does not have a heuristic, which we should add. Duplicating expressions should be avoided, as you said, but it is not a problem if the function call argument is itself a variable.

[2019-07-16 12:51] chriseth commented on #7111
What is the exact use-case, and how is "a contract creates another contract" defined?

[2019-07-16 13:11] seanyoung commented on #7111
@chriseth yes, you are right -- this needs further explaining.

Consider this solidity source file:
[code]
Now when I compile this I would like to know that contract A can create B and C (not D), and that B, C, D do not create any contracts.

The reason I would like this so that I can track metadata for contracts. When contract A executes a CREATE/CREATE2 opcode, I can match the bytecode against t

[2019-07-16 13:26] chriseth commented on #7111
At the time of creation, you can take a look at the metadata ("compilationTarget") and it will tell you which contract is just being created. Would that help?

[2019-07-16 13:37] seanyoung commented on #7111
I would like to know ahead-of-time (compile-time) what contracts could possibly be created. Then I can register the metadata for those contracts before the time of creation, so that the metadata is ready and available for them when the create happens.

[2019-07-16 14:25] chriseth commented on #7111
If you do that off-chain anyway, why not just register everything that gets compiled?

[2019-07-16 17:04] chriseth opened #7112 "The function dev::test::Option::get() should be avoided"
The function `dev::test::Option::get()` only works properly when run via soltest, it fails to work when used inside isoltest. Because of that, it should be avoided.

The SolidityExecutionFramework uses it to set the evm version, for example.

[2019-07-16 19:15] ethernomad opened #7113 "Logging state variables in constructor prevents deployment"
## Description

Passing a state variable to an event in contact constructor prevents contract deployment.

## Environment

- Compiler version: 0.5.10
- Target EVM version (as per compiler settings): byzantium
- Framework/IDE (e.g. Truffle or Remix): dapp / none
- EVM execution environment / backend / blockchain client: MIX Blockchain
- Operating system: Linux

## Steps to Reproduce

https://github

[2019-07-16 21:58] dorothy-zbornak opened #7114 "abi.decode() results can occupy the same memory location"
## Description

If we provide `abi.decode(data)` compressed data, e.g., where two encoded dynamic arrays point to the same location, and depending on whether `data` resides in `calldata` or `memory`, you get different behaviors:

- If `data` is in `memory`, the results will share the same memory location.
- If `data` is in `calldata`, the results will *not* share the same memory location.

The lat

[2019-07-16 23:45] abandeali1 commented on #7114
I want to provide an example of a pretty innocent looking function to emphasize the severity of this (this could have easily been code used in production):

[code]

Now take an input where `values` and `ids` are both `[1, 2]`. The optimized calldata would look like:

[code]

In this case, `values[i] = safeMul(values[i], amount)` also ends up modifying `ids[i]` because they are stored in the same m

[2019-07-17 02:08] hmijail commented on #232
Just to make it explicit: do the mentions of C++ mean variadic/vararg-style functions?
Seeing that the abi.encode() functions are variadic made me think that the functionality HAD to be supported, so maybe mentioning that it is not would be helpful.

[2019-07-17 06:51] chriseth commented on #232
Variadic functions are a different category, so they are out of scope for this issue. I also think that it is much easier to get something wrong than it is already with default arguments.

[2019-07-17 06:53] chriseth commented on #7113
Can you use a debugger to see where exactly it fails? It looks to me like the execution environment you are using does not support the EVM version set in the compiler.

[2019-07-17 08:36] chriseth opened #7115 "Make EVMC/EVMONE tests work on appveyor"

[2019-07-17 08:51] #7110 closed, assigned to nobody

[2019-07-17 09:13] bshastry opened #7116 "[Testing] Add bools and arrays of bools and dynamic byte arrays to abiv2 protobuf spec"
## Abstract

This issue tracks support for
  - bools
  - arrays of bools and dynamic byte arrays (`bytes` and `string` types)

in the abiv2 coder protobuf specification

[2019-07-17 09:22] ethernomad commented on #7113
Can you point me in the direction of how to debug this? It only fails on the blockchain.

When I run the tests in Hevm it works fine: https://dapp.tools/hevm/

Here is the blockchain config:
https://github.com/mix-blockchain/mix-blockchain/blob/master/mix.json
So it is byzantium EVM and I compile the contract for byzantium.

This deployment reversion does not cause a chain split between Geth and P

[2019-07-17 10:55] leonardoalt commented on #7114
@dorothy-zbornak I still don't know why the results from `abi.decode` point to the same location, but I'm not sure function `encode` does what the comment says (`// ABI-encode two uint256[] arrays that point to the same location`)

[2019-07-17 11:02] chriseth commented on #7114
@leonardoalt I think the old decoder does not explicitly copy everything, because it was not meant to be used like that in the beginning.

[2019-07-17 11:03] leonardoalt commented on #7114
As an example, I changed function `encode` to:
[code]
Even though `buf` and `buf2` point to the same location, the data is duplicated in the resulting bytes.
In this case `runTests` returns
[code]

[2019-07-17 11:08] leonardoalt commented on #7114
Oh ok, my bad, I see it now.

[2019-07-17 13:06] #5918 closed, assigned to ChrisChinchilla

[2019-07-17 13:07] #6795 closed, assigned to nobody

[2019-07-17 13:08] #7116 closed, assigned to bshastry

[2019-07-17 14:09] erak commented on #7096
This seems to not be easily solvable. We're dealing with the two concepts of pure statements (which are compile-time constant) and state mutabilities. Pure statements like `1+1;` will result in a `"Statement has no effect."` warning, whereas `msg.data;` is not pure and thus does not generate this warning.

On the other hand, `msg.data;` has it's state mutability set to `pure` and this is used to g

[2019-07-17 14:22] chriseth commented on #7096
Maybe it is time to define a new property just for this use-case. @leonardoalt would this be the same side-effect-freeness that we need to enforce inside expressions for invariants?

[2019-07-17 14:27] chriseth opened #7118 "Define side-effect-free-ness"
We need the concept of side-effect-free-ness for several use-cases:

 - enforce side-effect-free-ness in expressions for invariants and other verification uses
 - warn about side-effect-free expression statements
 - warn about multiple expressions with side-effects in the same statement where the order of execution is not totally obvious

These three concepts of side-effect-free-ness might be diff

[2019-07-17 14:27] chriseth commented on #7096
Created an issue to define side-effect-free-ness: https://github.com/ethereum/solidity/issues/7118

[2019-07-17 14:36] chriseth commented on #2181
Closing because it is too vague.

[2019-07-17 14:36] #2181 closed, assigned to nobody

[2019-07-17 14:37] chriseth commented on #7096
Related: https://github.com/ethereum/solidity/issues/2707

[2019-07-17 14:37] chriseth commented on #7118
Related: https://github.com/ethereum/solidity/issues/2707

[2019-07-17 14:38] chriseth commented on #7118
Related: https://github.com/ethereum/solidity/issues/1380

[2019-07-17 14:40] leonardoalt commented on #7096
@chriseth Yes it should be the same

[2019-07-17 14:42] chriseth commented on #7112
It looks like `isoltest --evm-version` is not properly passed on to the compiler.

[2019-07-17 15:30] erak commented on #7096
Shall we remove this in favour of https://github.com/ethereum/solidity/issues/7118 from the project already? We could also wait until 0.5.12 planning.

[2019-07-17 16:03] erak commented on #7112
I checked the following and it looks like passing the evm version works:

`test/libsolidity/semanticTests/shifts.sol`
[code]
calling `isoltest -t 'semanticTests/*shifts*' --evm-version=homestead` results in the test above not being run. Changing the required version like this:
[code]
results in the test being run and the expected pre-constantinople parser error.

[2019-07-17 16:09] erak commented on #7112
We could add a `--no-silent` argument (similar to `no-color`) that prints debug information and start with printing the concrete compiler arguments.

[2019-07-17 16:15] chriseth commented on #7112
It does get passed to isoltest, but the contract is not compiled with the right version.

[2019-07-17 16:17] #7098 closed, assigned to nobody

[2019-07-17 16:45] erak commented on #7112
Do you have a source line or something already? I thought that if the following contract fails to compile:
[code]
when the default version in isoltest is `petersburg`, the test defines `homestead` as the minimal version (it would not be run for `>=constantinople`) and `--evm-version=homestead` gets passed to the compiler? It must have been compiled with the right, at least pre-constantinople, vers

[2019-07-17 20:09] seanyoung commented on #7111
First of all,  it would be great to able to restrict contract creation to exactly the set that contract can create, and nothing more. In burrow we CREATE and CREATE2 can fail now if the bytecode does not match: see https://github.com/hyperledger/burrow/blob/3287fd37cc6c77a41a294a365320ffe8857576ea/execution/evm/state.go#L240

Secondly, please bare with me while I go through the issue we are having

[2019-07-17 20:16] chriseth commented on #7112
Maybe it's just in my evmone pull request, but I thought I didn't change things there...

Hm, I think only semantics tests are affected, can you try that?

[2019-07-18 02:04] dantedallag commented on #3825
I am new to contributing here and seem to be facing this same issue. I am running Mac 10.14.5. Has anyone else had any recent issues with this?

[2019-07-18 03:49] hmijail commented on #232
I agree that it is easier to get something wrong, and yet lack of variadic functions forces boilerplate and code repetition, which also causes its own problems.

[2019-07-18 06:45] chriseth commented on #3825
The tests are known to have issues on MacOS. The hope is that aleth won't be necessary at all in a few days. This will remove the need for aleth: https://github.com/ethereum/solidity/pull/7010

Still, that PR has not yet been tested on MacOS...

[2019-07-18 06:52] chriseth opened #7124 "Enable semantic tests on MacOS via evmone"
Fixes https://github.com/ethereum/solidity/issues/3825

[2019-07-18 08:53] bshastry opened #7125 "[Testing] Discussion about test case checked in for msize optimization"
## Description

This issue discusses the test case checked in by PR #7106

https://github.com/ethereum/solidity/blob/a0a0a34a21072a61fc6e1732833fb18fc9bec0f8/test/libyul/yulOptimizerTests/stackCompressor/unusedPrunerWithMSize.yul#L1-L20

This test case does not demonstrate a difference in yul execution traces between unoptimized and optimized versions.

Reproduction:

[code]

Trace of unoptimized

[2019-07-18 10:00] chriseth commented on #7125
OK, I think I can explain this: If you run the full optimizer suite, it will inline the function before it runs the stack compressor. For the bug to be triggered, the `msize` instruction needs to be inside a function and the memory-size-modifying instruction needs to be outside of that function.

The test case, though, directly runs the stack compressor without first running the other steps. Becau

[2019-07-18 10:29] bshastry commented on #7125
Ah I see. Thanks for the clarification. It may still be nice to add the full test to `test/libyul/yulOptimizerTests/fullSuite` so that we catch potential regressions in the full suite.

[2019-07-18 13:23] bshastry commented on #7108
Closed by #6610

Note that `libkeccak.a` is not installed because `ethash` v0.4.4 that #6610 installs does not create the said library. `libkeccak.a` standalone librarry was introduced in a later `ethash` commit.

[2019-07-18 13:23] #7108 closed, assigned to bshastry

[2019-07-18 13:24] bshastry commented on #6804
Since a non-proto fuzzer is of little utility for testing abiv2 coder, this issue is being closed. The solidity wrapper that the issue references is closed by #7069

[2019-07-18 13:24] #6804 closed, assigned to bshastry

[2019-07-18 13:26] bshastry commented on #6864
Closing issue since #6908 fixed this bug.

[2019-07-18 13:27] bshastry commented on #6845
Closed via #7109

[2019-07-18 13:27] #6845 closed, assigned to nobody

[2019-07-18 13:28] bshastry commented on #6743
Closed by #7069

[2019-07-18 13:28] #6743 closed, assigned to nobody

[2019-07-18 15:05] bshastry opened #7127 "[Testing] Implement abiv2 testing with holes for efficiency"
## Abstract

At the moment, the abiv2 proto converter initializes all array elements and resizes every dynamic dimension.

For larger dimensional arrays, this leads to large test programs some of which take several minutes to execute on evmone.

This issue tracks support in the abiv2 converter for pseudo randomly resizing dynamic array elements and initializing array indices. We gain efficiency at

[2019-07-18 15:20] wbt commented on #6977
I suspect addressing [Truffle issue 1650](https://github.com/trufflesuite/truffle/issues/1650) might also yield some clues helpful for addressing this one, especially for any potential solver who, like myself, currently lacks a primary code author's deep understanding of just how the compilation code works.

Based on that issue, it seems like the compiler is somehow reading the existing compiler o

[2019-07-18 15:46] leonardoalt commented on #6864
That PR was closed without being merged. I'll reopen this until I check on develop if it was fixed by the other "always create expr" PR.

[2019-07-18 16:33] #2899 closed, assigned to nobody

[2019-07-18 16:33] #3618 closed, assigned to nobody

[2019-07-18 18:12] #7125 closed, assigned to nobody

[2019-07-18 18:21] chriseth opened #7128 "Docker container for testing has too many intermediate layers"
[code]

[2019-07-19 02:23] dantedallag commented on #6971
Hello, so I feel like I am making some progress (it's been taking longer as I am trying to learn more about this project in general and it is really interesting!) As for testing this particular fix on Whiskers, is there a certain test already implemented that I should use to debug/prove it works or will I need to write my own?

[2019-07-19 09:39] leonardoalt opened #7130 "[SMTChecker] Study large vs small blocks for CHC branches"
When encoding the program into Horn clauses, there are two options when an `if` is reached:
1. Large blocks:
    - Do not create new blocks for branches and rely on the SSA scheme to implicitly encode the branches.
    - Assertions create edges from function to error.
    - Advantages: much simpler to code, the generated invariants respect the control-flow.
    - The disadvantage is constraint rep

[2019-07-19 09:57] leonardoalt commented on #7130
Example:
[code]

[2019-07-19 09:58] leonardoalt commented on #7130
Large block invariants:
1. `a => b`
2. `a <=> b`
3. `a => b`

[2019-07-19 10:05] leonardoalt commented on #7130
Small block invariants:
1. `a /\ b`
2. `a <=> b`
3. `a /\ b`

Note that 1 and 3 are wrong.
At the moment I think this is because the way the encoding is implemented for small blocks, where the if condition is asserted in the control-flow path.

[2019-07-19 10:07] leonardoalt commented on #7130
Large block rules:
[code]

[2019-07-19 10:07] leonardoalt commented on #7130
Small block rules:
[code]

[2019-07-19 10:10] leonardoalt commented on #7130
Large block rules for assertion 1:
[code]

[2019-07-19 10:11] leonardoalt commented on #7130
Small block rules for assertion 1:
[code]

[2019-07-19 16:39] leonardoalt opened #7131 "[SMTChecker] CHC break/continue"

[2019-07-19 18:54] chriseth commented on #6971
That's great news! I don't think you need to add an additional test, the already existing whiskers tests should be enough. Please create a PR as soon as you think it is mostly done, so we can see how it works in the CI.

[2019-07-20 20:27] thegostep opened #7134 "abi.decode to accept types as parameter and output as struct"
## Abstract

With AbiEncoderV2 around the corner, it would be great to be able to pass in a template of types as a parameter to the abi.decode() function and have it output a struct with the desired shape.

[code]

Becomes

[code]

## Motivation

This allows for using abi.encode and abi.decode for encoding arbitrary data without specifying hardcoded types.

## Specification

unknown

## Backwards

[2019-07-21 12:47] erak opened #7135 "Member-access to `msg.sender` should be pure"
As pointed out by @nventuro, the following code may warn about `a()`'s function mutability to be restricted to pure:
[code]

[2019-07-21 20:49] leonardoalt commented on #7135
Shouldn't it rather be `view`?

[2019-07-21 20:54] leonardoalt commented on #7135
Ok I just read the discussion on Gitter.

[2019-07-24 20:21] nventuro commented on #2691
Are there any plans/spec for implementing this? I'd guess a major blocker would be coming up warning ids, so that only specific ones are suppressed.

False-positive warnings are currently a pain point when developing/using Solidity libraries (in the software engineering sense of the word, not a Solidity `library`): often, base contracts will have methods to be overridden by their children, like in

[2019-07-25 09:45] leonardoalt commented on #7134
I like the general idea, but why not simply ask to decode into a struct?
Example:
[code]

[2019-07-25 09:49] leonardoalt commented on #7134
Answering my own question:
I guess what you're also interested in is passing this template at runtime instead of compile time?
In that case, wouldn't that break/make the ABI ambiguous?

[2019-07-26 13:44] leonardoalt commented on #6864
The code sample now crashes at
[code]

[2019-07-26 13:48] leonardoalt opened #7143 "[SMTChecker] Support constructor"

[2019-07-26 13:48] leonardoalt opened #7144 "[CHC] Support explicit constructor"

[2019-07-26 14:53] leonardoalt commented on #7023
I'm back to analyzing this now.
I ran it in my (not yet merged) branch with support to unbounded loops (via the new CHC engine) and the assertion is proven correct IF I remove the code that erases knowledge when an array is assigned. However, in this case we don't need to erase knowledge.

[2019-07-26 15:09] leonardoalt commented on #7023
Oh, I ran the example with the current `develop` and it seems these bugs were fixed by some PR since then:
[code]
Please note that the current `develop` SMTChecker engine doesn't support loops properly, as I mentioned before. However in  a couple PRs it will.

[2019-07-26 20:30] thegostep commented on #7134
My use case was for creating a registry which serves as a generic factory for arbitrary contracts. I ended up moving away from the generic factory and instead resolved to adding custom factories which can have ABI decoding template in the code.

The ability to decode into a struct would be great. Perhaps providing a template at runtime may be used in other use cases.

[2019-07-26 20:36] thegostep opened #7146 "List candidates for failed overload function resolution."
## Description

The following TypeError is produced since the function `burn()` does not have any return values. This error description could be replaced with something like 'require statement expects a reachable value'.

[code]

## Environment

- Compiler version: 0.5.10

## Steps to Reproduce

See above

[2019-07-29 08:08] bshastry commented on #6864
@leonardoalt sorry for closing this prematurely.

[2019-07-29 08:14] #6864 closed, assigned to nobody

[2019-07-29 09:08] bshastry opened #7147 "[Abiv2encoder fuzzing] Test decode(encode(T))"
## Abstract

Inspired by #7114

Let `T1`, `T2`,..., `Tn` be arbitrary types. Let `e1`, `e2`, ..., `en` be expressions of the said types respectively.

`abi.encode(e1, e2, ..., en)`  returns their encoding as a value (let's call it `encodedBytes`) of type `bytes`

Now

`(T1 v1, T2 v2, ..., Tn vn) = abi.decode(encodedBytes, (T1, T2, ..., Tn));`

decodes the encoded bytes into the respective types st

[2019-07-29 09:49] bshastry opened #7148 "[yul] interpreter fails assertion because of incorrectly erased shadowed variable?"
## Description

Found by ossfuzz: issue 16063

[code]

fails

https://github.com/ethereum/solidity/blob/00accd9daab8acf1e0bd2b0f32af1f2e4ed02d38/test/tools/yulInterpreter/Interpreter.cpp#L200

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): petersburg

## Steps to Reproduce

[code]

Could be a regression of #6446

[2019-07-29 10:20] sifmelcara opened #7149 "address payable as mapping type's key"
## Abstract

Currently `mapping (address payable => uint256)` causes a parsing error:
[code]

Is there any reason that this mapping type is not supported?

[2019-07-29 10:57] bshastry commented on #7148
Quoting https://github.com/ethereum/solidity/pull/6456#issuecomment-479955970

Inside functions, it is not possible to access a variable that was declared outside of that function.

I think what is happening is that at the time we register variable `r` inside function `mr`, function `r` is incorrectly unregistered. So I think the fix is to register functions not just in the current block but every

[2019-07-29 12:42] gpersoon opened #7150 "Natspec multiple "///" comments not interpreted"
## Description

Check the documentation https://solidity.readthedocs.io/en/v0.5.10/natspec-format.html;
it shows to use multiple /// lines to document different values.
However only the last /// lines is incorporated in the compiled natspec data.
A workaround is using /** ... */ comments, then solc behaves as expected.

Please either change the documentation or the compiler; currently it is confus

[2019-07-29 13:04] bshastry commented on #7148
Reduced the buggy test case to the following:

[code]

I'm not sure whether this is a yul interpreter or an asm parser/analyzer bug. `solc` generates code for the snippet above but yul interpreter fails to run code.

[2019-07-30 14:36] leonardoalt commented on #7149
After reading https://github.com/ethereum/solidity/pull/4926#discussion_r216245203 and https://github.com/ethereum/solidity/pull/4926 in general it looks like it simply hasn't been implemented yet.
@chriseth @ekpyron ?

[2019-07-30 14:45] leonardoalt commented on #7150
Hi @gpersoon , thanks for reporting!
I couldn't reproduce it locally (Arch Linux):
[code]
I'll try on other environments as well.
Could you please verify it's not a version issue?

[2019-07-30 14:46] leonardoalt commented on #7150
Also using your code on Remix gave me exactly the same result.

[2019-07-30 14:47] leonardoalt commented on #7150
@christianparpart could you please check if it happens on Windows?

[2019-07-30 14:52] ekpyron commented on #7149
I'd ask the contrary: *should* this mapping type be supported? I think the original thought was, that it's not really useful, since ``address payable`` is implicitly convertible to ``address``, so you can always use an ``address payable`` as key in ``mapping (address => T)``, i.e. whenever you'd use ``mapping(address payable => T)`` you can just use ``mapping(address => T)`` instead. You'll never

[2019-07-30 15:31] Marenz commented on #4581
is this issue done?

[2019-07-30 15:31] leonardoalt commented on #7023
My comment https://github.com/ethereum/solidity/issues/7023#issuecomment-515485192 is wrong:
I actually had changed the code a little bit. The assertion is not safe if `n > 50`.

[2019-07-30 15:32] Marenz commented on #4580
is this done?

[2019-07-30 17:04] gpersoon commented on #7150
I've checked a few solc versions but it is not version dependent.
I also check Ubuntu and indeed there it works fine.

I've narrowed it down a bit: the problem is with CR+LF in Windows text files.
Problem file: [Comments-with-CRLF.sol.txt](https://github.com/ethereum/solidity/files/3448039/Comments-with-CRLF.sol.txt)
Working fine: [Comments-with-LF.sol.txt](https://github.com/ethereum/solidity/fil

[2019-07-30 18:39] leonardoalt commented on #7023
Closing since the reported bug does not exist anymore.

[2019-07-30 18:39] #7023 closed, assigned to leonardoalt

[2019-07-30 23:42] haltman-at opened #7155 "Uncalled address.send or address.transfer causes internal compiler error"
## Description

If `<address>.send` or `<address>.transfer` is used as a bare expression (i.e. not then called), the compiler fails with an internal compiler error.  Specifically:

[code]

While there's admittedly no good reason to ever do this, it shouldn't cause an internal error.  At the worst it should cause a more explicit error message.

## Environment

- Compiler version: 0.5.10
- Target EV

[2019-07-31 08:24] Marenz commented on #7128
I checked the relevant image and it has 16 layers and a size of 1.86 GB.
I think I can reduce it to 9 layers and 1.82 GB..

[2019-07-31 10:00] ChrisChinchilla commented on #4580
Nope I am still waiting for this to be merged…

https://github.com/ethereum/solidity/pull/6416

[2019-07-31 10:26] #3850 closed, assigned to ChrisChinchilla

[2019-07-31 13:09] leonardoalt commented on #7011
Simplified code that triggers the bug, two files:
[code]

[code]

The cause of the bug is that state variables in imported code are not handled properly. If the library and the contract are in the same file it works fine.

[2019-08-01 09:36] sifmelcara commented on #7149
I agree that `mapping(address payable => T)` is not very useful.

The reason I encounter this issue is, I was upgrading a contract from 0.4.X to 0.5.X, and that contract uses `address` in a way that non-payable address type does not make much sense in the context (since the contract is all about sending money to people). In that case I would like to use `address payable` instead of `address` in ma

[2019-08-01 10:35] chriseth commented on #7135
The `caller` opcode cannot be used in staticcall context. So the behaviour of the view-pure checker is correct. We should document it though, and add a test (with comment).

[2019-08-01 10:40] chriseth commented on #5064
Still present.

[2019-08-01 10:41] chriseth opened #7158 "Default fo IPFS for the metadata hash."
Follow-up of https://github.com/ethereum/solidity/issues/5064

[2019-08-01 10:41] chriseth commented on #5064
Will do the change in 0.6.0.

[2019-08-01 10:41] #5064 closed, assigned to nobody

[2019-08-01 10:50] chriseth commented on #7113
You can debug it by analyzing the trace. There are multiple debugging tools out there.

[2019-08-01 12:40] #7155 closed, assigned to Marenz

[2019-08-01 12:48] #7085 closed, assigned to nobody

[2019-08-01 13:16] chriseth commented on #7146
As a fix, we might list all visible candidate functions.

[2019-08-01 14:37] ekpyron commented on #7135
But if it can't be used in staticcall context, shouldn't it even be non-view? Also: for me at least in remix using ``msg.sender`` or the ``caller()`` opcode does seem to work during a staticcall...

[2019-08-01 14:38] bshastry opened #7160 "[Abiv2 fuzzer] Permit zero sized dynamically sized arrays"
## Abstract

In the abiv2 proto fuzzer, the existing lower bound for the size of dynamically arrays is 1. It should be 0 instead. Statically sized arrays continue to keep a lower bound of 1.

## Motivation

Tweak the utility function responsible for determining array sizes.

[2019-08-01 15:02] ekpyron commented on #2691
@nventuro For this particular case you could use
[code]
EDIT: that is, unless we start warning about such a ``this;`` at some point :-).

[2019-08-01 16:51] ekpyron commented on #7118
Actually, this is also related: https://github.com/ethereum/solidity/issues/2691#issuecomment-517326454 - if we warn about *all* (i.e. also non-pure) side-effect-free statements that workaround won't work anymore. Put differently: is changing the strictest state-mutability another kind of side-effect or not?

[2019-08-01 20:17] nventuro commented on #2691
Thanks, that works! Still, it'd be great to now have to rely on those hacks and have a proper way to signal a warning is a false positive.

[2019-08-02 10:34] #7160 closed, assigned to bshastry

[2019-08-02 11:14] leonardoalt opened #7162 "[SMTChecker] ICE inline function that uses state variables from another source"
From https://github.com/ethereum/solidity/issues/7011

To trigger this bug you need two files:

[code]

[code]

The cause of the bug is that state variables in imported code are not handled properly. If the library and the contract are in the same file it works fine.

[2019-08-02 11:17] leonardoalt opened #7163 "[SMTChecker] Unsupported assignment operator inside branch breaks SSA scheme"
From https://github.com/ethereum/solidity/issues/7011

[code]
Because the compound assignment operator is not supported the SSA index is not incremented inside the branch which breaks the SSA scheme.

[2019-08-02 11:18] leonardoalt opened #7164 "[SMTChecker] Unsupported type as element of returned tuple causes ICE"
From https://github.com/ethereum/solidity/issues/7011

[code]

[2019-08-02 11:21] leonardoalt opened #7165 "[SMTChecker] StringLiteral causes type mismatch"
From https://github.com/ethereum/solidity/issues/7011

[code]

StringLiterals are currently supported as Arrays, following `bytes`. Since StringLiterals can also be assigned/compared to `bytesNN` which is supported as `Int`, this causes a type mismatch inside the solver.
The fix for this involves a layer of type conversion for assignments similar to how it's done in codegen.

[2019-08-02 12:07] bshastry opened #7166 "[Abiv2 proto fuzzer] Add constructor to test template"
## Abstract

Presently, the ABIv2 test template does not contain a constructor. This issue tracks support for adding one with the following structure:

[code]

This does not yet test ABI coding with the constructor because the abi proto fuzzer does not yet support ABI encoding itself.

## Motivation

Adding the constructor should be straight forward. We would need to move initializations of state

[2019-08-02 12:12] bshastry opened #7167 "[Abiv2 proto fuzzer] Fuzz abi coding at contract creation time"
## Abstract

Currently, the abiv2 proto fuzzer tests abi coding internally i.e., values passed to coding functions are obtained from within the contract storage/memory.

This issue tracks support for testing ABI coding inside a contract's constructor for which data must be obtained from an external source.

## Motivation

We need to
   - figure out a way to ABI encode the input to a contract's con

[2019-08-02 14:21] leonardoalt commented on #7011
I've found multiple bugs in the SMTChecker while fixing this one. Will create separate issues/PRs for each one.

- [x] State vars from another source https://github.com/ethereum/solidity/issues/7162
- [x] Unsupported compound assignment inside branch breaks SSA https://github.com/ethereum/solidity/issues/7163
- [x] Unsupported type as element of returned tuple https://github.com/ethereum/solidity/

[2019-08-02 14:36] leonardoalt opened #7168 "[SMTChecker] Scanner from different source ICE"
From https://github.com/ethereum/solidity/issues/7011

Two files:
[code]
[code]
The bug here is that it gets a model for `this` which is an UF, but the scanner has another source (because it's in a different file).

[2019-08-02 15:41] ChrisChinchilla opened #7169 "Bulgarian Docs translation"
This issue is to track the progress of the Bulgarian translation of the Solidity documentation.

It includes the GitHub usernames of all involved, and links to any issues or pull requests related to the Bulgarian translation.

All translation efforts in progress from this date are pinned to commit
https://github.com/ethereum/solidity/commit/967ee944a506e1488ff11f1a4e024711c8d684fb

## Contributors

[2019-08-02 15:46] ChrisChinchilla commented on #7169
Hello @christina938 and welcome aboard!

So, first steps, create a fork of the repo that you will work in and let me know what it is, later I'll need the version added to Read the Docs, but that can come much later.

Our documentation uses Sphinx and RsT (http://www.sphinx-doc.org/en/stable/) which isn't the easiest syntax wise, but you can ignore a lot of it anyway and focus on the text.

I'd rec

[2019-08-05 07:34] chriseth commented on #2405
I think this can be closed. The task still needs testing, but it is not clear yet which runtime we are supposed to use and how.

[2019-08-05 07:34] #2405 closed, assigned to nobody

[2019-08-05 08:06] #6899 closed, assigned to christianparpart

[2019-08-05 08:38] chriseth commented on #7134
If I understand you correctly, this is either about templates or about dynamic types. There is another issue that proposes to implement templates ( https://github.com/ethereum/solidity/issues/869 ) and dynamic types is against the core design of Solidity, so I'm closing this. Please reopen if I misunderstood you.

[2019-08-05 08:38] #7134 closed, assigned to nobody

[2019-08-05 08:51] chriseth commented on #7135
I got something wrong there, staticcall only disallows CREATE, CREATE2, LOG0, LOG1, LOG2, LOG3, LOG4, SSTORE, SELFDESTRUCT and CALL with a non-zero value.

It is an opcode we consider invalid in pure functions, though.

[2019-08-05 08:55] chriseth commented on #7135
The PR for the opcodes: https://github.com/ethereum/solidity/pull/2848

Also I really think `msg.sender` should not be pure. Pure means that the result is exactly the same regardless of the environment. The environment is something you cannot easily change and you cannot easily change the sender. This is different from actual function arguments which you can replicate at will.

[2019-08-05 08:56] lixuan1 commented on #3845
This is a conflict caused by the executable file.Modify the add_executable() parameter in the CMakeLists.txt file, and delete the .cpp except main.cpp from the parameter.

[2019-08-05 09:54] bshastry opened #7173 "[Abiv2 proto fuzzer] Test invalid encodings correctly fail"
## Abstract

The current abiv2 proto fuzzer only tests that `decode(valid_encoding(value)) == value`. This issue tracks support for `decode(invalid_encoding(value)) != value)`

## Motivation

One way to construct invalid_encoding is to crop a valid encoding. Example

[code]

In the proto fuzzer c++ harness, we expect success to be `false` and the execution to not revert (as before).

## Specificat

[2019-08-05 10:15] #7163 closed, assigned to nobody

[2019-08-05 12:34] ekpyron commented on #7112
@erak and me just rechecked and hard-coded aleth to always run on homestead. As expected a solidity semantics test with a shift still worked for ``isoltest --evm-version homestead`` and failed for other evm version settings, so ``isoltest`` seems to indeed correctly honour the evm version passed as argument.
We also rechecked that the filter setting worked, so we haven't found anything wrong.

[2019-08-05 13:11] chriseth commented on #7112
ExecutionFramework (and maybe others) use a singleton options object while isoltest uses its own isoltestoptions object. The (boost) options class should be merged into the common options class and the options should be explicitly created. The `get` function can still be used, but should throw an error if it is used before the object has been created.

[2019-08-05 13:12] ekpyron commented on #7135
Yeah, the only way to justify ``msg.sender`` being ``pure`` would be to consider it an implicit function argument - I'd tend not to do that as well, but I'm not sure what other arguments @nventuro had during the original Gitter discussion...

[2019-08-05 14:35] Marenz commented on #6835
I assigned you to mark this issue as "taken" so we can spot unassigned issues easier. Feel free to unassign yourself again if you no longer work on this issue :)

[2019-08-05 14:45] #6946 closed, assigned to nobody

[2019-08-05 14:48] #7164 closed, assigned to nobody

[2019-08-05 15:12] chriseth commented on #7166
What would be the benefit?

[2019-08-05 15:15] chriseth commented on #7135
Please reopen if there is a need for further discussion.

[2019-08-05 15:15] #7135 closed, assigned to erak

[2019-08-05 15:36] bshastry commented on #7166
@chriseth After thinking about this for a little longer, I don't see any benefit unless the constructor accepts external arguments. If it does, we can test abi coding in the constructor. Actually, my motivation for this was #6754

[2019-08-05 16:01] Marenz commented on #7102
So you would like to see something like this?

[code]
would result in the JSON:
[code]

@ekpyron mentions that the `abi` field is very solidity agnostic and maybe shouldn't contain such programming-language specific details.

The alternative would be what @chriseth suggested or to put it in the `metadata` object.

[2019-08-05 16:51] ekpyron commented on #5823
Just saw one boost < 1.59 workaround left in ``test/boostTest.cpp``.

[2019-08-05 17:07] bshastry commented on #5823
Hmm... This could be related to the ossfuzz build CI failure in #7010

[2019-08-06 00:50] seanyoung commented on #7102
To be fair this looks messy. Maybe it does belong in the metadata object.

[2019-08-06 07:58] Marenz commented on #7102
As name and file are already in the json that would mean I simply add a new field containing the library info in the metadata, maybe like this?

`contracts["sourceFile.sol"]["MyLibrary"]["metadata"]["library"] = "true"`

[2019-08-06 08:25] ekpyron commented on #7112
In https://github.com/ethereum/solidity/pull/7010#discussion_r310720625 we noticed that currently ``<test/Options.h>`` in fact produces a link time dependency on the boost unit test framework - as long as ``<test/Options.h>`` is only used by ``soltest`` which links against that anyways, that might be fine, but in the long run and especially if we merge the Options classes it's better to avoid that

[2019-08-06 08:35] ekpyron commented on #7102
I think we should stick to ``contractKind`` being ``contract`` or ``library`` - that's what we do in the JSON AST and it's more future-proof.

[2019-08-06 09:08] #6866 closed, assigned to nobody

[2019-08-06 09:50] bshastry opened #7180 "[Abiv2 proto fuzzer] Use variable length literals to initialize arguments of `bytes`/s"
## Abstract

In #7177, after taking a look at  @ekpyron  (see https://github.com/ethereum/solidity/pull/7177#discussion_r310948711), I feel that the current approach that the proto fuzzer takes to initialize arguments of type `bytes`/`string` is insufficient to test abi coding.

Currently, the proto fuzzer always initializes a `bytes` argument with a value that is exactly 32 bytes in size.

Ideall

[2019-08-06 10:06] #7173 closed, assigned to bshastry

[2019-08-06 10:16] ekpyron commented on #7180
We should remember to check whether this will prompt padding issues in the creation of invalid (cropped) encodings.

[2019-08-06 11:18] bshastry commented on #7180
Just verified that cropping fewer bytes incorrectly leads to successful execution of low level call. Example test case is the following which fails the check encoded in these lines of solidity code

[code]

[code]

[2019-08-06 11:29] bshastry commented on #7180
@ekpyron I am working on a more precise setting for invalid encoding length. Initially, I
thought of doing something like the following (inside solidity test program template)

[code]

but then, this never leads to an invalid encoding that is less than 32 bytes long.

At the moment, I am considering something like

[code]

do you think this makes sense?

[2019-08-06 11:34] ekpyron commented on #7180
What about
[code]
?
That is, if ``argumentEncoding.length`` is always greater than 31 - otherwise maybe something like
[code]
?

Padding will be at most 31 bytes long, so if ``invalidLenth < argumentEncoding.length - 31`` we should be fine I think.

[2019-08-06 12:10] bshastry commented on #7180
I will test this a bit and ping back

[code]

I modified the false case just so we get a somewhat uniform distribution over 0--31. Don't know if it matters though. Thank you for your feedback :-)

[2019-08-06 12:12] ekpyron commented on #7180
Haha, I just realize: the actual problem is that the argumentEncoding *is* padded, so we can of course be sure that it is at least 32 bytes long ;-)!

[2019-08-06 12:30] bshastry commented on #7180
Oh okay, I'm a bit confused now after reading this from https://solidity.readthedocs.io/en/v0.5.10/abi-spec.html

[2019-08-06 12:38] ekpyron commented on #7180
That snippet is from "Non-standard Packed Mode".

If the encoding wasn't padded, then https://github.com/ethereum/solidity/issues/7180#issuecomment-518626780 would work just fine.

(If I'm not mistaken ;-))

[2019-08-06 13:11] bshastry commented on #7180
Doh, sorry about my last comment, I should have browsed up to the heading the comment was under!

[2019-08-06 13:33] damianoazzolini opened #7183 "[DOCS] Italian Translation"
Hi. I've started to translate the documentation in italian. By now i think i'm somewhere between 60% and 70% of the process. It is possible to add it later to Read the Docs?
More importantly, if someone italian speaking wants to contribute, there is a file called ``docs/progress.txt`` where i track the state of the translation. Moreover, proofreading is needed.

The translation is in my own fork h

[2019-08-06 15:16] chriseth opened #7185 "New error reporter produces trailing whitespace"
[code]

[2019-08-07 06:36] SyedMuhamadYasir opened #7187 "Inserting Custom data in Data field"
Hello all of you. This is my first post here, so pardon any commonplace mistakes.

First let me explain my development environment. I am using Ganache for a experimental blockchain, Jupyter Notebook to play around with the Web3py front-end code and Remix for the Solidity smart contract code.

All 3 tools are communicating through a custom RPC ( through 127.0.0.1:7545 ).

I am trying to insert some

[2019-08-07 08:05] chriseth commented on #7187
Thanks for your message! Unfortunately, I do not see a way to do what you are trying to accomplish. Sending a message to a smart contract (including sending Ether) always executes the smart contract and this means that the smart contract interprets the data being sent to it as payload for its invocation. You can only send "auxiliary data" if the smart contract is prepared to deal with it.

[2019-08-07 09:49] SyedMuhamadYasir commented on #7187
First of all, thank you for the relatively prompt response, i highly appreciate that !

I feared this would be the case, that one would not be able to send any custom string in the transaction 'data' field when communicating b/w a contract and a ethereum account.

On the flip side, you did mention the possibility of "auxiliary data" .

can you please elaborate what is this "auxiliary data" ?

also

[2019-08-07 11:07] chriseth commented on #7187
It is not a fixed term. If you have a contract that takes a certain parameter but does not really use it, then that could be used as auxiliary data.

[2019-08-07 12:47] rocky opened #7190 "Docstring bugs or enhancements"
## Description

* Docstring errors don't have locations reported in them.
* We stop at the first docstring error even when we have `--error-recovery`

This misfeature has increased visibility because any docstring generator in an IDE probably trigger this because the parameter names will be filled out but the descriptions are likely to be blank.

## Environment

- Compiler version:0.5.10+commit.5a

[2019-08-07 12:48] rocky commented on #7190
If no one else is up for this, I can look at this. (The usual caveats apply though.)

[2019-08-07 13:27] Marenz commented on #7084
@sifmelcara is working on this issue

[2019-08-07 13:28] Marenz commented on #7084
Related: https://github.com/ethereum/solidity/pull/7137

[2019-08-07 13:30] bshastry opened #7191 "[soltest] Test exclusion filter"
## Abstract

Required by #7010  (see https://github.com/ethereum/solidity/pull/7010#discussion_r311531383)

ASan version of tests are slower than native versions by 2-3x. When tests that encode time-to-complete bounds such as this fail ASan test CIs

https://github.com/ethereum/solidity/blob/3a0c5e2b3bdd172a060c6c3cbc37d8cf30c336fd/test/libsolidity/SolidityOptimizer.cpp#L434

This issue tracks sup

[2019-08-07 13:36] #7185 closed, assigned to Marenz

[2019-08-07 13:36] bshastry commented on #7191
Closing issue in favour of preprocessor macros.

[2019-08-07 13:36] #7191 closed, assigned to bshastry

[2019-08-07 13:42] #7114 closed, assigned to ekpyron

[2019-08-07 13:46] #4580 closed, assigned to ChrisChinchilla

[2019-08-07 14:56] chriseth commented on #4581
I assume it is done. Please reopen if this is wrong, @ChrisChinchilla .

[2019-08-07 14:56] #4581 closed, assigned to nobody

[2019-08-07 15:55] #6298 closed, assigned to erak

[2019-08-07 15:55] #7082 closed, assigned to erak

[2019-08-07 16:28] chriseth opened #7194 "Add piet to link list"
Add https://piet.slock.it/ to the list of tools in docs/index.rst

[2019-08-07 17:20] erak opened #7195 "[isoltest] Default formatting for returned values should be hexadecimal"
The following semantic test shows this issue:

[code]
and prints the obtained result using a decimal formatting:
[code]
It should be hexadecimal:
[code]

In conjunction with https://github.com/ethereum/solidity/issues/7028: isoltest could also check, if an alignment can be applied

[2019-08-07 17:35] ekpyron opened #7196 "SMT checker non-linear arithmetic Z3 issues"
Basically, disabling CVC4 and only relying on Z3 as in https://github.com/ethereum/solidity/pull/7193 should work.
Maybe we should even have test runs with either *and* both SMT solvers.

[2019-08-07 17:48] erak opened #7197 "[isoltest] Formatting should support strings longer than 32 bytes"
The following test
[code]
does not handle strings longer than 32 bytes correctly:
[code]

[2019-08-07 18:04] erak opened #7198 "[isoltest] String formatting should not output padded zeros"
Sneaked in with https://github.com/ethereum/solidity/pull/7080.

The following test
[code]
does not print strings correctly:
[code]
It should rather output
[code]

[2019-08-08 04:53] SyedMuhamadYasir commented on #7187
understood.

can you please suggest any relevant reading resources or documentation that further describe such a case in detail ?

preferably with code examples, if possible.

i need to study this very urgently for a project.

Many thanks !

[2019-08-08 08:43] ekpyron commented on #7196
For the record: this multiplication https://github.com/ethereum/solidity/blob/d44f680a51668bf5f73221593b614761a15bc305/test/libsolidity/SMTChecker.cpp#L104 incorrectly caused an overflow warning for some reason when only using Z3, while the other similar tests work just fine.
See the test results at https://circleci.com/gh/ethereum/solidity/158785.

[2019-08-08 08:58] chriseth commented on #7197
Is this only an issue with error strings or with strings in general?

[2019-08-08 10:35] ekpyron opened #7200 "Properly document ABI decoding (especially V2 wrt padding of bytes)"
Related (among maybe others) to https://github.com/ethereum/solidity/issues/7180 and https://github.com/ethereum/solidity/pull/7178#discussion_r311959979 and https://github.com/ethereum/solidity/issues/6978.

I think we currently don't enforce ``bytes`` to be padded while decoding. On the other hand we do enforce struct members to be padded in the end.

Should the decoder be *that* strict here? If

[2019-08-08 10:53] ekpyron commented on #7200
Gitter discussion: we tend not to enforce padding at the end of ``bytes``.
We should (1) document this behaviour and (2) think about other cases like whether to enforce padding at the end of structs or not (~~EDIT: not sure that applies, since we pad everything to the left anyways, so for struct members padding has to be there anyways~~)

[2019-08-08 11:21] ekpyron commented on #7200
Ok, so what we currently have and will still allow is unpadded ``bytes``, i.e. for
``function f(bytes calldata x) external`` the byte sequence ``0x00...20 0x00...03 0x42 0x43 0x44`` (where both ```...``` are 30 zero bytes) **is** a valid encoding (and we don't force you to append 29 zeros to it).

But: what about ``bytesXX`` at the end of a tuple and at the end of structs?

So for
``function f(byt

[2019-08-08 11:39] erak commented on #7197
This applies to all strings (error strings aren't handled differently):
[code]
Which leads to an exception since the expected value can not be encoded.

Leaving the expected values empty in order to let the auto-update routine fill them in, results in a broken value:
[code]

[2019-08-08 12:57] Marenz commented on #7148
From what I can tell this is a `yulInterpreter` bug.

The problem is that we pass the [scope of the caller to the called function](https://github.com/ethereum/solidity/blob/develop/test/tools/yulInterpreter/Interpreter.cpp#L251) which is wrong. We need to give it the scope of the called function.. not sure yet where to get that from. Looking into that now.

[2019-08-08 13:36] ekpyron commented on #2506
Last state of this was the idea to add a dedicated test run with these enabled to be run before releases, but to not actually enable them. Given that I'm closing https://github.com/ethereum/solidity/pull/2519 for now and queue this issue for 0.5.12.

[2019-08-08 13:52] #5963 closed, assigned to ekpyron

[2019-08-08 13:53] chriseth commented on #7200
I think requiring padding to 32-byte value types and not requiring padding for `bytes` and `string` is what would be expected.

[2019-08-08 13:57] ekpyron commented on #7200
Ok, so I think that's what the code actually does right now anyways - so I'm re-purposing this issue to properly document all this.

[2019-08-08 13:57] ekpyron commented on #7200
Or actually I'm closing it in favour of https://github.com/ethereum/solidity/issues/6978.

[2019-08-08 13:57] #7200 closed, assigned to nobody

[2019-08-08 14:00] ekpyron commented on #6978
As an update: a decoder will in fact accept ``bytes`` arrays that are not padded and we decided to keep it like that (but to require padding for all value types). What we need is a proper documentation of all this, i.e. a full specification of our decoder in the docs.

[2019-08-08 14:35] chriseth commented on #7187
If you know the contract, you can always append more data, but this is not guaranteed to not have any other side-effects. It just strongly depends on the actual contract. I'm closing this for now, I think https://ethereum.stackexchange.com/ would be a better place for this discussion.

[2019-08-08 14:35] #7187 closed, assigned to nobody

[2019-08-08 14:39] ekpyron commented on #1272
This seems to be revived in light of https://github.com/ethereum/go-ethereum/issues/19836, should we continue the syntax discussion here? We'd basically need some syntax to compile the code supplied for such a new eth_call, right? Then solidity code using this syntax could e.g. be compiled via standardjson and then passed on to the eth_call directly? This all sounds pretty cool :-).

Syntax wise I

[2019-08-08 14:41] chriseth commented on #7195
Maybe just use hex for large values or if the value ends in at least one hex zero nibble?

[2019-08-08 16:39] chriseth commented on #7083
Implemented by https://github.com/ethereum/solidity/pull/7010

[2019-08-08 16:39] #7083 closed, assigned to christianparpart

[2019-08-09 07:58] leonardoalt commented on #7196
Z3 times out for that query on CI, that's why the result is `might overflow`. CVC4 seems to be better at handling nonlinear arithmetics and solves it.
To be fair, Z3 does solve it on my machine as well. The whole set up just seems to be much slower on the CI machines. I've also seen examples that run in 0.2s on my machine and timeout on CI (10s).

[2019-08-09 09:25] leonardoalt opened #7204 "[SMTChecker] Test all combinations of solvers"
This requires an internal CompilerStack setting that says which SMT solvers to use.
This would allow different test case expectations:
- when using nonlinear arithmetics since CVC4 seems to be able to handle it better than Z3
- when finding invariants since CHC requires Z3

[2019-08-09 14:20] ekpyron opened #7211 "Switch ASAN build to clang (fixing the detected errors)."
I tried to switch our asan builds to clang in https://github.com/ethereum/solidity/pull/7206, but this triggered asan errors. I think they might be false positives, but we should look into this.
I think it's the same ones as reported in https://github.com/ethereum/solidity/issues/6870.
It's a double free of a ``yul::Block`` that was supposedly allocated by ``Scanner::reset`` (which definitely does

[2019-08-09 14:44] ekpyron commented on #7211
Since the results seem to differ we might consider having two runs, one gcc asan and one clang asan run, instead of just switching to clang...

[2019-08-09 17:14] #7162 closed, assigned to nobody

[2019-08-10 19:07] leonardoalt opened #7215 "`Expression has to be an lvalue` message could be more clear"
[code]
Here `x` is not an lvalue because it's in calldata.
Even though `external` is there, this might not be super clear to everyone since `uint` is a value type and does not require the keyword `calldata`.

Opening the issue to get a feeling whether the message should be improved.

Brought up by @LianaHus

[2019-08-10 19:40] #7168 closed, assigned to nobody

[2019-08-12 00:58] holybubbles commented on #6971
Is this still open? like @dantedallag I want to give this a try if it's still open.

[2019-08-12 00:59] holybubbles commented on #6432
Is this issue still open? I'm trying to find good first issues to start contributing to open source.

[2019-08-12 01:04] holybubbles commented on #3557
Is this still open? I'm looking for something to start contributing to open source with!

[2019-08-12 08:38] ekpyron commented on #3557
@kennycastro007 This issue would be obsolete/solved, if we go ahead with https://github.com/ethereum/solidity/issues/6900, but we haven't decided that yet - I'll bring it up during our meeting later today and we'll get back to you regarding a good issue to start with!

[2019-08-12 09:16] ekpyron commented on #7211
This will also interact with using the static z3 build in our CI which might cause problems with a clang build due to the OpenMP implementation.

[2019-08-12 11:36] Marenz commented on #5424
To recap my understanding of the goals:
* `override` to explicitly show that a function is overriding another function from a base
* `virtual` to explicitly _allow_ overriding in a derived function

I would argue that users want to do the `virtual` use case a lot and thus `virtual` would need to be used a lot. If that kind of usage is the default, wouldn't it be smarter to make the other way expli

[2019-08-12 12:32] #7165 closed, assigned to nobody

[2019-08-12 12:34] leonardoalt commented on #7011
After all the bugs above were fixed I ran
`solc ./contracts/ColonyTask.sol --allow-paths lib/dappsys/*.sol`
and didn't see any more bugs, so closing this one.

[2019-08-12 12:34] #7011 closed, assigned to nobody

[2019-08-12 12:49] ekpyron commented on #6432
@kennycastro007 We thought this one might be a good issue for you to start on, if you like. If you need help you can talk to us in our gitter channel https://gitter.im/ethereum/solidity-dev. When you start working on this, please assign the issue to you.

[2019-08-12 13:13] Marenz commented on #6432
I believe ppl not part of the team can't assign issues. Just let us now if that is the case and we'll assign it for you.

[2019-08-12 13:26] Marenz commented on #5424
I'd say the overriding function function signature must match the signature exactly, that should include any overloads, too.
Or did I miss a scenario where this isn't enough?

[2019-08-12 13:42] ekpyron commented on #6220
I'm unassigning this again for now - depending on the progress of ABIEncoderV2 it might be much simpler to only do this change after it is the default.

[2019-08-12 13:42] chriseth commented on #5424
Yes, I think this is how it is handled currently.

[2019-08-12 13:45] chriseth commented on #5424
About the default: I'm actually not sure if virtual is really that common. In any case, if we do not default to non-virtual, this feature is useless.

[2019-08-12 13:53] Marenz commented on #5424
Well, yes, my suggestion was to basically use `final` instead of `virtual` with virtual as the default. But if it is less common then my main argument doesn't apply anymore. We should gather some data.

[2019-08-12 16:13] SilentCicero opened #7223 "[Yul] DeclarationError: Function not found.. `blocktimestamp()` in latest-solc"
## Description

Seems like `blocktimestamp()` / `blocknumber()` are either not implemented in Yul or there is a bug?

The docs state that these methods exist?
https://solidity.readthedocs.io/en/v0.5.10/yul.html#low-level-functions

## Environment

- Compiler version: solc latest
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix): yulit.surge.sh

## Yul Code:
[

[2019-08-12 16:20] SilentCicero commented on #7223
Ah, I realize it's actually notated as `timestamp()` and `number()` the docs should be changed if they haven't been already.

[2019-08-12 16:20] #7223 closed, assigned to nobody

[2019-08-12 18:28] haltman-at commented on #7215
I'm confused why this is an error at all; even in a function marked `external`, value types have their values copied to the stack as usual, right?  It's only reference types that have a pointer put on the stack in place of the value, right?  Shouldn't `x` refer to the copy on the stack, not the original calldata copy?

[2019-08-12 18:35] ekpyron commented on #7215
@haltman-at That's a good point - we could just allow it instead.

[2019-08-12 21:57] chriseth commented on #7215
That's true - I actually think this has been different in the past.

[2019-08-12 21:58] #7148 closed, assigned to Marenz

[2019-08-13 11:58] bshastry opened #7232 "[yul] optimizer takes too long on nested function calls"
## Description

[code]

takes over 6 minutes for optimization when running the full optimizer suite.

[code]

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): petersburg
- Framework/IDE (e.g. Truffle or Remix): na

## Steps to Reproduce

[code]

[2019-08-13 13:00] ekpyron commented on #4994
I'll implement this for functions now. Do we want this for contracts? I.e. ``c.address`` instead of ``address(c)``? Personally I'd stay with casts there, but I'd be fine with changing it as well.

[2019-08-13 13:35] chriseth commented on #4994
We can only do it for functions like that because they do not have user-defined members.

[2019-08-13 13:40] ekpyron opened #7235 "Switch from ``address(_contract)`` to ``_contract.address``?"
Came up in https://github.com/ethereum/solidity/issues/4994 in which we decided to switch from casts to a member for external function types.

Since ``address`` never was a valid identifier, we could introduce this for contracts as well without having to fear name clashes.

I myself vote against this and would rather stay with casts here, but I'd be fine with switching as well.

[2019-08-13 13:41] ekpyron commented on #4994
We could still do it, since ``address`` has never been a valid identifier - I'd still not do it, but I opened #7235 for tracking it anyways.

[2019-08-13 14:20] bshastry opened #7237 "[yul] interpreter fails assertion `m_functions.count(_funCall.functionName.name)`"
## Description

[code]

fails this assertion

https://github.com/ethereum/solidity/blob/aae1d9872402b4548fc3c1a7497e6cb571507c7b/test/tools/yulInterpreter/Interpreter.cpp#L240

`solc` correctly generates code for it, so I suspect this is a yul interpreter bug.

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): petersburg

## Steps to Reproduce

[co

[2019-08-13 15:47] rocky opened #7241 "Add .clang-format to ease following coding style."
## Abstract

Add .clang-format so that coding style conventions can be more easily followed.

See https://github.com/ethereum/solidity/pull/7240 for a something to start with.

## Motivation

Solidity's C++ coding style seems to be unique. So deviations from that are to be expected, unless tools are in place to gude following coding style.

## Backwards Compatibility

No backwards compatibility is

[2019-08-13 16:00] chriseth commented on #7241
Duplicate: https://github.com/ethereum/solidity/issues/2856

[2019-08-13 16:00] #7241 closed, assigned to nobody

[2019-08-13 18:34] alcuadrado opened #7243 "Sourcemaps with file -1"
Hi!

I'm trying to understand when are some source maps mapped to file `-1`. I understand the why, but I'm trying to come up with a list of things that get mapped to `-1`.

I tried to find where in the source code are source maps, but I couldn't.

Is this documented somewhere? Or can you give me some info about them?

Thanks!

[2019-08-13 23:51] alcuadrado commented on #7243
I kept reading and came to the conclusion that those `-1` come from [here](https://github.com/ethereum/solidity/blob/f5f2bbb274fcbdc1e1f9cc607373059a8d617ee6/libsolidity/interface/CompilerStack.cpp#L1294-L1297), so there's no easy way to find all of them.

I guess most of them come from the append functions and statements from these two files:
1. https://github.com/ethereum/solidity/blob/579bdaddb

[2019-08-14 07:13] rajajwaliya opened #7244 "What I need to verify contract with open-source license?"
i m deployed contract in etherscan mainnet. i m verify it with open-source license like (MIT, GNU). now the problem were i don't know were to define license in etherscan ?? and etherscan will validate license when we update the token profile ??

contract example :- https://etherscan.io/address/0x230451cc96eb02df59fb2dc99dd1b701fd119329#code

[2019-08-14 08:10] bshastry commented on #7237
May be related to #7201

[2019-08-14 10:04] bshastry opened #7245 "[Build] Compilation error with clang-9 and c++17 due to incompatible aggregate initialization pattern in ewasm backend code"
## Description

https://github.com/ethereum/solidity/blob/6c31a5f3ddfb40d1f5f70823569d2f0c6792d13c/libyul/backends/wasm/EWasmCodeTransform.cpp#L58

results in the following compilation error

[code]

because, in c++17, classes with explicitly defaulted constructors are considered aggregates

See https://en.cppreference.com/w/cpp/language/aggregate_initialization#Explanation

This means that the ag

[2019-08-14 10:10] ekpyron opened #7247 "[DOCS] Update linked iterable mapping contract or move it to our repo."
The mapping part of our "Types" section links to https://github.com/ethereum/dapp-bin/blob/master/library/iterable_mapping.sol for "iterable mappings", but the code is pre-0.5.0, so it won't work against current solc.
@chriseth It looks like you put the file in the dapp-bin repo - do things depend on it there or can it just be updated?
We should either update it there or have a copy of it in our r

[2019-08-14 10:13] bshastry opened #7248 "[CI] Create a clang build CI"
## Abstract

Google's clang revision (close to upstream clang commit) is used by the ossfuzz builder in Google repo. See https://github.com/google/oss-fuzz/blob/48f321e93939354788fa7a0e1e41c5843b069ad5/infra/base-images/base-clang/checkout_build_install_llvm.sh#L44-L47

Since ossfuzz build failures are reported rather late, it would be nice to have a solidity CI that uses this or perhaps the lates

[2019-08-14 10:21] bshastry opened #7249 "[ossfuzz] build instrumentation can do without instrumented dependencies"
## Abstract

Currently, the following solidity (fuzzing) dependencies are instrumented (either by address or undefined behavior sanitizer)
  - boost
  - evmone
  - intx
  - ethash

This has the following negatives
  - slower build
  - slower fuzzing due to additional run time overhead (e.g., asan checks whether each load/store is within bounds) due to instrumented dependencies
  - bugs in dependen

[2019-08-14 10:27] bshastry opened #7250 "[ossfuzz] build CI needs to more closely emulate Google's CI so we notice build incompatibilities right away"
## Abstract

Currently, there is a divergence between Google's oss-fuzz builder, located here

https://github.com/google/oss-fuzz/tree/master/projects/solidity

and our "builder" which is a composite of our own dockerfile here

https://github.com/ethereum/solidity/blob/6c31a5f3ddfb40d1f5f70823569d2f0c6792d13c/.circleci/docker/Dockerfile.ubuntu1904

and build script here

https://github.com/ethereu

[2019-08-14 11:33] bshastry opened #7253 "[CI] Standardize build options for ossfuzz build CI"
## Description

Currently, the ossfuzz build CI
  - uses a custom cmake toolchain file
  - does not inherit default cmake options (which together with above means that the switch to c++17 was not picked up)
  - does not disable z3/cvc4 which are not required for the existing fuzzers

This issue tracks fix for these inconsistencies.

[2019-08-14 13:33] #7245 closed, assigned to bshastry

[2019-08-14 14:29] bshastry opened #7257 "[ossfuzz] build CI should link against libc++ instead of libstdc++"
## Abstract

Currently, the ossfuzz builder links fuzzing binaries against `libstdc++` instead of the clang provided standard library implementation called `libc++`

This issue tracks support for standardizing this.

## Motivation

To get this going, we need to build boost dependencies statically or against libc++.

## Specification

TBD

## Backwards Compatibility

TBD

[2019-08-14 14:38] chriseth commented on #5424
Discussion resulted in relaxation of the requirements for the case of a function being inherited from multiple base classes:

[2019-08-14 14:50] chriseth commented on #5424
In addition to that: It is illegal, if a function that is not declared in a contract would have multiple base functions.

[2019-08-14 15:00] ekpyron commented on #7253
Related to this: we should probably have a dedicated clang docker image with all dependencies built with accordingly - that would help with failures as in https://github.com/ethereum/solidity/pull/7252#issuecomment-521260393

[2019-08-14 15:28] ekpyron commented on #5424
I'm still not entirely sure about this case and fine with both options, but I wanted to bring it up once more:
[code]
Should this be valid or not? We said ǹot having ``f`` in ``B`` indicates "do everything like the base", but does that mean "always use A's implementation of ``f``" or "inherit the fact that A's ``f`` is``virtual``"?

There's two cases: either ``B`` wants to allow overriding ``f`` o

[2019-08-14 15:50] chriseth commented on #5424
I don't have strong arguments for or against the behaviour that `contract C is A {}` leads to `C` essentially having the same virtual/override behaviour as `A`, but I have the feeling that it is the expected behaviour.

[2019-08-14 15:54] ekpyron commented on #5424
Defaulting to disallow has the advantage that looking at a contract will tell you everything that a derived contract can change about it... Otherwise you'll have to look at the bases as well...
But yeah, I'm not sure what's better myself.

[2019-08-14 16:00] nventuro commented on #7135
For reference, what I was originally pointing out is that `sender` being `view` and `data` `pure` surprised me: both are transaction parameters, so them having the same mutability (along with e.g. `msg.value`) made a lot of sense in my mind, regardless of whether that's `pure` or `view`.

[2019-08-14 16:48] nventuro commented on #649
That can also be achieved by making the constructor internal:

[code]

This is IMO a cleaner approach, since it directly tackles the actual objective: preventing the contract from being deployed.

I'd have the `abstract` keyword cause a compiler error when applied to a contract that has no pure virtual functions. That way, it will always have the same meaning: the contract contains function declar

[2019-08-14 18:33] ekpyron commented on #5913
This is done in #7205

[2019-08-14 18:33] #5913 closed, assigned to nobody

[2019-08-14 18:42] ekpyron opened #7259 "Replace boost constructs with their C++17 STL equivalents."
Since we switched to C++17 we can replace several boost constructs by their STL equivalent.
This includes, but may not be limited to:
- [x] changing ``boost::regex`` to ``std::regex``
- [x] changing ``boost::optional`` to ``std::optional``
- [x] changing ``boost::variant`` to ``std::variant``
- [ ] changing ``boost::filesystem`` to ``std::filesystem`` (note: this might have to be postponed due to

[2019-08-14 19:04] ekpyron commented on #5652
Done in https://github.com/ethereum/solidity/pull/7192 and https://github.com/ethereum/solidity/pull/7205

[2019-08-14 19:04] #5652 closed, assigned to nobody

[2019-08-14 19:18] Patil2099 commented on #7259
@ekpyron Can I work on this ?

[2019-08-14 19:22] ekpyron commented on #7259
@Patil2099 Sure! Best start with one of them and create a PR for it, so that it won't be too many changes at once. Just leave a comment here, when you picked one and started the work!

[2019-08-14 19:36] erak commented on #7112
Couldn't find the time to start with this yet, so I unassigned myself for now.

[2019-08-14 20:28] thegostep opened #7260 "Provide messages for internal reverts and option to remove."
## Description

`abi.decode()` reverts but does not return an error message on failure.

[code]

Adding a revert message like "abi.decode() input too short" would help with debugging.

related to #4224

## Environment

- Compiler version: 0.5.11

[2019-08-14 21:20] ekpyron opened #7261 "Rethink (or maybe even remove?) ``super``"
Given the inheritance changes in 0.6.0 I think we should check where and how ``super`` fits into that and whether we should keep, remove or change it.
E.g. in
[code]
using ``super`` would defeat the purpose of the whole construction with overrides and unambiguous inheritance...

[2019-08-14 21:53] chriseth commented on #7260
We decided against revert messages for compiler-generated errors because they are horribly expensive. We could, though, add them with a compiler option. This is related to https://github.com/ethereum/solidity/issues/6251

There could be three levels:

 - debug: add revert reason strings for reverts generated by the compiler
 - default: do not add revert reason strings for reverts generated by the