[2018-10-02 09:08] legioner0 commented on #5109
Oh, I found error, and it's much more simple.
This is incorrect converting result of `EthUtil.ecsign` to transaction data - I've lost leading zeros in bytes32 values and Web3 automatically repair length by adding trailing zeros. So `r` and `s` under some conditions changes

[2018-10-02 09:08] #5109 closed, assigned to nobody

[2018-10-02 09:25] pieterhartel opened #5133 "Compilation error in unreachable code"
solc 0.4.24+commit.e67f0147.Darwin.appleclang fails to compile a verified smart contract, such as for example https://etherscan.io/address/0x984f98cbba75b190904d8fca786c26690d1ebc30#code

The problem is that the compiler throws a divide by zero error in the function payOwners (pasted below). But if COMMISSION == 0, the division by 0 will never happen.

--pieter

[code]

[2018-10-02 10:09] chriseth commented on #5133
`COMMISION` is a `constant` that is permanently set to zero. If at all, the error should be that the `else` part is unreachable (which we do not yet detect). I don't think that constants should be used as "parameters" for contracts.

[2018-10-02 10:09] chriseth commented on #2340
We could also detect some branch conditions like comparisons with constants.

[2018-10-02 10:09] chriseth commented on #5133
Closing in favour of https://github.com/ethereum/solidity/issues/2340

[2018-10-02 10:09] #5133 closed, assigned to nobody

[2018-10-02 11:35] barakman commented on #2742
@chriseth:

I have tried to configure the `--allow-paths` switch in every conceivable way, and without any success.

It is worth pointing out that `truffle compile` completes successfully, implying that all my `import` lines are written correctly.

Similarly to what others have noted here before me, the path used in those lines, as well as for the `--allow-paths` compilation switch is `../../node_

[2018-10-02 11:38] chriseth commented on #2742
Could you try an absolute path for `--allow-paths`, please?
No, 0.4.25 is just a tiny security bugfix release.

[2018-10-02 12:11] barakman commented on #2742
@chriseth:

I have - that was under my *conceivable ways* category.
Side note: I am using `solc` for windows, and I have tried both forward-slashes and backward-slashes.

I just went briefly through your source code ([here](https://github.com/ethereum/solidity)), and traced back `allow-paths` --> `g_strAllowPaths` --> `g_argAllowPaths` --> `m_allowedDirectories` --> `weaklyCanonicalFilesystemPath`

[2018-10-02 12:22] christianparpart commented on #5053
I could reduce the expression down to:

[code]
which seems to be the minimal-failing example equivalent to the above one.

[2018-10-02 12:28] christianparpart commented on #5052
Reduced the code example down to:

[code]

replacing the `_` with a hex-digit it then all compiles as expected (with another error), but with the `_` we see this exception.

[2018-10-02 13:11] nweller commented on #5130
Sure - I meant that this compiles:

    contract a {
        function f2() public;
    }
    contract b is a {
        function f() public { super.f2(); }
    }

This just shows that there's apparently some significance to having an implementation of the function in the sub class for the error to occur.

[2018-10-02 13:12] chriseth commented on #5130
Great, thanks!

[2018-10-02 13:22] chriseth commented on #2742
Without knowing the inner workings of truffle, either the path is just somewhere else, there might be problems with symlinks or solc cannot figure out that some relative path is the same as some other absolute path.

[2018-10-02 13:36] barakman commented on #2742
@chriseth:

Truffle compiler doesn't impose the same restriction imposed by the Solidity compiler (`solc`) due to:

So I suppose that Truffle only needs to append the (relative) path in the `import` line to the (absolute) execution path of `truffle compile`, in order to resolve it (this is my alternative to "knowing the inner workings of truffle").

Would you be able to add some logging inside the

[2018-10-02 13:39] kaisert opened #5135 "Source mappings do not point to the correct location"
## Description

The source mappings gained through `solc --combined-json srcmap-runtime` does not always give the correct translation from instruction offset to source code.

## Environment

- Compiler version: tested with 0.4.25, 0.4.24, 0.4.11, 0.4.18
- Framework/IDE (e.g. Truffle or Remix): tested locally and on remix
- Operating system: linux

## Steps to Reproduce
Minimal example:
[code]
When

[2018-10-02 13:41] chriseth commented on #2742
I can try that, but to be honest, the best solution would be for truffle to properly use remappings. You should be able to use `import "zeppelin/Token.sol";` and have a remapping of the following form configured: `"zeppelin=/home/user/project/node_modules/zeppelin/contracts"`

[2018-10-02 13:43] chriseth commented on #2742
Are you able to access this job? https://circleci.com/gh/ethereum/solidity/41975 The binary should be in the "artifacts" tab once it is completed.

[2018-10-02 13:43] Sword-Smith commented on #4579
@chriseth: Can you please add the associativity of operators to the documentation here?
https://solidity.readthedocs.io/en/v0.4.25/miscellaneous.html (assuming that it is well-defined in the compiler which, in my opinion it ought to be.)

[2018-10-02 13:47] chriseth commented on #5135
Are you talking about the `8:9:-1` part? Note the `-1` at the end which indicates "unknown file". The reason behind this is that the source for storing the number is an assembly library routine of the compiler whose code is not part of the initial source code.

[2018-10-02 13:52] chriseth commented on #4285
Is this a duplicate of https://github.com/ethereum/solidity/issues/4111 ?

[2018-10-02 13:53] barakman commented on #2742
@chriseth:
Yes, but I don't see any tab titled *artifacts*. Will it appear once the build completes?
Also, the title says "build_x86_linux", so for all it matters, please note that I am running on Windows and using solc.exe.
Thanks

[2018-10-02 13:55] chriseth commented on #2742
Ah I see! Then it will be here: https://ci.appveyor.com/project/ethereum-free/solidity/build/1.0.11219/job/m03c1j4wqj4rrdak

[2018-10-02 14:05] barakman commented on #2742
@chriseth:

Great, but how do I download an executable (like I do [here](https://github.com/ethereum/solidity/releases))?

Or do I need to build it myself?

[2018-10-02 14:09] kaisert commented on #5135
So when compiling the given example, the complete source mapping is
[code]

. I am talking about the `0:82::-` part, which points to the given source file (due to `30:49:0` a few entries before)

[2018-10-02 14:10] axic commented on #4285
I think #4111 is an optimiser step.

[2018-10-02 14:12] chriseth commented on #2742
@barakman the link to the binary should appear there once it is built. Unfortunately, it takes a little longer on appveyor.

[2018-10-02 14:15] chriseth commented on #5135
Ah right, that's a different helper routine, the "array resize routine". Since it can be used from multiple points, the closest source map that can be provided is the whole file.

@yann300 can you give some insights into source map cleanup / filtering that is done in remix for the break points?

[2018-10-02 14:37] #5051 closed, assigned to christianparpart

[2018-10-02 15:14] kaisert commented on #5135
So what is the difference between these two helper functions? Or in other words: Why is the first one deemed to be in an unknown file, while the second one references the whole file?

[2018-10-02 15:19] barakman commented on #2742
@chriseth:
What should I be looking for as an indication of build completion?

[2018-10-02 15:49] chriseth commented on #2742
It should turn green and then the artifacts should be here: https://ci.appveyor.com/project/ethereum-free/solidity/build/1.0.11219/job/m03c1j4wqj4rrdak/artifacts

[2018-10-02 16:34] barakman commented on #2742
@chriseth:
Thanks.
There is nothing under the *Artifacts* tab, but the *Console* tab possibly indicates that something had gone wrong.
There's some printout marked red here:
[code]

[2018-10-02 17:02] chriseth commented on #2742
Here is another one: https://ci.appveyor.com/project/ethereum-free/solidity/build/1.0.11219/job/4u4mikqc3jyc9max/artifacts

[2018-10-02 17:49] barakman commented on #2742
@chriseth:

OK, analysis...

For my initial attempt - without specifying `--allow-paths` at all - I get `Is allowed: 0`.

After several trials, my general observation is that in order to get `Is allowed: 1`, I need to set this switch to either one of the following:
1. An absolute path which contains both the `node_modules` folder and my `contracts` folder
2. An absolute path which resides next to

[2018-10-02 17:59] chriseth commented on #2742
Thanks for digging so deep into this!
First one comment: Is the line `import "../../../node_modules/openzeppelin-solidity/contracts/.../xxx.sol";` part of your source code? If yes, I would strongly suggest to use remappings and absolute paths. Note that `..` will bring up up one level in the virtual directory layout of the compiler and not in the filesystem outside of the compiler. This might easi

[2018-10-02 18:27] barakman commented on #2742
@chriseth:

Thanks.

I will refer to your comments below:

---

Not sure how to do that, while keeping the entire project portable to any other system.

---

Not sure what you mean by "one level in the virtual directory layout of the compiler and not in the filesystem outside of the compiler", but I do know that `truffle compile` works fine with that when executed from the same working directory (

[2018-10-02 18:48] lazaridiscom commented on #5129
In the current context (behavior of a cli-binary) the *.sh helper/wrapper is nonexistent.

The thing is: cli-binaries have a quasi-standard-behavior, and solidity binaries should align to it as much as possible. This way  the users feel immediately comfortable with the binaries (e.g. a binary works as expected).

Good designed cli-binaries do not need any help/wrappers.

Of course there could be s

[2018-10-02 20:15] pieterhartel opened #5139 "Cannot install older versions of the solidity compiler on the mac -- Workaround provided"
I am having difficulty installing older versions of the solidity compiler on my Macbook Air (running MacOs High Sierra 10.13.6). The latest version 0.4.25 of solc installs fine.

I tried 0.4.11 and failed:

[code]

I tried 0.4.20 and failed also, but in a different way:

[code]

[2018-10-02 22:43] randomnetcat commented on #4674
Aye.

[2018-10-03 00:14] KevinKelley commented on #4648
My pleasure... [gist](https://gist.github.com/KevinKelley/337657d53c16a260cb9c2e11204d71f9)

...another possibility: underscore separators, maybe every 4 bytes; or dotted excisions.  Usually when looking at these hashes it's enough to see the first 8, or first 4 and last 4, digits...

I guess I want to know, do we know exactly what we want?  If so let's see some test cases and implement it; if not

[2018-10-03 02:23] ChrisCates commented on #4648
@KevinKelley, hmm, these edge cases you're mentioning are very important... Seems that I underestimated the scope of the issue.

I'll look into providing some edits later.

[2018-10-03 15:55] Meshugah commented on #4894
I'm still working on this, however if this needs to be passed on to someone else for it to be out faster that's understandable as well.

[2018-10-03 17:44] pieterhartel commented on #5139
I disabled the checksum verification (yes, I know this is bad) and retried 0.4.11. This time another error that I have seen in another issue already where it was claimed to have been fixed. Apparently not for version 0.4.11...

[code]

[2018-10-03 17:48] pieterhartel commented on #5139
I disabled the checksum verification (Yes, I know this is bad) and tried to install V0.4.11 again. This time another error appears...

[code]

[2018-10-03 17:52] pieterhartel commented on #5139
Same error for v0.4.21...

[code]

[2018-10-04 04:12] ghost opened #5141 "void"

[2018-10-04 04:14] ghost commented on #1802
(re gitcoin: note that I've deleted my account on gitcoin).

follow-up: #5141

[2018-10-04 07:43] anurag-git commented on #5055
@axic , would like to take up this issue. Please let me know what do you expect from the fix.

[2018-10-04 07:47] anurag-git commented on #5055
Also didn't quite understood this code `function () internal returns (uint) x;`. What we are trying to accomplish here.

[2018-10-04 09:49] chriseth commented on #5139
We do not really support older versions, but it seems like you need to either install ccache or properly re-run the configuration (which seems to have detected that ccache is installed although it is not).

Unfortunately, we cannot really help you there. We try to keep solidity compilable on macos but do not really have the resources to properly support homebrew.

[2018-10-04 10:05] chriseth commented on #5055
@anurag-git this is a declaration of a variable that has a function type. `C.x` should work in the same way for state variables of all types. Please don't try to solve this bug unless you fully understands its implications, it might be quite tricky.

[2018-10-04 10:11] anurag-git commented on #5055
Sure Thanks

[2018-10-04 10:31] chriseth opened #5142 "Remove mention of submodules from documentation and build scripts"

[2018-10-04 10:33] chriseth commented on #4579
@Sword-Smith yes, we should!

[2018-10-04 10:34] chriseth commented on #5135
The first one is built using yul, the other one uses the old style code generator. The difference is that yul actually is source code, while the second is just a sequence of opcodes.

[2018-10-04 10:44] chriseth commented on #2742
Hm, I actually think we need someone from the truffle team in this discussion, as I don't really know what truffle does to the compiler. For example, why does the compiler output multiple allowed paths? Also, could you please paste the exact output from the compiler (you can mask some of the path components) and also how you invoke the compiler.

[2018-10-04 10:47] chriseth commented on #5129
In my opinion, keeping the C++ binary as simple as possible to stay portable and move all the porcelain to shell scripts (which might then be platform-dependent) is the right way forward. The binary should behave fully predictable because it is much harder to take a look at its source.

[2018-10-04 10:56] chriseth opened #5143 "Disable codecov on pull requests or fix it"
codecov produces invalid reports and thus is generally not helpful on pull requests. We should disable it to reduce clutter.

[2018-10-04 10:57] chriseth commented on #5141
Sounds good!

[2018-10-04 11:27] barakman commented on #2742
@chriseth:
I will do so in a few moments (takes some time to setup my env for that).
But in the meanwhile, I would like to refer your attention to a number of things:

I'm at a lost here.
I got this output from YOUR compiler, not from Truffle's.
The test-version that you uploaded is the one which printed out these multiple paths, as a result of you adding it in the code. Am I missing something?
Wh

[2018-10-04 11:55] chriseth commented on #2742
Oh I'm sorry, it seems I misunderstood you there - you are calling solc directly and want to get the same result as when it's called via truffle, right?

Indeed, solc and solc-js should work identically and we want to keep both. For larger projects, the recommendation is to use `--standard-json`, though, which basically removes all filesystem access complications and turns the compiler into a "str

[2018-10-04 12:44] barakman commented on #2742
@chriseth:
Use `--standard-json` where?

We are currently using `solc.exe` instead of `truffle compile` for several reasons:
1. `solc.exe` generates abi and bin files for each source file, while `truffle compile` generates a json file for each source file. We find the former output easier to use for various reasons:
   - We would ultimately need to publish some of the abi files anyway.
   - In ord

[2018-10-04 13:26] chriseth opened #5146 "Error if using `..` at the root of the virtual directory hierarchy."
I guess this could help many people solving their import problems and would also prevent mistakes.

[2018-10-04 13:27] chriseth commented on #2742
Pleas provide the full command line you use!

One thing I noticed:
[code]

This looks like the compiler is searching for `"node_modules/...`, which might mean that it does not interpret the `..` as going up one level in the directory hierarchy because it already arrived at the root of its virtual directory hierarchy (just created https://github.com/ethereum/solidity/issues/5146 for that).

One sol

[2018-10-04 14:39] barakman commented on #2742
@chriseth:

I actually mentioned that in [one of my comments above](https://github.com/ethereum/solidity/issues/2742#issuecomment-426368142):

And I get the feeling that in order to determine if an imported file is allowed, you are possibly cutting out some or all of the relative path prefix at the beginning of that file name (in the `import` statement).

To support this conjecture, I now get a di

[2018-10-04 14:44] chriseth commented on #2742
Could you please provide more details about the location of your `node_modules` directory and the stuff you replaced by `...`?

[2018-10-04 15:11] barakman commented on #2742
@chriseth:

My directory structure is this:
- repo:
  - node_modules
    - openzeppelin-solidity:
      - contracts:
        - aaa.sol
        - bbb.sol
        - ccc.sol
  - project:
    - contracts:
      - xxx.sol
      - yyy.sol
      - zzz.sol
  - package.json

Coming to think about it, perhaps I should add openzeppelin source files to the compilation command-line...?
I mean, I probably shoul

[2018-10-04 15:47] chriseth commented on #2742
In my opinion, the best way to compile this would be using `solc project/contracts/*.sol openzeppelin=./node_modules/openzeppelin-solidity/contracts/` and then importing via `openzeppelin/...`. If you do not want to change your code, then

`solc project/contracts/*.sol --allow-paths=.`

should work, or at least `--allow-paths` with the absolute current path.

[2018-10-04 15:48] chriseth commented on #2742
If this does not work, then please include the full compiler output and the full commandline you used.

[2018-10-04 16:15] barakman commented on #2742
@chriseth:
I'm not sure I follow.

In my contracts, I import "external" files like this, for example:

    import "../../../node_modules/openzeppelin-solidity/contracts/ownership/Claimable.sol";

This obviously goes outside of **my** `contracts` folder, and `truffle compile` nevertheless completes successfully.

Are you suggesting that I change this type of relative paths in my Solidity code in or

[2018-10-04 16:36] anurag-git commented on #3667
@vs77bb , gentle reminder for payout.

[2018-10-04 16:45] barakman commented on #2742
@chriseth:

And again, I would like to emphasize an analysis that I made earlier in this thread.

Depending on the value of `allow-paths`, the error is either one of the following two:
- `Source "node_modules/.../xxx.sol" not found: File outside of allowed directories.`
- `Source "node_modules/.../xxx.sol" not found: File not found.`

Based on this observation, I believe that your method for appro

[2018-10-04 17:26] chriseth commented on #2742
Please provide the full commands you run, the full paths to the directories the commands are run from, the import statements in the individual files (one should suffice) and the complete output of the solc binary.

I think we talked about this before - import should not use `..`. It might still work, but if you want your code to be portable across code bases, you should avoid it.

[2018-10-04 17:33] passionofvc commented on #5118
hi @chriseth @lazaridiscom
very thanks,

Please accept my apology for not being able to learn from
[stackexchange](https://ethereum.stackexchange.com/questions/)

I will continue to learn ethereum, smart contract every day passionately.

[2018-10-04 17:51] barakman commented on #2742
@chriseth:

I do not understand why it is imperative that I avoid using `..`, because:
1. `truffle compile` seems to be handling it well.
2. I believe that if anything, relative paths **should** make my code portable (while absolute paths should make it non-portable).

In any case, I will set up an MVP (minimal verifiable procedure or something like that) which reproduces each one of the errors th

[2018-10-04 17:56] lazaridiscom commented on #5129
We basically agree (although this is not about personal opinions, but about design-standards or quasi-standards)

## Requirements for cli-binaries

* **must** be portable
* **must** have predictable behavior whenever possible

But here comes "bad design avoidance":

* **Should** not depend on platform-specific scripts.

Modern C++ code is cross-platform, and looks actually much simpler than those

[2018-10-04 20:49] 0xKiwi commented on #1760
Can there be more detail put behind this change? Many people don't understand what unary + does, I believe adding a tad of more clarity in the official docs would help a lot as right now they just say `The unary + operator is now disallowed.`

[2018-10-05 06:13] barakman commented on #2742
@chriseth:

Please see below an MVP which reproduces the problem.

---

**Directory Structure:**
- test:
  - node_modules (created with `npm install`):
    - openzeppelin-solidity:
      - contracts:
        - ownership:
          - Ownable.sol
  - project:
    - contracts:
      - MyContract.sol (see below)
    - truffle-config.js (can be empty)
  - solc_0.4.24:
    - msvcp140.dll
    - solc.exe

[2018-10-05 07:54] chriseth commented on #2742
Thanks again for your help, but PLEASE tell us which "--allow-paths" argument provides which output in the modified binary I created for you.

[2018-10-05 08:23] barakman commented on #2742
@chriseth:

The **File outside of allowed directories** error occurs when:
- `--allow-paths` is not specified
- `--allow-paths=C:\Users\barak\test\project\contracts`
- `--allow-paths=C:\Users\barak\test\node_modules\openzeppelin-solidity\contracts\ownership`
- `--allow-paths=C:\Users\barak\test\node_modules\openzeppelin-solidity\contracts`
- `--allow-paths=C:\Users\barak\test\node_modules\openzepp

[2018-10-05 09:15] ChrisChinchilla commented on #5023
Can I help here @bit-shift ?

[2018-10-05 09:16] ChrisChinchilla commented on #5042
Are you working on this @chriseth ? Or want me to do it?

[2018-10-05 11:40] erak commented on #5023
You could review https://github.com/ethereum/solidity/pull/3834, please 😄

[2018-10-05 12:39] chriseth commented on #2742
@barakman ok, then please use `--allow-paths=C:\Users\barak\test\project` for all further tries. Giving the full path of the input files does not help, I assume? Then I think I have to create a new binary for further debugging.

[2018-10-05 12:44] #544 closed, assigned to ChrisChinchilla

[2018-10-05 12:44] barakman commented on #2742
@chriseth:

`C:\Users\barak\test\node_modules\openzeppelin-solidity\contracts\ownership` is the full path of the only "external" input file in this MVP, and I have already tried it (as you can learn from my previous comment).

Reducing the configuration of `allow-paths` to a single option will indeed make my life a lot easier with this one.

I'll be standing await for a new debug-version.

Thanks

[2018-10-05 13:01] chriseth commented on #1760
@ChrisChinchilla can you handle @IvanTheGreatDev 's request, please?

[2018-10-05 17:27] chriseth opened #5151 "Re-group section structure of the documentation"
The section structure of the documentation is suboptimal. Most of the important information about the language is part of "Solidity in depth", although it is only one of 14 top-level elements in the TOC on the sidebar.

Perhaps it would be possible to show the sidebar in a multi-level format like on https://dutchx.readthedocs.io

[2018-10-05 17:27] chriseth commented on #5151
@ChrisChinchilla would you like to take a shot at this?

[2018-10-05 17:34] ghost opened #5152 "void"

[2018-10-06 03:41] lazaridiscom commented on #5151
I've just overflown https://solidity.readthedocs.io, and spotted some main problems:

* It is nearly unbelievable that documentation of a programming-language contains advertisements (ethically or not, whatever this means). I have to put effort it, in order to get rid of them (adblock plus, block element).
* "Solidity by Example" starts with a bombastic example - this is not good, it should be a s

[2018-10-06 10:05] anurag-git commented on #5130
@chriseth , would like to take up this issue. Let me know the strategy to proceed. I hope it is not too tricky.

[2018-10-06 14:26] liangdzou commented on #4494
Sorry, coming back from a vacation.
Seems the PR #4958 is still waiting for reviewing.

[2018-10-06 15:48] pieterhartel commented on #5139
I found a workaround to the problem of installing older versions of the Solidity compiler. Here it is in three rather messy steps. But beware: the installs may go through, but most of the compiler versions throw a variety of errors. I have found an interesting blog [https://blog.curvegrid.com/daysofblock/2017/05/12/daysofblock-02-solc-versions.html](url) that suggest that building from source in t

[2018-10-07 11:33] barakman commented on #2742
@chriseth:

Some progress via a different channel (of a different issue that I've been dealing with):

While investigating why the `bytecode` generated by `truffle compile` and the `bin` generated by `solc` are always different (given the same input file), I have been able to determine that the difference is only in the metadata part of the `bytecode` (the 64 characters which appear right before t

[2018-10-07 17:13] pieterhartel opened #5156 "How do I download and install older versions of solc on linux?"
I would like to compile smart contracts from etherscan.io that specify a specific version of solc.
Is there an archive of older official release binaries of solc somewhere?

--pieter

[2018-10-07 19:45] lazaridiscom commented on #5156
Possibly here:

https://github.com/ethereum/solidity/releases

For more (and quicker) help, please try:

	- [Solidity chat](https://gitter.im/ethereum/solidity)
	- [Stack Overflow](https://ethereum.stackexchange.com/)

It's faster, more thorough and (especially stackexchange) more suited for beginners.

[2018-10-07 23:13] axic commented on #4429
In order to avoid confusing this with the previous version, I think we should make a small deviation.

Some possible deviations:
- one less or one more underscore at the end or the beginning (i.e. `__00113412342134213423_` or `__00113412342134213423___`)
- adding another special character (i.e. `__$00113412342134213423...__`)

Otherwise detector code could mistake it as a library name.

[2018-10-07 23:25] mxmauro commented on #4429
I believe the function name is not necessary because the mark is used to replace other contract's address.

[2018-10-07 23:39] axic commented on #4429
I am not entirely sure I understand you.

[2018-10-08 00:05] mxmauro commented on #4429
I mean, above it is mentioned to build the hash based on the library name + function name. Currently it is used the filename + library/contract name, the hash should be based on the latter.

[2018-10-08 00:32] axic commented on #4429
Why shouldn't it include the filename in the hash?

[2018-10-08 00:53] mxmauro commented on #4429
To clarify:

library name + function name: No
filename + library/contract name: Yes

[2018-10-08 02:24] ghost commented on #4891
I believe that two things are missing here (note that I process this issue here abstractly, without much domain knowledge, which should be even of benefit) :

## Missing Code Documentation

`CompilerUtils::storeInMemoryDynamic` has zero documentation, e.g. the basics about what this function does, and what types are supported)

## Missing Code Tests:

Searching through the source-code indicates th

[2018-10-08 09:26] erak commented on #5156
@pieterhartel Did you manage to compile your contracts? If so, I'd consider this resolved.

[2018-10-08 09:46] erak commented on #5152
@lazaridiscom Thank you for the suggestion! In general, this sounds like a good idea, but I don't see the benefit of mentioning the employer here. If you want to view the list of team members, you can check https://github.com/orgs/ethereum/teams/solidity/members. We could also consider adding this to our README.

[2018-10-08 09:57] chriseth commented on #5151
@lazaridiscom thanks for your comments! I will focus only on the points directly related to this issue. Please feel free to open new issues for the other aspects. A agree that having many levels is a good thing. The main point I wanted to make here is that "Solidity in Depth" should be more prominent in the sidebar and perhaps even be extended no matter where you currently are in the documentation

[2018-10-08 09:58] christianparpart commented on #5141
Hi @lazaridiscom . Many thanks for this ticket. However, after having read both, this and your reference ticket, I actually do believe this is a duplicate of the original ticket, just stating the way "how to do" instead of "what to do", which I believe, is up to the implementer fulfilling this ticket.

Are you fine with closing this ticket and just moving the communication back to the original?

[2018-10-08 10:26] pieterhartel commented on #5156
Thanks for asking. The binaries for v0.4.16 .. v0.4.25 work fine. The other binaries all complain about a missing library:

[code]

I don't know how to get that version of lib boost...

--pieter

[2018-10-08 10:52] chriseth commented on #5130
It might work to just ignore functions that do not have implementations in `ContractType::nativeMembers`.

[2018-10-08 11:02] chriseth commented on #2742
Ah, that's good to know! So perhaps truffle transforms `C:` to `/C/` and this could be the trick - although I doubt it.

The reason the metadata changes is because the path of the input files is part of the metadata to allow recompilation. Have you read https://solidity.readthedocs.io/en/develop/using-the-compiler.html and https://solidity.readthedocs.io/en/develop/metadata.html yet?

[2018-10-08 11:09] chriseth commented on #2742
So I think this is really an issue about windows. I created a new debug binary to be found at https://ci.appveyor.com/project/ethereum-free/solidity/build/job/j29vmubcyt6ni4wy and it produces the following output on my system:

[code]

[2018-10-08 11:12] chriseth commented on #4429
@axic what about `__0xab123__`? `0x` is not a valid library name and is usually used to prefix hex values.

[2018-10-08 11:13] chriseth commented on #4429
I would not reduce the number of underscores to stay as compatible as possible and only break at the point of the identifier itself.

[2018-10-08 11:16] chriseth commented on #4891
Note that this function is in the deprecation phase.

The documentation is in the header:
[code]

[2018-10-08 11:17] chriseth commented on #4891
@lazaridiscom we should probably talk on gitter about this, if you want.

[2018-10-08 11:26] chriseth commented on #5152
I am not sure if this is really beneficial. We do not have such a complex structure as metamask and we did not yet have problems that people contacted the wrong person. We do not have such a big influx of requests and they are handled well in issues and on gitter.

[2018-10-08 11:32] chriseth commented on #5156
This is the list of archived binaries: https://github.com/ethereum/solc-bin/blob/gh-pages/bin/list.json (the actual binaries are in the same directory)

Due to portability, we only really support the emscripten binaries as archived binaries.

[2018-10-08 11:44] barakman commented on #2742
@chriseth:
Possibly, though I would rather calling it "**an issue about solc over windows**" (implying it should be fixed in `solc`).

The problem with the path of the input files being part of the metadata, is that when this path is absolute, the compilation artifacts become "inappropriate" for version-control.

In order to "straighten this out", I have applied a patch in my local Truffle, which

[2018-10-08 11:48] chriseth commented on #2742
Metadata for my compilation above (added a contract in a.sol):
[code]

[2018-10-08 11:49] chriseth commented on #2742
Here are the artifacts: https://ci.appveyor.com/api/buildjobs/754jayqv3g0ebic4/artifacts/solidity-windows.zip

[2018-10-08 11:49] barakman commented on #2742
@chriseth:
And BTW, I have moved from compiling directly with `solc`, to compiling with `truffle`.
So I am willing to continue with this investigation if my help is needed, but I will not mind if you decide to close this issue, as I am no longer in a dire need to get it solved.
Thanks for all your help :)

[2018-10-08 12:06] chriseth commented on #5129
@lazaridiscom due to popular demand, the feature now exists :)

[2018-10-08 12:06] #5129 closed, assigned to nobody

[2018-10-08 12:07] chriseth commented on #2742
I would still like to find the root cause for this, especially since it works on my system but not on yours. Your help is much appreciated!

[2018-10-08 13:02] chriseth commented on #4429
On the other hand, `__0xab123__` could suggest that it is an address.

So perhaps `$` is the best way. In that case, though, I would propose to use `__$abc123...$__` so that the number of hex digits stays even.

[2018-10-08 13:56] chriseth opened #5158 "Add optimizer rule that performs `exp(x, k) -> mul(mul(...mul(x, x), ...), x)` if cheaper"

[2018-10-08 14:49] chriseth opened #5159 "Add some guards around the editor execution in isoltest."
We should not blindly execute `$EDITOR`. We could check that it is a path to an executable and also inform the user about what is about to be executed. Also, the filename should probably be properly quoted.

[2018-10-08 15:03] chriseth opened #5160 "Add more error messages to failing assertions"

[2018-10-08 15:04] chriseth opened #5161 "Try to keep source location for generic routines"
Generic routines often do not have a proper source location because the location cannot be uniquely assigned if the routine is used from multiple places. Often, such routines are only used from a single place and in that case, the source location should be retained.

[2018-10-08 15:19] chriseth opened #5162 "Documentation: Clean up main page"
As suggested by the zeppelin audit, the main page should not contain external links but rather be a landing page that contains the TOC and other things.

Quoting: Consider moving all these links to an independent section, leaving on the main page only the introduction, the links to translations and the description of the next sections, to better guide newcomers into a recommended reading sequence.

[2018-10-08 17:22] #2274 closed, assigned to nobody

[2018-10-08 17:24] axic commented on #5160
Duplicate of #1042 😉

[2018-10-08 17:52] chriseth opened #5164 "Increase unit test coverage"
We assume the numbers in https://codecov.io/gh/ethereum/solidity/branch/develop to be correct. They should be increased. :)

[2018-10-08 17:54] chriseth opened #5165 "Add gas usage tests"
Especially when we are adding the new backend, gas usage tests should be added to the compiler so that we notice when the gas requirements of certain typical contracts increase through change is the code generator.

[2018-10-08 17:57] chriseth opened #5166 "Improve "running the tests" section"
From the zeppelin audit:

 - Make sure that the “Running the compiler tests” guide works on all supported platforms, and state which platforms are supported.
 - Clearly define what output is expected for a 100% successful run of the test suite.
 - ~Provide more information about the particular cpp-ethereum version required for the tests~.

[2018-10-08 18:05] chriseth opened #5167 "Add specific unicode string literal type (and make ascii the default)"
From the zeppelin audit:

Strings in Solidity are not only used for displaying information: for example, it is very common to have them be a key of a mapping. Because UTF-8 allows for multiple invisible characters (e.g. ZERO WIDTH SPACE), and for characters that look almost like common characters (e.g. GREEK QUESTION MARK), this usage can be extremely problematic, and lead to underhanded backdoors

[2018-10-08 19:47] #4691 closed, assigned to ekpyron

[2018-10-08 20:08] axic commented on #4429
We seem to have two options at hand:
a) `_abc123..._` (single underscores)
b) `__$abc123..$__` (two underscores plus dollar sign)

Unless current linkers are updated:
in case of a) linkers will not detect it as an unlinked section, will leave them unchanged and the resulting bytecode will still be unlinked resulting in a deployment error
in case of b) linkers could detect it as a regular unlinked

[2018-10-08 20:13] chriseth opened #5168 "Some code cleanup"
From the zeppelin audit:

Some suggestions. This is not mandatory, only perform the changes where it makes sense.

- [x] Use `= default` to define a trivial default constructor.
  - No default c'tors were found in the code
- [x] Use `ClassName x{constrArg}` instead of `ClassName x = ClassName(constrArg)`
  - After some discussion we decided to make this more a policy for new code and for "fix it w

[2018-10-08 20:34] chriseth opened #5169 "Source Reference Formatter should truncate multi-line snippets"
If an error contains `^ (Relevant source part starts here and spans across multiple lines).`, then the first line will be given in full. We should end it with `...` at the usual truncation ranges in SourceReferenceFormatter.

[2018-10-08 20:37] chriseth commented on #5160
The issue master strikes again!

[2018-10-08 20:37] #5160 closed, assigned to nobody

[2018-10-08 20:56] pipermerriam commented on #4429
I don't really have an opinion about this API anymore because we've moved to standard-json for everything and no longer introspect the bytecode in this way.

[2018-10-08 21:08] mxmauro commented on #4429
@pipermerriam what do you mean? Is there some new doc?

[2018-10-08 21:28] lazaridiscom commented on #5141
Nah, look again:

* #1802 (which got a bit messy btw.) fixes the problem at hand with a quick workaround, and is ready (after some tiny cleanup) to be merged ( = closes the issue at hand). To use your terminology: I fulfilled this ticket.
* This issue here affects a more general code-refactoring / redesign, which can take some time (and will most possibly spawn a few more issues). Again, to use yo

[2018-10-08 21:35] lazaridiscom commented on #5151
Guess I got too verbose.

Actually this will worsen the documentation (No professional documentation has items in the root)

[2018-10-08 23:04] pipermerriam commented on #4429
https://solidity.readthedocs.io/en/develop/using-the-compiler.html#output-description

[code]

The `standard-json` compiler interface outputs this data which allows you to link the bytecode without introspecting it's values.

[2018-10-08 23:56] mxmauro commented on #4429
As far as I know, `linkReferences` are created based on the command line parameter that fills the `m_libraries` variable.

It is not a good solution because you have to know in advance the libraries you are using recursively, something that is resolved when the `#import`s are processed. Also on large projects you end with a very big command-line.

[2018-10-09 00:03] vs77bb commented on #4648
@ChrisCates @KevinKelley I just approved you both to continue work on this bounty in a 'cooperative' fashion, as you've both already done regardless (love it!). Are either (or both) of you still interested in taking this forward?

[2018-10-09 00:27] axic commented on #4429
I am not sure what you mean, but `linkReferences` is filled for every unlinked instance.

[2018-10-09 00:28] lazaridiscom commented on #5152
This is a dead one (possibly permissions? )

I believe that a "high degree of disclosure" would be positive for Solidities/Ethereums image. Investors and Evaluators are surely happy to simply find such information, instead of researching for it from different sources (or worse: guessing it).

Sorry, my fault. Its not only about contacting, its about being able to assess things faster (e.g. knowing

[2018-10-09 01:00] chriseth opened #5173 "Shadowing warning between local variables or function depend on declaration order"
Example:
[code]

[code]

Discovered by @k06a

[2018-10-09 01:03] chriseth commented on #4429
@mxmauro I'm also not sure what you mean, but what you describe seems to be a different issue. If you are talking about `--libraries` - the option to that can also be a file name, so the comandline will not get longer.

[2018-10-09 01:10] chriseth commented on #5151
@lazaridiscom could you please expand the previous statement a little? What do you mean with "items in the root" and why do you think it would worsen the documentation?

[2018-10-09 01:12] KevinKelley commented on #4648
Excellent!  Yes, I'll be glad to keep on.

[2018-10-09 01:50] mxmauro commented on #4429
Time ago I did a nodejs' wrapper to use the native compiler and remember I had to use `linkReferences` as you guys mention above. Didn't remember :)

It works but I have to ensure `sources` and `urls` have the full paths and also have to use `--allow-paths` to be able to specify absolute ones.

[2018-10-09 01:56] ChrisCates commented on #4648
@vs77bb, absolutely, I wasn't sure what was going on with this specifically, hence why I didn't continue, but, thank you for following up.

Let's see if we can get a PR going this week.

Also this is a good time to discuss cases we need to account for, @KevinKelley, please let me know if I'm missing anything:

- [ ] 0 and f hexadecimal cases covered (the most essential, any other cases I'm missing

[2018-10-09 03:32] axic commented on #5168
Actually the `NULL` is only used in external C APIs (when using `compileStandard`) and in `Token.h`. I am not convinced these need to be changed.

There seems to be a single instance of this.

[2018-10-09 03:58] ekpyron commented on #5159
Actually I'm not really convinced by this one and even less sure about it being of "medium severity" in the audit - the respective code will never be executed in production scenarios and will only ever be executed interactively - it makes no sense to use it automatically or without user interaction... If one considers it bad to execute $EDITOR in an interactive testing tool, since its value may ha

[2018-10-09 05:42] lazaridiscom commented on #5151
I try:

This I mean with "root":

[code]

Some entries are a bit too long, but for a "root menu" it seems ok (could be a little bit more compact)

Now, doing something like this:

[code]
would make it worser (too much information visible immediately in root, even if indented).

I need more time/teach-in to have suggestions, currently I just speak when something is clear to me (e.g. it's of general

[2018-10-09 07:11] k06a commented on #5173
Hi @chriseth, one more example with inheritance:
[code]

[2018-10-09 07:37] leonardoalt commented on #5152
I partially agree with the GitHub user information, but listing the roles seems unnecessary to me since we don't have more than 2.

[2018-10-09 09:34] ghost commented on #4891
@chriseth , thanks for the offer!

Problem: I usually can use chat only for small-talk (e.g. not for analytical conversation, me loosing it fast). So I'm bound to asynchronous, topic based media (issue-tracker, email etc.).

I have just two or three questions:

* The documentation in the header-files is used to produce docs? Where can I find info on this?
* where can i find more info about the dep

[2018-10-09 09:53] #3237 closed, assigned to nobody

[2018-10-09 09:53] chriseth opened #5175 "Document that pure functions can use require and revert"
Refers to https://github.com/ethereum/solidity/issues/3237

[2018-10-09 10:05] chriseth commented on #4891
Haha that's fair :)

We do not generate standalone code documentation. I usually much prefer seeing documentation and code in the same place because they often complement each other and it is easy to jump to definitions using a proper IDE. Standalone documentation is only useful if the documentation is a full specification, which only makes sense for standardized libraries in my opinion.

The func

[2018-10-09 10:09] chriseth commented on #4648
I think the function should be split into two: One that generates numbers that do not have to be super readable, but are proper yul literals (mostly the same as solidity literals). This is basically the current behaviour. The other one generates numbers that are readable by humans without any further requirements.

[2018-10-09 10:09] chriseth commented on #5168
I think we could change Token.h to be more C++-like, perhaps even getting rid of the macros and rather doing it in the way it is done in the RuleList https://github.com/ethereum/solidity/blob/develop/libevmasm/RuleList.h#L61

[2018-10-09 10:10] chriseth commented on #5168
Removing the macro in Token.h would help IDEs properly recognizing the token identifiers.

[2018-10-09 10:12] chriseth commented on #5151
We can try it out. This issue could also be solved by just grouping things that are currently parallel to "Soldity in Depth" into new sections so that at least the section "Solidity in Depth" is more prominent due to the smaller number of root level items, even if it is not expanded by default.

[2018-10-09 11:36] unegare opened #5176 "strange behaviour connected with pushing uninitialized structure into array"
Solidity version: version:0.4.25+commit.59dbf8f1.Emscripten.clang
env: remix.ethereum.org

[code]

for example it was deployed in ropsten at 0xBc9808849940eab12225BD936A4f6eA517c1f00b

Problem: globd1 != globd2, it is true for the pushed element into array.
actually globd1 = (0,0), but globd2 = (arr.length, 0), element in array IS NOT ZERO, but pushed structure was zero;

It seems like a bug, does

[2018-10-09 12:13] chriseth commented on #5176
Please take a look at the warning from the compiler. This will be an error starting from Solidity 0.5.0.

[2018-10-09 12:13] #5176 closed, assigned to nobody

[2018-10-09 12:17] #1802 closed, assigned to nobody

[2018-10-09 12:29] chriseth opened #5177 "Disable coverage cmake option for release"

[2018-10-09 13:52] #5052 closed, assigned to christianparpart

[2018-10-09 20:40] Mordax commented on #5103
Interested in tackling this if that's alright.

[2018-10-10 00:44] ghost opened #5182 "CREATE2 documentation is incorrect"
The CREATE2 documentation in assembly states that:

This is wrong. [EIP 1014](https://eips.ethereum.org/EIPS/eip-1014) states:

Proposal:

Change this to:

[2018-10-10 01:55] liangdzou commented on #4674
I think it is reasonable to have a document on the PR to show some general thoughts about the implementation. For instance, the document needs to show what is the problem and how the PR solves the problem.

Meanwhile, a PR usually comes with some test cases, especially for new features. The test cases can show the cases that have been considered. It would be better to add the test cases to the tes

[2018-10-10 02:46] lazaridiscom commented on #5152
I think you've more than 2, possibly just not that aware of this (e.g. because it was never necessary to clarify/document this).

[2018-10-10 07:30] pieterhartel commented on #5156
Thanks, I have managed to install all old  emscripten versions of the compiler on my linux system. The v0.4.x compilers seem to be reliable, but I some of the pre v0.4.0 versions are not that reliable.

I'll close the issue.
--pieter

[2018-10-10 07:30] #5156 closed, assigned to nobody

[2018-10-10 09:42] chriseth commented on #5103
Please go ahead!

[2018-10-10 12:51] Latrasis commented on #4853
@chriseth: Any pointers how to implement this?

[2018-10-10 13:21] #5042 closed, assigned to erak

[2018-10-10 13:22] #3645 closed, assigned to nobody

[2018-10-10 13:29] #5023 closed, assigned to erak

[2018-10-10 13:30] #5182 closed, assigned to nobody

[2018-10-10 13:54] lazaridiscom commented on #5129
Great!

[2018-10-10 14:15] chriseth commented on #4853
I'm sorry, but you won't solve your problems by removing the metadata. Your analysis tool will have to perform a reachability analysis to detect code and non-code, there is no way around it.

[2018-10-10 14:49] ghost commented on #4891
I totally prefer in-code documentation, too.

I think I've enough info now, so in a few days I should have the result.

[2018-10-10 15:00] ghost opened #5187 "void"

[2018-10-10 15:45] leonardoalt opened #5190 "SMTChecker: reset state variables after external call to unknown function"

[2018-10-10 15:47] leonardoalt opened #5191 "SMTChecker: support state variables in external function calls to known contracts"

[2018-10-10 15:55] leonardoalt opened #5192 "SMTChecker: msg.*, block.*, tx.*, gasleft() and blockhash()"

[2018-10-10 15:59] leonardoalt opened #5193 "SMTChecker: support modifiers"

[2018-10-10 16:06] anurag-git commented on #3667
@vs77bb, kind reminder

[2018-10-10 16:16] Meshugah commented on #4894
@chriseth I'd like to hand this off to someone else due to work constraints.

[2018-10-10 17:07] kyconny opened #5194 "Yul: Grammar Inconsistent With Given Example"
## Description

The grammar given in [yul.rst](https://github.com/ethereum/solidity/blob/develop/docs/yul.rst) defines
`Block = '{' Statement* '}'`
`Default = 'default' Block`

However the example code given uses the notation:
`default: { blah }`
notice the presence of the colon that isn't in the grammar.

Either the grammar should change to reflect the example, or the example to reflect the gramm

[2018-10-10 18:52] #4066 closed, assigned to nobody

[2018-10-10 18:54] chriseth commented on #5194
Thanks! Will fix shortly.

[2018-10-10 18:56] #5059 closed, assigned to axic

[2018-10-10 18:57] chriseth commented on #4894
OK, no worries! Thanks for your efforts!

[2018-10-10 20:09] mestorlx commented on #4156
@chriseth  and @axic I would like to take this issue if possible.
The new version of the compiler has different messages for the second and third cases as shown below.

[code]
gives now `Undeclared identifier. "f" is not (or not yet) visible at this point.`  should be updated to `Undeclared identifier ."f" did you mean "this.f()"`

[code]
gives now `Error: Undeclared identifier. "a" is not (or not

[2018-10-10 21:16] vs77bb commented on #4894
@liangdzou Would you be interested in picking this one up? 🙂

[2018-10-10 21:29] vs77bb commented on #4066
@mestorlx great work here! Just paid out - let me know if you have any issues claiming your tip 🙂

@chriseth if you have anything else you'd like to work with @mestorlx on, make a [Gitcoin Request](http://gitcoin.co/requests) and we can ping accordingly!

[2018-10-10 21:30] vs77bb commented on #4494
Snoozing Gitcoinbot - @chriseth, is this one with you for review? 🙂

[2018-10-10 21:31] vs77bb commented on #3667
@anurag-git just paid out, sorry for the delay. Good work! 🎉

[2018-10-10 21:34] vs77bb commented on #4674
@chriseth Would it make sense to return this to the crowd for another approach? @meowingtwurtle, we're happy to pay you a part of the bounty for your time here.

[2018-10-11 01:41] liangdzou commented on #4894
Sure

[2018-10-11 05:59] jabreght opened #5200 "Withdrawal pattern clarification"
## Description

https://solidity.readthedocs.io/en/v0.4.25/common-patterns.html#withdrawal-pattern
In this description I believe you should change the wording for how the game/contract works. I think there is an issue with the current wording.
      _"In the following contract, if you are usurped as the richest, you will receive the funds of the person
      who has gone on to become the new riche

[2018-10-11 09:31] chriseth opened #5201 "Investigate staticcall/delegatecall trampoline"
View library functions are currently called using delegatecall, because there is no delegatecall+staticcall combination. It could be possible to call the current contract using staticcall with a special signature which then forwards to the actual library using deleatecall.

Things to investigate:

 - how much more gas will it cost?
 - which identifier can be used such that there will be no clash w

[2018-10-11 09:36] chriseth commented on #5200
I think the wording can be improved, but you actually get the full amount, not just the fee. What might not be too clear is that once you send money to the contract, the money is gone. Do you have a suggestion about how to improve it?

[2018-10-11 09:48] chriseth opened #5202 "Diagram of the Compiler"
We should create a diagram of the various stages of the compiler and which information is present at which stage and which files are mostly relevant to the various stages.

#### Parser

Source code

 - Scanner

Token stream

 - Parser

non-annotated AST

### Analysis

 - Syntax Checker
 - Docstring analyzer
 - declaration registration
 - imports
 - name and type resolution
 - type checking (first

[2018-10-11 09:51] chriseth commented on #4156
@mestorlx I would suggest to first solve the first part of the message. Currently, we look through all identifiers that match the requested one for up to two changes. This of course does not make sense if the identifer itself only has 3 characters. Perhaps adjust this to take the length of the identifier into account: 1: no search, 2-3: at most one change, 4-: at most two changes

[2018-10-11 10:03] #5194 closed, assigned to nobody

[2018-10-11 11:11] Latrasis commented on #4853
@chriseth: Sorry, what I meant was if you could offer support or at least some advice on how we could implement #4853 in `solc` for us to make PR.

[2018-10-11 12:28] chriseth commented on #4853
Can you come to https://gitter.im/ethereum/solidity-dev so we can discuss?

[2018-10-12 06:35] ChrisCates commented on #4648
Hey there,
I pushed up some stuff (for debugging purposes): https://github.com/ChrisCates/solidity/tree/chriscates/hexreadable

I seem to running into problems with the `formatNumberReadable()` function.

It seems I get these errors:

[code]

I've made some modifications to the algorithm to cast to `bigint` (just so that other numbers don't need to be verbosely casted to the specified the template

[2018-10-12 06:46] ChrisCates commented on #4648
Also, I think I may modify the bool readable to the number of trailing
zeros you want in the readable format... Where zero specifies the normal
format.

[2018-10-12 13:53] #4429 closed, assigned to nobody

[2018-10-12 14:55] code-brewer opened #5210 "contract state variable don't print as expected when invoke from another contract"
## Description
Contract A has a state variable `owner` , which initialized well to msg.sender .
But this `owner` variable became 0x0 when invoke from another contract function which take address of contract A's instance and convert to A type.

## Environment

- Compiler version: 0.4.25
- Framework/IDE:  Remix
- EVM execution environment :
    Check 'Auto compile ' and  'Enable Optimization' on Com

[2018-10-12 15:30] erak commented on #5057
@axic This was fixed by https://github.com/ethereum/solidity/pull/5195 and should not happen anymore. Could you please verify?

[2018-10-13 11:31] chriseth commented on #5210
Please do not blindly ignore compiler warnings. The reason for the behaviour is that `owner` is shadowed, as explained in the compiler warnings.

[2018-10-13 11:31] #5210 closed, assigned to nobody

[2018-10-13 12:23] bshastry opened #5212 "oss-fuzz integration"
Hello,

I was wondering if there has been a discussion in the past on fuzzing solidity continously with free OSS fuzzing services such as oss-fuzz?

P.S. I tried to compile solidity on Ubuntu 16.04 against clang-8 (latest) but ran into linking errors that I gather is mostly due to ABI updates in libstdc++ (namespaces for commonly used objects such as std::basic_string seem to have changed) that cl

[2018-10-13 20:48] vs77bb commented on #4891
Hi folks we're going to cancel the bounty here for everyone to work on this offline 👍

[2018-10-13 20:54] vs77bb commented on #4894
@liangdzou Please pick it up [on Gitcoin](https://gitcoin.co/issue/ethereum/solidity/4894/1201) by clicking 'Work Started'!

[2018-10-14 01:45] KevinKelley commented on #4648
(PR here)[https://github.com/ethereum/solidity/pull/5214], not intended for use, just to show work

I've added a little more to it; there are 4 features now.
- ends-in-zeroes shows as `* 2^N`
- ends-in-FFs shows as `* 2^N - 1`
- non-special hashes get truncated for display to 8(?) characters
- mixed-case Hex like `0xABCDabcd...`

Haven't integrated yet; just added the formatNumberReadable and some

[2018-10-14 06:14] chrisli30 commented on #3909
@donamk You are the man!
I debugged an hour but couldn't figure out why brew solidity is failing. Boost is the culprit! I did "brew unstall --force boost", "brew install boost", and "brew brew link --overwrite boost" and solidity starts to "make install"!

[2018-10-14 12:01] KevinKelley commented on #4648
@chriseth Yes, I agree that current behavior for yul and sol literals needs to be kept; this "human-readable" push is just to make error messages and such, be easier to understand.  If we want to produce "pretty" code...I guess that would be another thing, but not likely useful I think?  I mean normally you don't generate literal signatures into contracts very often.

I'm thinking this "readable"

[2018-10-14 12:08] KevinKelley commented on #4648
@ChrisCates ...guessing that you're past the template error you had, by now.  If not, I'd suggest refactoring to straight non-template function that takes bigint, make sure that works first...

Back to your checklist, yeah, that's about right.  We can do the first couple cases easily, already working; and the third point about how many digits to display (and my suggestion of like 0xABCDabcd...) is

[2018-10-14 21:50] vs77bb commented on #4156
@mestorlx I just manually assigned you to work on this one on Gitcoin! Glad you're already getting this going 🙂

[2018-10-15 01:55] ChrisCates commented on #4648
@KevinKelley, it was a very bizarre issue...
All I had to do to fix it was:

[code]

instead of:

[code]

I'm not sure why this caused an error... I'm using Mac OS Mojave with the LTS of LLVM and Clang...

Also, it works fine with a template now.
I'll look into getting everything integrated... As well as preparing some solidity smart contracts to validate the SMTChecker file.

[2018-10-15 02:23] ChrisCates commented on #4648
@chriseth I've noticed that there are some places where truncation is used in a way other then that we specified:

[code]

Do you want the same implementation done for large numbers specified in the error message?
[code]

Should be:
[code]

Or even we can drop the hex prefix altogether for error messages for formality.
If not, I won't bother changing these messages.

[2018-10-15 07:20] ChrisChinchilla opened #5216 "Turkish Docs translation"
This issue is to track the progress of the Turkish translation of the Solidity documentation.

It includes the GitHub usernames of all involved, and links to any issues or pull requests related to the Turkish translation.

All translation efforts in progress from this date are pinned to commit
https://github.com/ethereum/solidity/commit/b2b845d6def4d28215c5d591589555bd8f4ea6ab

## Contributors

Ba

[2018-10-15 08:04] ChrisChinchilla commented on #5202
@chriseth I wouldn't mind dusting off my wacom tablet for this :)

[2018-10-15 08:14] ChrisChinchilla commented on #5166
@chriseth I already made a start on this, so happy to continue with this feedback.

[2018-10-15 08:15] ChrisChinchilla commented on #5162
@chriseth Actually, I had the same thought myself, so will handle :)

[2018-10-15 08:44] leonardoalt commented on #4648
@KevinKelley You are right that this feature will be used only for humans, and not in code generation. I'm not sure though, about `non-special hashes get truncated for display to 8(?) characters`. These values are output by the SMTChecker when a counterexample is found for a failed assertion, so it still needs to be precise when telling the developer which exact values break the assertion.

[2018-10-15 09:06] erak commented on #5212
@bshastry We're mainly utilizing AFL (http://lcamtuf.coredump.cx/afl/) for fuzzing. There's also a section in the documentation that explains how to run it: https://solidity.readthedocs.io/en/develop/contributing.html?highlight=solfuzzer#running-the-fuzzer-via-afl.

Could you provide more details about your setup (compiler and library versions, as well as the output)? As far as I can tell, Ubuntu

[2018-10-15 09:24] #5053 closed, assigned to christianparpart

[2018-10-15 09:25] #5142 closed, assigned to nobody

[2018-10-15 09:28] christianparpart opened #5217 "Yul: block flattening pass"
Implement a YUL AST pass that flattens all blocks, in the sense that a block is replaced by its statements if the block is a regular statement inside another block.
This requires the disambiguator to have been run before (to avoid name conflicts).

NB: the blocks did exist to quickly deallocate stack slots for variables at the end of a block. That won't be needed in the future anymore, as the stac

[2018-10-15 09:31] christianparpart opened #5218 "Yul: empty variable declaration propagation"
We have empty variable declarations in Yul that are assigned at a later stage. Remove the empty variable instruction and rewrite the first assignment into a variable declaration.

### input:
[code]

### expected output
[code]

Note that this can only be done if the following conditions are met:
 - the first assignment and the declaration are statements in the same block
 - the variable is not refe

[2018-10-15 09:37] chriseth commented on #5202
As long as the tablet runs proper tools like inkscape... :)

[2018-10-15 09:38] chriseth commented on #5202
I fear that you need quite some insight into the compiler code, though.

[2018-10-15 09:38] chriseth commented on #5202
Perhaps you can create a preliminary svg and then we can adjust?

[2018-10-15 09:41] chriseth commented on #5216
Please use a more recent commit to pin to - optimally "today". We did lots of changes especially in those days.

[2018-10-15 09:43] chriseth commented on #5212
Would be happy to see such an integration, but please note that compiler fuzzing will not be able to find any critical issues. It is only able to improve the error reporting functionalities. In the best case, it can find memory issues like null pointer dereferences.

[2018-10-15 09:47] christianparpart opened #5219 "[cmake] put libyul code into its own static library"
Put the Yul subsystem into its own designated static library.

[2018-10-15 09:48] KevinKelley commented on #4648
@leonardoalt   So... can we tell, when do we need the precise value, and when do we just need to know what it looks like?  Sounds like you're saying, sometimes the humans need to see all the bits; and that makes sense.

I'm wishing for a tool output page that has abbreviated values you can click on for full info when you need it...this is really a display issue, where you'd like to see the pretty

[2018-10-15 10:20] leonardoalt commented on #4648
@KevinKelley I think the other features are great as they are, and `2^n` and `2^(n-1)` are very likely in our scenario.
Developers will always need all the bits when a counterexample is found, but `H*2^n` and `H*2^(n-1)` are not abstractions or truncated values, they still contain all the bits, so also good.

[2018-10-15 10:28] christianparpart commented on #5202
@ChrisChinchilla depending on *when* you wanna do that, I'd like to scratch the technical part, and then you could make it look nice. I'm on other tickets for the time being though.

[2018-10-15 10:33] ChrisChinchilla commented on #5216
@chriseth yeah, this was the one picked when this process started, but I will contact all translators and encourage them to update if they haven't got too far.

[2018-10-15 10:35] ChrisChinchilla commented on #5216
@altuntasfatih @cagataycali @mevlanaayas @msusur @onursabitsalman As this is a newer issue for you, I'll update the commit we recommend you fork from / rebase to.

[2018-10-15 10:38] KevinKelley commented on #4648
@leonardoalt Okay, true, 2^N truncations are still perfectly accurate.  Question for others is, do we want a display mode that does truncate some bits, in the interest of being quickly recognizable?

I'm taking it from this, that we need to keep the two sides separated, if we do it at all... accurate vs. readable...

[2018-10-15 10:39] msusur commented on #5216
Done! Cheers 🍺

[2018-10-15 10:40] ChrisChinchilla commented on #5202
@chriseth Well…

@christianparpart this is in the 0.5.1 project, so there's no rush. I'm happy to work with you on this :)

[2018-10-15 10:59] chriseth commented on #5057
Confirmed fixed.

[2018-10-15 10:59] #5057 closed, assigned to axic

[2018-10-15 11:03] #4156 closed, assigned to nobody

[2018-10-15 11:50] k06a commented on #3419
Interfaces are unusable until inheritance implemented.

[2018-10-15 12:03] chriseth commented on #2742
Now that we isolated the bug, it would be great if you could run it once more.

[2018-10-15 12:15] barakman commented on #2742
@chriseth:
So just to be sure we're on the same page here - you want me to:
- Download your `solc` version from https://ci.appveyor.com/project/ethereum-free/solidity/build/job/j29vmubcyt6ni4wy
- Use it in order to compile the MVP that I previously posted ([here](https://github.com/ethereum/solidity/issues/2742#issuecomment-427257310))
- Post the printouts here

Is that correct?

[2018-10-15 12:21] chriseth commented on #2742
Please use the solc version you mentioned and compile the same situation as in my comment https://github.com/ethereum/solidity/issues/2742#issuecomment-427795397 and post the full printout and the full commands. Thanks a lot!

[2018-10-15 12:30] barakman commented on #2742
@chriseth :
You want me to compile a source file which contains nothing but `import "../../x/y/r.sol";`...?

[2018-10-15 12:37] chriseth commented on #2742
Create a directory hierarchy: `a\b\c\d` containing a file `a.sol` whose contents are
`import "../../x/y/r.sol";`
And another empty file `r.sol` in the directory `a\b\x\y\` ( note the last two path components are different).

Then run from the directory that contains `a` as a subdirectory:
`solc.exe --allow-paths . a/b/c/d/a.sol`
and please also try
`solc.exe --allow-paths . a\b\c\d\a.sol`

[2018-10-15 12:40] #2177 closed, assigned to nobody

[2018-10-15 12:46] barakman commented on #2742
@chriseth:
Got it.
At present, there are 2 queued jobs and nothing to download (unless I'm missing something).
So I will check it again in about an hour.
Thanks

[2018-10-15 12:48] chriseth commented on #2742
Please use this one: https://ci.appveyor.com/api/buildjobs/754jayqv3g0ebic4/artifacts/solidity-windows.zip

[2018-10-15 12:56] barakman commented on #2742
@chriseth:

For your first request:
[code]
For your second request:
[code]

[2018-10-15 14:10] bshastry commented on #5212
Thanks, support for afl-fuzz is definitely a good start. However, a project like solidity can benefit greatly from oss-fuzz for the following reasons:
  - access to multiple fuzzing engines including afl-fuzz
  - trigger on every build
  - automatic issue triage and notification to devs

The main linking issues that I see at the moment (after having built boost lib dependencies from scratch) are:

[2018-10-15 14:13] bshastry commented on #5212
Thank you for your input. The hope is that were the compiler be fuzzed with malformed solidity programs, assertion failures in the compiler process may be uncovered that may shed light on (compiler writer) assumptions. Of course, the fuzzing also helps uncover memory corruption issues which is also important imho e.g., malformed solidity contracts should not crash the compiler during compilation.

[2018-10-15 14:30] chriseth commented on #2742
@barakman ok, that looks like it is indeed working. Why did it not work for your concrete source code?

[2018-10-15 14:35] mestorlx commented on #5007
@chriseth the exemption is thrown from `string const CompilerStack::lastContractName() const`
which is being called from `void CommandLineInterface::handleAst(string const& _argStr)` here is a code snippet
[code]

I see two options. First wrap the code inside try and catch. The second possibility would be to check if the `m_contracts` inside `CompilerStack` is empty  before hand. However, for this

[2018-10-15 14:44] barakman commented on #2742
@chriseth:

I would need to actually try it on my MVP in order to answer this question, but one quick hunch would be the location of `solc` in each case.

In my MVP:
- The location of `solc` (and all required DLLs) was under `test/solc_0.4.24`
- The execution of `solc` was therefore via `call ..\solc_0.4.24\solc.exe`

In your test-case:
- The location of `solc` (and all required DLLs) is under `te

[2018-10-15 14:44] chriseth commented on #5007
I would say the solution is to turn the `if` into a loop over all contracts (you can use `m_compiler->contractNames()`) as suggested by the "FIXME".

[2018-10-15 14:45] chriseth commented on #5007
ah and you also need to add up the gas costs, I would say.

[2018-10-15 14:46] chriseth commented on #2742
I can hardly imagine that this would have an influence. The current working directory has an influence, but not the location of the compiler binary or which output you request.

[2018-10-15 14:54] barakman commented on #2742
@chriseth:
Indeed no impact.
I also added some actual contract to each one of source files that you requested (otherwise no binaries are created, so I figured we might not be testing things "for real").
But no difference.

[2018-10-15 17:25] chriseth opened #5228 "Extract inline heuristic"
Extract the inlining heuristic from https://github.com/ethereum/solidity/pull/3397

[2018-10-15 17:46] chriseth commented on #2387
I'm closing this, this is just an effect of the strict shadowing rules.

[2018-10-15 17:46] #2387 closed, assigned to nobody

[2018-10-15 17:50] #5217 closed, assigned to christianparpart

[2018-10-15 19:46] fulldecent commented on #3419
The current workaround is to use:

[code]

I hear you loud and clear. Progress to fix this issue is happening at https://github.com/ethereum/solidity/pull/3729

[2018-10-15 19:55] chriseth opened #5229 "[Yul] Avoid clashes with builtin functions"
The disambiguator and the name dispenser should never generate names that match the name of builtin functions. This includes names of instructions and builtin functions of the dialect.

[2018-10-15 21:36] jgimeno opened #5230 "Source mapping shows less map points than instructions."
## Description

Hi! I am facing an issue with a source map, when I generate the combined json I see that there are les map points than instructions (taking care from push opcode with their extra bytes).

For example:

[code]

[2018-10-15 21:50] chriseth commented on #5230
Can you also provide the assembly output? My guess would be that the actual code of the runtime part is only 9 instructions long - the part after the instructions is data and not code.

[2018-10-15 22:15] jgimeno commented on #5230
Thanks @chriseth, I did not think about it.

This is what I got:

[code]

[2018-10-15 22:37] chriseth opened #5231 "[Yul] Improve inlining heuristic"
The decision about when to inline a function depends both on the called function and on the call site. A small function should be more likely to be inlined while a function call where an argument is a constant should increase the factor even more.

Currently, the size of the function is calculated for each function call, it is probably better to cache these values.

Furthermore, since we use the e

[2018-10-15 23:39] axic commented on #3825
Run this again with the official aleth 1.4.0 build and it is still happening.

[code]

[2018-10-15 23:41] axic commented on #3825
This is on mac 10.11.6, will need to check on a newer system.

[2018-10-16 00:56] rotcivegaf opened #5234 "Cant validate this contract in etherscan"
I have this code:
`contract Foo { function foo(bytes4) public {} }`
I deploy this contract using remix in ropsten net with version:0.4.25+commit.59dbf8f1.Emscripten.clang and enable optimization with runs: 200
[0xed1dd9b9684d52010bd59dd5ece841f5ce23ad29](https://ropsten.etherscan.io/address/0xed1dd9b9684d52010bd59dd5ece841f5ce23ad29)
But when i try verify in etherscan i cant:

[code]
VS
[code]
Not

[2018-10-16 01:33] liangdzou commented on #4894
If @svenski123 is interested, I would suggest him to work on this one :-)

[2018-10-16 07:20] jgimeno commented on #5230
Is this the code of the runtime?

[code]

If that is the case what is the correct approach? Using the source map as the measure of the instructions? So if I have 9 source map points, I know that there is 9 instructions on the bytecode and the rest is data?

[2018-10-16 07:20] svenski123 commented on #4894
@chriseth Could you approve either @lingdzou or myself to get started on this?

[2018-10-16 09:03] winsvega commented on #3825
could you print the actuall RPC response?
could be related:
https://github.com/ethereum/aleth/pull/5111/files

[2018-10-16 09:20] gumb0 commented on #3825
could be related:
ethereum/aleth/pull/5111/files

This issue is older.

[2018-10-16 09:52] chriseth commented on #5230
I think that assessment sounds reasonable, yes, although note that source mappings are just informative, so we are not as diligent there as we would be in the code generator itself.

[2018-10-16 09:53] jgimeno commented on #5230
Thanks @chriseth ! I close the issue then!

[2018-10-16 09:53] #5230 closed, assigned to nobody

[2018-10-16 12:24] chriseth commented on #2742
@barakman so are you saying that everything works as expected? Then can this issue be closed?

[2018-10-16 12:26] #5007 closed, assigned to nobody

[2018-10-16 12:41] chfast commented on #4239
If you are still fighting with this, can you run `make VERBOSE=1`?

[2018-10-16 12:45] chriseth commented on #5234
I tried to compile it, too, and it seems that that the difference in bytecode can be achieved by using a different value for the "runs" parameter of the optimizer. Could that be the reason?

[2018-10-16 13:02] chriseth opened #5237 "[Yul] Add more intermediate tests for the optimizer"
Currently, we do not test the following in between the optimizer steps:
 - whether all names are unique
 - whether the code is valid (i.e. all used variables are in scope, etc)

Not having such checks makes sense in production, but we should at least have the option to enable them for testing purposes.

[2018-10-16 13:39] chriseth opened #5238 "[Yul] Improve CSE to take commutative operations into account"
Currently, the CSE cannot detect that `x` and `y` are identical in the following code:
[code]

In the old optimizer, for each expression, the simplifier would be called which would always try the two versions of commutative operations.

Previously, the simplifier would also pull out all constants (there are rules for that) - not sure if this is the case for the new simplifier - at least it also kn

[2018-10-16 14:03] chriseth commented on #4894
@vs77bb could you please approve @svenski123 ? Thanks!

[2018-10-16 14:12] #4853 closed, assigned to nobody

[2018-10-16 14:21] chriseth commented on #5218
Perhaps it might make sense to combine this step with https://github.com/ethereum/solidity/issues/4945 but perhaps not.

[2018-10-16 14:26] chriseth opened #5239 "[Yul] Simple optimizer that does its job well for the ABI coder"
The final optimizer should always create compilable code (we had some issues with too many local variables) and the cost of the code should not be too much higher than for the old coder. It will be slightly higher because we added additional checks. Also note that the old coder did not combine any code - if two functions had the same parameters, there would be two copies of the decoder.

[2018-10-16 15:03] carlosfaria94 commented on #3909
Same problem here. macOS 10.14.

Solution:
[code]

[2018-10-16 15:04] #4946 closed, assigned to nobody

[2018-10-16 15:11] chriseth opened #5241 "Robot that posts CircleCI error messages as PR comments"
For some CircelCI jobs, it is quite tedious to click on the failing test and search for the error message. It would be much better if a script could directly post the error message as a comment to the pull request. I think this is especially useful for newcomers who do not know what the failures mean and how to get the test logs.

I'm especially thinking about the spell checker - the script could

[2018-10-16 18:14] BeckmaR commented on #5241
I‘m interested in this. In what form should the bot be contributed? Should the code actually go into this repo?

[2018-10-16 18:29] rotcivegaf commented on #5234
The "runs" parameter is 200, now in truffle i get this bytecode:
```608060405234801561001057600080fd5b5060a88061001f6000396000f300608060405260043610603e5763ffffffff7c0100000000000000000000000000000000000000000000000000000000600035041663580526ee81146043575b600080fd5b348015604e57600080fd5b5060777bffffffffffffffffffffffffffffffffffffffffffffffffffffffff19600435166079565b005b505600a165627a7a7230582019

[2018-10-16 22:42] rhlsthrm commented on #4261
@axic thank you for mentioning that workaround, I was going about a completely different type of refactor when this is all I needed for compilation.

[2018-10-16 23:08] chriseth commented on #5234
This seems to be the first one (please read about [metadata](https://solidity.readthedocs.io/en/develop/metadata.html)). So can this be closed?

[2018-10-17 00:04] axic commented on #5234
I think the metadata is cut off in the original comment, it is replaced  with "{bzzr}" by etherscan.

[2018-10-17 05:30] tpscrpt commented on #5241
test

[2018-10-17 07:24] jabreght commented on #5200
Oh sorry, I just referred to what the new king payed as being the fee. But yes they would receive all of the money.

I think stating that "User A starts the game by paying the starting amount to take control of the throne. User B pays to take control of the throne from user A. The funds paid by user B are sent to user A as compensation for having the throne stolen from them."

I believe something

[2018-10-17 09:53] redsquirrel commented on #5200
“thrown” ~> “throne”

On Wed, Oct 17, 2018 at 2:24 AM Joshua <notifications@github.com> wrote:

[2018-10-17 11:22] barakman commented on #2742
@chriseth:
I apologize for the delayed response.
I have located the difference between [my MVP](https://github.com/ethereum/solidity/issues/2742#issuecomment-427257310) and [your MVP](https://github.com/ethereum/solidity/issues/2742#issuecomment-429836734), which leads to a compilation error in mine but not in yours.

It is the execution path of `solc`.

In your case, you run it from a path which

[2018-10-17 12:13] chriseth commented on #2742
OK, thanks for your response!

[2018-10-17 12:13] #2742 closed, assigned to nobody

[2018-10-17 12:36] chriseth opened #5244 "[Yul] Improve expression joiner"
The expression joiner currently has a limitation that it has to be run multiple times to perform the join (this can also be seen by the fact that the test runner runs it twice). This should not be needed.

[2018-10-17 15:22] #5228 closed, assigned to nobody

[2018-10-17 15:22] #5231 closed, assigned to nobody

[2018-10-17 15:24] rotcivegaf commented on #5234
Ropsten etherscan its alive!
And i can verify the contract, [verified contract](https://ropsten.etherscan.io/address/0xa889fc13dbf2338046bcebe8c817ae73bc439271#code)
How fixed the bug? i don't know, but its fixed...

[2018-10-17 15:24] ChrisChinchilla opened #5250 "French Docs translation"
This issue is to track the progress of the French translation of the Solidity documentation.

It includes the GitHub usernames of all involved, and links to any issues or pull requests related to the French translation.

All translation efforts in progress from this date are pinned to commit
https://github.com/ethereum/solidity/commit/b2b845d6def4d28215c5d591589555bd8f4ea6ab

## Contributors

Base

[2018-10-17 15:28] ChrisChinchilla commented on #5250
Thanks again @Karocyt it looks like you used a recent commit to fork form, we are making quite a lot of changes to the English docs at the moment, so please let me know if you have any questions or things you need help with.

[2018-10-17 15:33] ChrisChinchilla commented on #5216
@msusur A quick thought. Can you add the repository to a read the docs build so we can add a rendered link to the main solidity docs?

[2018-10-17 17:53] #5162 closed, assigned to ChrisChinchilla

[2018-10-17 18:26] chriseth commented on #4092
This seems to be a reference implementation: https://github.com/ethereum/go-ethereum/blob/master/swarm/bmt/bmt_r.go

[2018-10-17 18:39] chriseth opened #5252 "Add performance tests"
The compiler should have tests that ensure that the compilation performance stays within reasonable bounds.

[2018-10-17 18:55] chriseth opened #5253 "Add tests for ASTPrinter"
This will increase code coverage by one percent.

[2018-10-17 19:02] chriseth opened #5254 "Improve error message in case of overload resolution failure"
We should at least print the inferred signature and the candidates considered.

[2018-10-17 19:19] chriseth opened #5255 "Implement and use own version of make_unique until we can drop trusty."

[2018-10-17 19:28] chriseth commented on #4170
How to compile a compiler yourself with a released version has been explained above (don't use git directly). The reason for the ordering is because we first increase the version number and then perform the release, as suggested by npm / semver.

[2018-10-17 19:28] #4170 closed, assigned to nobody

[2018-10-18 03:31] Karocyt commented on #5250
Thanks to you! I'm looking for an internship, so I'm translating and learning at the same time. Expect me to be slower and slower the deeper I get!

What do you expect to see changing that much ?
Even if the layout/wording can change and a few things be rephrased, everything seems reliable and in line with 0.5.0 so far.

[2018-10-18 07:20] malisetti opened #5261 "use of memoization ?"
From [wikipedia](https://en.wikipedia.org/wiki/Memoization)
In computing, memoization or memoisation is an optimization technique used primarily to speed up computer programs by storing the results of expensive function calls and returning the cached result when the same inputs occur again.

In general, computing costs gas on EVM. The concepts of memoization may be helpful for ethereum.

[2018-10-18 10:21] chriseth commented on #5261
Thanks for the hint! We are using memoization for small things and are planning to extend this with the new optimizer. Do you know of any specific situations where this might be helpful or do you have any specific ideas about how to implement it exactly?

[2018-10-18 10:42] leonardoalt opened #5262 "[SMTChecker] Address members"

[2018-10-18 10:43] leonardoalt opened #5263 "[SMTChecker] Maths and crypto functions"

[2018-10-18 10:43] leonardoalt opened #5264 "[SMTChecker] ABI Functions"
The ABI functions can't be implemented the same way as the crypto functions (https://github.com/ethereum/solidity/pull/10025) because they have variadic parameters.

[2018-10-18 11:24] chriseth opened #5266 "[Yul] Redundant assignment remover"
Optimizer step that removes redundant assignments of movable values to variables, if the variable is not referenced until it is re-assigned or goes out of scope. Care has to be taken with regards to secial control-flow.

[2018-10-18 11:46] malisetti commented on #5261
I don't have specifics, this is me just hinting but I think the pure functions can be memoized. Another thought is to use a memoize modifier ?

[2018-10-18 12:51] leonardoalt opened #5268 "[SMTChecker] Uninterpreted Functions"
Right now functions can have only one parameter, but that number should be arbitrary.
Functions that the SMTChecker won't implement should at least use uninterpreted functions, such as `blockhash`, `math & crypto`, `ABI` and address/this members.

[2018-10-18 13:10] chriseth commented on #5261
Note that pure functions are only disallowed from making state modifications. They can still have memory arguments which they are allowed to modify.
Even if those memory arguments are immutable: You would still need to check if the function arguments are the same.
Do you think this would have many use cases at the solidity function level?

[2018-10-18 15:36] cpurta commented on #5241
Have started messing around with adding a script to catch any error messages and posting that as a comment to a PR in a personal project. Can be seen in [this PR](https://github.com/halonproject/hydra-go/pull/9). Currently working on getting the error formatting to be a bit easier to read and then will open a PR when it is at a point where it looks good.

[2018-10-18 16:53] nventuro commented on #3529
@chriseth are there any plans to work around this warning? The Crowdsale example @ealmansi raised back in Febraury is still being used in OZ, and currently (AFAIK) the only way to get rid of the 'unused parameter' warnings is to remove the argument name (which in turn also requires removing the docstring), and there is no workaround for the 'mutability could be pure' one.

[2018-10-18 17:02] #5103 closed, assigned to nobody

[2018-10-18 17:13] chriseth commented on #5241
@BeckmaR sorry, I only saw your comment now. The idea would be that it is a small script that is part of the other CI scripts we already have.

@cpurta I think your PR is going into the direction I was envisioning here. Do you know which permissions are required for the access token? I guess I would need to create a new account, but I don't want the account to be able to modify any code, for examp

[2018-10-18 17:14] chriseth commented on #5241
@cpurta I had a quick look at the API endpoint you are using, and it seems that posting to a specific line would still need some conversion between file line number and "diff index" (whatever that exactly means).

[2018-10-18 19:24] cpurta commented on #5241
@chriseth the only permissions that I have for the access token that I am using is the `repo` and `write:discussion` permissions. Everything is checked in those sections.

As far as adding comments to the diff I am working on adding some functionality to parse the error(s) for filenames and try and find those in the diff and make a comment on the diff that way.

[2018-10-18 21:36] ghost opened #5274 "void"

[2018-10-18 21:52] lazaridiscom commented on #5241
To me this sounds like horror... a spell-check-bot polluting the issues...

[2018-10-18 23:21] ghost opened #5276 "void"
.

[2018-10-18 23:25] svenski123 commented on #4894
I've submitted pull request #5275, please kindly review.

I've tried to separate AST descent and annotation logic from the checking/message generation logic, as the latter is a bit kitchen sink (i.e. the deprecated function call checks (sha3/keccak256), the VM implementation dependent checks (staticcall).

The ABIDecode logic could also be factored a bit but it was already in a separate method and

[2018-10-19 09:10] #4945 closed, assigned to nobody

[2018-10-19 09:30] chriseth commented on #4997
Has been fixed.

[2018-10-19 09:30] #4997 closed, assigned to nobody

[2018-10-19 09:34] chriseth commented on #4575
clarification: rvalue means: `assembly { let x := super }` lvalue means: `assembly { super := 2 }`

[2018-10-19 09:35] chriseth commented on #4575
The fix probably needs to go into `bool TypeChecker::visit(InlineAssembly const& _inlineAssembly)`

[2018-10-19 09:36] #4613 closed, assigned to nobody

[2018-10-19 10:19] ChrisChinchilla commented on #5250
@Karocyt We are just making lots of small changes, and new features, so hard to say exactly, but any effort in your part is very welcome and I hope to find you more contributors too.

[2018-10-19 20:30] bshastry opened #5279 "Internal compiler error: function type conversion view to non-view"
## Description

The following solidity contract produces the error: `Invalid error: "InternalCompilerError"`

[code]

## Environment

- Compiler version: latest develop commit
- Framework/IDE (e.g. Truffle or Remix): na
- EVM execution environment / backend / blockchain client: na
- Operating system: Ubuntu 16.04

## Steps to Reproduce

[code]

Found by libFuzzer

[2018-10-19 20:42] justinmeiners opened #5280 ""allow-paths" is not used correctly for imports in standard json"
EDIT:

Add option `--base-path` for standard-json CLI such that the read callback reads relative to that.

---

## Description

`--allow-paths` does not work correctly when importing files with standard json. All imports, even relative to the current file are disallowed.

When using command line flags, instead of `--standard-json` it works just fine.

## Environment

- Compiler version:
   * 0.5.0

[2018-10-19 21:05] justinmeiners opened #5281 "Import paths that do not start with `.` or `..` are not treated as global paths and are treated differently when remapping"
## Description

The solidity documentation makes the following claim:

This does not appear to be true from a remapping perspective. This suggests to me that  a remapping such as `/=/some/include/path` should apply to imports which do not start with `.` or `..` For example, `import "file.solc";` These remapping to do not  work on these unprefixed imports.

In version 4.25 empty remappings could mo

[2018-10-20 00:59] randomnetcat commented on #4674
Sorry, meant to reply much earlier. If you guys want to have someone else look into this, by all means go ahead. I'm happy to give anything I've learned.

[2018-10-20 02:41] liangdzou commented on #4494
waiting for 0.5.0

[2018-10-20 02:43] liangdzou commented on #4997
@chriseth Thx :-)

[2018-10-20 14:52] clemlak commented on #5250
@Karocyt I'd be happy to help you on this task!

[2018-10-21 01:24] nfurfaro commented on #3419
It seems like an interface should stand on it's own, without needing to inherit. A collection of small, specific interfaces can be composed by a contract which inherits them. I don't think an interface should depend on anything else.

[2018-10-21 05:34] Karocyt commented on #5250
Thanks for your help @clemlak, invite sent, enjoy!
I'm committing every time I start working on a new file, so far going down in the menu. Pick your favorite and come along!
I tend to keep the english keywords (like "stack" or "smart contracts") but try to remind their french counterparts from time to time.
When we'll be done with translating, we might need a "Glossaire" page to sum up the specifi

[2018-10-21 07:46] d-saravanan commented on #2948
how do i return a mapping or a array from  a solidity function

[2018-10-21 07:53] d-saravanan opened #5282 "returning the string[] from a solidity function"
I have a solidity function like the one below,
[code]

The compilation of the code looks good. Hence, i have created a test case for the above one as given below.

[code]

When I try to run the test case, i am getting the below error

`,/H/ethereum/PM/test/FundingTest.sol:18:9: TypeError: Member "equal" not found or not visible after argument-dependent lookup in type(library Assert)
        Assert

[2018-10-21 13:39] wjmelements commented on #2948
You cannot return a mapping.

[2018-10-21 22:48] fulldecent commented on #3419
@nfurfaro I disagree.

The intent of the meaning "Interface A inherits interface B" can also be stated as "interface A requires interface B". This is a common concept and the compiler should understand it.

Here is just one example:

https://github.com/0xcert/ethereum-erc721/blob/master/contracts/tokens/ERC721Metadata.sol is an interface with three functions. It is specified in documentation that

[2018-10-22 07:34] k06a commented on #3419
@fulldecent you're right, but I prefer "interface A extends interface B". I OOP meaning, interface A is more specific than interface B.

[2018-10-22 13:34] leonardoalt commented on #5282
Hi @d-saravanan ,

The first piece of code looks good. The second one though, depends on `truffle/Assert.sol`. Are you sure it has function `equal`? Could you post it here too?

[2018-10-22 13:47] leonardoalt commented on #5282
Hi @d-saravanan,
the first piece of code looks good. The second though, depends on `truffle/Assert.sol`. Are you sure it has function `equal`? Could you post it here too?

[2018-10-22 13:51] chriseth opened #5284 "Increase coverage of Types.cpp"

[2018-10-22 13:56] christianparpart opened #5285 "[Yul] optimization pass: for-loop's init statement"
This Yul's optimization pass should move the for-loop's init statement into the outer block in front of the for-loop.

[2018-10-22 14:44] nfurfaro commented on #3419
@fulldecent I see your point. Can this be achieved using Abstract contracts? Use a single Abstract contract as a base contract for the implementation, and the Abstract contract can inherit as many interfaces as needed. I realize this doesn't quite codify the relationship between the 2 interfaces in your example in the same way that interface inheritance would.

[2018-10-22 15:11] cpurta commented on #5241
Working on parsing the git diff for a pull request and then attempting to find any errors within the diff. That should give me the index within the git diff in order to make a comment on the specific line that is causing the error. I think that if the error cannot be found within the git diff the bot should then just post a general comment on the PR itself. @chriseth does that seems inline with yo

[2018-10-22 16:45] ChrisCates commented on #4648
Hey,

This reminder was helpful.
Im going to push a more complete PR with test outputs to check later today
or tomorrow.

Sorry, for the delays! I know this isnt top priority stuff, but still nice
to have it done in a timely manner.

[2018-10-22 19:55] chriseth commented on #5241
Sounds great! If you want, we can already start with just posting comments in general.

[2018-10-22 22:15] nfurfaro commented on #3419
Can we not accomplish this with Abstract contracts?

On Mon, Oct 22, 2018, 1:47 AM Anton Bukov, <notifications@github.com> wrote:

--

Nick Furfaro

[2018-10-22 23:56] fulldecent commented on #3419
Yes, an `abstract contract` or a `contract` is able to achieve the same thing. But semantics are lost.

Semantically, inter-contract communication is described by interfaces (which represent Ethereum ABI). If people that are standardizing inter-contract communication (🤚) are using interfaces that implement or extend other interfaces then this behavior is more semantic to be in interfaces.

[2018-10-23 00:54] nfurfaro commented on #3419
Got it. Thanks for the clear rationale behind it.

On Mon, Oct 22, 2018, 5:56 PM William Entriken, <notifications@github.com>
wrote:

--

Nick Furfaro

[2018-10-23 06:59] clemlak commented on #5250
Thank you, perfect!

[2018-10-23 07:12] jabreght commented on #5200
@redsquirrel
My apologies, and thank you. I spelled the first occurrences correctly, but not the last one oddly enough 😄.

[2018-10-23 10:15] ChrisChinchilla commented on #5250
Amazing, thanks everyone, contributors updated and please let me know if you have questions.

[2018-10-23 13:09] chriseth opened #5290 "[Yul] Structural simplifier"
There should be a pass that performs various structural simplifications:

 - remove if with empty body (and movable condition)
 - remove if with true condition
 - turn switch into if (we might have an issue about that already)
 - remove for with false condition
 - remove for with empty body and post (move "pre" part)

[2018-10-23 13:12] chriseth opened #5291 "[Yul] Combine syntactically equivalent functions"
This optimizer pass needs to determine whether two functions are equal and then replace all calls to the first by calls to the second.

Comparing if two functions are equivalent can of course only be done on a syntactical level. It has to start with computing the mappings between variable names. We should also not perform a quadratic comparison of all functions, but instead use a mapping to a coar

[2018-10-23 16:49] fulldecent opened #5293 "Document the resiliency of storage usage"
Production applications are using upgradeable contract patterns. This includes some models where storage for one contract is shared between multiple logical implementations (`DELEGATECALL`).

A critical assumption of these implementations is that the storage "API" for Solidity is the same between any Solidity versions as long as the variable name is the same.

# Example:

[code]

Deployment strate

[2018-10-23 20:15] ajm13 commented on #2469
I believe the ability to call Libraries dynamically (similar to Contracts) would be a very useful feature of Solidity.

Currently my team is working on an upgradeable system where Libraries can be swapped out (upgraded), and we have resorted to using assembly blocks to do a delegate calls on these Libraries where the addresses aren't known at compile time, and do not remain constant as the system

[2018-10-24 10:07] chriseth opened #5294 "[Yul] Improve performance of string operations"
The Yul AST makes heavy use of strings. We should abstract the string class into something that behaves better with respect to comparison and copy.

Proposal (names are not the best for now):

Create a singleton database (`StringDB`) that maps strings to unique identifiers (and allows efficient forward and reverse lookup).

Replace all occurrences of `std::string` in the Yul AST by a new class `un

[2018-10-24 10:11] chriseth commented on #5293
This has been part of the documentation for a very long time: https://solidity.readthedocs.io/en/v0.4.25/miscellaneous.html#layout-of-state-variables-in-storage

There is a pending pull request to improve the specification: #5023

There is also a pending PR to extract the storage layout from the compiler (don't remember the number for now).

We could add to the documentation that this layout is co

[2018-10-24 12:46] chriseth commented on #3529
You have to work around the problem that you cannot formally refer to the parameter, yes.
We might just add an exception if the body is empty for now.

[2018-10-24 12:48] chriseth opened #5295 "Do not warn about functions with empty body."
Unused variable warning and state mutability warning should be suppressed for functions with empty body similar to how it is suppressed for functions without implementation.

[2018-10-24 13:01] chriseth commented on #5276
We require the node to be in testing mode, and I believe that it will fail if that is not the case. In case it does not fail, we might be connected to a "live" ethereum node, and thus could trigger costly transactions.
If the tests do not proceed with non-testing nodes, we can add such a detection.

[2018-10-24 13:03] chriseth commented on #5261
I will close this until there is an example of a real-world use case, I hope you understand.

[2018-10-24 13:03] #5261 closed, assigned to nobody

[2018-10-24 14:10] chriseth commented on #5279
The assertion in CompilerUtils.cpp:1016 is hit. The following code compiles fine:
[code]
So it seems we have to take "view/pure-widening" conversions of function types into account.

[2018-10-24 14:19] PixelantDesign commented on #4156
@chriseth Is this issue no longer needed? Would you like us to close the Gitcoin issue?

[2018-10-24 15:22] chriseth commented on #4156
@PixelantDesign it was solved in the PR https://github.com/ethereum/solidity/pull/5208 so I think the bounty should be paid out.

[2018-10-24 20:47] maraoz opened #5297 "Increase test coverage to 90%"
## Description
Test coverage is at 88.19% now. Would be nice if someone took it to the arbitrary but satisfying 90%.
Related to https://github.com/ethereum/solidity/issues/5164

[2018-10-24 20:58] maraoz commented on #5167
See https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1090#issue-342459480 to learn how OpenZeppelin was affected by this

[2018-10-24 21:42] CHAOWEICHIU commented on #2092
I had the same issue, but you can make it work by using `ethereumjs-util`
const { toChecksumAddress } = require('ethereumjs-util')
The address I had was
`0x8a9a728f64e58db7e790f099bddb3416ccc2eb77`
by using ` toChecksumAddress()` I get
`0x8a9a728f64E58Db7e790F099BdDB3416ccC2Eb77`

For how they did it, please refer to
https://github.com/ethereumjs/ethereumjs-util/blob/master/index.js#L476

[2018-10-24 21:44] Hyuntae-91 commented on #4988
Hello, @ChrisChinchilla.
I'm interested in translation. Could you please let me know the guideline to Contribute to translation?
I already checked the document, I can't find the guideline for translation.
Thank you.

[2018-10-24 23:18] frankchen07 commented on #1802
@vs77bb - worth closing this issue out on Gitcoin? https://gitcoin.co/issue/ethereum/solidity/1802/474

[2018-10-24 23:47] lazaridiscom commented on #5276
Ok, I added "Ensure node runs in testing mode" to the specification.

[2018-10-25 00:03] rmshea commented on #4648
@ChrisCates Thanks for the update! I've snoozed @gitcoinbot for 3 days. Let me know if you have any questions with this. I'm here to help 😸 🔨

[2018-10-25 00:04] rmshea commented on #4648
@KevinKelley are you still working on this? Let me know! 👍

[2018-10-25 00:07] ghost opened #5298 "void"

[2018-10-25 00:14] rmshea commented on #4494
@liangdzou, thanks for the update. I will snooze the bot for another 10 days.

Let me know if you have any questions 👍

[2018-10-25 00:25] KevinKelley commented on #4648
Yep, I've redone my prev submit according to the comments I got.  I ran into some github issues (lack of knowledge, lol) when I tried to re-submit the PR, so had to work that out.  Then I decided to clean up a little more, before resubmitting.

Current features are

- ends-in-zeroes shows as  x * 2**N
- ends-in-FFs shows as   x * 2**N - 1
- non-special hashes get truncated for display to 8(?) char

[2018-10-25 01:47] PixelantDesign commented on #4156
Thanks @chriseth!

@vs77bb this issue is good to payout!

[2018-10-25 01:57] lazaridiscom commented on #5141
@chriseth , I've looked into this a few times (with days in between), and it looks that there is something wrong (even possibly again the issue, or better: the requirements from within #1802). Usually it is just a tiny detail which can render the requirements invalid.

I have a few questions in order to understand better:

* why this notation? Why was the `hex"000000"` style notation introduced? I

[2018-10-25 08:00] leonardoalt commented on #4648
@KevinKelley In my opinion the accurate case should be default.
What exactly is the question about the mixed-case?

[2018-10-25 10:33] chriseth commented on #5297
I had a look at test coverage this week and concluded that measuring coverage is a good thing, but going by the total percentage is the wrong approach.

The thing is that codecov reports assertions that are not trigged as not covered. We could of course go so far and write unit tests with the sole purpose of triggering these assertions, but I don't think this would be a useful use of our time.

Th

[2018-10-25 10:41] chriseth commented on #5298
(from https://github.com/ethereum/solidity/pull/5198#issuecomment-433001620 )

The purpose of asserts is to re-ensure any assumptions about data being handed between modules of the Solidity compiler. When a solAssert is triggered, it is always a compiler error and never a user error. in this case, `prepareMemoryStore` should never ever be called for a type that has zero bytes size. The actual cond

[2018-10-25 10:41] #5298 closed, assigned to nobody

[2018-10-25 10:42] #5274 closed, assigned to nobody

[2018-10-25 11:57] chriseth opened #5300 "Coverage: add an SMT test for do-while-loop"

[2018-10-25 11:58] chriseth opened #5301 "Coverage: Remove unary plus from SMT component"

[2018-10-25 11:58] chriseth opened #5302 "Coverage: Test underflow during subtraction in SMT"

[2018-10-25 12:08] chriseth opened #5303 "[CLI] Increase Coverage of CommandlineInterface.cpp"

[2018-10-25 12:08] chriseth commented on #5297
I created some more specific coverage-related issues. Closing this.

[2018-10-25 12:08] #5297 closed, assigned to nobody

[2018-10-25 12:30] chriseth commented on #5280
The difference between standard-json and the old commandline interface is that stardad-json allows you to specify both the internal path of the file and the path of the file "on disk". The internal file is the key of the source map and is called `file.sol` in your input json. When the compiler now sees an `import ./test.sol`, it first resolves it local to the current internal path - which is just

[2018-10-25 12:36] chriseth commented on #5281
I fear that trying to remap `"/"` to something is just as little helpful as trying to remap `""`. In general, remappings only really work with actual directories (and the "root" is not really a directory).
Importing files without context is unfortunately not supported. If you move your file into a directory, the remapping would work:

If you want to import a file called `file.h` from a library cal

[2018-10-25 13:24] eternauta1337 opened #5305 "Aliased imports may not be working"
## Description

Imports with any syntax other than the currently most commonly used one don't seem to be working.
By the most commonly used I mean:
(1) `import "./Child.sol";`

[Solidity's documentation](https://solidity.readthedocs.io/en/v0.4.25/layout-of-source-files.html#importing-other-source-files) presents other possible forms for the import statement:
(2) `import "./Child.sol" as Juno;`
(3)

[2018-10-25 13:32] axic opened #5306 "Consider making libsolc a public API and ship shared libraries on Linux/macOS releases"
This was discussed in #2255 earlier. #2864 cleaned up the public API.

[2018-10-25 15:05] cpurta commented on #5241
@chriseth, great! Will make a pull request adding in the error reporting script today.

[2018-10-25 15:34] chriseth commented on #5305
@ajsantander note that `Juno` in your example does not represent the contract type `Child` inside the file `child.sol`, but rather the module `Child.sol` itself. I also think that the documentation is rather clear about this. If you have suggestions on how to improve it, I'm all ears!

[2018-10-25 15:53] vs77bb commented on #4156
@chriseth @PixelantDesign Just paid out, great work @mestorlx!  🎉

[2018-10-25 16:19] eternauta1337 commented on #5305
Aha! Yes, using `Juno.Child` works.
Thx ^^

I would simply suggest that this is clarified in the link to the documentation I provided. Perhaps with examples in the imports section?

[2018-10-25 16:22] chriseth opened #5310 "[Yul] Rematerializer should also take number of uses into account"
The purpose of the rematerializer has shifted since the introduction of the new expression simplifier. Previously, it was required to perform expression simplification, since the simplifier would not follow variables. The rematerializer is also the only step that generates bigger code (perhaps apart from the function inliner). Because of that, we should not consider it a too much functional compon

[2018-10-25 16:28] chriseth commented on #5305
Created https://github.com/ethereum/solidity/pull/5311

[2018-10-25 16:41] #5305 closed, assigned to nobody

[2018-10-25 19:20] lazaridiscom commented on #5298
Oh my....

[2018-10-26 00:09] KevinKelley commented on #4648
@leonardoalt to me it seemed like it helps...
    `0xAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAA`
vs
    `0xAAAAaaaaAAAAaaaaBAAAaaaaAAAAaaaaAAAAaaaa`

When the hex is long, you have to chunk it to compare; having detectable chunk boundaries helps me do that.

[edit]
...err...guess I didn't actually answer you. My question is, is this idea worth including?

Similar question about the various truncatio

[2018-10-26 00:20] KevinKelley commented on #4648
...err...guess I didn't actually answer you.  My question is, is this idea worth including?

Similar question about the various truncation ideas:
    `0x01234567...`
    `0x0123...+N+...CDEF`

[2018-10-26 04:02] lazaridiscom commented on #5187
@chriseth , I understand that you do not want to document this for some reason.

Closing.

[2018-10-26 04:02] #5187 closed, assigned to nobody

[2018-10-26 04:58] lazaridiscom commented on #5141
See the updated issue.

[2018-10-26 08:38] leonardoalt commented on #4648
Ah ok I see now.
I think those 2 features do make it much more human-readable.
I would suggest an extension of what @chriseth suggested, that is, that we have 2 functions:
1-  One that generates numbers that do not have to be super readable, but are proper yul literals (mostly the same as solidity literals). This is basically the current behaviour. So we keep it.
2- A new function that formats the

[2018-10-26 08:58] KevinKelley commented on #4648
Sounds good to me... I'm on it.

[2018-10-26 12:18] chriseth commented on #5266
Implemented in https://github.com/ethereum/solidity/pull/5292

[2018-10-26 12:18] #5266 closed, assigned to nobody

[2018-10-26 20:44] chriseth commented on #5071
Closed via https://github.com/ethereum/solidity/pull/5207

[2018-10-26 20:44] #5071 closed, assigned to nobody

[2018-10-27 21:52] lazaridiscom commented on #4494
@chriseth , @axic - similar to other issues, this one can be splitted into two parts:

* immediate fix
* more thorough fix

You suggested a message like:

but this sounds a bit strange to me. A possibly more concise message would be:

"No output format selected (see “Output Components” by solc --help)"

Users would know whats wrong and what to do next.

Users of my kind would ask themselves "why d

[2018-10-27 22:08] lazaridiscom commented on #4034
Postponed to 0.5.1: https://github.com/ethereum/solidity/pull/4936#issuecomment-422411029

@axic , could you remove the "bounty" and "help wanted" labels here?

[2018-10-27 22:15] lazaridiscom commented on #4122
Possibly this should be moved to a new issue.

"bounty" label should be removed

[2018-10-28 03:17] fulldecent opened #5318 "Add normal form SWAP* optimizations"
# Test case

Compiler: 0.4.25+commit.59dbf8f1.Emscripten.clang
Optimization: on with default settings in Remix IDE

[code]

<details>
<summary>Opcodes</summary>
| Loc  | Op           | Data                                                         |
| ---- | ------------ | ------------------------------------------------------------ |
| 0    | PUSH1        | 80

[2018-10-28 03:21] fulldecent opened #5319 "Add function selector optimization"
# Test case

Compiler: 0.4.25+commit.59dbf8f1.Emscripten.clang
Optimization: on with default settings in Remix IDE

[code]

<details>
<summary>Opcodes</summary>
| Loc  | Op           | Data                                                         |
| ---- | ------------ | ------------------------------------------------------------ |
| 0    | PUSH1        | 80

[2018-10-28 05:28] fulldecent commented on #1505
I am a fan of the MVP:

[code]

---

In other news, I am not a fan of storing English-language error messages inside the blockchain. So I think this MVP is a final product.

[2018-10-28 05:53] fulldecent opened #5321 "CALLDATA for call is packed differently than for canonical calls"
# Test case

Compiler: 0.4.25+commit.59dbf8f1.Emscripten.clang
Optimization: on default for Remix IDE

[code]

* Set a breakpoint on `assert()` and run both functions in Remix IDE. Capture the CALLDATA for the inner call.

# Actual outcome

CALLDATA 1:

**0x57e6193b**000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000025375

[2018-10-28 05:57] ChrisCates commented on #4648
I really hate that I didn't mention anything til now.
I've been having really severe dishydrotic eczema past couple weeks, last
week was awful, this week has gotten relatively worse... Sleeping has also
gotten a lot worse.

Really hate using excuses, but, it is what it is.

If my hands aren't balloons later down the line, and I see where I can
contribute... I'll be happy to do a PR.

Also, I didn'

[2018-10-28 06:08] lazaridiscom commented on #5143
related #4582

(getting again and again pinged by a codecov bot... well! )

[2018-10-28 10:03] k06a opened #5322 "Erasing array elements on explicit length change"
Today discovered that shrinking array length erases latest elements in loop. This default behavior can lead to many bugs, because many developers consider `length` change as `O(1)` complexity action. So erasing large array can waste a lot of gas also not fit into the Ethereum block.

I think if someone shrinks array, this array very likely could be enlarged in future. Let's not erase latest elemen

[2018-10-28 11:26] chriseth commented on #5318
Are you sure the existing optimizer ran in your case? I don't get a `pop` when I run it locally:
[code]

[2018-10-28 11:30] chriseth commented on #5319
Which exact logic would you propose? This kind of needs tracking of the range of all stack elements, which I think is a rather invasive step. Do you think this can be done a part of the peephole optimizer?

[2018-10-28 11:33] chriseth commented on #5319
Instead of adding an optimizer stage, we could also just fix this part of the code: If you right-shift after memory load, cleanup does not have to be performed.

[2018-10-28 11:34] chriseth commented on #5319
The relevant part is `CompilerUtils::loadFromMemoryHelper` - note that we only do not need cleanup for `bytesNN` and `uintN` types. It is required for signed integers, for example.

[2018-10-28 11:40] chriseth commented on #5321
Note that pre-0.5.0, `call` performed its own encoding ("pad to 32 bytes and concatenate") which was different from ABI encoding. We removed this special case for 0.5.0 and now `call` just takes a `bytes` and passes it on as is without modification.

[2018-10-28 11:41] chriseth commented on #5322
I don't think it is a good idea to keep storage dirty - there would be no way to clear it without the use of inline assembly. We decided for a different way to solve the underlying issue, though: https://github.com/ethereum/solidity/issues/3515

[2018-10-28 15:24] itsN1X commented on #4122
$I need someone to co-do-it ... Please feel free to drop [by](https://t.me/itsN1X) to team up ( :

[2018-10-28 18:51] k06a commented on #5322
@chriseth I think if someone shrinks array, this array very likely will be enlarged in future. Also, I see the only way for cheap cleanup arrays or mappings to use subcontract.

[2018-10-28 19:50] #4891 closed, assigned to nobody

[2018-10-28 20:06] ghost opened #5329 "void"

[2018-10-28 20:13] chriseth commented on #5329
:)

I think using these tags from time to time is good, but as long as this is not used by machines, it is fine to be a little inconsistent.

Other opinions?

[2018-10-28 21:09] #5218 closed, assigned to christianparpart

[2018-10-28 21:15] christianparpart commented on #5329
I found myself prefixing differently (such as `[Yul]`, `[YUL]` and `Yul:` - same for WIP's), The purpose is simply to quickly eye-scanning for tickets of interest (non-automated). I am fine with varying prefixes, too. It's probably also not worth the time finding a consensus among all participants. :)

[2018-10-28 21:17] christianparpart commented on #5306
I'm all in for this idea, as it might potentially help tooling integration, such as in IDEs for code completion (at some point in time).

[2018-10-29 12:26] jysdoran opened #5332 "[Yul] Signed comparison operators named illogically in Yul low-level functions"
## Description

sltu256 and sgtu256 both imply that they are short for "signed less/greater than on unsigned u256" when they should really be lts256 and gts256 to be consistent with other low level Yul functions.

[2018-10-29 16:55] cpurta commented on #5241
PR submitted and is currently a work in progress. Working on some of the issues that have been encountered with the script(s) and some refactoring.

[2018-10-29 22:53] lazaridiscom commented on #5329
(Disclaimer: This is actually kind of a trick-question... )

[2018-10-30 13:37] ChrisChinchilla commented on #4122
@itsN1X I'm happy to help you with this, I am working with the Solidity team on docs, so don't need any GitCoin contributions, but more to help you with submitting a PR, reviewing etc. Let me know if you need anything.

[2018-10-30 14:31] #5058 closed, assigned to erak

[2018-10-30 14:53] ChrisChinchilla commented on #5151
@chriseth and @lazaridiscom I had a pass at this.

Sphinx and the RTD theme don't give a lot of flexibility in menu layout (and I spoke to a few people with the same issue / questions), and there is no ability to have items expanded by default. SO I tried two things that I have in a branch, and here's a gif where you can see my rough ideas in progress.

I added:

- RTD does have these expandable p

[2018-10-30 19:31] recmo commented on #4944
Optimally converting SSA variables to a stack VM  is a problem that has been bugging me for a while. It seems like something thing that would have been well studied in CS literature. Especially considering the Java VM is stack based and has received a ton of research.

What I found so far is the Treegraph algorithm from "Treegraph-based Instruction Scheduling for Stack-based Virtual Machines" (Par

[2018-10-30 19:54] justinmeiners commented on #5281
@chriseth that is reasonable, although the confusing of where an import is happening hasn't been an issue for C. Could the documentation be updated to specify this behaviour?

[2018-10-30 20:03] justinmeiners commented on #5280
@chriseth  This is definitely tricky. I thought the purpose of standard json was to provide a uniform way to provide input arguments. With relative imports, I was hoping that it could include files which I didn't anticipate including. For example, I don't want to know all the files in a library in order to include one of them. Oh well,

I will follow your advice of discovering all the files that n

[2018-10-30 20:16] KevinKelley commented on #4648
4 features implemented:
- ends-in-zeroes
- ends-in FFs
- alternating-case
- internal truncation

See what you think of the truncation examples below...

    0x80000000000:
        0x08 * 2**40

    0x7ffffffffff:
        0x08 * 2**40 - 1

    0xAAAAaaaaAAAAaaaaFFFFffffFFFFffffFFFFffffFFFFffffFFFFffffFFFFffff:
        0xAAAAaaaaAAAAaaab * 2**192 - 1

    0x555555555555555555555555555555555555555555

[2018-10-31 03:49] fulldecent commented on #5321
Thank you for this detail, very helpful. That new solution surely looks like less baggage. So for the future this look fixed, closing.

[2018-10-31 03:49] #5321 closed, assigned to nobody

[2018-10-31 04:01] fulldecent commented on #5319
Specifically I recommend these two rules.

s/`357c0100000000000000000000000000000000000000000000000000000000900463ffffffff16`
/`7c01000000000000000000000000000000000000000000000000000000003504`/g

s/`7c0100000000000000000000000000000000000000000000000000000000350463ffffffff16`
/`7c01000000000000000000000000000000000000000000000000000000003504`/g

More general rules might do other things, but this

[2018-10-31 04:38] fulldecent commented on #5293
Thank you for the reference, I totally missed that. And to be honest, I'm embarrassed, I should have asked on SO first.

Now that I am reading it, "starting from position 0" could be stronger. Does this mean that all inherits come before inheriting contracts? I am assuming this would be a depth-first search of dependencies based on the order of inheritance declared.

[2018-10-31 08:44] bookmoons commented on #49
Instead of this:

[code]

I'd like to do this:

[code]

It keeps branches out of the body [as recommended](https://medium.com/@gavofyork/condition-orientated-programming-969f6ba0161a) and splits out the checks for independent validation.

[2018-11-01 03:03] chriseth opened #5339 "[DOC] Document interoperability between 0.5.0 and pre-0.5.0 contracts"
The only issue should be staticcall, but we should also advise people to use interfaces.

[2018-11-01 06:24] liangdzou commented on #4944
@Recmo Cite from the paper, "Instead of saving a multiply-used value in a temporary, our method keeps all values on the stack, which avoids costly store and load instructions."

So, it seems the algorithm avoids load/store from memory. But the work here is to reuse stack slot according to variables' lifetime.

[2018-11-01 16:07] bshastry commented on #5048
I could trigger this issue with the following contract:

[code]

- Funny that this does not actually involve nested struct types at all; the struct is called "Nested"

Compiler output for the above contract.

[code]

[2018-11-01 16:17] bshastry opened #5340 "Internal compiler error: Null type in VariableDeclarationAnnotation"
## Description

CC #5048

Contract:
[code]

Error:
[code]

## Environment

- Compiler version: latest dev commit
- Framework/IDE (e.g. Truffle or Remix): na
- EVM execution environment / backend / blockchain client: na
- Operating system: Ubuntu 16.04

## Steps to Reproduce

[code]

Found by libFuzzer.

[2018-11-02 07:26] recmo commented on #4944
That citation is a comparison to a different strategy where variables are allocated memory slots that need to be load/stored from. Solidity doesn't use this strategy so the quote is not relevant here.

The algorithm itself has little to do with load/store elimination, it's all about optimally scheduling operations on a stack machine. The presentation is

Please see the presentation I linked starti

[2018-11-02 08:25] zhongyinglou commented on #4483
This vulnerability found by security researcher limingzheng From China Beijing Chainsguard (www.chainsguard.com) .

[2018-11-02 08:31] zhongyinglou commented on #4477
This vulnerability found by security researcher limingzheng From China Beijing Chainsguard (www.chainsguard.com) .

[2018-11-02 08:31] zhongyinglou commented on #4476
This vulnerability found by security researcher limingzheng From China Beijing Chainsguard (www.chainsguard.com) .

[2018-11-04 09:50] ghost opened #5344 "void"

[2018-11-04 14:06] axic commented on #5344
Have you seen the output of `solc --license` ?

[2018-11-04 17:43] chriseth commented on #5344
He has a point, we only do it correctly for redistribution in binary form. The v8 license statement should be _somewhere_ in the source code, but I think we should add that to the readme.

[2018-11-04 21:05] cpurta commented on #5241
Pull request is working as intended for the spell check test. It does need github access token in order for the script to properly post the comment to pull request. Requested that access token be generated and added to circle ci env variables but have not heard back on whether that has been generated.

[2018-11-05 02:28] sunbeomso opened #5345 "Need more precise descriptions about supporting inheritance in Solidity"
I wonder the exact mechanism of copying code that involves "super" keyword for supporting inheritance in Solidity.

I think clarification of this potentially helps the formal verification community.

Below is an example code that elaborates my question.

    contract C {
        function test() public {  }
    }

    contract B is C {
        function bbb() public {  }
        function test() publ

[2018-11-05 03:44] KevinKelley commented on #4648
As far as usages of this:  there are 3 places, currently, where the `formatNumber` function is called.

In solidity codegen ExpressionCompiler, it's used for error messages.  This, I'll change to use `formatNumberReadable`, but make it switchable by runtime flag.

In formal/SMTChecker, it's used twice, to format a message saying Underflow, less than `minValue` or greater than `maxValue` for a type

[2018-11-05 06:28] lazaridiscom commented on #5344
Correct, the source-code form is missing.

Ideally:
- [ ] Add a `LICENSE-EXT.md" (or similar)
- [ ] Add the libs / licenses / links
- [ ] Link to it from the README section "LICENSE"

[2018-11-05 20:18] chriseth commented on #5345
You are right, the exact wording in the documentation is not the best. What is meant there is that the bytecode is made available, not necessarily the source code. Would you be interested in improving the documentation there?

[2018-11-05 20:32] chriseth commented on #5293
The storage is laid out according to the C3-linearized order of contracts starting with the most base-ward contract. One issue to document is whether state variables from different contracts can share a storage slot - that should be checked. Would you like to add that to the documentation?

[2018-11-06 01:10] sunbeomso commented on #5345
Unfortunately, I do not know the exact process or mechanism. This is why I raised the issue. It would be nice if explanations could be accompanied by some concrete examples.

[2018-11-06 04:22] AhnSungHyeon opened #5349 "The solidity source file can not be compiled."
The solidity source file can not be compiled.

Install Solidity on Linux Ubuntu 16.04 and write the sample source code for https://solidity.readthedocs.io/en/v0.4.21/solidity-by-example.html

I am trying to compile and save the following warning

Warning: Source file does not specify required compiler version! Consider adding "pragma solidity ^ 0.4.25;"

For reference, the solidity version I insta

[2018-11-06 05:04] fulldecent commented on #5318
You're right. I can't reproduce it. Not sure how this is happening on Remix. But will close for now and reopen if I can reproduce on `solc`.

[2018-11-06 05:04] #5318 closed, assigned to nobody

[2018-11-06 05:47] #5349 closed, assigned to nobody

[2018-11-06 07:46] chriseth opened #5350 "Allow public functions overwrite external function (with memory / calldata types)"
@axic is there a duplicate for this?

[2018-11-06 07:47] chriseth commented on #3198
Name suggestion: `accept` and `fallback`. "accept" might be too generic. Could also be `acceptPayment` - that would be more in line with `payable`.

[2018-11-07 02:42] hello2mao opened #5354 "Solidity for loop over a huge amount of data failed."
## Description

Solidity for loop over a huge amount of data failed.

## Environment

- Compiler version::0.4.25
- Framework/IDE (e.g. Truffle or Remix):Remix
- EVM execution environment / backend / blockchain client:POA Geth
- Operating system:MacOS

## Steps to Reproduce
case_20000() success.
case_40000() failed.
[code]

[2018-11-07 10:34] christianparpart opened #5356 "[dev] Ability to run code coverage tests locally"
### Requirements

* conveniently run selective tests and quickly check their code coverage results
* make sure intermediate files are outside-build (configurable)
* intermediate files should be easily cleanable

[2018-11-07 10:37] christianparpart opened #5357 "Ensure C++(17) forward compatibility"
While Solidity is still using C++11, we should make sure our code also compiles with newer versions.

For C++17, we need to adapt a bit with regards to our use of a `byte`-typedef, as C++17 introduced `enum class std::byte : uint8_t {};`.

[2018-11-07 11:42] #5357 closed, assigned to christianparpart

[2018-11-07 14:39] chriseth opened #5360 "Improve release process"
- remove private keys from travis
 - take artefacts from circle
 - etc

Basically write a script that uploads the artefacts to the release to be run locally.

[2018-11-07 14:45] chriseth commented on #5167
An obvious way to introduce them is via a prefix (like in `hex"0101"`) - the main question would be whether the non-prefixed string should allow utf8 or only ascii.

[2018-11-07 14:45] axic opened #5361 "Add "pragma version" parsing into the parser"
This is a bit counterintuitive with us moving most of the semantics logic after the parser, but this one breaks in case of breaking changes.

[2018-11-07 15:27] #4502 closed, assigned to nobody

[2018-11-07 15:27] chriseth opened #5362 "Use static type for `IntegerType(256)`"
Add a static function to IntegerType that returns a singleton shared pointer to uint256 and replace all `IntegerType(256)` by a call to that function.

[2018-11-07 15:34] bartkim0426 commented on #4988
I want to participate in Korean translation.

[2018-11-07 16:02] axic commented on #5167
If we do not want a breaking change: `ascii"abcd"`

If we are happy to do a breaking change, then the current strings would need to be prefixed with `unicode` or `utf8`: `unicode"this is a string..."`.

[2018-11-07 16:08] erak commented on #5354
@hello2mao Could you please provide the output of Remix' console after the transaction has failed? This most likely happened because you ran out of gas. On a fresh Remix session using Javascript VM and an initial gas limit of 3000000, ``case_20000`` uses too much gas already. Remix has an analysis feature that warns about infinite gas costs:

_Gas requirement of function Test.case_20000() high: in

[2018-11-07 16:20] #4954 closed, assigned to nobody

[2018-11-07 16:23] chriseth commented on #3767
I would propose to close this. The current behaviour is: Use returndatacopy if dynamic data is to be expected and returndatacopy is available in the EVM. I don't think that is a very complex behaviour.

[2018-11-07 16:37] chriseth opened #5363 "Keep PR count below 60 for the release"

[2018-11-07 16:41] erak commented on #5340
@bshastry Thanks for the report. We'll try to fix it with 0.5.1.

[2018-11-07 17:04] Hyuntae-91 commented on #4988
Dear, @bartkim0426.
You can check [this link](https://github.com/solidity-korea/solidity-docs-kr).
There are already translation team.
The work is not going on, but, I think we can participate in there.

[2018-11-07 18:01] leonardoalt commented on #5282
Closing due to inactivity. Please reopen if needed.

[2018-11-07 18:01] #5282 closed, assigned to nobody

[2018-11-07 19:26] #5294 closed, assigned to nobody

[2018-11-07 19:36] chriseth commented on #5167
Note that things like `"\u1234"` should still be allowed in the "non-utf8-strings".

[2018-11-07 22:33] chriseth commented on #3184
We do not plan to add declarative constructs for now.

[2018-11-07 22:33] #3184 closed, assigned to nobody

[2018-11-07 22:34] chriseth commented on #3321
This does not look like a language / compiler issue. Please reopen if you think otherwise.

[2018-11-07 22:34] #3321 closed, assigned to nobody

[2018-11-07 22:35] chriseth commented on #5322
If you don't mind, I will be closing this. We do not have any plans to keep storage dirty for now for various reasons.

[2018-11-07 22:35] #5322 closed, assigned to nobody

[2018-11-08 03:54] hello2mao commented on #5354
@bit-shift Thank you. Increase block gas limit solves this problem.

[2018-11-08 03:54] #5354 closed, assigned to nobody

[2018-11-08 04:33] rmshea commented on #5241
@cpurta sweet! let me snooze the bot for 5 days :) let me know if you need any support w/ this 🌮

[2018-11-08 04:53] rmshea commented on #4648
Hey @KevinKelley, Ryan from Gitcoin here! What is the status of this bounty? Can I be of any assistance with payout / admin? Wanted to check in to make sure 🌮 😄 💯

[2018-11-08 05:04] rmshea commented on #4494
Hey @lazaridiscom and @liangdzou, Ryan from Gitcoin here. What's the status on this one? Is there anyway I can help on the Gitcoin end? Thanks 🌮 🐻

[2018-11-08 08:07] liangdzou commented on #4494
still waiting for 0.5.0

[2018-11-08 08:57] chriseth commented on #4494
@ryan-shea sorry - it's our fault...

[2018-11-08 10:29] #5279 closed, assigned to ekpyron

[2018-11-08 10:36] #5339 closed, assigned to ekpyron

[2018-11-08 11:24] #5074 closed, assigned to erak

[2018-11-08 11:26] chriseth opened #5372 "[Yul] Make variable suffixes an official feature of YulString/optimizer/implementation"
Extension of https://github.com/ethereum/solidity/issues/5074:

During optimization, we often need to generate unique names. Currently, this adds decimal suffixes to string names. This feature proposes to promote the suffixes to being an official part of the name, such that names are pairs of string prefixes and optional integer suffixes (which are not turned into strings).

This way, we can remov

[2018-11-08 11:27] chriseth commented on #5241
I'll try to setup an account today!

[2018-11-08 11:41] #3402 closed, assigned to nobody

[2018-11-08 11:43] chriseth commented on #3402
Has this been paid out?

[2018-11-08 11:52] chriseth commented on #2435
I would like to open the discussion on this again. As mentioned earlier, an different assignment symbol is not sufficient, because we also need to consider passing data along function calls.

My proposal would be that reference types are always assigned and passed by reference by default. If this is not possible (because it is an assignment to storage or from storage to memory or across function c

[2018-11-08 15:15] bshastry opened #5374 "YUL optimizer: Exception thrown by CommonSubexpressionEliminator"
## Description

The following YUL contract makes the YUL optimizer (CSE) throw an exception:

[code]

The relevant portion of the exception stack is:
[code]

## Environment

- Compiler version: latest develop commit
- Framework/IDE (e.g. Truffle or Remix): na
- EVM execution environment / backend / blockchain client: na
- Operating system: Ubuntu 16.04

## Steps to Reproduce

- Run the `yulopti` b

[2018-11-08 15:50] chriseth commented on #5374
A bugfix was merged today - can you try again please?

[2018-11-08 15:59] lazaridiscom commented on #5363
I noticed that there are many quite old PRs

https://github.com/ethereum/solidity/pulls?q=is%3Apr+is%3Aopen+sort%3Acreated-asc

[2018-11-08 16:00] chriseth commented on #5363
Exactly, that's the point.

[2018-11-08 18:01] #5329 closed, assigned to nobody

[2018-11-08 18:48] chriseth opened #5375 "[Yul] Improve stack slot allocation in code generator (and avoid swaps)"
See if the algorithm presented in https://pdfs.semanticscholar.org/presentation/1a65/e787b08fe8812797a0557760ae84072ad292.pdf is relevant for the yul to evm code generator to avoid swap operations.

[2018-11-08 18:48] chriseth commented on #4944
Ah, that paper indeed seems very relevant here!
Still, I think we should first implement the straightforward way. Created https://github.com/ethereum/solidity/issues/5375 to track the treegraph algorithm.

[2018-11-09 00:24] ekpyron opened #5378 "[Yul] Explicit lifetime for YulStringRepository"
Although #5377 seems to fix the immediate non-determinism issue we had, I think we should revisit and improve this at some point.

I think it would be cleaner to have the ``YulStringRepository`` be a member to some kind of context class (that doesn't exist at the time of writing) or a local variable somewhere or to give it an explicit lifetime in some other way. There could still be a static point

[2018-11-09 01:55] haltman-at opened #5379 "EVM calls have wrong jump direction markings in source map"
## Description

The Solidity compiler provides, as part of its source map, markings for whether a given jump instruction is a jump in, jump out, or neither.  These work for internal function calls, but do not interact well with EVM calls.  We may divide EVM calls into three types: (A) constructor calls; (B) calls to a method of a Solidity contract object or library; (C) calls to a method of an add

[2018-11-09 03:42] rotcivegaf commented on #5234
same error again...
![fail_verify](https://user-images.githubusercontent.com/7088778/48241947-b5000d80-e3b7-11e8-8a01-1adfc803224c.png)

![fail_message](https://user-images.githubusercontent.com/7088778/48242072-3a83bd80-e3b8-11e8-86a2-154b83406e3a.png)

[contract on etherscan](https://ropsten.etherscan.io/address/0x3942a383f6524716fcf76f17956de1ac52bd5626)

[code]
vs
[code]

[2018-11-09 09:35] chriseth commented on #5379
The reason we introduced in/out annotations is that you cannot see from a 'jump' instruction whether it is a jump to a subroutine or a return from a subroutine. For EVM calls, there is a clear distinction: call* goes in, and return/stop/revert goes out.

Could you provide an example annotation where a return is annotated with 'out'? I was not able to reproduce it and I also don't see a way for thi

[2018-11-09 10:30] leonardoalt commented on #5192
Closed by #5272

[2018-11-09 10:30] #5192 closed, assigned to nobody

[2018-11-09 10:34] leonardoalt opened #5380 "[SMTChecker] Support function calls with multiple return values"

[2018-11-09 11:14] leonardoalt commented on #5374
I tried it with updated code and confirm it's fixed.
Please reopen if the error persists.

[2018-11-09 11:14] #5374 closed, assigned to nobody

[2018-11-09 12:04] bshastry commented on #5374
Hi @chriseth @leonardoalt

ack, I can confirm that this issue cannot be reproduced with the later commit.

[2018-11-09 12:50] bshastry opened #5384 "YUL optimizer: Exception thrown by ExpressionSimplifier"
## Description

The following YUL code makes the YUL optimizer (ES) throw an exception:

[code]

The exception is thrown at `libyul/optimiser/SimplificationRules.cpp:119:2` as seen in this stack frame
[code]

The relevant piece of code is:
[code]

## Environment

- Compiler version: develop commit `cbd0116e`
- Framework/IDE (e.g. Truffle or Remix): na
- EVM execution environment / backend / blockc

[2018-11-09 14:09] Eknir opened #5385 "InternalCompilerError: Requested type not present."
## Description

Defining both a mapping (perhaps it also holds for other variable types) and an event with the same name + emitting this event inside a function body leads to an ``InternalCompilerError: Requested type not present.``. No further clarification is given as to why this error is present, which leads wasting of time to find the source of the bug. [Remix](https://remix.ethereum.org) hand

[2018-11-09 14:39] chriseth commented on #5234
Can you provide more information about how you obtained the version of the bytecode on chain?

[2018-11-09 14:46] chriseth commented on #5378
The big problem is dangling YulStrings whose lifetime extends beyond the lifetime of the repository. I would not want to need to track all of them because that again ruins performance I would say, but your suggestion is certainly better than the current solution. Feel free to try something out!

[2018-11-09 14:49] rotcivegaf commented on #5234
I am using the same as before:

[2018-11-09 15:06] chriseth commented on #5234
@rotcivegaf if it worked before with the same bytecode and does not anymore, this rather sounds like a bug in etherscan to me, at least this would be the first place to investigate.

[2018-11-09 15:37] rotcivegaf commented on #5234
@chriseth i think the same as you, but etherscan does not answer my mails

[2018-11-09 15:42] ekpyron opened #5386 "Uninitialized storage return error is triggered for unimplemented functions."
Example:

[code]

Triggers:

[code]

[2018-11-09 17:04] chriseth opened #5389 "check_style.sh does not properly fail"
The exit code of check_style.sh is not correct or not reported through circleci. Related to #5241

[2018-11-09 17:41] chriseth commented on #5389
I think #5241 already has a change that fixes.

[2018-11-09 19:16] kyriediculous commented on #4854
Hi Chris,

Thank you sincerely for your reply.
I haven't revisited this problem since september as I was busy building the application layer for my project.

Now that it's finished I will explore this further.

Will update the issue if I find a solution.

[2018-11-09 20:01] haltman-at commented on #5379
Hi, sorry, yes, I think I didn't explain this properly.  I explained this in terms of the overall effect, rather than in terms of the actual markings.  It does not literally occur that a `RETURN` or `STOP` gets annotated as "out"; as you say, that is impossible.  I agree that there is no need to mark such instructions, as their direction is obvious.

Rather the problem is that, when exiting an EVM

[2018-11-10 00:43] haltman-at commented on #5379
A note: We do now have a workaround for this, but, as might be expected, it won't work in all cases.  Storing a contract method in a function-type variable and then calling that function variable later would still screw things up, for instance.

[2018-11-10 14:11] ChrisChinchilla commented on #4988
Great @bartkim0426 we look forward to seeing your contributions, and great to see the progress @Hyuntae-91

[2018-11-11 11:54] ghost opened #5393 "void"

[2018-11-11 16:01] barakman opened #5394 "Let solc determine the minimum value of optimizer-runs which guarantees maximum optimization"
## Motivation

This feature-request follows [issue 3372](https://github.com/ethereum/solidity/issues/3372), where I was advised to set `optimizer-runs` to 5000000 - a value large enough to ensure maximum optimization.

I followed that advice, but I think that a better solution (user-perspective) would be to let `solc` determine this value, i.e., the minimum value which guarantees maximum optimizat

[2018-11-12 08:42] chriseth opened #5396 "[DOC] Split files"
Especially for translation, people reported that it would be better to have more smaller files.

[2018-11-12 08:53] aihuawu opened #5397 "can i use in live deployement pragma experimental ABIEncoderV2?"
Hi, all:

I really like the feature:
pragma experimental ABIEncoderV2;

Can I use this feature so that I can return a struct?
When can I use this feature?

The compiler gives the warning. That mean I should only use it for development.
That makes no sense to me.

Warning: Experimental features are turned on. Do not use experimental features on live deployments.
pragma experimental ABIEncoderV2;

[2018-11-12 09:12] ChrisChinchilla commented on #1741
Now all tracked here - https://github.com/ethereum/solidity/labels/Translations%20🌍

[2018-11-12 09:12] #1741 closed, assigned to ChrisChinchilla

[2018-11-12 11:30] ChrisChinchilla commented on #5396
This is definitely something I have been thinking about, also fits well into menu restructure conversations.

[2018-11-12 11:42] axic commented on #5393
I agree that it should be more clear what is going on regarding LLL.

Do you have a suggestion where?

This is a good idea.

Moving the tests is a bad idea though.

A replacement is in the works and eventually it will be removed from Solidity. It cannot be split out without code duplication and nobody is willing to do work to split it and to maintain it afterwards.

LLL is still heavily used by th

[2018-11-12 13:08] ekpyron commented on #5389
Hm... I just had the ``check_style`` CI run fail on a PR...

[2018-11-12 13:18] #2175 closed, assigned to ChrisChinchilla

[2018-11-12 14:08] #2661 closed, assigned to ChrisChinchilla

[2018-11-12 22:51] ekpyron opened #5401 "[Yul] Evaluate performance of YulStringRepository."
Since we will probably merge #5392 for now to ensure determinism, we should evaluate whether it actually still brings any performance (and memory usage?) gains over the direct use of ``std::string``s. We may want to consider using (a) a better hash function than FNV (which - although very simple - performs poorly and has bad avalanche properties compared to modern non-cryptographic hash functions)

[2018-11-12 23:07] #5378 closed, assigned to nobody

[2018-11-13 00:37] robechun commented on #5372
I'd like to try and work on this!

[2018-11-13 09:41] chriseth opened #5402 "Check for callvalue once for all non-payable function in the dispatcher"
The check for non-empty callvalue is performed for every non-payable function. It makes sense to extract the check and only do it once. This essentially requires the dispatch routine to group the functions by payable and non-payable. These are 8 instructions per function.

[2018-11-13 09:44] chriseth commented on #5379
Ok, now I understood! The current structure of a contract is roughly as follows:

[code]

If `g` calls `f`, it has  a "jump in", while the "jump out" is part of `f`.

The dispatch routine currently does not have a "jump in", but probably it would make sense to make it symmetric.

[2018-11-13 09:46] chriseth opened #5403 "Add jump in marker to jump from arg decoder to function"
Fixes https://github.com/ethereum/solidity/issues/5379

Add "jump in" marker at the jump from the argument decoder to the function itself.

Currently, every function has a "jump out" marker at the return statement. The "in" marker is at the call site. If the function is called internally, the markers are symmetric, but they are not symmetric if the function is called externally, i.e. there is no m

[2018-11-13 09:59] #5389 closed, assigned to nobody

[2018-11-13 11:00] chriseth opened #5405 "[Yul] Optimize EVM code generation to not jump over functions"
If functions are properly grouped, the EVM code generator should add a STOP instruction if only function definitions follow instead of jumping over the function definitions.

[2018-11-13 12:16] chriseth opened #5407 "[Yul] Improve stack-reuse in functions"
Currently, unused stack slots are only assigned to be re-used if the variable that occupied it was declared in the current scope. The reason behind was that the stack layout has to be he same at control flow joins. This can be improved in the following two ways:

 - allow reuse of stack slots if there is no issue with control flow (for example simple nested blocks)
 - allow reuse of stack slots of

[2018-11-13 13:47] chriseth opened #5409 "[Yul] EVM codegen: Do not copy topmost stack element if this is the last use"
When a variable is referenced for the last time and is by chance at the top of the stack, do not copy it.
Another similar optimization: Swap the variable to the top of the stack if the top of the stack can be moved (i.e. was declared in the current scope).

[2018-11-13 15:13] #3452 closed, assigned to axic

[2018-11-13 15:13] svenski123 commented on #4894
@vs77bb PR #5275 has been merged into develop - can this bounty be paid out?

[2018-11-13 15:14] #5177 closed, assigned to nobody

[2018-11-13 15:15] #5393 closed, assigned to nobody

[2018-11-13 15:20] chriseth commented on #4894
Implemented in #5275

[2018-11-13 15:20] #4894 closed, assigned to nobody

[2018-11-13 15:39] #5112 closed, assigned to nobody

[2018-11-13 15:44] mo-seph opened #5414 "Unable to compile solc on macos"
## Description

Im trying to compile the solidity compiler (solc) on macOS. I've tried doing this through hombrew, and also 'manually' compiling versions from github.

Currently, the up to date version of 0.5.0 works, but nothing from 0.4.22-0.4.25 successfully compiles.

## Environment

- Compiler version:
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain

[2018-11-13 15:53] chriseth commented on #5414
Current code calls `dev::toString(...)` instead of `string(...)`, so I'm pretty sure this is fixed.

[2018-11-13 15:53] #5414 closed, assigned to nobody

[2018-11-13 15:53] axic commented on #5414
The 0.5.0 codebase doesn't contain this piece of code anymore and it is planned to be released shortly. Unless something happens in the 0.5.0 release, we do not plan another 0.4.x release.

[2018-11-13 15:57] mo-seph commented on #5414
So if I want to get a compiler that works for 0.4.X code, should I patch the source? There are other tools/libraries/files involved and not sure if we can jump everything to 0.5 at the moment.

[2018-11-13 16:01] axic commented on #5414
Could just use the release binaries? Not sure what you need to build from source.

[2018-11-13 16:02] chriseth opened #5415 "[CI] Add a test that checks that the changelog is not modified outside of the "current" entry"
This is a protection against merging old pull requests after a release, so that they are forced to move the changelog entry.

[2018-11-13 16:07] axic commented on #5415
By current you mean current version?

[2018-11-13 16:11] chriseth commented on #5415
Yes. This is a little tricky, as the script would have to re-run before merge.

[2018-11-13 16:21] mo-seph commented on #5414
As far as I know, there aren't any binary releases on macOS? If there are, I'd be very happy to use them!

[2018-11-13 16:27] axic commented on #5414
Oh right, they aren't yet. You could use the solc-js version as a lot of others do. Any reason against?

[2018-11-13 17:20] cpurta commented on #5241
@gitcoinbot still working on this. Removed the WIP from the PR and should be wrapping this one up soon.

[2018-11-13 17:25] vibern0 commented on #5164
Hello,
Is this issue supposed to be done, or just be closed and keep with something more specific, like  #5284 ?

[2018-11-13 17:38] mo-seph commented on #5414
I don't know yet, I've not tried. I'm trying to get basic communication set up with Python (web3 and py-solc), and a working version of solc seems to be a requirement for Python's Web3 examples.

[2018-11-13 17:41] axic commented on #5344
Since the binary form is created using some built in text plus copying in `LICENSE`, I think the best way forward is just moving all that into the `LICENSE` file.

If Github won't detect it as GPL-3 anymore, then we can think about splitting it up, because in effect, the complete source/binary is under GPL-3 as the non-GPL-3 parts are license compatible.

[2018-11-13 17:48] chriseth commented on #5164
Yeah, it can probably be closed. I went through most of the reports.

[2018-11-13 17:48] #5164 closed, assigned to nobody

[2018-11-13 18:10] lazaridiscom commented on #5344
Possibly it would be enough to just place on top of the LICENSE file something like this:

"Solidity contains third-party code which has its own license, see:

https://github.com/ethereum/solidity/blob/develop/cmake/templates/license.h.in
"

This ensures immediate visibility without any code-changes.

And the same could  be added to the readme.

[2018-11-13 19:51] haltman-at commented on #5379
OK, yes, that would do it!  Glad to know it's as easy as that.  Thanks a bunch!  Should I close this now that you've made a separate issue for this?

Edit: Oh wow looks like you already have a fix ready (even if it won't be released for a while).  Wonderful, thanks!

[2018-11-13 21:35] axic opened #5418 "Invalid standard JSON causes JSON exception"
[code]

Output:
[code]

Found by solfuzzer.

[2018-11-13 22:16] axic commented on #5340
This seems to be a duplicate of #5048 ?

[2018-11-13 22:18] axic commented on #5048
Solfuzz results-5dd3ee2.tar.gz has around 50 other instances of the same. We should retest those once fixed here.

[2018-11-13 23:46] chriseth commented on #5379
Yes, I'll close it as you seem to be satisfied with the resolution :)

[2018-11-13 23:46] #5379 closed, assigned to nobody

[2018-11-13 23:49] chriseth commented on #5372
Please do! Note that the `YulString` class already has a hash and an ID now. I would hope to still have a class that is easy to pass by value.

[2018-11-13 23:50] chriseth commented on #5397
The encoder should not cause any security issues (of course we can never be sure). The main reason it is marked experimental is because it causes higher gas usage.

[2018-11-13 23:50] #5397 closed, assigned to nobody

[2018-11-13 23:51] chriseth commented on #5394
Please note that "runs" is not something like a number of iterations of the optimizer but a tradeoff parameter between runtime and deploytime gas requirements. There is no optimal value for that parameter, it always depends on the way the smart contract is about to be used. Please re-open if I misinterpreted this issue.

[2018-11-13 23:51] #5394 closed, assigned to nobody

[2018-11-13 23:56] axic commented on #5394
Maybe the right approach is to replace `runs` in both standard json and the CLI to reflect what it is called internally (in libevmasm at least):
[code]

[2018-11-13 23:58] Ethearnal commented on #4116
Hello everyone,
I know this is an old issue but our token (ERT - address: 0x8c78A83DE6FAa64B100B6055BDF3a1f0b445eFD2) for example is still affected by this. Any new solutions or work-arounds available?

[2018-11-14 00:09] #5332 closed, assigned to nobody

[2018-11-14 00:16] chriseth commented on #4108
This is also required for #5358

[2018-11-14 00:24] frankchen07 commented on #4894
hey @svenski123 - @vs77bb is currently out on vacation. I'll follow up with him when he gets back to ensure you're paid out. :)

[2018-11-14 01:12] spm32 commented on #5241
@cpurta sorry about that just muted the bot :)

[2018-11-14 04:21] barakman commented on #5394
@chriseth:
From your description, as well as from @axic's, this parameter is exactly the reflection of the `optimize for size` / `optimize for speed` trade-off in "conventional systems".
It just so happens that on our system, `optimize for size` translates to 'deployment gas cost', and `optimize for speed` translates to 'runtime gas cost'.

So it sounds to me exactly like the kind of configuration

[2018-11-14 08:43] chriseth commented on #5394
@barakman there is nothing to calculate. We could change the parameter to scale differently, so that you can use numbers closer to positive infinity but that's about it. Also note that this parameter is not used very much in the optimizer because almost all optimization steps improve both runtime and deploy time costs.

[2018-11-14 09:12] barakman commented on #5394
@chriseth:

Thanks.

Side note: this parameter obviously has an impact in the case that I described at [issue 3372](https://github.com/ethereum/solidity/issues/3372) (or at least had an impact with the compiler version that I used at the time).

[2018-11-14 09:46] leonardoalt opened #5421 "Preconditions and postconditions as part of Solidity"
Description: TODO

[2018-11-14 10:01] chriseth commented on #4991
It might be useful to name invariants and then allow to annotate function that are expected to violate certain invariants: `violates invariantName`

For example, a `mint` function is fine to violated the constant-ness of the sum of balances.

On the other hand, something like ghost variables might be a better way to achieve the same goal.

[2018-11-14 10:18] chriseth commented on #4991
Another way to implement this would be a list of functions that violate an invariant to be specified with the invariant (instead of with the function).

[2018-11-14 10:18] chriseth commented on #5421
Related: https://github.com/ethereum/solidity/issues/4991

[2018-11-14 10:48] chriseth commented on #5385
This has already been fixed in 0.5.0.

[2018-11-14 10:48] #5385 closed, assigned to nobody

[2018-11-14 10:54] #5386 closed, assigned to ekpyron

[2018-11-14 10:58] chriseth commented on #5384
The pattern resolves the values of variables. It can happen that a variable is uninitialized, in which the value is a null pointer. This should be taken into account - the variable should just stay unresolved in that case.

[2018-11-14 11:44] axic opened #5422 "Tracking Solidity 0.5.0 support"
It is likely that no tool is working correctly with Solidity 0.5.0 yet.

Relevant issues:
- https://github.com/ethereum/remix-ide/issues/1607 (and https://github.com/ethereum/remix-ide/issues/1606) -- DONE (Remix 0.7.5 - live)
- https://github.com/embark-framework/embark/issues/1081  -- DONE (Embark 3.2.4)
- https://github.com/trufflesuite/truffle/issues/1436 (and https://github.com/trufflesuite/t

[2018-11-14 14:30] chriseth opened #5424 "Require 'override' and 'virtual' keyword"
Related to https://github.com/ethereum/solidity/issues/2563

Steps:
* [x] private functions cannot be overridden at all (virtual and private cannot be combined, and private functions are "visible" for overriding detection) https://github.com/ethereum/solidity/pull/7807
* [x] `override` for public state variables, but they can't be `virtual` #7839
* [x] `override` #7563
* [x] `virtual`
* [ ] common

[2018-11-14 14:50] axic commented on #5167
Why?

[2018-11-14 14:52] axic commented on #5097
Can we move this into the project board? That requires adding these proposed items as issues.

[2018-11-14 15:27] ghost opened #5425 "void"

[2018-11-14 15:29] chriseth opened #5426 "Fix emscripten bytecode report"

[2018-11-14 15:31] axic commented on #5426
This should have two layers: filename + contractname:
https://github.com/ethereum/solidity/blob/develop/scripts/bytecodecompare/storebytecode.sh#L79

[2018-11-14 15:32] chriseth commented on #5425
Shall we also clarify the difference between `variable` and `value` in general? I think we can assume knowledge about generic terms in programming languages. If there is a good place to add, we can add a half-sentence, though.

[2018-11-14 15:36] lazaridiscom commented on #5425
Possibly just as of how Solidity handles variables in context of returning them (e.g. is a pointer returned, or is the value of the variable returned, or ??? )

And if Solidity returns variable just by picking their value and returning it, this would be one reason more to go with "Return Values" (I think, not 100% sure here).

[2018-11-14 15:46] ekpyron commented on #4991
I would still think about how this relates to modifier areas and pre- and postconditions defined in modifiers.
Having global invariants can be achieved with just putting everything in one modifier area; excluding some functions would just mean defining them outside that modifier area, etc.

As for overlapping sets of invariants - would defining invariants while excluding some functions really be b

[2018-11-14 16:51] ghost opened #5429 "[PROJECT] Provide a "src" folder"
## Abstract

Provide a "src" folder, in which all relevant sources are moved in

## Motivation

The overall project-structure is currently very clean. An enhancement would be to group the source-code into a "src" folder.

## Specification

- move existent source folders
- possibly exclude the lll code ("alien" src)
- optionally, include a README with a subsystems-overview.

## Backwards Compatibil

[2018-11-14 16:58] axic commented on #5429
What is the main benefit of this?

[2018-11-14 17:07] ghost commented on #5429
* The question "where is the relevant source-code" is immediately answered.
* The root-directory shrinks (and thus it is less overwhelming, especially for newcomers)
* For some more reasons, this is standard-practice in "java" and "C++" projects (never looked the reasons up, I'm used to have a "src" folder...). I can take a quick look though, if you wish.

[2018-11-14 17:29] axic commented on #5429
There is a big disadvantage though: Github will not display any kind of history for moved files (it is a shortcoming in Github, not git - it can be done on the commandline). And since almost every file has to be moved, that is quite bad.

[2018-11-14 17:42] ghost commented on #5429
I see, a known issue, see https://github.com/isaacs/github/issues/900

So, the current workaround would be to use the chrome-extension mentioned in https://github.com/isaacs/github/issues/900, and for sure there are local UI tools which display full history.

[2018-11-14 17:45] axic commented on #5429
I know it is a known issue (I follow the thread) and it has received 0 response from Github for 1.5 years, since it is an unofficial repository.

I'm not yet convinced moving stuff before that is more widely available (how many people search for historical commits on the CLI and not on github?) I think it is more of a detriment, than benefit.

[2018-11-14 18:18] ghost commented on #5429
Like many things in project-management, it is a matter of setting priorities.

The issue is: what has priority?

a) A clean (quasi)standard project-structure?
b) "bowing" to (one more) defect of github?

For me it would be quite clear: ignore the github nonsense, and go on - e.g. whilst suggesting to the team an local UI tool (NOT cli), for the case historical code-research is needed).

Despite th

[2018-11-14 19:14] erak opened #5431 "Update examples on ethereum.org"
https://ethereum.org contains several Solidity examples that are outdated and need to be updated.

[ ] https://ethereum.org/greeter (PR: https://github.com/ethereum/ethereum-org/pull/919)
[ ] https://ethereum.org/token (PR: https://github.com/ethereum/ethereum-org/pull/920)
[ ] https://ethereum.org/dao (PR: https://github.com/ethereum/ethereum-org/pull/921)
[ ] https://ethereum.org/crowdsale (PR:

[2018-11-14 19:25] erak opened #5432 "Run tests on ethereum.org examples"
In order to make sure that all the examples on https://ethereum.org are compiling, we could add them to our testing pipeline. The majority of them are already stored in separate files (the only exception is https://ethereum.org/greeter) and could be easily picked while running the external tests.

Todo:
[ ] Move remaining examples from Markdown to separate files
[ ] Clone the ``ethereum-org`` repo

[2018-11-14 19:27] axic commented on #5431
Make sure the examples work with both 0.4.x and 0.5.x.

[2018-11-14 19:58] ipatka commented on #5422
I'm trying to use Truffle 5.0.0 with Solc 0.5.0 and I get an error when I try to compile. Maybe this is related

[code]

truffle.js
[code]

[2018-11-14 20:40] chriseth commented on #5429
I'm pretty sure this has a very bad benefit / cost ratio and propose to close this issue.

[2018-11-14 20:41] chriseth commented on #5432
Probably a good idea! We should also sync up with the people who are maintaining these tutorials (and check if such people actually exist :) ).

[2018-11-14 21:14] #5319 closed, assigned to nobody

[2018-11-15 04:11] fulldecent commented on #5293
I have stolen your nugget and another into

* https://github.com/ethereum/solidity/pull/5435
* https://github.com/ethereum/solidity/pull/5434

---

Can you please explain "whether state variables from different contracts can share a storage slot".

If referring to two inherited contracts of the same inheriting contract, then yes this is a tautology. Yes, as soon as you have two arrays they will sh

[2018-11-15 06:06] gnidan commented on #5422
@ipatka You can track the fix for that issue in Truffle at trufflesuite/truffle#1435

[2018-11-15 11:04] ChrisChinchilla commented on #4580
Now in progress

[2018-11-15 11:04] ChrisChinchilla commented on #2917
This issue is now in progress, PR coming very soon

[2018-11-15 11:24] ghost commented on #5429
... (no comment)

[2018-11-15 11:40] ghost opened #5440 "void"

[2018-11-15 11:44] axic commented on #5168
The single example I could find is in `libsolc` for `static string s_outputBuffer`. Outside of that the CLI code is using it, but it isn't using anonymous namespaces.

[2018-11-15 11:50] axic commented on #5306
After 0.5.0 there should be no blocker from the API side. It is quite clean now.

[2018-11-15 12:05] axic commented on #4942
@prestonvanloon I think it is a duplicate of #3168. Can you please comment on it if any of the details from here are missing?

[2018-11-15 12:05] #4942 closed, assigned to nobody

[2018-11-15 12:06] axic commented on #4884
Is `file://` a documented feature?

[2018-11-15 12:12] leonardoalt commented on #4884
It's in the example here: https://solidity.readthedocs.io/en/v0.5.0/using-the-compiler.html#input-description

[2018-11-15 12:18] #4811 closed, assigned to nobody

[2018-11-15 12:19] axic commented on #4884
Ok, it is a bug then :)

[2018-11-15 12:48] axic commented on #4913
Good points to include:
- ~[2] Everything the contract stores in it’s persistent storage costs money, the gas. Try to minimise storage only to what absulutly positively is required for the contract to run. Data like derived calculations, caching, aggregates etc, should be handled on the client.~
- ~[4] The pricing of contract storage is not linear. There is a high initial cost to setting the stora

[2018-11-15 12:54] axic commented on #4672
Some interesting points we may not have well documented:
- ~Using delete on an array leaves a gap; need to shift items manually and update the length property~.
- ~Can't compare two strings; one easy workaround is to compare the sha3 hashes of the strings. {it is keccak256 now}~
- ~bytes is the same byte[] but packed tightly (more expensive). {need to double check}~
- ~There's a limit to how many

[2018-11-15 13:27] ghost opened #5442 "[PROJECT] Provide a "dev" folder"
## Abstract

Provide a "dev" (development/developer) folder, which contains everything related to "Developing ON Solidity".

## Motivation

* Separate Development Info, so it can be found (or ignored) easily
* Optionally: Simplify End-User Documentation (strip anything dev related from Solidity Manual)

## Specification

The "dev" folder would contain any development related things (relevant to fo

[2018-11-15 16:29] prestonvanloon commented on #4942
Yep, looks like a duplicate to me. Thanks! @axic

I’ll follow that issue now

[2018-11-15 16:35] JRSmith-7 commented on #3196
how can i input an address on constructor? I have added the function to my code to create tokens and now i want to be able to input a central mint address on the constructor's parameters

[2018-11-15 18:01] axic commented on #3196
Better to ask the question on https://ethereum.stackexchange.com/ and be a bit more verbose.

[2018-11-15 19:58] Mordax commented on #5168
Interested in tackling some of these, if that's cool.

[2018-11-16 12:53] leonardoalt commented on #5429
Can we close this then?

[2018-11-16 12:56] leonardoalt commented on #5442
I personally think that it makes more sense for these files to be in the root dir. They are relevant for anyone who decides to look into the source code.

[2018-11-16 13:00] leonardoalt commented on #5152
We have two technical roles: developer and writer. All developers do the same type of work, with no distinction between QA and others, for example. We do have a team lead and co-lead, but those management roles do not influence the technical work since they are developers, like the others.

[2018-11-16 13:08] leonardoalt commented on #5234
This doesn't sound like a Solidity problem.
@rotcivegaf did you manage to contact Etherscan? Can we close the issue?

[2018-11-16 13:13] leonardoalt commented on #5139
Hi @pieterhartel , thanks for the workaround, hopefully it will help folks with the same problem.
It seems like it worked for you in the end, so can we close the issue?

[2018-11-16 13:24] leonardoalt commented on #4854
@kyriediculous I'm closing the issue after @chriseth 's and your answer. Please feel free to reopen and update this issue if you have news.

[2018-11-16 13:24] #4854 closed, assigned to nobody

[2018-11-16 13:39] leonardoalt commented on #4735
So far what we did is:
- The list of counterexamples is sorted by name
- The tests only take the primary error message into account. Since the counterexamples are secondary, even if different solvers give different models the tests are fine.
- All the tests that are being moved out to `.sol` files (#4645) should be fairly easy.
- Tests that use nonlinear arithmetics (e.g. division) stay in the `.c

[2018-11-16 13:42] leonardoalt commented on #4730
@ekpyron does this change if we stick to new boost?

[2018-11-16 13:47] leonardoalt commented on #4678
Hi @frangio , any updates on this discussion?

[2018-11-16 13:54] leonardoalt commented on #5350
Duplicate of https://github.com/ethereum/solidity/issues/4832?

[2018-11-16 14:07] lazaridiscom commented on #5152
I've identified already 7:

cpp-lead
team-lead
co-lead
core-dev
dev
writer

Not that it matters, please feel free to close the issue.

[2018-11-16 14:20] ghost commented on #5442
change-resistance - always fascinating.

Please feel free to close this issue.

[2018-11-16 14:21] ghost commented on #5429
From all issues I've filed here in this project, this one is most possibly the most important one.

But I am now at my limits of "trying to explain the obvious" (thus "no comment").

Please feel free to close this issue.

[2018-11-16 14:23] leonardoalt commented on #4391
When I run a simple Solidity example (one false assertion) I don't get as many "definitely lost" bytes:
[code]
The "definitely lost" seem to be related to `libcln`:
[code]

@dddejan Could you please post your `simple.sol` if you still have it?

In any case, I ran `z3` with a small example and the report looks like the one I get with Solidity:
[code]

[2018-11-16 14:26] ekpyron commented on #4730
@leonardoalt I haven't really looked into it any further, so I'm not sure - someone has to look into the current best practices for boost test initialization both for shared and for static linking and in how far boost is backwards compatible here. Sticking to newer boost will make it easier in any case I guess. But so far our setup, although deprecated, still seems to work.

[2018-11-16 14:29] ekpyron commented on #4735
In theory we still have the problem that test results may depend on the enabled solvers and/or even on CPU power of the running system, haven't we? Maybe we should handle an SMT timeout as some kind of "soft error" in the test suite? Currently this doesn't seem to be a problem in practice, though, and I'm not sure whether there *is* a perfect solution here...

[2018-11-16 14:32] leonardoalt commented on #4391
Z3 issue: https://github.com/Z3Prover/z3/issues/1941

[2018-11-16 14:36] leonardoalt commented on #5442
So you simply assumed that I lied about my personal opinion on this matter simply because I am "change-resistant" (another assumption)?

[2018-11-16 14:40] leonardoalt commented on #5442
I don't see a reason to close this issue now, as it would be nice to get more opinions.

[2018-11-16 14:40] #5429 closed, assigned to nobody

[2018-11-16 14:45] leonardoalt commented on #4239
@mattBlackDesign any updates?

[2018-11-16 14:50] axic commented on #5442
I am actually on the opinion that we should have a high quality contributors chapter in the documentation. The documentation format works well for a lot of things already, why would we need to have a different format for developer documentation as long as it is clearly separated?

[2018-11-16 14:53] leonardoalt commented on #4735
Yea, I don't think there is a perfect solution, only adjustments for the practical case.
It would be nice to have all tests in `.sol` files instead of the `.cpp` tests, but then again, timeout problems. Even if we treat timeouts as error in the test suite, I wouldn't want to make `isoltest` slow.

[2018-11-16 15:06] axic commented on #5139
There was a bug in cmake with homebrew and it always detected it, but didn't pick it up properly.

I suggest to install it outside of homebrew.

$ brew uninstall --ignore-dependencies jsoncpp

Yes, this was another bug in our cmake.

Is it worth mentioning these in the documentation? I think. @ChrisChinchilla what do you think?

[2018-11-16 15:09] axic commented on #5350
I think so, lets close for now.

[2018-11-16 15:11] axic commented on #4239
Lets close this, it has been in waiting state since June.

[2018-11-16 15:11] #4239 closed, assigned to chfast

[2018-11-16 15:11] leonardoalt commented on #3881
Closing since the issue seems solved. Please feel free to reopen if you want to restart the discussion.

[2018-11-16 15:11] #3881 closed, assigned to nobody

[2018-11-16 15:19] ekpyron commented on #5350
@axic: @leonardoalt already closed #4832 in favor of this one - we should keep at least one of them open ;-).

[2018-11-16 15:20] ekpyron commented on #5350
Or wait - now #4832 is open again? Confusing :-D. Ok, then I close this again :-).

[2018-11-16 15:20] #5350 closed, assigned to ekpyron

[2018-11-16 15:20] ekpyron commented on #5350
Ah Ok - the one leo closed was #4870 - which is also the same issue :-).

[2018-11-16 15:21] leonardoalt commented on #3695
@Night-mk As pointed in https://github.com/ethereum/solidity/issues/3695#issuecomment-380361834, Geth already had a fix. Could you please try it with updated Geth and Solidity?

[2018-11-16 15:22] leonardoalt commented on #5350
I closed an old PR that I had with a hack, but kept the old issue with the bug label.

[2018-11-16 15:25] ghost commented on #5442
???

"change-resistance" is not always consciously.

Then, my comment was of more general nature (was processing several issues in parallel).

"Please feel free to close this issue." - means: this issue does not matter anymore to me (thus: I'm fine if you close it).

This is mainly because the high-severity #5429 was closed), so at this point I give in (kind of: if they don't see the neccessity of

[2018-11-16 15:45] leonardoalt commented on #3446
Closing since it seems answered. Please feel free to reopen with more questions.

[2018-11-16 15:45] #3446 closed, assigned to nobody

[2018-11-16 15:46] axic commented on #3695
I've checked the geth 1.8.15 source and it doesn't seem to have `--add-std` in it. Closing. Please reopen if the issue persists, could also check geth 1.8.18.

[2018-11-16 15:46] #3695 closed, assigned to nobody

[2018-11-16 16:01] leonardoalt commented on #3379
Currently (v0.5.0) almost all examples in the documentation have the form `pragma solidity >=0.4.0 <0.6.0` which is correct. There are 3 "wrong" ones that should be checked.

[2018-11-16 16:12] leonardoalt commented on #5442
High severity, wow, I wonder how this project survived all this time without a `src` dir.

[2018-11-16 16:24] leonardoalt commented on #5360
Related: https://github.com/ethereum/solidity/issues/3230

[2018-11-16 16:36] leonardoalt commented on #3136
Closing since it's being tracked on the Remix side. Please reopen if needed.

[2018-11-16 16:36] #3136 closed, assigned to nobody

[2018-11-16 19:16] bshastry opened #5446 "Internal compiler error during YUL AST analysis"
## Description

The ASM analyzer throws an InternalCompilerError exception while analyzing the AST of the following YUL code:

[code]

The exception is thrown at `libsolidity/inlineasm/AsmAnalysis.cpp:613` as seen in this stack frame

[code]

The relevant code snippet is shown below:

[code]

- The value of `m_flavour` is `AsmFlavour::Strict` at the time of the assertion check

## Environment

- C

[2018-11-17 00:40] kyriediculous commented on #4854
The guys of origin were so kind to share this post by vitalik https://www.reddit.com/r/ethereum/comments/6c1jui/delegatecall_forwarders_how_to_save_5098_on/

Which essentially gets rid of the library.
The instances are now just forwarders delegating calls to a master contract with all definitions.

Their example: https://github.com/tyleryasaka/identity-proposals/pull/1

I must have missed somethin

[2018-11-17 10:28] ChrisCates commented on #4648
Hi @ryan-shea,
Sorry about a while back...

I've integrated `--hex-readable` into the SMTChecker with a flag.

Here is an example output from a test contract:

**test.sol**:

[code]

**output**:

[code]

Also, the command line interface was updated with a `--hex-readable` flag:

[code]

I've provided the pull request here: https://github.com/ethereum/solidity/pull/5447

I've tried to followed @chr

[2018-11-17 13:09] ghost commented on #5442
... (no comment. My professional pride does not allow me to discuss such totally basic things further)

[2018-11-17 14:05] axic commented on #5442
I don't think there is a need to be too much personal from either side here.

@lazaridiscom can you please reflect to my proposal:

Do you see something wrong with this?

[2018-11-17 14:08] ghost commented on #5442
(am currently on it)

[2018-11-17 14:36] arisAlexis opened #5448 "Constant keyword to be required for initialization outside constructor"
## Abstract

Variable assignments outside of the constructor become defacto constant without the keyword. It is very confusing for developers coming from other languages (almost all).

## Motivation

Enforce the use of constant keyword otherwise treat the variable as if it was initialized in the constructor.

## Specification

[code]

while the above results in a constant variable test that cannot

[2018-11-17 15:03] ghost commented on #5442
There is nothing wrong, its just that if this is to be interpreted/implemented by 10 different persons, they will provide you 10 different results.

e.g., I interpret "Clean Separation" differently than e.g. leonardoalt , I categorize "high quality contributors" differently than e.g. you, I assess the current doc-format differently than you.

What I want is this:

- If I sent some developer to a p

[2018-11-17 17:25] ghost commented on #4891
@vs77bb , does the gitcoin "tip" functionality work with an eth-address, or is a gitcoin-account needed?

[2018-11-17 19:20] ChrisCates commented on #4674
No worries @meowingtwurtle, we can pick up where you left off.
Seems like a lot of math work is involved here.

@liangdzou, are you still interested in creating a pull request?

[2018-11-17 22:10] ChrisCates commented on #4648
Im going to add more tests and get full codecov on CommonData.h,
CommonData.cpp...

The CI check failing is really bugging me.

Im just unsure if improving codecov should be on this Pull Request.

[2018-11-18 10:37] robechun commented on #5372
Couple questions:

1) You indicate the suffixes shouldn't be turned into strings; a way to differentiate between different ID's--then-- would be adding a ```size_t suffix``` into the ```Handle``` struct. This way, we could have the ```YulString.str()``` function append the suffix if say-- it's not 0. However, this seems to be contrasting to @ekpyron's comment in [#5365](https://github.com/ethereum

[2018-11-18 15:38] lazaridiscom commented on #4648
The failing test is not a "Required" one, so all should be good.

[2018-11-19 00:50] VIP21 commented on #1306
#4674

[2018-11-19 00:55] BlinkyStitt commented on #4116
Is there a script-able way to test if a contract has this issue?

[2018-11-19 04:25] p0n1 commented on #4116
[Adelaide](https://github.com/sec-bit/adelaide/blob/secbit-ssae/README.secbit.md) is a static analysis tool which could detect issues like `erc20-return-false` or `erc20-no-return`.

Try it if you are interested.

https://github.com/sec-bit/adelaide/blob/secbit-ssae/README.secbit.md

[2018-11-19 05:55] BlinkyStitt commented on #4116
Great, thanks!

Has there been any progress with https://github.com/sec-bit/badERC20Fix/blob/master/badERC20Fix.sol ? It looks good to me, but I am very new to solidity and so that doesn't mean anything.

[2018-11-19 08:26] avatar-lavventura opened #5449 "Can't install pre-0.5.0 versions via Homebrew"
I am trying to install `solc v0.4.25` through `brew` on a Mac. Please note that I was able to install its latest version `solc v.0.5.0` using `brew install solidity`; but I am unable to install its previous version using:

    brew install https://raw.githubusercontent.com/ethereum/homebrew-ethereum/9599ce8371d9de039988f89ed577460e58a0f56a/solidity.rb

Please note that I have done `sudo mv /opt/lo

[2018-11-19 09:21] p0n1 commented on #4116
@WyseNynja `badERC20Fix` is a demo solution for DApp and DEX by adding a safe transfer/trasferFrom wrapper to solve the issue.

Different DEXs take diff ways.

This is [0x trick](https://github.com/0xProject/0x-monorepo/blob/e62458705039f6a187ff23e4e4ee1737476eb431/packages/contracts/contracts/protocol/Exchange/MixinAssetProxyDispatcher.sol#L74) and this is [Loopring one](https://github.com/Loopri

[2018-11-19 10:16] erak commented on #5449
@avatar-lavventura There seems to be an issue with homebrew (version of stdlibc++ / XCode commandline tools) during compilation for this particular version: https://github.com/ethereum/homebrew-ethereum/issues/191. So far we couldn't reproduce this and are lacking resources to properly support older versions in homebrew. Could you try to build 0.4.25 from source? That seems to be a workaround for

[2018-11-19 10:29] ChrisChinchilla commented on #5425
Attempted this here - https://github.com/ethereum/solidity/pull/5450

It doesn't go into detail of the comment https://github.com/ethereum/solidity/issues/5425#issuecomment-438705477 but tries to set out why we use what term and then stick to that consistency. There might be some follow up commits in other areas of docs, but wanted to get opinions first.

[2018-11-19 10:37] ChrisChinchilla commented on #4672
@axic I'll break some of these out to seperate issues / PRs as I approach them.

[2018-11-19 10:39] ChrisChinchilla commented on #5139
I think so @axic but any idea of how many people have had this issue/need before?

[2018-11-19 10:46] erak commented on #5139
@ChrisChinchilla There was another report coming in today: https://github.com/ethereum/solidity/issues/5449. I have the feeling that we should mention them in the documentation and provide this and hopefully a workaround for the other issue.

[2018-11-19 10:49] ChrisChinchilla commented on #5139
@bit-shift I think that makes it worth it then :)

[2018-11-19 11:00] erak commented on #5448
@arisAlexis The example given above allows to reassign a different value in functions. Please consider the following contract:
[code]
Calling ``test()`` (the auto-generated getter for ``test``) after ``f()`` was called returns ``2000``. You could change the declaration to ``uint constant public test = 1000000;`` which would result in an error when reassigning to it in ``f()``.

[2018-11-19 14:20] erak opened #5452 "Update Homebrew"
## Abstract

Update Homebrew formula on https://github.com/ethereum/homebrew-ethereum such that it either downloads a binary or builds from source if binary is not available.

Fixes https://github.com/ethereum/solidity/issues/5449.

## Motivation

We have a couple of reports from people that are not able to install solc via Homebrew. Since this affects 0.4.25 (fixed for 0.5.0) we should provide so

[2018-11-19 14:37] erak opened #5453 "Solidity user survey"
## Abstract
Design and conduct a survey that helps us gain more knowledge about our user base (for example hosted on https://www.limesurvey.org/)

### General questions
- Operating system (Win, macOS, Linux etc.)
- Solidity version
- Installation (from source, Homebrew, Chocolatey etc.)
- Framework usage (Truffle, Embark, etc.)
- Editor (VSCode, Remix, etc.)
- Experience level

### Solidity specif

[2018-11-19 15:55] leonardoalt commented on #5268
Closed by #5307

[2018-11-19 15:55] #5268 closed, assigned to nobody

[2018-11-19 17:34] axic opened #5455 "Unit test for libsolc's readCallback"
It is not tested anywhere: https://codecov.io/gh/ethereum/solidity/src/develop/libsolc/libsolc.cpp

[2018-11-19 17:48] axic opened #5456 "StandardJSON crashes on useLiteralContent not bool"
Found by solfuzzer.

Problematic line here: https://github.com/ethereum/solidity/blob/develop/libsolidity/interface/StandardCompiler.cpp#L409

Need to add tests for `useLiteralContent` not present.

[2018-11-19 17:50] axic opened #5457 "StandardJSON crashes on invalid source with Json::Value::find"
Found by solfuzzer.

[code]

[2018-11-19 17:53] axic opened #5458 "StandardJSON crashes on invalid input for outputSelection"
Found by solfuzzer.

Code is here: https://github.com/ethereum/solidity/blob/develop/libsolidity/interface/StandardCompiler.cpp#L97

It crashes if the the second layer ("contracts") is not an array.

[2018-11-19 18:02] axic commented on #5418
Duplicated as #5458, but that has better description.

[2018-11-19 18:02] #5418 closed, assigned to nobody

[2018-11-19 19:46] avatar-lavventura commented on #5449
When I try to install from the source code I am getting following error:

[code]

[2018-11-19 19:49] avatar-lavventura commented on #5449
@bit-shift:  When I try to install from the source code I am getting following error:

[code]

---------

Then I have tried to build it from solidity's `git clone`:

[code]

[2018-11-19 20:48] axic opened #5459 "Weird combination of constructor and events named same crashes"
Found by solfuzz.

[code]

[code]

Ref 5dd3ee2: id:000512,sig:06,src:000293+018892,op:splice,rep:2

[2018-11-19 20:58] axic commented on #5056
It seems that this problem is not fully fixed yet.

The attached files are cases which triggers this on 0.5.0:
[code]

(Note, the "Integer constant too large" was renamed in "Number constant too large")

Ref 5dd3ee2 from solfuzz.

[id:000137,sig:06,src:016906,op:havoc,rep:2.txt](https://github.com/ethereum/solidity/files/2597019/id.000137.sig.06.src.016906.op.havoc.rep.2.txt)
[id:000187,sig:06,src

[2018-11-20 00:02] juztin opened #5460 "Latest Docker images seem to no longer include `/bin`"
## Description

Latest Docker images seem to no longer include `/bin`.

We've been using the upstream `ethereum/solc:stable` as a parent image for compilation / ABI generation, but noticed that the latest push no longer includes `/bin`.

The file-system on the image has:

[code]

Just wondering if this was intentional, before we go building a `solc` image. The [Dockerfile](https://hub.docker.com/r

[2018-11-20 01:29] KevinKelley commented on #4648
@ChrisCates ...looking at your PRs, seems you started from where I left off, added the command-lind switching that I hadn't got to.   I approve, looking good to me...

I got sidetracked, or bogged down, with the options switching.  I got the idea that we'd maybe want more options to be switchable, since there's code to make it possible... so I wrote up a `HexFormat` class, like:

    enum class He

[2018-11-20 02:08] ChrisCates commented on #4648
@KevinKelley, there are plenty of great refactoring methods we could implement into the standard library, and I am definitely in favour of a Hex Class, however, I think it should be agnostic to any numerical value. This way you can tune the parameters of the class and use it for any decimal value, or any integer. You can either return the original decimal value or return different versions through

[2018-11-20 03:47] liangdzou commented on #4674
@ChrisCates You can feel free to work on this topic. I won't have time for this at the moment.

[2018-11-20 04:13] ChrisCates commented on #4674
@liangdzou, no worries. I'll see what I can pull up soon.

[2018-11-20 05:56] moodysalem opened #5461 "Feature Request: Events in function signatures (or, checked events)"
## Abstract

Problem: I am writing an interface with events, and I want to make sure any implementations emit an event upon successful invocation

Solution: Allow me to describe events that should be emitted in the function signature

## Motivation

This will enforce at compile time that a function emits an event or throws, allowing for the interface to be a more complete specification of the cont

[2018-11-20 13:56] lazaridiscom commented on #5425
This new version reads even more confusing to me. I am now sure that "Return Values" should be used, and that "Return Variables" should be used only once, in order to explain the solidity-specific behavior.

(I can possibly come up with an alternate text suggestion at some point)

[2018-11-20 14:23] eternauta1337 commented on #4678
@leonardoalt we are studying the situation and will get back to you soon. Thx for keeping this under your radar =)

[2018-11-20 14:47] arisAlexis commented on #5448
I am sorry if that was wrong understanding. I deployed the contract described in the issue and the function `setTest(uint _test) onlyOwner { test=_test; }` did not set the new value but when assigned in the constructor it did. If that's not replicable by others feel free to close the issue.

[2018-11-20 14:50] leonardoalt commented on #5448
Hi @arisAlexis , please note that you didn't post the contract you deployed. Could you post the entire contract so that we can try to replicate your exact steps?

In the snippet you just posted, could the reason for state variable `test` not changing be that you called the function from an account that is not the `owner`?

[2018-11-20 15:07] arisAlexis commented on #5448
@leonardoalt sorry the contract is for a startup I am working for and the code is not open source currently (although using Ethereum) but effectively I deployed the same contract with the same owner (confirmed by calling the owner public getter (it's an openzeppelin standard contract inherited) and the same function that did not change the variable did change it after I just put the initial value

[2018-11-20 15:28] leonardoalt commented on #5448
@arisAlexis I understand. The problem with that is that we can only imagine the exact contents of the contract and can't replicate exactly the behavior. Could you post a minimized version (just the constructor and the one function and variable) of the contract that still has the error?

[2018-11-20 15:34] dddejan commented on #4391
I used the simple example from the documentation

[code]

Without any options valgrind reports

[code]

But, running with `--leak-check=full` returns pages of reports of "possibly lost" coming from Z3.

This is with latest solidity and Z3 from git on both linux and mac.

[2018-11-20 15:37] arisAlexis commented on #5448
I updated the specification section and it is exactly the same as the deployed contract at address 0xe1224c7a75d9455ef1054ea0c19f2a66497f4fd7 on rinkeby network and you can see at that address that I sent many transactions from the owner account that were not rejected but didn't change the value. Maybe I am doing something very wrong.

[2018-11-20 15:49] leonardoalt commented on #5448
I wrote a new piece of code that (I guess) looks similar to what you described:
[code]
I deployed it and the function works as expected, updating the value of variable `fee`.

I saw on the testnet that the function is called by the same address that created the contract.
Unfortunately I can't do much more without access to the actual code.

[2018-11-20 15:58] arisAlexis commented on #5448
OK since it's working since I changed it I won't dig into it anymore, I thought it was an implicit conversion from the language and was good to give input. Thanks again :)

[2018-11-20 15:58] #5448 closed, assigned to nobody

[2018-11-20 18:43] ekpyron opened #5462 "Address payable to address conversion fails for memory arrays."
``address [1] memory accounts = [ address(0) ];`` should work, but fails to compile. (Thanks for reporting @yann300).

[code]

[code]

[2018-11-20 23:26] spalladino commented on #4678
Hey folks! My apologies, I totally missed the original response by @chriseth.

Modifying the source code is not straightforward, since we'd need a semantic analysis to know which functions are actually used by the constructor, in order to delete the others. Even if we manage to do it, we'd also need to strip the constructor code of the `return` statement that returns the runtime bytecode.

I think

[2018-11-21 00:05] svenski123 commented on #4894
@frankchen07 Thanks for following up on this. BTW when will @vs77bb be back?

[2018-11-21 05:40] Pet3ris opened #5463 "Latest v0.4.25 version is marked as a nightly"
## Description

The release version of v0.4.25 is declared as a pre-release and contracts don't compile.

## Environment

- Compiler version: v0.4.25
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix): n/a
- EVM execution environment / backend / blockchain client: n/a
- Operating system: OS X, but doing this in `python:3.6` docker image

## Steps to Reproduce

[2018-11-21 07:07] smeis opened #5893 "Installing Solidity Compiler 0.5.0 using homebrew fails with Error 2"
Hello everyone,

Trying to install solidity using the recommended install method (described [here](https://solidity.readthedocs.io/en/v0.5.0/installing-solidity.html#binary-packages)) on macOS fails for me.

Below is last part of the output when running `brew install solidity --verbose` attempting to install the latest version (0.5.0 as of this writing). I'm on macOS 10.14 and have the Xcode 10.1

[2018-11-21 09:06] ChrisChinchilla commented on #5425
@lazaridiscom Hmm, I did some reading around this and looked at what some other docs do, and they all do something different 🤣.

I am also starting to feel that `value` makes more sense, as that's what is returned. For example the Javascript docs use [value](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/return).

The solidity-specific content could go into more detai

[2018-11-21 09:14] spm32 commented on #4494
All good @chriseth :)

[2018-11-21 11:30] chriseth commented on #5463
Custom source builds are always tagged as "prerelease", unless a special empty file called "prerelease.txt" is present. This file is included in the tar gz file that is attached to the release, but it is not present in the git source tree. Please use https://github.com/ethereum/solidity/releases/download/v0.4.25/solidity_0.4.25.tar.gz when compiling.

[2018-11-21 11:30] #5463 closed, assigned to nobody

[2018-11-21 11:51] axic commented on #5422
Truffle made a nightly 5.x release working with Solidity 0.5.0.

Embark has it merged, but release is yet to come.

Remix has in released on the Alpha version.

[2018-11-21 12:30] bshastry opened #5465 "YUL optimizer: Out-of-range exception thrown by FullInliner"
## Description

The Full Inliner YUL optimization throws a `std::out_of_range` exception for the code below

[code]

The exception is thrown at `libyul/optimiser/FullInliner.h:82`

[code]

- `m_functions` at this point is an empty map from which we are trying to index a key called `_name`
- This leads to the `'std::out_of_range' exception

which is called from

[code]

## Environment

- Compiler v

[2018-11-21 14:30] axic opened #5467 "Try to include source location in internal assertions"

[2018-11-21 14:31] axic opened #5468 "[CLI] Report internal errors the same way as other errors on CLI"
Different error kinds and exceptions are formatted differently and with different level of detail in the CLI vs in the StandardCompiler.

CLI: https://github.com/ethereum/solidity/blob/develop/solc/CommandLineInterface.cpp#L1503
StandardCompiler: https://github.com/ethereum/solidity/blob/develop/libsolidity/interface/StandardCompiler.cpp#L942

The goal here is to make the CLI output similarly deta

[2018-11-21 14:32] chriseth opened #5469 "More user-friendly report of internal errors"
- [ ] The commandline interface should not report internal errors specially
 - [ ] source locations should be added to solAsserts if possible.

[2018-11-21 15:09] erak opened #5470 "Clean up unary +"
## Abstract
Unary ``+`` was disallowed, but there's still some more clean up necessary.

## Motivation
Usage of unary ``+`` is now handled by the syntax checker, but it's still present in the type system.

## Specification
``SyntaxChecker::visit(UnaryOperation const&)`` reports an error if it detects the usage of unary ``+``. But, e.g. ``IntegerType::unaryOperatorResult()`` still allows using it.

[2018-11-21 15:10] #5285 closed, assigned to christianparpart

[2018-11-21 15:12] axic commented on #5470
As long as it is accepted by the parsers I'd say the check belongs to `SyntaxChecker` and nowhere else.

[2018-11-21 15:44] axic commented on #5469
Please close this or both #5467 and #5468.

[2018-11-21 15:56] erak commented on #5470
@axic Yes, that makes sense. I updated the description accordingly.

[2018-11-21 16:05] #5469 closed, assigned to nobody

[2018-11-21 16:13] chriseth commented on #3572
Example:
[code]

would `.pushNew()` increase clarity?

[2018-11-21 18:24] chriseth commented on #431
With the new ABI coder, we might re-try this one.

[2018-11-21 18:24] chriseth commented on #431
One of the main goals here is also to be able to convert array literals to both dynamic and static array types.

[2018-11-21 22:04] axic opened #5474 "Rename AssemblyStack to YulStack"
From https://github.com/ethereum/solidity/pull/2233#discussion_r119631657

Not sure it is still relevant. @chriseth close if not.

[2018-11-21 23:41] chriseth commented on #5460
Weird - this might have been caused by an update to the base alpine image. I'm not an expert on docker usage, but strictly, `/bin` is not required for running solidity, so it should not be included in the docker image, or should it?

[2018-11-21 23:43] axic opened #5475 "Upgrade Boost to 1.68 in emscripten"
Recently we've upgraded our boost dependency to 1.67 in the Emscripten build. This version was used, because the PR was made during summer and 1.67 was the last release then (released in April).

In August 1.68 was released and it seems it may have some relevant fixes:
- Fix bug in cpp_int where incrementing to zero doesn't set the sign correctly.
- Remove erroneous use of std::move, and rely on N

[2018-11-21 23:54] frankchen07 commented on #4894
@svenski123 - he just got back yesterday. I'll ping him on Slack directly to make sure this happens, hopefully before Thanksgiving tomorrow. Thanks for following up!

[2018-11-22 00:04] lazaridiscom commented on #5425
I think I understood my non-understanding now. The captions below show a "flow" which would had avoided misunderstandings for me

## Function Parameters

business as usual

## Function Return Values

Functions have either zero, one or many return values.

## Return Value Type Declaration (`returns`)

The return value types are declared via `returns`

## Returning Values via `return` Statement

usu

[2018-11-22 00:25] Genysys commented on #1192
It would seem that I am having the same issue.

[code]

is this a related bug ?

[2018-11-22 00:35] KevinKelley commented on #4648
Okay, I've combined @ChrisCates code (command-line switching) and mine (4 types of formatting) into one [PR](https://github.com/ethereum/solidity/pull/5476#issue-232830148)

I think there's still stylecheck issues, I'll do the fixups if/when anybody wants to use this.

[2018-11-22 09:13] chriseth commented on #5372
I think it would be better to add the suffix ID to the StringRepository instead of to the handle or YulString class - if that is possible.

If you can find a non-invasive method to avoid the additional string created by NameDispenser, then please feel free to submit a PR!

Whether we should use a different hash function or not should be evaluated by using a profiler, feel free to do so, but please

[2018-11-22 10:39] Amxx opened #5479 "ABIEncoderV2 + external = UnimplementedFeatureError"
I have solidity code that contains methods which rely on the ABIEncoderV2 to get input structs.

If the method is public (input stored in memory) everything works well. However, if the method is external (input stored in calldata) then the compiler gives me a "NotImplementedFeatureError"

Minimal reproducible code:

    pragma solidity ^0.4.25;
    pragma experimental ABIEncoderV2;
    contract Te

[2018-11-22 10:50] axic commented on #5479
[code]

I think this is about decoding from calldata for structs is not implemented.

(The feature is also missing in 0.5.0.)

[2018-11-22 11:23] chriseth opened #5480 "Remove structural gas estimation"
Structural gas estimation (used by the AST output) provides gas information for each instruction in the source. It is currently the only component that relies on the old control flow graph module and cannot really handle many branches and is also completely broken on some inputs:
[code]

An earlier attempt at removing the control flow graph from structural gas estimation in https://github.com/ethe

[2018-11-22 11:26] chriseth commented on #5479
The problem is that calldata structs are not a defined concept in Solidity. We might want to disallow calldata structs at the type checker level.

[2018-11-22 12:14] ghost commented on #5442
For the case you didn't notice:

https://github.com/lazaridiscom/solidity/tree/laz-rework

Now throw folks (a mixture of newcomers and high-quality-devs) to the original and the reworked project.

I accept any bets...

[2018-11-22 12:36] axic commented on #3572
Looking at the examples I think `pushEmpty` sounds the most natural.

[2018-11-22 13:36] chriseth commented on #3572
empty makes sense for an array of arrays, but an array of uints? The problem is that we use the term "default value" or "zero value" a lot in the documentation but have not really defined or fixed it.

[2018-11-22 14:39] axic opened #5483 "Document SMTLib2 usage via standard json"

[2018-11-22 15:43] leonardoalt opened #5484 "[SMTChecker] Move Symbolic* to namespace smt"

[2018-11-22 15:52] axic commented on #5484
I'd say move most of the SMT stuff under `smt`.

The `Z3Interface` already is...

[2018-11-22 16:06] leonardoalt commented on #5484
Yes, the solver interfaces and sorts are already in the `smt` namespace.
I guess `SymbolicVariables` and `SymbolicTypes` could follow.
I'm not sure about `SMTChecker` itself.

[2018-11-22 17:21] chriseth commented on #5442
I think we have consent on adding a high quality contributors chapter in the documentation.

[2018-11-22 17:21] #5442 closed, assigned to nobody

[2018-11-22 19:12] axic commented on #5426
Need to check why the report differs.