[2018-08-08 14:37] chriseth opened #4768 "Add `address.staticcall(...)`"

[2018-08-08 14:45] axic commented on #4768
Oh wow, we didn't had this?

How should this work with `evmVersion`? Do we have that available during the analysis stage?

[2018-08-08 15:40] mattaereal commented on #4752
Fixed in #4753

[2018-08-08 15:40] #4752 closed, assigned to nobody

[2018-08-08 16:06] chriseth opened #4771 "External functions somehow require storage pointers"
[code]
results in
[code]

[2018-08-08 16:14] chriseth commented on #4771
This might be fixed by the data location PR.

[2018-08-08 16:15] chriseth commented on #4771
It only happens if there is an explicit `calldata` keyword, that's probably why we did not have tests (yet).

[2018-08-08 16:26] chriseth commented on #4768
I think we said that people should use assembly, but I think that it's fine since we changed it to single-bytes-param.

Yes, we have it. My proposal would be to always have the member but issue an error if it is used in the wrong evm version.

[2018-08-08 16:59] axic commented on #4768
It is fine always having a member, just the error should be issued in the type system and not at codegen.

[2018-08-08 17:29] #4651 closed, assigned to nobody

[2018-08-08 19:02] axic commented on #3035
@christianparpart @chriseth I think this has been started to some extent already? Can you add a checklist of what needs to be done?

[2018-08-08 19:36] #1677 closed, assigned to nobody

[2018-08-08 19:53] axic commented on #2796
@ekpyron I guess this is somewhat done now? If we need to keep this issue to track it, can you create a checklist in the description above?

[2018-08-08 19:54] axic commented on #3102
Created a [label](https://github.com/ethereum/solidity/labels/testing%20%3Ahammer%3A), that should be ok to track them. Closing this.

Thanks for collecting them though!

[2018-08-08 19:54] #3102 closed, assigned to nobody

[2018-08-08 20:27] chriseth commented on #4771
Fixed in #4390  but will be fixed again in #4738

[2018-08-08 20:55] axic opened #4774 "Optimisation: store (large) string literals as auxiliary data and codecopy them"
Currently all strings are broken up into 32 byte items, `PUSH`d and `MSTORE`d.

The helper function [`CompilerUtils::storeStringData`](https://github.com/ethereum/solidity/blob/develop/libsolidity/codegen/CompilerUtils.cpp#L1181-L1201) is doing this, however it has a fixed rule for only doing it for >128 characters.

It should be exposed to the optimiser (or user) to decide based on cost.

[2018-08-08 22:22] chriseth commented on #4674
@meowingtwurtle is taking a shot at this.

[2018-08-08 22:46] axic commented on #4588
Will be solved by #4774.

[2018-08-08 23:09] #3749 closed, assigned to nobody

[2018-08-09 06:19] thekevinbrown commented on #4652
Ok, looks like it's actually https://github.com/ethereum/solidity/issues/2884 that I'm experiencing, which causes corrupted values across all the args in the call, e.g. when I call the function like this:

[code]
I get this in the event log:
[code]

That issue was closed, but it looks like the plan isn't to update `call` to work correctly with `bytes` variables. So a couple of questions:

1. Shoul

[2018-08-09 10:08] ekpyron commented on #2796
I wouldn't say this is done - the test infrastructure is better now, but there's still not enough test cases. We can track that in  #4758 together with the documentation, though, so I'd be fine with closing this one.

[2018-08-09 10:10] #2796 closed, assigned to nobody

[2018-08-09 10:25] axic commented on #4704
Should we consider adding aliases for these? Would be easier if we could extend the language with "standard libraries".

[2018-08-09 10:29] chriseth commented on #4652
#2884 is fixed in latest develop - `call` now only accepts a single `bytes` argument and does not pad.

In your example, you should use
[code]
instead of
[code]
The second will not be possible in 0.5.0 anymore.

[2018-08-09 10:39] chriseth commented on #4704
I still don't want to take the burden to implement a standard library, but people could use this in an external string library, for example.

[2018-08-09 10:47] axic commented on #4704
I should have written "language extensions written in Solidity" (aka meta programming the compiler) instead of standard library.

Adding `abi.convertFixedBytes()` would be easy to write in Solidity itself, but would be nice to include that as part of the compilation process, just like we have `appendLowLevelAssembly`.

[2018-08-09 10:51] axic commented on #4652
Actually the same advice was given a week ago: https://github.com/ethereum/solidity/issues/4652#issuecomment-409884386

@blargity did you change the code to do that? Note: all the parameters are part of `abi.encodeWithSignature`.

[2018-08-09 13:45] #4762 closed, assigned to ekpyron

[2018-08-09 17:24] diegobes commented on #2325
This is related to:

eth/api_backend.go

func (b *EthAPIBackend) GetEVM(ctx context.Context, msg core.Message, state *state.StateDB, header *types.Header, vmCfg vm.Config) (*vm.EVM, func() error, error) {
	**===> state.SetBalance(msg.From(), math.MaxBig256)**
	vmError := func() error { return nil }
	context := core.NewEVMContext(msg, header, b.eth.BlockChain(), nil)
	return vm.NewEVM(context, stat

[2018-08-09 17:40] #4771 closed, assigned to nobody

[2018-08-10 03:46] vs77bb commented on #4502
Hi @vaibhavchellani after checking with @chriseth we decided it's time to return this to the crowd. Thanks for your efforts and please do check Gitcoin again for other potential issues to work!

[2018-08-10 04:01] thekevinbrown commented on #4652
@axic, @chriseth, thank you both for your help.

You're right, I thought that `abi.encodeWithSignature` was a replacement for figuring out the function selector, not also encoding all the parameters. That works for me.

Many thanks, and sorry for not noticing that the first time!

[2018-08-10 04:01] #4652 closed, assigned to nobody

[2018-08-10 12:16] ekpyron commented on #4635
Should this only be the case for internal *library* functions?

Currently the following does not work either, and I don't see a good reason, why not:

[code]
This yields ``TypeError: Type is required to live outside storage.``

Is there any good reason to require a type ``to live outside storage`` for the arguments of internal functions at all?

[2018-08-10 12:20] ekpyron commented on #4635
Somewhat related: #4670

[2018-08-10 13:30] ekpyron commented on #4670
Not sure whether something changed or whether I was simply wrong before, but I checked again during #4635 and I don't experience any problems with internal mapping returns (and arguments) anymore. I'm considering fixing this together with #4635 now.

[2018-08-10 13:36] Qkyrie commented on #4394
@chriseth
so, say you have 2 arguments you would like to append, would you use abi.encodePacked(arguments) before appending to the dynamic code, or what function would result in the correct encoding?

[2018-08-10 14:25] christianparpart commented on #4688
@chriseth: I am trying to get into this subject, but I'd appreciate a specific example that breaks. Currently I seem only get "linkerReferences" without any members in the standard JSON.

[2018-08-10 15:01] ekpyron commented on #4688
I'm not quite sure myself, the following works and does output ``linkReferences``:

[code]

With contents of ``A.sol`` in current working directory:
[code]

And compiled with ``solc --allow-paths . --standard-json``.

Should ``import "./A.sol";`` be resolved, even if it is not specified in the json via an url? I'm not sure that's desirable...

[2018-08-10 16:09] iamonuwa commented on #4741
@chriseth, am working on this task. I currently have solc installed and had to build from source (because of the task), I have an issue, remix-ide is using solc to serve. How do I switch to the build and not remove the solc?

[2018-08-10 16:46] chriseth commented on #4743
Great! This has to do with `nodeFactory.markEndPosition();` in `Parser::parseVariableDeclaration`, or actually the fact that `nodeFactory.setEndPositionFromNode(type);` is called and the data location specifier is not part of the `type`.

[2018-08-10 16:50] chriseth commented on #4741
Thanks for your help, @iamonuwa ! I'm sorry, I don't understand - how is remix related here? You can trigger the bug in the following way:

Contents of test.sol:
[code]
Command to run:
[code]
Output:
[code]
Expected output:
[code]

[2018-08-10 20:01] rofiqgilang commented on #4743
Great! This has to do with nodeFactory.markEndPosition(); in Parser::parseVariableDeclaration, or actually the fact that nodeFactory.setEndPositionFromNode(type); is called and the data location specifier is not part of the type.

[2018-08-10 20:19] shadowcodex opened #4800 "public constant function returns incorrect value every time."
## Description

Return data is returned incorrectly. The data returned should be the same as the data stored in contract.

## Environment

- Compiler version: All versions
- Framework/IDE (e.g. Truffle or Remix): both & direct web3
- EVM execution environment / backend / blockchain client: blockchain
- Operating system: macOS, Windows, Linux

## Steps to Reproduce

The following code returns `0` e

[2018-08-11 07:01] iamonuwa commented on #4741
Aha! Gotcha! Thank you. I'll wrap this up today

[2018-08-11 07:06] YoonjaeYoo commented on #4394
Below is how I solved it. First of all, you need to use 'abi.encodePacked(bytecode, arg1, arg2, ...)'. What's important is, each argument needs to be padded in 32 bytes whereas encodePacked doesn't automatically insert padding. Therefore, for bool, address, uint or int whose size is smaller than 32, you need to convert it to a uint256 and then use it. For strings, you need to convert it into a byt

[2018-08-11 10:42] iamonuwa commented on #4743
@chriseth how can I reproduce this error so as to fix it?

[2018-08-11 13:18] mridulnagpal commented on #4716
@chriseth I am new to solidity, can you tell me the steps to resolve this issue?

[2018-08-11 14:55] axic commented on #4394
Why not just use `abi.encode()` which encodes properly? (Check the documentation about `abi.encodePacked`, it is not performing ABI encoding).

[2018-08-11 20:31] iamonuwa commented on #4066
@davidbanu still working on this one?

[2018-08-11 20:33] davidbanu commented on #4066
@iamonuwa, yes. Working on it right now.

[2018-08-12 04:55] fulldecent opened #4802 "Does anArray.length-- delete the last element?"
Normally I send questions to StackOverflow.

But here I see an assertion that calling `.length--` on an array will delete the last element and recover gas.

The people on that team are generally smart so I'm going to assume it is true.

If it is true then can the documentation please be update to explain this feature?

[2018-08-12 18:40] frangio opened #4803 "Event overwritten with incompatible one"
The following code compiles without warnings, even though `Foo` overwrites the `Approve(address,address)` event with an incompatible one. This should fail to compile because it's not an overloading of `Approve` with a different signature, but a replacement of it with an incompatible one, because of the `indexed`.

[code]

Related to https://github.com/ethereum/solidity/issues/4168.

[2018-08-13 07:05] YoonjaeYoo commented on #4394
@axic
`abi.encode()` inserts length of each arguments whereas `abi.encodePacked()` doesn't. You don't need each arg's length for a function call (including constructor).

[2018-08-13 08:24] ChrisChinchilla commented on #3320
@zhuangjinxin Are you also interested in helping with a translation? I think the other people I spoke with are interested in Mandarin, but I will confirm. If you are, I have a plan in place and am happy to share it with you. :)

[2018-08-13 08:25] ChrisChinchilla commented on #3564
@chriseth Do you know who this person was?

[2018-08-13 08:27] ChrisChinchilla commented on #4174
Hey @naitsirhc007 as part of many other docs efforts, I am handling translations. Are you, or @eleanarey interested in continuing this Spanish translation? I have a plan in place and am happy to help you with whatever you need.

[2018-08-13 10:46] ekpyron opened #4804 "Rethink ``Type::canLiveOutsideStorage``; allow as arguments/return values for internal functions."
Came up in #4798.

``Type::canLiveOutsideStorage`` seems to mainly be used for mappings - we may want to consider removing it and using a shared flag for storage references and mappings instead. Also in ``TypeChecker::visit(FunctionDefinition const& _function)`` we should allow such types as arguments and return values for internal functions in general (currently mappings are allowed explicitly),

[2018-08-13 11:37] #4405 closed, assigned to ekpyron

[2018-08-13 11:44] ekpyron opened #4805 "Re-enable the ``blockhash`` test for constantinople."
Came up in #4799.

For constantinople the blockhash opcode seems to always return zero.
This is probably due to us setting the constantinople fork block to zero and resetting the chain to block zero before each test, which seems to break the blockchain contract in aleth (introduced in EIP96). Either our test setup has to be adjusted or aleth should support blockhash in the configuration used for o

[2018-08-13 11:45] chriseth commented on #4802
Yes, it will `delete` the last element and then reduce the size by one. What happens is explained in the code snippet in https://solidity.readthedocs.io/en/v0.4.24/types.html#members but we should probably clarify what "resize" means in the description of the `length` member.

[2018-08-13 11:46] chriseth commented on #4803
@axic do we want to fix this with 0.5.0?

[2018-08-13 11:55] chriseth commented on #4716
You could start by checking how `literalValue()` is called even though `mobileType()` returned a null pointer when called on the same object before (please also check if that is the case).

[2018-08-13 11:57] chriseth commented on #4394
You actually do. If `bytes memory data`  is the code of the contract you want to deploy, you can use `data = abi.encodePacked(data, abi.encode(arg1, arg2, arg3))` to get code plus correctly encoded arguments to deploy.

[2018-08-13 12:28] chriseth commented on #3564
@AdrianClv - we would like to try again perhaps with some more guidance and project management, @ChrisChinchilla is willing to coordinate.

[2018-08-13 12:32] chriseth commented on #4800
Could you please provide the full minimal source code to trigger this bug? Does it actually return `0` or does the function call fail? Does enabling / disabling the optimizer change it?

Currently, I can think of two causes for this:
 - serious optimizer bug
 - incorrectly initialized test chain (sha256 is a precompiled contract)

[2018-08-13 12:47] ChrisChinchilla commented on #4672
@axic Following on from Gitter conversation, noted, and will look :)

[2018-08-13 12:51] anurag-git commented on #3667
@axic @chfast , what tests you would suggest to verify the fix. Fix as I understand is just to remove the default case.

[2018-08-13 12:53] ekpyron commented on #4805
Pre-deploying the blockhash contract by adding it to the pre-defined accounts during genesis in ``RPCSession.cpp`` seems to help, but causes issues with other tests (https://circleci.com/gh/ethereum/solidity/30991).

[2018-08-13 12:57] chfast commented on #3667
Remove the default case. Then remove any other case and see if the compiler (ideally the one used in CI) warns about it. If yes, you are good.

[2018-08-13 13:16] chriseth opened #4806 "Fix word wrap with `->`"
Some browsers wrap `->` in the assembly tables. We could try to use a non-breaking non-space (`&#8288`) to fix it - https://github.com/ethereum/solidity/pull/4794#issuecomment-412474472

[2018-08-13 13:18] chriseth opened #4807 "Grammar: Type names are expressions"
Any type name (user-defined or not, including arrays) should be an expression, but data location specifiers are part of the variable declaration and not the type.

Discovered in #4738

[2018-08-13 13:52] chriseth commented on #4635
This requires defining a type string for mappings for the function selector (as we did with strings).

[2018-08-13 13:53] chriseth commented on #4635
(extended scope to public library functions)

[2018-08-13 13:56] chriseth commented on #4688
I think the idea was to align `solc` with and without standard-json. It should be easier to call the compiler with standard-json, so that it loads files on its own, if possible (you do not have to determine which files are exactly required, if the compiler also does it).

Isn't the allowed directories mechanism safe enough?

[2018-08-13 14:01] chriseth commented on #4743
@rofiqgilang it seems you got the wrong issue.

[2018-08-13 14:07] #1211 closed, assigned to ChrisChinchilla

[2018-08-13 14:09] chriseth commented on #4804
Also, we should better unify mappings and reference types (not through inheritance but perhaps through a shared bool function) - we often have special cases that apply to reference types and to mappings.

The `canLiveOutsideStorage` could be replaced by a function that tells whether the type has a name or not, because we have many weird types (TypeType, MagicType, ``super``, ...) which should not

[2018-08-13 15:10] rofiqgilang commented on #4743
Running the compiler tests
Solidity includes different types of tests. They are included in the application called `soltest.` Some of them require the `cpp-ethereum` client in testing mode, some others require `libz3` to be installed.

`soltest` reads test contracts that are annotated with expected results stored in `./test/libsolidity/syntaxTests`. In order for soltest to find these tests the roo

[2018-08-13 15:25] #3942 closed, assigned to ekpyron

[2018-08-13 15:27] #4641 closed, assigned to ekpyron

[2018-08-13 15:27] #4670 closed, assigned to ekpyron

[2018-08-13 15:30] ekpyron commented on #4768
~~I unassigned this and moved it back to "Ready to be worked on", since I was held up by other issues and haven't started it yet. If someone wants to take it, feel free, otherwise I'll get back to it later.~~

[2018-08-13 15:37] ekpyron commented on #4688
I wonder if and how changes here would affect the ``soljson.js``/emscripten interface and whether that needs to be considered here.

[2018-08-13 19:11] ekpyron opened #4809 "Add section about casts between uintXX and bytesYY to FAQ."
I think we should add an entry to the FAQ regarding the 0.5.0 change in disallowing casts between uintXX and bytesYY types (we should probably extend the documentation at the end of types.rst and link to it from the FAQ). The question has come up a lot already and is likely to affect a lot of users.

Below some random notes:

It's probably best not just to talk about padding, but to give explicit

[2018-08-13 19:12] ekpyron commented on #4809
The documentation should also explain the literals to bytes conversions of #4091.

[2018-08-13 19:47] juztin opened #4810 "Contract to contract function call with 0.4.23"
## Description

With `solc` 0.4.23, contract to contract function calls appear to fail when the the address reference, used to link the contracts, is set/updated after deployment.

_(Link to [ethereum.stackexchange](https://ethereum.stackexchange.com/questions/56369/cant-get-contract-to-contract-function-calls-working/56454#56454) describing the issue_)

## Environment

- Compiler version: 0.4.23

[2018-08-13 20:44] chriseth commented on #4810
Are you sure the result you get is `0` or might it be that the transaction fails? I'm asking because the function you are calling is a `view` function, which uses the `staticcall` opcode with recent compiler versions (when set to `byzantium' vm mode, which is the default). What is the VM mode of the geth node you are testing against?

[2018-08-13 20:44] chriseth opened #4811 "Change issue template to ask for VM version setting"

[2018-08-13 20:51] juztin commented on #4810
@chriseth sorry, yes, the call does fail, it's just displaying the default value of the return type _(in Mist)_.

We've tried this on both a private node, which is using the default, as well as running geth in `--dev` mode. Same results in both instances.

[2018-08-14 01:47] netkiller opened #4812 "I can't transfer token in the another contract."
## Prerequisites

why I cannot transfer token in another contract.

## Description

This is my contract.

[code]

the function suppy() is OK.
but  sendCoin(uint coints)  isn't OK.

and remix show error :

Gas estimation failed
Gas estimation errored with the following message (see below). The transaction execution will likely fail. Do you want to force sending?
Invalid JSON RPC response: ""

[2018-08-14 06:59] aj07 commented on #2177
Can we close this, Since Pharse ABI has already been defined

[2018-08-14 07:08] chriseth commented on #4810
@juztin then the solution might be to set geth to the correct evm version / hard fork for the testnet you are running, or use a public testnet.

[2018-08-14 07:09] chriseth commented on #4812
Sorry, but this does not look like a problem with the Solidity compiler. Could you please report this either with remix or the backend client you are using? Thanks!

[2018-08-14 07:09] #4812 closed, assigned to nobody

[2018-08-14 07:10] chriseth commented on #2177
I would still like to have a link to the abi spec.

[2018-08-14 09:06] ekpyron commented on #4552
https://github.com/ethereum/solidity/blob/3dd31b704af6c50bc56217fd07266f7872daaa44/libsolidity/analysis/TypeChecker.cpp#L1633
https://github.com/ethereum/solidity/blob/3dd31b704af6c50bc56217fd07266f7872daaa44/libsolidity/analysis/TypeChecker.cpp#L1634

To try and push this forward a bit: above is the comment explaining the corresponding behaviour for type conversions and data locations. We don't h

[2018-08-14 09:08] davidbanu commented on #4066
Almost finished it...

[2018-08-14 09:35] chriseth commented on #4552
That is a very good point, although data location is currently tied to the variable declaration and not to the type (even if we handle that differently internally).

[2018-08-14 09:36] #4535 closed, assigned to chriseth

[2018-08-14 09:42] chriseth commented on #4688
StandardCompiler has a member `m_readFile`, which is a js callback in the js version (has to be synchronous, that's why it cannot actually read from the filesystem in nodejs) and a C++ lambda function in the `solc` version.

[2018-08-14 09:43] chriseth commented on #4688
Ok, actually the function that is passed to `CompilerStack` is the one that is used in the end, but the member of StandardCompiler is a copy of it.

[2018-08-14 09:44] chriseth commented on #4688
So from my source-code only analysis, the same mechanism is in place regardless of whether standard-json is used or not via `solc`, but for standard-json it does not seem to work.

[2018-08-14 09:49] ekpyron opened #4814 "gas price in the transaction data of the semantics tests seems to be ignored"
Came up in #4799.

In the semantics tests ``eth_gasPrice`` seems to return a fixed value, that is independent of ``m_gasPrice`` (``tx.gasprice`` will be equal to that fixed value not to ``m_gasPrice``).

It seems the gas price in the transaction data is ignored.

This may be a limitation of aleth in test mode.

[2018-08-14 09:55] ekpyron commented on #4814
Depending on the fix here, it may make sense to adjust the ``gasprice`` semantics test and to check against multiple values of ``m_gasPrice``.

[2018-08-14 10:13] chriseth commented on #4814
CC @chfast @gumb0 - this might be an issue in aleth.

[2018-08-14 10:14] #4750 closed, assigned to ekpyron

[2018-08-14 10:15] chriseth commented on #4635
Moved to 0.5.1

[2018-08-14 11:00] #4766 closed, assigned to leonardoalt

[2018-08-14 11:32] ekpyron commented on #4552
In the future, we might even consider ``address view``, that only allows ``staticcall`` - not that it would immediately make sense now (without some kind of C++-style ``const``-ness construct for contracts) and we shouldn't discuss it here and now, but having the option might be a pro towards using mutability for ``address``.

[2018-08-14 13:26] YoonjaeYoo commented on #4394
@chriseth `abi.encodePacked()` works as you mentioned but `abi.encode()` doesn't work.

[2018-08-14 14:30] #4733 closed, assigned to christianparpart

[2018-08-14 14:32] #4683 closed, assigned to chriseth

[2018-08-14 14:33] #3944 closed, assigned to chriseth

[2018-08-14 14:43] sunbeomso commented on #4721
@chriseth Thanks for the response!

[2018-08-14 14:54] chriseth commented on #4721
So, can this be closed?

[2018-08-14 15:11] #4624 closed, assigned to nobody

[2018-08-14 15:13] sunbeomso commented on #4721
@chriseth Can I have just one more question? From Solidity compiler, is there a way to get "conservative" information about which function definitions would be referenced?
(e.g., mayreferencedDeclaration: [a,b] --- if both "a" and "b" can referenced at runtime)
I have been working on Solidity verification and I am not sure if I have to implement my own analysis to get that information.

[2018-08-14 15:29] #4349 closed, assigned to nobody

[2018-08-14 15:31] chriseth commented on #4721
@SunBeomSo this only works for overloading but not overriding. The reason is that the ast-json for contract C is exported assuming that C is the contract that is being deployed. If you use C as a base contract in D, then the functions referenced from C will change and that information might not yet be available when C is compiled.

If you know a solution to this, I would gladly add it to the compi

[2018-08-14 15:33] juztin commented on #4810
Thanks @chriseth, although I can't seem to find anything around Geth and setting an EVM version.
To keep development going, we've simply changed `solc` to a version other than 0.4.23 _(it just gave us the fuzzies using `stable`)_.

As for Geth, we've run this in multiple different configurations while troubleshooting. We've tried numerous private node configurations, which were very simple, along

[2018-08-14 15:34] #4673 closed, assigned to christianparpart

[2018-08-14 15:34] #4717 closed, assigned to nobody

[2018-08-14 15:50] sunbeomso commented on #4721
@chriseth Sorry but can you give example code? I did not understand what the problematic situation is.

[2018-08-14 16:06] YoonjaeYoo commented on #4394
@chriseth I was wrong. For others, http://solidity.readthedocs.io/en/v0.4.24/abi-spec.html#examples.

[2018-08-14 16:39] chriseth commented on #4810
Are you able to retrieve a VM trace of the failing transaction?

This might be of help, too: https://github.com/ethereum/go-ethereum/issues/16931

Does it also happen in remix (while not being connected to some other node)?

Could you provide full steps to reproduce this issue, at best in remix?

[2018-08-14 16:47] chriseth commented on #4394
So can this be closed?

[2018-08-14 16:51] chriseth commented on #4721
In your example code, inside `A`, when you call `set()`, it will always point to the function `set` inside `A`. But if you inherit from `A` and override the function, the call from `A` will actually call the other function.

[code]

If you call `(new B()).f()`, then `A::f` will call `B::set`.

[2018-08-14 19:38] #4382 closed, assigned to nobody

[2018-08-14 19:38] #1815 closed, assigned to nobody

[2018-08-14 19:53] #4809 closed, assigned to ekpyron

[2018-08-14 21:06] tzapu commented on #544
I hope I got this right (please anyone correct if it's wrong), @mancze, here is my understanding of it:
For simple types, indexed arguments will be in the topics array as is (address, uint, ...) but for complex types (string, ...), the topic will be a hash of the value.
This pretty much means that the simple ones you can retrieve straight from the topic but the others are unretrievable.

@ChrisChi

[2018-08-15 01:04] sunbeomso commented on #4721
@chriseth   Thanks. That's an interesting case. You can close this issue, and I will refer this issue when I get to know a solution.

[2018-08-15 05:57] YoonjaeYoo commented on #4394
Documentation needs to be done.

[2018-08-15 08:19] #4721 closed, assigned to nobody

[2018-08-15 08:29] chriseth commented on #2511
@axic what is this issue about, i.e. when can it be closed? Doesn't the project cover this?

[2018-08-15 08:47] ChrisChinchilla commented on #544
Thanks @tzapu once I have cleared 0.5.0 tasks, I will follow up with this.

[2018-08-15 08:49] #4718 closed, assigned to nobody

[2018-08-15 09:14] leonardoalt commented on #4687
Non-indexed is working, indexed is not (using address instead).

[2018-08-15 10:13] chriseth commented on #3179
This has been fixed.

[2018-08-15 10:13] #3179 closed, assigned to nobody

[2018-08-15 10:16] chriseth commented on #434
Since `staticall` is close to useless without access to the return value, and since we now have `abi.decode` and the change in semantics of `call`, we might also take this in for 0.5.0.

[2018-08-15 10:30] #4506 closed, assigned to leonardoalt

[2018-08-15 10:31] #3876 closed, assigned to nobody

[2018-08-15 10:48] chriseth commented on #3180
We now do not allow any warnings in documentation examples anymore.

[2018-08-15 10:48] #3180 closed, assigned to nobody

[2018-08-15 10:53] chriseth commented on #4739
The last two are still open. I think a solution is just to break long lines - it should also properly compile to pdf.

[2018-08-15 12:17] chriseth opened #4821 "Support packed encoding in ABIEncoderV2"
This is also required for indexed event parameters.

[2018-08-15 12:35] ekpyron commented on #434
I vote for including it in 0.5.0.

[2018-08-15 13:04] gumb0 commented on #4814
If it's about `eth_gasPrice` RPC - I think it returns the value used by client by default (if not given explicitly in `eth_sendTransaction` input)
What do you expect it to return?

[2018-08-15 13:16] chriseth commented on #4552
Clarification: implicit conversion from payable contract to non-payable address is possible.

[2018-08-15 13:35] chriseth opened #4823 "Should `call` (and family) check for extcodesize?"
Currently, `call` does not fail if the target contract does not exist. The idea is that it is a low-level thing.

People might still not think about that.

On the other hand, this makes it impossible to use `call` for sending ether to external accounts.

On the third hand, you should use `transfer` for that anyway.

[2018-08-15 13:46] ekpyron commented on #4814
We *do* set the ``gasPrice`` field in the transaction data for ``eth_sendTransaction``, but that doesn't seem to have any effect - both ``tx.gasprice`` in solidity code (i.e. in the end the EVM instruction), and ``eth_gasPrice`` will still return a fixed value (probably the default) and not the value we set during ``eth_sendTransaction``.

Haven't spent too much time looking into it any further, t

[2018-08-15 15:03] mattaereal commented on #4717
Good work guys

[2018-08-15 15:08] chriseth opened #4824 "Remove FunctionType::Kind::CallCode"
This function kind seems to be unused, it can be removed from the `enum` inside `FunctionType` (Types.h) and each of its occurrences can be deleted.

[2018-08-15 15:55] AdrianClv commented on #3564
@chriseth It's ok. I can transfer the ownership of the repo to someone else if he is willing to work on it.

[2018-08-15 16:02] chriseth commented on #4823
Also note that `extcodesize` is 700 gas.

[2018-08-15 18:08] eternauta1337 commented on #4823
1) If the callee was a contract, it would have to expose some part of its ABI as payable for it to be able to receive ether. That is, contracts need to explicitly declare that they can receive ether.
Now, would you impose the same requirement on a regular account? What purposes does an account have other than representing an identity and receiving funds? So I don't see a reason for them to have to

[2018-08-15 18:26] spalladino commented on #4823
Is there a valid use case where you may want to send some `data` along with the ETH to an external account, to later retrieve that data from an app off-chain, and act based on it? (similar to the the `data` parameter present on the `transfer` methods of some token standards). If so, I'd not add the `extcodesize` check.

That said, an example of such use case doesn't come to mind now.

[2018-08-15 18:52] frangio commented on #4823
My gut feeling is that `call` should stay a low-level function, without additional checks. If this isn't desired I'd consider removing it in favor of just inline assembly.

[2018-08-15 19:19] alcuadrado commented on #4823
I agree with @frangio, but that I don't think it should be removed. Dealing with with inline assembly in program analysis tools is much harder, so IMO the least it's used the better.

@spalladino I've seen extra `data` sent to a contract's default function for tracking purpose in ICOs. I wouldn't be surprised if this technique is also used for external accounts.

[2018-08-15 20:19] gftea opened #4827 "uinitialized local storage variable points to same storage of state variable by default"
Below code is tested in Remix IDE.
Is it expected behavior or not?
[code]
This implicitly points to same address is dangerous because when storage type variable passed to a library function with arguments of memory type, compiler will not fail. The library function may modify the state-variable actually but thinking it is actually modify a memory variable.
[code]

[2018-08-15 20:21] chriseth commented on #4823
@ajsantander note that this is not about sending ether, but just about sending data. The problem is that if you send data to an account that does not have code, it will be successful, even though you would expect some code to execute.

I agree with keeping things simple, but we check for extcodesize with regular function calls and thus people might expect the same thing to happen for low-level cal

[2018-08-15 20:27] chriseth commented on #4827
Please take warnings seriously. Also, those will turn into errors with 0.5.0.

[2018-08-15 20:27] #4827 closed, assigned to nobody

[2018-08-15 20:29] chriseth opened #4828 "Use of uninitialized storage return variables is not properly detected"
[code]

[2018-08-15 20:29] chriseth commented on #4828
Not sure - we might already have an issue about this, still wanted to bring it up.

[2018-08-15 20:31] #4687 closed, assigned to leonardoalt

[2018-08-15 20:53] ekpyron commented on #4828
That's a duplicate of #4669, which we decided to move to 0.5.1 before.

[2018-08-15 20:56] ekpyron commented on #4828
I'm still not closing this as duplicate yet, since I guess the idea behind this issue was to discuss it for 0.5.0 again - so I'll leave #4669 in 0.5.1, we can discuss this issue here again for 0.5.0 and then close one as duplicate of the other.

[2018-08-15 22:13] #4768 closed, assigned to ekpyron

[2018-08-15 22:13] juztin commented on #4810
Hey @chriseth, sorry for taking this long to get back to ya.

Dang! I've spent far too long on this. This totally fixed all the issues we've been having. Sorry for posting this issue here, it just seemed like it made the most sense at the time. I wish Geth had this documented better, or just made it the a default value that your could turn off, instead of on...

Thanks a ton =)

[2018-08-15 22:13] #4810 closed, assigned to nobody

[2018-08-15 23:18] chriseth commented on #4828
Sorry, no, I did not mean to reopen this for 0.5.0.

[2018-08-15 23:18] #4828 closed, assigned to ekpyron

[2018-08-15 23:22] chriseth commented on #4810
We are always very worried about any misbehaviour of the compiler, especially in the code generation part, which this seems to be about. It is especially disturbing that it does not work in one specific version, and the fact that it has been fixed in the meantime is not a big relief, because there might be vulnerable contracts out there. Still, since the call is failing and not returning invalid d

[2018-08-16 01:42] wbt opened #4830 "Add optional precompilation pass to optimize order of declarations"
## Summary
In the example contract below, reversing the order of declarations of `assetCount` and `assets` costs an extra 1136 gas to deploy (159329 vs 160401).   The expected behavior is that the order of declarations should not matter, or to the extent that it does, the Solidity compiler will automatically choose the order resulting in the lowest gas cost to deploy.

## Example contract
[code]

[2018-08-16 02:53] juztin commented on #4810
Just to put your mind at ease, I re-ran my original tests on a different machine, with a different Geth instance, and the results proved to be inconsistent. I'm guessing without the Byzantium setting, Geth was just acting sporadic and it wasn't anything specific to the compiler. _(just making some assumptions)_

Thanks again for helping =)

[2018-08-16 09:03] chriseth opened #4832 "Function overload clash during conversion to external types for arguments."
[code]

Found by @o0ragman0o

[2018-08-16 09:04] chriseth commented on #4832
The issue might be that the interface function (it has to be external) uses `calldata` while the public function uses `memory` - but I hope this would not be a problem, because otherwise interfaces are again useless.

[2018-08-16 09:45] chriseth commented on #4830
The order of state variables determines their slot in storage. For top-level storage variables, these slot numbers are constants and of course such small constants are used all over the place. Because of that, the optimizer can sometimes re-use the same constant of the slot number and other uses while in other cases it cannot. If you swap state variables further down it will probably have a smalle

[2018-08-16 09:53] decanus opened #4833 "Undefined address casting compiles"
## Description

Solidity allows casting an undefined address to a smart contract, this should probably not be allowed. The code can be found [here](https://github.com/HarbourProject/protocol/blob/204312da5b445f5574ec10a79ab7ac9ba06653dc/contracts/Organization.sol#L72-L85).

In this example ```proposal``` is undefined yet we can do this

[code]

From what I can see, it initializes an ProposalInterf

[2018-08-16 10:01] chriseth commented on #4833
This will fail to compile with 0.5.0 because we changed the default scoping rules from "JavaScript-like" to "C99-like".

In general, explicit type conversions do not have runtime-checks, so yes, you can cast every address to every contract type. It is mathematically impossible to check whether the bytecode of a contract implements a certain interface, and even getting close to checking almost all

[2018-08-16 10:03] decanus commented on #4833
I mean, the implicit thing is not an issue, more the fact that you can cast something which hasn't been defined as a variable.

There should be at least a ReferenceError like in JS, saying that ```proposal is undefined```.

[2018-08-16 12:43] chriseth commented on #4669
We might want to extend this to just about any variable. In contrast to other languages, we do have clearly defined defaults, but it would perhaps not hurt to be more explicit, especially for types where the default value is easy to assign and does not make much sense like `address` and `uint`. This might be less of an issue for e.g. memory arrays, though.

[2018-08-16 12:46] chriseth commented on #4810
Phew, thanks! :)

[2018-08-16 12:54] #4394 closed, assigned to nobody

[2018-08-16 13:13] chriseth commented on #4833
Most of this will be impossible starting from 0.5.0, the remaining part is tracked in https://github.com/ethereum/solidity/issues/4669

[2018-08-16 13:13] #4833 closed, assigned to nobody

[2018-08-16 13:20] chriseth commented on #1822
There is no non-strict mode anymore.

[2018-08-16 13:20] #1822 closed, assigned to nobody

[2018-08-16 13:20] chriseth commented on #1825
We do not have jumps anymore.

[2018-08-16 13:20] #1825 closed, assigned to nobody

[2018-08-16 13:22] chriseth commented on #1568
I think the best solution here is to use external tools that have more information about the context and values ranges.

[2018-08-16 13:22] #1568 closed, assigned to nobody

[2018-08-16 13:23] chriseth commented on #1817
Assembly does not have a concept of stack anymore.

[2018-08-16 13:23] #1817 closed, assigned to nobody

[2018-08-16 13:25] chriseth commented on #2173
We should not talk about structural gas estimation (it is not widely used and may be removed soon anyway), only about functional. Mention that `solc --gas` can be used, and how to get it from standard-json.

[2018-08-16 13:25] chriseth commented on #2173
Also mention that gas estimation excludes the cost of the transaction itself. Explain the various fields that are output when using `solc --gas`.

[2018-08-16 13:26] chriseth commented on #2269
The behaviour of those functions has changed in 0.5.0 and it is now properly documented.

[2018-08-16 13:26] #2269 closed, assigned to nobody

[2018-08-16 13:29] #2303 closed, assigned to nobody

[2018-08-16 13:31] chriseth commented on #2255
What is to be done here now that the dependency is closed?

[2018-08-16 13:40] chriseth commented on #4686
First two items closed by https://github.com/ethereum/solidity/pull/4820

Remaining item more likely to be solved with something like a json-path expression on the AST.

[2018-08-16 13:46] chriseth commented on #3968
I confirm that it has been solved by @asifmallik

[2018-08-16 13:56] #633 closed, assigned to leonardoalt

[2018-08-16 14:03] cag commented on #2255
I feel this issue is stale as it holds some outdated assumption, but the issue downstream may be addressed directly now. I've edited the link in the original post to point to the right location. Closing this now.

[2018-08-16 14:03] #2255 closed, assigned to nobody

[2018-08-16 14:06] wbt commented on #4830
So an optimal compiler would choose the state variable being referenced most often, and assign that the constant with the fewest nonzero bytes (namely, `0`)?

In an optimal compiler, would that pattern then continue, with the state variable being referenced n-th most often being assigned the constant with the n-th fewest nonzero bytes?

[2018-08-16 14:42] chriseth opened #4834 "Post-constantinople, we should use extcodehash instead of extcodesize"
Once constantinople is finalized, we should use extcodehash instead of extcodesize to check if the called account exists, because it is cheaper.

[2018-08-16 14:46] chriseth commented on #4830
The compiler cannot change the slot assignments of the variables, because it is part of the storage interface of a contract.

[2018-08-16 16:19] rofiqgilang commented on #4743
i want to join this bounty

[2018-08-16 17:20] VIETNAMcoin opened #4835 "ETH Foundation"
## Prerequisites

- First, many thanks for taking part in the community. We really appreciate that.
- We realize there is a lot of data requested here. We ask only that you do your best to provide as much information as possible so we can better help you.
- Support questions are better asked in one of the following locations:
	- [Solidity chat](https://gitter.im/ethereum/solidity)
	- [Stack Overfl

[2018-08-16 21:45] meowingtwurtle commented on #4835
I'm sorry? You have literally posted the issue template with no changes.

[2018-08-16 22:08] wbt commented on #4830
As the compiler also generates the application binary interface, it seems like it could alter the order of the variables, but now that I understand better I agree this is likely better done as an optional precompiler optimization step.

[2018-08-17 07:56] chriseth commented on #4835
It is getting more spammy around here lately...

[2018-08-17 07:56] #4835 closed

[2018-08-17 13:17] anurag-git commented on #3667
@chriseth @chfast , I see default has 16 occurrences in Types.cpp. Please confirm if we need to remove all of them.

[2018-08-17 17:43] vs77bb commented on #4743
Hi @mridulnagpal are you still working on this issue? @rofiqgilang, we've decided to go with @mridulnagpal for this one. Thank you for your interest.

[2018-08-17 21:23] mridulnagpal commented on #4743
@vs77bb Hi, I am new to crypto currency so am currently studying the code, will post a PR soon.

[2018-08-18 17:08] mridulnagpal commented on #4743
@chriseth How do I test any changes I have made, i.e setup the development repo on my local remote.

[2018-08-18 18:43] rocky commented on #796
In https://github.com/ethereum/solidity/issues/796#issuecomment-253578925 I think there is one more case not mentioned, exponentiation.

[2018-08-18 18:57] 0xferit opened #4838 "Wrong abi for mapping(address => uint[])"
## Description

Compiler generates wrong abi for `mapping(address => uint[])`.

Expected a getter like this: `foo(address) returns (uint[])`
Got a getter like this: `foo(address, uint) returns (uint)`

Actual abi:
[code]

## Environment

- Compiler version: 0.4.24
- Framework/IDE (e.g. Truffle or Remix): Truffle 4.1.13
- EVM execution environment / backend / blockchain client: Ganache 1.2.1
- Oper

[2018-08-18 20:18] #4838 closed, assigned to nobody

[2018-08-19 18:12] davidbanu commented on #4066
@gitcoinbot, still here...

[2018-08-19 18:21] aj07 commented on #4314
@chriseth @axic need comments from your side..

[2018-08-20 01:44] l3m0n opened #4839 "About sol-ast parameters of sol-json"
I want to get the number of lines of the file code corresponding to ast, But I can't find a way to get the number of lines of this file. What is the meaning of src in ast?

[2018-08-20 02:16] l3m0n commented on #4839
For example:

[code]

and file code is

[code]

So can I know that it is the third line through ast?

[2018-08-20 09:07] leonardoalt commented on #4839
Hi @l3m0n , the `src` field tells where the source code of that AST node is in the original source file. In your example, the `PragmaDirective` is in position 119 of the Solidity file (in the absolute number of characters), and its size is 24 (`pragma solidity ^0.4.21;`).

[2018-08-20 16:37] rofiqgilang commented on #4743
open work?

2018-08-19 0:08 GMT+07:00 Mridul Nagpal <notifications@github.com>:

[2018-08-21 07:57] leonardoalt commented on #4839
I'm closing this, please reopen if you have more questions.

[2018-08-21 07:57] #4839 closed, assigned to nobody

[2018-08-21 12:44] aj07 commented on #4739
I think its better to divide abhove into 3 issues..

[2018-08-21 13:31] wuya666 opened #4840 "Strange results with require() in public view/pure-type functions"
## Description

I cannot seem to find any official documentation on the correct behavior of a require() statement in a public view/pure-type function, but I think the current behavior is definitely not right.

## Environment

- Compiler version: 0.4.24
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execution environment / backend / blockchain client: Geth
- Operating system: Windows/Linux

#

[2018-08-21 13:35] vs77bb commented on #3637
Hi @axic I was also slightly confused, sorry for the delay 😄

I just paid out @raphaelhuefner for his great work diagnosing and solving the Remix bounty. I'm not sure if @veox is interested in a Gitcoin bounty, but I am happy to pay him out for his work on #4180 as well. Thoughts on a bit of ETH for your work @veox? 🙂

[2018-08-21 13:38] leonardoalt commented on #4840
Hi @wuya666 ,
I just ran both cases on Remix, and the correct behavior happens which is to revert. Are your calls not reverting?

[2018-08-21 15:31] D3V4N5H commented on #4824
@chriseth Which file?

[2018-08-21 15:32] D3V4N5H commented on #4824
I'm new here. I'm willing to contribute to the project.

[2018-08-21 15:34] D3V4N5H commented on #4824
Can you share the link / path of the file?

[2018-08-21 15:59] veox commented on #3637
@vs77bb I don't think I've spent more than a couple hours on the whole thing (the PR took 20 minutes at first judging from timestamps, using prior work (available regardless of this issue); the rest was figuring out NatSpec peculiarities).

I think @raphaelhuefner has spent much more time with the Remix IDE part, as much as "original work" pertaining to this issue is concerned.

Perhaps this would

[2018-08-21 17:33] wuya666 commented on #4840
it will say revert if you use the in-memory JavaScript VM, but if you use the real Ethereum blockchain via MetaMask injected web3 or infura.io or your own private net with Geth, it will return values instead of reverting.

[2018-08-21 17:57] leonardoalt commented on #4840
Even using the JS VM in Remix it will try to show return values, and they are indeed strange, as you point out. The thing is, the generated bytecode won't return the function values if it reverts. Since the bytecode is the same regardless of where you're running it, the call should revert everywhere, and if it reverts the return values don't matter.

[2018-08-21 18:14] leonardoalt commented on #4840
Ok, interesting. I just ran with MetaMask and it doesn't revert (reverts if `pure` is not used).

[2018-08-21 20:29] mave89 commented on #4494
Is this issue still up for grabs?

[2018-08-22 01:20] RichardLitt commented on #4445
Should this CoC apply to the entire organization, or only to this repository? If the entire org, would it help if we copied it to the other popular repositories?

[2018-08-22 01:25] RichardLitt commented on #4445
As well; the CoC is mentioned mainly in relation to Pull Requests. Does the Code also apply for issues and other interactions around solidity (Gitter, Etc.)? If so, we should make this a bit more apparent. I'd be happy to PR a change for this.

[2018-08-22 03:08] wuya666 commented on #4840
yup, it will not revert if either view or pure is used. I guess since the public view or pure methods are called directly, there's no transaction and the state trie is not modified, so the VM just assumes there's nothing to revert anyway?

[2018-08-22 07:36] leonardoalt commented on #4840
That's what I'm guessing too. I'm now investigating what happens with the bytecode execution in that case (whether it just goes on from the revert point).

[2018-08-22 09:06] ghost opened #4842 "Solidity private network using another contract function unable"
I am using remix to code solidity with voting contract

I have made a voting system in one contract and in the other contract(which is at the other .sol file) there is a function that rewards the winners.

I have tested at the ropsten test network and it worked perfectly. However, in the private network i am having trouble with using external contract function (rewarding the winner function) at th

[2018-08-22 09:19] leonardoalt commented on #4842
Hi @jae123123 ,

Could you please provide more details? What exactly is not working? Are there any errors? What's the compiler version? Could you show a code sample that contains the problem?

[2018-08-22 10:20] gakonst commented on #4832
I also get this when having two `external` functions in the interface with `bytes`:
e.g
[code]

Overloading these with public functions causes the error you mentioned. Changing the `bytes` function interface to public works, but then I get the warning that interface functions must be `external`.

[2018-08-22 11:04] ChrisChinchilla commented on #2178
This will be closed by https://github.com/ethereum/solidity/pull/4499 when it is merged.

[2018-08-22 11:08] ChrisChinchilla commented on #3784
I am making good progress through 1 and 2, then I'll get stuck into the rest.

[2018-08-22 11:24] leonardoalt commented on #4840
I still think that a client's VM implementation should stop the execution when it encounters a `revert` though.

[2018-08-22 11:30] wuya666 commented on #4840
exactly, or at least the client side (remix, web3) should be able to catch a "revert" message or something, at the very least not getting a 3963877391197344453575983046348115674221700746820753546331534351508065746944 result when doing 3 minus 5

[2018-08-22 12:22] ghost opened #4845 "security/no-assign-params: "delegate": Avoid assigning to function parameters."
## Prerequisites

- First, many thanks for taking part in the community. We really appreciate that.
- Read the [contributing guidelines](http://solidity.readthedocs.io/en/latest/contributing.html).
- Support questions are better asked in one of the following locations:
	- [Solidity chat](https://gitter.im/ethereum/solidity)
	- [Stack Overflow](https://ethereum.stackexchange.com/)
- Ensure the issu

[2018-08-22 12:35] ChrisChinchilla commented on #4739
Thanks everyone I'll take a look soon and see what I can do :)

[2018-08-22 14:07] chfast commented on #3667
I think yes.

[2018-08-22 15:02] adamdossa opened #4847 "Automatic getters not recognised in interface implementations"
## Description

In code like the below, `address public balance` has an automatic getter function (as can be seen in the corresponding ABI).

However we need to redefine it to avoid the compiler complaining that `Test` does not fully implement `ITest`.

Any idea if this is a bug or a feature (and if so why)?

[code]

[2018-08-22 15:54] adamdossa commented on #4847
This has another odd side-effect in code like the below, where it isn't possible to specify in an interface that there is a function `decimals` as your damned if you include it, and damned if you don't ;-).

[code]

[2018-08-22 18:17] leonardoalt commented on #4845
Closing. Please reopen with issue details if it applies.

[2018-08-22 18:17] #4845 closed, assigned to nobody

[2018-08-22 18:24] leonardoalt commented on #4840
Since you were using Geth, could you open an issue on Geth's repo to see what they say?

[2018-08-22 18:43] leonardoalt commented on #4847
That's a good point. Actually, with the latest version you'll get an `already declared` error also for the first example.
Before I go ahead and call it a bug, we'll have to discuss what the expected behavior is; that is, whether the `public` state variable should implicitly implement the interface function or if those things should be separated on the language level.
I personally tend to the opini

[2018-08-22 19:02] leonardoalt commented on #4840
Just noticed that there was a discussion about this here: #3237

[2018-08-22 23:04] fulldecent commented on #3420
I no longer think this is the correct solution to the interface problem. But I'll keep this issue open until the language redesign is complete as a reminder of the current inconsistencies.

[2018-08-23 01:34] lastmjs commented on #4502
I've replaced all occurrences of `IntegerType(160, IntegerType::Modifier::Address)` with `ElementaryTypes::Address`, `ArrayType(DataLocation::Memory)` with `ElementaryTypes::BytesMemory`, and `ArrayType(DataLocation::Memory, true)` with `ElementaryTypes::StringMemory`. Compilation completes successfully. Any other types that should be replaced?

[2018-08-23 03:12] lastmjs commented on #4502
Also, is there anything in the README / documentation that I need to add? Or anything in the changelog?

[2018-08-23 07:18] ptagrawal commented on #4832
I am new to solidity, and here is my sample code.
Everytime compilation fails with the error: "TypeError: Function overload clash during conversion to external types for arguments."
on line 'function setMessage(string newMsg) external;'

`
    pragma solidity ^0.4.0;
    import "github.com/Arachnid/solidity-stringutils/strings.sol";

    interface iInterface {
          function setMessage(string

[2018-08-23 07:36] akshaykannan commented on #4845
![screenshot from 2018-08-23 12-59-34](https://user-images.githubusercontent.com/8675268/44511326-c0a33880-a6d4-11e8-870f-d19f05247432.png)
Make it clear for....
I need to import any package...to support

[2018-08-23 07:51] ghost opened #4852 "security/no-assign-params: "delegate": Avoid assigning to function parameters."
![screenshot from 2018-08-23 12-59-34](https://user-images.githubusercontent.com/8675268/44512134-390af900-a6d7-11e8-938c-c88c581c1f96.png)

[2018-08-23 08:04] anurag-git commented on #4502
@lastmjs , I have seen many places code like `make_shared<IntegerType>(160, IntegerType::Modifier::Address)`.

Please check with @chriseth , if we would like to change such occurrences.

[2018-08-23 08:16] o0ragman0o commented on #4832
It appears to be an issue with unbound parameter types (string, bytes, [],
etc).  Interfaces have never been useful in my experience and you are
better to use contract abstracts instead for API declaration.

On 23 August 2018 at 17:18, Paritosh Agrawal <notifications@github.com>
wrote:

[2018-08-23 08:23] anurag-git commented on #4834
@chriseth , is it as simple as replacing `extcodesize` with `extcodehash`. Please help to produce some details so that I can work on it

[2018-08-23 08:32] leonardoalt commented on #4852
Hi @akshaykannan ,
This doesn't seem to be an issue with the Solidity compiler.
Also, please make sure you've read the Issue template. Your screenshot only shows a message about a line of code, but it doesn't give the complete code, compiler version, how to reproduce the problem, and other important information such that we can help.

[2018-08-23 08:32] #4852 closed, assigned to nobody

[2018-08-23 09:09] Latrasis opened #4853 "Option to Opt-out of Metadata Injection"
## Abstract
Provide an opt-out input configuration option or a command-line option to omit metadata for a contract.

## Motivation
Some users want to include their own type of metadata or wish to omit any solc metadata due to security concerns.

## Specification
Provide a default setting in `settings.metadata.include` that is `true` by default, and if `false` does not include any metadata.

Update

[2018-08-23 13:12] kyriediculous opened #4854 "[ASSEMBLY] Read struct from storage. Combine it with memory."
Hi,

I've tried asking on stackexchange, gitter and openzeppelin slack but to no avail yet.

I'm using a low level delegatecall to forward my calls to a library but I'm not familiar enough with inline assemblyl to make it work.

The full code can be found in this fiddle: https://ethfiddle.com/sd1ATrDtjy
Additionally the migrations can be found here: https://gist.github.com/kyriediculous/d2286a8a58

[2018-08-23 14:37] wuya666 commented on #4840
it seems that issue #3237 is actually the opposite case of this. That issue is about NOT reverting the state in a pure function during an internal call, which will make all those internal pure SafeMath kind of libraries stop working.

The issue here that a direct external call to a view/pure function should be able to do revert and notice the calling party instead of returning values normally. Esp

[2018-08-23 14:49] adamdossa commented on #4847
Yep - I think since automatic getters are part of the language specification (and reflected in ABIs) they should be considered a match for the interface (which is effectively an ABI as it maps 1-1 with ABIs).

There are other oddities like my second comment above where it seems like if you're inheriting from a contract, the inheritance is done at the ABI level (so you can't redefine an existing fu

[2018-08-23 15:19] leonardoalt commented on #4840
Yes, I meant a discussion on that being allowed or not, which you mentioned in the first post.

[2018-08-23 16:53] frankchen07 commented on #4716
hey @mridulnagpal - checking in. How's this issue coming along? Do you have a PR link up?

[2018-08-23 17:07] behradkhodayar opened #4855 "Link to local version of remix IDE on readTheDocs deprecated."
Link to local version of remix IDE under [this section at readTheDocs](https://solidity.readthedocs.io/en/v0.4.24/installing-solidity.html#remix) is linking to the legacy version of repository.

[2018-08-23 23:37] vs77bb commented on #4824
@anurag-git Great start on this one! Mind claiming work [on Gitcoin here?](https://gitcoin.co/issue/ethereum/solidity/4824/1019)

[2018-08-24 05:19] anurag-git commented on #4824
@vs77bb , Thanks for the bounty. I have applied through gitcoin as suggested. I will be there for any further comments on this issue and will take it closure.

[2018-08-24 07:03] leonardoalt commented on #4855
Thanks for the hint!

[2018-08-24 07:42] Eggsyz opened #4857 "solidity address.balance bug"
Hi
I deployed a smart contract on the Ropsten test network, but I can't request it when I query the local account balance, but I can query other account balances.

contract：
[code]
result
115792089237316195423570985008687907853269984665640564039457434007913129639935

[2018-08-24 07:44] Eggsyz commented on #4857
[code]

[2018-08-24 08:57] kyriediculous commented on #4840
You should be using assert instead if you are returning a uint (negative outcome would be type error and should be thus checked with assert and not revert/require).

This is mentioned in the docs.

[2018-08-24 09:21] leonardoalt commented on #4840
I disagree with that. The code is filtering inputs for a safe operations, therefore it should use `require`, as the documentation states that is the case for filtering inputs.
In any case, the only difference this would trigger would be the opcode change from `REVERT` to `INVALID`, and the clients/VMs should act accordingly in both cases.

[2018-08-24 09:34] kyriediculous commented on #4840
Trying to output a negative integer resulting from a numerical operation as a unsigned integer is an invalid operation. Not a require-style exception.

Require should be used only to check the condition of inputs, not the validity of the operation with those inputs. Eg. deadline > now or _tokenAmount > 0
You are misinterpreting the documentation here in my opinion, just look at the safemath librar

[2018-08-24 09:49] leonardoalt commented on #4840
Well, exactly, as the doc says, `require` should be used to ensure valid conditions, which in this case is the requirement for an operation that doesn't underflow. It's not an invalid operation by definition.
Assertions should only be used to detect bugs. If the condition is true in that code, it doesn't mean that there is a bug, since the function is public and can be called with any values. In t

[2018-08-24 10:12] kyriediculous commented on #4840
You're misinterpreting the documentation in my opinion. Checking conditions is context based. Trying to turn a uint into an int is overflow, it returns 0 to prevent the overflow Should be an assert as it should not happen.

Furthermore the safemath library has always used assert.
Here is the correct version that should be used, I feel like:
https://github.com/OpenZeppelin/openzeppelin-solidity/blo

[2018-08-24 10:17] kyriediculous commented on #4857
Both work for me.
This will return the ethereum balance, not the MetaCoin token balance. Keep that in mind.

[2018-08-24 10:23] leonardoalt commented on #4840
Trying to turn an `uint` into `int` does not necessarily cause an overflow, and it doesn't return 0. That's why it doesn't have to be an assert.

[2018-08-24 10:30] leonardoalt commented on #4840
I'm sorry but this discussion has moved away from the original problem discussed in this issue.

@kyriediculous please feel free to open another issue regarding any Solidity related discussion.

@wuya666 please upstream the issue to Geth, as it seems to be a problem with the client ignoring `REVERT`.

[2018-08-24 10:38] kyriediculous commented on #4840
I don't feel like this has moved away from the original problem, the essence of the problem is that require is wrongly used when it should be assert.

same like you would assert
`result = a - b`
`assert( result < a )` because it overflows.

And no i was wrong indeed, it doesn't return 0 to prevent it. It returns an overflow. See below.

When doing literals in contract:
[code]

When doing parameter

[2018-08-24 10:45] leonardoalt commented on #4840
Exactly!
The default behavior is to overflow. If in your context, you don't want overflows to be valid, you have to constrain it, and that's what require does here.
You should use asserts only for conditions that are true **in all cases** that can reach that point.
It's easy to see that in the following code, the condition `_a >= b` is **not** true for all cases, since the function is public and y

[2018-08-24 10:50] leonardoalt commented on #4840
So, I just tested the original problem with assert instead of revert, and as expected the result is exactly the same: the client ignores the `INVALID` since it's a `public pure` function and returns 0.

[2018-08-24 11:30] kyriediculous commented on #4840
I just tested it too and both require and assert work as expected.

[code]

VM Exception while processing transaction: invalid opcode
VM Exception while processing transaction: revert
VM Exception while processing transaction: invalid opcode

[2018-08-24 11:48] leonardoalt commented on #4840
As @wuya666 already pointed out, if you use Remix's Javascript VM it works fine, yes, but with MetaMask or directly with clients it doesn't.

[2018-08-24 12:06] rmeissner opened #4858 "Enable reordering of methods ids in generated evm code."
## Abstract

Each method has an ID. When a call to a smart contract is made the first step is to find the correct method based on that ID. Currently solidity generates code that checks all method ids that are available in alphabetical order. To allow the development of gas optimised contracts it would be useful if this order could be adjusted.

## Motivation

To optimise gas we were discussing in

[2018-08-24 12:16] kyriediculous commented on #4840
This is not javascript VM.

[2018-08-24 12:18] rmeissner commented on #4858
Test contract:
[code]

generates the following method jumps:

[code]

if `bar(uint256,uint256)` should be our primarily used method it would be more efficient to have the following code:

[code]

[2018-08-24 12:22] leonardoalt commented on #4840
Could you share the setup?
The precise issue is when you call a pure/view function without an actual transaction.

[2018-08-24 12:30] axic commented on #4858
I think this is an optimiser level problem (well, code generator to be precise, but from the users' perspective it is optimiser).

Therefore I would suggest not to pollute the language syntax with such, rather offer a configuration field in the compilation process (similar to how settings are provided for the optimiser):
[code]

Where any function name listed here would take precedence in order th

[2018-08-24 12:46] kyriediculous commented on #4840
https://github.com/kyriediculous/solidity-playground

`truffle test`

tried on ganache and truffle testRPC.

[2018-08-24 12:48] rmeissner commented on #4858
We are currently not using the optimiser, but I do agree that it might be better to put it there.

Also the binary search will affect all calls made. But for most contracts not all methods are called with the same frequency. If you as a developer know what methods are called the most you should be able to optimise for it. I think #4034 doesn't solve this ;)

[2018-08-24 12:54] leonardoalt commented on #4854
I haven't fully checked yet, but I'd suggest that you use `pragma experimental ABIEncoderV2`. Then you can use `abi.encode(bounty)` which is probably easier than doing the whole thing in assembly. You could also use `abi.encodeWithSignature(...)` in case it fits your case.

[2018-08-24 13:00] wuya666 commented on #4840
@kyriediculous I think you are confusing about different scenarios. According to the official docs here
https://solidity.readthedocs.io/en/v0.4.24/control-structures.html#error-handling-assert-require-revert-and-exceptions

The example SafeMath library you referenced using asserts because it is an **internal** library, that means the calling party should be some other smart contract code which has

[2018-08-24 13:03] kyriediculous commented on #4854
Ah yes, great remark. I haven't though about that.

Altough I still think writing it in assembly would be  more gas efficient and robusty, which is the whole goal of this endeavour (deployment costs are cut in half, I just need to get the forwarder to work).

[2018-08-24 13:09] kyriediculous commented on #4840
See my example.
Only sub1 vs sub2 is up for discussion, sub3 should always be assert.
in my opinion sub1 of my example is the correct way of doing this since it's an overflow error, not a contextual condition check.
https://media.consensys.net/when-to-use-revert-assert-and-require-in-solidity-61fb2c0e5a57
**I'll say again that having users call pure functions  directly makes little sense to me, th

[2018-08-24 13:21] leonardoalt commented on #4840
I would like to move away from this discussion in this issue, so that we can focus on the actual problem.
Regardless if assert or revert is used, there is a bug somewhere. I'm trying to nail down which client or framework might be problematic here.
@wuya666 I've called the functions via Etherscan on the address you sent, and there it actually shows that it reverts. I've tested it with Metamask inj

[2018-08-24 13:40] kyriediculous commented on #4840
Like i said, this feels like a Remix issue. Not a web3, solidity, ... issue.
Because I didn't use remix and it worked perfectly.

I tried using Remix with the main net contracts and it didn't work.

I redeployed the contracts on rinkeby with an assert with remix and it didn't work.

Conclusion; issue with remix.

I haven't tested the main net contracts with just a web3 JS script yet. I could do th

[2018-08-24 13:41] wuya666 commented on #4840
@kyriediculous the pure function is just an example, it can be a public view function. I just want to save gas deploying an example contract, as it costs me real money to deploy on mainnet you know. So yes issues like this can happen in real Dapps (and has happened in a real production Dapp I have deployed before, which is much more complex and NOT about integer overflows), not just the so-called

[2018-08-24 13:48] kyriediculous commented on #4840
Using ethers.js

`call exception (address="0xd0b4e64c323186340ed2d8168ddae8f18677560e", method="sub1(uint256,uint256)", value=[3,5])`
[code]

[2018-08-24 13:50] wuya666 commented on #4840
@kyriediculous it's definitely a web3 issue, or at least an official web3.js issue, not sure about the other web3 implementations like web3j or web3.py. That's when I encountered this strange issue when coding my Dapp with web3.js

Or maybe it's an Geth issue, since I have not tested with Parity full node yet...

On whether it's a solidity issue, I just think the offical docs are somewhat lacking

[2018-08-24 13:55] leonardoalt commented on #4840
@wuya666 On Solidity's side the behavior is the same: require might lead to a revert, assert might lead to invalid, regardless the specifiers of the function.

I just ran with web3js and also got the weird value.

[2018-08-24 13:58] wuya666 commented on #4840
@kyriediculous Have you tested calling sub2(3, 5) with ethers.js and see how it handles the returned string?

calling sub1(3, 5) with web3.js also returns a "Error: Couldn't decode uint256 from ABI: 0x" error, but calling sub2(3, 5) and it returns 3963877391197344453575983046348115674221700746820753546331534351508065746944

[2018-08-24 14:05] wuya666 commented on #4840
@leonardoalt while they are not exactly the same, as for send transactions, require() only costs you a little gas (for the execution of the code up to the require failure), while assert() costs you all the gas you specified for the gas limit.

I guess that's related to why the official solidity doc specifies that for real production smart contract, assert() failure should never happen. The contrac

[2018-08-24 14:08] leonardoalt commented on #4840
Right, that makes sense.

Btw, I just ran with Ethers, and it does return an exception for sub1, and returns `3963877391197344453575983046348115674221700746820753546331534351508065746944` for sub2 ;)

Both Web3js and Ethers were connected to Infura.

[2018-08-24 14:53] kyriediculous commented on #4840
truffle-contract works as expected with ganache
Remix with ganache hangs on calls

ethers works as expected with Rinkeby
Remix with Rinkeby I get the 0's and weird value
https://rinkeby.etherscan.io/address/0x3192474569cfa13354ad80406b73f416f1a9f0b4#readContract

eth-fiddle testRPC works https://ethfiddle.com/_kr9TW7MWm

web3 I keep getting that I only have 1 input parameter and the function requi

[2018-08-24 15:17] ChrisChinchilla commented on #4429
@axic To be honest, I read the linked passage, and I recreated the OP's problem, i.e., running `solc` in a path above the solidity file produces the different output. But reading the text, I don't really understand what relates to the issue, or what I can do (should) about it. So I guess the docs need some work.

[2018-08-24 16:03] vs77bb commented on #4824
@anurag-git Approved! Sounds great.

[2018-08-24 17:25] kyriediculous commented on #4854
abi.encode doesn't work. "Item can not be encoded" probably because when referencing it that way it already is encoded.

[2018-08-24 18:07] wuya666 commented on #4840
After some testing, it seems it's not Remix's issue, but rather it's the fault of the injected Web3 from MetaMask.

Remix's own JavaScript VM correctly returns the "VM revert" error, while the 0.2x.x web3.js library injected by MetaMask will return 0 for sub1(2,3) and the long int for sub2(2,3) as I have tested with the Chrome JS console with MetaMask.

I also tested the above Rinkeby contract wit

[2018-08-24 19:04] vs77bb commented on #4066
@davidbanu Have you submitted a PR here? I snoozed Gitcoin Bot, but would love to know when you'll be able to complete. Hope you're doing well 🙂

[2018-08-24 19:12] vs77bb commented on #4674
Hi @meowingtwurtle are you still working here? I saw a lot of commentary on the PR last week, so I'll snooze Gitcoin Bot reminders. Please do let us know if you're not planning on taking this forward for any reason 🙂

[2018-08-24 19:56] randomnetcat commented on #4674
Sorry, I've just gone back to school and have been a bit busy. chriseth has also been unavailable, and he was the one giving me most of the feedback. I do still plan to complete this.

[2018-08-24 20:13] kyriediculous commented on #4840
@wuya666 Terribly sorry I connected to ropsten instead of rinkeby on my ethers test so no wonder they all reverted

I just ran it again.

All work instead sub4 returning that number;

However the number doesn't change when changing input OR reasoning string... That's interesting.

additionally I created another function using if statement which has the exact same behaviour when using a reasoning s

[2018-08-24 22:56] kyriediculous commented on #4840
Please check the reference and give Richard a thumbs up ! :)

[2018-08-25 05:10] lastmjs commented on #4502
I've got a PR up, need more direction @chriseth @vs77bb

[2018-08-25 06:43] o0ragman0o commented on #4226
I'm still experiencing this problem on my private test chain even though it's set up in genesis for Byzantium.

Logging shows:

    config="{ChainID: <nil> Homestead: 0 DAO: <nil> DAOSupport: false EIP150: <nil> EIP155: <nil> EIP158: <nil> Byzantium: 1 Constantinople: <nil> Engine: unknown}"

Using genesis config:

[code]

Test case (Deploy `B`. Call `B.getA()` Function always fails):

[code]

[2018-08-25 07:00] leonardoalt commented on #4840
@kyriediculous thanks for reaching out to Ethers!
@wuya666 web3 should be the same then, right?

[2018-08-25 18:21] mudgen opened #4861 "Delegate Call Solution For Contract That is Too Big"
Here is the problem to solve:

What is the best way to handle this so that one contract is the interface for all functionality?

Below is a solution I have to this problem. I want to know if there are any potential problems with this solution or if the problem can be solved a better way.

## Solution
Create two separate contracts. Implement some of the functions in the main contract and some of th

[2018-08-26 02:05] n2nco commented on #4861
"You want to have one contract that contains all the functionality for something."

"Solution: Create two separate contracts. Implement some of the functions in the main contract and some of the functions in the second contract."

Might argue this line of thinking ^ defies the single responsibility principle.

One standard approach:
Main Proxy contract as the interface + storage, then delegatecall

[2018-08-26 04:31] mudgen commented on #4861
@n2nco thanks for the ideas and links. They were helpful.

[2018-08-26 10:34] Eithcowich opened #4862 "How to use an array of strings in a mapping?"
I need to store a mapping between a string to items which are 128 bytes long in a `solidity` contract. The problem is that the longest bytes data type is `bytes32`, which is not long enough, and if I try to store my strings in a `string array` I get the following error:

    This type is only supported in the experimental ABI encoder. Use "pragma experimental abiencoderv2;" to enable this feature

[2018-08-26 19:17] spalladino commented on #4861
Maybe something like this helps? https://github.com/zeppelinos/labs/blob/master/upgradeability_with_vtable/README.md

I know it includes upgradeability, but it may help nonetheless.

[2018-08-27 00:20] Eggsyz commented on #4857
@kyriediculous
hi
Thank you very much for your reply.
The above case is just that when I am learning MetaCoin, I can modify the code test to get the Ethereum balance, but I get the Ether Balance to get the above value, and the Ether balance of other accounts is correct. And the same is true for my test results in the test chain. If you have time, you can test it in the test chain or your private c

[2018-08-27 07:56] kyriediculous commented on #4862
You can not use string types as keys in a mapping. Take the sha3 hash of the string.

[2018-08-27 10:03] christianparpart commented on #4688
Because everything is asynchronous in NodeJS, so maybe also the disk I/O functions. AFAIR.

[2018-08-27 10:04] leonardoalt commented on #4862
@Eithcowich The only parts that do not compile without the pragma experimental are actually the `string[3]` parameters. If you separate it into 3 different strings it actually compiles.

You can use string as key in mapping if the mapping is not public, which is the case here.

[2018-08-27 10:20] axic commented on #4847
This may be a duplicate of #3514.

[2018-08-27 10:25] christianparpart commented on #4713
@axic I just tested it right now with `develop`. and It's compiling fine now.

[2018-08-27 10:30] christianparpart commented on #4714
[code]
@axic compiles fine on latest `develop`.

edit: same here as in #4713; it got fixed implicitly via #4738.

[2018-08-27 11:06] Eithcowich commented on #4862
Thanks Leonardo, yes, there's no problem using a string as the key. The issue with the `string[3]` is that the requirement is actually `string[100]` so it makes no sense to have method signatures with 100 params.

Sadly the question remains, is there any way at all to have an array of strings in solidity, as the value of a mapping? Any alternative? I mean, the language / EVM cannot be that limited

[2018-08-27 12:00] leonardoalt commented on #4862
Oh ok.
Using `mapping (string => string[]) map` is not a problem. What fails to compile then is using `string[]` as a parameter or return. Maybe there's a out around that.

[2018-08-27 12:07] davidbanu commented on #4066
Thanks a lot! Really close to finishing it. I am testing my implementation right now...

[2018-08-27 12:24] christianparpart commented on #4713
@axic I've been bisecting this, and now it becomes clear. It got fixed in via #4738, i.e. we enforce a data location in function args now, so this bug cannot occur anymore. Should we close this issue then?

[2018-08-27 12:29] Eithcowich commented on #4862
From what I can tell you can't return a `string[]` in a function. So no luck there.

[2018-08-27 15:02] mudgen commented on #4861
@spalladino Thank you, that is helpful.

[2018-08-27 18:42] axic opened #4864 "C99 scoping bug with different stack height"
[code]

Results in
`InternalCompilerError: I sense a disturbance in the stack: 4 vs 3`

Found by @holiman

[2018-08-28 02:08] bakaoh commented on #4716
expectType function report error Error: Type int_const 1234...(70 digits omitted)...5678 is not implicitly convertible to expected type uint256. but till call numberType->literalValue(nullptr) make it crash.
May i change m_errorReporter.typeError to m_errorReporter.fatalTypeError in expectType to return error instead of assertion fail?

Or should i change `expectType` to return boolean and check i

[2018-08-28 03:38] fulldecent commented on #4802
Ok, I learned two interesting things today.

* The complexity of `array.length = x` is O(1) if `x > array.length` and it is O(n) if `x < array.length`.
* Calling `.length--` on an empty array will set the length to 2^256-1.

Yesterday I thought `.length = x` was always O(1). That is why I was surprised and thought .length-- was different than .length = .length-1. Now I realize I was wrong in a dif

[2018-08-28 03:45] fulldecent commented on #4802
Documentation fix added at be74b6d

[2018-08-28 06:40] kyriediculous commented on #4857
https://github.com/ethereum/solidity/issues/2325

[2018-08-28 07:52] kyriediculous commented on #4854
@chriseth , do you have an idea?

[2018-08-28 10:13] leonardoalt commented on #4864
This happens when single statement `if`s don't use `{...}`, in which case no `Block` is used. The same happens for loops.
Need to keep track of stack size for those AST nodes too.

[2018-08-28 19:57] mudgen opened #4868 "Is it Possible For an Externally Owned Account or Contract to Have a 0 Address?"
Is there any chance at all for an externally owned account or a contract to have the 0 address?  Or does the implementation of solidity/evm make it impossible?

[2018-08-28 20:14] axic commented on #4868
Solidity or the EVM does nothing to ensure this won't happen. The probability is extremely low.

For a more comprehensive answer, better to ask this on https://ethereum.stackexchange.com

[2018-08-28 20:14] #4868 closed, assigned to nobody

[2018-08-28 21:08] frangio opened #4869 "Private state variable + external getter with same name should be possible"
It's currently not possible to do this:

[code]

It fails with `DeclarationError: Identifier already declared` referring to the function `value()` and the variable `value`. This is a spurious error, though, because the function is `external` and thus it makes no sense for its name to be in scope. In fact, trying to refer to an `external` function internally raises an `Undeclared identifier` error.

[2018-08-29 00:48] o0ragman0o commented on #4226
I was able to resolve this by adding `eip150Block: 1` in the config in addition to `byzantiumBlock: 1` which I already had.

[code]

[2018-08-29 04:36] lazaridiscom commented on #4716
I would avoid this.

[2018-08-29 10:54] leonardoalt commented on #4803
@axic This is inheritance related, since the problem is that the events from the super contract are not propagating. Do we still want it for 0.5.0 or for the Inheritance project?

[2018-08-29 16:51] lastmjs commented on #4502
I'm working on this and have a pr up but haven't heard back from anyone

[2018-08-29 18:32] come-maiz opened #4871 "Parsing fails when import is split in multiple lines"
## Description

When I split an import in multiple lines, parsing fails with:

```Cannot read property '2' of null```

## Environment

- Compiler version: Solidity v0.4.23 (solc-js)
- Framework/IDE (e.g. Truffle or Remix): Truffle v4.1.8 (core: 4.1.8)
- EVM execution environment / backend / blockchain client: ganache
- Operating system: Ubuntu 18.04

## Steps to Reproduce

When we break the import

[2018-08-30 01:56] lazaridiscom commented on #4716
@bakaoh , it seems that you located the root-cause. Just a few comments to your further processing:

`expectType` is used at several places, so you should (for now) not change it (neither the signature, nor the logic).

you can place an additional `if ( !m_errorReporter.hasErrors() )` right after https://github.com/ethereum/solidity/blob/develop/libsolidity/analysis/TypeChecker.cpp#L2213 to avoid

[2018-08-30 02:29] bakaoh commented on #4716
@lazaridiscom -- thanks a lot, i was not aware of `m_errorReporter.hasErrors()` method

[2018-08-30 03:00] lazaridiscom commented on #4716
You're welcome.

Find below a slight refactoring of the code (move `resultType` and `isLValue` assignments up), which makes the fix a little bit more elegant (using `break`).

It your decision how to go on with this (using an additional `if` or using `break` or something else), just provide a PR thus the core-devs can review. Don't worry about the bounty-approval, there are sometimes processing de

[2018-08-30 04:38] lazaridiscom commented on #4743
@bakaoh , i noticed that you have not yet started the bounty on gitcoin.

[2018-08-30 09:52] anurag-git commented on #1303
@pirapira @axic , I would like to have look at it, please provide some pointers to start.

[2018-08-30 11:54] mdix commented on #2742
You can use `-rmp` on the cmd to remap the path to `node_modules`:

[code]

If you import other files (e. g. stuff you wrote via `import '../../blah'`)  in your code you can use `-ap` to allow other paths, like:
[code]

Ofc, you can also combine both.

[2018-08-30 16:10] koirikivi opened #4874 "Changing a value in one struct changes the value in another"
## Description

Declaring two `struct`s (without the memory keyword) and setting a value in another changes the value in the other one.

## Environment

- Compiler version: v0.4.24+commit.e67f0147
- Framework/IDE (e.g. Truffle or Remix): -
- EVM execution environment / backend / blockchain client: -
- Operating system: macOS / Linux / any

## Steps to Reproduce

Test contract:

[code]

Calling the

[2018-08-31 00:44] lazaridiscom commented on #4743
@dashu2410, what you suggest is already being processed by @bakaoh .

[2018-08-31 01:53] bakaoh commented on #4743
thanks @lazaridiscom , i forgot to apply the bounty

[2018-08-31 02:32] lazaridiscom commented on #4743
I've answered your question re test-cases there.

[2018-08-31 04:39] lastmjs commented on #4502
@vs77bb @chriseth I'm nearly finished, but I need direction on what you'd like me to do to finish up.

[2018-08-31 07:52] leonardoalt commented on #4874
This has been fixed in the latest unreleased version:
The location keyword (`memory` or `storage`) is enforced. If you use `memory` it works fine. If you use `storage` the compiler reports a `DeclarationError` about the uninitialized storage pointer. If you declare storage structs and point to them, it also works fine.

[2018-08-31 07:52] #4874 closed, assigned to nobody

[2018-08-31 08:57] dwividha commented on #4743
Can you please reject my application then? According to the rules I should
be eligible though, since I have 1st dibs.

On Fri 31 Aug, 2018, 8:02 AM Lazaridis, <notifications@github.com> wrote:

[2018-08-31 14:53] rmeissner opened #4875 "Unnamed function parameters should not be pushed to stack"
## Abstract

When defining a method signature it is possible to not give a name to a method parameter. This indicates that this parameter is not used.

## Motivation

 In methods that are marked external this could be used to avoid that unnecessary data is polluting the stack. Also it allows to get around the limit of local variables.

## Specification

When a method parameter has no name the para

[2018-08-31 15:51] vs77bb commented on #4743
Hi @dashu2410 sorry for the confusion - we need to remove the 'dibs' wording for approval required bounties and I logged the bug on our side. I have approved @bakaoh in this instance as he's got the PR out already 👍

[2018-09-01 00:33] dwividha commented on #4743
I completely agree that he should get the bounty here. Thanks for taking a
note of this.

On Fri 31 Aug, 2018, 9:21 PM Vivek Singh, <notifications@github.com> wrote:

[2018-09-01 12:26] branaway commented on #3419
Desperately need interface inheritance for clean OOD!

[2018-09-01 18:08] spursy opened #4876 "How to transfer eth from contract address to external address?"
In my smart contract, I need transfer eth from contract address to external address?

**The followed is my code:**

[code]

**but I get error message:**

[code]

[2018-09-01 18:19] redsquirrel commented on #4876
This seems like a question for https://ethereum.stackexchange.com/

[2018-09-02 16:29] bakaoh commented on #4716
@gitcoinbot - i'm waiting for reviewing

[2018-09-02 23:35] lazaridiscom commented on #4716
@gitcoinbot , you may remove yourself from all tickets, as your state-machine is obviously still dysfunctional.

[2018-09-03 03:42] EricChengBlockChain commented on #4876
i think u need to write a function ,which need ur approvment to call and then can transfer ur contract account's coins to other external account .  it means transfer your contract account's coins out cann't be done by itself, only can other's call ur function to transfer it out , but u can set a approvement mapping to keep it safe.

[2018-09-03 05:56] kdelwat opened #4879 "InternalCompilerError when inheriting contract doesn't provide constructor arguments"
## Description

Compiling a contract fails with an `InternalCompilerError` when:
- The contract instantiates another contract (`Child`), and
- The instantiated contract (`Child`) inherits from a parent contract but does not provide any arguments to its constructor

It might be nicer to detect the problem and return a human-readable error 😄

## Environment

- Compiler version: Version: 0.4.24+commi

[2018-09-03 08:50] ekpyron commented on #4552
Thinking about actually implementing this: do you think we should now introduce an actual address type in the code? It feels somewhat messy to keep using an ``IntegerType`` with modifier with this change.

[2018-09-03 09:01] chriseth commented on #2131
Updated description a little.

[2018-09-03 11:00] leonardoalt commented on #4714
Closing since the crash is fixed.

[2018-09-03 11:00] #4714 closed, assigned to nobody

[2018-09-03 11:00] leonardoalt commented on #4713
Closing since the crash is fixed.

[2018-09-03 11:00] #4713 closed, assigned to christianparpart

[2018-09-03 11:04] chriseth commented on #4869
I would propose to fix that in 0.5.1 (since it is not a new behaviour) and in general add it to the inheritance discussion project.

[2018-09-03 12:07] chriseth commented on #4861
@mudgen sorry, but I do not yet understand the initial problem. Why is "reading and writing storage" and "using libraries" contradictory?

[2018-09-03 12:11] liangdzou opened #4881 "memory never freed, can be fixed by insert two instructions"
## Abstract

Write a simple example as follows.
[code]
I only found one place changes the "free memory pointer" in the generated ASM.

[code]

So, the memory is never freed.
This can be fixed by insert "mload" at the beginning of a function call and "mstore" at the end of the function call.

## Motivation

Currently, Solidity does not free memory automatically. I have tried a few examples, the ASM

[2018-09-03 13:15] leonardoalt commented on #4688
If files are used as urls in the standard json input format, their directories need to be allowed in the command line, via `--allow-paths <path>`.

[2018-09-03 13:15] #4688 closed, assigned to leonardoalt

[2018-09-03 13:31] chriseth commented on #4830
So can this be closed?

[2018-09-03 13:36] leonardoalt opened #4884 "Prefix file:// in standard json input not working"
If files are given as urls in the standard json input, the prefix `file://` is not taken into account. Removing `file://` works fine.

Command line:
`solc --allow-paths /home/leonardo/somepath --standard-json < file.json`

File.json:
[code]

[2018-09-03 13:39] leonardoalt commented on #4840
Closing as it's a JS issue.

[2018-09-03 13:39] #4840 closed, assigned to nobody

[2018-09-03 13:55] chriseth commented on #3637
Are there any other syntax highlighters that need to be handled before this can be closed?

[2018-09-03 13:58] chriseth commented on #4314
@aj07 sounds good!

[2018-09-03 14:34] chriseth opened #4885 "Handling of Newlines in comments"
Anything that resembles a (unicode)newline in `//`-comments should terminate the comment and perhaps also lead to a parser error.

A similar logic should be applied to strings.

Also note that `\r` is currently not even considered as whitespace in `scanToken`.

[2018-09-03 14:40] chriseth commented on #3667
I think there are some more cases that can be handled, for example at the end of `ExpressionCompiler::visit(FunctionCall...)`

[2018-09-03 14:50] chriseth commented on #4824
@D3V4N5H I'm sorry, I was on holidays and someone else did this in the meantime. Thanks for you interest in the project, I hope you find another issue to work on!

[2018-09-03 14:54] anurag-git commented on #4824
@vs77bb , The pull request is merged. Please review it and do the needful.

[2018-09-03 14:55] leonardoalt opened #4886 "Disallow variable declaration as single statement in if/while without block"
Examples:

[code]

It should be fine inside a block (`{...}`).

[2018-09-03 14:57] leonardoalt commented on #4886
Decided after analyzing #4864

[2018-09-03 14:58] mudgen commented on #4861
@chriseth You are right, I seem to have had an incorrect assumption about using libraries. I worried that I would have to pass too many storage variables as arguments to library functions, or I would have to call library functions multiple times (which use DELEGATECALL) within an external function and I wouldn't want the gas cost of that. But after looking at this again these things don't look lik

[2018-09-03 15:05] chriseth commented on #4854
Focusing on costs instead of security / clarity turned out to be fatal in several cases.

I'm sorry, but I cannot access ethfiddle because they use some google tracking which my browser cannot handle. Could you post your code to github gist or something like that?

[2018-09-03 16:28] #4491 closed, assigned to nobody

[2018-09-03 16:41] chriseth commented on #4494
@faizabidi in general, yes, but there have been some discussions about how to do this properly, perhaps it could be more difficult than you think, but please give it a shot!

[2018-09-03 16:42] chriseth commented on #4494
@faizabidi the problem is that there are many different combinations of commandline flags to consider and it is easy to miss a combination. I think the final conclusion was to add a helper function that can be used to retrieve `std::cout` and which also registers that it has been accessed. If it has not been accessed, the message is output at the end.

[2018-09-03 16:43] chriseth commented on #4445
@RichardLitt thanks, that's a good point! I think we do not have the authority to make this apply to the whole organisation, but extending it to the two solidity-related gitter channels is probably a very good idea. Please create a PR!

[2018-09-03 16:44] #4633 closed, assigned to nobody

[2018-09-04 04:13] anurag-git commented on #4494
@chriseth,
If you can tell me, all the new scenarios which you can think of, then I
can still work with old approach and make it work.
If startegy is only for new approach, then I would let others handle it.

Regards,
Anurag Dashputre

On Mon 3 Sep, 2018 22:12 chriseth, <notifications@github.com> wrote:

[2018-09-04 10:46] chriseth opened #4891 "CompilerUtils::storeInMemoryDynamic and ::prepareMemoryStore should have assert about value type"
The two functions have too lax assertions. We should try to add an assert that the type is a value type and otherwise "sane" - perhaps we should even restrict the possible types explicitly.

[2018-09-04 10:58] chriseth commented on #4891
For external contributors: Try to add assertions about `_type.category()` one after the other and see which ones break any tests.

[2018-09-04 10:59] chriseth commented on #4891
The same can be done about `ExpressionCompiler::appendCompareOperatorCode` and other functions in the area.

[2018-09-04 11:22] chriseth commented on #4312
Closed due to inactivity.

[2018-09-04 11:22] #4312 closed, assigned to nobody

[2018-09-04 11:23] chriseth commented on #4524
Closed due to inactivity. Please reopen if the issue persists of if you have more questions.

[2018-09-04 11:23] #4524 closed, assigned to nobody

[2018-09-04 11:23] chriseth commented on #3756
Closed due to inactivity. Please reopen if the issue persists of if you have more questions.

[2018-09-04 11:23] #3756 closed, assigned to nobody

[2018-09-04 11:26] chriseth commented on #4249
Closing due to inactivity. If you still think this is an issue, please explain more concisely what you expect to happen and what actually happens.

[2018-09-04 11:26] #4249 closed, assigned to nobody

[2018-09-04 11:32] chriseth commented on #2928
The example given above should be fixed by either using remappings or by calling solc using `solc contracts/Test.sol` in the directory one level higher. Reaching below the root path in the virtual filesystem of the compiler is not supported in imports.

@HaleTom we can talk about how to fix vim in a separate issue.

[2018-09-04 11:32] #2928 closed, assigned to nobody

[2018-09-04 11:33] chriseth commented on #4800
Closed due to inactivity. Please reopen if the issue persists of if you have more questions.

[2018-09-04 11:33] #4800 closed, assigned to nobody

[2018-09-04 11:41] chriseth commented on #4842
This question is better asked at https://ethereum.stackexchange.com - you will get faster and better replies there.

[2018-09-04 11:41] #4842 closed, assigned to nobody

[2018-09-04 11:57] chriseth commented on #4834
Yes, it is very simple, but I think we should wait until constantinople is finalized.

[2018-09-04 11:59] axic commented on #4834
In theory it can be implemented under the `constantinople` switch, but I'd feel safer committing to this around early October because then the EIPs included in constantinople should be final.

[2018-09-04 12:01] chriseth commented on #4853
Could you elaborate on the reasons you would not want metadata? The metadata is a vital security feature for users.

[2018-09-04 12:06] chriseth commented on #4858
I think this has a very bad complexity / usefulness ratio to be included as a feature for the code generator. I do not understand why you care about 400 gas but do not use the optimizer.

How many functions do you have? Why do you think binary search would not reduce the gas costs?

[2018-09-04 12:12] #1532 closed, assigned to ChrisChinchilla

[2018-09-04 12:13] #4855 closed, assigned to nobody

[2018-09-04 12:31] Latrasis commented on #4853
Hello @chriseth, thank you asking. Our [project](https://beakeros.org) aims to provide its own verification protocol and security model. External Metadata in this case would break some of its guarantees.

[2018-09-04 13:26] nweller opened #4893 "Exponentiation producing inconsistent results"
Across multiple unsigned integer types I've tried - e.g. uint8 - the exponentiation operator can produce a result which is outside of the range of that type in some contexts, but exhibits the truncation behavior I'd expect in other contexts.

I get different failure modes in the truffle-based test framework I'm using (with ganache-cli, Linux, solc-js 0.4.24 - this produces unexpected values) and h

[2018-09-04 14:11] chriseth opened #4894 "Refactoring: split `bool TypeChecker::visit(FunctionCall const& _functionCall)` into multiple functions"

[2018-09-04 14:31] #434 closed, assigned to ekpyron

[2018-09-04 14:40] chriseth commented on #4893
This is unrelated to the part of the documentation you cite because due to the type conversions to `uint8` we are not in the domain of literal expressions anymore.

I would assume this is due to cleanup not being performed for intermediate values. "Lazy cleanup" can be done as long as cleanup and operation "commute" which is the case for addition and multiplication and I would guess also "almost"

[2018-09-04 14:44] ekpyron commented on #4893
The following returns ``(0,0,0)`` in remix...
[code]

[2018-09-04 14:45] chriseth commented on #4893
I would assume that we do not have to clean the base, but we do have to clean the exponent, and the only special case here would be where the exponent is zero (in the respective representation).

[2018-09-04 14:46] chriseth commented on #4893
So basically `0**0 == 1`, but `0**0x100 == 0`

[2018-09-04 15:07] chriseth commented on #4879
Thanks for reporting! As we are currently trying to get out version 0.5.0 as soon as possible, I queued the bug for the 0.5.1 version, I hope that's ok for you.

[2018-09-04 16:26] jaypersanchezshyft opened #4898 "Pass parameter to soljson from truffle cli"
Trying to pass parameter to solidity when run from truffle.  I setup the parameter setting from truffle.js.  the content of truffle.js is below.
[code]
below is the bogus parameter for solidity
[code]

I don't get a compile error when I run truffle migrate.  But when I change to "-bou
## Environment

- Compiler version: Solidity v0.4.24
- Framework/IDE (e.g. Truffle or Remix): Truffle v4.1.16
- EV

[2018-09-04 17:08] chriseth commented on #4847
Closing as duplicate although I though we already fixed that. *sigh*

[2018-09-04 17:08] #4847 closed, assigned to nobody

[2018-09-04 17:09] chriseth commented on #4862
@Eithcowich you can use `pragma experimental "ABIEncoderV2";`.

Closing as this is not a language design or compiler issue.

[2018-09-04 17:09] #4862 closed, assigned to nobody

[2018-09-04 17:11] chriseth commented on #4857
Closing as this does not seem to be a compiler or language issue.

[2018-09-04 17:11] #4857 closed, assigned to nobody

[2018-09-04 17:25] chriseth commented on #4871
This sounds like an error from the javascript runtime. Also I could not reproduce it, so I think it is an issue with truffle and not with solidity.

[2018-09-04 17:25] #4871 closed, assigned to nobody

[2018-09-04 17:36] chriseth commented on #1303
@axic actually I don't think this would be a "good first issue". If you think otherwise, can you give some guidance, please?

[2018-09-04 17:39] chriseth commented on #4875
I would defer this to the new optimizer which will be able to re-arrange the stay layout.

[2018-09-04 17:39] #4875 closed, assigned to nobody

[2018-09-04 17:43] chriseth commented on #4876
This question is better asked at https://ethereum.stackexchange.com - you will get faster and better replies there.

[2018-09-04 17:43] #4876 closed, assigned to nobody

[2018-09-04 17:50] axic opened #4899 "Disallow uppercase X in hex number literals"
From https://github.com/ethereum/solidity/pull/4878#discussion_r215006776.

Currently `0X1234` is valid.

[2018-09-04 18:10] chriseth commented on #4881
Unfortunately, this is much more tricky, since we do not track the lifetime of memory objects. If a function only has local variables, this could be done, but even if the function only receives a single memory object, we cannot assume that the free memory pointer can be reset.

Since memory is usually short-lived due to the gas constraints, this should not be a problem for now, but we will revisit

[2018-09-04 18:10] #4881 closed, assigned to nobody

[2018-09-04 18:12] chriseth commented on #4824
Closed by https://github.com/ethereum/solidity/pull/4851

[2018-09-04 18:12] #4824 closed, assigned to nobody

[2018-09-04 18:15] chriseth commented on #4861
Yes, certainly. Please try to encapsulate your data into structs and have a few contract-level variables of that struct type and then call library functions with references to these variables.

Please open a new issue if you have specific issues or suggestions.

[2018-09-04 18:15] #4861 closed, assigned to nobody

[2018-09-04 18:21] #4743 closed, assigned to nobody

[2018-09-04 18:21] come-maiz commented on #4871
Sorry, my mistake. I'm moving it to truffle.

[2018-09-04 18:22] rmeissner commented on #4858
It was more that this seemed like an easy way to save gas. I do agree that if the complexity is too high this makes no sense. (Adjusting it by hand was quite easy ;) )

To the point why we don't use an optimizer: at some point we wanted to minimize potential sources of error. So by not using the optimizer we say the chances that the generated code contains an error is lower.

My comment concerning

[2018-09-04 18:22] chriseth commented on #4494
That's the thing - there are too many different scenarios to consider and it is way too easy to forget about one (especially when new ones are added).

[2018-09-04 18:27] anurag-git commented on #3667
ok. let me check.

[2018-09-04 18:36] chriseth commented on #4066
@davidbanu I would strongly suggest to just submit a pull request - you will be able to finish this much faster and learn more if we take a look together.

[2018-09-04 19:40] mxmauro opened #4900 "Base constants and functions not properly handled."
Compiler: `0.4.24+commit.e67f0147.Emscripten.clang`

Hi, let me describe the issue:

I have a function named `depositToken`:

[code]

`getTransferController` returns an `ERC20TransferController` object derived from `TransferController`.

Inside base class `TransferController` I have:

[code]

`my_test_function` works as is BUT

1. if `TransferController.getReceiveSignature` is `pure` instead of `v

[2018-09-04 20:23] nweller commented on #4893
Thanks for the replies.

Is the following case - which also involves the exponentiation operator - a duplicate, or something else? It behaves differently for me in Remix by producing an unexpected result rather than a VM error.

I construct a value of 1 to use as exponent using the unary minus operator, which results in some invalid value, see:

    contract c0 {
        event UINT8(uint8 arg);

[2018-09-04 21:39] chriseth commented on #4900
Are you able to condense this down to a minimal example (perhaps separate for the two issues)?

[2018-09-04 21:41] chriseth commented on #4900
Did you use a debugger to find out where exactly the revert is issued?

[2018-09-04 22:08] mxmauro commented on #4900
@chriseth I'll try. Tried with a similar sample with Remix and cannot reproduce it :(

[2018-09-05 04:28] lastmjs commented on #4502
I'm still working on this with the updated information I needed

[2018-09-05 07:03] Latrasis commented on #4853
On a different note. As you have stated, that metadata is a _feature_ that solidity provides. If so, it would make sense to be able as a user to opt-out of such a feature.

[2018-09-05 07:20] liangdzou opened #4901 "solc crashed with internal error"
## Description

solc crashed when convert from "int[10] storage" to "int[] storage".
It seams this is not allowed but not detected by parser or sema check.

## Environment

- Compiler version:
➜  liang@zouliang-L1 ~/projects/zzz solc --version
solc, the solidity compiler commandline interface
Version: 0.4.25-develop.2018.9.5+commit.e6aa15ba.mod.Linux.g++

- Framework/IDE (e.g. Truffle or Remix):
s

[2018-09-05 07:37] chriseth commented on #4893
Phew, I almost thought that we have the same problem with unary minus, but this is actually another incarnation of the missing cleanup for exponentiation.

[2018-09-05 07:41] liangdzou commented on #4901
I think the function ArrayType::isExplicitlyConvertibleTo in Types.cpp:1595 should be enhanced.

[2018-09-05 07:46] chriseth opened #4902 "Disallow unsupported json keys in standard-json"
The standard-json compiler currently just picks the json fields it knows about and ignores the rest. We should think about whether it makes sense to disallow anything it does not know about.

[2018-09-05 07:46] chriseth commented on #4898
I created https://github.com/ethereum/solidity/issues/4902 to track what I think its the problem here. Please reopen if you are talking about something else.

[2018-09-05 07:46] #4898 closed, assigned to nobody

[2018-09-05 07:50] chriseth commented on #4900
This might also be related to using an outdated EVM in your setup (i.e. not byzantium-compatible).

[2018-09-05 08:03] liangdzou commented on #4901
Do you think the type conversion in Storage only allows the ones that can be implicitly converted?
Namely, add the following lines at the end of the function.
[code]

[2018-09-05 08:30] #4886 closed, assigned to leonardoalt

[2018-09-05 08:30] chriseth commented on #4864
Fixed by https://github.com/ethereum/solidity/pull/4888

[2018-09-05 08:30] #4864 closed, assigned to leonardoalt

[2018-09-05 08:32] #3770 closed, assigned to erak

[2018-09-05 08:33] chriseth commented on #4601
FIxed in #4590

[2018-09-05 08:33] #4601 closed, assigned to nobody

[2018-09-05 08:40] liangdzou commented on #4901
It seems the implicit type conversion check is too weak. After enhancing as follows, the problem has gone.

[code]

[code]

[2018-09-05 09:43] kyriediculous commented on #4854
Oh I put it in ethfiddle because other folks I asked at OpenZep couldn't access the gist :D

I've tried multiple things here and there but this gist should give you an idea of what it is I want to accomplish:  https://gist.github.com/kyriediculous/be33b19823324746942aa72930bb8b38

There's two functions on the proxy contract : getBounty() and forward()
getBounty() is the traditional way of delegati

[2018-09-05 11:47] holiman commented on #4864
Should I restart the fuzzer on the new head now?

[2018-09-05 11:53] liangdzou commented on #4881
IMHO, the functions that return memory reference cannot reset the free memory pointer. This is known statically, so, we can insert those instructions for the functions that do not return memory references. Even if one function returns memory reference, the memory can be freed by the first ancestor that does not return memory reference. I think this will also help to save some gas.

By the way, can

[2018-09-05 12:05] liangdzou opened #4909 "memory can be freed somehow"
IMHO, the functions that return memory reference cannot reset the free memory pointer. This is known statically, so, we can insert those instructions for the functions that do not return memory references. Even if one function returns memory reference, the memory can be freed by the first ancestor that does not return memory reference. I think this will also help to save some gas.

By the way, can

[2018-09-05 12:16] chriseth commented on #4909
Thanks for the additional input. I still don't see many use-cases of local memory variables that are neither passed in nor out of a function, because that would be the only place where we could free the memory easily.

[2018-09-05 12:21] chriseth commented on #4864
Yes, please!

[2018-09-05 13:29] axic opened #4910 "Add .exists() and .iscontract() on to the address type"
Not fully sure yet if `.exists()` can be implemented properly, but `.iscontract()` should be possible to be implemented via the `extcodesize` instruction.

With having `.iscontract()`, #4823 would not need to be implemented.

[2018-09-05 13:30] axic commented on #4823
I think with introducing `.iscontract()` on the address type would negate the need for this.

[2018-09-05 13:32] axic commented on #4823
Agreed on todays meeting that this replaced #4910. The current behaviour is simpler and it isn't fully clear which option is better (having the check or not having the check), but by introducing a helper (as of #4910) the option is put in the hands of the user.

@ajsantander @frangio @spalladino @alcuadrado please comment if you would like to keep this issue open and discussed further.

[2018-09-05 13:32] #4823 closed, assigned to nobody

[2018-09-05 13:38] chriseth commented on #3637
Closing because all tasks pertaining to this repository are done.

[2018-09-05 13:38] #3637 closed, assigned to nobody

[2018-09-05 13:39] wbt commented on #4830
In discussing this Issue with colleagues, they've mentioned that having to optimize storage for these sort of assembly-level considerations (switching the order of declaration of variables, including for more efficient packing) does not seem to be consistent with the image of Solidity as a relatively high-level language.  Given that in smart contracts, these optimizations or lack thereof have meas

[2018-09-05 13:44] frangio commented on #4910
What would be the semantics of `.exists()`?

[2018-09-05 13:56] axic commented on #4910
`.exists()` probably should be postponed until there is a consensus on what that means in Ethereum, however when looking at the account cleanup rules during creation/selfdestruct/etc. should be a good indication.

I actually don't think this can be done properly without support form a new EVM opcode, because one could check for balance and code size, but cannot check for storage, which is possible

[2018-09-05 16:12] liangdzou commented on #4909
I think it is easier to free the memory if there is no memory passed between functions. If there is no memory passed between functions, the memory allocated in the function will never be used after the function call instance is finished. Next time, when the function is called again, the memory will be allocated again. (correct me if I am wrong.) I think the only way to reuse a memory in Solidity i

[2018-09-05 16:40] spalladino commented on #597
Just throwing this as an idea: given that this need arises from avoiding clashes when working with upgradeability, wouldn't it make sense to just avoid clashing by storing all variables in a hashed location, similar to how a mapping works? We could either store all variables from the same contract/struct together (the hash being a contract identifier, and variables are stored at offsets of that ha

[2018-09-05 19:31] chriseth commented on #4830
I'm sorry, but Solidity is in no way high level. Also, as I said, the ordering of variables in storage is an interface requirement and cannot just be changed by a precompilation pass.

[2018-09-05 19:47] #4716 closed, assigned to nobody

[2018-09-05 19:49] #4574 closed, assigned to ChrisChinchilla

[2018-09-05 20:20] axic opened #4913 "Consider picking some points from Populus' Solidity Gotchas"
See: https://populus.readthedocs.io/en/latest/gotchas.html

[2018-09-05 21:29] randomnetcat commented on #4674
Yes, I am.

[2018-09-05 21:50] meowingtwurtle commented on #4674
@chriseth (sorry, thought I sent this before). The functions on the top are useful in more than just the match function. They also allow us to decompose a larger opcode stream into its expressions and recursively apply rules.

[2018-09-05 22:29] wbt commented on #4830
The [official docs](https://solidity.readthedocs.io/) open as follows, emphasis added: _"**Solidity is a** contract-oriented, **high-level language** for implementing smart contracts."_

Probably as a result, this is how Solidity gets described in a lot of other contexts, and developers perceive it in this way.

Where does that requirement come from?  In what use case, other than optimizing gas us

[2018-09-06 01:14] ghost commented on #1802
@axic , @chriseth , would you be willing to adjust the bounty-value to the "challenging" difficulty?

I would have requirements within 7 days  (main requirement beeing https://github.com/ethereum/solidity/issues/1802#issuecomment-391543993), and the implementation within 14 days (estimated, usually I'm within estimations).

@vs77bb , I could not "start work" (kind of "another person is working on

[2018-09-06 04:39] ayeteng opened #4914 "fail to import the sol in parent path"
## Description

import sol file doesn't work with parent path set.
example:
[code]
but if I change the import path to ./ and add the file in the same path.
[code]

## Environment

- Compiler version:

solc, the solidity compiler commandline interface
Version: 0.4.24+commit.e67f0147.Darwin.appleclang

- Operating system:
OSX 10.13.6
## Steps to Reproduce

n1.sol:4:1: Error: Source "CMEnabled.sol" n

[2018-09-06 06:35] chriseth opened #4915 "Document why importing from parent path is not supported"
Document why importing from parent path would be problematic with regards to reproducibility and the fact that we do not want to publish a global path from the local machine in the metadata.

Provide ways to mitigate the issue (e.g. using remappings or --allow-paths).

[2018-09-06 06:36] chriseth commented on #4914
I'm sorry, but importing from the parent path is not supported like that, because it would not be possible to generate a virtual directory structure to be used internally by the compiler. Please use remappings (and import from global virtual paths) or restructure your code layout so that this is not required.

Created an issue to track documentation: https://github.com/ethereum/solidity/issues/491

[2018-09-06 06:36] #4914 closed, assigned to nobody

[2018-09-06 10:03] Night-mk commented on #3695
I have the same issue when using abigen:
`abigen -sol inbox.sol -pkg contracts -out inbox.go`
I got the same error as:
`Failed to build Solidity contract: solc: exit status 1
unrecognised option '--add-std'
`
my geth version is `1.8.15-stable` , and solc version is `0.4.24+commit.e67f0147.Linux.g++`
how can I fix it?

[2018-09-06 12:01] chriseth commented on #1802
@lazaridiscom sounds good! @vs77bb can you adjust the bounty?

[2018-09-06 12:10] chriseth commented on #4830
Sure, Solidity is a high-level language in the same way as C is a high-level language, but they are both relatively low-level. In C, ordering of struct elements influences alignment and thus efficiency which is more or less the same thing.

The ordering is an interface requirement between contracts and libraries.

I am aware of the influence of gas costs. Still, security and simplicity has a highe

[2018-09-06 14:02] wbt commented on #4830
Our main point was that requiring developers to get into Assembly details for code performance, even when using the optimizer in their compilation workflow (`solc --optimize`) does not seem to be consistent with the image of Solidity as a relatively high-level language.  I understand now that in your view, we were wrong to have that image in mind, but it is commonly held and I believe we had valid

[2018-09-06 14:57] chriseth opened #4919 "Potentially adjust appveyor script"
The previous release had some problems with msvc 2015/2017, we maybe have to backport some work @ekpyron has done recently.

[2018-09-06 15:06] chriseth opened #4921 "Check that bug list contains all recent bugs and the "fixed" versions are correct."

[2018-09-06 16:01] #1644 closed, assigned to ChrisChinchilla

[2018-09-06 16:07] chriseth commented on #4830
I'm sorry if my previous comments were a little rude. The thing is that reordering variables in storage as part of the compilation process is a delicate thing. There have been other proposals to change the storage layout completely especially with regards to upgradability which would also be relevant here (but I don't think there is an issue about that in this repository). Both problems might be s

[2018-09-06 16:11] ghost opened #4924 "void"

[2018-09-06 16:19] chriseth commented on #4924
Everything until "Alternatively, there is a testing script at scripts/test.sh which ...." should also work on windows and the script is just a convenience way to run 'soltest'. What were your exact problems?

Note that not all tests that are run as part of the CI tests can be run on all platforms and might require additional software (node.js etc).

[2018-09-06 16:38] lazaridiscom commented on #4924
I've managed finally to find soltest:

[code]

But the problem is that the `*** No errors detected` message comes after just 2 seconds, so I guess that no tests ran.

[2018-09-06 16:44] chriseth commented on #4854
Ok, this will not be a full answer, but at least allow you to make some progress:

Change
[code]
to
[code]
(you only send over the slot reference to the variable)

In contrast,
[code]
only copies the memory reference, but not the actual data. You need a loop that performs iterated mstores.

Because you are dealing the storage references, I think you still have to use assembly to at least retrieve

[2018-09-06 16:51] liangdzou commented on #4909
Yeah, this seems not so important since all smart contracts are gas limited. When a smart contract is finished the EVM instance is freed which cause all the memory is freed.

[2018-09-06 16:51] #4909 closed, assigned to nobody

[2018-09-06 16:58] chriseth commented on #4924
Two seconds sounds plausible. It did run all tests that do not need an Ethereum client - those tests take much longer (they are disabled via `--no-ipc`). The tests you ran include all syntax and type checking tests, but no semantics / end-to-end tests.

[2018-09-06 17:08] #4686 closed, assigned to leonardoalt

[2018-09-06 17:09] lazaridiscom commented on #4924
I see. I tend at this point to switch to a VirtualBox ubuntu - except if you need more windows-feedback, then I try a little bit more to succeed on native windows.

[2018-09-06 17:11] ekpyron commented on #4919
For reference: the PR was #4890. I can have a look into backporting it to the develop_v0425 branch.

[2018-09-06 17:14] ekpyron commented on #4919
I created #4928 in case we need it.

[2018-09-06 17:30] lazaridiscom commented on #4924
the appveyor.yml config is of help, too:

[code]

will stay a little bit more on windows.

[2018-09-06 17:31] #4919 closed, assigned to ekpyron

[2018-09-06 19:56] wadealexc commented on #4910
I would be cautious of any implementation of `.iscontract()` -- the whole idea of testing `iscontract` has led to lots of contracts vulnerable to exploits done by constructors

[2018-09-07 04:21] ghost opened #4931 "Error when compiling Solidity 0.4.24 with Z3"
Hi,

When compiling Solidity 0.4.24 with Z3 (both v4.7.1 or v4.6.0), I encountered the following error:

[code]

Sorry for the Spanish error message, but it basically says that the definition of the functions Z3_is_seq_sort, Z3_mk_seq_concat, Z3_is_re_sort, Z3_mk_re_concat are not found.

However, in my machine, these functions are declared in the files `/usr/include/z3_api.h`, and the Z3 library

[2018-09-07 14:07] ghost commented on #4931
The issue is fixed here: https://github.com/Z3Prover/z3/issues/1813

[2018-09-07 14:07] #4931 closed, assigned to nobody

[2018-09-07 15:55] vs77bb commented on #4891
All you, @lazaridiscom!

[2018-09-07 16:03] ghost opened #4932 "void"

[2018-09-07 16:07] axic commented on #4932
Geth is not able to run the tests. This is tracked in #2626.

Note that aleth has releases, which include MacOS binaries. I suggest to check them out.

The 1.4.x version line should be able to run the tests: https://github.com/ethereum/aleth/releases/tag/v1.4.0rc6

[2018-09-07 16:07] #4932 closed, assigned to nobody

[2018-09-07 16:14] lazaridiscom commented on #4932
me on windows currently (although thinking to switch over to ubuntu, as everything works smoother there)

[2018-09-07 16:18] axic commented on #4932
Sorry I've misread it for MacOS. Have you considered opening an issue on aleth listing what is the problem compiling it on Windows?

[2018-09-07 19:19] zaytsevand commented on #232
С++-inspired solution makes it impossible to implement things like:
[code]
... which is, probably, force better code design.

[2018-09-08 12:51] lazaridiscom commented on #4932
Nah, currently just seeing to get the dev-environment up quickly (see #4924). The problem is trivial, just to lazy to fix (VS 2015 needed, I'm on VS 2017)

[2018-09-09 15:03] lazaridiscom commented on #2626
This issue should get priority. It made a really bad impression to me (and for sure to other users) that this is not standardized.

Suggestion: Solidity is a major subsystem of Ethereum. Solidity uses currently cpp-ethereum for tests. This exact api should be make available initially in geth and the other clients. It can be later extended.

[2018-09-09 15:05] lazaridiscom commented on #4924
Me switching over to ubuntu for now. Issue should stay open, because windows support needs to be polished (allowing interested contributors to work on windows machines).

[2018-09-10 01:53] ignacionr opened #4933 "[ABI Specification] Boolean example is incorrect"
## Description

The ABI documentation introduces the ``` bool ``` data type as a specific use of ``` uint8 ```, but when an example is developed, it is padded to 32 bytes instead of 8.

The problem is on https://github.com/ethereum/solidity/blob/develop/docs/abi-spec.rst#examples (first example shown).

[2018-09-10 09:22] chriseth commented on #4933
The specification states than `unt8` is padded to 32 bytes, so the same applies to `bool`.

[2018-09-10 09:22] #4933 closed, assigned to nobody

[2018-09-10 09:51] rofiqgilang commented on #4743
https://blog.moqups.com/

Pada tanggal Rab, 5 Sep 2018 pukul 10.26 Gitcoin.co Bot <
notifications@github.com> menulis:

[2018-09-10 10:09] rofiqgilang commented on #4743
my eth adress : 0x803e560c6A6c848d74AD364242aA52107b985db6

Pada tanggal Sen, 10 Sep 2018 pukul 16.51 Cahya Ady <
brainofadmiral@gmail.com> menulis:

[2018-09-10 10:25] #4885 closed, assigned to nobody

[2018-09-10 11:02] ignacionr commented on #4933
Hm. It’s disappointing because of the unnecessary bandwidth but understood.

[2018-09-10 12:22] #4893 closed, assigned to nobody

[2018-09-10 16:32] lastmjs commented on #4502
I'll be getting to these updates soon

On Mon, Sep 10, 2018, 10:16 AM Gitcoin.co Bot <notifications@github.com>
wrote:

[2018-09-10 17:19] Meshugah commented on #4894
Is this something I could work on? If so, could you point me in the right direction?

[2018-09-11 01:30] liangdzou commented on #4674
Actually, there are some papers on peephole optimization for EVM instructions. You may want to refer to "Towards Saving Money in Using Smart Contracts" in ICSE2018 or "Under-Optimized Smart Contracts
Devour Your Money" in SANER2017.

These two papers are done by the same group, where the ICSE2018 version is the newest result but without less explanation on why. The basic idea is to apply rules to

[2018-09-11 01:33] prestonvanloon opened #4942 "MacOS Distributable Binary?"
## Abstract

A distributable binary uploaded as part of the release set of files.

## Motivation

I want to download a solc binary for mac without having to build it or have dynamic libraries installed. This exists for linux and I believe also exists for Windows.

## Specification

1) Create way to generate a distributable binary for Mac. (If there is already a way, then please create the document

[2018-09-11 01:35] liangdzou commented on #4674
@meowingtwurtle @chriseth
If you guys are too busy, I would like to have a try.
My employee actually supports me to do some blockchain related open source projects (at least for a few months).

[2018-09-11 01:36] randomnetcat commented on #4674
There is already existing code here. I am waiting for more review from @chriseth here. I agree with him that the code needs to be simplified, but I really am not sure specifically how he wants that to be done.

[2018-09-11 01:54] liangdzou commented on #4674
I would regard this as a long-term project and have a more detailed plan before implementation. For instance, I think it would be better to read those two papers first and investigate if the patterns given in the paper are useful. Then, to discuss if the pattern solve the most of the problems that would be solved by peephole optimization. If not, we should try to extend the list. Then, to discuss

[2018-09-11 02:00] randomnetcat commented on #4674
The specification was for this to be a relatively simple module that applies the pre-existing SimplificationRules from CSE. It is a nongoal for this to be a complete optimizer for all of EVMASM.

[2018-09-11 02:01] chriseth commented on #4674
@liangdzou do you happen to have a publicly available version of that paper? I heard only of 5 rules and we already have all of them. Please take a look at https://github.com/ethereum/solidity/blob/develop/libevmasm/RuleList.h to find already existing rules. This issue is not about finding new rules but rather employing them in a third part of the optimizer.

[2018-09-11 03:55] liangdzou opened #4943 "Debug info for Solidity"
## Abstract

Do we need debug info for the generated binary somehow? At least, add them for the generated assembly for the case without optimization? This is important for some advanced user to know how the compiler works. Code always explains more clearly than any documents.

## Motivation

Debug info can be used in many ways, e.g. locating the most important codes in ASM for reading, used for ot

[2018-09-11 07:22] chriseth commented on #4943
We have source info and it is retained during most of the optimzation phases: https://solidity.readthedocs.io/en/v0.4.24/miscellaneous.html#source-mappings

[2018-09-11 07:22] #4943 closed, assigned to nobody

[2018-09-11 07:27] chriseth commented on #4942
We currently do not have the capacity to properly support macos. We are buliding for macos via CircleCI - if you have the required knowledge, could you check if this [binary](https://35078-40892817-gh.circle-artifacts.com/0/solc) binary would be sufficient for you? If not, would you like to propose changes to our build system? Thanks!

[2018-09-11 07:53] chriseth commented on #4756
If we move to SSA and "three-address-code", this might not be required and could be simplified: As far as the rules are concerned, we can just apply them without caring about "movability". Movability only comes into play if we want to rearrange or delete individual instructions. We can delete an instruction if it is side-effect free and we can rearrange them if they are context-independent. Moreov

[2018-09-11 08:04] chriseth opened #4944 "Yul code generator / transform that can re-use stack slots"
As a precursor to other optimization techniques, we need a code generator for yul that can handle the load of many local variables (e.g. those generated via transformation to SSA). Currently, variables are assigned to a stack slot in a fixed way from the point on where the variable is declared until the end of the block. This is very helpful for debugging, but can lead to "out of stack" problems o

[2018-09-11 08:05] chriseth commented on #4944
Perhaps this would be something for you, @liangdzou ?

[2018-09-11 08:42] liangdzou commented on #4943
yeah, I just found srcmap from solc. sorry :-(

[2018-09-11 11:07] liangdzou commented on #4674
This is the link given by the author. (https://docs.google.com/document/d/1VvKI7BEwq2EFcpwzqEe1-vT7a042cwAnYzbvT7s2Ijw/edit)
The following is the content.

The operation sequence before → denotes an anti-pattern and the sequence after → is the code after optimization (delete indicates the anti-pattern can be removed).

P1 — {swap(X), swap(X)} → delete, 1 ≤ X ≤ 16
() indicates a number inside inste

[2018-09-11 12:27] liangdzou commented on #4674
I am interested in working on implementing those rules. Maybe started with building a large set of performance tests. Shall I create an issue for it?

[2018-09-11 13:51] chriseth opened #4945 "Yul: Pseudo-SSA"
This might make several steps easier than they were before, but could mess up the allocation of stack slots and thus make it harder to debug optimized smart contracts.

This would be a step after the expression splitter that introduces new variable declarations for assignments to existing variables.

[2018-09-11 13:54] chriseth opened #4946 "Yul: make Simplifier optimizations work with SSA / "3AC""
The main thing that has to be changed is pattern matching, because they have to resolve subexpressions across variables.

The benefit of using SSA with 3AC for the simplifier is that we do not have to care about movability, because subexpressions are not modified.

[2018-09-11 14:05] chriseth opened #4947 "Yul optimizer: think about which statement reorderings make sense"
Once we are in SSA/3AC, the fact whether instructions inside a basic block can be reordered can be determined by just looking at the function calls of the instructions themselves.

If we keep track of memory and storage writes, we can rematerialize storage reads (and perhaps also memory reads). After that, subsequent storage writes to the same location can be reduced to just a single write.

Examp

[2018-09-11 14:38] ekpyron opened #4948 "Internal compiler error on storage pointer casts and assignments."
The following crashes with "InternalCompilerError: Invalid conversion to storage type." for 0.4.24 and develop.

[code]

The same for base types other than ``uint``.

Found during #4911.

[2018-09-11 15:01] ekpyron commented on #4948
Related, but not entirely a duplicate: #4901.

[2018-09-11 15:05] ekpyron commented on #4948
Same for:
[code]

[2018-09-11 15:45] liangdzou commented on #4674
@chriseth Do you think implementing the rules may be a better start.

[2018-09-11 16:01] liangdzou commented on #4948
#4901 is fixed in PR 4904. I do not know why Chriseth stoped respond on the PR for more than 5 days.

[2018-09-11 16:23] liangdzou commented on #4948
This issue looks interesting. The conversion looks valid since the base type is exactly the same.

[2018-09-11 18:15] liangdzou commented on #4948
The type analysis for type conversion actually will always convert array pointer to array ref since array inherits from ReferenceType. Therefore, the target type will be a reference, instead of a pointer which makes the assertion to be violated.
@chriseth suggested me to add a branch to only allow bytes and string array conversion. I have added tests in the PR4904, this issue is fixed by adding th

[2018-09-11 18:29] vs77bb commented on #4502
Thanks for the update @lastmjs

[2018-09-11 18:31] vs77bb commented on #4066
Hi @davidbanu Any update here? Still no WIP PR, we may have to send this back to the crowd if we don't see anything in 48 hours.

[2018-09-12 01:07] prestonvanloon commented on #4942
This might be a dup of #3168

[2018-09-12 01:38] prestonvanloon commented on #4942
@chriseth No, that binary appears to be built in the same manner that I tried. Here's a failure: https://travis-ci.org/prysmaticlabs/prysm/jobs/427477019

The specific failure is
[code]

[2018-09-12 02:11] lastmjs commented on #4502
PR updated as asked on the PR thread.

[2018-09-12 02:15] anurag-git commented on #4824
@vs77bb, I guess nothing pending for this issue. Please have a look at awarding bounty.

[2018-09-12 02:58] vs77bb commented on #4824
@anurag-git Just paid out - great work!

[2018-09-12 03:02] anurag-git commented on #4824
Thanks

[2018-09-12 07:16] Thaina commented on #2877
I don't know if this is the correct place but I would like to ask how the emit and subscribe cost gas? Is the number of subscriber will multiply in cost of emit?

[2018-09-12 08:13] ChrisChinchilla commented on #3860
@axic and @chriseth I just started looking at this, but noticed that
https://github.com/ethereum/solidity/pull/3389 has a docs contribution already, so shall I just extend and polish the changes there? And work in that branch or fork a new branch from it? or just start a new branch with their commits and my polish?

[2018-09-12 10:16] ekpyron opened #4950 "Move mapping from solidity types to ABI types in the documentation."
Came up in https://github.com/ethereum/solidity/pull/4911#discussion_r216670998.

In the ABI specification there should be a separate section explaining how solidity types are mapped to ABI types, instead of mentioning it "inline".
This section should include the fact that ``address payable`` is mapped to ``address`` in the ABI.

[2018-09-12 12:23] ghost commented on #1802
@vs77bb

[2018-09-12 13:15] ChrisChinchilla commented on #544
@miohtama @tzapu @mancze I have a PR here https://github.com/ethereum/solidity/pull/4952 but I also have a remaining work, please take a look at changes, and follow there to let us know if the changes help, or need more work.

[2018-09-12 15:40] vs77bb commented on #1802
@lazaridiscom [Give it a try](https://gitcoin.co/issue/ethereum/solidity/1802/474) now 👍

[2018-09-12 16:19] chriseth opened #4954 "Remove artful from PPA"
artful is obsolete.

[2018-09-12 16:20] chriseth commented on #4921
Checked.

[2018-09-12 16:20] #4921 closed, assigned to nobody

[2018-09-12 17:19] chriseth commented on #4894
Yes! Try to split it into logical chunks and come up with god names for the functions :)
Perhaps start with a very very simple change first so we have room for discussion.

[2018-09-12 17:24] Meshugah commented on #4894
@chriseth should i be assigned to this? Sorry, just asking for procedure, and will do!

[2018-09-12 17:25] chriseth commented on #4942
It tries to load a library that is optional during the build process. If you perform a source build and do not have z3 available, it should create a binary that does not require z3.

[2018-09-12 17:27] chriseth commented on #2877
Subscribers are off-chain actors, only emitting the event costs gas once. See the [documentation](https://solidity.readthedocs.io/en/v0.4.24/contracts.html#events) for more details.

[2018-09-12 17:35] chriseth commented on #4894
@Meshugah sorry, github does not allow assigning issues to people who have not yet contributed. It is noted here, please feel free to start!

[2018-09-12 17:58] chriseth commented on #4948
Something here is very wrong. In `T(x)` for a type `T`, the check whether conversion is possible should check whether a conversion to a pointer can be done. After the conversion has happened, the result should again be a reference, I think. But perhaps we should rather fully re-architect this and add the `copyof` operator.

[2018-09-12 19:19] vs77bb commented on #4894
Hi @Meshugah we just added a bounty on Gitcoin. Please click 'Start Work' and you'll be eligible to receive it upon completion of the work here 🙂

[2018-09-12 19:23] vs77bb commented on #4494
@anurag-git Want to pick this one up on Gitcoin? Bounty-to-come below 🙂

[2018-09-12 19:27] Meshugah commented on #4894
@vs77bb  Where do I click Start Work? Could you put up a link or the steps to follow?

[2018-09-12 19:27] vs77bb commented on #3667
@anurag-git And this one 🙂 see below - we will prioritize you on the applications!

[2018-09-12 19:31] vs77bb commented on #4894
@Meshugah ^See above!

[2018-09-12 20:16] chriseth commented on #4034
@vs77bb sorry, I already did that on monday...

[2018-09-13 03:42] vs77bb commented on #4034
No worries @chriseth! Just cancelled, will put it to good use elsewhere soon 🙂

[2018-09-13 03:43] vs77bb commented on #4034
@mul1ish be on the lookout for more bounties here, this one was already completed. My mistake!

[2018-09-13 03:59] liangdzou commented on #4948
@chriseth Actually, the array pointer is modified to reference before checking if it is possible to convert.

[2018-09-13 04:01] anurag-git commented on #3667
@vs77bb , Thanks for the bounty. The additional fix requested is on top of my mind, will surely fix it by next week.

[2018-09-13 04:10] anurag-git commented on #4494
Thanks @vs77bb but as discussed with @chriseth , the right approach is still not finalised. I spent almost 2 weeks, trying to fix all the possible scenarios I could think of but still few scenarios were identified by Chris.

[2018-09-13 04:27] liangdzou commented on #4494
@vs77bb I think it would be reasonable to let anyone who joined the discussion (or have contributed in any kind) to share the bounty.

[2018-09-13 04:42] anurag-git commented on #4494
Great thought...

[2018-09-13 07:00] liangdzou opened #4959 "implement more peephole optimization rule from the ICSE paper"
## Abstract

There is an ICSE2018 paper introduced 24 rules for optimizing EVM gas. I think this should be implemented in Solidity.

## Motivation

Optimizing the gas spending for smart contracts.

## Specification

To implement the 24 rules given by the ICSE2018 paper.
The operation sequence before → denotes an anti-pattern and the sequence after → is the code after optimization (delete indicates

[2018-09-13 07:08] liangdzou commented on #4959
I am interested in implementing the rules one by one if you guys think this is important.

[2018-09-13 07:40] chriseth commented on #4959
I think many of them are already implemented. Could you go through the list and check which ones are not?

[2018-09-13 08:03] liangdzou commented on #4959
@chriseth
I think the rules given are almost about one instruction or related instructions. The rules given here are more about many different instructions. I am not sure if the rule can be added in current infrastructure.

For example, the rule "{M consecutive jumpdests} → {jumpdest}, M ≥ 2", the pattern is not an instruction any more. It has serval jumpdest instructions, and they are not related

[2018-09-13 08:29] chriseth commented on #4959
Have you seen https://github.com/ethereum/solidity/blob/develop/libevmasm/PeepholeOptimiser.cpp ?

[2018-09-13 08:30] chriseth commented on #4959
The "consecutive jumpdests" cannot be handled by the peephole optimizer, because we need the tag ID and stuff, but that rule is actually implemented in one of the optimizer stages called the "jumpdest remover".

[2018-09-13 09:28] liangdzou commented on #4959
@chriseth I see. Sorry, I thought all the optimization are specified by the RuleList.h.
I will go through the list and take a look at the pass first.
Thx :-)

[2018-09-13 09:30] ghost opened #4961 "void"

[2018-09-13 13:01] ekpyron commented on #4961
Which distribution are you working on? Is it in fact ``ubuntu artful``? In a current docker image of ``ubuntu artful`` the https://github.com/ethereum/cpp-ethereum/releases/download/solidityTester/aleth_2018-06-20_artful works for me (given that gcc and libleveldb1v5 are installed).

If you use a different distribution you will probably have to compile from sources. The ``trusty`` binary is built

[2018-09-13 14:42] axic opened #4966 "Review escaping and new line support in string literals"

[2018-09-13 15:40] ekpyron opened #4969 "Another look at ``address payable``."
We decided to merge #4911, although there were some open questions, so we should have another look at it at some point, mainly:

- [x] Is the documentation updated sufficiently (related: #4950) #5004
- [x] What should the behaviour of address and address payable be during overloading and inheritance?
- [x] Should ``ecrecover`` return ``address payable`` instead of ``address``?
- [x] Maybe simplify

[2018-09-13 17:07] lazaridiscom commented on #4961
Oh, I see. Me on ubuntu 18.04, so I guess I have to build anyway.

[2018-09-13 17:07] #4961 closed, assigned to nobody

[2018-09-13 18:26] chriseth opened #4975 "Document semantics of mod"
Sub-task of https://github.com/ethereum/solidity/issues/3860

[2018-09-13 18:58] redsquirrel opened #4977 "Broken link in 0.4.25 release tag"
This page: https://github.com/ethereum/solidity/releases/tag/v0.4.25
Links to this page: https://blog.ethereum.org/2018/09/13/solidity-bugfix-release/
But that page currently results in a 404.

[2018-09-13 19:47] randomnetcat commented on #3860
#3389's doc contributions are specifically concerning fixed point operations and semantics. I would not recommend basing anything for this task off of that.

[2018-09-13 19:53] vs77bb commented on #3667
@snezanasucurovic I approved @anurag-git who had already started here. Please do be on the lookout for more bounties to come!

[2018-09-13 20:21] ghost commented on #4891
@vs77bb , can you please see to it that my gitcoin-profile and all related data is deleted? I do not wish that any data related to my person is hosted on gitcoin.co.

@chriseth , I'll see to it to fix some things on your project, it looks that you need more people-power. I'll do this independent of gitcoin, which is far too "centralized" and "intrusive" for my taste.

[2018-09-13 20:34] chriseth commented on #4977
Thanks! Should be fixed now.

[2018-09-13 20:34] #4977 closed, assigned to nobody

[2018-09-13 20:37] ghost opened #4978 "void"

[2018-09-13 21:19] chriseth commented on #4891
@lazaridiscom sorry to hear that. Gitcoin is meant to bring more people to the projects. Happy to hear that you want to stay nevertheless! :)

[2018-09-14 01:42] vs77bb commented on #4741
@iamonuwa Paid this out to you in full, but also paid out @liangdzou for hopping in and contributing the merged PR! Please do keep an eye on Gitcoin for more, we'll be posting and have a good community of devs on [Gitcoin Slack](gitcoin.co/slack).

[2018-09-14 01:44] liangdzou commented on #4741
@vs77bb Thanks a lot :-)

[2018-09-14 02:06] liangdzou commented on #4894
I think this function can be separated based on the FunctionCall types.

[2018-09-14 02:09] liangdzou commented on #4894
more complexed than that...

[2018-09-14 02:13] liangdzou commented on #4894
should be separated based on the health condition/type requirement rules of a function call.
The hard part is to summarize the rules from the code.

[2018-09-14 02:30] lastmjs commented on #4502
The pull request has been merged

[2018-09-14 03:10] liangdzou commented on #4894
Current order:
1. calculate isPure and argument type from arguments (update annotation for positional call)
2. call expression type checker
3. calculate function call kind (type conversion, struct construction, or function call)
4. check for type conversion (returned in this branch)
5. calculate isPure and membersRemovedForStructConstructor.
6. calculate function type and do some related check
7.

[2018-09-14 03:23] liangdzou commented on #4894
I think the calculation for isPure can stay in the main function. I will do a draft version first.

[2018-09-14 06:45] iamonuwa commented on #4741
👏

[2018-09-14 06:48] #4741 closed, assigned to nobody

[2018-09-14 07:47] ekpyron commented on #4961
Note that we recently improved the compatibility of the tests with more recent ``aleth`` versions, so if you're working with the most recent version of solidity on the ``develop`` branch, the tests should work against aleth 1.4.0rc6, for which there are binaries that should work on ubuntu 18.04 out of the box (https://github.com/ethereum/aleth/releases/download/v1.4.0rc6/aleth-1.4.0rc6-linux-x86_6

[2018-09-14 08:54] maxisacoder commented on #2931
If user want to get result of `keccak256(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)`, what can he do? Is there some workaround?

[2018-09-14 09:49] ChrisChinchilla opened #4982 "docs: Improve modularity and import documentation"
## Description

Modules are mentioned in https://solidity.readthedocs.io/en/latest/layout-of-source-files.html#use-in-actual-compilers but I feel this section and those above it could be clearer in explaining how modules, imports etc work and relate, and why they are useful.

[2018-09-14 09:57] ChrisChinchilla commented on #1444
@axic Looking through _style-guide.rst_ I think this is all done? I can see sections for each of the items in your comment above.

[2018-09-14 10:30] ekpyron commented on #4969
Since it also concerns ``address payable`` and doesn't really warrant a new issue, I just put it here: I created a PR in https://github.com/davidhq/SublimeEthereum/pull/26, that is merged by now - if I understand correctly, how things work, this should be pulled in with the next release of ``linguist`` and after that syntax highlighting for ``address payable`` should work on github...

[2018-09-14 11:08] liangdzou commented on #4894
Since someone is working on it, I will work on another issue.
@Meshugah There are some ideas that might be useful for you.
I think the steps 3, 4, 6, 7, 8 are large enough for functions.

[2018-09-14 14:15] liangdzou commented on #4944
Do you mean when there is an assignment then the variable is a new variable according to SSA definition? Then, the corresponding variable can be released by swap the deepest variable and pop. Will try my best to finish it soon. :-)

[2018-09-14 19:51] lazaridiscom commented on #4978
tests work fine with a specific version of aleth, mentioned here: https://github.com/ethereum/solidity/issues/4961#issuecomment-421261959

[2018-09-14 20:10] vs77bb commented on #4494
@liangdzou @anurag-git Sure thing! Will have that in mind for when the bounty is ready for payout 👍

[2018-09-14 21:01] Meshugah commented on #4894
@liangdzou Appreciate the guidance!

[2018-09-15 00:12] liangdzou commented on #4894
no problem :-)

[2018-09-15 01:48] liangdzou commented on #4944
From the asm of a simple example, we can see that Solidity updates local variables by calcualte and swap to update. Actually we cannot gerantee that a veraible on the lhs or rhs of a assignment will not be used anymore. We have to do some kind of liveness analysis. @chriseth @ekpyron Is that available in Solidity now? (Correct me if I have misunderstanding here, thanks :-))
[code]

[2018-09-15 02:40] liangdzou commented on #4944
Seems the outputed asm and yul (the one defined in libsolidity/inlineasm/AsmData.h) might be different.
I will try to print out yul to take a look.
Btw, do we have an option to print out yul?

[2018-09-15 02:56] liangdzou commented on #4944
The moveable test seems a solution for the liveness analysis. A variable is dead if the assignment can move to the end of the function and there is no read afterward.

[2018-09-15 02:59] liangdzou commented on #4944
I have several questions about this issue:
1. the pass "Unused Definition Pruner" will remove useless assignments if it can move to the next assignment for the same variable. Can we regard this requirement as a special case of that? That is, when an assignment can move to the end of the function, we should also remove the assignment. Then, the last reference of a variable will always be a read whi

[2018-09-15 03:01] liangdzou commented on #4944
@chriseth @ekpyron I think if it is an assignment, it should already be removed by this pass. I think the case should be that the variable can be removed after the last read.

[2018-09-15 09:09] ghost commented on #4891
That's the essence!

[2018-09-15 21:45] lastmjs commented on #4502
@vs77bb I submitted this work on Gitcoin a while ago, do I need to submit again now that it's complete?

[2018-09-16 05:59] mul1sh commented on #4034
@vs77bb  no worries thanks 🙂

[2018-09-16 12:51] ghost opened #4987 "void"

[2018-09-16 17:02] #4978 closed, assigned to nobody

[2018-09-16 20:05] herrBez commented on #4627
I have a doubt: should this hexadecimal literal `uint x = 0xAa;` in which compare both upper case and lower case hexadecimal numbers accepted or not? (Currently it works)

[2018-09-17 07:08] ChrisChinchilla opened #4988 "Korean Docs translation"
This issue is to track the progress of the Korean translation of the Solidity documentation.

It includes the GitHub usernames of all involved, and links to any issues or pull requests related to the Korean translation.

All translation efforts in progress from this date are pinned to commit
https://github.com/ethereum/solidity/commit/1994b51ef3eb8de3617efec9747979c9fb5ed453

## Contributors

Base

[2018-09-17 09:03] ChrisChinchilla opened #4989 "Chinese Docs translation"
This issue is to track the progress of the Chinese translation of the Solidity documentation.

It includes the GitHub usernames of all involved, and links to any issues or pull requests related to the Korean translation.

All translation efforts in progress from this date are pinned to commit
https://github.com/ethereum/solidity/commit/1994b51ef3eb8de3617efec9747979c9fb5ed453

## Contributors

Bas

[2018-09-17 09:21] chriseth opened #4990 "Feature to apply modifier to all functions"
Certain use-cases require a check to be applied to all or at least many functions. Most notably, this includes a general smart contract deactivation function (as replacement for dangerous selfdestruct), a "pausable" pattern and so on.

Modifiers already provide basic support, but it is too easy to forget a modifier to be mentioned with a single function, also it requires quite some typing and can

[2018-09-17 09:30] leonardoalt opened #4991 "SMTChecker: Contract invariants support"
## Abstract
Currently the SMTChecker does not reason about contract global invariants.

[code]
In the example above, `a >= 0 && a < 10` is an invariant that might be useful to prove properties of other functions in the contract.

## Specification
Ideally we'd have a way to provide global invariants such that, for each invariant `I`:
* `assert(I)` is added in the end of the constructor
* `require(I

[2018-09-17 09:48] liangdzou commented on #4944
I have not seen UnusedPruner been called anywhere except the test files. Is this supposed to be so?

[2018-09-17 10:16] chriseth commented on #4969
Decision in call: address and address payable are two different types, just as uint and uint8 are. Nothing special will be done about inheritance / overloading.

[2018-09-17 10:19] chriseth commented on #4969
Decision in call: Since `address` can be in principle converted to `address payable`, it is probably safer to just return `address` from ecrecover.

 - [x] add a link from ecrecover to address where it is explained how to typecast. #5005

[2018-09-17 10:52] chriseth opened #4993 "Document that external function types can be converted to address"
It may be better to introduce `.address` instead in 0.6.0.

[2018-09-17 10:55] chriseth opened #4994 "Replace explicit cast from external function types by member"
To reduce confusion, external function types should have a `.address` member instead of the explicit conversion to address.

[2018-09-17 13:31] ChrisChinchilla commented on #2180
@pirapira Took a pass at this here - https://github.com/ethereum/solidity/issues/2180

Read further comments on that PR

[2018-09-17 13:50] chriseth commented on #2931
It will be possible eventually, but I don't think we need to keep this issue open. You could also do things like:
[code]

[2018-09-17 13:50] #2931 closed, assigned to nobody

[2018-09-17 14:11] chriseth commented on #1444
Actually the components are all there, but it does not state which oder they should be in.

I guess it should be:

import statements

interfaces

libraries

contracts

inside contracts / libraries / interfaces: type declarations first, then state variables, then events, then functions. It might make sense to declare types close to their use in events or state variables though.

[2018-09-17 14:21] chriseth opened #4997 "Commandline tests fail locally"
This is what I'm getting:
[code]

So somehow it does not read the newlines correctly, I assume. It might also just the printing of the error message that has the error.

[2018-09-17 14:22] chriseth commented on #4997
@liangdzou you wrote the tests if I'm not mistaken. Could you take a look here, please?

[2018-09-17 14:33] chriseth commented on #4987
Sorry, I don't really understand. Just add `solAssert(_type.isValueType(), "")` to the beginning of these functions. Which kind of macro or template do you propose?

[2018-09-17 14:53] chriseth commented on #4627
@herrBez thanks that you want to help out! Please create a pull request early so that we have a place for discussion. I'm not too much into how to extract coverage information either, but I think you have to compile with `cmake -DCOVERAGE=ON ..; make` and then use the codecov tool. If we are lucky, you will get coverage results on the pull request itself (but sometimes they are broken).

[2018-09-17 15:03] chriseth commented on #4991
I think if the content of the invariant is an expression, then it should not have `{`-`}`.

Also, the invariant should be used with all external (and perhaps also internal) function calls.

[2018-09-17 15:11] chriseth opened #5000 "Self-testing documentation"
When we state some behaviour of Solidity in the documentation and give an example, the example should be verified as part of the CI runs.

Example:

Notet that the uint256 type wraps around at 2**256: ``uint256(2**256-1) + 1 == 0``

This should be automatically translated to
[code]
and executed to check that it does not throw.

The same should be done with e.g. statements about inheritance, where

[2018-09-17 15:48] #4901 closed, assigned to nobody

[2018-09-17 16:03] herrBez commented on #4627
Thank you very much for the support. I will try to conclude (hopefully soon!) (I am currently using codecov on my fork to see the test coverage). It is ok to make multiple commits or it is better a single commit with the fix for this issue?

[2018-09-17 16:29] chriseth commented on #4627
Feel free to do it in whatever way you like. At the end, depending on the amount of changes, a single commit is probably best, but it can always be squashed.

[2018-09-17 16:35] #3339 closed, assigned to nobody

[2018-09-17 17:03] #1190 closed, assigned to ChrisChinchilla

[2018-09-17 17:06] anurag-git commented on #3667
Yes,still working this issue. WIP PR already submitted.

Regards,
Anurag Dashputre

On Mon 17 Sep, 2018 21:48 Gitcoin.co Bot, <notifications@github.com> wrote:

[2018-09-17 17:18] chriseth commented on #3645
I'm currently reading through it and will continue at https://solidity.readthedocs.io/en/develop/types.html#fixed-point-numbers

[2018-09-17 17:36] lazaridiscom commented on #4987
me neither, this is more or less a full draft out of intuition. Just ignore for now.

[2018-09-17 19:16] mestorlx commented on #4066
@vs77bb Is this issue still open?
I would like to work on it.

[2018-09-18 05:55] Meshugah commented on #4894
@liangdzou what test's could I run to see if the changes are running correctly/ where do i look for what I can pass into the function TypeChecker?

[2018-09-18 07:12] tpmccallum commented on #2147
@JechoJekov Thanks Champ

[2018-09-18 10:25] axic commented on #4261
Should also mention this workaround: https://github.com/ethereum/solidity/issues/2931#issuecomment-422024109

[2018-09-18 12:23] #4532 closed, assigned to ChrisChinchilla

[2018-09-18 12:25] chriseth commented on #4987
I'm sorry, but could you please just add that to #4891 ?

[2018-09-18 12:25] #4987 closed, assigned to nobody

[2018-09-18 12:30] chriseth commented on #4066
@davidbanu we would really much appreciate you submitting even a preliminary pull request. It is fine if it is not perfect yet. I think in the meantime, @mestorlx you can already start working on it.

[2018-09-18 12:32] chriseth opened #5007 "Compiling stdin with no content leads to internal error"
[code]

[2018-09-18 12:33] lazaridiscom commented on #4987
This construct affects #4891, it does not belong to it. In any way, I file the issue on my clone.

[2018-09-18 12:37] chriseth commented on #4894
@Meshugah just run `isoltest.sh`, it should cover pretty much everything. Please submit a pull request - it is advisable to even do that without running the tests in this case.

[2018-09-18 13:08] chriseth commented on #4987
It is fine to file issues here, but I unfortunately don't understand the problem you are trying to solve.

[2018-09-18 13:28] chriseth commented on #4552
Closing this as we still have #4969

[2018-09-18 13:28] #4552 closed, assigned to ekpyron

[2018-09-18 13:39] #4162 closed, assigned to nobody

[2018-09-18 13:40] #1444 closed, assigned to nobody

[2018-09-18 13:42] mestorlx commented on #4066
great, on it!

[2018-09-18 13:45] liangdzou commented on #4894
I usually run "build/test/tools/isoltest". I think it is somehow the same as @chriseth said. Sometimes, I also run solidity/test/cmdlineTests.sh. When you submit a PR, there will be an online test. You will find out what tests are important for you.

[2018-09-18 13:46] nalepae commented on #4162
Yes I did !

[2018-09-18 13:50] nalepae commented on #4162
Yes I did !

[2018-09-18 14:17] #3761 closed, assigned to leonardoalt

[2018-09-18 17:48] lazaridiscom commented on #4987
All fine. I understand your need to keep mental control of the issue here in the repo. I'll simply "breed" any of my non-concrete issues at my repo, moving them over when they are mature and clear.

[2018-09-18 18:38] feuGeneA commented on #1141
Please add these items to the checklist in the original message:

* Support for `@dev` tag on a contract
* Support for `event`s

---

Also, I think you can safely check off the item "parameter names."  The devdoc output from v0.4.24 is showing parameter names:

[code]

And, with the merging of #4542 , it seems that you can also check off "constructor."

---

Also, @chriseth , [you mentioned above]

[2018-09-18 22:54] vs77bb commented on #4066
Hi @mestorlx mind clicking 'Start Work' on Gitcoin [here](https://gitcoin.co/issue/ethereum/solidity/4066/891)?

[2018-09-18 22:54] vs77bb commented on #3667
Snoozed Gitcoin Bot for 10 days!

[2018-09-18 23:19] lastmjs commented on #4502
I'm trying to redeem the tip, but it doesn't work and when I look at the console I get this error: `Uncaught Error: Invalid number of arguments to Solidity function`

[2018-09-18 23:20] lastmjs commented on #4502
I wonder if it has something to do with the creator of the tip not putting their name in correctly or something

[2018-09-19 04:24] mestorlx commented on #4066
@vs77bb and @chriseth I just submitted a PR (#5014) that would like to get some feedback.

[2018-09-19 06:22] Sunandas1 commented on #2742
I'm following this tutorial!  but got error -> "TokenCreate has not been deployed to detected network (network/artifact mismatch)" <br> while running command =>TokenCreate.deployed().then(inst => { crowdsale = inst } ) <br>
is any idea to  resolve it ?

[2018-09-19 06:34] Sunandas1 commented on #2742
@HaleTom @chriseth  try this => import "../../node_modules/zeppelin-solidity/contracts/crowdsale/emission/MintedCrowdsale.sol"; <br>

import "../../node_modules/zeppelin-solidity/contracts/crowdsale/validation/TimedCrowdsale.sol"; <br> I hope it'll work for you!

[2018-09-19 08:23] axic opened #5015 "Document that pragmas (sometimes?) are preserved across import statements"
See https://github.com/ethereum/solidity/pull/5009#discussion_r218447324

[2018-09-19 11:00] ghost opened #5017 "void"

[2018-09-19 11:39] decanus opened #5018 "Feature to allow libraries to be added to multiple datatypes without using wildcard"
## Abstract

The goal of this feature is to add the ability to apply a library to multiple data types easily without having to use the wildcard statement.

## Specification

There are 2 possible ways to represent this.

### 1

[code]

### 2

[code]

[2018-09-19 12:40] chriseth commented on #5017
I see documentation as an integral part of any software project. Because of that, most changes to the code also often include changes to the documentation. Currently, we are doing an overhaul of the documentation as a preparation for the 0.5.0 release and because of that, there is more documentation traffic as opposed to code changes. Because of versioning (and other reasons), I think documentatio

[2018-09-19 12:41] chriseth commented on #5018
I like the second option!

[2018-09-19 12:42] #4950 closed, assigned to nobody

[2018-09-19 12:59] chriseth commented on #3645
Updated everything up to and not including Reference Types.

[2018-09-19 13:02] lazaridiscom commented on #5017
I like to be able to select the subsystems which I follow, thus I see only traffic (new issues & PR's, comments) of the subsystems of my interest.

github does not provide this functionality: it does not allow to filter issues out, thus when viewing https://github.com/notifications, i get many traffic (today it was 48 new entries).

Within solidity, many of those entries affect documentation, and

[2018-09-19 13:12] #4969 closed, assigned to leonardoalt

[2018-09-19 13:13] #4948 closed, assigned to nobody

[2018-09-19 13:25] erak opened #5023 "Extend storage layout documentation"
The storage layout of mappings and dynamic arrays should be explained in more detail. Also explaining how ``push()`` and ``pop()`` work would be beneficial.

[2018-09-19 13:32] chriseth commented on #5023
push and pop should be explained in the type section in terms of delete, incrementing length, etc.

[2018-09-19 13:45] chriseth commented on #5017
Prefixing the title is probably a good idea, thanks for the suggestion! I don't see any other solution either.

[2018-09-20 04:31] wuya666 opened #5028 "Any documentation on how to compile solc into soljson?"
There are instructions on how to compile solc and soltest, there are also pre-compiled soljson releases in the solc-bin repository, but I can't seem to find any clear instructions on how to build soljson from the source?

[2018-09-20 08:41] lazaridiscom commented on #5017
The prefix would work (I guess it just needs to be mentioned somewhere)

[2018-09-20 08:41] #5017 closed, assigned to nobody

[2018-09-20 09:07] #4899 closed, assigned to nobody

[2018-09-20 09:58] chriseth commented on #5028
The reason is because it is not that easy. There is the script `scripts/build_emscripten.sh` but it has some quirks. If you are up to it, we would love to have your feedback about it and incorporate it into the documentation.

[2018-09-20 10:24] #4259 closed, assigned to ChrisChinchilla

[2018-09-20 11:50] ekpyron commented on #4994
I vote for this!

[2018-09-20 12:57] chriseth commented on #3645
Read documentation up to and not including "Contracts".

[2018-09-20 19:08] #4802 closed, assigned to nobody

[2018-09-20 19:37] chriseth opened #5042 "Check: Can view functios call view library functions?"
Are view functions allowed to call public view functions of libraries? This should not be possible because we cannot use staticcall here, we have to use delegatecall (because of storage access). We would need a combination of staticcall/delegatecall.

[2018-09-20 21:09] chriseth commented on #3645
Will continue with "Security Considerations".

[2018-09-21 01:16] liangdzou commented on #4674
@meowingtwurtle Can you submit your PR, we can work together to get it ready. :-)

[2018-09-21 01:30] randomnetcat commented on #4674
#4795. Again, it is waiting for more code review, as the core team is preoccupied with the next release.

[2018-09-21 02:10] maurelian opened #5046 "Keyword to declare source code which is inheritable, but not compilable."
My most frequent pain point with inheritance is ambiguity about _"which of these things are actually being deployed"_.

A typical repository might have 30 `contracts`, but only 5 or 6 derived contracts which compile to bytecode that will be deployed. For example, there is no reason to ever deploy a contract which is simply `Ownable`, so why would that be declared as `contract Ownable { ... }`.

I

[2018-09-21 02:15] maurelian commented on #5046
@fulldecent I felt like this deserved it's own issue. Feel free to place your `abstract` proposal in a comment here.
For other's it's here: https://github.com/ethereum/solidity/pull/3729#issuecomment-423379028

The term abstract has never made a lot of sense to me in this context, but I've seen it used for precisely this purpose so it might be the best choice. I like the behaviors you proposed as

[2018-09-21 03:04] fulldecent commented on #5046
Consider the keyword `abstract`.

Example from https://github.com/0xcert/ethereum-utils/blob/master/contracts/ownership/Ownable.sol

[code]

Nobody in their right mind would deploy the `Ownable` contract, even though it is presently possible. The keyword `abstract` removes the ability to compile this contract. And in the Remix IDE, abstract contracts won't even show up as compile targets.

In addi

[2018-09-21 05:45] xuyangm opened #5047 "something wrong when I wrote two contracts to test interface feature"
I wrote two contracts to test interface feature:
[code]
[code]

Both of the two contracts are deployed on my private chain. Firstly, in my node.js code I call the query function of TestFather contract and print its address:
[code]
the result is:
[code]
then, I call the test function of TestSon contract and print its address:
[code]
the result is:
[code]
this is not as my expection. Why?

[2018-09-21 06:36] liangdzou commented on #4674
thanks :-) I will take a look at this weekend.

[2018-09-21 10:37] leonardoalt commented on #4537
Missing support to compound assignments

[2018-09-21 10:43] leonardoalt commented on #4564
Missing support to compound assignments

[2018-09-21 10:47] leonardoalt commented on #4566
Missing support to modifier parameters

[2018-09-21 13:12] axic commented on #5047
Not exactly sure what the expectation is, but the Javascript snippets don't seem to be complete.

I think this question is better suited for https://ethereum.stackexchange.com or https://gitter.im/ethereum/solidity

[2018-09-21 13:12] #5047 closed, assigned to nobody

[2018-09-21 13:14] axic commented on #5046
There is a long outstanding issue to track this: #649

Is it possible to move this discussion over there?

[2018-09-21 13:21] axic opened #5048 "Crash with nested struct types"
From solfuzz:
[code]

This causes a null pointer dereference now.

[2018-09-21 13:24] axic commented on #5048
A reduced example:
[code]

Error after #5049 is merged:
[code]

[2018-09-21 13:59] axic opened #5051 "getChecksummedAddress crash with invalid input"
Found by solfuzzer. Uploaded the example as it may contain unreadable characters.
[checksummed.txt](https://github.com/ethereum/solidity/files/2405615/checksummed.txt)

[2018-09-21 14:01] chriseth commented on #4900
Closing for now. Please re-open if you can reproduce the issue.

[2018-09-21 14:01] #4900 closed, assigned to nobody

[2018-09-21 14:16] axic commented on #5051
This seems to be a bug in the scanner for hex numbers actually.

[2018-09-21 14:23] axic commented on #5051
Minimal example:
[code]

Error:
[code]

It actually has been introduced with #4684.

[2018-09-21 14:29] axic opened #5052 "Hex literal erroneously handled as >32 FixedBytes type"
Found by solfuzzer.

[code]

The error:
[code]

It seems to be introduced with #4684.

[2018-09-21 14:33] axic opened #5053 "Invalid expression causes assertion"
[code]

Error:
[code]
Introduced by #4671.

[2018-09-21 14:37] erak commented on #3645
Should we add a section about arithmetic over / underflows to our "Security Considerations"?

[2018-09-21 14:39] axic opened #5054 "Encoding multi dimensional fixed-length array with 0 length causes crash in codegen"
Found by solfuzzer.

[code]

Error:
[code]

[2018-09-21 14:39] axic commented on #5054
The baseSize is `0` for `bytes32[0][500] memory bytescs`.

Minimal example:
[code]

[2018-09-21 14:51] axic opened #5055 "Accessing internal (internal?) function type in contract causes codegen crash"
Found by solfuzzer.

[code]

Error:
[code]

[2018-09-21 15:11] axic opened #5056 "Invalid number literal causes crash"
Found by solfuzzer.

[code]

Error
[code]

Also uploaded as a file, because it contains unprintable characters.

[id:000167,sig:06,src:010984,op:havoc,rep:2.txt](https://github.com/ethereum/solidity/files/2405910/id.000167.sig.06.src.010984.op.havoc.rep.2.txt)

[2018-09-21 15:14] axic opened #5057 "Rational number cannot be represented as fixed point type causes crash"
Found by solfuzzer.

[code]

Error:
[code]

Also uploaded two examples as a file, because it contains unprintable characters.

[id:000313,sig:06,src:015830,op:havoc,rep:4.txt](https://github.com/ethereum/solidity/files/2405923/id.000313.sig.06.src.015830.op.havoc.rep.4.txt)

[id:000485,sig:06,src:018965,op:havoc,rep:4.txt](https://github.com/ethereum/solidity/files/2405952/id.000485.sig.06.src.018

[2018-09-21 15:17] axic opened #5058 "Too large multi-dimensional array causes crash"
Found by solfuzzer.

[code]

Error:
[code]

[2018-09-21 15:19] axic opened #5059 "Invalid number literal causes crash"
Found by solfuzzer.

[code]

Error
[code]

Also uploaded as a file, because it contains unprintable characters.

[id:000427,sig:06,src:006817+019026,op:splice,rep:2.txt](https://github.com/ethereum/solidity/files/2405946/id.000427.sig.06.src.006817%2B019026.op.splice.rep.2.txt)

Note: this is in the same codebase but a different assertion than #5056.

[2018-09-21 15:22] axic commented on #5054
I don't think 0-length fixed-size arrays should be allowed, however they are accepted if they are one-dimensional.

[2018-09-21 15:28] chriseth opened #5060 "Yul: Investigate whether CSECodeGen can be used to generate yul"
The CSE code generator is a component that is part of the old optimizer and has the following properties:

It generates code starting from a stack layout (by Expression IDs) and turning it to a target stack layout, while also being provided with a list of storage and memory change operations.

It might be possible to introduce yul variables for each stack slot, reassigning them as part of the code

[2018-09-21 15:28] chriseth commented on #5054
Yep, we can disallow them.

[2018-09-21 18:54] fulldecent commented on #5046
👍 / I'll do one more copy paste

[2018-09-21 18:55] fulldecent commented on #649
I consider `abstract contract` as a type.

Example from https://github.com/0xcert/ethereum-utils/blob/master/contracts/ownership/Ownable.sol

[code]

Nobody in their right mind would deploy the `Ownable` contract, even though it is presently possible. The keyword `abstract` removes the ability to compile this contract. And in the Remix IDE, abstract contracts won't even show up as compile targets.

[2018-09-21 20:43] LucasAschenbach opened #5062 "Code Snippet in Documentation Contains Bug"
If you follow this [link ](https://solidity.readthedocs.io/en/v0.4.25/assembly.html) and scroll down to the second code example for Inline-Assembly you will find a function called `sumPureAsm()` which is supposed to cumulate all elements of a dynamically sized array of the type `uint256`. However, when executing this function the return value is always 0.

This code should fix the issue:
[code]
Th

[2018-09-21 23:29] maurelian commented on #5046
Dupe of: https://github.com/ethereum/solidity/issues/649

[2018-09-21 23:29] #5046 closed, assigned to nobody

[2018-09-22 18:54] chriseth commented on #5062
Thanks for the find! Do you want to create a pull request with the fix? https://github.com/ethereum/solidity/edit/v0.4.25/docs/assembly.rst

[2018-09-22 18:55] chriseth opened #5064 "Consider defaulting to IPFS for metadata hash"
Now that cloudflare added an ipfs proxy, we might be much better off defaulting to ipfs.

Any opinions?

[2018-09-22 20:01] LucasAschenbach commented on #5062
Sure!

[2018-09-22 22:56] LucasAschenbach commented on #5062
The file in the github repository already had the fix when I forked... just the code in the documentation contains the mistake.

[2018-09-24 10:26] liangdzou commented on #4494
PR https://github.com/ethereum/solidity/pull/4958 is waiting for reviewing.

[2018-09-24 10:30] chriseth opened #5068 "`sha3` on its own does not generate warning"
Just `sha3` (without call) does not generate the deprecation warning.

[2018-09-24 10:47] chriseth commented on #5042
Current situation: `delegatecall` is used for view functions in libraries.

I think this is probably fine, becaus library code is usually trusted since libraries cannot be called dynamically. This basically means that the static checker is merely extended to the library.

We should change the documentation, though.

[2018-09-24 10:47] axic commented on #5015
I think this have been a false alarm (it doesn't happen anymore), example:

[code]
[code]

However the pragma section in the documentation could be improved a bit to be more explicitly saying that pragmas are local to the file.

[2018-09-24 11:29] chriseth commented on #1141
The wiki is unmaintained.

[2018-09-24 11:43] ChrisChinchilla commented on #5015
OK, @axic can I check a couple of other things while we're discussing `pragma`s that could also do with docs improvements.

1. What prgama is applied if you don't specify one?
2. If I understand you correctly, and this is just to clarify, so every file is compiled with a different pragma version, even if you import a file into another with two different versions for example?

[2018-09-24 11:53] chriseth commented on #4674
My general comment about #4795 still stands: It is much too complicated, at least I currently do not understand the helper functions.

[2018-09-24 12:24] chriseth commented on #3645
Yes, please do!

[2018-09-24 12:32] chriseth opened #5071 "Yul: Implement "expression breaker' and simplify full function inliner"
The optimizer should have a stage that breaks every single expresison which is at the statement level into sub-expressions which each go into their own variable declaration. This is currently partly done in the full inliner, but the full inliner would be much easier to implement if this were done for all expressions (which are not part of conditions), everywhere.

The expression breaker step can b

[2018-09-24 12:43] #4627 closed, assigned to nobody

[2018-09-24 12:56] chriseth commented on #5062
Ah I'm sorry, then I didn't pay close enough attention. Thank you anyways!

[2018-09-24 12:56] #5062 closed, assigned to nobody

[2018-09-24 13:29] ChrisChinchilla commented on #3320
Now in progress on #4989

[2018-09-24 13:29] #3320 closed, assigned to nobody

[2018-09-24 13:34] ChrisChinchilla commented on #5000
I also have a lot of text linting tools I would love to add too. They are probably simpler after some configuration, and you can define what error threshold 'breaks' a build etc.

[2018-09-24 13:38] #3172 closed, assigned to nobody

[2018-09-24 13:40] ChrisChinchilla commented on #4134
This was closed by https://github.com/ethereum/solidity/pull/4202

[2018-09-24 13:40] #4134 closed, assigned to nobody

[2018-09-24 13:41] ChrisChinchilla commented on #3541
Looks like this was resolved.

[2018-09-24 13:41] #3541 closed, assigned to nobody

[2018-09-24 16:44] Meshugah commented on #4894
I'm still working on this

[2018-09-25 02:14] anurag-git commented on #3667
Yes.I am still working on it but this week bit busy. Can the bot be snoozed
for a week.

Regards,
Anurag Dashputre

On Sun 23 Sep, 2018 21:46 Gitcoin.co Bot, <notifications@github.com> wrote:

[2018-09-25 02:41] vs77bb commented on #3667
Just snoozed for 5 days 👍

[2018-09-25 02:43] vs77bb commented on #4494
Thanks @liangdzou; Snoozing Gitcoin Bot for 10 days here 👍

[2018-09-25 02:46] vs77bb commented on #4502
@lastmjs Sent this to our dev team; will message you on Gitcoin Slack when we figure it out 👍

[2018-09-25 03:03] liangdzou commented on #4494
👍

[2018-09-25 14:42] chriseth opened #5074 "Yul: Optimize Name Dispenser"
The name dispenser currently performs a linear search. It would be better if it could store the latest counter (perhaps depending on the prefix, but that might be more work than necessary) so that it starts trying with a counter that is most likely free.

[2018-09-25 15:59] chriseth opened #5077 "Remove mention of callstack depth"
Or updated it to the new 64/63 rule.

Search documentation for "1024".

[2018-09-25 16:59] axic opened #5081 "Semver checker doesn't work with ^0"
[code]

I think `^0` should work for any `0.y.z` version, but I may be mistaken.

[2018-09-25 17:46] chriseth commented on #4993
Closed by https://github.com/ethereum/solidity/pull/5022

[2018-09-25 17:46] #4993 closed, assigned to nobody

[2018-09-25 19:08] axic commented on #2511
I don't remember, this was prior the introduction of the project feature.

[2018-09-25 19:08] #2511 closed, assigned to nobody

[2018-09-25 19:09] #5015 closed, assigned to ChrisChinchilla

[2018-09-25 20:43] axic commented on #5064
Do you have a suggestion for metadata configuration options in standard json?

[2018-09-25 22:38] axic commented on #4648
My suggestion is that in `libdevcore/CommonData.h` `formatNumber` is extended to either have a flag or have another function (like `formatNumberReadable`) in which case it decomposes the number as suggested by @ekpyron.

This function is currently used by both the SMT checker and the Yul optimiser.

[2018-09-25 22:44] axic commented on #4994
Hm, interesting idea.

I guess we cannot do the same with contract types, because that would conflict function members. So that is a disparity between the two.

However, we already have `.selector` on functions (including function types), so this feature should be in line with that.

I'd suggest we consider implementing it earlier (0.5.2?) and deprecating the explicit conversion.

[2018-09-25 22:46] axic commented on #4991
This kind of calls for `static_assert`-esque feature :)

[2018-09-25 22:48] axic commented on #4910
Actually it seems that `.iscontract()` could be implemented by just using `extcodehash`.

[2018-09-25 22:50] axic commented on #4858
#4034 is implemented now (albeit not merged for 0.5.0).

I think @rmeissner you should have a test when that's done, see the cost change and take the discussion from there.

I am still kind of leaning towards that adding an optimiser feature [as described here](
https://github.com/ethereum/solidity/issues/4858#issuecomment-415744724) is useful. It is better to offer such a safe solution, than leav

[2018-09-26 08:28] rmeissner commented on #4858
I assume it would be 0.5.1 in that case? We are planning on always testing against the newest compiler, so I will check it out 🙂

[2018-09-26 12:45] chriseth commented on #4994
I would say we implement all things we are quite confident about and make 0.6.0 early.

[2018-09-26 12:51] chriseth opened #5097 "Brainstorm scope of 0.6.0"
Likely candidates:
 - <external_function_type>.address #4994
 - disallow shadowing everywhere
 - introduce `virtual` and `override`
 - using L for a,b,c; #5018

I would also like to have the fallback function split, but we still have not decided on a name.

Perhaps we should not think about a full redesign of inheritance and just disallow what people annoys currently.

[2018-09-26 12:55] #5054 closed, assigned to erak

[2018-09-26 14:36] #2180 closed, assigned to ChrisChinchilla

[2018-09-26 14:41] chriseth commented on #5081
If someone takes this, please check if it should work or not.

[2018-09-26 14:56] chriseth commented on #5064
I thought about just switching, but the config option might be named `metadataCAS: ipfs` (content-addressed-storage)

[2018-09-26 15:10] chriseth commented on #4858
You can use https://34581-40892817-gh.circle-artifacts.com/0/soljson.js

[2018-09-26 15:33] #4975 closed, assigned to erak

[2018-09-26 15:34] chriseth commented on #3860
@axic is there something else to do here?

[2018-09-26 16:08] axic commented on #3860
We can open a new issue for tracking fixed point types only or request it to be filled within the fixed point PR.

[2018-09-26 19:28] asifmallik commented on #3968
@gdipri01 could you please release the bounty?

[2018-09-26 21:28] axic opened #5103 "Add tests for flipping the sign on (un)signed types for edge case values"
From https://github.com/ethereum/solidity/pull/5087#discussion_r220715840:

Add end to end tests for:
[code]

[2018-09-26 21:29] #3860 closed, assigned to chriseth

[2018-09-26 21:34] axic commented on #5077
I don't think it should be removed since we support `evmVersion` and one can compile for an older chain. It should be just extended to explain the new rules too.

[2018-09-27 00:31] axic commented on #3452
@yann300 @iurimatias @gnidan @cgewecke the plan now for 0.5.0 is that:
- `compile` and `compileStandard` would be gone
- `compileStandardWrapper`  would be renamed to `compile`

This means all of you would need to change the code to use `compile`, but the format passed to or received from it wouldn't change.

[2018-09-27 08:53] chriseth opened #5107 "Yul: Investigate potential memory-management optimizations and types"
Related: https://github.com/ethereum/solidity/issues/4033

@Arachnid recently observed that in `function f(bytes32 a)`, the expression `keccak256(abi.encode(a, a))` is much more expensive than the old `keccak256(a, a)`. We should improve the optimizer to reduce both cases to the same code, which should roughly be `mstore(0, a) mstore(0x20, a) let result := keccak256(0, 0x40)`.

The problem is that

[2018-09-27 08:54] chriseth commented on #5107
Tasks: formalize this :)

[2018-09-27 09:03] liangdzou commented on #5107
Sounds interesting, will have a try :-)

[2018-09-27 10:58] legioner0 opened #5109 "ecrecover return wrong values"
I found strange behavior of function `ecrecover` in solidity 0.4.24 and 0.4.25 - some input data leads to wrong return value.
Here is project with proof: https://github.com/legioner0/ecrecover-failed
In this project test working in `ganache`, but I started my investigation, when transactions to contract with similar logic on mainnet failed.

## Environment

- Compiler version: 0.4.24 and 0.4.25
-

[2018-09-27 11:29] chriseth commented on #5109
Thanks for the report! Unfortunately, the truffle test case is rather hard to follow. Can you provide the source code, the inputs, the actual outputs and the expected outputs? Are you able to reproduce the same execution in Remix?

[2018-09-27 15:11] chriseth opened #5112 "Finish solc-js"
- https://github.com/ethereum/solc-js/issues/120

[2018-09-27 16:00] mikgross commented on #3594
Hi @axic , has this issue advanced in any way? cheers!

[2018-09-27 16:07] liangdzou commented on #5107
Example:
[code]

Generated code:
[code]

The lines 111-150 calcuate abi.encode(a, a) and store it to memory, where the stack changed from "..., a" to "..., a, encode_loc".
The encoded result in memory has 0x60 bytes, and the content is "0x40, a, a".

The lines 152-157 calcualtes the keccak256(encode_loc + 0x20, 0x40)

Observations:
1. the encoded result is only used in function keccak256, therefor

[2018-09-27 20:22] mestorlx commented on #5081
According to the [docs](https://solidity.readthedocs.io/en/v0.4.25/layout-of-source-files.html#version-pragma) that should not work since will allow only the right most number to be anything to avoid breaking changes. However, this is not the behaivour specified in [npm](https://docs.npmjs.com/misc/semver#caret-ranges-123-025-004), and the docs clearly state that "It is possible to specify much mo

[2018-09-27 20:50] mestorlx commented on #5081
I do believe there is an issue if npm rules are accepted. According to npm docs "A missing minor and patch values will desugar to zero, but also allow flexibility within those values, even if the major version is zero." so
`pragma solidity ^0.4.0;` and `pragma solidity ^0.4;` should be equivalent, however the latter does not work in Version: 0.4.26-develop.2018.9.27.  The version of solc installed

[2018-09-27 20:53] legioner0 commented on #5109
Ok, I updated my project. Now it has cli with deployment function. It may be useful for future investigation.

So, here https://ropsten.etherscan.io/address/0x4e146f2a85f51d73aa56cf84b1879e1c2fb056d5 is my test contract with verified source code.

Pkey used for sign is `0x57983e408e9a2cc43e5a9bf3285960bf0e79b1d06a667034d50e0a0ea01ef5dc` and `0xa411a48f77723c04ad91ec608edffc30151e50ea` it's corresp

[2018-09-28 04:10] legioner0 commented on #5109
And third example:
For user `0x00131d69610d7ba5915f63e81db22b7c6a1e2d6e` signature is `{v: 0x1c, r: 0xb59a76f825b501cd2d116f8b672308a9a5f875e177f5ecf83bec004a06e235e0, s: 0x2fb9a7d44e7065cde9241c71816121277f5c9668abd0bb46a9edc7a764274180}` and ecrecover in contract return incorrect value - `0x39676acd4cd1482d43c3e69acfb1c7100c151ff6`. At same time ecrecover from `ethereumjs-util` return correct va

[2018-09-28 13:35] JuliusBrain commented on #2742
@chriseth When I'm using solc to compile a contract which uses contracts from openzeppelin, I get `Error: Source "openzeppelin-solidity/contracts/math/SafeMath.sol" not found: File outside of allowed directories.`

[2018-09-28 14:58] BingXinJiang commented on #5109
I have this problem too

[2018-09-28 23:04] mestorlx commented on #4184
The output from `$(tput sgr0)` in my local terminal is `^[(B^[[m` so I believe the problem  is on how the websconsole interprets `tput sgr0`. One possible solution is to use `tput setaf 7` which will set the font to white rather than turn off all attributes.
I submitted PR #5115 which replaces `tput sgr0` with 'tput setaf 7' to test this and seems to work.

[2018-09-29 05:12] nweller opened #5116 "Potential optimizer problem in bytes32 shift"
Using truffle and ganache-cli (ethereumjs-testrpc-sc 6.1.6) with various binary solc as well as solcjs versions including the recent 0.4.25 release, enabling optimization in truffle with:

    solc: {
      optimizer: {
        enabled: true,
        runs:  0
      },

causes the test case below to produce this ganache-cli error, which terminates the test:

    eth_sendTransaction
    Error: redPo

[2018-09-29 13:24] axic commented on #5116
Both ganache and Remix use ethereumjs-vm and this seems to be a problem with ganache using an old version. `redPow` is used internally to do exponentiation, and on pre-constantinople EVM, shifts are done using a combination of multiplication/division and exponentiation.

While both of these tools are good to get some initial idea if something might be broken, I would not at all rely on their accur

[2018-09-30 04:49] ChrisCates commented on #4648
Here is my suggestion as an implementation.

`formatNumber()`, now has an optional argument `bool readable`:
[code]

When `readable = true` for `formatNumber()`, it then invokes the `removeLeadingZeros()` function:
[code]

If you have any feedback. Let me know.
If not, I'll submit a pull request with a proper solution.

[2018-09-30 04:55] passionofvc opened #5118 "compiler [Stack too deep, try removing local variables] even return parameter number less than 7"
try compile Test.sol it show me error, but replace last return parameter type to address , it compile well.
Does this is a compiler bug?

Test.sol:15:57: Compiler error: Stack too deep, try removing local variables.
         return (hash, prefix_hash, sig, owner, signer, amount);

## Environment

- Compiler version:
$ solc --version
solc, the solidity compiler commandline interface
Version: 0.4.25

[2018-09-30 15:48] lazaridiscom commented on #4924
@chriseth , closing this, moved it to my clone until I'm clear of whats needs to be don in in what sequence.

[2018-09-30 15:48] #4924 closed, assigned to nobody

[2018-09-30 19:19] ChrisCates commented on #4648
Also, can the `CommonData.h` (and all other files) use `using namespace std`...
The `std::` prefix can be used if there are any conflicts in function declarations...

Saves time in the future, and, looks cleaner, since obviously the standard library is frequently used.

[2018-09-30 22:20] nweller commented on #5116
Thank you very much for the information, Alex.  I can confirm that ethereumjs-testrpc-sc appears to use an outdated ethereumjs-vm fork (already found another case - "Error: Already a number in reduction context" - , which cannot be reproduced in Remix either). I'll take it to the truffle / ganache-cli developers.

I've tried your suggestion of getting started with aleth, but this hasn't worked for

[2018-09-30 22:20] #5116 closed, assigned to nobody

[2018-10-01 10:27] chriseth commented on #5118
It is a limitation we will hopefully be able to lift soon, but not a bug. You could try to assign return values instead of using `return` and also split statements into multiple smaller ones.

[2018-10-01 10:27] #5118 closed, assigned to nobody

[2018-10-01 10:34] chriseth commented on #5109
Please dig deeper into this and check what the actual input data for the ecrecover precompile is. Perhaps this can help you: https://ethereum.stackexchange.com/questions/15364/ecrecover-from-geth-and-web3-eth-sign

This is very likely not an issue with the compiler.

[2018-10-01 11:11] chriseth commented on #2742
@JuliusBrain use `solc --allow-paths`

[2018-10-01 11:24] #3667 closed, assigned to nobody

[2018-10-01 11:40] chriseth commented on #3186
This should be implemented in a library.

[2018-10-01 11:40] #3186 closed, assigned to nobody

[2018-10-01 11:42] #3178 closed, assigned to nobody

[2018-10-01 11:43] JuliusBrain commented on #2742
what should I put in the `--allow-paths` to make it work? My project have typical truffle structure.

[2018-10-01 11:44] chriseth commented on #4429
This has been mentioned by the zeppelin audit again. I think we should either completely remove this feature with 0.5.0 or turn it into something like:

[code]

[2018-10-01 11:44] chriseth commented on #4429
I'm escalating this issue above "documentation only".

[2018-10-01 11:49] leonardoalt commented on #4648
@ChrisCates I don't think that solution does it.

I think we should rather go with @ekpyron 's suggestion (https://github.com/ethereum/solidity/issues/4648#issuecomment-409722658), also brought up by @KevinKelley (Solution 3 here: https://github.com/ethereum/solidity/issues/4648#issuecomment-425289955)

[2018-10-01 12:10] chriseth commented on #2742
Perhaps your project directory?

[2018-10-01 12:51] christianparpart commented on #5097
I'd like to add my most favorite contenders to your list:
* compile time evaluated functions (functions without side-effects and with input parameters known at compile time should not generate the CALL-opcodes but instead evaluate the result at compile-time and use that directly at runtime - this would requiere a TinyEVM within solidity)
* major rewrite of diagnostics reporting (so we can support

[2018-10-01 12:52] #4184 closed, assigned to nobody

[2018-10-01 12:55] christianparpart commented on #5081
That is exactly how I understand it too @mestorlx. @chriseth if you agree, I'd take this one over.

[2018-10-01 12:57] axic commented on #5097
#3157 & #3878

[2018-10-01 13:23] christianparpart commented on #4924
@lazaridiscom I could be at help here maybe, as I'm working coding on Solidity on both (Linux as well as on Windows, and even on Windows-Subsystem-for-Linux). It all works "just" fine, but documentation certainly could need an improvement. (I am using VS2017 latest version, with its built-in CMake-support).

So please contact me in Gitter, email or here, in case.

[2018-10-01 13:49] axic commented on #4429
We have preferred the "standard json" to be used, instead of the command line `--link` option. The "standard json" supports linking options as an input, but also outputs linking offsets properly.

To improve the current situation, we could change the placeholder, but shouldn't remove it, otherwise unlinked code with 0x0 library addresses could be deployed.

I suggest to change it to `__<hash>__`,

[2018-10-01 13:50] chriseth commented on #4429
Note that this is just about library contracts, not functions. The fact that we do not know the libraries involved anymore is actually a big drawback.

[2018-10-01 13:51] chriseth commented on #4429
Although I think that standard-json already has a list of unlinked references and thus we should not need the list you mention.

[2018-10-01 14:01] mxmauro commented on #4429
@axic, a hash is a good idea but unless you also add the mapping `hash` -> `filename` in the output, you should specify how paths are treatened, for e.g., is backslashes are converted to slashes, if paths are normalized, etc. when the hash is calculated.

[2018-10-01 18:20] legioner0 commented on #5109
@chriseth, I know about this feature with prefixed hash. That's why I used `EthUtil.ecsign(EthUtil.keccak(Buffer.from(user.replace(/^0x/, ''), 'hex')), Buffer.from(pkey, 'hex'))` instead of `EthUtil.ecsign(EthUtil.hashPersonalMessage(EthUtil.keccak(Buffer.from(user.replace(/^0x/, ''), 'hex'))), Buffer.from(pkey, 'hex'))`. And also I tested my code - 11 of 100 input data variants failed the test, o

[2018-10-01 19:15] chriseth commented on #5109
If it fails for some inputs and succeeds for some others, the error is very very likely not in Solidity but rather in the VM implementation. Please compare the actual inputs to the ecrecover precompile with the actual inputs you supply to the other ecrecover implementation you use. Note that there are also different definitions of what a valid input for ecrecover is supposed to be.

[2018-10-01 19:18] lazaridiscom commented on #5118
@passionofvc, as @chriseth  said, it's not a bug, but a known limitation / known issue.

Now, for the case that you assume that it should work, because an `address` has the same size with an `uint256`:

Within https://github.com/ethereum/wiki/wiki/Ethereum-Contract-ABI#types, you'll see that the size of `address` is **20 bytes** or 160bits, thus its 96bits or **12 bytes smaller** than a uint 256.

[2018-10-01 19:22] chriseth commented on #5118
The reason for the difference is not the number of bytes in the memory representation (which actually is 32 for both types if you read the ABI closely) but the fact that you read `owner` from storage and not from the stack.

[2018-10-01 20:09] lazaridiscom commented on #5118
Oh my... I've a long way to go!

[2018-10-01 20:16] ghost opened #5129 "void"

[2018-10-01 20:18] lazaridiscom commented on #4924
@christianparpart , thank you! I set a new goal: to improve the documentation by reducing it down to ideally zero (by simplifying the underlying systems, see an example issue: #5129). I'll focus initially on nix, once simplified enough, going over to win (WSL and Native).

This is mostly a limited-time "newcomer" and"lonely-wolf" task (one mind abstracts/simplifies an overall system in one pass du

[2018-10-01 21:38] ChrisCates commented on #4648
@leonardoalt, makes sense... Since, all I'm doing is just truncating trailing zeros.

I've made some revisions that may be more preferable and work along the lines of what @ekpyron and Kevin proposed...

[code]

I've also written some test cases for this snippet and it results in what seesm to be the correct answer... Please verify if incorrect...

[code]

If there are any issues with what I've co

[2018-10-01 22:04] ChrisCates commented on #4648
@leonardoalt, makes sense... Since, all I'm doing is just truncating trailing zeros.

I've made some revisions that may be more preferable and work along the lines of what @ekpyron and Kevin proposed...

[code]

I've also written test cases...
Please verify that the following are correct...

[code]

Please let me know if there are any issues with the solution I provided! 👍
If not, I assume we need

[2018-10-02 01:49] KevinKelley commented on #4648
@ChrisCates ...another testcase for your code... that line `if ((hex.size() - 1) % 2) != 0) i++;` is suspect :)
    BOOST_CHECK_EQUAL(formatNumberReadableChris("0x880000"), "0x88 * 2^16");
    // yields 0x880 * 2^16; should be 0x88 * 2^16

I've got a prelim version working, slightly differently... I take a template parameter for the input value, accepting u256 or bigint; and I'm also handling the

[2018-10-02 02:02] nweller opened #5130 "Internal compiler error for call to unimplemented "super" function"
The following contract produces an internal compiler error in various solc versions, including the most recent build in Remix:

    contract a {
        function f() public;
    }
    contract b is a {
        function f() public { super.f(); }
    }

It does compile (but cannot be deployed due to the missing implementation) if I rename a.f().

(This report is part of an ICE Center@ETH Zurich proj

[2018-10-02 02:18] ChrisCates commented on #4648
Feel free to share a gist @KevinKelley!

Also thanks for catching that!
I should have a reference counter for the number of zeros as opposed to checking the length of the string...

Since I actually use an inverse for loop. I can't simply just use `int i`.
Also, thanks for mentioning 0xf.. cases... Something that should also be accounted for.

[2018-10-02 03:19] axic commented on #5130
[code]

[2018-10-02 08:30] wighawag commented on #2099
Note that there is now an ERC to discuss the potential benefit of namespacing function for use in the same contract : https://github.com/ethereum/EIPs/issues/1407

[2018-10-02 08:43] chriseth commented on #5130
What do you mean by "rename a.f()"? Can you post the full changed contract that does compile, please?

[2018-10-02 08:45] chriseth commented on #5129
We do have `soltest.sh` that does the trick, of course that needs a shell or even bash.

The problem with doing the same for a binary is that I don't know if there is a way for the binary to discover its own path.

I don't think we should make assumptions about the CWD.

[2018-10-02 08:46] chriseth commented on #4429
We could internally only use the hash, and just append a mapping `hash -> fully qualified library name` for informative purposes.