[2020-11-30 11:04] chriseth commented on #10426
Should be similar to `storage: empty / non-empty`

[2020-11-30 11:05] #3089 closed, assigned to nobody

[2020-11-30 11:06] bshastry opened #10436 "[FixedHash] Segmentation fault in operator <"
## Description

[code]

throws a segmentation fault due to out-of-bounds read

https://github.com/ethereum/solidity/blob/a5a560e163c25044412b7ed6c867a8bd5cfb26f6/libsolutil/FixedHash.h#L117

It looks like `_c.m_data[i]` is responsible for the out-of-bounds read.

## Environment

- Compiler version: breaking

## Steps to Reproduce

[code]

preferably with valgrind/ASan

[2020-11-30 11:19] bshastry opened #10437 "[TypeChecker] ICE in ContractType::nativeMembers"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/656cb810a446e68d4c275d5900c9553e172740a6/libsolidity/ast/Types.cpp#L2161

## Environment

- Compiler version: breaking

## Steps to Reproduce

[code]

[2020-11-30 11:26] bshastry opened #10438 "[codegen] ICE in StackHeightChecker::check"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/656cb810a446e68d4c275d5900c9553e172740a6/libsolidity/codegen/ContractCompiler.cpp#L79-L82

## Environment

- Compiler version: breaking

## Steps to Reproduce

[code]

[2020-11-30 11:36] leonardoalt opened #10439 "[SMTChecker] Bitwise operations on FixedBytes are buggy"
[code]

The assertions however have the opposite behavior due to FixedBytes being interpreted as right-aligned numbers and not adjusted before an operation.

[2020-11-30 11:54] axic commented on #8252
I'm not sure what you mean. Do you prefer `invalid()` now over panic codes?

Btw I added "Target contract does not contain code" and it is a one liner, so we could to the match-old-codegen if needed.

[2020-11-30 12:05] axic opened #10440 "[ewasm] Optimiser step to replace `switch`/`if` with `select`"
Replace switch and if statements with select, if they have two cases, and both cases assign to the same (and only) variable.

From https://github.com/ethereum/solidity/pull/10430#discussion_r532506134

[2020-11-30 12:42] axic commented on #10426
That was the inspiration, but the second syntax proposal is better if we want to support querying any account (which I think would be useful to test transfers, etc.)

[2020-11-30 12:45] axic commented on #10434
Since a handful of releases functions outside of contracts are actually allowed.

[2020-11-30 12:50] #10144 closed, assigned to nobody

[2020-11-30 14:48] hrkrshnn opened #10443 "Specialized checked exponentation when exponent is a literal"
We already have a specialized checked exponentiation when the base is a literal and exponent can only be known at compile time.

Implement the case where exponent is a literal and base is only known at compile time. Vyper already has this: https://github.com/vyperlang/vyper/pull/2072

[2020-11-30 15:05] cameel commented on #10420
We discussed it on the call today but haven't come to a decision yet:
- There was a proposal from @chriseth to provide two different release binaries for Linux. One with and the other without Z3.
- Currently the binary is completely static. We'd like to also provide a binary that can just dynamically link to system Z3 if available.
- @axic proposed two different builds: a size optimized one (with

[2020-11-30 15:21] axic commented on #10443
Don't we have a rulelist entry for this in libevmasm?

[2020-11-30 15:29] chiro-hiro commented on #10434
How about rearrange modifiers and remove function keyword in contract body?. Does it worth to be considered?.

[2020-11-30 16:13] axic commented on #10434
I think it definitely makes sense to consider it, but needs input from more people.

I suggest to also give a look to https://github.com/ethereum/solidity/issues/9248#issuecomment-713884387, which is a different proposal hopefully improving the visibility of these specifiers.

[2020-11-30 16:23] hrkrshnn commented on #10443
What I mean is the following.

A code of the form `x**literal` should generate yul similar to this: `x**literal < 2**256` iff `x < e**(256 . ln(x) / ln(literal))` (you compute the upper bound using binary-search)

[code]

Currently, the above code will undergo checked exponentiation by squaring.

We can have some rule list entries for special cases (such as `exp(x, 2)` into `mul(x, x)`), but that'

[2020-11-30 17:32] aarlt opened #10444 "[ewasm] testcases seem only to work with RevertString::Default"
While implementing the support of `--enforce-compile-to-ewasm` #10356 (see https://github.com/ethereum/solidity/pull/10356#discussion_r532742791) it turned out that there is something missing to support test-cases that use revert strings that differ from `RevertString::Default`.

I didn't investigated this further. I created this issue to don't forget about this.

[code]
[code]

[2020-11-30 18:59] cameel opened #10446 "Run external tests on all platforms"
Requested in https://github.com/ethereum/solidity/pull/10441#discussion_r532678397. Related to #10397.

Currently external tests use the emscripten binary. We should be running them on macOS and Linux executables too. Also Windows if that's not too much hassle.

[2020-12-01 01:27] axic commented on #10436
This is actually not crashing for me on develop/breaking. It also seems `operator<` won't compile when comparing differently sized FixedHashes so not sure how would an overread happen.

[2020-12-01 01:59] axic opened #10449 "[ewasm] Support names section in binary encoding for debugging"
The names custom section encodes function and variable names. We could also consider supporting other debugging sections later.

[2020-12-01 02:56] chiro-hiro commented on #9248
How about `nocall`? the modifier that's prevent method to be called from the other smart contract.

[2020-12-01 08:48] chriseth commented on #10444
Maybe `returndatacopy` is not properly implemented? It looks like the result of a 'calldatacopy' to me.

[2020-12-01 08:59] chriseth commented on #10317
Closing this in favour of the new issues.

[2020-12-01 08:59] #10317 closed, assigned to nobody

[2020-12-01 09:04] chriseth commented on #10382
Oh of course, If you use `delegatecall`, then libraries are a better target, because they are built for that purpose. Why would you use them only for non-payable functions?

[2020-12-01 09:09] chriseth commented on #5237
We are currently testing steps in isolation and we are testing the full suite. What we are not testing is the items in the descriptoin of the issue.

[2020-12-01 09:09] #6266 closed, assigned to nobody

[2020-12-01 09:11] chriseth commented on #7703
It now takes 3 minutes which makes me wonder if it still does the same thing.

[2020-12-01 09:12] chriseth commented on #10354
@cgewecke I would be delighted to know more about the problems! Source maps have been working for remix for years.

[2020-12-01 09:19] axic commented on #5237
We test code validity at every test for a few months. Are you saying there should be a switch which enables code validity testing in every step in the optimizer suite?

[2020-12-01 09:20] chriseth commented on #10435
The issue here is that `super` does not exist. Do we really want to support `type(super).name` or was that just an omission in the super change?

[2020-12-01 09:38] ekpyron commented on #9581
It's not exactly duplicates - @chriseth just proposed to fix this by fixing https://github.com/ethereum/solidity/issues/4620 instead - I still think it'd be nice to have both a solution to https://github.com/ethereum/solidity/issues/4620 and a single-step mode in isoltest, which was the original intention of this issue - even though the discussion then in fact moved to actually discussing https://

[2020-12-01 09:47] ekpyron commented on #6438
Do we fuzz against the Isabelle implementation of the encoding by now, though? I'd still say that'd be a major improvement on top of the initial ABIv2 fuzzing we had and we should really do it...

[2020-12-01 09:59] chriseth commented on #5237
Yes.

[2020-12-01 10:07] bshastry commented on #6438
@ekpyron That is still in progress and unrelated to this issue which was originally created for the initial fuzzing setup for abiv2 coding that we now use.

May be I should create a separate issue to track the isabelle fuzzing...

[2020-12-01 10:07] ekpyron commented on #8315
The main problem is still that we need to be able to visit via pointers to base types - which unfortunately means that we need to pass the visitor using some abstraction again, which prevents most of the benefits of the original concept.
There *are* ways around this issue, but all that come to my mind are rather complicated and will still involve manually maintaining a full node list in a class li

[2020-12-01 10:10] ekpyron commented on #6438
Alright, sounds good! Let me know if we should talk about the isabelle fuzzing once more. There was some progress in the Isabelle implementation, so the newest version now also works nicely for unreasonably-huge array length, so with that we should be able to fuzz random mutations of valid encodings (e.g. flipping random bits in them), which would be nice...

[2020-12-01 10:24] ekpyron commented on #7259
Actually, I already kind of got clearance from @chriseth to remove ``b_ubu18`` as well as the PPA builds, replacing the latter by static builds, just as we did for "xenial" for a while, so that shouldn't keep us. But we probably still need stuff like ``ranges-v3`` if we want to transition early (which I vote for doing!).

[2020-12-01 10:28] bshastry commented on #10436
@axic That's strange, it still seg faults for me locally. Created a draft PR with the test to see what happens upstream. You can view it here https://github.com/ethereum/solidity/pull/10452

[2020-12-01 10:33] ekpyron commented on #7830
Reading the proposals above I have one question: are there different variants of yul for different hardforks? E.g. all of them just get ``shl`` and the code transform Yul->EVM takes care of it not being an opcode in old EVM versions, doesn't it?
If so far Yul is the same for all hardforks, can we expect this to be the case in perpetuity?

[2020-12-01 10:57] ekpyron commented on #7370
Exactly - we removed the ``GLOB``s, but there's still no ``libsoltest`` or sth like that, i.e. it's still a bit of a mess and stuff is compiled multiple times.

[2020-12-01 11:02] ekpyron commented on #6902
All of this would be covered by just checking the entire log precisely, though, wouldn't it? I.e. in ``abi_encodePackedV2_structs`` the following would be fine:

[code]
Especially, if we make events *not* occurring in the expectations an error (which we definitely should).

[2020-12-01 11:04] axic commented on #6902
Yes, all are reading parts of the same `logIndex` supplied. This was a direct translation what is in the tests currently, not a definitive suggestion. However since logs can be large, perhaps it is easier to read if it is split up.

[2020-12-01 11:05] ekpyron commented on #6902
Ok, ``logAddress`` in some of the other tests is still a thing. But if we don't come up with something better we can just make the address part of the expectation in general (the addresses in the tests are deterministic)...

[2020-12-01 11:14] axic commented on #7259
When? This is blocking two of my PRs :)

[2020-12-01 11:19] d-xo commented on #10420
@cameel thanks for all the info! :sparkles: :pray:

To make our use case clear: We have recently switched to using the static `solc` builds in dapptools, meaning that for recent versions of `solc` (0.7.x onwards) our linux users have no way to make use of the SMT checker with the solc versions provided by dapptools.

We believe that the SMT checker is a powerful and useful tool, and it is somethin

[2020-12-01 11:29] ekpyron commented on #7259
On gitter some time before I went off... I said I was annoyed by ``b_ubu18``, because the old ``gcc`` in there has some annoying inadequacies, e.g. it doesn't always properly do copy ellision and return value optimization resulting in various weird workarounds in the Yul optimizer - and asked if we could drop it and move the PPA for ubuntu 18 to a static build (which would be built on ubuntu20) so

[2020-12-01 12:01] cameel commented on #8315
ok, sorry. This looked like a pretty straightforward refactor where we just need to agree on some low level details but now I see that there's more to it. Thanks for correcting that.

[2020-12-01 13:17] chriseth commented on #10446
Which benefit do you see?

[2020-12-01 13:30] chriseth commented on #10438
Oh actually I think this will be fixed by https://github.com/ethereum/solidity/pull/10456

[2020-12-01 13:31] chriseth commented on #8252
Of course: old invalid -> new panic. But some of them should not be reverts.

[2020-12-01 13:32] chriseth commented on #8252
Error reverts I mean.

[2020-12-01 13:36] bshastry opened #10457 "[codegen] ICE due to compiled contract not found"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/8279d90ba26576ece14fee9d32471fa20172a701/libsolidity/codegen/CompilerContext.cpp#L257

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-12-01 13:40] chriseth commented on #10457
This is a known issue and fixed by a pr in progress from @marenz

[2020-12-01 13:56] ekpyron commented on #10134
For the record: I just quickly tried replacing FNV by xxhash and got no measurable effect. Which is not too surprising - xxhash only becomes really significantly faster for larger inputs (for inputs <5 bytes it's actually slower than FNV, even though it gets faster quickly after that, ref: https://user-images.githubusercontent.com/750081/61976089-aedeab00-af9f-11e9-9239-e5375d6c080f.png).

[2020-12-01 14:33] axic opened #10459 "Codegen: skipping trailing zeroes for string literals in storeInMemoryDynamic causes weird issues"
If I move this check to `storeInMemoryDynamic` then this fails:
[code]

_Originally posted by @axic in https://github.com/ethereum/solidity/pull/10194#discussion_r527721244_

[2020-12-01 15:21] #10170 closed, assigned to nobody

[2020-12-01 15:23] franzihei commented on #10119
Hey @benjioh5 - We are currently re-organising the translation process and unfortunately most of the currently existing translations are very outdated. We will create a new process for community translations and will let you know as soon as there is an update.

[2020-12-01 16:57] #10276 closed, assigned to nobody

[2020-12-01 17:06] agroce opened #10461 "[SMTChecker] ICE in solidity::frontend::SMTEncoder::initFunction(const solidity::frontend::FunctionDefinition &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

This is similar to some older initFunction crashes that required more complex inputs.  Must be some newly introduced issue that lacks a detecting test for this simple a variant.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version

[2020-12-01 17:07] axic commented on #10461
I think this is just because of #9636.

[2020-12-01 17:14] agroce commented on #10461
Aha.  OK.  Should I ignore all initFunction crashes of this general form from now on?

[2020-12-01 17:16] axic commented on #10461
May be it is better to do so. @leonardoalt do you have an eta when free functions would be supported?

I think this is the 3rd or 4th reported issue, I hope the lack of support won't cause too much trouble for fuzzing?

[2020-12-01 17:17] leonardoalt commented on #10461
Supporting that will cause quite a few changes in the CHC code, so I'm trying to bundle some other features that are similar and should change before that refactoring.

[2020-12-01 17:34] franzihei commented on #10046
## Proposed Setup for the Forum.

I'm proposing the following categories (as a start):

- **Announcements**: Low-traffic category for important announcements about the Solidity language and compiler.
- **Compiler**: Discussion and feedback about the compiler itself.
- **Code Wizards**: Get help with your Solidity code or share helpful tips or code snippets you came up with that are worth spreading

[2020-12-01 17:43] agroce commented on #10461
If the blanket rule of "ignore initFunction" works, then it's not a big burden on fuzzing.  might give us some missed bugs, but my ad hoc triage code's pretty good about handing me just one of any "signature."  Right now, fuzzing is not producing a ton of things, we're pretty clean on AFL runs, other than long-standing stuff like this and FixedPointType being an ICE

[2020-12-01 17:45] agroce commented on #10461
I imagine that when @rvantonder gets Comby to generate more sophisticated mutants and we throw that at solc, the pace may pick up and the triage burden grow, but I'm not sure when that's on the table.

[2020-12-01 19:21] frangio opened #10463 "Allow reading immutable variables during construction"
Is there a fundamental reason why immutable variables can't be read during construction?

I would've liked to make some of the existing state variables in OpenZeppelin Contracts immutable, since they're only used in that way, but it will have to wait until our next major release (likely to happen after Solidity 0.8) because it would be a breaking change. (I would prefer if this was not a breaking

[2020-12-01 20:38] hrkrshnn commented on #10438
Closed in https://github.com/ethereum/solidity/pull/10456

[2020-12-01 20:38] #10438 closed, assigned to hrkrshnn

[2020-12-01 20:38] hrkrshnn commented on #10437
Closed in https://github.com/ethereum/solidity/pull/10456

[2020-12-01 20:38] #10437 closed, assigned to nobody

[2020-12-02 00:09] nfalliere commented on #998
If anyone ends up on this thread, the source mappings doc now has its own page: https://docs.soliditylang.org/en/latest/internals/source_mappings.html

[2020-12-02 02:20] cameel commented on #10446
It would add some coverage for how tools interact with `solc` (rather than `soljson.js`) when compiling contracts. Though for that doing only compilation would suffice. Not sure it's worth actually running the test suites...

Also, @axic originally requested macOS tests. Maybe going for all platforms is an overkill after all.

[2020-12-02 02:48] wberr opened #10469 "Dpulls to manage dependent PRs"
Hey there :wave:,

First of all, I'm really sorry if this is not the appropriate way to share something that is not directly related to the solidity language. Maybe another place would fit better, in such case, just let me know :)

I'm walid, the creator of [Dpulls](https://www.dpulls.com/), a Github app that helps you manage you dependent PRs.

I noticed that this PR https://github.com/ethereum/s

[2020-12-02 09:21] ekpyron commented on #9583
Actually, I wonder how attached people are to the current command line options...
Ideally I would suggest to drop all of them and replace them by an extremely simple 1:1 translation from StandardJSON to new command line options in a breaking release - at least if we can come up with a nice way to do so. That way unit tests for ``StandardCompiler`` are basically enough to cover both CLI and standar

[2020-12-02 09:25] ekpyron commented on #9583
If we're afraid to break tooling too much like that, I'd write a thin wrapper script that covers the most commonly used old command line options and translates them to the new options, but with a "use-at-your-own-peril" plus "better-update-your-stuff" policy...
But yeah, I'm not sure we'll be able to agree on this and if we want to consider it, we'd probably need a draft of how the simple CLI to S

[2020-12-02 09:46] chriseth commented on #10469
Thanks a lot for the offer, but I think we manage quite fine without it.

[2020-12-02 09:46] #10469 closed

[2020-12-02 10:01] ekpyron opened #10470 "Fix standard-json before it is too late."
Maybe a bit of an exaggeration as an issue title ;-), but IMHO we introduced a few inconsistencies in the standard-json interface lately, most prominently https://github.com/ethereum/solidity/pull/10064#issuecomment-737117081.
I think we should either revert https://github.com/ethereum/solidity/pull/10064, since I think the "metadata" argument behind it doesn't actually justify it, or come up with

[2020-12-02 10:10] chriseth commented on #10470
All keys in `settings` are related to metadata in the way that they influence the metadata. The property that we absolutely want is that the metadata only contains keys that are necessary to reproduce the same binary and it also contains all such keys. In that way, we could also move it back.

[2020-12-02 10:40] ekpyron commented on #10470
Neither ``outputSelection``, nor ``stopAfter`` really influence metadata (well, the latter or arguably both maybe in that there *won't* be metadata, if stopped early, but that's a bit of a stretch). So I'd say for consistency we'd either need to move those *out* of ``settings`` or we should move ``modelCheckerSettings`` back in. I'd actually even prefer moving all of it out to ``options`` (@leonar

[2020-12-02 10:42] axic commented on #9583
See #10278. Answer is: pretty much :wink:

Also check https://github.com/ethereum/solidity/projects/44 for other proposed changes.

[2020-12-02 10:44] leonardoalt commented on #10470
Having both `options` and `settings` does sound redundant though

[2020-12-02 10:47] ekpyron commented on #10470
The idea was ``settings`` would be anything that actually affects bytecode, i.e. exactly what would end up in ``metadata``, and ``options`` would be anything else. At least as a goal, but it'd probably have to transition there via deprecation, etc...

[2020-12-02 10:56] axic commented on #10446
The point was that many scripts are Linux-specific and hence anyone using macOS relies on the CI to tell problems. If we ensure that every script works on macOS this becomes a non-problem.

[2020-12-02 10:57] #7369 closed, assigned to axic

[2020-12-02 10:57] axic commented on #10412
@mijovic was this fixed or only partially fixed?

[2020-12-02 11:01] mijovic commented on #10412
Only first case is fixed. Other cases throw unimplemented feature instead of wrong output.
I am currently trying to finish my fix for other cases

[2020-12-02 11:54] ekpyron commented on #9583
If I read that the main attachment is towards non-standard-json output options of the CLI. Actually I agree that we should keep those... or put differently: I would keep ``--standard-json`` as CLI option anyways, meaning proper json input and output - but if the compiler is instead invoked using the "simple translation of CLI options to standard-json" I also wouldn't output standard-json, but rath

[2020-12-02 13:08] bshastry opened #10473 "[SMTChecker] ICE in compound assignment handler"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/afe500e399e76ce88c9dadfd04b616bd5df47c37/libsolidity/formal/SMTEncoder.cpp#L1918

## Environment

- Compiler version: breaking

## Steps to Reproduce

[code]

[2020-12-02 14:02] axic opened #10474 "[isoltest] Add a way to query gas usage"
As discussed on today's call, a potential way is to have a line similar to `storage:` called `gasUsed: <value>`. This line would refer to the gas usage of the preceding call (including the explicit constructor call).

If there is not preceding call, that is a misformatted expectation. If it is the very first line, would that however count as the constructor cost?

[2020-12-02 14:04] axic opened #10475 "[isoltest] Add option to refer external files as sources"
Currently the test format supports single or multiple files, but they all the sources have to be included in a literal form.

This idea came up on today's call: how about supporting a case pointing to a separate file. This would allow including larger external projects **and** still having the expectations visible, without the need to scroll down thousands of lines.

[2020-12-02 14:17] ekpyron commented on #10474
If it's easier, then checking constructor costs could also only be allowed if there's an explicit ``constructor()`` call in the implementation. [by the way: nice: I hadn't seen the `storage:` thing until now :-)]

[2020-12-02 14:18] axic commented on #10475
The current format is:
[code]

How about we make this extremely simple:
[code]

The `ExternalSource` points to a relative directory, but rejects any path escaping the current directory (e.g. can descend to sub directories, but cannot go to parents).

[2020-12-02 14:18] ekpyron commented on #10475
The main problem I see here is: currently isoltest and the boost tests just traverse the entire directories consuming every single file as test file. Would those separate files we point to also be run as their own isolated tests? If not, how would we distinguish them? Placing them into an entirely different directory structure will make it very hard to figure things out... a special file name pref

[2020-12-02 14:19] axic commented on #10475
Those files have no expectations in them so one could ignore such files?

[2020-12-02 14:20] ekpyron commented on #10475
Having no expectations at the moment still means they have to compile... we could however change that or have some comment-marker in them, indicating that they should not be run as individual test, yes.
(I expect not all of them will even be compilable on their own)

[2020-12-02 14:21] chriseth commented on #10474
approval

[2020-12-02 14:22] chriseth commented on #10475
we can add a special comment in the first line of a file to be imported so it is ignored

[2020-12-02 14:23] mijovic commented on #10474
What about gas usage in different runs (with IR and with old codegen)?

[2020-12-02 14:23] chriseth commented on #10426
the problem is that addresses are not fixed. If we want to query an external balance we could provide the contract name, but I think just supporting the balance of the "current" contract is already nice

[2020-12-02 14:24] axic commented on #10474
I think one needs to duplicate files and explicitly disable specific options, e.g. `compileViaYul: false` is a file for old codegen.

At the start we do not want to run gas tests for every single semantic tests, but rather have a bunch of larger examples which we use.

[2020-12-02 14:28] axic commented on #10475
That definitely would be the case as they frequently import files.

Sounds good.

[2020-12-02 14:29] axic commented on #10475
Should we allow remappings?
[code]

[2020-12-02 14:31] axic commented on #10426
I think they are, but agree if there is no such big need yet to check other balances, that can done via wrapper functions and we can change this as the need arises.

[2020-12-02 14:41] chriseth commented on #10474
It might be better to have multiple fields for the different runs, so they can also be compared. It could be multiple lines.

[2020-12-02 14:43] mijovic commented on #10474
I would prefer it to be in a single file, as we don't need to change enfoce-via-yul feature. We can write two lines in expectations, one for gas usage for old codegen, and one via IR.

[2020-12-02 14:43] axic commented on #10474
I'd argue if we do that, then we should also consider doing the same for the other flags...

One option could be grouping expectations for different flags, e.g.:
[code]

[2020-12-02 15:35] mijovic commented on #10474
@axic
That would make sense, as we will also have features that will be supported by both runs, and give different results.

One example is `constructor_inheritance_init_order.sol` from `semanticTests` (returns 0 in old codegen and 42 with new codegen, and both are correct). That way we can also track differences in two implementations in a better way than now.

But than, this should be done in tw

[2020-12-02 15:52] aarlt opened #10476 "[ewasm] tests fail if run with --optimize"
Right now the ewasm tests are not running with `--optimize`, due to the following problem:

[code]

[2020-12-02 16:53] gitpusha commented on #10382
Not sure. I think I wrongly assumed library methods shouldnt be `payable` which was a misconception.

I think I am happy with this solution to circumvent the call-value restriction for these use cases. I will close the issue. Thanks for your help!

[2020-12-02 16:54] #10382 closed, assigned to nobody

[2020-12-02 17:06] #10285 closed, assigned to nobody

[2020-12-02 18:05] leonardoalt opened #10478 "[SMTChecker] Verify tests counterexamples"
Go through all counterexamples added by https://github.com/ethereum/solidity/pull/10477 and check whether they're correct. Open issues for the buggy ones.

[2020-12-02 19:25] frangio opened #10480 "Wrong evaluation order of arguments to parent constructors"
## Description

The arguments to parent constructors are evaluated before all parent constructors.

This is a problem when those arguments are (non-pure) function calls, because the function is evaluated before its defining contract has been initialized.

## Steps to Reproduce

[code]

Deploying `Child` currently emits the following sequence of events:

1. `FooGetValue()`
2. `FooConstructor()`
3.

[2020-12-02 20:47] pgoodman opened #10482 "Sized type names permit arbitrary leading zeroes"
## Description

The type name `bytes0000000032` is valid. I expect that leading zeroes should be disallowed, otherwise they might make people think that octal-formatted integers are permitted for sizing types (e.g. `bytes040` is disallowed and not interpreted as `bytes32`). Really, the fact that these numbers are not treated as octal is entirely an artifact of `boost::lexical_cast<int>`, as used [

[2020-12-03 03:06] wolflo opened #10484 "Misleading Documentation of `call*`"
## Description

There is a Note in the Yul documentation that suggests that the data returned by a `REVERT` is not copied to the memory range reserved for returndata. This isn't true of the `CALL` opcode, and I don't believe that Yul does anything to override that behavior, so I think the documentation is misleading here.

(It's the last sentence of the note below)
![image](https://user-images.git

[2020-12-03 09:59] bshastry opened #10485 "[Typechecker] ICE in solidity::frontend::TypeType::makeStackItems()"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/d50676ecb0a15dff6cf9b106b9cb0422f9b62123/libsolidity/ast/Types.cpp#L3816

## Environment

- Compiler version: breaking

## Steps to Reproduce

[code]

[2020-12-03 10:38] #7943 closed, assigned to nobody

[2020-12-03 15:46] axic commented on #2987
So that would be done for every syntax test source code we have?

[2020-12-03 15:50] blishko commented on #10439
Actually, the problem is not in the bitwise operation, it is already in the conversion from `hex StringLiteral` to `FixedBytes`.

[code]

SMTChecker currently reports the opposite result in both assertions.

[2020-12-03 16:13] leonardoalt commented on #10480
We had a discussion on Gitter today about that, and I personally think that the current rule makes sense and is actually quite simple. Given the linearized hierarchy:
1) Evaluate all base call arguments in the order (most derived) -> (most base)
2) Construct all contracts (most base) -> (most derived)

This still accepts the possibility that you mentioned, of accessing a contract that hasn't been

[2020-12-03 16:17] chriseth commented on #2987
Sounds good!

[2020-12-03 16:20] chriseth commented on #10474
[code]

[2020-12-03 16:36] chriseth commented on #9583
Exactly, I think the goal here is to have a cleaner interface between the CLI and the CompilerStack.

[2020-12-03 17:31] chriseth commented on #9939
Implemented in #10223

[2020-12-03 17:31] #9939 closed, assigned to hrkrshnn

[2020-12-03 18:21] #10484 closed, assigned to nobody

[2020-12-03 21:11] ekpyron commented on #10436
I think @leonardoalt @cameel and I are just hitting this in various situations.
I think it's present in ``Release`` or ``RelWithDebInfo`` builds that don't link against z3 nor cvc4. Maybe only statically linked once,  that's what looked at so far, but not yet sure. That includes ~~https://github.com/ethereum/solidity/releases/download/v0.7.4/solc-static-linux~~ https://github.com/ethereum/solidity

[2020-12-03 21:11] leonardoalt commented on #10436
It also includes 0.7.5.

[2020-12-03 21:15] axic commented on #10436
I have a large set of changes to FixedHash locally, but the first step #10448 is waiting for reviews.

[2020-12-03 21:57] ekpyron commented on #10436
Pretty sure https://github.com/ethereum/solidity/pull/10494 fixes this (so it's rather unrelated to FixedHash itself).

[2020-12-04 01:31] frangio commented on #10480
Sure, we're not talking about uninitialized memory like on a regular computer program. Of course that would be a more serious issue. What I'm pointing out is an issue of language semantics.

A contract assigns a state variable in the constructor then exposes that state variable through a getter function: would anyone expect the getter to ever return anything other than the value assigned in the co

[2020-12-04 01:39] frangio commented on #10480
I don't think this code should be allowed. It doesn't make sense to call a function if its defining context hasn't been initialized.

Here's a similar example in JavaScript, which is disallowed:

[code]

[2020-12-04 05:00] deluca-mike opened #10495 "New function sighash to distinguish memory and calldata reference type arguments"
## Abstract

Currently, `foo(bytes32[] calldata array)` and `foo(bytes32[] memory array)` result in the same sighash, and thus the function cannot be overloaded. Feature request is to have the `location` taken into account when determining the function signature, and thus sighash.

## Motivation

Calldata is cheaper the memory, albeit readonly. If you'd like to build a library with an overloaded f

[2020-12-04 08:50] leonardoalt commented on #10480
Ok, I wasn't sure if that's what you were suggesting. I can agree with that!

[2020-12-04 09:49] leonardoalt commented on #10480
Funnily enough, that exact thing just bit me in https://github.com/ethereum/solidity/pull/10389

[2020-12-04 14:49] #10436 closed, assigned to axic

[2020-12-04 19:52] axic commented on #10436
@leonardoalt Don't we need to merge #10452 now?

[2020-12-04 20:14] leonardoalt commented on #10436
Sure, we can merge that. The segfault wasn't related to that test specifically though, it was more general

[2020-12-04 22:26] cameel commented on #10398
We had a [discussion about it on gitter today](https://gitter.im/ethereum/solidity-dev?at=5fca3c6b89c5424e7959c35c). I think that packing multiple external test jobs into a single one is not a good idea because they already run in parallel, they're not uniform and they could potentially affect each other.

### Reasons for not packing these jobs into a single container
1. They can affect each other

[2020-12-04 22:56] chamitro opened #10502 "2 Compiler Errors in solc 0.7.5 version, triggered by three contracts"
## Description

Hello to everyone, I found 2 unique crashes, triggered by four solidity contracts in solc compiler version 0.7.5 that Superion, AFL and Mopt could not found .

1. Internal Compiler error in :

https://github.com/ethereum/solidity/blob/afe500e399e76ce88c9dadfd04b616bd5df47c37/libsolidity/formal/SMTEncoder.cpp#L722

"Triggered" by contracts (a), (b), (c) :

(a)
pragma experimental SM

[2020-12-04 23:05] axic commented on #10502
Crash 1.a and 1.b are well known, due to #9636.

1.c and 2 seems to be the same contract?

[2020-12-04 23:12] chamitro commented on #10502
Yes sorry, 1c and 2 are the same.

On Sat, Dec 5, 2020, 1:05 AM Alex Beregszaszi <notifications@github.com>
wrote:

[2020-12-04 23:19] axic commented on #10502
Crash 2 seems like a good find! It is happening within z3. Perhaps we send a ill-formatted query, but it still shouldn't crash.

[2020-12-04 23:28] chamitro commented on #10502
1c is the contract below:

pragma experimental SMTChecker;  function f( ){}

Again triggering
https://github.com/ethereum/solidity/blob/afe500e399e76ce88c9dadfd04b616bd5df47c37/libsolidity/formal/SMTEncoder.cpp#L722

[2020-12-06 00:04] cameel commented on #10463
I think that allowing reads during construction is technically possible, but it comes with some gotchas and added complexity. AFAIK we simply didn't think that dealing with these issues was worth the hassle:
1. Immutables can be initialized at any point in the constructor. If you call a function before the immutable is initialized it will see a different value than if you called it after the initi

[2020-12-06 03:10] frangio commented on #10463
Thanks for explaining!

Generating different code makes a lot of sense, though it would be at odds with #10396.

[2020-12-06 04:31] frangio commented on #10463
I came up with the following scheme which I think solves point 2 above in a simple way. Let me know if I'm mistaken! :smile:

Immutable variables should be statically assigned a position in memory for the duration of the constructor. Instead of emitting an empty placeholder where the immutable variable is loaded onto the stack, Solidity should emit the few instructions necessary to load the value

[2020-12-06 16:05] Neyromancer commented on #9601
Hi, just to clarify. Should the number `-57896044618658097711785492504343953926634992332820282019728792003956564819968 `
be transformed to `-2**255 `
or it can also be represented as
`-0x80 * 2**248`?
Asking because the number `57896044618658097711785492504343953926634992332820282019728792003956564819968` is now transformed into `0x80 * 2**248`.

[2020-12-06 17:26] cameel commented on #9601
In my opinion, if that's the current behavior in the positive case then doing a similar thing in the negative one is fine as well. It's still some improvement.

But, it would be best to just change it in both cases to `-2**255`/`2**255`. Unless there's some technical reason preventing this - I haven't really looked at the current implementation yet so there might be something I'm not aware of.

Al

[2020-12-06 17:35] Neyromancer commented on #9601
Actually, i think it is technically possible to move from `0x80 * 2 ** 248` to` 2 ** 255` so i will try to implement it.

I just was not sure whether to follow the current implementation or to do it in the way it was written in the task, i.e. which number representation to take as a basiс representation. But i understand now.
By the way thank you for the link:)

[2020-12-07 09:14] ekpyron commented on #10436
What we definitely still need (and why the answer to https://github.com/ethereum/solidity/pull/10452#issuecomment-738995612 would be "no" ;-)), is changing our test runs, s.t. smt checker tests are at least compiled somewhere where there are no solvers available (instead of just being skipped entirely in such cases).

[2020-12-07 10:01] franzihei commented on #5453
I am working on questions for the survey, which I am collecting [here](https://docs.google.com/spreadsheets/d/1ikNbAj7tfPiRvediwp3kl-vxbBEd8wdl-4hK3xI71IU/edit?usp=sharing).

I am taking inspiration from the
- [Rust Survey 2019](https://blog.rust-lang.org/2020/04/17/Rust-survey-2019.html) (2020 results not yet published)
- [Go Developer Survey 2019](https://blog.golang.org/survey2019-results) (202

[2020-12-07 10:41] cameel commented on #10398
@ekpyron pointed out that the parallel jobs do run in separate containers ([Running Tests in Parallel](https://circleci.com/docs/2.0/parallelism-faster-jobs/#other-ways-to-split-tests)). That solves the isolation issue.

I also see that it's possible to split the load more evenly (based on the the timing of previous runs) if we use `store_test_results`.

I tried to find info on what happens when o

[2020-12-07 10:54] bshastry opened #10505 "[Constant evaluator] Segmentation fault in convertType()"
## Description

[code]

leads to an invalid read here

https://github.com/ethereum/solidity/blob/06bca652225fe8b12f6ce7b72bb525d6dbad603a/libsolidity/analysis/ConstantEvaluator.cpp#L232

## Environment

- Compiler version: breaking

## Steps to Reproduce

[code]

[2020-12-07 10:56] ekpyron commented on #10398
So I just checked what happens in https://github.com/ethereum/solidity/pull/10504.
The state of the test run in the PR in fact stays yellow/pending, even if one of the parallel jobs already failed while the others are still running. Clicking on the test run already clearly shows it as failing on the CircleCI status page (and in general, still running the other jobs to the end makes sense IMO), but

[2020-12-07 11:02] chriseth commented on #10020
Fixed by https://github.com/ethereum/solidity/pull/10321

[2020-12-07 11:02] #10020 closed, assigned to nobody

[2020-12-07 11:11] bshastry commented on #10433
Another variant that triggers a null deref

[code]

[2020-12-07 11:35] blishko opened #10508 "[SMTChecker] Handle `as-array` Z3 expression better."
Add support for `as-array` in `Z3Interface::fromZ3Expr`

[2020-12-07 11:51] chriseth commented on #10495
Duplicate of #1256

[2020-12-07 11:51] #10495 closed, assigned to nobody

[2020-12-07 11:55] chriseth commented on #10480
@frangio can you please edit the description and add a summary of the desired behaviour?

[2020-12-07 11:56] ekpyron opened #10509 "Move modelCheckerSettings back to "modelChecker" under "settings" in standard json"
See the discussion in https://github.com/ethereum/solidity/pull/10064

This may be a concrete and sufficient solution to simultanously close https://github.com/ethereum/solidity/issues/10470, since it would drop the assumption that standard-json input ``settings`` directly 1:1 correlate with metadata ``settings``, but maybe worth another look to see if there is any other inconsistencies there.

[2020-12-07 13:36] #10485 closed, assigned to nobody

[2020-12-07 13:52] leonardoalt opened #10514 "[SMTChecker] Create CHC verification targets for ++ and --"

[2020-12-07 16:56] agroce opened #10516 "ICE in `StructType::isDynamicallyEncoded()` when a function has a `memory` struct argument with an internal type inside"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

Looks like all other deaths in isDynamicallyEncoded were fixed, so this is a new variant (the structure looks different to me at a glance).

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.7.6-develop.2020.11.30+commit.7e7

[2020-12-07 17:05] agroce opened #10517 "[SMTChecker] std::bad_cast with recursive structure"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.7.6-develop.2020.11.30+commit.7e7a42c6.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environme

[2020-12-07 18:15] #9103 closed, assigned to nobody

[2020-12-07 18:47] ekpyron opened #10519 "Run SMT (or all) tests in absence of solvers to check the smtlib interface."
Doing so would have caught https://github.com/ethereum/solidity/issues/10436, resp. https://github.com/ethereum/solidity/pull/10494

We can either add some special run for this or we can just not skip the tests entirely if there is no solver, but just ignore the expectations.

(ping @leonardoalt for additional comments, if any)

[2020-12-07 19:39] #10439 closed, assigned to nobody

[2020-12-07 19:46] agroce opened #10521 "[SMTChecker] ICE in const solidity::frontend::VariableDeclaration *solidity::frontend::SMTEncoder::identifierToVariable(const solidity::frontend::Expression &) const"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  **Another discovery using https://github.com/agroce/afl-compiler-fuzzer,  a bit indirectly:  I took every test in my corpus I use to start fuzzing, and add the SMT checker pragma to any that lacked it, then ran triage and minimized the tests (so they aren't exactly the corpus tests +

[2020-12-07 19:47] agroce commented on #10521
See the bold part -- this is a result of systematically injecting "pragma experimental SMTChecker;" in the existing tests, where not present.  I'm triaging a number of others that found.  I noticed several fuzzer finds were just inserting the SMTChecker pragma.

[2020-12-07 19:48] leonardoalt commented on #10521
Thanks @agroce ! Which tests do you mean by `in the existing tests`?

[2020-12-07 19:53] agroce commented on #10521
Oh, sorry.  For me, this means specifically every .sol file under the "solidity/test/libsolidity" hierarchy.  I crawl and grab those for every fuzzer start on a new version of solc.

[2020-12-07 19:56] agroce opened #10522 "[SMTChecker] ICE in smtutil::Expression solidity::frontend::SMTEncoder::compoundAssignment(const solidity::frontend::Assignment &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer,  a bit indirectly:  I took every test in my corpus I use to start fuzzing, and add the SMT checker pragma to any that lacked it, then ran triage and minimized the tests (so they aren't exactly the corpus tests + SM

[2020-12-07 19:57] leonardoalt commented on #10521
Right, that's also what I assumed.
I often do the same, and last time I did that I only caught exceptions from free functions. I assume this one is because of the global constant.

[2020-12-07 20:00] agroce opened #10523 "[SMTChecker] ICE in const solidity::frontend::Block &solidity::frontend::ModifierDefinition::body() const"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer,  a bit indirectly:  I took every test in my corpus I use to start fuzzing, and add the SMT checker pragma to any that lacked it, then ran triage and minimized the tests (so they aren't exactly the corpus tests + SM

[2020-12-07 20:04] agroce opened #10524 "[SMTChecker] ICE in vector<smtutil::Expression> solidity::frontend::SMTEncoder::symbolicArguments(const solidity::frontend::FunctionCall &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer,  a bit indirectly:  I took every test in my corpus I use to start fuzzing, and add the SMT checker pragma to any that lacked it, then ran triage and minimized the tests (so they aren't exactly the corpus tests + SM

[2020-12-07 20:07] agroce opened #10525 "[SMTChecker] ICE in void solidity::frontend::SMTEncoder::assignment(const solidity::frontend::Expression &, const smtutil::Expression &, const solidity::frontend::TypePointer &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer,  a bit indirectly:  I took every test in my corpus I use to start fuzzing, and add the SMT checker pragma to any that lacked it, then ran triage and minimized the tests (so they aren't exactly the corpus tests + SM

[2020-12-07 20:08] mijovic commented on #10474
I would start working on this, I can report gas usage as @chriseth suggested, and we can change it later

[2020-12-07 20:11] axic commented on #10474
In my opinion that is a bad direction and https://github.com/ethereum/solidity/issues/10474#issuecomment-737273506 is a better one to take.

[2020-12-07 20:17] agroce opened #10526 "[SMTChecker] Segmentation fault for solc and solfuzzer in solidity::frontend::CHC::internalFunctionCall"
## Description

This contract:
[code]

produces:

[code]

gdb claims it's here:
[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.  Again, indirectly via adding SMTChecker pragmas to existing tests, then triaging/reducing.

## Environment

- Compiler version:  0.7.6-develop.2020.11.30+commit.7e7a42c6.Linux.clang
-

[2020-12-07 20:18] ekpyron commented on #10474
I was about to argue against https://github.com/ethereum/solidity/issues/10474#issuecomment-737273506 by saying that there are options that don't affect gas costs... but in fact the only option for semantic tests that's generally independent of gas costs is ``allowNonExistingFunctions`` and that's a rarely used exotic one...
``evmVersion`` doesn't fit exaclty either (e.g. gas cost can differ depen

[2020-12-07 20:20] cameel commented on #10398
Here's my PR that does deduplication: #10518. CircleCI allows parameterized jobs and I think we could even use them to replace some of the current templates. It has considerably reduced boilerplace required for external scripts.

I was going to try to parallelize the 3 sequential test runs too but it's a bit late today. I'll go back to that tomorrow.

[2020-12-07 20:49] axic commented on #10474
My proposal is not only useful for this particular use case, but for numerous other settings we have: IR/wasm/evmVersion/abiversion/etc.

Currently we are duplicating files for these.

[2020-12-07 21:03] ekpyron commented on #10474
Your proposal has been a plan for a while... there's an issue for it I'm sure...

[2020-12-07 21:07] ekpyron commented on #10474
Maybe not, strange, I was sure... the idea at some point was to also add syntax warnings to semantic tests as one such expectation block...

[2020-12-07 22:41] #9525 closed, assigned to christianparpart

[2020-12-08 09:46] mijovic commented on #10313
I started doing this. Since we still have such tests that are failing due to different results, should I add a flag in expectations that marks such tests?

[2020-12-08 10:58] bshastry commented on #9744
Reopening because the following test case causes a similar assertion failure

[code]

[2020-12-08 11:02] bshastry commented on #10526
Thank you for reporting the issue @agroce !

[2020-12-08 11:04] bshastry commented on #10522
This looks like a duplicate of #10473

[2020-12-08 11:13] leonardoalt commented on #10473
@blishko I think this could be related to the latest `assignment` changes. Could you maybe take a look?

[2020-12-08 11:18] chriseth commented on #3931
Fixed by #10486

[2020-12-08 11:18] #3931 closed, assigned to nobody

[2020-12-08 11:28] chriseth commented on #10313
No, let's just disable them for now. There are more such situations in https://github.com/ethereum/solidity/pull/10235 already.

[2020-12-08 11:35] chriseth commented on #10474
I would still prefer adding a filter to the gas cost statement instead of repeating all calls.

[2020-12-08 11:42] franzihei commented on #5453
Survey is ready to be proof-read and launched here: https://docs.google.com/forms/d/e/1FAIpQLSdcTPsWxuXmyG74t_zUI4pYQk1Y7mFcz03Owg4wJqrvRh7SsA/viewform

[2020-12-08 11:54] bshastry commented on #10526
@leonardoalt turns out that CHC assumes internal function calls to always belong to a contract

https://github.com/ethereum/solidity/blob/6fe3e0116c71b344f191bd684d20f70506684af0/libsolidity/formal/CHC.cpp#L576

Here, the internal function called is actually a free function and hence `contract` pointer is null. So in some ways this could be a sub issue of https://github.com/ethereum/solidity/issue

[2020-12-08 11:56] bshastry commented on #10526
Please note that this could be reproduced via a much simpler test case like so

[code]

If the free function were to be declared before the contract, it would trigger #9636 , so perhaps a temporary fix would be to not perform analysis if a free function is present anywhere in source?

[2020-12-08 12:02] leonardoalt commented on #10526
@bshastry Yes, free functions are not supported at all, an this used to be a correct assumption.

[2020-12-08 12:03] leonardoalt commented on #10526
That could be a quick fix, but would that be better?

[2020-12-08 12:08] bshastry commented on #10526
Better only in the sense that it would save the time spent on triaging known issues. But of course I'm not really sure if the "temporary fix" of ignoring free functions is actually a good suggestion. Perhaps throw a warning that free functions are not supported?

[2020-12-08 12:15] ekpyron commented on #8222
Done for 0.8 in https://github.com/ethereum/solidity/pull/10527

[2020-12-08 12:15] #8222 closed, assigned to mijovic

[2020-12-08 12:23] bshastry commented on #10525
@leonardoalt I think the issue here is that this PR (https://github.com/ethereum/solidity/pull/10120) that originally fixed this issue (https://github.com/ethereum/solidity/issues/10058)

on this line

https://github.com/ethereum/solidity/pull/10120/files#diff-25ffc7f23a998f16fd91366b10f609936dc12d46cec28f7e69b9d6a458fd665cR2381

does not account for `if (funType.kind() == FunctionType::Kind::Byte

[2020-12-08 12:53] bshastry commented on #10523
A smaller repro

[code]

I think the issue here is the assumption that modifiers have a body coming from here (for this test case)

https://github.com/ethereum/solidity/blob/6fe3e0116c71b344f191bd684d20f70506684af0/libsolidity/formal/SMTEncoder.cpp#L2567

[2020-12-08 14:43] #10473 closed, assigned to nobody

[2020-12-08 14:43] #10522 closed, assigned to nobody

[2020-12-08 18:18] blishko commented on #10502
The contract 2 does not crash anymore. Fixed as part of #10510, the problem was in processing the model from Z3 to create the counter-example report.

[2020-12-08 18:54] agroce opened #10532 "ICE in virtual void solidity::frontend::CHC::endVisit(const solidity::frontend::ContractDefinition &) due to solidity/test/libsolidity/smtCheckerTests/bmc_coverage/branches_with_return/constructor_state_variable_init_chain_alternate.sol"
## Description

Running one of the included tests in the github master causes a crash:

[code]

I can drop it from my corpus collection, but definitely weird (not systematic, this is the only instance I see of this so far).

## Environment

- Compiler version:  0.7.6-develop.2020.12.8+commit.71a4a4ef.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or

[2020-12-08 18:56] agroce commented on #10532
Not a fuzz blocker per se, but definitely a pain for some of my automation.

[2020-12-08 19:34] agroce commented on #10532
Ok, this may be somewhat important.  It looks like a decent number of tests in the test/libsolidity hierarchy fail on the build I did this morning.  Grabbing latest changes to see if anything fixes.  Will dump the list here otherwise...

[2020-12-08 19:40] agroce commented on #10532
Ok:
[code]
[code]

[2020-12-08 19:41] agroce commented on #10532
I'll call this a bit of a fuzz blocker, and wait until it's resolved to resume with a few new tricks...

[2020-12-08 20:13] leonardoalt opened #10534 "Split primary error message into `message` and `details`"
As discussed in https://github.com/ethereum/solidity/pull/10477/files#r534375139, sometimes there is a need to give additional information about an error without the need for a secondary source location. In that case, there is only one location, but what we want to do is give a brief error message, and then additional details.

[2020-12-08 20:13] leonardoalt commented on #10532
Ok, I'll prioritize this then, thanks!

[2020-12-08 20:17] agroce commented on #10532
Checking if the giant checkin I just pulled (chriseth merged a bunch of stuff looks like) is changing this...

[2020-12-08 20:18] leonardoalt commented on #10532
I'm still compiling a fresh develop, but what does `failed` mean in the bulk above? I definitely ran it today and those were fine. I haven't tried the one in the first comment though.

[2020-12-08 20:25] agroce commented on #10532
../build/tools/test/solfuzzer reports a non-zero exit code.  Some at least also die with just plain old ../build/solc/solc, but the mass check is with solfuzzer.

[2020-12-08 20:26] agroce commented on #10532
This seems to be pretty recent, some check-ins today.  This morning at 6:00am my time I think it was all fine (I was toying with some mass mods to existing tests, and got nothing).

[2020-12-08 20:27] leonardoalt commented on #10532
I just compiled latest `develop`:
[code]
This is re the first comment.

[2020-12-08 20:32] agroce commented on #10532
Yeah, all the tests still die for me with latest master.  I'll let you guys investigate, figure not much point in firing up fuzzer with the failing stuff removed, it'll just spin its wheels hitting whatever is going on here, I suspect.

[2020-12-08 20:34] leonardoalt commented on #10532
I'm not really sure how to investigate it, I can't reproduce any of the mentioned tests. All of them work fine for me running with `solc` from latest `develop`.

[2020-12-08 20:37] agroce commented on #10532
Hrm.

[code]

I assume that's the same version you get?

[2020-12-08 20:38] agroce commented on #10532
The only major change I made other than git pull on the repo was (because compile asked) upgrading cmake.

[2020-12-08 20:38] leonardoalt commented on #10532
`Version: 0.7.6-develop.2020.12.8+commit.0d7f9ae1.Linux.g++`
yea, same. Though `clang` could be doing something different here

[2020-12-08 20:39] leonardoalt commented on #10532
The weird part is that all those tests ran through CI today, compiled with both gcc and clang, and none had problems.

[2020-12-08 20:39] agroce commented on #10532
which clang are you using?

[code]

[2020-12-08 20:39] agroce commented on #10532
hmm, actually I'm compiling all this with afl-clang of course....

[2020-12-08 20:40] leonardoalt commented on #10532
I'm using gcc

[2020-12-08 20:42] agroce commented on #10532
yeah, not sure how to proceed without repo.  I can just build corpus with those tests pruned, and see what happens.

[2020-12-09 00:37] axic commented on #10502
@blishko should have added a (previously) crashing test case -- can you do that?

With that in place I'd close this issue, as issue 1 is essentially a "duplicate" of #9636.

[2020-12-09 00:43] axic commented on #10313
This was my collection of all the issues of this kind: https://github.com/ethereum/solidity/issues/10390#issuecomment-734333155

[2020-12-09 00:45] axic commented on #10526
@leonardoalt as a quick fix can you add an assertion and lump this under #9636?

And move this test case to #9636.

[2020-12-09 00:51] axic commented on #10532
Crash is not reproducible on my appleclang.

[2020-12-09 01:00] agroce commented on #10532
I'm in ubuntu 18.04 on docker on a mac.  Hrm.  Could be UB causing some compiler/arch specific behavior, but I'm not sure it feels like that...

[2020-12-09 01:00] agroce commented on #10532
Well, compiler/OS, not "arch" presumably

[2020-12-09 07:54] blishko commented on #10502
@axic , I can do that. The crash occurred already in the test suite we have, after I had extended the CEX computation to structs. I only later checked that the source of crash in the example from this issue was the same.

[2020-12-09 09:29] leonardoalt commented on #10526
@axic why would an assertion help? I think if anything @bshastry 's idea to just detect free functions/constants and abort then with a warning.

[2020-12-09 09:36] chriseth commented on #5453
Looks good!

[2020-12-09 09:50] chriseth commented on #10505
This is wild.

[2020-12-09 09:54] leonardoalt commented on #10525
Ohhh I see! Thanks @bshastry

[2020-12-09 10:43] #10397 closed, assigned to cameel

[2020-12-09 10:49] axic commented on #10526
A warning is of course nicer, but I thought you did not want to do that, since you didn't in the past 2-3 months since all these free function issues started to appear :wink:

[2020-12-09 11:17] leonardoalt commented on #10526
Now it started to be too annoying :p
And blocking fuzzers

[2020-12-09 12:37] chriseth commented on #10282
Should we create a base class "TokenOwner" that has functions to transfer tokens? Is this a standard somewhere?

[2020-12-09 12:54] axic commented on #10282
What is that exactly?

However we said not to include ERC standards in this library, at least not at the start, but rather focus on moving parts of the compiler out.

[2020-12-09 13:49] chriseth commented on #10463
I think generating different code is not such a big deal, but I think we should enforce that immutables are not read from before they are initialized. This could be a bit difficult when they are read in other functions, but it is not impossible.

[2020-12-09 14:00] axic commented on #10090
To summarise: change the mutability of the `chainid` opcode to `view`. This means a change in the `ViewPureChecker` and tests.

[2020-12-09 14:39] #10461 closed, assigned to nobody

[2020-12-09 14:39] #10502 closed, assigned to nobody

[2020-12-09 14:39] #10521 closed, assigned to nobody

[2020-12-09 14:39] #10526 closed, assigned to nobody

[2020-12-09 15:05] MrChico commented on #10278
OK, having started the process of supporting stdjson, this seems doable. I really miss the pretty printed error messages. I know they are present in the json, but without the nice coloring. To me it would seem appropriate to also display them (pretty printed) in stderr

[2020-12-09 15:47] #10509 closed, assigned to ekpyron

[2020-12-09 16:00] axic commented on #10278
That is coming in 0.8.0.

[2020-12-09 16:05] #10505 closed, assigned to chriseth

[2020-12-09 16:06] frangio commented on #10480
@chriseth I reorganized the issue description and added a specification of the desired behavior.

[2020-12-09 16:45] #10090 closed, assigned to ekpyron

[2020-12-09 17:01] agroce commented on #10532
Ok, grabbed and compiled latest, and still see the problem.  Also have what looks like a new fuzzing find, but confirming it on a mac build in case it's part of this problem...

[2020-12-09 17:05] chriseth commented on #9609
Implemented in https://github.com/ethereum/solidity/pull/10336

[2020-12-09 17:05] #9609 closed, assigned to chriseth

[2020-12-09 17:10] agroce commented on #10532
If anyone feels like investigating I uploaded my docker to dockerhub:

https://hub.docker.com/repository/docker/agroce/fuzz_solc

[2020-12-09 17:13] mijovic commented on #9714
Just an update here, latest `develop` fails with:
[code]

Rebasing on top of #10445 fails with same old error as before, than I implemented it in #10552 and than it compiles to yul

[2020-12-09 17:15] agroce opened #10553 "Compiler crash (not ICE): Unknown exception during compilation: vector::_M_range_check: __n (which is 0) >= this->size() (which is 0) ```"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.7.6-develop.2020.12.9+commit.052b97e2.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environmen

[2020-12-09 17:17] agroce commented on #10532
(just change to solidity/test and you can run:

python checkcorpus.py

All the failures are the same:

[code]

[2020-12-09 17:22] ekpyron commented on #10532
Just to clarify: against which version of Z3 is this linked and is it linked statically or dynamically against it? (also pulling the docker image right now to check)
EDIT: that's a huge docker image ;-D

[2020-12-09 17:23] agroce commented on #10553
Confirmed this is not whatever is going on in #10532 -- on mac OS fresh checkout and build this contract produces:

[code]

[2020-12-09 17:26] MrChico commented on #10278
@axic nice! Will color be added to the json or output to stderr?

[2020-12-09 17:29] leonardoalt commented on #10553
I can confirm this one:
[code]

[2020-12-09 17:30] agroce commented on #10553
Oh good.  I was pretty sure if it happened on mac too it was real

[2020-12-09 17:30] bshastry commented on #10553
This looks like a duplicate of https://github.com/ethereum/solidity/issues/10433 to be fixed by https://github.com/ethereum/solidity/pull/10455

[2020-12-09 17:31] agroce commented on #10532
Yeah, sorry, heaven knows what all deepstate dependencies or stuff is in that docker image.

This all happens before Z3 even runs, not installed.

[2020-12-09 17:31] agroce commented on #10532
iirc

[2020-12-09 17:32] leonardoalt commented on #10532
Yea, CHC:159 is still just building expressions, I don't expect whatever this is to be related to the solver.

[2020-12-09 17:33] leonardoalt commented on #10532
Our CI is on clang10 afaik, @agroce seems to be on clang6. This could be something.

[2020-12-09 17:34] leonardoalt commented on #10532
I've seen different behaviors recently on clang vs gcc, so with such a difference I wouldn't be surprised if it's that.

[2020-12-09 17:40] axic commented on #10278
The new formatting replaces the old in the `formattedMessage` field. However the colours are disabled, as of now.

What do you mean by stderr? No error/warning should be reported by the compiler apart from things encoded in the JSON response.

[2020-12-09 17:41] franzihei commented on #5453
Done and launched here: https://twitter.com/solidity_lang/status/1336708883193208833

[2020-12-09 17:41] #5453 closed, assigned to franzihei

[2020-12-09 17:48] agroce commented on #10532
When I run on mac using solidity built with apple clang, I don't get anything (though I actually do seem to get a z3 crash that asks for a bug report, since my main machine has z3 installed -- checking if that's just an old version of z3 causing issues)

[2020-12-09 17:52] cameel commented on #10532
I tried to reproduce it using soljson nightlies but it does not seem to produce an ICE that way.

[code]

### Output
[code]

[2020-12-09 17:56] leonardoalt commented on #10532
Those unfortunately still happen sometimes, even with latest z3. I already opened a few bug reports.

[2020-12-09 17:58] agroce commented on #10532
Ok, I'll probably just ignore those then, since you guys would be better at providing the context.

BTW, some chance we'll have the new smarter mutation stuff up and running by Christmas-ish.  Given how effective my hand-coded regexp-ish stuff in C has been, it'll be interesting to see if a slower-running but much cleverer generator will find more bugs.

[2020-12-09 18:01] agroce commented on #10532
Yes, I'm on clang6 in that docker.  I think that's default in ubuntu 18.04, so it might be a fairly common version for people using bionic beaver.

[2020-12-09 18:05] leonardoalt commented on #10532
We just dropped support to Ubuntu 18.04 and updated the latest build requirement to Clang >=7, so that could be a good excuse for us haha

[2020-12-09 18:05] ekpyron commented on #10532
Just for the record: we just dropped support for 18.04, because the compilers there are getting old, we're just not yet strict about it in cmake :-). We'll still release static PPA builds for it, but those will be built on 20.04, so strictly speaking building on 18.04 is no longer officially supported... I'll still try to figure out what's happening here, I wouldn't have expected things to immedia

[2020-12-09 18:11] agroce commented on #10532
ah ha.  I'll have to set up a newer ubuntu docker to run on.  afl-compiler-fuzzer shouldn't care.

[2020-12-09 18:11] cameel commented on #10532
Some potential clues: the exception happens at line 159 which is now empty but in 7490ffbe13985f0cb55b0d8d052944b3cfa92b1a it used to be an assert:
https://github.com/ethereum/solidity/blob/7490ffbe13985f0cb55b0d8d052944b3cfa92b1a/libsolidity/formal/CHC.cpp#L155-L169

This is the code for handling constructors that was added in #10389.

It looks like it might be something broken on that commit and

[2020-12-09 18:13] axic commented on #10532
clang6 in Ubuntu 18.04 had ICEs trying to compile the compiler with certain warning flags on. Had no success isolating why it happened. I would not be surprised if the problem @agroce is seeing is due to clang mis-compilation.

[2020-12-09 18:15] MrChico commented on #10278
By stderr I mean the linux standard IO stream, where errors are outputted in any other invocation of `solc` that doesn't involve `--standard-json`.

I find this a bit unfortunate, but I understand.

[2020-12-09 18:15] agroce commented on #10532
I'm just getting a focal fuzzer setup running :)

[2020-12-09 18:15] ekpyron commented on #10532
I think https://github.com/ethereum/solidity/pull/10389/files#r539536236 may be undefined behaviour - dangling empty const references just have a habit of *not* breaking immediately...

EDIT: actually not undefined behavior, but only since C++11, so well possible clang6 didn't get that right...

[2020-12-09 18:18] leonardoalt commented on #10532
Didn't we just go through that on the other PR regarding the default parameter `= {}`?

[2020-12-09 18:20] axic commented on #10278
On the regular non-standard-json invocations the stderr was coloured for quite a bit already. That does not change.

[2020-12-09 18:27] agroce commented on #10532
Ok, build on focal is going, using clang 10.

[2020-12-09 18:37] ekpyron commented on #10532
For the record, I think we found it in https://github.com/ethereum/solidity/pull/10389/files#r539536236 and will fix it nonetheless, even though it is clang6's fault :-).

[2020-12-09 20:20] agroce commented on #10553
Somewhat different structure/failure, right (I get a segfault for #10433 vs the vector-crash here)?  Same fix, though, I assume (it's not quite an empty tag if I understand)

[2020-12-10 00:22] EmanHerawy opened #10559 "Fixed size array is not fixed"
## Description

Fixed-size array should be fixed not dynamic.  in the below code I can change the size after deploying the contract.

- Compiler version:
- Target EVM version (as per compiler settings): tested on 0.5, 0.6 & 0.7
- Framework/IDE (e.g. Truffle or Remix): Remix
- Operating system: Ubuntu

## Steps to Reproduce

[code]

[2020-12-10 00:31] agroce commented on #10532
(Focal fuzzing is up and running in five docker copies)

[2020-12-10 10:50] bshastry commented on #10553
@agroce To be precise, I think this issue is a duplicate of https://github.com/ethereum/solidity/issues/10433#issuecomment-739850148 (please let me know if that triggers a different failure for you).

In any case, bug collisions like this are quite likely given that fuzzers are operating in similar environments. Also, sometimes different failures are triggered for the same bug that may only be kno

[2020-12-10 10:54] #10433 closed, assigned to Marenz

[2020-12-10 10:57] bshastry commented on #10553
Thanks for reporting the issue @agroce

I am going to close this issue since the fix for #10433 has now been merged. Please reopen if you believe otherwise.

[2020-12-10 10:57] #10553 closed, assigned to nobody

[2020-12-10 10:57] ekpyron commented on #8153
This issue just came up again recently, when we realized that we - while we wanted to get all this sorted for 0.7.0 - don't really have consensus about ``pure`` and sorted this out for the upcoming 0.8.0 release :-). The plan now is to discuss this further and finally come to some consensus for 0.9.0.

While I think the two ways to think of ``pure`` have been described well already, let me offer a

[2020-12-10 13:08] chriseth commented on #10559
Solidity only offers two kinds of storage arrays:
 - arrays whose size is known and fixed at compile time
 - arrays whose size can be changed

Are you proposing to add a new array type whose size is not fixed at compile time, but cannot be changed after it has been assigned for the first time? Would you also allow changes to the values of the array?

[2020-12-10 14:50] chriseth commented on #8153
Your reasoning sounds consistent, @ekpyron . It might be not that confusing to strengthen the restrictions imposed by 'pure` at least for free functions.

[2020-12-10 15:25] EmanHerawy commented on #10559
Thanks, @chriseth for your decent reply.
I'm proposing the opposite, If I have declared a fixed-size array at compile-time, this size can't be changed after that ( like what we have in c# for example)  or at least a way to make it fixed if I want by adding a reserved keyword or so

[2020-12-10 15:28] chriseth commented on #10559
@EmanHerawy `uint256[3] public myFIxedArray;' does not suit you?

[2020-12-10 15:31] EmanHerawy commented on #10559
@chriseth  I can change the size on runtime; I can add/remove more items on runtime.  so it's no longer fixed " it's dynamic on runtime"

[2020-12-10 15:33] chriseth commented on #10559
If you use `uint256[3]`, then you cannot change the size.

[2020-12-10 15:37] EmanHerawy commented on #10559
@chriseth oh, sorry I got it wrong I was using
`  uint256[] public myFixedArray = new uint256[](3);`
not
`uint256[3],`
Sorry for my confusion and thanks for your help :)

[2020-12-10 15:38] #10559 closed, assigned to nobody

[2020-12-10 16:00] blishko opened #10565 "[SMTChecker] Incorrect analysis of unary increment."
For the following example
[code]

SMTChecker incorrectly reports assertion violation:
[code]

However, the reported CEX is invalid, because `x` will overflow `255 -> 0`. It can never reach value `256`.

[2020-12-10 16:04] hrkrshnn commented on #10428
Closing this since neither me nor @ekpyron could find a serious bug.

The bugs mentioned above will be fixed in 0.7.6.

[2020-12-10 16:04] #10428 closed, assigned to hrkrshnn

[2020-12-10 16:05] ekpyron commented on #10428
I hope we haven't missed anything :-).

[2020-12-10 17:41] chriseth commented on #8854
Implemented in #10557

[2020-12-10 17:41] #8854 closed, assigned to axic

[2020-12-10 17:50] chriseth commented on #9330
Implemented in https://github.com/ethereum/solidity/pull/9549

[2020-12-10 17:50] #9330 closed, assigned to nobody

[2020-12-10 18:06] ekpyron commented on #6452
@MicahZoltu Just to confirm back with you that we arrive at what you want here ;-). The issue only talkes about address literals, not about integers and we just realized that the open PR still lets ``address(uint160(0))`` be ``address payable`` - that's *not* what we want, right :-)?

But then, if we make those cases non-payable as well, the only case left in which ``address(...)`` will be ``addre

[2020-12-10 19:03] #10532 closed, assigned to nobody

[2020-12-10 19:15] axic commented on #9951
This is a still happening on 0.7.x (and 0.8.x). It would be nice to fix before 0.8.0.

[2020-12-10 19:19] axic commented on #9636
@leonardoalt this is not a fuzz-blocker anymore as we have a warning, right?

[2020-12-10 19:20] axic commented on #8991
Still happening, but at least with an indicative message:
[code]

[2020-12-10 19:31] leonardoalt commented on #9636
Yep, shouldn't be

[2020-12-10 20:17] axic opened #10573 "[fuzzing] Build fuzzers only on b_ossfuzz and clean them up"
Some fuzzers are built on every CI run, while others only on `b_ossfuzz`. Because of this the libfuzzer headers are not available and we have to resort to manual prototypes. Would be nice to only build all the fuzzers on `b_ossfuzz` and clean them up from warnings (such as `-Wno-sign-conversion`, etc).

_Originally posted by @axic in https://github.com/ethereum/solidity/pull/10537#discussion_r5404

[2020-12-10 20:19] ekpyron commented on #10573
We could by the way also enable all the warnings for the fuzzing builds, if we used cmake's mechanism to declare declare the offending generated headers as ``SYSTEM`` headers, for which warnings will be ignored.

[2020-12-10 20:23] axic opened #10574 "[testing] Replace init_unit_test_suite with (global) fixture"
It seems to be obsolete: https://www.boost.org/doc/libs/1_74_0/libs/test/doc/html/boost_test/adv_scenarios/obsolete_init_func.html

And (global) fixtures is one suggested option: https://www.boost.org/doc/libs/1_74_0/libs/test/doc/html/boost_test/tests_organization/fixtures/global.html

_Originally posted by @ekpyron in https://github.com/ethereum/solidity/pull/10537#discussion_r540108689_

[2020-12-10 20:25] ekpyron commented on #10574
Or alternatively: replace boost tests entirely with something simpler ;-).

[2020-12-10 20:29] axic commented on #10573
Copying this message by @bshastry from #9370:

[2020-12-10 20:29] axic commented on #9370
Tracked by #10573.

[2020-12-10 20:29] #9370 closed, assigned to bshastry

[2020-12-10 20:30] axic commented on #4730
Ok, this was the issue but wasn't able to find it as it had no reference to `init_unit_test_suite`.

Copying this from #10574:

[2020-12-10 20:30] axic commented on #10574
Duplicate of #4730.

[2020-12-10 20:30] #10574 closed, assigned to nobody

[2020-12-10 21:44] #6905 closed, assigned to axic

[2020-12-10 21:57] haltman-at commented on #6452
Hm, why `tx.origin`?  That one should be always be payable, right?

[2020-12-10 22:00] axic commented on #6452
Technically today yes, as an EOA must be the origin so it is always payable.

However with a bunch of proposals (like AA) this won't be the case. Perhaps this is too eagerly done, but maybe it is better to prepare for it?

[2020-12-10 23:08] axic commented on #7794
From #10448:

[2020-12-11 02:05] #10470 closed, assigned to nobody

[2020-12-11 03:10] skyfly200 commented on #431
This would be super helpful. I am running into issues with my contracts hitting their size limits because I have a lot of strings. I am working to compress duplicate string data but I need to be able to pass a fixed-length string into a function expecting a dynamic array to work this out. All the ways I have seen of doing this so far seem to end up creating so much extra code I am sure it will mak

[2020-12-11 03:50] MicahZoltu commented on #6452
I have a minor preference for `payable(anything)` always returns an `address payable` and `address(anything)` always returns an `address`.  This is mainly just for consistency and simplicity in the language.  It is generally easier to audit things when everything is explicit and there are no implicit conversions.  To me it feels like `address(contract)` where `contract` has a `receive` function is

[2020-12-11 10:50] bshastry commented on #10113
Please note that this can be triggered through free functions alone. Example

[code]

Edit: Invocation
[code]

[2020-12-11 11:58] #3044 closed, assigned to nobody

[2020-12-11 12:47] leonardoalt opened #10576 "[SMTChecker] CHC does not report failing assertion"
[code]

The assertion is false if called by `D`, but CHC doesn't catch it because the `nondeterministic` predicates only model state changes, but not error conditions.

[2020-12-11 13:03] ekpyron commented on #6452
Yeah, that's a bit unfortunate... IIRC initially we wanted to have two single-word names for both types that are now ``address`` and ``address payable``, but we didn't find consensus about names and then went for ``address payable`` as compromise (it may even be that I'm to blame for bringing that suggestion up back then) - which in retrospect may not have been overly wise... but ``payable`` for e

[2020-12-11 15:26] #4551 closed, assigned to nobody

[2020-12-11 15:26] #8875 closed, assigned to nobody

[2020-12-11 17:52] #10514 closed, assigned to nobody

[2020-12-11 17:52] #10565 closed, assigned to nobody

[2020-12-11 19:26] axic commented on #5173
The first two examples are now identical:
[code]

[code]

However the inheritance example (https://github.com/ethereum/solidity/issues/5173#issuecomment-428084868) produces no shadowing warning:
[code]

[2020-12-11 19:33] axic commented on #10145
Maybe we should strengthen this regexp to `SPDX-License-Identifier: ([^\n])` (e.g. matching til end of line).

Or issue a warning if a line with `// SPDX-License-Identifer:` was found, but ignored?

[2020-12-11 23:47] #10435 closed, assigned to nobody

[2020-12-11 23:51] axic commented on #10256
Still happening on breaking.

[2020-12-12 05:15] MicahZoltu commented on #6452
I would argue that pretty much *any* single word name is superior to a two-word name.  😄 Multi-word types increases parser complexity which makes writing tooling harder.

[2020-12-14 11:14] chriseth commented on #10257
Closed by https://github.com/ethereum/solidity/pull/10582

[2020-12-14 11:14] #10257 closed, assigned to nobody

[2020-12-14 12:38] #9982 closed, assigned to nobody

[2020-12-14 12:42] axic commented on #2595
In the past three years a lot has changed in the language, so the discussion above is slightly out of date:
- `constant` of function definitions is replaced with state-mutability (view/pure/...)
- `constant` of variables means constants (set at compile time) and `immutable` was introduced for set-once (during deployment) variables
- interfaces can not contain variables anymore, just functions desc

[2020-12-14 12:44] axic commented on #10305
I would also propose making this more strict and only allowing `0x` prefixed addresses.

[2020-12-14 12:48] chriseth commented on #6452
That is indeed a point: The reason for `address(<contract>)` to be an `address payable` depending on the presence of a payable fallback or receive function was that otherwise, these functions serve no purpose in the type system. We could, though, also do it in the following way:

 - `address(<contract>)` is always possible, it returns a non-payable address
 - `payable(<contract>)` is only possible

[2020-12-14 13:13] axic opened #10591 "[isoltest] Allow empty input (even when expected) in TestFileParser"
Actually the test parser doesn't allow empty input. This fails parsing:
[code]

With:
[code]

_Originally posted by @axic in https://github.com/ethereum/solidity/pull/10590#r542372647_

[2020-12-14 13:14] chriseth commented on #2595
I just really don't like the word `getter`. Another option (maybe foolish) would be to allow `view` to serve the purpose of `getter`.

[2020-12-14 13:44] #10482 closed, assigned to axic

[2020-12-14 13:56] axic commented on #4758
Do we need to keep this issue open? Should it be renamed to "improve test coverage of JSON AST"?

[2020-12-14 13:57] axic commented on #8113
I guess we are tracking this in #10405.

[2020-12-14 13:57] #8113 closed, assigned to nobody

[2020-12-14 13:58] chriseth commented on #4758
Import / export tests it well I would say.

[2020-12-14 13:58] axic commented on #8166
Superseded by #7520.

[2020-12-14 14:11] #4758 closed, assigned to nobody

[2020-12-14 14:14] axic commented on #7999
Is this done? Is this more important now that we have dynamic z3 loading?

[2020-12-14 14:16] axic commented on #9171
Can we merge this issue into #8969 ?

[2020-12-14 14:19] ekpyron commented on #7999
I think not done, but not really affected by dynamic z3 loading either.

[2020-12-14 15:23] leonardoalt commented on #9660
Implemented in https://github.com/ethereum/solidity/pull/10510

[2020-12-14 15:23] #9660 closed, assigned to nobody

[2020-12-14 15:25] leonardoalt commented on #10142
Implemented in https://github.com/ethereum/solidity/pull/9543 for CHC and https://github.com/ethereum/solidity/pull/10316 for BMC.

[2020-12-14 15:25] #10142 closed, assigned to nobody

[2020-12-14 15:36] cameel commented on #10165
@ekpyron As I said on the call today, removing the JS snippet from `storebytecode.sh` and running `solcjs` from `prepare_report.py` works but is sloooooooooooooooooooooooooow. It starts a new node.js process and loads the compiler from scratch for every compiler call.

For this reason I don't think we can get rid of it completely, but we could trim it a bit and convert it into a wrapper for batch

[2020-12-14 15:38] axic commented on #10142
Does the above example pass then without complaints?

[2020-12-14 15:38] ekpyron commented on #10165
It's fine not to replace the snippet - but did you check exactly what happens? My guess would be that it's not the loading of the compiler, but the issue of node not exiting properly, a.k.a https://github.com/ethereum/solidity/issues/9297... If you're up for it you can check that and add ``process.exit(0);`` unconditionally to the very end of https://github.com/ethereum/solc-js/blob/master/solcjs

[2020-12-14 15:41] ekpyron commented on #10165
That being said it is a lot of contracts, so keeping one instance of node and the compiler for all of them may still help independently of #9297, so as I said: fine not to change anything about it.

[2020-12-14 15:51] leonardoalt opened #10596 "[SMTChecker] Support some inline assembly"
Currently the SMTChecker completely ignores inline assembly.
We could support the simple parts of it.

[2020-12-14 15:54] leonardoalt commented on #10062
Latest CHC output:
[code]

Created https://github.com/ethereum/solidity/issues/10596 to support some inline assembly.
We can't really support `call` besides the invariants in the presence of reentrancy, which we already have. I recently noticed that `call` isn't supported in that case, but it should. Created https://github.com/ethereum/solidity/issues/10576 to track that.
In any case, I think impl

[2020-12-14 16:03] cameel commented on #10165
I think that's not it. I'm running node.js 14 and the delay I saw was more like ~1 second per call than the 7 seconds we're seeing there (I made it print a pair of messages around every compiler call). It still adds up over several thousand compilations.

Actually I do see a ~5 second delay when I run this snippet manually on the command line:
[code]
and this is weird because I'm not on node.js 10

[2020-12-14 16:05] blishko commented on #10142
SMTChecker verifies that division by 0 *cannot* happen.
But CHC reports an overflow for the expression `uint256 c = a * b;`.

[2020-12-14 16:14] leonardoalt commented on #10142
This is the case now because we report targets as they're seen. If we run only BMC it will complain about the same.

[2020-12-14 16:20] #10524 closed, assigned to nobody

[2020-12-14 17:19] #10525 closed, assigned to nobody

[2020-12-14 18:06] agroce opened #10600 "[SMTChecker] ICE in void solidity::frontend::SMTEncoder::mergeVariables(const set<const solidity::frontend::VariableDeclaration *> &, const smtutil::Expression &, const solidity::frontend::SMTEncoder::VariableIndices &, const solidity::frontend::SMTEncoder::VariableIndices &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.7.6-develop.2020.12.14+commit.e21be30d.mod.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution envir

[2020-12-14 18:34] #10523 closed, assigned to nobody

[2020-12-14 19:17] chriseth commented on #6452
FIxed by https://github.com/ethereum/solidity/pull/10496

[2020-12-14 19:17] #6452 closed, assigned to hrkrshnn

[2020-12-14 22:52] #9744 closed, assigned to nobody

[2020-12-15 09:34] blishko opened #10602 "[SMTChecker] Analyse overridden modifiers correctly"
In the following example
[code]
SMTChecker currently fails to report the assertion violation.
The problem is that when analysing `B.f` it fails to resolve properly which version of the modifier will be used and analyses it with the modifier `A.mod` instead of `B.mod`.

[2020-12-15 11:13] chriseth commented on #10596
The various optimizer helpers can be used to track whether code modifies storage or is deterministic.

[2020-12-15 11:15] #10517 closed, assigned to nobody

[2020-12-15 11:21] #8991 closed, assigned to mijovic

[2020-12-15 13:50] ekpyron opened #10607 "Restrict source files to ASCII, only allowing unicode via pragma."
I just want to bring this up for debate (for a future breaking release).

I'm not entirely convinced and sure that it's feasible to actually safely implement all unicode quirks with mechanisms like https://github.com/ethereum/solidity/pull/10326 (@cameel seems similarly sceptical, if I understood the comments correctly - please correct me if I'm wrong).

Based on that, I'd propose the following:
A

[2020-12-15 14:07] bshastry commented on #10600
Thank you for reporting the issue @agroce . At first glance, this looks like a variant of https://github.com/ethereum/solidity/issues/8817 only in that the failing assertions are similar.

Minimised test case

[code]

[2020-12-15 14:23] bshastry opened #10609 "[AsmAnalysis] Out of bounds read in operator()(FunctionCall const& _funCall)"
## Description

[code]

makes an invalid read here

https://github.com/ethereum/solidity/blob/4e86390e40e829a2121d0f913739479787cc3aad/libyul/AsmAnalysis.cpp#L335

because there are fewer literal arguments than total number of arguments

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution envir

[2020-12-15 14:25] leonardoalt commented on #10600
My guess is that this is because `try/catch` blocks are not visited which cases the SSA indices to be different at the end of the blocks.

[2020-12-15 15:02] cameel commented on #10607
I think #10326 is good enough but that's mostly because after doing some research I'm convinced that these directional marks are not very widely used, especially in source code, so any negative impact should be limited. It does have some potential issues - for example it ignores PDI which I think can terminate LRO/RLO too - but we decided to keep it simple to get it into 0.8.0 on time so I'm ignor

[2020-12-15 15:09] axic commented on #10607
I think we are slowly moving towards this direction, and perhaps even discussed in on some calls. Having the explicit `unicode""` literal and rejecting anything unicode (except in comments) was a similar, but less harsh change.

[2020-12-15 15:31] ekpyron commented on #10607
Yep, that's pretty much my impression about it, too, that's why I thought a more general discussion about it might be beneficial :-).

[2020-12-15 15:42] #10609 closed, assigned to nobody

[2020-12-15 16:54] axic commented on #10062
There's also the `Hub.sol` file, which had more issues. It uses `Token.sol` so it was a good first step.

[2020-12-15 17:47] axic commented on #10062
Took me a good 20 minutes to run:
[code]

[2020-12-15 17:59] dawidkabani13 opened #10616 "I’ve Lost savings of my life sending erc20 on staking smart contract"
I will payout 1000 LINK (13k $) for help in my problem.
I'm just recovering from a terrible loss, I'm a father and husband, and a few days ago I lost my life savings due to one small mistake and rush.  I don't want to bother you with my problems, so I'll go to the details.  I accidentally sent 4,000 LINK worth $ 50k to the Ghst Stacking smart contract that does not support the LINK cryptocurrency

[2020-12-15 18:18] leonardoalt opened #10619 "[SMTChecker] False negatives and positives because of assembly"
[code]
Both CHC and BMC think that `f()` always returns `false`, because it completely ignores the `assembly` block.
A quick partial solution is at least to reset any variable touched by the `assembly` block, and only have false positives.

[2020-12-15 18:19] leonardoalt commented on #10062
Lots of `might happen` there =/
Found a bug when running on `Address.sol`:
https://github.com/ethereum/solidity/issues/10619

[2020-12-15 18:21] leonardoalt commented on #10062
I think the results from `Hub.sol` are ok though.

[2020-12-15 18:28] #10256 closed, assigned to nobody

[2020-12-15 18:47] blishko opened #10620 "Incorrect warning about unreachable code."
## Description
For the following example
[code]

The compiler reports the following warning:
[code]

This warning is very confusing and most likely also incorrect. I would expect this to be compiled without any warning.

## Environment

- Compiler version: 0.7.5, also current `develop`
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution

[2020-12-15 19:30] axic commented on #10062
[code]

`seen` here refers to `address[] public seen;` so while technically it could have `2**256-1` elements, it is not practically possible. We really need assertion annotations :)

[2020-12-15 20:19] mijovic opened #10622 "[yul] Allow unicode directional sequences in comments and string literals"
Extracted from here https://github.com/ethereum/solidity/pull/10326#discussion_r543459207

Currently `AsmParser` fails because these characters are considered illegal. Also it fails with rather bad message:
[code]
and it looks misleading. So, we need to decide, are we allowing these in comments and if not, should we consider changing error message.

[2020-12-15 20:36] leonardoalt commented on #10062
For `a.push()`, we already add that the resulting length is `< uint.max - 1`, so that you can always push again without overflowing, since that would also not be practically possible (push overflow would also require 2**256 -1 operations). I'd say that similarly, we can add `length < uint.max - 1` for any `.length` access, so that it wouldn't overflow here as well.

[2020-12-15 20:52] cameel commented on #10616
I'm very sorry to hear about your loss. Unfortunately I don't think the funds are recoverable. There are two ways it could theoretically be done and both require functionality the contracts are missing.

First, the Chainlink contract could give you your tokens back if it was designed for such an eventuality. Etherscan does not show me the code of their token (just a summary of available ERC20 toke

[2020-12-15 21:04] cameel commented on #10616
One more thing. If, against all odds, you do find a way to recover the funds by registering the transfer function with the proxy, please be wary of frontrunners. You might think that if you just quickly enable it and don't tell anyone, you'll be able to quickly transfer it back to your account and no one will have enough time to even notice. This logic does not work on the blockchain. From what I'

[2020-12-15 21:09] dawidkabani13 commented on #10616
Drogi Kamilu,
Przepraszam ale nie wiedziałem że jesteście z Polski, bardzo dziekuje Ci za
Twój czas. Niestety nie znam sie na tym od strony technicznej. Wiem tylko
że Devsi smartkontraktu są w pełni otwarci na propozycje ktore mogłyby
pomóc mi odzyskać środki, jeżeli jakimś cudem znajdziecie coś byłbym
najszczęśliwszym człowiekiem na świecie - to oszczędności mojego życia, a
na to wszystko złożył

[2020-12-15 21:11] dawidkabani13 commented on #10616
Dostalem jeszcze taką wiadomość:

The verified source code for the LINK token contract is here:
https://etherscan.io/address/0x514910771af9ca656af840dff83e8264ecf986ca#code

W dniu wt., 15.12.2020 o 22:09 Dawid Kaczówka <dawidkaczowka@gmail.com>
napisał(a):

[2020-12-15 21:14] dawidkabani13 commented on #10616
He is correct about the diamond,   but as he mentioned the IDiamondCut
interface was not added to the diamond so it isn't possible to add new
facets to the diamond.    He is correct that we would have to exploit some
security hole of which I know of none and doubt that there is any  because
I reviewed the contract and we had it audited by a security firm and held a
bug bounty

W dniu wt., 15.12.20

[2020-12-15 21:32] mudgen commented on #10616
I guess this is one benefit of upgradeable contracts.   If the diamond had been upgradeable then the money could be returned.   But since it is not upgradeable it looks like the LINK token is going to be stuck in the diamond forever.

**Note:** A diamond is an Ethereum contract that implements this contract standard [EIP-2535 Diamond Standard](https://eips.ethereum.org/EIPS/eip-2535).

Here are li

[2020-12-15 21:43] cameel commented on #10616
Nie jesteśmy :) Tzn. tylko ja jestem a projekt jest międzynarodowy więc w bugtrackerze obowiązuje angielski. W razie czego możesz pisać po polsku na maila z mojego profilu.

Well, I can see it's very a big hit for you so I'll give it a try. I have enough work for the rest of the week but I can give it an hour or two on the weekend and see if there's anything I missed. But like I said, everything h

[2020-12-15 21:45] mudgen commented on #10616
@cameel Thank you for looking into this.  If you need anything from me then let me know.   I'm interested in helping in any way I can.

[2020-12-15 21:46] cameel commented on #10616
Sure. Thanks!

[2020-12-15 23:19] JohnWinner commented on #10616
Your biggest mistake was to put your life savings in cryptos. I hope you learned your lesson. Sorry for your loss.

[2020-12-15 23:29] dawidkabani13 commented on #10616
Cryptocurrency in not a problem, I made mistake.

W dniu śr., 16.12.2020 o 00:20 JohnWinner <notifications@github.com>
napisał(a):

[2020-12-15 23:41] JohnWinner commented on #10616
You didn't learn. In what universe do you think a small mistake like that could crush your entire life? Not to mention all the hacks and scams threats. I am not sorry anymore for you, you seem irresponsible.

[2020-12-15 23:45] dawidkabani13 commented on #10616
Sorry, You don’t even know me, Your post didnt helped ME in anything. Your
first „sorry” and writting about lessons too. Im looking for people that
can really try to help.

W dniu śr., 16.12.2020 o 00:41 JohnWinner <notifications@github.com>
napisał(a):

[2020-12-16 04:04] cgewecke commented on #10354
@chriseth Apologies for the delay circling back here.

Just ran into this issue again while trying to compile [aave/protocol-v2][1] which uses solc 0.6.12.

There are 93 files in the project.

Modifying [this compiler config][2] so that optimization is turned off and executing `npm run compile` results in a single solc error:
[code]

Do you have any advice about which Solidity statements might tri

[2020-12-16 10:51] nondev89 commented on #10616
As far as I can see @dawidkabani13, the contract has the ability to add different staking facets. Add me on discord: yegres #7183
With this custom facet we potentially can pull out the LINK. Now please message me and we will try to proceed with the contract owners

[2020-12-16 12:05] axic opened #10627 "Improve error reporting of scanner issues in the Solidity and Yul parsers"
Consider improving error reporting of scanner errors (including SemVerParser). Right now both Solidity and Yul parsers may just report "invalid token".

_Originally posted by @cameel in https://github.com/ethereum/solidity/pull/10625#discussion_r544221923_

[2020-12-16 12:07] axic commented on #10301
Is this considered a bug? Just a missing feature (which we may or may not want)? Or a lack of good error reporting?

[2020-12-16 12:10] axic commented on #5898
Could be solved by #6900.

[2020-12-16 12:15] axic commented on #5898
The topic opener issue is not happening anymore on `--ast-compact-json` (and `--ast-json` is removed). So we may as well close this, but the problem remains in general, and we may also want to improve error reporting (by catching `Json::RuntimeError: Exceeded stackLimit`)

[2020-12-16 12:18] axic commented on #6011
@bshastry can you reproduce and copy in the log from the sanitizer/valgrind?

[2020-12-16 12:20] axic commented on #6011
#5882 describes a similar case:

[2020-12-16 12:20] axic commented on #5882
Keeping discussion in #6011.

[2020-12-16 12:20] #5882 closed, assigned to nobody

[2020-12-16 12:23] axic commented on #10145
@chriseth any comment?

[2020-12-16 12:26] axic commented on #7211
@ekpyron is this issue still open?

[2020-12-16 12:38] ekpyron commented on #7211
Probably?

[2020-12-16 14:01] cameel opened #10629 "[CI] PR check to enforce Linux line endings"
We should have an extra check to detect problems like #10628 early.

We might have some files where the CRLF line endings are needed. If that's the case, it should be possible to disable the check on specific files or file types.

[2020-12-16 14:39] #8669 closed, assigned to nobody

[2020-12-16 14:47] leonardoalt opened #10631 "[SMTChecker] Replace constant variables by their values"
Even after https://github.com/ethereum/solidity/pull/10623, we could help the solver even more by replacing the constants directly where they are used, similar to what the code generator does.

[2020-12-16 14:57] axic commented on #7999
Ah, this is the "release solc image".

[2020-12-16 15:16] rrjanbiah commented on #10616
HN Thread: https://news.ycombinator.com/item?id=25443212

[2020-12-16 15:22] FormerlyChucks commented on #10616
reddit links here as well:

https://redd.it/kdwg1b

https://redd.it/ke2hxz

I don't know much about blockchain, but I hope that this gets resolved quickly.

[2020-12-16 15:22] mudgen commented on #10616
Aavegotchi setup a donations wallet to help this guy out.  Info here: https://www.reddit.com/r/ethereum/comments/ke2hxz/aavegotchi_sets_up_donations_to_help_guy_who_lost/

[2020-12-16 15:25] leonardoalt commented on #10616
I am also very sorry about the issue, but this has become reality tv and I think we should close/lock the issue. The information will still be public and reachable, but I don't think this is the right place for such discussions.

[2020-12-16 15:26] fpcr commented on #10616
JUST

[2020-12-16 15:30] #10616 closed, assigned to nobody

[2020-12-16 16:44] aarlt opened #10634 "[ewasm] Revise `internal_to_i32ptr` polyfill"
As of now `internal_to_i32ptr` is implemented as:
[code]
This function is adding an offset of `0x40` to the supplied address.  It is used everywhere where the "user" interacts with memory.

It is probably a bit confusing, especially if the memory is viewed by external tools like debuggers. For the "user" the memory operations are transparent: `mstore(0, ..)` and `mload(0)` will refer to the same a

[2020-12-16 16:45] mikeygbooth99 opened #10635 "Owner Michael Booth"
Michael Booth

[2020-12-16 16:55] #10635 closed, assigned to nobody

[2020-12-16 17:39] chriseth commented on #10634
How would you do it differently? We need some scratch space to put the arguments for the external interface calls.

[2020-12-16 18:59] axic commented on #10634
It could do save/restore, such as:
[code]

Not sure if the optimiser could deal with this, but seems like quite a bit of overhead.

[2020-12-16 20:00] axic commented on #5165
Could be easily done after #10474.

[2020-12-17 10:28] payvint opened #10644 "Error during instalation on Ubuntu"
## Description

Trying to install solc compiler on ubuntu 18.04.5. Faced with issue
`The following packages have unmet dependencies:`
` solc : Depends: libc6 (>= 2.29) but 2.27-3ubuntu1.3 is to be installed`

It could be solved by upgrading libc6 to required version. On ubuntu 18.04.5 - 2.27 it is a standard version
https://packages.ubuntu.com/bionic/libc6

## Environment

- Compiler version: 0.8.

[2020-12-17 10:30] chriseth opened #10645 "Extend DataFlowAnalyzer to not reset memory if memory ops use zero length"
The `call` opcode (and others) should not reset memory if it can be determined that the memory output area is zero.

The trigger for this is to improve the code generated from the following snippet:
[code]

Generated:

[code]

Note that if the `delegatecall` did not clear memory, the checks about `mpmPtr` can be removed.

[2020-12-17 12:41] axic commented on #10644
@ekpyron is it possible to downgrade libc6 in the ppa cross-build?

[2020-12-17 13:40] blishko opened #10646 "[SMTChecker] Report contract name before `constructor` and function call in the counterexample trace."
Because of virtual modifiers, an error in a function can depend on a contract in which context the function is being executed. This information should be included in the transaction trace.
It would also improve the readability of the counterexample transaction trace.

[2020-12-17 14:11] ekpyron commented on #10644
Apparently, there's something wrong with the static ppa builds in general. They should not depend on libc of any version at all...

[2020-12-17 14:27] ekpyron commented on #10644
The problem is that we don't only package ``solc``, but also ``solidity-upgrade`` and ``yul-phaser`` in the package and while ``solc`` as we build it works with any libc version, the other two won't - so we'll either need to remove them from that installation or build them statically as well, otherwise ubuntu's ppa dependency autotracking will prevent installation.

[2020-12-17 14:50] axic commented on #10644
I don't think we need to ship `yul-phaser`, but building `solidity-upgrade` statically would be nice.

[2020-12-17 14:50] axic commented on #10644
And I would say it is fine if we fix these for 0.8.1 (and perhaps make a 0.7.7 release for it).

[2020-12-17 14:53] #5264 closed, assigned to nobody

[2020-12-17 14:54] ekpyron commented on #10644
We should definitely have a 0.8.0 ~~and 0.7.6~~ release package that works, shouldn't we? And it's just build settings, it's no problem just rebuilding them properly.

[2020-12-17 14:55] axic commented on #10644
If it doesn't need a change in the repo, that's even better. But is only the ubuntu thing affected or stuff in solc-bin too?

[2020-12-17 14:58] ekpyron commented on #10644
It's only the ubuntu PPA releases for <20.04. I just uploaded a new build for 0.8.0 in the static repo on launchpad already, though - if that works out and is properly static, we just need to copy that over to the old distros.

[2020-12-17 15:46] chriseth commented on #10645
It might be the best solution to introduce new builtins that do not write to memory and replace them in a new optimizer step. Note that since the memory-modifying instructions do not return data, we cannot use a rule for the ExpressionSimplifier.

[2020-12-17 15:50] chriseth commented on #10645
On the other hand - we also want to detect if such an opcode writes to a memory area that is not overlapping with other known memory areas, so it might be fine to add a special case just like we do for `mstore`. The downside is that it only works when the function containing the call is inlined.

[2020-12-17 16:15] ekpyron commented on #10644
@payvint we just published a new PPA build. Can you confirm that the problem no longer occurs?

[2020-12-17 16:22] ekpyron commented on #10644
At least I now can successfully install 0.8.0 from the PPA repo in a ubuntu 18.04 docker image, so I think we can close this.

[2020-12-17 16:22] #10644 closed, assigned to nobody

[2020-12-17 22:05] jcs47 commented on #2742
I am having this very issue right now, but I am using a macOS, not windows. Has there been any progress regarding this particular issue?

[2020-12-17 23:07] deluca-mike opened #10649 "Implicit and "free" casting for like-types"
## Abstract

Implicitly casting of `bytes32` to `uint256`, and vice versa, ~~without the compiler doing any (if currently the case) bitwise operations, like AND-masking against 256 one's.~~ (this was incorrect)

## Motivation

Would be nice to handle and pass around arrays of bytes32 (i.e. for merkle trees and whatnot) but be able to cleanly handle the underlying data as numbers.
Consider a Merkle

[2020-12-18 08:26] #10602 closed, assigned to nobody

[2020-12-18 08:55] leonardoalt commented on #9806
All the features were merged!

I'd still keep this issue open, because:

The SMTChecker creates a bunch of verification targets: `assert(false)` and some arithmetic checks. Unfortunately I don't think we'll be able to prove that `assert(false)` is unreachable, because this requires Spacer to infer a nonlinear invariant for the loop, which I don't think will happen.

However, it should be able to p

[2020-12-18 13:09] #10411 closed, assigned to nobody

[2020-12-18 13:27] chriseth commented on #10649
If I understand you correctly, you are saying that `bytes32(x)` (for `x` being of `uint256` type) generates an `and` instruction, even though it is not necessary. Is that correct?

Is the `and` operation removed when you activate the optimizer?

[2020-12-18 13:29] #10413 closed, assigned to nobody

[2020-12-18 13:54] lebed2045 commented on #8989
because of this errors plugins like https://github.com/rkalis/truffle-plugin-verify can't simply be use without some sort of workaround. You also can't simple upload many files on etherscan if you use lots of libs from oz. Wouldn't be better to emit a warning instead of an error?

[2020-12-18 14:22] #10631 closed, assigned to nobody

[2020-12-18 15:01] bshastry opened #10654 "[SyntaxChecker] ICE due to match expression having no value"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/72efdd3e513137d744029582f106b57bd55c030f/libsolidity/analysis/SyntaxChecker.cpp#L164

Introduced most likely by https://github.com/ethereum/solidity/commit/b14a6a10cc8ada674abcf931261838df79ee4ae6

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-12-18 15:03] hrkrshnn commented on #10645
It might be possible to solve this using a Linear Program.

The important part of the above code is the following:

[code]

We can encode things this way. Call the memory location that we are interested in by `m`. (Here we have the equation `m := 64`)

Define a variable `c := calldatasize()` and constraint `c >= 0`.

The memory encodings:
1. `calldatacopy(128, _1, calldatasize())`: `128 <= m < 128

[2020-12-18 15:41] payvint commented on #10644
Yeap - that works - thanks!

[2020-12-18 16:06] agroce opened #10656 "[SMTChecker] ICE in void solidity::frontend::smt::SymbolicState::buildABIFunctions(const set<const solidity::frontend::FunctionCall *> &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.8.1-develop.2020.12.18+commit.72efdd3e.mod.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution envir

[2020-12-18 16:10] agroce opened #10657 "[SMTChecker] SMT logic error in solidity::smtutil::Expression solidity::smtutil::Expression::store(solidity::smtutil::Expression, solidity::smtutil::Expression, solidity::smtutil::Expression)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.8.1-develop.2020.12.18+commit.72efdd3e.mod.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution envir

[2020-12-18 16:14] agroce opened #10658 "[SMTChecker] SMT logic error in std::string solidity::smtutil::SMTLib2Interface::toSmtLibSort(const solidity::smtutil::Sort &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.8.1-develop.2020.12.18+commit.72efdd3e.mod.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution envir

[2020-12-18 16:22] agroce opened #10659 "[SMTChecker] Unknown exception during compilation: map::at"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.8.1-develop.2020.12.18+commit.72efdd3e.mod.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution envir

[2020-12-18 16:32] agroce opened #10660 "[SMTChecker] ICE in void solidity::frontend::SMTEncoder::visitFunctionOrModifier()"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.8.1-develop.2020.12.18+commit.72efdd3e.mod.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution envir

[2020-12-20 18:57] agroce opened #10666 "[SMTChecker] ICE in function smtutil::Expression solidity::frontend::smt::EncodingContext::newValue(const frontend::VariableDeclaration &) (different contract structure)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.8.1-develop.2020.12.20+commit.67712d50.mod.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution envir

[2020-12-21 05:08] agroce commented on #10666
(basically another try/catch + SMT bad interaction, but a different symptom and structure)

[2020-12-21 09:42] bshastry opened #10667 "[codegen] ICE because function item stored but target not equal to source"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/67712d50ba2de411fe781e7f6385ad1ceee155d5/libsolidity/codegen/LValue.cpp#L305

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-12-21 11:07] #8166 closed, assigned to nobody

[2020-12-21 12:06] chriseth commented on #10405
Another idea to improve the performance of the DataFlowAnalyzer:
Currently, it always represents the state of all variables. It might be more efficient to instead just store the processes that modify the states of variables (assignments, etc). And then only determine the value of a variable upon request by analyzing the processes.

[2020-12-21 14:29] #10115 closed, assigned to mijovic

[2020-12-21 14:29] #10118 closed, assigned to mijovic

[2020-12-21 14:49] leonardoalt commented on #9393
Besides that, it would be good to know which external calls created which reentrant calls:
[code]
If `cond` depends on `C`'s state which can be modified by `d.g()`, it's important to know exactly what `d.g()` and `d.h()` did in the counterexample.

This can potentially be done by adding simple rules for each of this externally called functions, where they add the `nondet_interface` constraints ins

[2020-12-21 15:07] blishko opened #10671 "[SMTChecker] Incorrect analysis of virtual function call"
False negative in the following example:
[code]

SMTChecker (CHC engine) does not report any problem.
However, the call to `C.proxy()`calls `C.f()` (using the virtual function call mechanism) where the assertion is violated, so an assertion violation should be reported.

[2020-12-21 17:05] #10660 closed, assigned to nobody

[2020-12-21 18:31] chriseth opened #10673 "Take termination into account for RedundantAssignEliminator"
In the following code, the assignment `a := 2` should be optimized out (which allows further optimizations) because `a` is never read again after that assignment.
[code]

The same should be true if `stop()` is replaced by `leave`.

The solution here could be to mark undecided assignments as "unused" whenever we encounter a statement that terminates.

[2020-12-21 18:42] chriseth commented on #10673
Please check that everything still works if there is "garbage" after the terminating statement. In this case, the result does not have to be optimal (there should be another step that should clean that up), but it should at least not be incorrect.

[2020-12-22 01:09] MicahZoltu opened #10674 "Make `this` behave more closely to how it behaves in all other languages."
## Abstract
Change the semantics of `this` to match other object oriented languages.  `this.member` would reference a storage slot of the current contract and `this.function` would do an internal call of the given function.  If one wants to force an external call of a member function then typecasts can be used like:
[code]

## Motivation
Currently, `this.member` doesn't work and `this.function` wo

[2020-12-22 02:48] deluca-mike commented on #10649
Let me do some tests and report back shortly.

To be clear, at least half the feature request is about code readability via implicit casting of types that are the exact same size/bits on the stack. This is especially useful in a "world" where you can only access the last 16 stack slots, allowing you to reuse like-type variables without ugly casting, as per my above example.

[2020-12-22 09:35] mijovic commented on #10390
List of tests failing with different results viaYul
https://github.com/ethereum/solidity/pull/10546#issuecomment-749441119

[2020-12-22 10:21] chriseth commented on #10674
I do see the confusion with other languages, but what you are essentially suggesting is a second way of accessing items that are already accessible directly. Note that local variables and state variables can already be disambiguated:
[code]

`this` is indeed used almost never for external function calls, but I think that the type of `this` would be naturally expected to be `Apple`.

So to summariz

[2020-12-22 10:58] MicahZoltu commented on #10674
I did not know that you could reference members like that!  Given that information, perhaps the right solution is to just remove the `this.` functionality entirely for now and create some new mechanism for forcing external calls?  I personally think they are rare enough that `Apple(address(this)).banana()` is acceptable, but if others disagree I'm not opposed to something like `externalThis.banana

[2020-12-22 14:15] #10412 closed, assigned to mijovic

[2020-12-22 14:53] hrkrshnn commented on #10645
BTW, `mstore(add(128, calldatasize()), _1)` will reset all the memory at that point (`64 -> 128`). So even if we don't clear memory for `delegatecall(gas(), loadimmutable("2"), 128, calldatasize(), _1, _1)`, we still won't be able to resolve `let memPtr := mload(64)`.

The smt based technique can now handle this https://github.com/ethereum/solidity/pull/10681/files#diff-a543663ab8a611118fb129bbe24

[2020-12-22 21:43] #9714 closed, assigned to nobody

[2020-12-23 05:59] deluca-mike commented on #10649
Ok, did some tests, and gas differences are not attributed to casting "like-types". So I guess this feature request is now just about implicit casting for cleaner code.

[2020-12-23 11:55] hrkrshnn opened #10687 "Convert certain `and(mul(a, b), mask)` and `and(add(a, b), mask)` into `mulmod(a, b, x)` and `addmod(a, b, y)`"
For example the following solidity snippet

[code]

would be converted into (by the optimizer)

[code]

Here `_1` is a shorter representation of the constant.

Instead the more optimized version would be
[code]

It is shorter and avoids a `sub`. `and + mul` has the same gas as `mulmod`.

Similarly, for `addmod`, but `add + and` is `6`, and `addmod` is `8`. We save a `sub`. So total saving of `2` g

[2020-12-23 12:03] hrkrshnn opened #10688 "Convert certain mod(mul(X, Y), A) into mulmod(X, Y, A)"
If `A` is a constant that divides `2**256` (so basically of the form `2**N`), then the two expressions should be the same. `mod(mul(X, Y), A)` costs 10 and `mulmod(X, Y, A)` costs `8` (excluding the shorter deploy code.)

[2020-12-23 12:06] hrkrshnn commented on #10688
May also be worth considering converting `mod(add(X, Y), A)` into `addmod(X, Y, A)` where `A` divides `2**256`. Also if we can prove that `add(X, Y)` does not overflow, then the both expressions would be the same for any `A` (doesn't have to divide `2**256`)

[2020-12-24 14:09] mijovic opened #10689 "[Sol->Yul] Copying nested bytes array from storage to memory doesn't work"
Smeantic test `storage_memory_nested_bytes.sol`:

[code]

doesn't work via yul. It results in array of two `bytes` which are all length of zero.

[2020-12-24 14:10] mijovic commented on #10390
#10689 Last remaining test for array copying

[2020-12-24 14:56] hrkrshnn opened #10690 "[Optimizer] Redundant mstore remover"
The more `mload`, that we can resolve, it becomes important to remove mstores that are never acessesed.

In the proxy example (optimized code of proxy.yul from https://github.com/ethereum/solidity/pull/10681/files#diff-a543663ab8a611118fb129bbe24b2def1b3c4c8f79948d42cd61b0d8122d3015)

The two `mstore(64, ...)` is redundant.

[code]

[2020-12-24 15:03] hrkrshnn commented on #10690
A solver based approach may work for this. A rough idea is the following

1. We encode all `mstore(x, y)`.
2. We encode an expression that reads from memory (similar to https://github.com/ethereum/solidity/pull/10681). By using a solver, we try to prove if it doesn't read from `x`, if the solver can't prove it we assume it reads from `x`.
3. If none of the expressions reads from the memory `x`, we

[2020-12-25 02:18] smartcontracts commented on #10282
A wider range of type casting options would be wonderful.

[2020-12-25 15:27] thegostep opened #10692 "block.coinbase should not be payable"

[2020-12-26 12:38] MrChico opened #10693 "missing constraints on block.timestamp in SMTChecker"
In the following code:
[code]
Compiling with `0.7.6`, both bmc and chc reports that `b + 0` results in an overflow when `b = 2**256`. However, this is not a possible value for `block.timestamp`. Here's the error message from bmc:
[code]

I'm also confused by the loose hanging `= 0`, I think maybe `block.timestamp` isn't pretty printed properly...

[2020-12-26 16:06] axic commented on #10693
Since the opcodes don't define any limits currently, assuming 256-bit is somewhat correct for all these variables. However, there's #9810 to change it.

And the missing name is something which should be fixed anyway :)

[2020-12-26 16:07] axic commented on #10692
Good catch, the coinbase does not need to be actually payable, since the "coinbase transaction" is not executing any code.

[2020-12-26 18:06] thegostep commented on #10692
there are use cases where you would want to send eth to the miner

see: https://ethresear.ch/t/flashbots-frontrunning-the-mev-crisis/8251

[2020-12-27 23:16] mudgen opened #10695 "Remove Builtin Default Over/Underflow Reverts"
Solidity 0.8.0 added built-in, by default, reverts when there is an overflow or underflow in an operation on integers.

I prefer the explicitness of SafeMath, or my own require statements. Over/underflow reverts by default are not a solve-all for the problem. In some cases revert on over/underflow is the wrong action, for example when it locks funds in a contract forever.

I don't want to use `unc

[2020-12-27 23:56] mudgen opened #10696 "How to write an unchecked for loop?"
How do I write an unchecked for loop using Solidity 0.8.0.

I tried the following but I get a syntax error:
[code]

[2020-12-28 03:54] wjmelements commented on #10695
I would be interested to know whether the compiler can optimize the boundary checks for that for-loop case, but I suspect there are numerous other deducible cases that will have redundant checks now. Another case I suspect could not be optimized but could be deduced would be a finite geometric sum.

[2020-12-28 09:26] leonardoalt commented on #10696
[code]

[2020-12-28 09:26] #10696 closed, assigned to nobody

[2020-12-28 09:27] leonardoalt commented on #10696
You can also wrap the whole loop:
[code]

[2020-12-28 09:29] leonardoalt commented on #10695
If that's the case you coded it wrong. That's what `unchecked` is for.

If you don't want to use the built-in checks at all, you can always simply
[code]
and add your old SafeMath code

[2020-12-28 09:31] leonardoalt commented on #10695
@wjmelements The Yul optimizer is expected to catch the simple and general loop cases once SolYul is live.

Such cases are edge cases (as in not as widely used as the mentioned loops) and can obviously be handled  with `unchecked`, since you as the developer know that it is the case.

[2020-12-28 09:37] leonardoalt commented on #10695
Built-in underflow and overflow checks were just introduced and from the feedback we got they were very well received by the community, so I don't think it's reasonable to just get rid of it right now.

[2020-12-28 09:39] leonardoalt commented on #10282
@kfichter Lately we've actually been making type casting stricter and more explicit. What would you suggest could be improved?

[2020-12-28 10:17] leonardoalt commented on #10695
@mudgen That said, if the issue is mostly about the loop post part, could you please change the issue title?

[2020-12-28 10:20] leonardoalt commented on #10693
@axic that's correct, but I think @MrChico 's point is that it's suggesting a value above that (2**256 itself), which is wrong

[2020-12-28 10:20] leonardoalt commented on #10693
I think that should be your function's return variable

[2020-12-28 10:22] leonardoalt commented on #10692
@thegostep given your last comment, are you suggesting it should or should not be payable?

[2020-12-28 10:29] hrkrshnn commented on #10695
@wjmelements  Can you give an example of what you are talking about?

[2020-12-28 11:08] MicahZoltu opened #10698 "Unchecked block as an expression."
## Abstract
Make it so `unchecked { ... }` blocks are an expression that return the the result of the last expression if the last thing in the block is an expression.

## Motivation
Unchecked blocks are a bit unwieldy at the moment because you have to fully isolate the code inside the unchecked block from the code around it which makes it awkward to deal with.  It would be nice to be able to use u

[2020-12-28 11:11] leonardoalt commented on #10695
@hrkrshnn I think you tagged the wrong person

[2020-12-28 13:45] MrChico commented on #10693
Isn't that `<result>`?

[2020-12-28 13:54] leonardoalt commented on #10693
<result> should be the operation that caused the overflow, in this case `b + 0`. Return variables always exist as actual variables, even if unnamed. `= 0` is just the return variable value, but since it's unnamed it shows like this

[2020-12-28 13:54] leonardoalt commented on #10693
Both of course could/should obviously be improved

[2020-12-28 15:22] mudgen commented on #10695
It's not mostly about the loop post part.

[2020-12-28 15:25] mudgen commented on #10695
In the issue I mentioned the possibility of locking funds in a contract forever because of reverting on under/overflow.

Here's an actual, real example of that:

The [GHST Staking Diamond](https://etherscan.io/address/0x93eA6ec350Ace7473f7694D43dEC2726a515E31A) has millions USD worth of tokens staked in it which earn "frens" points. The [stake withdraw functions](https://github.com/aavegotchi/ghst

[2020-12-28 15:25] leonardoalt commented on #10695
Then I would suggest that the issue should be closed. The feature has been discussed at length for years and has just been added, so I don't think it makes any sense to simply remove it entirely as you suggest.

[2020-12-28 15:26] mudgen commented on #10695
@leonardoalt Okay, where is the best public place to give my feedback on Solidity language features?  Maybe I posted in the wrong place.

[2020-12-28 15:27] leonardoalt commented on #10695
Sure, I know other contracts that also deal with a lot of money that also rely on underflow and overflow. Those were not written with Solidity 0.8 and built-in revert in mind. If they were, they would use `unchecked` and nothing would be locked.

[2020-12-28 15:28] leonardoalt commented on #10695
This issue reads more like a feature request and not feedback. What exactly is your goal with this issue?

[2020-12-28 15:29] mudgen commented on #10695
The contract does not rely on overflows or underflows, that would be a bug.   In this case reverting is the wrong action to handle overflow/underflow, resulting in locked funds.

[2020-12-28 15:30] leonardoalt commented on #10695
What I said is still valid. It was written in Solidity 0.7. If it was written in 0.8, it wouldn't be locked because you would have used `unchecked`.

[2020-12-28 15:31] mudgen commented on #10695
Yes, correct.

[2020-12-28 15:33] mudgen commented on #10695
To give feedback and to influence change to hopefully move in the direction of removing or limiting default reverts on overflow/underflow.

[2020-12-28 15:35] leonardoalt commented on #10695
You mean rolling back to old versions and effective apply `no change`? ;)

[2020-12-28 20:05] thegostep commented on #10692
I think it should default to non-payable for consistency but still work with `payable(block.coinbase).transfer()`

[2020-12-28 22:45] smartcontracts commented on #10282
@leonardoalt honestly the more I think about this, the more it seems like the sort of type casting I'm interested in is probably beyond the requirements of a stdlib. Probably better for this sort of stuff to live in a different (but standardized) library.

[2020-12-28 22:47] smartcontracts commented on #10282
Although other common operations like `bytes` manipulation (slicing, for one) or bit-level stuff (checking if a bit is set) would be very useful. It's easy enough in assembly, but would be nice not to have to implement it ourselves.

[2020-12-29 09:47] leonardoalt commented on #10698
I was writing tests for https://github.com/ethereum/solidity/pull/10661 today and *really* missed this feature.

[2020-12-29 10:05] #10576 closed, assigned to nobody

[2020-12-29 10:33] m1cm1c opened #10701 "Slicing is ambigious in AST"
## Description

You cannot tell whether

[code]
is part of the AST of source code containing `foo[:23];` or `foo[:23];` because when creating an AST via `solc --ast-json file.sol`, the output is identical (except for literal 23's `src` attribute).

## Environment

- Compiler version: 0.7.4
- Target EVM version (as per compiler settings): istanbul
- Framework/IDE (e.g. Truffle or Remix): none (comp

[2020-12-29 14:02] elenadimitrova commented on #9554
Has this been implemented for immutable variables with literal number values only? I am still getting an error compiling with 0.7.6 testing with an address type value.

[2020-12-29 14:05] #10671 closed, assigned to nobody

[2020-12-29 20:31] gorgos commented on #2691
Here's a simple use case for this feature:

Deploying a contract >24kb on a private chain to get rid of 'Warning: Contract code size exceeds 24576 bytes'.

[2020-12-30 08:14] #10659 closed, assigned to nobody

[2020-12-30 08:14] #10693 closed, assigned to nobody

[2020-12-30 13:49] blishko opened #10703 "[SMTChecker] Missing type constraints on transaction variables in contract deployment phase."
The following examples current produce false reports from SMTChecker. The reason are missing type constraints on transaction variables in contract deployment phase.

[code]
produces
[code]
even though the overflow is not possible.

[code]
produces
[code]
even though the assertion is safe and the CEX `owner = (- 1)` does not make sense.

[2020-12-30 14:54] mudgen commented on #10695
Can there be a `pragma unchecked` or something similar that applies to the whole file?  I created an issue for that here #10706

[2020-12-30 15:00] #10066 closed, assigned to nobody

[2020-12-30 23:56] cameel commented on #10692
I guess this should have been changed in 0.8.0 along with the types of the other addresses. Do we consider it a bug or just a missing feature?

[2020-12-31 00:05] cameel commented on #10698
I think this would make the language nicer to use. When I was discussing the `match` statement for #909 with @christianparpart some time ago, we both thought that it it would be best off as an expression (like in functional languages or Rust) and, extending that even further, it would be a good thing if every block actually worked that way.

[2020-12-31 00:27] cameel commented on #10701
Yeah, and that's not the only ambiguity in the legacy JSON AST. We do have a replacement for it which is `--ast-compact-json` so I recommend switching to that. `--ast-json` option has been dropped in 0.8.0 (see #9512 and #10363 for details).

By the way, I noticed that [docs for 0.8.0 still mention `--ast-json`](https://github.com/ethereum/solidity/blob/develop/docs/using-the-compiler.rst#basic-us

[2020-12-31 00:27] #10701 closed, assigned to nobody

[2020-12-31 17:03] mudgen opened #10706 "Support 'pragma unchecked' in Solidity 0.8.0"
I have a style of dealing with over/underflows in Solidity that works like this:

Very often I use large enough variables in contexts where it is impossible to overflow and/or underflow them. Therefore I don't need to use SafeMath or default reverts from Solidity 0.8.0.

In cases where using large enough variables to prevent overflow/underflow is not possible I use explicit require statements or o

[2021-01-01 08:32] Lucienest commented on #683
I oppose the idea of removing tx.origin, Many users do utilize it for different checks. msg.sender couldn't be an alternative to tx.origin as both serve a different purpose.

[2021-01-02 09:07] ityuhui commented on #10305
May I take this ticket ?

[2021-01-02 15:46] cameel commented on #10305
Sure.

[2021-01-03 17:46] jalextowle commented on #9986
@cameel I found your conversation with @mudgen on this topic to be interesting. I'd like to offer a slightly different perspective that I acquired this week while writing a new set of contracts. I may be missing something that makes my proposal undesirable, and this feature may be too niche to warrant support. If that is the case, I'd appreciate a comment explaining what the problem in this soluti

[2021-01-04 08:01] chriseth opened #10708 "[Optimizer] Function parameter grouper"
Once we add memory objects, we might end up with lots of code that looks as follows:

[code]

It would be nice if we could pull the `add(obj, offset)` up in the call chain, because it is quiet a waste to use two parameters for them all the time.

Proposal:

If two parameters are used exactly once inside a function body, this use is "cheap" and movable and is an assignment to an SSA variable `t`, t

[2021-01-04 08:18] chriseth commented on #10354
@cgewecke my guess is that the relevant code is inside the ABI coder, and it might actually be a problem for all files. The more values are decoded at the same time the bigger the stack pressure.

I don't see how determining the deployed bytecode relates to source maps. If you have immutables, you can only simulate the creation - there is no other way that works in all cases. Is the problem that y

[2021-01-04 08:37] chriseth commented on #10145
@axic I think we should search with the more relaxed regex but then check the license candidate with the stricter regex and warn i it does not match.

[2021-01-04 13:21] chusanchen opened #10711 "How can i install Solidity 0.4.9 on my ubuntu?"
HI ,
I'm a new learner of Ethereum。which file should i download and how can i  install?
wish you have a good day.

[2021-01-04 13:46] axic commented on #10145
That makes sense. I did the first step (matching more SPDX lines) after #10653, but did not do the second step yet.

[2021-01-04 14:09] bshastry opened #10712 "[SMTChecker] ICE because `m_checked` is false in an unchecked block"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/fdbb4d9a8fef8623eca99a807675815f3c0ebce4/libsolidity/formal/SMTEncoder.cpp#L290

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2021-01-04 14:26] bshastry opened #10713 "[Testing] Seg fault probably due to boost::filesystem"
## Description

[code]

throws

https://github.com/boostorg/filesystem/blob/6b5e38134a336b6ea777cd8a69b6ae929819db7e/src/path.cpp#L223

via

https://github.com/ethereum/solidity/blob/fdbb4d9a8fef8623eca99a807675815f3c0ebce4/libsolutil/CommonIO.cpp#L140

## Environment

- Compiler version: latest develop

## Steps to Reproduce

- Create a test file called `invalid_filename.sol` in `test/libsolidity

[2021-01-04 18:22] hrkrshnn commented on #10711
If you are a new learner, it is recommended to use a more recent version. 0.8.0 or 0.7.x. On installation see https://docs.soliditylang.org/en/v0.8.0/installing-solidity.html Also please use https://gitter.im/ethereum/solidity for such questions in the future.

[2021-01-04 18:22] #10711 closed, assigned to nobody

[2021-01-04 20:09] #10654 closed, assigned to axic

[2021-01-05 09:38] ekpyron opened #10715 "Investigate source mappings for reverts after optimization. Resp. how to deal with the optimizer collapsing source locations."
Reported by @haltman-at on gitter:

  if it is, I want to suggest that the relevant overlapping code should either lie in a generated source, or else simply be unmapped, so that this problem doesn't happen. but, I can't reproduce it, so I don't even know if it's real

IIUC the issue is that the optimizer collapses source locations - not sure if we can do much about this, unless we allow a piece of

[2021-01-05 11:39] bshastry commented on #10658
Thanks for reporting the issue @agroce

Another variant for the same assertion failure is

[code]

[2021-01-05 14:36] leonardoalt opened #10717 "[SMTChecker] Underflow/overflow should only warn if always happens"
Now that underflow/overflow always reverts (in checked arithmetic) it feels kinda weird to generally warn for underflow/overflow:
[code]
This reports
[code]
which is kinda weird because the overflow cases will never reach the end of the function.

I think the interesting case is rather "always overflows", because the contract is then locked. This can be more generalized to "function does not termi

[2021-01-05 14:41] ekpyron commented on #10717
Hm... are we all-in on the idea that automatic overflow checks basically function as implicit ``require``? I'd say it still makes sense to report overflows, even if they revert by default, forcing you to think about reasonable limits that you specifically, manually ``require`` yourself...
In general I'd still treat failing auto-generated as failed assertions... but not sure if I'm alone in that vi

[2021-01-05 14:43] leonardoalt commented on #10717
Well, no one is going to write
[code]
in 0.8, the effect is the same

[2021-01-05 14:46] ekpyron commented on #10717
What you should do is
[code]
I'd say that actual overflows are never really reasonable bounds for anything.

[2021-01-05 14:48] leonardoalt commented on #10717
Right, but no one is going to do that. I think most people are just going to do math and use the compiler generated reverts to get rid of that behavior. In that case, people are gonna get tens or hundreds of useless overflow messages

[2021-01-05 15:06] ekpyron commented on #10717
I'm not sure if we should go for assuming people do things badly anyways and thereby build things towards people doing things badly :-). But yeah... since I expect to be outvoted on that anyways ;-):

"always overflows" is indeed an interesting property to check for, especially in CHC where you should be able to tell, if a contract can reach a state in which some function won't work anymore becaus

[2021-01-05 15:09] ekpyron commented on #10717
Or do you mean "always overflows" as in "locally always overflows" only, as in ``uint8 a = 200; uint8 b = 200; a + b;``? About that of course it definitely always makes sense to warn, even though I wouldn't expect it to happen very often...

[2021-01-05 15:11] ekpyron commented on #10717
So local function termination checks (i.e. "function never terminates regardless of contract state") probably generally make sense. One could consider to make warning about overflows optional... but not sure if that'd open the way to SMT settings hell...

[2021-01-05 15:12] blishko commented on #10717
Personally, I also think that overflow warnings would be useful, but I guess it depends on what philosophy are you trying to put forward.
It is also possible to wait and see what the reaction is from the users :)
Another possibility would be to turn this into an option which the users could turn on or off.

Regarding the "always overflows", it sounds like a useful thing to detect.
But exactly as @

[2021-01-05 15:22] leonardoalt commented on #10717
I see those points, what I'm thinking in practice is:
Imagine a current contract that uses a bunch of SafeMath. 70% of the current unique deployed contracts do. When upgrading to 0.8, the devs simply remove the SafeMath calls and use the appropriate arithmetic operator, as in replacing `x.add(y)` by `x + y`.
In this case, every single arithmetic operation will warn "overflow", where the dev probab

[2021-01-05 15:25] leonardoalt commented on #10717
I mean an operation causing transactions to always revert

[2021-01-05 15:57] blishko commented on #10717
Always reverts regardless of the state of the contract or depending on the state of the contract?

[2021-01-06 04:46] haltman-at commented on #10715
Yes, so, to be clear, the problem only happens with the optimizer turned on (I didn't understand this at first which was why I wasn't sure it was real), which makes it arguably not a bug, but it is annoying.

For obvious reasons, I don't think making one piece of bytecode point to two source locations makes any sense.  However -- to repeat what I said on Gitter -- if it would be possible to instea

[2021-01-06 10:03] ekpyron commented on #10715
Well, pointing to several source locations would be the most accurate, especially since this may happen a lot more often and for any kind of user-code as well once we switch to Sol->Yul codegen... but it may of course not be very practical... and also probably not very useful unless a jump would also mark into which set of those multiple source locations it would jump (if that is even always possi

[2021-01-06 13:49] hrkrshnn opened #10720 "[Optimizer] Loop Invariant Code Motion for storage and memory writes that are invariant"
Writes that are invariant in the for loop can be moved outside the loop as long as it's inside an `if` statement with the same statement as the `for` loop.

For example,

[code]

The above code can be converted into

[code]

[2021-01-07 06:28] ViralTaco opened #10725 "The reserved name `cout` should not be redefined using the macro system."
Hi.
https://github.com/ethereum/solidity/blob/5241b7b761f304af3f49e6b2f5dfe330a7cb508d/solc/CommandLineInterface.cpp#L112
This is undefined behavior. Meaning it's not a program. It may behave as one. But it doesn't have to. And the day it doesn't that's gonna be a 'dumb' waste of time.
It could be a struct `Logger` which would be a bit more idiomatic. None of the code really has to change, it just

[2021-01-07 10:44] leonardoalt commented on #10725
That would be great, thanks!

[2021-01-07 11:12] ekpyron commented on #10725
What makes you say it's undefined behaviour? I agree that it's rather horrible (it's there to prevent directly using ``cout`` instead of ``sout()``, which in itself is horrible) - just like that entire file is horrible ;-). But I still think as it stands it's well-defined.

[2021-01-07 11:46] ViralTaco commented on #10725
[It being undefined behavior](http://eel.is/c++draft/reserved.names#general-2). You are redefining a [predefined object](http://eel.is/c++draft/iostream.objects#narrow.stream.objects). Any part of the [standard library can rely on it](http://eel.is/c++draft/reserved.names#macro.names-1).

[2021-01-07 11:46] ekpyron opened #10726 "Yul Optimizer: remove unnecessary ``leave``."
I just saw this: https://github.com/ethereum/solidity/blob/5241b7b761f304af3f49e6b2f5dfe330a7cb508d/test/libyul/yulOptimizerTests/fullSuite/unusedFunctionParameterPruner.yul#L32

I.e. ``function f() { if cond { leave } }`` is left by the optimizer.
We should remove ``leave``, if there no more statements afterwards anyways, i.e. this should first reduce to
``function f() { if cond { } }`` which wou

[2021-01-07 12:19] ekpyron commented on #10725
http://eel.is/c++draft/reserved.names#general-2 - ``cout`` is neither a macro, nor a global name, nor a name with external linkage, it's a qualified name in the ``std`` namespace only...
But this still probably actually indeed falls under http://eel.is/c++draft/reserved.names#macro.names-1
In any case, the whole file needs a rewrite in general, getting rid of this and all the other oddities in the

[2021-01-07 12:24] ViralTaco commented on #10725
Right… It's an OBJECT not a name. It's NOT a marco. AND it is part of the `std` namespace. Those are only 3 ways how it's undefined behavior. If you have a definition for it point it out. (Don't) It's not there, it's ill-formed.
I'm not here to argue. I've given you the information. You can read the standard on your own time.

[2021-01-07 15:45] aarlt commented on #6902
I was experimenting a bit with the syntax and how we could implement this. I was thinking about introducing "builtin" functions into isoltest. I thought it would make sense to provide the same "low-level" functions - `numLogs`, `numLogTopics`, `logTopic`, `logAddress` and `logData` - as used in `SolidityEndToEndTest.cpp`.

I think @ekpyron syntax proposal is nice but maybe it is too high-level. If

[2021-01-08 12:10] chriseth opened #10729 "Allow explicit conversions between address and bytes20"

[2021-01-08 12:53] #10646 closed, assigned to nobody

[2021-01-08 14:08] chriseth commented on #10717
Overflows create a panic error just as division by zero or invalid array access does, so I think any potential panic should be reported.

[2021-01-08 16:33] chriseth commented on #10692
It doesn't actually hurt anyone, so I would just schedule for 0.9

[2021-01-08 17:28] skyfly200 commented on #9645
I to really need this!

[2021-01-08 19:29] agroce opened #10730 "[SMTChecker] SMT logic error in static solidity::smtutil::Expression solidity::smtutil::Expression::select(solidity::smtutil::Expression, solidity::smtutil::Expression)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  Version: 0.8.1-develop.2021.1.8+commit.f03245d4.mod.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM executio

[2021-01-08 20:11] leonardoalt commented on #10695
I hope not :smile:

Seriously now, does anyone have any **actual** data on the gas differences? Or is it still all hypothetical?

[2021-01-09 07:17] rvantonder opened #10732 "Compilation doesn't terminate for contract"
## Description

`solc` doesn't terminate when compiling this small contract (I let it run for ~2 mins then `Ctrl-c`'d):

[code]

Without the assembly block, this contract causes a cyclical dependency in the `x = x` statement. Looks like the cycle detection trips up with a variable use or assignment in the assembly block.

Found on master, part of the fuzzing project https://github.com/agroce/afl-c

[2021-01-10 20:50] agroce commented on #10732
@bshastry note this is from an offshoot of my ongoing AFL-based fuzzing effort; we're hoping to have some new things by using more sophisticated mutation generation.  @rvantonder is the brains behind the comby tool that can give the fancy mutation

[2021-01-11 02:08] Aboudjem commented on #6076
Thank you very much, I was stuck on this problem without solutions and it was actually the spaces

[2021-01-11 10:50] hrkrshnn commented on #10729
Actually, not sure what is missing here

[code]
Compiles fine.

However, explicit conversion `address payable <=> bytes20` is not allowed though.

[2021-01-11 10:52] hrkrshnn commented on #10729
I checked the tweet (https://twitter.com/NCyotee/status/1347253801653309443?s=20) and it was about `bytes32 <=> address`.

[2021-01-11 12:00] chriseth commented on #10729
Weird - not sure why I thought it would not be possible.

[2021-01-11 12:00] #10729 closed, assigned to hrkrshnn

[2021-01-11 14:25] christianparpart commented on #8860
@axic the good thing about submodules is, you do not have to check them out and can still opt for system installed dependencies.

This ticket is also quite old, and I'm now at some ticket where fmtlib actually does make sense (solidity LSP server) for server side logging. I think I'd just use submodules for now until someone complains in the PR, as I think I can always change that at a later point

[2021-01-11 14:31] blishko opened #10735 "[SMTChecker] False positive related to StringLiteral to FixedBytes conversion"
In the following example
[code]

SMTChecker reports violation of the first `assert(uint8(x[0]) == 255)`, but that assertion is safe.

[2021-01-11 17:57] #10165 closed, assigned to cameel

[2021-01-11 18:04] chriseth commented on #10649
Ok, then going back to the other part of the issue: You would like all operators available to uint to also be available to bytes32 and vice-versa? I think this would create too much confusion. `x * 2` for `x` being `bytes32` for example could mean to concatenate `x` with itself. Furthermore, I think your code does quite some unusual things where it is good to add some warning signs in the form of

[2021-01-11 18:06] chriseth commented on #10687
This sounds good in general, but I'm a bit concerned about this transform destroying some other potential opportunities.

[2021-01-11 18:33] ekpyron opened #10738 "Replace loops by range-v3 loops where applicable."
After https://github.com/ethereum/solidity/pull/10737 we should be able to replace nearly all non-range-based for loops by range-based loops using appropriate ranges.

[2021-01-11 19:36] chriseth commented on #10738
oh yes!

[2021-01-11 21:41] axic commented on #8860
@christianparpart I am not sure I follow how a git submodule could "opt for system installed dependencies" ?

[2021-01-11 21:43] axic commented on #10738
And also replace the `boost::algorithm::reverse` iterator? I think ranges-v3 has some functionality for that?

[2021-01-11 22:31] ekpyron commented on #10738
Especially if there is a ``ranges::cpp20::*`` version of any boost range algorithm or boost range adaptor, it'd make sense to switch to the ranges-v3 version.

[2021-01-12 01:08] vporton opened #10743 "External calls with "view: true" attribute"
## Abstract

In existing Solidity there is no way to make an external call from a view function (when the external function is also view), except of using `staticcall` feature. It should be doable without using this hard to use feature.

## Specification

It should be added new `view` boolean parameter to external calls to be used like:

`who.f{view: true}(...);`

`view` could be only the constant

[2021-01-12 08:02] mijovic commented on #10622
Fixed by #10625

[2021-01-12 08:02] #10622 closed, assigned to nobody

[2021-01-12 10:02] cameel opened #10745 "OpenZeppelin external tests should be using Buidler/Hardhat instead of Truffle"
Continuing the discussion from #10672.

OpenZeppelin uses Buidler as its build system while our `test/externalTests/zeppelin.sh` attempts to use Truffle to build it. It appears to work but only because the whole thing does not fail too easily and has multiple failsafes where default things get used/downloaded when not available:
- We launch Truffle via `npx truffle compile`. `npx` just installs it

[2021-01-12 10:29] cameel commented on #10738
Two things that should be easy to find and replace are uses of `boost::adaptors::map_keys` and `boost::adaptors::map_values`. That would be `views::keys` and `views::values` now.

[2021-01-12 10:40] MrChico commented on #10278
As of https://github.com/dapphub/dapptools/pull/569, dapptools now no longer relies on `combined-json`.

[2021-01-12 11:04] #10600 closed, assigned to nobody

[2021-01-12 11:04] #10110 closed, assigned to nobody

[2021-01-12 11:04] #10666 closed, assigned to nobody

[2021-01-12 11:17] chriseth commented on #10743
I'm not sure this is true. The following code is valid:

[code]

Are you saying you want to force the use of `staticcall` even on functions that are not view functions?

[2021-01-12 11:35] leonardoalt commented on #9806
Running current develop on vanilla `deposit.sol` proves all targets but the `assert`, which is actually the best we can expect due to the `assert(false)` needing a nonlinear inductive invariant which we don't expect Spacer to find. All the language features are supported.

[2021-01-12 11:35] #9806 closed, assigned to nobody

[2021-01-12 11:36] leonardoalt commented on #10007
As explained in https://github.com/ethereum/solidity/issues/9806, we can't really expect to solve the loop, aka proving that `assert(false)` is not reachable, due to it needing a nonlinear inductive invariant which we can't expect to be found.

[2021-01-12 11:36] #10007 closed, assigned to nobody

[2021-01-12 11:40] leonardoalt commented on #9788
Latest develop:
[code]

In this case I think we can't also expect these to be solved because they depend on a nonlinear invariant.

[2021-01-12 11:40] #9788 closed, assigned to nobody

[2021-01-12 12:02] vporton commented on #10743
I've realized that there was an error in my report. Ignore it, closing the issue.

[2021-01-12 12:02] #10743 closed, assigned to nobody

[2021-01-12 12:32] KyleSmith19091 commented on #10688
Hi I have been looking at this issue for a while now, where would this be added or changed? I am guessing it is in the optimiser package?

[2021-01-12 12:35] hrkrshnn commented on #10688
@sKorpion19091 It should be in libevmasm/RuleList.h. Feel free to ask in https://gitter.im/ethereum/solidity-dev if you have questions.

[2021-01-12 12:36] KyleSmith19091 commented on #10688
Awesome thank you, I will take a look!

[2021-01-12 12:57] axic commented on #10278
Thanks @MrChico!

[2021-01-12 12:59] leonardoalt commented on #10062
Running current develop on `Hub.sol` gives a huge amount of `underflow/overflow/div by 0 might happen here`. It would be good to try to understand why that is.

[2021-01-12 13:28] #10301 closed, assigned to nobody

[2021-01-12 13:52] hrkrshnn commented on #10688
Please note the condition on `A`.

Here are some examples of how similar things were done previously:
- https://github.com/ethereum/solidity/pull/9546
- https://github.com/ethereum/solidity/pull/9566

[2021-01-12 14:04] axic commented on #10179
@ekpyron any opinion on this one?

[2021-01-12 14:12] ekpyron commented on #10179
I'd not give the order in the sources a special meaning - I'd consider the yul object files like a generic object file format like an ELF object that just defines some section - what we're doing when compiling to bytecode is basically creating something like an old ``COM`` binary, which does have a fixed internal layout, but I'd say making sure that's the way it's supposed to is the job of the ass

[2021-01-12 14:39] cameel commented on #9598
After some discussion on gitter looks like this might be harder than I assumed so I'm removing the `good first issue` label.

[2021-01-12 14:43] chriseth commented on #10690
Related: https://github.com/ethereum/solidity/pull/10479

[2021-01-12 14:46] chriseth commented on #9554
I'm sorry, but I fear that addresses do not work, only numbers that are not addresses.

[2021-01-12 14:49] chriseth commented on #2691
@gorgos this sounds more like a feature for a compiler switch to me.

[2021-01-12 15:08] axic opened #10747 "Bump emscripten in the build system"
We agreed a while to periodically upgrade emscripten to avoid irregular large bumps.

Last we upgraded to emscripten 1.39.15 in solidity 0.6.9. Since then there has been 5 releases in 1.39x/1.40.x, and 13 releases in a new major version 2.x.y.

It would be useful to check the changelog and upgrade: https://github.com/emscripten-core/emscripten/blob/master/ChangeLog.md

[2021-01-12 15:15] blishko commented on #10735
My bad. It is not that CHC engines reports false positive, it only does not decide the condition and reports that the assertion violation **might** happen.

[2021-01-12 15:15] #10735 closed, assigned to nobody

[2021-01-12 15:43] leonardoalt opened #10749 "[SMTChecker] Add balance/block constraints between transactions"
Between the end of a tx and the beginning of the next tx run by a contract:
- it's balance needs to be >= the previous balance
- block.timestamp must be >=
- block.number must be >=

Currently the SMTChecker does not add those constraints.
Anything else?

[2021-01-12 15:47] ekpyron commented on #10698
While I'm not necessarily saying that ``unchecked`` expressions are a bad idea in general, I'd very much emphasize that I think that ``for(uint i = 0; i < 100; unchecked { i++ })`` is not a valid argument for this.
As far as I'm concerned this should never be written. The idea behind ``unchecked`` was clearly that it's only valid use is in cases like bitwise arithmetic in cryptographic subroutines

[2021-01-12 16:08] leonardoalt commented on #10062
My guess is again `pow` and the other nonlinear stuff making termination analysis fail and therefore non of the other inductive stuff works.

[2021-01-12 16:44] chriseth commented on #10720
The perfect way to deal with this would be to optimize
[code]
to
[code]
How can we achieve this?

[2021-01-12 16:49] ekpyron commented on #10695
I think this entire problem will diminish significantly in the future, as soon as our latest optimizer work is done.
Ideally, almost all checks that are introduced by checked arithmetic by default will be automatically removed if you have a custom require up front that assures that the overflow can't happen or if the check is redundant based on any other linear constraint on its values like in the

[2021-01-12 17:36] chriseth commented on #6902
I think for logs, this is much too detailed, and we can keep the 2-3 tests that cannot use the event interface in EndToEndTests, but it could be useful for `balance`.

[2021-01-12 17:45] mudgen commented on #10695
@ekpyron Thanks for this good analysis.

Much more often then not it is a good thing that a transaction reverts if there is an overflow or underflow,  so in this way it makes sense for it to be the default.  I'm warming up to the idea and need to get some experience.

This is definitely the ideal and improves my view on the matter for sure.  I think more experience with default revert on over/unde

[2021-01-12 18:06] ekpyron commented on #10720
Optimistic loop unrolling and backtracking :-)?

[2021-01-12 18:09] ekpyron commented on #10738
Also to be clear in case any external contributor wants to take this: there's no need to find all cases where this can be done at once. We'll gladly accept PRs that change one or two for loops at a time.

[2021-01-12 19:31] chriseth commented on #10720
I would say it's more like detecting linear dependencies. At some point, I would also like to do the optimization from slide 24 to 25 here: https://chriseth.github.io/notes/talks/solidity_optimizer_devcon4/#/24

[2021-01-12 19:40] gorgos commented on #2691
@chriseth Is `solc` not supposed to be used on private EVM chains?

[2021-01-12 19:45] chriseth commented on #2691
@gorgos we cannot support all possible private chains because of the different configurations (think custom EVM opcodes), but we can add a setting that changes the allowed code size, even if this goes against the selected EVM version.

[2021-01-12 21:04] ekpyron commented on #10720
Well... that's hard in general... but in general it still works by unrolling first and simplifying. And then comparing the result with the original loop body. If you can then detect that symbolically dividing yields a constant you have solved that particular case...

[2021-01-12 21:35] ekpyron commented on #10747
Well, I'll just build a docker image locally and see if I get soljson.js to build and if it looks OK. If so, I'll push a PR that'll build and push such a docker image and another PR that builds soljson.js and we can stress-test it a bit to see if it works before merging either. But yeah, we should also make sure to read the changelog line by line...

[2021-01-12 23:31] ekpyron commented on #10747
I think it "just" (with only a handful of build system modifications that is) works.

[2021-01-12 23:49] ekpyron commented on #10747
Do we by the way plan to support split js and wasm files for loading at some point :-)? And asynchronous, maybe even streaming loading? That way we could even give dynamically loading z3 on demand only a try - it sounds like this should work these days...

[2021-01-12 23:56] axic commented on #10747
In 1.40 or so they changed the entire thing to be a promise. So we may need to adjust solc-js, and if we do, we could support the split files. Wasn't the async behaviour the issue with wasm version? But the combined version was resolving that promise so we had no changes needed in solc-js.

[2021-01-13 00:01] ekpyron commented on #10747
I think what you're talking about only applies to ``MODULARIZE=1`` which we don't (yet) do, so the current build I have seems to work with solc-js (and in remix/firefox and remix/chrome) without any solc-js change.

Also we explicitly disable asynchronous wasm compilation, etc. - we basically went out of our way to *not* have to change solc-js too much :-). But maybe at some point we could reconsi

[2021-01-13 00:03] ekpyron commented on #10747
On the other hand doing any of this is not unlikely to end up in something we'd have to consider a breaking change, so it'd probably only go into 0.9.0 anyways - but if we want to explore that, we should still start early, otherwise we won't have enough time in the end to do it properly ;-).

[2021-01-13 01:00] ekpyron commented on #10747
If we're very lucky, there'll finally be some progress on WebAssembly Exceptions in the foreseeable future, though...
https://bugs.chromium.org/p/v8/issues/detail?id=8091 actually doesn't sound too bad and I at least read rumors about Firefox having an almost complete implementation of the second proposal, even though I haven't found any issue tracking it or any mention of it...

[2021-01-13 02:10] aarlt commented on #6902
Yes these "low-level" builtins are too detailed, but I added a new builtin `logs.expectEvent(uint256,string)` that is more "high-level" . It is quite similar to @ekpyron proposal. See [comment](https://github.com/ethereum/solidity/pull/10728#issuecomment-759152620).

[2021-01-13 14:19] #9951 closed, assigned to a3d4

[2021-01-13 16:28] #10657 closed, assigned to nobody

[2021-01-13 16:55] hrkrshnn commented on #10749
Why does this have to be true?

[2021-01-13 17:05] ekpyron commented on #6726
The actual case of the current external function dispatch, unfortunately, no longer matches this...
I.e. for a simple contract with two payable functions, I get:
[code]
After regular optimization, I end up with something like:
[code]

In order to move out the callvalue check, I need to be aware that the default case of the switch ultimately reverts... but in actuality this is not even a local prop

[2021-01-13 19:30] hrkrshnn opened #10755 "[Optimizer] Remove redundant mstores assigning zero values to locations that are already zero"
The following contract:

[code]

produces the optimized-ir

[code]
We should be able to avoid the three `mstores`, which are zero-ing out the struct values in memory. Possibly related to https://github.com/ethereum/solidity/issues/10690

[2021-01-13 22:36] leonardoalt commented on #10749
Because it can't decrease, but it can increase if it was used as the argument of a `selfdestruct`

[2021-01-13 22:41] chriseth commented on #10755
Is this the "assume memory is initially zero" issue? Note that we cannot assume that the allocator returns "fresh" memory.

[2021-01-14 00:39] MicahZoltu commented on #10698
Will the compiler (currently) inline `unsafe_inc` in both cases?  I thought it would include a jump and some stack manipulation?

[2021-01-14 08:16] ekpyron opened #10757 "Document the initial values of elements of newly allocated memory arrays."
@frangio on gitter: ``are newly allocated memory arrays guaranteed to be zeroed? i couldn't find this in the documentation``

Indeed I couldn't find it being explicitly mentioned anywhere either...
https://docs.soliditylang.org/en/latest/types.html#allocating-memory-arrays seems like the place this should be mentioned.

[2021-01-14 08:51] hrkrshnn commented on #10755
What do you mean? Is this because of inline assembly, or can it happen with regular code?

[2021-01-14 09:21] ekpyron commented on #10698
Hm, yeah, the old optimizer actually probably won't, that's a good point...

[2021-01-14 09:59] ekpyron commented on #10698
Maybe in 0.8.1 it will, though, we're just considering it ;-).

[2021-01-14 10:13] chriseth commented on #10755
It can happen with regular code. There are some routines that only need temporary memory - they don't increment the free memory pointer afterwards.

[2021-01-14 10:19] #10747 closed, assigned to nobody

[2021-01-14 10:33] #10689 closed, assigned to mijovic

[2021-01-14 12:12] hrkrshnn commented on #10749
Does the block number and block time stamp have to be strictly greater?

[2021-01-14 12:56] axic commented on #10726
In some cases code like this is generated:
[code]

It would be nice to remove trailing `leave`s.

[2021-01-14 12:59] axic commented on #10749
Do you want to clarify this?

[2021-01-14 13:09] ekpyron commented on #10738
``vector_ref``, resp. ``bytesRef`` should also be replaced by ``ranges::span``.

[2021-01-14 13:11] chriseth commented on #10726
Since `leave` prevents a function from being inlined, we could also think about employing heavier machinery to remove it, even if it is not the last statement:
[code]

[2021-01-14 13:14] chriseth commented on #10726
Although, to keep things simple, these could be two steps (maybe combined in one actual named step): "Rotate" code such that the leave statement is at the end of the function and then remove all leave statements at ends of functions.

[2021-01-14 14:08] axic commented on #10738
So I did this work but using `std::basic_string_view<uint8_t>`. It is quite a few changes, but simplifies a lot of things. Withheld those PRs are people were saturated with "technical debt" PRs after the "remove u160" thing :wink:

[2021-01-14 15:00] #10656 closed, assigned to nobody

[2021-01-14 15:00] #10658 closed, assigned to nobody

[2021-01-14 15:00] #10730 closed, assigned to nobody

[2021-01-14 15:15] axic commented on #8456
@mijovic since you worked on #10765, how much work do you think this issue would be?

[2021-01-14 15:16] axic commented on #7451
@chriseth @mijovic isn't this solved with #10765 given it uses `reasonIfDebug`? Or is this issue more generic to strip any message supplied? If so, why don't we have specific tests for this? Would need a flag in the test format for it 😓

[2021-01-14 15:17] axic commented on #7825
Do we have an idea which parts of the generator may not be following the left-right top-down rule?

[2021-01-14 15:21] mijovic commented on #7451
After #10765 only remaining test will be `code_access_padding`

[2021-01-14 15:22] mijovic commented on #7451
I am not sure what exactly was meant by "revert string stripping", so am not really sure if it will be solved by #10765

[2021-01-14 15:29] mijovic commented on #8456
I tried to fix this with #9195 some time ago, but the actual problem is that most of the time this is called from inline assembly for old codegen.
And I think it makes sense to do this after #8559 or something similar. The think is that inline assembly doesn't see yul util functions...

However for IR this would be easy I think

[2021-01-14 15:38] chriseth commented on #7451
Don't we have an option that strips revert strings even if they are user-supplied?

[2021-01-14 19:00] #8252 closed, assigned to axic

[2021-01-14 20:41] ekpyron commented on #10738
That's immutable, though, isn't it? So while this may work for ``bytesConstRef`` it won't for ``bytesRef``, will it?
``ranges::span``, which will become C++20 ``std::span`` is the better choice in any case... and it'll work in the mutable and immutable case.

[2021-01-14 21:09] axic commented on #10738
Yes, but we didn't actually need mutability in most of the places.

[2021-01-14 22:53] #10313 closed, assigned to mijovic

[2021-01-14 23:40] axic commented on #8086
This compiles now. Not sure which PR fixed it, perhaps @mijovic knows. And maybe this test case should be added?

[2021-01-14 23:40] #8086 closed, assigned to nobody

[2021-01-14 23:53] axic commented on #10288
Perhaps this is a right spot for @ekpyron to give opinion on ranges-v3 :)

[2021-01-14 23:54] axic commented on #10190
I guess this was solved as we haven't seen it lately?

[2021-01-14 23:55] #10091 closed, assigned to nobody

[2021-01-14 23:56] axic commented on #8078
Wasn't this done?

[2021-01-14 23:57] #8078 closed, assigned to cameel

[2021-01-14 23:57] axic commented on #7944
I guess this is done :)

[2021-01-15 00:00] #4061 closed, assigned to nobody

[2021-01-15 00:01] ekpyron commented on #10288
Well, we shouldn't just replace by ``std::string`` because that'll be allocation hell. If we want to point to the sources, then here in fact an ``std::string_view`` would be best.

The comment makes sense, though, and would go towards using a repository a bit like the ``YulStringRepository``, but with less emphasis on optimizing comparisons, but mostly for lifetime management... ``shared_ptr`` wor

[2021-01-15 00:02] axic commented on #4025
Notice this @ekpyron 😅

[2021-01-15 00:04] axic commented on #3980
It displays the following now:
[code]

I guess better at least.

[2021-01-15 00:04] #3980 closed, assigned to nobody

[2021-01-15 00:07] axic commented on #3705
When this issue was created, the following code was handled by a special case in the compiler:
[code]

Since around 0.6.0 when shadowing rules were strengthened/introduced, we get the following:
[code]

I would argue we do not need the special case anymore, and we can just rely on the shadowing warning.

[2021-01-15 00:12] axic commented on #3769
@chriseth Hmm, is this still relevant?

[2021-01-15 10:02] cameel commented on #3769
I'm not sure if it's still relevant but I wanted to add that this is probably much simpler now than it was back then. `TupleType` and `ReferenceType` both inherit from `CompositeType` (#9746) so we could just move the pure virtual declarations of these functions there.

[2021-01-15 10:36] cameel commented on #7944
@axic Looks like it's not done yet.

PR #7962 was just closed, not merged and the check seems to be still disabled on `develop`: https://github.com/ethereum/solidity/blob/804bd8f6dd117b7dec62e179cde663d29a31fc85/.circleci/config.yml#L981

[2021-01-15 10:59] cameel commented on #10190
Still seems to be happening. Just looking at [the most recent PR with failed `chk_coding_style` job](https://app.circleci.com/pipelines/github/ethereum/solidity/12545/workflows/7bc69c4c-cd03-4ef7-86d8-567892a18c63/jobs/588484) (#10777):
[code]

I also do not see these messages posted as comments in the PR but I've seen comments from the bot appear in other PRs so it's broken in some way but not co

[2021-01-15 13:29] axic opened #10778 "Implement codegen shortcut for address(...).code.length"
As discussed in #3044, `address(...).code` was implemented in 0.8.0 to do a `extcodecopy`, and `address(...).code.length` to just count the length of that byte array.

Supporting the shortcut to generate `extcodesize` for the `address(...).code.length` expression was postponed after 0.8.0.

It would be useful to implement this soon, otherwise the feature is pretty much useless.

[2021-01-15 13:54] axic opened #10779 "Replace `compileViaYul` with `codegen` setting"
Proposal is to have `v1` and `v2` (or `v1only` and `v2only`) as options. If this setting is lacking, the test case should pass on both codegens.

The current `compileViaYul` is a confusing with its false/true/also settings.

[2021-01-15 13:58] ekpyron commented on #10779
Maybe we should also explicitly have ``both`` and just require it to be specified.
We need to assume that not everything that ultimately should be ``both`` can be set to ``both`` yet, though, so we should have a dedicated comment in the file indicating that the current setting is only due to bugs/missing implementation and mentioning what we'll ultimately expect once it's done.

We could actually

[2021-01-15 14:10] blishko commented on #10190
Yeah, I noticed the difference in my PRs and e.g. Leo's PRs where he gets nice comments from bot and I don't.
I assumed it's because I don't have the same level of permissions as he does.
Or is it something else?

[2021-01-15 14:14] axic commented on #10779
Tow more names, `legacy` and `ir`, were also suggested. We do have files suffixed with `_v1` and `_v2`, hence my initial suggestion.

[2021-01-15 14:19] cameel commented on #10190
Hmm... I don't think that's the issue, but I'm not 100% sure. [`report_errors.sh`](https://github.com/ethereum/solidity/blob/develop/scripts/report_errors.sh) posts the comments as `stackenbotten` with `$GITHUB_ACCESS_TOKEN` as password. The token comes from job environment so I think it does not depend on the account of the PR author but rather comes from CircleCI settings.

I'll take a closer lo

[2021-01-15 15:05] ekpyron commented on #10390
- [x] SolidityEndToEndTest/shift_bytes_cleanup (https://github.com/ethereum/solidity/pull/10817)
- [x] SolidityEndToEndTest/bare_call_return_data (https://github.com/ethereum/solidity/pull/10815)
- [x] SolidityEndToEndTest/abi_encode_with_signature (#10776)
- [x] SolidityEndToEndTest/abi_encode_with_signaturev2 (#10776)
- [x] SolidityEndToEndTest/uninitialized_internal_storage_function (#10808)
-

[2021-01-15 15:16] ekpyron opened #10784 "Add ALSO_VIA_YUL to SolidityEndToEndTests that work by now."
At the time of writing the list of the still failing ones is this one: https://github.com/ethereum/solidity/issues/10390#issuecomment-760994515

The rest should work at least with ``ALSO_VIA_YUL { DISABLE_EWASM_TESTRUN() ... }``.

A few of them test against cpp implemenations, they can stay, the rest might as well be immediately extracted.

Ping @axic.

[2021-01-15 15:46] #10712 closed, assigned to nobody

[2021-01-15 15:47] leonardoalt commented on #9393
Implemented in https://github.com/ethereum/solidity/pull/10741

[2021-01-15 15:47] #9393 closed, assigned to nobody

[2021-01-15 16:05] ekpyron commented on #10190
I wouldn't be surprised if permission levels play a role here - such access tokens are at times used for more serious stuff than posting comments, so being able to just create a PR from a fork that can just change the script that uses the token to do whatever can be dangerous at times, can't it :-)?

[2021-01-15 16:07] cameel commented on #10190
Looks like it's not about permissions. Or not only about permissions. I just got that error in a PR started by @axic: https://app.circleci.com/pipelines/github/ethereum/solidity/12578/workflows/f9de0575-56ad-4bbc-b180-343ed4bc0182/jobs/589674

And this time there's actually a bit more concrete info:
[code]

Looks like there's something wrong with `\"path\": \"$ERROR_PATH\"` in the script, which co

[2021-01-15 16:12] cameel commented on #10190
That's a good point. But then I wonder which token it would use? If it's the one from PR creator then what if someone pushes extra commits to someone else's branch? Anyway, I'll check the script first because I think the problem might be much simpler than that. I really don't like how this script is organized (it requires you to source it and then runs `trap` to get executed just when the parent s

[2021-01-15 16:55] leonardoalt opened #10785 "[SMTChecker] CHC Show tx variables in counterexample"
`msg.value` is implemented in https://github.com/ethereum/solidity/pull/10828 when > 0, but it would be nice to also implement the others, when they're used.
An idea is, for every function in the transaction trace, if a `block`, `msg` or `tx` variable is used (can be detected syntactically), show its value in the transaction function call.

[2021-01-15 16:55] leonardoalt opened #10786 "[SMTChecker] CHC Show local variables in counterexample"
Currently only state variables are shown in the counterexample, because we use the summary predicate of the function that caused the target fail which doesn't have local variables.
To show the local variables that cause the target fail, we need to traverse the subgraph of the last transaction and find the first summary (1) that has error > 0.
We also need to add a new rule for each function: curre

[2021-01-15 16:56] leonardoalt opened #10787 "[SMTChecker] CHC report invariants for safe asserts"

[2021-01-15 17:12] leonardoalt commented on #10749
For new transactions I *think* so, for reentrant calls they should be the same.

[2021-01-15 17:16] leonardoalt commented on #10749
This issue is about balance changes where the contract is not called. The only way for that to happen is when its address is used as the `selfdestruct` argument, and therefore the balance can only increase while the contract is idle.
Or what exactly is unclear?

[2021-01-15 17:33] leonardoalt opened #10788 "[SMTChecker] CHC report loop invariants"
Depends on https://github.com/ethereum/solidity/issues/14325

Currently we support exporting contract and reentrancy invariants to the user. We should also export loop invariants. This means that in `Invariants.cpp` we need to add `loop_header` (or whatever the prefix used for loop header predicates is in CHC.cpp) to the search targets.

[2021-01-15 17:35] leonardoalt commented on #9786
For info:
- `selfdestruct` terminates the current transaction's execution. However, `reverts` in parent internal transactions will undo the destruction.
- after destruction, any call to that contract reverts
- if in trusted mode, balance of contract needs to go to the argument

[2021-01-15 17:38] leonardoalt opened #10789 "[SMTChecker] Allow verification targets to be chosen specifically"
For example:
`--model-checker-targets underflow,overflow,divby0,assert`

[2021-01-15 17:49] leonardoalt opened #10790 "[SMTChecker] Study Spacer's limits"
Collecting some samples here where Spacer fails to prove/refute something, to try to understand why.

- multisig
https://gist.github.com/leonardoalt/66576430ca21d849dfdb138594c93d89
Here the assertion is proved, which is really good! It answers `might happen` for the possible overflow. My guess is that it fails at unrolling the overflow because it's a 1-increment and a cex would take 2**256 txs.

[2021-01-15 19:02] agroce opened #10793 "[SMTChecker] ICE in void solidity::frontend::SMTEncoder::expressionToTupleAssignment(const vector<shared_ptr<solidity::frontend::VariableDeclaration> > &, const solidity::frontend::Expression &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.8.1-develop.2021.1.15+commit.726c5ff6.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environmen

[2021-01-15 19:53] agroce opened #10796 "[SMTChecker] Unknown exception during compilation: map::at"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.8.1-develop.2021.1.15+commit.726c5ff6.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environmen

[2021-01-15 20:04] axic commented on #10166
@leonardoalt Is this a valid reason to keep the pragma?

[2021-01-15 21:05] cameel commented on #10190
I have a fix in #10792. There were two problems:
1. For some reason the script runs twice in CI. I don't know exactly why, but it's related to its weird flow. Before my changes `check_style.sh` would source it and it would set `trap EXIT` to get called when `check_style.sh` exits. Changing it to a normal style where `check_style.sh` just calls it in a normal way solved that problem. It now runs on

[2021-01-15 21:24] cameel commented on #10190
And here's another PR that cleans up these scripts a bit: #10797.

[2021-01-15 21:28] axic commented on #10390
In #10780 tried to forcefully enable all disabled tests, three could be enabled, and the rest are the following:
- semanticTests.calldata.calldata_array_dynamic_bytes: would be nice to check if the stack too deep error can be solved
- semanticTests.various.negative_stack_height: would be nice to check if the stack too deep error can be solved
- semanticTests.array.copying.dirty_memory_bytes_to_sto

[2021-01-15 23:37] cameel commented on #10166
We could add some kind of filter option where you can specify the files to be checked (or skipped). That would be equivalent to the pragma but without the need to alter the source code.

SMT checker does not affect the bytecode (or does it?), it just provides some extra info for the programmer, so a command-line option seems like a better mechanism to me.

[2021-01-16 21:30] chamitro opened #10798 "[SMTChecker] Hang - Contract Never Compiles in version 0.7.6"
## Description

Hello everyone,
the contract below in compiler's version 0.7.6, is never compiled and sometimes remix slow down:

[code]

Found by Fuzzing solc compiler.

## Environment

- Compiler version: 0.7.6+
- Target EVM version (as per compiler settings): 0.7.6+commit.7338295f.Linux.g++
-  Framework/IDE (e.g. Truffle or Remix): verified in Remix
- EVM execution environment / backend / block

[2021-01-16 21:46] arlenner opened #10799 "Windows Static Binaries point to nightly instead of stable"
Hello, it appears the solc-bin project doesn't accept issues, so I decided I should post it here. Currently, when downloading the latest stable version under the windows-amd-64 folder from the solc-bin repository, I get a nightly build when I check my version from within the containing folder.

[2021-01-16 22:09] cameel commented on #10799
Thanks for the report! This is the right place.

I just checked 0.8.0, 0.7.6, 0.7.2 and 0.7.1 and none of them identifies itself as a nightly build. For example:

[code]
[code]

Could you give me a link to the specific file you're checking and show me how you're determining it's a nightly?

By the way, the only platform we do nightly builds for is emscripten, though there's of course a chance that

[2021-01-16 22:18] chamitro opened #10800 "[Inline Assembly] Hang - Contract Never Compile"
Hello everyone,
another contract that is never compiled is the contract below

[code]

Found by Fuzzing solc compiler.
Environment

    Compiler version: 0.7.6+
    Target EVM version (as per compiler settings): 0.7.6+commit.7338295f.Linux.g++
    Framework/IDE (e.g. Truffle or Remix): verified in Remix
    EVM execution environment / backend / blockchain client:
    Operating system: Ubuntu 16.04

[2021-01-18 08:37] hrkrshnn commented on #10800
This is equivalent to https://github.com/ethereum/solidity/issues/10732. The PR https://github.com/ethereum/solidity/pull/10783 will fix both of them.

The issue is that the check that `bytes32 y = y` is circular is not done before trying to access its value during type checking phase.

[2021-01-18 08:37] #10800 closed, assigned to nobody

[2021-01-18 08:39] hrkrshnn commented on #10800
Thanks for the issue, it's a nice catch.

[2021-01-18 08:42] hrkrshnn commented on #10788
What kind of invariants? Can it detect that a memory struct declared inside is invariant?

[2021-01-18 09:41] leonardoalt commented on #10788
If you write a property that represents that, it could.
But what I mean is:
[code]
`y <= x` is an inductive invariant for the loop, that is, it is true every time the condition is checked.
The assertion is proved by "replacing" the loop by its inductive invariant and adding the negated condition as a constraint after the loop: `y <= x && y >= x => y == x`

[2021-01-18 09:54] blishko commented on #10793
Here is a slightly smaller version of the crash:
[code]

[2021-01-18 09:54] leonardoalt commented on #10798
I can't reproduce it in 0.8.0.
It doesn't compile (type error), so I changed it to
[code]
which doesn't hang.
Since we only backport critical bugfixes, I'm closing this one. Please reopen if needed.

[2021-01-18 09:54] #10798 closed, assigned to nobody

[2021-01-18 12:20] chriseth commented on #2691
@gorgos are there any other aspects of the compiler that would be different on private chains?

[2021-01-18 12:49] axic commented on #10789
This could be nice, especially if each of those features are assigned a "confidence level" and explained in what cases it would be appropriate and reliable to be used. Could improve usability and adoption rates.

[2021-01-18 13:15] axic commented on #10749
It is not only `selfdestruct`, but the "coinbase transaction too" (e.g. being the mining recipient in a block).

[2021-01-18 14:00] leonardoalt commented on #10749
Can you assign that to a contract?

[2021-01-18 14:08] chriseth commented on #10779
I like `legacy` / `ir`

[2021-01-18 15:14] Pet3ris opened #10806 "Non-existant `file_id` generated in `0.8.0` source maps"
## Description

I'm getting an invalid file_id of 1 in the source map that compiles a single file and should only have the file_ids -1 and 0.

## Environment

- Compiler version: `0.8.0`
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): raw `solc`
- EVM execution environment / backend / blockchain client: n/a
- Operating system: Mac M1

## Steps to R

[2021-01-18 15:24] chriseth commented on #10806
The `1` refers to a file generated by the compiler: https://docs.soliditylang.org/en/v0.8.0/internals/source_mappings.html#source-mappings

[2021-01-18 15:24] #10806 closed, assigned to nobody

[2021-01-18 16:10] #10796 closed, assigned to nobody

[2021-01-18 19:02] hrkrshnn commented on #10755
https://hackmd.io/kPdGgEUORtSDtoDt5Nv8dw some examples and notes on how to deal with this.

[2021-01-18 21:37] #10793 closed, assigned to nobody

[2021-01-18 22:08] gorgos commented on #2691
@chriseth Just to be clear about the term 'private chain', this could of course be a publicly available chain, so 'custom chain' would be more accurate.

Otherwise in my use case there are no further differences. And as you said, supporting other opcodes makes no sense at this point.

[2021-01-19 09:14] chriseth opened #10809 "Optimizer: Function Constraint Summarizer"
Once we use a reasoning engine to remove redundant checks and other things, we need to know constraints on the return values of some builtin functions: `calldatasize` cannot be too large, `address` is also bounded and so on.

It might be very beneficial "forward" this information through user-defined functions in a similar way as we do for the SemanticInformation. Maybe we can even compute simple

[2021-01-19 09:27] chriseth opened #10810 "Optimizer Component: ReasoningAnalyzer"
The ReasoningAnalazer is an optimizer component to be used as a base class. It traverses the AST and records relations between SSA variables (it ignores everything that is not an SSA variable) and the state of storage and memory using a reasoning engine. The reasoning engine is exchangeable: It can use both an LP solver and an SMT solver.

[2021-01-19 09:31] #7451 closed, assigned to nobody

[2021-01-19 11:49] hrkrshnn opened #10812 "[yulopti] interactively run one iteration of the sequence between [] from fullsuite"
If fullsuite is

[code]

I'm referring to the part
[code]
------

Based on https://github.com/ethereum/solidity/issues/10812#issuecomment-852787213.

1. Assign a key inside `yulopti`: instead of running a single optimizer step, run the full inner loop (i.e., the sequence inside `[]`) of the default optimizer sequence.
2. `yulopti` should check the sequence find where the loop is and run all the st

[2021-01-19 12:03] hrkrshnn commented on #10812
@cameel What do you think?

[2021-01-19 12:04] hrkrshnn commented on #10812
For some context: https://github.com/ethereum/solidity/pull/10418#discussion_r559664921

[2021-01-19 12:08] chriseth commented on #10812
Does it need to be interactive? The optimizer already has the option to output the code whenever there was a change. We could change this to output the code not after each step that did a change, but only after one loop iteration. Would that help?

[2021-01-19 12:15] cameel commented on #10812
Or we could add an option like `--yul-optimizations` to yulopti to make it run the sequence you specify print optimized code and exit.

[2021-01-19 12:30] cameel commented on #10812
Actually, you can already do that using `yul-phaser`. I implemented a feature to print optimized programs for debugging and you can tell it not to mutate anything and exit after 0 rounds:

[code]

Output:
[code]

The `--population` option accepts an optimization sequence. It's meant to be used multiple times to specify the whole initial population but in the example above I'm giving it `""` to see

[2021-01-19 12:43] blishko commented on #10790
Analysis of `loops/for_1_fail.sol`:
This example is a relatively simple for loop where Spacer does not seem to be able to prove that increment insider the loop body does not overflow. This actually requires only integer reasoning and so Spacer should be able to deal with it.
In fact, after Horn clauses produced by our encoding has been stripped off the unnecessary blockchain-related variables, Spa

[2021-01-19 12:46] #10190 closed, assigned to nobody

[2021-01-19 13:25] chriseth commented on #10179
Putting this up for discussion for tomorrow.

[2021-01-19 14:07] chriseth commented on #10390
I think some "debug revert strings" have not been implemented yet.

[2021-01-19 14:20] chriseth commented on #10390
Actually no, they are all there, the one I thought was missing is an ABIv1-only message.

[2021-01-19 15:43] axic opened #10820 "[isoltest] Add way to inspect generated code"
Certain `SolidityEndToEndTest`s check the generated bytecode. Similarly in some cases CLI tests are used for the same.

In https://github.com/ethereum/solidity/pull/10807/files#r559757068 such a case came up and it could not be moved to semantic tests given this limitation.

The semantic tests could be extended to have a way assert on generated code: the line `bytecode: <pattern>` would match the

[2021-01-19 15:51] shivanibhutani9 opened #10821 "Uninitialized storage pointer not detected"
**Description**
[code]

In testFunc(), ‘t’ is not detected to be an unintialized storage pointer.

**Actual Output**

Compiles Successfully

**Desired Output**

Type Error: This variable is of storage pointer type and can be accessed without prior assignment, which would lead to undefined behaviour.

**Environment**
Compiler version: 0.6.5+commit.f956cc89 and above (excluding nightly builds)
Targe

[2021-01-20 10:51] JoranHonig opened #10825 "NatSpec for formal specifications"
## Abstract
Diligence released [Scribble](https://github.com/consensys/scribble) (a specification language for Solidity smart contracts) around one month ago. In short; Scribble is a specification language and runtime verification tool. You can write Scribble annotations, and automatically test them with existing unit tests or automated testing tools. Finally, Scribble might see integrations with

[2021-01-20 10:53] JoranHonig commented on #10825
👋  I hope this is the right place to start a discussion like this! If not, let me know where I should move!

[2021-01-20 11:16] leonardoalt commented on #10825
I like the idea. I also see that different tools will probably have different expressivity/operators/etc, so tagging which tool/language it's related to sounds like a good start.
One other idea could be to try to have a common subset which can be represented by Solidity expressions, and those could be used to express pre/post conditions. This would not include a common desire that cannot be repres

[2021-01-20 12:20] JoranHonig commented on #10825
What would this look like? Something like the following?
[code]

I think this is a really important point you're making. People will very likely want to use more than just this common subset, and start to use other languages in addition to the common one.
I think you'd lose most benefits when proofs for specs in the common subset require annotations in other languages.

That said, providing a comm

[2021-01-20 13:37] leonardoalt commented on #10674
I do relate to the feeling that new users would expect `this.owner` and `this.banana()` to work as what we call `internal calls`, but I don't see a new way that is clearly better than the current way right now.
In my opinion, the non-`this` cases are very clear currently:
- If you use a typename in a state var access or function call, it's an internal read/call. Examples: `B.x`, `B.f()`
- If you u

[2021-01-20 13:41] mijovic commented on #7197
I think this is solved now

[2021-01-20 15:22] axic commented on #7197
Aren't those strings still split into 32-byte chunks, e.g. "A string..", "is long...".

[2021-01-20 15:22] GNSPS commented on #10825
I think this is a very good topic for the next Solidity community call! 😊

[2021-01-20 15:42] mijovic commented on #7197
Yes, they are. But I was thinking back than it wasn't working, so maybe issue is not worth fixing.

[2021-01-20 16:06] dddejan commented on #10825
I agree with the general direction here. Unifying spec approaches would be a big positive for developers and would simplify development.

Some quick thoughts from me.

Most spec extensions can be framed in the form that @JoranHonig proposed, i.e.

[code]

The spec_type and spec_message can be fairly flexible. The most important thing would be the expression language. I think the minimal spec_expre

[2021-01-20 16:43] #9288 closed, assigned to bshastry

[2021-01-20 16:44] chriseth commented on #10820
I'm not sure if this is worth it. How many of these do we have?

[2021-01-20 17:03] axic commented on #10820
I think it would not be a big deal, but would allow us to remove these random weird tests we have scattered around, like doing something like this in the CLI tests. The CLI tests should be only about the CLI and not a bunch of other random things.

[2021-01-20 17:07] leonardoalt commented on #10820
If it would also lead to more tests being extracted, I think it's a good idea.

[2021-01-20 17:37] #10789 closed, assigned to nobody

[2021-01-20 20:08] Amxx opened #10829 "Adding a `forceOverride` keyword"
## Abstract

Since the introduction of the `virtual` and `override` keywords in solidity 0.6, libraries of smart contracts, which are designed to be inherited from, have to explicitly chose which contracts they allow their users to override. Functions which are not marked as virtual, cannot be overloaded. This proposal introduces a new keyword `forceOverride` that allows a child contract to overlo

[2021-01-20 20:24] axic commented on #10829
What would stop people from **only** using `forceOverride` and just ditching `override`?

[2021-01-20 20:25] Amxx commented on #10829
Good practice.
Maybe forceOverride could trigger a warning (not an error), and linters rules would reject that.

[2021-01-20 20:28] axic commented on #10829
If the compiler triggers a warning, people come with proposals that a) it should not trigger a warning; b) there should be a way to silence the warning 😏

[2021-01-20 20:30] Amxx commented on #10829
There should be a way to silent the warning. The idea is to let people do what they are doing anyway ... and do it in the "least dangerous way" ... while making sure they know its still dangerous.

[2021-01-20 22:23] frangio commented on #10829
The thing with warnings is that they are useful for learning best practices, but in some cases you really want to do the thing that is warned against anyway.

This is related to the "force override" concept. While I don't think a `forceOverride` keyword would be a good idea, it reflects the reality that developers have different levels of risk tolerance. This is something we struggle with at OpenZ

[2021-01-20 22:52] leonardoalt commented on #10829
What are people doing currently that has the same behavior as the proposed `forceOverride`?

[2021-01-20 22:57] Amxx commented on #10829
Copying OpenZeppelin's codebase in there repo (rather then having a package manager do it), modifying it, and re-publishing it with their code. This causes different project to have different version of what should be the same contract. These dependencies are unlikely to ever be updated, and building contract that interact with multiple projects can cause name clashs.

Adding this feature (or havi

[2021-01-20 23:15] axic commented on #10829
@frangio on that note there was a not well discussed proposal (#3916) many years ago.

Both such a feature, a general warning switch off feature, or a specific warning switch off feature requires quite a bit of thought put into it, before it can be accepted. I think a in-source annotation (#2691) is likely the best option out of these.

[2021-01-21 09:26] bshastry opened #10831 "[SMTChecker] ICE in member access because symbStruct is null"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/a75b87c80eae69b4fc0916000593ce4a3614f061/libsolidity/formal/SMTEncoder.cpp#L1504

[2021-01-21 12:13] hrkrshnn commented on #10825
Maybe relevant: https://github.com/ethereum/solidity/issues/8802

[2021-01-21 14:07] JoranHonig commented on #10825
@dddejan the specifcation types you name align with what we're thinking & building into Scribble 👍. (except for the tool-specific expressions, Scribble doesn't consider different backends yet)

We are planning on building some specification re-use features like allowing people to define predicates. One possibility is to write these re-usable structures in separate libraries.
I'm not sure that this

[2021-01-22 22:10] haltman-at opened #10837 "Solidity compiler outputs truncated source map?"
## Description

So, this bug was found in an 0.5.16 project that I can't easily upgrade to a current version; however I'm filing a bug report anyway because I don't see any indication that this issue was ever reported elsewhere or explicitly fixed.  So, there's still a chance it might exist.  Apologies for the poor, highly-non-minimal, reproduction example, but this isn't my project and I'm not ve

[2021-01-23 21:20] cameel opened #10839 "Linux binary for version 0.4.10 in solc-bin was built from a different commit than binaries for other platforms"
[solc-linux-amd64-v0.4.10+commit.f0d539ae](https://github.com/ethereum/solc-bin/blob/gh-pages/linux-amd64/solc-linux-amd64-v0.4.10+commit.f0d539ae) identifies itself as:

[code]
[code]
Note that the commit hash is different than the one in the name.

This affects produced metadata and therefore also bytecode:
[code]
[code]

All the other 0.4.10 binaries in solc-bin correctly report the commit hash

[2021-01-23 21:54] cameel opened #10840 "Linux binary for version 0.4.26 in solc-bin produces different bytecode than other platforms"
I detected this while comparing bytecode reports produced by binaries in solc-bin. This happens only for a single source file (out of about 1840) and only when using the `--optimize` flag. asm.js, wasm and macOS binaries all produce identical output for that file and their output is different from the one produced by the Linux binary.

The output is deterministic - I was able to reproduce it on my

[2021-01-23 23:04] cameel opened #10841 "Binaries for versions 0.4.7 and 0.4.8 in solc-bin produce different bytecode on different platforms"
In 0.4.7 and 0.4.8 version strings in metadata produced by the binaries contain platform name. This results in different bytecode on different platforms.

This is not an issue in versions <= 0.4.6 because they do not include metadata hash in the binary. In versions >= 0.4.9 version string does not contain platform name.

Not producing the same bytecode on all platforms creates issues with source v

[2021-01-24 19:34] cameel commented on #10799
@arlenner Could you provide more details to help us track down the bad binary?

By the way, there is an older issue about 0.4.15 being a nightly on Windows (#9545) and that's still not fixed unfortunately. Maybe you hit that one?

[2021-01-24 20:38] arlenner commented on #10799
My apologies, I misunderstood the error message I was getting because it
said something about nightly but it turns out it was irrelevant

On Sun, Jan 24, 2021, 2:34 PM Kamil Śliwak <notifications@github.com> wrote:

[2021-01-24 20:56] cameel commented on #10799
No problem. Thanks for the update! I'm closing this in that case.

[2021-01-24 20:56] #10799 closed, assigned to nobody

[2021-01-25 09:10] blishko commented on #10831
The example can be simplified further to
[code]

[2021-01-25 09:52] axic commented on #3556
The workaround:
[code]

But assigning the correct function to the `t` is not possible (due to overloading resolution lacking), hence type checking can't be enforced here. So not sure if this workaround is better than just doing keccak manually.