[2016-08-05 23:17] axic commented on #827
It seems that the YP defines the gas requirements for the identity precompile as `15` + `3` every 32 bytes of data.

While Solidity uses `3` as a base fee + `15` as a word fee. (https://github.com/ethereum/solidity/blob/develop/libsolidity/codegen/CompilerUtils.cpp)

[2016-08-05 23:21] axic commented on #827
The actual bug seems to be trying to copy 0 bytes, because in that case the total gas stipend is 3 (15 correctly) and from 1+ bytes on Solidity over-stipends (15_i vs 3_i).

Another bug I see here is that I think identity memcpy shouldn't be called for length 0.

[2016-08-05 23:23] axic commented on #827
Also fixed it in #828.

[2016-08-05 23:27] nmushegian commented on #825
When you call empty code it doesn't throw, so you get garbage. See: https://github.com/nexusdev/dappsys/blob/develop/contracts/lang/fallback_tests.sol

[2016-08-06 00:48] bobsummerwill commented on #477
I believe so, yes.

[2016-08-06 00:48] #477 closed, assigned to nobody

[2016-08-06 01:43] bobsummerwill commented on #789
Yes - adding sub-modules for external dependencies is something which I think it a very sensible option for us to consider.

It gives us complete control of versioning and build-options and lets us all avoid all the packaging-system variance madness there is within Linux and the lack-of-packaging system for Windows.

The cost is that for external packages which are large (like Boost, LLVM) this ca

[2016-08-06 06:39] phiferd commented on #662
@chriseth: is the right place to bring up gas-free operations here: https://github.com/ethereum/evm2.0-design/issues ?

[2016-08-06 08:42] balboah commented on #825
Yes I realized that I didn't initialize it properly and thus didn't get a `throw`. But I really don't think an uninitialized contract should be able to return something that can be interpreted as true, or being able to change the default value of a variable. It must be a big source of hard to track bugs and a security concern to many.

[2016-08-06 10:19] axic commented on #564
The bytecode is correct. The assembler output (which is for developers only) is confusing. I would just use `PUSHnn` in the `assembler` output similarly to the `opcodes` output.

[2016-08-06 22:30] stevenroose opened #830 "Forming a byte array inline"
I'm trying to form a `bytes` inline, but it seems to be impossible.

I tried the following ways:
- `bytes memory data = [1 2 3 4 5]`, which raises `Error: Type uint8[5] memory is not implicitly convertible to expected type bytes storage pointer.`
- `bytes memory data = [byte(1) 2 3 4 5]`, which raises `Error: Unable to deduce common type for array elements.`
- `bytes memory data = [byte(1) byte(2)

[2016-08-06 22:33] axic commented on #830
The best current way is: `bytes memory data = "\x01\x02\x03";`

There will be a new format in the future (see #479).

[2016-08-06 22:41] stevenroose commented on #830
Closing in favor of #479

[2016-08-06 22:41] #830 closed, assigned to nobody

[2016-08-07 09:06] rrufus commented on #813
Thank you, confirm it is working now :+1:

[2016-08-07 13:04] stevenroose commented on #28
I seem to get a similar error:

[code]

For this file:

[code]

[2016-08-07 13:09] stevenroose opened #831 ""Internal compiler error during compilation" while using inline byte arrays"
I get this error:

[code]

While trying to compile this file:

[code]

The two imported files compile just fine.

[2016-08-07 17:41] stevenroose commented on #479
`hex"..."` would be fine, even though I don't see why the already-existing `0x` notation cannot be extended. Currently `0x000000ff` works for `uint32`s. If they would be allowed to be indefinitely long and also assignable to the `bytes` type, a new notation is not required.

[2016-08-08 06:47] chriseth commented on #827
Furthermore, I think the identity function is more expensive than copying manually - we have a story for that.

[2016-08-08 07:43] chriseth commented on #626
You can create a "package" that exports a selection of symbols from other files. Closing this now, we can discuss further on gitter.

[2016-08-08 07:43] #626 closed, assigned to nobody

[2016-08-08 07:52] chriseth commented on #226
It is a special comment that creates a compiler error if the compiler version does not satisfy the condition. We can also make it a proper syntactic element (i.e. not a comment).

[2016-08-08 13:11] #782 closed, assigned to nobody

[2016-08-08 13:51] VoR0220 commented on #627
^this should be documented.

[2016-08-08 16:30] VoR0220 commented on #662
After having multiple discussions about this, I think this would be better handled at the EVM level, and that introducing this has the ability to break numerous contracts whenever multiple people interact with it.

[2016-08-08 17:15] #827 closed, assigned to nobody

[2016-08-08 17:37] chriseth opened #841 "Compile sphinx docs as part of packaging"
The sphinx docs should be compiled to html as part of packaging, at least for debian.

[2016-08-08 17:39] chriseth opened #842 "Automate ppa release process"
This requires a travis cron job to create the develop ppa daily and potentially the release ppa every time a tag is added in github. We need to add the encrypted signing key as part of that.

[2016-08-08 20:01] axic opened #846 "Style: single quotes for string literals"
All the code examples use double quotes for string literals. String literals actually support single quotes too. The style guide currently doesn't any of them.

I think it would make sense to either:
a) remove single quotes from string literals
b) document both options and allow both in the style guide
c) document both options, but recommend double (or single) quotes in the style guide (but more i

[2016-08-08 20:03] Denton-L commented on #846
I think option C would make the most sense because it would be the least "breaking".

[2016-08-08 20:08] axic opened #847 "Explicit keyword for interface contracts"
Splitting out this discussion from https://github.com/ethereum/solidity/issues/649.

I think it would make sense having interfaces explicitly defined in Solidity source code:

[code]

Compared to _abstract contracts_, none of the interface methods can have a body.

[2016-08-08 20:53] axic commented on #846
We have a breaking release upcoming plus it wasn't even documented. It could be removed if desired.

[2016-08-08 22:26] VoR0220 commented on #846
What do we do for `'s ? :)

[2016-08-08 22:40] axic commented on #846
It is like Javascript, both double and single quotes represent strings.

[2016-08-08 23:02] VoR0220 commented on #846
no but I mean, what are we going to do about backticks?

[2016-08-08 23:40] axic commented on #846
They are currently not part of the lexer.

[2016-08-09 03:55] VoR0220 opened #849 "New Soltest needs some love"
The new soltest no longer enables you to separate out your tasks individually if you want to test individual components in os x El Capitan...it gives you a seg fault every time you try. In addition I think it would be nice to whittle down the options given in the binary (however we can do this) by laying out a couple of key flags for us to use during testing (really the only ones I've ever found u

[2016-08-09 03:56] VoR0220 commented on #846
Should they be a part of the lexer? Personally I'm fine with leaving single quotes as is...just make sure that single quotes match to single quotes and double quotes to double quotes, etc.

[2016-08-09 08:59] axic commented on #846
Ho do you expect bacticks to work if they are not parsed?

[2016-08-09 13:42] VoR0220 commented on #846
right, I'm saying maybe they should be parsed (this is incredibly off topic though and I'm going to shut up now).

[2016-08-09 13:52] Hibryda opened #851 "Solc fails to install on Linux - tries to replace libevmasm.so installed with libethereum"
Nothing of much importance actually - but Solc refuses to install
`DistroRelease: elementary OS 0.3.2
DuplicateSignature: package:solc:1.2.9-SNAPSHOT--20160630-f09ff00~trusty-0ubuntu1 [origin: unknown]:trying to overwrite '/usr/lib/libevmasm.so', which is also in package libethereum:amd64 1.2.9-SNAPSHOT--20160630-f09ff00~trusty-0ubuntu1
ProcVersionSignature: Ubuntu 3.19.0-66.74~14.04.1-generic 3.1

[2016-08-09 19:53] bobsummerwill commented on #851
Hey, @Hibryda,

Yes, Christian is in the process of switching our PPAs over, with cpp-ethereum and solidity being split apart.

What you can do in the short-term is uninstall cpp-ethereum and then the solidity install should work.

We will get the "shapes" right in the very near future!   Best wishes.

[2016-08-09 20:04] primehat23 opened #852 "solc broke everything on ubuntu"
I wanted to scan my computer for viruses, so I did freshclam. It though most of the chain was a virus, it also got rid of some things in wine. but now I can't even install things right.
I got the following. I think solc is broken I have not been able to get it working once in 2 years. Any help. I just want to write dapps on my computer and not on cloud 9

"
Preparing to unpack .../solc_1%3a0.3.5-n

[2016-08-09 20:05] primehat23 commented on #851
This is the issue I have too.

[2016-08-09 20:09] primehat23 commented on #851
goldhat00@goldhat00-desktop:~$ sudo apt-get remove cpp-ethereum
Reading package lists... Done
Building dependency tree
Reading state information... Done
You might want to run 'apt-get -f install' to correct these:
The following packages have unmet dependencies:
 solc : Depends: libethereum (= 1.2.9-SNAPSHOT--20160628-6a05dd7~trusty-0ubuntu1) but 1.2.9-SNAPSHOT--20160630-f09ff00~trusty-0ubuntu1 is

[2016-08-09 20:13] primehat23 commented on #852
I can not uninstall CPP-ethereum either. each time I just get the above error.
I can't use the software centre too.  Could this be malware?

[2016-08-09 20:14] primehat23 commented on #852
I can not even install updates.

root@goldhat00-desktop:/home/goldhat00#  apt-get install -f
Reading package lists... Done
Building dependency tree
Reading state information... Done
Correcting dependencies... Done
The following packages were automatically installed and are no longer required:
  checkbox-ng checkbox-ng-service kde-l10n-engb libandroid-properties1
  libechonest2.1 libhud2 libntdb1 l

[2016-08-09 20:15] bobsummerwill commented on #852
Looks like you are hitting the same issue as https://github.com/ethereum/solidity/issues/851 for the PPA.   Try uninstalling cpp-ethereum and then solc should work.

Let us know if that works.    If not, hold tight.   @chriseth has been actively working on the PPAs and we will get them fixed in the next few days.

[2016-08-09 20:17] bobsummerwill commented on #852
If you cannot uninstall cpp-ethereum, again, sit tight.    We're working on the PPAs.

It's all part of the ongoing splitting of solidity out of webthree-umbrella to make all this stuff easier.

[2016-08-09 21:10] primehat23 commented on #852
I can not even install updates.

root@goldhat00-desktop:/home/goldhat00#  apt-get install -f
Reading package lists... Done
Building dependency tree
Reading state information... Done
Correcting dependencies... Done
The following packages were automatically installed and are no longer required:
  checkbox-ng checkbox-ng-service kde-l10n-engb libandroid-properties1
  libechonest2.1 libhud2 libntdb1 l

[2016-08-09 21:14] primehat23 commented on #852
Im gonna go play doom while this gets worked out. If your dev team needs anything just message me. I have been working on this project since 2011(sortof). Can I get more involved with the team. I am really the best at python. Who should I email if I want to help serpent? I also have a fleshed out DAPP idea. I just can't get anything to work! before this year I was using windows, which is taken car

[2016-08-09 21:20] bobsummerwill commented on #852
Thanks for the offer!    Yep - Doom it up :-)   That's the best idea.

All of the development chat is happening using Gitter, which just uses your GitHub account, so just head over to an appropriate group (often 1-1 with repos) and offer your help.

Serpent is an interesting one.   Piper Merriam has just been reviving it, and updating it to work with Python 3.0, and I am sure they would love more

[2016-08-10 01:37] phiferd commented on #662
Since backward compatibility seems likely to be a problem, can we re-purpose this issue to an "opt-in" feature?  Even if the EVM handles this, there will still need to be some new opt-in keyword, right?

@VoR0220: Can you explain what you mean by "whenever multiple people interact with it"?  I thought the issue was not related to concurrent transactions, but instead when a call to an external cont

[2016-08-10 11:00] chriseth opened #853 "Structural problems of json-ast"
In the json-ast output of

[code]

the function seems to be a child of `uint i`.

[2016-08-10 11:01] chriseth commented on #852
Closing as duplicate of #851

[2016-08-10 11:01] #852 closed, assigned to chriseth

[2016-08-10 11:03] chriseth commented on #849
Will probably be fixed by https://github.com/ethereum/solidity/pull/837
Please see if that PR helps or you can improve it.

[2016-08-10 11:05] chriseth commented on #846
Both string styles are supported because we try to be close to javascript syntax. We can recommend one of them and clean up the documentation.

[2016-08-10 11:18] chriseth commented on #847
Please list pros and cons

[2016-08-10 11:19] chriseth commented on #825
Fixed as far as it is fixable in https://github.com/ethereum/solidity/pull/839

[2016-08-10 11:19] #825 closed, assigned to nobody

[2016-08-10 11:24] chriseth opened #854 "Cleanup of intra-solidity libraries"
The solidity repository has several libraries which is not really needed.
We can either put everything in libsolidity or just do not provide libraries, but instead link everything that is needed in the executables soltest, solc, soljson and lllc.

In this task, the weird `eth_use` macro should also be removed and replaced by a cmake native feature.

[2016-08-10 11:44] balboah commented on #825
that was quick! 👍

[2016-08-10 14:19] chriseth commented on #851
It should be fixed now, can you test, please (apt-get update && apt-get upgrade)?

[2016-08-10 14:31] #603 closed, assigned to nobody

[2016-08-10 14:58] #742 closed, assigned to chriseth

[2016-08-10 18:14] bobsummerwill commented on #854
I can do a pass on the CMake files, just like I already did for cpp-ethereum at https://github.com/bobsummerwill/cpp-ethereum/pull/2.

Having gone through that process once, I can do it again much quicker for Solidity, which has many fewer modules.

The easiest approach is likely just to plop everything into `libsolidity`, yes.

Aside - I honestly think that the same kind of consolidation makes se

[2016-08-10 19:55] chriseth opened #860 "travis should not publish more than one emscripten binary per version and day"

[2016-08-10 20:28] Hibryda commented on #851
@chriseth Unfortunately still an issue:
`Preparing to unpack .../solc_1%3a0.3.6-nightly-2016-08-10-fh-3fc68da-0ubuntu1~trusty_amd64.deb ...
Unpacking solc:amd64 (1:0.3.6-nightly-2016-08-10-fh-3fc68da-0ubuntu1~trusty) over (1.2.9-SNAPSHOT--20160630-f09ff00~trusty-0ubuntu1) ...
dpkg: error processing archive /var/cache/apt/archives/solc_1%3a0.3.6-nightly-2016-08-10-fh-3fc68da-0ubuntu1~trusty_amd64.d

[2016-08-10 21:12] Denton-L commented on #814
I would recommend closing this issue. It seems that https://github.com/pacifics/Dao has been updated recently, presumably to fix this issue.

[2016-08-11 00:38] bobsummerwill commented on #851
You will need to uninstall cpp-ethereum first.   Please could you try that, @Hibryda?

We'll get them all the right shape soon.    Just clashy during the transition, which is proving very painful.

[2016-08-11 04:03] Hibryda commented on #851
@bobsummerwill I uninstalled cpp-ethereum, but this wasn't the total resolution. I also had to get rid of libethereum because it locked installation of solc. But without libethereum there was no candidate for update - an effect of split of these entities. So had to manually force solc to install from deb package at the end.
So the path was as follows:
sudo apt-get remove --purge cpp-ethereum
sudo

[2016-08-11 04:35] Hibryda commented on #851
Ah, and I could actually make it easier of course, just force installing without dependencies, but wanted a cleaner version to be sure. Now it works fine.

[2016-08-11 11:07] chriseth opened #863 "Export unlinked objects via json output"
It should be possible to use unlinked binary objects from the json compiler just as is possible in the C++ interface.

[2016-08-11 11:08] chriseth commented on #635
Closing in favour of https://github.com/ethereum/solidity/issues/863

[2016-08-11 11:08] #635 closed, assigned to nobody

[2016-08-11 11:11] chriseth commented on #639
As we have `hex"..."`, we could also use `raw"..."` ('r' is a bit too short, I would say), although if possible, I would prefer `bytes("abc")`.

[2016-08-11 11:14] chriseth commented on #847
What about:

Warn if contract is abstract but not "marked" as abstract.
You can mark a contract as abstract by using  `contract a is abstract {}`.
It is a bit weird, because `abstract` would be a keyword that is not inherited, i.e. contracts that derive from `a` will not necessarily be abstract.

[2016-08-11 11:16] chriseth commented on #649
As also commented on the "interface" issue:

I think having another type of contract is not a good idea and will confuse users. What about:

Warn if contract is abstract but not "marked" as abstract.
You can mark a contract as abstract by using contract a is abstract {}.
It is a bit weird, because abstract would be a keyword that is not inherited, i.e. contracts that derive from a will not necessa

[2016-08-11 11:16] chriseth commented on #653
This is done.

[2016-08-11 11:16] #653 closed, assigned to nobody

[2016-08-11 11:18] chriseth commented on #662
I think default reentrancy protection is a weird programming model. Everything else can be achieved by the modifiers in version 0.4.0.

[2016-08-11 11:18] #662 closed, assigned to nobody

[2016-08-11 11:24] chriseth opened #864 "Provide ecrecover(bytes32 hash, bytes signature) overload"
The compiler should provide an overload of `ecrecover(bytes32 hash, bytes signature) returns (address)` for the ecrecover function

[2016-08-11 11:28] chriseth commented on #683
Replaced by https://github.com/ethereum/browser-solidity/issues/173

[2016-08-11 11:28] #683 closed, assigned to nobody

[2016-08-11 11:30] AFDudley commented on #662
@chriseth Sorry, I think I'm misunderstanding you. What's weird about the default NOT favoring adversaries? Or put another way, we should expect programing in the EVM to be weird because functions can't trust callers or callees?

Again, apologies, I am simply trying to understand the design philosophy that underlies this decision, if you've written about this elsewhere, i'll happily accept a link.

[2016-08-11 11:38] primehat23 commented on #852
I think you guys did this on purpose to halt all people wanting to support eth(POW, prisoner of war/(proof of work) chain). Really good war strat. I think napoleons ;) brother told him to do that same tactic.  really smart. If people have a chain (from the before times) they can catch up and use a geth --clean geth --update and still run the kigigger. Though if new buckets(think south korea backin

[2016-08-11 11:41] primehat23 commented on #852
DO YOU KNOW WHO I AM?
WHO THE TELL DO YOU THINK I AM.
ky-GO

[2016-08-11 11:43] redsquirrel commented on #649
I'd prefer to see it more strictly enforced with an error, but a warning is fine.

I think this is going to confuse people because it looks like inheritance. I'd prefer:

`abstract contract a {}`

[2016-08-11 13:37] simpletechnology opened #865 "cannot upgrade in ubuntu trusty"
The following extra packages will be installed:
  solc
The following NEW packages will be installed:
  solc
0 upgraded, 1 newly installed, 0 to remove and 4 not upgraded.
188 not fully installed or removed.
Need to get 0 B/2,042 kB of archives.
After this operation, 15.3 MB of additional disk space will be used.
Do you want to continue? [Y/n](Reading database ... 82505 files and directories curren

[2016-08-11 15:30] Denton-L opened #868 "Remove AppVeyorBot Comments"
I'm not sure if this is possible but I want to suggest that we disable the AppVeyorBot from commenting on PRs.

I feel that it doesn't really add anything of value because you can check the build status, anyway, by looking at the bottom of the page. In fact, it's more of an annoyance because it just tends to spam the conversation with build statuses which makes having real conversations more diffi

[2016-08-11 15:45] chriseth opened #869 "templates / generics"
Solidity should support template types / generics for contracts, libraries, functions and structs.

The syntax should be as follows:

[code]

In general, at every point where a new library, contract, function or user-defined type is defined, you can suffix the name with `[T1, T2, ...]`.

Inside the library, contract, function or user-defined type, the identifiers `T1, T2, ...` are bound to whateve

[2016-08-11 15:47] chriseth commented on #865
Please try if `sudo apt-get remove cpp-ethereum libethereum && sudo apt-get install solc`  helps

[2016-08-11 15:48] chriseth commented on #851
Thanks for the detailed report! We will improve the experience once we have new cpp-ethereum ppa packages.

[2016-08-11 15:48] #851 closed, assigned to chriseth

[2016-08-11 15:49] chriseth commented on #865
Please also see this one here: https://github.com/ethereum/solidity/issues/851

[2016-08-11 15:50] chriseth commented on #854
sounds good!

[2016-08-11 15:54] simpletechnology commented on #865
i follow that, and now libethereum throws error

ntu1_amd64.deb ...
Unpacking libethereum:amd64 (1.2.9-SNAPSHOT--20160629-6a05dd7~xenial-0ubuntu1) ...
dpkg: error processing archive /var/cache/apt/archives/libethereum_1.2.9-SNAPSHOT--20160629-6a05dd7~xenial-0ubuntu1_amd64.deb (--unpack):
 trying to overwrite '/usr/lib/libsolidity.so', which is also in package solc:amd64 1:0.3.6-nightly-2016-08-10-

[2016-08-11 15:54] simpletechnology commented on #851
ntu1_amd64.deb ...
Unpacking libethereum:amd64 (1.2.9-SNAPSHOT--20160629-6a05dd7~xenial-0ubuntu1) ...
dpkg: error processing archive /var/cache/apt/archives/libethereum_1.2.9-SNAPSHOT--20160629-6a05dd7~xenial-0ubuntu1_amd64.deb (--unpack):
 trying to overwrite '/usr/lib/libsolidity.so', which is also in package solc:amd64 1:0.3.6-nightly-2016-08-10-fh-3fc68da-0ubuntu1~xenial
dpkg-deb: error: subpr

[2016-08-11 15:58] chriseth commented on #755
Closing due to inactivity and because it is likely not a Solidity bug.

[2016-08-11 15:58] #755 closed, assigned to nobody

[2016-08-11 15:58] #767 closed, assigned to nobody

[2016-08-11 15:58] simpletechnology commented on #865
sudo apt-get remove cpp-ethereum libethereum && sudo apt-get install solc

does NOT help.

it gives this error;

The following extra packages will be installed:
  solc
The following packages will be REMOVED:
  alethzero cpp-ethereum eth ethkey ethminer ethvm libethereum libethereum-gui
  lllc mix-ide rlp
The following packages will be upgraded:
  solc
1 upgraded, 0 newly installed, 11 to remove an

[2016-08-11 15:59] #772 closed, assigned to nobody

[2016-08-11 16:01] simpletechnology commented on #865
solc and libethereum have conflicting packages within them..... this needs to be fixed!

[2016-08-11 16:01] simpletechnology commented on #865
cannot install libethereum & solc at the same time. is impossible. it's either install one, or the other!

[2016-08-11 16:01] simpletechnology commented on #851
solc and libethereum cannot be installed together on ubuntu trusty.

[2016-08-11 16:03] simpletechnology commented on #851
The following NEW packages will be installed:
  libethereum
0 upgraded, 1 newly installed, 0 to remove and 27 not upgraded.
10 not fully installed or removed.
Need to get 0 B/2,890 kB of archives.
After this operation, 14.6 MB of additional disk space will be used.
Do you want to continue? [Y/n](Reading database ... 66657 files and directories currently installed.)
Preparing to unpack .../libether

[2016-08-11 16:04] simpletechnology commented on #851
the main problem is this;

trying to overwrite '/usr/lib/libsolidity.so', which is also in package solc:amd64 1:0.3.6-0ubuntu1~trusty

/usr/lib/libsolidity.so is contained inside two packages that both need to be installed together. it's impossible to do so otherwise, as apt-get checks this....

[2016-08-11 16:05] simpletechnology commented on #865
trying to overwrite '/usr/lib/libsolidity.so', which is also in package solc:amd64 1:0.3.6-0ubuntu1~trusty

[2016-08-11 16:06] chriseth commented on #726
I would say that is the duty of the IDE.

[2016-08-11 16:06] #726 closed, assigned to nobody

[2016-08-11 16:10] chriseth commented on #812
I think this should be fixed. Please reopen if it persists.

[2016-08-11 16:10] #812 closed, assigned to bobsummerwill

[2016-08-11 16:10] #814 closed, assigned to nobody

[2016-08-11 16:13] chriseth commented on #865
apt-get did not properly uninstall libethereum before installing solc. Please try

[code]

and then

[code]

[2016-08-11 16:16] #821 closed, assigned to chriseth

[2016-08-11 16:47] chriseth commented on #649
Yep, that is how it is done in Typescript, so we could also follow that.

[2016-08-11 16:49] chriseth commented on #851
I'm sorry, yes, until we have new ppa packages for cpp-ethereum they cannot be both installed at the same time.

[2016-08-11 17:37] VoR0220 commented on #863
keeping an eye on this.

[2016-08-11 17:53] pacifics commented on #814
OK. thank you.
Le 10 août 2016 23:12, "Denton Liu" notifications@github.com a écrit :

[2016-08-11 18:09] Hibryda commented on #851
It can temporarily done by repacking one of packages: ar, edit control archive, pack again. Dirty, but should do the job.

[2016-08-11 22:40] rainbreak opened #875 "install_deps.sh: alpine detection"
Two issues with install_deps for detecting Alpine linux:

1) It uses bash. The alpine docker image only has `sh`

2) Alpine doesn't have `lsb_release`. It has '/etc/os-release' instead:

[code]

I think parsing `os-release` is going to be the solution overall as most big distros now use it, as far as I can tell.

https://www.freedesktop.org/software/systemd/man/os-release.html

[2016-08-12 02:23] bobsummerwill commented on #875
From what I can see, there is no single simple approach to this which will work for all distros.

A simpler start for Alpine would be to check for `/etc/alpine-release`.

For the `sh` issue, does the bash shebang break anything if you run this script?   Or is it just ignored?

If you could create a PR for these changes (or any changes you can make which work) that would be much appreciated.   You

[2016-08-12 02:25] bobsummerwill commented on #868
I quite like it myself, but sure, we can remove it if that's easy enough and if people don't like it.

[2016-08-12 02:26] Denton-L commented on #868
Well, I don't want to feel like I'm unilaterally making this decision. How about we leave this issue up for a few days and see if there's any objection to removing them?

[2016-08-12 09:11] chriseth commented on #868
Please remove it, it really clutters the pull request page. If you want to know the build status, you can always look at the end of the page.
Also it resets the "all comments read" state of the pull request, which is equally annoying.

[2016-08-12 09:30] chriseth commented on #499
The only reason for having fallback functions (instead of weird "manual override" cases) is to react (basically log an event) when receiving ether.

Since we plan to include the strict "payable" modifier, changes to the ABI could be limited to "can receive ether" for a contract, the signature of the fallback function does not convey any further information.

[2016-08-12 09:47] axic commented on #610
Wouldn't the main suggested use for `transfer` be sending value to addresses or accounts? And in the case of accounts, strictly to the fallback function?

In that case it should by default include gas enough for that only and offer the `.gas(n)` modifier.

ie. `address.transfer(1 ether)` and `address.transfer.gas(120000)(1 ether)`

[2016-08-12 10:56] #853 closed, assigned to nobody

[2016-08-12 11:02] chriseth commented on #796
Note that this is quite expensive to do, especially for types shorter than 256 bits.

[2016-08-12 11:07] chriseth commented on #639
What is left to do here, @axic?

[2016-08-12 11:15] axic commented on #639
Merging #832.

And:

I would reword it though: _When an invalid UTF8 sequence is detected in a string assignment, the compiler should throw a warning._

The helper is available for that (validate utf8).

[2016-08-12 12:47] chriseth commented on #479
`0x00000ff` is a number, and numbers ignore leading zeros, that is the main reason.

[2016-08-12 12:56] chriseth opened #883 "Warn about invalid utf8 sequences in strings"
Any literal that is a string should not contain invalid utf8 sequences.

The main problem in implementing is that contextual information is needed here. The literal itself does not yet "know" whether it will be used as a string or as a raw byte value. This means that such a check should be performed at the point of type conversion:

Literal strings with invalid utf8 sequences that are converted to

[2016-08-12 12:56] chriseth commented on #639
Closing in favour of https://github.com/ethereum/solidity/issues/883

[2016-08-12 12:56] #639 closed, assigned to nobody

[2016-08-12 13:09] #815 closed, assigned to nobody

[2016-08-12 13:20] #846 closed, assigned to nobody

[2016-08-12 14:39] chriseth opened #887 "Simple peephole optimizer if the main optimizer fails"
There are quite some situations where the main optimizer fails to operate, which always results in a full basic block being unoptimized. We should add a peephole optimizer to assist in such situations.

[2016-08-12 20:35] Denton-L opened #891 "Allow Libraries to Inherit"
Currently, libraries are not allowed to inherit or be inherited. I believe that libraries should be allowed to inherit from each other.

A use-case of this would be as follows:

I am currently writing an [implementation of state channels](https://github.com/ledgerlabs/toy-state-channels) and for my `Adjudicator` to check if a `bytes32[]` is newer than a previously submitted one, it has to make a c

[2016-08-13 10:09] chriseth commented on #891
This was in the original design of libraries, of which only a part is implemented for now. The design document was put on a site that went down in the meantime, but I hope I still have it somewhere.

In general, the complication with libraries inheriting is that you lose the ability to use virtual functions. This is fine as long as you do not allow those functions to be overwritten. contracts and

[2016-08-14 20:14] sri-rang opened #892 "Specify grammar in BNF"
Would help in adding support to many IDEs and tools.

Will this be considered?

[2016-08-15 01:15] axic opened #893 "Deprecate standard contracts"
Follow up from https://github.com/ethereum/solc-js/issues/30.

Certain pieces of Solidity snippets are included during compilation when specifying the `--add-std` flag for `solc`. The list is available here: https://github.com/ethereum/solidity/blob/31aa67f1caa802817e376745d01e187a26eaaea5/libsolidity/interface/CompilerStack.cpp#L45:

@chriseth wants to deprecate them.

[2016-08-15 04:49] bobsummerwill opened #894 "macOS - Yosemite, El Capitan and Sierra hanging?"
The Solidity unit tests appear to be hanging when running on OS X Yosemite, OS X El Capitan and macOS Sierra on TravisCI.

See, for example ... https://travis-ci.org/ethereum/solidity/builds/151825303

In this instances (and others), TravisCI aborts because it has received no TTY for 10 minutes.

It is possible that is true, but it seems very unlikely given the timing of the same step which is suc

[2016-08-15 09:24] axic commented on #789
@bobsummerwill would you be able to do this (or point me to how to do it)? I would suggest using version 1.7.4.

[2016-08-15 09:26] axic commented on #864
Do you mean this https://gist.github.com/axic/5b33912c6f61ae6fd96d6c4a47afde6d?

[2016-08-15 09:34] axic commented on #892
Check out #717.

(There's a simple grammar at https://github.com/ethereum/solidity/blob/develop/libsolidity/grammar.txt)

[2016-08-15 09:35] bobsummerwill commented on #789
Hey @axic,

Sure - but we probably want to hold-fire until we're working in ethereum/cpp-ethereum again.

If you would like to have a dry-run, you could fork https://github.com/bobsummerwill/cpp-ethereum/tree/merge_repos, and look at how @chfast uses LLVM within https://github.com/ethereum/evmjit.    It will be like that.

You could either just download the external package (as Pawel does), or in

[2016-08-15 09:44] sri-rang commented on #892
I did, and I kind of modified it for making a Jetbrains / IntelliJ plugin.

But I don't trust my conversion to BNF, maybe I can make a PR for that and someone would like to review?

[2016-08-15 09:58] axic commented on #649
I think this is a bad idea. It suggests that it is derived from an `abstract` parent, but that wouldn't mean your contract cannot be instantiated.

Abstract contracts are probably useful to map out source code in a more sensible way.

Interfaces on the other hand map the ABI 1-to-1 and have a different use case. It helps to avoid the mistake of using an abstract contract, which has a few extra met

[2016-08-15 12:33] redsquirrel commented on #649
[code]

Why would this fail?

[2016-08-15 15:24] Denton-L commented on #893
On it!

[2016-08-15 16:14] redsquirrel commented on #893
Do you know if there's a plan for an actual standard lib that ships with Solidity?

[2016-08-15 16:37] axic commented on #893
@redsquirrel I think the sentiment is to have package managers instead.

When I have time I do plan to update https://github.com/axic/density, but any help is more than welcome 😃

[2016-08-15 16:39] axic commented on #649
Because the instance of `Real` doesn't implement the method `b`. `Real` is derivate of the interface and not the abstract, but when interfaces are defined as abstracts (as today), this can easily be uncaught.

[2016-08-15 16:43] redsquirrel commented on #649
Ahhh, I see it now. I thought that `Real` inherited from `Abstract`. Now I see what you were doing. Thanks.

[2016-08-15 16:45] redsquirrel commented on #893
Hm, in my experience, successful programming languages tend to have a standard library AND a strong package management ecosystem. Are we thinking that they are mutually exclusive for Solidity?

[2016-08-15 17:03] axic commented on #893
@redsquirrel that is the sentiment I've gathered. I think it is very useful to have a thin, well-tested standard library (even Javascript has it with the many builtin types and methods over them). It is just really hard finding that fine line between _core_ and _auxiliary_ functions. Otherwise I wouldn't have started the discussion over the other thread months ago.

[2016-08-15 17:25] VoR0220 commented on #892
please do

[2016-08-15 17:42] bobsummerwill commented on #893
I guess we just don't have enough knowledge yet of what exactly what such a standard library might contain, and are reticent to "bless" something when we don't even have a packaging system.

With a packaging system in place there is an ecosystem supportive of standards starting to emerge.

Building a standard library now, up-front, would be a bit "Cathedral".

[2016-08-15 18:05] Denton-L commented on #868
@bobsummerwill, I don't think there's any resistance to this issue. You can probably remove it.

[2016-08-15 18:10] redsquirrel commented on #893
@bobsummerwill Are there examples of successful programming languages that waited to build a standard library until _after_ a packaging system was in place? I can't think of one, but my experience is limited to Perl, JavaScript, Java, and Ruby. I suggest biting the bullet and "blessing" some standard components in order to make Solidity a more productive programming environment.

@axic That fine l

[2016-08-15 19:04] VoR0220 opened #898 "Recommend we add a better explanation for abstract contracts"
This does a decent job explaining I think. https://ethereum.github.io/browser-solidity/#version=soljson-latest.js&gist=d36c09d53ee5a9d1802dafe04d0bf0e0

[2016-08-15 20:21] bobsummerwill commented on #893
We're in unchartered territory, though, aren't we, @redsquirrel?

We're not just making another general purpose language where the appropriate scope of a standard library can just mimic that of existing languages.   "OK - let's do some containers, some strings, some file system, etc."

The risk of "blessing too early" is that you are then stuck with a support nightmare.

I imagine there is a fair

[2016-08-15 20:22] bobsummerwill commented on #868
I agree.    It's on the backlog with the hundreds of other issues :-)

If you can manage to work out what tweaks to the `.yml` file are required for that, please do let me know, and/or make a PR!

[2016-08-15 20:53] redsquirrel commented on #893
@bobsummerwill Can you say more about this?

[2016-08-15 21:20] bobsummerwill commented on #893
Just that anything which is declared as "standard library" will likely have to be supported forever, that we will have to maintain backwards compatibility, even if the initial API turns out to ill-advised, etc.

While libraries are all "use at your own risk", we have wide latitude to fix issues even if they break backwards compatibility or change API.

Are there any Solidity libraries which are al

[2016-08-15 21:21] bobsummerwill commented on #893
Essentially do we know "What Good Looks Like?"

I don't know that we do yet.

[2016-08-15 21:21] #868 closed, assigned to bobsummerwill

[2016-08-15 21:33] redsquirrel commented on #893
Why would the Solidity std-lib have to maintain backward compatibility forever? I mean, I agree that most languages tend to keep their std-libs around forever, but why is that uncharted territory in the context of Solidity? Do backward-incompatible changes to Solidity affect previously deployed contracts?

[2016-08-15 21:37] redsquirrel commented on #893
I'd say that `owned` and `mortal` are good enough to keep.

[2016-08-15 21:38] bobsummerwill commented on #893
Let me point here from Gitter and get some more opinions on expectations of API stability.

[2016-08-15 21:42] axic commented on #893
@redsquirrel @bobsummerwill can you please move this discussion to #228? It seems like it kind of derailed from the original :)

[2016-08-15 21:43] bobsummerwill commented on #893
Yep

[2016-08-15 21:46] axic commented on #228
This from the original discussion is not a concern anymore after #527 is done.

[2016-08-16 07:14] bobsummerwill commented on #771
See also some IPC path changes happening in `geth`, @winsvega, @chriseth.

https://github.com/ethereum/go-ethereum/pull/2638

[2016-08-16 10:08] area opened #906 "Compiled contracts larger than they used to be"
I've got a (rather large) contract that compiles to a larger bytecode than it used to. After a binary search using the binaries in https://github.com/ethereum/solc-bin , the change appears to have occurred between `v0.3.5-2016-07-21-6610add` and `v0.3.5-2016-08-03-3b21d98`, where the bytecode has gone from 14972 bytes to 15384 bytes.

Is there a reason to expect this behaviour? And if I can't find

[2016-08-16 10:41] chriseth commented on #787
Please see the new task.

[2016-08-16 10:43] chriseth commented on #906
Yes, it is expected behaviour. We disabled the optimizer in some situations because it produced faulty code. We are planning to add a new optimizer stage that should reduce the size again.

[2016-08-16 10:44] chriseth commented on #898
Please create a PR for the documentation.

[2016-08-16 10:51] elenadimitrova commented on #906
Would be nice to document this in the release

[2016-08-16 12:36] chriseth opened #908 "formal verification: ast translator"
The current why3 code generator directly translates the AST into why3 source code. It would be better if we would at least support basic data structures like semicolon-separated sequences and space-separated elements in paretheses. Depending on the syntax of why3, the support can of course also be larger.

[2016-08-16 13:02] chriseth commented on #893
@redsquirrel shipping a standard library with the compiler is the plan, but we don't have the capacity to do that at the moment.

[2016-08-16 13:11] chriseth commented on #906
Right, thanks for the tip, just did that :-)

[2016-08-16 14:21] chriseth opened #909 "Enums with data / sum datatype / algebraic datatypes"
This is a story that already exists is pivotal tracker.

Solidity should support sum datatype similar to how they are supported by rust.

[code]

Comparison between enum types and enum field names (like `Commitment.Hidden`) is done based on the enum value only (data is ignored) but comparisons between enum variables is a deep comparison.

Because of the fact that references to the storage location

[2016-08-16 14:27] #492 closed, assigned to nobody

[2016-08-16 14:31] #479 closed, assigned to nobody

[2016-08-16 15:02] chriseth commented on #864
yes

[2016-08-16 15:05] chriseth opened #910 "Function types"
The parser should be able to handle function types. The signature has to distinguish between internal and external functions: internal functions are represented by their jump label, external functions by the address (function signature is derived from the function itself).

[2016-08-16 15:06] chriseth opened #911 "Lambda functions without capturing"
It should be possible to denote simple lambda functions (internal and external) without capturing, especially for things like oraclize.

[2016-08-16 15:12] bobsummerwill commented on #860
This was resolved in the end, I believe.

[2016-08-16 15:12] #860 closed, assigned to chriseth

[2016-08-16 15:12] bobsummerwill commented on #875
@rainbeam For the sh issue, does the bash shebang break anything if you run this script?
Or is the shebang ignored?

Does `sh ./scripts/install_deps.sh` work?   Barring that runtime detection-issue which will need fixing, or course.

[2016-08-16 17:25] rainbreak commented on #875
@bobsummerwill : `sh ./scripts/install_deps.sh` works. `./scripts/install_deps.sh` fails because env can't find bash.

[2016-08-16 18:47] winsvega commented on #771
I would add to this issue
1) rework --ipcpath on windows
2) rework --ipcpath on soltest
3) style and review ipcpath code for soltest

[2016-08-16 19:08] rainbreak opened #915 "Static build for linux"
It is easy to build a fully static solc binary, which is portable across all linux distributions. I propose that solidity automates this as part of the github release and provides a downloadable static binary.

Implementation example: https://github.com/rainbeam/solidity-static

[2016-08-16 19:39] Smithgift commented on #226
If this is a one-off thing, then I'd be OK with a comment. But if we're going to have macros in the future, I think this should be part of that system.

In, re: macros, it can be the scary road to doom (and unreadable code), but there's some use cases that could really use them. For example, compile-time constants that allow the user to chose which of a number of options (length of a channel's cha

[2016-08-16 21:16] bobsummerwill commented on #915
I am thoroughly in support of this, @rainbeam.

Thanks for the working example :-)

We'll get this in the backlog for me.

[2016-08-17 04:47] blockzombie commented on #226
Does @requires-solidity >= 0.1.7 mean a specific version of the language spec or of a compiler implementation?

Also, it's arguable that this pragma syntax should be harmonious with the import syntax. Why would their syntax be so different (e.g. @ prefix for a start)

The similarities include being file-scoped, modal etc. Typical pragmas hastily backported into languages include "use strict" which

[2016-08-17 07:54] chriseth commented on #226
@blockzombie the current proposal (see description of this issue) is to provide semver-matching and not put it inside comments. If the language spec and compiler version start to diverge at some point, this refers to the language version.

I'm not so keen on using `require` for this because it is also a keyword in why3 and we might upgrade it to a proper language construct later.

So perhaps somet

[2016-08-17 07:58] #759 closed, assigned to chriseth

[2016-08-17 08:02] bobsummerwill commented on #875
Well that isn't so bad, eh?

So we'll just need to tweak the distro-detection.

[2016-08-17 08:06] blockzombie commented on #226
@chriseth thanks for your quick feedback.

I like the motivation and the feature and I'm a fan of semver. I also respect avoiding overloading `require` and `pragma` is a wonderfully exact replacement.

My burning question is why reuse parentheses such that it resembles a function call when you have syntax that causes modal, file-scoped changes to the meaning of the following code which use a synta

[2016-08-17 08:29] chriseth commented on #226
The idea behind using parentheses was indeed forward-compatibility. For example, `pragma` can also be used to switch some features on or off, but I think

[code]

also serves this goal. So the idea is:

A pragma starts  with `pragma`, then an identifier and then just about any set of characters up until `;`. The part between the identifier and the `;` will be parsed as a string.

This would requir

[2016-08-17 09:04] chriseth opened #917 "Update documentation"
The full documentation should be re-read so that examples and text do not contain or explain features that were removed. Furthermore, the version pragma should be added at least to the more complex examples. Finally, change the default contract of browser-solidity to include a version pragma.
- [x] update docs
- [ ] update browser-solidity default contract

[2016-08-17 09:05] #517 closed, assigned to nobody

[2016-08-17 09:08] #875 closed, assigned to bobsummerwill

[2016-08-17 09:28] #647 closed, assigned to nobody

[2016-08-17 14:24] #686 closed, assigned to nobody

[2016-08-17 14:43] #670 closed, assigned to chriseth

[2016-08-17 14:44] #520 closed, assigned to nobody

[2016-08-17 17:49] MrChico opened #922 "AST output: literal_string with non-UTF8 should have the "value" field escaped"
Here is a minimal example that recreates the bug:

[code]

Returns error:

[code]

Seems that hex strings beginning with digits higher than 8 throw this error

[2016-08-17 22:09] codati opened #923 "error for apt-get upgrade"
hi,
my error:

[code]

just to let you knowlo

[2016-08-17 22:16] codati commented on #923
#865 dupplic sorry

[2016-08-17 22:16] #923 closed, assigned to nobody

[2016-08-17 22:20] codati commented on #865
hi,
i can't install solc and ethminer ?...

[2016-08-17 23:28] bobsummerwill opened #924 "Travis/macOS - Carthage and Travis-CI"
Homebrew issues ...

See https://travis-ci.org/ethereum/cpp-ethereum/jobs/153117742

[code]

I'm digging, but it looks like one the packages which is part of the TravisCI image for Yosemite (`carthage`), has decided that it wants you to have a full xcode install, not just command-line tools.

Formula doesn't seem to have changed:
https://github.com/Homebrew/homebrew-core/tree/master/Formula/cartha

[2016-08-18 02:28] bobsummerwill commented on #924
Hmm.   I logged this under `solidity` because I could swear that I saw this happening in `solidity` and in `cpp-ethereum`, but I can only see it happening in `cpp-ethereum` now.

I won't bother closing and moving this issue.   We need to address it either way, and I don't actually think that it is specific to either codebase.    It will be me fixing it either way :-)

[2016-08-18 12:28] chriseth commented on #865
Yes, you cannot have both at the same time, at the moment, sorry for the inconvenience.

[2016-08-18 13:58] #906 closed, assigned to nobody

[2016-08-18 14:01] chriseth commented on #922
`hex"80"` seems to cause an invalid utf8 sequence in the compiler output.

[2016-08-18 15:15] chriseth opened #927 "Extract counterexamples from failures"
Relevant research article: https://hal.inria.fr/hal-01271174/document

[2016-08-18 15:24] chriseth commented on #787
The task in solc-js is not done yet.

[2016-08-18 15:25] winsvega commented on #784
so replace to particular output instead of function here:
https://github.com/ethereum/solidity/blob/develop/test/libsolidity/SolidityExecutionFramework.h#L121

right?

[2016-08-18 15:27] chriseth commented on #784
not at that point, but yeah, where it is used.

[2016-08-18 21:24] channgo2203 opened #929 "When a function in a contract is called, if the gas limit is not enough, the out-of-gas exception occurs and the sender loses his gas. How to know in advance how much gas enough for any arguments values passed to the function?"

[2016-08-19 04:06] connorchang commented on #851
I am still having the same issue, and my whole apt system broke, is there any way to fix this? I tried to the commands above, didn't work.

[2016-08-19 10:04] chriseth commented on #929
This is a perfect question for https://ethereum.stackexchange.com/

[2016-08-19 10:04] #929 closed, assigned to nobody

[2016-08-19 10:44] chriseth opened #930 "Warn about sending ether to a non-payable function"
Function calls that send ether to a non-payable function should raise a warning (or even error).

[2016-08-19 15:42] Denton-L commented on #784
What's the rationale behind removing these?

[2016-08-19 16:09] chriseth commented on #784
They are not used by the compiler, only for a single test.

[2016-08-19 16:24] raineorshine opened #931 "Returning a fixed-length array causes other return values to get messed up (browser-solidity)"
Why does the function below return `[[1, 2], [2, 3]]` instead of the expected `[[1, 2], [3, 4]]`? Tested in browser-solidity.

[code]

Returning a fixed-length array as the first element in the return tuple appears to throw off the indexed memory location of the following elements, regardless of their type:

[code]

[2016-08-19 16:39] mike80439 opened #932 "comment lines causing syntax error"
This stripped-down contract causes a syntax error:

contract Test2 {
  address owner;
  function Test2(){
    owner = msg.sender;
  }
//  function doSomeStuff(){
//    string memory s = "xyz";
//  }
}

Removal of the "//" characters fixes.

/usr/local/lib/node_modules/truffle/node_modules/solidity-parser/index.js:39
      throw e;
      ^
SyntaxError: Expected "{", "}", any character, comment, end

[2016-08-19 17:10] Denton-L commented on #784
So it's still gonna be available for Solidity contracts?

[2016-08-19 17:15] bobsummerwill opened #933 "Undo code added for parsing unit-test command line options"
See https://github.com/ethereum/solidity/pull/799#issuecomment-240132888

We can simplify our unit-test application code for solidity.   Both @winsvega and @bobsummerwill were unaware of the idiomatic way of handling Boost unit-test options.

[2016-08-19 20:52] bobsummerwill commented on #784
Context for these changes as a whole, @Denton-L and @axic.

We orphaned a subset of `libdevcore` into Solidity as part of the "standalone" changes, and I tried to make that subset as minimal as possible.    This (and a few other issues logged against the repo) are aiming to chop back on some of the dependencies which needed a little rework rather than just straight code deletion.

They are almost

[2016-08-19 20:54] bobsummerwill commented on #784
@Denton-L So the smart contracts run on specific EVM client implementations.

In the C++ case, that code will like inside `eth`, and actually be exactly the code whose cut-and-paste we are removing here.     The two were previously intertwined because of the dual-purpose of webthree-umbrella.

Hope that makes sense!

[2016-08-19 20:56] bobsummerwill commented on #784
See also #780, #781, #782, #785.

[2016-08-19 21:20] chriseth commented on #932
Are you sure this is a solidity issue? The error message seems like it is an error of the solidity parser built into truffle.

[2016-08-19 21:25] chriseth opened #934 "Nightly builds should have correct version number"
The develop branch should have its minor version incremented immediately following a release (even if the next release will not increment the minor version) and a prerelease string appended:

Current released version (release branch): `0.3.6`
Version number in develop: `0.4.0-nightly.2016.08.19+af2381cd`
Next released version (in merge commit from develop to release): `0.3.7`

Make sure to first m

[2016-08-20 00:57] #705 closed, assigned to nobody

[2016-08-20 12:26] mike80439 commented on #932
Other than creating the test case, I haven't investigated. Go ahead and
close if you think it's truffle. Thanks.

On Fri, Aug 19, 2016 at 3:21 PM, chriseth notifications@github.com wrote:

[2016-08-20 18:45] #932 closed, assigned to nobody

[2016-08-21 04:25] VoR0220 commented on #849
Going to test and then see if I can close this.

[2016-08-21 06:45] VoR0220 commented on #849
still running into problems with running individual endToEndTests.

[2016-08-21 06:45] VoR0220 commented on #849
It automatically jumps to the assumption that I want to run all of the tests.

[2016-08-21 07:02] VoR0220 commented on #849
actually nvm, I figured out how this works, you have to isolate it in the first set of arguments, then append -- and then the ipc arg. I think I'll try to make a help screen for that (where would that be located)?

[2016-08-21 07:02] #849 closed, assigned to nobody

[2016-08-21 09:42] HaikelBenHmida commented on #865
@chriseth @codati @simpletechnology

Hi,

Try to execute this to resolve the probleme.

  rm /var/lib/dpkg/info/ethkey*
  rm /var/lib/dpkg/info/eth:*
  rm /var/lib/dpkg/info/ethm*
  rm /var/lib/dpkg/info/libeth*
  apt-get -f install

[2016-08-22 01:21] slothbag opened #937 "Error compiling on Linux"
I'm trying to compile on Ubuntu 16.04.01 and its giving the following errors:

[code]

[2016-08-22 08:45] francesco13 commented on #865
Hi,

Thanks, that worked for me

[2016-08-22 19:25] #564 closed, assigned to chriseth

[2016-08-22 20:53] #787 closed, assigned to winsvega

[2016-08-22 20:55] chriseth commented on #934
The first step of correctly reporting the version in `--version` and `version()` can already be done without the change to the solc-bin scripts.

[2016-08-22 23:15] bobsummerwill opened #938 "Update Solidity docs to point to install_deps.sh/bat"
The Solidity docs can be simplified to use `scripts/install_deps.sh` and `scripts/install_deps.bat`, as we have already done for `cpp-ethereum`.

The current "long-form" instructions are no longer necessary, especially because the Solidity instructions only cover macOS and Ubuntu.

[2016-08-23 08:49] chriseth opened #939 "Postfix types - varname: type"
We should follow TypeScript (and other popular languages) more closely and change variable declarations to `identifier: typename`, this also makes it much easier to distinguish the typename from the identifier.

We can keep the C-style notation as an alternative.

[2016-08-23 08:50] chriseth commented on #865
We just created new packages for the PPA, solidity and lll are no longer part of cpp-ethereum and libethereum and thus should not create a conflict anymore.

[2016-08-23 08:50] #865 closed, assigned to nobody

[2016-08-24 07:00] chatch opened #943 "Fail to generate why3 source with --formal"
Running "solc --formal" against Fund.sol from [this gist](https://gist.github.com/chriseth/c4a53f201cd17fc3dd5f8ddea2aa3ff9) results in an error "Compound assignment not supported".

formal> solc --version
solc, the solidity compiler commandline interface
Version: 0.3.6-0/None-Linux/g++

formal> solc --formal Fund.sol
Fund.sol:6:13: Error: Compound assignment not supported.
            shares -= a

[2016-08-24 07:02] chatch commented on #943
I can workaround this by expanding the assignment to "shares = shares - amount;"

[2016-08-24 10:20] chriseth commented on #943
Yes, the gist is an old example, the syntax changed in the meantime. Please use this example: https://chriseth.github.io/notes/talks/formal_ic3_bootcamp/#/7

[2016-08-24 10:20] #943 closed, assigned to nobody

[2016-08-24 12:00] winsvega commented on #933
@chriseth   did you already removed this code?

[2016-08-24 15:04] ghost opened #944 "Callcode doesn't work"
**COMPILER:** Online Solidity Compiler
**WEB3:** injected with MetaMask

**Here's what I do from JS side:**
1. A.makeCallCode({gas:100000});
2. A.sender() // **0x00000000000000000000000000000000000000000000000000000000000000ff**
3. A.x() // **0x0000000000000000000000000000000000000000000000000000000000000000**

**As I understand it I should get this:**
1. A.makeCallCode({gas:100000});
2. A.sender(

[2016-08-24 15:16] Denton-L commented on #944
The reason why this doesn't work is because of the way the compiled bytecode accesses variables in Solidity. When `B.set` executes, it doesn't look for `x`, explicitly. Instead, when `B` is compiled, it sees that `B.x` is in the second storage slot so whenever it deals with `B.x`, it will go there. (This is a gross oversimplification but it should get the point across.)

When you call `A.makeCallC

[2016-08-24 15:26] ghost commented on #944
@Denton-L, thank you very much, good sir!

[2016-08-24 15:26] #944 closed, assigned to nobody

[2016-08-24 19:16] chriseth commented on #933
I think I already did most of the required changes, but please check.

[2016-08-24 21:54] VoR0220 commented on #869
any chance we can go full javascript on this and do this by using var as the generic type with a typeOf function to weed out unwanted types in the generics function?

[2016-08-25 06:59] #784 closed, assigned to winsvega

[2016-08-25 07:33] chriseth commented on #869
@VoR0220 I think what you are proposing is to basically do type checking at runtime, which is not a good idea in my opinion.

[2016-08-25 08:54] winsvega commented on #771
the command to run soltest on windows is

`.\\soltest.exe -- --ipcpath \\\\.\\pipe\\geth.ipc`

[2016-08-25 13:05] asinyagin commented on #649
I like both `abstract contract` and `interface` but the second one is shorter.

[2016-08-25 14:46] VoR0220 commented on #869
no it's more of a syntactic thing I think... could not `[T]` be substituted by `var` ?

[2016-08-25 15:09] chriseth commented on #931
The raw hex data is correct, so this seems to be a bug in ethereumjs-abi (the decoder routine): https://github.com/ethereumjs/ethereumjs-abi/issues/29

[2016-08-25 15:11] chriseth commented on #583
De-prioritizing because it is not a breaking change.

[2016-08-25 15:26] chriseth commented on #562
I would like to simplify this to:
- the "default implementation" of the fallback function throws
- libraries cannot have fallback functions

Having the keyword and the function present is basically the same thing expressed in two ways.

[2016-08-25 18:13] Denton-L commented on #534
I think this can be closed. It's mentioned [here](http://solidity.readthedocs.io/en/latest/types.html#explicit-conversions).

[2016-08-25 18:24] Denton-L commented on #315
I can do this but I'm not sure where to put this without duplicating a bunch of stuff that's already been written...

[2016-08-25 21:47] #534 closed, assigned to nobody

[2016-08-25 21:56] chriseth commented on #315
Perhaps we should upgrade grammar.txt to be part of the documentation, then we could also give a list of keywords in the same section.

[2016-08-25 23:04] chriseth commented on #937
Which compiler do you use? How exactly did you compile?

[2016-08-25 23:15] slothbag commented on #937
Ill have to check when im back at the keyboard.. but I'm just using standard gcc that comes default. Pretty are I just run make solc.

Ill provide specifics soon

[2016-08-26 00:37] raineorshine commented on #931
Thanks! I will watch that issue.
On Thu, Aug 25, 2016 at 9:09 AM chriseth notifications@github.com wrote:

[2016-08-26 03:45] walter-weinmann commented on #315
This would be great !

On 25 August 2016 at 23:56, chriseth notifications@github.com wrote:

##

---

_Walter Weinmann_

---

Obertorplatz 4
CH-4130 Rheinfelden
Tel +41 (0)61 841 06 10

---

Schulstrasse 1
CH-6037 Root
Tel +41 (0)41 530 39 70

---

[2016-08-26 05:01] bobsummerwill opened #956 "Update Solidity build instructions"
_From @bobsummerwill on June 1, 2016 15:16_

At https://solidity.readthedocs.io/en/latest/installing-solidity.html#building-from-source.

They are out-of-date and out-of-sync with the main instructions, especially WRT to Homebrew.

_Copied from original issue: ethereum/webthree-umbrella#543_

[2016-08-26 05:01] bobsummerwill commented on #956
_From @giact on June 4, 2016 19:54_

I tried cleaning up the Ubuntu part a bit: https://github.com/ethereum/solidity/pull/629

There's still some work to do (i.e. re-add the instructions for 14.04).

[2016-08-26 08:11] #15 closed

[2016-08-26 12:53] slothbag commented on #937
Looks like I have cpp 5.4.0 installed.. I assume thats what cmake/make is using under the hood.

I git cloned the repo then cloned, built and installed jsoncpp library, then in the solidity folder

[code]

[2016-08-26 13:40] chriseth commented on #937
Did you use `scripts/install_deps.sh`?

[2016-08-26 15:01] #454 closed, assigned to nobody

[2016-08-26 15:26] Denton-L commented on #937
When you cloned, did you run `git clone --recursive`? If not, try running `git submodule update --init`.

[2016-08-26 17:32] #893 closed, assigned to nobody

[2016-08-26 18:12] axic commented on #562
@chriseth: Well my current view on this, given all the other changes, is:
- [x] there's no fallback defined by default and the contract throws if no matching signature is found (fixed in #954)
- [x] if a fallback method is defined, it can be executed
- [x] fallback must be defined in the ABI JSON (fixed in #664)
- [x] fallback cannot have return values (fixed in #949)
- [x] fallback cannot have th

[2016-08-26 20:17] #938 closed, assigned to bobsummerwill

[2016-08-27 01:30] slothbag commented on #937
Thanks for the tips, the git submodule didn't help. I went to do the install_deps script but cant risk breaking other dependencies on this box.. so will leave it.

My goal was to do a windows build from linux.  Is there any plans for a nightly windows solc.exe binary? :)

[2016-08-27 05:14] bobsummerwill commented on #937
"My goal was to do a windows build from linux. Is there any plans for a nightly windows solc.exe binary? :)"

^ Not currently, though, but we do hope to get to weekly releases.

[2016-08-27 05:58] #186 closed, assigned to nobody

[2016-08-27 10:40] ethernomad opened #965 "Unable to access state variables using this"
[code]

[code]

This compiles, but returns 0:

[code]

[2016-08-29 08:21] rainbreak commented on #796
Would you consider this for 0.4.0, or is it a bit involved for that?

[2016-08-29 12:02] axic commented on #931
Fixed in https://github.com/ethereumjs/ethereumjs-abi/pull/30

[2016-08-29 12:24] #931 closed, assigned to nobody

[2016-08-29 16:36] elenadimitrova opened #966 "using input of `0` in sha3 function produces incorrect output"
I suspect this is a bug but wanted to report and confirm.
When passing `0` to `sha3` function in Solidity, instead of a predefined `uint` zero-value variable the produced output is incorrect. Sample below

[code]

produces:

[code]

[2016-08-29 17:18] elenadimitrova commented on #966
@area has rightly pointed out that Solidity casts to the smallest type hence using a `uint8` for the supplied `0` value. Tests confirm this is the case so closing this.

[2016-08-29 17:51] ethernomad commented on #796
Maybe this should be implemented in the EVM?

[2016-08-29 18:02] axic commented on #966
I'm not sure that is the correct behaviour though for sha3.

In the above case you coerce with `sha3(uint256(0));`, but I would be include to say that constants for tight packing should either:
- be disallowed
- or taken as `uin256`.

If finer granularity is needed they can be typecasted or defined as variables.

[2016-08-29 18:13] axic commented on #966
The document [here](http://solidity.readthedocs.io/en/latest/units-and-global-variables.html?highlight=sha3#mathematical-and-cryptographic-functions) could be made a tiny bit more explicit about how it behaves.

[2016-08-29 18:20] axic commented on #796
I think arithmetic overflow detection belongs to the EVM, but that would be a rather big change to it.

[2016-08-29 18:45] axic opened #970 "JsonCompiler should catch exceptions"
[JsonCompiler](https://github.com/ethereum/solidity/blob/develop/solc/jsonCompiler.cpp) is the C binding between Emscripten and Solidity's C++ code:

C++ exceptions should be caught before returning from the C wrapper. Compiler errors are already wrapped, but anything after for processing the result, doing formal analysis (why3) and building a JSON output is not.

This will probably "fix" https://

[2016-08-29 18:48] axic opened #971 "Formal analysis fails with unknown exception"
Reported at solc-js [originally](https://github.com/ethereum/solc-js/issues/44).

[This code](https://github.com/tcoulter/solc-result-bug/blob/master/strings.sol) will throw `Unknown exception during compilation.` when run using `solc --formal strings.sol`

@tcoulter can you please provide a shorter sample which still exhibits the issue?

[2016-08-29 19:07] axic commented on #970
Duplicate of: https://github.com/ethereum/browser-solidity/issues/174 and fixed in https://github.com/ethereum/solidity/pull/936

[2016-08-29 19:08] axic commented on #971
Duplicate of: https://github.com/ethereum/browser-solidity/issues/174 and fixed in https://github.com/ethereum/solidity/pull/936

[2016-08-29 19:08] #971 closed, assigned to nobody

[2016-08-29 19:46] axic commented on #922
AST output:

[code]

AST JSON output:

[code]

The character 0x80 is in the output where the question mark is. We should probably print a hex escaped version in the AST JSON and perhaps in the AST as well?

[2016-08-29 20:16] axic commented on #847
I think I've explained the pros since in #649.

Both `contract interface Token {}` and `contract Token interface { }` could work, but mixing it with inheritance (the `is` keyword) is dangerous.

[2016-08-29 20:16] Denton-L commented on #965
You should change your contract to the following:

[code]

This is because Solidity isn't Java. In Solidity, you can only access contract-level variables directly, as shown above. The consequence of this is that you wouldn't want to name your variables in a way such that you have a name collision between function-level and contract-level variables.

Also, you seem to be misunderstanding the purpos

[2016-08-29 20:27] Denton-L opened #973 "Warn about shadowing state variables"
Unsolved questions:
- [ ] in which situations should warnings be emitted?

We have to keep in mind that we want to have identifiers at global level at some point, but I think it is still fine because we have qualified import statements.

---

The following is valid Solidity code:

[code]

I propose that the compiler should not allow function-level variables to be named identically to contract-leve

[2016-08-29 20:39] redsquirrel commented on #973
👍🏼

[2016-08-30 00:20] rainbreak commented on #796
For the EVM I think it would need extra opcodes as overflowing math is still useful. In the meantime we can have it in Solidity and get the safety benefits at the expense of a bit of gas (completely worth it I think because you end up checking it in safe code anyway).

[2016-08-30 05:56] ethernomad commented on #965
@Denton-L see the previous issue: https://github.com/ethereum/solidity/issues/423

Your recommendation is exactly what I am trying to avoid: it makes the functions signatures really ugly. I would rather do `::stateVar = stateVar`

[2016-08-30 06:14] ethernomad commented on #767
I think this only happens for arrays with a fixed number of items. State arrays with dynamic length use a full slot for each item as far as I can tell.

[2016-08-30 06:27] ethernomad commented on #767
Actually you are right.

[2016-08-30 06:35] ethernomad opened #974 "When an array is in a struct it should be possible to specify the number of bytes used to store the length"
Array lengths are always stored as a single slot. Often 1 to 3 bytes would be sufficient. It would be great if the maximum length could be specified and the length state be packed into a struct.

Currently this requires a lot of custom coding.

[2016-08-30 12:22] Denton-L commented on #965
You cannot currently do that in Solidity. The current convention is to use underscores to differentiate between the two but, other than that, it's not possible.

[2016-08-30 12:29] ethernomad commented on #965
I am well aware that you cannot do that. My point is that I really do not like using the underscores and that I hope a better way can be added to Solidity.

[2016-08-30 13:48] #966 closed, assigned to nobody

[2016-08-30 14:50] sussegaduss commented on #395
I am also struggling with all kinds of gas problems. I have many doubts about gas comsumption, how many parameters a function can have, what is the size in kbytes that a contract can have.. that kind of stuff..

[2016-08-30 14:55] VoR0220 commented on #395
I wouldn't worry about kbytes.

[2016-08-30 14:57] chriseth commented on #937
"do a windows build from linux" - are you trying a cross-compilation?

[2016-08-30 15:00] chriseth commented on #965
@ethernomad so you are saying that the style is the main issue here? What about the following:

[code]

Or this one here:

[code]

[2016-08-30 15:08] chriseth commented on #974
What is the goal you want to achieve here? The array length deliberately occupies a full slot so that offsets of the data area (= sha3 of the length slot) are unique.

[2016-08-30 17:42] chriseth commented on #796
@rainbeam This is too involved for 0.4.0. Arithmetics is almost for free when compared to storage writes or even a transaction, so I think it is fine to do it. I do not really agree that this belongs to the EVM. Something like an overflow flag might be added to the EVM, but not a "force-stop" on overflow.

[2016-08-30 17:48] axic commented on #796
By detection I meant the overflow flag. So perhaps that would then needs its on opcode for getting the overflow flag onto the stack and/or its own jump (`JUMPOF`).

[2016-08-30 19:44] ethernomad opened #976 "Constant state variables are not constant"
[code]

Every time I call test() I get the current block number. I thought the block number would be written into state during contract creation.

[code]

[2016-08-30 19:49] ethernomad commented on #976
Removing the constant modifier makes it constant.

[2016-08-30 19:52] ethernomad commented on #976
I suppose constant means "constantly re-evaluated". :stuck_out_tongue_winking_eye:

[2016-08-30 20:57] ethernomad commented on #974
In [this contract](https://github.com/bluedroplet/blobstore-ethereum/blob/master/blobstore.sol) I packed the length of the packedRevisionBlockNumbers mapping (numRevisions) into the struct. If I used the built-in array functionality the struct would be 2 slots instead of 1.

[2016-08-30 21:04] ethernomad commented on #965
@chriseth Yes this is really just a cosmetic issue. Your example is certainly better, although I prefer to name return variables.

But what about constructors?

[code]

[2016-08-30 21:36] chriseth commented on #976
Thanks for the find! Yeah, `constant` means `don't store this expression in storage but rather re-evaluate it everytime it is used`.

On a side note: `constant` for functions does not mean they are constant, it just means they should not change storage. We have to revisit these keywords at some point.

[2016-08-30 22:02] chriseth opened #977 "Should `.send(0)` be handled specially?"
The "whitehat withdraw contract" had a bug of the following form:

[code]

Here, the user can basically specify how much to send to each of the two accounts `x` and `y`. The problem is that if `amount1` is zero, the call does not classify as a "send" and thus the gas stipend logic is not triggered. This means that the receiving account gets zero gas to react and will throw if it is a contract.

Sh

[2016-08-30 22:32] axic opened #978 "sha3() crashes on tuples"
[code]

[code]

[code]

[2016-08-30 23:07] slothbag commented on #937
Yeah, I just need a recent Windows build.. I thought it would be easy to cross compile from linux.  The OSX build was super easy..  Linux and Windows proving more challenging.

[2016-08-30 23:32] bobsummerwill commented on #937
@karalabe has lots of experience with cross-compiling using Dockerfiles.

[2016-08-31 00:37] axic commented on #315
As a start the _reserved keyword_ list might be useful to be included. Alternatively we should emit proper errors from Solidity for reserved keywords.

[2016-08-31 00:40] axic commented on #325
I don't think it is a good idea introducing this since it goes against the general direction of being a safer language.

[2016-08-31 00:45] axic commented on #390
@ethers I'm wondering what is the return value as events have no return values.

Do you mean the event is fired and the method returns without any return value?
 Or the event arguments are always passed back as a tuple?

[2016-08-31 00:47] axic commented on #395
@VoR0220:

Is this a duplicate of #509 ?

If not, in the current state this is a bit vague. Can you collect some examples you would like to have documented?

[2016-08-31 00:50] VoR0220 commented on #395
That is tied in but I would say this is the bigger picture. Moreso documentation of simple patterns and what their base gas cost is, but probably would be better to show that via the opcodes, and then move onto simple operations (assigning a uint, state storage of a tightly packed cost, when or when not is it worth it).

[2016-08-31 00:52] axic opened #979 "Constructor ignores visibility modifier"
For any of the visibilities (internal, external, private, public):

[code]

the following ABI is generated: `[{"inputs":[],"type":"constructor"}]`, and contract deployment works without hiccups.

I think it would make sense rejecting any visibility modifier on the constructor. Are there any cases currently where a non-public constructor is useful? We do not have static methods, so I don't see a wa

[2016-08-31 00:53] axic commented on #979
Fixing this will also "fix" #422.

[2016-08-31 01:09] axic commented on #463
@androlo does the fact that libraries cannot inherit or be inherited helps this?

[2016-08-31 01:12] axic commented on #395
I think it would be better to either have a list of patterns/quirks to be documented in this issue, or to open individual issues with those.

Someone then can easily pick up documenting them.

[2016-08-31 01:13] axic commented on #500
This has been renamed to `payable`.

[2016-08-31 01:14] axic commented on #508
This isn't throwing anymore with 0.3.5 or 0.3.6.

[2016-08-31 01:24] axic commented on #976
Does it make sense to have the `constant` modifier on state variables? Shouldn't the `memory` keyword do what `constant` is doing for state variables?

[2016-08-31 01:29] axic commented on #965
The following code should be a compilation error, but it silently goes through:

[code]

[2016-08-31 01:59] axic commented on #758
@chriseth in what cases do we have an empty assembly?

[2016-08-31 02:11] ethers commented on #390
@axic I mean that the event is fired and the method returns the value just like a normal `return`.

`returnWithEvent (1, 2, 3);` would return the tuple (1,2,3) after firing an event.

It doesn't have to be a tuple.  `returnWithEvent someValue;` would return `someValue` but also fire an event with `someValue` just before it returns.  The could help UIs calling non-constant functions to get the retu

[2016-08-31 03:06] VoR0220 commented on #395
great idea. Lets start with tight packing with structs and state variables.

[2016-08-31 03:07] VoR0220 commented on #325
tight constraints on where you're at in the iterator and you should be able to achieve this...and in the process of making this happen, you could probably make the language safer as a result I think.

[2016-08-31 07:43] ethernomad commented on #978
Maybe related: https://github.com/ethereum/solidity/issues/332

[2016-08-31 08:44] axic commented on #332
Arrays have been fixed since.

[2016-08-31 08:45] axic opened #980 "Support structs, enums and tuples in sha3() and other "accept arbitrary parameters" functions"
- [ ] support structs
- [ ] support enums
- [ ] support tuples
- [ ] support contracts (encoded as addresses)
- [ ] disallow anything else as part of the type checker

[code]

(Follow up from #332)

[2016-08-31 08:51] axic opened #981 "sha3() crashes on invalid symbols"
[code]

or

[code]

Will result in a crash similar to #978 and #332

[2016-08-31 09:09] axic opened #982 "Tight packing should take number constants as uint256"
Unless explicitly typecasted to a shorter type.

I'm not fully sure which is the better behaviour, but I think this is more explicit and less prone to error.

[2016-08-31 11:19] walter-weinmann opened #984 "grammar.txt: NewExpression isolated"
The non-terminal `NewExpression` seems not to be used.

[2016-08-31 11:21] walter-weinmann opened #985 "grammar.txt: ParameterList redundant"
`ParameterList` seems to be pretty much the same as `IndexedParameterList`.

[2016-08-31 12:02] #985 closed, assigned to nobody

[2016-08-31 13:11] androlo commented on #463
No you can't put this type of code in libraries because they can just be used without extending at all (basically there's no language features that can stop someone from using a function that may conflict with normal code).

The example is I make a contract with functions for writing directly to storage through assembly. If someone just extends the contract, or I put it in a library they can just

[2016-08-31 13:12] #508 closed, assigned to nobody

[2016-08-31 16:32] chriseth commented on #463
This is something to consider, please let's keep this open.

[2016-08-31 17:16] chriseth commented on #979
A non-public constructor is useful for base classes. We should enforce visibility and make contracts with non-public constructors abstract.

[2016-08-31 17:18] chriseth commented on #982
In general, I try to keep everything as uniform as possible. This exception might be useful for some cases, but it still is an exception that has to be explicitly documented.

[2016-08-31 17:21] chriseth commented on #965
@axic you can access members of base contracts in that way, it is not an error. Does the contract behave as expected?

[2016-08-31 17:26] chriseth commented on #609
This is fixed.

[2016-08-31 17:26] #609 closed, assigned to nobody

[2016-08-31 17:27] chriseth commented on #930
Changed this to: `.value` is not present for non-payable functions.

[2016-08-31 17:50] axic commented on #965
@chriseth in this case it is not a base contract, but self. And it doesn't, returns 0.

[2016-08-31 19:20] #674 closed, assigned to bobsummerwill

[2016-08-31 20:37] #509 closed, assigned to nobody

[2016-08-31 22:09] chriseth commented on #500
We want that for 0.4.0 don't we? If yes, please add the "nextrelease" tag.

[2016-08-31 22:11] chriseth commented on #976
@axic you cannot combine `memory` with `uint`, it's a different thing than `constant`. We should check if the expression that is assigned is actually constant. We could also use a different keyword like `inline` because that is actually what is happening.

[2016-08-31 22:12] chriseth commented on #758
I think in practise we don't but we might extend the optimizer so that it can produce empty assembly for a valid contract.

[2016-08-31 22:16] chriseth commented on #325
I'm also not too convinced we should have this.

[2016-08-31 23:23] chriseth opened #988 "Clarify access to state variables via contract name"
The following should either work (return 42) or be disallowed:

[code]

[2016-08-31 23:24] chriseth commented on #965
@axic ok, created https://github.com/ethereum/solidity/issues/988

[2016-08-31 23:30] axic commented on #758
Can that be considered a "valid" bytecode though? Obviously it cannot be deployed :smiley:

[2016-09-01 01:48] VoR0220 commented on #325
Well what would be the problem with jumping back to the front of the loop if the end is reached?

[2016-09-01 01:49] VoR0220 commented on #325
perhaps this could be a solidity module now that I'm thinking about it. Some inline assembly could probably make this work.

[2016-09-01 07:26] walter-weinmann opened #989 "grammar.txt: ExpressionStatement"
We have

[code]

and

[code]

Isn't the use of `ExpressionStatement` in `Statement` redundant ?

[2016-09-01 08:34] debris opened #990 "ABI inconsistency"
Solidity version: `0.3.6-3fc68da5/Release-Emscripten/clang`

contract:

[code]

abi:

[code]

Please notice difference between event and function input types
- function: `"type": "address"`
- event: `"type": "Foo"`

Is it a bug or intended behaviour? If it is intended, how to handle custom ABI types?
Downstream issue: https://github.com/ethcore/ethabi/issues/7#issuecomment-244008264

[2016-09-01 08:38] chriseth commented on #990
This is a known issue: Parameters for events are not properly converted from internal to external types. Closing as duplicate of https://github.com/ethereum/solidity/issues/489

[2016-09-01 08:38] #990 closed, assigned to nobody

[2016-09-01 08:39] chriseth commented on #990
Thanks for reporting!

[2016-09-01 08:52] chriseth commented on #758
Of course it can. It is a valid creation bytecode that will create an empty contract. Note that the bytecode `"0x"` is semantically identical to `"0x00"`

[2016-09-01 08:56] axic commented on #758
Do you mean that because of the mess RLP is it gets encoded as a single zero byte ?

[2016-09-01 08:57] chriseth commented on #989
Yes, it is!

[2016-09-01 08:59] chriseth commented on #758
No, the EVM is defined so that access beyond the end of the bytecode returns zero.

[2016-09-01 09:23] axic commented on #758
You might be able to make a `CREATE` call with length 0, but most of the clients are implemented the way that they distinguish a _creation transaction_ as one having no `to` field and a `code` field which is not 0 length. So you wouldn't be able to use the returned empty bytecode field with a transaction.

[2016-09-01 09:23] chriseth opened #991 "Formal Verification: Extend sum theory"
It should be possible to reason about mappings of uint256 such that "the sum of the mapping values increases by x if x is added to one of the elements".

[2016-09-01 12:09] axic opened #992 "Introduce a real constant keyword and rename the current behaviour"
I think the following makes more sense compared to what we have now.

Now:
- `constant` function should not modify the state (not fully enforced yet)
- `constant` _state variable_ (ie. the one in the class and not in a method) is evaluated every time it is called

After the change:
- 1) the keyword `view` is introduced for functions (it replaces `constant`). Calling a `view` cannot alter the behav

[2016-09-01 12:23] axic commented on #715
cc #992

[2016-09-01 12:24] axic commented on #976
@chriseth I've collected my thoughts in #992

[2016-09-01 12:40] Arachnid commented on #992
This seems like the wrong word; `constant` functions are definitely not stateless; they often depend on state. If a new name must be used, perhaps something like `immutable` or `pure` (in the sense that a pure function is side-effect-free, which is what we're really describing)?

[2016-09-01 12:43] axic commented on #992
I'm trying to find the word and stateless ia far from perfect. It should describe that the state is not modified.

Also additionally we could introduce real constant functions, which are indeed stateless and dont depend on the state. I.e. calculating something based on the inputs.

[2016-09-01 12:44] Arachnid commented on #992
Well, from a CS-theoretic POV, 'pure' is definitely the term you want. More informally, 'side effect free', but that's harder to condense into a keyword.

[2016-09-01 12:47] redsquirrel commented on #992
I think 'immutable' will be the least ambiguous to most developers.

[2016-09-01 12:48] axic commented on #992
I like pure, but are we likely to find another use for it? Does _view_ as keyword make sense?

[2016-09-01 12:49] axic commented on #992
@redsquirrel immutable wouldmean to me that child classes cannot ovveride it.

[2016-09-01 13:01] redsquirrel commented on #992
@axic I suggest following Java and using 'final' for functions that cannot be overridden.

[2016-09-01 13:48] Arachnid commented on #992
I don't think so; certainly this is the only usage for the term I'm aware of.

I don't think that was under discussion here?

[2016-09-01 14:03] VoR0220 commented on #992
I agree that we should use pure...perhaps `strict`? But I really like the idea of `pure` as a side effect free input. Rather than `volatile` which conjures up bad imagery, why not `static`?

[2016-09-01 15:59] chriseth commented on #992
`nonmutating`?

[2016-09-01 16:28] VoR0220 commented on #992
too long...overly blunt descriptive. Less is more imo.

[2016-09-01 16:30] ethernomad commented on #992
`readonly`?

[2016-09-01 16:30] VoR0220 commented on #992
what's wrong with `pure` or `strict` as is used in js?

[2016-09-01 18:03] chriseth commented on #980
This is most likely a duplicate of https://github.com/ethereum/solidity/issues/595

[2016-09-01 18:04] chriseth commented on #595
This most likely also fixes https://github.com/ethereum/solidity/issues/980

[2016-09-01 18:35] axic commented on #992
Many of the definitions of `pure` say it does not depend on state and no matter when it is called, based on the input parameters it should always return the same predictable result.

Therefore it does not suit our application.

@VoR0220 `static` does not reflect what it is. The `volatile` part is a different behaviour (= what constant variables do).

Updated the description with further clarificat

[2016-09-01 19:39] VoR0220 commented on #992
hmmm...so I like that idea in regards to `pure` it enables solidity to become "functional" (and pleases all the zealots), but in regards to `view`...I think it might be better to just bite the bullet and call it `immutable` (because that's what it is). As for `volatile`, there are uses for it, but not many...probably just call it `mutable`.

[2016-09-01 21:36] chriseth commented on #992
The problem with `immutable` is that you cannot apply that adjective to the function. The function itself never changes.

[2016-09-01 22:24] chriseth commented on #535
@VoR0220 any progress on this? I would like to finish all nextrelease tasks this week. If you do not have time, I can do it.

[2016-09-01 22:43] chriseth commented on #602
Fixed by #962

[2016-09-01 22:47] chriseth commented on #979
An external constructor does not make much sense. The `external` keyword more or less forces all parameters to be in calldata, although constructor arguments are either in code or in memory. Furthermore, the other purpose of `external` is that such a function cannot be called internally. As constructors cannot really be "called" anyway, I would say it is fine to disallow `external` for constructor

[2016-09-01 23:18] VoR0220 commented on #535
@chriseth I am so sorry. I'm really caught up. I can hand it off.

[2016-09-01 23:21] VoR0220 commented on #992
right but the output does. Perhaps you could create such a differentiation. You might do something like this

[code]

[2016-09-01 23:36] axic commented on #992
@VoR0220 it is not the output or the function which is mutable/immutable.

Case 1: function can read state variables (sload). The output of this function will depend on the current state.

Case 2: function can modify state variables (sstore). The output of this function will depend on the current state, as well as it can change the state, which then affects any future invocations.

I've borrowed `

[2016-09-01 23:40] chriseth commented on #535
Haha, this is interesting. It turns out that `_` is correctly parsed as a placeholder statement inside modifiers. Let's break it down:

[code]

The modifier body consists of a placeholder, an expression statement that only contains an empty tuple and again a placeholder, so the function `_` is not called here.

The question now is: Should we warn when identifiers with the name `_` are declared?

[2016-09-01 23:45] axic commented on #535
It should be an error condition. Solidity's target is not writing IOCCC submissions.

[2016-09-02 00:06] axic commented on #992
Can we agree that the behaviour called `volatile` above should not be present and we can remove it?

[2016-09-02 05:50] ethers commented on #992
I don't see much need for `volatile`.

Doesn't the current proposal fit `pure`?  2) the keyword `pure` is introduced for functions (they cannot call SSTORE or SLOAD)
Which part is `pure` breaking?

I think the 4 proposals are good.  No one else has made comments about `readonly`, and I think it fits well with in the 1st proposal, which would read as:
1) the keyword `readonly` is introduced for fun

[2016-09-02 08:45] mbrock opened #998 "Document source maps"
Document source maps as described in https://github.com/ethereum/solidity/issues/713
##

It seems from my cursory investigation that `--combined-json=srcmap` could be useful for my purposes, but I'm having a hard time understanding the code that generates them (`CompilerStack::computeSourceMapping`) and I've found no documentation of the meaning of the `srcmap` strings.

They look like this:

[cod

[2016-09-02 08:46] axic commented on #992
Sorry for the confusion, the description was updated after those comments. `pure` (and every other keyword) was initially proposed for what 1) is. It fits 2) well.

For 1) I like `view`, `readonly`, and `nonmutating` (but this is way too long).

[2016-09-02 08:52] axic commented on #998
I think they were documented, but can't seem to find that now.

They map to the `bytecode` vs. `runtime bytecode`. The first one is used to deploy the contract, while the second is the actual contract code after creation.

[2016-09-02 09:03] Arachnid commented on #992
Yes, you're right - I stand corrected. `readonly` is probably the sanest I've seen so far, though `view` also works.

RE constant/volatile/etc, besides dropping the functionality (which seems good to me), why not call it 'alias' or 'define'? That seems to be effectively what it is.

[2016-09-02 10:55] dbrock commented on #998
See https://github.com/ethereum/solidity/issues/713, https://github.com/ethereum/solidity/pull/699 and https://github.com/nexusdev/dapple/pull/282!

[2016-09-02 12:25] chriseth commented on #535
Another solution might be to change the placeholder statement to `_;` - that would probably also be more consistent and if you have an identifier called `_` you would not use it in this way.

[2016-09-02 12:32] redsquirrel commented on #535
I think `_;` is a good idea.

[2016-09-02 12:41] chriseth commented on #992
I think that `volatile` is just a buggy behaviour of `constant`. We can introduce something like `alias` in the future, it is certainly planned for types (`using x = y`) and could also be introduced for general expressions.

I updated the description to specify the behaviour in more detail.

Question: Can a pure function return `address(this)`? I.e. is it required to be pure just from its source c

[2016-09-02 14:15] #489 closed, assigned to chriseth

[2016-09-02 17:57] VoR0220 commented on #535
I agree `_;` is a good idea.

[2016-09-05 02:52] axic commented on #535
Shouldn't we consider less cryptic options, such as `body;` ?

[2016-09-05 04:41] walter-weinmann opened #999 "Erlang parser based on grammar.txt"
Version 1.0.0 of syparse is now available at [Github](https://github.com/walter-weinmann/syparse).

syparse is a production-ready Solidity parser written in pure Erlang. syparse is closely aligned to the Solidity project and in future will be adapted on a regular basis as the Solidity project evolves. The file grammar.txt provides the basis for the definition of the LALR grammar.

Comments and sug

[2016-09-05 04:48] bobsummerwill commented on #999
Good job, Walter!

[2016-09-05 08:27] walter-weinmann opened #1000 "grammar.txt: Block instead of Statement ?"
[code]

Shouldn't it be `Block` instead of `Statement` ?

[2016-09-05 08:32] walter-weinmann opened #1001 "grammar.txt: test with documentation examples 1"
Expressions (e.g. Document Common Patterns / Withdrawal from Contracts ) like

`if (!richest.send(msg.value)) {
`

seem not to be covered by the current grammar.txt.

[2016-09-05 10:50] chriseth commented on #535
@axic we can discuss that for 0.5.0.

[2016-09-05 10:53] chriseth commented on #1000
If we change it to block, then the following would not be possible:

[code]

[2016-09-05 10:54] chriseth commented on #1001
They are, via `Statement = ... | Block | ...`

[2016-09-05 11:22] walter-weinmann commented on #1001
The following code

[code]

gives me a syntax error with my parser before '(' in the following line

`if (!richest.send(msg.value)) {
`

[2016-09-05 12:05] pirapira commented on #991
The property would look like [this](https://github.com/pirapira/token_why3/blob/master/token.mlw#L119) but a tiny bit more general one.

[2016-09-05 12:58] walter-weinmann opened #1004 "grammar.txt: test with documentation examples 2"
The following code

[code]

gives me a syntax error with my parser before '`uint`' in the following line

`stage = Stages(uint(stage) + 1);
`

[2016-09-05 13:12] #1000 closed, assigned to nobody

[2016-09-05 13:28] chriseth commented on #1004
Things that look like function calls can also be type conversions.

[2016-09-05 14:09] chriseth commented on #736
The problem here is that code is generate recursively for clearing the array (a struct is cleared by clearing all of its members, an array is cleared by clearing all its elements, ...).

This can be solved by generating a single routine for each type to clear and then re-use it in a loop.

[2016-09-05 14:15] #970 closed, assigned to chriseth

[2016-09-05 14:39] pirapira commented on #981
I was able to reproduce both problems.

[2016-09-05 14:43] pirapira commented on #332
I was able to reproduce the original problem.  Since #980 exists, this issue can be closed when the crash is fixed.

[2016-09-05 14:47] pirapira commented on #980
I added "tuples" in the description because the title says "tuples".

[2016-09-05 14:49] pirapira commented on #978
Supporting `sha3` on tuples, is tracked in #980.

[2016-09-05 15:54] androlo opened #1010 "Storage references in memory structs"
Apologize if this is an issue, or if it has already got a solution. Checked a few pages of backlog but found nothing.

Make it possible not only to specify whether a struct is kept in storage or memory, but also to override each of its fields.

**Story**

I have an iterable, storage-backed collection (a set for example) with O(1) access to each element through a mapping. Data structure and logic i

[2016-09-05 16:04] chriseth commented on #1010
I see where this can be useful. Of course, it can only work in one direction: A storage reference type can be part of a memory type, but no the other way round. At the point where such a struct is converted from storage to memory, its `storage` members are "sticky" and only a reference will be assigned as part of the conversion. If a memory struct containing storage references is assigned to stora

[2016-09-05 16:09] #332 closed, assigned to chriseth

[2016-09-05 16:09] #978 closed, assigned to nobody

[2016-09-05 16:09] #981 closed, assigned to nobody

[2016-09-05 16:28] #535 closed, assigned to chriseth

[2016-09-05 17:52] androlo commented on #1010
Looks like it could just be handled automatically then, based on what is provided to the struct? Like in this case, `Iterator._set` would be a storage object (in this `it` instance), since it's a storage object that's being assigned to that field.

[2016-09-05 20:09] chriseth commented on #998
They actually are documented: https://github.com/ethereum/solidity/blob/develop/docs/miscellaneous.rst#source-mappings
The question is why the docs do not show up on solidity.readthedocs.io

[2016-09-05 20:11] chriseth commented on #998
Ah, they are there: https://solidity.readthedocs.io/en/develop/miscellaneous.html#source-mappings reload did the trick.

[2016-09-05 20:11] #998 closed, assigned to nobody

[2016-09-06 00:42] axic commented on #976
Based on #992, this is considered a bug.

[2016-09-06 00:46] axic commented on #992
@chriseth moved `alias` into its own issue and removed `volatile` from the description.

That is a good question. I would argue that it is more useful to allow `this` and any constants set during the constructor (if that becomes possible).

Storage should not be accessed by `pure` functions unless we introduce `writeonce` storage slots set during the constructor, but what is the reason to use them

[2016-09-06 00:48] axic opened #1013 "Introduce alias for variables"
An aliased variable works like a macro - the original variable is looked up at every access.

Any example of the `alias` keyword:

[code]

(Split off #992.)

[2016-09-06 00:48] axic commented on #1013
@chriseth I'm not convinced this is a good feature. Can you explain it more where `alias` is useful?

Having proper macros is a different case.

[2016-09-06 01:07] redsquirrel commented on #1013
I'm skeptical too. Maybe there's a better example of where it would be useful?

[2016-09-06 01:16] axic opened #1015 "Replace _ with body in modifiers"
To make the code a bit less cryptic:

[code]

(Follow up of #535)

[2016-09-06 01:36] axic opened #1017 "Constructor shouldn't accept the constant modifier"
[code]

A constructor always modifies the state (indirectly).

[2016-09-06 04:02] redsquirrel commented on #1015
So 'body' will be a keyword?

[2016-09-06 04:58] obscuren commented on #1015
How about "yield"? It's a common used keyword and generally well understood.

[2016-09-06 09:19] chriseth commented on #992
Further discussion: Are events allowed in view functions? I would rather say no, as they have an effect on the blockchain even if that effect is not visible from within the EVM.

[2016-09-06 09:30] chriseth commented on #1013
@axic I'm also not convinced. The idea was to use a much more generic thing, which can bind any identifier to any other identifier:

[code]

This would also work for `block.number`, but perhaps not for expressions like `using tomorrow = now + 1 day`.

[2016-09-06 09:46] chriseth commented on #1015
I don't think `yield` matches this use-case. Furthermore, I think we should stay with using a symbol. Admittedly, `_` is not really "visible" (depending on your font), but words do not stand out as well, I would say.

The proper way to do this would be:

[code]

and this also allows us to do

[code]

and `modifier owneronly` would be identical to `modifier owneronly[_]` at which point we could eve

[2016-09-06 09:47] ethernomad commented on #992
View functions should not be able to spend any gas.

[2016-09-06 09:51] chriseth commented on #992
@ethernomad if they are executed on chain, they will always spend gas, but they can be used together with the new [`static_call` opcode](https://github.com/ethereum/EIPs/issues/116) that is under discussion and they will be used together with `eth_call` if invoked from web3.js.

[2016-09-06 10:04] axic commented on #1015
@obscuren I like `yield` but it could mislead into thinking that coroutines are supported.

[2016-09-06 10:15] axic commented on #1013
[code]

These two seem more like what a C `typedef` is, while

[code]

is just an `alias` (or a dumb `macro`).

[2016-09-06 10:18] axic commented on #992
I think this question also applies to `pure`. It is a though question, logs do change the state, but in a way which doesn't influence the future execution of either `view` or `pure` functions.

[2016-09-06 10:25] #922 closed, assigned to chriseth

[2016-09-06 10:25] #602 closed, assigned to axic

[2016-09-06 10:27] axic commented on #1015
@chriseth your proposal is nice, but how many people would actually use it? The default behaviour should reduce the possibility of errors.

[2016-09-06 10:32] chriseth commented on #1015
@axic we can report a warning if `[]` is not used.

[2016-09-06 10:34] axic commented on #1013
I think `typedef`ing primitives should be disallowed. It creates a maze of code for no benefit.

[2016-09-06 10:36] axic opened #1023 "Include the list of reserved keywords in the documentation"

[2016-09-06 10:38] chriseth commented on #1013
@axic I'm not so sure about this. Of course, every feature can be abused, but it can also allow you to create new types on the ground of existing types:

[code]

[2016-09-06 10:39] chriseth commented on #1023
Let's keep the number of issues down - this can be done in one row: https://github.com/ethereum/solidity/issues/315

[2016-09-06 10:39] #1023 closed, assigned to nobody

[2016-09-06 10:52] #733 closed, assigned to chriseth

[2016-09-06 11:34] pirapira commented on #1013
For establishing invariants I look for places where a storage content is changed.  Say `balance[]`.  Usually I just grep the whole source with `balance` and I find places where it is changed.  With aliases this becomes one-step harder because the array content can change for assignments into aliases.

[2016-09-06 13:37] #977 closed, assigned to chriseth

[2016-09-06 13:48] walter-weinmann commented on #984
Done by #1011.

[2016-09-06 13:48] #984 closed, assigned to nobody

[2016-09-06 13:48] walter-weinmann commented on #989
Done by #1011.

[2016-09-06 13:48] #989 closed, assigned to nobody

[2016-09-06 13:48] walter-weinmann commented on #999
Done by #1011.

[2016-09-06 13:48] #999 closed, assigned to nobody

[2016-09-06 13:49] walter-weinmann commented on #1001
Done by #1011.

[2016-09-06 13:49] #1001 closed, assigned to nobody

[2016-09-06 13:49] walter-weinmann commented on #1004
Done by #1011.

[2016-09-06 13:49] #1004 closed, assigned to nobody

[2016-09-06 15:21] pirapira opened #1025 "formal verification: support mapping as a state variable"
This issue keeps track of implementing the Why3 translation of state variables that are mappings.

[code]

[2016-09-06 15:30] pirapira opened #1026 "formal verification: support explicit fallback functions"
Currently `solc --formal` on

[code]

yields an error message
`Error: Fallback functions not supported.`

This issue keeps track of enabling the Why3 translation of explicit fallback functions (fallback functions exist by default but that is treated in a separate issue).

[2016-09-06 15:34] pirapira opened #1027 "formal verification: include implicit fallback function in Why3 output"
Currently, the output of `solc --formal` does not contain any code for the implicit default fallback function.

This issue keeps track of adding the implicit default fallback function to the Why3 translation, when there are no explicit fallback functions.
- [ ] determine the EVM code for the default fallback function
- [ ] determine the Solidity documentation that specifies the default fallback fu

[2016-09-06 15:52] #1017 closed, assigned to axic

[2016-09-06 16:00] chriseth commented on #1026
Note that the behaviour changes with version 0.4.0: No fallback function means the call is reverted.

[2016-09-06 16:01] pirapira opened #1028 "formal verification: model balance changes for a contract with one empty interface function"
A contract with one empty interface function (like the one below) has at least three kind of balance changes:
1. the interface function (or the fallback function) is called with some value
2. an account calls `SUICIDE` and sends all balance to our account
3. somebody obtains PoW or PoS rewards to our account
This issue is about making the Why3 translation aware of these balance changes.

The contr

[2016-09-06 16:01] chriseth commented on #1027
Note that the behaviour changes with version 0.4.0: No fallback function means the call is reverted, so I think this story is not needed.

[2016-09-06 16:14] #979 closed, assigned to axic

[2016-09-06 16:14] pirapira commented on #1026
That sounds safer.

[2016-09-06 16:14] pirapira commented on #1026
(... or maybe not, we'll see)

[2016-09-06 16:44] pirapira commented on #1027
OK.  Then I close it.

[2016-09-06 16:44] #1027 closed, assigned to nobody

[2016-09-06 16:57] chriseth opened #1029 "warn about using msg.value in non-payable function"
The file `SyntaxChecker.cpp` is usually used for such checks. It is a simple AST walker that scans for errors. The way to implement this would be to record in a member when a non-payable public (or external) function is visited and then again when `msg.value` is encountered (or more specifically, an identifier that references the respective magic global).

Using `msg.value` inside non-payable libr

[2016-09-06 17:12] pirapira opened #1030 "formal verification: constructors should establish invariants even from a state without the invariant"
Currently, the `--formal` output assumes that the invariants hold even before the constructor runs.  This does not match the reality.  This issue keeps track of changing the Why3 output so that the constructor is just expected to establish the invariants as postconditions.

Example `initialization.sol`

[code]

`solc --formal initialization.sol` yields a long output containing

[code]

where the `

[2016-09-06 18:18] axic commented on #1013
@chriseth that seems to be a nice use case. I still fear it will be grossly misused - if only there would be a way to prevent that a bit more.

`using` is probably misleading, `alias` or `define` seem a bit more fitting.

[2016-09-06 20:19] pipermerriam commented on #733
Huzzah!

[2016-09-06 20:49] axic commented on #499
Fixed in #664.

[2016-09-06 20:49] #499 closed, assigned to nobody

[2016-09-06 20:50] axic commented on #500
Fixed in #665.

[2016-09-06 20:50] #500 closed, assigned to nobody

[2016-09-06 20:51] #562 closed, assigned to chriseth

[2016-09-06 20:52] axic commented on #563
Fixed in #665.

[2016-09-06 20:52] #563 closed, assigned to nobody

[2016-09-06 20:55] axic commented on #422
Fixed via #1019.

[2016-09-06 20:55] #422 closed, assigned to nobody

[2016-09-06 20:58] axic commented on #831
@stevenroose can you provide a more concise example? Or at least provide all source codes needed for reproducing the bug.

[2016-09-06 21:15] axic commented on #526
@chriseth with `payable`, is this now easier to fix?

[2016-09-06 21:16] axic commented on #744
@bobsummerwill is this bug still valid after the split?

[2016-09-06 21:16] axic commented on #769
@bobsummerwill is this still a bug?

[2016-09-06 21:52] bobsummerwill commented on #769
Yes - we still have sporadic and unresolved unit-test issues for Solidity.

There are more for `cpp-ethereum`, and we have bugs in `eth` which affect solidity unit-tests too.

[2016-09-06 21:53] bobsummerwill commented on #744
Yes, @axic.

It might be a bug in `eth`, but until we resolve it we will continue to get sporadic unit-test failures in Solidity.

Until we have it fixed, released, and solidity using that released version we still have work to do.

[2016-09-06 23:31] axic commented on #697
Is it useful storing it is a variable, though?

[2016-09-07 08:57] pirapira opened #1037 "formal verification: specify evaluagion order of f(g(), h())"
In an expression `f(g(), h())`, which stance does Solidity take?  There are several possibilities:
1. all side effects of `g()` happens before all side effects of `h()`
2. all side effects of `h()` happens before all side effects of `g()`
3. at the compilation time 1. or 2. is chosen
4. at runtime 1. or 2. is chosen
5. ordering is not guaranteed but all side effects of `h()` and `g()` happen
6. at

[2016-09-07 09:01] pirapira opened #1038 "formal verification: specify evaluation order of arr[i++] = i"
The effect of the expression `arr[i++] = i` is different depending on the evaluation order of the index `i++` and the right hand side `i`.  If the index is evaluated before the right hand side, an incremented value is assigned.

This issue keeps track of
- [ ] making sure that the choice is documented
- [ ] making sure that the choice is implemented

[2016-09-07 09:08] pirapira commented on #1013
I want readonly aliases, something like `uint view alias number = some_struct.member`, or even, make it readonly by default.

[2016-09-07 09:11] pirapira opened #1039 "formal verification: make readonly Solidity functions available in the specification"
Currently in the specification (like `///@why3 invariant { ... }`), it's impossible to use contract functions even when they are write-effect-free.   This issue keeps track of allowing it.

[2016-09-07 09:15] axic opened #1040 "Internal constructors should be enforced"
i.e. they should not create a deployable bytecode.

Follow up of #979.

[code]

contract `A` should not have an output bytecode.

[2016-09-07 12:11] axic opened #1042 "Update solAsserts with a message"
Currently there are 184 `solAsserts` with a message and 171 without. They don't really provide any meaningful output.

I understand that in many cases it would be useless, but there are many where they are. At least when finding a bug, one doesn't need to run a debugger to know where it stopped, but could grep for the message.

[2016-09-07 12:19] chriseth commented on #526
Not really, the thing is that the argumentTypes AST annotation has to be pulled through several AST nodes, and this will not even solve cases like `var x = f.value; x(2 ether)(1,2)`;

[2016-09-07 12:34] chriseth commented on #697
@axic Solidity should not impose artificial restrictions. It is useful to store functions in variables and the ether amount and gas sent together with a function is part of it.

[2016-09-07 12:53] chriseth commented on #1037
It is documented as option 5

[2016-09-07 12:55] chriseth commented on #1038
This is similar to #1037 . I think whatever we document, it would be best to catch such cases and report them as a warning, but I fear that we need a formal verification engine to do this.

[2016-09-07 12:56] chriseth commented on #1039
Which kind of functions are you referring to? Smart contract methods or pure why3 functions?

[2016-09-07 12:59] pirapira commented on #1025
I choose

[code]

as the translation for the above example.  As long as the key of the mapping is an unsigned, array is a good translation.

[2016-09-07 13:05] pirapira commented on #1037
@chriseth Ah yes, that's why the [comment](https://github.com/ethereum/solidity/blob/2e70f6bfd180630d41cfc493975b04f39f5d7ab1/libsolidity/formal/Why3Translator.h#L39) to limit the number of side-effects.

[2016-09-07 13:09] pirapira commented on #1038
OK.  For now I'm fine with disallowing multiple side-effects in an expression.

Let me think about how to detect these.

[2016-09-07 13:09] #1038 closed, assigned to nobody

[2016-09-07 13:10] chriseth commented on #1042
solAssert throws a boost exception and should report the line number. Nobody should be forced to grep for a message ;-)

[2016-09-07 13:11] pirapira opened #1043 "formal verification: diallow multiple side-effects in a sentence"
This is a temporary mitigation for ambiguous side-effect ordering like #1037 and #1038.  This task is originally documented in [a todo comment](https://github.com/ethereum/solidity/blob/2e70f6bfd180630d41cfc493975b04f39f5d7ab1/libsolidity/formal/Why3Translator.h#L39).

[2016-09-07 13:11] pirapira commented on #1037
So I created [an issue](#1043) to limit the number of side-effects.

[2016-09-07 13:11] #1037 closed, assigned to nobody

[2016-09-07 13:15] pirapira commented on #1039
Smart contract methods.  I'll change the description.

[2016-09-07 13:26] pirapira commented on #1025
Actually array indices can be negative in Why3, so as long as the key is an `IntegerType`, `array` is a sound translation.

[2016-09-07 16:10] pirapira opened #1046 "formal verification: syntax error in Why3 translation"
On `develop`, the Why3 translation of an empty contract causes a syntax error in Why3.

[code]

[2016-09-07 16:13] pirapira commented on #1046
`empty.mlw` starts like

[code]

and Why3 is complaining about the line `Formal Version:`.  I'll change this into a comment.

[2016-09-07 16:16] pirapira commented on #1046
Now I think this `Formal version:` is a component header and it does not belong to the WhyML output.

[2016-09-07 16:16] #1046 closed, assigned to pirapira

[2016-09-07 21:50] axic opened #1048 "Force fallback method to be external"
I wonder which visibility modifiers make sense for the fallback method, because right now it accepts any of them.

It is only executed externally (and cannot be easily called from the contract), so it should default to `external`. Probably it shouldn't allow any modifiers.

Perhaps somehow `internal` could make sense, when a child contract implements the fallback and calls the parent fallback.

[2016-09-08 03:46] codati commented on #865
thx fix for me

[2016-09-08 06:55] Arachnid opened #1050 "Reversion in 0.3.6-2016-09-07-24524d6: invalid jump"
Compiling the following code with 0.3.6-2016-09-07-24524d6, then calling `deposit(["e980b7c6dd381723b1ab9def3e1557ab", "fedc538db81453138562cfa9ffd186ef", "9f10db0c3188d26375ff9a03bc4fdf1b", "cab9af3c051a03747876386012f58510", "9fc89ae3141e1715f56809802d62d3f6", "b8fb65eaf18c926555dd7dd9883e96eb", "b6370208acde5be010a830095fb112f0", "19175762cfbfd14e94edd8874a3e99f0", "90af5d9d6b20a7e85157c6900d7e

[2016-09-08 08:08] pirapira opened #1051 "formal verification: reconsider `mutable` in `mutable var : array T`"
In Why3, `array` contents are already mutable without the `mutable` keyword, so `mutable var : array T` makes sense only when the length of the array is changed at runtime.  If the array contents are changed but the array length is not changed, `var : array T` is enough.

This issue keeps track of cleaning the `mutable` keyword when the length is known (when the Why3 array appears as a translation

[2016-09-08 08:11] pirapira opened #1052 "formal verification: add tests for WhyML extraction"
This issue keeps track of adding tests for WhyML extraction, maybe as a CI test, maybe as a Makefile target like `make test-why3`.  This issue is about the first step, so the tests can just observe the returned status of `solc --formal x.sol` commands.

[2016-09-08 08:42] pirapira opened #1053 "formal verification: Why3 error message on mappings to mappings"
In #1045 the translation of `mapping (address => uint256) balance;` is designed to be

[code]

Then naturally `mapping (address => mapping (address => uint256)) allowance` would be translated to

[code]

When I try this Why3 syntax, I get an error message `Cannot update values of type (map int (array <rho> uint256))` at the signature of `external_call`.

[code]

This issue keeps track of what this

[2016-09-08 08:51] pirapira commented on #1025
Mappings to mappings will be dealt with in #1053.

[2016-09-08 09:36] axic commented on #1050
This is the main breaking change we have for the next release (0.4.0 - see changelog) and that is the first nightly which includes it.

Need to use the payable keyword on methods receiving ether.

[2016-09-08 09:36] #1050 closed, assigned to nobody

[2016-09-08 09:47] pirapira opened #1054 "formal verification: WhyML output contains a keyword `invariant` in a non-grammatical way"
On `develop`, `--formal` option produces an output that causes a syntax error in `why3` when an invariant is specified.  This is because the WhyML declaration `val external_call (this: account): bool` is annotated with an `invariant` keyword.

This is a bug in the extraction.  Figure 7.6 of [Why3 manual](http://why3.lri.fr/download/manual-0.87.2.pdf) says a `spec` can be `requires`, `ensures`, `va

[2016-09-08 09:55] axic opened #1055 "Versioning"
We've discussed this on Gitter and I thought it is useful summarising it here.

Currently the nightly version after a release doesn't change the version number, only the prerelease tag.

I propose the versioning to be the following:
- 1) after a release, the version is bumped a patch level (i.e. 0.3.6 release -> 0.3.7 nightly), because we assume only patch level (non-breaking, non-feature) changes

[2016-09-08 10:01] axic commented on #1051
There's no keyword in Solidity yet to disallow the extension of an array. Unless we introduce one (`immutable` / `constant` / `fixed` arrays), Why3 always needs the `mutable` keyword.

[2016-09-08 10:01] axic commented on #1050
This should have catched it, but the new versioning system I'm advocating isn't in place yet.

[2016-09-08 10:04] pirapira commented on #1051
@axic When I translate a `mapping (address => X)` (in Solidity) into an `array X` (in Why3), the length of the array can be fixed at `2 ** 160`.

[2016-09-08 10:05] pirapira commented on #1051
I realized I didn't mention the `mapping` thing in the description.  I updated it.

[2016-09-08 10:06] axic commented on #1051
@pirapira well in that case, regular arrays should have the upper limit of `uint256` `(2 ** 256)`.

[2016-09-08 10:07] pirapira commented on #1051
@axic If we do that, Why3 will not check out-of-bounds access for regular arrays.  For regular arrays, I want to keep the same array length in Solidity and in Why3.

[2016-09-08 10:08] axic commented on #1051
@pirapira do you maintain the length field in a similar way as in the EVM bytecode?

[2016-09-08 10:09] pirapira commented on #1051
@axic I think yes.  A Why3 array maintains a length field before the array contents.  The array contents are by default declared mutable, but the length field is not.

[2016-09-08 10:10] axic commented on #1051
@pirapira yes, actually we do have fixed arrays, where the length is defined upfront and is immutable. I wonder if the Why3 code works properly for dynamic arrays too (where the length field is mutable)?

[2016-09-08 10:14] pirapira commented on #1051
@axic Yes, in Why3, if you say `mutable arr : array byte`, the length of `arr` can be changed during execution.  If you drop `mutable` and say  `arr : array byte`, the length is fixed, but the array content can still be changed during execution.

[2016-09-08 10:17] pirapira opened #1056 "formal verification: translate array types to WhyML"
On `develop`, an array type cannot be translated into WhyML with `--formal` option.

Example:

[code]

This issue only keeps track of extending `toFormalType()` function so that this error message disappear.

[2016-09-08 10:19] pirapira commented on #1051
Currently array types like `uint []` cannot be translated into WhyML, so I created #1054 about it.

[2016-09-08 10:20] axic opened #1057 "Using this in the constructor should be an error"
Since `this` is 0 in the constructor, there's little point using it. It should be a straight error condition.

[2016-09-08 10:22] axic commented on #965
I think using `this` in the constructor should be a straight error: #1057.

[2016-09-08 10:23] axic opened #1058 "Trying to modify constant variables should have a better error message"
[code]

will result in

[code]

This could be improved to state the reason.

[2016-09-08 10:28] axic commented on #988
As a note, calling functions actually works:

[code]

`x` will be 3 after creation.

[2016-09-08 10:38] axic commented on #988
@chriseth I think your initial example should be an error because using via `Scope` assumes it is an external call. Only accessing public variables should be allowed (i.e. an external call).

[2016-09-08 10:41] axic commented on #988
[code]

results in

[code]

and

[code]

results in

[code]

Same applies to `public` variables currently, though those should work.

[2016-09-08 11:27] chriseth commented on #1057
`this` is the address of the contract, it is usable, especially to set up callbacks. We should report an error if someone attempts to call a function of the contract being created, but there is an issue for that.

[2016-09-08 11:27] #1057 closed, assigned to nobody

[2016-09-08 11:28] chriseth commented on #1055
Agreed. Do you want to put this into the documentation somewhere, so we can close this issue?

[2016-09-08 11:38] chriseth commented on #1052
The tests should be flexible enough so that they do not break if we change some part in the translation. Perhaps it would make most sense if we have tests that search for specific substrings to be present or not present in the translation and the another set of tests where we just run the verifier and see that some condition can be verifier and some cannot.

[2016-09-08 11:48] axic commented on #1057
True, even with the new address generation it should be available upfront.

The warning issue is this: #583.

[2016-09-08 12:11] pirapira commented on #1052
Maybe it's a good idea to `why3 execute` the WhyML files.

[2016-09-08 12:12] pirapira commented on #1052
But the specifications in the translation should be also checked.

[2016-09-08 12:56] pirapira opened #1062 "formal verification: translate `address` type to WhyML"
On `develop`, when a function in a contract has `address` as a parameter, the `--formal` option fails to produce an output.

This issue keeps track of enabling the feature on the following example.

Example:

[code]

[2016-09-08 13:03] pirapira commented on #1054
There is a same problem on the function definitions.

[2016-09-08 13:37] pirapira opened #1064 "formal verification: introduction of @why3-header pragma"
In `develop`, `/// @why3 ...` comments in the beginning of `.sol` files are used for describing the invariants of the following contract.  As a result, `solc --formal --output-dir tmp` translates these comments into somewhere in the middle of the generated `tmp/solidity.mlw` file.

Sometimes, a user wishes to have a prefix in `.mlw` files, like library imports and custom lemmata.  For this purpose

[2016-09-08 13:57] pirapira opened #1065 "formal verification: allow index access on mappings"
After PRs #1045, #1047 and #1063, when a Solidity program accesses mappings by index notation, `--formal` option fails.  This issue keeps track of translating the mapping access in a reasonable way so that it works on the following example.

Example:

[code]

[2016-09-08 14:00] pirapira opened #1066 "formal verification: allow write access to mapping[idx]"
After PRs #1045, #1047 and #1063, when a Solidity program writes into a mapping by index notation, --formal option fails. This issue keeps track of translating the mapping access in a reasonable way so that it works on the following example.

Example:

[code]

[2016-09-08 16:04] #930 closed, assigned to nobody

[2016-09-08 16:13] channgo2203 opened #1071 "Pad 0s in front of Hexadecimal representation in opcode generation"
This is the simple contract:
//pragma solidity ^0.4.0;

contract SimpleStorage {
  mapping (uint => uint) nameRegistry; // state variable on the contract storage

  function nameRegister(uint key, uint value) {
    if (nameRegistry[key] == 0)
    nameRegistry[key] = value;
  }
}

The binary code:
6060604052609b8060106000396000f360606040526000357c0100000000000000000000000000000000000000000000000000

[2016-09-08 19:32] #917 closed, assigned to chriseth

[2016-09-09 08:03] pirapira commented on #1071
I'm not seeing the problem.  I think the opcode and the bytecode push the same number.  If I align them:

[code]

[2016-09-09 12:32] chriseth opened #1075 "Library functions cannot be called from payable functions"
The `msg.value` protection has to be removed from all library functions, because they will see the value provided to the calling function if called via delegatecall.

If we do not have it already, we should also add a test to check that non-payable public functions can be called from payable functions.

[2016-09-09 13:57] pirapira commented on #1071
I think `7c` is the opcode for `PUSH29`.

[2016-09-09 14:02] channgo2203 commented on #1071
Of course 0x7c is the bytecode of the instruction PUSH29. The problem is the first byte of 29bytes after the PUSH29. In the binary they are 0x01 00 ... 00. But in the opcode they are 0x10 00 ... 00.

I've been developing a very precise formal model of EVM in Coq (https://github.com/channgo2203/fevm), when I load the above binary code, and use Coq to generate back the opcode. It should be:
PUSH29 0

[2016-09-09 14:23] pirapira commented on #1071
Let me try to understand you; if I followed you correctly, `PUSH1 0x0` should be `PUSH1 0x00` as well.

By the way, I forked `fevm`.

[2016-09-09 14:31] channgo2203 commented on #1071
Ok, I see, I counted wrongly the number of hex digits here, for all zeros most significant digits, they are cut off. They are equal. However, I think I should prefer to pad zero digits to make the representation more elegant.

I should close the issue.
Thanks!

[2016-09-09 14:33] pirapira commented on #1071
@channgo2203 actually that's my preference to pad zeros.  If we do that, it's easier to see when a program uses too big PUSH.  Say, when we want to push 0x3 but we use `PUSH_3`, we will see `0x000003`, and immediately we know the instruction is for bigger numbers.

[2016-09-09 14:35] pirapira commented on #1071
@channgo2203 Let's see what others say, though, do you mind changing the title to something like "pad 0s in front of the pushed immediate value when...".

[2016-09-09 14:36] channgo2203 commented on #1071
I think it's good idea ;)

[2016-09-09 14:38] pirapira commented on #1071
@channgo2203 I sent you a message in Gitter about `fevm`.

[2016-09-09 14:39] axic commented on #1071
We had a very similar discussion here: https://github.com/ethereum/solidity/issues/564#issuecomment-235040678

[2016-09-09 15:09] chriseth commented on #992
Let us write a specification about what is and what is not allowed (into the description of this issue). Things to be sorted:  be sorted: selfdestruct, log (events), this.balance, address.balance, tx.*, new

[2016-09-09 15:12] chriseth commented on #1053
Just a hunch, but perhaps it would help to define a struct with a mutable member:
`type array_internal = { mutable data: array uint256 }`
and then use `mutable allowance: array array_internal`

[2016-09-09 15:13] pirapira commented on #1071
@axic I see. Now I see [the code](https://github.com/ethereum/solidity/pull/926/files) resulting from that discussion, I'm fine with the current implementation.  Thanks for pointing out.

@channgo2203 It's unlikely we will ever see a `0x00...` from [this](https://github.com/ethereum/solidity/pull/926/files) generation, even if we pad zeros.

[2016-09-09 15:27] chriseth commented on #1051
memory arrays (the only ones implemented for why3) cannot change their lengths in solidity after they have been constructed.

storage arrays cannot be translated to why3 yet.

[2016-09-09 15:36] chriseth commented on #1064
Another possibility would be to have the generic format of `/// @why3 <keyword> <rest>` and the keyword might be a direct why3 keyword like `ensures` and so on, or a custom addition like `header` or `contract-invariant`.

[2016-09-09 15:47] pirapira commented on #1064
Then I'll design something in the frame of `/// @why3 <keyword> <rest>`.

[2016-09-09 15:50] pirapira commented on #1051
Thank you for the information.

[2016-09-09 17:26] pirapira commented on #1064
I'm thinking about an annotation scheme like:

[code]

[2016-09-09 18:11] pirapira commented on #1066
This is working in a [branch](https://github.com/pirapira/solidity/tree/token_head), but the PR for this will not appear until #1045 and so on is merged.

[2016-09-09 18:19] pirapira commented on #1065
Working on a [branch](https://github.com/pirapira/solidity/tree/token_head), but a PR appears only after #1045 is merged.

[2016-09-09 18:42] pirapira commented on #1054
#1064 would allow enough flexibility to avoid these kind of problems.

[2016-09-09 18:42] #1054 closed, assigned to pirapira

[2016-09-09 18:56] pirapira opened #1077 "formal verification: support compound assignments like +=, -="
This issue keeps track of supporting the compound assignments like `+=` and `-=` in the `--formal` option.  Currently an error message `Error: Compound assignment not supported.` is shown.

[2016-09-09 22:46] VoR0220 commented on #992
Why do we need to sort those ones out? Can I haz links?

[2016-09-09 22:48] VoR0220 commented on #1015
I still say there's nothing wrong with the `_`.

[2016-09-10 08:51] Georgi87 opened #1083 "Returning more than 4 variables from an external function causes an OOG error"
Calling foo with the address of Events (`test_contract.foo(events_contract.address`) will fail at runtime with OOG if I return a, b, c, d, e:

[code]

[code]

However, if I remove e from contracts and do the same transaction it works:

[code]

[code]

I added the two sources to this gist for testing:
https://ethereum.github.io/browser-solidity/#version=soljson-latest.js&optimize=true&gist=a7010392

[2016-09-10 09:35] axic commented on #1083
Since 0.4.0 there's a check to see if code exists at the specified address. If not, there's an invalid jump ("oog").

Practically that means you cannot use `test` with a random address in browser-solidity, you do need to deploy `Events` and supply the appropriate address.

[2016-09-10 11:41] Georgi87 commented on #1083
True, but you can deploy code with browser-solidity and pass the address. The issue also appears when executing the code in a pyetheruem test environment.

[2016-09-10 12:11] axic commented on #1083
Your above example can be deployed, because `Events` is abstract.

I don't have the issue you're reporting (neither 4 or 5 arguments work, because of the invalid address). If I deploy a non-abstract `Events`, it works.

[2016-09-10 12:55] Georgi87 commented on #1083
Try to deploy the first two contracts:

[code]

[code]

And you will see that calling foo in the 2nd contract will cause OOG if you pass the address from the first contract.

[2016-09-10 12:57] axic opened #1084 "During inheritance, state accessors don't conflict with parent functions"
[code]

The conflict is not detected, and both of these contracts are considered abstract by the compiler (no bytecode is returned).

(Also: in the interface, the `public` modifier will implicitly set the `constant` modifier to true. I think we should document this.)

---

When including both in a single contract, the conflict is properly detected:

[code]

[code]

---

If there `Interface` has a

[2016-09-10 14:42] emansipater commented on #363
keccak256 would be completely unambiguous, if ambiguity is the issue.

[2016-09-10 15:04] mrsmkl commented on #1053
Supposedly arrays of arrays won't work to prevent aliasing: https://lists.gforge.inria.fr/pipermail/why3-club/2012-September/000394.html

[2016-09-10 16:09] pirapira commented on #1053
Thank you for the insight.  For C++ programmers, the problem is here is, might be multiple pointers pointing to the same array and a single assignment might appear to change multiple arrays at the same time. Then
- a) intermediate structs will not solve the problem,
- b) immutable arrays might be nestable (though that complicates the Why3 translation of `set` operations; we'll need something like

[2016-09-10 16:16] pirapira commented on #1053
d) Another solution is to move closer to EVM because EVM has only one-dimensional arrays (memory and storage).  In this case, we need to model the assumption about hash collision (because currently `solc` uses a hash function to encode nested arrays into a one-dimensional array).

[2016-09-10 16:33] pirapira commented on #1053
e) Yet another solution is to model the notion of lvalues.  The state would be modeled as a mapping from `lvalue` to `values`.  `arr[0][1]` would be an `lvalue`, and the associated `value` can be `Uint256 40`.

[2016-09-10 16:53] emansipater commented on #363
Btw, in regard to @axic and @VoR0220 comments from Feb, I sincerely hope that "waiting for the EIP" is not the reason this has been held up here.  SHA3 is flat out inaccurate, and it confuses the hell out of every programmer I introduce to solidity.  There is _no_ disadvantage to simply adding an alias as soon as possible so that at least new code can be changed to appear way less confusing outsid

[2016-09-10 17:00] pirapira commented on #1053
F\* does not out-right reject types that might cause aliasing, but try to infer about it (see 10.2 of [F\* Tutorial](https://www.fstar-lang.org/tutorial/)).

[2016-09-10 17:18] pirapira commented on #1053
At least F\* does not complain about

[code]

[2016-09-11 01:06] axic commented on #363
@emansipater I was actually reconsidering this in the past week and came to a similar conclusion. I don't see a change in EVM or the protocol likely, but at least the RPC documentation could be updated next to Solidity.

[2016-09-11 01:48] bobsummerwill commented on #363
Adding the aliasing makes a lot of sense to me.

[2016-09-11 16:01] chriseth commented on #363
Let's go for `keccak256` as an alias and create warnings for usages of `sha3`. Those can turn into errors for a later release.

[2016-09-12 16:45] nmushegian opened #1087 "Arithmetic overflow for sdiv"
I was very surprised to learn DIV does not generate VM-level exceptions. I do see division by 0 is handled by the compiler now.

The "subleties" document only outlines the division by 0 case for SDIV:

https://github.com/ethereum/wiki/wiki/Subtleties

So what happens with `SDIV(MININT, -1)`? If I'm seeing this right, this behavior should absolutely be handled by the compiler as it is far less intu

[2016-09-12 18:45] chriseth commented on #1087
Thanks for catching this!

[2016-09-12 20:26] pirapira commented on #1071
Now I'm inclined to close this.

[2016-09-12 20:34] pirapira opened #1088 "docs/conf.py should get the version from `../CMakeList.txt`"
The file `docs/conf.py` contains a hardcoded version used to version the documentation. As this is an actual python file, it should be possible to extract the version number from the file `CMakeLists.txt` with a simple regular expression. Better yet, it could even create the full semver version string which is constructed in the following way:

VER is the PROJECT_VERSION string found in the CMakeL

[2016-09-12 20:52] bobsummerwill opened #1089 "Bob has no permissions to solidity repo :-("
I cannot even merge PRs or commit, let alone access Settings (though I don't think I need to do anything with keys which would required that access right now).    Might be needed for PPAs, though.

[2016-09-12 21:03] axic commented on #1089
You have been hit with the same thing I'm and others' are getting :(

[2016-09-12 21:08] bobsummerwill commented on #1089
Yep.   @chriseth had a quick look, and tried to add me manually, but it didn't help.

My issue is **only** for the solidity repo, as far as I can see.    You, @axic?

[2016-09-12 21:15] axic commented on #1089
@bobsummerwill well I cannot merge anything now (not that I did that before), and occasionally I cannot even add labels or push to PRs.

[2016-09-12 21:19] bobsummerwill commented on #1089
Just for this one repo, right?   `evmjit` works just fine for you?

[2016-09-12 21:23] axic commented on #1089
`evmjit`, `browser-solidity`, `solc-js` seem to work.

[2016-09-12 21:55] chriseth commented on #1089
Sent a mail to the github team.

[2016-09-12 22:16] axic commented on #1089
Thanks @chriseth

[2016-09-12 22:27] akshithg opened #1090 "[Improving documentation] Why was solidity created?"
- What were the reasons that led to formulating Solidity (a new language from scratch)?
- Why wasn't an existing language used?

I have not been able to find answers to the above. Hence the issue.

[2016-09-13 11:49] vbuterin commented on #992
For `volatile`, would you be able to do this:

[code]

Or even:

[code]

If so, speaking from my experience as a python developer who has dealt many times with debugging code involving @property declarations, this sounds extremely dangerous. Things should do what they seem to do and nothing else; variable lookups that are actually function calls that might lead to re-entrant weirdness sound like a

[2016-09-13 11:55] axic commented on #992
`volatile` describes what `constant` does currently. We have agreed to remove this functionality and will perhaps introduce typedef / aliases later: #1013.

[2016-09-13 12:31] chriseth commented on #992
Note that this "volatile" thing is abusing one application of the `constant` keyword. This application was intended to provide actual compile-time (or at least deploy-time) constants. As everywhere else, this is not yet correctly enforced.

[2016-09-13 12:33] chriseth commented on #1075
@axic do you have time to handle this? At best, we could add protection against sending money to a library via a call, but I'm not sure it is possible to detect that.

[2016-09-13 15:26] area opened #1092 "Multiple copies of imported contracts compiled into bytecode"
Is this expected behaviour?

[code]

Cost to deploy: ~900000 gas

[code]

Cost to deploy: ~1800000

I definitely would have expected SomeLargeContract to have been included once, and then accessed by some reference in the bytecode in each instance, but based on the gas costs that's clearly not happening.

[2016-09-13 15:32] chriseth commented on #1087
Having thought a bit more about this, I would actually say that this falls into the "throw on arithmetic overflow" category and not into the "throw on division by zero" category.

[2016-09-13 15:43] pirapira commented on #1087
Yes, because `-(minInt)` is too big.

[2016-09-13 22:30] axic commented on #1075
@chriseth not before devcon

[2016-09-13 23:43] chriseth opened #1093 "Add interface generator to "tools" section"
This is a script that takes the ABI and generates contract interfaces from it:

https://gist.github.com/chriseth/8f533d133fa0c15b0d6eaf3ec502c82b

This should be useful as a standalone commandline tool and as a "refactoring tool" inside browser-solidity.

[2016-09-14 12:29] pirapira commented on #1083
On `solc` from `ethereum/develop` and `geth 1.5.0-unstable`, I [could not](https://gist.github.com/pirapira/9fb9cb3166d22cb0337b02de2e8d1b1f) reproduce this.  The link contains the commands I typed into RPC.

[2016-09-14 13:17] asinyagin opened #1094 "Solc 0.4.1 throws an exception on a library compilation"
Hi,

I have a library:

[code]

And solc fails if I try to compile the library:

[code]

Solc version:

[code]

[2016-09-14 15:47] chriseth commented on #1094
Hm, this was supposed to be fixed for 0.4.1. Where did you get the compiler from?
Ah, the reason might be that there is a hex digit missing in the commit hash.

[2016-09-14 15:47] asinyagin commented on #1094
From the ethereum ppa (stable one).

[2016-09-14 18:12] axic commented on #1094
The short git hash is 7 digits for some weird reason.

[2016-09-14 18:22] ethernomad opened #1095 "Devdoc / userdoc: Implement @copydoc"
http://www.stack.nl/~dimitri/doxygen/manual/commands.html#cmdcopydoc

When implementing a method from an abstract contract, it should not be necessary to duplicate the doxygen.

[2016-09-14 18:34] axic commented on #1092
A simpler example:

[code]

In the bytecode each `new contract` becomes an included block. It should optimise out if they are the same contracts.

[2016-09-14 18:39] axic commented on #934
Is this done?

[2016-09-14 20:18] chriseth commented on #934
yep!

[2016-09-14 20:18] #934 closed, assigned to nobody

[2016-09-14 20:50] pipermerriam commented on #1094
I'm getting the same error.  `solc` installed via brew

[code]

[2016-09-14 20:59] axic commented on #1094
I've tried the same version in browser-solidity, there it works. Can you try also? It maybe some weird issue not present in the JSONCompiler.

[2016-09-14 21:30] Smithgift opened #1096 "Call stack depth attack and precompiles."
Yesterday it hit me that the precompiles might be vulnerable to the call stack depth attack. Yikes! I went and tried it.

[Here is my test code.](https://gist.github.com/anonymous/6c123d75adb8279b41c33be0d893e458)

The good news is that all that happens is the calling contract gets confused and loops until out of gas. This is probably the desired behavior overall, but would it be better/possible i

[2016-09-14 23:33] chriseth commented on #1096
Precompiles have proper error propagation. Perhaps you confused the "looping" you saw with the iterated error propagation?

[2016-09-14 23:35] chriseth commented on #1094
Browser-solidity is compiled in a different way. The ppa is not compiled with a `.git` directory present, so the way to tell cmake what the current commit hash is different.

[2016-09-15 00:09] chriseth opened #1098 "Add some code to non-std libraries or at least link to some reusable code"
- https://github.com/MrChico/verifyIPFS
- https://github.com/Arachnid/solidity-stringutils/blob/master/strings.sol

[2016-09-15 01:46] chriseth opened #1099 "Internal compiler error: Requested type not present"
[code]

As a side note, the following code correctly compiles, because `Nested[2]` is a type (and expressions whose type is a type are valid).

[code]

Second side note: This was found by [AFL](http://lcamtuf.coredump.cx/afl/)

[2016-09-15 06:47] o0ragman0o opened #1100 "Introduce a type definition keyword"
Solidity has `struct` by which arbitrary complex data structures can be created and referenced through named members. I find struct's, as a type, are particularly handy when coupled with a library through the `using X for Y` convention.  But for some complex types names aren't necessarily needed but they can't be passed to functions and libraries (or I don't know how)  without a `struct` wrapper..

[2016-09-15 09:34] axic commented on #1100
Duplicate of #1013.

[2016-09-15 13:37] o0ragman0o commented on #1100
Not really,  I'm proposing the naming of custom data types, not references/pointers/macros to instantiated variables which seems the subject of #1013

[2016-09-15 15:38] chriseth commented on #1089
@bobsummerwill is this fixed?

[2016-09-15 15:49] chriseth commented on #1100
It is not really a duplicate, but there are examples of what is planned. Something like `alias x = complicatedtype` or `using x = complicatedtype` or `type x = complicatedtype`.

[2016-09-15 16:29] Georgi87 commented on #1083
Thanks for checking @pirapira. I haven't tested it against geth, but it fails in browser-solc and with pyethereum.

In browser `foo` returns OOG for the `int a, int b, int c, int d, int e` version and "0x" for the `int a, int b, int c, int d`.

[2016-09-15 16:35] bobsummerwill commented on #1089
I can't tell, because the Merge button on all the PRs for Solidity is greyed out because of the new protected-branch "automation must pass" blocker.   I don't have an override option.

So ... I don't know, because there is nothing in a state where I am would have the option to merge.

If any of the Solidity PRs get to the stage where they go green, I will check there.

[2016-09-15 17:42] Smithgift commented on #1096
Looking at the end of an "attack" (with the above code) in the debugger, it loops through the following three instructions:

[code]

The call stack itself won't unwind. For more details, it'll probably be easier to just try the code.

That said, after testing this again I have discovered that it will break like this if it runs out of the stack, whether it reaches the precompile or no.

[2016-09-15 19:02] axic commented on #1083
@Georgi87 are you sure that a valid `Events` contract is deployed and passed to `test()`? The `Events` contract you have is abstract and therefore won't compile and cannot be deployed.

[2016-09-15 19:52] Georgi87 commented on #1083
Yes, I am sure. The abstract `Events` contract in the 2nd contract is just added to allow interfacing the actually deployed `Events` contract.

This deployed `Events` contract is not abstract:

[code]

If there are issues reproducing this issue with browser-solc or pyetheruem I am ready to help. Ping me on gitter.

[2016-09-15 20:16] axic commented on #1083
I was able to reproduce this with `0.4.1+commit.4fc6fc2c.Emscripten.clang`. I can't do much more now, maybe next week.

[2016-09-15 20:48] Georgi87 commented on #1083
Thanks for checking @axic

[2016-09-15 22:02] redsquirrel opened #1103 "OOG when contract calls another contract's function that returns `type[4]` (or more)"
When calling `fooInstance.a(<address of B>)`, this code breaks with an "out of gas" error. Tested on both browser-solidity and on testrpc.

[code]

If you change the `uint[4]` to `uint[3]`, the code runs as you would expect. It also appears to happen with any type of array, not just `uint`s.

This seems to be a regression that occurred in 0.4.0, because this problem does not occur on 0.3.5 or 0.3.

[2016-09-15 22:15] axic commented on #1103
I think this is the same issue as #1083 or at least related.

[2016-09-15 22:22] redsquirrel commented on #1103
Yes, they seem related.

[2016-09-16 10:22] chriseth commented on #1103
Confirmed as duplicate.

[2016-09-16 10:22] #1103 closed, assigned to nobody

[2016-09-16 10:26] chriseth commented on #1083
The root cause here is that the memory resize costs are not properly taken into account for the return value. Before 0.4.0 we retained more gas with a call (not because of potential memory resize but because of potential account creation).

Probably the best solution here would be to touch the memory before the call, though https://github.com/ethereum/EIPs/issues/90 would be a better solution.

[2016-09-16 15:11] chriseth commented on #1096
@Smithgift you are right that these three opcodes are executed, but it is not really a "loop". Instead, the `JUMPI` causes an invalid jump exception (on purpose) and thus an immediate return to the caller. Since the opcode before the `ISZERO` opcode is the `CALL` one call stack level higher, it seems to loop by continuing with the `ISZERO` opcode. So the snippet you cite above is exactly the code

[2016-09-16 17:11] Smithgift commented on #1096
Ah. Sounds like there's no bug, then.

[2016-09-16 17:11] #1096 closed, assigned to nobody

[2016-09-16 17:17] madvas commented on #1094
I have exactly the same problem.

my version:

[code]

[2016-09-16 22:48] madvas opened #1105 "Following contract events freeze browser"
See contract below. When I try to listen on those 3 events via Web3 API, CPU starts running on full power, page freezes, can't even refresh page. Something is definitely very wrong here, because when I remove `uint16[] b` parameter from `onLogArr`, it works ok. I've noticed very strange behaviour of events before, like overwriting random storage variables with their parameters. This is just one ex

[2016-09-16 22:53] chriseth commented on #1105
This does not sound like a bug in the compiler. Please check if the cpu usage is due to the browser or due to the testrpc and file a bug in the relevant repository. Thanks!

[2016-09-16 22:53] #1105 closed, assigned to nobody

[2016-09-17 00:13] chriseth commented on #1094
Fear not, the fix is on its way. The problem is that most of us are on our way to shanghai now. Still, I hope we can make a new release before devcon starts.

[2016-09-17 09:28] #1094 closed, assigned to chriseth

[2016-09-17 09:28] #1099 closed, assigned to chriseth

[2016-09-17 10:20] #1075 closed, assigned to chriseth

[2016-09-17 10:30] #1083 closed, assigned to chriseth

[2016-09-19 01:28] axic opened #1110 "Invalid jump when using call in inline assembly (unless using the return value)"
Broken:

[code]

[code]

Working:

[code]

[code]

Seems like it is missing a POP.

[2016-09-19 13:00] h3ph4est7s opened #1111 "Error Presentation Specification"
Greetings,
by writing code for a linter i have noticed that errors printed by solc have not a specific syntax.
Dew to that fact implementing a linter for solidity is not straightforward, especially due to changes of the error output during the development life cycle resulting in different error formats across the code.
I strongly suggest to implement an error format specification for reporting.

[2016-09-21 10:20] akshay111meher opened #1112 "For lengthy contracts, variable in the contract are not getting assigned but the events in the constructor function are getting triggered."
contract Employee{

  string public name;
  string public location;
  string public doj;
  uint public empno;
  uint public role;
  address public hr;
  address public billing;
  address public projectAddress;
  address mc;
  uint public onshore;
  uint public effortsPerDay;
  mapping (uint => SenderArray) effortsMap;
  event addEmployee(address indexed masterContract, uint indexed empNo, address

[2016-09-23 11:40] ghost opened #1114 "Should `token.sol` be an abstract contract?"
It looks like the contract in [`token.sol`](/ethereum/solidity/blob/develop/std/Token.sol) would be better represented without the empty curly-braces, in the form of an abstract contract. That would enable better checking for method-set completion in the compiler, right?

I'm not actually sure yet what the compiler promises in terms of implementation for abstract contracts, so correct me if this w

[2016-09-23 21:32] pipermerriam opened #1116 "Internal Compiler error when trying to access enum value of library."
After much gnashing of teeth I have un-earthed the source of the compiler stack error I've been encountering.

[code]

This produces this error

[code]

It seems to have to do with trying to access the actual enum values on the `Foo` enum from the library.

[2016-09-26 03:42] axic opened #1117 "Compiler opton: target EVM version"
I think we should add an option to select the target EVM version (frontier, homestead, metropolis, etc.)

Maybe this isn't such a big issue anymore for Frontier as everyone moved on to Homestead, but by the time we move on to Metropolis, Homestead will have a much bigger user base.

Key differences:
- Homestead:
  - delegatecall
- Metropolis
  - new gas costs (https://github.com/ethereum/EIPs/issu

[2016-09-26 03:44] axic commented on #1114
I think it makes sense making it abstract.

[2016-09-26 03:46] axic opened #1118 "Inline assembly: include function style pop"
`pop` currently cannot be used in function-style: `pop()`

[2016-09-26 03:47] axic opened #1119 "Inline assembly: rename non-function-style instructions to upper case"
Right now it can get confusing to mix both styles of instructions. I think it makes sense keeping function-style instructions lower case (with parentheses), while having non-function-style instructions match the usual assembly representation (i.e. uppercase only).

[code]

[code]

[2016-09-26 07:23] VoR0220 commented on #1119
I approve of this change.

[2016-09-26 14:41] pirapira opened #1120 "Equally named contracts cause internal compiler error"
On `develop`, when I do the following, I see `boost::exception_detail::clone_impl<dev::solidity::InternalCompilerError>`.  I think this error should be replaced with a more informative one.

[code]

[2016-09-26 14:59] pirapira opened #1121 "solc should make a warning or an error for non-existent options"
On `develop`, when I supply a non-existent option to `solc`, the option is silently ignored.

[code]

This issue proposes to change this behavior so that `solc` gives an error message and exit with a positive status code.

[2016-09-28 17:50] 5chdn opened #1123 "Solidity repository (mis)tagging"
Copy and pasted from gitter as requested by @bobsummerwill / also affects the cpp-ethereum repository where I'm going to crosspost this, also as suggested by bob.

[2016-09-28 17:51] 5chdn commented on #1123
ref https://github.com/ethereum/cpp-ethereum/issues/3319

[2016-09-29 11:44] levino commented on #863
This should be high priority. The current solc-js is unusable.

[2016-09-29 15:22] chevdor opened #1124 "Doc fix about accessors automatically generated"
The doc mentions:

It sounds important to me to mention that the generated accessor functions are only the **getters** and not any **setters** for public state variables.

[2016-09-29 15:29] redsquirrel commented on #1124
I think it would also be good to show an example of how array getters are generated. The initial assumption is that the getter would return the entire array, but it actually requires an index and returns the element at that index.

[2016-09-30 10:49] chriseth opened #1125 "fuzz test the compiler"
Set up a server to continuously fuzz test the compiler with the goal to find crashes.

There are two kinds of crashes:
1. Actual crashes (segmentation fault and others)
2. internal compiler errors

For the second kind, it is hard to find "unanticipated" crashes because some internal compiler errors correctly signal non-implemented features. We might split this exception class into two different cl

[2016-09-30 10:54] pirapira commented on #1125
Very similar project [CSmith](https://embed.cs.utah.edu/csmith/).

Some months ago I was running `solc` under American Fuzzy Lop, but didn't find a crash back then.

[2016-09-30 13:33] chriseth opened #1127 "Choose between why3 and F*"

[2016-09-30 13:37] chriseth opened #1128 "Define bytecode-level assertion language"

[2016-09-30 14:03] chriseth opened #1129 "Define "json input/output""
Specify the json input output format.

[2016-09-30 14:15] axic commented on #939
I think this makes sense if we can nicely encapsulate `constant` and `public` in this (and perhaps storage variables).

i.e.

[code]

Not sure about public, memory and references?

[2016-09-30 14:15] chriseth commented on #939
Question:
- Where to put `constant`, `public`, etc?
- What about storage and memory reference types, will that still be part of the type?

[2016-09-30 14:19] #1055 closed, assigned to nobody

[2016-09-30 14:20] #1071 closed, assigned to nobody

[2016-09-30 14:20] #1089 closed, assigned to chriseth

[2016-09-30 14:51] axic commented on #697
So if `msg.sender.call.value(0)` is not assigned to a variable and is not executed, then the compiler should emit a warning.

[2016-09-30 14:55] axic commented on #1112
Can you please provide a short example and description of the problem?

[2016-09-30 14:57] chriseth opened #1130 "Assertions"
We should have assertions, perhaps like the following:

[code]

The expression of the assertion has to be side-effect free (like a `view` function). The compiler might have a switch to include runtime-checks of these assertions or not. Furthermore, these assertions can be marked in the bytecode to be verified by formal analysis tools.

[2016-09-30 14:58] axic commented on #1116
A much shorter example:

[code]

Accessing the enum type `Foo` causes the issue.

[2016-09-30 15:03] axic opened #1131 "Enum type can be referenced by outside contracts, but not within the actual contract by contract name"
[code]

[code]

(The title is horrible I know)

[2016-09-30 15:04] chriseth commented on #1130
We might want to have two types of assertions: Ones that are removed in "release build" and ones that are never removed. Yoichi: Other languages use a "panic" keyword.

Another way: We only remove assertions that are proven to never throw, which turns the whole logic into just another optimizer step.

[2016-09-30 15:07] axic commented on #1130
I never understood why removing assertions from release builds make sense. In debug builds usually there are other ways to tell how something went wrong, while assertions are the last resort. In release builds they are the only thing stopping before something undetermined happens.

[2016-09-30 15:29] axic opened #1132 "Implement rotate (and define syntax)"
(Split off #33.)

We have a well defined syntax for shifts (<< and >>), but not many languages define a syntax for rotation.

One simple approach is to use an inline function `rotate_left(value, n)`, where `n` is the number of bits to rotate. The type of `value` would determine the width for rotation.

Naming proposal:
- `rotate_left` and `rotate_right`
- `rotl` and `rotr`

Usual implementation in

[2016-09-30 15:33] chriseth commented on #1130
@axic I agree, especially for smart contracts, the cases where assertions should be removed due to gas costs are limited, although there might be some situations where you have an assert that runs a long loop and can only be called on a custom chain due to block gas constraints.

[2016-09-30 15:34] chriseth commented on #988
Scope access should always be internal access if the scope is a base contract or library and the identifier is an internal identifier (If the scope is not a base contract or library, access is restricted to types only).

To understand that, look at the following example:

[code]

I think the example illustrates that the possibility to provide internal access is necessary.

To understand that exter

[2016-09-30 15:36] bobsummerwill commented on #1130
@axic Removal of assertions in release is usually for performance reasons.   It's a C/C++ pattern, where they would usually sit behind pre-processor conditionals.   The intention is that you have used them as a development aid and flushed out all the bugs by the time you ship.

You can end up with some redundancy if you want to defensive with that pattern, ie ...

[code]

[2016-09-30 15:36] chriseth commented on #1132
I strongly disagree. The usual smart contract has no use for this and you can very easily write an internal function for a library to do this. The reason we included shifts was just that we already have operands for shifts and there is an accepted notation for them.

[2016-09-30 15:39] bobsummerwill commented on #1130
It is an common anti-pattern for developers starting to use assertions for the first time to put all their defense into assertions, leaving code which will literally crash at runtime in the absence of the assertions.   Missing null-pointer checks are a key example.

`Writing Solid Code` - now over 20 years old was where I first saw these kind of defensive programming practices explored at depth fo

[2016-09-30 15:43] redsquirrel commented on #1130
This topic is also making me think of [Design by Contract](https://en.wikipedia.org/wiki/Design_by_contract). Hoping that we can head in that direction.

[2016-09-30 15:52] axic commented on #1130
@bobsummerwill

[code]

By the time the `if` is added, the `assert` should be removed. This is just a mistake by the dev and doesn't explain why asserts should be removed for release builds.

[2016-09-30 15:55] axic commented on #1132
@chriseth I agree it is not used widely.

It could become a library function, but for that we really need inline functions. Internal still produces a jump. With jumps the overhead is just too big - consider the rotations part of internal loops of hashing functions. It is really suboptimal jumping out of the loop constantly.

[2016-09-30 16:07] bobsummerwill commented on #1130
Yes, @redsquirrel, and Eiffel :-)

Sorry, @axic, my example was wrong.   Should have been ...

[code]

The anti-pattern, in a situation where asserts are stripped in release is to write:

[code]

In a debug build you hit the assertion and never execute the unguarded code, but it just crashes in the bad case in release.

[2016-09-30 16:10] chriseth commented on #1110
Inline assembly does no magic for you. If you leave an item on the stack at the end, that is your responsibility. We might add a warning if such a thing happens, though.

[2016-09-30 16:11] chriseth commented on #1111
Which part of the errors would you like to formalize?

[2016-09-30 16:17] chriseth commented on #1114
@cathalgarvey good catch! Do you want to implement this change?

[2016-09-30 16:17] bobsummerwill commented on #1130
"This is just a mistake by the dev and doesn't explain why asserts should be removed for release builds."

^ And such mistakes by the developers are EXACTLY the problem which assertions are seeking to solve, but the runtime checks have a measurable cost in a large-scale codebase (especially if you are doing such checks in inner-loop code).   For many games, for example, I can tell you from persona

[2016-09-30 16:18] bobsummerwill commented on #1130
This is a dynamic analysis approach, and doing anything where these issues can be caught at compile-time with static analysis is way preferable.

[2016-09-30 16:20] chriseth commented on #1119
What is the problem you are trying to solve here? functional-style and instruction-style opcodes can already be easily distinguished by the parentheses. It might be that there is a more fundamental problem below that you are trying to tackle.

[2016-09-30 16:27] axic commented on #1130
My experience is with embedded (financial) systems, where a undefined behaviour in such cases is not desired.

In our scenarios, aborting execution in a determined way when an assertion failed was worth the cost of the check. As there was no way to recover from that situation.

I think the same applies to contracts.

[2016-09-30 16:30] chriseth commented on #1130
I think in the smart contract world, you should not sacrifice correctness for performance. If the formal analysis tool cannot prove your assertion to be true for all cases, it should not be removed and stay there as a defense mechanism.

[2016-09-30 16:32] chriseth commented on #1132
I agree, and that is a job for the optimizer. It is for better to have this efficiency for all small snippets and not only manually optimize those we think are more or less widely used.

[2016-09-30 16:37] axic commented on #1110
I was under the impression this change happened lately, but it seems like I only had some code snippets which probably had used some compiler bug, because they worked.

Don't have any of those snippets now, so no way to verify.

[2016-09-30 16:37] #1110 closed, assigned to nobody

[2016-09-30 17:02] bobsummerwill commented on #1130
I agree with you both in our scenario.

Just providing context on why assertions were commonly stripped in release in "the old world" :-)

It is also worth noting that these assertion patterns predated ubiquitous connectivity.   There was a very sharp disconnect between development and production environments in that era.    Ship-and-forget.   No real prospect of live telemetry.

Now the line betw

[2016-09-30 18:04] axic commented on #1125
I think this should be done in any case.

[2016-09-30 18:05] axic opened #1133 "Split out UnimplementedFeature from InternalCompilerError exception"
(Split out of #1125.)

Every error whose description contains something like "not yet implemented" should be put into its own error class `UnimplementedFeature` to distinguish it from `InternalCompilerError` especially to improve fuzz testing.

[2016-09-30 18:22] axic opened #1134 "Inline assembly: address not available"
We have the following in the documentation:

However it doesn't work:

[code]

[2016-09-30 18:25] axic opened #1135 "Inline assembly: suicide causes internal compiler error"
[code]

[code]

[2016-09-30 19:41] ghost commented on #1114
Sure, will have a PR in a few minutes then. :)

[2016-10-02 13:47] cdetrio opened #1137 "needless storage clear when modifying a short dynamically sized byte array"
This bug affects Solidity v0.3.6 (at least, didn't test versions prior), and the latest nightly v0.4.3-nightly.2016.9.30.

Take this example contract:

[code]

Then pass a short string (i.e. one that fits in a single 32-byte storage slot) to the `setString()` method. For example, passing "example string":

<img width="858" alt="short byte array sstore bug first tx" src="https://cloud.githubusercon

[2016-10-04 08:30] axic commented on #1117
Probably we would need both:
- the actual target version used in the compiler
- pragma for defining the requirement in a given source code (that covers what inline assembly instructions are valid for that file and what the user expects in terms of gas usage; if the pragma is lacking, it accepts any version defined by the compiler):

`pragma evm homestead;`
`pragma evm metropolis;`

Then, we have t

[2016-10-04 08:55] chriseth opened #1140 "Provide variable annotation to receive outside information whenever variable is accessed"
This is a very vague idea, but its essence is to allow outside actors to provide additional information to be used together when storing / accessing a variable. This information is usually hard to compute on chain but easy to verify (array index to insert at, encrypted value, ...).

[2016-10-04 09:54] chriseth commented on #1123
@bobsummerwill please disable any automated tag generation, as discussed, this is both too inflexible and too cumbersome with regards to race conditions. I would suggest the following workflow:
- workers in CI infrastructure (travis / azure / ...) generate binaries and upload them to some place
- cron job in central server generates release and attaches binaries

[2016-10-04 09:54] axic opened #1141 "Missing entries in devdoc / userdoc [natspec]"
- [x] fallback function
- [x] receive function
- [x] constructor
- [ ] internal library functions
- [x] multiple return values (see https://github.com/ethereum/solidity/issues/366 )
- [ ]  parameter names (as the parameters are sorted alphabetically, there is no way to tell):

[code]

Natspec:
- https://github.com/ethereum/wiki/wiki/Ethereum-Natural-Specification-Format
- https://github.com/ethere

[2016-10-04 09:55] axic opened #1142 "Devdoc/userdoc: missing constructor"
The devdoc/userdoc outputs are missing the constructor.

[2016-10-04 09:57] axic opened #1143 "Devdoc/userdoc: missing parameter names in declaration"
The parameter names are not included and as the parameters are sorted alphabetically, there is no way to tell:

[code]

[code]

[code]

[2016-10-04 10:12] axic commented on #1135
The same happens with using `this`:

[code]

[2016-10-04 10:46] axic opened #1144 "Inline assembly: cannot use this"
[code]

`this` is a valid reference when used with `extcodesize` / `balance` / etc, but it doesn't deposit a value to the stack:

[code]

[2016-10-04 13:40] chriseth opened #1145 "Invalid swap instruction"
The following code generates an internal compiler error:

[code]

[2016-10-04 16:43] chriseth commented on #1144
The error marks `extcodesize` and not `this`. Does it work as `extcodesize(0)` or `let a := this let b:=extcodesize(a)`?

[2016-10-04 17:47] axic commented on #1144
Yes, `0` or anything else works.

`this` won't work with `extcodesize()`, `balance()` or anything else.  Neither `a := this` or `let a := this` works.

[2016-10-04 17:48] axic commented on #1144
Actually there are two error messages:

[code]

[2016-10-04 18:27] #1114 closed, assigned to nobody

[2016-10-04 22:40] chriseth commented on #1124
These are two different issues, but they can be solved in one go.

[2016-10-04 23:29] axic opened #1149 "solc-bin: soljson.js should point to the latest release (and not build)"
This applies to `bin/soljson-latest.js` too.

@chriseth any reason to keep it at nightly?

It could also be made more explicit:
- `bin/soljson-latest-nightly.js`
- `bin/soljson-latest-release.js`
- and phasing out `soljson.js` + `bin/soljson-latest.js`

[2016-10-05 00:05] chriseth opened #1150 "Crash in RationalNumberType::isImplicitlyConvertibleTo"
[code]

Found by llvm's libfuzzer.

[2016-10-05 00:08] chriseth opened #1151 "Internal compiler error: super function not found"
[code]

Found by llvm's libfuzzer.

[2016-10-05 07:45] pirapira opened #1153 "Exception on overflow in unsigned->signed conversion"
When an unsigned integer is converted to a signed integer of the same size, in half the cases, the original number is not expressible in the target type.  This is one form of overflow and it should cause an exception, following the discussion in #796.

[2016-10-05 07:48] pirapira opened #1154 "Exception on overflow in signed->unsigned conversion"
When a signed integer is converted to an unsigned integer of the same size, the negative numbers cannot be represented in the target type.  This is a form of overflow, and should throw an exception following the discussion in #796.

(Note: C treats "unsigned->signed" and "signed->unsigned" differently.  "signed->unsigned" is always defined while "unsigned->signed" is sometimes undefined.  I don't

[2016-10-05 09:47] chriseth commented on #1125
I am using libfuzzer (from the llvm project) manually now and it detects quite a lot of crashes. The problem is that it exits for the first crash, not sure if that is intended use.

[2016-10-05 09:56] pirapira commented on #1125
Yes that is the intended use.

[2016-10-05 10:09] chriseth commented on #1134
_sigh_ why did we miss this? `address` is a keyword and thus parsed differently. We have a similar situation for `return` and `byte` already, so this has to be handled in the same way as `byte` and `return` are handled inside `AsmParser.cpp`.

[2016-10-05 10:19] chriseth commented on #1142
Added to https://github.com/ethereum/solidity/issues/1141

[2016-10-05 10:19] #1142 closed, assigned to nobody

[2016-10-05 10:19] chriseth commented on #1143
Added to https://github.com/ethereum/solidity/issues/1141

[2016-10-05 10:19] #1143 closed, assigned to nobody

[2016-10-05 10:19] axic commented on #1151
A much simpler example:

[code]

[2016-10-05 10:20] chriseth commented on #591
Added to https://github.com/ethereum/solidity/issues/1141

[2016-10-05 10:20] #591 closed, assigned to nobody

[2016-10-05 10:21] chriseth commented on #366
Added to https://github.com/ethereum/solidity/issues/1141

[2016-10-05 10:21] #366 closed, assigned to nobody

[2016-10-05 10:22] axic commented on #1150
A simpler example:

[code]

[2016-10-05 10:45] axic commented on #1130
Is the assert syntax with or without parentheses?

[2016-10-05 11:02] chriseth commented on #1153
Are you talking about explicit conversions? I think we should not throw an exception for explicit conversions because otherwise there is no way to actually perform explicit overflow.

There have been suggestions to provide two types of explicit conversions with different error behaviour, but there is no proposal on syntax yet.

[2016-10-05 11:13] axic opened #1157 "Rename assembly instruction suicide to selfdestruct"
Since EIP6 is accepted, it probably makes sense renaming the instruction internally in libevmasm.

This means any internal usage is affected as well as the _opcodes_ and _assembly_ output of Solidity.

[2016-10-05 11:25] axic opened #1159 "Inline assembly: better error message needed for function style notation"
Function style notation will properly report how many arguments are expected if and only at least one argument is supplied:

[code]

[code]

vs.

[code]

[code]

The `(MUL expects 2 arguments)` should be included here too.

[2016-10-05 12:20] axic commented on #1118
Actually, `pop()` is supported, but expects a parameter (the value to pop): `pop(mul(1, 1))`, `pop(call(0,0,0,0,0,0,0))`, etc.

[2016-10-05 12:42] axic commented on #1042
Didn't notice, that should help :)

Nonetheless, in many cases a message could be added. I agree that in some cases it could be superfluous.

[2016-10-05 12:43] pirapira commented on #1153
I'm trying to enumerate overflows in arithmetics.

[2016-10-05 13:05] axic commented on #992
Perhaps we need to define for `view` whether it can take the state of the contract only or the entire state as an input.

`pure`:
- cannot use `selfdestruct`, `new`, `log`, `this.balance`, `address.balance`, `tx.*`, `msg.*`, `block.*`

`view`:
- cannot use `selfdestruct`, `new`
- can use `this.balance`
- can use `tx.*`, `msg.*`, `block.*`

Canonically speaking, `view` should not use `log` as it ch

[2016-10-05 14:03] pirapira opened #1162 "Can SMOD cause an overflow"
This issue follows [the comment](https://github.com/ethereum/solidity/pull/1091#discussion_r81823543) by @chriseth where he asked if there is an overflow possible from `SMOD` instruction.

For solving this, we need to [determine the SMOD semantics](https://github.com/ethereum/yellowpaper/issues/190) and then prove that SMOD does not cause an out-of-range value.

[2016-10-05 15:12] pirapira commented on #1162
There are no possible overflow from `SMOD` because `sgn(μₛ[0]) (|μₛ[0]| mod |μₛ[1]|)` is always in the range `(-2^{255}, 2^{255})` (the endpoints exclusive).  This is because `|μₛ[0]| mod |μₛ[1]|` is always smaller than `2^{255}`, which is because `|μₛ[1]|` is at most `2^{255}`, when `μₛ[1]` is the smallest signed 256-bit integer.

[2016-10-05 15:12] #1162 closed, assigned to nobody

[2016-10-05 16:09] pirapira commented on #1127
The current focus is how well each tool can handle the mappings of mappings.

I'll try to translate the following contract manually into Why3, F\* .

[code]

I think I should compare the bytecode level approach at the same time, so I will take the compiled bytecode and write a proof that no underflow happens, assuming no hash collision.

[2016-10-05 19:28] VoR0220 opened #1163 "Contract not returning string when instantiated inside of contract function"
Weird bug. Base errors is a simple errors contract. What's interesting is in DefaultDocument. Owned is the standard owned contract. For whatever reason, the recently instantiated contract will not return the string with which was used to construct it. Any ideas why this might be?

[code]

[code]

This produces the error

[code]

[2016-10-06 11:27] axic commented on #561
The crash was fixed in #1033, but we should have a proper check and error message in the TypeChecker.

[2016-10-06 11:49] axic commented on #1163
The error message is a bit convoluted, but the core issue is that you cannot compare strings :)

[2016-10-06 12:18] pirapira opened #1166 "Document arithmetic expressions"
The documentation should have a section explaining issues around arithmetic expressions, such as,
- ~which arithmetic operators throw an exception on overflow~
- ~what happens when an operator takes two different types (e.g. `int + uint = ?`)~
- ~whether shifts automatically enlarge the type (e.g. `int3 << int3 = int256?`)~
- ~how the operators `mod` `/` `<<` and `>>` behave with negatives or zero

[2016-10-06 14:31] #1135 closed, assigned to axic

[2016-10-06 16:27] #1121 closed, assigned to axic

[2016-10-06 16:33] #363 closed, assigned to axic

[2016-10-06 17:05] pirapira opened #1170 "Exception on overflow in addition of two signed numbers"
From issue #796 we are in the process of adding runtime overflow checks.  At commit 3f833c9ef4fde4edc795b5ddce6a7a2b543e3c00, the addition of two signed numbers is not protected against overflows.  This can be seen in

[code]

I think it's reasonable to add overflow checks for additions, especially on signed numbers.

Note that we might need to change the optimizer, because after making this chang

[2016-10-06 17:11] pirapira opened #1171 "Exception on underflow in subtraction between two signed numbers"
Since #796 we are in the process of adding runtime overflow checks.  At 3f833c9ef4fde4edc795b5ddce6a7a2b543e3c00, `solc` does not add runtime checks for underflows during subtraction between two signed numbers.  This can be seen as follows

[code]

[2016-10-06 19:30] ameten opened #1172 "Mutation testing support for Solidity"
With the failure of TheDAO, it became evident that writing even a relatively simple smart contract correctly is a challenging task even for the most experienced developers. We should write unit tests and a formal specification to verify the smart contract code, but unit tests do not cover all the code sometimes and the formal specification can be as complicated as the implementation itself. How ca

[2016-10-06 20:09] axic opened #1173 "Inline assembly: issue warning if stack height is different after the block"
In most common cases the stack should be balanced after an inline assembly block:

[code]

should raise a warning: `Inline assembly block leaves 1 item(s) on the stack`

[2016-10-06 20:20] axic opened #1174 "Inline assembly: throw keyword or ErrorTag as a jump label (new feature)"
Option 1: introduce a new keyword, which is a jump to the errortag:

[code]

Option 2: expose the `ErrorTag` as a jump label to inline assembly:

[code]

[2016-10-06 20:34] jonathanbmorley commented on #1090
Hi, askshithg.

http://ethdocs.org/en/latest/contracts-and-transactions/contracts.html has a nice write-up: "Contracts live on the blockchain in an Ethereum-specific binary format (EVM bytecode) that is executed by the Ethereum Virtual Machine (EVM). However, contracts are typically written in a higher level language and then compiled using the EVM compiler into byte code to be deployed to the blo

[2016-10-06 20:35] jonathanbmorley commented on #1090
Also see the FAQ section: http://solidity.readthedocs.io/en/latest/frequently-asked-questions.html

"Solidity is the DEV-created (i.e. Ethereum Foundation-created), Javascript-inspired language that can be used to create smart contracts on the Ethereum blockchain. There are other languages you can use as well (LLL, Serpent, etc). The main points in favour of Solidity is that it is statically typed

[2016-10-06 21:23] pirapira commented on #1172
I think it's a good idea to mutate the code so that we can evaluate and strengthen the unit tests.  Tasks are also clear.

Is this issue still open for anyone to implement?

[2016-10-06 21:31] ameten commented on #1172
I am looking to build a team to implement it as part of the online hackathon on hack.ether.camp. but if anybody just implement it outside of the hackathon, I would not mind.

[2016-10-06 21:35] pirapira commented on #1172
I see.  This is indeed a good target for a hackathon.

[2016-10-06 21:37] ameten commented on #1172
Join the team :)

[2016-10-07 08:39] #315 closed, assigned to axic

[2016-10-07 08:41] pirapira opened #1176 "Include grammar.txt in the documentation"
This issue is a spin-off of @chriseth's [comment](https://github.com/ethereum/solidity/issues/315#issuecomment-242554903).  The proposal is to include grammar.txt in the documentation and to list the reserved keywords in the same section.

[2016-10-07 08:42] pirapira commented on #315
"`grammar.txt` in documentation" has its own issue now #1176.

[2016-10-07 09:28] #1134 closed, assigned to axic

[2016-10-07 10:22] axic commented on #1129
The discussion from a while back: https://pad.riseup.net/p/7x3G896a3NLA

Relevant: #542, #611, #752, #758, #778, #712, #645, #863.

[2016-10-07 10:33] axic opened #1177 "Why3: pragma not supported"
[code]

[2016-10-07 10:34] axic commented on #1177
@pirapira @chriseth I think this should be fixed for the next release.

[2016-10-07 11:58] axic opened #1178 "EVM: annotated opcode output"
We've discussed a possible annotated opcode output with @pirapira and the idea is to have a simple text format:
- each opcode is on a single line and no whitespaces are allowed around opcodes
- empty lines are allowed
- comments are denoted by a line starting with `;;`
- the format starts with `;; annotated_evm_output`
- assertions for verification are stored as `;; assert:`
- multiple assertion l

[2016-10-07 12:11] axic opened #1179 "Assembly output: use ;; to separate comments"
Current assembly output:

[code]

Proposed:

[code]

It should help potential parsers to skip the comments.

[2016-10-07 12:25] axic commented on #1178
I wonder if this could be merged with the assembly output, but that has other syntax elements:
- tags
- offset within data "segment"
- several different push statements:
  - `PUSH [$00000000…00000000]` - offset of data segment 0
  - `PUSH #[$00000000…00000000]` - length of data segment 0
  - `PUSH [tag1]` - tag offset
  - `PUSH [ErrorTag]` - special hardcoded errortag (not present in the assembly

[2016-10-07 12:34] pirapira commented on #1178
@axic Yes, this kind of information is useful for many tools.  I would add this as additional comments, even when they seem redundant.

I prefer a line

[code]

rather than just

[code]

In other words, when we strip away the comments and redundant whitespaces from the rich opcodes, we should get the plain simple `--opcode` output.  In this way, we can make sure what's analyzed = what's deployed.

[2016-10-07 12:46] pirapira commented on #1177
Yes.  I think I can silently drop these errors for pragmas.

[2016-10-07 12:57] axic commented on #1177
This also triggers the comment: we should have basic tests for the why3 output, so that such breaking changes won't be left unnoticed.

[2016-10-07 13:06] pirapira opened #1180 "Unit tests for `--formal` outputs"
For every pull-request we need to check, at least, `--formal` option does not crash on a few typical inputs.

[2016-10-07 13:06] pirapira commented on #1177
#1180 for the basic tests.

[2016-10-07 13:24] pirapira commented on #1180
At least there should be a test that catches #1177.

[2016-10-07 16:27] VoR0220 commented on #1163
oh dammit....but shouldn't we fix that?

[2016-10-07 21:04] axic commented on #1144
Actually there are two different problems:

[code]

[code]

And:

[code]

[code]

Same applies to `super`, `block`, `tx` and any other _magic variable_ declaration.

[2016-10-07 23:43] axic commented on #1151
The problem here is that in the TypeChecker the scope is the current contract, which has `f()` defined.

[2016-10-08 21:02] MathyV opened #1183 "Properly generate release tarballs."
Hi,

I was writing an .ebuild to include solidity as a package in the Gentoo distribution and noticed 2 issues while compiling. I pull the release tarball from GitHub but it does not contain:
- a commit_hash.txt with the commit version of the release (which stops the compilation)
- an empty prerelease.txt file (which results in the develop-string added to the version string)

Is it possible to add

[2016-10-08 21:17] axic commented on #1163
@VoR0220 it is a feature as opposed to a bug.

I'm not sure why basic support strings is not included in the base language.

[2016-10-08 21:50] VoR0220 commented on #1163
I echo your sentiment here.

[2016-10-08 21:50] #1163 closed, assigned to nobody

[2016-10-08 22:44] esques opened #1184 ""a =+ b" is not "a = a + b""
In fact it just overrides the variable.

[code]

I know that JS does the same, but other languages do not follow this unintuitive behavior and  its a source of confusion and bugs.

Btw, currently its possible to write `a +=+ 1;` ... funny.

https://gist.github.com/anonymous/07732c159557334c8135e23e5373e7dd#file-untitled-L13au

[2016-10-08 23:10] axic commented on #1184
I would assume `a =+ 3;` is parsed as `a = +3`, i.e. the plus is the sign of the variable. There's no operator `=+`;

I think the question here is whether plus prefixes for numbers should be accepted or not.

[2016-10-08 23:53] esques commented on #1184
This would not solve the question because the same applies for minus: `a = -1` is a necessity and `a =-  1` gets you in trouble. Since spaces are just decoration and not semantically loaded I don't see a pretty solution.

[2016-10-09 10:12] axic commented on #1184
I am a bit confused why do you think `-=` equals to `=-` and `+=` equals to `=+`?

[2016-10-10 10:29] axic commented on #1176
Cannot we just add a link to grammar.txt in the documentation? Seems to make more sense to me as the data is not duplicated.

[2016-10-10 11:17] axic opened #1186 "grammar.txt: missing hex literal"
@NicolaiSoeborg @walter-weinmann can you please include this in the grammar if you have time?

`bytes a = hex"001122ff";`

[2016-10-10 12:24] axic opened #1187 "LLL: remove obsolete builtin methods"
These tie in with the changes done in Solidity (removing standard contracts):

[code]

Add `keccak256` alias to `sha3`, affected builtins:

[code]

What do you think @zigguratt?

[2016-10-10 12:50] chriseth commented on #1178
I think defining a new language will rather slow us down, we should strive for embedding existing languages as annotations (coq might  be a choice as @pirapira mentioned). Furthemore, all examples you gave are human-readable output, although I think this should be mainly machine-readable. The question is also how to get from Solidity to annotated assembly - we need a way to specify those annotatio

[2016-10-10 12:56] chriseth commented on #1179
This output is neither standardized nor made to being parsed. Furthermore, tabs / spaces are enough to separate the "instructions" from the comments.

[2016-10-10 12:56] #1179 closed, assigned to nobody

[2016-10-10 12:58] pirapira commented on #1178
The design of this language is covered by #1128.  The current issue looks bigger, containing the implementation.

[2016-10-10 13:01] pirapira commented on #1178
@chriseth I need the value of `[ErrorTag]` in the bytecode verification.  So, the assembly is not useful I guess.  I need the annotated bytecode for the bytecode verification, but a sequence of opcodes are also fine.

[2016-10-10 13:02] pirapira commented on #1178
@chriseth `get from Solidity to annotated assembly` yes, we will need a way to translate annotations in the source code into annotations in the bytecode.

I will translate annotations after I can deal with annotated bytecodes.  Currently, verification of bytecode takes much more time than writing bytecode by hand.  So, the cost of writing the bytecode by hand is not relevant at this point.  Most o

[2016-10-10 13:05] pirapira commented on #1128
There is a relevant discussion going on in #1178.

[2016-10-10 13:16] zigguratt commented on #1187
@axic That looks good to me. Those builtins are definitely obsolete. And I think `keccak256` is actually a more accurate name than `sha3`. As well, in all of the LLL source I've looked through I've never seen either `sha3pair` or `sha3trip` used. In other words, `keccak256` is a good addition to the set.

[2016-10-10 13:58] zigguratt opened #1188 "LLL: support symbols in the LIT keyword"
The `lit` keyword works as expected when used inline:

[code]

As with any LLL keyword, `lit` should be usable in a macro:

[code]

However, when the `keccak` macro is subsequently invoked:

[code]

the compiler produces this error:

[code]

[2016-10-10 16:37] pirapira commented on #1178
I think I pick Isabelle/HOL not Coq.  In Coq a proof [takes 300 lines](https://github.com/pirapira/evmverif/blob/master/coq/example/call_but_fail_on_reentrance.v#L121) while in Isabelle/HOL just [40 lines](https://github.com/pirapira/eth-isabelle/blob/master/example/FailOnReentrance.thy#L102).  The Isabelle/HOL proof looks much easier to automate because it's very repetitive.

[2016-10-10 17:45] NicolaiSoeborg commented on #1186
PR #1189 created

[2016-10-10 18:37] axic commented on #549
The problem here is that the variables are not marked `isLocalVariable` when inside modifiers.

[2016-10-10 18:54] chriseth commented on #1149
Yep, let's have `latest` point to the latest release and perhaps add `soljson-nightly.js` to point to the latest nightly (I would say `latest-nightly` is overly complicated)

[2016-10-10 19:05] axic commented on #1149
- `bin/soljson-latest.js` ⇒ latest release
- `bin/soljson-nightly.js` ⇒ latest nightly
- `soljson.js` ⇒ ?

[2016-10-10 19:22] axic commented on #1186
Thank you @NicolaiSoeborg!

[2016-10-10 19:35] axic commented on #1179
@chriseth It is not yet, but this could be a good, painless first step at that.

[2016-10-10 19:59] axic opened #1190 "Inline assembly: documentation should be improved"
1. accepted external identifiers
   `identifiers (externals, labels or assembly-local variables), e.g. jump(name), 3 x add` should explain that functions and libraries can also be pushed to the stack.
2. mention that `assembly "evmasm" { }` is a valid syntax
3. at the end of the assembly block, the stack should be balanced (unless intentionally required otherwise)

[2016-10-10 20:09] chriseth commented on #1149
soljson should point to latest release.

[2016-10-10 20:11] chriseth commented on #549
Ah nice! So I think the dynamic cast there should be changed to `CallableDeclaration` (this also includes events, but I don't think we will add internal variables or inline assembly to events soon).

[2016-10-10 20:16] axic commented on #549
You mean here: https://github.com/ethereum/solidity/blob/develop/libsolidity/analysis/TypeChecker.cpp#L618?

[2016-10-10 20:26] chriseth commented on #992
You are right, in serenity, log will be changed to actually make modifications to storage of a certain contract. This means, log should be viewed as a call to a non-view, non-pure function of another contract. Because of that, view should not be able to use log, I would say.

[2016-10-10 20:28] chriseth commented on #1187
@zigguratt waiting for your pull request :-)

[2016-10-10 20:39] VoR0220 commented on #992
so events are no longer going to be free/near free in terms of gas?

[2016-10-10 21:17] pirapira opened #1192 "Malformed pragmas interpreted as version pragmas"
In `develop`, a malformed pragma that finishes with a `;` is interpreted as a version pragma.

[code]

[2016-10-10 21:35] pirapira commented on #1127
My current judgment is to use neither Why3 or F*.  See Path a and Path b in https://github.com/pirapira/ethereum-formal-verification-overview/blob/master/README.md#formal-verification-of-ethereum-contracts-yoichis-attempts

[2016-10-10 21:41] #1186 closed, assigned to nobody

[2016-10-10 22:32] zigguratt commented on #1187
Oh, come _on!_ It's Thanksgiving day here in Canada! :) I'm happy to make the changes, but it'll have to wait until tomorrow morning, unfortunately. Also, I'll have some questions before I can proceed.

[2016-10-11 08:16] pirapira commented on #717
I try to list the missing pieces.  For each point I would write an executable code in a proof assistant.
- statics
  - [ ] #892 specify the grammar in BNF
  - [ ] specify the grammar containing multiple Solidity files
  - [ ] specify the contract name lookup rules
  - [ ] specify the function name lookup rules
  - [ ] specify the variable name lookup rules
    - A inherits B and C.  Both B and C i

[2016-10-11 09:39] axic commented on #892
@Srirangan if you still have your BNF conversion, can you please submit it?

[2016-10-11 10:11] pirapira commented on #1178
In Isabelle/HOL, this kind of assertions can now be discharged automatically.

[code]

[2016-10-11 10:18] pirapira commented on #1178
Here is the design.  An Isabelle/HOL assertion

[code]

should produce a valid Isabelle/HOL theory file when they are thrown into this template

[code]

[2016-10-11 10:21] pirapira commented on #1128
This comment https://github.com/ethereum/solidity/issues/1178#issuecomment-252871327 defines an assertion language.  I think this is good enough for safety properties.

[2016-10-11 12:17] axic opened #1197 "LLL: consider moving wei/szabo/finney/ether from parser to builtins"
They are defined here: https://github.com/ethereum/solidity/blob/develop/liblll/Parser.cpp#L109

@zigguratt would this be possible with LLL?

[2016-10-11 12:21] zigguratt commented on #1197
I'll take a look.

[2016-10-11 13:02] #1192 closed, assigned to pirapira

[2016-10-11 13:42] pirapira commented on #1178
@chriseth says it's easier to produce a string that can be copied and pasted into Isabelle/HOL.

[2016-10-11 13:58] zigguratt commented on #1197
Defining wei/szabo/finney/ether as built-in macros would be straightforward. But they're used in `Parser.cpp` to populate `multiplier`, which is then used in the next line to define `quantity`. Without the preceding line defining `multiplier`, compilation fails.

Unless I'm missing the point entirely.

[2016-10-11 14:00] chriseth commented on #1178
I'm just saying that we own the compiler, so we can modify its output to our liking and even create a new output class, just as we did for why3.

[2016-10-11 14:29] #1177 closed, assigned to pirapira

[2016-10-11 14:41] pirapira commented on #1178
OK, then "it's easier" was just my thought.

[2016-10-11 16:36] zigguratt commented on #1187
Pull request #1198 almost complete.

[2016-10-11 23:00] #478 closed, assigned to axic

[2016-10-11 23:29] MitchK opened #1199 "Cannot install brew package"
I'm on Mac OSX Sierra (MBP 2016) and try to install the solidity package. Somehow the installation is broken. It hangs for one hour now on this step:

[code]

[code]

[2016-10-11 23:39] MitchK commented on #1199
After 90 minutes, roughly, it worked.

[2016-10-11 23:39] #1199 closed, assigned to nobody

[2016-10-12 09:13] ethernomad opened #1200 "Allow casting to bool"
[code]

It's very easy to cast to bool by comparing to 0. Why can't bool() me made to do this?

[2016-10-12 13:18] chriseth commented on #1200
I think you already answered your question :-)
The expression `b != 0` explains much better what happens. In general, solidity tries not to make as few assumptions about the encoding of values as possible and explicit type conversions work with these encodings.

[2016-10-12 20:06] axic commented on #789
@bobsummerwill Following the recommended way (["amalgamated sources"](https://github.com/open-source-parsers/jsoncpp#generating-amalgamated-source-and-header)) it works pretty flawlessly.

Added it here: https://github.com/ethereum/solidity/tree/internal-jsoncpp

[2016-10-12 20:25] axic commented on #789
Adding it as a submodule and compiling via cmake also works flawlessly.

Added it here: https://github.com/ethereum/solidity/tree/submodule-jsoncpp

[2016-10-13 04:38] pureland opened #1201 "can support function name (4 bitys hash ) of another contract as arg of a function ?"
actually I can do it  as follow

[code]

but it is not easy to calculate the mem offsize of input/output, I dont know if it would cover other memory for complicated function, because I don`t know the current memsize
so if solidity support use function name as argument of another function in other contract directly.

[2016-10-13 07:51] chriseth commented on #1201
I think what you need is actually passing a function as an argument to another function. We are currently working on this and it should be finished soon: https://github.com/ethereum/solidity/pull/1122

[2016-10-13 08:19] ethernomad commented on #1200
Fair enough!

[2016-10-13 08:19] #1200 closed, assigned to nobody

[2016-10-13 10:58] chriseth commented on #789
Sounds great! also jsoncpp is really small, so I'm voting for including it. We should provide a script to do updates.

[2016-10-13 11:12] chfast commented on #789
I would like to suggest to use CMake's ExternalProject for that (as a first try). Example for LLVM: https://github.com/ethereum/evmjit/blob/develop/cmake/llvm.cmake#L61-L80. I'm quite happy with that so far.

We will end up with a single cmake script that works for every platform. Upgrade is also very simple, you must change the git tag/URL/SVN commit in the script. No jsoncpp sources have to be p

[2016-10-13 13:02] chriseth commented on #769
I'll close this, has not been relevant for a while.

[2016-10-13 13:02] #769 closed, assigned to nobody

[2016-10-13 13:25] chriseth commented on #1172
@ameten nice idea! Did you already think about at which lever you want the mutations to take place?
I'm actually using [libfuzzer](http://llvm.org/docs/LibFuzzer.html) to do something similar with the compiler itself. Libfuzzer operates cleverly on the actual source code byte representation. For this task, mutations still have to compile correctly, which is a certain challange.

[2016-10-13 13:28] chriseth commented on #796
@pirapira Can you please list all these other issues as tasks for this issue and close the others, or do you think that each issues is a substantial amount of work?

[2016-10-13 14:26] chriseth opened #1204 "Add a warning if a functional-style assembly expression leaves elements on the stack"
The following inline assembly code should generate a warning:

[code]

While this one should not:

[code]

and this one is also fine:

[code]

In general, I think the rule should be: A maximally large functional-style expression should either return zero elements onto the stack or it should be used as part of a FunctionalAssignment

[2016-10-13 14:36] pirapira opened #1205 "Fix the documentation around the inline assembly"
In `./docs/control-structures.rst`, there is a table of mnemonics available in the inline assembly.
- `pop` is marked `*` for no good reasons
- `sload` is marked `-` though it pushes the result to the stack
- `pop` should be `pop(x)` and the description should be updated.

[2016-10-13 14:38] pirapira opened #1206 "Move the content of grammar.txt into `docs` directory"
This issue discusses moving the content of `grammar.txt` into the documentation.

@chriseth:
The file `grammar.txt` is currently linked from the documentation. Instead, it should be included verbatim (and the grammar file deleted), i.e. there should be a block of text that is the grammar.

[2016-10-13 14:38] #1176 closed, assigned to axic

[2016-10-13 15:01] chriseth opened #1207 "Document remappings in the --help output"
The concept of remappings is explained in the documentation, but it is not shown at all in the `--help` output.

[2016-10-13 15:07] seancyw commented on #1207
Hi, I would like to contribute. Can you explain further? It's my first time contribute for open source :)

[2016-10-13 15:11] pirapira opened #1208 "Add an index to the documentation"
Currently I'm trying to find a section that explains "libraries" but when I search for "library" I get too many results.  I guess it would improve the navigation if we add an index to the documentation.

[2016-10-13 15:12] pirapira commented on #1208
But I'm seeing `:ref:` tags in the `rst` code, maybe there already exists an index?

[2016-10-13 15:17] pirapira opened #1209 "doc: "code of internal library functions will be pulled into" is ambiguous"
In `contracts.rst`, there is a phrase

[code]

I guess this `pulled into` happens at the deployment time, and I guess the sentence can be clearer about this.

[2016-10-13 15:17] pirapira commented on #1208
I'm also seeing `index::`.  This should have been done.

[2016-10-13 15:17] #1208 closed, assigned to nobody

[2016-10-13 15:20] pirapira opened #1210 "doc: making the index appear in the table-of-contents in the top page"
The rST source of the documentation contains some indexing related tags like `index::` or `:ref:`, but I don't see the resulting index [online](http://solidity.readthedocs.io/en/develop/index.html) on the left pane of the web pages.  This issue keeps track of adding a link to the index on the left pane of these pages.

[2016-10-13 15:25] chriseth commented on #1207
@seancyw thanks a lot! It's probably better to discuss this realtime in https://gitter.im/ethereum/solidity but in general, this is about condensing the information about remappings from https://solidity.readthedocs.io/en/develop/miscellaneous.html#using-the-commandline-compiler and adding it to the function `CommandLineInterface::parseArguments`. A good place is probably right before the example.

[2016-10-13 15:27] chriseth commented on #1209
No, it happens at compile time.

[2016-10-13 15:32] pirapira commented on #1210
An index exists at http://solidity.readthedocs.io/en/develop/genindex.html, but it is hard to find it.

[2016-10-13 15:36] chriseth commented on #789
oh my ... wow! Yeah, let's use that!

[2016-10-13 15:40] pirapira opened #1211 "doc: explain that contracts are types"
`types.rst` currently does not explain that a contract is a type.  In Solidity, it is possible to define a local variable that points to a contract.  This is used usually together with `new` keyword.

[code]

We should also explain that contract types inherit from the address type.

[2016-10-13 15:41] pirapira opened #1212 "doc: add an index entry for each keyword"
Currently the index of the documentation has no entry for `new` keyword.  This issue keeps track of indexing all keywords that are currently used.

[2016-10-13 15:55] pirapira opened #1213 "doc: clarify the scope of `using A for B`"
[code]
- How big is "the current scope"?  It can be understood from the document that not all `{ ... }` pairs delimit the scopes.  Also, it can be understood that a function forms a scope.  I guess a contract forms a scope as well.  In this case for `using A for B` directive, it is unclear to me if "the current scope" can be a function scope.
- "will be lifted to the global scope later", does this