[2016-10-13 16:00] chriseth commented on #1213
`using a for b` can only be used at the contract level (i.e. inside contracts but outside functions) for now. It is a planned feature to make it available everywhere. Currently, `var` scopes are functions and contracts, but we plan to also add let-scopes which are all `{` `}` pairs. I think it makes sense to apply the scoping rules for `using A for B` to let-scopes.

[2016-10-13 16:20] pipermerriam opened #1215 "Allow multiple events with the same name (aka event overloading)"
[code]

Trying to compile this contract produces the following error.

[code]

While these two events share a name, their topics are different and I believe should be allowed (the same way that duplicate function names are allowed as long as their argument types differ).

[2016-10-13 16:20] pirapira opened #1216 "Ban creation of a bound `FunctionType` instance that has no `selfType`"
As [this comment](https://github.com/ethereum/solidity/pull/1194/files#r82766888) suggests, creation of a `FunctionType` object that is bound but without a `selfType` should already cause an error.

[2016-10-13 16:32] pirapira commented on #1184
I think the next step (or the final goal) of this issue is unclear.  I add "more info please" label.

[2016-10-13 17:19] pirapira commented on #796
The main reason I opened separate issues is that each requires discussion if we want it or not, but if we are set to go over everything, here is a list.
- [ ] exception on overflow in unsigned->signed conversion
- [ ] exception on overflow in signed->unsigned conversion
- [ ] exception on overflow in size-decreasing implicit conversion
- [ ] exception on overflow in addition of two signed numbers

[2016-10-13 17:20] pirapira commented on #1153
Delegated back to #796.

[2016-10-13 17:20] #1153 closed, assigned to nobody

[2016-10-13 17:20] pirapira commented on #1154
Delegated back to #796.

[2016-10-13 17:20] #1154 closed, assigned to nobody

[2016-10-13 17:20] pirapira commented on #1170
Delegated back to #796.

[2016-10-13 17:20] #1170 closed, assigned to nobody

[2016-10-13 17:21] pirapira commented on #1171
Delegated back to #796.

[2016-10-13 17:21] #1171 closed, assigned to nobody

[2016-10-13 17:41] axic commented on #1205
There's already an issue for inline assembly: #1190.

[2016-10-13 17:50] pirapira commented on #1205
Yes, the titles look very similar.  Now I can close this one because its contents are already captured in #1217.

[2016-10-13 17:50] #1205 closed, assigned to pirapira

[2016-10-13 17:51] pirapira commented on #1211
I guess libraries are not types.

[2016-10-13 17:52] pirapira commented on #1212
Also `module` is missing from the index.

[2016-10-13 18:05] axic commented on #1118
According to https://github.com/ethereum/solidity/pull/1160#issuecomment-252200839 functional instruction should be balanced.

Issue carried over to #1204.

[2016-10-13 18:05] #1118 closed, assigned to axic

[2016-10-13 18:18] axic commented on #1206
It cannot be included verbatim, because RST doesn't seem to support verbatim includes. The closest is putting it into a block quote, which requires each line to be spaced:

[code]

[2016-10-13 18:37] pirapira commented on #1206
@axic it is @chriseth who specified the verbatim style.  The description was edited heavily.   Personally I don't care if it's a text file or another format.

[2016-10-13 18:45] pirapira commented on #1172
@chriseth the mutations would be done in the AST level, not on the source text.  There are low-hanging fruits like negating `if` conditions, swapping `<` and `<=`, etc.

[2016-10-13 19:24] axic commented on #1206
Here's the RST docs: http://docutils.sourceforge.net/docs/user/rst/quickref.html#literal-blocks

[2016-10-13 21:08] axic commented on #1187
Fixed by #1198.

[2016-10-13 21:08] #1187 closed, assigned to nobody

[2016-10-13 21:09] axic commented on #1188
Is it happening in every case or certain cases only? Do you need some help tracking it down?

[2016-10-13 21:11] axic commented on #1197
They are used to define `1 finney` as a literal. Is that useful? How is that matching lisp? I would think they could be equally useful as a macro.

Removing them from the parser is easy though.

[2016-10-14 00:22] zigguratt commented on #1197
That could definitely be useful. As I said, defining a built-in macro for each denomination would be straightforward - as simple as, for example,

[code]

similar to how "szabo" is defined in `Parser.cpp`. Or even more simply,

[code]

saving a multiplication at runtime. For me it's less obvious how to remove those definitions from `Parser.cpp`! :)

[2016-10-14 07:43] ameten commented on #1172
Hi @chriseth, if it was not an item for Solidity compiler, souce code manipulation would be an option. Just replace one operator with another and use the manipulated source as input for the Solidity compiler. It is similar to the approach for test coverage: https://blog.colony.io/code-coverage-for-solidity-eecfa88668c2#.vx9uuc5ra . But we still need to do some scanning and parsing to be able to ma

[2016-10-14 08:28] axic commented on #1215
Solidity properly encodes the signature whether the argument is present or not, so it should definitely work.

[2016-10-14 08:34] axic commented on #1145
The two uint arrays are not needed to produce the error:

[code]

Changing the 2 bytes variables to 4 uints will trigger another missed check:

[code]

[2016-10-14 09:01] axic commented on #226
@chriseth which part of this is not implemented yet?

[2016-10-14 09:42] axic opened #1219 "Documentation: merge the FAQ in the appropriate sections"
There are a lot of pieces of information which would be better to be merged at the appropriate locations. A lot is already duplicated. Many of the examples refer to outdated features (e.g. `import "mortal";`).

[2016-10-14 09:51] #1150 closed, assigned to pirapira

[2016-10-14 10:49] axic commented on #956
@bobsummerwill would you be able to add clear instructions how it needs to be updated and mark it as up-for-grabs?

[2016-10-14 10:49] zigguratt commented on #1188
The error happens in all cases where `lit` is executed in a `def` and a string literal is expected. I haven't tested other input types. The `lit` [docs](https://github.com/ethereum/cpp-ethereum/wiki/LLL-PoC-6/04fae9e627ac84d771faddcf60098ad09230ab58#literals--code) describe three possible input literal types. This fails in a `def` macro because I believe the `lit` handler doesn't expect the type o

[2016-10-14 11:06] zigguratt commented on #1188
I would normally look through the assembly code produced by the compiler to see what `lit` is getting, but the error prevents the assembly code from being generated.

[2016-10-14 13:01] pirapira commented on #1172
@ameten The AST nodes are equipped with the line and column information.

[2016-10-14 15:35] chriseth commented on #1172
I agree that you should re-use the existing tools inside the solidity compiler and since the AST inside the compiler is not meant to be modified, probably the best way is to create the full AST, analyze it, find a place and way to modify, but perform the modification to the source code itself. If you find it too hard to do the changes to the compiler itself, you can also use its json ast output. T

[2016-10-14 16:12] pirapira opened #1222 "--formal to output runtime opcodes in Isabelle/HOL code"
This issue keeping track of feeding an input to Isabelle/HOL.  The scope of this issue is just to print runtime opcodes in the Isabelle/HOL format in a binary search tree.

Due to performance reasons(*), the opcodes are prefixed with some category.  Since it takes about 10 minutes to convert a 500-element list into a binary search tree in Isabelle/HOL, the format is already in a binary search tree

[2016-10-14 16:13] pirapira commented on #1178
- [ ] output in Isabelle/HOL format #1222
- [ ] automatically produce bytecode annotations that prevent overflows
- [ ] translate user annotations into bytecode annotations

[2016-10-14 17:59] zigguratt commented on #1188
A quick update: I just tested the other two types of input to `lit` in a macro and they both fail in the same way. So it's not specific to string literals.

[2016-10-14 18:19] axic commented on #1149
Depends on https://github.com/ethereum/solc-bin/pull/8.

[2016-10-14 18:46] axic commented on #1172
If possible, we should encourage using the JSON AST output. If that means it should be fixed, extended or be more stable, so be it. It will be beneficial in the long term I think.

[2016-10-14 19:21] nmushegian commented on #1130
Why can't `assert(thing)` just mean `if (!thing) throw;`? Why does it have to be a keyword at all, there seem to be enough `assert(bool)` and various overloads in the wild already.

I'm also suspicious of any optionally compiled anything

[2016-10-14 23:20] zigguratt commented on #1188
Actually, I'd like to try to figure this out myself for a bit longer. There's no huge hurry and it would be good for me to get more familiar with the code anyway. I appreciate the offer of help and I'll probably take you up on it in the near future.

Thanks again, @axic!

[2016-10-15 13:13] LefterisJP opened #1226 "Proposal: A project local config for solidity projects"
## Introduction

I would like to propose a convention for the existence of a project local config file for solidity projects.
The config file should be in the root project directory where `solc` should be called from and should have a standard recognizeable name. For example `.solidity` or `.solc`.
## The Problem

The problem this proposal tries to solve is how third party developer tools like say

[2016-10-15 14:38] axic opened #1230 "LLL: plans for the future"
Currently LLL is in a limbo. It is part of the Solidity repo and there are a lot of uncertain aspects:
- Is it part of the Solidity release?
- If not, where and when is it released?
- If yes, are breaking changes aligned with the Solidity release cycle?
- Are LLL changes part of the Solidity changelog?
- Where to put LLL documentation?
- Where to put LLL tests? (Parser, semantics and end-to-end te

[2016-10-15 14:50] zigguratt commented on #1230
These are definitely questions that need answering - and addressing. I've been thinking that LLL should be split out of the Solidity repo. I can see why it was in there when Solidity was part of cpp-ethereum; both languages were in there and it made sense. It makes less sense for LLL to be in the stand-alone Solidity repo.

I think most of these questions have obvious answers if LLL is split from

[2016-10-15 15:01] axic commented on #1230
My actual long term goal would be:
- Having a separate repo, release cycle, documentation and tests
- Move as much as possible from the parser to macros. Possibly reviewing the language syntax (parser) / semantics during the process.
- Implementing macros for WebAssembly s-expressions (this would then allow using LLL on top of eWASM)

[2016-10-15 16:06] zigguratt opened #1233 "LLL: Allow initialization parameters to be passed in to a contract on deployment"
Currently there is no way to pass parameters to an LLL-based contract on deployment in the way that Solidity contracts use constructors to accomplish this. We need to allow access to ABI-formatted data tacked on the end of the binary similar to how LLL's `lit` keyword does and, I'm told, similar to they way constructor parameters are stored in Solidity.

Adding this functionality would bring LLL t

[2016-10-15 16:06] #780 closed, assigned to nobody

[2016-10-15 18:40] pirapira commented on #1222
(Now I can parse the hexcode in Isabelle/HOL.  So this one is not urgent.)

[2016-10-16 18:47] pirapira opened #1236 "An option that shows a storage location for each state variable"
For blockchain browsers and for bytecode annotations, it's useful if state variables are associated with storage indices.  This issue keeps track of adding such an output to the solidity compiler.
- [ ] which of the existing options shall output the association, or shall there be a new option?
- [ ] what is the output format?
- [ ] implementation

[2016-10-16 20:17] codywatts opened #1237 "Resolving overloaded functions with implicitly convertible parameters"
Given the following Solidity code:

[code]

The following calls to `overloadedFunction` produce these compiler errors:

[code]

This error was expected, as it's ambiguous how the literal string `"hello world"` should converted.

[code]

This error was somewhat unexpected, because I am being explicit about the type I am passing in. But `bytes16` is still implicitly convertible to `bytes32`, so I ca

[2016-10-16 20:23] axic commented on #1237
@codywatts nice catch!

(As the return parameters are not part of the ABI, I would assume they are not part of the internal overload resolution either.)

[2016-10-17 07:06] ethernomad opened #1238 "Automatically generate API docs from natspec"
Solidity has the [Ethereum Natural Specification Format](https://github.com/ethereum/wiki/wiki/Ethereum-Natural-Specification-Format) which is similar to Doxygen.

Is it possible to automatically generate API documentation from this?

[2016-10-17 08:35] LefterisJP commented on #1238
From doxygen's [own documentation](http://www.stack.nl/~dimitri/doxygen/manual/faq.html#faq_pgm_X):

So I would say it should be possible but would require some work on the upstream. I tried to run doxygen with C++ settings on a solidity project and got a lot of `warning: ignoring unknown tag` errors.

[2016-10-17 08:40] axic commented on #1238
@ethernomad the natspec can be compiled into two JSONs (user documentation and dev documentation) with using the `--userdoc` and `--devdoc` switches on `solc`. They are not currently displayed on browser-solidity.

[2016-10-17 08:51] ethernomad commented on #1238
That's true. It could then be converted from JSON to markup with another tool.

[2016-10-17 10:12] chriseth commented on #1226
Please also see the discussion in https://github.com/ethpm/epm and the related gitter channel.

[2016-10-17 19:11] #785 closed, assigned to nobody

[2016-10-18 06:45] ethernomad opened #1241 "Deprecate indexed in favour of topic"
Use of the keyword `indexed` for log topics is incorrect. Topics are clearly not indexed properly because they cost only 375 gas.

Geth does have accelerated topic scanning, but this is nowhere near as fast as loading a block, transaction or address balance.

I propose we use the proper term `topic` instead of `indexed` to be more correct.

[2016-10-18 09:31] chriseth commented on #1241
Topics are indexed, they are stored in a bloom filter. While I see the benefit of using the more neutral word "topic", I think such a drastic change is not justified enough.

[2016-10-18 10:22] pirapira opened #1242 "super as an expression causes stack disturbance"
@chriseth accidentially hit this error.

[code]

[2016-10-18 11:17] chriseth commented on #1242
The bug is probably inside `sizeOnStack` of the contract type.

[2016-10-18 12:31] pirapira commented on #1137
I am wondering why this bug happens especially for "target storage size == 1".  Following the description, I don't see any reason why the same thing does not happen for "target storage size == 2".  In that case, `target_data_pos` and `target_data_end` would span three storage slots, which is bigger than two.

[2016-10-18 17:30] axic commented on #789
@chfast is this implemented for Solidity too? If not, please reopen.

[2016-10-19 07:32] yaronvel opened #1246 "Signed EXP operations should be blocked"
The EVM `EXP` opcode (`0x0a`) arguments are two unsigned int.
Hence, solidity compiler should output an error (or at least a warning) for the following code:

[code]

[2016-10-19 08:17] chriseth commented on #1246
Negative integer exponents were introduced for fixed-point numbers, but it does not make sense to allow them for integers.

[2016-10-19 08:20] yaronvel commented on #1246
As far as I understand the EVM also does not support negative bases.
It would make perfect sense to support the code:

[code]

But the EVM does not support it

[2016-10-19 08:26] #1197 closed, assigned to axic

[2016-10-19 08:34] chriseth commented on #1242
Closed in https://github.com/ethereum/solidity/pull/1244

[2016-10-19 08:34] #1242 closed, assigned to pirapira

[2016-10-19 09:58] ethernomad commented on #1241
The problem is that `indexed` implies that it can be found quickly, e.g. when you click a button in a dapp data can be retrieved immediately. However this is not the case. With Geth's bloom filter implementation it can take many seconds to find a log with the correct topic.

In order to retrieve data quickly from the blockchain it needs to be in state because state slots are properly indexed. Logs

[2016-10-19 10:00] holiman commented on #1125
I am running an AFL-fuzz now, found it pretty straight-forward to set up.

Build and install AFL

[code]

Instrument the solidity source:

[code]

Create a sample input file, and an output directory, then do fuzzing

[code]

It's running, no crashes yet.

[2016-10-19 10:05] chriseth commented on #1125
@holiman we do not only want to detect segmentation faults but also InternalCompilerErrors. The problem with the latter is that this is still blocked by https://github.com/ethereum/solidity/issues/1133

Furthermore, if you want to get better example input, you can use https://github.com/ethereum/solidity/blob/develop/scripts/isolateTests.py to extract the end to end test cases from the .cpp file.

[2016-10-19 10:11] chriseth opened #1247 "Update gas costs in gas cost estimator"
The gas costs in the estimator do not reflect the latest hard fork changes. At best, it should be possible to select which "ruleset" to use for the estimation.

[2016-10-19 10:20] axic commented on #1247
See #1117.

[2016-10-19 12:36] #1207 closed, assigned to nobody

[2016-10-19 12:44] #561 closed, assigned to axic

[2016-10-19 13:13] #1149 closed, assigned to axic

[2016-10-19 14:15] #1090 closed, assigned to nobody

[2016-10-19 14:20] chriseth commented on #1241
Logs are intended to be retrieved immediately, so I think this should rather be fixed by adding an appropriate index on top of the bloom filter (e.g. a multi-level bloom filter). I would not want to change the language just because of a missing feature.

[2016-10-19 15:30] chriseth opened #1248 "Do not use the memcopy precompile"
The identity / memcopy precompile has always been quite expensive but it got even more expensive with EIP150. We should probably replace all its uses by a manual implementation.

An explicit gas cost calculation should be made before this change.

[2016-10-19 21:26] axic commented on #1216
Fixed by #1194.

[2016-10-19 21:26] #1216 closed, assigned to nobody

[2016-10-19 22:42] cdetrio commented on #1137
Its a bug for target_storage_size == 1 because in that case, the storage length and the storage value both fit in the same slot. So to overwrite it, there only needs to be one SSTORE operation.

For target_storage_size == 2, storing the value requires three storage slots: the first slot stores the length of the value, and the second and third slots store the value. So to overwrite it, there should

[2016-10-19 23:00] #1144 closed, assigned to axic

[2016-10-20 05:38] codywatts opened #1249 "Warn if built-in globals are shadowed"
"Built-in" functions such as `sha3` and `selfdestruct` can be hidden by functions and events with the same name. This can alter the functionality of contracts in non-obvious ways.

Consider [the following contract](https://ethereum.github.io/browser-solidity/#gist=d90c5a799aab7a1595e9c62a0c80a0d4):

[code]

At a glance, `SelfDestructive.die` appears to destroy the contract. But in fact, it's actua

[2016-10-20 05:54] codywatts opened #1250 "The output from events can be stored as a tuple"
Not harmful, just strange. Consider [the following contract](https://ethereum.github.io/browser-solidity/#gist=8e848da5cc28dfcf8093279a1cb5f0f0&version=soljson-v0.4.2+commit.af6afb04.js&optimize=true):

[code]

As shown, attempting to assign the result of a single event to a variable produces a compiler error, but assigning the results of _two_ events to a tuple is permitted.

(Tested using versio

[2016-10-20 07:49] chriseth commented on #1250
Thanks for the interesting find!

[2016-10-20 08:22] chriseth commented on #1249
This is all intended but should probably result in a warning if built-ins are overwritten, yes.

[2016-10-20 11:29] chriseth opened #1253 "Remove cryptopp as a dependoncy"
I think we can remove libcryptopp as a dependency from Solidity.

This includes
- [ ] the "install_deps" script,
- [ ]  the emscripten build scripts
- [ ] the release_ppa script
- [ ] cmake files

and potentially others.

[2016-10-20 12:45] chriseth opened #1255 "Rethink higher order bits cleanup"
The Solidity code generator has an optimization where it delays cleaning the higher order bits of variables that are not 256 bit types (for example, cleanup is only needed at the end of the following expression if all types are unsigned integers: `(x+y)*a`). This delay is dangerous in various situations, for example when such variables are used inside of inline assembly. It would be better to clea

[2016-10-20 12:49] chriseth commented on #1236
Such a fixed table becomes ineffective as soon as you have structs or mappings. I would prefer the compiler to do things like output size information about the types used. On the other hand, if a blockchain explorer wanted to make any use of the value in storage, it has to know its encoding anyway and the encoding (and the order of the variables) is everything you need to compute the location.

[2016-10-20 12:52] pirapira commented on #1222
Parsing in Isabelle/HOL takes time, so this issue is eventually necessary.

Moreover, parsing a list in Isabelle/HOL takes time (as a result, analysis of one instruction took  a few minutes at one point).  Instead, when the program is stored in a binary search tree (from program counters to opcodes), the analysis is more than 30 times faster.  I need to change the description of this issue so that

[2016-10-20 12:58] chriseth opened #1256 "Ranked overload resolution"
Currently, functions are selected as overload candidates if all arguments can be implicitly converted to the expected types. If there is not exactly one candidate, resolution fails.
This makes it impossible to call different functions depending on whether one argument is a storage or a memory array, because storage arrays can be implicitly converted to both storage and memory arrays.
We should add

[2016-10-20 12:58] chriseth commented on #1237
This is a missing planned feature I just copied from pivotal tracker: https://github.com/ethereum/solidity/issues/1256

[2016-10-20 13:01] #226 closed, assigned to chriseth

[2016-10-20 13:02] axic opened #1257 "solc --ast crashing on macOS"
Any contract which contains at least one function crashes on macOS (using 9d30450, it was crashing before this merge too):

[code]

[code]

Still on OS X El Capitan, but latest XCode:

[code]

Can anyone reproduce?

[2016-10-20 13:04] chriseth commented on #1257
Can you recreate the stack trace with debug symbols?

[2016-10-20 13:06] pirapira commented on #1236
@chriseth I see.  Here I want to output the encoding as an executable program.

[2016-10-20 13:06] chriseth commented on #1206
@axic sorry, I did not mean the technical term "verbatim", instead I meant it should be readable directly on the documentation website and the generated pdf.

[2016-10-20 13:07] chriseth commented on #1211
The type documentation is not exhaustive. Everything has a type but most types cannot be named in the source code.

[2016-10-20 13:11] pirapira commented on #1211
There should be some documentation about what has types and what does not.  I don't believe all types have types in Solidity.  There should be a name for those types that can be named in the source code.

[2016-10-20 13:16] pirapira opened #1258 "internal compiler error for int[-2] a"
At `0.4.3-develop.2016.10.20+commit.9d304501.Linux.g++`, an array of size -2 causes an internal compiler error.

[code]

I think this should be a type error.

[2016-10-20 13:17] axic commented on #1257
Bad news: doesn't crash in the debug build.

[2016-10-20 13:21] pirapira opened #1259 "an inconsistent error message for array size expressions"
At version `0.4.3-develop.2016.10.20+commit.9d304501.Linux.g++`, an array size can be a sum of constants, but cannot be a division by zero.  In case of division by zero, the error message says that the compiler expected an integer literal.

Either the index expression should be limited to an integer literal, or the error message should be changed to "expected a constant expression whose value is a

[2016-10-20 13:26] chriseth commented on #1257
Duplicate of https://github.com/ethereum/cpp-ethereum/issues/3173 (which is actually in the wrong repository).

[2016-10-20 14:41] tymat commented on #1257
Haven't seen this bug since upgrading to OS X Sierra.

[2016-10-20 18:47] zigguratt commented on #1233
I've started investigating whether it's possible to accomplish this without any changes to the LLL compiler. I've created [a repository](https://github.com/zigguratt/lll-constructor) with the beginnings of a [contract](https://github.com/zigguratt/lll-constructor/blob/master/constructor.lll) that retrieves deploy-time parameters from the end of the runtime contract binary.

It doesn't work yet, bu

[2016-10-20 20:55] #1173 closed, assigned to axic

[2016-10-21 05:54] tymat opened #1262 "Add support for IPFS"
We would like to see support for allowing import from an IPFS hash.

[code]

[2016-10-21 07:40] pirapira commented on #1222
I updated the topmost description with a binary tree example.

[2016-10-21 08:57] chriseth commented on #1262
This falls into the realm of the compiler "driver", i.e. browser-solidity, solc-js, dapple, truffle or whatever.

Moved to https://github.com/ethereum/browser-solidity/issues/274

[2016-10-21 08:57] #1262 closed, assigned to nobody

[2016-10-21 09:27] #549 closed, assigned to axic

[2016-10-21 10:20] axic commented on #325
@VoR0220 my concern is that for little benefit it makes unexpected behaviour possible, while we're trying to make it generally safer.

[2016-10-21 12:16] chriseth opened #1265 "Critical: Optimizer bug for multi-dimensional arrays"
The following code behaves differently with and without the optimizer:

[code]

[2016-10-21 13:18] lastperson commented on #1265
Another variation of probably the same bug:

[code]

[2016-10-21 13:29] #1131 closed, assigned to pirapira

[2016-10-21 13:32] lastperson commented on #1265
@chriseth the bug was introduced in solidity version: 0.3.6-55858de1

[2016-10-21 15:40] VoR0220 commented on #325
This is a fair concern. It's mere syntactic sugar and we ought to be focusing on safety atm. So I can see that concern. Closing for now.

[2016-10-21 15:40] #325 closed, assigned to nobody

[2016-10-21 17:22] pirapira commented on #887
@chriseth says `push x; pop` appears often currently.

[2016-10-22 10:05] axic opened #1268 "State variable (uint only?) initialisation includes dead code"
[code]

always seem to create a NOP (in the form of PUSH+POP):

[code]

[2016-10-22 12:30] yaronvel opened #1269 "No uninitialized variables warnings"
This code is compiling without any warnings:

[code]

I would expect warning message (not to mention error).

[2016-10-22 13:50] axic commented on #1269
Currently the scoping is designed this way (matches that of Javascript), read more at http://solidity.readthedocs.io/en/latest/control-structures.html?highlight=scoping#scoping-and-declarations.

I would agree that this isn't intuitive (unless someone understands Javascript deeply), see #219.

[2016-10-22 15:26] yaronvel commented on #1269
Regardless to the scope, warning for using uninitialized variables would be nice.
It almost always due to bug in the program.

[2016-10-22 18:13] axic commented on #1269
@yaronvel if you read the documentation, it states that there are no uninitialised variables, but implicitly set to the default value of the type (for numbers, that is 0).

In your example, the index will be `0 - 1`, which is a separate issue.

[2016-10-22 18:16] yaronvel commented on #1269
Ok, thanks.

[2016-10-23 12:32] axic commented on #1233
In order to accomplish this, there must be a new instruction added to LLL which emits the `PUSHSIZE` placeholder for Solidity's assembler.

@zigguratt added a WIP branch here, which introduces `(__pushsize)`: https://github.com/ethereum/solidity/tree/lll-constructor

At least it helps you to progress, but we'll need to review the actual syntax.

[code]

It seems to work properly, 8 is the codeleng

[2016-10-23 12:58] zigguratt commented on #1233
Well that's excellent, @axic! I'll give that a shot. Thanks very much for your efforts.

[2016-10-23 13:12] axic commented on #1233
We have at least three options here:
1. have a built-in method, such as `(program-size)`
2. expose `PUSHSIZE` to libevmasm and use it as: `(asm PUSHSIZE)`
3. introducing a built in tag/label for end-of-code in the assembler and thus using `(asm [CodeEnd])`

The second option I think is cleaner, but is a change outsize lll.

[2016-10-23 13:13] zigguratt commented on #1233
Compiling that branch and using the temporary `__pushsize` operator I was able to get the parameters passed in via web3.

[2016-10-23 13:16] zigguratt commented on #1233
Exposing `PUSHSIZE` to libevmasm makes it more generally available, but having a `program-size` operator in LLL is cleaner from a source code perspective. Either way, it really helps the LLL-resurrection effort. Thanks again, Alex!

[2016-10-23 16:20] zigguratt commented on #1233
I've modified my `lll-constructor` test [repo](https://github.com/zigguratt/lll-constructor) to use the `__pushsize` operator. All works as expected now! When the [`lll-constructor`](https://github.com/ethereum/solidity/tree/lll-constructor) branch hits the Solidity main branch and gets released, I'll update my code to reflect the final state of the new operator, however it gets implemented.

[2016-10-24 08:58] #1265 closed, assigned to chriseth

[2016-10-24 09:43] chriseth commented on #1211
Most of them are called "type names"

[2016-10-24 09:45] #1151 closed, assigned to pirapira

[2016-10-24 12:18] chriseth opened #1272 "Compile external code snippets"
This is the solidity part of [EIP 144](https://github.com/ethereum/EIPs/issues/144)

This feature will give users the ability to compile code snippet in the context of an existing contract without necessarily having to combine it with the contract itself.

If the compiler is in a state where source code is parsed and type checked, we can call `compileSnippet(code, contract)`, where `code` is valid

[2016-10-24 13:35] chriseth commented on #887
This optimizer could also use the rules in ExpressionClasses for local simplifications.

[2016-10-24 13:45] chriseth commented on #1268
Fixed by https://github.com/ethereum/solidity/issues/887

[2016-10-24 13:45] #1268 closed, assigned to nobody

[2016-10-24 13:46] chriseth commented on #1269
We plan to add some warnings about unused variables. Will close this one.

[2016-10-24 13:46] #1269 closed, assigned to nobody

[2016-10-24 13:53] #1116 closed, assigned to pirapira

[2016-10-24 13:55] #781 closed, assigned to nobody

[2016-10-24 13:58] chriseth commented on #1145
I think the first error is the same as the second only a check is missing from the first.

[2016-10-24 14:22] pirapira commented on #1246
So, for the next release, I understand `x ** y` should
- <del>be banned when `y` is a constant (RationalType?) known to be negative, and</del> (I changed my mind)
- be banned when either `x` or `y` is a signed integer

[2016-10-24 15:54] axic commented on #1268
Correction: will be fixed when #887 is fixed :smiley:

[2016-10-24 16:20] chriseth commented on #1048
There is no way to call the parent fallback from the child. I see no real reason to mark it anything apart from external.

[2016-10-24 21:03] axic commented on #1230
One addition to the above: it would be really useful to merge the two LLL dialects. The one in Solidity and the one used by Serpent (actually, Serpent **also** has the AST in s-expressions, which is not LLL).

[2016-10-24 21:08] axic opened #1275 "Add test suite for libevmasm (and the optimiser)"
This should have test cases written assembly, testing also the special codes for codesize, .data sections, etc.

Certain optimisations could be tested also, especially once #887 is implemented.

[2016-10-24 21:15] axic commented on #887
Is this the reason in some cases the optimiser fails to replace `EXP` by `PUSH`? It seems that usually it can replace `2 250 EXP`, but won't take `250 2 EXP`. The rule is with `powm()` so it should handle it.

[2016-10-25 02:41] IstoraMandiri opened #1277 "Natspec - support multiple return params"
I'm building a markup generator for the natspec/doxygen outputs.

Using `0.4.2+commit.af6afb04.Darwin.appleclang`.

I'm running into an issue with documenting methods that return more than one output - they are getting returned as a single string that's awkward to parse, when it seems it should be returning the same in the sam way as input `params`.

Contract input:

[code]

`solc --combined-json

[2016-10-25 03:47] IstoraMandiri commented on #1277
Sorry, duplicate: https://github.com/ethereum/solidity/issues/1141

[2016-10-25 03:47] #1277 closed, assigned to nobody

[2016-10-25 09:51] axic commented on #1256
This is needed so much!

The case when there's an exact match with other convertible types should be fixed very soon. I've this problem `uint`s:

[code]

[2016-10-25 10:52] chriseth commented on #1275
There already are some tests for the optimizer, but yes, the suite could be extended. The problem is that those tests are hard to get stable.

[2016-10-25 10:56] axic commented on #1275
Peephole optimiser tests would be stable enough (assuming the tests address single optimisation cases and maybe some combined ones).

[2016-10-25 12:08] axic commented on #725
@graup is the current documentation still confusing? Would you be able to summarize in a few points here how to improve it?

[2016-10-25 12:40] graup commented on #725
Since `npm install solc` now works as expected, I think this issue can be closed.

[2016-10-25 13:48] chriseth commented on #1183
I added an empty `prerelease.txt` file to the release branch, but I'm actually not sure whether this is the correct fix. The proper fix would be to not rely on the tarballs generated by github. Is it possible to change your build scripts to just build tagged commits on the release branch directly from git?

[2016-10-25 13:59] axic opened #1282 "EndToEnd tests should run with both optimiser disabled and enabled"
Currently we only have a separate test suite (SolidityOptimizer) using the optimiser.

[2016-10-25 14:17] #725 closed, assigned to bobsummerwill

[2016-10-25 14:20] MathyV commented on #1183
Using the git tags would require extra maintenance (the .ebuild script needs to be updated every release) plus the person installing solidity needs to have git installed on their PC. In general these kind of .ebuilds are only reserved for very unstable releases and would probably be rejected by the Gentoo devs.

Besides, even if I would do that, the prelease.txt is still missing from those branche

[2016-10-25 14:24] chriseth commented on #1282
The short end to end tests usually do not trigger optimizer problems. The contract tests are run with optimizer enabled and disabled, so I think we should extend those.

[2016-10-25 14:25] chriseth commented on #1183
Yes, we might extract this tarball generation from our ppa release scripts.

[2016-10-25 14:28] chriseth commented on #1275
Indeed, but we do not have such an optimizer yet.

[2016-10-25 14:32] chriseth opened #1283 "solc does not fail if output directory does not exist"

[2016-10-25 14:35] chriseth commented on #887
There is a tradeoff between deploy-time costs and run-time costs. We currently use a crude heuristic and its parameter can be modified using the `--optimize-runs` switch.

[2016-10-25 15:00] zigguratt commented on #1230
I didn't know there were two dialects of LLL! Are there any big differences between the two? Also, since Serpent can compile directly to bytecode now, is there a continuing need for LLL there?

[2016-10-25 17:46] aakilfernandes opened #1284 "Request: bytes34"
An ipfs multihash is by default 34 bytes. Is it possible to support bytes34?

[2016-10-25 21:30] axic commented on #1284
The main point of `bytesNN` is that it takes up one stack / storage slot, while `bytes` / `string` has the length as a 256 bit field preceding the data. This means that `bytes` cannot be used on stack operations easily and the conversion between `bytesNN` and `bytes` requires spending gas.

You can use `bytes` right now to store multihash values, introducing `bytes34` would not make the situation

[2016-10-25 21:47] VoR0220 commented on #1284
I honestly would just make a library containing a special type for IPFS/Swarm hashes at this point.

[2016-10-25 21:48] VoR0220 commented on #1230
I could be wrong but doesn't moving LLL out have implications for inline assembly?

[2016-10-26 00:18] axic commented on #1230
@VoR0220 LLL is not used within Solidity. LLL depends on libevmasm, which is now maintained in Solidity.

[2016-10-26 00:28] tymat commented on #1284
IPFS addresses are:
1. base58 encoded
2. padded with a single byte hash tag
3. Prefixed with Qm

Removing the hash tag and the prefix will allow you to fit it inside a bytes32 data type.  You can check a sample implementation [here](https://github.com/tinybike/multi-hash)

[2016-10-26 00:38] axic commented on #1284
@tymat multihash itself has a header describing the hash family and type. For example sha256 or sha3-256 both will result in 32 bytes of output, which is then prefixed with the header.

It won't fit into `bytes32`.

What you see as Qm is actually the header in base58 encoding.

[2016-10-26 00:44] VoR0220 commented on #1230
Ah...good to know.

[2016-10-26 00:45] VoR0220 commented on #1282
++

[2016-10-26 05:01] ethernomad commented on #1284
For future compatibility you should use `bytes` as multihashes could get longer. More expensive though...

[2016-10-26 05:36] VoR0220 commented on #583
first step to this issue appears to be building an "expect warning" system...building

[2016-10-26 07:35] chriseth commented on #1284
I would recommend either using `bytes`, juts two variables or a struct. The latter will hopefully be part of the ABI soon. Please reopen if you see the need for more discussion.

[2016-10-26 07:35] #1284 closed, assigned to nobody

[2016-10-26 08:26] pirapira opened #1286 "Access to events through contract names."
In `0.4.4-develop.2016.10.26+commit.4f1b5d26.Linux.g++` it is impossible to look up events through inheritance if the base contract is explicitly specified.

The following code fails to compile:

[code]

with

[code]

This is very similar to #988.

[2016-10-26 08:29] ethernomad opened #1287 "bytes32 parameters cost more than uint256"
[code]

Without optimisation:
testBytes32(42): 156 gas
testUInt256(42): 134 gas

With optimisation:
testBytes32(42): 116 gas
testUInt256(42): 94 gas

Why is this? Surely it should be the same?

[2016-10-26 09:08] axic commented on #1287
The dispatcher code (matching ABI signatures to method locations) needs to check for each supported signature one by one. The later the function is in the dispatcher chain, the more gas it takes.

[2016-10-26 09:12] ethernomad commented on #1287
Ah this hadn't occurred to me. How does one control the order of the signatures in the dispatcher chain? It would be useful to put more commonly called functions at the beginning.

[2016-10-26 09:14] axic commented on #1287
I think the signature hashes are sorted, so you could try creating hashes which are a smaller number than the others :smiley:

One optimisation though: if the fallback is defined, it comes first.

[2016-10-26 09:16] #1287 closed, assigned to nobody

[2016-10-26 09:37] axic opened #1288 "LLL: support the Serpent dialect of LLL"
The basic keywords supported Serpent are:
- `ref`
- `get`
- `set`
- `comment` - not supported here
- `ops` - not supported here (seems to be equivalent to `(asm ..)`)
- `lll`
- `with` - not supported here
- `seq`
- `unless`
- `if`
- `until` - ~~not supported here~~ added by #1294
- `alloc`
- and every EVM assembly opcode - ~~not supported here~~

`with` defines a context where a variable is forced

[2016-10-26 09:38] axic commented on #1230
See #1288.

I don't think it can directly compile to bytecode as it always uses LLL in the internal steps (including optimisation). Indeed it is able to output bytecode directly, as well as LLL.

[2016-10-26 09:52] axic opened #1289 "Document the subtleties of the dispatcher"
- [ ] The dispatcher has to check through all ABI signatures. The later the requested method is in the list, the more it will cost.
- [ ] Mention the order of gas cost differences (~20 gas for each additional step - as of EIP150).
- [ ] The signatures are sorted by value
- [ ] Fallback, if present, gets to be first (special case)

[2016-10-26 09:52] axic commented on #1287
Replaced by #1289.

[2016-10-26 09:53] ethernomad opened #1290 "Access to constants through contract names"
It is currently possible to do this:

[code]

But surely it should be possible to do this:

[code]

[2016-10-26 10:00] axic commented on #1288
@zigguratt can any of the missing ones by implemented via a built-in?

[2016-10-26 10:35] zigguratt commented on #1230
So, it can or cannot compile directly to bytecode? Sorry, I'm a bit confused. :)

[2016-10-26 11:00] axic commented on #1230
I can see it became a bit convoluted :wink:

It can output bytecode directly to the user, but internally it will go through LLL in every case.

[2016-10-26 11:10] chriseth opened #1291 "Prerelease warning made warning tests ineffective"
Due to the fact that every prerelease version of a compiler emits a warning for every input, the tests that check for the existing of some warning are now ineffective. We should change these tests to check the actual warning text.

[2016-10-26 11:14] zigguratt commented on #1230
Ah, ok! So it even goes through LLL when it's outputting bytecode to the user as well? Looks like Serpent is stuck with an LLL dependency.

[2016-10-26 11:32] axic commented on #1230
It has its own LLL implementation though, no code dependency on this project.

[2016-10-26 11:42] zigguratt commented on #1230
Understood. So the idea here is to have the Solidity-based LLL support the Serpent-based LLL keywords that we lack. Is the plan to have Serpent possibly use the Solidity-based LLL compiler, or is it more a desire to have them be functionally equivalent? I can see `with` being useful for sure. `until` less so, but would still come in handy.

[2016-10-26 11:43] axic commented on #1291
This should be done for the errors too - we want to check for specific errors and not "it's fine if any error has happened".

[2016-10-26 11:45] axic commented on #1230
I think it fits into the "review the syntax / semantics" point mentioned above. I would vouch for having a basic keywords set which makes the most sense and reviewing the knowledge from both trees seems like a good way to start this process.

[2016-10-26 11:49] zigguratt commented on #1230
That sounds reasonable! In that case I would vote against adding a `comment` keyword. :)

[2016-10-26 12:14] zigguratt commented on #1288
At a glance, it doesn't look like any of the Serpent-only LLL keywords would be easily implemented in a built-in macro. We have:

[code]

`comment` doesn't seem very useful, IMHO. `ops` does look like it's an `asm` equivalent. From Serpent's `compiler.cpp` for `ops`:

[code]

That leaves `with` and `until`, I'm pretty sure `with` would need compiler support. `until` is the inverse of `while`, so w

[2016-10-26 12:28] #1246 closed, assigned to pirapira

[2016-10-26 12:39] zigguratt commented on #1288
the Solidity LLL compiler supports some EVM opcodes. Are there any missing?

EDIT: I found this in the old [POC 6 LLL documentation](https://github.com/ethereum/cpp-ethereum/wiki/LLL-PoC-6/04fae9e627ac84d771faddcf60098ad09230ab58#basic-syntax):

[2016-10-26 12:39] chriseth commented on #1289
Do we really want that deep level of documentation? Keep in mind that we have to keep it updated. Perhaps it would be better to tell people to look at the gas estimation for their functions. Furthermore, we should really use binary search for large contracts. And last but not least: Tell people that gas costs are subject to change with any hard fork and they should never rely on them.

[2016-10-26 12:41] chriseth commented on #1290
We still have to figure out how we want constants to behave exactly. Currently, I think you might be able to access private information via constants, which is perhaps not such a good idea.

[2016-10-26 14:15] zigguratt commented on #1288
`until` has now been added to the Solidity LLL compiler: #1294

[2016-10-26 16:30] zigguratt opened #1295 "LLL: Add a proper versioning system"
Currently there's no versioning associated with the LLL compiler. The output of `lllc --version` is:

[code]

At the very least we need to return a version number when someone asks for it with `--version`. Something like Solidity's `--version` output would probably make sense:

[code]

A `pragma` keyword should also be considered now that LLL development is no longer stagnant and new features and

[2016-10-27 01:18] axic commented on #1230
I'm thinking about introducing `panic` as a keyword which does a known invalid jump. (I like `panic` better than `throw`, because the latter implies it can be caught. We could of course have a suboptimal implementation to catch `throw`s.)

[2016-10-27 08:16] jwter opened #1299 ""npm install solc" fail on MacOS"
install solidity on Mac.
on command line input "npm install solc" output :
npm WARN enoent ENOENT: no such file or directory, open '/Users/jwter/develop/package.json'
npm WARN develop No description
npm WARN develop No repository field.
npm WARN develop No README data
npm WARN develop No license field.
so. check file system. can see "node_modules" on finder. and  really ont  have that files

[2016-10-27 08:17] jwter commented on #1299
is a new version problem ?

[2016-10-27 12:25] zigguratt commented on #1230
`panic` would work. It could actually be added as a built-in macro:

[code]

In my LLL contracts I usually define `invalid-location` as `0x02` and then do:

[code]

[2016-10-27 12:42] axic commented on #1230
`(jump 0x02)` does not necessarily means an invalid jump. It depends on what is at location `0x02`, and that is mostly beyond the control of the LLL source.

See the example implementation here: https://github.com/ethereum/solidity/tree/lll-panic

[2016-10-27 12:45] zigguratt commented on #1230
I was under the impression that Solidity used `0x02` as its `throw` destination. Maybe I misunderstood, but that's the answer I got when I asked the question on `ethereum/solidity` a few months back. So perhaps it needs compiler support after all.

[2016-10-27 12:47] axic commented on #1230
For Solidity that is always true, because every Solidity bytecode beings with a `PUSH` for setting up the end-of-memory pointer. Therefore at location 0x02 there won't ever be a `JUMPDEST`.

[2016-10-27 12:49] zigguratt commented on #1230
Ah, now it all makes sense! :grin: And your `lll-panic` code jumping to an error tag guarantees an invalid jump. So we really do need the `panic` keyword.

[2016-10-27 12:54] axic commented on #1230
I think it is safer, but then again, it is yet another keyword.

In the future, if we improve the `(asm)` keyword to support labels, we could hide it there, such as `(def 'panic (asm PUSH [ErrorTag] JUMP))`. (Similar to how `__pushsize` could be improved.)

[2016-10-27 13:05] axic commented on #1295
I think regarding `--version`, for the moment it should just output the version of the Solidity tree, as that's where it resides.

I'm not sure about `pragma` though :smiley:

[2016-10-27 13:13] zigguratt commented on #1295
Where can one get the version number of the Solidity tree? (Ah, `dev::solidity::VersionString`) That would be fine with me. It's got to be better than what it's doing now. :grin:

Re: `pragma`, it was just a thought. If people don't think it's necessary then I have no problem with that.

[2016-10-27 13:21] cupuyc opened #1300 "Error during building native binary for Windows v0.4.3"
Hello,

I tried to build `tags/v0.4.3` on Windows following wiki instructions. I got error:

[code]

Full trace is here:
https://gist.github.com/cupuyc/9b445d326aba8fc205d88861227c22cd

I see same question is asked here:
https://forum.ethereum.org/discussion/10038/no-cmake-cxx-compiler-could-be-found

Thanks,
Stan

[2016-10-27 14:34] chriseth commented on #1299
npm might be confused by the contents in the directory where you execute the command. Can you do that in a freshly created directory? It might also be better to use `npm install -g solc` or `sudo npm install -g solc`.

[2016-10-27 14:42] cupuyc commented on #1300
Fix is in #1301

[2016-10-27 14:46] chriseth commented on #1230
It's not true that `0x02` is always an invalid jump in Solidity because the optimizer may do what it pleases. Furthermore, Solidity would not rely on such a fragile feature :-)
Instead, you can just use `Assembly::errorTag()` which is assigned the smallest invalid position during the assembly phase.

Furthermore, the `throw` keyword was used in Solidity with the intention of actually allowing the

[2016-10-27 14:47] chriseth commented on #1295
lll cannot get the solidity version unless it links against libsolidity, but we can have a similar mechanism for lll.

[2016-10-27 14:58] zigguratt commented on #1295
@chriseth Yep, I discovered that already. :grin: I'll look into how Solidity does its version string, then.

[2016-10-27 15:09] zigguratt commented on #1230
That's odd. I believe you @chriseth , but people are certainly under the wrong impression on `ethereum/solidity`! When I asked back on [July 1st of this year](https://gitter.im/ethereum/solidity?at=5776dfd035bfead37956ef9c), a couple of people came up with `0x02` as the location to which Solidity jumped on `throw`.

It looks like we'll have a proper implementation soon, so it's no big deal.

[2016-10-27 20:18] #1300 closed, assigned to nobody

[2016-10-27 21:17] IstoraMandiri commented on #1141
- How about modifiers, struct, event, variable definitions?
- It appears that only `@name` and `@author` work for the contract definition. Would be nice to include `@dev` and `@notice`.
- should docs also be outputted for inherited methods? otherwise, doc generators will need to manually parse the AST to determine inherited methods
- I noticed that the method params are getting added to `devdoc` r

[2016-10-27 21:57] yaronvel commented on #1246
I think it might be ok to allow x to be signed.
I think that for every `y >= 0`:

[code]

It holds for `x = -1`, and therefor by programmers induction should work for any negative `x` :)
Seriously though, it might really be the case.

[2016-10-28 01:30] axic commented on #1230
The lll-panic branch does that :wink:

[2016-10-28 11:41] pirapira opened #1303 "Allow signed ** unsigned"
As @yaronvel [suggested](https://github.com/ethereum/solidity/issues/1246#issuecomment-256781769), `signed ** unsigned == signed` operations do make sense and can be implemented by the `EXP` instruction.

This issue keeps track of adding these in Solidity.  We need first to convince the type checker that the left operand and the right operand of `**` can be of different types.

[2016-10-28 11:43] pirapira commented on #1246
@yaronvel I added an issue about this in #1303.  I chose to add `signed ** unsigned` rather than allowing `unsigned ** unsigned` and checking `y >= 0` at run-time.

[2016-10-28 12:38] zigguratt commented on #1295
Looks like adding a version string to LLL is beyond my current understanding of the code base and build process. It'll have to wait until I have a better grasp or until someone else does the work.

[2016-10-28 15:04] #933 closed, assigned to winsvega

[2016-10-30 08:32] ethernomad opened #1304 "Payable modifier not required to send funds to constructor"
Should the constructor need to be `payable` in order for it to receive funds during deployment? Currently this is not the case.

Not that important because there are always other ways to put funds into an account, but I think it should be possible to write a contract that can not receive funds during deployment.

[2016-10-30 12:47] wighawag opened #1305 "eth_call block.blockhash(n) == sendTransaction block.blockhash(n+1)"
I do not know whether it is a bug in solidity or the evm but it is quite serious
Basically code executed on an call differ from code executed as part of transaction in regard to blockhash

I created a gist for browser solidity here : https://ethereum.github.io/browser-solidity/#version=soljson-v0.4.3+commit.2353da71.js&optimize=true&gist=2bd29ecb4148205918a55d2fed599c30

contract address : 0x56E67

[2016-10-30 13:03] axic commented on #1305
This seems to be working for me in the VM mode of latest browser-solidity. Note, the starting block number is 1150000.

My steps:
- create contract (that is in block 1150000)
- run `getBlockHash(1150000)` -> `0x18676e992055c057538d59b378271bb4eacdb7f6abf9e815fd63255dc11166b6`
- run `saveBlockHash(1150000)`
- run `getSavedBlockHash()` -> `0x18676e992055c057538d59b378271bb4eacdb7f6abf9e815fd63255dc1

[2016-10-30 13:11] wighawag commented on #1305
I can confirm, using the VM, I get proper behavior. Using metamask on the testnet chain, I still get the issue. Might be an issue with metamask VM

[2016-10-30 13:14] axic commented on #1305
Closing as it is not a bug in Solidity.

[2016-10-30 13:14] #1305 closed, assigned to nobody

[2016-10-30 17:15] catageek opened #1306 "Storage corruption when addition on storage element overflows"
The following code returns 1 instead of 0 because the addition overflows. The assembly code shows that the AND mask is applied before the addition and not after, resulting in the corruption of b.

[code]

I suppose that writing in a should not corrupt b in any case.

Solidity version: 0.4.3+commit.2353da71.Emscripten.clang

[2016-10-31 06:42] ethernomad commented on #1306
Confirmed. I can reproduce this bug with and without optimization all the way back to 0.1.6.

[2016-10-31 11:48] chriseth commented on #1306
Simpler example:

[code]

[2016-10-31 17:35] #1306 closed, assigned to chriseth

[2016-10-31 20:02] pirapira opened #1309 "Append compiler version & code hash to the runtime code"
Maybe some users want to append some meta information in the runtime code.
* the compiler version
* some hash of the source code
so that the origin of the runtime code is clearer.  I liked an idea of @konradkonrad around here.

[2016-10-31 20:08] chriseth commented on #1309
Duplicated: https://github.com/ethereum/solidity/issues/611 - if not, please reopen.

[2016-10-31 20:08] #1309 closed, assigned to nobody

[2016-10-31 22:18] axic commented on #1233
Irrelevant to how this will be internally implemented (either directly as a keyword or as a builtin mapping to the assembly) we need to come up with a name.

Some ideas:
- `program-size`
- `bytecode-size`
- `compiled-size`
- `lll-size` or `lllsize` (as a counterpart to the `lll` keyword)

Note that `lll <sequence> <memoffset>` wraps the passed sequence into a code block which is copied to the memo

[2016-11-01 09:47] chriseth opened #1311 "Check enums for overflow during conversion"
Solidity should throw an exception for conversions to enum that do not fit the enum.

[2016-11-01 09:48] chriseth opened #1312 "Clean higher order bits when loading from calldata"

[2016-11-01 10:50] zigguratt commented on #1233
I'm leaning toward `bytecode-size`, myself. Doesn't the `lll` keyword return the size of the code that will be deployed to the blockchain, not the size of the binary that's running on deployment?

[2016-11-01 13:29] axic commented on #1233
If we would have symbols working properly, this could be a builtin:

[code]

And used as:

[code]

[2016-11-01 13:40] zigguratt commented on #1233
That makes things a lot clearer!

[2016-11-01 22:14] axic commented on #1233
We've come to a conclusion with @zigguratt to name it `bytecodesize`.

[2016-11-01 22:56] zigguratt commented on #1233
Thanks for your participation and efforts in this, @axic. This means a lot to the future of LLL despite the small code change.

[2016-11-02 12:49] pirapira opened #1318 "Convert boolean values to one bit"
Currently when a boolean value is loaded from the storage, they are masked against 255 but this leaves 8 bits.  Boolean values should be truncated to one bit.

[2016-11-02 12:52] chriseth opened #1319 "Cross-Inline-Assembly block functions."
TODO:
 - [ ] make inline assembly functions globally available

Most of the ideas below have been implemented. What we are missing is functions that can be used across multiple inline-assembly blocks. In the code generator, this is supported via "named labels".

It is not really supported in the assembly parser, though, but we could always prefix all known inline assembly functions that parsed cor

[2016-11-02 12:59] chriseth opened #1320 "Refactor to use assembly as real intermediate language"
Currently, Solidity does not have a real intermediate language in the sense that this language could be stored in a file and re-compiled. If we had such an intermediate language, it would be easier to verify the correctness of compilation and compilation result, especially in connection with macros ( #1319 ), because the correctness of macros could be established one by one.

The "Solidity inline

[2016-11-02 13:27] chriseth opened #1321 "Documentation: how to install on arch linux"
Solidity is part of the official repository, so it should be easy.

[2016-11-03 02:32] VoR0220 commented on #1320
^yes.

[2016-11-03 07:27] slothbag opened #1322 "Cross platform compilation issues"
I have been relying on the cross platform builds of solc for compiling solidity contracts, OSX builds fairly easily with a couple of brew installs `make solc` works well.

However i'm having trouble compiling on Linux and Windows, although I can probably grab a ppa binary for linux if I really needed it.

After installing jsoncpp and boost libs Windows is throwing errors while running `cmake ..` w

[2016-11-03 09:35] jwter commented on #1299
solc compile is install this ?  or  download "https://github.com/ethereum/solidity"  build from source?
i install with "npm install -g solc" ,but  just install 'usr/local/bin/solcjs'  don't have 'solc'
and some error when command excute "

Specify --help for available options

[code]

"

[2016-11-03 09:37] chriseth commented on #1322
We are constantly building solidity on windows and linux, so I would like to see the issues you are facing. I can try to see whether we can improve on our binary release process.

[2016-11-03 09:53] slothbag commented on #1322
First issue, is it compatible with Boost 1.6.2?

[code]

[2016-11-03 13:58] ghost commented on #1306
Has this issue been fixed if we do pragma solidity ^0.4.4?

[2016-11-03 18:49] #1233 closed, assigned to axic

[2016-11-04 10:31] #1295 closed, assigned to axic

[2016-11-04 10:48] chriseth commented on #1319
The solution regarding visibility of labels and macros could be the following:
All label and macro definitions in inline assembly are automatically prefixed with the current contract and function name during the translation to actual assembly. Label and macro references are first looked up at the local "scope" (by prefixing it with contract and function name) and then more and more general scopes

[2016-11-04 10:50] chriseth commented on #1299
You cannot use the npm package together with geth, it is solely meant to be used inside a javascript environment directly. If you want to use it with geth and `eth.compile.solidity` (which is discouraged due to its inflexibility), you have to either compile from source or install a homebrew package.

[2016-11-04 11:53] pirapira commented on #1084
#1292 fixes this issue.

[2016-11-04 15:48] pirapira opened #1326 "Inline assembly in constructor cannot write to state variables"
Version: 0.4.5-develop.2016.11.4+commit.dd0879fe.Linux.g++ says

[code]
for the following code
[code]

For comparison, when I write to a variable declared in the constructor function, the code compiles.

[2016-11-04 16:35] axic commented on #1319
Somewhat related: #474

[2016-11-04 18:08] axic opened #1328 "AST output should contain visibility levels for functions"
(Follow up from #1325.)

[2016-11-05 10:58] axic commented on #1306
@Physes yes, it is fixed in the 0.4.4 version and the pragma will ensure it cannot be compiled with earlier versions.

[2016-11-05 15:30] chriseth commented on #1320
Further potential feature for inline assembly (especially important for macros):
`(x, y, z) := f(a, b,c)` - if `f` returns more than one stack element, those can be assigned to variables, also available in the form `let (x, y, z) := f(a, b, c)`

[2016-11-05 18:27] aakilfernandes commented on #1284
@chriseth nope sounds good. Thanks!

[2016-11-05 18:30] aakilfernandes opened #1331 "Documentation request: hash type"
I see a mention of a `hash160` type here: https://github.com/ethereum/wiki/wiki/Solidity-Features#conversion-between-string-and-hash-types

But nothing in the docs http://solidity.readthedocs.io/

Does documentation exist? If not could we get some?

Thanks!

[2016-11-05 19:08] axic commented on #1331
It was removed from the language a long while ago.

The wiki is also obsoleted by readthedocs as far as I know. Perhaps it should be replaced with a link?

As alternative to hash160, you have `uint160` and `bytes20` (also `address` if it is an address).

[2016-11-05 19:43] chriseth commented on #1319
Some examples:

[code]

[2016-11-05 19:44] chriseth commented on #1331
The purpose of that wiki page is explained at its beginning. The only alternative to doing nothing I see here is deleting that page, but I'm not sure if that is the way to go. How do people get to that wiki page?

[2016-11-06 10:35] axic commented on #1331
I would rather include all the details from the wiki in the documentation **and** redirect the wiki to the documentation.

[2016-11-06 10:41] axic commented on #1319
The macros I'd like to see (copied from #474):
- shifts
- memory allocation
- memory copy

[code]

[2016-11-07 09:56] chriseth commented on #1319
Your example usage shows that we have to refine our definition of macros with regards to their return values. As currently specified, `offset` and `size` point to the same stack slot, but most people will probably not read that part. So it is probably better to shift the arguments and return values around at the end of the macro. This makes short macros much less efficient, unless the optimizer ca

[2016-11-07 10:44] akshay111meher commented on #1112
i have written down the contract above. please try adding it t test network. if length of contract exceeds, it variables in the contract are not getting assigned

[2016-11-07 11:32] chriseth commented on #1322
I think version `106200` is version `1.62.0` which should be supported. I think this error is rather about boost not being found on your system.

[2016-11-07 11:49] chriseth opened #1332 "Documentation: Mention doxity in the "tools" section"
https://github.com/DigixGlobal/doxity

[2016-11-07 12:04] ethernomad commented on #1238
https://github.com/DigixGlobal/doxity

[2016-11-07 12:04] #1238 closed, assigned to nobody

[2016-11-07 13:47] chriseth commented on #1326
Inline assembly cannot access storage values as lvalues in general, it can only access stack variables, and that is by design. In the future, you can do `sstore_uint256(codesize)`, but we are not there yet.

[2016-11-07 13:51] chriseth commented on #1331
All the details from that wiki page are included in the documentation.

[2016-11-07 13:55] pirapira commented on #1326
OK.  I was mistaken about what the documentation says.

[2016-11-07 13:55] #1326 closed, assigned to nobody

[2016-11-07 13:55] chriseth commented on #1112
I tried this in browser-solidity, but the names get assigned for me. Which environment do you use? Perhaps the encoding of the strings is incorrect?

[2016-11-07 18:49] ameten commented on #1172
@pirapira, @chriseth, @axic! I have implemented the most simple mutations!

[2016-11-07 22:32] VoR0220 opened #1336 "Incorrect Public Getter Created for Static Array"
It would appear that currently the ABI we get from a contract such as this:

[code]

returns something like this:

[code]

I don't think storedData in this instance should be taking a uint as input to find the index value, rather it should take no inputs and return the entire static array. Looking to see if anyone agrees with this?

[2016-11-07 22:38] axic commented on #1336
The ABI and the code matches. This is the current behaviour and it mentioned in the documentation: http://solidity.readthedocs.io/en/develop/types.html?highlight=accessor#arrays

Changing it is a breaking change and is not possible currently for variable length arrays (at least other contracts would have a hard time retrieving them).

[2016-11-08 10:24] #1336 closed, assigned to nobody

[2016-11-08 12:30] zigguratt commented on #1188
It's not looking good for being able to fix this bug. @axic and I have looked in-depth at the `lit` code in the compiler. Having to look up symbols at compile time is a problem because, according to @axic, "the whole compiler works on the assumption that everything is evaluated runtime and no instructions are there to be evaluated an compile time".

That makes sense. Sadly, it introduces a situati

[2016-11-08 12:47] #789 closed, assigned to chfast

[2016-11-08 12:50] chriseth commented on #1180
We could use the test framework added in https://github.com/ethereum/solidity/pull/1317

[2016-11-08 18:10] aakilfernandes opened #1340 "Standardize padding"
[code]

`senderExplicit` padded left, while `stringExplicit` is padded right. Is there any reason this cant be standardized?

[2016-11-08 19:37] VoR0220 commented on #1336
Correct that its not possible for variable length arrays but i strongly feel like for static arrays this ought to be doable.

[2016-11-08 22:50] axic commented on #1340
`msg.sender` is an `address` (which is a special case of `uint`: `uint160`). Typecasting to `bytes32` will not change the value, just the type. Numbers are stored as big endian ("left padded").

A string on the other hand is a `bytes` type (variable length), and when typecasting to `bytes32` that is right padded.

[2016-11-08 22:53] axic opened #1341 "Investigate emscripten build to reduce size / increase speed"
Currently loading the emscripten output can take a while. In the commandline (`solcjs`) it can easily take 5 seconds, while in browsers it can be faster due to caching in the VM.

We should investigate the build script to see if optimising for different requirements (`-Os` vs. `-O3`, size vs. speed) might produce asm.js outputs with different loading speed.

Also we should double check if dead cod

[2016-11-08 22:54] axic commented on #1341
In https://github.com/ethereum/solidity/blob/develop/scripts/travis-emscripten/build_emscripten.sh we link against many boost libraries, some of htem seem unrelated to the jsonCompiler:

[code]

[2016-11-08 22:56] axic commented on #1341
@chriseth today's build after merging the removal of cryptopp actually resulted in a bigger binary:

[code]

This suggest dead code is not eliminated.

[2016-11-08 23:05] aakilfernandes commented on #1340
@axic so am i correct that everything that is fixed length is left padded, everything else is right padded?

[2016-11-08 23:06] aakilfernandes commented on #1340
Also, why not left-pad variable length vars?

[2016-11-08 23:17] chfast commented on #1341
This suggested actually the opposite, at least for simple linker case. We were linking with unnecessary cryptopp library and that did not produce bigger "binary" (I checked that when I was removing it, the size was the same).

The best solution for shared library is to limit the visibility of symbols, otherwise all non-internal functions are exported. This reduced the size of evmjit shared library

[2016-11-08 23:28] axic commented on #1341
You're right, it is too later here to be productive 😉

[2016-11-08 23:33] axic commented on #1341
It also seems like `soljson` is an executable (and not library) target (but also exports methods?): https://github.com/ethereum/solidity/blob/develop/solc/CMakeLists.txt#L21

It must be some weird way Emscripten uses.

[2016-11-08 23:56] axic commented on #1341
This suggests a some ideas https://kripken.github.io/emscripten-site/docs/optimizing/Optimizing-Code.html:
1. outlining (can help or make it worse)
2. limit inlining (reduces size, may result in worse speed)
3. memory file (this would result in two files and may be painful with async loading it, but definitely improves speed)
4. LLVM optims:

[code]
1. use closure:

[code]
1. `ELIMINATE_DUPLICATE_

[2016-11-09 00:32] axic commented on #1336
@VoR0220 I think it would need to be a new feature. Do you have any ideas for notation?

[2016-11-09 00:56] axic opened #1343 "Enum constructor accepts signed int"
[code]

Returns `-1`, which is invalid enum value.

[2016-11-09 00:58] axic commented on #1343
@pirapira probably this could be fixed by #1334 easily?

[2016-11-09 01:00] axic opened #1344 "Enum constructor truncates value inconsistently"
[code]

returns `0x00000000000000000000000000000000000000000000000000000000000000ff`.

[code]

returns `0xffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff`

[2016-11-09 01:00] axic commented on #1344
@pirapira probably this could be fixed by #1334 easily?

[2016-11-09 10:16] chriseth commented on #1320
I think we should spend some minutes talking about style before merging https://github.com/ethereum/solidity/pull/1327/files and we should probably define all the items mentioned above.

Generally about the style: Opcodes are lowercase and do not use camelcase. Should we follow that? What about prefixing system-level objects/routines/opcode-like symbols with e.g. a dollar sign?
- sub-assemblies:

[2016-11-09 10:43] chriseth commented on #937
Should be fixed now, as we link statically to libjsoncpp. closing - please reopen if the bug is still present on develop.

[2016-11-09 10:43] #937 closed, assigned to nobody

[2016-11-09 10:43] pirapira commented on #1343
@axic I added a test in #1334.  For `-1` #1334 already works.

[2016-11-09 10:51] pirapira commented on #1344
On #1334, I added a test that sees `ActionChoices(-1)` throw an exception.

[2016-11-09 11:06] axic commented on #1344
I'm actually concerned a bit why is the value different on those two cases above.

[2016-11-09 11:09] axic opened #1346 "Empty enums are allowed by the compiler"
[code]

This will be a useless construct after #1311 is fixed.

[2016-11-09 11:43] slothbag commented on #937
`cmake ..` fails on this line https://github.com/ethereum/solidity/blob/develop/CMakeLists.txt#L16

because the file `deps/jsoncpp.cmake` is not in the repo.

[2016-11-09 12:03] axic commented on #937
@slothbag you need to update the `deps` submodule I think

[2016-11-09 13:01] chriseth opened #1347 "Allow conversion from external function type to address"

[2016-11-09 13:31] chriseth commented on #1346
This should be just caught in the parser.

[2016-11-09 13:35] slothbag commented on #937
Thanks, got it building on Linux now.  Had to update and build latest Boost also.

[2016-11-09 13:40] chriseth commented on #1344
There was no cleanup for enums previously.

[2016-11-09 13:44] pirapira commented on #1344
@axic The difference comes from storage access.  When an enum is stored into the storage, the value is truncated.

[2016-11-09 13:45] axic commented on #1344
Oh right, that's storage. And enum's are stored as the shortest int type they fit in. I would argue the same should apply to when they are a variable in memory / stack.

[2016-11-09 13:51] slothbag commented on #1322
After a lot of trial and error I have managed to get solc to build on Linux and Windows.

On Windows this line https://github.com/ethereum/solidity/blob/develop/libdevcore/CommonData.cpp#L24 causes an error, comment it out and windows builds fine.

[2016-11-09 13:58] chriseth commented on #1340
@aakilfernandes the specification is here: https://github.com/ethereum/wiki/wiki/Ethereum-Contract-ABI

[2016-11-09 14:04] chriseth commented on #1322
Thanks, fixed in #1348

[2016-11-09 14:34] chriseth opened #1349 "Short notation for function types"
Function types require quite a lot of keystrokes. The obvious shorthand is
`(uint) -> (uint)`, but our function types are more complicated than javascript's - we also need to specify internal / external, constant, payable (view, pure). Is there a good notation for these?

We could distinguish internal and external by `->` and `=>` and then something like this:

`(uint) [pure,payable]=> (uint)`

[2016-11-09 18:13] VoR0220 commented on #1336
What do you mean by notation?

[2016-11-09 18:17] axic commented on #1336
@VoR0220 I think if this would change, we would still need to support the current behaviour too.

I would refrain from changing the default behaviour of `public` for arrays now, because that is a breaking change across contracts (and not limited to a single contract compilation. It is possible to remove the `public` keyword entirely, but changing the behaviour of it is risky.

Therefore a new nota

[2016-11-09 18:25] axic commented on #1336
Perhaps replacing `public` with these could make sense:
- `getter`: `uint[3] getter data;` generates `function data() returns (uint[3]);`
- `itemgetter` or `indexedgetter`: `uint[3] itemgetter data;` generates `function data(uint index) returns (uint);`

[2016-11-09 18:25] pirapira opened #1350 "Value packing error protection"
When multiple values are packed into one word, `OR`, `AND`, `DIV` and `MUL` instructions need to be used consistently.  Otherwise the neighboring values are tainted.  This issue keeps track of
* designing a language for predicates on stack elements ("least significant 14 bits are zero")
* adding a list of predicates in the compiler context to keep track of each stack element's possible value range

[2016-11-09 20:03] axic commented on #1288
Consider the merits of reviewing `clll` as well: https://github.com/drcode/clll

[2016-11-10 16:02] pirapira opened #1352 "A variable can be bound to a type name, but it cannot be used as a type name"
Version `0.4.5-develop.2016.11.10+commit.ca78f742.Linux.g++` emits this error message
[code]
for this program:
[code]

I think `var x = int;` should not be compilable if there is no use for `x`.

[2016-11-10 22:48] chriseth commented on #1253
Cryptopp is gone.

[2016-11-10 22:48] #1253 closed, assigned to nobody

[2016-11-10 23:05] axic opened #1353 "Define ABI type for external function types"
Follow up of #1122.

Currently it will be defined as `bytes24` and therefore limiting the usefulness to manually driven use cases. It should be `function`.

Alternatively to ease encoding, we could have `encoding type` and `use type` / `hint` two different things.  Encoding would remain `bytes24`, but hint would be `function`.

[2016-11-11 03:06] walter-weinmann opened #1354 "grammar.txt: DoWhileStatement"
Is the semicolon at the end correct ?

[2016-11-11 08:33] chriseth commented on #1354
Thanks for checking!

[2016-11-11 09:14] chriseth opened #1356 "Reinstante control flow graph optimization"
With the addition of function types and the ability to store an internal function in storage, some assumptions that were made for the control flow graph optimizer were violated and thus it was disabled.

More specifically: The CFG unit assumed that a basic block that starts with a tag that is never pushed inside an assembly can be safely removed.

Since it can be that the tag is now pushed in the

[2016-11-11 15:18] #621 closed, assigned to pirapira

[2016-11-11 16:39] #1354 closed, assigned to chriseth

[2016-11-11 22:22] VoR0220 opened #1358 "OS X El Capitan Cmake error"
Appears I just installed all the new dependencies and now I cannot seem to build properly on latest develop branch.

[code]

[2016-11-11 22:25] VoR0220 commented on #1358
nvm fixed it. Had to update the submodule.

[2016-11-11 22:25] #1358 closed, assigned to nobody

[2016-11-12 11:41] walter-weinmann opened #1359 "grammar.txt: WhileStatement & DoWhileStatement"
Why are `WhileStatement` and `DoWhileStatement` differently defined in respect of the semicolon?

[2016-11-14 08:24] roadriverrail commented on #766
I think we can close this one now.

[2016-11-14 08:38] walter-weinmann opened #1362 "miscellaneous.rst: order of precedence of operators"
The operator `>>>` is missing with bitwise shift operators.

[2016-11-14 09:25] ethernomad opened #1363 "Address methods are not properly documented"
Addresses seem to have the following methods:

balance()
send()
call()
callcode()
delegatecall()

Some of these methods can be chained with gas() and value()

I can't find any good documentation on these methods.

Currently there is:
http://solidity.readthedocs.io/en/develop/types.html#address
http://solidity.readthedocs.io/en/develop/units-and-global-variables.html#address-related

[2016-11-14 10:39] axic commented on #1362
As it stands currently, the `>>>` operator will not be implemented. It can be argued whether we should remove it from the parser or not.

[2016-11-14 10:39] axic commented on #766
Implemented by #768.

[2016-11-14 10:39] #766 closed, assigned to nobody

[2016-11-14 10:48] walter-weinmann commented on #1362
So you should remove it from grammar.txt ?

On 14 November 2016 at 11:39, Alex Beregszaszi notifications@github.com
wrote:

##

---

_Walter Weinmann_

---

Obertorplatz 4
CH-4130 Rheinfelden
Tel +41 (0)61 841 06 10

---

Schulstrasse 1
CH-6037 Root
Tel +41 (0)41 530 39 70

---

[2016-11-14 10:58] axic commented on #1363
I think adding `gas()` and `value()` to the types chapter would make sense.

I'm not sure why we duplicate some of the information in _global variables_, but if we keep doing that, it should include all member names.

[2016-11-14 12:12] asinyagin opened #1364 "Inexact name of user defined types in AST"
Hi,

If user defined type is deducted (`var s = S(1, 2);`), it's printed in AST without its contract name. So, in that case:
[code]
the variables in AST will have the same type:
[code]

I think the type should be like `enum Contract1.E`.

[code]

[2016-11-14 12:15] chriseth commented on #1362
Yes, it can be removed from the grammar.

[2016-11-14 12:32] #1311 closed, assigned to pirapira

[2016-11-14 12:32] #1343 closed, assigned to nobody

[2016-11-14 12:32] #1346 closed, assigned to nobody

[2016-11-14 12:40] chriseth commented on #1363
Some of the documentation assumes some knowledge of the underlying architecture, but that should obviously be minimized. All functions that perform an actual EVM call (it should be visible from the documetation which of them do) also have the `gas` and `value` members unless they are non-payable, then they only have gas.

[2016-11-14 12:43] axic commented on #1344
@pirapira @chriseth Even though the sympton is fixed now by not allowing negative values, the cleanup isn't yet performed. I wonder if there's any other way to trigger the above after the latest changes. If there is, we should definitely perform the cleanup.

[2016-11-14 12:52] axic commented on #1312
Moved from #1351:

---

[2016-11-14 12:55] pirapira commented on #1344
Let's keep this open till the doubt is gone.

[2016-11-14 13:00] chriseth commented on #1364
In the source, this is called the "canonical name".

Feel free to grab that, anyone.

[2016-11-14 13:04] asinyagin commented on #1364
I'll send a PR in 10 mins

[2016-11-14 13:04] axic commented on #1362
Fixed by #1365.

[2016-11-14 13:04] #1362 closed, assigned to nobody

[2016-11-14 13:11] pirapira commented on #1344
When I remember what @chriseth was saying about cleanups, we need
- [x] cleanups before sending an enum value as external function argument (#1371)
- [x] cleanups before returning an enum value from a function (#1372)
- [ ] cleanups before enum equality comparison
- [ ] cleanups before storing an enum value into memory
- [ ] cleanups before using an enum value for looking up a mapping
- [ ] cleanu

[2016-11-14 14:59] chriseth opened #1368 "Invalid stack size error for inline assembly"
The new inline assembly warning about imbalanced stack size is wrong in the following code. It might be caused by the variable.
[code]

[2016-11-14 18:51] chriseth commented on #1344
Most of the items above are redundant because they involve copying the enum value to memory.

[2016-11-14 20:41] #1133 closed, assigned to nobody

[2016-11-14 20:45] axic commented on #1322
@slothbag can this be closed? Is latest Solidity working for you?

[2016-11-14 20:46] axic commented on #1304
I thought I've already commented here. I think it should require the `payable` modifier just as the fallback requires is.

[2016-11-14 21:01] axic commented on #718
Should this be extended to unreferenced, non-public storage variables?

[2016-11-14 21:02] chriseth commented on #1304
Is this really a breaking change instead of a bug?

[2016-11-14 21:10] axic commented on #1304
The documentation doesn't explicitly mention it with constructors, so it could qualify as either.

[2016-11-14 21:24] axic commented on #1368
Yes, it seem that variable assignment messes with it.

#1204 works as it should, except with the `let` example.

[2016-11-14 21:25] axic commented on #1204
Fixed by #1224.

[2016-11-14 21:25] #1204 closed, assigned to nobody

[2016-11-14 22:18] chriseth commented on #1368
Ah right, the variable cleanup block https://github.com/ethereum/solidity/pull/1224/files#diff-96cd46c6082618c350fdb46960bb80c6R242 has to go before the check.

[2016-11-14 22:39] chriseth commented on #1174
`define throw() { jump(invalidLabel) }`

[2016-11-14 23:03] slothbag commented on #1322
@axic Yeah Solidity is compiling well. Will close this issue.

Thanks

[2016-11-14 23:03] #1322 closed, assigned to nobody

[2016-11-14 23:44] axic commented on #1322
@slothbag thanks!

[2016-11-14 23:49] androlo opened #1374 "Inline Assembly: Stack height unknown after jump"
[code]

The `=: sum` assignment at the bottom of the inline assembly block does a `SWAP3` rather then `SWAP1`. The compiler also complains that the stack is not balanced (leaves 2 items on stack), but it is. The reason seems to be that it believes `a` and `b` are still on the stack, even though `_add` treats them as regular function parameters and pops them automatically.

[2016-11-15 02:02] axic commented on #1364
Fixed by #1367.

[2016-11-15 02:02] #1364 closed, assigned to nobody

[2016-11-15 03:08] ethers commented on #718
Yes I think so.  If it's all fixable in the same commit then this issue is fine, otherwise a separate issue could be better and I can improve the title on this one, to mention the unused variable in the return declaration.

[2016-11-15 08:03] walter-weinmann opened #1376 "grammar.txt: IndexedParameterList & ParameterList"
Should the key word `indexed` really be optional in `IndexedParameterList` ?

[2016-11-15 08:06] chriseth commented on #1374
It is impossible to tell the stack height at the point where you jump back to `added` because the control flow just leaves the assembly it the jump and comes in at added from somewhere outside its control. In the compiler, this is dealt with my manually adjusting the stack height. We could add such a feature, but I'm not sure that is the right way to go.

Syntax could be:

[code]

[2016-11-15 08:18] chriseth commented on #718
Unreferenced local variables have their use in base contracts.

[2016-11-15 08:25] chriseth commented on #1376
Yes, it is optional, the `indexed` keyword is only valid for event parameters, that is why the `IndexedParameterList` nonterminal exists.

[2016-11-15 08:38] walter-weinmann commented on #1376
Ok - but now `ParameterList` is a subset of `IndexedParamerList`.

Wouldn't it be better to define:

`EventDefinition = 'event' Identifier ( IndexedParameterList | ParameterList ) 'anonymous'? ';'`

and make a clear distinction between `ParameterList` and `IndexedParameterList` ?

[2016-11-15 10:25] #1368 closed, assigned to axic

[2016-11-15 10:27] chriseth commented on #1376
Yes, `ParameterList` is a subset of `IndexedParameterList`. Your suggestion of using `( IndexedParameterList | ParameterList)` does not really convey the fact that you can choose between using `indexed` and not using it for each individual parameter and not the whole list.

[2016-11-15 10:30] #1376 closed, assigned to nobody

[2016-11-15 11:23] androlo commented on #1374
Not very useful feature I suppose. Better wait until it's full support for function calls. Just playing around anyways. Figured I'd bring it up since i saw some other similar issue (the one when the entire block is just a variable declaration).

[2016-11-15 11:23] #1374 closed, assigned to nobody

[2016-11-15 11:43] pirapira opened #1378 "Missing tests for StructType::interfaceType function"
After applying the following change, `./test/soltest` still passes.  This means that the replaced expression is not tested.

[code]

[2016-11-15 11:49] chriseth commented on #1378
The following source code should be a valid test:

[code]

[2016-11-15 11:56] pirapira commented on #1378
On this code, the behaviors of the original and the variant are the same.

[code]

Maybe this conditional branch is hard to reach, and a unit test is necessary to touch this piece.

[2016-11-15 15:58] pirapira opened #1380 "Warn about an expression statement without write-like side-effects"
By the time the compiler is able to enforce `view` and `pure` modifiers, it should be possible to detect expressions without side-effects.   This issue proposes a warning for expression statements without side-effects.

For instance, there would be a warning on the statement `3;`
[code]

This should also catch the case of `var a = 0; a;`

[2016-11-15 16:21] pirapira commented on #1312
#1318 is related (for booleans only).

[2016-11-15 18:12] axic opened #1383 "Change file headers from cpp-ethereum to solidity"
Currently it says *This file is part of cpp-ethereum.*, but it should read *Solidity*.

We should also probably settle on a style regarding comments:
[code]

[2016-11-15 19:52] VoR0220 opened #1385 "Export keyword for creating contract modules"
This is something that is needed/highly desired for our efforts in package management. A simple keyword not unlike `using for` but instead made for exporting a package of contracts. What this keyword will do is drop all symbols that are not currently in an `export` field of the module being passed up through the compiler, so that names can be reused in packages further up the import tree.

[2016-11-15 22:02] chriseth commented on #1385
What you can already do for now is importing some selected symbols from several other files into one file - similar to how this is generally handled in Python. Would that already help?

[2016-11-16 10:34] axic commented on #1117
I think we should have the following components:
1. target EVM version as a compiler flag
2. target gas table (referred to by hardfork names) as a compiler flag
3. required EVM version as a pragma following semver

EVM versioning is simple if we follow https://github.com/ethereum/EIPs/issues/178 as the current semver handler can be reused:

[code]

[2016-11-16 11:42] unipaul commented on #633
@chriseth @bortzmeyer  Accessors for dynamic keys would really be handy. With that I could make my mapping public and thus displayable in the ethereum wallet. In this case I wouldn't need a webpage, web3 etc for my dApp.
When is "soon"? ;)

[2016-11-16 13:10] axic commented on #778
#1387 provides this layout

[2016-11-16 13:10] axic commented on #542
#1387 provides this layout

[2016-11-16 13:54] chriseth commented on #1378
Next try;

[code]

[2016-11-16 16:01] pirapira commented on #1318
This has to happen
- before storing a boolean into storage (test added in #1381)
- before storing a boolean into the memory (test added in #1381)
- before being used as an event argument (test added in #1381).

I guess #1381 already adds these cleanups, so I'll add tests on top of it.

[2016-11-16 16:04] axic commented on #1141
@hitchcott would you be interested in helping to design a better version of the natspec? I'm thinking a combined user/devdoc.

[2016-11-16 19:03] VoR0220 commented on #1385
Not really. Atleast I don't think so based on how you're describing it. The thing is that file is still going to be passed up, symbols and all.

Lets say I have a package, and inside this package are the contracts:

[code]

These are fairly common names. Someone decides to use my package. They also want to create a package that might have fairly common names `contract A{}`. When we try to compile

[2016-11-16 21:17] louisabraham opened #1388 "Compilation error on FreeBSD"
Hi,

I tried installing solidity on FreeBSD 11.0-RELEASE-p2, after installing all dependencies by hand with the commands [here](https://solidity.readthedocs.io/en/develop/installing-solidity.html).
I get the error :
[code]

[2016-11-16 21:23] IstoraMandiri commented on #1141
Sounds good @axic, I am actively working on doxity and there's good opportunity to explore what is needed. What's the best way for me to help with this - should I draft an EIP?

[2016-11-17 07:40] walter-weinmann opened #1389 "grammar.txt: PragmaDirective"
The following `PragmaDirective` (from **introduction-to-smart-contracts.rst**) can not be parsed:

`pragma solidity ^0.4.0;`

The problem seems to be that `^0.4.0` is not an expression, i.e. `^` is not an unary operator..

[2016-11-17 09:05] MrTibbles commented on #1385
👍

[2016-11-17 09:11] MrTibbles commented on #1385
I think this is a sensible suggestion. It also sounds similar to ES6 methodologies for handling modules, or am i mistaken? https://developer.mozilla.org/en/docs/web/javascript/reference/statements/export

[2016-11-17 10:35] axic commented on #1389
The pragma statement is parsed as a keyword (`solidity`) and whatever comes after the keyword is taken verbatim without parsing.

[2016-11-17 10:48] walter-weinmann commented on #1389
Thanks for the explanation - but how does this fit with its definition in grammar.txt?

In general I'm trying to develop a parser based on grammar.txt (see https://github.com/walter-weinmann/syparse) - but it seems to be an impossible task.  Even the most basic code doesn't comply with grammar.txt, e.g. try the Coin contract - it uses the reserved word `from` as a name.

[code]

[2016-11-17 10:50] axic commented on #1389
Correction to pragma: whatever comes after _on the same line_.

Why is `from` reserved?

[2016-11-17 10:52] walter-weinmann commented on #1389
[code]

[2016-11-17 10:52] axic opened #1390 "Incorporate the wiki pages in the documentation and retire the wiki"
Raised by @VoR0220:

The current pages on the wiki are:
- [x] https://github.com/ethereum/wiki/wiki/The-Solidity-Programming-Language
- [x] https://github.com/ethereum/wiki/wiki/Solidity
- [x] https://github.com/ethereum/wiki/wiki/Solidity-Changelog
- [x] https://github.com/ethereum/wiki/wiki/Solidity-Collections
- [x] https://github.com/ethereum/wiki/wiki/Solidity-Features
- [x] https://github.co

[2016-11-17 11:27] axic commented on #1389
I thought it is only being reserved when part of the `import` statement? Not sure if it can be described well in the grammar.

[2016-11-17 11:33] walter-weinmann commented on #1389
My parser is based on yecc and leex  which are Erlang's equivalents to yacc and lex - so I think I'm at the end of my wisdom now.

[2016-11-17 11:48] axic commented on #1141
@hitchcott we could have a chat on gitter with anyone interested in this topic.

Also please check https://github.com/ethereum/wiki/wiki/Ethereum-Natural-Specification-Format first as that defines the `userdoc`.

[2016-11-17 12:05] #1389 closed, assigned to axic

[2016-11-17 12:06] #1359 closed, assigned to nobody

[2016-11-17 12:34] pirapira opened #1391 "Introducing AST node identifiers"
In order to make the compilation process more deterministic, we can introduce IDs on AST nodes and use those IDs for sorting the nodes.  The IDs are more stable than the pointers that allocators return.

[2016-11-17 16:32] #910 closed, assigned to chriseth

[2016-11-17 16:34] axic commented on #1353
Implemented in #1122.

[2016-11-17 16:34] #1353 closed, assigned to nobody

[2016-11-17 18:29] pirapira commented on #1390
I start removing those sections already seen in `solidity/doc`.

[2016-11-18 09:27] roadriverrail commented on #1120
I've been taking a crack at this one over the past couple of days.  It appears to be caused by the CompilerStack's parsing functions uncritically stuffing the second contract over the first; this eventually leads to the code generation of the Registrar looking for the first Deed contract and only being able to find the second one.  I added some guard code to throw a descriptive exception when the

[2016-11-18 10:01] pirapira commented on #1120
I would say a contract and a library under the same name should throw as well.  @chriseth what is your opinion?

@roadriverrail would you open a pull-request already with your fixes?  Thank you.

[2016-11-18 11:16] pirapira opened #1396 "better description needed what can initialize a constant"
Section "Constant State Variables" http://solidity.readthedocs.io/en/develop/contracts.html#constant-state-variables contains a sentence
```The value expression can only contain integer arithmetics.```
The sentence seems to be incorrect because examples show that the value expression can also contain integer literals and string literals.

[2016-11-18 15:43] roadriverrail commented on #1120
Done.  I'll add more commentary there.

[2016-11-18 20:22] pipermerriam commented on #1349
This seems like it adds complication without a lot of real value.
- Pros:
  - Fewer keystrokes
  - Function definitions get shorter
- Cons:
  - Anything that parses source code has to now account for this notation and the old.
  - Mental overhead.  People have to understand that there are two ways to define functions.

[2016-11-18 22:50] VoR0220 commented on #1391
how would the IDs be determined?

[2016-11-19 04:22] roadriverrail opened #1400 "Variables can be used before they're declared, and the only scope is function"
While going through to work on another issue, I noticed that the only use of local variable scoping I could find was in CallableDefinition, which means that FunctionDefinition, ModifierDefinition, and EventDefinition are the only resolution of scoping in Solidity.  Additionally, it looks like types and variable names are resolved before expressions are compiled, meaning that it's possible to use a

[2016-11-19 08:24] axic commented on #1400
Duplicate of #219 and it has been documented since:

I would be in favour of strict declaration order too.

[2016-11-20 03:01] ethers commented on #1141
@axic @hitchcott After your chat on gitter, could an EIP be written to make it clear? (The wikis are mostly old.)

One part I'm wary of is if returns are going to need to be named, like:
`function foo() returns (uint r)`
Since `r` is actually a variable and may be unused, I think it leads to issues like
https://github.com/ethereum/solidity/issues/718#issue-165439717

For these named returns to be

[2016-11-20 03:18] ethers commented on #973
+100

Another example using a "named return" related to https://github.com/ethereum/solidity/issues/718

[code]

And another:

[code]

One more:

[code]

Fortunately this doesn't compile:

[code]

[2016-11-20 03:37] ethers opened #1401 "Consider removing "named returns""
Related to #719, #973, #708.  Grouping the examples here.

These behaviours can be confusing for people who are starting out with the language.  Solidity has been criticized as a language that hasn't been designed with safety in mind, and this is one feature where safety was overlooked imo.

[code]

And another:
[code]

One more:
[code]

A case where the explicit return statement is "overshadowed"

[2016-11-20 04:26] ethers opened #1402 "Keyword for readonly modifiers"
Looking across contracts, it appears that most modifiers don't change state: they're generally used for checking preconditions and "condition-orientated" programming.  IMO this is good since they are kept simple, and since they don't change state, their order doesn't matter.  So instead of the term `modifier`, as a starting point how about another (additional) keyword for them?  The cases where pe

[2016-11-20 05:28] ethernomad commented on #1401
I've always really liked the named returns feature of Solidity. If anything `return` should be changed to not be able to take a value.

[2016-11-20 20:38] aakilfernandes commented on #1340
@chriseth thanks!

[2016-11-20 20:38] #1340 closed, assigned to nobody

[2016-11-21 08:45] walter-weinmann opened #1403 "Solidity keywords based on grammar.txt"
The following keywords should not be used outside their context defined in grammar.txt, for example not as identifiers. Else-wise Solidity code can not be processed by lexical analysers based on lex-like programs.

[code]

[2016-11-21 09:36] #1400 closed, assigned to nobody

[2016-11-21 10:06] #1304 closed, assigned to axic

[2016-11-21 10:37] pirapira commented on #1391
There would be a static counter in `ASTNode` class, and new objects will receive IDs from the counter values.

[2016-11-21 10:53] pirapira commented on #1403
Do I understand correctly that this issue is about adding these keywords in the documentation and adding checks against these keywords appearing as identifiers?

[2016-11-21 10:58] walter-weinmann commented on #1403
These would be in my opinion the requirements to support lex / yacc based parsers.

[2016-11-21 11:16] pirapira opened #1406 "Random valid program generator"
The first step of formal specification of Solidity #717 is to specify the set of strings that should compile.  This issue proposes to create a random-program generator for Solidity that produces Solidity programs that should compile.  The program generation would take less than a second, so we can test tens of thousands of random programs on the Solidity compiler.  If the compilation fails on any

[2016-11-21 11:50] pirapira opened #1409 "Enable enums as the key for mappings"
Maybe it's reasonable to allow enum types to be the key for mappings.

[2016-11-21 13:05] axic opened #1410 "Allow implicit conversion between contract type and address/int"
I think it would be useful at least with allowing it for `address`es:

[code]

[2016-11-21 15:33] VoR0220 commented on #1391
Neat! Im down.

[2016-11-21 17:01] redsquirrel commented on #1401
I would love to see us drop named returns altogether. I think it improves code readability to be explicit about returns.

[2016-11-21 18:08] chriseth commented on #1385
@VoR0220 Let's say you have the following file x.sol:
[code]

You can use `import "x.sol" as X;` which will only create the symbol `X` and you can access the contrats via `X.A`, `X.B`, etc.
You can also choose to only import some symbols from `x.sol` directly:
`import {A, B} from "x.sol";`

[2016-11-21 18:18] chriseth commented on #1349
I think the mental overhead is actually reduced:
[code]
vs.
[code]
and this is only a simple example, one of the more complex being
[code]
vs
[code]

Note that this is ONLY about function types, not about function declarations.

[2016-11-21 18:25] chriseth commented on #1410
`address` is a "base contract" for any other contract, so implicit conversion to address is possible (`this != address(0x123)` compiles). The first use-case you mention should perhaps be better solved by the linker anyway.

Another thing we might introduce: If a hex string is exactly 20 bytes long and passes the hex "checksum" check, it is interpreted as an address and not as an integer. Adding th

[2016-11-21 18:26] chriseth commented on #630
Furthermore, if it does conform to the checksum algorithm, its type is `address`.

[2016-11-21 19:37] VoR0220 commented on #1385
Interesting. Okay. I think that solves my problems.

[2016-11-21 19:37] #1385 closed, assigned to nobody

[2016-11-21 19:55] VoR0220 commented on #1410
One thing I want to do with the "super" class that I was talking about was separating integer from address and giving address its own type which could very well make this doable.

[2016-11-21 20:17] pipermerriam commented on #1349
I completely misunderstood the intent of this. Disregard my injections. I'm
+1 on this notation.

On Mon, Nov 21, 2016, 11:18 AM chriseth notifications@github.com wrote:

[2016-11-21 20:20] madvas opened #1414 "'string.h' file not found, when building"
When trying to build latest release `untagged-ac13667a0597c2802196` I get following error:

[code]

I installed dependencies with `./scripts/install_deps.sh`
I'm using macOS Sierra 10.12.1
Xcode Version 8.1 (8B62)

[2016-11-21 20:30] madvas commented on #1414
nevermind, I removed build folder and started again and it went through

[2016-11-21 20:30] #1414 closed, assigned to nobody

[2016-11-22 12:10] pirapira commented on #1344
When #1381 is merged the remaining points should be solved.

[2016-11-22 13:08] chriseth commented on #1414
Note that the "untagged" tags are not meant as releases, we have some problems with our build system that generates such tags.

[2016-11-22 13:25] axic opened #1415 "Invalid function type for external functions"
[code]

If the function is external it won't successfully map:
[code]

Looking up via contract name fails too:
[code]

(Split off #1411)

[2016-11-22 13:25] pdobacz opened #1416 "Optimizer causes code that overwrites contract fields, with an if(false) nearby"
solc is 0.4.5+commit.b318366e.Linux.g++

[code]

populus (TestRPC), online solidity compiler as well

compile with optimization, deploy `Test`, call `f`, `totalSupply` is 2^256 - 456 afterwards

populus:
[code]

with the `if(false)` condition in the contract, the `totalSupply` variable gets overwritten with 0 somewhere.

`totalSupply == 544`

[2016-11-22 13:27] pirapira commented on #1378
<del>I still get the same error message on the original and the variant.  "Error: Internal type is not allowed for public or external functions."</del>  No, the test does it.

[2016-11-22 14:15] #1416 closed, assigned to chriseth

[2016-11-22 14:29] chriseth opened #1419 "Always test with and without optimizer"
We should add a special environment flag that switches the optimizer on or off during the endtoend tests. The test runner script should run all tests twice - once with and once without optimizer.

[2016-11-22 14:30] axic commented on #1419
Duplicate of #1282 😉

[2016-11-22 14:37] chriseth commented on #1419
:-(

[2016-11-22 14:37] #1419 closed, assigned to nobody

[2016-11-22 14:51] VoR0220 commented on #1402
hmmm...interesting proposal. `pure modifier`?

[2016-11-22 14:53] axic commented on #1402
I was thinking about allowing `view` and `pure` on modifiers, but that might make it fairly complex :)

[2016-11-22 15:42] VoR0220 commented on #1402
Indeed. But he raises a fine point. Modifier isnt exactly the correct keyword for most of these because its not really modifying anything. Moreso prechecking and postoperating on things.

[2016-11-22 15:53] redsquirrel commented on #1402
Modifier is the correct keyword in the context of "statement modifiers", which are a common term in Ruby and Perl (maybe other languages too).

[2016-11-22 16:00] pirapira commented on #1378
Maybe I have to say `S storage`

[2016-11-22 16:35] VoR0220 commented on #1402
@redsquirrel good to know! :)

[2016-11-22 17:26] ethers commented on #1402
I was aware of contexts like "statement modifiers" which do make sense.  Part of this suggestion is to prevent modifiers from being abused: sometimes it may not be clear what should be in a modifier as opposed to a function.

[2016-11-23 00:34] VoR0220 commented on #1402
should modifiers not be allowed to change state?

[2016-11-23 00:49] ethers commented on #1402
Could be another discussion; I was avoiding the discussion for the meantime by suggesting this issue is like an alias just for readonly ones.  But it would be good if there were ways that the language could minimize misuse of features: I don't think modifier abuse is an issue currently, but something for us to keep in mind.

[2016-11-23 02:22] pipermerriam opened #1423 "Compile from source failing"
I'm running into an error when compiling from source.

The error occurs during execution of the `./scripts/install_deps.sh` script.

* Error: https://travis-ci.org/pipermerriam/py-solc/jobs/178072066#L1583
* Full Script being used to build: https://github.com/pipermerriam/py-solc/blob/9caabbc9debfe744848df1b834a99228706b8053/bin/install_solc-0.4.6.sh

This has been working for all previous release

[2016-11-23 04:01] ethernomad commented on #1416
When was this bug introduced?

[2016-11-23 09:13] pirapira commented on #1416
I'm doing `git bisect` now.  I already know it's quite recent.

[2016-11-23 09:54] pirapira commented on #1416
From 0.4.5, at e543bd34c0b4884b5a27555f698f50af6a1c0b81

[2016-11-23 10:00] ethernomad commented on #1416
Great!

https://github.com/ethereum/solidity/pull/1424

[2016-11-23 11:17] #1378 closed, assigned to pirapira

[2016-11-23 12:18] axic commented on #1423
[code]

You need to ensure the `deps` submodule is properly updated.

[2016-11-23 12:38] pirapira opened #1426 "Replace cpp-ethereum with solidity in liblll and libdevcore (licensing header)"
Spin out from #1425.

[2016-11-23 13:52] chriseth commented on #207
We should also provide a tiny image based on alpine - without the PPA.

[2016-11-23 14:50] pipermerriam commented on #1423
I'm pulling the source from the zip file from the releases on github so I'm
not working in a repository. Is this potentially something that is missing
from the script that is supposed to install all dependencies?

On Wed, Nov 23, 2016, 5:18 AM Alex Beregszaszi notifications@github.com
wrote:

[2016-11-23 15:49] chriseth commented on #1423
Yes, please only compile using git. The zip auto-generated by github does not work because it does not contain the submodule, and there is no way to modify the generation to include submodules.

[2016-11-23 17:17] VoR0220 commented on #207
@dbabits use alpine...it's basically made for docker. Then just run the install_deps.sh after git cloning. At eris, we have a docker image for installing an older version of solidity so that it can work with out compilers service. Check it out here. https://github.com/eris-ltd/eris-compilers/blob/master/Dockerfile

[2016-11-24 09:59] #1282 closed, assigned to chriseth

[2016-11-24 12:31] asinyagin opened #1433 "Solc doesn't compile contracts after comments with /** **/"
Hi,

Solc compiles only C1 in the following example:
[code]
[code]
Looks like it doesn't interpret `**/` as end of the comment. That might be surprisingly for users.
[code]

[2016-11-24 12:39] axic commented on #1433
Good catch!

Within contracts it presents a not to clear error message:

[code]

[code]

[2016-11-24 15:05] chriseth commented on #1120
The correct fix is to prefix the contract name by the source file that contains it. This is planned to go together with the json input/output.

[2016-11-24 15:12] chriseth commented on #1141
Note that the only purpose of `@notice` is to display a message to the user if they invoke a function. This does apply to the fallback function, it may apply to the constructor, but not anything else.

This means that comments applying to the contract itself should probably automatically go to the `@dev` scope.

The `@notice` docs should be inherited.

Method parameters should probably go to both

[2016-11-24 15:16] chriseth commented on #1401
We already have https://github.com/ethereum/solidity/issues/973#issuecomment-261755730 for the first three examples. I think named returns in general are a great idea for readability - it will tell the user the meaning of the return value.

 - If you are talking about being able to assign to the return value, this is a different topic.
 - If you are talking about being able to use a non-explicit r

[2016-11-24 15:18] chriseth commented on #1403
@walter-weinmann I am sure that this is already the case for most of these keywords. Can you create a subset of keywords where this is not the case?

Unfortunately, I think we already have quite a lot of other situations that cannot be properly parsed by parser-generator based parsers, and those are much harder to fix.

[2016-11-24 15:20] chriseth commented on #1409
Related: https://github.com/ethereum/solidity/issues/599

[2016-11-24 15:40] walter-weinmann commented on #1403
I could check all examples in the Solidity documentation and try to fix the problems. This would also be a good test for my parser. To make it a one time effort, we could perhaps also find a solution for my problems with the pragma directive (#1395). I could start immediately with this piece of work.

Let me know if you are interested.

[2016-11-24 16:52] pirapira opened #1435 "Function signature literals"
Out of a gitter conversation there came an idea of looking up `authorization_table[msg.sig][msg.caller]`.  For setting up such a table, it would be convenient to have function signature literals `signature_hash(f(void))` that represents the signature hash.

[code]

[2016-11-24 17:49] chriseth commented on #1403
If all the keywords you listed are part of the token list in Token.h, then it should be fine - the pragma is of course a special case.

[2016-11-24 18:01] pirapira opened #1436 "segmentation fault on self-referential constant"
The following input causes a segmentation fault in `solc`.

[code]

[2016-11-24 18:17] chriseth commented on #1320
In many cases, it is also beneficial to declare real syntactic macros (as opposed to functions). This is helpful for example when we are considering different backends: WASM has direct support for loops and functions, so these should be retained in the intermediate language by e.g. using syntactic macros. The actual definition of the macro can be different depending on the backend.

We might go as

[2016-11-24 18:32] chriseth commented on #1415
The reason is the `external` keyword in `function oracleResponse(bytes response) external { }` which makes `bytes` a `calldata` array. This is of course not relevant when calling the function, only when using the argument inside the function.

[2016-11-24 18:39] chriseth commented on #1402
We might add `view` and `pure` to modifiers (which is then of course only checked against the modifier's body and not to the function it is applied to), but I'm also fine with adding a `precondition` keyword. In that case, though, the precondition should be a bool expresison or return a bool and throw if it is false.

[2016-11-24 20:08] walter-weinmann commented on #1403
Comparing Tokren.h and grammar.txt gives the following differences:

- missing in Token.h: `from`
- missing in grammar.txt: `assembly`, `default`, `null`, `payable`

[2016-11-24 20:23] chriseth commented on #1291
@pirapira your PR only said "trying to fix". Do you want this to be reopened?

[2016-11-24 20:24] chriseth commented on #1403
Great, thanks a lot! `from` was deliberately not added to the list of keywords because it is a very common variable name.

[2016-11-24 22:40] #207 closed, assigned to chriseth

[2016-11-24 23:38] VoR0220 commented on #1435
I think this falls under Christians group modifier proposal.

[2016-11-24 23:38] VoR0220 commented on #1423
The hash matching the newly signed file is incorrect. Per alpine problems.

[2016-11-24 23:47] VoR0220 commented on #847
I think interface could be its own type and we can run it like in golang. Essentially what would happen is that you can only apply function types to interface types but structs can inherit an interface. This interface can then easily be passed around with different structs that inherit or have the same functions as the interface. You should then be able to assert from the interface what type of ob

[2016-11-24 23:58] VoR0220 commented on #847
Only problem is then whether or not structs implement their own version of the function. Which they probably shouldn't. However it could be mandated to check for all types defined in functions that take in an interface type. Perhaps contracts themselves could be passed in as types from this point as well so long as the functions are implemented in the contract body.

[2016-11-25 05:50] walter-weinmann commented on #1403
Ok - then my parser is more restrictive than the compiler. I think this is not a big issue for my parser. But do we get the missing language constructs based on `assembly`, `default`, `null `and `payable `into grammar.txt?

[2016-11-25 08:06] #1423 closed, assigned to nobody

[2016-11-25 09:57] pirapira commented on #1291
Yes.  The PR started to fix the problem in only one file.  I knew the comment would close the issue, but I was too optimistic.

[2016-11-25 10:04] pirapira commented on #1435
@VoR0220 the proposal #623 does not use `msg.sig`.

Since `msg.sig` is a part of the language, the language should also support interpreting the value of `msg.sig` in a convenient manner.  For interpreting `msg.sig`, the language needs a way to associate the signature hashes and the function signatures.

[2016-11-25 14:43] roadriverrail commented on #1120
Ah.  I can certainly change that around; I was really just coding to the issue.  Or, since I'm not sure what you mean about "[going] together with the json input/output," there might be more to the story that I missed.

Is the prefixing of the source file purely for collision avoidance, or should a contract be able to reference another contract in another file via "source:contract" notation?

[2016-11-25 14:59] #883 closed, assigned to pirapira

[2016-11-25 15:14] chriseth commented on #887
We now have a simple such optimizer, but we should still add the rules from ExpressionClasses.cpp.

[2016-11-25 15:22] #1344 closed, assigned to pirapira

[2016-11-25 15:30] chriseth commented on #1120
The prefixing is only for collision avoidance as far as the interface to the compiler is concerned, i.e. for naming the output files, for assigning addresses to libraries and so on.

I'm not sure how to correctly solve the issue on a filesystem level, i.e. I'm not sure how to correctly name the `.bin` file for contract name collinions, because the file name would have to include the full path to t

[2016-11-25 16:25] chriseth commented on #1255
Documented when and how cleanup should be performed and added more cautious cleanups before storing to storage, before storing to memory and after loading from calldata.

[2016-11-25 16:25] #1255 closed, assigned to nobody

[2016-11-25 17:39] VoR0220 commented on #1435
It could very well use msg.sig "under the hood" is my point. This is a potential way to implement it is my point.

[2016-11-25 17:45] VoR0220 commented on #1435
But i think maybe you're looking for something else is your point.

[2016-11-26 13:14] ameten commented on #1358
@VoR0220, could you advise what submodule you have updated and how?

[2016-11-26 15:04] axic opened #1440 "LLL: panic keyword is broken"
[code]

results in:

"Reference to tag without position."

@chriseth, the changes of #1122 broke it.

[2016-11-26 15:31] axic commented on #1230
Immediate todo list for LLL:
- [x] merge the strict parser (#1313)
- [x] fix the `panic` keyword (#1440)
- [x] add testing (#1442)
- [ ] support the `with` keyword (#1288)

[2016-11-26 15:39] zigguratt commented on #1230
Strict parser can be merged.

[2016-11-26 19:45] VoR0220 commented on #1358
Iirc i ran "git submodule update" and it just worked.

[2016-11-26 19:56] maraoz opened #1441 "Shouldn't using `now` to define a constant variable fail at compile time?"
Doing this:
[code]
works and makes `expiration == 10 days`. This was confusing to me. Would it be better if `solc` failed and said something like "Can't use `now` to define constant variable"?.

[2016-11-26 20:22] VoR0220 commented on #1441
No because at run time is when `now` would be defined.

[2016-11-26 20:25] maraoz commented on #1441
Aren't `constant` variables defined at compile time?

[2016-11-26 21:05] VoR0220 commented on #1441
not currently...currently they are not enforced by the compiler (there's an issue discussing what to do with `constant` in the future [here](https://github.com/ethereum/solidity/issues/992))

[2016-11-26 21:07] maraoz commented on #1441
Oh my! Thanks @VoR0220

[2016-11-26 21:07] #1441 closed, assigned to nobody

[2016-11-28 10:08] axic opened #1444 "Style guide: define the contract layout"
Follow up of #1394:

[2016-11-28 13:04] axic commented on #847
One more idea to interfaces: they could be made pure interfaces by not allowing inheritance. That ensures an interface remains self-contained and hopefully limited in size.

[2016-11-28 16:46] VoR0220 commented on #847
I'm not sure how we do that...how do we limit inheritance?

[2016-11-28 19:35] VoR0220 commented on #355
@chriseth I think I have figured out a way for how to do this. It would require client side interpretation but it is possible to do. If we can unwind the stack trace, there are places where we are more likely to have gotten this error rather than not. We can simply attribute throws/invalid jumps to certain strings based on location of said throw. This can be interpreted by the client based upon wh

[2016-11-29 14:53] axic opened #1447 "Meta-programming interface - ERC165 support"
While this topic can be fairly big and we have a couple of issues open already here I only suggest a fairly small, non-intrusive addition:

[code]

to return a meta object (similar to `block`, etc.). This would have the following defined currently:
- `.signatures` returns `bytes4[]` corresponding to the method signatures of the contract
- `.name` returns `string` as the name of the contract

The s

[2016-11-29 15:54] axic commented on #1447
This could be augmented by compile-time execution of certain pieces of code. It should be possible to execute `pure` functions during compile time given there's a VM for the intermediate language of the compiler.

[2016-11-29 16:29] VoR0220 commented on #1447
Following

[2016-11-29 16:55] chriseth commented on #1447
I would prefer `type` instead of `meta` and `baseContracts` instead of `super` (super has a special meaning). Since we do not yet assign pragmas to contracts and arrays are quite hard to do, I would postpone them.

[2016-11-29 17:14] chriseth commented on #355
If you want to do that off-chain, I think it is a much better solution to just use a debugger.

[2016-11-29 18:56] VoR0220 commented on #355
I just think that there should be more verbose reasons as to why a transaction failed. It gets brought up a lot in our solidity thread (which reminds me I need to link that to the gitter room), and I think it's definitely something we should be addressing.

[2016-11-30 10:53] axic opened #1448 "Add compiler option to include literal source code in the metadata"

[2016-11-30 12:21] axic commented on #1206
How about this: http://www.sphinx-doc.org/en/1.4.8/markup/code.html#includes

[2016-11-30 12:24] axic opened #1450 "Update the "esoteric features" part of the documentation"
Since we have function types available in the language, that section is a bit misleading: https://solidity.readthedocs.io/en/develop/miscellaneous.html#esoteric-features

[2016-11-30 12:48] axic commented on #771
This was implemented.

[2016-11-30 12:48] #771 closed, assigned to nobody

[2016-11-30 14:35] axic opened #1452 "Include a JSON file with known broken compiler versions"
It could be placed either into this repo and be part of `solc-bin/bin/list.json`:

[code]

This information can be used by during the verification process to display a warning if the contract was compiled with a known broken compiler.

[2016-11-30 14:43] pirapira commented on #1206
Sounds perfect to me.

[2016-11-30 14:57] mtbitcoin commented on #1452
This is a good idea, perhaps also add another value to indicate if this only affects contracts with optimization enabled/disabled or either way

[2016-11-30 15:01] #1206 closed, assigned to axic

[2016-11-30 15:01] chriseth commented on #1403
@pirapira could you add the missing keywords to the documentation, please?

[2016-11-30 15:04] axic opened #1453 "LLL: make the exception catching less greedy in compileLLL*/parseLLL"

[2016-11-30 15:23] axic commented on #1403
Payable is actually defined, but it has a typo: `' payable'`

[2016-11-30 15:50] chriseth commented on #1452
I think it should rather be part of this feature: https://github.com/ethereum/solidity/issues/628

[2016-11-30 16:42] pirapira commented on #1403
@chriseth I added this task to my queue.  Looks like the first PR arrives tomorrow afternoon.

[2016-11-30 17:37] pirapira opened #1456 "shadowing of a function by a public state variable is not working"
On `Version: 0.4.7-develop.2016.11.30+commit.ac357d12.Linux.g++`, `solc/solc --opcode` on the source below produces no bytecode.

[code]

[2016-11-30 17:38] pirapira commented on #1456
This is a duplicate of #1084.

[2016-11-30 17:38] #1456 closed, assigned to nobody

[2016-12-01 01:16] axic opened #1457 "Inline assembly variables names don't clash with instructions"
[code]

In this example `call(gas,...` will refer to the `gas` instruction as opposed to the variable. Similarly, `let call := 1` is accepted as valid too.

[2016-12-01 06:08] roadriverrail commented on #1120
It's been a little over a week, so I just want to mention that I am still actively looking at this one; the Thanksgiving holiday and the fact that I'm traveling heavily for work has just meant I haven't had regular nights to work.  I'll be updating the PR soon; I've got most of this working as discussed, with the exception that, right now, I'm recording the file path always and not only in the eve

[2016-12-01 10:36] axic commented on #1435
You can already create function signatures with `bytes4(keccak256("interface()"))`.

However since we have function types, we could introduce `.sig` member on them to return this: `interface.sig`.

[2016-12-01 10:42] chriseth commented on #1320
Having thought about it, it might make more sense to rather include a native loop construct into assembly. Syntax:
[code]

[2016-12-01 11:39] chriseth commented on #1120
nice!

[2016-12-01 11:40] #1433 closed, assigned to pirapira

[2016-12-01 13:01] axic commented on #1452
I don't think it is mutually exclusive. #628 would be nice, but we already have `list.json` in solc-bin, we might as well update it with this detail. In the future, #628 could replace `list.json` entirely.

[2016-12-01 13:34] chriseth commented on #1452
I think it should be a separate sevice than list.json provides.

[2016-12-01 14:06] pirapira commented on #1403
In `grammar.txt` I need to exclude keywords from the set of identifiers.

Can I use some syntax for excluding one syntactic category from another, like
[code]
?

The alternative is to define `IdentifierStartingFromD` and so on, carefully avoiding the keywords.

[2016-12-01 14:16] pirapira commented on #1403
Another alternative to let the keywords to be identifiers.  In this case, some keywords do not appear in `grammar.txt` at all.

[2016-12-01 14:29] walter-weinmann commented on #1403
It is very unusual to let keywords be identifiers - in this case at least yacc-like parsers cannot be used any more. There is no need in grammars suitable for yacc-like parsers to exclude keywords explicitly from identifiers.

[2016-12-01 15:28] pirapira commented on #1403
@walter-weinmann Thank you.  Following your advice I didn't do anything to the definition of identifiers.

[2016-12-01 15:46] chriseth commented on #1320
Discussion with @pirapira revealed that we should probably go for for loops that support break and continue.
Syntax (proposal):
[code]
pre and post can be blocks or single instructions (also in functional notation), cond has to be functional with one return value. Pre already creates a new scope.

[2016-12-01 18:03] VoR0220 commented on #1320
@chriseth can you give me an example of the above?

[2016-12-01 23:01] chriseth commented on #1320
Not sure I understand you, but the following would zero out a memory array byte by byte:
[code]

[2016-12-02 02:05] recmo opened #1466 "Solidity optimizer hangs on certain constants."
Running `solc --optimize` on the following takes forever, without `--optimize` it compiles fine.

[code]

[2016-12-02 02:11] Recmo commented on #1466
Minimized test case:

[code]

[2016-12-02 02:23] recmo commented on #1466
It looks like a exponential blowup. With smaller constants it optimizes:
* `0x00ff00ff00ff00ff00ff00ff00ff00ff` compiles 2 seconds.
* `0x00ff00ff00ff00ff00ff00ff00ff00ff00ff` compiles in 11 seconds.
* `0x00ff00ff00ff00ff00ff00ff00ff00ff00ff00ff` takes more than one minute.

[2016-12-02 04:52] VoR0220 commented on #1466
hmmmmm @axic this seems like it might have been something you worked on in the past, no?

[2016-12-02 07:37] ethers commented on #1141
/// @notice `(balanceInmGAV / 1000).fixed(0,3)` GAV is the total funds available to `who.address()`.
  /// @param who The address of the person whose balance we check
  /// @return The balance of the user provided as argument
  function balance(address who) constant returns (uint256 balanceInmGAV) {
return 100;
}

In the example above, it uses an explicit return 100.  To convey that the 100 is bal

[2016-12-02 08:20] ethers commented on #1401
For readability, can the meaning of the return value be expressed as a code comment?

"being able to assign to the return value" is that this example?
[code]
Or is the example a case of "non-explicit return in a function returning a value"?

Here's another "bad" one (0 will be returned):
[code]

[2016-12-02 08:26] ethers opened #1467 "Can a plain return be an error when a return value is expected"
[code]
Can the compiler detect this as an error?  And require the user to have something after the `return` (a literal string, or a variable that is of type string)?

[2016-12-02 08:56] pirapira commented on #1320
I thought the `for` loop was desired in the inline assembly, and in that case, the `for` loops make more sense in a separate issue.

[2016-12-02 09:25] chriseth commented on #1466
This is a quite old feature, @VoR0220 , it tries to represent the number with an expression that is shorter than the constant.

[2016-12-02 09:59] recmo commented on #1466
Here's my use-case: https://gist.github.com/Recmo/2fe7e4179127cc7fd693fe5b876c1525 Feel free to include it in the test suite, if you want.

[2016-12-02 10:01] axic opened #1469 "Memcpy can fail and is silently ignored"
`CompilerUtils::memoryCopy()` is used for copying arrays (string, bytes, arrays, etc.)

Currently it uses the identity precompile to accomplish this (it might change, see #1248), but it won't check if the actual call succeeded: https://github.com/ethereum/solidity/blob/develop/libsolidity/codegen/CompilerUtils.cpp#L315

Shouldn't it throw if it couldn't copy?

[2016-12-02 10:09] chriseth commented on #1469
The only way it might fail is due to gas problems. Let's just remove it.

[2016-12-02 10:11] axic commented on #1469
And if it is run on chain without the precompile.

[2016-12-02 10:23] #611 closed, assigned to chriseth

[2016-12-02 10:26] axic opened #1470 "Add tests for the metadata JSON format"

[2016-12-02 10:27] chriseth commented on #1141
Sometimes, you need the ability to refer to individual elements of the return tuple. The example is bad, though, I agree.

[2016-12-02 10:31] pirapira opened #1471 "a everywhere-visible function should be able to override an external function"
During discussion and experiments with @chriseth, we found a code that should compile but does not currently:

[code]

[2016-12-02 10:32] chriseth opened #1472 "for loops for assembly"
Came out of #1320.

Loops should be a native feature of assembly both for ease of use and also for better optimization and analysis abilities. Furthermore, loops are a basic feature of wasm which might be a future backend for solidity.

Proposed syntax:
[code]
pre and post can be blocks or single instructions (also in functional notation), cond has to be functional with one return value. Pre alrea

[2016-12-02 10:35] pirapira commented on #1084
In the first example, I think the compiler is doing the right thing because the derived function is still abstract.  `isObsolete` function is only defined externally, but not for internal calls.
[code]

[2016-12-02 10:38] pirapira commented on #1084
I'm not totally sure what behavior I should expect from the second example.

[code]

[2016-12-02 10:58] axic commented on #1471
Should it though?

If you consider the parent contract an interface, then this changes the interface specification.

[2016-12-02 11:15] chriseth opened #1473 "docker build is not automatically triggered"
docker hub https://hub.docker.com/r/ethereum/solc/ does not automatically generate a new build on a push to develop. This might  be due to the way I created the repository. We have to find someone with admin permissions for the ethereum org on docker hub to fix this.

[2016-12-02 11:45] pirapira commented on #1471
I just think it's acceptable if a function becomes internally accessible in a derived contract because that only matters to the implementor of the contract.  @chriseth was, at that moment, saying this should be accepted (though we were in a special mindset after discussing #1084 ).

[2016-12-02 13:31] axic opened #1476 "Retire suicide and sha3 methods with the next breaking release"
The preferred way is to use `keccak256` instead of `sha3` and `suicide` was renamed to `selfdestruct` by an EIP.

[2016-12-02 15:08] axic opened #1478 "LLL: include metadata in output"
Here is a proposed amended metadata for LLL:

[code]

While this cannot be used to retrieve an ABI or to use nastspec, it is enough to verify the compilation.

[2016-12-02 15:10] zigguratt commented on #1440
This test shows the failure quite nicely:
[code]
This produces
[code]

[2016-12-02 15:28] pirapira opened #1480 "The standard contract StandardTokens.sol is compiled into the empty bytecode"
On version `0.4.7-nightly.2016.12.1+commit.3a01a87a.Linux.g++`,

[code]
yields empty bytecode.

[code]

[2016-12-02 16:24] chriseth commented on #409
We decided to rather denote decimal places instead of "number of bits after the comma" to reduce confusion among users. This means that
`fixed64x7` is a type of 64 bits and a value `x` of this type is interpreted as the number `x / 10**7`.

The type `fixed` is an alias for `fixed128x19`. The reason is that this type simplifies multiplication and also allows conversion from `int64` without loss of

[2016-12-02 17:20] VoR0220 commented on #409
@chriseth do we still want to allow users to fully extend the decimal range so that it can be fixed0x32 (I believe that's the full amount that it could take in but may be wrong).

[2016-12-02 17:23] chriseth commented on #409
@VoR0220 note that the 0 is the total amount of bits in the type. The drawback of using decimals is that you cannot force the value to be between 0 and 1 anymore (because that does not fit the decimal range).

[2016-12-02 17:24] VoR0220 commented on #1320
agreed with @pirapira either way it's a nice proposal.

[2016-12-02 17:26] VoR0220 commented on #409
@chriseth so in other words it HAS to have an integer portion now...That's fine by me. The range and precisions seriously diminishes after 128 bits in fixed point either way.

[2016-12-02 18:05] pirapira opened #1482 "--optimize still emits code that can be peephole-optimized"
On version `Version: 0.4.7-nightly.2016.12.1+commit.3a01a87a.Linux.g++`, when I try this source
[code]
with the optimizer,
[code]

I see a sequence `STOP LOG1`.  This should have been removed by the rule `UnreachableCode` in `PeepholeOptimizer.cpp`.

[2016-12-03 00:06] chriseth commented on #1482
I think the sequence you are seeing is not code but data. It should be the metadata we just introduced.

[2016-12-03 00:08] #1469 closed, assigned to axic

[2016-12-03 00:52] axic commented on #1482
I think we should fix the `opcodes` output to not include the aux data or to display it differently.

[2016-12-03 00:54] axic commented on #1482
[code]

Why do we have the metadata in the runtime output?

[2016-12-04 02:20] VoR0220 commented on #409
Actually...I think we can. http://academic.evergreen.edu/projects/biophysics/technotes/program/bcd.htm#multiply

[2016-12-05 09:22] chriseth commented on #1482
The "opcodes" output is not too helpful after all, we could just remove it in favour of assembly.
The metadata is part of the runtime output in order to ease retrieval. It is quite hard to find the creation transaction and it might not even be available to light clients.

[2016-12-05 09:23] chriseth commented on #1482
Can this be closed?

[2016-12-05 09:24] chriseth commented on #1480
We talked about that, this is because one of the abstract public functions only have an external implementation. The code should be fixed, though.

[2016-12-05 09:31] pirapira opened #1484 "Specify the input and the output of the assembler"
I remember @chriseth asked me if it is easy to implement an assembler in OCaml.  This issue keeps track of specifying the input and the output of this executable.

[2016-12-05 10:21] pirapira commented on #1482
Yes.

[2016-12-05 10:21] #1482 closed, assigned to nobody

[2016-12-05 10:51] chriseth opened #1485 "Inline assembly: switch"
If we add for loops to inline assembly #1472, the only structure that is left that would generate explicit jumps is "if" and friends. If we are able to eliminate explicit jumps, then translation into a language that does not have jumps like web assembly will be much easier. Also, optimization on the basis of assembly is easier without explicit jumps.

"if and friends" can all be implemented using

[2016-12-05 10:52] chriseth commented on #1320
"switch" constructs are also really helpful for an intermediate language: https://github.com/ethereum/solidity/issues/1485

[2016-12-05 11:56] pirapira opened #1486 "Empty bytecode emitted when an external function is implemented by an accessor"
When I implement an external function by a state variable accessor, the Solidity compiler emits the empty bytecode.

[code]

[2016-12-05 11:57] pirapira commented on #1480
@chriseth Even when I specify the abstract function to be `external`, I still see the empty byte code: #1486.

[2016-12-05 11:58] axic commented on #1480
Why is it defined `external` in the first place?

[2016-12-05 12:01] pirapira commented on #1480
The accessor is `external` because otherwise there is ambiguity around function types.  If we make the accessor functions available from within the contract, `x()` is ambiguous after a declaration `function () returning () public x`.  `x()` might mean calling the accessor or calling the function stored in `x`.

[2016-12-05 18:44] roadriverrail commented on #1120
Quick note that I got the file naming stuff done; I was going to sit down
on the plane last night and run the test suite to see what I broke,
and...well, let's just say it's now in the Atlanta airport lost-and-found.
I should get it back Saturday, and I'll get it committed on my branch so
that I don't lose it again.

On Thu, Dec 1, 2016 at 3:39 AM chriseth <notifications@github.com> wrote:

[2016-12-05 20:20] federicobond commented on #1436
Circular references also cause a segmentation fault:
[code]

The crash is triggered by an infinite recursion in the `ExpressionCompiler::appendVariable` method, which causes a stack overflow.

[2016-12-05 20:49] pirapira commented on #1436
@federicobond thank you for digging down.  I'm thinking of keeping track of the set of "currently being expanded constants" so that we can catch this.

[2016-12-06 09:44] pirapira commented on #1120
@roadriverrail good luck!

[2016-12-06 12:47] #1403 closed, assigned to pirapira

[2016-12-07 01:19] federicobond commented on #1436
Is there a standard solution for solving this problem in compilers? It's a pretty common case so I assume there is a tried-and-tested method somewhere.

[2016-12-07 01:21] federicobond commented on #1436
I just tested self-referential and circular non-constant state variable declarations and the compiler accepts and compiles the code without throwing an error. I have no idea what the output means, though.

[2016-12-08 04:28] federicobond commented on #1257
Cannot reproduce this in macOS Sierra.

[2016-12-08 10:31] axic commented on #1257
This is likely the long standing non-deterministic bug, happens only on some builds.

[2016-12-08 12:26] esques commented on #355
I think the interpretation of what an Exception is is exceptional here. In conventional programming languages, an exception does not rollback the state.  It is just a way to express that something exceptional happened. If you want to implement such *Checked Exceptions*, is way more easy and certainly useful. The `throw` statement then should remain or better renamed, e.g.  `throw rollback;`

[2016-12-08 15:15] #1312 closed, assigned to nobody

[2016-12-08 15:15] #1318 closed, assigned to pirapira

[2016-12-08 20:04] federicobond opened #1493 "Add definitions for tuples in grammar.txt"
I am working in [ConsenSys/solidity-parser](https://github.com/ConsenSys/solidity-parser) and some definitions for how to handle tuples would be very useful for this and other parsers.

[2016-12-09 05:24] ethers commented on #1141
For refering to tuple elements, just an idea:
/// @return (balance, nonce, counter)
/// @@balance The balance of the user provided as argument
/// @@nonce The nonce of the ...
/// @@counter The counter of the ...

`function foo() constant returns (uint256, uint256, uint256)`

The comment (balance, nonce, counter) is matched against the tuple (uint256, uint256, uint256).

With tuples, an explicit r

[2016-12-09 11:48] chriseth commented on #1141
Actually I think `@return` should be very similar to `@param`. How does javadoc/doxygen handle unnamed parameters? I think we can be a bit flexible here:
If there is an identifier after `@return`, try to look it up in the list of return values. If it is there, this is the documentation about that value. If it is of the form `[i]`, it is the documentation of the `i`th return value. Otherwise, it is

[2016-12-10 15:03] pureland opened #1495 "can get the memory address of array or Bytes direclty?"
create a call data store in Array/Bytes when use call in internal assembly , call data input by memory address  and datasize, if can get the memory address of array or Bytes?

[2016-12-11 15:46] #1029 closed, assigned to nobody

[2016-12-11 22:21] roadriverrail commented on #1120
Laptop recovered and I checked my work in just in case.  It's functional for what limited personal tests I did; will try to run the testsuite soon.

[2016-12-12 00:41] VoR0220 opened #1499 "Segmentation Fault when trying to build docker image"
Trying to reproduce steps from docker file seems to fail in the build.

[code]

[2016-12-12 03:39] VoR0220 commented on #1499
never mind, it appears to be working.

[2016-12-12 03:39] #1499 closed, assigned to nobody

[2016-12-12 04:03] VoR0220 opened #1500 "Proposed dockerfile changes"
1. I'm requesting that https://hub.docker.com/r/ethereum/solc/tags/ be utilized when releasing from now on. Each time that a release is made, the version should be tagged into the docker image.

2. If at all possible, it would be nice to have solc released on apk in alpine.

That is all. 1. should be more than doable (I'll help write the test script if I have to). 2. is a nice to have, but not req

[2016-12-12 08:20] chriseth commented on #1495
I am not sure I understood the question, but if you access the name of a memory array variable in inline assembly, the memory position of that variable is "returned". Note that the data in memory starts with the length of the array (one word, 32 bytes) and then only the actual data starts.

In general, such questions are much better suited for ethereum.stackexchange.org - this is only an issue tra

[2016-12-12 08:20] #1495 closed, assigned to nobody

[2016-12-12 09:25] chriseth commented on #1500
That was the plan. We just did not have a release after the dockerfile was included into develop.

[2016-12-12 11:38] chriseth commented on #1493
Tuples are part of the grammar:

https://github.com/ethereum/solidity/blob/develop/docs/grammar.txt#L67 and
https://github.com/ethereum/solidity/blob/develop/docs/grammar.txt#L82

What information do you specifically need?

[2016-12-12 13:49] yaronvel commented on #1476
Could you make `sha3` a reserved word that no one could use?
Otherwise, one could fool others with a call to dummy `sha3` implementation.

[2016-12-12 13:56] wuestholz opened #1501 "Mapping EVM code back to source code to facilitate program analysis on bytecode-level"
I'm working on program analysis for EVM bytecode and it would be very useful to be able to map errors on in the bytecode back to errors in the source code (e.g., written in Solidity).

One way to achieve this would be to record some additional information during compilation. For instance, in .Net .pdb-files are used for this purpose. I was thinking it might be nice to support something similar for

[2016-12-12 14:34] federicobond commented on #1493
You are right, what is missing is the definition of tuples as lvalues though. Specifically, in the [VariableDeclaration](https://github.com/ethereum/solidity/blob/develop/docs/grammar.txt#L38) rule.

[2016-12-12 14:49] VoR0220 commented on #1500
:DDDD

[2016-12-12 15:08] VoR0220 commented on #1501
You may want to look at the json file input/output metadata issue that is being talked about. Though the mapping of instructions hasn't been brought up, and that might be useful...maybe.

[2016-12-12 15:21] chriseth commented on #1501
This one should help you: https://solidity.readthedocs.io/en/develop/miscellaneous.html#source-mappings

[2016-12-12 17:08] pirapira opened #1502 "grammar.txt is not correct with respect to identifiers starting with $"
`grammar.txt` has `Identifier = [a-zA-Z_] [a-zA-Z_0-9]*`.  However, the implementation allows an identifier `$x`.

[2016-12-12 19:41] wuestholz commented on #1501
@chriseth Great! That should do. Thank you very much for the pointer.

[2016-12-12 19:41] #1501 closed, assigned to nobody

[2016-12-12 21:39] #1248 closed, assigned to chriseth

[2016-12-13 10:01] chriseth opened #1505 "Ability to catch exceptions"
A general `try { ... } catch`-statement should be available to catch exceptions.

How to implement it: The "invalid label" has to become dynamic and somehow either the stack height has to be stored or it will be impossible to access local variables. Furthermore, we have to decide whether local effects should be reverted or not.

[2016-12-13 14:27] #1058 closed, assigned to nobody

[2016-12-13 15:55] pipermerriam opened #1509 "Scheme to allow returning `bytes` and `string` between contracts"
My understanding is that this is currently not allowed because the length of the returned value is unknown so the caller cannot pre-allocate the *proper* amount of memory for the return value.  I propose the following scheme to enable this functionality.

[code]

The RLP encoding for `bytes` and `string` values begins with a 32 byte representation of the length of the value followed by the actual

[2016-12-13 21:27] chriseth commented on #1509
I think this is extremely dangerous since the called function might have side-effects. Let's wait for metropolis, where we hopefully have EIP-5 implemented.

[2016-12-13 21:43] pipermerriam commented on #1509
Fair point.  At least I now know it's possible :)

[2016-12-13 21:43] #1509 closed, assigned to nobody

[2016-12-14 16:17] chriseth opened #1510 "Make memcopy work for overlaps"

[2016-12-14 16:23] #1328 closed, assigned to nobody

[2016-12-14 16:25] axic opened #1511 "Document the AST output"
The AST output from the compiler should be documented and we should follow our policy of breaking changes there as well.

[2016-12-14 16:26] axic opened #1512 "Metadata - decide/document sorting/ordering of fields"
The ordering of the fields in the metadata output should be deterministic for each compiler version as it should reproduce the same output file.

We need to test/review and ensure that it is definitely the case.

(Pulled from #1508.)

[2016-12-14 16:39] chriseth commented on #1512
jsoncpp sorts keys in objects alphabetically. Are you talking about that?

[2016-12-15 18:19] yaronvel opened #1516 "Compiler does not prevent redefinition of predefined functions (e.g., `sha256`)"
The following code compiles and it seems that when calling `sha256` the new code is executed.

[code]

[2016-12-16 00:03] pnomarev opened #1517 "Exponential compilation time with multiple if clauses"
It takes about 6 seconds for the following code to be compiled. Every additional 'if' clause roughly doubles this time.

pragma solidity ^0.4.7;

contract test {

    uint x0;
    function b() returns (uint) {
        uint answer;

        if(x0>3) answer = 42;
        if(x0>3) answer = 42;
        if(x0>3) answer = 42;
        if(x0>3) answer = 42;
        if(x0>3) answer = 42;
        if(x0>3) a

[2016-12-16 01:56] federicobond commented on #1517
I cannot reproduce this on latest master (with or without optimization).

[2016-12-16 02:21] pnomarev commented on #1517
Could you try to double the number of ifs? It just hangs my browser's tab

[2016-12-16 10:29] chriseth commented on #1517
This is a know bug in the optimizer.

[2016-12-16 10:30] chriseth commented on #1516
This is intentional as `sha256` is not a keyword.

[2016-12-16 10:30] #1516 closed, assigned to nobody

[2016-12-17 11:07] roadriverrail commented on #1283
The current behavior appears to be to create the output directory if it does not exist.  You'd prefer a hard fail?

[2016-12-19 10:19] chriseth commented on #1283
Ok, let's not change it then.

[2016-12-19 10:19] #1283 closed, assigned to nobody

[2016-12-20 23:23] ethers commented on #796
This is labelled "soon" and how soon will this be? :)  Does the long checklist need to be implemented at once, or can it be done iteratively?
Implementing some of them can already provide early safety/ROI imo, like:
- [ ] exception on overflow in addition of two unsigned numbers
- [ ] exception on underflow in subtraction of two unsigned numbers

[2016-12-20 23:33] ethers commented on #796
@pirapira In your checklist, `exception on overflow in /=` is duplicated.  I think for one of them you mean `exception on underflow in -=`.

Also, how about overflow of INT_MIN/-1 ?

[2016-12-21 09:22] pirapira commented on #796
@ethers Thank you.  I fixed the checklist above.

These overflow checkings are breaking changes, and for some reasons, Solidity release `0.5.0` will be the next one that can contain breaking changes.  I would support removing this rule (until we get to 1.0.0).

[2016-12-22 18:50] VoR0220 opened #1520 "Problem with current remappings and suggestions for better model"
Current Problem:

Suppose I have a file structure for a module `foo` as such:
[code]
And the following contents in the files set as:

foo.sol:
[code]

dee.sol:
[code]

1.0.0/bar.sol:
[code]

2.0.0/bar.sol:
[code]

Currently I can get this to compile using the following command:

[code]

#### Mid issue writing update
Documentation complaint: I was about to complain about the fact that there is no w

[2016-12-22 21:10] VoR0220 commented on #1520
Upon even FURTHER investigation, it turns out that `$` actually isn't doing anything and simply adding another `potential` remapping into the mix...which I guess is alright, but isn't precise and could break/harm things. Going to try to go for a fix using `@` instead. The command line will most likely pick that up.

[2016-12-23 10:53] chriseth commented on #1520
Solidity remappings always operate on global paths, and the context (the stuff before the `:`) is always a global path prefix, so you should get better result by using `/home/user/src/dee:bar=bla`.

[2016-12-23 14:08] VoR0220 commented on #1520
Realize that @chriseth (its what i used prior to) but what im saying is that could be put together in an easier way by enabling a reference ability to resolve paths. Im currently working on a PR for this. Will link when finished.

[2016-12-23 15:32] pirapira opened #1521 "The peephole optimizer should remember the source location attached to assembly items"
@yann300 reported some `-1:-1` source locations.

[2016-12-23 16:07] pirapira commented on #1521
On 3a88580512f6cb5f3305c371bbbdda8e47f44687,

[code]

[2016-12-26 14:42] Mxxim opened #1523 "error"
[code]

[2016-12-26 14:50] Mxxim opened #1524 "error: error.sol:33:11: Error: Expected identifier, got 'LParen'"
This is my contract code.

[code]
When compiling this source code, it happens error. But if there is no `C.setA(A.getA())`, it can compile.

And I find I can't pass `int32[]` type from other contract. How can I write contractB to backup contractA data to contractC ?

[2016-12-27 08:48] #1523 closed, assigned to nobody

[2016-12-27 16:48] pirapira commented on #1450
I'm wondering what makes a nice example now.  After `var x = int;`, `x` is not useful.

[2016-12-30 09:07] pirapira commented on #1521
This is a problem in the peephole optimizer because when I disable it I don't see the problem.

[code]

[2016-12-30 12:48] pirapira commented on #1521
`OpPop()` seems to be one of the culprits.

[2016-12-30 17:13] pirapira opened #1532 "remapping rules with directory names containing `=`; exclude them in the doc, or support them"
In the documentation, in `docs/layout-of-source-files.rst`, it should be documented that the context dependent module remapping does not work when the context contains a `=` character.  In `develop` the following test fails.  I found this while reviewing #1525.

[code]

[2016-12-30 17:19] pirapira opened #1533 "Remapping specifier without an `=` should cause an error"
In `develop`, when a remapping is specified without an `=`, the remapping is silently dropped.  However, this should cause an error.  The following test should pass.

[code]

Or, documentation should describe how a remapping without `=` should behave.

[2016-12-30 17:34] VoR0220 commented on #1533
Well...no it shouldn't because a remapping without an `=` is just...a target. So without that you're basically referencing a file to be compiled.

[2016-12-30 17:35] VoR0220 commented on #1533
so actually this should continue to compile...in this example, `foo` wouldn't even make it into remappings.

[2016-12-30 17:36] VoR0220 commented on #1533
although I suppose it couldn't hurt to make sure that if `foo` is included in `setRemappings` that it should fail.

[2016-12-30 17:38] VoR0220 commented on #1532
so here's what that actually is doing. a becomes the remapping and `:=s=s` the target. So it's doing its job...it's properly failing....but what did you have in mind that it should do?

[2016-12-30 17:51] pirapira commented on #1533
OK.  I added the last sentence in the description of this issue.

[2016-12-30 17:53] pirapira commented on #1532
In the context `a=`, the prefix `s` should be mapped to `s_1.4.6`.

[2016-12-30 18:25] VoR0220 commented on #1533
but it already does document how it behaves. https://solidity.readthedocs.io/en/latest/layout-of-source-files.html#use-in-actual-compilers I think this test could be added though. As it should never make it that far.

[2016-12-30 18:53] pirapira commented on #1533
I see.  Thanks.  Something is still fogging me but I will try to raise another issue for that.

[2016-12-30 18:53] #1533 closed, assigned to nobody

[2016-12-30 19:12] pirapira opened #1534 "Ambiguity in the documentation about what kind of string is considered as an absolute path"
In the documentation, in `layout-of-source-file`, there is a sentence ``Path names that do not start with `.` are treated as absolute paths.`` which is ambiguous to me.

* Is `../a` treated as an absolute path or not?  The path starts with the character `.` but not the directory `.`.
* Is `.file` treated as an absolute path or not?  The path starts with the character `.` but not the directory `.`.

[2016-12-30 19:17] pirapira opened #1535 "Enabling the `@` reference in the targets of remappings too"
In #1525, `@prefix` can be used as a context for remapping.  This looks up the already defined remappings.

This issue is about enabling the same notation in the target part of the remapping declarations.

Example:
`dapp_bin=/somewhere/dapp/bin/is famous_dapp=@dapp_bin/famous_dapp`

[2016-12-30 19:40] pirapira opened #1536 "strings being prefixes of each other should be equal, but supposed to be different"
In the documentation, `layout-of-source-files.html` contains this sentence:  `If remapping keys are prefixes of each other, the longest is tried first.`

When two strings are prefixes of each other, the two strings are equal (both the length and the contents are equal).  So this sentence should be saying something else.

[2016-12-30 20:33] VoR0220 commented on #1535
what is the use case here? I'm confused how this would be utilized.

[2016-12-30 20:36] VoR0220 commented on #1532
okay, here's a better question: what is context `a=` in this instance? That would be a remapping under current definition?

[2016-12-30 20:54] pirapira commented on #1535
Started thinking about the use case..., yes,
[code]
is much shorter with the `@` notation in the target.

[2016-12-30 20:55] pirapira commented on #1532
`a=` is a directory.  I can create one like `mkdir a=`.

[2016-12-30 21:23] VoR0220 commented on #1535
Ahhhhh..okay...i see where you're going with this.

[2016-12-30 21:34] VoR0220 commented on #1532
so what you're saying is that only the last `=` should be used to create a remapping in the full string, yes?

[2016-12-30 21:39] pirapira commented on #1532
Maybe not, because the target can contain `=` too.  One way around is to introduce some escaping; `==` means a single `=`, perhaps.

[2016-12-30 22:48] VoR0220 commented on #1532
Then it should be the first `=` defines the remapping so long as it's after the colon for context. Escaping might be something useful, but I'm feeling this might be overcomplicating things.

[2017-01-02 11:01] chriseth commented on #1524
This is a question better suited for https://ethereum.stackexchange.com
The short answer is that you cannot use dynamic returned data in function calls.
Closing since this is not a bug report.

[2017-01-02 11:01] #1524 closed, assigned to nobody

[2017-01-02 11:11] chriseth commented on #1450
We could just not speak about it anymore.

[2017-01-02 11:13] #1521 closed, assigned to pirapira

[2017-01-02 11:39] chriseth commented on #1534
Actually the implementation has a bug there (it is in `CompilerStack::absolutePath`). I guess the following should be the correct behaviour:

Path elements are separated by `/`. If the first path element is `.` or `..`, it is a relative path, otherwise it is an absolute path.

Could you modify both the implementation and the documentation?

[2017-01-02 11:42] chriseth commented on #1536
I think the intention was to say `If the remapping keys are not prefix-free, the longest is tried first` but make it understandable to non-theorists. We could just say `If multiple remappings can be applied, the one with the longest key is tried first.`

[2017-01-02 11:45] chriseth commented on #1532
I think the current behaviour is fine (longest match goes to target, not path) and I also think it is fine to assume that `=` is not part of a path, so we do not really need an escape. Let's add a test nevertheless that enforces the current behaviour (unless there are arguments against).

[2017-01-02 11:47] pirapira commented on #1534
OK.

[2017-01-02 11:48] pirapira commented on #1536
I like the last rephrasing.

[2017-01-02 14:46] pirapira commented on #1130
When I verify the lack of assertion failures in theorem provers, I would want to see `assert(thing)` compiled into `if (!thing) invalid_opcode` rather than `if (!thing) throw;`.  I don't want to prove "no `throw` is ever executed" (because users can specify wrong function signatures) but "no invalid opcodes are ever executed" is provable (if assertions never fail).

I'm suspicious of optionally co

[2017-01-02 15:39] chriseth commented on #992
I think we more or less found that our framework is not yet fully specified because pure functions might modify memory. My current proposal would be the following:

view and pure are attributes applied to the function, and they only concern storage and other permanent state.
The pure keyword should be renamed, because a "pure" function is still able to modify memory references that are passed in (

[2017-01-02 16:23] esques opened #1539 "Precision in Misc docs about automatic getters"
From the [Solidity documentation][1]:

However, this is an illusion if your variable is of a complex type like `mapping` or `array`.
So could you add: for primitive types in the documentation?

  [1]: https://solidity.readthedocs.io/en/develop/miscellaneous.html?highlight=getter#tips-and-tricks

[2017-01-02 16:24] esques commented on #1539
And why does it work in Browser-solidity so smoothly?

[2017-01-02 16:34] redsquirrel commented on #1539
It still creates getters for complex types, but those getters require parameters (a key for a mapping, and an index for an array).

[2017-01-02 17:47] SilentCicero opened #1540 "Feature Request: allow for input of pre-compiled bytecode"
Right now the `solc` compiler can only intake the sources of solidity files/source maps. But when I'm compiling more than say, 15 contracts (which I do often, as many of us use the EVM/solc as a testing environment). The compile time takes forever, sometimes up to 10+ minutes depending on the source. Many of the contracts I'm compiling have already been compiled (and have not changed). Often times

[2017-01-02 20:01] Georgi87 commented on #1540
I agree that compile time becomes an issue with multiple contracts/tests. All Gnosis tests run in total for almost 20 minutes. I would suggest adding a cache to the compiler, which could be enabled with a flag. This cache would map a hashed version of the source code to the bytecode:

`hash(source code) => compiler version => bytecode`

This would allow to compile only when there are changes and w

[2017-01-02 22:33] pipermerriam commented on #1540
This feature will also be very valuable for some of the upcoming ethereum package management stuff that's being worked on over at https://github.com/ethpm/epm-spec

* In situations where a dependency is *trusted* it would be convenient to be able to just inject the pre-compiled asset that was shipped with the package into the compiler rather than forcing it to be recompiled.
* In situations where

[2017-01-03 04:43] SilentCicero commented on #1540
@Georgi87 I really like mixing the compiler version as well. very nice!

@pipermerriam yes, this would speed up compile time for epm stuff for sure.

[2017-01-03 08:42] chriseth commented on #1540
There is currently no way to request only a specific output, the compiler will always generate the bytecode for every single contract it finds in the source. We are changing that when we switch to the new json-based input specification. If that does not help, supplying already compiled bytecode sounds like a useful though potentially dangerous feature.

[2017-01-03 09:23] esques commented on #1539
Oh, I found the error. Was false alarm! thanks

[2017-01-03 09:23] #1539 closed, assigned to nobody

[2017-01-03 09:30] #1536 closed, assigned to pirapira

[2017-01-03 13:07] chriseth commented on #1247
@pirapira would you like to do this task? We should provide an option to select which rules apply. For now, we do not need to expose that option to the commandline interface, instead, we just select the latest rules in effect in the real world.

[2017-01-03 13:11] #1286 closed, assigned to pirapira

[2017-01-03 13:28] pirapira commented on #1247
OK.  I also noticed the `nextrelease` label.

[2017-01-03 19:26] SilentCicero commented on #1540
@chriseth proper hashing/mapping of the bytecode and contracts should help us prevent problems. As Stefan noted, we can tightly hash compiler version, contract data, etc to link and compare bytecode. Infact, we could hash (bytecode, source code, compiler version) etc, to make sure the link is air tight.

We are all having problems with the compile time of Solidity. It's a very cumbersome language

[2017-01-04 12:27] chriseth commented on #831
Closing due to inactivity.

[2017-01-04 12:27] #831 closed, assigned to nobody

[2017-01-04 17:31] aakilfernandes opened #1543 "Request: expose address.codehash"
I want to use a proxy contract that exposes it's `msg.sender` as a `public address proxyFor` variable. Problem is, without knowing an address' codehash, I can't tell if a call is being made from a proxy contract or an imposter-proxy contract. My understanding is there is no way to get the codehash from solidity.

[2017-01-04 19:07] aakilfernandes commented on #1331
Ah, i missed the big bold warning at the top =).

[2017-01-04 19:07] #1331 closed, assigned to nobody

[2017-01-04 21:57] mcoblenz commented on #220
I just encountered this issue and was confused by it. I don't think Solidity should inherit this behavior from JavaScript. First of all, JavaScript is fixing this: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/let. Second, Solidity is very far from JavaScript now (for example, not using prototypes like JS does); JS is no longer a suitable model for the language.

[2017-01-05 09:42] varunagarwal315 opened #1546 "Designing a smart contract for real world use case(s)"
I would like to refer to [this][1] documentation of list of possible use-cases for smart contracts written by people part of the hyperledger team. I have deployed some basic smart contracts of my own on a testnet with basic permissioning as well and want to tackle a much more advance, real-world use case.

The problem statement is

    Now that the account is open, Jane is issued a digitally signe

[2017-01-05 10:18] chriseth commented on #1546
Thanks, for your thoughts, @varunagarwal315! Identity verification is indeed an interesting problem. I fear that the whole system has to be much more complicated since in reality, trust should not be transitive and it has to be possible to revoke such verifications. I think the uport project already spent quite some thoughts on these matters. As far as software architecture is concerned, I guess t

[2017-01-05 10:18] #1546 closed, assigned to nobody

[2017-01-05 11:14] chriseth commented on #1543
The current way to do this would be to use a suitable library that does the job for you: https://solidity.readthedocs.io/en/develop/control-structures.html#example

Also, I don't fully understand what you are trying to do, but if you in any way rely on the initial state of the contract (for example if you store a specific owner in storage), checking the deployed code is not enough, you also have t

[2017-01-05 13:08] pirapira commented on #1247
This comes in two steps.
* [ ] update the gas table, without supporting multiple versions (this should solve the problems for the current users)
* [ ] support multiple versions of gas table
    * [ ] the test cases in `GasMeter.cpp` need to specify fee schedules

[2017-01-05 15:11] chriseth commented on #1247
There are some tests that check the gas usage against cpp-ethereum, so I think with this story, we also have to update the cpp-ethereum we use as testing backend. We might want to switch to the docker image for that.

[2017-01-05 15:48] chriseth commented on #220
We are also planning to introduce `let`.

[2017-01-05 15:55] pirapira commented on #1247
@chriseth I'll figure out what interface I need from `eth/eth`.

[2017-01-05 15:55] chfast opened #1547 "Travis CI: install cmake from official webpage"
Same as https://github.com/ethereum/cpp-ethereum/issues/3331 and https://github.com/ethereum/cpp-ethereum/pull/3474.

[2017-01-05 17:04] aakilfernandes commented on #1543
So this is a simplified version of a contract I want to use.

[code]

I need to differentiate between this Proxy and an ImposterProxy like this.

[code]

Would using the codeHash be acceptable?

[2017-01-06 10:03] chriseth commented on #1543
If you use storage, codhash is not suitable. On the other hand - is your contract correct that way? `sender` is not really used after the constructor.

[2017-01-06 10:30] esques commented on #1184
Maybe this attack supports the urgency a bit more:

https://www.reddit.com/r/ethereum/comments/5lzw0e/psa_hackergolds_hkg_token_has_a_bug_and_will_need/

@pirapira probably a static analysis warning would be a first remedy? I'd prefer that the language prohibits `=+` at all

[2017-01-06 10:35] chriseth commented on #1184
Yes, we could add such an analysis step to the browser-solidity static analyser (should also be quite easy to do that for an external contributor).

[2017-01-06 16:11] #1534 closed, assigned to pirapira

[2017-01-07 15:38] hievan2016 opened #1550 "Rule for string->uint mapping and the storage position"
Env
==========
solc --version
solc, the solidity compiler commandline interface
Version: 0.4.7+commit.822622cf.Linux.g++

 ./geth version
Geth
Version: 1.4.7-stable-667a386d
Protocol Versions: [63 62 61]
Network Id: 1
Go Version: go1.5.4
OS: linux

Problem
=========
We are trying to figure out the mapping rule and storage position of saved data
base on this formula

  keccack(LeftPad32(key, 0), Le

[2017-01-08 03:15] sunalive2013 opened #1551 "ERROR: a file is required"
After intall  cmake ..&make, I open terminater and input the command "solc".I encountered the problem "ERROR: a file is required".

[2017-01-09 03:52] walter-weinmann opened #1552 "grammar.txt: AssemblyAssignment"
Should it not rather be

`AssemblyAssignment = Identifier ( ':=' FunctionalAssemblyExpression | '=:' Identifier )`

instead of

`AssemblyAssignment = Identifier ':=' FunctionalAssemblyExpression | '=:' Identifier`

?

[2017-01-09 04:09] federicobond commented on #1552
This is legal code:
[code]

See https://solidity.readthedocs.io/en/develop/control-structures.html#assignments

[2017-01-09 04:17] walter-weinmann commented on #1552
Thanks.

[2017-01-09 04:17] #1552 closed, assigned to nobody

[2017-01-09 04:22] federicobond commented on #1505
Would it be possible to attach a label to the catch statement? Too general catch clauses have proven to be a constant source of bugs in many programs.

Perhaps these tags could be translated to simple `errno`-like integers to be stored in a special location and the `catch label {}` could check against this number before running the catch clause, or continue the stack unwinding otherwise.

Sure, yo

[2017-01-09 07:04] VoR0220 commented on #1184
@rolandkofler the problem with prohibiting that is that it actually does have a legitimate purpose as a unary operator. As for other languages not supporting it...Golang supports it...JS supports it...C++ supports it...Python supports it...I'm not aware of any languages that don't also have this functionality...the stakes are merely higher in a blockchain context and comes under much more scrutiny

[2017-01-09 07:06] VoR0220 commented on #1184
Ah finally found one that disallows it. Rust.

[2017-01-09 07:20] esques commented on #1184
So we have a historical track record of allowing `a=+1` and spaced variaties. The options are
- static analyzer warning for =+, =-
- deprecating 	= += -= *= /= ...
- status quo

I think deprecating is the most elegant option because the gain is so little for the short form to have *reason d'etre* and it solves a easy mistake.

[2017-01-09 07:50] pirapira commented on #1184
@VoR0220 <del>Also Ruby does not have it.</del> Ruby does not have `+=`.

[2017-01-09 10:21] chriseth commented on #1505
The main problem to overcome is how to handle cross-call exceptions.

[2017-01-09 14:17] #1183 closed, assigned to chriseth

[2017-01-09 15:20] VoR0220 commented on #1184
@rolandkofler I think there's the simple legitimate use case of converting a negative to a positive...and I think that alone is enough to keep the unary operator functioning as it does. I think if one is serious enough about their contracts, they should be employing proper unit testing to make sure that their contracts behave as they should (and that was clearly not employed in this recent "attack

[2017-01-09 15:36] esques commented on #1184
@VoR0220

you mean `b = -a;` ? yes I agree. What I would deprecate is the `+=` shortcut and its cousins `-= *= \=`...
If humans have a hard time to interprete `a +=+ 1` correctly then this sintactic sugar is not justified.

[2017-01-09 16:05] federicobond commented on #1184
I don't understand this option. Why not deprecate the unary plus, which is the useless construct here, instead of all the useful assignment operators?

The unary plus is meaningful in dynamically typed JavaScript to coerce values to numbers, and it is meaningful in C to promote values to integers. It's a [no-op in Solidity](https://github.com/ethereum/solidity/blob/develop/libsolidity/codegen/Expr

[2017-01-09 16:27] VoR0220 commented on #1184
@rolandkofler that's a good point, one could simply take the negative of a negative to get the positive value. I think deprecating the `+=` and its cousins is an absolute non starter. It's a comfortable and often used shortcut.

with regards to @federicobond 's suggestion, this could be something of value to deprecate that would absolutely solve this problem.

@chriseth what do you think? Should w

[2017-01-09 16:46] esques commented on #1184
Certainly it's a filosofical debate. What does Solidity value more comfort or clarity?
`myValue += yourValue` vs `myValue = myValue + yourValue`

[2017-01-09 17:14] VoR0220 commented on #1184
that's a good question. I'm unsure of the answer. Personally I'm for the comfort and familiarity aspect.

[2017-01-09 17:50] federicobond commented on #1184
The primary driver for a smart contract language should be to make it very hard (or impossible) to write wrong code. All other considerations of clarity and comfort should be subordinated to this.

[2017-01-09 18:08] VoR0220 commented on #1184
Agreed

[2017-01-09 22:08] chriseth commented on #1184
Solidity values comfort and clarity: `somecomplicatedValue = somecomplioatedValue + x`

[2017-01-09 23:02] aakilfernandes commented on #1543
@chriseth yup, the idea is that whatever `proxyReceiver` contract that `proxy` calls can check

1. the code hash of `msg.sender`
2. the `sender` variable

[code]

and know who is proxying

So in this case, your not checking the codehash to make sure the `sender` is correct, just to make sure that the proxy contract has a constructor function which sets `sender` to `msg.sender`

[2017-01-10 09:27] chriseth commented on #1543
If you can, change the proxy so that it does not use storage, then you can verify everything by retrieving its code.

[2017-01-10 14:13] chriseth commented on #1550
Since strings are arbitrary length, you have to hash them first.

[2017-01-10 14:13] chriseth commented on #1551
Did you try `solc input.solc`?

[2017-01-10 14:14] chriseth commented on #1535
I think this should not be a base feature of the remapping mechanism but rather a feature of the user interface.

[2017-01-10 14:15] chriseth commented on #1512
Can this be closed?

[2017-01-10 14:16] chriseth commented on #1500
Should be working now.

[2017-01-10 14:16] #1500 closed, assigned to nobody

[2017-01-10 14:57] VoR0220 commented on #1535
I can agree with that.

[2017-01-10 14:59] VoR0220 commented on #1500
problem is that it's only designated into "stable"-"nightly"....needs an exact "version" tag every time we make a commit to develop....yes it will clog it up slightly, BUT...definitely needed for verification of compiler version.

[2017-01-10 15:37] hievan2016 commented on #1550
@chriseth

I still cannot get the correct hash value "69e08a2904d77becc5ebdff9265102784e25436cf0dfbaeb5c932ed98ffc834d", could you help check whether I miss anything?

var key0 = "00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000616161"
var key1 = web3.sha3(key0, {"encoding":"hex"})
var key2 = key1 + "000000000000000000000000

[2017-01-10 15:48] pirapira commented on #1550
I would try the array access in the browser-solidity, and chase the stack & memory contents.

[2017-01-11 03:06] hievan2016 commented on #1550
We are going to use getStorageAt() API, which requires the storage slot as parameter, so have to do sha3 hash to get the exact storage slot, so could you kindly help on this?

[2017-01-11 05:06] hievan2016 commented on #1550
And, in fact, we need to use mapping in this way "mapping(string=>MyStruct)", and found the correct storage slot cannot be got, then  simply the mapping to "mapping(string=>uint)" in this posting for easy reading/debugging.

[2017-01-11 07:33] nolash opened #1554 "Build fail dep/jsoncpp.list and json/json.h"
Attempted build on Linux Mint Sarah, which is based on Ubuntu 16.04.

**cmake** fails because of missing file in cloned repo:

[code]

When I remove the line from CmakeLists.txt and try compile **make** fails with following output:

[code]

Although distro not explicitly supported according to `scripts/install_deps.sh`, I've manually checked that dependencies are resolved (except I only manually i

[2017-01-11 07:37] #1554 closed, assigned to nobody

[2017-01-11 07:38] nolash commented on #1554
Never mind, I missed the fact that the deps dir was a reference to another repo.

[2017-01-11 07:56] pirapira commented on #1550
For your purpose, you can define
[code]
and call the function from web3.

[2017-01-11 13:18] hievan2016 commented on #1550
@pirapira  thanks for your reply, however, adding many get...() APIs is not what we want, we prefer using the calculated storage index and then call getStorageAt(), so let's continue figuring out how to calculate the storage slot.

@chriseth looking forwarding to your further input.

[2017-01-11 13:50] chriseth commented on #1550
Ah, I think your original version was fine except for padding the key. So I think the following should work:
[code]

[2017-01-11 15:59] chriseth opened #1556 "Functional style assembly output"
Solidity's assembly output should contract opcodes to functional style where possible and where the source location does not change between the opcodes.

[2017-01-11 17:21] rnkhouse opened #1557 "Cannot read property 'call' of undefined"
Compiling below code:

pragma solidity ^0.4.2;
contract HelloWorld {
    uint public balance;

    function Helloworld(){
        balance = 1000;
    }
}

truffle(default)> HelloWorld.balance.call()

Error:
TypeError: Cannot read property 'call' of undefined
    at evalmachine.<anonymous>:1:19
    at ContextifyScript.Script.runInContext (vm.js:35:29)
    at Object.exports.runInContext (vm.js:67:17

[2017-01-11 17:40] chriseth commented on #1557
This looks like a bug in truffle, please file a bug report there.

[2017-01-11 17:42] #1557 closed, assigned to nobody

[2017-01-12 07:10] esques opened #1559 "introducing wildcard modifiers"
Modifiers currently need to be explicitly applied to a function.

With a wildcard operator for modifiers, it would be possible to apply them o a defined set of functions.

e.g.:

`modifier checkAuth() appliesto public {}`

`modifier checkInvariants() appliesto * {}`

[2017-01-12 10:04] hievan2016 commented on #1550
Awesome, it works, thanks a lot!

[2017-01-12 10:35] chriseth commented on #1559
I think modifier areas https://github.com/ethereum/solidity/issues/623 are a clearer and less error-prone way to achieve a similar goal. What do you think?

[2017-01-12 10:35] #1550 closed, assigned to nobody

[2017-01-12 10:51] esques commented on #1559
Agree!

[2017-01-12 10:51] #1559 closed, assigned to nobody

[2017-01-12 23:28] #1547 closed, assigned to chfast

[2017-01-13 11:04] pirapira commented on #1084
@chriseth I need an opinion about my last comment above, about `isObsolete()` function.

[2017-01-13 11:08] pirapira commented on #1128
I think this defines it https://github.com/pirapira/eth-isabelle/blob/7bcb6113dd7d1723ee13102b04970d66456f491a/Hoare.thy#L9
although I still want to change it a bit, https://github.com/pirapira/eth-isabelle/issues/153

[2017-01-13 11:13] pirapira commented on #1291
This has been done by now.

[2017-01-13 11:13] #1291 closed, assigned to pirapira

[2017-01-13 11:17] pirapira commented on #1390
I don't think I need to do anything about this one: just some collection of links. https://github.com/ethereum/wiki/wiki/Solidity-Collections

[2017-01-13 12:01] chriseth commented on #1084
Even if it is confusing, I think we have to make a distinction between the internal inheritance structure and the external one. Because of that, I think the current way the compiler works is fine.

[2017-01-13 17:34] pirapira opened #1565 "Disallow variables overriding internal or public functions during inheritance"
On `develop` 8bdb99dcc5870268e68a42d8c567afa54f93a9b2 the following code compiles into a non-empty bytecode.

[code]

A function `f` in `A` is overridden by a public state variable in `B`.

* [ ] what does the documentation say about this case
* [ ] add a test according to the documentation.

[2017-01-13 18:49] VoR0220 commented on #1391
Can this be closed as this appears to be implemented now?

[2017-01-13 18:50] VoR0220 commented on #1391
nevermind, I am incorrect.

[2017-01-16 15:12] chriseth commented on #1565
We should treat variables overriding functions as an error in the next breaking version.

[2017-01-17 01:09] phiferd opened #1568 "Gas estimate hints"
The gas estimate feature is nice, but it can quickly become useless if there are functions for which the compiler cannot estimate gas.  For example, calling another contract.  While in a strict sense, it's true that the amount is unknown, it would be nice to allow the developer to annotate a method with some empirically determined estimate/hint.  In cases where the gas estimator cannot estimate ga

[2017-01-17 09:30] chriseth commented on #1391
This is needed for another feature, will implement now.

[2017-01-17 10:27] ethernomad opened #1571 "Option to not store Swarm hash of a metadata file into the bytecode"
It isn't possible to use the etherscan.io verification facility now that this functionality has been added.

Can it be made a command line option?

[2017-01-17 10:32] chriseth commented on #1571
Can you explain a bit more why this breaks etherscan verification? The idea was that it actually helps verification...

[2017-01-17 10:35] #1391 closed, assigned to chriseth

[2017-01-17 10:43] ethernomad commented on #1571
The problem is that the bytecode is now dependent on more things. You can use the same compiler version, but if you use Linux instead of browser solidity or Windows you will get a different hash.

Another problem is the import directive. etherscan doesn't support this as you have to paste in a single file. Normally you would get around this problem by manually replacing the import directive with t

[2017-01-17 11:02] chriseth commented on #1571
Do you have examples of getting different hashes on linux and windows? I assume this is mostly related to file names because they are part of the metadata and thus of the bytecode.

I would not recommend replacing the import directive by the file contents, this modifies the code. Instead, please call the compile with multiple inputs.

So my feeling is that requiring the user to supply file names o

[2017-01-17 11:08] ethernomad commented on #1571
The operating system is in the metadata:

{"compiler":{"version":"0.4.8+commit.60cc1668.Linux.g++"}

Replacing import directives with file contents is a requirement of how etherscan's verification works.

I'm sure a better verification system can be built using the metadata hash. My request is that there should still be the option to use the existing etherscan verification system with the latest c

[2017-01-17 11:19] chriseth commented on #1571
If etherscan modifies the source in such a way, then things like `import {X} from "b.sol";` or `import "b.sol" as Y;` do not work, and I guess that the larger contract systems make heavy use of this.

I really want to urge people to use the metadata hash, so I don't think that removing it is a good way to push it forward. Would it be an option to ignore the metadata hash in the etherscan's verific

[2017-01-17 11:20] axic commented on #1571
While I like having these optional, the goal is to have it in a way which wouldn't interfere with other ways.

@mtbitcoin As an intermediate measure, would it be possible to add the hash parsing to etherscan and ignore that bit when comparing the outputs? See this code how to match the hash: https://github.com/ethereum/browser-solidity/blob/master/src/app/renderer.js#L94

And here's a more detaile

[2017-01-17 11:25] ethernomad commented on #1571
Okay I guess it's up to etherscan to fix their verification system.

[2017-01-17 11:31] axic commented on #1571
As per future verification work, having different versions could manifest as problems, albeit not necessarily:

We aim to use this to lookup the compiler version, and very likely, most implementations would resort to using solc-js to rerun the compilation.

For verification, the bytecode would need to be compared entirely, including the hash. This will obviously fail if it was compiled with a Linu

[2017-01-17 11:32] chriseth commented on #1571
Note that the behaviour of some weird contracts might depend on the metadata hash as you can read it using assembly, so a proper verification also has to check the metadata hash.

[2017-01-17 11:33] holiman commented on #1571
Wouldn't a solution be to have an option to the compiler, `--metadata='0.4.8+commit.60cc1668.Linux.g++'`. So if you want to verify, just take the metadata from the contract?

[2017-01-17 11:35] chriseth commented on #1571
@axic @holiman yes, I think we should just truncate the version. If it does not compile the same way on a different operating system the security of the contract is in danger anyway. I also considered @holiman's suggestion of adding a "fake version string", but I think that opens the door for manipulation.

[2017-01-17 11:35] chriseth commented on #1571
If you really rely on some specific operating system / architecture, you can provide that as a comment in the source code.

[2017-01-17 11:43] axic commented on #1571
The output of the compiler on all platforms **should match** and if it doesn't we have a bug to fix :wink:, therefore truncating the version should be safe.

[2017-01-17 11:43] axic opened #1572 "Set up a testing infrastructure with different platforms"
Solidity should be compiled on different platforms as part of the CI (already done) and the tests should be run on each of the platforms, comparing the resulting bytecode.

 - [x] generate and store code for linux
 - [x] generate and store code for emscripten
 - [x] generate and store code for windows
 - [x] generate and store code for macos
 - [x] all of the above with and without optimizer
 - [x

[2017-01-17 11:46] axic commented on #1571
I'm strongly against adding an option to modify the version number from the outside.

[2017-01-17 11:48] holiman commented on #1571
Hold on - we can't assume that this _wont_ be manipulated, and shouldn't place any trust in that piece of data. It's just for aiding verification, but if it's going to be used for 'cheating' by skipping verification altogether, well, that sounds like a bad idea.

[2017-01-17 11:51] axic commented on #1571
@holiman it is only used to look up the compiler to use for compilation. If it is manipulated, it defeats its purpose.

Note: the verification doesn't save you from knowing which Solidity versions are vulnerable.

[2017-01-17 11:55] mtbitcoin commented on #1571
@ethernomad @axic  The additional swarm hash does not break Etherscan's source code verification as I already updated it previously (1-2 weeks ago) to handle the different swarm hashes. So basically the swarm hash for contracts compiled with solc > 0.4.7 are not used as part of the comparison critieria.

For example see https://etherscan.io/address/0x9ae98746EB8a0aeEe5fF2b6B15875313a986f103#code w

[2017-01-17 11:58] axic commented on #1572
Note: we already test linux-gcc, linux-clang and windows-msvcc, but don't compare that against solc-js.

[2017-01-17 12:08] mtbitcoin commented on #1571
As for verifying contract code with 'includes' , does https://www.npmjs.com/package/solc (node) support command line verification for  including source file imports?

[2017-01-17 12:09] axic commented on #1571
@mtbitcoin the verification library is in progress and it may not be part of solc-js.

[2017-01-17 12:15] axic commented on #1502
Should we allow identifiers with `$` though?

`grammar.txt` should be fixed, but I would be inclined to say that next breaking release, that should be removed. It is a JavasScript-ism 😉

[2017-01-17 12:18] mtbitcoin commented on #1571
@chriseth the metadata hash is already being ignored in the verification procedure

[2017-01-17 12:38] chriseth commented on #1571
@mtbitcoin perhaps we should take that offline, but multi-file inputs are supported by solc when used as a library. It is not supported by the commandline version because we want to move to a unified json input format soon that works in the same way for all commandline compilers.

[2017-01-17 13:17] axic commented on #33
Fixed by #1487.

[2017-01-17 13:17] #33 closed

[2017-01-17 14:35] #1571 closed, assigned to axic

[2017-01-17 22:48] VoR0220 opened #1578 "Cannot build latest develop on OS X Sierra"
I have tried:

running the `install_deps.sh` script.

running `cmake ..` again.

running `make -j 2` again.

And each time I'm getting this strange error:

[code]

Any ideas for a quick fix?

[2017-01-17 23:02] VoR0220 opened #1579 "Function types example in readTheDocs fails in browser solidity"
[code]

gives

[code]

[2017-01-17 23:04] VoR0220 commented on #1579
To clarify this seems to only be a problem with 0.4.7 and onward.

[2017-01-18 03:38] federicobond opened #1580 "Problem building latest develop in OS X"
Is `size_t` in OS X defined differently than Linux? My guess is that it works in Linux because it is defined as `unsigned int` but jsoncpp does not have a constructor for `unsigned long` so it fails in OS X.

[code]

[2017-01-18 14:41] #1580 closed, assigned to nobody

[2017-01-18 14:42] chriseth commented on #1580
Should be fixed - please check

[2017-01-18 15:13] federicobond commented on #1580
Thanks! Builds without problems now.

[2017-01-18 15:15] federicobond commented on #1578
@VoR0220 have you tried this?
http://stackoverflow.com/questions/26185978/macos-wchar-h-file-not-found

[2017-01-18 15:17] federicobond commented on #1572
Does it make sense to include osx-clang too? It shouldn't be hard to setup with Travis.

[2017-01-18 15:33] federicobond commented on #1579
Yes, this looks like a problem with function types. Minimal failing example:
[code]
This compiles fine in `solc`.

[2017-01-18 15:52] VoR0220 commented on #1578
I have not. Thanks for the tip. Probably a problem with xcode when upgrading to Sierra.

[2017-01-18 16:00] VoR0220 commented on #1578
Yep...that did the trick. Thanks @federicobond !

[2017-01-18 16:00] #1578 closed, assigned to nobody

[2017-01-18 16:01] axic commented on #1572
@federicobond Mac is already supported, but was disabled due to being too slow on the CI (~40 mins or so).

Either we could:
1) speed it up and reenable it
2.a) add Emscripten compilation and
2.b) run the Solidity tests against solc-js

Probably 2.b doesn't really belong here and thus it should be a separate project, but 2.a could be very useful to at least.

[2017-01-18 22:01] chriseth commented on #1572
@axic I don't think there is a way in travis to take the build artifact from two steps and have another step that uses it. We could download and execute solc-js in the ubuntu build and vice-versa, but that will trigger errors if we change something in the code generator. So unless travis supports some kind of complex build artefact generation paths, the only way I see is to do something like setti

[2017-01-18 22:12] chriseth commented on #1572
Ok, just spent a little more thoughts on this. This is how it could work: If all parallel travis runs are successful, a "deploy" step is run. This deploy step will copy the build artifacts to a special github repository. That repository has a travis setup that will take the binaries and test them against each other. The only question I still have is whether the deploy step has access to all binari

[2017-01-19 00:02] VoR0220 commented on #1572
god...Travis is so complicated in all the wrong ways....I've been reading over this documentation and trying to figure out what to do to make this work "just" right...and yea...if I'm going to be honest, the CI setup in general could probably use something of a makeover. BTW...do we still need to run the tests 3 times or has that generally been eliminated as a concern at this point?

[2017-01-19 01:26] VoR0220 commented on #1572
RE: Artifacts: https://docs.travis-ci.com/user/uploading-artifacts/#Deploy-specific-paths

[2017-01-19 01:35] VoR0220 commented on #1572
Chris, there's a simpler way that doesn't involve pushing to a separate repository. We just need to find a way to `emscripten` soltest...so the tests would look like the following pseudo travis script:

[code]

Granted...this is all easier said than done....requires quite a refactoring imo.

[2017-01-19 01:38] VoR0220 commented on #1572
scratch the Travis bit for Windows...Travis doesn't support windows...but you get the high level idea of how this should work imo.

[2017-01-19 01:42] federicobond commented on #1572
No, Travis does not support Windows, but we can set up AppVeyor to handle
that.

El El mié, 18 de ene. de 2017 a las 22:38, RJ Catalano <
notifications@github.com> escribió:

[2017-01-19 01:45] VoR0220 commented on #1572
correct. My thoughts exactly. The good news is that the majority of the heavy lifting has already been done (deps installation in particular).

[2017-01-19 01:56] VoR0220 commented on #1572
I figure since I'm doing the docker deployment, might as well make the entire thing better while I'm here. Shouldn't be too hard.

[2017-01-19 02:33] axic commented on #1572
Note: we already have AppVeyor run the tests :)

We are only lacking:
- Mac tests (they are technically still in the tree, but disabled - no big hassle writing it)
- Emscripten tests (this needs to be written)

In order to do the Emscripten tests, as @VoR0220 mentioned, we could compile the testing framework with Emscripten. Probably that is one of the easiest ways.

[2017-01-19 12:22] chriseth commented on #1572
I would still like to compare the binaries produced from the different platforms. I'm also pretty sure that his is much faster to do, since most time in the tests is not spent on compiling but rather executing the tests. It is enough to run the tests on a single platform and only compare the produced bytecode on the other platforms.

[2017-01-19 12:31] axic commented on #1572
Are we talking about adding new tests to produce bytecode or taking the bytecode from the current tests?

[2017-01-19 15:25] pirapira commented on #1579
Did #1587 fix this problem?

[2017-01-19 16:35] VoR0220 commented on #1572
@chriseth I too am curious about whether you are talking about adding new tests to produce bytecode or taking the bytecode from current tests.

[2017-01-20 10:31] wuestholz opened #1589 "Distinguishing explicit and implicit throws"
From what I can tell Solidity currently translates explicit, user-provided throw statements just like implicit ones (e.g., for division-by-zero or other runtime exceptions).

It would be nice if one were able to distinguish these to cases by looking at the resulting EVM byte code. For instance, a failing implicit throw usually constitutes an error in the contract. On the other hand, an implicit on

[2017-01-20 11:19] chriseth commented on #1589
We are planning, especially for formal verification, to use different revert mechanisms for "wanted" and "unwanted" situations. What would your exact use-case be here?

[2017-01-20 12:57] wuestholz commented on #1589
@chriseth Great! This is precisely the use case I'm interested in. I'm working on a formal analysis for smart contracts and without this it is difficult to tell which errors should be reported to a developer that's using the analyzer.

I assume that you agree that all the "implicit throws" would constitute "unwanted" situations, comparable to runtime errors. On the other hand, for "explicit throws

[2017-01-20 12:59] chriseth commented on #1589
@pirapira we already talked about this, do you remember what our conclusions were? Did we create an issue somewhere?

[2017-01-20 13:05] pirapira commented on #1589
@chriseth our conclusion was to use an invalid opcode for this purpose.

[2017-01-20 13:05] pirapira commented on #1589
#1130, that is.

[2017-01-20 13:19] wuestholz commented on #1589
@chriseth @pirapira Thanks for the pointer! In that case I would argue that implicit assertions (e.g., division-by-zero) should also be translated as invalid opcodes, just like explicit assertions that may be added to the language in the future. Do you agree?

[2017-01-20 13:21] pirapira commented on #1589
@wuestholz that makes sense.

[2017-01-20 13:56] chriseth commented on #1120
Thanks again for fixing this, @roadriverrail !

[2017-01-20 13:56] #1120 closed, assigned to nobody

[2017-01-20 14:28] wuestholz commented on #1589
@pirapira @chriseth Great! Please let me know if there is something I can help with to implement this change.

[2017-01-20 17:38] chriseth commented on #1572
Either or.

[2017-01-20 18:14] VoR0220 commented on #1572
I would prefer the latter. That's far easier to add to it. I think.

[2017-01-20 18:25] chriseth commented on #1579
Confirmed.

[2017-01-20 18:25] #1579 closed, assigned to chriseth

[2017-01-20 18:27] chriseth commented on #1502
I think dollars are fine, although I would not go all the way down [swift went](http://www.globalnerdy.com/2014/06/03/swift-fun-fact-1-you-can-use-emoji-characters-in-variable-constant-function-and-class-names/)

[2017-01-20 19:45] chriseth commented on #1589
@wuestholz if you want to do it, then please go ahead. We need a new `INVALID` opcode  with number `0xef` in Instructions.cpp and then just replace the `jumpToErrorTag` calls in the code generator by `m_context << Instruction::INVALID`.
Having said that, I would like to clarify with the client developers whether this invalid opcode is the invalid opcode we want.

[2017-01-21 16:48] VoR0220 commented on #1572
So I think I figured out why OS X was running so slow. The main problem centers around brew and the fact that we were upgrading all of Travis' brew suite...this led to insanely long times updating. I've fixed this but it's still fairly slow due to the cpp-eth dependency and how long this takes to build. I have an idea to make this thing run even faster for all builds. All we need is a properly pus

[2017-01-21 16:51] VoR0220 commented on #1572
nevermind, it appears there is one already there. I shall use it!

[2017-01-22 20:00] wuestholz commented on #1589
@chriseth Thank you for the pointers. I have tried to address this issue in the following PR: https://github.com/ethereum/solidity/pull/1598. It would be great if you could have a look.

[2017-01-23 00:11] VoR0220 commented on #1572
Just to clarify...we do in fact already test the bytecode and assert that the bytecode will be X in many of the end to end tests...correct? So...im confused i guess. What needs to be added here outside of an emscripten soltest that also passes all the tests? Could we not assume logically that then the bytecode would be the same?

[2017-01-23 00:32] VoR0220 commented on #1572
Ahhhhh...I reread it a couple times and now I think it makes sense at least for the end to end tests...this way we could segregate it from the rest of the normal tests, and set a flag to either give back the generated bytecode or to actually run the tests against the IPC. We then can deposit the generated bytecode into artifacts, upload them to an S3 instance where we then compare all the artifact

[2017-01-23 00:41] VoR0220 commented on #1572
That said, I think that the rest of the tests that are not node reliant (tests that don't rely on the cpp-eth client for testing) definitely still need to be run. This might take a bit longer than I expected if that's the case.

[2017-01-23 01:57] VoR0220 commented on #676
I think this has been properly handled now. Closing.

[2017-01-23 01:57] #676 closed, assigned to nobody

[2017-01-23 08:10] esques commented on #847
While doing OOA on a contract, I noticed that I miss the notion of interface in the language.
In object orientation, interfaces are used to designate roles to a class (ERC20 token, Iterable, Stoppable etc.) . An interface **does not ** equal to an abstract class. It just defines the signature of a bundle that must be implemented by the class {public members, public functions, public events}.

I th

[2017-01-23 08:25] chriseth commented on #847
We have a tradeoff here: We can make the language more complicated by adding more notions and keywords (I think C# is a negative example here). On the other hand, this complication prevents people from making mistakes by accidentally implementing a function in a contract that is meant as a mere interface. Since these complications come in small steps, I'm not sure many people would argue against a

[2017-01-23 09:03] VoR0220 commented on #847
An interface should be its own type. Plain and simple. The notion of abstract contracts should be disintegrated in future releases and replaced with an interface type. If a contract or a struct for that matter (have to get extra specific for struct methods) implements all of that interfaces methods it can be passed into a function signature containing said interface. The way that it currently is s

[2017-01-23 10:51] axic commented on #847
I still think pure interfaces (which cannot inherit other interfaces) are very useful to define a limited set of mandatory public signatures that must be present. These in our current state can only be defined as functions in the interface, but the implementor might choose a public accessor to fulfil the requirements.

I am not sure whether we should include events in that or not, given the specia

[2017-01-23 12:05] chriseth commented on #1572
EndToEnd tests generate bytecode but the actual tests run checks on the semantics of that bytecode. it might be challenging to find suitable identifiers for the generated bytecode.

[2017-01-23 13:27] #1040 closed, assigned to chriseth

[2017-01-23 13:27] #1502 closed, assigned to chriseth

[2017-01-23 13:48] axic commented on #1502
Why should dollar variables be used?

[2017-01-23 14:01] pirapira commented on #1502
#1576 uses `_` and `$` to encode complicated structure in an identifier.

[2017-01-23 14:01] axic commented on #1502
Looks horrible to be honest 😉

[2017-01-23 14:02] #396 closed, assigned to nobody

[2017-01-23 14:09] VoR0220 commented on #847
WRT events...I'm against it for now...treat it like libraries and inheritance. Keep a restriction now...lift it up with time if the community demands it.