[2019-11-15 10:18] ekpyron commented on #6420
@haltman-at The current draft for addressing this, respectively at least documenting what's currently happening is here https://github.com/ethereum/solidity/pull/7719 (there may be a lot of room for improvements in the documentation part).

In fact I don't think anything is actually "excluded from the ABI" - rather its not really an "ABI", but rather an internal calling convention that works diffe

[2019-11-15 10:27] ekpyron commented on #6420
Ah, ok - you meant excluded from the json ABI, right...

[2019-11-15 10:29] ekpyron commented on #6420
I'll add some documentation about what goes into the json ABI and why to #7719 - and I'll check for consistency along the way.

[2019-11-15 11:27] ekpyron commented on #6420
@haltman-at You're right - view library functions *should* have a delegatecall guard- at least if they do in fact read from storage, but currently they don't.

[2019-11-15 11:32] ekpyron commented on #6420
Is there a case for a view library function, in which it actually makes sense to call it without delegatecall, but in which it couldn't just as well be declared pure?

I wonder whether all view library functions should get the guard - and only pure library functions don't...

[2019-11-15 11:59] ekpyron commented on #6420
There is a case - the view library function could staticcall other contracts - that's fine, since it doesn't read from its own storage, but it's not ``pure``...

[2019-11-15 12:11] ekpyron commented on #6420
Yeah ok - I agree - we should put in the delegatecall guard for view functions that have storage pointers in the signature.

[2019-11-15 13:11] ekpyron commented on #6420
This is kind of tricky to get *exactly* right... Consider calling ``L.f`` without ``delegatecall`` in the following:

This is fine:
[code]

And this is fine:
[code]

But this is not fine:
[code]

The *really* correct and tight notion is somewhere between ``view`` and ``pure``... Well, it's actually exactly being ``pure`` plus allowing staticcalls...
But my guess is that all of these are highly art

[2019-11-15 15:29] ekpyron commented on #7112
Unassigned it again - I didn't actually get around to do it :-/.

[2019-11-15 15:36] ekpyron commented on #7689
Related issue: https://github.com/ethereum/solidity/issues/7685

[2019-11-15 22:47] wjmelements opened #7727 "solc >= 0.5.0 incorrectly requires selfdestruct parameter is payable"
The EVM does not require that the recipient of selfdestruct ether can accept it. There is no way to reject it, so nonpayable addresses are just as valid as payable addresses.

[2019-11-16 08:49] ytrezq commented on #7667
@chriseth : add it to the files detailing the compiler issue names.

[2019-11-16 09:41] haltman-at commented on #6420
OK thinking about things some more I'm realizing my idea of "ooh, you could even put these in variables now!" would probably require some type weirdness that would likely not actually be easy to do without messing some things up.  So, uh, maybe just ignore that suggestion.  I was thinking "oh if you can take selectors" it's an external, but I guess the sensible way to implement that is actually ju

[2019-11-16 22:57] fulldecent opened #7728 "Language feature: allow type alias"
# Abstract

Add language construct for creating user-defined names for types.

## Motivation

Because I see somebody writing code like this:

[code]

## Specification

Add a new keyword `typedef` or `alias` to allow new scalar (not enum or struct) types.

Example:

[code]

This declaration will be visible at the contract top-level (storage declarations), functions (parameters and declarations) and

[2019-11-17 13:53] bshastry commented on #3825
Can this issue be closed once #7124 is merged?

[2019-11-18 08:11] christianparpart commented on #7644
Hm, do we still want other projects to make use of Yul (also in terms of our source code?), in that case, I'd suggest in not embedding the yul api into the root level namespace. @chriseth @axic.

[2019-11-18 09:31] chriseth commented on #4834
If we want to avoid providing the constant literally, we could use `keccak256(0, 0)`, which is an extra 39 gas and 4-5 bytes of code (which costs 1000 gas to deploy).

[2019-11-18 10:22] Marenz commented on #7558
The problem is related to the use of the keyword `super` vs `this`

[2019-11-18 10:23] #7693 closed, assigned to bshastry

[2019-11-18 10:24] chriseth commented on #7644
I think `solidity::yul` can still be argued, since it is not a standalone implementation.

[2019-11-18 10:25] chriseth commented on #3825
It is not relevant anymore.

[2019-11-18 10:25] #3825 closed, assigned to nobody

[2019-11-18 10:27] chriseth commented on #7728
Maybe duplicate of https://github.com/ethereum/solidity/issues/1100  or https://github.com/ethereum/solidity/issues/1013

[2019-11-18 10:37] chriseth commented on #7720
This requires rather modern compilers, though.

[2019-11-18 11:14] chriseth commented on #7727
While this is true, Solidity employs many techniques to flatten out some of the weird edge cases of the EVM. I think we should strive to enforce `payable` as much as possible, even if ether can in principle be sent to non-payable addresses.

Do you think the requirement of `payable` makes people think that the fallback function is executed for a selfdestruct?

[2019-11-18 11:18] aihuawu opened #7731 "which is better? use contract or deployed library for public method without access to storage"
which is better?
use contract or deployed library
for public method without access to storage.

Thanks.

library task { // or contract
    struct person {
....
   }

   public function doIt(person memory p) {

   }

}

[2019-11-18 11:39] axic commented on #3825
Was fixed by #7010.

[2019-11-18 11:44] axic commented on #7731
I suggest to ask this on https://ethereum.stackexchange.com, it is a better platform to get help. This repository is for compiler development.

[2019-11-18 11:44] #7731 closed, assigned to nobody

[2019-11-18 11:48] axic commented on #4834
This was an obvious pricing mistake and it is rectified by EIP-1884 in the upcoming Istanbul update.

[2019-11-18 12:15] chriseth commented on #4834
Oh wow, I thought `extcodehash` is cheaper because the size is not directly stored in the trie. So in the end, both opcodes have the same cost?

[2019-11-18 13:15] ekpyron commented on #7644
I'd say ``solidity::yul`` may even be better than plain ``yul`` - in theory there could be several implementations of Yul and you might want to have them both in one project, e.g. to check their equivalence (not sure that's likely to ever happen, but still). And people can still make ``yul`` an alias to ``solidity::yul`` themselves, if they want.

[2019-11-18 13:19] ekpyron commented on #7720
For a lot of stuff like this compilers that are *actually* C++17 standard compliant should be sufficient... but yeah - for more complex stuff like the rule list this would be rather tricky and would probably also require quite some restructuring, so that we'd have to evaluate separately.

[2019-11-18 13:36] chatch commented on #7558
Hi @Marenz, yes that's right, see my comment above https://github.com/ethereum/solidity/issues/7558#issuecomment-544814691 also.

But the compiler should not throw an InternalCompilerError right?

[2019-11-18 13:42] christianparpart commented on #7644
So what about this:
[code]

Of course, one may want to merge language dependant `langutil` with language independant `util` (ex-libdevcore). I don't care too much, except that I feel a little bit more cleaner when there is a line between them :).

[2019-11-18 15:09] Marenz commented on #7558
I saw, but it wasn't super clear why the other line worked as you also changed the type you cast to ;)

Of course, an ICE is always a bug no matter what :)

[2019-11-18 15:19] leonardoalt opened #7733 "Use std::quoted"
https://en.cppreference.com/w/cpp/io/manip/quoted

This might be useful for error messages.

[2019-11-18 15:37] axic commented on #4834
Good point though that size is not stored, size should cost more :)

But the issue was balance and codehash should cost equal because both are stored in the account.

[2019-11-18 16:09] Marenz commented on #7558
Even smaller use case:

[code]

[2019-11-18 19:24] ekpyron commented on #7644
@christianparpart Yes, that looks good to me for now and we can think about whether to merge stuff or move stuff around on top of this later - no reason to do everything in one step. If anybody has a better name than ``solidity::lang`` that'd be nice, but I myself would be fine with it as well.

[2019-11-18 22:05] #7698 closed, assigned to bshastry

[2019-11-18 22:57] wjmelements commented on #7727
It may lead a developer to believe that selfdestruct would fail for a nonpayable contract. If payable has any meaning at all, it should not apply in this context.

[2019-11-18 23:10] fulldecent commented on #1013
This feature scares me and seems to make code audit more difficult since new side effects are introduced.

[2019-11-18 23:14] fulldecent commented on #7728
Very related. That issue addresses typdeffing structs. This handles typedeffing primitive types.

[2019-11-18 23:14] fulldecent commented on #7728
moving these notes there

[2019-11-18 23:14] #7728 closed, assigned to nobody

[2019-11-18 23:15] fulldecent commented on #1100
Adding motivation from #7728. This issue can apply to typedeffing structs as well as other primitive types.

---

# Abstract

Add language construct for creating user-defined names for types.

## Motivation

Because I see somebody writing code like this:

[code]

## Specification

Add a new keyword `typedef` or `alias` to allow new scalar (not enum or struct) types.

Example:

[code]

This declara

[2019-11-19 10:59] ChrisChinchilla commented on #7679
I'm aware this is not purely a docs task, but there will be some changes needed, and it's a reminder for me.

[2019-11-19 11:05] ChrisChinchilla commented on #7029
Thanks @haltman-at I've actually been thinking about this for some time too.

[2019-11-19 11:05] ChrisChinchilla commented on #7183
Sorry, I missed this @damianoazzolini will sort out adding it now

[2019-11-19 11:06] ChrisChinchilla commented on #7183
@damianoazzolini I am OK with rendering partial translations with Read the Docs, but would you rather wait?

[2019-11-19 11:07] bshastry opened #7736 "circleci: Use pipeline parameters to reference docker image tags"
Currently, we reference docker images via their full name. Example

https://github.com/ethereum/solidity/blob/cf13339ad892f875db004577bae60115ef6e391d/.circleci/config.yml#L109

This makes it somewhat annoying when docker images are updated, and new tags need to be referenced. One must replace each and every reference manually, a practice that is prone to error.

This issue tracks support for the

[2019-11-19 11:09] ChrisChinchilla commented on #7436
@chriseth Are all the changes documented somewhere? I should probably also let the teams behind solhint etc know about the changes. Or make a PR to their projects.

[2019-11-19 11:16] chriseth opened #7738 "Add pragma about open or closed source / license"
In the effort to increase the link between a contract's address and its ABI / source code, one stepping stone is encouraging developers to publish their source code. Some of the tool writers we have spoken to are reluctant to auto-publish the source code at the point of deployment because the tools are also used for closed-source contracts, on private chains and with testnets.

Furthermore, an int

[2019-11-19 11:20] chriseth opened #7739 "Disallow mappings in memory and copying mappings"
Related to #6444 and #6282

Due to the fact that mappings are silently skipped, we should disallow the following operations on any data that contains a mapping:
 - copy from storage (to storage or memory)
 - declare as memory type
 - declare as calldata type

(delete part moved to https://github.com/ethereum/solidity/issues/8535 )

all code generator parts that currently skip mapping should be cha

[2019-11-19 11:24] chriseth commented on #1687
This came up again at devcon, so I'm putting it on the agenda.

[2019-11-19 11:25] damianoazzolini commented on #7183
Ok, however is still a work in progress (i havent't done any progress since the pull request) and would be nice if someone helps and checks possible typos

[2019-11-19 11:35] chriseth opened #7741 "Natspec tag for basic UI"
Suggested by @koeppelmann : Natspec should have a tag for a contract to provide a URL to a basic or default user interface to use with the contract.

[2019-11-19 11:45] axic commented on #1687
It would be a good goal to have parity in strictness.

[2019-11-19 11:58] chriseth opened #7742 "See if the error message about builtin functions in specific EVM versions can be improved"
Basically try to see if we can get the old error message back that was fixed in https://github.com/ethereum/solidity/pull/7737

[2019-11-19 12:01] chriseth commented on #7736
Is it not possible to use a yaml feature for that?

[2019-11-19 12:02] chriseth commented on #7436
They are more or less explained here: https://github.com/ethereum/solidity/blob/develop_060/docs/060-breaking-changes.rst

[2019-11-19 12:04] #7544 closed, assigned to nobody

[2019-11-19 12:14] chriseth commented on #7727
payable/nonpayable is also not enforced at other locations. For a plain address, for example.

[2019-11-19 12:19] chriseth opened #7744 "Type system: `super` should be a TypeType and not a ContractType"

[2019-11-19 12:23] chriseth commented on #7628
I think it's fine...

[2019-11-19 12:23] #7628 closed, assigned to nobody

[2019-11-19 14:43] bshastry opened #7746 "[Documentation] Clarify scope extension rule for variables in for-init block"
[yul scoping rules](https://solidity.readthedocs.io/en/v0.5.13/yul.html#scoping-rules) are documented as follows:

Could we clarify that identifiers defined in the "init" part of the for-loop (the first block) only includes those in the same nesting level (or something to that effect) as the for-init block, and more importantly does not include identifiers defined inside nested blocks within the f

[2019-11-19 15:18] chriseth commented on #1013
@fulldecent I agree.

[2019-11-19 15:19] chriseth commented on #4834
So does that mean we can now close this?

[2019-11-19 15:19] chriseth commented on #7733
I would actually opt to stay away from iomanip as much as possible. The state streams carry scares me a lot.

[2019-11-19 15:37] chriseth commented on #869
Nice!

[2019-11-19 15:53] erak opened #7749 "Re-enable tests for push(...) via yul"
In https://github.com/ethereum/solidity/pull/7350 some semantic tests compiled via yul had to be disabled, since `push()` and `pop()` are not yet implemented for all types.

In order to re-enable them, all test cases containing the line `/// TODO enable again after push(..) via yul was implemented.` need to run their checks utilizing the `ALSO_VIA_YUL` macro.

[2019-11-19 15:56] #7746 closed, assigned to chriseth

[2019-11-19 15:56] bshastry commented on #7736
It should be possible to use yaml aliases as well as we already do. I'll open a PR for this shortly

[2019-11-19 16:16] axic commented on #4834
Unless `extcodesize` is repriced, it seems that added cost of checking for empty hash makes this change not very useful. I'd opt for closing now.

[2019-11-19 16:51] leonardoalt commented on #7733
Ok!

[2019-11-19 16:51] #7733 closed, assigned to nobody

[2019-11-19 17:00] #4834 closed, assigned to nobody

[2019-11-19 17:52] #7558 closed, assigned to Marenz

[2019-11-20 00:49] wjmelements commented on #7727
payable/nonpayable is enforced tyrannically in all locations. It is so bad that if you want to test this case you have to convert address to uint160 and back.

[2019-11-20 00:50] wjmelements commented on #7727
Here is a case of improper enforcement
![Screen Shot 2019-11-19 at 4 49 15 PM](https://user-images.githubusercontent.com/799573/69199381-a4b36000-0aec-11ea-8bf1-516efa2fd996.png)

[2019-11-20 00:51] wjmelements commented on #7727
You cannot transfer ether to an address if it is not payable. You cannot cast a nonpayable contract to a payable contract, or vice-versa.

[2019-11-20 00:58] wjmelements commented on #7727
Here is the workaround I am using. It is annoying that the spec of the language does not line up with the EVM, and that the workaround is to abandon typing.
![Screen Shot 2019-11-19 at 4 57 18 PM](https://user-images.githubusercontent.com/799573/69199707-aa5d7580-0aed-11ea-97cc-6d9802d87941.png)

[2019-11-20 09:49] #7310 closed, assigned to nobody

[2019-11-20 09:54] chriseth commented on #7727
Do you have a link to the full context of the error message and source snippet you provide here? Another solution would be to use
[code]
I assume you did not go with that because then you would have to introduce conversions to payable higher up in the call stack. Still, it would be great to take a look!

On another note: Starting with Solidity 0.6.0, you can write `selfdestruct(payable(_recipient)

[2019-11-20 10:18] blitz-1306 opened #7758 "ImportDirective symbolAliases are not pointing to external nodes"
Hey, everyone. Was recently working with SolcJS AST and noticed something strange, what I would really like to ask about.

- **external.sol**
[code]
- **current.sol**
[code]
By compiling **current.sol** with solc-js 0.5.12 I'm getting following `ImportDirective` AST node:
- **compact**:
[code]
- **legacy**:
[code]
I was expecting that `symbolAliases` will contain `foreign` property to point to ext

[2019-11-20 12:05] christianparpart commented on #7720
I think one may want to start with the obvious stuff, and create smaller PRs for each iteration (whenever they come up), and by the time, evaluate whether or not it makes sense to also migrate the more complex stuff.

However, I'd highly recommend to apply `constexpr` as much as possible, since it's also ensuring we have no undefined behavior.

[2019-11-20 15:46] bshastry opened #7761 "[Documentation] Clarify function definition inside for-init block"
With regard to the subject of this issue, the yul documentation states that

Later on, with reference to variable definition, the documentation states that

The latter has now been clarified to mean directly in the "init" part of the for-loop (see #7747 ) which leaves the scope of function definition inside for loop init blocks open to interpretation (since inside the for loop init block may eithe

[2019-11-20 16:30] leonardoalt commented on #2953
`length` will be read-only from 0.6.0, so closing this

[2019-11-20 16:30] #2953 closed, assigned to nobody

[2019-11-20 16:41] haydenadams commented on #2136
Whats the status of this? Would be nice to have a non-assembly CREATE2

[2019-11-20 17:15] chriseth opened #7763 "Implement LSP / Language Server"
The main task in this issue is probably identifying the steps towards full LSP support.

Features for first release (mainly related to file lookup):
 - [ ] cwd should not matter for loading files / resolving paths
 - [ ] loading a single file with only relative imports should work without any configuration
 - [ ] it should be possible to configure root path and include paths
 - [ ] internal names

[2019-11-20 17:28] #7761 closed, assigned to bshastry

[2019-11-20 17:44] chriseth commented on #7530
Partly solved by #7719

[2019-11-20 17:48] chriseth commented on #2136
Any there any suggestions for the syntax? I really dislike the `2` in the opcode, by the way. What about

`salted_new(salt) C(a, b, c)`

or just

`new(salt) C(a, b, c)`?

We might even go so far to use

`new(salt, value) C(a, b,c)`

to replace `(new(salt) C).value(value)(a, b,c)`

[2019-11-20 23:36] wjmelements commented on #7727
https://github.com/trusttoken/true-currencies/blob/ff29589ef787d2c624656cd3bd5846df4474b711/test/TokenController.test.js#L591

Right. The test case is necessary to verify that code that can extract ether from a nonpayable contract works. Line coverage is very important for us in testing.

That's a delightful improvement, though not as good as `selfdestruct(recipient)`.

[2019-11-20 23:46] wjmelements commented on #3356
I strongly support this feature. It would greatly reduce the amount of assembly I have to write.

As SLOAD cost climbs, placing constants in code will be increasingly important for gas savings.

[2019-11-21 09:56] avatar-lavventura commented on #7215
Use `pubic` instead of `external` to fix it

[2019-11-21 13:21] erak commented on #7674
I've just finished a first proof-of-concept of a 0.6.0 upgrade tool for contracts: https://github.com/erak/solidity-upgrade. For now, it takes a solidity file and the corresponding AST JSON (compiled with `--error-recovery --ast-json`) as input and generates a list of potential changes. Applying these would be the next step. Currently support for abstract and basic suggestions for the read-only le

[2019-11-21 14:14] bshastry opened #7767 "[yul] proto fuzzer: Refactor function call spec and conversion"
## Abstract

Currently, a function call is specified by the number of output values it generates
  - none
  - single
  - multidecl
  - multiassign

This is non-intuitive and may be refactored.

## Motivation

Specialize the function call message as follows:

- `message FunctionCallNoReturn`
  - Encodes a function call with up to 4 input arguments

- `message FunctionCallSingleReturn`
  - Encodes a

[2019-11-21 17:08] birtony commented on #7578
I was looking into the error messages, and I have also noticed, that a lot of custom defined errors are used. The problem is that I am not totally sure, which exact errors should be changed. Could you, please, provide me with an example of any error that has "user defined names" within it that needs to be updated?

[2019-11-21 18:23] chriseth commented on #3515
Implemented in #7350

[2019-11-21 18:23] #3515 closed, assigned to erak

[2019-11-21 19:05] #7586 closed, assigned to nobody

[2019-11-22 10:56] ChrisChinchilla commented on #7183
@damianoazzolini Is there a community you/I can post in to try and get some people to review? I can do some, but not sure how many Italian speakers there are in there.

[2019-11-22 14:41] bshastry opened #7774 "[yul] proto fuzzer: Disable recursive function generation"
## Abstract

In short, recursive functions are an optimizer time sink that aren't especially interesting but actually bad for the fuzzer because it prevent it from doing other mutations. It is best to disable them.

[2019-11-22 15:28] damianoazzolini commented on #7183
@ChrisChinchilla i'm not aware of a community where i can post it...

[2019-11-23 08:23] bshastry opened #7776 "[evmone] interpreter returns "EVMC_BAD_JUMP_DESTINATION" on contract deployment"
## Abstract

oss-fuzz issue: 19056

After update to evmone v0.2.0/v0.3.0, the following function returns the status code in the subject line

https://github.com/ethereum/solidity/blob/3f67912cf41a44a0f69ea1b495a76a30bb365855/test/tools/ossfuzz/abiV2ProtoFuzzer.cpp#L89-L98

The solidity byte code is generated from this source file without optimization: https://gist.github.com/bshastry/f9e89e07a1a92

[2019-11-23 11:30] lfrickel opened #7777 "Own private key of smart contract to sign a line of text"
## Abstract

For my project it is necessary for smart contract to sign a message (for example, EC-signature) I have not found a way to generate a pair of public and private keys inside the contract so that the private key remains invisible to anyone, and smart contract could sign a line of text with it. Maybe a contract could have its own private key that can be used in this way? Thanks in advance

[2019-11-23 20:34] chfast commented on #7776
To confirm, the same bytecode executed gives different results in evmone 0.2 and 0.3?

[2019-11-24 05:37] MrChico commented on #3835
This feature would be super nice to have imo. Especially with the istanbul increase of SLOADS, I think this can result in significant optimization gains.
If the questions above are still open, here's my 2 cents:
- Only allow assigning to the immutable value once.
- Ideally, the semantics would be that if a function is called which reads the immutable value before the assignment, refuse to compile.

[2019-11-25 10:41] bshastry commented on #7776
~~That's right.~~ The same solidity contract gives different results. I'm yet to make sure if the bytecode is identical.

`0.2`
  - `deployContract` succeeds

`0.3`
  - `deployContract` returns `EVMC_BAD_JUMP_DESTINATION`

I'm trying to figure out why. Do you have any hints? ;)

[2019-11-25 11:16] chriseth commented on #7644
Can the "to discuss" label be removed?

[2019-11-25 11:22] chriseth commented on #3835
Discussion: We might want to implement this soonish, maybe with `immutable` for now, but we could also combine it with the `constant` keyword in the future.

[2019-11-25 11:23] chriseth commented on #2136
Suggestion by @leonardoalt : `new.salt(s) C(a, b, c)`

[2019-11-25 11:24] chriseth commented on #2136
Another suggestion by @leonardoalt: Also change to `new.value(1 ether) C(a, b, c)`

[2019-11-25 11:25] leonardoalt commented on #2136
And then you can combine them:
`new.value(1000 ether).salt(42) C(a, b, c);`

[2019-11-25 11:30] chriseth commented on #1687
`interface I from '...'`?

[2019-11-25 11:31] chfast commented on #7776
@bshastry, if that is not blocker for you, I will debug it on my own.

[2019-11-25 11:32] axic commented on #1687
Sounds good.

[2019-11-25 11:32] chfast commented on #7776
Yes, please confirm that.

[2019-11-25 11:41] chfast commented on #7776
Hey, I have taken the bytecode you attached and have run it in both evmone/master and evmone/0.2. In both cases I get `EVMC_BAD_JUMP_DESTINATION` exception. So bug not confirmed in evmone so far.

[2019-11-25 11:48] bshastry commented on #7776
Ah I see, I was just getting my setup ready to replay the same byte code on both evmone versions. It is possible that a change in the compiler caused it. Still debugging.

[2019-11-25 11:52] erak opened #7779 "StructType::recursive() does not always work for recursive structs"
Discovered in https://github.com/ethereum/solidity/pull/6282.

In the implementation of https://github.com/ethereum/solidity/pull/6282, `StructType::recursive()` is called in multiple compilation stages while traversing struct members in order to check if they can live outside storage. This leads to an ICE in codegen because `StructType::recursive()` does not return `true` anymore for recursive st

[2019-11-25 11:52] chriseth commented on #1687
@erak suggested that it might be cleaner to import from json files instead.

[2019-11-25 11:53] chriseth commented on #2136
I like `new.salt(s)` - we could introduce that with a non-breaking release already - although the parser looks a bit involved, so it might break the AST.

[2019-11-25 11:55] chriseth commented on #2136
We might change it so that `.value` and `.salt` are special expressions directly in the AST, though, instead of generic members of expressions.

[2019-11-25 12:05] chfast commented on #7776
Here is a unit tests added to evmone: https://github.com/ethereum/evmone/pull/214
The same patch can be applied to v0.2.0. In both cases it returns `EVMC_BAD_JUMP_DESTINATION`.

[2019-11-25 12:05] erak commented on #1687
I think the main question is, if people need the Solidity source as an artifact or not. If they do, I'd suggest either using a tool that is capable of generating the source from the JSON ABI, and passing this as a usual input file to the compiler.

But if they don't, adding a command line option e.g. `solc --import-json-abi "<json-string>"`, which would request generation of Solidity code from tha

[2019-11-25 12:23] bshastry commented on #7776
The same bytecode gives the same result (EVMC_BAD_JUMP_DESTINATION) for both evmone 0.2 and 0.3. So I was wrong with my initial assessment. Will edit title and description.

[2019-11-25 12:24] bshastry commented on #7776
Will now try to execute the bytecode on evmone 0.1

[2019-11-25 12:36] bshastry commented on #7776
Identical byte code successfully runs on evmone 0.1. So I think this may be an evmone issue that was introduced in 0.2

[2019-11-25 15:54] #7736 closed, assigned to bshastry

[2019-11-25 16:47] chriseth opened #7783 "[Yul] output source locations"
The AssemblyStack does not support source locations (or source mappings) even though almost all other parts of the infrastructure do. The goal of this task would be to have source mappings as defined in standard-json also if the input language is yul.

[2019-11-25 16:54] #5135 closed, assigned to nobody

[2019-11-25 17:46] chfast commented on #7776
I've found the issue in evmone. It wrongly assumed the code is always within the 0x6000 limit, but the limit do not apply to create transactions.

If a workaround is needed, can you limit the size of the bytecode?

[2019-11-25 19:08] bshastry commented on #7776
@chfast Ah I see. The main issue is that Fuzzing the abiv2 coder requires somewhat elaborate programs (especially when we are en/decoding multi dimensional arrays as in this issue).

My concern is that, if we limit byte code size to 0x6000, then we won't be able to thoroughly test the abiv2 coder.

@chriseth @ekpyron Do you have other opinions/suggestions?

[2019-11-26 09:39] ekpyron commented on #7779
I'm pretty sure, this is due to ``recursive`` depending on ``interfaceType``, but ignoring any errors it returns - so if ``recursive`` is called before type information is complete, ``interfaceType`` will silently fail and the ``m_recursive`` member will have incorrect values. Shall we look into this together @erak?

[2019-11-26 12:09] ekpyron commented on #7494
This is done by now.

[2019-11-26 12:09] #7494 closed, assigned to nobody

[2019-11-26 12:28] ekpyron commented on #5424
Do we want this for 0.6.0 as well?

[2019-11-26 12:41] ekpyron commented on #7749
Was this done entirely within https://github.com/ethereum/solidity/pull/7350 after all now?

[2019-11-26 14:35] #7292 closed, assigned to nobody

[2019-11-26 14:51] #7505 closed, assigned to nobody

[2019-11-26 14:57] chriseth commented on #5424
Maybe better to introduce calldata variables for public functions?

[2019-11-26 15:01] erak opened #7787 "Segfault with `solc --error-recovery`"
## Description

Calling `solc --error-recovery` will segfault for a lot of contracts, because there are places in which we not always check for `nulllptr`. For example in `CompilerStack::analyze()` (`source->ast`) or `Types::transformParametersToExterna()` (`type`).

One could run `valgrind solc --error-recovery [input-file]` to find and fix all the places where an additional check is needed.

##

[2019-11-26 15:50] Marenz commented on #7578
Here are a few examples for you: :)
[code]

here no quotes at all are used:
[code]

[2019-11-26 16:33] #7642 closed, assigned to bshastry

[2019-11-26 16:45] axic opened #7794 "Add unit tests for devcore/FixedHash"
We only have implicit tests for `FixedHash`, the closest is `test/libdevcore/Keccak256`.

Before adding tests it would make sense figuring out which features of `FixedHash` are needed, because it seems a lot of them wouldn't be used in Solidity.

[2019-11-26 16:51] axic opened #7795 "Consider removing bytesRef"
It is only used in the assembler and pulls in quite a big header (`vector_ref.h`).

[2019-11-26 21:41] axic commented on #6900
nlohmann's seems to be better in every single benchmark compared to jsoncpp: https://github.com/miloyip/nativejson-benchmark

[2019-11-26 22:35] ekpyron commented on #7795
We should switch to C++20 and use https://en.cppreference.com/w/cpp/container/span ;-).
Seriously, though, if we really need something like this and can't just live without it, we could check if we can just pull in one of the header-only implementations mentioned in https://stackoverflow.com/questions/45723819/what-is-a-span-and-when-should-i-use-one and replace it with ``std::span``, whenever usi

[2019-11-27 09:24] chriseth opened #7799 "[Yul] Extend LoopInvariantCodeMotion so that it can deal with sload and external calls"
The expensive operations we want to pull out of loops are unfortunately often not movable. This includes sload, extcodesize and others. They can be moved out of the loop, though, as long as they do not interfere with other code that is executed inside the loop.

[2019-11-27 09:25] chriseth opened #7800 "[Yul] Make Rematerializer aware of loops"
For loops should incur a penalty on the rematerializer because the expression has to be evaluated multiple times.

[2019-11-27 09:26] chriseth commented on #7406
This is implemented in  #7409

[2019-11-27 09:26] #7406 closed, assigned to nobody

[2019-11-27 09:28] chriseth commented on #6900
Are benchmarks the benchmark? I would say it is more important that the code is easy to understand and does not create any ambiguities.

[2019-11-27 10:16] axic commented on #6900
I think the API of nlohman was quite good, even compared to jsoncpp.

The benchmark categories are:
- code size
- parsing speed
- serialisation speed

There is a huge difference between speeds, which can be an issue with large compilations (large JSON outputs or input). I think this may be the reason people were complaining on compilation speed.

[2019-11-27 10:37] axic commented on #3851
The two places we use unlimited precision:
1) Evaluating constant expressions.
2) The constant optimiser, but there I think we really just need to tell if an overflow has occurred.

@chfast said that 1024-bit precision would be possible with intx, if we want to consider that breaking change in Solidity for constant expressions.

[2019-11-27 10:38] axic commented on #7795
Since it is only used in `Assembly.cpp` for serialising offsets + push values into the bytecode, I think it would be fine just having some helpers for that in `Assembly.cpp`.

[2019-11-27 10:39] axic commented on #7795
Unless @chfast has some other good ideas here.

[2019-11-27 10:40] axic opened #7802 "Consider removing the unique_ptr in EVMHost"
@chfast mentioned that `evmc::VM` is a unique_ptr itself so wrapping it into one should not be needed here: https://github.com/ethereum/solidity/blob/develop/test/EVMHost.cpp#L38

However we still need to be able to tell if it contains null:
[code]

[2019-11-27 10:49] ekpyron commented on #3851
Can't ``intx`` nowadays just double the precision of each of its types and continue doing so? If so, we could have 4096-bit precision - and we already basically limit our ``RationalNumberType`` to that range - we just have to be careful with overflows and the like...

[2019-11-27 10:54] bshastry opened #7803 "[yul] fuzzer: Do not generate infinite for loops"
## Abstract

Although we have a time out in place in the yul interpreter to reduce the slow-down effect from infinite for loops of the form `for {} 1 {} {}`, it's an open question if there is any merit in generating them in the first place and waiting for them to time out. On the other hand, the problem infinite loops pose is that they slow down fuzzing. Most often a single infinite for loop test

[2019-11-27 10:55] ekpyron commented on #6900
By the way: @Marenz is having problems problems with the performance of the AST export and import tests, for which I think the json parsing and emitting part is a major bottleneck - so it's not like performance is entirely irrelevant... and regarding readability: just have a quick look at https://github.com/aarlt/solidity/commit/1329c25756f2b242d9af7860eda6f37a72d38dc0 - the API is very similar to

[2019-11-27 11:11] chfast commented on #3851
It should work for 4096 bit precision (only unit tests are required at this point). However, because of the recursive design the code size can be an issue. Here is an example procedures for 4096-bit add and mul (see the end of the file): https://godbolt.org/z/3qJEF4.

The mul one is ok, because it is implemented as loop over 64-bit words (this turned out to be currently faster for 512+-bit types).

[2019-11-27 11:13] ekpyron commented on #3851
I'd imagine the performance would still be better than boost's bigints anyways, so I don't think it'll be a problem.

[2019-11-27 12:53] chriseth opened #7806 "Tune the sequence of Yul optimizer steps using an evolutionary algorithm or similar"
The Yul optimizer steps are designed in a way such that each of them is correct in isolation (as long as some mild preconditions are met, which can all be fulfilled by running certain other steps in the beginning of the optimizer run).

Currently, we have a fixed sequence of steps that are run in a loop (Suite.cpp) that has been created manually. We are sometimes facing issues where the sequence l

[2019-11-27 13:08] sunbeomso opened #7808 "Unknown exception during compilation for 0.5.12 and 0.5.13"
## Description

The released versions of solc (``0.5.12+commit.7709ece9.Linux.g++`` and ``0.5.13+commit.5b0b510c.Linux.g++``) often produce errors when compiling contracts. The produced error messages are: ``Unknown exception during compilation``.

Indeed, I haven't seen any successful cases for the above two released versions.

I have checked the solc version ``0.5.11+commit.22be8592.Linux.g++``

[2019-11-27 13:58] bshastry commented on #7776
Related https://github.com/ethereum/evmone/issues/205#issuecomment-558136843

[2019-11-27 14:08] axic commented on #7808
According to etherscan this was verified with 0.5.13. Are you sure it doesn't compile with 0.5.13?

Likewise, etherscan claims to have verified this with 0.5.12

[2019-11-27 14:18] sunbeomso commented on #7808
@axic I intentionally provided such examples. Did you get successful results? At least for me, the two solc versions failed. As I mentioned above, I have not observed cases where the two versions successfully compile contracts.

[2019-11-27 14:44] leonardoalt commented on #1230
From call: @axic is working on standardizing some assembler language for tests, and after that remove LLL.

[2019-11-27 14:59] leonardoalt commented on #2136
Suggestion from @axic:
`new{salt=...,value=1} C(..)`
`new<salt=...,value=1> C(..)`
If something like the above is accepted, the idea is to remove `.value` and `.gas` for all functions.

[2019-11-27 15:11] leonardoalt commented on #1687
From call: people seem to like the interface passed via `standard-json` where the name is visible in the source code via
`import Name from NameJSON;`

[2019-11-27 15:13] leonardoalt commented on #7738
From call: instead of making it mandatory, how about only issuing a warning if not there?

[2019-11-27 15:37] ekpyron opened #7809 "Increase the use of ``[[nodiscard]]`` (such as in ``Result``)"
Ignoring it will silently swallow errors and is never a good idea.

[2019-11-27 15:39] christianparpart opened #7810 "Type system: properly pass context everywhere."
Instead of keeping global static singleton that has to be reset during compilations (considering you compile more than once within the same process, for example in the LSP), it is cleaner to not rely on a global context but to pass it (which we do in many cases already anyway).

[2019-11-27 15:43] christianparpart opened #7811 "Split lexical analyzer into into dedicated ones for Solidity & Yul"
Currently both languages share the same scanner, that blocks some keywords for each other's language.

Despite rethinking the whole Scanner API on the one hand, we should separate those two subjects into one scanner (or it's rule definition set) per language (Solidity, Yul).

## Targeted Benefits:
* cleaner code separation
* free up some identifiers that aren't used in the other language

[2019-11-27 15:46] chriseth commented on #1687
If we do that, we need to distinguish between solidity files and json abi files, i.e. files that are to be compiled and files that the compiler only looks at when requested.

[2019-11-27 15:47] chriseth commented on #2136
I also like `new{salt=..., value=...} C(...)`, but it's probably harder to parse `<expression>{value=..., gas=...}()`.

[2019-11-27 15:48] axic commented on #1687
In the standard JSON source files are an object and have `content`, `hash`, etc. fields already. We could consider adding a new one, `kind`, which if omitted, defaults to Solidity  (in case the `language` is set to Solidity).

[2019-11-27 15:48] christianparpart opened #7812 "Cleanup the scripts folder."
The scripts root folder contains a lot of files, and a lot of logic inside.

The main goal should be to reevaluate if everything inside is still necessary (as of today) and whether or not the script itself could be cleaned up (for example the install_deps-family does a lot, and I doubt it's all still needed like it was written).

Also potentially re-arranging files into groups by subject for a mor

[2019-11-27 15:52] chriseth commented on #7808
@SunBeomSo did you build the compiler from source on your system or did you use a binary? Does the error message provide any further details about the internal error? If not, can you re-compile in debug mode (`cmake -DCMAKE_BUILD_TYPE=Debug ..`) and check with gdb where there exception is thrown? Thanks a lot!

[2019-11-27 15:53] ekpyron opened #7813 "Clean up ``solc/CommandLineInterface.cpp``"
Just look at it...

[2019-11-27 15:55] christianparpart opened #7814 "Reduce(/eliminate) the dependency on Boost"
* Some APIs from boost already went into the standard library.
* for Boost integer we can use the intx library (already seperate ticket)
* with regards to Boost.Ranges we should consider using [ranges-v3](https://github.com/ericniebler/range-v3) that are compatible with C++11/14/17 and is going to be part of C++20, too. (can become a "splitout"-ticket)

[2019-11-27 15:56] chfast commented on #7776
Please try this fix: https://github.com/ethereum/evmone/pull/217.
There are some other case not related to jumpdest where evmone can fail, but it is unlikely solidity fuzzer will hit these.

[2019-11-27 16:00] christianparpart opened #7815 "Use Catch2 instead of Boost.Test."
Boost.Test is a huge dependency, and [Catch2](https://github.com/catchorg/Catch2) is a "thin" header-only replacement that should support of of what we are currently using from Boost.Test.

[2019-11-27 16:02] christianparpart opened #7816 "Eliminate virtual inheritance (c++ code base, not solidity)"
IIRC, we use virtual inheritance only in exception classes.

Find a way to not depend on virtual inheritance, potentially also eliminating dependency on boost::exception (see #7814).

[2019-11-27 16:49] sunbeomso commented on #7808
@chriseth

I  built from released versions of source code.

The entire messages were ``Unknown exception during compilation``. There were no further details.

I am not familiar with gdb but I would try.

[2019-11-27 17:14] ekpyron commented on #2136
Some options in use in multiple contexts as @axic requested...
[code]

[2019-11-27 17:17] ekpyron commented on #7814
For reference: I suggested a similar approach in https://github.com/ethereum/solidity/issues/7795#issuecomment-558846981, but we might not need it there

[2019-11-27 17:24] ekpyron commented on #2136
[code]

[2019-11-27 17:25] chriseth commented on #7808
Thanks!
[code]

[2019-11-27 17:30] chriseth commented on #2136
[code]

[2019-11-27 17:33] rschumi0 opened #7820 "[Yul] Specify and enforce evaluation order on sub-expressions"
## Description

When I did some computations with increments and decrements, I got some unexpected results that might be caused by an issue with the operation order.

## Steps to Reproduce

[code]

In these computations I expected the results to be exactly vice versa.
So I was wondering if this is intended behavior or a bug that should be fixed?

## Environment

- Compiler version: 0.5.13
- Target

[2019-11-27 17:42] MicahZoltu commented on #2136
I'm pretty strongly against `C` and `c.f` and `g.h` or anything else with single letter variable names.  Words don't take up meaningful amounts of space, and clarity is king in smart contracts.  We should always prefer verbosity over brevity in any language constructs IMO.

[2019-11-27 17:43] ekpyron commented on #7815
``DYNAMIC_SESSION`` can probably be used for "injecting" the extracted test cases.

[2019-11-27 17:49] chriseth commented on #2136
@MicahZoltu these are just examples of contract and function names, they are non-normative :)

[2019-11-27 17:51] ekpyron commented on #2136
At the moment I like these best:
[code]

[2019-11-27 17:52] axic commented on #2136
My choice would be:
[code]

[2019-11-27 17:57] chriseth opened #7821 "[Yul] Extend LoopInvariantCodeMotion to more complex statements"
Relates to https://github.com/ethereum/solidity/issues/7799

Currently, LoopInvariantCodeMotion only deals with assignments to SSA variables from expressions only containing SSA variables and movable function calls.

We should extend it to any statement that
 - only contains movable code
 - only assigns to variables that are defined inside that statement (if it is a complex block)
 - if variables

[2019-11-27 17:59] axic commented on #2136
Actually based on discussion with @ekpyron if you consider the curly brackets to "wrap functions with a modifier", then the following makes sen:
[code]

In this case, the following be valid?
[code]

[2019-11-27 18:02] ekpyron commented on #2136
[code]

Yeah, probably not...

[2019-11-27 18:07] axic commented on #2136
Since we have `type(Holder).creationCode`, how about adding `type(Holder).calculateSaltedAddress(salt)` ?

[2019-11-27 18:11] #7802 closed, assigned to nobody

[2019-11-27 19:19] thegostep commented on #4834
Does solidity provide a global for determining if a contract exists or is this assembly technique still best approach?
[code]

[2019-11-27 21:49] axic commented on #6349
Was this fixed or just removed from 0.4.26?

[2019-11-27 21:55] chriseth commented on #2136
`calculatedSaltedAddress` would also need the constructor arguments - so rather
`calculateAddress{salt = ...}(arg1, arg2, ..., argn)`

[2019-11-27 22:16] chriseth commented on #7820
"The evaluation order of expressions is not specified (more formally, the order in which the children of one node in the expression tree are evaluated is not specified, but they are of course evaluated before the node itself). It is only guaranteed that statements are executed in order and short-circuiting for boolean expressions is done" ( https://solidity.readthedocs.io/en/v0.5.13/control-struct

[2019-11-27 22:17] chriseth commented on #4579
I think this has been done.

[2019-11-27 22:17] #4579 closed, assigned to nobody

[2019-11-27 22:18] chriseth opened #7825 "[SolYul] Enforce left-right top-down evaluation of expressions"
All expressions should be evaluated in a certain order and the documentation about this should be changed (currently, it says that the order of evaluation is unspecified).

Fixes https://github.com/ethereum/solidity/issues/7820

[2019-11-27 22:20] chriseth commented on #6349
I do not remember.

[2019-11-27 22:23] chriseth commented on #4834
It is the best approach.

[2019-11-27 22:56] ekpyron commented on #2136
Or ``{new Holder, salt= ...}.address(arg1, arg2, ..., argn)``?

[2019-11-28 01:36] fulldecent commented on #3420
Closing here. Those others issues that need to be open are open.

And there is an Inheritance Manifest https://github.com/ethereum/solidity/pull/3729#issuecomment-429987588 which is a better collection of issues.

[2019-11-28 01:36] #3420 closed, assigned to nobody

[2019-11-28 01:38] fulldecent commented on #3418
I do not think this depends on #3411 (CLOSED, WONTFIX).

The #3411 only relates to variables in interfaces. But this issue regards variables in contracts.

[2019-11-28 01:42] fulldecent commented on #49
As somebody that audits Solidity code I would recommend the contract author to use a different approach to increase readability. I do not see a good use for this feature.

[2019-11-28 01:44] fulldecent commented on #10
I do not support this feature request. Pre-processing can be done outside of Solidity. The C preprocessor is one candidate.

When I read the code for a deployed contract I want to see what was deployed, not a bunch of other stuff that was not deployed.

[2019-11-28 01:48] fulldecent commented on #1565
Fixed in latest version.

<img width="611" alt="Screen Shot 2019-11-27 at 20 47 54" src="https://user-images.githubusercontent.com/382183/69770490-3c512800-1157-11ea-99db-2154eed8552a.png">

Ready to close.

[2019-11-28 02:23] sunbeomso commented on #7808
@chriseth
With solc 0.5.13 built from source with debug mode,
the command ``run`` produces:
[code]
and the command ``bt`` produces:

[code]
where ``HOME`` is the home directory.

[2019-11-28 09:21] axic commented on #7808
@SunBeomSo what version of z3 are you using? Did you add `pragma experimental SMTChecker;` into the file?

cc @leonardoalt

[2019-11-28 09:38] chriseth opened #7830 "Yul Dialects"
This is more or less a brainstorming issue about which dialects in Yul we can expect in the future.

The dialect is defined by the built-in functions, the list of types (which are already given by the parameters and return parameters of the built-in functions) and the default type.

 - EVM(version): EVM opcodes (depending on version) operating on u256, default type: u256
 - EWasm: wasm builtins (m

[2019-11-28 11:00] #7345 closed, assigned to nobody

[2019-11-28 11:00] sunbeomso commented on #7808
@axic

ver z3 4.7.1

No. I didn't make any changes from the original contracts.

cc @leonardoalt

[2019-11-28 11:06] #1565 closed, assigned to nobody

[2019-11-28 12:20] chriseth commented on #7679
Implemented in #7759

[2019-11-28 12:20] #7679 closed, assigned to nobody

[2019-11-28 13:33] erak opened #7835 "Generate proper parser errors for NatSpec documentation"
## Abstract

With https://github.com/ethereum/solidity/pull/7534, we introduced a (partially) breaking change: the developer documentation of a function must contain a `@return` tag for every named return parameter and define the parameter name as the first word after the tag. Compiling without `--devdoc` is still fine, but requesting it, leads to an Internal Compiler Error.

We should generate pr

[2019-11-28 13:36] erak commented on #7835
I'd propose to include the minimal changes to `DocStringAnalyser::parseDocStrings()` from https://github.com/ethereum/solidity/pull/7834, which generate a DocStringError for the contract mentioned above.

[2019-11-28 13:51] #7143 closed, assigned to nobody

[2019-11-28 14:41] leonardoalt commented on #7144
Done in https://github.com/ethereum/solidity/pull/7490

[2019-11-28 14:41] #7144 closed, assigned to nobody

[2019-11-28 16:00] leonardoalt opened #7840 "Invalid IR generated for `push` via Yul"
Code:
[code]

Command line:
`solc --ir bug.sol`

Result on `develop`:
[code]

Result on `develop_060`:
[code]
plus
https://gist.github.com/leonardoalt/4a59ba13a3276c8b3a873f3104b19e25

[2019-11-28 17:34] ekpyron commented on #2136
``type(Holder{salt = ... }).calculateAddress(arg1, arg, ... , argn)``?

[2019-11-28 17:35] axic commented on #2136
Maybe we actually need to look at this in conjunction with #2296 and that we could consider removing the `new` keyword entirely.

[2019-11-28 23:02] ekpyron opened #7846 "Verify that replacing soljson.js in the external zeppelin tests still works correctly."
https://github.com/ethereum/solidity/pull/7845 let the tests successfully pass again after https://github.com/OpenZeppelin/openzeppelin-contracts/commit/5f92adc2e76fe92d7ab952710ff3fb6d76066a35, but we should have another look at the tests in detail and verify that they correctly replace soljson.js with the version to be tested.

[2019-11-29 10:13] leonardoalt commented on #7727
@wjmelements did I get it right that your suggestion is to relax the `nonpayable` check for `selfdestruct`?

[2019-11-29 10:14] wjmelements commented on #7727
Right

On Fri, Nov 29, 2019 at 2:13 AM Leonardo <notifications@github.com> wrote:

[2019-11-29 10:49] leonardoalt commented on #7777
Hi @lfrickel , any keys/information that you keep in the smart contract's storage will be visible to anyone, as you correctly pointed out.
I don't think it's possible to have a contract return a signed message, because control over signatures would mean you have control over a contract's private key and could impersonate it, compromising the contract itself.

Depending on your exact use case, one

[2019-11-29 10:57] leonardoalt commented on #7727
@chriseth I agree with it and would like to discuss it

[2019-11-29 11:06] leonardoalt commented on #7808
I just compiled the contract with Solidity 0.5.13 and z3 4.8.6 and it works.
@axic Even though the SMTChecker wasn't enabled, if `solc` is linked against a solver, the constructors are still called.
It looks like the Z3CHCInterface constructor uses some Z3 options that didn't exist then.

@SunBeomSo could you please try with a newer z3 version? At least 4.8.1

[2019-11-29 11:55] bshastry opened #7847 "[yul] loop-invariant-code-motion should check if loop may execute at least once before moving loop-invariant in for-body and for-post blocks"
## Description

Summary: The yul optimiser converts a terminating program into a non terminating program.

Terminating program (because msize() evaluates to zero)

[code]

Non terminating program (post optimization)

[code]

The optimized program creates an infinite for loop due to a non-zero caller() value. On the other hand, the unoptimized program bails out early because `msize()` is zero at th

[2019-11-29 13:52] V0nMis3s commented on #7183
@damianoazzolini you should take a look into the "Ethereum Italia Sviluppo" channel on Telegram.
Btw, I'd be available to help you in completing the Italian translation. Let me know how we can cooperate in this task.

[2019-11-29 16:32] leonardoalt commented on #7749
There's still one missing (re nested arrays)

[2019-11-29 18:33] bshastry commented on #7847
I have a feeling this is because of #7461

- `x_3` is moved out of the loop because it is a movable loop invariant
- Then probably expression simplifier plus function in-lining leads to the optimized code

I think the main issue here is that we don't check if loop executes at least once before moving the "movable loop invariant." If the movable loop invariant is in for-init block, it is fine to mo

[2019-11-30 00:08] ekpyron commented on #7847
Wow... I hadn't thought about infinite loops.
I totally agree with you @bshastry - I see no other way around this than restricting loop-invariant code motion to only cases in which the loop is definitely executed at least once.

[2019-11-30 00:17] ekpyron commented on #7847
Otherwise we'd need something like a "might never return" side-effect and require that additionally to ``movable``...
Or well maybe a combination - if we *don't* know that the loop will be executed at all, we additionally require to not have the ``might never return`` side-effect...

[2019-11-30 12:47] damianoazzolini commented on #7183
@V0nMis3s awsome! you can create a pull request in my own fork. The file that tracks the progress is  doc/progress.txt. Just simply add the part you want to translate. And it you find someone else, even better!

[2019-11-30 14:53] erak commented on #7460
The only project, that has one issue left, is OpenZeppelin: https://github.com/ethereum/solidity/pull/7784#issuecomment-559974137

[2019-11-30 15:10] erak commented on #7846
@ekpyron I think it works as expected. We're verifying after each compilation that the compiler version in the metadata matches the one of the soljson binary. Meaning that the Circle job would fail otherwise.

[2019-11-30 15:11] ekpyron commented on #7846
Nice and makes sense!

[2019-11-30 15:11] #7846 closed, assigned to nobody

[2019-11-30 15:11] erak commented on #7846
The removal of the workaround here: https://github.com/ethereum/solidity/pull/7845 is also included for 0.6.0 here https://github.com/ethereum/solidity/pull/7784.

[2019-11-30 15:28] erak commented on #7674
Quick update without a PR (yet): I've rebuild the tool in C++, because we can a) use libsolidity directly, without having to export and re-import the JSON AST, and b) maintain it within ease inside the team.
Working version should be ready by the end of next week.

[2019-12-01 15:36] sunbeomso commented on #7808
@leonardoalt
With z3 4.8.7, I checked that compilations are successful. Thanks.

[2019-12-01 20:30] chriseth commented on #7847
Yeah, I considered additional gas costs for the case that the loop is never executed, but I assumed that it's fine because when a loop is used, people usually mean to execute it. I did not consider the fact that movable expressions might not return at all. We also have to take recursive function calls into this group!

I would propose to define such a side-effect (we might also need it elsewhere)

[2019-12-02 09:02] chriseth commented on #7847
Actually we might want to consider recursive functions and functions containing loops not even movable - because calls to them cannot be removed without changing the semantics.

[2019-12-02 10:53] bshastry commented on #7847
Just to be sure why are calls to functions containing bounded for loops not movable? Or do you mean if we cannot be sure that a loop is bounded or potentially infinite, we assume the worst?

[2019-12-02 11:09] axic opened #7855 "Memory handling of the libsolc read callback"
https://github.com/ethereum/solidity/blob/develop/libsolc/libsolc.h#L37-L40

Currently the read callback returns two optional pointers: data and error. If it does return these pointers, they are memory allocated by the callee (e.g. the code which has the callback implemented) but are freed by the caller (e.g. solidity, which calls the callback).

This works well in the Javascript use case, because

[2019-12-02 11:12] axic commented on #7776
@bshastry this was fixed in evmone, is there anything to discuss here?

@chfast will there be an evmone release we can use?

[2019-12-02 11:14] ekpyron commented on #7855
Another option would be to split the callback into two - one returning a size, one receiving a buffer allocated by the compiler to which it should write.

[2019-12-02 11:14] ekpyron commented on #7855
I'm not a fan of adding a flag in any case.

[2019-12-02 11:19] chriseth commented on #3463
We don't have any non-strict yul anymore.

[2019-12-02 11:19] #3463 closed, assigned to nobody

[2019-12-02 11:38] axic commented on #3506
We actually have this implemented for contracts, added probably some time last year.

[2019-12-02 11:40] bshastry commented on #3506
Notes from stand up: @fulldecent will do some more testing and update on this

[2019-12-02 11:46] fulldecent commented on #3454
Closing. Do not have a concrete need. 0.6.0 has virtual and override.

[2019-12-02 11:46] #3454 closed, assigned to nobody

[2019-12-02 11:50] chfast commented on #7776
I will try to make the release this week, but there is more work there needed.

[2019-12-02 12:00] bshastry commented on #3419
summary: waiting for further clarification from @fulldecent

[2019-12-02 12:02] bshastry commented on #3418
summary from the call: waiting for further clarification from @fulldecent

[2019-12-02 12:11] #7777 closed, assigned to nobody

[2019-12-02 12:19] bshastry commented on #7776
Summary from the call: Update oss-fuzz docker file once the new release is made.

[2019-12-02 12:24] axic commented on #7855
Few more options suggested:
1) Another callback to free a memory pointer.
2) Another callback to free all memory allocated.
3) Expose `malloc` via another public function.

[2019-12-02 12:36] bshastry commented on #7855
Summary: We have a lot of options that need further discussion.

[2019-12-02 13:13] bshastry commented on #7776
Thank you @chfast for the timely fixes!

[2019-12-02 13:32] fulldecent commented on #3421
Updated per call today

[2019-12-02 13:54] ekpyron commented on #7847
As a side remark: @chriseth and me realized that the following will probably have the same problem:
[code]
(``sub(a,a)`` will be simplified to zero and ``a`` will be removed as unused)

I think determining whether a loop terminates with finite gas or not in general will be a (probably too) hard problem for the optimizer.

I think @chriseth wants to solve this for now by marking all loops and recur

[2019-12-02 14:11] bshastry commented on #7847
Ah, nice example.

Yeah, I think it will be impossible unless we interpret code at compile time. For example, the value of `msize()` in the original example is unknown unless we start interpreting code from the very beginning. On top of that, the additional constraint of "bounded with regard to finite gas" would mean the interpreter (which at the moment does not have a notion of gas) will need to

[2019-12-02 14:46] fulldecent opened #7856 "Support ERC-165 identifiers"
Implement `type(I).interfaceId` as the XOR of the function selectors of the external interface of an interface or contract excluding inherited functions.

The tests should include a full ERC-165 implementation that includes inheritance.

-----------
Original text:

We can add ERC-165 support to Solidity like this:

# Test case

[code]

# Negative test cases

[code]

# Useful example

[code]

# Dis

[2019-12-02 14:47] fulldecent commented on #3419
Issue updated and references added per weekly meeting today.

[2019-12-02 14:58] fulldecent commented on #3506
Top comment updated, test case updated per discussion.

[2019-12-02 15:15] ekpyron commented on #7847
Well, what we could do is to prove Turing wrong, solve the Halting Problem and use our solution to determine which loops are safe ;-).
What I mean is: all we can hope for is that the optimizer might be able to prove termination with finite gas for some easy cases - but even that would be hard - you'd usually need to "guess" some bound on some variable for which you can prove some monotonicity prop

[2019-12-02 15:17] axic commented on #2932
Basically numbers are represent as bignums and they are never freed.

[2019-12-02 15:18] axic commented on #6518
Given our current plan is to sunset and remove lllc (see https://github.com/ethereum/solidity/issues/1230#issuecomment-559116361), I'd argue against creating a docker image.

[2019-12-02 15:18] #6518 closed, assigned to nobody

[2019-12-02 15:20] ekpyron commented on #7847
We could, however, have some heuristics on the complexity of the loop condition and based upon that rewrite
[code]
to
[code]
In some cases the optimizer will be able to remove the ``if`` again in a later step (that's basically determining if the loop will definitely run at least once).
But yeah, the main question there is when we should and when we shouldn't do that, since for complex loop conditi

[2019-12-02 15:37] fulldecent commented on #3418
Updated issue with test case for 0.6

[2019-12-02 15:41] fulldecent commented on #3418
Also added PR for documentation (which is blocked against here). #7857

[2019-12-02 15:41] fulldecent commented on #3418
Related #7834 #7835

[2019-12-02 15:44] fulldecent opened #7858 "Remove "kill" from examples"
We have deprecated "suicide" from the Yellow Paper, so we can remove "kill" from the examples and documentation.

[2019-12-02 15:45] bshastry opened #7859 "[yul] proto fuzzer: Add evm version field"
## Abstract

The yul spec should include a field called `evm_version` (hard fork) so that program generation could be targeted at specific evm versions.

## Motivation

One way to do this is to add a protobuf field called evm version and map that to the EVMVersion class. We can then use functions from that class to decide whether to add a specific opcode or not.

[2019-12-02 15:45] axic opened #7860 "Integrate codeclimate"
For code coverage.

It has a a free tier for open source projects: https://codeclimate.com/quality/pricing/

[2019-12-02 15:46] axic opened #7861 "Integrate codacy"
For code coverage.

It has a a free tier for open source projects: https://www.codacy.com/pricing

[2019-12-02 15:53] chriseth commented on #7858
Please feel free to change the examples!

[2019-12-02 15:53] chriseth commented on #7858
"shutdown"?

[2019-12-02 16:00] fulldecent opened #7863 "0.6.0 changelog unclear definition of fallback and receive"
The changelog currently says:

The words "no other function" make this unclear to me. I do not know if "other function" includes "receive" or not.

[2019-12-02 16:05] chriseth commented on #7863
It does include it. If any function matches, that function is called, otherwise the fallback function is called. The fallback function being called does not mean that its code is executed, sometimes it also reverts (if it is not payable), though.

[2019-12-02 16:31] fulldecent commented on #7863
Does that mean the fallback function will be executed on an empty call data if the receive function does not exist?

[2019-12-02 17:03] fulldecent opened #7865 "Require explicit typing for REVERT data, update require strings"
# Motivation

- Try/catch is implemented here https://github.com/ethereum/solidity/pull/7328/files
- This hardcodes in that REVERT data should always be a string
- Strings are bad, and are not required from https://eips.ethereum.org/EIPS/eip-140
- If 0.6.0 is released as-is it will be very hard to change later

# Here is how strings hurt our try/catch

It is wasteful because string comparison is d

[2019-12-02 17:11] bshastry commented on #7847
Haha.... we can even earn up to 1000 USD doing it https://news.ycombinator.com/item?id=376238

[2019-12-02 17:37] chriseth opened #7867 "[Yul] Improve side-effect property of loops and recursive functions"
To fix a bug, we set all functions containing loops and recursive function calls to non-movable. The property is a bit more restricted, though:

Calls to such functions cannot be removed or introduced into a control-flow path, but they can be moved around along a non-splitting and non-joining control-flow path and the function itself is "pure" (meaning its result only depends on the arguments), as

[2019-12-02 17:38] chriseth commented on #7821
In light of https://github.com/ethereum/solidity/issues/7867 this can also be extended to turn
[code]
into
[code]
if part of the moved code is not always guaranteed to return (like it contains a potentially infinite loop).

[2019-12-02 18:45] fulldecent commented on #7858
PR coming

[2019-12-02 18:50] fulldecent commented on #7858
https://github.com/ethereum/solidity/pull/7869

[2019-12-02 21:35] ekpyron commented on #7855
Point in favour of adding a free-callback: That's the only way that the callback can provide file contents by memory mapping files, which is actually the fastest and nicest way for it to load stuff.

[2019-12-02 22:19] ekpyron commented on #7855
But yeah, the more I'm thinking about it, the more I lean towards just exporting ``malloc`` as ``solidity_alloc`` and be done with it that way.

[2019-12-02 22:25] ekpyron commented on #7855
Actually I even think that we should change the way ``solidity_free`` works while we're at it.
We should implement it in a way that we at least have a chance to make the interface reentrant in the future - so I think ``solidity_free`` should be the counterpart of ``solidity_alloc`` and take an argument. So ``solidity_compile`` returns a buffer that has to be freed by ``solidity_free``.

[2019-12-02 22:37] axic commented on #7855
Well we should rename `solidity_free` to `solidity_cleanup`/`solidity_reset` or something like that.

[2019-12-03 08:49] ChrisChinchilla commented on #7183
Ok great everyone! I'll list this in the main documentation for now, and please let me know when you get  something ready to be fed into Read the Docs.

[2019-12-03 09:37] #7466 closed, assigned to nobody

[2019-12-03 09:55] chriseth commented on #3506
Since this seems to be non-breaking, I'll add it to 0.6.1.

[2019-12-03 09:56] chriseth commented on #7863
Yes.

[2019-12-03 09:57] chriseth commented on #7856
I'm a bit reluctant to add explicit ERC numbers to the Solidity language, but I think this is a good feature to have. We should consider adding it to `type(I)`, though.

[2019-12-03 10:05] chriseth commented on #7865
Typed errors are a planned feature. For now, the string should only always be explanatory and not be used by the program to change the logic depending on the string. Revert strings currently use a 4 byte "function selector" of "Error(string memory)". It is planned to catch exceptions based on that signature:

[code]

[2019-12-03 10:09] chriseth commented on #1505
Has been implemented for external calls in 0.6.0.

[2019-12-03 10:09] #1505 closed, assigned to nobody

[2019-12-03 10:10] chriseth opened #7877 "Typed errors / exceptions"
Add the `error` keyword to specify error / exception types in the same way as events. These errors can then be thrown using `throw` and they can be used inside `revert` and `require` causing the 4-byte selector of its type being used for the revert data. The matching `catch` clause destructures them.

Note: For now, we implicitly use the error type `Error(string memory)` and encode its 4-byte sele

[2019-12-03 10:11] chriseth commented on #7865
Created an issue but maybe it already exists: https://github.com/ethereum/solidity/issues/7877

[2019-12-03 11:33] ekpyron commented on #7855
I think it should be possible to explicitly free whatever ``solidity_compile`` returns and a second call to ``solidity_compile`` shouldn't invalidate the memory the first call returned...

[2019-12-03 11:35] ekpyron commented on #7855
By the way: the fact that currently the memory returned from ``solidity_compile`` will be invalid after a second call to ``solidity_compile`` isn't even documented... at least not in libsolc.h...

[2019-12-03 12:56] axic commented on #7259
Wasn't some of this done already?

[2019-12-03 13:03] axic commented on #7259
Hm since we require C++14/17 now, cannot we just replace `boost/noncopyable` with a deleted constructor or we like that it is easy to search for noncopyable?

[2019-12-03 13:21] ekpyron commented on #7259
Yes, some of it was done, as indicated in the issue description.

At least I'd like to have it replaced with deleted constructors and assignment operators. Searching for ``= delete;`` will still work...

[2019-12-03 13:43] axic commented on #7259
I have updated it after asking the question :wink:

[2019-12-03 13:44] ekpyron commented on #7259
Ah, ok :-D

[2019-12-03 14:42] axic commented on #7855
That's not a bad idea. However it would mean an extra memory copy for every case, because currently it uses the extensible `std::string` and just exposes its pointer.

[2019-12-03 14:55] ekpyron commented on #7855
We could do something similar, avoiding copying at the cost of linear complexity of "free" and a few small allocations...
[code]

[2019-12-03 16:38] #5933 closed, assigned to nobody

[2019-12-03 16:56] axic commented on #7855
@ekpyron you can't use this `solidity_free` with `solidity_alloc` though.

[2019-12-03 17:06] ekpyron commented on #7855
Unless we implement
[code]

[2019-12-03 17:08] ekpyron commented on #7855
The alternative is to use ``malloc``/``free``, resp. ``new[] char`` and ``delete[]``, but then we either need to change how ``StandardCompiler::compile`` returns things (bad idea IMO) or we have one copy in the end (which is probably not too bad).

[2019-12-03 17:10] bshastry opened #7883 "[yul] tool that translates yul source program into an equivalent protobuf message"
## Abstract

Since writing protobuf programs that generate specific yul test cases by hand is quite a pain, it would be nice to have a tool that accepts a valid yul program as input and translates it to a protobuf message, potentially printing it to an output file.

## Motivation

- main.cpp
  - yul parser parses input into an AST
  - write AST visitor that does the protobuf conversion

[2019-12-03 18:02] rschumi0 commented on #7820
Thank you for your detailed answer. I really think it would make sense to enforce a certain order for this.
I just noticed that there are also strange cases with the postfix increment and decrement:
[code]

[2019-12-03 20:22] chriseth commented on #2563
Implemented in https://github.com/ethereum/solidity/pull/7817

[2019-12-03 20:22] #2563 closed, assigned to christianparpart

[2019-12-03 20:25] chriseth commented on #7680
Implemented in https://github.com/ethereum/solidity/pull/7792

[2019-12-03 20:25] #7680 closed, assigned to ekpyron

[2019-12-03 20:32] axic commented on #7460
Zeppelin was fixed according to https://github.com/ethereum/solidity/pull/7864#issuecomment-560488775

[2019-12-03 20:33] axic commented on #5956
Is this still relevant for 0.6.0?

[2019-12-03 20:34] axic commented on #6266
Is this still relevant for 0.6.0?

[2019-12-03 20:34] axic commented on #7674
Is this still relevant for 0.6.0?

[2019-12-03 21:02] #7847 closed, assigned to nobody

[2019-12-04 02:02] fulldecent commented on #7863
Thank you. Update here --> https://github.com/ethereum/solidity/pull/7888

[2019-12-04 04:25] Jiachi-Chen opened #7889 "Cannot install v0.5.13 in MacOS"
Mac Os: Catalina 10.15.1
Z3 Version:  4.8.5
boost Version:  1.71.0
CMake Version: 3.15.5
When I installed solidity 0.5.13 by CMD: brew install solidity, I received :
[code]

[2019-12-04 10:09] #7863 closed, assigned to nobody

[2019-12-04 11:37] chriseth opened #7891 "Optimize storage writes for small types by determining that the slot is otherwise unused."
When types smaller than 32 bytes are written to a storage slot, they are always "ored" into the data already at that slot, which means that we first need to read the data. This reading gets more costly with Istanbul and thus we might consider skipping it if we can determine that the slot is not used by anything else.

The risk is that making this decision could introduce a bug and users might also

[2019-12-04 11:53] #7706 closed, assigned to nobody

[2019-12-04 14:16] bshastry opened #7896 "[yul] proto fuzzer: Make function call generation optional"
## Abstract

At the moment, the proto fuzzer *always* generates a non-optimizable function call for *every* function definition generated. For example, the following is generated per function definition

[code]

This is sub-optimal because sometimes we want to test if a function is incorrectly optimized out when there are no calls to it.

This issue tracks support for making function calls optiona

[2019-12-04 14:29] Marenz opened #7897 "AST Json Export: Don't have null values"
@axic [suggested](https://github.com/ethereum/solidity/pull/7153#discussion_r353711057) that json members shouldn't have the `null` value. The alternative would be to skip those members entirely.

[2019-12-04 14:57] axic commented on #7855
On the meeting we have agreed on a design based on @ekpyron's suggestion:

- `char *solidity_alloc(size_t len)` - allocates a string and places it into the internal list
- `char *solidity_free(char *ptr)` - frees the string, if the ptr is part of the internal list
- `void solidity_reset()` - frees all the allocations
- `char *solidity_compile(...)` - returns data allocated the same way as `solidit

[2019-12-04 14:59] ekpyron commented on #7855
Just as an additional note: the pointers allocated by the callback are freed internally by the compiler, so the callback provider doesn't have to free them.

[2019-12-04 15:04] axic commented on #7855
Additional discovery (mostly by @ekpyron) that we could avoid copying strings from the callback to the `CompilerStack` if we internally consider these allocations as `std::string`.

For example here https://github.com/ethereum/solidity/blob/develop/libsolc/libsolc.cpp#L61-L62, instead of creating a copy, we should move the string and remove it from the list of "external allocations".

[2019-12-04 15:38] christianparpart commented on #7855
NB: My naming proposals are the following:
* `solidity_allocate()` for allocating memory
* `solidity_deallocate()` for deallocating previously allocated memory (not `solidity_free` to not be confused by the old `solidity_free` that we are about to rename)
* `solidity_reset() as rename of old `solidity_free`.

[2019-12-05 12:52] #3776 closed, assigned to nobody

[2019-12-05 13:48] chriseth commented on #3514
Implemented in https://github.com/ethereum/solidity/pull/7839

[2019-12-05 13:48] #3514 closed, assigned to nobody

[2019-12-05 14:00] chriseth commented on #5081
Fixed by https://github.com/ethereum/solidity/pull/7583

[2019-12-05 14:00] #5081 closed, assigned to HenryRLee

[2019-12-05 14:02] chriseth commented on #7471
This can be done via `setOptimiserSettings(OptimiserSettings _settings);` or did I misunderstand the question?

[2019-12-05 14:16] bshastry commented on #7471
Actually, the question is should we do it rather than how to do it. I think the how essentially involves changing the configuration setting.

To rephrase, will be benefit from a fuzzer that compiles solidity via yul? If so, I can reopen https://github.com/ethereum/solidity/pull/7446

[2019-12-05 15:34] chriseth opened #7908 "Document array slices"

[2019-12-06 00:30] wjmelements opened #7913 "EIP170 constraint"
For some specified optimization runs the contract binary may become larger than the limit enforced by EIP170. This can result in contracts that cannot be deployed. It may be helpful if there was a flag or option to constrain contract size to 24k (default) or a parameterized limit, if possible. If the constraint cannot be met, it would be ideal to produce the smallest possible contract and emit a w

[2019-12-06 10:26] rmeissner commented on #7455
Is there any plan how to move this forward. With the current changes to the sload gas costs and future changes to event gas costs (that might be coming), it would be really nice to avoid that the 2300 gas limit is further used.

[2019-12-06 10:43] chriseth commented on #7455
If even the events get more costly, then maybe the EIP process should consider either removing or increasing the stipend.

[2019-12-06 11:15] axic opened #7915 "Add solidity@0.5 to homebrew-ethereum"
There already is `solidity@0.4` (for 0.4.26) and with the release of 0.6.0, `solidity` will move to to that, so the only way to install 0.5.x series would be to include `solidity@0.5` as a package.

[2019-12-06 12:02] axic commented on #7913
I think this may be a duplicate of #2100.

[2019-12-06 14:21] MicahZoltu commented on #7455
Changing the EVM stipend is much harder than changing Solidity's bytecode generation because of backward compatibility.  Even with the EVM having a stipend, the .transfer and .send recommendations are still bad ideas.

[2019-12-06 15:00] christianparpart commented on #7738
Usually every source code file (regardless of language) has a header file stating copyright, licence, and author.

When I think of this in a more generic way, I'd propose to support:
* zero or more licenses (with: no licence equals an empty string, equals "closed")
* zero or more authors

I'd propose author list (as part of the AST) here for future aggregation by (statistical) tools.

On the other

[2019-12-06 15:07] chriseth commented on #7455
I'm perfectly fine with introducing new functions, but we have to find good names. Because of try/catch, one would actually suffice. What about allowing `.gas()` for now?

[2019-12-06 15:11] christianparpart commented on #2296
While I was coming from the CREATE2 ticket linked above, I wanted to give an example on how other languages (here: F#) provide [a somewhat equivalent feature](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/copy-and-update-record-expressions):

[code]
whereas `X` and `Y` here could be the named parameters of the constructor of the type of `masterCopy`.

Linking this with the CREA

[2019-12-06 15:12] MicahZoltu commented on #7455
@chriseth Hmm, maybe we are talking about different things.  I'm talking about removing `.send` and `.transfer`, or at least strongly discouraging them in the docs in favor of `.call.value()("")`.  Are you saying that you would like to add a new method for `.call.value()("")` (since that syntax is kind of ugly)?

If that is what you mean, then my recommendation would be something like `.sendEth(am

[2019-12-06 22:12] 3esmit commented on #7455
I dont see any problem in using .call.value, because I think that sending Ether is odd, and uncommon. Most of contracts will deal with L2 tokens, and Ether is pure gas.

In ERC20 tokens when you transfer you know that other contract dont executes anything, and instead we need to approveAndCall.

For Ether, the value transfer can also execute something... Maybe Ether should be only payable in a ERC

[2019-12-06 23:40] wjmelements commented on #2100
Duping https://github.com/ethereum/solidity/issues/7913

In addition to the warning, which would be easy to add, I also request a flag to ask the compiler to attempt to constrain code size.

[2019-12-06 23:40] wjmelements commented on #7913
Thanks, merging

[2019-12-06 23:40] #7913 closed, assigned to nobody

[2019-12-06 23:47] wjmelements commented on #2100
It is also possible to workaround size limit via delegatecall by deploying part of the code to another contract during construction. The primary contract would delegatecall to a secondary contract as its fallback function. This can chain infinitely, leveraging the fact that calldata can be larger than max contract size.

[2019-12-06 23:48] wjmelements commented on #2100
For the current block gas limit, it would be possible to do 2 full-sized contracts in this way, but a larger block gas limit might empower more in the future.

[2019-12-07 18:36] KalshuCodes commented on #7578
Hey, @Marenz  Is this still left to work upon? I would be glad to contribute.

[2019-12-07 19:46] birtony commented on #7578
@kalashshah11 I am going to push an update in a bit with all the updated error messages I could've found

[2019-12-08 12:19] axic commented on #7578
Why not introduce a `toQuoted` or `toQuotedString` helper?

[2019-12-08 21:44] axic opened #7920 "Add solidity highlighting support to rouge"
[rouge](https://github.com/rouge-ruby/rouge) is a syntax highlighting library written in Ruby. It is used by Jekyll and [used by default by Github Pages](https://help.github.com/en/github/working-with-github-pages/about-github-pages-and-jekyll#syntax-highlighting).

Having this implemented would mean Solidity is properly highlighted on eips.ethereum.org

[2019-12-08 22:42] axic commented on #7920
Apparently a PR was submitted in 2017 by @veox, but it is still not merged: https://github.com/rouge-ruby/rouge/pull/760

[2019-12-08 22:50] leonardoalt commented on #7578
@axic such as https://github.com/ethereum/solidity/issues/7733 ? ;)

[2019-12-08 23:00] axic commented on #7578
Can't we just implement our alternative in 3 lines of code?

[2019-12-08 23:09] leonardoalt commented on #7578
Sure, that'd work

[2019-12-09 05:43] k06a opened #7922 "Allow selectors to be used in constants assignment and support overloading"
## Abstract

For example [ERC721 contains](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/release-v2.4.0/contracts/token/ERC721/ERC721.sol#L36-L50):
[code]
But could contain:
[code]

## Motivation

Avoiding off-code computations.

[2019-12-09 09:08] Marenz commented on #7578
When @erak and I talked about it we decided to make it all consistent as a first step and as a second step use a function like that.

[2019-12-09 09:51] #7594 closed, assigned to christianparpart

[2019-12-09 09:57] axic commented on #7578
Sounds like a lot of extra work :wink:

[2019-12-09 10:21] Marenz commented on #7578
I argued along similar lines and I forgot eraks counter-argument ;)

[2019-12-09 10:32] erak commented on #7578
Well, I think I had no strong opinion on the process ;-) Would agree with @axic here and start using the helper function right away.

[2019-12-09 10:36] chriseth opened #7924 "Release of 0.5.14"
## Checklist for making a release:

### Requirements
 - [x] Lauchpad (Ubuntu One) account
 - [x] gnupg key (has to be version 1, gpg2 won't work) for `your-name@ethereum.org` created and uploaded
 - [x] Readthedocs account, access to the Solidity project
 - [x] Write access to https://github.com/ethereum/homebrew-ethereum

### Pre-release
 - [x] Ensure that a Github project exists for the release.

[2019-12-09 11:20] chriseth commented on #7915
Let's do it!

[2019-12-09 11:22] ChrisChinchilla commented on #7889
Hey @Jiachi-Chen I am running the same versions as you and do not get this error, could you give the output of `brew config`, might help us see what the problem could be.

[2019-12-09 11:24] chriseth opened #7927 "Export Pointer_Stringify in solc-js"

[2019-12-09 11:25] axic commented on #7927
This is handled in #7917

[2019-12-09 11:27] Jiachi-Chen commented on #7889
Thank you for your help, the following is the output of brew config.

 HOMEBREW_VERSION: 2.2.0
ORIGIN: https://github.com/Homebrew/brew
HEAD: 7d7de295dfbc5e581106e2b1f674496b5e25a773
Last commit: 12 days ago
Core tap ORIGIN: https://github.com/Homebrew/homebrew-core
Core tap HEAD: cc307630acd25208a68941b148abaf03941b0a73
Core tap last commit: 3 days ago
HOMEBREW_PREFIX: /usr/local
CPU: dodeca-core

[2019-12-09 11:40] Marenz commented on #7578
What does that mean in regards to the pending PR?

[2019-12-09 11:43] erak commented on #7674
@axic Moved it to 0.6.1.

[2019-12-09 11:43] emilbayes opened #7929 "Passing calldata to memory modifier"
## Description

I have a `modifier hasQuorum(bytes[] memory signatures, bytes memory data)` that I apply to my external contract functions, eg. `function addOwner(bytes[] calldata signatures, address owner) external hasQuorum(signatures, abi.encodePacked(owner))` with a check on the length of the signatures array. However the array seems to be length zero always in the modifier.

I tried making a

[2019-12-09 12:44] digulla opened #7931 "Extend ABI documentation of function types"
The documentation at https://github.com/ethereum/solidity/blob/develop/docs/abi-spec.rst doesn't explain how function types (https://solidity.readthedocs.io/en/v0.5.3/types.html#function-types) are encoded.

[2019-12-09 12:46] axic commented on #7931
It includes this:

Can you suggest how to expand this explanation?

[2019-12-09 13:24] chriseth commented on #7929
Can please you also provide the code that compiles and causes the length to be zero?

[2019-12-09 13:26] emilbayes commented on #7929
@chriseth I haven't been able to reduce to a minimal example yet, but it's this function on a larger contract: https://github.com/hyperdivision/eth-multisig-wallet/blob/bfcdcef306f5393f28875ccdf22c06029defc972/contracts/Wallet.sol#L30

Here's the line that evaluates to false despite `owners.length == 1` and `signatures.length == 1`: https://github.com/hyperdivision/eth-multisig-wallet/blob/bfcdcef

[2019-12-09 13:40] erak commented on #7922
@k06a Thanks for bringing this up. In general, I think that this would be a good reason to re-think member lookup for functions and research if a new syntax, that includes types to be used during overload resolution, can be introduced. You can almost express it in a non-constant way:
[code]
but as you might see, the second overloaded version of `safeTransferFrom` has to be renamed to `safeTransfer

[2019-12-09 13:40] emilbayes commented on #7929
Here's another faulty contract causing: `InternalCompilerError: I sense a disturbance in the stack: 3 vs 4`

[code]

[2019-12-09 13:41] #7927 closed, assigned to nobody

[2019-12-09 13:42] axic opened #7932 "Rename to Ewasm/ewasm"
Yul and the source through contains various spellings of Ewasm. The preferred spelling is "Ewasm" and we should use "ewasm" for CLI options.

One example, the machine flag for Yul uses "eWasm".

[2019-12-09 13:43] erak commented on #7922
@k06a So bottom line is: I think we'd need a different proposal for the syntax :-)

[2019-12-09 13:45] chriseth commented on #7922
We might also consider native support for interface identifiers.

[2019-12-09 13:45] emilbayes commented on #7929
I guess it makes sense that this type of "casting" can't just happen like that (or would require copying the calldata to memory), but modifiers and internal functions are not allowed to access calldata any other way?

[2019-12-09 13:46] chriseth commented on #7922
https://github.com/ethereum/solidity/issues/7856

[2019-12-09 14:06] k06a commented on #7922
@erak what about this syntax?

[code]

Or use mandatory `void` for functions without arguments:

[code]

So you will be able to distinct calls from selectors by arguments: types or expressions.

[2019-12-09 15:16] Marenz commented on #7929
Let's fix those ICE's first and maybe you can create a minimal test case then

[2019-12-09 15:32] axic commented on #7915
Suggested course of action: after 0.5.14 is released, just duplicate the file as `solidity@0.5`.

Then we just proceed to update the base file when 0.6.0 is released.

[2019-12-09 15:35] chfast commented on #7776
The evmone 0.4.0 has been released: https://github.com/ethereum/evmone/releases/tag/v0.4.0

[2019-12-09 15:41] #4735 closed, assigned to nobody

[2019-12-09 15:42] bshastry commented on #7776
Updated oss-fuzz docker file (see https://github.com/google/oss-fuzz/pull/3100)

Pending: Upgrade to evmone v0.4.0 in CI docker images (see #7936 )

[2019-12-09 15:49] bshastry opened #7936 "[Testing] Upgrade to evmone 0.4.0"
## Abstract

Needed because it (evmone 0.4.0) fixes #7776

[2019-12-09 15:53] ChrisChinchilla commented on #7889
I have a different Java version from you, but that shouldn't make much difference.

I have newer CLT (command line tools) from you, could be worth updating yours. If that doesn't fix things, try running again with the `--debug --verbose` flags that might give us more information.

[2019-12-09 21:58] axic opened #7943 "yulInterpreter crashes on infinite recursion"
Found by ossfuzz (13647 and 13811)

[code]

The problem manifests in `Interpreter::openScope` in `test/tools/yulInterpreter/Interpreter.h`.

[2019-12-10 01:15] axic opened #7944 "Reenable style checks for docs for 0.6.0"
Revert #7435.

[2019-12-10 04:41] #7808 closed, assigned to nobody

[2019-12-10 05:03] Jiachi-Chen commented on #7889
the following is the output of **brew install solidity --debug --verbose**

[code]

[2019-12-10 09:52] bshastry commented on #7943
@axic I've not looked into these closely but they seem to be due to lower stack memory allocated in the fuzzing VM allocated by Google.

[2019-12-10 09:57] digulla commented on #7931
Thanks, I missed it since I searched the file for "function type".
One reason why I didn't see `function` is that the list of types is sorted by a mix of history (new types are appended at the end) and significance (often used types are at the top).

I think it would help to sort the types by name.

Also: What is "address" in this context? The contract? If so, how about this:

`function`: an `addr

[2019-12-10 10:25] bshastry opened #7947 "[Testing] Custom yul protobuf mutations"
## Abstract

Currently, mutations applied to protobuf input that describes a yul program are managed by the libprotobuf-mutator library.

I took a look at these. The mutations include:
  - Adding a message
  - Removing a message
  - Copying messages from one input to another
  - Mutating a field's contents

I have a strong feeling that these mutations are too basic (i.e., no yul awareness makes th

[2019-12-10 10:48] bshastry opened #7948 "[Documentation] Document how to build fuzzers via docker"
## Abstract

Since the fuzzer builds rely on external dependencies (libfuzzer, libprotobuf, libprotobuf-mutator), it is non-trivial to reproduce ossfuzz reported issues locally.

This issue tracks support for documenting fuzzer builds using docker. The reason docker is chosen is because it is platform independent (e.g., @axic would like to run fuzzer tests on Macos).

[2019-12-10 10:49] axic commented on #7948
There's some documentation (https://github.com/ethereum/solidity/blob/develop/test/tools/ossfuzz/README.md) but it is not comprehensive.

[2019-12-10 11:23] axic commented on #7455
We are actually discussing new syntax for that under #2136. One of the likely candidates is `call{value = 12 eth}()`

[2019-12-10 11:27] leonardoalt commented on #2136
Folks seem to converge to `{...}`, but I prefer `[[...]]` :p

[2019-12-10 11:29] axic commented on #7812
Also consider the other set of scripts hidden under `test/`,`test/externalTests` and `.circleci/`.

[2019-12-10 11:34] axic opened #7949 "Remove LLL from Solidity"
Reason explained [here](https://github.com/ethereum/solidity/issues/1230#issuecomment-559116361)

TODO:
- [ ] Remove liblll and lllc
- [ ] Remove from documentation
- [ ] Remove tests
- [ ] Remove cmake settings
- [ ] Remove form CI
- [ ] Add link to "assembler" in documentation

Closes #1188
Closes #1230
Closes #1288
Closes #1453
Closes #1478
Closes #2865
Closes #2932
Closes #3141
Closes #4680
Cl

[2019-12-10 11:36] axic commented on #7889
I'd suggest to uninstall z3 because your z3 version seems to be incompatible with 0.5.13.

@leonardoalt any comments?

[2019-12-10 11:54] gumb0 commented on #7949
cc @winsvega

As I understand LLL is still widely used in tests, but it would be great to get rid of it there, too.

I actually suggested to @winsvega to support Yul in tests, or maybe this new "assembler" thing would be better, what do you think?

[2019-12-10 11:57] axic commented on #7949
Many test cases can't be supported via Yul, because it doesn't allow controlling low-level jumps, jumpdest, etc. That's why the assembler is important.

[2019-12-10 12:01] axic commented on #1230
Btw, this was fixed with #7853 and #7854.

[2019-12-10 12:06] leonardoalt commented on #7889
If the z3 version really is 4.8.5 it should work, we used it in the beginning of CHC.
Maybe there are multiple z3 versions installed?

[2019-12-10 13:48] Jiachi-Chen commented on #7889
Thank you for your help. There are multiple z3 installed on my laptop. I uninstalled them and the bug is fixed.

[2019-12-10 16:14] zigguratt commented on #7949
Is LLL going to be erased from the repo, or will it find another home somewhere?

[2019-12-10 16:35] axic commented on #7949
We do not have the resources to maintain LLL here or in a different repository, this is also a main contributing factor for removing it.

Anyone is free to fork this repository prior to the commit removing it. However I would strongly suggest not to do that, but to write a new compiler for LLL outputting the aforementioned assembly language. (It will be [EIP2121](https://github.com/ethereum/EIPs/p

[2019-12-10 16:39] zigguratt commented on #7949
Thanks Alex. I've been exploring other paths similar to what you suggested. I'm concentrating on another project at the moment, but I'm starting to focus my attention back on a Lisp-like language.

[2019-12-10 16:59] #7936 closed, assigned to bshastry

[2019-12-10 17:02] axic opened #7956 "Add tests for the EVM to Ewasm Yul translator"
- [ ] arithmetic (#8014)
- [x] bitwise (#7963)
- [x] comparison (#7977)
- [x] create (#7942)
- [x] call* (#7942)

[2019-12-10 17:13] axic commented on #7932
The only thing needed for 0.6.0 is any public switches in the CLI to use `ewasm`. Everything else is internal refactoring.

[2019-12-10 17:18] axic commented on #7915
Sorry @ChrisChinchilla I really wanted to get this done: https://github.com/ethereum/homebrew-ethereum/pull/250

[2019-12-10 17:41] winsvega commented on #7949
I would like to include liblll to retesteth.
I only need the translator feature that replace expressions into bytecode.

Yul could also be supported. The thing is that we have around 20k tests with lll and I don't think it is a good idea to rewrite them

[2019-12-10 17:46] axic commented on #7949
My opinion is that it is absolutely a good idea to rewrite them. Many of them were written with a broken version of LLL (before "auto variable allocation" was fixed) and nobody knows if any of them are actually correctly testing what they supposed to test.

[2019-12-10 18:43] ekpyron commented on #2136
Haha, I actually still like ``[[...]]`` better as well, but dropped it following the general tendency :-).

[2019-12-10 18:46] axic commented on #2136
``[[..]]`` feels more like an annotation on a function declaration as opposed to an expression.

[2019-12-10 22:09] winsvega commented on #7949
You have someone willing to do that?

[2019-12-10 23:59] axic commented on #4285
I'd like to bring this up again for discussion.

[2019-12-11 00:02] axic commented on #5306
I think effectively it is kind of public since 0.5.0. With 0.6.0 the interface will be even more cleaner.

Evidenced by having [solc-js](https://github.com/ethereum/solc-js) and [solc-rust](https://github.com/axic/solc-rust) as consumers.

The question here remains about shipping a statically linked shared library as part of the release.

[2019-12-11 04:41] 3esmit commented on #2136
I am writing account contracts and there is a specific use case where I am having to override a function because I am unsure about gas operator.
The override takes place to set if gas is manual or not.
There is a magic value (such as 0 or MAX_INT)? In case of `{gas = 0}`, what happens? and in case `{gas = MAX_INT}` (MAX_INT can be any value greater then the block gas limit)? To set the gas to "aut

[2019-12-11 08:35] bshastry commented on #7776
Fixed by #7936

[2019-12-11 08:35] #7776 closed, assigned to nobody

[2019-12-11 09:00] christianparpart commented on #7943
For me this looks like a recursion (i.e. are the rewritten to loops?). Would it make sense to limit recursion depth then, or somehow simulate what gas is doing (to stop/fail after a certain amount of too many instructions?)

[2019-12-11 09:09] bshastry opened #7958 "[Testing] Use protobuf generate cpp macro in cmake file"
## Abstract

Currently, we invoke the `protoc` compiler on the command line to generate C++ protobuf bindings. I just realized that there is a cleaner way to do it via a cmake macro. Adding the following line should do the trick, where ${PROTO_SRCS} and ${PROTO_HDRS} are the C++ source/header files generated by the protoc compiler.

[code]

[2019-12-11 09:24] bshastry commented on #7943
@christianparpart We limit recursion depth by counting how many basic blocks have been interpreted at any given point in time:

https://github.com/ethereum/solidity/blob/7247e72d8bddaa2a30f9f7b5801e47f362c79c5b/test/tools/yulInterpreter/Interpreter.cpp#L171

Once the number of steps (basic blocks interpreted) equals max steps, we throw an exception.

Max steps is defined as "100"

https://github.c

[2019-12-11 10:16] bshastry opened #7960 "[Testing] Adapt abiv2 proto converter for resizing storage arrays"
## Description

Merge of `develop_060` into `develop` breaks the abiv2 proto fuzzer for the following reason.

Earlier, dynamic storage arrays were resized using `.length`

[code]

 `develop_060` forbids it because `.length` is now a read-only member. Now, we need to use the `push` member function. Example

[code]

So implicitly, `sv_0` in the code snippet above gets resized to a boolean array of

[2019-12-11 11:09] gumb0 commented on #7949
I guess for that someone would need to create a transpiler from LLL to assembly, is that possible?

[2019-12-11 11:35] christianparpart commented on #7932
@axic but in JSON it should stay as `ewasm` I suppose, shouldn't it?

[2019-12-11 11:37] axic commented on #7932
Oh I've started doing this already, sorry haven't assigned myself.

[2019-12-11 11:38] christianparpart commented on #7932
never mind. looking for something else then (`git reset --hard HEAD`-ing)

[2019-12-11 11:50] axic commented on #7932
What I did/plan to do (but not before the 0.6.0 release to avoid conflicts):
- rename `EWasmToText` to `TextTransform` (as it has nothing ewasm specific and it is in line with BinaryTransform)
- rename `EWasmAST` to `WasmAST` (likewise, not ewasm specific)
- rename `eWasm`/`EWasm` to `Ewasm` in classes/file names
- ensure all CLI and StandardJSON fields are called `ewasm`

[2019-12-11 12:13] axic commented on #7287
@erak I think this is done?

[2019-12-11 12:15] axic commented on #7124
This was closed by #7464 which enabled it on CI.

[2019-12-11 12:57] axic commented on #7932
There doesn't seem to be any CLI option which uses a non-standard capitalisation of ewasm (it was just a typo in the changelog, fixed by #7954). Standard JSON was always using lowercase.

The renaming is not important for 0.6.0, so moving this.

[2019-12-11 13:04] axic commented on #7460
@erak isn't this now fully fixed?

[2019-12-11 13:04] axic commented on #7460
@erak @ekpyron are you upstreaming these fixes?

The natspec updates at least don't require 0.6.0 as a compiler so that would make sense to upstream. And probably the inheritance problem in the test case in zeppelin is not strictly 0.6.0 specific.

[2019-12-11 13:05] christianparpart commented on #7944
We're using an external tool [solhint](https://github.com/protofire/solhint), so new features break our CI.
For reference I'm linking the tracking issue from the other side: https://github.com/protofire/solhint/issues/170.

[2019-12-11 13:15] erak commented on #7460
@axic Yeah, I was planning to create PRs in every repo that we forked.

[2019-12-11 13:15] #7460 closed, assigned to erak

[2019-12-11 13:19] leonardoalt commented on #7287
Yes.

[2019-12-11 13:19] #7287 closed, assigned to erak

[2019-12-11 13:36] axic opened #7965 "Remove `pc` from Yul"
Since Yul offers no option for direct jumps, there doesn't seem to be a good reason to expose the `PC` opcode.

Decision in call: Warning in 0.6.x, erorr starting from 0.7.x.

[2019-12-11 13:42] axic opened #7966 "Rename opcodes (in asm and Yul) according to EIP-1803"
See discussion here https://ethereum-magicians.org/t/eip-1803-rename-opcodes-for-clarity/3345 (and the EIP text here: https://eips.ethereum.org/EIPS/eip-1803)

It would make sense to apply these changes in both Yul and the internal assembler.

[2019-12-11 13:44] axic commented on #7966
I think we're too late to do this in 0.6.0. The next best option is to add aliases in 0.6.1 and remove the old ones in 0.7.0.

[2019-12-11 14:09] christianparpart commented on #7966
I just wanted to implicitly ask that this is not a breaking change, is it? (changing instructions would cause inline assembly to fail on those changed instructions). @axic

[2019-12-11 14:15] axic commented on #7966
It is breaking if we just rename them.

[2019-12-11 14:26] chriseth commented on #7924
The ppa build will be fixed with 0.6.0

[2019-12-11 14:26] #7924 closed, assigned to nobody

[2019-12-11 14:27] chriseth opened #7967 "PPA build is broken"
[code]

[2019-12-11 14:46] chriseth commented on #5167
Preliminary vote: make ascii strings the default and require a prefix for unicode strings

[2019-12-11 14:49] chriseth opened #7969 "Test 0.6.0 prerelease on remix"

[2019-12-11 14:55] #7967 closed, assigned to nobody

[2019-12-11 15:04] chriseth opened #7970 "re-check documentation"
- [x] ├── 050-breaking-changes.rst
 - [x] ├── 060-breaking-changes.rst https://github.com/ethereum/solidity/pull/8001
 - [x] ├── abi-spec.rst https://github.com/ethereum/solidity/pull/8002
 - [x] ├── assembly.rst https://github.com/ethereum/solidity/pull/8022
 - [x] ├── bugs.rst
 - [x] ├── common-patterns.rst https://github.com/ethereum/solidity/pull/8011
 - [x] ├── contracts
 - [x] │   ├── abstra

[2019-12-11 15:18] winsvega commented on #7949
That is equal to maintenance of lllc.
Alexs point is to review the test cases manually. And verify post conditions

[2019-12-11 15:22] axic commented on #7949
I think for the past 3 years it was mentioned a number of times that LLL is unmaintained, yet nobody picked that up to use other languages in the test suite. Nothing will really change with removing LLL from Solidity. LLL will remain just as unmaintained, as it was the past 3 years.

I'm afraid there are many test cases which don't actually test what they supposed to, because they were created wit

[2019-12-11 15:37] winsvega commented on #7949
Although I didn't check every test presciesly, I still check that post condiftion is verifying the reasonable logic in the tests.  tests has been regenerated before the HF and the post condition checks that the behaviour doesn't change.  the LLL in tests is not that complex. most cases it looks like
[code]

recent sophisticated lll tests has a good post condition check.
I think the amount of tests

[2019-12-11 15:46] #7855 closed, assigned to christianparpart

[2019-12-11 15:59] chriseth commented on #7969
Callbacks do not really work yet.

[2019-12-11 16:17] #5424 closed, assigned to Marenz

[2019-12-11 16:17] Marenz commented on #7929
So, the problem seems to be that we simply didn't implement the code for this. I am not very familiar with the calldata/memory layout at this point so I leave it to someone who knows this better.

A starting point for whoever picks this up is https://github.com/ethereum/solidity/blob/develop/libsolidity/codegen/CompilerUtils.cpp#L940-L898
which is missing the appropriate code.

[2019-12-11 16:30] Marenz commented on #7758
You are completely right with your assumptions. The `foreign` part is simply missing here.
Lucky for you we [already fixed that](https://github.com/ethereum/solidity/pull/7925) in the upcoming release `0.6.0` (any day now).

The new output looks like this:

[code]

Feel free to reopen this if you still think the output is not correct.

[2019-12-11 16:30] #7758 closed, assigned to nobody

[2019-12-11 16:35] #7908 closed, assigned to bshastry, chriseth

[2019-12-11 17:29] axic commented on #7969
Are they using the new solc-js (or just a 0.5 release)?!

[2019-12-12 02:41] degrigis opened #7978 "Linking errors while trying to build solc v0.4.19+commit.c4cbbb05 with clang-6"
## Description

We are getting linking error while trying to build `solc` (`v0.4.19+commit.c4cbbb05`) with clang-6:
[code]

But when we try to build with `gcc` it builds fine.

Any help is greatly appreciated.

## Environment

- Compiler version: clang-6
- Boost version: 1.65.1
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / b

[2019-12-12 09:24] chriseth opened #7979 "Update version pragmas in documentation"

[2019-12-12 11:37] #5869 closed, assigned to nobody

[2019-12-12 13:56] axic commented on #3419
Didn't we agree on the lat meeting that we should allow interfaces to inherit to signal dependency, but they cannot override any specifications?

[2019-12-12 14:27] chriseth commented on #7978
This looks like mismatched versions of boost or the standard library. Does this also happen with other versions of Solidity?

[2019-12-12 14:32] chriseth commented on #3419
@axic sounds good!

[2019-12-12 14:58] bshastry opened #7990 "[Documentation] Clarify text on lifetime of payment channel"
## Abstract

Currently it reads like so
[code]

The sentence ```For a short-lived transaction,
such as paying an internet café for each minute of network access, or for a longer relationship, such as paying an employee an hourly wage, a payment
￼could last for months or years.``` feels incomplete somehow and could be reworded.

[2019-12-12 15:08] axic opened #7993 "Rename solium to ethlint"
They seem to have changed the name: https://github.com/duaraghav8/solium

[2019-12-12 15:57] chriseth opened #7999 "Include z3 in solc docker image"

[2019-12-12 16:01] axic opened #8000 "Rename project to s0l33tidy"

[2019-12-12 16:03] leonardoalt commented on #7999
When I talked to @gnidan at Devcon he mentioned this would probably be more useful than the solc-js callback

[2019-12-12 16:06] chriseth commented on #8000
Bastard!

[2019-12-12 16:11] #8000 closed, assigned to chriseth

[2019-12-12 17:51] #7990 closed, assigned to bshastry

[2019-12-12 18:04] axic commented on #7999
Is our preference clearly for z3 or cvc4?

[2019-12-12 18:39] leonardoalt commented on #7999
z3 because it has a Horn solver as well which we use for the CHC engine

[2019-12-12 22:07] axic commented on #2626
This is now obsolete since we use EVMC + evmone.

[2019-12-12 22:07] #2626 closed, assigned to nobody

[2019-12-12 22:10] axic commented on #3584
@chriseth do we really need this? There doesn't seem to be too many tests using it.

[2019-12-12 22:14] axic commented on #4027
@ekpyron is Emscripten compiling to a 32-bit target or 64-bit? Couldn't find an answer in the docs. For the wasm output 64-bit makes sense, but for the asm.js output 32-bit makes more sense (given Javascript numbers are 53 bits).

[2019-12-12 22:16] #4548 closed, assigned to nobody

[2019-12-12 22:17] axic commented on #4730
@ekpyron is this still relevant?

[2019-12-12 22:17] axic commented on #5432
The website was replaced with a new one. Closing as it doesn't contain too many examples and is not centered around those.

[2019-12-12 22:17] #5432 closed, assigned to nobody

[2019-12-12 22:19] axic commented on #5956
Moved #3127 here.

[2019-12-12 22:19] axic commented on #3127
Moved to #5956.

[2019-12-12 22:19] #3127 closed, assigned to nobody

[2019-12-12 22:37] axic commented on #7090
This doesn't seem to be a real issue. Maybe in the long term truffle could retrieve solc from IPFS.

[2019-12-12 22:37] #7090 closed, assigned to nobody

[2019-12-12 22:38] axic commented on #6977
@wbt @gnidan what is the status on this? I admit haven't read every single message here.

[2019-12-12 22:40] #6917 closed, assigned to nobody

[2019-12-12 22:41] axic commented on #6915
@elopio could this be specific to snap?

[2019-12-12 22:42] axic commented on #6907
@chfast would it be easy to add a check in CMake failing if it is run on a big endian system?

[2019-12-12 22:45] axic commented on #6607
@SnBetter I assume you managed to compile it. Let us know if not.

[2019-12-12 22:45] #6607 closed, assigned to nobody

[2019-12-12 23:07] axic commented on #6905
Bunch of suggestions:
- `-Wpedantic`
- `-Wshadow`
- `-Wconversion -Wsign-conversion`
- `-WWno-unknown-pragmas`
- `-Wimplicit-fallthrough`

[2019-12-12 23:21] axic commented on #6956
Actually now with having different callback kinds, this could be moved to the callback layer.

[2019-12-12 23:23] axic commented on #7856
A lot of discussion took place in #1447.

[2019-12-12 23:32] chfast commented on #6907
https://cmake.org/cmake/help/latest/module/TestBigEndian.html

[2019-12-12 23:38] axic commented on #6907
Is this a special module or part of the main cmake? It is not clear from the docs.

[2019-12-13 00:00] axic commented on #5823
Here's one more workaround for <1.55: https://github.com/ethereum/solidity/blob/develop/libsolidity/ast/Types.cpp#L55

And a boost test workaround for <1.59: https://github.com/ethereum/solidity/blob/develop/test/boostTest.cpp#L52

And three more workaround in the `RuleList`:

1) Fixed in 1.64 (we require >=1.65):
https://github.com/ethereum/solidity/blob/develop/libevmasm/RuleList.h#L50-L55

2) I

[2019-12-13 00:15] chfast commented on #6907
It's a CMake module (so you have to include it), but it's available in every CMake installation.

[2019-12-13 00:21] axic commented on #5823
And a boost test workaround for <1.59: https://github.com/ethereum/solidity/blob/develop/test/boostTest.cpp#L52

[2019-12-13 00:25] axic commented on #5823
And three more workaround in the `RuleList`:

1) Fixed in 1.64 (we require >=1.65):
https://github.com/ethereum/solidity/blob/develop/libevmasm/RuleList.h#L50-L55

2) I'm not sure what version these appeared in or what bug they have produced
https://github.com/ethereum/solidity/blob/develop/libevmasm/RuleList.h#L40-L48

[2019-12-13 00:45] come-maiz commented on #6915
It is, yes. Snaps can't access `/tmp`.

[2019-12-13 00:48] axic commented on #6907
Damn, it was already added in #6912.

Closing this issue, given cmake will throw a message ("Solidity currently does not support big endian systems."). If in the very unlikely scenario, someone wants to compile on a BE system, they will contact us.

[2019-12-13 00:48] #6907 closed, assigned to nobody

[2019-12-13 07:18] ekpyron commented on #6907
Well, several people *did* contact us independently - that's we we had this issue ;-)...

[2019-12-13 09:35] #7915 closed, assigned to ChrisChinchilla, erak

[2019-12-13 10:40] axic commented on #4612
Since we moved on to require 1.65 as a minimum, I think we can close this issue. It is obviously a perpetual thing, we can also move on to require newer ones, but 1.65 (and requiring C++17) allowed to remove all our workarounds, see also #5823.

[2019-12-13 10:40] #4612 closed, assigned to nobody

[2019-12-13 10:43] axic commented on #7814
Merged this into #7259.

[2019-12-13 10:44] #7814 closed, assigned to nobody

[2019-12-13 10:49] axic commented on #3249
This is tracked in #5161.

[2019-12-13 10:49] #3249 closed, assigned to nobody

[2019-12-13 10:50] chfast commented on #7259
I started using `CLI11` in EVMC, and I'm not happy. The API is pretty bad and over-complicated and documentation is out-of-sync (I usually browse the code to figure out how to do stuff).

I'm also consider trying https://github.com/Taywee/args now.

[2019-12-13 11:22] #2633 closed, assigned to nobody

[2019-12-13 11:23] axic commented on #2680
Closing since [EIP-210](https://eips.ethereum.org/EIPS/eip-210) was dropped in Byzantium and hasn't been picked up since.

[2019-12-13 11:23] #2680 closed, assigned to nobody

[2019-12-13 11:27] axic commented on #2856
A configuration was added in #7240, now we need to reformat everything and run it on CI :wink:

[2019-12-13 11:29] axic commented on #3028
Could reconsider this now with having `try/catch` in place.

[2019-12-13 11:32] axic commented on #3035
A lot of this has been added.

[2019-12-13 11:32] #3035 closed, assigned to nobody

[2019-12-13 11:33] axic commented on #3042
@ekpyron @chriseth wasn't this added?

[2019-12-13 11:34] axic commented on #3043
Since ICAP never really picked up (and it wasn't capable of representing every address), I think it is safe to close this.

[2019-12-13 11:34] #3043 closed, assigned to nobody

[2019-12-13 11:35] axic commented on #3168
Now that we have macos CI in place we could very well do this.

[2019-12-13 11:36] leonardoalt commented on #7695
Those docs are up-to-date since https://github.com/ethereum/solidity/pull/7957 was merged

[2019-12-13 11:36] #7695 closed, assigned to nobody

[2019-12-13 11:44] axic commented on #4020
The twitter oracle preferred `block.timestamp`. I'd like to bring this up again and do it on 0.7.0.

[2019-12-13 11:44] axic commented on #4029
@chriseth wasn't this done?

[2019-12-13 11:45] axic commented on #2229
Tracked in #3774.

[2019-12-13 11:45] #2229 closed, assigned to nobody

[2019-12-13 11:49] axic commented on #5452
Casks are tracked in #3774. Also #3168 would solve this problem (outside of homebrew).

[2019-12-13 11:50] #5452 closed, assigned to nobody

[2019-12-13 11:53] axic commented on #6275
Perhaps we want to document https://github.com/ethereum/solidity/issues/6275#issuecomment-472921056

[2019-12-13 11:54] axic commented on #6915
I think this should be documented.

[2019-12-13 11:59] axic commented on #4910
`.exists()` can be clearly implemented post Constantinople, because [EIP-1052](https://eips.ethereum.org/EIPS/eip-1052) for `EXTCODEHASH` clearly defines it:

From [EIP-161](https://eips.ethereum.org/EIPS/eip-161):

Similarly `.iscontract()` is clearly defined with EIP-1052:

[2019-12-13 12:44] erak opened #8007 "Document changes outside language"
Came out of https://github.com/ethereum/solidity/pull/8001. Please see comment here: https://github.com/ethereum/solidity/pull/8001#issuecomment-565096251.

We should probably also list changes outside of the language:
- yul optimizer activated together with the legacy optimizer
- abiv2 not considered experimental
- C API changes
- storage layout export
- metadata hash options
- new error reporter

[2019-12-13 14:02] ekpyron commented on #4027
Afaik browser wasm doesn't supports 64-bit anywhere atm - and I think both the wasm and asm.js builds are 32-bits - one of the windows builds might actually be as well.

[2019-12-13 14:08] axic commented on #4027
Please note that wasm32 vs. wasm64 means 32-bit or 64-bit memory addressing. The instruction set is 64-bit in both cases.

[2019-12-13 14:28] alcuadrado commented on #2100
I've seen many people hitting the EIP-170 contract size limit lately. Some examples of projects that come to my mind are Aragon Court, Synthetix, and Moloch v2.

I don't know if this is due to a change in Solidity, or because contracts are just getting larger, but this feature would be very helpful. Many users just see an OOG error and don't understand what's going on, so a warning when compiling

[2019-12-13 14:45] wbt commented on #6977
I still have examples of compiled contracts where the parameters are randomly changed, but don't have reliable reproduction steps.  It is also somewhat hard to detect without checking every parameter's function list completely after every compilation, against the expected set.

[2019-12-13 15:16] bobsummerwill commented on #7949
@zigguratt As-and-when you do get going on a new Lisp-like language, I would suggest that you join us in Hyperledger Labs where we have nascent efforts around new LLVM-based tooling.

There is an existing project started by Monax which @seanyoung at the helm, which is a Solidity FE and WASM backend - written using LLVM in Rust:

https://github.com/hyperledger-labs/solang

And there is the work by

[2019-12-13 15:16] axic commented on #2100
@alcuadrado please check #8008 and the warning it produces. I think that should be good enough.

[2019-12-13 15:25] leonardoalt commented on #7949
@bobsummerwill so you're saying you're willing to fix/maintain LLL?

[2019-12-13 15:39] axic commented on #411
I think this can be done in a manner similar to #8008.

[2019-12-13 15:59] zigguratt commented on #7949
Thanks for that information, @bobsummerwill! I'll definitely take a look.

[2019-12-13 16:19] bobsummerwill commented on #7949
@leonardoalt No, I am not saying that.
I do not have the resources to support LLL directly.   I am just offering an alternative future home for Daniel or others, where we can build a plurality of smart contract languages leveraging the maturity of LLVM.

SOLL or Solang ends up as “The Clang”.
And you could have a raft of other front ends, maybe starting with LLL and Vyper (if this made sense for V

[2019-12-13 16:20] alcuadrado commented on #2100
Wow, that was fast! Thanks @axic

[2019-12-13 16:47] come-maiz commented on #6915
Actually, it should be fixed in snaps. When you try to access a path that's outside of your confined box, it should explain what's up and ideally offer a command for an administrator to give access to that path.
Luckily, I no longer work there, because doing this has been hard.

I'll add a note in the install instructions pointing to https://snapcraft.io/blog/demystifying-snap-confinement

[2019-12-14 12:24] #6915 closed, assigned to nobody

[2019-12-15 05:57] fulldecent commented on #3419
@axic Yes. Sorry for the omission. I have corrected the test cases in the top comment.

[2019-12-15 13:46] axic opened #8016 "Support Hera (next to evmone) in tests for Ewasm"
See the releases in https://github.com/ewasm/hera

Hera is EVMC compatible (albeit the current release is EVMC 6 while this repo uses 7, but it would be easy to update.)

[2019-12-16 09:21] bshastry opened #8018 "[Solidity] How to initialize multi-dimensional dynamic storage arrays"
## Description

A 2D dynamic storage array such as `bool[][] sv_0` used to be initialized by writing to the length member of the array and initializing the slots.

[code]

Now that writing to the `.length` field is prohibited (see https://github.com/ethereum/solidity/pull/7350), how does one do it now using `push`?

[2019-12-16 09:35] bshastry commented on #8018
I suppose one way to do it would be like so

[code]

Are there other alternatives that one could consider?

[2019-12-16 09:43] christianparpart commented on #8007
NB:

* [x] C API changes were already included in https://github.com/ethereum/solidity/pull/7898.
* [x] new error reporter: https://github.com/ethereum/solidity/pull/7368/files#diff-9b8fab691c00b9e5380b19ce882f3271R6

[2019-12-16 09:53] erak commented on #8007
@christianparpart This is about documenting the changes. As far as I can see, #7898 did not add a section to `060-breacking-changes.rst`.

[2019-12-16 10:00] christianparpart commented on #8007
Ah, I assumed we talked about Changelog. thx for the tip.

[2019-12-16 10:24] chriseth commented on #8018
There is also the new push member without parameters:

``for (uint i = 0; i < length; i ++) sv_1.push();```

It pushes a zero-initialized element and is more or less identical to `length++`.

[2019-12-16 10:26] chriseth commented on #4029
not the `using for` part.

[2019-12-16 10:34] chriseth commented on #3584
I still think this would be beneficial.

[2019-12-16 10:35] chriseth commented on #7856
This could be non-breaking.

[2019-12-16 10:37] chriseth commented on #2856
I really like the closing-bracket-on-same-indentation feature.

[2019-12-16 10:38] chriseth commented on #3028
For that, we need to extend try/catch to certain non-external functions and I don't know if this would be a good idea.

[2019-12-16 10:38] chriseth commented on #3042
I don't think so.

[2019-12-16 10:45] #7296 closed, assigned to erak

[2019-12-16 10:48] chriseth commented on #2100
The reason why we did not implement this in the beginning is because the complier should not issue any warnings after the analysis phase. I'm ok with dropping this requirement, if this is what people want, though.

[2019-12-16 11:14] chriseth commented on #8007
I think the following are breaking enough to list them:

- yul optimizer activated together with the legacy optimizer
- C API changes
- metadata hash options
- new error reporter

[2019-12-16 11:17] ChrisChinchilla commented on #7970
When this is done, I'll do a wider review for more flow and consistency, but that doesn't need to stop the release :)

[2019-12-16 11:19] ChrisChinchilla commented on #7979
I'll do this

[2019-12-16 11:20] ChrisChinchilla commented on #7979
`pragma solidity >=0.6.0 <0.7.0;` I guess? Or bump both? `pragma solidity >=0.6.0 <0.8.0;`

[2019-12-16 11:23] chriseth commented on #2136
Decsion: We use `salt=` as a determinator to use create / create2.

[2019-12-16 11:24] chriseth commented on #2136
Decision: We use `{salt=...}` and also go with `{value=...,gas=...}` for all external function calls.

[2019-12-16 11:25] chriseth commented on #4020
Fine with removing `now`.

[2019-12-16 11:37] LianaHus commented on #7969
we use "solc": "^0.5.13"

[2019-12-16 11:37] chriseth commented on #7856
Discussion: it should be a member of `type(I)`.

Brainstorming about names:

 - `ercID(165)`
 - `interface`
 - `interfaceid`
 - `interfaceID`
 - `mask`

[2019-12-16 11:42] chriseth commented on #7999
Careful: The docker image is also used to build the static binary - we have to see if that is still possible and how large it gets.

[2019-12-16 11:45] axic commented on #2136
But is it `new{} C` or `new C{}` ?

[2019-12-16 11:46] leonardoalt commented on #7999
Since it's a docker image anyway I would guess the size increase won't be meaningful.

[2019-12-16 11:46] axic commented on #7969
Testing 0.6.0 will not work without using `master` of solc-js.

[2019-12-16 13:02] chriseth commented on #7999
The binary is exported to the release page as `solc-static-linux` to be used without docker.

[2019-12-16 13:04] chriseth commented on #2136
`new C{}()`

[2019-12-16 13:05] chriseth commented on #7979
Ah, wanted to discuss hat during the meeting. It should be `>=0.5.0 <0.7.0` if it already works with 0.5.0 (most should), otherwise `^0.6.0`.

[2019-12-16 13:07] #7315 closed, assigned to nobody

[2019-12-16 13:47] christianparpart commented on #7856
So, also as a sum-up for myself:

* a function selector is constructed by calling keccak256 on the stringified function signature, and then resizing the resulting hash string by the first 4 bytes.
* in the ticket #7922 the usecase is to xor' all "ERC721" function selector bytes so the result CAN be used to check for interface requirements tests.

After some discussion IRL, I'd like to propose the

[2019-12-16 13:53] axic commented on #7856
@christianparpart see my proposal in https://github.com/ethereum/solidity/issues/1447#issuecomment-287393362, it just needs the ability to pass around interface types.

[2019-12-16 14:09] axic opened #8019 "Create a yul linter"
It would be nice to have some well defined rules and a linter for it. I think the "Yul printer" practically achieves that.

[2019-12-16 14:48] chriseth opened #8020 "Error reporter: Do not print source if source location spans whole file"
The "missing pragma" error should not print anything from the source file, because it is irrelevant.

Component is SourceReferenceFormatter.

[2019-12-16 15:27] chriseth opened #8021 "[DOC] Rewrite documentation about assembly, yul and standalone assembly and combine them"

[2019-12-16 15:55] chriseth opened #8025 "0.6.0 Release"
## Checklist for making a release:

### Pre-release
 - [x] Ensure that a Github project exists for the release.
 - [x] Check that all issues and pull requests from the Github project to be released are merged to ``develop``.

### Changelog
 - [x] Sort the changelog entries alphabetically and correct any errors you notice.
 - [x] Create a commit on a new branch that updates the ``Changelog`` to inc

[2019-12-16 16:00] ChrisChinchilla commented on #7979
@chriseth Going through this now, but just as a warning, it might break tests, as `^0.6.0` results in errors for nightly and developer builds of 0.6.0, which are less than 0.6.0, and I think an actual build of it doesn't exist yet as it's not be released… As far as I understand…

[2019-12-16 16:40] ChrisChinchilla commented on #7979
Done, in the PR above, not sure this is complete. Reading through breaking changes doc and the docs, I can see more places that need updating, but that can probably wait and needn't block release.

[2019-12-16 18:08] damianoazzolini commented on #8021
Is there any tutorial and in more depth explaination/example of YUL, other than the one in the official documentation?

[2019-12-16 19:30] chriseth commented on #8021
The documentation is basically split into inline assembly, assembly and yul, even though all three are mostly the same nowadays. That's why I think it is time to rewrite it.

[2019-12-16 22:50] chriseth commented on #7979
It's good that we have the two "_release" test runs and see that they are green.

[2019-12-16 23:46] chriseth opened #8031 "Run Yul optimizer on inline assembly (if it does not have external references)"
Currently, the yul optimizer is only run on `CompilerStack::appendInlineAssembly`, i.e. for codegen-internal routines. We should also run it on user-supplied inline assembly, at least if it does not have any external references (as the optimizer cannot cope with it).

[2019-12-17 11:33] bshastry opened #8032 "[yul] optimizer's load resolver does not take side effects of user-defined function containing for loop(s) into account"
## Description

[code]

is optimized to

[code]

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2019-12-17 11:34] chriseth commented on #8032
@bshastry is the `codecopy` essential here?

[2019-12-17 11:38] bshastry commented on #8032
I think so because I've not been able to alter contents of memory in other ways that the load resolver does not see so far. May be I'm missing some trick to do it without codecopy.

[2019-12-17 11:42] bshastry commented on #8032
I'm wrong. codecopy is not essential.

[code]

[2019-12-17 12:09] bshastry commented on #8032
This bug affects 0.5.14 as well.

[2019-12-17 13:31] axic opened #8036 "Update pygments-lexer-solidity with 0.5.0 and 0.6.0 syntax"
See https://pypi.org/project/pygments-lexer-solidity/

It is used in the documentation for syntax highlighting. However they only support keywords/syntax up to 0.4.22.

[2019-12-17 14:13] chriseth commented on #7970
Closing since we have pull requests for everything.

[2019-12-17 14:13] #7970 closed, assigned to nobody

[2019-12-17 15:57] #7979 closed, assigned to nobody

[2019-12-17 16:14] #8007 closed, assigned to erak

[2019-12-17 16:55] chriseth commented on #7969
@LianaHus can you upgrade to master, please?

[2019-12-17 19:39] chriseth commented on #8032
Fixed in #8034

[2019-12-17 19:39] #8032 closed, assigned to nobody

[2019-12-17 20:02] dddejan commented on #2137
This issue still persists in the latest 0.5

[code]

Gives

[code]

[2019-12-17 20:13] axic commented on #2137
I think your issue is different, @dddejan can you open a new issue please?

[2019-12-17 20:20] dddejan opened #8043 "Natspec errors do not report the location of the error"
For contract such as

[code]

The error report is limited to

[code]

This is related to #2137 but seems to be different.

The issue makes it difficult to debug compile errors (e.g., they don't show up in an IDE).

[2019-12-17 22:36] wjmelements commented on #3419
I'm glad to see this will finally make it into solidity.

[2019-12-18 08:09] k06a commented on #3419
Hope to see this “interface extending” feature soon, to avoid using “abstract contracts” for this purpose

[2019-12-18 09:38] C4Q6EB opened #8050 "If-else does not work when condition involves msg.sender"
## Description

Contents of `if`/`else` appear disregarded when testing the equality of `msg.sender` and an address.

## Environment

- Compiler version: `0.5.14+commit.01f1aaa4.Darwin.appleclang`
- Target EVM version (as per compiler settings): Istanbul, by default
- Framework/IDE (e.g. Truffle or Remix): None
- EVM execution environment / backend / blockchain client: Geth (Clique)
- Operating sy

[2019-12-18 09:56] bshastry commented on #8050
@C4Q6EB Thanks for your report.

Notes: I could not reproduce this via Remix and solc 0.5.14+

[code]

The contract above emits a log entry `false` because in the remix environment `msg.sender` is different than the encoded expectation.

Here's the transaction log produced via Remix

[code]

[2019-12-18 10:26] Marenz commented on #8043
What version did you try this on?

[2019-12-18 10:28] Marenz commented on #8043
Ah, you mentioned it the other issue: latest 0.5. It seems to work in 0.6.0 though.

[2019-12-18 10:31] Marenz commented on #8043
Nevermind, also fails on 0.6.0

[2019-12-18 10:44] Marenz commented on #8043
This will be fixed by https://github.com/ethereum/solidity/pull/7834 so I leave this up to @erak

[2019-12-18 13:50] #7956 closed, assigned to nobody

[2019-12-18 15:02] nfurfaro commented on #3419
Agreed. Happy to see this moving forward!

On Wed., Dec. 18, 2019, 1:09 a.m. Anton Bukov, <notifications@github.com>
wrote:

[2019-12-18 17:04] chriseth opened #8056 "add try/catch to 0.6.0 changelog"

[2019-12-18 17:10] chriseth opened #8057 "Write articles about 0.6.0 features"
- [ ] virtual and override, public vars can override external functions, abstract contracts, no state variable shadowing
- [x] fallback / receive split
- [x] try/catch
- [ ] array slices
- [ ] push(element) / push() / disallow write access to .length
- [ ] type(a**x) = type(a), payable(x) conversion for address, f.address instead of address(f)
- [ ] global enums and structs
- [ ] `_` delimiter for

[2019-12-18 20:06] chriseth opened #8058 "[YulOpt] Turn repetitive code into loops."
Code for e.g. a very long string constant consisting of the same letter should be turned into a loop. In general, we might be able to detect a linear relation between variables and turn that into a loop. Linear relations, in turn, should be useful to replace multiplications inside a loop by additions to a loop variable.

[2019-12-18 20:21] degrigis commented on #7978
Sorry for the late answer, I will try ASAP and get back to you here.
Thanks!

[2019-12-19 00:11] axic opened #8061 "Remove old parser error for using "constant" state mutability"
See https://github.com/ethereum/solidity/blob/develop/libsolidity/parsing/Parser.cpp#L450

[2019-12-19 00:48] C4Q6EB commented on #8050
Thank you, @bshastry and @Marenz, for your response.

@bshastry, would the results be any different if the contract is deployed on a proof-of-authority network?

This issue surfaced on a private network running the Clique consensus algorithm but has also been reproduced on the developer chain launched with `geth --dev --rpc`.

[2019-12-19 11:50] #7932 closed, assigned to axic

[2019-12-19 12:15] Marenz commented on #7656
I tried doing this and got lots of errors. I think the problem is that the `yul::` namespace is suddenly also inside the `ReferencesResolver` when you derive from the `yul::ASTWalker`.
Here is the branch with the experimental changes: https://github.com/ethereum/solidity/tree/yulvisit-7656-attempt1

A nicer solution might be to have an extra class to do the visits.. will try that way now.

[2019-12-19 12:54] bshastry commented on #7947
Brain storming potentially interesting mutations here per optimization stage (CC @chriseth ). May be this is too biased towards bugs that have already been found.

Load resolver:
  - Add an sload(0)/sstore(0, X)
  - Add an mload(0)/mstore(0, X)
  - Add an mstore before for loop and an mload after to the same locations

Loop invariant code motion
  - Add an infinite for loop

To be extended...

[2019-12-19 13:09] rschumi0 opened #8064 "More specific error message for division by zero"
It would be nice if there could be a more meaningful error message when a division by zero is happening. Right now the message is only: VM error: invalid opcode.

This can make debugging more troublesome, especially since unexpected zeros can occur easily, e.g., when an overflow happens.

[2019-12-19 13:34] chriseth commented on #8064
This kind of conflicts with the assert / require dualism. I would say it is a duplicate of https://github.com/ethereum/solidity/issues/1686

[2019-12-19 14:24] zemse opened #8065 "ABI in solidity 0.6.0 does not have constant property which is causing UI libraries to think it's a non-constant method."
## Description
A View Method:
[code]

ABI of a view method in Solidity 0.6.0
[code]
While same function code in Solidity 0.5.15 generates the following ABI.
[code]

This difference in ABI is causing a transaction to send instead of a function call.
[code]

## Environment

- Compiler version: 0.6.0
- Target EVM version (as per compiler settings): byzantium
- Framework/IDE (e.g. Truffle or Remix): [

[2019-12-19 14:31] axic commented on #8065
The `stateMutability` field was introduced with 0.4.16 (**2017-08-14**), which deprecated both the `constant` and `payable` fields. `stateMutability: 'view'` (what you have above) has the same effect as "constant" had previously.

This was announced multiple times. Apparently more than 2 years was not enough for tools to catch up :wink:

[2019-12-19 14:33] zemse commented on #8065
Okay, I get it. So I shall share this issue with the ethers.js team.

[2019-12-19 14:34] axic commented on #8065
Please do, that would be much appreciated.

[2019-12-19 15:06] #8025 closed, assigned to nobody

[2019-12-19 15:07] chriseth commented on #7969
We were not able to fully test the callbacks in time. Let's see...

[2019-12-19 15:07] #7969 closed, assigned to nobody

[2019-12-19 15:56] axic commented on #3226
@chriseth do we still need this meta issues? We have more granular issues now I think.

[2019-12-19 16:25] chriseth commented on #7070
I think a good step here is to modify the AST right after parsing (or during?) by replacing all empty types by the default type. Likewise, during printing, all default types are replaced by the empty type.

[2019-12-20 07:26] chriseth commented on #6216
Solved by https://github.com/ethereum/solidity/pull/6490

[2019-12-20 07:26] #6216 closed, assigned to nobody

[2019-12-20 07:46] #3226 closed, assigned to nobody

[2019-12-20 13:53] #8056 closed, assigned to nobody

[2019-12-20 14:58] randomnetcat commented on #3419
Another ambiguous test case:

[code]

[2019-12-20 15:53] axic commented on #3419
@random-internet-cat good catch. I don't think we should use the current inheritance rules in this case. It should be an error if there are conflicting definitions in the interfaces.

[2019-12-21 06:20] zemse commented on #8065
It's fixed by the team, the next version of `ethers.js` will be released soon as `v4.0.41`

[2019-12-21 06:20] #8065 closed, assigned to nobody

[2019-12-22 13:10] lfrickel commented on #7777
Hi @leonardoalt and thanks for the reply.
The purpose of my question was to create a blind signature, independent of the human factor. I completely agree that Smart Contracts are not suitable for this purpose because of their transparency. Nevertheless, since the execution of Smart Contracts is essentially based on a random oracle model, I could imagine the option that the miner / the node (first)

[2019-12-23 11:13] bshastry commented on #8061
One more occurrence in the same file (perhaps for variable decls) here https://github.com/ethereum/solidity/blob/07a56625e4d07610adbbd493e10d2f419dbc5400/libsolidity/parsing/Parser.cpp#L723

[2019-12-23 11:13] christianparpart commented on #8061
We briefly discussed this in our meeting. We won't remove the `to discuss` label just yet, because maybe @axic want to share some notes.

Summary:
* Makes sense to remove, should also touch VariableDeclaration (wrt. isConstant).

[2019-12-23 13:14] bshastry opened #8072 "[yul] optimizer's redundant assignment eliminator incorrectly removes non-redundant assignments in for loops containing a break/continue statement inside a nested branch statement"
## Description

Found by LPM + libFuzzer + custom yul mutator (see #7947 )

[code]

is incorrectly optimized to

[code]

`mstore(0, 0)` should be `mstore(0, 1337)` instead.

In the example above, the `if` statement could be replaced by another branching statement e.g., `switch` statement with the same result.

In general, this problem manifests while the redundant assignment eliminator is visiting

[2019-12-23 13:30] bshastry commented on #8072
I'm wondering if the fix entails making `m_assignments` a vector of `TrackedAssignments` into which we push back assignments in a given scope. Subsequently, we `finalize` assignments only in the last scope.

[2019-12-24 13:55] codev911 opened #8076 "View function become input function after upgrade 0.5.1 to 0.6.0 ERC20"
this is my source code after update from 0.5.1 to 0.6.0, i just clear any error appear at 0.6.0 but after deploy i got only input function, and my view function like view token name, view decimals, view supply and many more :

[code]

[2019-12-25 00:35] axic commented on #8076
Can you please mention the tools you are using?

I believe this is a duplicate of #8065, which means it is not a problem in the compiler, but the tooling.

[2019-12-25 01:18] C4Q6EB commented on #8050
The problem was resolved by compiling and deploying the contract with Truffle instead of `solc` + Web3. Now it works on both Geth Clique and Parity Aura. Thank you for your time and attention.

[2019-12-25 01:18] #8050 closed, assigned to nobody

[2019-12-25 01:56] simsim314 opened #8077 "A letter to Vitalik"
Hello! Please pass this letter to anyone who knows what is crypto currency.

Hello Vitalik!

I'm Michael Simkin. I'm 1999 international math olympiad  [bronze medalist](https://www.imo-official.org/participant_r.aspx?id=5682)

And I've also solved several open problems in [Conway's game of life](https://www.conwaylife.com/wiki/Michael_Simkin).

I'm sure this means something to you...

I'm from Isr

[2019-12-25 06:20] codev911 commented on #8076
i just deploy at remix.ethereum.org

[2019-12-25 18:39] axic commented on #8076
@LianaHus is this fixed/deployed on Remix yet?

[2019-12-25 20:21] axic opened #8078 "[Sol - Yul] Implement support for libraries"

[2019-12-25 20:28] axic opened #8079 "[Sol - Yul] Support try/catch"

[2019-12-26 08:06] Aziiiz commented on #5397
except for high gas usage.  Is there another reason for not using pragma experimental ABIEncoderV2 for live development?

[2019-12-26 18:52] livnev opened #8080 "Document REVERT reason encoding in Contract ABI Specification"
## Description

As far as I can tell, the REVERT reason encoding is not canonically defined in any documentation, and is best pieced together from the [solidity PR that introduced it](https://github.com/ethereum/solidity/pull/3364) and [this comment on EIP 838](https://github.com/ethereum/EIPs/issues/838#issuecomment-458919375). Since it is now an important part of the Ethereum Contract ABI, I thi

[2019-12-28 01:44] nicholashc opened #8081 "Introduce error instead of warning for functions called "fallback" or "receive""
## Description

The fallback function syntax changes in Solidity 0.6.0 do not reserve `fallback` or `receive` as keywords. Standard functions named `fallback()` and `receive()` can be declared alongside, or instead of, the built-in fallback methods with the same names. Rather than reducing developer error and improving the readability of the code, this can lead to confusing syntax or, at worst, ma

[2019-12-28 15:47] lialan commented on #7949
So, this is a discussion about removing LLL from Solidity compiler, rather than deprecating the LLL IR standard.

AFAIK, LLL is still used in Vyper to generate EVM binaries. Even though Vyper has its own LLL codegen module, it is not sophisticated. `lllc` could be used in that case to generate better binary code. Would removing LLL from Solidity compiler result in us loosing that kind of opportuni

[2019-12-28 16:43] axic commented on #7949
There is no "LLL IR standard". I have tried to create that 3 years by documenting it [here](https://github.com/axic/lll-grammar). What is in the source tree of Solidity is the original LLL compiler. Serpent's (and later Vyper's) was not compatible with it, additionally Vyper's implementation doesn't even use the S-Expressions syntax, but uses brackets instead.

[2019-12-28 16:48] bshastry commented on #8072
Notes: Issue is reproducible via `break` statement as well. Example:

[code]

should store `1337` in memory location `0` but it is optimized to

[code]

which stores `0` in memory location `0`.

[2019-12-29 02:43] lialan commented on #7949
Thanks for the explanation.

[2019-12-29 11:36] chriseth commented on #8072
It is essential, that the variable `x` is declared inside the for loop, so this seems to be related with, as you say, finalizing a variable when exiting from the block while it is still "to be processed" by the continue statement.

[2019-12-29 18:08] BogdanVidrean commented on #8076
I also reproduced this problem after upgrading from 0.5.15 to 0.6.0. I used Remix IDE and now all my view functions initiate a transaction (they are not readonly anymore). I tested with a local node and also with the JavaScriptVM and it maintains the same behaviour. In order to reproduce create a new contract that contains a view function, and test it with the latest release of 0.15 and then switc

[2019-12-29 21:38] axic commented on #8076
Please note this is not a bug in the compiler. Those hints in the ABI JSON are nothing more, but hints. Tooling can decide how to interpret them.

The problem here is that tools seemingly didn't update since 2017, when the new fields were introduced.

[2019-12-29 21:39] axic commented on #8081
Thanks for highlighting this. I think we should disallow those functions.

[2019-12-29 21:55] axic opened #8084 "[Sol - Yul] Support external function calls"
[code]

[2019-12-29 21:57] axic opened #8085 "[Sol - Yul] Support (in-memory) structs properly"
[code]

[code]

[code]

[code]

[2019-12-29 21:59] axic opened #8086 "[Sol - Yul] Support struct conversion (storage to mapping)"
[code]

[2019-12-29 22:31] axic commented on #4295
I think this should be done with 0.7.0 so that the surface for the Sol-Yul generator is smaller.

[2019-12-29 22:38] axic commented on #2918
Since in #2136 we've agreed to use `{}` with named fields, we could revise https://github.com/ethereum/solidity/issues/2918#issuecomment-330171933 as:
- `number{digits=N}`
- `number<A,B,C>` to represent exact values
- `number<A..B>` to represent ranges
- and `number<A..B,C,D,E..F>` to represent a combination of values and ranges

However as a start, I'd only implement support for single ranges: `n

[2019-12-29 22:38] axic commented on #2918
cc @ekpyron

[2019-12-30 17:00] BogdanVidrean commented on #8076
Yeah, I was thinking at the exact same scenario. Most probably Remix uses those hints from the ABI JSON in order to determine whether a function is view, pure or it requires a transaction. Currently I also discovered this problem with Web3j's java class wrapper generation. They are also not up to date.

[2019-12-31 04:00] dddejan commented on #7314
Not 100% sure if it's related. Just in case, I'm adding another interesting ICE case with overrides, might be of interest (or is a separate bug).

[code]

Currently breaks with

[code]

Interestingly, replacing `A.f();` with `super.f()` will cause a compile error. Not sure if that is intended.

[2020-01-01 15:32] yuetloo commented on #7999
@chriseth, for your reference, a docker image with solc v0.5.15 and z3 on alpine has a compressed image size of 62.78 MB.

https://hub.docker.com/r/yuetloo/solc_z3

The downloaded image size is 167MB.
[code]

[2020-01-02 11:10] Marenz commented on #8077
I am not sure what this is about, but I am pretty sure it doesn't belong here. I also doubt Vitalik will read our issue list.

[2020-01-02 11:10] #8077 closed, assigned to nobody

[2020-01-02 12:15] #7993 closed, assigned to nobody

[2020-01-02 17:46] #8072 closed, assigned to bshastry

[2020-01-02 22:33] chriseth opened #8093 "Move away from Python2"
Python2 reached EOL, we should switch to python3 in all scripts.

[2020-01-02 22:46] chriseth opened #8094 "Fix homebrew release for 0.5.16 and 0.6.1"

[2020-01-03 09:02] elenadimitrova commented on #8080
The encoding is actually specified in the [`revert` control structures section of the docs](https://solidity.readthedocs.io/en/latest/control-structures.html#revert). Is this not sufficient or is it a matter of moving that description to the "ABI specification" page?

[2020-01-03 09:22] elenadimitrova commented on #3164
I wouldn't expect working with the network (testnet or mainnet) to be part of the Solidity documentation.  This is a process that entails a few different tools and frameworks and is best described in various introductory posts as noted by the people above. For example the client you use could be different, e.g. ganache-cli, parity, geth or go via Infura, you could also deploy via a UI like MEW or

[2020-01-03 12:46] livnev commented on #8080
I couldn't find that documentation before, thank you. I would suggest moving it to the ABI spec page because I think this is part of the Ethereum contract ABI now and afaict the ABI spec page is the "canonical" reference for that...

[2020-01-03 12:50] axic commented on #8080
I'd argue it is strictly not part of the ABI encoding. It is a specific application of the ABI encoding.

That being said one could link from the ABI encoding part of the documentation or place it as an appendix there.

[2020-01-03 14:38] litvinjuan commented on #232
This issue has been stale for quite some time, but I feel like the discussion should be kept relevant.
Answeing to what @MichalZalecki [said](https://github.com/ethereum/solidity/issues/232#issuecomment-405080369)
Although what he suggested works, it does not work for constructors. If I'd like to have optional parameters in the constructor, I'd have to duplicate my constructur, one with the parame

[2020-01-03 15:20] axic commented on #232
Changing the way the constructor works would be a breaking change beyond the compiler/language, but every web3 tool would need to be changed. The reason is the "function signature" is not transmitted for constructor parameters, so there's no way to tell them apart.

Under what circumstances is it important to have different constructors? Why not just create different contracts, inheriting from the

[2020-01-03 15:55] livnev commented on #8080
Fair enough, but it seems like the idea is for this to be a standard, and not just solidity-specific? Also, where does the ABI encoding spec mention putting function selectors in return data?

[2020-01-04 20:16] leonardoalt commented on #3419
@axic @random-internet-cat The current inheritance rules do issue an error for this case (with `abstract contract` instead of `interface`), and I think it should be an error there too:
`Error: Derived contract must override function "test". Two or more base classes define function with same name and parameter types.`

[2020-01-05 06:35] AnonymousMonkey2021 opened #8099 "Incorrect compiler version in the examples provided by https://solidity.readthedocs.io/"
## Description

## Environment

- Compiler version:
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduce

While every example mentions that they support ">=0.4.22 <0.7.0;".
But in fact, a lot of them don't. They only work with compiler versions >= 0.5.0

[2020-01-05 23:06] leonardoalt commented on #8099
Hi @JackHFeng ,
Not every example mentions that version range. In a quick grep I see
[code]
and many others.
Can you list which ones specifically are wrong?

[2020-01-06 00:25] AnonymousMonkey2021 commented on #8099
On this page, https://solidity.readthedocs.io/en/v0.6.1/solidity-by-example.html.
Contracts:
Token
BlindAuction
SimpleAuction
Purchase

0.4.22 didn't work due to the word "payable"
Thanks for the quick reply!!!

[2020-01-06 09:36] ekpyron commented on #4730
I'm pretty sure this is still relevant.

[2020-01-06 10:17] ekpyron commented on #8081
This is rather weird - ``fallback`` and ``receive`` are in fact keywords and I was pretty sure that we had errors for using them as function names - I'll look into it.

[2020-01-06 10:27] ekpyron commented on #8081
Ah ok, I should have read more carefully - we do indeed have a warning, so the question is whether to have an error instead. I'm adding the "to discuss" label again.

[2020-01-06 11:19] erak commented on #7897
Decision from the call: don't have `null` values.

[2020-01-06 12:08] ekpyron commented on #4285
I agree with disallowing ``switch`` with only a default case. In fact, I don't understand when and why that would ever have been useful, independently of the introduction of ``if``...

Maybe there is a separate second question, namely whether to allow switches with only a single non-default case? Those are the ones that can theoretically be replaced by ``if``s. But for those I'd say it's fine to k

[2020-01-06 12:10] ekpyron commented on #4285
The only "use case" for switch with only a default case would be during development with a big fat "// TODO: implement cases"...

[2020-01-06 12:23] ekpyron commented on #2918
Yeah, this came up again, since with yul-codegen we will use overflow-checked math by default - and for that it makes almost no difference, whether the checks are against powers of two or not (apart from the fact that the constants used might be more expensive to store).
So with yul codegen
[code]
Is basically the same as
[code]
Where for the latter any other range would be valid as well at insign

[2020-01-06 13:48] leonardoalt commented on #7777
@lfrickel wouldn't that require changes in the client/protocol or at least in the EVM?

[2020-01-06 14:01] axic commented on #4285
Maybe I would argue that we could make Yul more regular by not allowing multiple syntactical options for the same thing.

[2020-01-06 14:28] leonardoalt commented on #7779
@ekpyron @erak is anyone working on this?

[2020-01-06 14:30] ekpyron commented on #7779
I'm not...

[2020-01-06 15:33] ghost opened #8101 "Master"
## Description

## Environment

- Compiler version:
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduce

[2020-01-07 07:51] ekpyron opened #8102 "The first 256 errors should be shown when aborting with "too many errors"."
Reported by @MicahZoltu.
In case there are more than 256 errors, we abort with an exception - but we should at least show the first 256 errors in the exception message.

Reported for 0.5.15.
I haven't confirmed it myself yet.

EDIT: reported for solc-js using standard-json, but I haven't been able to reproduce with our test file, so waiting for more input.

[2020-01-07 08:15] ekpyron commented on #8102
Confirmed. It's triggered by this standard-json input: https://gist.github.com/MicahZoltu/ad87ccf635900d7cde808ed783191627

[2020-01-07 08:17] ekpyron commented on #8102
It's also triggered for the command line interface. I have only verified for 0.5.15 so far, though, and the pragmas in the input need to be adjusted for 0.6 (maybe among other stuff).

[2020-01-07 08:20] ekpyron commented on #8102
When replacing the pragmas with ``sed -i -e `s/solidity 0.5.15/solidity >0.0.0/g'`` in the input file, command line solc 0.6.2 seems to hang...

[2020-01-07 08:23] ekpyron commented on #8102
My guess is that this is related to having more than 256 errors in multiple input files in contrast to our test which only uses a single input file.

[2020-01-07 08:26] ekpyron commented on #8102
Stopping my investigation for now, so feel free to take this up. I'm staging it for 0.6.2.

[2020-01-07 14:32] ekpyron commented on #8101
I take it that this was opened by accident, so I'm closing it. Feel free to reopen with actual content or open a new one, if you have something to report :-)!

[2020-01-07 14:32] #8101 closed, assigned to nobody

[2020-01-07 14:48] #7960 closed, assigned to bshastry

[2020-01-07 15:01] #7858 closed, assigned to nobody

[2020-01-07 15:11] bshastry opened #8108 "[yul] proto fuzzer: Refactor dataoffset/size call spec"
## Abstract

These protobuf message defs are redundant since they are unused:

https://github.com/ethereum/solidity/blob/49aec64cafd06bde9b0f3c46517bee3778531115/test/tools/ossfuzz/yulProto.proto#L214-L220

Furthermore, `ObjectId` is a needless indirection. It could be replaced by a `uint64` type that holds the identifier pseudo-random index.

[2020-01-07 15:52] #7644 closed, assigned to christianparpart

[2020-01-07 15:56] #7718 closed, assigned to ekpyron

[2020-01-08 02:10] bshastry commented on #8018
Closed by #8004

[2020-01-08 02:10] #8018 closed, assigned to nobody

[2020-01-08 07:59] chriseth opened #8109 "Add a "name" field to the compiler section in metadata"
Requested by @ligi

[2020-01-08 08:13] chriseth opened #8110 "Investigate missing test run on documentation"
See https://github.com/ethereum/solidity/pull/7869/files#r364105867

[2020-01-08 08:49] #2100 closed, assigned to axic

[2020-01-08 09:25] ekpyron commented on #7929
A lot of cases related to calldata arrays were left unimplemented intentionally, when they were introduced, with the idea of them only being properly implemented in ABIEncoderV2 (especially since you can always change things to "public" and "memory" as before).
And there should be either proper errors or internal compiler errors for all these cases - but if there is indeed a case like described in

[2020-01-08 09:27] emilbayes commented on #7929
@ekpyron But the semantics of how calldata is represented at the EVM level are very different to memory, right?

[2020-01-08 09:27] ekpyron commented on #7929
Ok, these are all ABIEncoderV2 cases - for those all of this should indeed be implemented eventually.

[2020-01-08 09:29] ekpyron commented on #7929
@emilbayes Yes, and passing around calldata arrays is way cheaper, that's why they were introduced - to avoid unnecessary copying to memory (before calldata arrays were introduced, on the EVM level, stuff "started" in calldata anyways, but we always copied to memory, which isn't always necessary). But not all of that is implemented yet. I'll look into it for this case here in any case.

[2020-01-08 09:39] ekpyron commented on #7929
FYI: independently of the potential bug here (i.e. no compiler error and wrong values, which is quite severe), there's two things that will change in the future:

"casting" calldata to memory will at some point work in all cases (but yes, this indeed involves a full deep copy - at some point that fact will also be explicit in syntax) and it at some point it will be possible to pass calldata arrays

[2020-01-08 09:41] emilbayes commented on #7929
The latter would be nice. Concretely in my use-case I just need to read and "slice" calldata

[2020-01-08 09:41] #7800 closed, assigned to nobody

[2020-01-08 09:47] ekpyron commented on #6978
For reference and related to this: there is work being done towards an Isabelle specification of ABI decoding and encoding in https://github.com/mmalvarez/Yul-Isabelle/blob/master/AbiTypes.thy .

[2020-01-08 11:05] chriseth opened #8113 "Run profiler on yul optimizer"
We should evaluate the performance of the yul optimizer - it got a little sluggish lately.

Maybe related: https://github.com/ethereum/solidity/issues/5401

[2020-01-08 13:17] chriseth commented on #3419
@axic I disagree. We should provide a means to say "yes, these two functions in the interface actually mean the same thing". The following is legal:

[code]

And thus this should also be legal (note no "virtual"):

[code]

[2020-01-08 13:20] #7566 closed, assigned to Marenz

[2020-01-08 18:16] chriseth commented on #8057
@ChrisChinchilla here is a draft for "fallback / receive split". I'll put it here until we have the new repo:

[code]

[2020-01-08 18:24] chriseth commented on #8057
Oh and the example at the end should probably also contain two contracts, one that does define the function and one that does not but has a fallback function instead. Then an instance of the "wrong" contract is called from a third contract.

Also, @ChrisChinchilla , the draft is just the collection of points I want to get across, please feel free to completely rewrite it.

[2020-01-08 23:50] GNSPS commented on #8057
Is the article nearing completion or is help welcomed?

Diligence was thinking of writing an update to the Solidity post about `0.6.x` changes. So we're happy to help on this front.

[2020-01-09 05:28] wjmelements commented on #4746
I want to add that if your data is a struct and you are looking to return it in memory, the syntax seems to be:

[code]

[2020-01-09 06:06] GNSPS opened #8116 "Grammar for fallback and receive ether functions"
## Description

I am unsure if I've missed something but it seems to me after taking a hard look (and taking on the maintenance of the ANTLR parser) that both the fallback and receive ether function definitions are missing from the grammar.

Am I right in assuming this?

[2020-01-09 10:11] ekpyron opened #8117 "[DOCS] Clarify documentation of array elements in packed encoding."
In particular ``array elements are padded, but still encoded in-place`` and ``The encoding of an array is the concatenation of the encoding of its elements with padding.`` IMO aren't clear about what kind of padding it's going to be - apparently it's not always just padded to the right, but we'll need to check.

[2020-01-09 12:09] chriseth commented on #8057
Created the repo to host the articles: https://github.com/ethereum/solidity-blog

@GNSPS no, it's just a draft as of now - but not sure how for @ChrisChinchilla has come until now :)

[2020-01-09 12:42] leonardoalt opened #8119 "Update libdevcore/picosha2.h"
The upstream version https://github.com/okdshin/PicoSHA2/blob/b699e6c900be6e00152db5a3d123c1db42ea13d0/picosha2.h has some changes we might want to use.

[2020-01-09 12:45] ekpyron opened #8120 "ControlFlowAnalyzer: Check if we can decently report unreachable code without using source locations"
``ControlFlowAnalyzer::checkUnreachable`` uses source locations to warn about the source range containing unreachable nodes. If we don't have valid source locations e.g. when importing ASTs this might not work as desired, so we need to check, how it behaves in that case.

[2020-01-09 12:53] ekpyron commented on #8120
It might actually be fine, though - even after importing we should get valid ``start`` and ``end`` fields in the source locations and those determine, what's reported - not sure how the error reporter will deal with this, if there is no valid source text, though - that we should probably check in general.

[2020-01-09 13:22] ekpyron commented on #8120
I think I'm closing this again - I think we can still rely on ``start`` and ``end`` in source locations and if this doesn't work out the damage in not reporting a warning is limited.

[2020-01-09 13:22] #8120 closed, assigned to nobody

[2020-01-09 13:38] chriseth commented on #7830
I would like to propose identifiers for yul dialects. The only normative (i.e. non-experimental) identifiers for now are:

EVM-frontier
EVM-homestead
...
EVM-berlin

The we would have `TypedEVM-<version>` and so on like above.

It would be good to have some more room for changes than just the evm version, especially for the typed and yul ir variants:

EVM_0-homestead / TypedEVM_0-homestead?

Maybe

[2020-01-09 14:29] chriseth commented on #3164
I agree. The documentation also does not mention how to work with mainnet...

[2020-01-09 14:29] #3164 closed, assigned to nobody

[2020-01-09 14:43] thecircleoflifefree opened #8123 "How does solidity send() & transfer() know about contract ether?"
-If a contract wants to hold ether you create a payable function that receives the msg.value.
-To withdraw ether you would specify a function with the intended address destination and amount.

However when I test, the second statement only seems to be true if I use a mapping. On the example below not concerned about security, so this code would not apply to real life.

pragma solidity >=0.5.0 <0.6

[2020-01-09 16:14] chriseth commented on #8123
Sorry that I cannot directly help, but this question is better asked at https://ethereum.stackexchange.com - you will get faster and better replies there.

[2020-01-09 16:14] #8123 closed, assigned to nobody

[2020-01-09 16:15] #3506 closed, assigned to ekpyron

[2020-01-09 22:25] PhABC commented on #3356
Any update on this feature @chriseth ?

[2020-01-10 09:09] erak commented on #8116
@GNSPS Yes, you're right. The grammar for ``fallback() {}`` and ``receive() {}`` is indeed missing. Would you like to fix it?

[2020-01-10 09:15] erak commented on #8116
Bringing this up again: https://github.com/ethereum/solidity/issues/3158 :wink:

[2020-01-10 09:18] erak commented on #7779
@leonardoalt I'm also not working on this atm. Do you want to pick it up?

[2020-01-10 09:56] ChrisChinchilla commented on #8057
@chriseth Sorry, was off sick the past few days, will look today.

[2020-01-10 10:03] ekpyron commented on #3356
This is probably superseded, resp. will be implemented by https://github.com/ethereum/solidity/issues/3835
So if nobody objects, I'll close this in favour of https://github.com/ethereum/solidity/issues/3835

[2020-01-10 10:40] erak commented on #8110
I'll have a look.

[2020-01-10 10:51] erak commented on #8110
@chriseth Mmh, that's weird. I can't reproduce it (added some invalid code to the example in `function-modifiers.rst` and ran `cmdlineTests.sh`). The test was extracted successfully and an compilation error occured. The example also does not contain `// Will not compile`...

[2020-01-10 11:17] christianparpart commented on #7763
After reading somewhat into the official specification, I'd say this ticket first is not about fully implementing it but about having it started and got some initial support done.

Here are the steps I'd propose:
1. Implement a very simple solidity language server (I called it `solsp` - naming is a .... can be changed later ;-) ) that basically just reads messages, parses them, pretty prints them

[2020-01-10 14:57] GNSPS commented on #8116
Happy to take it on!

[2020-01-10 15:27] GNSPS commented on #8116
The grammar is also missing a proper definition for constructors.

I see two ways of solving this. The first would be to create a different definition for all the special functions since none of them allow any return parameters. Like so:

[code]

The second would be to not consider them a special case at all and just have a single definition accepting the key words

[2020-01-10 15:31] GNSPS commented on #8116
The grammar is also missing a proper definition for constructors.

I see two ways of solving this. The first would be to create a different definition for all the special functions since none of them allow any return parameters. Like so:

[code]

The second would be to not consider them a special case at all and just have a single definition accepting the extra keywords:

[code]

Any preferences,

[2020-01-10 16:26] erak commented on #8116
I think in the end it's a trade-off between explicitness and compactness (non-redundancy). I'd tend to go with the second option you've sketched, because I have the feeling that compactness overweights explicitness in this case.

[2020-01-10 20:31] fulldecent commented on #3835
I propose there is an error in the test case. Should be:

[code]

Warning added inline

[2020-01-10 21:11] ekpyron opened #8127 "Fix solc-bin upload script and rename 0.5.14 to full commit hash."
The commit hash for ``0.5.14`` is ``01f1aaa4`` - however, in solc-bin the file is uploaded as
https://github.com/ethereum/solc-bin/blob/gh-pages/bin/soljson-v0.5.14%2Bcommit.1f1aaa4.js
So with the leading ``0`` missing.

I think we should fix our upload script to include leading zeros and rename the release in solc-bin (while updating the commit lists).

Otherwise if I look at the release in solc-

[2020-01-10 21:20] ekpyron commented on #3835
Nowadays it should rather be ``constructor`` instead of ``function Example``, shouldn't it?

[2020-01-12 07:32] MicahZoltu opened #8128 "Support contracts and interfaces for mapping keys."
## Abstract
Contracts and interfaces should be allowed for mapping keys.
[code]

## Motivation
When creating a mapping of contract to thing I have to use the elementary types as the mapping key which means `address` in this case.  Unfortunately, since contracts and interfaces do not implicitly cast to `address`, this means every time I use the interface I must cast to address first.  This leads to

[2020-01-12 19:42] kadenzipfel opened #8129 "[DOCS] Possible DoS with block gas limit on blind auction example contract"
## Description

It seems that in the docs, in the [blind auction example contract](https://solidity.readthedocs.io/en/latest/solidity-by-example.html#id2), that there is a possible DoS vulnerability. In the `reveal()` function, we loop through the bids in this array: `bids[msg.sender].length`, which doesn't seem to have a limited amount of bids. If the current highest bid is low enough, a griefer

[2020-01-13 11:11] lfrickel commented on #7777
@leonardoalt Probably. But this property would open up fundamentally new possibilities.

[2020-01-13 11:18] Marenz commented on #8119
We decided to use the upstream one

[2020-01-13 11:27] Marenz commented on #8081
We prefer to keep it a warning until 0.7.0 where we want to re-evaluate the situation, but we also want to hear @axic 's opinion about this

[2020-01-13 11:34] chriseth commented on #7922
Maybe we could use `this.f{}` and `this.f{uint256}` as we also use `{` and `}` for #2136

[2020-01-13 11:52] Marenz commented on #7891
@ekpyron will write a proposal for a syntax/annotation based solution

[2020-01-13 11:56] chriseth commented on #7856
About inheritance: We could have two members, one that only concerns the functions in the interface itself and another one that also includes inherited members. They can be combined by xor, so people can use them how they like.

[2020-01-13 12:06] chriseth commented on #3835
Re-added "to discuss" because we need to agree about the problems related to reading the variable before its final value has been set.

[2020-01-13 12:11] chriseth commented on #3835
Another thing to note: This should only work for value types or at most for types that are statically-sized. In that case, we can reserve a certain spot in the deployed bytecode, do not have to move code around and can keep the metadata cbor struct at the very end.

[2020-01-13 12:12] chriseth commented on #3835
Another complication is the order of execution of constructors in the inheritance hierarchy. Because of that, I would also say that accessing a non-initialized immutable should result in a compiler error.

[2020-01-13 13:16] ekpyron commented on #7891
Related: https://github.com/ethereum/solidity/issues/4519 and https://github.com/ethereum/solidity/issues/597 - they both would solve this - and I'll probably rather write something up for the latter of those two.

[2020-01-13 13:18] axic commented on #7891
Perhaps it would be better to consider an annotation for "packed" vs. "unpacked" variables and unpacked variables are cheaper to operate on. It would be down to the user then to decide which variables are accessed frequently and make them unpacked, while other variables would benefit from low usage and compactness.

[2020-01-13 13:20] ChrisChinchilla commented on #8057
First draft of first post, needs example added, and then more detail based around that.

[2020-01-13 13:23] ekpyron commented on #7922
``function(uint256)external(this.f)``... like casting to the required function type as in C++ - but in solidity it's indeed extremely horrible...
``this.f["(uint256)"]`` or maybe better ``this.f[(uint256)]``, i.e. ``this.f`` could be a compile-time-only mapping from TypeType to FunctionType... that'd make sense, but it doesn't look nice either...

[2020-01-13 13:26] ekpyron commented on #7891
@axic That was kind of my suggestion in our call, only that I would not just make it ``packed`` and ``unpacked``, but full-blown general storage-layout annotations as in https://github.com/ethereum/solidity/issues/597 :-). Or at least I wanted to explore that option.

[2020-01-13 14:26] Marenz commented on #2932
We will no longer work on the LLL parser

[2020-01-13 17:17] ChrisChinchilla commented on #8094
Strangely, when I install the formula locally I get no problems, but also quite different output from the circleCI logs I see. I think this could be due to two reasons.

1. One of the dependencies had a Python issue and since fixed it. I can't rerun the build (permissions) to test.
2. The CI is using Mavericks, I'm on Catalina. it's hard for me to test any other way, but also, Mavericks is quite o

[2020-01-14 08:39] bohendo opened #8133 "Error: spawnSync /bin/sh ENOBUFS"
## Description

I'm working w/in a lerna monorepo & I'm trying to consolidate a couple related contract sub-repos into one module. Compiling the consolidated contracts gives me the following error:

[code]

I reported this via [waffle issue 178](https://github.com/EthWorks/Waffle/issues/179) but upon further investigations it looks like it's not a problem w waffle itself but w the compiler inside

[2020-01-14 10:19] ekpyron commented on #597
This came up again with #7891 .

If we want to expose really general control we need three components:
 - storage slot
 - offset in the storage slot
 - number of bytes reserved

Natural restrictions would apply (violating would result in compile time errors):
- ``offset + sizeOfType <= 32``
- ``numberOfBytesReserved >= sizeOfType``
- we could in a first version have ``(offset + numberOfBytesReserv

[2020-01-14 10:30] ekpyron commented on #597
Another alternative would be to require specifying the location for *all* variables, if the location is specified for *any* variable.

Also we could at a later point allow compile time evaluated expressions in the specifier, i.e.:
[code]
Although we'd need to consider that one could construct those to specifically collide with some mapping key, so this would be dangerous.

Although that's also tru

[2020-01-14 14:17] chriseth commented on #597
Maybe we should gather some data about how this feature would be used. One use is avoiding clashes during upgrades, another is having more efficient use of storage by combining small variables in a certain way. I think just providing full flexibility all the time might not be the way to go as it is too easy to get wrong. So it could already be enough to only allow hashed locations and another way

[2020-01-14 14:53] ekpyron commented on #597
What can "go wrong"? Or in particular, what can go wrong that we can't easily detect at compile time?
I'd argue that it makes more sense to provide a general solution and, if deemed necessary, restrict it to simple cases (as in restrict to some particular kinds of values for ``slot``, etc. - e.g. restricting to only supporting "start a new slot here" would be to require ``slot`` to be the "current

[2020-01-14 15:21] chriseth commented on #8129
Thanks for noticing!
Note that these are only the bids set by a specific sender. Still, it could lead to the bid not being revealable. We could loop from the end and require to reveal one bid at a time, but that would make it more expensive and maybe also more complicated.

Other opinions?

[2020-01-14 15:22] ekpyron commented on #3419
I fully agree with @chriseth on this one.
Overriding with unimplemented functions was added *exactly* for this purpose - it actually makes even more sense for interfaces than for abstract contracts.
I'd say we spent quite a lot of effort to design the contract inheritance rules to nicely deal with all cases like this, so I'm pretty sure we can and should use the very same rules for interfaces.

[2020-01-14 15:35] #2090 closed, assigned to nobody

[2020-01-14 15:37] chriseth commented on #8110
I thin this has been fixed. The indentation was off.

[2020-01-14 15:37] #8110 closed, assigned to erak

[2020-01-14 15:38] #8116 closed, assigned to nobody

[2020-01-14 15:42] chriseth commented on #8128
Easy enough!

[2020-01-14 15:50] chriseth commented on #8133
Thanks for reporting! Unfortunately, there is not much to read from the error messages. How much memory does the machine have you are running this on? What happens if you run the compiler directly without truffle or waffle?

ENOBUFS does not sound like a problem with the memory used by the compiler, but rather with the buffers used to send input and output back and forth. Maybe you selected too mu

[2020-01-14 16:57] chriseth commented on #2096
Implemented in https://github.com/ethereum/solidity/pull/7153

[2020-01-14 16:57] #2096 closed, assigned to nobody

[2020-01-14 17:13] chriseth commented on #8076
Closing this as out of scope. Please re-open if in error.

[2020-01-14 17:13] #8076 closed, assigned to nobody

[2020-01-14 18:04] fulldecent commented on #3835
Here is a blunt way to get this to work in the next version, with further improvement possible later:

* Accessing a property defined `immutable` as an r-value inside that contract's constructor shall be a compile error.

If r-value in that constructor is necessary then a workaround exists, the developer can use a temporary variable in the constructor.

[2020-01-14 18:07] fulldecent commented on #7856
Brainstorming:

* `ERC721.bytes4Id`
* `ERC721.bytes4IdWithAncestors`

---

Leaving open the possibility that ERC-165 will be superseded.

[2020-01-14 18:22] rschumi0 opened #8139 "TypeError too restrictive or inconsistent?"
## Description

I noticed that it is possible to add int variables with different bit sizes, but an error is produced if an int_const is added to an int variable with a smaller bit size. Is there a particular reason why the one is allowed, but not the other? Would it be possible to allow both?

[code]

## Environment
- Compiler version: 0.5.13
- Target EVM version (as per compiler settings): defau

[2020-01-14 19:29] nventuro commented on #3835
From my understanding, this means it'll be possible to read from `immutable` variables in `external pure` functions. Is this correct?

[2020-01-14 19:38] ekpyron commented on #3835
At least my first instinct would be to consider reading from ``immutable`` variables a ``view`` operation, not a ``pure`` one...

[2020-01-14 21:00] fulldecent commented on #3835
`pure`. For sure. @nventuro, thank you updated that test case above.

[2020-01-14 21:46] haltman-at commented on #8128
Question: Would this *only* apply to contract types, or are other types also going to be allowed as mapping keys that currently aren't (e.g. enums or even function types)?  (Asking as someone who's going to going to have to support the change, not as someone who wants more features for his contracts. :P )

[2020-01-14 21:52] kadenzipfel commented on #8129
Is there any benefit to users having multiple bids? As mentioned, I think users should only be able to have one bid, and if they'd like to change it, they could submit a new one, leading to the old one being deleted and the previous deposit being refunded.

[2020-01-14 22:09] chriseth commented on #8139
The reason is that `234` is treated as a `uint8` instead of an `int8`. Does that make it clearer?

[2020-01-14 22:10] chriseth commented on #8129
The reason for multiple bids is disguising a real bid among fake bids - I hope this is explained in the text.

[2020-01-14 22:24] kadenzipfel commented on #8129
If the bid values aren't known then why do real bids have to be disguised? The only benefit I see to that is that you can make an auction look more popular than it actually is. Am I missing something here?

[2020-01-15 00:41] nventuro opened #8141 "False positive requirement for override?"
I'm facing an issue which doesn't seem to be covered in the [inheritance documentation](https://solidity.readthedocs.io/en/v0.6.1/contracts.html#inheritance).

Consider the following scenario:

[code]

This compiles with no errors. However, if we perform the following change:

[code]

The following compiler error is emitted:
[code]

My general understanding is as follows. If a contract inherits fr

[2020-01-15 00:57] nicholashc commented on #8081
Thanks for your responses.

I'm curious about the language design philosophy for determining when something should be a Warning vs. an Error. In this case, does the design of the language extend to a potential user of a smart contract who might be reading the verified source code on Etherscan, but not compiling it themselves? Should that type of user be able to make reasonable assumptions about th

[2020-01-15 02:08] axic commented on #8109
What name?

[2020-01-15 02:08] ekpyron commented on #8081
In this particular case, we don't want to cripple the ability of new contracts to interface with old contracts that define an external function called "receive" or e.g. a Vyper contract that still might define such a function.
In the future we may allow to import functions from ABI specifications which would basically allow renaming in these cases - at which point we probably won't hesitate to mak

[2020-01-15 02:18] ekpyron commented on #3835
Why would you say it's definitely ``pure``? In what way is this "purer" than ``this`` (which is ``view``)? In my mind ``pure`` basically means compile-time constant and that's not the case here...

[2020-01-15 04:02] randomnetcat commented on #3419
So the contract labeled as "Test 2" in the original message should be permitted, since it would be permitted under the usual inheritance rules?

[2020-01-15 10:01] chriseth commented on #8080
We might want to have one overview page that describes the structure of calldata and of returndata be, both in the success and in the failure case.

[2020-01-15 10:08] ekpyron commented on #3419
@random-internet-cat That's probably the one thing that needs discussion.
I myself would say: yes, "Test 2" is valid (of course only with an explicit override specifier). But I'm not sure everyone agrees on that.

I'd argue that we could indeed disallow all cases of "useless overriding with unimplemented functions" (i.e. it's only valid to override with unimplemented functions, if there are multip

[2020-01-15 10:08] chriseth commented on #7536
I still can see no mention of `0x10dffd` or `0x10dffda` in the linked bytecode. To investigate this further, we need actual example code that triggers this behaviour.

[2020-01-15 10:13] chriseth commented on #8109
The name of the compiler implementation, i.e. "official solc" or "soll".

[2020-01-15 10:13] chriseth commented on #8109
Although I don't think any of the other compilers use metadata.

[2020-01-15 10:21] #7626 closed, assigned to bshastry

[2020-01-15 10:24] chriseth commented on #8094
I think the problem might be that homebrew wants to install python3 as "python" but that command is already occupied by python2. So a fix might be uninstall python2 first. Log:
[code]

[2020-01-15 10:28] chriseth commented on #8094
Some googling suggests that just increasing the xcode version requirement might help.

[2020-01-15 10:31] ekpyron commented on #3835
As an example:
[code]

So I'd argue that writing to an immutable variable in the constructor demotes reading it from ``pure`` to ``view``...

[2020-01-15 10:40] chriseth commented on #8141
Thanks for taking a deep look into the new override mechanisms! First, I want to assure you that we have discussed this and other edge cases at length during the design phase :)

The crucial point here is that while `GrandParent`'s `foo` has been overridden by `Parent`'s `foo`, you are adding an additional inheritance path by explicitly inheritnig from `GrantParent` again. I think it is important

[2020-01-15 10:49] chriseth commented on #3835
I think we have an issue about this which had a more fine-grained categorization of "constantness", but I would also go for "view" in this case.

[2020-01-15 10:50] chriseth commented on #3419
Second that:

"So for now as far as I'm concerned the only difference between contract and interface inheritance should be that interface functions are all implicitly virtual."

[2020-01-15 10:50] chriseth commented on #7471
I think not yet.

[2020-01-15 11:11] chriseth opened #8142 "[Yul] Allow or require curly braces surrounding switch cases."

[2020-01-15 11:18] chriseth opened #8143 "Support nested objects for Yul tests."
This needs to extend the analysis to recurse into the object in test/libyul/Common.cpp .

[2020-01-15 11:56] leonardoalt opened #8145 "[SMTChecker] Rerun tests from Solc-Verify"
The tests in https://arxiv.org/abs/2001.03256 show that the SMTChecker encoding has a few bugs, we should find and fix those.

[2020-01-15 12:34] erak commented on #7627
I was able to reproduce this behaviour and will start investigating.

[2020-01-15 12:57] LianaHus commented on #8076
this is fixed in remix-alpha. will be released soon

[2020-01-15 13:41] ChrisChinchilla commented on #8094
It feels like this has become more of a Circle CI issue than a Homebrew issue, as in my mind, I don't know why python@2 needs unlinking, as we're not even installing it in the formula.

Anyway, I can confirm that these all install and work locally, which is most important anyway.

[2020-01-15 13:46] chriseth commented on #8094
it is an issue on travis and other systems, too. As far as I understand, the python3 package in homebrew took over /usr/bin/python without python2 releasing it.

[2020-01-15 14:00] leonardoalt opened #8146 "static_assert"
`require` and `assert` can be used to write formal specs into Solidity, but many people don't because they automatically lead to extra bytecode increasing gas costs.
`static_require` and `static_assert` could be logical only, without code generation.
One variation would to also generate code if compiled in debug mode (or similar).

[2020-01-15 14:06] #8093 closed, assigned to christianparpart

[2020-01-15 14:15] #7949 closed, assigned to nobody

[2020-01-15 14:18] #1188 closed, assigned to nobody

[2020-01-15 14:18] #1230 closed, assigned to nobody

[2020-01-15 14:18] chriseth commented on #8094
Fixed by uninstalling python2

[2020-01-15 14:18] #8094 closed, assigned to ChrisChinchilla

[2020-01-15 14:18] #1288 closed, assigned to nobody

[2020-01-15 14:18] #1453 closed, assigned to nobody

[2020-01-15 14:18] #1478 closed, assigned to nobody

[2020-01-15 14:18] #2865 closed, assigned to nobody

[2020-01-15 14:18] #2932 closed, assigned to nobody

[2020-01-15 14:18] #3141 closed, assigned to nobody

[2020-01-15 14:19] #4680 closed, assigned to nobody

[2020-01-15 14:19] #5714 closed, assigned to nobody

[2020-01-15 14:27] nventuro commented on #8141
Note that in the pattern C is not B, C is A.

A simple use case is testing, where a base contract (let's call it `Time`) provides wrappers for `block.timestamp` and `block.number`, and all contracts in the system use these wrappers instead of the native global variables. During testing, a second contract (`MockedTime`) overrides these getters for storage reads, and provides methods to change the v

[2020-01-15 14:39] leonardoalt commented on #8146
I think for it to be useful though we'd need `constexpr` as well

[2020-01-15 14:43] christianparpart commented on #8146
I'd not make it another syntax element but a compiler flag to not codegen on assert/require. This way in constexpr context (future) we could still use assert/require. What do you think?

[2020-01-15 14:43] leonardoalt commented on #2435
I agree with @ekpyron

[2020-01-15 14:44] chriseth commented on #3419
accepted the above in the meeting.

[2020-01-15 14:50] erak commented on #7739
There's a PR (https://github.com/ethereum/solidity/pull/6282) already that partially implements this.

[2020-01-15 14:51] axic commented on #5167
Decision on meeting:
- Change string literal to not allow anything but ASCII printable characters **and** escape codes.
- Introduce `unicode` prefix for string literals, which also allows Unicode characters.

[2020-01-15 14:53] chriseth commented on #3356
Closing this in favour of #3835

[2020-01-15 14:53] #3356 closed, assigned to nobody

[2020-01-15 14:55] ChrisChinchilla commented on #6254
No longer needed as moving to different outputs

[2020-01-15 14:55] #6254 closed, assigned to nobody

[2020-01-15 15:00] ekpyron commented on #909
Question: should only value-types be supported or all types, including reference types, so arrays and structs? For the latter we have the problem of "dangling references".

[2020-01-15 15:09] axic commented on #7966
Preliminary accepted for 0.7.0, given we agree on names within the next 2 weeks.

[2020-01-15 15:11] leonardoalt opened #8147 "Turn deprecation warning into error for .gas and .value"

[2020-01-15 15:14] chriseth commented on #715
The default should be "immutable" and "mutable" the annotation.

[2020-01-15 15:16] chriseth commented on #6452
With this change, we should maybe also make address literals non-payable, i.e. in general anything that is not know to be payable should be non-payable.

[2020-01-15 15:17] ekpyron commented on #3878
Duplicate of https://github.com/ethereum/solidity/issues/3157

[2020-01-15 15:20] ekpyron commented on #909
[assigning myself for creating a more detailed proposal]

[2020-01-15 16:40] christianparpart commented on #8113
Using https://github.com/ethereum/solidity/blob/develop/test/libsolidity/semanticTests/viaYul/erc20.sol for performance testing. That's the second-biggest file we could found that seems to make sense. If someone is having a better .sol file for testing, I'd please tell me. :)

Tool: `valgrind --tool=callgrind solc --ir path/to.sol/file && kcachegrind`

[2020-01-15 17:05] dddejan opened #8149 "Recursive datatypes"
Solidity does not support simple datatype recursion. This makes sense as it would be impossible to do because of the "value" semantics of contract storage: there is no pointers allowed in storage and no optional types.

Nevertheless, recursive datatypes can be defined through the use of arrays and mappings. This is basically because empty arrays and mappings can be used as a "null" value. Example

[2020-01-15 17:10] bobsummerwill commented on #7949
FYI ... https://twitter.com/BobSummerwill/status/1217488177482489856

Just a quick question, @axic, @chriseth, @winsvega ... Are there still LLL-generated tests?   If so, how do those work these days?   Or were they replaced with some others means of generating the bytecode in the last couple of years?  Thanks!

[2020-01-15 17:11] chriseth commented on #2435
What about value types? They are copied all the time, so I would assume that a copy operator is not required.

We might also think about using a copy operator instead of a function: `f(copy x, copy y[2])`. or `copyof x`.

[2020-01-15 17:16] chriseth commented on #2435
Note that with this, the expression `a = copyof b` actually reads like proper english.

[2020-01-15 17:20] ekpyron commented on #2435
These days I'm most in favour of using an operator called ``copyof``.

[2020-01-15 18:21] fulldecent commented on #3419
Thank you. Test case at top is updated.

[2020-01-15 18:55] fulldecent commented on #3835
`pure` means it is compatible with `STATICCALL`. The `immutable` feature is compatible with `STATICCALL` so it should be `pure`.

# Example implementation and usage:

Solidity code:

[code]

Example init code:

[code]

Example deployed code for a contract constructed with newSymbol = "Bob":

[code]

Example usage of deployed contract from accessor contract:

[code]

^^ Here the deployed contract i

[2020-01-15 19:22] dddejan opened #8152 "Assignments involving mappings"
Assignment gets complicated when the values involved include a mapping. Since mappings cannot be copied, in the context of an assignment they are either disallowed or are silently ignored when deeper inside reference types. This makes for confusing semantics that can lead to strange bugs.

Consider the following example:

[code]

Assignment 1 compiles OK, although there is a mapping within the str

[2020-01-15 20:07] winsvega commented on #7949
Most of the tests use lll in filler files.
I can maintain solidity fork for the lllc

[2020-01-15 20:24] bobsummerwill commented on #7949
Is that what you are going to do, @winsvega?
What have you been doing to this point?
Or is this only newly problematic as of this merge and you do not have it solved yet?
You will need to maintain those fork and use that fork as-and-when those tests need regenerating?

[2020-01-15 20:49] winsvega commented on #7949
Yes. I only need lllc to convert opcodes and complex lll statements into bytecode.

[2020-01-15 21:00] ekpyron commented on #3835
``view`` already means compatible with ``STATICCALL`` (in fact we *do* call everything ``view`` with staticcall). And the immutable feature is definitely compatible with staticcall, so it definitely is *at least* view, there's no arguing that.

The problem is (as @chriseth has hinted at) that there are two interpretations of ``pure``, one stricter than the other:
 - the function does not write/mod

[2020-01-15 21:04] ekpyron opened #8153 "Strengthen the definition of ``pure`` potentially disallowing e.g. ``codecopy`` - or "the future of ``pure``"."
Came up in https://github.com/ethereum/solidity/issues/3835, in particular https://github.com/ethereum/solidity/issues/3835#issuecomment-574854014 states the issue.

The main question is: since ``view`` already allows ``staticcall``, is there any use for the coarse definition of ``pure``, that allows for expressions that are *not* compile-time constant?

Personally, I'd say we should officially st

[2020-01-15 21:05] ekpyron commented on #3835
I'd suggest to move further discussion about ``pure`` itself away from this issue towards  https://github.com/ethereum/solidity/issues/8153 .

[2020-01-15 21:08] leonardoalt commented on #8152
We agree with that, and will disallow such behavior in the next breaking release (0.7.0): https://github.com/ethereum/solidity/issues/7739

[2020-01-15 21:17] dddejan commented on #8152
Excellent! Closing this then and will comment there if I have any follow-up.

[2020-01-15 21:17] #8152 closed, assigned to nobody

[2020-01-15 21:37] ekpyron commented on #8141
Hm... this is quite an interesting use case... I'm not sure, if it's an option for you, but I find it noteworthy that the following alternative construction would be valid against our defined rules:

[code]

There's not much room between "too strict" and "not strict enough" here - I'm not sure on which side this case is...

[2020-01-15 21:40] axic commented on #8153
This is what pure was supposed to be, but it was softened up somehow :wink:

[2020-01-15 21:55] chriseth commented on #8153
I agree, pure functions should not be allowed to read from data that can be modified by a constructor.

[2020-01-15 21:58] ekpyron commented on #8153
I agree, but then ``SemanticInformation::invalidInPureFunctions`` should be extended by ``CODECOPY`` - and there may be others, we should check. I'll move this to "accepted in 0.7.0" right away then (unless we call it "bug" and want to do it earlier).

[2020-01-15 22:12] chriseth opened #8154 "[Yul] Remove the stack height checks from AsmAnalyzer"
Direct access to the stack is not allowed any more, so we can remove most of the stack height checks.

Remove:

 - [x] AsmAnalysisInfo::stackHeightInfo
 - [x] AsmAnalyzer::m_stackHeight (some errors have to be checked differently, but we should also rephrase the error messages since they are all talking about the stack)

[2020-01-16 02:55] ytrezq commented on #7536
@chriseth this doesn t dépends on a specific code and works on all selectors anyway.

[2020-01-16 06:38] MicahZoltu commented on #3835
@ekpyron Great breakdown of the two potential definitions of pure.  I have always treated pure as along the lines of "if you call this method on this contract multiple times with the same inputs, you'll get the same result every time no matter what other conditions change between calls".  This interpretation generally aligns with what I want as a dapp developer, and it also makes sense that `codec

[2020-01-16 06:42] MicahZoltu commented on #8153
(sorry for the double-post, missed the comment that discussion about pure should be moved here)

@ekpyron Great breakdown (in the linked issue) of the two potential definitions of pure.  I have always treated pure as along the lines of "_if you call this method on this contract multiple times with the same inputs, you'll get the same result every time no matter what other conditions change between

[2020-01-16 08:35] chriseth commented on #8153
@MicahZoltu the only problem I see is a potential confusion that a pure method in the less restrictive sense yields a different result when moved to a different contract. Or put a different way: In the functional sense, pure means that there is no other state to take into account except the arguments to the function call.

On the other hand, when seen at the EVM level, then a pure function always

[2020-01-16 08:41] chriseth commented on #7536
@ytrezq we are still struggling with reproducing this issue. Everything is working fine for us. Can you please describe again what you are doing? Maybe the error is not in the compiler but in the way the calldata is formatted by the library you are using?

[2020-01-16 08:45] chriseth opened #8156 "The bytecode comparison scripts broke with the transition to python3"
[code]

[2020-01-16 09:20] MicahZoltu commented on #8153
Honestly, I don't use it much.  `view` gives _huge_ benefits over non-view, it is an even bigger step than from `payable` to `non-payable`.  `pure` however is a pretty small/marginal step.  It is useful sometimes during auditing, just as any compiler guarantees are, but it doesn't come up that often.

When it does come up in auditing for me, I am usually just using it as a shortcut to avoid going

[2020-01-16 09:25] ekpyron commented on #7536
Haha, I think I know what is happening:
If you split up the calldata from the OP into blocks of 4 bytes you get:
[code]

In short: you're missing a zero :-).

[2020-01-16 09:27] ekpyron commented on #7536
So if you use
[code]
instead of
[code]
that should fix your issue.

[2020-01-16 09:40] ytrezq commented on #7536
@ekpyron correct, but the function selector is still `10d0ffdd` (I mean the fu data is still at the correct place in the selector) so it should call the function.
This is because solidity performs a division on input data in order to extract the selector. But in the case the length doesn t end on a byte, there s truncation.

[2020-01-16 09:47] ekpyron commented on #7536
@ytrezq Here it very much depends on what tool you use to parse this hex string and use it as calldata. To me it seems like that tool parses the hex string as 256-bit integer and then stores it as big endian. So the first four bytes will end up being ``010d0ffd``, which is *not* the correct signature.

Which tools *do* you use for that? To me it seems that this is rather an issue with the tooling

[2020-01-16 09:50] ytrezq commented on #7536
I used the remix debugger of etherscan.
For me I thought the ethereum vm behave the same way.

[2020-01-16 09:52] ekpyron commented on #7536
I'm pretty sure that the division is correct, but that on your input the etherscan debugger will pass ``010d0ffd`` as the first four bytes of calldata and **not** ``10d0ffdd``.

[2020-01-16 09:58] chriseth commented on #7536
Some tools also silently prefix a `0` if the number of hex digits is odd.

[2020-01-16 09:59] juanfranblanco opened #8157 "Feature request: Change default Emscripten namespace (Module) to something like (Solidity)"
The solidity javascript library created using Emscripten defaults the namespace to "Module", this is can cause a conflict with other libraries that use the same namespace (still using the default).

A suggestion of a new namespace could be "Solidity", emphasis on suggestion :).

## Backwards Compatibility
The emscripten library is wrapped by solcjs and with the new WebAssembly ouput I assume that

[2020-01-16 10:07] ytrezq commented on #7536
@chriseth but nothing is prefixed on etherscan.
I just saw `0x10d0ffd` on the stack instead of `0x10d0ffdd` assuming the real vm behave the same way.

[2020-01-16 10:23] chriseth commented on #7536
@ytrezq then let's try to find out where that stack entry came from. Do you have a transaction that shows the behaviour on etherscan?

[2020-01-16 10:33] chriseth commented on #8146
We need to ensure that the conditions do not have side-effects.

[2020-01-16 17:31] 3esmit opened #8160 "[Doc] Mention various signature formats"
## Abstract

Hey, I am trying to  standardize `appended compact signatures` in top of what GnosisSafe did (https://github.com/gnosis/safe-contracts/blob/892448e93f6203b530630f20de45d8a55fde7463/contracts/GnosisSafe.sol#L189).

There is interesting things happening in https://github.com/ethereum/EIPs/pull/2126, but it also seems to lack to standardize the signature format.

We have 4 formats I know

[2020-01-16 17:34] chriseth commented on #8160
Damn, you got me on that ("I know ya going to say to use Struct and Libraries, and yes, that's what I would have to use if this don't gets approved.") :)

But to be honest, this just sounds like forcing an ERC by adding a feature to Solidity.

Is there some more complex thing that can rather be done with Solidity than just adding a signature type?

[2020-01-16 17:59] nventuro opened #8162 "Require abstract for contracts with internal constructors"
From the [`abstract` documentation](https://solidity.readthedocs.io/en/latest/contracts.html#abstract-contracts), it seems like what the keyword does is mark the contract as non-deployable (i.e. it needs to be inherited from). Because contracts missing function implementations are always non-deployable, they require `abstract`.

If this is the case, shouldn't `abstract` be required also for contra