[2021-01-25 11:28] cameel commented on #10183
Sorry it took so long but I'm finally done with verifying the rebuilt binaries. Running the bytecode comparison on the historical binaries required adding extra functionality to our scripts and also making them backwards compatible with the CLI interface of older versions. I'm glad I did it because it turned out that there are more problems than just the macOS binaries and that binaries for 0.3.6,

[2021-01-25 11:46] cameel opened #10846 "Emscripten binaries for version 0.3.6 in solc-bin were not built from the commit tagged as v0.3.6"
In solc-bin we have [soljson-v0.3.6+commit.3fc68da5.js](https://github.com/ethereum/solc-bin/blob/gh-pages/bin/soljson-v0.3.6+commit.3fc68da5.js) and [soljson-v0.3.6+commit.3fc68da5.js](https://github.com/ethereum/solc-bin/blob/gh-pages/wasm/soljson-v0.3.6+commit.3fc68da5.js), both built from 3fc68da5. Tag [`v0.3.6`](https://github.com/ethereum/solidity/tree/v0.3.6) points at commit 988fe5e (i.e.

[2021-01-25 12:03] cameel commented on #7978
@degrigis Did you manage to solve this in the end?

[2021-01-25 12:22] blishko opened #10847 "[SMTChecker] False negative with assignment to state variables of reference type"
In the following example:
[code]
SMTChecker currently reports assertion violation for the third assertion, but not the second one. The second assertion should also be reported as violated.

The problem is slightly different handling of assignments based on whether or not the contract type is used.

[2021-01-25 13:51] cameel commented on #10152
I'm going to help with implementing the remaining stuff. @axic said the issue is actually 90% finished and he has a pending PR to push. So I'll wait for that and see what's left then.

Some comments from gitter about the remaining stuff, for later reference:

@axic

@cameel

@axic

@chriseth

[2021-01-25 14:52] franzihei commented on #10825
Hello everybody! I just sent out an invite via email to hopefully all of you to discuss this topic on a call. **The proposed time is this week Wednesday, 27th of January, 4:30PM CET (Berlin time).**

The Google meet link is in the invite and I can additionally share it in this issue before the meeting if needed. :)

[2021-01-25 14:56] cameel commented on #10841
Decision from the call today: we're leaving them in solc-bin.

[2021-01-25 14:56] #10841 closed, assigned to nobody

[2021-01-25 15:02] cameel commented on #10839
Decision from the call today:
- We're going to rename the file to match the commit it was built from.
- We'd prefer to have a Linux binary built on `v0.4.10` (which points at f0d539ae) but we think it's not worth the effort. I could try if someone requests it but given how many workarounds I had to do for the old macOS builds, it will likely not be as straightforward as just checking out `v0.4.10`

[2021-01-25 15:03] leonardoalt commented on #10166
Call decision:

If `pragma experimental SMTChecker;` is used:
  - targets in files that do not have the pragma should also be checked
  - issue a deprecation warning
  - use default engine and targets = all

If pragma not used:
  - default engine = none
  - all files should be checked

[2021-01-25 15:35] cameel commented on #10846
@chriseth I have manually compared the Linux and wasm reports for 0.3.6 and bytecode differs only in a handful of cases. All of these contain libraries and the only difference is this small fragment:

[code]

I investigated this and turns out it's the version stamp for libraries added by [`injectVersionStampIntoSub()`](https://github.com/ethereum/solidity/blob/v0.3.6/libsolidity/codegen/CompilerCo

[2021-01-25 16:25] cameel commented on #10183
Turns out that #10846 is not the only issue with the macOS binary for 0.3.6:
- It's not actually using the same commit hash as `v0.3.6` (probably ignoring `commit_hash.txt`) unlike 0.4.x and above.
- There are a few input files for which it fails and emscripten binary does not or the other way around.

Since it's such an old version and resolving these issues will be pretty tedious I think it's no

[2021-01-25 19:09] cameel commented on #10779
+1 for `legacy` / `ir`.

`_v1` / `_v2` sounds like ABI Encoder to me :)

I think that @chriseth said today that there are no more tests that do not pass with the new codegen are not explicitly using `compileViaYul: false`. So this is no longer true, right?

[2021-01-25 19:13] chriseth commented on #10837
From the files you linked in the gist, I don't see a problem. The constructor assembly seems to be properly annotated with source locations until the end: https://gist.github.com/haltman-at/ba346ea19f90b20b49dead4a2ff70708#file-assembly-txt-L486
And these locations match with the end of `sourcemap.txt`: https://gist.github.com/haltman-at/ba346ea19f90b20b49dead4a2ff70708#file-sourcemap-txt

The lin

[2021-01-25 19:18] cameel commented on #10779
How about just listing both names instead, i.e. `codeGenerationPaths: legacy, ir`?
Then we won't have to rename it if we add more backends. Even now we could do `codeGenerationPaths: legacy, ir, ewasm` and drop the `compileToEwasm` option.

[2021-01-25 19:31] chriseth commented on #10840
My first suspicion is that this might be related to the optimizer. Maybe it is somehow related to the order of functions being inlined?

One thing that caught my eye is that the last difference is that the linux version contains the number `0012345678000...`  and the others don't. This looks like the number is included using `datacopy` on linux while it is used directly (or computed) on the other

[2021-01-25 19:54] axic commented on #10390
We could look at top gas consumer contracts, translate them to 0.8.x and check the gas usage of legacy vs. ir codegen.

A good way to find such contracts:  https://oko.palkeo.com/

[2021-01-25 21:30] haltman-at commented on #10837
Hm, it's possible I've misdescribed the issue.  There definitely is a problem here, but it may not be that the source map is truncated.

I should perhaps describe how this originally came up.  It came up originally when investigating [this issue](https://github.com/trufflesuite/truffle/issues/3713), which arose from trying to debug a particular transaction generated in that project; Truffle Debugg

[2021-01-26 08:07] ityuhui commented on #10305
This ticket is implemented by the PR https://github.com/ethereum/solidity/pull/10707.

I think it can be closed and removed the label of "breaking change".

[2021-01-26 08:16] #10821 closed, assigned to Marenz

[2021-01-26 08:19] chriseth commented on #10152
I might have changed my mind. Instead of `generated sources`, we could use the (already existing) `ir` field. Then each bytecode in the output has to source refereces: One "low-level source reference" referencing the (non-optimized) ir and optionally a "high-level source reference" referencing the solidity source code it was generated from.

[2021-01-26 08:24] #10732 closed, assigned to hrkrshnn

[2021-01-26 10:20] #10778 closed, assigned to hrkrshnn

[2021-01-26 10:47] chriseth commented on #10779
List of paths sounds good! Maybe it could be a bit shorter, though: `codegen:`? Also, should "all of them" be the default or should 'legacy, ir' be the default (skipping ewasm)?

[2021-01-26 10:57] chriseth commented on #10305
Thanks!

[2021-01-26 10:57] #10305 closed, assigned to ityuhui

[2021-01-26 11:10] cameel commented on #10840
It's definitely the optimizer. The differences are only in the optimized bytecode. I have also just diffed unoptimized bytecode from 0.4.25, 0.4.25 and 0.4.26 and it's identical (the only difference is the metadata hash at the end).

Also, 0.4.24 and 0.4.25 produce identical optimized bytecode (except for metadata). I checked the [diff between 0.4.25 and 0.4.26](https://github.com/ethereum/solidit

[2021-01-26 11:16] chriseth commented on #10825
I think type-checking the expressions from the compiler is an important feature, but I'm a bit worried about custom constructs like sums over mappings. Could it be a solution to require a free function (that is otherwise not used or would always panic when called) to exist that would match? Maybe not in general....
We would also have to define "before" and "after" variants of variables.

[2021-01-26 11:23] leonardoalt commented on #10825
The problem is that that's just one function. Different tools will probably give different capabilities, so I think we shouldn't add sum of mappings as a common thing.

[2021-01-26 11:49] hajduakos commented on #10825
I also like the general direction, I think #5421 and #4991 are also related.

From our side (solc-verify) I agree with the points of @dddejan . I also agree with @chriseth that the hard part is having compiler support (e.g., parsing, type checking) for the tool specific extensions. Looking at tools like solc-verify, VeriSol, VerX, etc., there is definitely interest for such extensions. @leonardoal

[2021-01-26 11:52] chriseth commented on #10840
If you want, you can create a diff of the assembly produced by the two versions. Also, trying to re-build might be a solution - maybe the binary was not built from the right version? But if that does not help, I would just leave it like that.

[2021-01-26 12:55] cameel commented on #10840
Good idea. Here's the diff between 0.4.25 optimized (red) and 0.4.26 optimized (green):

[code]

Whole output:
- [test_9a0896f58138a03af502be9bd35a9c6faa4fa505e633536ebe0478dacec3ce88_solidityendtoendtest_cpp-0.4.25.asm.txt](https://github.com/ethereum/solidity/files/5873340/test_9a0896f58138a03af502be9bd35a9c6faa4fa505e633536ebe0478dacec3ce88_solidityendtoendtest_cpp-0.4.25.asm.txt)
- [test_9a089

[2021-01-26 13:01] cameel commented on #10840
Here's the differing fragment with a bit more context (whole part between two labels):

### 0.4.25 optimized
[code]

### 0.4.26 optimized
[code]

[2021-01-26 14:16] chriseth commented on #10840
They do the same things. These are two different strategies to optimize constants. They are selected through the "runs" parameter (and some other factors).

[2021-01-26 15:13] haltman-at commented on #10837
Btw, here's something really weird... I figured I should see if I could indeed create a more minimal example of the problem, and maybe even try it with an updated compiler version.  So my first step, naturally, was to prune out from the input all the sources not actually necessary to compile the `ContestTeam` contract.  When I did this, the problem went away, as best I can tell??  So that's certai

[2021-01-26 15:16] dddejan commented on #10825
As @hajduakos mentioned, not having access to "flexible" typing brings unnecessary verbosity, and even makes some constructs impossible. Verbosity really kills a spec language, nobody likes to read/write specs that are longer than the code itself.

The `sum` is a good example even for basic cases. For a mapping, its return type depends on the value type of the mapping (uint8, uint256, ...). To sup

[2021-01-26 15:24] chriseth commented on #10825
If everything is flexible, what kind of type checking do you expect the compiler to perform? Also, some notations use things like `x'old` and `x'new`, if we are flexible, we should probably also support things like that - I would prefer this because strictly, `old` and `new` should not actually have access to the name of its argument but only to its value.

[2021-01-26 15:36] cameel commented on #10840
Oh, you're right! I quickly calculated `0x2468acf * (0x2 ** 0xe3)` and got a value different from `123455678...` but I missed that it's actually a hex number. So they're equal after all.

This might indicate that the problem is with optimizer defaults? We don't set any optimizer parameters explicitly when generating the report. It's not `--optimize-runs` though - I just tried to run it with `--opt

[2021-01-26 15:47] dddejan commented on #10825
That's a good question. Our main goal by using the compiler for parsing the specs is to make sure that we have the expressions that correspond exactly to the semantics of Solidity that that version of the compiler is using. Having the compiler cover Solidiy expression (parse, resolve names and types) is already a huge benefit for us (we don't worry about name resolution, operator precedence, casti

[2021-01-26 17:37] axic commented on #10846
I think it would be useful documenting all these in a section in the documentation (instead of issues). By "documenting all these" I mean what people should expect from which distributed version. It may be a better option than trying to resolve problems for ancient releases. Of course documenting it would not be possible without the meticulous investigative work you have done with these.

[2021-01-26 18:23] chriseth commented on #10840
The parameters should actually be in the metadata - can you check there?

[2021-01-26 19:35] cameel commented on #10840
I just checked. There's no difference in metadata between 0.4.25 and 0.4.26 other than the compiler version. And it looks exactly like in the metadata I included in the first post, i.e. `runs": 200` and that's all.

[2021-01-26 19:38] cameel commented on #10846
Yeah, documenting them sounds like a good idea. But I think we still should fix at least those problems that are easy to fix (like for example renaming the Linux 0.4.10) :)

Do you think it should be documented in the main docs or is the `solc-bin` README (or separate READMEs in the directories containing the binaries) a better place?

[2021-01-26 19:44] axic commented on #10846
Absolutely, where it is easy to fix, go ahead. But probably it is not worth spending days/weeks on these :)

I think the main documentation is better, nobody reads those readmes too much.

[2021-01-26 19:51] cameel commented on #10846
OK. So I'll add a section the docs on that.

[2021-01-26 21:30] cd1m0 commented on #10825
Hi All. Great points about the tension between type-checking specs, and placing undue burden/complication on the compiler. What about the following 3 rough directions about how much the compiler type-checks:

1. Not at all. The compiler simply exposes specs in the AST, and its up to each individual tool to type-check its own specs. This way we don't unnecessarily burden the compiler, but the tools

[2021-01-26 21:35] leonardoalt commented on #10619
False negatives fixed by https://github.com/ethereum/solidity/pull/10835

[2021-01-26 21:35] #10619 closed, assigned to nobody

[2021-01-27 00:58] axic commented on #10829
Since https://github.com/OpenZeppelin/openzeppelin-contracts/pull/2473 was merged, does that mean this issue is not that relevant anymore?

[2021-01-27 10:10] JoranHonig commented on #10825
This discussion is growing more extensive than I initially expected 😄

There seem to be three topics:
1. Introduce a NatSpec tag so specifications can live as NatSpec docstrings
2. Offloading specification sanity checks (syntax & type) to the compiler
3. Developing a common language that multiple tools use as a backend

I think we've gone very deep into topic 2, but think that nr. 3 is potentially

[2021-01-27 10:20] leonardoalt commented on #10825
@JoranHonig while I agree with you, I'm not very optimistic that we can practically achieve that. IMO the common language would be pre/post conditions, old/new vars, inductive invariants, + whatever the compiler is able to type check.

Also summoning @MrChico @xwvvvvwx

[2021-01-27 10:30] leonardoalt commented on #10825
As an extension of my comment above, I would suggest that if a subset of tools has a common set of features/language that is not common to all tools they could agree on an extension, give it a name, and publish it somewhere. This `somewhere` could be a common place where all extensions are explained, for instance the natspec docs (just an idea). Users can apply that extension as `@spec[sum] ...` a

[2021-01-27 10:34] JoranHonig commented on #10825
@leonardoalt I was thinking something similar 😅, but you type quicker than me 😂

I was thinking it would also be possible to think about something like "dialects".
These would specify common groups of specification language features (such as `sum`).

This would fit perfectly with the tool that we're working on right now (scribble). Which isn't meant to have just the one backend ( runtime assertion

[2021-01-27 11:13] hajduakos commented on #10825
@JoranHonig I agree that having a single specification language has many benefits, but it is really hard to draw the line. I believe that pure Solidity expressions are good for some toy examples, but anything practical actually requires more. As @leonardoalt mentioned, it would be nice to have pre/postconditions, old/new vars, sums, etc. Furthermore, if we want to leverage multiple backends for th

[2021-01-27 11:47] leonardoalt commented on #10825
@hajduakos I agree what each tool will probably need their own precise dialect, but I'd say there are still common subsets that many tools would agree with, and I think `sum` is a good example for that.

[2021-01-27 11:56] hajduakos commented on #10825
@leonardoalt I agree. I think for the expressions it should be more straightforward. I'm more concerned about the specification kinds. For example, Scribble has `if_succeeds`, ..., solc-verify has `precondition`, `postcondition`, `invriant`, ... In some cases this is just a matter of naming and they can be matched. But there might be some subtle differences.

[2021-01-27 12:42] JoranHonig commented on #10825
Right, that seems like one of the primary challenges in a universal/ common language.

My thinking was that there is nothing stopping multiple tools from adhering to the same common dialect. In such a scenario tool developers (for future tools) would be able to prevent those subtile differences, as they can decide to stick to the common interpretation.

There are caveats though;
Sometimes a tool m

[2021-01-27 13:30] cameel commented on #10277
On the call today we decided to move this to the Icebox for now. It was requested but it could open a whole can of worms so we don't want to do it right now but we'll consider it if there's more demand.

[2021-01-27 13:37] cameel opened #10854 "Running Buidler's test suite in our CI"
From https://github.com/ethereum/solidity/issues/9237#issuecomment-678411675:

**EDIT**: I slightly modified the quote above to use the updated snippet from https://github.com/ethereum/solidity/issues/9237#issuecomment-769030695.

We should hook it up to run in our CI. To run either on every PR (if it takes no more than 15 min) or in the nightly run (if it takes more).

The setup should be similar

[2021-01-27 13:45] cameel commented on #9237
Now that I'm done with solc-bin binaries, I might be able to take this on in the near future. For now I have created a separate issue for hooking up Buidler's suite (#10854) because that's the part that can go into the Implementation Backlog already (but does not resolve this issue as a whole).

@franzihei Would the new forum be a good place for that?

[2021-01-27 14:01] cameel commented on #10082
We talked about this on the call today:
- We should have a documentation section going more in depth about issues related to source code verification and bytecode reproducibility.
- We're probably going to get rid of the `--link` option eventually because it's not used much in practice (the high cost of `delegatecall` discourages people from using external libraries) but this problem still potenti

[2021-01-27 14:12] cameel opened #10857 "Documentation section on source code verification issues and bytecode reproducibility"
Proposed in discussion regarding the issue about different bytecode from different linking methods (see https://github.com/ethereum/solidity/issues/10082#issuecomment-768305351).

[2021-01-27 14:58] axic commented on #10179
I agree Yul object format is pretty similar to ELF (and WebAssembly) in intent and purposes. I disagree with your assessment though, given ELF specifically has metadata sections, which are demarcated properly (prefixed with `.` mostly).

This may have its merit, but it seems that metadata is a bit more closely coupled currently.

On today's call we have agreed to go with something like `@metadata`

[2021-01-27 15:10] dddejan commented on #10825
I think it might be wise to put aside advanced features and dialects for the moment (even the sum) and focus on the core expression language.

The main obstacle to specification and verification doesn't seem to be what we can verify, but rather the lack of users that are willing to write specs for the contracts. The benefit of having even a core set of specification expressions supported by the co

[2021-01-27 15:25] franzihei commented on #10825
Just dropping the meeting link here as well for out meeting in 5 mins!
--> https://meet.google.com/oye-bduq-nkc

[2021-01-27 15:26] GNSPS commented on #10825
I'm running ~5 mins late! But Joran and Valentin will be there from the start! 😊 🙏

On Wed, Jan 27, 2021 at 15:25:35, Franziska Heintel < notifications@github.com > wrote:

[2021-01-27 15:29] axic commented on #10825
While not strictly related, the discussion in #8146 also touched upon syntax for invariants. So did #8433. (Seems like we have at least four issues discussing it.)

[2021-01-27 15:35] leonardoalt commented on #10825
Completely agree with @dddejan

[2021-01-27 16:36] axic commented on #10825
Based on today's call, it seems that the benefit of having a natspec tag is the visibility to users, and it is parsed and exposed by the compiler. These tags are however only exposed separately to the AST.

It appears it would be useful to
a) extend the natspec output or have a separate output which links it to AST ids
b) include all comments (and potentially parsed natspec additionally?) in the A

[2021-01-27 16:40] leonardoalt commented on #10825
Decision on call (which included most people in this issue):
We'll use natspec and start with the very minimal, that is `@spec`, `dialect`, `property`.
The syntax is yet to be defined, but suggestions were:
[code]
Thanks for the call everyone!

[2021-01-27 16:43] axic commented on #10825
I actually think `@spec[dialect]` stands out much better, but not sure about its compatibility within the wider natspec ecosystem.

[2021-01-27 16:51] axic commented on #10825
Furthermore some concerns were expressed regarding natspec tags:
- @chriseth mentioned having custom tags (#8802) has the risk that people could prefix general tags by mistake, and nothing would pick it up. I imagine external tools (such as linters) could be extended to deal with it.
- once we have the generic `@spec` tag, which is type-checked by the compiler, it must follow the same versioning r

[2021-01-27 16:53] franzihei commented on #10825
Long form, hacky notes of today's meeting can be found [here](https://hackmd.io/@franzihei/rJ8qv-JxO). Thanks everybody for joining!

[2021-01-27 17:05] dddejan commented on #10825
This is an extremely important issue! I have "proved" things several times with our tool by mistyping the spec tags only to find out later that it is all broken.

[2021-01-27 17:14] chriseth commented on #1272
I'm not so sure anymore we really need the surrounding context to be in text format. I cannot really imagine snippets to be used without a more complex framework that accesses the compiler. Furthermore, if we just use `snippet Name for Token` as a text fragment in isolation, it would also have to reference the file name.

During the discussion in #10825 it came up that it might be useful to parse

[2021-01-27 20:19] cameel commented on #10747
Maybe we should have a nightly CI job that greps the changelog to find the latest released version, compares with the one we use and annoys us on gitter until we upgrade? :)

[2021-01-28 06:51] relyt29 opened #10859 "Docs: "Layout of State Variables in Storage" "Mappings and Dynamic Arrays" paragraph incredibly confusing and poorly written"
## Description

The paragraph "Mappings and Dynamic Arrays" under the "Layout of State Variables in Storage" is incredibly frustrating to understand, it needs to be rewritten to be clearer: right now I'm sitting here playing guess and check with web3.getStorageAt and web3.keccak, trying to figure out what the original author of the paragraph meant.

## Environment

Irrelevant, this is me asking so

[2021-01-28 07:28] relyt29 commented on #10859
https://ethdebug.github.io/solidity-data-representation/#user-content-locations-in-detail-memory-in-detail-pointers-to-memory

section "Storage: Lookup types" might be a good reference for rewriting this section. Explanation of p is much clearer there

[2021-01-28 07:41] chriseth commented on #10859
The section is a bit condensed, I give you that and it makes some mistakes in wording ("stack slot" should be "storage slot"). I'll try to update it. To "above rules" refer to the rules at the beginning of the section "Layout of State Variables in Storage".

[2021-01-28 08:53] chriseth commented on #10859
Please check if https://github.com/ethereum/solidity/pull/10860 helps you understand the concept better. It would be nice if you could comment on the PR if there are still clarifications needed.

[2021-01-28 09:05] chriseth commented on #7877
One still open problem is how to deal with side-effects of the construction of an error:
[code]
This should be syntactically valid and I would assume that side-effects of `f` take effect regardless of the value of ``condition`` since ``require`` is "just another function" and this is explicitly not equivalent to `if (condition) { revert(MyError(f())); }`.

[2021-01-28 10:52] cameel commented on #10190
I just noticed one more case where the script fails: it's during the initial CI run that starts immediately when a branch is pushed, but before a PR is even created:

[code]

That one can't really be fixed, only hidden. We could detect the `Not Found` message and print something more informative than a JSON dump but I think it's just a minor annoyance so I'm leaving it as is unless someone else th

[2021-01-28 10:54] #10839 closed, assigned to nobody

[2021-01-28 10:58] #4698 closed, assigned to cameel

[2021-01-28 12:49] fvictorio commented on #9237
@cameel notice that all "buidler" usages have to be replaced with "hardhat" now:

[code]

[2021-01-28 12:55] cameel commented on #9237
Sure. Thanks for the heads up!

[2021-01-28 13:19] chriseth commented on #10840
I'm pretty sure this is related to this change: https://github.com/ethereum/solidity/pull/4776
It was merged for 0.5.0, but we might have backported it - maybe accidentally.

[2021-01-28 13:26] chriseth commented on #10840
Is the binary in the github releases page the same as on solc-bin? What about the one in docker - https://hub.docker.com/layers/ethereum/solc/0.4.26/images/sha256-2e9558c26d9b8659e52fea33a6f744190c5ad9ac8a70e628097ab2fbdc30800e?context=explore ?

[2021-01-28 14:28] cameel commented on #10840
It better be, because that's where I got it from :)
Yeah, they're byte-for-byte identical.

Surprisingly, no. The one in docker is smaller (5.0 MB vs 5.8 MB) and that's not because it's truncated or damaged (it responds properly to `solc --version`). They're just different.

And they produce different bytecode for this test case. I diffed the asm and the output from the one in the docker image loo

[2021-01-28 15:22] cameel commented on #10779
`codegen` sounds natural to me but I didn't suggest it because I was thinking it might be ambiguous. Now that I think of it, shouldn't really be a problem. So +1 for `codegen`.

I think that having it all on by default would be least confusing. It has the downside that when we introduce a new codegen, almost all test cases need to be modified to disable it. Having the codegen disabled initially do

[2021-01-28 15:34] frangio commented on #10829
I saw this issue more about starting a discussion than a concrete feature proposal. As I expressed above, I don't think `forceOverride` would be a good idea.

That said, with OpenZeppelin/openzeppelin-contracts#2473 we're more or less happy with the result. But given this new direction it's worth noting that OpenZeppelin Contracts are basically not obtaining any value out of `virtual`/`override`,

[2021-01-28 16:15] cameel commented on #10840
https://github.com/ethereum/solc-bin/pull/80 passed the [bytecode check](https://github.com/ethereum/solc-bin/actions/runs/518405661) which means that the binary from docker produces bytecode identical to the one on other platforms and does not have this weird problem.

[code]

[2021-01-28 18:54] leonardoalt opened #10865 "[SMTChecker] Do not report warnings for abstract contracts as most derived"
See https://github.com/ethereum/solidity/pull/10850#discussion_r566240309

[2021-01-28 21:26] ekpyron commented on #10698
Well, 0.8.1 apparently was overly optimistic, especially since we need to collaborate with tooling in order for it not to break debugging... but it looks like it'll come eventually and maybe we'll get it sorted just in time for 0.8.2 at least.

[2021-01-29 17:19] axic commented on #10688
What would be interesting is to consider the gas costs in the optimiser. Currently as you have identified, gas wise the above step makes a lot of sense. It may not make sense anymore however if opcodes are repriced. There is indication [here](https://notes.ethereum.org/@poemm/evm384-update5#EVM-Repricing) that repricing may be possible in the future.

[2021-01-29 18:22] hrkrshnn commented on #10688
@axic Is that relevant for `mulmod` and `addmod`?  Is there a plan to change the cost of these specific opcodes?

I do agree with you in general, that our simplification rules need to be re-looked after any repricing.

[2021-01-29 18:53] axic commented on #10688
Relevant for all opcodes, especially arithmetic opcodes. If any repricing is going to happen, it won't happen for at least 2 hard forks (1 year) I would say, but still good to keep in mind.

[2021-01-29 23:26] frangio opened #10868 "Wrong version was published as solc@0.8.1 on npm?"
There is something wrong with the `solc@0.8.1` package on npm. It reports itself as being version `0.8.0`:

[code]

Besides, it doesn't seem able to compile files with pragma `0.8.1`.

[2021-01-30 04:51] ViralTaco commented on #10725
I've looked more into… And errrr. I think, it's ok. Like we don't need the code to be valid. Let's just fork the standard, it's faster and probably won't break as much code. 😥

[2021-01-30 09:33] cameel commented on #10868
Indeed, looks like the 0.8.1 was published to `npm` with an older `soljson.js` binary. The problem is only in the npm package because `solc-bin` does contain the [0.8.1 binary](https://github.com/ethereum/solc-bin/blob/gh-pages/bin/soljson-v0.8.1+commit.df193b15.js) and if you clone `solc-js` and do `npm install` manually, it downloads the latest version.

Unfortunately I don't have credentials to

[2021-01-30 21:31] nventuro commented on #10463
`immutable` is a fantastic feature, in my opinion the best one developed in recent time by far. The number of design patterns it enables with minimal gas cost is surprisingly high.

...but not being able to read an `immutable` variable during construction is a huge limitation. This might not be obvious at a first glance, since you could always store whatever is assigned to `immutable` locally, and

[2021-01-31 01:11] degrigis commented on #7978
Hey there, I completely forgot about this issue, sorry!
We eventually moved from this particular project, but iirc @chriseth answer was on point, there was a mismatching between boost libraries :)

[2021-01-31 10:31] cameel commented on #7978
Thanks for the update!

I'm closing it in that case.

[2021-01-31 10:31] #7978 closed, assigned to nobody

[2021-01-31 17:45] Neyromancer commented on #9601
if this problem does not block anything. i am still working on it. it took a bit more than expected but guess it is only due to personal reasons.

[2021-02-01 10:22] chriseth commented on #10868
It looks like npm does not allow this to be fixed. We currently do not know how this happened, the publish process usually updates the binary directly before publishing.

Note that only the npm package is affected, not the binary in solc-bin, so if you use `loadRemoteVersion` and use a framework that allows to switch Solidity versions, you are probably fine.

Sorry that this happened.

[2021-02-01 10:27] chriseth opened #10869 "New builtin `literalbytecode`"
For specific features on other chains, it might  be useful to allow a special Yul builtin that can be used to inject raw bytecode into the binary. In particular, the optimism project would need this to inject a known sequence of opcodes that is an exception to the on-chain pureness checker.

This bytecode can not use any features of the assembler (for example no jump labels).
If it is not stack-he

[2021-02-01 10:28] bshastry opened #10870 "[codegen] bad cast during pop of storage array"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/c7dfd78e57c5ad7abd485dc1cc13d8f0ab09d431/libsolidity/codegen/ExpressionCompiler.cpp#L1020

I suspect something is wrong with parsing `data.pop` (minus the parentheses)

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2021-02-01 11:22] chriseth commented on #10463
Since the order of construction is a bit difficult, this can lead to problems especially with multiple inheritance. We could try to do some static analysis coupled with runtime errors, but it's a bit tricky to get this working in all cases, I think.

[2021-02-01 13:41] frangio commented on #10463
@chriseth What problems would it cause exactly? Reading an immutable variable that hasn't been assigned yet should return its default zero value, like storage variables do.

[2021-02-01 13:44] frangio commented on #10463
I should note, we're extremely interested in this feature for OpenZeppelin Contracts. We want to be able to use immutable variables to improve gas efficiency but we don't want to impose strange usage limitations on the internal functions that happen to read those immutable variables. We might be okay with releasing an initial version with this limitation if you plan to remove the limitation relati

[2021-02-01 13:45] frangio commented on #10480
I believe this issue is missing the `bug` label.

[2021-02-01 14:09] chriseth commented on #10480
It's not a bug, it was a design choice - maybe a bad one :)

[2021-02-01 14:37] chriseth commented on #10463
I actually don't think we should allow the default value to be read - this contradicts the `immutable` property. Read before write should be detected at compile-time as much as possible and at runtime through a Panic if it is too complicated to detect.

[2021-02-01 16:34] Debendranath opened #10871 "Mapping data structure"
contract MyMapping {

    mapping(uint => uint) public myMap;

    function store(uint key, uint val) public {
       myMap[key]=val;
    }

    function retrieve(uint key) public view returns (uint){
        return myMap[key];
    }
}

In the above code, how many key values I can store in myMap? Can I store all the possible 2^256 entries as key values in the mapping myMap (assuming the size of ui

[2021-02-01 16:37] chriseth commented on #10871
You can store all possible entries in the mapping in theory, but in practice, nobody can afford the gas costs for that.
Yes, storage values that are modified are stored in the Ethereum blockchain.

This issue is not really suited for the issue tracker in this github repository. If you have further questions, please use https://ethereum.stackexchange.com/ or similar sites.

[2021-02-01 16:37] #10871 closed, assigned to nobody

[2021-02-01 17:22] #10703 closed, assigned to nobody

[2021-02-02 07:52] jacob-eliosoff commented on #10698
Not a huge deal, but I missed this feature today too (@MicahZoltu's `apple`/`durian` usage above).  Making it possible to modify expressions makes it easier to write functional aka pure (or at least expression-based rather than stateful) code, which I think should generally be encouraged...

[2021-02-02 09:26] bshastry opened #10874 "[PostTypeChecker] Null deref because declaration referenced in the override specifier has unset type"
## Description

[code]

references a nullptr here

https://github.com/ethereum/solidity/blob/dde6353c5d490009a8ec13978462190e4f7a1528/libsolidity/analysis/PostTypeChecker.cpp#L234

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

[2021-02-02 09:44] chriseth commented on #10868
Since we cannot really delete/modify the version, we decided to deprecate the 0.8.1 npm package as soon as 0.8.2 comes out.

[2021-02-02 09:46] chriseth commented on #10870
I think the best fix here would be to retrieve the type of the array from the function type instead of the expression. This means the array type needs to be stored with the function type - that probably needs another field in the function type.

[2021-02-02 10:59] leonardoalt opened #10875 "[SMTChecker] Virtual resolution is still broken for constructors"
The fix in https://github.com/ethereum/solidity/pull/10850/files#diff-25ffc7f23a998f16fd91366b10f609936dc12d46cec28f7e69b9d6a458fd665cR2865 didn't take constructors into account, but I think it should:
[code]
The SMTChecker wrongly reports that the assertion fails because `x = 2`.

[2021-02-02 11:03] chriseth commented on #10840
Great!

[2021-02-02 11:06] chriseth commented on #10874
The TypeChecker shuold result in an error here and thus the PostTypeChecker should not run.

[2021-02-02 11:07] chriseth commented on #10874
@marenz do you want to take this?

[2021-02-02 13:23] MrChico opened #10876 "[SMTChecker] False positive for ternary expressions in chc engine"
Compiling the following contract:
[code]
with solc-0.8.1
[code]
reports:
[code]
Despite the fact that `x` is constrained to be larger than 0 in this path.
Translating the ternary to an if expression makes the error disappear.

[2021-02-02 13:44] leonardoalt commented on #10876
I guess we do need the `currentPathConditions` in the CHC targets, because the ternary operator is implemented using `visitBranch` and not blocks. But I'm not sure that would work, because the expressions given by `currentPathConditions()` might not fit what's in the current predicate

[2021-02-02 15:46] cameel commented on #9601
There's no hurry. It would be pretty helpful, especially in cases like https://github.com/ethereum/solidity/pull/10776#discussion_r559728114 but fixing this is not a priority right now so you can work on it at your own pace.

[2021-02-02 17:00] moodysalem opened #10881 "Solidity compiler error NatSpec multiple return value for struct in interface"
## Description

Compiler throws error parsing multiple NatSpec `@return` annotations on an interface that documents the return values of what is implemented as a struct

[code]

## Environment

- Compiler version: 0.7.6, 0.8.0, 0.8.1
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): n/a
- EVM execution environment / backend / blockchain client: solid

[2021-02-03 07:27] chriseth commented on #10381
I'm starting work on the underlying mechanism for use in `catch`. The problem of exposing this to the user is still how to deal with the actual values in case of an error. We can use a success flag:
[code]
but this would make `value` accessible even in case of failure.

[2021-02-03 09:33] bshastry opened #10882 "[OverrideChecker] ICE due to override having different signature"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/358324ed3e261dd08ef39e947fc3d4b393427573/libsolidity/analysis/OverrideChecker.cpp#L583

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2021-02-03 10:50] Marenz commented on #10874
Sure, I'll take it.

[2021-02-03 11:55] Marenz commented on #10874
Though, I am not sure it should already error in the TypeChecker.. the PostTypeChecker is doing the type checker here and it just seems to assume too much about the type.. or do you think we should have an extra visitor for `OverrideSpecifiers` in TypeChecker? Do we have all the type information at that point already?

[2021-02-03 12:19] chriseth commented on #10874
The problem is that the post type checker is run at all even though there was a problem during type checking.

[2021-02-03 12:22] ekpyron commented on #10869
I guess "ignoring the sequence" entails assuming worst possible side-effects?

[2021-02-03 13:49] axic commented on #10869
There has been similar discussions in the past, mostly revolved around introducing new user-defined opcodes (#3215). (Additionally at the time we did not have dialect, but perhaps with dialect it is a more delicate question?)

I think the capability is interesting to be discussed, but not sure which is the better approach: inserting verbatim data vs. capability to define new opcodes.

For this spe

[2021-02-03 13:51] drortirosh opened #10887 "[Sol->Yul] Calldata string<->bytes conversion not implemented"
## Description

[code]

compiling to "bin" or "asm" works correctly. only "--ir" fails.

## Environment

[code]

(verified that the same bug appears in 0.8 too)

## Steps to Reproduce

Attached [forwarder.zip](https://github.com/ethereum/solidity/files/5918806/forwarder.zip)

Genereated with:
[code]

Its really tricky to find the minimal source to reproduce, since the crash doesn't provide any sou

[2021-02-03 14:01] axic commented on #10887
`--ir` is a modifier, i.e. `--ir --bin` will return the bytecode after the IR, while `--bin` will return the bytecode through the legacy codegen.

Please note that the `--ir` always uses abi coder v2 and the manual setting to v1 is ignored. It will also display a warning to that effect.

I checked with `develop` and it still appears, albeit need to remove the pragmas in your example. Please note t

[2021-02-03 14:15] axic commented on #10887
Here's the minimal example:
[code]

[2021-02-03 14:31] chriseth commented on #10887
Is it only for string <-> bytes conversion? should be a no-op.

[2021-02-03 14:31] chriseth commented on #10887
I guess that's also why we did not have a test.

[2021-02-03 14:34] axic commented on #10887
Yes it is a no-op, but should have a test :)

[2021-02-03 15:35] bshastry opened #10889 "[soltoyul] ICE in setLValue because _lvalue.type.dataStoredIn(DataLocation::CallData) is true"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/8a4e6acdac8d11ee671f084d96d82de63f684812/libsolidity/codegen/ir/IRGeneratorForStatements.cpp#L2923

## Steps to Reproduce

[code]

[2021-02-03 15:37] bshastry opened #10890 "[soltoyul] ICE in IR generator due to invalid yul code generation"
## Description

This is a meta-issue for all Sol->Yul code gen failures

- [x] https://github.com/ethereum/solidity/issues/10916
- [x] https://github.com/ethereum/solidity/issues/10917
- [x] https://github.com/ethereum/solidity/issues/10918
- [x] https://github.com/ethereum/solidity/issues/10919
- [x] https://github.com/ethereum/solidity/issues/10920

[2021-02-03 15:39] chriseth commented on #10869
Thank you for linking the old issue again, @axic - I was not aware that there could be a unified solution.
So something like this could actually work - not sure if we want to make it stand out more:
[code]
It essentially say that it takes three items from the stack and puts three items on the stack. It promises that the stack underneath is unmodified, but that cannot be checked by the compiler (si

[2021-02-03 15:40] bshastry opened #10891 "[soltoyul] ICE due to invalid use of selector function"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/8a4e6acdac8d11ee671f084d96d82de63f684812/libsolidity/codegen/ir/IRGeneratorForStatements.cpp#L1699

## Environment

- Compiler version:
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduc

[2021-02-03 15:44] ekpyron commented on #10869
As a crazy proposal: yul is supposed to be a universal assembly language and all - what about having a generic mechanism for producing bytecode in yul similar to let's say contract creation? E.g.
[code]
Would introduce an opcode 0xE0 expected to take two arguments and return one.

We'd then just interpret this as yul reading the bytecode to be generated from returndata...
It could even have a mech

[2021-02-03 15:55] bshastry opened #10892 "[soltoyul] ICE in IR generator for function call because the assertion functionType->kind() == FunctionType::Kind::Internal || functionType->kind() == FunctionType::Kind::DelegateCall is violated"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/8a4e6acdac8d11ee671f084d96d82de63f684812/libsolidity/codegen/ir/IRGeneratorForStatements.cpp#L904

## Environment

- Compiler version:
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduce

[2021-02-03 17:36] bshastry commented on #10890
Another (different) test case that leads to the same ICE but looks like a different issue at first glance

[code]

[2021-02-03 17:39] bshastry opened #10894 "[Sol->Yul] ICE due to invalid variable kind"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/8a4e6acdac8d11ee671f084d96d82de63f684812/libsolidity/codegen/ir/IRGeneratorForStatements.cpp#L2353

## Environment

- Compiler version:
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduc

[2021-02-03 17:49] bshastry commented on #10890
One more test case that fails with the same ICE

[code]

[2021-02-03 17:55] bshastry opened #10895 "[Sol->Yul] ICE due to left shift being applied on non integer/fixed bytes type"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/7405dc5b7fa511626946591595d53c4bb0b28d41/libsolidity/codegen/YulUtilFunctions.cpp#L390

Shouldn't it throw unimplemented assertion instead because fixed point type is not yet implemented?

## Environment

- Compiler version:
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execu

[2021-02-04 09:22] leonardoalt commented on #10881
I *think* multiple `@return` tags are not allowed for the same item. Of course it should fail more gracefully than that if that's the case.
One way to make your code work is:
[code]

[2021-02-04 09:33] #10887 closed, assigned to mijovic

[2021-02-04 13:12] #10874 closed, assigned to Marenz

[2021-02-04 14:01] ekpyron commented on #10519
We could actually run *all* our test files in general with the smtlib engine - it should be fast enough and would catch ICEs in the encoding part at least.

[2021-02-04 14:03] cameel commented on #10519
Running it on all tests will also be much easier when we replace the pragma with a command-line flag.

[2021-02-04 15:16] franzihei opened #10898 "[Docs] Avoid search results showing docs of old Solidity versions instead of newer ones"
It seems that by adding a ``robot.txt`` file in the documentation folder we can specify which versions should be ignored by search engines for indexing, means we can disallow ranking old versions in the search results instead of new versions.

Resources:
- This is how python does it (as an example): https://docs.python.org/robots.txt
- [How to use a robot.txt file in the readthedocs docs](https://

[2021-02-04 15:26] #10859 closed, assigned to nobody

[2021-02-04 15:48] bshastry commented on #10890
Another one

[code]

[2021-02-04 17:46] moodysalem commented on #10881
They are allowed for other functions (and this is explicitly documented to be how you handle multiple return variables) they just break here because of the implementation being a public struct state variable

This gets it to compile but doesn't output equivalent docs

[2021-02-04 18:01] hrkrshnn commented on #9765
For future reference, this would need https://github.com/ethereum/solidity/pull/10332 for a proper implementation.

The following cases need to be supported:
1. `emit L.Event()` inside a contract function, where `L` is a library.
2. `emit L.Event()` inside a free function that gets called from a contract.
3. `emit Event()` inside an internal library function (almost similar to the free function.)

[2021-02-04 21:18] axic commented on #10869
I'm still not fully clear how this functionality would help Optimism, @ben-chain if you could explain? My understanding is that Optimism replaces state access opcodes with a call to the manager (which equals to the sender), e.g. `balance` would be replaced with `call(sender(), ..., <encoded query>)`.

The way this is accomplished is by changing the codegen of Solidity. How would a functionality li

[2021-02-04 21:19] axic commented on #10869
@chriseth in your proposal how do the stack items get encoded?

[2021-02-04 21:55] chriseth commented on #10869
@axic all you say can be used - as far as I know, the problem is that the on-chain validator has to verify that the bytecode has been produced using the above procedure, since other ways to call into the manager and especially use its returned data destroy certain promises (failures have to bubble up, for example). The way this is currently done is that the validator only allows a certain sequence

[2021-02-04 22:38] ben-chain commented on #10869
Thanks you guys for opening this!  This is a super important feature for us to have.

@chriseth is correct that the difficulty comes from requiring on-chain enforcement that bytecode conforms to this manager interface.  It is straightforward enough to modify the Yul IR to call out to the manager, but we must also enforce that contracts are *only* accessing stateful opcodes to query the manager con

[2021-02-04 22:42] axic commented on #10869
So basically this definition provides no possibility to encode immediates or to build opcodes. In that sense @ekpyron's proposal is much better.

[2021-02-05 04:55] nventuro opened #10900 "Mismatching data locations are allowed in overrides"
It is possible to override functions that expect `memory` arguments with implementations that expect them in `calldata`. Offending code compiles with no warnings, but causes runtime errors.

I've observed this behavior in both 0.7 and 0.8 versions, but haven't tested how far back it goes.

Sample contract:
[code]

I haven't tested too much the runtime issues, but I have seen some inconsistent beha

[2021-02-05 08:41] bshastry opened #10901 "[EVMHost] Enable tracing features for fuzzing"
## Abstract

Aim is to compare optimised program behavior with unoptimised program behavior. Let trace T be a proxy for program behavior. At a minimum, trace T must include
  - storage state of host (see #10899 )

TBD. CC @axic @chriseth

## Motivation

## Specification

## Backwards Compatibility

[2021-02-05 11:02] ekpyron commented on #10869
Well, more flexible definitely, but also orders of magnitude more complicated, of course. (Especially since it's pretty much impossible to make the optimizer aware of the opcodes that way, so whatever is generated would have to be annotated explicitly... not to speak of having to define a dialect and execution schema for it, pulling in the interpreter to production code, etc., etc. - if the simple

[2021-02-05 14:55] hrkrshnn commented on #10891
I don't know why we allow the above code to be compiled in the old codegen. I think we should only allow the usage of `this.g.selector`.

[2021-02-05 15:00] hrkrshnn commented on #10891
@ekpyron Just saw that this was allowed in https://github.com/ethereum/solidity/pull/8137/files#diff-5cc133bfc337e9ca7fe7ee9842d5ddfa492fa559149cf8acec4a7d9ede50c9aaR2980

Is there a reason why we allow `g.selector` despite being an internal function call?

[2021-02-05 15:06] hrkrshnn commented on #10881
Tagging @Marenz

[2021-02-05 16:05] hrkrshnn commented on #10890
The first two are about switch statements and the last two are about mismatch in function arguments. [Here](https://gist.github.com/hrkrshnn/331a7447477238cf6c6375f54ed634ea) is the output. I'll take another look later.

[2021-02-05 16:12] axic opened #10903 "Introduce concat or bytes.concat"
This came up frequently and has been recently discussed under #9829. One of the uses of `abi.encodePacked` is for it to perform concatenation.

Many EIPs use snippets to explain the rules and many libraries rely on `abi.encodePacked`. The first impression is that they actually rely on the weird "encoding" it performs, but a closer look reveals that in many cases they only rely on the concatenation

[2021-02-05 16:29] axic commented on #10898
Interesting. What would we consider deprecated? Anything older than 3 breaking releases? A decision based on the user survey?

[2021-02-05 16:39] bshastry commented on #10890
Thanks for the gist. It looks like the problem is function `modifier_A_10` is not generated but called.

[2021-02-06 01:12] frangio commented on #10900
I haven't been able to debug this on Remix because it hangs, but I imagine this is reinterpreting a memory pointer as a calldata pointer, or vice versa.

This looks like a pretty serious bug that could be used to write underhanded code.

[2021-02-06 17:51] fxfactorial opened #10904 "core dump with SMTChecker"
I built off of commit: df193b15c2dfb4ea10b2c2fb4c2baea953edb138 on Linux pop-os 5.8.0-7642-generic #47~1612288990~20.10~b8113e7-Ubuntu SMP Wed Feb 3 02:27:26 UTC 2 x86_64 x86_64 x86_64 GNU/Linux

and tried out the SMTchecker in my contract with `pragma experimental SMTChecker;` in a truffle project

and i got this stack trace (via gdb coredump)

[code]

[2021-02-06 18:36] leonardoalt commented on #10904
Hi @fxfactorial ,
The crash happens inside z3, the SMT/Horn solver used by the SMTChecker. We also noticed and reported to them a few of those, which mostly have been fixed in their latest release.
What's the version of the z3 you have installed? The crash should (hopefully) go away if you use z3 4.8.10 (their latest release).

[2021-02-06 21:02] cameel commented on #10900
The ability to use a different data location in the overriding function seems intentional (we even have syntax tests covering it: [`calldata_memory_interface_struct.sol`](https://github.com/ethereum/solidity/blob/v0.8.1/test/libsolidity/syntaxTests/inheritance/override/calldata_memory_interface_struct.sol), [`calldata_memory.sol`](https://github.com/ethereum/solidity/blob/v0.8.1/test/libsolidity/s

[2021-02-06 21:38] cameel opened #10905 "Inconsistent rules for .address and .selector"
## Description
Rules for deciding whether the code using `.address` or `.selector` on public functions is valid or not seem pretty random. It sometimes works without `this` and sometimes doesn't. Behavior is different between for `.selector` and for `.address`. It also changes depending on whether the value is actually used or not.

## Example
[code]

## Environment
- Compiler version: 0.8.1
- Ope

[2021-02-06 21:41] cameel commented on #10891
@hrkrshnn It's even worse. Rules are different for `.address` and `.selector` and there are more factors that affect what is allowed and what is not. The rules seem pretty random to me. I think this is a separate issue so reported as #10905 (see the example I included there). For the ICE here I think it's best to assume that if it passes on the old codegen, it should work with IR too.

[2021-02-06 22:45] fxfactorial commented on #10904
@leonardoalt so I built from source and that fixed the core dump but now seems z3 found another issue?

[code]

[2021-02-06 23:09] teddywilson opened #10906 "Support for Bimaps"
It would be great if Solidity would support bidirectional mappings. As far as I understand, mappings only work in a single direction. An example of this, in C++, is the [Boost Bimap](https://www.boost.org/doc/libs/1_67_0/libs/bimap/doc/html/index.html).

A simple example might be where you have TokenIds and Addresses. If you want to be able to get the address for a given TokenIds (in constant time

[2021-02-07 00:04] cameel commented on #10906
There are currently no plans for that as far as I know.

There are many useful data structures and bimap is not necessarily the most important one. I don't think they should be all baked into the language anyway. That work is probably better spent towards introducing templates #869 which would make reusable custom implementations of such structures possible. Maybe a bimap could one day be a part o

[2021-02-07 00:13] cameel commented on #10904
Looks like this problem: https://github.com/Z3Prover/z3/issues/4305

It's still open so it might not help but try compiling with Z3 4.8.10. That's the latest version and the one we normally use (though some older ones are still supported).

[2021-02-07 13:37] fxfactorial commented on #10904
@cameel not sure where the 4.8 was coming from though - I compiled z3 from source and installed as such (commit 615cafe39b8c948eafcad843d36a9a71938d98e3) and z3 reports itself as

Z3 version 4.8.11 - 64 bit
so I assume the make install corresponding libs is same (I did apt purge z3 too for the apt installed one)

[2021-02-08 10:22] chriseth commented on #10905
The `Expected identifier` errors are from the parser - I guess it has a missing "use keyword for identifier" workaround, which maybe is also just fine.

[2021-02-08 10:31] ekpyron commented on #10905
It's not exactly random - ``address`` and ``selector`` are allowed, whenever the function is referred to as external function, i.e. using ``this.``. The expression-statement version of those could arguably be changed, but then again those don't have an effect anyways, so maybe it's fine, yeah.

[2021-02-08 10:34] ekpyron commented on #10905
Ah, no, now I see what you mean... yeah maybe we should disallow ``selector`` on functions used in internal context...

[2021-02-08 10:36] ekpyron commented on #10905
However, ``selector`` just depends on the arguments and can be used without there actually being an actual external function pointer, so we can fetch a selector as long as it's a function that *might* be used externally. On the other hand we only have an address, if we actually have it. So also the difference between the two does make sense...

[2021-02-08 10:38] ekpyron commented on #10891
As mentioned in the issue: it does make sense that the rules for ``.address`` and ``.selector`` are different...
We could of course disallow ``.selector`` for functions unless they are explicitly referred to in external calling context. But why would we?

So as to:

I would ask the contrary: is there any particular reason for *not* allowing it :-)? Those are functions that *can* be used externally

[2021-02-08 10:44] ekpyron commented on #10891
I mean you say ``g`` being an internal function, whereas ``this.g`` is an external function... if you look at it that way, probably only the latter should get ``.selector``.
But you can also look at ``g`` being a *public* function (that's how it's declared) - so it generally has a ``.selector`` member. Just ``g(...)`` vs ``this.g(...)`` are ways to *call* this one *public* function internally or e

[2021-02-08 10:45] ekpyron commented on #10891
So maybe best just to implement it for sol->yul for now and we can keep an issue about disallowing it, if we want to do that.

[2021-02-08 10:56] hrkrshnn commented on #10891
My main issue is that

[code]
produces
[code]

whereas

[code]
compiles fine.

If we are allowing `f.selector`, just because we can compute the selector, then I think both cases should be allowed.

[2021-02-08 11:04] cameel commented on #10905
Well, I know that it's not really random but there are at least 2 or 3 things (either bugs or design decisions) that make the rules complex so it may just as well be random from user's perspective :)

At least the usage with `this` is consistently allowed if we ignore the `Expected identifier` case.

Unless it happens in other expressions where it would not be a no-op. The fact that `this.g.addres

[2021-02-08 11:12] chriseth commented on #10891
Both cases should be disallowed, internal functions do not have selectors. So to me, this is an issue with inheritance and we should check if there is any deeper problem.

[2021-02-08 12:10] ekpyron commented on #10891
In the end I think the reason this is allowed is since we wanted to be able to globally access the selector via the contract name, i.e.
[code]

Even or especially if ``C`` does *not* inherit from ``B``.
But then it would be weird, if changing this to having ``C`` inherit from ``B`` were to change this, so we wanted to allow it for that case, too. But, unfortunately, in that case ``B.g`` internally

[2021-02-08 12:14] ekpyron commented on #10891
Note that
[code]
also throws in Sol->Yul for the same reason, while removing ``is B`` does not. And at least this should work, independently of what we should do about ``g.selector``.

[2021-02-08 12:17] ekpyron commented on #10905
A bit weird to now double-discuss this with https://github.com/ethereum/solidity/issues/10891 :-). Short version of what I said there: the fact that ``g.selector`` is valid is a side-effect of ``B.g.selector`` being valid and us assigning both of them the same type internally. The latter works and should work (that was an explicit feature request), even if used from a contract that does not inheri

[2021-02-08 12:17] #10889 closed, assigned to mijovic

[2021-02-08 12:25] chriseth commented on #10900
This was neccessary when external functions were still restricted to calldata and public to memory. Otherwise it was impossible to override an external function with a public one. What should not be allowed is to override memory with calldata. If you do this, calling the function locally can lead to problems. In both cases, we should check that the parameter type is properly determined.

[2021-02-08 12:27] cameel commented on #10905
Any why not just allow `h.selector` instead? As a bonus, it would not even be a breaking change.

[2021-02-08 12:30] chriseth commented on #10905
If we allow `h.selector`, we have to check whether the function's parameters are valid outside of the contract which turns this into an even more complicated rule.

[2021-02-08 12:30] ekpyron commented on #10905
Hm, maybe :-). My guess without looking into it would be that internally the compiler treats ``h`` just as having ``FunctionType::Kind::Internal``, i.e. you no longer know from its type alone that it's actually ``public``... and we can't just allow it for all internal functions, since they may use internal types, s.t. there is no selector... but yeah - both disallowing ``g.selector`` and allowing

[2021-02-08 12:35] ekpyron commented on #10905
As long as ``h`` is public, it should be fine, shouldn't it? That would be a consistent rule - as long as we refer to a public function, we can fetch a selector... but still probably messy internally, since ``h`` gets an internal function type kind... so the general problem is that we collapse too many function types in the AST/compiler type system - maybe we should have spent more time on that in

[2021-02-08 13:37] jacob-eliosoff commented on #10698
Doing some gas golfing today and I really missed this feature again...  Too many cases where doing the gas-optimal thing turns one line of code into three.

[2021-02-08 14:48] bshastry opened #10914 "[SMTChecker] Bad cast in arrayPushPopAssign"
## Description

[code]

throws std::bad_cast here

https://github.com/ethereum/solidity/blob/ec62d12319b1b9731da5822155c428d651ab0a0a/libsolidity/formal/SMTEncoder.cpp#L1658

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## S

[2021-02-08 14:49] bshastry commented on #10914
May be related to #10870

[2021-02-08 15:40] moodysalem commented on #10881
IMO the best solution to this removes the natspec generation from the solidity compiler. It's really rough that the compilation breaks due to this. Just break it out into its own tool or scrap it and let third parties build it

[2021-02-09 11:05] bshastry commented on #10890
Another example with new codegen against spuriousdragon

[code]

To reproduce

[code]

[2021-02-09 11:23] bshastry opened #10916 "[Sol->Yul] Invalid code generation when modifier invoked with constructor"
## Description

[code]

results in the following invalid Yul code
[code]

To reproduce

[code]

[2021-02-09 11:26] bshastry opened #10917 "[Sol->Yul] Invalid code generation when deleting function type storage var"
## Description

[code]

results in the following invalid Yul code

[code]

To reproduce

[code]

[2021-02-09 11:32] bshastry opened #10918 "[Sol->Yul] Invalid code generation due to function type input argument in constructor"
## Description

[code]

results in following Yul code

[code]

[2021-02-09 11:34] bshastry opened #10919 "[Sol->Yul] Invalid code generation due to address.call() for spuriousDragon only"
## Description

[code]

results in invalid Yul code gen for spuriousDragon (```$ solc --ir --evm-version spuriousDragon test.sol```)

[code]

[2021-02-09 11:39] bshastry opened #10920 "[Sol->Yul] Invalid code generation for address call against spuriousDragon and homstead"
## Description

[code]

results in invalid Yul code (```solc --ir --evm-version homestead test.sol``` likewise spuriousDragon)

[code]

[2021-02-09 11:44] axic commented on #10920
[code]

Problem is `expr_9_component_2` is missing. Probably the generator is not using the tuple generator properly.

[2021-02-09 11:46] axic commented on #10919
[code]

Like #10920, here the tuple is incomplete too. Probably the same error.

[2021-02-09 11:51] axic commented on #10918
Problem is this call on the top: `        constructor_D_11(_1)`

It is defined as
[code]

Probably it doesn't handle tuples properly, given function selector is two stack items / two vairables.

[2021-02-09 11:54] axic commented on #10917
[code]

Yet another tuple issue, calling `update_storage_value_t_function_external_nonpayable$__$returns$__$_to_t_function_external_nonpayable$__$returns$__$` is not satisfied because the last argument is assumed by the IR to fill in two arguments.

[2021-02-09 11:57] bshastry commented on #10895
Reopening because

[code]

when ```solc --ir test.sol``` throws

https://github.com/ethereum/solidity/blob/7405dc5b7fa511626946591595d53c4bb0b28d41/libsolidity/codegen/YulUtilFunctions.cpp#L413

[2021-02-09 14:02] axic commented on #8802
While `x-` seems to be widespread given its use in email, I think @cameel's suggestion for `@custom:<tag>` is interesting.

In #10825 there is a proposal to have `@spec[dialect]`.

Maybe we should consider using the same syntax for both (using `since` as an example custom tag):
- `@spec[dialect]` and `@custom[since]` or
- `@spec:dialect` and `@custom:since`

[2021-02-09 14:05] hrkrshnn commented on #10881
@moodysalem Which that sounds like a good idea, NatSpec, in its current state would be hard to implement externally. For example, it has to understand inheritance hierarchies; this is significantly easier to do it during the full compilation.

[2021-02-09 14:38] chriseth commented on #10869
@axic what do you mean by "build opcodes"?

[2021-02-09 14:41] chriseth commented on #10903
I don't think a global `concat` would be nice. Maybe we should start introducing "built-in" files that you can the use as
[code]
(note that there are no quotes around `utils`)

[2021-02-09 16:43] bshastry commented on #10895
Oops, looks like `fixed` type shift amount also leads to a different failure

[code]

throws

https://github.com/ethereum/solidity/blob/43319574e79ec2664cc3e547e11b7d635f25ca0f/libsolidity/codegen/ir/IRGeneratorForStatements.cpp#L2753

[2021-02-09 16:49] agroce opened #10926 "[SMTChecker] ICE in auto solidity::frontend::SMTEncoder::functionCallToDefinition(const solidity::frontend::FunctionCall &, const solidity::frontend::ContractDefinition *, const solidity::frontend::ContractDefinition *)::(anonymous class)::operator()(const auto *) const [_ref:auto = solidity::frontend::MemberAccess]"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

Looks like all other deaths in isDynamicallyEncoded were fixed, so this is a new variant (the structure looks different to me at a glance).

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.8.2-develop.2021.2.9+commit.43319

[2021-02-09 16:55] hrkrshnn commented on #10895
These fixed point failures are just annoying. All they need is adding another assert.

Maybe the fuzzer can be configured to ignore fixed point declarations somehow, at least until fixedpoint type is properly implemented?

[2021-02-09 16:58] bshastry commented on #10895
They can be selectively ignored if they throw a specialized assertion. However, current fuzzers don't have a notion of fixed point type. Grammar based fuzzing is in the works but it is going to take a while :(

[2021-02-09 17:00] mijovic commented on #10895
Created another PR, checked for both left and right shift
Hope this time it will fix it finally :)

[2021-02-09 17:59] agroce commented on #10919
@bshastry --  is solfuzzer going to automatically try spuriousDragon gen now, or do I need to manually get some fuzzers on this?

[2021-02-09 18:14] #10895 closed, assigned to mijovic

[2021-02-09 19:26] mudgen opened #10930 "ABIEncoderV2 runs into stack too deep"
This code will not compile using Solidity 0.8.1 and with compiler optimizations on:
[code]
But this same code does compile with no problem if compiler optimization is turned off or if it is compiled using Solidity 0.7.6 with `pragma abicoder v2;` and with compiler optimization turned on.

This is the error I get:
[code]

[2021-02-09 20:00] fxfactorial opened #10931 "Codegen runs into invalid swap request (17)"
I'm working off of

[code]
and don't know what caused this error but now i can't get away from it

[code]

[2021-02-09 21:07] hellwolf opened #10933 "Error handling of abi.decode"
## Abstract

Proposing the `abi.validate` function to provide a way for error handling before `abi.decode`.

## Motivation

When dealing with decoding input `bytes`, `abi.decode` is often used. It is often necessary to do sanity checks on user provided inputs, for example userData in ERC-777 or user data in [Superfluid protocol](https://github.com/superfluid-finance/protocol-monorepo/). However in

[2021-02-09 23:44] chriseth commented on #10930
Simplified to
[code]
The issue is not the compiler version but ABI coder v2 - it also fails in 0.7.x with abi v2 activated.

[2021-02-09 23:45] chriseth commented on #10933
Potential duplicate of #10381

[2021-02-09 23:47] mudgen commented on #10930
@chriseth Is `pragma experimental ABIEncoderV2;`   different than ABI coder v2?

Because it works with 0.7.* and `pragma experimental ABIEncoderV2;`

[2021-02-09 23:54] chriseth commented on #5647
Why did we call this `runtimeCode` and not `deployedCode`? :(

[2021-02-10 01:46] haltman-at opened #10935 "Unmapped code doesn't end up unmapped when called from a constructor"
## Description

Some code that, in a deployed context would be unmapped, in a constructor context instead gets mapped to the contract declaration node.

This is annoying for debugging because, when trying to track what's happened, it's hard to distinguish such implicit jumps from explicit ones in the code.  In a deployed context we can tell them apart because one goes into unmapped code.  In this

[2021-02-10 09:20] chriseth commented on #10930
For me it fails starting from 0.7.2, regardless of the pragma.

[2021-02-10 09:21] hrkrshnn opened #10938 "[Yul Opti] Consider changing the inline heuristic to allow inlining into bigger functions"
We can consider changing the heuristics for inlining. Say, increase the size limit of "really, really tiny functions."

https://github.com/ethereum/solidity/blob/develop/libyul/optimiser/FullInliner.cpp#L174-L184

This would be especially important inlining unchecked arithmetic function calls (maybe even checked?)

An example of a function that is currently not inlined and may actually be inlined

[2021-02-10 09:25] chriseth commented on #10938
This is true. Originally, this was not done due to fear of increased stack pressure. Since we do optimized stack slot allocation, inlining functions should actually not increase stack pressure at all, rather the opposite.

[2021-02-10 09:31] chriseth commented on #10938
Ah ok, this is actually not totally true: In a function call, arguments are brought up to the top of the stack, so the "working variables" are closer to the stack top than they would be in the inlined version.

[2021-02-10 09:32] chriseth commented on #10930
It is really weird why this optimizes so badly. What is the case is that the two return variables are only assigned at the very end, so this might work again when we change the stack allocation as we planned @ekpyron

[2021-02-10 09:35] ekpyron commented on #10938
Ideally, we wouldn't rely on that happening due to the function call, but just have an algorithm recognize the minimum amount of ideal places at which to shuffle variables, s.t. stack problems are avoided... still not sure how easy that is, though...

[2021-02-10 10:44] chriseth commented on #10930
I think this is a case where a function that is only used once is forcibly inlined even though the function it is inlined into is already quite large. So this could work again if the code is larger.

[2021-02-10 10:45] chriseth commented on #10938
I think this issue here is caused by too much inlining: https://github.com/ethereum/solidity/issues/10930

[2021-02-10 10:45] hellwolf commented on #10933
thanks @chriseth, it looks like so.  I am okay with any solutions you guys come up with, but do you think it would also be backported to 0.7.x or it is only for 0.8.x?

[2021-02-10 10:49] ekpyron commented on #10381
Algebraic datatypes (https://github.com/ethereum/solidity/issues/909) could be a way around that...

[2021-02-10 10:50] ekpyron commented on #10938
Yeah, at a quick glance I think that's an instance of the prototypical example of the most common abiv2 related stack height issues we currently have...

[2021-02-10 11:12] bshastry opened #10939 "[Sol->Yul] ICE due to arithmetic (addition) operation on fixed point variable"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/72c6932bf5a94e097d9ac5e8c4ea0290111b1b2b/libsolidity/codegen/ir/IRGeneratorForStatements.cpp#L2718

[2021-02-10 11:15] bshastry opened #10940 "[Sol->Yul] ICE due to shift operation applied on fixed point value"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/72c6932bf5a94e097d9ac5e8c4ea0290111b1b2b/libsolidity/codegen/ir/IRGeneratorForStatements.cpp#L2759

[2021-02-10 11:15] bshastry opened #10941 "[Sol->Yul] Consistently fail on fixed point types"
Meta issue for Sol->Yul fixed point failures could be signaled as such

- [x] https://github.com/ethereum/solidity/issues/10939
- [x] https://github.com/ethereum/solidity/issues/10940

[2021-02-10 11:17] chriseth commented on #10933
This is a very heavy change code change that I started already [here](https://github.com/ethereum/solidity/pull/10883/commits/7aa7e708f9e889cc0b0529654b0d2ae4bdaa153c#diff-c10bb1823788cdc6974420487177f1a6badb1a26da48fb36f0ad49d37422000d) and unfortunately would be a big amount of work to backport.

[2021-02-10 11:45] hrkrshnn commented on #10903
Does `concat` really have to take a variable number of `bytes memory`? I think we should just make it have two arguments. This would allow us to move it into the "standard library" in the future.

[2021-02-10 11:58] ekpyron commented on #10903
Could the optimizer deal with that properly (now or ever) :-)? A ``concat`` with a variable number of arguments can first sum up all length and allocate a huge chunk of result memory once. Iterated ``concat``s with two arguments would allocate a whole bunch of temporary arrays in between, but all of them will be required until the last one was created. And the size of the last one is unknown until

[2021-02-10 12:23] hrkrshnn commented on #10903
The uses for `abi.encodePacked` according to https://github.com/search?p=1&q=abi.encodepacked&type=Code is surprisingly mostly for a single argument!

[2021-02-10 13:13] axic commented on #409
Revisited the [nice summary from the OZ forums](https://forum.openzeppelin.com/t/designing-fixed-point-math-in-openzeppelin-contracts/2499) this Monday, and discussed some of this on Gitter.

My current impression is that we should split this up into two phases (this was mentioned in the OZ forums too):
1) Add a bare minimum support to the language and compile:
  - a single fixed128 type,
  - ABI

[2021-02-10 13:16] axic commented on #8802
An important point was brought up during the #10825 call that if random tags are allowed, that also means that mistyped versions of current natspec tags are allowed, which are then easy to miss given the compiler won't complain. One could argue this could be the duty of linters and not the compiler though.

[2021-02-10 13:28] cameel commented on #8802
Another idea: how about using a different initial character for custom tags? E.g. `#since` or `&since`?

[2021-02-10 13:29] chriseth commented on #8802
Note that strictly, natspec is only the `@notice` tag. So if we go the pragma route, we should call it `doctag-extension` or something.

[2021-02-10 13:32] mijovic commented on #8802
Or even for example `@#since`?

[2021-02-10 13:37] axic commented on #8802
Just to summarise, the following prefixes were suggested so far:
- `!since`
- `#since`
- `&since`
- `@x-since`
- `@_since`
- `@#since`
- `@-docgen-since`
- `@docgen.since`
- `@custom:since`
- `@custom[since]`

[2021-02-10 13:37] cameel commented on #8802
OK, I see that this has already been suggested above (`!` and `@_`) so it was not really a new idea :)

[2021-02-10 13:57] chriseth commented on #8802
Decision in call: Allow all tags that start with `custom:` without any warning.

[2021-02-10 14:09] chriseth commented on #10903
What about defining the `+` operator?

[2021-02-10 14:17] axic commented on #10903
Could also consider other operators for concatenation, such as `..`. (I just realised it is not used frequently, but in Lua, which I used for years 😬)

Also see: https://en.wikipedia.org/wiki/Concatenation

[2021-02-10 14:25] axic commented on #10903
Other operators were suggested:
- `++`
- `~`
- `||`

[2021-02-10 14:39] axic commented on #10903
Decision from call: `bytes.concat` with variadic arguments supporting fixed and variable length bytes.

We also discussed the option to have `bytesNN.concat`, but deferred decision. One use case people have is keccak hashing with `encodePacked`, because that has a memory wasting behaviour. There having `bytesNN.concat` would be beneficial. We concluded that we should attempt to improve memory hand

[2021-02-10 14:40] bshastry commented on #10919
iiuc, you may have to do this manually.

[2021-02-10 14:51] axic commented on #10869
So if I understand correctly, you want to have a code such as `CALL <jumploc> JUMPI 0 0 REVERT JUMPDEST` inserted and ensure the optimiser never changes this sequence.

With the above `verbatim` suggestion it is not possible to change the `jumploc` because the entire sequence would be a literal.

That's why the `PC` is mentioned so that one could write something like `CALL <size of the revert bran

[2021-02-10 15:29] axic commented on #10869
I meant to concatenate the bytecode to include immediate arguments. Such as `0xC0` + a (where a is treated as big endian shortest representation, just how PUSH is encoded). This is not possible if the code is a literal.

There are various proposals requiring immediate encoding, none of them (apart from `PUSHnn`) are part of the EVM and likely it will take a bit for them to be approved, but it woul

[2021-02-10 15:34] axic commented on #10869
A side note. One could define helpers such as
[code]

I wonder if these would be inlined properly by the optimiser, worth trying out.

@SergioDemianLerner you have proposed a similar construct to what is discussed here in #3215. Would `verbatim` as described in https://github.com/ethereum/solidity/issues/10869#issuecomment-773628951 be useful to accomplish your goals?

To take your `erase` example

[2021-02-10 15:36] ekpyron commented on #10869
Yeah... I mean with the generative approach I had before one could even generate jumpdests and jumps with fixed offsets referring to those jumpdests within the verbatim block, since one could just make the base offset at which the opcodes will be generated available as a builtin in the generating code... but I didn't bring that approach up in the call again myself, because I myself think it's most

[2021-02-10 15:37] axic commented on #10869
Re-reading #3215 I realised that @federicobond practically had the same suggestion as `verbatim`, with the difference of automatically deriving how many stack items are returned by the number of assignment of the result: https://github.com/ethereum/solidity/issues/3215#issuecomment-345469490

While this looks nice, it would fail to work if the builtin is not used part of an assignment statement.

[2021-02-10 16:26] mijovic opened #10943 "Run Metadata tests on all types of MetadataFormat"
For reference https://github.com/ethereum/solidity/pull/10863#discussion_r573565136

[2021-02-10 17:05] axic commented on #10931
This seems to be some code generation error on the regular EVM path (note `libevmasm`).

Can you post the source code please?

[2021-02-10 17:12] axic commented on #8802
I think we failed to state the formatting of the custom tag (this should apply to the regular tags too, with the exception of `:` for custom), but to be clear I think the following is a good rule: lowercase alphanumeric (a-z0-9) which can not start with a number (`^[a-z][a-Z0-9]*$`). Should it allow any symbols?

[2021-02-10 17:14] axic commented on #10825
Considering the current sentiment for `@custom:<tag>` in #8802, should we consider to use `@spec:<dialect>` here?

Or would that mean tools would be happy to go with `@custom:<freetext>` for the experimentation phase and revisit the `@spec` option when there is a baseline spec language agreed?

If the preference is to have `@spec <dialect> <freetext>`, does that mean the compiler has to verify thi

[2021-02-10 17:37] chriseth commented on #10935
This seems to be a bit tricky and is related to how the "current source location" is set inside the compiler context. The jump target you mention is a "low level function" and its location might just be taken oven from the previous code. On the other hand, that low level function is created from the Main contract and this it should be valid to sets its location to the Main contract. This is how fa

[2021-02-10 17:40] axic commented on #9046
Just like we have a codegen shortcut for assigning hashes to constants (#4024) and `address.code.length` (#10778), we could have a similar shortcut for the `keccak256(abi.encode*..)` and `keccak256(bytes.concat..)` (see #10903) cases.

We may want to be a bit reserved though, as this will incentivise this pattern, and I think we should add this shortcut if we believe in the long term we can have t

[2021-02-10 18:54] chriseth commented on #10381
Until we have algebraic datatypes, returning an additional bool might be a good solution. All our types should have a sane zero-value, at least those that can be abi-decoded.

[2021-02-10 19:35] hrkrshnn opened #10946 "IR bug syntaxTests/*/base_contract.sol"
[code]

[code]

`solc --ir`

[2021-02-10 19:39] cd1m0 commented on #10825
I am ok with `@spec:<dialect>`. Its nice to have uniformity in syntax.

Question: Can the `<freetext>` have line breaks in it?

In audits we often found predicates grew quite large, so we allowed line breaks in the Scribble syntax to make them readable. We denote the end of a Scribble annotation with `;`.

[2021-02-10 19:39] hrkrshnn opened #10947 "IR bug syntaxTests/modifiers/function_modifier_invocation_parameters.sol"
[code]

[code]

[2021-02-10 19:39] axic commented on #10946
Possibly duplicate of #10891

[2021-02-10 19:43] hrkrshnn commented on #10917
The test
[code]

From `test/libsolidity/syntaxTests/functionTypes/delete_function_type.sol`, also has the issue.

[2021-02-10 19:48] hrkrshnn opened #10948 "IR bugs on call to event accepting struct"
The file: `test/libsolidity/syntaxTests/abiEncoder/v2_call_to_v2_event_accepting_struct.sol`
[code]

and

The file `test/libsolidity/syntaxTests/abiEncoder/v1_inheritance_from_contract_emitting_v2_event.sol`

[code]

[2021-02-10 20:26] chriseth commented on #10825
Line breaks should be OK, I think they are contracted to regular whitespace.

[2021-02-10 20:42] #10916 closed, assigned to hrkrshnn

[2021-02-10 21:08] agroce commented on #10919
ok, I'll start up a run on this.  are homestead and spuriousDragon sufficiently different targets I should fuzz both?

[2021-02-10 22:30] axic commented on #10919
I would expect the following versions to have significant differences:
- <tangerinewhistle does not have the 63/64th rule
- <byzantium lacks support for returndata and staticcall
- <constantinople lacks bitwise shifting, create2, extcodehash
- <istanbul lacks chainid and selfbalance

Other hardforks only had repricings or precompiles, but those new precompiles do not have language level support an

[2021-02-11 00:48] agroce commented on #10919
@axic sounds good, I'll start up some runs targeting those.  I have a spuriousDragon running, nothing interesting yet but it usually takes a few days

[2021-02-11 13:10] #10892 closed, assigned to nobody

[2021-02-11 13:56] hrkrshnn commented on #10948
Closed by https://github.com/ethereum/solidity/pull/10950

[2021-02-11 13:56] #10948 closed, assigned to nobody

[2021-02-11 14:12] bshastry commented on #10946
Related to https://github.com/ethereum/solidity/issues/10891#issuecomment-775103029

[2021-02-11 16:32] #10947 closed, assigned to hrkrshnn

[2021-02-11 16:57] bshastry commented on #10894
Closed via #10953

[2021-02-11 16:57] #10894 closed, assigned to nobody

[2021-02-11 17:07] bshastry commented on #10926
Thank you for reporting the bug @agroce !

[2021-02-11 17:10] chanhosuh commented on #2675
Our team has stopped reading the several screens of warnings from OpenZeppelin, Chainlink, etc. that are being outputted and consequently we are missing the warnings from our own code now.  Wish there were an option to turn off the several screens of useless warnings so we can see the few from ours at the end only.  (you may debate if they are useless, but the vast majority are about license ident

[2021-02-11 17:19] axic commented on #7877
Moved from #10922:

These are the require statements in the ERC777 implementation of OZ (removed duplicates messages):

[code]

With the current syntax, one could create the following errors:

[code]

Is there any other option they could do with the current syntax?

If we consider having enum datatypes, then we could replace these with:
[code]

We could go further and say that errors are actually

[2021-02-12 09:41] franzihei commented on #10898
I'd deprecate everything older than 0.6.0.

Edit: Or, actually, if we wanted to promote updating more, we should consider "deprecating" everything that's older than 0.7.x. It will just mean the results won't be shown in Google search. People can still browse the Solidity docs for all versions.

<img width="943" alt="SolidityVersion" src="https://user-images.githubusercontent.com/41991517/107752295

[2021-02-12 10:26] #10943 closed, assigned to nobody

[2021-02-12 12:55] bshastry opened #10954 "[yul] Long run time of reasoning based simplifier against tests with nested expressions"
## Description

The following test case hogs memory and does not complete for over several minutes. Tagged as fuzz blocker because this test input exhausts memory allocated to fuzzing process, crashing it in the process and/or takes too long to complete.

[code]

## Environment

- Compiler version: latest develop
- Operating system: Ubuntu x86_64 focal,

## Steps to Reproduce

[code]

[2021-02-12 13:13] cameel commented on #10954
I have also noticed that `ReasoningBasedSimplifier` is orders of magnitude slower than any other step while running yul-phaser. Especially on longer input like `test/libyul/yulOptimizerTests/fullSuite/aztec.yul` it takes minutes per round compared to less than a second when this step is disabled (see https://github.com/ethereum/solidity/pull/10080#discussion_r571105586).

[2021-02-12 13:58] bshastry opened #10956 "[TypeChecker] ICE in ModuleType::nativeMembers because symbol name (alias) and exported symbol name are different"
## Description

[code]

throws

https://github.com/ethereum/solidity/commit/9ca389d6cd82410bcc887fd42ab2318b90307608#diff-5cc133bfc337e9ca7fe7ee9842d5ddfa492fa559149cf8acec4a7d9ede50c9aaR3812

Introduced by https://github.com/ethereum/solidity/pull/10880

## Steps to Reproduce

1. Copy test file to `test/libsolidity/syntaxTests/multiSource/import_alias.sol`

2.
[code]

[2021-02-12 16:10] hrkrshnn commented on #10954
This is not that surprising.

`sdiv` is encoded as

[code]

`unsignedToSigned` and `signedToUnsigned` is encoded as another `ite` (if then else) statement. `signedDivisionEVM` is encoded by `ite(..., ite(...), ite(...))`.

Each `ite` would introduce two branches. In the end, there is just too much branching even just for one `smod`.

Maybe the model checker settings for z3 should also apply for th

[2021-02-12 17:22] cameel opened #10957 "[SMTChecker] ICE in FunctionDefinition::resolveVirtual(): "Virtual function _approve not found""
From https://github.com/ethereum/solidity/pull/10952#issuecomment-778307247.

## Description
This contract triggers an ICE in `soltest` when placed under `tests/smtCheckerTests/`:

[code]

Output:
[code]

The code comes originally from OpenZeppelin. `__unstable__ERC20Owned` is defined in `contracts/GSN/GSNRecipientERC20Fee.sol` in OpenZeppelin. In the above I have removed everything that wasn't re

[2021-02-12 17:27] cameel commented on #10926
Here's another, independent repro for this bug (from https://github.com/ethereum/solidity/pull/10952#issuecomment-778307247):

[code]

Output:
[code]

It's actually happening in OpenZeppelin code when SMTChecker is enabled, together with #10957.

[2021-02-12 18:21] hrkrshnn opened #10958 "ICE inside ABIFunctions.cpp"
[code]

[code]

Error for both old and new codegen. The IR case is probably the same as https://github.com/ethereum/solidity/issues/10918

[2021-02-15 13:59] #10918 closed, assigned to hrkrshnn

[2021-02-15 14:41] chriseth commented on #7877
The enum has the disadvantage that you cannot easily have a natspec string for each error. I would really love to see these natspec strings being used.

About syntax:
If we want to distinguish this from function calls, we probably need a keyword.

Brainstorming:
 - require(c, error X(1, 2));
 - require(c) error X(1, 2);
 - require(c) throw X(1, 2);
 - revert() error X(1, 2);
 - revert() with X(1,

[2021-02-15 14:44] chriseth commented on #10898
Sounds good!

[2021-02-15 15:05] cameel commented on #2675
In the interest of pushing this forward, I added this to the design backlog and we'll be discussing this on Wednesday's call. The meetings are open so if anyone's interested, feel free to join.

[2021-02-15 16:29] #10379 closed, assigned to cameel

[2021-02-15 16:37] cameel commented on #7877
If we're thinking about things like `require(c) throw X(1, 2);` then why not just `if (!c) throw X(1, 2);`? As a side effect, the fact that the error gets evaluated only when the condition is satisfied would be much more apparent.

We could also make `revert` a statement :)
- `revert "Error: something went wrong";`
- `revert X(1, 2);`
- `if (!c) revert X(1, 2);`

We could also allow condition at t

[2021-02-15 16:50] chriseth commented on #7877
Oh wow, you are right, making `revert` a keyword actually sounds like the obvious solution!

[2021-02-15 16:52] chriseth commented on #7877
The main problem with that is it is a bit more verbose than `require(c >= 42, InsufficientFuds(42))`

[2021-02-15 16:54] cameel commented on #7877
Well, you could do `if (balance < 42) revert InsufficientFunds(42);` which is about the same readability-wise. It just goes against our ingrained instinct to put the condition on a separate line :)

BTW, making it a keyword would be a breaking change, right?

[2021-02-15 16:55] chriseth commented on #7877
What I like about the require statement is also that you do not have to negate the condition. Yes, it would be a breaking change, but we can introduce it in a "softfork" manner.

[2021-02-15 16:58] cameel commented on #7877
Then how about `unless (balance >= 42) revert InsufficientFunds(42);`? :)

Though to be honest Ruby has both `if` and `unless` and I never got used to the latter. It was always giving me a pause and I had to stop to negate the condition back :)

[2021-02-15 18:13] axic commented on #2675
Do you have any proposal? This issue suggest adding some option into standard json and the CLI.

If we consider ignoring warnings, I would prefer #2691.

[2021-02-15 18:21] cameel commented on #2675
Good point. I was actually thinking about both and did not realize that there's a separate issue for ignoring warnings via comments. I think we could discuss both at the same time.

[2021-02-15 18:22] axic commented on #2691
The original proposal mentions the capability existing in C++ using pragmas:

At the time we did not had any kind of error codes, but now we do (#9033). This is not displayed by default, but shown with `--error-codes` on the CLI.

While these error codes are convenient that they exists, I still do not feel easy about them and would prefer to avoid having them in the source codes. These errors are

[2021-02-15 18:28] axic commented on #2675
Actually to clarify, I think these two issues try to solve very different problems:
1) Disabling warnings for certain files aims to ignore imported projects.

2) Disabling warnings-per-statement is aimed at making warnings go away on constructs the programmer feels safe, but the compiler disagrees. However, do we still have such cases? We did not had such warnings for a very long time.

So 1) is a

[2021-02-15 18:30] cameel commented on #10280
Shellcheck is already hooked up into the CI (#8558). I think you specifically mean the CircleCI shellcheck orb?

[2021-02-15 18:30] axic commented on #2675
@chanhosuh what kind of warnings are you seeing?

[2021-02-15 18:32] cameel commented on #3619
Related to #2675 and #2691.

[2021-02-15 18:33] axic commented on #10280
Now, it was meant for shellcheck itself. At the time I created this issue I ran it on Solidity and it showed all the issues you have been fixing with the recent PRs.

It seems that #8558 indeed was merged, but it has a very long ignore list, so I reckon it did not do much in the first place.

[2021-02-15 18:34] #10280 closed, assigned to cameel

[2021-02-15 18:44] cameel commented on #2675
Right they're not the same but I think they're still closely related. I think it might be good to start with discussing all of these in general and at least decide which ones we're going to address.

Also, I'd add two more to the list:
3. Disabling all instances of a particular warning that the programmer feels is unimportant.
4. Hiding all warnings temporarily because they're obscuring actual err

[2021-02-15 18:55] axic commented on #2675
I really would like to see what warnings are there which cause annoyance. Read through all the examples brought up here and in #2691, but to me it looks like the large majority of them are not relevant anymore, or a good way to silence them exists.

These were the issues brought up:
- Jumps deprecated in inline assembly -- they are gone now
- Returndata warning -- we have the evmVersion setting wh

[2021-02-15 18:57] axic commented on #2675
Regarding the case when imported libraries must be silenced: I wonder why people want to trust libraries emitting large number of warnings?

[2021-02-15 19:28] axic commented on #3202
This was done in #9033.

[2021-02-15 19:28] #3202 closed, assigned to nobody

[2021-02-15 19:31] axic commented on #2768
Some status report, today:
- Unique error codes are assigned (#3202)
- The new error formatter is enabled by default (in standard json too) since 0.8.0 -- this has nicer layout and colours (but colours are not turned on in standard json: #11507)
- Split messages into core and optional details -- tracked in #10534

The other suggestions are not yet supported.

[2021-02-15 19:46] axic commented on #4383
#10203 and #10207 in particular shrunk this list heavily. So did #10964, #10965, #10969, #10970.

The current status is as follows:
[code]

I think the SMT cases were mostly non-deterministic failure cases, which are very hard to test. The analysis tests were something we could not find examples for, so maybe they are not triggerable and an assertion would be due.

[2021-02-15 20:07] axic commented on #4383
I think we can close this issue, since the `scripts/error_codes.py` script also runs on CI.

[2021-02-16 08:35] chriseth commented on #10620
Might be related to / duplicate of https://github.com/ethereum/solidity/issues/10084

[2021-02-16 09:34] leonardoalt commented on #10904
@fxfactorial I checked the z3 code just to make sure, and the version reported on UNREACHABLE should be what's compiled, so somehow your lib is still on 4.8.8. How exactly did you get the z3 sources? Did you git clone their latest master?
In your previous comment, the one containing the z3 unreachable message, it says `File: /build/z3-uGMZNM/z3-4.8.8/src/qe/qe_arith.cpp`, so here we see that 4.8.8

[2021-02-16 09:43] hrkrshnn commented on #10954
On second thought, the expression can be evaluated right away. So not sure if it really needs so much branching. It turns out that we don't even call the `Z3Interface::check(..)` function which would be the most expensive, solving part. Not sure what's really happening here.

[2021-02-16 12:49] chriseth commented on #10954
The component is deactivated for a reason, but we should indeed investigate what takes that much time.

[2021-02-16 15:32] axic commented on #7877
During a call we have discussed ABI encoding and concluded the following:
1. We should use the same ABI encoding without any deviation. The main question was how to encode enums. We anticipate that enum datatypes which will have a different signature, and once they are in the language we could seek to deprecate "old enums".

2. We want to reserve some selectors for future expansion. We decided to

[2021-02-16 15:34] axic commented on #7877
In #3252 I propose that events are data structures and we should follow the syntax of structs at declaration site. I also propose we should have a different syntax for the construction site to make them not look like function calls.

I think the same applies to errors. If we agree to change the syntax of event declaration in the long term, I would say we should have that struct-like syntax for err

[2021-02-16 15:48] axic commented on #7877
Assessing the proposed ones:

1. `revert(E(a, b));` and `require(c, E(a, b))` -- simplest option, the risk we feel is that E looks like a function

2. `revert(error E(a, b));` and `require(c, error E(a, b));` -- makes it clear they are errors, but this is not consistent with how events and the `emit` keyword works.

3. `revert(E { a, b});` and `require(c, E { a, b });` (or perhaps the fields need

[2021-02-16 16:05] franzihei commented on #10046
Done! https://forum.soliditylang.org/ :)

[2021-02-16 16:05] #10046 closed, assigned to franzihei

[2021-02-16 16:07] axic commented on #7877
Regarding Option 5 (and the others which use require as part of a larger statement): I think if we decide for such a syntax then we should strive to remove the `require(c, <string>)` variant and have the builtin error type exposed. Such as
`revert Error("string")` and `require(c) else Error("string")`. This `Error` could be implicitly available in the contract namespace or explicitly imported via

[2021-02-17 12:58] axic commented on #7877
Two late additions after reading up some other languages and our constructs:
1. `require(c) throws Error()` or `require(c) throw Error()`
2. `require(c) emits Error()` or `require(c) emit Error()`

[2021-02-17 13:04] hrkrshnn commented on #7877
In these proposals like `require(c) throws Error()`, will something like `if (c) { throws Error() }` be also valid? Or is it only relevant in the context of `require`?

[2021-02-17 13:14] axic commented on #7877
If we go with something like `throw Error()` or `revert Error()` that should be valid syntax on its own.

[2021-02-17 14:04] frangio commented on #2675
@axic You didn't mention the warning "constructor visibility is ignored".

Take OpenZeppelin Contracts 3.x. It was free of warnings for Solidity 0.6, but the warning I mentioned above was introduced in Solidity 0.7. We could either release a new major version of the library (due to the breaking change that is bumping the pragma), or extend `pragma solidity` to cover both 0.6 and 0.7. We did the la

[2021-02-17 14:23] axic commented on #7877
I came around to think that the `unless (c) revert E(a, b)` construct is the best, as long as we consider `unless` as an inverted if, and we consider `unless (c)` and `revert E(a, b)` valid constructs in their own. That means we do not introduce some specific syntax here, rather make use of two valid constructs.

Basically `unless (c)` is an alias to `if (!c)` and can be used interchangeably in th

[2021-02-17 14:33] hrkrshnn commented on #7877
I feel that having both `if` and `unless` in the same code is slightly confusing. I would prefer if the `unless` statement was always followed by a revert or an error.

Also, solidity doesn't normally have syntactic sugars, like this `unless` proposal.  So not sure if this is the right direction.

[2021-02-17 14:35] axic commented on #7877
Since we weren't fully convinced with `unless` as a keyword, [thesaurus](https://www.thesaurus.com/browse/unless?s=t) offers two alternatives: `except` and `without`.

`without (signature.length == 65) revert Error("invalid length");`

[2021-02-17 14:36] chriseth commented on #7877
We more or less came to the conclusion that `revert CustomError(arg1, arg2);`  is a good syntax for using revert with a custom error because of its alignment to the way events are emitted (`emit EventName(arg1, arg2);`).

What is still open is how to properly deal with `require`. Of course, `require` is optional, since `if (!c) revert CustomError(arg1, arg2);` can be used instead of it. On the oth

[2021-02-17 16:04] Ungolim commented on #10930
So we should just turn off the optimizer for now?

[2021-02-17 16:17] hrkrshnn commented on #10930
@lepidotteri Do you get the same issue for the full contract? If yes, you could try turning off just the yul optimizer with `--no-yul-optimize`.

[2021-02-17 17:10] daejunpark commented on #7877
[Thoughts from someone who prefers restrictions over convenience for security.]

I vote for `require(c) or revert CustomError(arg1, arg2);`.  It is clear and least confusing.  The only downside I can think of is that it is slightly verbose, but considering the importance of input validation for security, I think such inconvenience(?) is worth taking.

BTW, in general, I'm concerned about introduci

[2021-02-17 21:01] Meekohi commented on #10254
I assume people have seen the relation to this, but thought I'd re-post it here to emphasize this issue's importance: https://github.com/ethereum/solidity-underhanded-contest/tree/master/submissions_2020/submission11_RobertMCForster

[2021-02-17 21:08] cameel commented on #10254
Yeah, it's this submission that actually prompted the issue :) Thanks for posting the link.

As for the current status, #10326 patched the specific problem with LRO/RLO/PDF and #10607 is a pending proposal of a more general approach to such problems. Feedback is welcome.

[2021-02-17 22:27] bshastry commented on #10954
Another test case that drains memory

[code]

[2021-02-18 10:05] bshastry opened #10975 "[libyul] ICE due to assignment statement not having variable type"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/c812d928fd5adfdadc6a4ccbf03e5af916598a11/libyul/AsmAnalysis.cpp#L535

Probably related to https://github.com/ethereum/solidity/pull/10964

## Steps to Reproduce

[code]

[2021-02-18 10:10] hrkrshnn commented on #10975
Interesting how quickly the fuzzer was able to find this bug.

[2021-02-18 19:32] drortirosh commented on #10930
how about adding "`@inline`" and "`@noinline`" optimizer hints and avoid (or limit) heuristics in those cases.
C/C++ compilers had it for a long time - sometimes the developer knows better than the compiler the better approach.

[2021-02-18 22:09] frangio commented on #2675
@axic Isn't the problem the inverse? We sometimes want to define a `virtual view` function as view because we want to allow child contracts to be able to read state, yet the default implementation is pure. Narrowing mutability is allowed but widening it is (rightly) not allowed.

**Edit:** Apparently this warning is not generated for virtual functions anymore.

[2021-02-19 11:01] hrkrshnn commented on #10930
@drortirosh Doesn't C++ compilers mostly ignore the `inline` hints? Anyway, this was bought up before, and we generally wanted the optimizer to be independent of user inputs like these; however we do allow users to specify an optimization sequence using `--yul-optimizations="..."`.

Even if `inline` hints are implemented, it would just be extremely tricky for users to reason what should and should

[2021-02-19 12:36] hrkrshnn commented on #10930
[Here](https://gist.github.com/hrkrshnn/b999b8d53ddf179167cdd6928e467068) is a diff between the ir generated between 0.8.0 and 0.8.1. The main difference is the function

[code]

Instead of allocating `size`, we allocate `round_up_to_mul(size)`.

[2021-02-19 13:32] drortirosh commented on #10930
Command line options are an all-or-nothing solution. They don't allow a developer to specify a place where optimization is required.
E.g there is no way to trade runtime vs construction-time cost

[2021-02-19 13:49] fxfactorial commented on #10904
Ah - my bad - I figured it out - the system install still had some lingering leftover in /usr/lib/x86_64.... - a fresh build from z3 and one symlink in /usr/lib for libz3.4.so (something like that) and it was all good

[2021-02-19 13:49] #10904 closed, assigned to nobody

[2021-02-19 14:37] chriseth commented on #10930
Please don't pollute this issue. `@inline` or `@noinline` will not solve this because the inlined function is a low-level function that has no counterpart in the Solidity source.

[2021-02-19 16:19] cameel commented on #6608
I think the cause of the problem has been explained adequately here and the way it works is by design, not due to a bug (as @chriseth said, changing this would hurt reproducibility by allowing paths that work only on specific platforms) so I'm closing this.

[2021-02-19 16:19] #6608 closed, assigned to nobody

[2021-02-19 16:41] cameel opened #10980 "Disallow trailing slashes in imports"
From https://github.com/ethereum/solidity/pull/10976#discussion_r578594268

## Abstract
Currently the compiler ignores any number of slashes at the end of the name of an imported module. For example this test case is perfectly valid:

[code]

I think that this should result in a compilation error instead. Only `import "./c.sol";` should be accepted.

## Motivation
I see no legitimate need for thes

[2021-02-19 20:51] cameel commented on #2691
We talked about this on the last weekly call and the consensus for now is that we do not see a reason compelling enough to implement this. Most of the comments in this thread are pretty old and the problems they raise have already been addressed. During the 0.5.x release cycle there were many warnings that annoyed users but it seems to be happening much less with the recent releases. Our approach

[2021-02-19 20:51] #2691 closed, assigned to nobody

[2021-02-19 21:08] cameel opened #10981 "Compiler flag to set bytecode size limit"
From https://github.com/ethereum/solidity/issues/2691#issuecomment-752231692

Custom chains may allow deploying contracts bigger than 24 kB but the limit is currently hard-coded in the compiler and exceeding it triggers a warning that can't be suppressed. In #2691 it was proposed that the solution might be to introduce a compiler flag that allows the user to change the limit to an arbitrary value

[2021-02-19 21:09] cameel commented on #2691
@gorgos I have added a feature request for the code size limit flag: #10981. We can continue the discussion there.

[2021-02-19 21:26] cameel commented on #2675
We discussed this on the last weekly call and the point of contention was whether it's really an issue to be solved in the compiler itself. So far we think that we need to gather more feedback to be able to make a decision here (@franzihei).

There were opinions that this issue is relevant only when the user is using the compiler directly on the command line and that this is actually a pretty rare

[2021-02-19 21:40] cameel commented on #3619
I'm going to close this issue in favor of #2675 because looks like that one is going to cover a more general case of filtering warnings. See specifically https://github.com/ethereum/solidity/issues/2675#issuecomment-782365034 for a summary our discussion on the last weekly call. If you have any feedback, let's continue the discussion in that other issue.

[2021-02-19 21:40] #3619 closed, assigned to nobody

[2021-02-19 21:46] cameel commented on #10159
Since this is somewhat related to #2691, which is now closed, I'm adding this to the design backlog to be discussed on the next call. We should make a decision about what to do with this warning.

[2021-02-19 22:04] cameel commented on #7877
I just found #9454 ("Add require(bool,bytes) global function") which seems very relevant to the discussion about `require()` syntax.

[2021-02-19 23:14] axic commented on #7877
Isn't that already possible?

Shouldn't this already work:
[code]

[2021-02-19 23:20] cameel commented on #7877
Good point. I just checked and it does compile.

[2021-02-20 03:36] chanhosuh commented on #2675
@axic you mean I should not trust OpenZeppelin contracts, like the ubiquitous `Ownable` contract because I get this warning:
[code]

There are tons of SPDX identifier warnings from external libraries such as OpenZeppelin, Chainlink, etc.

Also, deprecation warnings like this:
[code]

[2021-02-20 13:22] cameel commented on #10906
I think the question has been answered so I'm closing this. But feel free to post on the forum if you'd like to discuss this in more detail!

[2021-02-20 13:22] #10906 closed, assigned to nobody

[2021-02-20 19:59] chanhosuh commented on #2675
@cameel thanks for re-opening this for discussion.  I do think this is a pain point for the community, so this is really appreciated.

This is a very good point.  I'm going to raise this with the Hardhat devs and see what they say.

[2021-02-21 08:46] MicahZoltu commented on #2675
Oh, the SPDX thing I have *long* felt should be disablable.  It is incredibly opinionated about how licencing works and not everyone agrees on it.  I *personally* think it is amazingly dumb to have license information (metadata) inside my source files.  I have a repository wide license file and I don't want my source files cluttered with that stuff.  On top of that it limits licenses to SPDX licen

[2021-02-21 08:47] MicahZoltu commented on #2675
Oh, the SPDX thing I have *long* felt should be disablable.  It is incredibly opinionated about how licencing works and not everyone agrees on it.  I *personally* think it is amazingly dumb to have license information (metadata) inside my source files.  I have a repository wide license file and I don't want my source files cluttered with that stuff.  On top of that it limits licenses to SPDX licen

[2021-02-21 09:01] gitpusha opened #10983 "Compiles but Error: invalid bytecode when trying to deploy"
## Description

I have one specific function which compiles fine but when I try to deploy the contract which it is on with `hardhat-deploy` I get an `Error: invalid bytecode` .

## Environment

- Compiler version: 0.8.0
- Framework/IDE: hardhat
- EVM execution environment / backend / blockchain client: hardhat network
- Operating system: macOS

## Steps to Reproduce
The contract is not public yet

[2021-02-21 09:31] wighawag commented on #10983
Not sure if it is about solidity. It looks like you are using libraries. if so you need to pass their address to the deploy function so it inject the address in the bytecode.
The diamond feature (that you seem to use here) is not complete and I do not remember if there is library support for the facet. that might be the problem. Probably better to move that into hardhat-deploy, unless you have mor

[2021-02-21 10:39] cameel commented on #10983
Exactly as @wighawag said, it's caused by the use of a library. If you compile your file with `solc --bin`, you'll see that the bytecode for `ExecFacet` looks like this:
[code]

Note the `__$02fc603ed1f5b1296c4169c74e287e9021$__` placeholder in the middle of the bytecode. It means that that there is something in the code that requires the contract to know the address where the library is deployed.

[2021-02-22 10:52] gitpusha commented on #10983
Thanks I marked the library function as `public` by mistake. Should be `internal` like all other library functions I use on there. Stupid mistake lol. @wighawag and @cameel thanks for the tips though. Next time I get an invalid bytecode I know what to check for.

[2021-02-22 10:52] #10983 closed, assigned to nobody

[2021-02-22 11:36] bshastry opened #10985 "[SMTChecker] ICE in toZ3Expr for homestead, spuriousdragon, and tangerineWhistle"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/6fd5ea01d1c943b7b40afbc72fcb60be3bb2a78a/libsmtutil/Z3Interface.cpp#L270

## Environment

- Compiler version: 6fd5ea01d
- Target EVM version (as per compiler settings): homestead/spurious dragon
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps t

[2021-02-22 12:27] cameel opened #10986 "[SMTChecker] ICE in Z3Interface::toZ3Expr(): "Sorts Int and bytes_tuple are incompatible" when indexing a mapping with bytes4 constant"
From https://github.com/ethereum/solidity/pull/10961#issuecomment-782000639

## Description
This contract triggers an ICE in `soltest` when placed under `tests/smtCheckerTests/`:

[code]

Output:
[code]

The code comes originally from `mock-contract/contracts/MockContract.sol` in `gnosis-safe`. Extracted and slightly modified to remove all elements that are not relevant to the issue.

## Environme

[2021-02-22 12:35] cameel commented on #10985
The error I'm getting here (tested on 0.8.1) is the same as the one in #10986 that I have just reported:

[code]

[2021-02-22 12:36] bshastry commented on #10986
A few more examples synthesized by the fuzzer

[code]

throws

[code]

[2021-02-22 12:38] bshastry commented on #10986
Several more can be found by forcing SMT checker (by adding a pragma) to existing semantic/syntax tests. Here's one more

[code]

throws

[code]

[2021-02-22 12:39] bshastry commented on #10986
One more

[code]

throws

[code]

[2021-02-22 12:42] bshastry commented on #10985
Are you able to reproduce it against EVM versions other than homestead and spuriousDragon?

[2021-02-22 12:52] cameel commented on #10985
Yeah, `tangerineWhistle`.

`tangerineWhistle`, `homestead` and `spuriousDragon`: ICE.
`byzantium`, `constantinople`, `petersburg`, `istanbul` and `berlin`: OK.

I think that's all of them.

[2021-02-22 12:54] bshastry commented on #10985
Thank you. I'm wondering if version specific issues may have a different root cause, or if it's better to just move this to #10986 Wdyt?

[2021-02-22 13:03] chriseth commented on #10159
I still think the current situation is the best, but I'm open for discussion.

[2021-02-22 13:04] chriseth commented on #10980
We should restrict both filenames (at the level of CompilerStack / StandardCompiler / CommandlineInterface) and import paths to not end in slashes and not being empty. I don't think we need a general discussion about that.

[2021-02-22 13:06] chriseth commented on #2738
I think we should not silently normalize the paths. Instead we should not allow `.` or `..` as part of a filename in standard-json. In standard-json, the file paths are the identifiers used everywhere else and should not be silently changed.

[2021-02-22 13:07] cameel commented on #10985
I'm not sure. They could be caused by different things that just trigger the same generic message at a higher layer. The error here seems to be related to returndata not being available in these EVM versions (we have a public getter that returns a struct). #10986 on the other hand consistently fails regardless of EVM version (I just checked them all).

[2021-02-22 13:10] cameel commented on #10980
I don't really see a problem with allowing a single slash at the end of paths, though disallowing it is also not a big deal.

If you think this is a good change that does not require discussion then I'll just move it to the implementation backlog. Do you agree it's a breaking change? Technically, allowing the slash could also be seen as a bug and I doubt many people rely on that.

[2021-02-22 15:53] cleanunicorn commented on #6012
@k06a I think it's important to note that this doesn't work in all cases.

If you are trying to decode a bytes array it will not work because the encoded `bytes` array first contains where the bytes array is located at. Because you added a few bytes at the beginning, you're messing with the real address of the pointer where the `bytes` array starts

Doing something like this will not work for

[co

[2021-02-23 07:10] rvantonder opened #10988 "ICE in solidity/libsolidity/ast/AST.cpp"
## Description

`solc` crashes on this program:

[code]

with

[code]

Found on master @ 055c4b4d44874fa13ab163054a5d717cd78417b2

Part of the fuzzing project https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version: Version: 0.8.1-develop.2021.1.19+commit.055c4b4d.mod.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix)

[2021-02-23 12:24] #10919 closed, assigned to nobody

[2021-02-23 12:24] #10920 closed, assigned to nobody

[2021-02-23 12:26] #10975 closed, assigned to chriseth

[2021-02-23 13:20] #10956 closed, assigned to chriseth

[2021-02-23 13:43] #10713 closed, assigned to nobody

[2021-02-23 13:47] bshastry commented on #10988
Thank you for reporting this issue @rvantonder

For what it's worth, this minimal example reports the correct (better) error

[code]

Uncomment to reproduce the crash. Since correct error reporting path exists, I suspect that something is going wrong while type checking the commented statement/function.

[2021-02-23 13:59] #10958 closed, assigned to hrkrshnn

[2021-02-23 15:44] hrkrshnn commented on #10988
This is because, even though `noErrors` is false after `contractLevelChecker`, we still do the `DocStringAnalyser` and `TypeChecker`.

See:
https://github.com/ethereum/solidity/blob/develop/libsolidity/interface/CompilerStack.cpp#L382

There are two ways around this. Either we wrap the `TypeChecker` inside an `if (noErrors) { ... }`. Or we change the hash collision error into a `fatalTypeError`, w

[2021-02-23 16:16] cameel commented on #10516
The crash happens because `TypeChecker::visit(FunctionDefinition)` does not stop when it detects `TypeError 4103: Internal type is not allowed for public or external functions.`. It continues to visit function parameters and in case of an array, it ends up calling `isDynamicallySized()` on the base type - which is not allowed when the type is an internal one.

If we change the type to a struct (ra

[2021-02-23 16:33] #10988 closed, assigned to hrkrshnn

[2021-02-23 16:37] chriseth commented on #10516
I think a fatal error is the better solution.

[2021-02-23 16:41] cameel commented on #10516
ok

[2021-02-23 16:49] #10870 closed, assigned to aarlt

[2021-02-24 08:52] sirhill opened #11002 "msg.data cannot be used inside a receive() function"
I am migrating from 0.6.12 to 0.8.1 and I am now having this error message:
`CompileError: TypeError: "msg.data" cannot be used inside of "receive" function.`

However, if I move the `msg.data` reference inside a sub function called directly from inside the receive() function it can still work. This is somehow confusing.

I can understand the intent, but all transactions in Ethereum have a `msg.da

[2021-02-24 09:01] bshastry opened #11001 "[Sol->Yul] ICE because the size of mapping key type is > 1"
## Description

https://github.com/ethereum/solidity/blob/1220d8df7b364cd150626ee75522fe289bd01219/test/contracts/AuctionRegistrar.cpp#L46-L215

throws

https://github.com/ethereum/solidity/blob/1220d8df7b364cd150626ee75522fe289bd01219/libsolidity/codegen/ir/IRGeneratorForStatements.cpp#L2065

when compiled via yul like so `solc --ir test.sol`

## Environment

- Compiler version: 596e8dd9b

[2021-02-24 09:19] bshastry commented on #11001
Minimised to the following test case

[code]

[2021-02-24 09:21] bshastry commented on #11001
Actually, a struct is superfluous. The following throws as well. It looks like the bug has something to do with the mapping indexed via a key that resides in calldata.

[code]

[2021-02-24 10:35] MicahZoltu commented on #2738
This wouldn't resolve the problem I ran into 3.5 years ago.  😄  IIRC, the issue I was having is that I had a pretty complex suite of tools and they were all spitting out different outputs.  To resolve this, the keys need to be the same no matter what OS you are building on.

That being said, I do support the rule that all paths must be relative to some common root (no `./` or `../`).  This could b

[2021-02-24 12:20] #10516 closed, assigned to cameel

[2021-02-24 12:24] #10917 closed, assigned to hrkrshnn

[2021-02-24 12:28] chriseth commented on #2738
This sounds a lot like the `--base-path` option we already have.

[2021-02-24 12:51] hrkrshnn commented on #11002
I find it weird that `msg.data` cannot be accessed inside `receive()`, but it can call an internal function that can access `msg.data`. Even though, `msg.data` would be empty. Maybe we should also disallow it for consistency?

[2021-02-24 13:02] Marenz commented on #10980
I would disallow it but also maybe add the feature to be able to import paths?

[2021-02-24 13:19] bshastry opened #11005 "[SMTChecker] ICE because function call expr is not member access type"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/2d48052ae50017bc41d8c85f1628b97352e73dcb/libsolidity/formal/SMTEncoder.cpp#L1615

[2021-02-24 13:25] axic opened #11006 "Include error code in standard json"
It seems we do not have include the error codes in the standard json yet. They are now displayed on the CLI via the `--error-codes` setting. This suggest to me we are willing to share those codes, so perhaps we should include it in the standard json. I suggest the field name `errorCode` or `code`.

[2021-02-24 13:28] MicahZoltu commented on #2738
In that case just remove support for `./` and `../`.  😀  Again though, separate from this issue.  😉

[2021-02-24 13:32] bshastry opened #11007 "[Sol->Yul] ICE because "No code generated for function even though it is not a constructor.""
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/2d48052ae50017bc41d8c85f1628b97352e73dcb/libsolidity/codegen/ir/IRGenerator.cpp#L67-L70

when compiled via new code gen `solc --ir test.sol`

Probably related to https://github.com/ethereum/solidity/pull/10973

[2021-02-24 13:41] bshastry commented on #11007
The issue is related to referencing the selector via base contract i.e., `B.g.selector`. If we do `this.g.selector` instead, the ICE goes away.

[2021-02-24 13:43] axic opened #11008 "[CLI] Add a way to filter error codes"
If we have #11006, that means framework can filter warnings/errors based on error codes. If we advocate/allow that, then we may want to consider adding a way to filter error codes on the command line, i.e. `--ignore-errors <comma separated error codes>`.

[2021-02-24 13:44] axic commented on #11008
I am personally not fully sold on having this, but created the issue for completeness and a way to discuss this.

[2021-02-24 13:46] bshastry commented on #11007
Also, the issue is related to `public` functions. For external functions, the ICE does not reproduce (see below)

[code]

[2021-02-24 13:47] chriseth commented on #7877
We will proceed with `revert MyError()` and defer the decision on require.

[2021-02-24 14:18] axic commented on #10159
The split between fallback and receive was discussed and introduced via #3198. It is a length discussions containing reasoning.

@hrkrshnn brought up that the warning is not particularly clear and could trigger people to just include an empty receive function, which is likely not what they want. We should consider improving the error message to avoid such situations.

[2021-02-24 15:10] chriseth commented on #10905
I think these are two unrelated issues:
 - `this.g.address;` should parse. In general, `.address` should be valid everywhere in the parser.
 -  `g.selector;` should not work.

[2021-02-24 15:13] chriseth commented on #10905
Acutally there are quite complicated rules about `.selector` and maybe it's best to just leave them as they are...

[2021-02-24 15:30] axic opened #11010 "Support custom EVM versions"
Currently the compiler has a setting for "evm version" (introduced in #1117). This setting is basically tied to the Ethereum mainnet hard forks, i.e. `homestead`, `byzantium`, `istanbul`, etc.

Currently each of these options set a bunch of underlying settings (see libsolutil/EVMVersion):
[code]

Additionally it controls the "code size too big" warning enabled since `spuriousDragon`.

Since custom

[2021-02-24 15:32] #11001 closed, assigned to chriseth

[2021-02-24 15:32] axic commented on #10981
During today's design meeting we have discussed two alternative approaches:  #11006/#11008 and #11010. It seems we are leaning towards #11006 and having filtering in frameworks (such as hardhat and truffle).

As a trivia, this warning was added as per discussions on #2100.

[2021-02-24 15:33] chriseth commented on #11008
I'm also not fully sold. For casually calling `solc *.sol`, this is not required. If you do anything more fancy, then you probably use a framework that has a project settings file which can contain any filtering instructions the framework can do.

[2021-02-24 15:36] chriseth commented on #11002
This is a warning that prevents you from making the invalid assumption that `msg.data` contains useful information inside a `receive` function. As often, most warnings are tailored towards the "regular user" who does not write proxy contracts or anything deeply involved and will hopefully be thankful about such a warning.

[2021-02-24 15:39] sirhill commented on #11002
It is not a warning but a compilation error.

Your intent was interesting and very valuable.
However, it can also be confusing for a regular user that it can't use `msg.data` (which he will trivially - I think - understand it's null if he is interested to use `receive()` in the first place).

[2021-02-24 15:45] sirhill commented on #11002
I think that you are also maybe assuming that `msg.data` should not be null and that it should be considered harmful to use it when it's null. Depending of the use case, it can also be a perfectly reasonable value, such as an `if test` checking for the presence or not of such `msg.data`.

[2021-02-24 17:11] axic commented on #4383
The remaining errors in libsolidity/analysis/TypeChecker.cpp:
- 3893 / 7589 / 7593 -- all are around overload resolution
- 7128 -- not sure about this
- 4802 -- I think this cannot be triggered as 1227 covers it too, not entirely sure

[2021-02-24 18:49] chuckb commented on #2675
Every single compiler warning should be suppressible, by file, and by warning type, without changing source code, if at the discretion of the runner of said compiler, the warnings are acceptable or not necessary to review further.

Case in point: OpenZeppelin 3.x contract with v0.7 of compiler, like so:
[code]

Can I grep the output before my CI tool complains? Sometimes. Depends on the toolchain,

[2021-02-24 18:52] cameel commented on #10981
I wonder if it might be better to offload this check to frameworks after all. In Hardhat, Truffle and Brownie (and likely most others) you define a list of networks, each with specific settings like gas limit. [Hardhat's network settings](https://hardhat.org/config/#hardhat-network) even have `allowUnlimitedContractSize` which looks like a flag made specifically to ignore this warning :) These net

[2021-02-24 18:59] cameel commented on #11002
Maybe we should change it form error to warning then?

[2021-02-24 19:12] cameel opened #11012 "Document recommended workarounds for common warnings"
Related to #2691 and #2675.

One of the reasons people want to be able to ignore warnings might be that they're not aware of how simple it is to fix some of them. @axic proposed documenting the common ones them along with the recommended workarounds.

I think that a good example of something like this is the list of [enumerated shellcheck codes](https://gist.github.com/nicerobot/53cee11ee0abbdc997

[2021-02-24 19:16] fzeoli commented on #8739
Any comments on this? Hardhat isn't using this yet because without backporting it'd introduce additional complexity without really solving reliable parsing.

[2021-02-24 19:28] axic commented on #10981
To be fair the warning was [encouraged by hardhat](https://github.com/ethereum/solidity/issues/2100#issuecomment-565460466):

Perhaps @alcuadrado changed his mind since?

However @cameel, on the other hand I think that frameworks which have a setting like `allowUnlimitedContractSize`, when set, could also just filter out the warning based on the error code (a la #11006).

[2021-02-24 19:40] cameel commented on #10981
True. They could. @gorgos, are using the compiler directly or via a framework?

Yeah, that's what I actually referring to. It was encouraged back then but maybe it would be better to talk it over again given that we're now discovering that we don't really have enough info in the compiler to decide if it's warranted or not (at least with adding extra flags for the user to provide that info).

[2021-02-24 19:44] cameel commented on #11012
One more thing. On the call today it was also said that in simpler cases the recommendation should just be included in the warning message itself. On the other hand these messages are sometimes too long already and #10534 could help with that.

[2021-02-24 20:06] cameel commented on #10980
So it would let you wholesale import everything from all the `.sol` files in that directory?

I think it would be an anti-feature for people auditing contracts. It would make it even harder to track down where something is being imported from. If it was up to me, I would go the other way and only allow the `import X from "Y.sol";` form. Or at least require prefixing everything with `Y.` if you onl

[2021-02-24 20:24] frangio commented on #11012
I think it's a good idea to include the recommendation with the warning itself.

However, it seems to me that the request to ignore warnings generally relates to either: 1) files that are out of the control of the developer (i.e. library code), or 2) disagreeing with the compiler recommendation (e.g. SPDX comments).

In neither of these cases a does it matter how simple it is to fix the underlying

[2021-02-24 20:50] frangio commented on #10717
This is the first time I hear that relying on the compiler overflow checks would be considered doing things badly. Is that really the case?

[2021-02-24 22:37] gorgos commented on #10981
@cameel Via framework, both Truffle and Hardhat.

[2021-02-25 10:21] chriseth commented on #11012
No file is out of the control of the developer. This is all open source. I think the root problem is that people are not confident in using the language if they shy away from making trivial changes to libraries that are suggested by the compiler.

[2021-02-25 10:24] chriseth commented on #8739
Sorry, for not answering earlier: This was a really big chunk of work, and I would prefer working on moving the language forward, so that people switch over to new versions faster instead of maintaining old versions.

[2021-02-25 10:27] chriseth commented on #11007
It's really good to have the fuzzer! This is related to the callgraph PR.

[2021-02-25 11:58] fzeoli commented on #8739
Are there any people or teams that this could be outsourced to if we were
to pay for it?

On Thu, 25 Feb 2021 at 07:24 chriseth <notifications@github.com> wrote:

--
Franco Zeoli
CEO
@zfran <https://twitter.com/zfran> | @NomicLabs
<https://twitter.com/nomiclabs>

[2021-02-25 12:25] chriseth commented on #409
Sounds like a good first milestone, so I would say let's do this! One important point: Conversion from non-integer literals should also be part of the first milestone.

[2021-02-25 14:56] chriseth opened #11017 "Allow function call option on `.transfer` and also `{gas: max}` as a special function call option"
This would allow `msg.sender.transfer{gas: max}(2 ether);`, which would then be the recommended way to implement the withdraw pattern.

[2021-02-25 15:00] cameel commented on #11017
Or maybe `msg.sender.transfer{gas: all}(2 ether);`?

[2021-02-25 15:05] chriseth commented on #11017
The downside of `all` is that it might lead to people thinking that it forwards `gas()`, but it actually only forards `gas() * 63/64`.

[2021-02-25 15:25] axic commented on #11017
Why do we need `max` and not just `{gas: gasleft()}`?

[2021-02-25 16:04] chriseth commented on #11017
I think something like `max` is more explanatory and it also allows us to remove `gasleft` at some point.

[2021-02-25 16:05] #11007 closed, assigned to chriseth

[2021-02-25 16:08] axic commented on #11017
I wonder why allow specifying the gas in the first place and not just passing all gas available? If we want to get rid of `gasleft()` that means we perhaps want to also get rid of gas observability, and as such why have `{gas: ...}` in the first place.

[2021-02-25 16:11] MicahZoltu commented on #11017
While this would be better than the current situation, it leaves the path of least resistance as "the wrong path" and the path of most resistance as "the right path".  I would rather see `.transfer` and `.send` deprecated (meaning they emit a compiler warning or they simply don't exist anymore) and we introduce a new method.

----

Re: naming:
I feel like `.receive()` is a great choice for today i

[2021-02-25 16:27] hrkrshnn opened #11018 "[YulOpti] Evaluate keccak256 whenever possible"
For example, if we have a storage variable `uint[] a`, the following is the optimized IR code for computing `arr[10] = 5`:

Here value of `_1` is `0`.
[code]

It would be nice if we could compute this hash, and also avoid the `mstore`.

Was bought by in the forum by @frangio https://forum.soliditylang.org/t/enable-disable-language-features-to-save-gas/84/20

[2021-02-25 16:32] chriseth commented on #11017
@axic so you would be open to a silent breaking change of `transfer`?

@MicahZoltu I would prefer to keep the symmetry of send and receive. We could use some other words like "remit" - although I'm not too firm in english to make such a decision.

I also see the problem that the "right path" is more complicated, but at least it is less complicated than
[code]

[2021-02-25 16:35] chriseth commented on #11018
The libevmasm optimizer can do it. I think it should actually compute it in this case.

[2021-02-25 16:36] chriseth commented on #11018
In the end, this is a task for the mload resolver (eliminate the keccak) and the redundant store eliminator (eliminate the mstore as soon as the keccak is gone).

[2021-02-25 16:40] hrkrshnn commented on #11018
Even the old optimizer isn't able to do this:

[code]

[2021-02-25 16:43] lonelyenvoy commented on #11017
I agree that a silent breaking change is dangerous because it confuses people, and people might be surprised when they find the behavior of `transfer` has changed.

Adding an option of `{gas: max}` looks like a good choice. But a potential problem is that this syntax may encourage people to **setting the gas to a fixed value** when transferring, e.g. `{gas: 2300}`, which should be avoided. (See [d

[2021-02-25 16:49] lonelyenvoy commented on #11017
By the way, we should allow `try` / `catch` with transfer: [Chriseth's post on Solidity Forum](https://forum.soliditylang.org/t/a-better-design-for-ether-transfer/100/3?u=lonelyenvoy)
This is a backward compatible change, does not require a new function name, and is natural.

[2021-02-25 16:53] chriseth commented on #11018
Maybe because it deems the result suboptimal?

[2021-02-25 16:53] frangio commented on #2675
@chuckb You can install a version specific for Solidity 0.7 that does not have this warning with `npm install @openzeppelin/contracts@3.4.0-solc-0.7`. Hopefully this special version will not be necessary for future releases of Solidity.

[2021-02-25 16:57] frangio commented on #11012
In fact, we did receive several pull requests to OpenZeppelin Contracts where people made the necessary changes to remove warnings about constructor visibility. However, the warnings were already fixed, but we were not able to release them generally because they were a breaking change that we wanted to avoid. (We had to release it as a separate version specific to Solidity 0.7 that people were not

[2021-02-25 17:03] MicahZoltu commented on #11017
I would prefer `remit` (or really any name) over the current situation or over the current proposal (`contract.transfer{ gas: max }`).

Another option, which I like less than a new named function but more than the current proposal, would be to do `address.transfer{ gas: max }` but disallow anything *other* than `gas: max` in there and *require* it for anyone who uses `.transfer`.  If you want to l

[2021-02-25 17:13] lonelyenvoy commented on #11017
@chriseth @axic  Is it ok to get rid of gas observability? Some mass operations will become impossible.
For example, according to [this research paper](https://dl.acm.org/doi/10.1145/3276486), many contracts are using this pattern, which is bad:
[code]

The function will not be able to finish if `accounts` holds too many elements; it will throw an out-of-gas error.
The paper suggested the way belo

[2021-02-25 17:15] cameel commented on #11006
@axic Are the codes really missing? It looks like we do have them already in standard JSON:

`test.json`:
[code]

Command:
[code]

Output:
[code]

EDIT: Tested the 0.8.1 release binary but looks like they've been there since 0.6.10.

[2021-02-25 17:19] MicahZoltu commented on #11017
They can achieve that by having the function take in a page size and having the caller provide enough gas to execute that many iterations.

[2021-02-26 01:16] lonelyenvoy commented on #11017
@MicahZoltu The gas required by a function can go above the block gas limit, which should be 12,500,000 currently. A simple  combination of `SLOAD` and `SSTORE` costs 20,800 gas. If this combination is placed inside a loop, then the function can at most run 600 loops before hitting the block gas limit. It then renders this function not usable anymore, which is the root cause of some Denial of Serv

[2021-02-26 05:20] MicahZoltu commented on #11017
I'm not sure how your latest point is related to the topic at hand?  Also, for the specific example given you should definitely *not* be handling interest that way, and really you should never have unbounded loops in code running on the EVM.  Even paged loops should be avoided whenever possible.

[2021-02-26 05:30] lonelyenvoy commented on #11017
Ok, I understand. A paged loop can solve the problem, even though it's not a good practice.

[2021-02-26 05:34] lonelyenvoy commented on #11017
Maybe in the document it should be more clear that writing code running on EVM is different from using traditional general-purpose languages due to the gas limitation; otherwise people won't notice such problems and their contracts will be error-prone and vulnerable.

[2021-02-26 12:37] hrkrshnn commented on #11017
I mostly agree with @axic and @MicahZoltu here. I think the `transfer` function should not specify the gas at all. But a silent breaking change sounds dangerous. Maybe we can deprecate `transfer` and have a new function, say `msg.sender.pay` that is equivalent to `call(gas(), ...)`. It's unfortunate that developers use `transfer` to a contract where the gas stipend is not enough and have their fun

[2021-02-26 13:06] cameel commented on #10186
@chriseth I investigated it and the direct cause of the ICE is that it goes into the `calldata` -> `calldata` conversion branches for structs and arrays in `convertType()` and these branches are forbidden with an assertion. I have created semantic tests cases for the repro above and just removing the assertion makes them pass and produce correct values.

But I suspect that just removing it is not

[2021-02-26 20:35] sirhill commented on #11002
If so, I think that maybe, it should rather be a solhint rule as it is quite an opiniated choice.

[2021-02-26 22:40] livingrock7 commented on #9160
Is this fixed?
I am using
pragma solidity 0.6.9;
pragma experimental ABIEncoderV2;

and getting this error when passing struct as a calldata in external function

my struct has reference types and we do not want to remove those

[code]

[2021-02-26 22:41] livingrock7 commented on #9160
Is this the only work around? @jo-es

[2021-02-26 23:45] haltman-at commented on #10358
I haven't myself, but @gnidan has told me of examples... unfortunately he seems to have lost them!  But hopefully we can find them again...

[2021-02-26 23:50] haltman-at commented on #10837
FWIW, I've found a second example of this, although it's also with Solidity 0.5.x.  Specifically it can be observed in [this](https://github.com/cds-amal/balancer-core) Truffle project, in the constructor bytecode for the `BPool` contract.  The constructor source map is only 241 instructions long, ending at PC 408, but the constructor code continues past that position and on running it you'll find

[2021-02-26 23:51] cameel commented on #9160
@livingrock7 It has been fixed in 0.7.6.

[2021-02-28 04:01] PipsqueakH commented on #3300
+1

[2021-02-28 10:14] leonardoalt commented on #10717
It's not the same. That is a `panic` that *will* be reached *all the time*. I myself when writing 0.8 contracts do not guard the arithmetic operations with previous requires and just rely on the compiler to filter it out for me.

[2021-03-01 07:36] vporton opened #11022 "[SMTChecker] Unknown exception during compilation: map::at"
## Description

https://github.com/vporton/sol-8.0.1-crash demonstrates a Solidity compiler bug:

[code]

## Environment

- Compiler version: 8.0.1
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): HardHat
- Operating system: Ubuntu

[code]

[2021-03-01 09:26] ekpyron commented on #10717
Well, I don't think there is complete consensus about that. But I personally would say: most definitely yes, just as relying on SafeMath was doing things badly ;-). Both should always only have been considered as last safety net just in case you messed up and some case slipped through your fingers that *isn't* caught by explicit ``require``'s. I'd still maintain that doing https://github.com/ether

[2021-03-01 09:45] leonardoalt commented on #10717
Tbh I think it's naive to think that this will happen. The automatic replacement for SafeMath will be to just rely on the compiler, also because of gas.

[2021-03-01 09:48] leonardoalt commented on #11022
Thanks for reporting!
The bug is triggered by the SMTChecker analysis (`pragma experimental SMTChecker;`), but I still haven't checked what exactly causes it.

[2021-03-01 11:07] hrkrshnn commented on #11018
I think the old optimizer is not able to do it because of an intermediate jump:

[code]

[2021-03-01 12:14] chriseth commented on #11018
Ah, that is probably true!

[2021-03-01 12:38] chriseth commented on #11017
For a transitional period, we could require a gas option for `transfer` and then make "max" the default in a breaking change. The values could be `{gas: min}` (stipend), `{gas: max}`, or a specific number.

[2021-03-01 12:42] chriseth commented on #10186
You mean cleanup is forced for the self type? I think it's totally fine to change the assertion to not fail if the types are the same. Can you give a pointer to where `_cleanupNeeded = true` is set? I would assume it mostly does not matter.

[2021-03-01 12:47] cameel commented on #10186
It's in `ExpressionCompiler::visit(MemberAccess)`:

https://github.com/ethereum/solidity/blob/44493ad42813f700cbee3cfd5389be105ff3e5d9/libsolidity/codegen/ExpressionCompiler.cpp#L1315-L1317

The last argument is `_cleanupNeeded`.

[2021-03-01 13:40] chriseth commented on #10186
I don't know why cleanup is forced here, but I think converting calldata values from one type to the same type and forcing cleanup should be supported by codegen.

[2021-03-01 15:58] chriseth commented on #8802
@axic I would allow all identifier characters, even including `-`

[2021-03-01 15:59] chriseth commented on #8802
i.e. `a-zA-Z0-9$_-`

[2021-03-01 16:22] chriseth opened #11024 "[Sol->Yul] assembly access to libraries unimplemented"
Example code:
syntaxTests/inlineAssembly/assignment_from_library.sol
[code]

[2021-03-01 16:35] ekpyron commented on #11024
IIRC when we looked at this it seemed like this would not be an error and just evaluate to zero for internal-only libraries, even for old codegen - I'd need to recheck, though... but is that desirable behaviour?

[2021-03-01 17:55] ekpyron commented on #7877
Not sure if I'm a bit late with a suggestion like that... but have we ever considered just making errors proper types? I.e.
[code]

It would just need to be an alias of ``bytes memory``. Converting to boolean would just check whether the size is empty. The default value would be an empty ``bytes memory``...
This way (1) the error definitons would *actually* be *called* and *actually* return someth

[2021-03-01 18:03] chriseth commented on #7877
Yes, allowing errors to have their own type is a logical extension, but we did not want to go there yet to simplify the implementation.

I think evaluation order is still not clarified, because the syntax in the current PR is still possible: `require(c, SomeError(f()))`.
Also I don't think most people will care about what `SomeError(f())` returns internally...

[2021-03-01 18:09] ekpyron commented on #7877
Yes, ``require(c, SomeError(f()))`` is still possible - but if I know that that's equivalent to `error x = SomeError(f()); require(c, x);` i.e. it really is just a function call like any other, then that seems quite clear to me. (Not if it's a syntactic restriction to only be able to use errors as second argument of require or first argument of return, though).
I'd also consider still making it ``

[2021-03-01 18:59] blishko opened #11027 "[SMTChecker] Invalid analysis of `push` operation on lvalue expression."
In the following example:
[code]
SMTChecker incorrectly reports assertion violation for the first assert (false positive) and also incorrectly reports the second assertion as safe (false negative).

True both in v0.8.1 and current develop.

[2021-03-02 09:02] blishko commented on #10596
## Current situation

The current situation with inline assembly is the following (taken from #10835):
- If any Solidity-level local variable is assigned in the assembly, it is considered as having an unknown value at the end of the assembly block.
- If the block modifies storage (e.g., using sstore), all storage variables are considered as having an unknown value at the end of the assembly block.

[2021-03-02 11:24] #10891 closed, assigned to nobody

[2021-03-02 14:41] MicahZoltu commented on #11017
What problem do you believe is being solved by providing this as an option at all?
The goal is to get rid of the stipend, not just change the syntax people use to get the stipend.  If you have some contract that *absolutely* much use the stipend, then you can do `.call{ gas: 2300 }(bytes)`.  This is *intentionally* the hard path because you *really* should not be doing it.

I would still like to s

[2021-03-02 14:57] hrkrshnn commented on #11017
@MicahZoltu Solidity doesn't hardcode the stipend (if the value is known to be non-zero.) The equivalent would be `.call{gas: 0, value: non-zero}(...)` and `.call{gas: 2300, value: 0}(...)`. I guess one advantage for `{gas: min}` for stipend would be to prevent users from hardcoding the stipend. Also, it allows for an easy replacement for users upgrading their contracts and were relying on `transf

[2021-03-02 15:33] leonardoalt opened #11030 "[SMTChecker] Use natspec annotation to abstract function"
Some contracts use functions like `pow` or `sqrt`, which are pretty hard to verify.
We could use natspec annotations to allow the user to force calls to that function to be abstracted as UF, which might help in some cases:
[code]

[2021-03-02 15:53] #8802 closed, assigned to chriseth

[2021-03-02 16:13] MicahZoltu commented on #11017
It makes it so often the calls don't work with contract wallets, which is something we want to encourage usage of rather than discourage usage of.  Also, gas prices change so 2300 might be enough to call a specific contract wallet today but not tomorrow, or potentially even not enough to call *any* address in the future.

[2021-03-02 16:18] KunKax commented on #11017
It make the wold dance :)

[2021-03-03 06:18] Wawan3-etherium opened #11033 "Hhhhuujjdff3446"
## Description

## Environment

- Compiler version:
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduce

[2021-03-03 06:21] Wawan3-etherium opened #11034 "Koi"
Adddddefgg33455456

## Abstract

## Motivation

cfff34556667vvvvg

## Specification

## Backwards Compatibility

[2021-03-03 08:11] #11034 closed, assigned to nobody

[2021-03-03 08:11] #11033 closed, assigned to nobody

[2021-03-03 09:39] bshastry opened #11035 "[yul] datasize use can be problematic if compiler generated code uses it in a stateful way"
## Description

[code]

will lead to different storage pre/post optimisation. This is expected because the `mstore(0,0)` is going to be optimised out by the optimiser (haven't verified this but I'm pretty sure it will be), shrinking the object such that `datasize` for the optimised case is going to be off by a byte or so (and hence execute the store at a different slot).

Related to #7411

[2021-03-03 11:02] hrkrshnn commented on #11035
I don't think `mstore(0, 0)` will be optimized out. Currently we never remove unused writes to memory.

[2021-03-03 11:10] hrkrshnn commented on #11035
Although, you could probably replace `mstore` with something else that would be removed, right? Currently, we don't seem to consider the side effect of `datasize` anywhere. Not sure if we should.

[2021-03-03 12:39] cameel opened #11036 "Buggy import path resolution in corner cases with remappings and base path"
Inspired by https://github.com/ethereum/solidity/pull/9353.

The way the compiler resolves imports into actual filesystem paths is intuitive in simple cases but gets convoluted quickly when you take into account all the factors that can affect it: remappings, base path, various flavors of relative paths, special file names, etc. I checked how it works in corner cases and in a lot of them the beaha

[2021-03-03 13:11] bshastry commented on #11035
Ah sorry, I somehow thought we did. I think what's happening is that the `add(datasize(..), 0` is optimized to just `datasize(..)` in that case leading to a couple of fewer bytes (not sure exactly but I guess 1 additional byte for add, and 2 bytes for PUSH0 and 0x0)

[2021-03-03 13:41] bshastry commented on #11035
Me too. I'm trying to think one can make a different argument than what we did for `msize` (see #7411). It may be unlikely that the compiler generated code would contain `datasize` in the way that would lead to a side-effect in which case the only circumstance in which this would be problematic is user-written code but with the latter I doubt if there is a real use-case.

[2021-03-03 17:03] hrkrshnn commented on #11035
About `msize`: I would say it's an exception since a user can always use it in inline assembly. I don't think `solc` generates `msize` otherwise. Currently, many steps are disabled if the AST has `msize`.

The situation here is akin to the following: `extcodesize(<address>)` would have different value depending on whether the contract to be deployed at `<address>` is optimized or not.

I think we

[2021-03-03 17:32] cameel commented on #2738
@chriseth

I think we should go a bit beyond that and require stricter normalization:
- Path should not contain sequences of multiple slashes.
- Trailing slashes should not be allowed (at least in places where we require file names rather than directory names).
- `file://` prefix should not be present.
- Relative paths (i.e. something like `a/b/c.sol`) should not be allowed when an absolute `--bas

[2021-03-03 17:35] cameel commented on #2738
@MicahZoltu

Why though? I mean, to me initially it was not at all obvious that `x.sol` is relative to current working directory while `./x.sol` is relative to the directory containing the file but I think the functionality itself is useful. Maybe notation could just be more explicit, e.g. `import "{PARENT}/x.sol";` or `relative import "x.sol";` but still, when I see a relative path in a source fi

[2021-03-03 17:49] cameel opened #11038 "Compiler ignores files located under the base path in Standard JSON"
Related to #11036.

## Description
With `--standard-json` the compiler does respect `--base-path` in imports but not in the Standard JSON itself. Even if a file is present under the base path in the virtual filesystem, the compiler won't use it. It will read it from disk if available though.

`input.json`
[code]

[code]
[code]
## Environment
- Compiler version: 0.8.1

[2021-03-03 17:52] cameel commented on #11038
I'm assuming that the fact that the compiler reads from the filesystem even with `--standard-json` is what it's supposed to do when a file is not found in the JSON. Or is it a bug too?

[2021-03-03 18:08] cameel commented on #9346
I thoroughly tested and documented the current base path behavior in #11036 and I originally thought that this issue is one of the cases I found there but after looking at this closer, it's not. The `urls` parameter essentially gives us another level of indirection after the mapping which is not available when not using `--standard-json`.

Anyway, it definitely should not affect absolute paths. Th

[2021-03-03 18:32] cameel commented on #4623
The reason symlinks are not followed is simply that it would make the whole feature pointless. You use it to whitelist specific directories and be sure that nothing outside them cannot be included in the contract. If the compiler followed symlinks, this could be trivially by passed by placing a symlink to any file on your filesystem inside one of the whitelisted directories.

[2021-03-03 18:44] cameel commented on #11036
Update: "Trailing slashes in relative imports that start with `.` or `..` imports are stripped".

[2021-03-03 18:58] cameel commented on #5281
This seems related to #11036.

So it appears that an empty path, `/` and paths starting with `./` and `../` are not remappable on purpose? I think that an attempt to remap them should not be ignored and result in an error instead (preferably with a message explaining why this is the case).

[2021-03-03 19:00] cameel commented on #2738
Looks like we already have an issue for that: #5146.

[2021-03-03 19:05] cameel commented on #10980
Looks like trailing slashes are only ignored when using paths relative to the current file (i.e. starting with `./` or `../`). In absolute and normal relative imports they are not. See examples in #11036.

So this looks like like an artifact of path normalization than an intentional feature.

[2021-03-03 19:18] cameel opened #11039 "Allowed paths are not enforced when standard input is used"
## Description
If you use `-` on the command line to tell the compiler to use standard output, it ignores `--allow-paths`.

### Input files
- `/tmp/a/A.sol`
[code]
- `/tmp/b/B.sol`
[code]

### Without standard input
[code]
An attempt to compile results in an error as expected:
[code]

### With standard input
[code]
This time it compiles even though `/tmp/b/` has not been added to `--allowed-paths`

[2021-03-03 19:29] #10914 closed, assigned to nobody

[2021-03-03 19:45] agroce opened #11041 "[yul] File with just a carriage return crashes with std::out_of_range (what(): basic_string_view::substr: __pos (which is 1) > __size (which is 0))"
## Description

A yul file with just a carriage return "\r" (e.g., generated by something like this python code):

[code]

produces a crash

[code]

On master, using AFL fuzzing of yul inputs via '--strict-assembly'.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.8.3-develop.2021.3.3+commit.ad2ecf16.Linux.clang
- Target EVM version (

[2021-03-03 20:03] agroce commented on #11041
@bshastry see my email, but I just started fuzzing the yul corpus via --strict-assembly, and will see what that turns up, whatever your answers!

[2021-03-03 20:08] cameel opened #11042 "Import errors should include full path of the file that is being imported"
## Description
When using relative paths the error message often (but not always) shows only a relative path to the file. When using path remapping and base path together with various flavors of relative imports (see #11036) it might not be obvious where the compiler is looking for the file. I think the compiler should display the final, resolved filesystem path instead of (or in addition to) the

[2021-03-03 21:13] bshastry commented on #11035
I agree. Since this issue only occurs when driving evmone and not the yul interpreter (datasize in yul interpreter returns a constant), this is somewhat particular to https://github.com/ethereum/solidity/pull/11028 that is in draft mode.

I think we can work around by simply not generating "problematic" uninteresting opcodes from a bug-finding point of view like address(), gas(), datasize() etc.

[2021-03-03 21:18] haltman-at opened #11043 "Compiling in Yul mode doesn't produce sources output"
## Description

When you use solc to compile Yul, you get `contracts` output but no `sources` output (with source IDs and ASTs).

Now, strictly speaking, one could say that, since Yul only supports compiling individual files (at least for now), source IDs aren't necessary.  But having this information would allow treating the compiler output in a more uniform manner without having to write special

[2021-03-03 21:32] haltman-at opened #11044 "Compiling Yul doesn't produce immutableReferences even when setimmutable/loadimmutable is used"
## Description

Compiling Yul that uses `linkersymbol` will produce link references in the compiler output, but compiling Yul that uses `setimmutable`/`loadimmutable` doesn't produce immutable references in the compiler output.

So, for why this is relevant -- this goes along with #11043 as one of the issues I encountered when trying to add [Yul support into Truffle](https://github.com/trufflesuit

[2021-03-04 09:35] chriseth commented on #11042
This is a simple change: Just add the path we were looking at in `CommandLienInterface::processInput()::fileReader` to the error message this function returns.

[2021-03-04 10:32] leonardoalt commented on #10986
@bshastry the issues you reported seem unrelated to the original one? Could you please open new issues for them? (if that's not already the case and I missed them)

[2021-03-04 11:53] mijovic opened #11049 "Improve Yul function collector with additional interfaces for createFunction"
Raised in https://github.com/ethereum/solidity/pull/10768#discussion_r587380456

Possible functions to add:
[code]
`_creator` function should have arguments represent function arguments, return values and function body.

than some of our yul util functions should be much simpler, for example (`copyStructToStorageFunction`):
Instead of:
[code]
would be:
[code]

[2021-03-04 12:50] chriseth commented on #11049
Sounds very useful!

[2021-03-04 12:50] chriseth commented on #11049
If `_retValues` is non-empty, it adds `-> _retValues`, otherwise not.

[2021-03-04 12:51] chriseth commented on #11049
Once we have that, we could also implement `callYulFunction` to count the number of commas in the arguments and return values and use that for the parameters that currently have to be provided manually.

[2021-03-04 12:56] hrkrshnn opened #11051 "Disallow function signatures that have same name and same implicitly convertable arguments"
Was bought up in solidity gitter

[code]

Compiles correctly,

However

[code]

returns

[code]

I think because `bytes4` can be implicitly converted to `bytes32` making the resolution not unique.

On the other hand, it's probably impossible to make an internal call to `function foo(bytes4)`. External calls have to be made by manually using `.call` and manual encoding.

---

I think we should have

[2021-03-04 12:58] chriseth commented on #11051
Related to https://github.com/ethereum/solidity/issues/1256

[2021-03-04 13:01] chriseth commented on #11038
The path provided in the input standard-json is always the internal path, never the filesystem path. So I would say if you use it in connection with `--base-path`, the json-path should be appended to the base path when looking for additional files, but it should not be removed from the path given in the standard-json input.

This is different for the commandline interface, I would say, where we th

[2021-03-04 13:06] chriseth commented on #5281
@cameel I would say remappings are applied after removal of `.` and `..` from the path.

[2021-03-04 15:02] cameel commented on #11038
In that case what do you think about this example:

[code]
[code]

This won't work in JSON but it would work just fine if you used these paths on disk and compiled via CLI. Is this not a problem for tools? A tool wanting to construct JSON input from files on disk would have to scan the imports, notice that `b.sol` is relative and put it under `b.sol` (rather than `/tmp/b.sol`) based on that. For `

[2021-03-04 15:39] cameel commented on #5281
OK. That's exactly what happens now (i.e. it kinda looks to the user as if `./` and `../` are not remappable but that's just because they're no longer in the path that the remapping is operating on). But I think that's all the more reason to report an error when user tries to remap them.

Also, I wonder if the current behavior is actually useful in practice. In normal circumstances it seems redund

[2021-03-04 16:37] MrChico opened #11054 "RFC: export EIP-712 signature definitions in the ABI"
EIP-712 defines a typed signature scheme in which a `messageStruct` and a `domainStruct` are defined, and a hashing scheme that combines the names, types, and values of these into a bytestring that is then sent to the wallet to be signed.

This is becoming an increasingly common way to interact with contracts, with two prominent examples being `permit` (EIP-2612) and Gnosis Safe.

While generating

[2021-03-04 16:58] bshastry commented on #11035
This may be closed once #11028 is merged because this ~~bug~~ issue only appears while fuzzing on evmone.

[2021-03-04 18:31] axic commented on #11054
Can this be solved with a widely approved naming scheme for these structs, such as `EIP712_Mail`, and then just having a mechanism to export the name of structs in the ABI? I think we may already do that too.

[2021-03-04 18:38] axic commented on #11054
[code]

Produces:
[code]

See the `internalType` part.

[2021-03-04 19:35] MrChico commented on #11054
That is a good point. It seems like what is mainly missing is the convention, more so than a lack of ABI.
Closing this.

[2021-03-04 19:35] #11054 closed, assigned to nobody

[2021-03-04 19:41] #11035 closed, assigned to nobody

[2021-03-05 09:58] blishko opened #11056 "[SMTChecker] ICE on public getter for array of structs"
## Description
SMTChecker crashes on mismatched SMT sorts when analyzing public getter of a state variable that is an array of structs.

Example reported in https://github.com/ethereum/solidity/issues/10986#issuecomment-783345346
[code]

Another example that checks also structs with members that are ignored by public getter.
[code]

[2021-03-05 14:35] axic opened #11057 "[isoltest] Charge proper gas for precompiles in EVMHost"
Once we have #10474 we'll have a lot of opportunity to compare gas usage of optimised vs non-optimised and legacy vs. ir-based pipelines. With #10475 we'll have the opportunity to insert more realistic external tests, like we did with #10590.

At that point, having more realistic gas costs for precompiles could be useful. Especially for ecrecover and sha256 as they are used in external tests and h

[2021-03-05 15:05] axic commented on #10405
This seems to be behaving better now:

[code]

[code]

[2021-03-05 15:14] axic commented on #10405
Closing for now.

[2021-03-05 15:14] #10405 closed, assigned to nobody

[2021-03-05 16:46] axic commented on #8702
This was removed from Berlin, see https://github.com/ethereum/pm/issues/263.

[2021-03-05 16:46] #8702 closed, assigned to nobody

[2021-03-05 16:49] axic opened #11060 "Implement support for Berlin"
While [Berlin](https://eips.ethereum.org/EIPS/eip-2070) has a couple of EIPs, I think only three of them affect us:
- [EIP-2565](https://eips.ethereum.org/EIPS/eip-2565)
- [EIP-2929](https://eips.ethereum.org/EIPS/eip-2929)
- [EIP-2930](https://eips.ethereum.org/EIPS/eip-2930)

2565 actually does not affect us, as we do not have the modexp precompile implemented (and also see #11057).

2929 introd

[2021-03-05 19:19] bshastry opened #11062 "[Yul] Optimised code containing for loop(s) consumes more gas than unoptimised code"
## Description

[code]

is optimised to

[code]

On evmone gas consumption difference between optimised and unoptimised code is +172 gas i.e., optimised code consumes more gas.

## Environment

- Compiler version: 093ea4612
- Target EVM version (as per compiler settings): NA
- EVM execution environment / backend / blockchain client: evmone v0.4.0

## Steps to Reproduce

TBD.

[2021-03-05 20:07] bshastry commented on #11062
I think one of the things that is sub optimal is that literal constants get "optimised" to variable references that resolve to a literal expression.

[code]

leads to byte code like so

[code]

as against the unoptimised sequence such as

[code]

This leads to two additional `DUP2` per iteration in the innermost loop. Something similar happens with the following optimised snippet

[code]

Here, th

[2021-03-05 22:42] bshastry commented on #11062
This test (from `../test/libyul/yulInterpreterTests/recursive_function_for_loop.yul`) consumes 84 additional gas when optimised.

[code]

optimised to

[code]

[2021-03-05 23:51] recmo commented on #11054
AFAIK, the encoding used by ABI can not support recursive data structures, whereas the one in the EIP712 spec can. So you'd loose some functionality.

[2021-03-06 11:06] bshastry opened #11063 "[SMTChecker] ICE in toZ3Expr: Sort mismatch for function argument"
[code]

throws

[code]

[2021-03-06 11:06] bshastry opened #11064 "[SMTChecker] ICE because sorts uint[]_tuple and bytes_tuple are incompatible"
Several more can be found by forcing SMT checker (by adding a pragma) to existing semantic/syntax tests. Here's one more

[code]

throws

[code]

[2021-03-06 11:07] bshastry opened #11065 "[SMTChecker] ICE because sorts tuple(uint, uint) and struct Item are incompatible"
One more

[code]

throws

[code]

[2021-03-06 11:08] bshastry commented on #10986
@leonardoalt I did not open a separate issue since they looked like duplicates at first glance. I created separate issues for each of the above examples (see https://github.com/ethereum/solidity/issues/11063 https://github.com/ethereum/solidity/issues/11064 https://github.com/ethereum/solidity/issues/11065)

[2021-03-07 19:47] fkirc commented on #10277
I would like to add my support for this feature.
My problem with raw warnings is that they are not really actionable in an automated way.
Either I want to selectively ignore a warning, or I want to fix a warning.
To do so, warnings as errors would be a helpful cornerstone.

[2021-03-07 19:55] cameel commented on #10277
@fkirc  Are you using a framework, IDE or just the compiler directly?

[2021-03-07 20:01] fkirc commented on #10277
I am using Truffle, but I believe that this would be a good flag for the compiler directly.

[2021-03-07 22:32] cameel commented on #11065
This happens only when the code contains the `experimental SMTChecker` pragma, right? It's missing in the code snippet.

On 0.8.2 with the pragma I'm getting a similar message but without `terminate`:
[code]

[2021-03-07 23:32] mallapurbharat commented on #10930
I found this bug while searching for the "slot too deep inside the stack" error.

I am facing the same issue when trying to use Truffle compile the below source. I was trying to see how many value type arguments can be passed to a function. The solidity documentation seems to suggest that 16 arguments should be accessible. However, I found that only 11 seem to be accepted in 0.8.1 whereas 0.7.6 al

[2021-03-08 14:27] bshastry commented on #10985
Another ICE for the specific evm versions in this issue

[code]

throws

https://github.com/ethereum/solidity/blob/093ea4612bd2f2d99807fa3a12e8e45365e581ee/libsmtutil/SolverInterface.h#L263

[2021-03-08 16:24] blishko commented on #10986
I think this issue can be closed now, after the other examples have been moved to separate issues.
The original problem here has been fixed in #11052.

[2021-03-08 17:14] #10986 closed, assigned to nobody

[2021-03-08 17:15] m1cm1c opened #11067 "Arrays are ignored from structs in automatically generated getters"
## Description

Arrays are ignored from structs in automatically generated getters.

## Environment

- Compiler version: 0.8.2
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): none
- EVM execution environment / backend / blockchain client: none
- Operating system: Manjaro (Linux 5.4)

## Steps to Reproduce
Write the following code into a file named

[2021-03-08 17:25] m1cm1c commented on #11056
The second problem needs https://github.com/ethereum/solidity/issues/11067 to be fixed.

[2021-03-08 17:38] leonardoalt commented on #11056
@m1cm1c the issue you linked doesn't have a connection to this. The issue here is about the SMTChecker.

[2021-03-08 18:05] leonardoalt commented on #11067
@m1cm1c this is intended behavior, as pointed out in https://docs.soliditylang.org/en/v0.8.2/contracts.html#getter-functions.
The array itself cannot be returned in its entirety, to avoid unbounded gas costs. If the array is not inside a struct, its getter is a function that takes the index as an argument. When the array is inside a struct, there's no simple way to give the index to the struct's g

[2021-03-08 18:05] #11067 closed, assigned to nobody

[2021-03-08 18:26] bshastry commented on #11062
Excess gas consumption = Excess gas consumption per code unit * frequency of code unit

Example

[code]

This is probably obvious, just wanted to document that it is not necessary that gas cost increase only be due to nested for loops. A frequently called function (that contains a loop) may increase gas cost of optimised code substantially.

[2021-03-08 22:25] axic commented on #11006
I think you are right, I looked at [the formatError helper](https://github.com/ethereum/solidity/blob/develop/libsolidity/interface/StandardCompiler.cpp#L51) and  I missed the extra line in [formatErrorWithException](https://github.com/ethereum/solidity/blob/develop/libsolidity/interface/StandardCompiler.cpp#L138).

It also seems to be included in the documentation.

[2021-03-08 22:25] #11006 closed, assigned to cameel

[2021-03-08 22:30] axic commented on #11043
Since we do prepare an AST of inline assembly for the Solidity AST output, technically it should be possible to create a similar JSON output for Yul. We are lacking it right now and given we have seen some reluctance changing the Solidity AST, I would be careful making this output well "designed".

As a side-note I am not sure it currently would cover Yul objects.

Do you depend on this for Yul su

[2021-03-09 00:05] haltman-at commented on #11043
Well, it depends on how much support you want and how much we're willing to special-case things to get it to work.

So we can distinguish between multiple things here: The presence of `sources` at all (along with `id`), and the presence of `ast` in those sources.  (So possibly I should split this into two separate issues?)

So, let's start with `sources` and `id`.  Is this *necessary* for support?

[2021-03-09 00:25] axic commented on #11043
Thanks, having a nicer introspection support in the debugger for Yul does sound intriguing tough!

So are you saying that not even sources with id is necessary (what can one use it for without the ast though?), but to reap the benefits we should have sources with id and ast?

[2021-03-09 00:29] haltman-at commented on #11043
Yeah I think not even sources with IDs is necessary -- I mean it was never really *necessary* per se, the question was just how much we were willing to muck up our code to support it.  I thought it might be more than would be a good idea.  As it turns out the amount of that required is pretty minimal so I think it's fine.  (I'll probably want to discuss this with some other Truffle people to be su

[2021-03-09 04:17] haltman-at commented on #11043
Hm OK I've mostly gotten stuff working but there may be more of an issue than I thought with the lack of `sources` -- not in terms of breaking things but in terms of making sure things are arranged sensibly for the future... I'll have to talk about it with other Truffle people, so we'll see what happens there.

Also I'm noticing some possible problems with the Yul source maps, but I guess I'll ope

[2021-03-09 04:40] haltman-at opened #11068 "Error in Yul source map (missing values in first instruction)"
## Description

I've found a problem where I get an incorrect constructor source map when compiling Yul.  I haven't really tried different things here to determine what conditions cause this; I'm just going to report this as I found it.  The contract I tried compiling can be found below in the reproduction steps.

On compiling it I got the following constructor source map: `:::-:0;136:4:0;;110:1;1

[2021-03-09 09:39] #11056 closed, assigned to nobody

[2021-03-09 09:58] blishko commented on #11065
Fixed by #11059.

[2021-03-09 10:03] #11065 closed, assigned to nobody

[2021-03-09 10:08] chriseth commented on #11038
I firmly believe that import resolution (translation of import statements to paths in the compiler-internal filesystem) and lookup on the host filesystem should stay separated. This is imperative for being able to recompile on different systems.

If you reference paths in the CLI they reference actual files present in the current shell instance. You have a "current working directory", you have sym

[2021-03-09 12:54] chriseth commented on #11062
This is a known issue and I would think that we should focus on optimizing existing code first and only then look at generated examples. Is this part of you general fuzzing efforts?

[2021-03-09 13:01] chriseth commented on #10930
@mallapurbharat stack access is more complicated and depending on the context, the limit is hit earlier sometimes.

[2021-03-09 13:03] bshastry commented on #11062
Not sure I follow. Does existing code mean unit tests we currently have?

Yes. If it is of interest, I could create a PR for specifically targeting gas usage.

[2021-03-09 14:44] leonardoalt opened #11074 "[SMTChecker] Remove tx data automatically if possible"
Currently the CHC encoding adds tx data, for example the first 4 bytes of msg.data = function selector for public functions.
We could automatically detect if those things are used, and if they're not we can actually not add the constraints.

[2021-03-09 15:07] chriseth commented on #11062
Sorry, I meant "real world code" instead of "existing code". The optimizer has several steps that result in worse code, which are performed in the hope that other steps can make better use of the code. At some point we might fuzz this, but I think we are not at that stage yet.

[2021-03-09 15:39] #11063 closed, assigned to nobody

[2021-03-09 15:39] #11064 closed, assigned to nobody

[2021-03-09 16:52] #11041 closed, assigned to chriseth

[2021-03-09 20:08] xlab commented on #2691
Another annoying Warning, that I started to get after upgrading to 0.8.x:

[code]

Which is cool in most cases, but I already have clean constructors. This warning is emitted when running `--combined-json ast,compact-format` and then `--import-ast`. And there is no easy way how to resolve this.

So I'll have to find a hack how to eat all warnings from solc using stderr redirect, until this resolve

[2021-03-09 20:13] xlab opened #11077 "Visibility for constructor warning when Importing AST"
## Description

Another annoying Warning, that I started to get after upgrading to 0.8.x:

[code]

Which is cool in most cases, but I already have clean constructors. This warning is emitted when running `--combined-json ast,compact-format` and then `--import-ast`. And there is no easy way how to resolve this.

So I'll have to find a hack how to eat all warnings from solc using stderr redirect, un

[2021-03-09 20:19] xlab commented on #11012
There is some unfixable stuff in `solc` like #11077 and "waiting" is not really an option for any serious programmer there. So instead of a nice flag to ignore certain (or all) warnings, we just downgrade compilers, waiting on new versions, or using `sed` in the javascript manifests. 🤨

[2021-03-09 22:20] haltman-at opened #11078 "Static calls to known (or known-pure) precompiles should be considered pure rather than just view"
## Abstract

So, since Solidity isn't adding any new precompiles (see #3165), I tried actually implementing a precompiles library as described in that issue.  But I encountered the problem that, unless I was going to use assembly, all the functions had to be marked `view` rather than `pure`, because Solidity currently has no way of knowing that `x.staticcall(...)` won't alter the state when `x` is

[2021-03-10 09:36] #11005 closed, assigned to nobody

[2021-03-10 09:53] ekpyron opened #11080 "More optimal stack slot usage during EVM code transform."
Previous work includes https://github.com/ethereum/solidity/pull/10942 and https://github.com/ethereum/solidity/pull/11070
Below a record of two incomplete suggestion - I'm not sure either will work out, but maybe it makes sense to document it somewhere:

--------
Currently ẃe assign a fixed position on the stack to every Yul variable in the evm code transform and keep a mapping from variable to i

[2021-03-10 13:48] axic commented on #11017
I am a bit worried that we are introducing now introducing a lot special parser cases like `gas: min`, `gas: max`, etc.

How about we introduce a `gas` "global" with the fields `.stipend`, `.left` (== `gasleft()`), `.max`?

[2021-03-10 13:56] cameel commented on #11017
Could also be `tx.gas` (`tx.gas.left`, `tx.gas.stipend`, `tx.gas.max`), etc. Though it would make names longer.

[2021-03-10 14:04] frangio commented on #10463
Are there plans to implement this soon? We're using immutable variables now and are hoping to be able to remove limitations for calling internal functions that access these immutable variables.

[2021-03-10 14:11] #10474 closed, assigned to mijovic

[2021-03-10 16:04] mattdf opened #11081 "Constructor superclass invocations are mislabled as ModifierInvocation in AST"
## Description

When a constructor explicitly invokes a superclass constructor, the AST output misrepresents the NodeType as `'ModifierInvocation'` rather than as a `'FunctionCall'` or, I suppose a new NodeType that should be specific to constructor invocations.

## Environment

- Compiler version: v0.8.2
- Target EVM version (as per compiler settings): default
- Operating system: Linux

## Steps

[2021-03-10 16:12] chriseth commented on #11081
The type of node is correct. It is not a function call - function calls happen at expression level. Note that writing `SuperClassName(x)` does not even invoke the super class constructor. The order of evaluation of constructors cannot be changed by this, it is fixed through the C3 linearization. What you do when you use this syntactic construct is that you set the base constructor arguments - noth

[2021-03-10 16:31] ekpyron opened #11082 "Consider `.pop` for dynamic calldata arrays."
Came up during the second Solidity AMA: https://forum.soliditylang.org/t/solidity-team-ama-2-on-wed-10th-of-march-2021/152/7

Since, in general, we cannot reasonably extend calldata array slices to nested arrays (since we would need to store the base pointer making it three-stack-slot types, which would become excessive), this might be an alternative at least for "one-sided" slicing we could consi

[2021-03-10 16:39] mattdf commented on #11081
It would be helpful to at least have a `.kind` property in this NodeType that differentiates between an actual modifier and a `SuperClass` constructor "call", the same way `FunctionCall` has differentiations via `.kind`, so one doesn't have to resolve the referenced declaration to figure out that it's not actually a modifier invocation.

[2021-03-10 16:51] chriseth commented on #11081
Yep, we can do that!

[2021-03-10 18:04] hrkrshnn commented on #11017
Made a forum post asking for use cases: https://forum.soliditylang.org/t/feedback-on-address-payable-transfer/164

[2021-03-10 19:47] axic opened #11084 "Change the "runs" parameter to "goal""
Questions about the runs parameter come up many times (e.g. [1](https://gitter.im/ethereum/solidity-dev?at=5dd19f14fd6fe41fc0a0a2a5), [2](https://gitter.im/ethereum/solidity-dev?at=60411fe422a5ce4a9132fb16)). Many cases people think runs here equals to the number of optimizer runs.

The `runs` parameter is described as "Estimated number of calls per opcode oven the lifetime of the contract." in th

[2021-03-10 20:37] axic commented on #10475
@aarlt this is the issue we discussed regarding the next priority for isoltest

[2021-03-10 20:45] axic opened #11085 "Add some support for PGO (profile-guided optimization)"
See https://en.wikipedia.org/wiki/Profile-guided_optimization. (This was [discussed on gitter](https://gitter.im/ethereum/solidity-dev?at=60412acbd71b6554cd203312).)

Guiding the compiler with usage data could help determining which code paths matter and could prefer those for cost. This could also make proposals like #4858, #6234 or #8186 moot.

One potential idea is to have a new input to standa

[2021-03-10 21:21] chriseth commented on #11085
Instead of AST ids we could also use the names of yul functions or IR code line numbers before optimization.

[2021-03-10 21:31] axic commented on #11043
Actually for having the AST we have the issue #9590.

[2021-03-10 21:32] haltman-at commented on #11043
Oh, I missed that, thanks!

[2021-03-10 21:40] axic opened #11086 "[Yul] Syntax for "origin" source location"
Since Yul's goal is to be used as an IR we want to keep the source locations of the *actual source code* in Yul. This is needed to have proper debugging support through the IR pipeline.

I could not find an issue for this, but we discussed it on several design meetings. If I recall correctly, the idea is that we change the `location` field in [Yul AST](https://github.com/ethereum/solidity/blob/dev

[2021-03-10 21:46] chriseth commented on #11086
I would propose to change the Yul AST data structures for that. We replace the `location` field of each of those by a more generic `debugdata` field that can contain various data, like the solidity source location, the yul source location, the variables that start their scope here and so on. The good thing is that all optimizer steps already properly copy this location field and thus would also co

[2021-03-10 22:25] cameel commented on #8064
Do we consider this solved now that we have implemented #9995?

[2021-03-10 22:32] axic commented on #10204
#10971 removed this function.

[2021-03-10 22:32] #10204 closed, assigned to nobody

[2021-03-10 22:39] axic commented on #10282
In https://github.com/ethereum/solidity/issues/9358#issuecomment-655626101 there was as suggestion for other special namespaces like `crypto`.

[2021-03-10 22:43] axic commented on #3851
As a heads up, @chfast is working on changing the recursive design of intx to a flat array based one. This would mean large instances (like the 4096-bit precision we discussed here) would become cheap.

[2021-03-10 22:45] axic commented on #8064
Yes. It is now up to frameworks to support it, there are some pending issues for that, but it is beyond our control.

[2021-03-10 22:45] #8064 closed, assigned to nobody

[2021-03-10 22:47] axic commented on #4035
@chriseth is this mostly about removing the `assertDetails` for elementary types?

[2021-03-10 22:54] axic commented on #10476
I thought #8240 fixed this, but perhaps it was the one introducing it? :)

[2021-03-10 23:42] rmeissner commented on #9351
(Cross posting from the solidity forum)
I added compiling with `viaIR` and `0.8.2` to the Gnosis Safe Github workflows (see https://github.com/gnosis/safe-contracts/runs/2081894289?check_suite_focus=true#step:6:5) and encountered the error `YulException: Variable param_15 is 2 slot(s) too deep inside the stack.` (can be seen further down in the logs).

[2021-03-11 00:20] axic commented on #10868
@chriseth did we do this yet?

[2021-03-11 00:22] axic commented on #10667
Still happens on develop.

[2021-03-11 00:27] axic commented on #5165
Fixed by #10474.

[2021-03-11 00:27] #5165 closed, assigned to nobody

[2021-03-11 10:37] axic commented on #6015
https://github.com/ethereum/solidity/commit/35fe5cde06ebaec4abe2e57e366495d2c8f25b21, but now it can be implemented using the `feasible` feature with less rules (see https://github.com/ethereum/solidity/issues/6015#issuecomment-474672720)

[2021-03-11 11:09] hrkrshnn commented on #11017
Here is a blog post https://consensys.net/diligence/blog/2019/09/stop-using-soliditys-transfer-now/ recommending to stop using `transfer` for solidity. OZ's https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/utils/Address.sol#L53 address library and `sendValue` seem to be used instead.

[2021-03-11 11:24] hrkrshnn commented on #11077
Closed in https://github.com/ethereum/solidity/pull/11079

[2021-03-11 11:24] #11077 closed, assigned to hrkrshnn

[2021-03-11 12:58] chriseth commented on #4035
The class `Assignment` in the AST has a member `Token m_assigmentOperator;`. It would be nice if the C++ compiler could guarantee that it can only receive a token that is a (compound) assignment operator. But I would not say that this issue is particularly important.

[2021-03-11 12:58] chriseth commented on #10868
Yes, 0.8.1 is deprecated.

[2021-03-11 12:58] #10868 closed, assigned to nobody

[2021-03-11 13:28] bshastry opened #11090 "Make IR breaking changes public."
## Description

[code]

passes but it should not. What should not pass is the `y() -> 0` and `g() -> 0` parts. They should both equal `0x2a`.

Funnily enough, this test reports correct results via yul i.e., new code gen. We already have a semantic test for it here (only for new code gen and ewasm) https://github.com/ethereum/solidity/blob/develop/test/libsolidity/semanticTests/constructor_inherita

[2021-03-11 13:29] axic commented on #10868
https://www.npmjs.com/package/solc/v/0.8.1

[2021-03-11 13:46] bshastry commented on #11090
This may actually be closed because it is documented behavior https://github.com/ethereum/solidity/blob/develop/docs/ir/ir-breaking-changes.rst

Still since @ekpyron suggested that that page be made public, leaving this issue open for now.

[2021-03-12 11:56] ekpyron opened #11096 "Testing docker images and CI runs for Debian stable"
Motivation: Our docs claim that we are compatible with gcc 8, but since ubuntu 20.04 already ships gcc 9 this was actually untested and we broke things (see https://github.com/ethereum/solidity/pull/11095).

The main reason we kept the requirement at GCC 8, I think, was that it's what Debian stable (buster) ships.

I'd say generally supporting the latest stable Debian release is a reasonable compr

[2021-03-12 12:29] #10183 closed, assigned to cameel

[2021-03-12 14:44] #10831 closed, assigned to nobody

[2021-03-12 19:52] axic commented on #9934
Today we discussed it would be nice to
1. Improve the `update` script to populate the readme with a table of releases with links to each binary (and the github release page) -- which is basically this issue
2. Run a "markdown to html" renderer in `s3-sync.sh` -- which was added by https://github.com/ethereum/solc-bin/pull/85

[2021-03-12 21:37] axic commented on #5252
Not sure how could we do this. It would be reasonably simple adding a "compilationTime" line to isoltest for syntax/semantic tests, but that is really prone to machine differences (thinking about developer's machine vs. ci).

[2021-03-13 06:00] flashv2 opened #11099 "Ethereum"
## Abstract

## Motivation

## Specification

## Backwards Compatibility

[2021-03-13 07:09] jiangshangqifeng opened #11100 "core dumped when testing"
## Description
when I try to test the solc, the isoltest core dumped

## Environment

- Compiler version:v0.8.2
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):isoltest
- EVM execution environment / backend / blockchain client: isoltest
- Operating system:
  Description:    Ubuntu 20.10
  Release:        20.10
  Codename:       groovy
- gcc: 10.2.0
- cmake:

[2021-03-13 07:17] jiangshangqifeng commented on #11100
and run with `./scripts/tests.sh` also failed with error:

[code]

[2021-03-13 16:48] cameel commented on #11100
@jiangshangqifeng Are you building code from `v0.8.2` tag or the latest revision from `develop`? I just tried on my local build and I could not reproduce it. But my build is a bit behind `develop` right now so the problem might just be something more recent.

Also, have you tried building with Z3 4.8.10? Latest Z3 should still of course work but we're usually using 4.8.10 for development so I wond

[2021-03-13 16:51] #11099 closed, assigned to nobody

[2021-03-13 18:01] logankilpatrick opened #11101 "Add more details around what it means to use Ether units"
## Abstract

Right now, it is rather unclear based on reading the docs here: https://github.com/ethereum/solidity/blob/v0.8.2/docs/units-and-global-variables.rst what we can actually use ether units for.

## Motivation

Adding in more examples of how it can be used. I was specifically interested in how to solve the division/floating point problem in Solidity and was pointed to this section but it

[2021-03-13 19:28] cameel commented on #11101
Thanks for your input! We definitely want the docs to be clear so if there's something we can do to improve them, we'll work on that. That being said, I think that the example shows pretty clearly that numbers with these units are just integers:

I.e. `1 wei` is exactly the same as `1` and `wei` is there just for clarity. `1 gwei` is a shorthand for `1000000000`, etc. There's nothing more to it an

[2021-03-15 02:33] jiangshangqifeng commented on #11100
thank you for your replying.
Yes I built code from tag  v0.8.2 (661d11035b871aa1624bf568e3d476ef1bf25895)
I have tried Z3 with v4.8.10(517d907567f4283ad8b48ff9c2a3f6dce838569e) and  the `Segmentation fault` still
shall I have to use gcc 9.3?  it's said that this version work well with that

[2021-03-15 07:05] cameel commented on #5252
We might try running them only in CI and always on the machine of the same size so that results are always comparable? I.e. you could still run them locally but there would be a flag to enforce them and the flag would only be set in CI.

CircleCI upgrading their machines might interfere with that though. And from what I have seen running time can vary a lot for the same job even when rerunning on

[2021-03-15 10:53] hrkrshnn commented on #11084
Renaming "runs" sounds like a good idea. It's rather confusing currently. What levels / numbers are we going to pick?

[2021-03-15 11:06] #10847 closed, assigned to nobody

[2021-03-15 11:44] cameel commented on #11084
Just my personal experience: the meaning `runs` was pretty clear to me from the beginning and `goal` sounds very vague. Maybe it would be better to choose something clearer but still preserving the original meaning (unless we go for a new setting and just remove it altogether)? Unfortunately I can't think of anything as succint as `runs`. Some ideas:
- `--target-call-frequency=200`
- `--expected-u

[2021-03-15 11:44] maxsam4 opened #11102 "A smart contract hub that routes calls to various child smart contracts to bypass the 24KB bytecode limit"
## Abstract

Allow the compiler to create a smart contract hub that connects multiple smart contracts together to have a single entry point without being limited to the 24 kb limit of Solidity.

The proposal is to introduce syntax for creating a hub contract which acts as a single entry point for complex smart contract systems and proxies calls to different implementation contracts using delegate

[2021-03-15 11:55] ekpyron commented on #11084
Renaming it indeed sounds good, but also not sure about ``goal``. I guess ``goal`` would not be an integer, though, but rather a string like ``lowRuntimeCost`` or ``smallCodeSize`` or sth like that?
If we want to keep it at an integer: internally we call it `expectedExecutionsPerDeployment` and that does make sense.
It  might also make sense to provide both a high-level mechanism like "goal=lowRun

[2021-03-15 12:23] hrkrshnn commented on #11102
On `Hub.Foo.value < 42` inside contract `Bar`. What is that supposed to do? If `Bar` is considered as an independent contract, then that statement cannot be resolved. Perhaps, `contract Bar` should be defined inside the scope of `Hub`?

[2021-03-15 12:39] maxsam4 commented on #11102
`Bar` is a dependent/abstract contract that can only be compiled under the scope of `Hub` (using the `routes` keyword).

`Foo` is an independent contract though. This approach allows users to have both independent and dependent/abstract contracts as child contracts.

[2021-03-15 12:47] ucwong opened #11103 "error: ‘list’ in namespace ‘std’ does not name a template type"
![image](https://user-images.githubusercontent.com/22344498/111155574-96d1fa00-85cf-11eb-91ff-d1844560a4cf.png)
[code]

[2021-03-15 12:54] ekpyron commented on #11103
https://github.com/ethereum/solidity/pull/11104 should fix the issue - but I wonder:
``Ubuntu 10.1.0-2ubuntu1~18.04`` looks to me like you're running ubuntu 18.04 bionic, right? Where did you get the gcc 10 build for that? Judging from https://packages.ubuntu.com/focal/gcc-10 and https://packages.ubuntu.com/bionic-updates/gcc I didn't think it was available for ubuntu 18.04.

[2021-03-15 13:01] ekpyron commented on #11103
I'm a bit surprised that this does not happen in any of our CI runs... we do have CI runs against gcc  9.3 and against gcc 10.2, but didn't get that error there. In any case, the header should be fixed, so #11104 should be merged regardless.

[2021-03-15 13:02] ucwong commented on #11103
@ekpyron just install by ```apt install gcc-10 ```

[2021-03-15 13:03] ekpyron commented on #11103
Curious... but it is ubuntu 18.04 bionic?
In a ubuntu 18.04 docker image I get
[code]

[2021-03-15 13:05] ucwong commented on #11103
![image](https://user-images.githubusercontent.com/22344498/111157643-15c83200-85d2-11eb-9938-fcedf72eaac0.png)
Yes , curious
Should  I switch to gcc-9 and try again ?

[2021-03-15 13:12] ekpyron commented on #11103
Actually, I do not have gcc-9 available in bionic either :-). In the ``ubuntu:bionic`` docker image I do get:
[code]
So I'm not sure what's happening here... Do you have anything special in ``/etc/apt/sources.list`` or the like?

If nothing else works, you can also just add the header to the respective file (i.e. what https://github.com/ethereum/solidity/pull/11104 does), that should fix the issue

[2021-03-15 13:15] ucwong commented on #11103
@ekpyron Thank you but https://github.com/ethereum/solidity/pull/11104 has not been merged yet

[2021-03-15 13:20] #11103 closed, assigned to nobody

[2021-03-15 13:20] ekpyron commented on #11103
Now it has ;-). Please reopen the issue, in case the problem remains for some reason!

[2021-03-15 13:59] blishko commented on #11022
I reproduced this crash in `0.8.1`, got a different crash in `0.8.2`, but no crash in `develop`.
There has been several fixes regarding crashes in SMTChecker recently
It looks like some of them fixed also this issue.

[2021-03-15 14:01] #10926 closed, assigned to nobody

[2021-03-15 14:01] #10957 closed, assigned to nobody

[2021-03-15 14:02] leonardoalt commented on #11022
@vporton please reopen if needed

[2021-03-15 14:02] #11022 closed, assigned to nobody

[2021-03-15 14:02] chriseth commented on #11102
Thanks for the proposal! I think it should be clarified a bit more on the way to construct the hub. I guess the idea is to split the creation into multiple transactions, so that they can go over the tx size limit, right?

Another fundamental question I have is about inheritance / polymorphism and the way the dispatch is implemented: If we know that the delegated contracts / modules do not have add

[2021-03-15 20:42] #11049 closed, assigned to nobody

[2021-03-16 06:31] maxsam4 commented on #11102
Every module will be deployed in a separate transaction, thus you can have as many modules as you want. The hub will be deployed in a single transaction through so there's a practical limit on the size of routing table you can fit in but that should be quite large.

I don't think we can assume that. How substantial are the optimizations mentioned here? We can consider adding these constraints but

[2021-03-16 10:02] AndonMitev opened #11111 "How to check size of calldata"
How to check the maximum size of the calldata, i have a function which looks like this:
[code]

If i call this function with 2000 addresses is ok but when i try to call with 20000 throw error oversized data, my question is how i can check what is the maximum accepted size before this error is thrown