[2020-05-13 10:01] chriseth commented on #8731
Is this done? @ekpyron

[2020-05-13 10:21] ekpyron commented on #8731
I would say so, yes - didn't know about this issue. Even though we ended up *not* allowing to receive ether in the case described in the issue :-).

[2020-05-13 10:21] #8731 closed, assigned to mijovic

[2020-05-13 11:20] MrChico commented on #8772
I like this proposal and I prefer syntax 2 :)

[2020-05-13 12:31] axic commented on #8911
@chriseth @aarlt @frangio @ethers any opinion here?

[2020-05-13 12:35] leonardoalt opened #8928 "Extract libsmtutil out of libsolidity/formal"
We should extract the contents of `libsolidity/formal` into a `libsmtutil` that can also be used by `libyul`. This should contain things that do not depend on anything Solidity related.
Potential cases for that:
- Sorts
- SolverInterface
- *Interface
- SMTPortfolio

[2020-05-13 12:37] axic commented on #8922
My description was hastily done so probably not clear enough, I mean these tags to be include in the JSON and not added by the user.

Currently the following JSON is output:
[code]

After the change:
[code]

[2020-05-13 12:48] axic commented on #5453
cc @franzihei this might be interesting to you

[2020-05-13 12:51] franzihei commented on #5453
yes, thank you!

[2020-05-13 12:58] bshastry opened #8929 "[solc] ICE because exponent too large"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/b2122d479fc0554a9506f4e393fe95aa52f503d3/libsolidity/ast/Types.cpp#L1196

Fixed by https://github.com/ethereum/solidity/pull/8903

## Environment

- Compiler version: latest develop

## Steps to reproduce

[code]

[2020-05-13 13:48] chriseth commented on #8911
We looked into that in the past, but I think doxygen and javadoc do not mention this subject, unfortunately.

I would prefer to have an all-or-nothing behaviour: As soon as you provide a docstring, the base docstring is ignored. The same should happen for a function overriding multiple base functions, even if only one of them specfies docstrings.

In addition to that, we could add `@inheritdoc <Co

[2020-05-13 13:49] #8297 closed, assigned to hrkrshnn

[2020-05-13 13:49] #8929 closed, assigned to nobody

[2020-05-13 13:53] chriseth commented on #8922
Ok, I see! So the idea is to make the kind of the json structure visible even without context.

[2020-05-13 13:55] axic commented on #8922
Yes, and also to have a version so that we can make "breaking" changes to natspec.

[2020-05-13 14:03] chriseth commented on #8922
We should also have a field to specify the templating language / engine that is used for natspec.

[2020-05-13 14:03] chriseth commented on #8922
@ligi you might be interested in this issue.

[2020-05-13 14:04] chriseth commented on #8772
It would be great if we could stick to the fixed-size array notation, but maybe this is misleading because of the packed encoding.

[2020-05-13 14:08] axic commented on #8772
The benefit of syntax 3 could show if we introduce `min`/`max` lengths in the future:
[code]

Don't have a use case at hand, but potentially there are use cases.

[2020-05-13 14:14] chriseth commented on #8772
names of ABI types and how the are named in a language that uses ethereum abi are two different things :)

[2020-05-13 14:16] axic commented on #8772
There is a pretty good correlation right now.

[2020-05-13 14:17] ekpyron commented on #8772
It'd be cool if this could just be how ``byte[N]`` works (following @chriseth's comment above), but unfortunately we probably can't just break that ... even though I think it unlikely anybody ever uses ``byte[N]`` now, for it being *not* packed...

[2020-05-13 14:20] ekpyron commented on #8772
Hmmm... or can we break that :-)? We could say that ``bytes1[N]`` is still padded and we could start warning about ``byte[N]`` in 0.6 and changing its semantics in 0.7... actually we could even abandon ``bytes`` in favour of ``byte[]`` that way, then we can be sure people would notice the change :-)... but yeah, not sure...

[2020-05-13 14:22] axic commented on #8772
I haven't considered breaking changes, hence the above three syntactical options.

If we consider breaking changes it would be nice to overhaul fixed-size arrays.

[2020-05-13 14:29] axic commented on #8772
If we are making a breaking change we could consider reusing the range/slice syntax:
[code]

Though I still prefer https://github.com/ethereum/solidity/issues/8772#issuecomment-628013973

[2020-05-13 14:31] ekpyron commented on #8772
Question: would it only be multiples of ``32`` or would there be e.g. ``bytes33`` (in whatever syntax)? If the latter, then how wide would ``bytes33`` actually be? 64 bytes and abi decoding ensures the last 31 to be zero?

Depending on that and *if* we want to go down a breaking path, we could actually even consistently replace bytes1..bytes32 by ``byte[1]...byte[32]``...

[2020-05-13 14:35] chriseth commented on #8772
Note that @ekpyron  did not suggest a breaking change: `byte` is not a type known to the ABI, only `bytes1` is.

[2020-05-13 14:36] chriseth commented on #8772
We could use `byte[N]` while it translates to `bytesN` in the abi if `N<=32` and `byte[N]` otherwise.

[2020-05-13 14:36] ekpyron commented on #8772
It's not breaking the ABI, but it's breaking the syntax, isn't it? Because so far ``byte[N]`` is a synonym to ``bytes1[N]``...

[2020-05-13 14:38] chriseth commented on #8772
Sure, but breaking changes in Solidity are comparatively easy to do and we could still use `bytes1[N]` in Solidity, although I don't think that anybody would...

[2020-05-13 14:44] ekpyron commented on #8772
Alright, nice, if we're open to break the current ``byte[N]``syntax  in solidity, then so far I'd vote for doing that! In case we agree on that, there's a few things to iron out, though... should we keep ``bytes1..bytes32``? Do we need that for the ``bytes1[N]`` workaround to get the old behaviour? Could that instead be ``byte[1][N]``? Will we support ``byte[N] x = 0x12...FF`` for ``N > 32`` and w

[2020-05-13 15:55] #8368 closed, assigned to Marenz

[2020-05-13 17:08] frangio commented on #8911
In the docs for OpenZeppelin Contracts we manually add a reference to the overriden function. [`ERC20.transfer`](https://docs.openzeppelin.com/contracts/3.x/api/token/erc20#ERC20-transfer-address-uint256-), for example, looks like this:

![image](https://user-images.githubusercontent.com/481465/81841610-1959db00-9521-11ea-9fc7-334a2d0a7618.png)

We plan to eventually also embed along with the link

[2020-05-13 22:01] thomasbernardi commented on #5280
I ran into this problem too, and I think part of the issue is that it's unclear the significance of the keys in the `sources` map. It's hinted it in the documentation:

but [this](https://solidity.readthedocs.io/en/v0.6.6/using-the-compiler.html) page does not make it very clear what this concept of a global name is.

For me I really think it was a lack of clarity in the documentation that made it

[2020-05-13 23:21] #7738 closed, assigned to nobody

[2020-05-14 08:59] bshastry commented on #8269
A slightly smaller test case for this issue

[code]

[2020-05-14 09:20] chriseth commented on #869
Some implementation notes for the version of templatizing full libraries (including their structs):

We parse templatized libraries, but skip them at first for reference resolution. After reference resolution, we add a loop:

loop:
 - search for all references to templatized libraries and store the types for the template parameters in a map
 - break if no new template parameter values are discover

[2020-05-14 09:40] ekpyron commented on #869
What about this:
- For each templatized library we store a map from type to AST nodes containing versions of the library specialized for that type.
- Whenever we encounter a reference to a templatized library, we either resolve to the specialized AST node in the map or create a specialization and store it in the map.

The rest of the compilation process can continue without modification, as if the

[2020-05-14 09:55] #8614 closed, assigned to nobody

[2020-05-14 10:19] ekpyron commented on #869
If we go for specialized copies of AST subtrees, we should probably still annotate such AST nodes with the "source template" and specialization type and support that in error messages (e.g. ``TypeError: blahblah in specialization of L for type int.``)

[2020-05-14 11:51] ekpyron commented on #7635
https://github.com/ethereum/solidity/issues/8448 falls under this as well.

[2020-05-14 11:58] ekpyron commented on #7635
To be more precise: things like assigning abiencoderv2-only calldata types to memory or storage should be at least a proper ``unimplemented`` assertion in old codegen and - as far as possible - we should try to make sure that that's all cases like this.

[2020-05-14 12:03] ekpyron commented on #7635
Looking at which code parts https://github.com/ethereum/solidity/pull/6983/ and https://github.com/ethereum/solidity/pull/6881/ would have touched might help - that may very well pretty much be where we're missing the assertions.

[2020-05-14 12:33] #8119 closed, assigned to nobody

[2020-05-14 13:21] chriseth commented on #8243
This might be obsolete when we use z3 in the optimizer.

[2020-05-14 13:43] chriseth commented on #5545
For calldata variables we have a similar problem as with storage pointer variables: They cannot be properly auto-initialized and have to be assigned before they can be accessed.

Although it might be useful to auto-initialize them to `calldatasize()`.

[2020-05-14 14:34] chriseth commented on #697
I don't think this is an issue anymore with the new syntax.

[2020-05-14 14:34] #697 closed, assigned to nobody

[2020-05-14 15:59] bshastry opened #8946 "[codegen] ICE because "variable->type()->category() != Type::Category::Integer""
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/b71a3f1f1d9771a4a1c2f8bfb356399f3eafbcc9/libsolidity/codegen/ContractCompiler.cpp#L730

## Environment

- Compiler version: latest develop

## Steps to reproduce

[code]

[2020-05-14 16:00] bshastry commented on #8946
Closing because duplicate of #8412

[2020-05-14 16:00] #8946 closed, assigned to nobody

[2020-05-14 17:12] #2963 closed, assigned to nobody

[2020-05-14 17:12] #8851 closed, assigned to ekpyron

[2020-05-14 17:12] #8877 closed, assigned to ekpyron

[2020-05-14 17:39] leonardoalt commented on #3857
We actually have all the initial options implemented by now ;)
(https://github.com/ethereum/solidity/pull/8909)

[2020-05-14 17:39] #3857 closed, assigned to leonardoalt

[2020-05-14 17:48] agroce opened #8947 "[SMTChecker] ICE in set<const solidity::frontend::VariableDeclaration *> solidity::frontend::SMTEncoder::touchedVariables(const solidity::frontend::ASTNode &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.  I threw ALL the .sol files under libsolidity into the corpus, so it's effectively fuzzing the SMTChecker and such now, also, I expect this will turn up some things.

## Environment

- Compiler version:  0.6.8-devel

[2020-05-14 19:17] agroce commented on #8947
declaration of `g` is not needed, but I can't get the duplicated `f() == 0` to go away with a reducer

[2020-05-14 19:47] frangio opened #8954 "Invalid JSON file in repository"
I'm trying to use the sample JSON files in this repository and found that one of them is not valid JSON. (It contains several objects separated by commas.) Would it be possible to split it into several valid JSON files?

https://github.com/ethereum/solidity/blob/f1af29f14901bf1b08a0df0b01344a4553797fae/test/libsolidity/ASTJSON/documentation.json#L41

[2020-05-15 14:46] hrkrshnn commented on #8269
This is a bug in the BlockDeDuplicator.

I'm using the following code
[code]

The above code produced the unoptimized assembly (`./solc --asm`):
[code]

When `--optimize` is enabled, inside `sub_0`, the `BlockDeDuplicator` does the following changes. (the first one gets replaced by the second)
1. `tag_5 <- tag_4`
2. `tag_8 <- tag_6`
3. `tag_10 <- tag_6`
4. `tag_11 <- tag_9`
5. `tag_4 <- tag_3`
6.

[2020-05-15 19:23] nventuro commented on #8854
I just noted that the assembly version introduced in https://github.com/ethereum/solidity/pull/7327 is considered `pure`, the following code compiles fine:

[code]

Isn't this a bug? Such a function cannot be really computed client-side: it very much depends on the node's 'state' (configuration?).

[2020-05-16 12:32] agroce opened #8959 "ICE in solidity::yul::CodeGenerator::assemble: [Variable headStart is 2 slot(s) too deep inside the stack.]"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc, only with `--optimize`

Similar to #8369 except that happens with or without `--optimize`, and I'm speculating the `headStart` vs `dataEnd` may mean different problems with the assembly, so reporting separately.  The minimized code is sort of different also, the returns of tuples seem to be required here.

On master

[2020-05-16 12:50] loredanacirstea opened #8960 "Support for call* functions when compiling to ewasm"
When compiling Yul -> ewasm, `call`, `staticcall`, `delegatecall` etc. are not included in the final bytecode, nor in the `.wat` output. No Ethereum Interface imports are added for them to the wasm module.

Example: https://gist.github.com/loredanacirstea/d8da062392b7c165976bbc25a183149e

[code]

[2020-05-16 17:14] attritionorg commented on #8725
Siemens Security Advisory
Slackware Security Advisory

Both use 'SSA' and come to mind immediately.

[2020-05-16 17:35] axic commented on #8725
Do you think the original `SOL-<year>-<num>` is better?

Is there a comprehensive collection of these prefixes somewhere?

[2020-05-16 18:38] attritionorg commented on #8725
Unfortunately no catalog of those prefixes. They also change sometimes over the year for various reasons. Those two were the first to come to mind. I can't think of any current ones that use "SOL-" but that certainly doesn't mean there isn't one. A quick search of our vulnerability database doesn't show any so I think that would be fairly unique and better than SSA.

[2020-05-17 08:14] duytai opened #8961 "srcmap-runtime is inaccurate"
## Description

srcmap-runtime is inaccurate

## Environment

- Compiler version:  0.5.10+commit.5a6ea5b1.Linux.g++
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: Ubuntu

## Steps to Reproduce
I use the below command to get get srcmap-runtime of smart contract __RampInstantToke

[2020-05-17 14:06] loredanacirstea opened #8962 "yul -> ewasm: CompileError: WebAssembly.Module(): Compiling function #9 failed: expected 1 elements on the stack for return, found 0"
## Description

I am trying to instantiate a WebAssembly module from the ewasm bytecode produced by `solc` from a `.yul` source and I get:

[code]

Full `solc` output: https://gist.github.com/loredanacirstea/cf38ace41b609b629293070cbc172216

Source:
[code]

The offending code is `div(mload(_calldata), 10)`.
If I replace the `Runtime` code with:
[code]
There is no error. So the problem appears when

[2020-05-17 19:10] agroce opened #8963 "[SMTChecker] ICE in solidity::frontend::SMTEncoder::mergeVariables(const set<const solidity::frontend::VariableDeclaration *> &, const smt::Expression &, const solidity::frontend::SMTEncoder::VariableIndices &, const solidity::frontend::SMTEncoder::VariableIndices &"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.  I threw ALL the .sol files under libsolidity into the corpus, so it's effectively fuzzing the SMTChecker and such now, also, I expect this will turn up some things.

## Environment

- Compiler version:  0.6.8-devel

[2020-05-17 22:16] loredanacirstea opened #8965 "Implement keccak256 polyfill for ewasm"
Opening this issue to track `keccak256` implementation for ewasm. It was mentioned as being done in this PR's description: https://github.com/ethereum/solidity/pull/8049, but it is not: https://github.com/ethereum/solidity/blob/c1ed5bbb0ff078ff5cfe7287a603b1385e6d6ee9/libyul/backends/wasm/EVMToEwasmTranslator.cpp#L808-L811

[2020-05-17 22:41] loredanacirstea opened #8966 "yul -> ewasm : for loops are compiled to the first loop iteration only"
## Description

If you compile Yul code with for loops to ewasm, you will only get the first loop iteration.

## Environment

- Compiler version: `0.6.8+commit.0bbfe453.Darwin.appleclang`

## Steps to Reproduce

Full solc output: https://gist.github.com/loredanacirstea/a3a92e833e213af81ba12b38b36d7eba

[code]

The result is `6` instead of `11`.

[2020-05-18 01:26] axic commented on #8854
This is a good point and I think it is partly due how hastily chainid was added to the system :wink:

(Note: The `stateMutability` setting is not necessarily reflecting how EOAs interact with contracts (e.g. code run on client side or on chain), rather it is only reflecting whether a given function needs to read the state or needs to modify the state.)

I think we need to look at this from two ang

[2020-05-18 09:27] #8269 closed, assigned to hrkrshnn

[2020-05-18 09:37] mijovic commented on #6739
We can't go deep into Assembly objects, it just can take direct subobjects.

[2020-05-18 09:42] chriseth commented on #8842
@haltman-at what do you think about the proposal above?

[2020-05-18 09:54] chriseth commented on #8961
Confirmed, all start and end locations seem to be off by one for this contract in remix when using the "copy to clipboard" feature of etherscan. Other contracts are fine. My guess would be that this is due to a two-byte unicode character.

[2020-05-18 09:55] franzihei opened #8968 "[Lang Design] Solidity Community Call #0"
## What

We want to introduce regular community calls where we discuss a selected language design topic (e.g. controversial feature request) and whether / how to implement it together with the community.

## Open Tasks

- [x] Define topic for Sol Community Call # 0 (fixed point types or SafeMath by default?)
- [x] Define topic owner and prepare discussion points for the call
- [x] Upload key discu

[2020-05-18 10:24] franzihei commented on #8968
@chriseth @axic Which topic do we want to discuss in the first call?

[2020-05-18 10:55] axic commented on #8968
I have no preference over "fixed point types" or "safemath".

[2020-05-18 11:35] chriseth commented on #8968
Then I would suggest safemath. Discussion points:

 - unchecked area, checked area or specific functions/operators
 - what to do about exp: checking is very expensive
 - checks on explicit type conversions?
 - checks on shift (would assume no)
 - invalid opcode or revert

[2020-05-18 12:00] chriseth commented on #8966
This seems to be a problem with the optimizer - the condition is pulled out of the loop and not updated.

[2020-05-18 12:47] chriseth commented on #8965
@axic is there some implementation we can use?

[2020-05-18 12:49] chriseth opened #8969 "Implement project board automation"
Implement automation (maybe through github actions) for the following:
 - newly opened issues should be added to the "Solidity" project board under "new issues"
 - stale issues that are not in the icebox should get a "ping" comment

[2020-05-18 13:32] axic commented on #8965
I think this could be "esaily" translated to yul: https://github.com/axic/keccak-wasm

Or just include it in text form.

[2020-05-18 15:02] niklasb opened #8970 "Allow inheriting implementation for an abstract function"
## Abstract

This feature request is asking for the following code to compile without errors:

[code]

## Motivation

In my understanding, an interface in Solidity is similar to a Java interface in that it describes a set of functions that a contract supports. The eventual "final" contracts needs to implement all functions specified in any of the inherited interface. Pulling in implementations of

[2020-05-18 15:05] agroce opened #8971 "[SMTChecker] ICE in solidity::frontend::SMTEncoder::assignment(const solidity::frontend::Expression &, const vector<smt::Expression> &, const solidity::frontend::TypePointer &, const langutil::SourceLocation &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.  I threw ALL the .sol files under libsolidity into the corpus, so it's effectively fuzzing the SMTChecker and such now, also, I expect this will turn up some things.

## Environment

- Compiler version:  0.6.8-devel

[2020-05-18 16:14] leonardoalt opened #8972 "[SMTChecker] CHC support to external calls to unknown code"

[2020-05-18 16:17] leonardoalt opened #8973 "[SMTChecker] CHC support external calls to known code"
This differs from https://github.com/ethereum/solidity/issues/8972 when the called code is known.
If that's used, the model can be strengthened.
However, the state would need to be passed around to the called function and back with potential updates.

The implementation idea is to use an SMT array per contract type where the index is its address.

[2020-05-18 16:22] agroce opened #8974 "ICE in solidity::frontend::Type::calldataEncodedSize(bool) const"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.  I threw ALL the .sol files under libsolidity into the corpus, so it's effectively fuzzing the SMTChecker and such now, also, I expect this will turn up some things.

## Environment

- Compiler version:  0.6.9-devel

[2020-05-18 23:32] frangio commented on #8911
I see now that the `FunctionDefinition` AST node contains a `baseFunctions` array, but I'm not sure if that's what I want.

[2020-05-19 00:09] chriseth commented on #8970
Two functions declared in two unrelated contracts (`I` and `A`) may have the same name and parameter types, but this does not mean that they are conceptually the same thing. In order to avoid situations where you "accidentally" implement or override conceptually different functions from two unrelated base contracts, Solidity 0.6.x requires you to take action and state "yes, I know that I am overri

[2020-05-19 09:29] chriseth commented on #3168
@jcaracciolo we are "in the process" of moving away from travis. Would you be able to create a circleci config file to create MacOS artifacts that work on most MacOS machines? We already have a job that compiles a binary on CircleCI, but our main problem is that we have no experience in packaging for MacOS, which I assume is especially difficult for commandline applications like solc.

[2020-05-19 10:10] chriseth commented on #8974
The struct contains a mapping. Might be related to other issues about mappings in memory.

[2020-05-19 10:22] axic commented on #3168
There is no packaging we can do for macOS, just release the binary.

Packaging is achieved by homebrew or someone creating a GUI for solc (hope not).

[2020-05-19 10:50] chriseth commented on #8816
The main difference between `hex` literals and `0x` literals could be the alignment. If we are set that `0x` literals are numbers and `hex"..."` literals are left-aligned "numebers", then we should add that.

[2020-05-19 13:28] chriseth commented on #3168
Oh right - does it make sense to provide a binary homebrew release?

[2020-05-19 13:29] #8954 closed, assigned to Marenz

[2020-05-19 13:41] #6048 closed, assigned to nobody

[2020-05-19 13:45] chriseth commented on #8965
esaily. eaxctly!

[2020-05-19 13:46] chriseth commented on #8965
We have to implement it in a way such that it does not need additional memory...

[2020-05-19 14:37] haltman-at commented on #8816
Yes, that was how I had inferred it to work, given that in Solidity hex literals are essentially a different form of string literals, and in Yul string literals are left-aligned.

[2020-05-19 14:40] niklasb opened #8981 "InternalCompilerError when passing bytes[] calldata to bytes[] memory"
## Description

The compiler errors out when passing a `bytes[] calldata` argument to another function that expects a `bytes[] memory` argument.

## Environment

- Compiler version: Solidity - 0.6.8 (solc-js)
- Target EVM version (as per compiler settings): istanbul
- Framework/IDE (e.g. Truffle or Remix): Truffle v5.1.25 (core: 5.1.25)
- EVM execution environment / backend / blockchain client: /

[2020-05-19 14:45] niklasb commented on #8970
I will close this, since the feature request as suggested goes against the design rationales you explained, but just as a quick note: In C++ there is a specific syntax to select a specific inherited function for usage in a subclass to resolve these kinds of ambiguities:

[code]

which could also be applicable here. What you suggest as a workaround seems reasonable however, and works well for the e

[2020-05-19 14:45] #8970 closed, assigned to nobody

[2020-05-19 14:49] chriseth commented on #8981
I'm pretty sure we already have this bug somewhere else.

[2020-05-19 14:50] chriseth commented on #8970
Yes, we were actually considering `function f() = Base.function;` as a syntax for such situations.

[2020-05-19 14:52] niklasb commented on #8981
ok my search was bad. dupe of #7929

should I close?

[2020-05-19 14:52] #8278 closed, assigned to hrkrshnn

[2020-05-19 14:57] chriseth commented on #8981
Ah thanks! Closing as duplicate.

[2020-05-19 14:57] #8981 closed, assigned to nobody

[2020-05-19 15:25] chriseth commented on #8776
Taking this directly into the implementation backlog.

[2020-05-19 15:36] jcaracciolo commented on #3168
Although a binary release in homebrew would be an improvement, most people use solc thru their enviroment tool (aka Buidler, Truffle, etc). These tools allow you pick specific version of solidity needed for your project, and they manage the download and verification. They are currently using the releases available in https://solc-bin.ethereum.org/. If the binary releases would be available there,

[2020-05-19 15:46] chriseth commented on #3168
Sounds great, thanks!

[2020-05-19 15:48] shoenseiwaso commented on #3168
A note that these tools use `solcjs` not `solc`, so actually the Mac binary release doesn't apply to them. I suspect 95% of Mac devs will ultimately use Homebrew to consume these binaries, for purposes other than Truffle, etc., so building both the binary, and setting up a Homebrew pipeline would be much appreciated!

[2020-05-19 15:49] shoenseiwaso commented on #3168
For example, here's Truffle:

[code]

[2020-05-19 15:52] fzeoli commented on #3168
The tools use solcjs because that's the only option as binaries are not distributed for Mac. We (Nomic Labs) are going to make Buidler download the native binary if it's available and use it instead of solcjs, as well as push for other tools (mainly Truffle) to do the same. Devs on Mac will end up using the binary through their existing tooling

[2020-05-19 16:00] shoenseiwaso commented on #3168
@fzeoli that's great!

Still, a Homebrew option (with, ideally, easy past version switching) would be very welcome for those of us who live mostly outside of the NPM ecosystem. For example, [go-ethereum just calls solc directly](https://github.com/ethereum/go-ethereum/blob/9bad7fa717cf92d6c1c8836ea2c42f0d66cc21ea/common/compiler/solidity.go#L62), which is fine.

[2020-05-19 17:58] alcuadrado commented on #3168
If native `solc` versions were available in https://solc-bin.ethereum.org/, as @jcaracciolo mentioned, creating an [nvm](https://github.com/nvm-sh/nvm)/[rvm](https://rvm.io/)-like tool for solidity would be really straightforward. This kind of tool is, in general, better suited than Hombrew for managing multiple versions.

[2020-05-19 18:54] chriseth commented on #8966
It turns out that the break is actually there, so my current guess is that it is either an error in the polyfill or an error in the (recently added) binary transform.

[2020-05-19 19:09] chriseth commented on #8961
Ah, ok, it seems to be the copyright symbol. Could be a duplicate of https://github.com/ethereum/solidity/issues/4614

[2020-05-19 20:29] chriseth opened #8986 "Enable Yul to Wasm compilation in standard compiler"
The `compileYul` function should output wasm if a wasm artifact is requested like for solidity. The way to compile yul to wasm is mainly via `AssemblyStack::translate`.

[2020-05-19 21:07] loredanacirstea commented on #8960
Revisited this.
When instantiating the wasm produced by the above contract, I get `CompileError: WebAssembly.Module(): Compiling function #11 failed: expected 1 elements on the stack for return, found 0 @+1271`

I see that the bytecode produced by the contract is significantly bigger than the bytecode produced by commenting out the `staticcall` :
[code]
So, it may be that only imports are not incl

[2020-05-19 21:16] haltman-at commented on #8842
Sorry, I haven't had time to properly think about this.  It's interesting, certainly.  Not sure how it would apply to base constructors.

Remember, fundamentally the problem I want to solve is that I want to be able to tell when we're entering a modifier or base constructor -- the equivalent of a jump-in marking, since using actual jump-in markings has issues (including, obviously, the lack of an

[2020-05-19 21:24] loredanacirstea commented on #8960
Redid the example with the code in the constructor: https://gist.github.com/loredanacirstea/1589c00d473e025df7a0ccb72172d5d6 . Now `callStatic` is added as an import - at least in the `wat` source.

But instantiating the wasm module, I get: `CompileError: WebAssembly.Module(): Compiling function #11 failed: expected 1 elements on the stack for return, found 0 @+1059`

Commenting out the `staticcal

[2020-05-20 00:03] frangio opened #8989 "SPDX: Multiple licenses in same file"
Flattening entire source trees into a single file is very common practice as it's an easy way of verifying contract source code. This causes a few issues with the new SPDX comments.

1. Multiple SPDX comments cause a compiler error, so the existing flattening tools will stop working unless they combine the comments into one in some smart way.
2. Different parts of the combined file may be licensed

[2020-05-20 00:07] axic commented on #8989
Some potential answers:
1. While we do not encourage the use of these flattening tools, they can just remove all the license statements.

2. Do not take this as legal advice! But many licenses have different regulations to source and bytecode, and are usually peculiar what applies to bytecode. If different licenses allow combining sources into a single bytecode, then usually the least permissive l

[2020-05-20 00:20] frangio commented on #8989
Thank you, that sounds reasonable.

What do you think about removing the compiler error when the multiple SPDX comments found contain exactly the same identifier?

[2020-05-20 00:51] aarlt commented on #8911
@axic I think this is a really good idea. I could imagine that, if the implementing functions have different natspec tags, that the defined tags will override the content defined by the base classes, but the rest will just be inherited. This may improve the reusability.

I also agree with @hrkrshnn that this may also be useful for contracts.

[2020-05-20 04:44] haltman-at commented on #8842
Sorry, quick clarification here: When I talk about when we're "entering" a given modifier, I really mean, when its arguments are being put on the stack (whether just before or just after), is what I really want to detect.  For a normal modifier these are basically the same thing.  But of course for a base constructor there can be quite a delay between when its arguments are put on the stack, and w

[2020-05-20 06:05] #7195 closed, assigned to nobody

[2020-05-20 07:26] chriseth commented on #8670
I did some more investigation on this, but could not find the exact place the code is generated from. The double-and is not removed by the optimizer because it is not an 'intermediate operation' and the stack height before and after the chunk it can operator on is different (at least that is what I think).

[2020-05-20 08:25] Marenz commented on #8954
We fixed this now to be a proper json array of objects.
As a note, this isn't exactly a sample json file but more a test-expectation. In this case it is a bit "unrealistic" as the compiler would output something different, e.g.:

[code]

[2020-05-20 08:34] bshastry commented on #8963
This may be a duplicate of #8817

[2020-05-20 09:08] #8966 closed, assigned to nobody

[2020-05-20 10:29] mijovic commented on #8969
For adding newly opened issues to "new issues", I think there is already automation which moves all new issues in "Solidity" project to "new issues". We just need to find a way to move newly created issues to "Solidity" project

[2020-05-20 10:33] chriseth commented on #7520
Examples for potential syntax:

- `//`-comments are allowed everywhere.
- rules are separated by empty (non-comment) lines
- first line is match expression, second line is replacement
- we need a way to specify conditions on the dialect (EVM, wasm, hasSelfbalance, ...)
- complictated yul blocks are probably out of scope for now.
- we need a way to denote computations on constants. For simplicity o

[2020-05-20 10:38] axic commented on #8989
I think it still makes sense error out on having multiple identical identifiers, if the only realistic case this is happening is after "flattening".

[2020-05-20 10:52] chriseth commented on #8989
I agree with what @axic says. Note that flattening modifies the source code, which might already be illegal depending on the license.

[2020-05-20 10:52] #8989 closed, assigned to nobody

[2020-05-20 11:44] chriseth commented on #8895
It turns out that if  `2<<x` and `2**x` are valid, the type of the resulting expression is always the type of `x`. This is certainly wrong, because for `x<<y` and `x**y`, the type of the expression is always the type of `x`.

The reason behind this bug is clear, the only question is what the desired behaviour should be.

The bug is also not too bad, because we have warnings in place if the result

[2020-05-20 11:47] axic commented on #8895
I think my intuition is when the lhs is a literal it suggests we expand to a type which "fits the expression", e.g. `uint256`. Unless the lhs is explicitly typed.

[2020-05-20 11:56] bshastry opened #8991 "[codegen] ICE because _targetType != typeOnStack.arrayType();"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/678a801daf44b563272ed9c699caac8087dc7ee1/libsolidity/codegen/CompilerUtils.cpp#L1017

## Environment

- Compiler version: latest develop
## Steps to Reproduce

[code]

[2020-05-20 13:37] axic commented on #8922
Some further options for version:
- `#version: 1`
- `doc_version: 1`
- `schema: "userdoc/v1"`
- `docschema: "devdoc/v1"`

[2020-05-20 13:41] chriseth commented on #8922
Decision from call: let's add `version` and `kind`.

[2020-05-20 13:55] chriseth commented on #8803
We just discussed that in the meeting and found that this is a rather complicated feature that is easy to get wrong both on the user and on the compiler side. If someone can come up with a cleaner specification, we are happy to implement it, but at the current time this does not seem like a good idea.

[2020-05-20 13:56] chriseth commented on #8816
Meeting discussion: This is too confusing, we should just disallow such literals in the inner assembly (it is still fine to have it for the data part of yul objects).

[2020-05-20 14:03] chriseth opened #8992 "Remove visibility from constructors"
Visibility does not really work for constructor since they are a very different concept from regular functions.

References: https://github.com/ethereum/solidity/issues/4392 and https://github.com/ethereum/solidity/issues/8162

[2020-05-20 14:03] chriseth commented on #8162
Replaced by https://github.com/ethereum/solidity/issues/8992

[2020-05-20 14:04] #8162 closed, assigned to nobody

[2020-05-20 14:08] axic commented on #8911
On today's meeting we've agreed to the following:
1. Inherit from base class by default if there are no annotation.
2. Do not inherit if there are conflicting base definitions (two contracts/interfaces defining the same function).
3. Do not inherit implicitly if the are annotations (any parseable tag) present.
3. Can use `@inheritdoc` (or `@copydoc`?) without an argument to inherit from the base c

[2020-05-20 14:14] #8928 closed, assigned to nobody

[2020-05-20 14:14] chriseth commented on #8895
Yeah, maybe we just do that and rely on the warning.

[2020-05-20 14:29] jcaracciolo commented on #3168
As far as i have seen, you guys already have a CircleCI MacOS build task that generates a `solc` [binary as an artifact for MacOS](https://github.com/ethereum/solidity/blob/develop/.circleci/config.yml#L529). I tried out the resulting file and it works great. However, the file seems to be larger than expected (150MB). Is there a reason for this? Or what do you think could be the cause of the file

[2020-05-20 14:33] chriseth commented on #3168
It is built in debug mode: https://github.com/ethereum/solidity/blob/develop/.circleci/config.yml#L534

I actually think that this is not necessary. You can just replace it by `Release`.

[2020-05-20 14:48] axic commented on #7351
This was implemented some time ago.

[2020-05-20 14:48] #7351 closed, assigned to nobody

[2020-05-20 14:49] axic commented on #7749
@mijovic do you remember by any chance if these were reenabled?

[2020-05-20 14:53] chriseth commented on #8200
This is working.

[2020-05-20 14:53] #8200 closed, assigned to nobody

[2020-05-20 15:09] chriseth commented on #7749
They were not enabled and fail with `Invalid conversion to storage type`.

[2020-05-20 15:09] mijovic commented on #7749
@axic Some of them were activated with my changes, and some of them not. I can go troughout the tests and create list of items which are left to be done to close this one.

[2020-05-20 15:21] #8789 closed, assigned to hrkrshnn

[2020-05-20 15:21] #8794 closed, assigned to hrkrshnn

[2020-05-20 15:21] #8820 closed, assigned to hrkrshnn

[2020-05-20 16:09] Marenz commented on #8961
I can confirm that the copyright sign is causing this.

[2020-05-20 16:16] Marenz commented on #8961
I also think this is a duplicate of #4614 and will close this one in favor of the other.

[2020-05-20 16:16] #8961 closed

[2020-05-20 17:39] haltman-at commented on #8816
Well, noting that they're mentioned in the documentation, so if they're not being added then they should be removed from there!

[2020-05-20 21:01] frangio commented on #8803
@chriseth Thanks for the update. Can you share some detail on the different ways you see this could go wrong? I'd like to understand what kind of problems we're talking about.

[2020-05-20 22:45] abcoathup commented on #8989
Flattening appears to be the only issue.
For mixed identifiers the community will need to verify using multiple files.

Discussion in OpenZeppelin Community Forum: https://forum.openzeppelin.com/t/solidity-0-6-8-introduces-spdx-license-identifiers/2859

[2020-05-20 23:04] axic commented on #8965
Will be hard. In the "Ewasm 1.0" design it is suggested a keccak256 precompile would exists, I guess we could do that with EVMHost...

[2020-05-20 23:16] axic opened #9000 "POWER LEVEL OVER 9000!!111!!11"

[2020-05-20 23:46] axic commented on #8016
@chriseth since you mentioned there's no way currently to test our wasm output: this would be the easiest way.

[2020-05-21 00:27] axic commented on #7190
This is still a problem, no source location is included with most errors in `libsolidity/parsing/DocStringParser.cpp`.

cc @hrkrshnn

[2020-05-21 00:28] axic commented on #1617
@hrkrshnn do you know if we check for error messages now?

[2020-05-21 00:31] axic commented on #3418
Hm, it seems this was a duplicate for #2795.

[2020-05-21 00:31] #2795 closed, assigned to nobody

[2020-05-21 00:32] axic commented on #2795
#3418 has more discussion on the same topic.

[2020-05-21 00:33] axic commented on #8803
We also discussed that #2296 seems to be a safer way, in our opinion.

[2020-05-21 07:01] elenadimitrova opened #9002 "Group compiler warnings and errors output"
## Abstract

Solidity compiler warnings and errors are output sequentially as they are emitted, making it difficult to read. This impacts is most prominent when working on contract updates between solc versions, example below is a small chunk of the output on the `argent-contracts` repo when I switched part of the contracts from 0.5.4 to 0.6.8. Can you spot the `ParserError`?

![Screenshot 2020-05

[2020-05-21 12:43] mijovic commented on #8343
SetGas and SetValue are deprecated and we will not implement them.
Is anyone working on `ABIDecode`?

[2020-05-21 13:22] axic commented on #8343
@aarlt said he'll look into `ABIDecode`.

[2020-05-21 14:08] ddeclerck opened #9004 "ICE when trying to create inline arrays of some types (Solidity 0.6.8)"
There are uncaught ICEs when trying to create inline arrays of some types (this is minor, since you couldn't do anything useful with such arrays anyways).

[code]

The two first give the following:
[code]

The last one is slightly different:
[code]

[2020-05-21 19:22] ssi91 opened #9005 "smtCheckerTests got "Test expectation mismatch""
## Description

Hi all. I've faced with a problem. Some of the smtCheckerTests got "Test expectation mismatch".
For example:
[code]

Most of them are mismatched some warnings, though there are a few where a warning was expected but got `Success`.
I haven't been able to understand yet whether it's a problem related to my laptop or it's global one

## Environment

- Compiler version: Version: 0.6.9-

[2020-05-21 19:47] leonardoalt commented on #9005
The smtCheckerTests are expected to work with the latest z3 version.
Which version did you compile with?

[2020-05-21 20:02] ssi91 commented on #9005
@leonardoalt `Z3 [version 4.8.7 - 64 bit]`

[2020-05-21 20:07] leonardoalt commented on #9005
@ssi91 please try with z3 4.8.8, that's the latest version that was recently released, our tests were updated according to that version

[2020-05-22 07:33] hrkrshnn commented on #1617
There are some asserts in `libsolidity/interface/Natspec.cpp` for `@return`. In `libsolidity/parsing/DocStringParser.cpp` there are some parsing errors that are reported using `appendError()` function.

But I don't think there are parsing errors when a tag is repeated.

This https://github.com/ethereum/solidity/issues/8247 might be relevant for this.

[2020-05-22 07:39] hrkrshnn commented on #7190
@axic There is an issue about including source locations: https://github.com/ethereum/solidity/issues/8247

[2020-05-22 07:53] hrkrshnn commented on #8247
I think this is a good idea. Currently, the `docStringParser` is too complicated I think. One problem I see is how `\n` is used as a line break and also to indicate end of a tag. For example, for the following contract.

[code]

The "StructuredDocumentation", "text" attribute is `text": "@notice this is a function that has a long notice tag so that we have to\n wrap the line.\n @param x integer"`.

[2020-05-22 09:05] ssi91 commented on #9005
@leonardoalt well, it solved the issue. Thanks a lot.

Couldn't find out what a patch version of a library could impact so :)

[2020-05-22 09:05] #9005 closed, assigned to nobody

[2020-05-22 12:59] #9000 closed, assigned to nobody

[2020-05-23 14:08] fvictorio opened #9006 "Sourcemaps have less information after 0.6.3"
## Description

Starting from 0.6.3, sourcemaps seem to have less information, at least around `revert`s statements.

## Environment

- Compiler version: 0.6.2, 0.6.3 and 0.6.8
- Target EVM version (as per compiler settings): Default
- Framework/IDE (e.g. Truffle or Remix): Plain solc
- EVM execution environment / backend / blockchain client: Not relevant
- Operating system: Ubuntu

## Steps to Re

[2020-05-24 16:22] agroce opened #9009 "Strange solfuzzer-only failure"
## Description

This contract:
[code]

produces a very large, complex output ending in `Fuzzer failed...` when compiled with solfuzzer, but passes with solc (with or without --optimize, etc.)

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.  I threw ALL the .sol files under libsolidity into the corpus, so it's effectively fuzzing the SMTChecker

[2020-05-25 07:20] hrkrshnn commented on #7744
Is this because you want `type(super)` to work?

[2020-05-25 07:40] hrkrshnn commented on #4804
@chriseth https://github.com/ethereum/solidity/pull/6282 extends `canLiveOutsideStorage` to Struct.

If you want changes, we should think about it now.

[2020-05-25 08:44] bshastry commented on #9009
When I tried to reproduce locally, the error originates from a deeply nested call to libjsoncpp's `readValue()` call. It is either from here

https://github.com/open-source-parsers/jsoncpp/blob/c161f4ac69633deb2ed43bc8569cb9b183f63c32/src/lib_json/json_reader.cpp#L157

or from here

https://github.com/open-source-parsers/jsoncpp/blob/c161f4ac69633deb2ed43bc8569cb9b183f63c32/src/lib_json/json_reade

[2020-05-25 09:16] chriseth commented on #3525
I'm wondering if it makes sense to allow for user-defined restrictions on existing built-in functions. For example, if we have

[code]

then we would like `mload(u256)->u256` to change to `mload(mptr)->u256`. Without that, the user-defined type is not really helpful.

Should we add
[code]
where the listed types (note we only have types here, no variable names) have to have a base type that equals

[2020-05-25 09:38] #3168 closed, assigned to nobody

[2020-05-25 09:51] chriseth commented on #8016
@axic are there any blockers still to solve?

[2020-05-25 09:53] hrkrshnn commented on #8974
You can reduce this issue to
[code]

~~The linked issue won't close this perfectly.~~ The linked PR will fix this.

Here's where the throw comes from.
[code]

[2020-05-25 10:07] axic commented on #8016
There wasn't a blocker back in December, just someone needed to do it. Now there is a block, need to merge EVMC 7 support in Hera (which shouldn't be a big deal, but was not priority as nothing uses it now).

[2020-05-25 10:40] bshastry opened #9013 "[solc] ICE because type cannot be encoded in calldata"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/7e1f26270b92762d0de3235adad9890fbbb869dd/libsolidity/ast/Types.h#L218

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-05-25 10:52] hrkrshnn commented on #9013
Possible duplicate of https://github.com/ethereum/solidity/issues/9004

[2020-05-25 11:04] bshastry commented on #9013
Closing cos duplicate.

[2020-05-25 11:04] #9013 closed, assigned to nobody

[2020-05-25 11:48] chriseth opened #9015 "Document the wasm releases"
We should document how the wasm releases are compiled, where they can be found, when we did the switch, what the requirements are, ...

[2020-05-25 11:49] chriseth commented on #8762
Created https://github.com/ethereum/solidity/issues/9015

[2020-05-25 11:50] bshastry opened #9016 "[SMTChecker] ICE because variable declaration is unknown"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/7e1f26270b92762d0de3235adad9890fbbb869dd/libsolidity/formal/SMTEncoder.cpp#L1771

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-05-25 11:51] chriseth commented on #8774
Sorry for the late reply - is this still a problem? We are currently working on binary releases for macos, maybe that helps.

[2020-05-25 11:52] chriseth commented on #8801
@christianparpart can you check this, please?

[2020-05-25 11:55] axic opened #9017 "Deposit contract wishlist"
- [x] #8925
- [x] #8922 - @Marenz
- [x] #8911 - @Marenz
- [ ] #8908
- [x] #8776 - @hrkrshnn
- [x] #8716
- [x] #7738
- [x] #8853

[2020-05-25 12:03] chriseth commented on #8804
@leonardoalt can you move this out of the "new issues" column?

[2020-05-25 12:03] saarthak08 commented on #8774
Yes, the same problem still persists. I couldn't install solidity via brew in my system (macOS).

[2020-05-25 13:16] chriseth commented on #4614
Fixed (well enough) by #9012

[2020-05-25 13:30] Marenz commented on #7635
@ekpyron does #7929 also apply to this ticket?

[2020-05-25 13:34] #7635 closed, assigned to Marenz

[2020-05-25 13:37] Marenz commented on #8448
Closed via #7635

[2020-05-25 13:37] #8448 closed, assigned to Marenz

[2020-05-25 14:42] chriseth commented on #8425
Is this really in progress?

[2020-05-25 14:44] hrkrshnn commented on #8425
@chriseth No. I'll put this into icebox.

[2020-05-25 16:32] hrkrshnn commented on #7739
Regarding "declare as calldata type"

Currently, in develop, the following contract:
[code]

would produce:

[code]

Is this what you wanted?

[2020-05-25 21:24] alcuadrado commented on #3168
Hey @chriseth,

How can we help publish these build in https://solc-bin.ethereum.org/ ?

[2020-05-25 21:24] chriseth commented on #8960
This seems to be caused by `leave`, which is compiled to `(return)` - it ignores the return value (of the first return variable).

[2020-05-25 21:35] chriseth commented on #8960
Can you check if this is fixed by https://github.com/ethereum/solidity/pull/9018 ? Thanks!

[2020-05-25 22:36] chriseth commented on #3168
First, we have to verify that they work, you can help with that :)
Then, I would prefer to publish them on the github release page, we can test that for the next release (probably happening in the next 14 days).

Would you like to also publish binaries for older packages?

What about homebrew, can we use binaries there?

[2020-05-26 08:45] bshastry opened #9021 "[SMTChecker] ICE because array push not supported on dynamically sized arrays within structs"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/370350da07a158f0a3a68efc5e1f65583e19b57e/libsolidity/formal/SMTEncoder.cpp#L1150

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-05-26 09:33] chriseth commented on #7739
Yes

[2020-05-26 09:34] #5545 closed, assigned to nobody

[2020-05-26 09:35] #8960 closed, assigned to nobody

[2020-05-26 09:55] chriseth commented on #9002
This sounds like it could be difficult to implement when considering how IDEs use the compiler (they assume one location per error). I see that this could be useful when using solc in the commandline and when you are not really trying to fix all warnings.

Can you explain what your workflow is and why you would not just fix one reported error / warning after the other?

[2020-05-26 10:00] chriseth commented on #7744
Mainly because it is not a contract type :)

[2020-05-26 11:43] axic commented on #8908
@chriseth yetserday on the source-verify meeting there were no real reasons against this.

We did discuss to potentially use multihash as the "url" though.

[2020-05-26 13:43] Marenz commented on #8265
Reduced testcase:

[code]

[2020-05-26 13:56] Pet3ris opened #9025 "Weird source map behaviour for simple failed transfer"
## Description

Source map behaves in an interesting way following a failed transfer.

## Environment

- Compiler version: `0.6.8`
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execution environment / backend / blockchain client: JS VM
- Operating system: OS X 10.15.3

## Steps to Reproduce

[code]

The source map for this contract behaves in

[2020-05-26 14:36] #7897 closed, assigned to hrkrshnn

[2020-05-26 15:06] chriseth commented on #9025
I'm pretty sure this is caused by the source mapping referring to an internal routines. Internal routines are marked by the special source index `-1`. There used to be a bug in remix ignoring this `-1`. I spent some time searching for the issue but could not find it. @yann300 do you maybe know more? Thanks!

[2020-05-26 15:42] cameel opened #9028 "Cannot access overridden virtual function by name due to failed overload resolution"
## Description
If you try to refer to an overridden virtual function by its name without specifying arguments (e.g. by assigning it to a pointer, `ptr = f;`), the compilation fails; `Error: No matching declaration found after variable lookup.`.

## Environment
- Compiler version: 0.6.9 (`develop`)

## Steps to Reproduce
This compiles (a direct all to overridden `f`):
[code]

This compiles too (jus

[2020-05-26 15:48] alcuadrado commented on #3168
I just downloaded the binaries from the CI run of this commit https://github.com/ethereum/solidity/commit/61568fda6396a6ed7953268cb6f90e97125f2f7b and tested them in MacOS Mojave and Catalina. Worked in both cases.

@jcaracciolo can you give more info about why Solc won't work on MacOS version < Mojave, please?

[2020-05-26 15:49] #8265 closed, assigned to Marenz

[2020-05-26 15:50] alcuadrado commented on #3168
Yes, that would be ideal.

I think so. We'll dig deeper into this and report back.

[2020-05-26 15:54] chriseth commented on #9006
This is due to the revert having become an internal routine. I will create a fix that reduces the source references for these internal routines altogether.

[2020-05-26 16:00] chriseth commented on #8807
This could either be an additional source in the json-io, or it could be a field in the output part alongside `evm`, `ir` and so on - maybe called `internalRoutines`. We should allow for more than a single routine and those should get identifiers such that they can be accessed from source maps.

[2020-05-26 16:01] fvictorio commented on #9006
So to clarify, this is information that won't come back, right?

[2020-05-26 16:03] chriseth commented on #9006
After #9029, it should be similar to how it was before 0.6.3.

[2020-05-26 16:07] chriseth commented on #8690
@alcuadrado is this something you could help with?

[2020-05-26 16:17] #6788 closed, assigned to cameel

[2020-05-26 16:27] #8818 closed, assigned to nobody

[2020-05-26 16:30] #7806 closed, assigned to cameel

[2020-05-26 16:31] chriseth commented on #7877
@franzihei can you create a blog post out of the gist for the category "feature proposals"?

[2020-05-26 16:32] chriseth commented on #8962
Should be fixed by https://github.com/ethereum/solidity/pull/9018

[2020-05-26 16:32] #8962 closed, assigned to nobody

[2020-05-26 17:29] franzihei commented on #7877
We don't have such a category on the blog. We only have:
- Announcements
- Explainers
- Releases
- Security Alerts

Maybe "Explainers"?
And yes, I can make a blog post out of this. : )

[2020-05-26 17:31] franzihei commented on #7877
Or do you mean we should make it a series, just like with the `Solidity 0.6.x feaures`? We could embed it in the title like `Solidity feature proposals: Error types`?

[2020-05-26 18:07] alcuadrado commented on #8690
Let me ask the rest of the team. Will come back with an answer soon.

[2020-05-26 19:01] fvictorio commented on #9006
Oh, got it, thanks :+1:

cc @alcuadrado

[2020-05-26 19:02] yann300 commented on #9025
I think that might be related to https://github.com/ethereum/remix/issues/1477 , we'll be posting a fix soon

[2020-05-26 21:12] sambacha commented on #1290
can confirm, 100% still an issue

[2020-05-26 22:58] cameel commented on #8485
All my PRs that add the missing functionality have been merged. This is done now.

In the end I did not add `linkerSymbol`. It will be necessary for external library functions but that's outside of the scope of this issue.

[2020-05-26 22:58] #8485 closed, assigned to cameel

[2020-05-27 07:15] chriseth commented on #9025
Thanks, @yann300 !

[2020-05-27 07:15] #9025 closed, assigned to nobody

[2020-05-27 07:17] chriseth commented on #7877
Let's discuss in the meeting if we actually want a blog post pre-release about this.

[2020-05-27 07:21] #9004 closed, assigned to chriseth

[2020-05-27 08:54] elenadimitrova commented on #8281
I also feel strongly **for** removing the `override` keyword in interface implementations. Considering interfaces can now inherit too, we could enforce all interface methods are implemented in a contract. This would eliminate the problematic cases described above and is also what I would logically expect when something claims to **be** `I`. Essentially when `contract C is I {..}` we require that a

[2020-05-27 09:45] #8923 closed, assigned to Marenz

[2020-05-27 10:42] bshastry commented on #8383
This issue is no longer reproducible, possibly fixed by #9027

[2020-05-27 10:48] elenadimitrova commented on #9002
Now you said this I realise it should really be a feature of the IDE, not the compiler output, but since most devs including myself still use the command line for compilation the mindset is such that it should be provided there. I'll look into integrating this feature in the https://github.com/juanfranblanco/vscode-solidity extension perhaps. Any other ideas are welcome

[2020-05-27 10:52] #8383 closed, assigned to nobody

[2020-05-27 10:52] #7542 closed, assigned to aarlt

[2020-05-27 11:57] TheReturnOfJan opened #9037 "ICE when trying to assign a calldata struct to storage"
## Environment
Solidity version: 0.6.8
Platform: macOS Catalina / Ubuntu 20.04

## Relevant source:
[code]

## Observed behaviour (compiler output):
[code]

## Expected behaviour:
The calldata struct should get copied to storage?
https://solidity.readthedocs.io/en/v0.6.8/types.html?highlight=calldata%20storage#data-location-and-assignment-behaviour

## Workaround
Copying to memory and then assigni

[2020-05-27 12:18] chriseth commented on #3835
This is fully implemented now.

[2020-05-27 12:18] #3835 closed, assigned to nobody

[2020-05-27 12:22] chriseth commented on #7749
We'll just enable them when missing features are implemented as with all other tests.

[2020-05-27 12:22] #7749 closed, assigned to leonardoalt

[2020-05-27 12:22] franzihei commented on #8968
Chosen date: 3rd of June, 5PM CEST
Franzi to send out invites and create "agenda issue".

[2020-05-27 12:31] chriseth commented on #8807
We should think about also supporting yul codegen in the future - source references should be able to reference yul ir.

[2020-05-27 12:33] bshastry commented on #8991
This commit https://github.com/ethereum/solidity/commit/309f0fbc8a6c2e13d5e67e8c4d72404a4e8ca1e3
 marks the conversion of calldata arrays to memory arrays an unimplemented feature.

This means the example in this issue no longer reproduces as per the original report but reports "Conversion from calldata slices to memory not yet implemented."

We can do one of two things:
  - Edit this report and m

[2020-05-27 13:11] #7965 closed, assigned to christianparpart

[2020-05-27 13:37] chriseth commented on #8991
There are several related unimplemented features with regards to copying from calldata. Maybe we could summarize them and create a single issue? Problems I could see:

 - copying calldata slices to memory or storage
 - copying calldata structs to memory or storage

I could have missed others.

[2020-05-27 13:52] chriseth commented on #8807
@yann300 @LianaHus @haltman-at we are planning to include the yul sources of internal routines (mostly the ABI encoder) in the compiler output with the goal that source references to these routines work in the bytecode. This would allow stepping through the ABI encoder in the yul source code.

The current best idea is to add another output field in the json-io called something like ```
[code]

Do

[2020-05-27 14:36] chriseth commented on #8897
Added the binary.

[2020-05-27 14:36] #8897 closed, assigned to nobody

[2020-05-27 15:18] leonardoalt opened #9042 "[SMTChecker] CHC counterexamples"

[2020-05-27 15:19] leonardoalt opened #9043 "[SMTChecker] Support bitwise operators"
- [x] `&` https://github.com/ethereum/solidity/pull/8926
- [x] `|`, `^`, `~` (#9661)
- [x] Shifts (#9739)
- [x] Compound `&=`, `|=`, `^=`, `~=` (#9854)
- [ ] Compound shifts (#9854)

[2020-05-27 17:10] haltman-at commented on #8807
OK.  Sounds workable.  As I said earlier, my main concern is just that the IDs should be distinguishable from those of regular Solidity sources (e.g. always being negative or something).

[2020-05-27 17:30] alcuadrado commented on #8690
Hey @chriseth. What do you need help with here? We agree with @axic's opinion.

[2020-05-27 18:25] jcaracciolo commented on #3168
@alcuadrado It is explained [here](https://stackoverflow.com/a/52319013). Solidity makes use of `std::visit` all throughout the code. In order to use that function, the target has to be set to `10.14` or higher or else an error will be prompted: `Call to unavailable function 'visit': introduced in macOS 10.14`. Even though it may sometimes work on older versions, one can't be sure since the deploy

[2020-05-27 20:09] daejunpark opened #9046 "Optimization possibility of memory usage for loops"
_[This issue has been discussed with @axic, and reported here to be tracked and further discussed.]_

## Description

In the current code generation (even with the optimization enabled with the flags `--optimize --optimize-runs 5000000`), there is still room for improvement of the memory usage for loops.

Specifically, if we have `sha256(abi.encodePacked(arg1, arg2))` in a loop, every iteration co

[2020-05-27 21:07] #8822 closed, assigned to mijovic

[2020-05-27 21:11] mijovic commented on #6739
@axic Does it makes sense to implement `A.B` at all in cases like this. I think it is not needed, and we need to implement `B.C` (if B had subobject C) like done in #8967 in test `subObjectAccess.yul`?

[2020-05-27 21:32] chriseth commented on #9046
Note that neither the copmpiler nor optimizer does any lifetime tracking of memory objects. `abi.encodePacked` returns a memory object and thus could be used further down the road, so lifetime tracking is required here if we do not just want to optimize for a special case. There are proposals to do lifetime tracking in the yul optimizer, though.

[2020-05-28 06:00] fulldecent commented on #3835
Reference: https://github.com/ethereum/solidity/pull/8628/files

[2020-05-28 08:14] bshastry commented on #8382
Reopening because although #8665 fixed the original issue, the following new test case throws the same ICE

[code]

throws

https://github.com/ethereum/solidity/blob/5f8299b379a1f4d99f491a0b91fbbda853e580e5/libsolidity/ast/Types.cpp#L1742

[2020-05-28 08:33] #9028 closed, assigned to Marenz

[2020-05-28 08:42] mijovic commented on #8456
A lot of times `YulUtilFunctions::revertReasonIfDebug` is called from `Whiskers` in inline assembly blocks, so it is not really possible to call with `CompilerContext::callYulFunction`
Maybe we can write similar function in `CompilerContext` that calls `YulUtilFunction`s from inline assembly as well

[2020-05-28 08:54] leonardoalt opened #9048 "[SMTChecker] Support FixedPoint"
Even though Solidity doesn't compile FixedPoint yet, it could make sense for the SMTChecker to support them as Real. Right now they are abstracted as Integers because they're not compiled anyway.

[2020-05-28 09:12] leonardoalt commented on #8963
I just tried it and they're unrelated.
https://github.com/ethereum/solidity/issues/8817 is specific to FP

[2020-05-28 09:13] chriseth commented on #8787
As a proposal for the namespace, we could either use
[code]
or
[code]

[2020-05-28 09:14] #9006 closed, assigned to nobody

[2020-05-28 09:28] chriseth commented on #8807
@haltman-at "always negative" turns out to be a little difficult. Do you need those sources to be distinguishable from their ID? It will be clear that they are not Solidity from the way they are returned from the compiler. I will have a draft soon.

[2020-05-28 10:09] leonardoalt commented on #8947
Reducing a bit more:
[code]

[2020-05-28 10:12] leonardoalt commented on #8947
The second `f()` is needed because this is triggered by the code that does short circuiting.

[2020-05-28 10:40] hrkrshnn commented on #7410
This can be fixed in TypeChecker for `ArrayPush` operator. (State variable mappings cannot be assigned to.)

But I actually wonder if push makes sense for mapping types?

The following code should be valid:
[code]

But there is an exception:
[code]

There are ~two~ three ways to proceed.
1. TypeChecker disallows when storage `mapping` types are assigned during a push. Implement push for local stor

[2020-05-28 10:46] leonardoalt commented on #7410
I thought the idea was to disallow arrays of mappings in general?

[2020-05-28 10:58] TheReturnOfJan commented on #9037
In addition, I am having some issues with the workaround, when the struct contains a dynamic array as a member. I can not even copy such structs from calldata to memory.

## Relevant source
[code]

## Compiler message
[code]

[2020-05-28 10:58] leonardoalt commented on #6178
Example:
[code]
Even though `s` could be pointing to `a`, assigning `s[1]` shouldn't change `a[0]`.
Currently the assertion is reported as false, but it should be safe.

[2020-05-28 10:59] leonardoalt commented on #6674
Changed the title since mappings can't be deleted anyway.

[2020-05-28 11:02] chriseth commented on #7410
@leonardoalt did we reach a conclusion there yet?

[2020-05-28 11:03] leonardoalt commented on #6178
This seems to be working already for `delete`.

[2020-05-28 11:07] leonardoalt commented on #7410
@chriseth I thought so, but maybe it was just me wanting it :p

[2020-05-28 11:10] leonardoalt commented on #6674
This is actually already implemented, but added a test that shows that.

[2020-05-28 11:25] mijovic commented on #8343
All except
 SetGas, ///< modify the default gas value for the function call
 SetValue, ///< modify the default value transfer for the function call
is implemented, and those two are not planned, closing the issue

[2020-05-28 11:25] #8343 closed, assigned to nobody

[2020-05-28 12:10] #5280 closed, assigned to christianparpart

[2020-05-28 12:20] bshastry commented on #6574
Reopening because the following test case

[code]

throws the same exception as in the original report

https://github.com/ethereum/solidity/blob/bf4ef7483c8f6c9f260d2bddda87fc275ae95101/libsolidity/formal/SMTEncoder.cpp#L1244

Please let me know if I should close and reopen a new issue instead.

[2020-05-28 12:53] Marenz commented on #8881
And is the goal here to get an error because we modify a constant or should it compile?

[2020-05-28 13:30] Marenz commented on #8881
It seems to be an order-of-evaluation problem. If I move the `c` line up, it works

[2020-05-28 13:43] franzihei opened #9054 "[Notes] Community Discussion SafeMath by Default"
# What
The Solidity team would like to discuss language design related questions with the community on a regular basis. This issue is to track the first discussion round's outcomes and can be used for note taking or to facilitate the meeting.

# When
The discussion round on SafeMath by Default will take place on **Wednesday, 3rd of June at 5PM CEST**. The link to the video call has been circulated

[2020-05-28 13:43] franzihei commented on #8968
New issue is here and email invites will be sent out shortly. https://github.com/ethereum/solidity/issues/9054

[2020-05-28 13:43] #8968 closed, assigned to franzihei

[2020-05-28 14:14] #6674 closed, assigned to nobody

[2020-05-28 14:25] #8963 closed, assigned to nobody

[2020-05-28 15:19] alcuadrado commented on #8739
I think the import file callback is somewhat limited, as it only works in js, and doesn't work when using a native/docker version of solc. As we discussed in #3168 and in private, we think using a native solc would improve the development speed in most cases.

The benefits of exporting the parser aren't just extracting imports. That's why I tagged other people that deal with solc's last or build/u

[2020-05-28 15:31] iamdefinitelyahuman commented on #8739
I have two main uses for accessing an AST prior to compilation:

* I can more effectively determine if a contract has changed, and from that infer which source files to recompile.  It's unfortunate to have to run the compiler on an entire project because the user added an extra line in their `SafeMath` library.
* I can better determine dependencies and associations.  Knowing imports is useful, but

[2020-05-28 15:54] cgewecke commented on #8739
To concur with @iamdefinitelyahuman and @alcuadrado, an exported parser would be very helpful. There's always a gap between the JS parser's accuracy and solc as new syntax is introduced and it's the source of a large number of issues in both [solidity-coverage][1] and [eth-gas-reporter][2].

These tools rely on fast parsing either to avoid double-compilation (because they modify contracts) or stro

[2020-05-28 19:18] haltman-at commented on #8807
OK, directly from the ID would be nice but I guess I'll see just how they're returned.

Note when I say "not Solidity" I really mean "not user input" (i.e. not user input Yul either).

[2020-05-28 19:57] agroce commented on #8947
I think this is only a partial fix.  Fuzzing latest I get:

[code]

[code]

(that's with `Version: 0.6.9-develop.2020.5.28+commit.0b216f57.Linux.clang` -- it does fix my original and Leonard's minimized version)

[2020-05-28 21:03] haltman-at commented on #8807
I guess my real concern here is that Truffle Debugger often runs off of Truffle artifacts rather than compiler output directly, and it's not obvious to me whether this is something that can be incorporated into Truffle artifacts (probably it can be, we can always add things, but the format does have some real limitations :-/ ).  So for that reason it'd be nice if we could still continue to disting

[2020-05-28 22:45] wjmelements opened #9061 "No homebrew release for solidity 0.5.16 or 0.5.17"
I cannot install solidity 0.5.16 from homebrew because it was never released.
https://github.com/ethereum/homebrew-ethereum

[2020-05-28 22:46] wjmelements commented on #9061
I suspect the available versions are enumerated here: https://github.com/ethereum/homebrew-ethereum/commits/master/solidity.rb

[2020-05-28 22:54] axic commented on #9061
0.5.16 / 0.5.17 were released after 0.6.0 so they can be found here: https://github.com/ethereum/homebrew-ethereum/blob/master/solidity%405.rb (also latest can be installed via `brew install solidity@5`)

[2020-05-28 22:55] wjmelements commented on #9061
Thank you

[2020-05-28 22:55] #9061 closed, assigned to nobody

[2020-05-28 22:58] wjmelements commented on #9061
The command to install is

[code]

[2020-05-28 23:17] axic commented on #9061
[code]
works for me

[2020-05-29 03:45] sw7240614 commented on #9061
Thanks

On Thursday, May 28, 2020, Alex Beregszaszi <notifications@github.com>
wrote:

https://ci3.googleusercontent.com/proxy/uGVUKxibQSUfUnb2ykT9gwAiBp1dkTN01ryYFY-ZUvfBzVz2lSCPLzNip-tYcjR3TR4sIuCtcM4RsymdHNF6FcPZQAgMFONK0VEtnJSBOpkEbnaLrsDyqKxOiTeivXt8hROsJRtDonpvPuimcHrXgjNIXHEBg06BpbgYzQJ9aB2tQfTIVpyyz_-EEedT4EDp8h2CYM9ocGcmk61xstnms_KuIc62mF9bCBnaYw-Y9Q=s0-d-e1-ft#https://github.com/notifica

[2020-05-29 08:30] chriseth opened #9063 "modules / namespaces / template areas"
While there is a namespacing mechanism through the way of files (in connection with the various import statements), people from the community voiced the concern that if we allow functions at the file level (#8787), then logical grouping is harder to do and `using A for B` is not as easy.

In connection to the current proposal about how to implement templates (https://github.com/ethereum/solidity/i

[2020-05-29 08:31] chriseth commented on #869
Similar idea, but without libraries: https://github.com/ethereum/solidity/issues/9063

[2020-05-29 08:31] chriseth commented on #8787
The namespace / module idea could be extended to template areas: https://github.com/ethereum/solidity/issues/9063

[2020-05-29 08:39] hrkrshnn commented on #8243
@chriseth Is this still worth implementing?

[2020-05-29 09:32] chriseth commented on #8243
Currently, this is not too helpful anyway, because we do not use bools in our code generator. I'm moving it to the icebox.

[2020-05-29 11:46] hrkrshnn commented on #8412
I think this code should have an ICE. Maybe an ICE at an earlier stage. Currently we have no proper error messages for FixedPointTypes in TypeChecker.

[2020-05-29 12:24] hrkrshnn commented on #8369
It seems that yul function for ABI decoding has additional variables which causes a stack too deep issue.

[2020-05-29 13:56] agroce commented on #8947
@leonardoalt I think this is a partial fix; reopen or should I submit a new issue with the above code?  you've seen the original fix, is this just a variant corner case, or fundamentally different (if similar)?

[2020-05-29 13:58] leonardoalt commented on #8947
I need to look into it but can't really see why the previous fix wouldn't fix this as well, so reopening.

[2020-05-29 15:10] alcuadrado commented on #9006
Will the fix be released in 0.6.9?

Do you have an intuition of what's going on here? Can we, for example, assume that the unmapped chunk is the translation of the expression that follows the latest mapped one?

[2020-05-29 16:00] ddeclerck opened #9065 "Disallow override for non-public state variables."
When a public state variable overrides an external functions, it doesn't seem to check that the overriden function is marked "virtual" (while if we override with a function, then the overriden function MUST be marked "virtual").

The following typechecks without error nor warnings:
[code]

It should report something like "Trying to override non-virtual function."

[2020-05-29 16:00] ddeclerck opened #9066 "State variables not considered as valid overriding functions in override check when multiple inheritance (Solidity 0.6.8)"
In presence of multiple inheritance, the typechecker seems to ignore state variables that correctly override multiply-defined methods.

The following outputs an error ("Derived contract must override function f"):
[code]

[2020-05-29 16:19] leonardoalt commented on #8947
Indeed, this is an effect of the PR that close it initially. That PR missed 2 lines of code that should be fixed by https://github.com/ethereum/solidity/pull/9068.

[2020-05-29 17:05] leonardoalt commented on #9021
Nice, this triggers exactly the `solAssert(false)` I wasn't sure how to trigger, was looking for such cases

[2020-05-29 21:25] borowszky commented on #5250
Hello everybody

can i also join the french translation contributors team?

[2020-05-30 08:19] Karocyt commented on #5250
Hi @borowszky
You're more than welcome!

I started this on a v0.5.0 pre-relase and we're now on v0.6.8 so I don't know how accurate it is anymore.
I had a crazy year and couldn't find much time.
I'll check about versioning the doc tomorrow to keep the half-translated state as 0.5.0 and work on a fresher one with you.
The layout seems mostly unchanged so I should be able to easily check/port what I

[2020-05-30 17:53] agroce opened #9077 "ICE in solidity::u256 solidity::frontend::ArrayType::storageSize() [Array too large for storage]"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.6.9-develop.2020.5.28+commit.0b216f57.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environment

[2020-05-31 11:00] borowszky commented on #5250
Thank you for your response.
Will be expecting feedback on this, Am eager to start.

[2020-06-01 12:26] ERC20s opened #9081 "Will ethereum 2.0 support solidity?"
I'm building a casino style dapp on ethereum..
I'm hoping to use the random number from the beacon chain for my games..
Anyone know the costs of this?
And if it will work like that?
Oh yeah..
And will eth2.0 support solidity or do i need to something else?

[2020-06-01 13:24] wighawag commented on #8959
I got a similar compiler issue : `YulException: Stack too deep when compiling inline assembly: Variable headStart is 1 slot(s) too deep inside the stack.`

The weird thing is that the issue appears after I add natspec doc on events.

Can't share the code right now, and will try to isolate more but maybe that can already help to know that simply adding natspec comment can cause this issue

[2020-06-01 16:25] mijovic commented on #6905
Fixes for `-Wsign-conversion` in #9082

[2020-06-02 03:45] MicahZoltu opened #9086 "Add option to automatically add revert reason strings when omitted from require."
## Abstract
When a user includes a `require(variable < 5)` without providing a reason string, the compiler will automatically add a reason string that gives a hint to anyone debugging where the error may be.  One option would be to just use the conditional text (`"variable < 5"` in the example above) and another would be to include file/contract/line number.

This was originally proposed in https:

[2020-06-02 03:46] MicahZoltu commented on #9086
Using the proposed syntax, how would function overloads be differentiated?

[2020-06-02 06:15] Karocyt commented on #5250
I migrated to the new layout and kept the English part when anything meaningful had been changed.
I committed on a file by file basis for the ones I did, so the last commit message usually tells you how much is left to do on that particular file.
We're now based on the release v0.6.8 commit [0bbfe45](https://github.com/ethereum/solidity/commit/0bbfe45376768007a38bfd65f8ea449935306037).

I created

[2020-06-02 08:23] bshastry opened #9087 "[SMTUtil] ICE via SMTLogicError due to "_n.sort->kind != Kind::Int""
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/0a71e415013c8ae712de0c519a22aef2cf1c2119/libsmtutil/SolverInterface.h#L203

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-06-02 08:25] bshastry commented on #9016
A smaller example if that helps

[code]

[2020-06-02 09:52] ekpyron opened #9089 "Emscripten: switch from "fastcomp" to "upstream" backend."
Came up in https://github.com/ethereum/solidity/pull/8909#discussion_r431135953 .
While the new upstream backend for emscripten reduces the size of soljson.js (at the time of writing from about 20MB to about 14MB), thus far it causes "unknown" exceptions to be thrown. IIRC this happens specifically when calling Z3, i.e. for SMT checker calls.

To test this we can build a new emscripten docker imag

[2020-06-02 10:11] ekpyron commented on #8787
- Since we can actually introduce namespaces already be it only with the ``import`` construct, I think having ``namespace`` to allow this at a file level as well is a very good idea. Extending that to templated namespaces makes sense, but would require some more thought.

- I'm not quite sure about the ``using`` construct wrt to namespaces. E.g. what does the following mean?
[code]
  This doesn't

[2020-06-02 10:32] ekpyron commented on #7635
@Marenz Yep, it does, but as far as I can see it's also addressed by this as well. I'm closing it.

[2020-06-02 10:39] ekpyron commented on #7929
"Fixed" by https://github.com/ethereum/solidity/issues/7635 (resp. "won't fix" for the old code generator). Please reopen if there is still a case in which this *doesn't* cause an "UnimplementedFeatureError" now or if there is a reproducible case (even for older compilers) in which this actually causes invalid values and not an internal compiler error.

[2020-06-02 10:39] #7929 closed, assigned to nobody

[2020-06-02 10:54] leonardoalt commented on #9016
Will check/add that test to the PR

[2020-06-02 12:53] bshastry commented on #9077
A single large storage array is sufficient to trigger this bug.

[code]

[2020-06-02 13:09] chriseth commented on #8369
Stack too deep errors can always happen if there are many function parameters and it can only be detected at code generation phase. @hrkrshnn do you think we should rather create a new exception type that does not translate into an ICE?

[2020-06-02 13:11] chriseth commented on #9081
eth2.0 will not support smart contracts in the first phase. Once it is ready for smart contracts, it will of course support Solidity.

Closing as neither bug nor feature proposal for Solidity.

[2020-06-02 13:11] #9081 closed, assigned to nobody

[2020-06-02 13:14] bshastry commented on #8369
@chriseth @hrkrshnn I had filed an issue some time back wishing stack-too-deep errors could be specialized (https://github.com/ethereum/solidity/issues/6772) so that the fuzzer can ignore them. If you think that is still a good idea, I can propose a PR for it. However, I do not think that will help here because solc would still fail but with the newly introduced exception type instead of an ICE.

[2020-06-02 13:15] chriseth commented on #8369
It is fine to fail, but it should not be considered as bad as an assertion failure.

[2020-06-02 13:24] hrkrshnn commented on #8369
@chriseth @bshastry I was wondering if it's possible to have a compiler error like the following:

[code]

Getting the original location is a non-trivial task, though.

[2020-06-02 13:53] #8947 closed, assigned to nobody

[2020-06-02 13:56] bshastry opened #9099 "[solc] ICE because "object too large for storage""
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/97cb091ada06080bfd8ad9f28413875490b52be0/libsolidity/ast/Types.cpp#L188

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-06-02 14:12] bshastry commented on #9099
At first glance, it seems that the `StorageOffsets::computeOffsets` function maintains a single slot offset variable of type `bigint`. Since slot offset is incremented for every storage variable, it may overflow `U256_MAX`.

[2020-06-02 14:52] chriseth commented on #6432
I think after #9059 this looks good now!

[2020-06-02 14:52] #6432 closed, assigned to kennycastro007

[2020-06-02 14:57] #8412 closed, assigned to hrkrshnn

[2020-06-02 15:08] chriseth commented on #8369
We have an open issue for at least improving it for regular solidity variables.

[2020-06-02 15:10] #8881 closed, assigned to Marenz

[2020-06-02 15:34] chriseth commented on #9086
Thank you for re-suggesting this, I did not mean to exclude it from the scope of the original issue!

About the reason string: Note that file names (including path) can be rather long. Also - shouldn't it include the failing expression prominently: `fruit.sol:1 - "condition"`

[2020-06-02 15:44] fvictorio opened #9100 "Documentation for reason strings added by `revertStrings`"
Is there some place where this is documented?

The motivation here is to see how this could be leveraged by external tools (see https://github.com/nomiclabs/buidler/issues/624 for example).

[2020-06-02 15:49] chriseth commented on #8787
using: Currently, libraries also contain lots of other things, most notably structs, but I would be fine with restricting `using` to only namespaces with only functions. I would not disallow functions with different first parameter type because it gives you some flexibility about how to group functions, but am also not too strong on this.

I would not allow namespaces to be re-opened.

About modif

[2020-06-02 15:53] ekpyron commented on #8437
One class of potential issues is this: https://github.com/ethereum/solidity/issues/9065 - so this issue should cover extensive tests of interactions between functions and public state variables.

[2020-06-02 15:54] chriseth commented on #9065
Note that in the example, `C.f` is not public, and thus cannot even override anything.

[2020-06-02 15:54] ekpyron commented on #9065
The actual solution here is to disallow ``override`` for state variables that aren't ``public``, right?

[2020-06-02 15:58] chriseth commented on #9065
Sounds like a plan!

[2020-06-02 15:58] ekpyron commented on #8437
So basically we should have a test case for every subset of the inheritance related keywords applied to any kind of function, state variable, modifier, etc. - and in each case check that the compiler behaves reasonable.
A lot of these combinations will be invalid, but for whatever is valid we should then start to introduce tests with inheritance - for each pair of constructs valid in the first ste

[2020-06-02 15:59] chriseth commented on #9100
The compiler should provide strings for all compiler-generated reverts. This mostly concerns abi decoding.

[2020-06-02 16:00] chriseth commented on #9100
What do you want to know?

[2020-06-02 16:23] chriseth commented on #9066
Duplicate of #9065 - `C.f` is not public.

[2020-06-02 16:23] #9066 closed, assigned to nobody

[2020-06-02 16:46] agroce commented on #9009
Not really a bug; not sure what even is sensible to do about this other than manual triage it away if it shows up again (it's fairly tough for the fuzzer to construct, I think, so not a huge pain for fuzzing)

[2020-06-02 17:02] agroce opened #9101 "[SMTChecker] SMT logic error during analysis: throw in static solidity::smtutil::Expression solidity::smtutil::Expression::int2bv(solidity::smtutil::Expression, size_t)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  Version: 0.6.9-develop.2020.6.2+commit.17e20409.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution env

[2020-06-02 17:26] fvictorio commented on #9100
The scope of this errors. Is there a list of those compiler-generated reverts? Or at least some examples to get a better a idea of what they include?

[2020-06-02 17:35] chriseth commented on #9100
You can search for `revertReasonIfDebug`.

[2020-06-02 17:36] chriseth commented on #9100
Since this is more a question than a proposal, I'm closing this. The places where reverts happen are documented, but I don't think we should document the exact strings used.

[2020-06-02 17:36] #9100 closed, assigned to nobody

[2020-06-02 19:09] #9016 closed, assigned to nobody

[2020-06-02 19:27] bshastry commented on #9101
This may be a duplicate of #9087

[2020-06-02 20:05] agroce commented on #9087
Ah, yes, didn't see this due to scan for the failure text not present here.  Looks the same to me in symptoms at least, and structure

[2020-06-02 20:07] leonardoalt commented on #9101
Let's keep both open for now and check whether the first fix fixes both.

[2020-06-02 20:24] leonardoalt opened #9103 "[SMTChecker] Add return edge to CHC model"

[2020-06-03 01:18] MicahZoltu commented on #9086
I'm not opposed to including the failing expression, I only left it out of the specification because previously there arguments about the reason string becoming unbearably long.  For example if you have a require statement like:
[code]
You are right though, global names (file names) can become quite long as well since they sometimes will be full paths or relative paths.  I'm not personally opposed

[2020-06-03 02:04] sw7240614 commented on #9086
That was nice letter

On Tuesday, June 2, 2020, Micah Zoltu <notifications@github.com> wrote:

of the specification because previously there arguments about the reason
string becoming unbearably long. For example if you have a require
statement like:

0x123456789123456789123456789123456789 || cherry !=
0xbaadf00dbaadf00dbaadf00dbaadf00dbaadf00dbaadf00dbaadf00dbaadf00d)

well since they sometimes w

[2020-06-03 09:17] chriseth commented on #8802
The recommendation not to use `x-` does not suggest an alternative, and we need a way to mark such tags because we want to warn on tags that are not known to the compiler.

We could also say that we accept all tags of the form `@x-...` and `@_...`.

[2020-06-03 09:19] chriseth commented on #8807
The index will be stored as a string, so it takes as many characters to store `-1` as it does to store `g1` (g for "generated") and it would be more descriptive. Would non-integers be also OK here?

[2020-06-03 09:21] chriseth commented on #9046
Relates to https://github.com/ethereum/solidity/issues/5107

[2020-06-03 09:26] chriseth commented on #8456
Maybe we should also just keep it inlined in the old code generator (is that what you meant?).

[2020-06-03 10:09] leonardoalt commented on #8802
+1 for `@_...`

[2020-06-03 11:52] mijovic commented on #8456
Sample usage, for example in `CompilerUtils.cpp` around like 291
[code]

So, maybe to inline it via `revertReasonIfDebug` (as a return string) in CompilerContext, and using function from `YulUtilFunctions` where possible. Bad thing is that if we do like this we will have same code on two places

[2020-06-03 11:56] ekpyron commented on #8807
If we go for strings, I'd make it something proper like ``internal-1``, ``internal-2``, ...
And this would *only* affect parsing the compiler output, because users can always just translate ``internal-*`` to ``-1`` or ``internal-<n>`` to ``-<n>`` themselves to use in their further internal representation, can't they?

[2020-06-03 12:22] #9065 closed, assigned to Marenz

[2020-06-03 12:37] chriseth commented on #8895
Fixed by #8994

[2020-06-03 12:37] #8895 closed, assigned to nobody

[2020-06-03 13:04] chriseth commented on #5766
Is it possible to do this inside the memory object framework, so that it would be possible to optimize e.g. external functions that are never called internally to use static locations for the variables?

[2020-06-03 13:10] chriseth commented on #5107
Let's start with by adding and using the functions in the yul code generator, ignoring range checks for now.

[2020-06-03 13:30] chriseth commented on #8787
Discussion: Let's implement the most basic version of this and try to re-write some existing contracts / libraries to make use of it.

[2020-06-03 14:07] axic opened #9109 "[Sol-Yul] Support indexing fixed- or dynamic-length bytes arrays"
This should compile:
[code]

Both `ret[0]` and `bytesValue[0]` are triggering this assertion:
[code]

[2020-06-03 14:09] axic opened #9110 "[Sol->Yul] Support exponentiation in constants"
The following should compile:
[code]
This previously attempted by #8945.

Closes #8853.

[2020-06-03 14:14] chriseth commented on #9110
I don't think this is different from regular 'exp'.

[2020-06-03 14:22] axic commented on #9110
It is not, unless we would have constant expressions. Is there a tracking issue for support `exp` in sol-yul?

[2020-06-03 14:25] chriseth commented on #8908
Without a means of retrieval, the "deploy on chain and publish metadata" workflow is broken or at least needs a centralized component. If we have swarm or ipfs links and someone interested in keeping the data alive keeps it pinned, anyone can retrieve the metadata and sources without having to know "where to go" - they can just follow the link and retrieve the data. If we also allow a hash functio

[2020-06-03 14:25] axic commented on #3262
I wonder if this could make sense now since we have dialects, especially as @ekpyron suggested today to have an mstore-less version (where only mobj's are allowed).

[2020-06-03 14:27] chriseth commented on #9110
The value of the constant is just treated as a regular expression: https://github.com/ethereum/solidity/blob/develop/libsolidity/codegen/ir/IRGeneratorForStatements.cpp#L196

[2020-06-03 14:27] axic commented on #7646
@ekpyron @mijovic @hrkrshnn I think you guys worked on Yul objects where dots are used. Maybe we should revive this issue and make a quick decision.

[2020-06-03 14:29] axic commented on #3461
@chriseth  @ekpyron is this question by any chance closed via the new inheritance rules?

[2020-06-03 14:34] chriseth commented on #8787
If we allow `using A.* for B` where `A` is an imported module without adding explicit namespaces or named modules, one tiny problem that still needs to be solved is if we want to allow `using A for B` at file level - as a replacement for it being used inside a library.

I think allowing `using A for B` at file level could also simplify the language. One issue with `using` we have is that it is not

[2020-06-03 14:56] chriseth commented on #8807
This "index" is used in the source reference string which should be rather small, so I would prefer a two-character index over some longer string.

[2020-06-03 15:08] cameel commented on #8802
I did a little research to see what other projects are doing. Here's what I've found:

#### MIME types
`x-` is also used for custom MIME types:

[RFC 2045 > 6.3. New Content-Transfer-Encodings](https://tools.ietf.org/html/rfc2045#section-6.3)

#### CSS prefixes
Another example are vendor prefixes on CSS properties like `-webkit-` and `-moz-`. The use case is a little different though - they're for

[2020-06-03 15:12] frangio commented on #8802
@chriseth Please do not emit a warning when the compiler sees a custom tag. If that were the case I would not use the feature, because it would spam our users' terminals with warnings.

Edit: ...or do you mean that unknown tags that are not marked with the special custom notation would emit a warning?

[2020-06-03 15:36] cameel commented on #8802
Yeah, I think this is the intention. So you would get a warning for `@notiec` but not for `@_mycustomtag`.

[2020-06-03 16:09] ekpyron commented on #8802
We can allow defining custom tags in pragmas - either with or without forcing those to have a special prefix.
[code]
We could still warn about unknown tags then, preventing typos in them - and it would document what these tags are supposed to mean.

[2020-06-03 16:15] ekpyron commented on #3461
I think this is all disallowed by now. We didn't solve the issue in https://github.com/ethereum/solidity/issues/3461#issuecomment-370434062 , though - we just disallow this without any way around it at the moment :-).

[2020-06-03 16:17] ekpyron commented on #7646
Can we just disallow *any* dot in Yul identifiers :-)? I don't see a compelling reason for having them and it gets confusing, since apparently we give dots more and more special meaning. So if there's no reason against this, I'd remove dots from normal Yul identifiers in 0.7.

[2020-06-03 16:21] ekpyron commented on #3262
I'm not sure about this - yes, sooner or later we will need to specify dialects for assembly blocks - but I'm not sure if there's much benefit in having a restricted instruction set. We even output the Yul AST to JSON in the meantime, so validating that specific instructions aren't used can easily be done by external tools. And the dialect namespace will get crowded and confusing anyways, so I'd t

[2020-06-03 16:22] mijovic commented on #7646
I completely agree with this. Only if there is some really big reason for leaving dots as part of Yul identifiers we can think of leaving them. I personally don’t see the reason to leave them at all.

[2020-06-03 16:25] axic commented on #7646
There were some  proposals, such as the builtins (`i64.shl` for wasm) or for user-defined types (#3525), to use dots in their identifiers. I think enum access (#7641) would be a special case (similar to object access) and not an identifier, but a path.

[2020-06-03 16:38] ekpyron commented on #7646
In general Yul objects are a bit different, since they have their own namespace (haven't they?) and don't collide with anything else anyways, right? I haven't really followed dots in yul objects recently.

Builtins with dots could just be an exception. Same for casts in user-defined types, although we could also just use a solution without dots there. But yeah - I'm not entirely sure.

In any case

[2020-06-03 16:41] ekpyron commented on #7646
Of course the enum stuff only ever applies to solidity yul... but we could think of it as reserving dots generally as reserving parts of the identifier namespace for stuff outside of the yul code itself...

[2020-06-03 16:42] chriseth commented on #3461
You do not have to provide arguments to base constructors, as long as they are provided somewhere in the inheritance hierarchy. This one is valid:
[code]

[2020-06-03 16:43] axic commented on #7646
So that means dots would be allowed for identifiers in the grammar, except for variable declarations (`let`, parameters, return values)?

And the original question from this topic still applies: allow/reject leading/trailing dots? I vote for rejecting them, in any case.

[2020-06-03 16:44] fvictorio commented on #4807
Hey @chriseth, I've been maintaining [a fork](https://github.com/solidity-parser/antlr) of the solidity ANTLR grammar for some months, and many projects are already depending on it. Of course, it would make much more sense for this grammar to live under `ethereum/solidity`. Do you think we could unify efforts here?

I think something like this would allow some testing strategies to make sure the g

[2020-06-03 16:46] ekpyron commented on #3461
True, that's **a** solution at least... and so far no-one complained as far as I know :-). I'll close this issue then - please reopen, if you disagree.

[2020-06-03 16:46] #3461 closed, assigned to nobody

[2020-06-03 16:51] chriseth commented on #4807
@fvictorio we added the grammar to this repository recently. We actually test the grammar in the way you describe :)
If you would like to make any changes, please create a pull request or open an issue. I'm closing this issue since it is about something else.

[2020-06-03 16:51] #4807 closed, assigned to nobody

[2020-06-03 16:51] axic commented on #4807
This isn't the right issue to discuss this on, but we have an ANTLR grammar: https://github.com/ethereum/solidity/blob/develop/docs/Solidity.g4

It is the https://github.com/ConsenSys/solidity-antlr4 merged and maintained by us (as requested by the team behind upstream). You could consider checking it and pushing PRs if there is any difference to yours.

[2020-06-03 16:51] franzihei commented on #9054
Thank you for joining everyone! Here are the notes from our first call: https://hackmd.io/6z3-BIIsS227l-8iR5_NzA

[2020-06-03 16:54] axic commented on #8482
Since https://github.com/ConsenSys/solidity-antlr4/blob/master/Solidity.g4 was merged into the repo in March, @GNSPS, would it make sense adding a large deprecation notice to https://github.com/ConsenSys/solidity-antlr4 and potentially setting the repo to archive?

And @federicobond what do you think about doing the same with https://github.com/solidityj/solidity-antlr4 ?

[2020-06-03 16:54] ekpyron commented on #7646
If we start to generally treat dots as some kind of namespace mechanism, then we should definitely disallow leading and trailing ones, yes.

But on the other hand: if we *don't* start treating dots as some kind of path/namespace mechanism in general, then I don't really see a reason for disallowing leading or trailing ones either actually...

About the grammer: that depends :-). As long as we *don

[2020-06-03 16:55] haltman-at commented on #8807
Sure, non-integer works.  As long as it can be distinguished without further information that would be nice.  Thank you!

[2020-06-03 16:58] chriseth commented on #8467
Community feedback call: https://github.com/ethereum/solidity/issues/9054

[2020-06-03 17:01] fvictorio commented on #4807
Yeah, I created the fork from that one because there wasn't a lot of activity in it. I think at this point my fork is the one being used the most (by at least solhint, solidity-coverage, buidler and prettier-solidity), so maybe you should sync that one? I can open a new issue if you prefer to discuss this in another place.

[2020-06-03 18:00] k06a opened #9114 "Why to copy read-only arguments into the stack?"
It seems CALLDATACOPY costs the same as DUP but requires no space in stack reserved for this local variable.

## Abstract

Arguments that are not modified could be accessed directly from call data instead of copying them from stack to stack again and again.

## Motivation

This would reduce stack size and fix a lot of "Stack too deep" issues

[2020-06-03 21:28] chriseth commented on #9114
I'm not sure I understand. `calldatacopy` copies to memory and not to the stack. It also requires multiple arguments. `calldataload` copies to the stack, but also requires an offset that needs to be potentially computed and pushed. The latest version of Solidity (about to be released in the next days) allows you to use the `calldata` data location for structs and arrays everywhere and could be alm

[2020-06-03 21:54] nventuro commented on #9054
There's a point I forgot to bring up, which is iteration. How should users write a `for` loop that has no (uncessary) checked arithmetic?
[code]

Given what we've discussed so far, we'd want to use `unchecked`, but this would also make the `for`'s body `unchecked`, forcing users to wrap their body in a function.

[code]

I'm not sure what's the best way to tackle this. Perhaps having some sort of

[2020-06-03 21:57] axic commented on #9054
Could range based loops be an alternative? Then the compiler would be sure no overflow happens.

[2020-06-03 22:16] nventuro commented on #9054
I believe so, yes. I didn't mention those to try to reduce scope of this.

[2020-06-03 22:43] nventuro opened #9117 "Unchecked array access"
Solidity currently performs bounds checks on array access, asserting that the index is smaller than the lenght of the array. In some scenarios, this check can be skipped by the developer to save gas, given additional guarantees on the range of the indices.

For example, consider the following snippet where a slice of an array is processed:

[code]

Discussion around having checked arithmetic, with

[2020-06-04 06:24] k06a commented on #9114
@chriseth sorry, I meant CALLDATALOAD for sure. I meant it could be used for integral (<= 32 bytes) types as well.

[2020-06-04 08:02] chriseth commented on #8670
The only thing left here that could be done is finding out where the code is generated and maybe remove one of the masks.

[2020-06-04 08:05] chriseth commented on #7115
I think we should make the tests work on windows in general and then look at moving from appveyor to circleci.

[2020-06-04 08:07] chriseth commented on #8303
Another difficulty is that we usually evaluate function arguments from right to left - would we do the same here, too? If yes, then the values are in reverse with regards to the location of the variables on the stack.

[2020-06-04 08:12] chriseth commented on #9114
To be honest, I don't think restricting value types to calldata explicitly is easily doable. You get that by using calldata structs, and it is advisably anyway to group variables into structs when dealing with many function parameters.

[2020-06-04 08:12] #9114 closed, assigned to nobody

[2020-06-04 08:46] chriseth opened #9119 "Optimize AND/SHL"
``and(shl(A, X), shl(A, Y))``
should be optimized to
``shl(A, and(X, Y))``

or even

``and(shl(Z, X), shl(Z, Y))``
should be optimized to
``shl(Z, and(X, Y))``

[2020-06-04 08:52] chriseth opened #9120 "Optimize combinations of shifts and byte"
[code]
(and similar for other shift and byte combinations)

[2020-06-04 12:39] chriseth opened #9127 "Change function inlining order"
We often end up with functions being inlined into the main dispatch routine while they call smaller helpers that are not inlined because the dispatch routine is already too large.

Maybe we should start by inlining functions that do not call any other functions (use the call graph).

[2020-06-04 12:45] chriseth commented on #9127
This is also connected to the idea of optimizing functions in isolation instead of running the optimizer always on the full code.

We could also try to inline a function, run other optimizer steps (especially the more involved rule-based and reasoning ones) and if it did not result in reduction of code size, undo the inlining again.

[2020-06-04 13:23] ekpyron opened #9128 "Check if the stack optimizations in Yul EVM code transform reuses stack slots of function arguments."
In the Yul EVM code transform, whenever a stack variable is no longer used, it's stack slot is marked as available for re-use.
We should check if this also happens for function arguments, i.e. if the code transform uses the slots originally assigned to return variabels, respectively even pops unused function arguments from the stack.

[2020-06-04 14:31] Marenz commented on #9099
This might be a duplicate of https://github.com/ethereum/solidity/issues/9077

[2020-06-04 14:37] ekpyron commented on #5107
More details for the proposed first steps:

Step 1:
---------
Introduce the following Yul util functions, use them in Yul IR generation and the ABI encoder code, and eliminate all acesses of the free memory pointer this way:
  - ``mobj_allocate(size) -> mobj`` - allocates ``size`` bytes by reading from and updating the free memory pointer
  - ``mobj_allocate_unbounded() -> mobj_unbounded`` - just

[2020-06-04 14:51] Marenz commented on #9077
duplicate of #9099, closing.

[2020-06-04 14:51] #9077 closed, assigned to Marenz

[2020-06-04 15:14] federicobond commented on #8482
LGTM, nice to see this integrated upstream!

[2020-06-04 17:07] elenadimitrova commented on #9002
Logged with IDE instead as it better fits there https://github.com/microsoft/vscode/issues/98819

[2020-06-04 17:07] #9002 closed, assigned to nobody

[2020-06-04 17:16] ekpyron opened #9130 "Investigate soljson.js memory leaks."
Creating an empty contract, setting remix to "auto-compile" and keeping to add and remove empty lines to the contract (waiting just long enough for remix to actually start recompiling) apparently seems to let the process memory usage grow without bounds and eventually causes remix to stall e.g. on cursor movement...
I'm experiencing this on recent Archlinux and Firefox 76.0.1.
I'm still figuring o

[2020-06-04 17:41] ekpyron commented on #9130
Just confirmed with ``soljson-v0.5.13-nightly.2019.11.6+commit.56a3abcd.js`` - which is *not* a wasm build.

But on the other hand I *don't* have the problem on chromium - not sure that means "not our fault".

[2020-06-04 17:47] ekpyron commented on #9130
Seems to be related to the remix debugger rather than us... I'm closing this again for now.

[2020-06-04 17:47] #9130 closed, assigned to nobody

[2020-06-04 18:15] sw7240614 commented on #9130
I am sorry

On Thursday, June 4, 2020, Daniel Kirchner <notifications@github.com> wrote:

this again for now.

https://ci3.googleusercontent.com/proxy/X6arlJZN7E5TmiB8AdpyrQ8DDL-NmdLhSMkx5BbEMhp6N6R0aMxKpcwTDaYVHsrejH7d8agZkOSiqv7gaUFLazkn2QD4w3wS7VdW4cmZACZd_43iTIjHQWYRWOcc9OZGpp3y1JfOsQshUd924Fd92hMFxEga1Pyd25JO9bxiRq3edGtPuIS57ZTc-kp3c289vuiqlDwkB_qPH469-ymtIsrDKDJ613Vq00bDxywQBw=s0-d-e1-ft#htt

[2020-06-04 22:39] alcuadrado opened #9133 "Incomplete sourcemaps for constructors when immutables are used"
I think there's a bug that makes solc output fewer source maps than instructions. Not that it's emitting sourcemaps that don't point to a file, but there's just fewer source maps than instructions.

I believe this is related to `immutable`, but I can't confirm it.

## Environment

- Compiler version: At least `soljson-v0.6.8+commit.0bbfe453.js` and `soljson-v0.6.9+commit.3e3065ac.js`
- Target EVM

[2020-06-04 22:42] alcuadrado commented on #9133
Also, I was using the number of source maps to figure out where the actual code ends. Is there another way of doing this?

[2020-06-04 23:05] haltman-at opened #9134 "ICE on calling externally a function that returns calldata pointers"
## Description

As of Solidity 0.6.9, it is possible for functions to return calldata pointers.  If such a function is called externally, an InternalCompilerError results.

Suggested fix: Since I don't think there's really any sensible way to handle calling such a function externally, only `internal` and `private` functions should be allowed to return calldata pointers.

## Environment

- Compiler

[2020-06-05 02:24] sw7240614 commented on #9002
That is a lot of word

On Thursday, June 4, 2020, Elena Gesheva <notifications@github.com> wrote:

https://ci4.googleusercontent.com/proxy/e1ptrOoonZj0mLlHcGur4v-j5At2-yx6Q1gTUkHhyrpIwbKNmSmdNoPnStgH9bFMfV-Qt67WtWbKe4Qm-u3KLVBZi8JQoW3XK_7Oro1HUWKDKAxEirhr_n8in9f9ciZIUCJH6Ux1ZhRxF8DXxRgMFikkY4_g5Zx8Am1bkOjdZMzUAsK041eGz1iApg6_AkKIblfYvOTUOy-nbSj-RDFyHjesmp7VDRzD6t7i1MfKVQ=s0-d-e1-ft#https://github.

[2020-06-05 07:48] chriseth commented on #9134
Right before the release, I thought "did we actually test this"? We did, and it worked, but I only tested the `test` function via remix, not the `tester` :)

I think the bug is that `FunctionType::asExternallyCallableFunction` does not properly change the location of the return variables, only the parameters.

[2020-06-05 08:03] chriseth commented on #9133
I think your assessment is correct - the elements in the source maps refer to instructions, but the "assign immutable" pseudo-instruction translates to multiple instructions in the resulting bytecode. This is not too critical, because the source map at this point is usually empty anyway, but we should still fix it.

Your way of finding out where the code ends seems to be pretty solid. You could co

[2020-06-05 08:07] chriseth commented on #9133
The `AssignImmutable` assembly item gets translated into multiple opcodes, also depending on how often the immutable was referred (Assembly.cpp:668). In AssemblyItem::computeSourceMapping we need to take this into account and just add as many `;` as we have opcodes generated from the AssignImmutable. The information about how many refereces we have needs to be retained for that, too.

[2020-06-05 09:34] ekpyron opened #9136 "Make actually running SMT queries configurable via standard-json."
Since soljson.js now includes Z3, any source with the smt pragma will actually run the Z3 queries. That will slow things down and there's no way to prevent it without actually removing the pragma, which changes the source code hash in the metadata the compiler produces.
For example source-verification won't benefit from the SMT warnings - but it will need perfectly matching source code.

So it sho

[2020-06-05 09:40] axic commented on #9136
Why would anyone have the pragma and not wanting to run the solver?

[2020-06-05 09:43] chriseth commented on #9136
Would it be a good solution to just make the resource limit configurable? A limit of 0 would switch it off.

[2020-06-05 09:55] ekpyron commented on #9136
In case someone kept it while deploying and you want to source-verify? Or if Z3 is broken for your example and spins with 100% CPU usage until the resource limit is reached, but you want to still provide a callback that calls cvc4 and solves it immediately?

To me the latter potential situation indicates that it's not exactly the resource limit only - although being able to configure that might be

[2020-06-05 10:39] #6574 closed, assigned to leonardoalt

[2020-06-05 12:21] #8971 closed, assigned to nobody

[2020-06-05 14:18] alcuadrado commented on #9133
Can `AssignImmutable` be inlined in the middle of the bytecode? If that's the case, sourcemaps are pointing to incorrectly sections of the code, right?

I think I'll add this. Thanks

[2020-06-05 15:29] sirhill opened #9139 "Comments starting with multiple stars wrongly recognized as natspec docstring"
## Description

The following code generate a warning in 0.6.9:
[code]

[code]

The error message might as well be improved and enlight the natspec comments instead.

## Environment

- Compiler version: starting from 0.6.9
- Target EVM version (as per compiler settings): 0.6.9
- Framework/IDE (e.g. Truffle or Remix): truffle

[2020-06-05 16:27] ekpyron commented on #5766
Just so I don't loose the link https://hackmd.io/@YuZ07BTxTK-q-lurqUdnkQ/By68AjDhL - here are some initial notes about escalating statically in the case of acyclic call graphs - I have an algorithm, but its description still can be greatly simplified.

[2020-06-06 02:55] Tectract commented on #3452
I'm downstream in a breaking library that used compileJSON and trying to figure out how to update/fix my fork.

I'm looking at trying to figure out what to do with

[code]

from here: line 1576

https://github.com/ericxtang/browser-solc/blob/master/browser-solc.js

Can I get some info on how to fix / update this for the newest versions of solc, so that my in-browser compiler will work again?

rela

[2020-06-08 07:55] Zbozi commented on #8133
Worked around the error by setting `docker:false` int the `truffle-config.js`.
- node v14.3.0
- Truffle v5.1.26
- solc v0.6.1

[2020-06-08 08:34] drortirosh opened #9147 "SOLC optimizer crash with misleading error message"
## Description

SOLC compiler crashes with undescriptive error:
[code]

### Expected Behaviour:
- at a minimum, give source file/method/contract that caused the crash.
   It was very easy to fix the method (and for the sample file below, it was even enough to remove the `pragma experimental` at the top - which I can't in my real project), but without knowing which file to check, it was a very tedi

[2020-06-08 08:49] leonardoalt opened #9148 "[SMTChecker] Support memory/storage pointers"
Currently aliasing is "supported" by erasing knowledge about all variables of reference type T when another variable of type T is modified (assignment, push, pop).
This includes subtypes of arrays/mappings, for example.

This issue collects ideas on how to implement better support for those.

[2020-06-08 08:52] leonardoalt commented on #9148
Idea:

Arrays are currently represented as an SMT tuple `(SMT-Array array, SMT-Integer length)`. This could be extended to `(SMT-array array, SMT-Integer length, SMT-Integer location)` where `location` represents a memory region/storage slot. Thus,
[code]

[2020-06-08 09:29] ekpyron commented on #9148
Every storage pointer with a known value could be "inlined" as index access. But inlining would be a bit tricky:

[code]

[2020-06-08 09:35] ekpyron commented on #9148
Alternatively, there could be a symbolic arrays for any type of arrays and arrays would be accessed by indexing into these arrays. But depending on how often these kind of things happen, https://github.com/ethereum/solidity/issues/9148#issuecomment-640465177 might be more efficient and easier on the solvers.
(Arrays of arrays would even have to be arrays of indices into the "global" array for the

[2020-06-08 09:40] ekpyron commented on #5766
I'll be working on a first implementation of the statically assigned memory slots for acyclic call graphs.

[2020-06-08 11:27] cameel commented on #8078
@axic @chriseth Is there anything missing besides external calls/library addresses?

Looking at disabled tests, these two fail only because of missing support for external functions:
- using enums and contracts as keys in mappings
- library function selectors

And these two rely on other missing features:
- storing internal library function pointers in storage (storing internal function pointers i

[2020-06-08 11:44] ekpyron commented on #5766
Starting to implement the static acyclic version described in hackmd, the following is the first question:

- Currently the IR codegen directly initializes memory as ``mstore(0x40, <constant>)``, where constant is ``generalPurposeMemoryStart`` plus ``reservedMemory`` (reserved for immutables during contract creation).
- The value ``generalPurposeMemoryStart`` is no longer known in advance.

So we

[2020-06-08 12:13] chriseth commented on #5766
My intuition would be to make this step start with a heuristic: Search for `mstore(0x40, SOMETHING)` among the first statements of the main routine. If there is some statement that accesses memory before the `mstore`, fail. If the statement cannot be found, then fail. Otherwise, replace it by `mstore(0x40, add(<whatever we need>, SOMETHING))`.

[2020-06-08 12:19] chriseth commented on #8078
I don't have an overview of what is still needed, but support for library addresses and calling via delegatecall would be the most important part, now, I think. For that, we need a new builtin added to the dialect similar to `datasize`.

[2020-06-08 12:45] Marenz commented on #8670
This might not even be a problem currently. The current code with the current `develop` branch produces the following:

[code]

no trace of `not` and `and`..

[2020-06-08 13:04] cameel commented on #8078
Yeah, I remember that part from https://github.com/ethereum/solidity/issues/8485#issuecomment-607981435

[2020-06-08 14:09] ekpyron commented on #5766
Really :-)? Ok, I can look into that...

[2020-06-08 14:39] chriseth commented on #8670
It is still there. I think it is  generated because we perform cleanup twice: Once in CompilerUtils.cpp:480 (call to  convertType) and once in CompilerUtils::storeInMemoryDynamic -> prepareMemoryStore -> convertType

Can you check if it is doable without much disturbance and potential for bugs to see if we can skip either the first or the second cleanup?

[2020-06-08 14:43] chriseth commented on #7646
Dots kind of have to be regular characters for identifiers because of the wasm builtins. If they are regular characters, they should also be allowed at least at the end - we usually only have restrictions about how identifiers can start. What is the benefit of disallowing dots at the ends?

[2020-06-08 14:46] axic commented on #7646
What is the benefit of having dots at the end? You mention wasm -- that does not requite leading/trailing dots, even if we want to follow that notation. In other notations people use underscores for wasm opcode, i.e. `i32_const`.

[2020-06-08 23:16] alcuadrado commented on #3168
The 0.6.9 release page doesn't include a macos binary. Will it be added? or should we wait for 0.6.10?

Is this blocking adding binary builds to solc-bin?

[2020-06-08 23:22] shanefontaine opened #9152 "Documentation update: interfaces can now declare state variables"
The latest [Solidity 0.6.9 docs](https://solidity.readthedocs.io/en/v0.6.9/contracts.html#interfaces) state that:

It appears this is no longer the case as I am able to now declare state variables in my project, however it is unclear to me when this restriction was lifted.

**I suggest removing that bullet point from the documentation if it is true that this restriction was lifted.**

[2020-06-09 09:18] #9109 closed, assigned to chriseth

[2020-06-09 09:34] chriseth commented on #9152
The restriction has not been lifted - can you provide an example that made you think it has?

[2020-06-09 09:41] chriseth commented on #3168
Oh I'm sorry! I just added the binary - can you try if it works? I named it `solc-macos` - is that a name that works in the macos naming scheme?

[2020-06-09 10:22] chriseth commented on #9054
@nventuro are you talking about the check in `++i`? In the new code generator, the compiler should be able to get rid of it and for the old generator, if it is not possible to optimize that, then the following should work:

[code]

[2020-06-09 11:05] chriseth commented on #7646
The benefit is simplicity. What is the benefit of having `_` at the end?

[2020-06-09 11:56] axic commented on #7646
I'm confused. You are advocating of allowing a dot at the end and then drop this question.

I dislike leading/trailing underscores personally, but I don't think underscore and dot can be compared, because dot has a special meaning in many languages, including Solidity, and potentially Yul with allowing enums.

[2020-06-09 12:11] chriseth commented on #7646
I'm saying that if we allow `.` to be part of identifiers, then we should not make any restriction about where in the identifier it can appear.

[2020-06-09 12:21] ekpyron commented on #7646
I think it's weird if we allow both arbitrary dots in arbitrary identifiers and at the same time use them for resolving e.g. solidity enums. So at least in solidity inline assembly yul, we should disallow dots in identifiers as long as they don't refer to such a namespace. I don't see much harm in having the wasm prefix namespaces being an exception to this.

[2020-06-09 12:27] chriseth commented on #7646
Sounds good!

[2020-06-09 12:40] gitpusha opened #9160 "UnimplementedFeatureError: calldata structs"
I notified @chriseth in the Gitter chat that I am getting a lot of `UnimplementedFeatureError` from the solc-js compiler 0.6.9, in places where I want to make use of `calldata structs`. It seems like the Error is thrown when I want to pass around such `calldata structs` between functions internally. The calldata structs are nested.

## Environment

- Compiler version: 0.6.9

## Steps to Reproduce

[2020-06-09 12:41] hrkrshnn commented on #9017
@axic What about merging dev and user doc?

Both https://github.com/ethereum/solidity/issues/8776 and https://github.com/ethereum/solidity/issues/8922 can use merging.

The new merged doc will also contain the ABI JSON.

[2020-06-09 12:45] chriseth commented on #4807
I just looked at the diff between your version and the one in the ConsenSys repository and there are not too many changes that we did not already apply. One thing that confuses me is the explicit listing of some identifiers:

https://github.com/ConsenSys/solidity-antlr4/compare/master...solidity-parser:master#diff-931f4b868a25efffc188dc49205ab568R377

Can you explain why it is done like that?

Her

[2020-06-09 12:46] #9089 closed, assigned to nobody

[2020-06-09 12:49] chriseth commented on #9160
Slimmed it down a bit more:
[code]

What seems to be unimplemented in the copying of nested arrays / structs from calldata to memory.

[2020-06-09 12:51] chriseth commented on #9017
If we merge dev doc, user doc and abi json, isn't this just the metadata then? :)

[2020-06-09 12:56] gitpusha commented on #9160
Here is one more, that seems to indicate that the copying of `nested structs` (not inside an array) from calldata to memory is also not implemented.

Try to compile this:

[code]

**Gotcha: it works  for me, when you set the private fn data location to `calldata`** (which wasnt possible before 0.6.9).

[code]

Unfortunately I need it to be memory however because sometimes I want to pass a memory v

[2020-06-09 12:58] #4285 closed, assigned to hrkrshnn

[2020-06-09 14:40] fvictorio commented on #4807
Yeah, that has to do with how ANTLR works. If you don't do that, then there are some ambiguities when the code is parsed. For example, if you have a function `function receive` it can't tell if it's an `Identifier` or a literal `receive` keyword. So that's the way to fix it. (Maybe there's a better way, but I couldn't find one).

[2020-06-09 20:49] shanefontaine commented on #9152
You are correct. I had switched the order of inheritance which made me falsely believe it was working as expected. Will close now. Thank you.

[2020-06-09 20:49] #9152 closed, assigned to nobody

[2020-06-10 09:43] ekpyron commented on #8917
Decision in chat: we indeed do this as ``_offset`` and ``_length`` now. I'll open a separate language design issue to consider moving those underscore suffices to use dots instead, but for now in 0.6 this should be implemented using underscores first.

[2020-06-10 10:02] ekpyron opened #9169 "Using dots instead of underscores for inline assembly ``_slot``, ``_offset``."
Given the discussion in https://github.com/ethereum/solidity/issues/7646, i.e. mainly given the idea to reserve dots for special identifiers in solidity inline assembly yul, we could consider transitioning ``_slot`` and ``_offset`` for storage variables to ``.slot`` and ``.offset`` instead. If yul identifiers with dots cannot be used in inline assembly anyways, unless they refer to something outsi

[2020-06-10 10:10] ekpyron opened #9170 "Allow conversion from bytes to bytesNN"
Allow conversions from the dynamic ``bytes`` type to the fixed bytes ``bytesNN`` types.

Probably best to start with ``calldata`` to support e.g. ``bytes4 sig = bytes4(msg.data[:4]);`` (resp. ``bytes4 sig = bytes4(bytes(msg.data[:4]));``, i.e. for proper calldata arrays first and then directly on calldata slices).

But this also makes sense for ``memory`` and ``storage``.

There may very well be a

[2020-06-10 10:29] ekpyron opened #9171 "Meta-Issue: management in Backlogs via Timeouts"
We wanted to automate the process of moving issues around in the project board if they remain untouched for a certain amount of time.
What exactly should happen?
After two weeks (exact time to be decided) inactivity move everything from the backlogs to the Icebox? Or to something intermediate and then again after a week from there into the icebox?

[2020-06-10 10:32] ekpyron commented on #9171
Once specified we can implement this using whatever automation tools github provides - if there's no other options github actions should work (apparently https://github.com/ethereum/devops/issues/284 concluded in us being able to use those).

[2020-06-10 10:34] ekpyron commented on #9170
Among the main reasons for this: https://github.com/ethereum/solidity/pull/9167

[2020-06-10 10:39] ekpyron commented on #9171
Ah, I think we said, we move issues directly to the icebox, but post a comment to the issue, s.t. anyone involved gets notified and can move it back, if desired.

[2020-06-10 12:24] Marenz commented on #8911
I wonder if the given rules might be too intransparent for the end user

[2020-06-10 12:35] chriseth commented on #9171
Discussion:
 - comment on issues stale for 4 weeks and move them into the icebox
 - add new issues to the "new issues" column of the Solidity project automatically.

[2020-06-10 12:38] ekpyron commented on #9169
Related: PR for enums https://github.com/ethereum/solidity/pull/7641

[2020-06-10 12:55] ekpyron commented on #8917
For making this non-breaking: We allow name collisions, i.e. the following is allowed, but issues a warning:
[code]

With 0.7 this warning should etiher become an error, or the problem will vanish anyways if we go for https://github.com/ethereum/solidity/issues/9169 .

For now I'd say we just allow this as well without even warning about it:
[code]

[2020-06-10 13:53] gitpusha opened #9172 "Solidity Library Using For vs. calldata bytes"
## Description

Internal library methods that accept `calldata` bytes have some weird behavior:

1. They compile even if you pass them `memory` bytes.

2. When invoked on a variable with `Using for`, they do not work.

## Environment

- Compiler version: solc-js 0.6.9
- Framework/IDE: @nomiclabs/buidler
- EVM execution environment / backend / blockchain client: buidlerevm

## Steps to Reproduce

1

[2020-06-10 14:44] #9134 closed, assigned to mijovic

[2020-06-10 15:13] bshastry opened #9174 "[Sol->Yul] Codegen for read from struct member throws ICE"
## Description

While writing the following test for #8858 (to test whether dirty bits in struct members are cleared before copy), I ran into the error below.

[code]

throws

https://github.com/ethereum/solidity/blob/2410f0ed5a47cf262a2d836f4c493c48e8bd9977/libsolidity/codegen/ir/IRVariable.cpp#L52

I believe the problem is in the assignment `uint8 x = s.m[0]` that reads from struct because the f

[2020-06-10 15:17] frangio commented on #8911
One issue with `@inheritdoc` with an argument is that NatSpec in the AST is included as text without semantic information, and notably there would be no `referencedDeclaration` field for the identifier included along with `@inheritdoc`. This would make it difficult to parse NatSpec out of the AST. I understand that the compiler has an output selection for documentation, but being able to use only

[2020-06-10 15:26] franzihei opened #9175 "Solidity Portal"
## UPDATE
I moved the current status of the portal from my MVP repo to the official rep. Now the code is here: https://github.com/ethereum/solidity-portal

---

As I mentioned in a couple of team calls, we're thinking about creating a dedicated Solidity portal to have a one-stop shop page with all links and relevant information about the language for the community.

To make the decision and proces

[2020-06-10 15:28] #9054 closed, assigned to franzihei

[2020-06-10 15:39] axic commented on #9175
Could also revive @erak's [solidity tour](https://github.com/erak/solidity-tour) project. [See in action](https://erak.github.io/solidity-tour).

[2020-06-10 15:59] jcaracciolo commented on #8739
Is there any update on where this issue is heading? I do agree there are much more cases in which an exported parser could be used for, other than extracting imports.

[2020-06-10 16:18] hrkrshnn commented on #8911
@frangio This issue https://github.com/ethereum/solidity/issues/8247 might be relevant.

[2020-06-10 16:51] agroce opened #9179 "ICE in solidity::frontend::SMTEncoder::tupleAssignment(const solidity::frontend::Expression &, const solidity::frontend::Expression &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.  I threw ALL the .sol files under libsolidity into the corpus, so it's effectively fuzzing the SMTChecker and such now, also, I expect this will turn up some things.

## Environment

- Compiler version:  0.6.10-deve

[2020-06-10 16:52] agroce commented on #9179
Pretty clearly a variant of the same problem as in https://github.com/ethereum/solidity/issues/8971

[2020-06-10 18:06] alcuadrado commented on #3168
Thanks, @chriseth !

I tested it on Catalina and High Sierra, and it works.

The name`solc-macos` makes sense.

[2020-06-10 19:59] petejkim opened #9181 "Using library functions (using for) attached to storage pointer passed as an argument fails to compile (0.6.9 Regression)"
## Description

Using library functions attached to storage pointer that is passed as an argument causes compilation failure in 0.6.9. Worked perfectly in 0.6.8.

## Environment

- Compiler version: 0.6.9

## Steps to Reproduce

The following example works in 0.6.8, but fails to compile in 0.6.9.

[code]
[EnumerableSet.sol](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contrac

[2020-06-10 20:03] petejkim commented on #9172
Possibly related: https://github.com/ethereum/solidity/issues/9181

[2020-06-10 20:21] cameel commented on #9169
In Python name clashes like this are solved by having a special naming convention for built-in properties:
[code]
A bit ugly but when you get used to it, it's really apparent that this is not a user-defined field.

[2020-06-11 05:31] bshastry commented on #8382
A smaller test input for this issue

[code]

[2020-06-11 05:47] haltman-at commented on #8917
Since this is finally being done for calldata pointers, how about something similar for external function pointers, with `address` and `selector`?  (Like I suggested earlier. :) ) That being the one other type that takes up two stack slots!

[2020-06-11 06:24] gitpusha opened #9182 "Unexpected values from abi.decode calldata bytes"
## Description

I get some unexpected values from `abi.decode(bytes calldata, (address,uint256))`.

Well maybe I should expect them and I just don't know. Maybe it has to do with the fact that `abi.decode` only works with abi encoded formats and `calldata` `bytes` are not in such format.

[code]

This seems to only affect the second `bytes calldata _inFlowData` param and not the first `bytes calld

[2020-06-11 07:35] chriseth commented on #9182
Thanks for opening this issue! Just to clarify: Does it work by changing the second function parameter from `calldata` to `bytes`?

My current suspicion is that the encoded calldata is wrong. If you say that first decoding it into `bytes` makes it work, this means that there is another "layer of indirection" inside the data - `abi.decode(_contractEmitsData, (bytes))` is not the same as `bytes memo

[2020-06-11 07:41] #9174 closed, assigned to ekpyron

[2020-06-11 07:41] gitpusha commented on #9182
I just edited the original comment a bit for more clarity and a closer assimilation to our actual data flow in the Dapp (using the delegatecall Batcher proxy).

[2020-06-11 07:49] gitpusha commented on #9182
Do you mean from `calldata` to `memory` ? (or is the definition of `bytes calldata == calldata` and `bytes memory == bytes` ? )

If so. I just tested. It does not work for

[code]

Result: Same unexpected output.

Yes, I assume this has to do with the fact that `Batcher` gets the `emittedData` as `bytes memory`  and then uses this data to call `ConsumesData.foo` which takes `bytes calldata` ?

Act

[2020-06-11 07:51] shanefontaine commented on #4630
@axic is there reasoning behind this decision?

[2020-06-11 08:22] chriseth commented on #9182
Ok, I think the problem lies in the fact that you return a `bytes` variable from a function that is low-level called. The return value of that low-level call is of type `bytes`, but this is encoded once, so you have to use `abi.decode` to get the original `bytes` value.

I think you can fix it by changing `emitData` to directly return `(uint, address)` instead of abi-encoding these two values.

[2020-06-11 08:27] chriseth commented on #8917
@haltman-at you can access these slots via solidity, so I don't think there is a need to add them to inline assembly.

[2020-06-11 08:37] gitpusha commented on #9182
Ok, thanks for the explanation.

I will try, but there is one problem I see already. The actual functions we use that emit data `override` an interface and to be standardisable that interface always `returns (bytes memory)`.
So I am getting a `Overriding function return types differ` if I will try to return `(uint, address)`

[2020-06-11 08:41] chriseth commented on #9182
If you cannot change the signature,then you have to run `abi.decode` one more time.

[2020-06-11 08:42] chriseth commented on #9181
Shortened affected code:
[code]

[2020-06-11 08:49] gitpusha commented on #9182
This worked!

But yes, I cannot change the sig. So I'll have to resort to decoding the original `bytes` value first, before decoding the values encoded therein:

[code]

But that works ok, so all fine!

Thanks for helping out and clarifying what format to expect from such a data flow that involves low-level delegatecall returndata.

Actually, this makes total sense to me. I just got confused here

[2020-06-11 09:28] gitpusha commented on #9182
Actually my final solution that works like a charm on all the contracts is just something like this on our delegatecall batcher contract:

[code]

So basically I already `decode` on the Batcher contract, so that all Contracts that consume the data from a previous contract that emitted it, already get the originally emitted `bytes` value and don't have to each `abi.decode` themselves. This is done

[2020-06-11 11:06] #9182 closed, assigned to nobody

[2020-06-11 11:27] hrkrshnn commented on #7867
Can you link the bug?

[2020-06-11 11:31] #9172 closed, assigned to chriseth

[2020-06-11 11:46] chriseth commented on #7867
Not sure if the bug had an issue number. Do you have a question about that?

[2020-06-11 12:00] #9181 closed, assigned to nobody

[2020-06-11 14:25] #4614 closed, assigned to nobody

[2020-06-11 14:30] #4116 closed, assigned to nobody

[2020-06-11 14:33] chriseth commented on #2576
Closing as duplicate of #628

[2020-06-11 14:33] #2576 closed, assigned to nobody

[2020-06-11 15:09] hrkrshnn commented on #7867
Maybe a related question, why is the instruction `Instruction::KECCAK256` considered non-movable?

[2020-06-11 15:25] haltman-at commented on #8917
Yes, that's read-only though.  Or were these calldata slots going to be read-only as well?

[2020-06-11 16:28] chriseth commented on #7867
because it reads from memory

[2020-06-11 16:30] chriseth commented on #8917
Ah ok, that of course makes sense! You can do a lot of harm with that, though, since the selector should be tied to the type...

[2020-06-11 16:43] haltman-at commented on #8917
I mean, of course it's dangerous, but I thought that's the point of assembly. :)

[2020-06-11 16:55] chriseth commented on #8911
I think we should also not inherit the documentation if one of the parameters or return parameters are named differently than in the base function.

[2020-06-11 20:40] petejkim commented on #9181
@chriseth Thanks for fixing this so quickly!

[2020-06-11 21:49] chriseth commented on #9181
Regressions are always annoying! Thanks for reporting!

[2020-06-11 22:25] chriseth commented on #8690
I think this is mostly about geth upgrading web3.js, so I'm closing it.

[2020-06-11 22:25] #8690 closed, assigned to nobody

[2020-06-11 22:31] chriseth commented on #9147
The "stack too deep" error means that you have too many local variables (including parameters). The general recommendation is to use a struct instead of multiple function parameters. I know this is not ideal and the error message could be better.

I'm closing this since we already have other issues about the same problem.

[2020-06-11 22:31] #9147 closed, assigned to nobody

[2020-06-11 22:34] chriseth commented on #9170
invalid opcode if the byte array is too short?

[2020-06-11 22:58] alcuadrado commented on #9133
I think I can reply to this myself now:

1. These unmapped instructions are right before the part of the bytecode that returns the runtime bytecode. Like that part, they would have been mapped to the entire constructor.
2. This somewhat reduces the impact of the issue, because it's safe to assume that any unmapped instruction would have the same sourcemap as the latest mapped one.

Can someone con

[2020-06-11 23:56] alcuadrado commented on #9133
Also, if this is correct, I think a workaround to figure out how many instructions there are is to initially decode as many instructions as the number of source maps. Then continue decoding until you see a `0xfe`/`Invalid Opcode`.

Would this work? Can I be sure that no `0xfe` is emitted in that last unmapped part of the deployment bytecode?

[2020-06-12 01:45] interfect commented on #9139
I'm having the same problem with headings marked off by runs of slashes. The compiler mistakes them for doc comments. Here's an example:

[code]

This is raising a warning something like this:

[code]

Do I really have to go through my codebase and redo all my section headings to stop the compiler throwing errors when 0.7 comes out (and a bunch of warnings now)?

[2020-06-12 02:54] ralexstokes commented on #8883
i was not able to get this working either (after spending some time wrangling header inclusion paths) but i was able to build from source (ref: https://solidity.readthedocs.io/en/v0.6.10/installing-solidity.html)

[2020-06-12 03:02] ralexstokes opened #9194 "Docs should be updated to build `Release` compiler by default"
## Description

When attempting to build the compiler from source, I follow the instructions, e.g, here: https://solidity.readthedocs.io/en/v0.6.10/installing-solidity.html#command-line-build

[code]

It turns out this misses a step that _does_ happen in the next direction given:

[code]

which is to set the build type as `Release` (instead of `Prerelease`).

It would be nice if the docs above wer

[2020-06-12 03:05] xiaods commented on #8883
@ralexstokes thanks a lot.

[2020-06-12 03:05] #8883 closed, assigned to nobody

[2020-06-12 08:12] chriseth commented on #8883
You can also try to use the binary from the release: page https://github.com/ethereum/solidity/releases/tag/v0.6.10

[2020-06-12 08:16] chriseth commented on #9133
You are right, the `AssignImmutable` section should be after any user-generated code and before the runtime bytecode is returned. Tracking `0xfe` should be reasonably safe.

[2020-06-12 09:39] bshastry opened #9196 "[codegen] ICE because "memory offset of unknown immutable queried""
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/21a9d3dd21ec0bb31fffb0daa0de902e274d7850/libsolidity/codegen/CompilerContext.cpp#L86

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-06-12 09:53] bshastry commented on #9196
At first glance, it looks like the map `m_immutableVariables` (in class `CompilerContext) which is supposed to hold memory offsets for immutable variables
  - registers an entry for the immutable variable offset post constructor visit
  - does not contain the offset before or at some point during function def visit and the assertion is thrown

Not sure at what point memory offset info is cleared a

[2020-06-12 11:12] a3d4 commented on #9139
@interfect Fix is coming (for both /*** and //// comments).

[2020-06-12 12:45] leonardoalt opened #9197 "[SMTChecker] Implement mod and div also with slack vars"
Cont. from https://github.com/ethereum/solidity/pull/9159

[2020-06-12 23:06] alcuadrado commented on #9133
Thanks for your confirmation Chris.

@iamdefinitelyahuman @nebojsa94 this is probably useful for you too.

[2020-06-13 01:11] drortirosh commented on #9147
The issue is not the "stack to deep": it's the error message: it should give the developer a clue where in the source tree to look for.
Without source file (and if possible, method it like number), it's very hard to find the cause and fix it.

[2020-06-13 12:41] agroce opened #9199 "ICE in auto solidity::frontend::TypeChecker::visit(const solidity::frontend::InlineAssembly &)::(anonymous class)::operator()(const yul::Identifier &, yul::IdentifierContext, bool) const [FixedPointType not implemented.]"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.  I threw ALL the .sol files under libsolidity into the corpus, so it's effectively fuzzing the SMTChecker and such now, also, I expect this will turn up some things.

## Environment

- Compiler version:  0.6.11-deve

[2020-06-15 06:21] hrkrshnn commented on #9199
We currently don't have proper error messages when fixed point variables are accessed. I think the ICE is okay here.

[2020-06-15 12:05] chriseth commented on #9147
@drortirosh Yes, that's what I meant with "error message could be better" - sorry for being sloppy.

[2020-06-15 12:18] chriseth commented on #8467
Outcome of community call:
 - slight preference towards checks by default, to be disabled via `unchecked { ... }`.
 - as a compromise between `invalid()` and `revert()` we could use a special error signature in `revert`.
 - `**` can only be used inside `unchecked { ... }` unless the types and constants do not allow any overflow
 - overflow checks on type conversions probably still need some invest

[2020-06-15 12:26] chriseth commented on #8281
@elenadimitrova what about an abstract contract that adds some functionality to an interface but not everything?

[2020-06-15 12:34] chriseth commented on #9117
I have a bad feeling allowing this. Unchecked overflow is a very different thing than unchecked array access. My hope is that the new optimizer will find most of these cases and remove the check.

[2020-06-15 12:40] chriseth commented on #8739
I still like @axic's suggestion most. Would we add it to `settings` or to the top level?

[2020-06-15 12:45] chriseth commented on #9169
This sounds good! I don't think we need a way to avoid conflicts, because identifiers that support such "sub-identifiers" cannot be used without them anyway.

[2020-06-15 12:48] Marenz commented on #8911
Regarding point 2, conflicting definitions. Is there mere presence of multiple bases enough to trigger this, or do they also need to have documentation?
e.g. when we have

[code]
Would we have a conflict already?

[2020-06-15 12:56] elenadimitrova commented on #8281
`abstract` contracts stay unchanged, without the need to override interface methods they implement. For instance:

[code]
What exactly bothers you there?

[2020-06-15 13:46] chriseth commented on #9194
Building directly from the git source code will result in a prerelease version unless special measures are taken. I would recommend to build not from git but using the .tar.gz that is linked on the release page.

[2020-06-15 14:20] #8922 closed, assigned to Marenz

[2020-06-15 14:26] chriseth commented on #8281
"we could enforce all interface methods are implemented in a contract" - we already do enforce that unless the contract is abstract.

[2020-06-15 14:54] #9199 closed, assigned to nobody

[2020-06-15 15:18] #8857 closed, assigned to bshastry

[2020-06-15 15:34] #9194 closed, assigned to nobody

[2020-06-15 19:39] cameel opened #9205 "[Yul -> Ewasm] Code generator produces infinite loops"
## Description
Yul->Wasm translation produces `for` loops that repeat the initialization code in every iteration. The effect is an infinite loop.

From Yul code like this:
[code]
we get wasm like this:
[code]
This is wrong because jumping to `loop_label` repeats the `<init>` block in each iteration.

## Environment
- Compiler version: `develop` (>= 0.6.10)

## Steps to Reproduce
- Check out `evmc-

[2020-06-16 09:04] bshastry opened #9207 "[solc] ICE due to immutable variable declaration referencing itself"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/b9c9535647f649cec72d966a23678745de6b2bb9/libsolidity/analysis/ImmutableValidator.cpp#L38

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

## Notes

- Since immutable declaration's value RHS (`z = 5`) is visited before LHS (`z`), the set of initialized state variables inside `ImmutableValida

[2020-06-16 09:15] #9139 closed, assigned to a3d4

[2020-06-16 13:38] mudgen commented on #2691
What is the status of being able to disable a warning from a line?

[2020-06-16 13:39] mudgen commented on #2691
I am getting the following warning that I need to suppress: "Return value of low-level calls not used."  How can I suppress this warning? I don't want to use the return value of the low level call.

[2020-06-16 13:40] chriseth commented on #2691
There is no such plan, sorry. The way to disable the warning is to not ignore the return value.

[2020-06-16 13:41] chriseth commented on #9205
I think the assumption here was that the "for loop init rewriter" was used before translation to wasm.

[2020-06-16 13:42] chriseth commented on #9205
But of course it would be cleaner to just introduce a new block or "pull out" the init part.

[2020-06-16 13:54] mudgen commented on #2691
Okay.  So I don't ignore the return value.  I assign it to a local variable.  Now solidity gives me this warning: "Unused local variable."   So now what I am I supposed to do? I have no need of this variable at all.  Do I do some useless thing with it just to get rid of the warning? Any suggestions?

[2020-06-16 13:57] mudgen commented on #2691
Here is my code to get rid of the warning:
[code]

[2020-06-16 13:59] chriseth commented on #2691
[code]
would be another way.

[2020-06-16 14:00] chriseth commented on #2691
You can also use
[code]

[2020-06-16 14:01] mudgen commented on #2691
ah, these are better.  Much appreciated!

I like using try, catch to avoid low level calls.   Is there a gas difference?

[2020-06-16 16:01] bshastry opened #9210 "[Testing] Add semantic testing framework for testing imports from multiple files"
## Abstract

[ ] Add support for parsing multiple files and expectations
[ ] https://github.com/ethereum/solidity/issues/9216 tracks support for tests making use of this feature

[2020-06-16 16:38] chriseth opened #9211 "Extend "using for""
This is a proposal to extend the "using for" directive in the following ways:

 - allow it at file level to be valid for all contracts and functions in that file
 - allow its first argument to be a free function
 - allow its first argument to be an imported module
 - allow its first argument to be `*`

The semantics are as follows:

The directive `using * for ...` matches all free functions in the

[2020-06-16 17:04] GNSPS commented on #8482
🙌  Will do! Thank you, @axic! 😊

[2020-06-16 17:11] chriseth commented on #9210
The semantic testing framework should support multiple files in the same way the syntax testing framework does.

[2020-06-16 22:30] forshtat commented on #6927
Hey @chriseth @nventuro
I have missed on the conversation but recently attempted to use try/catch in the GSN RelayHub and found it not useful because of the decision made here about decoding errors.

In our case, target contracts are a user input, and also it is critical for the code to be confident this external call can not revert.

Is there a way to receive a return value from the target and ha

[2020-06-17 01:10] aarlt opened #9213 "[docker] Automated build of docker images."
On Docker Hub automated builds can be triggered by commits on a specific branch, or if a tag was created. Build rules can be used to configure how to build the sources into docker images.

Maybe we could use the tagging mechanism to trigger the automated builds. We could define that tags beginning with `docker-*` will automatically trigger the docker image generation (using the Dockerfiles defined

[2020-06-17 03:33] juanfranblanco commented on #8482
Question, will it be possible to have a grammar published in solc-bin (or is it the plan?) for each version of solidity released? This way tooling can load specific grammar associated with the current solidity version. @axic

[2020-06-17 08:54] bshastry opened #9216 "[Testing] Add semantic tests for imports from multiple files"
## Abstract

## Motivation

## Specification

## Backwards Compatibility

[2020-06-17 09:42] bshastry commented on #8817
Reopening because of the following regression (that throws the same ICE but possibly because of another reason. Please let me know if this is indeed different and merits a separate (new) issue.

[code]

[2020-06-17 10:01] bshastry opened #9217 "[using...for] std::bad_cast exception because user defined type is mistaken for a library"
## Description

[code]

throws

`std::bad_cast` here

https://github.com/ethereum/solidity/blob/8d3c2ba6d9c911943d65e0e69300bb9428aafa11/libsolidity/ast/Types.cpp#L389-L391

because the referenced declaration is actually a `struct` not a `contractdefinition`

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-06-17 10:04] bshastry commented on #9217
Funnily enough member access `x.d` is needed to trigger the bad cast. A more meaningful example is when the struct actually contains a member called `d` but this is not strictly required to trigger the exception.

[2020-06-17 10:40] chriseth commented on #9217
I just touched that piece of code in a PR and will take a look.

[2020-06-17 12:38] chriseth commented on #8992
Design call: force contract to be abstract if the constructor uses internal types.

[2020-06-17 12:50] chriseth commented on #9211
Restrict proposal to:
 - allow using for at file level
 - only allow the name of a module where currently a library is allowed

[2020-06-17 13:29] chriseth commented on #9169
Discussion: Just use `.slot` and `.offset` (and similar for calldata)

[2020-06-17 13:29] chriseth commented on #7646
Discussion: Disallow dots in user-defined identifiers in solidity inline assembly (but not in yul in general).

[2020-06-17 13:32] axic commented on #4024
Could we make one exception and evaluate `keccak256(string)`? That is used in quite a few contracts.

[2020-06-17 13:35] chriseth commented on #4024
This could be a good exception. I would propose to put the value in the annotation object of the constant as opposed to fully supporting this in the type system as we do for constants.

[2020-06-17 14:24] ouerum opened #9219 "How does block deduplication work in the compiler?"
Hello, I wonder how to block deduplication work in the compiler, and where you get the idea to implement block deduplication optimization to reduce the code size of a smart contract. It is hard for me to find papers or blogs about this optimization technique. Thanks for your comments.

[2020-06-17 14:35] axic commented on #7646
I would also suggest to ensure we disallow dots followed by dots, e.g. `i64.....add`

[2020-06-17 14:37] axic opened #9220 "Add SPDX license identifier to the compiler source code"
Since we advocate for this in Solidity programs, we should bite the bullet and also include it in all the compiler source code 🙊

[2020-06-17 14:39] axic opened #9222 "Rewrite Yul grammar in ANTLR"
And have it also tested like Solidity's.

Should also consider merging the grammar for Yul and "Yul Objects".

Closes #4622.

[2020-06-17 14:46] franzihei commented on #8739
Hey everyone! We, the Solidity team, would like to discuss this topic in a little language design discussion call with you next week to come to a conclusion about the implementation.

## When?
Thursday, 25th of June, 5-6PM CEST (see [time in your timezone here](https://savvytime.com/converter/germany-berlin-to-ny-new-york-city-ca-san-francisco-singapore-singapore))

## What?
Discuss issue #8739 -

[2020-06-17 15:18] samczsun opened #9223 "Incorrect source mapping for Yul variable assignment"
## Description

The following contract, when compiled with `solc --ast-compact-json`, produces an incorrect source mapping for the `YulVariableAssignment` node:

[code]

With unix line endings, solc reports the src of the assignment node to be `74:8:0` which corresponds to `b := f()`. It should probably be `71:11:0`.

## Environment

- Compiler version: `0.6.10+commit.00c0fcaf.Linux.g++`
- Target

[2020-06-17 15:51] cameel commented on #9213
Why not do this for the `v<VERSION>` tags? Do we want these images to be built more often than the stable releases?

[2020-06-17 15:54] chriseth commented on #9219
The Solidity compiler implements deduplication. It is quite easy: So you basically go through all the pairs of jumpdests and compare the code starting from there. If you find two pairs that compare equal, you exchange all references to labels for one of the jumpdest by the other jumpdest. Then you repeat.

You can of course also keep track of jumpdests that are supposed to be equal while you do th

[2020-06-17 15:54] #9219 closed, assigned to nobody

[2020-06-17 16:07] chriseth commented on #9222
It is part of the Solidity antlr grammar - can we somehow reuse it?

[2020-06-17 16:11] axic commented on #9222
I just looked at it, but don't think so. Also the Solidity one is very liberal (supports jump labels) as it tries to parse really old sources too.

I have moved the grammar from `yul.rst` and used the low level stuff from `Solidity.g4`.

[2020-06-17 16:38] cameel commented on #9211
I wanted to address one point from today's call: while doing `using x for y` separately for every function might be a bit verbose I think it does have some advantages over binding all functions from a module wholesale.

This is very similar to imports in Python where importing every name separately is in fact the recommended style. So this:
[code]
is recommended over this:
[code]
[Wildcard imports

[2020-06-17 17:13] aarlt commented on #9213
@cameel The thing is that we may need to change the docker images before a release, to e.g. add some fancy testing to `develop` and probably the docker images stay the same over many solidity releases.

Right now I think that the cleanest solution is to extract the Dockerfiles (`.circleci/docker`) from the solidity repository and create a new repository e.g. `solidity-buildpack-deps` and configure

[2020-06-17 17:39] cameel commented on #9213
How about tagging release candidate versions? Something like `0.6.10.rc1`. We could also mark them as pre-relases on github's "Releases" page so they would not be confusing to users. Without release notes they would also not take as much space on the page as stable releases.

I think it's nice to at least create a new docker tag even if the image itself is the same. If I were a user and saw a dock

[2020-06-17 17:39] chriseth commented on #9213
Indeed, this is fully decoupled from solidity compiler releases. I just created solidity-buildpack-deps.

[2020-06-17 17:41] chriseth commented on #9213
We are currently just incrementing a counter for the docker image names. I think we should stick to that scheme and should not correlate it with the Solidity version - I don't think we should trigger the creation of a new docker image just because we released solidity.

[2020-06-17 17:44] cameel commented on #9213
Oh, then it's even simpler than I thought. Many projects include version in tags on dockerhub. I thought Solidity had them too.

[2020-06-17 17:45] chriseth commented on #9211
@cameel this is actually a valid point - I also very much like it if you can see where each item was defined or imported. Since `using M for uint[]` is very similar to the syntax for libraries, I would still keep it. What syntax for attaching specific functions would you propose?

`using {M.f, M.g} for uint[]`?

[2020-06-17 17:58] cameel commented on #9211
Wouldn't `using M.f, M.g for uint[]` just work? Or does this need to be analyzed before imports are resolved when we can't yet tell if `M.f` is a function or a library or something else?

Braces are good too. They would allow doing this, which some people might like when the list gets long and needs to get wrapped:
[code]

[2020-06-17 18:02] cameel commented on #9211
Alternatively, this would work too:

[code]
This is similar to braces work with shell expansion in Bash so it might seem familiar to some people.

[2020-06-17 18:02] chriseth commented on #9213
Note that this is about docker images that provide the build environment, not the docker images that contain the final solidity compiler.

[2020-06-17 18:08] alcuadrado opened #9226 "Adding solc binaries to solc-bin"
I'm creating this issue to discuss/track adding Windows, Linux, and MacOS binaries of `solc` to [`solc-bin`](https://github.com/ethereum/solc-bin).

We've already talked about this in multiple places, but there was no issue to keep track of its progress. The closes thing was #3168, but that's ready so that issue is no longer relevant.

## Abstract & Motivation

The reasons to do this are:

1. It c

[2020-06-17 18:08] chriseth commented on #6927
Thanks for your feedback, @forshtat !

Can you provide some code that uses try/catch and explain how you would like it to behave?

"Code that would do the job for us" - I don't see how this is different from the behaviour of try/catch. `abi.decode` also reverts for invalidly encoded data in the same way as a `try f() returns (bool success) { ... }` would.

[2020-06-17 18:09] cameel commented on #9213
Rgiht. Thanks for pointing that out. From the original description I somehow thought we were talking about images with the compiler.

[2020-06-17 18:09] chriseth commented on #8482
The current grammar is very lax and also matches older versions on purpose. Would you prefer a stricter, version-specific grammar?

[2020-06-17 18:13] chriseth commented on #9226
It turns out that in the meantime, we hit the size limit of github-pages, so we need to find a new solution on where to put released binaries anyway. It is a good idea to combine different architectures.

Maybe to clarify this a bit more: This repository would contain statically-linked binaries that are as portable as possible. Distributing other binaries should be done through the respective pack

[2020-06-17 18:13] cameel commented on #9211
Yeah, I'm for having that form too. Even in Python both ways to import are available and preference for one or the other is just a convention, not something forced upon you by the language.

[2020-06-17 18:53] iamdefinitelyahuman commented on #9226
Very excited about this!

With [`py-solc-x`](https://github.com/iamdefinitelyahuman/py-solc-x) I'm pulling the binaries from Github, and can confirm that it creates a headache when used in the CI.  Without an access token it almost always fails from rate limiting.  Having binaries served elsewhere will be a huge help to me.

Re OSX: I wrote a [wiki article](https://github.com/iamdefinitelyahuman/p

[2020-06-17 19:23] nventuro commented on #6927
@chriseth is it possible to use `try` without the `returns` part to avoid any decoding of the returned data, but still somehow access it inside the 'success' block (and e.g. decode conditionally based on its size).

[2020-06-18 01:56] dipanjan commented on #86
I am facing the same issue as @simondlr while building `solidity-v0.3.5`. Any help would be appreciated.

[2020-06-18 05:52] juanfranblanco commented on #8482
@chriseth I see your point and I guess to start with might be the best approach, but looking at the issues that prettier solidity and solhint have been having with specific rules (override, etc) with new / old releases, or just simple autocomplete (key words), refactoring etc. It might be good to have different grammars in the future, which ideally can be loaded on the fly depending of the compile

[2020-06-18 11:00] chriseth commented on #6927
[code]

[2020-06-18 11:36] #9217 closed, assigned to chriseth

[2020-06-18 13:54] #9223 closed, assigned to chriseth

[2020-06-18 14:52] cameel opened #9229 "ICE when referring to a library via a module name"
##  Description
The compiler allows importing a Solidity module from within itself. If you do this and try to refer to a library by qualifying it with the name of the module, `StackHeightChecker::check()` fails which results in an internal compiler error.

## Environment
- Compiler version: `develop` (>= 0.6.10)

## Steps to Reproduce
`a.sol`:
[code]

Result:
[code]
Interestingly the error goes aw

[2020-06-18 15:11] cameel opened #9231 "Struct member names can shadow type names within the struct"
##  Description
The compiler allows struct members to have the same name as an existing struct, enum and contract type. This can cause some inconsistent behavior.

For example, this works perfectly fine (using enum as a member type):
[code]

But this works too (using enum as a member name):
[code]

On the other hand, you can't do this (using both at the same time):
[code]
[code]
The error indicate

[2020-06-18 15:24] drortirosh opened #9232 ""constants" expressions are expressions, not constants."
Constant expressions are left as expressions, not constants.
## Description

a constant declared  as:
[code]
Is re-calculated each time it is in use.

### expected
the value should be converted into a constant value at compile time.

###a ctual
The expression is re-calculated each time the constant is referenced.

### consequences:
- each usage of a "constant" costs ~100gas more on each access (it

[2020-06-18 16:10] chriseth commented on #9232
Duplicate of #4024  / #3157

[2020-06-18 16:10] #9232 closed, assigned to nobody

[2020-06-18 16:11] chriseth commented on #9232
Ah and by the way: You could use `immutable`s until the referenced issues are implemented, then you only pay the gas costs for the computation at deploy time.

[2020-06-18 17:34] bshastry opened #9233 "[SMTChecker] ICE because "lComponents.size() != rComponents.size()""
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/b1d22ab2c8de9d5cecf05ec169b2414d1bfa4538/libsolidity/formal/SMTEncoder.cpp#L1460

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-06-18 18:36] bshastry opened #9234 "[SMTChecker] ICE because "*arraySort->range != *_element.sort" in multi source test case"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/b1d22ab2c8de9d5cecf05ec169b2414d1bfa4538/libsmtutil/SolverInterface.h#L151

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-06-18 18:45] bshastry commented on #9234
Here's a single file test case that throws the same ICE (file must be named `test.sol`)

[code]

that may be reproduced via

[code]

[2020-06-18 20:38] fzeoli commented on #3168
@chriseth next step for this is to get the binaries built for all the previous versions and published in https://solc-bin.ethereum.org/, that's when we can get tools to use it. Is there anything we can do to help do this?

[2020-06-19 11:19] makoto commented on #8281
Am I correct to understand that I have to do `virtual override` if I am using both Interface and Abstract like below?

[code]

I was currently trying to upgrade my smartcontract but I end up adding `override` into all functions in the abstract which personally feels like defeating the benefit of having `virtual` and `override` to begin with

[2020-06-19 11:47] bshastry commented on #9234
Here is an even more trimmed test case that throws the same ICE. Looks like imports were redundant but somehow the fuzzer found it through an import but not otherwise.

[code]

[2020-06-19 16:15] alcuadrado opened #9237 "Incorporating devtools' tests suites as part of the integration tests"
Hi,

I'm creating this issue to propose incorporating parts of the different devtools' test suites as integration tests for solc. We believe this would make the devtools ecosystem much more stable.

Here's the rationale behind this idea.

The current situation has multiple problems:

- Small changes in the compilation output break the devtools without any previous notice
    - This is due to chang

[2020-06-19 20:05] robinbryce commented on #8281
All of the arguments in favour of override seem to miss the point of ineheritance all together. They are based on largely synthetic examples. And those examples really only illustrate well understood   'gotchas' with Inheritance in general. Really if there is a compeling case for override then inheritance is too dangerous to have in the language all together (somewhat toungue in cheek).

Developer

[2020-06-19 20:21] nventuro commented on #8281
This is IMO the key issue: `override` becomes meaningless when all functions have it, instead of being an attribute that makes you pay attention and think about the implications of overriding the base definition.

[2020-06-21 02:30] agroce opened #9242 "ICE in solidity::frontend::CompilerUtils::rotateStackUp(unsigned int) [Stack too deep, try removing local variables.]"
## Description

This contract:
[code]

produces:

[code]
when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.  I threw ALL the .sol files under libsolidity into the corpus, so it's effectively fuzzing the SMTChecker and such now, also, I expect this will turn up some things.

Probably not a bug -- that's a bunch of parameter

[2020-06-22 08:35] bshastry commented on #9021
Reopening because the following new fuzzer test case throws the same ICE

[code]

[2020-06-22 09:16] chriseth commented on #9237
While I agree that we should add external projects' test suites to our CI - we already do that with several smart contracts - I think we should also work on removing the heuristics and replacing them by real debugging data.

As an example, the issue about the source maps you referenced: Especially with activated optimizer we can never guarantee that source maps are fine-grained enough. As soon as

[2020-06-22 09:44] franzihei commented on #6516
Created a doc here. Please review @axic @chriseth --> https://hackmd.io/@franzihei/ryJRP10aL.
If you're ok with it I'll add it to the docs as a section in the `Additional Material` section somewhere here:

![image](https://user-images.githubusercontent.com/41991517/85273299-afb4e100-b47d-11ea-98b6-6fcc961c0394.png)

[2020-06-22 11:14] axic commented on #6516
I think it makes sense, could call the section "Brand Guide" and place it below "Contribute" ?

[2020-06-22 12:00] Marenz commented on #3418
@axic I am not sure why you reopened this, isn't this fixed by #8532

[2020-06-22 12:00] #3418 closed, assigned to aarlt

[2020-06-22 12:14] chriseth commented on #9242
This is just a regular "stack too deep" error.

[2020-06-22 12:14] #9242 closed, assigned to nobody

[2020-06-22 12:27] chriseth commented on #6449
Summary of the linked discussion:

Implement unused function parameter removal as follows:

If a parameter is unused like in

[code]

Then remove the parameter and create a new "linking" function as follows:

[code]
and replace all references to `f` by `f2`.

Subsequent steps should make sure that `f2` is inlined, which AFAIK is the case unless we have recursion.

The reason we do not convert `f`

[2020-06-22 12:56] chriseth commented on #3168
We need an architecture about how to organize and publish the binaries. github pages is not a solution because it does not scale to our needs. One problem we encountered was that some ways to host the binaries does not provide the correct mime type for the solcjs binaries.

[2020-06-22 13:01] chriseth commented on #6516
The document mentions "cc-by" - is it clear how to properly attribute if you use the logo?

[2020-06-22 13:26] chriseth commented on #8281
@makoto is your intention that `Bar::bar1` is a complete "default" implementation of the interface that returns zero? if not, why do you not leave it out?

[2020-06-22 13:40] agroce commented on #9242
@chriseth Should I just completely ignore all Stack Too Deep ICEs, in any location?

[2020-06-22 13:50] chriseth commented on #9242
Yes, I think that would be more useful.

[2020-06-22 14:49] chriseth commented on #8803
@frangio the problem is that the constructor code is deeply coupled with the code deposit routine. Maybe you could try if you can easily extract the required code from `--ir`?

[2020-06-22 15:23] franzihei commented on #6516
Good question @chriseth. Maybe we don't even need attribution...? If yes, I'll think about a way how attribution could work.

[2020-06-22 16:44] fzeoli commented on #9237
As Patricio wrote, tools must support every version of the compiler forever, so unless you mean going back into each compiler version and introducing debugging symbols to each without modifying the compiler's output, the heuristics can't really be replaced. Do you mean to release minor updates for each of the old compilers with additional data?

And I think the point here wasn't to discuss the spe

[2020-06-22 16:52] chriseth commented on #9237
I don't understand how this is related to older solidity compilers. We cannot modify older compilers but adding external tests to the repo will also not help with older compilers.

I mainly explained the issue about the source maps to exemplify that such a failing test with a dev tool does not necessarily mean that we cannot merge the change, but it means that either the heuristic has to be change

[2020-06-22 20:34] fzeoli commented on #9237
Solidity 0.6.3 changed the way source maps work for reverts without messages. Tools like Buidler and Brownie use these source maps to show stack traces to users. When the output of the compiler changed in 0.6.3, Buidler and Brownie need to keep doing everything they were doing before 0.6.3, but in case the compiler being used is 0.6.3 do things differently, and then if the compiler is 0.6.9 also d

[2020-06-23 10:08] chriseth opened #9248 "Add (and require) keyword for the default state mutability of functions"
Proposals:
 - mutating
 - mutable
 - mutator
 - mut
 - impure
 - write
 - touch
 - default
 - nonpayable
 - unrestricted
 - `!`

Reason for requiring the keyword:
 - it is easier to see at a glance what the state mutability of the function is and it is possible to search for it

cc @MicahZoltu

[2020-06-23 10:10] chriseth commented on #8188
The community feedback form showed a preference for removing inheritance for "using for", so we could include that in the 0.7.0 release.

[2020-06-23 10:29] hrkrshnn commented on #9248
"mutable" might be more appropriate than "mutating". Looks more appropriate in a sentence. The function `foo` is mutating v/s The function `foo` is mutable.

[2020-06-23 10:30] chriseth commented on #9248
@hrkrshnn I think I disagree - the function is mutating the contract's state, it is not that the function itself is modified.

[2020-06-23 10:44] hrkrshnn commented on #9248
@chriseth I think 'mutating' doesn't fit with the existing tags: pure, view, payable. It would fit better if it was 'viewing' instead of 'view'.

 Maybe 'mutable' isn't a good replacement, since it has a different meaning in other languages.

[2020-06-23 11:12] MicahZoltu commented on #9248
It would be nice if the form of the word was of similar form with `pure`/`view`/`payable`.  `mutable` does seem to align better with `payable`.  I'm not actually sure how to use any in a sentence though without leaning on my existing understanding of their definitions!

[2020-06-23 11:22] Amxx opened #9249 "Derived interface must overide"
Here is a minimal example to reproduce the behaviour I'm strugling with:

    pragma solidity ^0.6.0;

    interface IA {
        receive() external payable;
    }
    interface IB {
        receive() external payable;
    }
    interface IAB is IA, IB
    {}

What happens:
---

Compilation Error: `TypeError: Derived contract must override function "". Two or more base classes define function with

[2020-06-23 12:15] chriseth commented on #9248
We could also use `mut`...

[2020-06-23 12:26] MicahZoltu commented on #9248
Ugh, while I can appreciate that it would resolve the requirements I mentioned (something that can be searched for and is immediately visible), I have a pretty strong disdain for abbreviations in code.  😖

[2020-06-23 12:29] #9205 closed, assigned to aarlt

[2020-06-23 13:29] hrkrshnn commented on #9248
Another suggestion: **impure**.

[2020-06-23 13:40] MicahZoltu commented on #9248
`write`?  `touch`?

[2020-06-23 14:21] bshastry opened #9250 "[Testing] Refactor syntax/semantic testing framework with regard debugging"
## Abstract

The syntax and semantic test classes both derive from `TestCase` but implement `printSource` differently even though this is not necessary especially since #9210 enables multi source semantic tests (previously only single source semantic tests were possible).

This issue tracks support for refactoring `printSource` and possibly helper functions such that syntax and semantic test class

[2020-06-23 15:28] chriseth commented on #9249
You can override a function without providing an implementation:
[code]

[2020-06-23 15:28] #9249 closed, assigned to nobody

[2020-06-23 15:29] chriseth commented on #9249
The reason why the compiler requires you to provide this explicit override is that it wants the developer of an interface to state that the two potentially different functions with the same name and signature coming from the two bases are actually the same thing conceptually and not just named equally.

[2020-06-23 16:14] #9210 closed, assigned to bshastry

[2020-06-23 16:20] cameel commented on #9248
Another option: in Ruby names can contain characters like `!` and `?` and the convention for methods that modify the state of the object is to add `!` to the name: `C.append! x `.
`?` is used for methods that return boolean values (e.g `empty?`). The convention originally comes from Scheme.

We could also require the object to be an explicit parameter: `C.append(this, x)` or `C.append(self, x)`. T

[2020-06-23 16:22] chriseth commented on #5161
I think https://github.com/ethereum/solidity/pull/9029 can be considered to fix this.

[2020-06-23 16:22] #5161 closed, assigned to nobody

[2020-06-24 09:50] Marenz opened #9256 "Allow all unit denominations as identifiers"
https://github.com/ethereum/solidity/pull/9230 made me think it would make sense (and make the code more consistent) if we'd allow all unit denominations to be also used as identifiers, as we did with gwei in that PR.

[2020-06-24 10:10] chriseth commented on #9256
I think that unit denominations should be keywords to avoid confusion. The reason we allowed gwei is to be able to get it in as a non-braking change. We should make it a keyword starting from 0.7.0

[2020-06-24 10:22] Marenz commented on #9256
Fair enough. Maybe we should make a deprecated warning in that case for gwei as variable name

[2020-06-24 11:35] chriseth commented on #1687
Unfortunately, this turned out to be too complicated because of structs in interfaces.

[2020-06-24 11:35] #1687 closed, assigned to christianparpart

[2020-06-24 11:38] chriseth commented on #8739
During the call we would like to know:
 - what the participants would use the feature for
 - what exactly is needed as output
 - if other stages to stop compilation would be useful

[2020-06-24 11:41] chriseth commented on #8354
The main problem with forcing an order to me is that it is still unclear if that order would be "base to derived" or "derived to base".

[2020-06-24 12:25] #9256 closed, assigned to nobody

[2020-06-24 12:26] christianparpart commented on #9256
Conclusion:

reduce ambiguity of keywords that can *also* be identifiers (to be merged into next breaking release)

[2020-06-24 12:28] chriseth commented on #8188
Accepted in design call.

[2020-06-24 12:31] chriseth commented on #9248
Idea that came up in the design meeting: make the default `pure` and add a new keyword for the previously default behaviour

[2020-06-24 12:47] chriseth commented on #1290
Design call: moving it into the icebox because there seems to be not too much interest. We may allow constants at file level in the future instead.

[2020-06-24 13:37] cameel commented on #8354
@chriseth Why do we require specifying all the bases? I think the purpose of this feature is to make sure user knows which function gets overridden. Just specifying the base contract containing that function seems enough to achieve that goal. So it could work like this:

[code]

[code]

[2020-06-24 13:56] cameel commented on #8354
~If we do want to keep the requirement to specify all the bases we could also make the order clear by requiring the user to mark the most derived one - since that's the only one whose placement could theoretically matter (unless the user expects to be able to reorder all the bases in the inheritance chain with `override()` but that would be ridiculous).~

~Some syntax ideas:~
[code]
[code]
[code]

[2020-06-24 14:19] Marenz commented on #8085
I've started work on memory struct creation

[2020-06-24 16:52] cameel commented on #8354
Okay, so the reason why we want the user to see all the bases is the diamond inheritance. My idea would work fine for the example listed in the description of this issue but the case we're worried about is `A is B, C` + `C is E` + `D is E`. If we only list `override(B)` when defining `A.foo()`, user might not be aware that when there is a diamond in the hierarchy, `C.foo()` will get called as well

[2020-06-24 19:00] apguerrera commented on #8354
If the contract order is arbitrary, it shouldn't need to be specified.

// Good.
contract OneAndTwo is One, Two { function foo() public override { super.foo(); } }
contract TwoAndOne is Two, One { function foo() public override { super.foo(); } }

[2020-06-24 22:14] dOrgJelli commented on #4637
Does anyone know if an EVM opcode has been proposed to white-list or black-list sections of the executing contract's storage? This would allow (for example) a proxy contract to freeze a struct before loading & running a logic contract.

[2020-06-25 10:40] chriseth commented on #9237
@fzeoli @alcuadrado I suspect some misunderstanding in this issue, so I would propose to add additional realtime communication channels to this discussion to clear it up, if needed. My opinion is:

- early feedback through integration tests between solidity and tools is a good idea
- I see two ways to do this:
 1. tools use our nightly builds to test: https://github.com/ethereum/solc-bin/raw/gh-pa

[2020-06-25 10:55] axic commented on #8986
@chriseth don't we have this enabled already?

[2020-06-25 10:59] chriseth commented on #8986
You are right! Can you change the documentation accordingly (it still says "not yet supported")?

[2020-06-25 12:02] chriseth commented on #7512
@ekpyron can this be closed?

[2020-06-25 12:03] chriseth commented on #6230
Didn't we add a compiler setting to prevent this?

[2020-06-25 12:09] chriseth opened #9258 "Overhaul binary release process"
We should overhaul our binary release process.

There should be a single website that contains all binaries, including the soljson nightly binaries.
If possible, this website should be built via jekyll on github-pages. Since github-pages has a size limit, the soljson nightly binaries (or at least the older nightly binaries) should be stored via ipfs and the jekyll website should contain http redir

[2020-06-25 13:37] chriseth commented on #8354
Most of the comments on this issue are about something totally different than the order of contract names in the override specifier.

If the override specifier requires multiple contract names, then they have to be specified, in any order. They have to be specified to avoid situation where people accidentally override functions they did not mean to override:

[code]

[2020-06-25 14:11] cameel commented on #9258
I researched our hosting options apart from Github and IPFS.

Hosting nightlies:
- CircleCI could be used to host nightlies for 30 days. They're removed after that. But accessing them requires an API key. [CircleCI > Storing Build Artifacts](https://circleci.com/docs/2.0/artifacts/).
- Travis CI can [upload binaries to github releases](https://docs.travis-ci.com/user/deployment/releases/) but does

[2020-06-25 14:45] franzihei commented on #8739
Join the call in 15 mins here --> https://meet.google.com/mga-marp-oid.

[2020-06-25 14:59] apguerrera commented on #8354
I would prefer that as it does not break contract composibility.

[2020-06-25 16:03] franzihei commented on #9237
As part of the discussion call on https://github.com/ethereum/solidity/issues/8739, we agreed that as a next step tools can supply us with their custom compiler binary (tests need to be 0.6, or soon 0.7, compatible) and we'll try to incorporate them into the Solidity CI tests.

**_[Disclaimer: I'm taking this from my call notes, please jump in and correct me if I misunderstood anything!]_**

[2020-06-25 16:10] franzihei commented on #8739
Thanks everybody for joining the call!

Really rough notes (please feel free to correct or add to it):

**Attendees**: Alex B, Aniket, Ben H, Chris R, Francisco G, Franco V, Franco Z, Franziska H, Nick D, Patricio P, Yann L.

Questions for tool builders:

* what the participants would use the feature for
* what exactly is needed as output
* if other stages to stop compilation would be useful

**Bu

[2020-06-25 16:14] chriseth commented on #8739
summary: Implement a switch e.g. `stop-after: parsing` that only handles a single file and does not even call the import callback. I think the absolute path can still be put in the annotations. For now, we only have 'parsing' - but we could extend it at some point in the future by defining other "checkpoints". The main problem is to check that such an incomplete AST can be exported without crashin

[2020-06-25 16:19] chriseth commented on #9237
... tools can provide a test runner script and a method to exchange the compiler binary so we can run them on our newly built binary.

[2020-06-25 16:20] fvictorio commented on #8739
I created https://github.com/protofire/solhint/issues/232 to keep track of this in solhint. I'm referencing it here because I assume other people building on top of this future solc parser might have similar issues.

[2020-06-25 22:28] frangio opened #9261 "Checksum mismatch in solc-bin"
The last commit https://github.com/ethereum/solc-bin/commit/331d998138f2bc0aa5d3694a12c2beab69daad75 modified the bin file for the 0.6.10 release but did not modify the checksum, resulting in a mismatch.

Any tool that validates the compiler against the checksum will fail so I think this should be fixed ASAP, especially given the version affected is the latest release.

[2020-06-26 05:20] payvint commented on #9261
Totally The same!! Please fix this as soon as possible!

[2020-06-26 07:49] DimaStebaev commented on #9261
It blocks development!
Please update binaries.

[2020-06-26 09:38] VersusF opened #9262 "Incomplete documentation about compiler metadata"
## Description

Compiling a contract results is a bytecode with the metadata not matching what declared in the official documentation.

This happens with various 0.5.x versions. The bytecode ends with "0040" instead of "0032" as declared, moreover it differents in the beginning ("a3" instead of "a2") and after the swarm hash there are other bytes containing the word "experimental". The documentati

[2020-06-26 09:58] montyly commented on #9237
This is a great initiative, I would be happy to help for the Trail of Bits tools integration.
For context:
- [Slither](https://github.com/crytic/slither) parses the AST from solc, it supports any solc >=0.4, both legacy and compact AST. I think at this point, we can parse 99% of the ASTs for Solidity <0.6, and we are probably closed for >=0.6 (through the support for some new features were only ad

[2020-06-26 12:01] chriseth commented on #9261
Sorry about that, it seems to have been a rogue script. Can you please check if it is fixed?

[2020-06-26 12:11] payvint commented on #9261
Thank you @chriseth very much, looks like it is fixed!!

[2020-06-26 12:18] chriseth commented on #9261
Actually reopening since the root cause is not fixed yet.

[2020-06-26 14:03] MicahZoltu commented on #9248
I would still prefer explicit labels for everything, though if you are going to default then I think defaulting to `pure` is significantly better than defaulting to `mutable` (or whatever we end up calling it).

[2020-06-26 15:02] ekpyron commented on #7512
I don't think so - as far as I know, we only ever messed around with the soljson.js releases on solc-bin so far - this issue is about the commit hashes there being different from those of the same compiler version released elsewhere e.g. as docker image or as snap releases (the latter we don't control, though, do we?). So depending on where you get e.g. 0.5.11 you'll end up with different commit h

[2020-06-26 15:17] cameel commented on #9261
The damaged files (`soljson-v0.6.10+commit.00c0fcaf.js` and `soljson-latest.js`) are actually truncated. I don't see anything in the scripts that would intentionally update an older release/nightly binary. Every run either adds a single new binary or exits. The only way it could happen is if they were damaged while being copied and then `git commit -a` picked up the unintended changes and included

[2020-06-26 16:25] digiblackdranzer opened #9264 "selfdestruct() and Private functions"
Solidity has a compilation rule that private functions cannot be payable, it even throws compile time error stating “TypeError : Private  functions cannot be payable”. However, there is one primitive of Solidity which is payable and bypasses this check. selfdestruct() is a function in contract which is capable of destroying entire contract and transferring amount deposited at contract to some othe

[2020-06-29 08:34] christianparpart commented on #2992
I took that one too quickly. Unassigning.

[2020-06-29 12:26] leonardoalt commented on #9117
Agree with @chriseth
I think a much better solution in this direction would be range loops

[2020-06-29 13:18] leonardoalt commented on #9264
@digiblackdranzer I'm not sure I get your point.
`secredDrain` isn't payable, so it can't receive Ether, which is not related to `selfdestruct`.

[2020-06-29 13:19] leonardoalt commented on #9248
I agree with `pure` as default

[2020-06-29 13:56] nventuro commented on #9117
Indeed, @axic mentioned those as an alternative [here](https://github.com/ethereum/solidity/issues/9054#issuecomment-638482837) as well.

[2020-06-29 14:37] digiblackdranzer commented on #9264
I may have got a wrong idea but here's what my understanding is as for now :
1) secretDrain() would be known to only contract owner right ? Since it's a private method it won't be visible to other peers (Inferencing this from remix interface to interact with contract, I mean other peers will be able to see deposit(), credit() etc. as shown in figure but they won't be able to see secretDrain() ther

[2020-06-29 14:55] leonardoalt commented on #9262
The documentation does not represent all possible formats for the metadata, it is an example.
Your case contains `experimental` because it is a flag in the metadata, triggered by the usage of `pragma experimental ABIEncoderV2;`.

[2020-06-29 14:59] hrkrshnn commented on #9264
[This](https://ethereum.stackexchange.com/questions/6547/solidity-functions-private-visibility) maybe relevant.

[2020-06-29 15:07] chriseth commented on #7512
We could at least add a new binary to solc-bin, but not sure if this would do more harm than good.

[2020-06-29 15:14] #8776 closed, assigned to hrkrshnn

[2020-06-29 16:14] cameel commented on #9258
### Requirements
For reference, the requirements [posted by @chriseth on Gitter](https://gitter.im/ethereum/solidity-dev?at=5ef5e5b9c223cc536a386808):

### Details
This is the summary of today's discussion with @chriseth:

#### New process for getting nightlies into `solc-bin`
- Nightlies can be fully automated. We only need manual control for release builds.
    - We prefer a pull mechanism, poss

[2020-06-29 16:40] chriseth commented on #9262
Copied from the documentation:
[code]

I don't see any way to adapt the documentation to better represent this case.

[2020-06-29 16:40] #9262 closed, assigned to nobody

[2020-06-29 16:54] digiblackdranzer commented on #9264
Oh ok I got it. Thanks for help.

[2020-06-29 16:54] #9264 closed, assigned to nobody

[2020-06-29 17:18] ekpyron commented on #9258
Actually, I don't think CircleCI should have any part in the release process - all of our builds and tests are run in docker images anyways, so it doesn't matter on which platform they are run. The only advantage of CircleCI is that it's fast, but that's mainly an argument for PRs, not for Releases (which should be safe, reliable and robust, but don't need to be particularly fast).

We need to tru

[2020-06-29 17:52] chriseth commented on #9258
@ekpyron I don't think we should have server-side automation for the release at all. It is just too prone to failure. My idea ould be that someone with write permission to the repo runs a script locally. This script queries the circleci api for the binaries for a certain tag and downloads them. Then we can test them locally if needed. If everything is fine, we can upload them to the release page a

[2020-06-29 17:56] ekpyron commented on #9258
I really don't understand the argument. The current automation is indeed prone to failure, but that's for different reasons, because it's too many systems interacting with each other - in what way is having to run a script locally *less* error prone than running it automatically?

[2020-06-29 17:56] cameel commented on #9258
@ekpyron

It's more about S3 (so just storage buckets) than machine instances. But yeah, the preference is to avoid having any intermediate storage if we can get files from CircleCI easily. And I'm pretty sure we can.

I do like the idea of automated releases but it's really orthogonal this task. The focus of this task is on `solc-bin` and I'm not really going to touch the build process for releas

[2020-06-29 18:04] ekpyron commented on #9258
@cameel Yep, building the binaries and hosting them are indeed somewhat orthogonal, so no reason for not preparing the hosting part right away - still in the end we will have to address both. And I'm not yet convinced at all by @chriseth's position of not automating it (especially, if it's automated properly, i.e. in such a way, that you can still fix things locally and run the very same script lo

[2020-06-29 20:37] chriseth commented on #9258
Let's have a call about this on Wednesday! For me, it's just about having full control and giving away as few permissions as possible.

@cameel if we pull the nightly binary from circelci, you can just search for the latest successful run on develop - no need to actually re-build anything.

[2020-06-29 20:54] zemse opened #9270 "Internal compiler error with no description about error"
## Description

I have a method in one contract that returns a Struct (ABI encoder v2 enabled). When I call that method in other contract with doesn't have ABI encoder V2 enabled, it gives the following error in the solc output.

[code]

However, when I also enable ABI Encoder V2 in the calling contract, it compiles. But it should not give internal compiler error and it should display error messag

[2020-06-30 03:19] Changochen opened #9272 "ICE in void solidity::frontend::CompilerUtils::copyToStackTop"
## Description
Consider the following POC:
[code]

Run with `solc --bin -o poc poc.sol` and we got
[code]
## Environment

solc, the solidity compiler commandline interface
Version: 0.6.11-develop.2020.6.30+commit.105691ab.mod.Linux.clang

git hash: `a1309e4c5f0071dcb41fe52e7b8017dcce7ba0ab`

[2020-06-30 09:19] chriseth commented on #9272
This is an expected error - the resulting function would have too many parameters. This might be fixed with the new intermediate language, but for now, this looks like an artificial example, so I'm closing the issue.

[2020-06-30 09:19] #9272 closed, assigned to nobody

[2020-06-30 10:30] chriseth commented on #9231
I think we should first fix reference resolution inside a struct to not consider the members at all - there is no way to use unqualified access to a member of a struct. Because of that, I would also be hesitant to disallow user-defined type names as member names.

[2020-06-30 11:21] cameel commented on #9258
Good point. We don't even have to schedule a new job. We can just pull in what the existing jobs build.

[2020-06-30 11:32] cameel commented on #9258
I have answers for our questions. Some unfortunately aren't good.

### Jekyll redirects
Unfortunately github does now allow proper HTTP 3xx redirects from GH pages.

From [Redirects on GitHub Pages](https://help.github.com/en/enterprise/2.13/user/articles/redirects-on-github-pages):

(this is old article about Github Enterprise but, judging by old, dead links that now redirect to [the main help ar

[2020-06-30 12:55] chriseth commented on #9258
Ok, but that actually means that since jekyll cannot do http redirects, and we have to fall back to our own server anyway, we don't necessarily need ipfs after all, right? We could just have a server that has built-in hosting of plain directories. This would then also handle symlinks properly and the only "rendering" process is regularly doing a git checkout without the .git subdirectory.

[2020-06-30 12:56] chriseth commented on #9258
Does the token allow to do anything else on circleci apart from fetching the artefacts?

[2020-06-30 13:08] cameel commented on #9258
A server that only does redirects would still be much lighter on bandwidth and storage than on one that also serves the files. So a redirect server + IPFS is still a viable alternative. One server that does both would probably be easier to configure and more reliable though (less moving parts).

[2020-06-30 13:11] chriseth commented on #9258
That is true! I just checked the permissions again and it is really horrible, both on the circleci and the github side.

[2020-06-30 16:42] chriseth commented on #4260
Solved by #9146

[2020-06-30 16:42] #4260 closed, assigned to nobody

[2020-06-30 16:44] chriseth commented on #7739
Closed by #9146

[2020-06-30 16:45] chriseth commented on #4804
Closed by https://github.com/ethereum/solidity/pull/9146

[2020-06-30 16:45] #4804 closed, assigned to nobody

[2020-06-30 16:45] #7739 closed, assigned to nobody

[2020-06-30 16:45] chriseth commented on #8896
Closed by https://github.com/ethereum/solidity/pull/9146

[2020-06-30 16:45] #8896 closed, assigned to nobody

[2020-06-30 16:45] chriseth commented on #8974
Closed by https://github.com/ethereum/solidity/pull/9146

[2020-06-30 16:45] #8974 closed, assigned to nobody

[2020-06-30 16:46] chriseth commented on #6444
Closed by https://github.com/ethereum/solidity/pull/9146

[2020-06-30 16:46] #6444 closed, assigned to nobody

[2020-07-01 04:30] haltman-at opened #9278 "Invalid and inconsistent types in ABIs for library functions"
## Description

While most library functions don't go in the ABI, `pure` and `view` functions do.  Of course, actually using these is [infamously](https://github.com/ethereum/solidity/issues/6420) [difficult](https://github.com/ethereum/solidity/issues/7530), due to the fact that library selectors are computed differently from other selectors, but they're there.  The specific types that differ are

[2020-07-01 07:20] bshastry opened #9279 "[Breaking] Turn solc ICE due to too many stack variables in assembly into a parsing error?"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/a1c33249f133823476470f566753eee69cff52cd/libyul/backends/evm/AsmCodeGen.cpp#L221-L225

Could this be turned into a compile-time error instead?

## Environment

- Compiler version: breaking

## Steps to Reproduce

[code]

[2020-07-01 07:31] bshastry opened #9280 "[ABIEncoderv2] Breaking branch: ICE because "Variable headStart is 1 slot(s) too deep inside the stack.""
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/a1c33249f133823476470f566753eee69cff52cd/libyul/backends/evm/AsmCodeGen.cpp#L221-L225

## Environment

- Compiler version: breaking

## Steps to Reproduce

[code]

[2020-07-01 07:32] bshastry commented on #9280
Looks like https://github.com/ethereum/solidity/issues/8959 to me but keeping this issue open for now

[2020-07-01 08:30] ekpyron commented on #9258
What about just hosting everything in the office ourselves after all - the main issue with that is bandwidth concerns, right? But all the content is long-lived and static, so we could just buy some CDN cache thing in front of it?

Regarding mime-types and IPFS:
While https://cloudflare-ipfs.com/ipfs/Qmad6iesaR5FQ45RRtMrt2Fa1EYDuq1oGoMJJB6beMHESn serves as ``text/plain``,
https://cloudflare-ipfs.co

[2020-07-01 08:30] hrkrshnn commented on #9242
@agroce https://github.com/ethereum/solidity/pull/9281 might be relevant

[2020-07-01 08:30] chriseth commented on #9280
This is just a regular 'stack too deep' error because of too many arguments to the decode function. Do you want us to change the exception type so that it does not confuse the fuzzer?

[2020-07-01 08:32] chriseth commented on #9280
Ah sorry, I see you already did that in https://github.com/ethereum/solidity/pull/9281 :)

[2020-07-01 08:35] bshastry commented on #9280
Yeah, no worries. I guess what I wanted to ask is if stack estimation can be done at compile time so that these would be compiler errors and not failed assertions? But of course, doing it generally might be more complicated at compile time than I think. So in a way I was thinking out loud here.

[2020-07-01 08:59] ekpyron commented on #6230
We do use ``-fmacro-prefix-map`` by now, but I never verified that those are the only sources of the build directory bleeding into the binary, I guess that's why the issue isn't closed yet.
It probably makes sense to close it in favour of a general "Reproducible builds" issue.

[2020-07-01 08:59] #6230 closed, assigned to nobody

[2020-07-01 09:03] chriseth commented on #9278
Yeah, I'm sorry this is really a mess. Someone should create a consistent overview of the current state of affairs.

The ABI for library functions somehow should include which string is used to compute the function selector and potentially how to encode it. One speciality for library functions are of course storage pointers, which are not part of the ABI. So for `structy`, it makes a big differenc

[2020-07-01 09:06] chriseth commented on #9279
What is a compile-time error? We can use `assertThrow` but we cannot detect this situation in the analysis phase because the optimizer might inline the function and the problem could go away.

[2020-07-01 09:12] bshastry commented on #9279
Yeah, I thought as much. I will close this issue in favour of #9281

[2020-07-01 09:12] #9279 closed, assigned to nobody

[2020-07-01 09:47] #6772 closed, assigned to bshastry