[2021-10-01 19:02] cameel commented on #597
In https://github.com/ethereum/solidity/issues/8353#issuecomment-932474378 I have described another solution, similar to what @gnidan and @spalladino suggested above (see https://github.com/ethereum/solidity/issues/597#issuecomment-406582568, https://github.com/ethereum/solidity/issues/597#issuecomment-418798622).

In short, you can already use a mapping of structs to give your contract a set of v

[2021-10-01 19:33] cameel commented on #11940
So you're trying to build also `arm64`, `armhf` and `i386`? Any compilation issues or just trouble with libraries? In CI we only build for amd64 and wasm so it's interesting that it even works :)

I wanted to install it via snap but looks like snap does not like running in docker too much so we'll need someone with Ubuntu. @lightyear15 can you test it?

[2021-10-01 20:26] cameel commented on #12027
You actually need Boost 1.77 now, because of #12024/#11688 but looking at the log, that's what you used. In any case, it should not affect this.

So looks like it's not because of the differences in options. In that case I really can't help much more since I don't have an environment where I could reproduce this. @christianparpart, we need you here :)

[2021-10-02 14:16] redradist opened #12077 "Conan recipe for simplifying build and install of solidity"
## Abstract

In C++ community we already have nice tool like [conan](https://conan.io).
It could simplify installation of solidity as simple as:
[code]

## Motivation

Simplifying build and install of solidity

[2021-10-02 17:03] cameel commented on #12077
Do you mean distributing the `solc` executable via conan? It's an interesting idea, though I'm not sure using conan this way actually solves any practical problem. Getting the compiler is already as simple as downloading a statically linked binary from https://binaries.soliditylang.org so this would not simplify anything unless you're already using conan and even then it's not that much of a simpl

[2021-10-02 17:08] redradist commented on #12077
@cameel

Yeah

Yeah, probable it would be even more interesting ...

Because conan support projects not only built on cmake tool, but it also supports make, meson and so on

[2021-10-02 17:19] cameel commented on #8860
Here's another idea: why not make our cmake config agnostic to where the libs come from and just support multiple ways of getting them as a separate step before running `cmake`? This way we could support the C++ package managers that are getting more popular (conan, hunter, vcpkg, etc) as well as manual installation or getting them using system package manger. All without forcing any particular me

[2021-10-02 17:34] cameel commented on #12077
We don't really support anything other than cmake though so does that really matter for solc? I mean, I definitely do like the idea of conan more than e.g. vcpkg which seems to be tied more to MS ecosystem but would be nice to have some more concrete reasons for choosing this particular package manager over others :) AFAIK there's no clear winner yet and all of them are good candidates to become t

[2021-10-02 19:31] redradist commented on #12077
@cameel

More build systems means more good libraries that you potentially could add as dependencies to your project without pain

[2021-10-03 00:14] hazardland commented on #11816
Variable name remove means only removing variable name and not variable type:

[code]

[2021-10-04 09:03] chriseth commented on #12077
I personally think adding a library is never without pain, you always take on the responsibility of bugs in those libraries yourself.

[2021-10-04 09:10] redradist commented on #12077
@chriseth

Without pain of compilation

[2021-10-04 09:13] bshastry commented on #12064
This issue is a false positive that was wrongly filed by me because I mistook the legacy expression evaluation order to be left to right and not the other way round.

This would be great! :-) Right now, I manually examine test cases to filter out false positives but errors happen (like this one).

[2021-10-04 09:17] chriseth commented on #11886
We could add another clause that is only executed on call-related errors (either no code at destination or decoding error):
[code]

[2021-10-04 09:22] hrkrshnn opened #12081 "[Docs] Mismatched Yul optimizer steps lists"
Looking at the list of Yul transformations in the documentation, I noticed a few slight differences between the list at https://docs.soliditylang.org/en/latest/yul.html#optimization-step-sequence and the list at https://docs.soliditylang.org/en/latest/internals/optimizer.html#optimizer-steps:

- [ ] In the second list, change FunctionalInliner to ExpressionInliner, just like in the first list.
- [

[2021-10-04 09:32] chriseth commented on #12067
The reason is that we have to think about which optimizer steps to disable, and probably we have to disable almost all of them. Can you tell us more about the new opcodes in the fork?

[2021-10-04 09:54] lightyear15 commented on #11940
Thanks @elopio ,
I have tested the new edge solc you pushed to snapcraft.
I tried to compile a contract I have and it seems it's working.
The only concern I have is about the size of the vm
[code]
from 43 MB to 294MB. I don't know if this change in size is due to the compiler itself or not.

Regarding releasing the compiler to the different channels ( stable, candidate, ecc...) AFAIK it's somethin

[2021-10-04 10:26] hrkrshnn commented on #12064
@bshastry I think such a branch should already exist. @ekpyron had a PR that switched it. Let me find it.

[2021-10-04 10:27] hrkrshnn commented on #12064
Ah, https://github.com/ethereum/solidity/pull/11537 is the one I was referring to. You do already use this, don't you?

[2021-10-04 11:58] hrkrshnn opened #12085 "Overflow in constants should be a compile time error"
Consider the example
[code]
compiles, but any use of `B` would revert on runtime. I think this should rather be a compile time error.

[2021-10-04 12:18] bshastry opened #12086 "[Out of gas] External contract call runs out of gas via legacy codegen without optimization but not via IR"
[code]

To reproduce run `isoltest -t test --show-messages`. With Optimization on, both legacy and IR run out of gas.

[2021-10-04 12:22] hrkrshnn commented on #12086
I think it accesses a large memory offset, going out of gas. If you replace `C0[2] memory o0` by `uint256 o0`, I think you should get a value larger than `2**32`.

[2021-10-04 12:24] hrkrshnn commented on #12086
Hmm, the `oO := sload(oO)` is weird though. So `oO` should be zero?

[2021-10-04 12:25] bshastry commented on #12086
Could reduce the test to the following

[code]

Edit: Wrong reduction. The test case above does not fail.

[2021-10-04 12:49] bshastry commented on #12086
Closing because the most likely explanation for this is that `codesize()` affects the value of the `slt` operation in such a way that one codegen results in an `sload(0)` (a large number) and the other in `sload(1)` (zero). This in turn effects which memory location was dereferenced and can potentially lead to out-of-gas.

[2021-10-04 12:49] #12086 closed, assigned to nobody

[2021-10-04 13:51] cameel commented on #11940
The compiler is definitely not that big. The binary itself is around ~10 MB. Statically linked Z3 adds ~25 MB. Not sure about CVC, but I would not expect it to take ~300 MB.

I suspect that some stuff needed only at build time gets left in the image. Which is weird because after #12078 it actually does less manual building and gets more stuff from system package. Does stuff listed under `build-pac

[2021-10-04 16:33] hrkrshnn opened #12087 "Properly allow `string.concat`"
This may have been allowed unintentionally:

https://github.com/ethereum/solidity/blob/9d6eaa7a46425301ddb961a369b04f211d53691c/libsolidity/ast/Types.cpp#L3817-L3821

https://github.com/ethereum/solidity/blob/9d6eaa7a46425301ddb961a369b04f211d53691c/libsolidity/ast/Types.h#L841

https://github.com/ethereum/solidity/blob/9d6eaa7a46425301ddb961a369b04f211d53691c/libsolidity/ast/Types.h#L866

---

An

[2021-10-04 16:37] chriseth commented on #12087
We actually intentionally disallow any indexing operations on strings because intuitively, you should be able to access characters of the string by index, but to do that properly, we would have to analyze its utf8 encoding. The same could be said about string concatenation, so maybe it's better to remove it than to change its signature.

[2021-10-04 16:37] mau211 commented on #12081
Hey, I would Like to take up this issue

[2021-10-04 19:34] bshastry opened #12088 "[Optimizer] Missed optimization opportunity in legacy optimizer"
Edit:

This issue is about missed legacy optimizer opportunities. Examples follow. All of the following get optimized out via IR but not legacy optimizer (latter runs out of gas)

[code]

[code]

fails via legacy optimizer but not IR.

Repro

[code]

[2021-10-04 19:37] bshastry commented on #12088
This may actually be a non-issue thanks to https://github.com/ethereum/solidity/pull/11026

Will wait for a confirmation.

[2021-10-04 20:23] chriseth commented on #6713
One very important use-case for this is modifiers: We currently generate code of the form
[code]
Where `modifier_f_1` is a function specialized for `f`  - i.e. the modifier code is copied for each of its uses.

At least this special use-case could be detected by the optimizer and outlined.

Maybe we can even do something like this on the opcode level?

[2021-10-04 20:42] chriseth commented on #12088
Yes, the keccak call is optimized out in the new code generator.

[2021-10-04 20:43] chriseth commented on #12088
Although the reason might not be that `keccak256` is evaluated, but rather that `l0` is unused.

[2021-10-04 20:46] chriseth commented on #12088
It is not removed in old codegen because a jump hides the fact that the value is unused. On the other hand, I cannot see why the jump is not optimized out - so maybe we should still investigate this a bit on that ground.

[2021-10-05 08:28] d-xo opened #12090 "`Duplicate tag position` when compiling Yul code defining multiple functions with the same name"
## Description

While updating dapptools to solc0.8.9 we noticed that the following yul program now produces a c++ exception when compiling with 0.8.9 (it was fine with 0.8.7).

[code]

## Environment

- Compiler version: 0.8.9
- Target EVM version (as per compiler settings): london
- Framework/IDE (e.g. Truffle or Remix): none
- EVM execution environment / backend / blockchain client: none
- Oper

[2021-10-05 08:39] hrkrshnn commented on #12088
This `keccak` will not be evaluated, it's `keccak256(0x1Ea7bdE3C, 9)` and the optimizer doesn't know about memory at `0x1Ea7bdE3C`. What happens is that, since `l0` is unused, the `mload` and subsequently, the `keccak256` gets removed.

[2021-10-05 08:41] hrkrshnn commented on #12088
For old codegen, I think it's not getting inlined because the inlinable block is too large. We could of course tweak that parameter if we want.

[2021-10-05 08:54] bshastry commented on #12088
Ah I see. Just want to add that this (legacy out-of-gas and IR optimization) does not happen too frequently to stall fuzzing but something that is churned out by the fuzzer every once in a while. I'm not sure if such code reflects real-world coding patterns.

[2021-10-05 09:03] chriseth commented on #12090
Thanks for reporting! My first hunch is that a workaround could be to rename the functions so that the names are unique, but of course, this should also compile as is.

[2021-10-05 11:59] hrkrshnn commented on #12088
At least for these cases, where the actual code is supposed to access a very high memory index, likely wouldn't happen in practice. But it's still good to test against them; it's not something that we generally consider in our tests.

[2021-10-05 12:49] chriseth commented on #10358
Implemented in https://github.com/ethereum/solidity/pull/12016

[2021-10-05 12:49] #10358 closed, assigned to Marenz

[2021-10-05 14:08] #10785 closed, assigned to nobody

[2021-10-05 15:56] sambacha commented on #11745
makes sense, esp. after seeing @axic link to https://github.com/ethereum/solidity/issues/1650

[2021-10-06 09:14] christianparpart commented on #8860
@cameel on Windows CI (and me at home) we're already using vcpkg for installing dependencies. vcpkg is btw also available on all 3 major platforms (win, osx, linux). and now they do also support [manifest files](https://vcpkg.readthedocs.io/en/latest/users/manifests/).

Personally I'd prefer to not support too many package managers (or ways to tell a project how to find them). vcpkg luckily suppor

[2021-10-06 09:47] #11553 closed, assigned to TerranCivilian

[2021-10-06 12:02] hrkrshnn commented on #11695
About libraries and delegatecalls in general, there are two problems right now.
1. Solidity currently doesn't provide a high level way to delegatecall a contract. You current need to do `address(...).delegatecall(abi.encode(...))` followed by checking if the call succeeded, and the return value (also maybe `extcodesize` check.
2. Dynamic linking.

I think problem 1 is much more important than prob

[2021-10-06 12:24] hrkrshnn commented on #12087
Decision: we agreed to allow `string.concat`. The arguments can be `string memory`, `string storage` and string literals.

[2021-10-06 12:48] chriseth commented on #12000
Decision from design call: We will add a switch (maybe only in stdjson) that defaults to false. If it is true, the source maps will be byte-based and have a string prefix informing about that. The switch will default to true with 0.9.0.

[2021-10-06 13:00] cameel commented on #8860
Conan does support `find_package()`. I.e. it can generate the config that lets `find_package()` find the package or allow the package to provide it by itself.

I have a slight preference towards Conan (vcpkg is very simplistic from what I've read and I'm a bit afraid that it will pull in some heavy MS tooling with it) but I haven't really tried any of them in practice. As long as it's just one of

[2021-10-06 13:25] christianparpart commented on #8860
I wasn't about to convince us all to hard-depend on vcpkg. It just happens to be used by CI on windows (and my personally on my windows). the solidity project does not have a single line of vcpkg outside of CircleCI files :)

[2021-10-06 13:39] hrkrshnn opened #12096 "Library interfaces as a means for high level delegatecalls"
**Problem**: Solidity currently does not offer a way to do a high level delegatecall.

For example, to mimic a high level delegatecall to the following interface:

[code]

one has to do the following:

[code]

----

**Proposal**: Library interfaces.

[code]

Now, the following is a high level `delegatecall`, that behaves exactly like the above code:
[code]

Effectively the main difference between

[2021-10-06 13:39] cameel commented on #8860
@chriseth's opinion from the chat:

[2021-10-06 13:48] chriseth commented on #12096
I don't see why a library should not be able to automatically be a library interface.

I think libraries should be able to inherit from (multiple) library interfaces so that you can ensure that the interface conforms to the interface.

[2021-10-06 13:49] chriseth commented on #12096
Another feature that people would maybe want to use (not sure we should add it) is to forward calls to unknown functions:
[code]
But maybe we can resort to low-level calls in this case.

[2021-10-06 13:52] hrkrshnn commented on #12096
I think the two paradigms in this code `L.f()` and `l.f()` does not belong together. If we allow `l.f()`, then `L.f()` should be disallowed. I'm somewhat in favour of keeping `L.f()` because static linking is more efficient than using immutable.

[code]

[2021-10-06 18:57] bshastry commented on #12064
Closing because false positive

[2021-10-06 18:57] #12064 closed, assigned to nobody

[2021-10-06 20:32] cameel commented on #11987
@jhb10c Do you want to try to add the extra message that suggests to use `internal` or `private`? It can be done using a secondary location, like here:
https://github.com/ethereum/solidity/blob/a9b99dd63b545e5ca8968058cfb8518206b8e343/libsolidity/interface/CompilerStack.cpp#L186-L194

You'd just leave the location field empty and only provide a message.

[2021-10-07 00:02] come-maiz commented on #11940
There is a snapcraft action that can be used to test that the snap builds correctly. Building the whole thing is slow though, so I'm not sure when would you want to run this.

It can be used to push tags to the candidate channel too.

https://github.com/snapcore/action-build

[2021-10-07 00:09] come-maiz commented on #11940
The bulk in size is in the built binaries:

[code]

[2021-10-07 00:37] joshuavial commented on #7763
Happy to be an early tester on mac if that's useful. Excited to see this ticket and would love to see it finished but understand there are lots of priorities.

[2021-10-07 07:47] lukehutch opened #12101 "Security hole in "Introduction to Smart Contracts" example"
## Page

https://github.com/ethereum/solidity/blob/develop/docs/introduction-to-smart-contracts.rst

## Abstract

There's a huge gaping security hole in the second example you show under "Introduction to Smart Contracts". Not good form!

A user can send a negative amount to another address, stealing money from that other address.

Also the negative value can be so negative that after the transfer,

[2021-10-07 08:07] lukehutch commented on #12101
In fact I didn't add this to the pull request, but there needs to be a discussion of security in this introductory page, using this `requires` statement as an example. Solidity programmers need to think about security right from the beginning.

[2021-10-07 08:07] hrkrshnn commented on #12101
As explained in https://github.com/ethereum/solidity/pull/12100#pullrequestreview-773572898, the negative part is a non-issue.

What is the problem with the event?

[2021-10-07 08:22] lukehutch commented on #12101
I see, it is a `uint`. Sorry that I didn't notice that!

(I deleted the comment about `event` because it was incorrect -- please ignore.)

[2021-10-07 08:22] #12101 closed, assigned to nobody

[2021-10-07 08:40] chriseth commented on #12066
Fixed by #12094

[2021-10-07 08:40] #12066 closed, assigned to Marenz

[2021-10-07 08:44] chriseth commented on #7763
@joshuavial which IDE would you use together with the lsp?

[2021-10-07 08:48] #11809 closed, assigned to v-sreekesh

[2021-10-07 08:51] tfalencar commented on #7877
using require in the following way:

[code]
gets complicated because require already does other things, as pointed out. How about instead go for a new keyword?
[code]
This seems to be simpler to implement (less upfront changes needed), and seems to provide a cleaner upgrade path for solidity users.

Anyway, I think at this point any decision would be better than stalling progress.

[2021-10-07 09:03] hrkrshnn commented on #12088
@bshastry we can close this, can't we?

[2021-10-07 09:04] bshastry commented on #12088
Looks okay to be closed to me but @chriseth feels

[2021-10-07 09:19] chriseth commented on #7877
@tfalencar we settled with `if (!c) revert E(a, b);`

[2021-10-07 09:23] drortirosh opened #12103 "Expensive access calldata member"
## Description
If an external method receives a struct member, it seems only natural to use "calldata" in internal methods to access its members: after all, it requires no stack pushes and no extra copy of unneeded data from calldata to memory.

Apparently, it isn't that simple:

accessing "calldata" structure member is very complex, and **very expensive**.
instead of simple "calldataload(offset)"

[2021-10-07 10:05] chriseth commented on #12103
I would advise you to take a look at the generated assembly in the two cases and compare it. You will see that instead of a simple `calldataload`, the compiler calls an internal routine from the generated file "#utility.yul". You can obtain that file using `--combined-json generated-sources-runtime`. The internal routine is the following:
[code]

And here you can see the trade-off between `memory`

[2021-10-07 10:18] cameel commented on #11940
Are you building them in debug mode? In release mode they're much smaller. In debug they're also pretty big but even then only about half that size:
[code]

[2021-10-07 10:41] drortirosh commented on #12103
I don't think your example is relevant to that specific case: I'm referencing the a member of a struct that its offset is known at compile time. Also, its size is fixed and known.
I agree that if I access a dynamic member, like `extra`, above, you'd have to verify the returned offset, and then the total length (and still, allow "unchecked" code run without those checks)

[2021-10-07 10:51] drortirosh opened #12104 "No way to reference struct members from assembly"
If I have a struct variable, assembly code can only find the offset of the struct itself, and not of its members.

(This issue was found when trying to workaround the [excessive gas usage to access calldata](https://github.com/ethereum/solidity/issues/12103))

e.g.
the code below is doable, but error-prone.
[code]

[2021-10-07 11:26] hrkrshnn commented on #12103
@drortirosh About the benchmark: there is a small issue in this comparison. Since `test1` and `test2` are in the same contract, the order in which the function appears in the function dispatch makes will affect your benchmark. In this case, `test2` is the first function in the dispatch. Could you try to redo the benchmark, but with two different contracts, each having only a single function? Also,

[2021-10-07 12:12] chriseth commented on #11695
One thing to consider is that "using for" does not work for dynamically-linked libraries. The question is whether people are using that with non-internal functions.

[2021-10-07 12:15] chriseth commented on #12104
Do you have an idea about how to solve it? Note that if we do that, we should provide a similar mechanism for memory and storage.

[2021-10-07 13:28] drortirosh commented on #12104
you do have `name.offset`. need something like `name.field.offset`. its merely a naming issue...

[2021-10-07 18:42] #11415 closed, assigned to cameel

[2021-10-07 19:35] bshastry commented on #12061
I'm not sure if the following is due to the same bug or a new one but commenting for the record.

[code]

[2021-10-07 20:58] #11732 closed, assigned to s0sharma

[2021-10-08 04:49] mau211 commented on #12081
Hi For:  Add UnusedFunctionParamterPruner to the first list. The first list reference has

What would be the abbreviation for UnusedFunctionParamterPruner.

[2021-10-08 12:37] hrkrshnn commented on #12081
@mau211 it's 'p'. You can find it listed in the following file:
https://github.com/ethereum/solidity/blob/b343e13244dacacf6e0b249e562ad4c44f0dcbc2/libyul/optimiser/Suite.cpp#L251

[2021-10-08 12:48] bshastry opened #12111 "[Legacy vs IR] Bitwise not of smaller width uint results in value that is uint256 in legacy vs smaller width uint in IR"
The following test passes via legacy but fails via IR. The `address` public state variable is of the same value (`~1` truncated to 160 bits or 20 bytes) via legacy and IR. However, the `uint` public state variable value differs. The latter is truncated to 184 bits via IR but not via legacy (untruncated).

[code]

[2021-10-08 13:08] bshastry commented on #12111
Some evidence that dirty bits are only accessible via inline assembly (`s3()` returns the same value via legacy and IR). It is a bit weird that dirty bits are cleaned up for assignment to address type even inside inline assembly but the same does not happen for higher width uint.

[code]

[2021-10-08 14:59] cameel commented on #4642
I think we should actually explain our whole semver syntax in the docs. We do not support all the syntax npm does and we also support some very weird stuff like `X` as a valid version, quoting or `*.*.*`.

Many examples of valid and invalid pragmas can be found in [`test/libsolidity/SemVerMatcher.cpp`](https://github.com/ethereum/solidity/blob/develop/test/libsolidity/SemVerMatcher.cpp) but #11295

[2021-10-08 16:43] nickytonline opened #12112 "Consider adding Gitpod support for contributors to the codebase"
## Abstract

This is not so much a problem but a way to enable more folks to potentially contribute to Solidity. The proposal is to give contributors the option to work on the Solidity codebase in a cloud-based IDE. Gitpod is cloud-based IDE development environment that would enable this.

## Motivation

Potentially enable more folks to be able to contribute to the codebase.

## Specification

Git

[2021-10-08 17:34] cameel commented on #12112
It depends how much maintenance it requires. If it's just just a small static config file that does not need to change between releases then why not. But anything that would require listing source files or compiler options will quickly go out of date. Also anything that would need to be regularly updated.

It's just that no one on the team is using GitPod so we will not really notice if this confi

[2021-10-08 17:54] nickytonline commented on #12112
Thanks for the feedback. I'll take a peek at all this on the weekend. In regards to Homebrew, it's [supported by GitPod for Linux environments](https://www.gitpod.io/blog/brew).

[2021-10-08 18:10] cameel commented on #12112
ok. Well, it would not be my first choice of a package manager but if it works then I guess it's fine.

[2021-10-09 07:10] ghost opened #12114 "InternalCompilerError: Internal compiler error (/Users/distiller/project/libsolidity/codegen/CompilerUtils.cpp:1441)"
https://github.com/ethereum/solidity/blob/27d51765c0623c9f6aef7c00214e9fe705c331b1/libsolidity/codegen/CompilerUtils.cpp#L1441

What's the error?

version: 0.6.12

[2021-10-09 07:20] ghost commented on #12114
add

`pragma experimental ABIEncoderV2;`

[2021-10-09 07:20] #12114 closed, assigned to nobody

[2021-10-11 08:03] Mubashir-ali-baig commented on #10354
I also encountered the same error and followed the solution @dileepfrog suggested to enable optimizer in truffle-plugin, but now the contract size exceeds from 23 kb to 59.31kb, also is there any way to set the runs value for coverage tool. Btw i'm using hardhat environment so i also enabled the optimizer in hardhat.plugin.js. Would be great if someone suggests a solution.

[2021-10-11 09:09] chriseth commented on #10354
If you decrease the "runs" parameter, the size should also go down.

[2021-10-11 09:19] chriseth commented on #4642
I think we should not explain that we support some weird things (I would not encourage anyone using it). I have never heard that people have problems with semver, also because in our use-case you usually do not need complex expressions.

[2021-10-11 09:35] chriseth commented on #12111
I would say this is fine: The `uint184` value is cleaned after the `~` via IR, but it is not cleaned in the legacy codegen. Going through storage is not required for this to trigger.

[2021-10-11 09:35] #12111 closed, assigned to chriseth

[2021-10-11 10:15] Mubashir-ali-baig commented on #10354
@chriseth compiling my contracts normally works fine, but when i run yarn coverage, the size goes bananas. Also how can i set runs value for coverage tool?. As clearly coverage tool is not taking any effect when i set runs value in hardhat config to 5.

[2021-10-11 10:35] bshastry commented on #12111
The difference to the signed immutables bug (https://github.com/ethereum/solidity/pull/12050/files) is that there a Solidity assignment statement does not already clean up (signextend properly) until the value is read in a non-inline-assembly operation.

Here, the truncation happens if the function argument is assigned to an intermediate Solidity variable that is then read via inline assembly i.e.

[2021-10-11 11:18] chriseth commented on #12111
It is documented: https://docs.soliditylang.org/en/v0.8.9/assembly.html#conventions-in-solidity

[2021-10-11 11:22] chriseth commented on #10354
I guess this question can better be answered in a hardhat channel.

[2021-10-11 12:48] christianparpart commented on #4642
I just suggested to have the handling of `x` and `*` in semver matching removed (instead of documented). It's not part of semver.

[2021-10-11 12:54] chriseth commented on #4642
`x` and `*` are part of the grammar at least: https://www.npmjs.com/package/semver

[2021-10-11 13:51] cameel commented on #4642
Oh wow, they are. In that case better to leave it for compatibility. I thought it was a weirdness only in our implementation but it's actually `npm`'s quirk (or maybe even more general).

As for documenting it, I think these things should generally be documented because they also matter for tools or for compatibility with other compilers. But you have a point. We should probably have a separate re

[2021-10-11 15:13] cameel opened #12119 "[CLI] Warn when a relative path specified on the CLI ends up being absolute in metadata"
## Abstract
Now that we have #11408 and #11409 implemented, the compiler always normalizes source paths specified on the command line and only after that attempts to make them relative. If this is not possible, the path remains absolute but it's not apparent unless you inspect the metadata. Many users are probably not even aware of the issue due to this but would want to fix if if they were. I thi

[2021-10-11 15:27] ryzheboka commented on #12017
Hi, I would like to work on this issue. I'm new to contributing, can you please check my understanding of the needed changes? So I would need to add a new Exception to [Exceptions.h](https://github.com/ethereum/solidity/blob/develop/libsolutil/Exceptions.h). Then, I should throw this exception in ASTJsonImporter. ASRJsonImporter::jsonToSourceUnit is then used in CompilerStack::importASTs. This fun

[2021-10-11 15:34] cameel commented on #12008
The feature was originally discussed on the tooling channel and no one protested so - do you think I should ask more directly?

The problem with it being so permissive is that this also makes it harder to notice that you did something wrong. For example dapp-tools has been using undocumened syntax that stopped working at some point and no one noticed for quite a while. And especially in manual usa

[2021-10-11 18:59] haltman-at commented on #12104
Thought: If you're going to do this, then in addition to providing the *actual* offsets (or for storage, offsets and slots), it might make sense to also offer the *relative* offsets (or for storage, relative slots), which could be accessible via the type itself.

(Or perhaps that should be "instead"?  In the context of state variables, it seems to me that both make sense; but in the calldata conte

[2021-10-11 20:49] sarabavifard opened #12122 "contribute to translating this documentation into the Persian language #translations 🌍"
{
 "name": "Persian",
 "code": "fa",
 "maintainers": ["saracodic", "firildax"]
}
@franzihei

[2021-10-11 21:34] cameel commented on #12017
Generally yes, but this is only a part of the task. The other part is to ensure that the current validations are sufficient so that switching to a more specialized exception handler in `CommandLineInterface` does not result in crashes on invalid input. I suspect that they might not be sufficient and it's probably the reason why the handler is so broad.

Checking that will require some experimentat

[2021-10-12 08:32] ryzheboka commented on #12017
Thanks for the explanations! #10308 sounds less extensive and more manageable than #12017. It might end up too overwhelming for me to search for possible other unknown reasons for exceptions in this issue.

[2021-10-12 08:40] ryzheboka commented on #10308
Hi, can I work on this issue? Can you please check my understanding of the changes? I would need to rewrite CommandLineInterface::link(), so it reuses code from LinkerObject::link() for linking already compiled code. The code in LinkerObject::link() is already used for linking with the option  --libraries. What do I do with the placeholders while translating the hex-encoded input of CommandLineInt

[2021-10-12 13:32] chriseth commented on #11969
Having talked to @axic who is also unsure about mixed types I would say that we implement operators only for fixed type signatures for now in order to get some progress and feedback from the community.

I'm still of the opinion that user-defined operators should be illegal inside `unchecked` blocks. I think we can also agree that this is a good first step and we can wait for feedback.

Another que

[2021-10-12 13:57] dessaya commented on #12067
For now it's a proof of concept, and it's not even clear that this approach is the correct one.

We want to add support for Solidity as a language for an experimental language-agnostic smart contracts platform. We don't need or want to emulate a whole Ethereum blockchain, since our smart contracts run in level 2; we only need to run the Solidity code and store the current state. What we need is so

[2021-10-12 14:20] chriseth commented on #12067
Wouldn't it be better to do this on the yul level instead? Plese feel free to schedule a call to discuss in more detail!

[2021-10-12 14:39] #11858 closed, assigned to cameel

[2021-10-12 15:10] dessaya commented on #12067
What do you mean exactly? I know that I can write a contract in yul, and I can inject arbitrary bytecode with `verbatim`. This is what we are doing right now; but it would be nice to be able to write Solidity, and have a few small Yul blocks with `assembly {...}` where needed.

[2021-10-12 15:42] #12068 closed, assigned to Marenz

[2021-10-12 15:47] cameel commented on #10308
Please take a look at https://github.com/ethereum/solidity/issues/10308#issuecomment-846609226. It describes in detail what needs to be done.

It does not matter all that much because `LinkerObject` does not really look at them and instead uses the `linkReferences` map to find the right place in the bytecode to overwrite. You need to find them and fill the `linkReferences` map but after that you c

[2021-10-12 15:58] hrkrshnn commented on #12067
@dessaya To summarize why we haven't done this so far, the Yul optimizer wasn't designed keeping `verbatim` in mind. This means that if the Yul optimizer is enabled, then `verbatim` has to be used with extreme caution. We assume that users of pure Yul already are in a position to make this judgement (we have added some example situations that would lead to undefined behaviour: https://docs.solidit

[2021-10-12 16:01] chriseth commented on #12067
What I meant is to compile solidity to yul using `solc --ir ` and then modify the resulting yul code where you can freely inject `verbatim`. It would be nice for us to know what exactly these syscalls are and how you want to link them to the solidity code.

[2021-10-12 16:09] #9133 closed, assigned to christianparpart

[2021-10-12 16:16] Marenz commented on #12063
This is known and can't really be fixed, but I'll check if we can make the documentation better

[2021-10-12 16:16] cgewecke commented on #10354
@Mubashir-ali-baig The size goes bananas in the coverage tool because it injects lots of instrumentation into the solidity code. Hardhat's coverage plugin is maintained at [sc-forks/solidity-coverage][1], feel free to open an issue about this there.

[1]: https://github.com/sc-forks/solidity-coverage

[2021-10-12 16:43] dessaya commented on #12067
We are still evaluating options, so we haven't settled on what the opcodes will look like exactly. But an example would be something very simple to retrieve a value from the context:

[code]

where the return value is provided by our sandbox; for example the (non-ethereum) address of the contract creator.

@chriseth I was not aware that `solc --ir` actually produced Yul code. It looks like this co

[2021-10-12 16:58] axic commented on #12067
Instead of special opcodes it is also possible to use special addresses to exchange data (i.e. precompiles or system contract on some chains). If you have complete control over your system, that may be a nicer way because all EVM compatible languages (Vyper, Fe, etc.) could be made to work with it without changes.

[2021-10-12 17:49] Mubashir-ali-baig commented on #10354
@cgwecke Thanks i opened the issue. Is there a way i can set runs manually in the hardhat-plugin.js for coverage tool?

[2021-10-12 19:04] franzihei commented on #12122
Hi @saracodic,
Please refer to the solidity-docs org (https://github.com/solidity-docs) for all community translations related work.
If you want to add a new language, start by opening a PR to add your lang.json in here: https://github.com/solidity-docs/translation-guide/tree/main/langs.
Thanks!

[2021-10-12 19:04] #12122 closed, assigned to nobody

[2021-10-13 10:06] chriseth opened #12127 "Re-check if the identity precompile should be used for memcopy"
Since london, it could be cheaper again to use the identity precompile than mload / mstore in a loop to copy memory.

[2021-10-13 11:42] Marenz commented on #1137
I just tried it in remix and could not reproduce it anymore. (It uses the new backend as far as I can tell (because the debugger opened up a utilities.yul file))

Maybe we want to close this? Someone else could double check though, my remix skills are below-average at best.

[2021-10-13 11:54] Marenz commented on #4168
Seems easy enough for me. Is this the way we want to solve this issue?

[2021-10-13 12:37] cameel commented on #12119
Decision from the call: we do not want to inconvenience people using the compiler just to try stuff out (and that's probably the most common use case of the CLI where one would not use `--base-path` or `--include-path`) so we'll make it a warning but we'll only print it if the user did not specify absolute path on the CLI. If the path was absolute to begin with, we assume that user intentionally w

[2021-10-13 13:20] bshastry opened #12130 "[Documentation] Document the semantics of an inline assembly return in the context of a constructor"
The following contract does not initialize storage variable `s` as intended i.e., to 42. Strangely, the function call `g()` does not return anything, not even `0`.

[code]

[2021-10-13 13:24] hrkrshnn commented on #12096
Decided to talk with users of libraries and collect a bunch of questions to ask them.

[2021-10-13 13:31] axic commented on #4168
The safe solution to this would be #11819.

[2021-10-13 13:45] chriseth commented on #1137
This might mean that this is part of the old abi decoder.

[2021-10-13 14:54] axic commented on #12127
I think only Berlin's EIP-2929 affects it, and nothing in London does.

However if the saving is not significant, then to avoid the potential for future repricing adversely affecting it, I would not enable it.

[2021-10-13 15:08] chriseth commented on #12017
Sounds good!

[2021-10-13 15:09] chriseth commented on #12009
Sounds good!

[2021-10-13 15:19] cameel commented on #1650
We discussed this on the call today:
- We'd prefer not to introduce any new syntax for this at the language level.
- Hardhat apparently already has a preprocessor plugin: [hardhat-preprocessor](https://hardhat.org/plugins/hardhat-preprocessor.html) so it does not need this feature.
- We already have support for file-level constants, which get you pretty close to this. You then only have to have a

[2021-10-13 15:28] cameel commented on #1650
As for specific syntax proposal, we could standardize some kind of substitution marker. The `{{ x }}` from Jinja comes to mind, though double braces are a valid syntax so it should rather be something that would not clash. Maybe something like this:
[code]
Looking at the grammar, it seems that we're not using `#` for anything.

[2021-10-13 15:31] cameel commented on #12009
Moving to implementation backlog then.

[2021-10-13 15:40] cameel commented on #12008
We discussed it on the call today and decided that it's ok to implement it at info severity.

But overall this issue has a very low priority. I'm moving it to icebox in case someone wants to work on it but otherwise we probably won't implement it in the near future.

[2021-10-13 15:53] cameel commented on #8353
We discussed this on the call today and unfortunately we did not reach a decision yet:
- @chriseth thinks that having the location depend only on contract name is a bad idea. The prefix used for hashing should be more explicit.
- @axic mentioned that the upcoming changes related to state expiry might make the feature moot - the likely implementation of this will make access to lower ~100 slots che

[2021-10-13 16:07] bshastry commented on #12088
Edited issue. Summary: This is about missed optimization (by legacy optimizer) when a local Solidity variable is defined inside inline assembly but never used.

[2021-10-13 16:27] mudgen commented on #8353
@cameel thanks for this update, much appreciated.

Don't mappings and dynamic arrays use random locations from hashes for storage?  Would that change? It seems to me that the majority of data in contracts are stored in those. It doesn't matter much if the first 100 slots are cheaper because most of the data isn't/won't be stored there.

I wonder how much cheaper the first 100 slots would be.  That

[2021-10-13 16:37] cameel commented on #8353
They do. If you are using them, you will have to pay more so you'll be affected either way. The problem is that some projects can fit in the first slots and will want to.

I don't think that's clear yet. At the call even @axic could not give much detail on that.

Well, the pattern does have some downsides as pointed out above so it's not such a no-brainer I thought it was. Doesn't mean we won't im

[2021-10-13 16:42] mudgen commented on #8353
Do we know any projects?   Every project I know of stores most of their data in mappings and/or dynamic arrays.

[2021-10-13 16:49] mudgen commented on #8353
Understood, I personally like the idea of letting the user choose the slot or the data that is hashed to choose the slot.
For example I like this method of choosing a slot location:
[code]

That would choose a slot location for a struct that contains state variables for an ERC1155 implementation.

@cyotee showed me this.

[2021-10-13 17:02] cameel commented on #8353
Someone mentioned one on the call. @hrkrshnn @axic, was that Uniswap?

[2021-10-13 18:06] cyotee commented on #8353
Hi, thanks for the call out @mudgen.

@cameel, If you're interested I can comment on some of the points you've brought up.

STL;DR

Unstructured storage powerful. Language limits exercising power. Give us more power.

TL;DR

Being able to dynamically define storage pointers for variables has expanded my ability to write more flexible contracts. Main issues have come from structs not having a stand

[2021-10-14 07:52] cyotee commented on #8353
Another matter I've been considering is the potential benefit of including a modifier when calling a function using an interface to designate that a `delegatecall` should be used. I was thinking of 3 options, again, no idea how it might be best to implement. just examples to explain the idea.

`IContract(address).delegate.externalFunction();`

`IContract(address).externalFunction{delegate}();`

or

[2021-10-14 07:58] hrkrshnn commented on #8353
@cyotee Maybe you would be interested in https://github.com/ethereum/solidity/issues/12096

[2021-10-14 08:02] hrkrshnn commented on #12130
I think it does. The `sstore` is still there, but the getters would not work. You can verify this by deploying the contract and then using a [`getStorageAt`](https://infura.io/docs/ethereum/json-rpc/eth-getStorageAt) call.

[2021-10-14 09:12] bshastry commented on #12130
The sstore is there in legacy optimized code but not in IR optimized, sorry for not mentioning that detail earlier. It would be great if you could confirm this. I have a feeling this is because of a missed optimization opportunity (see https://github.com/ethereum/solidity/issues/12088).

Ah nice! Is it easy to onboard to infura for deploying/running compared to Remix? The reason I ask is that I've

[2021-10-14 09:29] ryzheboka commented on #10308
I'm sorry, I won't be able to work on the issue. I had problems building solidity on my computer, and I could't resolve them.

[2021-10-14 09:49] cameel commented on #10308
Recently a user requested that we add config for one of the online IDEs, claiming that it would be a good way for contributors to easily get a working environment. It was #12112. I haven't personally tried that IDE so I can't say if it would work but maybe you'd like to try? It might let you work on this without having to fight with the build system. And I'd be interesting to know if it's really s

[2021-10-14 09:58] leonardoalt opened #12136 "[SMTChecker] Try Spacer's BMC engine for SAT cases"
Currently we first run Spacer with preprocessing enabled (which doesn't give us counterexamples), and if it answers SAT, we run it again without preprocessing to get counterexamples. If the second answer is also SAT, great, we get counterexamples. In case the problem without preprocessing is too hard, we use the first answer (SAT) without counterexamples. In the latter case, we can also try Spacer

[2021-10-14 10:34] chriseth opened #12137 "Change the dispatch routine to help the optimizer"
The ir generator creates the external call dispatch routine and it contains cases that all end with `return(...)`. The fact that we return at that point cannot really be used by the optimizer for the inner functions unless all the inner functions are inlined into the main dispatch routine.

We should try if outlining the cases into individual functions might provide a better result.

[2021-10-14 12:18] nickytonline commented on #12112
@cameel, I've removed the dependencies installation script you mentioned that is deprecated and have added the necessary dependencies explicitly, and also via `apt-get` instead of `brew`, as you mentioned it wasn't your first choice for a package manager.

I'll modify how it compiles for a development environment when I have some more time this week.

I'm happy to add this to the documentation ins

[2021-10-14 12:23] ryzheboka commented on #10308
Yes, I will gladly try using the online IDE.

[2021-10-14 13:25] hrkrshnn commented on #12130
It doesn't really have to be infura, any eth node would work. You can, for example, deploy it locally in hardhat, and do something like (see https://hardhat.org/hardhat-network/reference/)
[code]

---

I see the `sstore` in both legacy and ir optimized.

[2021-10-14 13:28] chriseth commented on #12130
I cannot confirm that `sstore` is removed via ir:
[code]

[2021-10-14 15:33] bshastry commented on #12130
Sorry, I mixed up test cases in the process of reducing them.

Here's the test case with one fewer sstore in IR but that's probably because of the order in which state variables in legacy and IR are initialized (inline and then constructor vs constructor and then inline assignment in IR)

[code]

[2021-10-14 15:41] chriseth commented on #12130
Ok, right, I can confirm. The yul optimizer cannot remove the sstore (yet) but the opcode-based optimizer afterwards can. I believe this is because the callvalue check (the constructor is not payable) happens at different times.

[2021-10-14 17:27] adjisb opened #12143 "InternalCompilerError in `ContractCompiler.cpp` when calling an interface function via `super`"
The following contract produces an InternalCompilerError: Internal compiler error (/solidity/libsolidity/codegen/ContractCompiler.cpp:1391)

[code]

[2021-10-14 17:36] cameel commented on #12143
Duplicate of #11445.

This has already been fixed in 0.8.5.

[2021-10-14 17:36] #12143 closed, assigned to nobody

[2021-10-14 19:18] cameel opened #12145 "Cannot link unqualified library names via Standard JSON"
## Description
In Standard JSON library addresses for linking require providing a source unit name and a library name as two separate components. For linking, these two parts are joined with a colon so even if the source unit name is empty, the colon is there.

This is different from the CLI where you can provide both `L` and `:L` in the `--libraries` option and for the former will let you match a

[2021-10-14 19:38] cameel commented on #12112
Great. Something like the config you linked would be fine. I think that there would be no problem accepting a PR with that (though I think you still need to add build instructions there? Currently it only install the dependencies).

This might actually turn out to be more useful than I thought - @ryzheboka had problems with building the compiler locally to work on #10308 and is interested in tryin

[2021-10-14 19:41] cameel commented on #10308
Great. Let me know if you need any help. Maybe @nickytonline would be able to chime in too since he's using that IDE.

[2021-10-14 19:50] nickytonline commented on #12112
That's great that it could already potentially help someone who would love to contribute to the project.

For compiling the build in debug mode, I will add that back as per your instructions.

I'll put up a draft PR for now and continue on this. 😎

[2021-10-14 20:04] nickytonline commented on #10308
@ryzheboka, I'm new to the Solidity project, but am pretty familiar with Gitpod, so if you have questions, don't hesitate.

[2021-10-14 20:07] nickytonline commented on #12112
@cameel, is it customary on this project to ask to be assigned to an issue? If so, please assign this to me. Thanks!

[2021-10-14 20:09] cameel commented on #12112
Sure. I assigned you.

[2021-10-14 20:36] chriseth commented on #12112
I'm not sure how many resources are available in the cloud for this, but I almost never build in debug mode because the binary is extremely big, the build time is increased (mostly due to linking large files) and the test runs take much longer.

Is it possible to have multiple build profiles for this hosted IDE?

[2021-10-14 20:37] chriseth commented on #12112
Oh and by the way, my preferred build mode is `-DCMAKE_BUILD_TYPE=` which is neither release nor debug mode, but builds fastest.

[2021-10-14 20:48] bshastry opened #12147 "[Codegen] Create2 not executed in legacy optimized code"
[code]

If one were to record calls made by EVM Host (see https://github.com/ethereum/solidity/blob/1e630fc5840bb12ad9bca2dcf1f6c534c9ba8d31/test/EVMHost.cpp#L857-L876), legacy optimized bytecode seems to not issue the `create2` call whereas IR optimized bytecode does.

[2021-10-15 10:13] bshastry opened #12149 "`AssemblyException` in inline assembly when reusing the name of a recursive function"
[code]

throws

https://github.com/ethereum/solidity/blob/1e630fc5840bb12ad9bca2dcf1f6c534c9ba8d31/libsolidity/interface/CompilerStack.cpp#L1225

To reproduce

[code]

[2021-10-15 10:15] bshastry commented on #12149
Note that this is not reproducible via IR optimized code i.e.,

[code]

does not throw

[2021-10-15 13:20] ryzheboka commented on #12112
Thanks, I could finally build solidity from source and run it using Gitpod! Gitpod wouldn't build without the option -DUSE_Z3=OFF

[2021-10-15 13:23] ryzheboka commented on #10308
Building on Gitpod with the config from #12112 worked! I need to get more comfortable with Gitpod, and I will work on the issue from there.

[2021-10-15 15:40] cameel commented on #12112
I see that the config does install libz3 so I suspect this might be because it's too old. What was the error message?

We normally require the latest stable version (4.8.12) because that's the only version where SMT tests will pass. We maintain a PPA that provides this version (see [Installing the Solidity Compiler > Linux Packages](https://docs.soliditylang.org/en/latest/installing-solidity.html#

[2021-10-15 16:18] nickytonline commented on #12112
It seems to install 4.8.7 and I can't figure out why it's not installing latest for z3. Still digging.

[2021-10-15 16:36] cameel commented on #12112
Probably because the distro (is it Ubuntu, Debian or some other Debian derivative?) does not ship the latest version yet. That's why we maintain the PPA. Please use it.

[2021-10-15 17:19] soroosh-sdi commented on #12014
please move this issue to `Done`, after merging #12021.

[2021-10-15 18:07] cameel opened #12152 "Generalized `FlagSet` class"
Related to https://github.com/ethereum/solidity/pull/11944#discussion_r711333725.

In #11944 we added the [`DebugInfoSelection`](https://github.com/ethereum/solidity/blob/develop/liblangutil/DebugInfoSelection.h) class that represents a set of flags for selecting various debug info components. It provides helpers for parsing these flags from CLI and Standard JSON input and allows iterating over th

[2021-10-15 18:13] cameel commented on #10274
Another thing are all the outputs available in assembly mode in Standard JSON. #12074 allows selecting outputs in assembly mode but does not add anything beyond what compiler was already printing.

[2021-10-15 18:22] cameel opened #12153 "Output selection is not validated in Standard JSON"
## Description
The compiler does not validate the values specified in the output type array inside `settings.outputSelection` in Standard JSON. It does not report an error if you specify an output that does not exist. This makes it harder to notice a problem if you misspell it or e.g. use something like `evm.metadata` instead of `metadata`.

## Steps to Reproduce
[code]
This compiles without error

[2021-10-15 18:35] cameel opened #12154 "Document assembly-mode outputs and make them all available on the CLI"
Depends on #3870/#12074.
Part of #10274.

Currently the only outputs available in assembler mode on the CLI are: ``--asm``, ``--bin``, ``--ir-optimized`` and ``--ewasm``. `settings.outputSelection` in Standard JSON actually provides more (see [`StandardCompiler::compileYul()`](https://github.com/ethereum/solidity/blob/1e630fc5840bb12ad9bca2dcf1f6c534c9ba8d31/libsolidity/interface/StandardCompiler.

[2021-10-15 20:10] cameel commented on #12014
Sure. Move to "review in progress" now. It will get moved to "done" automatically when the issue is closed.

Merging needs to wait for #12150 unfortunately.

[2021-10-16 11:46] ghost opened #12156 "Infinite gas estimation for `transfer()`"
I am getting this error every time I try to run this solidity code. Gas requirement of function SmartWallet1.withdrawMoney is infinite:
[code]

[2021-10-16 15:20] kazuki-hanai commented on #7763
I'm very interested in this issue and would like to make a contribution to it. I usually use vim but there seems to be no LSP for Solidity in vim. I feel the inconvenience much, so I would like to improve this condition.

[2021-10-16 16:22] cameel commented on #12156
This does not appear to be an error message produced by the compiler. Please add more information to the issue. What tool are you using? What versions? What are the exact steps to reproduce the error? What do you expect to happen?

I tried running your example through the compiler, this is the estimation I get:
[code]
[code]
That's on 0.5.17. Version 0.8.9 (after replacing `function()` with `fallb

[2021-10-16 23:56] akali commented on #12153
Hi! I would like to take this issue

[2021-10-17 09:02] vowchick commented on #10738
There is only one instance left from that list:
test/libsolidity/util/ContractABIUtils.cpp:#include <boost/range/algorithm_ext/for_each.hpp>
And simply changing boost::for_each to std::for_each doesn't compile, so i don't know if we can get rid of it now

[2021-10-17 13:04] ghost commented on #12156
I am not sure if it's an error or a bug. I am running this code on remix-ethereum. The debug console shows this warning and does not allow transferring any funds, though the contract is deployed.

![image](https://user-images.githubusercontent.com/92217664/137628329-ea10cb99-bd3e-4038-ae67-59ec63aff9a7.png)

[2021-10-17 14:41] ghost commented on #12156
![image](https://user-images.githubusercontent.com/92217664/137632348-1eed2002-a661-472e-b7e6-ea2699ee2390.png)

Here is the error message that is sent from the blockchain,  whenever I try to transact through the contract.

[2021-10-17 15:41] cameel commented on #10738
How about changing it to an ordinary loop that iterates over the result of `ranges::views::zip()`?

[2021-10-17 20:50] cameel commented on #12090
I found a case that triggers an assertion at a different position in the same file on 0.8.9. Seems to be related to this issue - it's caused by Yul functions with the same name and different returns defined in different Solidity functions:

`contract.sol`:
[code]
[code]
[code]

EDIT: The example above is actually inline assembly while this issue is about Yul but I think the cause might be the same

[2021-10-17 21:13] cameel opened #12158 "ICE when defining multiple Yul functions with the same name but different arguments/returns in inline assembly"
## Description
If a Yul function with the same name is defined again with different parameters and/or return parameters in a completely different scope in inline assembly, the compiler throws an ICE.

It happens only with the new code generator and I did not manage to reproduce it with optimizer enabled.

It's probably related to #12090, but this one can be triggered using inline assembly rather t

[2021-10-17 21:39] cameel commented on #12090
I decided to report this case as a separate issue after all (#12158) because maybe for inline assembly solution should be different (we don't necessarily have to disable named labels) and because it can't be triggered by only giving the functions the same name.

[2021-10-17 21:52] cameel commented on #12149
Here's a simpler repro (on 0.8.9):
[code]

I think it's the same problem as in #12090 (or #12158), just manifesting at the inline assembly level. If you try to compile the inline assembly as a standalone yul file, you get the same error as in #12090 (an `AssemblyException` with the same message):

[code]

[2021-10-18 08:49] #12081 closed, assigned to mau211

[2021-10-18 14:16] agroce opened #12159 "ICE in UserDefinedValueType::underlyingType() when the the type is used before it is declared"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer

## Environment

- Compiler version:  0.8.10-develop.2021.10.14+commit.1e630fc5.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environmen

[2021-10-18 15:09] agroce commented on #12159
Fails on 0.8.10-develop.2021.10.18+commit.f50dcd45.Linux.clang too

[2021-10-18 15:55] #12063 closed, assigned to Marenz

[2021-10-18 21:09] haltman-at commented on #12153
I want to actually suggest *not* doing this.  Or at least, adding a way to turn off such a thing.  (This is obviously based on my point of view of working at Truffle and having worked on the code that interfaces with the compiler.)

The fact that the Solidity compiler *doesn't* validate `outputSelection` makes it really easy to write code that works with multiple versions at once.  You know the pa

[2021-10-19 11:52] chriseth commented on #12149
The double-invocation of the modifier is interesting! Will add it as a test.

[2021-10-19 13:56] bshastry opened #12161 "[Testing] Library deployment fails due to optimization error in an unrelated contract in a separate source file"
[code]

fails during optimization. To reproduce,

[code]

Not sure why errors in contract should affect library deployment.

[2021-10-19 14:02] bshastry commented on #12159
Thank you for reporting the issue! Smaller repro

[code]

[2021-10-19 14:17] agroce commented on #12159
BTW, either solc is getting less buggy over time, or is being fuzzed pretty aggressively; my fuzzer instances don't come up with anything new very often now, though there is a minor sticking point that they report many instances of crashes due to `FixedPointType not implemented.` or solfuzzer hitting a stack limit in json parsing.

[2021-10-19 15:00] chriseth commented on #6584
Let's try to see if this is doable in a non-dangerous way for `{... _;}`-modifiers

[2021-10-19 15:08] chriseth commented on #12161
isoltest always compiles all contracts - why shouldn't it?

[2021-10-19 16:00] bshastry commented on #12161
Okay, I suppose it is fine. I'll close this issue because this is expected behavior and the root cause of the failed deployment is well-known (see https://github.com/ethereum/solidity/issues/11642)

[2021-10-19 16:00] #12161 closed, assigned to nobody

[2021-10-19 16:21] cameel commented on #12156
I don't think the warning and error you're showing above are related. Gas estimation can't cause a revert.

I suspect that the account you're trying to transfer from might simply not have enough funds to make the transfer and that's why it reverts. The warning you see on the console would probably be there even if the transaction succeeded (simply because the gas estimator returns an infinite esti

[2021-10-19 16:21] #12156 closed, assigned to nobody

[2021-10-20 06:19] ryzheboka commented on #10308
Could please help me with a question about creating a LinkerObject from CommandLineInterface::link(). Do I need to iterate through the hex-encoded bytecode in m_fileReader.sourceCodes() to create the map of offsets of the placeholders (linkReferences)? Or is it already implemented in solidity, so I just need to call the right function?

[2021-10-20 08:04] cameel commented on #10308
Yeah, you need to iterate over it. That's basically what CLI is doing right now, it just replaces the placeholders instead of creating a map.

I don't think we have this implemented anywhere because normally we don't have to look for these references. We store their locations when we append instructions to the binary while it's being created.

[2021-10-20 12:53] nickytonline commented on #12112
I didn't forget about this. I had some other things come up last week. I have installed the ppa as you had suggested @cameel, but just sorting out a few things in regards to that. Apparently the PPA doesn't support the Ubuntu version in the default image on Gitpod. Just looking into sorting that out.

[2021-10-20 15:43] cameel commented on #12153
Honestly I'm a bit surprised that other options in Standard JSON do not already cause this problem but maybe that's because a lot of them are dictionaries and there stray keys might not be always rejected?

Anyway, this is not a high priority change, just something that has bitten me when I was testing stuff and seemed pretty straightforward to fix. I thought adding these validations would be a cl

[2021-10-20 16:00] #10298 closed, assigned to soroosh-sdi

[2021-10-20 16:48] cameel commented on #10278
@axic I have just noticed a problem here. I think that `solc --import-ast` only accepts input produced by `--combined-json ast`. The format of `--ast-compact-json` is different. We should probably provide a replacement before we drop `--combined-json`.

[2021-10-20 17:01] cameel opened #12168 "Wrong code snippets printed for errors in `--import-ast` mode"
## Description
If you save the AST using `solc --combined-json ast` and then load it with `solc --import-ast`, the code snippets included in errors printed to the console show bits of the JSON input rather than actual code.

Since the original source is not available in the AST import mode, the only solution seems to be to show only file name and line number.

## Environment

- Compiler version: 0

[2021-10-20 17:19] cameel commented on #12112
Which version is that? We're generally dropping support for old versions eventually to make maintenance easier (getting up to date versions of libraries and compilers is a pain) but knowing what is used in practice might make us hold on to them a bit longer in the future.

[2021-10-20 18:41] nickytonline commented on #12112
It's actually a newish version, Ubuntu 20.04.3 LTS (Focal Fossa). It appears to not support Focal Fossa, or maybe I'm reading the logs incorrectly.

I ran `sudo apt-add-repository -y ppa:hvr/z3` based on what I saw in the deps script.

[code]

Full log:

[code]

[2021-10-20 21:05] bshastry opened #12169 "[Yul Optimizer] Do not move loop invariants that consume a lot of gas"
This is a weird one.

[code]

fails via Yul.

To repro

[code]

[2021-10-20 21:21] bshastry commented on #12169
Asm diff that I tried to make sense of but gave me :-(

https://gist.github.com/bshastry/0cbd6bb471f3b9c22ebf4b859669ce08

`---` obtained from `solc test.sol --experimental-via-ir --asm`
`+++` obtained from `solc test.sol --ir-optimized --asm`

[2021-10-20 22:42] haltman-at commented on #12153
Good question. :)  The actual answer is there output selection is the only setting that we routinely set ourselves!  The other settings are left to the user, so, if they put in settings that the particular version they're using doesn't recognize... well, that's not our fault. :)

(In `truffle test`, we *do* in certain conditions set `settings.debug.revertStrings`, and we *do* have to put a version

[2021-10-21 00:32] wjmelements commented on #8153
Since the evaluation of a pure function depends on its immutable code, it seems silly to prevent codecopy or reading from immutable variables inside `pure` functions. Pushing a constant to the stack isn't conceptually different from pushing an immutable; both are in the code. But currently the constant allows `pure` but the immutable requires `view`.

[2021-10-21 05:36] barakman opened #12171 "Contract size warning missing a crucial bit of information required in order to fix it"
## Abstract

When a contract exceeds the maximum size (24K), it would be very helpful to know the actual size of that specific contract.

## Motivation

Allowing the developer to perform a more efficient process of reducing the "rogue" contract.

## Specification

In https://github.com/ethereum/solidity/blob/develop/libsolidity/interface/CompilerStack.cpp#L1241-L1255, change this:
[code]
To I gues

[2021-10-21 10:26] bshastry commented on #12061
Another example reported by the fuzzer

[code]

fails via IR

[code]

[2021-10-21 10:30] cameel commented on #12153
That's an interesting idea. It is a bit hacky but not overly so. We already support some special values like `*`. So e.g. we could make the compiler disable validation if you include `?` as one of the items. Or maybe something like `_ignore-invalid-values` if we want it to be more self-explanatory.

Another idea would be to allow appending/prepending `?` to values to make the compiler skip them if

[2021-10-21 10:36] cameel commented on #12171
True, the message would be more informative with the size included.

[2021-10-21 10:40] barakman commented on #12171
Thank you @cameel... Why 'good first issue' though? I've been posting issues here since v0.4 :)

[2021-10-21 10:44] cameel commented on #12112
We do support focal:
https://github.com/ethereum/solidity/blob/ef21e43fa36be8ff58725133aa5bb6e74bd06baf/scripts/deps-ppa/static_z3.sh#L30

Oh, so that's the problem :) This does not look like our PPA. Please try `add-apt-repository ppa:ethereum/ethereum` (see [Installing Solidity > Linux Packages](https://docs.soliditylang.org/en/latest/installing-solidity.html#linux-packages)).

[2021-10-21 10:49] cameel commented on #12171
Haha, it's not saying that it's first issue reported by you but that it's a good candidate to be picked as a first issue by a contributor :) With this label it will appear under https://github.com/ethereum/solidity/contribute and we have Hacktoberfest now so there's a high change that someone will pick it up soon. That's generally a good thing because these easy issues do not usually have a high p

[2021-10-21 12:11] bshastry commented on #12169
Another example

[code]

fails similarly via optimized IR.

[2021-10-21 21:55] haltman-at commented on #12153
If you want to avoid too much awkward naming and special-casing, it could perhaps be a fake form of output, rather than a fake source or contract?  And then it would presumably be specific to the specific area where it's used, but, I don't think that's a big problem.

[2021-10-22 00:54] BoyanP commented on #12171
Could i pick this one up? @cameel

[2021-10-22 02:07] akali commented on #12011
Creater PR for this issue, skipped metadata as it prints json in a bit different way

[2021-10-22 03:30] lopezdp commented on #8363
what! I need gasleft() in my life man! Even better would be a way to help me figure out how to get tx.gasprice to work so I can get the actual gasprice in a contract one day! :)

[2021-10-22 03:33] lopezdp commented on #11219
im seeing that today too. I tested `tx.gasprice` on its own today and it just returns 0... I need this guy!

I get the same out of gas error in Koran too:

https://kovan.etherscan.io/tx/0x82d562f100e866a9ac9a913c7d95a4d5c4b330e51fa5291bc63a6669bf3121f1

[2021-10-22 08:53] cameel commented on #12171
Looks like we already have a PR for this (#12177).

[2021-10-22 12:59] ryzheboka commented on #10308
CommandLineInterface implements linking by iterating over all source code files, but a linker object only has one bytecode. Do I need to create a linker Object for every file? If my questions are too much, the issue might still be too hard for me.

[2021-10-22 14:13] cameel commented on #10308
Yes. `LinkerObject` represents bytecode of a single contract and the `--link` option expects one contract per file.

Not a problem at all. Ask for as much detail as you need. If there's something that needs more back and forth discussion, you might want to drop in on the gitter channel instead :)

But if you'd like to try something easier as a warmup, maybe something from #12011 would be good? You

[2021-10-22 14:48] cameel commented on #10308
Actually, looks like #12179 covers the whole PR. Before reviewing it I thought it only did part of the options. In that case you might want to try #5474 or #11917 instead.

[2021-10-22 15:50] soroosh-sdi commented on #11845
Could you move this issue to `Done`?
@cameel

[2021-10-22 17:01] cameel commented on #11845
It's not done though :) We still need the runtime check I mentioned in https://github.com/ethereum/solidity/issues/11845#issuecomment-917089296.

[2021-10-22 17:15] cameel commented on #11846
While working on CI tasks today I realized that it's possible to pass step lists as parameters and that step lists can be wrapped into reusable commands. This could be used to further simplify the configuration. I added new items to the list in the description.

[2021-10-22 19:07] cameel commented on #11959
For anyone who will be implementing it: a good way to find places that use severity values other than `error`, `warning` or `info` is to assert in `SourceReferenceFormatter::printExceptionInformation()` that it must be one of these three values, then run command-line tests.

[2021-10-22 19:32] cameel commented on #12153
Yeah, that was exactly what I had in mind. Adding it at a source/contract level would be problematic because source unit names have literally zero restrictions. Contact names have more but putting it as one of the outputs seems safer to me.

[2021-10-22 19:49] cameel commented on #11670
That's true for Windows but looks like for macOS the cost/performance scaling is more linear (double cores+RAM = double price). So its seems worth trying.

Anyway, after working with CI today I realized that our machine allocation in general could be better optimized. We never use `small` even though there are some jobs that are pretty light and only use one core. I have updated the title and desc

[2021-10-22 19:50] haltman-at commented on #12153
Oh OK, cool!

[2021-10-23 08:25] ryzheboka commented on #10308
Thanks for your answers :)

I will try to finish rewriting the CommandLineInterface::link() method. I have an idea how it could be done. I need to create a LinkerObject for each file by iterating through the code and saving the offsets (difference between current pointer and the begin of the current file) into the linkReferences map. Then, I convert the content of the file from string to hex integ

[2021-10-23 22:15] Nielsbishere opened #12183 "Syntax for declaring multiple variables at the same time"
The following syntax isn't allowed, but it is a very nice feature:
[code]
Same thing as:
[code]
Just more concise. Same thing with this:
[code]
And
[code]

[2021-10-24 08:44] cameel commented on #12183
This feature has already been proposed in #537 (declarations) and #11517 (loops) and rejected.

[2021-10-24 08:44] #12183 closed, assigned to nobody

[2021-10-24 13:48] SKFrozenCloud commented on #683
I concur, malloc is really dangerous.

As a Solidity developer, I think it is expected of you to know the pitfalls and the limitations of any function or code you write.
In some instances there are no bad consequences of a "bad" function (such as tx.origin) being used.
Removing it or changing its functionality is not the way to go.

In my contract I assume that "tx.origin == msg.sender" could be c

[2021-10-25 10:55] bshastry opened #12185 "Compile time constants in contracts not correctly analyzed"
I was hoping the following would work but it doesn't

[code]

[code]

Perhaps, it's a matter of maintaining the knowledge of constants in getter functions?

[2021-10-25 11:15] #10854 closed, assigned to nobody

[2021-10-25 11:16] hrkrshnn commented on #9237
@cameel can this be closed?

[2021-10-25 11:20] chriseth commented on #11969
The final question about a first and nice to use implementation is about how to make this work with literals. It would be great to be able to do `a = a + 1;`. For this, we would need to define an implicit conversion from literals to custom types. As we discussed earlier, implicit conversions from the underlying type to the user defined type should rather not be allowed.

Every literal expression i

[2021-10-25 11:31] cameel commented on #9237
Well, no :) What I did was just #10854. That was meant to be the first step of this broader issue. The point here is to have faster feedback for external tools and Hardhat was meant to be the first one to try out how it works.

As @chriseth said above, it would probably be better if each tooling project had a test run in its own CI using our latest nightly because its team definitely better unders

[2021-10-25 11:59] bassam5033 opened #12188 "I want to change the sending network from BEP20 to ERC20"
## Page

## Abstract

## Pull request

[2021-10-25 12:03] hrkrshnn commented on #12188
This doesn't look like a solidity issue. Closing.

[2021-10-25 12:03] #12188 closed, assigned to nobody

[2021-10-25 15:04] #11962 closed, assigned to nobody

[2021-10-25 15:30] cameel commented on #10308
Actually, a small clarification: there can be more than one `LinkerObject` per file. The solution must involve detecting bytecode in the input file. I'd suggest the following heuristic:
- Bytecode takes the whole line, no stray chars or whitespace allowed at the beginning or end.
- It can contain only the following chars: `0-9`, `a-f`, `_`, `$`.
- Two pieces of bytecode must be separated by at lea

[2021-10-25 15:50] #12090 closed, assigned to chriseth

[2021-10-25 15:50] #12149 closed, assigned to nobody

[2021-10-25 15:50] #12158 closed, assigned to nobody

[2021-10-25 18:06] hrkrshnn commented on #12185
I don't think this should work. There should be no difference between `C` and an interface to `C`. In that respect, `c.c()` should always be an external call. So the compiler should not replace it with `3`.

[2021-10-26 02:25] abliss opened #12189 ""assert" example is a poor example"
## Page

https://docs.soliditylang.org/en/v0.6.2/control-structures.html?highlight=assert#id4
## Abstract

The page describes "assert" saying that it "should only be used to test for internal errors, and to check invariants. Properly functioning code should never reach a failing assert statement; if this happens there is a bug in your contract which you should fix." By contrast, "The require funct

[2021-10-26 08:26] hrkrshnn commented on #12189
Transfer currently only forwards at most 2300 gas. A value transferring call needs at least 9000 gas. Therefore, a callback cannot forward ETH. Callbacks can happen, though; but cannot transfer ETH or modify state in other ways.

Closing this for now. Feel free to comment if you have questions.

[2021-10-26 08:26] #12189 closed, assigned to nobody

[2021-10-26 08:48] ryzheboka commented on #10308
The current solution in CommandLineInterface takes up less code than the one using LinkerObject would take. It also seems more readable/understandable, because it just replaces the placeholders without parsing anything else. Should I still continue to implement the other solution?

[2021-10-26 08:53] chriseth commented on #12185
I agree. You don't really know what happens when you call `c.c()` - if you want the actual constant you should use `C.c` - I think that could work. In general, if you want constants to be available outside of contracts or in other contracts, put them outside contracts.

[2021-10-26 09:05] chriseth commented on #12168
This is a known limitation, and I think it is better to preserve the debug info than removing it. Also note that json ast import is a very rarely used feature, so we should be careful not to complicate the debug info just because of this.

[2021-10-26 09:13] chriseth commented on #12147
This is weird because I see `create2` is both assembly outputs. Can you re-check, please?

[2021-10-26 09:23] bshastry commented on #12185
afaik, `C.c` does not work at the moment at least not when it is assigned to another like typed constant.

Please let me know, if you prefer closing this issue or renaming it `make C.c accessible` or something. I'm fine closing it.

[2021-10-26 09:35] cameel commented on #12168
Can't we just print the file name and line number without printing the snippet?

[2021-10-26 09:51] cameel commented on #10308
Yeah, we still want it. The reason we do this change is to avoid having linking implemented independently in two different places. Until very recently for example the `LinkerObject` supported unqualified library names while `--link` option did not. It was ultimately [removed](https://github.com/ethereum/solidity/pull/12073/commits/816d8021e4f57b1b32eb3ce1fbfa421a585a0f0f#diff-4c2eb24107a9f3181c181

[2021-10-26 10:20] chriseth commented on #12168
We can, but we first need to know about this situation.

[2021-10-26 10:41] #10787 closed, assigned to nobody

[2021-10-26 10:48] Marenz commented on #12153
Couldn't you keep that approach and just ignore/accept/display the error? You'd have the same behavior?

[2021-10-26 11:52] chriseth commented on #12153
I skipped all the comments above, but I think we should only validate keys that are actual static keys and not things that are contract or file names. If you request something that does not exist then it will not end up in the output and you will notice it anyway....

[2021-10-26 11:54] chriseth commented on #12185
Right, it only works for libraries. I think it's fine as it is, at least nobody has complained so far, and requiring constants to be at file level is fine I think.

[2021-10-26 11:54] #12185 closed, assigned to nobody

[2021-10-26 12:12] bshastry commented on #12147
Closing because I am no longer able to reproduce this.

[2021-10-26 12:12] #12147 closed, assigned to nobody

[2021-10-26 12:12] cameel commented on #12153
@chriseth

Right, this issue is only about validating the array of output types, i.e. the part that contains values like `evm.bytecode` or `metadata`. These are completely static for a given compiler. They can change between versions though.

To summarize my discussion with @haltman-at above:
- Using `["xyz", "evm.metadata", "ZZZZZZZZZZZZZZZZZZZZZZZZZZ", ""]` would be a validation error.
- There w

[2021-10-26 13:21] Marenz commented on #12153
ah, you still get a contract when the output is ignored?

[2021-10-26 13:33] Marenz commented on #12153
A middle way could be to have a warning?

[2021-10-26 14:06] chriseth commented on #12153
This kind of sounds like it would create more trouble than it would solve problems...

[2021-10-26 14:09] cameel commented on #12153
Yeah, what you are ignoring is just a part of the output, which possibly is just not supported by your version of the compiler. E.g. you want `generatedSources` but your compiler is too old.

I think a warning for this would be annoying and user could not do anything about it.

The validation or the warning?

When working with Standard JSON I had several situations where I thought I was just not g

[2021-10-26 15:05] ryzheboka commented on #10308
Thanks for the explanation about placing the parts of code in LinkerObject :)

Is it ok if I use the option -DUSE_Z3=OFF to build and test solidity for this issue? Or do I need to change the configuration in Gitpod? I get the following error without using  -DUSE_Z3=OFF:

 -- Found Z3: /usr/lib/x86_64-linux-gnu/libz3.so (found version "0.0.0")
CMake Error at CMakeLists.txt:83 (message):
  Solidity

[2021-10-26 16:08] cameel commented on #10308
Yeah, it's completely fine. This PR has nothing to do with SMTChecker so Z3 should not make any difference. And in the very unlikely case that it does, CI checks will catch it so no worries :)

I mean, the GitPod config should use Z3 but that's a separate matter and hopefully it will be resolved in #12146. For this PR not having will not cause any trouble.

[2021-10-26 17:11] drortirosh opened #12196 ""unchecked" code is not truly unchecked"
The `unchecked {}` construct is very beneficial, to prevent unnecessary  checks, where the developer knows these checks are already made elsewhere.
however, there are checks that still get into the code even if "unchecked" is specified.

e.g there is a call to EXTCODESIZE before each "call", to make sure the target is indeed a contract and not an EOA.
This is not always required, in case the code

[2021-10-26 17:19] axic commented on #12196
I think this is a duplicate of #11125.

[2021-10-26 19:58] haltman-at commented on #12153
Right, exactly -- if solc errors, we get nothing; if it silently ignores nonexistent output selection, then we can still get bytecode, ABI, source maps, etc, just maybe we don't get generated sources or immutable references or such.

[2021-10-27 09:00] hrkrshnn commented on #12196
Unless the contract was selfdestructed between. Maybe we can add an optimization rule where `extcodesize` would be an invariant as long as there are no state modifying operations in between (excluding `staticcall`, `sstore`?)

Note that since EIP-2929, the additional `extcodesize` check costs 100 (previously 800).

I was somewhat against this idea in the past, but now that users are really writing

[2021-10-27 09:08] hrkrshnn commented on #12196
Currently, `unchecked` is used exclusively for arithmetic overflows--a replacement for the SafeMath libraries. For example, conversions are still unchecked currently. If we decide to go this route, `unchecked` might not be the right keyword for this.

[2021-10-27 09:39] ryzheboka commented on #10308
@nickytonline, could you please help me with Gitpod? Yesterday, I could start building solidity, but somehow it doesn't work today anymore. The gitpod.yml has been run when I start the project, and it seems to install Boost. However, today, I get the following error after running cmake in the build directory:
"CMake Error at /home/linuxbrew/.linuxbrew/Cellar/cmake/3.21.3/share/cmake/Modules/FindPa

[2021-10-27 10:53] cameel commented on #8557
Looks like [ethregistrar](https://github.com/ensdomains/ethregistrar), [ens](https://github.com/ensdomains/ens) and possibly some other repos got consolidated into [ens-contracts](https://github.com/ensdomains/ens-contracts) and all of it seems to be on 0.8.4 now.

In that case just switching the ens ext test to this new repo should solve this.

[2021-10-27 11:33] cameel commented on #5956
I have updated the description to add more details, some projects we brainstormed with @hrkrshnn on gitter yesterday and some links for finding more projects.

[2021-10-27 11:56] cameel commented on #5956
Added tokens from @erak's comment to the description. Unfortunately all of them seem to have remained on older versions. None of them is even on 0.7.x yet.

[2021-10-27 12:56] cameel commented on #11969
Another idea would be to allow something like [user-defined literals in C++](https://en.cppreference.com/w/cpp/language/user_literal). Not sure what the best syntax for declaring them would be but for use it would be `a = a + 1_suffix` or maybe `a = a + 1:suffix`.

[2021-10-27 12:58] cameel commented on #12153
We discussed this today and opinions were split. Not everyone agrees that validating this is a good thing and also this is a very low priority thing so I'm moving this to the Icebox. It probably won't be implemented unless we get some actual demand for these validations.

[2021-10-27 13:16] cameel commented on #12196
I'm going to close this as a duplicate. @hrkrshnn can you repost your comments in the other issue?

[2021-10-27 13:16] #12196 closed, assigned to nobody

[2021-10-27 14:12] hrkrshnn opened #12204 "Remove the extcodesize check for external calls that expect returndata"
Currently, a high-level call `C.f(...)` does an `extcodesize` check before the `call`  and reverts if the address has empty code. However, this check can be avoided for function calls that are expected to return data. Because such calls are followed up by abi decoding the return data, which has a check for `returndatasize` is being at least a non-zero number. So for empty contracts, they would alw

[2021-10-27 14:12] #12159 closed, assigned to hrkrshnn

[2021-10-27 14:13] hrkrshnn commented on #12196
A reasonable compromise is https://github.com/ethereum/solidity/issues/12204. Done automatically by the compiler.

[2021-10-27 14:13] hrkrshnn commented on #11125
About `extcodesize`: see https://github.com/ethereum/solidity/issues/12204 for a middle ground.

[2021-10-27 14:17] chriseth commented on #12204
Both abi decoders use
[code]
and then check that the return size is at least encoded size. This means we can remove the extcodesize check if `encodedSize` is nonzero (we should not rely on the number of return parameters).
Also, we can only do this if
 - we have an evm version that supports returndatasize and
 - revert strings are disabled (the extcodesize check has a different message)

[2021-10-27 15:13] chriseth commented on #11969
We already have `_` as a separator in numbers, so I think supporting such suffixes is a good idea. Also it reads nicely as `10_km` or `100_ether`, `10_dai` or `7_fixed`.

How do we mark functions that can be used as these prefixes?

[2021-10-27 17:03] agroce opened #12208 "Extremely long SPDX comment results in a segfault"
## Description

[segfault.zip](https://github.com/ethereum/solidity/files/7428026/segfault.zip)

The attached contract produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer

## Environment

- Compiler version:  0.8.10-develop.2021.10.27+commit.7ebf71f3.Linux.clang
- Target EVM version (as per compiler settin

[2021-10-27 18:02] drortirosh commented on #12196
This solves some cases.
Still, a developer control is still needed.
As an example, we have another case where one contract makes multiple calls to another contract.
There is no need to repeat this check for extcodesize

[2021-10-27 19:44] cameel commented on #12208
Thanks for the report!

Simpler repro:
[code]

This started happening on 0.8.8. The original repro has some special chars in it and a contract but the bug seems to be specifically in the SPDX comment parsing and a very long comment is enough to trigger it. In GDB I get an enormous stack trace that just keeps printing. It's somewhere in the C++ regex library. I think it recurses too deeply. Probabl

[2021-10-27 20:56] nickytonline commented on #10308
I'm still sorting that out. Got pulled on other stuff.

@ryzheboka, I'm going to take a look at that as I'm going to get back on that PR.

[2021-10-28 01:12] hpumengzhao opened #12210 "A slight difference in gas when deploying smart contracts"
When I deploy the smart contract below, the gas is 99621(On the remix, the version of the compiler is 0.8.9, with optimization-runs=200).
[code]
After I changed it to:
[code]
the gas at deployment is 99405.

After comparing their assembly code, I found that it was because of the different order in which the expression parameters were put on the stack.

In the same way, I tried the following two sm

[2021-10-28 09:35] chriseth opened #12211 "Why is struct_copy.sol so badly optimized?"
Most of the `mstore` calls in https://gist.github.com/chriseth/05075e7706c8ea3f1ac628a28be486f7 are redundant and also the `keccak` call should only be evaluated once. Why does it perform so badly?

[2021-10-28 09:39] bshastry commented on #12111
Another example that came up during fuzzing

[code]

Legacy returns 65535 bytes, IR returns 255 bytes. The difference is because IR cleans up the function argument before the call is made but legacy does not.

[2021-10-28 10:59] hrkrshnn commented on #12196
@drortirosh Would you consider https://github.com/ethereum/solidity/issues/11849 to be a way for the developer to control this? If you have a function `f` without returndata, then `<address>.call(abi.encodeCall(f, (args))` would be both typesafe, avoids the `extcodesize` check and hopefully not too clumsy. Currently, `<address>.call(abi.encodeWithSelector(...))` would also be a way to avoid the `e

[2021-10-28 13:15] chriseth commented on #12061
So is this something new or not?

[2021-10-28 13:19] chriseth commented on #12169
This seems to be due to loop-invariant code motion. cc @hrkrshnn
Maybe we should not pull out things that are potentially very expensive?
On the other hand, the assumption was that if a loop is present in the code, we expect it to be executed at least once.

[2021-10-28 13:21] chriseth commented on #12087
Is this breaking?

[2021-10-28 13:23] axic commented on #12087
The return argument change is in my opinion. Making it to accept `string...` input next to `bytes...` is not breaking, but disallowing `bytes...` is breaking again.

[2021-10-28 13:24] chriseth commented on #12087
Sure, but we could also just say it is a bugfix.

[2021-10-28 13:31] chriseth commented on #12088
I think this can still be closed.

[2021-10-28 13:31] #12088 closed, assigned to nobody

[2021-10-28 13:38] bshastry commented on #12061
This is a frequently reported issue for the IR i.e., function parameters are sometimes not reset especially during double modifier invocation.

[2021-10-28 14:28] drortirosh commented on #12196
IMHO, requiring me to add a return value to a function signature just to make it cheaper doesn't seem right.  Just consider a case where a user want to use an existing ABI (e.g. token transfer)

I think that the current `unchecked` gives an impression that "no checks are done" - which is not exact
I think should have parameter one (or more) of:
- math
- call-target
- array index
- all

For backwar

[2021-10-28 15:03] hrkrshnn commented on #12196
@drortirosh Perhaps, it's better to add your concerns about `unchecked` in the other issue, i.e., https://github.com/ethereum/solidity/issues/11125

Maybe I didn't communicate this clearly, the idea is that if we want to avoid the `extcodesize`, we use a low-level `call`. Either `address.call(...)` or inside inline assembly; it fits well with the philosophy that fine-grained control should be done

[2021-10-28 16:00] hrkrshnn commented on #12169
Yeah, the issue is with loop invariant code motion. The `keccak` is taken out of the loop, where it fails out of gas.

[2021-10-28 16:06] hrkrshnn commented on #12169
To be fair, there is no way to fix this without preventing `mload`, `keccak` from getting taken out of the loop. Especially if the offsets are not static. It's somewhat implicit that the optimizer assumes infinite gas, but this is a grey area, since EVM implementations seems to explicitly use `2**32` as max memory size and revert in all other cases. So not sure how we want to proceed here.

[2021-10-28 17:36] bshastry commented on #12169
Just to be precise, the assumption would be `if loop present, all paths inside the loop body are executed at least once`?

[2021-10-28 19:56] drortirosh commented on #12196
`address.call(...)` has its own set problems...
It is more expensive to do `address.call(abi.encodeWithSelector(...)` than it is to make a direct call. somehow, the encoding method is far less efficient than encoding for making an actual call
(the more parameters you add the more inefficient the code becomes.)

We make calls that get structure as parameters. it is possible to encode with abi.encod

[2021-10-28 22:18] #12171 closed, assigned to nobody

[2021-10-28 23:29] cameel commented on #11670
### Observations
- Most jobs don't use all CPU cores. We can safely give them smaller machines.
- I found only two cases where a bigger machine significantly speeds things up:
    1. **Arch Linux**: We do not set `MAKEFLAGS` so the build does not even use the 2 cores it has in `medium`. Even with that a `large` machine makes it significantly faster.
    2. **Windows**: `large` is 2x faster than `m

[2021-10-29 12:01] bshastry commented on #12169
The new codegen does assume a Max memory size, right?

See: https://github.com/ethereum/solidity/pull/11714

[2021-10-29 12:11] hrkrshnn commented on #12169
The optimizer doesn't assume this.

[2021-10-29 14:39] lightyear15 commented on #11940
not seeing any progress here :confused:
now we are stuck to version 0.6.8, releases in the ``beta`` channel
``stable`` channel is still stuck in ``0.5.16``

[2021-10-30 08:33] bshastry commented on #12169
I'm fine with closing this as won't fix since I can't think of a strong enough threat model.

I was thinking along the lines of

"Malicious smart contract steals ether (gas) by placing keccak inside a for loop that would only be evaluated if the Yul optimizer is enabled."

But I'm afraid that's not a strong enough threat model.

[2021-10-30 13:50] drortirosh opened #12217 "call(encodeWithSelector) is too expensive"
the construct
[code]

Should be equivalent to:
[code]

However, it is far more expensive - ~400 gas more.
(the actual waste is even larger, considering that normal call performs check of the address before the call, and checks for revert afterwards, while address.call does no extra checks)

The difference is even larger if parameters are also encoded.

following is a sample code to test in remix

[2021-10-31 09:24] seantw1974 opened #12218 "Why always return 0 (Use Remix IDE)"
The simple example always return zeron (0)
No matter what number we set , always return 0, Why???
Any issue ???

[code]

[2021-10-31 13:42] KukretiShubham commented on #12154
Can I be assigned?

[2021-10-31 13:49] cameel commented on #12218
Are you sure you're testing it correctly? Did you call `set()` with a non-zero value and did it execute without errors in the Remix console?

I just tried this in Remix and I did not get zero:
1. Open Remix
2. Create a new file and paste your code.
3. Click "Compile" on the "Solidity compiler" tab.
3. Click "Deploy" on the "Deploy & run transactions" tab.
4. Type 42 next to the orange button named

[2021-10-31 13:49] #12218 closed, assigned to nobody

[2021-10-31 13:54] #12014 closed, assigned to soroosh-sdi

[2021-10-31 14:01] cameel commented on #12154
This is probably not the best moment to take this task because it depends on #12074 which is still in review.

In the meantime, maybe you'd like to take one of these?
- #10275 (this one might be good as an easy warm-up for this task)
- #12119
- #11917
- #9601

[2021-10-31 14:36] KukretiShubham commented on #12154
Sure. Would like to work on #10275

[2021-10-31 14:36] KukretiShubham commented on #10275
Can I be assigned for this?

[2021-10-31 15:21] cameel commented on #10275
My suggestion would be to call the new option `--machine-readable`.

The primary goal is to make the compiler produce only the single selected artifact on stdout, without any frames, headers or any other adornment so that it can be piped to another command. The stderr should be unaffected.

### Example
For example when you use `solc test.sol --bin`, currently you get this:
[code]

With `solc test.

[2021-10-31 16:26] seantw1974 commented on #12218
what VM you choose？
I can sure I set value

Kamil Śliwak ***@***.***>於 2021年10月31日 週日，下午9:49寫道：

[2021-10-31 17:08] cameel commented on #12218
Everything left at defaults, i.e. compiler version 0.8.7 and the compiler's default for EVM which is `london` in 0.8.7.

[2021-11-01 00:59] #12210 closed, assigned to nobody

[2021-11-01 09:50] hrkrshnn commented on #12217
I think the overhead is because of extra memory copies.

[2021-11-01 09:51] hrkrshnn commented on #12208
Nice bug ;)

[2021-11-01 09:53] ekpyron commented on #11969
If we ever decide to have some kind of abstract types (resp. type classes/sorts) for generics (and want to reuse similar declarations for them), then those would have to have their (unimplemented) operators defined in place at declaration in order to work smoothly, so I'd tend to also require them to be named at declaration for normal user-defined types now, i.e. I'd go for requiring `type X is Y

[2021-11-01 10:02] ekpyron commented on #11969
The question of ``type X is Y using { ... };`` also makes me wonder:
Will user-defined types only ever be able to define *from* what types they are implicitly convertible or also *to* which types? Probably both, right? I'm wondering since if we allow defining both, then defining another type ``type Z is X using { ..everything X has plus another operator I want plus trivial implicit conversions fro

[2021-11-01 10:31] ekpyron commented on #8153
The main reason for strengthening ``pure`` would be to be able to syntactically mark functions as compile-time-constant.
[code]
will only work sanely if ``f`` does *not* depend on its code and does not involve e.g. ``codecopy`` or especially immutable access (unless you want to run a recompilation in the constructor ;-)). It can very well involve pushing constants as much as it wants, though. So t

[2021-11-01 12:03] axic commented on #10254
This was fixed with #10326, wasn't it?

[2021-11-01 12:07] axic commented on #10254
Rust ([CVE-2021-42574](https://blog.rust-lang.org/2021/11/01/cve-2021-42574.html)) and Go ([issue #20209](https://github.com/golang/go/issues/20209)) is also affected.

[2021-11-01 12:26] maurelian commented on #10254
Would be nice to get confirmation!

[2021-11-01 12:30] cameel commented on #10254
#10326 added checks against LRO/RLO/PDF but Unicode is a large beast and I'm sure there are other edge cases that can be used maliciously. The issue description/title sounds like it was meant to cover it in general, not just this specific case.

[2021-11-01 12:36] chriseth commented on #11969
As far as the "literal conversion through suffix" is concerned: The main thing that  sets this apart from actually just bound functions (`using f for *; 1.f()`) is that we do not need to call the function. So maybe we could just resort to `using` with a special type at the right hand side to say it applies to literals and does not need the function call and maybe also uses `_` instead of `.`.

[2021-11-01 13:12] ekpyron commented on #12208
If it's really the regex *implementation*, we can consider actually pulling in and moving to https://compile-time-regular-expressions.readthedocs.io/ :-). That way we could also speed up the regex patterns in the yul optimizer (during name cleanup)...

[2021-11-01 13:17] cameel commented on #12208
I rather suspect [catastrophic backtracking](https://www.regular-expressions.info/catastrophic.html). If that's the case then it's the regex itself that's the problem and using a more efficient implementation will only make it require larger input to crash :)

We might switch to a non-backtracking engine (if there's on available) but these typically support a more limited syntax.

[2021-11-01 13:56] #12061 closed, assigned to nobody

[2021-11-01 14:42] bshastry opened #12220 "[Sol->Yul] ICE when assigning msg.data to a struct member"
[code]

throws

https://github.com/ethereum/solidity/blob/5eb97fa6ee059022ac2fe146649a57b94a8572fc/libsolidity/codegen/ir/IRGeneratorForStatements.cpp#L2918

To repro

[code]

[2021-11-01 14:52] maurelian commented on #10254
Hmmm, it sounds like the checks added in #10326 are focused on unbalanced codepoints, which I interpret as similar to imbalanced brackets (ie. `()` :: `RLO LRO`)?

FWIW, the attack shown in the [Rust release](https://blog.rust-lang.org/2021/11/01/cve-2021-42574.html) doesn't look to be out of balance.

Either way, given the prominence of the announcement today, it'd be very helpful to get a statem

[2021-11-01 21:16] drortirosh commented on #12217
probably. but the question why there are those extra memory copies?

[2021-11-02 11:07] chriseth commented on #12217
The Solidity optimizer currently does not have a concept of lifetime of memory objects. Because of that, the `bytes` created in `abi.encodeWithSelector(Z.test.selector)` is persistently allocated while in `atest.test();` is it allocated only temporarily.

I'm closing this since we are very aware of this optimization opportunity.

[2021-11-02 11:07] #12217 closed, assigned to nobody

[2021-11-02 18:50] agroce opened #12222 "[SMTChecker] ICE in void solidity::frontend::CHC::externalFunctionCall(const solidity::frontend::FunctionCall &)"
## Description

Compiling:

[code]

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer

## Environment

- Compiler version:  0.8.10-develop.2021.11.2+commit.a7b13782.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environment / backend / b

[2021-11-02 18:52] agroce commented on #12222
Conceivably related to #11341, but I'm basing that on the symptom alone, really.

[2021-11-03 10:19] leonardoalt commented on #12222
Thanks!

[2021-11-03 11:54] ekpyron opened #12225 "Fix gas expectations in the semantics tests"
In https://github.com/ethereum/solidity/pull/11974 I noticed that the tests seem to pass no matter what ``legacyOptimized`` gas costs were used for the deposit contract.
The expectation only got handled correctly with a value for ``--enforce-gas-cost-min-value 1`` in ``isoltest`` and also ``soltest`` doesn't seem to fail on wrong expectation.

[2021-11-03 11:55] hrkrshnn commented on #12225
Maybe related: https://github.com/ethereum/solidity/issues/11600

[2021-11-03 11:59] ekpyron commented on #11600
For me this correctly updates ``legacy`` on an ``isoltest`` run and ``legacyOptimized`` on an ``isoltest --optimize`` run, as I would expect...

[2021-11-03 12:04] ekpyron commented on #11600
Or actually, something really weird is going on... if I start from the test case and run ``isoltest`` and then ``isoltest --optimize``, then it updates everything correctly... if I then change ``legacyOptimized`` to ``1`` in the constructor, it ignores it... if I also change ``legacyOptimized`` to ``1`` for ``x()`` though, it updates again...

[2021-11-03 12:05] ekpyron commented on #12225
It indeed also was the constructor call in my case, so maybe a duplicate - but the conditions under which it happens seem a bit fuzzy.

[2021-11-03 12:06] cameel commented on #12225
Which tests was that? #11974 has a lot of them :)

`--enforce-gas-cost-min-value` defaults to 100000 so maybe that is the issue? Do we want to lower it? Or make soltest not ignore it and instead have isoltest remove the directive if it's below min value?

[2021-11-03 12:08] ekpyron commented on #12225
As I said: it was the constructor for the deposit contract.
The gas expectations for that seem to be incorrect on develop even.

Try running ``build/test/tools/isoltest -t sem*/ext*/deposit* --enforce-gas-cost-min-value 1 --optimize`` and/or
``build/test/tools/isoltest -t sem*/ext*/deposit* --enforce-gas-cost-min-value 1`` on ``develop``.

Which means it's not only ``isoltest``, but also ``soltest

[2021-11-03 12:09] ekpyron commented on #12225
Also in both cases the value is way beyond 100000.

[2021-11-03 12:09] cameel commented on #12225
ok, in that case it does sound like a bug.

[2021-11-03 12:11] ekpyron commented on #12225
Actually it's also not only ``legacyOptimized``, but also ``ìrOptimized`` (just didn't notice it since you need to update legacy before it's even run).

[2021-11-03 13:25] smartcontracts opened #12228 "solc-js throws a massive error on unhandled promise rejection"
`solc-js` throws a massive error on unhandled promise rejections. Here's a simple script you can use to reproduce:

[code]

Running this script will dump entire source of `soljson.js` to your terminal. `soljson.js` throws the following `RuntimeError`:

[code]

NodeJS wants to show you the line on which the error was triggered but `soljson.js` is a minified file where the entire source is on a sing

[2021-11-03 14:32] nickytonline commented on #12112
@cameel, I'll preface this with this is the first time I'm using a PPA. 😅  I have a feeling I'm doing something silly or just not updating the correct package. So I've added the proper PPA according to your previous comment, but the `libz3-dev` package does not update. Also as mentioned previously, Gitpod is running Ubuntu 20.04.3 LTS (Focal Fossa) which is supported by the PPA.

[code]

When I ru

[2021-11-03 14:35] deluca-mike commented on #9554
@chriseth What does `pure` mean? If it means "does not read from storage" then immutables set in a constructor result in `pure` getters, by definition.

For example, in
[code]
the `function totalSupply() external returns (uint256);` is _absolutely_ `pure`. It will _not_ read from storage.

Can you give an example where reading an immutable variable reads storage? Or are you suggesting that the abo

[2021-11-03 14:37] chriseth commented on #9554
`pure` implies "can be computed without knowing only the source code". It is not equivalent to this statement because it is a syntactic and not a semantic property.
An example why immutables cannot be pure:
[code]

[2021-11-03 14:41] cameel commented on #12228
This seems to be an issue with emscripten and the binary it builds, not `solc-js`. I see that emscripten added the `NODEJS_CATCH_REJECTION` flag (https://github.com/emscripten-core/emscripten/pull/9061) as a workaround. Maybe we should start using it when building but looks like there are some downsides. From https://github.com/haberbyte/emscripten/commit/bc370fed4dddfb705e71bd0ab719aa24e990252f:

[2021-11-03 14:42] cameel commented on #12228
Duplicate of ethereum/solc-js#505

[2021-11-03 14:53] nickytonline commented on #10308
@ryzheboka, I've updated my branch to include the Ethereuem PPA and when I loaded up Gitpod today, it seems all good. Let me know if you still have issues.

[2021-11-03 15:27] cameel opened #12230 "[CLI] Do not select any outputs by default in assembler mode"
#12074 added support for CLI output options (like `--bin` or `--ewasm`) in assembler mode. If no outputs are requested though, the compiler chooses the default ones to keep the behavior backwards-compatible. We should change this so that nothing is printed by default (this is how the compiler mode behaves) but it needs to be done in a breaking release.

[2021-11-03 15:30] ekpyron commented on #11689
I somehow missed that mention of mine... meanwhile it's 2.0.33, but no more exciting changes... but since this might interact with https://github.com/ethereum/solidity/issues/12228 it may be a good time to look into this - sounds like it could fix the exit-from-node-issues etc.

[2021-11-03 15:42] axic commented on #12228
Perhaps #11689 could fix it, as noted by @ekpyron.

[2021-11-03 16:18] deluca-mike commented on #9554
@chriseth This is the first I hear of that definition.

"Functions can be declared pure in which case they promise not to read from or modify the state." from https://docs.soliditylang.org/en/v0.8.9/contracts.html?highlight=pure#pure-functions

And this has been defined this way for quite a long time.

I am not sure why what is in the pre-deployed source code matters. Solidity interfaces, as used

[2021-11-03 17:35] ekpyron commented on #11689
It's driving me nuts that with each version the emscripten docker images change the directory in which they search for cmake files of dependencies...

[2021-11-03 17:42] ekpyron commented on #11689
I guess ``$(em-config CACHE)/sysroot`` will do it this time, but will need to rebuild everything to confirm.

[2021-11-03 18:04] ekpyron commented on #11689
Actually, I missed the 2.0.24 change:
- CMake projects (those that either use emcmake or use Emscripten.cmake directly) are new configured to install (by default) directly into the emscripten sysroot. This means that running cmake --install (or running the install target, via make install for example) will install resources into the sysroot such that they can later be found and used by find_path,

[2021-11-03 19:21] ekpyron commented on #11689
Hm... boost doesn't seem to play nice with current emscripten so far...

[2021-11-03 19:56] ekpyron commented on #11689
I'm giving up for now. Seems like this is one of the times at which this update will be a huge hassle...

[2021-11-03 21:56] axic commented on #11689
Any chance going to something like 2.0.24 or anything getting us closer and merging the work you already did?

[2021-11-04 10:14] ekpyron commented on #11689
I can run some builds on the side, but my best guess would be that 2.0.23 is the culprit with

- libcxxabi updated to llvm-12. (#14288)
- libcxx updated to llvm-12. (#14249)
- compiler-rt updated to llvm-12. (#14280)

The errors I'm getting seem to be some weird incompatibilities with the ``<complex>`` and ``<cmath>`` headers (among others) and boost...

[2021-11-04 10:21] axic commented on #11689
Even going to 2.0.22 would be nice as a first step.

[2021-11-04 10:23] Tied2eth opened #12234 "Errors"
https://github.com/ethereum/solidity/blob/735550b734c79835e4f19ada6789835564292367/scripts/install_deps.sh#L126

[2021-11-04 10:37] ekpyron opened #12235 "Remove emscripten workarounds."
Looking into https://github.com/ethereum/solidity/issues/11689 I just saw:
[code]
in ``solidity/scripts/ci/build_emscripten.sh.``.
We should try not to forget this for 0.9 at least.

[2021-11-04 10:38] ekpyron commented on #12235
Maybe we should have a label or sth to avoid missing stuff like this for breaking releases?
Or I can also just do it on the breaking branch right away.

[2021-11-04 10:40] axic commented on #12235
I don't think removing this is breaking. We promised to keep that backwards compatibility step for <0.7, so we can remove it anytime. I think this actually came up a few months ago.

[2021-11-04 10:42] ekpyron commented on #12235
Yeah, I was just about to say and wonder: we can probably also just remove it now.

[2021-11-04 11:04] ekpyron commented on #12234
You can try manually installing the dependencies listed in https://docs.soliditylang.org/en/latest/installing-solidity.html#prerequisites-all-operating-systems instead.

The script you were running is deprecated and will be removed in the foreseeable future (we don't have the resources to maintain a working script over all platforms).

Note, however, that we do not officially support building on F

[2021-11-04 11:04] #12234 closed

[2021-11-04 11:26] franzihei opened #12238 "[DOCS] Make Download Section Easier To Find"
## Problem

People are not aware that there is the option to download the Solidity docs and we've had several requests about this recently. The download option is so hidden in the flyout menu (some need to scroll to see it), since the list of versions has grown quite long.

Example:
![image](https://user-images.githubusercontent.com/41991517/140305831-cb2c39b4-e65c-4fcf-b009-489df2f39abd.png)

##

[2021-11-04 11:27] ekpyron commented on #11689
I'm actually not sure if it's worth the time to file an issue with boost about their own emscripten toolset setup not working at all...

[2021-11-04 12:02] ekpyron commented on #11689
I may have found a solution - emscripten provides a weird set of compatibility headers and apparently installing boost in its ``sysroot`` causes the boost headers to include the wrong headers, but installing boost elsewhere might work. (Although then it's a bit of a hassle to have cmake find it again, but what can one do)

[2021-11-04 13:25] chriseth commented on #7816
Any reason for this issue?

[2021-11-04 14:25] chriseth commented on #9554
It seems this was only part of the initial issue description and not added to the documentation. After all, this only became relevant after we introduced `immutable`: https://github.com/ethereum/solidity/issues/992

[2021-11-04 14:31] #12235 closed, assigned to ekpyron

[2021-11-04 15:31] cameel commented on #9582
This is now done - the script has been removed in #12237.

[2021-11-04 15:31] #9582 closed, assigned to tqpcharlie

[2021-11-04 18:23] cameel commented on #12234
Oh, so that was the trigger for #12237 :)

I don't think this "user" is actually using BSD. This looks like a spam account to me. There's another one with a very similar name (@tied2token) that is regularly spamming our repo with nonsense comments and occasionally even PRs.

Oddly it sometimes manages to drop a comment that makes sense in context like in https://github.com/ethereum/solidity/pull/1

[2021-11-04 19:01] ekpyron commented on #12234
Yes it was :_). But ok, right :-). But yeah, it's perfectly plausible to run the script on FreeBSD and then just drop that message here, since the message pretty much tells you to do that :-).

[2021-11-05 09:07] #11689 closed, assigned to nobody

[2021-11-05 12:57] cameel opened #12244 "Switch from js-ipld to js-multiformats in solc-bin"
While updating dependencies in https://github.com/ethereum/solc-bin/pull/100#issue-774215950 I noticed that [js-ipld](https://github.com/ipld/js-ipld), which we depend on seems to have been deprecated and replaced by [js-multiformats](https://github.com/multiformats/js-multiformats).

The task is simply to change the dependency and figure out what object to pass to `ipfsImporter()` instead of `IPL

[2021-11-05 12:58] axic opened #12245 "Strengthen natspec parsing"
[code]

This is parsed as `@custom:tag` = `test`, and the `what` is ignored entirely (does not show up as `@notice`/`@dev`).

[2021-11-05 14:12] cameel commented on #8860
A bit of discussion has started on this topic after my comment in one of the PRs (https://github.com/ethereum/solidity/pull/11967#discussion_r715765303) so I'm reposting it here to keep things in context (especially my recent proposal to support `conan` but only as an optional thing):

@cameel

@ekpyron

@ekpyron

@ekpyron

[2021-11-05 14:13] ekpyron commented on #8860
Since we're accumulating more and more dependencies that are downloaded at build time, I'm trying to make my case on this once more:

I really think this is an extreme antipattern and we really shouldn't be doing that. There is two proper ways to deal with dependencies: one is *not at all*, i.e. let users install the dependency and have cmake find it - or if one *really* wants to avoid that, for s

[2021-11-05 14:13] ekpyron commented on #8860
@cameel Ah, yeah, ok, reposting that stuff was maybe the simpler alternative to re-summarizing it here again :-).

[2021-11-05 14:31] cameel commented on #8860
I totally agree regarding npm - that ecosystem is just crazy and the massive dependency trees with a separate tiny lib for every single thing are not something I'd like us to replicate. On the other hand I think that having everything as a submodule/subtree is not great either. I mean, it's acceptable for tiny libs like `nlohmann-json` or `range-v3` but I wouldn't want to manage a dependency on bo

[2021-11-05 14:53] ekpyron commented on #8860
Ok, sounds like we're generally on the same page about this then. (And yes, ideally I'd also want to avoid submodules and I'd even oppose pulling in boost or z3 like that - but as you say: it may be acceptable for the tiny header only libs - but only if we can't agree otherwise)

I wouldn't strongly oppose stuff like adding a package manager config, although I'm also not enthusiastic about it - as

[2021-11-05 15:15] ekpyron opened #12246 "Drop support for ancient EVM versions, i.e. for homestead"
Came up in https://github.com/ethereum/solidity/pull/12205/files#r743092422.
- ``homestead`` in particular needs the ``canOverchargeGasForCall()`` workarounds, which complicate code (although to be fair it's not *that* bad)
- the new Yul-EVM code transform currently cannot guarantee not to reorder the ``gas`` opcode (although to be fair it could probably be adjusted, s.t. it can, but that would pr

[2021-11-05 15:41] ryzheboka commented on #10308
Thanks @nickytonline, it worked with the new gitpod.yml!  (Still only with -DUSE_Z3=OFF)
Now, I have the following problem with testing, that seems to be configuration related:
"./scripts/../test/cmdlineTests.sh: line 185: /dev/stdin: Permission denied
Incorrect output on stderr received. Expected:
"file_not_found.sol" is not found.
But got:

When running /workspace/solidity/build/solc/solc file_n

[2021-11-05 16:18] ekpyron commented on #12112
To be honest, I'm a bit worried about this. Are we going to add and maintain configuration files for any old commercial and paid cloud service that happens to ask?

[2021-11-05 16:42] ekpyron commented on #9582
Actually, now I'm wondering about ``scripts/install_deps.cmake``, ``scripts/install_deps.ps1`` and ``scripts/install_deps.bat``... how many of these things are there :-D? ``install_deps.ps1`` is used in CI, so that'll have to stay (even though I'd actually tend to move it to ``scripts/ci``)...
``scripts/install_deps.bat`` is just a wrapper for ``scripts/install_deps.cmake``... which seems to pull

[2021-11-05 16:46] ekpyron commented on #9582
And what's the deal with ``snap/snapcraft.yaml`` :-D? That's for example still on z3 4.8.4 and there's https://github.com/ethereum/solidity/issues/11940... is that file used anywhere? Does anyone maintain it?
I'd vote for getting rid of all that weird baggage :-).

[2021-11-05 17:01] cameel commented on #9582
- The snapcraft config is maintained by @elopio. He's been working on updating it recently but that effort seems to have stalled. Maybe he's busy. I see no harm in keeping it as long as there's someone willing to maintain it.
- `install_deps.cmake` and `install_deps.bat` are so out of date that I suspect we could safely drop them.
- Moving `install_deps.ps1` to the CI dir sounds fine to me. `insta

[2021-11-05 17:27] novaknole commented on #8353
@mudgen @cameel

Thanks for such a great discussion. I also am arriving on this and love the topic.

Below is @cameel 's example.

[code]

I don't understand how good this way can be when there's only proxy and only one logic contract at any time. Let's say for the proxy contract, first version was `DelegateB` contract above.   You all know how variables and values will be stored in this case. let

[2021-11-05 17:30] cameel commented on #10308
The script asks you to update the file if expectations do not match. If should just fail if there's no terminal - that's how it works in our CI. If that's not the case, you could try to explicitly take away its input stream with something like this:
[code]

Of if you call it via `tests.sh`, you could add `< /dev/null` to that script invocation instead.

[2021-11-05 18:03] ekpyron commented on #9582
The ones up for removal are removed in https://github.com/ethereum/solidity/pull/12247.
About the windows scripts: I'd keep them there for now, we actually mention at least ``install_deps.ps1`` in our documentation so far. And since windows doesn't have canonical native package management which could pull in boost and the process is a bit of a hassle IIRC, maybe it makes sense to keep it.

[2021-11-05 19:04] cameel commented on #12246
This would be breaking, right?

[2021-11-05 19:20] ekpyron commented on #12246
Probably - although I guess there's no precedent and it might be fair to decide that it's not - I guess we'll only drop support, if we're reasonably sure that doing so in practice *doesn't* break anything anyways :-).

[2021-11-05 19:32] axic commented on #12246
The issue I see is that Solidity is used by many other chains and we want to avoid the need for various forks to emerge.  I know that there is such differentiation between the various chains, mostly they may not implement some recent features from Berlin/London, or they implement features non existing on mainnet (however these are mostly in a way, like precompiles, which does not require a change

[2021-11-05 19:42] nickytonline commented on #12112
This wouldn't affect the project itself. It would only affect anyone that decides to use gitpod as their development environment. And if this configuration for some reason got out of date, most likely people using gitpod, would update it,.  Having said that, I can appreciate the reservation to maintain another configuration. I haven't dug into the project too much, but if there is an existing Dock

[2021-11-05 19:55] ekpyron commented on #12112
Doesn't gitpod provide a separate mechanism for adding configuration files *for* repositories instead of requiring them *in* the repository? To me that would seem to be a more reasonable approach.

If the file is in our repository, we will need to maintain it one way or another (if only by reviewing updates by users).
While this may be ok for *one* such file for *one* external IDE, once we start a

[2021-11-05 20:07] ekpyron commented on #12112
If they work for you, using the docker files may be preferable in general - since they are used to run our CI they are pretty much always guaranteed to be up to date and work with the current state of the repository without any need for additional maintenance by anyone :-).
Also the docker images additionally contain builds of evmone and hera, which are required for running the full test suite, th

[2021-11-05 20:24] cameel commented on #8860
I'm pretty sure some people on the team would use it if it was available. At least I probably would - even if just to try it out and see if I like that workflow. Being able to easily install arbitrary versions only locally for a single project would be a nice benefit. It's not always practical to install dev stuff system-wide. I probably won't need it that much since we generally support bleeding

[2021-11-05 21:22] nickytonline commented on #10308
z3 should be the correct version now if you grab latest of my branch.

[2021-11-05 23:27] ekpyron commented on #8860
You don't need to install anything system wide to have cmake find it and you don't need a dependency manager for building things locally for a single project either :-).

[2021-11-06 14:22] benediamond opened #12248 "use _library_ integer constants as fixed-length array sizes"
## Description

Integer constants can't be used as the sizes of fixed-length arrays, _even_ when they come from libraries.

## Environment

- Compiler version: 0.8.9
- Target EVM version (as per compiler settings): london
- Framework/IDE (e.g. Truffle or Remix): remix, hardhat, etc.
- EVM execution environment / backend / blockchain client:
- Operating system: MacOS

## Steps to Reproduce
`A.sol`:

[2021-11-06 16:08] cameel commented on #8860
I know but installing them manually is usually a bit of a hassle. You have to install things one by one, figure out how to build them properly, etc. It's a custom process every time.

With a dependency manager the build file for each lib is public so I still have that option but I can also just roll with it. It's also more uniform in how you manage these packages. You can easily rebuild or reinsta

[2021-11-07 06:05] phyBrackets commented on #12248
i think array length should be compile time constant not runtime constant .

`contract B {
    uint constant u = 9;
    uint c;
    constructor(uint val){
        c= val;
    }
   uint256[c] b;
}`

if you'll run this then you'll find the same error because we take the value at the runtime. and the array expect something which is compile time constant.
 This expression A.N will evaluated at runtime

[2021-11-07 06:08] phyBrackets commented on #12248
i think array length should be compile time constant not runtime constant .
[code]

[2021-11-07 06:10] phyBrackets commented on #12248
i think array length should be compile time constant not runtime constant .

[code]

if you'll run this then you'll find the same error because we take the value at the runtime. and the array expect something which is compile time constant.
This expression A.N will evaluated at runtime. So i think may be this is the problem.

[2021-11-07 09:42] phyBrackets commented on #12248
I think fixed size array expect compile time constant , but here A.N will be evaluated at runtime .

[2021-11-07 17:03] looksnap opened #12251 ""UNLICENSED" (recommended for closed source in docs) is not a valid SPDX identifier, and the closest valid license (UNLICENSE) is the exact opposite."
from: https://docs.soliditylang.org/en/latest/layout-of-source-files.html?highlight=unlicensed#spdx-license-identifier

Except that, "Unlicensed" is not a valid SPDX identifier (find the list here: https://spdx.org/licenses/), and the closest valid license is the "Unlicense" (https://spdx.org/licenses/Unlicense.html), which is: "This is free and unencumbered software released into the public domai

[2021-11-07 17:07] looksnap commented on #12251
And if you mean to say that "UNLICENSED" is a special value for Solidity specifically, perhaps you should change this special value to "None" or something that is less ambiguous. Etherscan uses "None" for no license, and "Unlicense" for public domain, and I've seen a couple contracts that use "UNLICENSED" in the SPDX, but chose "Unlicense" from the Etherscan dropdown.

[2021-11-07 23:05] ryzheboka commented on #10308
Z3 works now, I forgot to save the changed .yml file in gitpod. < /dev/null helped too. Could you please help with the following message?

"Error loading VM from libevmone.so:
libevmone.so: cannot open shared object file: No such file or directory
Unable to find libevmone.so. Please disable semantics tests with --no-semantic-tests or provide a path using --vm <path>."

I tried running the tests wi

[2021-11-08 00:24] axic opened #12253 "Move test cases from SolidityEndToEnd to semanticTests"
There is the `test/libsolidity/SolidityEndToEndTest.cpp` file, which contains a lot of semantic tests.  It is a large monolithic single C++ file, which takes a long time to compile and is hard to maintain.

We want to move as many test cases out to individual files under `test/libsolidity/semanticTests`.  They should be grouped logically, by following the grouping in SolidityEndToEnd.

Have a look

[2021-11-08 00:24] axic commented on #3486
Tracking in #12253.

[2021-11-08 00:24] #3486 closed, assigned to nobody

[2021-11-08 08:01] hack3r-0m commented on #12244
hi @cameel, I would like to work on it, can you tell me which branch to fork from to make changes?

[2021-11-08 09:09] chriseth commented on #9439
Since conversion from `bytes` to `bytes4` is now supported, I think we can close this.

[2021-11-08 09:09] #9439 closed, assigned to nobody

[2021-11-08 09:10] chriseth commented on #6485
The core of this issue has been implemented both in the old and the new code generator. Please create new issues for further information you need.

[2021-11-08 09:10] #6485 closed, assigned to nobody

[2021-11-08 09:27] ekpyron commented on #8860
I guess we could argue about this for all eternity :-).
E.g. it's only a hassle to build your dependency, if it does the same mistake: i.e. overcomplicate its build mechanism for example by using dependency managers ;-). Ideally, every package and every dependency has at the very least sane defaults and building them is thereby canonical and a non-issue. Anything beyond that - which includes custo

[2021-11-08 10:23] chriseth commented on #12251
It is not a valid SPDX identifier on purpose. Using `UNLICENSED` here specifically says that you are not granted a license to use the source code in this form. It cannot be a valid SPDX identifier, since those are all licenses.

We decided to use `UNLICENSED` after the recommendation from npm: https://docs.npmjs.com/cli/v7/configuring-npm/package-json#license

[2021-11-08 10:23] #12251 closed, assigned to nobody

[2021-11-08 10:32] chriseth commented on #12248
A workaround for now would be to move the constant to file level.

This issue could have a duplicate somewhere by the way.

[2021-11-08 10:33] chriseth commented on #12246
I don't think this is such a big problem. Currently the strategy to just have non--optimized code (or code with stack errors) for ancient versions works well enough in my opinion.

[2021-11-08 10:54] #12222 closed, assigned to nobody

[2021-11-08 10:56] ekpyron commented on #12246
If we switch to non-optimized code only, then it's really a non-issue.
It would just both be annoying to have to adjust the new code transform to handle this, as well as having to keep the complexity of the stack optimizations in the old code transform because of this...

[2021-11-08 11:20] #11814 closed, assigned to nobody

[2021-11-08 11:21] #11494 closed, assigned to nobody

[2021-11-08 11:34] axic commented on #9439
I am not sure, there are some additional ideas here for features, which could be considered. Perhaps we should open a specific issue for them and discuss independently (since this issue is quite long right now).

[2021-11-08 12:10] benediamond commented on #12248
i looked carefully and didn't find one.

interesting, this move hadn't occurred to me. thanks. feel free to close if you want (though of course i think the "issue" is still open).

[2021-11-08 12:23] chriseth commented on #9554
Added information to the documentation: https://github.com/ethereum/solidity/pull/12256

[2021-11-08 12:28] chriseth commented on #12228
Sorry, closed this because it said "duplicate"

[2021-11-08 12:29] chriseth commented on #12228
So we had this issue before, didn't we? And we added some workarounds that look similar to the last one suggested in the description.

[2021-11-08 12:34] cameel commented on #12244
The default branch of [solc-bin repo](https://github.com/ethereum/solc-bin/). It's called `gh-pages` rather than `master` due to historical reasons (it was used to serve Github Pages). Just make sure to start from the latest commit - https://github.com/ethereum/solc-bin/pull/100 has been merged today.

[2021-11-08 12:51] cameel commented on #12228
Yeah, it's technically a duplicate but this one had better description. I'd close the other one but I thought it being open in solc-js might help people who have this issue find the workaround. I'd be fine with just closing it though.

We did - https://github.com/ethereum/solc-js/issues/505 was reported in December 2020 - but I don't think we did anything in response to that. I can reproduce the p

[2021-11-08 14:13] franzihei commented on #11900
We can probably close this for now and re-open in case we want to also change the font at a later point in time.

[2021-11-08 14:13] #11900 closed, assigned to nobody

[2021-11-08 14:36] ifuckingyouyeah opened #12257 "send me coin please"
## Abstract

## Motivation

## Specification

## Backwards Compatibility
hey is this a porn page

[2021-11-08 14:36] ifuckingyouyeah commented on #12248
![download](https://user-images.githubusercontent.com/93928639/140761082-d6712741-f9e9-46e5-99ca-35254bf6394f.jpeg)
hey is this a porn page

[2021-11-08 14:48] #12257 closed

[2021-11-08 15:05] #12204 closed, assigned to nobody

[2021-11-08 15:24] cameel commented on #10308
The `--no-semantic-tests` flag is supported by the `soltest` and `isoltest` executables but probably not by `scripts/tests.sh`. For your task, again semantic tests are not relevant but they are very important overall so I'd recommend installing `evmone` anyway so that you can run them.

So to solve this, please check if you can install a package called `evmone` or `libevmone`. If not, you can down

[2021-11-08 15:59] #3870 closed, assigned to cameel

[2021-11-08 16:06] #11756 closed, assigned to Marenz

[2021-11-08 16:48] ekpyron opened #12260 "Disallow ``codecopy`` in pure functions (and check for other cases)"
Related to https://github.com/ethereum/solidity/issues/8153 and following https://github.com/ethereum/solidity/pull/12256 we should make sure we actually are as strict as we want to be for ``pure`` functions.

In particular, we should disallow ``codecopy`` with 0.9.0, but we should double-check if there is other cases that we should strengthen as well.

[2021-11-08 16:51] chriseth commented on #12260
Isn't disallowing access to `msg.data` also part of this issue?

[2021-11-08 16:52] ekpyron commented on #12260
I mean, I can also just do it right away, maybe that's safest for not missing it again.

[2021-11-08 16:52] ekpyron commented on #12260
If we agree that we should, then yes, absolutely :-)! I'm all for that, but I wasn't sure we had consensus about that.

[2021-11-08 16:57] axic commented on #12251
Perhaps we want to document this?

[2021-11-08 16:58] ekpyron commented on #12260
Hm... I'm just looking through the instruction list... and hit ``CALLDATALOAD`` :-)...
That one we can't really disallow I guess... but if we allow it, we might as well keep ``msg.data``...

The problem is still that "externally pure" is different from "internally pure". An external function call I can compile-time evaluate, even if it involves msg.data and ``calldataload`` - but an internal one I

[2021-11-08 16:59] axic commented on #12260
Well basically `external pure` can have different rules, than `private/public/internal`. We had another issue for tracking the memory-mutability of pure, that should be also revived.

[2021-11-08 17:07] cameel commented on #7944
I think this is actually a duplicate of #7436.

[2021-11-08 17:09] #7944 closed, assigned to nobody

[2021-11-08 17:16] ekpyron commented on #12260
Hm, yeah... I actually thought we couldn't just use different rules due to ``public`` being both internal and external, but it actually makes perfect sense to apply the stricter ``internal`` rules to ``public``...

Anyways, I pushed #12261 for the obvious cases I saw that shouldn't be ``pure``, i.e. ``codecopy`` and ``codesize`` - the rest we can do, once we decide if to split external and interna

[2021-11-08 17:20] cameel commented on #7436
At this point this basically requires going through most examples and doing tediuos style fixes. I even see some crashes (e.g. `RangeError: index parameter must be between >= 0 and <= number of children.`).

I'm going to mark this as `good first issue`, with the goal being to clean up the examples first before we re-enable the job.

For anone who'd like to take it, here's a short snippet that can

[2021-11-08 17:23] cameel commented on #12154
#12074 has been merged to now this is fine to work on.

[2021-11-09 08:49] chriseth commented on #12260
What about internal functions that have `calldata` parameters? Can they use inline assembly and thus calldataload to access their parameters?

[2021-11-09 09:16] ekpyron commented on #12260
Yeah - which is a problem. If we allow loading *something* from calldata, we effectively allow loading *anything* from calldata and thus might as well keep ``msg.data`` pure...
Then again, I'm not sure if we should ever even try to actually compile-time-evaluate inline assembly anyways...

So maybe restricting ``pure`` to the notion of "external pure" only is enough (i.e. disallow accessing code,

[2021-11-09 13:21] bshastry commented on #11002
This is an error. Perhaps, we can make it a warning?

[code]

[2021-11-09 13:26] chriseth commented on #11002
I would like to see some examples first where you cannot just use an empty calldata byte array instead.

[2021-11-09 13:27] axic commented on #11002
The `receive` function is supposed to be for non-data payment transactions (i.e. regular eth transfers).

Any other payable function is for received value with `msg.data`.

And for the generic case (proxies, etc.) there is the payable `fallback` function.

[2021-11-09 14:12] tied2token commented on #12251
I don't know if I can iam a trustee of the ietf and they just granted me
the ability to use any of there's

On Mon, Nov 8, 2021, 8:58 AM Alex Beregszaszi ***@***.***>
wrote:

[2021-11-10 00:30] axic commented on #10379
Finally found that I actually did this years ago, that's why I was confused in the opening comment why it wasn't done: https://github.com/ethereum/solc-bin/pull/19 (commit [dcbf73d](https://github.com/ethereum/solc-bin/pull/19/commits/dcbf73d6794de6e44d80e8ac84b2d6b1bce0aa13))

[2021-11-10 00:33] axic commented on #2238
I still think this would be a cool feature.

[2021-11-10 09:25] Shorpee commented on #12238
Would moving the downloads tab to the top be a good solution or is there something else you have in mind for this?

[2021-11-10 10:41] franzihei commented on #12238
Moving them above the versions is a good idea in my opinion. I didn't have anything specific in mind for it yet and I think that's a good and easy solution for now!

[2021-11-10 11:03] chriseth commented on #12238
I'm actually not sure if we have full control about the layout of this "popup". We could start by mentioning the download options on the first pages of the documentation, maybe close to the "translations" section.

[2021-11-10 12:20] cameel commented on #12238
Fortunately we do. The order is defined by [our template](https://github.com/ethereum/solidity/blob/v0.8.10/docs/_templates/versions.html#L15-L24) so we can just swap these two items to get downloads on top.

[2021-11-10 12:21] cameel commented on #12238
In that template we can even easily put a link above the fold so that it's always visible.

A link in the [footer](https://github.com/ethereum/solidity/blob/v0.8.10/docs/_templates/footer.html) is also a possibility.

[2021-11-10 13:18] axic commented on #12152
There's also `OptimiserSettings` 😅

[2021-11-10 13:47] cameel commented on #12152
Added to the description.

[2021-11-10 15:31] chriseth opened #12268 "[Yul EVM code transform] More efficient codegen for terminating control-flow"
When calling a user-defined function that never returns, we should
 - not try to clean the stack after the function call (there should be zero additional opcodes after the jump)
 - not push the return tag to begin with

The return tag should also not be expected to be there by the called function.

[2021-11-10 16:15] chriseth commented on #12268
@ekpyron 's opinion:

So essentially, after we have computed the stack layout, we do a second pass over the control flow graph. For every branch that goes into a control-flow that always terminates, we add junk slots at the bottom of the entry layout of the following block.

We might only do it (or try it with different number of junk slots) if this makes the stack shuffling easier. Is there a cas

[2021-11-10 16:31] ekpyron commented on #12268
In ``7 6 5 4 3 2 1 -> 7 6 5 4 3 2`` adding a junk slot is fatal...

We *might* get away with just doing the shuffling without adding junk, counting the operations it takes, and then iteratively add junk slots, shuffling and counting each time, until the lengths match - and then just choose the amount of junk for which the shuffling is cheapest.

[2021-11-10 16:34] chriseth commented on #12268
Another example: `1 2 3 4 5 -> 1 3` could be done using `# # # 1 3` or `# # # # # 1 3` - the first resulting in three swaps while the second can be done with two dups

[2021-11-10 16:50] chriseth commented on #12268
We should not do this iteratively but only compute an "optimal" number of junk slots at the branch point and then "inherit" these junk slots on all the blocks until the termination.

[2021-11-11 08:46] Itotutona opened #12270 "Create package for Fedora Linux (RPM)"
## Motivation

I am using Fedora Linux, and while searching the Github page, I did not find a package that was closely compiled for RPM based systems. It would be nice to create an rpm package for the solidity compiler.

## Specification

It would be possible to publish the rpm package to copr (an equivalent of ubuntu ppa).

## Links

https://copr.fedoraincloud.org
https://getfedora.org
https://rp

[2021-11-11 11:36] chriseth commented on #12211
The example here is
[code]

The optimizer performs so badly because the redundant store eliminator ( #11352 ) only removes stores if they are not read from. What is needed here is removing stores that store the same data that is already present at that location.

[2021-11-11 12:30] cgironda commented on #4170
@chriseth, it worked using `^0.8.0`. I thought that the `^` symbol was suppressed from `0.6.0` version or so.
Anyways, thank you for reply my question!

[2021-11-11 13:29] #12065 closed, assigned to Marenz

[2021-11-11 14:50] hacker-DOM commented on #1771
Hey folks, just asking if there is any plans to add this to the development pipeline

We'd love to build a Solidity formatter/prettier/linting tool that takes the AST and automatically formats the document. But the user might be a little surprised if it stripped all of her comments 🙂

[2021-11-11 14:54] hacker-DOM commented on #1771
Would adding `--include-all-comments` or `--include-comments` as a flag to the compiler (when ast output is selected) be a good API for this feature @chriseth ?

[2021-11-11 15:14] olehmisar opened #12271 "[SMTChecker] Fails to prove a simple assertion with a mapping"
## Description

This code emits an SMTChecker warning when compiled, although `balanceOf[account]` can never be greater than `totalSupply`.
<details>
<summary>Code:</summary>

[code]
</details>

<details>
<summary>Warining:</summary>

[code]

</details>

Looks like SMTChecker blindly assigns any value to a mapping entry:
[code]

I also created the same token contract but used `balance0` and `balan

[2021-11-11 15:18] chriseth commented on #12211
The `mstores` are removed by https://github.com/ethereum/solidity/pull/12272 so this is nice, but we still need to replace the keccak calls to a stored local variable, i.e.
[code]
should be optimized to
[code]

[2021-11-11 15:53] chriseth commented on #1771
This is actually implemented for the documentation comments (`///` and `/** */`)

[2021-11-11 15:53] #1771 closed, assigned to nobody

[2021-11-11 15:56] chriseth opened #12273 "Allow delete on user-defined value types"
We do not allow any operator on user defined value types, but `delete` is special: It is implicitly used when we remove an array element and variables of user-defined value type have a default value - so
[code]
is essentially equivalent to
[code]
which means we already implicitly use it and it would be confusing to allow re-defining delete to something else.

[2021-11-11 15:57] chriseth commented on #11969
Related https://github.com/ethereum/solidity/issues/12273

[2021-11-11 16:00] greenlucid commented on #4858
Great idea, I'll copy your solution and bruteforce to get an id with a few leading zeros

[2021-11-11 17:09] leonardoalt commented on #12271
tldr: assertion is not as simple as it looks, the underlying SMT and Horn solvers were not able to prove the required nonlinear invariant.

Unfortunately this assertion is logically not as simple as it looks, even though it's a really good property!

The counterexample you see comes from the BMC engine which has lots of false positives. If you use the CHC engine alone (which is what I usually do a

[2021-11-11 17:18] olehmisar commented on #12271
Thanks for the extensive explanation. I appreciate it.

Sorry if the next question is stupid(I don't know anything about how solvers work). If it is possible to unroll a mapping to two variables, is it possible to unroll a mapping to an infinite number of variables, so the solver can prove correctness of the code?

[2021-11-11 17:21] olehmisar commented on #12271
And I want to note that from my perspective(just a smart contract developer), SMTChecker is unfortunately useless right now because mappings are used extensively in smart contracts. I wanted to replace a bunch of unit tests in future projects with formal verification and now I see that it is currently impossible. :(

[2021-11-11 17:29] leonardoalt commented on #12271
In a very high level that's what the solver does. A mapping is treated as an infinite array, so it's kind of that.

[2021-11-11 17:44] leonardoalt commented on #12271
Thanks for the feedback!
That's not always the case though. Mappings are not always that problematic, note that the main problem here is the nonlinear math (variable * variable) over multiple transactions, and not the mapping itself. Tools like the SMTChecker cannot handle this type of math very well, and this includes hevm and other symbolic execution tools. For example, even a simplified AMM cod

[2021-11-12 02:43] transmissions11 commented on #12196
yes please we still dearly need a way to prevent extcodesize checks on no-returndata calls without using low level calls. as @drortirosh said its often more expensive to encode for low level calls— not to mention its gross and unsafe

[2021-11-12 13:54] nishant-sachdeva commented on #12238
@franzihei  @cameel  @chriseth  Is it fine to move the download section ahead of the versions section?

If needed, we can also add it to the Resources Section.

If that is fine, then I am ready to send in a PR to that effect

[2021-11-12 14:32] franzihei commented on #12238
Yes sounds great please do.

Additionally to moving the download section over the versions section in the flyout menu, could you add a green "hint" section on the index page, between  ``Ideas for improving Solidity or this documentation are always welcome, read our contributors guide for more details.`` and ``Getting Started`` which says something like:

Hint:
You can download this documentation a

[2021-11-12 21:31] ghost opened #12278 "Contract termination request"
...

[2021-11-13 16:29] fulldecent commented on #11253
Adding a keyword for nonpayable is not necessary.

Nonpayable is more restrictive than payable and does not introduce dangers. Therefore overriding from payable to nonpayable will not result in people accidentally getting something more dangerous than they expected.

---

The original issue here is good and should be implemented. Even if "only" OpenZeppelin Contracts and the ERC-721 reference impl

[2021-11-13 16:50] pengchew opened #12279 "(2000000000000*(10**18)/198602694960947175655554/10500000)*94231285718967064346338*3 RETURNED 0"
omg this bug make the contract totally broken and unusable, how can such a simple calculation cannot be done on multi-billion dollar solidity program???

(2000000000000*(10**18)/198602694960947175655554/10500000)* 94231285718967064346338* 3

= 4.8802765837160098688270615812781e+7 (in windows calculator)

[code]

a will return 0, but why???

found it on mintamount() at https://github.com/DurianFi/b

[2021-11-13 19:09] cameel commented on #12279
You are performing calculations within an integer type so the intermediate results get rounded down to the nearest integer. `b / c / d` is ~0.959 so it gets rounded to 0. See the documentation about [division](https://docs.soliditylang.org/en/latest/types.html#division) in Solidity.

Please note that the same calculation done on [literals](https://docs.soliditylang.org/en/latest/types.html#rationa

[2021-11-13 19:09] #12279 closed, assigned to nobody

[2021-11-13 19:15] cameel commented on #12278
This is not the right place to report scam contracts. Not sure if one exists really - there's no central authority on Ethereum that could just block malicious contracts. This repository is for the Solidity compiler, and the compiler is just a tool and does not have any control over which contracts get deployed to the blockchain. Even if it had, it's not its job to police smart contracts.

[2021-11-13 19:15] #12278 closed, assigned to nobody

[2021-11-14 21:56] NanezX opened #12281 "Different bytecode with same metadata on 0.6.12"
## Description

Hi everyone, i already ask on the gitter and they told me that i can share the info here. I'm facing a really weird problem with the bytecode that i get from hardhat and I/O Json Descipttion. I created Input JSON Description files with solt to use them to verify in etherscan, but the bytecode that i got from these files it is different on several points along the bytecode. These co

[2021-11-15 14:48] ryzheboka commented on #10308
Thanks, semantic tests run successfully. The documentation says "Running Ewasm tests is disabled by default", however, I get the following error:

Error loading VM from libhera.so:
libhera.so: cannot open shared object file: No such file or directory
Unable to find libhera.so.

Should I repeat the steps for evmone for hera too?

[2021-11-15 21:18] deluca-mike commented on #10649
👍

[2021-11-15 21:18] #10649 closed, assigned to nobody

[2021-11-16 00:07] cameel commented on #10308
Yeah, it's disabled by default but seems that `tests.sh` tries to be comprehensive and does an ewasm run as well:
https://github.com/ethereum/solidity/blob/7334420423e026d65d2a48a2d0569fb19b3a2b40/scripts/tests.sh#L140

You don't really need it in this task so I recommend disabling it. The easiest way to do this would be to just locally comment out that line in your branch. If you want you can als

[2021-11-16 00:51] cameel commented on #12270
Unfortunately we do not have the manpower to maintain packages for multiple distros. We only provide a PPA for Ubuntu and that's partly because we need to build packages for some of the dependencies for use in CI.

We also provide static Linux binaries of the compiler in [solc-bin](https://github.com/ethereum/solc-bin/). These should generally work on any distro. There's nothing special needed for

[2021-11-16 06:17] swornov opened #12285 "The idea was to make it combersome to prevent people from using it."
The idea was to make it combersome to prevent people from using it.

I would prefer a solution that just switches the whole pipeline to yul-ir-mode right away.

_Originally posted by @chriseth in https://github.com/ethereum/solidity/issues/8722#issuecomment-617064751_

[2021-11-16 08:31] jgh- commented on #2742
verified this is fixed in 0.8.9, was seeing it with 0.8.6 and upgraded and it is no longer a problem.

[2021-11-16 08:50] chriseth commented on #12281
We should investigate why and how the code is different, but it might actually be that you did not check the correct metadata: The metadata is stored at the end of the deployed bytecode. If you only look at the compiled (constructor) bytecode itself, it might contain the bytecode of other contracts (contracts created with `new`) and thus also their metadata.

[2021-11-16 10:05] #12285 closed, assigned to nobody

[2021-11-16 12:18] cameel commented on #12281
I checked this and this is our old problem with extra files added to the compilation affecting IDs in the bytecode. In this case it's that an extra contact results in different immutable IDs. It's still reproducible on 0.8.10.

Metadata is the same because apparently only the files used to compile the contract are included in metadata but `CompilerStack` probably still contains all the contracts.

[2021-11-16 13:15] chriseth commented on #12281
But does this also result in actual different bytecode, and not just in different assembly code?

[2021-11-16 15:18] cameel commented on #12281
Good point. In this particular repro bytecode is identical but in the original code there are some differences.

I tried to track it down by trimming the contracts but I got to a point where I still have a lot of files with many imports and pretty much any substantial change makes the difference go away. Unfortunately it's still ~30 contracts so it's not much better than the original input.

The b

[2021-11-16 19:18] Nielsbishere opened #12290 "Custom errors raised from external calls are not recognized by Remix"
## Description

Unfortunately, calling revert Error(...) in a library won't show a proper message to the caller. It works fine if you call the library manually. This makes it almost impossible to use, since it's not clear which error occurred:

## Environment

- Compiler version: 0.8.10
- Target EVM version (as per compiler settings): ^
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM executio

[2021-11-16 22:31] xanderdunn opened #12291 "Support Apple Silicon in Release Builds"
macOS release builds are currently x86_64 architecture only. Apple has moved away from x86_x64 in favor of arm64 for its laptop and desktop machines. It would be beneficial to developers on Mac machines to provide macOS arm64 builds in releases.

[2021-11-17 07:54] awaissakhi11 opened #12292 "`abi.encodeWithSignature()` not working on testnet or mainnet"
Hello everyone, i am stuck on one problem. i am trying to deploy multisign with wbtc code but when i generated data which required in multi contract from   function getData() public view returns (bytes memory){
        return abi.encodeWithSignature("mint(address,uint256)","0x02F2bDf4F8E0FC6E17CA66a9EeBbEa5Ad4bfe712",10000000000);
    },   its working on EVM, but its when i tried on ropsten and bi

[2021-11-17 09:57] chriseth opened #12293 "CompilerContext::appendConditionalRevert does not conform to the memory model."
Needs to be confirmed: Do we want the old codegen to conform to the memory model or not?

The function CompilerContext::appendConditionalRevert uses the fixed memory offset `0` - it should use the free memory pointer to be compatible with moving variables to memory.

[2021-11-17 09:57] chriseth commented on #12293
@ekpyron can you check when you are on again, please?

[2021-11-17 09:58] chriseth commented on #12290
I'm pretty sure this is a problem with remix (it cannot decode the error data) - the data is correctly returned.

[2021-11-17 09:59] chriseth commented on #12290
@yann300 can you please have a look if this might be a bug in remix? Thanks!

[2021-11-17 13:14] chriseth commented on #12273
@cameel sees no reason not to allow it.

[2021-11-17 14:40] cameel commented on #12281
@NanezX I'm going to close the issue since it looks like it only affects old releases and is not a critical security issue for which we'd want backport the fix. It seems to have been caused by extra files added the compilation changing AST IDs and these in turn affecting decisions made by the optimizer. This is no longer a problem with newer versions.

Still, thanks for submitting it! We take thes

[2021-11-17 14:40] #12281 closed, assigned to cameel

[2021-11-17 14:42] NanezX commented on #12281
We're gonna update the solidity version to 0.8.12 and will share here anyway to show the results. Thanks for your help!

[2021-11-17 15:02] cameel commented on #12291
This is on our roadmap but we're blocked by our testing infrastructure. Currently neither Github Actions nor CircleCI support Apple M1 runners. See:
- [Apple M1 (Apple Silion) Support on CircleCI](https://support.circleci.com/hc/en-us/articles/360056461452-Apple-M1-Apple-Silion-Support-on-CircleCI)
- https://github.com/actions/virtual-environments/issues/2187

All we can do currently is to cross-c

[2021-11-17 15:04] cameel commented on #12291
Related issue for Linux on ARM: #11351.

[2021-11-17 15:05] christianparpart opened #12295 "[AST] Consider expanding the use of NatSpec documentation to all declarations."
The motivation behind is, to be able to display additional information about a declaration, not just its type signature.

This might also help documentation.

The relevant AST nodes I'd at least expand to are:

- [x] struct definitions
- [x] enum definitions
- [ ] enum value definitions
- [ ] UDVTs
- [ ] ASTJSON tests for custom errors
- [ ] modules
- [ ] `constant` variable definitions

[2021-11-17 15:17] axic commented on #12291
In practice #11351 was tracking this issue as we're still waiting for CircleCI.

[2021-11-17 15:18] axic commented on #12291
And if someone builds Solidity from source on macOS, it is automatically built for ARM. No flag or setting needed.

[2021-11-17 15:25] cameel commented on #12291
Might still be better to have to separate issues because I suspect that we won't be implementing both at the same time. But we could also close this one and just update the title of the other one to make it clear that it's about macOS too.

BTW, you reminded me that on the last call with CircleCI they said that added support for Linux on ARM.

[2021-11-17 15:31] cameel commented on #11351
This should be now possible. On our last call with people from CircleCI they had this in their presentation:

[Arm Resources on CircleCI](https://circleci.com/changelog/#arm-resources-on-circleci)

[2021-11-17 15:35] wolflo opened #12296 "Unable to disambiguate shadowed function pointers"
## Description

Attempting to pass a function pointer where the name of the function being passed is shadowed results in `Error: No matching declaration found after variable lookup`.

In theory, the compiler should be able to disambiguate which version of the function is being passed based on the type definition where the function pointer is used.

## Environment

- Compiler version: 0.8.10

## St

[2021-11-17 15:44] chriseth commented on #12296
Solidity only performs overload resolution when a function is called, and not later during type checks. We are thinking about allowing explicit disambiguation, but this is currently not on our roadmap, also because we think that this problem does not occur often.

[2021-11-17 16:07] xanderdunn commented on #12291
Thanks @cameel, I missed the Linux ARM issue in my search. Building the repo on my system at the 0.7.6 tag worked. Installing 0.8.9 or 0.8.10 via Homebrew also worked. However, the Homebrew 0.7.6 formula built for the wrong architecture, still x86.

[2021-11-17 16:55] cameel commented on #12290
This is not limited only to libraries. Same happens if an external call to a contract reverts with an error:

[code]
[code]

I think Remix is not detecting the error because it's not listed in the ABI for a contract unless that contract uses that error directly. And that's because our call graph does not follow external calls.

And we can't follow them unless we have the source. For libraries curr

[2021-11-17 17:05] cameel commented on #12291
Interesting. @axic is this something we had to explicitly add support for in our CMake config? 0.7 and 0.8 formulas are nearly identical and the only significant difference is which Solidity source tarball gets used.

[2021-11-17 17:17] xanderdunn commented on #12291
Hmm, disregard the Homebrew issue. I'm not sure what I did the first time but installing again just now has the right architecture:
[code]

[2021-11-17 17:25] cameel commented on #12292
I'm not sure I understand the problem. Can you describe it in more detail and also explain what indicates that it's a bug in the compiler and not just a mistake in your code? There are many reasons why you might get the wrong response on mainnet and more often than not it's caused by wrong addresses, insufficient balances and stuff like that rather than an issue in the compiler itself.

It would b

[2021-11-17 17:33] cameel commented on #12292
By the way, the way you call `abi.encodeWithSignature()` is incorrect. `"0x02F2bDf4F8E0FC6E17CA66a9EeBbEa5Ad4bfe712"` is not an `address` literal. It's a string literal and is not equivalent. To encode an address you must use `0x02F2bDf4F8E0FC6E17CA66a9EeBbEa5Ad4bfe712` (i.e. without quotes).

[2021-11-18 14:20] cameel commented on #11877
I added some tests in #12141. It does not test any multi-file contracts or files containing multiple contracts and @chriseth thinks it's important to include those as well so I'm going to do a followup PR to add them.

[2021-11-18 16:27] #10398 closed, assigned to cameel

[2021-11-18 18:19] vicnaum commented on #10195
Is there a Warning already?
I think many people are tricked with "0.8.0 is safe with overflows" and are assuming that conversions also should revert if the number overflows the resulting type. That's very dangerous and I saw no big warning on this topic anywhere. Wonder how many contracts are vulnerable because of this type of assumption?

[2021-11-18 20:54] NanezX commented on #12281
Hello! Yesterday we updated the solidity version to 0.8.10, and work perfectly, the whole code match.
Today I verified correclty on etherscan with individuals Input Description JSON, Thanks a lot!

[2021-11-18 21:53] cameel commented on #12281
Great to hear that!

BTW, you mean 0.8.10 of course? Looks like I found the time traveller :P

[2021-11-18 21:54] NanezX commented on #12281
Yeah, 0.8.10 hahaha. Thanks!

[2021-11-19 09:17] chriseth opened #12297 "Inline functions / closures / lambdas"
Especially  with generics ( https://github.com/ethereum/solidity/issues/869 ) it might get more important to allow the definition of functions inline. There has also been a proposal to have `require()` take a custom error, and due to the evaluation rules, it might be an option to take a function that returns an error as the second parameter.
Both use-cases demand a shorthand notation to define inl

[2021-11-19 11:49] cameel commented on #12297
I like the idea of something like `require(c, => CustomError())`. It's close enough to `require(c, CustomError())` but also has enough extra syntax not to hide the fact that the second argument is lazily evaluated.

As for blocks vs single expression - personally I think that inline functions are best used for very concise one-liners and, if we exclude capturing variables, anything else should rea

[2021-11-19 15:56] phyBrackets opened #12298 "Memory Management in Solidity."
These days I'm hanging around memory management . And I come to know there is no memory management in solidity , not automatic or even manual memory management . But there is delete keyword  exist here but don't get the actual purpose , setting the value to deafult or null , it doesn't mean that we are freeing the memory.  And that can lead to memory leak in the future.

[2021-11-19 16:20] cameel commented on #12298
Some kind of memory management is actually on our roadmap for 2022.

The main problem is that managing memory in many smart contracts would be just pure overhead and cost you more for absolutely no gain - why bother executing some elaborate allocation scheme that can deal with fragmentation or why deallocate memory at all if most calls are very short-lived and do not come even close to running out

[2021-11-19 16:20] #12298 closed, assigned to nobody

[2021-11-20 02:48] ghost commented on #12291
@cameel

Thanks for the information, it is much appreciated :) By any chance, do you have any updates with regards to where GitHub Actions is at with respect to its support for an Apple M1 runner?

[2021-11-20 15:11] abacabadabacaba opened #12299 "Documentation claims that 0x1F is a printable character"
## Page

[String Literals and Types](https://github.com/ethereum/solidity/blob/develop/docs/types/value-types.rst#string-literals-and-types)

## Abstract

This implies that 0x1F is a printable character, but it is actually a control character.

[2021-11-20 22:38] axic commented on #12299
You are correct, [the code](https://github.com/ethereum/solidity/blob/develop/liblangutil/Scanner.cpp#L846) actually considers `0x20 ... 0x7E` (inclusive) as printable. The docs should be fixed.

[2021-11-21 01:20] benediamond opened #12302 "Confusing error message when a getter would return zero values and the compiler refuses to generate it"
Original title: "unusual behavior with mapping within struct within library".

## Description

When a library contains a struct type whose _only_ member is a `mapping`, and a contract contains a _public_ member of that struct type, then compilation fails with error `Internal or recursive type is not allowed for public state variables.`. But if you add a _further_ field in the struct (of type `uint

[2021-11-21 16:38] cameel commented on #12291
No idea about Github Actions, though we'd only really use it as the last resort since almost all of our CI and build infrastructure is on CircleCI.

As for CircleCI, they showed it on their roadmap last time we talked to them and it's definitely coming (obstacles seem to be mostly of legal nature) but there's no concrete ETA for it at this moment.

[2021-11-21 21:15] Nielsbishere opened #12303 "Support for immutable in function parameters"
## Abstract

Consider something like EIP-2535 (Diamonds) that allows for swapping out functions for upgrades. This introduces some trust required from the user to make sure functions stay the same as they were before (or at least don't turn malicious). Without immutable as a variable modifier that's hard because every storage or memory variable passed can be modified by it; regardless of if it's n

[2021-11-21 21:29] cameel commented on #12302
This is not really a bug but a limitation of automatically generated [getters](https://docs.soliditylang.org/en/latest/contracts.html#getter-functions):

When all members of the struct are omitted, your getter would not return anything and the compiler issues an error. This is by design. I agree that the error message for this is pretty bad and should be changed though.

Related issue: #11369.

[2021-11-21 22:52] cameel commented on #12303
Related issue: #715.

I agree that some kind of const mechanism for parameters/variables is something we should really have in the language. The devil lies in the details :)

 Some general remarks:
- I don't see how this has anything to do with security. If a function is not `view`, it has full access to contract's storage. Even if you try to limit it with syntax, it's always possible to read/writ

[2021-11-21 22:58] ghost commented on #12291
Thanks for that info. Looking forward to seeing what happens with apple silicon support

[2021-11-22 01:04] Nielsbishere commented on #12303
@cameel interesting points, you're absolutely right about sstore/mstore. In OSes this is generally solved by something like VirtualProtect, which allows specifying ranges as read/write. Though something like that would require EVM changes that are probably too big of a change, but I don't see a good alternative (something like PushProtectRange and PopProtectRange). I thought about a "noassembly" f

[2021-11-22 01:37] cameel commented on #12303
Thanks for a detailed answer. This gives a much better picture of what you're thinking of. I was hoping it was more about a general concept of constness of parameters but looks like do mostly care about protecting specific areas of memory/storage.

I have more to say on specific points but before we get deep into that maybe let's talk about the most important point - security - because I really do

[2021-11-22 07:54] Nielsbishere commented on #12303
@cameel That's a shame. Basically the idea would be that this would give more of a guarantee to users that functions can't randomly be swapped out to something that can for example steal their funds; providing a better trust between devs and users.
If for example only 2 out of all variables have to be modified, then exposing the entire storage struct as readwrite could mean that if the dev was eit

[2021-11-22 10:02] #12299 closed, assigned to nobody

[2021-11-22 11:39] #11600 closed, assigned to nobody

[2021-11-22 11:39] #12225 closed, assigned to nobody

[2021-11-22 16:55] bshastry opened #12305 "[TypeChecker] ICE in spurious dragon due to unset return parameter decoding type in recursive library function call with a return function type"
[code]

throws

https://github.com/ethereum/solidity/blob/defc74c8a248585b9fe1ddc8a10d10f11c92c052/libsolidity/ast/Types.cpp#L2877

Repro:

[code]

[2021-11-22 17:38] wolflo opened #12306 "External calls should not generate RETURNDATACOPY if the return data is not used"
## Description

Solidity automatically copies all return data into memory after any external call, including low-level calls for which the return data is never captured or used. To my knowledge, the only way to prevent this is to make the call from an inline assembly block.

This is somewhat counterintuitive and makes it difficult to reason about the resource consumption of an untrusted external c

[2021-11-22 17:52] cameel commented on #9211
Some alternatives for the `export using f for MyType` syntax:
- `using {f, h} for MyType propagate`
- `using {f, h} for MyType public` (with or without an explicit `using {f, h} for MyType private` needed for the opposite case)
    - `using {public f, private h} for MyType` - would allow specifying it for each function separately.

latest: `using {f, h} for MyType global;`

[2021-11-22 19:27] ousha2020 opened #12307 "Reflection issue – Distribution issue"
Hi Experts,
I’m forking SafeMoon on test net, everything looks OK however the Smart Contract doesn’t distribute tokens for the holders, the contract is published on Test Net for your review, and I listed below all the steps I followed, it all went well except step # 5
I appreciate your feedback.
1-	Contract Owner Launched the token (https://testnet.bscscan.com/address/0x1a2650AA65d96EbC7dd5854f0B9

[2021-11-22 19:46] cameel commented on #12307
Have you actually checked that the code is correct? Can you reproduce the same problem e.g. on Ganache or in Remix?

If this is really a bug in the compiler, it would be a serious problem in code generator and those are pretty rare in practice. Most often when we get reports like this it's actually a bug in the contract so we need to exclude that possibility first. Can you show a specific part of

[2021-11-22 21:22] dallonasnes opened #12309 "Typo in intro to smart contracts documentation"
## Introduction to Smart Contracts

https://github.com/ethereum/solidity/blob/v0.8.10/docs/introduction-to-smart-contracts.rst

## Abstract

`reasonably` is misspelled in Intro to smart contracts doc
https://github.com/ethereum/solidity/blob/v0.8.10/docs/introduction-to-smart-contracts.rst

## Pull request

https://github.com/ethereum/solidity/pull/12308

[2021-11-22 21:31] cameel commented on #12306
Right, this does sound like a sensible optimization. I suppose it was done this way because we generally try to make the code generation straightforward and rely on the optimizer to remove unused stuff instead. In this case it looks like this is not being optimized out even though memory goes unused. This is something that the upcoming `RedundantStoreEliminator` (#11352) might be able to handle in

[2021-11-22 22:56] #12309 closed, assigned to nobody

[2021-11-22 23:19] cameel commented on #12305
This started happening in 0.7.4.

Slightly simpler repro (with no syntax errors):
[code]
[code]
Using an internal type as return value here is still an error though. I don't think it's actually reproducible on something that would compile.

Also, this is only broken for libraries, contracts are fine:
[code]
[code]

[2021-11-23 00:15] ousha2020 commented on #12307
Hi @cameel , thank you so much for your reply, I don't think it's a compiler issue. I copied the code from Safe Moon token (https://www.bscscan.com/address/0x8076c74c5e3f5852037f31ff0093eeb8c8add8d3#code) and I just changed the token name as you can see here ( https://testnet.bscscan.com/address/0x1a2650AA65d96EbC7dd5854f0B9032615629F442#code ), the code is working fine with the actual token Safe

[2021-11-23 00:23] cameel commented on #12307
Oh, in that case please try the [#soldity](https://gitter.im/ethereum/solidity) channel on gitter or [Ethereum Stack Exchange](https://ethereum.stackexchange.com). This bug tracker is only a place to report compiler bugs and submit feature requests.

[2021-11-23 00:23] #12307 closed, assigned to nobody

[2021-11-23 08:45] AlbertSu123 commented on #232
Another use case is testing functions when running dapptools. It would be nice to have functions used for some tests to have optional parameters

[2021-11-23 09:06] chriseth commented on #12305
It looks like we need to distinguish between internal types like storage references and internal types like internal function pointers. The latter should only be invalid in non-internal library functions...

[2021-11-23 09:09] chriseth commented on #12306
Related to @hrkrshnn 's focus task of tracking memory references. I'm not sure we should really even further complicate the call code.

[2021-11-23 12:26] lmittmann opened #12313 "`ConstantOptimizer` ignores the `runs` parameter when generating EVM assembly from Yul"
## Description

When compiling the following code with optimizer enabled, solc always optimizes for contract size regardless of the "optimize-runs" arg.
The doc says the greater the runs-arg the more it is optimized for execution. So I would expect the optimizer to use PUSH32 at some point instead of PUSH4 and SHL. Is it possible to disable this specific "optimization" somehow?

[code]
## Got:
[co

[2021-11-23 13:45] cameel commented on #12313
This works as expected. It's just that in your input file all the instructions are treated as the creation code and that executes only once. Try the structure that the compiler produces when generating Yul from Solidity. That will make `--optimize-runs` actually affect the decision the optimizer makes here.

`test-runtime.yul`
[code]
### `--optimize-runs=999999`
[code]
[code]
### `--optimize-runs=

[2021-11-23 13:45] #12313 closed, assigned to nobody

[2021-11-23 14:31] cameel commented on #12127
Some relevant discussion from the chat:

@hrkrshnn

@cameel

I guess that with the builtin we could just assume that the precompile does not read or write any storage?

@hrkrshnn

[2021-11-23 14:38] wolflo commented on #12306
Understandable that complicating the code generation here is a major concern.

I would argue that this is a subtle security issue, and is at least worth adding to the docs (happy to do that if that's the best way forward). Being able to force a contract to copy unlimited data into memory after any external call is potentially a serious problem for many contracts.

[2021-11-24 00:23] axic commented on #12127
I'm in favour of having a built in yul, especially if it can be also used in inline assembly. Though we may want to consider making this more generic.

[2021-11-24 08:33] gakonst commented on #7763
@chriseth is anybody actively working on this? This is quite important and if not, it would be nice if we can find somebody to get it over the line. Is the issue funding? Documentation about Solidity internals? Would love to help in any way possible.

There seems to be another old project on this [here](https://github.com/rocky/solc-lsp) as well.

[2021-11-24 09:00] chriseth commented on #7763
Thanks for offering your help! We plan to release the LSP by the end of the year. What we mostly need is testing in various different IDEs and feedback about it. It is being worked on at https://github.com/ethereum/solidity/pull/11350

[2021-11-24 11:14] llattanaja opened #12321 "I'm assuming this was opened in error. If not, please re-open."
I'm assuming this was opened in error. If not, please re-open.

_Originally posted by @chriseth in https://github.com/ethereum/solidity/issues/12318#issuecomment-977741812_

[2021-11-24 11:48] cameel commented on #12321
Spam.

[2021-11-24 14:46] cameel commented on #10278
[gasol](https://github.com/costa-group/gasol-optimizer) is another tool that expects input in the `--combined-json asm` format (and also outputs that format).

Looks like `evm.legacyAssembly` is basically the same format if you look at each individual contract but contracts are laid out a bit differently in JSON and it's a part of a bigger JSON structure so it needs at least a simple transformatio

[2021-11-24 15:50] mudgen commented on #12303
@Nielsbishere

There are ways to minimize security issues or trust with upgradeable contracts.  Here are some ways:

1. Make upgrades only possible with on-chain votes by users or governance token holders.  DerivaDEX does this. https://medium.com/derivadex/the-diamond-standard-a-new-paradigm-for-upgradeability-569121a08954
2. It is possible to use a multisignature contract to do upgrades. This mak

[2021-11-24 15:54] mudgen commented on #12303
@Nielsbishere

This does not solve the problem.  If new functions can be added then new functions can be added that can manipulate any of the state in the contract. For example a new function can be added that steals all users` funds.

[2021-11-24 16:16] chriseth commented on #10645
This could be combined with the `Operations` from #11352

[2021-11-24 16:23] Nielsbishere commented on #12303
@mudgen
1. Governance through tokens is a debated topic though, because wealthy investors can just buy everything and rule it. But I don't see a good way to do this without requiring KYC (and even that could be manipulated).

The rest sounds good and you're right about the adding new functions thing. It's a bit complicated to wrap my head around making it in a way that doesn't expose everything to

[2021-11-24 16:55] mudgen commented on #12303
@Nielsbishere

I'm not really understanding what the point of this is. Can you clarify?

---

With that you made me think of a way to have a diamond with immutable functions that read/write state that can't be messed with by upgradeable functions or new functions.  This is how:

1. Add immutable functions directly to the diamond proxy contract.  This is so that it is not possible to remove or repl

[2021-11-24 17:16] Nielsbishere commented on #12303
@mudgen the point is basically not passing a storage struct but instead a memory struct, so if modifications are done it won't affect anything on chain.

That sounds pretty good, I'll look into it.

[2021-11-24 17:17] mudgen commented on #12303
@Nielsbishere Okay, thanks.

[2021-11-24 17:31] mudgen commented on #12303
That's a good point. Thanks.

[2021-11-24 18:00] avatar-lavventura opened #12324 "[help] Explicit type conversion not allowed from "uint256" to "int32""
I am having following error with the latest solc (`0.8.10`) version, which was not happening in the `solc versiona 0.7.*`

[code]

Would it be possible to fix it?

[2021-11-24 18:01] nishant-sachdeva commented on #12057
Okay, so I put the test mentioned here in a .sol file of it's own and ran the following commands

1. solc --ir test.sol 2> only_ir.txt

2. solc --strict-assembly  only_ir.txt 2> error.txt

I got the following error description
`Error: Function "convert_t_function_external_nonpayable$__$returns$__$_to_t_function_external_nonpayable$__$returns$__$" expects 2 arguments but got 1.
   --> only_ir.txt:2

[2021-11-24 18:27] cameel commented on #12324
It's not a bug in the compiler. On 0.8.x you just need to explicitly convert it to `uint32` first. See [How to convert bytes1 to int8 in Solidity?](https://ethereum.stackexchange.com/questions/111261/how-to-convert-bytes1-to-int8-in-solidity) for an explanation of a similar problem.

[2021-11-24 18:27] #12324 closed, assigned to nobody

[2021-11-24 18:29] dallonasnes opened #12325 "Add details of fixed-size type handling to abi.encodePacked docs"
## abi.encodePacked docs

https://github.com/ethereum/solidity/blob/encode-packed-api-details/docs/abi-spec.rst

## Abstract
Details behavior for dynamic-sized types but insufficient information regarding behavior for fixed-size types.

## Pull request

#12326

[2021-11-24 21:51] avatar-lavventura commented on #12324
@cameel Thanks, I solved it via: `int32 core = int32(int256(core));` or `int32(int256(uint256(another_core)))` if the instance is `uint32`

[2021-11-25 01:46] cameel commented on #12057
Yeah, that's the issue. Yul code generated by the compiler should not have syntax errors.

To find the cause I'd start looking around the code that processes assignments in the IR codegen: https://github.com/ethereum/solidity/blob/71f8576b86e7c2f9161683bf2c6c7129f624f182/libsolidity/codegen/ir/IRGeneratorForStatements.cpp#L434-L489

It adds a conversion for the value being assigned. We have a help

[2021-11-25 03:45] frangio opened #12328 "Implicit conversion from contract to address"
If a contract wants to query its own balance of some (ERC20) token, the expression is `token.balanceOf(address(this))`. As far as I can tell, there is no reason to force a manual cast to address. It would be simpler to write, but more importantly simpler to read and understand, if the expression was `token.balanceOf(this)`.

Couldn't find an existing issue about this conversion in particular, and

[2021-11-25 05:31] luweijie007 opened #12329 "compiler error:size_t’ was not declared in this scope; did you mean ‘std::size_t’?"
git clone source and check out v.7.0.6
and ./scripts/build.sh
 error break:
size_t’ was not declared in this scope; did you mean ‘std::size_t’?
gcc (GCC) 11.1.0
clang version 13.0.0
os: manjaro

[2021-11-25 05:50] phyBrackets commented on #12329
are you using **using namespace std** ?

[2021-11-25 05:56] luweijie007 commented on #12329
i just test to compile special version from source and no modify source. you means I has to change some makefiles for compile. I just follow this :https://docs.soliditylang.org/en/latest/installing-solidity.html#building-from-source.
to do. I just check prepare env and follow list.

[2021-11-25 09:25] chriseth commented on #12329
Can you provide the full build log? I'm especially interested in the file and location of the error.

[2021-11-25 16:08] cameel opened #12332 "Errors reported for modifier overloading should outright say that overloading is not allowed"
Error messages reported when you try to overload a modifier say that you cannot use the same name but do not say why. I think they should outright say that the cause of the error is that modifier overloading is not allowed. At least until we actually implement it (#72).

### Example 1: straightforward overloading
[code]
[code]

### Example 2: overloading by inheriting from two bases
[code]
This ca

[2021-11-26 02:32] tnemoz commented on #1013
I'm not sure this is on point, but for generic code like this:
[code]
It costs less gas, because it uses less memory to do something like this:
[code]
However, there are cases where this could be much more difficult to read: you cannot assign the variable you are working with a meaningful name other than the one it previously had. Thus, if you want to reuse this variable, you have to keep the same

[2021-11-26 05:08] fulldecent commented on #1013
Reusing variables to reduce gas costs requires the userland programmer to make assumptions about how the compiler works.

As a userland programmer, don't make assumptions about how the compiler works.

---

Now if you want to be a solc developer then do this:

1. Create a minimally viable program using both syntaxes
2. Profile them
3. Open an issue stating that the optimizer has an opportunity to

[2021-11-26 09:50] luweijie007 commented on #12329
[code]

[2021-11-26 12:45] ryzheboka commented on #10308
Next weeks will be very full and stressful for me. I probably won't be able to finish the testing, at least not in next weeks. I'm very sorry!

[2021-11-26 14:45] frangio commented on #12306
@chriseth Is there a link where we could track the work on tracking memory references? I was just looking to propose a related optimization.

[2021-11-26 14:57] cameel commented on #10308
No worries. Take your time. There is no deadline for this task so if you want to just come back to it later when you have more time that's not a problem for us :)

[2021-11-26 15:03] cameel commented on #12306
I don't think we have one overarching issue for that. There's a bunch of issues about tracking memory stores and removing redundant ones (#10690, #10755, #6727, #12211), there are also a few ongoing PRs (#12272, #11352,  #11192).

You can post in one that looks relevant but if it's a completely new thing I think it would be fine to just open a new issue specifically for that optimization.

[2021-11-26 15:07] avatar-lavventura opened #12334 "How can I build solc v0.7.6 in aarch64 Architecture"
I am working on the follow amazon instance `Ubuntu 20.04.3 LTS (GNU/Linux 5.11.0-1020-aws aarch64)`. I was wondering would it be possible to install `solc v.0.7.6` into `aarch64`.

Installing `solc-linux-amd64-v0.7.6` freezes during the make process. Please note that `sudo snap install solc --edge` is able to install latest version of `solc v0.8.2` but I want to install its lower version (`v0.7.6`

[2021-11-26 15:24] frangio opened #12335 "Deallocation of memory for simple cases (e.g. keccak + abi.encode)"
It's very easy to write code that makes wasteful use of memory so I think it's an important place to look for simple and common patterns amenable to optimization.

One such pattern is `keccak256(abi.encode(...))`. The result of encoding is put in memory and never deallocated, even though it's immediately used and there is no reference to it.

I'm not familiar with the optimization pipeline (for ei

[2021-11-26 16:08] cameel commented on #12334
Have you tried to build the latest version (0.8.10) the same way (i.e. not from snap)? Does it have the same problem?

I have never really tried building on ARM myself but @axic said recently that at least on macOS it works fine without any tweaks needed and I assume the same should be true for Linux. You're saying that there are no errors in the log and make just hangs? Can you try to get more ve

[2021-11-26 16:27] cameel commented on #12335
Thanks for a more detailed description. So it's a different optimization than the one I've been thinking of when I wrote https://github.com/ethereum/solidity/issues/12306#issuecomment-980043720. The PRs/issues I listed there are all about removing `mstore`s that can be proven to be redundant. Your case here is about memory allocation and reuse instead.

Turns out we do have an issue about that (#5

[2021-11-26 17:18] cameel commented on #12329
The error is that `yulPhaser/PairSelections.h` uses the `size_t` type from `cstddef` header but on your system that type is inside the `std` namespace.

I found this in some SO answer ([Which header should I include for `size_t`?](https://stackoverflow.com/questions/36594569/which-header-should-i-include-for-size-t)):

So apparently this indeed might fail, I wonder why we never ran into it in our

[2021-11-26 17:35] avatar-lavventura commented on #12334
I was using amazon instance with 1 GM RAM, that's why it was freezing.

When I increased RAM into 4 I was able to compile it without an issue for 0.7.6 and the latest version.

[2021-11-26 17:35] #12334 closed, assigned to nobody

[2021-11-27 00:00] cameel commented on #1013
Right, if the more readable version produces suboptimal code, please just open a separate issue and we'll see what we can do. We'd rather improve the optimizer than add new syntax just to work around its deficiencies. Also note that the upcoming Yul-based codegen has a much more powerful optimizer and that generator is going to become the default in the near future. You can pass the `--experimenta

[2021-11-27 18:04] Nielsbishere opened #12337 "[Bug] Includes aren't relative to the include's current directory"
## Description

It seems when the following folder structure is used, solc doesn't know it should find files relative to the current directory of the file that is being included.

## Environment

- Compiler version: 0.8.10
- Target EVM version (as per compiler settings): ^
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execution environment / backend / blockchain client: ^
- Operating system

[2021-11-28 07:45] cameel commented on #12337
I cannot reproduce this. This compiles just fine on 0.8.10 for me:
[code]

No errors. If you check metadata, it shows that the files get the right names in the internal VFS and have the right content:
[code]
[code]
If I change `import "./inc/MyInclude1.sol";` to `import "./inc/MyInclude.sol";` in `myDependency/MainContract.sol` the compiler does not use `inc/MyInclude.sol`. Instead I get an error:

[2021-11-28 10:21] jlinzhou opened #12338 "Erc20 token transfer problem"
Can the erc20 token be  used in the following scenarios？
Address1 wants to  transfer erc20 token. Address1 gives the transaction to be sent to Address2. And Address2 signs the information related to the fee deduction and places it in the data data segment of the transaction. The transaction is then broadcast and the blockchain processes the transaction according to the rules.

[2021-11-28 11:06] Nielsbishere commented on #12337
You're right I seem unable to reproduce it in that way too now. However if I remove the ./ before the include path it doesn't take a relative path it seems like. My project used that so that's why it didn't compile, now it works fine. Though this might still be an issue

[2021-11-28 13:39] cameel commented on #12337
It's not a bug, it's by design. `import "a.sol"` is not just a shorter version of `import "./a.sol"`. Imports starting with `./` or `../` (relative imports) are relative to the path of the importing file while others (direct imports) are taken as is. It's explained in detail in [Import Path Resolution > Imports](https://docs.soliditylang.org/en/latest/path-resolution.html#imports).

[2021-11-28 14:01] Nielsbishere commented on #12337
Hmm that's a bit confusing though, as other languages like C/C++ do allow this syntax. What's the reason for having absolute paths? I understand the use of @<myLib> but don't really understand the use of the other.

[2021-11-28 16:25] cameel commented on #12337
C++ actually has the same exact mechanism, just with a different syntax - `#include "..."` is relative to the header path and `#include <...>` is resolved with respect to a predefined directory path, just like `--base-path` in Solidity.

Direct imports are not absolute the way you might be thinking about them. They're absolute in compiler's VFS but the VFS does not work with paths. They're just ar

[2021-11-28 16:35] cameel commented on #12338
This is not the right place to ask such questions. It's the bug tracker for the Solidity compiler and is meant for submitting reports about bugs in the compiler and feature requests. The compiler does not provide any ERC20 implementation. You can try on [#solidity](https://gitter.im/ethereum/solidity) gitter channel or https://ethereum.stackexchange.com instead.

If you're talking specifically abo

[2021-11-28 16:35] #12338 closed, assigned to nobody

[2021-11-28 17:06] Nielsbishere commented on #12337
Ah that makes sense now, it's just a bit confusing that import "./x" and import "x" are basically two different expressions in what they do. `#include <x>` clarifies that it's not relative. I have read it but it seemed confusing that virtual and local files are mixed in this way, but seems useful nonetheless

[2021-11-29 08:16] Sajadzoli opened #12339 "0x2FAF487A4414Fe77e2327F0bf4AE2a264a776AD2"
0x2FAF487A4414Fe77e2327F0bf4AE2a264a776AD2

_Originally posted by @Sajadzoli in https://github.com/ethereum/go-ethereum/issues/24009#issuecomment-981386223_

[2021-11-29 09:28] #12339 closed, assigned to nobody

[2021-11-29 15:52] chriseth commented on #12057
It complains about IR code of the form `let itemValue :=...`. If you search for that in the compiler source code, you end up in YulUtilFunctions.cpp, in the function `copyValueArrayStorageToStorageFunction`, so I think it has to be changed there. The code there looks a bit intimidating, but we can go through it together if you like.

[2021-11-29 15:56] chriseth commented on #12057
I'm actually not sure if we should call `convert` there at all. The problem is that `extractFromStorageValue` does not return something of the actual type - external function pointers for example are always compressed.

[2021-11-29 15:58] chriseth commented on #12057
Can you test if this breaks for copying such a storage array to memory? I don't see a similar protection for `copyArrayFromStorageToMemoryFunction` either.

[2021-11-29 16:35] chriseth commented on #12335
The attempts to do this on the yul level were not very fruitful so far, but I think we could improve that on the Solidity level, in that we do reference and lifetime tracking on memory objects.

[2021-11-29 16:50] cameel commented on #12238
#12277 has just been deployed to RTD (https://docs.soliditylang.org/en/latest/) but looks like it didn't work correctly.

The RTD logo is gone but there's no PDF link in its place:
![missing-pdf-download-link-in-docs](https://user-images.githubusercontent.com/137030/143908276-d78bf916-648b-4304-9df8-b42d6e979e48.png)

Downloads and versions are also still in the old order when you open the popup.

[2021-11-29 17:37] nishant-sachdeva commented on #12238
Yes, I assumed that javaScript issue was at work as well.

But the download section was above the version section in my local rendering.
![Screenshot from 2021-11-29 23-05-09](https://user-images.githubusercontent.com/32475507/143916130-45389fbc-c5bf-4016-9717-38c40cfbcb52.png)

Will investigate this Asap

[2021-11-29 17:51] cameel commented on #12238
Yeah, this is weird. In the PR it's clearly above but not on RTD and this is unlikely to be caused by JS, it's just static HTML. I initially thought that maybe https://docs.soliditylang.org/en/latest/ just has not been updated yet but it usually updates shortly after a merge and the RTD logo is definitely missing (you can still see it on https://docs.soliditylang.org/en/v0.8.10/ which is an older

[2021-11-29 18:58] cameel opened #12343 "sushiswap/trident: `StackTooDeepError` in the new Yul->EVM transform"
I'm trying to compile [Trident](https://github.com/sushiswap/trident) via IR to use it for benchmarking the optimizer. Unfortunately it runs into "stack too deep" errors both with and without the optimizer. The project compiles fine with the legacy codegen (also both with and without the optimizer).

If the legacy codegen has no problem with it then I guess it should be possible to improve the Yul

[2021-11-29 19:09] LOALtoken opened #12344 "Identifier not found or not unique"
## Page: Remix Ethereum

## Abstract

 I don't know how to fix this. function buy_LOAL(address investor, uint BNB_invested)external can_by_LOAL (BNB_invested)

There's an error but I can't find it. Here's what the compiler points out: DeclarationError: identifier not found or not unique

## Pull request

[2021-11-29 19:15] looksnap commented on #12251
Ok well, the most common place for the license to appear is in Etherscan and Bscscan, and you can find multiple verified contracts where the SPDX identifier is "UNLICENSED" but the License selected from the Etherscan/Bscscan dropdown is "Unlicense". Which one takes precedence?

This indicates confused usage, regardless of whether that was the npm recommendation (which is a more generic recommendat

[2021-11-29 19:18] cameel commented on #12344
This is a bug tracker for the Solidity compiler and is meant for reporting bugs in the compiler and requesting new features. If you need help debugging your contract you can try posting on the [#solidity](https://gitter.im/ethereum/solidity) gitter channel or [Ethereum StackExchange](https://ethereum.stackexchange.com).

[2021-11-29 19:18] #12344 closed, assigned to nobody

[2021-11-29 22:13] frangio commented on #12335
If it can't be implemented in a generalized way, is it possible to do it specifically for expressions of the form `keccak256(abi.encode[Packed](...))`?

[2021-11-29 22:57] frangio opened #12346 "Stop-after: full AST is available"
The information contained in the AST is really useful. I think it's one of the best things about the compiler. In particular, I really appreciate stuff like `linearizedBaseContracts`, `referencedDeclaration`, `typeDescriptions`, `baseFunctions`, etc.

If I want all this information, as far as I know I currently need to run the full compiler pipeline. I assume (let me know if this is false) a signi

[2021-11-29 23:09] #12325 closed, assigned to nobody

[2021-11-29 23:43] ShakaibKhan commented on #10243
If no one else minds I would like to try making a PR to address this

[2021-11-30 05:48] dallonasnes opened #12347 "Pattern matching input to command line test script errors on macOS"
## Description

Pattern matching input to `test/cmdLineTests.sh` doesn't work on macOS
Context in #12179

## Environment

- Operating system: macOS

## Steps to Reproduce
[code]

[2021-11-30 10:20] luweijie007 commented on #12329
@cameel thanks your use message
I think may been glibc or some other system file on my os are diffrent with you.  you kown that update on manjaro is  verry frequently.  I will try to update os and try again.

[2021-11-30 11:23] cameel commented on #10243
Are you looking for an issue to work on or are you specifically interested in fixing this because you want to use the ewasm target?

[2021-11-30 11:55] chriseth commented on #12346
We have this stage internally, but do not expose it. Depending on the interface, just not requesting any output that requires the bytecode should have the same effect. How do you interface to the compiler again?

[2021-11-30 11:56] cameel commented on #12346
Looks doable and pretty easy but I can't say exactly if savings would be worth it. `referencedDeclaration` is filled out by `TypeChecker` which runs somewhere in the middle of [analysis](https://github.com/ethereum/solidity/blob/2f95f3c6c6a2b68c58925fbc1f7f2f165e279602/libsolidity/interface/CompilerStack.cpp#L428-L580).

From a technical perspective it's no problem to add another value to `stopAft

[2021-11-30 12:19] cameel commented on #12346
That's a good point. I assumed it would not be enough because you can already do that by not requesting bytecode. But maybe that's actually enough for this use case? I have never tried to profile how much analysis takes relative to codegen - is the codegen that much heavier?

[2021-11-30 12:22] frangio commented on #12346
If you can confirm that not requesting bytecode should have the same effect I think we can close this issue.

[2021-11-30 12:37] #12346 closed, assigned to nobody

[2021-11-30 13:10] cameel commented on #12346
Yeah. The compiler internally only generates artifacts on demand.

Just with one caveat (that only applies if you're **not** using Standard JSON): on the CLI this behavior has been introduced very recently (in 0.8.8, #11895). Before that the output for `--bin` would always be generated, even if not requested. Standard JSON had this behavior all along.

[2021-11-30 14:12] christianparpart opened #12349 "solc diagnostics to show either warnings or errors"
[code]

This snippet shows the error `6777` but not the warnings. If you comment out the return statement, the warnings are shown.

It should be expected to show always warnings along the errors.

[2021-11-30 14:31] Shungy opened #12350 "Solc fails compiling code with inline assembly when locale is set to Turkish"
## Description

Solc does not compile code with any inline assembly if the Linux system locale is set to Turkish.

## Environment

- Compiler version: any solc linux-amd64
- Target EVM version (as per compiler settings): any
- Framework/IDE (e.g. Truffle or Remix): n/a
- EVM execution environment / backend / blockchain client: n/a
- Operating system: linux

## Steps to Reproduce

Optional steps to

[2021-11-30 14:50] chriseth commented on #12350
Maybe related to the function `setDefaultOrCLocale` in main.cpp