[2018-01-23 16:43] chriseth commented on #3423
Thanks for this issue! The code is in fact valid, it declares a variable of [function type](https://solidity.readthedocs.io/en/develop/types.html#function-types). I agree that it might be confusing, so if you want to add a comment to the part of the documentation that talks about function declarations and cross-link function types, that would be awesome!

[2018-01-23 17:07] chriseth commented on #3421
@fulldecent yes, we noticed :)

we have https://gitter.im/ethereum/solidity and https://gitter.im/ethereum/solidity-dev - the former is for users the latter for contributors.

As far as the issue is concerned: This is actually not different for functions. We have an open issue to restrict such inheritance for functions, it would be great if you could cross-link that!

[2018-01-23 17:17] duaraghav8 commented on #3423
Ah! I mis-understood this syntax as a function declaration. Rather, its a variable declaration (a variable of type `function`). I'll send in a PR to docs for this & then close this issue.

[2018-01-23 17:17] chriseth commented on #3409
@akuanti yes, that sounds about right. A library cannot have a constructor, so you cannot even pass arguments at deploy time, which means the ABI is not even needed there. Yes, you should just send a transaction containing the library's bytecode.

[2018-01-23 20:21] fulldecent commented on #2330
@pirapira further arguments on getting rid of the current `interface` keyword are at #3420.

[2018-01-23 20:31] fulldecent commented on #3421
Sorry I'm having trouble finding that other issue. But here is a test case:

[code]

[2018-01-24 01:12] fulldecent opened #3428 "Compiler should complete even if contract is not fully implemented"
Currently, the compiler will not run if contract/interface methods are left unimplemented.

Instead the compiler should run if there are no syntactical/grammar errors.

Why? Because the compiler parses NatSpec and NatSpec is useful even for incomplete contracts and for interfaces.

![screen shot 2018-01-23 at 7 52 08 pm](https://user-images.githubusercontent.com/382183/35308745-294cc518-0077-11e8-

[2018-01-24 01:16] axic commented on #3428
Please verify that is the case with the Solidity commandline tool (`solc`). Not sure what exactly "will not run" means, but the screenshots only show fields (apart from the `methodHashes`) which are relevant for bytecode output.

Remix IDE related issues should not be reported here.

[2018-01-24 01:17] fulldecent commented on #3376
Merged. Fixed in https://github.com/ethereum/solidity/commit/c7632fc732dcd49bb3add1aea1d9fdc05612c034

[2018-01-24 01:17] #3376 closed, assigned to nobody

[2018-01-24 01:20] fulldecent commented on #3379
Counter example:

This compiles in 0.4.19 but not in 0.4.0:

[code]

[2018-01-24 01:23] axic commented on #3379
I do not exactly follow what counter example is this?

[2018-01-24 01:42] fulldecent commented on #3379
You stated "fixing warnings emitted by 0.4.19 will still results in a compilable code on 0.4.0."

This counter example shows a contract where warnings are fixed in 0.4.19 but where the code does not compile in 0.4.0.

[2018-01-24 02:00] axic commented on #3379
That is a response to your original issue listing this task:

What I've said is that fixing warnings in the code to make the 0.4.19 compiler silent will still result in code which can be compiled with `>=0.4.0` (if the given pragma is `^0.4.0`).

If there is a given code piece which already requires a higher version, that is for a reason, which is it uses a feature introduced in that given version

[2018-01-24 02:12] axic commented on #3387
@winsvega closing this, please use `keccak256`.

[2018-01-24 02:12] #3387 closed, assigned to nobody

[2018-01-24 02:13] axic commented on #3372
@barakman would you be interested in documenting this tradeoff? Others may run into the same issue too.

[2018-01-24 02:23] fulldecent commented on #3379
Here is a screenshot where the 0.4.19 compiler using 0.4.0 pragma does recommend a change that is incompatible with 0.4.0.

![screen shot 2018-01-23 at 9 11 06 pm](https://user-images.githubusercontent.com/382183/35310945-fca528a6-0081-11e8-8db7-9b160ee7583e.png)

[2018-01-24 02:23] fulldecent commented on #3379
When developing documentation I subscribe to the best practices:

* Warnings are errors
* If a code example causes an error with the latest released compiler then the code example should be fixed

Currently "Improving the documentation" is the [first item listed](http://solidity.readthedocs.io/en/latest/contributing.html) for contributors to help with. If a different set of best practices apply fo

[2018-01-24 02:28] axic commented on #3379
I've never opposed adding state mutability modifiers (pure, view) to examples (I think somebody started doing that in a PR a while back). If we do that, of course the version requirement must bump to where it was introduced.

[2018-01-24 02:36] fulldecent commented on #3428
Thank you @axic, I have followed your advice and confirm `solc` DOES work as expected. Closing issue. Adding notes. Reporting downstream.

TEST CASE:

[code]

COMMAND:

[code]

OUTPUT:

[code]

[2018-01-24 02:36] #3428 closed, assigned to nobody

[2018-01-24 02:51] axic commented on #3390
Closing this now.

[2018-01-24 02:51] #3390 closed, assigned to nobody

[2018-01-24 02:53] axic commented on #3355
1. `libsolidity/interface/StandardCompiler.cpp` must be changed to enforce strict mode
2. tests at `test/libsolidity/StandardCompiler.cpp` need to be added to ensure strict mode actually works

[2018-01-24 02:54] fulldecent commented on #3379
Cool. So basically most things before 0.4.16 are at least in scope for an update to 0.4.16 for mutability guarantees. If I can find an important feature past 0.4.16 then that's a reason to upgrade further. But otherwise, maintain the oldest supported prama for any given code.

Here's a first step: https://github.com/ethereum/solidity/pull/3431

[2018-01-24 03:25] axic opened #3432 "Introduce bytecode compression for gigantic contracts"
(Originally tracked in https://www.pivotaltracker.com/story/show/84781120)

Also see https://github.com/ethereum/EIPs/issues/91.

The idea is to have a decompressor during deploy time in the "constructor" (just like self extracting ZIPs and the 624 packer worked). This could save on deployment fees (but only if the input didn't contain a lot of zeroes).

Unlikely though this will produce usable re

[2018-01-24 10:50] chriseth commented on #3432
Actually I think I have seen an lz decompressor in EVM at some point by someone...

[2018-01-24 10:56] axic commented on #3432
Yes, it is linked in the EIP linked above :)

But it is quite outdated, uses `call` for memcpy. It could be implemented much better in Julia.

[2018-01-24 13:47] anaibol commented on #232
+1

[2018-01-24 14:02] dilab opened #3434 "Doc repository"
Can we separate the doc to a new repository?

This will make it much easier to do translation and keep the translation in sync with the main repo.

[2018-01-24 14:30] axic commented on #3434
Can you please expand how a separate repository helps having translations in sync?

Two benefits we have for having documentation in this repo:
- all examples can be compiled with every change, ensuring they never break
- new features/changes can be merged to documentation the same time the change is applied to code

[2018-01-24 19:48] devzl opened #3435 "A clearer naming convention for events"
The only convention that differentiates triggering an event from calling a function now, is the capital letter at the beginning of an event.

I think it will be a better thing, to make the code of a Solidity snippet more clear, and make a developer's intentions explicit, is to prefer another naming convention for events such as:

* Putting an "E_" at the beginning. Example: E_Transfer
* Ending the

[2018-01-25 02:14] dilab commented on #3434
Okay, thanks for answering.

Here is what I am trying to achieve:
1. Git clone a **doc** repository and set up a Chinese translation site
2. Closely watch changes of the **doc**  and do the Chinese translation accordingly.

With current repository(doc + source code), I will get a lot of noise. Meaning a lot of changes have nothing to do with translation.

Hope that answers the question.

[2018-01-25 19:06] federicobond commented on #3435
For code style conventions, the well-known ConsenSys Smart Contract Best Practices recommend [adding a Log prefix](https://consensys.github.io/smart-contract-best-practices/recommendations/#differentiate-functions-and-events). For language-level differentiation, please follow the discussion here: https://github.com/ethereum/solidity/issues/2877

[2018-01-26 10:00] axic opened #3437 "Metadata is not created for abstract contracts"
From https://github.com/ethereum/browser-solidity/issues/1012 and https://github.com/ethereum/browser-solidity/pull/1018#issuecomment-360603397

cc @fulldecent

[2018-01-26 10:03] axic commented on #3437
Created this here to track the issue, but I do not think it actually makes sense forcing the creation of the metadata, since the only purpose it has to serve as a source to recreating the same binary.

@chriseth what do you think?

[2018-01-26 10:05] axic opened #3438 "Should explain the use case for "Non-standard Packed Mode""
It is there to efficiently support hashing non-ABI encoded data. Should probably rename it too.

(Trigger: https://twitter.com/socrates1024/status/956732271997915136)

cc @amiller

[2018-01-26 10:55] axic commented on #3409
@chriseth:

This is an actual question we should consider. After #3203 we could consider only outputting view/pure which can be called without `DELEGATECALL`. That also means those functions won't have internal types and the resulting ABI will be valid.

[2018-01-26 11:13] #3435 closed, assigned to nobody

[2018-01-26 11:15] devzl commented on #2877
It would be a really good thing if people started using this recommendation, especially in standards propositions.

[2018-01-26 13:11] chriseth commented on #3409
@axic Yes, I agree. We should filter the ABI for a library and remove anything that is not view or pure and anything that has a storage pointer type as parameter or return parameter.

[2018-01-26 15:01] #1209 closed, assigned to nobody

[2018-01-26 15:48] chriseth commented on #3437
Hm, I would also agree.

[2018-01-27 00:30] xni commented on #3414
I think explanation about why I was wrong is this:

[code]

[2018-01-27 13:57] chapati23 commented on #2675
One option could be to take `.soliumignore` into account

[2018-01-28 14:25] riordant opened #3441 "Introduce multi-word memory load in assembly"
Outside of calldatacopy, which won't work in every case, there is no way currently to load more than a single word in memory in assembly. From the docs:
`mload(p):  mem[p..(p+32))`

Multi-word memory copy would involve specifying a memory address and a number of bytes/words to copy. in the case of bytes:
`mload(p, n):  mem[p..(p+n))`

Subsequent operations should also be introduced for mstore, eg.

[2018-01-28 17:00] fulldecent opened #3442 "Interfaces: require external visibility"
The [Ethereum ABI specification](https://solidity.readthedocs.io/en/develop/abi-spec.html) does not make a distinction between `external` and `public` functions. Therefore the `Interface` keyword likewise should not so distinguish.

Currently `private` and `internal` are disallowed in `interfaces`s.

For clarity, only `external` functions should be allowed in `interface`s.

[2018-01-28 17:27] mossid opened #3443 "Add 'deprecated' keyword for preserving storage layout"
While upgrading contract is available now using proxy contracts, removing storage variable makes the storage layout different from before the upgrade.

[code]
The position of `currentIndex` is at `keccak256(uint256(2))`;

After we upgrade it to the following:

[code]
The position of `currentIndex` is now at `keccak256(uint256(1))`, which leads us to referring wrong position (which used by `maximum

[2018-01-28 22:27] fulldecent commented on #3437
Here is a use case for abstract contract metadata.

Currently abstract contracts are the only way to define "an interface" which includes *some* implementation details. Interfaces should be documented. Therefore abstract contract metadata is the only way to properly document these types of interfaces.

Related: https://github.com/ethereum/solidity/issues/3420

---

Also, if you ever think changing

[2018-01-28 22:39] axic commented on #3437
I am not sure how metadata and "documentation" are related.

I think you should have a look at the compiler interface: http://solidity.readthedocs.io/en/develop/using-the-compiler.html#compiler-input-and-output-json-description

Natspec can be retrieved from the compiler for any contract (as it is created during parsing stage, before compilation).

The metadata, additionally, contains natspec. Tha

[2018-01-29 01:57] wjmelements opened #3444 "Deployed Library Address Syntax"
It would be useful to refer to a deployed library by address instead of using the linker.

For example,

[code]

[2018-01-29 02:04] axic commented on #3444
I think this is a duplicate of #2469 ?

[2018-01-29 02:08] wjmelements commented on #3444
Yes

[2018-01-29 02:08] #3444 closed, assigned to nobody

[2018-01-29 04:09] VoR0220 commented on #2469
I think hot swapping of logic is a very very good use case insofar as we're talking about reusable code and package management solutions. Currently linking is a fairly clunky process and the idea of code upgradeability is very difficult to create. Versioning is something that we should be looking to create a deeper integration of especially insofar as it concerns potential security threats from us

[2018-01-29 05:21] wjmelements commented on #2948
Returning structs in general seems to work only for automatic public accessors and fail otherwise.

[code]

In remix IDE the failure is "Failed to decode output: Error: Unsupported or invalid type: tuple". I get a similar error in web3.js.

[2018-01-29 05:46] wjmelements commented on #2948
The difference in the ABI between the cases that decode and the cases that don't is the output type.

`"outputs":[{"name":"c","type":"uint256"}]` works

`"outputs":[{"components":[{"name":"c","type":"uint256"}],"name":"","type":"tuple"}]` fails to decode

Why is there indirection about "components"? The array of dictionaries was already sufficient to describe a struct type, and was already impleme

[2018-01-29 05:59] wjmelements commented on #2948
Workaround here: https://github.com/ethereum/browser-solidity/issues/920#issuecomment-348069589

[2018-01-29 07:24] bmaurer opened #3445 "Valid solidity code causes invalid opcode"
https://gist.github.com/anonymous/4cbc7c9691c1554d612f0c5cc4781671

When testDistributions() is run it will output:

transact to TestDistributions.testDistributions errored: VM error: invalid opcode.
invalid opcode
	The execution might have thrown.
	Debug the transaction to get more information.

[2018-01-29 08:12] #3445 closed, assigned to nobody

[2018-01-29 08:12] bmaurer commented on #3445
(sorry this was my own bug)

[2018-01-29 09:03] EasonWang01 opened #3446 "Copying of type struct memory[] memory to storage not yet supported"
If we have the following:
[code]
It will got some error

`Copying of type struct memory[] memory to storage not yet supported`

When will this being support in the future in order for saving gas for array manipulate.

[2018-01-29 12:32] chriseth commented on #2948
@wjmelements web3.js is still lacking an implementation for structs. ethers.js should already be fully compliant. The components-indirection was needed, because the `type` value is of type string. We considered making it either string or array, but people more used to JS/JSON advised against it.

[2018-01-29 12:36] chriseth commented on #3441
In my opinion, there should be as few builtin functions as possible. Using for-loops, it is rather easy to implement a memcopy.

Where would you place the return value of `mload(p, n)` - if `n` is dynamic?

[2018-01-29 12:37] chriseth commented on #3442
@axic why did we not disallow public in interfaces?

[2018-01-29 12:39] chriseth commented on #3443
I would say this way of doing it is extremely dangerous. There is no protection that you did not do any other changes. It would probably be better to somehow directly refer to an old version of the contract.

[2018-01-29 12:46] axic commented on #3442
I thought it only supports `external`. I think it only should support `external`.

Removing the visibility specifier would be a bad idea because we require it everywhere else (starting 0.5.0) and that would create an exception, which could be confusing.

[2018-01-29 15:11] fulldecent commented on #3442
Understood, issue updated

[2018-01-29 15:41] fulldecent commented on #3391
References: https://github.com/golang/go/issues/23600

[2018-01-29 16:16] baezor commented on #3162
Same problem:

Warning: Calling 'brew linkapps' is deprecated!
There is no replacement.
/usr/local/Homebrew/Library/Homebrew/cmd/linkapps.rb:18:in `linkapps'

[2018-01-29 16:47] fulldecent commented on #1565
Related: https://github.com/ethereum/solidity/issues/3411

[2018-01-29 16:54] fulldecent commented on #1602
Attack vector:

[code]

Somebody deploys that contract.

Somebody ELSE swaps buy/sell and uploads source code and contract metadata to etherscan.

Now your metadata on etherscan is deceptive.

Why did this happen? Because this adds information to the ABI (again, I hate this word choice) which cannot be validated.

[2018-01-29 16:55] fulldecent commented on #2511
Is there a link for 0.5.0 experimental documentation?

[2018-01-29 19:08] chriseth commented on #1602
We have many of these examples already. The ABI is always a condensed version of the external interface.

I would argue that this is not a possible attack, though, since it should not be possible to verify the compilation - the hash of the source code is part of the deployed bytecode.

[2018-01-29 19:09] chriseth commented on #2511
No, we do not yet have documentation for it.

[2018-01-29 20:16] ghost opened #3449 "Dynamic / Runtime Inheritance"
With more complex applications being built with Solidity, the need for more flexibility in how contracts are created arises and will over time become pressing.
Currently the only way to have a contract C create a new contract N1is to either include all of N1's bytecode in C, or to copy an already deployed contract N0. In both cases, the entirety of the contract is copied.
A problem emerges when th

[2018-01-29 22:35] axic commented on #3442
Actually it seems this is a duplicate of #2330.

[2018-01-29 22:39] axic commented on #3418
This depends on accepting #3411 first.

[2018-01-29 22:40] axic commented on #3411
Having thought a bit more about this, I do not think constants belong to interfaces. Are you sure you do not need `enum`s instead?

[2018-01-29 22:48] axic commented on #3449
I think this proposal needs some refining into a more readable form and listing the problems and possible solutions.

I have the feeling that some solutions proposed there are outside the scope of Solidity and not even sure that any of them fall into the scope of the Solidity compiler.

Would be happy to read again a refined version.

[2018-01-29 22:54] axic commented on #3434
It is possible to see the commit log for specific directories. For example this shows relevant commits for the `docs` directory: https://github.com/ethereum/solidity/commits/develop/docs

I think that should be enough to accomplish what you need.

[2018-01-29 22:54] #3316 closed, assigned to nobody

[2018-01-29 22:59] VoR0220 commented on #1602
^^ This. Were this 2016 I would agree with you @fulldecent but as it currently stands this particular attack has been covered up.

Either way...is it still on the roadmap to make structs "rust like" ?

[2018-01-29 23:26] ghost commented on #3449
Thanks for your comment!
I do hope this is a bit more (not less) readable.

In my mind Solidity is the only scope the second solution could fall in - if they're not in the scope of Solidity I don't think the problem will be solved at all.

[2018-01-30 00:29] axic commented on #409
A good question raised by @meowingtwurtle: should an explicit typecast from fixed point to integer be a reinterpretation of the bits or an actual integer conversion?

Currently typecasting is a mix between the two, but mostly it is an actual conversion and not reinterpretation. One example is function type to address (the address of the external contract) and to bytes4 (the signature of the extern

[2018-01-30 00:53] fulldecent commented on #3411
This issue only makes sense if interfaces are being removed/changed wholesale -- https://github.com/ethereum/solidity/issues/3420 I'll let that discussion continue in #3420

----

If interfaces are truly just to track ABI of a contract on EVM (again, I hate the ABI word choice) then I agree and only `function` wording is needed, the `constant` is just an implementation detail of a `function`.

---

[2018-01-30 00:55] fulldecent commented on #3418
#3411 is closed

[2018-01-30 00:58] fulldecent commented on #3442
This issue regards requiring `external` in `Interface` functions.

Issue #2330 regards subclassing ("implement"?, "overriding"?) interfaces with a public function.

[2018-01-30 01:04] axic commented on #3411
You are using this in all issues. How would you call it if not the ABI?

The "JSON ABI" part can be misleading, there might be a better name for "the JSON description file of the particular entry points in a contract".

[2018-01-30 01:09] axic commented on #3442
Right, it seems to be a mix, though there's this also: https://github.com/ethereum/solidity/issues/2330#issuecomment-333915829

[2018-01-30 02:51] fulldecent commented on #3411
The application binary interface is anything that touches EVM -- the function signature hash, function call data types, function return data types. Everything else is not ABI.

The JSON file includes implementation-specific details:

 * An unverifiable guarantee of function names (helpful)
 * An unverifiable guarantee of parameter names (helpful)
 * An unverifiable guarantee of enum names (helpful

[2018-01-30 03:34] fulldecent commented on #2436
For history, can someone please share the old contract that has the warning (preferably as a minimal test case).

[2018-01-30 03:40] Tectract commented on #2436
This was the original contract, can't really remember which line this pertained to at the moment:

https://raw.githubusercontent.com/Tectract/ethereum-demo-tools/master/GeektSolidity/contracts/Geekt.sol

[2018-01-30 03:52] fulldecent commented on #2511
Here is exhaustive documentation for v0.5.0 so far. Maybe you can tell me a good place to put this.

- Unary + [is now disallowed](https://github.com/ethereum/solidity/blob/bc39e730b6acaff7bb2bdb3ad99547ab6cdc1841/libsolidity/analysis/SyntaxChecker.cpp#L189-L190) (formerly deprecated)

[code]

- `callcode` [is now disallowed](https://github.com/ethereum/solidity/blob/0ae4aad8f346e3c23873aa97a35923

[2018-01-30 03:56] fulldecent commented on #2436
Thank you, that's the one I saw. In the current Solidity, I cannot find that warning anymore :-p

[2018-01-30 04:03] fulldecent commented on #3437
Got it, natspec *can* generate for abstract contracts. I'm happy.

[2018-01-30 04:10] dilab commented on #3434
Thanks for the clarification

[2018-01-30 04:10] #3434 closed, assigned to nobody

[2018-01-30 11:28] oktapodia commented on #2681
It has been released and deployed 4 days ago, we can now enjoy and use it! https://github.com/github/linguist/releases/tag/v6.0.0

[2018-01-30 11:37] riordant commented on #3441
My rationale is that it means cleaner code where multi-word copying is necessary; perhaps `mload` could be overloaded - meaning no extra builtin functions.

I'm not quite sure I understand what you mean - the result is still getting placed at memory address `p`. Why does a dynamic `n` change that?

[2018-01-30 11:39] axic commented on #3441
I am a bit confusing but this proposal. Are you proposing inline assembly builtin functions or new EVM opcodes?

Not sure what `mload(p, n): mem[p..(p+n))` is doing. `mload` is loading memory onto the stack. Is this loading multiple stack items?

Aren't you sure you need `mcopy` (memory copy) instead which can copy sections of memory?

[2018-01-30 12:08] riordant commented on #3441
I was proposing a built-in function however `mcopy` seems to be what I'm describing. Have you got a reference for operation? Is it a built-in function? Thanks

[2018-01-30 12:12] axic commented on #3441
It is not present yet, but some initial discussions are available here #474 and #1319

[2018-01-30 12:17] riordant commented on #3441
Thanks. As a result I'll close this. I've messaged you on Gitter @axic

[2018-01-30 12:17] #3441 closed, assigned to nobody

[2018-01-30 14:56] redsquirrel commented on #3449
Wouldn't another way be to create an N1Factory contract and have C (and other contracts) call N1Factory.create?

[2018-01-30 15:51] ghost commented on #3449
Well, that's just redesignating C as N1Factory. Who owns the created contract in the end is irrelevant. Usually C would indeed be a factory of some sort.
Crucially, N1Factory still has to include the entire bytecode of N1.

[2018-01-30 16:45] redsquirrel commented on #3449
Ah, and the factory would also have to handle the "combinatorial explosion of the amount of bytecode that has to be deployed". Understood. This is possibly off-topic, but I'm be curious about your contract design and why you need to rely so heavily on inheritance (vs composition).

[2018-01-30 17:17] ghost commented on #3449
It's because the architecture is highly flexible - I'm building transaction contracts that (for now) can be all sorts of auctions - open, sealed, ascending, descending, buying, selling, first-price, second-price, for deeds, ens domains,  tokens, with Ether or with tokens, ...
As you can imagine they respectively share quite a bit of code but not all of it.

Composition of different contracts would

[2018-01-30 17:57] axic commented on #3449
Are you sure it cannot be achieved by using Solidity libraries for those functions and parametirizing th constructor of the deployable instances in the factory?

[2018-01-30 18:08] ghost commented on #3449
AFAIK internal calls to libraries inline those, meaning the bytecode is still duplicated for each constructor. Is that wrong?

[2018-01-30 18:12] axic commented on #3449
You don't need to mark library functions `internal`. If you do not, then they are not inlined.

[2018-01-30 19:42] ghost commented on #3449
That's true. The problem with using libraries is that they cannot call upon other libraries that are not predetermined when the library is deployed, which precludes anything but the simplest designs.

[2018-01-30 19:59] axic commented on #3449
I think that may be a separate issues and not directly related to this. The same way you need to store somewhere all the components, you may as well choose to:
- a) have different versions of libraries deployed (with different compositions)
- b) have all the components as libraries and the child contract use it depending on constructor parameters

I am not really sure how do you imagine having a l

[2018-01-31 04:20] axic commented on #2330
Actually #3038 has implemented this for 0.5.0.

Just shows we need to create that 0.5.0 release sooner rather than later..

[2018-01-31 04:21] axic commented on #3442
Actually #3038 has implemented this a while back for 0.5.0 mode.

We can however make `public` a warning now (that change allowed `public` in non-0.5.0 mode).

[2018-01-31 15:29] codingthat commented on #2681
What about for gists?  (I don't see any manual selection method available anywhere--maybe I'm not looking in the right place?)

[2018-01-31 19:48] veox commented on #2681
@codingthat Gists used to have a language selection drop-down, but not anymore. I don't know when the change happened.

It seems to completely rely on the file extension now.

[2018-01-31 20:23] fulldecent commented on #3449
Why is everybody so afraid of deploying the contract again after they make some changes?

I am glad the `CALL` methods cost a lot of gas and they discourage "DELEGATE EVERYTHING" behavior!

[2018-01-31 20:50] ghost commented on #3449
@axic
a) Having all these different versions deployed is still subject to the same combinatory explosion, therefore I do not see how that would solve the problem I described?
b) This requires calls between libraries, which costs massive amounts of gas, and passing around the entire state of the contract (which is only possible for those with rather little), or paying even more gas in storage instr

[2018-01-31 21:12] nickbclifford commented on #869
Would this mean that things like `uint[]` would become `Array<uint>` and `mapping (address => uint)` would become `Mapping<address, uint>` or would generics be for user-defined types only?

[2018-01-31 22:07] codingthat commented on #2681
@veox thanks for confirming.  So...I have a .sol gist that is not highlighting, should it be?  Or would a further change be required somewhere?

Alternatively, is there a way to embed syntax-highlighted files from a repo as if they were a gist?  :)

[2018-01-31 23:38] veox commented on #3443
One of Solidity's advantages is abstracting away storage layout management. You don't have to worry what goes where, as long as it's confined to the storage of the same contract.

I think `solc`'s been designed with that assumption (@chriseth - please correct me if needed). EDIT: The assumption being - that the compiler's scope is a single program/contract; and that if interactions with a differen

[2018-02-01 10:58] axic opened #3452 "Deprecate old jsonCompiler interface"
The original compiler interface for Javascript consisted of `compileJSON`, `compileJSONMulti` and `compileJSONCallback` as it evolved. For many releases now the "standard json" format is available via `compileStandard`.

Proposal is to remove these interfaces in 0.5.0. Anyone using the commandline `solc` tool or the `solc-js` library is not affected by this change.

I think every consumer of soljs

[2018-02-01 11:00] axic commented on #3449
You are proposing a deploy time linker, written in EVM. Do you think this is low complexity enough to not cause a lot of potential issues and at the same time is cheap enough to be done within the block gas limit? :)

Also I am still waiting for an actual practical example (and by that I mean some code snippets) where this is needed.

[2018-02-01 12:54] #3442 closed, assigned to axic

[2018-02-02 06:33] fulldecent opened #3454 "Allow private visibility for modifier keyword"
[code]

In this example, contract `A` uses a modifier `mod` for its own purposes (that you can't see here today).

Contract `A` would like to avoid exporting this modifier for inherited contracts. But unfortunately, `B`'s environment has become polluted by this unwanted side effect.

---

# Work plan

- [ ] Allow `modifier` to have visibility specified as `internal` or `private`, other visibilitie

[2018-02-02 12:15] chriseth commented on #3454
Can you explain "Handle visibility inheritance the way inheritance is supposed to be handled (see test cases), not the way Solidity currently handles visibility inheritance" in a bit more detail, please?

There is also the option to disallow overriding for modifiers in general, which would probably be a good idea. Currently, modifiers are virtual, but I'm not sure if people actually use that. If y

[2018-02-02 15:09] fulldecent commented on #3454
Regarding visibility inheritance -- currently you cannot override functions with a function of different visibility (can't find issue), but in the future Solidity will allow greater than / equal visibility in subclasses.

These test cases demonstrate the LATTER, which is inconsistent with how functions currently work, FORMER.

---

Woah, right now modifiers are dynamic dispatch? Wow, TIL B.x and B

[2018-02-03 20:02] elie222 opened #3457 "Too many variables when calling a function from another contract"
We have a contract that is in production already and has a `getPerson()` function. This is a public function that returns 12 `uint256` values. That contract works fine when calling it from web3, but when calling it from another contract get a compiler error. The call in the other contract is as follows:

[code]

And the compiler warning on the line that we call `getPerson` is:

`Compiler Error: St

[2018-02-04 18:03] fulldecent opened #3458 "Implement interface: allow compatible visibility"
# Discussion

Currently, `interface` is meant to track ABI (again, I hate this word choice). Here is a contract that demonstrates `public` and `external` functions do have identical ABI:

[code]

And the ABI calculated by Solidity is:

[code]

Therefore, a contract that uses an `public` or `external` function should be compatible with an interface that requires an `external` function.

# Test case

[2018-02-04 18:28] fulldecent commented on #3412
@axic Could you please help identify stakeholders for this issue and who would need to sign off? And we can query their issues/questions/concerns.

I am hoping to have this issue "accepted". This means we can be confident it will be implemented at some point (do we have a GitHub issue label for that?)

I care about this because standards work depends on this. Right now that standard (draft) is wri

[2018-02-04 19:56] fulldecent opened #3459 "Allow modifier declaration with no implementation"
# Discussion

This allows separation of concerns.

# Test case

[code]

[2018-02-04 22:48] aarlt opened #3460 "Usage of default stack-sizes may cause undefined behaviour"
I just started to play around with the `solidity` sources @ c696803f0b61c7a77e3b438c256791b22add9d7a. After running the test-suite, I noticed that the used stack is not large enough to run the JuliaParser/recursion_depth test.

[code]
I use OS X (10.13.3) with clang (Apple LLVM version 9.0.0 (clang-900.0.39.2)).

However, I was able to find out that this problem is not clang specific, it is specif

[2018-02-05 16:29] axic opened #3461 "Require super constructor calls explicitly"
See: https://github.com/ethereum/solidity/pull/3305#discussion_r159631442

[2018-02-05 20:31] fulldecent commented on #2330
@chriseth I think we can mark this as closed because of https://github.com/ethereum/solidity/pull/3038

---

The second half of your original issue is duplicated here (and has a test case)

https://github.com/ethereum/solidity/issues/3458

[2018-02-05 22:54] aarlt commented on #3460
Another very simple solution would be to limit `m_recursionDepth` to `2204` - in this case the  `JuliaParser/recursion_depth` test-case can be executed with an 8MB stack.

See `libsolidity/parsing/ParserBase.cpp:104` in function `ParserBase::increaseRecursionDepth()`.

[code]

[2018-02-06 02:57] kevinaud commented on #3402
Are you still looking for someone to work on this? If you are I can work on it.

[2018-02-06 09:15] axic opened #3463 "Change codegen to output non-strict Yul"
The idea is to output a Julia AST or code which uses `FunctionalInstruction` for EVM opcodes.

- [ ] A special flag must be introduced for `FunctionDefinition` which allows the function to use jumps. These functions will not be evaluated in the optimiser.
- [ ] Any code which cannot be rewritten easily to avoid the use of jumps must be enclosed as a function and marked as above.
- [ ] An on-the-fl

[2018-02-06 10:46] lehuyit275 opened #3465 "An issue about totalSupply"
A problem that I think you need to pay attention and update the fixes immediately.
I do not know if you really understand me. I will present it in the most detailed way I can. Hope you will understand my mind.

This problem is in the total supply of a token.

When a token is generated, it will have a TotalSupply. Based on TotalSupply, the investor will decide what to invest in at a reasonable pric

[2018-02-06 14:17] axic commented on #3465
I think this repo isn't the right place to discuss this. Please take it to the ERC20 discussion thread or https://gitter.im/ethereum/EIPs or any other relevant forum.

[2018-02-06 14:17] #3465 closed, assigned to nobody

[2018-02-06 19:40] abbbe opened #3466 "Compiler produces apparently suboptimal code"
0.4.19

[code]

https://remix.ethereum.org

Compile and look at assembler code

[code]

I expected compiled code not to have the following redundancies:

- "PUSH 60 PUSH 40 MSTORE" during contract creation helps to reserving memory buffer to copy contract code, but why 2 words more than needed?
- Why one needs this code in the fallback function at all?
- STOP after RETURN, which never ever gets re

[2018-02-06 20:07] aarlt commented on #3460
duplicate of issue #3319 - Julia parser recursion_depth test fails in macOS

[2018-02-06 20:09] aarlt commented on #3319
fixed in pull request #3462

[2018-02-07 16:40] makoto commented on #3402
@kevinaud I am still doing this but very slowly more for a learning purpose. If you can provide the solution quicker, go for it. I probably can learn more from your PR anyway.

[2018-02-07 16:54] chriseth commented on #3466
The compiler does not focus on optimizing artificially short contracts. That being said, we could probably detect whether a function uses memory at all and only initialize the free memory pointer for those. This might result in longer code, though, and thus would be a trade-off between deploy time cost and run time cost.

The free memory pointer is at `0x40` to have the first 64 bytes as a "scratc

[2018-02-08 13:58] Arctek opened #3469 "Struct overwriting storage"
Hi,

While checking new verified contracts my friend discovered the following one (meant to scam people):

    pragma solidity 0.4.19;

    contract test{
        struct SeedComponents{
            uint component1;
            uint component2;
            uint component3;
            uint component4;
        }

        address owner;
        uint public secretSeed;
        uint public lastReseed;

[2018-02-08 14:15] chriseth commented on #3469
The compiler should warn you about the storage pointer `SeedComponents s;` being uninitialized. Please take warnings seriously!

[2018-02-08 14:20] #3469 closed, assigned to nobody

[2018-02-08 14:20] Arctek commented on #3469
Thanks, I can see that.

[2018-02-08 16:07] abbbe commented on #3466
I understand

I thought EVM is obliged to halt execution RETURN. Is there any practical scenario of this happening?

[2018-02-08 16:07] #3466 closed, assigned to nobody

[2018-02-08 17:58] holgerd77 commented on #3241
I also thought for month, https://github.com/JuliaLang/julia would be the language you use (as someone now even working for the foundation on JS stuff, but not being too close to solidity compilation stuff). I think renaming to ``Iulia``is not enough, this will inescapebly lead to problems in the future.

[2018-02-08 18:00] holgerd77 commented on #3241
(even after the renaming, overlooked this one-letter change)

Just as a short opinion which might hopefully help, have no strong personal stance on this.

[2018-02-08 18:35] chriseth commented on #3466
It just appends a stop all the time, it does not inspect the bytecode (just in case this inspection might also be broken in some way).

[2018-02-08 19:09] yugendar opened #3471 "solidity issue"
[code]
i am getting error spanning multiple lines line no 39

[2018-02-09 09:24] #3319 closed, assigned to nobody

[2018-02-09 11:51] jksf opened #3475 "Keep allowing event declarations with no parameter list"
I noticed that changelog for version 0.4.20 introduces bugfix:

I use events to log that something happened at given block. Sometimes it doesn't make sense to include any parameters, the name of the event is sufficient.

What is the motivation for this change? If this change makes it into 0.4.20 will it break backward compatibility?

[2018-02-09 11:55] axic commented on #3475
This is about event declarations and not about actually emitting an event.

`event Something;` is now invalid, but `event Something();` is valid.

Invocation was already "enforced" as `Something();` as `Something;` is just an empty statement.

[2018-02-09 13:50] jksf commented on #3475
@axic Thanks for the clarification. The issue can be closed, sorry for bothering

[2018-02-09 13:50] #3475 closed, assigned to nobody

[2018-02-10 13:52] radek1st opened #3480 "Compiler doesn't recognise declared variable scope"
[code]
The declaration of `MyStruct st` happens inside of `if` branch that will never execute. Yet, other parts of the code reference `st` and the code still compiles in Remix (0.4.19+commit.c4cbbb05.Emscripten.clang). I would expect the compilation to fail.

[2018-02-10 16:35] axic commented on #3480
It is not a "bug", but by design. It follows the Javascript scoping rules.

This will be changed soon with #1679.

Closing this as it was covered with multiple issues before.

[2018-02-10 16:35] #3480 closed, assigned to nobody

[2018-02-11 11:01] SCBuergel opened #3481 "compiler error for public struct only containing `string[]`, but ok if other types present too"
I am working with remix on the following example (compiler version 0.4.19+commit.c4cbbb05.Emscripten.clang)
[code]

I get a compiler error in the code as pasted above because the struct only contains a nested string array. Once I add another type (e.g. `uint256`) then all is fine and if I make the member not `public` it is also ok. This seems somewhat inconsistent. Additionally, when adding anothe

[2018-02-11 16:34] freshonline opened #3482 "Spanning multiple lines"
What is it?
All version solc, many exemples cause this error.
https://www.photobox.co.uk/my/photo/full?photo_id=500573127593

[2018-02-11 20:55] jamespic opened #3483 "Add outputSelection for original source in Standard JSON Output"
I'm working on a standalone debugger for Solidity contracts.

The standard JSON output format provides almost everything needed to debug a transaction, but doesn't include the original source code. Finding the original source code from the filename can be a non-trivial task if the project was compiled using a complex file resolver, which means that either debuggers need to be aware of the resoluti

[2018-02-11 22:07] federicobond commented on #3481
While trying to reproduce this I found a segfault in solc probably related to the last patch I got merged, so thank you 😊

[2018-02-12 01:48] yarrumretep commented on #2691
+1 for this - it's hard when the compiler is printing warnings that you acknowledge and want to ignore.  It distracts from reading the warnings that may crop up but you don't want to ignore.  A comment mechanism as proposed here would allow one to express that they understand the risks.

[2018-02-12 09:30] chriseth commented on #2691
@yarrumretep we take special care such that any warning given by the compiler can be removed by a small change to the source code. Could you please give an example where it would be easier to "remove" the warning by adding a comment instead of changing the source code to remove the risk altogether?

[2018-02-12 14:22] axic commented on #2691
Actually a short term solution will be the 0.5.0 release turning most, if not all, these warnings into an error :wink:

[2018-02-12 15:43] chriseth commented on #3482
What you cite is just the location of the error, not the actual message. The screenshot link does not work for me. Do you have the full compiler error message?

[2018-02-12 15:44] chriseth commented on #3471
This snippet yields errors about visibility and view/pureness for me. "spanning multiple lines" is just a comment that the source part the error refers to spans multiple lines, it is not the actual error message.

[2018-02-12 15:53] chriseth opened #3486 "Extract test cases (from SoldityEndToEndTest)"
Often a big source of annoyance is that recompiling the gigantic test source files we have takes quite a bit of time. Most of the tests, though, have a very similar structure:

In the EndToEnd-tests, a contract is given, it is compiled, deployed and then multiple functions are called on the contract with multiple arguments, yielding certain expected outputs.

In the NameAndType tests, a contract i

[2018-02-12 16:03] k06a opened #3487 "Adding Elvis operator (Allow omitting second argument in ternary operator)"
Elvis operator: https://en.wikipedia.org/wiki/Elvis_operator

Many languages support allows omitting the second operand, and using implicitly the first operand as the second also:
[code]
The expression is equivalent to
[code]
except that if `x` is an expression, it is evaluated only once. The difference is significant if evaluating the expression has side effects.

This would allow to write more e

[2018-02-12 18:36] yarrumretep commented on #2691
@chriseth we are seeing `Warning: The "returndatacopy" instruction is only available after the Metropolis hard fork. Before that it acts as an invalid instruction.`  I am happy to have been notified of this, but would like to suppress this message as we are happy to proceed understanding that limitation.  Same for returndatasize, methinks.

We are also seeing `Warning: Jump instructions are low-le

[2018-02-12 19:05] chriseth commented on #2691
@yarrumretep we are still debating how to handle different versions of the EVM, but I hope that we can resolve the returndatacopy issue soon - sorry that it takes so long.

Concerning jumps: Yes, please either remove the code or submit a pull request to the library turning it into code that does not use manual jumps.

We actually did deprecate them, but yes, that should probably be mentioned liter

[2018-02-12 19:08] chriseth commented on #3487
I don't think this is useful in Solidity since no type is implicitly convertible to bool. Does the "longhand" version of your example
[code]
compile?

[2018-02-12 19:26] chriseth commented on #3481
This is be design: Getter functions were introduced before we had structs in the ABI. The idea behind a getter function is that it is always of the form `return a[b][c][d];` This works if there is a unambiguous member in the struct we want to follow. It also works if the struct only contains non-indexable members. If you have at least one indexable member, there cannot be another one in the struct

[2018-02-12 19:30] yarrumretep commented on #2691
Thank you for the clarification @chriseth.  Maybe you could handle the hardfork thing with a compiler flag indicating what version of the EVM you want to target.  Then the returndatasize etc would error appropriately.

[2018-02-12 19:31] attente commented on #3199
Hi, I'm still getting this error with solc 0.4.19 and the following files:

A.sol:

[code]

B.sol:

[code]

[2018-02-12 19:32] chriseth commented on #2691
@yarrumretep yes, the question is basically whether we want to use a pragma or a compiler switch, but we will probably go with a compiler switch. Since this would be the first switch that affects code generation itself, it is a little tricky :)

[2018-02-12 19:34] chriseth commented on #3199
Yes, this is due to the experimental nature of the feature you activated. If you change `external` to `public` it will work.

[2018-02-12 19:45] randomnetcat opened #3488 "Compiler does not accept all valid values for signed fixed types"
The following contract does not compile:
[code]

It instead yields the error
[code]
`2**255-1` is the maximum positive value for a 256-bit signed integer, and the compiler does indeed accept it when assigning to a `int256` variable. Therefore, after dividing out by `10**19` for the fixed factor, it should be the maximum possible value for a `fixed256x19` variable.

[2018-02-12 20:22] attente commented on #3199
Thanks! Is it intentional that it doesn't work with `external` functions or is it a bug?

[2018-02-12 20:35] k06a commented on #3487
@chriseth I agree, it will not compile until `uint256/address` will be implicitly convertible to `bool`

[2018-02-12 20:45] yarrumretep commented on #2691
@chriseth - interesting.  BTW, we are using those opcodes to grab a string return value b/c solidity currently doesn't return strings from calls.  Is this going to burn us or simply be unnecessary with future solidity versions?

[2018-02-12 21:00] chriseth commented on #2691
We can hopefully merge the new abi decoder soon, then it will be automatic.

[2018-02-12 21:00] chriseth commented on #2691
but you can of course also do it using inline asssembly

[2018-02-12 21:01] chriseth commented on #3199
It is a not yet implemented feature.

[2018-02-12 22:38] attente commented on #3275
It also occurs if the same struct is embedded multiple times indirectly through composition:

[code]

[2018-02-12 23:44] axic commented on #3483
There is already a solution for this: the metadata output contains the sources or references to the sources. For your use you'll need to pass the following settings:
[code]

[2018-02-13 00:21] jamespic commented on #3483
Ah, brilliant. I'd seen that setting in the docs, but misunderstood what it did. Thanks.

[2018-02-13 00:21] #3483 closed, assigned to nobody

[2018-02-13 00:24] axic opened #3492 "Turn CircleCI on for external pull requests"

[2018-02-13 00:33] carver commented on #3293
Is this maybe related to `external` functions handling strings a little differently in ABI encoding? See my open question: https://ethereum.stackexchange.com/questions/39418/why-do-public-and-external-functions-emit-strings-differently-in-event-logs

I posted #3493 to track that issue.

[2018-02-13 00:38] carver opened #3493 "Events emitted from `external` functions log different data than `public` functions"
I posted full reproduction details on [StackExchange](https://ethereum.stackexchange.com/questions/39418/why-do-public-and-external-functions-emit-strings-differently-in-event-logs)

The short version is that calling these two functions produces different log output:

[code]

When I call both functions with "glitch" (in `geth --dev`), I get logs with two different data:

-  public: `0x000000000000

[2018-02-13 00:39] #3371 closed, assigned to axic

[2018-02-13 02:32] axic commented on #3493
Good catch. `public` should be the correct one :)

[code]

[2018-02-13 06:23] fulldecent opened #3494 "Compiler incorrectly reasons about the selector function"
![screen shot 2018-02-13 at 1 16 21 am](https://user-images.githubusercontent.com/382183/36136025-6809e55c-105c-11e8-8224-9d795d8176e3.png)
![screen shot 2018-02-13 at 1 16 34 am](https://user-images.githubusercontent.com/382183/36136030-6f42a4d0-105c-11e8-8ff2-e5e73eb1928d.png)

[2018-02-13 07:34] chriseth commented on #3492
Activated it, let's check if it works.

[2018-02-13 07:40] #3301 closed, assigned to nobody

[2018-02-13 07:49] chriseth commented on #3293
This is unimplemented mainly due to the fact that we did not yet decide how such types are stored on the stack. It was not a problem for the old decoder because it only supported one-dimensional arrays. Those are stored with two stack items: offset and size.

I guess if we know the type, it should still be possible to do that by just storing the type. Still, a lot of infrastructure is still missin

[2018-02-13 07:56] chriseth commented on #3493
Does this also happen with the new encoder?

[2018-02-13 08:10] chriseth commented on #3494
That's a tricky one. Of course `this.f.selector` should be fine, and even `this.f` should be fine. The problem is that `this` is disallowed in a view context - reading the current address is not a pure action.

[2018-02-13 08:14] fulldecent commented on #3494
Thank you.

At a minimum, can we a get a "this should be fixed someday" on this issue.

I am more interested in this issue being accepted and less interested in the actual fix. I think you know why...

[2018-02-13 10:45] chriseth commented on #3492
Seems to be working.

[2018-02-13 10:45] #3492 closed, assigned to nobody

[2018-02-13 10:53] axic commented on #2558
`var` has been deprecated in #3301. Closing this now.

[2018-02-13 10:53] #2558 closed, assigned to nobody

[2018-02-13 11:46] #2785 closed, assigned to nobody

[2018-02-13 12:36] #3328 closed, assigned to nobody

[2018-02-13 12:57] leonprou commented on #670
Got here from the [ethereum wiki](https://github.com/ethereum/wiki/wiki/Safety#beware-division-by-zero). The issue is closed, so this means that division by zero is now "safe"?

[2018-02-13 14:30] chriseth opened #3500 "Make byzantium the default VM and remove warnings"

[2018-02-13 15:23] axic commented on #1117
Latest discussion have lead to considering `pragma target byzantium`, but eventually it turned out that due `pragma` being `SourceUnit`-local that would cause a headache during inheritance for users.

It seems to be a much better option to have a compiler option instead.

This should be presented to the user as:
- `--evm-version byzantium` on the the commandline
- `settings: { evmVersion: "byzanti

[2018-02-13 15:36] chriseth commented on #2628
Even after #1789, return values are still problematic:

[code]

[2018-02-13 15:45] axic commented on #3500
Depends on #1117.

[2018-02-13 15:48] #3058 closed, assigned to nobody

[2018-02-13 15:53] chriseth commented on #3059
Can this be closed now?

[2018-02-13 15:55] chriseth commented on #3336
Might be the same as https://github.com/ethereum/solidity/issues/2563

[2018-02-13 16:08] #3494 closed, assigned to chriseth

[2018-02-13 16:15] axic commented on #3059
Fixed by #3360.

[2018-02-13 16:15] #3059 closed, assigned to nobody

[2018-02-13 16:29] fulldecent commented on #3494
Wow, that was much faster than I hoped. Thanks!

[2018-02-14 01:16] GaikwadPratik opened #3504 "How to use modifiers to form combination of boolean conditions?"
As of now, when function modifiers are placed using a space will execute in order they are placed resulting in **AND**  condition. Is it possible to use them to form other boolean conditions?

[2018-02-14 04:30] fulldecent opened #3506 "Allow static access to interface function selectors"
# Test cases

[code]

# Actual outcome

# Expected outcome

No error.

# Discussion

Also need to handle specifying the function where there is function overloading.

Reference: related to https://github.com/ethereum/EIPs/pull/881

[2018-02-14 04:45] fulldecent commented on #3506
Possibly related, or I can create a separate issue.

[code]

The error is

Likewise, I do not think this should be a warning.

[2018-02-14 06:32] abbbe opened #3507 ""non-existent calling account" - typo in docs?"
https://github.com/ethereum/solidity/blob/develop/docs/control-structures.rst says:

It is not clear how _calling_ account can be non-existent. Are we talking about _called_ account here?

[2018-02-14 08:43] chriseth commented on #3507
Indeed! Do you want to create a pull request containing the change?

[2018-02-14 11:54] #3507 closed, assigned to nobody

[2018-02-14 13:50] jitenhub commented on #3493
Nice catch. But its not bug its depends on memory allocation, In solidity all public functions immediately copies arguments to memory. In this process of copying values in to memory EVM will pad with 32 bytes.

    EmitString(logme)

As per EVM documentation `EmitString(logme)` **logme** is string type saving or representation would be 1st 32 bytes(32*2=64 chars) will represents location of string

[2018-02-14 14:43] chriseth commented on #3493
@jitenhub all you say is correct, but what is your point?

[2018-02-14 15:14] federicobond commented on #3486
This is a great idea. I did some research on the topic and I saw that LLVM uses a variant of literate programming in their [test suite](https://github.com/llvm-mirror/test-suite/blob/master/ABI-Testsuite/test/s2_7/test01.xpp) that looks pretty good.

They embed special comments within the source that tell the compiler how they should test the file and which assertions they should enforce. While we

[2018-02-14 15:23] jitenhub commented on #3493
@chriseth  Its not bug

[2018-02-14 15:24] chriseth commented on #3486
Hm, I actually did not think that far, but of course we could use one file per test. This would also make it easier to parallelize tests with tools like circleci.

If the expectations and "commands" are in comments, each single file can be compiled easily as a first check, even without a test runner.

We could even define things like
[code]

The 99% use case of just deploying the first (or last?)

[2018-02-14 15:41] federicobond commented on #3486
Yes, agree on implicitly deploying the last contract if it has a zero-argument constructor (usually when defining an inheritance hierarchy it's the last one that you want to test).

I think the fuzzy matching built into many tools makes it easier to find test cases spread across multiple files than what we have right now. You can see an example of how it looks in these [tests](https://github.com/f

[2018-02-14 15:47] chriseth commented on #3506
Yes, sounds useful.

[2018-02-14 18:50] axic commented on #2907
Of course this should be implemented with an experimental pragma, i.e. show a warning now and and an error in 0.5.0 mode.

[2018-02-14 19:04] chriseth opened #3511 "List and explain all pragmas, especially the experimental ones."

[2018-02-14 22:07] attente commented on #3361
Sorry to revive this old issue, but I'm encountering this error despite enabling the `ABIEncoderV2`.

A.sol:

[code]

B.sol:

[code]

[2018-02-14 22:37] aion82 commented on #3494
ok

[2018-02-15 01:39] fulldecent opened #3514 "Allow contract's public state variable to implement interface function"
# Test case

[code]

# Current outcome

# Expected outcome

Compiles successfully

# Discussion

Getter functions are defined in the documentation at http://solidity.readthedocs.io/en/develop/contracts.html#visibility-and-getters:

In contract `C`, the implicit function `function bob() external returns (int);` is generated for the public variable `int public bob;`. Therefore the contract should be

[2018-02-15 02:05] federicobond commented on #3504
Modifiers work by wrapping the original function, so there isn’t a clean way to apply OR semantics. You’re better off creating a separate function for each condition and writing a modifier AorBorC that enforces the combination.

[2018-02-15 06:49] chriseth opened #3515 "Make `length` member read-only (S)"
Once we have the `pop` member function (https://github.com/ethereum/solidity/issues/2780) there should be almost no need for writing to the `length` member of a dynamic storage array.

Arbitrary write access to the `length` member is dangerous as it can lead to gigantic arrays which are in turn vulnerable to a storage overlap attack (multiple arrays or an array and a mapping overlap in a predictab

[2018-02-15 07:04] chriseth commented on #1777
Duplicate of https://github.com/ethereum/solidity/issues/796

[2018-02-15 07:04] #1777 closed, assigned to nobody

[2018-02-15 07:13] chriseth commented on #3486
Are you just interested in this or would you even like to work on it?

[2018-02-15 08:27] chriseth commented on #3494
Some things are easy, some not so much :)

[2018-02-15 08:30] chriseth opened #3516 "Static memory load of more than 32 bytes requested"
[code]

[2018-02-15 08:30] chriseth commented on #3516
Originally reported at https://github.com/ethereum/solidity/issues/3361#issuecomment-365760811

[2018-02-15 08:30] chriseth commented on #3361
Thanks, I created a new issue.

[2018-02-15 08:56] chriseth opened #3517 "DeclarationContainer::similarNames should search recursively also in parent containers"

[2018-02-15 10:09] chriseth commented on #3094
As this does not concern solidity, I'm closing this issue.

[2018-02-15 10:09] #3094 closed, assigned to nobody

[2018-02-15 10:10] chriseth commented on #2482
Disabling all unused variable warnings is too strong and there is a good way to disable the warning locally. Closing this.

[2018-02-15 10:10] #2482 closed, assigned to nobody

[2018-02-15 10:18] chriseth opened #3518 "DeclarationRegistrationHelper::registerDeclaration does not take _name parameter into account for shadowing"
The `_name` parameter is used for `import X as Y`.

[2018-02-15 10:29] chriseth opened #3519 "Do not warn about the use of the SMT solver"
The SMT solver is a compile-time instrument that does not change code generation. It might have false negatives, but I think it is still better than warning about its use.

[2018-02-15 10:49] chriseth opened #3520 "Allow multi-variable declaration for tuple assignment to use explicit types."
With the deprecation of var, it is not possible anymore to easily assign the result of a function to local variables. We should allow types to be specified in such assignments:

[code]

[2018-02-15 10:55] chriseth commented on #1117
Added the "annoys users" label because this makes it impossible to use `returndatacopy` and others without warning.

[2018-02-15 12:01] chriseth opened #3522 "It should not be possible to initialize constant variables with expressions that divide by zero or use addmod/mulmod with zero."

[2018-02-15 12:59] chriseth opened #3524 "Code generator: pop variables that are out of scope (in C99 scoping)"
This should help a little with "stack too deep" errors.

[2018-02-15 13:20] axic opened #3525 "User defined types in Yul"
User defined types, if used properly, can be useful. (This we have discussed multiple times, recently today on gitter.)

For example, in `mstore`  we want to make sure that memory pointers and values are never swapped by mistake.

We could use a new `typedef` keyword in assembly to achieve that, which takes an underlying base type and creates two special functions for typecasting. It also allows t

[2018-02-15 13:30] axic commented on #3525
Alternatively special functions could be introduced such as `cast:memptr()` and `cast:u256()` (or even C++ like `cast<memptr>()`) instead of `cast_u256_to_memptr` and `cast_memptr_to_u256`, respectively.

It seems however that would conflict with the current parser and not sure we want to introduce any more complexity in that regard.

[2018-02-15 13:57] #2694 closed, assigned to chriseth

[2018-02-15 14:19] redsquirrel commented on #3520
Are the surrounding parentheses necessary?

[2018-02-15 14:23] chriseth commented on #3520
Not sure, we always had them to make the tuples explicit.

[2018-02-15 14:24] chriseth commented on #3520
Also it might be confusing for people coming from C or JavaScript (because there, `,` is almost like `;` and thus the assignment in the above example would only apply to `c`).

[2018-02-15 14:26] axic commented on #3520
This is not true, it is only true in conjunction with the disallow-uninitalised-storage-pointers and only affects types/variables residing int storage.

Probably a better example would be one using such a case.

[2018-02-15 14:39] chriseth commented on #3520
I would say that
[code]
already counts as "not easy".

[2018-02-15 15:03] mancze commented on #544
I have stumbled on this ambiguity too. The current docs read (followed how I interpret them):

That's nice. Seems that those arguments are stored as-is and filterable in addition.

Hmm. Never heard of "topics", but fine. I can imagine there is some search tree using indexed argument as a key - topic. And only `string` and `bytes` are hashed, otherwise not. Yet that's a technical detail, I don't ca

[2018-02-15 15:29] chriseth commented on #544
@mancze indeed, the documentation at that point is a little thin. Would you be willing to fix it?

The low-level effect of calling an event is that a so-called log is created. Indexed arguments are stored in the "topic" field of a log. This field is put inside a bloom filter (a special kind of database index) which in turn means that it is rather fast to search for the value if you know it, but it

[2018-02-15 15:50] JesseBusman opened #3526 "Constructor syntax is prone to errors."
# **Problem**

Having a constructor syntax that can also be parsed as a normal function is a bad idea.
The constructor is not like any other function and the syntax should not treat it as such.

For example:
[code]
Now, the programmer decides to rename the contract:
[code]

It is very easy to forget to also rename the constructor function. If you do forget, the contract will not be initialized whi

[2018-02-15 15:53] redsquirrel commented on #3520
Yeah, I'm coming from Ruby where this is valid:

    a, b = [1, 2]

[2018-02-15 16:29] federicobond commented on #3526
This is a duplicate of https://github.com/ethereum/solidity/issues/3196. Let's keep the discussion there.

[2018-02-15 16:33] chriseth commented on #982
I would opt for turning the existing warning into an error for 0.5.0

[2018-02-15 17:17] maurelian opened #3528 "example fails w/ invalid opcode"
## Issue:

The example here: https://solidity.readthedocs.io/en/develop/types.html#data-location

Fails with an invalid opcode when I call `C.f([1,2,3])`. The invalid opcode is at location 339, and maps to line 10, `y[7];` in the source code. The opcode is `0xfe`.

## Expected behavior

Should an out of bounds lookup not be failing with`revert` now?

[2018-02-15 18:03] chriseth commented on #3528
Revert is only done for things that can be accounted for invalid input. If you access `y[7]` in your code, it is your responsibility to check that it does no go out of bounds, especially since `y` is now stored in storage and thus part of the internal logic of the contract.

[2018-02-15 18:06] chriseth commented on #3196
This should not be too hard to do once we have the keyword. Anyone opposing to using `constructor(...){}`? What is the advantage of `constructor Foo() {...}` ?

[2018-02-15 18:06] #3526 closed, assigned to nobody

[2018-02-15 18:06] chriseth commented on #3526
People come up with the same solution independently, that hints that it is a good solution :)

[2018-02-15 18:16] #3528 closed, assigned to nobody

[2018-02-15 18:34] lorenzb commented on #3196
I am not aware of any technical advantage of `constructor Foo() {...}` over `constructor(...){}`. I believe that this is mainly a matter of aesthetics.

Having said that, I personally prefer the D.R.Y. `constructor(...){}` syntax.

[2018-02-15 18:59] ealmansi opened #3529 "Supress warnings on functions meant to be overriden."
Currently, the following code throws two warnings:

[code]
Namely, that parameter `a` is unused, and that function `fn` could be restricted to being pure. AFAIK, there is currently no way to tell the compiler to ignore these specific warnings.

However, there are valid use cases where this pattern seems perfectly reasonable, and the warnings should either be omitted, or there should be a way to te

[2018-02-15 19:06] eternauta1337 commented on #3529
+1

This pattern is indeed reasonable (specially with multiple inheritance) and we are considering it for [OpenZeppelin](https://github.com/OpenZeppelin/zeppelin-solidity).

[2018-02-15 20:42] ealmansi opened #3530 "Compilation fails on clean repo clone of develop branch."
Hi. I'm trying to build the compiler from source by following the steps found here: https://solidity.readthedocs.io/en/latest/installing-solidity.html#building-from-source

However, I'm running into an error during compilation. The repository is at commit f4aa05f308ef6b with no additional changes. These are the exact commands I ran:

[code]

This is the error I'm getting:
[code]

Full output: http

[2018-02-15 21:06] ealmansi commented on #3530
**Update**: Some collective knowledge from the interwebs led me to a solution, but I don't have personal experience so as to judge whether the solution is reasonable or somewhat of a hack.

I added the following line in file `libjulia/optimiser/SimplificationRules.h`, right after `#pragma once` and compilation went ahead just fine:

[code]

[2018-02-15 23:32] aarlt opened #3533 "CI builds should only be triggered, if sources where changed"
Currently the CI builds are triggered, also if only documentation was changed. At least travis builds are  super slow, probably that could help to get faster feedback from CI.

[2018-02-15 23:59] aarlt commented on #3486
I really like that idea! But I think that I probably didn't fully understand what you really mean with "extraction" here. After reading I thought about integrated unit tests. So additionally to the contract code, executable test-code can be defined, that is able to interact with the corresponding contract code. Probably you just mean that somehow current tests could be extracted to such testing en

[2018-02-16 08:32] chriseth commented on #3533
I'm not sure about this. We should instead have good caching so that builds are fast. Sometimes, it is important to have a full run on the change because the CI run also creates binaries and might deploy them somewhere. If that doesn't work, we might be completely stuck on e.g. a release.

I think the better way forward would be to move as much as possible away from travis. Circle seems to be much

[2018-02-16 08:35] chriseth commented on #3529
The way to suppress the unused warning is to comment out the name of the variable, this might be suboptimal, but at least it works. A workaround for the purity would be to e.g. use `this` in the body.

I guess the best solution would be to introduce a modifier which tells that a function can optionally be overridden. Then the derived class also has to either override it or explicitly state that it

[2018-02-16 09:16] mancze commented on #544
Yes, I'm willing to prepare PR. Yet I have more questions to ask because it is still not clear to me. Take for example event `Transfer(address indexed from, address indexed to, uint tokens)` from ERC20.

`token.Transfer({ _from: sender, _to: recipient }).watch(...)`

Easy. In this case we watch for the events with filtered (fixed) `_from` and `_to` so basically we are able to reconstruct all argum

[2018-02-16 09:31] fulldecent commented on #2877
ERC20 is pending again?

[2018-02-16 10:03] axic commented on #3515
Perhaps on certain cases there could be a `.truncate` function to drop multiple items, but if dropping is not constant on a given type I'd prefer not to have `.truncate`, but `.pop` only so it will be apparent to the programmer that gas usage must be considered (it will be quite clear with having `pop` in a `for` loop).

[2018-02-16 10:20] chriseth commented on #3517
Hm, this seems to be already the case. Sorry for the confusion.

[2018-02-16 10:20] #3517 closed, assigned to chriseth

[2018-02-16 11:06] chriseth commented on #3515
Increasing the length currently is a constant-gas operation, but this exactly is the problem, it opens the door for overlap attacks.

Truncating is currently a linear-gas operation, so a for loop with pop calls would be roughly the same. There is a difference when you truncate an array with elements that are shorter than 16 bytes, because it only performs a single write per slot. A future optimize

[2018-02-16 11:11] veox commented on #2877
@fulldecent Nope! This discusses Solidity syntax, ERC20 (as a standard/template) not affected.

-----

EDIT: I've edited the OP to not refer to ERC20 as "pending".

[2018-02-16 11:14] fulldecent commented on #2877
Ok, I saw "The (currently pending) ERC20 token standard " in the original post. It was like a flashback.

[2018-02-16 11:25] chriseth commented on #2877
I first intended to implement this similar to `new X()`, but since `emit Event()` never returns anything, it is probably better to put this at the statement level similar to `return x;`, it also simplifies parsing and makes it possible to do this even without having a keyword, I think - or can anyone think of a way where

``NonKeyword NonKeyword `(` ( (expression `,`)* expression )? `)` ``

would

[2018-02-16 12:02] veox commented on #2877
Ah, `emit` not returning anything would indeed put it in a different bag than `new` (or [`copyof`/`shared`](https://github.com/ethereum/solidity/issues/2296)). :/

@chriseth ~~There's a hanging tick in the code block, making it harder to read. But~~ I can't come up with syntax that would be valid in that case anyway.

[2018-02-16 13:44] eternauta1337 commented on #3529
Thanks @chriseth
_"The way to suppress the unused warning is to comment out the name of the variable, this might be suboptimal, but at least it works"_
This is a bit of a problem if you're writing documentation. For example:
[code]

If you omit the variable name (with the documentation in place), the compiler fails:
[code]

[2018-02-16 14:38] ealmansi commented on #3529
@chriseth thanks for your reply.

If I understood correctly, I believe this is what you are suggesting as a workaround:

[code]

This indeed solves the two warnings that I mentioned in the issue description, but unfortunately also introduces two new issues:

i) A new warning is raised: "state mutability can be restricted to view".
ii) Like described by @ajsantander, this prevents the user from doc

[2018-02-16 14:59] chriseth commented on #3529
Indeed, that's what I mean with suboptimal. Currently, I can only think of functions to be overridden as a use-case of suppressing the warnings. Because of that, I would propose to rather introduce a modifier for that use-case instead of providing a general "ignore warning" statement.

[2018-02-16 15:12] chriseth commented on #3515
There are some use-cases where you want to extend the array by an element with its default zero value. Especially for more complex arrays, it is a detour to first construct it in memory and then `push`ing it onto the storage array.

For that, we should perhaps introduce `a.pushEmpty()`, which does exactly the same thing as `a.length++` (plus bounds check perhaps).

[2018-02-16 15:40] #3530 closed, assigned to nobody

[2018-02-16 16:03] ealmansi opened #3537 "Add missing 'documentation' property to exported JSON AST."
Looking at the AST definition in `libsolidity/ast/AST.h`, all of the following extend from the abstract class `Documented`: `ContractDefinition`, `FunctionDefinition`, `ModifierDefinition`, `EventDefinition`.

However, the JSON converter `libsolidity/ast/ASTJsonConverter.cpp` only includes the `documentation` property available to all `Documented` classes in the case of `ContractDefinition`. This

[2018-02-16 16:10] chriseth commented on #3537
Thanks for catching this! Would you be willing to add it?

[2018-02-16 16:15] ealmansi commented on #3537
Yes, I'll send out a PR in short linking to this issue.

[2018-02-16 17:00] chriseth opened #3539 "Change 0.4.20 requirement to 0.4.21 in documentation"
Using `emit` requires version 0.4.21, but requiring 0.4.21 would not pass the tests since the current version is still pre-0.4.21.

[2018-02-16 17:02] chriseth commented on #1718
This should not be needed anymore, since `mload(7)` will be invalid from 0.5.0 anyway.

[2018-02-16 21:12] ealmansi commented on #3529
An ugly hack that works (with additional gas costs :frown:):

[code]

[2018-02-16 21:15] ealmansi commented on #3529
An ugly hack that works:

[code]

This prevents all warnings and allows parameters to be documented.

[2018-02-16 21:25] ealmansi commented on #3529
@chriseth I would personally (slightly) favour adding a non-semantic construct (natspec or other type of comment) rather than a new modifier, since I'm not sure a modifier with the semantics "I plan to eventually override this function" fully makes sense. In my experience, other PLs either leave these types of warnings entirely to linters and not to compilers, or have extra-semantic constructs to

[2018-02-16 22:39] Grobeu opened #3541 "The right way to create a struct instance inside a function"
I read in a stackoverflow discussion that if you create a storage variable inside a function, it could overwrite another existing one in the global scope of the smart contract, is that true?

Also, if I wanted to create a new struct variable inside a function, and then add push it to an array, should I create is in the storage space or memory space?

[code]

Or

[code]

Same question for when want

[2018-02-17 18:30] aarlt commented on #3486
@chriseth now I understood the extraction part - I just saw `test/libsolidity/SolidityEndToEndTest.cpp` with over 10.000 lines of code :D - I think that I have a nice idea for that - I will let you know.

[2018-02-17 22:15] davec432 opened #3542 "Error in simple ballot contract"
I'm trying to create my first ether token and I'm getting an error message.

browser/ballot.sol:120:18: ParserError: Expected primary expression.
        balances[00x2926ad2f538A0e3A0B667B58B3188c9968513287] = _totalSupply;

If anyone can help me I can send tokens when I get this project working

Thank You

[2018-02-18 08:05] pmumby commented on #2104
First, just confirming that this still occurs in 0.4.20, but also wanted to note, this appears to apply to both the method style invocation (using "using") as outlined in example above, as well as direct invocation using fully qualified method name and full signature as in this modified example:

[code]

This appears to be a pretty major issue blocking use of modifiers in libraries entirely.

Only

[2018-02-19 04:54] fulldecent commented on #2877
@devzl I am working on standards [ERC-165](https://github.com/ethereum/EIPs/pull/881) and [ERC-721](https://github.com/ethereum/EIPs/pull/841). Correctness and best practice in standards are important to me.

Could someone please tell me which version of Solidity will have this? If we are targeting that version that I can adopt this new language.

[2018-02-19 05:06] fulldecent opened #3544 "Cannot calculate selector of function named transfer"
# Test case

[code]

# Error

# Expected

This behavior is understandable (`transfer` also has a special meaning). But this behavior is currently undocumented.

[2018-02-19 11:37] isaackwan opened #3545 "Windows builds are not updated"
Reproduction steps (Imaginary steps obviously, used to Linux sorry):

1. `wget https://github.com/ethereum/solidity/releases/download/v0.4.20/solidity-windows.zip`
2. `unzip solidity-windows.zip && cd solidity-windows`
3. `./solc --version`

Output is as follows:
[code]

which is built out of commit 9cf6e910

[2018-02-19 12:38] pash7ka opened #3546 "An array of nested struct not supported"
If my contract has struct A, struct B where one field is A, and an array of B, it can not be compiled with an error ``UnimplementedFeatureError: Only in-memory reference type can be stored.``
[code]
solc version: up to 0.4.21-nightly.2018.2.16+commit.3f7e82d0.Emscripten.clang
Expected: this contract should be compiled without errors and warnings.

[2018-02-19 12:56] veox commented on #2877
@fulldecent Looks like maybe `0.4.21`?.. (See PR #3538.)

IMO if you ~~specify~~ use a strict `pragma` (e.g. current ~~`0.4.19`~~ `0.4.20`) in the examples then you don't need to worry about this.

[2018-02-19 13:31] chriseth commented on #3545
Are you sur eyou ran the correct binary?
[code]

[2018-02-19 13:52] isaackwan commented on #3545
WTF, ran `solc --version` again and I got 0.4.20 now.

/issue

[2018-02-19 13:52] #3545 closed, assigned to nobody

[2018-02-19 14:59] wjmelements opened #3547 "Internal compiler error for _offset of constant"
Formerly https://github.com/ethereum/remix/issues/697

[code]

[code]

[2018-02-19 15:02] wjmelements commented on #3547
Perhaps a better error message would be `Constant variables not supported by inline assembly`, which is the message if _offset is not used.

[2018-02-19 15:12] chevdor commented on #3050
Hi, I did not forget but it took me a while to find the contract.
Note for self: the contract is `kireg.sol`

I can no longer reproduce this issue although I have updated my solidity compiler a few times since october last year.

[2018-02-19 15:12] #3050 closed, assigned to nobody

[2018-02-19 15:46] #3537 closed, assigned to nobody

[2018-02-19 16:50] chriseth commented on #3414
The actual bug here is that the recommendation to use the new decoder is not properly given. I would prefer to finish the new decoder.

[2018-02-19 17:57] chriseth commented on #3546
This used to generate an error `"Internal type is not allowed for public state variables."`, but now it is not clear how the signature of that getter would look like. Do we actually want to return all struct members? What if some of them are arrays?

[2018-02-19 17:59] #3391 closed, assigned to nobody

[2018-02-19 18:19] #3137 closed, assigned to chriseth

[2018-02-19 18:20] chriseth commented on #3137
Implemented in https://github.com/ethereum/solidity/pull/3346

[2018-02-19 19:11] fulldecent commented on #2877
Thank you.

Just in general I think people should be able to skip to the examples and learn best practices that way.

Sort of like how I needed to decide between using `///` or `/**` for natspec comments. We chose `///` because the first example in solidity uses that.

[2018-02-19 19:33] fulldecent commented on #3270
Can you please provide us more details here.

* Is this issue "accepted"?
* It is committed that a change will be made?
* Is there a target version?

I am working on ERC-721 (https://github.com/ethereum/EIPs/pull/841#issuecomment-366782128). Could you please take a quick look at `ERC721Enumerable`. Am I doing it right? Should we delay this standard to wait for this issue?

[2018-02-19 20:59] data-harmonization commented on #3520
This post was exactly what I was looking for! In all the Ethereum examples, the "var" keyword is used when you want to assign values to a tuple function (e.g. var (x,y) = f() ). Since "var" is now deprecated, how should a multi variable assignment be done?

[2018-02-19 21:14] data-harmonization commented on #3520
I just found the solution (credits to: https://ethereum.stackexchange.com/questions/21348/get-the-return-of-a-function-with-multiple-returns)

[code]

The following is also supported in case you're only interested in `d` :
[code]

[2018-02-19 21:20] wbt commented on #3546
The workaround for this is to remove the keyword `public` from

    B[] public bArr;

and if you want to access something within bArr, write your own view function to do that.
The error message could be much more helpful as a guide toward this strategy, though.

[2018-02-19 22:08] chriseth commented on #3270
We are currently working on this. The main problem is that the old ABI decoder does not perform bounds checking and thus it would be possible for a malicious called contract to return data that can interfere with existing data in memory (read-only).

Since we are not yet 100% confident with the new ABI decoder (which does bounds checking), it might take a while until this is enabled by default.

[2018-02-19 22:10] chriseth commented on #3270
Actually thinking about this a little more, the old ABI decoder does not support multi-dimensional arrays or structs anyway, so the bounds checking would be a lot simpler.

[2018-02-19 22:10] fulldecent commented on #3270
Thank you for clarifying.

[2018-02-20 08:42] beether commented on #2908
Not sure if this has yet been noted, but doing this reduces costs to what is expected:

[code]

The optimizer seems smart enough to cache all changes to a `TestStruct storage` and write them out once. Not sure how it figures out there are no more changes (maybe it writes before any return), but it seems pretty robust -- even if you pass around the `TestStruct storage` it will still only write once

[2018-02-20 10:17] #3547 closed, assigned to chriseth

[2018-02-20 10:33] axic commented on #3544
Should use `this.transfer.selector`  and 0.5.0 mode (`pragma experimental "v0.5.0";`)

[2018-02-20 11:21] chriseth commented on #3544
Closing as this will be solved in 0.5.0.

[2018-02-20 11:21] #3544 closed, assigned to nobody

[2018-02-20 12:00] chriseth commented on #3541
It is impossible to allocate an object in storage. Because of that, the latter examples are correct. We should clarify this with examples in the documentation.

[2018-02-20 15:42] #3518 closed, assigned to chriseth

[2018-02-20 19:38] axic opened #3556 "Syntax to refer to a specific overload of a function"
[code]

Not sure what could be a good notation and/or a generic way for this. As a workaround a function type can be defined.

Split off #3544.

EDIT by @cameel: Renamed the issue since we often defer to it as the main issue about resolving ambiguous overloads. The original title was `Support retrieving selector of an overloaded function`.

[2018-02-20 21:37] #3355 closed, assigned to nobody

[2018-02-20 21:37] #3341 closed, assigned to nobody

[2018-02-20 21:48] axic opened #3557 "Add more tests for jsoncpp's strict mode"
Apparently these features are turned on strict mode:
[code]

[code]

Have a look at `test/libdevcore/JSON.cpp` and extend the test suite to cover these cases.

[2018-02-20 22:25] axic opened #3558 "Abort if Emscripten linking results in undefined symbols"
From https://github.com/ethereum/solidity/pull/3491#issuecomment-365437236:

[code]

should be a build error.

Use the flag:
[code]

This is on by default in the CMake Emscripten module which we aren't using.

Ref:
- https://github.com/kripken/emscripten/blob/01fc56a092f8bf83528d6ee8d39db1cd49830f80/src/settings.js#L505-L511
- https://github.com/kripken/emscripten/blob/7f89560101843198787530731f40

[2018-02-20 22:34] devzl commented on #3541
The line `MyStruct storage newStruct;` will override whatever first state variable that was declared in the global scope of the smart contract.

Declaring the new struct in memory before pushing it to an array seems to work perfectly well as per my tests.

For the mapping, there is no need to instantiate a struct. Just modify the struct by index directly. For example:

    function f (uint index,

[2018-02-20 23:22] axic opened #3560 "Run build with z3 on circle"
Should build Solidity with z3 and run `soltest` with them (`--no-ipc`).

[2018-02-21 00:42] fulldecent commented on #3458
Sorry I posted here, but it should have been #3412.

<details>
<summary>OLD COMMENT</summary>
Also can we please evaluate if this test case should pass or fail:

# Test case 1

[code]

# Test case 2

[code]

# Discussion

In the discussion of the deed/NFT/DAR standard https://github.com/ethereum/EIPs/pull/841 we have specified which functions are payable and which are not. The 0x team argues that

[2018-02-21 01:02] axic commented on #3458
I think the current specific rule in the code is that a contract implementing an interface may not modify  the state mutability level of a function.

State mutability is defined as ([the only summary](http://solidity.readthedocs.io/en/develop/abi-spec.html?highlight=payable#json) - there is also another suggestion to [move selfdestruct into another state mutability level](https://github.com/ethere

[2018-02-21 01:31] axic commented on #3529
As a quick note: these warnings are not emitted for function prototypes in [interfaces](http://solidity.readthedocs.io/en/develop/contracts.html#interfaces).

[2018-02-21 01:36] axic commented on #3529
Instead of new annotations I'd rather see disabling the unused variable and state mutability suggestion warnings for abstract functions (i.e. functions without an implementation) and treat them the way we treat interfaces.

[2018-02-21 01:41] fulldecent commented on #3221
There should be consistency between:

* State mutability in interface specifications (`payable`, default non-payable, `view`, `pure`)
* Ethereum ABI (ABI is maybe not the best word choice)
* EVM opcodes

Currently we have parity

* `payable`, default non-payable -- `CALL`
* `view` -- `STATICCALL`
* `pure` -- `PURECALL`? <-- I need a link for this proposal

If we are considering to add a level that

[2018-02-21 01:43] fulldecent commented on #3412
Also can we please evaluate if this test case should pass or fail:

# Test case 1

[code]

# Test case 2

[code]

# Discussion

In the discussion of the deed/NFT/DAR standard https://github.com/ethereum/EIPs/pull/841 we have specified which functions are payable and which are not. The 0x team argues that it is not in scope for a standard (an interface) to specify whether functions are payable.

I

[2018-02-21 01:46] fulldecent commented on #3412
@axic Sorry, posted to the wrong place. Moving here.

Referencing your comment https://github.com/ethereum/solidity/issues/3458#issuecomment-367177446

[2018-02-21 02:15] ealmansi commented on #3529
@axic I believe this is the case already for abstract functions. See: #3033.

However, this issue is specifically about non-abstract functions. Like discussed above, there are valid uses cases for disabling unused parameter warnings in functions which do have a body. Essentially, this is the case whenever we want some default behavior (possibly a no-op) which should also be optionally overrideable

[2018-02-21 02:38] fulldecent commented on #3270
Adding notes here for people designing interfaces (originally discussed in solidity-dev).

# Test case

[code]

This exposes two interfaces for interrogating `oddNumbers`:

# Piecemeal

[code]

# All-at-once

[code]

# Discussion

 The piecemeal approach is guaranteed to always work. But the all-at-once approach will fail for on-blockchain calls after the array reaches a certain length. This is be

[2018-02-21 03:31] maurelian opened #3562 "Instructions for building with Z3"
I'm trying to build Solidity with Z3. But it's failing.

## Steps:

1. I [clone, build and install z3](https://github.com/Z3Prover/z3#building-z3-using-make-and-gccclang). I now have:

[code]

2. Clone this repo, checkout `tags/v0.4.18`
3. run `make`

[code]

Based on the error... I now have a hunch that I've built z3 wrong for my system, but some guidance for the right way to configure z3, and bu

[2018-02-21 03:45] federicobond commented on #3486
@chriseth I'm interested, but I won't have time to work on it at the moment.

[2018-02-21 05:27] #3558 closed, assigned to nobody

[2018-02-21 08:58] axic commented on #3562
What version of z3 are you using?

Any particular reason you are using Solidity 0.4.18 and not 0.4.20?

[2018-02-21 11:16] maurelian commented on #3562
`Z3 version 4.6.1 - 64 bit`

Only that 0.4.18 was the current version when I first tried this, and it took me a while to return to it.

It's working in v0.4.20!

[2018-02-21 12:52] maurelian commented on #3562
Sorry, another question, how would I specify the location that the `solc` executable is built to?

ie. when I install solc normally using homebrew, it's place in /usr/local/Cellar/solidity/0.4.20/bin/solc

I'd like to be able to build locally to /usr/local/Cellar/solidity/0.4.20-z3/bin/solc, so that I can use brew to link it into my path.

[2018-02-21 13:31] yann300 opened #3563 ""InternalCompilerError: " Without info in `formattedMessage`"
Hello anyone can help me. I write next code and I recive result "InternalCompilerError: "
[code]
more info:
[code]

[2018-02-21 13:31] yann300 commented on #3563
was https://github.com/ethereum/browser-solidity/issues/1091

[2018-02-21 14:30] chriseth opened #3564 "Update spanish translation"
It seems there are people willing to do the translation, it just lacks organisation.

[2018-02-21 14:56] maurelian commented on #3562
I just used a manual symbolic link.

`ln -s /Users/primary/Projects/solidity/build/solc/solc /usr/local/bin/solc`

[2018-02-21 14:56] #3562 closed, assigned to nobody

[2018-02-21 17:42] chriseth commented on #3560
I think this is already the case.

[2018-02-21 17:46] chriseth opened #3567 "AST JSON: type name location is `storage` although it should be something like `unspecified`"
The AST json of the contract
[code]
contains a part
[code]

So the type name has a type which has a `storage` location, while the variable itself has `memory` location. The reason behind this is that the location specifier is parsed as part of the variable declaration and not the type name (we do not want multiple different location specifiers as part of a type).

The solution to that could be to

[2018-02-21 17:59] chriseth commented on #3542
You have to change it to `balances[0x2926ad2f538A0e3A0B667B58B3188c9968513287] = _totalSupply;`, i.e. remove one of the zeros.

[2018-02-21 17:59] #3542 closed, assigned to nobody

[2018-02-21 20:31] attente commented on #716
Hi, I'm wondering, does it make any sense to allow using cross-contract constants in this manner? i.e., something akin to:

A.sol:

[code]

B.sol:

[code]

Thanks!

[2018-02-21 20:45] chriseth commented on #716
Yes, there is another issue tracking cross-contract constant references.

[2018-02-21 20:47] chriseth commented on #716
Here: https://github.com/ethereum/solidity/issues/1290

[2018-02-21 23:02] axic commented on #3560
Yep circleci has it for `build_x86` and the log shows it now. Yesterday perhaps I've looked at the wrong log, which said "NOT found".

[2018-02-21 23:02] #3560 closed, assigned to nobody

[2018-02-21 23:26] axic commented on #3314
Instead of requiring every position to be defined, SOL-007 in #3326 proposes ellipsis to replace arbitrary number of arguments either as a head or tail:
[code]

[2018-02-21 23:26] axic commented on #3326
Closing this as a duplicate of #3314 as it has more details about an actual solution.

[2018-02-21 23:26] #3326 closed, assigned to nobody

[2018-02-21 23:26] Pipeliner commented on #633
@axic I guess @bortzmeyer meant that it was not immediately obvious from the error message that removing `public` would work. A more friendly message would probably be very helpful here.

[2018-02-21 23:27] axic commented on #3300
@chriseth I propose to close this issue as it goes against the general aim of the language design.

It can be reopened if it receives enough support.

[2018-02-21 23:31] axic commented on #633
Actually it would be nice to raise this issue in the type checker so a proper error message can be displayed as opposed to an assertion.

[2018-02-22 08:07] srameshr commented on #3300
@axic I agree. I was just trying to cut out some typing. Il close this issue.

[2018-02-22 08:07] #3300 closed, assigned to nobody

[2018-02-22 12:04] axic commented on #3486
@ehildenb uses pandoc to extract code from Markdown formatted files in the k-framework (kevm, kwasm). It may be a good option to use that since we could have more detailed descriptions around the test cases.

@ehildenb do you have a look to the pandoc script?

[2018-02-22 13:29] chriseth commented on #3314
When we remove `var`, we should also remove this feature. The intention is that you want code to break if the interface of a function suddenly changes.

[2018-02-22 13:38] chriseth opened #3572 "Add parameter-less `push()` method to dynamic storage arrays (S)"
This method just adds a zero-initialized element to the end of the array and returns a storage reference to it.

- [ ] explain the differentce of `x.push() = 7` and `uint y = x.push(); y = 7;` for `x` being a `uint` storage array in the documentation

[2018-02-22 14:17] #3519 closed, assigned to nobody

[2018-02-22 14:20] chriseth commented on #3486
I would really be careful not to overcomplicate this. Do we really need detailed descriptions formatted in html? I agree that we need a way to show descriptions, but just non-formatted comments should be more than fine. We don't need latex formulas or other stuff like kevm might need.

[2018-02-22 15:40] chriseth opened #3574 "Disallow combination of hex literals and units like `wei` or `hours`"
From: https://github.com/ethereum/solidity/pull/3120#discussion_r152466820

[2018-02-22 17:21] ehildenb commented on #3486
@chriseth the descriptions are just plain text (markdown, or any format supported by `pandoc`).

I don't think I have enough experience with the test-case filling to speak about whether `pandoc-tangle` is the correct fit (which is what we use for KEVM/KWASM), but I can at least explain what's possible with `pandoc-tangle` which might help out here.

First, it allows having text-explanation around

[2018-02-22 18:48] federicobond commented on #3486
I'm with @chriseth on this. Non-formatted comments should be more than enough for this use case, and makes it easier to point `solc` or any other  tool to the file.

[2018-02-22 20:10] aarlt commented on #3486
I currently implementing a generic test framework for solidity. A first functional prototype will be ready during the next days. Basically I wrote a small interpreter for a subset of `solidity`. It's a small scripting language that take advantage of all the stuff already in-place: code checking, parsing & creation of the AST.  At first I thought it would be nice to have a test-mode inside `solc` -

[2018-02-22 21:42] #2877 closed, assigned to chriseth

[2018-02-22 22:33] gnidan commented on #3567
Just discovered that `typeDescriptions` is wrong for `baseType`s in the same way.

For `uint[][] memory rows`, highlighting incorrect fields:

[code]

Might be a bit stickier? It seems like only the top-level `typeDescriptions` field is reliable, and so it's required to parse one of those strings in order to identify base types.

(I should have more data about other types' inaccuracies soon.)

Tha

[2018-02-22 23:58] axic commented on #3572
`pushEmpty()` for the sake of explicitness?

[2018-02-23 02:33] chriseth commented on #3572
We should discuss that, it might be that `push()` is easier to understand than `pushEmpty()`

[2018-02-23 02:36] chriseth opened #3576 "v050 should be an analysis-only experimental feature (and thus not create a warning)"
The only part of 050 which has an effect on code generation is the use of `u256(-1)` gas for calls. This can actually now be activated via the target selection instead of 050.

[2018-02-23 07:06] vrolland opened #3577 "UnimplementedFeatureError: Only in-memory reference type can be stored."
Hello Guys,

I experiment an odd behavior with nasty (nested) structs.

The following code works like a charm:
[code]
but when I change the visibility of "object" to public:
`S1 public object;`

I get this error:

I don't get what happen.

Any idea?

Best,

[2018-02-23 08:34] chriseth commented on #3577
Using `public` with such a type is not yet supported. It might appear with 0.5.0, I have to check.

[2018-02-23 08:48] vrolland commented on #3577
Fair enough. Thank you for your quick answer !

[2018-02-23 08:48] #3577 closed, assigned to nobody

[2018-02-23 09:40] chriseth opened #3581 "Split circle into build and test, use parallelism"
The x86 build on circle should be split into build and test.
The test run should use parallelism for the four combinations of VM and optimiser.

Documentation: https://circleci.com/docs/2.0/parallelism-faster-jobs/

We still need to check whether these parallel runs are actually done in the same container or not. If they are done in the same container, the solution will not work, because we would

[2018-02-23 17:07] aaroncolaco opened #3582 "Typos in examples"
Typos and errors in the example [here](https://github.com/ethereum/solidity/blob/develop/docs/frequently-asked-questions.rst#sometimes-when-i-try-to-change-the-length-of-an-array-with-ex-arraynamelength--7-i-get-a-compiler-error-value-must-be-an-lvalue-why):

[code]

* `somearray` should be `storageArr`
* `somearray2` should be `storageArr2`
* examples 2 & 3 are illegal as well since size is expli

[2018-02-23 17:12] chriseth commented on #3582
Hm, this is actually a very bad set of examples. It creates uninitialized storage pointers on the stack. We should rework it. Thanks for noticing!

[2018-02-23 17:22] aaroncolaco commented on #3582
@chriseth no worries!
How can I help?

Thought of changing the examples to:
[code]

But that won't solve the uninitialised storage pointers issue.

[2018-02-23 17:28] chriseth commented on #3582
The example has to be more complex
[code]

[2018-02-23 17:32] axic opened #3583 "Clean up type identifiers"
Thread from: https://github.com/ethereum/solidity/pull/2728#issuecomment-339281942

[2018-02-23 17:33] chriseth opened #3584 "Create test fixture for tests that create CompilerStack instances"
... and move the CompilerStack into a member variable.

[2018-02-23 17:42] aaroncolaco commented on #3582
@chriseth does this work?
[code]

[2018-02-23 17:46] chriseth commented on #3582
Yes, I think so. Please create a pull request, then we can discuss there.

[2018-02-23 17:53] aaroncolaco commented on #3582
Raised a PR @chriseth

[2018-02-23 17:55] chriseth opened #3586 "Evaluate whether CompilerStack::reset() should reset optimizer and evm version setting"
reset should be called when adding a new source. It should reset the compiler state, but not the complier settings.

If this is done, some reset calls in the testing frameworks might get redundant.

[2018-02-24 16:06] davec432 commented on #3542
Chriseth, Thanks for your reply, I have resolved this issue already but thanks again anyway.  I will send you some tokens of appreciation (pardon the pun) if you want to tell me your ether wallet address.

Thanks

[2018-02-24 16:12] woniesong92 commented on #3516
+1

[2018-02-24 17:36] aj07 commented on #3511
Will you Please give bit more info about it. I would like to send PR on it.

[2018-02-24 18:07] mirgj opened #3591 "contract invocation: raw call with string param won't be passed"
I'm trying to invoke another contract in solidity using raw calls but I'm encountering some problems.
[code]
this instruction is inside my second contract and while I try to get the value of the `param` from my first contract method its empty but instead its value is passed into `msg.data`.

I added an event on my first contract to see how the parameters has been sent.

[code]
basically `param` is

[2018-02-24 19:24] fulldecent opened #3592 "Build script install ffmpeg"
On this step:

    ./scripts/install_deps.sh

All kinds of things are installing, including ffmpeg.

There is probably some "update all" in there which is unnecessary.

[2018-02-25 05:43] vlad-mik opened #3593 "Release 0.4.20 is not available via apt-get on Ubuntu"
As recommended by official docs (http://solidity.readthedocs.io/en/develop/installing-solidity.html) I tried to install latest stable version of Solidity compiler on Ubuntu via the following commands:

    sudo add-apt-repository ppa:ethereum/ethereum
    sudo apt-get update
    sudo apt-get install solc

Installation was successful but installed version appeared to be 0.4.19 while I expected it t

[2018-02-25 10:16] axic commented on #3592
Would you mind giving more detail such as OS and OS version?

[2018-02-25 10:22] axic commented on #3593
Which Ubuntu version are you running?

@chriseth wouldn't it make sense removing the package (or adding some other kind of notification) on outdated distributions?

[code]

[2018-02-25 13:19] mikhail-vladimirov commented on #3593
$ lsb_release -a
    No LSB modules are available.
    Distributor ID: Ubuntu
    Description:    Ubuntu 16.04.3 LTS
    Release:        16.04
    Codename:       xenial

But initially I encountered this problem when I tried to assemble docker image with Solidity compiler inside based on official Ubunty "latest" image.  Same result: 0.4.19 was installed instead of 0.4.20.

[2018-02-25 13:24] vlad-mik commented on #3593
$ lsb_release -a
    No LSB modules are available.
    Distributor ID: Ubuntu
    Description:    Ubuntu 16.04.3 LTS
    Release:        16.04
    Codename:       xenial

But initially I encountered this problem when I tried to assemble docker image with Solidity compiler inside based on official Ubunty "latest" image.  Same result: 0.4.19 was installed instead of 0.4.20.

[2018-02-25 16:02] ThomasMW commented on #2948
Is there any progress yet, in either Remix or Web3.js? I can't see the current workaround.

[2018-02-25 18:45] wjmelements commented on #2948
@ThomasMW they renamed the repo, which killed that link. Here is the new link: https://github.com/ethereum/remix-ide/issues/920#issuecomment-348069589

[2018-02-25 20:04] fulldecent opened #3594 "Output which functions are not implemented"
Currently, `--bin` outputs nothing if a contract is a virtual contract.

There does not appear to be any option which allows you to find which functions of a contract are not implemented.

This results in the dreaded:

The programmer's intention is to implement all functions and compile the contract. However Remix IDE and solc are lacking a way to help the programmer find which function is not imp

[2018-02-25 21:10] dimorinny opened #3595 "libsolc external API compilation optimization runs"
Hi.

I found, that I can't pass custom param for compilation optimization runs count in solc-js binding.

Why you decided to block opportunity to specify this param and hardcoded it in libsocl? https://github.com/ethereum/solidity/blob/70790d4729a8cee7d587bf274ed1733b255b2120/libsolc/libsolc.cpp#L128-L129

Thanks a lot.

[2018-02-25 21:14] dimorinny commented on #3595
cc @fanatid

[2018-02-25 22:09] axic commented on #3595
You are referring to the backwards compatibility layer, which itself never had the option to adjust that.

One should use `compileStandard`, which implements the latest API: https://solidity.readthedocs.io/en/develop/using-the-compiler.html#compiler-input-and-output-json-description

It also available via solc-js: https://github.com/ethereum/solc-js#from-version-0411

[2018-02-25 22:09] #3595 closed, assigned to nobody

[2018-02-25 22:22] axic opened #3596 "Improve standard JSON output for "contract methods""
Currently there are two outputs listing contract methods:
[code]

It would be nice to have a single object with more information, which could also handle unimplemented functions (see #3594).

Option 1:
[code]

Option 2:
[code]

[2018-02-25 22:22] axic commented on #3594
Currently, trying to instantiate an abstract contract will output all unimplemented functions: `contract C { function f() { new ImplementERC165(); } }`

I'd rather improve this in a generic way, see #3596.

[2018-02-26 03:11] AlexejShevchenko opened #3597 "Use variable before declaration"
[code]
This code is compiled without errors.

[2018-02-26 06:14] pinnaclesystemsgroup opened #3598 "Please remove "brew update" in the install_deps.sh script."
The use of the "brew update" command in the install_deps.sh script should be changed to only update dependencies for this repo, and not the user's entire installed brew package library as the current install script does now. The wholesale update of user's package library risks breaking other applications and development chains in the user's target system as a result which may depend on specific "o

[2018-02-26 09:18] axic commented on #3597
This is by design: http://solidity.readthedocs.io/en/develop/control-structures.html#scoping-and-declarations

It will be changed in the next breaking release to follow C++/C99 scoping rules.

[2018-02-26 09:18] #3597 closed, assigned to nobody

[2018-02-26 09:20] axic commented on #3598
I guess this is the same issue as #3592 ?

[2018-02-26 09:21] #3582 closed, assigned to nobody

[2018-02-26 09:24] pinnaclesystemsgroup commented on #3598
Yes its the same issue. Was told to post it here instead of filing a pull
request

Thanks

On Feb 26, 2018 4:20 AM, "Alex Beregszaszi" <notifications@github.com>
wrote:

I guess this is the same issue as #3592
<https://github.com/ethereum/solidity/issues/3592> ?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/ethereum/s

[2018-02-26 09:36] chriseth commented on #3593
It turns out we had a build failure on xenial which we didn't notice. The build problem has been fixed in the meantime, but I'm not sure we should spend time backporting the fix and re-publishing. Our release process also does not really know such a procedure. I'd rather try to release 0.4.21 this week.

[2018-02-26 09:39] chriseth commented on #3511
There is a file called `ExperimentalFeatures.h` that lists all experimental pragmas, but these are not the only pragmas. Also I fear you have to search the source code to see which effects `pragma experimental "v0.5.0";` has.

[2018-02-26 09:40] chriseth commented on #3542
Thanks a lot! Please send them to the Foundation tip jar: 0xfb6916095ca1df60bb79ce92ce3ea74c37c5d359

[2018-02-26 09:59] axic commented on #3598
Closing this in favour of the other one.

[2018-02-26 09:59] #3598 closed, assigned to nobody

[2018-02-26 10:00] axic commented on #3592
Apparently this happen on Mac with brew based on @pinnaclesystemsgroup's report.

[2018-02-26 13:29] pinnaclesystemsgroup commented on #3598
Ok, but please be advised the moderator of the other pull request post
closed that incident request and told me to post it to the "issues" area
here .

‌

On Mon, Feb 26, 2018 at 4:59 AM, Alex Beregszaszi <notifications@github.com>
wrote:

[2018-02-26 14:05] pinnaclesystemsgroup commented on #3598
Alex

I don't wish to send you down the wrong path with my issue. Simply, the
install_dep.sh script invokes brew update against the target systems
package library instead of selectively updating and installing just the
packages that are required  ....

Thanks

‌

On Mon, Feb 26, 2018 at 8:29 AM, Pinnacle Systems Group <
pinnaclesystemsgroup@gmail.com> wrote:

[2018-02-26 15:03] andy-mcewan-aventus-io commented on #3273
Any news on silencing these warnings?

[2018-02-26 15:34] chriseth commented on #1447
Now that ERC165 is further towards standardisation - shall we add some kind of high level support for this?

[2018-02-26 18:09] chriseth commented on #3576
"use all gas on calls" is now used on byzantium VMs, implemented in https://github.com/ethereum/solidity/pull/3599

[2018-02-26 19:27] #3583 closed, assigned to axic

[2018-02-27 01:18] axic commented on #3003
This can be done as a deprecation warning and/or an error for 0.5.0 mode, though it is a tiny change at 0.5.0 time to remove 2 lines of code.

[2018-02-27 02:37] Gustav-Simonsson opened #3606 "Deprecate `years` suffix"
The `years` literal number suffix is defined as 31536000 seconds at https://github.com/ethereum/solidity/blob/develop/libsolidity/ast/Types.cpp#L747

This is incorrect - the correct value is 31557600 seconds.

A true Earth year is closer to [365.256363004 days](https://en.wikipedia.org/wiki/Earth) which is standardized as 365.25 days of 86400 SI seconds each in the [Julian Year](https://en.wikiped

[2018-02-27 02:41] izgzhen commented on #2148
Hi, I'd like to help on that

[2018-02-27 05:28] fulldecent commented on #1686
-1 only on the implementation details.

My understanding of proposal is that ABI will be extended to include a mapping of <revertReturnValue => String>. And compiler will put a return value on the stack during crash. And the client can translate those strings if necessary to any end-user language.

I don't see why an additional value needs to be put on the stack before revert. This seems unnecessa

[2018-02-27 09:22] #1793 closed, assigned to nobody

[2018-02-27 09:30] chriseth commented on #2109
The old and the new decoder now have options to revert if the data is too short.

[2018-02-27 09:44] veox commented on #1686
@fulldecent:

A [`REVERT`](https://github.com/axic/EIPs/blob/75121e281a8737f979a969394b4360d4d277c115/EIPS/eip-140.md#specification) always consumes two stack items - to determine memory location and length of data to be returned. The actual return ~~value~~ data comes from memory.

(Also described by @axic [a few comments back](https://github.com/ethereum/solidity/issues/1686#issuecomment-3480122

[2018-02-27 09:57] chriseth commented on #3606
The `year` suffix is unrelated to what we humans experience as a year on Earth. The [documentation](https://solidity.readthedocs.io/en/develop/units-and-global-variables.html#time-units) states that `1 years == 356 days`, `1 days == 24 hours` and so on and also warns that this is far from the truth. The only number we can rely on is seconds, although this is already questionable, since this value

[2018-02-27 10:06] chriseth commented on #1686
@fulldecent this is meant to be read both by humans and by smart contracts. Smart contracts do not easily have access to the internals of another smart contract, especially if the error code is forwarded ("backwarded"?) across multiple call frames. Yet a future specification might standardize the encoding of the error data and the caller can act accordingly.

Also note that programs do not "crash"

[2018-02-27 10:07] chriseth commented on #1686
Ah sorry, I actually confused this issue with the pull request of a similar name. Still, I think we are not totally talking about the same thing. Perhaps we should have a call to clarify?

[2018-02-27 12:12] rupaliathashcode opened #3610 "Getting error gas limit exceed 300000"
[code]

when I am calling transfer method in single and MultiTransfer function i am getting issue of gas limit exceed

[code]

[2018-02-27 12:22] chriseth commented on #3610
Thanks for your report! Could you add a bit more details where exactly this error is displayed?

[2018-02-27 12:26] rupaliathashcode commented on #3610
![image](https://user-images.githubusercontent.com/36531568/36728604-51b1f2d6-1be7-11e8-8f94-f41af8a0edff.png)
I deployed the contract through remix when i am trying to call SingleTransfer and MultiTransfer function this error occured @chriseth

[2018-02-27 12:29] rupaliathashcode commented on #3610
I have two different contract one with contract name AACoin and second contract is with name Test. when i am trying to call transfer method of AACoin from Test method this error occur @chriseth

[2018-02-27 12:37] axic commented on #3610
I guess you hit the `throw` keyword and the gas estimation on Remix cannot treat failures properly.

[2018-02-27 12:47] rupaliathashcode commented on #3610
So what should i do in my code @axic ?

[2018-02-27 12:51] axic commented on #2330
Started implementing this.

[2018-02-27 14:23] axic commented on #623
This can be extended with visibility areas: https://github.com/ethereum/solidity/issues/2608#issuecomment-317380570

[2018-02-27 16:06] #1679 closed, assigned to chriseth

[2018-02-27 17:03] chriseth commented on #1658
Postponed to 0.5.0

[2018-02-27 17:42] chriseth commented on #1718
Moving to 0.5.0 where it can just be closed, I think.

[2018-02-27 17:46] chriseth commented on #3581
Done in https://github.com/ethereum/solidity/pull/3601

[2018-02-27 17:46] #3581 closed, assigned to nobody

[2018-02-27 19:21] aarlt commented on #3486
No opinions?

I just finished a very basic prototype. It can now interact with contracts on chain - currently i use `geth` v1.8.1-stable in development mode with `geth --dev --rpcapi=personal`. I also added a new `soltest` method `setAccount(string)` that can be used to simulate contract calls from different users. These accounts will automatically preloaded with 1 ether from the "master" account

[2018-02-28 02:19] federicobond commented on #3486
I think it's an interesting tool for some use cases but I would try to avoid overengineering this at all costs.

Test cases should be readable with a plain Solidity parser without any preprocessing. NatSpec was not designed for this use case and would probably add unnecessary clutter to the main codebase. Instead, I propose a minimally invasive test vocabulary using prefixed comments that would ar

[2018-02-28 05:05] NoChance777 commented on #3516
same issue, when are you going to fix it?

[2018-02-28 07:33] axic commented on #1352
This should be gone with 0.5.0 given #3301.

@pirapira @chriseth should we close?

[2018-02-28 09:38] chriseth commented on #3486
@aarlt what you are working on in certainly very useful, but I would say it is separate from this issue here. One idea behind extracting the test cases and expectations is that you can update the expectations automatically. Also, the test framework should be as non-invasive as possible to be sure that the correct piece of software is tested.

[2018-02-28 09:38] chriseth commented on #3516
This will be fixed with the next release.

[2018-02-28 10:12] pirapira commented on #1352
Sounds good to close.

[2018-02-28 10:52] iikirilov opened #3618 "Provide name hints for tuples in ABI-json"
Hey, I'm using pragma experimental ABIEncoderV2; when compiling a contract with a struct as a constructor parameter. I am looking to generate a java wrapper class for web3j to use java to communicate with the contract, however the abi is rather ambiguous and generic
[code]

I know this is an experimental feature, but I am wondering what are the plans for the final product. I envisage the "type":"t

[2018-02-28 14:14] axic commented on #3618
This is to be improved with #2899. Please read that issue thoroughly, it should explain this.

[2018-02-28 14:22] stevenroose opened #3619 "Add cmd flag to suppress warnings"
Title is self-explanatory. To see if the compilation succeeded, the many warnings can be annoying. A `--nowarnings` would be appreciated.

[2018-02-28 14:23] axic commented on #3619
The output code should be 0 or 1 depending on success, see `echo $?` in the shell.

[2018-02-28 14:28] lazaridiscom commented on #3163
@axic , the suggestion is:

* Remove "Spanning multiple lines" completely, as its misleading.

or change to:

`^___spanning multiple lines`

(I was just wondering myself. Now realizing that the pointer is meant ^, that it cannot point, as the warning affects something that is "Spanning multiple lines")

[2018-02-28 15:33] #2608 closed, assigned to nobody

[2018-02-28 15:40] chriseth commented on #3163
@lazaridiscom yes, the fact that "spanning multiple lines" is on a different line confuses many, we should change that.

[2018-02-28 15:41] chriseth opened #3620 ""Spanning multiple lines" should not be on its own line to reduce confusion."

[2018-02-28 15:53] #1352 closed, assigned to nobody

[2018-02-28 16:29] chriseth opened #3621 "Standardize NameAndTypeResolution tests"
As part of https://github.com/ethereum/solidity/issues/3486, we should standardise the NameAndTypeResolution tests so that their test expectations can be easily upgraded. This will be very important for the transition to version 0.5.0 since it requires many updates.

The idea would be to move each test into its own file which contains source code and the list of errors and warnings it generates.

[2018-02-28 16:42] #2148 closed, assigned to nobody

[2018-02-28 17:19] lazaridiscom commented on #3163
@chriseth , glad you agree. Btw: how straightforward is the dev-system setup? I'm on Win10 currently, but could use docker or Hyper-V, too (or Windows Bash).

[2018-02-28 18:49] AnthonyBroadCrawford commented on #3620
@chriseth  is it okay if I get assigned to this issue.  If I have any questions who where can I go to ask a few questions?

[2018-02-28 21:20] chris-shyft opened #3623 "emscripten test isn't working (I believe it's a sourceforge issue).. any alternatives?"
from the tag v0.4.20, on the emscripten test, I'm getting: (from travis-ci.org)

<img width="1117" alt="screen shot 2018-02-28 at 5 19 13 pm" src="https://user-images.githubusercontent.com/34154131/36813627-91c675a8-1cab-11e8-8367-7e86a9a9142c.png">

do we have any alternatives or is this just outright broken for now?

[2018-03-01 00:11] axic commented on #2330
Realised that actually this was implemented already via #3038.

[2018-03-01 00:11] #2330 closed, assigned to axic

[2018-03-01 02:52] fulldecent commented on #409
The test case in this issue could be much improved to illustrate all features that are required to be implemented.

[2018-03-01 08:38] stevenroose commented on #3619
I assume that, but it's not entirely clear. Also, output is put on Stderr instead of Stdout so can't easily be grep'd.

Also to see what errors you have, it's useful to suppress warnings.

I have a relatively large code base that is written in an older solidity version (before not declaring visibility was a warning and before throw was deprecated), so I get at least two warnings for every method,

[2018-03-01 08:52] axic commented on #3163
Tracked in #3620 now.

[2018-03-01 08:52] #3163 closed, assigned to nobody

[2018-03-01 08:53] axic commented on #3620
@AnthonyBroadCrawford the best place is to join https://gitter.im/ethereum/solidity-dev and discuss questions there.

[2018-03-01 10:22] chriseth commented on #3620
@AnthonyBroadCrawford please go ahead! Github does not let us formally assign this to you, though, but it is reserved for you :)

[2018-03-01 10:25] chriseth commented on #2182
@axic do we want to reserve all of these above?

[2018-03-01 10:27] axic commented on #2182
I don't think any of them is particularly common in current use, though we could say `auto` can be removed from the above list since we deprecated `var`. Maybe it will be useful for something else, so would also consider keeping it.

[2018-03-01 10:29] axic commented on #2182
`implements` and/or `supports` from #2330

[2018-03-01 10:35] chriseth opened #3625 "SMT test hangs with libz3 version 4.6.0"
libz3 version 4.6.0 causes the test SMTChecker/division to hang indefinitely.

[2018-03-01 11:02] chriseth commented on #3625
@leonardoalt would you like to take a short look into this? The problematic test seems to be the signed division overflow test.

[2018-03-01 11:36] chriseth commented on #3619
@stevenroose you can either use an old compiler or the standard-json interface. In that one, it should be rather easy to filter out warnings.

[2018-03-01 12:27] dryruner commented on #3591
Coming from stackoverflow and experiencing the same issue here.

[2018-03-01 13:15] chriseth commented on #3591
Can you link the stackoverflow question, please? You should use `instance.call` only in extremely rare circumstances. This is a very dangerous way to call another contract.

[2018-03-01 13:16] chriseth commented on #3591
Ah sorry, the reason is explained at the end of the issue. Can you please post complete smart contract code so we can try to reproduce the issue?

[2018-03-01 13:17] chriseth commented on #3591
It looks like you do not perform abi encoding properly. We will soon support `abi.encode` that could help you there, until then, you have to do it manually.

[2018-03-01 13:28] dryruner commented on #3591
@chriseth Hi Chris here's the link - https://ethereum.stackexchange.com/questions/40769/solidity-contract-invocation-raw-call-with-string-param-wont-be-passed, basically the same.

My question is: What if I don't know the contract type of instance (it's just an address), but I do know that it has a function of signature say func(string)? Then I could only use instance.call(bytes4(keccak256("func(s

[2018-03-01 13:37] chriseth commented on #3461
What happens if some constructor parameters are not specified? Does the contract get abstract or is it an error right away?

It seems we do not even have an errorif two parameters for the same base disagree:
[code]

[2018-03-01 13:38] chriseth commented on #3461
It should be an error if the base constructor parameters are given both at the base contract list and at the derived constructor:

[code]

[2018-03-01 13:44] #3471 closed, assigned to nobody

[2018-03-01 13:45] chriseth commented on #3325
In addition to the above, conflicting super constructor arguments should also be an error in a multi-inheritance setting.

[2018-03-01 13:46] chriseth commented on #3198
@axic what do you think about having a wildcard function and a "receive ether" function?

[2018-03-01 13:48] chriseth commented on #434
@axic do we want to have this for 0.5.0?

[2018-03-01 14:17] AnthonyBroadCrawford commented on #3620
@chriseth awesome, digging in today/tonight.  Thank you!
@axic I'll hop onto the group chat for the million questions I'm sure to have.

Thanks both of you.

[2018-03-01 15:41] chriseth commented on #3591
[code]

Or even better:
[code]

[2018-03-01 15:59] #627 closed, assigned to nobody

[2018-03-01 15:59] #3131 closed, assigned to nobody

[2018-03-01 15:59] #3132 closed, assigned to nobody

[2018-03-01 16:40] leonardoalt commented on #3625
Sure. I got the SMT formula (below) and tried on different versions of z3.
Version 4.5.0 solves it correctly (SAT) in 0.2s, whereas version 4.6.0 indeed hangs.
I'll open an issue and see what they say.

[code]

[2018-03-01 16:43] chriseth commented on #3625
Wonderful, thanks! How did you extract the formula? We tried this morning but could not make it hang.

[2018-03-01 16:48] leonardoalt commented on #3625
In `Z3Interface::check`, just `cout << m_solver << endl;`. Then I added `(check-sat)`.

[2018-03-01 16:54] chriseth commented on #3625
*doh* I thought I remembered there was some kind of easy solution ;)

[2018-03-01 16:58] leonardoalt commented on #3625
Hehe I've been using that to debug the encoding since I started contributing, perhaps I should have shared it somehow...

[2018-03-01 23:45] LogvinovLeon opened #3629 "Source maps sometimes have sourceIndex === -1"
This might not be an issue, but I just can't figure out how to interpret that.

I'm compiling my contracts with source maps and when I try to decode them I get `sourceIndex === -1`. The docs on the source maps don't describe that possibility. I looked into the code and found [this line](https://github.com/ethereum/solidity/blob/develop/libsolidity/interface/CompilerStack.cpp#L880)
I've printed the

[2018-03-01 23:56] axic commented on #3629
It is code generated by "inline assembly" statements generated by the compiler: https://github.com/ethereum/solidity/blob/develop/libsolidity/codegen/CompilerContext.h#L193-L201

They do not have an accompanying source code supplied by the user.

[2018-03-01 23:57] axic commented on #3629
I mean the above is true for those marked `--CODEGEN--`. I don't think there is any other way currently for a piece of code lacking a source index.

[2018-03-02 00:00] dryruner commented on #3591
Ah it's an awesome trick! Thank you Chris!  A bit curious since I'm not able to find any detail about it from solidity documentation: how does _a find func's code to invoke, as StringFuncContract.func has no implementation? They just share the same function signature

[2018-03-02 00:01] LogvinovLeon commented on #3629
Thanks

[2018-03-02 00:05] axic commented on #3629
It would be nice to document this. Would you be interested documenting it?

[2018-03-02 00:11] recmo commented on #3629
I just read through the Solidity source. If I understand correctly, whenever `appendInlineAssembly` is called, these instructions would be attributed to `--CODEGEN--`.

This happens in `memoryCopy32`, `memoryCopy`, `deployLibrary` and `appendMissingFunctions`, no where else at the moment.

In the case of memory copies, it should be quite clear which line of Solidity code caused the memcopy to be t

[2018-03-02 00:30] aarlt commented on #3486
@federicobond @chriseth Thank you very much for your feedback!

@chriseth Ok, looks like that I didn't understood the idea, especially not the part of updating expectations automatically. I thought somehow it's possible to cover these tests with such framework. However, the whole testing thing is really the perfect vehicle to learn some stuff in more detail. So thank you for the inspiration :)

[2018-03-02 01:13] dryruner commented on #3591
@chriseth I've deployed test contracts to demonstrate the issue:

TestCallWithString.sol - has a function "callback(string)" to be invoked by other contract and the string argument passed in is stored as result:
https://rinkeby.etherscan.io/address/0x78134e6ab7d952692ef9f35751f64d925609475d

Call.sol - calls TestCallWithString.callback using call:
https://rinkeby.etherscan.io/address/0xa058a62979b

[2018-03-02 02:29] neoctobers opened #3631 "[In a contract] How to judge the contract is received some ERC20 standard token?"
How to judge the contract is received some ERC20 standard token, and how many of them?

Thank you for help!!

[2018-03-02 09:39] chriseth commented on #3629
The value of `-1` is a general "unknown" value. Code generation through compiler-generated inline assembly is also performed with the new ABI encoder. In this case, lots of code will be re-used from many places, and it can even be the case that an internal function of a library uses the same encoding code as a function in a contract in a different source file. Because of that, I think we cannot en

[2018-03-02 09:40] chriseth commented on #3625
The issue in the z3prover repository: https://github.com/Z3Prover/z3/issues/1511

[2018-03-02 09:57] chriseth commented on #3591
@jonnyhsy if you use a raw call, you have to properly encode the string argument. I explained it on the stackexchange question.

[2018-03-02 09:57] chriseth commented on #3631
This question is better suited for http://ethereum.stackexchange.com/

[2018-03-02 09:57] #3631 closed, assigned to nobody

[2018-03-02 10:11] #3574 closed, assigned to ekpyron

[2018-03-02 13:47] mxito3 opened #3636 "pass a decimal in a function whose parameter is uint!"
function _transfer(address _from, address _to, uint _value) internal {
        require (_to != 0x0);                               // Prevent transfer to 0x0 address. Use burn() instead
        require (balanceOf[_from] >= _value);               // Check if the sender has enough
        require (balanceOf[_to] + _value > balanceOf[_to]); // Check for overflows
        require(!frozenAccount[_from]

[2018-03-02 14:03] chriseth commented on #3620
The message is generate in SourceReferenceFormatter.cpp:83. It is triggered for example if you have a file that does not have a pragma for the compiler version. Then the generated warning applies to the whole file (and thus "spanning multiple lines").

[2018-03-02 14:59] chriseth opened #3637 "Add new keywords to syntax highlighters"
We will add new keywords with version 0.5.0 and of course we would like to have nice syntax highlighting for them.

In which places do we need to add them?

- [x] `docs/utils/SolidityLexer`
- [ ] Remix's ACE highlighter

[2018-03-02 15:01] chriseth commented on #3637
I am especially lost in how Solidity syntax highlighting ends up in github eventually. Pinging @veox, @oktapodia and @davidhq because I think they might be able to help.

[2018-03-02 15:02] axic commented on #3629
@LogvinovLeon or @Recmo are you interested in documenting this?

If not, @ekpyron or @bit-shift, would you do it?

[2018-03-02 15:03] axic commented on #3637
`docs/utils/SolidityLexer` and Remix's ACE highlighter are two things we "maintain"

[2018-03-02 15:17] chriseth commented on #3294
What do you mean by "only"? What is your expectation?

[2018-03-02 15:20] chriseth opened #3638 "Yul optimizer fuzz tester"
## Abstract

The YUL optimizer needs to be fuzz tested. This issue specifically tracks writing the fuzzing test harness itself. A related issue #3639 tracks generation of yul code for fuzz testing.

The envisioned steps for fuzzing the YUL optimizer are as follows:
1. generate yul code (see #3639) and feed it to the optimizer
2. obtain execution traces (effect of yul code on the environment) of th

[2018-03-02 15:21] chriseth opened #3639 "Random Yul code generator"
## Abstract

Valid YUL code needs to be generated for testing purposes.

## Motivation

There are two ways to do this

[Low effort] Use a fuzzer with existing yul code samples for code generation. The benefit is that this is very little work, the disadvantage is that yul code generated semi-randomly may not even be parseable. This means that we won't be able to test deeper portions of the YUL comp

[2018-03-02 16:21] axic commented on #3636
I think this question is better suited for http://ethereum.stackexchange.com/ or https://gitter.im/ethereum/solidity

Hint: `uint` support no decimal points (they will be in "fixed point types").

[2018-03-02 16:21] #3636 closed, assigned to nobody

[2018-03-02 16:27] axic commented on #3461
See #2912.

[2018-03-02 16:28] axic commented on #3461
Since there's no constructor overloading it shouldn't be possible?

[2018-03-02 16:37] axic commented on #434
I'd be happy but it may be too many changes (from the users' perspective).

Also it will be more useful once the `abi.decode` helper is introduced, which we haven't even started yet, so realistically I'd say to postpone it to 0.6.0 assuming it will come strictly <= 6 months after 0.5.0 :)

[2018-03-02 16:49] axic commented on #3294
Don't do a revert?

[2018-03-02 18:12] leonardoalt commented on #3625
So, the current status is the following.
It was suggested that we use a `z3` option called `rewriter.pull_cheap_ite`.
When using this option to solve the formula as a standalone `smtlib2` file, `z3-4.6.0` is as fast as `z3-4.5.0` (~0.2s). This is done by adding `(set-option :rewriter.pull_cheap_ite true)` as the first line in the above formula.
BUT... when I added this option in the C++ API, the t

[2018-03-02 19:05] AnthonyBroadCrawford commented on #3620
@chriseth Awesome, thank you!

[2018-03-02 21:31] AnthonyBroadCrawford commented on #3620
@chriseth I've made the change to have it appear on the same line as the ^ and am wondering if I should wrap this change in a unit test within the tests folder?  Is that something that would typically be tested in the project?

[2018-03-03 15:01] AnthonyBroadCrawford commented on #3620
@chriseth I opened up a pull request to gain feedback on the code.  I followed the guidelines to do so.  Let me know if you have any questions.

https://github.com/ethereum/solidity/pull/3640

[2018-03-03 16:00] axic commented on #3482
Assuming it is just a "Spanning multiple lines" message confusing @freshonline, which is tracked in #3620.

Please reopen with a proper log if it is a different issue.

[2018-03-03 16:00] #3482 closed, assigned to nobody

[2018-03-04 10:02] axic commented on #3196
The original proposal suggested `function Foo() constructor {}`, over that I quickly suggested to not use the modifier and have a keyword and had the example `constructor Foo() {}`, but nobody (including me) ever championed for keeping the contract name there :)

[2018-03-04 11:04] leonardoalt commented on #3625
This option is disabled when using incremental mode (which we do). The Z3 devs are looking into possible solutions.

[2018-03-04 13:50] leonardoalt commented on #3625
The solution involves using the performance option mentioned before (https://github.com/ethereum/solidity/pull/3642) plus code changes in `z3` which are now in `z3`'s `master` branch. Unfortunately I guess this means we can't use version 4.6.0.

[2018-03-04 18:47] veox commented on #3637
~~Linguist~~ Github uses https://github.com/davidhq/SublimeEthereum for the grammar definitions, as a `git` submodule pulled in by `linguist`.

@davidhq has not responded to [a notification](https://github.com/davidhq/SublimeEthereum/issues/19), so I'm not sure he's aware of the fact; but there has been some activity in the repo a month ago, so a PR might just do.

-----

Thanks for pinging, BTW.

[2018-03-04 19:30] davidhq commented on #3637
I'm finally able to join this conversation, sorry for some delay. Yes, I saw the notification but then didn't investigate in detail how everything works now and in fact how new syntax would get into github highlighting in he future. I will try to see that now but yes, any PR would get merged and if new things are taken from this repo, to make it quicker you could hint at them and I'd do my best to

[2018-03-04 19:34] davidhq commented on #3637
Or also if it helps, to add some people as collaborators directly to https://github.com/davidhq/SublimeEthereum or even move this repo to https://github.com/ethereum and make a new reference from packagecontrol (or hand that over too)...

[2018-03-04 19:53] davidhq commented on #3637
Or also if it helps, to add some people as collaborators directly to https://github.com/davidhq/SublimeEthereum or someone can fork this repo to https://github.com/ethereum and I make a new reference from packagecontrol.io (where Sublime plugin is installed from).

I missed this important part:

ok that then means my repo is a reference and you can all propose how to do it best as per previous par

[2018-03-05 11:10] #3273 closed, assigned to nobody

[2018-03-05 11:12] #1117 closed, assigned to chriseth

[2018-03-05 14:02] chriseth opened #3644 "Extract Syntax tests"
This is a sub-task of https://github.com/ethereum/solidity/issues/3486 which only handles syntax test (this includes what is now NameAndTypeResolutionTests and ParserTests).

Each test case is an individual file in a (potentially multi-level) directory hierarchy under `/test/syntaxTests`. The files have the following format:

[code]

`code` is the code to be compiled. The part after `\n// --\n` is

[2018-03-05 14:15] #3621 closed, assigned to nobody

[2018-03-05 14:22] chriseth commented on #3461
I thought about leaving out one level in the inheritance hierarchy, but I guess the solution would be to just add a forwarding constructor. The problem here is that this might not work in the multi-inheritance setting:

[code]
This provides the parameter to `owned` twice. Of course it is twice the exact same value, but that does not have to be the case and the compiler might not be able to detect

[2018-03-05 14:25] chriseth commented on #1658
We should specify how to combine the IULIA optimizer settings with the legacy optimizer settings.

[2018-03-05 14:27] chriseth commented on #1789
Storage references have to be assigned to at every point in the control flow they are used. This especially applies to functions returning storage pointers.

[2018-03-05 14:27] chriseth commented on #1789
'Use after free' is out of scope for this task.

[2018-03-05 14:29] chriseth commented on #1565
There were some requests to keep getters being valid as external functions - have we taken a decision on this? I.e. is it fine to "implement" an external interface function using a getter?

[2018-03-05 14:39] chriseth opened #3645 "Re-check documentation"
Everyone should read through the documentation, check that all examples are meaningful, work and the code is up to date.

[2018-03-05 15:15] chriseth commented on #434
I agree. In addition to that, we wanted to deprecate the use of low-level features that do not go all the way down the rabbit hole. So I think a generic `abi.decode` in connection with the call via inline assembly should be the way to go.

[2018-03-05 15:18] chriseth commented on #3294
The encoding is wrong, it should be
[code]

[2018-03-05 15:20] fulldecent commented on #3572
Is there any demand for this variant?

Keyword additions should be considered critically, lest the dictionary run out of words for us to use.

[2018-03-05 15:43] chriseth commented on #3572
@fulldecent this does not add a keyword, it just adds a method to a predefined type. And yes, there is a demand for this, because in some cases, especially if you have an array of a complicated struct, it is hard to add a new element to an array if you cannot do `.length++` anymore.

[2018-03-05 18:28] #3576 closed, assigned to chriseth

[2018-03-05 18:44] leonardoalt commented on #3625
Can we close this issue?

[2018-03-05 19:01] chriseth commented on #3625
Is it solved? Don't we have to wait for the 4.6 fix release?

[2018-03-05 19:05] chriseth opened #3649 "Fix gas tests on travis."
Some gas tests fail on travis. This might be due to an old version of cpp-ethereum being used, since they succeed on circle.

If we do not fix the tests before the next release, travis will not publish the artifacts.

[2018-03-05 19:11] #2971 closed, assigned to ekpyron

[2018-03-05 21:51] #3620 closed, assigned to nobody

[2018-03-05 21:59] chriseth opened #3650 "Add warning for `msg.gas`"

[2018-03-05 22:37] chriseth opened #3651 "SMT: Access to value-types of storage arrays and mappings"
The SMT component should be able to understand access to the final value types of storage arrays and mappings. This excludes structs and assigning arrays to each other.

The goal is to be able to reason about e.g. the balances mapping of a token contract.

[2018-03-06 02:29] AnthonyBroadCrawford opened #3654 "Coding standars link on the 'contributing to Solidity' page errors to a 404"
# Issue
When clicking on the link 'coding standards' in the "workflow for pull requests" section on the *Contributing* to Solidity page found [here](https://solidity.readthedocs.io/en/latest/contributing.html) it errors on a 404.

## Steps to recreate

1.  Navigate to the Contributing page found [here](https://solidity.readthedocs.io/en/latest/contributing.html)
2.  Click on "coding standards" whi

[2018-03-06 02:33] AnthonyBroadCrawford commented on #3037
@chriseth mind if I run with this issue?

[2018-03-06 08:02] axic commented on #3654
Seems like the `CodingStandards.txt` was removed from cpp-ethereum. @chfast was it moved or removed? As a quick fix we should push a copy of it to Solidity.

[2018-03-06 08:03] axic opened #3656 "Workarounds for experimental 0.5.0 should be removed in the final release"
From https://github.com/ethereum/solidity/commit/95daeac939785d61e4ea97a789c595705add485d#r27887648.

Parser workarounds are present now:
- `emit`
- `constructor`
- `constant` on functions

Also the CLI has `--strict-assembly` which will be removed in 0.5.0 since #3527 deprecates the non-strict version.

[2018-03-06 08:12] axic commented on #3037
@AnthonyBroadCrawford please go ahead

[2018-03-06 08:13] axic commented on #3037
@federicobond I think it may be a good idea to support multiple levels of error types, but is it needed for this issue?

[2018-03-06 08:26] #3650 closed, assigned to ekpyron

[2018-03-06 08:29] #3629 closed, assigned to nobody

[2018-03-06 09:04] chfast commented on #3654
Just moved, and reformatted: https://github.com/ethereum/cpp-ethereum/blob/develop/CODING_STYLE.md.

But it might not be accurate for solidity.

[2018-03-06 09:12] axic commented on #3654
@chriseth do we plan to use clang-format or keep it manual? If we want to use clang-format, we should adopt the above coding style without changes, otherwise we should fork it to match Solidity.

[2018-03-06 09:26] chriseth commented on #3654
@axic we discussed that in berlin last week. clang-format sounds tempting but in the end it cannot do what humans do, so I would like to keep it as we do it now.

[2018-03-06 09:28] chriseth commented on #3654
I would also like to propose some changes to gavin's old rules.

[2018-03-06 09:30] chriseth commented on #3654
I think this is roughly where we could start off from: https://github.com/ethereum/cpp-ethereum/blob/b6dbb3549f8d50510111baf0d3088cc15284bcec/CodingStandards.txt

[2018-03-06 09:46] kkirka commented on #3572
Bare `push()` is ambiguous: it is unclear whether the value is default-initialized (e.g. with zeros) or not initialized at all (i.e. contains random stuff).

I think it is better to add default-initialization syntax for complex structs like in C++ and other languages. The syntax for initialization could be `ComplexStruct cs = ComplexStruct()`, and for pushing an empty element — `.push(ComplexStruc

[2018-03-06 10:00] chriseth commented on #3572
@kkirka there is no possibility that anything contains random stuff in Solidity, everything is always zero-initialized.

While `.push(ComplexStruct())` might be a possibility, it is much more work for the optimizer to improve the gas costs of such a construct (the struct is initialized in memory and then copied to storage).

I'm still torn between just adding `push()` and adding `pushEmpty()` or p

[2018-03-06 10:23] chriseth opened #3660 "Difference between emscripten build and other builds"
The emscripten binary in current develop and the other three binaries behave differently:

[code]

[2018-03-06 10:51] chriseth commented on #3660
The difference seems to be related to the new globals:
[code]

[2018-03-06 10:54] chriseth commented on #3660
Ok, the error from emscripten is:
[code]

So this is probably related to the fact that emscripten just generates more data and thus touches more code.

[2018-03-06 10:55] chriseth commented on #3660
@ekpyron could you please fix this? It seems to be due to the fact that the new function location you introduced is not handled in all the places.

[2018-03-06 10:55] chriseth commented on #3660
Error location is `libsolidity/ast/Types.cpp(2360)`

[2018-03-06 10:59] axic commented on #3660
The new kind is missing (blockhash or gasleft), whichever was merged.

[2018-03-06 10:59] axic commented on #3660
Also to avoid this, please add a test for those, actually it would make sense to extend the identifier test case (https://github.com/ethereum/solidity/blob/develop/test/libsolidity/SolidityTypes.cpp#L106) we have to all possible cases.

[2018-03-06 11:03] chriseth commented on #3660
@axic adding such a test does not help in this case. If you miss it, you miss it. We should change all switch statements to not include a default case (where feasible) to get a warning at compile time.

[2018-03-06 11:45] axic commented on #3572
`expand()` `increase(n)` ?

[2018-03-06 11:54] bitsnaps commented on #992
@fulldecent I believe `view` and `constant` are both working right now, I would like to see `readonly`, but for compatibility I prefer to stick with `view`, it's still less ambiguous than `constant` anyway
https://ethereum.stackexchange.com/questions/25200/solidity-what-is-the-difference-between-view-and-constant

[2018-03-06 14:26] #3649 closed, assigned to nobody

[2018-03-06 14:26] cleanunicorn commented on #1686
When an error message is returned where can this be seen? Will it be part of the `eth_getTransactionReceipt` response? Or part of the `trace_block`?

[2018-03-06 14:36] chriseth commented on #1686
@cleanunicorn it will not be part of the receipt. We have to check with the client developers to make it accessible. Tracing will certainly show it.

[2018-03-06 14:51] #3176 closed, assigned to chriseth

[2018-03-06 15:40] axic opened #3662 "Document the "std" directory"
Document the existence of the files in the `std` directory and that they should only be referred to by the git version tag.

**or** remove them entirely.

[2018-03-06 15:40] axic commented on #3662
I'm voting for removing them.

[2018-03-06 15:45] Serozd commented on #621
those lines produce same error:
`TypeError: Unable to deduce common type for array elements.
      int8[3] memory solutions = [0, -1, 1];`
with ` pragma solidity ^0.4.17;`
the solution to this is to write:
`int8[3] memory solutions = [int8(0), -1, 1];`

[2018-03-06 17:19] pipermerriam commented on #3037
@axic this change will be fine for populus.

[2018-03-06 17:59] #1824 closed, assigned to chriseth

[2018-03-06 18:04] chriseth opened #3665 "Add macos builds and tests to circle"

[2018-03-06 18:10] chriseth commented on #3500
Remove warnings? I think this is done, is it?

[2018-03-06 18:11] chriseth commented on #2182
Can this be closed?

[2018-03-06 18:13] #2695 closed, assigned to chriseth

[2018-03-06 18:17] axic commented on #2182
Why?

[2018-03-06 18:23] axic commented on #3500
Fixed by #3569.

[2018-03-06 18:23] #3500 closed, assigned to nobody

[2018-03-06 18:25] chriseth commented on #2182
Ah sorry, my bad.

[2018-03-06 18:25] axic commented on #3660
Fixed by #3663.

[2018-03-06 18:25] #3660 closed, assigned to ekpyron

[2018-03-06 18:29] axic commented on #1241
@chriseth I think this can be revived/reconsidered as we're changing a couple of keywords for 0.5.0

[2018-03-06 18:35] axic opened #3667 "Ensure that missed enum values are tested for in Types"
For example `dev::solidity::FunctionType::richIdentifier()` has a switch with a default doing an assertion.

Two options came up (see https://github.com/ethereum/solidity/issues/3660#issuecomment-370744653):
a) add unit tests for each of the enums
b) remove the default case and force compile time errors

b) would be easier to do, just need to be careful that the right compiler flags are used.

[2018-03-06 21:47] AnthonyBroadCrawford commented on #3037
@axic Can you point me in the initial direction within the codebase?  I'm sure I'll have more question but I should be able to figure it out once I know where to start.  Thank you!

[2018-03-06 23:27] axic commented on #3037
It most likely will have to be changed here: https://github.com/ethereum/solidity/blob/develop/solc/CommandLineInterface.cpp#L513

[2018-03-06 23:27] briandsutton commented on #3301
Hi, I'm trying to understand something here. I understand, the use of 'var' keyword was deprecated in solidity version 0.4.20 (https://github.com/ethereum/solidity/releases/tag/v0.4.20), however the documentation for tuple assignments for that version shows the use of the 'var' keyword (https://solidity.readthedocs.io/en/v0.4.20/control-structures.html#assignment).

Is this use still correct? In c

[2018-03-06 23:30] ksolo commented on #3584
@chriseth I'd like to try and help with this. Can you provide any more details so I can get a better idea of what's needed?

[2018-03-06 23:30] axic opened #3669 "Update documentation not to propose var in tuple assignments"
See https://solidity.readthedocs.io/en/v0.4.20/control-structures.html#assignment

There might be other places where `var` is suggested.

Found by @briandsutton: https://github.com/ethereum/solidity/issues/3301#issuecomment-370966487

[2018-03-06 23:31] axic commented on #3301
@briandsutton thanks for noticing, it was left by mistake. Tuple assignments will be changed as proposed in #3314.

[2018-03-07 03:14] AnthonyBroadCrawford commented on #3037
@axic For my first pass I'm going to have it error on missing files, but take @federicobond suggestion and add an option allowing users to inform the compiler to ignore missing files.

[2018-03-07 03:38] rjl493456442 opened #3670 "Question: Is there any simple method to add a built-in function?"
There are some precompiled accounts in ethereum(account `0x...00001` - `0x...00008`). If we want to customize the evm precompiled accounts (e.g. add another precompiled account to support some financial computation), how can we add this built-in function to solidity?

Is the code modification necessary?

[2018-03-07 08:47] axic commented on #3670
Those accounts are part of the clients and not part of Solidity. If you want to get a new "precompiled" contract approved, the best way is to create a new EIP proposal at https://github.com/ethereum/EIPs and convince the community to support it.

[2018-03-07 08:47] #3670 closed, assigned to nobody

[2018-03-07 08:48] axic commented on #3037
Sounds good!

[2018-03-07 09:34] mojl commented on #992
Is it normal behavior for a `pure` function to access a `constant` "state variable"?

It make sense architecture-wise, but is this intended and will be doubled down on?

[2018-03-07 10:11] chriseth commented on #3670
If you are talking about a private chain, then the best way is to use inline assembly to create a high level function for the precompiled contract. You can find an example here: https://github.com/ethereum/solidity/blob/develop/test/libsolidity/SolidityEndToEndTest.cpp#L10543

[2018-03-07 10:29] rjl493456442 commented on #3670
@chriseth Thanks!  That is what i want. Love the freedom of the solidity grammar.
If we can expose precompiled account related function(e.g. `sha256`) easier, it can more elegant.

[2018-03-07 11:14] chriseth commented on #3584
Sure! There are many test files (e.g. Metadata.cpp, Imports.cpp) that create an instance of CompilerStack per test (not test file) and adjust certain settings on it. This can be moved into a test fixture as it is done in AnalysisFramework.h and others. The best solution would probably be to even move out the CompilerStack member from AnalysisFramework.h (and other fixtures) into a general base cla

[2018-03-07 11:44] axic commented on #992
A `constant` "state variable" is just a constant value, it is not a storage variable.

[2018-03-07 11:46] axic commented on #3670
Can you elaborate what you mean by this?

[2018-03-07 14:23] chriseth opened #3672 "Free variable stack slot at end of scope"
Since variables are now scoped within a block as opposed to the whole function, it makes sense to reserve their stack slot also only for the duration of that block.

This requires small modifications in the CompilerContext. Some special handling with regards to break and continue statements is probably also needed.

[2018-03-07 14:30] chriseth commented on #3458
Coming back to the initial proposal again: I think it should not be an error if a public function overrides an external function. The requirement for interface functions to be external makes their use extremely annoying. Because of that, I think this should be part of 0.5.0.

[2018-03-07 14:36] chriseth commented on #649
I think we should discuss this again. Currently, there are many situations that lead to a contract being abstract, but you get not notified about that unless you try to instantiate such a contract. If we require a keyword of some sort for such cases, it is much easier to detect. (suggested by @recmo)

[2018-03-07 14:37] chriseth commented on #3514
I fear we need a centralized point where we discuss how function inheritance is supposed to work in the future.

[2018-03-07 15:20] wbt opened #3675 "Inheritance produces inconsistent override/coexistence/error behavior"
(Summary at end.)

I have the following contracts:

`Alpha.sol`:

    pragma solidity ^0.4.4;
    contract Alpha {
        uint firstField;
        uint public secondField;

        event FirstFieldSet(uint priorFirstField, uint newFirstField, string whereSet);

        function getFirstField() public view returns (uint) {
            return firstField;
        }

        //Getter automatic from '

[2018-03-07 16:07] maraoz opened #3676 "Compiler crashes on a specific set of contracts"
Steps to reproduce:

1. Clone this repo, branch `factory`: https://github.com/maraoz/core/tree/factory/contracts
2. Install latest solidity: `npm i -g solc`
3. Compile the contracts: `solcjs --bin contracts/*.sol contracts/Factory.sol contracts/upgradeability/*`

Expected output: some high level error or more human-readable output.
Actual output:
[code]

[2018-03-07 16:48] wbt commented on #1565
Issue #3675 is related but not a duplicate.  The behavior I'd most expect, and which I think offers developers the best amount of flexibility, is for the compiler to behave as if the automatically-created getter were already there before considering inheritance, and then have that function in B override the one from A.

[2018-03-07 16:52] ksolo commented on #3584
I think so. I'll give it a shot and see what I can do. I'll start a PR early and may ask for feedback while it is still in progress.

[2018-03-07 17:13] #3539 closed, assigned to chriseth

[2018-03-07 17:40] axic commented on #3676
@maraoz can you pin point at least the file? That would help in finding the reason.

[2018-03-07 17:41] wbt commented on #3336
See also #3675.

[2018-03-07 17:46] maraoz commented on #3676
@axic what do you mean pin point the file? I'm not sure which contract is making the compiler crash. I was working on the `Factory.sol` contract when this started happening, but not entirely sure if that's the source of error.
The commands to reproduce the error are specified above. (i.e: `solcjs --bin contracts/*.sol contracts/Factory.sol contracts/upgradeability/*`)

[2018-03-07 17:49] maraoz commented on #3676
FWIW, `solcjs --bin contracts/*.sol contracts/upgradeability/*` also fails with the same error

[2018-03-07 17:50] axic commented on #3676
Well I guess we could add a debug line to see which contract it happens in.

[2018-03-07 18:01] axic commented on #3676
Tried compiling it and it works here with `solc` on latest `develop`. Can you try a nightly release from yesterday?

[2018-03-07 18:02] wbt commented on #3675
I disagree with the "disallow override" action proposed in the summaries of #1565 and #2563, though I do like the idea of providing warnings unless an explicit keyword (like `override`) is used.
Requiring explicit references (as in #2116) could help with the inconsistency in the third bullet point, in which the called method depends on parameter type and some code may or may not be accessible.

Al

[2018-03-07 18:08] axic commented on #3676
It compiles for me with `solc` from 0.4.20. Haven't tried `solcjs`.

[2018-03-07 18:32] maraoz commented on #3676
I'm having problems installing/running the v0.4.20 `solc` release. I'll report back when I sort it out.

FWIW, this commit fixes the crash for me:
https://github.com/maraoz/core/commit/5168b51a2f6ae3467bbee9fa44454757b705cb5b

[2018-03-07 19:17] wbt commented on #3675
The [official documentation](https://solidity.readthedocs.io/en/develop/contracts.html#overload-resolution-and-argument-matching) incorrectly says:

The behavior observed here (third bullet) show that resolution does not necessarily fail if there is more than one candidate.   The specific example given doesn't seem to work as described when the two functions are in different contracts and one inhe

[2018-03-07 19:25] JLansey commented on #3239
Just to add more info here, the new code transfers the highest bid instead of the contract balance.

[code]

[2018-03-07 20:56] fulldecent commented on #3514
Good point. In the Swift Evolution process, this would call for a manifesto. We could call it the Inheritance Manifesto. This would document what is going changing, the motivation and how to make the new behavior self-consistent.

If would like me to do this, maybe we could have a quick phone call. This will let me understand what type of end product would be accepted.

[2018-03-07 21:16] chriseth opened #3680 "Adjust gas parameter for precompiles, too"
Details: https://gitter.im/ethereum/solidity-dev?at=5aa04e7b8f1c77ef3a94d9c6

[2018-03-07 21:27] chriseth commented on #3178
Is there still something we can do or can this be closed?

[2018-03-07 21:34] axic commented on #3514
Well as a first step we should collect all the relevant issue numbers in one place. There are probably close to 10 issues talking about different facets of inheritance.

[2018-03-07 21:56] fulldecent commented on #3514
RUNNING TALLY:

- Solidity Issue #3412 -- Implement Interface: Allow Stricter Mutability. https://github.com/ethereum/solidity/issues/3412
- Solidity Issue #3419 -- Interfaces Can't Inherit. https://github.com/ethereum/solidity/issues/3419

- to add more

[2018-03-07 22:06] axic opened #3682 "Should default to external visibility for interfaces"
[code]

[2018-03-08 00:32] RorschachRev commented on #3178
Self destruct is the idea of making the blockchain have owner operated
garbage collection. I'd rather solve scalability and remove self destruct.

On Wed, Mar 7, 2018 at 2:27 PM, chriseth <notifications@github.com> wrote:

[2018-03-08 02:13] rjl493456442 commented on #3670
@axic We can invoke precompiled account by the method as chriseth said. But this call for solidity developer have high requirements, need to be completed by the bottom of the assembly instructions.

So if we can add the solidity builtin function(e.g. `ecrecover ` or `sha256`) as easy as adding a precompiled account, i think the dapp source code will be more elegant and more friendly to dapp develo

[2018-03-08 02:23] axic commented on #3670
Sorry I am still a bit unsure. It should be fairly easy to write libraries which interact with new "precompiles" via assembly instructions and then only use those high level libraries, such as:

[code]

[2018-03-08 06:44] chriseth commented on #3178
@RorschachRev I agree, and selfdestruct is even not properly incentivised, but this is an EVM issue and not too related to the high-level aspects of the language.

[2018-03-08 07:13] chriseth opened #3684 "CircleCI does not run on tags"
It seems we have to specify a tag filter explicitly: https://circleci.com/docs/2.0/workflows/#git-tag-job-execution

The filter should be something like `/^v.*/` (a similar filter already exists for travis).

[2018-03-08 08:27] chriseth commented on #3593
Build for 0.4.21 was successful, please reopen if it still does not work.

[2018-03-08 08:27] #3593 closed, assigned to nobody

[2018-03-08 08:33] chriseth commented on #2208
This has been fixed in the last few days.

[2018-03-08 08:33] #2208 closed, assigned to nobody

[2018-03-08 09:12] chriseth commented on #3618
@iikirilov the tl;dr is that user-defined types in the ABI are not named, because there is no way to make such names globally unique. ABI only knows anonymous tuples with named components. Solidity's structs are mapped to those, stripping off the identity of the struct.

[2018-03-08 09:13] chriseth commented on #3618
What would be your suggestion?

[2018-03-08 09:53] chriseth commented on #3271
The reason for this behaviour is that references to internal functions in the constructor always create an identifier for the creation-time and the run-time aspect of the function, because the function pointer might be stored in storage.

Currently, I cannot think of a nice way to resolve this issue. The simplest case of just directly calling the function can get rid of the runtime identifier, but

[2018-03-08 09:54] chriseth commented on #3271
Although, we already do something similar for library member access, I will give it a try.

[2018-03-08 11:21] veox opened #3687 "Computing gas stipend for calls to precompiles could use an underflow guard (post-Byzantium)"
Has been [brought up on /r/ethdev](https://www.reddit.com/r/ethdev/comments/82p78k/two_identical_arguments_for_function_call_one/); most relevant to `solc` is likely [this sub-thread](https://www.reddit.com/r/ethdev/comments/82p78k/two_identical_arguments_for_function_call_one/dvc8bbh/).

In short: when preparing for a `CALL` to a precompile (`ecrecover` in this case), the compiler generates code

[2018-03-08 12:24] chriseth commented on #3687
Duplicate of https://github.com/ethereum/solidity/issues/3680 :)

[2018-03-08 12:24] veox commented on #3687
X_X

Closing as duplicate.

[2018-03-08 12:25] chriseth commented on #3687
Actually this one has much more details :)

[2018-03-08 12:31] PhABC commented on #3680
Duplicate of #3687 ;P

[2018-03-08 12:32] chriseth opened #3688 "Take a look at comedy"
https://github.com/figs999/Ethereum/blob/master/Solc.aComedyInOneAct

[2018-03-08 12:39] veox commented on #3688
@figs999 - did you enable the optimiser for that program?..

-----

EDIT: Chris' [notes on /r/ethdev](https://www.reddit.com/r/ethdev/comments/82tc7h/solc_a_comedy_in_one_act/dvdel3r/). ("Need info".)

[2018-03-08 13:36] chriseth commented on #3688
Oh yeah, now I see where this is coming. The code generated for `x.push(y)` is basically equivalent to the code generated for `x.length++; x[x.length-1] = y;`, although it could be much more specific. The problem is the `x.length++` - this is just an arbitrary assignment to the length property, which can of course lead to way more different outcomes.

[2018-03-08 15:00] limexp opened #3689 "Confusing examples of types used for binary operators"
After operations the compiler implicitly performs type conversions which could lead to information lost.

If I sum two uint8 variables the result will be implicitly converted to uint8 despite the required result type.

Take a look at the [following contract](https://rinkeby.etherscan.io/address/0x6034913e5aed454efddcdefc82ed8148e75ba2c3):

[code]

Try to execute exp1(10, 3) or addN(200, 200).

Res

[2018-03-08 16:10] iikirilov commented on #3618
Correct me if I'm wrong, such user-defined names are unique to the contract. As suggested in #2899 an extra field with user-defined name could be used when generating the ABI.

What is the downside to adding a field to the ABI for such cases?

[2018-03-08 17:03] chriseth commented on #3688
#3690 should fix the problems with incrementing the size of the storage array, but the optimizer actually used to be able to combine multiple sstore operations to the same slot into a single one. We should investigate why this is no longer the case.

[2018-03-08 17:05] chriseth commented on #3688
Hm, 0.4.11 is still able to combine the sstore operations.

[2018-03-08 17:10] chriseth commented on #3688
I fear the "mark MLOAD to have side-effects in the optimizer" is the culprit. Why did it take half a year for someone to notice? Unfortunately, we did not have high-level performance tests for the optimizer, just low-level ones...

[2018-03-08 17:17] chriseth opened #3691 "Revisit how the optimizer handles MLOAD"
The fact that the optimizer treats MLOAD as having side-effects (which it does, it might modify MSIZE) removes any possibility for optimizing routines that concern both storage and memory.

We should revisit how MLOAD is handled by the optimizer. Previously, it was allowed to remove MLOAD operations if they are not required. Currently, MLOAD is treated as an operation that even breaks the CSE anal

[2018-03-08 17:26] veox commented on #3688
TBH, I did feel that "contracts have been getting more sluggish recently", but kept discarding that thought as "one of a grumpy old fart's".

[2018-03-08 17:31] chriseth commented on #3618
Yes, user-defined names are unique to the contract, but the contract name is not globally unique, it only gets globally unique for a compilation run if you prepend the full path to the source name.

[2018-03-08 17:33] chriseth commented on #3689
The documentation could be more specific by changing it to:

If an operator is applied to different types, the compiler tries to implicitly convert one of the operands to the type of the other (the same is true for assignments). **This means that operations are always performed in the type of one of the operands.** In general, an implicit conversion between value-types is possible if it makes sens

[2018-03-08 17:34] chriseth commented on #3689
Note that the paragraph says "an implicit conversion is possible" and not "is performed".

[2018-03-08 17:38] chriseth commented on #3675
@wbt I haven't read everything, but I think what is missing in the documentation is explaining how overloading and overriding interact.

[2018-03-08 17:51] chriseth commented on #3691
Actually I just noticed that `KECCAK256` is also not marked as having side effects.

[2018-03-08 17:54] chriseth commented on #3691
An easy solution to this would be to check whether the code makes use of `MSIZE`. If yes, tread `MLOAD` and `KECCAK` as having side-effects, otherwise not.

[2018-03-08 17:57] chriseth commented on #3691
There is one situation where `MSIZE` is used by Solidity: If a struct is created in memory, it is placed at `MSIZE` to be sure that the memory is zeroed out. It is probably much cheaper to explicitly write zeros to memory in all cases and not use msize and thus have the opportunity to optimize across mloads.

[2018-03-08 19:43] limexp commented on #3689
As I understand a bottom up approach is used now for types determination. The ideal solution could be the opposite one - taking the result type and convert all the expression to it.

Documentation changes could help a little. But I am afraid that most smart contract developers will never notice this compiler behaviour before they run into the problem.

Here is [another contract](https://rinkeby.et

[2018-03-08 20:15] figs999 commented on #3688
Hey Guys, glad you enjoyed my script. I actually did not anticipate that it contained anything that was actually an issue, and had assumed the unusual behaviors I poked fun at were being done because they were part of intentionally re-used op routines.

To answer your question about the optimizer, no, I don't believe so. But I recall running it with and without optimizer and that the operations we

[2018-03-08 23:54] AnthonyBroadCrawford commented on #3037
@axic I opened a PR here https://github.com/ethereum/solidity/pull/3754 for feedback.  The feature is functional but not ready for merge.  I simply wanted some eyes on a few of my decisions.  Once I have feedback I'll

1. Implement feedback
2. Squash down into a single commit
3. Update change log
4. Etc

Let me know what you think.

[2018-03-09 01:05] jeffwalsh opened #3695 "0.4.21 update breaks go-ethereum makeArgs function: "unrecognized option --add-std""
Hi. I install solc in Travis CI through the ppa and noticed my build was broken today. I updated solc locally and now find updating solc is the issue.

[code]

Trying to use the go-ethereum Solidity compiler results in this error now:

[code]

Which comes from the `Solidity.makeArgs()` function in `github.com/ethereum/go-ethereum/common/compiler`, which is used by my app indirectly via `compiler.C

[2018-03-09 01:43] axic commented on #3695
This actually was removed in 5ab4a1ae7819004415293bf72a86824beb43cd51, @chriseth we should have mentioned it in the changelog.

The actual feature was removed probably 15 releases ago, just the option was left for "backwards compatibility", but it didn't actually do anything.

@karalabe @holiman can that option be removed from go-ethereum?

[2018-03-09 04:24] AnthonyBroadCrawford opened #3696 "Confusing that solc waits for input on stdin if no files specified."
# Issue
When invoking solc with the compute gas flag `solc --gas` and you don't specify a contract solc will permanently hang.

## Steps to recreate

1. Invoke solc with the following command `solc --gas` and don't specify a file

## Specs

1. Mac OSX High Sierra
2. On develop branch

## Ideal solution
We should throw an error message informing the user to provide a file

[2018-03-09 04:46] redsquirrel commented on #3696
It's not hanging, it appears to be waiting for input from STDIN. If you type the following and then hit ^D, solc will proceed.
[code]

[2018-03-09 05:47] AnthonyBroadCrawford commented on #3696
@redsquirrel is that documented anywhere?  It may be worth putting a prompt when a file isn't passed along.

[2018-03-09 08:19] chriseth commented on #3688
@figs999 good that you didn't reply right away and I actually tried running the optimizer against it :)

Now saving the struct should again be just a single SSTORE. Unfortunately, we cannot remove the intermediate memory stores. The optimizer operates at a lower level and cannot detect whether memory will be used later or not, but I hope that a future optimizer might be able to do that.

[2018-03-09 09:39] iikirilov commented on #3618
Agreed, but I do not understand the why the added should be globally unique. An example encoding of what is proposed follows:

[code]
An extra field added like this for such cases would cause the swarm hash to change, which is essentially what happens when compiling the same contract with different version of Solidity anyway, so developers would expect this.

Apart from the fact that the ABI files

[2018-03-09 10:18] chriseth commented on #3618
@iikirilov you have a point, perhaps it is not too important that the names are unique. Could you explain how exactly you would use such information? We haven't really discussed that yet. Please also consider cases where users might be tricked into using the wrong struct. Furthermore, we should check what information an algorithm using the ABI information needs to know in addition to just the ABI

[2018-03-09 13:23] mrshoban commented on #2436
https://raw.githubusercontent.com/Tectract/ethereum-demo-tools/master/GeektSolidity/contracts/Geekt.sol

[2018-03-09 13:23] chriseth commented on #3584
Please create a pull request as soon as you have something, so we can help by commenting.

[2018-03-09 13:33] chriseth commented on #3514
@fulldecent I created a project https://github.com/ethereum/solidity/projects/9 - not sure if you can add items there, but if you tell me, I will add them.

[2018-03-09 13:37] chriseth opened #3698 "Clean up inheritance and overriding specification"
@fulldecent if you want, you can draft a specification here.

[2018-03-09 13:37] chriseth commented on #3514
Also created umbrella issue: https://github.com/ethereum/solidity/issues/3698

[2018-03-09 13:44] j-h-scheufen commented on #1290
As a side note to this ticket: To simulate the desired constant behavior until it's fully supported in the language I'm using a workaround via libraries:

[code]

To be frank, I actually don't know the cost of simulating constants via library functions, because you have an additional function on the callstack and memory every time you access it, but it does the trick and gives me what I need for m

[2018-03-09 13:55] redsquirrel commented on #3696
To me, it's just standard Unix behavior. Unless otherwise specified on the command line, a program will wait for STDIN. This allows for pipelining. For instance, type `ruby`, `cat`, or `wc` on the command line, and they will hang, waiting for input, and keep taking input until they receive an EOF character. Which means you can pipe streams into these programs, such as
[code]

[2018-03-09 13:58] #3680 closed, assigned to nobody

[2018-03-09 14:01] iikirilov commented on #3618
Web3j has a module to autogenerate smart-contract wrappers from smart contract ABI. One would type in terminal:
[code]
This creates a Java class representing their contract using [JavaPoet](https://github.com/square/javapoet). In our case, the generated constructs are typesafe so one could not possibly use the wrong struct. The class is used to interact with the the smart contract, including thing

[2018-03-09 14:11] chriseth commented on #3696
You can use `solc --bin -` to make it expect input on stdin explicitly, so we could actually remove this behaviour, but I don't know who relies on it.

[2018-03-09 15:44] chriseth commented on #3687
It turns out that this is already correct for byzantium VMs. So if you compile for pre-Tangerine Whistle and run it on pre-Tangerine Whistle, it works fine, if you compile for Tangerine Whistle and run it on Tangerine Whistle it is fine, the only problem is if you compile for pre-Tangerine Whistle and run it on Tangerine Whistle.

What we could do is implement a check if the gas computaiton wraps

[2018-03-09 16:26] ksolo commented on #3584
I ended up having a few things come up, but I do plan on working on this Sunday. I'll get a PR open ASAP and we'll go from there. Thank you for checking in on it!

[2018-03-09 17:18] veox commented on #3687
Somewhat OT:

@axic mentions in https://github.com/ethereum/solidity/pull/2673#issuecomment-319183436:

Is this worth re-considering?..

[2018-03-09 22:00] jeffwalsh commented on #3695
fixed in go-ethereum, leave issue open until they fix in others (ie: EthWorks/ethereum.rb) ?

[2018-03-09 23:33] Bobby416 opened #3700 "Out of Gas"
I cannot execute a simple function. MethodID: 0x23b872dd . The transfer from function is throwing out of gas errors in Remix. The error only occurs when I put a value in the uint256_value .

Function: transferFrom(address _from, address _to, uint256 _value) ***

MethodID: 0x23b872dd
[0]:  000000000000000000000000a214c5882ba1f28540d5b85b2883a
[1]:  00000000000000000000000000000000000000000000000000

[2018-03-10 00:41] PeterT11 opened #3701 "Not accurate"
Source:[https://github.com/ethereum/solidity/blob/develop/docs/contracts.rst#fallback-function](https://github.com/ethereum/solidity/blob/develop/docs/contracts.rst#fallback-function)
_Contract.rc: In such a context, there is usually very little gas available to the function call (to be precise, 2300 gas), so it is important to make fallback functions as cheap as possible._

I think here is confus

[2018-03-10 02:14] wjmelements commented on #3515
The best way to drop 5 elements at once is with a single SSTORE, subtracting 5 from the length. If length becomes read-only, we would need more builtins to restore lost functionality.

For example, this: https://gist.github.com/wjmelements/fab8c6961cff3dbd8715c7c55d29d660
Produces cheaper code than: https://gist.github.com/wjmelements/a949117a87305b17482d2f517aa1c6e7

I am in support of `truncate`

[2018-03-10 07:07] PeterT11 commented on #3700
Have you put "" with address_to?

[2018-03-10 07:10] Bobby416 commented on #3700
Yes

Sent from my iPhone

On Mar 10, 2018, at 1:07 AM, PeterT11 <notifications@github.com<mailto:notifications@github.com>> wrote:

Have you put "" with address_to?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/ethereum/solidity/issues/3700#issuecomment-372008934>, or mute the thread<https://github.com/notifications/un

[2018-03-10 12:11] roberto-butti commented on #2681
For files on github repo (not gist) I solved creating .gitattributes file and adding this line:
`*.sol linguist-language=Solidity`
I wrote a little post about this:
https://medium.com/@robertodev/solidity-and-github-42a3ca375618

[2018-03-10 16:43] quantumproducer commented on #3695
How did you install 0.4.21? I updated truffle and it's still on 4.19

[2018-03-10 16:48] quantumproducer opened #3703 "Improve suggestions around this. balance."
[code]

What does it mean "convert the contract to address" type? How do I get the address of `this`?

[2018-03-10 16:55] quantumproducer commented on #3703
From readthedocs:

[code]

[2018-03-11 01:30] axic commented on #3696
I'd be for the explicit `-`, but perhaps limit this to the 0.5.0 release?

[2018-03-12 01:30] ksolo commented on #3584
@chriseth I'm going through a quick c++ primer now and will have something for you to look at tonight.

[2018-03-12 09:16] chriseth commented on #3700
Please use ethereum.stackexchange.org for such questions. They will probably need your implementation of the function in order to help you. https://gitter.im/ethereum/solidity might also be helpful.

[2018-03-12 09:16] #3700 closed, assigned to nobody

[2018-03-12 09:38] codingthat commented on #2681
@roberto-butti That's true, that's what's already suggested [above in this thread](https://github.com/ethereum/solidity/issues/2681#issuecomment-356327070).  Hoping someone can comment on how to do this for gists, since they're embeddable, unlike repo files, as far as I know.

[2018-03-12 09:53] axic opened #3705 "Allow functions with the name matching the contract (0.6.0)"
Follow up of #3196.

With the introduction of the `constructor` keyword we are deprecating functions named the same as the contract. They will be rejected in 0.5.0.

After a while when the ecosystem has moved on, we could consider removing that extra corner case rejecting special function names (such as the one matching the contract name).

[2018-03-12 10:26] lastperson commented on #2109
Will result in that all multisig wallets and other contracts that use `address.call()` will not be able to interact with newly compiled contracts. Details: https://github.com/ethereum/solidity/issues/2884

[2018-03-12 10:31] chriseth commented on #3701
Thanks for your suggestion! We have changed the wording in the meantime. If you still think there is room for improvement, please either re-open the issue or create a pull request right away.

[2018-03-12 10:31] #3701 closed, assigned to nobody

[2018-03-12 10:36] #3443 closed, assigned to nobody

[2018-03-12 11:10] stevenroose commented on #1686
@chriseth So what is the time schedule for this to be implemented?

I just refactored all our contracts from throw to require, revert and assert following [this guide from ConsenSys](https://medium.com/blockchannel/the-use-of-revert-assert-and-require-in-solidity-and-the-new-revert-opcode-in-the-evm-1a3a7990e06e) and in there they seemed to imply that it would be supported once the syntax was roll

[2018-03-12 12:10] LefterisJP commented on #3695
Same issue with pyethereum. We had this option in there always on and just noticed it went missing through Raiden.

Please add it to the changelog so that it's easier to spot when choosing to upgrade.

[2018-03-12 13:03] chriseth commented on #3689
Indeed, the current approach is that the type of an expression or the resulting type of an operation can be determined by looking at the types of the operands only.

[2018-03-12 13:04] chriseth commented on #3689
In practice, though, I would say that people do not often use arithmetic types that are not 256 bits wide.

[2018-03-12 13:08] chriseth commented on #3618
Sure, Solidity is also type safe, but still, people could confuse two structs of the same name (but different namespaces). I'm fine with ignoring this potential point of confusion, though. If the compiler only specifies the name of the struct and not its full location, would your tool still be able to work with it?

[2018-03-12 13:32] ligi opened #3710 "suggestion: improve JSON ABI encoding"
currently the JSON is defined as a plain array of either an event or function - this works but is a bit suboptimal to parse with parsers like [moshi](https://github.com/square/moshi) which is very efficient and common in the Android space.
I would suggest a change to the following:

[code]

So one can easily parse from a given model which is not possible currently. Also it improves upgradeability.

[2018-03-12 13:43] chriseth opened #3711 "SMT: Check that short-circuiting is implemented correctly."

[2018-03-12 13:44] chriseth opened #3712 "[SMT] Storage variables of value type"
- [X] Bool, Integer, Address
- [x] Fixed-size array
- [x] Enum

[2018-03-12 13:59] chriseth commented on #3682
Since the function's scope is only set after the NameAndTypeResolution phase, its default visibility is only known at that point. While that is still before the TypeChecker needs the visibility, it might no be worth the hassle and thus we could just keep it like that.

[2018-03-12 14:00] chriseth commented on #3687
@veox this is the case with a post-TangerineWhistle VM.

[2018-03-12 14:03] chriseth commented on #3515
truncate is not constant, but extend can be. Still, we want to prevent constant-cost resizing operations to avoid people having gigantic arrays that might cause collisions in storage.

[2018-03-12 14:04] chriseth commented on #3515
@wjmelements the simple examples you gave should compile to exactly the same code if the optimizer is used.

[2018-03-12 14:08] chriseth commented on #3703
We should both improve the documentation and the suggested way to silence the warning.

[2018-03-12 14:09] chriseth commented on #3703
@quantumproducer you can use `address(this).balance`.

[2018-03-12 14:09] chriseth commented on #3696
I agree.

[2018-03-12 14:18] chriseth commented on #3705
Since compiling old code with a new compiler would not generate a warning but severely changes the semantics with security holes in practically any such contract, I would strongly advise against allowing that even in 5 years time.

[2018-03-12 14:23] chriseth commented on #2109
@lastperson we probably won't check for input being too long, only for being too short, so it should be fine.

The reason why we don't check for input being too long is that in order to do it properly (i.e. have a bijective decoding function), we also have to check whether there are no gaps between dynamically encoded data and that would be rather complicated.

[2018-03-12 14:26] chriseth commented on #1686
@stevenroose it is under review and will hopefully go with the next release.

[2018-03-12 14:53] chriseth commented on #3546
This has been fixed by #3549

[2018-03-12 14:53] #3546 closed, assigned to nobody

[2018-03-12 14:54] chriseth commented on #3414
Fixed by #3549

[2018-03-12 14:54] #3414 closed, assigned to nobody

[2018-03-12 14:55] chriseth commented on #3516
Will be fixed by https://github.com/ethereum/solidity/pull/3308

[2018-03-12 16:16] jeffwalsh commented on #3695
@quantumproducer I installed directly through apt on Ubuntu by adding the ethereum/ethereum PPA.

[2018-03-12 19:36] leonardoalt commented on #3711
I tried the code you wrote in the PR

and the solver does set `x` to `true`:
[code]
So we do need to fix the code if we want the second argument to depend on the first one failing.

[2018-03-12 19:40] leonardoalt commented on #3625
The fix is in `z3`'s `master` branch.

[2018-03-13 01:18] wjmelements commented on #3515
It's not the same code; with initial nonzero length, the first `sponsor` costs `128575` while the second `sponsor` costs `149929`. I suspect 20000 of that difference is four unnecessary SSTOREs on the length.

(compiled with optimization on 0.4.21+commit.dfe3193c.Emscripten.clang)

I would welcome the compiler performing such optimizations but at the moment it does not.

[2018-03-13 01:40] wjmelements commented on #3515
Collisions are a [birthday problem](https://en.wikipedia.org/wiki/Birthday_problem), and not especially more likely with medium-sized arrays than with small ones. Very-large arrays are different of course.

[code]

Higher gas costs are not a great way to protect against this. To protect devs from overextending I suggest adding a warning for nonconstant array extensions, and for constant array exte

[2018-03-13 07:12] comeonbuddy commented on #2948
according to the answer in the url https://github.com/ethereum/remix-ide/issues/920#issuecomment-348069589 which is

[code]

But it is not returning the whole list of array tho, it is taking in an uint and output a specific struct, similar to array[unit]?

[2018-03-13 07:59] ted-hanson opened #3715 "Ability to make HTTP requests w/ cached response for future replayability in the blockchain"
Just want to get thoughts on the idea and bring up some discussion.

[2018-03-13 08:45] jtakalai commented on #3314
So... what's the resolution on how tuple assignments are done in the future? Instead of
[code]
we'd have to first introduce the types like so:
[code]
I don't see how that is an improvement.

[2018-03-13 08:45] jtakalai commented on #3301
So... what's the resolution on how tuple assignments are done in the future? Instead of
[code]
we'd have to first introduce the types like so:
[code]
I don't see how that is an improvement. Even the following would be neat enough:
[code]

[2018-03-13 09:05] chriseth commented on #3715
Sorry, but I don't really understand. How does Solidity relate to HTTP? Is this the right repository for this issue?

[2018-03-13 09:10] chriseth opened #3716 "Optimizer cannot delay writes to `length` when adding multiple elements"
Code of the form
[code]
has 6 `sstore` instructions. It should be possible to remove the two intermediate `sstore`s that increment the length. This is currently not done, since the optimizer also takes into account the case where the data area of an array overlaps with the slot that stores the length. Because of that, it always has to re-fetch the length after the data has been stored.

We can 'fi

[2018-03-13 09:10] chriseth commented on #3515
@wjmelements I think that calling it a birthday problem might be misleading, since in the traditional birthday problem, you have two random variables that collide. Here, you have two (pseudo)random variables, but can apply offsets. These offsets make it much easier to find collisions, since you don't really have to search.

Curiously, the reason why the optimizer does not reduce both versions to t

[2018-03-13 09:21] chriseth commented on #3716
Some thoughts on how (2) might be done:

push is roughly implemented in the following way:
[code]

The inlined code for `x.push(1); x.push(2)` would be something like

[code]

The version optimized according to (2) would be

[code]

[2018-03-13 09:41] drandreaskrueger commented on #716
Did I ever say thank you?

Here you go: Thank you! Well done.

[2018-03-13 10:33] ekpyron opened #3717 "Update version pragmas in documentation for constructors."
Update >0.4.21 to ^0.4.22 in doc/contracts.rst (lines 43 and 986), as well as in std/StandardToken.sol and std/owned.sol.

Only applicable if #3635 is merged.

[2018-03-13 10:37] chriseth commented on #3698
I think we should have the following minimum requirements:

Functions being present in super contracts cannot somehow disappear through adding a sub contract.

This means, the visibility can for example change from external to public, but not from public to external or from external to internal.

I would say that any other such change is allowed. It is also allowed to restrict the state mutability

[2018-03-13 10:41] chriseth commented on #3698
Interfaces should be allowed to inherit from interfaces.

[2018-03-13 10:45] chriseth commented on #3041
This should be a duplicate of https://github.com/ethereum/solidity/issues/72

[2018-03-13 13:12] wjmelements opened #3718 "Heisenbug - sigsegv when using --ast"
Solidity has had a bug for a long time on MacOS that only occurs in release builds and is related to the move constructor or move-assignment operator of `std::map`. It might be related to some versions of the standard library only and migth also occur only for certain versions of the compiler. This bug report is one instance of it.

----
Original description:

Just about every contract I have trie

[2018-03-13 13:18] wjmelements commented on #3718
Trying on 0.4.21

[2018-03-13 13:22] wjmelements commented on #3718
I have confirmed it still happens on 0.4.21.

[code]

[2018-03-13 15:03] chriseth commented on #3413
This is not a bug: The metadata is at the end of the runtime bytecode, not at the end of the creation time bytecode:
[code]

[2018-03-13 15:03] #3413 closed, assigned to chriseth

[2018-03-13 15:05] chriseth commented on #2764
This has been fixed by #3549

[2018-03-13 15:05] #2764 closed, assigned to nobody

[2018-03-13 16:03] chriseth commented on #2739
This was partly intentional. Libraries are seen as implicit base contracts. Since external functions are not visible in derived contracts, external functions cannot be called like that.

Do we want to change that?

In the end, the analogy does not go that far anyway, since calling a function of a base contract will not perform copies in memory while copies are always performed when calling library

[2018-03-13 16:16] chriseth opened #3723 "Invalid file given for syntax tests"
The syntax tests create the following report:
[code]

This looks like an invalid pointer to what is supposed to contain the file name.

[2018-03-13 16:36] chriseth commented on #3187
This has been fixed with #3549

[2018-03-13 16:36] #3187 closed, assigned to nobody

[2018-03-13 16:40] chriseth commented on #3481
Please re-open if you think any change to the compiler is necessary.

[2018-03-13 16:40] #3481 closed, assigned to nobody

[2018-03-13 16:42] chriseth commented on #3400
Please re-open if the problem persists.

[2018-03-13 16:42] #3400 closed, assigned to nobody

[2018-03-13 16:44] chriseth commented on #2908
This might be fixed by #3693 , but we should check.

[2018-03-13 16:45] chriseth commented on #2894
Closing due to inactivity and since it is not clear whether this is a problem or not.

[2018-03-13 16:45] #2894 closed, assigned to nobody

[2018-03-13 16:46] ekpyron commented on #3723
Where does this happen?

[2018-03-13 16:48] chriseth commented on #3723
The quote above is from a file generated via `--logger=JUNIT,test_suite,report.xml` (this is automatically done on circle).

[2018-03-13 16:50] ekpyron commented on #3723
OK, I can reproduce now (``soltest -t syntax* -l all -- -- testpath ./test``).

[2018-03-13 17:09] ted-hanson commented on #3715
Should this be more directed toward the EVM? I can see a lot of value saving the state of an HTTP request in an Ethereum block and using the values in some way to calculate something.

[2018-03-13 17:21] chriseth commented on #3715
The abstracted Ethereum Virtual Machine cannot initiate or even sustain HTTP requests. Please open a question at https://ethereum.stackexchange.com and perhaps read https://ethereum.stackexchange.com/questions/2/how-can-an-ethereum-contract-get-data-from-a-website

If you are serious with such changes, you should consider opening an EIP at https://github.com/ethereum/EIPs.

The Solidity repository

[2018-03-13 17:21] #3715 closed, assigned to nobody

[2018-03-13 17:35] ted-hanson commented on #3715
perfect thanks

[2018-03-13 18:08] ekpyron commented on #3718
@wjmelements Can you give us more information about your setup? OS version, C++ compiler version used to build solc, etc.? So far I cannot reproduce your issue.

[2018-03-13 18:43] #3723 closed, assigned to ekpyron

[2018-03-13 19:44] fulldecent commented on #3698
My understanding is that

logically follows from

and does on not provide any further prescription.

---

Just to clarify, currently all functions are called with dynamic dispatch.

---

Regarding private functions, I am not sure what the best solution is. Currently we have overrideable with dynamic dispatch.

[code]

Another option is no overrides and no dynamic dispatch. As in local declaration.

[2018-03-13 19:50] namreg opened #3727 "Dynamic arrays in mappings"
I have the following contract:
[code]
I call method `becomeReferral` multiple times from different accounts specifying the same `referrer` address. Then I call `getReferrals` from referrer address and it returns empty array. It is possible use dynamic arrays in mappings? Documentation says `_ValueType can actually be any type, including mappings`.
What am I doing wrong? Thanks.

[2018-03-14 00:49] fulldecent commented on #3698
We should specify that natspec is inherited.

[code]

Here, the `supportsInterface` should get the natspec.

[2018-03-14 04:50] OTTTO commented on #3698
Interfaces should allow enum definitions.
[code]

[2018-03-14 06:23] hilbert25 opened #3728 "Docstring parser cannot cope with empty description for parameter"
[code]
DocstringParsingError: Documented parameter "id
" not found in the parameter list of the function.

Why the compiler can not find parameter id?

[2018-03-14 08:31] chriseth commented on #3727
You get an empty array because `referrals[msg.sender]` (in `getReferrals`) and `referrals[referrer]` (in `becomeReferral`) are only the same array if `msg.sender` and `referrer` hold the same value.

Closing this because it is neither a bug nor a feature request. If you have further questions, please either ask in https://gitter.im/ethereum/solidity or https://ethereum.stackexchange.com/

[2018-03-14 08:31] #3727 closed, assigned to nobody

[2018-03-14 08:35] chriseth commented on #3698
Ok, I already see that this is not the right way to discuss :)
I will create  pull request to the documentation.

[2018-03-14 08:36] chriseth commented on #3728
It seems the parser is confused if you do not provide a description.

[2018-03-14 08:38] chriseth commented on #3728
Minimal example:
[code]

[2018-03-14 08:42] pirapira commented on #3698
@OTTTO that idea is for a separate GitHub issue.

[2018-03-14 09:19] chriseth commented on #3698
Ok, I created a pull request https://github.com/ethereum/solidity/pull/3729 - let's continue discussing there. @OTTTO I included your suggestion in the PR.

@fulldecent I think I addressed all your comments except for the one about private functions. Are private functions actually used that much? If we allow ``private`` functions to be "re-defined" in derived contracts, it might lead to confusion.

[2018-03-14 09:23] chriseth commented on #3698
Closing this, please continue the discussion on #3729

[2018-03-14 09:23] #3698 closed, assigned to nobody

[2018-03-14 10:15] hilbert25 commented on #3728
@chriseth  while……
DocstringParsingError: End of param name not found: id

[2018-03-14 10:16] tappoz opened #3732 "Not able to install solc via snap on debian 9"
# Steps to reproduce this

Install `snap` on debian: `$ sudo apt install snapd`

Then install `solc`:
[code]

Then I can not recall `solc` from my command line, not even after a reboot.

# Context information

## Check the directory structure of `snap` / `solc`
[code]

[code]

[code]

## Try to run `solc`
[code]

## Debian details

[code]

## Details on the installation process

I have followed th

[2018-03-14 10:26] minhtrih opened #3733 "This looks like an address but has an invalid checksum. If this is not used as an address, please prepend '00'."
I use Mist, Rinkeby testnet to deploy my code
I have a problem with address _to
Should and How I code to check address ?

`pragma solidity ^0.4.15;

contract WithdrawalFunds {
    //account.value = account.value - amount
    //otherAcc += total
    address public mainAcc;
    uint public etherAcc = 0;

    address Address = 0x9dae7bf014e83fdb2fd11a3ed99e775f58b256d9;

    //check account
    modif

[2018-03-14 11:13] iikirilov commented on #3618
Yes, we do not need the full location for our use case.

I do see the potential for confusion now. Let us consider the following case:
1. Library A with struct W
2. Library B with struct X
3. Contract C with struct Y which imports Libraries A and B
4. Contract D with struct Z,
where the name of W, X, Y, Z is `MyStruct`.

The ABI of A and B is empty as they are libraries.

The ABI of C will include

[2018-03-14 11:28] chriseth commented on #3732
@elopio could you help here, please? You [added libz3-dev to snap](https://github.com/ethereum/solidity/pull/2790), but somehow it does not seem to be used - perhaps we also need a dependency on the runtime version of the library?

[2018-03-14 12:11] wjmelements commented on #3718
[code]

[2018-03-14 12:12] wjmelements commented on #3718
[code]

[2018-03-14 15:21] #3728 closed, assigned to ekpyron

[2018-03-14 15:31] fulldecent commented on #3698
I have reviewed all my notes here and they are handled or reiterated in the new PR.

[2018-03-14 16:20] #2104 closed, assigned to chriseth

[2018-03-14 17:03] axic commented on #2739
I think we should just clean the inheritance rules, for libraries too. I'd consider actually prefer going back to the original proposals you didn't like when libraries were introduced: separating the visibility and the inlining aspect of `internal`. The visibility shows what are internal to the library implementation and what aren't, while inlining just shows inlining. In that sense *only* `extern

[2018-03-14 17:04] #2977 closed, assigned to chriseth

[2018-03-14 17:08] #2739 closed, assigned to chriseth

[2018-03-14 17:19] erak commented on #3718
@wjmelements Thanks! Would it be possible for to update your XCode version to 9.0.0 and then try to reproduce again? That's the only obvious difference between your and my setup, and I couldn't reproduce this issue so far.

[2018-03-14 18:15] come-maiz commented on #3732
@tappoz can you please try running `/snap/bin/solc`?

[2018-03-14 20:23] figs999 commented on #3688
What about adding a new restricted struct type, similar to the stack-only method I used in [my "virtual struct" example](https://github.com/figs999/Ethereum/blob/master/VirtualStruct.sol)?

I imagine that that would reduce the overhead when dealing with <=32byte structures. Unless of course you believe the gas differential I found is the result of the issues that you are already working on, and no

[2018-03-14 20:56] skilesare opened #3736 "Add Storage Keys to ABI"
I've run across a couple of times where I've wanted to monkey around with the internals of a contract or intercept things as they are running in a VM.  One issue I keep running into is that there is not an easy way to know which key a solidity storage var is stored at.  This would be a fantastic thing to have in the ABI or in some other output of the compiler.  I would assume there is already some

[2018-03-14 22:10] ekpyron commented on #3625
What do you think about adding a (generous) timeout for SMT solvers in general? In my experience SMT solvers can easily (virtually or actually) take forever and I think a solver error reporting a timeout might be much more helpful than checks that (seemingly or actually) run forever in such cases...

[2018-03-14 22:21] VoR0220 commented on #3198
@chriseth what is a "wildcard function" in this instance?

[2018-03-14 22:30] VoR0220 commented on #3736
@skilesare there is a "dump state" method for each contract if you look on the client and can usually parse down for that. This gets you the current state of an address on a client. You *can* parse it down from there, but remember that this is fairly out in the open.

[2018-03-14 23:05] skilesare commented on #3736
Good to know.  I'm not so much interested in the current state as sometimes I'm trying to build the state manually using a state manager so I need to know what key to use.

For example: I'm sideloading a contract into ethereurmjs-vm and I've put the contract code using putContractCode and now I need to set the owner in storage so I call putContractStorage(address, key, value).  How do I know what