[2020-01-16 18:08] #8021 closed, assigned to chriseth

[2020-01-16 18:33] #7314 closed, assigned to ekpyron

[2020-01-17 12:31] ekpyron commented on #4758
To discuss: who needs the legacy AST? Is it still used? Do we want to or can we stage it for removal in 0.7.0?

[2020-01-17 13:39] ekpyron commented on #8127
This is also the case for
* `0.4.13`
* `0.1.3`
* `0.1.2`
* `0.1.1`

For the last two I can't find a corrected commit hash, but for `0.4.13` and `0.1.3` it's also just a missing zero.
I'll fix `0.5.14`, `0.4.13` and `0.1.3` in solc-bin, but we still have to fix our upload script - the issue can be expected to happen once in every 16 releases...

[2020-01-17 13:44] ekpyron commented on #8127
Wait a second... https://github.com/ethereum/solidity/pull/1074 explicitly changed the upload script to **remove** those leading zeroes... and there's a comment in the script about semver compatibility... so I think I'm not touching this for now, until this is clarified.

[2020-01-17 14:23] ekpyron opened #8166 "Merge the rule list back together"
https://github.com/ethereum/solidity/pull/7843 most probably made the rule list split hack obsolete - we should verify that and can potentially merge the rule list back together.

[2020-01-19 04:32] 3esmit commented on #8160
I tried to solve the problem with library and struct, however its really hard to came with a better solution.

The problem is that EIP 1271 is a contract call and can have an arbitrary lenght signature, and needs to know the message being signed to be validated.

The best design would be less efficient then what GnosisSafe have because GnosisSafe decodes and verifies in the same loop, while using

[2020-01-19 20:50] amolsr opened #8167 "Unable to update request shippingCost, Courier, status."

[2020-01-19 20:56] #8167 closed, assigned to nobody

[2020-01-20 10:50] Rafagalanlopez opened #8170 "Problem with create2 & linked library"
## Description
There seems to be a bug with the **create2** operation: whenever I try to deploy any contract with **linked libraries**, the EVM reverts the operation.
I've double checked that the bytecode I'm deploying is correct; I just took it from the contract's bytecode deployed on rinkeby through truffle previously linking the library to the Smartcontract like so:
[code]
( https://rinkeby.eth

[2020-01-20 10:54] Aniket-Engg opened #8171 "Legacy Assembly refers to comments in the code"
## Description

On compiling this contract on remix:
[code]
in compilation details, assembly is pointing comments:

[code]

## Environment

- Compiler version: 0.4.24 & 0.6.1
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): Remix

I think this needs a look.

[2020-01-20 11:26] chriseth commented on #8157
General feeling is that this is a good idea but is a breaking changes, so moving to 0.7.0.

[2020-01-20 11:30] chriseth commented on #8171
Legacy assembly is phased out, but this looks like source locations are wrong in general.

[2020-01-20 11:32] #7803 closed, assigned to bshastry

[2020-01-20 11:38] #7028 closed, assigned to nobody

[2020-01-20 13:46] Aniket-Engg commented on #8171
Just to add, This field https://github.com/ethereum/solc-js/blob/master/translate.js#L115 is used here https://github.com/ethereum/remix-ide/blob/master/src/app/tabs/compileTab/contractParser.js#L46 to display that assembly

[2020-01-20 16:36] #8156 closed, assigned to nobody

[2020-01-21 09:58] #4032 closed, assigned to nobody

[2020-01-21 10:20] #7840 closed, assigned to nobody

[2020-01-21 11:03] axic commented on #3124
@chriseth is this still relevant? The yul optimizer should do this already.

[2020-01-21 12:46] chriseth commented on #3835
To simplify the implementation, I would say that immutable variables cannot be read in the construction context and they can only be written to once. This includes direct assignment at the point of definition (`immutable address me = address(this)`).

It might still be a bit tricky to determine these, so maybe we can even strengthen that to: immutable variables can only be written to in the constr

[2020-01-21 12:55] leonardoalt commented on #4285
I think this should still be discussed in a call instead of during a design round.

[2020-01-21 13:06] axic commented on #4285
@leonardoalt are you suggesting the dreaded "to discuss" label?

[2020-01-21 13:08] leonardoalt commented on #4285
Yes. Was it ever decided whether we want to do this or not?

[2020-01-21 13:15] axic commented on #4285
Oh its actually marked to discuss already :)

[2020-01-21 13:18] chriseth commented on #3124
Not at all. The optimizer does not even remove redundant stores.

[2020-01-21 13:54] leonardoalt commented on #8146
Current proposal:
Add a debug flag to not codegen assert/require.
Return error if flag is active but assert/require has side-effects.

[2020-01-21 14:00] leonardoalt commented on #7260
Eventually (hopefully soon) ABIEncoderV2 will be the default and the current default one removed. Regarding encoding/decoding, should this then be done only for ABIEncoderV2?

[2020-01-22 07:13] MicahZoltu commented on #7260
Is the cost of the revert string in contract size or runtime gas costs?  If runtime gas costs, is the cost only if the reversion happens, or do you have to pay the cost even if the revert isn't hit (for example, does `require(true, "reason")` cost the same amount to execute as `require(true)`?

[2020-01-22 09:40] chriseth commented on #7260
@MicahZoltu I don't think this feature will be used in production. The costs are mostly bytecode size, i.e. deploy-time costs.

[2020-01-22 09:41] chriseth commented on #7260
@leonardoalt this is also about division by zero and others. If it is too complicated to implement, it is fine to only do abiv2

[2020-01-22 10:54] leonardoalt commented on #7260
It's not too complicated, but definitely more work, so wanted to check before

[2020-01-22 12:23] MicahZoltu commented on #7260
@chriseth I definitely would use `debug` mode in production.  Troubleshooting end-user errors with no useful messages is a _huge_ pain.  Deployment costs are almost always insignificant to me, what I care about is runtime costs.

[2020-01-22 19:10] #3419 closed, assigned to nobody

[2020-01-22 19:21] chriseth commented on #7260
@MicahZoltu ok, fair point! We should still ensure that the messages are not unnecessarily long.

[2020-01-22 20:08] Droopy78 opened #8180 "address(this).balance does not work starting in Solidity 0.5.14"
## Description

Starting in Solidity 0.5.14, address(this).balance results in "invalid opcode".

See code below. Can quickly test this in Remix:

Call getContractBalance() --> **does not work**
Call getContractBalance2() --> **works**

[code]
In Solidity version 0.5.13, both functions above work correctly.

[2020-01-22 20:35] axic commented on #8180
You need to select Istanbul as EVM version on Remix (for execution). Or change the compilation target on Solidity for something before Istanbul.

[2020-01-22 20:49] mesozoic-technology commented on #2469
Have there been any moves on this since?

[2020-01-22 23:10] ligi commented on #8109
thought vyper must also support this - but seems it is not the case. Anyway it would make it more robust in the future when other compilers start supporting it. But has low priority - was just noting in the chat that I felt it is missing when writing a parser for the metadata and saw there is a version - but no explicit "version of what"? Only an implicit - "yea it *should* be solc"

[2020-01-22 23:15] wjmelements commented on #3835
I agree, though I hope to see that functionality in the long-run. Until then it should be easy enough to substitute stack variables or calldata for that purpose.

Illustration:

[code]

[2020-01-22 23:25] axic commented on #8109
There is the `language` field, isn't it?

[2020-01-22 23:47] Droopy78 commented on #8180
Thank you! Yes this is the reason. I am still using the old Remix interface, which doesn't seem to give the option to switch EVM versions. It's unfortunate it doesn't at least default to the correct EVM version to match the compiled version.

I switched to the new Remix interface and it gives you the option to either use the default EVM version or choose the EVM version. Choosing either "Default"

[2020-01-22 23:47] #8180 closed, assigned to nobody

[2020-01-23 06:03] fulldecent commented on #3835
Sorry I was way off in my explanation above. Thanks for the correction.

Same conclusion though, `immutable` must be `pure`. If an `immutable` causes an `SLOAD` (which just got a lot more expensive) then we are doing little of value here.

# @chriseth / "called from the constructor"

I think this is easy — any use of the `immutable` RVALUE from functions is compiled to `0xfe` in the construction c

[2020-01-23 09:04] chriseth commented on #3835
@wjmelements @fulldecent sorry, to clarify: In my comment above I was talking about the first implementation, we will improve on that later. But for now, this is what we an do as a reasonable first step.

@fulldecent Why do you think `address immutable me = address(this)` should not be allowed in the contract context?

Directly copying to all locations in code where it is used sounds like a very g

[2020-01-23 13:09] erak opened #8185 "Display errors when ASTImportTest.sh is not run by CI"
Running `scripts/ASTImportTest.sh` does not display potential errors because they are being sent to `/dev/null`. Having a variable that can be set by a human (in contrast to CI) which prevents this would be beneficial.

[2020-01-23 14:04] PhABC opened #8186 "Allow Dev to sort Function Lookups Manually instead of by Ascending Order"
## Abstract

Currently, the function lookup when calling a contract is organized by sorting the function signature in ascending order. This may not be optimal as the most used function could happen to be at the end of the lookup, potentially adding 100-1000 additional gas for every call. Users should have a mean to tell the compiler the order in which functions are expected to be most used, from m

[2020-01-23 14:23] Marenz commented on #526
This issue can be re-visited now that #8177 is almost merged

[2020-01-23 14:23] chriseth commented on #7891
It seems this is not too annoying for users after all.

[2020-01-23 14:25] #5496 closed, assigned to nobody

[2020-01-23 14:34] leonardoalt commented on #8186
I think 2. makes sense. Providing a full sorted list of functions would be tough considering large hierarchies.

[2020-01-23 14:48] chriseth commented on #8186
I would actually prefer the "runs" option, because it can be used for other optimizer decisions as well.
It could even be used to decide whether a binary search should be used at all or just for some functions.

[2020-01-23 14:50] chriseth commented on #526
It will be almost the same problem. But we should add a test, actually!

[2020-01-23 14:56] axic commented on #8186
A relevant discussion is #4858, #6234 and #1289.

https://github.com/ethereum/solidity/issues/4858#issuecomment-415744724 proposes option 2.

[2020-01-23 15:00] chriseth commented on #8170
Can you explain which value you used for `code` and how you obtained it?

[2020-01-23 15:05] chriseth commented on #8170
Hm, the etherscan debugger seems to be a bit broken, but it looks like you are not supplying the creation code but the deployed code instead - might that be the problem?

[2020-01-23 15:30] Rafagalanlopez commented on #8170
Thanks for the quick response!

Yes, it is the deployedBytecode the one I'm using. As far as I know, since the constructor is empty, both bytecodes should be the shame right?. Besides, if the bytecode passed on to the "deploy" function shouln't be the deployedBytecode, how could I deploy a contract with a non-empty contructor?

I updated the issue description to include how the bytecodes(deployed)

[2020-01-23 15:39] chriseth commented on #8170
The compiler adds more code to the constructor than is visible in the source file. Most essentially, the constructor has to return the deployed bytecode.

Thanks for your patience, my response was anything than quick ;)

[2020-01-23 17:05] recmo commented on #8186
Notice that the current behaviour of linear scan and the proposed binary search are both instances of a binary tree. The comparisons are nodes and functions are leaves. The linear scan is completely unbalanced (i.e. every left node is a leaf). The binary search approximates a balanced tree (and is one for power of two number of leafs).

But there are many more shapes for binary trees, and a Huffma

[2020-01-23 19:00] fulldecent commented on #3835
The only usable one that would be your example:

[code]

But actually that is not very helpful because `address(this)` is already available.

In general, there are two other ways to use contract context:

[code]

Entirely useless because that could be constant.

And lastly the only other way is:

[code]

This last example has a risk that it is misunderstood. A programmer may think that the *curren

[2020-01-23 20:21] chriseth commented on #8170
I'm very certain now, that you were using the wrong bytecode. Please reopen if you still think this might be a compiler bug.

[2020-01-23 20:21] #8170 closed, assigned to nobody

[2020-01-23 20:21] chriseth commented on #8147
The alternative is fully implemented now.

[2020-01-23 20:22] chriseth commented on #8141
@nventuro do you want to have a call about this?

[2020-01-23 20:30] nventuro opened #8188 "Usage of libraries is inherited"
Today I stumbled with a strange scenario that I did not expect to work, yet it does: contracts that inherit from parents with a `using` statement can also use the same library in that manner.

Consider the following contracts:
[code]

Note that `B` could even exist on a separate source file, which would make the code all that more cryptic - it's probably not very hard to introduce a backdoor using

[2020-01-23 20:31] nventuro commented on #8188
From the [documentation](https://solidity.readthedocs.io/en/v0.6.1/contracts.html#using-for):

[2020-01-23 20:34] nventuro commented on #8141
I'd love to! We're discussing how to best handle migrating the OpenZeppelin Contracts library to 0.6 in https://github.com/OpenZeppelin/openzeppelin-contracts/pull/2063, and a key consideration is how to reduce the number of errors on diamond inheritance scenarios, and how to instruct users on what needs to be done when this happens.

I have a lot of availability these days, so just send one or tw

[2020-01-23 22:28] chriseth commented on #2136
Implemented in #8177

[2020-01-23 22:28] #2136 closed, assigned to Marenz

[2020-01-23 22:39] chriseth commented on #8188
The code explicitly traverses all contracts in the inheritance hierarchy, so it is probably not a bug. "within the current contract" does not explicitly rule out derived contracts for me, although this should certainly be clarified in the documentation.

[2020-01-23 22:47] nventuro commented on #8188
As a regular user, I was _very_ surprised by that behavior. I'd suggest emitting a warning on such cases, and disallowing it entirely on 0.7.x.

[2020-01-23 23:23] chriseth commented on #242
This has been stale for a very long time, and I think #3835 will get very near to this. closing.

[2020-01-23 23:23] #242 closed, assigned to nobody

[2020-01-23 23:31] chriseth commented on #463
Closing after #5424

[2020-01-23 23:31] #463 closed, assigned to nobody

[2020-01-23 23:33] chriseth commented on #414
We added `.pop` a long time ago.

[2020-01-23 23:33] #414 closed, assigned to nobody

[2020-01-23 23:35] chriseth commented on #842
This is well-enough automated now. It currently has the benefit that you do not have to store the access keys on a cloud system.

[2020-01-23 23:35] #842 closed, assigned to nobody

[2020-01-23 23:41] chriseth commented on #1535
The `@`-syntax was never added.

[2020-01-23 23:41] #1535 closed, assigned to nobody

[2020-01-23 23:43] chriseth commented on #1236
Initial version implemented in https://github.com/ethereum/solidity/pull/7589

[2020-01-23 23:43] #1236 closed, assigned to nobody

[2020-01-23 23:45] chriseth commented on #1172
This can now be accomplished by external tools through the ast export / import.

[2020-01-23 23:45] #1172 closed, assigned to nobody

[2020-01-23 23:47] chriseth commented on #1356
Closing in favour of yul-based optimization.

[2020-01-23 23:47] #1356 closed, assigned to chriseth

[2020-01-23 23:51] chriseth commented on #2131
Ticked some more boxes. The only thing missing is type checking. Do we really need to keep this open for that, @axic?

[2020-01-23 23:52] chriseth commented on #1818
We have a pretty good understanding now of how inline assembly interfaces with IR code in yul, so I'm closing this.

[2020-01-23 23:52] #1818 closed, assigned to nobody

[2020-01-24 00:03] chriseth commented on #6837
Closing as having a too large cost/benefit ratio.

[2020-01-24 00:03] #6837 closed, assigned to nobody

[2020-01-24 00:04] #6752 closed, assigned to nobody

[2020-01-24 00:10] ethernian commented on #8160
Personally, I would like to see the `appended signatures` natively supported in solidity, because it could be really convenient for generalized Meta-Tx support (which is damn important!).

Nevertheless, I do also understand @chriseth who is reasonably cautious implementing on solidity level (I hope understood him correctly) any ERC which is not widely used, probably incomplete and can change later

[2020-01-24 02:59] 3esmit commented on #8160
I think would be good for Solidity adopt a signature type, because we have a lot of fragmentation on how signature are dealt with.

By introducing a signature native type, Solidity won't loose flexibility, because all what is currently being done would be still possible.
However, this "Signature" type would unify the developers into this solution, as it would support all that is needed for Ethereu

[2020-01-24 04:20] 3esmit commented on #8160
@ethernian This is where I stopped, this is far from ideal design, but I am trying to abstract things in solidity capabilities...  Also, I am experimenting with differnt things, like using Signature datatype in EIP1271, but maybe you have a better idea...

I will keep looking around this issue but enough is enough, for now :)...

[code]

[2020-01-24 10:00] elenadimitrova commented on #319
When reading this I think about Merkle proofs and associated challenge-response protocol. Is this what you had in mind?

[2020-01-24 10:10] chriseth commented on #319
I think this was something that later turned into TrueBit. Maybe we can close it?

[2020-01-24 10:35] elenadimitrova commented on #6134
When searching for keywords and include the Solidity version number you're using, search engines returns better results and looking at the Sphinx documentation the most we could do is [show a warning when not looking at the latest version](https://docs.readthedocs.io/en/stable/versions.html#version-warning).

We could be more particular with results in https://ethsear.ch/ perhaps, @jrhea?

[2020-01-24 10:45] chriseth commented on #6134
Readthedocs already shows the version warning.

[2020-01-24 11:04] elenadimitrova commented on #319
This pattern is used in many places including the Colony Network protocol, The Matic Network etc. but I think it sits at a higher level than the Solidity documentation itself, perhaps as an EIP standard. We should close it here.

[2020-01-24 13:17] yozaam commented on #8020
Hello
I'm a smart contract developer and  newcomer to this codebase, but would love to make this contribution if I'm not wrong then this is something to do with the lines of :
https://github.com/ethereum/solidity/blob/be0775da499415911b6be891e7ab60cc09e676c2/libsolidity/analysis/SyntaxChecker.cpp#L71

 we can tell them to only display the message by making a change in error reporter?
 https://gith

[2020-01-24 13:43] spalladino commented on #597
For the sake of upgrades, it'd seem that the only requirement is to be able to assign an immutable `id` to a variable, which should be deterministically mapped to a slot (like the `storage{slot: keccak256("some_key")}` proposed above). It's not really important _where_ in the storage the variable is kept.

As for [EIP2330](https://github.com/ethereum/EIPs/pull/2330) linked above, the requirements

[2020-01-24 14:35] spalladino commented on #3835
My 2 cents:

On **naming**, I'd avoid the keyword `immutable`, since it's often associated with immutable data structures (see [immutable.js](https://github.com/immutable-js/immutable-js) or [data structures](https://clojure.org/reference/data_structures) in functional languages). Since this is a concept that already exists in other languages, I'd suggest reusing the same keywords that already exi

[2020-01-24 18:04] dddejan commented on #8146
Not generating code is scary.

We do this all the time in C and works as follows: add asserts, compile release without asserts, release to customer, wait, customer reports segfault, debug with assertions, fix code, repeat. I feel that this doesn't really fit on blockchain unless you trust formal methods 💯% (which I don't).

The danger is that if you allow people to save gas with a flag, they proba

[2020-01-25 10:52] erak commented on #8020
@yozaam First and foremost: thanks for being so eager making a contribution! The line you've identified is the point where the error gets reported initially. It is then later printed by the SourceReferenceFormatter or SourceReferenceFormatterHuman (see e.g. `SourceReferenceFormatter::printErrorInformation()`). I think at this point we need to check if the source location that should be printed spa

[2020-01-25 11:25] yozaam commented on #8020
Thank you for this but is there a reason I should not do it from the liblangutil/ErrorReporter.cpp

Just check the location spans over entire file here and then not add it to errorList, Thanks a lot for helping me out 😄
https://github.com/ethereum/solidity/blob/45caaf5ad8444d993389f56557763e4464a8c547/liblangutil/ErrorReporter.cpp#L62-L73

[2020-01-25 17:42] erak commented on #8020
@yozaam The issue with your proposal is, that it would prevent errors which span over the whole file being reported at all! As a result, no error would be reported in case the version pragma is missing.

The fix need to be applied to the components that actually print those errors, as already stated in the initial description:

[2020-01-25 18:32] yozaam commented on #8020
Ohh I get you thank you so much, I was thinking I would just send the description without location then they would only see the pragma error, okay so I have to check in SourceReferenceFormatter about the location

[2020-01-25 18:43] yozaam commented on #8020
https://github.com/ethereum/solidity/blob/be0775da499415911b6be891e7ab60cc09e676c2/liblangutil/SourceReferenceFormatter.cpp#L87

This is the function, that sends the ref to the `printSourceLocation();`

And in printSourceLocation();
https://github.com/ethereum/solidity/blob/be0775da499415911b6be891e7ab60cc09e676c2/liblangutil/SourceReferenceFormatter.cpp#L37-L43
Here we should put one more `else i

[2020-01-25 20:52] erak commented on #8020
@yozaam Besides `SourceReferenceFormatter`, the class `SourceReferenceFormatterHuman` probably needs to be touched as well. The latter one is used to generate human-readable error output, which is not necessarily given for `SourceReferenceFormatter`.

I think applying the change you've sketched could be a good starting point.

I don't think that this is needed. The error itself should be still pri

[2020-01-25 21:38] erak opened #8190 "JSON AST test extraction broken on Linux"
## Description

This was introduced by https://github.com/ethereum/solidity/pull/8187.

On some Linux systems the source extraction, used during JSON AST import and export tests, is broken:
[code]
Weirdly enough, this does not let the command line test fail: [Circle workflow output](https://circleci.com/gh/ethereum/solidity/247688?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=gi

[2020-01-26 08:36] yozaam commented on #8020
I am very sorry, you are taking so much effort and I am not able to deliver, you could have solved this very easily but you were letting me learn, I spent all morning trying to understand how I could check if the source spans entire file
https://github.com/ethereum/solidity/blob/45caaf5ad8444d993389f56557763e4464a8c547/liblangutil/SourceReferenceExtractor.h#L41-L59
But there is only a check for mu

[2020-01-26 13:19] erak opened #8191 "Extract and compile Yul examples from documentation"
## Abstract

Came up in https://github.com/ethereum/solidity/pull/8189.

## Motivation

All Solidity examples are extracted and compiled as part of the command line tests. This should also be done for all Yul examples in order to make sure they compile (if they should)

## Specification

The following steps can be identfied already:
- add new task to `test/cmdlineTests.sh`
- change `scripts/isolat

[2020-01-27 08:30] #6489 closed, assigned to ChrisChinchilla

[2020-01-27 10:30] cameel commented on #8190
That's because the Python script is executed by a Bash script and in Bash there's no exception mechanism so an error from a command does not automatically interrupt it. You could change script's shebang to `#!/usr/bin/env bash -e` which would make it end automatically when anything returns non-zero but it won't work properly here because the Python script uses the return value to indicate whether

[2020-01-27 10:40] erak commented on #8190
@cameel Ah, true. Thanks for the clarification! I'll try to fix the root cause by removing the binary option from the `open()` call.

[2020-01-27 10:55] cameel commented on #8190
I think it will work just fine no matter whether you decide to remove the binary mode or the `encoding` parameter. I just posted a comment on the chat. Maybe a comment on this issue is a better place for it:

[2020-01-27 10:55] #7661 closed, assigned to nobody

[2020-01-27 15:44] Marenz commented on #3835
Mind you it exists in [D](http://dlang.org) also as `immutable`...

[2020-01-27 15:55] chriseth commented on #8127
The filename is not formed from the commit hash, it is formed from the version string. The version string cannot have leading zeros after the `+` (a semver restriction) and thus it is created by taking the commit hash and removing any leading zeros.

[2020-01-27 16:07] spalladino commented on #3835
You learn something new every day. I'm fine with `immutable` as well then!

[2020-01-27 16:45] chriseth opened #8195 "Add Focal to PPA scripts"
Add Ubuntu Focal (2020-04) to our ppa scripts and test that it is working.

[2020-01-27 16:55] Marenz commented on #4223
This issue existed to track the progress of isoltest in regards with semantic test capabilities. @erak says this is done now and we favor closing this issue and create a new one that is purely for extracting more semantic tests.

[2020-01-27 16:55] #4223 closed, assigned to erak

[2020-01-27 16:56] Marenz opened #8197 "Extract semantic tests for soltest-only to isoltest"
opened to replace #4223

[2020-01-27 17:37] chriseth opened #8198 "Create windows binary for 0.6.2"

[2020-01-27 18:14] chriseth opened #8200 "readthedocs build is failing"
https://readthedocs.org/projects/solidity/builds/10336300/

[2020-01-27 21:46] pthariensflame opened #8202 "readthedocs has a nonexistent future version as the "latest""
I go to https://solidity.readthedocs.io/en/v0.6.2/index.html and see:
<img width="1124" alt="Screen Shot 2020-01-27 at 1 40 25 PM" src="https://user-images.githubusercontent.com/1847577/73216703-56819500-410b-11ea-95bf-d2bfc58a3d56.png">

[2020-01-27 22:39] erak commented on #8202
@pthariensflame Thanks for your report. It is a known issue (see https://github.com/ethereum/solidity/issues/8200) and we're working on a fix!

[2020-01-27 23:17] erak commented on #8202
@pthariensflame Just realized that both issues are somewhat independent from each other. I've fixed the issue you've reported and `latest` now points to `develop` again. But that's probably an old build because of the other issue mentioned.

[2020-01-27 23:17] #8202 closed, assigned to nobody

[2020-01-28 03:14] fulldecent commented on #3835
@spalladino and I agree that being able to record `address(this)` immutably at construction time is useful.

My argument is only that the syntax to achieve this should be:

[code]

rather than:

[code]

because the latter format may confuse somebody if they see:

[code]

[2020-01-28 12:57] Marenz commented on #8200
Related: https://stackoverflow.com/questions/59846065/read-the-docs-build-fails-with-cannot-import-name-packagefinder-from-pip-in

[2020-01-28 13:09] Marenz commented on #7835
I see a PR from you @erak so it seems you're working on this. Assigning you

[2020-01-28 13:26] chriseth commented on #7436
This is blocked by https://github.com/protofire/solhint/issues/170 (solhint updating to 0.6.0)

[2020-01-28 13:28] #8198 closed, assigned to nobody

[2020-01-28 13:28] chriseth commented on #8084
This has been implemented.

[2020-01-28 13:28] #8084 closed, assigned to nobody

[2020-01-28 13:41] erak commented on #8200
I followed the guide proposed by @Marenz and it fixed the builds: https://readthedocs.org/projects/solidity/builds/10341484. Closing this now. Please feel free to re-open in case of any new failures.

[2020-01-28 14:30] chriseth opened #8204 "[SolYul] Implement contract creation."

[2020-01-28 14:44] chriseth opened #8205 "[SolYul] Index access and .length for calldata arrays"

[2020-01-28 15:55] erak commented on #8200
Re-opening because it only works when manually re-triggering builds. We need to wait for the updated version of readthedocs: https://github.com/readthedocs/readthedocs.org/issues/6554.

[2020-01-28 16:03] Marenz commented on #8127
But isn't `commit.` the "leading" part in this case? Or is this restriction true for any substring..number after the `+`?

[2020-01-28 16:04] Marenz commented on #8127
Which definition of SemVer are we using? This one here even has a leading `0` after the `+` as example.. https://semver.org/#spec-item-10

[2020-01-28 16:27] chriseth commented on #8127
The string is still split up into components separated by `.`.

You are right, @Marenz , the restriction only applies to the "prerelease" part, not the "build info" part. This is why the version is currently reported as `0.6.3-develop.2020.1.28+commit.c8994d9e.Linux.g++` instead of `0.6.3-develop.2020.01.28+commit.c8994d9e.Linux.g++` (the leading zero in the month is removed). So maybe the strippi

[2020-01-28 16:35] Marenz commented on #8127
so this sounds like we can revert the change in #1074 for the commit hash.. checking the script further, this is only used for the metadata component. :+1:

[2020-01-28 16:41] #319 closed, assigned to nobody

[2020-01-28 16:43] chriseth commented on #8141
We could not really find a solution for this during the call. The agreement was that we will be looking for other methods to share code apart from inheritance, since inheritance usually assumes an "is a" relationship, which is not always the case. Contract templates might be a solution here.

[2020-01-28 16:43] #8141 closed, assigned to nobody

[2020-01-28 16:55] chriseth commented on #8149
The copy semantics are problematic, indeed, but don't you give a very good example for a use-case for the recursive data types as they are currently implemented?

Since I don't think this will lead very far, I'm closing this issue. Please re-open it if you have a specific proposal. If you want to discuss design decisions, then please join our gitter room: https://gitter.im/ethereum/solidity-dev

[2020-01-28 16:55] #8149 closed, assigned to nobody

[2020-01-28 16:59] chriseth commented on #8129
The ether transfer makes the bid values not totally invisible.

[2020-01-28 16:59] chriseth commented on #8139
Please reopen if this still needs discussion.

[2020-01-28 16:59] #8139 closed, assigned to nobody

[2020-01-28 17:08] #8190 closed, assigned to nobody

[2020-01-28 17:19] chriseth opened #8207 "[Meta] Check how many "inheritance" issues can be closed."
We never really checked how our inheritance change in 0.6.0 affected existing issues. We should check how many of the issues in https://github.com/ethereum/solidity/projects/9 can be closed. Maybe we should even search for "inheritance" in the issues in general.

[2020-01-28 17:22] #7865 closed, assigned to nobody

[2020-01-28 19:56] chriseth opened #8208 "[Testing] fuzzer regression test is taking over 4 hours and timing out"
The fuzzer regression test is taking over 4 hours and timing out:

https://circleci.com/gh/ethereum/solidity/249114#build-timing/containers/0/actions/103

If this is not an error, I think we should not use circleci for such long-running tasks.

[2020-01-28 21:08] chriseth commented on #3881
@alexanderatallah sorry for the late reply. The reason is just that the EVM does not allow such calls. You cannot call an overwritten function externally because it means that the entry point is replaced and you cannot call it internally because it is not public.

[2020-01-28 21:09] chriseth commented on #7512
@ekpyron is this related to what you are doing? :)

[2020-01-28 21:12] chriseth commented on #7820
Closing in favour of #7825

[2020-01-28 21:14] #7859 closed, assigned to bshastry

[2020-01-28 21:17] ekpyron commented on #7512
@chriseth For the rebuilds in https://github.com/ethereum/solc-bin/pull/22 I specifically used the version defined in https://github.com/ethereum/solc-bin/blob/gh-pages/bin/list.txt - so I generated a new ``soljson-v0.5.11+commit.c082d0b4.js``, not a ``soljson-v0.5.11+commit.22be8592.js``. If we change the list in solc-bin, I'll need to change the respective release in https://github.com/ethereum/

[2020-01-28 21:18] chriseth opened #8209 "Bytecode comparison tests are failing."
It seems that the windows run uses the correct commit hash for the compiler version in the metadata: `0.6.3-nightly.2020.1.28+commit.f6759ce2"`, while all other builds (those on travis) use `"0.6.3-nightly.2020.1.28+commit.6e31c86a"` for the same run.

[2020-01-28 22:55] axic commented on #8084
Do you have a PR number handy for the record?

[2020-01-29 01:34] wjmelements opened #8210 "Experimental ABIEncoder fails to pass fixed-size calldata array to internal function"
The basic scenario seems to require that an external function pass its fixed-size calldata to an internal function. One workaround is to use a public function instead of an external function.

Originally encountered on 0.5.13. Also happens on 0.5.16 and 0.6.2.

Minimum repro:
[code]

The error is `InternalCompilerError: Variable size and position mismatch.`

This issue seems to be similar to https

[2020-01-29 01:36] wjmelements commented on #8210
Also, if the contract has any unimplemented methods, compilation will succeed.

[2020-01-29 08:06] chriseth commented on #8084
https://github.com/ethereum/solidity/pull/6677

[2020-01-29 08:19] chriseth commented on #8210
I think we already have an issue about that.

[2020-01-29 08:20] chriseth commented on #8210
Ah sorry, you already mentioned it!

[2020-01-29 08:22] chriseth commented on #8209
The problem seems to be that on pull requests, travis runs everything on a potential merge commit - which only exists for travis. Runs on the develop branch result in the same for both windows and travis. Maybe a solution would be to only push to the bytecode comparison directory if we are not running on a pull request, but directly on develop.

[2020-01-29 13:56] #7656 closed, assigned to Marenz

[2020-01-29 14:57] christianparpart commented on #7763
moved back to `To Do` as we agreed on holding it back due to other priorities for now (for 2-4 weeks)

[2020-01-29 15:05] #7112 closed, assigned to Marenz

[2020-01-29 15:36] chriseth commented on #7512
It's maybe not so important what is in the list, but we should not delete a previously available compiler binary.

[2020-01-29 16:46] chriseth commented on #8057
As an example, we could use an auction contract that has a `bid` function but no fallback function and a token sale contract that has a receive function. If we confuse the addresses after 0.6.0, we will get a revert. Pre-0.6.0 the token sale contract would only have a fallback function and thus the calling the 'bid' function would cause a token purchase.

[2020-01-29 18:48] nventuro commented on #4024
Are there plans to improve this in the near future? From @chriseth's description above it sounds like the tools to achieve this are already present, just not being used in all scenarios.

I find myself recommending people to use hard-coded `bytes32` constants to save gas, instead of having the `keccak256` call in the source code. This is far from ideal: computing said hash outside of Solidity is a

[2020-01-29 22:15] chriseth commented on #4024
The problem is that 1) it is dangerous to re-implement this outside of the EVM and 2) it is not clear how we should handle memory objects at compile-time.

Concerning hashes: The optimizer should actually remove the keccak256 opcode. It might not do it because it is cheaper depending on the "runs" setting (a 32 byte constant is rather expensive to deploy).

[2020-01-30 11:24] Marenz commented on #8208
I tried building the fuzzer locally, but failed:

[code]

It would also help if we had some documentation on how to build the fuzzer parts. So far we only have something with [`afl` fuzzing](https://solidity.readthedocs.io/en/latest/contributing.html#running-the-fuzzer-via-afl) in the docu which seems to be something else.

For now I created a PR to just disable the tests. I am hoping @bshastry ca

[2020-01-30 11:52] Marenz commented on #8209
Could this maybe solve the problem? https://stackoverflow.com/questions/31882306/how-to-configure-travis-ci-to-build-pull-requests-merges-to-master-w-o-redunda

[2020-01-30 11:55] Marenz commented on #8209
Or maybe another setting in travis.. from what I've read this merge commit building seems to be configurable

[2020-01-30 11:56] Marenz commented on #8209
If you give me access to the travis part I can investigate a bit

[2020-01-30 14:11] Marenz commented on #2911
I am a bit confused by the description. Is this a feature to be implement, an existing problem? I just read a lot of statements in the opening part but no "This should be X instead of Y".. as in, the current and desired behavior is not clear to me..

[2020-01-30 14:14] erak opened #8218 "Templates for error reporting"
## Abstract

Support a more readable and consistent error reporting. Whiskers came up as a reference.

## Motivation

Came out of https://github.com/ethereum/solidity/pull/8103.

## Specification

E.g. `"Cannot use <to_string(operator)> on <type.string()>."`

[2020-01-30 14:17] chriseth opened #8219 "[Fuzzer] Investigate regression test, fix it or maybe move it away from circleci"
the regression test is taking over 5 hours and sometimes timing out on circleci. It should be investigated if it has a bug or if we should move it to a different platform, since I don't think circleci is made for such long-running tasks.

The regression tests have been deactivated in #8217

References #8208

[2020-01-30 14:18] #8208 closed, assigned to Marenz

[2020-01-30 14:25] chriseth commented on #2911
I think it can be closed. The `abstract` keyword makes this visible and everything compiles correctly.

[2020-01-30 14:25] #2911 closed, assigned to nobody

[2020-01-30 15:11] Marenz commented on #2866
I suppose you meant to derive `RedApple` from `Fruit` ;) but other than that, this is now implemented in `0.6.2` (or 3?)

[2020-01-30 15:11] #2866 closed, assigned to nobody

[2020-01-30 15:30] Marenz commented on #3675
In the current version, (0.6.2 or so), all points except your last one no longer work.
As far as I know the last point (functions of the same name but different parameters don't cause an error) is the desired behavior.

I am closing this, for now but feel free to re-open if you find that your points have not been fixed properly :)

[2020-01-30 15:30] #3675 closed, assigned to nobody

[2020-01-30 16:05] Marenz commented on #3336
This example now gives an error when you try to override the property. I assume that finishes this ticket,  if you feel different please re-open and discuss with us :)

[2020-01-30 16:05] #3336 closed, assigned to nobody

[2020-01-30 16:08] Marenz commented on #2116
This issue has now been solved by requiring an explicit override in A:
[code]

[2020-01-30 16:08] #2116 closed, assigned to nobody

[2020-01-30 16:14] Marenz commented on #1471
I assume that the derived `f()` function is meant to be `public` here which was probably a default in earlier versions. With that assumption, the above example works now.

[code]

[2020-01-30 16:14] #1471 closed, assigned to nobody

[2020-01-30 17:18] #8207 closed, assigned to Marenz

[2020-01-30 17:18] Marenz commented on #8208
Maybe we shouldn't close this as the actual problem isn't really solved?

[2020-01-30 17:30] chriseth commented on #8208
Created #8219 to solve the actual problem.

[2020-01-31 09:47] #7672 closed, assigned to elenadimitrova

[2020-01-31 11:59] Aniket-Engg opened #8222 "`msg.data` inside a `receive` function should show error on compilation"
## Abstract
`msg.data` inside a `receive` function should show error on compilation.

## Motivation

`msg.value` inside a `nonpayable` function shows compilation error.

[2020-02-01 04:41] nventuro commented on #3835
I like this idea! Is there some simpler mechanism that would be viable for an initial release though? We're redesigning a core feature in a way that could make great use of `immutable`, but are currently blocked by the fact that using these values in the constructor is very cumbersome (due to the need to declare a new local variable).

It'd be **great** if we had the ability to read from `immutabl

[2020-02-03 08:32] ekpyron commented on #8127
So https://github.com/ethereum/solidity/pull/1074#discussion_r371322848 was **not** intentional after all :-)? The version string (as reported by "solc --version") actually *does* contain the leading zero in the commit hash, only the upload script removes it from *both* the date *and* the commit hash. So I agree with @Marenz in that in particular the line here https://github.com/ethereum/solidity/

[2020-02-03 08:54] ekpyron commented on #8141
I'm not sure if you discussed and disregarded the idea during your call, but one solution I could imagine that could solve this issue while still being sufficiently explicit (at least as far as I'm concerned) would be to allow contract-level overriding, as in:
[code]
The effect of which could be defined as being equivalent to explicitly mentioning and overriding all overridable functions in ``Cont

[2020-02-03 09:37] Marenz commented on #7948
hmm I personally don't like to use docker if I can avoid it. I would prefer generic instructions. But maybe those can be extract from the docker-specific documentatio.

[2020-02-03 11:28] chriseth commented on #8127
The commit contains two changes: Changing the date format from `-utc +%Y.%m.%d` to `-utc +%Y.%-m.%-d` (adding two `-`), and removing the leading zero in the commit hash. The first change is needed, the second is not.

[2020-02-03 12:08] ekpyron commented on #8127
The respective line that strips the leading zeroes from the commit hash is removed in https://github.com/ethereum/solidity/pull/8227 .
But we still need to decide how to deal with the old releases affected by this. We might want to keep the versions with the zeroes stripped in solc-bin, do we? If so we could add a symlink to the same release with the zero and have the lists point to the ones with

[2020-02-03 13:04] chriseth commented on #8127
Maybe we just ignore them for now...

[2020-02-03 13:44] erak commented on #7835
I think we need to discuss the last point: "In order to report errors and their source location correctly, an additional AST node for every tag is needed."

I did some hacking on that and realized a few things that might need more work than initially thought:
- The `DocStringParser` would need to create nodes, but doesn't have the full documentation string.
Comment literals `///`, `/* */` etc. are

[2020-02-03 14:08] chriseth commented on #8102
Asked @aarlt to look into this.

[2020-02-03 14:24] ekpyron opened #8229 "Change release script to publish on tags instead of the latest commit on the release branch."
Came up in https://github.com/ethereum/solidity/pull/8227#pullrequestreview-352204011

We should probably think about how we deal with the scenario in which the build fails on an already created release tag.

[2020-02-03 14:35] chriseth commented on #7835
You are right, this sounds rather difficult with the current architecture.

[2020-02-03 16:31] chriseth commented on #8209
Can be closed if https://travis-ci.org/ethereum/solidity/jobs/645537086?utm_medium=notification&utm_source=github_status does push to the bytecode repository.

[2020-02-03 20:11] erak commented on #7627
I couldn't find the time to dive deeper into debugging. Could someone else have look?

[2020-02-03 20:16] erak commented on #8099
I've written a tiny script which hooks into our doc example extraction, and aims on finding the minimal version and compiling one example with a static build, downloaded from the release page. Does someone maybe takeover? The version extraction from the example itself is still missing, though.

[2020-02-03 23:55] ghallak commented on #7352
Should this be implemented inside `UnusedPruner` class or in a separate class?

I noticed that `UnusedPruner::runUntilStabilisedOnFullAST` keeps running again while the AST is changing, but I'm wondering if that is necessary when pruning functions that only call each other.

[2020-02-04 11:38] ekpyron commented on #8127
The main problem in ignoring them is that I have added them *with* the leading zeroes to the ``wasm`` directory... "them" being 0.4.13 alone actually... so that might be confusing...

[2020-02-04 11:58] ekpyron commented on #8127
I'm adding the "to discuss" label to this, so that we can decide it's immediate fate.

[2020-02-04 14:43] chriseth commented on #7352
It might be better to add another optimizer stage that only deletes functions and does not care about variables.

[2020-02-04 14:56] chriseth commented on #8099
Sounds good!

[2020-02-04 15:57] chriseth commented on #8209
It did!

[2020-02-04 15:57] #8209 closed, assigned to christianparpart

[2020-02-04 16:58] #8128 closed, assigned to ekpyron

[2020-02-04 17:16] agroce opened #8235 "Throw in function std::pair<ContractKind, bool> solidity::frontend::Parser::parseContractKind()"
## Description

This contract:

`abstract c`

Produce this output with build from master:

[code]
Found using simple AFL fuzzing no the full syntax examples corpus

## Environment

- Compiler version: 0.6.3-develop.2020.2.4+commit.7a194ffd.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environment / backend / blockchain

[2020-02-05 06:19] ekpyron commented on #7714
This now caused problems for @leonardoalt again as well - we could consider prioritizing it - it should be simple to do - the main problem will be to have an eye on all existing tests using this.

[2020-02-05 11:49] #8235 closed, assigned to chriseth

[2020-02-05 11:55] chriseth opened #8243 "[Yul Optimizer] Make use of boolean types in the conditional simplifier"
If the dialect has a bool type, convert `if c { ... }` to `if c { c := true ... }` in the conditional simplifier and similar for `for` loops and maybe other things.

[2020-02-05 11:56] Marenz opened #8244 "Refactor TestCase classes"
@ekpyron and I went a bit over the testcases code (while looking at #8238) and come up with the following ideas for a refactor:

* remove `validateSettings` and the related variables `m_settings` and `m_validateSettings`. Instead add a function `void addSetting()` that takes a string and a lambda/function pointer that is called for each setting that is found. The lambda can set desired member vari

[2020-02-05 13:18] leonardoalt commented on #7714
We could support only `ether` and `wei`. This way the current tests could simply replace `ether` by `wei`.

[2020-02-05 14:29] chriseth commented on #8142
Discussion: Introducing curly braces would make this the only curly braces that do not contain a list of statements. Also, with simple indentation rules, this would cause double indentation. Finally, it currently "works".

We can revisit the issue when they annoy us.

[2020-02-05 14:32] christianparpart commented on #8142
my argument *for* curly braces is that it not just improves visual readability, but also helps alot in jumping forth and back in your editor via shortcuts. I personally do that a lot in VIM to jump based on braces.

Not having such a syntactic sugar would just make moving around less convenient.

[2020-02-05 14:33] #8127 closed, assigned to nobody

[2020-02-05 14:38] chriseth opened #8247 "Change scanner / docstringparser so that docstrings can be parsed during parsing"
Follow-up of https://github.com/ethereum/solidity/issues/7835

The goal is that docstring elements can have their own source locations.

[2020-02-05 14:58] chriseth commented on #4285
Discussion: This might be too inflexible for auto-generated code, but it would be a good check for human-written code. Because of that, we should make this a warning instead of an error.

[2020-02-05 15:03] christianparpart commented on #8218
I really like the idea of streamlining error reports. But if Whiskers is the right way to do that, I am not too sure.

My initial motivation was to improve readability of error messages by using semantic colouring, something that would be a convenient argument for using fmtlib (part of C++20's std::format), so that passing custom types to the error formatter could be auto-colorized & pretty-printe

[2020-02-05 15:04] axic commented on #4285
Suggestion (long term goal):
1) Warn in user submitted code (e.g. assembly block)
2) Have a step which replaces all of them with a simple switch
3) Remove any special cases from the code generator (e.g. assume switch always have multiple cases and generate code accordingly)

This way we could potentially simplify the codegen phase and have a "canonical" version which doesn't have default-case-only

[2020-02-05 16:05] #7674 closed, assigned to erak

[2020-02-05 16:05] chriseth opened #8249 "[PR] Advertise solidity-upgrade"

[2020-02-05 23:35] leonardoalt opened #8252 "Add internal revert reasons to Yul codegen"
Similar to https://github.com/ethereum/solidity/pull/8178

- [ ] `codegen/YulUtilFunctions.cpp`
- [ ] `codegen/ir/*`
- [ ] tests
- [ ] docs

[2020-02-05 23:45] leonardoalt opened #8253 "Write codegen tests that trigger currently unreachable reverts"
From https://github.com/ethereum/solidity/pull/8178/, many reverts added to the code are never triggered by our tests. We should try to reach all of them.
They can be found via `// TODO add test` in `codegen/*`.

[2020-02-06 07:57] ekpyron commented on #8128
@haltman-at For reference: the PR we merged now allows contract (resp. interface) types and enums as mapping keys.

[2020-02-07 00:14] haltman-at commented on #3835
As someone who is going to have to support this, I feel like I should jump in here to note that the put-it-directly-in-the-bytecode-where-it's-used approach is going to be extremely difficult to support for debugging/decoding purposes without some sort of additional debugging data information!

[2020-02-07 00:20] nventuro opened #8260 "Empty functions are not optimized away"
I'd expect calls to `internal` functions with no body to produce no bytecode, but this doesn't seem to be the case (even when optimizations are enabled).

I compiled the following two contracts on Remix using v0.6.2:
[code]

With no optimizations, deploying `NoEmpty` takes 90661 gas, while `Empty` uses 92805 gas. Optimizations reduce the cost of both scenarios, but doesn't make them equal: `NoEmpt

[2020-02-07 00:20] nventuro commented on #8260
As a side note, I was a bit surprised `bar` didn't raise any warnings, given that it's a `view` function with no return value.

[2020-02-07 03:23] MicahZoltu opened #8262 "Add mechanism for static/const/immutable selector."
## Abstract
There should be a way to reference a function selector from an interface or contract without having to construct it by hand (error prone/complicated) and such that it can be used in constants.

## Motivation

## Specification
Simplest implementation (from a usability standpoint) would be to allow someone to reference an interface function definition with `.selector` in order to get a c

[2020-02-07 11:04] chriseth commented on #8260
I think we disabled this functionality when we introduced internal function pointers that can be stored in storage - this is especially complicated with regards to construction-time and runtime functions.

The plan (I know, it might be too far off) is that yul will solve this problem easily. The code currently generated for "Empty" is the following:
[code]

[2020-02-07 11:07] chriseth commented on #3835
@haltman-at we can easily provide that.

[2020-02-07 11:18] chriseth commented on #8262
I am pretty sure that at least the first solution (not supporting overloads) should already be possible, is just missing an implementation.

@ekpyron this should work through our new `FunctionType::Kind::Declaration` model, right?

[2020-02-07 11:21] ekpyron commented on #8262
The first one is already implemented, yes - but I haven't marked it for use in compile-time constants, that's missing - I'll quickly look into that!

[2020-02-07 12:14] nventuro commented on #8260
I'm not well versed in Yul, but that snippet seems to show that the call to `bar` is removed entirely at the Yul stage. Is that correct?

Is there a rough estimate for when we can expect Yul being used as an IR?

[2020-02-07 12:20] MicahZoltu commented on #8262
[code]
[code]
It doesn't work for me in 0.6.2 even when not constant.

[2020-02-07 12:24] ekpyron commented on #8262
Hm... curious... are you sure? I have:
[code]
It was introduced with 0.6.2 itself actually...

[2020-02-07 12:45] MicahZoltu commented on #8262
Ah, no I am not confident.  I was testing using Remix, but when I just went back to test again I noticed that Remix is ignoring my requests to change compiler version.  Once I worked around that, I was able to verify that you are correct and it is present in 0.6.2.  🎉

That just leaves "overloads" and "works as a compile-time constant" as part of this feature request.  😄

[2020-02-07 19:40] #2131 closed, assigned to nobody

[2020-02-07 19:41] haltman-at commented on #3835
OK, thank you!

[2020-02-08 17:15] agroce opened #8265 "ArraySliceType::copyForLocation assertion failure"
## Description

This contract:
[code]

produces:

[code]

when compiled.

On master, using AFL fuzzing.  This was found with a new approach, that inlines a generic C-like source code mutation tool as a high-probability AFL havoc mutator.

## Environment

- Compiler version:  0.6.3-develop.2020.2.5+commit.f44188ab.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g

[2020-02-09 08:07] Changochen opened #8266 "Stack overflow in solc"
## Description

Stack overflow in solc compiler.

## Environment

- Compiler version: `solc --version
solc, the solidity compiler commandline interface
Version: 0.6.3-develop.2020.2.9+commit.e8eb1f2d.mod.Linux.g++`
- Operating system: Linux Ubuntu 16

## Steps to Reproduce

Here's the POC.sol:
[code]

Run with `solc --bin -o poc poc.sol`, and we get a stack overflow with asan built or segmentation

[2020-02-09 09:22] VictorZhang2014 commented on #5519
We can specify an exact compiler version in `truffle.js` file, as doc mentioned https://www.trufflesuite.com/docs/truffle/reference/configuration#compiler-configuration

[code]
This is my `truffle.js` configuration.

[2020-02-09 17:42] a3d4 commented on #8020
A fix proposed in PR #8261.

[2020-02-10 03:13] agroce opened #8269 "ICE in the CSE optimizer"
## Description

This contract:
[code]

produces:

[code]

when run with solfuzzer (solc alone seems ok)

On master, using AFL fuzzing.  This was found with a new approach, that inlines a generic C-like source code mutation tool as a high-probability AFL havoc mutator.

## Environment

- Compiler version:  0.6.3-develop.2020.2.10+commit.e8eb1f2d.Linux.clang
- Target EVM version (as per compiler set

[2020-02-10 05:48] bshastry commented on #7948
@Marenz I can understand. Docker was suggested to solve dependency issues. For example, a portion of the fuzzer builds depend on a specific version of libprotobuf and libprotobuf-mutator libraries that may not be shipped with distros.

Building deps from source is an option I suppose but I feel people might prefer docker over this if it comes to it. Feel free to suggest alternatives.

[2020-02-10 11:33] chriseth commented on #7741
@koeppelmann we are mainly wondering what the exact use-case for this feature would be. I'm closing it for now. Please respond with more context if you want to have this feature, then we can re-open it.

[2020-02-10 11:33] #7741 closed, assigned to nobody

[2020-02-10 11:35] chriseth commented on #7856
`type(I).inheritedInterfaceID` - `type(I).intrinsicInterfaceID`

[2020-02-10 13:23] chriseth commented on #7856
@fulldecent @jbaylina @nventuro @frangio We kindly need your input here. We would like to add eip 165 support as a feature to Solidity. Unfortunately, I was not able to find out how EIP 165 is defined with regards to inheritance. If a contract C inherits from A and B, what is its interface identifier? Is it the xor of the function selectors defined in A, B and C or just the ones added by C?

[2020-02-10 13:37] chriseth commented on #8260
Yes, the code of `bar` is removed by the Yul optimizer. Our current estimate is "towards the end of the year".

[2020-02-10 13:38] chriseth commented on #8260
Since we have a good way forward here, I would close this issue. Please reopen if you think otherwise.

[2020-02-10 13:38] #8260 closed, assigned to nobody

[2020-02-10 14:47] chriseth commented on #8269
@bshastry can you check this, please? I was not able to reproduce it. The assertion is triggered inside a catch clause. It would be good to know what the inner exception was.

[2020-02-10 14:53] chriseth commented on #8265
Might be related to the other calldata storage location works we are doing.

[2020-02-10 14:55] chriseth commented on #8266
Seems to be a recursion related to the newly allowed identifiers in mapping keys.

[2020-02-10 14:57] #8020 closed, assigned to nobody

[2020-02-10 14:59] agroce commented on #8269
I'm running these on the afl-instrumented build, could cause reproduction problems.  To get roughly that, compile with afl and crank AFL_INST_RATIO up to 10.  I'll make a no-inst solc to check on, but assume anything only showing up with inst is still a real problem.

[2020-02-10 14:59] agroce commented on #8269
(There's some randomness in the instrumentation, but probably not critical)

[2020-02-10 15:01] bshastry opened #8271 "[yul] proto fuzzer: Add boolean literal"
Somehow, yul proto definition left out the possibility of true/false literals. This issue tracks support for it.

[2020-02-10 15:03] agroce commented on #8269
Aha, may be that I somehow copied in wrong version.

`0.6.3-develop.2020.2.10+commit.e8eb1f2d.Linux.clang` is actual solc version output.

[2020-02-10 15:10] agroce opened #8272 "Unknown exception during compilation: std::bad_cast"
## Description

This contract:
[code]

produces:

[code]

when run with solfuzzer (solc alone seems ok)

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer

## Environment

- Compiler version:  0.6.3-develop.2020.2.10+commit.e8eb1f2d.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM

[2020-02-10 15:11] chriseth commented on #8269
Is it possible to reduce the input a little more? Can you run this in a debugger and see where the inner exception is throw? Thanks!

[2020-02-10 15:11] chriseth commented on #8271
I can explain: It was only introduced / used recently :)

[2020-02-10 15:20] agroce commented on #8269
Let me see about further reduction, this is line level.

[2020-02-10 15:45] agroce commented on #8269
[code]

is a pretty minimal shrink.  Debugger isn't installled on this docker, will get to that later this morning, maybe.  With the right commit info above, and this, maybe it'll repro for you.  Remember needs optimization on.

[2020-02-10 15:46] agroce commented on #8269
Exact solc run:
[code]

[2020-02-10 15:49] agroce commented on #8269
ah, maybe this will help:

[code]

[2020-02-10 16:14] chriseth commented on #8269
So the failing assertion is

[code]

I think we need to reproduce this to fix it. Thanks again for reporting!

[2020-02-10 16:22] Marenz commented on #8269
I can reproduce it with his latest example

[2020-02-10 16:35] #8271 closed, assigned to bshastry

[2020-02-10 16:35] #7260 closed, assigned to leonardoalt

[2020-02-10 16:36] chriseth commented on #3835
@haltman-at what is the additional info you need? A mapping from each immutable's AST id to its byte offsets in the code?

[2020-02-10 16:51] Marenz commented on #8269
Problem seems to be in the CSE optimizer

[2020-02-10 17:21] Changochen opened #8275 "ICE in solidity::frontend::Type::calldataEncodedSize"
## Description

Consider the following contract:
[code]

Run with `./solidity/bld/solc/solc --bin -o poc --overwrite ./poc.sol` and we got:
[code]

## Environment

- Compiler version: Version: 0.6.3-develop.2020.2.9+commit.e8eb1f2d.Linux.clang
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Opera

[2020-02-10 18:12] frangio commented on #7856
A contract can support more than a one interface identifier, so it's not possible to say which should be the identifier for a contract. If C inherits from A and B, it may be that both A's and B's identifiers are relevant for the specific protocol, or C's, or any other combination.

The proposal at the beginning of this issue suggested to only support asking for the identifier of an interface. This

[2020-02-10 18:30] Changochen opened #8276 "Stack too deep in solidity::frontend::CompilerUtils::encodeToMemory"
## Description

Consider the following POC:
---
[code]
Compile with `solc --bin -o poc poc.sol` and we got
[code]

## Environment

- Compiler version: Version: 0.6.3-develop.2020.2.10+commit.d033c2f7.Linux.clang
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: Ubuntu 16

[2020-02-10 18:46] Changochen opened #8277 "ICE in void solidity::frontend::TypeChecker::checkExpressionAssignment, Array sizes don't match or no errors generated."
## Description

Consider the following POC:
[code]

Run with `solc --bin -o poc poc.sol` and we got
[code]

## Environment

- Compiler version: Version: 0.6.3-develop.2020.2.10+commit.d033c2f7.Linux.clang
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: Ubuntu 16

[2020-02-10 18:51] Changochen opened #8278 "ICE in solidity::frontend::StorageItem::storeValue, Invalid non-value type for assignment"
## Description
Consider the following POC:
[code]

Run with `solc --bin -o poc poc.sol` and we got
[code]
## Environment

- Compiler version: Version: 0.6.3-develop.2020.2.10+commit.d033c2f7.Linux.clang
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: Ubuntu 16

[2020-02-10 18:55] Changochen opened #8279 "ICE in solidity::frontend::StructType::isDynamicallyEncoded"
## Description
Consider the following POC:
[code]

Run with `solc --bin -o poc poc.sol` and we got
[code]
## Environment

- Compiler version: Version: 0.6.3-develop.2020.2.10+commit.d033c2f7.Linux.clang
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: Ubuntu 16

[2020-02-10 19:13] haltman-at commented on #3835
That would suffice, yes.  Thank you!

Thought for the future: It would be nice to have something similar for `constant` variables as well.  Of course, right now that's not possible because they don't work that way -- the whole code for them gets pasted into the bytecode; for this to work, they'd have to be actually evaluated at compile time so that just the result is pasted in.  But that's somethi

[2020-02-10 19:18] Changochen opened #8280 "ICE in solidity::frontend::TypeResult solidity::frontend::ArrayType::interfaceType, Expected detailed error message!"
## Description
Consider the following POC:
[code]

Run with `solc --bin -o poc poc.sol` and we got
[code]
## Environment

- Compiler version: Version: 0.6.3-develop.2020.2.10+commit.d033c2f7.Linux.clang
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: Ubuntu 16

[2020-02-10 19:38] frangio opened #8281 "Do not require override for functions from interfaces"
The override keyword is required when implementing a function from a parent interface.

[code]

This doesn't sound right to me. The function is not overriding anything, it's simply filling in a missing abstract function.

[2020-02-10 19:41] axic commented on #8281
I think this is a delicate question. It is true that override may sound misleading, as it suggests an existing implementation is changed. This makes sense for inherited functions. It is confusing for implementing functions from abstract contracts, too.

However, if we would remove the keyword, then it would not be possible to easily tell apart functions specific to `C` or functions which are part

[2020-02-10 19:56] Changochen opened #8282 "ICE in solidity::frontend::TypeResult solidity::frontend::MappingType::interfaceType, Must be an elementary type!"
## Description
Consider the following POC:
[code]

Run with `solc --bin -o poc poc.sol` and we got
[code]
## Environment

- Compiler version: Version: 0.6.3-develop.2020.2.10+commit.d033c2f7.Linux.clang
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: Ubuntu 16

[2020-02-10 20:06] frangio commented on #8281
Yes, I agree.

The way I see it, `override` is required when overriding an existing function because it hints to the developer or reviewer that something weird can happen at that point. They should consider the consequences, and the syntax also forces them to understand exactly what they're overriding (through `override(A, B, C)`).

Implementing an abstract function is more of a normal situation.

[2020-02-10 21:40] Changochen opened #8283 "ICE in solidity::frontend::TypeChecker::visit, Cannot declare variable with void (empty tuple) type."
## Description
Consider the following POC:
[code]

Run with `solc --bin -o poc poc.sol` and we got
[code]
## Environment

- Compiler version: Version: 0.6.3-develop.2020.2.10+commit.d033c2f7.Linux.clang
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: Ubuntu 16

[2020-02-11 01:09] Changochen opened #8286 "ICE in solidity::frontend::ArrayType::memoryDataSize, Array size does not fit u256"
## Description
Consider the following POC:
[code]

Run with `solc --bin -o poc poc.sol` and we got
[code]
## Environment

- Compiler version: Version: 0.6.3-develop.2020.2.10+commit.d033c2f7.Linux.clang
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: Ubuntu 16

[2020-02-11 05:48] bshastry commented on #8269
I can reproduce it with the shrunk example.

Do you mean we need to reproduce it via a standalone assembly snippet?

[2020-02-11 06:12] bshastry commented on #8286
Minimal example

[code]

Reproducing via command line

[code]

[2020-02-11 06:24] bshastry commented on #8286
Thank you for reporting @Changochen .

On second thought, I'm not sure the underlying problem is serious. Perhaps, we shouldn't throw an exception but report an error?

[2020-02-11 07:00] bshastry commented on #7896
Closed via #8175

[2020-02-11 07:00] #7896 closed, assigned to bshastry

[2020-02-11 09:45] #8108 closed, assigned to bshastry

[2020-02-11 11:41] chriseth commented on #7856
@frangio "unfortunately", interfaces now do support inheritance. My intuitive approach would be to include all functions, inherited or not. If you want to compare against multiple interfaces, you would of course have to use something like
[code]

[2020-02-11 11:54] chriseth commented on #8269
@Marenz can you provide more details? Could this be a critical bug or is it always caught by the assertion?

[2020-02-11 12:00] Marenz commented on #8269
I basically disabled all optimizations and re-enabled them one by one until it crashed and the CSE was the one that caused it. I didn't get further in my analysis

[2020-02-11 12:59] ekpyron opened #8291 "Refactoring of ReferenceResolver and/or "early Type checker" (e.g. for detecting recursive structs)."
Related to https://github.com/ethereum/solidity/issues/7779.

We have properties of types that depend on analysis steps, e.g. ``StructType::interfaceType()`` and ``StructType::recursive()`` and therefore also ``canLiveOutsideStorage()`` and ``calldataEncodedSize()``, etc.

We noticed in https://github.com/ethereum/solidity/issues/7779 that this can cause problems, if these members are called too e

[2020-02-11 13:11] #8031 closed, assigned to Marenz

[2020-02-11 15:22] Changochen commented on #8286
Hi @bshastry . Yeah, I also doubt whether this problem is serious. As one solidity developer said in one issue that "ICE is always a compiler bug", I decided to report it so that you can be at least aware of it.

[2020-02-11 15:26] frangio commented on #7856
I think I share that intuition. However, in the [spec for ERC721](https://eips.ethereum.org/EIPS/eip-721), the optional interfaces were documented as:

[code]

The inheritance was commented out because at the moment it wasn't allowed, but it would nowadays be uncommented. What would you say in this case? What's needed is the id for the uninherited functions of `ERC721Metadata`. Is the snippet wron

[2020-02-11 16:16] nventuro commented on #8281
As @axic pointed out, one of the benefits of `override` is that it lets the reader easily know if a function is 'new' or if it's just a definition for an already declared one. It also acts as an assertion that a function is indeed already declared, and prevents errors if the declaration changes on the interface but not on the implementation (making the derived contract abstract).

However, given t

[2020-02-11 16:25] chriseth commented on #8281
@frangio @nventuro so you wouldn't want to know if the function actually refers to the declaration in the interface or not? What if you have:

interface I
contract C is I
contract D is C

and a function `f` is defined in I and D. You wanted to define it also in C but you accidentally made a typo. The only protection against that typo in your proposed model is that you would get an error that you d

[2020-02-11 16:33] nventuro commented on #8281
If `C` didn't fully implement `I` due to lacking `f`, it'd then have to be `abstract`, which would hint that something may be wrong.

More importantly though, if `D` initially implemented `f` using `override` and the compiler did not raise any errors when it was also added to `C` (as happens in 0.6.2), `D`'s behavior would change from 'implementing an undefined function' to 'overriding a base impl

[2020-02-11 16:37] frangio commented on #8281
Note that this is only true if `f` is implemented as `virtual override` in `C`.

[2020-02-11 16:52] ekpyron commented on #8281
I'm wondering: Would anyone have a good suggestion for a second keyword for indicating that a function implements a previously unimplemented function? ``implements`` would be a natural choice, but then you kind of expect it saying *what* it implements... and requiring ``function f() external implements(I.f)`` might be a tad too much and I don't really like the look of it, but maybe there's a bette

[2020-02-11 17:08] axic commented on #8286
We (used to) have checks for too large initialisers. This probably is just a missing case and should definitely be reported properly as an error.

[2020-02-11 17:38] Marenz commented on #5969
ipc has been removed with evmone, closing....

[2020-02-11 17:38] #5969 closed, assigned to erak

[2020-02-11 17:44] Marenz opened #8295 "Test more types in isoltest function signatures"
Once #8294 is merged,
extend `TestFileParser::validateType(std::string _type)` to check more types (currently it checks only `int`, `uint` and `bytes`) from https://solidity.readthedocs.io/en/latest/abi-spec.html#types.

[2020-02-11 19:23] Changochen opened #8296 "ICE in (anonymous namespace)::ConstStateVarCircularReferenceChecker::visit"
## Description
Consider the following POC:
[code]

Run with `solc --bin -o poc poc.sol` and we got
[code]
## Environment

- Compiler version: Version: 0.6.3-develop.2020.2.10+commit.d033c2f7.Linux.clang
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: Ubuntu 16

[2020-02-11 22:26] agroce opened #8297 "ICE in solidity::u256 solidity::frontend::RationalNumberType::literalValue"
## Description

This contract:
[code]

produces:

[code]

when run with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer

## Environment

- Compiler version:  0.6.3-develop.2020.2.10+commit.e8eb1f2d.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environment / bac

[2020-02-12 01:16] thegostep opened #8298 "abi.encode does not handle address arrays"
## Description

`abi.encode()`, `abi.encodeWithSelector`, and `abi.encodeWithSignature` perform incorrect encoding of address arrays.

Expected behavior is to perform abi encoding of the array. Current behavior is to concatenate each item of the array.

## Environment

- Compiler version: 0.5.16
- Framework/IDE (e.g. Truffle or Remix): Remix

## Steps to Reproduce

[code]

[2020-02-12 10:07] chriseth commented on #8298
`abi.encode` performs abi-encoding, not rlp encoding. Can you explain what encoding you would expect and how the compiler performs it for your example?

[2020-02-12 10:09] #7352 closed, assigned to nobody

[2020-02-12 10:18] ekpyron commented on #8279
I guess this is most probably part of and solved by https://github.com/ethereum/solidity/issues/7779, resp.  https://github.com/ethereum/solidity/issues/8291

[2020-02-12 10:19] #8266 closed, assigned to ekpyron

[2020-02-12 10:20] ekpyron commented on #8275
I think this is also #7779, resp. #8291

[2020-02-12 10:25] ekpyron commented on #8282
Fixed by https://github.com/ethereum/solidity/pull/8274

[2020-02-12 10:25] #8282 closed, assigned to nobody

[2020-02-12 10:27] chriseth commented on #2324
This part of #7070 is implemented in #8161 but cannot be merged yet until the rest of #7070 is completed.

[2020-02-12 10:27] #2324 closed, assigned to chriseth

[2020-02-12 10:32] chriseth opened #8299 "[PR] Article about the new inheritance system"
Part of #8057

Problems in 0.5.0: All function virtual, not obivous if functions are overridden later in inheritance. Especially due to big inheritance graphs, this can easily happen.

inheritance system itself did not change: still have C3 linearization and super works as it did before.

We added restrictions to force users to be more explicit and reduce the bugs introduced by typos: Functions ar

[2020-02-12 10:33] chriseth opened #8300 "[PR] Article about fallback / receive split"
Part of #8057

[2020-02-12 10:45] chriseth commented on #8291
I think it makes sense to inject another stage between the reference resolver and the contract level checker that walks the full ast, but only checks properties of variables and does not descend into expressions.

It basically fills `annotation().type` for declarations, but not for expressions and checks that all types are well-formed. This allows us to terminate before running the contract level

[2020-02-12 11:19] christianparpart opened #8302 "[Sol->Yul] ternary expressions"
While working on another PR I found out that the following function yields to invalid IR:

[code]

Rewriting this function into an `if`/`else` and two `return` statements works around it, so I assume it's the ternary expression operator that causes it.

[2020-02-12 11:45] christianparpart commented on #8302
A more trivial example:

[code]

Which evaluates to:

[code]

[2020-02-12 11:54] ekpyron opened #8303 "[Yul] Allow tuple assignments."
We needed a lot of infrastructure to nicely support tuples (see https://github.com/ethereum/solidity/pull/8257) that could have been avoided by allowing tuple assignments in Yul.

It could be a simple optimizer pass to split them into separate assignments.

[2020-02-12 12:25] chriseth opened #8306 "Release 0.6.3"

[2020-02-12 13:20] chriseth commented on #8300
Draft: https://github.com/ethereum/solidity/issues/8057#issuecomment-572191897 / https://github.com/ethereum/solidity-blog/pull/1

The article should end up in the ethereum blog, not in solidity-blog. Here is the first article in the series: https://blog.ethereum.org/2020/01/29/solidity-0.6-try-catch/

[2020-02-12 13:31] ekpyron commented on #8195
Might need to touch the static Z3 PPA script.

[2020-02-12 13:43] chriseth commented on #8286
Maybe solved by #8291

[2020-02-12 14:08] chriseth commented on #8302
Assumption: This is because ternary operator is not yet implemented.

[2020-02-12 14:47] chriseth commented on #7856
@frangio you are right, this is a place where we would need the interface id of the "intrinsic" interface. Other solutions:
 - defining an interface without erc165 and inheriting from that as well as 165.
 - using `type(ERC721Metadata).inerfaceID ^ type(ERC164).interfaceID`

[2020-02-12 15:17] chriseth commented on #8297
Probably fixed by https://github.com/ethereum/solidity/issues/8291

[2020-02-12 15:18] #8219 closed, assigned to bshastry

[2020-02-12 15:21] chriseth commented on #8303
This needs changes in the grammar, the documentation, optimizer and AsmAnalysis. I don't think it is a breaking change. The document needs to define the order of execution and we need tests with side-effects in the components.

[2020-02-12 15:22] chriseth commented on #8303
To clarify: This is a change to both assignment and variable declaration. It is not a change to `Expression` - am I right?

[2020-02-12 15:25] chriseth commented on #8303
The AST would be a vector of expressions. Each expression has to evaluate to exactly one value and the number of expressions has to match the number of variables on the left-hand-side. As an exception, if the value is a single function call, it can evaluate to multiple values but their number have to match the number of variables on the left-hand-side.

[2020-02-12 15:32] #8205 closed, assigned to ekpyron

[2020-02-12 16:21] chriseth commented on #8298
From twitter I reckon that this is specific to inline arrays.

[2020-02-12 16:39] #8102 closed, assigned to nobody

[2020-02-12 16:50] chriseth opened #8308 "YulUtilFunctions::allocateMemoryArrayFunction does not zero out the memory"
The function is only used in the Yul IR, so abi decoding is not affected (it would write the array contents out anyway).

We could have two versions, one that zeroes out and one that does not.

[2020-02-12 16:50] chriseth commented on #7351
Related: https://github.com/ethereum/solidity/issues/8308

[2020-02-12 17:40] #8296 closed, assigned to ekpyron

[2020-02-12 18:03] fulldecent commented on #7856
The ERC-165 identifier uses only the functions directly in the interface and it excludes the functions from the inherited interfaces.

Test case 1:

[code]

Test case 2:

[code]

This is not explicitly stated in ERC-165 (sorry!). But it is implied with its reference to Ethereum Name Service. And ENS prescribes the above process with its dependent interfaces.

Other than the ERC-165 standard, the a

[2020-02-12 18:35] thegostep commented on #8298
I expect this to work. Added more expected cases @chriseth. You are right - I meant abi encoding

[code]

[2020-02-13 02:03] mudgen opened #8312 "Any Problem with Prepending Variable Names with Dollar Sign '$' ?"
I find it useful to prepend all my state variable names with a dollar sign '$'.  In my code this immediately tells me which variables are state variables and which are not and helps avoid name clashes.

Is there any technical problem with prepending state variable names with a dollar sign?

Here is an example:
[code]

Also I could not find anywhere documentation for valid characters for variable n

[2020-02-13 11:39] chriseth commented on #8298
@thegostep I think the problem is that the type of an inline array is a statically-sized array, but you are passing the encoded data to a decoder that expects a dynamically-sized array. If you want to encode a dynamicalli-sized array, you have to create a temporary memory array.

[2020-02-13 11:40] chriseth commented on #8312
Should be perfectly fine!

[2020-02-13 11:40] #8312 closed, assigned to nobody

[2020-02-13 12:38] thegostep commented on #8298
Ah - spot on. The temporary array does the trick

[2020-02-13 15:01] Marenz commented on #8197
I can't assign him, but @aarlt is working on this

[2020-02-13 15:08] #8283 closed, assigned to Marenz

[2020-02-13 15:09] #8272 closed, assigned to Marenz

[2020-02-13 20:00] ekpyron opened #8315 "Better ASTVisitors"
- The boolean return value of the visitor functions can apparently be confusing.
- The PostTypeChecker violates the current visitation schema.
- The current visitation schema does not support inline visitations using lambdas.
- It would be nice to avoid the need for having ``libsolidity/ast/AST_accept.h``.

I think it is possible to build a generic visitation schema for the AST that solves these s

[2020-02-13 21:58] #8302 closed, assigned to leonardoalt

[2020-02-14 10:53] #8195 closed, assigned to nobody

[2020-02-14 10:57] chriseth commented on #7856
@fulldecent thanks for the clarifications! Would you think that `type(I).interfaceID` is an appropriate name for the xor of the identifiers of the functions defined in `I` (excluding the inherited functions)?

[2020-02-14 10:59] chriseth commented on #8298
I'm closing this. Please re-open if you think a change to the language or compiler is needed here.

[2020-02-14 10:59] #8298 closed, assigned to nobody

[2020-02-14 11:03] chriseth opened #8316 "Changelog entry for bugfix"
https://github.com/ethereum/solidity/pull/8313 needs a changelog entry.

[2020-02-14 11:15] chriseth commented on #8315
This looks very good! What we should check none of our ast nodes derives from an actual other ast node type (as opposed to an abstract type) - because this would not work in that case, right?

[2020-02-14 11:34] #8262 closed, assigned to nobody

[2020-02-14 11:43] ekpyron commented on #8316
https://github.com/ethereum/solidity/pull/8263 as well.

[2020-02-14 11:59] chriseth opened #8317 "[Yul Optimizer] For readability purposes, replace function return variables by the literal 0 until they are assigned for the first time."
Optimized code often uses the fact that function return variables are initialized to zero before they are assigned to for the first time. While this saves a stack slot, the code is not really readable.

We should replace references to function return variables by zero until they are assigned for the first time (take care of branches and for loops).

Another way to fix this would be to remove the m

[2020-02-14 12:05] ekpyron commented on #8317
Hm... saving a stack slot that way is nice, though, isn't it...?

[2020-02-14 13:02] chriseth commented on #8317
We could say that removing the slot again is another optimizer pass (just like the peephole optimizer for example).

[2020-02-14 13:27] ekpyron commented on #8317
Would that pass happen before generating the optimized IR output then or only happen during the translation to bytecode? Because in the former case the gain in readability would be restricted to intermediate steps only and I'm wondering if that'd be worth it...

[2020-02-14 14:09] #8316 closed, assigned to nobody

[2020-02-14 14:09] chriseth commented on #8317
Of course only in the latter case.

[2020-02-14 15:07] ekpyron opened #8319 "Generalized way to sort sets and vectors of AST nodes for guaranteeing deterministic order."
We have custom sorting logic at least in ``SMTEncoder::mergeVariables``, in ``ControlFlowGraph::VariableOccurrence``, in ``sortByContract`` in ``OverrideChecker`` in ``OverrideProxy::operator<`` in ``OverrideChecker::CompareByID``, in ``ConstStateVarCircularReferenceChecker::findCycle`` and will probably get a new one in https://github.com/ethereum/solidity/pull/8311.

They are not all exactly the

[2020-02-14 15:25] ekpyron commented on #8315
Yep, that would be a problem (although I think a potentially solvable one).
We also probably need a shared base class to the ``Visitor<NodeType>`` templates with a virtual accept function that the ``Visitor<NodeType>``s override, because otherwise we won't be able to visit a node with a pointer to one of its base classes. And then we unfortunately need to replace the ``Callable`` templates with ``

[2020-02-14 15:34] ekpyron commented on #8315
But yeah, the only way around that last part with a virtual base class to the ``Visitor<T>``s and ``std::function``s instead of the templates would probably be to entirely replace inheritance in the AST tree with e.g. ``variant``s similar to the Yul AST - and that would be an extraordinarily huge change that would affect everything everywhere and I'm not even sure it'd be feasible at all, let alon

[2020-02-14 17:42] ekpyron commented on #8315
Actually a ``std::function`` won't even work, so it might actually be that this is a deal-breaker on this proposal and we need to come up with something else, unfortunately.

[2020-02-15 04:23] fulldecent commented on #7856
Yes, I think this is an appropriate name.

It is consistent with the function definition at https://eips.ethereum.org/EIPS/eip-165

[2020-02-16 03:04] cameel commented on #7806
Here's an update about where we currently are in the process of implementing this feature.

### Phase A
#### What's been implemented so far
1. #8164 added the command-line application (`yul-phaser`) with the ability to parse command-line options, run a sequence of optimisation steps and print basic information about the population.
2. #8223 was a simple optimisation to make the algorithm not parse

[2020-02-16 07:19] wktian1987 opened #8329 "what if I need more than one compliers for one project."
## Description

I want to use more than one compiles when deploying a contract. For example, I use openzeppelin and other libraries, but they are editted for different version of compilers.

[2020-02-17 10:56] chriseth commented on #8171
It turns out that the legacy assembly output does not support multi-file sources.

[2020-02-17 11:29] chriseth commented on #7727
@axic do you have an opinion on this?

[2020-02-17 12:16] chriseth commented on #8329
Can you come to http://gitter.im/ethereum/solidity or  http://gitter.im/ethereum/solidity-dev to ask this question? Thanks!

[2020-02-17 12:16] #8329 closed, assigned to nobody

[2020-02-17 13:48] leonardoalt opened #8330 "[SMTChecker] Support function type"

[2020-02-17 15:49] christianparpart commented on #8315
@ekpyron actually you can work around that: The Callable type signature just doesn't look as trivial as `std::function<Ret(Args...)>` anymore.

At least if I understand your concern correctly, you cannot use std::function<> in constexpr context. With the following, you can work around that (in case that's why you said it's a potential deal breaker):

[code]

[2020-02-17 15:53] ekpyron commented on #8315
The problem is rather that we need to be able to visit nodes using pointers to their base classes, so we need to pass through a virtual function one way or another and thereby loose the ability to templatize the callable.

[2020-02-17 15:58] ekpyron commented on #8315
But (in the meantime) I think one can work around that as well.

[2020-02-17 16:00] ekpyron commented on #8315
I think there's not that much need for these things to be constexpr actually.

[2020-02-17 16:04] chriseth commented on #7714
Relevant function: `TestFileParser::parseFunctionCallValue`

[2020-02-17 16:04] chriseth commented on #7714
Assigning to @mijovic

[2020-02-17 16:56] chriseth commented on #8171
@Aniket-Engg it turns out that the source reference only has a `start` and `end` field, but no `sourceIndex`. We are fixing this by adding a field `source` - would that work for you?

[2020-02-17 17:12] bshastry opened #8332 "[Clang-10] Direct list initialization of std::variant fails in IRGeneratorForStatements.cpp"
https://github.com/ethereum/solidity/blob/2d1c4b770fc884986450f3f12780644a06e9f7f2/libsolidity/codegen/ir/IRGeneratorForStatements.cpp#L969-L972

Clang 10 complains that

[code]

[2020-02-18 08:09] bshastry opened #8335 "[Fuzzer] Fix nightly CI"
Fix for #8219 (see #8289) did not clone fuzzing seed repository and contained other bugs in the python script such as not correctly checking for failure patterns etc.

This PR hopefully finally fixes the buggy build. Tested in circle ssh. Should bring down nightly CI run to under 6 minutes. If we are happy with this latency, we may consider switching from nightly to regular CI. However, this shoul

[2020-02-18 10:14] Marenz commented on #8295
Obsolete as #8294 was refused

[2020-02-18 10:14] #8295 closed, assigned to nobody

[2020-02-18 10:32] Marenz commented on #8244
@a3d4 started working on this

[2020-02-18 11:47] #8171 closed, assigned to nobody

[2020-02-18 11:52] chriseth commented on #7856
@frangio @axic what is your opinion on disallowing this on contracts and only allowing it on actual interfaces?

[2020-02-18 13:46] #8332 closed, assigned to nobody

[2020-02-18 13:48] #8335 closed, assigned to nobody

[2020-02-18 13:57] #7835 closed, assigned to erak

[2020-02-18 14:18] chriseth commented on #8319
We should add an operator that compares by ID and a callable object that takes ast pointers and compares them.

[2020-02-18 14:31] chriseth commented on #8315
How much work would it be to change all the visitors we have to this way?

[2020-02-18 16:07] chriseth commented on #7070
@mijovic something similar to the VarDeclInitializer should be done to `InlineModifier::performInline`, line 201. Maybe it could make sense to make "zeroLiteralForType" a virtual function of Dialect.

Please create a new test similar to `test/libyul/yulOptimizerTests/fullInliner/multi_return.yul`, but with evmTyped as dialect and change one of the return variables of the function to `bool`.

[2020-02-18 17:33] axic opened #8343 "[Sol - Yul] Support built-in functions"
Example (`keccak256` is supported now, but `abi.encode isn't)
[code]
- [x] Internal, ///< stack-call using plain JUMP
- [x] External, ///< external call using CALL
- [x] DelegateCall, ///< external call using DELEGATECALL, i.e. not exchanging the storage
- [x] BareCall, ///< CALL without function hash
- [x] BareCallCode, ///< CALLCODE without function hash
- [x] BareDelegateCall, ///< DELEGATECALL

[2020-02-18 17:34] axic opened #8344 "[Sol - Yul] Support constants"
[code]

[2020-02-18 22:20] #8306 closed, assigned to nobody

[2020-02-19 03:45] cameel commented on #7806
I got some early results from my experiments with the phaser. It's still just for a single program (I used `test/libyul/yulOptimizerTests/fullSuite/abi_example1.yul` for now) but the results look promising.

### Comparison with the current optimisation sequence
I was curious how it fares compared to the [sequence of optimisations used currently by `OptimiserSuite`](https://github.com/ethereum/soli

[2020-02-19 05:12] Aniket-Engg commented on #8171
@chriseth  cool thanks. I think as per this https://github.com/ethereum/solidity/pull/8337/files#diff-bed45194acea445df8a87c7fefbe0e8cR250 , `source` field provides source index, is it?

[2020-02-19 06:41] nathsmaR opened #8347 "Gof"
## Description

## Environment

- Compiler version:
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduce

[2020-02-19 06:41] nathsmaR commented on #8347
Ninn

[2020-02-19 08:44] chriseth commented on #7806
Concerning Phase B:
 - multiple programs is the highest priority I would say
 - StackCompressor and ConstantOptimizer can be completely ignored I would say
 - printing a list of steps for suite.cpp: Maybe it would be better to modify Suite.cpp to take a string of abbreviated step names instead. We could think about how to introduce loops. Maybe "abc(def)gh" could mean that "def" can be repeated, a

[2020-02-19 11:30] chriseth commented on #8171
Yes, it does.

[2020-02-19 11:30] #8347 closed

[2020-02-19 11:52] axic commented on #8171
@chriseth do we want to drop it with 0.7?

[2020-02-19 13:13] ekpyron commented on #8315
I think we first need to come up with a viable concept that supports visiting by pointers to base classes - that *will* introduce some complications and we might end up with something quite similar to what we have now (we'll probably still need the ``ASTVisitor`` classes and the double-dispatch and could merely somewhat hide it away in the "public" visitation interface). Once we have a concept lik

[2020-02-19 13:26] ekpyron commented on #8330
So basically the idea is to model an internal dispatch function for each function signature. So given this situation:
[code]

what the encoding can do is to introduce two artificial internal dispatch functions for the two signatures of internal functions that are used as function pointers. So internally the contract would be encoded as if it was the following:

[code]

Something similar can be don

[2020-02-19 14:00] christianparpart opened #8349 "[Sol2Yul] Implement type conversions"
I'm not sure if no type conversions at all are implemented, but at least the following is missing:

[solidity::frontend::YulUtilFunctions::conversionFunctionSpecial](https://github.com/ethereum/solidity/blob/develop/libsolidity/codegen/YulUtilFunctions.cpp#L1884).

[2020-02-19 14:02] christianparpart opened #8350 "[Sol2Yul] codegen for constructors with parameters"
See IRGenerator.cpp line 261

[code]

[2020-02-19 14:24] chriseth commented on #6220
@ekpyron are we still set on this?

[2020-02-19 14:25] chriseth commented on #6220
Ah sorry, this is still useful, I think I was confused.

[2020-02-19 14:40] chriseth commented on #8171
I fear we do not yet have a real alternative.

[2020-02-19 14:43] axic commented on #8171
What is it used for? We also have the pretty printed text, which handles sources properly. Only the JSON assembly monstrosity is problematic.

[2020-02-19 15:08] chriseth commented on #8171
remix

[2020-02-19 15:11] chriseth commented on #7897
Do we want this for 0.7.0?

[2020-02-19 15:12] christianparpart opened #8352 "[Sol2Yul] codegen for Array conversions"
`string YulUtilFunctions::conversionFunction(Type const& _from, Type const& _to)` does not implement array conversion when `_from` and `_to` differ in types.

example:

[code]

[2020-02-19 17:53] cameel commented on #7806
Here are the optimised programs you requested:
- [abi_example1-CfxCIiOglTiscTrvtuaxiciCcUMcl.yul](https://github.com/ethereum/solidity/files/4226325/abi_example1-CfxCIiOglTiscTrvtuaxiciCcUMcl.yul.txt)
- [abi_example1-eamxfijlcTgisvtxMciCcUl.yul](https://github.com/ethereum/solidity/files/4226326/abi_example1-eamxfijlcTgisvtxMciCcUl.yul.txt)

Today I let the phaser run for several hours **without**

[2020-02-19 23:36] a3d4 commented on #8244
If we introduce `addSetting()`, the following issue has to be addressed.

Consider, for instance, `SMTCheckerTest` and `SyntaxTest`. Both classes can be instantiated and `SMTCheckerTest` is derived from `SyntaxTest`. (That violates Meyer's "Make non-leaf classes abstract" recommendation BTW.)

`SMTCheckerTest` has `"SMTSolvers"` setting. `SyntaxTest` has `"optimize-yul"` setting.

If we construct

[2020-02-20 02:09] mudgen opened #8353 "Change the Layout of Storage Variables for Upgradeable Proxy Contracts"
## Abstract
Upgradegradable proxy contracts that delegate to other contracts (called delegate or logic contracts) for functionality currently have second-class variable storage layout support in Solidity.

The problem is that storage variable declarations must match/line up between a proxy contract and all delegate contracts that are delegated to by the proxy contract.

In the case of a proxy cont

[2020-02-20 04:08] apguerrera opened #8354 "Arbitrary order of contracts in override specifier is confusing."
Version: solidity ^0.6.3
Platform: http://remix.ethereum.org/#optimize=false&evmVersion=null&version=soljson-v0.6.3+commit.8dda9521.js

Issue: override(Two, One) doesn't seam to have the intended behavior. Instead, it retains the contract import inheritance.

Example:

[code]

Thanks to BokkyPooBah for workshopping this and providing the code examples

[2020-02-20 05:58] bshastry opened #8355 "[ossfuzz] docker image update"
## Abstract

An upcoming yul fuzzer PR (see #8305 ) depends on an updated version of libprotobuf-mutator aka LPM (includes support for user-defined mutations).

Issue tracks support for installing the newer LPM version in ossfuzz docker image (ubuntu-1904-clang).

[2020-02-20 05:59] bshastry opened #8356 "[Build/CI] Permit different docker image revisions for ubuntu 1904, 1804, and clang images"
## Abstract

At the moment, we have a single config parameter (pipeline parameter) that to reference docker image revisions. This is going to be a problem as specific docker images may need updating (see #8355 ).

Issue tracks support for separate config parameters per referenced docker image so that we need only update/tag changed images.

[2020-02-20 09:41] bshastry opened #8358 "[docker] ossfuzz image: Upgrade libprotobuf-mutator"
## Abstract

Required by #8305

[2020-02-20 09:48] axic commented on #8353
See also #597.

It took me a while to read because the description is quite big, but the actual proposal is in the middle:

While this seem like an elegant solution, please note that this addition means either doing an extra round of hashing (and storing the input in the contract) or storing the hash in the contract, both of which are quite expensive.

[2020-02-20 11:47] chriseth commented on #7783
CompilerStack has a setting to either run in "Yul" mode (taking Yul code as input) or in (regular) "Solidity" mode. Both modes have their own "compile" functions, but use roughly the same input structure and produce roughly the same output structure. What is missing from the Yul mode is the source references.

The Solidity mode has code
[code]

while in Yul mode, the source mappings are not passed

[2020-02-20 12:06] chriseth commented on #7783
Taking into sprint2.

[2020-02-20 12:41] mudgen commented on #8353
Thanks @axic. Perhaps this could be an optional feature that is enabled with a pragma directive. Because this may only be useful for the proxy contract pattern. Also, I am really interested in other possible solutions.

[2020-02-20 13:09] forshtat opened #8360 "Calldata to memory conversion for structs is not implemented"
## Description
This small contract is all it takes to crash the solidity compiler:

[code]

Generates the following output:
[code]
## Environment

- Compiler version: 0.6.3

[2020-02-20 13:09] forshtat commented on #8360
A link to a PR that seemingly adds support for calldata structs:
https://github.com/ethereum/solidity/pull/6262

Possibly related issues:
https://github.com/ethereum/solidity/issues/7929 - modifiers
https://github.com/ethereum/solidity/issues/8210 - fixed size arrays

[2020-02-20 13:18] leonardoalt commented on #8353
We have been using the JSON interface for different options and configurations. I think this would be encouraged instead of a pragma directive.

[2020-02-20 14:26] chriseth commented on #8353
Oh wow, I just wanted to propose the following:

[code]

when I realized that we have no way to assign to storage pointer variables in assembly. Did nobody ever try that?

[2020-02-20 14:31] chriseth commented on #8353
Regardless of the above, I would be happier with a more explicit notation like for example
[code]

[2020-02-20 14:41] chriseth opened #8361 "Allow assigning to storage pointer variables from inline assembly"
References https://github.com/ethereum/solidity/issues/8353#issuecomment-589077551

Restricting access to storage pointer variables but not memory pointer variables is asymmetric. Lifting the restriction would allow some interesting patterns.

[2020-02-20 14:46] chriseth commented on #8354
The override specifier has no semantic influence, it is a purely syntactic "clarifier". The order of contracts in the override specifier is arbitrary. Maybe we should require that the order is the same as the one deduced using linearization.

[2020-02-20 14:48] #8356 closed, assigned to bshastry

[2020-02-20 14:48] Marenz commented on #8244
for solution **[d]**, how would that work with non bool/int settings like evm version?

[2020-02-20 14:53] chriseth commented on #8360
This is the same issue as #7929

[2020-02-20 14:53] #8360 closed, assigned to nobody

[2020-02-20 15:15] #6763 closed, assigned to nobody

[2020-02-20 16:29] a3d4 commented on #8244
It could be a static utility function, e.g. `initEvmVersionSetting()`. Or we can handle it the same way as now. Since we have a limited number of settings, the first option might be slightly better.

[2020-02-20 18:32] mudgen commented on #8353
@chriseth I see, so structs could be used for the storage layout of proxy and/or delegate contracts. I also like explicitness. This is brilliant, I love it!

I love the syntax you gave for defining storage pointers: `Data data internal at keccak256("DelegateB");` How quickly could this be implemented and released?

[2020-02-20 18:51] mudgen commented on #8353
@chriseth Could there be a way to specify a struct to use for the storage layout for a contract?  Here is an example:

[code]
Notice that I did not need to prepend a struct variable name to access the "a" and "b" members of the struct.

Using the storage pointer definition syntax other delegate contracts can access the storage layout of DelegateB. Here is an example:

[code]
I think this is pretty

[2020-02-21 02:47] mudgen commented on #8361
Yes, I agree!

[2020-02-21 03:06] mudgen commented on #8353
@chriseth I eagerly await your feedback.

I am planning to launch a new and improved proxy contract upgrade standard based on [ERC1538](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1538.md) and recent solidity features. Having the above storage layout mechanisms we are discussing would make it so much more developer friendly and better.

[2020-02-21 13:07] leonardoalt commented on #8308
If we wanna have two versions, what's the use case for one and the other? Should all current behavior be replaced by the new function that always zeroes?

[2020-02-21 13:27] cameel commented on #7806
I have the results from letting it run overnight with a modified `CodeSize` metric (+1 for blocks, variable declarations, assignments and expression statements):

[code]

Here's the code produced by the top chromosome: [abi_example1-IaficTrxuivjVsexmuOisgitafruxcujjVcu.yul](https://github.com/ethereum/solidity/files/4236232/abi_example1-IaficTrxuivjVsexmuOisgitafruxcujjVcu.yul.txt). It's now small

[2020-02-21 14:24] leonardoalt commented on #8308
Is there any example that triggers this bug?

[2020-02-21 14:56] leonardoalt commented on #8308
[code]
This test passes.

[2020-02-21 15:07] leonardoalt commented on #8308
Since the free memory pointer only increases, isn't every allocated chuck already zero by default?

[2020-02-21 15:52] 3esmit opened #8363 "Deprecate `gasleft()` native method (GAS opcode)"
Ethereum plans to remove support to GAS opcode, therefore this should be deprecated from Solidity, so developers get correctly advised to stop using it.

Contracts should be advised to externalize the parameters, having the msg.sender specifying the gasused in calldata, or whatever is the logic.

Caused by https://github.com/ethereum/EIPs/pull/2489

[2020-02-21 16:49] duytai opened #8364 "Out of bounds array access"
## Description
[code]
Compiler returns error: `Out of bounds array access `at `msg.sender.send(balances[2][3])`;
## Environment

- Compiler version: 0.6.1
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system: Mac 10.15.1

## Steps to Reproduce
Compile with the above source code

[2020-02-21 20:00] agroce opened #8365 "ICE in solidity::frontend::ExpressionCompiler::visit(const solidity::frontend::MemberAccess &) [unsupported member function]"
## Description

This contract:
[code]

produces:

[code]

when run with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer, now with a few more mutation operators

## Environment

- Compiler version:  0.6.3-develop.2020.2.10+commit.e8eb1f2d.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix

[2020-02-22 10:32] COLD-PLAY opened #8366 "Bytecode Output Problems"
Is there have any docs about the compiling? Cause I can not get the bytecode of some "internal" functions after my compilation(I set the flag but cannot find it).

[2020-02-22 12:24] zemse opened #8367 "Illegal characters in bytecode output"
I've asked it here in solc-js repo [#450](https://github.com/ethereum/solc-js/issues/450) but reposting it here just in case the issue might better suit here.

I have imported  `Merkle.sol`. But if use it's function `Merkle.verify` (on line 149) then compiled bytecode contains illegal characters like `__$` and `$__` between the hex code.

If I instead have the `Merkle` library function directly in

[2020-02-22 18:00] agroce opened #8368 "ICE in CompilerContext::appendInlineAssembly()::(anonymous class)::operator()(const std::__cxx11::string &) [Invalid assembly generated by code generator]"
## Description

The attached contract (which does not work well just copied from here, but is shown to give an overview of what it looks like):

[code]

produces:

[code]

when compiled with solc (optimization not needed)

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer, again with more mutation operators

## Environment

- Compiler version:  0.

[2020-02-22 18:06] agroce opened #8369 "Stack too deep in ABIEncoderV2 (ICE in yul::CodeGenerator::assemble(Block &, AsmAnalysisInfo &, evmasm::Assembly &,EVMVersion, ExternalIdentifierAccess &, bool, bool) [Stack too deep when compiling inline assembly: Variable dataEnd is 1 slot(s) too deep inside the stack])"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer, now with a few more mutation operators

## Environment

- Compiler version:  0.6.3-develop.2020.2.10+commit.e8eb1f2d.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or

[2020-02-22 23:06] ghallak commented on #5158
The cost of the function call is determined by passing it to `CodeCost::codeCost`, isn't that right?

Also, should this work only when the function's arguments are literals (e.g. `exp(2, 3)`)? Or should it work for all expressions including identifiers (e.g. `exp(a, b)`) and function calls (e.g. `exp(a, add(2, b))`)?

[2020-02-23 05:02] #8366 closed, assigned to nobody

[2020-02-23 13:22] chriseth opened #8370 "Implement ipfs for large files."

[2020-02-24 01:39] agroce opened #8371 "ICE in solfuzzer; file is invalid to solc"
## Description

This contract:
[code]

produces:

[code]

when compiled with solfuzzer.  solc just complains about the import.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer, now with a few more mutation operators

## Environment

- Compiler version:  0.6.3-develop.2020.2.10+commit.e8eb1f2d.Linux.clang
- Target EVM version (as per compiler set

[2020-02-24 10:58] chriseth opened #8372 "Check if the ast export / import tests have a FunctionDefintion with modifiers"
@aniket-engg reported that the ast export / import tests do not have a source file that generates a FunctionDefinition with a `modfiiers` field. We should investigate and add a test if it is missing.

[2020-02-24 11:26] chriseth commented on #7727
While indeed, the EVM does not require "payable" and that having "payable" might suggest that the receive function is called on the target, the fact that not requiring "payable" would help in this situation. In general, "selfdestruct" is a rather complicated process and the "payable" part is not the most complicated one. In a team discussion, we concluded that none of the two solutions is clearly

[2020-02-24 11:26] #7727 closed, assigned to nobody

[2020-02-24 11:30] chriseth opened #8373 "Warn if order in override specifier is different than in inheritance list"
Non-breaking part of https://github.com/ethereum/solidity/issues/8354

[2020-02-24 11:31] chriseth commented on #8373
Main question up for discussion is if the order should be exactly the same or reversed.

[2020-02-24 11:42] chriseth commented on #8361
Note that only structs, arrays and mappings can be storage pointers, so storage pointers only use `_slot`.

[2020-02-24 12:04] chriseth commented on #8109
We do not have a real use for this now. We can look at this again when other compilers implement metadata and / or standard io.

[2020-02-24 12:04] #8109 closed, assigned to nobody

[2020-02-24 12:08] chriseth commented on #8129
I think the solution here is to reveal one bid at a time - especially for an example contract this could be easier.

[2020-02-24 12:09] chriseth commented on #8133
Closing due to inactivity. Please re-open if you have further questions or information.

[2020-02-24 12:09] #8133 closed, assigned to nobody

[2020-02-24 12:14] chriseth commented on #8160
Solidity does not want to impose standards by means of adding language features. Also, it should only add features if it cannot be solved with libraries and inline assembly or if that is really cumbersome and error-prone.

Can you solve this with a library?

[2020-02-24 12:35] Aniket-Engg commented on #8372
same for:
- `names` field  in `FunctionCall` node, it is `[]` in each AST
- `overloadedDeclarations` field in `Identifier` node, it is `[]` in each AST
- `documentation` field for `ContractDefinition` & `FunctionDefinition`, it is `null` in each AST

[2020-02-24 12:43] leonardoalt commented on #8373
I think it should be the same as the contract inheritance specifier.

[2020-02-24 12:45] chriseth commented on #8373
I agree.

[2020-02-24 13:38] 3esmit commented on #8160
@chriseth It hard to solve that, we basically need to create a custom ABI decoder inside the contract for this types of signature.

We need to do that in the contract level because Solidity don't have it natively. This issue is a suggestion/feature request for having a Signature datatype which, 1. have a dynamic type; 2. can be nested indef....

[2020-02-24 14:01] #7714 closed, assigned to nobody

[2020-02-24 14:13] chriseth commented on #8160
Can you please explain again why a struct with `bytes` and `abi.decode` would not work?

[2020-02-24 14:16] chriseth commented on #8353
@mudgen we need more feedback on this, unfortunately. In my opinion, something like `using storage layout DataDelegateC at keccak256("DataDelegateC");` that applies to the whole contract is too dangerous and too easy to miss. Furthermore, it would be very complicated with regards to inheritance.

What I think could find better consensus is a single state variable (which might be of struct type) th

[2020-02-24 14:34] 3esmit commented on #8160
It can't deal with dynamic type.. So I can have decode into a fixed set, but not into a dynamic set.
We need a

For example, see the code snipped I shared above, to be able to achieve something similar to a dynamic type, this is the best I managed to do in Solidity:
[code]

where each of sub function would have its own way of initializing. This is a load of work for something that should be a stan

[2020-02-24 14:36] elenadimitrova commented on #8367
Have you tried linking the libraries into the `PlasmaManager` contract, it seems they are not linked, see https://solidity.readthedocs.io/en/latest/using-the-compiler.html#using-the-commandline-compiler and https://solidity.readthedocs.io/en/latest/contracts.html#libraries

[2020-02-24 14:49] chriseth commented on #8160
In my opinion, the community should agree on a standard. I'm neither in favour of enforcing a standard through the compiler nor with hiding complexity inside the compiler.

[2020-02-24 14:59] chriseth opened #8375 "Extend control flow analysis to inline assembly."
The following code should compile without warning:
[code]

For this, we need to descend into inline assembly in the control flow builder and handle lvalue and rvalue access to variables differently.

[2020-02-24 15:01] chriseth commented on #8364
Solidity does not have multi-dimensional arrays, it only has arrays of arrays. Because of that, `uint[3]` is an array of size 3, while `uint[3][4]` is an array of size 4 containing arrays of size 3.

[2020-02-24 15:01] #8364 closed, assigned to nobody

[2020-02-24 15:01] chriseth commented on #8364
Solidity does not have multi-dimensional arrays, it only has arrays of arrays. Because of that, `uint[3]` is an array of size 3, while `uint[3][4]` is an array of size 4 containing arrays of size 3.

[2020-02-24 15:06] #8358 closed, assigned to bshastry

[2020-02-24 15:07] 3esmit commented on #8160
I think your points are reasonable, and maybe this is a documentation issue then?

Where documentation says about ecrecover and signatures in general, it should perhaps mention about ERC-1271 (contract signatures) and how the signatures are being handled (compact representations, canonical format, etc) by web3 developers;

The documentation would not be forcing an standard. but would point out tha

[2020-02-24 15:18] NicolaGessa opened #8376 "Smart contract always return TransactionReceipt"
Hello all, I try to write a very simple smart contract, to call from a java program.

The contract is:

pragma solidity ^0.6.0;

contract Hello {

  function read() public view returns (string memory) {
    return "Hello";
  }

}

the java code to call the smart contract function is
Contract.read().send();

I tried in many ways, using pure , view or external, but I always receive this as result:
T

[2020-02-24 16:18] mudgen commented on #8353
Hi @chriseth.

That is a good point about inheritance.

Being able to create a dislocated state variable, like how you showed before: `Data data internal at keccak256("DelegateB");` would be very useful for most proxy contracts.

To answer your question regarding having a dislocated storage variable or having dislocated storage layouts for proxy contracts,  it depends. There are two different use

[2020-02-24 17:00] chriseth commented on #5158
The second argument should be a literal, the first can be anything (but should be a variable in yul).

[2020-02-24 17:05] chriseth commented on #8376
This looks like a problem with web3j. It might be due to the fact that we removed the `constant` field after having deprecated it a long time ago. Can you report the issue there? Thanks!

[2020-02-24 17:05] #8376 closed, assigned to nobody

[2020-02-24 17:11] chriseth commented on #8371
The assertion is in CompilerStack.cpp:1008

[2020-02-24 18:59] safakoks opened #8379 "Multi-file projects that do not all use ABIEncoderV2"
## Description

I tried ``truffle test``, it returns pointless error. Then, I used remix to compile test contract, it returns : ``` InternalCompilerError: Unknown dynamically sized type: struct Stack.Item memory```. After that, I added  ``pragma experimental ABIEncoderV2;`` into test contract. It compiled on remix perfectly but ``truffle test`` still does not work

## Environment

- Compiler versi

[2020-02-24 19:05] #7070 closed, assigned to chriseth

[2020-02-24 19:05] #8154 closed, assigned to nobody

[2020-02-24 21:39] mudgen commented on #8361
Good to know.

[2020-02-25 01:33] agroce opened #8382 "ICE in ArrayType::calldataEncodedSize(bool) [Array size does not fit unsigned]"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer, now with a few more mutation operators

## Environment

- Compiler version:  0.6.3-develop.2020.2.10+commit.e8eb1f2d.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or

[2020-02-25 05:58] zemse commented on #8367
Thanks for the links to the docs. I read about `placeholders`. It looks like I might be doing something wrong due to which the `placeholder` is coming in the bytecode.

I'm not importing libraries from any URL, nor I have any library address as libraries are not deployed on Ethereum, I intend to use library files that I have.

My files structure looks like this:
[code]

While giving input to the c

[2020-02-25 08:51] elenadimitrova commented on #8379
The above code compiles and works in Remix. Leaving for the truffle team to look into. Reopen if confirmed issue in Solidity compiler.
![Screenshot 2020-02-25 at 10 50 53](https://user-images.githubusercontent.com/703848/75230681-c8a5d200-57bc-11ea-9649-d6e40f4b21f0.png)

[2020-02-25 09:06] NicolaGessa commented on #8376
thank you chriseth,
I see there is  already the same issue in web3j/web3j (without response up to now).
In any case, I tried this code (without constant):

pragma solidity ^0.5.1;

contract Hello {

  function read() public pure returns (string memory) {
    return "Hello";
  }
}

with
SOLC: Version: 0.5.16+commit.9c3226ce.Linux.g++
Web3J: Version: 4.5.14

and it works.

So really I don't understa

[2020-02-25 09:13] bshastry commented on #8382
This might be a duplicate of #8286 that may be solved by #8291

[2020-02-25 09:13] bshastry commented on #8382
Thank you @agroce for bringing this to our attention.

[2020-02-25 09:17] bshastry commented on #8382
Not exactly a duplicate of #8286 since the assertion that fails is this

https://github.com/ethereum/solidity/blob/44bcff42f5fa835dbda83c9f6120f858038bb0f7/libsolidity/ast/Types.cpp#L1664

[2020-02-25 09:23] bshastry commented on #8365
@agroce Thank you for the report. Could you please tell us the command line invocation you used to reproduce this issue?

I tried to repro using `solc <file.sol>` on the latest `develop` commit (`44bcff42f`) but could not.

[2020-02-25 09:31] chriseth commented on #8376
The deprecated field was removed in 0.6.0, this explains why it works with 0.5.16.

[2020-02-25 09:36] chriseth commented on #8367
The compiler knows about the source code of he libraries, but that does not mean that they are linked. Linking means that you tell the compiler a contract address where the library is deployed.

Here is more information about linking with solc-js: https://github.com/ethereum/solc-js#linking-bytecode

It might be, though, that you do not want a linked library, but instead just want to import the co

[2020-02-25 10:11] chriseth commented on #8379
I suspect this actually is a bug in the compiler. Note that the old abi encoder is used in one file while the new abi encoder is used in the other file. The one that has the old encoder is using a new-encoder-feature during decoding. So to reproduce it, you need to use at least two source files.

[2020-02-25 11:34] chriseth commented on #8291
@mijovic started working on this.

[2020-02-25 13:15] Marenz commented on #8372
Maybe I don't understand the issue correctly, but we run the ast import/export test on all files in `test/libsolidity` that successfully compile. Among them for example:

[code]

Which includes the definition and usage of a modifier.
Running
[code]
on this creates an AST output that contains the following AST node which does contain `"modifiers"`:

[code]

I couldn't check the other mentioned poin

[2020-02-25 13:30] #8371 closed, assigned to nobody

[2020-02-25 13:45] chriseth commented on #8372
@Aniket-Engg was the above file not part of my export?

[2020-02-25 13:51] #7250 closed, assigned to nobody

[2020-02-25 15:21] mijovic commented on #8286
In ReferenceResolver.cpp line 275 in mobileType() call we check that number of elements for array fits u256 which in minimal example posted passes check because
57896044618658097711785492504343953926634992332820282019728792003956564819968 <
115792089237316195423570985008687907853269984665640564039457584007913129639935

Actual size of array can't fit u256. So it needs to be checked with additional

[2020-02-25 15:24] agroce commented on #8365
It was solc (compiled with AFL instrumentation, maybe that matters...) on 0.6.3-develop.2020.2.10+commit.e8eb1f2d.Linux.clang

[2020-02-25 15:36] chriseth commented on #8085
This includes:
 - [x] memory struct creation
 - [x] member access to memory structs
 - [ ] copying from storage to memory (#9602)
 - [ ] copying from memory to storage (#9602)
 - [x] copying from calldata to memory (#9503)
 - [x] member access for calldata structs (#9177)

[2020-02-25 15:43] agroce commented on #8365
Yes:

[code]

[2020-02-25 15:54] agroce opened #8383 "ICE: Throw in ArraySliceType::copyForLocation(DataLocation, bool)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  First one I've seen from normal AFL, but not (yet at least) from the mutant-based version.

## Environment

- Compiler version:  0.6.3-develop.2020.2.10+commit.e8eb1f2d.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM e

[2020-02-25 15:54] chriseth commented on #8370
Example file: https://ipfs.io/ipfs/QmUh6QSTxDKX5qoNU1GoogbhTveQQV9JMeQjfFVchAtd5Q/QXBvbGxvIDE0IE1hZ2F6aW5lIDY0L0xM

Structured view:

![image](https://user-images.githubusercontent.com/9073706/75264240-6dd99e00-57ef-11ea-8995-ea020be4f460.png)

First link:
![image](https://user-images.githubusercontent.com/9073706/75264273-79c56000-57ef-11ea-932d-f63b93415a3b.png)

[2020-02-25 17:12] chriseth commented on #8370
assigned to @mijovic

[2020-02-25 21:11] #8361 closed, assigned to nobody

[2020-02-25 21:34] #7783 closed, assigned to nobody

[2020-02-26 00:15] apguerrera commented on #8354
Shouldn't specifying the order in the override have an impact on super. is called in individual functions?

[2020-02-26 01:05] wjmelements commented on #7727
@chriseth This is a clear inconsistency in the meaning of `payable`. Yet another reason to hate solidity.

[2020-02-26 01:13] agroce opened #8386 "ICE in ContractCompiler::visit(InlineAssembly &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer, now with a few more mutation operators

## Environment

- Compiler version:  0.6.3-develop.2020.2.10+commit.e8eb1f2d.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or

[2020-02-26 04:43] zemse commented on #8367
Thanks for guiding! Marking the library functions `internal` helped me what I wanted to achieve.

[2020-02-26 04:43] #8367 closed, assigned to nobody

[2020-02-26 10:48] bshastry opened #8387 "[Docker] ossfuzz image missing curl"
## Abstract

Somehow curl was reported to be missing from ossfuzz nightly docker image although I tried to keep the dockerfile as similar as possible. `curl` is needed to post job status message to gitter channel.

Issue tracks support for installing curl in nightly docker image.

[2020-02-26 11:43] Marenz commented on #8372
Checking the further points mentioned, for the names field, the file `test/libsolidity/semanticTests/functionCall/named_args.sol`
with the content

[code]
Running
[code]

results in the following AST (I removed irrelevant parts from the output):

[code]

[2020-02-26 13:23] Marenz commented on #8244
So one thing we can consider is that there is a `create` function for all the classes that takes care of init. Maybe we can add a call to the `init()` function in there and make the c'tor protected?

[2020-02-26 13:50] #8387 closed, assigned to bshastry

[2020-02-26 13:55] bshastry opened #8389 "[Security] Policy for Solidity"
## Abstract

GitHub supports a security policy interface. This issue tracks support for making use of it.

## Motivation

TBD

## Specification

TBD

[2020-02-26 14:20] chriseth commented on #8386
Inline assembly access to functions should not be possible.

[2020-02-26 14:21] chriseth commented on #7727
:(

[2020-02-26 14:22] chriseth commented on #8354
@apguerrera the specific meaning of `super` does not only depend the contract, this keyword is used in. It depends on the full inheritance hierarchy, including contracts that the current contract is not even aware of.

[2020-02-26 14:32] leonardoalt commented on #7727
@wjmelements  Just curiosity, what are the others?

[2020-02-26 16:07] chriseth commented on #8370
Explorer: https://explore.ipld.io/#/explore/QmfQkD8pBSBCBxWEwFSu4XaDVSWK6bjnNuaWZjMyQbyDub

[2020-02-26 16:15] chriseth commented on #8370
protobuf spec: https://github.com/ipfs/go-merkledag/blob/master/pb/merkledag.proto

[2020-02-26 16:21] chriseth commented on #8370
Protobuf for the file itself: https://github.com/ipfs/go-unixfs/blob/master/pb/unixfs.proto

[2020-02-26 16:30] chriseth commented on #8370
all-zeros file from the tests:

Block:
[code]

links:
[code]

[2020-02-26 16:35] chriseth commented on #8370
Decoding of `QmRk1rduJvo5DfEYAaLobS2za9tDszk35hzaNSDCJ74DA7`:  `0x1220328f549938f9ca71d855f81335f36dafa2a8ba0e8ec8595c583e08e2f70995f8`

[2020-02-26 18:47] wjmelements commented on #7727
* The need to upcast contracts to `address` in >=0.5
* `mload(0x40)`
* The never-optimized universal storage layout, particularly that multi-layer mappings use multiple sha3

Of course there are things I like about it as well (uint256 constant-suffixes, inline asm, and fallback functions), and it's the best evm language at this time by far, but that means living with its flaws if you are a contrac

[2020-02-26 20:50] leonardoalt commented on #7727
I guess we all live with the flaws and things we dislike about the programming languages we use the most.

The third point though, it's a security feature. If you use a single hash of all the keys for a multi-d mapping access you can easily get collisions.

[2020-02-26 21:36] wjmelements commented on #7727
With a different scheme the field identifier would be enough to prevent collisions. For example,
`sha3(uint256(field_id) . uint256(key1) . uint256(key2) . ...  . uint256(keyN))`. You wouldn't be able to tightly pack the keys but that's fine since `MSTORE` writes 32 bytes. A further benefit is that you could reuse this memory no matter what changed in the query. If you went from looking up an accou

[2020-02-27 02:16] haltman-at commented on #1409
Jumping in from the future to note that, hey, this is implemented now and can be closed. :)

[2020-02-27 02:27] haltman-at opened #8394 "Getters for enum-indexed mappings don't check their arguments"
## Description

While normally Solidity prevents out-of-range enums from existing, it's still possible to create them by manually passing them in from outside, as functions don't in general check the validity of enums and booleans passed in from outside.  That's not the problem; I'm assuming that's intentional and not going to be changed anytime soon.

The problem is that getters for public enum-k

[2020-02-27 06:57] agroce commented on #8383
If it's any help, this maybe simpler code does the same thing:
[code]

[2020-02-27 10:08] apguerrera commented on #8354
Could override(One,Two) indicate your preferred ordering within the hierarchy?
Otherwise, if it is just arbitrary, why not simply leave it as override.

[2020-02-27 10:23] bshastry commented on #8355
Closed via #8358

[2020-02-27 10:23] #8355 closed, assigned to bshastry

[2020-02-27 10:33] bshastry commented on #7257
Closed via #8362

[2020-02-27 10:33] #7257 closed, assigned to nobody

[2020-02-27 11:46] Aniket-Engg commented on #8372
@chriseth I had the `modifiers` one but not the `names` one

[2020-02-27 12:23] chriseth commented on #8394
ABIEncoderV2 enabled strict parameter checking, and if you activate it, the code reverts for both functions.

[2020-02-27 12:23] #1409 closed, assigned to nobody

[2020-02-27 12:59] chriseth commented on #8354
It is not about specifying an order but about specifying which contracts you inherit from also define that function. Since the order of inheritance cannot be changed on function basis, you specify it when specifying the bases: `contarct c is One, Two`

[2020-02-27 13:46] chriseth commented on #8372
@Marenz can you take a look at the second part, please?

[2020-02-27 13:50] chriseth commented on #7727
The main feature is actually "partial evaluation" - you can refer to `m[x]` as `y` and pass it on across function calls and then use `y[t]` to do the next lookup.

[2020-02-27 13:51] chriseth commented on #7727
... AND the type of this `y` is just the type if `m[x]` and not something like `partially_evaluated_m`.

[2020-02-27 14:18] bshastry opened #8395 "[solc] Fuzzing: Leak exceptions"
## Abstract

Currently, the solc fuzzers invoke StandardCompiler's compileSolidity API that does **not** leak exceptions, rather "strigifies" them in the json output.

https://github.com/ethereum/solidity/blob/bb09787bd0bcbcbebf7d47584e58363d332f9d92/libsolidity/interface/StandardCompiler.cpp#L763

The fuzzer harness looks for the string "InternalCompilerException" in the json output, and if found

[2020-02-27 14:59] chriseth commented on #3835
If we want to allow immutable state variables for libraries, then we have to allow them to have a constructor.

[2020-02-27 15:52] frangio commented on #7856
I don't have a strong opinion but I feel that disallowing on contracts is kind of arbitrary. A contract defines an interface too.

[2020-02-27 16:03] haltman-at commented on #8394
Oh, I totally didn't realize!  Thanks!  I do think that getters should still always check parameters for consistency, but it's still really nice that ABIEncoderV2 turns on strict parameter checking generally.

[2020-02-28 14:34] bshastry opened #8401 "[Fuzzing] Update solidity fuzzing dictionary with >0.6.0 keywords"
## Abstract

Will permit mutations containing new keywords.

[2020-02-28 23:18] cd1m0 opened #8403 "Internal compiler error in the presence of try/catch parameter shadowing"
## Description

The following contract causes an internal compiler exception:

[code]

Changing one of the `string memory x` parameters to a different variable removes the problem. Exception below:

[code]

## Environment

- Compiler version: 0.6.3+commit.8dda9521.Linux.g++ (latest stable docker image)
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/

[2020-02-29 10:55] axic commented on #8395
Why don't you just use `CompilerStack` directly for this case?

[2020-02-29 17:14] lmahanand commented on #8133
I am trying to compile smart contracts but it has resulted in below mentioned buffer space related error:

[code]

Is anyone able to solve this issue?

[2020-03-01 01:15] rschumi0 commented on #7820
Just to be complete, here are two more cases where I expect the computation order to be an issue:
[code]

[2020-03-02 01:19] agroce commented on #7039
@chriseth I assume this example of this:

[code]

is just a hard-baked limit/not so hot error (an ICE isn't super-friendly), but not a bug/new bug.  Bit surprised this is the first the fuzzer stumbled on these...

[2020-03-02 01:24] agroce commented on #8279
[code]

is a slightly simpler (I think) version of probably the same bug, discovered by the afl-with-mutants tool.

[2020-03-02 10:45] bshastry opened #8404 "[solc] ICE: thows InvalidOpcode exception in Instruction.h"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/b65a165da19f150fbff39eac08729da72e4216c3/libevmasm/Instruction.h#L259

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): NA

## Steps to Reproduce

[code]

[2020-03-02 10:51] bshastry opened #8405 "[SMTChecker] SMTEncoder throws ICE when m_context.knownExpression(*tComponent) is nullptr"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/b65a165da19f150fbff39eac08729da72e4216c3/libsolidity/formal/SMTEncoder.cpp#L422

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): NA

## Steps to Reproduce

With solc linked against z3,

[code]

[2020-03-02 11:03] bshastry opened #8406 "[solc] ContractCompiler throws ICE because "*type == *variable->annotation().type" fails"
## Description

[code]

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): NA

## Steps to Reproduce

[code]

[2020-03-02 11:15] bshastry opened #8407 "[SMTChecker] ICE in SMTEncoder because "symbComponents.size() == _tuple.components().size()" fails"
## Description

[code]

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): NA

## Steps to Reproduce

With solc linked against z3,

[code]

[2020-03-02 11:40] ekpyron commented on #8147
To elaborate a bit:
We recently introduced new syntax for specifying gas and value for external function calls. The old syntax was:
[code]
The new syntax is:
[code]
Similarly, the syntax for contract creation ``new C.value(42)()`` was replaced by ``new C{ value: 42}()``.
While we need to support the old syntax until the next breaking release, we should add a deprecation warning for it now.
The fir

[2020-03-02 11:42] ekpyron commented on #8147
@mijovic will be working on this.

[2020-03-02 12:46] mudgen commented on #8375
Can this be part of Sprint 3?

Will the ability to use displaced local storage pointers work without error or warning in the next release of solidity?

[2020-03-02 13:25] Marenz commented on #8372
@Aniket-Engg could you explain to me how you arrived at your conclusions so I can reproduce the problem? :-)

[2020-03-03 07:39] bshastry opened #8412 "[solc] ICE in codegen because "variable->type()->category() == Type::Category::Integer" fails"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/b65a165da19f150fbff39eac08729da72e4216c3/libsolidity/codegen/ContractCompiler.cpp#L693

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): NA

## Steps to Reproduce

[code]

[2020-03-03 08:55] bshastry commented on #8383
This may be a duplicate of #8265 going by location of the failed assertion.

[2020-03-03 10:50] robinbryce commented on #8281
Interfaces require that inheriting contracts implement all the methods declared in the interface. There is, by definition, nothing to override. This was a clean intuitive means to guard against incomplete implementations in related contracts.

Now, with 0.6, having made that declaration, we aditionally need to tag all the implementations as 'override' - and yet they are not overriding anything.

I

[2020-03-03 12:01] #8405 closed, assigned to nobody

[2020-03-03 12:01] #8407 closed, assigned to nobody

[2020-03-03 13:51] ekpyron commented on #8404
@mijovic will be working on this.

[2020-03-03 15:11] k06a commented on #8354
What is the exact reason to add types into `override` keyword? I am afraid it is over-protection for developers also breaking existing Solidity best practices and programming principles. I was pretty sure that language evolution should go hand in hand with leading libraries/solutions build using this language. Did you eve heard that a new C++ standard broke STL approach?

[2020-03-03 16:35] agroce commented on #8383
Yes, looks likely, must've made an error in my search for the message

[2020-03-03 19:16] k06a commented on #8141
What is the exact reason to have such powerful restrictions for `override` keyword? I am afraid it is over-protection for developers also breaking existing Solidity best practices and programming principles. I was pretty sure that language evolution should go hand in hand with leading libraries/solutions build using this language. Did you eve heard that a new C++ standard broke STL approach?

Mayb

[2020-03-04 08:42] ekpyron commented on #8141
I'm not sure what "powerful restrictions for the ``override`` keyword" you are talking about. I'm also not sure what "best practices" the 0.6 changes are supposed to have broken.

The case for which we decided to require explicitness is the case where a contract inherits from multiple contracts that contain the same function, e.g.
[code]
When calling ``C.f`` it is not immediately apparent, if it c

[2020-03-04 09:59] ekpyron commented on #8375
I'm looking into it now, so it should be part of the next release.

[2020-03-04 12:24] k06a commented on #8141
I believe this should produce a compilation error in the "new safer version of Solidity":
[code]

**Just allow `override` only `virtual` methods.** – This would not break the existing things.

Trying to define _explicit overriding_ over _implicit linear hierarchy_ breaks, for example, ERC20 family of contracts in OZ library, which design was pretty convenient and safe.

[2020-03-04 12:29] k06a opened #8417 "Private method collision in hierarchy"
## Description

It seems a private method could be overridden!?

## Environment

- Compiler version: 0.5.16

## Steps to Reproduce

[code]
=>
[code]

[2020-03-04 12:46] ekpyron commented on #8141
Actually, I did forget the ``virtual`` keywords in my previous post. We *do* require a function to be ``virtual`` in order to override it.
I guess you're idea would be that:
[code]
should be an error due to ``A.f`` not being virtual and ``B.f`` overriding it. But in
[code]
The problems I tried to describe above still exist. Also you can't mark ``B.f`` override, since without the context in ``C``,

[2020-03-04 13:09] k06a commented on #8141
The following example should also fail:
[code]
Since both virtual methods are not abstract. To make it work you should derive both from some common ansector with `virtual` function `f()` to make sure it's the same API, for example we should be able to specify new implementation:
[code]

Maybe it's better to decide in runtime, than on compile time?
This would allow things like this:
[code]

[2020-03-04 13:26] bshastry opened #8418 "[solc] ASTUtils.cpp throws ICE "Identifier is not referencing a variable declaration""
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/a3bc752e5326b6c7341bba545044fd116e097942/libsolidity/ast/ASTUtils.cpp#L33

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): NA

## Steps to Reproduce

[code]

[2020-03-04 13:34] ekpyron commented on #8141
Well...
[code]
currently *does* fail.

And the following *is* allowed:
[code]
You just have to make explicit that you're not missing a base, which I'd consider a minor inconvenience compared to the benefit. Having a common base contract/interface makes it *more likely* that nothing will go wrong, but it doesn't prevent it (even though both ``A``s ``f`` and ``B``s ``f`` implement ``Z.f``, they migh

[2020-03-04 13:50] bshastry opened #8419 "[SMTChecker] SMTEncoder throws ICE because "smt::isInteger(_op.annotation().type->category())" is false"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/b10f12a39553e3d48be676ab2dedca555e7c8444/libsolidity/formal/SMTEncoder.cpp#L464

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): NA

## Steps to Reproduce

[code]

[2020-03-04 13:53] mudgen commented on #8375
@ekpyron This great news!  Thank you.

[2020-03-04 15:30] ekpyron commented on #8147
With https://github.com/ethereum/solidity/pull/8413 we started issuing warnings about this. I'll keep the issue open for turning this into errors for 0.7, though.

[2020-03-04 15:43] ekpyron commented on #8404
We'll turn this into a "stack too deep" assertion with https://github.com/ethereum/solidity/pull/8420, because that's basically what this is. Unfortunately, there's no really nice solution to catch these before code generation.

[2020-03-04 15:43] ekpyron commented on #8404
Not sure if we should keep this open or close it in favour of the general "stack too deep" problem once #8420 is merged...

[2020-03-04 18:13] nventuro commented on #8281
It feels like removing the requirement for `override` (or switching to a new keyword) when implementing an interface function (along with a deprecation message on the compiler output) would be non-contentious in terms of backwards compatibility.

From this discussion, it seems like moving in this direction would be desirable. Does anyone feel strongly about keeping `override` for some reason not d

[2020-03-04 18:24] k06a commented on #8141
@ekpyron I will return with a better description :)

[2020-03-04 19:32] ekpyron commented on #8281
Just to strengthen the case against removing the requirement without any replacement:
Suppose you have two interfaces:
[code]
Now consider two parties - one providing a contract library, and the other using it.
Initially the first party writes:
[code]
Now you have an auditor confirm that this always does the right stuff. It's a perfectly conformant implementation of I for an implementation of J th

[2020-03-04 20:08] nventuro commented on #8281
Yes, the scenario you've described isn't too different from Solidity v0.5, where you unexpectedly may end up overriding an already defined function.

Given the focus on readability and explicitness, somehow signalling that a definition corresponds to a previous declaration makes sense. I like the `implements function` syntax you proposed, but don't mind the alternatives.

[2020-03-05 09:34] ekpyron opened #8425 "Pureness of reading storage slots only without accessing storage."
Currently, within solidity code, any reference to a storage pointer is considered ``view``. However, there if there is actually no access to storage, but merely the storage slot is read, it could be considered ``pure``, e.g.
[code]
is currently invalid, but could be valid. This is especially interesting, since we allow assembly access to storage slots in pure functions already, so the following is

[2020-03-05 09:53] bshastry opened #8427 "[solc] AST Types.cpp throws ICE "Expected detailed error message!""
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/9318dae42cfd1a0f048665ec1eafae730bf7cb6b/libsolidity/ast/Types.cpp#L2211

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): NA

## Steps to Reproduce

[code]

[2020-03-05 12:11] montyly opened #8430 "Natspec tag for delegatecall targets"
Hi,

## Abstract

I have heard that you are looking to improve or change the natspec format, would it be possible to add a contract's tag to inform that the contract is meant to be a `delegatecall` target?

## Motivation
Many contracts are meant to only be a delegatecall target (either through a proxy factory, or for upgradeability). These contracts have specific properties, such as:
-  The state

[2020-03-05 12:13] rschumi0 commented on #8364
However, even for nested arrays, why do you start with the size of the inside array? When you access it you have to start with the index of the outside array and then continue inwards.

For example, when I had an array with a bit more nesting like this:
`a = [[[[3,1],[5,9]],[[6,8],[4,0]],[[1,9],[6,4]]],[[[0,4],[8,8]],[[10,6],[8,4]],[[2,10],[1,5]]],[[[8,3],[3,4]],[[0,4],[6,1]],[[10,8],[7,1]]]];`
I

[2020-03-05 18:04] ekpyron commented on #2918
We're considering this for 0.7.
We need to solve the following issues:
 - Are non-arithmetic operations allowed?
 - How will these types be represented in the ABI?
 - What about ranges exceeding 256-bits?
 - Do we need/want type aliases to alleviate verbosity in casting? Would those help or confuse?

My first reaction to those:
 - At first non-arithmetic operations are not allowed, but only possib

[2020-03-05 18:14] ekpyron commented on #2918
And yeah... I just used ``number{min,max}`` as syntax placeholder, but we need to decide on a final syntax as well of course. I think we decided against any syntax involving ``<...>`` in the past, since it's hard to parse, but we could also just look into working around that, if possible. I'm not sure if a syntax for a finite set of exact discrete values (as @axic suggested above) is too useful...

[2020-03-05 18:23] ekpyron commented on #2918
Syntax-wise ``number{min: 0, max: 100}`` would of course be future-proof and fit the create2 and gas/value syntax nicely - but I'm afraid it's too verbose... with that we'd probably really need to allow user-defined aliases...

Regarding casting: maybe we should actually evaluate how much effort range-tracking would be:
[code]
could be much nicer than having to use
[code]

But tracking ranges well

[2020-03-05 18:30] ekpyron commented on #2918
@leonardoalt In theory, how much trust would you have into using SMT solving for the range constraints for this :-)? We probably can't do it anyways, at least as long as we can't make SMT solvers a hard dependency of the compiler, which we can't until we have emscripten builds for them... and in general it might cause loads of problems, e.g. for reproducable builds, etc., but might still be fun to

[2020-03-05 18:32] ekpyron commented on #2918
Interestingly, things like ``+=`` won't be possible on these types unless we track constraints.

[2020-03-05 19:11] ekpyron commented on #2918
Another question: is dividing by a type with ``0`` in its range allowed :-)?

[2020-03-05 21:09] erak commented on #3418
This is up for grabs again. Please see https://github.com/ethereum/solidity/pull/8399.

[2020-03-05 21:11] erak commented on #8099
This is up for grabs again. Please see: https://github.com/ethereum/solidity/pull/8230.

[2020-03-06 04:32] MicahZoltu opened #8433 "Invariants"
## Abstract
I want the ability to define invariant assertions on my contract that are automatically checked anytime an externally called non-static function returns.

## Motivation
Writing secure code is hard.  It is much easier to write secure code if you can make some assertions that are guaranteed to always be true.

## Specification
A new `invariant` keyword would be added and would be allowed

[2020-03-06 08:29] ekpyron commented on #8350
For this we need to know where the constructor arguments start. Do we have an equivalent for ``CompilerStack::appendProgramSize()`` for Sol2Yul yet?

[2020-03-06 08:40] Amxx opened #8434 "Cannot call unimplemented base function: inconsistency soljs vs solc"
I have been translating code from ^0.5.0 to ^0.6.0, and I have been having a few issues with virtual methods that are implemented in modules and then merge together. I tried to reproduce the issue with a minimal code, just to narrow down what I can and cannot do, only to see that I get different compiler outcomes between truffle/waffle on the one hand and remix on the other.

Consider the followin

[2020-03-06 08:51] ekpyron opened #8435 "[Sol->Yul] Index range access to calldata arrays and index access to calldata array slices."
The following contains a (potentially non-exhaustive) set of features missing in Sol->Yul in the context of array slices.
[code]

- [ ] The first step would be to implement ``IRGeneratorForStatements::endVisit(IndexRangeAccess)`` for dynamic calldata arrays. We can start with only a base-type of ``uint256``.

- [ ] A second step could be to implement the ``.length`` member access on calldata array

[2020-03-06 09:19] ekpyron commented on #8434
Oh my... this is a (rather embarrassing) bug that was apparently introduced in 0.6.2. When parsing the pragma, remix will automatically select ``0.6.0``, my guess is that this is why it works there. I can confirm that this is broken for 0.6.2 and 0.6.3.

[2020-03-06 10:11] ekpyron commented on #8434
Thank you very much for reporting this! I actually can't believe that this has gone unnoticed for this long.

[2020-03-06 10:41] #8434 closed, assigned to nobody

[2020-03-06 10:51] ekpyron opened #8437 "Verify and potentially increase test coverage for inheritance and function calls."
We didn't have a single test case that failed on https://github.com/ethereum/solidity/issues/8434 - I added two measly test cases in https://github.com/ethereum/solidity/pull/8436, but that's probably far from enough and I'm afraid this could only be the tip of the iceberg wrt test coverage in this area, so we should check this and potentially add a lot more tests for function calls in general and

[2020-03-06 11:46] ekpyron commented on #8350
Respectively this depends on the state of yul objects and the infrastructure around that... what's the state of that? Maybe we should first specify this a bit (e.g. @mijovic asked about it earlier, but I couldn't tell if this can be done right away).

[2020-03-06 17:02] reiven opened #8438 "Sample code in documentation for create2 not working"
Hi!

I found a problem with the sample code included in [create 2](https://solidity.readthedocs.io/en/latest/control-structures.html#salted-contract-creations-create2) sample code.
Looks like the `predictedAddress` function is not working, which makes fail all the process.
I've deployed the exact code to ropsten, verified the source code [here](https://ropsten.etherscan.io/address/0x3e73f9bb40f485

[2020-03-06 17:51] mudgen commented on #8433
Nice idea.

[2020-03-06 19:08] mudgen opened #8439 "Memory mappings"
## Abstract
For some algorithms having a mapping or set type to check the existence of multiple values can simplify code and improve its performance.

## Motivation
In the next Ethereum hard fork, with EIP-1884, which increases the cost of SLOAD from 200 to 800 it might start to be more cost effective to store some data directly in code, in data structures, and query it. Having a memory mapping or

[2020-03-06 19:13] mudgen opened #8440 "Memory Arrays that Can Grow"
## Abstract
Some solidity functions are only meant to be called by off-chain software. Such functions have no gas cost and would benefit from arrays that can grow dynamically, for example by having a push() function. Having this can result in cleaner code. Currently a programmer has to manually write the code to create a bigger array and populate it with the older array.

It is understood that a m

[2020-03-06 19:38] mudgen opened #8441 "abi.encodePacked for tightly-packed arrays"
## Abstract
Currently `abi.encodePacked` adds padding to arrays.  `abi.encode` can be used for that.

Please change `abi.encodePacked` so that it returns bytes of arrays without padding. I ran into a situation where `abi.encodePacked` would have been really useful if it did not pad arrays with zeros.

It would be great if the following was true:
[code]

[2020-03-06 20:05] ekpyron commented on #8440
This can *almost* be implemented using libraries...
[code]
So I'm wondering: is this already good enough for this purpose as is? Or *would* it be good enough, if it could really be a "proper" push (whithout the need to reassign as shown in ``x = x.push(42);``)? Or would it be enough, if this could be done generically instead of only per a specific type?

[2020-03-06 20:11] ekpyron commented on #8439
How would you index the memory mapping? If we use hashes of keys as for storage, then - at least on-chain - this would immediately result in out-of-gas... and I'm not sure every off-chain execution environment can be relied on to support arbitrarily high memory accesses either...

[2020-03-06 20:24] mudgen commented on #8439
It is a good question.  Maybe limit the value of the hashed keys, so there are no high memory accesses. For example, limit the hash value to uint32 and put any values with hash collisions into an array bucket. I don't think contract functions are going to often work with data sets that are very large so the mapping implementation could be optimized for smaller datasets,  like less than 10,000 valu

[2020-03-06 20:39] mudgen commented on #8440
Thank you. I think that is pretty good.  You are right that someone can just implement their own array enlargement functions or use libraries.

Yes, it would be nice if it did not have the assignment and it could be done generically for any type.   I think I am more interested in the memory mapping type in #8439 because that is harder for a user of the language to implement on their own.

[2020-03-06 20:46] mudgen commented on #8439
I realize that what I am asking for might not be possible.

Maybe a mapping type for really small datasets for on chain execution to bypass using storage could work.

Use a small amount of memory to index the mapping on,  like 500 bytes, to search like 50 values.  Perhaps some testing would need to be done to find out the gas performance sweet spot.

It would need to have better gas efficiency tha

[2020-03-06 21:42] ekpyron commented on #8439
Hm... I'm not sure - mappings in storage work, since we can write to arbitrary slots and with 256-bit hashes we can just trust that there are no collisions (i.e. no buckets, no actual key comparisons, etc.).
In memory we would severely need to restrict the hash size (random access to memory locations up to 2^32 would still be way too expensive, so it'd need to be restricted to much less than uint3

[2020-03-06 21:45] mudgen commented on #8439
I understand and make sense. Thanks @ekpyron!

[2020-03-06 21:53] a3d4 commented on #8244
There is a subtle difference. For `"evm"` we use
`EVMDialect::strictAssemblyForEVMObjects` in `YulOptimizerTest` and
`EVMDialect::strictAssemblyForEVM` in `SyntaxTest`
[code]

[code]

With `strictAssemblyForEVMObjects` in both cases, tests pass. With `strictAssemblyForEVM`, some tests fail.

What is the intended behavior?

[2020-03-07 01:50] ItsNickBarry opened #8443 "Cannot declare variables immediately after try/catch blocks"
## Description

Variables cannot be declared immediately after `try` / `catch` blocks.

## Environment

- Compiler version: 0.6.3+commit.8dda9521.Emscripten.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environment / backend / blockchain client:
- Operating system: Ubuntu 18.04

## Steps to Reproduce

The following contract

[2020-03-08 17:50] #8439 closed, assigned to nobody

[2020-03-08 18:04] chriseth commented on #8440
I think growing memory arrays have too many hidden surprises. Solidity tries to minimize those (see the latest removal of write-access to `.length` for storage arrays) as much as possible.

We should provide a way to implement user-defined types and algorithms in a generic way, though.

[2020-03-08 18:04] #8440 closed, assigned to nobody

[2020-03-08 18:06] chriseth commented on #8364
@rschumi0 I hope it is consistent: `T[3]` is always an array of size 3 with inner type `T`, regardless of what `T` is (it can be another array, a struct or a value type). If you have a variable `x` of type `T[3]`, then `x[2]` is always of type `T`, regardless of what `T` is.

[2020-03-08 18:07] chriseth commented on #8244
Please use `...EVMObjects`, it is more generic than the other one.

[2020-03-08 18:16] chriseth commented on #8438
I'm sorry, we cropped the address at the wrong end. If you use `address(uint(keccak256(abi.encodePacked(` instead of `address(bytes32(keccak256(abi.encodePacked(` then it should work.

[2020-03-08 18:31] chriseth commented on #7039
@agroce I'm not sure I get what you are talking about, but it our setup. we usually filter out StackTooDeepErrors in the fuzzer.

[2020-03-08 18:35] reiven commented on #8438
Great, thank you @chriseth !

[2020-03-09 00:26] a3d4 commented on #8244
Proposed draft is PR #8442.

I did consider reading settings via callbacks (`addSetting()` + lambda). This approach looks elegant, but would result in (IMO) more complex and repetitive code.

* We could not keep the logic in ctors only. Might need to move ctor logic to somewhere like virtual `init()`, and call it from every `create()`, as @Marenz mentioned. (The reason is that we cannot call lambd

[2020-03-09 09:18] bshastry opened #8448 "[solc] CompilerContext.cpp throws ICE "Invalid stack height in low-level function" because the check "stackHeight() == outArgs" fails"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/a328e940b5351e1411537da74485a112d5dad608/libsolidity/codegen/CompilerContext.cpp#L146

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): NA

## Steps to Reproduce

[code]

[2020-03-09 10:17] bshastry opened #8450 "[solc] TypeChecker throws ICE because the check "!!tupleExpression->components()[i]" fails"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/dbe2a5f451c5c2cc0190f859480fb65bc911e92c/libsolidity/analysis/TypeChecker.cpp#L1321

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-03-09 10:31] #8349 closed, assigned to christianparpart

[2020-03-09 10:36] #7820 closed, assigned to nobody

[2020-03-09 10:38] #8401 closed, assigned to nobody

[2020-03-09 10:53] cameel commented on #7806
The remaining PRs for the phaser are (in this order):
1. _[yul-phaser] GEWEP algorithm_ #8328
2. _[yul-phaser] Refactoring in main_ #8421
3. _[yul-phaser] Error handling_ #8422
4. _[yul-phaser] Population and algorithm options_ #8423
5. _[yul-phaser] Multi-program support_ #8449
6. _[yul-phaser] Program cache_ #8451
7. _[yul-phaser] More output_ #8452
8. _Configurable CodeSize metric_ #8453

They'

[2020-03-09 10:55] chriseth commented on #8418
@a3d4 you might want to take a look here.

[2020-03-09 11:23] leonardoalt commented on #8433
@MicahZoltu Please take a look at https://github.com/ethereum/solidity/issues/4991, sounds similar.
In general we agree that this should exist. The main point is deciding on 1) the expressiveness 2) the syntax and 3) code generation.

[2020-03-09 11:28] leonardoalt commented on #4991
This was brought up again in https://github.com/ethereum/solidity/issues/8433.

My current proposal including expressiveness/syntax/code generation is:

[code]
This would add
- `assert(x < 2)` in the end of the constructor
- `require(x < 2)` in the beginning of `f` and `g`
- `assert(x < 2)` in the end of `f` and `g`.
(all the functions that can be called externally).

As @MicahZoltu pointed out, t

[2020-03-09 11:30] leonardoalt commented on #4991
Any other syntax suggestions?

[2020-03-09 11:36] chriseth commented on #8417
Discussion: We add a bug list entry and release a fix for 0.5.x.

[2020-03-09 13:31] dddejan commented on #4991
It would be nice if the property expressions language is extensible in some way to support tool-specific language. I'm not sure how easily this is done. This is one of the reasons why at the moment in solc-verify we put all the specs in the comments.

For example something like:

[code]
Above declares a new variables `i` to ease parsing, and has a new tool-specific function `forall`.

Edit: maybe

[2020-03-09 13:57] chriseth opened #8456 "Refactor YulUtilFunctions::revertReasonIfDebug to return an actual function"
YulUtilFunctions::revertReasonIfDebug currently returns code while all other functions in that class return a function. This can be refactored now that we have `CompilerContext::callYulFunction`

[2020-03-09 13:59] #8403 closed, assigned to nobody

[2020-03-09 13:59] #8443 closed, assigned to nobody

[2020-03-09 14:01] chriseth commented on #8350
yul objects are specified and you can use `datasize` for `CompilerStack::appendProgramSize()`.

[2020-03-09 14:14] leonardoalt commented on #4991
I think this could be useful, but considering this is supposed to generate bytecode as well I find it rather dangerous, since these custom properties wouldn't generate code (but they look the same as the ones that would).

[2020-03-09 14:25] leonardoalt commented on #4991
@dddejan what other operators would you say are important? Maybe we could have a spec language inside Solidity that doesn't generate code but accepts that.

[2020-03-09 14:38] dddejan commented on #4991
Yes, I didn't realize that you're doing code generation. Examples we have now are sums over collections and and equality over complex datatypes (e.g., comparing two arrays/structs). We plan to add some quantification soon.

It's really impossible to say what's useful. It would be great if you could have some kind of modifier on properties (`dynamic`/`static`) to distinguish which ones generate cod

[2020-03-09 14:42] leonardoalt commented on #4991
Yea this dynamic/static separation is something I also really want

[2020-03-09 15:36] #8438 closed, assigned to nobody

[2020-03-09 15:41] #7948 closed, assigned to bshastry

[2020-03-09 15:53] chriseth commented on #2918
To get good answers to all these questions, we should probably take a look at a DSL that has that feature.

[2020-03-09 15:58] leonardoalt opened #8459 "[SMTChecker] Reenable loop test"
`smtCheckerTests/invariants/loop_nested.sol` had to be disabled in https://github.com/ethereum/solidity/pull/8323 because of different result tests between OSX x Linux.
Reenable it when fixed

[2020-03-09 16:03] chriseth opened #8461 "Test conversion from value-set external function to non-set external function"
In addition to https://github.com/ethereum/solidity/pull/8414 - add a test with "also Yul" that has:

[code]

[2020-03-09 17:27] #8375 closed, assigned to ekpyron

[2020-03-09 17:43] chriseth opened #8463 "Testing / EVMHost: Failure should only be revert, out of gas or invalid opcode"
During testing, we should check that EVM call failures are ever only
 - revert
 - out of gas (debatable)
 - invalid opcode

the other error codes result from invalid code generated and should not appear.

[2020-03-09 17:44] ekpyron commented on #8463
To do this we should assert in ``ExecutionFramework::sendMessage`` that ``result.status_code`` is one of the status codes corresponding to those errors.

[2020-03-09 17:45] chriseth commented on #8463
I would also like to have that for inner calls.

[2020-03-10 08:36] beyondev opened #8465 "Build failed on macos 10.13.3 with GNU_9.2.0 & boost_1.69"
## build message
-- JsonCpp Version: 1.9.2
-- Configuring done
You have changed variables that require your cache to be deleted.
Configure will be re-run and you may have to reset some variables.
The following variables have changed:
CMAKE_CXX_COMPILER= /usr/bin/g++

[  0%] Built target solidity_BuildInfo.h
-- The CXX compiler identification is GNU 9.2.0
-- Checking whether CXX compiler has -isysr

[2020-03-10 08:40] chriseth commented on #8465
Which version of xcode are you using?

[2020-03-10 09:47] chriseth opened #8467 "Investigate feasibility of overflow checks"
Me might want to add forced overflow checks for 0.7.0 leading to an invalid opcode. We should check if it is possible to implement common contracts with require checks such that the invalid opcode is not reachable.

[2020-03-10 11:09] humannyty commented on #4751
I don't see why this is the case. As I see it, if there is an unnamed return in the function declaration then the compiler must check for explicit returns and raise an error if one isn't found. For example, this is how Go behaves.

[2020-03-10 11:10] robinbryce commented on #4751
The fact that the following code compiles without error hid a stupid one line bug in our contract upgrade code. This cost us real money. What is the benefit of  permiting `explicitReturn` in the following example to compile ?

If the answer is 'use named returns everywhere` (please no) why permit explicit returns at all ?

[code]

[2020-03-10 12:52] ekpyron commented on #8463
I had a quick look yesterday - apparently we get underflow results for some tests for uninitialized function pointers in memory and surprisingly also for a test with an assembly "invalid"... not exactly sure why...

[2020-03-10 13:46] leonardoalt opened #8473 "[SMTChecker] Make command line tests aware of SMT solvers"
The issue that https://github.com/ethereum/solidity/pull/8470 fixes is that the command line tests run the SMTChecker docs examples but are not aware whether there is a solver available or not, which makes it hard to decide on the test message to use:

- `This will report a warning`: this happens if there are no solvers available or the SMTChecker reports an assertion violation
- `This will not co

[2020-03-10 15:48] ekpyron commented on #8463
Confirming: Using ``build/test/soltest --color_output=false --log_level=test_suite -t SolidityEndToEndTest -- --show-messages`` I see "result: 7" (which is ``EVMC_STACK_UNDERFLOW``) on develop for a handful of test cases.

[2020-03-10 17:58] ekpyron commented on #8463
Apparently, (thanks @axic) this is most probably due to a peculiarity in the evmone implementation. Apparently, for performance reasons, the status code is not always entirely accurate. Also I looked at the bytecode for one example of the cases for which we had a stack underflow result and it looked just fine. But unfortunately this probably means that we won't be able to check the exact status co

[2020-03-10 18:07] ekpyron commented on #8463
For reference, see https://github.com/ethereum/evmone/blob/master/docs/efficient_gas_calculation_algorithm.md#evm-may-terminate-earlier

[2020-03-10 18:08] ekpyron commented on #8463
Based on that I think I'll close this.

[2020-03-10 18:08] #8463 closed, assigned to nobody

[2020-03-10 19:34] chriseth commented on #8467
What we also have to consider: Do we want checks for truncation during type conversion? Is `unchecked { ... }` too much of a burden for these? Does it happen a lot?

[2020-03-10 20:22] mudgen opened #8479 "Allow local storage vars unassigned in definition if assigned later"
I tested out issue #8375 and it works perfectly.
This is really great!

But I would also really like the following to work:
[code]

I would like this to work for certain gas-critical situations where I do not want the gas overhead of a function call, but I still want to assign a local storage pointer.

Can this be done?

[2020-03-10 20:33] leonardoalt commented on #8467
I think it would be interesting to force checks there as well. If someone wants to safely convert to a smaller type, they'd need to properly adjust the value first.

[2020-03-10 21:12] frangio commented on #7856
@chriseth Has there been any decision regarding whether the interfaceId will include inherited functions? We need to decide whether to use inheritance in our interfaces for the upcoming OpenZeppelin Contracts 3.0. (https://github.com/OpenZeppelin/openzeppelin-contracts/pull/2113)

[2020-03-10 21:36] chriseth commented on #8479
Ah, I'm really sorry we missed that!
It turns out that apart from control-flow analysis, we also have a very simple check that disallows storage pointer variable declarations without `= <value>` in the type checker. I think that the control-flow analysis should actually be superior and we might drop this simple check.

[2020-03-10 23:41] mudgen commented on #8479
Sounds good and no problem. I look forward to this improvement in the next release of Solidity. Keep up the good work!

[2020-03-10 23:47] mudgen commented on #8479
Also, is there a good reason that a constant can't be used directly in inline assembly?
I would really like to be able to do this:

[code]

[2020-03-11 00:26] cameel commented on #7806
Today I gathered some real-life input for the final run of my experiments.

While doing it I also got some interesting observations. Here are fitness values for the current optimisation steps from `Suite.cpp` (this is relative fitness, i.e. size of the optimized program compared to the unoptimized one):

| Fitness | File                         |
|---------|------------------------------|
| 10.5%

[2020-03-11 00:26] a3d4 commented on #8418
[code]

The issue is that `VariableDeclaration` is expected, while `this` is a `MagicVariableDeclaration`. Similarly, `referencedVarDecl->isConstant()` condition of the `assert` fails for

[code]

Either we should not touch "already broken constants" during assembly parsing, or we should replace the `assert` with an `if` or alike. Otherwise we are asserting on invalid contract code.

`rootVariable

[2020-03-11 09:18] beyondev commented on #8465
I update my system to 10.15.3, it build successful by the newest xcrun

[2020-03-11 09:18] #8465 closed, assigned to nobody

[2020-03-11 11:25] elenadimitrova commented on #8300
Done. Will be up on the blog today. [todo add a link when up]

[2020-03-11 11:25] #8300 closed, assigned to elenadimitrova

[2020-03-11 11:50] christianparpart opened #8482 "CI-tested ANTLR4 grammar"
Due to some recent talks in the last EthCC let's have the ANTLR4 grammar definition for Solidity language in the main repository.

### Motivation
* Keeping it up-to-date at all times
* Having it well tested by integrating it into the existing CI.

Other projects that need the grammar definition can "simply" copy'n'paste the that file into their own projects and use it.

[2020-03-11 11:52] chriseth commented on #8450
We should not allow nested tuples on the left-hand-side. What might be OK is `(a) = 4` and `((a),) = 4` but not `(((a,),) = 4`.

[2020-03-11 12:50] chriseth opened #8484 "Add type(uint).max or something similar"

[2020-03-11 13:01] chriseth commented on #8482
@juanfranblanco

[2020-03-11 13:25] chriseth opened #8485 "[Sol->Yul] Libraries with only internal functions"
This issue tracks the implementation of libraries that do not need linking.

[2020-03-11 13:54] chriseth commented on #8303
Re-introducing tuple assignments in the optimizer is probably difficult.

The splitting step has to introduce temporaries when the right-hand-side occurs on the left-hand-side.

[2020-03-11 14:03] chriseth commented on #8484
Suggestions: `uint.max`

@axic: Which other members do we want in general?

[2020-03-11 14:06] chriseth commented on #7856
@frangio no decision yet. We are leaning towards disallowing interfaceID for contracts at least for now. What is your take on whether it should include inherited functions or not? How is it used in the community?

[2020-03-11 16:55] frangio commented on #7856
I don't think there's sufficient precedent in the community yet. Most people probably still don't know that interfaces can inherit.

My intuition is that inherited functions should not be included for the id.

Edit: I realized that I'm contradicting my initial intuition that I shared a few comments back. I guess I'm still undecided on this. Sorry!

[2020-03-11 17:34] #8370 closed, assigned to nobody

[2020-03-11 17:38] chriseth commented on #8479
Unfortunately, constants are too complicated for inline assembly because you would have to switch back to the Solidity expression code generator.

[2020-03-11 17:45] chriseth commented on #7856
Yeah, I think most of us are :(

[2020-03-11 17:47] chriseth commented on #8160
That sounds like a good idea. I think we should also link implementations of that, e.g. the Zeppelin one.

[2020-03-11 17:48] leonardoalt opened #8488 "Separate Solidity and Yul's token list"
In https://github.com/ethereum/solidity/pull/8486 the problem was that Sol -> Yul used a variable named `var` which should be fine in Yul, but since Yul also uses Solidity's token list, it doesn't compile.

We should find a proper fix for that since this could happen to other keywords as well.

[2020-03-11 17:58] chriseth commented on #4751
I don't see why you would declare another local variable in `explicitReturn`, but what about the following rule:

 - if there is an unnamed return variable and
 - the function body is not empty and
 - there is no return statement

issue a warning.

[2020-03-11 18:16] robinbryce commented on #4751
That rule would have caught our bug. The bug being a function which generated some new data, by processing some input, and then failed to return anything at all. I'm not necessarily expecting deep flow analysis here. The static check you mention would be great.

[2020-03-11 19:53] nventuro commented on #7856
I also believe an interface's id should be computed exclusively based on the functions declared on that interface and not on inherited ones. And I take @fulldecent's [comment](https://github.com/ethereum/solidity/issues/7856#issuecomment-585337461) about how interfaces are interpreted by ERC165 as confirmation that this is how we should proceed.

[2020-03-11 21:39] mudgen commented on #8479
Okay, no problem. Thank you for the answer!

[2020-03-12 00:45] travs opened #8489 "Allow mapping to struct with dynamically-sized type to implement inherited function"
Overriding functions defined in interfaces with the automatically-generated getters from public state variables usually work great. This was reported in a previous issue (#3514) and fixed.

However, when the return type is a `struct` that has a dynamically-sized type, like the `string` in the example below, the generated getter doesn't override properly, causing a compiler error.

[code]

[code]

[2020-03-12 13:26] chriseth commented on #8353
I have some thoughts on all this, but I think this needs a dedicated brainstorming session to get everything right. I currently aim for the online solidity summit to do this.

[2020-03-12 13:28] chriseth commented on #8394
So do you think this can be closed?

[2020-03-12 13:47] chriseth commented on #8281
I see the point that implementing an interface function and overriding a previously implemented functions are two different things, but I'm not sure we should add yet another keyword for that. Furthermore, note that you can have a function that, at the same time, implements an interface and changes the functionality of a parallel base class.

[2020-03-12 13:48] chriseth commented on #8425
Sounds good! Is this breaking?

[2020-03-12 13:50] chriseth commented on #8430
While this looks like a good solution for the current state, I would actually prefer to add the "delegateable contract" at the Solidity language level.

[2020-03-12 13:51] chriseth opened #8490 "Discussion: Delegate contracts / dynamic libraries / upgradable contracts"
This is a general discussion item about high-level support for "dynamic delegatecall with storage access", upgradable contracts including storage layouts that permits changing the data format.

[2020-03-12 13:52] chriseth commented on #8490
Related: #2469 #8430 #8353

[2020-03-12 14:21] chriseth commented on #8433
If I understand it correctly, the scope of this issue is invariants that always generate code and can be written in regular solidity (as opposed to #4991). To do things like computing the sum of all balances, you would need explicit "shadow" variables (which are not really shadow variables because they actually exist in storage).

Could you create some examples where such invariants make sense and

[2020-03-12 14:25] chriseth commented on #7806
We already concluded in the chat that hand-written yul files are probably not a good target, because they are usually already well-optimized. Also note that abi2.yul contains many unused functions, so maybe it is better to first remove the unused functions and use that as input.

[2020-03-12 14:29] chriseth commented on #8300
The article will be delayed waiting for a decision from the EF about whether the article series is suitable for the blog or not.

[2020-03-12 14:37] chriseth commented on #7856
I talked to @jbaylina at EthCC and he mentioned he would intuitively think that `interfaceID` would include inherited functions, but he also said that he did not have much time to think about it.

How would an implementation of ERC165's `supportsInterface` work in both cases? Is it very different?

[2020-03-12 14:41] ekpyron commented on #8425
It just allows stuff that was disallowed before... we'll get ``mutability can be restricted to pure`` warnings for existing code, but that's only warnings, so non-breaking. Right now no other aspect comes to my mind that could make this breaking.

[2020-03-12 14:48] cameel commented on #7806
Yeah. I've been rerunning some of my experiments during the night because of that. I initially did them on this set. Yesterday I started using the top 10 biggest files from `viaYul` dir you suggested. Now I'll have results from both and I'll post them side by side. I still think that the set above can give us some insight into how the algorithms perform relative to each other, even if it's not the

[2020-03-12 15:04] 3esmit commented on #8490
maybe it could be discussed to solidity use storage in a way its not affected by upgrades on the schema (data format).

For example, if you make at high level, a mapping (bytes32 => bytes) data, and this is used to store all the contract state variables.
I've seen this approach being done in top of solidity but it renders code thats very hard to read and maintain, if solidity does that, it should

[2020-03-12 15:10] chriseth commented on #8418
Fixed by #8480

[2020-03-12 15:10] #8418 closed, assigned to nobody

[2020-03-12 15:14] chriseth commented on #7806
I think 51.3 compared to 53.1 is very significant - the big reductions are probably rather easy to find and it is much harder to find the tiny tweaks.

[2020-03-12 16:01] mudgen commented on #8353
Sounds good.

[2020-03-12 17:35] mudgen commented on #8353
I just applied to go to the online solidity summit.

[2020-03-12 22:51] frangio commented on #8281
I also don't think we should add another keyword for this.

[2020-03-13 04:22] MicahZoltu commented on #8433
The high level set of examples are anything where Design by Contract makes sense, meaning you have some invariants you want to assert are always true.

[code]
This is a pretty simple example, but I think gets the general idea across.  An invariant allows you to specify in code (and validate at runtime!) that some constraint *always* holds true automatically at the end of every external call into t

[2020-03-13 10:02] cameel commented on #7806
## yul-phaser experiment report

### Algorithms and parameters
#### Algorithms
1. **Random algorithm** ([#8327](https://github.com/ethereum/solidity/pull/8327)): a completely random algorithm that in each round creates a new set of chromosomes and discards the old population, except for the top chromosome which is carried over.
2. **GenerationalElitistWithExclusivePools (GEWEP)** ([#8328](https://

[2020-03-13 10:25] ekpyron commented on #8489
Thanks for reporting! I just confirmed this and will look into fixing it.

[2020-03-13 11:54] ekpyron commented on #8489
This should be "fixed" by #8491.
Once merged, in your example you could do:
[code]

To change this to overriding ``returns (Baz memory)`` is tracked in https://github.com/ethereum/solidity/issues/6337, but that's a breaking change unfortunately.

[2020-03-13 12:27] mudgen opened #8492 "Link to "Yul object notation" broken in documentation"
Documentation is here: https://solidity.readthedocs.io/en/v0.6.4/yul.html

In the documentation there is a link to "Yul object notation".  It points to here:
https://solidity.readthedocs.io/en/v0.6.4/yul-objects

No webpage exists there.

Also, there is another link to here: https://solidity.readthedocs.io/en/v0.6.4/yul-objects
That does not work.

[2020-03-13 12:52] chriseth commented on #8433
One of my worries is that, if the invariant somehow stops to be true (for example due to a bug in the external erc20 contract in the example above), the contract is blocked forever. Wouldn't it be better to instead move it into a consistent emergency state of some sort?

[2020-03-13 15:23] robinbryce commented on #8281
If doImportantStuff is actually 'important' to the implementor of B they would not have switched to A2. If it is important to consumers of B presumably the author of B would advertise the important change. I think attempting to solve this scenario (a social problem) with a keyword breaks what inheritiance is for.

If as a consumer of B i am very sensitive to (or untrusting of) how doImportantStuff

[2020-03-13 15:33] #8435 closed, assigned to nobody

[2020-03-13 15:58] ekpyron commented on #8281
To be honest, I'm not in favor of introducing a new keyword either. I was hoping that we could establish that it makes sense to *somehow* indicate that a function implements a previously unimplemented function, because otherwise we give way to implicit unexpected changes in behavior (the otherwise rather silly example was mainly meant to demonstrate a case where this in fact happens).

Based on th

[2020-03-13 16:10] robinbryce commented on #8281
Thats a fair response. I quible over 'implementing unimplemented' in the case of interfaces. Do you think this situation is an inevitable consequence of mixing 'abstract' with 'interfaces' ? Ie, what interfaces led me to expect is just simply not the right way to think about smart contracts ?

[2020-03-13 16:35] leonardoalt commented on #8433
@chriseth why can https://github.com/ethereum/solidity/issues/4991 not be written in regular Solidity? The initial proposal there is similar to this, what changes is the use of `assert` instead of `require` at the end of the functions.

[2020-03-13 16:38] leonardoalt commented on #8433
In that case people would need to be sure about the code of the tokens they're referring to. IMO @MicahZoltu 's idea forces people to design things properly. Of course we can't expect tools to be able to verify those invariant, but being explicit about such a contract invariant might help proving other targets.

[2020-03-13 17:06] ekpyron commented on #8281
Does it help to read ``override`` as "change what a previously existing identifier refers to" rather than "change the implementation of a previously existing function"?
The former happens for interface functions, implemented functions and unimplemented functions alike and I'd argue it's something worth making explicit and I think one can construct "problematic" cases without mixing abstract contra

[2020-03-13 22:32] robinbryce commented on #8281
Hah! I think that is quite nice mental judo but in my case I read interfaces as saying "I don't refer to anything yet and you must fill that in". But that is a very special case of what is generally going on in significant inheritance graphs. I'm content to adapt.

[2020-03-16 10:36] chriseth commented on #8300
It seems we should use our own. Will move to github.com/ethereum/solidity-blog

[2020-03-16 11:19] a3d4 commented on #8427
I'm looking at it.

[2020-03-16 11:40] christianparpart commented on #8484
Other then `TYPE.max()` I'd suggest `max(TYPE)`.

[2020-03-16 14:59] chriseth commented on #8484
I'm not a fan of adding more global free functions - especially with such a common name.

[2020-03-16 15:09] chriseth commented on #8433
@leonardoalt I thought that #4991 also includes things like `sum(balances)`.

If you cannot prove the invariant correct, then I would not want to use it without a way to unlock the contract again. The contract being locked might also be caused by a compiler bug, for example.

[2020-03-16 16:54] #8492 closed, assigned to Marenz

[2020-03-16 18:52] chriseth commented on #3971
I don't see anything we can do here.

[2020-03-16 18:52] #3971 closed, assigned to nobody

[2020-03-16 20:53] ilanolkies opened #8498 "Support EIP 1191 - different address checksums for different chains"
## Description

- Support for different checksum encodings regarding https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1191.md

## Environment

- Compiler version: latest
- Target EVM version (as per compiler settings): any
- Framework/IDE (e.g. Truffle or Remix): any
- EVM execution environment / backend / blockchain client: no Ethereum Main clients
- Operating system: any

## Steps to Reprod

[2020-03-16 21:19] nventuro commented on #7856
The issue with including inherited interfaces is that would only be useful when referring to that very specific contract, with its entire ABI. Often you're only concerned with a subset of it (e.g. does it support ERC165, does it support ERC20, etc), not the entire thing. I'm not sure I can think of scenarios where I'd use something else other than the 'intrinsic' interface id.

[2020-03-17 02:41] MicahZoltu commented on #8433
@chriseth There are invariants that can be corrected should they not hold, and there are invariants that can be proven via static analysis, and there are invariants that if asserted on every function call can be guaranteed.

For example, an invariant that one storage variable is greater than the other can be asserted on at the end of the constructor, and at the end of every external function call.

[2020-03-17 08:57] Amxx opened #8499 "Better syntax for declaring nested mappings."
At some point today I found myself declaring the following mapping:

```mapping(bytes32 => mapping(bytes32 => mapping(bytes32 => mapping(uint256 => MyEntry)))) internal m_lookuptable;```

I get this is a bit of an extreme case, but I might not be the only one nesting mappings. So I wondered, why not replace it with:

```mapping(bytes32 => bytes32 => bytes32 => uint256 => MyEntry) internal m_lookup

[2020-03-17 09:07] chriseth opened #8500 "Problem with public state variable overriding function"
I don't see why the following should not compile, but it does not:
[code]

Discovered by @sobolev-igor

[2020-03-17 09:41] chriseth commented on #7856
@nventuro I think the prime example here is an extension interface of ERC20. What should its interface ID be?

[2020-03-17 09:45] chriseth commented on #8498
Do you have any proposed solution on how to denote addresses of other chains?

[2020-03-17 10:52] bshastry opened #8501 "[solc] Throws ICE "Invalid conversion to calldata type""
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/435c9dae718eeef645edb715293c4c687240ee5e/libsolidity/codegen/CompilerUtils.cpp#L975-L980

## Environment

- Compiler version: latest develop

## Steps to Reproduce

[code]

[2020-03-17 13:21] Marenz commented on #7897
If we have the time, I'd say sure!

[2020-03-17 17:16] #8417 closed, assigned to Marenz

[2020-03-17 17:55] chriseth opened #8503 "Windows build for 0.5.17"

[2020-03-17 21:44] mijovic commented on #8350
I started working on this

[2020-03-18 04:55] MicahZoltu commented on #4392
IMO constructor should be `external`.  It **CANNOT** be called internally, it can only ever be called by some external party.  To put this another way, any function that you cannot flag as `internal` should not be flaggable as `public`.

Recommended Remediation: Remove visibility modifier from constructor entirely (on the argument that it doesn't really make sense) or make `external` the only opti

[2020-03-18 05:02] MicahZoltu commented on #4392
Thinking more on this, I *think* this may currently be used for abstract classes (where they should not be instantiated directly, always derived from).  I would rather see a dedicated keyword for this like `abstract contract` than re-use `internal` on a constructor to represent this concept.

[2020-03-18 06:39] jalextowle commented on #4392
Yep, I would second this. Even when calling `new SomeContract()`, `create` is used to deploy the bytecode to an address, which is definitely an external call. IMO the usage of the `new` keyword constitutes an internal call, but contract creation doesn’t.

I would push back a bit on the remediation though, but I think that your suggestion of using the `abstract` keyword rather than marking the cons

[2020-03-18 09:47] chriseth commented on #4392
Note that constructors of base contracts are called internally, while the most derived constructor could be say do be called externally. Once we have `calldata` data location for function parameters of internal function, this distinction is not too relevant anymore.

I agree that removing visibility is probably the cleanest solution.

[2020-03-18 09:50] chriseth commented on #4392
Calldata data locations for all variables is tracked here: https://github.com/ethereum/solidity/issues/5545

[2020-03-18 14:27] chriseth commented on #4392
@marenz remarks that there are internal types that can only be used with internal constructors.

[2020-03-18 14:38] axic commented on #4392
Cannot we loosen that so constructors can see every type in the given contract?

[2020-03-18 14:39] chriseth commented on #4392
I understood that the problems are internal function pointers or storage pointers.

[2020-03-18 15:18] axic commented on #4392
@Marenz can you clarify your concern here?

[2020-03-18 15:22] Marenz commented on #4392
It's not exactly a concern, just a point to consider: A c'tor like `constructor(function() internal pure _fp)` currently must be `internal`. Without the keywords we have to decide how this case should be handled. Would it be implicitly internal because it uses internal arguments? Would be require `abstract` to be used for the contract?

[2020-03-18 15:50] chriseth commented on #4392
The solution I see is to require the contract to be abstract.

[2020-03-18 16:43] ilanolkies commented on #8498
I’m not sure... sorry

[2020-03-18 16:56] ilanolkies commented on #8498
What about adding network id to the settings? Where you choose evm version.

[2020-03-18 18:04] mudgen commented on #8019
Yes, a linter would be good.

[2020-03-18 18:34] mickys opened #8506 "Building 0.5.14 and higher on MacOS lower than 10.14 fails"
## Description
Some of us are stuck on High Sierra ( 10.13.6 ) due to no Nvidia drivers.

[code]

Dropping boost::apply_visitor in favour of std::visit is the cause here.

@chriseth  Any particular reason for  this ?

Could we maybe fall back to the old method if compiling on an older system ?

## Environment

- Compiler version:
[code]

- Operating system: MacOS High Sierra (10.13.6)

## Steps to

[2020-03-18 18:45] #8099 closed, assigned to nobody

[2020-03-18 18:53] leonardoalt commented on #8506
The reason is that `std::visit` is better :)

I find falling back to `boost` on older systems quite hacky, especially because we changed quite some code from `boost` to `std`.

Wouldn't simply upgrading the compiler solve it?

[2020-03-18 20:14] mickys commented on #8506
@leonardoalt doesn't look like the compiler has newer versions i could try.
As far as i can tell it's OS specific.

[code]

[2020-03-19 06:41] chriseth commented on #8244
Implemented in #8442

[2020-03-19 06:41] #8244 closed, assigned to nobody

[2020-03-19 10:00] leonardoalt commented on #8506
@mickys can you check which compiler your `cmake` is using? Is it `gcc` or `clang`? Can you then check the version of such compiler?

[2020-03-19 10:45] chriseth commented on #8467
It seems we currently do not check overflow for explicit type conversion when compiling via yul.

[2020-03-20 15:43] nventuro commented on #7856
I think I see your point.

I was mostly thinking about contracts, not interfaces. I _do_ believe though that 'intrinsic' would definitely be the way to go for contracts: if we're considering adding IDs for them, I'd rather they work the same way as interface IDs do.

[2020-03-20 17:19] leonardoalt commented on #8433
@chriseth In https://github.com/ethereum/solidity/issues/4991 I had in mind things that could also generate code.

I agree with @MicahZoltu

[2020-03-20 19:23] jrhea commented on #6134
@elenadimitrova sorry i missed this.  how can i help?  i can modify the crawler and seed it with a particular url and blacklist the rest.  would that help?

[2020-03-20 19:25] cameel commented on #7806
As promised, I just pushed the final PR with the code I used for experiments above. Or actually PRs since as usual, I thought it would be best to split up independent parts for ease of review. As a result, most of them are pretty small.

So here's the summary of the PRs that are still active:

Main line (including those old PRs that were not merged yet):
1. _[yul-phaser] Program cache_ #8451
2. _[

[2020-03-21 11:16] gitpusha commented on #5479
Hi @chriseth ,

I started using `ABIEncoderV2` yesterday in order to make use of `structs` in my function calls and to emit them or elements of them in events.

Now I also got a `UnimplementedFeatureError` for the first time.

Is it still the case that `calldata structs` are not a defined concept in Solidity? (the compiler did not warn about this).

I was able to circumvent this compile error by m

[2020-03-21 13:03] axic commented on #8498
Please note that currently we have no notion of other chains at all, `EVMVersion` follows "mainnet" versions only.

[2020-03-21 13:15] axic commented on #8343
@chriseth can we prioritise this?

[2020-03-22 00:29] Mvilsht commented on #5139
@zulhfreelancer  thanks!

[2020-03-23 09:02] bohendo commented on #8133
This issue is indeed an issue w the buffer size between a node process & it's solc child process being too small.
For those using waffle, the buffer size limit will be increased once [PR 205](https://github.com/EthWorks/Waffle/pull/205) is merged/published.

[2020-03-23 12:02] chriseth commented on #7920
We should at least find a solution to have working syntax hilighting on solidity-blog.

[2020-03-23 12:04] chriseth commented on #8441
The functio `abi.encodePacked` was implemented to mimik the behaviour of several implicit operations in old Solidity versions. We actually planned to not touch it anymore. Since I somehow see the need, we could introduce `abi.encodeTightlyPacked`, though.

[2020-03-23 12:06] chriseth commented on #8489
I'm closing this.

[2020-03-23 12:06] #8489 closed, assigned to ekpyron

[2020-03-23 12:07] chriseth commented on #8500
Maybe fixed by #8491 ?

[2020-03-23 13:30] chriseth commented on #8343
@axic can you make a checkbox list of which functions exactly?

[2020-03-23 14:23] #8394 closed, assigned to nobody

[2020-03-23 14:24] chriseth commented on #8081
I think we should allow such functions with a warning.

[2020-03-23 14:26] chriseth commented on #6062
It's really hard to track down now which were the lines. Closing.

[2020-03-23 14:26] #6062 closed, assigned to nobody

[2020-03-23 14:26] chriseth commented on #7096
Closing this since we now have the new notation.

[2020-03-23 14:26] #7096 closed, assigned to nobody

[2020-03-23 14:28] chriseth commented on #7195
I think the default formatting should be hex if there are more zeros in the hex output and decimal if there are more zeros in decimal. Unless the number ends it at least two zeros, it should still be decimal.

[2020-03-23 14:35] chriseth commented on #7856
It seems that most of the people who have a specific opinion think that inherited functions should not be included. Because of that, I would propose to just implement it like that now.

[2020-03-23 15:17] mudgen commented on #8441
@chriseth That would be awesome, thanks!

[2020-03-23 15:30] #8503 closed, assigned to nobody

[2020-03-23 15:35] chriseth commented on #2435
Open question: Do we also require `copyof` for things like `abi.encode`? I would probably say yes.

[2020-03-23 15:59] axic commented on #8343
It seem `keccak256` was added since I've created this issue.

[2020-03-23 16:09] axic commented on #8343
@chriseth added a list, I think it is correct.

[2020-03-23 17:43] chriseth commented on #8500
Yes, fixed by #8491

[2020-03-23 17:43] #8500 closed, assigned to nobody

[2020-03-23 18:31] chriseth opened #8521 "Replace grammar.txt by Solidity.g4"

[2020-03-24 10:32] #8482 closed, assigned to christianparpart

[2020-03-24 10:44] chriseth opened #8523 "Add more examples to yul docs"

[2020-03-24 15:20] #8395 closed, assigned to bshastry

[2020-03-24 15:46] chriseth opened #8527 "Make syntax highlighting work for the blog."

[2020-03-24 15:49] chriseth opened #8528 "[blog] Make a cleanup pass over the existing posts"
Make sure that the existing posts fit the style of the blog.

 - Remove the solidity logos from the start of some posts.
 - Maybe add some line breaks.

[2020-03-24 16:19] michaelsbradleyjr commented on #3168
Please do this.

[2020-03-24 17:29] agroce commented on #8278
if it's helpful, this code:

[code]

causes the same issue to show up, so it's not the "self-reference" or specific types.

[2020-03-24 17:33] chriseth commented on #8278
@a3d4 does your PR also solve this one?

[2020-03-25 04:16] a3d4 commented on #8278
@chriseth No.

[2020-03-25 10:23] #8427 closed, assigned to nobody

[2020-03-25 13:28] franzihei commented on #8528
I can probably do that.

[2020-03-25 13:52] chriseth opened #8535 "Disallow deleting mappings either directly or via array.pop"
* [x] Any operation that causes a delete on a mapping in storage should be disallowed.
* [x] Any assignment to something in storage that contains a mapping is disallowed.
  * [x] assignment to struct that contains mapping is disallowed
* [x] Array pop and (non-empty) push on an array that (recursively) contains a mapping is disallowed.
  * [x] push
  * [x] pop
* [x] Delete on anything that (recurs

[2020-03-25 14:15] chriseth commented on #7369
@franzihei is asking truffle if they have any problem with this.

[2020-03-25 14:18] chriseth commented on #4260
Should be solved with #7739

[2020-03-25 14:21] chriseth opened #8536 "Introduce "Solidity" alias for emscripten module"
Transitional issue for https://github.com/ethereum/solidity/issues/8157

[2020-03-25 14:26] chriseth commented on #796
We are thinking of using the existing yul implementation and adding it to 0.7.0.

[2020-03-25 16:14] mijovic opened #8537 "Minimum compiler version checks for > not working"
## Description

- pragma solidity >0.4.0 doesn't work with script that checks if docs are compiled with minimal version.
- Also new changes will not have released compiler yet, so skip them as there is another test that checks against current version of compiler

## Environment

- Compiler version:
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM exec

[2020-03-25 16:39] chriseth commented on #8537
This is a blocker for #3835 so I'm taking it into the sprint.

[2020-03-25 17:28] chriseth commented on #8252
Some of these should actually be invalid opcodes.

[2020-03-25 17:28] chriseth commented on #8249
Closing this since it is not clear what remains to be done here.

[2020-03-25 17:28] #8249 closed, assigned to nobody

[2020-03-25 22:54] isachard commented on #4884
@leonardoalt  can I work on this bug?