[2017-04-27 13:55] axic commented on #2191
That piece of code translates three parser tokens (return, byte and address) into strings literals. Then all string literals are compared against the EVM instructions list and those on the list become `Instruction` AST items, while those which aren't become `Literal`s.

[2017-04-27 14:03] cgewecke commented on #2191
@axic Thanks so much! Closing.

[2017-04-27 14:03] #2191 closed, assigned to nobody

[2017-04-27 18:26] axic commented on #2131
Some other naming/acronym ideas:
Yul - Yet another Universal Language
Jul - Joyfully Universal Language
Julie - Joyfully/Yet another Universal Language without Instructions for Ethereum

[2017-04-27 18:29] wanderer commented on #2131
Yalll - Yet another Low Level Language

[2017-04-27 18:32] axic commented on #2131
I'd go for *Y'all* (Yet Another Low-level Language) aka. Texan Assembly

[2017-04-27 18:46] roadriverrail commented on #2131
As I live in Atlanta, Georgia, and do say "y'all," I very much approve of
this.

On Thu, Apr 27, 2017, 11:32 Alex Beregszaszi <notifications@github.com>
wrote:

[2017-04-28 08:43] pirapira commented on #1565
I don't think the getter is particularly automatic compared with other functions.  So, "an external getter function is generated automatically".

[2017-04-28 15:24] axic commented on #1793
@chriseth if we are committed to this, I think for the next release we might want issue a warning on `throw;` and suggest `Use require or revert.`.

Then in the breaking or the next breaking release it could be removed.

[2017-04-28 15:35] axic opened #2195 "Remove Why3 translator"
The Why3 output is not maintained and there doesn't seem to be a plan for maintaining it. Would it make sense removing it?

[2017-04-28 15:35] axic commented on #2195
@chriseth @pirapira any thoughts?

[2017-04-28 16:04] axic opened #2196 "Rework the parser to reduce the amount of language keywords"
We could move a lot of keywords to be literals.

[2017-04-28 18:25] pirapira commented on #2195
We should go ahead and remove it.  Otherwise people will try it out and find it not working.  I'm not going to do anything about the Why3 interface.

Instead, I'm going to
1. use [Rosetta](https://emina.github.io/rosette/) on the VM/Julia level and check for `0xfe`s.
2. use Lem/ML to build executable specification of Solidity

[2017-04-28 18:58] roadriverrail commented on #2195
Yes, back when I wrote the do/while loop, I think I saw that Why3 didn't
exactly support one, and I thought perhaps Why3 wasn't going to fit.

On Fri, Apr 28, 2017 at 11:25 AM Yoichi Hirai <notifications@github.com>
wrote:

[2017-04-30 08:45] SCBuergel commented on #869
Any progress / timeline on this one? Seems to be a fantastic feature that is been around here for a while.

[2017-05-01 20:24] realthargor opened #2202 "Error: Events not supported."
When running mixed and having a sol file like this:
`contract EventDefinitions {
    event FooBarEvent(address adr);
}`
Analysis-Tab reports: "Error: Events not supported."
Reason for that seems to be solidity/libsolidity/formal/Why3Translator.cpp:203

Since the contract is working fine I assume the Why3Translator is outdated.

[2017-05-02 06:01] 3sGgpQ8H opened #2204 "Solidity 0.4.10 produces different byte code on different platforms (probably just adds garbage at the end)"
I compile the following smart contact with solc 0.4.10 (optimisations enabled):

    pragma solidity ^0.4.10;

    contract Foo {
    }

On MacOS X it produces the following byte code:

60606040523415600b57fe5b5b60338060196000396000f30060606040525bfe00a165627a7a72305820**0b12a420c478b66a2e48bd4de472c2cd0cf2d34f77ed5a69ebf1f64b5b0fa532**0029

When I use online solidity compiler (https://ethereum.gi

[2017-05-02 06:57] axic commented on #2204
The end of the bytecode contains the hash of a metadata, which contains the compiler version among other things. See http://solidity.readthedocs.io/en/develop/miscellaneous.html#contract-metadata for explanation.

[2017-05-02 07:32] 3sGgpQ8H commented on #2204
Thank you for explanation.  Hope source code validators in mainstream blockchain explorers are able to handle this.  I just followed advice on https://ethereum.stackexchange.com/questions/9881/is-the-solidity-compiler-deterministic reporting this issue.

[2017-05-02 08:13] axic commented on #2204
The exact same bytecode should be produced if using the very same compiler (e.g. use the same platform too). We have tests in place which compares bytecode produced by compilers on different platforms to ensure they are identical (apart from the compiler version in the hash).

The online verification tools should be aware of this.

[2017-05-02 09:34] chriseth commented on #2204
@axic the compiler version in the hash is also identical cross platform. If you use the same source (including filename paths) and the same compiler version, you should always get exactly the same result.

[2017-05-02 09:35] chriseth commented on #2204
@mikhail-vladimirov as I said in the other comment: It might be that the file names produce the difference.

[2017-05-02 09:36] chriseth commented on #2204
Can you create the metadata json (using `--metadata`) and compare those across platforms?

[2017-05-02 10:12] #2108 closed, assigned to nobody

[2017-05-02 13:04] chriseth opened #2208 "incorrect sorting order in bytecode check"
The bytecode check fetches the repository solidity-test-bytecode and runs the check on the newest complete directory. It turns out that a fresh (depth 2) checkout of that repository does not set the modification time of the files. We need to find a different way to sort them, probably by git-internal modification date.

[2017-05-02 13:36] chriseth commented on #2195
I agree, we should build the verification from bottom to top. Rosetta looks nice and implementing an interpreter for julia in it is certainly doable!

[2017-05-02 13:41] chriseth opened #2209 "Create "add error / warning" helper function"
The code
[code]
is duplicated in lots of files. There should be a helper function for these. If we add a helper, then it should still be simple to use. Currently, we have `addTypeError(location, "description")`.

[2017-05-02 13:41] axic commented on #2195
So then we should remove it form JSON I/O right now before the release.

[2017-05-02 13:42] chriseth commented on #2209
No yet 100% sure how to do this nicely. A base class containing the `m_errors` array would be nice, so we do not have to supply it for each of the calls.

[2017-05-02 13:46] chriseth commented on #2195
@axic just make it optional in the spec

[2017-05-02 13:46] chriseth commented on #2195
or just remove it from the spec

[2017-05-02 14:02] chriseth commented on #2202
Thanks for the report! It is not outdated but incomplete. We plan to remove it altogether, so I'm just closing this.

[2017-05-02 14:02] #2202 closed, assigned to nobody

[2017-05-02 15:46] 3sGgpQ8H commented on #2204
Looks like metadata JSON does not contain compiler's binary hash, but does contain relative paths of .sol files as specified in `solc` command line.  So specifying the same file as `Foo.sol` or `./Foo.sol` leads to different metadata hashes.

[2017-05-03 10:28] #2118 closed, assigned to chriseth

[2017-05-03 12:41] chriseth commented on #1759
Fixed by #2199

[2017-05-03 12:41] #1759 closed, assigned to nobody

[2017-05-03 12:47] chriseth commented on #1572
The comparison is broken - it does not compare the latest commit. Also, the repository currently grows and grows, we should clean (and rebase) it from time to time or use branches that are deleted after some time.

[2017-05-03 12:48] #1332 closed, assigned to nobody

[2017-05-03 12:49] chriseth opened #2220 "Flexible gas table"
It should be possible to select a certain hard fork for gas estimation.

Follow-up of https://github.com/ethereum/solidity/issues/1247

[2017-05-03 12:50] chriseth commented on #1247
Will be completed in #2220

[2017-05-03 12:50] #1247 closed, assigned to pirapira

[2017-05-03 12:50] chriseth commented on #1180
Will be deprecated, so closing.

[2017-05-03 12:50] #1180 closed, assigned to nobody

[2017-05-03 12:51] chriseth commented on #1123
We can now always merge back into develop, so closing this.

[2017-05-03 12:51] #1123 closed, assigned to nobody

[2017-05-03 12:52] chriseth commented on #1077
Why3 will be removed, so closing this.

[2017-05-03 12:52] #1077 closed, assigned to nobody

[2017-05-03 12:52] chriseth commented on #1052
Why3 will be removed, so closing this.

[2017-05-03 12:52] #1052 closed, assigned to nobody

[2017-05-03 12:52] chriseth commented on #1051
Why3 will be removed, so closing this.

[2017-05-03 12:52] #1051 closed, assigned to nobody

[2017-05-03 12:53] chriseth commented on #1043
Why3 will be removed, so closing this.

[2017-05-03 12:53] #1043 closed, assigned to nobody

[2017-05-03 12:53] chriseth commented on #1039
Why3 will be removed, so closing this.

[2017-05-03 12:53] #1039 closed, assigned to nobody

[2017-05-03 12:53] chriseth commented on #1030
Why3 will be removed, so closing this.

[2017-05-03 12:53] #1030 closed, assigned to nobody

[2017-05-03 12:53] chriseth commented on #1028
Why3 will be removed, so closing this.

[2017-05-03 12:53] #1028 closed, assigned to nobody

[2017-05-03 12:53] chriseth commented on #1026
Why3 will be removed, so closing this.

[2017-05-03 12:53] #1026 closed, assigned to nobody

[2017-05-03 12:54] chriseth commented on #1025
Why3 will be removed, so closing this.

[2017-05-03 12:54] #1025 closed, assigned to pirapira

[2017-05-03 12:54] chriseth commented on #991
Why3 will be removed, so closing this.

[2017-05-03 12:54] #991 closed, assigned to nobody

[2017-05-03 12:55] chriseth commented on #908
Why3 will be removed, so closing this.

[2017-05-03 12:55] #908 closed, assigned to nobody

[2017-05-03 12:55] #747 closed, assigned to nobody

[2017-05-03 12:55] #748 closed, assigned to nobody

[2017-05-03 12:55] #749 closed, assigned to nobody

[2017-05-03 12:55] #746 closed, assigned to nobody

[2017-05-03 12:57] chriseth commented on #718
@roadriverrail in my view, this is fully resolved although your PR states that it only partially solves this issue. Please reopen if you think something is still missing.

[2017-05-03 12:57] #718 closed, assigned to nobody

[2017-05-03 20:05] SCBuergel opened #2226 "`.call` with callData resets string in storage"
The following test contract allows a string `myS` to be set in three different ways:
[code]
Calling `callF` seems to just reset the storage of `myS` with the default value (empty string) instead of setting it to `"test"`. The same pattern works for all other types that I tested (uint and address).

I tested this using the latest compiler (older versions seem to behave the same way) and remix as we

[2017-05-03 22:45] egalleye opened #2227 "MacOS 10.9 error: chosen constructor is explicit in copy-initialization"
I had an issue with build failing for the release branch of solidity on MacOS 10.9.5

The error I got:
*$ cmake .. && make
...
error:
      expected '(' for function-style cast or type construction
  ...const*> const& _seen = std::set<VariableDeclaration const*> const{}*

I wrote in a fix to ./libsolidity/analysis/PostTypeChecker.h that allowed it to compile. If interested I have the change @ http

[2017-05-03 22:46] egalleye commented on #2227
btw, I'm new to filing issues/contributing so if I make any mistakes or don't include important info please let me know..

p.s.
Is there a desired format for filing issues?

[2017-05-04 02:58] slothbag opened #2228 "0.4.11 windows build says its a pre-release"
None of the previous official releases had this warning.

[2017-05-04 07:37] axic commented on #1190
I don't think any of this is documented, but there's a warning for 3.

[2017-05-04 08:04] axic opened #2229 "Include releases (versions) in homebrew"
Split off #1715.

Depends on #3665. The release "bottles" should be built on (some sort of trusted) CI.

[2017-05-04 17:33] walter-weinmann opened #2234 "grammar.txt: FunctionCall & FunctionCallArguments"
Should it be

[code]

instead of

[code]

?

[2017-05-04 17:55] axic commented on #2234
Is `func({})` valid?

[2017-05-04 18:22] chriseth commented on #2228
This was an error in the release process. We updated the binary and it should not have the warning anymore.

[2017-05-04 18:22] #2228 closed, assigned to nobody

[2017-05-04 18:24] chriseth commented on #2227
Thanks, this seems to be the proper fix! Can you create a pull request out of your develop branch? @roadriverrail can help you if you experience difficulties.

[2017-05-04 18:25] chriseth opened #2237 "Docker build does not push on tags"

[2017-05-04 18:41] axic opened #2238 "Create a release notes JSON"
This JSON should contain:
- `notes` (the "readme")
- `artefacts` (object), where the artefact name is the key and the content is as follows:
  - `urls` (a list of URLs, including Github and Swarm links)
  - `sha256` hash of the file

This JSON should be uploaded to Swarm and the link be published on the Github release notes.

Probably it should be an actual JSON array of all previous releases.

[2017-05-05 08:42] axic commented on #2137
I can't seem to reproduce:

[code]

The code in your link is incomplete, because it references a lot of undefined variables, hence I cannot easily test it to see the problem.

[2017-05-05 08:47] chriseth commented on #2238
Related: https://github.com/ethereum/solidity/issues/628

[2017-05-05 08:49] axic commented on #2226
@SCBuergel a string is a dynamic ABI item and as such is encoded differently. The offset where the string starts in the calldata is the first parameter followed by the length and the actual string at the given offset:

[code]

Here is the full specification for the ABI: https://github.com/ethereum/wiki/wiki/Ethereum-Contract-ABI

[2017-05-05 08:54] #2226 closed, assigned to nobody

[2017-05-05 11:02] chriseth commented on #2174
If possible, allow callcode but create a warning whenever it is used, that can be merged right now and then remove it completely for 0.5.0.

[2017-05-05 11:05] chriseth commented on #2174
The error would be created inside `bool TypeChecker::visit(MemberAccess const& _memberAccess)`. There should be a check that the type of the base expression is address or contract and the name of the member is `callcode`.

[2017-05-05 11:44] simonjanin commented on #2137
Indeed, I also could not reproduce the bug with the code you provided.

Yet, I could reproduce it with the following simplified example:

[code]

[2017-05-05 12:57] VoR0220 opened #2240 "[Documentation] - Include examples on Standard JSON I/O"
Currently it's a bit bare, could definitely use some example of the piping and passing in of different inputs.

[2017-05-05 13:11] axic opened #2241 "Change the dispatcher to not use the INVALID opcode"
Split from #2194.

[2017-05-05 13:13] Arachnid opened #2242 "Solidity shouldn't warn about unused locals when the variable is used in inline assembly"
Presently, Solidity warns about unused locals when a local or function argument is used only in an inline assembly block.

[2017-05-05 15:03] djudjuu opened #2243 "documentation fields of Json-AST are empty"
Many kinds of ASTNode-classes (subclasses of Documented) have a documentation field that can be exported by the ASTJsonConverter (and afterwards be filled by the ASTJsonImporter)

[2017-05-05 20:42] tcoulter opened #2245 "Optimizer seems to produce larger bytecode when run longer"
I found a curious result when upgrading Truffle to Solidity 0.4.11 (via solc-js). It seems that the more the optimizer is run, the longer my bytecode gets. This suggests to me that the optimizer is adding instructions instead of removing them.

The contract in question is [this one](https://github.com/trufflesuite/truffle/blob/master/lib/testing/Assert.sol). This is Truffle's assertion library for

[2017-05-06 00:02] egalleye commented on #2227
Okay, I've submitted a pull request. I found and read through the contribution section, hopefully I got everything right.

Thanks for the quick response!

[2017-05-06 09:41] #2227 closed, assigned to nobody

[2017-05-07 08:23] pirapira commented on #2174
I suggest making the next releases `0.5.0`, `0.6.0` and so on so that we can make breaking changes in every release.

[2017-05-07 12:04] lfrickel opened #2248 "Error "Events not supported.""
I take an example from the "Events" section of the OFFICIAL guide to Solidity (http://solidity.readthedocs.io/en/develop/contracts.html?highlight=event#events):
[code]
I compile this through the Parity or Remix editors and get a number of errors:
[code]

Someone can explain to me: HOW CAN IT BE?
I MUST have events for my contract!
Thankful in advance for the answer!

[2017-05-08 11:00] czepluch opened #2249 "Unused local variable warning even if variable is used in assembly"
When you declare a variable as `functions something() returns (uint foo)` and then assign `foo` in assembly `assembly { foo := mload(add(bar, 12)) }` I get a warning saying that `foo` is an unused variable.

I believe this is not the desired behaviour. Please correct me if I am wrong.

solc version: 0.4.11
OS: arch

[2017-05-08 11:01] czepluch commented on #2249
Just realised that @Arachnid already created an issue for this so closing in favour of #2242

[2017-05-08 11:01] #2249 closed, assigned to nobody

[2017-05-09 04:51] tymat opened #2251 "Compiler thinks variable is unused when used from inline assembly"
[code]

When compiled produces a warning:

[code]

[2017-05-09 12:07] Qqwy opened #2253 "[Documentation] Improve warning when returning dynamic arrays"
It took me quite some time to understand the warning on the [Arrays section of the Solidity documentation](http://solidity.readthedocs.io/en/develop/types.html?highlight=arrays#arrays):

It was only after I read through #164, specifically [this comment](https://github.com/ethereum/solidity/issues/164#issuecomment-149846605), that I understood that this restriction only happens from within contract

[2017-05-09 15:14] yudilevi opened #2254 "The compiler doesn't recognize auto generated functions as a valid abstract interface implementation"
Hey,

In the following example -

[code]

'Token' will be generated by the compiler as an abstract contract, even though the auto generated compiler function for `totalSupply` matches the abstract interface signature.

Was tested on solidity 0.4.11

[2017-05-09 16:18] cag opened #2255 "The Debian and Arch packages do not ship with `libsoljson`"
This means no FFI here: https://github.com/ethereum/py-solc/issues/9

[2017-05-09 16:31] cag opened #2256 "`--standard-json` does not filter output fields"
I provide the following as input with the `--standard-json`:

[code]

I expect the `outputSelection` section to cause the output to be restricted to those items specified, but instead, everything is outputted.

[2017-05-09 20:35] zigguratt opened #2257 "Unused function "successAssemble" in test file libjulia/Parser.cpp causes compile fail"
After doing the following:
[code]
I get this during the compilation process:
[code]
The problem seems to be this:
[code]
So it fails even though it's just encountering an unused function. I managed to get around it by commenting out the function definition in Parser.cpp.

[2017-05-09 22:06] vongohren opened #2258 "zeroTest throws invalid opcode"
I recieved some troubles when I wrote a zeroTest using truffle 0.4.11 and truffle test.
The zeroTest goes like this.
[code]
When i call this from my truffle tests I get:
`Error: VM Exception while processing transaction: invalid opcode`

But if i switch to if, instead of require, it works well, atleast without VM exception

The error is reported from truffle in my node_modules.
I started at the gi

[2017-05-10 06:55] yuanaichi opened #2259 "dynamic array declaration and assign only one item compile error"
below is my contract:
`
contract TransferContract {
  address owner;
  address[] public receivers = [
    0x6aebda91307743b691b57ce664cdbf24beb02b61
  ];
}
`

when receivers have only one item,  have a internal compile error like this

`Internal compiler error:
Compiliation failed. See above.`

when receivers have more than one item, no error

is this a bug??

[2017-05-10 07:22] axic commented on #2258
@vongohren can you please post your code using `if`?

[2017-05-10 07:25] #2257 closed, assigned to nobody

[2017-05-10 18:37] frangio opened #2260 "Explicit throw raises invalid opcode"
The explicit `throw` in the following code results in an invalid opcode exception in solidity >=0.4.10.
[code]

Is this the new expected behavior? It's not documented in the changelog. In fact, the last relevant entry (0.4.9) says: "Invalid jump is still kept for explicit throws".

[2017-05-10 21:54] vongohren commented on #2258
@axic its pretty the same, this atleast doesnt crash through a VM exception

[code]

[2017-05-11 08:21] axic commented on #2256
This feature is not implemented yet, but will come at a later point.

[2017-05-11 08:24] axic commented on #2258
Thanks. There is a difference though, I do not think in your second example the event is broadcasted as `0>0` is always false.

In your second example, simply the body of the function is not executed, while using `require` will actually abort execution with the `revert` opcode, which is not supported yet, hence it ends up as an invalid code. The result of invalid opcode is pretty much the same and

[2017-05-11 08:26] axic commented on #2255
This is not part of the build system at the moment. Is it possible with Python FFI to load a shared library as is?

[2017-05-11 08:29] axic commented on #2260
`throw` uses the `revert` opcode internally (which is an invalid opcode before Metropolis).

Seems like we have missed to mention this in the changelog for 0.4.10, but it is part of the documentation: http://solidity.readthedocs.io/en/develop/control-structures.html#exceptions

[2017-05-11 08:34] axic commented on #2259
Can you tell me what compiler version are you using? Cannot reproduce with 0.4.10 or 0.4.11.

[2017-05-11 08:35] axic commented on #2240
What kind of examples do you think of?

[2017-05-11 12:49] cag commented on #2255
Yes, but this practically means shipping either the whole solidity source as a submodule or incorporating it into dependent project build processes to make platform wheels available on pip for example. In any case, just having it exposed to CMake should be enough if I'm not mistaken. I suppose there may be some documentation work that might need to be done before this is shippable as part of the o

[2017-05-11 13:34] VoR0220 commented on #2240
I would imagine some string passing of json input and retrieving outputs?

[2017-05-11 13:55] roadriverrail commented on #2251
I'm looking at this now.

[2017-05-11 14:00] axic commented on #2240
Isn't that documented?

What level of detail is needed in an example? How many examples are needed? What features have to be covered?

Alternatively if you could submit a PR with examples that would help 😉

[2017-05-11 17:29] roadriverrail commented on #2209
I've got this one.

[2017-05-11 23:58] frangio commented on #2260
I see. Thanks.

[2017-05-12 06:08] yuanaichi commented on #2259
i don't know what compiler I used , I use Mist client.
Now I upgrade my Mist client from v0.8.9 to v0.8.10,  it is ok.

[2017-05-12 09:46] #2259 closed, assigned to nobody

[2017-05-12 17:40] pipermerriam opened #2266 "Standard JSON compilation cannot find or read files."
The compiler throws an error when trying to compile using the `--standard-json` flag when reading from a file.

[code]

I've also tried the following formats for the file path just in case I was formatting something a little wrong:

- `file:///Users/piper/sites/py-solc/tmp/Greeter.sol`
- `file://Users/piper/sites/py-solc/tmp/Greeter.sol`
- `file://tmp/Greeter.sol`
- `file://./tmp/Greeter.sol`
- `t

[2017-05-12 18:02] axic commented on #2266
`solc` at the moment doesn't support URL prefixes, such as `file://` (tracked in #2157), but using it in for example browser-solidity should be possible.

For regular paths, the paths must first be whitelisted via `--allow-paths <path1>,<path2>,..`. So for your use case, it should be `echo .. | solc --allow-paths tmp --standard-json`.

Also `--allow-paths` cannot handle trailing forward slashes ye

[2017-05-12 20:03] pipermerriam commented on #2266
That got things working, though I had to use absolute paths for everything as I wasn't able to get any form of relative path to work for either the `allow-paths` value or the paths passed in via standard json.

[2017-05-12 20:03] #2266 closed, assigned to nobody

[2017-05-12 21:18] pipermerriam opened #2267 "Create Ubuntu Trusty build for 0.4.11"
Is it possible to get a `solidity-ubuntu-trusty.zip` build added for `0.4.11`?

[2017-05-15 03:34] lastperson opened #2269 "Incorrect encoding of dynamic arrays in address.call"
Solidity 0.4.11
Explained in detail here:
https://ethereum.stackexchange.com/a/16165/1328

In a nutshell, call encodes dynamic arrays as fixed arrays, omitting length prefixes.

[2017-05-15 08:30] axic commented on #2269
This came up in #2226 too. I think we could argue whether it should do:
a) the entire ABI encoding or
b) the encoding as of today and let the user control the structure.

Currently it encodes the shortest way possible, that kind of doesn't matches with a) anyway.

Also a longer discussion is at #1707. See `encode.calldata(sig, varargs)`.

[2017-05-15 08:42] lastperson commented on #2269
Perhaps we can just wait for the #1707 to be implemented, and update documentation on `address.call`.

[2017-05-15 10:34] 3esmit opened #2270 "NatSpec poorly documented in solidity.readthedocs."
This information is missing from readthedocs: https://github.com/ethereum/wiki/wiki/Ethereum-Natural-Specification-Format
I think this should belong here: http://solidity.readthedocs.io/en/latest/style-guide.html that was where I was looking for it as instructed in https://github.com/ethereum/wiki/wiki/Solidity,-Docs-and-ABI/ , so I looked in history and found the 'ethereum natural specification f

[2017-05-15 15:04] pirapira opened #2272 "Appveyor test fails when a deploy key is not available"
As observed in https://ci.appveyor.com/project/ethereum-free/solidity/build/1.0.3089 , when a PR is from an account without the write access to `ethereum/solidity` repository, the Appveyor test fails.

[2017-05-15 20:00] frangio commented on #1435
Manually creating function signatures seems error prone. A `.sig` member sounds great.

[2017-05-15 21:17] Algruun opened #2273 "Read The Docs Typo"
In page 'solidity by example' on the bottom of  page in `seller.transfer(this.balance));` typo. Should be `seller.transfer(this.balance);`

[2017-05-16 02:23] seusher commented on #637
@chriseth - I didn't see a TODO in the code, but the issue seems to be that in TypeChecker.cpp the `TypeChecker::visit(FunctionCall const& _functionCall)` method does a few checks to skip adding the argument types to the function call (based on isPositionalCall), and when that eventually gets passed to `TypeChecker::visit(Identifier const& _identifier)` it first checks whether the argument types a

[2017-05-16 10:07] chriseth opened #2274 "Compile-time overflow checks"
For developers, it is much more helpful to get notified about potential arithmetic overflows already at compilation time instead of only at runtime. Furthermore, such checks might even be easier to implement than runtime checks and they will not be a breaking change. It remains to be seen how many false positives we will have.

Tasks:

 - [ ] come up with a range tracking and overflow detection ru

[2017-05-16 12:09] chriseth commented on #2267
Can you explain a bit more what you would be doing with it? Why does the static binary not serve your purposes?

[2017-05-16 15:26] pipermerriam commented on #2267
It's this build script: https://github.com/pipermerriam/py-solc/blob/master/bin/install_solc.sh

I assume you are referring to this build asset: https://github.com/ethereum/solidity/releases/download/v0.4.11/solc-static-linux

I honestly skipped over that somehow.  I'll give it a try and see if it does what I need.

[2017-05-16 15:26] #2267 closed, assigned to nobody

[2017-05-16 15:36] mezrin commented on #2242
Mist do not let to deploy a contract from source code because of this warning. I found a way to bypass it: `_myAddress = _myAddress;`. Just assign variable to itself.

[2017-05-16 17:40] pipermerriam opened #2276 "Create EIP for standard json output"
It seems like the new standard JSON output format deserves an EIP.  Is this in the works?

[2017-05-16 18:09] axic commented on #2276
I've started drafting up something, but the spec is in the flux at the moment and wouldn't want to finalise it yet. At the bare minimum the following must be sorted:
- Output target selection
- Input/output support for: Assembly, Julia, LLL
- Julia, EVM1.5, eWASM outputs

I'd imagine it will take a couple of Solidity releases before it is really stable, though we don't really expect breaking chang

[2017-05-17 09:22] chriseth commented on #2269
Functions like `call` and `sha3` do specifically not use the full ABI encoding. Yes, we should more clearly document that.

[2017-05-17 09:22] #2260 closed, assigned to nobody

[2017-05-17 09:23] chriseth commented on #2258
Closing as not a bug, please reopen if you disagree.

[2017-05-17 09:23] #2258 closed, assigned to nobody

[2017-05-17 09:24] chriseth commented on #2256
Closing as not a bug.

[2017-05-17 09:24] #2256 closed, assigned to nobody

[2017-05-17 09:26] chriseth commented on #2255
I fear providing such packages is currently out of scope.

[2017-05-17 09:28] chriseth commented on #2254
The auto-generated function does have a different signature than the one in the interface. The one in the interface requires an external and an internal implementation, while the internal implementation is missing for the auto-generated function. There is no way to call `totalSupply()` internally in `Token`. Sorry that the keyword `public` for auto-generated functions is misleading here. If you ch

[2017-05-17 09:28] #2254 closed, assigned to nobody

[2017-05-17 09:33] chriseth commented on #2248
The first warning is legitimate, I just submitted a fix to the documentation (you need the `payable` keyword for the `deposit` function).
Everything below the first warning seems to be taken from the why3 module and are not really compilation errors. Where exactly did you get the error messages from? Remix, for example, should only display such errors in the analysis / formal verification tab and

[2017-05-17 09:39] chriseth commented on #2245
The documentation around the `runs` option for the optimizer could be improved, sorry about that.
Running `solc --help` displays:
[code]

The `runs` option is not about how often the optimizer is run (it is always run until there is nothing left to improve). Instead, the optimizer has to operate under a trade-off situation: You can optimizer the code for size (i.e. deployment costs) or for runtime

[2017-05-17 09:41] chriseth commented on #2251
Duplicate of #2249

[2017-05-17 09:41] #2251 closed, assigned to nobody

[2017-05-17 10:04] yudilevi commented on #2254
Gotcha - thanks for the clarification.

Also note that the compiler does allow both public and external for 2 different functions with the same name in this case - not sure if that's supposed to be supported or not, cause I imagine that can create issues of its own.

[2017-05-17 12:28] #2273 closed, assigned to chriseth

[2017-05-17 15:11] seusher opened #2279 "Soltest fails against newer versions of cpp-ethereum"
After starting cpp-ethereum with ```eth --test -d /tmp/testeth``` and then running soltest via ```./soltest -- --ipcpath /tmp/testeth/geth.ipc```, all ipc tests will fail when using a recent version of cpp-ethereum:

[code]

Here are logs generated by uncommenting the request logging in ```RPCSession::rpcCall```:

[code]
This issue was confirmed by chriseth on Gitter:

[code]

In order to make deb

[2017-05-17 18:21] seusher commented on #2279
Building commit 4943d3eeae865537e18c410e5e7d064825bf2711 of cpp-ethereum allowed soltest to progress much further, though it still failed on a test_mineBlocks call, which caused cpp-ethereum's worker to die:

[code]
[code]

[2017-05-17 20:18] seusher commented on #2279
In case someone else wants to be able to easily see RPC requests/responses, I have created a pull request: https://github.com/ethereum/solidity/pull/2280

[2017-05-18 15:20] chriseth commented on #2204
@mikhail-vladimirov right! So is this issue resolved? If yes, please close it.

[2017-05-18 18:55] 3sGgpQ8H commented on #2204
Yes, my problem is resolved, because
1) I now understand that Solidity compiler works as designed and such behaviour is not a bug
2) Such behaviour does not prevent byte code from being successfully verified by etherscan.io and similar blockchain explorers
So I may not close the issue.

But it looks a bit weird for me that things such as relative paths of source file affect metadata hash, while su

[2017-05-18 18:55] #2204 closed, assigned to nobody

[2017-05-20 03:20] federicobond commented on #2234
They are equivalent, right? Or am I missing something? Only difference would be the implied parse tree when function is called with no arguments.

[2017-05-20 05:03] walter-weinmann commented on #2234
You have already `FunctionCallArguments?` hence `ExpressionList?` makes not really sense.

[2017-05-20 17:00] SCBuergel opened #2284 "support `switch`-`case` statements"
Currently, the [typical javascript](https://www.w3schools.com/js/js_switch.asp) `switch`-`case` statement yields an `Error: Expected primary expression.`. This would be nice to have for many applications.

[2017-05-20 19:15] akrolak commented on #683
Actually I have opposite problem, I want to use tx.origin for personal account but it returns contract address in spoke and hub model :(

[2017-05-22 14:21] djudjuu opened #2286 "different sourceIndices when using --combined-json and ast-json"
`solc --combined-json ast input.sol` produces SourceLocations where the third number starts at 0 whereas `solc --ast-json input.sol` starts at -1

[2017-05-22 16:25] retotrinkler opened #2288 "Size and stack pos mismatch for multiple non-empty 'post condition' modifier"
- Which version of Solidity you are using
0.4.11+commit.68ef5810.Emscripten.clang
- What was the source code (if applicable)
https://gist.github.com/be21f66e6cf208ce78cbd2dece7e1db9
- Which platform are you running on
https://ethereum.github.io/browser-solidity/#version=soljson-v0.4.11+commit.68ef5810.js&optimize=true
- How to reproduce the issue
See gist https://gist.github.com/be21f66e6cf208ce78

[2017-05-22 17:18] axic commented on #2286
@djudjuu @chriseth This needs to be fixed for `jsonCompiler` and `StandardCompiler` too.

[2017-05-23 06:55] wuestholz commented on #2288
In case this helps, we were able to reproduce this issue even when disabling optimization.

[2017-05-23 09:45] axic commented on #2286
Never mind, it wasn't broken in those two :)

[2017-05-23 19:52] wuestholz opened #2293 "Encoding of preconditions for non-payable functions"
According to the documentation (https://github.com/ethereum/solidity/blob/develop/docs/control-structures.rst), the compiler introduces an `invalid` instruction for the following two scenarios:
- "If your contract receives Ether via a public function without payable modifier (including the constructor and the fallback function)."
- "If your contract receives Ether via a public getter function."

G

[2017-05-23 20:29] pirapira commented on #2293
These are clearly cases for `revert`.

[2017-05-23 20:30] axic commented on #2293
We've realised that it still uses `invalid` in this thread: https://github.com/ethereum/solidity/pull/2194#discussion_r113966169

I think I agree with your reasoning and it complies with the statement "if the invalid opcode can be reached, the contract has a bug".

Though I must mention that either we consider both the above and "unknown function selector" (i.e. no supported signature and no fallb

[2017-05-23 20:44] wuestholz commented on #2293
@pirapira @axic Great! Thank you for confirming my assessment so quickly!

@axic I also agree with the changes in the pull request you are referring to. I would encode all of these scenarios using `revert`.

[2017-05-24 06:47] wuestholz commented on #2293
@pirapira @axic Please let me know if you need any help with implementing both of these changes. I think it would be great if they could make it into the next release.

[2017-05-24 08:17] pirapira commented on #2293
This is in my list, but usually this kind of thing stays for a few weeks before I start it.

[2017-05-24 08:46] chriseth opened #2296 "Syntax for creating copies of contracts"
The factory pattern that creates multiple instances of the same contract is quite common. Solidity only provides a way to implement it which requires full copies of the contracts and thus is rather costly. After metropolis, delegatecall-proxies are possible and they should also be supported for contracts created from contracts.

--

Alternative 1:

If we have an existing contract `c` of type `C`,

[2017-05-24 10:14] axic opened #2300 "Shouldn't run bytecodecompare if tests failed"

[2017-05-24 13:03] #1159 closed, assigned to nobody

[2017-05-24 15:36] axic opened #2303 "Improve byetcodecompare on Appveyor (copy logic from Travis)"

[2017-05-24 20:41] axic opened #2305 "Run the analyzer in the Julia tests"

[2017-05-24 21:11] viatrix opened #2306 "Empty strings are not supported as bytes32 function arguments"
Passing an empty string as the first argument of the function affects the second function argument.
Example contract:
[code]

Reproducible on 0.4.8 and 0.4.11

[2017-05-24 23:34] axic opened #2308 "Issue warning if an inline assembly instruction shadows a Solidity variable"

[2017-05-25 00:09] axic opened #2309 "Compile solc for the JVM/Java"
See https://github.com/ethereum/EIPs/issues/209#issuecomment-290363520.

(Low priority.)

[2017-05-26 09:15] #2305 closed, assigned to axic

[2017-05-26 09:24] #1485 closed, assigned to nobody

[2017-05-26 21:50] ya7ya commented on #2248
I'm seeing the same `Events not supported` Error too. I'm using [`solc@0.4.11`](https://github.com/ethereum/solc-js)

EDIT: this Error doesn't appear when using `web3.eth.compile.solidity` with `testrpc` , but i had to change the contract version to `0.4.6` since `testrpc` didn't get the `solc` update yet. which is what I was trying to do in the first place when I came across this error.

**Reprod

[2017-05-29 21:21] axic opened #2324 "Yul: compare types in the analyzer"
- [x] assignment
- [x] function call parameters
- [x] switch cases? That doesn't seem to be specified yet...

[2017-05-30 01:05] o0ragman0o opened #2325 "`return msg.sender.balance;` returns unexpected value"
I'm raising this first as a Solidity issue but maybe a deeper issue present.

This was raised on [SE](https://ethereum.stackexchange.com/questions/16781/return-msg-sender-balance-not-acting-as-expected)  yesterday and I have confirmed unexpected behaviour with a [contract on Rinkeby](https://rinkeby.etherscan.io/address/0x40926dce51fe43c40525e4e81b7f3413e19ab981#code)

rather than my balance in We

[2017-05-30 08:47] axic commented on #1053
Obsoleted by #2195.

[2017-05-30 08:48] axic commented on #1062
Obsoleted by #2195.

[2017-05-30 08:50] axic commented on #2248
@ya7ya please note that you are taking the `errors` from the `formal` object. Please ignore it if you are not interested in the Why3 output, which would be available within `formal`.

The real compilation errors would be part of the top level `errors` object.

[2017-05-30 08:56] axic commented on #1056
Obsoleted by #2195.

[2017-05-30 08:56] axic commented on #2248
Obsoleted by #2195.

[2017-05-30 08:59] axic commented on #1222
Is this still needed? Would be quite easy to output it from Julia.

[2017-05-30 09:00] #1056 closed, assigned to nobody

[2017-05-30 09:02] pirapira commented on #1222
I don't think so.  Meanwhile I wrote a bytecode parser in Ruby, that emits Isabelle/HOL.

[2017-05-30 09:02] #1222 closed, assigned to nobody

[2017-05-30 09:39] lowcid opened #2326 "compiler error (solc 0.4.11) - caused by name of function"
Hi,

It seems the name of a function in a contract is causing a compiler error related to the stack.
The error arises when the name "nredit" is used for a specific function.
**When changing this function name to "credit" the contract compiles without errors.**
[code]
Using:
[code]
Also it seems to be related to the other two constant return functions in the contract. When i remove one of them the

[2017-05-30 09:48] axic commented on #2325
This is translated into this (with 0.4.12-develop.2017.5.30+commit.64f76b30.Darwin.appleclang
):
[code]

This seems to be correct. Does it work properly with on-chain transactions? It only fails with `eth_call` on geth?

[2017-05-30 11:17] axic opened #2329 "Warn if callcode is used"
(Split off #2174.)

Emit a warning if `callcode` is used within Solidity (except if within inline assembly).

[2017-05-30 13:32] roadriverrail commented on #2274
Notes about this-- the warning issued for potential overflow takes a very conservative approach.  Anything that could overflow should issue a warning.  This is to encourage contract developers to use `assert( )` and control flow structures (e.g. `if { }`) to create guard conditions.

[2017-05-30 15:39] chriseth opened #2330 "Interface functions are external, or no interfaces"
Suggestion by @pirapira :

Functions in interface contracts are external by default and functions cannot be anything else than external.

We have to make sure that it is still fine to override external interface functions with public functions in contracts.

[2017-05-30 15:40] pirapira commented on #2330
I would argue interfaces are not contracts, and their members have no visibilities.

When a contract inherits an interface, the contract's externally visible members are examined against the interface's members.

[2017-05-30 15:42] chriseth commented on #2296
Alternative 2 also has the benefit that the code of the contract to be created is only part of the creation transaction code and not part of the deployed code (as it is currently).

[2017-05-30 15:46] pirapira commented on #2330
Another good way (which I prefer) is to remove the `interface` keyword so that we do not need to choose a meaning of the word.

[2017-05-30 18:17] axic commented on #2330
I think it is a good idea to change the "visibility" to external and disallow visibility modifiers in interfaces. They are meant to describe what the ABI describes.

I am not in favour of removing the `interface` keyword.

[2017-05-31 09:53] veox commented on #2296
Seems to me that this would require storing a list of "child" contracts, and it is possible to block the destruction of "master" by creating a copy and throwing away the key.

-----

EDIT: Won't work, see next comment.

Instead of a separate flag, can this be achieved by having the first five bytes of a master contract as

`0x 60 `**`00`**` 60 `**`ff 57`**` (PUSH1 `**`0x00`**` PUSH1 `**`0xff JUMPI

[2017-05-31 12:59] chriseth commented on #2296
@veox thanks for your comment! Unfortunately, just changing the code is not an option, also the regular call would run into an infinite loop. But it seems that there is a cheaper way: At deploy time, the address of the master is stored in its own code and that is checked for each call. (updated the description)

[2017-05-31 13:24] chriseth commented on #2101
This is not needed anymore.

[2017-05-31 13:24] #2101 closed, assigned to nobody

[2017-05-31 13:25] chriseth commented on #1774
This has been implemented by @djudjuu

[2017-05-31 13:25] #1774 closed, assigned to nobody

[2017-05-31 13:26] chriseth commented on #1770
This has been implemented by @djudjuu

[2017-05-31 13:26] #1770 closed, assigned to djudjuu

[2017-05-31 13:30] chriseth commented on #2284
This has not been added yet because some more research has to go into how to handle match expressions for sum types and destructuring.

[2017-05-31 15:42] chriseth commented on #2296
Suggestion for the syntax for alternative 2: `create C(x1, ..., xn)`

[2017-05-31 20:08] pirapira commented on #2101
Nice.

[2017-06-01 10:02] ethernomad opened #2333 "Access constant state variables via class name"
Currently if I want to access some constants in another class I have to use the `is` notation to "import" the contract containing the constants into the current contract. This pollutes the namespace of the current contract.

It would be great if I could just access constant state variables in another contract directly:

`className.constantThatIWant`

[2017-06-01 10:09] chriseth commented on #2333
I know you really badly want this, but creating the same issue again and again won't help implementing it: https://github.com/ethereum/solidity/issues/1290 ;-)

I have labeled the other one as up-for-grabs meaning that this should be a good issue for external contributors to implement.

[2017-06-01 10:09] #2333 closed, assigned to nobody

[2017-06-01 10:23] ethernomad commented on #2333
Ah - I couldn't find the first one!

[2017-06-01 12:46] axic opened #2337 "Introduce optimiser in julia/evm/Assembly"
- [x] function inliner
- [x] unused variable elimination
- [x] unused function elimination
- [ ] turn `switch <e> case 0 <b>` into `if not(tobool(<e>)) <b>` (needs the built in functions finalised)
- [ ] turn `switch <e> case 1 <b>` into `if tobool(<e>) <b>` (needs the built in functions finalised)

And the filters listed in #2405.

[2017-06-01 12:46] axic opened #2338 "Change CompilerContext to use AbstractAssembly"

[2017-06-01 14:13] chriseth commented on #2337
We could already think about optimization strategies. One analysis step that certainly has to be perform is to check which functions can have side-effects.

One optimization pass that I was not able to do in the old system was [loop invairant code motion](https://en.wikipedia.org/wiki/Loop-invariant_code_motion) which should now be much easier.

I think we should take a look at code generated from

[2017-06-02 20:13] axic opened #2340 "Should warn for unreachable code"
[code]

Perhaps this fits the static analyzer in browser-solidity better.

This should also be able to deal with `modifier mod(){ return; _; }`

[2017-06-03 05:27] roadriverrail commented on #2340
Another possibility-- I need to do control flow analysis for the compile-time overflow checks.  If we have control-flow analysis, then unreachable code detection shouldn't be hard.

[2017-06-03 22:52] kiknaio opened #2343 "Solidity Logo"
It would be nice if Solidity had a logo 👍

[2017-06-03 23:01] roadriverrail commented on #2343
Are you volunteering, then? 😁

On Sun, Jun 4, 2017, 00:52 George Kiknadze <notifications@github.com> wrote:

[2017-06-03 23:03] kiknaio commented on #2343
I will try to do my best 😃

[2017-06-03 23:08] roadriverrail commented on #2343
I'm not in charge or anything, mind you, but I don't think we have a
dedicated designer for logos.

On Sun, Jun 4, 2017, 01:03 George Kiknadze <notifications@github.com> wrote:

[2017-06-03 23:39] kiknaio commented on #2343
I am not a designer but I will try :)

[2017-06-04 01:26] wangwangwar opened #2344 "Implicit fallthrough warning on GCC 7.x"
Which version of Solidity you are using

What was the source code (if applicable)

[code]

Which platform are you running on

How to reproduce the issue

What was the result of the issue

[code]

What the expected behaviour is

[2017-06-05 10:13] axic commented on #2343
Solidity already has a logo, it is this: https://github.com/ethereum/browser-solidity/blob/16e7446998a2d012a482070f856d96b37cab8c19/assets/img/sol.svg (though it was only used in browser-solidity)

[2017-06-05 21:34] axic opened #2346 "Experimental mode"
An experimental mode could be introduce (turned on by `pragma experimental;`), which enables risky/unfinished/untested features (but still issues warnings for them).

This could enable a more rapid merging process, yet still not exposing users to risky code.

[2017-06-06 13:01] #2343 closed, assigned to axic

[2017-06-07 08:00] LefterisJP commented on #2344
Related: https://github.com/ethereum/solidity/pull/2339

I have not had time to do a proper fix as suggested by @chriseth yet, but you can use my "hack" where you ignore the warning.

[2017-06-07 17:28] chriseth opened #2349 "Warn if a decimal literals are used in a bytesXX context."
`bytesXX` types are left-aligned (i.e. right-padded with zeros), which is intuitive for things like `bytes32 a = "abcdef";`, but it is less intuitive for `bytes32 a = 7;`. After all, `bytesXX` types are not really meant to be used for decimal numbers anyway. We should issue a warning whenever a decimal literal is used in a `bytesXX` context.

[2017-06-08 06:43] vanshaj2608 opened #2352 ""At Address" not working + create shows Error - callback contain no result Error: SyntaxError: Unexpected token < in JSON at position 0"
i am trying build a contract on rinkeby network through metamask but when i click create it shows error  - callback contain no result Error: SyntaxError: Unexpected token < in JSON at position 0
prior to create  there is no error in the contract and is build with no errors .
"At Address" button is also not working on clicking it shows pop up that enter the address but after entering and clicking i

[2017-06-08 06:45] vanshaj2608 commented on #2352
![image](https://user-images.githubusercontent.com/27974958/26915530-05ef878c-4c44-11e7-9d25-794479a49069.png)

[2017-06-08 12:34] chriseth commented on #2352
Moved the correct repository: https://github.com/ethereum/browser-solidity/issues/586

[2017-06-08 12:34] #2352 closed, assigned to nobody

[2017-06-08 12:44] yann300 commented on #2352
@vanshaj2608 could you retry the `atAddress` now?

[2017-06-08 12:59] 7flash commented on #1546
The question is not about identity.
The question is next.
What is the best way to structure a lot of contracts with a lot of information?
How to implement flyweight design pattern is solidity?

[2017-06-08 16:16] djudjuu opened #2355 "non UTF-8 literals are dropped from JSON-export without warning"
A warning should be generated at
ASTJsonConverter::visit(Literal) : 709

example code:

`contract C {
  bytes a = hex"1237651237125387136581271652831736512837126583171583712358126123765123712538713658127165283173651283712658317158371235812612376512371253871365812716528317365128371265831715837123581261237651237125387136581271652831736512837126583171583712358126
}"

[2017-06-08 18:16] illuzen opened #2356 "Function comparison creates disturbance in the stack"
After binary search a la code deletion, I finally found what was causing my stack disturbance: casting an address as a contract and then incorrectly referencing variables in that contract (without parentheses). Putting the parens in fixes it, but it is hard to find in a larger contract, so maybe the compiler could give a more helpful response. Also, it's odd because function comparison doesn't see

[2017-06-08 23:39] axic commented on #2355
To me `solc --ast-compact-json` seem to output the right detail:

[code]

Note that the `value` field is omitted if it is not UTF-8 compatible, because that will produce an invalid JSON file, which breaks emscripten. Also have a look at the description above :)

[2017-06-08 23:42] #2355 closed, assigned to nobody

[2017-06-09 06:41] vanshaj2608 commented on #2352
i moved on to use compiler from this url - https://ethereum.github.io/browser-solidity/
and it is working fine.

[2017-06-09 08:32] jamesray1 opened #2357 "Layout of a Solidity Source File Version Pragma"
•Which version of Solidity you are using
N/A, just learning on readthedocs.
•What was the source code (if applicable)
N/A
•Which platform are you running on
N/A
•How to reproduce the issue
N/A
•What was the result of the issue
N/A
•What the expected behaviour is
N/A
I am not reporting on a bug with Solidity, but with an issue on readthedocs here:

https://github.com/ethereum/solidity/blob/develop/

[2017-06-09 09:08] chriseth opened #2358 "Warn if `for (var i = 0; ...)` is used"
This is a common pitfalls because type deduction will assign the type `unt8` to `i`, which will probably lead to problems with overflow and the for condition.

[2017-06-09 10:26] djudjuu commented on #2355
thx, I was not aware that I can always recreate the value from the hexValue-String

[2017-06-09 12:53] chriseth commented on #2356
Thanks a lot, @illuzen ! The proper fix would be to disallow the comparison operator for function types. This is determined by the `binaryOperatorResult` function on the type classes (in `Types.h`). Currently, the default implementation in the Type base class is to allow comparison operators for all types. Most of the derived classes then again disallow it by returning the empty `TypePointer()` fo

[2017-06-09 12:53] chriseth commented on #2356
By the way, it seems that the same bug is also present if you want to compare mappings.

[2017-06-09 16:48] pirapira commented on #909
* I'm inclined for this kind of syntax:
[code]

* I am kind of against the "ignoring the data" behavior of  `==` operator.  We lose a nice property
`if (x == y) { x = y; }` is always a no-op (except for gas).

* Further, I would introduce a `case`-expression like
[code]

* This has a nice algebraic property:

[code]
can be rewritten into just `h`.  The constructor of the algebraic datatype cancels

[2017-06-09 19:45] illuzen commented on #2358
Is there a case where type deduction is good and doesn't lead to errors like this?

[2017-06-09 19:51] VoR0220 commented on #2358
@illuzen Contract referencing comes to mind. But even that has some pitfalls (which I believe are being addressed as we speak).

[2017-06-09 20:16] axic commented on #2358
It was useful before function types were added. Less useful now.

[2017-06-09 20:59] axic opened #2365 "Variable locations are wrongly calculated in Julia assembler"
[code]

The location of `x` is calculated wrongly, because the other declarations between the jump and label are also taken into account.

`z` should be `dup1`, but is generated as `dup2`. If `let y` is removed it results in `dup1`.

[2017-06-09 21:24] axic commented on #2365
This can also be reproduced in inline assembly:
[code]

[2017-06-11 07:54] jamesray1 opened #2371 "Explain unexplained terms in the documentation"
Learning Solidity on http://solidity.readthedocs.io, there are too many terms that are introduced without a proper definition for those who may not be familiar with such terms. This makes it difficult to learn Solidity without doing a lot of background reading, or learning another language. I know VBA from university and some C++ from learncpp.com, but there is a lot that I have to read up on else

[2017-06-11 22:02] tclass commented on #2371
could you give some examples what terms would need a proper definition? I think we don't want to explain common computer science terms, but we could make a glossary, for some terms

[2017-06-12 01:26] jamesray1 commented on #2371
Basically, my intention is to make it easier for someone to learn Solidity as their first programming language. If you go to learncpp.com, that is a good example of how to teach clearly, without always assuming that the reader knows what you are talking about. So any terms that may not be familiar to such an audience would be good to be defined.

For example, one of the docs mentioned ABI, without

[2017-06-12 06:34] jamesray1 commented on #2371
"It is possible to mark arrays public and have Solidity create a getter."

http://solidity.readthedocs.io/en/develop/types.html

What is a getter?

I found this:

http://solidity.readthedocs.io/en/develop/contracts.html#getter-functions

It should say:

"It is possible to mark arrays public and have Solidity create a getter. Getters will be explained later [here](http://solidity.readthedocs.io/en/

[2017-06-12 07:12] jamesray1 commented on #2371
A newbie doesn't have to understand all the terms when they are introduced. However, it is important that it is explained that those terms will be explained later (ideally with a reference to where it is explained).

[2017-06-12 08:58] chriseth commented on #2365
This is a documented downside of using a raw `jump`. To fix it, we should ban raw jumps and labels.

[2017-06-12 09:56] axic commented on #2365
At the bare minimum we need a warning displayed. The warning in the documentation is quite hidden.

[2017-06-12 09:59] chriseth commented on #909
I agree that we need some kind of match expressions. Concerning `if (x == y) {x = y;}`: It is only a no-op if the common type of `x` and `y` is that of `x`, but yes, the comparison proposed in the description might be too misleading. If we can get same same functionality using match expressions with not too much more code, I'm fine with dropping it.

[2017-06-12 10:15] chriseth commented on #2365
You are proposing to show a warning whenever labels are used instead of banning them (at least for the next release)?

[2017-06-12 10:15] chriseth commented on #2365
Note that such a warning can only be silenced by changing to switch and for.

[2017-06-12 13:49] pirapira commented on #2371
@jamesray1 please change the title "Documentation" to a more descriptive one.  That would draw more attention, which this issue deserves.

What's missing is a list of technical terms, and an ordering between them showing which can be explained after which.

[2017-06-12 13:52] pirapira commented on #909
@chriseth what about this instead of the not so equal equality?

[code]

[2017-06-12 14:33] chriseth commented on #909
Hm, that looks like a good solution!

[2017-06-12 17:07] chriseth commented on #2371
@jamesray1 these are very good suggestions! I don't think the documentation as it is now is suitable for people who learn Solidity as their first programming language, and perhaps it should also not have such people as audience because programming should be learnt properly.

Having said that: If terms can be explained without breaking the flow for people who know these terms, then they should be e

[2017-06-12 17:36] eyezick opened #2377 "Documentation stating fallback function required"
[code]

I have a small contract here, that does not have a fallback, but receives ether through the depositFunds function. So it seems the above text should be edited/removed.
[code]

[2017-06-12 21:14] naterush commented on #2377
While I agree this is slightly confusing wording when alone, it seems fine as it is in the section about sending Ether when calling the callback function. In this case, it is true that in a contract w/o a fallback function will throw if sent ether.

[2017-06-13 08:13] rstormsf opened #2379 "delete array[index] doesn't change length and leave "0""
How am I supposed to remove an element from an array without having "0" in there and having resized `length`. The only way I could find is the following:

need some method
[code]
but this method still gives me wrong `length` and has `0` in removed array, althougt I use completely new Array and don't even touch the index.

[2017-06-13 10:24] axic commented on #2371
I am not entirely convinced Solidity should be a first language to learn. While it has a relatively simple syntax there are many caveats even seasoned developers tend to omit at first.

I do like the idea of a glossary and links to the glossary though.

[2017-06-13 10:54] chriseth commented on #2371
As this is a meta-issue which can never considered "finished", I will close it.

[2017-06-13 10:54] #2371 closed, assigned to nobody

[2017-06-13 14:00] ruchevits opened #2380 "Invalid option to --combined-json: hashes"
`g_strSignatureHashes` option is not picked up in [CommandLineInterface::handleCombinedJSON](https://github.com/ethereum/solidity/blob/002df12d13fb423be641878a20b73bd10f90a6df/solc/CommandLineInterface.cpp#L825)

[2017-06-13 14:49] axic commented on #2365
Well labels are not doing anything, but jump instructions are. Ideally it should warn if a variable declaration is within a block jumped over, but it is way easier to simply warn on a jump instruction.

I think it is a good way to prepare for deprecation of inline assembly in favour of Julia.

[2017-06-13 16:05] ruchevits commented on #2380
https://github.com/ethereum/solidity/pull/2382

[2017-06-13 16:49] ghost opened #2383 "Issue with UTF-8 failing to decode hex bytes"
Given the following raw hex string:<br>
`public constant notValid = hex"F09FA684";`
Solidity throws the following error:

However, given the valid series of UTF-8 encoded bytes `\xF0\x9F\xA6\x84`, Solidity should decode it to get the unicorn emoji: 🦄, a valid UTF-8 decoded character.

You can verify the desired behavior [here](https://mothereff.in/utf-8),
entering \xF0\x9F\xA6\x84 into the **UTF-8

[2017-06-13 17:05] chriseth commented on #2379
This looks like correct code to me. I would suspect the error to be in the code where `remove` is called. I think this question might be better suited for the ethereum stackoverflow. Furthermore, are you sure you need such an expensive function? If you store the array in storage, then a mapping might be a better choice.

[2017-06-13 17:08] #2377 closed, assigned to nobody

[2017-06-13 17:34] pirapira opened #2385 "Forbid trailing commas in { }"
It [seems like](https://github.com/ethereum/solidity/pull/2378#issuecomment-308167778) the parser allows `{ x : 1, y : 2, }`, but @chriseth  is [against it](https://github.com/ethereum/solidity/pull/2378#issuecomment-308177075).

[2017-06-13 17:42] chriseth commented on #2385
Not only me, also the  grammar! ;-)

[2017-06-13 17:45] pirapira commented on #2385
But, I don't know how `;` ended up being a terminator.

[2017-06-13 19:42] rstormsf commented on #2379
So u mean, instead of using array structure, I better off using `mapping(uint number => string value) ` if so, how do I make sure to keep the index in order when I remove an item? Would u mind to give an example. Sorry for posting it here.

[2017-06-13 19:43] rstormsf commented on #2379
Yes, the code above works fine, and I'm trying to find a better way, less expensive way of doing it

[2017-06-13 19:49] axic opened #2387 "Yul: return variable scoping"
[code]

This fails with:
[code]

I think the return values are in the scope of the function body and therefore should be allowed.

[2017-06-13 19:53] chriseth commented on #2379
Ah I see! Without knowing more context, it is hard to say, but do you actually need contiguous indices for your data?

[2017-06-13 19:55] chriseth commented on #2387
Yes, and this is by design. We might lift the shadowing rules a bit, but you could also use the following code:

[code]

[2017-06-13 20:00] rstormsf commented on #2379
True. I might not need it at all and keep a variable to count the size. Thank you

[2017-06-13 20:00] #2379 closed, assigned to nobody

[2017-06-13 20:01] axic opened #2388 "Calling assemble twice on AssemblyStack fails"
Calling it once for EVM and then for EVM15 will result in "Label not found" (example has a function definition + call)

[code]

I guess the analysis info is adjusted by the call.

[2017-06-13 20:02] chriseth commented on #2388
I just spent several hours investigating a different crash which probably has the same cause. Fix coming up...

[2017-06-14 02:41] zyfdegh opened #2391 "Failed to run script "install_deps.sh" on CentOS"
## Which version of Solidity
latest commit  on branch develop c99c1c76f

## What was the source code
File `scripts/install_deps.sh`, [Line 325~Line 366][line325]

## Which platform are you running on
* OS: CentOS 7.3
* Kernel: Linux x86_64 3.10.0-514.21.1.el7

## How to reproduce the issue
Clone the repo, fetch submodules
[code]
And
[code]

## What was the result of the issue
Retrieve GPG keys fro

[2017-06-14 05:19] benicillin commented on #2357
does this comment refer to semver-compatible versions as defined by NPM here https://docs.npmjs.com/misc/semver ?

[2017-06-14 12:12] #2388 closed, assigned to chriseth

[2017-06-14 13:31] #2385 closed, assigned to nobody

[2017-06-14 15:40] #2135 closed, assigned to winsvega

[2017-06-14 17:08] chriseth commented on #2391
I'm sorry, but we cannot provide detailed support for all distributions. This script mostly relies on the community to provide feedback.

[2017-06-14 17:09] chriseth commented on #2357
@benicillin yes

[2017-06-14 22:13] benjaminion opened #2400 "LLL: "set", "get" and "ref" expressions not compiling."
While writing some end-to-end tests for the built-in macros in LLL (yay!), it became apparent that the "set" expression (used in the first msg macro) no longer compiles. E.g.

    ...blah...
    Symbol not found: set

The same goes for "get" and "ref".

SET, GET and REF are handled in the parser, *liblll/CodeFragment.cpp*. Parsing fails when the parser executes `m_asm.append((u256)varAddress(first

[2017-06-14 22:35] axic commented on #2400
It seems this was broken by https://github.com/ethereum/solidity/commit/b1add657b76621952be100b4203dd2c8a466b9a1.

Can you create a PR with your tests? Just write them as you think they should work.

[2017-06-14 22:37] axic commented on #2391
Can you check what `g++` and `boost-devel` versions do you have installed? Perhaps newer CentOS versions don't need a new one installed.

[2017-06-15 01:53] zyfdegh commented on #2391
@chriseth I'm on it and trying to install the many dependencies. I will put a PR if I succeed.

[2017-06-15 01:57] zyfdegh commented on #2391
@axic  Yeah,  I've installed boost 1.53.0 but the precheck script told me it's too old. I'll upgrade it and see if it works.

[2017-06-15 03:06] federicobond opened #2403 "Segmentation fault with constant array parameter"
Source code:

[code]

AFAIK, the constant qualifier should be forbidden inside parameter lists.

[2017-06-15 06:17] chriseth commented on #2391
Wonderful, thanks a lot!

[2017-06-15 08:08] chriseth commented on #2403
Using the constant qualifier like this is an unimplemented feature.

[2017-06-15 08:10] chriseth commented on #2380
Thanks for reporting and fixing!

[2017-06-15 08:10] #2380 closed, assigned to nobody

[2017-06-15 09:22] jamesray1 commented on #2357
I will create a fork and pull request.

[2017-06-15 09:32] jamesray1 commented on #2371
OK, thanks for the comments, sounds reasonable.

[2017-06-15 11:30] axic opened #2405 "Yul to Webassembly code generator"
- [x] fix add_carry and other functions
- [x] implement basic codegen using text output
- [ ] move to binaryen
- [x] implement switch
- [x] implement for
- [x] split >64 bit types into memory
- [x] move multi return values to globals
- [x] filter: move root statements to the "main" function (a step already exists which encloses statements and moves them into a block at the top of the AST; this blo

[2017-06-15 12:02] jamesray1 commented on #2357
Here it is: https://github.com/ethereum/solidity/pull/2407

[2017-06-15 22:34] federicobond opened #2410 "Error out when function has payable specified multiple times"
Test case:

[code]

[2017-06-15 22:42] federicobond commented on #2410
Happens with `constant` too:
[code]

[2017-06-16 00:27] VoR0220 commented on #2410
Oooo...thats nasty.

[2017-06-16 14:36] chriseth opened #2412 "UTF8 validation is too sloppy"
Some invalid utf8 sequences are allowed by the utf8 validator code.

https://stackoverflow.com/questions/6555015/check-for-invalid-utf8

https://github.com/ethereum/solidity/pull/2386

[2017-06-16 14:41] #2383 closed, assigned to axic

[2017-06-16 15:50] axic commented on #2412
I'd rather just go by the spec: *pp124 of http://www.unicode.org/versions/Unicode9.0.0/ch03.pdf*

The current validator implements Table 3-6. Table 3-7 specifies irregular exceptions, which we need to add. Damn you, Unicode.

[2017-06-16 16:37] axic opened #2414 "Licensing"
Since the license is now included in the binary it should actually represent the entirety of the code. There are three parts, which are not GPL3 licensed:

1. [ ] `libdevcore/SHA3`
[code]

Where CC0 corresponds to public domain (as much as allowed by local law), but the *attribution kindly requested* moves it to a bit of a grey area.

2. [x] `libdevcore/debugbreak.h`

2-clause BSD. This requires r

[2017-06-17 07:57] jamesray1 commented on #2371
So can we start building a glossary doc?

Here's a start:

[Keccak](http://keccak.noekeon.org/specs_summary.html)

[2017-06-17 08:04] pirapira commented on #2371
For Keccak, we have to mention that we do not use the newest specification available but the one submitted to the SHA3 competition.

[2017-06-17 20:57] benjaminion commented on #2400
A test for this is included in PR #2418 (msg_six_args). I can split it out into a separate PR if you prefer. Let me know.

[2017-06-17 21:04] federicobond opened #2419 "Think about giving Inline assembly as parsed AST in AST output"
Does it make more sense to represent the operations as a list of parsed assembly items?

[2017-06-17 21:38] moneroexamples opened #2420 "CompilerUtils.cpp:784:3: error: this statement may fall through [-Werror=implicit-fallthrough=] }"
This issue is based on this one for Arch/Manjaro:

https://github.com/moneroexamples/compile-cpp-ethereum-on-arch/issues/2

gcc version:

[code]

Problem:
[code]

A proposed solution form the comment in that issue:

New gcc seem not to allow switch cases to [fall through](https://gcc.gnu.org/onlinedocs/gcc/Statement-Attributes.html).

A possible fix could be adding `__attribute__((fallthrough));`

[2017-06-18 02:34] federicobond commented on #2154
Could not reproduce with latest version.

[2017-06-18 02:52] ethernian opened #2421 "RFE: Introduce private selectors for struct and other types"
# Problem
Consider an already deployed contract `Base` exposing a complex struct into public space.
[code]
Consider some other contract `BaseUser` developed later and accessing some fields of the struct `S` from the contract `Base.`

[code]
As you see, if the contract `Base` does not define individual accessors for fields of struct `S`, the `BaseUser` should retrieve whole struct, what is ineffici

[2017-06-18 11:04] ethernian commented on #2421
### [Change 1] Implementation:
it would be better to use reverse bitmask; 0-include the field, 1- exclude it.
0x0 value would select all fields per default.
It would be compatible with current struct accessor (without bitmask support).
[code]

[2017-06-18 14:02] pirapira commented on #2421
An alternative is to introduce `ignore` in the tuple assignment:

[code]

[2017-06-18 15:35] ethernian commented on #2421
@pirapira , the `ignore` statement will workaround the local vars limitation, but doesn't solve the efficiency problem.  Is it correct?

[2017-06-18 16:31] federicobond commented on #2421
Looks reasonable. I would suggest a more standard destructuring syntax:
[code]
You could also allow renaming:
[code]
For arrays, I am more inclined to provide a fake method:
[code]

[2017-06-18 17:23] ethernian commented on #2421
@federicobond
I think it is not like destructuring because we don't want to transfer the whole object through msg.data. There is no object to destruct at all; we want to request parts of it.
It should be quite tricky, to pass the field list from the left part of the assignment into the right part to build an accessor call. And what about if we have no assignment at all, but a method call or return

[2017-06-18 18:37] federicobond commented on #2421
You are right, what I had in mind would be tricky to implement and only work with assignment statements. I am still not sold on the syntax though, I'll give it some thought.

[2017-06-18 23:22] ethernian commented on #2421
@federicobond

Yes, it is not perfect yet.

My problem with the syntax is that the expression in the brackets sometimes looks like compile time declaration of struct fields like `base.s[name,n]()` and sometimes it looks like runtime expression like `base.arr[i+1]()`. Although it should not be a problem because the type of the context is always defined, I am not quite happy with compile-time/runtim

[2017-06-19 04:14] steveO1234 commented on #1557
I know this is a fairly old thread, but I'm running the same exact code and running into the same problem. HelloWorld.deployed().balance.call() results in the same error; TypeError: Cannot read property 'call' of undefined. Any idea for a work around?

[2017-06-19 09:53] #1472 closed, assigned to nobody

[2017-06-19 09:57] chriseth commented on #2414
Let's remove debugbreak.

As far as I know, MIT only requires reproduction in the source code, not in the binary.

[2017-06-19 09:59] chriseth commented on #2419
It might, but the assembly grammar is much simpler, so we went this way.

[2017-06-19 10:00] #2410 closed, assigned to nobody

[2017-06-19 10:03] axic commented on #2414
MIT doesn't, but a LICENSE file containing it should be supplied with the binary. Since we don't supply a separate file, but a built in version, one could argue that should contain it.

[2017-06-19 14:45] pirapira commented on #2293
Now I can start it!

[2017-06-19 14:46] pirapira commented on #2293
But I think @chriseth has done this.

[2017-06-20 16:19] pirapira commented on #2371
@jamesray1 what you can do:

1. create `jamesray1/ethereum-glossary` repository
2. create a very small glossary in it
3. add an open source license
4. post the repo in reddi
5. let people fork and add entries

[2017-06-20 17:13] federicobond opened #2428 "Should function types be allowed to name their arguments?"
The example for function types in the documentation looks like this, where function parameters can have names.

[code]

This behavior was explicitly forbidden in the grammar specification (see [here](https://github.com/ethereum/solidity/blob/develop/docs/grammar.txt#L50-L51)). Is this a bug in the current implementation?

[2017-06-21 03:55] DillonBArevalo opened #2430 "Solidity By Example Voting contract bug fix"
issue: function `giveRightToVote` can destroy weight given by function `delegate`.

For example:

1. chairperson makes ballot
2. chairperson gives right to vote to voter1
3. chairperson delegates to voter1
4. voter1 votes for prop
5. total votes = 2

vs

1. chairperson makes ballot
2. chairperson gives right to voter1
3. chairperson delegates to voter1
4. chairperson gives right to voter1 again #t

[2017-06-21 15:19] federicobond opened #2432 "Enforce function parameters when implementing interfaces"
See discussion in #2408

[2017-06-21 15:54] #2430 closed, assigned to nobody

[2017-06-21 15:55] chriseth commented on #2430
Thanks!

[2017-06-21 16:15] chriseth opened #2434 "Add an error for tuple assignment with reference types"
Tuple assignments of the form `(x, y) = (y, x)` do not work if both `x` and `y` are storage reference types, but there is currently no warning. We should actually flag an error.

What should the actual condition be?

 - The number of variables of storage reference type is at least two on both sides

[2017-06-21 16:15] federicobond commented on #2432
Just checked and it only happens in that specific test, not when compiling with `solc`, probably something related to the test setup.

[2017-06-21 16:17] chriseth commented on #2428
I agree that this would increase readability, but in general, the name of a variable is not part of the type....

[2017-06-21 16:20] federicobond commented on #2428
FWIW, I think the implementation should change to enforce no names in types for consistency.

[2017-06-21 16:48] chriseth commented on #2434
Perhaps "warn if at least one copy from storage to storage and another copy to storage (from whereever) happens)"

[2017-06-21 17:06] chriseth opened #2435 "Make copy / reference semantics more explicit"
Implicit copy operations from storage to memory, from calldata to memory, from memory to external function arguments, etc is not possible anymore except for value types.

To make an ordinary value copyable, use the `copyof` operator: `x` cannot be copied, but `copyof x` can be copied. Using `copyof` twice is invalid. Storing a copyable type somewhere erases the copyable property again, i.e. `uint[

[2017-06-21 17:06] chriseth opened #2436 "Require "storage" keyword for local variables."

[2017-06-22 00:42] axic commented on #2428
I'd agree with @federicobond, having names could be confusing considering shadowing rules.

[2017-06-22 04:22] o0ragman0o opened #2441 "Address literals not being treated as "compile-time constant""
This has been brought to my attention in a recent code review, that the compiler triggers a 'compile-time constant' warning when assigning an address literal to a constant:

    contract addrConstantWarning {
        address constant test = 0xCA35b7d915458EF540aDe6068dFe2F44E8fa733c;
    }

The workaround is to assign to a variable but this unnecessarily consumes state.

Compiled in 0.4.11

[2017-06-22 05:54] chriseth commented on #2441
Thanks for reporting!

In addition to that, the code above should not compile at all, since the right hand side is a 42 byte string and not an address.

[2017-06-22 05:57] o0ragman0o commented on #2441
Ah, actually I forgot to remove the quotes.  That was just to test for alternative behaviour...

[2017-06-22 09:10] chriseth commented on #2274
I spent some thoughts on how conditions could be implemented. One way would be to use an SMT solver, but most of them are based on bitvectors, and because of that, I think we should get quite poor performance. There are "smallish" libraries like this one here: https://github.com/stp/stp

Another approach would be to do this "manually", and it could work in the following way:

As we also currently

[2017-06-22 11:53] axic commented on #2420
Thanks! It is currently worked on in #2339.

Duplicate of #2344.

[2017-06-22 11:53] #2420 closed, assigned to nobody

[2017-06-22 11:58] axic commented on #1053
@pirapira can we close this?

[2017-06-22 11:58] axic commented on #1062
@pirapira can we close this?

[2017-06-22 11:59] axic commented on #2248
Closing this as the `formal` object should not be checked for errors if Why3 is not required.

[2017-06-22 11:59] #2248 closed, assigned to nobody

[2017-06-22 12:25] pirapira commented on #1062
Yes.

[2017-06-22 12:25] #1062 closed, assigned to pirapira

[2017-06-22 12:26] pirapira commented on #1053
Yes.

[2017-06-22 12:26] #1053 closed, assigned to nobody

[2017-06-22 12:54] axic opened #2447 "LLL: include real life contracts in the test suite"
A good candidate is `ens.lll`. Are there any other substantial pieces of code worth including?

cc @zigguratt @benjaminion

[2017-06-22 13:00] zigguratt commented on #2447
There aren't any other deployed LLL contracts, afaik. I have a few full contracts that compile properly and would work for the purposes of testing, but I'd have to check them over and make them test-ready. I'm extremely busy for the next two days, but I can get to it after that.

@benjaminion, to his great credit, has implemented an ERC20 token in LLL. He could tell you more about it and whether i

[2017-06-22 13:17] chriseth commented on #2428
Oh I'm sorry, misunderstood you there. Yes, let's disallow the names.

[2017-06-22 13:18] chriseth commented on #2358
I think this is quite important, as the question comes up again and again. Will implement.

[2017-06-22 15:26] chriseth commented on #2209
@roadriverrail is this finished?

[2017-06-22 15:31] roadriverrail commented on #2209
@chriseth I seem to recall the ErrorReporter work getting merged in a couple of weeks ago.  Yes?

[2017-06-22 16:03] #2154 closed, assigned to nobody

[2017-06-22 16:46] #2403 closed, assigned to nobody

[2017-06-22 21:33] #2306 closed, assigned to chriseth

[2017-06-23 09:12] paulperegud commented on #2154
Yep, seems to be fixed.

[2017-06-23 09:40] #2209 closed, assigned to roadriverrail

[2017-06-23 09:48] chriseth commented on #2326
Reduced to
[code]

[2017-06-23 09:56] #2441 closed, assigned to nobody

[2017-06-23 14:50] #2400 closed, assigned to axic

[2017-06-23 14:57] axic opened #2456 "Travis Emscripten build should run the tests of solc-js"

[2017-06-23 15:36] pirapira opened #2458 "A dynamic array declared in a function cannot be substituted away."
The violated property
----------------------------

In general,
[code]
should be equivalent to
[code]
if `a` does not have side-effects.

The violation
----------------

However, this property does not hold in Solidity because
[code]
behaves quite differently from
[code]

The latter performs elementwise copy while the former does not.

[2017-06-23 15:47] chriseth commented on #2458
Solidity is not the only language that does not have this property. Python for example, a language that is usually considered to be very intuitive or at least easy to learn behaves like that:

[code]

[code]

[2017-06-23 15:48] chriseth commented on #2458
In general, I think that https://github.com/ethereum/solidity/issues/2435 should make this distinction clear to the programmer.

[2017-06-23 15:52] pirapira commented on #2458
Yes, I have the same complaint against Python.

[2017-06-23 16:45] pirapira commented on #2458
After #2435, it should be straightforward to fix this issue, whether element-wise copying into a reference is allowed or not.

[2017-06-23 17:10] GETFL commented on #498
Is this feature still under development?

[2017-06-23 22:07] chriseth commented on #498
It is not in progress, but still planned.

[2017-06-24 11:55] federicobond commented on #2428
Should we merge a deprecation warning first or are we already inside the merge window for 0.5.0?

[2017-06-24 12:00] axic commented on #2428
Yes, we aim to have warnings for obsolete features as soon as possible once we decided it is deprecated. And then probably have a major 0.5.0 release removing all the cruft.

[2017-06-25 03:21] illuzen commented on #2356
Ah just pulled this up and saw that you've already grabbed. Will have to move faster next time.

[2017-06-25 04:10] ghost commented on #1557
@steveO1234 @rnkhouse @chriseth @jeanjluo

**Try This:**

[code]
**OR**
[code]

[2017-06-25 07:50] benjaminion opened #2465 "LLL: (alloc 0) corrupts memory"
The built-in `alloc ` expression in LLL reserves some memory by writing a zero byte to memory at (msize + n -1) where n is the number of bytes requested, ie `(alloc n)`.

If n is 0, then this can corrupt the previous word in memory with data at (misze - 1). Sample code:

[code]

This returns 0 rather than 1 as it should.

For me, `(alloc 0)` could be flagged as a run-time error as there could be s

[2017-06-25 15:16] player0k opened #2466 "Compilation issue [-Werror=implicit-fallthrough=]"
OS: Arch-Linux x64
Kernel:  4.11.6-1-ARCH SMP
[installation guide](https://github.com/moneroexamples/compile-cpp-ethereum-on-arch)

~/solidity/libsolidity/codegen/ExpressionCompiler.cpp: In the member function «virtual bool dev::solidity::ExpressionCompiler::visit(const dev::solidity::MemberAccess&)»:
~/solidity/libsolidity/codegen/ExpressionCompiler.cpp:1046:9: error: this statement may fall thro

[2017-06-25 16:09] player0k commented on #2466
Related: #2344

[2017-06-25 16:10] #2466 closed, assigned to nobody

[2017-06-25 23:06] #2293 closed, assigned to chriseth

[2017-06-26 00:36] frangio opened #2467 "Impossible to use modifiers defined in libraries"
Modifier invocations only work when the modifier is an identifier. A modifier `m` defined in library `L` can only be referred to as the member access `L.m`. There's no way to use it.

[2017-06-26 00:53] frangio commented on #481
@chriseth Could you clarify what feature implements this?

[2017-06-26 01:02] frangio opened #2468 "Modifiers are considered like public functions when they are always internal"
The following code doesn't compile.
[code]
[code]

Modifiers are always called internally and so it looks to me like this should be possible.

[2017-06-26 07:01] chriseth commented on #2468
Thanks for reporting! I wonder whether we "introduced" this only lately by visiting function parameters in the type checker?

[2017-06-26 07:08] chriseth commented on #2468
Ok, it was not added recently, therefore removing the "nextrelease" tag.

[2017-06-26 07:10] chriseth commented on #2465
memory can be grown by reading, not by writing, and I think LLL should always allocate at least 32 bytes (although I would not make `alloc 0` fail).

[2017-06-26 07:13] #2349 closed, assigned to nobody

[2017-06-26 07:20] #2195 closed, assigned to axic

[2017-06-26 07:37] benjaminion commented on #2465
Interesting. That would definitely be safer!

I guess this could be achieved cheaply and without jumps by inserting the following after putting the alloc argument on the stack.

[code]

This should then make alloc safe whether we read or write to extend the memory.

[2017-06-26 10:51] #2288 closed, assigned to chriseth

[2017-06-26 12:52] chriseth commented on #2274
I spent some more thoughts on SMT solvers and one striking feature (apart from smaller number of false positives) that SMT solvers have but the approach outlined above does not have: SMT solvers can provide counter examples (If you call this functions with inputs 1 and 7, the addition here will overflow) - which might be extremely valuable.

It seems that one of the best SMT solvers - z3 - can bot

[2017-06-26 13:33] rainbreak opened #2469 "Dynamic Libraries"
Library addresses are currently hard-coded into compiled bytecode at link time. Enable lookup of library address via storage, which would allow e.g. hot swapping of logic.

[2017-06-26 16:08] avatar-lavventura opened #2470 "not found for architecture x86_64"
[code]

**Error:**
[code]

[2017-06-26 18:08] chriseth commented on #2470
Thanks for reporting! Can you give more details about your platform, compiler, distribution, boost version, etc?

[2017-06-26 18:08] chriseth commented on #2469
I think this feature might have been requested already.

[2017-06-26 21:55] #2356 closed, assigned to chriseth

[2017-06-27 02:08] roadriverrail commented on #2274
The good news is that this is the approach I'm taking currently, with the exception that I'm storing ranges in a hashmap associated with the AST but not in AST nodes themselves.  Otherwise, my WIP is an exemplar of everything up to 2.1, though a number of operators need to be implemented still.

The entire approach you've outlined is how I'm proceeding, but it's worth noting that (3) is where gets

[2017-06-27 06:52] sahilsarpal15 commented on #1557
@daljeetv  +1 for your answer. Bingo

[2017-06-27 08:31] axic commented on #1771
@chriseth @djudjuu is this still an open issue?

[2017-06-27 08:32] axic commented on #1794
@SCBuergel can you please comment what behaviour do you get on 0.4.9?

[2017-06-27 09:24] #2434 closed, assigned to chriseth

[2017-06-27 10:28] axic commented on #2286
Fixed by #2287.

[2017-06-27 10:28] #2286 closed, assigned to nobody

[2017-06-27 11:20] axic commented on #1764
@chriseth I thin this was done?

[2017-06-27 12:38] #2412 closed, assigned to axic

[2017-06-27 12:49] chriseth commented on #1764
We wanted a more thorough overhaul of the documentation in that regard, but I think we can still just close it. When assert is better supported, we can take it up again.

[2017-06-27 12:49] #1764 closed, assigned to nobody

[2017-06-27 16:07] rainbreak commented on #2469
I tried to search past issues but couldn't find this specifically.

[2017-06-28 00:54] EasonWang01 opened #2474 "Why using EVM and bytecode"
It not directly interact with CPU or any lower level hardware,why it need an EVM?
Cross platform?Or it using other mechanism faster then c and c++?

[2017-06-28 08:53] chriseth commented on #2474
Sorry, I will close this as off-topic. Please ask such questions on platforms like https://ethereum.stackexchange.com/

[2017-06-28 08:53] #2474 closed, assigned to nobody

[2017-06-28 13:28] #2358 closed, assigned to chriseth

[2017-06-28 17:16] #2326 closed, assigned to chriseth

[2017-06-28 22:39] axic commented on #2465
As mentioned memory is extended by reading or writing an offset not previously touched. Changing alloc to `mload` would at least solve the overwriting issue.

Not entirely sure an overhaul is not needed, because static memory ranges are assumed right now by the compiler, such as the range by `set`/`get`, etc.

Do I understand correctly that `(alloc n)` allocated n bytes and returns the starting of

[2017-06-29 05:26] benjaminion commented on #2465
Agreed, but two issues:

 1. There is no `MLOAD8` opcode, so some logic change is needed.
 2. When I try to implement it with `MLOAD` there seems to be a compiler problem (see below).

Also agreed. There is some legacy code at the top of liblll/CodeFragment.cpp to handle conflict with variables storage, I think. But it is no longer effective since `vars.size` is not managed when variables are crea

[2017-06-29 06:56] EasonWang01 opened #2477 "Hard to debug contract"
Everytime change contract we need to past it to web3 command and miner.start then execute contract function.

Are there some tool that like Remix but can execute function directly in web UI?

[2017-06-29 07:34] EasonWang01 commented on #40
[code]

without internal in allPatients() it will cause same error.
why such a basic feature not implement in?

[2017-06-29 08:41] axic commented on #2465
`MSTORE8` writes strictly 8 bits to the offset provided. In order not to overextended by 248 bits, just do an `MLOAD(SUB(n, 31))`

[2017-06-29 09:15] benjaminion commented on #2465
That could work. We'd need to handle the case that n < 31 so as not to attempt to read from the top of memory. E.g. `(alloc 8)` with MSIZE initially 0 (another edge case).

[2017-06-29 09:58] axic commented on #2465
Having read the above again, I think `alloc 0` should equal to `msize`. I'm not sure why `MLOAD` is omitted in the above code, will check.

[2017-06-29 10:07] axic commented on #2465
It is some kind of optimiser issue as for example: `(alloc 0)` works, but `(return (alloc 0))` optimises it out, however forcing the usage of the stack (such as `keccak256`) keeps it even in that case.

[2017-06-29 11:37] LefterisJP opened #2479 "Refactor implicit case fallthroughs in the code"
As a continuation of https://github.com/ethereum/solidity/pull/2339 there are 2 places in the codebase where we rely on an implicit fallthrough of a `case` in a `switch` statement.

The linked PR simply disables the gcc > 7.0 warning for implicit fallthrough warning, going around the problem.

This issue is for properly refactoring the code so that no implicit fallthrough is required.

[2017-06-29 12:03] EasonWang01 opened #2480 "Unable to connect http://solidity.readthedocs.io/"
http://solidity.readthedocs.io/

[2017-06-29 12:53] chriseth commented on #2477
This sounds like a feature request for remix, can you create an issue in github.com/ethereum/browser-solidity, please? We are currently working on a console that might help you. In any case, please contact @yann300 to tell about your use-case, we are always eager to hear about how people use remix and the debugger.

[2017-06-29 12:54] chriseth commented on #2480
Sorry, but this is out of our control. Please try again later, when readthedocs is online again. You can read the (source) of the documentation at https://github.com/ethereum/solidity/tree/develop/docs

[2017-06-29 12:54] #2480 closed, assigned to nobody

[2017-06-29 14:46] #2344 closed, assigned to nobody

[2017-06-29 14:47] chriseth commented on #2303
What is left to do here?

[2017-06-29 14:48] chriseth commented on #2296
One thing to keep in mind here is that the fallback function should probably stay as cheap as possible, i.e. it should not delegatecall into the copy contract. If we do this, it has to "pull in" all functions it calls to internally (the same holds true for the constructor).

[2017-06-29 15:04] chriseth commented on #40
Several reasons, but you are lucky, I'm working on exactly this right as I type (not exactly right but you get the point ;) )

[2017-06-30 03:32] madvas opened #2482 "Option to disable Unused local variable warning"
There should be option to disable "unused local variable" warnings, since it's very annoying during development and makes errors harder to see. Many 3rd party contracts/libraries produce this warning, which makes it even worse.

Thank you

[2017-06-30 05:40] jamesray1 commented on #2371
Any suggestions?

![2017-06-30 15_39_41-create a new repository](https://user-images.githubusercontent.com/16969914/27722346-6c105b00-5daa-11e7-81ac-520b639eeec4.png)

[2017-06-30 05:44] #2477 closed, assigned to nobody

[2017-06-30 07:07] jamesray1 commented on #2371
https://github.com/jamesray1/solidity-glossary
https://www.reddit.com/r/ethereum/comments/6kedst/glossary_to_assist_with_learning_solidity/

[2017-06-30 07:50] chriseth commented on #2482
You can "disable" the warning by e.g. commenting out the name of the variable:

`function f(uint /* x */) { }`.

[2017-06-30 08:31] EasonWang01 opened #2483 "Error: new BigNumber() not a base 16 number"
[code]

reproduce
[code]

[code]

[2017-06-30 13:52] chriseth commented on #2483
This looks like an error from the web3.js javascript framework and not solidity itself.

[2017-06-30 19:39] #2329 closed, assigned to chriseth

[2017-06-30 20:14] #2365 closed, assigned to axic

[2017-06-30 21:54] axic commented on #2242
Fixed by #2265.

[2017-06-30 21:54] #2242 closed, assigned to nobody

[2017-06-30 21:57] axic commented on #2303
I don't know - is it the same now? If yes, please close.

Error handling might still be different.

[2017-06-30 22:00] MicahZoltu commented on #796
If Solidity doesn't already do this, a line item in the TODO list should be added for truncation during assignment.
[code]

[2017-06-30 22:06] axic commented on #1799
[code]

[2017-06-30 22:18] axic commented on #1609
This has been implemented over time.

[2017-06-30 22:18] #1609 closed, assigned to nobody

[2017-06-30 23:05] axic commented on #1665
I think I like the warning/error in the typechecker the most as that seems to be most valuable output to a user.

[2017-06-30 23:07] axic commented on #796
@MicahZoltu not sure what compiler version you are using, but that should not compile.

[2017-06-30 23:10] MicahZoltu commented on #796
I didn't test it, so if you say its already handled then I trust that it is.  I assume the compiler will give me an error even if I use `var b = 0; b = a;` as well since `b` will be uint8 which can't hold a uint16 without a cast?

[2017-06-30 23:16] axic commented on #796
Different int types can only be assigned using explicit conversion. As of the next release the int size inferred at `var` assignment will also be displayed to the user.

[code]

[2017-06-30 23:22] axic opened #2495 "Self assignment at declaration (ambiguous construct)"
The following compiles without issues:

[code]

Since variables are pre initialised to 0, the above should be effectively a no-op. I do think however it can be confusing. I would suggest throwing an error in this case or at a bare minimum a warning.

Think about:
[code]

The same applies to `var`, though that is already rejected (for a different reason):
[code]

[2017-06-30 23:35] axic commented on #973
I think we should add a warning for shadowing "globals".

[2017-06-30 23:41] axic commented on #2308
Fixed by #2275.

Need to mention this in the changelog.

[2017-07-01 10:42] #2137 closed, assigned to nobody

[2017-07-01 12:18] axic commented on #2447
@benjaminion I'll have a look at finishing the alloc tests tomorrow, but if you want to progress, feel free to take up this issue

[2017-07-01 17:31] djudjuu commented on #1771
yes, currently only contract-documentation is exported to the JSON.

[2017-07-01 18:27] benjaminion commented on #2447
@axic

I'll gladly take ownership of this, but it'll be queued up for a while behind a couple of other things I'm working on. Namely, I've made a start on [some documentation for LLL](http://lll-docs.readthedocs.io/en/latest/index.html) which I want to get done asap, and I'd like to get my [ERC20 LLL code](https://github.com/benjaminion/LLL_erc20) benchmarked and then deployed in the wild. It need

[2017-07-01 21:07] GriffGreen commented on #2441
Wow! Such an incredibly fast turn around on these bugs! Thank you @chriseth and @federicobond :-D

[2017-07-01 22:34] #2414 closed, assigned to chriseth

[2017-07-01 23:16] axic opened #2502 "Drop constant keyword from functions"

[2017-07-03 10:40] axic opened #2505 "Handle parsing errors properly in JSON I/O"
[code]

reports an error properly on the CLI:
[code]

but is not properly handled in standard-json:

[code]

(Found in https://github.com/ethereum/solc-js/issues/113)

[2017-07-03 10:41] axic opened #2506 "Enable safety features in Emscripten"
We could enable debugging/safety features in the emscripten build (https://kripken.github.io/emscripten-site/docs/porting/Debugging.html):
- `ASSERTIONS=1` is used to enable runtime checks for common memory allocation errors
- `SAFE_HEAP=1` adds additional memory access checks, and will give clear errors for problems like dereferencing 0 and memory alignment issues.
- `STACK_OVERFLOW_CHECK=1` (see

[2017-07-03 11:22] pirapira opened #2508 "Metropolis-upgrade to chain parameters for the test"
https://github.com/ethereum/solidity/blob/aa262d5c8febadd067539c1e05232b1b8c91b4f5/test/RPCSession.cpp#L214 has the chain parameters used for testing Solidity.

Here, only the first four precompiled contracts are listed, but after Metropolis more precompiled contracts should appear.

@chriseth do you agree this should be done?

[2017-07-03 11:23] #2505 closed, assigned to nobody

[2017-07-03 11:26] chriseth commented on #2508
Yes, good idea!

[2017-07-03 11:33] #2308 closed, assigned to axic

[2017-07-03 11:35] chriseth commented on #1708
Closing due to inactivity.

[2017-07-03 11:35] #1708 closed, assigned to nobody

[2017-07-03 11:36] chriseth commented on #1740
Closing due to inactivity.

[2017-07-03 11:36] #1740 closed, assigned to nobody

[2017-07-03 11:36] chriseth commented on #1794
Closing due to inactivity.

[2017-07-03 11:36] #1794 closed, assigned to nobody

[2017-07-03 11:37] chriseth commented on #2456
This can be closed now, can't it?

[2017-07-03 11:46] #2456 closed, assigned to nobody

[2017-07-03 12:14] axic opened #2511 "Version 0.5.0"
Since the next release is 0.4.12 and 13/14 are numbers with specific meaning in the western or eastern side of the globe it may make sense doing the breaking 0.5.0 release next.

[2017-07-03 12:37] SCBuergel commented on #1794
Sorry, took me a while to get back to this but now tried on macOS:

Installed 0.4.9 (found that via commit history of homebrew-ethereum, hope it's the correct one) via brew:

Next I created a folder `testsol` in which I created the above mentioned `test.sol` file and contract (changed the pragma to 0.4.9), then I compiled and inspected the output:

Which has the prefix in contrast to all later ver

[2017-07-03 12:44] chriseth commented on #1794
We don't have the capacity to fix bugs in older versions. Note that the file-based output should not be used by automated tools. Instead, please use json-io.

[2017-07-03 13:09] SCBuergel commented on #1794
Makes sense, it also wasnt my intention to request changes in an older versions but just to highlight an un-mentioned breaking change back then.

[2017-07-03 16:29] chriseth commented on #2511
Yes, let's start work on 0.5.0:

  https://github.com/ethereum/solidity/issues?q=is%3Aissue+is%3Aopen+label%3A%22breaking+for+0.5.0%22

On the other hand: I want to avoid having such a gigantic release cycle again. Let's either not merge breaking stuff or merge it into a different branch, so that we are still able to make a release every week or every second week if needed.

[2017-07-04 10:01] Dexaran opened #2517 "0.4.11 compiler doesn't throw any error but 0.4.12 throws an internal compiler error when compiling same contracts"
The source codes of contracts and error descriptions are located here: https://github.com/Dexaran/solidity/tree/master/Compiler-Errors

These contracts are compiled without errors when trying to compile them using `0.4.11+commit.68ef5810`.

There is an internal compiler error when trying to compile them using `0.4.12+commit.194ff033`.

` 0.4.12-nightly.2017.6.23+commit.793f05fa` compiles it withou

[2017-07-04 10:59] slothbag commented on #2517
I'm getting a similar issue.. contracts compiled fine in 0.4.11, in 0.4.12 I get the following error:
[code]

[2017-07-04 11:01] axic commented on #2517
@slothbag do you have a source code to reproduce this?

[2017-07-04 11:13] slothbag commented on #2517
This appears enough to do it

[code]

[2017-07-04 16:40] chriseth commented on #2517
These are actually two bugs. We still need a short example that triggers the following bug:
[code]

[2017-07-04 17:28] chriseth commented on #2517
"unknown kind of function call" is an error generated in the AST JSON export routine.

[2017-07-04 17:28] axic commented on #2495
@pirapira @chriseth comments?

[2017-07-04 17:30] chriseth commented on #2517
Ah, it might  be that this error was related to the previously incomplete compiler stack state checks, i.e. where it generated the ast json export for source that was not properly parsed.

[2017-07-04 17:37] pirapira commented on #2495
What about a mutually referencing initialization
[code]
does not do
`(a, aa) = (1, 6)`.

[2017-07-04 17:44] axic commented on #2495
I think that compiles to:
[code]

e.g. -4

[2017-07-04 17:49] pirapira commented on #2495
So, the `a` in the first line `int aa = 5 * a + 1` could be `aa` or `int b` or whatever not-yet-initialized variable.  I opt for making not-yet-initialized variables out of scope because they are so meaningless that they are mutually replaceable as long as types match.

[2017-07-04 18:38] federicobond commented on #2495
This is a remnant of the JavaScript style scoping. I thought there were no plans to change it, but maybe we have an open window to make such a change in time for 0.5.0. I don't think many users are relying on it, and it's definitely not a style we would want to encourage.

[2017-07-04 18:50] axic commented on #2495
I am on my mission of getting rid of that :)

[2017-07-05 07:46] madvas commented on #2482
Yeah, but wouldn't it be just simpler if we could do something like `--disable-unused-var-warning`

[2017-07-05 09:04] #2517 closed, assigned to chriseth

[2017-07-05 14:10] GNSPS opened #2523 "In 0.4.12 declaring a storage pointer to a non-existent identifier throws an exception"
When compiling something like:

[code]

In Remix the 0.4.12-release compiler version throws this exception:
[code]

Expected behaviour would be:
`Undeclared identifier.`

If no member of `x` is used, though, the exception is not thrown.

[2017-07-05 14:13] chriseth commented on #2523
Wonderful, we were looking for this bug! Strangely, I cannot reproduce that with latest develop.

[2017-07-05 14:13] chriseth commented on #2523
.. but I can reproduce it on remix as you say.

[2017-07-05 14:15] GNSPS commented on #2523
Going to try locally with last develop, too.

EDIT: Just built `0.4.13-develop.2017.7.5+commit.05a26fc9.Darwin.appleclang` from source and it does error properly:
`contract.sol:10:20: Error: Undeclared identifier.`

[2017-07-05 15:28] chriseth commented on #2109
Can be done together with a rewrite of the ABI decoder.

[2017-07-05 15:28] GNSPS commented on #2523
Also on another note, `0.4.12` changelog says:
[code]

But Remix presents an error and prevents compilation of the contracts.

Should I open another issue?

[2017-07-05 15:30] axic commented on #1820
Basically this means introducing a third option to the assembly stack, between the current "regular assembly" and julia mode. This mode is then used by the `assembly` keyword, but is not used by the `solc --assemble` mode.

[2017-07-05 15:37] chriseth opened #2525 "Warn if no explicit memory / storage key word is used"
This helps #2436.

[2017-07-05 15:37] chriseth opened #2526 "Warn if throw is used and suggest require / revert"
This helps #1793.

[2017-07-05 15:51] chriseth commented on #1602
Note that if the function signature changes, this might break new contracts interacting with old contracts.

We could just change the json-abi but keep the function signature.

[2017-07-05 15:59] chriseth commented on #1476
We should probably just warn about these.

[2017-07-05 15:59] axic commented on #1476
I think it may be better to start issuing warnings instead to avoid the problem of libraries starting to define those functions.

[2017-07-05 16:13] chriseth commented on #2523
This issue is fine, the component is certainly solidity. Why do you think the inline assembly change is related?

[2017-07-05 16:35] GNSPS commented on #2523
Sorry for the confusion! I meant "on a **totally unrelated** note:"! 😄

That's a different issue where Remix is not treating inline assembly `jump`s as a warning but as an error which prevents compilation altogether.

[2017-07-05 16:37] chriseth commented on #2523
Yes, this issue also has a pending fix already. We try to make a bugfix release as soon as possible.

[2017-07-05 18:40] #2523 closed, assigned to nobody

[2017-07-05 18:44] chriseth opened #2530 "Create checklist for creating a release."
Some steps in creating a release cannot yet be fully automated. There should at least be a checklist in the documentation stating what is there to do.

[2017-07-05 18:44] chriseth commented on #2530
I will try to create this checklist together with the next release.

[2017-07-05 19:14] #2525 closed, assigned to chriseth

[2017-07-05 20:24] #2526 closed, assigned to chriseth

[2017-07-06 10:42] Dexaran opened #2533 "0.4.12 compiler throws an "Internal compiler error" when it should throw "Undeclared identifier""
I'm trying to compile this code:

[code]

0.4.12 compiler throws this error:

[code]

It's obviously that compiler should throw "Undeclared identifier" when I'm trying to call an undeclared identifier.

0.4.11 compiler throws a correct error type.

[2017-07-06 12:45] chriseth commented on #2533
This has been fixed in 0.4.13.

[2017-07-06 12:45] #2533 closed, assigned to nobody

[2017-07-06 12:48] Dexaran commented on #2533
@chriseth `0.4.13-nightly.2017.7.5+commit.2b505e7a` throws internal compiler error too.

EDIT: I see `0.4.13-nightly.2017.7.6+commit.40d4ee49` is showing correct error now.

[2017-07-08 22:59] #2241 closed, assigned to nobody

[2017-07-08 22:59] axic commented on #2237
@chriseth is this sorted by any chance?

[2017-07-08 23:01] axic commented on #2141
@drandreaskrueger @pirapira is this still an issue?

[2017-07-08 23:19] axic commented on #1807
Basically this is solved by making Boost an externalproject in cmake?

[2017-07-08 23:21] axic commented on #2104
This seems to compile properly with 0.4.13. Please reopen if it persists.

[2017-07-08 23:23] axic commented on #1800
I think we can deprecate this by #1679.

[2017-07-08 23:32] axic commented on #1470
We have tests since at least #2297.

[2017-07-08 23:32] #1470 closed, assigned to nobody

[2017-07-08 23:38] axic commented on #1015
I think it could be an acceptable way to go this way. Though we could start issuing a warning for `_` and switch to `body` in the next breaking.

[2017-07-08 23:41] axic opened #2543 "Show warning for non-typed constant in tight packing"
Part of #982.

[code]

Show warning that `1` is considered `uint8` and use an explicit type if otherwise desired (similar to the warning of `var`).

[2017-07-09 02:15] federicobond commented on #1805
Just to clarify, these statements should be made valid and equivalent:
[code]
[code]
But now we have to guard against someone declaring:
[code]
Is that right?

[2017-07-09 02:58] federicobond commented on #1658
Does it make sense to define multiple optimization levels?

 * 0 would do no optimizations
 * 1 would do block deduplication and peephole optimizations
 * 2 would do all optimizations in level 1 plus constant optimizations

Note that many people get confused about the runs parameter, which does not define how many "passes" the constant optimizer does, but the expected number of times a constant wi

[2017-07-09 07:30] axic commented on #1658
I have a changeset which introduced flags for to turn on/off each optimiser step.

[2017-07-09 07:34] axic commented on #434
This is now possible with `returndatasize`/`returndatacopy`.

I am not entirely sure what would be the best method, but perhaps a tuple `(bool, bytes)` would be the best for the next breaking release and once multiple return values are supported by `CALL` (in order to distinguish between `revert`) I'd consider introducing either `(uint, bytes)` or `(enum, bytes)`.

[2017-07-09 07:41] #2357 closed, assigned to nobody

[2017-07-09 07:53] axic commented on #2279
Closing this since the message was added to the test suite and I've reported this on cpp-ethereum (https://github.com/ethereum/cpp-ethereum/issues/4240).

@seusher please comment over there if this still persists.

[2017-07-09 07:53] #2279 closed, assigned to nobody

[2017-07-09 07:54] #2530 closed, assigned to nobody

[2017-07-09 08:05] axic commented on #1734
@3esmit is this still an issue?

Have you tried recreating the same with a newer compiler? 0.4.2 had a couple of compiler bugs.

[2017-07-09 08:07] axic commented on #1704
@chfast do you want to take this issue? 😉

[2017-07-09 08:08] axic commented on #1484
@pirapira I guess this is defined by #2129?

[2017-07-09 08:10] axic commented on #1259
Should raise an error that division by zero is not a valid integer.

[2017-07-09 16:45] CraigBanach opened #2546 "Feature request: Digit Separators"
Can we have the ability to separate the digits in the solidity language. For example:

[code]

The separators would not effect the compilation of the code and would only have meaning for anyone reading the codebase.

[2017-07-09 21:18] axic commented on #2546
Thanks! This is tracked in issue #1677.

[2017-07-09 21:18] #2546 closed, assigned to nobody

[2017-07-10 04:07] qhdwns123 opened #2547 "clang bulid error"
Hi

Is there a way to fix the error below?

[code]

Thanks.

[2017-07-10 08:27] pirapira commented on #1484
I think so.

[2017-07-10 08:27] #1484 closed, assigned to nobody

[2017-07-10 09:28] axic commented on #2547
@qhdwns123 can you tell us details of your system? OS version, Boost version, compiler version, etc.

[2017-07-10 09:40] mahan14 opened #2548 "eth_compileSolidity error"
web3.eth.compile.solidity(foodSafeSource, function(error, foodSafeCompiled){
        console.log(error);
       console.log(foodSafeCompiled);
          foodSafeABI = foodSafeCompiled['<stdin>:FoodSafe'].info.abiDefinition;
           foodSafeContract = web3.eth.contract(foodSafeABI);
          foodSafeCode = foodSafeCompiled['<stdin>:FoodSafe'].code;

Not able to parse my contract, getting eth_co

[2017-07-10 09:51] axic commented on #2548
In recent clients the RPC method `eth_compileSolidity` has been removed. Please use the compiler directly, I suggest giving https://remix.ethereum.org a try.

For any other issues with web3, please report on https://github.com/ethereum/web3.js.

[2017-07-10 09:51] #2548 closed, assigned to nobody

[2017-07-10 10:09] qhdwns123 commented on #2547
@axic

Clang version:
clang version 3.8.0-2ubuntu4 (tags/RELEASE_380/final)
Target: x86_64-pc-linux-gnu
Thread model: posix
InstalledDir: /usr/bin

Boost Version:  dpkg -s libboost-dev | grep 'Version'
Version: 1.58.0.1ubuntu1
cat /usr/include/boost/version.hpp | grep "BOOST_LIB_VERSION"
//  BOOST_LIB_VERSION must be defined to be the same as BOOST_VERSION
#define BOOST_LIB_VERSION "1_58"

OS: Ubu

[2017-07-10 10:14] axic commented on #2547
I think it is this bug: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=823978

Which was fixed in a later Boost version.

[2017-07-10 10:15] qhdwns123 commented on #2547
I'll try.

There are many people who have similar problems with the internet. :)

[2017-07-10 12:20] Tectract commented on #2525
I have NO IDEA what this is complaining about or how to fix it. The is a BREAKING CHANGE!!! It should not have been accepted without further testing and documentation.

[2017-07-10 12:25] Tectract commented on #2436
Someone please tell me how to update this smart contract so it compiles without warning.

A tutorial that thousands of people use was broken by this change:

https://raw.githubusercontent.com/Tectract/ethereum-demo-tools/master/GeektSolidity/contracts/Geekt.sol

[2017-07-10 12:26] Tectract commented on #2436
[":15:5: Warning: Variable is declared as a storage pointer. Use an explicit \"storage\" keyword to silence this warning.\n string imageURL;\n ^-------------^\n",":20:5: Warning: Variable is declared as a storage pointer. Use an explicit \"storage\" keyword to silence this warning.\n string handle;\n ^-----------^\n",":24:5: Warning: Variable is declared as a storage pointer. Use an explicit \"sto

[2017-07-10 12:39] axic commented on #2525
@Tectract can you please explain the problem? This is a warning and not an error therefore no contract was rendered broken.

Just add the `storage` keyword into the declaration `MyStruct storage mystruct` to silence.

[2017-07-10 12:42] Tectract commented on #2525
It's a breaking change because contracts that used to compile without error now throw warnings, leading to failed compilation in some systems.

I don't see the point of requiring this keyword.

[2017-07-10 12:44] Tectract commented on #2525
struct storage notarizedImage {
    string imageURL;
    uint timeStamp;
  }

What?

Can you please tell me how to fix this contract so it compiles without error?

https://raw.githubusercontent.com/Tectract/ethereum-demo-tools/master/GeektSolidity/contracts/Geekt.sol

[2017-07-10 12:47] chriseth opened #2549 ""no storage keyword" warning is reported for elements of structs."
[code]

[2017-07-10 12:53] chriseth commented on #2525
Sorry, this is a bug, the compiler also creates warnings for members of structs.

https://github.com/ethereum/solidity/issues/2549

[2017-07-10 12:56] Tectract commented on #2525
This is a serious bug. I would suggest that this PR be rolled back

I swear to God, it's like you guys are TRYING to make it AS HARD AS POSSIBLE for new-comers to learn solidity.

You just broke a tutorial that THOUSANDS of people use to learn solidity.

So NOBODY can tell me how to make this contract compile without warning now?
https://raw.githubusercontent.com/Tectract/ethereum-demo-tools/maste

[2017-07-10 12:59] Tectract commented on #2525
This tool: http://www.enledger.io/EthDeployer/

Can only deploy contracts if there is no warning. You guys just made one of the most popular deployment tools NOT WORK, for most solidity smart contracts.

[2017-07-10 13:05] Tectract opened #2550 "Stray warnings on structs - BREAKING CHANGE"
struct notarizedImage {
    string imageURL;
    uint timeStamp;
  }

  struct storage notarizedImage {
    string imageURL;
    uint timeStamp;
  }

I can no longer compile this contract without warning:

https://raw.githubusercontent.com/Tectract/ethereum-demo-tools/master/GeektSolidity/contracts/Geekt.sol

This leads to the popular online tool "EthDeployer" not being able to compile and deploy

[2017-07-10 13:18] Tectract commented on #2525
Ticket opened :
https://github.com/ethereum/solidity/issues/2550

[2017-07-10 13:28] axic commented on #2550
Duplicate of #2549.

[2017-07-10 13:28] #2550 closed, assigned to nobody

[2017-07-10 13:28] axic commented on #2525
Why would compilation fail for a warning? My feeling is that such a "system" should be fixed not to fail.

It helps users understand where that member is located (memory vs. storage). In a breaking change it will be mandatory to specify one of the location.

It is used at variable declaration and not at struct definition:

[code]

The bug @chriseth mentioned is that the warning is issued for struc

[2017-07-10 13:29] Tectract commented on #2549
also referenced here:

https://github.com/ethereum/go-ethereum/issues/3793#issuecomment-314079623

Removing solc compilation from the node is causing ALL SORTS of downstream issues guys.

[2017-07-10 13:32] Tectract commented on #2525
The problem is that contracts with no error or issues can no longer be compiled without warnings. This is a breaking change in some compilation systems. It is causing me downstream work to get around this BUG.

One major problem is that since solc compilation is no longer included in the node, ALMOST EVERY SINGLE SOLIDITY TUTORIAL was broken.

I wrote one one how to do it completely client-side, a

[2017-07-10 13:43] axic commented on #2525
Contracts not using structs will not raise any warnings. Once issue #2549 is fixed, even those will work without warnings.

On the other hand can you please explain why is it a breaking change to issue warnings? Warnings are issued for all kinds of things and toolchains should be prepared for this. There is a reason they are called warnings and not errors.

Checked your code at https://github.com/

[2017-07-10 13:46] Tectract commented on #2525
Yes, I need to update EthDeployer, to handle the erroneous case where warnings are thrown in contracts that have no issues. It's downstream work for me and the last, latest Solidity tutorial I wrote (the one that still actually works) will not work for all the readers until you fix the bug upstream or I fix it downstream...

[2017-07-10 13:48] axic commented on #2525
I beg to differ. EthDeployer doesn't seem to support the case of any warnings, which means EthDeployer contains a bug. Please fix that bug 😉

[2017-07-10 13:48] Tectract commented on #2525
It specifically shows warnings so you can fix them. Demanding perfection is not a bug. Extra options are always better though. I just have, like, other work today, you know?

[2017-07-10 13:51] axic commented on #2525
You can still show warnings, yet not fail compilation. Thank you for the bug report, the warning should not be issued on members of structs, that will be fixed!

We're also happy to accept pull requests fixing bugs in Solidity.

[2017-07-10 13:54] Tectract commented on #2525
Yes but then deprecated contracts would be deployed, which is not ideal.

Otherwise, I could add another option to deploy "anyways", but then the simplified "one-button-one-click" interface starts to become more complicated...

[2017-07-10 13:56] axic commented on #2547
@chriseth @chfast could we issue a warning in cmake for a specific boost version?

[2017-07-10 16:19] chriseth commented on #2547
Is this only related to clang? I wonder why this does not happen in the PPA.

[2017-07-10 17:23] axic commented on #2547
The debian bugreport is with g++.

[2017-07-10 17:30] axic commented on #1803
Since recent changes, the above code cannot be compiled.

Cannot reference directly:
[code]

Cannot reference using `_offset`:
[code]

@chriseth what is the new proposed way to access that?

[2017-07-10 17:31] #2549 closed, assigned to nobody

[2017-07-10 18:34] chriseth commented on #1803
I guess we have to go a similar route as we went with storage variables, but perhaps we should reconsider if calldata variables actually make sense, they have again a different encoding than memory variables and I'm not sure we can support that.

[2017-07-10 21:12] axic opened #2552 "Parse the sources from documentation for the fuzzer tests"
Extend `scripts/isolate_tests.py` to do that.

Search for lines indented by 4 spaces and consider the lines following `pragma solidity` as source code until the indentation is less than 4 spaces.

If the comment `// This will not compile` is placed above the version pragma, ignore that source.

[2017-07-10 21:33] VoR0220 commented on #1015
How would it look with param arguments with modifiers in this proposed schema?

[2017-07-11 09:17] chriseth commented on #2547
solc builds fine on ubuntu 16.04, 32 bit with boost 1.58: https://launchpadlibrarian.net/327012599/buildlog_ubuntu-xenial-i386.solc_1%3A0.4.13-0ubuntu1~xenial_BUILDING.txt.gz

So the problem seems to be clang. @qhdwns123 can you try building with gcc?

I would not like to force the boost version to 1.60 because then we cannot build natively on these ubuntu versions.

[2017-07-11 11:27] axic opened #2555 "Show proper error if using calldata variables in inline assembly"
Part of #1803.

[2017-07-11 12:07] axic commented on #1679
Update: we have agreed on the last meeting to go forward with this in a breaking release.

[2017-07-11 17:00] axic commented on #1447
In line with #1435 / #2473, `.signatures` should be renamed `.selectors` and a list of function types could be added, because then the selector can be retrieved on a function.

[2017-07-11 19:04] axic opened #2558 "Replace `var` with `auto`"
This is not a mature proposal yet, but the benefit is that it discourages the use of `var`, since `auto` needs some prior reading from the user.

[2017-07-11 19:06] axic commented on #2182
@federicobond suggested to reserve `override` to introduce the explicit `override` keyword on inherited, but locally declared state variables and functions.

[2017-07-11 20:02] axic commented on #1799
This means `string("abc")` defaults to storage and not memory. The above issue is sorted by extended the error to include both types so it is apparent.

If it should default to memory that is a different issue.

[2017-07-11 20:44] #2465 closed, assigned to nobody

[2017-07-11 21:19] chriseth commented on #2558
... you mean a user that assumes Solidity == Javascript?

[2017-07-12 01:59] qhdwns123 commented on #2547
I succeeded in building it in a clean environment.

In 16.04 LTS version, gcc build succeeds.

Thank you for your help!

[2017-07-12 01:59] #2547 closed, assigned to nobody

[2017-07-12 02:12] Tectract commented on #2525
if(result.errors){

returns true in web3.js even if there are no errors, only warnings?

This is bad. Errors and warnings are different things.

Sigh.

[2017-07-12 11:35] chriseth commented on #2525
@Tectract can you try compiling directly with solc or solc-js? It is usually way better than web3.js.

[2017-07-12 11:36] chriseth opened #2561 "Determine which source files are necessary to compile a certain contract and only specify those in the metadata"
Fixes https://github.com/ethereum/solidity/issues/2102

[2017-07-12 11:37] chriseth commented on #2561
This should be possible by following all import statements of the source file of the contract recursively.

[2017-07-12 11:40] chriseth commented on #2561
The relevant function is `CompilerStack::createOnChainMetadata`. The starting source unit can be obtained by following the `scope()` function of the contract until a `SourceUnit` is reached. Introducing helper functions to get the referenced source units from a source unit are probably a good idea.

[2017-07-12 13:02] #2555 closed, assigned to nobody

[2017-07-12 13:41] ghost commented on #1805
Your first 5 examples should be correct by the following reasoning:

`function(bytes memory) a;`
internal variable called "a" containing 24 bytes that reference a public function

`function(bytes memory) internal a;`
internal variable called "a" containing 24 bytes that reference an internal function **or** internal variable called "a" containing 24 bytes that reference a public function

`functio

[2017-07-12 13:58] Tectract commented on #2525
I'm not sure I understand the question. I need both web3.js AND solc compiler for the EthDeployer tool, not one or the other.

Since you guys removed solc from the node. I was FORCED to rewrite this tool to use browser-solc. My tutorial is the ONLY working tutorial on the web now, because every single other tutorial used solc from a node connection. Even the ethereum sponsored tutorials and docs h

[2017-07-12 14:22] Tectract commented on #2525
Also, in retrospect, it would also be better is if the compiled results object had two sub-objects, results.errors(), and results.warnings(), since, as you mentioned, those really are two different things :)

[2017-07-12 16:23] frangio opened #2563 "Shadowing of inherited state variables should be an error (override keyword)"
Code like the following should be an error:

[code]

Functions defined in `Base` that use the `x` state variable will access `Base.x`, and those defined in `Derived` will silently access the different slot `Derived.x`. This is a common problem for beginners that don't understand inheritance very well, and it could happen accidentally to anyone as well. The compiler should fail to compile it to pre

[2017-07-12 19:20] axic commented on #2563
We had a short discussion with @federicobond yesterday about the possibility of introducing an `override` keyword (a la C++) when overriding an inherited variable and issuing an error otherwise.

[2017-07-12 19:59] frangio commented on #2563
C++ `override` applies to virtual _functions_, though. What would be the semantics here?

[2017-07-12 20:33] federicobond commented on #2563
The override keyword lets you be explicit about your intention to override a variable higher up the inheritance graph. Take OpenZeppelin's SimpleToken for example:

[code]

If you were to change the initial value of any of these state variables, you would need to be explicit:
[code]
It can also help prevent typos such as these:
[code]
In the last case, since you are not overriding any function, th

[2017-07-13 08:26] chriseth commented on #2563
I'm not sure `override` can cleanly apply to state variables, because the only thing that is overridden is the assignment that is done as part of the constructor, but I guess it is intuitive enough.

[2017-07-13 12:32] pirapira opened #2568 "How to get return data from a failing call"
Is it possible that a contract written in Solidity calls another contract that fails, but gets the returned data?

* The recommended syntax `contract.method(arg0, arg1)` causes an exceptional halt when the callee fails.
* The lower level syntax `contract.call(something)` does not give access to the returned data.

Originally @dip239 asked me this question.

[2017-07-13 13:08] #1665 closed, assigned to nobody

[2017-07-13 14:43] frangio commented on #2563
@federicobond SimpleToken is an example of a concrete token, not meant to be inherited. It's confusing, we should move it to a different directory together with other examples.

If I understand well, the only use of `override` for state variables would be redefining their initial value. Since this can already be done in the constructor, the only real value it would add on this front (other than sy

[2017-07-13 20:16] #2552 closed, assigned to nobody

[2017-07-13 20:18] axic commented on #2568
From my side this is tracked in #434.

[2017-07-13 20:48] pirapira commented on #2568
Yes, #434 will do it.  @dip239

[2017-07-13 20:48] #2568 closed, assigned to nobody

[2017-07-13 20:49] axic commented on #2568
Also the higher level part can be considered to be tracked by #1505.

[2017-07-13 20:51] pirapira commented on #1505
@chriseth This can be solved by passing two return pointers on the stack.  One for normal returning, and the other for exception throwing.

[2017-07-13 20:52] axic commented on #1505
With `REVERT` once the `CALL` opcode is able to return 3 states (success, exception, revert) we could consider introducing exception catching for methods:
[code]

This would be backwards compatible, because the higher level method still throws an exception, but the try clause will execute if the `CALL` failed with `REVERT`.

[2017-07-13 21:07] #1721 closed, assigned to nobody

[2017-07-14 09:41] chriseth commented on #1505
@axic Do you think cross-internal-call exception catching can be done in ewasm?

[2017-07-14 09:42] #1799 closed, assigned to nobody

[2017-07-14 11:46] axic opened #2571 "Update ABI/grammar/docs for new fixed point type encoding"
- documentation (the types section is currently empty)
- ABI
- `docs/grammar.txt`
- `docs/utils/SolidityLexer.py`

Follow up of #1544.

[2017-07-15 17:16] axic commented on #2571
Mention https://github.com/ethereum/solidity/pull/1544#discussion_r127448324 in the documentation.

[2017-07-17 14:46] pipermerriam opened #2576 "Release verification"
We're working on figuring out how/if we can verify solidity versions and releases.  My first inclination was to see if the release tags were using signed commits.  At a glance it doesn't appear they are.

https://help.github.com/articles/signing-commits-using-gpg/

Some of us who are working on package manager functionality would like a way to verify that the commit hashes for a version of solidit

[2017-07-17 18:41] ethers opened #2577 "More explicit when accessing state variables"
Especially when writing to state variables, it seems safer to be more explicit.

A "loose" way is to "enforce" some coding convention on state variables.  Another consideration is to make the use of `this` mandatory.  Other ideas welcome too.

[2017-07-17 18:52] federicobond opened #2578 "Improve "Override changes extended function signature." error"
The error message should describe the actual difference between both function signatures.

Here are some suggestions for improved error messages:

[code]

[2017-07-17 18:57] federicobond opened #2579 "Improve error message for trailing commas in function signatures"
Current message:
[code]
Improved message:
[code]

Also applies to return types:
[code]

[2017-07-17 23:09] zmitton opened #2580 "property"
2342t3t

[2017-07-17 23:27] axic commented on #2579
Should be simple enough to change the parser (check if the next token is `rparen`).

[2017-07-17 23:51] federicobond commented on #2579
Yes, wrote it here to remember it, plus, it's a nice one for beginners to tackle.

[2017-07-18 02:34] #2580 closed, assigned to nobody

[2017-07-18 09:16] axic commented on #2579
In `libsolidity/parser/Parser.cpp` change `parseParameterList`. This will "fix" it for:
- function arguments (in function definitions and function types)
- return parameters (in function definitions and function types)
- event arguments
- modifier arguments

 Special care must be taken (i.e. enough tests must be added) to ensure it doesn't break anything else.

[2017-07-18 09:25] axic commented on #2576
Our work in progress issues are #628 and #2238.

In short: metadata would go into a contract.

[2017-07-18 10:18] axic commented on #2558
For a C++ user it will be clear types are derived automatically and a Javascript user wouldn't be inclined to use `var` as they could be today.

[2017-07-18 10:19] axic commented on #2182
`auto` from #2558.

[2017-07-18 10:23] axic commented on #1793
Even if we remove throw as a feature, the keyword should be kept. We might be able to introduce something in the future.

[2017-07-18 10:39] axic commented on #2447
I think we can consider this done now.

[2017-07-18 10:39] #2447 closed, assigned to nobody

[2017-07-18 11:02] axic commented on #2102
@slothbag can you please confirm that #2561 will fix your problem?

[2017-07-18 15:27] maurelian opened #2586 "Option to specify opcode for require/assert exceptions"
It appears to me that further separation of concerns between `require()` and `assert()` would be helpful. From the documentation:

This is of course a reference to https://github.com/ethereum/eips/issues/140, and the new `REVERT` opcode. In this case the choice between the two is at a lower level than the source code.

This is a completely distinct use case, which I believe is a static analysis co

[2017-07-18 15:35] GoldenDave opened #2587 "Numerical Issues"
The following code will freeze remix and die inside geth's simulated backend

[code]

[2017-07-18 15:36] axic commented on #2586
The documentation may need some rewording/refactoring (that particular block is quite chunky), but the idea is the following:

Insert hard assertions into the code before critical parts (such as overflows, transfers, etc.). Additionally, guard the code with `require` for input parameters and return values of critical calls. If everything is catered for with `require`, the assertions should never b

[2017-07-18 15:38] axic commented on #2587
Can you please describe the kind of failure? What is the gas limit supplied to these clients? Does it run out of gas? Have you tried lowering the gas limit to see what happens?

[2017-07-18 15:48] GNSPS commented on #2586
Big 👍 for this.

Personally, I understand and value how this is supposed to ease the development of formal verification tools for Solidity code but it appears to me it would make more sense to use the `0xfd` opcode in all the exceptions by default.

Maybe there is some obvious reason I'm missing as to why this is engineered this way?

EDIT: Just missed the answer above while typing.

@axic is it p

[2017-07-18 15:53] GoldenDave commented on #2587
or to make it easier...

[code]

[2017-07-18 15:54] GoldenDave commented on #2587
![image](https://user-images.githubusercontent.com/18424493/28326824-647e00fe-6c14-11e7-9f0f-56cd545c5eab.png)

[2017-07-18 15:55] GoldenDave commented on #2587
[code]

![image](https://user-images.githubusercontent.com/18424493/28326884-886ace5c-6c14-11e7-998a-9dfc8cd4da90.png)

[2017-07-18 15:56] axic commented on #2587
Do you have optimisations turned on or off?

[2017-07-18 15:59] GoldenDave commented on #2587
![image](https://user-images.githubusercontent.com/18424493/28327093-125bfdde-6c15-11e7-9b43-aef46498934d.png)

[2017-07-18 17:48] maurelian commented on #2586
This is quite helpful, thank you. Would it be accurate to say then that if tests are causing `assert(false)` and thus an invalid opcode error, then you're doing something wrong?

[2017-07-18 18:52] GoldenDave commented on #2587
OFF

[2017-07-18 21:24] MicahZoltu commented on #2266
Workaround is to provide an absolute path to to some ancestor directory as an `--allow-paths` parameter and then include a full path to the file as one of the `urls` in `--standard-json`.

[code]

[2017-07-18 21:33] axic opened #2595 "Replace public with getter on state variables"
Replace the `public` keyword with `getter` on state variables to make the intent clearer.

Comments welcome whether this keyword is better or worse (or suggestions for better alternatives).

[2017-07-18 21:34] axic commented on #2577
Is this still an issue if #973 is implemented?

[2017-07-19 00:10] GoldenDave commented on #2587
Let's go a bit further.... with 0.4.14-nightly.2017.7.18+commit.c167a31b.Emscripten.clang
[code]

![image](https://user-images.githubusercontent.com/18424493/28344975-ab0ab11c-6c59-11e7-8795-9879dd4ef338.png)

[2017-07-19 00:25] axic commented on #2587
The bytecode doesn't contain a `DIV` instruction.

[2017-07-19 00:30] axic commented on #2587
It seems to fail incorrectly on the division by 0 check.

[2017-07-19 00:31] GoldenDave commented on #2587
Thanks for the fast attention.

[2017-07-19 00:40] axic commented on #2587
Are you sure this fails with geth? It seems to me a remix bug, where the `ISZERO` instruction is broken. Turning optimisations on will remove all that and the code works.

Original issue: https://github.com/ethereum/browser-solidity/issues/628

[2017-07-19 00:48] GoldenDave commented on #2587
I will re-test and let you know.

[2017-07-19 01:25] GoldenDave commented on #2587
OK - my mistake - we got there tracking what must have been another error.

https://github.com/DaveAppleton/testSBE

[2017-07-19 08:23] reddec opened #2601 "Exception during creating contract from function in solidity"
We have this contract in Remix:

[code]

If you will try to create `Generator` and then invoke `make()` the

    Exception during execution. (invalid opcode). Please debug the transaction for more information.

is rised.

**Versions:**

* Remix: soljson-v0.4.13+commit.fb4cb1a.js
* Solidity: 0.4.10

[2017-07-19 09:20] axic commented on #2587
Can we close this here then? It must be fixed in Remix.

The relevant Remix error is: https://github.com/ethereum/browser-solidity/issues/634.

[2017-07-19 09:20] axic commented on #2601
This seems to be due to a bug in Remix. Can you test it with a local RPC node (do not use the VM mode in Remix).

The relevant Remix error is: https://github.com/ethereum/browser-solidity/issues/634.

[2017-07-19 09:41] #2468 closed, assigned to nobody

[2017-07-19 15:59] JohnAllen commented on #2579
Is this issue a) changing the parser, b) improving an error message or c) both?

[2017-07-19 16:37] federicobond commented on #2579
Only improving the error message.

[2017-07-19 19:14] axic opened #2606 "Introduce call graph builder in analyser"
Use it to check for different conditions:
- [ ] using `this.` in indirectly in the constructor
- [x] using state write methods (indirectly) in functions marked `view`
- [x] using state read methods (indirectly) in functions marked `pure`

[2017-07-19 20:24] #583 closed, assigned to axic

[2017-07-19 21:23] axic opened #2608 "Change default function visibility to internal (or private?)"
The benefit is that making something externally accessible is a concious decision by the programmer (need to supply `public` or `external` modifiers).

Note: fallback functions (#1048) and functions in interfaces (#2330) will be forced to be external.

[2017-07-19 21:28] axic commented on #2296
@chriseth do you remember what was the design we agreed the last time (~5 meetings ago)?

[2017-07-19 21:33] rmerom commented on #2608
+1, this likely allowed the Parity multisig wallet bug not to be noticed:
https://twitter.com/maraoz/status/887751004971831296

[2017-07-19 23:12] flux627 commented on #2608
It saddens me that this was only considered now

[2017-07-19 23:51] axic commented on #409
Added a todo list above.

I think a good start could be making the below code compile:

[code]

[2017-07-20 00:02] axic commented on #238
Marked this as a bug only because this will "freeze" a compiler easily. It didn't finish in 5 minutes here.

[2017-07-20 00:07] axic commented on #2182
`final` and `sealed` from #463.

[2017-07-20 00:10] axic commented on #2182
`alias`, `typedef`, `define`, `macro` from #1013.

[2017-07-20 00:12] axic commented on #1119
The problem was making a harsh distinction between `Instruction` and `FunctionalInstruction` (now `FunctionCall`).

With recent changes, such as replacing instructions with builtins in Julia this can be considered sorted.

[2017-07-20 00:12] #1119 closed, assigned to nobody

[2017-07-20 00:14] axic commented on #2182
`topic` from #1241.

[2017-07-20 00:21] axic commented on #2091
Desugaring is gone, so we could close this.

[2017-07-20 03:30] ethers commented on #2577
Yes, I think so.  Contract code is also for anyone reading it and trying to follow it.  (The more people that can read contracts and minimize the cognitive load, the higher the possibility that today's events will be more discoverable/preventable.)

[2017-07-20 03:31] ethers commented on #2608
Maybe worth considering going a step further, and requiring that visibilities are always specified (no defaults)?
https://github.com/ConsenSys/smart-contract-best-practices#explicitly-mark-visibility-in-functions-and-state-variables

[2017-07-20 07:03] daira commented on #583
Wait, so this serious language design flaw was reported in May 2016 and only got "fixed" &ndash;with a compiler warning, not by actually fixing the semantics&ndash; just yesterday?

[2017-07-20 07:48] vrde commented on #2608
IMO this is the best option. The programming language should force the developer in making a decision, and throw a syntax error if no visibility is specified.

[2017-07-20 08:39] MrTibbles commented on #2608
Hindsight is a funny thing.

[2017-07-20 09:03] axic commented on #2469
I am not sure this is a good idea from a security perspective. When changing the address there won't be a compiler around to verify that the ABI hasn't changed.

[2017-07-20 09:26] ErvinSenaj opened #2610 "Unused Local Variable error in Crowdsale contract"
Hi everyone, I've been trying to create a crowd sale contract but it does not compile and comes with the error "unused local variable". Really not sure what to do as the code came directly from the ethereum crowd sale guide.
![image](https://user-images.githubusercontent.com/30314368/28410549-ebafe052-6d35-11e7-9bd1-f73fbbfb028d.png)

[2017-07-20 09:34] axic commented on #2610
This is actually a warning, just your IDE presents it as an error.

Remove the parameter names from `transfer`:  `contract token { function transfer(address, uint) {} }`

[2017-07-20 09:39] axic commented on #2610
Please try https://remix.ethereum.org, which displays errors/warnings and join https://gitter.im/ethereum/solidity if you need more help.

[2017-07-20 09:39] #2610 closed, assigned to nobody

[2017-07-20 09:43] axic commented on #2587
Fixed in Remix.

[2017-07-20 09:43] #2587 closed, assigned to nobody

[2017-07-20 09:43] axic commented on #2601
Fixed in Remix.

[2017-07-20 09:43] #2601 closed, assigned to nobody

[2017-07-20 12:30] rainbreak commented on #2469
But is this much different from e.g. contracts that allow use of arbitrary ERC20 tokens? Users of the contract are aware that this is the case, and the contract may have specific logic to defend against poorly / maliciously formed tokens.

Similarly here, users of the contract would be aware that the library can be altered. Whether there are sufficient safeguards in place is up to the contract, e.

[2017-07-20 12:43] axic commented on #2469
A library currently suggests a much higher integration, especially as functions marked `internal` are inlined and bounded functions (with `using`) can be too.

Compared to that, an ERC20 token, if handled properly is always handled as an interface (preferable with an interface contract) and such is a loose integration.

[2017-07-20 16:34] IRBorisov opened #2612 "Unknown exception during compilation"
Incorrect error message for mistake using different type of brackets for mapping (see code below).
Solidity version 0.4.14-nightly.2017.7.20+commit.d70974ea.Emscripten.clang
Tested in Remix JavaScriptVM

[code]

[2017-07-20 18:16] federicobond commented on #2612
Relevant stack trace. Looks like it's trying to downcast the left-hand-side expression into something that it's not:

[code]

[2017-07-20 18:39] federicobond commented on #2612
`TypeChecker::requireLValue` apparently reports an error, but the code in `TypeChecker::visit(Assignment...)` continues anyway.

Should `requireLValue` report a fatal type error?

[2017-07-20 19:42] axic commented on #2612
I'd say `requireLValue` should return a `bool` and the caller should abort if it is false, though you'll see with tests if that has any adverse effects.

The only thing with fatal error is that in `visit(Assignment)` right hand side errors won't be evaluated.

[2017-07-20 20:03] axic opened #2613 "Check for actual error message in NameAndTypeResolution tests"
Many of the test cases only check that there is a `DeclarationError` or a `TypeError`:
[code]

This should be changed to include the actual message expected, such as:
[code]

[2017-07-20 22:26] AusIV commented on #2608
+1 for no default values. Having visibility be explicitly defined every time means that the developer has to expressly make the decision, and anyone reading the code (even if they're relatively new to the language) knows the visibility.

[2017-07-20 22:45] axic commented on #2330
Would it make sense introducing a new keyword `implements` / `supports` for interfaces to dinstinguish between inheritance?

[code]

[2017-07-20 22:54] ethernian commented on #2608
A "no defaults" paradigm leads to excessive and confusing code.
A good programming language should set **reasonable** defaults. Reasonable for solidity should mean "defaults, introducing no hidden risk".

+1 for "private" per default because it adds no further risks and force a developer to make an explicit  decision only if necessary.

[2017-07-20 23:00] flux627 commented on #2608
Excessive could be debatable, but never have I experienced explicit code being **more** confusing than implicit code. It's usually the other way around. Isn't that the whole reason this issue is open?

[2017-07-20 23:12] AusIV commented on #2608
Another argument for no defaults is that switching the default at this point in the game could lead to unexpected behaviors. Going to no default means anyone who is relying on the current default behavior will get a syntax error when they upgrade compilers, and will be forced to fix it before they can deploy their contract. Going to private by default means people could have functions they expecte

[2017-07-20 23:37] veox commented on #2608
Concur with ~~"no defaults"~~ "_ERROR_ is the new default", mainly for reason outlined by @AusIV.

Changing the default is one thing. Checking all code ported to the newer compiler version is another thing. It will be done by developers who will likely not have seen this issue.

They may also be coming to Solidity much later, after the issue has been settled, and trying to reuse "old" code (that a

[2017-07-21 00:10] wyaeld commented on #2608
While there is valid arguments to be made for implicit vs explicit for programming languages in general, I think that Visibility is such a critical concern for functions on a blockchain, that forcing an explicit declaration on the function isn't too much overhead.

+1 for no default and compiler error.

People can fix existing contracts they care about if given clear notice.

[2017-07-21 00:16] axic commented on #2608
The compiler could also output a warning/error. If an old version pragma (or no pragma) is in the code it can assume the old rules were intended and issue the warning.

Solidity already uses semantic versioning. What benefit would be changing major to 1?

[2017-07-21 00:24] veox commented on #2608
Ah, OK.

The `MAJOR` is intended to indicate that something major has changed. I was assuming that if an error was to be emitted (as described above), then a major version bump like that would make it expected (when porting "old" code).

It's definitely not required if there'd be a deprecation warning first.

[2017-07-21 00:26] axic commented on #2608
This is slightly off topic, but semantic versioning is fully adhered to in Solidity (http://solidity.readthedocs.io/en/develop/installing-solidity.html#important-information-about-versioning). For major 0, semantic versioning dictates that bumps in minor indicate breaking changes. Once major is >0, a bump of major indicates breaking changes.

[2017-07-21 00:32] axic commented on #2608
Also since the version pragma checker supports all the rules of npm's semantic versioning it would make sense to suggest using the `~` modifier, e.g.:
[code]

This means that compiler versions 0.4.13 <= n < 0.5.0 are required.

Any visibility modifier change we discuss here would very likely end up in the 0.5.0 (breaking) release and thus would render code using the above pragma not to compile unt

[2017-07-21 00:33] axic opened #2614 "Suggest using the ~ modifier in the version pragma"
- [ ] examples
- [ ] style guide

[2017-07-21 00:55] veox commented on #2614
From: https://github.com/ethereum/solidity/issues/2608#issuecomment-316868140

[2017-07-21 09:40] SCBuergel opened #2617 "doc says functions are by default `internal` - parity exploit"
I was just [made aware](https://github.com/paritytech/parity/commit/e06a1e8dd9cfd8bf5d87d24b11aee0e8f6ff9aeb#commitcomment-23221966) that [the docs](http://solidity.readthedocs.io/en/develop/types.html#function-types) currently say:

To the best of my knowledge that is not true, otherwise the Parity multisig exploit would not have happened. This is important to get right. Or do you plan to change

[2017-07-21 09:41] 5chdn commented on #2608
Someone just pointed out that the docs are already stating `internal` is default.

https://solidity.readthedocs.io/en/develop/types.html#function-types

[2017-07-21 09:41] 5chdn commented on #2617
Thanks, just raised that here: https://github.com/ethereum/solidity/issues/2608#issuecomment-316956089

But might be worth a separate ticket.

[2017-07-21 09:49] axic commented on #2617
The documentation should be clearer, but function types refer to function type variables:

[code]

The [part of the documentation referring to functions](http://solidity.readthedocs.io/en/develop/contracts.html#visibility-and-getters) says:

[2017-07-21 09:50] axic commented on #2608
@5chdn let's keep the documentation discussion in the other issue.

[2017-07-21 10:10] 0x5e5e commented on #2608
@5chdn I don't see how what the docs say matters at all here.   If Gavin / core devs can't even remember that `internal` is default, why would anybody else?   Type selection should be a conscious choice by the developer when the repercussions of an inadvertent `internal` choice are so significant.

[2017-07-21 10:56] SCBuergel commented on #2617
Agree, this should be a lot clearer. Many people read the doc not like a book and pick up all definitions that you gave earlier. Lets make it clear again in the section on function types. I would call that entire section "Function parameter types" to avoid any confusion in the first place. But at least rephrase:

To something like

[2017-07-21 15:13] mezrin opened #2619 "'noreentrancy' flag"
There are really many attacks that use reentrancy. It would be amazing to have a modifier for functions `noreentrancy`. Just like `constant`

If function marked with this flag and called twice in one transaction - exception was thrown

It is even better to break backwards compatibility and make this flag default for all public functions. I.e.:
- by default public functions are not allow reentrancy

[2017-07-21 15:25] federicobond commented on #2619
Keep in mind that reentrancy is different from calling a function twice. There is usually nothing wrong with the latter.

Also, should the reentrancy guard lock the whole contract or just that particular function? It may be safer (and cheaper) to do the first, to better protect contract invariants.

[2017-07-21 15:41] roadriverrail commented on #2619
I think this is a clever idea, almost to the point if wondering if the
default should be locking reentrancy.

On Fri, Jul 21, 2017, 11:25 Federico Bond <notifications@github.com> wrote:

[2017-07-21 15:49] mezrin commented on #2619
I think people should start to write better contracts. And implement business-logic in `internal` functions. In this case, we can do smth like this:
The public function of a contract called -> contract does smth, make a call to external contract  / transfer ETH -> calls to public functions of this contract become prohibited, even if they performed from inside the contract as an internal call.

It

[2017-07-21 17:13] axic commented on #2619
This has been discussed twice in #656 and #662, things may have changed since, but it is perhaps worth reading those two threads.

[2017-07-21 18:05] federicobond commented on #463
Not sure if this has been discussed before, but `final` for variables would be interesting too, with semantics similar to Java: `final` variables can only be defined once in the constructor and cannot be modified after that.

If we want to support auxiliary functions invoked from the constructor we would have to traverse the call graph though.

[2017-07-22 14:30] dbrock opened #2620 "Option to output concatenated source code"
Can we add an option (perhaps `--src` and `--combined-json=src`) that causes the compiler to simply output the concatenated source code after resolving all `import` statements?

This is needed for e.g. Etherscan verification and is quite tedious to perform by hand if you have multiple layers of recursive dependencies.

dapphub/ds-token#13

[2017-07-22 16:38] elenadimitrova opened #2621 "False compiler DeclarationError: Modifier already used for this function"
Solidity compiler throws an error

`DeclarationError: Modifier already used for this function.`

when a function uses modifier twice with different parameters, e.g.

[code]

[2017-07-22 17:15] axic commented on #2621
This was introduced in #2460.

[2017-07-22 20:25] phra commented on #2608
definitely needed. this language should focus first on security by design.

[2017-07-23 17:08] izgzhen commented on #2613
I can help on this :)

[2017-07-23 19:01] axic commented on #2613
@izgzhen thanks!

The file in question is this: https://github.com/ethereum/solidity/blob/develop/test/libsolidity/SolidityNameAndTypeResolution.cpp. Start anywhere you like within the file.

You can run the tests locally as described here: http://solidity.readthedocs.io/en/develop/contributing.html#running-the-compiler-tests

Submitting a pull request will run the tests on Travis anyway. You can

[2017-07-23 22:30] EricR commented on #2619
I want to point out that this issue is also being addressed in [EIP 214](https://github.com/ethereum/EIPs/pull/214), which adds a new opcode aptly named STATICCALL.

[2017-07-23 23:37] EricR commented on #2617
This will likely require further clarification of the function type. As-is, the documentation is actually *correct*, but the confusion is understandable since both function types and contract functions can be internal.

[2017-07-24 10:19] chriseth commented on #2608
I'm also slightly leaning towards the "no defaults" camp, but what about the following compromise (syntax could still be improved):

[code]

Of course the compiler will warn / generate an error if a function is declared without an explicit visibility specifier outside of such a "visibility area".

This can also be combined with [modifier areas](https://github.com/ethereum/solidity/issues/623) to s

[2017-07-24 11:14] axic opened #2626 "Run the test suite with Geth too"
This depends on https://github.com/ethereum/interfaces/issues/4 (i.e. agreeing on a test RPC class and implementing it in Geth).

Added here as a long term goal.

[2017-07-24 12:05] veox commented on #2608
Personally, I'd much prefer leaving the visibility on the same line as the fuction declaration. For the pragmatic reason of PRs changing function visibility (e.g.`public`->`external`) looking like one-liners, with (probably) just those keywords highlighted, rather than the function's body jumping around from one section to another.

[2017-07-24 12:32] ethernian commented on #2608
agree. I woud also prefer to leave visibility keywords in the function declaration.

another reason: sometimes it is reasonable to group functions with different visibility together.
For example there could be two similar versions of the same function: one public and one internal.

[code]

[2017-07-24 14:05] rmerom commented on #2608
While the modifier areas may be more pleasing aesthetically, I think having the qualifier right next to the function makes the visibility more explicit and reduces the likelihood of a visibility bug going through a code review.
Locality is a good quality when it comes to security I believe.

[2017-07-24 15:50] VoR0220 commented on #463
`final` seems to me to be redundant in the sense that `pure` or `immutable` (whichever it ends up being called) can be applied to various parts of the contract code.

[2017-07-24 20:05] axic commented on #463
I think applying `pure`/`immutable` (they are not used in the same context though in other features) to a "contract" would convey the meaning that it cannot change state, wheres `final` has a different meaning.

[2017-07-25 00:28] ethers commented on #1401
The "named" returns feature is another quirky one that gets burdened on Solidity writers and reviewers to get correct.

[code]
[code]
[code]

[2017-07-25 08:11] chriseth commented on #2626
Is this about always running geth and cpp-ethereum as part of the CI? If yes, then I don't see the benefit. Whether or not the two clients produce the same result is not something that should be tested with the solidity CI, but with the cpp-ethereum / go-ethereum CI. We can provide scripts to run on demand, though.

Making soltest compatible with both cpp-ethereum and geth, on the other hand, is s

[2017-07-25 08:13] chriseth commented on #2619
I don't think it is beneficial to the discussion to keep this issue open. Please discuss on the other two issues and be advised that "noreentrancy" does not have to be a language feature.

[2017-07-25 08:13] #2619 closed, assigned to nobody

[2017-07-25 08:15] chriseth opened #2628 "Warn about usage of uninitialized storage pointer in all code paths."
The compiler currently does not warn about the use of an uninitialized storage pointer in the following code.
[code]
This will be fixed by changing the scoping rules away from JavaScript, but in the meantime, we should still have a warning. This requires a control flow graph, which could be a useful structure in general.

[2017-07-25 13:54] chriseth commented on #2576
If ENS is as convenient for you, I would prefer to use that. I think it provides much better key management than GPGs web of trust.

[2017-07-25 14:07] chriseth commented on #2608
Oh wow, I did not expect such negative reactions :-)

While I see your points, just trying again with another argument:

In my opinion, the problem with the Parity wallet was not that the default visibility was public, the problem was that it was too easy to overlook that such a "powerful" function did not have any access protection.
Modifier areas allow you to group such functions so that it is i

[2017-07-25 14:08] chriseth commented on #2182
Potentially `apply` and `using` for modifier areas.

[2017-07-25 14:28] chriseth commented on #2586
Yes, if anything can cause `assert(false)`, your contract has a bug. This is actually what it says in the [documentation](https://solidity.readthedocs.io/en/develop/control-structures.html#error-handling-assert-require-revert-and-exceptions) - but perhaps it is not clear enough?

[2017-07-25 15:23] chriseth commented on #583
@daira I would be very happy to welcome you in the weekly solidity dev call to discuss this. It takes place every Wednesday at 17.00 CEST in https://meet.jit.si/SolidityWeekly

[2017-07-25 15:27] chriseth commented on #2614
Can you explain the benefit of `~` over `^`? They behave identical in the examples given in the linked comment.

[2017-07-25 15:33] chriseth commented on #2296
Hm, I don't remember that we decided anything about this.

[2017-07-25 15:37] #2091 closed, assigned to nobody

[2017-07-25 15:40] chriseth commented on #2577
The problem with requiring `this` for state variables is that `this` refers to the external interface, where state variables are changed to their getter functions. We could of course twist that since `this` has a special meaning and you could get the external interface using `ContractType(this)`. I don't think anyone is actively using `this.a` for anything else than passing callbacks.

[2017-07-25 17:10] Dexaran opened #2630 "Unexpected fallback function behavior when returning values."
I have this contracts:

[code]

I've compiled contracts and deployed `test_cast` at this address on Rinkeby: [0x330D0f8cc94758F26DD299bb803Fe63Fef76F726](https://rinkeby.etherscan.io/address/0x330d0f8cc94758f26dd299bb803fe63fef76f726#code).

I've deployed `dummy` here on Rinkeby: [0x66855c513B861b617aD806C9d4CC35661087dda3](https://rinkeby.etherscan.io/address/0x66855c513b861b617ad806c9d4cc3566108

[2017-07-25 18:48] ethernian commented on #2608
@chriseth,
I suppose, the real areas will go over multiple screens. Area header will be out of current vewport.
What will give me a hint about visibility then?

[2017-07-25 19:09] maurelian commented on #2586
Looking again, this is clear "If this is possible, this means there is a bug in your contract you should fix.", though not as emphatic as I think it should be for such an important distinction.

Generally, from the perspective contract designer, it feels difficult to differentiate between the exact instances when one should be:

1. "checking for internal errors" (assert)
2. "checking external cond

[2017-07-25 21:09] onbjerg commented on #2621
Why was the version not bumped to reflect #2460, which is a breaking change?

There are legitimate use cases to use the same modifier twice on the same function.

[2017-07-25 23:57] maurelian commented on #2586
Rather than just go back and forth, how does this look? The main change is expanding on the cases which should use `revert` and `assert`, and IMO more precise language.

https://github.com/ethereum/solidity/pull/2631

[2017-07-26 08:24] chriseth opened #2632 "Warn / disallow gigantic storage arrays"
As explained in
https://chriseth.github.io/notes/talks/safe_solidity/#/8
it can be dangerous to mix gigantic arrays in memory with mappings or other data structures. We should either disallow such arrays or warn about them. A complication is the fact that it might be possible to create a multi-dimensional array where each dimension stays below the safety limit, but the full array is again dangerou

[2017-07-26 11:40] chriseth commented on #2630
Solidity does not track invalid explicit type conversions at runtime. It is actually even impossible to detect them with the current ABI. After metropolis, such errors can be reduced but they can never be fully erased.

[2017-07-26 11:56] o0ragman0o commented on #2502
*surprised* Is there some reasoning for this somewhere? `constant` has pretty specific compiler behaviour.

[2017-07-26 12:13] chriseth commented on #2612
Will work on this.

[2017-07-26 12:15] Dexaran commented on #2630
@chriseth I suppose the problem is not the explicit type conversion, but return value assignment.
I'm executing the `test_receive(addr).receive(addr, n, _data);` function assuming it will return values. There is no `receive` function at the executable contract and as the result fallback function is executed.

Fallback function **must return nothing**.

I think that if I've called a function that s

[2017-07-26 12:19] o0ragman0o opened #2633 "Abstract getters should describe contracts public state variables"
An abstract getter function does not appear to describe a public state variable of the same name.

The following contract compiles as abstract because the abstract interface function is not explicitly implemented in the contract.
Given that state variables cannot be included in interfaces, contract state variables need to be private with explicit getter functions rather than the very handy accesso

[2017-07-26 12:26] o0ragman0o commented on #2595
I don't think `getter` would be descriptive of an external call to a public function which initiates a TX.

[2017-07-26 12:34] chriseth commented on #2330
If we do that, I would vote for `implements`, although I'm not sure if this justifies another keyword to learn.

[2017-07-26 12:39] chriseth commented on #2620
If you just concatenate the source files, you might get a different result. Etherscan has to implement a multi-file feature if it wants to verify all contracts. As an example:

a.sol:
[code]
b.sol:
[code]

If you concatenate these two files, imports will break and you will get multiple identifiers with the same name.

[2017-07-26 12:39] #2620 closed, assigned to nobody

[2017-07-26 12:42] o0ragman0o commented on #2435
Would a unitary symbol against the variable be better to indicate assignment by reference rather than introduce a new assignment symbol?

[code]

[2017-07-26 13:50] federicobond opened #2637 "Disallow visibility specifiers in fallback functions"
It does not make sense to specify visibility for fallback functions, and it's ignored anyway.

[2017-07-26 13:53] axic commented on #2637
Duplicate of #1048.

[2017-07-26 13:53] #2637 closed, assigned to nobody

[2017-07-26 13:54] axic commented on #2595
I don't fully follow what "external call to a public function which initiates a TX" means?

Note, the "public" keyword is very misleading on functions too as it has a slightly different meaning to what "external" means and the ABI contains only methods which are available externally.

[2017-07-26 14:01] federicobond opened #2638 "Discuss: disallow visibility specifiers in constructor functions"
I was doing some experiments with visibility specifiers and noticed that constructor functions can be defined as `internal`. This causes the contract to be marked as abstract, but child contracts can call the super constructor without problems.

Are there any real world use cases of this? Is it something we would like to support?

[2017-07-26 14:04] federicobond commented on #2637
Sorry, I should have checked instead of trusting my memory.

[2017-07-26 14:12] axic commented on #2638
Prior reading #979 😉

[2017-07-26 14:13] axic commented on #2633
Relevant #1565.

[2017-07-26 14:59] axic commented on #1048
By force also mean to raise an error if any other visibility modifier is added.

Should we just outright disallow any modifier?

[2017-07-26 15:23] pirapira commented on #2630
Before Metropolis, there is no way for the calling contract to see if the called account returned any data.  The called contract can refuse to execute the fallback function when the input data is at least 4 bytes.

[2017-07-26 15:24] axic commented on #2630
I think that may work better as a modifier (we could include it in std) or a keyword.

[2017-07-26 15:30] #1249 closed, assigned to axic

[2017-07-26 15:33] Dexaran commented on #2630
So we can't rely on variables returned by any third party contracts before Metropolis because they could be a random value from the stack, if I understand everything correctly.

[2017-07-26 15:35] pirapira commented on #2630
Yes, that's right.  There are two cases before Metropolis:
* the memory content (in the memory region specified as output range) changes after `CALL`: the calling contract can be sure that something has been returned
* the memory content stays the same after `CALL`: the calling contract cannot be sure if it's the random leftover in the memory or something returned.

[2017-07-26 15:53] axic commented on #2614
I think I've confused the two, we should be fine.

After major 0 it will be different though:
[code]

[2017-07-26 16:20] chriseth commented on #2621
Ah, I see. To be honest, I did not consider multiple uses of the same modifier, but seeing your example, that was obviously a stupid assumption :-)

[2017-07-26 22:16] ethers commented on #463
Some notion of `final` is helpful in the context that there times (even the majority?) when the visibilities that people should be specifying on their functions are `external` rather than `public`.  But `public` is tied to inheritance, and that may be the concern why `external` is used less?

[2017-07-26 22:22] o0ragman0o commented on #2595
`public constant` are the getters but not `public` on it's own.

[2017-07-26 22:26] ethers commented on #2608
Hinted in the OP, but once visibilities are required, how can we avoid the potential issue of everyone overusing `public` when (if in most cases) `external` would be more appropriate?  (Do we also need to reconsider non-inheritable contracts #463 ?)

[2017-07-27 01:09] axic commented on #2595
I am not entirely following, but no matter if it is `public constant` or `public`, only a getter will ever be generated.  The only difference is that a variable marked `constant` cannot be assigned to from within the code.

[2017-07-27 01:15] o0ragman0o commented on #2595
`public` on its own indicates state might change which is contrary to the concept of a getter.

[2017-07-27 02:47] qjflores commented on #2502
I currently have contracts that use 'constant', what changes or actions do I need to take to ensure the same behavior?

[2017-07-27 03:02] NoahZinsmeister opened #2648 "Custom getters for user-defined structs"
Will it be/is it currently possible to write custom getters for public variables that are user-defined structs, possible with something like a getter modifier? E.g.:

[code]

[2017-07-27 09:07] #2561 closed, assigned to nobody

[2017-07-27 09:13] axic commented on #2502
It will be replaced with `view` (same as what `constant` means) and `pure` specifiers.

[2017-07-27 09:26] chriseth commented on #2614
So can this be closed?

[2017-07-27 09:27] chriseth commented on #2621
Will work on this.

[2017-07-27 10:12] chriseth commented on #973
This is implemented now.

[2017-07-27 10:12] #973 closed, assigned to nobody

[2017-07-27 10:18] chriseth commented on #2608
Just to clarify, because I heard that some people misunderstood this: The idea would be to require a visibility being specified explicitly for each function, but the programmer can choose whether this is done at the function itself or through a modifier area.

[2017-07-27 10:20] chriseth commented on #2608
@dip239 this is the same for contracts and functions - if the function or contract is long, their name will be out of the current viewport. All of these problems are solved by keeping such contexts small by re-grouping and modularizing.

[2017-07-27 10:24] chriseth commented on #2586
Can this be closed now?

[2017-07-27 10:27] chriseth commented on #2435
I think something like `a = b` (`a` and `b` are identical afterwards, i.e. assignment by reference) and `a <- b` (`a` now holds a copy of `b` and they are only equal, but might diverge) would be more intuitive. On the other hand, this would require us to change `=` to `<-` for value types everywhere.

The `@`-notation on the other hand, is also useful in places where a copy is performed, but not d

[2017-07-27 10:36] chriseth commented on #2648
This is not possible without modifying the name, although I think the following  should be allowed:

[code]

What do you think, @axic?

[2017-07-27 10:46] axic commented on #1769
I think in order to close this off we should just emit the correct error and not let it reach an ICE.

[2017-07-27 10:51] axic commented on #238
Did compiling this code ever finish for you @chriseth ?

[2017-07-27 10:53] axic commented on #2595
Sorry, I still do not get what you are saying. Do you mean that a getter indicates that its value will never change?

[2017-07-27 11:18] axic commented on #238
It actually finishes on the commandline:
[code]

[2017-07-27 11:24] axic commented on #2648
It can only work if `expose()` is marked `external`, while if `internal`/`public` it would be a declaration clash. Technically it is fine.

Considering the reliance on visibility, it may not be a good idea to allow it to avoid confusion (and potential future issues).

[2017-07-27 11:45] axic commented on #463
I don't think `public` is tied to inheritance, the only difference is it makes the function available to be called internally too (ie. with a jump and not via a call).

[2017-07-27 12:20] #2621 closed, assigned to chriseth

[2017-07-27 12:59] #2612 closed, assigned to chriseth

[2017-07-27 13:17] maurelian commented on #2586
FWIW, there is still a lot of confusion in the field about `require` vs. `assert`, but I think this is enough for now.

Maybe you could tweet one of your solidity tips. :)

[2017-07-27 13:17] #2586 closed, assigned to nobody

[2017-07-27 13:29] chriseth commented on #2586
Not sure if the tweet will help, but tried it anyway :-)
We should add some example use-cases to the documentation.

[2017-07-27 13:31] GNSPS commented on #2586
Yes, I think that would be **really** valuable!

[2017-07-27 13:45] adria0 opened #2655 "A function is called balance() confuses compiler with balance property"
Using 0.4.13+commit.0fb4cb1a

[code]
The following error is generated:

[code]

[2017-07-27 13:55] axic commented on #2655
`.balance` defaults to the Ether balance of the said contract.

You should be using `a.balance()` to reach your function, but the error is a problem nonethess.

[2017-07-27 16:28] veox commented on #2614
@chriseth Guess so.

Must say, I, too, have misunderstood the difference between tilde and caret ranges (for ref in `npm`'s doc: [`~`](https://docs.npmjs.com/misc/semver#tilde-ranges-123-12-1) and [`^`](https://docs.npmjs.com/misc/semver#caret-ranges-123-025-004)).

For extra safety in the future (after `v1.0.0`), it _might_ be prudent to recommend (in [the docs](https://solidity.readthedocs.io/en

[2017-07-27 16:31] veox commented on #2608
Ah, OK.

@chriseth To clarify - _either_ at the function, _or_ through a modifier area, but not both. Correct?

[2017-07-27 19:18] ethers commented on #2577
If `this.a` is a good way to achieve the goal of explicitness when accessing state variables, then yes I do think that requiring `ContractType(this)` to access the external interface is a beneficial "tradeoff".

[2017-07-27 21:04] maurelian commented on #2586
@chriseth

What about guarding against overflow/underflow as in this case?

https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/math/SafeMath.sol#L11

[2017-07-27 23:47] o0ragman0o commented on #2595
So I guess I'm expressing the confusion you're trying to address, so I'll try unpack that....(Remininding myself that you're talking specifically of `public` state variables and not `public` functions)

Solidity, being an OOL using `public` in similar way to say C++ but,
`public` in C++ allows a class member to be viewed and changed externally from the instance.
`public` for a Solidity variable on

[2017-07-28 01:14] o0ragman0o commented on #2502
In what sense will `pure` be used?

[2017-07-28 04:40] ethers commented on #463
If that's the case, I think most uses of `public` would probably find that they should be `external`.

I think `public` means 3 things in Solidity: callable externally, internally, and internally by derived contracts.  A contract writer writing foo() has no idea how derived contracts will be, and may want to allow derived contracts the optimization of being able to call foo() internally: so in thi

[2017-07-28 04:41] ethers commented on #2608
Expanding on my last comment: I would like to avoid the unnecessary proliferation and misuse of `public`. `public` functions need the most scrutiny and if everything is `public`, people aren't going to pay as much attention to them. `public` reminds contract writers to consider both the external and internal case (they may fix a customer issue that externally called foo(), but introduce a bug in t

[2017-07-28 05:28] federicobond commented on #2608
While I see the value of these modifier areas, I am not a big fan of them either. With long contract implementations, they force you to reduce the cohesiveness of the code by moving related functions far away from each other.

I know that making a backwards-incompatible change to the default visibility is delicate, but I think Solidity will benefit from it in the long run.

[2017-07-28 06:29] jamesray1 opened #2661 "Documentation: Contracts/creating contracts"
I read over and over the following code [here](https://solidity.readthedocs.io/en/develop/contracts.html#creating-contracts
), but I don't fully understand why the checking condition in isTokenTransferOK is the way it is.

[code]

[code]

I understand what the checking condition in isTokenTransferOK does, but how does the following check "ask the creator if the transfer is fine"? Wouldn't that req

[2017-07-28 06:30] jamesray1 commented on #2661
@chriseth

[2017-07-28 11:24] axic opened #2663 "Add code coverage CI"

[2017-07-28 13:34] chriseth commented on #2586
@maurelian we are currently working on a static analyzer for that: https://github.com/ethereum/solidity/pull/2538

[2017-07-28 13:39] chriseth commented on #2661
This is probably not the most meaningful example. Note that the creator is a smart contract and not a user.

[2017-07-28 14:09] GNSPS commented on #2586
Can you just clarify that, for current popular use of `safeMath` which is to be first line of defense against overflows, the correct construct to use would be `require` since this condition MAY be false given some input?

(Sorry for being a pin in the ass, just trying to get this really right 😄)

[2017-07-28 15:35] chriseth commented on #2586
@GNSPS my opinion is that you should not just throw an exception on overflow, because the fact that at overflow was possible usually means that you did not think of some of the edge cases, and furthermore, throwing an exception might forever stall some process. For example, take the following code (from ENS) - perhaps not the best example:

[code]
If you just checked for underflow in `this.balance

[2017-07-28 19:17] federicobond commented on #2577
The alternative here is an explicit assignment operator: <- or :=

We could issue a warning and then slowly deprecate = assignments to state variables if this moves forward.

[2017-07-29 00:10] jamesray1 commented on #2661
Ah OK. Yeah thanks for clarifying that point, it slipped my mind.

[2017-07-29 22:59] onbjerg commented on #2621
No worries, thanks for the swift response 😄 Happy hacking!

[2017-07-30 03:34] MicahZoltu opened #2665 "Allow cyclic imports."
#### `Parent.sol`
[code]
#### `Child.sol`
[code]
In this scenario, the circular dependency is safe because neither is creating/deriving from the other.  However, the imports quickly get confused trying to import each other.  It would be nice if it supported graphs like this as it is a fairly common pattern.

It should be noted that this problem does _not_ occur if both contracts are placed in the

[2017-07-31 09:47] chriseth commented on #2665
I was not able to reproduce your problem. Cyclic imports should be supported by the compiler. Could you tell me more about how you invoke it?

[2017-07-31 16:15] MicahZoltu commented on #2665
Above two files at `/app/src/reporting/Parent.sol` and `/app/src/reporting/Child.sol` (note: I just edited the paths of the two imports in the original issue to match the config below.  I had simplified them originally, not realizing the issue was specific to my setup and may be impacted by the exact path).
[code]
Result:
[code]
Compiler version:
[code]

[2017-07-31 16:33] chriseth commented on #2665
Ok, I was able to reproduce it, but only with standard-json. I suspect this has something to do with trailing slashes and that the compiler does not recognize that two files are indeed identical.

@axic could you please take a look?

[2017-07-31 19:26] axic opened #2671 "sha256/ripemd160/ecrecover accept the `.gas()` modifier"

[2017-07-31 19:27] axic opened #2672 "sha256/ripemd160 is marked bare call, yet it does tight packing"

[2017-07-31 20:09] axic commented on #2672
Never mind, that refers to whether it includes an ABI selector.

[2017-07-31 20:09] #2672 closed, assigned to nobody

[2017-08-01 01:03] axic commented on #1447
I think it can be solved without templates too:
[code]

[2017-08-01 03:26] amazingandyyy commented on #2525
same issue here here.

[2017-08-01 04:44] madvas opened #2675 "Be able to disable all warnings for certain files"
When developing, we often include 3rd party contracts, which have been audited and deployed to mainnet, but don't play well with solc's latest warnings policy. Warnings for those files are annoying and useless.

For example if I develop dapp that facilitates ENS contracts and [strings library](https://github.com/Arachnid/solidity-stringutils), this is amount of warnings I get on single project com

[2017-08-01 08:40] chriseth commented on #2525
@amazingandyyy this should be fixed in 0.4.14 (released some hours ago). Do you still have the problem?

[2017-08-01 09:06] chriseth commented on #2675
I understand that this is quite annoying. On the other hand, I guess we owe it to our users to constantly improve all code, including library code.

Can you think of some kind of "middle ground" between these two extremes?

[2017-08-01 09:06] axic commented on #2675
Without having reviewed everything, the warnings about using jumps may be actually cover bugs:

[code]

[2017-08-01 09:09] chriseth opened #2676 "Function overloads are reported as shadowing"

[2017-08-01 09:09] axic commented on #2675
This shouldn't be a warning though:
[code]

[2017-08-01 09:18] madvas commented on #2675
I think compiler and linter shouldn't be one thing without option to run each one separately. Turning off linter for 3rd party libraries is not extreme option. We don't run it on `node_modules` files, when we develop JS project, do we?

[2017-08-01 09:35] axic opened #2678 ".delegatecall() should always return the execution outcome"
Reported in https://github.com/paritytech/parity/issues/6201.

[2017-08-01 09:40] madvas commented on #2675
It's pretty naive to think people will happily start to make changes to 3rd party code when compiler makes them feel annoyed. They'll just use `grep` to filter out useless warnings. I wouldn't touch 3rd party code that's been audited and deployed on mainnet even if compiler warnings want me to.

[2017-08-01 10:01] axic opened #2680 "Change block.blockhash() to use the blockhash contract"
After Metropolis.

[2017-08-01 10:10] chriseth commented on #2680
Is there a plan to deprecate the opcode?

[2017-08-01 10:10] chriseth commented on #2680
The blockhash contract is much more expensive, I don't think we should switch to using it.

[2017-08-01 10:15] axic commented on #2680
For the first 256 items it shouldn't be any different - though it is not decided yet whether it is subsidised or not, given the contract is not ready. In any case the cost will increase.

Alternatively it could call the opcode for <=256 and the contract otherwise, if there will be a significant difference.

[2017-08-01 12:57] veox opened #2681 "Proposal: use and recommend .solidity file extension (for syntax highlighting on github)"
EDIT: The `.gitattributes` approach mentioned below now works with `linguist`. Add to `.gitattributes`:

[code]

Original issue description follows.

-----

The main reason there's still no Solidity syntax highlighting on github is that the `.sol` extension is too generic.

(There have been several attempts made so far, which I've listed in PR https://github.com/github/linguist/pull/3560. That PR

[2017-08-01 13:04] veox commented on #2681
~~AFAIU gists would have manual selection for "Solidity" as soon as _some_ form of an actual classifier is merged into `linguist`.~~

Gists no longer have a "Language" drop-down selection. They likely now completely rely on the file extension.

[2017-08-01 13:07] axic commented on #2681
Any chance of fixing `linguist` to indicate "no match"?

[2017-08-01 13:37] veox commented on #2681
Not sure. It seems to be low on their priority list, and in either case might require changing the approach to classification in `linguist`. Since it's used and maintained by github, with a humongous set of files that _might_ get erroniously re-classified... the process is necessarily slow.

Essentially, what I'm proposing is for Solidity to step out of the "edge case territory" that is the `.sol`

[2017-08-01 13:41] Alhadis commented on #2681
Half-jokingly. My best ideas tend to come out while talking shit. Seriously.

[`.solid`](https://github.com/search?q=extension%3Asolid+NOT+nothack&type=Code) also looks ripe for the taking, albeit with more in-the-wild results (717 so far, which is still trivial).

[2017-08-01 13:44] veox commented on #2681
Would like to note that some people are already using [`.solidity`](https://github.com/search?utf8=%E2%9C%93&q=extension%3Asolidity+NOT+nothack&type=Code) (24 results ATM). Not sure why.

[2017-08-01 13:45] Alhadis commented on #2681
They're visionaries. God bless their `.sol`s.

**EDIT:** I am absolutely *killin'* it tonight.

[2017-08-01 15:20] axic commented on #2626
First, the RPC API must be defined and other clients need to support it. It would be useful for developers coming from other clients.

Second, I think running it with both Geth and Cpp is useful in CI, because despite best efforts in test case creation (ethereum-tests), even if a single test failure can be produced in Solidity in the future, it was worth the extra 2-3 minutes spent on CI.

[2017-08-01 15:28] axic opened #2683 "Remove address overloads on contracts"
I think it would make sense removing those overloads and making their use explicit by typecasting to an address.

The reason is to make it explicit what functions are defined on a contract and not have confusing overloads, common examples are in the case of `transfer` and `balance`.

[2017-08-01 20:02] MicahZoltu opened #2684 "Method overriding field on interface breaks entire contract."
[code]
All other methods on contract Foo will return what appears to be garbage data if you have the above as part of `Foo`.

I would _like_ for the above to work since `function totalSupply() public returns (uint256)` is part of the ERC20 interface and I would like to be able to implement that with a field rather than a function + backing field.  However, if that isn't trivial the compiler should

[2017-08-01 20:05] axic commented on #2684
Are you sure this is not a problem local to Remix?

Also relevant #2633 and #1565.

[2017-08-01 20:13] MicahZoltu commented on #2684
I actually can't reproduce this in Remix because for some reason Remix won't let me deploy the contract (though it doesn't have any compiler errors).  Problem is sourced from Pyethereum, using py-solc and solc 0.4.13.

[2017-08-01 20:20] axic commented on #2684
It doesn't let you deploy, because it considers it as an abstract contract, aka. no bytecode produced.

Are you sure the above compiles with solc?

[2017-08-01 20:50] MicahZoltu commented on #2684
Using py-solc, I don't get back any compiler errors (normally I do if there is a compile error).  Also, my IDE tooling which does background compiling for me using solc directly I believe doesn't result in any errors.

Re: "abstract contract", if solc will happily spit out no bytecode for a contract without returning an error code, then there is a good chance that py-solc will proceed to do the sa

[2017-08-01 20:56] axic commented on #2684
Being abstract is not an error and the result is an empty (0 byte long) bytecode.

It can be argued that abstract contracts should have their own keyword/modifier to avoid ambiguity, see #649.

[2017-08-01 21:08] MicahZoltu commented on #2684
If it spits out a 0-length byte array as the contract bytecode then I'm pretty sure that is my problem.  Will close this in favor of #649, #2633 and #1565.  😄

[2017-08-01 21:17] #2684 closed, assigned to nobody

[2017-08-01 21:26] axic commented on #2309
It suggests using GCC-Bridge to compile C/C++ to Java:
- https://github.com/bedatadriven/renjin/tree/master/tools/gcc-bridge
- http://www.renjin.org/blog/2016-01-31-introducing-gcc-bridge.html
- https://github.com/bedatadriven/gcc-bridge-example

[2017-08-01 21:42] axic commented on #1739
Is this still a problem? It works for me.

Also I don't have `sphinx-doc` as a dependency. (It is not needed for compiling it, only needed for dvelopment.)

[2017-08-02 00:46] roadriverrail commented on #2309
The goal here is to make it possible to compile solidity from Java?

On Tue, Aug 1, 2017, 17:26 Alex Beregszaszi <notifications@github.com>
wrote:

[2017-08-02 01:00] axic commented on #1712
Example:
[code]

[2017-08-02 01:01] axic commented on #2309
If someone picks up the task, yes 😉

[2017-08-02 01:51] roadriverrail commented on #2309
Well, I do have some good jvm and jni chops...

On Tue, Aug 1, 2017, 21:01 Alex Beregszaszi <notifications@github.com>
wrote:

[2017-08-02 03:18] federicobond commented on #2309
The issue discussed in the original thread was being able to compile Solidity contracts from a JVM toolchain as easily as you currently can from Node.js, right? So perhaps there is no need to provide a full JNI interface to the C++ API. As long as a JVM app can fork to a native `solc` executable and read it's standard JSON output (perhaps with a thin Java wrapper to make things nice) it should be

[2017-08-02 03:47] federicobond commented on #2681
If we are considering alternatives, `.sldt` sounds good too and has [minimal usage in GitHub](https://github.com/search?p=1&q=extension%3Asldt+NOT+nothack&type=Code&utf8=%E2%9C%93).

[2017-08-02 07:54] chriseth opened #2686 "Performance: Add cache to type information"
Some functions on Type subclasses are quite expensive. Since types are not mutable, we could easily cache some computed information.

[2017-08-02 10:19] axic commented on #2309
Note, `GCC-Bridge` above is like Emscripten, it compiles C/C++ (actually compiles GCC's Gimple IR) to Java bytecode. It wouldn't be JNI or executing an application, rather native code.

There are two steps to this:
- build a GCC-Bridge docker and tie it into a Travis build step
- ensure the `jsonCompiler` API (at least `compileStandard`) is exported in Java and works (this might need a tiny wrappe

[2017-08-02 10:21] axic commented on #2681
In my opinion I'd only consider `.solidity` (preferred if there must be a new name) or `.solid`, but I think this is way more down to the users and not to the compiler as it is agnostic to filenames.

[2017-08-02 10:36] Alhadis commented on #2681
Then make it a pushy, angry atheist to filenames, because indecisiveness or indifference towards standardised file-extensions is the sort of thing that leads to our original problem of thousands of moderately-used `.sol` extensions, and [me screaming in fatigue-encrypted Latin](https://github.com/Alhadis/Linguist-Silo/commit/be6c83d8033ea1eaaf7fdd4be18f6094f91fe84e) wondering where the hell to beg

[2017-08-02 10:38] Alhadis commented on #2681
I think what I'm trying to say is this: it would *help* to decide on a definitive extension, and having a technical rationale behind that adds incentive for the community to follow. Otherwise, if it's just a community *recommendation*, well... there're dicks like me who openly go out of their way to push stuff like that. :D

*cough*Tabs-in-Ruby-and-Python*

[2017-08-02 10:40] axic commented on #2681
I am sure this has been raised several times, but is looking for `pragma solidity [^;]+;` not good enough to find a Solidity file? 😉

[2017-08-02 10:43] Alhadis commented on #2681
It would be, if only Linguist's classifier worked that way... to `TL;DR` it for you: having that course of logic would require every other `.sol` file that *doesn't* match that pattern to fall under a particular language type. So there's currently no real option for a `not-a-language` or `inconclusive` result. :(

[2017-08-02 10:47] axic commented on #2681
This is aside the discussion whether `.sol` is a good name or not:

I am still puzzled a bit why we are trying to change the extension of a language to workaround a bug in a piece of software used by a commercial entity. Is it nigh impossible to implement the `not-a-language` feature in `linguist`?

[2017-08-02 10:56] Alhadis commented on #2681
It's a technical issue that happens to be beyond our current ability to fix: it involves digging around and under the base tier of logic that happens when Linguist's classifier runs - the last stage is the Bayesian classifier, which returns a list of sample/language pairs rated with varying levels of confidence. @pchaigno assures me there's no way of working outside that thread of logic, but I'm n

[2017-08-02 13:36] chriseth opened #2689 "Warn about big dynamic storage arrays"
Things like
[code]
are possible, but should not be allowed due to the high likelihood of storage collisions.

[2017-08-02 13:46] #2678 closed, assigned to axic

[2017-08-02 15:21] richardforrestbarker commented on #2675
@Madvas doesn't that defeat the purpose of a Dapp and ethereum in general? Or am I confused about the point of a decentralized application framework? I know RNGs can be hard to make securely in the ethereum environment and someone has done it -- but do you really want to deploy a roll-your-own version or a even copy of that RNG contract to the mainnet along side whatever contracts you've built tha

[2017-08-02 20:55] illuzen commented on #1010
It also would make the compiler warning

`Warning: Variable is declared as a storage pointer. Use an explicit "storage" keyword to silence this warning. `

make more sense, since it appears in structs right now.

[2017-08-03 07:52] chriseth commented on #1010
@illuzen this is a bug that was fixed with 0.4.14 (hopefully?)

[2017-08-03 08:17] illuzen commented on #1010
@chriseth Ah you are right, sorry I had multiple copies of solc sitting around.

[2017-08-03 19:21] MicahZoltu opened #2691 "Allow comments to ignore compiler warnings."
I would like the ability to disable compiler warnings on a per-line basis using something like comments or pragma.  C++ has a mechanism to also disable comments across a block using `#pragma push (disable: 1234)` and `#pragma pop`.  I'll leave it up to the language designers to decide the exact mechanism based on which one is most reasonable to implement.  The key is that I need to be able to disa

[2017-08-03 19:27] axic commented on #2691
This is a duplicate of #2675. Please follow up on that thread.

Note: it falsely reports overloading as shadowing and that is being fixed (also addressed in a different issue).

[2017-08-03 19:29] axic commented on #2675
Function overloads wrongly considered as shadowing is tracked in #2676.

[2017-08-03 19:32] MicahZoltu commented on #2691
@axic I saw that, but it appears that discussion is around file-wide ignores, rather than per-line ignores.  Are you suggesting that you think both tasks would likely be solved at the same time?  Normally, when I'm running a GitHub project I prefer issues to be very specific as to the feature being requested and this feels like two separate features to me.  (per line ignore and per file ignore)

[2017-08-03 19:36] axic commented on #2691
Sorry I didn't pick up you are suggesting a way to disable warnings on specific lines with adding a specific marker at that (like a comment). That is of course a different issue than #2675.  If so, please reopen this and explain your proposal.

However, if you read it carefully, there is a strong sentiment at the moment not to support any option to disable warnings. (We need to remove false negati

[2017-08-03 19:42] MicahZoltu commented on #2691
I'll propose my arguments against no-disable option in the other issue.

I have updated the description of this issue to add clarity that I'm looking for a targeted in-source mechanism for disabling, but I don't have the access rights to re-open the issue.  Would you mind re-opening it for me if you believe the issue is clear enough now @axic?

[2017-08-03 19:43] axic commented on #2691
Thanks, it is clear now!

[2017-08-03 19:55] MicahZoltu commented on #2675
I am a strong advocate of providing a mechanism for ignoring warnings.  I personally prefer per line warnings like in #2691 but warnings do need a way of being ignored.  The reasoning for this is because if you don't give people a way to ignore specific warnings, they will end up ignoring _all_ warnings just to silence a few.  We want to encourage people to treat warnings as errors for the purpose

[2017-08-03 23:19] pruby opened #2693 "Discussion: Stack Limits & Spills"
On any of my experiments which go beyond very basic wallets, coins, etc, I tend to run very quickly in to the "stack too deep" error. While I understand the reasons for this happening (the hard cap of 16 on SWAP, DUP calls), this seems like a low-level detail which conventional languages deal with automatically and transparently. It would be nice if Solidity could move towards this for more compli

[2017-08-03 23:51] pruby commented on #2693
Just sketching out this idea and getting an idea of the costs associated with a segmented stack - preliminary look indicates they may be quite high. None of this is tested or even checked to see whether the stack balances, just trying to work out a cost estimate.

Stack storage / retrieval code could look like:

[code]

This is looking like quite a lot of code, and doesn't even implement the case

[2017-08-04 00:04] ethers opened #2694 "mulmod and addmod by 0 does not throw"
`mulmod(a, b, 0)` is zero, which isn't consistent with https://github.com/ethereum/solidity/issues/670
Was it missed?

(tested on http://remix.ethereum.org/#version=soljson-v0.4.14+commit.c2215d46.js)

[2017-08-04 00:48] axic commented on #2694
I think it was just missed.

Even the documentation says "Division by zero and modulus with zero throws an exception.", though not for the global functions part (where mulmod / addmod) resides.

[2017-08-04 01:00] axic opened #2695 "Warn on using address members on contracts"
In preparation for #2683.

[2017-08-04 10:23] chriseth commented on #2693
We can address that with the new backend. Also, with the introduction of structs to the ABI, this problem also becomes less relevant.

[2017-08-04 12:13] axic commented on #1769
Shortest example to trigger the problem:
[code]

[2017-08-04 12:43] #2671 closed, assigned to axic

[2017-08-04 14:31] axic commented on #2694
I think fixing this would be a breaking change, since it was missed last time and compiling the same will result in different behaviour.

[2017-08-04 17:49] #2676 closed, assigned to axic

[2017-08-04 18:41] axic commented on #1707
Here's an old Pivotaltracker version of the issue: https://www.pivotaltracker.com/n/projects/1189488

[2017-08-04 18:46] #1712 closed, assigned to axic

[2017-08-05 20:20] MicahZoltu commented on #2665
This is turning out to be a pretty significant problem for Augur's migration to Solidity.  Is there anything we can do to facilitate getting this fixed sooner rather than later?  We could attempt to create a PR if someone can point us in the right direction both for how to author a failing test case (e.g., exmaple of how to author such a test) and where the likely source of the problem is.

Of cou

[2017-08-05 20:36] MicahZoltu opened #2699 "Rename `library` to something more appropriate."
The keyword `library` causes a lot of confusion because a `library` in Solidity is different from a library in just about any other language.  For example, in C# one would call the .NET Framework a library.  It is a collection of contracts that can be useful for developing applications.  `ImmutableList`, for example, is a C# library class that you can instantiate to get an immutable collection wit

[2017-08-06 02:29] roadriverrail commented on #2309
Did a little bit of a feasibility study on this tonight.  I cloned Renjin and built it to get a copy of gcc-bridge.  gcc-bridge appears to work in two steps.  The first step transforms GCC intermediate language into JSON via a GCC plugin.  The second step takes the JSON files and attempts to generate Java classes that have equivalent semantics.

I modified the CXX_FLAGS to load the plugin.  Unforu

[2017-08-07 11:03] chriseth commented on #2665
Ok, this does not fix it yet, but I think you should change `"filename"` in your input json to `"/app/src/reporting/Parent.sol"`.

[2017-08-07 11:06] chriseth commented on #2665
Ah no, it does fix it! So I think this is not a bug after all. Files are not identified by the source they are loaded from but by the name they are given in the input json. If you import `ROOT/Parent.sol` again, this is a different file because it has a different identifier.

[2017-08-07 13:50] chriseth commented on #2689
This requires analysis using e.g. Z3.

[2017-08-07 17:12] SCBuergel opened #2705 "update brew formula"
The current version in brew for MacOS gives me solidity 0.4.11+commit.68ef5810.Darwin.appleclang and it would be good to update this formula to latest version.

[2017-08-07 17:54] MicahZoltu commented on #2665
If I understand you correctly @chriseth, you are saying that remapping is done _after_ checking to see if the file is already imported?  So in this case, I'm bringing in `/app/src/reporting/Parent.sol` which is saved as "already loaded", and then that brings in `ROOT/reporting/Child.sol` (marking it as loaded) which then brings in `ROOT/reporting/Parent.sol` which is seen as a new file because so