[2020-08-25 14:11] agroce opened #9669 "ICE in vector<const solidity::frontend::Declaration *> solidity::frontend::DeclarationContainer::resolveName(const solidity::frontend::ASTString &, bool, bool) const"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

Similar to #9560 -- but the . after inheritdoc seems to be the difference

## Environment

- Compiler version:  0.7.1-develop.2020.8.20+commit.4a720a65.Linux.clang
- Target EVM version (as per compiler settings):

[2020-08-25 15:03] leonardoalt commented on #5618
The above was implemented, currently the internal errors in the tests come from function types:
[code]

[2020-08-25 15:03] chriseth commented on #9669
I thought this was fixed in develop, but it turns out that the `.` makes a difference. Thanks for reporting! :)

[2020-08-25 15:23] chriseth commented on #8807
@yann300 impressive, good job! The highlights are correct, but I noticed the following things - can you check if this is a bug in the compiler or in remix (or a missing feature):

 - function stack is empty while inside the utility, and the "jump into" / "jump out" buttons do not register the functions - is the "jump into" marker not properly set or are you not using it?
 - I got the debugger to c

[2020-08-25 15:45] chriseth commented on #8807
Another thing I noticed is that the compiler always outputs the non-optimized Yul code, even if the optimizer is activated. This means that the source references sometimes are confusing and the control flow will "jump around". Would it be better to output the optimized yul code if the optimizer is activated? Note that one of the goals of the optimizer is to generated code that is still readable, s

[2020-08-25 15:57] gnidan commented on #8807
@chriseth could you provide a bit more information on how the compiler will output sources? I am strongly opposed to reusing the positive numbers namespace for internal sources because I estimate that the work on Truffle's side to support this model change could take up to a month of work+discussion.

[2020-08-25 16:45] chriseth opened #9671 "Allow constants at file-level"

[2020-08-25 16:57] chriseth commented on #8807
@gnidan if that's important for you, I can check again if the `i0` scheme would also work.

[2020-08-25 17:02] gnidan commented on #8807
@chriseth I'll provide a bit more context on where I'm coming from:

We've been working on modeling compilation outputs, and we have a bunch of code + internal knowledge around the idea that source indexes can be modeled as a sparsely-populated list, where non-null indexes of that list correspond to user-defined sources. There's already a bunch of code that leans on this assumption - getting the t

[2020-08-25 17:18] chriseth commented on #9573
@fvictorio this specific bug needs the yul optimizer to be enabled.

[2020-08-25 18:55] haltman-at commented on #8807
I think I should clarify here -- discussing this with @gnidan (please correct me if I'm summing this up wrong), I think whether positive numbers are OK depends on the exact form of the compiler output.  If the generated sources are just completely mixed in with user sources, it would be a problem.  If however they're in a separate area you have to explicitly inspect, I think there's a good chance

[2020-08-25 18:59] chriseth commented on #9573
It turns out that if you update the example code to Solidity 0.7.0, the bug is not present. I compared the yul code generated and it seems that there are some functions that are duplicated it 0.5.17: One for "memory" and one for "memory pointer", while the distinction between "pointer" or "not pointer" is only relevant for storage and thus it was removed for memory at some point.

I implemented an

[2020-08-25 18:59] chriseth commented on #9573
If someone encounters an example that fails for 0.7.0, please report it!

[2020-08-25 19:01] chriseth commented on #8807
The linked binary outputs the generated sources at a completely different place (the input sources are not output anyway...) and also the Yul AST is at a different place than the Solidity AST if requested. The input source IDs are contiguous, followed by the generated source IDs.

[2020-08-25 19:03] chriseth commented on #8807
@haltman-at here is an example input (followed by the output): https://github.com/ethereum/solidity/pull/9053/files#diff-3fb8608d3a06316322aec56512c86095

[2020-08-25 21:25] haltman-at commented on #8807
Oh, wonderful!  Again I'll have to try it out but I think that should be pretty workable with what Truffle does!  (@gnidan can hopefully correct me if I'm wrong here).

[2020-08-26 07:57] #9369 closed, assigned to nobody

[2020-08-26 08:43] dmihal commented on #4024
Do creationCode hashes get compile-time-hashed as well? Such as this:

    bytes32 public constant CONTRACT_BYTECODE_HASH = keccak256(type(MyContract).creationCode);

These hashes are useful for optimizing Create2 calculation

[2020-08-26 08:47] bshastry opened #9673 "[Testing] Create a grammar based Solidity fuzzer"
## Abstract

Tracks support for the following sub-issues
  - ~~[x] #9674 Install antlr4 jar and c++ runtime package from source in `Dockerfile.ubuntu1604.clang.ossfuzz`~~
  - ~~[x] #9675 Generate antlr parser visitor for every CI build/alternatively check in auto-generated files into the Solidity repo~~
  - ~~[ ] #9676 Derive an antlr mutator class from the auto generated antlr visitor class~~
  -

[2020-08-26 08:47] gnidan commented on #8807
Ooh nice! Yeah, after looking at this and discussing with @haltman-at, I think we can handle this without the significant impact I feared. I rescind my prior strong objection!

[2020-08-26 08:48] bshastry opened #9674 "[Testing] Install antlr4 jar and C++ runtime inside Docker image used for fuzzing builds"

[2020-08-26 08:58] bshastry opened #9675 "[Testing] Auto-generate antlr4 visitor during each fuzzer CI build"
Open question:
  - Should the visitors be generated every time [like we do for protobuf][] OR
  - Should the auto-generated visitors be checked in

I am more for the first option but it looks like there are issues with antlr's C++ runtime generation: specifically it generates partly syntactically incorrect c++ source code (uses `boolean` type instead of `bool`, double semicolon on some lines etc.)

[2020-08-26 08:59] bshastry opened #9676 "[Testing] Create antlr4 mutator visitor stub"
- Accepts syntactically valid Solidity input
- Mutates one or many of its syntactic components (e.g., pragma, import, function def etc.)

[2020-08-26 09:00] bshastry opened #9677 "[Testing] Add custom antlr4 grammar based mutations for solidity parser fuzzer"
TBD

[2020-08-26 12:27] bshastry opened #9679 "[antlr4] Change "boolean" -> "bool" because it causes problems during c++ code generation"
## Description

I think this change is harmless for antlr tests but important for the upcoming antlr fuzzer (#9675 )

I filed an issue in the antlr repo (https://github.com/antlr/antlr4/issues/2890) just to be sure.

[2020-08-26 12:34] bshastry commented on #9679
Looks like this may be an antlr4 issue and not related to our antlr grammar. Will wait for a response from the antlr4 team before resuming work on this.

[2020-08-26 13:12] axic commented on #8146
Some notes from today's design call.

Rust has two kinds assertions:
- [`assert!`](https://doc.rust-lang.org/std/macro.assert.html)
- [`debug_assert!`](https://doc.rust-lang.org/std/macro.debug_assert.html)

We were trying to identify the use cases addressed by this topic:
1. People add many assertions to code during development, but remove many of them at deploy time to save gas.
2. Analysis tool

[2020-08-26 14:39] #9573 closed, assigned to nobody

[2020-08-26 15:12] #9618 closed, assigned to mijovic

[2020-08-26 15:15] chriseth commented on #8807
So how does the pendulum swing? Anyone rather for something like `i1`? Anyone rather for just higher regular non-negative numbers?

[2020-08-26 15:28] bshastry commented on #8817
Reopening because

[code]

throws

https://github.com/ethereum/solidity/blob/dbe0518cd2e146d145428c81f281bf6f8c23560f/libsolidity/formal/SMTEncoder.cpp#L1760

[2020-08-26 17:29] chriseth commented on #9504
Closing due to inactivity.

[2020-08-26 17:29] #9504 closed, assigned to nobody

[2020-08-26 17:40] chriseth commented on #4024
I don't think this is optimized. There is a proposal to add a function to `type(MyContract)` instead to directly retrieve the create2 address given a salt.

[2020-08-26 20:29] k06a opened #9685 "Compiler crash: Variable headStart is 2 slot(s) too deep inside the stack"
## Description

Compiler crash when optimizations enabled, disabling optimization fixes the issue.

## Environment

- Compiler version: 0.6.12 + optimizations enabled
- Framework/IDE (e.g. Truffle or Remix): Truffle + Remix
- Operating system: MacOS 10.15.6

## Steps to Reproduce

Try to compile this file:
[OneRouterView.full.sol.zip](https://github.com/ethereum/solidity/files/5132642/OneRouterVie

[2020-08-27 09:20] saarthak08 commented on #8774
I tried to install the latest release. It installed successfully.

[2020-08-27 09:20] #8774 closed, assigned to nobody

[2020-08-27 09:40] axic commented on #9605
So are we adding it is a generic keyword/token for both Solidity and Yul scanner modes? I couldn't find a case where this would cause problems.

[2020-08-27 09:53] #9669 closed, assigned to hrkrshnn

[2020-08-27 10:01] chriseth commented on #9605
Yes!

[2020-08-27 11:26] #9548 closed, assigned to hrkrshnn

[2020-08-27 12:10] #9478 closed, assigned to hrkrshnn

[2020-08-27 12:33] yann300 commented on #9332
That would be helpful for extracting the metadata.
will `immutables` also be described? and in that case is there any way that they can be decoded (following the right type), so we can display them in the contract state in the debugger. This look like to be a bit tricky though..

[2020-08-27 12:49] hrkrshnn commented on #9623
https://github.com/ethereum/solidity/pull/9684 should fix this.

[2020-08-27 12:49] #9623 closed, assigned to nobody

[2020-08-27 13:09] hrkrshnn commented on #9596
Maybe this will be fixed if we change super's type to TypeType. Relevant issue: https://github.com/ethereum/solidity/issues/7744

[2020-08-27 13:45] hrkrshnn commented on #9482
There used to be a bug in the NatSpec parser which caused problems with empty lines (i.e., lines with just `*`.) This was fixed in https://github.com/ethereum/solidity/pull/8800, i.e., solidity version 0.6.9

Currently this is what the NatSpec for your contract looks like:
[code]

The NatSpec parser is very rudimentary and doesn't clean up extra white spaces. A quick fix would be to remove more th

[2020-08-27 13:55] #9443 closed, assigned to hrkrshnn

[2020-08-27 14:21] #9605 closed, assigned to nobody

[2020-08-27 16:12] hrkrshnn commented on #9666
The contract
[code]

is okay, but

[code]
is not. `18446744073709551616 = 2**64`

[2020-08-27 18:09] #9611 closed, assigned to hrkrshnn

[2020-08-28 07:40] bshastry commented on #9629
A smaller repro

[code]

[2020-08-28 07:45] abcoathup commented on #9650
Using Buidler and NomicLabs we can say goodbye to flattening.

https://github.com/nomiclabs/buidler/tree/development/packages/buidler-etherscan

Verified on Etherscan looks as follows:
https://rinkeby.etherscan.io/address/0x2E1DCeFc2a998118354d90172737A91097431C20#code

Closing this issue as resolved.

[2020-08-28 07:45] #9650 closed, assigned to nobody

[2020-08-28 11:57] #9666 closed, assigned to hrkrshnn

[2020-08-28 12:00] hrkrshnn commented on #9685
This seems like a regular stack too deep error, but for the IR. Perhaps you can try compiling with yul-optimizations disabled? For references, see https://github.com/ethereum/solidity/issues/9280 and https://github.com/ethereum/solidity/issues/8959

[2020-08-28 12:39] #9207 closed, assigned to hrkrshnn

[2020-08-28 14:14] #9196 closed, assigned to chriseth

[2020-08-28 14:14] #9550 closed, assigned to nobody

[2020-08-28 14:22] christianparpart commented on #7115
@chriseth I think this ticket can be closed as soon as https://github.com/ethereum/solidity/pull/9476 is merged, because it also makes sure EVMONE is being downloaded & used when running soltest.

[2020-08-28 19:44] axic commented on #4024
It is covered in #8798.

[2020-08-28 20:03] 0xalizk opened #9697 "Cmake version (?)"
On the installation page it says [Cmake v 3.9+](https://solidity.readthedocs.io/en/v0.5.12/installing-solidity.html#prerequisites-all-operating-systems) but the latest [Cmake version is v3.18.x](https://cmake.org/download/) .. is this a typo?

[2020-08-28 20:05] axic commented on #9697
This refers to the minimum requirement of the Solidity build system: https://github.com/ethereum/solidity/blob/develop/CMakeLists.txt#L1

[2020-08-28 20:09] 0xalizk commented on #9697
There is no such thing as Cmake v3.9 though (?)

[2020-08-28 20:11] axic commented on #9697
There is: https://cmake.org/cmake/help/latest/release/3.9.html

The documentation also says it requires 3.9 as a **minimum**. You can use 3.18.x.

[2020-08-28 20:15] 0xalizk commented on #9697
Ah v3.9 = v3.09 .. I get it now thanks.

[2020-08-28 20:15] #9697 closed, assigned to nobody

[2020-08-29 00:28] axic commented on #8854
@nventuro does the above give a good enough reasoning?

[2020-08-29 09:08] bshastry opened #9699 "[SMTChecker] ICE in function "typeBvSizeAndSignedness""
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/98cc1d9994f9332b18df669eb80031454e967451/libsolidity/formal/SymbolicTypes.cpp#L444

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduce

[2020-08-29 11:22] dutyk opened #9700 "when build solc, the version is solidity_develop_yyyy_mm_dd.commitxxx, how to remove develop_yyy_mm_dd"
when build solc from the source, I execute:
cmake .. -DCMAKE_BUILD_TYPE=Release && make
the solc version is: solidity_develop_yyyy_mm_dd.commitxxx
how to remove develop_yyy_mm_dd, the version is solidity_commitxxx?

[2020-08-29 15:11] a3d4 commented on #9663
I believe it was fixed in **6.11**, see PR #9319.

[2020-08-29 15:35] nventuro commented on #8854
Yes, that seems to make sense. I'm not familiar however with clients that compure `pure` results without ever hitting a node (are there any?), it'd be good to check against those.

My concern about `chainid` specifically is around forks. A `pure` function that takes no arguments isn't much more than a complicated constant from the type system's point of view (barring oddities around `memory` being

[2020-08-29 22:24] axic commented on #8854
The idea is that it becomes `block.chainid`, which would mean it is considered state accessing.

Now what to do with the opcode, I'm not sure, probably marking it `view` accordingly is the best option.

[2020-08-30 18:01] k06a commented on #9624
@chriseth it seems like a bug, because this long chained calls are processed somehow strage...

[2020-08-31 02:47] djken2006 opened #9704 "Allow solidity function type support library-external functions"
The following code leads to compilation error:

ArrayUtils.sol:34:32: TypeError: Invalid type for argument in function call. Invalid implicit conversion from function (uint256) pure returns (uint256) to function (uint256) pure external returns (uint256) requested.
        return (arraySum(a, b, LibMath.square), arraySum(a, b, LibMath.cube));
                               ^------------^
[code]

[2020-08-31 10:33] #7811 closed, assigned to nobody

[2020-08-31 10:36] #9674 closed, assigned to bshastry

[2020-08-31 10:54] chriseth commented on #9704
Unfortunately, this is not possible. External function types use the `call` opcode while external library functions use the `delegatecall` opcode. An implicit conversion would be very misleading. Note that calling an external function on every array element is probably not what you want to do anyway because it gets very expensive.

[2020-08-31 10:54] #9704 closed, assigned to nobody

[2020-08-31 11:07] #9675 closed, assigned to bshastry

[2020-08-31 11:11] #9580 closed, assigned to cameel

[2020-08-31 11:39] #8885 closed, assigned to a3d4

[2020-08-31 12:16] cameel commented on #6458
I did a thorough link scrubbing in #9587 and fixed most of them. The remaining ones are the visual studio links (will be fixed in #9476) and one I missed (#9707 fixes it).

There are still four more that `linkcheck` considers broken but these are just false positives.

[2020-08-31 12:21] gitpusha commented on #9573
I ran into this issue when trying to verify some contracts that I had compiled with `solcjs 0.6.10` and `optimizer enabled`. It was very hard to verify them because I had to find the commits in which I deployed them or basically make sure my `contracts/` folder contains the same files it contained when I compiled and deployed them in the past. Even though the to-be-verified contract source code ha

[2020-08-31 12:26] cameel commented on #6458
I wanted to add a check like that to our `b_doc` task in CI but unfortunately it's not feasible. There are too many false positives (see the end of this comment if you want the details). We would have to submit a patch to fix `linkcheck` in these cases and also refrain from using placeholders in example links. I'm not sure it's worth the effort/inconvenience. What do you think @chriseth?

Anyway,

[2020-08-31 12:27] axic commented on #6458
I think running `make linkcheck` should be part of the (pre-)release process where we fix obvious issues.

[2020-08-31 12:31] cameel commented on #6458
@axic Yeah, this does seem like a better idea than an unforgiving automatic check.

[2020-08-31 12:39] cameel commented on #9700
Just create an empty file called `prerelease.txt`. If it's missing or non-empty, it's a development/prerelease build and the content of the file is included in the version string.

@chriseth I've seen people asking about it a few times already. Maybe we should mention it in https://solidity.readthedocs.io/en/latest/installing-solidity.html#building-from-source?

[2020-08-31 12:44] gitpusha commented on #9573
Hi. This bug caused me a lot of trouble recently when I tried to verify some contracts that a colleague had compiled using solc-js `0.6.10` and deployed. I understand that this problem should be fixed with solidity `0.7.x`.  @chriseth - concerning my previously deployed contracts, should I have any other (security?) concerns with regards to this bug other than that verification might be difficult

[2020-08-31 13:03] chriseth commented on #9573
The cause of the bug was just that optimizer steps were applied in a different order to the individual functions, so no reason for concern.

[2020-08-31 14:29] #6458 closed, assigned to nobody

[2020-08-31 14:52] chriseth commented on #4702
Related: https://github.com/ethereum/solidity/issues/4623

[2020-08-31 14:54] chriseth commented on #4702
We should not just turn the arguments into absolute paths but instead remove the current working directory (or the base path, if given) from the absolute path, if it is a prefix.

[2020-08-31 14:58] chriseth commented on #5480
It's probably better to remove this module and rely on external components that use better heuristics to show which parts of the source consume a lot of gas.

[2020-08-31 15:00] cameel opened #9710 "splitSources.py can't handle invalid UTF-8 sequences"
## Steps to Reproduce
[code]
[code]

## Description
The command above is executed by `scripts/ASTImportTest.sh` as a part of our command line tests. It's just preprocessing before the actual test.

It's still possible to split a multi-source file even if it contains invalid UTF-8 sequences so it's better to do so and let the compiler fail down the line instead of having two different layers where

[2020-08-31 15:10] bshastry commented on #9679
This is no longer an issue. Closing.

[2020-08-31 15:10] #9679 closed, assigned to bshastry

[2020-08-31 15:10] cameel opened #9711 "ASTImportTest.sh silently ignores errors"
## Description
`ASTImportTest.sh` (which runs as a part of command line tests) uses the return value from `splitSources.py` to determine if a file is a multi-source one or not. In effect, other errors can go unnoticed (example: #9710).

It also does not use the `set -e` which means that failing commands do not interrupt the script (example: #9712).

The script needs to be adjusted so that we can d

[2020-08-31 15:19] cameel opened #9712 "ASTImportTests.sh broken on OS X (readlink: illegal option -- f)"
## Description
When running command line tests on OS X, `ASTImportTests.sh` fails:
[code]

This does not interrupt the test and is not counted as a failure due to #9711.

## Environment and Steps to Reproduce
I don't have an OS X machine to reproduce it but I saw it happen on Circle CI: https://app.circleci.com/pipelines/github/ethereum/solidity/7779/workflows/f0154452-154a-4d2e-bced-8c2d2c3307e2/

[2020-08-31 15:37] chriseth commented on #9700
Yes! Also note that there is a source archive on the release page that contains the prerelease.txt file. So actually if you build yourself from just some source, it might be good that the version is a prerelease version, since there is no guarantee that the source is actually the one of the release.

[2020-08-31 15:38] #9685 closed, assigned to nobody

[2020-08-31 15:58] #7889 closed, assigned to nobody

[2020-08-31 16:01] chriseth commented on #8655
I'll call this an enhancement - we don't guarantee that the suggests of the compiler always work.

[2020-08-31 16:06] chriseth commented on #9482
@dddejan I think there are multiple problems reported here. In your initial example, where would you say `Line 3` is assigned to?

[2020-08-31 16:10] chriseth commented on #9553
I'm torn about whether `@notice` should be valid on contracts, but we can at least inherit the properties.

[2020-08-31 16:21] #9663 closed, assigned to nobody

[2020-08-31 17:33] #9327 closed, assigned to axic

[2020-08-31 17:57] chriseth commented on #9500
Fixed according to the comment by @axic above.

[2020-08-31 17:57] #9500 closed, assigned to nobody

[2020-08-31 17:58] chriseth commented on #8807
If nobody says anything, my laziness kicks in and we stay with non-negative numbers :)

[2020-08-31 18:03] axic commented on #9712
Yes, `readlink` is a pain, because BSD/UNIX/GNU differ. @ekpyron and I have complained about this on Gitter a few times :)

[2020-08-31 18:13] cameel commented on #9712
Yeah, I did run into these kinds of errors in the past. `mktemp` is another repeat offender :)
Multi-platform CI actually makes finding this stuff manageable but in this particular case #9711 got in the way making it harder to find...

[2020-08-31 18:59] cameel commented on #6458
Just a small clarification about the anchors. Turns out it's not really a bug or missing feature in Sphinx. It's just that these pages handle their anchors dynamically in JavaScript. Fixing it would require either running the JS during linkcheck or hard-coding the known rules on a per-site basis. Either is bad so looks like dead link detection is not something that we'll be able to fully automate

[2020-08-31 21:02] axic opened #9714 "[Sol-Yul] Gnosis MultiSigWallet fails with storage update of array"
I have a translated branch here: https://github.com/axic/MultiSigWallet/tree/solidity-0.7.x

This is the failure:
[code]

[2020-08-31 21:04] chriseth commented on #9714
Might be fixed by https://github.com/ethereum/solidity/pull/9602

[2020-08-31 23:56] aarlt commented on #3157
We should definitely allow compile-time evaluation of user-defined pure functions.

[2020-09-01 08:37] #8817 closed, assigned to nobody

[2020-09-01 08:44] #9631 closed, assigned to nobody

[2020-09-01 08:47] #9659 closed, assigned to nobody

[2020-09-01 09:04] ekpyron commented on #9581
We could actually even use the actual source locations as reported by the error reporter, i.e. for
[code]

The (relevant parts of the) output of ``solc`` is
[code]

So we could take the source location part and e.g. have
[code]
That way we could even hook into secondary locations as well... Multiple errors on the same line should also work like this (using multiple such comments below that line)..

[2020-09-01 09:12] mijovic commented on #9581
@ekpyron I like your idea.

Even starting with having `line:column` like in error reported in test expectations would make it better.

[2020-09-01 09:15] ekpyron commented on #9581
It doesn't really work well for multi-line source locations, though... the error reporter just says
[code]
Not sure how best to deal with those... multi-line source locations could be treated differently, but at some point this will just be confusing, if we overdo it...

[2020-09-01 09:20] leonardoalt commented on #9581
Would this update the file or just be used for visualization?

[2020-09-01 09:22] ekpyron commented on #9581
I meant it as a new formatting in the file... Haha, imagine the size of the PR that would change this :-D...

For visualization the colored highlighting in isoltest is just fine I think (even though we could still have an option that makes it single-step).

[2020-09-01 09:24] leonardoalt commented on #9581
True, but then you have to checkout and compile the branch yourself just to review the PR, not ideal.

[2020-09-01 09:25] ekpyron commented on #9581
Maybe we should split the issue - both having better formatting in the actual file and having a review isoltest mode (in case one wants to bother compiling for the added convenience) would be good IMHO.

[2020-09-01 09:33] leonardoalt commented on #9581
One simple way, as a reviewer, is also to enforce the author to comment above the assert the reason why it fails. I wrote that in complex cases, but not all. Maybe I should stop being lazy and just enforce that.

[2020-09-01 10:02] ekpyron opened #9720 "Replace ``commit_hash.txt`` with git archive placeholders (and try also replacing ``prerelease.txt``)"
The github source archives are invalid in that they are lacking proper ``commit_hash.txt`` and ``prerelease.txt`` files and we instead have to manually pack another source archive, which is confusing and error-prone.

The github source archive is created with ``git archive`` and https://git-scm.com/docs/gitattributes#_export_subst would allow us to create a ``commit_hash.txt`` file with one of the

[2020-09-01 10:06] ekpyron commented on #9581
We have been saying on several occasions that the expectations should also check secondary locations in general - since they'll tend to include counterexamples for the SMT tests, they should be as good as an author comment in most cases (unless it's a TODO case)... but that might be a path into another non-determinism-hell :-)...

[2020-09-01 10:15] hrkrshnn commented on #3116
I would expect the value of `b` in `bool b = 2**256 > 2**256 - 1` to be `false` because of the `mod 2**256` arithmetic. The proposal would make the value of `b` to be `true.` Perhaps this is confusing.

[2020-09-01 10:18] chriseth commented on #3116
Constants do not have the `mod 2**256` arithmetic. You can do `2**5000 / 2**5000` and will get 1

[2020-09-01 10:26] #9711 closed, assigned to nobody

[2020-09-01 10:28] hrkrshnn commented on #3116
What I meant is that for `+, -` and `*`, any expression of constants with these operations would evaluate to the same value in both arbitrary precision arithmetic and `mod 2**256` arithmetic (provided that the evaluated value is fits in 256 bits.) Division may be an exception here (It is true for `a/b` under certain conditions for `b`.) So the above change goes against the intutiion.

[2020-09-01 10:36] chriseth commented on #9624
@k06a can you explain what you mean by "processed strange"? What you reported seems to me like a known limitation of the compiler which will be fixed with the new code generator.

[2020-09-01 11:42] ekpyron commented on #9668
Yeah, I think the idea at the time was that it will/should be run multiple times anyways, since functions might *become* equivalent due to optimization - and we just ignored recursive functions.
The block hasher can rather easily be adjusted to produce equal hashes in these cases (even for equivalent recursive functions) - I imagine actually comparing equivalent recursive functions for equality to

[2020-09-01 13:07] k06a commented on #9624
I mean chained calls could be processed sequentially on single variable, not nested:
[code]

[2020-09-01 13:24] k06a commented on #9685
Aren't you gonna fix it? At least point place in the code where the problem is.

[2020-09-01 14:03] dddejan commented on #9482
Intuitively, I was thinking that a blank line (ignoring the leading `*`) is a separator so it wouldn't be assigned to any tag. My intuition seems to be wrong though, I just looked up the [javadoc spec](https://docs.oracle.com/javase/9/docs/specs/doc-comment-spec.html) and it says: `Each block tag has associated text, which includes any text following the tag up to, but not including, either the ne

[2020-09-01 14:14] leonardoalt commented on #9685
@k06a In that case you could also try making it easier for us to check the code instead of just pasting a zip file.

[2020-09-01 14:54] ekpyron commented on #9685
The underlying problem is the fact that the EVM only provides access to the top-most 16 stack slots, which we cannot fix, but only work around. Working around it is quite non-trivial - the first step for that is in progress in https://github.com/ethereum/solidity/pull/9162, but that alone won't be enough (there are several further steps planned on top of that), so it will take a while until we hav

[2020-09-01 15:00] k06a commented on #9685
The problem is that this is compiler failure. Wish to see properly handled error of Solidity code. It is pretty huge to determine the exact place of failure. It is not an issue for me, I wish to help you to fix this compiler failure.

[2020-09-01 15:18] ekpyron commented on #9685
It's a known compiler failure that cannot be detected before code generation, so it's also non-trivial to provide a better error message (the issue is occurring in compiler-generated code that depends on the types you use *somewhere* in Solidity - and then only after the optimizer has then rewritten this compiler-generated code). But you're actually right, it would be nice to retain the original s

[2020-09-01 15:24] chriseth commented on #9685
@ekpyron we had an issue for that but it might be closed because we actually implemented that for most of the "stack too deep" errors. The problem with this instance of the error is that it happens in the utility code and it is not clear which line of the source was responsible for the failing line in the utility code to be generated - there might even be multiple or none at all.

[2020-09-01 15:26] chriseth commented on #9624
I think the problem here is the fact that bound functions are used and the logic to remove the library address is not that clever. I would like to ask you to be patient until the new code generator is ready which will solve such problems without an issue.

[2020-09-01 15:27] ekpyron commented on #9685
Yeah, it's somewhat related to https://github.com/ethereum/solidity/issues/8807 then... we could track which solidity source locations trigger the generation of utility code - I think that might be generally helpful for https://github.com/ethereum/solidity/issues/8807...

[2020-09-01 15:27] ekpyron commented on #8807
Do we plan to also provide a map from the internal routines to the solidity source location or source locations (if any) that led to it being generated?

[2020-09-01 15:34] #9699 closed, assigned to nobody

[2020-09-01 18:38] #9414 closed, assigned to nobody

[2020-09-02 07:34] mijovic opened #9725 "[Sol -> Yul] Support array copying"
`bytes` array is missing:
- [x] Calldata to storage (#10083)
- [x] Memory to storage (#10083)
- [x] Storage to memory
- [x] Storage to storage

Dynamic arrays are missing these:
- [x] Calldata to storage
- [x] Calldata to memory (#10211)
- [x] Memory to storage
- [x] Storage to memory
- [x] Storage to storage

[2020-09-02 07:35] mijovic commented on #9714
Part of #9725

[2020-09-02 08:06] mijovic opened #9727 "[Sol -> Yul] Support function types in storage"
Currently there is no support for function types in storage, so we can't have storage structs or arrays containing function pointers

[2020-09-02 08:24] cakesoft-khushi opened #9728 "Unimplemented feature in void solidity::frontend::CompilerUtils::abiDecode(const TypePointers&, bool)"
## Description
I have a method in one contract that returns the array of strings ( ABIEncoderV2 enabled ). When I call that method in another contract that does not have ABIEncoderV2 enabled, it gives the following error in solc output.

/home/dell/solidity/libsolidity/codegen/CompilerUtils.cpp(267): Throw in function void solidity::frontend::CompilerUtils::abiDecode(const TypePointers&, bool)
Dyn

[2020-09-02 12:47] chriseth commented on #8787
Implemented in #8834

[2020-09-02 12:47] #8787 closed, assigned to nobody

[2020-09-02 12:48] chriseth commented on #7799
Can this be closed?

[2020-09-02 12:58] cameel commented on #9627
We discussed it today and decided that making stack compressor a step and the whole sequence configurable is a good idea. Also, we want to keep it simple and have just a single option for changing the sequence.

[2020-09-02 13:15] chriseth commented on #6482
Discussion: Main question here is if we want to have a statement that lists exports or if we want to mark individual declarations to be exported. Another question is if imports should be re-exported by default or not. And then of course there is the question if this feature is needed at all.

[2020-09-02 13:18] cameel commented on #7410
Related: #8535

[2020-09-02 13:45] chriseth commented on #9282
Discussion: Pretty clear how to do it, only question is whether it is useful.

[2020-09-02 13:54] cameel commented on #9282
While working on the yul-phaser I compiled a list of a few publicly available contracts with more substantial assembly blocks to use as input in experiments (https://github.com/ethereum/solidity/issues/7806#issuecomment-598644491). It might come in handy if we want to gain more insight into how people organize assembly-heavy contracts in practice:

| Source repository

[2020-09-02 14:58] hrkrshnn commented on #7799
Yes. This is implemented.

[2020-09-02 14:58] #7799 closed, assigned to hrkrshnn

[2020-09-02 16:05] franzihei commented on #869
Thanks to all that joined the language design discussion just now! Here's a link to the collaborative notes: https://hackmd.io/@franzihei/BkyqUzpmv.

[2020-09-02 16:08] frangio commented on #6482
Imports should not be re exported by default. One of the motivations for this feature is that tools will generate compilation artifacts for all of the "exported" contracts contained in the solc output. If importing contracts from a smart contract library this can result in a lot of compilation artifacts the user doesn't care about, because everything that was imported will now be exported.

[2020-09-02 16:12] chriseth commented on #6482
My main point for re-exporting is that in a file that has `import "A.sol" as A;`, the expression `A.x` should be valid whenever `x` is valid everywhere inside `A.sol`. I don't think accessibility should be convoluted with what artefacts are generated by the compiler. Every symbol still has a unique point of declaration and that is how the artefacts are determined.

[2020-09-02 17:21] frangio commented on #6482
Why is this? What this issue proposes is that not everything in scope inside `A.sol` should be exported. So `A.x` should only be valid if `x` is exported from `A`.

Last time I checked this was not true of Truffle or Buidler, because artifacts are determined by contract name, although Buidler is planning to change this.

[2020-09-02 17:34] chriseth commented on #6482
Sure, I was talking about the current situation or the possible identifiers you can export explicitly.

I don't understand how this would contradict my statement.

[2020-09-02 18:48] dmihal commented on #8798
How about this:

[code]

[2020-09-03 09:09] chriseth opened #9735 "Restrict free functions"
@axic brought up that free function still carry around implicit "state" and should maybe be restricted more.

`this` is already disallowed and probably rightfully so.

Maybe it would make sense to also disallow them making external calls, or at least adding a keyword that tells if they can make external calls (and thus forward ether from the contract).

[2020-09-03 09:37] chriseth commented on #9728
The calling contract needs ABIEncoderV2 enabled for this to work. This is a duplicate of https://github.com/ethereum/solidity/issues/8379

[2020-09-03 09:37] #9728 closed, assigned to nobody

[2020-09-03 12:03] #6449 closed, assigned to hrkrshnn

[2020-09-03 15:46] cameel commented on #1290
Just for reference - issue about constants at file level: #9671.

[2020-09-03 16:03] frangio commented on #6482
In some cases you can end up with different contracts in different scopes having the same name. For example, if one of your dependencies vendored `Ownable` and you also have `Ownable` through OpenZeppelin. This is fine with Solidity because it can tell them apart, but since they are all "exported" in solc's JSON output, and these tools create artifacts in the file system for all exported symbols,

[2020-09-03 16:07] frangio commented on #6482
Hm, I realize now that making exports explicit would not solve the issue I described above with the JSON artifact files... I mixed things up.

The example with a vendored `Ownable` could still be useful to analyze the feature. Since exports are implicit, if the user tries to combine those two dependencies in the same file, and `Ownable` is a transitive dependency, they would get a name clash betwe

[2020-09-03 16:12] mudgen commented on #9735
@chriseth @axic What implicit state?  Values such as msg.sender etc?

Why is `this` disallowed? In some small cases `this` might be useful in free functions.

People don't have to use `this` in free functions if they don't want to.  I don't like restricting/removing capability on the basis that programmers are too stupid to do the right thing.  It can cause us to implement complicated workarounds

[2020-09-03 16:23] leonardoalt commented on #9735
A free function naturally is not associated with any contract, therefore, in my opinion, conceptually it doesn't make any sense to allow `this` in free functions, and allowing it would be a hack. To me free functions should be as strict as possible.
As @axic pointed out, if `this` is so important for a free function it can just take it as an argument.

"People don't have to declare function mutabi

[2020-09-03 16:33] mudgen commented on #9735
I don't think we should assume how people will or should write code.  There may be surprising or unthought of uses and patterns that are very useful that people want to use and do.

We are not programmers of every possible type of application so I don't think we can assume or know how every program should be written. In addition, different programmers have different styles and abilities and knowle

[2020-09-03 16:59] leonardoalt commented on #9735
That's not true, since it's mandatory to specify function visibility, for example (except for constructors). It precisely enforces the programmer to be explicit, it's not a choice.
Similarly, disallowing `this` in free functions and forcing the programmer to pass it via argument enforces explicitness.

Of course, in the same way that different languages are more permissive or stricter. In C you ca

[2020-09-03 17:00] cameel commented on #9735
But in the same vein passing `this` via a parameter does not really limit you either. It just requires you to be explicit about the fact that your function needs to access the contract instance. There are languages that require you to do this all the time - e.g. Python where every instance method has `self` as the first parameter. You also have to do it in Solidity with libraries and `using for` (

[2020-09-03 17:07] mudgen commented on #9735
@cameel @leonardoalt You guys have good points.   I agree with you that good, simple, sane design and safety are important.

[2020-09-03 18:55] cameel commented on #8382
Just for reference, the two examples above cause the same assertion but through different paths. The first one is when return value gets implicitly ABI-encoded and the second one is an explicit call to `abi.encode()`.

Here's a simplified code that goes through the same path as the first example:
[code]

[2020-09-03 19:01] cameel commented on #8382
Looks like fixing this will be more invasive than I originally thought. The underlying issue is that most of the functions on the `Type` class that compute sizes (i.e. `calldataEncodedSize()`, `calldataHeadSize()`, `calldataEncodedTailSize()` and `memoryHeadSize()`) return `unsigned`. And that's enough for valid code but if we want to display a nice message for stuff that's too large we run into t

[2020-09-03 19:19] mudgen commented on #9671
Also allow events to be defined at the file level.  This enables free functions to emit events.

[2020-09-03 19:57] mudgen commented on #9735
@cameel How does `this` work in internal library functions?  Isn't that the same situation where `this` is not associated with any specific contract?

Not supporting `this` in free functions creates an inconsistency with the rest of the language where `this` is always available in non-pure functions. I'd rather keep that consistency with free functions.

[2020-09-03 20:00] axic commented on #9735
Free functions are introduced to replace libraries. It does really not matter what libraries do today, because many would agree they are not well designed.

[2020-09-03 20:08] mudgen commented on #9735
Okay, I think passing `this` as an argument makes free functions harder/less convienent to use and costs more gas.  I'd prefer to have `this` available as it always has been.

[2020-09-03 20:11] axic commented on #9735
Why would it cost more gas?

[2020-09-03 20:36] mudgen commented on #9735
@axic I did some checking. I'm sorry I was wrong. It wouldn't cost more gas.

[2020-09-03 21:19] cameel commented on #9735
@mudgen

If a contract calls an internal library function, `this` represents that contract. But in this use case `this` is pretty much neutered. I'm not sure if you can actually do anything more than cast it to an address (`address(this)`) .You definitely can't call other external functions from the same library via it. You also can't refer to contract's functions and storage variables that way. T

[2020-09-03 21:41] mudgen commented on #9735
I see, thanks @cameel.

[2020-09-03 21:53] axic commented on #9671
Please create a new issue for that, this is only concerned by constants.

[2020-09-03 21:58] mudgen opened #9737 "Allow Event Definitions at File Level"
If events can be defined at the file level then free functions can emit events.

Suggestion by @haltman-at : If all events that are possibly emitted by a contract are added to its ABI, then they should also be added to the AST to be able to find out which events exactly are emitted (by AST ID).

[2020-09-03 21:58] mudgen commented on #9671
Thanks done: #9737

[2020-09-04 14:20] #9700 closed, assigned to nobody

[2020-09-04 23:28] gnidan commented on #8739
Any thoughts for priority for this one, yet? Would love to have a sense for when it's coming so we can plan for it.

[2020-09-05 11:46] bshastry opened #9741 "[SMTChecker] ICE in if-then-else evaluation because *_trueValue.sort != *_falseValue.sort"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/f964966090f7e3571e20144fd4aa0b6391aea26e/libsmtutil/SolverInterface.h#L114

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduce

[code]

[2020-09-05 13:45] bshastry opened #9742 "[SMTChecker] ICE because symbStruct is a nullptr inside function indexOrMemberAssignment"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/f964966090f7e3571e20144fd4aa0b6391aea26e/libsolidity/formal/SMTEncoder.cpp#L1054

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduce

[2020-09-05 13:58] bshastry opened #9743 "[SMTChecker] ICE in SMTEncoder::assignment"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/f964966090f7e3571e20144fd4aa0b6391aea26e/libsolidity/formal/SMTEncoder.cpp#L1497

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduce

[2020-09-05 14:00] bshastry opened #9744 "[SMTChecker] ICE in unaryoperator end visit"
## Description

[code]

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix):
- EVM execution environment / backend / blockchain client:
- Operating system:

## Steps to Reproduce

[code]

[2020-09-05 15:44] agroce opened #9745 "ICE in virtual const solidity::frontend::ModifierDefinition &solidity::frontend::ModifierDefinition::resolveVirtual(const solidity::frontend::ContractDefinition &, const solidity::frontend::ContractDefinition *) const"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.7.2-develop.2020.9.4+commit.f9649660.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environment

[2020-09-06 03:34] schoeler opened #9747 "abi.decode with pragma experimental ABIEncoderV2 reverts with 2-dimensional array"
Compiler: 0.5.7
Test set up: Remix on ropsten

I have a function with a parameter of bytes calldata that needs to be decoded to a struct, but the call reverts in assembly. I believe the issue has something to do with the nested array. I have used a similar technique with only a 1-dimensional array in the struct and it seems to work OK.

[code]

Inspecting the raw input to transacting with this fun

[2020-09-06 14:31] schoeler commented on #9747
Hi All,
I think I simplified the problem case.  I think there's an issue with decode and dynamic arrays inside structs.

What works:
[code]

What does not work (reverts during decode):

[code]

Let me know if I can provide more info and if I am actually just passing incorrect calldata...

[2020-09-06 16:24] cameel commented on #9747
The content of `data` is not encoded correctly for `abi.decode()`. That builtin expects a tuple, even if the tuple contains just a single value. In your case it must be a single-element tuple containing the `InputParams` struct but you're giving it that struct directly, not wrapped in anything.

The working example above works because `address[2]` is a static type and a single-element tuple contai

[2020-09-06 16:26] schoeler commented on #9747
Awesome, thanks for the insight!

[2020-09-06 16:26] #9747 closed, assigned to nobody

[2020-09-06 19:46] cameel commented on #9596
Another way to reproduce it is to compare `super` with `this`:
[code]

I noticed that the assertion is triggered only if we're comparing with the current contract. If we compare with something else, we get a compilation error so I think the failure is not directly caused by `super` not being `TypeType`. Or at least there's already some workaround to deal with that problem and it's buggy:

[code]
[

[2020-09-06 21:37] cameel commented on #9596
Fixed in #9748. The cause was that any contract was considered implicitly convertible to the type of its `super`. When both appeared in the comparison operator the compiler tried to do just that, saw that a conversion is possible and and then proceeded to the conversion code where we assume that `super` won't ever appear.

So yeah, changing `super` so that it's a `TypeType` would fix it too but th

[2020-09-07 08:13] hrkrshnn commented on #7569
The following contract

[code]

compiles, but I was unable to deploy it through remix. "creation of C errored: Error: invalid type (arg="type", value="function", version=4.0.47)" was the error.

[2020-09-07 12:00] magus237 opened #9752 "Unclear / incorrect overload resolution when using named arguments"
Reporting this after discussing with @chriseth .

When using named arguments, it looks as if overload resolution was performed using the types of the named arguments _in the order they are provided_, instead of trying to _reorder them as in the function header.

The following code illustrates the problem (functions g2* and g3*):
[code]

[2020-09-07 12:05] #9745 closed, assigned to hrkrshnn

[2020-09-07 13:02] chriseth commented on #6482
You can always rename identifiers in the import statement or just keep the module name and use `moduleA.Ownable` and `moduleB.Ownable` to tell them apart.

[2020-09-07 13:30] cameel commented on #9752
I'm going to try fixing it but before I dig into the code, I tested it a bit with various examples to see if it's really just the order that affects it.

In the example below, commenting out any overload of `f` indeed results in a `TypeError` for the calls that have arguments in the same order. And the storage values after running it are: `overload1 = 3`, `overload2 = 12`, `overload3 = 48` which s

[2020-09-07 16:48] haltman-at commented on #7569
@hrkrshnn That just looks like a problem with the ethers encoder/decoder (which is what web3 also uses for encoding and decoding) to me.  It doesn't handle functions.  I'm surprised it chokes on it in advance on deploy, though... regardless, pretty sure that's unrelated and not a Solidity problem.

[2020-09-07 17:24] gitpushOmnik commented on #9610
I think this might count as an example related to k06a's problem.

File1 : contract1.sol

    pragma solidity >=0.5.0 <0.7.0;
    contract Base1 {
        uint a=4;
        uint b=6;
        function pr() private view returns(uint){
            return a+b;
        }
    }

File2: contract2.sol

    pragma solidity >=0.5.0 <0.7.0;
    contract Base2  {
        uint c=7;
        uint d=8;
        fu

[2020-09-07 19:58] #9629 closed, assigned to aarlt

[2020-09-07 21:31] cakesoft-arpit commented on #9741
We are hitting that smtAssert because in the class TupleSort, in the operator==, we are comparing "members", which has the following values:

"members" field in Tuple (1, 2) has the following two elements:
tuple(int_const 1,int_const 2)_accessor_0
tuple(int_const 1,int_const 2)_accessor_1

"members" field in Tuple (3, 4) has the following two elements:
tuple(int_const 3,int_const 4)_accessor_0
tup

[2020-09-08 06:09] leonardoalt commented on #9741
@cakesoft-arpit Yea that's an annoying case with RationalNumberTypes that put the value itself into the type name. I started looking into it yesterday and might have a fix today.

[2020-09-08 10:28] blitz-1306 commented on #9512
Well, let me leave my 5 cents.

Since https://github.com/ethereum/solidity/issues/9552 patch and https://github.com/ethereum/solidity/releases/tag/v0.7.1 release, **legacy** AST lacks an info regarding node positions in following sample:

[code]
As `null` values was removed in the patch, for listed `for` statements in legacy AST I do not see a way to be certian if `a = 0`, `a < 3`, `a++` are belon

[2020-09-08 13:42] gitpushOmnik opened #9761 "Multiple inheritance with base classes having same function name and arguments causes an error"
- It seems that Solidity doesn't accept multiple inheritance with base class functions having the same name and same function arguments regardless of whether they're private or public. In support to #9610

- Suppose i want to apply multiple inheritance using 2 base classes, with both containing a function with the same name and arguments we get a type-error.

- Now the problem doesn't only rely if

[2020-09-08 13:59] mudgen opened #9762 "Find Position of Calldata Variable"
Currently there is no way to find the starting position of a calldata variable in calldata. This prevents easily parsing calldata with `calldataload`.

Example:
[code]
You might ask why not just use array slices and `abi.decode`.  The answer is that the calldata might not be ABI encoded.  It might be using `abi.encodePacked` and so `abi.decode` cannot be used to decode it.

[2020-09-08 14:05] leonardoalt commented on #9762
@mudgen sorry, but I don't fully understand it. For which variable are you trying to get the position?

[2020-09-08 14:08] chriseth commented on #9761
This is a safety feature introduced with Solidity 0.6. The compiler asks you to tell it that you are aware of the fact that Base2 also defines a function named `pu` and that you want to ignore it. You have to add `override(Base1, Base2)` to the function header. Documentation: https://solidity.readthedocs.io/en/v0.7.1/contracts.html#function-overriding

Please feel free to reopen the issue.

[2020-09-08 14:08] #9761 closed, assigned to nobody

[2020-09-08 14:09] chriseth commented on #9762
The planned way to get access is via inline assembly in a similar way as access to storage slot and offset is provided. Is this what you are requesting?

[2020-09-08 14:22] #9596 closed, assigned to cameel

[2020-09-08 15:05] mudgen commented on #9762
@leonardoalt In the example above the `item` variable.

@chriseth Yes, that sounds great.

[2020-09-08 15:06] gitpushOmnik commented on #9761
Thank you @chriseth for clearing things up. I just had one more query. What if the functions that we are overriding are of private visibility. There is no virtual keyword for private functions, right?

[2020-09-08 17:19] chriseth commented on #9761
Yes, this unfortunately does not work, and I think it would also be confusing. Can you work with functions at file-level instead of private functions inside contracts?

[2020-09-08 18:09] gitpushOmnik commented on #9761
Yes sure I can. Thanks @chriseth . Also, do you think we could add a specific error statement regarding the prohibition of virtual keyword with private functions. Because if we don't write virtual for public functions, it gives the same error as that for ambiguity with private functions with same name and args. So i suggest we write an error specifically targeted for overriding of private function

[2020-09-09 05:03] gitpushOmnik opened #9764 "[SMTChecker] ICE in SMTEncoder::initFunction"
## Description

    pragma experimental SMTChecker;
    function calculate(uint x) returns(uint){
      return ~x;
    }
    contract C{
       uint x;
      constructor(){
        x = calculate(1)-calculate(2);
      }
     }

throws

Line 709

Error produced :

    Throw in function void solidity::frontend::SMTEncoder::initFunction(const solidity::frontend::FunctionDefinition &)
    Dynamic exce

[2020-09-09 06:22] dariusdev opened #9765 "Export used events (and errors) instead of just declared"
https://etherscan.io/address/0x1e0447b19bb6ecfdae1e4ae1694b0c3659614e4e#code
Proxy to https://etherscan.io/address/0x56e7d4520abfecf10b38368b00723d9bd3c21ee1#code

Contract ABI not include event like: LogTrade, LogSell

not sure it is Etherscan problem or solidy compiler?

[2020-09-09 07:22] chriseth commented on #9765
Are you saying that events declared in the library are listed in the library's ABI, but they are not listed in the ABI of the contract that emits the library's events?

If yes, then this is not a bug, but it is probably something we want to think over, especially as we provide more access to elements at the file-level:

We could provide access to errors and events that are used from a function of

[2020-09-09 07:48] dariusdev commented on #9765
events declared in the library are **not** listed in **any** ABI.
At least it looks reviewing code provided by etherscan for addresses :
https://etherscan.io/address/0x1e0447b19bb6ecfdae1e4ae1694b0c3659614e4e#code  and
https://etherscan.io/address/0x56e7d4520abfecf10b38368b00723d9bd3c21ee1#code

[2020-09-09 08:00] chriseth commented on #9765
Remix shows the 'LogTrade' event in the "Events" library in the first code for me. Where are you looking for the events?

[2020-09-09 08:05] dariusdev commented on #9765
etherscan ABI section
![image](https://user-images.githubusercontent.com/6444878/92571889-5befb200-f28c-11ea-8e95-04813ebe9a76.png)

[2020-09-09 08:08] chriseth commented on #9765
That's only the ABI for the contract at that address, not for the library it uses.

[2020-09-09 08:17] dariusdev commented on #9765
This is the library address: https://etherscan.io/address/0x56e7d4520abfecf10b38368b00723d9bd3c21ee1#code
And ABI is empty without events.

[2020-09-09 08:22] dariusdev commented on #9765
If contract is using this library for execution and firing these events - these event should appear  in contracts ABI in my opinion

[2020-09-09 08:32] chriseth commented on #9765
The library address you mention is for a different library. The `Events` library does not have any code that can be deployed, so it does not have an address. So the events are listed in the ABI for the library, but you cannot retrieve it via Etherscan's interface.

In any case, we should find a way to export the used events as the title of the issue says.

[2020-09-09 08:36] chriseth commented on #9737
Related: #9765

I think that there should be a mechanism to access all events emitted from a contract, not just the ones declared there.

Any ideas how this could be handled? Should we include all events (and in the future also errors) that are emitted in the already existing abi field or should we introduce a new field (maybe 'effectiveABI' or 'indirectABI')?

@yann300 @alcuadrado @haltman-at

[2020-09-09 09:13] #8016 closed, assigned to nobody

[2020-09-09 10:38] bshastry commented on #9764
This is likely a duplicate of #9654

[2020-09-09 10:39] cameel commented on #9752
Fixed in #9766.

The bug was that when comparing the parameters and the function signature, we were looking at the type of the wrong parameter (the one at the same position as the function argument rather the one with the same name). As a result some calls with named parameters in an order different from the declaration were being rejected. But the opposite was also true - some calls with the righ

[2020-09-09 10:50] gitpushOmnik commented on #9764
It is one of the free function related issues. Same error is being thrown for many issues :)

[2020-09-09 12:01] mijovic opened #9767 "[Sol->Yul] Implement member access for arrays in calldata structs"
Member access for calldata structs is implemented. However, if struct contains arrays, member access is failing for these.

example:

[code]

Fails as `c[1].a[0]` fails because member access doesn't support arrays

[2020-09-09 13:38] leonardoalt opened #9769 "[SMTChecker] Fail gracefully in CHC SAT queries for z3 <4.8.8"
If z3 <4.8.8, CHC SAT queries will crash when trying to generate a counterexample. This shouldn't happen, and it should simply not show a cex.

[2020-09-09 14:31] alcuadrado commented on #9737
Wouldn't this always be incomplete? As which contracts are called can change at runtime.

[2020-09-09 14:55] #9752 closed, assigned to cameel

[2020-09-09 14:56] chriseth commented on #9737
@alcuadrado the idea was to include all event calls that are part of the bytecode. Excluding delegatecall, these are all events that can be emitted from that address.

[2020-09-09 16:02] alcuadrado commented on #9737
I think I misunderstood you.

Let's say that you have:

[code]

The events for `A` would be `EA`. But what about the `B` ones?

1. Include all of its events `EB`, `EC`. -- This is what is currently happening.
2. Include all its events and `A`, because it's called from `B`. ie: `EA`, `EB`, EC`. -- This is what I understood.
3. Include the events from `B` that are effectively called: `EB` -- Is this

[2020-09-09 16:46] chriseth commented on #9737
Yes, I meant 3, or maybe 1 + 3, so all that are defined in the contract plus those that are called. In your example, there is no difference, but take a look here:

[code]
In that example, the events for B should be `BA`, `LA` and `LB` (the latter two maybe called `L.LA` and `L.LB`).

[2020-09-09 22:08] haltman-at commented on #9737
Hm, this is interesting.  Right now Truffle Decoder already assumes that any contract can emit events from any library (due to delegatecalls).  Roughly speaking -- first it checks the contract's ABI, and for each event scans the corresponding AST for more info (if possible -- if it can't find it then it just uses the info from the ABI).  Then it does the same for all libraries in the project.

How

[2020-09-09 22:33] chriseth commented on #9737
Thanks for shedding some light on how truffle decoder works with event!

Maybe one thing to consider before we adding something like 'extraABI`: I think it would be far better to find a solution that maybe needs some implementation work in truffle (as well as solidity) but "just works" in a backwards-compatible matter. We could add another field to each ABI entry that is not defined in the contrac

[2020-09-10 13:20] hrkrshnn opened #9772 "Improve DataflowAnalyser to handle knowledge about function calls"
Context: https://gist.github.com/hrkrshnn/62c45c0c3d1ff9818ada7c2394915160

Allow `DataFlowAnalyser` to reason, for example, that all those `mload(0x200)` is the same.

[2020-09-10 13:49] alcuadrado commented on #9737
Thanks for your answer, @chriseth!

Now I get the difference. This is mostly about libraries and delegate calls, right?

This is tangentially related, but I think it will be useful to understand the whole picture:

A very common problem that people have when testing smart contracts is that lots of times when sending a TX to a smart contract, you also want to decoded another contract's events, beca

[2020-09-10 14:27] chriseth commented on #9737
@alcuadrado it's not really about delegatecalls, because with delegatecall, we actually don't really know what code will be executed. Concerning decoding events at other addresses: What should be happening is that the tools should take a look at the metadata hash at the event's address, then download the ABI (including the events) from ipfs and doing the decoding.

What do you mean by "trying to d

[2020-09-10 16:05] #9712 closed, assigned to nobody

[2020-09-10 17:06] haltman-at commented on #9737
Well, you can't *just* select the one that matches by signature, due to the fact that signatures don't take into account which parameters are `indexed`, so say you have two libraries that declare events with the same signature but with different parameters indexed, which poses a bit of a problem...

[2020-09-11 00:25] gongbell opened #9775 "output line number for unimplemented feature when compileing solc"
When we use "solc --ir contract.sol" to compile a contract, it will emit _UnimplementedFeatureError_.

However, there is no indication in which line of the solidity file the error is.

Is it possible to hint which line the unimplemented feature exists so we can examine detailed features manually?

[2020-09-11 08:52] leonardoalt commented on #9437
https://github.com/ethereum/solidity/pull/9774 `removed struct_array_struct_array_memory_unsafe_2.sol`

[2020-09-11 09:19] chriseth commented on #9737
I agree that this is a problem, but it is unrelated to this matter, isn't it?

[2020-09-11 10:04] chriseth commented on #9775
Pull request #9776 should implement your feature request. Can you provide some source code so that I can cross-check that it works for your case?

[2020-09-11 12:32] Coder2Programmer commented on #9775
Of course. There are [three solidity source code](https://drive.google.com/drive/folders/1PMME2dLxRMgx0lNIaMWrFDriZQVGP9t8?usp=sharing) files which emit _UnimplementedFeatureError_ during compilation .

[2020-09-11 17:06] haltman-at commented on #9737
Hm, yes, I suppose that is mostly unrelated.

[2020-09-11 17:49] mudgen commented on #9645
I want this functionality.   Is it something that will be implemented sometime soon?

[2020-09-11 22:56] #9667 closed, assigned to nobody

[2020-09-11 23:07] axic commented on #6052
This raises no complaints, so maybe this is supported?
[code]

Perhaps add it into the smt tests and close this issue.

[2020-09-11 23:11] axic commented on #8668
There doesn't seem to be any real complaint now:
[code]

Is this supposed to work now?

[2020-09-11 23:17] axic commented on #6721
Anyone started this?

[2020-09-11 23:48] axic opened #9785 "[SMTChecker] Support events"
[code]

I don't think the SMT checker needs to do anything with events though, just ignore them and don't emit a warning.

Could also include the low-levels logs, `log0()` to `log4()`.

[2020-09-12 00:04] axic opened #9786 "[SMTChecker] Support selfdestruct"
Here's an extremely useful piece of code:
[code]

While this could be just added like #9782, I wonder what is the best approach for the CHC engine. No more code can be executed in the contract afterwards (at least not in the same instance).

[2020-09-12 07:09] leonardoalt commented on #6052
Can you try with values larger than 32 bytes? Or actually with smaller ones as well, but non empty?

[2020-09-12 10:05] leonardoalt commented on #8668
Ah nice that it doesn't complain about the underflow anymore. Yea it's supposed to work.

[2020-09-12 10:06] leonardoalt commented on #9785
Agree. The arguments should still be visited for side effects.

[2020-09-12 10:07] leonardoalt commented on #6721
Don't think so.

[2020-09-12 10:07] leonardoalt commented on #9786
Yea CHC needs to handle it differently, although it won't be hard to implement.

[2020-09-12 10:16] #8668 closed, assigned to nobody

[2020-09-12 10:56] axic commented on #6052
No complaint with `string memory x = "not empty"`, nor with `string memory x = "this is longer than 32 this is longer than 32 this is longer than 32 this is longer than 32";`.

[2020-09-12 11:13] axic opened #9788 "[SMTChecker] Handle nonlinear arithmetic better"
Trying to run it on this code from UniswapV2:
[code]

The first statements fail on z3 (4.8.8):
[code]

I tried doubling the z3 resource limit, but nothing.

[2020-09-12 11:28] axic opened #9789 "[SMTChecker] Support type conversion of literals (i.e. address(0))"
Type conversions are not fully implemented and it may take a while until they are fully supported, but the above special case is so common and it should be easy to support, I'd suggest we make an exception here.

[2020-09-12 13:06] leonardoalt commented on #6052
But is the assertion about the length still correct?

[2020-09-12 13:09] leonardoalt commented on #9788
The CHC solver has problems with nonlinear arithmetic. I have two ideas to make that better atm:

- when one of the division/multiplication/mod operands is a constant, we should create the expression directly with the constant instead of assigning it to the ast node expr_smth
- replace div and mod by the slack vars version also used in the wrapping logic in SMTEncoder

[2020-09-12 13:10] leonardoalt commented on #9789
We could easily support address(constant), address(this)

[2020-09-12 13:13] axic commented on #6052
Oh, you are right, it doesnt picks it up 😕

[2020-09-12 14:26] howardpen9 commented on #49
++

[2020-09-12 15:21] leonardoalt commented on #6052
I think that's rather a problem in the assignment to string though. The conversion to bytes should pick it up if the assignment worked in the first place.

[2020-09-13 02:42] mikeshultz opened #9790 "Non-deterministic output according to filesystem path"
## Description

I'm seeing non-deterministic output according to filesystem path when compiling libraries.  I've been able to reproduce it with multiple versions.

## Environment

- Compiler version: 0.5.11-0.7.1 (tested)
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): n/a
- EVM execution environment / backend / blockchain client: n/a
- Operating s

[2020-09-13 22:43] fulldecent commented on #49
I have answers to all these questions. But here is not a forum.

Please close this issue, there is no specific need to have a modifier return type. Here is what demonstration of a specific need looks like https://github.com/ethereum/solidity/issues/3419 And I categorically assert that any Solidity program written with a modifier using return values can be written better without that feature.

You

[2020-09-14 06:04] tntdev21 opened #9792 "How to listen for events from contract that created from other contract"
How to listen for events from contract that created from other contract

[2020-09-14 08:39] hrkrshnn commented on #9792
Can you share some sample code on what you are trying to do?

[2020-09-14 08:46] tntdev21 commented on #9792
@hrkrshnn I have 2 contracts:
[code]
Then create MyContract by making the transaction: `factory.methods.createContract().send()`.
So, when I call `myContract.methods.willFireEvent().send()` method, `Foo` event will be emited.

How to get info about `Foo`?

[2020-09-14 09:05] hrkrshnn commented on #9792
Perhaps this would be good a question for https://gitter.im/ethereum/solidity.

One way to achieve this would be to get the address of `new MyContract()` (using another event), create an instance of `MyContract` in the frontend and listen to `MyContract.events.Foo`. But there maybe better ways.

[2020-09-14 09:06] tntdev21 commented on #9792
@hrkrshnn I tried that but no luck. I think there is another way to get `Foo` info.

[2020-09-14 09:08] hrkrshnn commented on #9792
What is the issue?

[2020-09-14 09:13] tntdev21 commented on #9792
Using `myContract.events.Foo` watcher ([docs](https://web3js.readthedocs.io/en/v1.2.0/web3-eth-contract.html#contract-events)), the events doesn't arrive.
Using `myContract.getPastEvents('Foo', options)` ([docs](https://web3js.readthedocs.io/en/v1.2.0/web3-eth-contract.html#getpastevents)), it return nothing.

[2020-09-14 09:21] hrkrshnn commented on #9792
Are you sure `myContract` is initialized at the correct address?

Anyway, this doesn't seem to be a solidity issue. Perhaps ask in web3 forums?

[2020-09-14 09:22] tntdev21 commented on #9792
Yes.

Yeah, I'll try this

[2020-09-14 09:24] #9792 closed, assigned to nobody

[2020-09-14 10:36] chriseth commented on #9790
This is known behaviour. You tell the compiler: "Compile the file called `a/SafeMath.sol`", so this is how the file is known to the compiler. Any imports performed will also call the file by that name and because of that, this fact has to be hashed into the compilation artefact to make the build reproducible (otherwise, imports might resolve to different files).

If you want to abstract away the d

[2020-09-14 10:42] axic commented on #9789
Yes, all that would be nice, and they seem to be a low hanging fruit.

[2020-09-14 12:20] ekpyron commented on #6228
We just got a Z3 assertion containing `` File: /build/libz3-static-dev-q0RqJn/libz3-static-dev-4.8.8/src/qe/qe_arith.cpp`` in CI - which looks like the static z3 PPA build chooses some weird build directory name and that ends up in our binaries in the end, so if we ever want really nicely reproducible builds, this will come up as a problem.

[2020-09-14 14:17] #9343 closed, assigned to cameel

[2020-09-14 14:50] fzeoli commented on #9258
Any updates on this? Pretty anxious about the huge devex improvements this will unlock

[2020-09-14 16:01] cameel commented on #9258
@fzeoli There were a few things in the last weeks that taken together pulled me away from this task for quite a while (the internal hackathon, my vacation, then post 0.7.0 bug squashing), but that's already over and I'm getting back to it when I'm done with the bug I'm currently working on.

Is devex blocked by anything specific? The main part of this task (i.e. changing the way binaries are hoste

[2020-09-14 16:08] mikeshultz commented on #9790
I'm curious about the hashing logic.  What does the bytecode care about source imports? Any interfaces or library code should be effectively integrated or placeholdered at the point of bytecode output, no?  I get why placeholder hashes might include file paths since it's very relevant, but not why that might effect contract bytecode.  If you happen to move source files around but leave execution i

[2020-09-14 16:36] ekpyron opened #9802 "Fix SMOD in ``test/formal/opcodes.py``."
The opcode implementation of SMOD in ``test/formal/opcodes.py`` uses SMT smod, which is not the same as EVM smod (e.g. ``-7 % 5 == -2`` vs ``-7 % 5 == 3``).
We might also want to check how hard it would be to actually fetch some opcode tests from the ethereum test repository and use them against those opcodes to be sure that our proofs are actually proving against what the EVM does, not what SMT d

[2020-09-14 16:42] axic commented on #9802
Alternatively you could consider running/extracting the evmone unit tests instead: https://github.com/ethereum/evmone/tree/master/test/unittests

@chfast hmm, it seems there aren't many tests for SMOD, in fact only div by zero?!

[2020-09-14 17:20] chriseth commented on #9790
Of course, there are changes to filenames and paths that should not change the semantics of the contract, but if you exchange the names of to files, then this can have a big influence, especially if they define the same symbols. The idea is that we want a hash in the bytecode that basically is a watermark and allows re-compilation in exactly the same way as it was done before deployment, including

[2020-09-14 17:45] gsalzer opened #9803 "Internal compiler error by `returns(string calldata)`"
Compiling

[code]
with `solc` version `0.7.1+commit.f4a555be.Linux.g++` from the command line results in the output
[code]

[2020-09-14 17:55] chriseth commented on #9803
Thanks for reporting!

I would say `calldata` should be valid in return variables of public functions, but it seems that the conversion from string literal to calldata string is not properly reported as invalid.
The following code correctly reports a regular error:
[code]

[2020-09-14 18:22] #9127 closed, assigned to nobody

[2020-09-14 19:21] axic commented on #9017
This is now moot, as the deposit contract is *finalised*.

[2020-09-14 19:21] #9017 closed, assigned to nobody

[2020-09-14 19:30] axic opened #9806 "[SMTChecker] Validate the eth2 deposit contract"
https://github.com/axic/eth2-deposit-contract/blob/master/deposit_contract.sol

It would be nice to be able to "verify" the deposit contract, or at least to remove the warnings for unimplemented features.

- [x] checked arithmetic https://github.com/ethereum/solidity/issues/10066
- [x] in place constants https://github.com/ethereum/solidity/issues/10631
- [x] `type(T).max` (#9780)
- [x] `type(I).i

[2020-09-14 19:39] fzeoli commented on #9258
The most important thing is the pre-0.6.9 mac builds. This being missing is why tools don't use the native compiler, so once that's done we can push pretty much everyone to it

[2020-09-15 00:57] #9437 closed, assigned to nobody

[2020-09-15 00:57] #8459 closed, assigned to nobody

[2020-09-15 08:19] axic opened #9809 "isoltest does not support filenames (dots)"
This seems to be not too intuitive:
[code]

While of course `-t smtCheckerTests/control_flow/*` or `-t smtCheckerTests/control_flow/revert*` works.

[2020-09-15 09:23] chfast commented on #9802
I actually don't have a lot of tests for SDIV / SMOD. But see these: https://github.com/chfast/intx/blob/master/test/unittests/test_div.cpp#L342-L375.

[2020-09-15 09:54] axic opened #9810 "[SMTChecker] Consider the limits from EIP-1985 for types"
See https://eips.ethereum.org/EIPS/eip-1985. The limits in it mostly mirror what is in geth. There is a plan to finalise this EIP, perhaps should not do most of this in SMTChecker before it is finalised.

[2020-09-15 09:54] chriseth commented on #9775
It works for your case!

[2020-09-15 10:08] #8807 closed, assigned to nobody

[2020-09-15 11:48] #4558 closed, assigned to a3d4

[2020-09-15 12:26] #8744 closed, assigned to nobody

[2020-09-15 12:46] gongbell commented on #9775
That is great. Is this patch merged on master branch already? How can we use the fix?
Thank you!

[2020-09-15 14:08] chriseth commented on #9775
The patch is still pending review, but will hopefully be part of 0.7.2

[2020-09-15 14:23] gongbell commented on #9775
Thank you!

[2020-09-15 14:26] mijovic commented on #9775
Issue will be closed when PR is merged. This should still be open until than

[2020-09-15 15:08] SilentCicero opened #9813 "[feature-request] Error code system, based on Yulish style `error"..."`"
## Abstract

Revert error messages take up a *huge* amount of byte space, especially for larger builds.

## Motivation

You making us crazy.

Suggestion, have a simple error code system, which delivers a map of error codes at compile time. This way error code messages are not baked into the contract itself, which is wasteful.

Suggestion:

// my sol file .sol
[code]

// compiled build .json
[code]

[2020-09-15 15:36] chriseth commented on #9813
I cannot dig up the issue number now,  but we are planning to add custom errors to 0.8 in the way of
[code]
why can then be used like
[code]
and
[code]
The implementation would use function signatures in the same way as the ABI, so if you don't have arguments, it needs 4 bytes and a memory write.

Would that work here?

[2020-09-15 16:46] #9775 closed, assigned to nobody

[2020-09-15 18:21] bshastry opened #9815 "[codegen] ICE on >=homestead spuriousDragon<= in ReturnInfo constructor because `haveReturndatacopy` is false"
## Description

[code]

throws

https://github.com/ethereum/solidity/blob/f964966090f7e3571e20144fd4aa0b6391aea26e/libsolidity/codegen/ReturnInfo.cpp#L46

## Environment

- Compiler version: latest develop
- Target EVM version (as per compiler settings): Homestead, TangerineWhistle, SpuriousDragon

## Steps to Reproduce

[code]

[2020-09-15 19:14] cameel commented on #9815
It looks like `FunctionType::returnParameterTypesWithoutDynamicTypes()` is returning a parameter for which `isDynamicallyEncoded()` is true.

This looks straightforward to debug and fix so I'm going to take it. I could use a short break from the other ABI encoder bug where I have to play whack-a-mole with failing test cases :)

[2020-09-15 19:35] cameel commented on #9813
I think it was #7877.

[2020-09-15 19:44] cameel commented on #9810
Interesting. This EIP specifies the maximum memory size which is relevant for #8382 and #9746 too. I was actually wondering if there was some official upper limit on that.

[2020-09-15 21:11] SilentCicero commented on #9813
@chriseth so the emit Error might be okay, but my system as you can see is very simple. Very basic. Just mainly to avoid the headache of string bloat with error messages.

I feel mine would be easier to implement, but sure, the above might do it. How are errors interpreted outside in testing environments?

The reason why I like my direction is it's clear, the strings are registered in the compiled

[2020-09-16 02:17] jacktnho opened #9817 "InternalCompilerError when returning a struct with a mapping from a library function"
## Description

Received InternalCompilerError without any description when we are trying to pass a struct to a function as a memory argument (using ABIEncoderV2) and the struct contains a mapping in it. Although, passing a mapping to a function is not allowed by design, i think to have an InternalCompilerError without any description is a real issue indeed.

## Environment

- Compiler version: **

[2020-09-16 04:07] gitpushOmnik commented on #9817
I think this ICE is valid only for pragma solidity <0.7.0; The ICE goes away for pragma solidity >0.7.0;

[2020-09-16 06:31] jacktnho commented on #9817
Thanks for your reply. May i know if there is any chance to have this fix in 0.6.x or even earlier versions?

[2020-09-16 09:00] cameel commented on #9815
Fix: #9819.

Turns out that `returnParameterTypesWithoutDynamicTypes()` was checking the type using `isDynamicallySized()`, which is not recursive and only checks the outer array. Changing it to `isDynamicallyEncoded()` fixes the problem.

I also tried to review other uses of `isDynamicallySized()` in our code to make sure there are no similar errors. It's used a lot though and all uses in `Types`

[2020-09-16 09:47] jacktnho commented on #9817
unfortunately, i still encounter an InternalCompilerError (with no description) in 0.7.1 when i have a get function, which outputs a storage, in the above library and use another contract to import the library and call that get function.

[2020-09-16 09:58] franzihei commented on #9175
# Updates

Hey there, it's been a while and I'd like to push the Solidity portal to the next stage.

~~The current status can be seen here: https://franzihei.github.io/solidity-portal-initial-mvp/ ~~

The current status is here: https://github.com/ethereum/solidity-portal

## Open To Dos and Blockers

- [ ] fix Solidity compiler to look better and consider including different code examples there w

[2020-09-16 10:00] gitpushOmnik commented on #9817
Can you provide an example for the above scenario?

[2020-09-16 10:00] cameel opened #9821 "ICE when passing string literal into a calldata argument"
## Description
Compiler triggers an assertion saying `I sense a disturbance in the stack: 1 vs 2` when you call a function that expects a calldata `string` or `bytes` argument with a string/unicode/hex literal.

## Steps to Reproduce
[code]
[code]

## Environment

- Compiler version: `develop` (0.7.2-develop.2020.9.16+commit.b08b76ff.mod.Linux.g++)

[2020-09-16 10:17] chriseth commented on #9821
Might be similar to https://github.com/ethereum/solidity/issues/9803

[2020-09-16 10:19] jacktnho commented on #9817
try to compile the following code in Remix, solc 0.7.1

[code]

thanks a lot for the help there.

[2020-09-16 10:25] cameel commented on #9821
It's indeed similar in that, just like #9803, it lacks a check that would forbid it but that's not the same check. I have actually discovered it while fixing #9803 (I'll create a PR in a moment) and my fix does not prevent this one from happening.

[2020-09-16 10:33] #9815 closed, assigned to cameel

[2020-09-16 10:39] cakesoft-omkar commented on #9817
Yeah, the above scenario seems like a bug. ICE gets generated when compiling the above code using SMTEncoder.

    Internal compiler error during compilation:
    /Users/omkarnikhal/Desktop/solidity/libsolidity/ast/Types.cpp(2337): Throw in function virtual bool
    solidity::frontend::StructType::isDynamicallyEncoded() const
    Dynamic exception type: boost::wrapexcept<solidity::langutil::Intern

[2020-09-16 10:42] chriseth commented on #9817
Smaller example:
[code]

[2020-09-16 10:43] gitpushOmnik commented on #9817
Yeah the above scenario seems like a bug. ICE gets generated when compiling the above code using SMTEncoder.

    /solidity/libsolidity/ast/Types.cpp(2337):Throw in function virtual bool
    solidity::frontend::StructType::isDynamicallyEncoded() const Dynamic exception type:
    boost::wrapexcept<solidity::langutil::InternalCompilerError>
    std::exception::what:
    [solidity::util::tag_comment*

[2020-09-16 10:45] jacktnho commented on #9817
Thanks for confirming.
Any work around for the moment?

[2020-09-16 10:48] gitpushOmnik commented on #9817
Yeah. Thanks for mentioning the issue :)

[2020-09-16 10:48] chriseth commented on #9817
As a workaround, you could pass it over as a different type (a struct with a single integer member, for example) and then use inline assembly on both sides to change the type...

[2020-09-16 10:50] cameel commented on #9821
Looks like I was wrong. I must have checked it on a stale build without the fix. #9822 actually fixes both of these issues.

[2020-09-16 11:26] #9785 closed, assigned to axic

[2020-09-16 12:23] #9803 closed, assigned to cameel

[2020-09-16 12:23] #9821 closed, assigned to cameel

[2020-09-16 12:52] cameel commented on #7512
Decision from today's call:
- We don't want to remove binaries that were already distributed via `solc-bin` so for `0.4.15`, `0.5.9`, `0.5.11` we're going to include both variants there.
- For `0.2.0`, `0.2.1` and `0.4.11` we will keep just one. We don't want to touch the one in `solc-bin` because that would change the hash of the binary, possibly making verification fail for people who are checki

[2020-09-16 13:40] chriseth opened #9824 "Move away from INVALID and use custom error types instead."
Since checked arithmetic might be used for input validation, the need to move away from the invalid opcode (which consumes all gas) is stronger once we make checked arithmetic the default.

The middle ground between just using `revert()` for all internal errors and using the invalid opcode is introducing different error types (#7877) for `revert()` and internal errors.

The following situations cu

[2020-09-16 14:51] ekpyron commented on #9824
I'm _really_ not sure if that's a good idea :-) - but we could for each of them introduce an integer-encoded error code that explains what happens...
So for example if we consider all the arithmetic errors and arrays out of bounds accesses as ``Panic``, we could have
``Panic(uint256)`` and define some bit schema indicating hierarchical error types...
Like ``0x01xxxxxxxx`` is arithmetic errors... `

[2020-09-16 15:23] chriseth commented on #9824
While this is a good idea, still the main question is if such a distinction is useful. What you want to know is in which context the error happened and not what kind of error happened. Note that since we have error forwarding, it can also have happened inside a called contract.

[2020-09-16 20:54] axic opened #9829 "pack / unpack: a flexible data encoding scheme"
Exchanging data with contracts is a crucial feature, which has been mostly covered by the ABI and hidden by the language with decoding and encoding done opaquely. Various constructs, such as proxies and layer-2 solutions, demand more control over the data, and as a result new functionality was introduced to widen the control for the users: `abi.encode`, `abi.encodePacked`, and `abi.decode`.

Impor

[2020-09-16 21:30] axic commented on #9829
As an extension we could consider supporting structs to be encoded directly, marked with the key `x`, and considering the following restriction: only value types are supported and dynamic types or arrays are not. The structs are encoded as they are laid out in memory (such as `struct A { uint8, uint16 }` would be encoded as two zero padded 32-byte fields). Furthermore could consider introducing th

[2020-09-17 01:47] jacktnho commented on #9817
not quite familiar with the inline assembly, any hope to have some more hints on that?
thanks.

[2020-09-17 04:00] gitpushOmnik commented on #9817
https://solidity.readthedocs.io/en/v0.6.2/assembly.html

[2020-09-17 07:24] mijovic opened #9831 "[Sol->Yul] Optimize number of calls to `sstore` when copying arrays to storage"
#9738 introduces per element copy of arrays to storage.

Types of size less than 17 bytes can fit multiple elements in one slot. We need to fix per element update to per slot update when copying to storage.

[2020-09-17 08:24] mijovic opened #9832 "Bug when resizing array in storage for types smaller than 17 bytes"
Consider following example:

[code]

Third assert fails, and it shouldn't fail as array should be cleaned when resized to smaller array.

[2020-09-17 08:49] axic commented on #9175
I think the site looks great!

There's one formatting  issue:
![Screenshot](https://user-images.githubusercontent.com/20340/93447990-fa9e9300-f8ca-11ea-9b2a-630e8247ff87.png)

I'd just go with github pages and call it a day. If it doesn't work out well we can think about moving it, but that's the easiest path for now.

[2020-09-17 09:48] #9473 closed, assigned to franzihei

[2020-09-17 10:15] franzihei commented on #9175
Moved code / the entire repo

from: https://github.com/franzihei/solidity-portal-initial-mvp
to: https://github.com/ethereum/solidity-portal

I *hope* this worked. 😇

Edit: I also added Sam (ethereum.org web dev team) to the repo, who might be able to help us with some web dev stuff if needed.

[2020-09-17 17:26] leonardoalt commented on #9829
Nice! I think it's a good idea, and it makes sense to reuse the [sort of] common format the other languages have.

[2020-09-17 17:52] axic commented on #9829
Thinking about this perhaps we should consider making the above compile-time fixed-size only. This means removing the `c0` key as that depends on the input.

If the expected length and the generated output length is known at compile time, then
- the compiler can insert a length-check statement and revert if out of bounds,
- it would help the SMT checker to at least argue about the input/output len

[2020-09-17 21:00] axic commented on #9829
As an alternate proposal (triggered by @ekpyron) we could consider is possible if we have #9170 (wasn't there an earlier issue for this? we discussed it as early as 2016).

The above examples in order would look like this:

[code]

---

[code]

Here we use `bswap` to perform endianness swap. It would be possible to consider `bytes8_le` or some other functionality in the type system to deal with th

[2020-09-17 21:03] ekpyron commented on #9829
This is also related: https://github.com/ethereum/solidity/issues/8772
That could e.g. replace the ``cN`` thing for ``N > 32``, etc.

[2020-09-17 21:03] axic commented on #9829
The original proposal was written a while back and initially looked to support more dynamic features. If we make it entirely static, it probably is possible to drop the formatting string and rely on the types only -- which basically means this is a proposal to clarify which types `abi.encodePacked` (and a potential `abi.decodePacked`) support, and how it encodes them.

[2020-09-18 08:48] bshastry opened #9840 "[Testing] Document behavior of free functions that implicitly "override" imported namesake free functions"
## Description

TBD.

[2020-09-18 08:56] chriseth commented on #9829
Would it be possible to use template syntax for the format specifier, so that we can do proper type checking? I.e.
``pack::<format>(v1,v2,v3)``

This would maybe require the format to be something else than a string, but maybe not.

[2020-09-18 11:52] cameel commented on #6349
Here's something related: tests on solc versions < 0.6.0 require boost < 1.71.0 to pass. That's because boost 1.71.0 fixed `boost::multiprecision` to respect `std::uppercase` when written to a stream as a hexadecimal number (https://github.com/boostorg/multiprecision/pull/130, https://github.com/boostorg/multiprecision/issues/129). Earlier boost versions were hard-coded to print hex numbers in upp

[2020-09-18 11:57] axic opened #9842 "More detailed libevmasm and libyul optimiser step descriptions in Standard JSON docs"
As [discussed on twitter](
https://twitter.com/alexberegszaszi/status/1306681715767865344) auditors are still afraid of the optimiser and currently we only have a [verify brief description hidden within standard json](https://solidity.readthedocs.io/en/v0.7.1/using-the-compiler.html#input-description):
![image](https://user-images.githubusercontent.com/20340/93594968-bedcf980-f9ae-11ea-8237-8cc548

[2020-09-18 11:57] axic commented on #4278
Related #5202.

[2020-09-18 11:57] axic commented on #5202
Related #4278.

[2020-09-18 12:59] ekpyron commented on #9842
The yul steps do have some documentation in  https://github.com/ethereum/solidity/blob/develop/libyul/optimiser/README.md linked from ~~https://github.com/ethereum/solidity/blob/develop/libyul/optimiser/README.md~~  https://solidity.readthedocs.io/en/v0.7.1/internals/optimiser.html (which in itself has some explanations of the libevmasm optimiser, but I haven't really read it and checked how good

[2020-09-18 13:38] axic commented on #9842
I'm solely talking about "the documentation" and not files in the repository 😉

[2020-09-18 13:46] ekpyron commented on #9842
I meant "linked from https://solidity.readthedocs.io/en/v0.7.1/internals/optimiser.html" ;-).

[2020-09-18 13:49] ekpyron commented on #9842
But yeah - might be good to overhaul that one and not merely link the readme in the repository (which I don't think we've been properly maintaining anyways), but rather to move all of that to "the proper" documentation as well. But it's a good starting point in any case.

[2020-09-18 17:24] cameel commented on #6349
As for solc 0.4.x, I needed boost older than 1.70.0 to build solc 0.4.0 on MacOS 10.15 (Github Actions) because of this error:
[code]
`i.data()` returns `u256` (i.e. a specialization of `boost::multiprecision`) and apparently it's convertible to `string` only in older boost versions. For me specifically boost 1.63.0 worked for this specific error (though I'm still getting other, unrelated errors).

[2020-09-18 18:47] axic commented on #8860
We discussed this countless times on gitter, but apparently no record of that here.

I would say this issue **should not** block any other issues in https://github.com/ethereum/solidity/projects/40, in particular #3851 and #6900.

For those issues to proceed I think it is fine just to use `ExternalProject` as we do with jsoncpp.

Independently later we could clean up dependency handling. My person

[2020-09-19 03:22] saurik commented on #8917
This isn't done yet, right? Like, as it stands, if I have a "bytes calldata" there isn't a way to figure out where in calldata it is from either Solidity or assembly?

[2020-09-20 20:18] CodeSandwich opened #9846 "Deleting a struct from the storage is not cheaper than zeroing its fields"
## Description

When removing from storage a structure, which doesn't fill a single 32 byte word, it's not cheaper to zero out its fields than to delete the whole thing, see "steps to reproduce". This doesn't make sense, because deleting should just store zeros while zeroing a single field requires reading before storing to preserve the content of the rest of the fields.

I've noticed it first whi

[2020-09-21 06:47] saurik commented on #6751
FWIW, I was shocked to learn that this check was happening at all, as it violated my expectation of how the EVM would operate; I'd argue it is potentially even more important to document it on high-level function calls than low-level function calls, as it is a non-trivial amount of gas that is just being thrown away.

[2020-09-21 09:35] chriseth commented on #9829
I prefer the more verbose way to do it (with the added benefit that it is mainly in "userland"). The abbreviations are just very hard to remember correctly. The downside is that the offsets have to be matched, and I wonder if there is some other mechanism to do it that looks more like:

[code]

One drawback I can see is that people could be tempted to use the unpacking functions directly in functi

[2020-09-21 09:45] chriseth commented on #9846
Thanks for opening this issue!

If the optimizer is activated, the compiler actually combines the two functions `deleteWhole` and `zeroBoth` into the following:
[code]

The differences in gas cost you see probably stem from the different paths of execution through the dispatch routine.

Note that for security reasons, the compiler does not assume that it can just "overwrite" the rest of the slot.

[2020-09-21 09:45] #9846 closed, assigned to nobody

[2020-09-21 09:57] chriseth commented on #6751
Clarified it here: https://github.com/ethereum/solidity/pull/9847

[2020-09-21 12:21] CodeSandwich commented on #9846
Aah, now with this constraint that behavior makes perfect sense! But that means that as a simple Solidity coder I'm paying 15K of gas for keeping `delete` a little hacky when it comes to releasing storage. It adds up quickly and as of 2020 mainnet that's real money. I'm not planning to use any hidden fields in my storage, is there a fast track to release it cheaply and reliably? One way that comes

[2020-09-21 12:27] wolflo opened #9850 "ICE - Assembly exception for bytecode"
## Description
This contract:

[code]

throws an internal compiler error:
[code]
## Environment

- Compiler version: ^0.5.4
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environment / backend / blockchain client: N/A

## Steps to Reproduce

The contract compiles successfully with any of the following changes:
- remove `pragma expe

[2020-09-21 13:34] bshastry opened #9851 "[TypeChecker] Disallow free function redefinition"
Please see #9841 for more context.

[2020-09-21 14:28] chriseth commented on #9846
I'm only seeing a difference of 700 gas - where do you get the 15k from?

[2020-09-21 14:31] CodeSandwich commented on #9846
`WeirdDeleteCostPartial.deleteWhole()` costs 21006 gas while `WeirdDeleteCostFull.deleteWhole` just 5194, it's almost 16K of difference.

[2020-09-21 15:00] chriseth commented on #9846
Did you activate the optimizer? I'm seeing 23078 / 1806 compared to 22266 / 994. Also please take the storage clearing refund into account - clearing storage that has been zero before has a different cost than clearing storage that was not zero before. The numbers here are with storage that was zero before, as in your example.

[2020-09-21 15:37] CodeSandwich commented on #9846
Yes, these are numbers with optimizer enabled.

Could you explain, in which cases you're getting 23078, 1806, 22266 and 994 gas costs?

[2020-09-22 10:16] hrkrshnn opened #9855 "Implement events for IR with function as a topic"
The contract (after https://github.com/ethereum/solidity/pull/9853)
[code]

when compiled with `--ir` gives the following error:

:82:21: Error: Function expects 4 arguments but got 5.
                    log2(_2, sub(_3, _2) , _1, expr_12_address, expr_12_functionSelector)

The following is the context:
[code]

[2020-09-22 11:10] bshastry opened #9856 "[Error reporting] Make declaration errors more precise when they span source units"
Consider

[code]

The declaration error should point to `g()` in `s1.sol` instead of `f()` in `s1.sol`

[2020-09-22 13:45] #9840 closed, assigned to bshastry

[2020-09-22 17:37] axic opened #9857 "Address with negative literals"
The following is accepted without warnings:
[code]

Is this intended? Even if it is, I think we should reject it -- and would consider this a bug, not a breaking change.

[2020-09-22 19:02] axic commented on #9857
What's worse is that codegen seems to generate `PUSH32` (and not `PUSH20`) for this:
[code]

(And the abi encoder (`tag_4:`) masks off the top bits.)

[2020-09-22 19:54] axic opened #9859 "Address with oversized literals"
[code]

The first line results in syntax error for missing checksum, the second has the valid checksum, and the last line is just accepted without any complaints. The generated code is identical to #9857.

I think we should disallow oversized literals with addresses, as it does not seem to provide any benefit. I'd argue this is a bug and not a breaking change, as it is not an intended behaviour.

[2020-09-22 20:35] axic opened #9860 "Integers with oversized literals"
It affects integers just like it affects address (#9859). The following compiles without warnings:
[code]

We have explicit type conversion to do truncation. I think the same should apply when we try to implicitly truncate literals -- it should not be allowed. Likewise with #9859, I think is a bug and not a breaking change.

[2020-09-22 20:39] axic opened #9861 "Stricter explicit conversions from literals"
This contract compiles without warnings:
[code]

While we understand this will generate two's complement representation (e.g. `0xffff` for the above), this may be going against the explicitness goal we have. This behaviour is implicit conversion.

An explicit version looks like this:
[code]

This is a similar discussion to #9857.

[2020-09-22 21:18] 0xAnonymous commented on #4990
I'm writing a contract that could benefit from this. I was calling the idea "default modifier" before I found this thread via your thread on modifier areas.

[2020-09-23 09:45] chriseth commented on #9861
I read this as an explicit conversion from a literal. Implicit conversion would be `return -1`.

[2020-09-23 09:46] leonardoalt commented on #9861
But the literal has no type, so the user has to infer what the semantics of the conversion are

[2020-09-23 09:47] chriseth commented on #9861
The literal does have a type. If everything is fine, no explicit conversion is needed. If you do an explicit conversion, it means the literal does not fit the type.

[2020-09-23 10:03] chriseth commented on #9824
I think it is kind of set that we want to be able to distinguish between `Panic` and `Error`. What if we use `Panic(uint)` to allow for potential error codes, but always use `0` as "unknown panic" for now and potentially introduce such a hierarchy in the future?

[2020-09-23 10:09] chriseth commented on #9846
The larger numbers are for the transaction itself (i.e. including the tx and data cost), the smaller numbers just for the execution.

[2020-09-23 11:02] hrkrshnn commented on #9861
I think it's a good idea to disallow this conversion. We have `type(X).min` and `type(X).max` which can serve as a replacement for wrapping of integers.

[2020-09-23 11:10] axic commented on #9861
@chriseth If this were proper *explicit casting*, that includes truncation, then it should allow `uint16(0xffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff01)` which is 264-bit wide literal.

[2020-09-23 11:41] rmeissner commented on #7455
This might become more interesting with https://ethereum-magicians.org/t/eip-2929-gas-cost-increases-for-state-access-opcodes/4558

[2020-09-23 11:46] axic opened #9866 "String literals should use hex representation if not ASCII in error messages"
[code]

The `hex"123456"` is displayed as "4V" which corresponds to `0x34 0x56`. The first character is not displayed as it is a control character.

`StringLiteralType::toString` should be changed to display hex string if there are non-ASCII characters in the literal. Perhaps we could also consider changing the "invalid UTF-8 literal" there to also just display as hex string, given the conversion

[2020-09-23 11:54] axic commented on #9861
To have more inconsistency we disallow truncating conversions with bytes:
[code]

[2020-09-23 12:01] chriseth commented on #6974
Related to https://github.com/ethereum/solidity/issues/9824

[2020-09-23 12:39] chriseth commented on #9824
The reason behind using `Panic(uint256)` with `0` for everything instead of `Panic()` for now is that people only need one catch statement for both cases - for the same reason we did not want to introduce different error kinds for ArithmeticError, FunctionDoesNotExistError and so on.

[2020-09-23 15:02] cameel commented on #9824
I think that it's dangerous to allow handling `Panic`s without providing specific error codes. If relying on built-in safe math for validation becomes a pattern then people will want to be able to catch these errors in some situations. But without error codes it's not possible to do so without silencing failed assertions at the same time.

For that reason maybe it would make more sense to just rec

[2020-09-23 15:05] chriseth commented on #7877
Made another writeup: https://hackmd.io/b0vr4MFrSkCLlBEacnds0Q

[2020-09-23 15:07] chriseth commented on #9813
Here is a new writeup that also contains some more context: https://hackmd.io/b0vr4MFrSkCLlBEacnds0Q

The advantage of typed errors is that you can properly catch them in `catch` statements and you can also have longer string explanations in NatSpec documentation that is exported via the ABI.

[2020-09-23 15:14] chriseth commented on #9824
You can switch from checked to wrapping arithmetic using the `unchecked` keyword. Even if you catch an error, it still means that the call reverted, you cannot "un-revert" it. it might also be that the error originated in a call further down the line. Just because there was an arithmetic error does not mean it was the one arithmetic error you thought about.

[2020-09-23 15:15] chriseth commented on #9824
Because of that, I think catching an error and especially reacting on it depending on the reason has a very limited use-case.

[2020-09-23 15:17] leonardoalt commented on #9043
Closed by https://github.com/ethereum/solidity/pull/9854

[2020-09-23 15:17] #9043 closed, assigned to nobody

[2020-09-23 15:38] cameel commented on #9824
But if I switch to `unchecked` then I won't be able to catch safe math errors. I'm thinking about the opposite situation because I think these errors are the ones people are most likely to consider non-fatal.

The use case for catching a `Panic` at all is very limited but we're still allowing it. In my opinion, if you want to catch it, you're likely to care which one it is and silencing the others

[2020-09-23 16:09] chriseth commented on #9824
I still don't properly understand the use-case, but I do want fine-grained error codes, just as a second step to make quicker progress on this.

[2020-09-23 16:33] cameel commented on #9824
We could add `Panic` as the first step and just not provide any mechanism to handle it until we have error codes. That way it's still cheap (not using `INVALID`) but people are not encouraged to silence all panics indiscriminately at Solidity level. They can only do it outside of the transaction.

But I don't have a specific use case so it might well be that this is not relevant in practical use.

[2020-09-23 17:22] #9769 closed, assigned to nobody

[2020-09-23 17:45] axic commented on #9351
Trying to compile https://github.com/solidity-external-tests/safe-contracts/tree/development_070 results in a new failure:
[code]

If I comment out this line, it compiles, but the resulting Yul is still not compilable with or without the optimizer:
[code]

[2020-09-23 18:21] jamesdawsonWD opened #9874 "No compilation error present when attempting to create a 4 dimensional struct array"
## Description

I recieved the following bug today:

[code]

I narrowed  down the issue to the following line:

[code]

I am not sure if nested arrays can work with structs in this way or if this is valid code at all, but it definitely should have a compilation error message if someone else tries what I have done. Save them an hour or two :)

## Environment

- Compiler version: 0.6.12
- Target EVM

[2020-09-23 18:48] lidiia-eld opened #9875 "TypeError: "send" and "transfer" are only available for objects of type "address payable", not "address". admin.transfer(address(this).balance); in function endSale"
**Hi, everyone!**
Please, advice me.
How to fix this error in 'function endSale', when compile smart contract on remix.ethereum.org?

TypeError: "send" and "transfer" are only available for objects of type "address payable", not "address". admin.transfer(address(this).balance);
^------------^

This TypeError has appeared when I have changed old pragma solidity Version 0.4.21 to new pragma solidity

[2020-09-23 20:11] cameel commented on #9874
Could you try to create a minimal failing example (.sol file) that has this problem? I tried to reproduce your error with just the snippets you posted but it compiles just fine both on 0.6.2 and on 0.7.1 for me.

If you try to compile the contract directly with `solc`, you should get more details - at least the file name and line number pointing at the place in `solc` source where it failed. In an

[2020-09-23 20:20] leonardoalt opened #9876 "[SMTChecker] User timeout option"
Currently the SMTChecker uses a resource limit per SMT query. `rlimit` was chosen instead of the usual timeout to improve reproducibility in the SMTChecker tests. However, that's not very helpful for users.

We should allow a user configurable timeout for SMT queries.

[2020-09-24 03:52] cakesoft-omkar commented on #9875
Basically, there are two types : address v/s address payable

An address payable can receive ether while address cannot. In a nutshell, we can transfer ether to variable defined as address payable while the variable declared as address cannot receive ether.

To make an address payable, you can use the keyword payable before the variable name of an address type to enable it to receive ether.

Hope

[2020-09-24 03:54] gitpushOmnik commented on #9875
Basically, there are two types : `address` v/s `address payable`

An `address payable` can receive ether while `address` cannot. In a nutshell, we can transfer ether to variable defined as `address payable` while the variable declared as `address` cannot receive ether.

To make an address payable, you can use the keyword `payable` before the variable name of an address type to enable it to receive

[2020-09-24 08:43] chriseth commented on #9875
To fix it, you can use `msg.sender.transfer(address(this).balance);`

[2020-09-24 08:43] #9875 closed, assigned to nobody

[2020-09-24 09:06] bshastry opened #9878 "Make error message thrown for shadowed free function alias/function more descriptive"
Consider the following multi source isoltest test case (see https://github.com/ethereum/solidity/pull/9852#discussion_r494154820 for original context)

[code]

The declaration error's source location does not point to the source of the problem i.e., the import alias in `s2.sol` `{f as g}`. This issue tracks support for improving the error message accordingly.

[2020-09-24 09:14] chriseth commented on #9856
link is dead

[2020-09-24 10:49] #9866 closed, assigned to axic

[2020-09-24 11:02] gitpushOmnik opened #9879 "ICE in function void (anonymous namespace)::StackHeightChecker::check()"
## Description

ICE in

    contract Print {
        function p1(uint x,string calldata sampletxt) public {
        }
        function p2() public {
            p1(1, "Sample");
        }
    }

## Environment

- Compiler version:Latest
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execution environment / backend / blockchain client:
- Operat

[2020-09-24 11:24] chriseth commented on #9879
Thanks for reporting! This has already been fixed in latest develop. The fix will probably be released next week.

[2020-09-24 11:24] #9879 closed, assigned to nobody

[2020-09-24 13:10] leonardoalt commented on #6052
Closing because of the last comment.

[2020-09-24 13:10] #6052 closed, assigned to nobody

[2020-09-24 14:25] chamitro opened #9884 "InternalCompilerError: Array too large for storage."
Hello all. I am working on a research project where we employ different fuzzing techniques to test the Solidity compiler. It would be a good idea to open an issue for every crash / bug we identify and you can provide us with corresponding feedback.

## Description

The contract below :

contract C {
    uint[7**90][500] ids;
}

reports an internal compiler error :

Error: Array too large for stora

[2020-09-24 14:32] chriseth commented on #9884
Thanks for opening this issue! @bshastry you might want to take a look.

The issue looks like something we are currently working on - @a3d4 can you confirm that your pull request fixes this?

[2020-09-24 14:41] cameel commented on #9884
This seems to have already been fixed somewhere between 0.6.10 and 0.6.12.

On 0.6.9 I get
[code]

But on 0.6.12 and 0.7.1 it's already a compiler error:
[code]

[2020-09-24 14:48] chriseth commented on #9884
Oh you are right, @cameel ! Why aren't you fuzzing the develop branch, @CHM1993 ?

[2020-09-24 14:49] chriseth commented on #9884
Closing as the issue itself is fixed, but we can still continue the discussion.

[2020-09-24 14:49] #9884 closed, assigned to nobody

[2020-09-24 14:50] chamitro commented on #9884
Yeah now we will fuzz 0.7.1. Thanks for the feedback.

[2020-09-24 15:10] chamitro commented on #9884
I will report every bug/crash I will find. Thanks again!

[2020-09-24 16:20] chamitro commented on #9884
In our current research we test solc compiler with AFL and Grammar Based
Mutation Fuzzing based in Solidity grammar. I think that it is a good idea
to open an issue for every crash and give us a feedback if it is a real
compiler bug/crash or not. I will inform you for every bug I will find

On Thu, Sep 24, 2020, 5:49 PM chriseth <notifications@github.com> wrote:

[2020-09-24 16:26] axic commented on #3044
We agreed to `.code` (and `.code.length`), but there seems to be no clarity on hash. Is it `.hash` or `.codeHash` or `.codehash`? Or adding yet another hack of translating `keccak256(...code)` in the codegen? I would rather not.

[2020-09-24 17:37] #8556 closed, assigned to chriseth

[2020-09-24 17:38] chriseth commented on #9884
Great, thanks!

[2020-09-24 18:22] axic commented on #3044
Actually a good point against this is the push for code merkleization (i.e. [EIP-2926](https://eips.ethereum.org/EIPS/eip-2926)) which would change the way the codehash is calculated.

[2020-09-24 18:53] lidiia-eld commented on #9875
**Hi. Thank you so much!**
Your solution has fixed my problem with TypeError in smart contract.

[2020-09-24 23:51] haltman-at opened #9889 "Yul types don't work / documentation is inconsistent"
## Description

The Yul documentation states that Yul variable declarations and literals can be annotated with types.  Of course, it also states that currently the only type in the EVM dialect is `u256`, making this not very useful, but still, it's documented as being possible.  Despite this, attempting to do this currently, even with the one type that is supposedly available -- `u256` -- yields a

[2020-09-25 08:45] bshastry commented on #9856
Sorry, this is a duplicate of #9878 . Not sure why I opened two issues for it.

[2020-09-25 08:45] #9856 closed, assigned to nobody

[2020-09-25 08:49] bshastry commented on #9884
Thank you @CHM1993 . Is your fuzzing framework public? Are you planning to make use of afl++ grammar mutator (https://github.com/AFLplusplus/Grammar-Mutator) by any chance?

[2020-09-25 08:59] bshastry opened #9890 "[libsolutil] ICE because "Attempt to access the value of a SetOnce that does not have a value.""
[code]

throws

https://github.com/ethereum/solidity/blob/5711d664aaab46b722d49093f96f1b958ad47ecb/libsolutil/SetOnce.h#L69-L73

[code]

[2020-09-25 09:03] cameel commented on #9890
This is likely related to the recent #9839 (pinging @Marenz).

Also, this does not crash the compiler on 0.7.1 and produces an error instead:
[code]

[2020-09-25 09:09] chamitro commented on #9884
We will publish our work. Based in Superion paper [1], which extend AFL
with grammar based mutations and trimming, we fuzz solc compilers with
mutations based in contracts AST's. I will take a look in afl++ grammar
mutation.

thanks a lot.

[1] : https://arxiv.org/pdf/1812.01197.pdf

On Fri, Sep 25, 2020 at 11:49 AM Bhargava Shastry <notifications@github.com>
wrote:

[2020-09-25 09:12] chamitro commented on #9884
Also I want to ask you about compiler hangs. There seems to be some of them
across the version, that make a contract to take some time to be compiled.
Is there any way to compare the compilation time with other compilers?

Thank you for  your time!

On Fri, Sep 25, 2020 at 12:08 PM Charalambos Mitropoulos <
charalambos.mitropoulos@gmail.com> wrote:

[2020-09-25 09:23] jjhesk commented on #9504
@chriseth where can i download the working binary to the system?
I have encountered the error during build compile.
Using mac 11. beta
Xcode 12

[ 35%] Building CXX object libyul/CMakeFiles/yul.dir/optimiser/NameCollector.cpp.o
/Users/hesdx/install/solidity/libyul/optimiser/NameCollector.cpp:38:18: error: loop variable 'arg' of type
      'const yul::TypedName' creates a copy from type 'const yul:

[2020-09-25 09:32] #7663 closed, assigned to nobody

[2020-09-25 09:59] cameel commented on #9504
@jjhesk The errors you posted right now look like harmless warnings so you could just tell the compiler to ignore them. The project is configured to treat all warnings as errors by default because we don't want them to be ignored in development but you can do just that for your personal build by removing the `add_compile_options(-Werror)` line from `cmake/EthCompilerSettings.cmake`. You can do it

[2020-09-25 10:19] KimiWu123 opened #9893 "Encoding type "struct Decimal.decimal memory" not yet implemented"
## Description
 I call `latestRoundData` from Chainlink aggregator and then covert the price to our own defined struct `Decimal` and it shows `Encoding type "struct Decimal.decimal memory" not yet implemented` error. as the following snippet,

[code]

If I add a dummy function with `Decimal.decimal` argument as the following
[code]
and then everything goes well. Do you have any ideas? Thanks.

##

[2020-09-25 10:37] bshastry commented on #9744
The fuzzer found a smaller test case

[code]

[2020-09-25 10:53] bshastry commented on #9884
I'm not sure I understand your setup and I'm afraid any answer I give may have limited utility :(

[2020-09-25 14:31] cameel commented on #9893
I can't tell for sure without seeing the rest of your code but I think you're calling a function from a file that uses ABIEncoderV2 while your file is not using it. Try adding `pragma experimental ABIEncoderV2;` at the beginning of your file.

Your error is the same as #5659 and the cause is probably the same as in #8379. If that's the case then your code should not compile anyway but the compiler

[2020-09-25 16:00] #6050 closed, assigned to nobody

[2020-09-25 16:25] Doryanni opened #9896 "Incorrect source mappings of inline statements"
## Description

The compiler generates some source maps of inline statements that have no match with nodes of the AST output.

## Environment

- Compiler version: 0.4.24
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): None
- Operating system: Ubuntu 18

## Steps to Reproduce

An example is the [Fomo3D contract](https://etherscan.io/address/0xa62142

[2020-09-25 16:27] chriseth commented on #9896
Thanks for reporting! Since 0.4.24 is really old, there is a good chance that this has been fixed in the meantime. Do you have example code that is a bit shorter and can be easily translated to 0.7.x?

[2020-09-25 16:32] Doryanni commented on #9896
Sorry, no I don't. This is just a random test I stumbled upon whilst working on a project of mine.

[2020-09-25 17:07] leonardoalt opened #9899 "[SMTChecker] Engine choice option"
We should have an option `fvengine` or something like that, where the options are `bmc`, `chc`, `all`, `none`, to allow the user to run a single engine if they wish.

[2020-09-25 22:18] agroce opened #9901 "[SMTChecker] ICE in void solidity::frontend::SMTEncoder::assignment(const solidity::frontend::Expression &, const smtutil::Expression &, const solidity::frontend::TypePointer &)"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.7.2-develop.2020.9.25+commit.b34465c5.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environmen

[2020-09-26 01:14] bnawingler opened #9902 "False positive"
## Abstract

## Motivation

## Specification

## Backwards Compatibility

[2020-09-26 01:48] KimiWu123 commented on #9893
Thanks for your reply. I do have `pragma experimental ABIEncoderV2;` at the beginning of the file, but I just realized that the derived contract doesn't have it, just like #8379. The compiler doesn't crash (I guess), but the message is not clear enough. Thanks!

[2020-09-26 01:53] KimiWu123 commented on #9893
Thanks for your reply. I do have `pragma experimental ABIEncoderV2;` at the beginning of the file, but I just realized that the derived contract doesn't have it, just like #8379.  Thanks!

[2020-09-26 05:01] gitpushOmnik commented on #9901
I think this is a duplicate of #9743

[2020-09-26 09:57] #9902 closed, assigned to nobody

[2020-09-26 10:00] axic commented on #9379
This is reported to me as
[code]

[2020-09-26 10:02] axic commented on #9380
That would require statically linking evmone, which should not be a big deal given it is rather tiny.

[2020-09-26 10:04] axic commented on #9287
There is a similar case when an external address is cast to a contract/interface type, like `ERC20 token = ERC20(0x2...)`.

I think the nicest would be as @ekpyron says, any contract assignment is untrusted (and should report a warning) unless it is a `new` in the same contract,

[2020-09-26 10:06] leonardoalt commented on #9379
Yes, because there's a guard that only value types are reported. What I wrote is what would be shown without that `if`.

[2020-09-26 10:06] leonardoalt commented on #9287
I agree.

[2020-09-26 10:20] leonardoalt commented on #8669
@axic what exactly is this issue referring to?
The constants/checks from the initial example are now supported. What is not supported:
[code]
The SMTChecker does not apply constant propagation and `y` will not be seen as a constant, but I'm not sure we can/should actually do that.

[2020-09-26 10:24] leonardoalt commented on #8669
On the other hand, having some support to constant propagation on the `smtutil::Expression` level wouldn't be too hard.

[2020-09-26 10:26] axic commented on #4991
#2918 could replace this for number types at least.

[2020-09-26 12:24] agroce commented on #9901
@cakesoft-omkar yes -- I didn't catch since the actual ICE doesn't appear in the bug report to enable searching.

[2020-09-26 20:10] cameel commented on #9893
Great! In that case I'm closing this as a duplicate of #8379.

[2020-09-26 20:10] #9893 closed, assigned to nobody

[2020-09-26 21:15] cameel commented on #2681
Looks like the issue has been finally solved for `.sol` extension in #4936.

https://twitter.com/NomicLabs/status/1303010441954762754

[2020-09-26 21:16] cameel commented on #8676
Is this issue still relevant now that the full support for highlighting `.sol` files has been added (see https://github.com/ethereum/solidity/issues/2681#issuecomment-699548802)?

[2020-09-26 23:11] cameel commented on #6354
Seems to have moved to https://github.com/dexon-foundation/ace-mode-dsolidity (or https://github.com/raphaelhuefner/ace-mode-solidity). Also, looks abandoned (no new commits since 2018).

[2020-09-27 13:05] axic commented on #6354
ace-mode is syntax highlighting tool, so I'd say they just made the repo private or deleted it.

[2020-09-27 13:07] axic commented on #8676
I think it is useful to have a single line, because `.gitattributes` can be used out of github. The issue has been "solved" for github, which can also be mentioned.

[2020-09-27 13:59] cameel commented on #6354
Ah, sorry. I should have taken a better look at it before posting :)

Anyway, the repo is gone and the only trace is a stub in their docs: https://dexon-foundation.github.io/wiki/dsolidity.html. All public activity in organization's 42 repositories seems to have stopped a year ago. The [last activity on their gitter channel from nov 2019 is people saying it's dead](https://gitter.im/dexon-foundati

[2020-09-27 21:31] cameel commented on #9583
Of course there was :) #7813.
I'm closing it in favor of this one here. As short as its description is, it's still more detailed than in the old one :)

[2020-09-27 21:31] cameel commented on #7813
Closing in favor of #9583.

[2020-09-27 21:31] #7813 closed, assigned to nobody

[2020-09-28 08:37] codingthat commented on #2681
Thanks for the heads up, @cameel ... looks great in repos!  Still doesn't work in gists like https://gist.github.com/codingthat/4286f86fe946a49829b3897499defc1e though, unless there's something extra that needs doing there?  (The main thing I was looking for was the ability to embed the code, with highlighting, in an external site.)

[2020-09-28 08:56] cameel commented on #2681
@codingthat I think it only works for `.sol` extension.

But `.solidity` was just a workaround for `.sol` being too ambiguous to be properly supported, right? Now github's detection can deal with it. This issue was opened in 2017 so the question is: how widespread is `.solidity` in practice. Should we keep pushing for wider support for it or is it obsolete now?

[2020-09-28 09:15] #9851 closed, assigned to bshastry

[2020-09-28 09:18] chriseth commented on #2681
This issue is certainly obsolete. Changing the extension now is probably not possible since the community has adopted `.sol` a long time ago.

[2020-09-28 09:18] #2681 closed, assigned to nobody

[2020-09-28 09:25] cameel commented on #6349
I'm pretty sure that the problem to investigate here (not being able to build 0.4.x with boost 1.69.0 and having to downgrade it to 1.60.0) is what I described in my comment above.
- boost 1.70.0 fails due to the problem with `multiprecision` described above.
- boost 1.65.0 works with all solidity versions between 0.3.6 and 0.6.8. Most likely with newer too.
- For many solidity versions boost 1.63

[2020-09-28 09:25] axic opened #9907 "Improve documentation about "stack too deep""
See https://soliditydeveloper.com/stacktoodeep for inspiration.

[2020-09-28 09:30] leonardoalt opened #9908 "[SMTChecker] Mathematical and Cryptographic Functions"
- [x] addmod https://github.com/ethereum/solidity/pull/9910
- [x] mulmod https://github.com/ethereum/solidity/pull/9910
- [x] keccak256 https://github.com/ethereum/solidity/pull/10025
- [x] sha256 https://github.com/ethereum/solidity/pull/10025
- [x] ripemd160 https://github.com/ethereum/solidity/pull/10025
- [x] ecrecover https://github.com/ethereum/solidity/pull/10025

[2020-09-28 10:13] axic commented on #6349
I don't think it is important if we can point users to macos builds.

[2020-09-28 10:13] Marenz commented on #9890
Thank you for the ping @cameel

[2020-09-28 10:26] cameel commented on #6349
OK. I'm closing it in that case. I think the info above should be sufficient if someone wants to revisit it.

[2020-09-28 10:26] #6349 closed, assigned to cameel

[2020-09-28 10:27] #9890 closed, assigned to Marenz

[2020-09-28 10:54] cameel commented on #9226
Good news. I managed to rebuild all solc versions down to 0.3.6 on MacOS. For now they're available in my fork of `solc-bin`: https://github.com/cameel/solc-bin/tree/macosx-static-binaries/macosx-amd64 (https://github.com/ethereum/solc-bin/pull/54). Please try them out and let me know if you notice any issues (especially with the older ones).

The script for building them is currently being review

[2020-09-28 10:57] cameel commented on #9226
Also, another piece of news related to the binaries:

We recently updated our CI to produce completely static Windows builds (#9811) so packing them in a .zip is no longer necessary. In one of the upcoming releases we're going to start putting uncompressed .exe files in `solc-bin`.

[2020-09-28 10:59] cameel commented on #9258
@fzeoli See https://github.com/ethereum/solidity/issues/9226#issuecomment-699933508. I finished preparing the MacOS builds and they're currently going through review.

[2020-09-28 11:07] Alhadis commented on #2681
☝️ This. Also, to clarify a point of confusion — language stats are cached on GitHub, so repositories that haven't been updated recently will still show stats computed when the last change was pushed. Making a small edit to a file is enough to purge the cache of stale data and recompute usage statistics.

*\*drops the mic\** 🎤

[2020-09-28 14:10] cameel commented on #4044
Is it just not implemented yet or are there some specific problems with running it on MacOS?

[2020-09-28 14:37] leonardoalt commented on #8669
I think this would require too much redundant work in the SMTChecker and we shouldn't do it. Solidity should have constant propagation instead.

[2020-09-28 16:16] alcuadrado commented on #9226
Awesome news, @cameel ! Thanks

[2020-09-28 18:49] mudgen commented on #9735
@cameel How you describe `this` in libraries is how I use it and I find it useful the way it is.

There is a consistency in the language that is good.  Having `this` available everywhere and making it work the same way everywhere makes the language easy to understand and use.   I've never had a problem with `this` being available. Solving problems that exist in theory but not in practice may creat

[2020-09-28 19:37] jcaracciolo commented on #9226
Great news! Will definitely improve and accelerate tooling development

[2020-09-28 20:37] leonardoalt commented on #9735
What exactly are you referring to here? `this` isn't even accepted in free functions at the moment, so how is it "removing currently useful functionality"?

[2020-09-28 20:54] mudgen commented on #9735
@leonardoalt Free functions are a replacement for Solidity libraries in some cases.  Solidity libraries support `this`.

[2020-09-28 21:04] mudgen commented on #9735
Here is something else:

Sometimes I will write code in a function within a contract.   Later I decide to move that code to a library or free function.  If I can move that code to a free function directly and with no or little change, that is good. It makes it easy to use free functions.   If I have to refactor my code to make it work in a free function because free functions don't support `this`

[2020-09-28 21:11] leonardoalt commented on #9735
Not everything should be moved to free functions. Probably very little should. Sometimes it might make sense, sometimes it makes zero sense. It's easy to claim "free functions need `this`!!!" by saying that not every function is trivially movable to free.

[2020-09-28 21:15] mudgen commented on #9735
@leonardoalt I think it is good to consider these various things like you are doing.  Thank you.

[2020-09-28 22:31] cameel commented on #9735
@mudgen Honestly, this is mostly a matter of opinion at this point :) On a purely technical level a limited version of `this` like in libraries is possible. If that's enough for you and you feel very strongly about it, then I think that adding it is not out of the question. But right now the sentiment is slightly against it so you'd just need to somehow show in a compelling way that it's better th

[2020-09-28 22:50] mudgen commented on #9735
@cameel Makes sense. Thanks for your consideration.  I am interested in what you guys come up with to make free functions more useful, safe and convenient.

I'm pretty happy with how internal functions work in Solidity libraries.  How do they come up short?

[2020-09-29 13:12] chriseth opened #9923 "Add optimizer rule iszero(eq(x, 0)) -> gt(x, 0)"
This rule has to be added to RuleList.h

[2020-09-29 14:12] cameel commented on #9226
The PR has been merged. MacOS binaries are now available at https://solc-bin.ethereum.org

[2020-09-29 16:38] alcuadrado commented on #8379
I got to this issue helping one or our users debug an ICE, and that was the reason. I think this is pretty common, and really really hard to debug.

A compilation error explaining that importing a file that uses ABIEncoderV2 from one that doesn't is forbidden would be ideal.

[2020-09-29 16:42] alcuadrado opened #9926 "ICE's formattedMessage field is truncated"
## Description

When the compiler emits an ICE in the standard json output, the ICE's `formattedMessage` field is truncated. For example:

[code]

I believe it should be something like: `"InternalCompilerError: (/solidity/libsolidity/codegen/CompilerUtils.cpp:1440)"`.

While the proposed version is not very human friendly, it would make googling for errors much much easier.

## Environment

- Comp

[2020-09-29 18:25] cameel commented on #8379
@alcuadrado I completely agree. #9835 does exactly what you suggest. The fix itself is simple but there's a small complication that needs to be resolved first. There's one case that did compile fine before (even though it shouldn't have) and now results in a compilation error. It happens when you have a modifier defined in an ABIv1 context but only ever use it in context where ABIEncoderV2 is enab

[2020-09-29 18:29] cameel commented on #8379
For reference, here's an ABI encoder sandwich, based on Colony code, that reproduces the problem with the modifier:

`IColonyNetwork.sol`
[code]

`ColonyStorage.sol`
[code]

`Colony.sol`
[code]

If you compile it, it does not fail with Internal Compiler Error.

[2020-09-29 18:53] hrkrshnn commented on #9923
There is a rule that converts `eq(X, 0)` to `iszero(X)` (in `simplificationRuleListPart2`)

So the expression gets first converted into `iszero(iszero(X))`. I think we can write a rule that converts `iszero(iszero(X))` into `gt(x, 0)` (after verifying it.)

[2020-09-29 20:14] alcuadrado commented on #9226
Thanks @cameel! We are already integrating this into Buidler 🥳

[2020-09-29 21:52] fzeoli commented on #9226
This is amazing news

On Tue, Sep 29, 2020 at 5:15 PM Patricio Palladino <notifications@github.com>
wrote:

--
Franco Zeoli
CEO
@zfran <https://twitter.com/zfran> | @NomicLabs
<https://twitter.com/nomiclabs>

[2020-09-30 09:11] hrkrshnn commented on #9923
I'm not sure if converting `iszero(iszero(X))` to `gt(x, 0)` make sense, gas wise. The former needs one `push`, two `iszero`. The latter needs two `push` and one `gt`. So they cost the same gas.

[2020-09-30 09:48] chriseth commented on #9923
yes, probably it is cheaper to remove the constant and keep it at `iszero(iszero(x))`

[2020-09-30 10:30] cameel opened #9930 "PR check for comparing release binaries added to solc-bin with those in github releases"
Extracted from #9258.

We want the release binaries added to `solc-bin` to be identical with those on github release page. Since the process of adding them to `solc-bin` is manual right now, we should really have an automated check for that, running on all `solc-bin` PRs.

The easiest way to do so is to just download the binaries from github release page and compare. I already have a script for ge

[2020-09-30 10:40] cameel opened #9931 "Migrate bytecode comparison from Travis to CircleCI"
Related to #9258. Would also probably solve #4044.

Right now the bytecode comparison script runs on TravisCI (https://github.com/ethereum/solidity/blob/v0.7.2/.travis.yml#L208). We want to move away from Travis and move it to CircleCI.

When we move everything off Travis we'll be able to take away its write permissions to `solidity` repo/releases.

[2020-09-30 11:46] cameel opened #9932 "Move release binary builds off Travis"
Related to #9258.

Our release binaries for MacOS and Windows come from CircleCI now (#9811). The rests is still built on Travis. Together with #9931 this task is a part of the initiative to reduce the number of CI systems that we rely on and that need elevated access privileges to the solidity repo.

The builds should be moved either to CircleCI or Github actions.

[2020-09-30 11:56] cameel opened #9933 "Automate publishing of release binaries"
Extracted from #9258. Best implemented after we're done with #9932.

Currently release binaries are built on Travis and CircleCI and then manually uploaded to github release page and `solc-bin`. We probably don't want to automate it all the way through - we need a human in the loop to be able to verify that everything is ok and possibly intervene - but parts of this process could still be streamli

[2020-09-30 12:04] cameel opened #9934 "Static page listing binaries available at solc-bin.ethereum.org"
Part of #9258.

Currently the main page at solc-bin.ethereum.org just serves a raw, unformatted Markdown file. We'd like to have a simple, static HTML page listing all the binaries available in solc-bin.ethereum.org instead. The information should come from the `list.json` files.

The page should list all the details but for readability they should be folded by default. The page should still work

[2020-09-30 12:07] chriseth commented on #9594
@cameel is this done?

[2020-09-30 12:10] chriseth commented on #5819
@a3d4 is this still in progress or can it be closed?

[2020-09-30 12:11] #7569 closed, assigned to hrkrshnn

[2020-09-30 12:11] #9855 closed, assigned to hrkrshnn

[2020-09-30 12:14] #5819 closed, assigned to a3d4

[2020-09-30 12:14] cameel opened #9935 "Add IPFS links to release binaries in solc-bin"
Part of #9258.

[2020-09-30 12:44] chamitro opened #9936 "FixedPointType not implemented."
Hi again,
I want to report a bug found in solidity 0.7.1 and 0.7.2 compiler :

## Description

The contract below :

contract C {
    function f() public returns (ufixed id) {
        assembly {
            id := chainid()
        }
    }
}

reports an internal compiler error :

FixedPointType not implemented.

## Environment

- Compiler version: 0.7.1+ and 0.7.2+
- Target EVM version (as per comp

[2020-09-30 12:53] hrkrshnn commented on #9923
I'm closing this since the current simplification, i.e., `iszero(iszero(x))` is good enough

[2020-09-30 12:53] #9923 closed, assigned to hrkrshnn

[2020-09-30 13:15] cameel commented on #9932
Notes from the call today:
- Builds for all platforms are already available on CircleCI so we definitely want to move there, no matter whether it's just an intermediate step before Github actions or the final destination.
- Switching to getting the emscripten builds from CircleCI requires no additional work (maybe apart from updating the release checklist).
- Linux binaries on CircleCI are current

[2020-09-30 13:25] cameel commented on #9931
Notes from the call today:
- Bytecode comparisons are not a part of the release process so they do not introduce a delay there, unlike the binary builds (#9932).
- The biggest issue with having it in Travis is that we can only do the check after the merge to `develop`.
- Apart from just moving it, we also want to change the way it works:
    - The generated bytecode should be an artifact in Circle

[2020-09-30 13:33] cameel commented on #9934
Description updated with details from today's call.

[2020-09-30 13:36] cameel commented on #9594
Yeah, I think that @ekpyron's #9811 covers that.

[2020-09-30 13:36] #9594 closed, assigned to nobody

[2020-09-30 13:49] cameel commented on #9935
Hosting part is already done thanks to @ligi. We just need to add IPFS hashes to `list.json`. Title updated to reflect that.

[2020-09-30 13:53] cameel commented on #9226
I think we're done here so I'm closing the issue. There are a few minor things related to the release process covered by #9258 (see https://github.com/ethereum/solidity/issues/9258#issuecomment-663174907) but I think that the core issue is solved.

[2020-09-30 13:53] #9226 closed, assigned to cameel

[2020-09-30 13:55] cameel commented on #9930
We discussed it on the call today. We decided that the check itself does not make much sense since the binaries on github release page can actually be changed at any time. We might still want to go back to the idea of the script for getting the binaries though.

We're going to wait until @ekpyron is back to discuss it.

[2020-09-30 15:35] leonardoalt opened #9939 "Typecast shouldn't allow width and signedness at the same time"
`uint16 x = uint16(int8(-1));`
The value of `x` depends on whether sign or width conversion is applied first, which is confusing.
I'd propose to disallow conversion when both size and sign are different.
In this case the user would be forced to choose and make explicit which comes first:
sign `uint16 x = uint16(uint8(int8(-1)));`
size `uint16 x = uint16(int16(int8(-1)));`

chriseth: As an extensio

[2020-09-30 16:07] #8739 closed, assigned to nobody

[2020-09-30 17:51] chriseth commented on #4044
Just not implemented.

[2020-09-30 18:24] #7410 closed, assigned to a3d4

[2020-09-30 18:37] chriseth commented on #9939
Sounds good!

[2020-09-30 20:07] haltman-at commented on #7877
This is an interesting proposal!  I have a few questions on reading this:

1. Will errors be able to be free-standing, or will they require to be defined in contracts?  (Also I'm assuming they'll be heritable?)  If they're free-standing it's harder to say what ABI they should go in.  OTOH, unlike events, errors are *necessarily* an anything-can-come-from-anywhere scenario, so maybe there's nothing

[2020-09-30 21:02] chriseth commented on #7877
They can be defined both in contracts and on the file level. The plan is, as with events, to include in the ABI all errors that can possibly be thrown by the contract, regardless of where they are defined.

I did not plan to change this, so still no error message. This also means that no error message is a "regular" error, not a panic.

That's not clear yet. It might be better to just always put t

[2020-10-01 04:12] haltman-at commented on #7877
Hm, *is* that the plan for events, or is the plan for events to have a separate `effectiveABI` or whatever...?

[2020-10-01 08:34] nebojsa94 opened #9940 "Incorrect file index in source maps"
https://ropsten.etherscan.io/address/0x2c53dd4d14eeb06756c27052675c9da8704ec636#code

In the Deployed ByteCode Sourcemap section, there is a `7:139:1:-` instruction, but there is only one source file.
I was also able to reproduce this issue in the local environment.

[2020-10-01 08:55] hrkrshnn commented on #6015
@axic Do you have a branch implementing this?

[2020-10-01 09:45] chriseth commented on #9940
This might be the internal utility file that is generated by the compiler: https://solidity.readthedocs.io/en/develop/using-the-compiler.html You can obtain it under the key `generatedSources`. Some more details: https://solidity.ethereum.org/2020/09/28/solidity-0.7.2-release-announcement/

I'm closing this issue - please feel free to re-open if you think this assessment is wrong.

[2020-10-01 09:45] #9940 closed, assigned to nobody

[2020-10-01 09:50] chriseth commented on #9940
I just realized that we only explained this new feature in the "using the compiler" section but not in the "source mappings" section. Here is a PR to fix it: https://github.com/ethereum/solidity/pull/9941

[2020-10-01 11:42] cameel commented on #8965
@aarlt This looks like the task you're working on right now so I'm adding you as "assigned" and moving to "in progress".

[2020-10-01 12:45] #9935 closed, assigned to chriseth

[2020-10-01 14:51] #9790 closed, assigned to nobody

[2020-10-01 14:56] chriseth commented on #9482
I actually don't think anymore that this is a bug. Please feel free to re-open.

[2020-10-01 14:56] #9482 closed, assigned to nobody

[2020-10-02 08:15] banescusebi commented on #9824
Got and email from Franziska Heintel about this topic. Replying here, as she requested.

Yes and yes. Awesome that this is being implemented.

This sounds good to me. As someone else mentioned on the email thread: it would be more convenient to also have a string description of what the error code means. Like you said 0 means "unknown panic". However, I'm assuming these codes will be clearly docum

[2020-10-02 09:28] chamitro opened #9944 "FixedPointType not implemented Another Contract"
Hi again,
I want to report a bug found in solidity 0.7.1 and 0.7.2 compiler :
## Description

The contract below :

[code]

reports an internal compiler error :

FixedPointType not implemented.
## Environment

    Compiler version: 0.7.1+ and 0.7.2+
    Target EVM version (as per compiler settings): 0.7.1+commit.f4a555be and 0.7.2+commit.51b20bc0
    Framework/IDE (e.g. Truffle or Remix): Remix (i

[2020-10-02 09:51] hrkrshnn commented on #9944
Can you ignore fuzzing bugs that produce "FixedPointType not implemented"? This ICE is fine. So I'm closing.

[2020-10-02 09:51] #9944 closed, assigned to nobody

[2020-10-02 09:51] franzihei commented on #9175
Thanks @chriseth for your work on the solidity compiler! Is it possible to also add different example contracts so that people can play with it a bit or do you think that doesn't make sense at the moment?

[2020-10-02 09:51] hrkrshnn commented on #9936
The same as in https://github.com/ethereum/solidity/issues/9944. Closing.

[2020-10-02 09:51] #9936 closed, assigned to nobody

[2020-10-02 09:54] hrkrshnn commented on #9944
Also, please ignore ICE about stack too deep. Any other ICE would be considered as a bug. Thanks for the effort.

[2020-10-02 11:45] #5795 closed, assigned to nobody

[2020-10-02 11:45] #9789 closed, assigned to axic

[2020-10-02 17:27] dddejan opened #9947 "Exception for overridden function when return name is different and documented"
## Description

If I document the return value of a function and then override and rename the return value an exception occurs.

[code]

[code]

## Environment

- Compiler version: 0.7.2
- Operating system: Mac & Remix

[2020-10-02 18:19] agroce opened #9948 "ICE in CompilerStack: contract redefined to inherit from a non-existent type not detected as name clash"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.7.3-develop.2020.10.2+commit.756e21a8.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environmen

[2020-10-02 18:32] jayateertha043 opened #9949 "A very weird problem causing overflow for string!!!"
Please read entire problem here:
https://stackoverflow.com/questions/64174076/solidity-overflow-in-my-web3-code-but-works-in-oneclickdapp-final-year-project

[2020-10-02 19:28] cameel commented on #9949
This does not seem to be a problem in the compiler. You're getting an integer overflow error from `bignumber` library used by Truffle because the number is very big (looks like 512 bits) while it's probably expecting a 256-bit integer:
[code]

All of this happens in JavaScript, not in Solidity. Honestly, I'm not sure where the number comes from, if I had to guess, I'd say that `this.state.account`

[2020-10-02 19:28] #9949 closed, assigned to nobody

[2020-10-02 19:47] cameel commented on #9949
Also, just a bit of advice regarding StackOverflow: you'll get more answers if you reduce your code to the simplest form possible that still causes the error. Right now you're asking anyone wanting to help to understand your project and reconstruct the code to deploy it which means that you'll only get answers from people motivated enough to do so, even if the project is very small (unless the cau

[2020-10-02 19:51] jayateertha043 commented on #9949
Hey,
I did verify that this.state.account return my current account as a string
I am passing my address as a string to that function ,yes I too think truffle is converting my string address to bignumber ,

But problem is I have another function which also accepts parameter which is same this.state.account but is working fine .

[2020-10-02 20:01] cameel commented on #9948
Thanks for the report! Looks like it's something that broke very recently. There's no ICE on 0.7.2 (see output below).

I see that #9364 was merged after 0.7.2 had been relased and it did touch the assert that fails here so I suspect it has something to do with it (pinging @Marenz and @chriseth and moving to implementation backlog).

### Output on 0.7.2
[code]

[2020-10-02 20:13] cameel commented on #9947
Thanks for the report! This indeed looks like a bug in natspec processing. It goes as far back as 0.6.11. On 0.6.10 this compiled fine. #8911 was implemented around at that time.

Moving to implementation backlog.

[2020-10-02 20:43] dddejan commented on #8802
If there is a strict part of natspec that is parsed with restrictions (e.g., only one `@notice` and such) I think adding extensions like @ekpyron mentioned makes a lot of sense. For such extensions, since they are to be interpreted by the user, there would be no restrictions and they could be attached to any code element (statements, loops, declarations, ...).

We rely on natspec to be able to wri

[2020-10-02 21:17] agroce commented on #9948
Yeah, it's just taking broken code from a normal failure to compile to an ICE, but I figured worth fixing up, in case it had any deeper meaning, as well (since it is allowing this code to get past the stage where compile aborts on errors, which seems a little concerning).

[2020-10-02 21:17] agroce commented on #9948
Also, fixing it will help fuzzing; it's so easy to trigger, AFL is spending a lot of time dumping out crash duplicates of this... :)

[2020-10-02 21:38] agroce commented on #9948
TY for the label :)

[2020-10-02 21:38] cameel commented on #9948
Sure, I marked it as `cosmetic` simply to indicate that the code is not valid and would result in a compiler error even without the ICE. Just one of the labels we created recently to sort bugs into categories. Doesn't mean it it's not important :) Your report is a great help because it's a bug that slipped through code review of a PR we just merged. Thanks to your report we'll be able to fix it ev

[2020-10-03 11:29] axic commented on #5808
Wasn't this fixed by #9938?

[2020-10-04 06:02] 0xAnonymous commented on #4990
I no longer need "default modifier" because changed approach. So will likely not have meaningful input to this issue, since not in self-interest for dApp I work on.

[2020-10-04 07:00] leonardoalt commented on #5808
Truncation yes, but it doesn't create create verification targets yet.

[2020-10-04 08:36] anupam-io opened #9950 "Unable to uninstall Solidity using npm in Ubuntu"
## Description
I don't what's wrong with my npm or node installations. But now I am unable to remove Solidity in my system. I can't upgrade or change it either. I don't know if it is a problem with npm or solidity.

<pre><font color="#00CD00"><b>anupam@g3</b></font>:<font color="#0000EE"><b>~</b></font>$ npm -v
6.14.8
<font color="#00CD00"><b>anupam@g3</b></font>:<font color="#0000EE"><b>~</b></fo

[2020-10-04 13:32] cameel commented on #9950
Hello. I think that the `solc` executable you're running does not come from the [`solc` npm package](https://www.npmjs.com/package/solc) so you won't be able to uninstall it with npm. Your `solc` appears to be the native linux binary, installed either via your system package manager or just placed manually in your path. If you run `which solc` or `type solc` it will show you where the file is inst

[2020-10-04 13:40] cameel commented on #9950
You can get any version you need directly from https://github.com/ethereum/solc-bin/tree/gh-pages/linux-amd64. They're all static builds so you can just download and run them without worrying about dependencies.

But if you're using a framework like Truffle, Buidler, Brownie, dapp-tools, etc. rather than the compiler directly then the framework is already installing the compiler binary for you and

[2020-10-04 13:49] anupam-io commented on #9950
Thanks @cameel .
I figured it out using ```which solc``` and removed the current version through ```snap```.
Installed another version using ```npm install --save solc@0.4.17```

[2020-10-04 13:49] #9950 closed, assigned to nobody

[2020-10-04 13:52] cameel commented on #9950
Great! Good to hear that it worked out :)

[2020-10-04 14:47] agroce opened #9951 "ICE in nativeMembers() when trying to initialize a constant struct using a hex literal"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.7.3-develop.2020.10.2+commit.756e21a8.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environmen

[2020-10-04 14:59] cameel commented on #9951
This started producing an ICE in 0.7.0. Constant structs are not yet implemented AFAIK (#4037) and even then, they can't be initialized with a hex literal but it should be a normal compiler error instead.

### Output on 0.6.12
[code]

[2020-10-04 15:08] agroce opened #9952 "BadSetOnceAccess on invalid double assignment involving `new`"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

Probably related to https://github.com/ethereum/solidity/issues/9890 -- or at least the same symptom.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.7.3-develop.2020.10.2+commit.756e21a8.Linux.clang
- Target EVM version

[2020-10-04 15:29] cameel commented on #9952
Thanks for the report. Your fuzzing seems pretty effective :)

Yeah, it does look like another corner case from #9839 where a `SetOnce` value gets assigned twice (pinging @Marenz again). The control flow in that PR was pretty hard to analyze (lots of branches in many functions calling each other) so this might not be the last one. It started producing an ICE on 0.7.2 where that PR was merged.

###

[2020-10-04 20:40] gnidan commented on #1687
I developed an alternative solution: [abi-to-sol](https://github.com/gnidan/abi-to-sol), which allows you to generate interface files from a given JSON ABI

[2020-10-05 09:01] christianparpart commented on #9229
I think it has nothing to do with self referencing, as the following causes the same:

[code]

[code]

[2020-10-05 13:38] ekpyron opened #9955 "Consider dividing contract storage into regular and dedicated mapping part."
Motivation
--------------

Inspired by the whole fuzz about https://github.com/ethereum/solidity/pull/9746.

A problem with the "oversized objects" warnings is that the choice of sizes at which to start warning about likely collisions is rather arbitrary. Ideally, we would generally avoid any collision from being possible, so maybe it's worth thinking about how costly that would be.

An easy way t

[2020-10-05 13:47] cameel commented on #7512
### 0.4.15, 0.5.9 and 0.5.11
For the first part, here's a PR that adds the binaries built on different commits to solc-bin: https://github.com/ethereum/solc-bin/pull/57

### 0.2.0, 0.2.1 and 0.4.11
For the second, I have edited the releases ([0.2.0](https://github.com/ethereum/solidity/releases/tag/v0.2.0), [0.2.1](https://github.com/ethereum/solidity/releases/tag/v0.2.1), [0.4.11](https://github.

[2020-10-05 13:51] cameel commented on #9258
I'm closing this since the core issue is solved (the release process has been changed and we have new hosting) and all the smaller related problems are either solved as well or have their own issues (see https://github.com/ethereum/solidity/issues/9258#issuecomment-663174907 above for details).

[2020-10-05 13:51] #9258 closed, assigned to cameel

[2020-10-05 14:07] cameel opened #9956 "Nightly builds run out of memory"
I have just noticed that the nightly build action in [solc-bin](https://github.com/ethereum/solc-bin) has been failing for three days in a row now: [1](https://github.com/ethereum/solc-bin/runs/1201552073?check_suite_focus=true), [2](https://github.com/ethereum/solc-bin/runs/1204181256?check_suite_focus=true), [3](https://github.com/ethereum/solc-bin/runs/1206816217?check_suite_focus=true).

The o

[2020-10-05 14:08] cameel commented on #9956
By the way, I expected to get notifications about failed runs but I didn't get any. I do get them in my fork. Did anyone get them?

[2020-10-05 14:08] agroce opened #9957 "ICE in calldataEncodedSize() when a public library function takes a storage parameter containing a nested maping"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.7.3-develop.2020.10.2+commit.756e21a8.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environmen

[2020-10-05 14:22] cameel commented on #9957
An older one this time. It started crashing the compiler in 0.6.7.

And it's a nice construction. I tried simplifying it but removing pretty much anything makes it report a compiler error instead.

### Errors on 0.6.6
[code]

[2020-10-05 14:36] agroce commented on #9957
The construction is luck; for Solidity I tend to just run a line-based minimizer on what my custom AFL finds.  Here, I think it only had to remove a single comment line, anyway.

I could go more aggressive on reducing, but they seem small enough to be easy to hand-polish as it is, and I'm storing the line-reduced versions for some investigation of where the interesting code comes from (something b

[2020-10-05 14:55] cameel commented on #9957
Getting even smaller examples is always nice but they're already very small an easy to work with. Just the fact that they're self-contained makes them very easy to reproduce and debug. It's much, much easier than when someone submits e.g. a whole Truffle project and gets an error somewhere in the middle of a test run. Basically a perfect repro.

[2020-10-05 17:37] cameel commented on #9956
So, https://github.com/ethereum/solc-bin/pull/58 is just a workaround but should lower the memory usage enough to work in the short term.

For a long-term solution, we need something like [async-pool](https://github.com/rxaviers/async-pool) but one that works with `map()`. [Bluebird](http://bluebirdjs.com) supposedly can do that but is a bit heavy just for our use case.

Alternatively, being able

[2020-10-05 19:01] cameel commented on #9955
Just wondering, is anyone ever likely to get that warning in a working contract? It's issued when your state variable takes more than 512 exabytes (= 2^64 slots) which surely would not fly even if the code was not being executed on a blockchain?

[2020-10-05 20:33] a3d4 commented on #9955
There are two cases:
**(A)** oversized objects leading to collision warnings
**(B)** oversized objects leading to compilation errors.

I think the PR #9746 (undoubtedly fuzzy), in its current state, focuses rather on **(B)**, while this issue seems to be about **(A)**.

[2020-10-06 11:00] cameel commented on #9957
Smaller test case found by @hrkrshnn. And this one is valid code so it's not just a cosmetic issue after all.
[code]

[2020-10-06 11:36] mijovic opened #9964 "Optimizer: Investigate if consecutive calls to sstore for same slot will be optimized out to only one"
When we discussed deleting structs we had to distinct cases for packed and unpacked types and we could possibly remove that distinction ([Comment...](https://github.com/ethereum/solidity/pull/9843#discussion_r499424472)) if optimizer is able to optimizes `sstores`

[2020-10-06 11:55] chriseth commented on #9964
Duplicate of https://github.com/ethereum/solidity/issues/6728 ?

[2020-10-06 12:15] mijovic commented on #9964
I think it is. We can close this one in favor of #6728

[2020-10-06 12:15] #9964 closed, assigned to nobody

[2020-10-06 14:50] #9948 closed, assigned to Marenz

[2020-10-06 15:16] cameel commented on #8379
Turns out this is not just a matter of ICE covering a compiler error. There are multiple cases where code that should compile doesn't and I keep finding new ones.

### Using a modifier that calls a V2 function
`a.sol`:
[code]
`b.sol`:
[code]
`c.sol`:
[code]

[code]

### Simply inheriting from a V2 contract
`a.sol`:
[code]
`b.sol`:
[code]
[code]

`a.sol` compiles just fine on its own.

[2020-10-06 15:24] ekpyron commented on #9583
IMHO another argument for this: as far as I'm concerned https://github.com/ethereum/solidity/pull/9954 should not have been done like that, but rather the command line interface be fixed.

[2020-10-06 15:35] chriseth commented on #9583
@ekpyron we should do both.

[2020-10-06 16:27] agroce commented on #9957
Oh, nice

[2020-10-06 16:28] agroce commented on #9957
Too bad there's no way I can think of to take a crashing input and automatically explore around to see if there's a "should compile" variation, when it's not compiling.  But depending on if it is a long-standing or novel bug, I can't see an easy way to even determine if it should compile.

[2020-10-06 17:16] a3d4 commented on #9957
Slightly simplified:
[code]

[2020-10-06 18:28] cameel commented on #9957
@agroce Passing it through an external grammar checker might tell you if it looks like a something that could be valid code. Unfortunately our [grammar definition](https://solidity.readthedocs.io/en/latest/grammar.html) is probably not detailed enough for this.

But from practical standpoint, identifying bugs in the first place is the biggest value a fuzzer can add. Once we have a small, self-cont

[2020-10-06 19:17] cameel opened #9969 "ICE in loadFromMemoryHelper() when ABIEncoderV1 code uses a modifier or inherits a function that calls ABIEncoderV2 code"
Extracted from https://github.com/ethereum/solidity/issues/8379#issuecomment-704342651

## Steps to Reproduce
`a.sol`:
[code]
`b.sol`:
[code]
`c.sol`:
[code]
Run it with:
[code]
Output:
[code]

## Environment
- Compiler version: 0.7.2+commit.51b20bc0.Linux.g++

[2020-10-06 19:22] cameel opened #9970 "UnimplementedFeatureError in ABIEncoderV1 file when inheriting from ABIEncoderV2 contract"
Extracted from https://github.com/ethereum/solidity/issues/8379#issuecomment-704342651

## Steps to Reproduce
`a.sol`:
[code]
`b.sol`:
[code]
Run it with:
[code]
Output:
[code]

`a.sol` compiles just fine on its own so the feature is not really unimplemented.

## Environment
- Compiler version: 0.7.2+commit.51b20bc0.Linux.g++

[2020-10-06 19:27] cameel commented on #8379
In order to get my fix into the upcoming 0.7.3 I've split off the two cases above into separate issues: #9969, #9970. I wanted to fix them in #9835 but they have different underlying causes so there's no point in holding one back because of the other.

[2020-10-06 23:58] dddejan opened #9974 "Issue with 0.7.2, JSON and ABIEncoderV2"
## Description

For the following contract

[code]

Compiling to JSON with 0.7.1 works, while 0.7.2 fails:

[code]

## Environment

Solidity versions:
[code]

[2020-10-07 08:43] chriseth commented on #9970
My first guess would be that `b.sol`still needs ABIEncoderV2 to be activated.

[2020-10-07 08:46] cameel commented on #9974
Looks worse than I thought. It's not just that the AST is being printed wrong. It seems to be missing some items.

[2020-10-07 08:46] #8379 closed, assigned to cameel

[2020-10-07 08:46] #9270 closed, assigned to cameel

[2020-10-07 08:53] cameel commented on #9974
Smaller repro:
[code]

[2020-10-07 09:09] bshastry commented on #9952
~~A smaller repro~~ Some more repros. This crash occurs within seconds and very frequently in our fuzzing rigs.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2020-10-07 09:12] cameel commented on #9970
But why? `get()` is completely defined in `a.sol` so it should have the encoder enabled, shouldn't it?

[2020-10-07 09:23] ekpyron commented on #7115
True, no longer an issue!

[2020-10-07 09:23] #7115 closed, assigned to christianparpart

[2020-10-07 09:49] chriseth commented on #9970
I would say let's do whatever is easier in terms of the implementation.

[2020-10-07 09:53] #9832 closed, assigned to hrkrshnn

[2020-10-07 10:39] christianparpart commented on #9974
After bisecting, it seems that https://github.com/ethereum/solidity/pull/9882 is the first one to introduce this abort, so it seems related.

Since we agreed in eliminating the "dead code" wrt `GasEstimator::structuralEstimation`, I think this can be implicitly auto-fixed.

[2020-10-07 11:09] Marenz commented on #9952
At least the first two are kind of fixed by #9953 however, another assert is triggered. I am currently looking into this

[2020-10-07 11:23] Marenz commented on #9952
Okay, you actually removed the earlier one again. All that you listed here are fixed by #9953

[2020-10-07 11:36] bshastry commented on #9952
Sorry, mixed up and edited in place. Should you strike through the next time so the edit is seen.

[2020-10-07 11:55] cameel opened #9979 ""Variable dataEnd is 4 slot(s) too deep inside the stack" in an external function returning triple-nested dynamic array"
## Steps to Reproduce
[code]

It happens only when using the optimizer
[code]
[code]
Without the optimizer it compiles just fine.

Running it as a soltest test case gives a bit more info about where the exception is raised:
[code]

## Environment
- Compiler version: 0.7.3-develop.2020.10.7+commit.d15360a9.Linux.g++

[2020-10-07 12:10] #5480 closed, assigned to nobody

[2020-10-07 12:10] #9974 closed, assigned to christianparpart

[2020-10-07 12:18] cameel commented on #9979
Managed to reproduce it with `solc` by enabling the optimizer. So it's not just a soltest thing. Description and title updated.

Also, this error happens only on 0.7.2 and in develop. It does not happen on 0.7.1.

[2020-10-07 12:40] cameel commented on #7512
Closing since the PR in solc/bin has been merged and the changes to github releases are done too.

[2020-10-07 12:40] #7512 closed, assigned to cameel

[2020-10-07 12:44] hrkrshnn commented on #9939
https://github.com/ethereum/solidity/pull/9865#discussion_r500978863

[2020-10-07 13:03] #9952 closed, assigned to Marenz

[2020-10-07 13:18] cameel commented on #5480
Was it actually a breaking change? It just went into 0.7.3...

[2020-10-07 13:27] chriseth commented on #5480
No, it was unused.

[2020-10-07 14:00] cameel commented on #9970
Another one similar to this. This time it's inheriting from a contract that only calls an ABIEncoderV2 function:

`a.sol`:
[code]

`b.sol`:
[code]

[code]

[2020-10-07 14:32] cameel commented on #9970
And another. V1 contract overriding a modifier inherited from a V2 contract:

**EDIT: Actually, this is just a variation of the case above - just with constrctor rather than a public function - and has nothing to do with the modifiers.**

`a.sol`:
[code]

`b.sol`:
[code]

[code]

Also, if I change `B` to inherit from `A`, I hit the `UnimplementedFeatureError` instead:
[code]

[2020-10-07 15:03] dddejan opened #9980 "Truffle fails while processing JSON output because of the missing `deployedGeneratedSources.ast.nodes` key"
## Description

I am running truffle test on some contracts and the truffle tests are failing with 0.7.2+ but pass with 0.7.1.

The example I am using is the same as the one from #9974.

Running truffle with 0.7.1 succeeds with

[code]

While running with 0.7.2+ fails with

[code]

I really don't know how to debug this further (not a JS expert).

## Environment

[code]

solidity versions: 0.7.3, 0

[2020-10-07 15:30] cameel opened #9981 "[SMTChecker] BMC reports warnings in files without the SMTChecker pragma"
## Steps to Reproduce
`b.sol`
[code]

`a.sol`
[code]

Output:
[code]

Expected: it should not report the warning since it pertains to `a.sol` which does not have the pragma.

[2020-10-07 15:46] cameel opened #9982 "Move solc-bin PR checks from Travis to Gihub Actions or CircleCI"
Related to #9931 and #9932.

Just executing the `update` script takes 18 minutes on Travis. In nightly builds on GH actions it's just 13 minutes. Might be even faster in CircleCI but setup might require more work.

[2020-10-07 17:36] cameel commented on #9980
I tracked it down. The issue is that Truffle expects to find a `nodes` key inside `deployedGeneratedSources.ast`. If it's not there or is not iterable, it fails.

`deployedGeneratedSources` is a new feature added in 0.7.2 (see #8807/#9053). Now, I don't know enough about the feature to tell if that key should be there or if Trufle should just not expect it and assume `[]` if it's not there.
@chris

[2020-10-07 18:17] haltman-at commented on #9980
Hi, this would definitely seem to be a Truffle issue.  Would you mind opening an issue [over on Truffle](https://github.com/trufflesuite/truffle/issues) and I'll take a look at it there?  Thanks!

[2020-10-07 18:35] true-eye opened #9984 "block.timestamp not correct in view function"
## Description

[code]
In view functions, the `block.timestamp` is not the same as the real timestamp. It seems it returns the last timestamp which the contract was interacted or executed with non-view functions.

## Environment

- Compiler version: 0.6.2
- Target EVM version (as per compiler settings):
- Framework/IDE (e.g. Truffle or Remix): Truffle
- EVM execution environment / backend / blockc

[2020-10-07 18:39] cameel commented on #9980
@haltman-at Done: https://github.com/trufflesuite/truffle/issues/3419

[2020-10-07 18:56] cameel commented on #9984
That's correct behavior. `block.timestamp` is the timestamp of the most recent block. On the actual blockchain the timestamp would be changing simply because there are new blocks being mined all the time but if you're checking it in a test environment running ganache, you're just seeing the timestamp from the last time you did something that involved creating a new transaction and adding a block.

[2020-10-07 19:06] true-eye commented on #9984
Thanks for your explanation. That fully makes sense.

Then for unit testing on a test environment, how can we handle this?
It seems that there is no solution, right?

[2020-10-07 19:29] cameel commented on #9984
You can use `evm_increaseTime` from Ganache for testing.

See for example https://ethereum.stackexchange.com/questions/67593/as-in-truffle-tests-pass-the-check-by-block-timestamp

[2020-10-07 19:31] #9984 closed, assigned to nobody

[2020-10-07 22:12] mudgen opened #9986 "Enable Enums to be Extended in Upgradeable Contracts"
Currently an upgradable proxy contract or diamond can't extend an enum.

Please see this article for details: https://hackernoon.com/beware-the-solidity-enums-9v1qa31b2?source=rss

It would be great if enums could be extended to include additional values in upgradeable contracts.

I understand that if more than 256 values are used by an enum then it uses 16 bits instead of 8 bits.   This poses a d

[2020-10-07 22:18] cameel opened #9987 "Set up IPNS names for list files from solc-bin"
Related to #9935 and #9258.

One [IPNS](https://docs.ipfs.io/concepts/ipns/) name pointing at a directory containing all the lists would be the most convenient option for users but that requires extra post-processing on the computer hosting the files to create the directory. Having separate IPNS names would be acceptable too though not as good.

We're considering also hosting a Brotli-compressed v

[2020-10-08 02:35] vporton opened #9988 "Internal compiler error"
## Description

Internal compiler error of Solidity 0.7.1.

## Environment

- Compiler version: 0.7.1
- Target EVM version (as per compiler settings): default
- Framework/IDE (e.g. Truffle or Remix): Buidler
- Operating system: Ubuntu 20.04.1

## Steps to Reproduce

Download https://github.com/vporton/eth-tokens-sum/tree/solidity0.7.1-internal-error

[code]

I will work on creating a minimal repro

[2020-10-08 02:40] vporton commented on #9988
Minimal reproducible example:
[code]

[2020-10-08 07:15] bshastry commented on #9988
Thank you for reporting the issue @vporton . I'm not able to reproduce this on the latest release `0.7.3`. Does the issue reproduce with `0.7.2`?

[2020-10-08 07:17] bshastry commented on #9901
Closing this issue because it is a duplicate of #9743

[2020-10-08 07:17] #9901 closed, assigned to nobody

[2020-10-08 10:17] chriseth commented on #9988
Fixed in 0.7.2.

[2020-10-08 10:17] #9988 closed, assigned to nobody

[2020-10-08 12:03] ekpyron commented on #9955
Since storage is implicitly zero-initialized, it's theoretically fine to declare ``contract C { uint256 x[2**120]; }`` and just index into ``x`` sparsely using your own method of managing the space. It's not that far-fetched to do this to basically try to create a cheaper version of a ``mapping(address => uint)`` that doesn't require hashing for example.

[2020-10-08 12:09] ekpyron commented on #9955
It might even be that ``uint256 balances[2**120];`` with ``balances[uint120(someAddr)]`` while also having ``mapping(uint256 => uint256) usersCanWriteToArbitraryKeysInThis;`` is among the primary reasons for the warning we have for such cases :-).

[2020-10-08 12:43] chriseth commented on #9986
Are these two different issues? I can totally see the benefit in restricting enums to 256 values.

About the upgradability - do you have any suggestions?

[2020-10-08 12:54] hrkrshnn commented on #9979
We generally ignore stack too deep errors. But this one might be a bit interesting. If it's not happening in 0.7.1, then it's likely that this is because of the change in order of inlining that was introduced in 0.7.2. If this is true, then there isn't much that we can do here.

[2020-10-08 13:36] cameel opened #9992 "IR generation crashes the compiler when a public function calls a function that instantiates a contract using new"
## Steps to Reproduce
Using the `--ir` option when the contract has a public function that calls another function (not necessarily public) that just uses `new` to create a contract instance results in a crash due to the compiler trying to access a non-existent key in a map:

[code]

And it's not even an `InternalCompilerError` but just a crash on an unknown exception.

This does not happen if `new

[2020-10-08 13:46] ekpyron commented on #9992
It's ``IRGenerator.cpp:L88``. Apparently we don't track which contracts are created from a contract indirectly through the call chain.
[For the record: I just checked what happens and won't look into fixing it right away, so feel free to pick it up]

[2020-10-08 13:49] cameel commented on #9992
Also, it goes back to the time contract creation calls were implemented in IR. It crashes on 0.6.7 too. 0.6.6 reports `UnimplementedFeatureError` instead:
[code]

[2020-10-08 13:50] mudgen commented on #9986
Thanks for looking at this @chriseth!

Yes there are two issues here:
1. Limit enums to 256 possible values so the contract storage size is fixed at 8 bits.
2. Allow enums to be extended by contract upgrades.

According to the article I linked to there is a runtime check that prevents using an enum outside its defined set of values.  Remove this check so that enums can be extended in contract upgr

[2020-10-08 13:51] hrkrshnn commented on #9857
Closing via https://github.com/ethereum/solidity/pull/9865

[2020-10-08 13:51] #9857 closed, assigned to hrkrshnn

[2020-10-08 13:56] chriseth commented on #9992
Does it mean that `_contract.annotation().contractDependencies` does not contain the correct information?

[2020-10-08 14:06] cameel opened #9993 "ICE in CompilerStack::generateEwasm() when compiling an abstract contract"
## Description
Compiler reports an ICE when trying to compile a contract marked as `abstract`.
- Does not happen if the contract is not abstract.
- Happens even if the the contract is not empty (e.g. has function definitions, struct definitions or storage variables).

## Steps to Reproduce
The contract:
[code]

Compile with
[code]

[code]

The assertion that fails:
[code]

## Environment
- Compile

[2020-10-08 14:34] cameel commented on #7627
I can confirm that this error is still happening with the latest versions of solc (0.7.3) and truffle (5.1.47)

I checked Solidity source and the `Compiled contract not found` is a message from one of our assertions, and not something that Truffle adds so it's clearly a bug in the compiler. But it's tricky to trigger. Only happens after Truffle compiles everything and then you change one contract

[2020-10-08 15:17] #9957 closed, assigned to a3d4

[2020-10-08 15:32] cameel commented on #7627
I managed to reproduce it with `solc` but only via the Standard JSON interface. Does not happen if I run `solc --combined-json srcmap` on the files from the repro above.

I don't see anything specific that would obviously be the cause. Removing parts of the code or putting it all in a single file removes the error. Not requesting output for `BlockRewardAuRaCoins` or requesting something else than

[2020-10-08 15:53] cameel commented on #7627
@chriseth

I think it's a different problem with similar symptoms. There is not circular dependency here and the contracts compile fine when not using standard JSON.

Maybe it's a problem with the order in which the contracts are compiled?

[2020-10-08 17:00] cameel commented on #9980
@dddejan The bug has been fixed in Truffle (https://github.com/trufflesuite/truffle/issues/3419). I have tested a new version from `develop` with your snippet and it works for me so I'm closing the issue. Please check it with your contract and feel free to reopen either this issue or the one in Truffle if you find there are still some problems with Solidity or Truffle respectively. Or start a new

[2020-10-08 17:00] #9980 closed, assigned to cameel

[2020-10-08 17:49] chriseth opened #9995 "Replace invalid opcode by Panic()"
The following situations currently create an invalid opcode or a Panic in the future:

 - failing assert()
 - arithmetic overflow in addition, multiplication, exponentation, negation, ...
 - arithmetic underflow in addition, multiplication, exponentation, negation, ...
 - division / modulo by zero
 - array too large (either storage or memory)
 - memory allocation error (too much memory required fo

[2020-10-08 17:53] #9671 closed, assigned to nobody

[2020-10-08 18:05] chriseth commented on #9824
The following situations currently create an invalid opcode or a Panic in the future:

 - failing assert()
 - arithmetic overflow in addition, multiplication, exponentation, negation, ...
 - arithmetic underflow in addition, multiplication, exponentation, negation, ...
 - division / modulo by zero
 - array too large (either storage or memory)
 - memory allocation error (too much memory required fo

[2020-10-08 18:05] chriseth commented on #9995
Replaced by a comment in the other issue: https://github.com/ethereum/solidity/issues/9824#issuecomment-705734624

[2020-10-08 18:05] #9995 closed, assigned to nobody

[2020-10-08 18:05] ekpyron commented on #9995
I wonder whether we should be more generous and at least use 16 bits for it and reserve 256 slots in each category or even more... it's not like we don't have enough space in the uint256...

[2020-10-08 18:06] ekpyron commented on #9995
Ah, damn, now you moved the discussion :-).

[2020-10-08 18:09] ekpyron commented on #9762
Just to be clear: the idea now (IIUC) is to add ``x.offset`` and (for dynamically sized arrays ``x.length``) to all calldata variables when accessed in inline assembly, just the way we have ``x.slot``, when ``x`` is in storage.

[2020-10-08 18:11] chriseth commented on #9762
Actually this is a duplicate of https://github.com/ethereum/solidity/issues/8917

[2020-10-08 18:11] #9762 closed, assigned to nobody

[2020-10-08 18:16] varasev commented on #7627
@cameel As far as I remember, I managed to fix this in our other repo in this commit: https://github.com/xdaichain/stake-token/commit/ad79abbaa4d1f91d73e80cc4b3f1b234a0ca6570#diff-b9cfc7f2cdf78a7f4b91a753d10865a2 - there was the same issue with updating solc v0.5.10 to v0.5.12 - seems updating `ganache-cli`, `truffle`, and `solidity-coverage` solved that, but I'm not sure of the reason.

[2020-10-08 18:21] zhiqiangxu opened #9997 "How do I return paged map or list?"
Suppose there is a large map or list, is there a way to return them in pages? This is useful in cases like query all NFT tokens under an address.

[2020-10-08 18:23] ekpyron commented on #9824
I wonder whether we should be more generous and at least use 16 bits for it and reserve 256 slots in each category or even more... it's not like we don't have enough space in the uint256. Just, s.t. if we ever need a larger category, it's can still be the same part that designates the category.

[2020-10-08 18:26] chriseth commented on #9824
My motivation for staying within one byte is to save deployment gas costs.

[2020-10-08 18:58] cameel commented on #7627
@varasev Thanks for the info. I checked that commit and looks like it didn't really fix the issue, just made it much harder to trigger it. Which is a nice workaround. Great to hear that you found a way to make it work for you.

The issue is the compiler though, not in the JS libraries. It's the move of `mocks/` from `test/` to `contracts/` that really helped. When the mocks were inside `test/` Tru

[2020-10-08 22:43] cameel commented on #9997
Why do you think that would be useful? If you have a public storage variable that is a list or a mapping then the compiler generates a public getter function that lets you access the elements one at a time. But the function is `view` so querying it does not require a blockchain transaction. You can just ask your local blockchain client for all the values one by one. If you want to display them pag

[2020-10-08 22:43] #9997 closed, assigned to nobody

[2020-10-09 05:29] deluca-mike opened #10001 "abi.decode does not seem to be having correctly with memory"
## Description

`abi.decode` is (seemingly) not decoding correctly, at least for a `bytes`, in memory, of length 68 (i.e. byte4, bytes32, bytes32)

## Environment

- Compiler version: 0.6.12 and 0.7.3
- Target EVM version (as per compiler settings): petersburg
- Framework/IDE (e.g. Truffle or Remix): Truffle
- EVM execution environment / backend / blockchain client: Ganache
- Operating system: OSX

[2020-10-09 05:39] 3esmit commented on #10001
See https://github.com/ethereum/solidity/issues/9439

[2020-10-09 06:01] varasev commented on #7627
@cameel Yeah, seems moving `mocks` from `test` to `contracts` helped.

[2020-10-09 10:30] cameel commented on #10001
@deluca-mike From #9439:

So what you're seeing is how it's supposed to work currently, though we're considering adding `abi.decodeWithSignature()` to the language to better support your use case.

I'm going to close this as a duplicate not to split the discussion. Please feel free to post your comments in #9439 if you have something to add to the discussion.

[2020-10-09 10:30] #10001 closed, assigned to nobody

[2020-10-09 13:32] mudgen opened #10002 "Should have compiler error for assigning to an item in an uninitialized memory array"
The following code compiles without error but it seems to me that the compiler should throw an error because the generated runtime code does not work:
[code]

It seems to me that it should be a compile error to assign a value to an item in an uninitialized memory array, because it doesn't work at runtime.

[2020-10-09 17:54] cameel commented on #9969
Failing test case from https://github.com/ethereum/solidity/issues/9970#issuecomment-704956078. Posting it here because it turns out that it's caused by the same thing as the modifier problem - using the experimental pragmas from the module being compiled rather than the one containing the definition when generating code for inherited functions.

#9971 now fixes both of these problems.

[2020-10-09 18:07] cameel commented on #9970
The two test cases in comment above are actually a different thing, more related to #9969 so I'm fixing them there.

@chriseth

Turns out that we already had a check against this case in `ContractLevelChecker` but it was buggy. It was checking the parameters second time instead of going over the return parameters. There is even a test case for that check but it uses ABIEncoderV2 types both for the

[2020-10-12 06:54] #9475 closed, assigned to franzihei

[2020-10-12 11:39] leonardoalt opened #10007 "[SMTChecker] Try to solve the deposit contract loop"
The `assert(false)` in https://github.com/axic/eth2-deposit-contract/blob/master/deposit_contract.sol#L158 should be unreachable. It is currently not solvable with the SMTChecker.

I wrote a direct CHC version of it in https://gist.github.com/leonardoalt/d9a000dc03fd7cba90e4bcf472549d79, but z3/Spacer is unable to solve it.

We could try to solve it first directly as CHC before trying to solve it

[2020-10-12 11:43] #9229 closed, assigned to christianparpart

[2020-10-12 12:44] #9969 closed, assigned to cameel

[2020-10-12 13:40] #9970 closed, assigned to cameel

[2020-10-12 13:53] agroce commented on #9817
Fuzzer eventually turns this up, too.  Not a fuzz-blocker, per se, but a false positive (well, dup) that has to be inspected from time to time.

[2020-10-12 14:12] agroce opened #10011 "[SMTChecker] ICE in indexOrMemberAssignment() when assigning to a storage variable qualified with contract name"
## Description

This contract:
[code]

produces:

[code]

when compiled with solc.

On master, using AFL fuzzing.  Another discovery using https://github.com/agroce/afl-compiler-fuzzer.

## Environment

- Compiler version:  0.7.4-develop.2020.10.12+commit.bc97c3e1.Linux.clang
- Target EVM version (as per compiler settings): N/A
- Framework/IDE (e.g. Truffle or Remix): N/A
- EVM execution environme

[2020-10-12 14:37] cameel commented on #10011
Looks fresh. 0.7.2 broke it. Also, works without the `SMTChecker pragma`.

@agroce Could you also indicate if the error is a blocker for your fuzzer when reporting (or add a label, but I'm not sure if github lets you do that)? I'm assuming that most of these bugs are but that might not be true :)

### Slightly simpler repro
[code]

### Warnings on 0.7.1 (for the simpler repro)
[code]

[2020-10-12 14:44] agroce commented on #10011
@cameel with AFL, few bugs are blockers per se, though anything it finds frequently is going to hurt fuzzing throughput, I suspect.  Unfortunately, github doesn't let me put on labels.  I'd say this one is not really a blocker at all, it takes forever to find, though the fuzzer instance that found it is probably going to eventually lose some time in producing it again.  This is less of a problem f

[2020-10-12 14:50] cameel commented on #10011
Thanks for the explanation. I don't think we have to be very strict with that label, I think it was created primarily to help prioritizing stuff so applying it to bugs that significantly hurt fuzzing throughput should be fine too. Anyway, if you think any specific bug qualifies just put that in the description and I'll apply the label :)

[2020-10-12 15:43] #6051 closed, assigned to mijovic

[2020-10-12 18:08] ekpyron commented on #7261
@cameel commented on gitter: ``Maybe making it not look that "constant" would help?``.

For which examples to consider would be ``super()`` or ``super(this)``.

EDIT: ``super(this)`` would make it look like it will become an external call, though, unfortunately...

[2020-10-12 18:19] ekpyron commented on #7261
In any case: the existence of issues like https://github.com/ethereum/solidity/issues/8354 also indicates that the meaning of ``super`` isn't entirely clear...

[2020-10-12 18:30] cameel commented on #7261
After our discussion, I think that the syntax could help a little but won't solve the problem on its own. The feature just has complex behavior that needs to be understood.

The same feature exists in Python and there, in my experience, it's not a big issue only because most of the time the inheritance hierarchy is not that complicated and you don't have to think about it until you run into actual

[2020-10-12 18:31] ekpyron commented on #7261
Given https://github.com/ethereum/solidity/issues/7744 we could consider making it ``super(type(this))``... that would look slightly less like an external call... but yeah as @cameel just said: maybe changing the syntax won't help in the end and might make things worse or just differently confusing...

[2020-10-13 10:37] ekpyron commented on #9637
For the record: the antlr grammar already pretends that this is fixed, so no change to the grammar should be needed.

[2020-10-13 11:19] leonardoalt commented on #8473
This doesn't sound simple to implement and I'm not sure it's very valuable. So I'd suggest closing.

[2020-10-13 12:00] MrChico commented on #9824
I would also be good to be able to identify abi decoding errors. Especially using abiencoder v2, there is usually quite a few paths that end at the decoding stage already if one doesn't specialize the calldata to a specific function signature.

[2020-10-13 12:03] chriseth commented on #9824
@mrchico abi decoding errors will either return no data or data with a signature of `Error(string)`. The codes we are currently talking about will all use `Panic(uint256)`. We can of course talk about making abi decoding errors more specific, but that would be a different discussion.

[2020-10-13 12:57] leonardoalt opened #10020 "Constant evaluation computes array length in arbitrary precision"
[code]
This should return 10, returns 12.

[2020-10-13 13:34] chriseth commented on #9495
Fixed in https://github.com/ethereum/solidity/pull/9753 (breaking)

[2020-10-13 13:35] #4751 closed, assigned to Marenz

[2020-10-13 14:32] leonardoalt opened #10021 "[SMTChecker] Support function selector"
[code]
Currently this reports a false positive because `selector` is not supported.

[2020-10-13 15:03] chriseth commented on #9637
Implemented in https://github.com/ethereum/solidity/pull/10019

[2020-10-13 15:03] #9637 closed, assigned to hrkrshnn

[2020-10-13 16:08] chriseth commented on #9175
We should add some examples, certainly!

[2020-10-13 18:24] wuestholz commented on #9824
@chriseth The proposal looks good to me. The only change I would consider is not using `0x00` for `assert` violations, but specifying a designated (non-generic) error code for such cases (e.g., `0x61`). This should ensure that program analysis tools that only care about assertions can reliably detect them even if for some reason future Solidity versions emit `0x00` for other generic/unspecified er

[2020-10-13 22:05] #9817 closed, assigned to mijovic

[2020-10-14 00:42] bitcoinbrisbane commented on #232
Same as c#, Java, Python etc.

[2020-10-14 02:27] MicahZoltu commented on #9824
In all of my time as a dapp developer I have never seen anyone care about contract deployment gas costs.  Runtime gas costs are all that anyone I have talked to cares about.  For deployment, either you are deploying a contract once (ever) or you are deploying multiple copies of a contract that has a very high per-contract value (where gas costs are negligible compared to what you are doing) or you

[2020-10-14 10:22] #9037 closed, assigned to mijovic

[2020-10-14 10:46] Marenz commented on #9992
Example 1 is fixed by #10030

[2020-10-14 11:34] chriseth commented on #9824
@wuestholz this is a very good suggestion! It allows analysis tools to distinguish between explicit `assert(x)` statements and "compiler-internal" assertions.

@MicahZoltu people are not worried about deployment gas costs, but they are worried about staying within the code size limit, so i think it is still reasonable to only use a single byte for the error code.

[2020-10-14 11:39] wuestholz commented on #9824
@chriseth Great! Yeah, this would make things much easier for bytecode-only analysis tools. Thanks!

[2020-10-14 12:03] chriseth commented on #9824
For now, I allocated `0x01` for `assert(false)` since it is still a "generic" error because you do not specify the reason.

[2020-10-14 12:32] hrkrshnn commented on #9859
closed via https://github.com/ethereum/solidity/pull/9865

[2020-10-14 12:32] #9859 closed, assigned to nobody

[2020-10-14 12:37] chriseth commented on #9861
Decision from call: Let's try implementing it such that explicit conversions from literals are as strict as implicit conversions and see how much it breaks.

[2020-10-14 12:39] chriseth commented on #9860
Subsumed in https://github.com/ethereum/solidity/issues/9861 now

[2020-10-14 12:39] #9860 closed, assigned to nobody

[2020-10-14 12:41] chriseth commented on #6974
Being done as part of https://github.com/ethereum/solidity/issues/9824 now

[2020-10-14 12:41] #6974 closed, assigned to nobody

[2020-10-14 13:22] bshastry commented on #10011
Not sure if this is somewhat similar to https://github.com/ethereum/solidity/issues/9742

[2020-10-14 14:15] leonardoalt opened #10034 "[SMTChecker] CHC reports wrong counterexample"
Test `smtCheckerTests/overflow/overflow_mul.sol` reports wrong results for the first overflow. The problem occurs if there are two in a row.

[2020-10-14 15:28] cameel commented on #9986
This was discussed on the meeting today - mostly regarding limiting the number of possible values. @chriseth suspects that enums occupying more than one byte might be so rare in practice that some tools might not even support them properly. An assumption that enum is always equivalent with `uint8` might be common.

The decision was to gather some feedback first and see if anyone is using enums wit

[2020-10-14 15:38] cameel opened #10035 "Limit enums to 256 possible values so the contract storage size is fixed at 8 bits"
This was originally a part of #9986.

Arguments for adding the limit:
- Having more than 256 values seems like a very rare case. Does it even happen in practice?
- We're not even sure if all tools support enums bigger than 1 byte properly. Enums always taking up just one byte might be a common assumption.
- ~It's a potential blocker for allowing enums to be extended (#9986, if we decide to impleme

[2020-10-14 15:43] cameel commented on #9986
I created a separate issue for adding the limit because we might want it even if in the end we decide not to implement extensible enums: #10035.

[2020-10-14 16:38] cameel commented on #9986
@mudgen As for the extensible enums, I think there are serious problems with enabling something like that.

Consider this example:
[code]
Now what happens if you extend the `enum` to `enum Operation {Add, Delete, Modify}`? `Modify` will delete stuff.

This is not a style I recommend (I wouldn't write it myself without adding `assert(_operation == Operation.Delete)` in the `else` branch) but I stro

[2020-10-14 16:50] cameel commented on #1100
Practical use case for user-defined type aliases: https://hackernoon.com/beware-the-solidity-enums-9v1qa31b2

The article presents a problem where you use enums in a contract and later you want to be able to add new values to that enum without having to recompile the contract. Currently Solidity adds runtime checks that reject values other than ones included in the enum definition which makes this

[2020-10-14 17:09] cameel commented on #4638
We discussed it on the meeting today and the answer was that it's not breaking :) So I'm moving it to non-breaking backlog.

Also, the consensus right now is that we're still lacking a good use case for this. So putting it in the Icebox seems like the right thing to do too.

One minor downside to allowing arbitrary (and especially non-contiguous) values is that the runtime check becomes more expen

[2020-10-14 17:14] cameel commented on #4638
Actually, looking at the linked Loopring issue, the use case I suggested at the meeting - using values as bit masks - is not as far fetched as I thought. Some developers are trying to use them like that in Solidity (https://github.com/Loopring/protocols/pull/828#discussion_r354903437). This was the code used to work around this:

[code]

[2020-10-14 17:19] cameel commented on #9545
Just a side note: some of the workarounds I needed to build 0.4.15 on MacOS might apply to the Windows version too. See https://github.com/ethereum/solc-bin/pull/53

[2020-10-14 19:24] mudgen commented on #9986
@cameel Thanks for looking into this.  I see what you mean. Good points!  Good idea to use constants.

I think you are right. Best not to change how enums work concerning this, but provide another way.

How might it work and look if a user-defined type alias was used instead of an enum so it could be extended by upgrades?

[2020-10-14 19:53] cameel commented on #9986
With the syntax proposed in #1100 it could look like this:

[code]

Then extending it would not be a problem because defining constants does not limit `RecordState` in any way.

On a side note, when #2918 gets implemented you'd also be able to use an arbitrary range to have more control over how exensible the set of values should be. E.g. `typedef number{-1000, 1000} RecordState`.

[2020-10-14 19:57] mudgen commented on #9986
I see, cool! I like it.  Thanks.

[2020-10-14 20:05] cameel commented on #9986
Great :) In that case I'm going to close this one. I put the issue with user-defined type aliases at the top of design backlog to get some discussion about it. We have a long backlog of feature requests so not sure when exactly we'll get to this one (we actually discussed that today; we really need to focus more on the Sol->Yul codegen) but having a good use case and clear spec should help move it

[2020-10-14 20:05] #9986 closed, assigned to nobody

[2020-10-14 20:07] mudgen commented on #9986
Sounds good, thanks.

[2020-10-14 23:47] haltman-at commented on #9737
Here's an idea for how to handle this in a way that's more possible for tools like Truffle Decoder to handle.  So, let's say that `abi` is changed to include any events that can be emitted, as discussed above.  (Where here I'm assuming we're ignoring delegate calls, and just listing ones that can be emitted by this particular bytecode without a delegatecall, because that's what's discussed above.)

[2020-10-15 05:25] gitpushOmnik opened #10042 "ICE in void solidity::frontend::CompilerUtils::popAndJump"
## Description

Solidity Compiler reports the following ICE when compiling the contract given below with ABIEncoderV2

## Steps to Reproduce

Contract :

    pragma experimental ABIEncoderV2;

    contract Fudge
    {
        function accept (bytes[] memory acc1, uint[] memory acc2) public returns(string calldata)
        {
             return "";
        }
        function parser(bytes[] memory v

[2020-10-15 10:49] Marenz commented on #9992
With the current changes Example 2 is also fixed by #10030

[2020-10-15 11:54] franzihei opened #10046 "Move Solidity language design discussions to a dedicated forum"
## Updates / Latest Status

We've decided we want to set up a dedicated Solidity Forum based on Discourse.

**Task Tracker**
- [x] Define categories and write introductory texts - done, find it [here](https://docs.google.com/document/d/1THy4XIbeK90v7I7Q4lL4HTbG8EVRfsuVRw7MrTxGUKI/edit?usp=sharing)
- [x] Define guidelines of what will be discussed where etc (e.g. Github issues vs. mailing list vs.

[2020-10-15 12:07] ekpyron commented on #10046
In general I like the idea - discourse seems to be a nice platform for the job, so I'm generally in favor of this or something like this.
But maybe some more points to consider:
 - It will definitely involve maintenance effort - i.e. there are categories and clusters and all those features, but someone actually has to be behind categorizing and clustering stuff ;-), etc.
 - ``All conversations in

[2020-10-15 12:16] ekpyron commented on #10046
Also: maybe not all discussion should be public from the very beginning? I.e. bringing up and discussing an important bug with security experts on the mailing list might want to be kept "privileged" - there's probably a way to have a restricted category in discourse for that to which we grant access to basically the people in the mailing list? Does that work well or is it account chaos? Or would w

[2020-10-15 14:04] chriseth commented on #9737
Adding the referenced events / errors to the AST sounds like a very good idea!

[2020-10-15 15:56] ekpyron commented on #9351
How did you try to build these exactly? Or better yet: do you happen to still have the yul source that triggers the stack error in the end and can make it a gist or so? I just wanted to check if force-enabling https://github.com/ethereum/solidity/pull/10015 would actually make this compilable, but was quickly fed up by dealing with npm and truffle and all that for it... (that is I haven't actually

[2020-10-15 20:59] cameel commented on #909
Here's my proposal for how this would work. I'm still working on the encoding part so here's the part regarding syntax and semantics so that I can get some feedback.

EDIT: This ended up being pretty long so I moved my proposal to a gist: [Enums with data in Solidity](https://gist.github.com/cameel/4d739dc452645539c431ace0d326f146)

Here's [the specific revision of the gist that was originally in