[2018-07-02 09:19] ekpyron opened #4396 "CRLF Line endings in test/compilationTests"
Some of the contracts in ``test/compilationTests`` use Windows line endings (CRLF), e.g. ``test/compilationTests/announcementTypes.sol``. They should probably be updated to LF line endings.

[2018-07-02 10:29] sifmelcara commented on #4382
I think I have fixed the issue but I got some syntax test failures.
I cannot understand these expected results... looks like the expected results are wrong in the first place. Could you share your opinion? thanks :)

[code]

[2018-07-02 10:57] chriseth commented on #4392
Your argumentation makes sense, but somehow I feel that the keywords here do not directly translate to constructors, since you call a constructor only implicitly. Using an external `external` constructor to essentially create `final` contracts is also a little bit indirect for me.

[2018-07-02 10:59] chriseth commented on #4394
Constructor arguments are appended at the end of the code, both when using the `create` opcode and in a creation transaction. This might be a point to clarify in the documentation.

[2018-07-02 11:09] chriseth commented on #2112
The ViewPureChecker mostly implements this now.

[2018-07-02 11:09] #2112 closed, assigned to roadriverrail

[2018-07-02 11:13] chriseth commented on #4382
For the first one: `fa` is the internal version, `this.fa` is the external version of the function.

About "location has to be calldata" - this is a little tricky. If you declare a function as external, then the location of parameters has to be calldata, but I think for external function pointers, this should not be enforced.

The difference between `memory` and `calldata` is only relevant for the

[2018-07-02 11:29] chriseth commented on #3876
If we add things like `functionName.returnTypes` it might be better to use `abi.decode(data, (T1, T2, ...., Tn)) -> T1, T2, ..., Tn`, also it kind of looks cleaner to me. Does anyone think this would be too complicated? For single types, we could also allow `abi.decode(data, uint) -> uint` without parentheses (`(uint)` and `uint` is treated identical by the type checker anyway).

[2018-07-02 13:54] leonardoalt opened #4401 "050 Breaking Features TODO list"
I searched for 050 in libsolidity (latest develop) and these are the places that still mention it and should be worked on. Some of them already have PRs, so please edit this comment linking the PR to the task.

analysis/SyntaxChecker
- [x] Throw (@axic) #4481
- [x] UnaryOperation (add) (@christianparpart) #4408
- [x] Function visibility (@bit-shift) #4430 (blocked by #4403)
- [x] Old style constru

[2018-07-02 15:49] JuliusBrain commented on #2742
Issue is still present in 0.4.24 compiler version. Can we expect fixing this error?

[2018-07-02 16:40] chriseth opened #4405 "Remappings might be buggy"
The following setup does not work, although it should (at it might have in older versions):

[code]

[2018-07-02 19:02] eternauta1337 commented on #4405
@chriseth I've reduced your example to a slighly more readable format and encapsulated it in a small script to verify the error here: https://github.com/ajsantander/solc-imports-test

With it, I verify that the error exists in the following versions (non-exhaustive):
0.4.11
0.4.17
0.4.18
0.4.19
0.4.20
0.4.21
0.4.22
0.4.23
0.4.24

Which makes me wonder if this falback feature ever worked? I suggest

[2018-07-02 22:28] chriseth commented on #4405
I didn't really analyze this yet, but there was a change that made it into 0.4.8, so we probably have to search earlier.

[2018-07-02 22:47] chriseth commented on #4405
Ok, I checked 0.4.7, and it seems it never worked as advertised.

[2018-07-03 09:29] leonardoalt opened #4410 "[050] Enforce error on msg.gas and block.blockhash()"

[2018-07-03 09:39] chriseth commented on #4405
As this problem was not noticed for over a year, perhaps the best solution would be to just delete the mentioning of the fallback mechanism in the documentation.

I would like to try if something like `solc =/tmp/x/ /tmp/bla:/tmp/bla=/tmp/bla /tmp/bla/a.sol` works, but not sure if we should recommend that.

[2018-07-03 12:09] ekpyron opened #4414 "Internal compiler error on multiple variable declaration."
The following code:
[code]

With 0.4.24:

[code]
With current develop:

[code]

A bit troubling that this was not caught by any test (there's tests for state variables, but not for locals).

I suspect this might be connected to scoping @leonardoalt? Do you want to look into it? Otherwise I can take it.

[2018-07-03 12:57] leonardoalt commented on #4414
The bug is also present in 0.4.24 if experimental v050 is used.

[2018-07-03 13:16] chriseth commented on #4405
Remappings seem to be popular and usable. The effects of `=/something` might be unexpected though, and certainly do not provide a fallback feature as suggested in the documentation (perhaps it would even be a security problem if they did).

Because of that I would propose to disallow an empty remapping source starting from 0.5.0.

[2018-07-03 13:42] ekpyron commented on #4414
@leonardoalt Ok, that makes sense - still my guess would be that it's related to scoping. Are you looking into it? Otherwise I'll try to fix it.

[2018-07-03 14:47] raphaelhuefner commented on #3637
Currently battling nested parentheses inside function definitions: https://github.com/ethereum/remix-ide/issues/1359#issuecomment-402183455

[2018-07-03 17:17] ekpyron opened #4416 "Empty var assignments should also be disallowed."
The following code should now (with 0.5.0) generate an error, but currently does not even emit a warning:
[code]
It seems it has slipped through the removal of ``var`` so far, probably because it does not entail an actual variable declaration.

[2018-07-03 17:18] ekpyron commented on #4416
@christianparpart do you want to look into that as well, since you handled ``var`` so far? If not, I can look into it as well.

[2018-07-03 18:40] mathiasestolarz opened #4417 "Internal compiler error on function name collision"
## Solidity version:
0.4.24+commit.e67f0147.Linux.g++

## Source code:
[code]

## Platform:
Ubuntu 16.04.4 LTS

## How to reproduce the issue:
Run a bash script that compiles the contract like this:
[code]

## What was the result of the issue:
This output in the console:
[code]

## What the expected behaviour is:
Correct compilation because of the different signatures the getter of the balance var

[2018-07-03 20:39] chriseth commented on #2663
Using coveralls this could be very helpful to see if all syntax features are caught in the syntax tests (compare TypeChecker.cpp against isoltest). Some links:

 - https://github.com/ethereum/cable/blob/master/CableCompilerSettings.cmake#L118-L129
 - https://github.com/chfast/ethash/blob/master/circle.yml#L100
 - https://github.com/chfast/ethash/blob/master/codecov.yml

Note that the binary used f

[2018-07-03 22:22] D-Nice commented on #4357
The latest nightly still has this issue. Would be nice to see this fixed before 0.5 release.

[2018-07-03 22:44] JamieHarper95 commented on #4339
Hi, if this still needs doing i'm available now??

[2018-07-03 23:58] shad-k commented on #4238
Hey @vs77bb, not sure if you or @chriseth will approve the bounty for this as this was closed earlier with another PR but now @chriseth has merged my PR for this.

[2018-07-04 05:37] ChrisChinchilla commented on #4339
Getting the prs out today :)

On Wed, 4 Jul 2018, 00:44 JamieHarper95 <notifications@github.com> wrote:

[2018-07-04 06:03] leonardoalt commented on #4414
Yes, it's related. I started looking into it but didn't get very far yet: the same error IS reached, but there's an extra piece of code in `ReferencesResolver::endVisit(VariableDeclarationStatement...` that calls `m_resolver.activateVariable(var->name());` regardless.
Feel free to take over if you want, but let me know if you do.

[2018-07-04 07:42] Colonel86 opened #4419 "can not get value from complex struct"
[code]

In remix ,Current version:0.4.24+commit.e67f0147.Emscripten.clang
setData()
getValue()
setComplex()

but call  getData(0, false, 0).
[code]

why "value" and "tempInt" = 0
Logically it should value = 456 and tempInt = 456
What's the reason？

[2018-07-04 08:05] FaranLogicon commented on #232
+1

[2018-07-04 08:12] ekpyron commented on #4414
At the moment I have some other issues I can take care of first, so let's see who's free to really start this first later on :smile:

[2018-07-04 08:27] christianparpart commented on #4416
I can take that.

On Tue, Jul 3, 2018, 19:19 Daniel Kirchner <notifications@github.com> wrote:

--
Christian Parpart
https://chrisitan.parpart.family/
christian@parpart.family

[2018-07-04 08:29] chfast commented on #2663
So you prefer coveralls over codecov?

On codecov the coverage is a big flaky, but I suspect it is gcov issue, not the service.

[2018-07-04 09:07] ChrisChinchilla opened #4421 "Dynamically generate pragma solidity version"
The `pragma solidity` version spread across the documentation is quite inconsistent, it might be a good idea to use [substitutions](http://www.sphinx-doc.org/en/master/usage/restructuredtext/roles.html#default-substitutions) or something similar to bring each example in-line with the version of solidity.

[2018-07-04 09:16] ChrisChinchilla opened #4422 "Contribution docs don't mention docs.sh"
The contribution guide doesn't mention that _scripts/docs.sh_ exists or that it needs to pass for docs related PRs to pass. It's fairly similar to `make html` but not quite as it breaks a build.

[2018-07-04 09:17] chriseth commented on #4357
The bug was introduced with https://github.com/ethereum/solidity/commit/6777f7a57fed6b39128773f13084da729dd64588. I will fix it right away! Thanks a lot for finding and reporting!

[2018-07-04 09:28] chriseth commented on #4357
@axic the old bug was that the free memory pointer was advanced too much, here, "only" `msize` gets too large.

[2018-07-04 11:24] chriseth commented on #4421
The issue is that some code is valid in older versions and some is not. We want to express that with the pragma, but I'm not sure if that is actually of value to the reader since we don't even check that together with our CI.

[2018-07-04 11:30] chriseth commented on #2663
Ah sorry, I did not realize there are two services. One feature we need is separate coverage reports for different binaries. Is that provided by one of them?

[2018-07-04 11:36] chriseth commented on #4419
I do not yet fully understand your code, but do you realize that `data[0][false].push(tempData);` pushes an independent copy of `tempData`?

[2018-07-04 11:36] chriseth commented on #4419
Ah right and this independent copy does not include the mapping type (because mappings cannot be copied), I think that is the problem.

[2018-07-04 11:37] chriseth commented on #4419
We are trying to improve the visibility of implicit copy operations: https://github.com/ethereum/solidity/issues/2435

[2018-07-04 11:56] #4410 closed, assigned to leonardoalt

[2018-07-04 11:56] chfast commented on #2663
You mean separate coverage by source code or by runtime execution of different  set of tests?

[2018-07-04 12:06] chriseth commented on #2663
Separate coverage by runtime execution. I would like to have coverage of TypeChecker.cpp (and others) only through the syntax tests and then a separate coverage report for all other tests.

[2018-07-04 12:09] JamieHarper95 commented on #4339
no worries i'm primarily a web developer so if anything comes up like this again, more than happy to contribute :)

[2018-07-04 12:13] chriseth commented on #4422
It is actually even stricter: All source code snippets in the documentation have to compile without warnings. This is tested inside `test/cmdlineTests.sh` which we could perhaps extract into its own script.

[2018-07-04 12:37] chfast commented on #2663
I will take care of this.

[2018-07-04 12:43] chfast commented on #2663
How to run TypeChecker tests?

[2018-07-04 13:16] ekpyron opened #4427 "Turn uninitialized storage returns into an error?"
In #4415 the warnings about uninitialized storage pointers are turned into an error.
However, there's also a warning about uninitialized storage returns (see ``ControlFlowAnalyzer.cpp``). This was not turned into an error in experimental 0.5.0 mode, but we need to decide whether we still want to turn it into an error now.

Example:
[code]

``f``, ``g`` and ``h`` issue a warning, whereas ``i``, ``j

[2018-07-04 13:17] ekpyron commented on #4427
@chriseth mentioned on gitter, that he is in favour of turning it in an error.
I myself tend to agree.
@axic What about you?

[2018-07-04 14:27] ChrisChinchilla commented on #4421
@chriseth Hmm, I'll look at this later, this was more me parking a few ideas and removing them from my own private Evernote. There may be a more graceful way, but it will require research.

[2018-07-04 14:27] ChrisChinchilla commented on #4339
@JamieHarper95 Please do :)

[2018-07-04 14:29] ChrisChinchilla commented on #4422
@chriseth And this is a very good thing, I just want to make sure future contributors know that.

I am very much a supporter of automating docs testing, I'll show you my language listing stuff some day :)

[2018-07-04 14:35] #3979 closed, assigned to leonardoalt

[2018-07-04 14:53] ekpyron commented on #4416
Pretty much the same thing happens for this case:
[code]

There's even some test cases remaining with similar patterns using ``var`` that never had warnings (that's how I just noticed :)), e.g. https://github.com/ethereum/solidity/blob/7101a8905656d52cf9023a2e4340219d184920c3/test/libsolidity/syntaxTests/nameAndTypeResolution/246_multi_variable_declaration_wildcards_fail_5.sol#L3

[2018-07-04 15:04] cryptomental commented on #4341
I will check latest build from the develop branch and see if it still occurs.

[2018-07-04 15:22] mxmauro commented on #3968
Using forward slashes does not solve the issue.

[2018-07-04 15:25] mxmauro opened #4429 "Cropped link path in generated bytecode"
If you run:

`solc path-to-somefile/somefile.sol (other options)`, the generated bytecode, instead of doing a reference like this:

`__SafeMath.sol:SafeMath__`

inserts this cropped output:

`__src/contracts/SafeMath.sol:Safe__`

Regards,
Mauro.

[2018-07-04 16:49] cryptomental commented on #4341
I built solidity `0.4.25-develop.2018.7.4+commit.cde976ca.mod.Linux.g++` and executed `npm run docker:run:test:security:smt`, fixed a number of SMT errors (mostly about implit casts in Augur.sol emits) and stopped on this one:

[code]

This used to work previously and I am not sure how to change the explicit cast here. In the end the task may take a lot of time. Perhaps @leonardoalt do you happen

[2018-07-04 18:52] ekpyron commented on #4341
To avoid this error you probably want to use ``address(uint160(uint256(get...)))``.

To explain why this now needs to be that verbose: addresses are 160 bits, i.e. 20 bytes wide, so converting from ``bytes32`` needs to truncate. However, you could either truncate the "left" 12 bytes or the "right" 12 bytes, so an explicit conversion is still ambiguous.

Suppose you have
```bytes32 b = bytes32(0x11

[2018-07-05 06:30] Colonel86 commented on #4419
@chriseth Sorry, I didn't describe it clearly. It's causing trouble for you. I'm from China and my English is not very good。
I reorganized the code

[code]

I use the browser remix，The operation is as follows:
setDataMap(123,"0x424344",0,456,0,false)
getData(0,false,0)
result：
0: uint256: a 23
1: bytes3: b 0x424344
2: uint256: value 0
3: uint256: tempUint 0

When I was in the getData() debugger，I

[2018-07-05 07:51] mikro2nd commented on #1213
Still unable to submit to Gitcoin -- network congestion?

[2018-07-05 08:12] chfast commented on #2663
I believe we have a big issue here: tests are done in other CircleCI job.
I'm not sure about it but
1) the .gcno files are stored along the object files, if the corresponding directory does not exist it might not work
2) gcov probably needs the source files to process the data.

[2018-07-05 09:51] christianparpart commented on #4416
@ekpyron this problem did exist also before the var-keyword removal btw. The question is, what kind of failure message do we want to generate on unnamed empty LHS tuples (?).

[2018-07-05 10:11] ekpyron commented on #4416
Yes - they already slipped through the deprecation of ``var`` and didn't have warnings (otherwise you probably would have noticed in the var-keyword removal).

As for a failure message: in #4431 I use ``Variable declaration statement does not declare any variables.`` for the whole declaration statement - but I think we should already catch them earlier and generate an error about ``var`` instead.

[2018-07-05 10:13] cryptomental commented on #4341
Hi @ekpyron thank you for your detailed explanation! I have to write this down somewhere. I will check this asap.

[2018-07-05 10:15] ekpyron commented on #4416
Or no - probably the best way to deal with them would be two parser errors. One stating that ``var`` is removed and then we could expect an identifier at the closing parenthesis (compare with what ``(,) = (1,2);`` and ``() = (1,2)`` do). Do you think that makes sense?

[2018-07-05 10:17] ekpyron commented on #4416
Since it makes no sense to use these constructs anyways, at least I think we don't need to preserve them beyond the parser like with "actual" var declarations :).

[2018-07-05 10:20] cryptomental commented on #4341
Ok great! @leonardoalt , @nuevoalex , InternalCompilerError does not occur anymore after all my changes including the latest one as advised by @ekpyron.

@nuevoalex I will branch off your branch and submit the PR there for you so that you can review and merge this.

[2018-07-05 10:36] ekpyron opened #4436 "Suggestion: Disallow tuple types with less than two components. Replace empty tuple type with explicit void type."
Currently we still have rather weird and somewhat inconsistent constructs in connection with tuples, e.g.
``var () = g()``, ``(uint a,) = (1,)`` being an error, etc.

This can be worked around by continuing to remove ``var`` and disallowing constructs like ``(1,)``, but I think it may make sense to rethink tuple types in general.

Whereas one-element tuples hardly occur "naturally" in the type sys

[2018-07-05 10:38] cryptomental commented on #4341
https://github.com/AugurProject/augur-core/pull/706/commits opened.

For reference I am attaching the pre-released solc 0.4.25-develop.2018.7.4+commit.cde976ca.mod.Linux.g++  with SMT support (requires z3 solver installed). The compiler can be temporarily used until the next version is released.

[solc.zip](https://github.com/ethereum/solidity/files/2166165/solc.zip)

[2018-07-05 12:02] chriseth commented on #4436
I am fine with removing the special case of `(1,)` and just disallowing empty components in tuple expressions (but not in left-hand-sides).

As far as disallowing tuple types of less than two components is concerned: I'm fine with disallowing to explicitly construct such tuples, but I think it is quite nicely handled for function calls:

A function always returns a tuple. A one-component tuple is

[2018-07-05 13:03] ekpyron commented on #4436
Well, the function return type initially is not a tuple, but just a vector of types. The type checker annotates function call types as tuple, unless there's only a single element, in which case that element is used. But there's never one-component tuples involved in all that.

I think it would be consistent if every non-tuple type would at the same time be a tuple-type with one component (so there

[2018-07-05 14:33] chriseth opened #4442 "Add codespell to CircleCI"
[codespell](https://github.com/codespell-project/codespell) is a tool that finds common spelling mistakes and even suggests corrections. We should add that as another workflow item to our CI run on CircleCI. It should run both over the documentation and over the code.

[2018-07-05 15:06] #4357 closed, assigned to nobody

[2018-07-05 15:41] leonardoalt opened #4444 "Codegen: Collect the members that depend on modifier depth and put in a single struct"
In `codegen/ContractCompiler` there are several members that depend on the current modifier depth (`m_modifierDepth`). This could be refactored such that they are grouped.

[2018-07-05 15:45] chriseth opened #4445 "Code of Conduct"

[2018-07-05 22:01] zone117x opened #4446 "NatSpec Json output missing several tag types"
According to the [NatSpec standard](https://github.com/ethereum/wiki/wiki/Ethereum-Natural-Specification-Format#tags) the `@dev` and `@notice` tags can be applied to a contract definition as well as a function definition.

These contract-level tags never show up when using the `compileStandard` function in libsolc. This bug appears to be located here: https://github.com/ethereum/solidity/blob/f3e0

[2018-07-06 02:55] cnusrini commented on #3968
Is this still an open issue? Of not, I would like to try. Please confirm.

[2018-07-06 04:04] chiro-hiro commented on #1686
@fulldecent It's make scene, an offset of message could be better than put a string inside `opcode`. It's less annoying to deal with Unicode encoding.

[2018-07-06 09:09] leonardoalt commented on #4341
@cryptomental great!

I'm confused though, by which task gitcoinbot is talking about, since this won't need any changes on Solidity's side.

[2018-07-06 09:11] leonardoalt commented on #4316
I'm closing this issue since there is no official support to arm and it seems to be a problem in Z3 lib's distribution.

[2018-07-06 09:11] #4316 closed, assigned to nobody

[2018-07-06 09:31] leonardoalt commented on #4391
Hi @dddejan , thanks for reporting! I'll forward the issue to Z3.

[2018-07-06 09:43] vs77bb commented on #3972
@vghorakavi Any update to provide? We may send this back out if we don't hear back soon. Hope you're doing well!

[2018-07-06 09:59] leonardoalt commented on #2109
Closing after #4224 was merged.

[2018-07-06 09:59] #2109 closed, assigned to nobody

[2018-07-06 11:14] tbocek commented on #3168
I would also like to see a precompiled macOS binary, as this would easy the maintenance for e.g., https://github.com/ether-camp/solcJ.

[2018-07-06 12:04] Colonel86 opened #4450 "UnimplementedFeatureError: Not yet implemented - FixedPointType."
`
pragma solidity ^0.4.24;

contract FloatDemo {
    // fixed f1 = 3.45;
    fixed128x19 f3 = -1.23;
}
`
Error while compiling this code：
UnimplementedFeatureError: Not yet implemented - FixedPointType.

But Solidity 0.4.25 says it can be used
https://solidity.readthedocs.io/en/latest/types.html#fixed-point-numbers

[2018-07-06 14:20] qq597353 opened #4451 "Could not compile source code."
The error information is as follows
---------------------------------------------
 Defining constructors as functions with the same name as the contract is deprecated. Use "constructor(...) { ... }" instead.
    function MyToken(
    ^ (Relevant source part starts here and spans across multiple lines).
---------------------------------------------

How to solve
The code is https://www.ethereum.org

[2018-07-06 14:32] erak commented on #4451
@qq597353 The syntax for defining a constructor has changed since the version used in the example. You can fix this by using the new ``constructor`` keyword:
[code]
Please see http://solidity.readthedocs.io/en/v0.4.24/contracts.html#creating-contracts for further explaination.

[2018-07-06 14:46] qq597353 commented on #4451
pragma solidity ^0.4.18;

contract MyContract {
    /* Constructor */
    function MyContract() public {

    }
}
The above code will be wrong, how to modify it?

The error information is as follows.
Defining constructors as functions with the same name as the contract is deprecated. Use "constructor(...) { ... }" instead.
function MyToken(
^ (Relevant source part starts here and spans across mult

[2018-07-06 14:56] qq597353 opened #4452 "Novice needs help.........."
pragma solidity ^0.4.18;

contract MyContract {
    /* Constructor */
    function MyContract() public {

    }
}
The above code will be wrong, how to modify it?

The error information is as follows.
Defining constructors as functions with the same name as the contract is deprecated. Use "constructor(...) { ... }" instead.
function MyToken(
^ (Relevant source part starts here and spans across mult

[2018-07-06 15:12] erak commented on #4452
@qq597353 You can fix this by using ``contract MyContract { constructor() public {} }``.

Please consider consulting https://gitter.im/ethereum/solidity or the documentation (http://solidity.readthedocs.io/en/v0.4.24/) for further questions regarding contract development.

[2018-07-06 15:29] erak commented on #4452
@qq597353 I will close this as a duplicate of https://github.com/ethereum/solidity/issues/4451.

[2018-07-06 15:29] #4452 closed, assigned to nobody

[2018-07-06 15:39] dddejan commented on #4391
Is it an issue with Z3?

I've been using Z3 in other projects and I haven't seen leakage. My experience is through the C interface, but that one also routes through C++.

[2018-07-06 15:56] leonardoalt commented on #4391
It seems so. I ran it locally on my Linux build and Valgrind reports leaks already when instantiating the solver, but also when declaring an integer, for example.

[2018-07-06 17:26] eternauta1337 commented on #4417
Small observation here: Also breaks if the mapping and the function are called something else like "thing".

[2018-07-06 22:06] erak commented on #4451
@qq597353 Can we close this issue? Did you figure out how to migrate your code?

[2018-07-07 05:57] veenaghorakavi commented on #3972
@vs77bb Howdy.  Apologies for the late reply.

PR: I have started working with the CVC4 solver.  Am not sure how to limit the time spent looking for a solution.  I am working on the code in C++.  Hope to start working with Z3 soon.

[2018-07-07 06:40] erak commented on #4450
@Colonel86 Fixed point types are not fully supported yet. The section https://solidity.readthedocs.io/en/latest/types.html#fixed-point-numbers contains a warning, stating that they can be declared, but cannot be assigned to or from. It's also still undecided which of the upcoming compiler versions will support them.

[2018-07-07 10:11] GavinDmello opened #4455 "Unexpected behavior while using solidity string array"
Hello everyone,

I'm using a simple contract.

[code]
This doesn't seem to work properly with ganache. I'm using web3@0.2 .
The first time when I call the function g, I get an array with an empty element like ['']. Also, the mutation to the dps array happens on the subsequent call, the first push always being an empty string.
Everything seems to work smoothly with remix though.

[2018-07-08 03:22] vwo50u commented on #2147
@JechoJekov  it's working for me , thank you

[2018-07-08 14:43] passionofvc opened #4456 "can not build from source, when boost is boost_1_67_0 ."
[code]

[2018-07-09 00:24] PhABC commented on #3876
@chriseth

Posted the following 2 questions in the PR, but here seems more appropriated ;

Would the format `abi.decode(data, (type1, type2, ...))` allow for predefined decoding patterns?

e.g.
[code]
and then `TransferArgs memory transferArgs = abi.decode(data, TransferArgs)`? What would the argument be to use this tupple format otherwise?

Also, I assume it will be possible, but just to be sure,

[2018-07-09 01:32] Colonel86 commented on #4450
@bit-shift  I understand what that means
"they can be declared"
`
ufixed128x18 f;
`
it's allow。

 "but cannot be assigned to or from"
`
ufixed128x18 f= 1.23;

ufixed128x18 f1;

f1 = 3.45;
`
it's not allow.

[2018-07-09 01:34] Colonel86 commented on #4450
@bit-shift Thank you. If you are a relevant staff member who wishes to make the documentation more clear, or if you are not a good feature for this support, you should remove it, or describe it in a unified place

[2018-07-09 08:32] cryptomental commented on #4341
Hi @leonardoalt I would be grateful if you had a look at https://github.com/AugurProject/augur-core/pull/706 , the last comment from @nuevoalex mentions that without SMT enabled compiler throws an error. Looks indeed like a bug in the Solidity compiler.

[2018-07-09 10:06] Colonel86 opened #4457 "Documentation of allowed types in mappings is misleading"
`
mapping (int[2]  => int) public intFixedSizeArrKeyMap;
`
In remix browser
Solidity version
Current version:0.4.24+commit.e67f0147.Emscripten.clang

ParserError: Expected '=>' but got '['
    mapping (int[2]  => int) public intKeyMap;

But the official document does not mention it.
the official document say:"Here _KeyType can be almost any type except for a mapping, a dynamically sized array, a c

[2018-07-09 10:30] #2864 closed, assigned to nobody

[2018-07-09 10:35] chriseth opened #4458 "Fuzzer catches too many exceptions"
The fuzzer currently does not fail on failing assertions.

Example code (from #4417):
[code]

-- found by @mattaereal

[2018-07-09 10:58] leonardoalt commented on #4341
Hi @cryptomental ,
I don't think this is a bug, rather a confusion with your versions.
Please note that the declaration complaints have nothing to do with the SMTChecker, they are part of the normal compiler checks.
Your pre-release binary is above tag 0.4.24, which means it has features that were present in the experimental 0.5.0 mode and are now default, but still has older ones. The `Identifier

[2018-07-09 12:06] erak commented on #4450
@Colonel86 Thanks for sharing your thoughts. We'll take it into account. Since this seems to be resolved, I'll close this issue now. Please re-open if you encounter further issues.

[2018-07-09 12:06] #4450 closed, assigned to nobody

[2018-07-09 12:06] erak commented on #4451
@qq597353 Please re-open if you encounter further issues.

[2018-07-09 12:06] #4451 closed, assigned to nobody

[2018-07-09 13:24] erak commented on #4455
@GavinDmello Did you enable the new, but still experimental, ABI encoder via ``pragma experimental "ABIEncoderV2";``? Because otherwise this won't compile.
Also, have you considered creating an issue in the Truffle project (https://github.com/trufflesuite)? As far as I can tell, this seems to be an issue with Ganache and not the compiler itself (tested with Remix as well).

[2018-07-09 13:37] leonardoalt commented on #3972
Hi @vghorakavi ,
Z3 has a context option to set the time limit via the API, but CVC4 and SmtLibInteface don't. As described above, the general solution would be a portable code that runs the solver on a separate thread and kills it after the time limit answering `Unknown`.

[2018-07-09 13:48] cryptomental commented on #4341
Thank you @leonardoalt for the detailed explanation. I will double check that the non-SMT build behaves as expected with the same compiler.

[2018-07-09 14:13] nei-oliveiraneto commented on #232
+1

[2018-07-09 14:29] cryptomental commented on #4341
@leonardoalt was right.

Non-SMT build uses 0.4.24 compiler, SMT-enabled build uses compiler 0.4.24+ binary with new scoping rules. I reverted the change and made the code compile on both versions. I believe the issue can be closed on Solidity side after Augur team confirms.

[2018-07-09 14:31] erak commented on #4457
@Colonel86 Thanks for opening this issue. The documentation seems to be wrong here about the allowed types.

[2018-07-09 14:38] axic commented on #4456
This is the snippet breaking:
[code]

This is the only `tuple` we have with const references.

@chriseth @chfast is that correct?

[2018-07-09 14:46] chfast commented on #4456
The `std::tie` is not for that. The `std::tie` will create std::tuple<bool&, u256&>. Maybe conversions does not work as expected. You probably want `std::tuple<boo, u256> tuple() const { return std::make_tuple(isInfinite, value); }`.

[2018-07-09 14:52] axic commented on #4421
In any case we should explain the intention in the documentation:
a) if we keep it this way then it should be explained why
b) if we move to a consistent version, then it should be explained why

[2018-07-09 15:58] #3644 closed, assigned to ekpyron

[2018-07-09 18:03] axic commented on #4429
This is by design. It is covered in the ["using the compiler"](https://solidity.readthedocs.io/en/v0.4.24/using-the-compiler.html#using-the-commandline-compiler) section, albeit not well explained.

[2018-07-09 18:07] mxmauro commented on #4429
Thanks @axic for answering.

[2018-07-09 18:55] cryptomental commented on #4442
Running codespell was rather straightforward. The tool returns a non-zero return code if a typo is found. The return code equals the number of typos found.

E.g:

[code]

How should circle ci handle the return code? Just display the number or fail the build if a typo is found?

[2018-07-09 20:45] chriseth commented on #4442
Nice! Please make it fail on any error, i.e. just run it.

[2018-07-09 21:28] axic commented on #4442
@cryptomental also can you please create a PR to fix those typos (except the `iff` ones)?

Is there a way to disable the warning for `iff` in codespell?

[2018-07-09 22:16] axic commented on #4458
I think this was broken by #2213, which means for a year.

For the above example, the error returned is `InternalCompilerError: Requested type not present.`, while the fuzzer is grepping for the text `Internal compiler error`.

[2018-07-10 02:10] vs77bb commented on #4238
Hi @shad-k appreciate your patience here, I just approved the bounty!

[2018-07-10 03:27] nemani commented on #4442
Would like to work on this if the original worker drops it :)

[2018-07-10 05:11] cryptomental commented on #4442
Hi, I will also submit a PR to fix the typos and create a whitelist dictionary that will contain 'iff'.

[2018-07-10 07:43] cryptomental commented on #4442
Hi @chriseth, @axic I opened a PR https://github.com/ethereum/solidity/pull/4462, looks good but let's wait for Circle CI results.

Apart for codespell integration I also fixed all typos, some had to be fixed manually where there was more than one alternative. I included two words in the whitelist: "iff" and "nd", the latter one was included in one of the tests.

[2018-07-10 08:43] GavinDmello commented on #4455
@bit-shift Thanks for responding. Yea, I'm using the `pragma experimental "ABIEncoderV2";`. I think the Rinkeby test net had the same issue as well. I'll confirm and report back in a few days.

[2018-07-10 10:19] axic commented on #4341
@ChrisChinchilla I think it would make sense documenting what @ekpyron explained in https://github.com/ethereum/solidity/issues/4341#issuecomment-402542639

[2018-07-10 10:21] axic commented on #4341
@cryptomental @leonardoalt Did we ever nail it down which contract causes the ICE in SMT?

[2018-07-10 13:02] chriseth commented on #2663
We could afford running the syntax checks (the ones relevant for the type checker twice). The only problem is that this would bean that the whole `build` directory is the build artefact - which would also be ok, I think.

You run the type checker tests by running `./scripts/soltest.sh -t syntaxTest* --no-ipc   ` or with a direct binary: `./build/test/soltest -t syntaxTest* --no-ipc --testpath $REP

[2018-07-10 13:22] leonardoalt commented on #4341
@axic No, but the problem was already fixed in develop.

[2018-07-10 13:34] #4131 closed, assigned to nobody

[2018-07-10 13:37] chriseth commented on #4362
This sounds like the contract reverts at some point. Could you try to find out where exactly that happens using a debugger? It might also be that geth is not switched to byzantium mode.

[2018-07-10 13:39] chriseth commented on #4364
Please re-open if you think there is an opcode the underscore can be mapped to.

[2018-07-10 13:39] #4364 closed, assigned to nobody

[2018-07-10 14:16] chriseth commented on #2963
I'm sorry, we are just not sure whether this is the way to go because it is still a little cumbersome. If we decide to do it like this, we will pick up your docker image again. Thanks for your help and sorry for the bad planning on our side.

[2018-07-10 14:23] chriseth commented on #2742
@Talvish @JuliusBrain could you please explain your set up a little more in detail? The issue is still open because it is not clear whether this is a bug or what the expectation is.

[2018-07-10 14:46] eelkevdbos commented on #2963
No problem, I will look for some other low hanging fruit issue if available.

[2018-07-10 17:53] denisglotov opened #4471 "Gas estimates infinite when using libraries"
The compilation of the following contract results that the gas estimate of the function `Test.increment` is infinite.

[code]

Solc version
-------------
0.4.24+commit.e67f0147.Emscripten.clang

Reproduce steps
------------------
Use Remix, copy the above contract code there, see a blue warning ("Gas requirement of function Test.increment(uint256) high: infinite").

[2018-07-10 19:30] chriseth commented on #4457
The parser only allows elementary type names.

[2018-07-10 19:31] chriseth commented on #4457
I think contracts should be fine, though.

[2018-07-10 19:32] chriseth commented on #4456
Ugh, who in the world wrote that code? ;)

[2018-07-10 19:33] chriseth commented on #4456
Haha, this function is used in `operator<` and because of that, we might have found the heisenbug.

[2018-07-10 20:27] chriseth commented on #2663
Another short-term solution would be to at least add some scripts that automate these checks locally, so that at least before a release we can confirm that we have at least one test case for each error.

[2018-07-10 20:48] shrugs opened #4474 "solc-nightly causes test failures in OpenZeppelin"
hi! I perhaps might have noticed a regression in the latest nightly:

We have a contract and test case that looks like:

[ECRecovery.sol](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/fix%2Fweb3-async-%23999/contracts/ECRecovery.sol#L18)
[code]

[ECRecovery.test.js](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/fix%2Fweb3-async-%23999/test/library/ECRecovery.test.js#L65)

[2018-07-10 20:54] chriseth commented on #4474
We recently added the safety (?) measure to revert on too short calldata. It might be that the second `bytes` parameter is not correctly padded to 32 bytes (yes, I know, this is questionable, but the ABI requires all array elements to be padded to 32 bytes).

[2018-07-10 20:55] axic commented on #4474
We have an open PR against this on OpenZeppelin: https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1050

[2018-07-10 20:56] shrugs commented on #4474
ah, thanks for the link! will fix it today. apologies for not seeing that earlier.

[2018-07-10 20:56] #4474 closed, assigned to nobody

[2018-07-11 02:47] Colonel86 opened #4475 "how use msg.data to retrieve any payload supplied with the fallback function???"
The document said：“Even though the fallback function cannot have arguments, one can still use msg.data to retrieve any payload supplied with the call.”
https://solidity.readthedocs.io/en/latest/contracts.html#fallback-function

Remix
Current version:0.4.24+commit.e67f0147.Emscripten.clang

![1531275662072](https://user-images.githubusercontent.com/11241911/42548237-c6e9f18c-84f8-11e8-8c77-edcb2931

[2018-07-11 03:26] zhongyinglou opened #4476 "Deformity sol files may cause solc exception and crash"
Dealing with deformity sol files, dynamic_cast Operator will throw a  "Unknown exception during compilation." exception cause solc compiler crash.when dealing
Base class reference.
[dynamic_cast.zip](https://github.com/ethereum/solidity/files/2182827/dynamic_cast.zip)

[2018-07-11 08:44] zhongyinglou opened #4477 "Incorrect way of processing data calculation leading solc dos hang"
Incorrect way of processing data calculation leading solc dos hang
data calculation liking a=0e123456789
[0e12345678_hang_compiler.zip](https://github.com/ethereum/solidity/files/2183697/0e12345678_hang_compiler.zip)

[2018-07-11 08:45] karthiknvlr commented on #232
+1

[2018-07-11 08:51] zhongyinglou commented on #4477
Also affects online remix ide

[2018-07-11 09:24] jameschen-epro commented on #4362
Based on your suggestion, I reinitialize the private chain with additional configuration in the genesis.json as below.
[code]
Configuration working confirmed.
[code]
Gas estimated is still infinite though, functions all work well! Appreciate so much.
Hope this configuration could be helpful to others who are encountering the same issue.

[2018-07-11 09:24] #4362 closed, assigned to nobody

[2018-07-11 09:52] #4442 closed, assigned to nobody

[2018-07-11 09:55] #4456 closed, assigned to nobody

[2018-07-11 10:09] cryptomental commented on #4442
Thank you @chriseth for merging it and closing the issue. I would be grateful if you clicked 'Work accepted' on GitCoin as well.

[2018-07-11 12:21] chriseth commented on #4442
@cryptomental it seems only @vs77bb can do that.

[2018-07-11 12:26] chriseth commented on #4419
You cannot use `tempData` or `data` like that. Only use `dataMap`. Especially, the effect of `data.map[_mapKey] = _mapValue;` will not be taken over for the `push`. You have to set it after the push using `dataMap[dataMapUintKey][dataMapBoolKey].length++; uint p = dataMap[dataMapUintKey][dataMapBoolKey].length - 1; dataMap[dataMapUintKey][dataMapBoolKey][p].map[_mapKey] = _mapValue;`

[2018-07-11 12:29] chriseth commented on #4446
Natspec unfortunately never got the love it deserved. I hope we can pick it up again soon.

[2018-07-11 12:32] chriseth commented on #3876
Structs will be supported if you enable `ABIEncoderV2`. Partial decoding sounds useful but is probably not part of the first iteration. I would imagine something like: `x = abi.decode(data, (address, bytes, uint256))` and then using `x[0]` actually only performs the decoding.

[2018-07-11 12:47] chriseth commented on #4475
Did you try to use the debugger?

[2018-07-11 12:47] chriseth commented on #4475
Are you sure the amount of gas you provided is enough?

[2018-07-11 12:58] chriseth commented on #4477
Culprit is the literal `0e12345678`

[2018-07-11 13:17] PhABC commented on #3876
And `x[0]` would return `address`, the first element to be decoded?

[2018-07-11 13:31] cryptomental commented on #4442
Ok thanks I pinged Vivek via Slack.

[2018-07-11 14:26] zhongyinglou opened #4483 "Incorrect struct array processing in sol compiler may cause solc stack overflow"
Incorrect struct array processing in sol compiler may cause solc stack overflow leading possible local code exec

[struct_array_mem_corruption.zip](https://github.com/ethereum/solidity/files/2184875/struct_array_mem_corruption.zip)

[2018-07-11 15:40] chriseth commented on #3876
Yes, indeed. It would be better to also access elements by name, so I think this should still be refined.

[2018-07-11 15:40] chriseth commented on #3876
But once we have that, we might in the future also apply this lazy decoding to functions in general.

[2018-07-11 15:42] chriseth opened #4484 "Lazy ABI decoding"
Follow-up from https://github.com/ethereum/solidity/issues/3876 :

If possible, ABI-decoding should be done in a lazy way, especially in functions marked `external`: Function arguments should be immutable (even value types) and should only be decoded when requested. This is especially useful for deeply nested array and struct data.

Similarly, `abi.decode` could return a special virtual data type

[2018-07-11 15:45] raphaelhuefner commented on #3637
Got the nested parentheses resolved: https://github.com/ethereum/remix-ide/issues/1359#issuecomment-404217516 ... next up is re-integration with Remix IDE

[2018-07-11 15:52] chriseth commented on #3968
@cnusrini please coordinate with @asifmallik , they were still working on https://github.com/ethereum/solidity/pull/4070 two weeks ago.

[2018-07-11 15:59] PhABC commented on #3876
It does sound more efficient. Good idea.

[2018-07-11 16:52] chriseth commented on #4483
The issue is that the compiler wants to compute the storage size of a recursive struct like the following:
[code]

We have checks to find out whether a struct is recursive, but it seems we somehow compute the size before doing the check.

[2018-07-11 18:15] zone117x commented on #4446
Our intellisense / code completion of Solidity contract codegen is vastly improved when the Solidity source has lots of properly formatted NatSpec comments. Unfortunately it's far too common for even well commented solidity contracts to not use NatSpec.

It would be interesting if there was some kind of non-strict mode for comment parsing where function and contract comments without proper NatSpec

[2018-07-11 21:45] #4477 closed, assigned to ekpyron

[2018-07-11 21:46] chriseth commented on #3791
@axic can this be closed?

[2018-07-11 22:05] #4414 closed, assigned to leonardoalt

[2018-07-11 22:20] chriseth commented on #4471
If `val = val.add(delta);` is replaced by `val = Math.add(val, delta);`, the estimator can find a finite value.

My suspicion is that the gas estimator cannot correctly resolve the jump destination because of the masking of the "combined function entry label".

[2018-07-11 22:21] chriseth commented on #4471
So a fix would be to either directly push the correct function entry label at the point where it is called (I think we already use this mechanism already at some other point), or make the gas estimator smarter.

[2018-07-11 22:22] #4458 closed, assigned to nobody

[2018-07-11 22:31] chriseth commented on #4455
Especially since you say that it works with remix, this might also be cause by not using a byzantium EVM on the network you run on.

[2018-07-11 22:33] chriseth commented on #4341
So can this be closed?

[2018-07-11 22:40] axic commented on #4341
You mean `develop` of augur or solidity?

[2018-07-11 22:41] axic opened #4487 "Document the caveats/reasons around explicit conversion between bytes/uint"
A nice explanation is here: https://github.com/ethereum/solidity/issues/4341#issuecomment-402542639

[2018-07-12 01:21] #3791 closed, assigned to nobody

[2018-07-12 04:31] leonardoalt commented on #4341
@axic Solidity

[2018-07-12 04:42] leonardoalt commented on #4341
Original issue: #3405
Fixed by: #4229

[2018-07-12 08:28] chriseth opened #4490 "Calldata arrays with non-value base types should be disallowed by the type checker."
The unimplemented assertion in `ABIFunctions::abiDecodingFunctionCalldataArray(ArrayType const& _type)` should be caught earlier in the type checker or we just implement those types...

[2018-07-12 09:58] chriseth opened #4491 "Update Readme"
From the zeppelin audit:

The README in the root of the project on GitHub is what many users and contributors will read first. Thus, it is very important to make it complete and clear. Currently the Solidity README includes many links to other documents without a clear sequence or intended audience. In particular, this document does not explain the proper way to responsibly disclose security vulne

[2018-07-12 10:05] chriseth opened #4492 "Document how to test the nightly release"
Tell users how they can use remix with the nightly or truffle, etc.

[2018-07-12 10:18] chriseth opened #4494 "Solc should output something if no output is selected"
From the zeppelin audit:

If no output format is specified (those listed under “Output Components” by solc --help), solc will not do any sort of output, but also won’t issue any warnings or notices. This behaviour is confusing, and makes it difficult for new users to understand why their invocation is failing.
Consider either adding a message when no output format is selected, or selecting one (e.

[2018-07-12 11:07] #3672 closed, assigned to leonardoalt

[2018-07-12 12:39] yxliang01 commented on #2165
May I know how this feature is going? I think this would be useful. I realize that there are some source code files look related.

[2018-07-12 14:04] #4476 closed, assigned to nobody

[2018-07-12 16:41] chriseth commented on #4446
Are you talking about regular double-slash comments or just triple-slash comments with errors in the tags?

[2018-07-12 16:42] chriseth commented on #4446
Can you open a new issue for that, please?

[2018-07-12 16:42] #4446 closed, assigned to nobody

[2018-07-12 17:22] #4416 closed, assigned to christianparpart

[2018-07-12 18:12] chriseth opened #4502 "Introduce static elementary types to use"
Code like `IntegerType(160, IntegerType::Modifier::Address);` is very common and should be replaced by something like `ElementaryTypes::Address` (i.e. ElementaryTypes should be a struct that contains several static members initialized to specific instances of the types) at least for the more common elementary types to improve readability.

Note that the Type class inherits from `std::enabled_share

[2018-07-12 23:26] #4483 closed, assigned to ekpyron

[2018-07-13 03:43] jmahhh opened #4506 "Returning double array from library seems to have broken with 0.4.22"
`a()` in the following works under 0.4.22, and throws `UnimplementedFeatureError: Nested memory arrays not yet implemented here` above:
[code]

`b()` works fine across versions. Suspect this may be related to the changes to returning dynamic arrays in 0.4.22 but just guessing.

[2018-07-13 07:55] cryptomental commented on #4341
This issue can be closed on Solidity side, on Augur side it can be closed after https://github.com/AugurProject/augur-core/pull/706 is merged.

Augur's PR enables Solidity version with SMT fixes. After 0.5.0 is released, Augur contracts will likely be upgraded and the SMT will use the released solc version.

[2018-07-13 08:34] leonardoalt commented on #4341
Cool, thanks @cryptomental

[2018-07-13 08:34] #4341 closed, assigned to nobody

[2018-07-13 16:14] Aghorb opened #4509 "How recuperate a result returned by calling a function of another contract."
hello,
I want to recuperate a result returned by a call to a function of another contract in my contract.
My solidity code is bellow, I have

[code]
I tested the function verifyUser of contract B and the result is always true even if the result must be false.
I work with remix  and solidity 0.4.16

[2018-07-13 16:57] kyriediculous opened #4510 "Proxy library always throws"
Hello.

I'm writing a dApp using an upgradeable architecture which I call 'Registered proxy libraries'.
Simply put it's a combination of proxy libraries and contract managers/registries.

This is how it works
storage-contract ---delegateCall() --> Proxy --delegateCall() --> Library

In this repository you will find multiple contracts following this architecture: https://github.com/kyriediculous/bl

[2018-07-13 17:25] chriseth commented on #4510
Most of the time, such behaviour is caused by not using a byzantium EVM in the testnet. Where do you run your smart contracts?

[2018-07-13 17:26] chriseth commented on #4509
Please don't use `dc.call`, but use `A(dc).verifyUser(userAddress)` instead.

[2018-07-13 17:52] yxliang01 commented on #2165
I think this is implemented already. The AST printer can be used via CLI argument like `--ast-json`.

[2018-07-13 18:07] kyriediculous commented on #4510
I was using ganache 1.1.0 but got the same results using Remix JS VM. I haven't tested with Eth-clique yet.

It works now all of a sudden, I did some minor tweaks nothing breaking.

I went through my entry point contract now (which I did before too but didn't work either) and it seems to work.

Thanks for the always quick replies!

[2018-07-14 00:39] jvmaia commented on #4131
Hey @vs77bb,  can you check this bounty? The PR was merged! =)

[2018-07-14 04:42] adrianmcli commented on #2948
I agree that this should be re-opened. Trying to return an array of structs is still an active issue in the community.

[2018-07-14 11:08] vaibhavchellani commented on #4502
@chriseth can you please point me to places where i would need to make changes and add the struct containing Elementary types so that i can accelerate the work a bit , also i could not find any instances of `bytes32` , `unit256` or `bytes` being used like `IntegerType(160, IntegerType::Modifier::Address);`

[2018-07-14 11:24] Aghorb commented on #4509
In fact, in my model, the two contracts must be deployed by two different entities. Hence, I think I must use dc.call to call the function of the contract A since in reality I don’t have the ABI of the deployed contract A.

[2018-07-14 13:30] Colonel86 commented on #4475
@chriseth I have a different way to do it.“Even though the fallback function cannot have arguments, one can still use msg.data to retrieve any payload supplied with the call”

use call can pass msg.data, The following code：
`
contract Person{

    bytes public fail;

    function() public payable {
        fail = msg.data;
    }

    function getFail() public view returns (bytes){
        return f

[2018-07-14 13:38] Colonel86 commented on #4419
@chriseth I did as you said. Thank you very much

[2018-07-15 03:41] #4419 closed, assigned to nobody

[2018-07-15 03:42] #4475 closed, assigned to nobody

[2018-07-15 03:43] #4457 closed, assigned to nobody

[2018-07-15 10:02] MichalZalecki commented on #232
I understand that default parameter can be easier to use, but it's unnecessary:

[code]

Let's keep Solidity simple.

[2018-07-15 10:02] MichalZalecki commented on #232
I understand that default parameter can be easier to use, but it's unnecessary:

[code]

Let's keep Solidity simple.

[2018-07-16 05:23] veenaghorakavi commented on #3972
@gitcoinbot This has been done in error.  I am still working on the issue.  Thank you!

[2018-07-16 09:14] chriseth commented on #2165
@axic could you clarify the meaning of this issue, please?

[2018-07-16 11:38] #3718 closed, assigned to nobody

[2018-07-16 11:46] #4510 closed, assigned to nobody

[2018-07-16 11:48] chriseth commented on #2948
You have to activate an experimental feature: https://github.com/ethereum/solidity/issues/2948#issuecomment-331182206

Having this issue open does not speed up the completion of the experimental feature.

[2018-07-16 11:53] chriseth commented on #4502
@vaibhavchellani please start with all occurrences of `IntegerType(160, IntegerType::Modifier::Address)`. I think something like `ArrayType(DataLocation::Memory)` and `ArrayType(DataLocation::Memory, true)` should also be replaced by something like `ElementaryTypes::BytesMemory` and `ElementaryTypes::StringMemory`, respectively.

The struct should be placed in `Types.h`, I think.

[2018-07-16 11:54] chriseth commented on #4509
I'm sorry, but this issue tracker is not the right place for such questions. Have you tried http://ethereum.stackexchange.com/ ? Please reopen if you think this is indeed related to the compiler.

[2018-07-16 11:54] #4509 closed, assigned to nobody

[2018-07-16 23:27] guidovranken opened #4517 "Memory leaks in CompilerStack"
The following program will result in memory leaks.

[code]

See here for an extensive description of each memory leak and where it was allocated: https://gist.github.com/guidovranken/fe23891be27ac170a523b8a9af66238b

Tested on latest 'develop' branch.

[2018-07-17 07:45] chriseth commented on #4517
I have seen such reports in the past, and I'm not very sure if this is actually the case. Since we are using shared pointers throughout the codebase, the only thing I could think of that could cause this would be circular references.

In any case, since the amount leaked is not too big and the compiler is not a long-running process anyway, I would prioritize this rather low.

[2018-07-17 12:55] raphaelhuefner commented on #3637
Got a version 0.1.0 of the NPM package out: https://www.npmjs.com/package/ace-mode-solidity/v/0.1.0

Here is the PR against Remix IDE to start using that package: https://github.com/ethereum/remix-ide/pull/1415

[2018-07-17 18:39] axic commented on #4494
I think this is a good idea and should clear ambiguity. The goal here is to modify `solc` such that it will output the `Source files are valid, but no output requested.` message if no output artifacts are requested.

[2018-07-17 21:41] axic commented on #4429
@ChrisChinchilla do you want to take a brief look at the mentioned section and see if it explains it well? If you have questions after reading it, then perhaps it doesn't do a good job at.

[2018-07-18 08:49] chriseth opened #4519 "Explicit gaps in storage"
This is a proposal to add explicit gaps in the storage layout of a contract (or perhaps even a struct) to help with upgradable contracts.

The problem is that whenever you want to add new storage members during an upgrade, you can only add them at the very end of the member list. It is even worse if you have two struct variables next to each other, because it basically disallows any modification t

[2018-07-18 08:50] chriseth commented on #4519
This came out of a discussion with @gnidan.

[2018-07-18 09:29] vaibhavchellani commented on #4502
yeah i am working on this issue

[2018-07-18 10:34] chriseth commented on #3564
Shall we try to ping them once more? I fear that we need some person properly in charge for the translations.

[2018-07-18 10:36] anurag-git commented on #4494
I would like to take up this issue. I am new to this so please let me know how to proceed. Thanks in Advance.

[2018-07-18 12:52] chriseth commented on #4494
@anurag-git wonderful! I think this should be a rather small change in CommanlineInterface.cpp. Create a new branch with a pull request against the develop branch. If you have any further questions, please don't hesitate to ask, perhaps also in http://gitter.im/ethereum/solidity-dev.

[2018-07-18 13:07] anurag-git commented on #4494
Hi,

Thanks for the reply.

I forked my own repo and start building the project by following
https://solidity.readthedocs.io/en/latest/installing-solidity.html#building-from-source
".
But I see the error mentioned below. I am trying to debug it but any help
would be appreciated.

[  4%] Built target jsoncpp-project
Makefile:129: recipe for target 'all' failed
make: *** [all] Error 2
Failed to buil

[2018-07-18 13:10] chriseth commented on #4494
Could you come to http://gitter.im/ethereum/solidity-dev ? It's much easier to discuss there.

[2018-07-18 13:31] chriseth opened #4521 "Commit hash can not be determined if build path has a space"
A space in the path name leading up to the build directory makes building impossible. the `scripts/buil.sh` script stops at trying to determine the commit hash.

[2018-07-18 14:35] s1241 opened #4524 "Verifying Ethereum signature by Solidity: “VM Exception while processing transaction: revert”"
## Issue

When I want to verify the `Ethereum ECDSA` signature by `Solidity` contract that has been generated using `ethereumjs` I receive : “VM Exception while processing transaction: revert”. Whereas I can verify this signature by JavaScript code and `ethereumjs` successfully.

**The entire code is presented** [HERE](https://programtheblockchain.com/posts/2018/02/23/writing-a-simple-payment-chan

[2018-07-18 14:45] chriseth commented on #4524
Such problems are usually caused by not setting the EVM version of the runtime to the latest version (byzantium) - especially if it works in some environments but not in all. Could you please check that? Thanks!

[2018-07-18 14:57] anurag-git commented on #4494
Pull request created "https://github.com/ethereum/solidity/pull/4525"

[2018-07-18 15:24] leonardoalt commented on #3972
According to https://github.com/CVC4/CVC4/issues/2174 the CVC4 API also has a way to set time limits, so we probably don't need an extra thread.

[2018-07-18 16:08] #4106 closed, assigned to erak

[2018-07-18 21:57] axic commented on #3324
This was fixed in
https://github.com/ethereum/remix/pull/766.

[2018-07-18 21:57] #3324 closed, assigned to nobody

[2018-07-19 07:44] ldcc opened #4529 "Tuple Array"
Can i use tuples as a type with arrays? Like this:
[code]

[2018-07-19 07:50] chriseth commented on #4529
Tuples are not first-class citizens in Solidity. For now, they can only be used in expressions and for destructuring assignment, but they are not fully-fledged types.

We should clarify this in the documentation.

[2018-07-19 08:50] ldcc commented on #4529
May have any way to stores data like this and consume gas as less as possible? For instance structures array, whether will consume gas too much?

[2018-07-19 09:40] m-schmoock opened #4530 "Introduce a new state variable tx.id"
The transaction ID can be made accessible by a Solidity state variable (i.e. `tx.hash` or `tx.id`. A transaction hash cannot change by the mining process, and will be the same regardless when it is included in a block.

Rationale: I think it can be useful in various scenarios where the transaction ID hash can used in order to generate and keep track of receipts like objects without the need to rep

[2018-07-19 14:50] Ivshti commented on #4116
After a brief discussion with @chriseth, it seems that this should be mitigatable by replicating the behavior of the old require in assembly, but we will have to construct the bytecode of the transfer() call ourselves

@mattdf @decanus thoughts?

[2018-07-20 04:15] KenjiOhtsuka opened #4531 "Question: Can string be mapping key value?"
According to [Types page](https://solidity.readthedocs.io/en/latest/types.html),

`string` seems not to be able to be mapping key.

But, some codes uses `string` as key.

* https://www.toshblocks.com/solidity/general-value-data-types-solidity/
    `mapping (string => uint) public balances;`
* [integer_overflow_mapping_strkey.sol](https://github.com/trailofbits/manticore/blob/b184f4e91612a83d3bac29

[2018-07-20 06:13] vs77bb commented on #4131
@jvmaia Just paid out! Great work here 🙂

[2018-07-20 06:43] vs77bb commented on #4502
Thanks for the update @vaibhavchellani!

[2018-07-20 06:51] vs77bb commented on #3972
Thanks for the heads up, @vghorakavi 😄

[2018-07-20 07:47] chriseth opened #4532 "Properly document the mapping type"
The statements about which keys can be used does not reflect the current state of the compiler.

[2018-07-20 07:48] chriseth commented on #4531
Created an issue to fix the documentation: https://github.com/ethereum/solidity/issues/4532

[2018-07-20 07:49] chriseth commented on #4531
The zero-value for strings is an empty string, but this is only relevant for the mapping values.

Strings should be usable as mapping keys.

[2018-07-20 07:49] chriseth commented on #4339
Has this been fixed? If not, please create a single PR only fixing this one, so we can merge it right away.

[2018-07-20 07:51] chriseth commented on #4529
I'm not sure I understand your question, but indeed, structs are very similar to tuples.

[2018-07-20 09:12] #4339 closed, assigned to nobody

[2018-07-20 09:36] chriseth opened #4535 "Conversion to "bytes" tries to convert to storage pointer"
[code]

Results in `Explicit type conversion not allowed from "literal_string "abcdefg"" to "bytes storage pointer".`

I think it should rather convert to `bytes memory`.

[2018-07-20 11:32] D-Nice commented on #3876
Passing the types as a string would appear to be most flexible imo.

[2018-07-20 12:11] gnidan commented on #597
One more possible other solution:

[code]

The advantage of this is that contracts could define blocks of variables that are colocated in storage, but providing gaps, to extend structs later, etc.

[2018-07-20 18:25] lukas-berlin commented on #4530
This is not possible within the scope of solidity. because you can only use data the EVM is delivering. The tx hash is calculated from the sha3(tx.nonce,tx.gasPrice,tx.gasLimit,tx.origin,tx value,tx.data) The EVM only provides part of this data. You could write an EIP to include new opcodes that provide the tx.hash.

[2018-07-21 00:55] axic opened #4536 "SMT crashes on applying operation on unsupported operation"
[code]

[code]

Removing the `-1`:
[code]

[2018-07-21 01:00] axic opened #4537 "SMT crashes on increment assignment operator within if statemntes"
In https://github.com/OpenZeppelin/openzeppelin-solidity/blob/master/contracts/ECRecovery.sol

[code]

causes a crash

[code]

Changing it to `v = v + 27;` "fixes" it.

Also a separate issue: no warnings are displayed for unsupported assembly block and as a result it just complains:
[code]

[2018-07-21 01:07] axic opened #4538 "SMT crashes on keccak256 in certain cases"
https://raw.githubusercontent.com/OpenZeppelin/openzeppelin-solidity/master/contracts/cryptography/MerkleProof.sol crashes with:

[code]

Commenting out the `keccak256` fixes it, keeping one as
[code]
keeps the crash, however having that in a separate contract within an if statement is not causing the problem, there most be some more context.

[2018-07-21 04:04] #4529 closed, assigned to nobody

[2018-07-22 07:29] sunhe741 opened #4539 "Why the value must be 0 ?"
I use the command to test， when I use --value command , the program cannot get result, however，when I drop the --value command , the vm could return the result.

`aleth-vm/aleth-vm --code "608060405260043610603e5763ffffffff7c010000000000000000000000000000000000000000000000000000000060003504166366a83a4f81146043575b600080fd5b348015604e57600080fd5b5060556067565b60408051918252519081900360200190f35b349

[2018-07-22 07:37] Justme0 opened #4540 "Run install script in CentOs failed, repo link invalid"
In scripts/install_deps.sh, `sudo wget http://repo.enetres.net/enetres.repo -O /etc/yum.repos.d/enetres.repo` failed, because http://repo.enetres.net/enetres.repo is invalid.

[2018-07-22 10:29] decanus opened #4541 "Empty return statement permitted on functions with return values"
When declaring a function with a return type definition, it is expected that the would compiler ensure this return is enforced.

However, the following snippet is completely valid and compiles without any errors

[code]

Tested with:
- 0.4.25-nightly.2018.7.20+commit.d3000e70.Emscripten.clang
- 0.4.24+commit.e67f0147.Emscripten.clang

[2018-07-22 11:12] axic commented on #4540
Thanks! Can you find a new repo for the updated boost?

[2018-07-22 13:11] sunhe741 commented on #4539
could any one help me ?

[2018-07-22 15:31] gnidan commented on #4519
Ref: #597 is a related discussion

[2018-07-23 01:42] KenjiOhtsuka commented on #4531
@chriseth

Thank you for your help.

Another question.
`string` can have too many patterns, so we can create too many mapping key and value pairs.
Can all of them be saved? and where will them be saved? swarm storage?

[2018-07-23 08:08] christianparpart commented on #4541
The return value seems to default to `false` (as of the assembly output). I can confirm that HEAD development isn't generating a warning/error either. Thanks for the report @decanus.

[2018-07-23 10:02] decanus commented on #4541
I think that default only exists because return data is allocated but nothing is pushed into it, so not really a default imo @christianparpart

[2018-07-23 10:36] axic commented on #4541
This has been discussed in #708 and #1401 seems also relevant.

I think this should be part of a design discussion.

Mostly we were on the opinion to delegate these warnings into the Remix static analyzer. It could have a check to ensure that a function either only uses named return value assignments or return statements (or at least if it uses a return variable it must have a value assigned to on

[2018-07-23 10:52] decanus commented on #4541
@axic to me it seems kind of broken that those warnings would be delegated, especially that it is considered a warning. I would assume this to be a clear error.

[2018-07-23 11:04] axic commented on #4541
If it is only a warning, but it still valid code, then there is no way to get rid of the warning by restructuring code (assuming it is valid code). Note: there is no other way to disable compiler warnings, but by changing code. Hence it is delegated to an upper layer.

If we consider it as a deprecated feature, than of course the warning belongs here.

Looking into this again, this seems to stem f

[2018-07-23 11:43] chriseth commented on #4539
This could be related to the `payable` modifier.

[2018-07-23 16:00] #4445 closed, assigned to erak

[2018-07-23 16:40] axic opened #4548 "Move determinism compilation check from solc-js to this repo"
It is currently handled by https://github.com/ethereum/solc-js/blob/master/test/determinism.js by compiling "the DAO" contracts.

Those tests were added in
https://github.com/ethereum/solc-js/issues/19 mostly for having tests for a compiler non-determinism (covered in
https://github.com/ethereum/solidity/issues/17).

[2018-07-23 16:41] veenaghorakavi commented on #3972
Working on understanding CVC4 API.  Will submit PR tonight (PR == pull request).

[2018-07-23 16:43] axic commented on #3972
@vghorakavi great, thank you!

[2018-07-23 16:52] Arachnid commented on #4151
What's the use-case here? Is calling something with the wrong ABI really a common issue? It seems odd to include things that can't affect function selection in the ABI hash.

[2018-07-23 17:01] HarryR commented on #4151
Yes, this is an issue, see the recent debacle about dodgy ERC tokens which dont return anything from 'transferFrom' instead of a boolean value.

If you claim to be compliant with an ABI and the ABI says youll return a bool, but your function returns an int instead - where both the positive and failure code is interpreted as a boolean true, then your function has the same ABI selector but any calle

[2018-07-23 17:01] axic commented on #4548
I'm not convinced the DAO compilation helps in that regard anymore though, since so many updates were made to it and likely it wouldn't cause the same problem again (in particular the modifier on unimplemented functions change very likely would have stopped the problem from occurring).

Therefore I'd be also content with just removing it alltogether.

[2018-07-23 17:51] vaibhavchellani commented on #4502
yeah i am trying to wrap my head around the codebase , i actually did a basic implementation and shall create a PR before the weekend , sorry for the delay guys !

[2018-07-23 18:34] come-maiz commented on #4445
This is super good news, thanks @axic, @chriseth and @bit-shift!
I suggest you tweet about this and make some noise spreading the good news,  maybe some other ethereum projects will join :)

[2018-07-23 19:43] #4319 closed, assigned to erak

[2018-07-23 21:14] ethers commented on #4392
I agree the keywords are awkward; and we should avoid `external` if the effect is intended to prevent inheritance since something like `final` is more understood.

Maybe following is the topic to focus on and find some other keyword than `public` for the constructor?

[2018-07-23 21:43] axic commented on #3452
@yann300 does Remix still uses solc-js and doesn't handle soljson directly?

[2018-07-23 21:48] hdahme commented on #232
+1

I believe @MichalZalecki 's solution works as long as there's only one optional parameter

[2018-07-23 21:49] axic commented on #2996
Is not a problem anymore as `var` is disallowed.

[2018-07-23 21:50] axic commented on #2996
Assigning built in functions to function type should be a new feature and not a bug, closing this.

[2018-07-23 21:50] #2996 closed, assigned to nobody

[2018-07-23 21:50] axic opened #4551 "It should be possible to assign built in functions to function types"
For example this should work:
[code]

Fails with an error currently:
[code]

(This was marked as a bug #2996 previously.)

The reason is that these built in functions have their special type internally, which cannot be represented by function types. While this is not crucial, it could be a nice feature in the future.

[2018-07-23 22:10] axic opened #4552 "Split address type into payable and non-payable"
Current super type is `address`.

`contract` would keep information about the public functions, but would not expose them to the user, however it would enable the compiler to keep certain checks (such as `Value transfer to a contract without a payable fallback function.`).

For example:
[code]

[2018-07-24 02:25] 4000D opened #4558 "Wrong warning on shadowed declaration"
Solidity prints the declaration shadowed warning on a contract like
[code]

But actually, because function `foo` is external, it is not internally accessible in `bar` function unless `this.foo()` or `a.foo()` is used, so I think function `foo` is not shadowed by internal variable `foo`.

[2018-07-24 05:42] aj07 commented on #4491
@chriseth this looks good to me. I have few query like:
1. Installation part we have already included on readthedocs. Do we need to include in readme file. IMO we should keep it in read the docs. Need inputs from community on this..
2. What should we put on related Efforts section ?

[2018-07-24 09:14] axic commented on #4558
Fair point, we may have to discuss this in #3729, but in general I would agree it shouldn't give a false warning.

[2018-07-24 09:16] yann300 commented on #3452
Remix uses `compileStandardWrapper` and solc-js

[2018-07-24 10:31] rayeaster commented on #3040
@dwalintukan that seems not a constructor but a plain function

[2018-07-24 11:17] aarlt opened #4559 "Discussion: Accessing Comments"
I think it would be quite useful to allow access to the comments placed within contracts.

In my understanding comments are mainly just discarded, or parsed as `natspecs` and added to specific AST nodes - `ContractDefinition`, `FunctionDefinition`, `ModifierDefinition`, `EventDefinition` -  the `Statement` is also inherited by `Documented` - but it looks like that the `documentation` information i

[2018-07-24 15:35] leonardoalt commented on #4506
@jmahhh Did you test that on 0.4.21? I had a suspicion that this actually didn't work even though the compiler didn't complain, so I added a function in the library to set the values and tested it on Remix with 0.4.21: the compiler doesn't complain but the values come 0 anyway!
If the version is `>=0.4.22` and `pragma experimental ABIEncoderV2` is used it works fine.
In any case this should work.

[2018-07-24 17:32] #2663 closed, assigned to chfast

[2018-07-24 19:02] kyriediculous commented on #4510
Nevermind.. forgot to set the contract manager address. RIP 20 Hours of my life...

[2018-07-24 20:21] JacobStewart64 commented on #1802
Is this still open? You want the parser to throw a more concrete error? It is a compile error right? Contract must have even number of hex nibbles?

[2018-07-24 21:20] JacobStewart64 commented on #1802
Error message reproduced with 050 branch built from source on Windows. Somebody said something about the SyntaxChecker so I'll look there. Nice build btw, no errors or gotchas. Ty!

[2018-07-24 21:24] JacobStewart64 commented on #1802
Should probably mention that the target in question here is called solc (solidity compiler) it took some wondering on my part lol. EDIT: but apparently there's plenty of other relevant code in all the other projects. It looks like I found an easy fix in theory, waiting to compile and see what kind of toString Token is working with. If I could get the original "12345" out of the token the solution

[2018-07-24 21:32] axic opened #4564 "SMT crashes on solidity-stringutils"
[code]

[2018-07-24 21:47] axic opened #4566 "SMT crashes on MultiSigWallet"
The file `test/compilationTests/MultiSigWallet/MultiSigWallet.sol` crashes with:
[code]

[2018-07-24 21:47] axic commented on #4564
After the assertion added in #4565:
[code]

[2018-07-24 21:51] axic opened #4567 "SMT crashes on MilestoneTracker"
The file `test/compilationTests/milestonetracker/MilestoneTracker.sol` crashes with:
[code]

[2018-07-24 22:15] JacobStewart64 commented on #1802
Alas, I just get "ILLEGAL", I get it now. You don't want this triggering fatal errors do you? Would be nice to include this in a list of syntax errors... looks like I must delve into the syntax checker and pass this illegal token on somehow. Is there any other way to get an illegal token without triggering fatal errors?

[2018-07-24 22:23] axic opened #4568 "SMT crashes on non-integer arithmetics"
[code]

results in
[code]

[2018-07-24 22:53] axic commented on #3756
Sorry for not answering this earlier.

Did you had any chance fixing this problem? I am not sure we can offer much help in Emscripten compilation on Windows. Please have a look at `scripts/build_emscripten.sh` to see how we build it on Linux.

[2018-07-24 22:57] axic commented on #3909
@chfast sometimes I get the same problem as
https://github.com/ethereum/solidity/issues/3909#issuecomment-381986543. @palango solved it by reinstalling boost, but for me it is inconsistent. Any ideas?

[2018-07-24 22:58] axic commented on #3909
I guess I have 1.66 too, perhaps we should suggest 1.67 (with the above instructions) as the minimum required on Mac?

@chfast @ekpyron any opinions?

[2018-07-24 23:00] axic commented on #4391
@leonardoalt did you manage to open an issue for this? If so, can you link it here?

[2018-07-24 23:11] axic commented on #3208
I think this seems to be working now.

[2018-07-24 23:11] #3208 closed, assigned to nobody

[2018-07-24 23:13] #2479 closed, assigned to nobody

[2018-07-24 23:17] axic commented on #4020
I think I am still in favour of `block.timestamp` as that shows clearly where the data is coming from.

[2018-07-24 23:26] axic commented on #3789
Fixed by #4097.

[2018-07-24 23:26] #3789 closed, assigned to nobody

[2018-07-24 23:26] #3781 closed, assigned to nobody

[2018-07-24 23:28] axic commented on #3747
The first case will not be possible anymore after scoping changes. The second case still exists.

[2018-07-24 23:29] axic commented on #3623
This hasn't been occurring since.

[2018-07-24 23:29] #3623 closed, assigned to nobody

[2018-07-24 23:41] axic commented on #4541
Another relevant thread #2951.

[2018-07-24 23:54] JacobStewart64 commented on #1802
Pretty sure I figured out a good way to go about this. Let's expand the Token macro with all sorts of more detailed types of errors and return them as the token type when scanning tokens. There is already a lot of control flow determining what type of token to return. Just return the right type and handle the new types you introduce where needed. Good simple code. Could abstract this stuff further

[2018-07-25 00:36] JacobStewart64 commented on #1802
Working code finished. Figuring out how to contribute seamlessly lol. Pull request incoming!

[2018-07-25 01:22] jmahhh commented on #4506
Hi @leonardoalt I see, my testing on 0.4.21 only went as far as the compiler, didn't actually check for return values. Thanks for the tip! Am I closing this?

[2018-07-25 04:06] sunhe741 commented on #4539
why the function should add the payable ?

[2018-07-25 07:21] chfast commented on #3909
The https://github.com/ethereum/solidity/issues/3909#issuecomment-381986543 problem is fixed in https://github.com/ethereum/solidity/pull/4572.

[2018-07-25 08:15] aj07 opened #4573 "Addition of Maintainers file"
Like Readme, there should be the list of MAINTAINERS file where list of people and their particular domain should be listed.

example:  https://github.com/gluster/glusterfs/blob/master/MAINTAINERS

[2018-07-25 08:17] leonardoalt commented on #4506
Let's leave it open for now. I'm still checking which cases are buggy. We might rename the issue but keep the discussion.

[2018-07-25 08:20] leonardoalt commented on #4391
Not yet, I want to write a minimal example to analyse it better.

[2018-07-25 08:46] leonardoalt commented on #4506
@axic Consider the following code.
After testing on Remix, I have that
- function `values` works, returning `uint256[2][2]: 0,0,0,44975`
- function `libValues` returns `uint256[2][2]: 0,0,0,0`

This only happens to nested arrays (1D works with the library).

[code]

[2018-07-25 09:40] ChrisChinchilla opened #4574 "Incorrect InfoFeed example"
As discussed in a now closed PR, the text around `infoFeed` in _control-structures.rst_ needs tweaking.

![screen shot 2018-07-06 at 17 11 55](https://user-images.githubusercontent.com/42080/43193104-6bc9713a-8fff-11e8-9815-dd209062448c.jpg)

[2018-07-25 09:42] aj07 commented on #4492
@chriseth this question looks perfect for remix docs & truffle docs. Need an opinion on it.

[2018-07-25 09:43] #3909 closed, assigned to nobody

[2018-07-25 09:50] axic commented on #4506
I think in that case this is a compiler bug we should list. In 0.5.0 it is "fixed" by properly detecting in the typechecker that it is unsupported (but also alternatively ABIEncoderV2 works with it).

[2018-07-25 09:53] axic opened #4575 "Inline assembly: properly consider "super" as an unknown identifier as an lvalue"
`super` as an RValue has the `Identifier not found` error, however `super` as an LValue produces the `Only local variables can be assigned to in inline assembly.` error, which suggests it is available.

Found in #4555.

[2018-07-25 10:04] axic commented on #4530
As mentioned by @lukas-berlin the `block`, `msg` and `tx` objects map 1-to-1 onto EVM opcodes. Whatever is available in the EVM we expose there, but cannot do anything else.

[EIP901](https://github.com/ethereum/EIPs/issues/901) suggests the above.

Closing this issue since we cannot do anything unless relevant EIPs are accepted and implemented.

[2018-07-25 10:04] #4530 closed, assigned to nobody

[2018-07-25 10:06] leonardoalt commented on #4506
But why is it unsupported if it's fixed size?

[2018-07-25 10:07] axic commented on #3241
As mentioned the agreed name was Yul and the documentation and code has been reflected for that: http://solidity.readthedocs.io/en/develop/yul.html

However, since the documentation is versioned and we haven't released 0.5.0 yet, the "stable" documentation for 0.4.25 still show Julia. This should go away once we release 0.5.0 and that becomes the "stable" documentation.

[2018-07-25 10:07] #3241 closed, assigned to nobody

[2018-07-25 10:08] #4568 closed, assigned to nobody

[2018-07-25 10:12] axic opened #4576 "Yul: implement continue, break and return in for loop"
Add "break" and "continue" with the usual semantics to Yul. This needs some changes (and further tests) in the following optimizer steps (might not be exhaustive):

Trivial:
 - ASTCopier (et al.)
 - ASTWalker (et al.)
 - DataFlowAnalyzer
 - RedundantAssignEliminator

The structural simplifier could need some additional rules (remove dead code after unconditional "continue" or "break"), but these m

[2018-07-25 11:47] aj07 commented on #4491
Please, let me know if you found any typo or want to suggest any changes

[2018-07-25 12:55] hiqua opened #4579 "Doc: Order of Evaluation of Expressions"
Given http://solidity.readthedocs.io/en/latest/control-structures.html#order-of-evaluation-of-expressions and given this example:
[code]
I understand that the result of
[code]
is unspecified, given that either `u()` or `v()` could be evaluated first (last I tried, `v()` was evaluated first).

Is this correct? Adding such an example to the documentation could help.

Similarly, is the result of:
[co

[2018-07-25 13:42] axic opened #4580 "Apply the style guide to all the code tutorials in the documentation"

[2018-07-25 13:42] axic opened #4581 "Apply the style guide to all the code examples in the documentation"

[2018-07-25 13:43] axic commented on #4580
@ChrisChinchilla if you have interest, you could start with the shortest example and see how it goes.

[2018-07-25 13:48] axic opened #4582 "Configure thresholds on codecov"
For example it seems that 0% change is considered a failure: https://github.com/ethereum/solidity/pull/4570#issuecomment-407755329

[2018-07-25 23:01] randomnetcat commented on #4539
As a safety measure, unless you mark a function as payable, it CANNOT be called with a nonzero value, doing so reverts the entire transaction.

[2018-07-26 01:43] sunhe741 commented on #4539
ok,3q

[2018-07-26 04:56] sifmelcara opened #4585 "Internal compiler error when types nested in types are not defined"
Reproducible in both `0.4.24` and develop.
[code]

[code]
https://github.com/ethereum/solidity/blob/c622a1e56c0a02b890b45fd15f1fb4cb9d119b3b/libsolidity/analysis/ReferencesResolver.cpp#L181-L190

[2018-07-26 05:26] anurag-git commented on #3667
@axic , I would like to look at this issue. Option b says just remove default option which raises `solAssert`. Could you please share more details like:
1) How to reproduce this issue
2) Tests to be performed
3) Any other changes to consider

Also what is really meant by "**careful that the right compiler flags are used**"

[2018-07-26 09:33] chenweiyj opened #4586 "Calling safeWithdrawal() in crowdsale contract failed"
I am using the [crowdsale contract](https://ethereum.org/crowdsale) in the official ethereum site. And I am testing it in Rinkeby network. When the crowdsale is over, `msg.sender` cannot withdraw the ether. The blockchain browser shows the transaction is failed.
[
https://rinkeby.etherscan.io/tx/0x4102c2af42f422cbfe7a45fe52806b4cb418b2ea6f7176932891694cad9b0a55](https://rinkeby.etherscan.io/tx/0x4

[2018-07-26 09:36] axic commented on #4539
I think this is answered.

[2018-07-26 09:36] #4539 closed, assigned to nobody

[2018-07-26 10:26] ChrisChinchilla commented on #4580
@axic I will, but might take this after finishing some other tasks.

[2018-07-26 10:27] ChrisChinchilla commented on #4580
I might also look into automating style tests 🤔

[2018-07-26 11:25] Twibap opened #4587 "My solution for INVALID OPCODE"
**erase code one by one**

so, i can find my logical error code

[code]

[code]

[2018-07-26 13:41] chapati23 opened #4588 "Error reason strings in `require()` and `revert()` are expensive. Is that expected behavior?"
Hey :)

we just upgraded the solidity version for all our contracts to `v0.4.24` and were pretty excited to start adding error reasons to all our `require()`s and `revert()`s.

However, we were pretty shocked to find that in our case this led to an average increase of 10% towards the gas limit.

**Is that expected that error reason strings are that expensive?**

Couldn't find anything in the docs

[2018-07-26 13:59] axic commented on #4588
Do you mean those are the deployment cost after only adding error messages to `require`? If so, how many and how long those error messages are?

[2018-07-26 15:35] chapati23 commented on #4588
Yes, that's what I meant. I think I'm getting a better understanding of this now.

Can you confirm whether the following assumption is correct: Adding the error string `Not Authorized. This function can only be called by the custodian or owner of this contract` to a `require()` would add 60,000 gas towards the block gas limit. String has 95 bytes, so will need three 32-byte slots from storage => 3

[2018-07-26 20:49] Blackening999 opened #4591 "Solidity compiler has limit of assignments to a mapping oO"
Recently, while working with another smart contract we have been surprised in a team how many mappings and mapping assignments there are.

And using method of exclusions - realised that compiler fails if reach a specific limit of performing assignments to a mapping.

Has anyone faced the similar issue?

[2018-07-27 08:55] erak commented on #4591
@Blackening999 Could you please provide an example that triggers the behaviour you described?

[2018-07-27 09:02] vietlq opened #4596 "Add map/filter/reduce/range/all/any to avoid accidental bugs in for loops"
The `for` loops are too verbose and any user can make mistake when increasing/decreasing counters: https://github.com/makoto/blockparty/issues/175

It would be much better to have `map/filter/reduce/range/all/any` like in Python so people can iterate and apply input in consistent and uniform way that is safe and easy to read.

You may refer to all built-in Python functions here:

https://docs.pyth

[2018-07-27 12:00] axic commented on #3972
@vs77bb it seems that unfortunately @vghorakavi didn't had time to finish it and one of the Solidity devs was anxious to get it fixed and did it himself 😉

Can the bounty be removed?

[2018-07-27 12:00] #4521 closed, assigned to christianparpart

[2018-07-27 14:41] erak opened #4601 "Turn msg.value in non-payable function or modifier into error"
After fixing https://github.com/ethereum/solidity/issues/3770, we should discuss if the usage of ``msg.value`` in non-payble functions and modifiers can be turned into an error:
[code]
Output (after PR https://github.com/ethereum/solidity/pull/4590 got merged):
[code]

[2018-07-27 14:42] #3972 closed, assigned to nobody

[2018-07-27 16:39] axic opened #4605 "SMT: add test cases when using both cvc4+z3 in the CI"

[2018-07-27 17:22] erak commented on #4162
I could not reproduce with a VM running Ubuntu 16.04 (64bit) and Chrome 68.0.3440.75.

[2018-07-27 18:32] kingjerod commented on #3971
Any update on this? This is still an issue.

[2018-07-28 09:52] Justme0 commented on #4540
No. I downloaded the newest Boost from official website. But I encountered many problems
similar to issue #538 ，so I installed old version Boost 1.54.0, which is ok : )

[2018-07-28 10:57] axic opened #4610 "Change readthedocs so that the "latest" tag points to the last release"
Currently it seems to be pointing to "develop".

[2018-07-28 11:01] rafialhamd commented on #4610
Maybe there should be '**develop**' too, in addition to '**latest**'... so that one could fix things like this!

[2018-07-28 11:13] axic commented on #4610
There is `develop` on readthedocs already 😉

[2018-07-28 11:15] rafialhamd commented on #4610
Thanks! It's far below... didn't notice!

[2018-07-28 11:23] axic commented on #4587
I am not sure if you have a question, the second source looks better, though it is really expensive unboundedly iterating storage.

Please comment if you think we should reopen the issue.

[2018-07-28 11:23] #4587 closed, assigned to nobody

[2018-07-28 11:27] axic commented on #4588
It will not be part of storage, but more likely be stored as a combination of push and mstore.

This input:
[code]

Is compiled to:
[code]

Then deploying this bytecode is of course charged per non-zero byte, of which there are a lot due to the messages.

[2018-07-28 11:29] axic commented on #4601
I think the reason behind this might have been that the same modifier can be used by payable and non-payable functions.

Is there any reason to keep this? Can we turn the warning into an error?

[2018-07-28 11:30] axic commented on #4580
That would be cool. Probably there is a linter somewhere already.

[2018-07-28 11:31] axic commented on #4552
@chriseth need to discuss this, I think we should have this for 0.5.0.

[2018-07-28 11:41] axic commented on #2991
Sorry for the delay in noticing the answer and thank you for expanding on it.

I think in general this goes against Solidity's goal of explicitness. I am sure having a trailing comma for example in a return parameters list could be interpreted by the user in multiple ways. (Does it return an extra unnamed parameter?!)

As a result I think while there might be some benefits (for example with diff),

[2018-07-28 11:44] axic commented on #2991
I suggest to close this proposal. @chriseth @ekpyron @bit-shift @leonardoalt @christianparpart anybody for keeping this?

[2018-07-28 11:45] #3165 closed, assigned to nobody

[2018-07-28 11:48] axic commented on #3739
Okay reproduced the issue:
[code]

This works however:
[code]

Closing this however, since in 0.5.0 `emit` is a keyword and this problem goes away by disallowing `function emit()` in the first place.

[2018-07-28 11:48] #3739 closed, assigned to nobody

[2018-07-28 11:49] axic commented on #4164
This is tracked in #4259.

[2018-07-28 11:49] #4164 closed, assigned to nobody

[2018-07-28 12:01] #4370 closed, assigned to nobody

[2018-07-28 12:02] axic commented on #4156
Another example from @leonardoalt:

Code:
[code]

Current  error message: `Undeclared identifier. Did you mean "f"?`

It should suggest the use of `this.f`.

[2018-07-28 12:03] axic commented on #4307
Lets track this in #4156.

[2018-07-28 12:03] #4307 closed, assigned to nobody

[2018-07-28 12:04] axic commented on #3625
Timeout has been added in #4593.

[2018-07-28 12:04] #3625 closed, assigned to nobody

[2018-07-28 12:07] axic commented on #3823
This now finishes in 10 seconds (just before the timeout kicks in) for me on Z3:
[code]

[2018-07-28 12:09] axic commented on #4089
We missed to put this onto the 0.5.0 project.

[2018-07-28 12:10] #4089 closed, assigned to nobody

[2018-07-28 12:11] axic commented on #4016
Likely this was fixed. Please reopen if it still persists.

[2018-07-28 12:11] #4016 closed, assigned to nobody

[2018-07-28 12:13] axic commented on #3983
What do you mean by library call change?

[2018-07-28 12:13] #3983 closed, assigned to nobody

[2018-07-28 12:15] axic commented on #3944
The first step here is to compile the documentation in strict mode, e.g. fail if there are any warnings. This can be done by adjusting `tests/commandlineTests.sh`.

Then all the appropriate warnings must be fixed.

[2018-07-28 12:17] axic commented on #3890
What is this issue exactly about? That we should use `Release` in testing?

[2018-07-28 12:19] axic commented on #3851
Well actually we need int256, uint256 and unlimited precision. The last requirement might put intx out of scope for this.

[2018-07-28 12:20] #3845 closed, assigned to nobody

[2018-07-28 12:22] axic commented on #4156
Another find from @chriseth:

[code]
produces ` Undeclared identifier. Did you mean "a"?`

[2018-07-28 12:22] axic commented on #3747
Tracked in #4156.

[2018-07-28 12:22] #3747 closed, assigned to nobody

[2018-07-28 12:23] axic commented on #3733
Please follow the compiler instructions, add a proper checksum to `0x9dae7bf014e83fdb2fd11a3ed99e775f58b256d9`.

[2018-07-28 12:23] #3733 closed, assigned to nobody

[2018-07-28 12:26] #3656 closed, assigned to nobody

[2018-07-28 12:27] axic commented on #3610
Sorry for the late response. Solidity cannot due much, it must be fixed in Remix. Please open an issue on Remix.

[2018-07-28 12:27] #3610 closed, assigned to nobody

[2018-07-28 12:29] axic commented on #3524
Tracked in #3672.

[2018-07-28 12:29] #3524 closed, assigned to nobody

[2018-07-28 12:29] #3504 closed, assigned to nobody

[2018-07-28 12:30] axic commented on #3457
Tracked in #4261.

[2018-07-28 12:30] #3457 closed, assigned to nobody

[2018-07-28 12:36] axic commented on #3223
This should be relieved now by that fact that with C++ scoping variables are freed at the end of their scopes. This creates the option to have sub blocks for short lived variables.

However, the proposal here still stands and is valid. The feature however is more costly than using the stack.

[2018-07-28 12:37] axic commented on #3222
This is now supported by having C++ scoping.

[2018-07-28 12:38] #3222 closed, assigned to nobody

[2018-07-28 12:40] rmeissner commented on #3983
I assume it was
[code]
but not exactly sure anymore, too long ago. If you want I can try to reproduce my issue :D

EDIT: I cannot reproduce the issue :/ not sure what happened there :(

[2018-07-28 12:49] axic commented on #1801
With Constantinople's `CREATE2` opcode this might become a reality.

[2018-07-28 12:51] axic commented on #1618
I propose to remove it and we focus on #2296.

[2018-07-28 12:52] axic commented on #2165
It says it in the description:

[2018-07-28 12:52] axic commented on #1771
cc @aarlt

[2018-07-28 12:53] axic commented on #4559
I think #1771 is a relevant issue?

[2018-07-28 12:57] axic commented on #3983
No, that shouldn't apply here. It is still called via `SomeLib.calledSomeLibFun();` so the compiler will use `delegatecall`.

[2018-07-28 13:07] axic commented on #3252
So my current proposal is then:
[code]

This is consistent with the language, because the `event` definition is the same structure as a `struct` and the `emit` statement follows how named parameters are passed.

Apart from the definition change it should also disallow emitting events the old style, without naming the arguments.

[2018-07-28 13:08] axic commented on #3252
I would like to discuss this in 0.5.0 (potentially just allowing the the event definition to support both syntaxes), but restricting the `emit` part only in 0.6.0.

[2018-07-28 13:10] axic commented on #3044
With Constantinople's `extcodehash` feature this should also support `address.hash` or `address.codehash`.

[2018-07-28 13:24] axic commented on #2928
Ping @conor10

[2018-07-28 13:27] axic commented on #1603
@chriseth isn't this fully supported via ABIEncoderV2?

[2018-07-28 13:38] axic commented on #434
The original issue statement should be extended that this should apply to all low-level calls: `call`, `delegatecall` and `staticcall`.

In that case we'd need to come up with 3 new names, which seems a bit too much namespace pollution.

[2018-07-28 16:43] axic opened #4612 "Drop support for old boost"
I would really like to drop support for old boost, because we are adding workarounds for old boost versions (most recently some pragma cleanup in #4602).

The reason we are tied to boost 1.54 (released in 2013!) is the fact hat @chriseth wants to keep compilation supported on Ubuntu LTE versions and Trusty Tahr has 1.54.

Interesting fact, Xenial has 1.58.0 and for that version we include a header

[2018-07-29 17:42] aj07 opened #4613 "Addition of checklist item"
In http://solidity.readthedocs.io/en/v0.4.21/contributing.html  there is a pull request section. There is a need to add checklist and  criteria before sending any PR.

Checklist [this section needs to be added]

    Code compiles correctly
    All tests passing
    Created tests which fail without the change (if possible)
    Extended the README / documentation, if necessary
    Used meaningful co

[2018-07-29 22:29] aarlt commented on #4559
@axic Thx! Seem to be a relevant issue. So should I add the comments to the AST? I just want to ensure - before I do anything - that it makes sense and is useful for others.

[2018-07-30 03:49] pieterhartel opened #4614 "solc compiler bug related to character encoding of the source"
I have written a 4-line contract called foo.sol (below), which confuses the compiler. The first problem is that the error message points at the wrong text because the compiler does not know how many bytes a special character (the copyright symbol) needs. There are five occurrences of the copyright symbol and the arrow to the offending text is five positions off. The second problem is, that this bu

[2018-07-30 07:19] ChrisChinchilla commented on #544
@mancze Hey, there, I'm working on the Solidity docs for the team right now, before I start on this myself, did you ever make a start to the PR you mention above?

[2018-07-30 07:39] mancze commented on #544
Hi. No, I did not make the PR. I was unable to find out how precisely are indexed arguments handled.

[2018-07-30 07:51] leonardoalt commented on #2991
@axic I agree with you

[2018-07-30 07:55] ChrisChinchilla commented on #1093
@chriseth I tested the script, and it seems to still work and be valid, might be nice in the long run to break this out into a repo with basic docs etc. In the meantime, I'll create a PR.

[2018-07-30 08:02] leonardoalt commented on #3823
Yea but apparently couldn't it solve anyway =/

[2018-07-30 08:06] leonardoalt commented on #3890
There was a group of students who contacted us on Gitter about a project they were running, and they mentioned `Release` tests were several times faster than `Debug` tests, so I ran these. We haven't heard from them since then though.

[2018-07-30 09:40] chfast commented on #4612
Yes, it is possible to static link newer version of boost.

[2018-07-30 10:10] chriseth opened #4617 "[CLI] Solc should report if there was no contract to compile"
Follow-up of https://github.com/ethereum/solidity/pull/4525 :

After that PR, solc properly reports why it does not output anything. There is still one edge, case, though: If you compile a file that does not contain any contracts, it still does not output anything. We should report something like 'input did not contain any contracts'. We should also check what happens if contracts are present but

[2018-07-30 10:39] axic commented on #411
Is this still needed or covered by the remix static analyzer?

[2018-07-30 10:59] axic commented on #2095
Documentation tracked in #4261.

[2018-07-30 11:00] axic commented on #2931
Documentation tracked in #4261.

[2018-07-30 11:19] axic commented on #3060
@leonardoalt @chriseth @ekpyron I think with the new scoping rules this could be improved in certain cases.

[2018-07-30 11:21] axic commented on #2087
The desugaring documentation has been removed, since we're going with Yul instead.

@chriseth can this be closed?

[2018-07-30 11:38] ChrisChinchilla commented on #3320
A note here for @axic and @chriseth I met some people at DAppcon who might help with regular Chinese translation. I will follow up soon.

[2018-07-30 11:51] leonardoalt commented on #4585
The same happens in `Types.cpp:2389` if the argument is not `external`

[2018-07-30 11:52] zxhubo commented on #1550
I have a question:
my contract code is :
contract Test1 {

    mapping(uint256 => uint256) z;

    function test1(){
         z[233]=234;
         z[234]=1;
     }
}

and I have been deploy this contract used by Remix,then invoke the test1()  method. I debug this function In Debugger ,so Can see
the Storage completely loaded:

    0x27fdb72814febb9410af57bca307f47028ec5b79245df092b7f15c66aea257e5:

[2018-07-30 11:53] loredanacirstea commented on #3672
I assume this will also affect `modifiers`?

E.g. If I want to move `require(channel_identifier > 0);` from the function code to a modifier, like this:
[code]
I get into the `stack too deep` error. So, as far as I see, the reason is `channel_identifier` being added to the `stack` multiple times and not being removed after the modifier's scope is finished.

[2018-07-30 11:54] axic commented on #3672
Please see #3060.

[2018-07-30 11:56] zxhubo commented on #1550
@hievan2016

[2018-07-30 12:36] ChrisChinchilla commented on #4259
@axic

Can I find most of the details needed to meet what's needed in the various referenced issues and PRs?

And Is this also made against `develop`, or a different branch?

[2018-07-30 12:44] chriseth opened #4620 "Potential improvement of syntax test annotations"
This is inspired by the test syntax of flint by @franklinsch : https://github.com/flintlang/flint/blob/master/Tests/SemanticTests/invalid_types.flint

Perhaps we should move expected errors in syntax tests that span only a single line as a comment into that line:

[code]

where the numbers indicate the covered columns. This way, modifications in other lines will not create conflicts and it is easy

[2018-07-30 12:50] chriseth commented on #4548
The bug was only visible when a contract was compiled twice without resetting the javascript runtime between the two compilation runs (and thus causing different memory allocation behaviour).

Currently, the only way we can find such issues now is by using the cross-platform bytecode comparison tests, but I think we should still also have such a test here, perhaps with a better code base, as you s

[2018-07-30 12:51] axic commented on #4548
Sure, but we can move it as Javascript based tests, just as we do with Zeppelin & co.

[2018-07-30 13:52] ChrisChinchilla commented on #3172
@axic Looking into this one, I'm having some technical issues which I'll investigate, but mostly I wondered if these tests are all contained in the _scripts/tests.sh_ script as it's not completely clear if this includes the docs tests? If so, I might clarify that in another PR.

[2018-07-30 14:02] #2167 closed, assigned to ChrisChinchilla

[2018-07-30 14:03] axic commented on #3172
I think it is done in `test/commandlineTests.sh`.

[2018-07-30 14:54] #3148 closed, assigned to nobody

[2018-07-30 14:54] #3149 closed, assigned to nobody

[2018-07-30 14:58] axic opened #4622 "Clarify assembly grammar"
Currently there are two places for assembly grammar:
- grammar.txt
- the Yul chapter in the documentation

It would make sense to clarify them to have matching understanding or somehow merge the two (see https://github.com/ethereum/solidity/issues/3151#issuecomment-340270780 for more information).

See also this by @federicobond as a comprehensive description: https://github.com/solidityj/solidity

[2018-07-30 15:05] lorenzb opened #4623 "`--allow-paths` does not resolve relative paths correctly"
I ran into some ergonomics issues related to `--allow-paths` and symlinks.

## Problem description

Say I have two contracts `Foo` (in `foo.sol`) and `Bar` (in `bar/bar.sol`) and assume that `foo.sol` imports `bar/bar.sol`.

This obviously works:
[code]

If we move `bar.sol` behind a symlink, everything still works:
[code]

... or not, depending on where the symlink points to:
[code]

Weird, maybe

[2018-07-30 15:07] relyt29 commented on #4623
4. Add a "force-follow-symlinks-unsafe-who-needs-security-anyways" option

(Edit: note I don't think this option is the best idea, just wanted to make it known that it is also an approach)

[2018-07-30 17:39] vs77bb commented on #4502
Hi @vaibhavchellani do you have an update to provide today/tomorrow? If not, we may have to send it back to the crowd.

[2018-07-30 18:02] vaibhavchellani commented on #4502
hey @vs77bb , opening up a PR before tomorrow .

[2018-07-30 20:30] vs77bb commented on #3972
@axic Just notified Greg from MakerDAO to pull the bounty here, thanks for the heads up 🙂

[2018-07-30 21:09] BrendanChou opened #4624 "State that data representation of enums is the same as in C"
We should probably not say it explicitly like that but explain that values are assigned subsequent integers starting from zero.

Original issue:
----
Solidity documentation does not guarantee that the underlying integer values are 0,1,2,3... for enum types. See: https://solidity.readthedocs.io/en/v0.4.24/types.html#enums

Please either guarantee these values, or if they are already guaranteed, the

[2018-07-30 21:15] axic commented on #1602
I think #2899 will solve this.

[2018-07-30 21:17] axic commented on #3618
Sorry for the delay. I haven't fully read this thread yet, but proposed to have an `annontatedType` next to the current *encoding* `type` field. See #2899.

[2018-07-30 21:21] axic commented on #4624
I  agree that it would be nice clarifying this. Since values of `enum`s cannot be defined in the syntax, it seems logical that we make commitment (and document that) to how the values are assigned.

Later we could considering overriding the values as a syntactical feature, if desired.

[2018-07-30 23:05] axic commented on #4259
The references PRs don't really add too much, they are different issues all caused by not compiling the contract for the right EVM version.

What needs to be added is:
- the compiler has an option to select the target EVM version
- must list the target options and state the default is byzantium
- should add it into the standardjson documentation and the cli documentation

All of it should be again

[2018-07-30 23:21] axic commented on #3385
Current behaviour:
[code]

will have an error message of:
[code]

I think this is solved by that extra message added in #3640.

[2018-07-30 23:21] #3385 closed, assigned to nobody

[2018-07-30 23:25] axic commented on #3423
Fixed in #3423.

[2018-07-30 23:25] #3423 closed, assigned to nobody

[2018-07-30 23:58] axic commented on #4517
It seems most of those issues are about ownership of shared pointers. For example the ownership of `parameterTypes` in `FunctionType`. `FunctionType::asMemberFunction(bool,bool)` creates it and passes it on to a newly created type.

[2018-07-31 00:13] axic opened #4627 "Improve test coverage of the Scanner"
`libsolidity/parsing/Scanner.cpp` has a test coverage of 69% when running the syntax tests, but 92% when also running the semantics (end-to-end) tests.

Should add test cases to the `tes/solidity/syntaxTests` directory.

Missing cases:
- unicode escapes
- upper case hex values
- multiline comments
- `Token::Dec`, `Token::AssignSub`, `Token::AssignBitOr`

[2018-07-31 06:31] u2 opened #4628 "Return after selfdestruct"
Hi, I want to return some data after `self-destruct` instruction.
[code]
I have tested in Remix, but it always return false.
In the [docs of solidity](https://solidity.readthedocs.io/en/v0.4.24/assembly.html?highlight=selfdestruct#opcodes), the description as below

selfdestruct(a) | - | F | end execution, destroy current contract and send funds to a
-- | -- | -- | --

So, I think the `return true

[2018-07-31 08:58] axic commented on #4628
Thanks! Yes it would be nice to show unreachable code, we have an issue tracking that feature in #2340.

I'm not sure how frequently people try to return something after `selfdestruct`, but I think it would be possible to show a warning in Remix specifically for cases like this, @soad003 ?

[2018-07-31 09:15] axic commented on #4601
@chriseth any opinion on this?

[2018-07-31 09:17] axic commented on #4573
Note that we are following the goal that there is no specific ownership, rather everyone should be familiar with every part of the compiler.

Given the codebase is relatively small, this should be possible as of today. This may change in the future if it grows significantly.

[2018-07-31 09:38] #4118 closed, assigned to nobody

[2018-07-31 09:38] axic commented on #4119
This seems to be a Remix issue. They have changed their ABI encoder, which may be more or less strict in cases.

[2018-07-31 09:38] #4119 closed, assigned to nobody

[2018-07-31 09:57] axic commented on #4531
A mapping always uses a hash as the key (the input is hashed), so this question exists for every kind of mapping.

[2018-07-31 09:57] #4531 closed, assigned to nobody

[2018-07-31 10:03] axic commented on #4455
I think this should be covered by #4259.

Please comment if setting the proper network in Ganache doesn't solve the issue.

[2018-07-31 10:03] #4455 closed, assigned to nobody

[2018-07-31 10:09] #4585 closed, assigned to leonardoalt

[2018-07-31 10:09] christianparpart commented on #3935
@axic I am trying to reproduce the test case, however, it just doesn't crash but takes very long to compile.

[2018-07-31 10:15] axic commented on #3935
This may be actually down to the different stack size of MacOS, where it still crashes.

[2018-07-31 10:45] #4186 closed, assigned to nobody

[2018-07-31 12:46] leonardoalt commented on #3823
@axic Can we close this?

[2018-07-31 12:48] axic commented on #3823
Well it doesn't hang. Do we need another issue to track if it solves it wrongly?

[2018-07-31 12:50] leonardoalt commented on #3823
I don't think it solves it wrongly either, it just doesn't solve it. We'll have to live with unsolved nonlinear cases ;)
In any case, I think CVC4 actually solves this.

[2018-07-31 12:53] axic commented on #3823
Workarounded by #3972 and hopefully with #4351 this is a lesser issue.

[2018-07-31 12:53] #3823 closed, assigned to nobody

[2018-07-31 13:11] ben-kaufman opened #4630 "Proposal: Increase transfer and send gas limit"
Currently, ``transfer()`` and ``send`` address functions have a limit of ``2,300 gas units``.
As far as I know, this limit was added to prevent reentrancy attacks.
This limitation should be enough (in general) for some small (gaswise) operations, for example, triggering events.

I believe this limitation is too restrictive and should be raised to around ``3,500 gas units``.

My main concern regard

[2018-07-31 13:21] axic commented on #4630
Since the 2300 gas is added by design of the EVM (when there is a non-zero value transfer), there is nothing the Solidity compiler is doing here.

Note: the compiler adds an extra piece of code to ensure 2300 is sent even when the value being sent is 0.

As you noted, the goal with `transfer` is to only offer value transfer based on the protocol rules and to not facilitate general function executi

[2018-07-31 14:15] axic commented on #4630
@ben-kaufman does this answer your question/proposal?

@ChrisChinchilla is the documentation properly describing this caveat of `transfer`?

[2018-07-31 21:35] chapati23 commented on #4588
Ok, thanks. I think a little warning or note in the docs reminding users that error strings can get expensive would be nice but as I have a better understanding of this now, I’ll close this.

Thanks for the explanation @axic

[2018-07-31 21:35] #4588 closed, assigned to nobody

[2018-07-31 21:50] #4573 closed, assigned to nobody

[2018-08-01 06:28] meherett commented on #2742
### import_remappings will fix this error
compiled_sol = compile_source(contract_source_code, import_remappings=['=./pathDirectory', '-'])
**Compiled source code**

[2018-08-01 07:11] ben-kaufman commented on #4630
@axic Yes, thanks.

[2018-08-01 07:11] #4630 closed, assigned to nobody

[2018-08-01 07:48] ekpyron commented on #4612
I think this would make a lot of sense. Maintaining compatibility with a broad range of versions of boost is always a pain and that's unlikely to get better in the future.
We could discuss which version of boost makes up a good baseline as a compromise between the needed amount of workarounds and the need to build a custom version on various distros. Maybe 1.67 is too much - statically linking hur

[2018-08-01 09:38] chriseth opened #4633 "Rename `DataLocation::Default` to `DataLocation::Unspecified`"

[2018-08-01 09:40] ChrisChinchilla commented on #4630
@axic I had a look, and it's mentioned in a few places as being a 'gas stipend', but not really anywhere that it's a limit, which seems important, so I'll create an issue/PR for this.

[2018-08-01 09:52] axic commented on #4630
Thanks!

[2018-08-01 09:55] leonardoalt commented on #4536
@axic Wasn't this fixed by your PR?

[2018-08-01 09:55] chriseth opened #4634 "Allow type definitions at global level"
(there might be a duplicate of this issue)

Currently, all top-level objects have to be contracts, but it would be very helpful to at least allow definitions of structs and enums at global level (although even internal functions might).

This would make it easier to use structs with libraries:

[code]

Merely importing this file will provide direct access to the struct and functions for it. Allowi

[2018-08-01 10:08] axic commented on #4536
After #4565:
[code]

So I guess it is better.

[2018-08-01 10:08] #4536 closed, assigned to leonardoalt

[2018-08-01 10:10] chriseth opened #4635 "Allow mapping storage parameters for library functions"
Since  library functions allow storage struct parameters, storage mapping parameters should also be allowed. This would enable us to modularize some things:

[code]

[2018-08-01 10:10] axic commented on #4634
It is in #4029.

[2018-08-01 10:11] chriseth opened #4636 "Give a modular example for an ERC 20 implementation in the Solidity by example section"
We should check if that implementation really is in line with the recent security recommendations for ERC20 implementations. Perhaps we should even implement one of the newer standards.

[code]

[2018-08-01 10:12] chriseth commented on #4636
The advantage of this modular approach is that if we only use `send` to modify balances, we can be sure that there are no overflow risks and no tokens can appear out of thin air.

[2018-08-01 10:14] chriseth opened #4637 ""closed" structs"
This came out of https://github.com/ethereum/solidity/issues/4636 - it might make sense to declared certain structs to be closed in the sense that any write access to members of the structs can only be performed inside a certain library. This way, auditing the behaviour of such structs can be limited to auditing the library itself. For a token contract, for example, we could have certain functions

[2018-08-01 10:15] chriseth commented on #4029
Also enums.

[2018-08-01 10:16] chriseth commented on #4634
Thanks!

[2018-08-01 10:16] #4634 closed, assigned to nobody

[2018-08-01 10:18] leonardoalt commented on #4536
Yea I'm working now on having unknown values for unsupported operations, so we don't see this Internal Error anymore.

[2018-08-01 10:25] ekpyron commented on #4637
Sounds like a good idea. It will probably be possible to sneak around this restriction at the EVM/assembly level, but it will probably still be helpful.

[2018-08-01 10:28] axic commented on #4637
Sounds good, I wonder if we should just add function members on structs for doing so? (No proposal yet.)

I guess adding function members is the C++ way and what we have now is kind of the Rust way.

[2018-08-01 10:30] ekpyron commented on #4029
+1

[2018-08-01 10:48] axic opened #4638 "enums with specified values"
Currently `enum`s cannot have values specified by the user, they always start from 0 and steadily increase.

Proposal is to support user specified values in the form of:
[code]

The colon makes sense because we use this syntax for named arguments already.

I would suggest that this is introduced with strict rules: either all of the items have their value specified or none of them. This avoids the

[2018-08-01 10:52] #4320 closed, assigned to chriseth

[2018-08-01 11:48] #3935 closed, assigned to christianparpart

[2018-08-01 12:48] axic commented on #4630
An EIP has been proposed to change this: https://github.com/ethereum/EIPs/issues/1285

[2018-08-01 13:03] chriseth opened #4640 "Add helper function that joins vectors of strings"
Add a helper function to `CommonData.h` that takes a vector of strings (or perhaps just a template that can be used in a range-based for loop) that does the following:

Returns a single string where all elements are joined by a separator (default is `", "`) where optionally the last separator can be different (for example `" or "`).

The first one can be solved using boost::algorithm::join, but no

[2018-08-01 13:17] axic commented on #2884
@chriseth I think we implemented everything here?

[2018-08-01 13:20] chriseth commented on #1815
This should be an error.

[2018-08-01 13:28] chriseth commented on #4405
By @axic: Documentation have its own section about remappings, because it can be used both on the commandline and the standard-json.

[2018-08-01 13:34] ekpyron commented on #4427
Meeting decision: turn into error.

[2018-08-01 13:45] spalladino commented on #2741
Should the field also include whether the optimiser was used, in case a bug is found only in the optimiser of a particular compiler? Or can this information be retrieved easily from other part of the binary?

[2018-08-01 13:47] chriseth commented on #4291
Clarification: Without ABIEncoder2, structs should be disallowed in events both as indexed and non-indexed parameters.

[2018-08-01 13:48] chriseth commented on #4292
Please check if his works properly with ABIEncoderV2 and `indexed`.

[2018-08-01 13:48] axic commented on #4291
There is also a counterpart to this issue with dealing with structs in memory: #4292

[2018-08-01 13:57] axic commented on #4299
Currently it emits an error:
[code]

[2018-08-01 14:01] axic commented on #4635
I think this a good idea, extends the usability of libraries.

[2018-08-01 14:02] chriseth opened #4641 "Uninitialized mapping storage pointers should be considered by the static anlysis component"

[2018-08-01 14:03] axic commented on #4636
I think this should use `move` instead of `send`.

[2018-08-01 14:03] ekpyron commented on #4641
Related: #4427

[2018-08-01 14:22] chriseth commented on #3252
My opinion is that a change in the syntax does not provide a real benefit and forces many changes in existing code.

[2018-08-01 14:51] axic commented on #4066
Potentially while implementing this, the bugs in #4156 might be fixed.

[2018-08-01 15:06] axic commented on #2741
Good idea. It cannot be retrieved from anywhere, but the metadata JSON.

[2018-08-01 15:07] chriseth opened #4642 "Document semver syntax supported in version pragmas"
Add short introduction to semver and explain caret in the version pragma section.

From https://github.com/ethereum/solidity/pull/4214

Quoting @axic: I'd vote to have a short intro to semver with some useful patterns we use (^0.4.24, >0.4.24 <0.5.0, 0.4.24).

[2018-08-01 15:07] axic commented on #2741
Some proposal from todays meeting:
- use the compact (32bit) version encoding and include flags in it
- use the compact encoding, but include flags in CBOR (`prerelease`, `optimiser`)

[2018-08-01 15:18] chriseth commented on #2884
Yes!

[2018-08-01 15:18] #2884 closed, assigned to nobody

[2018-08-01 15:32] ekpyron commented on #4552
I vote for only using ``address``, but to let ``address`` internally contain an optional field containing information like the fallback payability, etc. This field(s) would be present, if the ``address`` was converted from a contract, and not present, if it was converted from an integer.
In case this information is present, errors can be issued, e.g. for calling transfer when the fallback is nonpa

[2018-08-01 15:35] axic commented on #4552
A couple of suggestions came up on the meeting:
- the one described by @ekpyron
- to have two address types: `address` and `payableAddress` (the latter refers to an address which as an external account or one with a payable fallback)
- to have the above `contract` type
- to have the above suggestion but name it `account`

I think the proposal described by @ekpyron is the most reasonable one if we

[2018-08-01 16:26] vs77bb commented on #4066
Just bountied this one. For any bounty hunters, please note that the full bounty scope requires taking a look at the bugs in #4156 as well. Happy to tip extra if this is completed in < 1 week!

[2018-08-01 16:26] axic commented on #3372
@ChrisChinchilla this about documenting what tradeoff the "runs" parameter is setting. It may also be properly documented.

[2018-08-01 16:27] axic commented on #3224
I think this may need to be brought up with Truffle.

[2018-08-01 16:27] #3224 closed, assigned to nobody

[2018-08-01 16:27] norhh opened #4643 "Regarding the solc --bin-runtime for a contract"
I have a question regarding solc. solc doesn't give any byte code for the contract MintableTokenImpl for this [code](https://etherscan.io/address/0x6342eabec28aec4902432d852dcd08d4f6df96ab#code) .All the bytecode of MintableTokenImpl is being placed in ZenomeToken contract  when
 `solc -o out  --bin --bin-runtime --asm --opcodes file.sol` is run, it doesn't seem like MintableTokenImpl is an interf

[2018-08-01 16:30] axic commented on #1272
Removing `accepted` as I do not think this is fully spec'd.

[2018-08-01 16:35] axic commented on #715
Removing the label `accepted` here because I think this merits a thorough review in 0.5.1

[2018-08-01 16:39] axic commented on #4586
In the above transaction you are not actually calling `safeWithdrawal()`, just making a regular transaction.

This question is better suited for https://ethereum.stackexchange.com/

[2018-08-01 16:39] #4586 closed, assigned to nobody

[2018-08-01 16:44] ekpyron commented on #3942
Current status:
Implicit conversions from any literal to any bytesNN types is allowed without warning or error, even though padding rules may not be clear (i.e. this Issue still needs to be fixed, only bytesNN to [u]intMM conversions were done in previous PRs, not literals).

To be discussed:
Which implicit conversions are allowed and how to specify the "intended" size, resp. type, resp. implicit

[2018-08-01 16:45] axic commented on #2136
Would that counter be shared across the contract for all creates, specific to the create in a certain code location or specific to creating a specific contract?

[2018-08-01 16:47] leonardoalt commented on #4291
I tested the following code on Remix, and if I call `set` and then `f`, the log is
[code]

[code]

Any idea why the repetition?

[2018-08-01 16:56] ekpyron commented on #3942
Also possible: Hex literals of the form ``0x0012`` are always integers (of the minimal size that the value fits in) and there is no suffix for bytes types, but only literals like ``hex"0012"`` are ``bytesNN`` (size determined by string length). So no implicit conversions from ``0x0012`` and similar to ``bytesNN`` at all.

Most radical would be to entirely decouple literals from integers in general

[2018-08-01 17:38] ekpyron commented on #4552
The disadvantage of my suggestion above is that ``address`` as a function argument or as type in a variable declaration cannot be required to be an address that's payable.

However, the suggestion can be extended with an optional ``payable`` specifier for argument and variable declarations of ``address`` type, as follows (similarly to storage specifiers):

[code]

The default "payability" would be

[2018-08-01 18:01] ekpyron commented on #4299
And declaring them emits two warnings.

[code]
yields:
[code]
[code]

The second warning is rather weird.

[2018-08-01 18:04] axic commented on #4299
I think the second one is a bug 😉

[2018-08-01 18:05] axic commented on #3942
I think the best approach is that the literal length and the `bytesNN` size must match. This gives an instant visibility of size. Then the user can up/downscale with explicit conversion.

[2018-08-01 18:09] ekpyron commented on #3252
I don't see much harm in allowing both event definition styles, even in the long term - that way everybody can decide for themselves whether they think of events as sets of data like structs or as functions :).
Fortunately, function calls with named arguments and struct initializations indeed have the same syntax, so no problem there.
Going that way this change could be done in any non-breaking re

[2018-08-01 18:10] axic commented on #3252
Actually I had this as a comment there but probably it is worth elevating it into its own discussion.

[2018-08-01 18:23] ekpyron commented on #4620
Thinking about this some more, I'm starting to like it. Maybe we should use ``///`` instead to distinguish from "normal" comments (or something else like ``//!``). We can also consider such a comment in an otherwise empty line to refer to the line above or below - however, it may be problematic that it's not quite clear which one it would be.

Maybe even:
[code]
Not sure about that, though.

This

[2018-08-01 19:08] ekpyron commented on #4262
The SMT checker pragma could also be part of the "setup" in expectation blocks and such expectation blocks would only be considered if not globally disabled with ``--no-smt``.

[2018-08-01 19:34] aarlt commented on #4640
Didn't thought too much... but what about
[code]

[2018-08-01 19:53] #4417 closed, assigned to ekpyron

[2018-08-01 20:37] ekpyron commented on #3942
So ``bytes1(0x1)``, ``bytes1(0x01)``, ``bytes1(0x12)``, ``bytes2(0x0012)``, ``bytes2(0x123)``, ``bytes2(0x1234)`` are valid and ``bytes1(0x0023)``, ``bytes1(0x123);``, ``bytes2(0x1)``, ``bytes2(0x12345)`` are invalid?
We can argue about odd numbers of digits.
I'd be fine with that, if all agree.

We may consider an exception for ``bytesNN(0x0)``, since padding is irrelevant there.

[2018-08-01 20:55] axic opened #4647 "SMT: change value into <result> or something better"
[code]

In this example `value` corresponds to the unlimited precision result of the operation, which is then trunacted to the range of the output (in this case `c`)

I think `<result>` would be an appropriate replacement, especially as that is an invalid variable name and wouldn't be confused as a variable.

[2018-08-01 20:57] axic opened #4648 "SMT: display large values in a nicer format"
[code]

I think the values should be displayed in a more friendly way. @ekpyron suggested that it should detect powers of 2 and powers of 2 minus one and display them accordingly.

It is hard to compare these numbers without sitting down to compare/calculate.

[2018-08-01 20:59] #4396 closed, assigned to nobody

[2018-08-01 21:04] ekpyron commented on #4648
We could also consider counting the (pairs of) trailing zeros and replace them by ``* 2^x`` or by ``<< x`` if the count exceeds a given value, let's say ``8``. At least partly - maybe for each ``* 2^(2^n)``, which are the "usual" data type boundaries.

[2018-08-01 21:09] axic commented on #3942
I think odd numbers of digits is fine as long as it fits into the type of course.

That could be a good idea.

[2018-08-01 21:13] leonardoalt commented on #4552
@ekpyron 's idea is my favorite so far. I'd like to keep the keyword `address` for all that, and the `payable` modifier sounds like a nice explicit requirement to me.

[2018-08-01 21:26] axic commented on #4552
So to summarise the proposal:
- `address` has a statemutability property now, with two states: nonpayable, payable
- explicit conversion from a contract, which has a payable fallback, leads to a payable address
- implicit/explicit conversion from an integer always leads to a payable address
- `.transfer()` is only present on payable address
- payable address can be implicitly converted to address

[2018-08-01 21:27] ekpyron commented on #4552
Yes, that's the idea.

[2018-08-01 21:30] axic commented on #4552
With the external interface we have to consider that `address` in the ABI always represents `address payable`, as a result, an `external` or `public` method can **only** use `address payable`, otherwise we must raise an error.

[2018-08-01 21:36] ekpyron commented on #4552
@axic Hm - I hadn't thought about that. This may be a problem. An ``external`` or ``public`` method may not even call ``transfer`` or otherwise require the ``address`` to be ``payable`` and I may want to call it with a nonpayable ``address``... which I wouldn't be able to, since there is not even an explicit conversion.

[2018-08-01 21:43] ekpyron commented on #4552
Maybe it is not actually a problem to allow ``address`` (nonpayable) in ``external`` or ``public`` methods, even though it will be ``address payable`` in the ABI.

[2018-08-01 21:52] axic opened #4651 "SMT: have a cmake option to disable z3 and/or cvc4 even if an installation is found"
This can be useful mostly in the case when there is an installation issue and the compiler fails to compile, but the user cannot/don't want to uninstall the dependency.

It shouldn't be more than 2-3 lines of cmake code.

[2018-08-01 22:20] #4647 closed, assigned to nobody

[2018-08-02 04:22] thekevinbrown opened #4652 "Optionally calling a function on an external contract with a bytes parameter"
We're trying to partially implement ERC223 such that:

- If the recipient is a non-contract address, they simply receive the tokens
- If a recipient contract implements the `tokenFallback` function, it gets a correct, ERC223 call to `tokenFallback`
- But if a recipient contract doesn't implement `tokenFallback` then the transfer still succeeds

I tried using `to.call()` to do this, but as soon as

[2018-08-02 10:20] axic opened #4653 "Proposal to have "external contribution" label on PRs"
To signal that it is being done by a volunteer contributor and that we should pay more attention at responding in a timely manner.

I think however we should have this written in the contributors guide so that no confusion arises as of why is there such a label.

[2018-08-02 10:23] axic commented on #4652
Using `call` is fine when you know what you are doing, but the way it works will significantly change in 0.5.0 (you can verify that with some of the latest nightly builds of "0.5.25" - I know, it is confusing).

What is the signature of the `tokenFallback` function?

[2018-08-02 10:38] thekevinbrown commented on #4652
I'm definitely not insisting on using `call`, I just need to be able to either:

 - Check if the function exists before I try to call it, or
 - Call it and ignore the case where it fails

The signature of `tokenFallback` is here: https://github.com/Dexaran/ERC223-token-standard/blob/master/token/ERC223/ERC223_receiving_contract.sol#L15

[2018-08-02 10:40] axic commented on #4652
Instead of
[code]

I suggest using
[code]

[2018-08-02 11:05] chriseth commented on #4653
What about creating a project or project column for that?

[2018-08-02 11:29] axic commented on #3667
From the original issue:

Basically this proposes that `switch` statements handling call kind should not have a default case, but let the compiler catch unhandled cases with the `-Wswitch-enum` flag.

[2018-08-02 11:30] axic commented on #3667
I guess adding a `static_assert` could also be an option? @chfast what do you think, would a compiler optimise out such a default case if all the cases are handled explicitly in the switch?

[2018-08-02 11:43] chfast commented on #3667
I'm not sure what you want to `static_assert`.

But compilers warn about this starting from GCC 4.x when using `-Wall`, the specialized flag is `-Wswitch`:
https://godbolt.org/g/oMQ5Nt

I suggest to remove the default case to detect the problem at compile-time instead of run-time. I hope you don't cast integers to enums.

[2018-08-02 13:27] chriseth commented on #4445
Adding a code of conduct is a first step, but not a big achievement. Enforcing it properly is the tough task, so I'm not sure if we should already celebrate this as good news.

[2018-08-02 13:37] chriseth commented on #4558
The call to `resolveName(...)` in `DeclarationRegistrationHelper::registerDeclaration(` - line 484 also searches for invisible declarations - and the function `foo` is invisible. I'm not 100% sure why we did this, but I think it is better to warn about such cases than not warn about other cases.

[2018-08-02 13:48] chriseth opened #4658 "circleci: Disable generation of coverage data on tag builds"
This is only relevant if we ever release binaries from circleci.

[2018-08-02 14:09] chriseth commented on #4020
Asked the twitter oracle: https://twitter.com/ethchris/status/1025020694910914563

[2018-08-02 14:50] ekpyron opened #4660 "Link against shared boost in PPAs and add a CI task for testing such builds."
Came up in #4589.

Maybe we should even switch to using shared libraries by default and add explicit CI tasks for static linking instead. Static linking makes sense for binary releases, but IMHO it should not be the default.

[2018-08-02 15:19] axic commented on #4652
@blargity does this answer the question? Can we close the issue?

[2018-08-02 15:50] chriseth commented on #4643
`MintableTokenImpl` is indeed abstract. There is an easy way to check which will also give you the reason it is abstract: Add a snippet like the following to your code:
[code]

The compiler will tell you:
[code]

[2018-08-02 15:50] #4643 closed, assigned to nobody

[2018-08-02 15:52] chriseth commented on #4291
Can you try to retrieve the raw data of the event? Perhaps it is a bug in the decoder.

[2018-08-02 16:02] chriseth commented on #4541
I'm actually surprised this is not a duplicate of an existing issue.

I'm fine with disallowing `return;` if there are return parameters. We might even take this into 0.5.0.

[2018-08-02 16:03] chriseth commented on #4541
It should be a trivial change at the beginning of `TypeChecker::endVisit(Return const&)`

[2018-08-02 16:20] mattaereal commented on #4651
I already did this. I'm doing a PR soon.

[2018-08-02 17:43] aarlt commented on #4640
AWESOME!!!11 😂😂👍👍

[2018-08-02 17:44] chriseth commented on #4552
I also like the proposal, but have some questions:
 - Why is explicit conversion from address to address payable not possible?

As far as the ABI is concerned, please note that the ABI has always been less strict: You can use `contract` types as function arguments which are just translated to `address` as far as the ABI is concerned. The types are only enforced in solidity-to-solidity calls.

[2018-08-02 17:44] chriseth commented on #4552
oh and I wonder if integers should be payable by default - I would argue that you have to do `address payable(0x....)` to do get the transfer function.

[2018-08-02 17:47] chriseth commented on #4637
So we would have something like

[code]

although we should find a better keyword there :)
[code]

[2018-08-02 17:48] chriseth commented on #4638
This sounds like a complication, but perhaps not an unsafe one.

I would opt to put that in 0.6.0, though.

[2018-08-02 17:58] federicobond commented on #4637
+1 on the proposal. It would become an "opaque" data structure. right? I vote for overloading the keyword `private` for this use case.

Opaque structs should not allow instantiation via raw struct constructors. Any initialization should be done via an exposed library function.

[2018-08-02 18:03] ekpyron commented on #4552
When would you ever want to explicitly convert from ``address`` to ``address payable``? Especially if integers are always payable, then you would always be in a bad situation, if you attempt to do that cast...

I don't really like explicit casts of the form ``address payable(...)`` (i.e. split into two keywords) syntactically and the idea was that explicit conversions always have the form ``addres

[2018-08-02 20:52] mattaereal commented on #4651
Done!

[2018-08-02 21:02] chriseth commented on #4648
Please note that the utility function currently in use has to be split for use by the smt component for human-targeted output and the yul optimizer for yul output (which can only have simple hex or decimal numbers, but those should still be "readable").

[2018-08-03 00:22] aarlt commented on #4559
@chriseth i had some time to understand the related code a bit better.. my first impression of the code was not fully wrong. it looks like that comments will really just get discarded - but in contrast doc strings will be available per `AST` node that is `Documented`. After there creation the documentation is only accessed through the `DocStringAnalyser` that will just extract `natspec` specific d

[2018-08-03 00:56] thekevinbrown commented on #4652
@axic, unfortunately no, the call still doesn't work for me:

https://ethfiddle.com/9qGqGkGkTE

[2018-08-03 01:18] chase1745 commented on #4633
I can do this once #4518 is merged👍

[2018-08-03 03:23] lirycoac opened #4666 "Can set but not get when calling another contract on private chain"
Here's my code, including the caller and called contract:

	pragma solidity ^0.4.24;

	contract Called {
	    string info = "default";

	    function setInfo(string _info) public {
	        info = _info;
	    }

	    function getInfo() view public returns (string) {
	        return info;
	    }
	}

	contract Caller {
	    Called called;

	    constructor(address addr) public {
	        called = Ca

[2018-08-03 06:30] ChrisChinchilla commented on #4259
@axic To check, the top comments says:

The latest one doesn't. Still want those too?

[2018-08-03 07:51] chriseth opened #4667 "Remove function VariableDeclaration::canHaveAutoType()"
It should not be needed anymore with 0.5.0

[2018-08-03 08:20] chriseth opened #4668 "Perform proper analysis about when a storage pointer cannot yet be used"
Example from https://github.com/ethereum/solidity/pull/4664#discussion_r207313476:
[code]

[2018-08-03 08:43] chriseth opened #4669 "Disallow using storage pointers before they are assigned."
For example, disallow the following:
`function f() returns (StructType storage b) { b.someMember = 6; return g(); }`

[2018-08-03 08:45] chriseth commented on #4669
Usage in this context is any reference to the storage pointer unless it is an lvalue, i.e. `g(b)` would also be invalid.

Note that once we have this, we are already half-way towards enforcing `mutable` / `immutable` and it might be rather easy to introduce this in 0.5.1 with a pragma.

[2018-08-03 08:45] #4427 closed, assigned to ekpyron

[2018-08-03 09:16] chriseth commented on #4637
@federicobond good point about instantiation - you are totally right! Although this might be difficult for storage structs and zero-initialization, especially for structs as mapping values.

As far as the syntax is concerned: Would you propose `struct S private to LibraryName { ... }`?

We could also use `struct S internal in LibraryName { ... } ` or
`struct S { ... } LibraryName implements S`.

`

[2018-08-03 09:21] chriseth commented on #4637
Actually it would even make sense for this to implicitly enable `using LibnaryName for StructType`, so perhaps this could be an extension of the `using` directive and not the struct declaration - of course this only becomes useful once we allow `using` at the file level, but then it might be complicated to get the import semantics right....

[2018-08-03 09:21] chriseth commented on #4637
So in the end, we should perhaps both have `using` and `private to LibraryName` as part of the struct type itself and not local to some scope.

[2018-08-03 09:22] zhaohongyin commented on #4666
I deployed your contracts in Remix online IDE..
Called contract works well but the Caller contract just can get and can not set
here is the error message Error: VM Exception while processing transaction: revert
BTW, I used ganache and metamask

[2018-08-03 09:23] ekpyron commented on #4669
This involves refining the control flow graph to consider the order of execution - currently it only determines whether a statement *is present* inside a block that will be executed, but not in which order a set of statements will be executed.

[2018-08-03 09:24] chriseth commented on #4668
Duplicate of #4669

[2018-08-03 09:24] #4668 closed, assigned to nobody

[2018-08-03 09:47] chriseth commented on #4666
Did you set the EVM version of your executing environment to `Byzantium`? The recent versions of the compiler use some features that are not present in the older EVM versions.

[2018-08-03 09:53] ekpyron commented on #4641
The following is already an error (``Type is required to live outside storage.``):
[code]
i.e. mappings cannot be returned.
[code]
is also already an error ``Uninitialized mapping. Mappings cannot be created dynamically, you have to assign them from a state variable.``.

So it seems like nothing has to be done here.

[2018-08-03 09:57] chriseth opened #4670 "Mappings cannot be returned from internal functions"

[2018-08-03 09:57] chriseth commented on #4641
Argh, but this is bad, I would consider this to be a bug to be fixed for 0.5.0. New issue: https://github.com/ethereum/solidity/issues/4670

[2018-08-03 10:01] ekpyron commented on #4641
Yes, I was wondering, whether this was actually ever intended :).

[2018-08-03 10:22] chriseth commented on #4574
Can you link the PR comment? Closed PRs are not deleted and can be linked just as open PRs can.

[2018-08-03 10:27] chriseth commented on #4575
Would this be a good "help needed" issue of medium difficulty?

[2018-08-03 10:51] ChrisChinchilla commented on #4574
@chriseth I could not find it when I last looked, but strangely now I can :/

https://github.com/ethereum/solidity/pull/4420#discussion_r200077162

[2018-08-03 11:00] axic commented on #4259
Sure, all of this detail is useful. Practically it is one sentence: compiling for the wrong EVM version likely can result in wrong, strange and failing behaviour. Please ensure, especially if running a private chain, that the correct EVM version is used. Note: there might be cases where backwards compatibility exists between different EVM versions, but deducting that is the onus of the user.

[2018-08-03 11:26] axic commented on #3637
@vs77bb I am a bit confused, it seems there are two bounties now: this and https://github.com/ethereum/remix-ide/issues/1359.

The Remix changes are covered by the Remix bounty I guess.

The Solidity changes (local to this repo) were solved by #4180.

[2018-08-03 11:58] chriseth commented on #4506
Decision on call: Severity medium, potentially low/medium depending on whether this is out in the wild or not.

[2018-08-03 12:54] axic opened #4672 "Review, document and potentially fix issues listed in solidity-idiosyncrasies repository"
See: https://github.com/miguelmota/solidity-idiosyncrasies

[2018-08-03 13:03] spalladino commented on #4637
Maybe I'm missing something, but if the struct is to be instantiated and modified only inside a certain library, shouldn't it be defined in that library as well? So, instead of having a `using Struct private to LibraryName`, the struct is defined within the library and must be referred to with a qualified name when used. Something like:

[code]

[2018-08-03 13:05] ekpyron commented on #4670
What about the following:
[code]
~~Currently, if just allowing mapping returns syntactically, this will end up writing 4 to key 1 in **n** :).~~
Currently, this does not work as expected (further investigation required).

So we should:
  - Fix this, so that it will write to key 1 in ``m`` and to key 2 in ``n`` and correctly return ``n``.
  - ~~Try to detect a second assignment and make it an error

[2018-08-03 13:12] chriseth commented on #4670
This code here seems to work as expected:
[code]

[2018-08-03 13:23] ekpyron commented on #4670
Hm... I'll recheck, at the moment I can't reproduce the behavior from before, maybe I did something wrong before...

If it turns out to indeed work, we can probably allow assignments to local mapping variables right away.

[2018-08-03 13:26] ekpyron commented on #4670
Yes, it seems that it in fact works for local variable. I'll create another PR that allows assignments for them in general and will add some semantics tests for them.

[2018-08-03 13:33] hongxuchen opened #4673 "Unexpected hangs on some crafted sol files"
Our fuzzer detected that `solc` may hang on some crafted sol files.

The root cause seems to lie at the call to `ReferencesResolver::endVisit` where it eventually calls `dev::bytesRequired<boost::multiprecision::number>`. At https://github.com/ethereum/solidity/blob/bf3682108048fd8646c0388f12ac0647df3099a3/libdevcore/CommonData.h#L184

it would take too long to break out the loop (I'm not familiar

[2018-08-03 13:40] chriseth commented on #4637
@spalladino I think that is just very redundant.

[2018-08-03 13:47] nventuro commented on #4637
This sounds like a very useful feature: see [this comment](https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1023#issuecomment-401479456) for a recent instance were OpenZeppelin could've benefited from it.

[2018-08-03 14:25] axic commented on #4673
Thank you! We'll have a look at it.

Any more issues found by fuzzing are more than welcome.

[2018-08-03 14:37] ekpyron commented on #4670
I updated  #4671 to allow assignments for local variables (this already works as verified by the added semantics test).

What remains is to allow returning mappings in internal functions and to verify that this works with semantics tests (I rechecked - allowing the returns syntactically alone will not result in the desired behaviour, so this will need some further investigation).

[2018-08-03 14:38] axic commented on #4673
This is running for minutes on my machine, it seems to be not caught by our checks for large values:
[code]

[2018-08-03 14:55] chriseth opened #4674 "Create peephole-like optimizer stage that applies Simplification rules"
The `RuleList.h` contains a list of simplification rules that can be applied to sequences (or rather expressions) of opcodes. Examples are simple arithmetics on constants or other simplifications that can be applied regardless of the context:

 - `push1 7 push1 8 add` is reduced to `push1 15`
 - `dup1 dup1 xor` which is reduced to `push1 0`

These rules are currently used in two places: The first

[2018-08-03 15:13] #4640 closed, assigned to nobody

[2018-08-03 15:16] axic commented on #4653
I think a project may be too much overhead (what are the columns? where to move? who moves?).

And if not creating its own project, what project to put them into?

Considering these two questions labels seem to be the least maintenance.

[2018-08-03 16:16] chriseth commented on #4506
Analysis of Etherscan source data only revealed 7 functions that return nested statically-sized arrays and none of them is called externally from anywhere. @axic @holiman

[2018-08-03 16:25] chriseth commented on #4579
I think we can guarantee the order of evaluation of operators of equal precedence, but the order of side-effecty expressions is not guaranteed.

[2018-08-03 16:28] axic opened #4675 "Add specific code coverage run through standard json interface (with optimisations)"

[2018-08-03 16:34] chriseth commented on #4596
While this is a good idea, most of the operations that could benefit from that are rather expensive so it is questionable whether such things would be used much, but as I said, still nice to have.

This probably requires #911 and perhaps even #869 to be really useful.

[2018-08-03 16:47] chriseth commented on #1618
#2296 needs a factory contract, this is basically the same thing without a factory contract, but yes, let's first focus on the other one.

[2018-08-03 16:48] chriseth commented on #1603
This is still pending, mostly because the stack representation of such types is not yet defined.

[2018-08-03 16:52] chriseth commented on #4613
Please do!

[2018-08-03 16:54] chriseth commented on #4614
Can you please be more specific about the impact on the AST?

Since the encoding of the input file is not specified ,this is hard to do, but I guess we could just always assume utf8.

[2018-08-03 17:06] axic commented on #1618
Do we agree to remove the clone binary functionality in 0.5.0 then?

One less unspecified feature to be maintained, so we can properly design it and reintroduce it.

[2018-08-03 17:13] randomnetcat commented on #4614
AST as generated by `0.4.25-develop.2018.8.3+commit.2c2d4c47.Linux.g++`:
[code]

[2018-08-03 17:30] #2916 closed, assigned to nobody

[2018-08-03 17:30] #3936 closed, assigned to nobody

[2018-08-03 17:30] #3937 closed, assigned to nobody

[2018-08-03 17:30] #3938 closed, assigned to nobody

[2018-08-03 18:09] chriseth commented on #4162
@nalepae we are really out of luck here.... You did use a 64 bit os, did you?

[2018-08-03 18:25] chriseth commented on #3971
@kingjerod this really looks like an issue in web3.js. Could you please provide a minimal example to reproduce this issue?

[2018-08-03 18:38] chriseth commented on #4610
I don't see how this can be done. We can just remove `latest` - the "default" version is a different setting and it is set to 0.4.24.

[2018-08-03 19:15] #1093 closed, assigned to ChrisChinchilla

[2018-08-03 19:17] chriseth commented on #3890
This was the pull request https://github.com/ethereum/solidity/pull/3929

[2018-08-03 19:19] chriseth commented on #411
This has been implemented in the remix static analyzer.

[2018-08-03 19:20] chriseth commented on #411
Perhaps to document here: The reason we did not add it to the compiler itself is because gas estimation can only be done after we have the final code and at that point, it is hard to generate an error or warning.

[2018-08-03 19:22] chriseth commented on #3060
Not really, because modifiers generate a block that surrounds the function.

[2018-08-03 19:22] #2087 closed, assigned to nobody

[2018-08-03 19:25] chriseth commented on #3672
@loredanacirstea the problem is that the scope of `channel_identifier` extends beyond the part after `_`, so it's slot cannot be really deleted. Of course there could be an optimization pass that detects that it is not really used anymore, but that's a different story.

[2018-08-03 19:27] chriseth commented on #4548
ok, sure!

[2018-08-03 19:34] chriseth commented on #4623
Note that the metadata is identical because the physical paths on the machine you compile from are irrelevant for the metadata, only the virtual directory structure (with `foo.sol` at the root and `bar/bar.sol` inside that) is visible.

As far as I understand the problem, this just looks like relative paths are not properly taken into account for `--allowed-paths`, so basically my proposal would b

[2018-08-03 19:39] chriseth commented on #3423
@axic recursive comment?

[2018-08-03 19:41] chriseth commented on #4601
We seem to have decided that during the meeting. So error it is?

[2018-08-03 20:32] frangio opened #4678 "Add option to output constructor bytecode by itself"
In order to allow for proxy-style contracts where the bytecode is not redeployed but instead ran via `delegatecall`, the constructor needs to be somehow extracted so that it can be stored on-chain in such a way that it can be invoked for every new instance. There is currently no easy way to extract this bytecode from the Solidity compiled contract because it uses `codecopy` (and `codesize`) to obt

[2018-08-04 04:32] hongxuchen opened #4679 "AddressSanitizer: NULL pointer read at TypeChecker.cpp:1041"
As of 20c65f9a, when feeding `solc` with some crafted inputs, Address Sanitizer reports a NULL pointer read error. When built without Address Sanitizer, it may lead to a segfault.

POC file (others are available [here](https://github.com/ntu-sec/pocs/tree/master/solidity-20c65f9a/crashes)):

[code]

Address Sanitizer output:
[code]

[2018-08-04 04:48] pieterhartel commented on #4614
The JSON style AST contains the position in the source text of the lexical items. These positions are also off because of the UTF-8 issue. (See example AST node below).

I am using the JSON style AST for program transformations on solidity contracts. This works fine if the source is in ASCII. If it is not, I have to convert it as a work around first (with iconv) loosing the special symbols. Since

[2018-08-04 05:05] pieterhartel commented on #4614
I have added a comment to the thread.

—pieter

[2018-08-04 06:38] hongxuchen commented on #4673
FYI, [here](https://github.com/ntu-sec/pocs/tree/master/solidity-20c65f9a/hangs) are some other files that may cause `solc` stuck. Some of the files took more than 12 hours.

[2018-08-04 12:11] hongxuchen opened #4680 "Stack overflow errors against some crafted lll files"
As of 20c65f9a, `lllc` may segfault on some crafted input files. And with Address Sanitizer, it reports stack overflow errors.

POC files:
https://raw.githubusercontent.com/ntu-sec/pocs/master/solidity-20c65f9a/crashes/lllc/so_01.lll
https://raw.githubusercontent.com/ntu-sec/pocs/master/solidity-20c65f9a/crashes/lllc/so_02.lll
https://raw.githubusercontent.com/ntu-sec/pocs/master/solidity-20c65f9a

[2018-08-04 12:36] axic commented on #4679
This can be reduced to any non-empty RHS tuple where the component count doesn't match the LHS:
[code]
or
[code]

[2018-08-04 12:37] axic commented on #4680
Thanks! Although I would suggest to reduce the amount of effort spent on LLL as it is not well maintained.

[2018-08-04 12:44] hongxuchen commented on #4679
Yep.

[2018-08-04 12:46] hongxuchen commented on #4680
No problem, I will not test this binary any more.

[2018-08-04 14:20] axic commented on #4679
Fixed in #4681.

[2018-08-04 15:29] axic commented on #4679
Sorry it is not merged yet.

[2018-08-04 15:35] hongxuchen commented on #4679
@axic  Sorry I only tested it against all my poc files but didn't notice that it wasn't merged.

[2018-08-04 16:16] vaibhavchellani commented on #4502
yes i am working on it , facing some issues

[2018-08-04 19:14] vutsalsinghal commented on #232
+1

[2018-08-04 20:23] randomnetcat commented on #232
Could this work like C++ does? As far as I am aware, C++ generates one function and just adds the missing ones to a call when a caller doesn't include all arguments.

[2018-08-05 13:49] axic commented on #4614
We do require UTF-8 at least in string literals.

I guess what could be improved is offering two source locations:
- actual byte offset
- character offset (parsed as UTF-8)

For the second, we would need to parse everything, including comments, as UTF-8 however I believe comments are not properly parsed at the moment.

[2018-08-05 15:47] sweetMegan commented on #3255
string name = "zhq";
    function compareString(string _name) view public returns(string){
       if(uint(keccak256(abi.encodePacked(name))) == uint(keccak256(abi.encodePacked(_name)))) {
           return "对 ";
       }else{
           return "不对";
       }
    }

[2018-08-06 01:26] lirycoac commented on #4666
@chriseth , Sorry for the delay. I've tried setting the compiler version in Solidity to 0.4.18 and it worked. Thanks!

[2018-08-06 01:26] #4666 closed, assigned to nobody

[2018-08-06 06:40] MoMannn opened #4683 "Unexpected behavior of abi.encodePacked"
So what I am trying to do is create a keccak256 of an array of structs. So I used `abi.encodePacked()` to encode my array of structs and everything worked but later when I did it on an single struct and I got an error: `This type cannot be encoded.`

I am using:

[code]

And I have this two structs:

    struct test1 {
        address addr1;
        address addr2;
    }

    struct test2 {

[2018-08-06 09:21] #4679 closed, assigned to nobody

[2018-08-06 09:44] #4291 closed, assigned to leonardoalt

[2018-08-06 09:44] #4292 closed, assigned to leonardoalt

[2018-08-06 09:45] chriseth opened #4686 "Add structs in events to the bug list"
- [x] come up with severity
 - [x] find earliest affected version
 - [ ] potentially find regular expression (will likely also match enums) #4841

Ref: https://github.com/ethereum/solidity/pull/4644#issuecomment-410233941

[2018-08-06 09:45] chriseth commented on #4291
Follow-up: https://github.com/ethereum/solidity/issues/4686

[2018-08-06 09:46] chriseth opened #4687 "Re-check structs in events with new encoder"
- [x] check indexed
 - [x] check non-indexed

I think indexed should be disallowed even with new encoder

[2018-08-06 09:46] chriseth commented on #4292
Follow-up: https://github.com/ethereum/solidity/issues/4687

[2018-08-06 10:19] christianparpart commented on #4541
Discussion result: Always require the same amount of return statement parameter components as the function signature's declaration mandates.

[2018-08-06 10:24] chriseth opened #4688 "stardard json does not resolve local paths"
From https://github.com/ethereum/solidity/pull/3918#issuecomment-382069303 :
[code]

[2018-08-06 10:27] chriseth commented on #4638
@christianparpart suggests alternative syntax to use `=`

[2018-08-06 11:27] ekpyron opened #4691 "JSON AST: remove ``is`` prefix, check for ``fallback``"
Came up in https://github.com/ethereum/solidity/pull/4663#discussion_r207832105

``isConstructor`` in the JSON AST should be changed to ``constructor``.
We should verify that fallback functions are in the AST.

[2018-08-06 11:38] axic commented on #4691
@soad003 this may need to be added into remix. Can you have a look?

[2018-08-06 13:05] chriseth commented on #232
Added to 0.5.1.

[2018-08-06 13:11] chriseth commented on #4678
I don't think that messing around with binaries is such a good idea, especially because it forces us to think about many different ways to use the compiler output. Would it be an option for you to modify the source code by deleting everything that is not needed at construction time and then use a delegatecall proxy in the fallback function?

[2018-08-06 13:42] chriseth commented on #4612
Note that we cannot download anything in the PPA build process, it has to be pre-supplied as we do with jsoncpp.

We can try to go more towards header-only boost if that is of any help, but to be honest, I don't see it being removed in the near future. We should also be careful not to replace this single big dependency we have by many tiny not so well tested dependencies.

[2018-08-06 13:57] chriseth commented on #4620
I think `//!` is a good idea (`///` interferes with natspec), but putting it in a line below is probably not too useful, especially with non-fixed-width fonts or tabs.

[2018-08-06 14:35] soad003 commented on #4691
@axic yes i use this property in one module. I could just check both properties for now, to avoid to much coordination. What do you think?

[2018-08-06 14:43] chriseth opened #4697 "Document initialization order of state variables"
Including inheritance.

[2018-08-06 14:50] axic commented on #4691
That would be great to check for both. Do you think this could be done within 2 weeks in Remix?

[2018-08-06 14:51] axic commented on #4612
`jsoncpp` isn't pre supplied as much as I know, it is downloaded by CMake.

[2018-08-06 14:55] axic opened #4698 "Compare output of solc (not via standard json) in bytecodecomparison"

[2018-08-06 15:12] PhABC commented on #4535
Would you also consider adding support for the following?

[code]

Also returns ; `Explicit type conversion not allowed from "bytes32" to "bytes storage pointer".`

[2018-08-06 15:31] chriseth commented on #4559
Inline-docs with triple-slash were used before to add why3 comments. We might re-enable that in the future, so it would be good if they could be retained in the ast export. The ASTJson converter should be able to put them into the export.

[2018-08-06 15:44] chriseth commented on #4652
@blargity unfortunately, ethfiddle does not work for me - something to do with user tracking, I think. Can you post the example code directly here, please?

Concerning `calldatacopy(add(free_ptr, 4), 68, sub(calldatasize, 68))` - note that the offset pointer for the dynamic `bytes` parameter has to change if you just remove an argument.

[2018-08-06 15:47] chriseth commented on #4614
I think it is fine to only work with byte offsets. What we could improve is the calculation of the `^--^` output - and note that tabs are a similar complication we should take into account, but perhaps first check what other compilers do.

[2018-08-06 16:26] axic opened #4700 "Run all end-to-end tests with ABIEncoderV2 too"

[2018-08-06 16:36] chriseth opened #4702 "[CLI] Relative paths result in different contracts"
Input:

A.sol:
[code]
B.sol:
[code]

`solc --metadata ./A.sol B.sol` results in:

[code]

[2018-08-06 16:49] chriseth commented on #4683
This should not be supported at all.

[2018-08-06 16:54] ekpyron commented on #4691
Currently, fallback functions just end up as functions with empty name - and actually that should be sufficient or do you think we need some explicit ``fallback`` field or something similar?

[2018-08-06 17:01] chriseth commented on #4612
the ppa_build script downloads it.

[2018-08-06 17:03] chriseth commented on #4535
@PhABC I fear this is out of scope here.

[2018-08-06 17:12] chriseth commented on #4698
The emscripten binary is covered. I'm not sure if `standard-json` is useful here, because that is rather an input format and it should never be platform-dependent, or at least it does not have to be tested on that many input files.

[2018-08-06 17:26] axic commented on #4691
I think better to have that, since we do have that internal helper and other the ABI has a specific flag too.

Then the consumer can assert that name must be empty if fallback is set, and if it isn't that means there was a breaking change.

Happy to take arguments against it.

[2018-08-06 17:30] chriseth opened #4704 "Document that abi.encode and abi.encodePacked can be used for concatenation"
Also for `bytes32 -> bytes` conversion.

[2018-08-06 17:47] axic commented on #4612
Into the location cmake expects it?

[2018-08-06 17:48] axic commented on #4612
Yeah, in `scripts/release_ppa.sh`. So boost could work the very same way.

[2018-08-06 18:05] ekpyron commented on #4691
Well, the reason for removing ``constant``/``isDeclaredConstant`` and ``payable`` was to remove redundancy and strictly speaking a fallback field would be redundant as well, so that might be an argument against it... Are there any other redundant fields in the AST? We probably don't have to avoid redundancy at all cost, though.

An argument *for* having the field would be that ``name`` is also emp

[2018-08-06 18:11] axic commented on #4691
Or: have a `kind` field with `fallback`, `constructor` or `function` (mirroring what is in the ABI JSON).

[2018-08-06 18:17] axic commented on #4691
This `kind` option might be better if we consider the split of fallback into 2.

[2018-08-06 18:19] ekpyron commented on #4691
Unfortunately, such a field would somewhat depend on the decision in #3198. I like the ``kind`` field, but for now I would just use ``fallback`` as one kind and rely on the ``payable`` field for further distinction.

[2018-08-06 18:45] axic commented on #4691
I mean having a `kind` (or `type` is full compatibility with the ABI JSON is wanted) would put is into a forward compatible place: if we decide to split fallback into 2, we wouldn't need to add a new filed and deprecate the current ones. (I do think the split is agreed to, just we do not know how to name them.)

[2018-08-06 20:18] kingjerod commented on #3971
It is possible, I don't know what library Remix/Etherscan are using. I created this contract for you:

https://rinkeby.etherscan.io/address/0xc431b94051b1ec1a454bc427ddc5ff87fd6a69d1#code

I added two people, with names "test" and "earth". If I try to look up a name that does not exist like "bob" it returns this
`"0": "uint256: personId 3963877391197344453575983046348115674221700746820753546331534

[2018-08-06 20:47] axic commented on #1210
Can confirm the index is available as "keyword index" on the left: http://solidity.readthedocs.io/en/develop/genindex.html

[2018-08-06 20:47] #1210 closed, assigned to nobody

[2018-08-06 20:58] axic commented on #3971
Note, that Remix uses a browser-based VM which makes it possible to exactly tell if a transaction resulted in a revert or not. On a real chain, `getTransactionReceipt` can only tell if it is was a successful or a failing transaction.

The client then needs to figure out if it was a revert (one heuristic is to check if not all gas was used on a failing transaction) and decode the revert data approp

[2018-08-06 21:04] mattaereal opened #4705 "Crash when trying to declare an already declared variable with the same name"
_This issue is being reported as part of the current audit being held by Zeppelin Solutions to Solidity's compiler (tag v0.4.24)._

## Description

The parser does not detect a previously declared variable when declaring a new one, while using an experimental `pragma`.

## Error in file

Tried to activate a non-inactive variable or multiple inactive variables with the same name.
`libsolidity/analy

[2018-08-06 21:04] mattaereal opened #4706 "Crash when converting signed rational using ABIEncoderV2"
_This issue is being reported as part of the current audit being held by Zeppelin Solutions to Solidity's compiler (tag v0.4.24)._

## Description
Compiler crashes on the assembly code generation when using `pragma experimental ABIEncoderv2` to encode a signed rational.

## Error in file
`libsolidity/codegen/CompilerContext.cpp(368)`

## Displayed message

[code]

## Example code

[code]

[2018-08-06 21:04] mattaereal opened #4707 "Crash when accessing empty name variable slot"
_This issue is being reported as part of the current audit being held by Zeppelin Solutions to Solidity's compiler (tag v0.4.24)._

## Description
The parser does not detect the usage of a `_slot` syntax on an empty variable name.

## Error in file
Attempt to resolve empty name
`libsolidity/analysis/DeclarationContainer.cpp(128)`

## Displayed message
`Throw in function std::vector<const dev::soli

[2018-08-06 21:04] mattaereal opened #4708 "Crash when type not set for parameter return value"
_This issue is being reported as part of the current audit being held by Zeppelin Solutions to Solidity's compiler (tag v0.4.24)._

## Description
The parser fails to recognize the return variable is missing its type on variable declaration of the type of a nameless function.

## Error in file
Type not set for return parameter.
`libsolidity/analysis/ReferencesResolver.cpp(187)`

## Displayed messa

[2018-08-06 21:04] mattaereal opened #4709 "Crash when type not set for parameter function value"
_This issue is being reported as part of the current audit being held by Zeppelin Solutions to Solidity's compiler (tag v0.4.24)._

## Description
The parser fails to recognize that a variable is missing its type in the function’s parameters when defining a variable of an array of nameless functions.

## Error in file
Type not set for parameter.
`libsolidity/ast/Types.cpp(2387)`

## Displayed mess

[2018-08-06 21:05] mattaereal opened #4710 "Crash when accessing a _slot of a function in assembly block"
_This issue is being reported as part of the current audit being held by Zeppelin Solutions to Solidity's compiler (tag v0.4.24)._

## Description
The visit method fails when accessing the `_slot` of a function inside an assembly block of the same function.

## Error in file
Empty message.
`libsolidity/codegen/ContractCompiler.cpp(534)`

## Displayed message
`Throw in function dev::solidity::Contr

[2018-08-06 21:05] mattaereal opened #4711 "Crash when calling a non callable type on a non primitive type double assignment"
_This issue is being reported as part of the current audit being held by Zeppelin Solutions to Solidity's compiler (tag v0.4.24)._

## Description
Compiler crashes when a non callable type (`int`, `uint`, `struct`, etc) is used outside a double assignment involving structs.

## Error in file
Empty message.
`libsolidity/analysis/TypeChecker.cpp(531)`

## Displayed message
`Throw in function void de

[2018-08-06 21:05] mattaereal opened #4712 "Crash when using assembly jump instruction inside a constructor or function with same name as contract"
_This issue is being reported as part of the current audit being held by Zeppelin Solutions to Solidity's compiler (tag v0.4.24)._

## Description
Apparently, the code generation fails when there is a `jump` instruction inside an assembly block that is inside a function with the same name as the contract or a constructor.

## Error in file
Empty message.
`libsolidity/codegen/ContractCompiler.cpp(5

[2018-08-06 21:05] mattaereal opened #4713 "Crash when declaring external function with array of struct that possesses arrays"
_This issue is being reported as part of the current audit being held by Zeppelin Solutions to Solidity's compiler (tag v0.4.24)._

## Description
Compiler crashes using `pragma experimental ABIEncoderV2`, when an array of structs that is composed by one or more arrays is used as a parameter on an external function of a library.

## Error in file
Empty message.
`libsolidity/codegen/ABIFunctions.cp

[2018-08-06 21:05] mattaereal opened #4714 "Crash when using struct as external function parameter using ABIEncoderV2"
_This issue is being reported as part of the current audit being held by Zeppelin Solutions to Solidity's compiler (tag v0.4.24)._

## Description
Compiler crashes when using a struct as a parameter for an `external` function, with `pragma experimental ABIEncoderv2`.

## Error in file
Empty message.
`libsolidity/codegen/ABIFunctions.cpp(1268)`

## Displayed message
Unimplemented feature.
`Throw in

[2018-08-06 21:05] mattaereal opened #4715 "Crash when converting fixed point type using ABIEncoderV2"
_This issue is being reported as part of the current audit being held by Zeppelin Solutions to Solidity's compiler (tag v0.4.24)._

## Description
Compiler crashes on the assembly code generation when using `pragma experimental ABIEncoderv2` to encode a fixed point type.

## Error in file
Not yet implemented - FixedPointType.
`libsolidity/codegen/ABIFunctions.cpp(291)`

## Displayed message
Unimpl

[2018-08-06 21:05] mattaereal opened #4716 "Crash when array index value is too large"
_This issue is being reported as part of the current audit being held by Zeppelin Solutions to Solidity's compiler (tag v0.4.24)._

## Description
Compiler crashes when a rational type over 78 digits is present as an array index.

## Error in file
Integer constant too large.
`libsolidity/ast/Types.cpp(1144)`

## Displayed message
`Throw in function virtual dev::u256 dev::solidity::RationalNumberTy

[2018-08-06 21:05] mattaereal opened #4717 "High CPU usage on conversion between numeric literal and others"
_This issue is being reported as part of the current audit being held by Zeppelin Solutions to Solidity's compiler (tag v0.4.24)._

## Description
Use of numeric literal values increases compile time and CPU usage, with a higher delay when bigger, being `0e2147399999` the highest possible. Compiling may take up to several days and more.

## Example codes

[code]

[code]

[code]

This following cas

[2018-08-06 21:05] mattaereal opened #4718 "High CPU usage when using large variable names"
_This issue is being reported as part of the current audit being held by Zeppelin Solutions to Solidity's compiler (tag v0.4.24)._

## Description
Compile time is increased upon using large variable names, with an apparent bigger latency when the larger and similar are the variables in use. Compiling may take up to several days or more.

## Example code
 (it's truncated, [complete here](https://gi

[2018-08-06 22:52] axic commented on #4716
No longer a problem in develop (0.5.0):
[code]

[2018-08-06 22:54] axic commented on #4716
Hm, also with 0.4.24+commit.e67f0147.Emscripten.clang in Remix I get the same result.

[2018-08-06 22:56] mattaereal commented on #4716
Let me check again. Something must've happened when I minimized the test code.

[2018-08-06 22:56] axic commented on #4710
This is still failing in develop:
[code]

[2018-08-06 22:58] axic commented on #4715
Yes, this exists, there are a couple of other places with unimplemented-feature assertions for FixedPoint types and it would be nicer to catch them in the TypeChecker.

[2018-08-06 22:59] mattaereal commented on #4716
Updated with working example. I was missing digits it seems.

[2018-08-06 22:59] axic commented on #4714
In this form this is now longer allowed in 0.5.0:
[code]

Adding a member (`uint a;`) to the struct still produces the unimplemented feature exception:
[code]

[2018-08-06 23:01] axic commented on #4714
The problem here is that `calldata` encoding for structs isn't defined yet in the encoder and `external` forces that. Using `public` will make it work because then it is handled internally as encoding from memory.

There must be an issue tracking this already.

[2018-08-06 23:02] axic commented on #4716
Yes, the updated example still produces the same problem on develop.

[2018-08-06 23:03] mattaereal commented on #4714
#1603 ?

[2018-08-06 23:03] axic commented on #4706
This is still a problem. The full debug log:
[code]

[2018-08-06 23:06] axic commented on #4705
Can be reproduced in 0.4.24, but no longer happening in develop:
[code]

The were some scoping cleanups, which probably fixed it.

[2018-08-06 23:07] axic commented on #4707
Still reproducible:
[code]

[2018-08-06 23:08] mattaereal commented on #4706
Yeah, I trimmed the output because it was very big and did not want to shadow the rest of the description.

[2018-08-06 23:08] axic commented on #4708
Confirmed in 0.4.24, but no longer happens on develop:
[code]
[code]

[2018-08-06 23:11] axic commented on #4709
Reproducible in 0.4.24, but no longer happens on develop:
[code]

[2018-08-06 23:12] axic commented on #4711
Reproducible in 0.4.24 and still happens in develop:
[code]

[2018-08-06 23:13] axic commented on #4712
Reproducible in 0.4.24, but no longer in develop because support for `jump` has been removed:
[code]

[2018-08-06 23:15] axic commented on #4713
Reproducible in 0.4.24 and still happens on develop (albeit has a nicer message):
[code]

[2018-08-06 23:16] axic commented on #4717
I think this kind of duplicates #4673.

[2018-08-06 23:17] axic commented on #4718
Is this an actual example - did 0.4.24 just assume dot as part of the identifier?

On develop it is not no longer accepted:
[code]

[2018-08-06 23:20] mattaereal commented on #4718
Oh, let me get the reproducible example. I truncated it because it was larger.

[2018-08-06 23:26] mattaereal commented on #4718
Updated.

[2018-08-06 23:54] axic commented on #4718
This "hangs" on:
[code]

[2018-08-07 00:03] thekevinbrown commented on #4652
No worries, and thanks for your help.

The code that's not working for me with `call` is:

[code]

On the `calldatacopy`, here was my (probably flawed) logic:

Function selector (4 bytes) + contractRecipient `address` (32 bytes) + value `uint` (32 bytes) = 68 byte offset from `calldata` that we got called with. Copy whatever we got sent from that offset and pass it on as it'd already be correctly

[2018-08-07 00:06] kingjerod commented on #3971
That makes sense. Bummer the clients seem slow to adopt the new features.

[2018-08-07 00:09] mattaereal commented on #4717
I haven't checked in depth where the hang occurs, but comparing to their issue, this test cases are minimized, more specific, like the topic. Maybe commentaries?

[2018-08-07 00:12] raphael-s-norwitz commented on #3890
I was one of the students in the group.

I don't think we ever got all of cmdlineTests.sh to run in 7 seconds. From what I recall, we focused on the compile time of the various other contracts and libraries (corion, gnosos, zeppelin...etc) and the examples from the documentation. I just pulled the code twice in two separate directories and it seems it still takes about 26 seconds to build the othe

[2018-08-07 00:17] axic commented on #3971
@ChrisChinchilla maybe you want to document this based on my last comment.

[2018-08-07 01:31] #4628 closed, assigned to nobody

[2018-08-07 05:02] sunbeomso opened #4721 "Referenced functions can be always determined at compile time in Solidity?"
**A question in one sentence:**
Regarding function call expressions in Solidity, can we always statically determine which functions will be invoked at compile time(not at runtime)?

**Example Code:**

[code]
Considering features in Java programs, _**it seems that, at compile time, we cannot determine**_ whether the “set” function, invoked in the "test" function in contract C, is a member function

[2018-08-07 09:18] chriseth commented on #3890
Ok this is weird - could you tell us more about your setup? Which compiler do you use, which platform, how do you compile and how exactly do you invoke the compiler?

[2018-08-07 09:57] Jessetl opened #4723 "investment logic must be created"
hello, I have a little doubt the cost of the tokens can be created per phase and should be written in the smart contract

[2018-08-07 10:03] axic commented on #4723
This question is better to be asked on https://ethereum.stackexchange.com

[2018-08-07 10:03] #4723 closed, assigned to nobody

[2018-08-07 10:34] chriseth commented on #4710
The fix is to disallow it (`x_slot` should only work if `x` is a storage variable).

[2018-08-07 10:40] chriseth commented on #4716
The two functions `RationalNumberType::literalValue` and `RationalNumberType::integerType()` should work in tandem - `intergerType()` (called from `mobileType()`) is called first, and if it returns a null pointer, `literalValue()` should not be called, but somehow it is.

[2018-08-07 10:41] chriseth commented on #4714
@mattaereal yes, this is basically the unticked box in #1603

[2018-08-07 10:42] #4705 closed, assigned to nobody

[2018-08-07 11:00] #1618 closed, assigned to chriseth

[2018-08-07 11:02] #4708 closed, assigned to nobody

[2018-08-07 11:03] #4709 closed, assigned to nobody

[2018-08-07 11:08] chriseth opened #4727 "Remove all instances of `fillRight`"
Tuple assignments cannot allow wildcards anymore, so filling is not performed, but we still use that logic in the type checker and possibly other places.

Maybe related to https://github.com/ethereum/solidity/issues/4711

[2018-08-07 11:08] #4712 closed, assigned to nobody

[2018-08-07 11:17] chriseth commented on #4718
Proposed fix: Inside `stringWithinDistance`, only call `stringDistance` if `n1 * n2` is smaller than some threshold - to be determined by testing, it should be "very fast".

Remark: The best known upper bound for calculating the edit distance is quadratic and it is probably fine to not report similar strings if they are long.

[2018-08-07 11:23] chriseth commented on #4652
The code above works for me. In which way is it failing for you? Can you provide a debug trace?

There is a pointer from the static part to the dynamic part. The static part is: `(address, uint256, bytes_pointer)` The pointer is the offset from the start of the dynamic part relative to the start of the static part. This means if you shorten the static part, you also have to subtract this length fr

[2018-08-07 11:25] chriseth commented on #4717
The first three cases are just weird ways to express `0` - @ekpyron you worked on that bug, didn't you?

[2018-08-07 11:25] chriseth commented on #4717
The fourth might be new.

[2018-08-07 11:27] chriseth commented on #2340
@ekpyron can't we do that now?

[2018-08-07 11:28] chriseth commented on #2340
Added to 0.5.1 queue.

[2018-08-07 11:31] chriseth commented on #4721
`referencedDeclaration` is the declaration the compiler will use to call `set` as far as type checking and so on is concerned. This does not mean that it will be the function that is actually executed in the end, but it just means that `a` is of type `A` and so `a.set` is `A.set`.

In general, it is impossible to determine which function will be called, even for internal functions, because of func

[2018-08-07 11:41] chfast commented on #4612
I'm not sure this is any help here, but it would help with static/dynamic linking issue (because there is not going to be any linking any more).

- regex can be replaced with `std::regex`.
- program_options can be replaced with `CLI11` library.
- filesystem, if needed, will be hard to replace. The easiest probably would be use `std::filesystem` from C++17.

[2018-08-07 11:47] #3968 closed, assigned to nobody

[2018-08-07 11:49] axic opened #4728 "Review the "Conventions in Solidity" section in the Assembly documentation"
This section could have a good review since it was incrementally expanded: https://solidity.readthedocs.io/en/v0.4.24/assembly.html#conventions-in-solidity

There is another section in the documentation listing the memory layout, could reference it too.

[2018-08-07 11:55] #4707 closed, assigned to nobody

[2018-08-07 12:04] ekpyron commented on #2340
@chriseth Yes, that's possible with the control flow graph in most cases - it would work in the example above. But it's a non-breaking change, so I agree to put it into 0.5.1.

[2018-08-07 12:11] ekpyron commented on #4717
Yes, the ``0E*`` cases should be fixed in current develop.

It seems that in connection with fixed point types there's a few issues left, though - that case is probably a duplicate of #4673, though.

[2018-08-07 12:13] axic commented on #4717
Just checked, the first 3 cases are not slow anymore on develop.

[2018-08-07 12:22] chriseth commented on #4612
In this case, I would prefer to stay with boost and perhaps upgrade it manually.

[2018-08-07 12:28] axic commented on #4087
I am working on this now.

[2018-08-07 12:40] ekpyron opened #4730 "Overhaul boost test setup/initialization."
Came up in #4589.
We seem to use deprecated/obsolete boost features for the test initialization and we may be able to define a custom ``main`` both for shared and static builds.

[2018-08-07 12:49] ekpyron commented on #4730
A custom ``main`` in static boost seems to require a custom built boost: https://live.boost.org/doc/libs/1_68_0/libs/test/doc/html/boost_test/adv_scenarios/static_lib_customizations/entry_point.html
So it's probably not a good idea.

[2018-08-07 12:50] ekpyron commented on #4612
We can re-evaluate the "drop boost altogether" question when we can require ``C++17`` as minimum requirement - which will probably only be in a years from now or so anyways :).
Still I'd vote for bumping the minimum required boost version regularly, since in my experience maintaining backwards compatibility with a larger range of boost versions is an ever increasing hassle.

[2018-08-07 12:55] ekpyron commented on #4128
#4696 is another case that would have highly benefited from this.

[2018-08-07 13:15] axic commented on #4612
This issue should really only be about using a newer version of boost as a minimum 😉

[2018-08-07 13:16] #4710 closed, assigned to axic

[2018-08-07 13:24] axic opened #4732 "Ensure that escapeIdentifier doesn't create invalid identifiers"
It could be an assertion and and more test cases in `test/libsolidity/SolidityTypes.cpp`

[2018-08-07 13:25] #4706 closed, assigned to axic

[2018-08-07 13:28] axic opened #4733 "Allow structs in interfaces"
Split from #4087.

[2018-08-07 13:33] ekpyron commented on #4691
My last comment was ill-written - I meant to say: adding a ``kind`` field even now is a good idea, but I would use a single entry for both fallback types, i.e. ``fallback`` for payable and non-payable fallbacks (they are still distinguishable by the ``payable`` field). After naming in #3198 is decided, we can change into two names (or not).

[2018-08-07 13:57] ekpyron commented on #4691
I created PR #4734 for the ``kind`` field.

However, I noticed that the ``is`` prefix is used for in quite a few non-tested cases, which first suggests that we need more extensive tests and secondly we need to decide whether to change all of them.

They are:
  -  ``isInlineArray`` for tuple expressions
  - ``isConstant`` for expressions
  - ``isPure`` for expressions
  - ``isLValue`` for expressio

[2018-08-07 14:14] #4667 closed, assigned to christianparpart

[2018-08-07 15:20] chriseth commented on #4087
Documentation change is missing.

[2018-08-07 15:31] ekpyron opened #4735 "Deal with potential non-determinism in SMT checker tests."
The results of the SMT checker tests may depend on the enabled solvers and (worse) on the available CPU power.

For the former problem, having test expectations specific to solvers should be sufficient, but this still wouldn't solve the latter problem.

[2018-08-07 16:01] ekpyron commented on #4638
I'm actually still not entirely clear about why this is necessarily breaking.

[2018-08-07 16:57] vs77bb commented on #4066
@davidbanu Are you still working here? Would appreciate an update 🙂

[2018-08-07 17:02] davidbanu commented on #4066
@vs77bb, still working on it. I was thinking to respond with the PR. So this is why I was silent.

[2018-08-07 18:00] eternauta1337 opened #4739 "Capped content in the documentation."
Some UI elements in the documentation are very hard to read because the css styles cap the width of the content area to 800px.

Examples:
* [the list of low level Yul functions](https://solidity.readthedocs.io/en/v0.4.24/julia.html#low-level-functions)
* [embedded json files](https://solidity.readthedocs.io/en/v0.4.24/using-the-compiler.html#input-description)
* [embedded code snippets](https://so

[2018-08-07 19:08] axic commented on #4691
Actually I would prefer to drop support for the legacy AST (hoped that we could do it in 0.5.0, but didn't make any sense, hence it is too late).

[2018-08-07 19:09] randomnetcat commented on #4716
On develop, TypeChecker.cpp line 2098

[2018-08-07 19:25] chriseth opened #4741 "Referenced source is truncated too much"
For a source line of
[code]
the source reference in the error is truncated to
[code]

It should show way more context.

The relevant file is `SourceReferenceFormatter.cpp`

[2018-08-07 19:29] ekpyron commented on #4691
Ok - but since we can't drop it now, should we rather apply changes like this one to both ASTs or leave the legacy AST unchanged? Actually, for what reason is the legacy AST still there? Because of external projects depending on it, I guess?

[2018-08-07 19:31] axic commented on #4691
I don't think there was any assessment done yet about the users of it, but I think Remix still uses - @soad003 can you please correct me if I'm wrong?

Minimising the number of changes made to the legacy is fine as long as it doesn't require way too much work from our side.

I think for 0.5.0 we should just make a decision on this single PR and do an overhaul after. I'm leaning towards using kind/

[2018-08-07 19:35] chriseth opened #4743 "Incorrect source location for nameless parameters"
Function parameters without name have an incorrect source location. The source location of the parameter here is the following:
[code]
while it should be
[code]

[2018-08-07 19:38] ekpyron commented on #4691
I agree - I think we should just merge #4734 for now (which removes ``isConstructor`` and adds ``kind``). But changing #4734, so that it only affects the new AST and the legacy AST stays the same, is trivial, so I'll just do that (I'll use a separate commit, so we still have both options, in case anyone comes up with arguments for either option).

[2018-08-07 19:50] ekpyron commented on #4691
I just adjusted #4734. If we still want to do the change in both ASTs, we can just remove the last commit from it.

[2018-08-07 19:52] ekpyron commented on #4691
An argument for changing it in both ASTs would be that we did the same for ``constant`` and ``payable`` as well.

[2018-08-07 20:00] axic commented on #4168
As a note, in the language they are indeed considered clashing:
[code]

[code]

The naive change is to include `indexed` as part of the selector hash. This would mean that any event not containing indexed arguments would be unaffected, but those which do, would break fully.

[2018-08-07 20:13] abandeali1 opened #4746 "Incorrect return value for byte array constructed using inline assembly"
## Description

When manually constructing + returning a byte array, the incorrect value is being returned.

## Environment

- Compiler version: 0.4.24 (tested with and without ABIEncoderV2)
- Framework/IDE (e.g. Truffle or Remix): Remix
- EVM execution environment / backend / blockchain client: Javascript VM
- Operating system:

## Steps to Reproduce

[code]

If we call `abiEncode(1, 2)`, the exp

[2018-08-07 20:15] axic commented on #2731
I suggest that we sort it deterministically as follows: lexicographic sorting by the values of the following keys:
- type
- name
- inputs
- outputs

That means the usual order will be something like:
- constructor
- event(address, address)
- event(uint, address)
- fallback
- function(address, address)
- function(uint, address)

The sorting should be added in the `ABI::generate` method [here](https

[2018-08-07 20:18] axic commented on #4746
You need to increment the free memory pointer, otherwise the compiler can reuse the memory.

Better yet I suggest to allocate memory via Solidity and not inline assembly, such as:
[code]

[2018-08-07 20:19] #4746 closed, assigned to nobody

[2018-08-07 20:19] axic commented on #4746
Please comment if that doesn't solve the problem.

[2018-08-07 20:23] abandeali1 commented on #4746
Sorry, I forgot to add that adding `mstore(0x40, add(data, 0x60))` did fix the issue.

I'm wondering where the memory is actually being reused in this example though? Maybe it just needs to be documented better, but it didn't seem like anything should be overwritten here.

[2018-08-07 20:24] #3049 closed, assigned to chriseth

[2018-08-07 20:27] axic commented on #4746
The ABI encoding process (added in by the compiler after your function finishes) will definitely use some memory.

[2018-08-07 20:30] #4567 closed, assigned to nobody

[2018-08-07 21:02] raphael-s-norwitz commented on #3890
Sure. For `gcc -v` I get the following output:

[code]
As for my setup I'm running Ubuntu 16.04 on a X86_64 machine (an HP Spectre laptop). Any other details you'd like?

Here's what I do to get the benchmark:

For compiling in Debug:

1. create a new directory
2. Navigate to that directory clone the repo
3. Follow the instructions on the build readme:
`mkdir build && cd build`
`cmake .. && make`

[2018-08-07 21:20] frangio commented on #4168
@axic That's true but shouldn't the same happen with derived contracts? This compiles without warnings:

[code]

[2018-08-07 22:21] axic opened #4750 "Add end-to-end test for block.gaslimit, msg.gas, msg.gasprice and blockhash"
These are currently not covered.

[2018-08-07 22:33] axic commented on #4168
I think that is a distinct bug. In a lot of cases `indexed` was not handled correctly, probably this has the same root. Can you create an issue for it?

The proper review how inheritance should work will be done during the "inheritance review" after 0.5.0.

[2018-08-08 00:33] mattaereal opened #4751 "Missing return statement on functions do not issue an error"
_This issue is being reported as part of the current audit being held by Zeppelin Solutions to Solidity's compiler (tag v0.4.24)._

## Description
When a function is declared with a `return` parameter, but the function body has no `return` statement, the compiler does not show an error nor warns the user about this.

## Environment
- Compiler version: v0.4.24

## Steps to Reproduce
[code]
## Relat

[2018-08-08 01:57] mattaereal commented on #4591
Hi @Blackening999, the limit itself is on how many assignments are made inside one mapping, or through different mappings?

If you could add some code that'd be wonderful.

[2018-08-08 06:56] mattaereal opened #4752 "Replace boost::lexical_cast<std::string> to std::to_string for fundamental types"
## Description
When C++11 is enabled, std::to_string should be used. Also, it improves readability.

[2018-08-08 07:50] Blackening999 commented on #4591
Well, I can't as the code is under NDA. It's easy to reproduce by putting as much assignments as possible and see when it breaks. We also starting thinking of that too complex contracts might not work as well, not just because of number of assignments

[2018-08-08 08:14] soad003 commented on #4691
@axic yes I still use the legacy AST, are there any resources concerning the new ast (what changed, etc.)? Such that i can at least judge how much effort it would be to switch. But i kind of suspect that it is to much for me to handle at the moment. But i am happy to give it a look.

[2018-08-08 08:38] codeandgraphics commented on #4591
I'm working with @Blackening999 on this contract, so this issue in fact is not about limit of assignments, it's about huge contract size, mappings limit is just a symptom.
Seems like this issue can be closed

[2018-08-08 08:53] #4591 closed, assigned to nobody

[2018-08-08 10:27] #4711 closed, assigned to nobody

[2018-08-08 10:27] #4727 closed, assigned to ekpyron

[2018-08-08 10:46] axic opened #4755 "Drop the constant and payable keywords from the ABI"
This was originally part of #2502.

Both `constant` and `payable` are replaced with `stateMutability` which has been added close to a year ago.

[2018-08-08 10:47] axic commented on #2502
The function part is done, created #4755 to track the ABI part.

[2018-08-08 10:47] #2502 closed, assigned to ekpyron

[2018-08-08 10:48] chriseth opened #4756 "Split "movable" into "side-effect-free" and "context-independent""
The simplification rule `div(X, 0) -> 0` removes `X` and thus in the yul optimizer, `X` is required to be movable. Movable currently means "side-effect-free" and "context-independent". `calldataload` for example is movable, but `keccak256` is not.

If simplification rules only delete subexpressions (as opposed to moving them or unifying them like in `and(X, X) -> X`), it is sufficient to require c

[2018-08-08 10:49] axic opened #4757 "Remove 050 from ast/ExperimentalFeatures"

[2018-08-08 10:50] #4732 closed, assigned to nobody

[2018-08-08 10:56] #4087 closed, assigned to axic

[2018-08-08 10:56] ekpyron opened #4758 "Document changes between legacy and new JSON AST + add more extensive tests."
Came up in #4691.

The JSON ASTs seem to be scarcely documented in general. Also the test coverage at the moment is far from extensive.

[2018-08-08 11:01] ekpyron commented on #4691
@soad003 I don't think the JSON ASTs are all that well documented. I created issue #4758 for that. There is some examples of both legacy and new ASTs in https://github.com/ethereum/solidity/tree/develop/test/libsolidity/ASTJSON, but I think so far they are far from extensive. So I think it probably makes more sense for you to only look into it after we extended documentation and tests - that proba

[2018-08-08 11:57] axic opened #4759 "Replace -fvisibility-hidden with CMake options"
See https://stackoverflow.com/questions/17080869/what-is-the-cmake-equivalent-to-gcc-fvisibility-hidden-when-controlling-the-e/31157258#31157258

Came up in https://github.com/ethereum/solidity/pull/4528/files#r208542520

[2018-08-08 11:59] ekpyron commented on #4759
Not sure whether ``<LANG>_VISIBILITY_PRESET`` will work here. ``<LANG>`` would be ``CXX`` both for emscripten and gcc/clang/MSVC builds, wouldn't it?

[2018-08-08 12:00] axic commented on #4759
I think it shouldn't be an emscripten specific option. I kind of have the feeling it shouldn't be turned on at all, since we do not have the proper attributes set on exported functions.

[2018-08-08 12:03] chriseth commented on #4751
Note that this behaviour is on purpose. There is a warning as soon as the return parameter has a name. I still put it up for discussion. There might be a duplicate, though.

[2018-08-08 12:03] ekpyron commented on #4759
That may be - we should investigate this in more detail - I added this to ``0.5.1``, though, since the current workarounds seem to work and therefore I would say it's not "urgent".

[2018-08-08 12:18] ekpyron commented on #4751
We could use the control flow analysis to warn (or even raise an error, although that may be too much), if there is any code path that leaves any return value unassigned - that would work for both named and unnamed return values. I think it's a good idea.

We should think about patterns like in https://github.com/ethereum/solidity/blob/42447a14ebc146dd3ff3034360e85bebe3f34ce6/test/compilationTests

[2018-08-08 12:19] chriseth opened #4760 "Use binary search in function dispatch routine"
For efficiency reasons, we might use binary search in the function dispatch routine if there are many functions. The correct point where we switch to binary search should be determined by a gas cost check.

The relevant function is `ContractCompiler::appendFunctionSelector`

[2018-08-08 12:24] axic commented on #4756
I had some work done on this previously, will try to push it.

[2018-08-08 12:26] axic commented on #4760
Duplicate of #4034.

[2018-08-08 12:29] ekpyron opened #4762 "Build failures with CVC4, e.g. on ArchLinux"
We have several independent reports about solidity failing to build against CVC4 on current Archlinux.

[2018-08-08 12:39] chriseth commented on #3890
Here are my numbers:
[code]

I assume the default build is Debug which explains the numbers by @raphael-s-norwitz . Since we run our tests and also do binary releases based on "RelWithDebInfo", I think this issue can be closed.

[2018-08-08 12:39] #3890 closed, assigned to leonardoalt

[2018-08-08 12:55] chriseth commented on #4760
Argh, I searched for "binary"...

[2018-08-08 12:55] #4760 closed, assigned to nobody

[2018-08-08 12:57] chriseth commented on #4401
Still needs https://github.com/ethereum/solidity/pull/4738

[2018-08-08 12:59] #4541 closed, assigned to ekpyron

[2018-08-08 12:59] axic commented on #4401
All of those are in the project. Do not see much point for this issue :)

[2018-08-08 13:06] chriseth commented on #4401
But the boxes are not all ticked!

[2018-08-08 13:06] chriseth commented on #4401
Ok, changed the list.

[2018-08-08 13:06] #4401 closed, assigned to nobody

[2018-08-08 13:13] axic commented on #4750
For `msg.gas` a possible way is:
[code]

`gaslimit` and `gasprice` may need some adjustments to the testing infrastructure (`ExecutionFramework`) to extract that detail.

[2018-08-08 13:21] axic commented on #3452
This is now blocked on first merging the appropriate solc-js PRs. Will do that next.

[2018-08-08 13:22] chriseth commented on #4162
Might be related to issue where the optimizer was not active although it was turned on in standard-json.

[2018-08-08 13:37] axic commented on #4653
Agreed on the weekly meeting to go with the label approach first.

[2018-08-08 13:37] #4653 closed, assigned to nobody

[2018-08-08 13:46] soad003 commented on #4691
@ekpyron Thanks for creating the issue. It just skimmed through the examples really quick but it is hard parse the difference from there alone. As far as i could parse some field names changed e.g. children -> node, name (on node level) -> nodeType etc. And the new AST got rid of the nested attributes object, the properties are now included in the node itself. A high level description of the chang

[2018-08-08 13:57] #4757 closed, assigned to nobody

[2018-08-08 14:13] axic opened #4766 "Replace the "safety STOP" with an invalid instruction"
The assembler inserts a `STOP` instruction if there are subassemblies or auxiliary data after the instruction stream:
https://github.com/ethereum/solidity/blob/develop/libevmasm/Assembly.cpp#L621

It would probably be better to insert `INVALID` (0xfe) so that testing of the contract would discover miscompilation where the `STOP` previously acted as a way to counteract that (e.g. the compiler shoul